{
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "title": "Display & Video 360 API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        }
      }
    }
  },
  "revision": "20230817",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "name": "displayvideo",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "canonicalName": "Display Video",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "ownerName": "Google",
  "basePath": "",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "path": "media/{+resourceName}",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.` **Note**: Upload requests will not be successful without including `upload_type=media` query string.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleBytestreamMedia"
          },
          "id": "displayvideo.media.upload",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/media/{+resourceName}",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "parameters": {
            "resourceName": {
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "location": "path",
              "required": true,
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "flatPath": "media/{mediaId}"
        },
        "download": {
          "path": "download/{+resourceName}",
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "supportsMediaDownload": true,
          "parameters": {
            "resourceName": {
              "required": true,
              "type": "string",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "pattern": "^.*$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.` **Note**: Download requests will not be successful without including `alt=media` query string.",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "download/{downloadId}",
          "id": "displayvideo.media.download"
        }
      }
    },
    "sdfdownloadtasks": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/sdfdownloadtasks",
          "description": "Creates an SDF Download Task. Returns an Operation. An SDF Download Task is a long-running, asynchronous operation. The metadata type of this operation is SdfDownloadTaskMetadata. If the request is successful, the response type of the operation is SdfDownloadTask. The response will not include the download files, which must be retrieved with media.download. The state of operation can be retrieved with sdfdownloadtask.operations.get. Any errors can be found in the error.message. Note that error.details is expected to be empty.",
          "id": "displayvideo.sdfdownloadtasks.create",
          "flatPath": "v2/sdfdownloadtasks",
          "request": {
            "$ref": "CreateSdfDownloadTaskRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "displayvideo.sdfdownloadtasks.operations.get",
              "flatPath": "v2/sdfdownloadtasks/operations/{operationsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "pattern": "^sdfdownloadtasks/operations/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "description": "Gets the latest state of an asynchronous SDF download task operation. Clients should poll this method at intervals of 30 seconds.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    },
    "guaranteedOrders": {
      "methods": {
        "list": {
          "flatPath": "v2/guaranteedOrders",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListGuaranteedOrders` method. If not specified, the first page of results will be returned.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "location": "query",
              "type": "integer"
            },
            "partnerId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the partner that has access to the guaranteed order.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Allows filtering by guaranteed order fields. * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `guaranteed_order_id` * `exchange` * `display_name` * `status.entityStatus` Examples: * All active guaranteed orders: `status.entityStatus=\"ENTITY_STATUS_ACTIVE\"` * Guaranteed orders belonging to Google Ad Manager or Rubicon exchanges: `exchange=\"EXCHANGE_GOOGLE_AD_MANAGER\" OR exchange=\"EXCHANGE_RUBICON\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
            },
            "advertiserId": {
              "format": "int64",
              "description": "The ID of the advertiser that has access to the guaranteed order.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "displayvideo.guaranteedOrders.list",
          "description": "Lists guaranteed orders that are accessible to the current user. The order is defined by the order_by parameter. If a filter by entity_status is not specified, guaranteed orders with entity status `ENTITY_STATUS_ARCHIVED` will not be included in the results.",
          "parameterOrder": [],
          "path": "v2/guaranteedOrders",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListGuaranteedOrdersResponse"
          }
        },
        "patch": {
          "request": {
            "$ref": "GuaranteedOrder"
          },
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "parameters": {
            "advertiserId": {
              "description": "The ID of the advertiser that the request is being made within.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The mask to control which fields to update."
            },
            "partnerId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the partner that the request is being made within."
            },
            "guaranteedOrderId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Output only. The unique identifier of the guaranteed order. The guaranteed order IDs have the format `{exchange}-{legacy_guaranteed_order_id}`.",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Updates an existing guaranteed order. Returns the updated guaranteed order if successful.",
          "id": "displayvideo.guaranteedOrders.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/guaranteedOrders/{+guaranteedOrderId}",
          "flatPath": "v2/guaranteedOrders/{guaranteedOrdersId}"
        },
        "editGuaranteedOrderReadAccessors": {
          "description": "Edits read advertisers of a guaranteed order.",
          "path": "v2/guaranteedOrders/{+guaranteedOrderId}:editGuaranteedOrderReadAccessors",
          "response": {
            "$ref": "EditGuaranteedOrderReadAccessorsResponse"
          },
          "flatPath": "v2/guaranteedOrders/{guaranteedOrdersId}:editGuaranteedOrderReadAccessors",
          "parameters": {
            "guaranteedOrderId": {
              "required": true,
              "location": "path",
              "description": "Required. The ID of the guaranteed order to edit. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "request": {
            "$ref": "EditGuaranteedOrderReadAccessorsRequest"
          },
          "httpMethod": "POST",
          "id": "displayvideo.guaranteedOrders.editGuaranteedOrderReadAccessors",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "create": {
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "request": {
            "$ref": "GuaranteedOrder"
          },
          "path": "v2/guaranteedOrders",
          "description": "Creates a new guaranteed order. Returns the newly created guaranteed order if successful.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v2/guaranteedOrders",
          "id": "displayvideo.guaranteedOrders.create",
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "description": "The ID of the advertiser that the request is being made within.",
              "location": "query",
              "type": "string"
            },
            "partnerId": {
              "type": "string",
              "description": "The ID of the partner that the request is being made within.",
              "location": "query",
              "format": "int64"
            }
          }
        },
        "get": {
          "id": "displayvideo.guaranteedOrders.get",
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "flatPath": "v2/guaranteedOrders/{guaranteedOrdersId}",
          "httpMethod": "GET",
          "path": "v2/guaranteedOrders/{+guaranteedOrderId}",
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "description": "The ID of the advertiser that has access to the guaranteed order.",
              "location": "query",
              "type": "string"
            },
            "guaranteedOrderId": {
              "description": "Required. The ID of the guaranteed order to fetch. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            },
            "partnerId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the partner that has access to the guaranteed order.",
              "format": "int64"
            }
          },
          "description": "Gets a guaranteed order.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        }
      }
    },
    "targetingTypes": {
      "resources": {
        "targetingOptions": {
          "methods": {
            "list": {
              "id": "displayvideo.targetingTypes.targetingOptions.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListTargetingOptionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v2/targetingTypes/{targetingTypesId}/targetingOptions",
              "parameterOrder": [
                "targetingType"
              ],
              "description": "Lists targeting options of a given type.",
              "parameters": {
                "targetingType": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION"
                  ],
                  "description": "Required. The type of targeting option to be listed. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                  ]
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows filtering by targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `OR` logical operators. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `carrierAndIspDetails.type` * `geoRegionDetails.geoRegionType` * `targetingOptionId` Examples: * All `GEO REGION` targeting options that belong to sub type `GEO_REGION_TYPE_COUNTRY` or `GEO_REGION_TYPE_STATE`: `geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_COUNTRY\" OR geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_STATE\"` * All `CARRIER AND ISP` targeting options that belong to sub type `CARRIER_AND_ISP_TYPE_CARRIER`: `carrierAndIspDetails.type=\"CARRIER_AND_ISP_TYPE_CARRIER\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListTargetingOptions` method. If not specified, the first page of results will be returned.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "advertiserId": {
                  "description": "Required. The Advertiser this request is being made in the context of.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `targetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingOptionId desc`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v2/targetingTypes/{+targetingType}/targetingOptions"
            },
            "get": {
              "response": {
                "$ref": "TargetingOption"
              },
              "flatPath": "v2/targetingTypes/{targetingTypesId}/targetingOptions/{targetingOptionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Gets a single targeting option.",
              "id": "displayvideo.targetingTypes.targetingOptions.get",
              "httpMethod": "GET",
              "parameters": {
                "targetingType": {
                  "description": "Required. The type of targeting option to retrieve. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "pattern": "^[^/]+$",
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION"
                  ],
                  "location": "path",
                  "required": true,
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                  ],
                  "type": "string"
                },
                "targetingOptionId": {
                  "description": "Required. The ID of the of targeting option to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "advertiserId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The Advertiser this request is being made in the context of.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "targetingType",
                "targetingOptionId"
              ],
              "path": "v2/targetingTypes/{+targetingType}/targetingOptions/{+targetingOptionId}"
            },
            "search": {
              "response": {
                "$ref": "SearchTargetingOptionsResponse"
              },
              "description": "Searches for targeting options of a given type based on the given search terms.",
              "httpMethod": "POST",
              "flatPath": "v2/targetingTypes/{targetingTypesId}/targetingOptions:search",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v2/targetingTypes/{+targetingType}/targetingOptions:search",
              "request": {
                "$ref": "SearchTargetingOptionsRequest"
              },
              "parameterOrder": [
                "targetingType"
              ],
              "parameters": {
                "targetingType": {
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                  ],
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION"
                  ],
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Required. The type of targeting options to retrieve. Accepted values are: * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_BUSINESS_CHAIN`"
                }
              },
              "id": "displayvideo.targetingTypes.targetingOptions.search"
            }
          }
        }
      }
    },
    "partners": {
      "resources": {
        "targetingTypes": {
          "resources": {
            "assignedTargetingOptions": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.get",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "parameters": {
                    "partnerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "description": "Required. The ID of the partner."
                    },
                    "targetingType": {
                      "pattern": "^[^/]+$",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ],
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ]
                    },
                    "assignedTargetingOptionId": {
                      "description": "Required. An identifier unique to the targeting type in this partner that identifies the assigned targeting option being requested.",
                      "required": true,
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "description": "Gets a single targeting option assigned to a partner.",
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListPartnerAssignedTargetingOptionsResponse"
                  },
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedTargetingOptionId` Examples: * `AssignedTargetingOption` resource with ID 123456: `assignedTargetingOptionId=\"123456\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartnerAssignedTargetingOptions` method. If not specified, the first page of results will be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "targetingType": {
                      "pattern": "^[^/]+$",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ],
                      "required": true,
                      "description": "Required. Identifies the type of assigned targeting options to list. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "location": "path",
                      "type": "string",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ]
                    },
                    "partnerId": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the partner."
                    },
                    "orderBy": {
                      "description": "Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `assignedTargetingOptionId desc`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists the targeting options assigned to a partner.",
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "description": "Deletes an assigned targeting option from a partner.",
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "assignedTargetingOptionId": {
                      "type": "string",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "description": "Required. The ID of the assigned targeting option to delete."
                    },
                    "partnerId": {
                      "description": "Required. The ID of the partner.",
                      "required": true,
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "targetingType": {
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ],
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ],
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.create",
                  "request": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "parameters": {
                    "targetingType": {
                      "location": "path",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ],
                      "type": "string",
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ],
                      "pattern": "^[^/]+$",
                      "required": true
                    },
                    "partnerId": {
                      "description": "Required. The ID of the partner.",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "format": "int64"
                    }
                  },
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "description": "Assigns a targeting option to a partner. Returns the assigned targeting option if successful.",
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  }
                }
              }
            }
          }
        },
        "channels": {
          "methods": {
            "list": {
              "flatPath": "v2/partners/{partnersId}/channels",
              "description": "Lists channels for a partner or advertiser.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "filter": {
                  "description": "Allows filtering by channel fields. Supported syntax: * Filter expressions for channel can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All channels for which the display name contains \"google\": `displayName : \"google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `displayName desc`.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "advertiserId": {
                  "type": "string",
                  "description": "The ID of the advertiser that owns the channels.",
                  "location": "query",
                  "format": "int64"
                },
                "partnerId": {
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the partner that owns the channels.",
                  "required": true
                }
              },
              "path": "v2/partners/{+partnerId}/channels",
              "parameterOrder": [
                "partnerId"
              ],
              "id": "displayvideo.partners.channels.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListChannelsResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the fetched channel.",
                  "type": "string",
                  "location": "query"
                },
                "channelId": {
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the channel to fetch.",
                  "pattern": "^[^/]+$",
                  "location": "path"
                },
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "The ID of the partner that owns the fetched channel.",
                  "required": true
                }
              },
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "path": "v2/partners/{+partnerId}/channels/{+channelId}",
              "id": "displayvideo.partners.channels.get",
              "response": {
                "$ref": "Channel"
              },
              "flatPath": "v2/partners/{partnersId}/channels/{channelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Gets a channel for a partner or advertiser."
            },
            "patch": {
              "flatPath": "v2/partners/{partnersId}/channels/{channelId}",
              "parameters": {
                "channelId": {
                  "required": true,
                  "format": "int64",
                  "description": "Output only. The unique ID of the channel. Assigned by the system.",
                  "type": "string",
                  "location": "path"
                },
                "partnerId": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "The ID of the partner that owns the created channel.",
                  "required": true
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the created channel.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "response": {
                "$ref": "Channel"
              },
              "description": "Updates a channel. Returns the updated channel if successful.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Channel"
              },
              "path": "v2/partners/{+partnerId}/channels/{channelId}",
              "id": "displayvideo.partners.channels.patch"
            },
            "create": {
              "response": {
                "$ref": "Channel"
              },
              "flatPath": "v2/partners/{partnersId}/channels",
              "request": {
                "$ref": "Channel"
              },
              "description": "Creates a new channel. Returns the newly created channel if successful.",
              "id": "displayvideo.partners.channels.create",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the partner that owns the created channel.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true
                },
                "advertiserId": {
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v2/partners/{+partnerId}/channels",
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST"
            }
          },
[...]
