{
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "title": "Display & Video 360 API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "name": "displayvideo",
  "schemas": {
    "EnvironmentTargetingOptionDetails": {
      "description": "Represents a targetable environment. This will be populated in the environment_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_ENVIRONMENT`.",
      "type": "object",
      "properties": {
        "environment": {
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_WEB_OPTIMIZED",
            "ENVIRONMENT_WEB_NOT_OPTIMIZED",
            "ENVIRONMENT_APP"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The serving environment.",
          "enumDescriptions": [
            "Default value when environment is not specified in this version. This enum is a placeholder for default value and does not represent a real environment option.",
            "Target inventory displayed in browsers. This includes inventory that was designed for the device it was viewed on, such as mobile websites viewed on a mobile device. ENVIRONMENT_WEB_NOT_OPTIMIZED, if targeted, should be deleted prior to the deletion of this targeting option.",
            "Target inventory displayed in browsers. This includes inventory that was not designed for the device but viewed on it, such as websites optimized for desktop but viewed on a mobile device. ENVIRONMENT_WEB_OPTIMIZED should be targeted prior to the addition of this targeting option.",
            "Target inventory displayed in apps."
          ]
        }
      },
      "id": "EnvironmentTargetingOptionDetails"
    },
    "DeviceTypeAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Targeting details for device type. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
      "properties": {
        "deviceType": {
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET"
          ],
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "The device type is computer.",
            "The device type is connected TV.",
            "The device type is smart phone..",
            "The device type is tablet."
          ],
          "type": "string",
          "description": "The display name of the device type. Output only in v1. Required in v2."
        },
        "youtubeAndPartnersBidMultiplier": {
          "readOnly": true,
          "description": "Output only. Bid multiplier allows you to show your ads more or less frequently based on the device type. It will apply a multiplier on the original bid price. When this field is 0, it indicates this field is not applicable instead of multiplying 0 on the original bid price. For example, if the bid price without multiplier is $10.0 and the multiplier is 1.5 for Tablet, the resulting bid price for Tablet will be $15.0. Only applicable to YouTube and Partners line items.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "DeviceTypeAssignedTargetingOptionDetails"
    },
    "ViewabilityAssignedTargetingOptionDetails": {
      "description": "Assigned viewability targeting option details. This will be populated in the viewability_details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_VIEWABILITY`.",
      "id": "ViewabilityAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "viewability": {
          "enum": [
            "VIEWABILITY_UNSPECIFIED",
            "VIEWABILITY_10_PERCENT_OR_MORE",
            "VIEWABILITY_20_PERCENT_OR_MORE",
            "VIEWABILITY_30_PERCENT_OR_MORE",
            "VIEWABILITY_40_PERCENT_OR_MORE",
            "VIEWABILITY_50_PERCENT_OR_MORE",
            "VIEWABILITY_60_PERCENT_OR_MORE",
            "VIEWABILITY_70_PERCENT_OR_MORE",
            "VIEWABILITY_80_PERCENT_OR_MORE",
            "VIEWABILITY_90_PERCENT_OR_MORE"
          ],
          "type": "string",
          "description": "The predicted viewability percentage. Output only in v1. Required in v2.",
          "enumDescriptions": [
            "Default value when viewability is not specified in this version. This enum is a placeholder for default value and does not represent a real viewability option.",
            "Bid only on impressions that are at least 10% likely to be viewable.",
            "Bid only on impressions that are at least 20% likely to be viewable.",
            "Bid only on impressions that are at least 30% likely to be viewable.",
            "Bid only on impressions that are at least 40% likely to be viewable.",
            "Bid only on impressions that are at least 50% likely to be viewable.",
            "Bid only on impressions that are at least 60% likely to be viewable.",
            "Bid only on impressions that are at least 70% likely to be viewable.",
            "Bid only on impressions that are at least 80% likely to be viewable.",
            "Bid only on impressions that are at least 90% likely to be viewable."
          ]
        }
      }
    },
    "UserRewardedContentTargetingOptionDetails": {
      "type": "object",
      "id": "UserRewardedContentTargetingOptionDetails",
      "properties": {
        "userRewardedContent": {
          "enumDescriptions": [
            "User rewarded content is not specified or is unknown in this version.",
            "Represents ads where the user will see a reward after viewing.",
            "Represents all other ads besides user-rewarded."
          ],
          "readOnly": true,
          "enum": [
            "USER_REWARDED_CONTENT_UNSPECIFIED",
            "USER_REWARDED_CONTENT_USER_REWARDED",
            "USER_REWARDED_CONTENT_NOT_USER_REWARDED"
          ],
          "type": "string",
          "description": "Output only. User rewarded content status for video ads."
        }
      },
      "description": "Represents a targetable user rewarded content status for video ads only. This will be populated in the user_rewarded_content_details field when targeting_type is `TARGETING_TYPE_USER_REWARDED_CONTENT`."
    },
    "ScriptError": {
      "type": "object",
      "properties": {
        "column": {
          "type": "string",
          "description": "The column number in the script where the error was thrown.",
          "format": "int64"
        },
        "errorCode": {
          "type": "string",
          "description": "The type of error.",
          "enumDescriptions": [
            "The script error is not specified or is unknown in this version.",
            "The script has a syntax error.",
            "The script uses deprecated syntax.",
            "Internal errors were thrown while processing the script."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "SYNTAX_ERROR",
            "DEPRECATED_SYNTAX",
            "INTERNAL_ERROR"
          ]
        },
        "errorMessage": {
          "type": "string",
          "description": "The detailed error message."
        },
        "line": {
          "description": "The line number in the script where the error was thrown.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "An error message for a custom bidding script.",
      "id": "ScriptError"
    },
    "ContentGenreAssignedTargetingOptionDetails": {
      "description": "Details for content genre assigned targeting option. This will be populated in the content_genre_details field when targeting_type is `TARGETING_TYPE_CONTENT_GENRE`. Explicitly targeting all options is not supported. Remove all content genre targeting options to achieve this effect.",
      "type": "object",
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_GENRE`."
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the content genre.",
          "readOnly": true
        }
      },
      "id": "ContentGenreAssignedTargetingOptionDetails"
    },
    "YoutubeAndPartnersInventorySourceConfig": {
      "id": "YoutubeAndPartnersInventorySourceConfig",
      "type": "object",
      "properties": {
        "includeYoutubeVideoPartners": {
          "type": "boolean",
          "description": "Whether to target inventory on a collection of partner sites and apps that follow the same brand safety standards as YouTube."
        },
        "includeYoutubeSearch": {
          "description": "Whether to target inventory on the YouTube search results page.",
          "type": "boolean"
        },
        "includeYoutubeVideos": {
          "description": "Whether to target inventory of channels and videos on YouTube and YouTube videos embedded on other sites.",
          "type": "boolean"
        }
      },
      "description": "Settings that control what YouTube related inventories the YouTube and Partners line item will target."
    },
    "BrowserTargetingOptionDetails": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the browser."
        }
      },
      "type": "object",
      "description": "Represents a targetable browser. This will be populated in the browser_details field when targeting_type is `TARGETING_TYPE_BROWSER`.",
      "id": "BrowserTargetingOptionDetails"
    },
    "VideoDiscoveryAd": {
      "description": "Details for a video discovery ad.",
      "type": "object",
      "id": "VideoDiscoveryAd",
      "properties": {
        "description2": {
          "description": "Second text line for the ad.",
          "type": "string"
        },
        "headline": {
          "type": "string",
          "description": "The headline of ad."
        },
        "video": {
          "description": "The YouTube video the ad promotes.",
          "$ref": "YoutubeVideoDetails"
        },
        "thumbnail": {
          "type": "string",
          "enum": [
            "THUMBNAIL_UNSPECIFIED",
            "THUMBNAIL_DEFAULT",
            "THUMBNAIL_1",
            "THUMBNAIL_2",
            "THUMBNAIL_3"
          ],
          "description": "Thumbnail image used in the ad.",
          "enumDescriptions": [
            "Unknown or unspecified.",
            "The default thumbnail, can be auto-generated or user-uploaded.",
            "Thumbnail 1, generated from the video.",
            "Thumbnail 2, generated from the video.",
            "Thumbnail 3, generated from the video."
          ]
        },
        "description1": {
          "description": "First text line for the ad.",
          "type": "string"
        }
      }
    },
    "CustomListTargetingSetting": {
      "type": "object",
      "description": "Details of custom list targeting setting.",
      "properties": {
        "customListId": {
          "description": "Required. Custom id of custom list targeting setting. This id is custom_list_id.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CustomListTargetingSetting"
    },
    "ListPartnersResponse": {
      "id": "ListPartnersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListPartners` method to retrieve the next page of results."
        },
        "partners": {
          "items": {
            "$ref": "Partner"
          },
          "description": "The list of partners. This list will be absent if empty.",
          "type": "array"
        }
      }
    },
    "BulkEditPartnerAssignedTargetingOptionsRequest": {
      "type": "object",
      "description": "Request message for BulkEditPartnerAssignedTargetingOptions.",
      "id": "BulkEditPartnerAssignedTargetingOptionsRequest",
      "properties": {
        "createRequests": {
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          },
          "description": "The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
          "type": "array"
        },
        "deleteRequests": {
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "description": "The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
          "type": "array"
        }
      }
    },
    "InventorySourceGroupAssignedTargetingOptionDetails": {
      "id": "InventorySourceGroupAssignedTargetingOptionDetails",
      "description": "Targeting details for inventory source group. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`.",
      "properties": {
        "inventorySourceGroupId": {
          "type": "string",
          "format": "int64",
          "description": "Required. ID of the inventory source group. Should refer to the inventory_source_group_id field of an InventorySourceGroup resource."
        }
      },
      "type": "object"
    },
    "GenderAssignedTargetingOptionDetails": {
      "description": "Details for assigned gender targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_GENDER`.",
      "id": "GenderAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "gender": {
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_MALE",
            "GENDER_FEMALE",
            "GENDER_UNKNOWN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when gender is not specified in this version. This enum is a place holder for default value and does not represent a real gender option.",
            "The audience gender is male.",
            "The audience gender is female.",
            "The audience gender is unknown."
          ],
          "description": "The gender of the audience. Output only in v1. Required in v2."
        }
      }
    },
    "DeleteAssignedTargetingOptionsRequest": {
      "type": "object",
      "properties": {
        "targetingType": {
          "type": "string",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_CONTENT_DURATION",
            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID",
            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
            "TARGETING_TYPE_CONTENT_GENRE",
            "TARGETING_TYPE_YOUTUBE_VIDEO",
            "TARGETING_TYPE_YOUTUBE_CHANNEL",
            "TARGETING_TYPE_SESSION_POSITION"
          ],
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
          ],
          "description": "Required. Identifies the type of this assigned targeting option."
        },
        "assignedTargetingOptionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The assigned targeting option IDs to delete."
        }
      },
      "description": "A request listing which assigned targeting options of a given targeting type should be deleted.",
      "id": "DeleteAssignedTargetingOptionsRequest"
    },
    "ListInsertionOrderAssignedTargetingOptionsResponse": {
      "type": "object",
      "id": "ListInsertionOrderAssignedTargetingOptionsResponse",
      "description": "Response message for ListInsertionOrderAssignedTargetingOptions.",
      "properties": {
        "assignedTargetingOptions": {
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "type": "array",
          "description": "The list of assigned targeting options. This list will be absent if empty."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListInsertionOrderAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return."
        }
      }
    },
    "LookbackWindow": {
      "id": "LookbackWindow",
      "description": "Specifies how many days into the past to look when determining whether to record a conversion.",
      "type": "object",
      "properties": {
        "clickDays": {
          "format": "int32",
          "type": "integer",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads."
        },
        "impressionDays": {
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "BulkEditAssignedTargetingOptionsRequest": {
      "id": "BulkEditAssignedTargetingOptionsRequest",
      "type": "object",
      "description": "Request message for BulkEditLineItemsAssignedTargetingOptions.",
      "properties": {
        "deleteRequests": {
          "type": "array",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "description": "The assigned targeting options to delete in batch, specified as a list of DeleteAssignedTargetingOptionsRequest. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_AUDIO_CONTENT_TYPE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_BUSINESS_CHAIN` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_CONTENT_DURATION` * `TARGETING_TYPE_CONTENT_GENRE` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_STREAM_TYPE` * `TARGETING_TYPE_DAY_AND_TIME` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_PROXIMITY_LOCATION_LIST` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY`"
        },
        "lineItemIds": {
          "description": "Required. The ID of the line items whose targeting is being updated.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "createRequests": {
          "description": "The assigned targeting options to create in batch, specified as a list of CreateAssignedTargetingOptionsRequest. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_AUDIO_CONTENT_TYPE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_BUSINESS_CHAIN` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_CONTENT_DURATION` * `TARGETING_TYPE_CONTENT_GENRE` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_STREAM_TYPE` * `TARGETING_TYPE_DAY_AND_TIME` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_PROXIMITY_LOCATION_LIST` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY`",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          },
          "type": "array"
        }
      }
    },
    "ProductFeedData": {
      "description": "The details of product feed.",
      "id": "ProductFeedData",
      "type": "object",
      "properties": {
        "productMatchType": {
          "description": "How products are selected by the product feed.",
          "enum": [
            "PRODUCT_MATCH_TYPE_UNSPECIFIED",
            "PRODUCT_MATCH_TYPE_ALL_PRODUCTS",
            "PRODUCT_MATCH_TYPE_SPECIFIC_PRODUCTS",
            "PRODUCT_MATCH_TYPE_CUSTOM_LABEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified or unknown.",
            "All the products are matched.",
            "Specific products are selected.",
            "Match products by their custom labels."
          ]
        },
        "isFeedDisabled": {
          "type": "boolean",
          "description": "Whether the product feed has opted-out of showing products."
        },
        "productMatchDimensions": {
          "items": {
            "$ref": "ProductMatchDimension"
          },
          "type": "array",
          "description": "A list of dimensions used to match products."
        }
      }
    },
    "BiddingStrategy": {
      "description": "Settings that control the bid strategy. Bid strategy determines the bid price.",
      "type": "object",
      "properties": {
        "performanceGoalAutoBid": {
          "$ref": "PerformanceGoalBidStrategy",
          "description": "A strategy that automatically adjusts the bid to meet or beat a specified performance goal. It is to be used only for a line item entity."
        },
        "fixedBid": {
          "description": "A strategy that uses a fixed bid price.",
          "$ref": "FixedBidStrategy"
        },
        "maximizeSpendAutoBid": {
          "description": "A strategy that automatically adjusts the bid to optimize to your performance goal while spending the full budget. At insertion order level, the markup_type of line items cannot be set to `PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM`. In addition, when performance_goal_type is one of: * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_AV_VIEWED` , the line_item_type of the insertion order line items must be either: * `LINE_ITEM_TYPE_DISPLAY_DEFAULT` * `LINE_ITEM_TYPE_VIDEO_DEFAULT` , and when performance_goal_type is either: * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CIVA` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_IVO_TEN` the line_item_type of the insertion order line items must be `LINE_ITEM_TYPE_VIDEO_DEFAULT`.",
          "$ref": "MaximizeSpendBidStrategy"
        }
      },
      "id": "BiddingStrategy"
    },
    "ListLineItemsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListLineItems` method to retrieve the next page of results.",
          "type": "string"
        },
        "lineItems": {
          "items": {
            "$ref": "LineItem"
          },
          "description": "The list of line items. This list will be absent if empty.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListLineItemsResponse"
    },
    "ThirdPartyVendorConfig": {
      "id": "ThirdPartyVendorConfig",
      "description": "Settings that control how third-party measurement vendors are configured.",
      "type": "object",
      "properties": {
        "vendor": {
          "description": "The third-party measurement vendor.",
          "enum": [
            "THIRD_PARTY_VENDOR_UNSPECIFIED",
            "THIRD_PARTY_VENDOR_MOAT",
            "THIRD_PARTY_VENDOR_DOUBLE_VERIFY",
            "THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE",
            "THIRD_PARTY_VENDOR_COMSCORE",
            "THIRD_PARTY_VENDOR_TELEMETRY",
            "THIRD_PARTY_VENDOR_MEETRICS",
            "THIRD_PARTY_VENDOR_ZEFR",
            "THIRD_PARTY_VENDOR_NIELSEN",
            "THIRD_PARTY_VENDOR_KANTAR",
            "THIRD_PARTY_VENDOR_DYNATA"
          ],
          "enumDescriptions": [
            "Unknown third-party vendor.",
            "Moat.",
            "DoubleVerify.",
            "Integral Ad Science.",
            "Comscore.",
            "Telemetry.",
            "Meetrics.",
            "ZEFR.",
            "Nielsen.",
            "Kantar.",
            "Dynata."
          ],
          "type": "string"
        },
        "placementId": {
          "type": "string",
          "description": "The ID used by the platform of the third-party vendor to identify the line item."
        }
      }
    },
    "PerformanceGoal": {
      "properties": {
        "performanceGoalType": {
          "enum": [
            "PERFORMANCE_GOAL_TYPE_UNSPECIFIED",
            "PERFORMANCE_GOAL_TYPE_CPM",
            "PERFORMANCE_GOAL_TYPE_CPC",
            "PERFORMANCE_GOAL_TYPE_CPA",
            "PERFORMANCE_GOAL_TYPE_CTR",
            "PERFORMANCE_GOAL_TYPE_VIEWABILITY",
            "PERFORMANCE_GOAL_TYPE_CPIAVC",
            "PERFORMANCE_GOAL_TYPE_CPE",
            "PERFORMANCE_GOAL_TYPE_CLICK_CVR",
            "PERFORMANCE_GOAL_TYPE_IMPRESSION_CVR",
            "PERFORMANCE_GOAL_TYPE_VCPM",
            "PERFORMANCE_GOAL_TYPE_VTR",
            "PERFORMANCE_GOAL_TYPE_AUDIO_COMPLETION_RATE",
            "PERFORMANCE_GOAL_TYPE_VIDEO_COMPLETION_RATE",
            "PERFORMANCE_GOAL_TYPE_OTHER"
          ],
          "enumDescriptions": [
            "Performance goal type is not specified or is unknown in this version.",
            "The performance goal is set in CPM (cost per mille).",
            "The performance goal is set in CPC (cost per click).",
            "The performance goal is set in CPA (cost per action).",
            "The performance goal is set in CTR (click-through rate) percentage.",
            "The performance goal is set in Viewability percentage.",
            "The performance goal is set as CPIAVC (cost per impression audible and visible at completion).",
            "The performance goal is set in CPE (cost per engagement).",
            "The performance goal is set in click conversion rate (conversions per click) percentage.",
            "The performance goal is set in impression conversion rate (conversions per impression) percentage.",
            "The performance goal is set in VCPM (cost per thousand viewable impressions).",
            "The performance goal is set in YouTube view rate (YouTube views per impression) percentage.",
            "The performance goal is set in audio completion rate (complete audio listens per impression) percentage.",
            "The performance goal is set in video completion rate (complete video views per impression) percentage.",
            "The performance goal is set to Other."
          ],
          "description": "Required. The type of the performance goal.",
          "type": "string"
        },
        "performanceGoalString": {
          "description": "A key performance indicator (KPI) string, which can be empty. Must be UTF-8 encoded with a length of no more than 100 characters. Applicable when performance_goal_type is set to `PERFORMANCE_GOAL_TYPE_OTHER`.",
          "type": "string"
        },
        "performanceGoalAmountMicros": {
          "format": "int64",
          "description": "The goal amount, in micros of the advertiser's currency. Applicable when performance_goal_type is one of: * `PERFORMANCE_GOAL_TYPE_CPM` * `PERFORMANCE_GOAL_TYPE_CPC` * `PERFORMANCE_GOAL_TYPE_CPA` * `PERFORMANCE_GOAL_TYPE_CPIAVC` * `PERFORMANCE_GOAL_TYPE_VCPM` For example 1500000 represents 1.5 standard units of the currency.",
          "type": "string"
        },
        "performanceGoalPercentageMicros": {
          "description": "The decimal representation of the goal percentage in micros. Applicable when performance_goal_type is one of: * `PERFORMANCE_GOAL_TYPE_CTR` * `PERFORMANCE_GOAL_TYPE_VIEWABILITY` * `PERFORMANCE_GOAL_TYPE_CLICK_CVR` * `PERFORMANCE_GOAL_TYPE_IMPRESSION_CVR` * `PERFORMANCE_GOAL_TYPE_VTR` * `PERFORMANCE_GOAL_TYPE_AUDIO_COMPLETION_RATE` * `PERFORMANCE_GOAL_TYPE_VIDEO_COMPLETION_RATE` For example, 70000 represents 7% (decimal 0.07).",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Settings that control the performance goal of a campaign or insertion order.",
      "type": "object",
      "id": "PerformanceGoal"
    },
    "MastheadAd": {
      "properties": {
        "headline": {
          "type": "string",
          "description": "The headline of the ad."
        },
        "description": {
          "type": "string",
          "description": "The description of the ad."
        },
        "videoAspectRatio": {
          "enum": [
            "VIDEO_ASPECT_RATIO_UNSPECIFIED",
            "VIDEO_ASPECT_RATIO_WIDESCREEN",
            "VIDEO_ASPECT_RATIO_FIXED_16_9"
          ],
          "description": "The aspect ratio of the autoplaying YouTube video on the Masthead.",
          "enumDescriptions": [
            "Not specified or unknown.",
            "The video is stretched and the top and bottom are cropped.",
            "The video uses a fixed 16:9 aspect ratio."
          ],
          "type": "string"
        },
        "companionYoutubeVideos": {
          "description": "The videos that appear next to the Masthead Ad on desktop. Can be no more than two.",
          "type": "array",
          "items": {
            "$ref": "YoutubeVideoDetails"
          }
        },
        "callToActionFinalUrl": {
          "description": "The destination URL for the call-to-action button.",
          "type": "string"
        },
        "callToActionButtonLabel": {
          "description": "The text on the call-to-action button.",
          "type": "string"
        },
        "video": {
          "description": "The YouTube video used by the ad.",
          "$ref": "YoutubeVideoDetails"
        },
        "autoplayVideoStartMillisecond": {
          "format": "int64",
          "description": "The amount of time in milliseconds after which the video will start to play.",
          "type": "string"
        },
        "callToActionTrackingUrl": {
          "description": "The tracking URL for the call-to-action button.",
          "type": "string"
        },
        "autoplayVideoDuration": {
          "description": "The duration of time the video will autoplay.",
          "format": "google-duration",
          "type": "string"
        },
        "showChannelArt": {
          "type": "boolean",
          "description": "Whether to show a background or banner that appears at the top of a YouTube page."
        }
      },
      "description": "Details for a Masthead Ad.",
      "id": "MastheadAd",
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "type": "object",
      "id": "Date"
    },
    "PartnerGeneralConfig": {
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Immutable. The standard TZ database name of the partner's time zone. For example, `America/New_York`. See more at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"
        },
        "currencyCode": {
          "description": "Immutable. Partner's currency in ISO 4217 format.",
          "type": "string"
        }
      },
      "description": "General settings of a partner.",
      "id": "PartnerGeneralConfig"
    },
    "PartnerAdServerConfig": {
      "properties": {
        "measurementConfig": {
          "description": "Measurement settings of a partner.",
          "$ref": "MeasurementConfig"
        }
      },
      "description": "Ad server related settings of a partner.",
      "id": "PartnerAdServerConfig",
      "type": "object"
    },
    "ListAssignedInventorySourcesResponse": {
      "properties": {
        "assignedInventorySources": {
          "items": {
            "$ref": "AssignedInventorySource"
          },
          "description": "The list of assigned inventory sources. This list will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAssignedInventorySources` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for AssignedInventorySourceService.ListAssignedInventorySources.",
      "id": "ListAssignedInventorySourcesResponse"
    },
    "ListGoogleAudiencesResponse": {
      "id": "ListGoogleAudiencesResponse",
      "properties": {
        "googleAudiences": {
          "description": "The list of Google audiences. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "GoogleAudience"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListGoogleAudiences` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "YoutubeAndPartnersThirdPartyMeasurementSettings": {
      "id": "YoutubeAndPartnersThirdPartyMeasurementSettings",
      "description": "Settings that control what third-party vendors are measuring specific line item metrics.",
      "type": "object",
      "properties": {
        "reachVendorConfigs": {
          "type": "array",
          "description": "The third-party vendors measuring reach. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_NIELSEN` * `THIRD_PARTY_VENDOR_COMSCORE` * `THIRD_PARTY_VENDOR_KANTAR`",
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          }
        },
        "viewabilityVendorConfigs": {
          "description": "The third-party vendors measuring viewability. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_MOAT` * `THIRD_PARTY_VENDOR_DOUBLE_VERIFY` * `THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE` * `THIRD_PARTY_VENDOR_COMSCORE` * `THIRD_PARTY_VENDOR_TELEMETRY` * `THIRD_PARTY_VENDOR_MEETRICS`",
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "type": "array"
        },
        "brandLiftVendorConfigs": {
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "description": "The third-party vendors measuring brand lift. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_DYNATA` * `THIRD_PARTY_VENDOR_KANTAR`",
          "type": "array"
        },
        "brandSafetyVendorConfigs": {
          "type": "array",
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "description": "The third-party vendors measuring brand safety. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_ZERF` * `THIRD_PARTY_VENDOR_DOUBLE_VERIFY` * `THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE`"
        }
      }
    },
    "LineItemAssignedTargetingOption": {
      "description": "Wrapper object associating an assigned_targeting_option resource and the line item it is assigned to.",
      "type": "object",
      "properties": {
        "lineItemId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the line item the assigned targeting option is assigned to."
        },
        "assignedTargetingOption": {
          "description": "The assigned targeting option resource.",
          "$ref": "AssignedTargetingOption"
        }
      },
      "id": "LineItemAssignedTargetingOption"
    },
    "PrismaConfig": {
      "id": "PrismaConfig",
      "type": "object",
      "properties": {
        "prismaCpeCode": {
          "$ref": "PrismaCpeCode",
          "description": "Required. Relevant client, product, and estimate codes from the Mediaocean Prisma tool."
        },
        "prismaType": {
          "enum": [
            "PRISMA_TYPE_UNSPECIFIED",
            "PRISMA_TYPE_DISPLAY",
            "PRISMA_TYPE_SEARCH",
            "PRISMA_TYPE_VIDEO",
            "PRISMA_TYPE_AUDIO",
            "PRISMA_TYPE_SOCIAL",
            "PRISMA_TYPE_FEE"
          ],
          "enumDescriptions": [
            "Type is not specified or unknown in this version.",
            "Display type.",
            "Search type.",
            "Video type.",
            "Audio type.",
            "Social type.",
            "Fee type."
          ],
          "description": "Required. The Prisma type.",
          "type": "string"
        },
        "supplier": {
          "description": "Required. The entity allocated this budget (DSP, site, etc.).",
          "type": "string"
        }
      },
      "description": "Settings specific to the Mediaocean Prisma tool."
    },
    "InventorySourceStatus": {
      "id": "InventorySourceStatus",
      "type": "object",
      "description": "The status related settings of the inventory source.",
      "properties": {
        "sellerPauseReason": {
          "type": "string",
          "description": "Output only. The seller-provided reason for pausing this inventory source. Only applicable for inventory sources synced directly from the publishers and when seller_status is set to `ENTITY_STATUS_PAUSED`.",
          "readOnly": true
        },
        "entityPauseReason": {
          "type": "string",
          "description": "The user-provided reason for pausing this inventory source. Must not exceed 100 characters. Only applicable when entity_status is set to `ENTITY_STATUS_PAUSED`."
        },
        "sellerStatus": {
          "description": "Output only. The status set by the seller for the inventory source. Only applicable for inventory sources synced directly from the publishers. Acceptable values are `ENTITY_STATUS_ACTIVE` and `ENTITY_STATUS_PAUSED`.",
          "type": "string",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "readOnly": true
        },
        "entityStatus": {
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "description": "Whether or not the inventory source is servable. Acceptable values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_ARCHIVED`, and `ENTITY_STATUS_PAUSED`. Default value is `ENTITY_STATUS_ACTIVE`."
        },
        "configStatus": {
          "enumDescriptions": [
            "The approval status is not specified or is unknown in this version.",
            "The beginning state of a guaranteed inventory source. The inventory source in this state needs to be configured.",
            "The state after the buyer configures a guaranteed inventory source."
          ],
          "readOnly": true,
          "description": "Output only. The configuration status of the inventory source. Only applicable for guaranteed inventory sources. Acceptable values are `INVENTORY_SOURCE_CONFIG_STATUS_PENDING` and `INVENTORY_SOURCE_CONFIG_STATUS_COMPLETED`. An inventory source must be configured (fill in the required fields, choose creatives, and select a default campaign) before it can serve.",
          "enum": [
            "INVENTORY_SOURCE_CONFIG_STATUS_UNSPECIFIED",
            "INVENTORY_SOURCE_CONFIG_STATUS_PENDING",
            "INVENTORY_SOURCE_CONFIG_STATUS_COMPLETED"
          ],
          "type": "string"
        }
      }
    },
    "SessionPositionAssignedTargetingOptionDetails": {
      "id": "SessionPositionAssignedTargetingOptionDetails",
      "description": "Details for session position assigned targeting option. This will be populated in the session_position_details field when targeting_type is `TARGETING_TYPE_SESSION_POSITION`.",
      "properties": {
        "sessionPosition": {
          "enumDescriptions": [
            "This is a placeholder, does not indicate any positions.",
            "The first impression of the session."
          ],
          "type": "string",
          "enum": [
            "SESSION_POSITION_UNSPECIFIED",
            "SESSION_POSITION_FIRST_IMPRESSION"
          ],
          "description": "The position where the ad will show in a session."
        }
      },
      "type": "object"
    },
    "BulkEditAssignedInventorySourcesResponse": {
      "properties": {
        "assignedInventorySources": {
          "type": "array",
          "description": "The list of assigned inventory sources that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedInventorySource"
          }
        }
      },
      "type": "object",
      "id": "BulkEditAssignedInventorySourcesResponse",
      "description": "Response message for AssignedInventorySourceService.BulkEdit."
    },
    "EditCustomerMatchMembersRequest": {
      "description": "Request message for FirstAndThirdPartyAudienceService.EditCustomerMatchMembers.",
      "properties": {
        "advertiserId": {
          "type": "string",
          "description": "Required. The ID of the owner advertiser of the updated Customer Match FirstAndThirdPartyAudience.",
          "format": "int64"
        },
        "addedMobileDeviceIdList": {
          "description": "Input only. A list of mobile device IDs to define the members to be added.",
          "$ref": "MobileDeviceIdList"
        },
        "addedContactInfoList": {
          "$ref": "ContactInfoList",
          "description": "Input only. A list of contact information to define the members to be added."
        }
      },
      "type": "object",
      "id": "EditCustomerMatchMembersRequest"
    },
    "NativeContentPositionTargetingOptionDetails": {
      "id": "NativeContentPositionTargetingOptionDetails",
      "description": "Represents a targetable native content position. This will be populated in the native_content_position_details field when targeting_type is `TARGETING_TYPE_NATIVE_CONTENT_POSITION`.",
      "type": "object",
      "properties": {
        "contentPosition": {
          "description": "Output only. The content position.",
          "enum": [
            "NATIVE_CONTENT_POSITION_UNSPECIFIED",
            "NATIVE_CONTENT_POSITION_UNKNOWN",
            "NATIVE_CONTENT_POSITION_IN_ARTICLE",
            "NATIVE_CONTENT_POSITION_IN_FEED",
            "NATIVE_CONTENT_POSITION_PERIPHERAL",
            "NATIVE_CONTENT_POSITION_RECOMMENDATION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Native content position is not specified in this version. This enum is a place holder for a default value and does not represent a real native content position.",
            "The native content position is unknown.",
            "Native content position is in-article, i.e., ads appear between the paragraphs of pages.",
            "Native content position is in-feed, i.e., ads appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Native content position is peripheral, i.e., ads appear outside of core content on pages, such as the right- or left-hand side of the page.",
            "Native content position is recommendation, i.e., ads appear in sections for recommended content."
          ],
          "type": "string"
        }
      }
    },
    "TrackingFloodlightActivityConfig": {
      "description": "Settings that control the behavior of a single Floodlight activity config.",
      "type": "object",
      "properties": {
        "postViewLookbackWindowDays": {
          "type": "integer",
          "description": "Required. The number of days after an ad has been viewed in which a conversion may be counted. Must be between 0 and 90 inclusive.",
          "format": "int32"
        },
        "postClickLookbackWindowDays": {
          "type": "integer",
          "description": "Required. The number of days after an ad has been clicked in which a conversion may be counted. Must be between 0 and 90 inclusive.",
          "format": "int32"
        },
        "floodlightActivityId": {
          "description": "Required. The ID of the Floodlight activity.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "TrackingFloodlightActivityConfig"
    },
    "AdvertiserGeneralConfig": {
      "description": "General settings of an advertiser.",
      "id": "AdvertiserGeneralConfig",
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. Immutable. Advertiser's currency in ISO 4217 format. Accepted codes and the currencies they represent are: Currency Code : Currency Name * `ARS` : Argentine Peso * `AUD` : Australian Dollar * `BRL` : Brazilian Real * `CAD` : Canadian Dollar * `CHF` : Swiss Franc * `CLP` : Chilean Peso * `CNY` : Chinese Yuan * `COP` : Colombian Peso * `CZK` : Czech Koruna * `DKK` : Danish Krone * `EGP` : Egyption Pound * `EUR` : Euro * `GBP` : British Pound * `HKD` : Hong Kong Dollar * `HUF` : Hungarian Forint * `IDR` : Indonesian Rupiah * `ILS` : Israeli Shekel * `INR` : Indian Rupee * `JPY` : Japanese Yen * `KRW` : South Korean Won * `MXN` : Mexican Pesos * `MYR` : Malaysian Ringgit * `NGN` : Nigerian Naira * `NOK` : Norwegian Krone * `NZD` : New Zealand Dollar * `PEN` : Peruvian Nuevo Sol * `PLN` : Polish Zloty * `RON` : New Romanian Leu * `RUB` : Russian Ruble * `SEK` : Swedish Krona * `TRY` : Turkish Lira * `TWD` : New Taiwan Dollar * `USD` : US Dollar * `ZAR` : South African Rand"
        },
        "domainUrl": {
          "description": "Required. The domain URL of the advertiser's primary website. The system will send this information to publishers that require website URL to associate a campaign with an advertiser. Provide a URL with no path or query string, beginning with `http:` or `https:`. For example, http://www.example.com",
          "type": "string"
        },
        "timeZone": {
          "description": "Output only. The standard TZ database name of the advertiser's time zone. For example, `America/New_York`. See more at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones For CM360 hybrid advertisers, the time zone is the same as that of the associated CM360 account; for third-party only advertisers, the time zone is the same as that of the parent partner.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListTargetingOptionsResponse": {
      "properties": {
        "targetingOptions": {
          "type": "array",
          "description": "The list of targeting options. This list will be absent if empty.",
          "items": {
            "$ref": "TargetingOption"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListTargetingOptions` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListTargetingOptionsResponse",
      "type": "object",
      "description": "Response message for ListTargetingOptions."
    },
    "YoutubeVideoAssignedTargetingOptionDetails": {
      "id": "YoutubeVideoAssignedTargetingOptionDetails",
      "description": "Details for YouTube video assigned targeting option. This will be populated in the youtube_video_details field when targeting_type is `TARGETING_TYPE_YOUTUBE_VIDEO`.",
      "type": "object",
      "properties": {
        "videoId": {
          "type": "string",
          "description": "YouTube video id as it appears on the YouTube watch page."
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        }
      }
    },
    "ListGuaranteedOrdersResponse": {
      "id": "ListGuaranteedOrdersResponse",
      "properties": {
        "guaranteedOrders": {
          "description": "The list of guaranteed orders. This list will be absent if empty.",
          "items": {
            "$ref": "GuaranteedOrder"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListGuaranteedOrders` method to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "ExchangeConfigEnabledExchange": {
      "properties": {
        "seatId": {
          "readOnly": true,
          "description": "Output only. Seat ID of the enabled exchange.",
          "type": "string"
        },
        "exchange": {
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix."
          ],
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX"
          ],
          "description": "The enabled exchange.",
          "type": "string"
        },
        "googleAdManagerBuyerNetworkId": {
          "description": "Output only. Network ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.",
          "readOnly": true,
          "type": "string"
        },
        "googleAdManagerAgencyId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Agency ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange."
        }
      },
      "type": "object",
      "id": "ExchangeConfigEnabledExchange",
      "description": "An enabled exchange in the partner."
    },
    "AgeRangeTargetingOptionDetails": {
      "type": "object",
      "description": "Represents a targetable age range. This will be populated in the age_range_details field when targeting_type is `TARGETING_TYPE_AGE_RANGE`.",
      "id": "AgeRangeTargetingOptionDetails",
      "properties": {
        "ageRange": {
          "enumDescriptions": [
            "Default value when age range is not specified in this version. This enum is a placeholder for default value and does not represent a real age range option.",
            "The age range of the audience is 18 to 24.",
            "The age range of the audience is 25 to 34.",
            "The age range of the audience is 35 to 44.",
            "The age range of the audience is 45 to 54.",
            "The age range of the audience is 55 to 64.",
            "The age range of the audience is 65 and up.",
            "The age range of the audience is unknown.",
            "The age range of the audience is 18 to 20, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 21 to 24, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 25 to 29, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 30 to 34, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 35 to 39, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 40 to 44, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 45 to 49, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 50 to 54, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 55 to 59, only supported for the AdGroup of YouTube Programmatic Reservation line item.",
            "The age range of the audience is 60 to 64, only supported for the AdGroup of YouTube Programmatic Reservation line item."
          ],
          "description": "Output only. The age range of an audience.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_PLUS",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_20",
            "AGE_RANGE_21_24",
            "AGE_RANGE_25_29",
            "AGE_RANGE_30_34",
            "AGE_RANGE_35_39",
            "AGE_RANGE_40_44",
            "AGE_RANGE_45_49",
            "AGE_RANGE_50_54",
            "AGE_RANGE_55_59",
            "AGE_RANGE_60_64"
          ]
        }
      }
    },
    "ListCombinedAudiencesResponse": {
      "type": "object",
      "id": "ListCombinedAudiencesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCombinedAudiences` method to retrieve the next page of results.",
          "type": "string"
        },
        "combinedAudiences": {
          "type": "array",
          "description": "The list of combined audiences. This list will be absent if empty.",
          "items": {
            "$ref": "CombinedAudience"
          }
        }
      }
    },
    "Campaign": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the campaign. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the campaign."
        },
        "entityStatus": {
          "description": "Required. Controls whether or not the insertion orders under this campaign can spend their budgets and bid on inventory. * Accepted values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_ARCHIVED`, and `ENTITY_STATUS_PAUSED`. * For CreateCampaign method, `ENTITY_STATUS_ARCHIVED` is not allowed.",
          "type": "string",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "advertiserId": {
          "readOnly": true,
          "description": "Output only. The unique ID of the advertiser the campaign belongs to.",
          "type": "string",
          "format": "int64"
        },
        "campaignFlight": {
          "description": "Required. The planned spend and duration of the campaign.",
          "$ref": "CampaignFlight"
        },
        "campaignId": {
          "description": "Output only. The unique ID of the campaign. Assigned by the system.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "campaignGoal": {
          "description": "Required. The goal of the campaign.",
          "$ref": "CampaignGoal"
        },
        "frequencyCap": {
          "description": "Required. The frequency cap setting of the campaign.",
          "$ref": "FrequencyCap"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the campaign was last updated. Assigned by the system.",
          "type": "string"
        },
        "campaignBudgets": {
          "description": "The list of budgets available to this campaign. If this field is not set, the campaign uses an unlimited budget.",
          "items": {
            "$ref": "CampaignBudget"
          },
          "type": "array"
        }
      },
      "description": "A single campaign.",
      "type": "object",
      "id": "Campaign"
    },
    "AssignedUserRole": {
      "properties": {
        "advertiserId": {
          "description": "The ID of the advertiser that the assigend user role applies to.",
          "format": "int64",
          "type": "string"
        },
        "partnerId": {
          "format": "int64",
          "description": "The ID of the partner that the assigned user role applies to.",
          "type": "string"
        },
        "userRole": {
          "type": "string",
          "enum": [
            "USER_ROLE_UNSPECIFIED",
            "ADMIN",
            "ADMIN_PARTNER_CLIENT",
            "STANDARD",
            "STANDARD_PLANNER",
            "STANDARD_PLANNER_LIMITED",
            "STANDARD_PARTNER_CLIENT",
            "READ_ONLY",
            "REPORTING_ONLY",
            "LIMITED_REPORTING_ONLY",
            "CREATIVE",
            "CREATIVE_ADMIN"
          ],
          "description": "Required. The user role to assign to a user for the entity.",
          "enumDescriptions": [
            "Default value when the user role is not specified or is unknown in this version.",
            "The user can manage campaigns, creatives, insertion orders, line items, and reports for the entity. They can view and edit billing information, create or modify users, and enable or disable exchanges. This role can only be assigned for a partner entity.",
            "The user can manage campaigns, creatives, insertion orders, line items, and reports for the entity. They can create and modify other `ADMIN_PARTNER_CLIENT` users and view billing information. They cannot view revenue models, markups, or any other reseller-sensitive fields. This role can only be assigned for a partner entity.",
            "The user can manage campaigns, creatives, insertion orders, line items, and reports for the entity. They cannot create and modify users or view billing information.",
            "The user can view all campaigns, creatives, insertion orders, line items, and reports for the entity, including all cost data. They can create and modify planning-related features, including plans and inventory.",
            "The user can view all campaigns, creatives, insertion orders, line items, and reports for the entity. They can create or modify planning-related features, including plans and inventory. They have no access to cost data and cannot start, accept, or negotiate deals.",
            "The user can manage campaigns, creatives, insertion orders, line items, and reports for the entity. They cannot create or modify other users or view billing information. They cannot view revenue models, markups, or any other reseller-sensitive fields. This role can only be assigned for an advertiser entity.",
            "The user can only build reports and view data for the entity.",
            "The user can only create and manage reports.",
            "The user can only create and manage the following client-safe reports: General, Audience Performance, Cross-Partner, Keyword, Order ID, Category, and Third-Party Data Provider.",
            "The user can view media plan information they need to collaborate, but can't view cost-related data or Marketplace.",
            "The user can view media plan information they need to collaborate, but can't view cost-related data or Marketplace. In addition, they can add other creative admins or creative users to the entity."
          ]
        },
        "assignedUserRoleId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the assigned user role."
        }
      },
      "description": "A single assigned user role, which defines a user's authorized interaction with a specified partner or advertiser.",
      "type": "object",
      "id": "AssignedUserRole"
    },
    "ListLineItemAssignedTargetingOptionsResponse": {
      "description": "Response message for ListLineItemAssignedTargetingOptions.",
      "type": "object",
      "id": "ListLineItemAssignedTargetingOptionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListLineItemAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return.",
          "type": "string"
        },
        "assignedTargetingOptions": {
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "type": "array",
          "description": "The list of assigned targeting options. This list will be absent if empty."
        }
      }
    },
    "EditCustomerMatchMembersResponse": {
      "id": "EditCustomerMatchMembersResponse",
      "description": "The response of FirstAndThirdPartyAudienceService.EditCustomerMatchMembers.",
      "properties": {
        "firstAndThirdPartyAudienceId": {
          "description": "Required. The ID of the updated Customer Match FirstAndThirdPartyAudience.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChannelAssignedTargetingOptionDetails": {
      "description": "Details for assigned channel targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CHANNEL`.",
      "properties": {
        "channelId": {
          "description": "Required. ID of the channel. Should refer to the channel ID field on a [Partner-owned channel](partners.channels#Channel.FIELDS.channel_id) or [advertiser-owned channel](advertisers.channels#Channel.FIELDS.channel_id) resource.",
          "format": "int64",
          "type": "string"
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted. For advertiser level assigned targeting option, this field must be true."
        }
      },
      "type": "object",
      "id": "ChannelAssignedTargetingOptionDetails"
    },
    "ContentOutstreamPositionTargetingOptionDetails": {
      "id": "ContentOutstreamPositionTargetingOptionDetails",
      "type": "object",
      "description": "Represents a targetable content outstream position, which could be used by display and video ads. This will be populated in the content_outstream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`.",
      "properties": {
        "contentOutstreamPosition": {
          "enumDescriptions": [
            "Content outstream position is not specified in this version. This enum is a place holder for a default value and does not represent a real content outstream position.",
            "The ad position is unknown in the content outstream.",
            "Ads that appear between the paragraphs of your pages.",
            "Ads that display on the top and the sides of a page.",
            "Ads that appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Ads shown before or between content loads."
          ],
          "type": "string",
          "enum": [
            "CONTENT_OUTSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_OUTSTREAM_POSITION_UNKNOWN",
            "CONTENT_OUTSTREAM_POSITION_IN_ARTICLE",
            "CONTENT_OUTSTREAM_POSITION_IN_BANNER",
            "CONTENT_OUTSTREAM_POSITION_IN_FEED",
            "CONTENT_OUTSTREAM_POSITION_INTERSTITIAL"
          ],
          "description": "Output only. The content outstream position.",
          "readOnly": true
        }
      }
    },
    "EnvironmentAssignedTargetingOptionDetails": {
      "description": "Assigned environment targeting option details. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_ENVIRONMENT`.",
      "type": "object",
      "id": "EnvironmentAssignedTargetingOptionDetails",
      "properties": {
        "environment": {
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_WEB_OPTIMIZED",
            "ENVIRONMENT_WEB_NOT_OPTIMIZED",
            "ENVIRONMENT_APP"
          ],
          "enumDescriptions": [
            "Default value when environment is not specified in this version. This enum is a placeholder for default value and does not represent a real environment option.",
            "Target inventory displayed in browsers. This includes inventory that was designed for the device it was viewed on, such as mobile websites viewed on a mobile device. ENVIRONMENT_WEB_NOT_OPTIMIZED, if targeted, should be deleted prior to the deletion of this targeting option.",
            "Target inventory displayed in browsers. This includes inventory that was not designed for the device but viewed on it, such as websites optimized for desktop but viewed on a mobile device. ENVIRONMENT_WEB_OPTIMIZED should be targeted prior to the addition of this targeting option.",
            "Target inventory displayed in apps."
          ],
          "description": "The serving environment. Output only in v1. Required in v2.",
          "type": "string"
        }
      }
    },
    "IntegrationDetails": {
      "properties": {
        "integrationCode": {
          "type": "string",
          "description": "An external identifier to be associated with the entry. The integration code will show up together with the entry in many places in the system, for example, reporting. Must be UTF-8 encoded with a length of no more than 500 characters."
        },
        "details": {
          "description": "Additional details of the entry in string format. Must be UTF-8 encoded with a length of no more than 1000 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Integration details of an entry.",
      "id": "IntegrationDetails"
    },
    "DoubleVerify": {
      "id": "DoubleVerify",
      "type": "object",
      "description": "Details of DoubleVerify settings.",
      "properties": {
        "displayViewability": {
          "description": "Display viewability settings (applicable to display line items only).",
          "$ref": "DoubleVerifyDisplayViewability"
        },
        "videoViewability": {
          "description": "Video viewability settings (applicable to video line items only).",
          "$ref": "DoubleVerifyVideoViewability"
        },
        "customSegmentId": {
          "format": "int64",
          "type": "string",
          "description": "The custom segment ID provided by DoubleVerify. The ID must start with \"51\" and consist of eight digits. Custom segment ID cannot be specified along with any of the following fields: * brand_safety_categories * avoided_age_ratings * app_star_rating * fraud_invalid_traffic"
        },
        "fraudInvalidTraffic": {
          "description": "Avoid Sites and Apps with historical Fraud & IVT Rates.",
          "$ref": "DoubleVerifyFraudInvalidTraffic"
        },
        "appStarRating": {
          "$ref": "DoubleVerifyAppStarRating",
          "description": "Avoid bidding on apps with the star ratings."
        },
        "avoidedAgeRatings": {
          "type": "array",
          "description": "Avoid bidding on apps with the age rating.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This enum is only a placeholder and it doesn't specify any age rating options.",
              "Apps with unknown age rating.",
              "Apps rated for Everyone (4+).",
              "Apps rated for Everyone (9+).",
              "Apps rated for Teens (12+).",
              "Apps rated for Mature (17+).",
              "Apps rated for Adults Only (18+)."
            ],
            "enum": [
              "AGE_RATING_UNSPECIFIED",
              "APP_AGE_RATE_UNKNOWN",
              "APP_AGE_RATE_4_PLUS",
              "APP_AGE_RATE_9_PLUS",
              "APP_AGE_RATE_12_PLUS",
              "APP_AGE_RATE_17_PLUS",
              "APP_AGE_RATE_18_PLUS"
            ]
          }
        },
        "brandSafetyCategories": {
          "description": "DV Brand Safety Controls.",
          "$ref": "DoubleVerifyBrandSafetyCategories"
        }
      }
    },
    "ListCustomBiddingScriptsResponse": {
      "type": "object",
      "id": "ListCustomBiddingScriptsResponse",
      "properties": {
        "customBiddingScripts": {
          "description": "The list of custom bidding scripts. This list will be absent if empty.",
          "items": {
            "$ref": "CustomBiddingScript"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCustomBiddingScriptsRequest` method to retrieve the next page of results. If this field is null, it means this is the last page.",
          "type": "string"
        }
      }
    },
    "CustomBiddingScript": {
      "description": "A single custom bidding script.",
      "id": "CustomBiddingScript",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the custom bidding script.",
          "type": "string"
        },
        "script": {
          "description": "The reference to the uploaded script file.",
          "$ref": "CustomBiddingScriptRef"
        },
        "errors": {
          "description": "Output only. Error details of a rejected custom bidding script. This field will only be populated when Script.state is REJECTED.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ScriptError"
          }
        },
        "customBiddingAlgorithmId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the custom bidding algorithm the script belongs to."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the script was created."
        },
        "customBiddingScriptId": {
          "type": "string",
          "description": "Output only. The unique ID of the custom bidding script.",
          "format": "int64",
          "readOnly": true
        },
        "active": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the script is currently being used for scoring by the parent algorithm."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The script state is not specified or is unknown in this version.",
            "The script has been accepted for scoring impressions.",
            "The script has been rejected by backend pipelines. It may have errors.",
            "The script is being processed for backend pipelines."
          ],
          "description": "Output only. The state of the custom bidding script.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "BulkUpdateLineItemsResponse": {
      "properties": {
        "updatedLineItemIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "The IDs of successfully updated line items."
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Errors returned by line items that failed to update.",
          "type": "array"
        },
        "failedLineItemIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "The IDs of line items that failed to update."
        },
        "skippedLineItemIds": {
          "description": "The IDs of line items that are skipped for updates. For example, unnecessary mutates that will result in effectively no changes to line items will be skipped and corresponding line item IDs can be tracked here.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "BulkUpdateLineItemsResponse",
      "description": "Response message for LineItemService.BulkUpdateLineItems."
    },
    "ListInvoicesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInvoices` method to retrieve the next page of results. This token will be absent if there are no more invoices to return."
        },
        "invoices": {
          "items": {
            "$ref": "Invoice"
          },
          "type": "array",
          "description": "The list of invoices. This list will be absent if empty."
        }
      },
      "id": "ListInvoicesResponse"
    },
    "SearchTargetingOptionsResponse": {
      "id": "SearchTargetingOptionsResponse",
      "description": "Response message for SearchTargetingOptions.",
      "type": "object",
      "properties": {
        "targetingOptions": {
          "type": "array",
          "description": "The list of targeting options that match the search criteria. This list will be absent if empty.",
          "items": {
            "$ref": "TargetingOption"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `SearchTargetingOptions` method to retrieve the next page of results."
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "The list of users. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListUsers` method to retrieve the next page of results. This token will be absent if there are no more results to return.",
          "type": "string"
        }
      },
      "id": "ListUsersResponse"
    },
    "Advertiser": {
      "type": "object",
      "id": "Advertiser",
      "properties": {
        "advertiserId": {
          "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "creativeConfig": {
          "description": "Required. Creative related settings of the advertiser.",
          "$ref": "AdvertiserCreativeConfig"
        },
        "servingConfig": {
          "$ref": "AdvertiserTargetingConfig",
          "description": "Targeting settings related to ad serving of the advertiser."
        },
        "integrationDetails": {
          "description": "Integration details of the advertiser. Only integrationCode is currently applicable to advertiser. Other fields of IntegrationDetails are not supported and will be ignored if provided.",
          "$ref": "IntegrationDetails"
        },
        "entityStatus": {
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "description": "Required. Controls whether or not insertion orders and line items of the advertiser can spend their budgets and bid on inventory. * Accepted values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_PAUSED` and `ENTITY_STATUS_SCHEDULED_FOR_DELETION`. * If set to `ENTITY_STATUS_SCHEDULED_FOR_DELETION`, the advertiser will be deleted 30 days from when it was first scheduled for deletion.",
          "type": "string",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "billingConfig": {
          "$ref": "AdvertiserBillingConfig",
          "description": "Billing related settings of the advertiser."
        },
        "generalConfig": {
          "description": "Required. General settings of the advertiser.",
          "$ref": "AdvertiserGeneralConfig"
        },
        "adServerConfig": {
          "$ref": "AdvertiserAdServerConfig",
          "description": "Required. Immutable. Ad server related settings of the advertiser."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the advertiser was last updated. Assigned by the system.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "partnerId": {
          "description": "Required. Immutable. The unique ID of the partner that the advertiser belongs to.",
          "type": "string",
          "format": "int64"
        },
        "dataAccessConfig": {
          "$ref": "AdvertiserDataAccessConfig",
          "description": "Settings that control how advertiser data may be accessed."
        },
        "prismaEnabled": {
          "type": "boolean",
          "description": "Whether integration with Mediaocean (Prisma) is enabled. By enabling this, you agree to the following: On behalf of my company, I authorize Mediaocean (Prisma) to send budget segment plans to Google, and I authorize Google to send corresponding reporting and invoices from DV360 to Mediaocean for the purposes of budget planning, billing, and reconciliation for this advertiser."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the advertiser.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the advertiser. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        }
      },
      "description": "A single advertiser in Display & Video 360 (DV360)."
    },
    "HouseholdIncomeAssignedTargetingOptionDetails": {
      "description": "Details for assigned household income targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_HOUSEHOLD_INCOME`.",
      "id": "HouseholdIncomeAssignedTargetingOptionDetails",
      "properties": {
        "householdIncome": {
          "type": "string",
          "enum": [
            "HOUSEHOLD_INCOME_UNSPECIFIED",
            "HOUSEHOLD_INCOME_UNKNOWN",
            "HOUSEHOLD_INCOME_LOWER_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_41_TO_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_31_TO_40_PERCENT",
            "HOUSEHOLD_INCOME_TOP_21_TO_30_PERCENT",
            "HOUSEHOLD_INCOME_TOP_11_TO_20_PERCENT",
            "HOUSEHOLD_INCOME_TOP_10_PERCENT"
          ],
          "description": "The household income of the audience. Output only in v1. Required in v2.",
          "enumDescriptions": [
            "Default value when household income is not specified in this version. This enum is a placeholder for default value and does not represent a real household income option.",
            "The household income of the audience is unknown.",
            "The audience is in the lower 50% of U.S. household incomes.",
            "The audience is in the top 41-50% of U.S. household incomes.",
            "The audience is in the top 31-40% of U.S. household incomes.",
            "The audience is in the top 21-30% of U.S. household incomes.",
            "The audience is in the top 11-20% of U.S. household incomes.",
            "The audience is in the top 10% of U.S. household incomes."
          ]
        }
      },
      "type": "object"
    },
    "ListSitesResponse": {
      "description": "Response message for SiteService.ListSites.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListSites` method to retrieve the next page of results.",
          "type": "string"
        },
        "sites": {
          "description": "The list of sites. This list will be absent if empty.",
          "items": {
            "$ref": "Site"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListSitesResponse"
    },
    "ExchangeTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "exchange": {
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix."
          ],
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
[...]
