{
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "revision": "20210722",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "baseUrl": "https://displayvideo.googleapis.com/",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Display Video",
  "description": "Display & Video 360 API allows users to manage and create campaigns and reports.",
  "documentationLink": "https://developers.google.com/display-video/",
  "name": "displayvideo",
  "schemas": {
    "InventorySourceDisplayCreativeConfig": {
      "id": "InventorySourceDisplayCreativeConfig",
      "properties": {
        "creativeSize": {
          "description": "The size requirements for display creatives that can be assigned to the inventory source.",
          "$ref": "Dimensions"
        }
      },
      "description": "The configuration for display creatives.",
      "type": "object"
    },
    "BulkEditAssignedLocationsResponse": {
      "id": "BulkEditAssignedLocationsResponse",
      "type": "object",
      "properties": {
        "assignedLocations": {
          "type": "array",
          "description": "The list of assigned locations that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedLocation"
          }
        }
      },
      "description": "Response message for AssignedLocationService.BulkEditAssignedLocations."
    },
    "ManualTrigger": {
      "description": "A single manual trigger in Display & Video 360.",
      "properties": {
        "latestActivationTime": {
          "description": "Output only. The timestamp of the trigger's latest activation.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The display name of the manual trigger. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the manual trigger.",
          "type": "string"
        },
        "triggerId": {
          "description": "Output only. The unique ID of the manual trigger.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "advertiserId": {
          "type": "string",
          "description": "Required. Immutable. The unique ID of the advertiser that the manual trigger belongs to.",
          "format": "int64"
        },
        "activationDurationMinutes": {
          "type": "string",
          "format": "int64",
          "description": "Required. The maximum duration of each activation in minutes. Must be between 1 and 360 inclusive. After this duration, the trigger will be automatically deactivated."
        },
        "state": {
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The trigger is currently inactive and ready to be activated.",
            "The trigger is currently active (activated)."
          ],
          "description": "Output only. The state of the manual trigger. Will be set to the `INACTIVE` state upon creation.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE"
          ],
          "type": "string"
        }
      },
      "id": "ManualTrigger",
      "type": "object"
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListUsers` method to retrieve the next page of results. This token will be absent if there are no more results to return."
        },
        "users": {
          "items": {
            "$ref": "User"
          },
          "description": "The list of users. This list will be absent if empty.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeviceTypeTargetingOptionDetails": {
      "type": "object",
      "description": "Represents a targetable device type. This will be populated in the device_type_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
      "properties": {
        "deviceType": {
          "description": "Output only. The device type that is used to be targeted.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET"
          ],
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "The device type is computer.",
            "The device type is connected TV.",
            "The device type is smart phone..",
            "The device type is tablet."
          ]
        }
      },
      "id": "DeviceTypeTargetingOptionDetails"
    },
    "ViewabilityAssignedTargetingOptionDetails": {
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_VIEWABILITY` (e.g., \"509010\" for targeting the `VIEWABILITY_10_PERCENT_OR_MORE` option)."
        },
        "viewability": {
          "enum": [
            "VIEWABILITY_UNSPECIFIED",
            "VIEWABILITY_10_PERCENT_OR_MORE",
            "VIEWABILITY_20_PERCENT_OR_MORE",
            "VIEWABILITY_30_PERCENT_OR_MORE",
            "VIEWABILITY_40_PERCENT_OR_MORE",
            "VIEWABILITY_50_PERCENT_OR_MORE",
            "VIEWABILITY_60_PERCENT_OR_MORE",
            "VIEWABILITY_70_PERCENT_OR_MORE",
            "VIEWABILITY_80_PERCENT_OR_MORE",
            "VIEWABILITY_90_PERCENT_OR_MORE"
          ],
          "enumDescriptions": [
            "Default value when viewability is not specified in this version. This enum is a placeholder for default value and does not represent a real viewability option.",
            "Bid only on impressions that are at least 10% likely to be viewable.",
            "Bid only on impressions that are at least 20% likely to be viewable.",
            "Bid only on impressions that are at least 30% likely to be viewable.",
            "Bid only on impressions that are at least 40% likely to be viewable.",
            "Bid only on impressions that are at least 50% likely to be viewable.",
            "Bid only on impressions that are at least 60% likely to be viewable.",
            "Bid only on impressions that are at least 70% likely to be viewable.",
            "Bid only on impressions that are at least 80% likely to be viewable.",
            "Bid only on impressions that are at least 90% likely to be viewable."
          ],
          "description": "Output only. The predicted viewability percentage.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ViewabilityAssignedTargetingOptionDetails",
      "type": "object",
      "description": "Assigned viewability targeting option details. This will be populated in the viewability_details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_VIEWABILITY`."
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListSites` method to retrieve the next page of results.",
          "type": "string"
        },
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "type": "array",
          "description": "The list of sites. This list will be absent if empty."
        }
      },
      "type": "object",
      "description": "Response message for SiteService.ListSites."
    },
    "BulkEditAssignedInventorySourcesRequest": {
      "id": "BulkEditAssignedInventorySourcesRequest",
      "properties": {
        "deletedAssignedInventorySources": {
          "description": "The IDs of the assigned inventory sources to delete in bulk, specified as a list of assigned_inventory_source_ids.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "partnerId": {
          "type": "string",
          "description": "The ID of the partner that owns the inventory source group. Only this partner has write access to these assigned inventory sources.",
          "format": "int64"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner does not have access to these assigned inventory sources."
        },
        "createdAssignedInventorySources": {
          "items": {
            "$ref": "AssignedInventorySource"
          },
          "type": "array",
          "description": "The assigned inventory sources to create in bulk, specified as a list of AssignedInventorySources."
        }
      },
      "type": "object",
      "description": "Request message for AssignedInventorySourceService.BulkEdit."
    },
    "PartnerDataAccessConfig": {
      "id": "PartnerDataAccessConfig",
      "type": "object",
      "description": "Settings that control how partner related data may be accessed.",
      "properties": {
        "sdfConfig": {
          "description": "Structured Data Files (SDF) settings for the partner. The SDF configuration for the partner.",
          "$ref": "SdfConfig"
        }
      }
    },
    "PartnerAdServerConfig": {
      "type": "object",
      "description": "Ad server related settings of a partner.",
      "id": "PartnerAdServerConfig",
      "properties": {
        "measurementConfig": {
          "description": "Measurement settings of a partner.",
          "$ref": "MeasurementConfig"
        }
      }
    },
    "AuditAdvertiserResponse": {
      "properties": {
        "negativeKeywordListsCount": {
          "description": "The number of negative keyword lists created under this advertiser. These negative keyword lists count towards the limit of 20 negative keyword lists per advertiser.",
          "type": "string",
          "format": "int64"
        },
        "channelsCount": {
          "type": "string",
          "description": "The number of channels created under this advertiser. These channels count towards the limit of 1000 channels per advertiser.",
          "format": "int64"
        },
        "usedInsertionOrdersCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of ACTIVE, PAUSED and DRAFT insertion orders under this advertiser. These insertion orders count towards the limit of 9999 insertion orders per advertiser."
        },
        "campaignCriteriaCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of individual targeting options from the following targeting types that are assigned to a line item under this advertiser. These individual targeting options count towards the limit of 900000 campaign targeting options per advertiser. Qualifying Targeting types: * Position * Browser * Connection speed * Day and time * Device and operating system * Digital content label * Sensitive categories * Environment * Geography, including business chains and proximity * ISP * Language * Third-party verification"
        },
        "usedCampaignsCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of ACTIVE and PAUSED campaigns under this advertiser. These campaigns count towards the limit of 9999 campaigns per advertiser."
        },
        "negativelyTargetedChannelsCount": {
          "type": "string",
          "description": "The number of negatively targeted channels created under this advertiser. These negatively targeted channels count towards the limit of 5 negatively targeted channels per advertiser.",
          "format": "int64"
        },
        "adGroupCriteriaCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of individual targeting options from the following targeting types that are assigned to a line item under this advertiser. These individual targeting options count towards the limit of 4500000 ad group targeting options per advertiser. Qualifying Targeting types: * Channels, URLs, apps, and collections * Demographic * Google Audiences, including Affinity, Custom Affinity, and In-market audiences * Inventory source * Keyword * Mobile app category * User lists * Video targeting * Viewability"
        },
        "usedLineItemsCount": {
          "description": "The number of ACTIVE, PAUSED, and DRAFT line items under this advertiser. These line items count towards the limit of 9999 line items per advertiser.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Response message for AdvertiserService.AuditAdvertiser.",
      "type": "object",
      "id": "AuditAdvertiserResponse"
    },
    "CombinedAudienceGroup": {
      "type": "object",
      "description": "Details of combined audience group. All combined audience targeting settings are logically ‘OR’ of each other.",
      "properties": {
        "settings": {
          "description": "Required. All combined audience targeting settings in combined audience group. Repeated settings with same id will be ignored. The number of combined audience settings should be no more than five, error will be thrown otherwise.",
          "items": {
            "$ref": "CombinedAudienceTargetingSetting"
          },
          "type": "array"
        }
      },
      "id": "CombinedAudienceGroup"
    },
    "ListManualTriggersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListManualTriggers` method to retrieve the next page of results."
        },
        "manualTriggers": {
          "description": "The list of manual triggers. This list will be absent if empty.",
          "items": {
            "$ref": "ManualTrigger"
          },
          "type": "array"
        }
      },
      "id": "ListManualTriggersResponse",
      "type": "object"
    },
    "ExchangeAssignedTargetingOptionDetails": {
      "description": "Details for assigned exchange targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_EXCHANGE`.",
      "type": "object",
      "id": "ExchangeAssignedTargetingOptionDetails",
      "properties": {
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_EXCHANGE`.",
          "type": "string"
        }
      }
    },
    "TargetingExpansionConfig": {
      "description": "Settings that control the targeting expansion of the line item. Targeting expansion allows the line item to reach a larger audience based on the original audience list and the targeting expansion level.",
      "properties": {
        "excludeFirstPartyAudience": {
          "type": "boolean",
          "description": "Required. Whether to exclude first party audiences from targeting. Similar audiences of the excluded first party lists will not be excluded. Only applicable when a first-party audience is positively targeted (directly or included in a combined audience), otherwise this selection will be ignored."
        },
        "targetingExpansionLevel": {
          "description": "Required. Magnitude of expansion for applicable targeting under this line item.",
          "type": "string",
          "enum": [
            "TARGETING_EXPANSION_LEVEL_UNSPECIFIED",
            "NO_EXPANSION",
            "LEAST_EXPANSION",
            "SOME_EXPANSION",
            "BALANCED_EXPANSION",
            "MORE_EXPANSION",
            "MOST_EXPANSION"
          ],
          "enumDescriptions": [
            "Targeting expansion level is not specified or is unknown in this version.",
            "Targeting expansion off.",
            "Conservative targeting expansion, lowest reach.",
            "Moderately conservative targeting expansion, lower reach.",
            "Moderate targeting expansion, medium reach.",
            "Moderately aggressive targeting expansion, higher reach.",
            "Aggressive targeting expansion, highest reach."
          ]
        }
      },
      "id": "TargetingExpansionConfig",
      "type": "object"
    },
    "PartnerRevenueModel": {
      "type": "object",
      "properties": {
        "markupType": {
          "description": "Required. The markup type of the partner revenue model.",
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Calculate the partner revenue based on a fixed CPM.",
            "Calculate the partner revenue based on a percentage surcharge of its media cost.",
            "Calculate the partner revenue based on a percentage surcharge of its total media cost, which includes all partner costs and data costs."
          ],
          "enum": [
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_UNSPECIFIED",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_MEDIA_COST_MARKUP",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP"
          ]
        },
        "markupAmount": {
          "format": "int64",
          "description": "Required. The markup amount of the partner revenue model. Must be greater than or equal to 0. * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM`, this field represents the CPM markup in micros of advertiser's currency. For example, 1500000 represents 1.5 standard units of the currency. * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_MEDIA_COST_MARKUP`, this field represents the media cost percent markup in millis. For example, 100 represents 0.1% (decimal 0.001). * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP`, this field represents the total media cost percent markup in millis. For example, 100 represents 0.1% (decimal 0.001).",
          "type": "string"
        }
      },
      "id": "PartnerRevenueModel",
      "description": "Settings that control how partner revenue is calculated."
    },
    "CreateAssignedTargetingOptionsRequest": {
      "description": "A request listing which assigned targeting options of a given targeting type should be created and added.",
      "id": "CreateAssignedTargetingOptionsRequest",
      "properties": {
        "targetingType": {
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID"
          ],
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory."
          ],
          "description": "Required. Identifies the type of this assigned targeting option.",
          "type": "string"
        },
        "assignedTargetingOptions": {
          "description": "Required. The assigned targeting options to create and add.",
          "type": "array",
          "items": {
            "$ref": "AssignedTargetingOption"
          }
        }
      },
      "type": "object"
    },
    "Dimensions": {
      "id": "Dimensions",
      "properties": {
        "heightPixels": {
          "description": "The height in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "widthPixels": {
          "description": "The width in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Dimensions.",
      "type": "object"
    },
    "InventorySourceGroupAssignedTargetingOptionDetails": {
      "description": "Targeting details for inventory source group. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`.",
      "id": "InventorySourceGroupAssignedTargetingOptionDetails",
      "properties": {
        "inventorySourceGroupId": {
          "description": "Required. ID of the inventory source group. Should refer to the inventory_source_group_id field of an InventorySourceGroup resource.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "AudioVideoOffset": {
      "id": "AudioVideoOffset",
      "description": "The length an audio or a video has been played.",
      "properties": {
        "seconds": {
          "description": "The offset in seconds from the start of the audio or video.",
          "type": "string",
          "format": "int64"
        },
        "percentage": {
          "format": "int64",
          "type": "string",
          "description": "The offset in percentage of the audio or video duration."
        }
      },
      "type": "object"
    },
    "CampaignBudget": {
      "id": "CampaignBudget",
      "properties": {
        "budgetAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "Required. The total amount the linked insertion order segments can budget. The amount is in micros. Must be greater than 0. For example, 500000000 represents 500 standard units of the currency."
        },
        "prismaConfig": {
          "description": "Additional metadata for use by the Mediaocean Prisma tool. Required for Mediaocean budgets. Only applicable to prisma_enabled advertisers.",
          "$ref": "PrismaConfig"
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "Required. The date range for the campaign budget. Linked budget segments may have a different date range. They are resolved relative to the parent advertiser's time zone. Both `start_date` and `end_date` must be before the year 2037."
        },
        "externalBudgetId": {
          "type": "string",
          "description": "Immutable. The ID identifying this budget to the external source. If this field is set and the invoice detail level of the corresponding billing profile is set to \"Budget level PO\", all impressions served against this budget will include this ID on the invoice. Must be unique under the campaign."
        },
        "budgetUnit": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Budgeting in currency amounts.",
            "Budgeting in impression amounts."
          ],
          "type": "string",
          "description": "Required. Immutable. Specifies whether the budget is measured in currency or impressions.",
          "enum": [
            "BUDGET_UNIT_UNSPECIFIED",
            "BUDGET_UNIT_CURRENCY",
            "BUDGET_UNIT_IMPRESSIONS"
          ]
        },
        "budgetId": {
          "description": "The unique ID of the campaign budget. Assigned by the system. Do not set for new budgets. Must be included when updating or adding budgets to campaign_budgets. Otherwise, a new ID will be generated and assigned.",
          "type": "string",
          "format": "int64"
        },
        "externalBudgetSource": {
          "enum": [
            "EXTERNAL_BUDGET_SOURCE_UNSPECIFIED",
            "EXTERNAL_BUDGET_SOURCE_NONE",
            "EXTERNAL_BUDGET_SOURCE_MEDIA_OCEAN"
          ],
          "description": "Required. The external source of the budget.",
          "type": "string",
          "enumDescriptions": [
            "External budget source value is not specified or unknown in this version.",
            "Budget has no external source.",
            "Budget source is Mediaocean."
          ]
        },
        "invoiceGroupingId": {
          "type": "string",
          "description": "Immutable. The ID used to group budgets to be included the same invoice. If this field is set and the invoice level of the corresponding billing profile is set to \"Budget invoice grouping ID\", all external_budget_id sharing the same invoice_grouping_id will be grouped in the same invoice."
        },
        "displayName": {
          "description": "Required. The display name of the budget. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        }
      },
      "description": "Settings that control how the campaign budget is allocated.",
      "type": "object"
    },
    "DeviceTypeAssignedTargetingOptionDetails": {
      "id": "DeviceTypeAssignedTargetingOptionDetails",
      "description": "Targeting details for device type. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
      "properties": {
        "deviceType": {
          "description": "Output only. The display name of the device type.",
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "The device type is computer.",
            "The device type is connected TV.",
            "The device type is smart phone..",
            "The device type is tablet."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET"
          ]
        },
        "targetingOptionId": {
          "description": "Required. ID of the device type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BulkEditSitesResponse": {
      "description": "Response message for SiteService.BulkEditSites.",
      "type": "object",
      "properties": {
        "sites": {
          "description": "The list of sites that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "Site"
          },
          "type": "array"
        }
      },
      "id": "BulkEditSitesResponse"
    },
    "ListInsertionOrdersResponse": {
      "type": "object",
      "id": "ListInsertionOrdersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInsertionOrders` method to retrieve the next page of results."
        },
        "insertionOrders": {
          "type": "array",
          "items": {
            "$ref": "InsertionOrder"
          },
          "description": "The list of insertion orders. This list will be absent if empty."
        }
      }
    },
    "DigitalContentLabelTargetingOptionDetails": {
      "type": "object",
      "id": "DigitalContentLabelTargetingOptionDetails",
      "description": "Represents a targetable digital content label rating tier. This will be populated in the digital_content_label_details field of the TargetingOption when targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`.",
      "properties": {
        "contentRatingTier": {
          "readOnly": true,
          "description": "Output only. An enum for the content label brand safety tiers.",
          "enum": [
            "CONTENT_RATING_TIER_UNSPECIFIED",
            "CONTENT_RATING_TIER_UNRATED",
            "CONTENT_RATING_TIER_GENERAL",
            "CONTENT_RATING_TIER_PARENTAL_GUIDANCE",
            "CONTENT_RATING_TIER_TEENS",
            "CONTENT_RATING_TIER_MATURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Content label is not specified in this version. This enum is a place holder for a default value and does not represent a real content rating.",
            "Content that has not been labeled.",
            "Content suitable for general audiences.",
            "Content suitable for most audiences with parental guidance.",
            "Content suitable for teen and older audiences.",
            "Content suitable only for mature audiences."
          ]
        }
      }
    },
    "LineItem": {
      "id": "LineItem",
      "type": "object",
      "description": "A single line item.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the line item was last updated. Assigned by the system."
        },
        "flight": {
          "description": "Required. The start and end time of the line item's flight.",
          "$ref": "LineItemFlight"
        },
        "partnerCosts": {
          "description": "The partner costs associated with the line item. If absent or empty in CreateLineItem method, the newly created line item will inherit partner costs from its parent insertion order.",
          "items": {
            "$ref": "PartnerCost"
          },
          "type": "array"
        },
        "inventorySourceIds": {
          "type": "array",
          "description": "The IDs of the private inventory sources assigned to the line item.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "partnerRevenueModel": {
          "$ref": "PartnerRevenueModel",
          "description": "Required. The partner revenue model setting of the line item."
        },
        "conversionCounting": {
          "description": "The conversion tracking setting of the line item.",
          "$ref": "ConversionCountingConfig"
        },
        "entityStatus": {
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "type": "string",
          "description": "Required. Controls whether or not the line item can spend its budget and bid on inventory. * For CreateLineItem method, only `ENTITY_STATUS_DRAFT` is allowed. To activate a line item, use UpdateLineItem method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * A line item cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * If the line item's parent insertion order is not active, the line item can't spend its budget even if its own status is `ENTITY_STATUS_ACTIVE`.",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "bidStrategy": {
          "description": "Required. The bidding strategy of the line item.",
          "$ref": "BiddingStrategy"
        },
        "mobileApp": {
          "$ref": "MobileApp",
          "description": "The mobile app promoted by the line item. This is applicable only when line_item_type is either `LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL` or `LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL`."
        },
        "lineItemType": {
          "enum": [
            "LINE_ITEM_TYPE_UNSPECIFIED",
            "LINE_ITEM_TYPE_DISPLAY_DEFAULT",
            "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL",
            "LINE_ITEM_TYPE_VIDEO_DEFAULT",
            "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL",
            "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INVENTORY",
            "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INVENTORY",
            "LINE_ITEM_TYPE_AUDIO_DEFAULT",
            "LINE_ITEM_TYPE_VIDEO_OVER_THE_TOP"
          ],
          "description": "Required. Immutable. The type of the line item.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Image, HTML5, native, or rich media ads.",
            "Display ads that drive installs of an app.",
            "Video ads sold on a CPM basis for a variety of environments.",
            "Video ads that drive installs of an app.",
            "Display ads served on mobile app inventory.",
            "Video ads served on mobile app inventory.",
            "RTB Audio ads sold for a variety of environments.",
            "Over-the-top ads present in OTT insertion orders. This type is only applicable to line items with an insertion order of insertion_order_type `OVER_THE_TOP`."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the line item. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the campaign that the line item belongs to."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the line item.",
          "readOnly": true
        },
        "targetingExpansion": {
          "description": "The [targeting expansion](https://support.google.com/displayvideo/answer/10191558) settings of the line item. This config is only applicable when eligible audience list targeting is assigned to the line item.",
          "$ref": "TargetingExpansionConfig"
        },
        "frequencyCap": {
          "description": "Required. The frequency capping setting of the line item.",
          "$ref": "FrequencyCap"
        },
        "pacing": {
          "$ref": "Pacing",
          "description": "Required. The budget spending speed setting of the line item."
        },
        "budget": {
          "description": "Required. The budget allocation setting of the line item.",
          "$ref": "LineItemBudget"
        },
        "lineItemId": {
          "type": "string",
          "description": "Output only. The unique ID of the line item. Assigned by the system.",
          "format": "int64",
          "readOnly": true
        },
        "creativeIds": {
          "description": "The IDs of the creatives associated with the line item.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "advertiserId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the advertiser the line item belongs to."
        },
        "insertionOrderId": {
          "description": "Required. Immutable. The unique ID of the insertion order that the line item belongs to.",
          "type": "string",
          "format": "int64"
        },
        "integrationDetails": {
          "description": "Integration details of the line item.",
          "$ref": "IntegrationDetails"
        },
        "warningMessages": {
          "readOnly": true,
          "description": "Output only. The warning messages generated by the line item. These warnings do not block saving the line item, but some may block the line item from running.",
          "type": "array",
          "items": {
            "enum": [
              "LINE_ITEM_WARNING_MESSAGE_UNSPECIFIED",
              "INVALID_FLIGHT_DATES",
              "EXPIRED",
              "PENDING_FLIGHT",
              "ALL_PARTNER_ENABLED_EXCHANGES_NEGATIVELY_TARGETED",
              "INVALID_INVENTORY_SOURCE",
              "APP_INVENTORY_INVALID_SITE_TARGETING",
              "APP_INVENTORY_INVALID_AUDIENCE_LISTS",
              "NO_VALID_CREATIVE",
              "PARENT_INSERTION_ORDER_PAUSED",
              "PARENT_INSERTION_ORDER_EXPIRED",
              "NO_POSITIVE_AUDIENCE_LIST_TARGETED",
              "APP_INSTALL_NO_CONVERSION_PIXEL",
              "TARGETING_REVOKED_OR_CLOSED_USER_LIST",
              "APP_INSTALL_NO_OPTIMAL_BIDDING_STRATEGY",
              "CREATIVE_SIZE_NOT_IN_USE_FOR_TARGETED_DEALS",
              "NO_CREATIVE_FOR_TARGETED_DEALS",
              "TARGETING_DEPRECATED_GEO_TARGET"
            ],
            "enumDescriptions": [
              "Not specified or is unknown.",
              "This line item has invalid flight dates. The line item will not run.",
              "This line item's end date is in the past.",
              "This line item will begin running in the future.",
              "All partner enabled exchanges are negatively targeted. The line item will not run.",
              "No active inventory sources are being targeted. The line item will not run.",
              "This line item's Apps & URLs targeting doesn't include any mobile apps. This line item's type requires you to include mobile apps in your channel, sitelist, or apps targeting. The line item will not run.",
              "This line item isn't targeting any mobile users. This line item's type requires you to target a user list with mobile users. The line item will not run.",
              "This line item does not contain any valid creative. The line item will not run.",
              "The insertion order of this line item is paused. The line item will not run.",
              "The insertion order of this line item has its end date set in the past. The line item will not run.",
              "This line item does not target any audience lists, which may result in spending your budget too quickly.",
              "This app install line item does not have any conversion pixel set up.",
              "This line item targets one or more user lists that are no longer available. In the future, this will prevent the line item from serving, so consider removing these lists from your targeting.",
              "This app install line item does not have an optimal bidding strategy.",
              "Deals targeted by this line item accept creative sizes which are not in use. This may limit the line item's delivery or performance.",
              "This line item does not contain any creative for the targeted deals.",
              "This line item targets a geo target that is deprecated."
            ],
            "type": "string"
          }
        }
      }
    },
    "ReviewStatusInfo": {
      "type": "object",
      "description": "Review statuses for the creative.",
      "properties": {
        "publisherReviewStatuses": {
          "description": "Publisher review statuses for the creative.",
          "type": "array",
          "items": {
            "$ref": "PublisherReviewStatus"
          }
        },
        "exchangeReviewStatuses": {
          "description": "Exchange review statuses for the creative.",
          "type": "array",
          "items": {
            "$ref": "ExchangeReviewStatus"
          }
        },
        "approvalStatus": {
          "enum": [
            "APPROVAL_STATUS_UNSPECIFIED",
            "APPROVAL_STATUS_PENDING_NOT_SERVABLE",
            "APPROVAL_STATUS_PENDING_SERVABLE",
            "APPROVAL_STATUS_APPROVED_SERVABLE",
            "APPROVAL_STATUS_REJECTED_NOT_SERVABLE"
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is still under review and not servable.",
            "The creative has passed creative & landing page review and is servable, but is awaiting additional content & policy review.",
            "Both creative & landing page review and content & policy review are approved. The creative is servable.",
            "There is an issue with the creative that must be fixed before it can serve."
          ],
          "description": "Represents the basic approval needed for a creative to begin serving. Summary of creative_and_landing_page_review_status and content_and_policy_review_status.",
          "type": "string"
        },
        "creativeAndLandingPageReviewStatus": {
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "description": "Creative and landing page review status for the creative.",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ]
        },
        "contentAndPolicyReviewStatus": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "type": "string",
          "description": "Content and policy review status for the creative.",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ]
        }
      },
      "id": "ReviewStatusInfo"
    },
    "SdfDownloadTask": {
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "A resource name to be used in media.download to Download the prepared files. Resource names have the format `download/sdfdownloadtasks/media/{media_id}`. `media_id` will be made available by the long running operation service once the task status is done."
        }
      },
      "description": "Type for the response returned by [SdfDownloadTaskService.CreateSdfDownloadTask].",
      "id": "SdfDownloadTask"
    },
    "BulkEditNegativeKeywordsResponse": {
      "id": "BulkEditNegativeKeywordsResponse",
      "type": "object",
      "description": "Response message for NegativeKeywordService.BulkEditNegativeKeywords.",
      "properties": {
        "negativeKeywords": {
          "type": "array",
          "description": "The list of negative keywords that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "NegativeKeyword"
          }
        }
      }
    },
    "Partner": {
      "description": "A single partner in Display & Video 360 (DV360).",
      "type": "object",
      "id": "Partner",
      "properties": {
        "generalConfig": {
          "description": "General settings of the partner.",
          "$ref": "PartnerGeneralConfig"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the partner was last updated. Assigned by the system."
        },
        "adServerConfig": {
          "description": "Ad server related settings of the partner.",
          "$ref": "PartnerAdServerConfig"
        },
        "exchangeConfig": {
          "description": "Settings that control which exchanges are enabled for the partner.",
          "$ref": "ExchangeConfig"
        },
        "entityStatus": {
          "readOnly": true,
          "description": "Output only. The status of the partner.",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ]
        },
        "dataAccessConfig": {
          "$ref": "PartnerDataAccessConfig",
          "description": "Settings that control how partner data may be accessed."
        },
        "partnerId": {
          "format": "int64",
          "description": "Output only. The unique ID of the partner. Assigned by the system.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource name of the partner.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name of the partner. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        }
      }
    },
    "ParentalStatusTargetingOptionDetails": {
      "description": "Represents a targetable parental status. This will be populated in the parental_status_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_PARENTAL_STATUS`.",
      "properties": {
        "parentalStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value when parental status is not specified in this version. This enum is a place holder for default value and does not represent a real parental status option.",
            "The audience is a parent.",
            "The audience is not a parent.",
            "The parental status of the audience is unknown."
          ],
          "description": "Output only. The parental status of an audience.",
          "type": "string",
          "enum": [
            "PARENTAL_STATUS_UNSPECIFIED",
            "PARENTAL_STATUS_PARENT",
            "PARENTAL_STATUS_NOT_A_PARENT",
            "PARENTAL_STATUS_UNKNOWN"
          ]
        }
      },
      "id": "ParentalStatusTargetingOptionDetails",
      "type": "object"
    },
    "IntegrationDetails": {
      "properties": {
        "integrationCode": {
          "type": "string",
          "description": "An external identifier to be associated with the entry. The integration code will show up together with the entry in many places in the system, for example, reporting. Must be UTF-8 encoded with a length of no more than 500 characters."
        },
        "details": {
          "type": "string",
          "description": "Additional details of the entry in string format. Must be UTF-8 encoded with a length of no more than 1000 characters."
        }
      },
      "type": "object",
      "id": "IntegrationDetails",
      "description": "Integration details of an entry."
    },
    "GoogleAudience": {
      "properties": {
        "googleAudienceId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the Google audience. Assigned by the system."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the Google audience. .",
          "type": "string"
        },
        "googleAudienceType": {
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "Affinity type Google audience.",
            "In-Market type Google audience.",
            "Installed-Apps type Google audience.",
            "New-Mobile-Devices type Google audience.",
            "Life-Event type Google audience.",
            "Extended-Demographic type Google audience."
          ],
          "type": "string",
          "description": "Output only. The type of Google audience. .",
          "enum": [
            "GOOGLE_AUDIENCE_TYPE_UNSPECIFIED",
            "GOOGLE_AUDIENCE_TYPE_AFFINITY",
            "GOOGLE_AUDIENCE_TYPE_IN_MARKET",
            "GOOGLE_AUDIENCE_TYPE_INSTALLED_APPS",
            "GOOGLE_AUDIENCE_TYPE_NEW_MOBILE_DEVICES",
            "GOOGLE_AUDIENCE_TYPE_LIFE_EVENT",
            "GOOGLE_AUDIENCE_TYPE_EXTENDED_DEMOGRAPHIC"
          ],
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the google audience."
        }
      },
      "description": "Describes a Google audience resource. Includes Google audience lists.",
      "type": "object",
      "id": "GoogleAudience"
    },
    "InsertionOrderBudget": {
      "properties": {
        "budgetSegments": {
          "description": "Required. The list of budget segments. Use a budget segment to specify a specific budget for a given period of time an insertion order is running.",
          "type": "array",
          "items": {
            "$ref": "InsertionOrderBudgetSegment"
          }
        },
        "budgetUnit": {
          "type": "string",
          "description": "Required. Immutable. The budget unit specifies whether the budget is currency based or impression based.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Budgeting in currency amounts.",
            "Budgeting in impression amounts."
          ],
          "enum": [
            "BUDGET_UNIT_UNSPECIFIED",
            "BUDGET_UNIT_CURRENCY",
            "BUDGET_UNIT_IMPRESSIONS"
          ]
        },
        "automationType": {
          "enum": [
            "INSERTION_ORDER_AUTOMATION_TYPE_UNSPECIFIED",
            "INSERTION_ORDER_AUTOMATION_TYPE_BUDGET",
            "INSERTION_ORDER_AUTOMATION_TYPE_NONE",
            "INSERTION_ORDER_AUTOMATION_TYPE_BID_BUDGET"
          ],
          "type": "string",
          "enumDescriptions": [
            "Insertion order automation option is not specified or is unknown in this version.",
            "Automatic budget allocation. Allow the system to automatically shift budget to owning line items to optimize performance defined by performance_goal. No automation on bid settings.",
            "No automation of bid or budget on insertion order level. Bid and budget must be manually configured at the line item level.",
            "Allow the system to automatically adjust bids and shift budget to owning line items to optimize performance defined by performance_goal."
          ],
          "description": "The type of automation used to manage bid and budget for the insertion order. If this field is unspecified in creation, the value defaults to `INSERTION_ORDER_AUTOMATION_TYPE_NONE`."
        }
      },
      "id": "InsertionOrderBudget",
      "description": "Settings that control how insertion order budget is allocated.",
      "type": "object"
    },
    "BusinessChainTargetingOptionDetails": {
      "properties": {
        "geoRegion": {
          "description": "Output only. The display name of the geographic region, e.g. \"Ontario, Canada\".",
          "readOnly": true,
          "type": "string"
        },
        "businessChain": {
          "readOnly": true,
          "description": "Output only. The display name of the business chain, e.g. \"KFC\", \"Chase Bank\".",
          "type": "string"
        },
        "geoRegionType": {
          "enum": [
            "GEO_REGION_TYPE_UNKNOWN",
            "GEO_REGION_TYPE_OTHER",
            "GEO_REGION_TYPE_COUNTRY",
            "GEO_REGION_TYPE_REGION",
            "GEO_REGION_TYPE_TERRITORY",
            "GEO_REGION_TYPE_PROVINCE",
            "GEO_REGION_TYPE_STATE",
            "GEO_REGION_TYPE_PREFECTURE",
            "GEO_REGION_TYPE_GOVERNORATE",
            "GEO_REGION_TYPE_CANTON",
            "GEO_REGION_TYPE_UNION_TERRITORY",
            "GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY",
            "GEO_REGION_TYPE_DMA_REGION",
            "GEO_REGION_TYPE_METRO",
            "GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT",
            "GEO_REGION_TYPE_COUNTY",
            "GEO_REGION_TYPE_MUNICIPALITY",
            "GEO_REGION_TYPE_CITY",
            "GEO_REGION_TYPE_POSTAL_CODE",
            "GEO_REGION_TYPE_DEPARTMENT",
            "GEO_REGION_TYPE_AIRPORT",
            "GEO_REGION_TYPE_TV_REGION",
            "GEO_REGION_TYPE_OKRUG",
            "GEO_REGION_TYPE_BOROUGH",
            "GEO_REGION_TYPE_CITY_REGION",
            "GEO_REGION_TYPE_ARRONDISSEMENT",
            "GEO_REGION_TYPE_NEIGHBORHOOD",
            "GEO_REGION_TYPE_UNIVERSITY",
            "GEO_REGION_TYPE_DISTRICT"
          ],
          "type": "string",
          "description": "Output only. The type of the geographic region.",
          "enumDescriptions": [
            "The geographic region type is unknown.",
            "The geographic region type is other.",
            "The geographic region is a country.",
            "The geographic region type is region.",
            "The geographic region is a territory.",
            "The geographic region is a province.",
            "The geographic region is a state.",
            "The geographic region is a prefecture.",
            "The geographic region is a governorate.",
            "The geographic region is a canton.",
            "The geographic region is a union territory.",
            "The geographic region is an autonomous community.",
            "The geographic region is a designated market area (DMA) region.",
            "The geographic region type is metro.",
            "The geographic region is a congressional district.",
            "The geographic region is a county.",
            "The geographic region is a municipality.",
            "The geographic region is a city.",
            "The geographic region targeting type is postal code.",
            "The geographic region targeting type is department.",
            "The geographic region is an airport.",
            "The geographic region is a TV region.",
            "The geographic region is an okrug.",
            "The geographic region is a borough.",
            "The geographic region is a city region.",
            "The geographic region is an arrondissement.",
            "The geographic region is a neighborhood.",
            "The geographic region is a university.",
            "The geographic region is a district."
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "id": "BusinessChainTargetingOptionDetails",
      "description": "Represents a targetable business chain within a geo region. This will be populated in the business_chain_details field when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`."
    },
    "ExchangeConfig": {
      "type": "object",
      "description": "Settings that control which exchanges are enabled for a partner.",
      "properties": {
        "enabledExchanges": {
          "items": {
            "$ref": "ExchangeConfigEnabledExchange"
          },
          "type": "array",
          "description": "All enabled exchanges in the partner. Duplicate enabled exchanges will be ignored."
        }
      },
      "id": "ExchangeConfig"
    },
    "ListNegativeKeywordsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListNegativeKeywords` method to retrieve the next page of results."
        },
        "negativeKeywords": {
          "items": {
            "$ref": "NegativeKeyword"
          },
          "type": "array",
          "description": "The list of negative keywords. This list will be absent if empty."
        }
      },
      "type": "object",
      "id": "ListNegativeKeywordsResponse",
      "description": "Response message for NegativeKeywordService.ListNegativeKeywords."
    },
    "ActiveViewVideoViewabilityMetricConfig": {
      "properties": {
        "minimumDuration": {
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "No duration value.",
            "0 seconds.",
            "1 second.",
            "2 seconds.",
            "3 seconds.",
            "4 seconds.",
            "5 seconds.",
            "6 seconds.",
            "7 seconds.",
            "8 seconds.",
            "9 seconds.",
            "10 seconds.",
            "11 seconds.",
            "12 seconds.",
            "13 seconds.",
            "14 seconds.",
            "15 seconds.",
            "30 seconds.",
            "45 seconds.",
            "60 seconds."
          ],
          "type": "string",
          "description": "The minimum visible video duration required (in seconds) in order for an impression to be recorded. You must specify minimum_duration, minimum_quartile or both. If both are specified, an impression meets the metric criteria if either requirement is met (whichever happens first).",
          "enum": [
            "VIDEO_DURATION_UNSPECIFIED",
            "VIDEO_DURATION_SECONDS_NONE",
            "VIDEO_DURATION_SECONDS_0",
            "VIDEO_DURATION_SECONDS_1",
            "VIDEO_DURATION_SECONDS_2",
            "VIDEO_DURATION_SECONDS_3",
            "VIDEO_DURATION_SECONDS_4",
            "VIDEO_DURATION_SECONDS_5",
            "VIDEO_DURATION_SECONDS_6",
            "VIDEO_DURATION_SECONDS_7",
            "VIDEO_DURATION_SECONDS_8",
            "VIDEO_DURATION_SECONDS_9",
            "VIDEO_DURATION_SECONDS_10",
            "VIDEO_DURATION_SECONDS_11",
            "VIDEO_DURATION_SECONDS_12",
            "VIDEO_DURATION_SECONDS_13",
            "VIDEO_DURATION_SECONDS_14",
            "VIDEO_DURATION_SECONDS_15",
            "VIDEO_DURATION_SECONDS_30",
            "VIDEO_DURATION_SECONDS_45",
            "VIDEO_DURATION_SECONDS_60"
          ]
        },
        "minimumQuartile": {
          "description": "The minimum visible video duration required, based on the video quartiles, in order for an impression to be recorded. You must specify minimum_duration, minimum_quartile or both. If both are specified, an impression meets the metric criteria if either requirement is met (whichever happens first).",
          "enum": [
            "VIDEO_DURATION_QUARTILE_UNSPECIFIED",
            "VIDEO_DURATION_QUARTILE_NONE",
            "VIDEO_DURATION_QUARTILE_FIRST",
            "VIDEO_DURATION_QUARTILE_SECOND",
            "VIDEO_DURATION_QUARTILE_THIRD",
            "VIDEO_DURATION_QUARTILE_FOURTH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "No quartile value.",
            "First quartile.",
            "Second quartile (midpoint).",
            "Third quartile.",
            "Fourth quartile (completion)."
          ]
        },
        "minimumVolume": {
          "description": "Required. The minimum percentage of the video ad's volume required in order for an impression to be recorded.",
          "enum": [
            "VIDEO_VOLUME_PERCENT_UNSPECIFIED",
            "VIDEO_VOLUME_PERCENT_0",
            "VIDEO_VOLUME_PERCENT_10"
          ],
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "0% volume.",
            "10% volume."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the custom metric.",
          "type": "string"
        },
        "minimumViewability": {
          "enum": [
            "VIEWABILITY_PERCENT_UNSPECIFIED",
            "VIEWABILITY_PERCENT_0",
            "VIEWABILITY_PERCENT_25",
            "VIEWABILITY_PERCENT_50",
            "VIEWABILITY_PERCENT_75",
            "VIEWABILITY_PERCENT_100"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "0% viewable.",
            "25% viewable.",
            "50% viewable.",
            "75% viewable.",
            "100% viewable."
          ],
          "description": "Required. The minimum percentage of the video ad's pixels visible on the screen in order for an impression to be recorded."
        }
      },
      "type": "object",
      "id": "ActiveViewVideoViewabilityMetricConfig",
      "description": "Configuration for custom Active View video viewability metrics."
    },
    "CarrierAndIspTargetingOptionDetails": {
      "description": "Represents a targetable carrier or ISP. This will be populated in the carrier_and_isp_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`.",
      "type": "object",
      "id": "CarrierAndIspTargetingOptionDetails",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the carrier or ISP."
        },
        "type": {
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Indicates this targeting resource refers to an ISP.",
            "Indicates this targeting resource refers to a mobile carrier."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "CARRIER_AND_ISP_TYPE_UNSPECIFIED",
            "CARRIER_AND_ISP_TYPE_ISP",
            "CARRIER_AND_ISP_TYPE_CARRIER"
          ],
          "description": "Output only. The type indicating if it's carrier or ISP."
        }
      }
    },
    "CombinedAudience": {
      "description": "Describes a combined audience resource.",
      "id": "CombinedAudience",
      "type": "object",
      "properties": {
        "combinedAudienceId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the combined audience. Assigned by the system."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the combined audience.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the combined audience. .",
          "readOnly": true
        }
      }
    },
    "FirstAndThirdPartyAudienceGroup": {
      "type": "object",
      "id": "FirstAndThirdPartyAudienceGroup",
      "properties": {
        "settings": {
          "description": "Required. All first and third party audience targeting settings in first and third party audience group. Repeated settings with same id are not allowed.",
          "type": "array",
          "items": {
            "$ref": "FirstAndThirdPartyAudienceTargetingSetting"
          }
        }
      },
      "description": "Details of first and third party audience group. All first and third party audience targeting settings are logically ‘OR’ of each other."
    },
    "SensitiveCategoryAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Targeting details for sensitive category. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`.",
      "properties": {
        "sensitiveCategory": {
          "enum": [
            "SENSITIVE_CATEGORY_UNSPECIFIED",
            "SENSITIVE_CATEGORY_ADULT",
            "SENSITIVE_CATEGORY_DEROGATORY",
            "SENSITIVE_CATEGORY_DOWNLOADS_SHARING",
            "SENSITIVE_CATEGORY_WEAPONS",
            "SENSITIVE_CATEGORY_GAMBLING",
            "SENSITIVE_CATEGORY_VIOLENCE",
            "SENSITIVE_CATEGORY_SUGGESTIVE",
            "SENSITIVE_CATEGORY_PROFANITY",
            "SENSITIVE_CATEGORY_ALCOHOL",
            "SENSITIVE_CATEGORY_DRUGS",
            "SENSITIVE_CATEGORY_TOBACCO",
            "SENSITIVE_CATEGORY_POLITICS",
            "SENSITIVE_CATEGORY_RELIGION",
            "SENSITIVE_CATEGORY_TRAGEDY",
            "SENSITIVE_CATEGORY_TRANSPORTATION_ACCIDENTS",
            "SENSITIVE_CATEGORY_SENSITIVE_SOCIAL_ISSUES",
            "SENSITIVE_CATEGORY_SHOCKING"
          ],
          "description": "Output only. An enum for the DV360 Sensitive category content classifier.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and doesn't specify a DV360 sensitive category.",
            "Adult or pornographic text, image, or video content.",
            "Content that may be construed as biased against individuals, groups, or organizations based on criteria such as race, religion, disability, sex, age, veteran status, sexual orientation, gender identity, or political affiliation. May also indicate discussion of such content, for instance, in an academic or journalistic context.",
            "Content related to audio, video, or software downloads.",
            "Contains content related to personal weapons, including knives, guns, small firearms, and ammunition. Selecting either \"weapons\" or \"sensitive social issues\" will result in selecting both.",
            "Contains content related to betting or wagering in a real-world or online setting.",
            "Content which may be considered graphically violent, gory, gruesome, or shocking, such as street fighting videos, accident photos, descriptions of torture, etc.",
            "Adult content, as well as suggestive content that's not explicitly pornographic. This category includes all pages categorized as adult.",
            "Prominent use of words considered indecent, such as curse words and sexual slang. Pages with only very occasional usage, such as news sites that might include such words in a quotation, are not included.",
            "Contains content related to alcoholic beverages, alcohol brands, recipes, etc.",
            "Contains content related to the recreational use of legal or illegal drugs, as well as to drug paraphernalia or cultivation.",
            "Contains content related to tobacco and tobacco accessories, including lighters, humidors, ashtrays, etc.",
            "Political news and media, including discussions of social, governmental, and public policy.",
            "Content related to religious thought or beliefs.",
            "Content related to death, disasters, accidents, war, etc.",
            "Content related to motor vehicle, aviation or other transportation accidents.",
            "Issues that evoke strong, opposing views and spark debate. These include issues that are controversial in most countries and markets (such as abortion), as well as those that are controversial in specific countries and markets (such as immigration reform in the United States).",
            "Content which may be considered shocking or disturbing, such as violent news stories, stunts, or toilet humor."
          ]
        },
        "excludedTargetingOptionId": {
          "type": "string",
          "description": "Required. ID of the sensitive category to be EXCLUDED."
        }
      },
      "id": "SensitiveCategoryAssignedTargetingOptionDetails"
    },
    "ListInsertionOrderAssignedTargetingOptionsResponse": {
      "id": "ListInsertionOrderAssignedTargetingOptionsResponse",
      "type": "object",
      "properties": {
        "assignedTargetingOptions": {
          "description": "The list of assigned targeting options. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "AssignedTargetingOption"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListInsertionOrderAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return."
        }
      },
      "description": "Response message for ListInsertionOrderAssignedTargetingOptions."
    },
    "AdvertiserSdfConfig": {
      "type": "object",
      "properties": {
        "sdfConfig": {
          "description": "The SDF configuration for the advertiser. * Required when overridePartnerSdfConfig is `true`. * Output only when overridePartnerSdfConfig is `false`.",
          "$ref": "SdfConfig"
        },
        "overridePartnerSdfConfig": {
          "type": "boolean",
          "description": "Whether or not this advertiser overrides the SDF configuration of its parent partner. By default, an advertiser inherits the SDF configuration from the parent partner. To override the partner configuration, set this field to `true` and provide the new configuration in sdfConfig."
        }
      },
      "id": "AdvertiserSdfConfig",
      "description": "Structured Data Files (SDF) settings of an advertiser."
    },
    "NativeContentPositionAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "contentPosition": {
          "enumDescriptions": [
            "Native content position is not specified in this version. This enum is a place holder for a default value and does not represent a real native content position.",
            "The native content position is unknown.",
            "Native content position is in-article, i.e., ads appear between the paragraphs of pages.",
            "Native content position is in-feed, i.e., ads appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Native content position is peripheral, i.e., ads appear outside of core content on pages, such as the right- or left-hand side of the page.",
            "Native content position is recommendation, i.e., ads appear in sections for recommended content."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content position.",
          "enum": [
            "NATIVE_CONTENT_POSITION_UNSPECIFIED",
            "NATIVE_CONTENT_POSITION_UNKNOWN",
            "NATIVE_CONTENT_POSITION_IN_ARTICLE",
            "NATIVE_CONTENT_POSITION_IN_FEED",
            "NATIVE_CONTENT_POSITION_PERIPHERAL",
            "NATIVE_CONTENT_POSITION_RECOMMENDATION"
          ]
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_NATIVE_CONTENT_POSITION`."
        }
      },
      "description": "Details for native content position assigned targeting option. This will be populated in the native_content_position_details field when targeting_type is `TARGETING_TYPE_NATIVE_CONTENT_POSITION`. Explicitly targeting all options is not supported. Remove all native content position targeting options to achieve this effect.",
      "id": "NativeContentPositionAssignedTargetingOptionDetails"
    },
    "DoubleVerify": {
      "id": "DoubleVerify",
      "type": "object",
      "description": "Details of DoubleVerify settings.",
      "properties": {
        "fraudInvalidTraffic": {
          "description": "Avoid Sites and Apps with historical Fraud & IVT Rates.",
          "$ref": "DoubleVerifyFraudInvalidTraffic"
        },
        "videoViewability": {
          "$ref": "DoubleVerifyVideoViewability",
          "description": "Video viewability settings (applicable to video line items only)."
        },
        "displayViewability": {
          "$ref": "DoubleVerifyDisplayViewability",
          "description": "Display viewability settings (applicable to display line items only)."
        },
        "customSegmentId": {
          "format": "int64",
          "description": "The custom segment ID provided by DoubleVerify. The ID must start with \"51\" and consist of eight digits. Custom segment ID cannot be specified along with any of the following fields: * brand_safety_categories * avoided_age_ratings * app_star_rating * fraud_invalid_traffic",
          "type": "string"
        },
        "brandSafetyCategories": {
          "description": "DV Brand Safety Controls.",
          "$ref": "DoubleVerifyBrandSafetyCategories"
        },
        "appStarRating": {
          "$ref": "DoubleVerifyAppStarRating",
          "description": "Avoid bidding on apps with the star ratings."
        },
        "avoidedAgeRatings": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "This enum is only a placeholder and it doesn't specify any age rating options.",
              "Apps with unknown age rating.",
              "Apps rated for Everyone (4+).",
              "Apps rated for Everyone (9+).",
              "Apps rated for Teens (12+).",
              "Apps rated for Mature (17+).",
              "Apps rated for Adults Only (18+)."
            ],
            "enum": [
              "AGE_RATING_UNSPECIFIED",
              "APP_AGE_RATE_UNKNOWN",
              "APP_AGE_RATE_4_PLUS",
              "APP_AGE_RATE_9_PLUS",
              "APP_AGE_RATE_12_PLUS",
              "APP_AGE_RATE_17_PLUS",
              "APP_AGE_RATE_18_PLUS"
            ],
            "type": "string"
          },
          "description": "Avoid bidding on apps with the age rating."
        }
      }
    },
    "ListGoogleAudiencesResponse": {
      "properties": {
        "googleAudiences": {
          "description": "The list of Google audiences. This list will be absent if empty.",
          "items": {
            "$ref": "GoogleAudience"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListGoogleAudiences` method to retrieve the next page of results."
        }
      },
      "type": "object",
      "id": "ListGoogleAudiencesResponse"
    },
    "ExchangeConfigEnabledExchange": {
      "type": "object",
      "properties": {
        "exchange": {
          "description": "The enabled exchange.",
          "type": "string",
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_MEDIANET"
          ],
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Media.net."
          ]
        },
        "seatId": {
          "description": "Output only. Seat ID of the enabled exchange.",
          "type": "string",
          "readOnly": true
        },
        "googleAdManagerBuyerNetworkId": {
          "description": "Output only. Network ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.",
          "readOnly": true,
          "type": "string"
        },
        "googleAdManagerAgencyId": {
          "description": "Output only. Agency ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An enabled exchange in the partner.",
      "id": "ExchangeConfigEnabledExchange"
    },
    "ListChannelsResponse": {
      "type": "object",
      "properties": {
        "channels": {
          "description": "The list of channels. This list will be absent if empty.",
          "items": {
            "$ref": "Channel"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListChannels` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListChannelsResponse"
    },
    "ExchangeReviewStatus": {
      "id": "ExchangeReviewStatus",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ],
          "description": "Status of the exchange review.",
          "type": "string"
        },
        "exchange": {
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_MEDIANET"
          ],
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Media.net."
          ],
          "type": "string",
          "description": "The exchange reviewing the creative."
        }
      },
      "type": "object",
      "description": "Exchange review status for the creative."
    },
    "NativeContentPositionTargetingOptionDetails": {
      "description": "Represents a targetable native content position. This will be populated in the native_content_position_details field when targeting_type is `TARGETING_TYPE_NATIVE_CONTENT_POSITION`.",
      "properties": {
        "contentPosition": {
          "readOnly": true,
          "enum": [
            "NATIVE_CONTENT_POSITION_UNSPECIFIED",
            "NATIVE_CONTENT_POSITION_UNKNOWN",
            "NATIVE_CONTENT_POSITION_IN_ARTICLE",
            "NATIVE_CONTENT_POSITION_IN_FEED",
            "NATIVE_CONTENT_POSITION_PERIPHERAL",
            "NATIVE_CONTENT_POSITION_RECOMMENDATION"
          ],
          "description": "Output only. The content position.",
          "enumDescriptions": [
            "Native content position is not specified in this version. This enum is a place holder for a default value and does not represent a real native content position.",
            "The native content position is unknown.",
            "Native content position is in-article, i.e., ads appear between the paragraphs of pages.",
            "Native content position is in-feed, i.e., ads appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Native content position is peripheral, i.e., ads appear outside of core content on pages, such as the right- or left-hand side of the page.",
            "Native content position is recommendation, i.e., ads appear in sections for recommended content."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "NativeContentPositionTargetingOptionDetails"
    },
    "BulkEditPartnerAssignedTargetingOptionsResponse": {
      "type": "object",
      "id": "BulkEditPartnerAssignedTargetingOptionsResponse",
      "properties": {
        "createdAssignedTargetingOptions": {
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "description": "The list of assigned targeting options that have been successfully created. This list will be absent if empty.",
          "type": "array"
        }
      }
    },
    "OnScreenPositionTargetingOptionDetails": {
      "type": "object",
      "id": "OnScreenPositionTargetingOptionDetails",
      "description": "Represents a targetable on screen position, which could be used by display and video ads. This will be populated in the on_screen_position_details field when targeting_type is `TARGETING_TYPE_ON_SCREEN_POSITION`.",
      "properties": {
        "onScreenPosition": {
          "enum": [
            "ON_SCREEN_POSITION_UNSPECIFIED",
            "ON_SCREEN_POSITION_UNKNOWN",
            "ON_SCREEN_POSITION_ABOVE_THE_FOLD",
            "ON_SCREEN_POSITION_BELOW_THE_FOLD"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The on screen position.",
          "enumDescriptions": [
            "On screen position is not specified in this version. This enum is a place holder for a default value and does not represent a real on screen position.",
            "The ad position is unknown on the screen.",
            "The ad is located above the fold.",
            "The ad is located below the fold."
          ]
        }
      }
    },
    "FrequencyCap": {
      "properties": {
        "unlimited": {
          "type": "boolean",
          "description": "Whether unlimited frequency capping is applied. When this field is set to `true`, the remaining frequency cap fields are not applicable."
        },
        "timeUnit": {
          "type": "string",
          "enum": [
            "TIME_UNIT_UNSPECIFIED",
            "TIME_UNIT_LIFETIME",
            "TIME_UNIT_MONTHS",
            "TIME_UNIT_WEEKS",
            "TIME_UNIT_DAYS",
            "TIME_UNIT_HOURS",
            "TIME_UNIT_MINUTES"
          ],
          "description": "The time unit in which the frequency cap will be applied. Required when unlimited is `false`.",
          "enumDescriptions": [
            "Time unit value is not specified or is unknown in this version.",
            "The frequency cap will be applied to the whole life time of the line item.",
            "The frequency cap will be applied to a number of months.",
            "The frequency cap will be applied to a number of weeks.",
            "The frequency cap will be applied to a number of days.",
            "The frequency cap will be applied to a number of hours.",
            "The frequency cap will be applied to a number of minutes."
          ]
        },
        "timeUnitCount": {
          "format": "int32",
          "description": "The number of time_unit the frequency cap will last. Required when unlimited is `false`. The following restrictions apply based on the value of time_unit: * `TIME_UNIT_LIFETIME` - this field is output only and will default to 1 * `TIME_UNIT_MONTHS` - must be between 1 and 2 * `TIME_UNIT_WEEKS` - must be between 1 and 4 * `TIME_UNIT_DAYS` - must be between 1 and 6 * `TIME_UNIT_HOURS` - must be between 1 and 23 * `TIME_UNIT_MINUTES` - must be between 1 and 59",
          "type": "integer"
        },
        "maxImpressions": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of times a user may be shown with the same ad during this period. Must be greater than 0. Required when unlimited is `false`."
        }
      },
      "type": "object",
      "id": "FrequencyCap",
      "description": "Settings that control the number of times a user may be shown with the same ad during a given time period."
    },
    "FirstAndThirdPartyAudience": {
      "id": "FirstAndThirdPartyAudience",
      "type": "object",
      "properties": {
        "firstAndThirdPartyAudienceType": {
          "description": "Output only. Whether the audience is a first or third party audience.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "Audience that is created via usage of client data.",
            "Audience that is provided by Third Party data providers."
          ],
          "enum": [
            "FIRST_AND_THIRD_PARTY_AUDIENCE_TYPE_UNSPECIFIED",
            "FIRST_AND_THIRD_PARTY_AUDIENCE_TYPE_FIRST_PARTY",
            "FIRST_AND_THIRD_PARTY_AUDIENCE_TYPE_THIRD_PARTY"
          ]
[...]
