{
  "version": "v2",
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "canonicalName": "DLP",
  "servicePath": "",
  "id": "dlp:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "name": "dlp",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "baseUrl": "https://dlp.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "GooglePrivacyDlpV2DateShiftConfig": {
      "id": "GooglePrivacyDlpV2DateShiftConfig",
      "description": "Shifts dates by random number of days, with option to be consistent for the same context. See https://cloud.google.com/dlp/docs/concepts-date-shifting to learn more.",
      "type": "object",
      "properties": {
        "lowerBoundDays": {
          "type": "integer",
          "description": "Required. For example, -5 means shift date to at most 5 days back in the past.",
          "format": "int32"
        },
        "upperBoundDays": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Range of shift in days. Actual shift will be selected at random within this range (inclusive ends). Negative means shift to earlier in time. Must not be more than 365250 days (1000 years) each direction. For example, 3 means shift date to at most 3 days into the future."
        },
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Points to the field that contains the context, for example, an entity id. If set, must also set cryptoKey. If set, shift will be consistent for the given context."
        },
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "Causes the shift to be computed based on this key and the context. This results in the same shift for the same context and crypto_key. If set, must also set context. Can only be applied to table items."
        }
      }
    },
    "GooglePrivacyDlpV2StorageConfig": {
      "id": "GooglePrivacyDlpV2StorageConfig",
      "properties": {
        "datastoreOptions": {
          "$ref": "GooglePrivacyDlpV2DatastoreOptions",
          "description": "Google Cloud Datastore options."
        },
        "timespanConfig": {
          "$ref": "GooglePrivacyDlpV2TimespanConfig"
        },
        "cloudStorageOptions": {
          "$ref": "GooglePrivacyDlpV2CloudStorageOptions",
          "description": "Cloud Storage options."
        },
        "hybridOptions": {
          "description": "Hybrid inspection options.",
          "$ref": "GooglePrivacyDlpV2HybridOptions"
        },
        "bigQueryOptions": {
          "$ref": "GooglePrivacyDlpV2BigQueryOptions",
          "description": "BigQuery options."
        }
      },
      "type": "object",
      "description": "Shared message indicating Cloud storage type."
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "description": "Result of the l-diversity computation.",
      "type": "object",
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          },
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityResult"
    },
    "GooglePrivacyDlpV2InspectionRuleSet": {
      "properties": {
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "description": "List of infoTypes this rule set is applied to."
        },
        "rules": {
          "description": "Set of rules to be applied to infoTypes. The rules are applied in order.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRule"
          }
        }
      },
      "description": "Rule set for modifying a set of infoTypes to alter behavior under certain circumstances, depending on the specific details of the rules within the set.",
      "id": "GooglePrivacyDlpV2InspectionRuleSet",
      "type": "object"
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "id": "GooglePrivacyDlpV2CloudStorageFileSet",
      "type": "object",
      "description": "Message representing a set of files in Cloud Storage.",
      "properties": {
        "url": {
          "description": "The url, in the format `gs:///`. Trailing wildcard in the path is allowed.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2HybridInspectJobTriggerRequest": {
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      },
      "description": "Request to search for potentially sensitive info in a custom location.",
      "id": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "type": "object",
      "properties": {
        "bucketValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          },
          "description": "Sample of value frequencies in this bucket. The total number of values returned per bucket is capped at 20."
        },
        "bucketValueCount": {
          "format": "int64",
          "description": "Total number of distinct values in this bucket.",
          "type": "string"
        },
        "valueFrequencyUpperBound": {
          "type": "string",
          "description": "Upper bound on the value frequency of the values in this bucket.",
          "format": "int64"
        },
        "bucketSize": {
          "format": "int64",
          "type": "string",
          "description": "Total number of values in this bucket."
        },
        "valueFrequencyLowerBound": {
          "type": "string",
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket",
      "description": "Histogram of value frequencies in the column."
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "id": "GooglePrivacyDlpV2BigQueryOptions",
      "properties": {
        "rowsLimit": {
          "description": "Max number of rows to scan. If the table has more rows than this value, the rest of the rows are omitted. If not set, or if set to 0, all rows will be scanned. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "type": "string",
          "format": "int64"
        },
        "rowsLimitPercent": {
          "description": "Max percentage of rows to scan. The rest are omitted. The number of rows scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "format": "int32",
          "type": "integer"
        },
        "includedFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "Limit scanning only to these fields."
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "sampleMethod": {
          "type": "string",
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "enumDescriptions": [
            "",
            "Scan groups of rows in the order BigQuery provides (default). Multiple groups of rows may be scanned in parallel, so results may not appear in the same order the rows are read.",
            "Randomly pick groups of rows to scan."
          ]
        },
        "excludedFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "References to fields excluded from scanning. This allows you to skip inspection of entire columns which you know have no findings."
        },
        "identifyingFields": {
          "type": "array",
          "description": "Table fields that may uniquely identify a row within the table. When `actions.saveFindings.outputConfig.table` is specified, the values of columns specified here are available in the output table under `location.content_locations.record_location.record_key.id_values`. Nested fields such as `person.birthdate.year` are allowed.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "type": "object",
      "description": "Options defining BigQuery table and row identifiers."
    },
    "GooglePrivacyDlpV2AuxiliaryTable": {
      "type": "object",
      "description": "An auxiliary table contains statistical information on the relative frequency of different quasi-identifiers values. It has one or several quasi-identifiers columns, and one column that indicates the relative frequency of each quasi-identifier tuple. If a tuple is present in the data but not in the auxiliary table, the corresponding relative frequency is assumed to be zero (and thus, the tuple is highly reidentifiable).",
      "properties": {
        "relativeFrequency": {
          "description": "Required. The relative frequency column must contain a floating-point number between 0 and 1 (inclusive). Null values are assumed to be zero.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "quasiIds": {
          "description": "Required. Quasi-identifier columns.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiIdField"
          }
        },
        "table": {
          "description": "Required. Auxiliary table location.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "id": "GooglePrivacyDlpV2AuxiliaryTable"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "properties": {
        "quasiIds": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          },
          "description": "Required. Fields considered to be quasi-identifiers. No two fields can have the same tag."
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code.",
          "type": "string"
        },
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers field must appear in exactly one field of one auxiliary table.",
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to figure out that one given individual appears in a de-identified dataset. Similarly to the k-map metric, we cannot compute δ-presence exactly without knowing the attack dataset, so we use a statistical model instead."
    },
    "GooglePrivacyDlpV2EntityId": {
      "type": "object",
      "id": "GooglePrivacyDlpV2EntityId",
      "properties": {
        "field": {
          "description": "Composite key indicating which field contains the entity identifier.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "description": "An entity in a dataset is a field or set of fields that correspond to a single person. For example, in medical records the `EntityId` might be a patient identifier, or for financial records it might be an account identifier. This message is used when generalizations or analysis must take into account that multiple rows correspond to the same entity."
    },
    "GooglePrivacyDlpV2QuasiId": {
      "description": "A column with a semantic tag attached.",
      "type": "object",
      "id": "GooglePrivacyDlpV2QuasiId",
      "properties": {
        "customTag": {
          "type": "string",
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below)."
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Identifies the column."
        },
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      }
    },
    "GooglePrivacyDlpV2TransformationDetailsStorageConfig": {
      "id": "GooglePrivacyDlpV2TransformationDetailsStorageConfig",
      "properties": {
        "table": {
          "description": "The BigQuery table in which to store the output. This may be an existing table or in a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_transformation_details_yyyy_mm_dd_[dlp_job_id]. Pacific time zone will be used for generating the date details.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "description": "Config for storing transformation details.",
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridInspectDlpJobRequest": {
      "properties": {
        "hybridItem": {
          "$ref": "GooglePrivacyDlpV2HybridContentItem",
          "description": "The item to inspect."
        }
      },
      "type": "object",
      "description": "Request to search for potentially sensitive info in a custom location.",
      "id": "GooglePrivacyDlpV2HybridInspectDlpJobRequest"
    },
    "GooglePrivacyDlpV2ReplaceDictionaryConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2ReplaceDictionaryConfig",
      "description": "Replace each input value with a value randomly selected from the dictionary.",
      "properties": {
        "wordList": {
          "$ref": "GooglePrivacyDlpV2WordList",
          "description": "A list of words to select from for random replacement. The [limits](https://cloud.google.com/dlp/limits) page contains details about the size limits of dictionaries."
        }
      }
    },
    "GooglePrivacyDlpV2Expressions": {
      "id": "GooglePrivacyDlpV2Expressions",
      "description": "An expression, consisting of an operator and conditions.",
      "properties": {
        "conditions": {
          "$ref": "GooglePrivacyDlpV2Conditions",
          "description": "Conditions to apply to the expression."
        },
        "logicalOperator": {
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ],
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Condition": {
      "type": "object",
      "properties": {
        "operator": {
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Equal. Attempts to match even with incompatible types.",
            "Not equal to. Attempts to match even with incompatible types.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ],
          "description": "Required. Operator used to compare the field or infoType to the value."
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Field within the record this condition is evaluated against."
        },
        "value": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to compare against. [Mandatory, except for `EXISTS` tests.]"
        }
      },
      "description": "The field type of `value` and `field` do not need to match to be considered equal, but not all comparisons are possible. EQUAL_TO and NOT_EQUAL_TO attempt to compare even with incompatible types, but all other comparisons are invalid with incompatible types. A `value` of type: - `string` can be compared against all other types - `boolean` can only be compared against other booleans - `integer` can be compared against doubles or a string if the string value can be parsed as an integer. - `double` can be compared against integers or a string if the string can be parsed as a double. - `Timestamp` can be compared against strings in RFC 3339 date string format. - `TimeOfDay` can be compared against timestamps and strings in the format of 'HH:mm:ss'. If we fail to compare do to type mismatch, a warning will be given and the condition will evaluate to false.",
      "id": "GooglePrivacyDlpV2Condition"
    },
    "GooglePrivacyDlpV2RequestedRiskAnalysisOptions": {
      "type": "object",
      "description": "Risk analysis options.",
      "id": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions",
      "properties": {
        "jobConfig": {
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig",
          "description": "The job config for the risk job."
        }
      }
    },
    "GooglePrivacyDlpV2HybridFindingDetails": {
      "properties": {
        "labels": {
          "description": "Labels to represent user provided metadata about the data being inspected. If configured by the job, some key values may be required. The labels associated with `Finding`'s produced by hybrid inspection. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "containerDetails": {
          "$ref": "GooglePrivacyDlpV2Container",
          "description": "Details about the container where the content being inspected is from."
        },
        "fileOffset": {
          "type": "string",
          "format": "int64",
          "description": "Offset in bytes of the line, from the beginning of the file, where the finding is located. Populate if the item being scanned is only part of a bigger item, such as a shard of a file and you want to track the absolute position of the finding."
        },
        "rowOffset": {
          "description": "Offset of the row for tables. Populate if the row(s) being scanned are part of a bigger dataset and you want to keep track of their absolute position.",
          "format": "int64",
          "type": "string"
        },
        "tableOptions": {
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys. If not known ahead of time, can also be set within each inspect hybrid call and the two will be merged. Note that identifying_fields will only be stored to BigQuery, and only if the BigQuery action has been included.",
          "$ref": "GooglePrivacyDlpV2TableOptions"
        }
      },
      "description": "Populate to associate additional data with each finding.",
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridFindingDetails"
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse",
      "properties": {
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The de-identified item."
        },
        "overview": {
          "description": "An overview of the changes that were made on the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        }
      },
      "description": "Results of de-identifying a ContentItem."
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryConfig": {
      "properties": {
        "bigQueryField": {
          "description": "Field in a BigQuery table where each cell represents a dictionary phrase.",
          "$ref": "GooglePrivacyDlpV2BigQueryField"
        },
        "outputPath": {
          "description": "Location to store dictionary artifacts in Cloud Storage. These files will only be accessible by project owners and the DLP API. If any of these artifacts are modified, the dictionary is considered invalid and can no longer be used.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        },
        "cloudStorageFileSet": {
          "$ref": "GooglePrivacyDlpV2CloudStorageFileSet",
          "description": "Set of files containing newline-delimited lists of dictionary phrases."
        }
      },
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryConfig",
      "type": "object",
      "description": "Configuration for a custom dictionary created from a data source of any size up to the maximum size defined in the [limits](https://cloud.google.com/dlp/limits) page. The artifacts of dictionary creation are stored in the specified Cloud Storage location. Consider using `CustomInfoType.Dictionary` for smaller dictionaries that satisfy the size requirements."
    },
    "GooglePrivacyDlpV2RecordCondition": {
      "type": "object",
      "properties": {
        "expressions": {
          "description": "An expression.",
          "$ref": "GooglePrivacyDlpV2Expressions"
        }
      },
      "description": "A condition for determining whether a transformation should be applied to a field.",
      "id": "GooglePrivacyDlpV2RecordCondition"
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "description": "Location of the finding within an image.",
      "id": "GooglePrivacyDlpV2ImageLocation",
      "type": "object",
      "properties": {
        "boundingBoxes": {
          "type": "array",
          "description": "Bounding boxes locating the pixels within the image containing the finding.",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          }
        }
      }
    },
    "GooglePrivacyDlpV2RecordTransformations": {
      "properties": {
        "recordSuppressions": {
          "description": "Configuration defining which records get suppressed entirely. Records that match any suppression rule are omitted from the output.",
          "items": {
            "$ref": "GooglePrivacyDlpV2RecordSuppression"
          },
          "type": "array"
        },
        "fieldTransformations": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          },
          "description": "Transform the record by applying various field transformations."
        }
      },
      "description": "A type of transformation that is applied over structured data such as a table.",
      "type": "object",
      "id": "GooglePrivacyDlpV2RecordTransformations"
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "type": "object",
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment",
      "properties": {
        "relativeLikelihood": {
          "format": "int32",
          "description": "Increase or decrease the likelihood by the specified number of levels. For example, if a finding would be `POSSIBLE` without the detection rule and `relative_likelihood` is 1, then it is upgraded to `LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`. Likelihood may never drop below `VERY_UNLIKELY` or exceed `VERY_LIKELY`, so applying an adjustment of 1 followed by an adjustment of -1 when base likelihood is `VERY_LIKELY` will result in a final likelihood of `LIKELY`.",
          "type": "integer"
        },
        "fixedLikelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Set the likelihood of a finding to a fixed value."
        }
      },
      "description": "Message for specifying an adjustment to the likelihood of a finding as part of a detection rule."
    },
    "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest": {
      "properties": {
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Updated configuration for the storedInfoType. If not provided, a new version of the storedInfoType will be created with the existing configuration."
        }
      },
      "type": "object",
      "description": "Request message for UpdateStoredInfoType.",
      "id": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
    },
    "GooglePrivacyDlpV2DateTime": {
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "description": "Day of week",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        },
        "time": {
          "description": "Time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "timeZone": {
          "$ref": "GooglePrivacyDlpV2TimeZone",
          "description": "Time zone"
        },
        "date": {
          "description": "One or more of the following must be set. Must be a valid date or time value.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GooglePrivacyDlpV2DateTime",
      "description": "Message for a date time object. e.g. 2018-01-01, 5th August."
    },
    "GooglePrivacyDlpV2CryptoDeterministicConfig": {
      "description": "Pseudonymization method that generates deterministic encryption for the given input. Outputs a base64 encoded representation of the encrypted output. Uses AES-SIV based on the RFC https://tools.ietf.org/html/rfc5297.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CryptoDeterministicConfig",
      "properties": {
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "The key used by the encryption function. For deterministic encryption using AES-SIV, the provided key is internally expanded to 64 bytes prior to use."
        },
        "context": {
          "description": "A context may be used for higher security and maintaining referential integrity such that the same identifier in two different contexts will be given a distinct surrogate. The context is appended to plaintext value being encrypted. On decryption the provided context is validated against the value used during encryption. If a context was provided during encryption, same context must be provided during decryption as well. If the context is not set, plaintext would be used as is for encryption. If the context is set but: 1. there is no record present when transforming a given value or 2. the field is not present when transforming a given value, plaintext would be used as is for encryption. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and unstructured `ContentItem`s.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "surrogateInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The custom info type to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom info type followed by the number of characters comprising the surrogate. The following scheme defines the format: {info type name}({surrogate character count}):{surrogate} For example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom info type 'Surrogate'. This facilitates reversal of the surrogate when it occurs in free text. Note: For record transformations where the entire cell in a table is being transformed, surrogates are not mandatory. Surrogates are used to denote the location of the token and are necessary for re-identification in free form text. In order for inspection to work properly, the name of this info type must not occur naturally anywhere in your data; otherwise, inspection may either - reverse a surrogate that does not correspond to an actual identifier - be unable to parse the surrogate and result in an error Therefore, choose your custom info type name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE."
        }
      }
    },
    "GooglePrivacyDlpV2DatastoreOptions": {
      "type": "object",
      "description": "Options defining a data set within Google Cloud Datastore.",
      "properties": {
        "partitionId": {
          "$ref": "GooglePrivacyDlpV2PartitionId",
          "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty."
        },
        "kind": {
          "description": "The kind to process.",
          "$ref": "GooglePrivacyDlpV2KindExpression"
        }
      },
      "id": "GooglePrivacyDlpV2DatastoreOptions"
    },
    "GooglePrivacyDlpV2JobTrigger": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation timestamp of a triggeredJob."
        },
        "inspectJob": {
          "description": "For inspect jobs, a snapshot of the configuration.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of a triggeredJob.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "description": "Output only. A stream of errors encountered when the trigger was activated. Repeated errors may result in the JobTrigger automatically being paused. Will return the last 100 errors. Whenever the JobTrigger is modified this list will be cleared."
        },
        "lastRunTime": {
          "description": "Output only. The timestamp of the last time this trigger executed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Display name (max 100 chars)"
        },
        "triggers": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Trigger"
          },
          "type": "array",
          "description": "A list of triggers which will be OR'ed together. Only one in the list needs to trigger for a job to be started. The list may contain only a single Schedule trigger and must have at least one object."
        },
        "name": {
          "type": "string",
          "description": "Unique resource name for the triggeredJob, assigned by the service when the triggeredJob is created, for example `projects/dlp-test-project/jobTriggers/53234423`."
        },
        "description": {
          "description": "User provided description (max 256 chars)",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Unused.",
            "Trigger is healthy.",
            "Trigger is temporarily paused.",
            "Trigger is cancelled and can not be resumed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "HEALTHY",
            "PAUSED",
            "CANCELLED"
          ],
          "type": "string",
          "description": "Required. A status for this trigger."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2JobTrigger",
      "description": "Contains a configuration to make dlp api calls on a repeating basis. See https://cloud.google.com/dlp/docs/concepts-job-triggers to learn more."
    },
    "GooglePrivacyDlpV2TransientCryptoKey": {
      "description": "Use this to have a random data crypto key generated. It will be discarded after the request finishes.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the key. This is an arbitrary string used to differentiate different keys. A unique key is generated per name: two separate `TransientCryptoKey` protos share the same generated key if their names are the same. When the data crypto key is generated, this name is not used in any way (repeating the api call will result in a different key being generated)."
        }
      },
      "id": "GooglePrivacyDlpV2TransientCryptoKey"
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "properties": {
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "currentVersion": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion",
          "description": "Current version of the stored info type."
        },
        "pendingVersions": {
          "description": "Pending versions of the stored info type. Empty if no versions are pending.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          }
        }
      },
      "id": "GooglePrivacyDlpV2StoredInfoType",
      "description": "StoredInfoType resource message that contains information about the current version and any pending updates.",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "properties": {
        "exclusionRule": {
          "$ref": "GooglePrivacyDlpV2ExclusionRule",
          "description": "Exclusion rule."
        },
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        }
      },
      "id": "GooglePrivacyDlpV2InspectionRule",
      "description": "A single inspection rule to be applied to infoTypes, specified in `InspectionRuleSet`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "id": "GooglePrivacyDlpV2SurrogateType",
      "properties": {},
      "description": "Message for detecting output from deidentification transformations such as [`CryptoReplaceFfxFpeConfig`](https://cloud.google.com/dlp/docs/reference/rest/v2/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig). These types of transformations are those that perform pseudonymization, thereby producing a \"surrogate\" as output. This should be used in conjunction with a field on the transformation such as `surrogate_info_type`. This CustomInfoType does not support the use of `detection_rules`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DataProfileAction": {
      "type": "object",
      "properties": {
        "pubSubNotification": {
          "$ref": "GooglePrivacyDlpV2PubSubNotification",
          "description": "Publish a message into the Pub/Sub topic."
        },
        "exportData": {
          "description": "Export data profiles into a provided location.",
          "$ref": "GooglePrivacyDlpV2Export"
        }
      },
      "description": "A task to execute when a data profile has been generated.",
      "id": "GooglePrivacyDlpV2DataProfileAction"
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "id": "GooglePrivacyDlpV2RecordSuppression",
      "properties": {
        "condition": {
          "description": "A condition that when it evaluates to true will result in the record being evaluated to be suppressed from the transformed content.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        }
      },
      "description": "Configuration to suppress records whose suppression conditions evaluate to true.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DataProfilePubSubCondition": {
      "type": "object",
      "properties": {
        "expressions": {
          "description": "An expression.",
          "$ref": "GooglePrivacyDlpV2PubSubExpressions"
        }
      },
      "id": "GooglePrivacyDlpV2DataProfilePubSubCondition",
      "description": "A condition for determining whether a Pub/Sub should be triggered."
    },
    "GooglePrivacyDlpV2PartitionId": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The ID of the project to which the entities belong."
        },
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2PartitionId",
      "description": "Datastore partition ID. A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Bucket": {
      "description": "Bucket is represented as a range, along with replacement values.",
      "type": "object",
      "properties": {
        "min": {
          "description": "Lower bound of the range, inclusive. Type should be the same as max if used.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "replacementValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Required. Replacement value for this bucket."
        },
        "max": {
          "description": "Upper bound of the range, exclusive; type must match min.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      },
      "id": "GooglePrivacyDlpV2Bucket"
    },
    "GooglePrivacyDlpV2AllText": {
      "type": "object",
      "description": "Apply to all text.",
      "id": "GooglePrivacyDlpV2AllText",
      "properties": {}
    },
    "GooglePrivacyDlpV2HybridInspectStatistics": {
      "properties": {
        "processedCount": {
          "format": "int64",
          "description": "The number of hybrid inspection requests processed within this job.",
          "type": "string"
        },
        "abortedCount": {
          "description": "The number of hybrid inspection requests aborted because the job ran out of quota or was ended before they could be processed.",
          "format": "int64",
          "type": "string"
        },
        "pendingCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of hybrid requests currently being processed. Only populated when called via method `getDlpJob`. A burst of traffic may cause hybrid inspect requests to be enqueued. Processing will take place as quickly as possible, but resource limitations may impact how long a request is enqueued for."
        }
      },
      "description": "Statistics related to processing hybrid inspect requests.",
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridInspectStatistics"
    },
    "GooglePrivacyDlpV2Action": {
      "properties": {
        "pubSub": {
          "description": "Publish a notification to a Pub/Sub topic.",
          "$ref": "GooglePrivacyDlpV2PublishToPubSub"
        },
        "publishSummaryToCscc": {
          "$ref": "GooglePrivacyDlpV2PublishSummaryToCscc",
          "description": "Publish summary to Cloud Security Command Center (Alpha)."
        },
        "deidentify": {
          "description": "Create a de-identified copy of the input data.",
          "$ref": "GooglePrivacyDlpV2Deidentify"
        },
        "publishFindingsToCloudDataCatalog": {
          "$ref": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog",
          "description": "Publish findings to Cloud Datahub."
        },
        "saveFindings": {
          "description": "Save resulting findings in a provided location.",
          "$ref": "GooglePrivacyDlpV2SaveFindings"
        },
        "jobNotificationEmails": {
          "$ref": "GooglePrivacyDlpV2JobNotificationEmails",
          "description": "Sends an email when the job completes. The email goes to IAM project owners and technical [Essential Contacts](https://cloud.google.com/resource-manager/docs/managing-notification-contacts)."
        },
        "publishToStackdriver": {
          "$ref": "GooglePrivacyDlpV2PublishToStackdriver",
          "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count."
        }
      },
      "description": "A task to execute on the completion of a job. See https://cloud.google.com/dlp/docs/concepts-actions to learn more.",
      "id": "GooglePrivacyDlpV2Action",
      "type": "object"
    },
    "GooglePrivacyDlpV2KAnonymityHistogramBucket": {
      "description": "Histogram of k-anonymity equivalence classes.",
      "id": "GooglePrivacyDlpV2KAnonymityHistogramBucket",
      "properties": {
        "equivalenceClassSizeUpperBound": {
          "format": "int64",
          "type": "string",
          "description": "Upper bound on the size of the equivalence classes in this bucket."
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
          }
        },
        "bucketValueCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of distinct equivalence classes in this bucket."
        },
        "bucketSize": {
          "description": "Total number of equivalence classes in this bucket.",
          "type": "string",
          "format": "int64"
        },
        "equivalenceClassSizeLowerBound": {
          "format": "int64",
          "description": "Lower bound on the size of the equivalence classes in this bucket.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "description": "Precise location of the finding within a document, record, image, or metadata container.",
      "type": "object",
      "id": "GooglePrivacyDlpV2ContentLocation",
      "properties": {
        "recordLocation": {
          "description": "Location within a row or record of a database table.",
          "$ref": "GooglePrivacyDlpV2RecordLocation"
        },
        "imageLocation": {
          "$ref": "GooglePrivacyDlpV2ImageLocation",
          "description": "Location within an image's pixels."
        },
        "containerName": {
          "description": "Name of the container where the finding is located. The top level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs://{bucket}/{path}` * Datastore namespace: {namespace} Nested names could be absent if the embedded object has no string identifier (for example, an image contained within a document).",
          "type": "string"
        },
        "documentLocation": {
          "$ref": "GooglePrivacyDlpV2DocumentLocation",
          "description": "Location data for document files."
        },
        "containerVersion": {
          "description": "Finding container version, if available (\"generation\" for Cloud Storage).",
          "type": "string"
        },
        "metadataLocation": {
          "description": "Location within the metadata for inspected content.",
          "$ref": "GooglePrivacyDlpV2MetadataLocation"
        },
        "containerTimestamp": {
          "description": "Finding container modification timestamp, if applicable. For Cloud Storage, this field contains the last file modification timestamp. For a BigQuery table, this field contains the last_modified_time property. For Datastore, this field isn't populated.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeSummary": {
      "id": "GooglePrivacyDlpV2InfoTypeSummary",
      "properties": {
        "estimatedPrevalence": {
          "format": "int32",
          "description": "Not populated for predicted infotypes.",
          "type": "integer"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The infoType."
        }
      },
      "type": "object",
      "description": "The infoType details for this column."
    },
    "GooglePrivacyDlpV2CloudStorageRegexFileSet": {
      "description": "Message representing a set of files in a Cloud Storage bucket. Regular expressions are used to allow fine-grained control over which files in the bucket to include. Included files are those that match at least one item in `include_regex` and do not match any items in `exclude_regex`. Note that a file that matches items from both lists will _not_ be included. For a match to occur, the entire file path (i.e., everything in the url after the bucket name) must match the regular expression. For example, given the input `{bucket_name: \"mybucket\", include_regex: [\"directory1/.*\"], exclude_regex: [\"directory1/excluded.*\"]}`: * `gs://mybucket/directory1/myfile` will be included * `gs://mybucket/directory1/directory2/myfile` will be included (`.*` matches across `/`) * `gs://mybucket/directory0/directory1/myfile` will _not_ be included (the full path doesn't match any items in `include_regex`) * `gs://mybucket/directory1/excludedfile` will _not_ be included (the path matches an item in `exclude_regex`) If `include_regex` is left empty, it will match all files by default (this is equivalent to setting `include_regex: [\".*\"]`). Some other common use cases: * `{bucket_name: \"mybucket\", exclude_regex: [\".*\\.pdf\"]}` will include all files in `mybucket` except for .pdf files * `{bucket_name: \"mybucket\", include_regex: [\"directory/[^/]+\"]}` will include all files directly under `gs://mybucket/directory/`, without matching across `/`",
      "id": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
      "type": "object",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "The name of a Cloud Storage bucket. Required."
        },
        "excludeRegex": {
          "items": {
            "type": "string"
          },
          "description": "A list of regular expressions matching file paths to exclude. All files in the bucket that match at least one of these regular expressions will be excluded from the scan. Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
          "type": "array"
        },
        "includeRegex": {
          "items": {
            "type": "string"
          },
          "description": "A list of regular expressions matching file paths to include. All files in the bucket that match at least one of these regular expressions will be included in the set of files, except for those that also match an item in `exclude_regex`. Leaving this field empty will match all files by default (this is equivalent to including `.*` in the list). Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2NumericalStatsResult": {
      "properties": {
        "minValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Minimum value appearing in the column."
        },
        "maxValue": {
          "description": "Maximum value appearing in the column.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "quantileValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "type": "array",
          "description": "List of 99 values that partition the set of field values into 100 equal sized buckets."
        }
      },
      "description": "Result of the numerical stats computation.",
      "id": "GooglePrivacyDlpV2NumericalStatsResult",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "description": "Message defining the location of a BigQuery table. A table is uniquely identified by its project_id, dataset_id, and table_name. Within a query a table is often referenced with a string in the format of: `:.` or `..`.",
      "properties": {
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table. If omitted, project ID is inferred from the API call.",
          "type": "string"
        },
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        },
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2BigQueryTable",
      "type": "object"
    },
    "GooglePrivacyDlpV2RecordTransformation": {
      "type": "object",
      "properties": {
        "containerVersion": {
          "description": "Container version, if available (\"generation\" for Cloud Storage).",
          "type": "string"
        },
        "containerTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Findings container modification timestamp, if applicable."
        },
        "fieldId": {
          "description": "For record transformations, provide a field.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2RecordTransformation"
    },
    "GooglePrivacyDlpV2PubSubExpressions": {
      "type": "object",
      "id": "GooglePrivacyDlpV2PubSubExpressions",
      "description": "An expression, consisting of an operator and conditions.",
      "properties": {
        "logicalOperator": {
          "type": "string",
          "description": "The operator to apply to the collection of conditions.",
          "enumDescriptions": [
            "Unused.",
            "Conditional OR.",
            "Conditional AND."
          ],
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "OR",
            "AND"
          ]
        },
        "conditions": {
          "description": "Conditions to apply to the expression.",
          "items": {
            "$ref": "GooglePrivacyDlpV2PubSubCondition"
          },
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2Manual": {
      "description": "Job trigger option for hybrid jobs. Jobs must be manually created and finished.",
      "properties": {},
      "id": "GooglePrivacyDlpV2Manual",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "properties": {
        "createTime": {
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deidentifyConfig": {
          "description": "The core content of the template.",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "description": {
          "type": "string",
          "description": "Short description (max 256 chars)."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DeidentifyTemplate",
      "description": "DeidentifyTemplates contains instructions on how to de-identify content. See https://cloud.google.com/dlp/docs/concepts-templates to learn more."
    },
    "GooglePrivacyDlpV2ExcludeByHotword": {
      "id": "GooglePrivacyDlpV2ExcludeByHotword",
      "type": "object",
      "properties": {
        "proximity": {
          "$ref": "GooglePrivacyDlpV2Proximity",
          "description": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The windowBefore property in proximity should be set to 1 if the hotword needs to be included in a column header."
        },
        "hotwordRegex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression pattern defining what qualifies as a hotword."
        }
      },
      "description": "The rule to exclude findings based on a hotword. For record inspection of tables, column names are considered hotwords. An example of this is to exclude a finding if it belongs to a BigQuery column that matches a specific pattern."
    },
    "GooglePrivacyDlpV2RecordLocation": {
      "description": "Location of a finding within a row or record.",
      "properties": {
        "recordKey": {
          "description": "Key of the finding.",
          "$ref": "GooglePrivacyDlpV2RecordKey"
        },
        "tableLocation": {
          "description": "Location within a `ContentItem.Table`.",
          "$ref": "GooglePrivacyDlpV2TableLocation"
        },
        "fieldId": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Field id of the field containing the finding."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2RecordLocation"
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "id": "GooglePrivacyDlpV2CharacterMaskConfig",
      "properties": {
        "maskingCharacter": {
          "description": "Character to use to mask the sensitive values—for example, `*` for an alphabetic string such as a name, or `0` for a numeric string such as ZIP code or credit card number. This string must have a length of 1. If not supplied, this value defaults to `*` for strings, and `0` for digits.",
          "type": "string"
        },
        "numberToMask": {
          "format": "int32",
          "description": "Number of characters to mask. If not set, all matching chars will be masked. Skipped characters do not count towards this tally. If `number_to_mask` is negative, this denotes inverse masking. Cloud DLP masks all but a number of characters. For example, suppose you have the following values: - `masking_character` is `*` - `number_to_mask` is `-4` - `reverse_order` is `false` - `CharsToIgnore` includes `-` - Input string is `1234-5678-9012-3456` The resulting de-identified string is `****-****-****-3456`. Cloud DLP masks all but the last four characters. If `reverse_order` is `true`, all but the first four characters are masked as `1234-****-****-****`.",
          "type": "integer"
        },
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing characters. For example, if the input string is `555-555-5555` and you instruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP returns `***-**5-5555`.",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          },
          "type": "array"
        },
        "reverseOrder": {
          "type": "boolean",
          "description": "Mask characters in reverse order. For example, if `masking_character` is `0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the input string `1234-5678-9012-3456` is masked as `00000000000000-3456`. If `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order` is `true`, then the string `12345` is masked as `12***`."
        }
      },
      "type": "object",
      "description": "Partially mask a string by replacing a given number of characters with a fixed character. Masking can start from the beginning or end of the string. This can be used on data of any type (numbers, longs, and so on) and when de-identifying structured data we'll attempt to preserve the original data's type. (This allows you to take a long like 123 and modify it to a string like **3."
    },
    "GooglePrivacyDlpV2DataRiskLevel": {
      "id": "GooglePrivacyDlpV2DataRiskLevel",
      "type": "object",
      "description": "Score is a summary of all elements in the data profile. A higher number means more risk.",
      "properties": {
        "score": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Low risk - Lower indication of sensitive data that appears to have additional access restrictions in place or no indication of sensitive data found.",
            "Medium risk - Sensitive data may be present but additional access or fine grain access restrictions appear to be present. Consider limiting access even further or transform data to mask.",
            "High risk – SPII may be present. Access controls may include public ACLs. Exfiltration of data may lead to user data loss. Re-identification of users may be possible. Consider limiting usage and or removing SPII."
          ],
          "description": "The score applied to the resource.",
          "enum": [
            "RISK_SCORE_UNSPECIFIED",
            "RISK_LOW",
            "RISK_MODERATE",
            "RISK_HIGH"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2CustomInfoType": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CustomInfoType",
      "properties": {
        "likelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "type": "string",
          "description": "Likelihood to return for this CustomInfoType. This base value can be altered by a detection rule if the finding meets the criteria specified by the rule. Defaults to `VERY_LIKELY` if not specified.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "dictionary": {
          "$ref": "GooglePrivacyDlpV2Dictionary",
          "description": "A list of phrases to detect as a CustomInfoType."
        },
        "detectionRules": {
          "description": "Set of detection rules to apply to all findings of this CustomInfoType. Rules are applied in order that they are specified. Not supported for the `surrogate_type` CustomInfoType.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DetectionRule"
          }
        },
        "regex": {
          "description": "Regular expression based CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "exclusionType": {
          "enum": [
            "EXCLUSION_TYPE_UNSPECIFIED",
            "EXCLUSION_TYPE_EXCLUDE"
          ],
          "enumDescriptions": [
            "A finding of this custom info type will not be excluded from results.",
            "A finding of this custom info type will be excluded from final results, but can still affect rule execution."
          ],
          "type": "string",
          "description": "If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding to be returned. It still can be used for rules matching."
        },
        "storedType": {
          "description": "Load an existing `StoredInfoType` resource for use in `InspectDataSource`. Not currently supported in `InspectContent`.",
          "$ref": "GooglePrivacyDlpV2StoredType"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "CustomInfoType can either be a new infoType, or an extension of built-in infoType, when the name matches one of existing infoTypes and that infoType is specified in `InspectContent.info_types` field. Specifying the latter adds findings to the one detected by the system. If built-in info type is not specified in `InspectContent.info_types` list then the name is treated as a custom info type."
        },
        "surrogateType": {
          "description": "Message for detecting output from deidentification transformations that support reversing.",
          "$ref": "GooglePrivacyDlpV2SurrogateType"
        }
      },
      "description": "Custom information type provided by the user. Used to find domain-specific sensitive information configurable to the data in question."
    },
    "GooglePrivacyDlpV2Deidentify": {
      "description": "Create a de-identified copy of the requested table or files. A TransformationDetail will be created for each transformation. If any rows in BigQuery are skipped during de-identification (transformation errors or row size exceeds BigQuery insert API limits) they are placed in the failure output table. If the original row exceeds the BigQuery insert API limit it will be truncated when written to the failure output table. The failure output table can be set in the action.deidentify.output.big_query_output.deidentified_failure_output_table field, if no table is set, a table will be automatically created in the same project and dataset as the original table. Compatible with: Inspect",
      "type": "object",
      "properties": {
        "cloudStorageOutput": {
          "type": "string",
          "description": "Required. User settable Cloud Storage bucket and folders to store de-identified files. This field must be set for cloud storage deidentification. The output Cloud Storage bucket must be different from the input bucket. De-identified files will overwrite files in the output path. Form of: gs://bucket/folder/ or gs://bucket"
        },
        "transformationConfig": {
          "$ref": "GooglePrivacyDlpV2TransformationConfig",
          "description": "User specified deidentify templates and configs for structured, unstructured, and image files."
        },
        "transformationDetailsStorageConfig": {
          "description": "Config for storing transformation details. This is separate from the de-identified content, and contains metadata about the successful transformations and/or failures that occurred while de-identifying. This needs to be set in order for users to access information about the status of each transformation (see TransformationDetails message for more information about what is noted).",
          "$ref": "GooglePrivacyDlpV2TransformationDetailsStorageConfig"
        },
        "fileTypesToTransform": {
          "type": "array",
          "description": "List of user-specified file type groups to transform. If specified, only the files with these filetypes will be transformed. If empty, all supported files will be transformed. Supported types may be automatically added over time. If a file type is set in this field that isn't supported by the Deidentify action then the job will fail and will not be successfully created/started. Currently the only filetypes supported are: IMAGES, TEXT_FILES, CSV, TSV.",
          "items": {
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "BINARY_FILE",
              "TEXT_FILE",
              "IMAGE",
              "WORD",
              "PDF",
              "AVRO",
              "CSV",
              "TSV",
              "POWERPOINT",
              "EXCEL"
            ],
            "type": "string",
            "enumDescriptions": [
              "Includes all files.",
              "Includes all file extensions not covered by another entry. Binary scanning attempts to convert the content of the file to utf_8 to scan the file. If you wish to avoid this fall back, specify one or more of the other FileType's in your storage scan.",
              "Included file extensions: asc,asp, aspx, brf, c, cc,cfm, cgi, cpp, csv, cxx, c++, cs, css, dart, dat, dot, eml,, epbub, ged, go, h, hh, hpp, hxx, h++, hs, html, htm, mkd, markdown, m, ml, mli, perl, pl, plist, pm, php, phtml, pht, properties, py, pyw, rb, rbw, rs, rss, rc, scala, sh, sql, swift, tex, shtml, shtm, xhtml, lhs, ics, ini, java, js, json, kix, kml, ocaml, md, txt, text, tsv, vb, vcard, vcs, wml, xcodeproj, xml, xsl, xsd, yml, yaml.",
              "Included file extensions: bmp, gif, jpg, jpeg, jpe, png. bytes_limit_per_file has no effect on image files. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'.",
              "Word files \u003e30 MB will be scanned as binary files. Included file extensions: docx, dotx, docm, dotm",
              "PDF files \u003e30 MB will be scanned as binary files. Included file extensions: pdf",
              "Included file extensions: avro",
              "Included file extensions: csv",
              "Included file extensions: tsv",
              "Powerpoint files \u003e30 MB will be scanned as binary files. Included file extensions: pptx, pptm, potx, potm, pot",
              "Excel files \u003e30 MB will be scanned as binary files. Included file extensions: xlsx, xlsm, xltx, xltm"
            ]
          }
        }
      },
      "id": "GooglePrivacyDlpV2Deidentify"
    },
    "GooglePrivacyDlpV2InfoTypeStats": {
      "properties": {
        "infoType": {
          "description": "The type of finding this stat is for.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "count": {
          "description": "Number of findings for this infoType.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Statistics regarding a specific InfoType.",
      "id": "GooglePrivacyDlpV2InfoTypeStats",
      "type": "object"
    },
    "GooglePrivacyDlpV2SaveFindings": {
      "description": "If set, the detailed findings will be persisted to the specified OutputStorageConfig. Only a single instance of this action can be specified. Compatible with: Inspect, Risk",
      "type": "object",
      "id": "GooglePrivacyDlpV2SaveFindings",
      "properties": {
        "outputConfig": {
          "description": "Location to store findings outside of DLP.",
          "$ref": "GooglePrivacyDlpV2OutputStorageConfig"
        }
      }
    },
    "GooglePrivacyDlpV2InfoType": {
      "id": "GooglePrivacyDlpV2InfoType",
      "type": "object",
      "description": "Type of information detected by the API.",
      "properties": {
        "version": {
          "description": "Optional version name for this InfoType.",
          "type": "string"
        },
        "name": {
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/dlp/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$_-]{1,64}`.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Export": {
      "type": "object",
      "properties": {
        "profileTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Store all table and column profiles in an existing table or a new table in an existing dataset. Each re-generation will result in a new row in BigQuery."
        }
      },
      "id": "GooglePrivacyDlpV2Export",
      "description": "If set, the detailed data profiles will be persisted to the location of your choice whenever updated."
    },
    "GooglePrivacyDlpV2StoredInfoTypeStats": {
      "properties": {
        "largeCustomDictionary": {
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryStats",
          "description": "StoredInfoType where findings are defined by a dictionary of phrases."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2StoredInfoTypeStats",
      "description": "Statistics for a StoredInfoType."
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues": {
      "properties": {
        "quasiIdsValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "The quasi-identifier values."
        },
        "estimatedProbability": {
          "type": "number",
          "description": "The estimated probability that a given individual sharing these quasi-identifier values is in the dataset. This value, typically called δ, is the ratio between the number of records in the dataset with these quasi-identifier values, and the total number of individuals (inside *and* outside the dataset) with these quasi-identifier values. For example, if there are 15 individuals in the dataset who share the same quasi-identifier values, and an estimated 100 people in the entire population with these values, then δ is 0.15.",
          "format": "double"
        }
      },
      "description": "A tuple of values for the quasi-identifier columns.",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues",
      "type": "object"
    },
    "GooglePrivacyDlpV2ActivateJobTriggerRequest": {
      "properties": {},
      "id": "GooglePrivacyDlpV2ActivateJobTriggerRequest",
      "type": "object",
      "description": "Request message for ActivateJobTrigger."
    },
    "GooglePrivacyDlpV2SelectedInfoTypes": {
      "id": "GooglePrivacyDlpV2SelectedInfoTypes",
      "properties": {
        "infoTypes": {
          "type": "array",
          "description": "Required. InfoTypes to apply the transformation to. Required. Provided InfoType must be unique within the ImageTransformations message.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      },
      "type": "object",
      "description": "Apply transformation to the selected info_types."
    },
    "GooglePrivacyDlpV2Range": {
      "type": "object",
      "description": "Generic half-open interval [start, end)",
      "properties": {
        "end": {
          "format": "int64",
          "type": "string",
          "description": "Index of the last character of the range (exclusive)."
        },
        "start": {
          "type": "string",
          "format": "int64",
          "description": "Index of the first character of the range (inclusive)."
        }
      },
      "id": "GooglePrivacyDlpV2Range"
    },
    "GooglePrivacyDlpV2InspectTemplate": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/inspectTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/inspectTemplates/TEMPLATE_ID`;"
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "type": "string",
          "format": "google-datetime"
        },
        "inspectConfig": {
          "description": "The core content of the template. Configuration of the scanning process.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Short description (max 256 chars)."
        }
      },
      "description": "The inspectTemplate contains a configuration (set of types of sensitive data to be detected) to be used anywhere you otherwise would normally specify InspectConfig. See https://cloud.google.com/dlp/docs/concepts-templates to learn more.",
      "id": "GooglePrivacyDlpV2InspectTemplate"
    },
    "GooglePrivacyDlpV2BigQueryField": {
      "type": "object",
      "description": "Message defining a field of a BigQuery table.",
      "id": "GooglePrivacyDlpV2BigQueryField",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Designated field in the BigQuery table."
        },
        "table": {
          "description": "Source table of the field.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object",
      "id": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues",
      "properties": {
        "estimatedAnonymity": {
          "type": "string",
          "description": "The estimated anonymity for these quasi-identifier values.",
          "format": "int64"
        },
        "quasiIdsValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "The quasi-identifier values."
        }
      }
    },
    "GooglePrivacyDlpV2DocumentLocation": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DocumentLocation",
      "description": "Location of a finding within a document.",
      "properties": {
        "fileOffset": {
          "type": "string",
          "description": "Offset of the line, from the beginning of the file, where the finding is located.",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2CancelDlpJobRequest": {
      "id": "GooglePrivacyDlpV2CancelDlpJobRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for canceling a DLP job."
    },
    "GooglePrivacyDlpV2TimespanConfig": {
      "description": "Configuration of the timespan of the items to include in scanning. Currently only supported when inspecting Cloud Storage and BigQuery.",
      "id": "GooglePrivacyDlpV2TimespanConfig",
      "properties": {
        "endTime": {
          "description": "Exclude files, tables, or rows newer than this value. If not set, no upper time limit is applied.",
          "format": "google-datetime",
          "type": "string"
        },
        "enableAutoPopulationOfTimespanConfig": {
          "description": "When the job is started by a JobTrigger we will automatically figure out a valid start_time to avoid scanning files that have not been modified since the last time the JobTrigger executed. This will be based on the time of the execution of the last run of the JobTrigger or the timespan end_time used in the last run of the JobTrigger.",
          "type": "boolean"
        },
        "timestampField": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Specification of the field containing the timestamp of scanned items. Used for data sources like Datastore and BigQuery. *For BigQuery* If this value is not specified and the table was modified between the given start and end times, the entire table will be scanned. If this value is specified, then rows are filtered based on the given start and end times. Rows with a `NULL` value in the provided BigQuery column are skipped. Valid data types of the provided BigQuery column are: `INTEGER`, `DATE`, `TIMESTAMP`, and `DATETIME`. If your BigQuery table is [partitioned at ingestion time](https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time), you can use any of the following pseudo-columns as your timestamp field. When used with Cloud DLP, these pseudo-column names are case sensitive. - _PARTITIONTIME - _PARTITIONDATE - _PARTITION_LOAD_TIME *For Datastore* If this value is specified, then entities are filtered based on the given start and end times. If an entity does not contain the provided timestamp property or contains empty or invalid values, then it is included. Valid data types of the provided timestamp property are: `TIMESTAMP`. See the [known issue](https://cloud.google.com/dlp/docs/known-issues#bq-timespan) related to this operation."
        },
        "startTime": {
          "description": "Exclude files, tables, or rows older than this value. If not set, no lower time limit is applied.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Result": {
      "type": "object",
      "properties": {
        "hybridStats": {
          "$ref": "GooglePrivacyDlpV2HybridInspectStatistics",
          "description": "Statistics related to the processing of hybrid inspect."
        },
        "infoTypeStats": {
          "description": "Statistics of how many instances of each info type were found during inspect job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          }
        },
        "totalEstimatedBytes": {
          "type": "string",
          "description": "Estimate of the number of bytes to process.",
          "format": "int64"
        },
        "processedBytes": {
          "description": "Total size in bytes that were processed.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "All result fields mentioned below are updated while the job is processing.",
      "id": "GooglePrivacyDlpV2Result"
    },
    "GooglePrivacyDlpV2FieldId": {
      "id": "GooglePrivacyDlpV2FieldId",
      "description": "General identifier of a data field in a storage service.",
      "properties": {
        "name": {
          "description": "Name describing the field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DataProfileConfigSnapshot": {
      "type": "object",
      "description": "Snapshot of the configurations used to generate the profile.",
      "properties": {
        "inspectConfig": {
          "description": "A copy of the inspection config used to generate this profile. This is a copy of the inspect_template specified in `DataProfileJobConfig`.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "dataProfileJob": {
          "$ref": "GooglePrivacyDlpV2DataProfileJobConfig",
          "description": "A copy of the configuration used to generate this profile."
        }
      },
      "id": "GooglePrivacyDlpV2DataProfileConfigSnapshot"
    },
    "GooglePrivacyDlpV2KMapEstimationResult": {
      "properties": {
        "kMapEstimationHistogram": {
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
          },
          "type": "array",
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_anonymity: 1, max_anonymity: 1, frequency: 17} {min_anonymity: 2, max_anonymity: 3, frequency: 42} {min_anonymity: 5, max_anonymity: 10, frequency: 99} mean that there are no record with an estimated anonymity of 4, 5, or larger than 10."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2KMapEstimationResult",
      "description": "Result of the reidentifiability analysis. Note that these results are an estimation, not exact values."
    },
    "GooglePrivacyDlpV2Error": {
      "id": "GooglePrivacyDlpV2Error",
      "description": "Details information about an error encountered during job execution or the results of an unsuccessful activation of the JobTrigger.",
      "properties": {
        "details": {
          "description": "Detailed error codes and messages.",
          "$ref": "GoogleRpcStatus"
        },
        "timestamps": {
          "type": "array",
          "description": "The times the error occurred.",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridInspectResponse": {
      "properties": {},
      "id": "GooglePrivacyDlpV2HybridInspectResponse",
      "description": "Quota exceeded errors will be thrown once quota has been met.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ListInfoTypesResponse": {
      "description": "Response to the ListInfoTypes request.",
      "id": "GooglePrivacyDlpV2ListInfoTypesResponse",
      "properties": {
        "infoTypes": {
          "description": "Set of sensitive infoTypes.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeDescription"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2KMapEstimationHistogramBucket": {
      "type": "object",
      "description": "A KMapEstimationHistogramBucket message with the following values: min_anonymity: 3 max_anonymity: 5 frequency: 42 means that there are 42 records whose quasi-identifier values correspond to 3, 4 or 5 people in the overlying population. An important particular case is when min_anonymity = max_anonymity = 1: the frequency field then corresponds to the number of uniquely identifiable records.",
      "properties": {
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total number of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
          },
          "type": "array"
        },
        "minAnonymity": {
          "format": "int64",
          "description": "Always positive.",
          "type": "string"
        },
        "bucketValueCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of distinct quasi-identifier tuple values in this bucket."
        },
        "maxAnonymity": {
          "description": "Always greater than or equal to min_anonymity.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "description": "Number of records within these anonymity bounds.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
    },
    "GooglePrivacyDlpV2InspectResult": {
      "type": "object",
      "id": "GooglePrivacyDlpV2InspectResult",
      "description": "All the findings for a single scanned item.",
      "properties": {
        "findings": {
          "type": "array",
          "description": "List of findings for an item.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Finding"
          }
        },
        "findingsTruncated": {
          "type": "boolean",
          "description": "If true, then this item might have more findings than were returned, and the findings returned are an arbitrary subset of all findings. The findings list might be truncated because the input items were too large, or because the server reached the maximum amount of resources allowed for a single API call. For best results, divide the input into smaller batches."
        }
      }
    },
    "GooglePrivacyDlpV2CloudStorageOptions": {
      "type": "object",
      "description": "Options defining a file or a set of files within a Cloud Storage bucket.",
      "properties": {
        "sampleMethod": {
          "type": "string",
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "enumDescriptions": [
            "",
            "Scan from the top (default).",
            "For each file larger than bytes_limit_per_file, randomly pick the offset to start scanning. The scanned bytes are contiguous."
          ]
        },
        "fileSet": {
          "description": "The set of one or more files to scan.",
          "$ref": "GooglePrivacyDlpV2FileSet"
        },
        "filesLimitPercent": {
          "format": "int32",
          "description": "Limits the number of files to scan to this percentage of the input FileSet. Number of files scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0.",
          "type": "integer"
        },
        "bytesLimitPerFile": {
          "format": "int64",
          "description": "Max number of bytes to scan from a file. If a scanned file's size is bigger than this value then the rest of the bytes are omitted. Only one of bytes_limit_per_file and bytes_limit_per_file_percent can be specified. Cannot be set if de-identification is requested.",
          "type": "string"
        },
        "fileTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Includes all files.",
              "Includes all file extensions not covered by another entry. Binary scanning attempts to convert the content of the file to utf_8 to scan the file. If you wish to avoid this fall back, specify one or more of the other FileType's in your storage scan.",
              "Included file extensions: asc,asp, aspx, brf, c, cc,cfm, cgi, cpp, csv, cxx, c++, cs, css, dart, dat, dot, eml,, epbub, ged, go, h, hh, hpp, hxx, h++, hs, html, htm, mkd, markdown, m, ml, mli, perl, pl, plist, pm, php, phtml, pht, properties, py, pyw, rb, rbw, rs, rss, rc, scala, sh, sql, swift, tex, shtml, shtm, xhtml, lhs, ics, ini, java, js, json, kix, kml, ocaml, md, txt, text, tsv, vb, vcard, vcs, wml, xcodeproj, xml, xsl, xsd, yml, yaml.",
              "Included file extensions: bmp, gif, jpg, jpeg, jpe, png. bytes_limit_per_file has no effect on image files. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'.",
              "Word files \u003e30 MB will be scanned as binary files. Included file extensions: docx, dotx, docm, dotm",
              "PDF files \u003e30 MB will be scanned as binary files. Included file extensions: pdf",
              "Included file extensions: avro",
              "Included file extensions: csv",
              "Included file extensions: tsv",
              "Powerpoint files \u003e30 MB will be scanned as binary files. Included file extensions: pptx, pptm, potx, potm, pot",
              "Excel files \u003e30 MB will be scanned as binary files. Included file extensions: xlsx, xlsm, xltx, xltm"
            ],
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "BINARY_FILE",
              "TEXT_FILE",
              "IMAGE",
              "WORD",
              "PDF",
              "AVRO",
              "CSV",
              "TSV",
              "POWERPOINT",
              "EXCEL"
            ]
          },
          "description": "List of file type groups to include in the scan. If empty, all files are scanned and available data format processors are applied. In addition, the binary content of the selected files is always scanned as well. Images are scanned only as binary if the specified region does not support image inspection and no file_types were specified. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'.",
          "type": "array"
        },
        "bytesLimitPerFilePercent": {
          "description": "Max percentage of bytes to scan from a file. The rest are omitted. The number of bytes scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of bytes_limit_per_file and bytes_limit_per_file_percent can be specified. Cannot be set if de-identification is requested.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageOptions"
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "description": "This is a data encryption key (DEK) (as opposed to a key encryption key (KEK) stored by Cloud Key Management Service (Cloud KMS). When using Cloud KMS to wrap or unwrap a DEK, be sure to set an appropriate IAM policy on the KEK to ensure an attacker cannot unwrap the DEK.",
      "id": "GooglePrivacyDlpV2CryptoKey",
      "type": "object",
      "properties": {
        "transient": {
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey",
          "description": "Transient crypto key"
        },
        "unwrapped": {
          "description": "Unwrapped crypto key",
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey"
        },
        "kmsWrapped": {
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey",
          "description": "Key wrapped using Cloud KMS"
        }
      }
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Only one per info_type should be provided per request. If not specified, and redact_all_text is false, the DLP API will redact all text that it matches against all info_types that are found, but not specified in another ImageRedactionConfig."
        },
        "redactionColor": {
          "$ref": "GooglePrivacyDlpV2Color",
          "description": "The color to use when redacting content from an image. If not specified, the default is black."
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an info_type, is redacted. Only one should be provided.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2ImageRedactionConfig",
      "description": "Configuration for determining how redaction of images should occur."
    },
    "GooglePrivacyDlpV2TransformationSummary": {
      "description": "Summary of a single transformation. Only one of 'transformation', 'field_transformation', or 'record_suppress' will be set.",
      "id": "GooglePrivacyDlpV2TransformationSummary",
      "properties": {
        "field": {
          "description": "Set if the transformation was limited to a specific FieldId.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "fieldTransformations": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          },
          "type": "array",
          "description": "The field transformation that was applied. If multiple field transformations are requested for a single field, this list will contain all of them; otherwise, only one is supplied."
        },
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "type": "string",
          "format": "int64"
        },
        "results": {
          "items": {
            "$ref": "GooglePrivacyDlpV2SummaryResult"
          },
          "description": "Collection of all transformations that took place or had an error.",
          "type": "array"
        },
        "transformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "The specific transformation these stats apply to."
        },
        "recordSuppress": {
          "$ref": "GooglePrivacyDlpV2RecordSuppression",
          "description": "The specific suppression option these stats apply to."
        },
        "infoType": {
          "description": "Set if the transformation was limited to a specific InfoType.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2ThrowError": {
      "id": "GooglePrivacyDlpV2ThrowError",
      "type": "object",
      "properties": {},
      "description": "Throw an error and fail the request when a transformation error occurs."
    },
    "GooglePrivacyDlpV2WordList": {
      "id": "GooglePrivacyDlpV2WordList",
      "description": "Message defining a list of words or phrases to search for in the data.",
      "type": "object",
      "properties": {
        "words": {
          "description": "Words or phrases defining the dictionary. The dictionary must contain at least one phrase and every phrase must contain at least 2 characters that are letters or digits. [required]",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2CreateStoredInfoTypeRequest": {
      "description": "Request message for CreateStoredInfoType.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest",
      "properties": {
        "storedInfoTypeId": {
          "type": "string",
          "description": "The storedInfoType ID can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Required. Configuration of the storedInfoType to create."
        }
      }
    },
    "GooglePrivacyDlpV2QuasiIdField": {
      "type": "object",
      "description": "A quasi-identifier column has a custom_tag, used to know which column in the data corresponds to which column in the statistical model.",
      "id": "GooglePrivacyDlpV2QuasiIdField",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column."
        },
        "customTag": {
          "type": "string",
          "description": "A auxiliary field."
        }
      }
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption (FPE) with the FFX mode of operation; however when used in the `ReidentifyContent` API method, it serves the opposite function by reversing the surrogate back into the original identifier. The identifier must be encoded as ASCII. For a given crypto key and context, the same identifier will be replaced with the same surrogate. Identifiers must be at least two characters long. In the case that the identifier is the empty string, it will be skipped. See https://cloud.google.com/dlp/docs/pseudonymization to learn more. Note: We recommend using CryptoDeterministicConfig for all use cases which do not require preserving the input alphabet space and size, plus warrant referential integrity.",
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
      "type": "object",
      "properties": {
        "surrogateInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The custom infoType to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom infoType followed by the number of characters comprising the surrogate. The following scheme defines the format: info_type_name(surrogate_character_count):surrogate For example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom infoType [`SurrogateType`](https://cloud.google.com/dlp/docs/reference/rest/v2/InspectConfig#surrogatetype). This facilitates reversal of the surrogate when it occurs in free text. In order for inspection to work properly, the name of this infoType must not occur naturally anywhere in your data; otherwise, inspection may find a surrogate that does not correspond to an actual identifier. Therefore, choose your custom infoType name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE"
        },
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "Required. The key used by the encryption algorithm."
        },
        "radix": {
          "type": "integer",
          "format": "int32",
          "description": "The native way to select the alphabet. Must be in the range [2, 95]."
        },
        "customAlphabet": {
          "type": "string",
[...]
