{
  "id": "dlp:v2",
  "canonicalName": "DLP",
  "version": "v2",
  "revision": "20221029",
  "discoveryVersion": "v1",
  "schemas": {
    "GooglePrivacyDlpV2TransformationDescription": {
      "properties": {
        "type": {
          "enum": [
            "TRANSFORMATION_TYPE_UNSPECIFIED",
            "RECORD_SUPPRESSION",
            "REPLACE_VALUE",
            "REPLACE_DICTIONARY",
            "REDACT",
            "CHARACTER_MASK",
            "CRYPTO_REPLACE_FFX_FPE",
            "FIXED_SIZE_BUCKETING",
            "BUCKETING",
            "REPLACE_WITH_INFO_TYPE",
            "TIME_PART",
            "CRYPTO_HASH",
            "DATE_SHIFT",
            "CRYPTO_DETERMINISTIC_CONFIG",
            "REDACT_IMAGE"
          ],
          "description": "The transformation type.",
          "enumDescriptions": [
            "Unused",
            "Record suppression",
            "Replace value",
            "Replace value using a dictionary.",
            "Redact",
            "Character mask",
            "FFX-FPE",
            "Fixed size bucketing",
            "Bucketing",
            "Replace with info type",
            "Time part",
            "Crypto hash",
            "Date shift",
            "Deterministic crypto",
            "Redact image"
          ],
          "type": "string"
        },
        "description": {
          "description": "A description of the transformation. This is empty for a RECORD_SUPPRESSION, or is the output of calling toString() on the `PrimitiveTransformation` protocol buffer message for any other type of transformation.",
          "type": "string"
        },
        "infoType": {
          "description": "Set if the transformation was limited to a specific `InfoType`.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "condition": {
          "type": "string",
          "description": "A human-readable string representation of the `RecordCondition` corresponding to this transformation. Set if a `RecordCondition` was used to determine whether or not to apply this transformation. Examples: * (age_field \u003e 85) * (age_field \u003c= 18) * (zip_field exists) * (zip_field == 01234) && (city_field != \"Springville\") * (zip_field == 01234) && (age_field \u003c= 18) && (city_field exists)"
        }
      },
      "description": "A flattened description of a `PrimitiveTransformation` or `RecordSuppression`.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TransformationDescription"
    },
    "GooglePrivacyDlpV2CloudStorageOptions": {
      "properties": {
        "bytesLimitPerFilePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Max percentage of bytes to scan from a file. The rest are omitted. The number of bytes scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of bytes_limit_per_file and bytes_limit_per_file_percent can be specified. Cannot be set if de-identification is requested."
        },
        "fileTypes": {
          "description": "List of file type groups to include in the scan. If empty, all files are scanned and available data format processors are applied. In addition, the binary content of the selected files is always scanned as well. Images are scanned only as binary if the specified region does not support image inspection and no file_types were specified. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'.",
          "items": {
            "enumDescriptions": [
              "Includes all files.",
              "Includes all file extensions not covered by another entry. Binary scanning attempts to convert the content of the file to utf_8 to scan the file. If you wish to avoid this fall back, specify one or more of the other FileType's in your storage scan.",
              "Included file extensions: asc,asp, aspx, brf, c, cc,cfm, cgi, cpp, csv, cxx, c++, cs, css, dart, dat, dot, eml,, epbub, ged, go, h, hh, hpp, hxx, h++, hs, html, htm, mkd, markdown, m, ml, mli, perl, pl, plist, pm, php, phtml, pht, properties, py, pyw, rb, rbw, rs, rss, rc, scala, sh, sql, swift, tex, shtml, shtm, xhtml, lhs, ics, ini, java, js, json, kix, kml, ocaml, md, txt, text, tsv, vb, vcard, vcs, wml, xcodeproj, xml, xsl, xsd, yml, yaml.",
              "Included file extensions: bmp, gif, jpg, jpeg, jpe, png. bytes_limit_per_file has no effect on image files. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'.",
              "Word files \u003e30 MB will be scanned as binary files. Included file extensions: docx, dotx, docm, dotm",
              "PDF files \u003e30 MB will be scanned as binary files. Included file extensions: pdf",
              "Included file extensions: avro",
              "Included file extensions: csv",
              "Included file extensions: tsv",
              "Powerpoint files \u003e30 MB will be scanned as binary files. Included file extensions: pptx, pptm, potx, potm, pot",
              "Excel files \u003e30 MB will be scanned as binary files. Included file extensions: xlsx, xlsm, xltx, xltm"
            ],
            "type": "string",
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "BINARY_FILE",
              "TEXT_FILE",
              "IMAGE",
              "WORD",
              "PDF",
              "AVRO",
              "CSV",
              "TSV",
              "POWERPOINT",
              "EXCEL"
            ]
          },
          "type": "array"
        },
        "sampleMethod": {
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "enumDescriptions": [
            "",
            "Scan from the top (default).",
            "For each file larger than bytes_limit_per_file, randomly pick the offset to start scanning. The scanned bytes are contiguous."
          ],
          "type": "string"
        },
        "fileSet": {
          "description": "The set of one or more files to scan.",
          "$ref": "GooglePrivacyDlpV2FileSet"
        },
        "filesLimitPercent": {
          "type": "integer",
          "description": "Limits the number of files to scan to this percentage of the input FileSet. Number of files scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0.",
          "format": "int32"
        },
        "bytesLimitPerFile": {
          "type": "string",
          "description": "Max number of bytes to scan from a file. If a scanned file's size is bigger than this value then the rest of the bytes are omitted. Only one of bytes_limit_per_file and bytes_limit_per_file_percent can be specified. Cannot be set if de-identification is requested.",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageOptions",
      "type": "object",
      "description": "Options defining a file or a set of files within a Cloud Storage bucket."
    },
    "GooglePrivacyDlpV2TransformationLocation": {
      "id": "GooglePrivacyDlpV2TransformationLocation",
      "type": "object",
      "properties": {
        "recordTransformation": {
          "description": "For record transformations, provide a field and container information.",
          "$ref": "GooglePrivacyDlpV2RecordTransformation"
        },
        "containerType": {
          "type": "string",
          "description": "Information about the functionality of the container where this finding occurred, if available.",
          "enum": [
            "TRANSFORM_UNKNOWN_CONTAINER",
            "TRANSFORM_BODY",
            "TRANSFORM_METADATA",
            "TRANSFORM_TABLE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "findingId": {
          "type": "string",
          "description": "For infotype transformations, link to the corresponding findings ID so that location information does not need to be duplicated. Each findings ID correlates to an entry in the findings output table, this table only gets created when users specify to save findings (add the save findings action to the request)."
        }
      },
      "description": "Specifies the location of a transformation."
    },
    "GooglePrivacyDlpV2TableOptions": {
      "type": "object",
      "properties": {
        "identifyingFields": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "The columns that are the primary keys for table objects included in ContentItem. A copy of this cell's value will stored alongside alongside each finding so that the finding can be traced to the specific row it came from. No more than 3 may be provided."
        }
      },
      "description": "Instructions regarding the table content being inspected.",
      "id": "GooglePrivacyDlpV2TableOptions"
    },
    "GooglePrivacyDlpV2PartitionId": {
      "id": "GooglePrivacyDlpV2PartitionId",
      "properties": {
        "namespaceId": {
          "type": "string",
          "description": "If not empty, the ID of the namespace to which the entities belong."
        },
        "projectId": {
          "description": "The ID of the project to which the entities belong.",
          "type": "string"
        }
      },
      "description": "Datastore partition ID. A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DataProfilePubSubMessage": {
      "description": "Pub/Sub topic message for a DataProfileAction.PubSubNotification event. To receive a message of protocol buffer schema type, convert the message data to an object of this proto class.",
      "id": "GooglePrivacyDlpV2DataProfilePubSubMessage",
      "properties": {
        "event": {
          "enumDescriptions": [
            "Unused.",
            "New profile (not a re-profile).",
            "Changed one of the following profile metrics: * Table data risk score * Table sensitivity score * Table resource visibility * Table encryption type * Table predicted infoTypes * Table other infoTypes",
            "Table data risk score or sensitivity score increased.",
            "A user (non-internal) error occurred."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "NEW_PROFILE",
            "CHANGED_PROFILE",
            "SCORE_INCREASED",
            "ERROR_CHANGED"
          ],
          "type": "string",
          "description": "The event that caused the Pub/Sub message to be sent."
        },
        "profile": {
          "description": "If `DetailLevel` is `TABLE_PROFILE` this will be fully populated. Otherwise, if `DetailLevel` is `RESOURCE_NAME`, then only `name` and `full_resource` will be populated.",
          "$ref": "GooglePrivacyDlpV2TableDataProfile"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "description": "The intervals [min_probability, max_probability) do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_probability: 0, max_probability: 0.1, frequency: 17} {min_probability: 0.2, max_probability: 0.3, frequency: 42} {min_probability: 0.3, max_probability: 0.4, frequency: 99} mean that there are no record with an estimated probability in [0.1, 0.2) nor larger or equal to 0.4.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Result of the δ-presence computation. Note that these results are an estimation, not exact values."
    },
    "GooglePrivacyDlpV2TransformationResultStatus": {
      "type": "object",
      "properties": {
        "details": {
          "$ref": "GoogleRpcStatus",
          "description": "Detailed error codes and messages"
        },
        "resultStatusType": {
          "description": "Transformation result status type, this will be either SUCCESS, or it will be the reason for why the transformation was not completely successful.",
          "enum": [
            "STATE_TYPE_UNSPECIFIED",
            "INVALID_TRANSFORM",
            "BIGQUERY_MAX_ROW_SIZE_EXCEEDED",
            "METADATA_UNRETRIEVABLE",
            "SUCCESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "This will be set when a finding could not be transformed (i.e. outside user set bucket range).",
            "This will be set when a BigQuery transformation was successful but could not be stored back in BigQuery because the transformed row exceeds BigQuery's max row size.",
            "This will be set when there is a finding in the custom metadata of a file, but at the write time of the transformed file, this key / value pair is unretrievable.",
            "This will be set when the transformation and storing of it is successful."
          ]
        }
      },
      "id": "GooglePrivacyDlpV2TransformationResultStatus"
    },
    "GooglePrivacyDlpV2InspectDataSourceDetails": {
      "id": "GooglePrivacyDlpV2InspectDataSourceDetails",
      "type": "object",
      "description": "The results of an inspect DataSource job.",
      "properties": {
        "result": {
          "description": "A summary of the outcome of this inspection job.",
          "$ref": "GooglePrivacyDlpV2Result"
        },
        "requestedOptions": {
          "$ref": "GooglePrivacyDlpV2RequestedOptions",
          "description": "The configuration used for this job."
        }
      }
    },
    "GooglePrivacyDlpV2ListJobTriggersResponse": {
      "description": "Response message for ListJobTriggers.",
      "id": "GooglePrivacyDlpV2ListJobTriggersResponse",
      "properties": {
        "jobTriggers": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2JobTrigger"
          },
          "description": "List of triggeredJobs, up to page_size in ListJobTriggersRequest."
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used in following ListJobTriggers request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "description": "Message for detecting output from deidentification transformations such as [`CryptoReplaceFfxFpeConfig`](https://cloud.google.com/dlp/docs/reference/rest/v2/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig). These types of transformations are those that perform pseudonymization, thereby producing a \"surrogate\" as output. This should be used in conjunction with a field on the transformation such as `surrogate_info_type`. This CustomInfoType does not support the use of `detection_rules`.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2SurrogateType"
    },
    "GooglePrivacyDlpV2CategoricalStatsResult": {
      "type": "object",
      "description": "Result of the categorical stats computation.",
      "id": "GooglePrivacyDlpV2CategoricalStatsResult",
      "properties": {
        "valueFrequencyHistogramBuckets": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket"
          },
          "description": "Histogram of value frequencies in the column."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GooglePrivacyDlpV2Range": {
      "description": "Generic half-open interval [start, end)",
      "type": "object",
      "properties": {
        "end": {
          "type": "string",
          "format": "int64",
          "description": "Index of the last character of the range (exclusive)."
        },
        "start": {
          "type": "string",
          "description": "Index of the first character of the range (inclusive).",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2Range"
    },
    "GooglePrivacyDlpV2HybridFindingDetails": {
      "description": "Populate to associate additional data with each finding.",
      "properties": {
        "tableOptions": {
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys. If not known ahead of time, can also be set within each inspect hybrid call and the two will be merged. Note that identifying_fields will only be stored to BigQuery, and only if the BigQuery action has been included.",
          "$ref": "GooglePrivacyDlpV2TableOptions"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to represent user provided metadata about the data being inspected. If configured by the job, some key values may be required. The labels associated with `Finding`'s produced by hybrid inspection. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
        },
        "fileOffset": {
          "description": "Offset in bytes of the line, from the beginning of the file, where the finding is located. Populate if the item being scanned is only part of a bigger item, such as a shard of a file and you want to track the absolute position of the finding.",
          "format": "int64",
          "type": "string"
        },
        "containerDetails": {
          "description": "Details about the container where the content being inspected is from.",
          "$ref": "GooglePrivacyDlpV2Container"
        },
        "rowOffset": {
          "format": "int64",
          "type": "string",
          "description": "Offset of the row for tables. Populate if the row(s) being scanned are part of a bigger dataset and you want to keep track of their absolute position."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridFindingDetails"
    },
    "GooglePrivacyDlpV2HybridInspectDlpJobRequest": {
      "id": "GooglePrivacyDlpV2HybridInspectDlpJobRequest",
      "description": "Request to search for potentially sensitive info in a custom location.",
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2TimePartConfig": {
      "id": "GooglePrivacyDlpV2TimePartConfig",
      "properties": {
        "partToExtract": {
          "enumDescriptions": [
            "Unused",
            "[0-9999]",
            "[1-12]",
            "[1-31]",
            "[1-7]",
            "[1-53]",
            "[0-23]"
          ],
          "enum": [
            "TIME_PART_UNSPECIFIED",
            "YEAR",
            "MONTH",
            "DAY_OF_MONTH",
            "DAY_OF_WEEK",
            "WEEK_OF_YEAR",
            "HOUR_OF_DAY"
          ],
          "description": "The part of the time to keep.",
          "type": "string"
        }
      },
      "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a portion of the value.",
      "type": "object"
    },
    "GooglePrivacyDlpV2CloudStorageRegexFileSet": {
      "type": "object",
      "description": "Message representing a set of files in a Cloud Storage bucket. Regular expressions are used to allow fine-grained control over which files in the bucket to include. Included files are those that match at least one item in `include_regex` and do not match any items in `exclude_regex`. Note that a file that matches items from both lists will _not_ be included. For a match to occur, the entire file path (i.e., everything in the url after the bucket name) must match the regular expression. For example, given the input `{bucket_name: \"mybucket\", include_regex: [\"directory1/.*\"], exclude_regex: [\"directory1/excluded.*\"]}`: * `gs://mybucket/directory1/myfile` will be included * `gs://mybucket/directory1/directory2/myfile` will be included (`.*` matches across `/`) * `gs://mybucket/directory0/directory1/myfile` will _not_ be included (the full path doesn't match any items in `include_regex`) * `gs://mybucket/directory1/excludedfile` will _not_ be included (the path matches an item in `exclude_regex`) If `include_regex` is left empty, it will match all files by default (this is equivalent to setting `include_regex: [\".*\"]`). Some other common use cases: * `{bucket_name: \"mybucket\", exclude_regex: [\".*\\.pdf\"]}` will include all files in `mybucket` except for .pdf files * `{bucket_name: \"mybucket\", include_regex: [\"directory/[^/]+\"]}` will include all files directly under `gs://mybucket/directory/`, without matching across `/`",
      "id": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
      "properties": {
        "includeRegex": {
          "description": "A list of regular expressions matching file paths to include. All files in the bucket that match at least one of these regular expressions will be included in the set of files, except for those that also match an item in `exclude_regex`. Leaving this field empty will match all files by default (this is equivalent to including `.*` in the list). Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bucketName": {
          "description": "The name of a Cloud Storage bucket. Required.",
          "type": "string"
        },
        "excludeRegex": {
          "description": "A list of regular expressions matching file paths to exclude. All files in the bucket that match at least one of these regular expressions will be excluded from the scan. Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationHistogramBucket": {
      "properties": {
        "bucketSize": {
          "type": "string",
          "format": "int64",
          "description": "Number of records within these anonymity bounds."
        },
        "bucketValueCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of distinct quasi-identifier tuple values in this bucket."
        },
        "minAnonymity": {
          "format": "int64",
          "type": "string",
          "description": "Always positive."
        },
        "maxAnonymity": {
          "format": "int64",
          "description": "Always greater than or equal to min_anonymity.",
          "type": "string"
        },
        "bucketValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
          },
          "description": "Sample of quasi-identifier tuple values in this bucket. The total number of classes returned per bucket is capped at 20."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2KMapEstimationHistogramBucket",
      "description": "A KMapEstimationHistogramBucket message with the following values: min_anonymity: 3 max_anonymity: 5 frequency: 42 means that there are 42 records whose quasi-identifier values correspond to 3, 4 or 5 people in the overlying population. An important particular case is when min_anonymity = max_anonymity = 1: the frequency field then corresponds to the number of uniquely identifiable records."
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "id": "GooglePrivacyDlpV2InspectionRule",
      "description": "A single inspection rule to be applied to infoTypes, specified in `InspectionRuleSet`.",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        },
        "exclusionRule": {
          "description": "Exclusion rule.",
          "$ref": "GooglePrivacyDlpV2ExclusionRule"
        }
      }
    },
    "GooglePrivacyDlpV2Action": {
      "properties": {
        "jobNotificationEmails": {
          "$ref": "GooglePrivacyDlpV2JobNotificationEmails",
          "description": "Sends an email when the job completes. The email goes to IAM project owners and technical [Essential Contacts](https://cloud.google.com/resource-manager/docs/managing-notification-contacts)."
        },
        "publishSummaryToCscc": {
          "$ref": "GooglePrivacyDlpV2PublishSummaryToCscc",
          "description": "Publish summary to Cloud Security Command Center (Alpha)."
        },
        "saveFindings": {
          "$ref": "GooglePrivacyDlpV2SaveFindings",
          "description": "Save resulting findings in a provided location."
        },
        "pubSub": {
          "description": "Publish a notification to a Pub/Sub topic.",
          "$ref": "GooglePrivacyDlpV2PublishToPubSub"
        },
        "publishToStackdriver": {
          "$ref": "GooglePrivacyDlpV2PublishToStackdriver",
          "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count."
        },
        "deidentify": {
          "description": "Create a de-identified copy of the input data.",
          "$ref": "GooglePrivacyDlpV2Deidentify"
        },
        "publishFindingsToCloudDataCatalog": {
          "$ref": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog",
          "description": "Publish findings to Cloud Datahub."
        }
      },
      "type": "object",
      "description": "A task to execute on the completion of a job. See https://cloud.google.com/dlp/docs/concepts-actions to learn more.",
      "id": "GooglePrivacyDlpV2Action"
    },
    "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest": {
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Mask to control which fields get updated."
        },
        "deidentifyTemplate": {
          "description": "New DeidentifyTemplate value.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        }
      },
      "description": "Request message for UpdateDeidentifyTemplate."
    },
    "GooglePrivacyDlpV2RiskAnalysisJobConfig": {
      "type": "object",
      "properties": {
        "actions": {
          "type": "array",
          "description": "Actions to execute at the completion of the job. Are executed in the order provided.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          }
        },
        "privacyMetric": {
          "$ref": "GooglePrivacyDlpV2PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "sourceTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Input dataset to compute metrics over."
        }
      },
      "description": "Configuration for a risk analysis job. See https://cloud.google.com/dlp/docs/concepts-risk-analysis to learn more.",
      "id": "GooglePrivacyDlpV2RiskAnalysisJobConfig"
    },
    "GooglePrivacyDlpV2NumericalStatsConfig": {
      "type": "object",
      "properties": {
        "field": {
          "description": "Field to compute numerical stats on. Supported types are integer, float, date, datetime, timestamp, time.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "description": "Compute numerical stats over an individual column, including min, max, and quantiles.",
      "id": "GooglePrivacyDlpV2NumericalStatsConfig"
    },
    "GooglePrivacyDlpV2HybridInspectResponse": {
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridInspectResponse",
      "properties": {},
      "description": "Quota exceeded errors will be thrown once quota has been met."
    },
    "GooglePrivacyDlpV2ImageTransformation": {
      "type": "object",
      "properties": {
        "redactionColor": {
          "$ref": "GooglePrivacyDlpV2Color",
          "description": "The color to use when redacting content from an image. If not specified, the default is black."
        },
        "allInfoTypes": {
          "description": "Apply transformation to all findings not specified in other ImageTransformation's selected_info_types. Only one instance is allowed within the ImageTransformations message.",
          "$ref": "GooglePrivacyDlpV2AllInfoTypes"
        },
        "allText": {
          "description": "Apply transformation to all text that doesn't match an infoType. Only one instance is allowed within the ImageTransformations message.",
          "$ref": "GooglePrivacyDlpV2AllText"
        },
        "selectedInfoTypes": {
          "description": "Apply transformation to the selected info_types.",
          "$ref": "GooglePrivacyDlpV2SelectedInfoTypes"
        }
      },
      "id": "GooglePrivacyDlpV2ImageTransformation",
      "description": "Configuration for determining how redaction of images should occur."
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "properties": {},
      "type": "object",
      "description": "Replace each matching finding with the name of the info_type.",
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig"
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "type": "object",
      "description": "Options defining BigQuery table and row identifiers.",
      "id": "GooglePrivacyDlpV2BigQueryOptions",
      "properties": {
        "rowsLimit": {
          "description": "Max number of rows to scan. If the table has more rows than this value, the rest of the rows are omitted. If not set, or if set to 0, all rows will be scanned. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "format": "int64",
          "type": "string"
        },
        "excludedFields": {
          "type": "array",
          "description": "References to fields excluded from scanning. This allows you to skip inspection of entire columns which you know have no findings.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "sampleMethod": {
          "enumDescriptions": [
            "",
            "Scan groups of rows in the order BigQuery provides (default). Multiple groups of rows may be scanned in parallel, so results may not appear in the same order the rows are read.",
            "Randomly pick groups of rows to scan."
          ],
          "type": "string",
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ]
        },
        "rowsLimitPercent": {
          "description": "Max percentage of rows to scan. The rest are omitted. The number of rows scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "format": "int32",
          "type": "integer"
        },
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Complete BigQuery table reference."
        },
        "identifyingFields": {
          "description": "Table fields that may uniquely identify a row within the table. When `actions.saveFindings.outputConfig.table` is specified, the values of columns specified here are available in the output table under `location.content_locations.record_location.record_key.id_values`. Nested fields such as `person.birthdate.year` are allowed.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array"
        },
        "includedFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "Limit scanning only to these fields.",
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Result of the l-diversity computation.",
      "id": "GooglePrivacyDlpV2LDiversityResult"
    },
    "GooglePrivacyDlpV2AllInfoTypes": {
      "properties": {},
      "type": "object",
      "description": "Apply transformation to all findings.",
      "id": "GooglePrivacyDlpV2AllInfoTypes"
    },
    "GooglePrivacyDlpV2TimespanConfig": {
      "description": "Configuration of the timespan of the items to include in scanning. Currently only supported when inspecting Cloud Storage and BigQuery.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TimespanConfig",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Exclude files, tables, or rows newer than this value. If not set, no upper time limit is applied.",
          "format": "google-datetime"
        },
        "timestampField": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Specification of the field containing the timestamp of scanned items. Used for data sources like Datastore and BigQuery. *For BigQuery* If this value is not specified and the table was modified between the given start and end times, the entire table will be scanned. If this value is specified, then rows are filtered based on the given start and end times. Rows with a `NULL` value in the provided BigQuery column are skipped. Valid data types of the provided BigQuery column are: `INTEGER`, `DATE`, `TIMESTAMP`, and `DATETIME`. If your BigQuery table is [partitioned at ingestion time](https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time), you can use any of the following pseudo-columns as your timestamp field. When used with Cloud DLP, these pseudo-column names are case sensitive. - _PARTITIONTIME - _PARTITIONDATE - _PARTITION_LOAD_TIME *For Datastore* If this value is specified, then entities are filtered based on the given start and end times. If an entity does not contain the provided timestamp property or contains empty or invalid values, then it is included. Valid data types of the provided timestamp property are: `TIMESTAMP`. See the [known issue](https://cloud.google.com/dlp/docs/known-issues#bq-timespan) related to this operation."
        },
        "startTime": {
          "description": "Exclude files, tables, or rows older than this value. If not set, no lower time limit is applied.",
          "format": "google-datetime",
          "type": "string"
        },
        "enableAutoPopulationOfTimespanConfig": {
          "type": "boolean",
          "description": "When the job is started by a JobTrigger we will automatically figure out a valid start_time to avoid scanning files that have not been modified since the last time the JobTrigger executed. This will be based on the time of the execution of the last run of the JobTrigger or the timespan end_time used in the last run of the JobTrigger."
        }
      }
    },
    "GooglePrivacyDlpV2KAnonymityResult": {
      "description": "Result of the k-anonymity computation.",
      "type": "object",
      "id": "GooglePrivacyDlpV2KAnonymityResult",
      "properties": {
        "equivalenceClassHistogramBuckets": {
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityHistogramBucket"
          },
          "description": "Histogram of k-anonymity equivalence classes.",
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2BoundingBox": {
      "type": "object",
      "description": "Bounding box encompassing detected text within an image.",
      "properties": {
        "height": {
          "format": "int32",
          "description": "Height of the bounding box in pixels.",
          "type": "integer"
        },
        "width": {
          "format": "int32",
          "description": "Width of the bounding box in pixels.",
          "type": "integer"
        },
        "left": {
          "type": "integer",
          "description": "Left coordinate of the bounding box. (0,0) is upper left.",
          "format": "int32"
        },
        "top": {
          "format": "int32",
          "type": "integer",
          "description": "Top coordinate of the bounding box. (0,0) is upper left."
        }
      },
      "id": "GooglePrivacyDlpV2BoundingBox"
    },
    "GooglePrivacyDlpV2BigQueryKey": {
      "description": "Row key for identifying a record in BigQuery table.",
      "properties": {
        "rowNumber": {
          "type": "string",
          "format": "int64",
          "description": "Row number inferred at the time the table was scanned. This value is nondeterministic, cannot be queried, and may be null for inspection jobs. To locate findings within a table, specify `inspect_job.storage_config.big_query_options.identifying_fields` in `CreateDlpJobRequest`."
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryKey"
    },
    "GooglePrivacyDlpV2WordList": {
      "description": "Message defining a list of words or phrases to search for in the data.",
      "type": "object",
      "properties": {
        "words": {
          "type": "array",
          "description": "Words or phrases defining the dictionary. The dictionary must contain at least one phrase and every phrase must contain at least 2 characters that are letters or digits. [required]",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GooglePrivacyDlpV2WordList"
    },
    "GooglePrivacyDlpV2PrivacyMetric": {
      "properties": {
        "numericalStatsConfig": {
          "description": "Numerical stats",
          "$ref": "GooglePrivacyDlpV2NumericalStatsConfig"
        },
        "lDiversityConfig": {
          "description": "l-diversity",
          "$ref": "GooglePrivacyDlpV2LDiversityConfig"
        },
        "categoricalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsConfig",
          "description": "Categorical stats"
        },
        "kMapEstimationConfig": {
          "description": "k-map",
          "$ref": "GooglePrivacyDlpV2KMapEstimationConfig"
        },
        "kAnonymityConfig": {
          "description": "K-anonymity",
          "$ref": "GooglePrivacyDlpV2KAnonymityConfig"
        },
        "deltaPresenceEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
          "description": "delta-presence"
        }
      },
      "id": "GooglePrivacyDlpV2PrivacyMetric",
      "type": "object",
      "description": "Privacy metric to compute for reidentification risk analysis."
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
      "properties": {
        "auxiliaryTables": {
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          },
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers field must appear in exactly one field of one auxiliary table.",
          "type": "array"
        },
        "quasiIds": {
          "type": "array",
          "description": "Required. Fields considered to be quasi-identifiers. No two fields can have the same tag.",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          }
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code."
        }
      },
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to figure out that one given individual appears in a de-identified dataset. Similarly to the k-map metric, we cannot compute δ-presence exactly without knowing the attack dataset, so we use a statistical model instead."
    },
    "GooglePrivacyDlpV2ImageTransformations": {
      "description": "A type of transformation that is applied over images.",
      "id": "GooglePrivacyDlpV2ImageTransformations",
      "properties": {
        "transforms": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageTransformation"
          }
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DatastoreOptions": {
      "description": "Options defining a data set within Google Cloud Datastore.",
      "type": "object",
      "properties": {
        "kind": {
          "$ref": "GooglePrivacyDlpV2KindExpression",
          "description": "The kind to process."
        },
        "partitionId": {
          "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        }
      },
      "id": "GooglePrivacyDlpV2DatastoreOptions"
    },
    "GooglePrivacyDlpV2HybridInspectJobTriggerRequest": {
      "description": "Request to search for potentially sensitive info in a custom location.",
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      },
      "id": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2NumericalStatsResult": {
      "description": "Result of the numerical stats computation.",
      "type": "object",
      "id": "GooglePrivacyDlpV2NumericalStatsResult",
      "properties": {
        "quantileValues": {
          "type": "array",
          "description": "List of 99 values that partition the set of field values into 100 equal sized buckets.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        },
        "maxValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Maximum value appearing in the column."
        },
        "minValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Minimum value appearing in the column."
        }
      }
    },
    "GooglePrivacyDlpV2ActivateJobTriggerRequest": {
      "id": "GooglePrivacyDlpV2ActivateJobTriggerRequest",
      "description": "Request message for ActivateJobTrigger.",
      "properties": {},
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectContentResponse": {
      "description": "Results of inspecting an item.",
      "type": "object",
      "properties": {
        "result": {
          "description": "The findings.",
          "$ref": "GooglePrivacyDlpV2InspectResult"
        }
      },
      "id": "GooglePrivacyDlpV2InspectContentResponse"
    },
    "GooglePrivacyDlpV2TableDataProfile": {
      "properties": {
        "encryptionStatus": {
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "ENCRYPTION_GOOGLE_MANAGED",
            "ENCRYPTION_CUSTOMER_MANAGED"
          ],
          "description": "How the table is encrypted.",
          "enumDescriptions": [
            "Unused.",
            "Google manages server-side encryption keys on your behalf.",
            "Customer provides the key."
          ],
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "Unused.",
            "The profile is currently running. Once a profile has finished it will transition to DONE.",
            "The profile is no longer generating. If profile_status.status.code is 0, the profile succeeded, otherwise, it failed."
          ],
          "description": "State of a profile."
        },
        "dataRiskLevel": {
          "description": "The data risk level of this table.",
          "$ref": "GooglePrivacyDlpV2DataRiskLevel"
        },
        "fullResource": {
          "description": "The resource name of the table. https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "profileLastGenerated": {
          "type": "string",
          "description": "The last time the profile was generated.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "The time at which the table was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "configSnapshot": {
          "$ref": "GooglePrivacyDlpV2DataProfileConfigSnapshot",
          "description": "The snapshot of the configurations used to generate the profile."
        },
        "predictedInfoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeSummary"
          },
          "description": "The infoTypes predicted from this table's data.",
          "type": "array"
        },
        "lastModifiedTime": {
          "description": "The time when this table was last modified",
          "type": "string",
          "format": "google-datetime"
        },
        "otherInfoTypes": {
          "type": "array",
          "description": "Other infoTypes found in this table's data.",
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherInfoTypeSummary"
          }
        },
        "sensitivityScore": {
          "$ref": "GooglePrivacyDlpV2SensitivityScore",
          "description": "The sensitivity score of this table."
        },
        "resourceVisibility": {
          "enumDescriptions": [
            "Unused.",
            "Visible to any user.",
            "Visible only to specific users."
          ],
          "enum": [
            "RESOURCE_VISIBILITY_UNSPECIFIED",
            "RESOURCE_VISIBILITY_PUBLIC",
            "RESOURCE_VISIBILITY_RESTRICTED"
          ],
          "type": "string",
          "description": "How broadly a resource has been shared."
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels applied to the resource at the time the profile was generated.",
          "type": "object"
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The time when this table expires.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The name of the profile."
        },
        "profileStatus": {
          "$ref": "GooglePrivacyDlpV2ProfileStatus",
          "description": "Success or error status from the most recent profile generation attempt. May be empty if the profile is still being generated."
        },
        "datasetProjectId": {
          "type": "string",
          "description": "The GCP project ID that owns the BigQuery dataset."
        },
        "rowCount": {
          "type": "string",
          "description": "Number of rows in the table when the profile was generated. This will not be populated for BigLake tables.",
          "format": "int64"
        },
        "datasetLocation": {
          "type": "string",
          "description": "The BigQuery location where the dataset's data is stored. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        },
        "tableSizeBytes": {
          "description": "The size of the table when the profile was generated.",
          "type": "string",
          "format": "int64"
        },
        "failedColumnCount": {
          "format": "int64",
          "description": "The number of columns skipped in the table because of an error.",
          "type": "string"
        },
        "datasetId": {
          "description": "The BigQuery dataset ID.",
          "type": "string"
        },
        "projectDataProfile": {
          "type": "string",
          "description": "The resource name to the project data profile for this table."
        },
        "tableId": {
          "description": "The BigQuery table ID.",
          "type": "string"
        },
        "scannedColumnCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of columns profiled in the table."
        }
      },
      "description": "The profile for a scanned table.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TableDataProfile"
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing. Uses SHA-256. The key size must be either 32 or 64 bytes. Outputs a base64 encoded representation of the hashed output (for example, L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=). Currently, only string and integer values can be hashed. See https://cloud.google.com/dlp/docs/pseudonymization to learn more.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CryptoHashConfig",
      "properties": {
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "The key used by the hash function."
        }
      }
    },
    "GooglePrivacyDlpV2Expressions": {
      "properties": {
        "logicalOperator": {
          "type": "string",
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ]
        },
        "conditions": {
          "description": "Conditions to apply to the expression.",
          "$ref": "GooglePrivacyDlpV2Conditions"
        }
      },
      "id": "GooglePrivacyDlpV2Expressions",
      "description": "An expression, consisting of an operator and conditions.",
      "type": "object"
    },
    "GooglePrivacyDlpV2RequestedRiskAnalysisOptions": {
      "type": "object",
      "properties": {
        "jobConfig": {
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig",
          "description": "The job config for the risk job."
        }
      },
      "id": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions",
      "description": "Risk analysis options."
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "type": "object",
      "description": "Message representing a single file or path in Cloud Storage.",
      "id": "GooglePrivacyDlpV2CloudStoragePath",
      "properties": {
        "path": {
          "description": "A url representing a file or path (no wildcards) in Cloud Storage. Example: gs://[BUCKET_NAME]/dictionary.txt",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationConfig": {
      "type": "object",
      "properties": {
        "quasiIds": {
          "type": "array",
          "description": "Required. Fields considered to be quasi-identifiers. No two columns can have the same tag.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TaggedField"
          }
        },
        "auxiliaryTables": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2AuxiliaryTable"
          },
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers column must appear in exactly one column of one auxiliary table."
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code."
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationConfig",
      "description": "Reidentifiability metric. This corresponds to a risk model similar to what is called \"journalist risk\" in the literature, except the attack dataset is statistically modeled instead of being perfectly known. This can be done using publicly available data (like the US Census), or using a custom statistical model (indicated as one or several BigQuery tables), or by extrapolating from the distribution of values in the input dataset."
    },
    "GooglePrivacyDlpV2RequestedOptions": {
      "id": "GooglePrivacyDlpV2RequestedOptions",
      "type": "object",
      "description": "Snapshot of the inspection configuration.",
      "properties": {
        "jobConfig": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig",
          "description": "Inspect config."
        },
        "snapshotInspectTemplate": {
          "description": "If run with an InspectTemplate, a snapshot of its state at the time of this run.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        }
      }
    },
    "GooglePrivacyDlpV2FieldId": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name describing the field.",
          "type": "string"
        }
      },
      "description": "General identifier of a data field in a storage service.",
      "id": "GooglePrivacyDlpV2FieldId"
    },
    "GooglePrivacyDlpV2ContentItem": {
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2Table",
          "description": "Structured content for inspection. See https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to learn more."
        },
        "value": {
          "type": "string",
          "description": "String data to inspect or redact."
        },
        "byteItem": {
          "description": "Content data to inspect or redact. Replaces `type` and `data`.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2ContentItem"
    },
    "GooglePrivacyDlpV2JobNotificationEmails": {
      "description": "Sends an email when the job completes. The email goes to IAM project owners and technical [Essential Contacts](https://cloud.google.com/resource-manager/docs/managing-notification-contacts).",
      "properties": {},
      "id": "GooglePrivacyDlpV2JobNotificationEmails",
      "type": "object"
    },
    "GooglePrivacyDlpV2DataProfileLocation": {
      "properties": {
        "organizationId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of an organization to scan."
        },
        "folderId": {
          "description": "The ID of the Folder within an organization to scan.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2DataProfileLocation",
      "description": "The data that will be profiled.",
      "type": "object"
    },
    "GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "description": "A tuple of values for the quasi-identifier columns.",
      "properties": {
        "estimatedAnonymity": {
          "description": "The estimated anonymity for these quasi-identifier values.",
          "type": "string",
          "format": "int64"
        },
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues",
      "type": "object"
    },
    "GooglePrivacyDlpV2ListInspectTemplatesResponse": {
      "id": "GooglePrivacyDlpV2ListInspectTemplatesResponse",
      "description": "Response message for ListInspectTemplates.",
      "type": "object",
      "properties": {
        "inspectTemplates": {
          "type": "array",
          "description": "List of inspectTemplates, up to page_size in ListInspectTemplatesRequest.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectTemplate"
          }
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used in following ListInspectTemplates request.",
          "type": "string"
        }
      }
    },
    "GoogleTypeTimeOfDay": {
      "type": "object",
      "properties": {
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of hour of day. Must be from 0 to 59."
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "GoogleTypeTimeOfDay"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "type": "object",
      "description": "Result of a risk analysis operation request.",
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
      "properties": {
        "lDiversityResult": {
          "description": "L-divesity result",
          "$ref": "GooglePrivacyDlpV2LDiversityResult"
        },
        "requestedSourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "requestedOptions": {
          "$ref": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions",
          "description": "The configuration used for this job."
        },
        "deltaPresenceEstimationResult": {
          "description": "Delta-presence result",
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult"
        },
        "requestedPrivacyMetric": {
          "$ref": "GooglePrivacyDlpV2PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "numericalStatsResult": {
          "description": "Numerical stats result",
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult"
        },
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult",
          "description": "K-map result"
        },
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult",
          "description": "Categorical stats result"
        },
        "kAnonymityResult": {
          "description": "K-anonymity result",
          "$ref": "GooglePrivacyDlpV2KAnonymityResult"
        }
      }
    },
    "GooglePrivacyDlpV2ListStoredInfoTypesResponse": {
      "properties": {
        "storedInfoTypes": {
          "description": "List of storedInfoTypes, up to page_size in ListStoredInfoTypesRequest.",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used in following ListStoredInfoTypes request.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ListStoredInfoTypesResponse",
      "description": "Response message for ListStoredInfoTypes.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Value": {
      "type": "object",
      "properties": {
        "timeValue": {
          "description": "time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "dateValue": {
          "description": "date",
          "$ref": "GoogleTypeDate"
        },
        "booleanValue": {
          "description": "boolean",
          "type": "boolean"
        },
        "timestampValue": {
          "type": "string",
          "description": "timestamp",
          "format": "google-datetime"
        },
        "floatValue": {
          "description": "float",
          "type": "number",
          "format": "double"
        },
        "stringValue": {
          "description": "string",
          "type": "string"
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "integer"
        },
        "dayOfWeekValue": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "description": "day of week"
        }
      },
      "id": "GooglePrivacyDlpV2Value",
      "description": "Set of primitive values supported by the system. Note that for the purposes of inspection or transformation, the number of bytes considered to comprise a 'Value' is based on its representation as a UTF-8 encoded string. For example, if 'integer_value' is set to 123456789, the number of bytes would be counted as 9, even though an int64 only holds up to 8 bytes of data."
    },
    "GooglePrivacyDlpV2PublishSummaryToCscc": {
      "id": "GooglePrivacyDlpV2PublishSummaryToCscc",
      "properties": {},
      "description": "Publish the result summary of a DlpJob to the Cloud Security Command Center (CSCC Alpha). This action is only available for projects which are parts of an organization and whitelisted for the alpha Cloud Security Command Center. The action will publish the count of finding instances and their info types. The summary of findings will be persisted in CSCC and are governed by CSCC service-specific policy, see https://cloud.google.com/terms/service-terms Only a single instance of this action can be specified. Compatible with: Inspect",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectTemplate": {
      "id": "GooglePrivacyDlpV2InspectTemplate",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Short description (max 256 chars)."
        },
        "name": {
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/inspectTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/inspectTemplates/TEMPLATE_ID`;",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "format": "google-datetime"
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "The core content of the template. Configuration of the scanning process."
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The inspectTemplate contains a configuration (set of types of sensitive data to be detected) to be used anywhere you otherwise would normally specify InspectConfig. See https://cloud.google.com/dlp/docs/concepts-templates to learn more."
    },
    "GooglePrivacyDlpV2ExcludeInfoTypes": {
      "properties": {
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "description": "InfoType list in ExclusionRule rule drops a finding when it overlaps or contained within with a finding of an infoType from this list. For example, for `InspectionRuleSet.info_types` containing \"PHONE_NUMBER\"` and `exclusion_rule` containing `exclude_info_types.info_types` with \"EMAIL_ADDRESS\" the phone number findings are dropped if they overlap with EMAIL_ADDRESS finding. That leads to \"555-222-2222@example.org\" to generate only a single finding, namely email address."
        }
      },
      "id": "GooglePrivacyDlpV2ExcludeInfoTypes",
      "description": "List of excluded infoTypes.",
      "type": "object"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      }
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "properties": {
        "bucketValueCount": {
          "type": "string",
          "description": "Total number of distinct values in this bucket.",
          "format": "int64"
        },
        "bucketValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          },
          "type": "array",
          "description": "Sample of value frequencies in this bucket. The total number of values returned per bucket is capped at 20."
        },
        "valueFrequencyLowerBound": {
          "format": "int64",
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "type": "string"
        },
        "valueFrequencyUpperBound": {
          "type": "string",
          "format": "int64",
          "description": "Upper bound on the value frequency of the values in this bucket."
        },
        "bucketSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of values in this bucket."
        }
      },
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket",
      "type": "object",
      "description": "Histogram of value frequencies in the column."
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "id": "GooglePrivacyDlpV2HotwordRule",
      "properties": {
        "hotwordRegex": {
          "description": "Regular expression pattern defining what qualifies as a hotword.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "likelihoodAdjustment": {
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment",
          "description": "Likelihood adjustment to apply to all matching findings."
        },
        "proximity": {
          "description": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The finding itself will be included in the window, so that hotwords can be used to match substrings of the finding itself. Suppose you want Cloud DLP to promote the likelihood of the phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" if the area code is known to be the area code of a company's office. In this case, use the hotword regex \"\\(xxx\\)\", where \"xxx\" is the area code in question. For tabular data, if you want to modify the likelihood of an entire column of findngs, see [Hotword example: Set the match likelihood of a table column] (https://cloud.google.com/dlp/docs/creating-custom-infotypes-likelihood#match-column-values).",
          "$ref": "GooglePrivacyDlpV2Proximity"
        }
      },
      "type": "object",
      "description": "The rule that adjusts the likelihood of findings within a certain proximity of hotwords."
    },
    "GooglePrivacyDlpV2ListDlpJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "jobs": {
          "description": "A list of DlpJobs that matches the specified filter in the request.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DlpJob"
          },
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2ListDlpJobsResponse",
      "type": "object",
      "description": "The response message for listing DLP jobs."
    },
    "GooglePrivacyDlpV2RecordCondition": {
      "type": "object",
      "id": "GooglePrivacyDlpV2RecordCondition",
      "description": "A condition for determining whether a transformation should be applied to a field.",
      "properties": {
        "expressions": {
          "$ref": "GooglePrivacyDlpV2Expressions",
          "description": "An expression."
        }
      }
    },
    "GooglePrivacyDlpV2FinishDlpJobRequest": {
      "id": "GooglePrivacyDlpV2FinishDlpJobRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for finishing a DLP hybrid job."
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse",
      "type": "object",
      "properties": {
        "item": {
          "description": "The de-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "overview": {
          "description": "An overview of the changes that were made on the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        }
      },
      "description": "Results of de-identifying a ContentItem."
    },
    "GooglePrivacyDlpV2FileSet": {
      "type": "object",
      "description": "Set of files to scan.",
      "id": "GooglePrivacyDlpV2FileSet",
      "properties": {
        "url": {
          "description": "The Cloud Storage url of the file(s) to scan, in the format `gs:///`. Trailing wildcard in the path is allowed. If the url ends in a trailing slash, the bucket or directory represented by the url will be scanned non-recursively (content in sub-directories will not be scanned). This means that `gs://mybucket/` is equivalent to `gs://mybucket/*`, and `gs://mybucket/directory/` is equivalent to `gs://mybucket/directory/*`. Exactly one of `url` or `regex_file_set` must be set.",
          "type": "string"
        },
        "regexFileSet": {
          "description": "The regex-filtered set of files to scan. Exactly one of `url` or `regex_file_set` must be set.",
          "$ref": "GooglePrivacyDlpV2CloudStorageRegexFileSet"
        }
      }
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryConfig": {
      "type": "object",
      "description": "Configuration for a custom dictionary created from a data source of any size up to the maximum size defined in the [limits](https://cloud.google.com/dlp/limits) page. The artifacts of dictionary creation are stored in the specified Cloud Storage location. Consider using `CustomInfoType.Dictionary` for smaller dictionaries that satisfy the size requirements.",
      "properties": {
        "cloudStorageFileSet": {
          "$ref": "GooglePrivacyDlpV2CloudStorageFileSet",
          "description": "Set of files containing newline-delimited lists of dictionary phrases."
        },
        "outputPath": {
          "$ref": "GooglePrivacyDlpV2CloudStoragePath",
          "description": "Location to store dictionary artifacts in Cloud Storage. These files will only be accessible by project owners and the DLP API. If any of these artifacts are modified, the dictionary is considered invalid and can no longer be used."
        },
        "bigQueryField": {
          "$ref": "GooglePrivacyDlpV2BigQueryField",
          "description": "Field in a BigQuery table where each cell represents a dictionary phrase."
        }
      },
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
    },
    "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest": {
      "properties": {
        "config": {
          "description": "Updated configuration for the storedInfoType. If not provided, a new version of the storedInfoType will be created with the existing configuration.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest",
      "description": "Request message for UpdateStoredInfoType."
    },
    "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse": {
      "id": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse",
      "description": "Response message for ListDeidentifyTemplates.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then the next page token to be used in following ListDeidentifyTemplates request."
        },
        "deidentifyTemplates": {
          "description": "List of deidentify templates, up to page_size in ListDeidentifyTemplatesRequest.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "type": "object",
      "properties": {
        "fixedLikelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Set the likelihood of a finding to a fixed value."
        },
        "relativeLikelihood": {
          "type": "integer",
          "format": "int32",
          "description": "Increase or decrease the likelihood by the specified number of levels. For example, if a finding would be `POSSIBLE` without the detection rule and `relative_likelihood` is 1, then it is upgraded to `LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`. Likelihood may never drop below `VERY_UNLIKELY` or exceed `VERY_LIKELY`, so applying an adjustment of 1 followed by an adjustment of -1 when base likelihood is `VERY_LIKELY` will result in a final likelihood of `LIKELY`."
        }
      },
      "description": "Message for specifying an adjustment to the likelihood of a finding as part of a detection rule.",
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment"
    },
    "GooglePrivacyDlpV2InfoTypeLimit": {
      "type": "object",
      "description": "Max findings configuration per infoType, per content item or long running DlpJob.",
      "properties": {
        "maxFindings": {
          "type": "integer",
          "description": "Max findings limit for the given infoType.",
          "format": "int32"
        },
        "infoType": {
          "description": "Type of information the findings limit applies to. Only one limit per info_type should be provided. If InfoTypeLimit does not have an info_type, the DLP API applies the limit against all info_types that are found but not specified in another InfoTypeLimit.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeLimit"
    },
    "GooglePrivacyDlpV2Result": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Result",
      "properties": {
        "totalEstimatedBytes": {
          "type": "string",
          "description": "Estimate of the number of bytes to process.",
          "format": "int64"
        },
        "hybridStats": {
          "description": "Statistics related to the processing of hybrid inspect.",
          "$ref": "GooglePrivacyDlpV2HybridInspectStatistics"
        },
        "processedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Total size in bytes that were processed."
        },
        "infoTypeStats": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          },
          "description": "Statistics of how many instances of each info type were found during inspect job."
        }
      },
      "description": "All result fields mentioned below are updated while the job is processing."
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption (FPE) with the FFX mode of operation; however when used in the `ReidentifyContent` API method, it serves the opposite function by reversing the surrogate back into the original identifier. The identifier must be encoded as ASCII. For a given crypto key and context, the same identifier will be replaced with the same surrogate. Identifiers must be at least two characters long. In the case that the identifier is the empty string, it will be skipped. See https://cloud.google.com/dlp/docs/pseudonymization to learn more. Note: We recommend using CryptoDeterministicConfig for all use cases which do not require preserving the input alphabet space and size, plus warrant referential integrity.",
      "type": "object",
      "properties": {
        "surrogateInfoType": {
          "description": "The custom infoType to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom infoType followed by the number of characters comprising the surrogate. The following scheme defines the format: info_type_name(surrogate_character_count):surrogate For example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom infoType [`SurrogateType`](https://cloud.google.com/dlp/docs/reference/rest/v2/InspectConfig#surrogatetype). This facilitates reversal of the surrogate when it occurs in free text. In order for inspection to work properly, the name of this infoType must not occur naturally anywhere in your data; otherwise, inspection may find a surrogate that does not correspond to an actual identifier. Therefore, choose your custom infoType name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "Required. The key used by the encryption algorithm."
        },
        "radix": {
          "description": "The native way to select the alphabet. Must be in the range [2, 95].",
          "type": "integer",
          "format": "int32"
        },
        "commonAlphabet": {
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ],
          "enumDescriptions": [
            "Unused.",
            "`[0-9]` (radix of 10)",
            "`[0-9A-F]` (radix of 16)",
            "`[0-9A-Z]` (radix of 36)",
            "`[0-9A-Za-z]` (radix of 62)"
          ],
          "type": "string",
          "description": "Common alphabets."
        },
        "customAlphabet": {
          "type": "string",
          "description": "This is supported by mapping these to the alphanumeric characters that the FFX mode natively supports. This happens before/after encryption/decryption. Each character listed must appear only once. Number of characters must be in the range [2, 95]. This must be encoded as ASCII. The order of characters does not matter. The full list of allowed characters is: 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ~`!@#$%^&*()_-+={[}]|\\:;\"'\u003c,\u003e.?/"
        },
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "The 'tweak', a context may be used for higher security since the same identifier in two different contexts won't be given the same surrogate. If the context is not set, a default tweak will be used. If the context is set but: 1. there is no record present when transforming a given value or 1. the field is not present when transforming a given value, a default tweak will be used. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and unstructured `ContentItem`s. Currently, the referenced field may be of value type integer or string. The tweak is constructed as a sequence of bytes in big endian byte order such that: - a 64 bit integer is encoded followed by a single byte of value 1 - a string is encoded in UTF-8 format followed by a single byte of value 2"
        }
      }
    },
    "GooglePrivacyDlpV2ThrowError": {
      "description": "Throw an error and fail the request when a transformation error occurs.",
      "type": "object",
      "id": "GooglePrivacyDlpV2ThrowError",
      "properties": {}
    },
    "GooglePrivacyDlpV2ListInfoTypesResponse": {
      "type": "object",
      "properties": {
        "infoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeDescription"
          },
          "type": "array",
          "description": "Set of sensitive infoTypes."
        }
      },
      "description": "Response to the ListInfoTypes request.",
      "id": "GooglePrivacyDlpV2ListInfoTypesResponse"
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "id": "GooglePrivacyDlpV2FieldTransformation",
      "type": "object",
      "description": "The transformation to apply to the field.",
      "properties": {
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "Apply the transformation to the entire field."
        },
        "infoTypeTransformations": {
          "description": "Treat the contents of the field as free text, and selectively transform content that matches an `InfoType`.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "fields": {
          "description": "Required. Input field(s) to apply the transformation to. When you have columns that reference their position within a list, omit the index from the FieldId. FieldId name matching ignores the index. For example, instead of \"contact.nums[0].type\", use \"contact.nums.type\".",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array"
        },
        "condition": {
          "description": "Only apply the transformation if the condition evaluates to true for the given `RecordCondition`. The conditions are allowed to reference fields that are not used in the actual transformation. Example Use Cases: - Apply a different bucket transformation to an age column if the zip code column for the same record is within a specific range. - Redact a field if the date of birth field is greater than 85.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        }
      }
    },
    "GooglePrivacyDlpV2TransformationDetails": {
      "properties": {
        "containerName": {
          "type": "string",
          "description": "The top level name of the container where the transformation is located (this will be the source file name or table name)."
        },
        "statusDetails": {
          "description": "Status of the transformation, if transformation was not successful, this will specify what caused it to fail, otherwise it will show that the transformation was successful.",
          "$ref": "GooglePrivacyDlpV2TransformationResultStatus"
        },
        "transformedBytes": {
          "type": "string",
          "format": "int64",
          "description": "The number of bytes that were transformed. If transformation was unsuccessful or did not take place because there was no content to transform, this will be zero."
        },
        "transformation": {
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationDescription"
          },
          "description": "Description of transformation. This would only contain more than one element if there were multiple matching transformations and which one to apply was ambiguous. Not set for states that contain no transformation, currently only state that contains no transformation is TransformationResultStateType.METADATA_UNRETRIEVABLE.",
          "type": "array"
        },
        "resourceName": {
          "description": "The name of the job that completed the transformation.",
          "type": "string"
        },
        "transformationLocation": {
          "$ref": "GooglePrivacyDlpV2TransformationLocation",
          "description": "The precise location of the transformed content in the original container."
        }
      },
      "type": "object",
      "description": "Details about a single transformation. This object contains a description of the transformation, information about whether the transformation was successfully applied, and the precise location where the transformation occurred. These details are stored in a user-specified BigQuery table.",
      "id": "GooglePrivacyDlpV2TransformationDetails"
    },
    "GooglePrivacyDlpV2DataProfilePubSubCondition": {
      "id": "GooglePrivacyDlpV2DataProfilePubSubCondition",
      "properties": {
        "expressions": {
          "$ref": "GooglePrivacyDlpV2PubSubExpressions",
          "description": "An expression."
        }
      },
      "type": "object",
      "description": "A condition for determining whether a Pub/Sub should be triggered."
    },
    "GooglePrivacyDlpV2LeaveUntransformed": {
      "id": "GooglePrivacyDlpV2LeaveUntransformed",
      "properties": {},
      "type": "object",
      "description": "Skips the data without modifying it if the requested transformation would cause an error. For example, if a `DateShift` transformation were applied an an IP address, this mode would leave the IP address unchanged in the response."
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "type": "object",
      "properties": {
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "The content must be PNG, JPEG, SVG or BMP."
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "includeFindings": {
          "description": "Whether the response should include findings along with the redacted image.",
          "type": "boolean"
        },
        "imageRedactionConfigs": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          },
          "type": "array",
          "description": "The configuration for specifying what content to redact from images."
        }
      },
      "description": "Request to search for potentially sensitive info in an image and redact it by covering it with a colored rectangle."
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "id": "GooglePrivacyDlpV2RedactConfig",
      "type": "object",
      "properties": {},
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation` transforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the output would be 'My phone number is '."
    },
    "GooglePrivacyDlpV2InspectionRuleSet": {
      "type": "object",
      "properties": {
        "rules": {
          "description": "Set of rules to be applied to infoTypes. The rules are applied in order.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRule"
          },
          "type": "array"
        },
        "infoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "description": "List of infoTypes this rule set is applied to.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2InspectionRuleSet",
      "description": "Rule set for modifying a set of infoTypes to alter behavior under certain circumstances, depending on the specific details of the rules within the set."
    },
    "GooglePrivacyDlpV2Bucket": {
      "id": "GooglePrivacyDlpV2Bucket",
      "type": "object",
      "properties": {
        "max": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Upper bound of the range, exclusive; type must match min."
        },
        "replacementValue": {
          "description": "Required. Replacement value for this bucket.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "min": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Lower bound of the range, inclusive. Type should be the same as max if used."
        }
      },
      "description": "Bucket is represented as a range, along with replacement values."
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "id": "GooglePrivacyDlpV2RecordSuppression",
      "type": "object",
      "properties": {
        "condition": {
          "description": "A condition that when it evaluates to true will result in the record being evaluated to be suppressed from the transformed content.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        }
      },
      "description": "Configuration to suppress records whose suppression conditions evaluate to true."
    },
    "GooglePrivacyDlpV2QuasiId": {
      "properties": {
        "field": {
          "description": "Required. Identifies the column.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below).",
          "type": "string"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter."
        },
        "inferred": {
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data",
          "$ref": "GoogleProtobufEmpty"
        }
      },
      "description": "A column with a semantic tag attached.",
      "type": "object",
      "id": "GooglePrivacyDlpV2QuasiId"
    },
    "GooglePrivacyDlpV2OutputStorageConfig": {
      "id": "GooglePrivacyDlpV2OutputStorageConfig",
      "properties": {
        "outputSchema": {
          "description": "Schema used for writing the findings for Inspect jobs. This field is only used for Inspect and must be unspecified for Risk jobs. Columns are derived from the `Finding` object. If appending to an existing table, any columns from the predefined schema that are missing will be added. No columns in the existing table will be deleted. If unspecified, then all available columns will be used for a new table or an (existing) table with no schema, and no changes will be made to an existing table that has a schema. Only for use with external storage.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Basic schema including only `info_type`, `quote`, `certainty`, and `timestamp`.",
            "Schema tailored to findings from scanning Cloud Storage.",
            "Schema tailored to findings from scanning Google Datastore.",
            "Schema tailored to findings from scanning Google BigQuery.",
            "Schema containing all columns."
          ],
          "enum": [
            "OUTPUT_SCHEMA_UNSPECIFIED",
            "BASIC_COLUMNS",
            "GCS_COLUMNS",
            "DATASTORE_COLUMNS",
            "BIG_QUERY_COLUMNS",
            "ALL_COLUMNS"
          ]
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Store findings in an existing table or a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific time zone will be used for generating the date details. For Inspect, each column in an existing output table must have the same name, type, and mode of a field in the `Finding` object. For Risk, an existing output table should be the output of a previous Risk analysis job run on the same source table, with the same privacy metric and quasi-identifiers. Risk jobs that analyze the same table but compute a different privacy metric, or use different sets of quasi-identifiers, cannot store their results in the same table."
        }
      },
      "type": "object",
      "description": "Cloud repository for storing output."
    },
    "GooglePrivacyDlpV2DataProfileAction": {
      "id": "GooglePrivacyDlpV2DataProfileAction",
      "properties": {
        "exportData": {
          "description": "Export data profiles into a provided location.",
          "$ref": "GooglePrivacyDlpV2Export"
        },
        "pubSubNotification": {
          "$ref": "GooglePrivacyDlpV2PubSubNotification",
          "description": "Publish a message into the Pub/Sub topic."
        }
      },
      "description": "A task to execute when a data profile has been generated.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Row": {
      "id": "GooglePrivacyDlpV2Row",
      "properties": {
        "values": {
          "description": "Individual cells.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "type": "object",
      "description": "Values of the row."
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "properties": {
        "url": {
          "description": "The url, in the format `gs:///`. Trailing wildcard in the path is allowed.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageFileSet",
      "description": "Message representing a set of files in Cloud Storage.",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2InspectConfig",
      "properties": {
        "contentOptions": {
          "type": "array",
          "items": {
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ],
            "enumDescriptions": [
              "Includes entire content of a file or a data stream.",
              "Text content within the data, excluding any metadata.",
              "Images found in the data."
            ],
            "type": "string"
          },
          "description": "Deprecated and unused."
        },
        "infoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array",
          "description": "Restricts what info_types to look for. The values must correspond to InfoType values returned by ListInfoTypes or listed at https://cloud.google.com/dlp/docs/infotypes-reference. When no InfoTypes or CustomInfoTypes are specified in a request, the system may automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated. If you need precise control and predictability as to what detectors are run you should specify specific InfoTypes listed in the reference, otherwise a default list will be used, which may change over time."
        },
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings. This is not used for data profiling.",
          "type": "boolean"
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is included in the response; see Finding.quote. This is not used for data profiling.",
          "type": "boolean"
        },
        "ruleSet": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRuleSet"
          },
          "type": "array",
[...]
