{
  "id": "dlp:v2",
  "discoveryVersion": "v1",
  "name": "dlp",
  "ownerName": "Google",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "schemas": {
    "GooglePrivacyDlpV2Manual": {
      "id": "GooglePrivacyDlpV2Manual",
      "type": "object",
      "description": "Job trigger option for hybrid jobs. Jobs must be manually created and finished.",
      "properties": {}
    },
    "GooglePrivacyDlpV2ThrowError": {
      "id": "GooglePrivacyDlpV2ThrowError",
      "properties": {},
      "description": "Throw an error and fail the request when a transformation error occurs.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ExcludeByHotword": {
      "type": "object",
      "description": "The rule to exclude findings based on a hotword. For record inspection of tables, column names are considered hotwords. An example of this is to exclude a finding if it belongs to a BigQuery column that matches a specific pattern.",
      "properties": {
        "proximity": {
          "$ref": "GooglePrivacyDlpV2Proximity",
          "description": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The windowBefore property in proximity should be set to 1 if the hotword needs to be included in a column header."
        },
        "hotwordRegex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression pattern defining what qualifies as a hotword."
        }
      },
      "id": "GooglePrivacyDlpV2ExcludeByHotword"
    },
    "GooglePrivacyDlpV2StoredType": {
      "description": "A reference to a StoredInfoType to use with scanning.",
      "id": "GooglePrivacyDlpV2StoredType",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for inspection was created. Output-only field, populated by the system."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the requested `StoredInfoType`, for example `organizations/433245324/storedInfoTypes/432452342` or `projects/project-id/storedInfoTypes/432452342`."
        }
      }
    },
    "GooglePrivacyDlpV2QuasiId": {
      "properties": {
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data"
        },
        "field": {
          "description": "Required. Identifies the column.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter."
        },
        "customTag": {
          "type": "string",
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below)."
        }
      },
      "id": "GooglePrivacyDlpV2QuasiId",
      "description": "A column with a semantic tag attached.",
      "type": "object"
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "properties": {
        "condition": {
          "$ref": "GooglePrivacyDlpV2RecordCondition",
          "description": "Only apply the transformation if the condition evaluates to true for the given `RecordCondition`. The conditions are allowed to reference fields that are not used in the actual transformation. Example Use Cases: - Apply a different bucket transformation to an age column if the zip code column for the same record is within a specific range. - Redact a field if the date of birth field is greater than 85."
        },
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations",
          "description": "Treat the contents of the field as free text, and selectively transform content that matches an `InfoType`."
        },
        "fields": {
          "description": "Required. Input field(s) to apply the transformation to. When you have columns that reference their position within a list, omit the index from the FieldId. FieldId name matching ignores the index. For example, instead of \"contact.nums[0].type\", use \"contact.nums.type\".",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "primitiveTransformation": {
          "description": "Apply the transformation to the entire field.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        }
      },
      "id": "GooglePrivacyDlpV2FieldTransformation",
      "type": "object",
      "description": "The transformation to apply to the field."
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to figure out that one given individual appears in a de-identified dataset. Similarly to the k-map metric, we cannot compute δ-presence exactly without knowing the attack dataset, so we use a statistical model instead.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code."
        },
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers field must appear in exactly one field of one auxiliary table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          }
        },
        "quasiIds": {
          "type": "array",
          "description": "Required. Fields considered to be quasi-identifiers. No two fields can have the same tag.",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          }
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig"
    },
    "GooglePrivacyDlpV2RequestedRiskAnalysisOptions": {
      "description": "Risk analysis options.",
      "properties": {
        "jobConfig": {
          "description": "The job config for the risk job.",
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions"
    },
    "GooglePrivacyDlpV2HybridContentItem": {
      "properties": {
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The item to inspect."
        },
        "findingDetails": {
          "description": "Supplementary information that will be added to each finding.",
          "$ref": "GooglePrivacyDlpV2HybridFindingDetails"
        }
      },
      "description": "An individual hybrid item to inspect. Will be stored temporarily during processing.",
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridContentItem"
    },
    "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used in the following ListDeidentifyTemplates request.",
          "type": "string"
        },
        "deidentifyTemplates": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
          },
          "type": "array",
          "description": "List of deidentify templates, up to page_size in ListDeidentifyTemplatesRequest."
        }
      },
      "id": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse",
      "description": "Response message for ListDeidentifyTemplates."
    },
    "GooglePrivacyDlpV2InspectionRuleSet": {
      "id": "GooglePrivacyDlpV2InspectionRuleSet",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Set of rules to be applied to infoTypes. The rules are applied in order.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRule"
          }
        },
        "infoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array",
          "description": "List of infoTypes this rule set is applied to."
        }
      },
      "description": "Rule set for modifying a set of infoTypes to alter behavior under certain circumstances, depending on the specific details of the rules within the set.",
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeSummary": {
      "id": "GooglePrivacyDlpV2InfoTypeSummary",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "The infoType.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "estimatedPrevalence": {
          "type": "integer",
          "deprecated": true,
          "description": "Not populated for predicted infotypes.",
          "format": "int32"
        }
      },
      "description": "The infoType details for this column."
    },
    "GooglePrivacyDlpV2CharsToIgnore": {
      "type": "object",
      "properties": {
        "commonCharactersToIgnore": {
          "type": "string",
          "enum": [
            "COMMON_CHARS_TO_IGNORE_UNSPECIFIED",
            "NUMERIC",
            "ALPHA_UPPER_CASE",
            "ALPHA_LOWER_CASE",
            "PUNCTUATION",
            "WHITESPACE"
          ],
          "description": "Common characters to not transform when masking. Useful to avoid removing punctuation.",
          "enumDescriptions": [
            "Unused.",
            "0-9",
            "A-Z",
            "a-z",
            "US Punctuation, one of !\"#$%&'()*+,-./:;\u003c=\u003e?@[\\]^_`{|}~",
            "Whitespace character, one of [ \\t\\n\\x0B\\f\\r]"
          ]
        },
        "charactersToSkip": {
          "description": "Characters to not transform when masking.",
          "type": "string"
        }
      },
      "description": "Characters to skip when doing deidentification of a value. These will be left alone and skipped.",
      "id": "GooglePrivacyDlpV2CharsToIgnore"
    },
    "GooglePrivacyDlpV2DiscoveryConfig": {
      "description": "Configuration for discovery to scan resources for profile generation. Only one discovery configuration may exist per organization, folder, or project. The generated data profiles are retained according to the [data retention policy] (https://cloud.google.com/sensitive-data-protection/docs/data-profiles#retention).",
      "properties": {
        "errors": {
          "readOnly": true,
          "description": "Output only. A stream of errors encountered when the config was activated. Repeated errors may result in the config automatically being paused. Output only field. Will return the last 100 errors. Whenever the config is modified this list will be cleared.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "type": "array"
        },
        "lastRunTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of the last time this config was executed.",
          "readOnly": true,
          "type": "string"
        },
        "targets": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DiscoveryTarget"
          },
          "type": "array",
          "description": "Target to match against for determining what to scan and how frequently."
        },
        "inspectTemplates": {
          "description": "Detection logic for profile generation. Not all template features are used by Discovery. FindingLimits, include_quote and exclude_info_types have no impact on Discovery. Multiple templates may be provided if there is data in multiple regions. At most one template must be specified per-region (including \"global\"). Each region is scanned using the applicable template. If no region-specific template is specified, but a \"global\" template is specified, it will be copied to that region and used instead. If no global or region-specific template is provided for a region with data, that region's data will not be scanned. For more information, see https://cloud.google.com/sensitive-data-protection/docs/data-profiles#data-residency.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Display name (max 100 chars)"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED"
          ],
          "type": "string",
          "description": "Required. A status for this configuration.",
          "enumDescriptions": [
            "Unused",
            "The discovery config is currently active.",
            "The discovery config is paused temporarily."
          ]
        },
        "name": {
          "description": "Unique resource name for the DiscoveryConfig, assigned by the service when the DiscoveryConfig is created, for example `projects/dlp-test-project/locations/global/discoveryConfigs/53234423`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a DiscoveryConfig.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "actions": {
          "type": "array",
          "description": "Actions to execute at the completion of scanning.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DataProfileAction"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a DiscoveryConfig."
        },
        "orgConfig": {
          "$ref": "GooglePrivacyDlpV2OrgConfig",
          "description": "Only set when the parent is an org."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DiscoveryConfig"
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "description": "Message representing a set of files in Cloud Storage.",
      "properties": {
        "url": {
          "description": "The url, in the format `gs:///`. Trailing wildcard in the path is allowed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2CloudStorageFileSet"
    },
    "GooglePrivacyDlpV2ContentItem": {
      "description": "Type of content to inspect.",
      "id": "GooglePrivacyDlpV2ContentItem",
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2Table",
          "description": "Structured content for inspection. See https://cloud.google.com/sensitive-data-protection/docs/inspecting-text#inspecting_a_table to learn more."
        },
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string"
        },
        "byteItem": {
          "description": "Content data to inspect or redact. Replaces `type` and `data`.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryRegexes": {
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryRegexes",
      "properties": {
        "patterns": {
          "items": {
            "$ref": "GooglePrivacyDlpV2BigQueryRegex"
          },
          "description": "A single BigQuery regular expression pattern to match against one or more tables, datasets, or projects that contain BigQuery tables.",
          "type": "array"
        }
      },
      "description": "A collection of regular expressions to determine what tables to match against."
    },
    "GooglePrivacyDlpV2DataProfileJobConfig": {
      "id": "GooglePrivacyDlpV2DataProfileJobConfig",
      "description": "Configuration for setting up a job to scan resources for profile generation. Only one data profile configuration may exist per organization, folder, or project. The generated data profiles are retained according to the [data retention policy] (https://cloud.google.com/sensitive-data-protection/docs/data-profiles#retention).",
      "type": "object",
      "properties": {
        "inspectTemplates": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Detection logic for profile generation. Not all template features are used by profiles. FindingLimits, include_quote and exclude_info_types have no impact on data profiling. Multiple templates may be provided if there is data in multiple regions. At most one template must be specified per-region (including \"global\"). Each region is scanned using the applicable template. If no region-specific template is specified, but a \"global\" template is specified, it will be copied to that region and used instead. If no global or region-specific template is provided for a region with data, that region's data will not be scanned. For more information, see https://cloud.google.com/sensitive-data-protection/docs/data-profiles#data-residency."
        },
        "projectId": {
          "type": "string",
          "description": "The project that will run the scan. The DLP service account that exists within this project must have access to all resources that are profiled, and the Cloud DLP API must be enabled."
        },
        "dataProfileActions": {
          "description": "Actions to execute at the completion of the job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DataProfileAction"
          }
        },
        "location": {
          "$ref": "GooglePrivacyDlpV2DataProfileLocation",
          "description": "The data to scan."
        }
      }
    },
    "GooglePrivacyDlpV2ProjectDataProfile": {
      "id": "GooglePrivacyDlpV2ProjectDataProfile",
      "properties": {
        "dataRiskLevel": {
          "description": "The data risk level of this project.",
          "$ref": "GooglePrivacyDlpV2DataRiskLevel"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID that was profiled."
        },
        "profileLastGenerated": {
          "format": "google-datetime",
          "description": "The last time the profile was generated.",
          "type": "string"
        },
        "profileStatus": {
          "description": "Success or error status of the last attempt to profile the project.",
          "$ref": "GooglePrivacyDlpV2ProfileStatus"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the profile."
        },
        "sensitivityScore": {
          "$ref": "GooglePrivacyDlpV2SensitivityScore",
          "description": "The sensitivity score of this project."
        }
      },
      "description": "An aggregated profile for this project, based on the resources profiled within it.",
      "type": "object"
    },
    "GoogleTypeTimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "id": "GoogleTypeTimeOfDay",
      "properties": {
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2HybridOptions": {
      "properties": {
        "requiredFindingLabelKeys": {
          "type": "array",
          "description": "These are labels that each inspection request must include within their 'finding_labels' map. Request may contain others, but any missing one of these will be rejected. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. No more than 10 keys can be required.",
          "items": {
            "type": "string"
          }
        },
        "tableOptions": {
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys.",
          "$ref": "GooglePrivacyDlpV2TableOptions"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "To organize findings, these labels will be added to each finding. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
        },
        "description": {
          "type": "string",
          "description": "A short description of where the data is coming from. Will be stored once in the job. 256 max length."
        }
      },
      "type": "object",
      "description": "Configuration to control jobs where the content being inspected is outside of Google Cloud Platform.",
      "id": "GooglePrivacyDlpV2HybridOptions"
    },
    "GooglePrivacyDlpV2TimeZone": {
      "type": "object",
      "properties": {
        "offsetMinutes": {
          "description": "Set only if the offset can be determined. Positive for time ahead of UTC. E.g. For \"UTC-9\", this value is -540.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GooglePrivacyDlpV2TimeZone",
      "description": "Time zone of the date time object."
    },
    "GooglePrivacyDlpV2CreateConnectionRequest": {
      "type": "object",
      "properties": {
        "connection": {
          "description": "Required. The connection resource.",
          "$ref": "GooglePrivacyDlpV2Connection"
        }
      },
      "description": "Request message for CreateConnection.",
      "id": "GooglePrivacyDlpV2CreateConnectionRequest"
    },
    "GooglePrivacyDlpV2ActionDetails": {
      "description": "The results of an Action.",
      "type": "object",
      "id": "GooglePrivacyDlpV2ActionDetails",
      "properties": {
        "deidentifyDetails": {
          "description": "Outcome of a de-identification action.",
          "$ref": "GooglePrivacyDlpV2DeidentifyDataSourceDetails"
        }
      }
    },
    "GooglePrivacyDlpV2PubSubNotification": {
      "type": "object",
      "properties": {
        "detailOfMessage": {
          "enumDescriptions": [
            "Unused.",
            "The full table data profile.",
            "The name of the profiled resource."
          ],
          "description": "How much data to include in the Pub/Sub message. If the user wishes to limit the size of the message, they can use resource_name and fetch the profile fields they wish to. Per table profile (not per column).",
          "enum": [
            "DETAIL_LEVEL_UNSPECIFIED",
            "TABLE_PROFILE",
            "RESOURCE_NAME"
          ],
          "type": "string"
        },
        "event": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "NEW_PROFILE",
            "CHANGED_PROFILE",
            "SCORE_INCREASED",
            "ERROR_CHANGED"
          ],
          "enumDescriptions": [
            "Unused.",
            "New profile (not a re-profile).",
            "One of the following profile metrics changed: Data risk score, Sensitivity score, Resource visibility, Encryption type, Predicted infoTypes, Other infoTypes",
            "Table data risk score or sensitivity score increased.",
            "A user (non-internal) error occurred."
          ],
          "type": "string",
          "description": "The type of event that triggers a Pub/Sub. At most one `PubSubNotification` per EventType is permitted."
        },
        "pubsubCondition": {
          "$ref": "GooglePrivacyDlpV2DataProfilePubSubCondition",
          "description": "Conditions (e.g., data risk or sensitivity level) for triggering a Pub/Sub."
        },
        "topic": {
          "type": "string",
          "description": "Cloud Pub/Sub topic to send notifications to. Format is projects/{project}/topics/{topic}."
        }
      },
      "description": "Send a Pub/Sub message into the given Pub/Sub topic to connect other systems to data profile generation. The message payload data will be the byte serialization of `DataProfilePubSubMessage`.",
      "id": "GooglePrivacyDlpV2PubSubNotification"
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "properties": {
        "item": {
          "description": "The de-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "overview": {
          "$ref": "GooglePrivacyDlpV2TransformationOverview",
          "description": "An overview of the changes that were made on the `item`."
        }
      },
      "description": "Results of de-identifying a ContentItem.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
      "properties": {
        "lDiversityResult": {
          "description": "L-divesity result",
          "$ref": "GooglePrivacyDlpV2LDiversityResult"
        },
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult",
          "description": "Numerical stats result"
        },
        "kMapEstimationResult": {
          "description": "K-map result",
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult"
        },
        "categoricalStatsResult": {
          "description": "Categorical stats result",
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult"
        },
        "deltaPresenceEstimationResult": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
          "description": "Delta-presence result"
        },
        "kAnonymityResult": {
          "$ref": "GooglePrivacyDlpV2KAnonymityResult",
          "description": "K-anonymity result"
        },
        "requestedSourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "requestedPrivacyMetric": {
          "$ref": "GooglePrivacyDlpV2PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "requestedOptions": {
          "description": "The configuration used for this job.",
          "$ref": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions"
        }
      },
      "description": "Result of a risk analysis operation request.",
      "type": "object"
    },
    "GooglePrivacyDlpV2NumericalStatsConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2NumericalStatsConfig",
      "description": "Compute numerical stats over an individual column, including min, max, and quantiles.",
      "properties": {
        "field": {
          "description": "Field to compute numerical stats on. Supported types are integer, float, date, datetime, timestamp, time.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      }
    },
    "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest": {
      "id": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest",
      "description": "Request message for UpdateStoredInfoType.",
      "properties": {
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Updated configuration for the storedInfoType. If not provided, a new version of the storedInfoType will be created with the existing configuration."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Location": {
      "id": "GooglePrivacyDlpV2Location",
      "description": "Specifies the location of the finding.",
      "type": "object",
      "properties": {
        "byteRange": {
          "$ref": "GooglePrivacyDlpV2Range",
          "description": "Zero-based byte offsets delimiting the finding. These are relative to the finding's containing element. Note that when the content is not textual, this references the UTF-8 encoded textual representation of the content. Omitted if content is an image."
        },
        "contentLocations": {
          "description": "List of nested objects pointing to the precise location of the finding within the file or record.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          }
        },
        "codepointRange": {
          "description": "Unicode character offsets delimiting the finding. These are relative to the finding's containing element. Provided when the content is text.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "container": {
          "description": "Information about the container where this finding occurred, if available.",
          "$ref": "GooglePrivacyDlpV2Container"
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationConfig": {
      "id": "GooglePrivacyDlpV2KMapEstimationConfig",
      "description": "Reidentifiability metric. This corresponds to a risk model similar to what is called \"journalist risk\" in the literature, except the attack dataset is statistically modeled instead of being perfectly known. This can be done using publicly available data (like the US Census), or using a custom statistical model (indicated as one or several BigQuery tables), or by extrapolating from the distribution of values in the input dataset.",
      "properties": {
        "quasiIds": {
          "description": "Required. Fields considered to be quasi-identifiers. No two columns can have the same tag.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TaggedField"
          },
          "type": "array"
        },
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers column must appear in exactly one column of one auxiliary table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2AuxiliaryTable"
          }
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DateTime": {
      "type": "object",
      "properties": {
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "One or more of the following must be set. Must be a valid date or time value."
        },
        "timeZone": {
          "$ref": "GooglePrivacyDlpV2TimeZone",
          "description": "Time zone"
        },
        "time": {
          "description": "Time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "dayOfWeek": {
          "description": "Day of week",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      },
      "description": "Message for a date time object. e.g. 2018-01-01, 5th August.",
      "id": "GooglePrivacyDlpV2DateTime"
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryConfig": {
      "description": "Configuration for a custom dictionary created from a data source of any size up to the maximum size defined in the [limits](https://cloud.google.com/sensitive-data-protection/limits) page. The artifacts of dictionary creation are stored in the specified Cloud Storage location. Consider using `CustomInfoType.Dictionary` for smaller dictionaries that satisfy the size requirements.",
      "type": "object",
      "properties": {
        "bigQueryField": {
          "$ref": "GooglePrivacyDlpV2BigQueryField",
          "description": "Field in a BigQuery table where each cell represents a dictionary phrase."
        },
        "outputPath": {
          "description": "Location to store dictionary artifacts in Cloud Storage. These files will only be accessible by project owners and the DLP API. If any of these artifacts are modified, the dictionary is considered invalid and can no longer be used.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        },
        "cloudStorageFileSet": {
          "description": "Set of files containing newline-delimited lists of dictionary phrases.",
          "$ref": "GooglePrivacyDlpV2CloudStorageFileSet"
        }
      },
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
    },
    "GooglePrivacyDlpV2StoredInfoTypeConfig": {
      "id": "GooglePrivacyDlpV2StoredInfoTypeConfig",
      "type": "object",
      "properties": {
        "regex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Store regular expression-based StoredInfoType."
        },
        "dictionary": {
          "$ref": "GooglePrivacyDlpV2Dictionary",
          "description": "Store dictionary-based CustomInfoType."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the StoredInfoType (max 256 characters)."
        },
        "description": {
          "type": "string",
          "description": "Description of the StoredInfoType (max 256 characters)."
        },
        "largeCustomDictionary": {
          "description": "StoredInfoType where findings are defined by a dictionary of phrases.",
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
        }
      },
      "description": "Configuration for stored infoTypes. All fields and subfield are provided by the user. For more information, see https://cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes."
    },
    "GooglePrivacyDlpV2ListTableDataProfilesResponse": {
      "description": "List of profiles generated for a given organization or project.",
      "id": "GooglePrivacyDlpV2ListTableDataProfilesResponse",
      "properties": {
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        },
        "tableDataProfiles": {
          "type": "array",
          "description": "List of data profiles.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TableDataProfile"
          }
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DiscoveryBigQueryConditions": {
      "properties": {
        "typeCollection": {
          "type": "string",
          "description": "Restrict discovery to categories of table types.",
          "enumDescriptions": [
            "Unused.",
            "Automatically generate profiles for all tables, even if the table type is not yet fully supported for analysis. Profiles for unsupported tables will be generated with errors to indicate their partial support. When full support is added, the tables will automatically be profiled during the next scheduled run.",
            "Only those types fully supported will be profiled. Will expand automatically as Cloud DLP adds support for new table types. Unsupported table types will not have partial profiles generated."
          ],
          "enum": [
            "BIG_QUERY_COLLECTION_UNSPECIFIED",
            "BIG_QUERY_COLLECTION_ALL_TYPES",
            "BIG_QUERY_COLLECTION_ONLY_SUPPORTED_TYPES"
          ]
        },
        "types": {
          "$ref": "GooglePrivacyDlpV2BigQueryTableTypes",
          "description": "Restrict discovery to specific table types."
        },
        "createdAfter": {
          "format": "google-datetime",
          "description": "BigQuery table must have been created after this date. Used to avoid backfilling.",
          "type": "string"
        },
        "orConditions": {
          "$ref": "GooglePrivacyDlpV2OrConditions",
          "description": "At least one of the conditions must be true for a table to be scanned."
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryBigQueryConditions",
      "type": "object",
      "description": "Requirements that must be true before a table is scanned in discovery for the first time. There is an AND relationship between the top-level attributes. Additionally, minimum conditions with an OR relationship that must be met before Cloud DLP scans a table can be set (like a minimum row count or a minimum table age)."
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "type": "object",
      "description": "The rule that adjusts the likelihood of findings within a certain proximity of hotwords.",
      "id": "GooglePrivacyDlpV2HotwordRule",
      "properties": {
        "proximity": {
          "$ref": "GooglePrivacyDlpV2Proximity",
          "description": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The finding itself will be included in the window, so that hotwords can be used to match substrings of the finding itself. Suppose you want Cloud DLP to promote the likelihood of the phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" if the area code is known to be the area code of a company's office. In this case, use the hotword regex \"\\(xxx\\)\", where \"xxx\" is the area code in question. For tabular data, if you want to modify the likelihood of an entire column of findngs, see [Hotword example: Set the match likelihood of a table column] (https://cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes-likelihood#match-column-values)."
        },
        "likelihoodAdjustment": {
          "description": "Likelihood adjustment to apply to all matching findings.",
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment"
        },
        "hotwordRegex": {
          "description": "Regular expression pattern defining what qualifies as a hotword.",
          "$ref": "GooglePrivacyDlpV2Regex"
        }
      }
    },
    "GooglePrivacyDlpV2EntityId": {
      "description": "An entity in a dataset is a field or set of fields that correspond to a single person. For example, in medical records the `EntityId` might be a patient identifier, or for financial records it might be an account identifier. This message is used when generalizations or analysis must take into account that multiple rows correspond to the same entity.",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Composite key indicating which field contains the entity identifier."
        }
      },
      "id": "GooglePrivacyDlpV2EntityId",
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeLikelihood": {
      "description": "Configuration for setting a minimum likelihood per infotype. Used to customize the minimum likelihood level for specific infotypes in the request. For example, use this if you want to lower the precision for PERSON_NAME without lowering the precision for the other infotypes in the request.",
      "id": "GooglePrivacyDlpV2InfoTypeLikelihood",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Type of information the likelihood threshold applies to. Only one likelihood per info_type should be provided. If InfoTypeLikelihood does not have an info_type, the configuration fails.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "minLikelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "type": "string",
          "description": "Only returns findings equal to or above this threshold. This field is required or else the configuration fails.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyContentRequest": {
      "id": "GooglePrivacyDlpV2DeidentifyContentRequest",
      "type": "object",
      "description": "Request to de-identify a ContentItem.",
      "properties": {
        "inspectTemplateName": {
          "type": "string",
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "item": {
          "description": "The item to de-identify. Will be treated as text. This value must be of type Table if your deidentify_config is a RecordTransformations object.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector. Items specified here will override the template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "deidentifyTemplateName": {
          "description": "Template to use. Any configuration directly specified in deidentify_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "deidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "Configuration for the de-identification of the content item. Items specified here will override the template referenced by the deidentify_template_name argument."
        }
      }
    },
    "GooglePrivacyDlpV2RecordLocation": {
      "description": "Location of a finding within a row or record.",
      "properties": {
        "fieldId": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Field id of the field containing the finding."
        },
        "tableLocation": {
          "description": "Location within a `ContentItem.Table`.",
          "$ref": "GooglePrivacyDlpV2TableLocation"
        },
        "recordKey": {
          "$ref": "GooglePrivacyDlpV2RecordKey",
          "description": "Key of the finding."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2RecordLocation"
    },
    "GooglePrivacyDlpV2ColumnDataProfile": {
      "type": "object",
      "id": "GooglePrivacyDlpV2ColumnDataProfile",
      "properties": {
        "tableId": {
          "type": "string",
          "description": "The BigQuery table ID."
        },
        "datasetId": {
          "description": "The BigQuery dataset ID.",
          "type": "string"
        },
        "policyState": {
          "enumDescriptions": [
            "No policy tags.",
            "Column has policy tag applied."
          ],
          "type": "string",
          "enum": [
            "COLUMN_POLICY_STATE_UNSPECIFIED",
            "COLUMN_POLICY_TAGGED"
          ],
          "description": "Indicates if a policy tag has been applied to the column."
        },
        "columnInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoTypeSummary",
          "description": "If it's been determined this column can be identified as a single type, this will be set. Otherwise the column either has unidentifiable content or mixed types."
        },
        "freeTextScore": {
          "type": "number",
          "description": "The likelihood that this column contains free-form text. A value close to 1 may indicate the column is likely to contain free-form or natural language text. Range in 0-1.",
          "format": "double"
        },
        "datasetProjectId": {
          "type": "string",
          "description": "The Google Cloud project ID that owns the profiled resource."
        },
        "tableFullResource": {
          "description": "The resource name of the resource this column is within.",
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "GooglePrivacyDlpV2SensitivityScore",
          "description": "The sensitivity of this column."
        },
        "profileLastGenerated": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time the profile was generated."
        },
        "name": {
          "description": "The name of the profile.",
          "type": "string"
        },
        "dataRiskLevel": {
          "description": "The data risk level for this column.",
          "$ref": "GooglePrivacyDlpV2DataRiskLevel"
        },
        "otherMatches": {
          "description": "Other types found within this column. List will be unordered.",
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherInfoTypeSummary"
          },
          "type": "array"
        },
        "columnType": {
          "enum": [
            "COLUMN_DATA_TYPE_UNSPECIFIED",
            "TYPE_INT64",
            "TYPE_BOOL",
            "TYPE_FLOAT64",
            "TYPE_STRING",
            "TYPE_BYTES",
            "TYPE_TIMESTAMP",
            "TYPE_DATE",
            "TYPE_TIME",
            "TYPE_DATETIME",
            "TYPE_GEOGRAPHY",
            "TYPE_NUMERIC",
            "TYPE_RECORD",
            "TYPE_BIGNUMERIC",
            "TYPE_JSON",
            "TYPE_INTERVAL",
            "TYPE_RANGE_DATE",
            "TYPE_RANGE_DATETIME",
            "TYPE_RANGE_TIMESTAMP"
          ],
          "enumDescriptions": [
            "Invalid type.",
            "Encoded as a string in decimal format.",
            "Encoded as a boolean \"false\" or \"true\".",
            "Encoded as a number, or string \"NaN\", \"Infinity\" or \"-Infinity\".",
            "Encoded as a string value.",
            "Encoded as a base64 string per RFC 4648, section 4.",
            "Encoded as an RFC 3339 timestamp with mandatory \"Z\" time zone string: 1985-04-12T23:20:50.52Z",
            "Encoded as RFC 3339 full-date format string: 1985-04-12",
            "Encoded as RFC 3339 partial-time format string: 23:20:50.52",
            "Encoded as RFC 3339 full-date \"T\" partial-time: 1985-04-12T23:20:50.52",
            "Encoded as WKT",
            "Encoded as a decimal string.",
            "Container of ordered fields, each with a type and field name.",
            "Decimal type.",
            "Json type.",
            "Interval type.",
            "`Range` type.",
            "`Range` type.",
            "`Range` type."
          ],
          "type": "string",
          "description": "The data type of a given column."
        },
        "estimatedNullPercentage": {
          "enum": [
            "NULL_PERCENTAGE_LEVEL_UNSPECIFIED",
            "NULL_PERCENTAGE_VERY_LOW",
            "NULL_PERCENTAGE_LOW",
            "NULL_PERCENTAGE_MEDIUM",
            "NULL_PERCENTAGE_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Very few null entries.",
            "Some null entries.",
            "A few null entries.",
            "A lot of null entries."
          ],
          "description": "Approximate percentage of entries being null in the column."
        },
        "tableDataProfile": {
          "type": "string",
          "description": "The resource name of the table data profile."
        },
        "estimatedUniquenessScore": {
          "enumDescriptions": [
            "Some columns do not have estimated uniqueness. Possible reasons include having too few values.",
            "Low uniqueness, possibly a boolean, enum or similiarly typed column.",
            "Medium uniqueness.",
            "High uniqueness, possibly a column of free text or unique identifiers."
          ],
          "type": "string",
          "enum": [
            "UNIQUENESS_SCORE_LEVEL_UNSPECIFIED",
            "UNIQUENESS_SCORE_LOW",
            "UNIQUENESS_SCORE_MEDIUM",
            "UNIQUENESS_SCORE_HIGH"
          ],
          "description": "Approximate uniqueness of the column."
        },
        "datasetLocation": {
          "type": "string",
          "description": "The BigQuery location where the dataset's data is stored. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        },
        "profileStatus": {
          "$ref": "GooglePrivacyDlpV2ProfileStatus",
          "description": "Success or error status from the most recent profile generation attempt. May be empty if the profile is still being generated."
        },
        "column": {
          "type": "string",
          "description": "The name of the column."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The profile is currently running. Once a profile has finished it will transition to DONE.",
            "The profile is no longer generating. If profile_status.status.code is 0, the profile succeeded, otherwise, it failed."
          ],
          "description": "State of a profile."
        }
      },
      "description": "The profile for a scanned column within a table."
    },
    "GooglePrivacyDlpV2DeidentifyDataSourceDetails": {
      "description": "The results of a Deidentify action from an inspect job.",
      "type": "object",
      "properties": {
        "deidentifyStats": {
          "description": "Stats about the de-identification operation.",
          "$ref": "GooglePrivacyDlpV2DeidentifyDataSourceStats"
        },
        "requestedOptions": {
          "description": "De-identification config used for the request.",
          "$ref": "GooglePrivacyDlpV2RequestedDeidentifyOptions"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyDataSourceDetails"
    },
    "GooglePrivacyDlpV2BigQueryDiscoveryTarget": {
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryDiscoveryTarget",
      "properties": {
        "cadence": {
          "$ref": "GooglePrivacyDlpV2DiscoveryGenerationCadence",
          "description": "How often and when to update profiles. New tables that match both the filter and conditions are scanned as quickly as possible depending on system capacity."
        },
        "conditions": {
          "$ref": "GooglePrivacyDlpV2DiscoveryBigQueryConditions",
          "description": "In addition to matching the filter, these conditions must be true before a profile is generated."
        },
        "filter": {
          "description": "Required. The tables the discovery cadence applies to. The first target with a matching filter will be the one to apply to a table.",
          "$ref": "GooglePrivacyDlpV2DiscoveryBigQueryFilter"
        },
        "disabled": {
          "description": "Tables that match this filter will not have profiles created.",
          "$ref": "GooglePrivacyDlpV2Disabled"
        }
      },
      "description": "Target used to match against for discovery with BigQuery tables"
    },
    "GooglePrivacyDlpV2AllOtherDatabaseResources": {
      "id": "GooglePrivacyDlpV2AllOtherDatabaseResources",
      "type": "object",
      "properties": {},
      "description": "Match database resources not covered by any other filter."
    },
    "GooglePrivacyDlpV2ByteContentItem": {
      "description": "Container for bytes to inspect or redact.",
      "properties": {
        "type": {
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8.",
          "enumDescriptions": [
            "Unused",
            "Any image type.",
            "jpeg",
            "bmp",
            "png",
            "svg",
            "plain text",
            "docx, docm, dotx, dotm",
            "pdf",
            "pptx, pptm, potx, potm, pot",
            "xlsx, xlsm, xltx, xltm",
            "avro",
            "csv",
            "tsv"
          ],
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8",
            "WORD_DOCUMENT",
            "PDF",
            "POWERPOINT_DOCUMENT",
            "EXCEL_DOCUMENT",
            "AVRO",
            "CSV",
            "TSV"
          ],
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Content data to inspect or redact."
        }
      },
      "id": "GooglePrivacyDlpV2ByteContentItem",
      "type": "object"
    },
    "GooglePrivacyDlpV2CloudStoragePath": {
      "type": "object",
      "properties": {
        "path": {
          "description": "A URL representing a file or path (no wildcards) in Cloud Storage. Example: `gs://[BUCKET_NAME]/dictionary.txt`",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStoragePath",
      "description": "Message representing a single file or path in Cloud Storage."
    },
    "GooglePrivacyDlpV2BigQueryRegex": {
      "description": "A pattern to match against one or more tables, datasets, or projects that contain BigQuery tables. At least one pattern must be specified. Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
      "id": "GooglePrivacyDlpV2BigQueryRegex",
      "type": "object",
      "properties": {
        "datasetIdRegex": {
          "type": "string",
          "description": "If unset, this property matches all datasets."
        },
        "projectIdRegex": {
          "type": "string",
          "description": "For organizations, if unset, will match all projects. Has no effect for data profile configurations created within a project."
        },
        "tableIdRegex": {
          "type": "string",
          "description": "If unset, this property matches all tables."
        }
      }
    },
    "GooglePrivacyDlpV2UpdateConnectionRequest": {
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateConnectionRequest",
      "description": "Request message for UpdateConnection.",
      "properties": {
        "connection": {
          "description": "Required. The connection with new values for the relevant fields.",
          "$ref": "GooglePrivacyDlpV2Connection"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Optional. Mask to control which fields get updated.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "properties": {
        "cryptoKeyName": {
          "type": "string",
          "description": "Required. The resource name of the KMS CryptoKey to use for unwrapping."
        },
        "wrappedKey": {
          "type": "string",
          "description": "Required. The wrapped data crypto key.",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Include to use an existing data crypto key wrapped by KMS. The wrapped key must be a 128-, 192-, or 256-bit key. Authorization requires the following IAM permissions when sending a request to perform a crypto transformation using a KMS-wrapped crypto key: dlp.kms.encrypt For more information, see [Creating a wrapped key] (https://cloud.google.com/sensitive-data-protection/docs/create-wrapped-key). Note: When you use Cloud KMS for cryptographic operations, [charges apply](https://cloud.google.com/kms/pricing).",
      "id": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
    },
    "GooglePrivacyDlpV2DiscoveryTableModifiedCadence": {
      "properties": {
        "frequency": {
          "type": "string",
          "description": "How frequently data profiles can be updated when tables are modified. Defaults to never.",
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ]
        },
        "types": {
          "items": {
            "enumDescriptions": [
              "Unused.",
              "A table will be considered modified when the last_modified_time from BigQuery has been updated."
            ],
            "enum": [
              "TABLE_MODIFICATION_UNSPECIFIED",
              "TABLE_MODIFIED_TIMESTAMP"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The type of events to consider when deciding if the table has been modified and should have the profile updated. Defaults to MODIFIED_TIMESTAMP."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DiscoveryTableModifiedCadence",
      "description": "The cadence at which to update data profiles when a table is modified."
    },
    "GooglePrivacyDlpV2KAnonymityHistogramBucket": {
      "properties": {
        "bucketValueCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of distinct equivalence classes in this bucket."
        },
        "equivalenceClassSizeLowerBound": {
          "format": "int64",
          "description": "Lower bound on the size of the equivalence classes in this bucket.",
          "type": "string"
        },
        "bucketSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of equivalence classes in this bucket."
        },
        "bucketValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
          },
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20."
        },
        "equivalenceClassSizeUpperBound": {
          "description": "Upper bound on the size of the equivalence classes in this bucket.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2KAnonymityHistogramBucket",
      "description": "Histogram of k-anonymity equivalence classes.",
      "type": "object"
    },
    "GooglePrivacyDlpV2StorageMetadataLabel": {
      "description": "Storage metadata label to indicate which metadata entry contains findings.",
      "id": "GooglePrivacyDlpV2StorageMetadataLabel",
      "type": "object",
      "properties": {
        "key": {
          "description": "Label name.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2BigQueryKey": {
      "description": "Row key for identifying a record in BigQuery table.",
      "id": "GooglePrivacyDlpV2BigQueryKey",
      "type": "object",
      "properties": {
        "rowNumber": {
          "format": "int64",
          "type": "string",
          "description": "Row number inferred at the time the table was scanned. This value is nondeterministic, cannot be queried, and may be null for inspection jobs. To locate findings within a table, specify `inspect_job.storage_config.big_query_options.identifying_fields` in `CreateDlpJobRequest`."
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      }
    },
    "GooglePrivacyDlpV2UpdateJobTriggerRequest": {
      "description": "Request message for UpdateJobTrigger.",
      "properties": {
        "jobTrigger": {
          "description": "New JobTrigger value.",
          "$ref": "GooglePrivacyDlpV2JobTrigger"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Mask to control which fields get updated."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "id": "GooglePrivacyDlpV2ImageLocation",
      "type": "object",
      "description": "Location of the finding within an image.",
      "properties": {
        "boundingBoxes": {
          "description": "Bounding boxes locating the pixels within the image containing the finding.",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          },
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2Export": {
      "id": "GooglePrivacyDlpV2Export",
      "properties": {
        "profileTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Store all table and column profiles in an existing table or a new table in an existing dataset. Each re-generation will result in new rows in BigQuery. Data is inserted using [streaming insert](https://cloud.google.com/blog/products/bigquery/life-of-a-bigquery-streaming-insert) and so data may be in the buffer for a period of time after the profile has finished. The Pub/Sub notification is sent before the streaming buffer is guaranteed to be written, so data may not be instantly visible to queries by the time your topic receives the Pub/Sub notification."
        }
      },
      "description": "If set, the detailed data profiles will be persisted to the location of your choice whenever updated.",
      "type": "object"
    },
    "GooglePrivacyDlpV2CloudSqlIamCredential": {
      "description": "Use IAM authentication to connect. This requires the Cloud SQL IAM feature to be enabled on the instance, which is not the default for Cloud SQL. See https://cloud.google.com/sql/docs/postgres/authentication and https://cloud.google.com/sql/docs/mysql/authentication.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2CloudSqlIamCredential"
    },
    "GooglePrivacyDlpV2TransformationDetails": {
      "properties": {
        "containerName": {
          "type": "string",
          "description": "The top level name of the container where the transformation is located (this will be the source file name or table name)."
        },
        "statusDetails": {
          "$ref": "GooglePrivacyDlpV2TransformationResultStatus",
          "description": "Status of the transformation, if transformation was not successful, this will specify what caused it to fail, otherwise it will show that the transformation was successful."
        },
        "transformation": {
          "description": "Description of transformation. This would only contain more than one element if there were multiple matching transformations and which one to apply was ambiguous. Not set for states that contain no transformation, currently only state that contains no transformation is TransformationResultStateType.METADATA_UNRETRIEVABLE.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationDescription"
          },
          "type": "array"
        },
        "transformedBytes": {
          "description": "The number of bytes that were transformed. If transformation was unsuccessful or did not take place because there was no content to transform, this will be zero.",
          "type": "string",
          "format": "int64"
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the job that completed the transformation."
        },
        "transformationLocation": {
          "$ref": "GooglePrivacyDlpV2TransformationLocation",
          "description": "The precise location of the transformed content in the original container."
        }
      },
      "type": "object",
      "description": "Details about a single transformation. This object contains a description of the transformation, information about whether the transformation was successfully applied, and the precise location where the transformation occurred. These details are stored in a user-specified BigQuery table.",
      "id": "GooglePrivacyDlpV2TransformationDetails"
    },
    "GooglePrivacyDlpV2JobNotificationEmails": {
      "properties": {},
      "id": "GooglePrivacyDlpV2JobNotificationEmails",
      "type": "object",
      "description": "Sends an email when the job completes. The email goes to IAM project owners and technical [Essential Contacts](https://cloud.google.com/resource-manager/docs/managing-notification-contacts)."
    },
    "GooglePrivacyDlpV2HybridInspectDlpJobRequest": {
      "id": "GooglePrivacyDlpV2HybridInspectDlpJobRequest",
      "description": "Request to search for potentially sensitive info in a custom location.",
      "type": "object",
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      }
    },
    "GooglePrivacyDlpV2JobTrigger": {
      "description": "Contains a configuration to make API calls on a repeating basis. See https://cloud.google.com/sensitive-data-protection/docs/concepts-job-triggers to learn more.",
      "id": "GooglePrivacyDlpV2JobTrigger",
      "properties": {
        "lastRunTime": {
          "description": "Output only. The timestamp of the last time this trigger executed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. A stream of errors encountered when the trigger was activated. Repeated errors may result in the JobTrigger automatically being paused. Will return the last 100 errors. Whenever the JobTrigger is modified this list will be cleared.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "description": {
          "description": "User provided description (max 256 chars)",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a triggeredJob."
        },
        "inspectJob": {
          "description": "For inspect jobs, a snapshot of the configuration.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a triggeredJob.",
          "readOnly": true
        },
        "triggers": {
          "type": "array",
          "description": "A list of triggers which will be OR'ed together. Only one in the list needs to trigger for a job to be started. The list may contain only a single Schedule trigger and must have at least one object.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Trigger"
          }
        },
        "name": {
          "type": "string",
          "description": "Unique resource name for the triggeredJob, assigned by the service when the triggeredJob is created, for example `projects/dlp-test-project/jobTriggers/53234423`."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "HEALTHY",
            "PAUSED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unused.",
            "Trigger is healthy.",
            "Trigger is temporarily paused.",
            "Trigger is cancelled and can not be resumed."
          ],
          "type": "string",
          "description": "Required. A status for this trigger."
        },
        "displayName": {
          "description": "Display name (max 100 chars)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridFindingDetails": {
      "id": "GooglePrivacyDlpV2HybridFindingDetails",
      "properties": {
        "containerDetails": {
          "$ref": "GooglePrivacyDlpV2Container",
          "description": "Details about the container where the content being inspected is from."
        },
        "rowOffset": {
          "format": "int64",
          "type": "string",
          "description": "Offset of the row for tables. Populate if the row(s) being scanned are part of a bigger dataset and you want to keep track of their absolute position."
        },
        "labels": {
          "type": "object",
          "description": "Labels to represent user provided metadata about the data being inspected. If configured by the job, some key values may be required. The labels associated with `Finding`'s produced by hybrid inspection. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tableOptions": {
          "$ref": "GooglePrivacyDlpV2TableOptions",
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys. If not known ahead of time, can also be set within each inspect hybrid call and the two will be merged. Note that identifying_fields will only be stored to BigQuery, and only if the BigQuery action has been included."
        },
        "fileOffset": {
          "description": "Offset in bytes of the line, from the beginning of the file, where the finding is located. Populate if the item being scanned is only part of a bigger item, such as a shard of a file and you want to track the absolute position of the finding.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Populate to associate additional data with each finding."
    },
    "GooglePrivacyDlpV2RecordTransformations": {
      "properties": {
        "recordSuppressions": {
          "description": "Configuration defining which records get suppressed entirely. Records that match any suppression rule are omitted from the output.",
          "items": {
            "$ref": "GooglePrivacyDlpV2RecordSuppression"
          },
          "type": "array"
        },
        "fieldTransformations": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          },
          "description": "Transform the record by applying various field transformations."
        }
      },
      "type": "object",
      "description": "A type of transformation that is applied over structured data such as a table.",
      "id": "GooglePrivacyDlpV2RecordTransformations"
    },
    "GooglePrivacyDlpV2OrgConfig": {
      "properties": {
        "location": {
          "description": "The data to scan: folder, org, or project",
          "$ref": "GooglePrivacyDlpV2DiscoveryStartingLocation"
        },
        "projectId": {
          "type": "string",
          "description": "The project that will run the scan. The DLP service account that exists within this project must have access to all resources that are profiled, and the Cloud DLP API must be enabled."
        }
      },
      "type": "object",
      "description": "Project and scan location information. Only set when the parent is an org.",
      "id": "GooglePrivacyDlpV2OrgConfig"
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of an inspectTemplate."
        },
        "description": {
          "type": "string",
          "description": "Short description (max 256 chars)."
        },
        "name": {
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`",
          "readOnly": true,
          "type": "string"
        },
        "deidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "The core content of the template."
        },
        "displayName": {
          "type": "string",
          "description": "Display name (max 256 chars)."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyTemplate",
      "description": "DeidentifyTemplates contains instructions on how to de-identify content. See https://cloud.google.com/sensitive-data-protection/docs/concepts-templates to learn more."
    },
    "GooglePrivacyDlpV2Dictionary": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Dictionary",
      "description": "Custom information type based on a dictionary of words or phrases. This can be used to match sensitive information specific to the data, such as a list of employee IDs or job titles. Dictionary words are case-insensitive and all characters other than letters and digits in the unicode [Basic Multilingual Plane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane) will be replaced with whitespace when scanning for matches, so the dictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\", \"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters surrounding any match must be of a different type than the adjacent characters within the word, so letters must be next to non-letters and digits next to non-digits. For example, the dictionary word \"jen\" will match the first three letters of the text \"jen123\" but will return no matches for \"jennifer\". Dictionary words containing a large number of characters that are not letters or digits may result in unexpected findings because such characters are treated as whitespace. The [limits](https://cloud.google.com/sensitive-data-protection/limits) page contains details about the size limits of dictionaries. For dictionaries that do not fit within these constraints, consider using `LargeCustomDictionaryConfig` in the `StoredInfoType` API.",
      "properties": {
        "wordList": {
          "$ref": "GooglePrivacyDlpV2WordList",
          "description": "List of words or phrases to search for."
        },
        "cloudStoragePath": {
          "description": "Newline-delimited file of words in Cloud Storage. Only a single file is accepted.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        }
      }
    },
    "GooglePrivacyDlpV2ReplaceDictionaryConfig": {
      "id": "GooglePrivacyDlpV2ReplaceDictionaryConfig",
      "properties": {
        "wordList": {
          "description": "A list of words to select from for random replacement. The [limits](https://cloud.google.com/sensitive-data-protection/limits) page contains details about the size limits of dictionaries.",
          "$ref": "GooglePrivacyDlpV2WordList"
        }
      },
      "type": "object",
      "description": "Replace each input value with a value randomly selected from the dictionary."
    },
    "GooglePrivacyDlpV2CreateDlpJobRequest": {
      "properties": {
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "riskJob": {
          "description": "A risk analysis job calculates re-identification risk metrics for a BigQuery table.",
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig"
        },
        "inspectJob": {
          "description": "An inspection job scans a storage repository for InfoTypes.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "jobId": {
          "description": "The job id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2CreateDlpJobRequest",
      "description": "Request message for CreateDlpJobRequest. Used to initiate long running jobs such as calculating risk metrics or inspecting Google Cloud Storage."
    },
    "GooglePrivacyDlpV2TransformationConfig": {
      "description": "User specified templates and configs for how to deidentify structured, unstructures, and image files. User must provide either a unstructured deidentify template or at least one redact image config.",
      "type": "object",
      "properties": {
        "imageRedactTemplate": {
          "description": "Image redact template. If this template is specified, it will serve as the de-identify template for images. If this template is not set, all findings in the image will be redacted with a black box.",
          "type": "string"
        },
        "structuredDeidentifyTemplate": {
          "description": "Structured de-identify template. If this template is specified, it will serve as the de-identify template for structured content such as delimited files and tables. If this template is not set but the `deidentify_template` is set, then `deidentify_template` will also apply to the structured content. If neither template is set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify structured content.",
          "type": "string"
        },
        "deidentifyTemplate": {
          "type": "string",
          "description": "De-identify template. If this template is specified, it will serve as the default de-identify template. This template cannot contain `record_transformations` since it can be used for unstructured content such as free-form text files. If this template is not set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify unstructured content."
        }
      },
      "id": "GooglePrivacyDlpV2TransformationConfig"
    },
    "GooglePrivacyDlpV2InspectContentResponse": {
      "description": "Results of inspecting an item.",
      "type": "object",
      "id": "GooglePrivacyDlpV2InspectContentResponse",
      "properties": {
        "result": {
          "description": "The findings.",
          "$ref": "GooglePrivacyDlpV2InspectResult"
        }
      }
    },
    "GooglePrivacyDlpV2DataRiskLevel": {
      "description": "Score is a summary of all elements in the data profile. A higher number means more risk.",
      "properties": {
        "score": {
          "enumDescriptions": [
            "Unused.",
            "Low risk - Lower indication of sensitive data that appears to have additional access restrictions in place or no indication of sensitive data found.",
            "Medium risk - Sensitive data may be present but additional access or fine grain access restrictions appear to be present. Consider limiting access even further or transform data to mask.",
            "High risk – SPII may be present. Access controls may include public ACLs. Exfiltration of data may lead to user data loss. Re-identification of users may be possible. Consider limiting usage and or removing SPII."
          ],
          "enum": [
            "RISK_SCORE_UNSPECIFIED",
            "RISK_LOW",
            "RISK_MODERATE",
            "RISK_HIGH"
          ],
          "type": "string",
          "description": "The score applied to the resource."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DataRiskLevel"
    },
    "GooglePrivacyDlpV2FinishDlpJobRequest": {
      "description": "The request message for finishing a DLP hybrid job.",
      "properties": {},
      "type": "object",
      "id": "GooglePrivacyDlpV2FinishDlpJobRequest"
    },
    "GooglePrivacyDlpV2FixedSizeBucketingConfig": {
      "id": "GooglePrivacyDlpV2FixedSizeBucketingConfig",
      "description": "Buckets values based on fixed size ranges. The Bucketing transformation can provide all of this functionality, but requires more configuration. This message is provided as a convenience to the user for simple bucketing strategies. The transformed value will be a hyphenated string of {lower_bound}-{upper_bound}. For example, if lower_bound = 10 and upper_bound = 20, all values that are within this bucket will be replaced with \"10-20\". This can be used on data of type: double, long. If the bound Value type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/sensitive-data-protection/docs/concepts-bucketing to learn more.",
      "type": "object",
      "properties": {
        "bucketSize": {
          "format": "double",
          "type": "number",
          "description": "Required. Size of each bucket (except for minimum and maximum buckets). So if `lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the following buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works."
        },
        "upperBound": {
          "description": "Required. Upper bound value of buckets. All values greater than upper_bound are grouped together into a single bucket; for example if `upper_bound` = 89, then all values greater than 89 are replaced with the value \"89+\".",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "lowerBound": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Required. Lower bound value of buckets. All values less than `lower_bound` are grouped together into a single bucket; for example if `lower_bound` = 10, then all values less than 10 are replaced with the value \"-10\"."
        }
      }
    },
    "GooglePrivacyDlpV2ListDlpJobsResponse": {
      "description": "The response message for listing DLP jobs.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "jobs": {
          "description": "A list of DlpJobs that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DlpJob"
          }
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2ListDlpJobsResponse"
    },
    "GooglePrivacyDlpV2AllOtherBigQueryTables": {
      "description": "Catch-all for all other tables not specified by other filters. Should always be last, except for single-table configurations, which will only have a TableReference target.",
      "properties": {},
      "id": "GooglePrivacyDlpV2AllOtherBigQueryTables",
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeDescription": {
      "description": "InfoType description.",
      "id": "GooglePrivacyDlpV2InfoTypeDescription",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the infotype. Translated when language is provided in the request.",
          "type": "string"
        },
        "categories": {
          "type": "array",
          "description": "The category of the infoType.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeCategory"
          }
        },
        "versions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2VersionDescription"
          },
          "type": "array",
          "description": "A list of available versions for the infotype."
        },
        "supportedBy": {
          "description": "Which parts of the API supports this InfoType.",
          "items": {
            "type": "string",
            "enum": [
              "ENUM_TYPE_UNSPECIFIED",
              "INSPECT",
              "RISK_ANALYSIS"
            ],
            "enumDescriptions": [
              "Unused.",
              "Supported by the inspect operations.",
              "Supported by the risk analysis operations."
            ]
          },
          "type": "array"
        },
        "displayName": {
          "description": "Human readable form of the infoType name.",
          "type": "string"
        },
        "sensitivityScore": {
          "description": "The default sensitivity of the infoType.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "name": {
          "description": "Internal name of the infoType.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "properties": {
        "fixedSizeBucketingConfig": {
          "description": "Fixed size bucketing",
          "$ref": "GooglePrivacyDlpV2FixedSizeBucketingConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
          "description": "Ffx-Fpe"
        },
        "redactConfig": {
          "description": "Redact",
          "$ref": "GooglePrivacyDlpV2RedactConfig"
        },
        "replaceDictionaryConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceDictionaryConfig",
          "description": "Replace with a value randomly drawn (with replacement) from a dictionary."
        },
        "cryptoDeterministicConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoDeterministicConfig",
          "description": "Deterministic Crypto"
        },
        "bucketingConfig": {
          "$ref": "GooglePrivacyDlpV2BucketingConfig",
          "description": "Bucketing"
        },
        "dateShiftConfig": {
          "$ref": "GooglePrivacyDlpV2DateShiftConfig",
          "description": "Date Shift"
        },
        "cryptoHashConfig": {
          "description": "Crypto",
          "$ref": "GooglePrivacyDlpV2CryptoHashConfig"
        },
        "characterMaskConfig": {
          "$ref": "GooglePrivacyDlpV2CharacterMaskConfig",
          "description": "Mask"
        },
        "replaceConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceValueConfig",
          "description": "Replace with a specified value."
        },
        "replaceWithInfoTypeConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
          "description": "Replace with infotype"
        },
        "timePartConfig": {
          "description": "Time extraction",
          "$ref": "GooglePrivacyDlpV2TimePartConfig"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "description": "A rule for transforming a value."
    },
    "GooglePrivacyDlpV2Expressions": {
      "id": "GooglePrivacyDlpV2Expressions",
      "type": "object",
      "description": "An expression, consisting of an operator and conditions.",
      "properties": {
        "conditions": {
          "$ref": "GooglePrivacyDlpV2Conditions",
          "description": "Conditions to apply to the expression."
        },
        "logicalOperator": {
          "type": "string",
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "properties": {
        "currentVersion": {
          "description": "Current version of the stored info type.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
        },
        "pendingVersions": {
          "type": "array",
          "description": "Pending versions of the stored info type. Empty if no versions are pending.",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        }
      },
      "description": "StoredInfoType resource message that contains information about the current version and any pending updates.",
      "id": "GooglePrivacyDlpV2StoredInfoType",
      "type": "object"
    },
    "GooglePrivacyDlpV2ImageTransformations": {
      "id": "GooglePrivacyDlpV2ImageTransformations",
      "properties": {
        "transforms": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageTransformation"
          },
          "type": "array",
          "description": "List of transforms to make."
        }
      },
      "type": "object",
      "description": "A type of transformation that is applied over images."
    },
    "GooglePrivacyDlpV2ListDiscoveryConfigsResponse": {
      "type": "object",
      "description": "Response message for ListDiscoveryConfigs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then this value is the next page token to be used in the following ListDiscoveryConfigs request."
        },
        "discoveryConfigs": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
          },
          "description": "List of configs, up to page_size in ListDiscoveryConfigsRequest.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2ListDiscoveryConfigsResponse"
    },
    "GooglePrivacyDlpV2LeaveUntransformed": {
      "id": "GooglePrivacyDlpV2LeaveUntransformed",
      "description": "Skips the data without modifying it if the requested transformation would cause an error. For example, if a `DateShift` transformation were applied an an IP address, this mode would leave the IP address unchanged in the response.",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2OrConditions": {
      "description": "There is an OR relationship between these attributes. They are used to determine if a table should be scanned or not in Discovery.",
      "properties": {
        "minRowCount": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of rows that should be present before Cloud DLP profiles a table"
        },
        "minAge": {
          "format": "google-duration",
          "type": "string",
          "description": "Minimum age a table must have before Cloud DLP can profile it. Value must be 1 hour or greater."
        }
      },
      "id": "GooglePrivacyDlpV2OrConditions",
      "type": "object"
    },
    "GooglePrivacyDlpV2Trigger": {
      "id": "GooglePrivacyDlpV2Trigger",
      "type": "object",
      "description": "What event needs to occur for a new job to be started.",
      "properties": {
        "manual": {
          "description": "For use with hybrid jobs. Jobs must be manually created and finished.",
          "$ref": "GooglePrivacyDlpV2Manual"
        },
        "schedule": {
          "$ref": "GooglePrivacyDlpV2Schedule",
          "description": "Create a job on a repeating basis based on the elapse of time."
        }
      }
    },
    "GooglePrivacyDlpV2Schedule": {
      "type": "object",
      "properties": {
        "recurrencePeriodDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "With this option a job is started on a regular periodic basis. For example: every day (86400 seconds). A scheduled start time will be skipped if the previous execution has not ended when its scheduled time occurs. This value must be set to a time duration greater than or equal to 1 day and can be no longer than 60 days."
        }
      },
      "description": "Schedule for inspect job triggers.",
      "id": "GooglePrivacyDlpV2Schedule"
    },
    "GooglePrivacyDlpV2DataProfileConfigSnapshot": {
      "id": "GooglePrivacyDlpV2DataProfileConfigSnapshot",
      "description": "Snapshot of the configurations used to generate the profile.",
      "properties": {
        "discoveryConfig": {
          "$ref": "GooglePrivacyDlpV2DiscoveryConfig",
          "description": "A copy of the configuration used to generate this profile."
        },
        "inspectTemplateModifiedTime": {
          "format": "google-datetime",
          "description": "Timestamp when the template was modified",
          "type": "string"
        },
        "inspectConfig": {
          "description": "A copy of the inspection config used to generate this profile. This is a copy of the inspect_template specified in `DataProfileJobConfig`.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "dataProfileJob": {
          "description": "A copy of the configuration used to generate this profile. This is deprecated, and the DiscoveryConfig field is preferred moving forward. DataProfileJobConfig will still be written here for Discovery in BigQuery for backwards compatibility, but will not be updated with new fields, while DiscoveryConfig will.",
          "deprecated": true,
          "$ref": "GooglePrivacyDlpV2DataProfileJobConfig"
        },
        "inspectTemplateName": {
          "type": "string",
          "description": "Name of the inspection template used to generate this profile"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DataProfileBigQueryRowSchema": {
      "id": "GooglePrivacyDlpV2DataProfileBigQueryRowSchema",
      "description": "The schema of data to be saved to the BigQuery table when the `DataProfileAction` is enabled.",
      "properties": {
        "tableProfile": {
          "$ref": "GooglePrivacyDlpV2TableDataProfile",
          "description": "Table data profile column"
        },
        "columnProfile": {
          "$ref": "GooglePrivacyDlpV2ColumnDataProfile",
          "description": "Column data profile column"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2RecordKey": {
      "id": "GooglePrivacyDlpV2RecordKey",
      "properties": {
        "idValues": {
          "description": "Values of identifying columns in the given row. Order of values matches the order of `identifying_fields` specified in the scanning request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bigQueryKey": {
          "description": "Datastore key",
          "$ref": "GooglePrivacyDlpV2BigQueryKey"
        },
        "datastoreKey": {
          "$ref": "GooglePrivacyDlpV2DatastoreKey",
          "description": "BigQuery key"
        }
      },
      "description": "Message for a unique key indicating a record that contains a finding.",
      "type": "object"
    },
    "GooglePrivacyDlpV2KAnonymityResult": {
      "properties": {
        "equivalenceClassHistogramBuckets": {
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityHistogramBucket"
          },
          "description": "Histogram of k-anonymity equivalence classes.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2KAnonymityResult",
      "type": "object",
      "description": "Result of the k-anonymity computation."
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues": {
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues",
      "description": "A tuple of values for the quasi-identifier columns.",
      "properties": {
        "quasiIdsValues": {
          "type": "array",
          "description": "The quasi-identifier values.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        },
        "estimatedProbability": {
          "format": "double",
          "type": "number",
          "description": "The estimated probability that a given individual sharing these quasi-identifier values is in the dataset. This value, typically called δ, is the ratio between the number of records in the dataset with these quasi-identifier values, and the total number of individuals (inside *and* outside the dataset) with these quasi-identifier values. For example, if there are 15 individuals in the dataset who share the same quasi-identifier values, and an estimated 100 people in the entire population with these values, then δ is 0.15."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2TransientCryptoKey": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the key. This is an arbitrary string used to differentiate different keys. A unique key is generated per name: two separate `TransientCryptoKey` protos share the same generated key if their names are the same. When the data crypto key is generated, this name is not used in any way (repeating the api call will result in a different key being generated).",
          "type": "string"
        }
      },
      "description": "Use this to have a random data crypto key generated. It will be discarded after the request finishes.",
      "id": "GooglePrivacyDlpV2TransientCryptoKey"
    },
    "GooglePrivacyDlpV2FindingLimits": {
      "id": "GooglePrivacyDlpV2FindingLimits",
      "type": "object",
      "properties": {
        "maxFindingsPerItem": {
[...]
