{
  "discoveryVersion": "v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "title": "Cloud Data Loss Prevention (DLP)",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "DLP",
  "ownerDomain": "google.com",
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "version_module": true,
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "GooglePrivacyDlpV2ByteContentItem": {
      "description": "Container for bytes to inspect or redact.",
      "id": "GooglePrivacyDlpV2ByteContentItem",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8.",
          "enumDescriptions": [
            "Unused",
            "Any image type.",
            "jpeg",
            "bmp",
            "png",
            "svg",
            "plain text",
            "docx, docm, dotx, dotm",
            "pdf",
            "pptx, pptm, potx, potm, pot",
            "xlsx, xlsm, xltx, xltm",
            "avro",
            "csv",
            "tsv"
          ],
          "type": "string",
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8",
            "WORD_DOCUMENT",
            "PDF",
            "POWERPOINT_DOCUMENT",
            "EXCEL_DOCUMENT",
            "AVRO",
            "CSV",
            "TSV"
          ]
        },
        "data": {
          "type": "string",
          "description": "Content data to inspect or redact.",
          "format": "byte"
        }
      }
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "description": "Configuration to suppress records whose suppression conditions evaluate to true.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "A condition that when it evaluates to true will result in the record being evaluated to be suppressed from the transformed content.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        }
      },
      "id": "GooglePrivacyDlpV2RecordSuppression"
    },
    "GooglePrivacyDlpV2DeidentifyContentRequest": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DeidentifyContentRequest",
      "properties": {
        "deidentifyTemplateName": {
          "type": "string",
          "description": "Template to use. Any configuration directly specified in deidentify_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector. Items specified here will override the template referenced by the inspect_template_name argument."
        },
        "inspectTemplateName": {
          "type": "string",
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        },
        "deidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "Configuration for the de-identification of the content item. Items specified here will override the template referenced by the deidentify_template_name argument."
        },
        "item": {
          "description": "The item to de-identify. Will be treated as text. This value must be of type Table if your deidentify_config is a RecordTransformations object.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      },
      "description": "Request to de-identify a ContentItem."
    },
    "GooglePrivacyDlpV2TimespanConfig": {
      "id": "GooglePrivacyDlpV2TimespanConfig",
      "type": "object",
      "description": "Configuration of the timespan of the items to include in scanning. Currently only supported when inspecting Cloud Storage and BigQuery.",
      "properties": {
        "timestampField": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Specification of the field containing the timestamp of scanned items. Used for data sources like Datastore and BigQuery. *For BigQuery* If this value is not specified and the table was modified between the given start and end times, the entire table will be scanned. If this value is specified, then rows are filtered based on the given start and end times. Rows with a `NULL` value in the provided BigQuery column are skipped. Valid data types of the provided BigQuery column are: `INTEGER`, `DATE`, `TIMESTAMP`, and `DATETIME`. If your BigQuery table is [partitioned at ingestion time](https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time), you can use any of the following pseudo-columns as your timestamp field. When used with Cloud DLP, these pseudo-column names are case sensitive. - _PARTITIONTIME - _PARTITIONDATE - _PARTITION_LOAD_TIME *For Datastore* If this value is specified, then entities are filtered based on the given start and end times. If an entity does not contain the provided timestamp property or contains empty or invalid values, then it is included. Valid data types of the provided timestamp property are: `TIMESTAMP`. See the [known issue](https://cloud.google.com/dlp/docs/known-issues#bq-timespan) related to this operation."
        },
        "endTime": {
          "description": "Exclude files, tables, or rows newer than this value. If not set, no upper time limit is applied.",
          "format": "google-datetime",
          "type": "string"
        },
        "enableAutoPopulationOfTimespanConfig": {
          "type": "boolean",
          "description": "When the job is started by a JobTrigger we will automatically figure out a valid start_time to avoid scanning files that have not been modified since the last time the JobTrigger executed. This will be based on the time of the execution of the last run of the JobTrigger or the timespan end_time used in the last run of the JobTrigger."
        },
        "startTime": {
          "type": "string",
          "description": "Exclude files, tables, or rows older than this value. If not set, no lower time limit is applied.",
          "format": "google-datetime"
        }
      }
    },
    "GooglePrivacyDlpV2TransformationErrorHandling": {
      "properties": {
        "leaveUntransformed": {
          "description": "Ignore errors",
          "$ref": "GooglePrivacyDlpV2LeaveUntransformed"
        },
        "throwError": {
          "$ref": "GooglePrivacyDlpV2ThrowError",
          "description": "Throw an error"
        }
      },
      "description": "How to handle transformation errors during de-identification. A transformation error occurs when the requested transformation is incompatible with the data. For example, trying to de-identify an IP address using a `DateShift` transformation would result in a transformation error, since date info cannot be extracted from an IP address. Information about any incompatible transformations, and how they were handled, is returned in the response as part of the `TransformationOverviews`.",
      "id": "GooglePrivacyDlpV2TransformationErrorHandling",
      "type": "object"
    },
    "GooglePrivacyDlpV2RecordTransformation": {
      "id": "GooglePrivacyDlpV2RecordTransformation",
      "type": "object",
      "properties": {
        "containerTimestamp": {
          "format": "google-datetime",
          "description": "Findings container modification timestamp, if applicable.",
          "type": "string"
        },
        "fieldId": {
          "description": "For record transformations, provide a field.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "containerVersion": {
          "description": "Container version, if available (\"generation\" for Cloud Storage).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationResult": {
      "description": "Result of the reidentifiability analysis. Note that these results are an estimation, not exact values.",
      "type": "object",
      "id": "GooglePrivacyDlpV2KMapEstimationResult",
      "properties": {
        "kMapEstimationHistogram": {
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
          },
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_anonymity: 1, max_anonymity: 1, frequency: 17} {min_anonymity: 2, max_anonymity: 3, frequency: 42} {min_anonymity: 5, max_anonymity: 10, frequency: 99} mean that there are no record with an estimated anonymity of 4, 5, or larger than 10.",
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2CancelDlpJobRequest": {
      "description": "The request message for canceling a DLP job.",
      "properties": {},
      "id": "GooglePrivacyDlpV2CancelDlpJobRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2StoredType": {
      "description": "A reference to a StoredInfoType to use with scanning.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for inspection was created. Output-only field, populated by the system."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the requested `StoredInfoType`, for example `organizations/433245324/storedInfoTypes/432452342` or `projects/project-id/storedInfoTypes/432452342`."
        }
      },
      "id": "GooglePrivacyDlpV2StoredType",
      "type": "object"
    },
    "GooglePrivacyDlpV2ReidentifyContentRequest": {
      "type": "object",
      "description": "Request to re-identify an item.",
      "id": "GooglePrivacyDlpV2ReidentifyContentRequest",
      "properties": {
        "item": {
          "description": "The item to re-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "reidentifyTemplateName": {
          "type": "string",
          "description": "Template to use. References an instance of `DeidentifyTemplate`. Any configuration directly specified in `reidentify_config` or `inspect_config` will override those set in the template. The `DeidentifyTemplate` used must include only reversible transformations. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        },
        "reidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "Configuration for the re-identification of the content item. This field shares the same proto message type that is used for de-identification, however its usage here is for the reversal of the previous de-identification. Re-identification is performed by examining the transformations used to de-identify the items and executing the reverse. This requires that only reversible transformations be provided here. The reversible transformations are: - `CryptoDeterministicConfig` - `CryptoReplaceFfxFpeConfig`"
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector."
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "inspectTemplateName": {
          "type": "string",
          "description": "Template to use. Any configuration directly specified in `inspect_config` will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationHistogramBucket": {
      "description": "A KMapEstimationHistogramBucket message with the following values: min_anonymity: 3 max_anonymity: 5 frequency: 42 means that there are 42 records whose quasi-identifier values correspond to 3, 4 or 5 people in the overlying population. An important particular case is when min_anonymity = max_anonymity = 1: the frequency field then corresponds to the number of uniquely identifiable records.",
      "id": "GooglePrivacyDlpV2KMapEstimationHistogramBucket",
      "type": "object",
      "properties": {
        "minAnonymity": {
          "format": "int64",
          "type": "string",
          "description": "Always positive."
        },
        "maxAnonymity": {
          "format": "int64",
          "description": "Always greater than or equal to min_anonymity.",
          "type": "string"
        },
        "bucketSize": {
          "description": "Number of records within these anonymity bounds.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total number of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
          },
          "type": "array"
        },
        "bucketValueCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of distinct quasi-identifier tuple values in this bucket."
        }
      }
    },
    "GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "id": "GooglePrivacyDlpV2KmsWrappedCryptoKey",
      "properties": {
        "cryptoKeyName": {
          "type": "string",
          "description": "Required. The resource name of the KMS CryptoKey to use for unwrapping."
        },
        "wrappedKey": {
          "description": "Required. The wrapped data crypto key.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Include to use an existing data crypto key wrapped by KMS. The wrapped key must be a 128-, 192-, or 256-bit key. Authorization requires the following IAM permissions when sending a request to perform a crypto transformation using a KMS-wrapped crypto key: dlp.kms.encrypt For more information, see [Creating a wrapped key] (https://cloud.google.com/dlp/docs/create-wrapped-key). Note: When you use Cloud KMS for cryptographic operations, [charges apply](https://cloud.google.com/kms/pricing)."
    },
    "GooglePrivacyDlpV2SaveFindings": {
      "id": "GooglePrivacyDlpV2SaveFindings",
      "properties": {
        "outputConfig": {
          "$ref": "GooglePrivacyDlpV2OutputStorageConfig",
          "description": "Location to store findings outside of DLP."
        }
      },
      "type": "object",
      "description": "If set, the detailed findings will be persisted to the specified OutputStorageConfig. Only a single instance of this action can be specified. Compatible with: Inspect, Risk"
    },
    "GooglePrivacyDlpV2Trigger": {
      "description": "What event needs to occur for a new job to be started.",
      "properties": {
        "manual": {
          "description": "For use with hybrid jobs. Jobs must be manually created and finished.",
          "$ref": "GooglePrivacyDlpV2Manual"
        },
        "schedule": {
          "$ref": "GooglePrivacyDlpV2Schedule",
          "description": "Create a job on a repeating basis based on the elapse of time."
        }
      },
      "id": "GooglePrivacyDlpV2Trigger",
      "type": "object"
    },
    "GooglePrivacyDlpV2LDiversityHistogramBucket": {
      "properties": {
        "bucketValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityEquivalenceClass"
          },
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20.",
          "type": "array"
        },
        "sensitiveValueFrequencyLowerBound": {
          "type": "string",
          "description": "Lower bound on the sensitive value frequencies of the equivalence classes in this bucket.",
          "format": "int64"
        },
        "bucketSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of equivalence classes in this bucket."
        },
        "sensitiveValueFrequencyUpperBound": {
          "description": "Upper bound on the sensitive value frequencies of the equivalence classes in this bucket.",
          "type": "string",
          "format": "int64"
        },
        "bucketValueCount": {
          "format": "int64",
          "description": "Total number of distinct equivalence classes in this bucket.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityHistogramBucket",
      "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
      "type": "object"
    },
    "GooglePrivacyDlpV2TimePartConfig": {
      "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a portion of the value.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TimePartConfig",
      "properties": {
        "partToExtract": {
          "description": "The part of the time to keep.",
          "enum": [
            "TIME_PART_UNSPECIFIED",
            "YEAR",
            "MONTH",
            "DAY_OF_MONTH",
            "DAY_OF_WEEK",
            "WEEK_OF_YEAR",
            "HOUR_OF_DAY"
          ],
          "enumDescriptions": [
            "Unused",
            "[0-9999]",
            "[1-12]",
            "[1-31]",
            "[1-7]",
            "[1-53]",
            "[0-23]"
          ],
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "properties": {
        "pendingVersions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          },
          "type": "array",
          "description": "Pending versions of the stored info type. Empty if no versions are pending."
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "currentVersion": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion",
          "description": "Current version of the stored info type."
        }
      },
      "type": "object",
      "description": "StoredInfoType resource message that contains information about the current version and any pending updates.",
      "id": "GooglePrivacyDlpV2StoredInfoType"
    },
    "GooglePrivacyDlpV2VersionDescription": {
      "description": "Details about each available version for an infotype.",
      "properties": {
        "description": {
          "description": "Description of the version.",
          "type": "string"
        },
        "version": {
          "description": "Name of the version",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2VersionDescription"
    },
    "GooglePrivacyDlpV2ThrowError": {
      "id": "GooglePrivacyDlpV2ThrowError",
      "description": "Throw an error and fail the request when a transformation error occurs.",
      "properties": {},
      "type": "object"
    },
    "GooglePrivacyDlpV2PublishToStackdriver": {
      "properties": {},
      "type": "object",
      "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count. This will publish a metric to stack driver on each infotype requested and how many findings were found for it. CustomDetectors will be bucketed as 'Custom' under the Stackdriver label 'info_type'.",
      "id": "GooglePrivacyDlpV2PublishToStackdriver"
    },
    "GooglePrivacyDlpV2RecordCondition": {
      "properties": {
        "expressions": {
          "$ref": "GooglePrivacyDlpV2Expressions",
          "description": "An expression."
        }
      },
      "id": "GooglePrivacyDlpV2RecordCondition",
      "description": "A condition for determining whether a transformation should be applied to a field.",
      "type": "object"
    },
    "GooglePrivacyDlpV2StatisticalTable": {
      "description": "An auxiliary table containing statistical information on the relative frequency of different quasi-identifiers values. It has one or several quasi-identifiers columns, and one column that indicates the relative frequency of each quasi-identifier tuple. If a tuple is present in the data but not in the auxiliary table, the corresponding relative frequency is assumed to be zero (and thus, the tuple is highly reidentifiable).",
      "id": "GooglePrivacyDlpV2StatisticalTable",
      "type": "object",
      "properties": {
        "relativeFrequency": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. The relative frequency column must contain a floating-point number between 0 and 1 (inclusive). Null values are assumed to be zero."
        },
        "table": {
          "description": "Required. Auxiliary table location.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "quasiIds": {
          "type": "array",
          "description": "Required. Quasi-identifier columns.",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiIdentifierField"
          }
        }
      }
    },
    "GooglePrivacyDlpV2TaggedField": {
      "properties": {
        "customTag": {
          "type": "string",
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below)."
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Identifies the column."
        },
        "inferred": {
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data",
          "$ref": "GoogleProtobufEmpty"
        },
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "type": "object",
      "description": "A column with a semantic tag attached.",
      "id": "GooglePrivacyDlpV2TaggedField"
    },
    "GooglePrivacyDlpV2Expressions": {
      "description": "An expression, consisting of an operator and conditions.",
      "id": "GooglePrivacyDlpV2Expressions",
      "type": "object",
      "properties": {
        "logicalOperator": {
          "type": "string",
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ],
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ]
        },
        "conditions": {
          "$ref": "GooglePrivacyDlpV2Conditions",
          "description": "Conditions to apply to the expression."
        }
      }
    },
    "GooglePrivacyDlpV2Action": {
      "properties": {
        "publishToStackdriver": {
          "$ref": "GooglePrivacyDlpV2PublishToStackdriver",
          "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count."
        },
        "publishFindingsToCloudDataCatalog": {
          "$ref": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog",
          "description": "Publish findings to Cloud Datahub."
        },
        "pubSub": {
          "description": "Publish a notification to a Pub/Sub topic.",
          "$ref": "GooglePrivacyDlpV2PublishToPubSub"
        },
        "deidentify": {
          "$ref": "GooglePrivacyDlpV2Deidentify",
          "description": "Create a de-identified copy of the input data."
        },
        "jobNotificationEmails": {
          "$ref": "GooglePrivacyDlpV2JobNotificationEmails",
          "description": "Sends an email when the job completes. The email goes to IAM project owners and technical [Essential Contacts](https://cloud.google.com/resource-manager/docs/managing-notification-contacts)."
        },
        "publishSummaryToCscc": {
          "$ref": "GooglePrivacyDlpV2PublishSummaryToCscc",
          "description": "Publish summary to Cloud Security Command Center (Alpha)."
        },
        "saveFindings": {
          "description": "Save resulting findings in a provided location.",
          "$ref": "GooglePrivacyDlpV2SaveFindings"
        }
      },
      "description": "A task to execute on the completion of a job. See https://cloud.google.com/dlp/docs/concepts-actions to learn more.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Action"
    },
    "GooglePrivacyDlpV2TransformationDetailsStorageConfig": {
      "id": "GooglePrivacyDlpV2TransformationDetailsStorageConfig",
      "description": "Config for storing transformation details.",
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "The BigQuery table in which to store the output. This may be an existing table or in a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_transformation_details_yyyy_mm_dd_[dlp_job_id]. Pacific time zone will be used for generating the date details."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "id": "GooglePrivacyDlpV2SurrogateType",
      "type": "object",
      "description": "Message for detecting output from deidentification transformations such as [`CryptoReplaceFfxFpeConfig`](https://cloud.google.com/dlp/docs/reference/rest/v2/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig). These types of transformations are those that perform pseudonymization, thereby producing a \"surrogate\" as output. This should be used in conjunction with a field on the transformation such as `surrogate_info_type`. This CustomInfoType does not support the use of `detection_rules`.",
      "properties": {}
    },
    "GooglePrivacyDlpV2PublishSummaryToCscc": {
      "description": "Publish the result summary of a DlpJob to [Security Command Center](https://cloud.google.com/security-command-center). This action is available for only projects that belong to an organization. This action publishes the count of finding instances and their infoTypes. The summary of findings are persisted in Security Command Center and are governed by [service-specific policies for Security Command Center](https://cloud.google.com/terms/service-terms). Only a single instance of this action can be specified. Compatible with: Inspect",
      "id": "GooglePrivacyDlpV2PublishSummaryToCscc",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2ExclusionRule": {
      "properties": {
        "regex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression which defines the rule."
        },
        "excludeInfoTypes": {
          "$ref": "GooglePrivacyDlpV2ExcludeInfoTypes",
          "description": "Set of infoTypes for which findings would affect this rule."
        },
        "matchingType": {
          "type": "string",
          "description": "How the rule is applied, see MatchingType documentation for details.",
          "enumDescriptions": [
            "Invalid.",
            "Full match. - Dictionary: join of Dictionary results matched complete finding quote - Regex: all regex matches fill a finding quote start to end - Exclude info type: completely inside affecting info types findings",
            "Partial match. - Dictionary: at least one of the tokens in the finding matches - Regex: substring of the finding matches - Exclude info type: intersects with affecting info types findings",
            "Inverse match. - Dictionary: no tokens in the finding match the dictionary - Regex: finding doesn't match the regex - Exclude info type: no intersection with affecting info types findings"
          ],
          "enum": [
            "MATCHING_TYPE_UNSPECIFIED",
            "MATCHING_TYPE_FULL_MATCH",
            "MATCHING_TYPE_PARTIAL_MATCH",
            "MATCHING_TYPE_INVERSE_MATCH"
          ]
        },
        "excludeByHotword": {
          "$ref": "GooglePrivacyDlpV2ExcludeByHotword",
          "description": "Drop if the hotword rule is contained in the proximate context. For tabular data, the context includes the column name."
        },
        "dictionary": {
          "description": "Dictionary which defines the rule.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        }
      },
      "type": "object",
      "description": "The rule that specifies conditions when findings of infoTypes specified in `InspectionRuleSet` are removed from results.",
      "id": "GooglePrivacyDlpV2ExclusionRule"
    },
    "GooglePrivacyDlpV2DeidentifyContentResponse": {
      "type": "object",
      "properties": {
        "overview": {
          "$ref": "GooglePrivacyDlpV2TransformationOverview",
          "description": "An overview of the changes that were made on the `item`."
        },
        "item": {
          "description": "The de-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      },
      "description": "Results of de-identifying a ContentItem.",
      "id": "GooglePrivacyDlpV2DeidentifyContentResponse"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GooglePrivacyDlpV2AllInfoTypes": {
      "type": "object",
      "properties": {},
      "description": "Apply transformation to all findings.",
      "id": "GooglePrivacyDlpV2AllInfoTypes"
    },
    "GooglePrivacyDlpV2DataProfileLocation": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DataProfileLocation",
      "properties": {
        "organizationId": {
          "description": "The ID of an organization to scan.",
          "type": "string",
          "format": "int64"
        },
        "folderId": {
          "type": "string",
          "description": "The ID of the Folder within an organization to scan.",
          "format": "int64"
        }
      },
      "description": "The data that will be profiled."
    },
    "GooglePrivacyDlpV2TransformationDetails": {
      "id": "GooglePrivacyDlpV2TransformationDetails",
      "properties": {
        "containerName": {
          "type": "string",
          "description": "The top level name of the container where the transformation is located (this will be the source file name or table name)."
        },
        "transformation": {
          "type": "array",
          "description": "Description of transformation. This would only contain more than one element if there were multiple matching transformations and which one to apply was ambiguous. Not set for states that contain no transformation, currently only state that contains no transformation is TransformationResultStateType.METADATA_UNRETRIEVABLE.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationDescription"
          }
        },
        "resourceName": {
          "description": "The name of the job that completed the transformation.",
          "type": "string"
        },
        "transformationLocation": {
          "description": "The precise location of the transformed content in the original container.",
          "$ref": "GooglePrivacyDlpV2TransformationLocation"
        },
        "statusDetails": {
          "description": "Status of the transformation, if transformation was not successful, this will specify what caused it to fail, otherwise it will show that the transformation was successful.",
          "$ref": "GooglePrivacyDlpV2TransformationResultStatus"
        },
        "transformedBytes": {
          "format": "int64",
          "description": "The number of bytes that were transformed. If transformation was unsuccessful or did not take place because there was no content to transform, this will be zero.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about a single transformation. This object contains a description of the transformation, information about whether the transformation was successfully applied, and the precise location where the transformation occurred. These details are stored in a user-specified BigQuery table."
    },
    "GooglePrivacyDlpV2BigQueryDiscoveryTarget": {
      "id": "GooglePrivacyDlpV2BigQueryDiscoveryTarget",
      "properties": {
        "cadence": {
          "$ref": "GooglePrivacyDlpV2DiscoveryGenerationCadence",
          "description": "How often and when to update profiles. New tables that match both the filter and conditions are scanned as quickly as possible depending on system capacity."
        },
        "conditions": {
          "description": "In addition to matching the filter, these conditions must be true before a profile is generated.",
          "$ref": "GooglePrivacyDlpV2DiscoveryBigQueryConditions"
        },
        "disabled": {
          "$ref": "GooglePrivacyDlpV2Disabled",
          "description": "Tables that match this filter will not have profiles created."
        },
        "filter": {
          "description": "Required. The tables the discovery cadence applies to. The first target with a matching filter will be the one to apply to a table.",
          "$ref": "GooglePrivacyDlpV2DiscoveryBigQueryFilter"
        }
      },
      "description": "Target used to match against for discovery with BigQuery tables",
      "type": "object"
    },
    "GooglePrivacyDlpV2ImageTransformations": {
      "description": "A type of transformation that is applied over images.",
      "id": "GooglePrivacyDlpV2ImageTransformations",
      "type": "object",
      "properties": {
        "transforms": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageTransformation"
          }
        }
      }
    },
    "GooglePrivacyDlpV2DataRiskLevel": {
      "description": "Score is a summary of all elements in the data profile. A higher number means more risk.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DataRiskLevel",
      "properties": {
        "score": {
          "type": "string",
          "enum": [
            "RISK_SCORE_UNSPECIFIED",
            "RISK_LOW",
            "RISK_MODERATE",
            "RISK_HIGH"
          ],
          "enumDescriptions": [
            "Unused.",
            "Low risk - Lower indication of sensitive data that appears to have additional access restrictions in place or no indication of sensitive data found.",
            "Medium risk - Sensitive data may be present but additional access or fine grain access restrictions appear to be present. Consider limiting access even further or transform data to mask.",
            "High risk – SPII may be present. Access controls may include public ACLs. Exfiltration of data may lead to user data loss. Re-identification of users may be possible. Consider limiting usage and or removing SPII."
          ],
          "description": "The score applied to the resource."
        }
      }
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "properties": {
        "documentLocation": {
          "$ref": "GooglePrivacyDlpV2DocumentLocation",
          "description": "Location data for document files."
        },
        "containerName": {
          "type": "string",
          "description": "Name of the container where the finding is located. The top level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs://{bucket}/{path}` * Datastore namespace: {namespace} Nested names could be absent if the embedded object has no string identifier (for example, an image contained within a document)."
        },
        "containerVersion": {
          "type": "string",
          "description": "Finding container version, if available (\"generation\" for Cloud Storage)."
        },
        "recordLocation": {
          "description": "Location within a row or record of a database table.",
          "$ref": "GooglePrivacyDlpV2RecordLocation"
        },
        "metadataLocation": {
          "description": "Location within the metadata for inspected content.",
          "$ref": "GooglePrivacyDlpV2MetadataLocation"
        },
        "containerTimestamp": {
          "description": "Finding container modification timestamp, if applicable. For Cloud Storage, this field contains the last file modification timestamp. For a BigQuery table, this field contains the last_modified_time property. For Datastore, this field isn't populated.",
          "type": "string",
          "format": "google-datetime"
        },
        "imageLocation": {
          "description": "Location within an image's pixels.",
          "$ref": "GooglePrivacyDlpV2ImageLocation"
        }
      },
      "id": "GooglePrivacyDlpV2ContentLocation",
      "description": "Precise location of the finding within a document, record, image, or metadata container.",
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridInspectDlpJobRequest": {
      "id": "GooglePrivacyDlpV2HybridInspectDlpJobRequest",
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      },
      "description": "Request to search for potentially sensitive info in a custom location.",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryTableTypes": {
      "id": "GooglePrivacyDlpV2BigQueryTableTypes",
      "type": "object",
      "properties": {
        "types": {
          "description": "A set of BigQuery table types.",
          "type": "array",
          "items": {
            "enum": [
              "BIG_QUERY_TABLE_TYPE_UNSPECIFIED",
              "BIG_QUERY_TABLE_TYPE_TABLE",
              "BIG_QUERY_TABLE_TYPE_EXTERNAL_BIG_LAKE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unused.",
              "A normal BigQuery table.",
              "A table that references data stored in Cloud Storage."
            ]
          }
        }
      },
      "description": "The types of BigQuery tables supported by Cloud DLP."
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "properties": {
        "infoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array",
          "description": "InfoTypes to apply the transformation to. An empty list will cause this transformation to apply to all findings that correspond to infoTypes that were requested in `InspectConfig`."
        },
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "Required. Primitive transformation to apply to the infoType."
        }
      },
      "type": "object",
      "description": "A transformation to apply to text that is identified as a specific info_type.",
      "id": "GooglePrivacyDlpV2InfoTypeTransformation"
    },
    "GooglePrivacyDlpV2DateTime": {
      "description": "Message for a date time object. e.g. 2018-01-01, 5th August.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DateTime",
      "properties": {
        "timeZone": {
          "$ref": "GooglePrivacyDlpV2TimeZone",
          "description": "Time zone"
        },
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "One or more of the following must be set. Must be a valid date or time value."
        },
        "time": {
          "description": "Time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Day of week",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "description": "Histogram of value frequencies in the column.",
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket",
      "properties": {
        "valueFrequencyUpperBound": {
          "format": "int64",
          "type": "string",
          "description": "Upper bound on the value frequency of the values in this bucket."
        },
        "valueFrequencyLowerBound": {
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          },
          "type": "array",
          "description": "Sample of value frequencies in this bucket. The total number of values returned per bucket is capped at 20."
        },
        "bucketValueCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of distinct values in this bucket."
        },
        "bucketSize": {
          "type": "string",
          "description": "Total number of values in this bucket.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2KAnonymityHistogramBucket": {
      "description": "Histogram of k-anonymity equivalence classes.",
      "properties": {
        "bucketSize": {
          "description": "Total number of equivalence classes in this bucket.",
          "type": "string",
          "format": "int64"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
          },
          "type": "array"
        },
        "equivalenceClassSizeUpperBound": {
          "type": "string",
          "description": "Upper bound on the size of the equivalence classes in this bucket.",
          "format": "int64"
        },
        "equivalenceClassSizeLowerBound": {
          "format": "int64",
          "description": "Lower bound on the size of the equivalence classes in this bucket.",
          "type": "string"
        },
        "bucketValueCount": {
          "type": "string",
          "description": "Total number of distinct equivalence classes in this bucket.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2KAnonymityHistogramBucket"
    },
    "GooglePrivacyDlpV2Regex": {
      "properties": {
        "pattern": {
          "description": "Pattern defining the regular expression. Its syntax (https://github.com/google/re2/wiki/Syntax) can be found under the google/re2 repository on GitHub.",
          "type": "string"
        },
        "groupIndexes": {
          "description": "The index of the submatch to extract as findings. When not specified, the entire match is returned. No more than 3 may be included.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2Regex",
      "description": "Message defining a custom regular expression."
    },
    "GooglePrivacyDlpV2JobNotificationEmails": {
      "id": "GooglePrivacyDlpV2JobNotificationEmails",
      "description": "Sends an email when the job completes. The email goes to IAM project owners and technical [Essential Contacts](https://cloud.google.com/resource-manager/docs/managing-notification-contacts).",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2KindExpression": {
      "description": "A representation of a Datastore kind.",
      "id": "GooglePrivacyDlpV2KindExpression",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the kind."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridInspectResponse": {
      "properties": {},
      "id": "GooglePrivacyDlpV2HybridInspectResponse",
      "type": "object",
      "description": "Quota exceeded errors will be thrown once quota has been met."
    },
    "GooglePrivacyDlpV2Location": {
      "description": "Specifies the location of the finding.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Location",
      "properties": {
        "codepointRange": {
          "description": "Unicode character offsets delimiting the finding. These are relative to the finding's containing element. Provided when the content is text.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "contentLocations": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          },
          "type": "array",
          "description": "List of nested objects pointing to the precise location of the finding within the file or record."
        },
        "container": {
          "$ref": "GooglePrivacyDlpV2Container",
          "description": "Information about the container where this finding occurred, if available."
        },
        "byteRange": {
          "description": "Zero-based byte offsets delimiting the finding. These are relative to the finding's containing element. Note that when the content is not textual, this references the UTF-8 encoded textual representation of the content. Omitted if content is an image.",
          "$ref": "GooglePrivacyDlpV2Range"
        }
      }
    },
    "GooglePrivacyDlpV2CryptoHashConfig": {
      "id": "GooglePrivacyDlpV2CryptoHashConfig",
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing. Uses SHA-256. The key size must be either 32 or 64 bytes. Outputs a base64 encoded representation of the hashed output (for example, L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=). Currently, only string and integer values can be hashed. See https://cloud.google.com/dlp/docs/pseudonymization to learn more.",
      "properties": {
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "The key used by the hash function."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2ListDiscoveryConfigsResponse": {
      "description": "Response message for ListDiscoveryConfigs.",
      "type": "object",
      "properties": {
        "discoveryConfigs": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
          },
          "description": "List of configs, up to page_size in ListDiscoveryConfigsRequest.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then this value is the next page token to be used in the following ListDiscoveryConfigs request."
        }
      },
      "id": "GooglePrivacyDlpV2ListDiscoveryConfigsResponse"
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "description": "The rule that adjusts the likelihood of findings within a certain proximity of hotwords.",
      "type": "object",
      "properties": {
        "hotwordRegex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression pattern defining what qualifies as a hotword."
        },
        "proximity": {
          "description": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The finding itself will be included in the window, so that hotwords can be used to match substrings of the finding itself. Suppose you want Cloud DLP to promote the likelihood of the phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" if the area code is known to be the area code of a company's office. In this case, use the hotword regex \"\\(xxx\\)\", where \"xxx\" is the area code in question. For tabular data, if you want to modify the likelihood of an entire column of findngs, see [Hotword example: Set the match likelihood of a table column] (https://cloud.google.com/dlp/docs/creating-custom-infotypes-likelihood#match-column-values).",
          "$ref": "GooglePrivacyDlpV2Proximity"
        },
        "likelihoodAdjustment": {
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment",
          "description": "Likelihood adjustment to apply to all matching findings."
        }
      },
      "id": "GooglePrivacyDlpV2HotwordRule"
    },
    "GooglePrivacyDlpV2ListDlpJobsResponse": {
      "type": "object",
      "description": "The response message for listing DLP jobs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "jobs": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DlpJob"
          },
          "description": "A list of DlpJobs that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2ListDlpJobsResponse"
    },
    "GooglePrivacyDlpV2DataProfileJobConfig": {
      "properties": {
        "projectId": {
          "description": "The project that will run the scan. The DLP service account that exists within this project must have access to all resources that are profiled, and the Cloud DLP API must be enabled.",
          "type": "string"
        },
        "dataProfileActions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DataProfileAction"
          },
          "description": "Actions to execute at the completion of the job."
        },
        "inspectTemplates": {
          "items": {
            "type": "string"
          },
          "description": "Detection logic for profile generation. Not all template features are used by profiles. FindingLimits, include_quote and exclude_info_types have no impact on data profiling. Multiple templates may be provided if there is data in multiple regions. At most one template must be specified per-region (including \"global\"). Each region is scanned using the applicable template. If no region-specific template is specified, but a \"global\" template is specified, it will be copied to that region and used instead. If no global or region-specific template is provided for a region with data, that region's data will not be scanned. For more information, see https://cloud.google.com/dlp/docs/data-profiles#data-residency.",
          "type": "array"
        },
        "location": {
          "description": "The data to scan.",
          "$ref": "GooglePrivacyDlpV2DataProfileLocation"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DataProfileJobConfig",
      "description": "Configuration for setting up a job to scan resources for profile generation. Only one data profile configuration may exist per organization, folder, or project. The generated data profiles are retained according to the [data retention policy] (https://cloud.google.com/dlp/docs/data-profiles#retention)."
    },
    "GooglePrivacyDlpV2CryptoDeterministicConfig": {
      "type": "object",
      "description": "Pseudonymization method that generates deterministic encryption for the given input. Outputs a base64 encoded representation of the encrypted output. Uses AES-SIV based on the RFC https://tools.ietf.org/html/rfc5297.",
      "properties": {
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "A context may be used for higher security and maintaining referential integrity such that the same identifier in two different contexts will be given a distinct surrogate. The context is appended to plaintext value being encrypted. On decryption the provided context is validated against the value used during encryption. If a context was provided during encryption, same context must be provided during decryption as well. If the context is not set, plaintext would be used as is for encryption. If the context is set but: 1. there is no record present when transforming a given value or 2. the field is not present when transforming a given value, plaintext would be used as is for encryption. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and unstructured `ContentItem`s."
        },
        "surrogateInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The custom info type to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom info type followed by the number of characters comprising the surrogate. The following scheme defines the format: {info type name}({surrogate character count}):{surrogate} For example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom info type 'Surrogate'. This facilitates reversal of the surrogate when it occurs in free text. Note: For record transformations where the entire cell in a table is being transformed, surrogates are not mandatory. Surrogates are used to denote the location of the token and are necessary for re-identification in free form text. In order for inspection to work properly, the name of this info type must not occur naturally anywhere in your data; otherwise, inspection may either - reverse a surrogate that does not correspond to an actual identifier - be unable to parse the surrogate and result in an error Therefore, choose your custom info type name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE."
        },
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "The key used by the encryption function. For deterministic encryption using AES-SIV, the provided key is internally expanded to 64 bytes prior to use."
        }
      },
      "id": "GooglePrivacyDlpV2CryptoDeterministicConfig"
    },
    "GooglePrivacyDlpV2ContentItem": {
      "properties": {
        "value": {
          "type": "string",
          "description": "String data to inspect or redact."
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2Table",
          "description": "Structured content for inspection. See https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to learn more."
        },
        "byteItem": {
          "description": "Content data to inspect or redact. Replaces `type` and `data`.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        }
      },
      "id": "GooglePrivacyDlpV2ContentItem",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryTableCollection": {
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryTableCollection",
      "properties": {
        "includeRegexes": {
          "$ref": "GooglePrivacyDlpV2BigQueryRegexes",
          "description": "A collection of regular expressions to match a BigQuery table against."
        }
      },
      "description": "Specifies a collection of BigQuery tables. Used for Discovery."
    },
    "GooglePrivacyDlpV2TimeZone": {
      "properties": {
        "offsetMinutes": {
          "format": "int32",
          "type": "integer",
          "description": "Set only if the offset can be determined. Positive for time ahead of UTC. E.g. For \"UTC-9\", this value is -540."
        }
      },
      "id": "GooglePrivacyDlpV2TimeZone",
      "type": "object",
      "description": "Time zone of the date time object."
    },
    "GooglePrivacyDlpV2BigQueryField": {
      "description": "Message defining a field of a BigQuery table.",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Designated field in the BigQuery table."
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Source table of the field."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryField"
    },
    "GooglePrivacyDlpV2OrgConfig": {
      "id": "GooglePrivacyDlpV2OrgConfig",
      "description": "Project and scan location information. Only set when the parent is an org.",
      "properties": {
        "projectId": {
          "description": "The project that will run the scan. The DLP service account that exists within this project must have access to all resources that are profiled, and the Cloud DLP API must be enabled.",
          "type": "string"
        },
        "location": {
          "description": "The data to scan: folder, org, or project",
          "$ref": "GooglePrivacyDlpV2DiscoveryStartingLocation"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2TransformationConfig": {
      "description": "User specified templates and configs for how to deidentify structured, unstructures, and image files. User must provide either a unstructured deidentify template or at least one redact image config.",
      "properties": {
        "imageRedactTemplate": {
          "description": "Image redact template. If this template is specified, it will serve as the de-identify template for images. If this template is not set, all findings in the image will be redacted with a black box.",
          "type": "string"
        },
        "deidentifyTemplate": {
          "type": "string",
          "description": "De-identify template. If this template is specified, it will serve as the default de-identify template. This template cannot contain `record_transformations` since it can be used for unstructured content such as free-form text files. If this template is not set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify unstructured content."
        },
        "structuredDeidentifyTemplate": {
          "type": "string",
          "description": "Structured de-identify template. If this template is specified, it will serve as the de-identify template for structured content such as delimited files and tables. If this template is not set but the `deidentify_template` is set, then `deidentify_template` will also apply to the structured content. If neither template is set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify structured content."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2TransformationConfig"
    },
    "GooglePrivacyDlpV2StoredInfoTypeConfig": {
      "id": "GooglePrivacyDlpV2StoredInfoTypeConfig",
      "type": "object",
      "properties": {
        "regex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Store regular expression-based StoredInfoType."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the StoredInfoType (max 256 characters)."
        },
        "dictionary": {
          "$ref": "GooglePrivacyDlpV2Dictionary",
          "description": "Store dictionary-based CustomInfoType."
        },
        "largeCustomDictionary": {
          "description": "StoredInfoType where findings are defined by a dictionary of phrases.",
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
        },
        "description": {
          "description": "Description of the StoredInfoType (max 256 characters).",
          "type": "string"
        }
      },
      "description": "Configuration for stored infoTypes. All fields and subfield are provided by the user. For more information, see https://cloud.google.com/dlp/docs/creating-custom-infotypes."
    },
    "GooglePrivacyDlpV2Color": {
      "description": "Represents a color in the RGB color space.",
      "id": "GooglePrivacyDlpV2Color",
      "type": "object",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeLimit": {
      "id": "GooglePrivacyDlpV2InfoTypeLimit",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Type of information the findings limit applies to. Only one limit per info_type should be provided. If InfoTypeLimit does not have an info_type, the DLP API applies the limit against all info_types that are found but not specified in another InfoTypeLimit.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "maxFindings": {
          "format": "int32",
          "type": "integer",
          "description": "Max findings limit for the given infoType."
        }
      },
      "description": "Max findings configuration per infoType, per content item or long running DlpJob."
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "id": "GooglePrivacyDlpV2InspectionRule",
      "properties": {
        "hotwordRule": {
          "$ref": "GooglePrivacyDlpV2HotwordRule",
          "description": "Hotword-based detection rule."
        },
        "exclusionRule": {
          "$ref": "GooglePrivacyDlpV2ExclusionRule",
          "description": "Exclusion rule."
        }
      },
      "description": "A single inspection rule to be applied to infoTypes, specified in `InspectionRuleSet`.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DataProfilePubSubCondition": {
      "id": "GooglePrivacyDlpV2DataProfilePubSubCondition",
      "type": "object",
      "description": "A condition for determining whether a Pub/Sub should be triggered.",
      "properties": {
        "expressions": {
          "$ref": "GooglePrivacyDlpV2PubSubExpressions",
          "description": "An expression."
        }
      }
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "description": "Result of the δ-presence computation. Note that these results are an estimation, not exact values.",
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "type": "array",
          "description": "The intervals [min_probability, max_probability) do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_probability: 0, max_probability: 0.1, frequency: 17} {min_probability: 0.2, max_probability: 0.3, frequency: 42} {min_probability: 0.3, max_probability: 0.4, frequency: 99} mean that there are no record with an estimated probability in [0.1, 0.2) nor larger or equal to 0.4.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
      "type": "object"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "description": "Result of a risk analysis operation request.",
      "type": "object",
      "properties": {
        "requestedSourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "kAnonymityResult": {
          "description": "K-anonymity result",
          "$ref": "GooglePrivacyDlpV2KAnonymityResult"
        },
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult",
          "description": "Numerical stats result"
        },
        "requestedOptions": {
          "$ref": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions",
          "description": "The configuration used for this job."
        },
        "kMapEstimationResult": {
          "description": "K-map result",
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult"
        },
        "requestedPrivacyMetric": {
          "$ref": "GooglePrivacyDlpV2PrivacyMetric",
          "description": "Privacy metric to compute."
        },
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2LDiversityResult",
          "description": "L-divesity result"
        },
        "categoricalStatsResult": {
          "description": "Categorical stats result",
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult"
        },
        "deltaPresenceEstimationResult": {
          "description": "Delta-presence result",
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult"
        }
      },
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
    },
    "GooglePrivacyDlpV2OutputStorageConfig": {
      "description": "Cloud repository for storing output.",
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Store findings in an existing table or a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific time zone will be used for generating the date details. For Inspect, each column in an existing output table must have the same name, type, and mode of a field in the `Finding` object. For Risk, an existing output table should be the output of a previous Risk analysis job run on the same source table, with the same privacy metric and quasi-identifiers. Risk jobs that analyze the same table but compute a different privacy metric, or use different sets of quasi-identifiers, cannot store their results in the same table."
        },
        "outputSchema": {
          "type": "string",
          "enum": [
            "OUTPUT_SCHEMA_UNSPECIFIED",
            "BASIC_COLUMNS",
            "GCS_COLUMNS",
            "DATASTORE_COLUMNS",
            "BIG_QUERY_COLUMNS",
            "ALL_COLUMNS"
          ],
          "description": "Schema used for writing the findings for Inspect jobs. This field is only used for Inspect and must be unspecified for Risk jobs. Columns are derived from the `Finding` object. If appending to an existing table, any columns from the predefined schema that are missing will be added. No columns in the existing table will be deleted. If unspecified, then all available columns will be used for a new table or an (existing) table with no schema, and no changes will be made to an existing table that has a schema. Only for use with external storage.",
          "enumDescriptions": [
            "Unused.",
            "Basic schema including only `info_type`, `quote`, `certainty`, and `timestamp`.",
            "Schema tailored to findings from scanning Cloud Storage.",
            "Schema tailored to findings from scanning Google Datastore.",
            "Schema tailored to findings from scanning Google BigQuery.",
            "Schema containing all columns."
          ]
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2OutputStorageConfig"
    },
    "GooglePrivacyDlpV2StoredInfoTypeStats": {
      "type": "object",
      "description": "Statistics for a StoredInfoType.",
      "id": "GooglePrivacyDlpV2StoredInfoTypeStats",
      "properties": {
        "largeCustomDictionary": {
          "description": "StoredInfoType where findings are defined by a dictionary of phrases.",
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryStats"
        }
      }
    },
    "GooglePrivacyDlpV2Row": {
      "properties": {
        "values": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "Individual cells.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2Row",
      "type": "object",
      "description": "Values of the row."
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "description": "Deprecated; use `InspectionRuleSet` instead. Rule for modifying a `CustomInfoType` to alter behavior under certain circumstances, depending on the specific details of the rule. Not supported for the `surrogate_type` custom infoType.",
      "properties": {
        "hotwordRule": {
          "$ref": "GooglePrivacyDlpV2HotwordRule",
          "description": "Hotword-based detection rule."
        }
      },
      "id": "GooglePrivacyDlpV2DetectionRule",
      "type": "object"
    },
    "GooglePrivacyDlpV2ReplaceDictionaryConfig": {
      "type": "object",
      "properties": {
        "wordList": {
          "$ref": "GooglePrivacyDlpV2WordList",
          "description": "A list of words to select from for random replacement. The [limits](https://cloud.google.com/dlp/limits) page contains details about the size limits of dictionaries."
        }
      },
      "description": "Replace each input value with a value randomly selected from the dictionary.",
      "id": "GooglePrivacyDlpV2ReplaceDictionaryConfig"
    },
    "GooglePrivacyDlpV2KAnonymityEquivalenceClass": {
      "description": "The set of columns' values that share the same ldiversity value",
      "type": "object",
      "id": "GooglePrivacyDlpV2KAnonymityEquivalenceClass",
      "properties": {
        "equivalenceClassSize": {
          "description": "Size of the equivalence class, for example number of rows with the above set of values.",
          "type": "string",
          "format": "int64"
        },
        "quasiIdsValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "Set of values defining the equivalence class. One value per quasi-identifier column in the original KAnonymity metric message. The order is always the same as the original request."
        }
      }
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket": {
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket",
      "properties": {
        "minProbability": {
          "type": "number",
          "description": "Between 0 and 1.",
          "format": "double"
        },
        "maxProbability": {
          "description": "Always greater than or equal to min_probability.",
          "type": "number",
          "format": "double"
        },
        "bucketValueCount": {
          "format": "int64",
          "description": "Total number of distinct quasi-identifier tuple values in this bucket.",
          "type": "string"
        },
        "bucketSize": {
          "format": "int64",
          "type": "string",
          "description": "Number of records within these probability bounds."
        },
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total number of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
          },
          "type": "array"
        }
      },
      "description": "A DeltaPresenceEstimationHistogramBucket message with the following values: min_probability: 0.1 max_probability: 0.2 frequency: 42 means that there are 42 records for which δ is in [0.1, 0.2). An important particular case is when min_probability = max_probability = 1: then, every individual who shares this quasi-identifier combination is in the dataset.",
      "type": "object"
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "description": "Using raw keys is prone to security risks due to accidentally leaking the key. Choose another type of key if possible.",
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey",
      "properties": {
        "key": {
          "format": "byte",
          "type": "string",
          "description": "Required. A 128/192/256 bit key."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2MetadataLocation": {
      "description": "Metadata Location",
      "properties": {
        "storageLabel": {
          "description": "Storage metadata.",
          "$ref": "GooglePrivacyDlpV2StorageMetadataLabel"
        },
        "type": {
          "type": "string",
          "description": "Type of metadata containing the finding.",
          "enumDescriptions": [
            "Unused",
            "General file metadata provided by Cloud Storage."
          ],
          "enum": [
            "METADATATYPE_UNSPECIFIED",
            "STORAGE_METADATA"
          ]
        }
      },
      "id": "GooglePrivacyDlpV2MetadataLocation",
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoType": {
      "description": "Type of information detected by the API.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/dlp/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$_-]{1,64}`."
        },
        "sensitivityScore": {
          "description": "Optional custom sensitivity for this InfoType. This only applies to data profiling.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "version": {
          "type": "string",
          "description": "Optional version name for this InfoType."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2InfoType"
    },
    "GooglePrivacyDlpV2DataProfilePubSubMessage": {
      "id": "GooglePrivacyDlpV2DataProfilePubSubMessage",
      "type": "object",
      "description": "Pub/Sub topic message for a DataProfileAction.PubSubNotification event. To receive a message of protocol buffer schema type, convert the message data to an object of this proto class.",
      "properties": {
        "event": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "New profile (not a re-profile).",
            "Changed one of the following profile metrics: * Table data risk score * Table sensitivity score * Table resource visibility * Table encryption type * Table predicted infoTypes * Table other infoTypes",
            "Table data risk score or sensitivity score increased.",
            "A user (non-internal) error occurred."
          ],
          "description": "The event that caused the Pub/Sub message to be sent.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "NEW_PROFILE",
            "CHANGED_PROFILE",
            "SCORE_INCREASED",
            "ERROR_CHANGED"
          ]
        },
        "profile": {
          "$ref": "GooglePrivacyDlpV2TableDataProfile",
          "description": "If `DetailLevel` is `TABLE_PROFILE` this will be fully populated. Otherwise, if `DetailLevel` is `RESOURCE_NAME`, then only `name` and `full_resource` will be populated."
        }
      }
    },
    "GooglePrivacyDlpV2Error": {
      "description": "Details information about an error encountered during job execution or the results of an unsuccessful activation of the JobTrigger.",
      "id": "GooglePrivacyDlpV2Error",
      "properties": {
        "details": {
          "description": "Detailed error codes and messages.",
          "$ref": "GoogleRpcStatus"
        },
        "timestamps": {
          "type": "array",
          "description": "The times the error occurred. List includes the oldest timestamp and the last 9 timestamps.",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2LDiversityConfig": {
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "properties": {
        "quasiIds": {
          "description": "Set of quasi-identifiers indicating how equivalence classes are defined for the l-diversity computation. When multiple fields are specified, they are considered a single composite key.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "sensitiveAttribute": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Sensitive field for computing the l-value."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2LDiversityConfig"
    },
    "GooglePrivacyDlpV2SensitivityScore": {
      "description": "Score is calculated from of all elements in the data profile. A higher level means the data is more sensitive.",
      "properties": {
        "score": {
          "description": "The sensitivity score applied to the resource.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "No sensitive information detected. The resource isn't publicly accessible.",
            "Medium risk. Contains personally identifiable information (PII), potentially sensitive data, or fields with free-text data that are at a higher risk of having intermittent sensitive data. Consider limiting access.",
            "High risk. Sensitive personally identifiable information (SPII) can be present. Exfiltration of data can lead to user data loss. Re-identification of users might be possible. Consider limiting usage and or removing SPII."
          ],
          "enum": [
            "SENSITIVITY_SCORE_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ]
        }
      },
      "id": "GooglePrivacyDlpV2SensitivityScore",
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeLikelihood": {
      "description": "Configuration for setting a minimum likelihood per infotype. Used to customize the minimum likelihood level for specific infotypes in the request. For example, use this if you want to lower the precision for PERSON_NAME without lowering the precision for the other infotypes in the request.",
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Type of information the likelihood threshold applies to. Only one likelihood per info_type should be provided. If InfoTypeLikelihood does not have an info_type, the configuration fails."
        },
        "minLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Only returns findings equal to or above this threshold. This field is required or else the configuration fails.",
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ]
        }
      },
      "id": "GooglePrivacyDlpV2InfoTypeLikelihood"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to figure out that one given individual appears in a de-identified dataset. Similarly to the k-map metric, we cannot compute δ-presence exactly without knowing the attack dataset, so we use a statistical model instead.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code."
        },
        "quasiIds": {
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          },
          "type": "array",
          "description": "Required. Fields considered to be quasi-identifiers. No two fields can have the same tag."
        },
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers field must appear in exactly one field of one auxiliary table.",
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          },
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2TableDataProfile": {
      "description": "The profile for a scanned table.",
      "properties": {
        "lastModifiedTime": {
          "format": "google-datetime",
          "description": "The time when this table was last modified",
          "type": "string"
        },
        "name": {
          "description": "The name of the profile.",
          "type": "string"
        },
        "otherInfoTypes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherInfoTypeSummary"
          },
          "description": "Other infoTypes found in this table's data."
        },
        "configSnapshot": {
          "$ref": "GooglePrivacyDlpV2DataProfileConfigSnapshot",
          "description": "The snapshot of the configurations used to generate the profile."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "DONE"
          ],
          "description": "State of a profile.",
          "enumDescriptions": [
            "Unused.",
            "The profile is currently running. Once a profile has finished it will transition to DONE.",
            "The profile is no longer generating. If profile_status.status.code is 0, the profile succeeded, otherwise, it failed."
          ],
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The time when this table expires.",
          "format": "google-datetime"
        },
        "encryptionStatus": {
          "description": "How the table is encrypted.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Google manages server-side encryption keys on your behalf.",
            "Customer provides the key."
          ],
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "ENCRYPTION_GOOGLE_MANAGED",
            "ENCRYPTION_CUSTOMER_MANAGED"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time at which the table was created.",
          "type": "string"
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels applied to the resource at the time the profile was generated."
        },
        "predictedInfoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeSummary"
          },
          "type": "array",
          "description": "The infoTypes predicted from this table's data."
        },
        "rowCount": {
          "description": "Number of rows in the table when the profile was generated. This will not be populated for BigLake tables.",
          "format": "int64",
          "type": "string"
        },
        "scannedColumnCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of columns profiled in the table."
        },
        "resourceVisibility": {
          "enum": [
            "RESOURCE_VISIBILITY_UNSPECIFIED",
            "RESOURCE_VISIBILITY_PUBLIC",
            "RESOURCE_VISIBILITY_RESTRICTED"
          ],
          "enumDescriptions": [
            "Unused.",
            "Visible to any user.",
            "Visible only to specific users."
          ],
          "description": "How broadly a resource has been shared.",
          "type": "string"
        },
        "sensitivityScore": {
          "$ref": "GooglePrivacyDlpV2SensitivityScore",
          "description": "The sensitivity score of this table."
        },
        "failedColumnCount": {
          "description": "The number of columns skipped in the table because of an error.",
          "format": "int64",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "The BigQuery dataset ID."
        },
        "profileStatus": {
          "$ref": "GooglePrivacyDlpV2ProfileStatus",
          "description": "Success or error status from the most recent profile generation attempt. May be empty if the profile is still being generated."
        },
        "tableSizeBytes": {
          "type": "string",
          "description": "The size of the table when the profile was generated.",
          "format": "int64"
        },
        "projectDataProfile": {
          "type": "string",
          "description": "The resource name to the project data profile for this table."
        },
        "tableId": {
          "type": "string",
          "description": "The BigQuery table ID."
        },
        "dataRiskLevel": {
          "description": "The data risk level of this table.",
          "$ref": "GooglePrivacyDlpV2DataRiskLevel"
        },
        "datasetProjectId": {
          "type": "string",
          "description": "The Google Cloud project ID that owns the BigQuery dataset."
        },
        "datasetLocation": {
          "type": "string",
          "description": "The BigQuery location where the dataset's data is stored. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        },
        "fullResource": {
          "type": "string",
          "description": "The resource name of the table. https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "profileLastGenerated": {
          "type": "string",
          "description": "The last time the profile was generated.",
          "format": "google-datetime"
        }
      },
      "id": "GooglePrivacyDlpV2TableDataProfile",
      "type": "object"
    },
    "GooglePrivacyDlpV2DocumentLocation": {
      "properties": {
        "fileOffset": {
          "format": "int64",
          "description": "Offset of the line, from the beginning of the file, where the finding is located.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DocumentLocation",
      "description": "Location of a finding within a document."
    },
    "GooglePrivacyDlpV2CloudStorageRegexFileSet": {
      "properties": {
        "excludeRegex": {
          "items": {
            "type": "string"
          },
          "description": "A list of regular expressions matching file paths to exclude. All files in the bucket that match at least one of these regular expressions will be excluded from the scan. Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
          "type": "array"
        },
        "includeRegex": {
          "type": "array",
          "description": "A list of regular expressions matching file paths to include. All files in the bucket that match at least one of these regular expressions will be included in the set of files, except for those that also match an item in `exclude_regex`. Leaving this field empty will match all files by default (this is equivalent to including `.*` in the list). Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
          "items": {
            "type": "string"
          }
        },
        "bucketName": {
          "description": "The name of a Cloud Storage bucket. Required.",
          "type": "string"
        }
      },
      "description": "Message representing a set of files in a Cloud Storage bucket. Regular expressions are used to allow fine-grained control over which files in the bucket to include. Included files are those that match at least one item in `include_regex` and do not match any items in `exclude_regex`. Note that a file that matches items from both lists will _not_ be included. For a match to occur, the entire file path (i.e., everything in the url after the bucket name) must match the regular expression. For example, given the input `{bucket_name: \"mybucket\", include_regex: [\"directory1/.*\"], exclude_regex: [\"directory1/excluded.*\"]}`: * `gs://mybucket/directory1/myfile` will be included * `gs://mybucket/directory1/directory2/myfile` will be included (`.*` matches across `/`) * `gs://mybucket/directory0/directory1/myfile` will _not_ be included (the full path doesn't match any items in `include_regex`) * `gs://mybucket/directory1/excludedfile` will _not_ be included (the path matches an item in `exclude_regex`) If `include_regex` is left empty, it will match all files by default (this is equivalent to setting `include_regex: [\".*\"]`). Some other common use cases: * `{bucket_name: \"mybucket\", exclude_regex: [\".*\\.pdf\"]}` will include all files in `mybucket` except for .pdf files * `{bucket_name: \"mybucket\", include_regex: [\"directory/[^/]+\"]}` will include all files directly under `gs://mybucket/directory/`, without matching across `/`",
      "type": "object",
      "id": "GooglePrivacyDlpV2CloudStorageRegexFileSet"
    },
    "GooglePrivacyDlpV2FixedSizeBucketingConfig": {
      "type": "object",
      "properties": {
        "upperBound": {
          "description": "Required. Upper bound value of buckets. All values greater than upper_bound are grouped together into a single bucket; for example if `upper_bound` = 89, then all values greater than 89 are replaced with the value \"89+\".",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "lowerBound": {
          "description": "Required. Lower bound value of buckets. All values less than `lower_bound` are grouped together into a single bucket; for example if `lower_bound` = 10, then all values less than 10 are replaced with the value \"-10\".",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "bucketSize": {
          "type": "number",
          "description": "Required. Size of each bucket (except for minimum and maximum buckets). So if `lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the following buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works.",
          "format": "double"
        }
      },
      "description": "Buckets values based on fixed size ranges. The Bucketing transformation can provide all of this functionality, but requires more configuration. This message is provided as a convenience to the user for simple bucketing strategies. The transformed value will be a hyphenated string of {lower_bound}-{upper_bound}. For example, if lower_bound = 10 and upper_bound = 20, all values that are within this bucket will be replaced with \"10-20\". This can be used on data of type: double, long. If the bound Value type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/dlp/docs/concepts-bucketing to learn more.",
      "id": "GooglePrivacyDlpV2FixedSizeBucketingConfig"
    },
    "GooglePrivacyDlpV2HybridInspectJobTriggerRequest": {
      "id": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest",
      "type": "object",
      "description": "Request to search for potentially sensitive info in a custom location.",
      "properties": {
        "hybridItem": {
          "$ref": "GooglePrivacyDlpV2HybridContentItem",
          "description": "The item to inspect."
        }
      }
    },
    "GooglePrivacyDlpV2AllOtherBigQueryTables": {
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2AllOtherBigQueryTables",
      "description": "Catch-all for all other tables not specified by other filters. Should always be last, except for single-table configurations, which will only have a TableReference target."
    },
    "GooglePrivacyDlpV2DiscoveryBigQueryFilter": {
      "properties": {
        "otherTables": {
          "$ref": "GooglePrivacyDlpV2AllOtherBigQueryTables",
          "description": "Catch-all. This should always be the last filter in the list because anything above it will apply first. Should only appear once in a configuration. If none is specified, a default one will be added automatically."
        },
        "tables": {
          "description": "A specific set of tables for this filter to apply to. A table collection must be specified in only one filter per config. If a table id or dataset is empty, Cloud DLP assumes all tables in that collection must be profiled. Must specify a project ID.",
          "$ref": "GooglePrivacyDlpV2BigQueryTableCollection"
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryBigQueryFilter",
      "type": "object",
      "description": "Determines what tables will have profiles generated within an organization or project. Includes the ability to filter by regular expression patterns on project ID, dataset ID, and table ID."
    },
    "GooglePrivacyDlpV2Key": {
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        },
        "path": {
          "type": "array",
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. A path can never be empty, and a path can have at most 100 elements.",
          "items": {
            "$ref": "GooglePrivacyDlpV2PathElement"
          }
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2Key",
      "description": "A unique identifier for a Datastore entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts."
    },
    "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest": {
      "description": "Request message for UpdateStoredInfoType.",
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated.",
          "type": "string"
        },
        "config": {
          "description": "Updated configuration for the storedInfoType. If not provided, a new version of the storedInfoType will be created with the existing configuration.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        }
      }
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "description": "Replace each matching finding with the name of the info_type.",
      "properties": {},
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
      "type": "object"
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "properties": {
        "condition": {
[...]
