{
  "ownerName": "Google",
  "canonicalName": "DLP",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "schemas": {
    "GooglePrivacyDlpV2BigQueryTable": {
      "id": "GooglePrivacyDlpV2BigQueryTable",
      "type": "object",
      "description": "Message defining the location of a BigQuery table. A table is uniquely identified by its project_id, dataset_id, and table_name. Within a query a table is often referenced with a string in the format of: `:.` or `..`.",
      "properties": {
        "datasetId": {
          "description": "Dataset ID of the table.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The Google Cloud Platform project ID of the project containing the table. If omitted, project ID is inferred from the API call."
        },
        "tableId": {
          "type": "string",
          "description": "Name of the table."
        }
      }
    },
    "GooglePrivacyDlpV2StorageConfig": {
      "id": "GooglePrivacyDlpV2StorageConfig",
      "description": "Shared message indicating Cloud storage type.",
      "properties": {
        "datastoreOptions": {
          "description": "Google Cloud Datastore options.",
          "$ref": "GooglePrivacyDlpV2DatastoreOptions"
        },
        "bigQueryOptions": {
          "description": "BigQuery options.",
          "$ref": "GooglePrivacyDlpV2BigQueryOptions"
        },
        "timespanConfig": {
          "$ref": "GooglePrivacyDlpV2TimespanConfig"
        },
        "cloudStorageOptions": {
          "description": "Google Cloud Storage options.",
          "$ref": "GooglePrivacyDlpV2CloudStorageOptions"
        },
        "hybridOptions": {
          "description": "Hybrid inspection options.",
          "$ref": "GooglePrivacyDlpV2HybridOptions"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2JobTrigger": {
      "id": "GooglePrivacyDlpV2JobTrigger",
      "description": "Contains a configuration to make dlp api calls on a repeating basis. See https://cloud.google.com/dlp/docs/concepts-job-triggers to learn more.",
      "type": "object",
      "properties": {
        "triggers": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Trigger"
          },
          "description": "A list of triggers which will be OR'ed together. Only one in the list needs to trigger for a job to be started. The list may contain only a single Schedule trigger and must have at least one object.",
          "type": "array"
        },
        "errors": {
          "description": "Output only. A stream of errors encountered when the trigger was activated. Repeated errors may result in the JobTrigger automatically being paused. Will return the last 100 errors. Whenever the JobTrigger is modified this list will be cleared.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "User provided description (max 256 chars)"
        },
        "inspectJob": {
          "description": "For inspect jobs, a snapshot of the configuration.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Trigger is healthy.",
            "Trigger is temporarily paused.",
            "Trigger is cancelled and can not be resumed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "HEALTHY",
            "PAUSED",
            "CANCELLED"
          ],
          "description": "Required. A status for this trigger."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation timestamp of a triggeredJob.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of a triggeredJob."
        },
        "displayName": {
          "description": "Display name (max 100 chars)",
          "type": "string"
        },
        "name": {
          "description": "Unique resource name for the triggeredJob, assigned by the service when the triggeredJob is created, for example `projects/dlp-test-project/jobTriggers/53234423`.",
          "type": "string"
        },
        "lastRunTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp of the last time this trigger executed.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2StoredInfoTypeVersion": {
      "type": "object",
      "id": "GooglePrivacyDlpV2StoredInfoTypeVersion",
      "description": "Version of a StoredInfoType, including the configuration used to build it, create timestamp, and current state.",
      "properties": {
        "config": {
          "description": "StoredInfoType configuration.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        },
        "state": {
          "enumDescriptions": [
            "Unused",
            "StoredInfoType version is being created.",
            "StoredInfoType version is ready for use.",
            "StoredInfoType creation failed. All relevant error messages are returned in the `StoredInfoTypeVersion` message.",
            "StoredInfoType is no longer valid because artifacts stored in user-controlled storage were modified. To fix an invalid StoredInfoType, use the `UpdateStoredInfoType` method to create a new version."
          ],
          "description": "Stored info type version state. Read-only, updated by the system during dictionary creation.",
          "type": "string",
          "enum": [
            "STORED_INFO_TYPE_STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FAILED",
            "INVALID"
          ]
        },
        "stats": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeStats",
          "description": "Statistics about this storedInfoType version."
        },
        "errors": {
          "description": "Errors that occurred when creating this storedInfoType version, or anomalies detected in the storedInfoType data that render it unusable. Only the five most recent errors will be displayed, with the most recent error appearing first. For example, some of the data for stored custom dictionaries is put in the user's Google Cloud Storage bucket, and if this data is modified or deleted by the user or another system, the dictionary becomes invalid. If any errors occur, fix the problem indicated by the error message and use the UpdateStoredInfoType API method to create another version of the storedInfoType to continue using it, reusing the same `config` if it was not the source of the error.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Create timestamp of the version. Read-only, determined by the system when the version is created."
        }
      }
    },
    "GooglePrivacyDlpV2TableOptions": {
      "description": "Instructions regarding the table content being inspected.",
      "id": "GooglePrivacyDlpV2TableOptions",
      "type": "object",
      "properties": {
        "identifyingFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "The columns that are the primary keys for table objects included in ContentItem. A copy of this cell's value will stored alongside alongside each finding so that the finding can be traced to the specific row it came from. No more than 3 may be provided.",
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2DocumentLocation": {
      "type": "object",
      "description": "Location of a finding within a document.",
      "properties": {
        "fileOffset": {
          "format": "int64",
          "description": "Offset of the line, from the beginning of the file, where the finding is located.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2DocumentLocation"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "type": "object",
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          },
          "description": "The intervals [min_probability, max_probability) do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_probability: 0, max_probability: 0.1, frequency: 17} {min_probability: 0.2, max_probability: 0.3, frequency: 42} {min_probability: 0.3, max_probability: 0.4, frequency: 99} mean that there are no record with an estimated probability in [0.1, 0.2) nor larger or equal to 0.4.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
      "description": "Result of the δ-presence computation. Note that these results are an estimation, not exact values."
    },
    "GooglePrivacyDlpV2StoredInfoTypeStats": {
      "description": "Statistics for a StoredInfoType.",
      "properties": {
        "largeCustomDictionary": {
          "description": "StoredInfoType where findings are defined by a dictionary of phrases.",
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryStats"
        }
      },
      "id": "GooglePrivacyDlpV2StoredInfoTypeStats",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectContentRequest": {
      "type": "object",
      "description": "Request to search for potentially sensitive info in a ContentItem.",
      "properties": {
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector. What specified here will override the template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "item": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      },
      "id": "GooglePrivacyDlpV2InspectContentRequest"
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
      "description": "Replace each matching finding with the name of the info_type.",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "properties": {
        "transformationErrorHandling": {
          "description": "Mode for handling transformation errors. If left unspecified, the default mode is `TransformationErrorHandling.ThrowError`.",
          "$ref": "GooglePrivacyDlpV2TransformationErrorHandling"
        },
        "recordTransformations": {
          "description": "Treat the dataset as structured. Transformations can be applied to specific locations within structured datasets, such as transforming a column within a table.",
          "$ref": "GooglePrivacyDlpV2RecordTransformations"
        },
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations",
          "description": "Treat the dataset as free-form text and apply the same free text transformation everywhere."
        }
      },
      "description": "The configuration that controls how the data will change.",
      "id": "GooglePrivacyDlpV2DeidentifyConfig",
      "type": "object"
    },
    "GooglePrivacyDlpV2OtherInfoTypeSummary": {
      "type": "object",
      "properties": {
        "estimatedPrevalence": {
          "description": "Approximate percentage of non-null rows that contained data detected by this infotype.",
          "format": "int32",
          "type": "integer"
        },
        "infoType": {
          "description": "The other infoType.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "description": "Infotype details for other infoTypes found within a column.",
      "id": "GooglePrivacyDlpV2OtherInfoTypeSummary"
    },
    "GooglePrivacyDlpV2DataProfileConfigSnapshot": {
      "id": "GooglePrivacyDlpV2DataProfileConfigSnapshot",
      "properties": {
        "dataProfileJob": {
          "description": "A copy of the configuration used to generate this profile.",
          "$ref": "GooglePrivacyDlpV2DataProfileJobConfig"
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "A copy of the inspection config used to generate this profile. This is a copy of the inspect_template specified in `DataProfileJobConfig`."
        }
      },
      "type": "object",
      "description": "Snapshot of the configurations used to generate the profile."
    },
    "GooglePrivacyDlpV2Expressions": {
      "id": "GooglePrivacyDlpV2Expressions",
      "description": "An expression, consisting or an operator and conditions.",
      "type": "object",
      "properties": {
        "conditions": {
          "$ref": "GooglePrivacyDlpV2Conditions",
          "description": "Conditions to apply to the expression."
        },
        "logicalOperator": {
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ],
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "type": "string",
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2ListDlpJobsResponse": {
      "properties": {
        "jobs": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DlpJob"
          },
          "type": "array",
          "description": "A list of DlpJobs that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2ListDlpJobsResponse",
      "description": "The response message for listing DLP jobs."
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "type": "object",
      "description": "Message representing a set of files in Cloud Storage.",
      "properties": {
        "url": {
          "description": "The url, in the format `gs:///`. Trailing wildcard in the path is allowed.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageFileSet"
    },
    "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated.",
          "type": "string"
        },
        "deidentifyTemplate": {
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate",
          "description": "New DeidentifyTemplate value."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest",
      "description": "Request message for UpdateDeidentifyTemplate."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GooglePrivacyDlpV2UpdateInspectTemplateRequest": {
      "description": "Request message for UpdateInspectTemplate.",
      "id": "GooglePrivacyDlpV2UpdateInspectTemplateRequest",
      "type": "object",
      "properties": {
        "inspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "New InspectTemplate value."
        },
        "updateMask": {
          "type": "string",
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask"
        }
      }
    },
    "GooglePrivacyDlpV2Regex": {
      "properties": {
        "groupIndexes": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The index of the submatch to extract as findings. When not specified, the entire match is returned. No more than 3 may be included."
        },
        "pattern": {
          "type": "string",
          "description": "Pattern defining the regular expression. Its syntax (https://github.com/google/re2/wiki/Syntax) can be found under the google/re2 repository on GitHub."
        }
      },
      "id": "GooglePrivacyDlpV2Regex",
      "type": "object",
      "description": "Message defining a custom regular expression."
    },
    "GooglePrivacyDlpV2InspectionRuleSet": {
      "id": "GooglePrivacyDlpV2InspectionRuleSet",
      "properties": {
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "description": "List of infoTypes this rule set is applied to."
        },
        "rules": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRule"
          },
          "description": "Set of rules to be applied to infoTypes. The rules are applied in order.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Rule set for modifying a set of infoTypes to alter behavior under certain circumstances, depending on the specific details of the rules within the set."
    },
    "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest": {
      "type": "object",
      "properties": {
        "deidentifyTemplate": {
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate",
          "description": "Required. The DeidentifyTemplate to create."
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "templateId": {
          "type": "string",
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        }
      },
      "id": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest",
      "description": "Request message for CreateDeidentifyTemplate."
    },
    "GooglePrivacyDlpV2Manual": {
      "properties": {},
      "type": "object",
      "id": "GooglePrivacyDlpV2Manual",
      "description": "Job trigger option for hybrid jobs. Jobs must be manually created and finished."
    },
    "GooglePrivacyDlpV2TimePartConfig": {
      "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a portion of the value.",
      "properties": {
        "partToExtract": {
          "enum": [
            "TIME_PART_UNSPECIFIED",
            "YEAR",
            "MONTH",
            "DAY_OF_MONTH",
            "DAY_OF_WEEK",
            "WEEK_OF_YEAR",
            "HOUR_OF_DAY"
          ],
          "type": "string",
          "description": "The part of the time to keep.",
          "enumDescriptions": [
            "Unused",
            "[0-9999]",
            "[1-12]",
            "[1-31]",
            "[1-7]",
            "[1-53]",
            "[0-23]"
          ]
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2TimePartConfig"
    },
    "GooglePrivacyDlpV2HybridInspectJobTriggerRequest": {
      "properties": {
        "hybridItem": {
          "$ref": "GooglePrivacyDlpV2HybridContentItem",
          "description": "The item to inspect."
        }
      },
      "id": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest",
      "description": "Request to search for potentially sensitive info in a custom location.",
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridInspectDlpJobRequest": {
      "type": "object",
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      },
      "description": "Request to search for potentially sensitive info in a custom location.",
      "id": "GooglePrivacyDlpV2HybridInspectDlpJobRequest"
    },
    "GooglePrivacyDlpV2RecordTransformations": {
      "properties": {
        "fieldTransformations": {
          "type": "array",
          "description": "Transform the record by applying various field transformations.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          }
        },
        "recordSuppressions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2RecordSuppression"
          },
          "type": "array",
          "description": "Configuration defining which records get suppressed entirely. Records that match any suppression rule are omitted from the output."
        }
      },
      "id": "GooglePrivacyDlpV2RecordTransformations",
      "description": "A type of transformation that is applied over structured data such as a table.",
      "type": "object"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "type": "object",
      "description": "Result of a risk analysis operation request.",
      "properties": {
        "kAnonymityResult": {
          "description": "K-anonymity result",
          "$ref": "GooglePrivacyDlpV2KAnonymityResult"
        },
        "requestedSourceTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Input dataset to compute metrics over."
        },
        "requestedPrivacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        },
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult",
          "description": "Numerical stats result"
        },
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2LDiversityResult",
          "description": "L-divesity result"
        },
        "deltaPresenceEstimationResult": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
          "description": "Delta-presence result"
        },
        "kMapEstimationResult": {
          "description": "K-map result",
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult"
        },
        "categoricalStatsResult": {
          "description": "Categorical stats result",
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult"
        },
        "requestedOptions": {
          "$ref": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions",
          "description": "The configuration used for this job."
        }
      },
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "type": "object",
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to figure out that one given individual appears in a de-identified dataset. Similarly to the k-map metric, we cannot compute δ-presence exactly without knowing the attack dataset, so we use a statistical model instead.",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
      "properties": {
        "quasiIds": {
          "type": "array",
          "description": "Required. Fields considered to be quasi-identifiers. No two fields can have the same tag.",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          }
        },
        "auxiliaryTables": {
          "type": "array",
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers field must appear in exactly one field of one auxiliary table.",
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          }
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "properties": {
        "infoTypes": {
          "description": "InfoTypes to apply the transformation to. An empty list will cause this transformation to apply to all findings that correspond to infoTypes that were requested in `InspectConfig`.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "primitiveTransformation": {
          "description": "Required. Primitive transformation to apply to the infoType.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2InfoTypeTransformation",
      "description": "A transformation to apply to text that is identified as a specific info_type."
    },
    "GooglePrivacyDlpV2QuasiIdField": {
      "id": "GooglePrivacyDlpV2QuasiIdField",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column."
        },
        "customTag": {
          "description": "A auxiliary field.",
          "type": "string"
        }
      },
      "description": "A quasi-identifier column has a custom_tag, used to know which column in the data corresponds to which column in the statistical model.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "id": "GooglePrivacyDlpV2ImageLocation",
      "properties": {
        "boundingBoxes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          },
          "type": "array",
          "description": "Bounding boxes locating the pixels within the image containing the finding."
        }
      },
      "type": "object",
      "description": "Location of the finding within an image."
    },
    "GooglePrivacyDlpV2TransformationSummary": {
      "id": "GooglePrivacyDlpV2TransformationSummary",
      "description": "Summary of a single transformation. Only one of 'transformation', 'field_transformation', or 'record_suppress' will be set.",
      "type": "object",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Set if the transformation was limited to a specific InfoType."
        },
        "results": {
          "items": {
            "$ref": "GooglePrivacyDlpV2SummaryResult"
          },
          "type": "array",
          "description": "Collection of all transformations that took place or had an error."
        },
        "transformedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total size in bytes that were transformed in some way."
        },
        "fieldTransformations": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          },
          "description": "The field transformation that was applied. If multiple field transformations are requested for a single field, this list will contain all of them; otherwise, only one is supplied."
        },
        "field": {
          "description": "Set if the transformation was limited to a specific FieldId.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "recordSuppress": {
          "description": "The specific suppression option these stats apply to.",
          "$ref": "GooglePrivacyDlpV2RecordSuppression"
        },
        "transformation": {
          "description": "The specific transformation these stats apply to.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyContentRequest": {
      "id": "GooglePrivacyDlpV2DeidentifyContentRequest",
      "description": "Request to de-identify a list of items.",
      "type": "object",
      "properties": {
        "inspectTemplateName": {
          "type": "string",
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector. Items specified here will override the template referenced by the inspect_template_name argument."
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "deidentifyConfig": {
          "description": "Configuration for the de-identification of the content item. Items specified here will override the template referenced by the deidentify_template_name argument.",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "deidentifyTemplateName": {
          "type": "string",
          "description": "Template to use. Any configuration directly specified in deidentify_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        },
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The item to de-identify. Will be treated as text."
        }
      }
    },
    "GooglePrivacyDlpV2PubSubCondition": {
      "description": "A condition consisting of a value.",
      "type": "object",
      "properties": {
        "minimumRiskScore": {
          "description": "The minimum data risk score that triggers the condition.",
          "enum": [
            "PROFILE_SCORE_BUCKET_UNSPECIFIED",
            "HIGH",
            "MEDIUM_OR_HIGH"
          ],
          "enumDescriptions": [
            "Unused.",
            "High risk/sensitivity detected.",
            "Medium or high risk/sensitivity detected."
          ],
          "type": "string"
        },
        "minimumSensitivityScore": {
          "enumDescriptions": [
            "Unused.",
            "High risk/sensitivity detected.",
            "Medium or high risk/sensitivity detected."
          ],
          "description": "The minimum sensitivity level that triggers the condition.",
          "enum": [
            "PROFILE_SCORE_BUCKET_UNSPECIFIED",
            "HIGH",
            "MEDIUM_OR_HIGH"
          ],
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2PubSubCondition"
    },
    "GooglePrivacyDlpV2EntityId": {
      "type": "object",
      "id": "GooglePrivacyDlpV2EntityId",
      "description": "An entity in a dataset is a field or set of fields that correspond to a single person. For example, in medical records the `EntityId` might be a patient identifier, or for financial records it might be an account identifier. This message is used when generalizations or analysis must take into account that multiple rows correspond to the same entity.",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Composite key indicating which field contains the entity identifier."
        }
      }
    },
    "GooglePrivacyDlpV2DataProfileAction": {
      "id": "GooglePrivacyDlpV2DataProfileAction",
      "properties": {
        "exportData": {
          "$ref": "GooglePrivacyDlpV2Export",
          "description": "Export data profiles into a provided location."
        },
        "pubSubNotification": {
          "description": "Publish a message into the Pub/Sub topic.",
          "$ref": "GooglePrivacyDlpV2PubSubNotification"
        }
      },
      "type": "object",
      "description": "A task to execute when a data profile has been generated."
    },
    "GooglePrivacyDlpV2KMapEstimationConfig": {
      "properties": {
        "quasiIds": {
          "description": "Required. Fields considered to be quasi-identifiers. No two columns can have the same tag.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TaggedField"
          },
          "type": "array"
        },
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers column must appear in exactly one column of one auxiliary table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2AuxiliaryTable"
          }
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code.",
          "type": "string"
        }
      },
      "description": "Reidentifiability metric. This corresponds to a risk model similar to what is called \"journalist risk\" in the literature, except the attack dataset is statistically modeled instead of being perfectly known. This can be done using publicly available data (like the US Census), or using a custom statistical model (indicated as one or several BigQuery tables), or by extrapolating from the distribution of values in the input dataset.",
      "type": "object",
      "id": "GooglePrivacyDlpV2KMapEstimationConfig"
    },
    "GooglePrivacyDlpV2Result": {
      "properties": {
        "hybridStats": {
          "$ref": "GooglePrivacyDlpV2HybridInspectStatistics",
          "description": "Statistics related to the processing of hybrid inspect."
        },
        "totalEstimatedBytes": {
          "description": "Estimate of the number of bytes to process.",
          "type": "string",
          "format": "int64"
        },
        "infoTypeStats": {
          "description": "Statistics of how many instances of each info type were found during inspect job.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          },
          "type": "array"
        },
        "processedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total size in bytes that were processed."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2Result",
      "description": "All result fields mentioned below are updated while the job is processing."
    },
    "GooglePrivacyDlpV2KindExpression": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2KindExpression",
      "description": "A representation of a Datastore kind."
    },
    "GooglePrivacyDlpV2ListStoredInfoTypesResponse": {
      "type": "object",
      "description": "Response message for ListStoredInfoTypes.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then the next page token to be used in following ListStoredInfoTypes request."
        },
        "storedInfoTypes": {
          "description": "List of storedInfoTypes, up to page_size in ListStoredInfoTypesRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoType"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
    },
    "GooglePrivacyDlpV2Conditions": {
      "properties": {
        "conditions": {
          "type": "array",
          "description": "A collection of conditions.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          }
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2Conditions",
      "description": "A collection of conditions."
    },
    "GooglePrivacyDlpV2LDiversityHistogramBucket": {
      "properties": {
        "sensitiveValueFrequencyLowerBound": {
          "description": "Lower bound on the sensitive value frequencies of the equivalence classes in this bucket.",
          "type": "string",
          "format": "int64"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityEquivalenceClass"
          },
          "type": "array"
        },
        "bucketValueCount": {
          "format": "int64",
          "description": "Total number of distinct equivalence classes in this bucket.",
          "type": "string"
        },
        "bucketSize": {
          "format": "int64",
          "description": "Total number of equivalence classes in this bucket.",
          "type": "string"
        },
        "sensitiveValueFrequencyUpperBound": {
          "format": "int64",
          "type": "string",
          "description": "Upper bound on the sensitive value frequencies of the equivalence classes in this bucket."
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityHistogramBucket",
      "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
      "type": "object"
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          },
          "type": "array"
        }
      },
      "description": "Result of the l-diversity computation.",
      "type": "object",
      "id": "GooglePrivacyDlpV2LDiversityResult"
    },
    "GooglePrivacyDlpV2ValueFrequency": {
      "properties": {
        "count": {
          "description": "How many times the value is contained in the field.",
          "type": "string",
          "format": "int64"
        },
        "value": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "A value contained in the field in question."
        }
      },
      "type": "object",
      "description": "A value of a field, including its frequency.",
      "id": "GooglePrivacyDlpV2ValueFrequency"
    },
    "GooglePrivacyDlpV2ListInfoTypesResponse": {
      "properties": {
        "infoTypes": {
          "description": "Set of sensitive infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeDescription"
          }
        }
      },
      "description": "Response to the ListInfoTypes request.",
      "id": "GooglePrivacyDlpV2ListInfoTypesResponse",
      "type": "object"
    },
    "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse": {
      "properties": {
        "deidentifyTemplates": {
          "description": "List of deidentify templates, up to page_size in ListDeidentifyTemplatesRequest.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used in following ListDeidentifyTemplates request.",
          "type": "string"
        }
      },
      "description": "Response message for ListDeidentifyTemplates.",
      "type": "object",
      "id": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
    },
    "GooglePrivacyDlpV2RecordLocation": {
      "id": "GooglePrivacyDlpV2RecordLocation",
      "type": "object",
      "properties": {
        "tableLocation": {
          "description": "Location within a `ContentItem.Table`.",
          "$ref": "GooglePrivacyDlpV2TableLocation"
        },
        "recordKey": {
          "$ref": "GooglePrivacyDlpV2RecordKey",
          "description": "Key of the finding."
        },
        "fieldId": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Field id of the field containing the finding."
        }
      },
      "description": "Location of a finding within a row or record."
    },
    "GooglePrivacyDlpV2RecordCondition": {
      "id": "GooglePrivacyDlpV2RecordCondition",
      "type": "object",
      "properties": {
        "expressions": {
          "$ref": "GooglePrivacyDlpV2Expressions",
          "description": "An expression."
        }
      },
      "description": "A condition for determining whether a transformation should be applied to a field."
    },
    "GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "description": "A tuple of values for the quasi-identifier columns.",
      "id": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues",
      "type": "object",
      "properties": {
        "quasiIdsValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "type": "array",
          "description": "The quasi-identifier values."
        },
        "estimatedAnonymity": {
          "type": "string",
          "description": "The estimated anonymity for these quasi-identifier values.",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2RequestedOptions": {
      "description": "Snapshot of the inspection configuration.",
      "properties": {
        "jobConfig": {
          "description": "Inspect config.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "snapshotInspectTemplate": {
          "description": "If run with an InspectTemplate, a snapshot of its state at the time of this run.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        }
      },
      "id": "GooglePrivacyDlpV2RequestedOptions",
      "type": "object"
    },
    "GooglePrivacyDlpV2CreateDlpJobRequest": {
      "properties": {
        "riskJob": {
          "description": "A risk analysis job calculates re-identification risk metrics for a BigQuery table.",
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig"
        },
        "jobId": {
          "description": "The job id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "inspectJob": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig",
          "description": "An inspection job scans a storage repository for InfoTypes."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for CreateDlpJobRequest. Used to initiate long running jobs such as calculating risk metrics or inspecting Google Cloud Storage.",
      "id": "GooglePrivacyDlpV2CreateDlpJobRequest"
    },
    "GooglePrivacyDlpV2CategoricalStatsHistogramBucket": {
      "properties": {
        "bucketValues": {
          "type": "array",
          "description": "Sample of value frequencies in this bucket. The total number of values returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        },
        "valueFrequencyLowerBound": {
          "description": "Lower bound on the value frequency of the values in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of values in this bucket."
        },
        "valueFrequencyUpperBound": {
          "format": "int64",
          "type": "string",
          "description": "Upper bound on the value frequency of the values in this bucket."
        },
        "bucketValueCount": {
          "description": "Total number of distinct values in this bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Histogram of value frequencies in the column.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket"
    },
    "GooglePrivacyDlpV2FieldId": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name describing the field."
        }
      },
      "description": "General identifier of a data field in a storage service.",
      "id": "GooglePrivacyDlpV2FieldId",
      "type": "object"
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "id": "GooglePrivacyDlpV2ContentLocation",
      "description": "Precise location of the finding within a document, record, image, or metadata container.",
      "properties": {
        "recordLocation": {
          "$ref": "GooglePrivacyDlpV2RecordLocation",
          "description": "Location within a row or record of a database table."
        },
        "containerTimestamp": {
          "type": "string",
          "description": "Findings container modification timestamp, if applicable. For Google Cloud Storage contains last file modification timestamp. For BigQuery table contains last_modified_time property. For Datastore - not populated.",
          "format": "google-datetime"
        },
        "containerName": {
          "description": "Name of the container where the finding is located. The top level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs://{bucket}/{path}` * Datastore namespace: {namespace} Nested names could be absent if the embedded object has no string identifier (for an example an image contained within a document).",
          "type": "string"
        },
        "metadataLocation": {
          "description": "Location within the metadata for inspected content.",
          "$ref": "GooglePrivacyDlpV2MetadataLocation"
        },
        "imageLocation": {
          "description": "Location within an image's pixels.",
          "$ref": "GooglePrivacyDlpV2ImageLocation"
        },
        "documentLocation": {
          "$ref": "GooglePrivacyDlpV2DocumentLocation",
          "description": "Location data for document files."
        },
        "containerVersion": {
          "description": "Findings container version, if available (\"generation\" for Google Cloud Storage).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Proximity": {
      "type": "object",
      "description": "Message for specifying a window around a finding to apply a detection rule.",
      "properties": {
        "windowBefore": {
          "format": "int32",
          "description": "Number of characters before the finding to consider.",
          "type": "integer"
        },
        "windowAfter": {
          "description": "Number of characters after the finding to consider.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GooglePrivacyDlpV2Proximity"
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "description": "Deprecated; use `InspectionRuleSet` instead. Rule for modifying a `CustomInfoType` to alter behavior under certain circumstances, depending on the specific details of the rule. Not supported for the `surrogate_type` custom infoType.",
      "id": "GooglePrivacyDlpV2DetectionRule",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "$ref": "GooglePrivacyDlpV2HotwordRule",
          "description": "Hotword-based detection rule."
        }
      }
    },
    "GooglePrivacyDlpV2DlpJob": {
      "description": "Combines all of the information about a DLP job.",
      "id": "GooglePrivacyDlpV2DlpJob",
      "properties": {
        "startTime": {
          "description": "Time when the job started.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Time when the job was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Time when the job finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "description": "A stream of errors encountered running the job.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name."
        },
        "riskDetails": {
          "description": "Results from analyzing risk of a data source.",
          "$ref": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
        },
        "inspectDetails": {
          "$ref": "GooglePrivacyDlpV2InspectDataSourceDetails",
          "description": "Results from inspecting a data source."
        },
        "jobTriggerName": {
          "description": "If created by a job trigger, the resource name of the trigger that instantiated the job.",
          "type": "string"
        },
        "state": {
          "description": "State of a job.",
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "CANCELED",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Unused.",
            "The job has not yet started.",
            "The job is currently running. Once a job has finished it will transition to FAILED or DONE.",
            "The job is no longer running.",
            "The job was canceled before it could complete.",
            "The job had an error and did not complete.",
            "The job is currently accepting findings via hybridInspect. A hybrid job in ACTIVE state may continue to have findings added to it through calling of hybridInspect. After the job has finished no more calls to hybridInspect may be made. ACTIVE jobs can transition to DONE."
          ]
        },
        "type": {
          "enum": [
            "DLP_JOB_TYPE_UNSPECIFIED",
            "INSPECT_JOB",
            "RISK_ANALYSIS_JOB"
          ],
          "enumDescriptions": [
            "Defaults to INSPECT_JOB.",
            "The job inspected Google Cloud for sensitive data.",
            "The job executed a Risk Analysis computation."
          ],
          "description": "The type of job.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeTransformations": {
      "properties": {
        "transformations": {
          "type": "array",
          "description": "Required. Transformation for each infoType. Cannot specify more than one for a given infoType.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeTransformation"
          }
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2InfoTypeTransformations",
      "description": "A type of transformation that will scan unstructured text and apply various `PrimitiveTransformation`s to each finding, where the transformation is applied to only values that were identified as a specific info_type."
    },
    "GoogleTypeTimeOfDay": {
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "GoogleTypeTimeOfDay"
    },
    "GooglePrivacyDlpV2LDiversityConfig": {
      "id": "GooglePrivacyDlpV2LDiversityConfig",
      "properties": {
        "quasiIds": {
          "description": "Set of quasi-identifiers indicating how equivalence classes are defined for the l-diversity computation. When multiple fields are specified, they are considered a single composite key.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "sensitiveAttribute": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Sensitive field for computing the l-value."
        }
      },
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Range": {
      "id": "GooglePrivacyDlpV2Range",
      "type": "object",
      "description": "Generic half-open interval [start, end)",
      "properties": {
        "start": {
          "format": "int64",
          "type": "string",
          "description": "Index of the first character of the range (inclusive)."
        },
        "end": {
          "description": "Index of the last character of the range (exclusive).",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2TimeZone": {
      "description": "Time zone of the date time object.",
      "properties": {
        "offsetMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Set only if the offset can be determined. Positive for time ahead of UTC. E.g. For \"UTC-9\", this value is -540."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2TimeZone"
    },
    "GooglePrivacyDlpV2ListInspectTemplatesResponse": {
      "description": "Response message for ListInspectTemplates.",
      "id": "GooglePrivacyDlpV2ListInspectTemplatesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then the next page token to be used in following ListInspectTemplates request."
        },
        "inspectTemplates": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectTemplate"
          },
          "description": "List of inspectTemplates, up to page_size in ListInspectTemplatesRequest."
        }
      }
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "id": "GooglePrivacyDlpV2CharacterMaskConfig",
      "description": "Partially mask a string by replacing a given number of characters with a fixed character. Masking can start from the beginning or end of the string. This can be used on data of any type (numbers, longs, and so on) and when de-identifying structured data we'll attempt to preserve the original data's type. (This allows you to take a long like 123 and modify it to a string like **3.",
      "properties": {
        "reverseOrder": {
          "type": "boolean",
          "description": "Mask characters in reverse order. For example, if `masking_character` is `0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the input string `1234-5678-9012-3456` is masked as `00000000000000-3456`. If `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order` is `true`, then the string `12345` is masked as `12***`."
        },
        "numberToMask": {
          "type": "integer",
          "description": "Number of characters to mask. If not set, all matching chars will be masked. Skipped characters do not count towards this tally. If `number_to_mask` is negative, this denotes inverse masking. Cloud DLP masks all but a number of characters. For example, suppose you have the following values: - `masking_character` is `*` - `number_to_mask` is `-4` - `reverse_order` is `false` - `CharsToIgnore` includes `-` - Input string is `1234-5678-9012-3456` The resulting de-identified string is `****-****-****-3456`. Cloud DLP masks all but the last four characters. If `reverse_order` is `true`, all but the first four characters are masked as `1234-****-****-****`.",
          "format": "int32"
        },
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing characters. For example, if the input string is `555-555-5555` and you instruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP returns `***-**5-5555`.",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          },
          "type": "array"
        },
        "maskingCharacter": {
          "type": "string",
          "description": "Character to use to mask the sensitive values—for example, `*` for an alphabetic string such as a name, or `0` for a numeric string such as ZIP code or credit card number. This string must have a length of 1. If not supplied, this value defaults to `*` for strings, and `0` for digits."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DeidentifyTemplate": {
      "properties": {
        "deidentifyConfig": {
          "description": "The core content of the template.",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Short description (max 256 chars)."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`"
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "DeidentifyTemplates contains instructions on how to de-identify content. See https://cloud.google.com/dlp/docs/concepts-templates to learn more.",
      "id": "GooglePrivacyDlpV2DeidentifyTemplate"
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "properties": {
        "redactionColor": {
          "description": "The color to use when redacting content from an image. If not specified, the default is black.",
          "$ref": "GooglePrivacyDlpV2Color"
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an info_type, is redacted. Only one should be provided.",
          "type": "boolean"
        },
        "infoType": {
          "description": "Only one per info_type should be provided per request. If not specified, and redact_all_text is false, the DLP API will redact all text that it matches against all info_types that are found, but not specified in another ImageRedactionConfig.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "description": "Configuration for determining how redaction of images should occur.",
      "id": "GooglePrivacyDlpV2ImageRedactionConfig",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "type": "object",
      "properties": {
        "hotwordRule": {
          "$ref": "GooglePrivacyDlpV2HotwordRule",
          "description": "Hotword-based detection rule."
        },
        "exclusionRule": {
          "description": "Exclusion rule.",
          "$ref": "GooglePrivacyDlpV2ExclusionRule"
        }
      },
      "id": "GooglePrivacyDlpV2InspectionRule",
      "description": "A single inspection rule to be applied to infoTypes, specified in `InspectionRuleSet`."
    },
    "GooglePrivacyDlpV2Table": {
      "id": "GooglePrivacyDlpV2Table",
      "properties": {
        "headers": {
          "description": "Headers of the table.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array"
        },
        "rows": {
          "description": "Rows of the table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Row"
          }
        }
      },
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed. See https://cloud.google.com/dlp/docs/inspecting-structured-text#inspecting_a_table to learn more.",
      "type": "object"
    },
    "GooglePrivacyDlpV2OutputStorageConfig": {
      "description": "Cloud repository for storing output.",
      "id": "GooglePrivacyDlpV2OutputStorageConfig",
      "type": "object",
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Store findings in an existing table or a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific timezone will be used for generating the date details. For Inspect, each column in an existing output table must have the same name, type, and mode of a field in the `Finding` object. For Risk, an existing output table should be the output of a previous Risk analysis job run on the same source table, with the same privacy metric and quasi-identifiers. Risk jobs that analyze the same table but compute a different privacy metric, or use different sets of quasi-identifiers, cannot store their results in the same table."
        },
        "outputSchema": {
          "type": "string",
          "enum": [
            "OUTPUT_SCHEMA_UNSPECIFIED",
            "BASIC_COLUMNS",
            "GCS_COLUMNS",
            "DATASTORE_COLUMNS",
            "BIG_QUERY_COLUMNS",
            "ALL_COLUMNS"
          ],
          "enumDescriptions": [
            "Unused.",
            "Basic schema including only `info_type`, `quote`, `certainty`, and `timestamp`.",
            "Schema tailored to findings from scanning Google Cloud Storage.",
            "Schema tailored to findings from scanning Google Datastore.",
            "Schema tailored to findings from scanning Google BigQuery.",
            "Schema containing all columns."
          ],
          "description": "Schema used for writing the findings for Inspect jobs. This field is only used for Inspect and must be unspecified for Risk jobs. Columns are derived from the `Finding` object. If appending to an existing table, any columns from the predefined schema that are missing will be added. No columns in the existing table will be deleted. If unspecified, then all available columns will be used for a new table or an (existing) table with no schema, and no changes will be made to an existing table that has a schema. Only for use with external storage."
        }
      }
    },
    "GooglePrivacyDlpV2Export": {
      "properties": {
        "profileTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Store all table and column profiles in an existing table or a new table in an existing dataset. Each re-generation will result in a new row in BigQuery."
        }
      },
      "id": "GooglePrivacyDlpV2Export",
      "description": "If set, the detailed data profiles will be persisted to the location of your choice whenever updated.",
      "type": "object"
    },
    "GooglePrivacyDlpV2TableLocation": {
      "id": "GooglePrivacyDlpV2TableLocation",
      "properties": {
        "rowIndex": {
          "type": "string",
          "format": "int64",
          "description": "The zero-based index of the row where the finding is located. Only populated for resources that have a natural ordering, not BigQuery. In BigQuery, to identify the row a finding came from, populate BigQueryOptions.identifying_fields with your primary key column names and when you store the findings the value of those columns will be stored inside of Finding."
        }
      },
      "type": "object",
      "description": "Location of a finding within a table."
    },
    "GooglePrivacyDlpV2DataProfileLocation": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DataProfileLocation",
      "description": "The data that will be profiled.",
      "properties": {
        "organizationId": {
          "description": "The ID of an organization to scan.",
          "format": "int64",
          "type": "string"
        },
        "folderId": {
          "description": "The ID of the Folder within an organization to scan.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2TaggedField": {
      "properties": {
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data"
        },
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below).",
          "type": "string"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Identifies the column."
        }
      },
      "type": "object",
      "description": "A column with a semantic tag attached.",
      "id": "GooglePrivacyDlpV2TaggedField"
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "inspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "Required. The InspectTemplate to create."
        }
      },
      "description": "Request message for CreateInspectTemplate.",
      "type": "object"
    },
    "GooglePrivacyDlpV2TableDataProfile": {
      "id": "GooglePrivacyDlpV2TableDataProfile",
      "properties": {
        "configSnapshot": {
          "description": "The snapshot of the configurations used to generate the profile.",
          "$ref": "GooglePrivacyDlpV2DataProfileConfigSnapshot"
        },
        "otherInfoTypes": {
          "type": "array",
          "description": "Other infoTypes found in this table's data.",
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherInfoTypeSummary"
          }
        },
        "profileStatus": {
          "description": "Success or error status from the most recent profile generation attempt. May be empty if the profile is still being generated.",
          "$ref": "GooglePrivacyDlpV2ProfileStatus"
        },
        "tableId": {
          "type": "string",
          "description": "The BigQuery table ID."
        },
        "resourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels applied to the resource at the time the profile was generated.",
          "type": "object"
        },
        "datasetProjectId": {
          "type": "string",
          "description": "The GCP project ID that owns the BigQuery dataset."
        },
        "rowCount": {
          "type": "string",
          "description": "Number of rows in the table when the profile was generated.",
          "format": "int64"
        },
        "resourceVisibility": {
          "enum": [
            "RESOURCE_VISIBILITY_UNSPECIFIED",
            "RESOURCE_VISIBILITY_PUBLIC",
            "RESOURCE_VISIBILITY_RESTRICTED"
          ],
          "type": "string",
          "description": "How broadly a resource has been shared.",
          "enumDescriptions": [
            "Unused.",
            "Visible to any user.",
            "Visible only to specific users."
          ]
        },
        "profileLastGenerated": {
          "format": "google-datetime",
          "description": "The last time the profile was generated.",
          "type": "string"
        },
        "tableSizeBytes": {
          "description": "The size of the table when the profile was generated.",
          "type": "string",
          "format": "int64"
        },
        "predictedInfoTypes": {
          "type": "array",
          "description": "The infoTypes predicted from this table's data.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeSummary"
          }
        },
        "datasetId": {
          "description": "The BigQuery dataset ID.",
          "type": "string"
        },
        "datasetLocation": {
          "description": "The BigQuery location where the dataset's data is stored. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "lastModifiedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when this table was last modified"
        },
        "dataRiskLevel": {
          "$ref": "GooglePrivacyDlpV2DataRiskLevel",
          "description": "The data risk level of this table."
        },
        "state": {
          "description": "State of a profile.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The profile is currently running. Once a profile has finished it will transition to DONE.",
            "The profile is no longer generating. If profile_status.status.code is 0, the profile succeeded, otherwise, it failed."
          ]
        },
        "projectDataProfile": {
          "type": "string",
          "description": "The resource name to the project data profile for this table."
        },
        "name": {
          "type": "string",
          "description": "The name of the profile."
        },
        "failedColumnCount": {
          "description": "The number of columns skipped in the table because of an error.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the table was created."
        },
        "sensitivityScore": {
          "$ref": "GooglePrivacyDlpV2SensitivityScore",
          "description": "The sensitivity score of this table."
        },
        "fullResource": {
          "type": "string",
          "description": "The resource name of the table. https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "encryptionStatus": {
          "enumDescriptions": [
            "Unused.",
            "Google manages server-side encryption keys on your behalf.",
            "Customer provides the key."
          ],
          "description": "How the table is encrypted.",
          "type": "string",
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "ENCRYPTION_GOOGLE_MANAGED",
            "ENCRYPTION_CUSTOMER_MANAGED"
          ]
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time when this table expires."
        },
        "scannedColumnCount": {
          "description": "The number of columns profiled in the table.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The profile for a scanned table.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Error": {
      "description": "Details information about an error encountered during job execution or the results of an unsuccessful activation of the JobTrigger.",
      "properties": {
        "timestamps": {
          "description": "The times the error occurred.",
          "items": {
            "format": "google-datetime",
            "type": "string"
          },
          "type": "array"
        },
        "details": {
          "$ref": "GoogleRpcStatus",
          "description": "Detailed error codes and messages."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2Error"
    },
    "GooglePrivacyDlpV2Value": {
      "description": "Set of primitive values supported by the system. Note that for the purposes of inspection or transformation, the number of bytes considered to comprise a 'Value' is based on its representation as a UTF-8 encoded string. For example, if 'integer_value' is set to 123456789, the number of bytes would be counted as 9, even though an int64 only holds up to 8 bytes of data.",
      "properties": {
        "timestampValue": {
          "type": "string",
          "description": "timestamp",
          "format": "google-datetime"
        },
        "dateValue": {
          "description": "date",
          "$ref": "GoogleTypeDate"
        },
        "booleanValue": {
          "description": "boolean",
          "type": "boolean"
        },
        "dayOfWeekValue": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "description": "day of week",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "stringValue": {
          "description": "string",
          "type": "string"
        },
        "floatValue": {
          "description": "float",
          "format": "double",
          "type": "number"
        },
        "timeValue": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "time of day"
        },
        "integerValue": {
          "format": "int64",
          "description": "integer",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Value",
      "type": "object"
    },
    "GooglePrivacyDlpV2StorageMetadataLabel": {
      "id": "GooglePrivacyDlpV2StorageMetadataLabel",
      "description": "Storage metadata label to indicate which metadata entry contains findings.",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2CloudStorageOptions": {
      "properties": {
        "fileSet": {
          "description": "The set of one or more files to scan.",
          "$ref": "GooglePrivacyDlpV2FileSet"
        },
        "filesLimitPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Limits the number of files to scan to this percentage of the input FileSet. Number of files scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0."
        },
        "fileTypes": {
          "type": "array",
          "items": {
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "BINARY_FILE",
              "TEXT_FILE",
              "IMAGE",
              "WORD",
              "PDF",
              "AVRO",
              "CSV",
              "TSV",
              "POWERPOINT",
              "EXCEL"
            ],
            "enumDescriptions": [
              "Includes all files.",
              "Includes all file extensions not covered by another entry. Binary scanning attempts to convert the content of the file to utf_8 to scan the file. If you wish to avoid this fall back, specify one or more of the other FileType's in your storage scan.",
              "Included file extensions: asc,asp, aspx, brf, c, cc,cfm, cgi, cpp, csv, cxx, c++, cs, css, dart, dat, dot, eml,, epbub, ged, go, h, hh, hpp, hxx, h++, hs, html, htm, mkd, markdown, m, ml, mli, perl, pl, plist, pm, php, phtml, pht, properties, py, pyw, rb, rbw, rs, rss, rc, scala, sh, sql, swift, tex, shtml, shtm, xhtml, lhs, ics, ini, java, js, json, kix, kml, ocaml, md, txt, text, tsv, vb, vcard, vcs, wml, xcodeproj, xml, xsl, xsd, yml, yaml.",
              "Included file extensions: bmp, gif, jpg, jpeg, jpe, png. bytes_limit_per_file has no effect on image files. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'.",
              "Word files \u003e30 MB will be scanned as binary files. Included file extensions: docx, dotx, docm, dotm",
              "PDF files \u003e30 MB will be scanned as binary files. Included file extensions: pdf",
              "Included file extensions: avro",
              "Included file extensions: csv",
              "Included file extensions: tsv",
              "Powerpoint files \u003e30 MB will be scanned as binary files. Included file extensions: pptx, pptm, potx, potm, pot",
              "Excel files \u003e30 MB will be scanned as binary files. Included file extensions: xlsx, xlsm, xltx, xltm"
            ],
            "type": "string"
          },
          "description": "List of file type groups to include in the scan. If empty, all files are scanned and available data format processors are applied. In addition, the binary content of the selected files is always scanned as well. Images are scanned only as binary if the specified region does not support image inspection and no file_types were specified. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'."
        },
        "bytesLimitPerFilePercent": {
          "description": "Max percentage of bytes to scan from a file. The rest are omitted. The number of bytes scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of bytes_limit_per_file and bytes_limit_per_file_percent can be specified. Cannot be set if de-identification is requested.",
          "type": "integer",
          "format": "int32"
        },
        "bytesLimitPerFile": {
          "description": "Max number of bytes to scan from a file. If a scanned file's size is bigger than this value then the rest of the bytes are omitted. Only one of bytes_limit_per_file and bytes_limit_per_file_percent can be specified. Cannot be set if de-identification is requested.",
          "format": "int64",
          "type": "string"
        },
        "sampleMethod": {
          "type": "string",
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "enumDescriptions": [
            "",
            "Scan from the top (default).",
            "For each file larger than bytes_limit_per_file, randomly pick the offset to start scanning. The scanned bytes are contiguous."
          ]
        }
      },
      "description": "Options defining a file or a set of files within a Google Cloud Storage bucket.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CloudStorageOptions"
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "properties": {
        "rowsLimit": {
          "format": "int64",
          "description": "Max number of rows to scan. If the table has more rows than this value, the rest of the rows are omitted. If not set, or if set to 0, all rows will be scanned. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "type": "string"
        },
        "sampleMethod": {
          "enumDescriptions": [
            "",
            "Scan groups of rows in the order BigQuery provides (default). Multiple groups of rows may be scanned in parallel, so results may not appear in the same order the rows are read.",
            "Randomly pick groups of rows to scan."
          ],
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "type": "string"
        },
        "excludedFields": {
          "description": "References to fields excluded from scanning. This allows you to skip inspection of entire columns which you know have no findings.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "rowsLimitPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max percentage of rows to scan. The rest are omitted. The number of rows scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig."
        },
        "includedFields": {
          "description": "Limit scanning only to these fields.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "identifyingFields": {
          "description": "Table fields that may uniquely identify a row within the table. When `actions.saveFindings.outputConfig.table` is specified, the values of columns specified here are available in the output table under `location.content_locations.record_location.record_key.id_values`. Nested fields such as `person.birthdate.year` are allowed.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "tableReference": {
          "description": "Complete BigQuery table reference.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryOptions",
      "description": "Options defining BigQuery table and row identifiers."
    },
    "GooglePrivacyDlpV2SensitivityScore": {
      "description": "Score is a summary of all elements in the data profile. A higher number means more sensitive.",
      "properties": {
        "score": {
          "enumDescriptions": [
            "Unused.",
            "No sensitive information detected. Limited access.",
            "Medium risk - PII, potentially sensitive data, or fields with free-text data that are at higher risk of having intermittent sensitive data. Consider limiting access.",
            "High risk – SPII may be present. Exfiltration of data may lead to user data loss. Re-identification of users may be possible. Consider limiting usage and or removing SPII."
          ],
          "enum": [
            "SENSITIVITY_SCORE_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "description": "The score applied to the resource.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2SensitivityScore",
      "type": "object"
    },
    "GooglePrivacyDlpV2RedactImageResponse": {
      "id": "GooglePrivacyDlpV2RedactImageResponse",
      "type": "object",
      "description": "Results of redacting an image.",
      "properties": {
        "inspectResult": {
          "$ref": "GooglePrivacyDlpV2InspectResult",
          "description": "The findings. Populated when include_findings in the request is true."
        },
        "extractedText": {
          "description": "If an image was being inspected and the InspectConfig's include_quote was set to true, then this field will include all text, if any, that was found in the image.",
          "type": "string"
        },
        "redactedImage": {
          "type": "string",
          "format": "byte",
          "description": "The redacted image. The type will be the same as the original image."
        }
      }
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "description": "Message for detecting output from deidentification transformations such as [`CryptoReplaceFfxFpeConfig`](https://cloud.google.com/dlp/docs/reference/rest/v2/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig). These types of transformations are those that perform pseudonymization, thereby producing a \"surrogate\" as output. This should be used in conjunction with a field on the transformation such as `surrogate_info_type`. This CustomInfoType does not support the use of `detection_rules`.",
      "properties": {},
      "id": "GooglePrivacyDlpV2SurrogateType",
      "type": "object"
    },
    "GooglePrivacyDlpV2QuasiIdentifierField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column in the data corresponds to which column in the statistical model.",
      "id": "GooglePrivacyDlpV2QuasiIdentifierField",
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column."
        },
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "description": "StoredInfoType resource message that contains information about the current version and any pending updates.",
      "type": "object",
      "id": "GooglePrivacyDlpV2StoredInfoType",
      "properties": {
        "currentVersion": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion",
          "description": "Current version of the stored info type."
        },
        "pendingVersions": {
          "description": "Pending versions of the stored info type. Empty if no versions are pending.",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        }
      }
    },
    "GooglePrivacyDlpV2SaveFindings": {
      "type": "object",
      "id": "GooglePrivacyDlpV2SaveFindings",
      "properties": {
        "outputConfig": {
          "description": "Location to store findings outside of DLP.",
          "$ref": "GooglePrivacyDlpV2OutputStorageConfig"
        }
      },
      "description": "If set, the detailed findings will be persisted to the specified OutputStorageConfig. Only a single instance of this action can be specified. Compatible with: Inspect, Risk"
    },
    "GooglePrivacyDlpV2KMapEstimationResult": {
      "id": "GooglePrivacyDlpV2KMapEstimationResult",
      "properties": {
        "kMapEstimationHistogram": {
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_anonymity: 1, max_anonymity: 1, frequency: 17} {min_anonymity: 2, max_anonymity: 3, frequency: 42} {min_anonymity: 5, max_anonymity: 10, frequency: 99} mean that there are no record with an estimated anonymity of 4, 5, or larger than 10.",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
          },
          "type": "array"
        }
      },
      "description": "Result of the reidentifiability analysis. Note that these results are an estimation, not exact values.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues": {
      "description": "A tuple of values for the quasi-identifier columns.",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues",
      "type": "object",
      "properties": {
        "quasiIdsValues": {
          "description": "The quasi-identifier values.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        },
        "estimatedProbability": {
          "type": "number",
          "description": "The estimated probability that a given individual sharing these quasi-identifier values is in the dataset. This value, typically called δ, is the ratio between the number of records in the dataset with these quasi-identifier values, and the total number of individuals (inside *and* outside the dataset) with these quasi-identifier values. For example, if there are 15 individuals in the dataset who share the same quasi-identifier values, and an estimated 100 people in the entire population with these values, then δ is 0.15.",
          "format": "double"
        }
      }
    },
    "GooglePrivacyDlpV2CustomInfoType": {
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "CustomInfoType can either be a new infoType, or an extension of built-in infoType, when the name matches one of existing infoTypes and that infoType is specified in `InspectContent.info_types` field. Specifying the latter adds findings to the one detected by the system. If built-in info type is not specified in `InspectContent.info_types` list then the name is treated as a custom info type."
        },
        "detectionRules": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DetectionRule"
          },
          "description": "Set of detection rules to apply to all findings of this CustomInfoType. Rules are applied in order that they are specified. Not supported for the `surrogate_type` CustomInfoType.",
          "type": "array"
        },
        "likelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "type": "string",
          "description": "Likelihood to return for this CustomInfoType. This base value can be altered by a detection rule if the finding meets the criteria specified by the rule. Defaults to `VERY_LIKELY` if not specified."
        },
        "exclusionType": {
          "enum": [
            "EXCLUSION_TYPE_UNSPECIFIED",
            "EXCLUSION_TYPE_EXCLUDE"
          ],
          "enumDescriptions": [
            "A finding of this custom info type will not be excluded from results.",
            "A finding of this custom info type will be excluded from final results, but can still affect rule execution."
          ],
          "type": "string",
          "description": "If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding to be returned. It still can be used for rules matching."
        },
        "storedType": {
          "description": "Load an existing `StoredInfoType` resource for use in `InspectDataSource`. Not currently supported in `InspectContent`.",
          "$ref": "GooglePrivacyDlpV2StoredType"
        },
        "regex": {
          "description": "Regular expression based CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "dictionary": {
          "$ref": "GooglePrivacyDlpV2Dictionary",
          "description": "A list of phrases to detect as a CustomInfoType."
        },
        "surrogateType": {
          "$ref": "GooglePrivacyDlpV2SurrogateType",
          "description": "Message for detecting output from deidentification transformations that support reversing."
        }
      },
      "id": "GooglePrivacyDlpV2CustomInfoType",
      "description": "Custom information type provided by the user. Used to find domain-specific sensitive information configurable to the data in question.",
      "type": "object"
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "properties": {
        "kmsWrapped": {
          "description": "Key wrapped using Cloud KMS",
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
        },
        "transient": {
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey",
          "description": "Transient crypto key"
        },
        "unwrapped": {
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey",
          "description": "Unwrapped crypto key"
        }
      },
      "description": "This is a data encryption key (DEK) (as opposed to a key encryption key (KEK) stored by Cloud Key Management Service (Cloud KMS). When using Cloud KMS to wrap or unwrap a DEK, be sure to set an appropriate IAM policy on the KEK to ensure an attacker cannot unwrap the DEK.",
      "id": "GooglePrivacyDlpV2CryptoKey",
      "type": "object"
    },
    "GooglePrivacyDlpV2DateTime": {
      "description": "Message for a date time object. e.g. 2018-01-01, 5th August.",
      "id": "GooglePrivacyDlpV2DateTime",
      "type": "object",
      "properties": {
        "date": {
          "description": "One or more of the following must be set. Must be a valid date or time value.",
          "$ref": "GoogleTypeDate"
        },
        "timeZone": {
          "$ref": "GooglePrivacyDlpV2TimeZone",
          "description": "Time zone"
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Time of day"
        },
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Day of week",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2FixedSizeBucketingConfig": {
      "properties": {
        "bucketSize": {
          "type": "number",
          "description": "Required. Size of each bucket (except for minimum and maximum buckets). So if `lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the following buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works.",
          "format": "double"
        },
        "upperBound": {
          "description": "Required. Upper bound value of buckets. All values greater than upper_bound are grouped together into a single bucket; for example if `upper_bound` = 89, then all values greater than 89 are replaced with the value \"89+\".",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "lowerBound": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Required. Lower bound value of buckets. All values less than `lower_bound` are grouped together into a single bucket; for example if `lower_bound` = 10, then all values less than 10 are replaced with the value \"-10\"."
        }
      },
      "description": "Buckets values based on fixed size ranges. The Bucketing transformation can provide all of this functionality, but requires more configuration. This message is provided as a convenience to the user for simple bucketing strategies. The transformed value will be a hyphenated string of {lower_bound}-{upper_bound}. For example, if lower_bound = 10 and upper_bound = 20, all values that are within this bucket will be replaced with \"10-20\". This can be used on data of type: double, long. If the bound Value type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/dlp/docs/concepts-bucketing to learn more.",
      "type": "object",
      "id": "GooglePrivacyDlpV2FixedSizeBucketingConfig"
    },
    "GooglePrivacyDlpV2InspectContentResponse": {
      "properties": {
        "result": {
          "description": "The findings.",
          "$ref": "GooglePrivacyDlpV2InspectResult"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2InspectContentResponse",
      "description": "Results of inspecting an item."
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryStats": {
      "description": "Summary statistics of a custom dictionary.",
      "type": "object",
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryStats",
      "properties": {
        "approxNumPhrases": {
          "format": "int64",
          "type": "string",
          "description": "Approximate number of distinct phrases in the dictionary."
        }
      }
    },
    "GooglePrivacyDlpV2Schedule": {
      "type": "object",
      "properties": {
        "recurrencePeriodDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "With this option a job is started a regular periodic basis. For example: every day (86400 seconds). A scheduled start time will be skipped if the previous execution has not ended when its scheduled time occurs. This value must be set to a time duration greater than or equal to 1 day and can be no longer than 60 days."
        }
      },
      "id": "GooglePrivacyDlpV2Schedule",
      "description": "Schedule for inspect job triggers."
    },
    "GooglePrivacyDlpV2RecordKey": {
      "properties": {
        "idValues": {
          "description": "Values of identifying columns in the given row. Order of values matches the order of `identifying_fields` specified in the scanning request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bigQueryKey": {
[...]
