{
  "rootUrl": "https://dlp.googleapis.com/",
  "documentationLink": "https://cloud.google.com/sensitive-data-protection/docs/",
  "basePath": "",
  "ownerName": "Google",
  "version_module": true,
  "revision": "20240609",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "canonicalName": "DLP",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "version": "v2",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "id": "dlp:v2",
  "title": "Sensitive Data Protection (DLP)",
  "name": "dlp",
  "baseUrl": "https://dlp.googleapis.com/",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "GooglePrivacyDlpV2RecordTransformation": {
      "properties": {
        "containerTimestamp": {
          "description": "Findings container modification timestamp, if applicable.",
          "type": "string",
          "format": "google-datetime"
        },
        "fieldId": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "For record transformations, provide a field."
        },
        "containerVersion": {
          "type": "string",
          "description": "Container version, if available (\"generation\" for Cloud Storage)."
        }
      },
      "id": "GooglePrivacyDlpV2RecordTransformation",
      "description": "The field in a record to transform.",
      "type": "object"
    },
    "GooglePrivacyDlpV2TimeZone": {
      "properties": {
        "offsetMinutes": {
          "description": "Set only if the offset can be determined. Positive for time ahead of UTC. E.g. For \"UTC-9\", this value is -540.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2TimeZone",
      "description": "Time zone of the date time object."
    },
    "GooglePrivacyDlpV2FieldId": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name describing the field."
        }
      },
      "description": "General identifier of a data field in a storage service.",
      "id": "GooglePrivacyDlpV2FieldId"
    },
    "GooglePrivacyDlpV2HybridInspectResponse": {
      "properties": {},
      "id": "GooglePrivacyDlpV2HybridInspectResponse",
      "description": "Quota exceeded errors will be thrown once quota has been met.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeidentifyContentRequest": {
      "properties": {
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The item to de-identify. Will be treated as text. This value must be of type Table if your deidentify_config is a RecordTransformations object."
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "deidentifyConfig": {
          "description": "Configuration for the de-identification of the content item. Items specified here will override the template referenced by the deidentify_template_name argument.",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        },
        "deidentifyTemplateName": {
          "description": "Template to use. Any configuration directly specified in deidentify_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector. Items specified here will override the template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        }
      },
      "description": "Request to de-identify a ContentItem.",
      "id": "GooglePrivacyDlpV2DeidentifyContentRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "type": "object",
      "description": "Options defining BigQuery table and row identifiers.",
      "id": "GooglePrivacyDlpV2BigQueryOptions",
      "properties": {
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Complete BigQuery table reference."
        },
        "includedFields": {
          "description": "Limit scanning only to these fields. When inspecting a table, we recommend that you inspect all columns. Otherwise, findings might be affected because hints from excluded columns will not be used.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "identifyingFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "Table fields that may uniquely identify a row within the table. When `actions.saveFindings.outputConfig.table` is specified, the values of columns specified here are available in the output table under `location.content_locations.record_location.record_key.id_values`. Nested fields such as `person.birthdate.year` are allowed."
        },
        "rowsLimitPercent": {
          "description": "Max percentage of rows to scan. The rest are omitted. The number of rows scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig. Caution: A [known issue](https://cloud.google.com/sensitive-data-protection/docs/known-issues#bq-sampling) is causing the `rowsLimitPercent` field to behave unexpectedly. We recommend using `rowsLimit` instead.",
          "type": "integer",
          "format": "int32"
        },
        "sampleMethod": {
          "enumDescriptions": [
            "No sampling.",
            "Scan groups of rows in the order BigQuery provides (default). Multiple groups of rows may be scanned in parallel, so results may not appear in the same order the rows are read.",
            "Randomly pick groups of rows to scan."
          ],
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "type": "string",
          "description": "How to sample the data."
        },
        "excludedFields": {
          "type": "array",
          "description": "References to fields excluded from scanning. This allows you to skip inspection of entire columns which you know have no findings. When inspecting a table, we recommend that you inspect all columns. Otherwise, findings might be affected because hints from excluded columns will not be used.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "rowsLimit": {
          "format": "int64",
          "type": "string",
          "description": "Max number of rows to scan. If the table has more rows than this value, the rest of the rows are omitted. If not set, or if set to 0, all rows will be scanned. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig."
        }
      }
    },
    "GooglePrivacyDlpV2InspectTemplate": {
      "description": "The inspectTemplate contains a configuration (set of types of sensitive data to be detected) to be used anywhere you otherwise would normally specify InspectConfig. See https://cloud.google.com/sensitive-data-protection/docs/concepts-templates to learn more.",
      "id": "GooglePrivacyDlpV2InspectTemplate",
      "properties": {
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "The core content of the template. Configuration of the scanning process."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/inspectTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/inspectTemplates/TEMPLATE_ID`;",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Short description (max 256 chars)."
        },
        "displayName": {
          "type": "string",
          "description": "Display name (max 256 chars)."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The Google Cloud Platform project ID of the project containing the table. If omitted, project ID is inferred from the API call."
        },
        "datasetId": {
          "type": "string",
          "description": "Dataset ID of the table."
        },
        "tableId": {
          "type": "string",
          "description": "Name of the table."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryTable",
      "description": "Message defining the location of a BigQuery table. A table is uniquely identified by its project_id, dataset_id, and table_name. Within a query a table is often referenced with a string in the format of: `:.` or `..`."
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "description": "Result of the l-diversity computation.",
      "id": "GooglePrivacyDlpV2LDiversityResult",
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          },
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Range": {
      "properties": {
        "start": {
          "description": "Index of the first character of the range (inclusive).",
          "format": "int64",
          "type": "string"
        },
        "end": {
          "description": "Index of the last character of the range (exclusive).",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2Range",
      "type": "object",
      "description": "Generic half-open interval [start, end)"
    },
    "GooglePrivacyDlpV2ActionDetails": {
      "description": "The results of an Action.",
      "id": "GooglePrivacyDlpV2ActionDetails",
      "type": "object",
      "properties": {
        "deidentifyDetails": {
          "$ref": "GooglePrivacyDlpV2DeidentifyDataSourceDetails",
          "description": "Outcome of a de-identification action."
        }
      }
    },
    "GooglePrivacyDlpV2Result": {
      "description": "All result fields mentioned below are updated while the job is processing.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Result",
      "properties": {
        "totalEstimatedBytes": {
          "type": "string",
          "description": "Estimate of the number of bytes to process.",
          "format": "int64"
        },
        "processedBytes": {
          "format": "int64",
          "description": "Total size in bytes that were processed.",
          "type": "string"
        },
        "infoTypeStats": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          },
          "type": "array",
          "description": "Statistics of how many instances of each info type were found during inspect job."
        },
        "hybridStats": {
          "$ref": "GooglePrivacyDlpV2HybridInspectStatistics",
          "description": "Statistics related to the processing of hybrid inspect."
        },
        "numRowsProcessed": {
          "format": "int64",
          "description": "Number of rows scanned after sampling and time filtering (applicable for row based stores such as BigQuery).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2DataProfileBigQueryRowSchema": {
      "id": "GooglePrivacyDlpV2DataProfileBigQueryRowSchema",
      "properties": {
        "tableProfile": {
          "$ref": "GooglePrivacyDlpV2TableDataProfile",
          "description": "Table data profile column"
        },
        "columnProfile": {
          "$ref": "GooglePrivacyDlpV2ColumnDataProfile",
          "description": "Column data profile column"
        }
      },
      "type": "object",
      "description": "The schema of data to be saved to the BigQuery table when the `DataProfileAction` is enabled."
    },
    "GooglePrivacyDlpV2ReplaceValueConfig": {
      "id": "GooglePrivacyDlpV2ReplaceValueConfig",
      "description": "Replace each input value with a given `Value`.",
      "properties": {
        "newValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to replace it with."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2PublishToStackdriver": {
      "id": "GooglePrivacyDlpV2PublishToStackdriver",
      "type": "object",
      "properties": {},
      "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count. This will publish a metric to stack driver on each infotype requested and how many findings were found for it. CustomDetectors will be bucketed as 'Custom' under the Stackdriver label 'info_type'."
    },
    "GooglePrivacyDlpV2LDiversityConfig": {
      "description": "l-diversity metric, used for analysis of reidentification risk.",
      "properties": {
        "sensitiveAttribute": {
          "description": "Sensitive field for computing the l-value.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "quasiIds": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "Set of quasi-identifiers indicating how equivalence classes are defined for the l-diversity computation. When multiple fields are specified, they are considered a single composite key.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2LDiversityConfig"
    },
    "GooglePrivacyDlpV2SecretsDiscoveryTarget": {
      "id": "GooglePrivacyDlpV2SecretsDiscoveryTarget",
      "type": "object",
      "description": "Discovery target for credentials and secrets in cloud resource metadata. This target does not include any filtering or frequency controls. Cloud DLP will scan cloud resource metadata for secrets daily. No inspect template should be included in the discovery config for a security benchmarks scan. Instead, the built-in list of secrets and credentials infoTypes will be used (see https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference#credentials_and_secrets). Credentials and secrets discovered will be reported as vulnerabilities to Security Command Center.",
      "properties": {}
    },
    "GooglePrivacyDlpV2PublishSummaryToCscc": {
      "type": "object",
      "properties": {},
      "description": "Publish the result summary of a DlpJob to [Security Command Center](https://cloud.google.com/security-command-center). This action is available for only projects that belong to an organization. This action publishes the count of finding instances and their infoTypes. The summary of findings are persisted in Security Command Center and are governed by [service-specific policies for Security Command Center](https://cloud.google.com/terms/service-terms). Only a single instance of this action can be specified. Compatible with: Inspect",
      "id": "GooglePrivacyDlpV2PublishSummaryToCscc"
    },
    "GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadence": {
      "properties": {
        "schemaModifiedCadence": {
          "$ref": "GooglePrivacyDlpV2SchemaModifiedCadence",
          "description": "When to reprofile if the schema has changed."
        },
        "refreshFrequency": {
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ],
          "type": "string",
          "description": "Data changes (non-schema changes) in Cloud SQL tables can't trigger reprofiling. If you set this field, profiles are refreshed at this frequency regardless of whether the underlying tables have changed. Defaults to never."
        }
      },
      "type": "object",
      "description": "How often existing tables should have their profiles refreshed. New tables are scanned as quickly as possible depending on system capacity.",
      "id": "GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadence"
    },
    "GooglePrivacyDlpV2ProjectDataProfile": {
      "id": "GooglePrivacyDlpV2ProjectDataProfile",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Project ID that was profiled."
        },
        "dataRiskLevel": {
          "$ref": "GooglePrivacyDlpV2DataRiskLevel",
          "description": "The data risk level of this project."
        },
        "sensitivityScore": {
          "description": "The sensitivity score of this project.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "profileLastGenerated": {
          "description": "The last time the profile was generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "profileStatus": {
          "description": "Success or error status of the last attempt to profile the project.",
          "$ref": "GooglePrivacyDlpV2ProfileStatus"
        },
        "name": {
          "description": "The resource name of the profile.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An aggregated profile for this project, based on the resources profiled within it."
    },
    "GooglePrivacyDlpV2HybridOptions": {
      "description": "Configuration to control jobs where the content being inspected is outside of Google Cloud Platform.",
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridOptions",
      "properties": {
        "requiredFindingLabelKeys": {
          "type": "array",
          "description": "These are labels that each inspection request must include within their 'finding_labels' map. Request may contain others, but any missing one of these will be rejected. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. No more than 10 keys can be required.",
          "items": {
            "type": "string"
          }
        },
        "tableOptions": {
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys.",
          "$ref": "GooglePrivacyDlpV2TableOptions"
        },
        "description": {
          "description": "A short description of where the data is coming from. Will be stored once in the job. 256 max length.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "To organize findings, these labels will be added to each finding. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
        }
      }
    },
    "GooglePrivacyDlpV2MetadataLocation": {
      "description": "Metadata Location",
      "id": "GooglePrivacyDlpV2MetadataLocation",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unused",
            "General file metadata provided by Cloud Storage."
          ],
          "description": "Type of metadata containing the finding.",
          "enum": [
            "METADATATYPE_UNSPECIFIED",
            "STORAGE_METADATA"
          ],
          "type": "string"
        },
        "storageLabel": {
          "$ref": "GooglePrivacyDlpV2StorageMetadataLabel",
          "description": "Storage metadata."
        }
      }
    },
    "GooglePrivacyDlpV2DatabaseResourceReference": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DatabaseResourceReference",
      "properties": {
        "database": {
          "type": "string",
          "description": "Required. Name of a database within the instance."
        },
        "projectId": {
          "type": "string",
          "description": "Required. If within a project-level config, then this must match the config's project ID."
        },
        "instance": {
          "type": "string",
          "description": "Required. The instance where this resource is located. For example: Cloud SQL instance ID."
        },
        "databaseResource": {
          "type": "string",
          "description": "Required. Name of a database resource, for example, a table within the database."
        }
      },
      "description": "Identifies a single database resource, like a table within a database."
    },
    "GooglePrivacyDlpV2TaggedField": {
      "type": "object",
      "properties": {
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below).",
          "type": "string"
        },
        "inferred": {
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data",
          "$ref": "GoogleProtobufEmpty"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter."
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Identifies the column."
        }
      },
      "description": "A column with a semantic tag attached.",
      "id": "GooglePrivacyDlpV2TaggedField"
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "id": "GooglePrivacyDlpV2InfoTypeTransformation",
      "type": "object",
      "properties": {
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "Required. Primitive transformation to apply to the infoType."
        },
        "infoTypes": {
          "type": "array",
          "description": "InfoTypes to apply the transformation to. An empty list will cause this transformation to apply to all findings that correspond to infoTypes that were requested in `InspectConfig`.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      },
      "description": "A transformation to apply to text that is identified as a specific info_type."
    },
    "GooglePrivacyDlpV2TableDataProfile": {
      "id": "GooglePrivacyDlpV2TableDataProfile",
      "properties": {
        "failedColumnCount": {
          "description": "The number of columns skipped in the table because of an error.",
          "type": "string",
          "format": "int64"
        },
        "resourceLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels applied to the resource at the time the profile was generated."
        },
        "projectDataProfile": {
          "type": "string",
          "description": "The resource name to the project data profile for this table."
        },
        "resourceVisibility": {
          "enum": [
            "RESOURCE_VISIBILITY_UNSPECIFIED",
            "RESOURCE_VISIBILITY_PUBLIC",
            "RESOURCE_VISIBILITY_INCONCLUSIVE",
            "RESOURCE_VISIBILITY_RESTRICTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Visible to any user.",
            "May contain public items. For example, if a Cloud Storage bucket has uniform bucket level access disabled, some objects inside it may be public.",
            "Visible only to specific users."
          ],
          "description": "How broadly a resource has been shared."
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The time when this table expires.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "The time at which the table was created.",
          "format": "google-datetime"
        },
        "lastModifiedTime": {
          "description": "The time when this table was last modified",
          "format": "google-datetime",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "If the resource is BigQuery, the dataset ID."
        },
        "name": {
          "description": "The name of the profile.",
          "type": "string"
        },
        "tableSizeBytes": {
          "description": "The size of the table when the profile was generated.",
          "format": "int64",
          "type": "string"
        },
        "dataRiskLevel": {
          "description": "The data risk level of this table.",
          "$ref": "GooglePrivacyDlpV2DataRiskLevel"
        },
        "profileStatus": {
          "$ref": "GooglePrivacyDlpV2ProfileStatus",
          "description": "Success or error status from the most recent profile generation attempt. May be empty if the profile is still being generated."
        },
        "sensitivityScore": {
          "$ref": "GooglePrivacyDlpV2SensitivityScore",
          "description": "The sensitivity score of this table."
        },
        "tableId": {
          "description": "If the resource is BigQuery, the BigQuery table ID.",
          "type": "string"
        },
        "predictedInfoTypes": {
          "description": "The infoTypes predicted from this table's data.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeSummary"
          }
        },
        "fullResource": {
          "type": "string",
          "description": "The resource name of the resource profiled. https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "otherInfoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherInfoTypeSummary"
          },
          "description": "Other infoTypes found in this table's data.",
          "type": "array"
        },
        "datasetProjectId": {
          "description": "The Google Cloud project ID that owns the resource.",
          "type": "string"
        },
        "dataSourceType": {
          "description": "The resource type that was profiled.",
          "$ref": "GooglePrivacyDlpV2DataSourceType"
        },
        "rowCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of rows in the table when the profile was generated. This will not be populated for BigLake tables."
        },
        "datasetLocation": {
          "type": "string",
          "description": "If supported, the location where the dataset's data is stored. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        },
        "state": {
          "enumDescriptions": [
            "Unused.",
            "The profile is currently running. Once a profile has finished it will transition to DONE.",
            "The profile is no longer generating. If profile_status.status.code is 0, the profile succeeded, otherwise, it failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "DONE"
          ],
          "description": "State of a profile.",
          "type": "string"
        },
        "profileLastGenerated": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time the profile was generated."
        },
        "scannedColumnCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of columns profiled in the table."
        },
        "configSnapshot": {
          "$ref": "GooglePrivacyDlpV2DataProfileConfigSnapshot",
          "description": "The snapshot of the configurations used to generate the profile."
        },
        "encryptionStatus": {
          "enumDescriptions": [
            "Unused.",
            "Google manages server-side encryption keys on your behalf.",
            "Customer provides the key."
          ],
          "description": "How the table is encrypted.",
          "type": "string",
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "ENCRYPTION_GOOGLE_MANAGED",
            "ENCRYPTION_CUSTOMER_MANAGED"
          ]
        }
      },
      "description": "The profile for a scanned table.",
      "type": "object"
    },
    "GooglePrivacyDlpV2PrivacyMetric": {
      "id": "GooglePrivacyDlpV2PrivacyMetric",
      "properties": {
        "deltaPresenceEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
          "description": "delta-presence"
        },
        "kMapEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationConfig",
          "description": "k-map"
        },
        "kAnonymityConfig": {
          "description": "K-anonymity",
          "$ref": "GooglePrivacyDlpV2KAnonymityConfig"
        },
        "categoricalStatsConfig": {
          "description": "Categorical stats",
          "$ref": "GooglePrivacyDlpV2CategoricalStatsConfig"
        },
        "numericalStatsConfig": {
          "description": "Numerical stats",
          "$ref": "GooglePrivacyDlpV2NumericalStatsConfig"
        },
        "lDiversityConfig": {
          "$ref": "GooglePrivacyDlpV2LDiversityConfig",
          "description": "l-diversity"
        }
      },
      "type": "object",
      "description": "Privacy metric to compute for reidentification risk analysis."
    },
    "GooglePrivacyDlpV2DataProfilePubSubCondition": {
      "description": "A condition for determining whether a Pub/Sub should be triggered.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DataProfilePubSubCondition",
      "properties": {
        "expressions": {
          "description": "An expression.",
          "$ref": "GooglePrivacyDlpV2PubSubExpressions"
        }
      }
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "properties": {
        "transformationErrorHandling": {
          "$ref": "GooglePrivacyDlpV2TransformationErrorHandling",
          "description": "Mode for handling transformation errors. If left unspecified, the default mode is `TransformationErrorHandling.ThrowError`."
        },
        "recordTransformations": {
          "description": "Treat the dataset as structured. Transformations can be applied to specific locations within structured datasets, such as transforming a column within a table.",
          "$ref": "GooglePrivacyDlpV2RecordTransformations"
        },
        "infoTypeTransformations": {
          "description": "Treat the dataset as free-form text and apply the same free text transformation everywhere.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "imageTransformations": {
          "$ref": "GooglePrivacyDlpV2ImageTransformations",
          "description": "Treat the dataset as an image and redact."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DeidentifyConfig",
      "description": "The configuration that controls how the data will change."
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "properties": {
        "dateTime": {
          "$ref": "GooglePrivacyDlpV2DateTime",
          "description": "The date time indicated by the quote."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2QuoteInfo",
      "description": "Message for infoType-dependent details parsed from quote."
    },
    "GooglePrivacyDlpV2ProfileStatus": {
      "properties": {
        "timestamp": {
          "description": "Time when the profile generation status was updated",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "description": "Profiling status code and optional message. The `status.code` value is 0 (default value) for OK.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GooglePrivacyDlpV2ProfileStatus",
      "type": "object",
      "description": "Success or errors for the profile generation."
    },
    "GooglePrivacyDlpV2UpdateDiscoveryConfigRequest": {
      "properties": {
        "discoveryConfig": {
          "description": "Required. New DiscoveryConfig value.",
          "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request message for UpdateDiscoveryConfig.",
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateDiscoveryConfigRequest"
    },
    "GooglePrivacyDlpV2TimespanConfig": {
      "properties": {
        "timestampField": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Specification of the field containing the timestamp of scanned items. Used for data sources like Datastore and BigQuery. *For BigQuery* If this value is not specified and the table was modified between the given start and end times, the entire table will be scanned. If this value is specified, then rows are filtered based on the given start and end times. Rows with a `NULL` value in the provided BigQuery column are skipped. Valid data types of the provided BigQuery column are: `INTEGER`, `DATE`, `TIMESTAMP`, and `DATETIME`. If your BigQuery table is [partitioned at ingestion time](https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time), you can use any of the following pseudo-columns as your timestamp field. When used with Cloud DLP, these pseudo-column names are case sensitive. - _PARTITIONTIME - _PARTITIONDATE - _PARTITION_LOAD_TIME *For Datastore* If this value is specified, then entities are filtered based on the given start and end times. If an entity does not contain the provided timestamp property or contains empty or invalid values, then it is included. Valid data types of the provided timestamp property are: `TIMESTAMP`. See the [known issue](https://cloud.google.com/sensitive-data-protection/docs/known-issues#bq-timespan) related to this operation."
        },
        "enableAutoPopulationOfTimespanConfig": {
          "type": "boolean",
          "description": "When the job is started by a JobTrigger we will automatically figure out a valid start_time to avoid scanning files that have not been modified since the last time the JobTrigger executed. This will be based on the time of the execution of the last run of the JobTrigger or the timespan end_time used in the last run of the JobTrigger. **For BigQuery** Inspect jobs triggered by automatic population will scan data that is at least three hours old when the job starts. This is because streaming buffer rows are not read during inspection and reading up to the current timestamp will result in skipped rows. See the [known issue](https://cloud.google.com/sensitive-data-protection/docs/known-issues#recently-streamed-data) related to this operation."
        },
        "endTime": {
          "description": "Exclude files, tables, or rows newer than this value. If not set, no upper time limit is applied.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Exclude files, tables, or rows older than this value. If not set, no lower time limit is applied.",
          "format": "google-datetime"
        }
      },
      "description": "Configuration of the timespan of the items to include in scanning. Currently only supported when inspecting Cloud Storage and BigQuery.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TimespanConfig"
    },
    "GooglePrivacyDlpV2PathElement": {
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "id": "GooglePrivacyDlpV2PathElement",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future."
        },
        "name": {
          "type": "string",
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`."
        }
      }
    },
    "GooglePrivacyDlpV2ListProjectDataProfilesResponse": {
      "description": "List of profiles generated for a given organization or project.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        },
        "projectDataProfiles": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ProjectDataProfile"
          },
          "description": "List of data profiles."
        }
      },
      "id": "GooglePrivacyDlpV2ListProjectDataProfilesResponse",
      "type": "object"
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "type": "object",
      "description": "The rule that adjusts the likelihood of findings within a certain proximity of hotwords.",
      "id": "GooglePrivacyDlpV2HotwordRule",
      "properties": {
        "hotwordRegex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression pattern defining what qualifies as a hotword."
        },
        "proximity": {
          "$ref": "GooglePrivacyDlpV2Proximity",
          "description": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The finding itself will be included in the window, so that hotwords can be used to match substrings of the finding itself. Suppose you want Cloud DLP to promote the likelihood of the phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" if the area code is known to be the area code of a company's office. In this case, use the hotword regex \"\\(xxx\\)\", where \"xxx\" is the area code in question. For tabular data, if you want to modify the likelihood of an entire column of findngs, see [Hotword example: Set the match likelihood of a table column] (https://cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes-likelihood#match-column-values)."
        },
        "likelihoodAdjustment": {
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment",
          "description": "Likelihood adjustment to apply to all matching findings."
        }
      }
    },
    "GooglePrivacyDlpV2DiscoveryGenerationCadence": {
      "properties": {
        "tableModifiedCadence": {
          "description": "Governs when to update data profiles when a table is modified.",
          "$ref": "GooglePrivacyDlpV2DiscoveryTableModifiedCadence"
        },
        "schemaModifiedCadence": {
          "$ref": "GooglePrivacyDlpV2DiscoverySchemaModifiedCadence",
          "description": "Governs when to update data profiles when a schema is modified."
        }
      },
      "description": "What must take place for a profile to be updated and how frequently it should occur. New tables are scanned as quickly as possible depending on system capacity.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DiscoveryGenerationCadence"
    },
    "GooglePrivacyDlpV2TableLocation": {
      "type": "object",
      "description": "Location of a finding within a table.",
      "id": "GooglePrivacyDlpV2TableLocation",
      "properties": {
        "rowIndex": {
          "format": "int64",
          "description": "The zero-based index of the row where the finding is located. Only populated for resources that have a natural ordering, not BigQuery. In BigQuery, to identify the row a finding came from, populate BigQueryOptions.identifying_fields with your primary key column names and when you store the findings the value of those columns will be stored inside of Finding.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2RequestedRiskAnalysisOptions": {
      "type": "object",
      "description": "Risk analysis options.",
      "id": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions",
      "properties": {
        "jobConfig": {
          "description": "The job config for the risk job.",
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig"
        }
      }
    },
    "GooglePrivacyDlpV2InfoType": {
      "id": "GooglePrivacyDlpV2InfoType",
      "type": "object",
      "description": "Type of information detected by the API.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$_-]{1,64}`."
        },
        "sensitivityScore": {
          "description": "Optional custom sensitivity for this InfoType. This only applies to data profiling.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "version": {
          "description": "Optional version name for this InfoType.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "properties": {
        "quasiIdsValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "The quasi-identifier values.",
          "type": "array"
        },
        "estimatedAnonymity": {
          "type": "string",
          "format": "int64",
          "description": "The estimated anonymity for these quasi-identifier values."
        }
      },
      "type": "object",
      "description": "A tuple of values for the quasi-identifier columns.",
      "id": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
    },
    "GooglePrivacyDlpV2JobTrigger": {
      "id": "GooglePrivacyDlpV2JobTrigger",
      "description": "Contains a configuration to make API calls on a repeating basis. See https://cloud.google.com/sensitive-data-protection/docs/concepts-job-triggers to learn more.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "User provided description (max 256 chars)"
        },
        "displayName": {
          "description": "Display name (max 100 chars)",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last update timestamp of a triggeredJob.",
          "type": "string"
        },
        "triggers": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Trigger"
          },
          "description": "A list of triggers which will be OR'ed together. Only one in the list needs to trigger for a job to be started. The list may contain only a single Schedule trigger and must have at least one object.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Unique resource name for the triggeredJob, assigned by the service when the triggeredJob is created, for example `projects/dlp-test-project/jobTriggers/53234423`."
        },
        "errors": {
          "description": "Output only. A stream of errors encountered when the trigger was activated. Repeated errors may result in the JobTrigger automatically being paused. Will return the last 100 errors. Whenever the JobTrigger is modified this list will be cleared.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "lastRunTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of the last time this trigger executed.",
          "type": "string",
          "format": "google-datetime"
        },
        "inspectJob": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig",
          "description": "For inspect jobs, a snapshot of the configuration."
        },
        "status": {
          "enumDescriptions": [
            "Unused.",
            "Trigger is healthy.",
            "Trigger is temporarily paused.",
            "Trigger is cancelled and can not be resumed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "HEALTHY",
            "PAUSED",
            "CANCELLED"
          ],
          "type": "string",
          "description": "Required. A status for this trigger."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The creation timestamp of a triggeredJob.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2CustomInfoType": {
      "id": "GooglePrivacyDlpV2CustomInfoType",
      "description": "Custom information type provided by the user. Used to find domain-specific sensitive information configurable to the data in question.",
      "type": "object",
      "properties": {
        "surrogateType": {
          "$ref": "GooglePrivacyDlpV2SurrogateType",
          "description": "Message for detecting output from deidentification transformations that support reversing."
        },
        "infoType": {
          "description": "CustomInfoType can either be a new infoType, or an extension of built-in infoType, when the name matches one of existing infoTypes and that infoType is specified in `InspectContent.info_types` field. Specifying the latter adds findings to the one detected by the system. If built-in info type is not specified in `InspectContent.info_types` list then the name is treated as a custom info type.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "sensitivityScore": {
          "description": "Sensitivity for this CustomInfoType. If this CustomInfoType extends an existing InfoType, the sensitivity here will take precedence over that of the original InfoType. If unset for a CustomInfoType, it will default to HIGH. This only applies to data profiling.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "likelihood": {
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "description": "Likelihood to return for this CustomInfoType. This base value can be altered by a detection rule if the finding meets the criteria specified by the rule. Defaults to `VERY_LIKELY` if not specified.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "storedType": {
          "description": "Load an existing `StoredInfoType` resource for use in `InspectDataSource`. Not currently supported in `InspectContent`.",
          "$ref": "GooglePrivacyDlpV2StoredType"
        },
        "dictionary": {
          "description": "A list of phrases to detect as a CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "exclusionType": {
          "enumDescriptions": [
            "A finding of this custom info type will not be excluded from results.",
            "A finding of this custom info type will be excluded from final results, but can still affect rule execution."
          ],
          "enum": [
            "EXCLUSION_TYPE_UNSPECIFIED",
            "EXCLUSION_TYPE_EXCLUDE"
          ],
          "description": "If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding to be returned. It still can be used for rules matching.",
          "type": "string"
        },
        "detectionRules": {
          "type": "array",
          "description": "Set of detection rules to apply to all findings of this CustomInfoType. Rules are applied in order that they are specified. Not supported for the `surrogate_type` CustomInfoType.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DetectionRule"
          }
        },
        "regex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression based CustomInfoType."
        }
      }
    },
    "GooglePrivacyDlpV2UpdateJobTriggerRequest": {
      "description": "Request message for UpdateJobTrigger.",
      "properties": {
        "jobTrigger": {
          "description": "New JobTrigger value.",
          "$ref": "GooglePrivacyDlpV2JobTrigger"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2UpdateJobTriggerRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransformationErrorHandling": {
      "id": "GooglePrivacyDlpV2TransformationErrorHandling",
      "type": "object",
      "description": "How to handle transformation errors during de-identification. A transformation error occurs when the requested transformation is incompatible with the data. For example, trying to de-identify an IP address using a `DateShift` transformation would result in a transformation error, since date info cannot be extracted from an IP address. Information about any incompatible transformations, and how they were handled, is returned in the response as part of the `TransformationOverviews`.",
      "properties": {
        "throwError": {
          "$ref": "GooglePrivacyDlpV2ThrowError",
          "description": "Throw an error"
        },
        "leaveUntransformed": {
          "$ref": "GooglePrivacyDlpV2LeaveUntransformed",
          "description": "Ignore errors"
        }
      }
    },
    "GooglePrivacyDlpV2OtherInfoTypeSummary": {
      "properties": {
        "estimatedPrevalence": {
          "description": "Approximate percentage of non-null rows that contained data detected by this infotype.",
          "type": "integer",
          "format": "int32"
        },
        "excludedFromAnalysis": {
          "description": "Whether this infoType was excluded from sensitivity and risk analysis due to factors such as low prevalence (subject to change).",
          "type": "boolean"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The other infoType."
        }
      },
      "id": "GooglePrivacyDlpV2OtherInfoTypeSummary",
      "type": "object",
      "description": "Infotype details for other infoTypes found within a column."
    },
    "GooglePrivacyDlpV2DiscoveryStartingLocation": {
      "type": "object",
      "properties": {
        "folderId": {
          "type": "string",
          "description": "The ID of the Folder within an organization to scan.",
          "format": "int64"
        },
        "organizationId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of an organization to scan."
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryStartingLocation",
      "description": "The location to begin a discovery scan. Denotes an organization ID or folder ID within an organization."
    },
    "GooglePrivacyDlpV2FindingLimits": {
      "description": "Configuration to control the number of findings returned for inspection. This is not used for de-identification or data profiling. When redacting sensitive data from images, finding limits don't apply. They can cause unexpected or inconsistent results, where only some data is redacted. Don't include finding limits in RedactImage requests. Otherwise, Cloud DLP returns an error.",
      "id": "GooglePrivacyDlpV2FindingLimits",
      "type": "object",
      "properties": {
        "maxFindingsPerItem": {
          "type": "integer",
          "format": "int32",
          "description": "Max number of findings that are returned for each item scanned. When set within an InspectContentRequest, this field is ignored. This value isn't a hard limit. If the number of findings for an item reaches this limit, the inspection of that item ends gradually, not abruptly. Therefore, the actual number of findings that Cloud DLP returns for the item can be multiple times higher than this value."
        },
        "maxFindingsPerInfoType": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLimit"
          },
          "description": "Configuration of findings limit given for specified infoTypes.",
          "type": "array"
        },
        "maxFindingsPerRequest": {
          "format": "int32",
          "type": "integer",
          "description": "Max number of findings that are returned per request or job. If you set this field in an InspectContentRequest, the resulting maximum value is the value that you set or 3,000, whichever is lower. This value isn't a hard limit. If an inspection reaches this limit, the inspection ends gradually, not abruptly. Therefore, the actual number of findings that Cloud DLP returns can be multiple times higher than this value."
        }
      }
    },
    "GooglePrivacyDlpV2TransformationDetails": {
      "description": "Details about a single transformation. This object contains a description of the transformation, information about whether the transformation was successfully applied, and the precise location where the transformation occurred. These details are stored in a user-specified BigQuery table.",
      "properties": {
        "containerName": {
          "type": "string",
          "description": "The top level name of the container where the transformation is located (this will be the source file name or table name)."
        },
        "transformationLocation": {
          "description": "The precise location of the transformed content in the original container.",
          "$ref": "GooglePrivacyDlpV2TransformationLocation"
        },
        "transformation": {
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationDescription"
          },
          "description": "Description of transformation. This would only contain more than one element if there were multiple matching transformations and which one to apply was ambiguous. Not set for states that contain no transformation, currently only state that contains no transformation is TransformationResultStateType.METADATA_UNRETRIEVABLE.",
          "type": "array"
        },
        "transformedBytes": {
          "format": "int64",
          "type": "string",
          "description": "The number of bytes that were transformed. If transformation was unsuccessful or did not take place because there was no content to transform, this will be zero."
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the job that completed the transformation."
        },
        "statusDetails": {
          "$ref": "GooglePrivacyDlpV2TransformationResultStatus",
          "description": "Status of the transformation, if transformation was not successful, this will specify what caused it to fail, otherwise it will show that the transformation was successful."
        }
      },
      "id": "GooglePrivacyDlpV2TransformationDetails",
      "type": "object"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "description": "Result of a risk analysis operation request.",
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
      "type": "object",
      "properties": {
        "kAnonymityResult": {
          "description": "K-anonymity result",
          "$ref": "GooglePrivacyDlpV2KAnonymityResult"
        },
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult",
          "description": "K-map result"
        },
        "requestedSourceTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Input dataset to compute metrics over."
        },
        "requestedPrivacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        },
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult",
          "description": "Categorical stats result"
        },
        "numericalStatsResult": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult",
          "description": "Numerical stats result"
        },
        "lDiversityResult": {
          "$ref": "GooglePrivacyDlpV2LDiversityResult",
          "description": "L-divesity result"
        },
        "requestedOptions": {
          "description": "The configuration used for this job.",
          "$ref": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions"
        },
        "deltaPresenceEstimationResult": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
          "description": "Delta-presence result"
        }
      }
    },
    "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated."
        },
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Updated configuration for the storedInfoType. If not provided, a new version of the storedInfoType will be created with the existing configuration."
        }
      },
      "description": "Request message for UpdateStoredInfoType.",
      "id": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GooglePrivacyDlpV2UpdateInspectTemplateRequest": {
      "properties": {
        "inspectTemplate": {
          "description": "New InspectTemplate value.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateInspectTemplateRequest",
      "description": "Request message for UpdateInspectTemplate."
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey",
      "type": "object",
      "description": "Using raw keys is prone to security risks due to accidentally leaking the key. Choose another type of key if possible.",
      "properties": {
        "key": {
          "format": "byte",
          "description": "Required. A 128/192/256 bit key.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2LeaveUntransformed": {
      "properties": {},
      "type": "object",
      "description": "Skips the data without modifying it if the requested transformation would cause an error. For example, if a `DateShift` transformation were applied an an IP address, this mode would leave the IP address unchanged in the response.",
      "id": "GooglePrivacyDlpV2LeaveUntransformed"
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "description": "Request to search for potentially sensitive info in an image and redact it by covering it with a colored rectangle.",
      "properties": {
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "The content must be PNG, JPEG, SVG or BMP."
        },
        "includeFindings": {
          "description": "Whether the response should include findings along with the redacted image.",
          "type": "boolean"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "imageRedactionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          },
          "description": "The configuration for specifying what content to redact from images."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "properties": {
        "redactionColor": {
          "$ref": "GooglePrivacyDlpV2Color",
          "description": "The color to use when redacting content from an image. If not specified, the default is black."
        },
        "redactAllText": {
          "type": "boolean",
          "description": "If true, all text found in the image, regardless whether it matches an info_type, is redacted. Only one should be provided."
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Only one per info_type should be provided per request. If not specified, and redact_all_text is false, the DLP API will redact all text that it matches against all info_types that are found, but not specified in another ImageRedactionConfig."
        }
      },
      "id": "GooglePrivacyDlpV2ImageRedactionConfig",
      "type": "object",
      "description": "Configuration for determining how redaction of images should occur."
    },
    "GooglePrivacyDlpV2Location": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Location",
      "description": "Specifies the location of the finding.",
      "properties": {
        "codepointRange": {
          "$ref": "GooglePrivacyDlpV2Range",
          "description": "Unicode character offsets delimiting the finding. These are relative to the finding's containing element. Provided when the content is text."
        },
        "contentLocations": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          },
          "description": "List of nested objects pointing to the precise location of the finding within the file or record."
        },
        "byteRange": {
          "description": "Zero-based byte offsets delimiting the finding. These are relative to the finding's containing element. Note that when the content is not textual, this references the UTF-8 encoded textual representation of the content. Omitted if content is an image.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "container": {
          "$ref": "GooglePrivacyDlpV2Container",
          "description": "Information about the container where this finding occurred, if available."
        }
      }
    },
    "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog": {
      "id": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog",
      "properties": {},
      "description": "Publish findings of a DlpJob to Data Catalog. In Data Catalog, tag templates are applied to the resource that Cloud DLP scanned. Data Catalog tag templates are stored in the same project and region where the BigQuery table exists. For Cloud DLP to create and apply the tag template, the Cloud DLP service agent must have the `roles/datacatalog.tagTemplateOwner` permission on the project. The tag template contains fields summarizing the results of the DlpJob. Any field values previously written by another DlpJob are deleted. InfoType naming patterns are strictly enforced when using this feature. Findings are persisted in Data Catalog storage and are governed by service-specific policies for Data Catalog. For more information, see [Service Specific Terms](https://cloud.google.com/terms/service-terms). Only a single instance of this action can be specified. This action is allowed only if all resources being scanned are BigQuery tables. Compatible with: Inspect",
      "type": "object"
    },
    "GooglePrivacyDlpV2Finding": {
      "description": "Represents a piece of potentially sensitive content.",
      "id": "GooglePrivacyDlpV2Finding",
      "type": "object",
      "properties": {
        "labels": {
          "description": "The labels associated with this `Finding`. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Timestamp when finding was detected.",
          "format": "google-datetime"
        },
        "triggerName": {
          "description": "Job trigger name, if applicable, for this finding.",
          "type": "string"
        },
        "quoteInfo": {
          "$ref": "GooglePrivacyDlpV2QuoteInfo",
          "description": "Contains data parsed from quotes. Only populated if include_quote was set to true and a supported infoType was requested. Currently supported infoTypes: DATE, DATE_OF_BIRTH and TIME."
        },
        "quote": {
          "type": "string",
          "description": "The content that was found. Even if the content is not textual, it may be converted to a textual representation here. Provided if `include_quote` is true and the finding is less than or equal to 4096 bytes long. If the finding exceeds 4096 bytes in length, the quote may be omitted."
        },
        "jobName": {
          "description": "The job that stored the finding.",
          "type": "string"
        },
        "location": {
          "description": "Where the content was found.",
          "$ref": "GooglePrivacyDlpV2Location"
        },
        "likelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Confidence of how likely it is that the `info_type` is correct."
        },
        "findingId": {
          "type": "string",
          "description": "The unique finding id."
        },
        "name": {
          "description": "Resource name in format projects/{project}/locations/{location}/findings/{finding} Populated only when viewing persisted findings.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The job that stored the finding."
        },
        "jobCreateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the job started that produced this finding."
        },
        "infoType": {
          "description": "The type of content that might have been found. Provided if `excluded_types` is false.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      }
    },
    "GooglePrivacyDlpV2InspectionRule": {
      "id": "GooglePrivacyDlpV2InspectionRule",
      "description": "A single inspection rule to be applied to infoTypes, specified in `InspectionRuleSet`.",
      "properties": {
        "exclusionRule": {
          "$ref": "GooglePrivacyDlpV2ExclusionRule",
          "description": "Exclusion rule."
        },
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryTableCollection": {
      "properties": {
        "includeRegexes": {
          "$ref": "GooglePrivacyDlpV2BigQueryRegexes",
          "description": "A collection of regular expressions to match a BigQuery table against."
        }
      },
      "id": "GooglePrivacyDlpV2BigQueryTableCollection",
      "description": "Specifies a collection of BigQuery tables. Used for Discovery.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DiscoveryBigQueryConditions": {
      "description": "Requirements that must be true before a table is scanned in discovery for the first time. There is an AND relationship between the top-level attributes. Additionally, minimum conditions with an OR relationship that must be met before Cloud DLP scans a table can be set (like a minimum row count or a minimum table age).",
      "id": "GooglePrivacyDlpV2DiscoveryBigQueryConditions",
      "properties": {
        "types": {
          "description": "Restrict discovery to specific table types.",
          "$ref": "GooglePrivacyDlpV2BigQueryTableTypes"
        },
        "orConditions": {
          "$ref": "GooglePrivacyDlpV2OrConditions",
          "description": "At least one of the conditions must be true for a table to be scanned."
        },
        "createdAfter": {
          "type": "string",
          "format": "google-datetime",
          "description": "BigQuery table must have been created after this date. Used to avoid backfilling."
        },
        "typeCollection": {
          "description": "Restrict discovery to categories of table types.",
          "enum": [
            "BIG_QUERY_COLLECTION_UNSPECIFIED",
            "BIG_QUERY_COLLECTION_ALL_TYPES",
            "BIG_QUERY_COLLECTION_ONLY_SUPPORTED_TYPES"
          ],
          "enumDescriptions": [
            "Unused.",
            "Automatically generate profiles for all tables, even if the table type is not yet fully supported for analysis. Profiles for unsupported tables will be generated with errors to indicate their partial support. When full support is added, the tables will automatically be profiled during the next scheduled run.",
            "Only those types fully supported will be profiled. Will expand automatically as Cloud DLP adds support for new table types. Unsupported table types will not have partial profiles generated."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest": {
      "description": "Request message for CreateDeidentifyTemplate.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest",
      "properties": {
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "deidentifyTemplate": {
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate",
          "description": "Required. The DeidentifyTemplate to create."
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        }
      }
    },
    "GooglePrivacyDlpV2PublishToPubSub": {
      "type": "object",
      "id": "GooglePrivacyDlpV2PublishToPubSub",
      "description": "Publish a message into a given Pub/Sub topic when DlpJob has completed. The message contains a single field, `DlpJobName`, which is equal to the finished job's [`DlpJob.name`](https://cloud.google.com/sensitive-data-protection/docs/reference/rest/v2/projects.dlpJobs#DlpJob). Compatible with: Inspect, Risk",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Cloud Pub/Sub topic to send notifications to. The topic must have given publishing access rights to the DLP API service account executing the long running DlpJob sending the notifications. Format is projects/{project}/topics/{topic}."
        }
      }
    },
    "GooglePrivacyDlpV2VersionDescription": {
      "description": "Details about each available version for an infotype.",
      "id": "GooglePrivacyDlpV2VersionDescription",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the version."
        },
        "version": {
          "description": "Name of the version",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2StoredInfoTypeStats": {
      "type": "object",
      "id": "GooglePrivacyDlpV2StoredInfoTypeStats",
      "description": "Statistics for a StoredInfoType.",
      "properties": {
        "largeCustomDictionary": {
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryStats",
          "description": "StoredInfoType where findings are defined by a dictionary of phrases."
        }
      }
    },
    "GooglePrivacyDlpV2AllText": {
      "description": "Apply to all text.",
      "type": "object",
      "id": "GooglePrivacyDlpV2AllText",
      "properties": {}
    },
    "GooglePrivacyDlpV2DiscoveryTableModifiedCadence": {
      "description": "The cadence at which to update data profiles when a table is modified.",
      "id": "GooglePrivacyDlpV2DiscoveryTableModifiedCadence",
      "type": "object",
      "properties": {
        "frequency": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "description": "How frequently data profiles can be updated when tables are modified. Defaults to never.",
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ]
        },
        "types": {
          "description": "The type of events to consider when deciding if the table has been modified and should have the profile updated. Defaults to MODIFIED_TIMESTAMP.",
          "type": "array",
          "items": {
            "enum": [
              "TABLE_MODIFICATION_UNSPECIFIED",
              "TABLE_MODIFIED_TIMESTAMP"
            ],
            "enumDescriptions": [
              "Unused.",
              "A table will be considered modified when the last_modified_time from BigQuery has been updated."
            ],
            "type": "string"
          }
        }
      }
    },
    "GooglePrivacyDlpV2ContentItem": {
      "properties": {
        "value": {
          "type": "string",
          "description": "String data to inspect or redact."
        },
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "Content data to inspect or redact. Replaces `type` and `data`."
        },
        "table": {
          "description": "Structured content for inspection. See https://cloud.google.com/sensitive-data-protection/docs/inspecting-text#inspecting_a_table to learn more.",
          "$ref": "GooglePrivacyDlpV2Table"
        }
      },
      "id": "GooglePrivacyDlpV2ContentItem",
      "description": "Type of content to inspect.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DiscoveryCloudSqlFilter": {
      "properties": {
        "databaseResourceReference": {
          "description": "The database resource to scan. Targets including this can only include one target (the target with this database resource reference).",
          "$ref": "GooglePrivacyDlpV2DatabaseResourceReference"
        },
        "collection": {
          "$ref": "GooglePrivacyDlpV2DatabaseResourceCollection",
          "description": "A specific set of database resources for this filter to apply to."
        },
        "others": {
          "$ref": "GooglePrivacyDlpV2AllOtherDatabaseResources",
          "description": "Catch-all. This should always be the last target in the list because anything above it will apply first. Should only appear once in a configuration. If none is specified, a default one will be added automatically."
        }
      },
      "description": "Determines what tables will have profiles generated within an organization or project. Includes the ability to filter by regular expression patterns on project ID, location, instance, database, and database resource name.",
      "id": "GooglePrivacyDlpV2DiscoveryCloudSqlFilter",
      "type": "object"
    },
    "GooglePrivacyDlpV2EntityId": {
      "type": "object",
      "description": "An entity in a dataset is a field or set of fields that correspond to a single person. For example, in medical records the `EntityId` might be a patient identifier, or for financial records it might be an account identifier. This message is used when generalizations or analysis must take into account that multiple rows correspond to the same entity.",
      "id": "GooglePrivacyDlpV2EntityId",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Composite key indicating which field contains the entity identifier."
        }
      }
    },
    "GooglePrivacyDlpV2TransformationDetailsStorageConfig": {
      "id": "GooglePrivacyDlpV2TransformationDetailsStorageConfig",
      "description": "Config for storing transformation details.",
      "type": "object",
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "The BigQuery table in which to store the output. This may be an existing table or in a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_transformation_details_yyyy_mm_dd_[dlp_job_id]. Pacific time zone will be used for generating the date details."
        }
      }
    },
    "GooglePrivacyDlpV2BigQueryRegexes": {
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryRegexes",
      "properties": {
        "patterns": {
          "description": "A single BigQuery regular expression pattern to match against one or more tables, datasets, or projects that contain BigQuery tables.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2BigQueryRegex"
          }
        }
      },
      "description": "A collection of regular expressions to determine what tables to match against."
    },
    "GooglePrivacyDlpV2Conditions": {
      "properties": {
        "conditions": {
          "type": "array",
          "description": "A collection of conditions.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Conditions",
      "type": "object",
      "description": "A collection of conditions."
    },
    "GooglePrivacyDlpV2StorageMetadataLabel": {
      "id": "GooglePrivacyDlpV2StorageMetadataLabel",
      "properties": {
        "key": {
          "type": "string",
          "description": "Label name."
        }
      },
      "type": "object",
      "description": "Storage metadata label to indicate which metadata entry contains findings."
    },
    "GoogleTypeTimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "seconds": {
          "format": "int32",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      },
      "type": "object",
      "id": "GoogleTypeTimeOfDay"
    },
    "GooglePrivacyDlpV2InfoTypeLimit": {
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Type of information the findings limit applies to. Only one limit per info_type should be provided. If InfoTypeLimit does not have an info_type, the DLP API applies the limit against all info_types that are found but not specified in another InfoTypeLimit."
        },
        "maxFindings": {
          "type": "integer",
          "format": "int32",
          "description": "Max findings limit for the given infoType."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2InfoTypeLimit",
      "description": "Max findings configuration per infoType, per content item or long running DlpJob."
    },
    "GooglePrivacyDlpV2CryptoDeterministicConfig": {
      "type": "object",
      "properties": {
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "A context may be used for higher security and maintaining referential integrity such that the same identifier in two different contexts will be given a distinct surrogate. The context is appended to plaintext value being encrypted. On decryption the provided context is validated against the value used during encryption. If a context was provided during encryption, same context must be provided during decryption as well. If the context is not set, plaintext would be used as is for encryption. If the context is set but: 1. there is no record present when transforming a given value or 2. the field is not present when transforming a given value, plaintext would be used as is for encryption. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and unstructured `ContentItem`s."
        },
        "cryptoKey": {
          "description": "The key used by the encryption function. For deterministic encryption using AES-SIV, the provided key is internally expanded to 64 bytes prior to use.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "surrogateInfoType": {
          "description": "The custom info type to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom info type followed by the number of characters comprising the surrogate. The following scheme defines the format: {info type name}({surrogate character count}):{surrogate} For example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom info type 'Surrogate'. This facilitates reversal of the surrogate when it occurs in free text. Note: For record transformations where the entire cell in a table is being transformed, surrogates are not mandatory. Surrogates are used to denote the location of the token and are necessary for re-identification in free form text. In order for inspection to work properly, the name of this info type must not occur naturally anywhere in your data; otherwise, inspection may either - reverse a surrogate that does not correspond to an actual identifier - be unable to parse the surrogate and result in an error Therefore, choose your custom info type name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "description": "Pseudonymization method that generates deterministic encryption for the given input. Outputs a base64 encoded representation of the encrypted output. Uses AES-SIV based on the RFC https://tools.ietf.org/html/rfc5297.",
      "id": "GooglePrivacyDlpV2CryptoDeterministicConfig"
    },
    "GooglePrivacyDlpV2Regex": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Regex",
      "description": "Message defining a custom regular expression.",
      "properties": {
        "groupIndexes": {
          "description": "The index of the submatch to extract as findings. When not specified, the entire match is returned. No more than 3 may be included.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "pattern": {
          "type": "string",
          "description": "Pattern defining the regular expression. Its syntax (https://github.com/google/re2/wiki/Syntax) can be found under the google/re2 repository on GitHub."
        }
      }
    },
    "GooglePrivacyDlpV2CancelDlpJobRequest": {
      "description": "The request message for canceling a DLP job.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2CancelDlpJobRequest"
    },
    "GooglePrivacyDlpV2Connection": {
      "type": "object",
      "description": "A data connection to allow DLP to profile data in locations that require additional configuration.",
      "id": "GooglePrivacyDlpV2Connection",
      "properties": {
        "state": {
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "MISSING_CREDENTIALS",
            "AVAILABLE",
            "ERROR"
          ],
          "description": "Required. The connection's state in its lifecycle.",
          "enumDescriptions": [
            "Unused",
            "DLP automatically created this connection during an initial scan, and it is awaiting full configuration by a user.",
            "A configured connection that has not encountered any errors.",
            "A configured connection that encountered errors during its last use. It will not be used again until it is set to AVAILABLE. If the resolution requires external action, then the client must send a request to set the status to AVAILABLE when the connection is ready for use. If the resolution doesn't require external action, then any changes to the connection properties will automatically mark it as AVAILABLE."
          ],
          "type": "string"
        },
        "cloudSql": {
          "description": "Connect to a Cloud SQL instance.",
          "$ref": "GooglePrivacyDlpV2CloudSqlProperties"
        },
        "name": {
          "description": "Output only. Name of the connection: `projects/{project}/locations/{location}/connections/{name}`.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "description": "Output only. Set if status == ERROR, to provide additional details. Will store the last 10 errors sorted with the most recent first.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2ReplaceDictionaryConfig": {
      "id": "GooglePrivacyDlpV2ReplaceDictionaryConfig",
      "type": "object",
      "description": "Replace each input value with a value randomly selected from the dictionary.",
      "properties": {
        "wordList": {
          "description": "A list of words to select from for random replacement. The [limits](https://cloud.google.com/sensitive-data-protection/limits) page contains details about the size limits of dictionaries.",
          "$ref": "GooglePrivacyDlpV2WordList"
        }
      }
    },
    "GooglePrivacyDlpV2ListConnectionsResponse": {
      "type": "object",
      "id": "GooglePrivacyDlpV2ListConnectionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. An empty value means there are no more results.",
          "type": "string"
        },
        "connections": {
          "description": "List of connections.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Connection"
          }
        }
      },
      "description": "Response message for ListConnections."
    },
    "GooglePrivacyDlpV2Color": {
      "id": "GooglePrivacyDlpV2Color",
      "properties": {
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        },
        "green": {
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Represents a color in the RGB color space.",
      "type": "object"
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "description": "StoredInfoType resource message that contains information about the current version and any pending updates.",
      "type": "object",
      "id": "GooglePrivacyDlpV2StoredInfoType",
      "properties": {
        "currentVersion": {
          "description": "Current version of the stored info type.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "pendingVersions": {
          "type": "array",
          "description": "Pending versions of the stored info type. Empty if no versions are pending.",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          }
        }
      }
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "type": "object",
      "description": "Location of the finding within an image.",
      "id": "GooglePrivacyDlpV2ImageLocation",
      "properties": {
        "boundingBoxes": {
          "description": "Bounding boxes locating the pixels within the image containing the finding.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          }
        }
      }
    },
    "GooglePrivacyDlpV2ImageTransformation": {
      "type": "object",
      "description": "Configuration for determining how redaction of images should occur.",
      "id": "GooglePrivacyDlpV2ImageTransformation",
      "properties": {
        "redactionColor": {
          "$ref": "GooglePrivacyDlpV2Color",
          "description": "The color to use when redacting content from an image. If not specified, the default is black."
        },
        "allText": {
          "$ref": "GooglePrivacyDlpV2AllText",
          "description": "Apply transformation to all text that doesn't match an infoType. Only one instance is allowed within the ImageTransformations message."
        },
        "selectedInfoTypes": {
          "$ref": "GooglePrivacyDlpV2SelectedInfoTypes",
          "description": "Apply transformation to the selected info_types."
        },
        "allInfoTypes": {
          "description": "Apply transformation to all findings not specified in other ImageTransformation's selected_info_types. Only one instance is allowed within the ImageTransformations message.",
          "$ref": "GooglePrivacyDlpV2AllInfoTypes"
        }
      }
    },
    "GooglePrivacyDlpV2KAnonymityEquivalenceClass": {
      "properties": {
        "equivalenceClassSize": {
          "format": "int64",
          "description": "Size of the equivalence class, for example number of rows with the above set of values.",
          "type": "string"
        },
        "quasiIdsValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "Set of values defining the equivalence class. One value per quasi-identifier column in the original KAnonymity metric message. The order is always the same as the original request."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2KAnonymityEquivalenceClass",
      "description": "The set of columns' values that share the same ldiversity value"
    },
    "GooglePrivacyDlpV2DiscoveryCloudSqlConditions": {
      "description": "Requirements that must be true before a table is profiled for the first time.",
      "id": "GooglePrivacyDlpV2DiscoveryCloudSqlConditions",
      "properties": {
        "databaseEngines": {
[...]
