{
  "revision": "20210723",
  "batchPath": "batch",
  "canonicalName": "DLP",
  "kind": "discovery#restDescription",
  "version": "v2",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "basePath": "",
  "protocol": "rest",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/dlp/docs/",
  "baseUrl": "https://dlp.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
  "servicePath": "",
  "title": "Cloud Data Loss Prevention (DLP) API",
  "id": "dlp:v2",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version_module": true,
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "name": "dlp",
  "schemas": {
    "GooglePrivacyDlpV2StorageConfig": {
      "id": "GooglePrivacyDlpV2StorageConfig",
      "description": "Shared message indicating Cloud storage type.",
      "type": "object",
      "properties": {
        "cloudStorageOptions": {
          "$ref": "GooglePrivacyDlpV2CloudStorageOptions",
          "description": "Google Cloud Storage options."
        },
        "hybridOptions": {
          "description": "Hybrid inspection options.",
          "$ref": "GooglePrivacyDlpV2HybridOptions"
        },
        "bigQueryOptions": {
          "$ref": "GooglePrivacyDlpV2BigQueryOptions",
          "description": "BigQuery options."
        },
        "datastoreOptions": {
          "description": "Google Cloud Datastore options.",
          "$ref": "GooglePrivacyDlpV2DatastoreOptions"
        },
        "timespanConfig": {
          "$ref": "GooglePrivacyDlpV2TimespanConfig"
        }
      }
    },
    "GooglePrivacyDlpV2CustomInfoType": {
      "id": "GooglePrivacyDlpV2CustomInfoType",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "CustomInfoType can either be a new infoType, or an extension of built-in infoType, when the name matches one of existing infoTypes and that infoType is specified in `InspectContent.info_types` field. Specifying the latter adds findings to the one detected by the system. If built-in info type is not specified in `InspectContent.info_types` list then the name is treated as a custom info type.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "surrogateType": {
          "$ref": "GooglePrivacyDlpV2SurrogateType",
          "description": "Message for detecting output from deidentification transformations that support reversing."
        },
        "regex": {
          "description": "Regular expression based CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "likelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "type": "string",
          "description": "Likelihood to return for this CustomInfoType. This base value can be altered by a detection rule if the finding meets the criteria specified by the rule. Defaults to `VERY_LIKELY` if not specified.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "storedType": {
          "description": "Load an existing `StoredInfoType` resource for use in `InspectDataSource`. Not currently supported in `InspectContent`.",
          "$ref": "GooglePrivacyDlpV2StoredType"
        },
        "detectionRules": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DetectionRule"
          },
          "type": "array",
          "description": "Set of detection rules to apply to all findings of this CustomInfoType. Rules are applied in order that they are specified. Not supported for the `surrogate_type` CustomInfoType."
        },
        "dictionary": {
          "$ref": "GooglePrivacyDlpV2Dictionary",
          "description": "A list of phrases to detect as a CustomInfoType."
        },
        "exclusionType": {
          "type": "string",
          "enumDescriptions": [
            "A finding of this custom info type will not be excluded from results.",
            "A finding of this custom info type will be excluded from final results, but can still affect rule execution."
          ],
          "description": "If set to EXCLUSION_TYPE_EXCLUDE this infoType will not cause a finding to be returned. It still can be used for rules matching.",
          "enum": [
            "EXCLUSION_TYPE_UNSPECIFIED",
            "EXCLUSION_TYPE_EXCLUDE"
          ]
        }
      },
      "description": "Custom information type provided by the user. Used to find domain-specific sensitive information configurable to the data in question."
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "type": "object",
      "properties": {
        "transient": {
          "description": "Transient crypto key",
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey"
        },
        "kmsWrapped": {
          "description": "Key wrapped using Cloud KMS",
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey"
        },
        "unwrapped": {
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey",
          "description": "Unwrapped crypto key"
        }
      },
      "description": "This is a data encryption key (DEK) (as opposed to a key encryption key (KEK) stored by Cloud Key Management Service (Cloud KMS). When using Cloud KMS to wrap or unwrap a DEK, be sure to set an appropriate IAM policy on the KEK to ensure an attacker cannot unwrap the DEK.",
      "id": "GooglePrivacyDlpV2CryptoKey"
    },
    "GooglePrivacyDlpV2CreateDlpJobRequest": {
      "id": "GooglePrivacyDlpV2CreateDlpJobRequest",
      "description": "Request message for CreateDlpJobRequest. Used to initiate long running jobs such as calculating risk metrics or inspecting Google Cloud Storage.",
      "properties": {
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "riskJob": {
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig",
          "description": "A risk analysis job calculates re-identification risk metrics for a BigQuery table."
        },
        "inspectJob": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig",
          "description": "An inspection job scans a storage repository for InfoTypes."
        },
        "jobId": {
          "description": "The job id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket": {
      "description": "A DeltaPresenceEstimationHistogramBucket message with the following values: min_probability: 0.1 max_probability: 0.2 frequency: 42 means that there are 42 records for which δ is in [0.1, 0.2). An important particular case is when min_probability = max_probability = 1: then, every individual who shares this quasi-identifier combination is in the dataset.",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket",
      "properties": {
        "bucketSize": {
          "type": "string",
          "description": "Number of records within these probability bounds.",
          "format": "int64"
        },
        "minProbability": {
          "description": "Between 0 and 1.",
          "type": "number",
          "format": "double"
        },
        "bucketValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
          },
          "type": "array",
          "description": "Sample of quasi-identifier tuple values in this bucket. The total number of classes returned per bucket is capped at 20."
        },
        "bucketValueCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of distinct quasi-identifier tuple values in this bucket."
        },
        "maxProbability": {
          "type": "number",
          "description": "Always greater than or equal to min_probability.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2StorageMetadataLabel": {
      "id": "GooglePrivacyDlpV2StorageMetadataLabel",
      "description": "Storage metadata label to indicate which metadata entry contains findings.",
      "properties": {
        "key": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2KmsWrappedCryptoKey": {
      "properties": {
        "cryptoKeyName": {
          "type": "string",
          "description": "Required. The resource name of the KMS CryptoKey to use for unwrapping."
        },
        "wrappedKey": {
          "format": "byte",
          "description": "Required. The wrapped data crypto key.",
          "type": "string"
        }
      },
      "description": "Include to use an existing data crypto key wrapped by KMS. The wrapped key must be a 128-, 192-, or 256-bit key. Authorization requires the following IAM permissions when sending a request to perform a crypto transformation using a KMS-wrapped crypto key: dlp.kms.encrypt For more information, see [Creating a wrapped key] (https://cloud.google.com/dlp/docs/create-wrapped-key). Note: When you use Cloud KMS for cryptographic operations, [charges apply](https://cloud.google.com/kms/pricing).",
      "id": "GooglePrivacyDlpV2KmsWrappedCryptoKey",
      "type": "object"
    },
    "GooglePrivacyDlpV2CreateJobTriggerRequest": {
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "jobTrigger": {
          "description": "Required. The JobTrigger to create.",
          "$ref": "GooglePrivacyDlpV2JobTrigger"
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        }
      },
      "description": "Request message for CreateJobTrigger.",
      "id": "GooglePrivacyDlpV2CreateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Only one per info_type should be provided per request. If not specified, and redact_all_text is false, the DLP API will redact all text that it matches against all info_types that are found, but not specified in another ImageRedactionConfig."
        },
        "redactionColor": {
          "$ref": "GooglePrivacyDlpV2Color",
          "description": "The color to use when redacting content from an image. If not specified, the default is black."
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an info_type, is redacted. Only one should be provided.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for determining how redaction of images should occur.",
      "id": "GooglePrivacyDlpV2ImageRedactionConfig"
    },
    "GooglePrivacyDlpV2TransientCryptoKey": {
      "id": "GooglePrivacyDlpV2TransientCryptoKey",
      "description": "Use this to have a random data crypto key generated. It will be discarded after the request finishes.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Name of the key. This is an arbitrary string used to differentiate different keys. A unique key is generated per name: two separate `TransientCryptoKey` protos share the same generated key if their names are the same. When the data crypto key is generated, this name is not used in any way (repeating the api call will result in a different key being generated).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationQuasiIdValues": {
      "properties": {
        "estimatedAnonymity": {
          "format": "int64",
          "description": "The estimated anonymity for these quasi-identifier values.",
          "type": "string"
        },
        "quasiIdsValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "type": "array",
          "description": "The quasi-identifier values."
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues",
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridFindingDetails": {
      "properties": {
        "rowOffset": {
          "type": "string",
          "description": "Offset of the row for tables. Populate if the row(s) being scanned are part of a bigger dataset and you want to keep track of their absolute position.",
          "format": "int64"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels to represent user provided metadata about the data being inspected. If configured by the job, some key values may be required. The labels associated with `Finding`'s produced by hybrid inspection. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
        },
        "containerDetails": {
          "description": "Details about the container where the content being inspected is from.",
          "$ref": "GooglePrivacyDlpV2Container"
        },
        "tableOptions": {
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys. If not known ahead of time, can also be set within each inspect hybrid call and the two will be merged. Note that identifying_fields will only be stored to BigQuery, and only if the BigQuery action has been included.",
          "$ref": "GooglePrivacyDlpV2TableOptions"
        },
        "fileOffset": {
          "type": "string",
          "format": "int64",
          "description": "Offset in bytes of the line, from the beginning of the file, where the finding is located. Populate if the item being scanned is only part of a bigger item, such as a shard of a file and you want to track the absolute position of the finding."
        }
      },
      "description": "Populate to associate additional data with each finding.",
      "id": "GooglePrivacyDlpV2HybridFindingDetails",
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "id": "GooglePrivacyDlpV2InfoTypeTransformation",
      "type": "object",
      "description": "A transformation to apply to text that is identified as a specific info_type.",
      "properties": {
        "primitiveTransformation": {
          "description": "Required. Primitive transformation to apply to the infoType.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "infoTypes": {
          "description": "InfoTypes to apply the transformation to. An empty list will cause this transformation to apply to all findings that correspond to infoTypes that were requested in `InspectConfig`.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      }
    },
    "GooglePrivacyDlpV2Condition": {
      "description": "The field type of `value` and `field` do not need to match to be considered equal, but not all comparisons are possible. EQUAL_TO and NOT_EQUAL_TO attempt to compare even with incompatible types, but all other comparisons are invalid with incompatible types. A `value` of type: - `string` can be compared against all other types - `boolean` can only be compared against other booleans - `integer` can be compared against doubles or a string if the string value can be parsed as an integer. - `double` can be compared against integers or a string if the string can be parsed as a double. - `Timestamp` can be compared against strings in RFC 3339 date string format. - `TimeOfDay` can be compared against timestamps and strings in the format of 'HH:mm:ss'. If we fail to compare do to type mismatch, a warning will be given and the condition will evaluate to false.",
      "properties": {
        "operator": {
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Equal. Attempts to match even with incompatible types.",
            "Not equal to. Attempts to match even with incompatible types.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ],
          "description": "Required. Operator used to compare the field or infoType to the value.",
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ]
        },
        "field": {
          "description": "Required. Field within the record this condition is evaluated against.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "value": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Value to compare against. [Mandatory, except for `EXISTS` tests.]"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2Condition"
    },
    "GooglePrivacyDlpV2DeidentifyContentRequest": {
      "type": "object",
      "description": "Request to de-identify a list of items.",
      "properties": {
        "deidentifyTemplateName": {
          "type": "string",
          "description": "Template to use. Any configuration directly specified in deidentify_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        },
        "deidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "Configuration for the de-identification of the content item. Items specified here will override the template referenced by the deidentify_template_name argument."
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "item": {
          "description": "The item to de-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector. Items specified here will override the template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyContentRequest"
    },
    "GooglePrivacyDlpV2ByteContentItem": {
      "type": "object",
      "properties": {
        "data": {
          "format": "byte",
          "description": "Content data to inspect or redact.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8.",
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8",
            "WORD_DOCUMENT",
            "PDF",
            "AVRO",
            "CSV",
            "TSV"
          ],
          "enumDescriptions": [
            "Unused",
            "Any image type.",
            "jpeg",
            "bmp",
            "png",
            "svg",
            "plain text",
            "docx, docm, dotx, dotm",
            "pdf",
            "avro",
            "csv",
            "tsv"
          ]
        }
      },
      "description": "Container for bytes to inspect or redact.",
      "id": "GooglePrivacyDlpV2ByteContentItem"
    },
    "GooglePrivacyDlpV2Manual": {
      "description": "Job trigger option for hybrid jobs. Jobs must be manually created and finished.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Manual",
      "properties": {}
    },
    "GooglePrivacyDlpV2Location": {
      "id": "GooglePrivacyDlpV2Location",
      "type": "object",
      "properties": {
        "contentLocations": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          },
          "description": "List of nested objects pointing to the precise location of the finding within the file or record."
        },
        "container": {
          "$ref": "GooglePrivacyDlpV2Container",
          "description": "Information about the container where this finding occurred, if available."
        },
        "codepointRange": {
          "description": "Unicode character offsets delimiting the finding. These are relative to the finding's containing element. Provided when the content is text.",
          "$ref": "GooglePrivacyDlpV2Range"
        },
        "byteRange": {
          "description": "Zero-based byte offsets delimiting the finding. These are relative to the finding's containing element. Note that when the content is not textual, this references the UTF-8 encoded textual representation of the content. Omitted if content is an image.",
          "$ref": "GooglePrivacyDlpV2Range"
        }
      },
      "description": "Specifies the location of the finding."
    },
    "GooglePrivacyDlpV2KAnonymityConfig": {
      "properties": {
        "quasiIds": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "Set of fields to compute k-anonymity over. When multiple fields are specified, they are considered a single composite key. Structs and repeated data types are not supported; however, nested fields are supported so long as they are not structs themselves or nested within a repeated field."
        },
        "entityId": {
          "$ref": "GooglePrivacyDlpV2EntityId",
          "description": "Message indicating that multiple rows might be associated to a single individual. If the same entity_id is associated to multiple quasi-identifier tuples over distinct rows, we consider the entire collection of tuples as the composite quasi-identifier. This collection is a multiset: the order in which the different tuples appear in the dataset is ignored, but their frequency is taken into account. Important note: a maximum of 1000 rows can be associated to a single entity ID. If more rows are associated with the same entity ID, some might be ignored."
        }
      },
      "id": "GooglePrivacyDlpV2KAnonymityConfig",
      "description": "k-anonymity metric, used for analysis of reidentification risk.",
      "type": "object"
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "type": "object",
      "description": "The transformation to apply to the field.",
      "id": "GooglePrivacyDlpV2FieldTransformation",
      "properties": {
        "condition": {
          "description": "Only apply the transformation if the condition evaluates to true for the given `RecordCondition`. The conditions are allowed to reference fields that are not used in the actual transformation. Example Use Cases: - Apply a different bucket transformation to an age column if the zip code column for the same record is within a specific range. - Redact a field if the date of birth field is greater than 85.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        },
        "infoTypeTransformations": {
          "description": "Treat the contents of the field as free text, and selectively transform content that matches an `InfoType`.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "fields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "Required. Input field(s) to apply the transformation to. When you have columns that reference their position within a list, omit the index from the FieldId. FieldId name matching ignores the index. For example, instead of \"contact.nums[0].type\", use \"contact.nums.type\"."
        },
        "primitiveTransformation": {
          "description": "Apply the transformation to the entire field.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeTransformations": {
      "id": "GooglePrivacyDlpV2InfoTypeTransformations",
      "type": "object",
      "properties": {
        "transformations": {
          "description": "Required. Transformation for each infoType. Cannot specify more than one for a given infoType.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeTransformation"
          }
        }
      },
      "description": "A type of transformation that will scan unstructured text and apply various `PrimitiveTransformation`s to each finding, where the transformation is applied to only values that were identified as a specific info_type."
    },
    "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog": {
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog",
      "description": "Publish findings of a DlpJob to Cloud Data Catalog. Labels summarizing the results of the DlpJob will be applied to the entry for the resource scanned in Cloud Data Catalog. Any labels previously written by another DlpJob will be deleted. InfoType naming patterns are strictly enforced when using this feature. Note that the findings will be persisted in Cloud Data Catalog storage and are governed by Data Catalog service-specific policy, see https://cloud.google.com/terms/service-terms Only a single instance of this action can be specified and only allowed if all resources being scanned are BigQuery tables. Compatible with: Inspect"
    },
    "GooglePrivacyDlpV2CategoricalStatsConfig": {
      "properties": {
        "field": {
          "description": "Field to compute categorical stats on. All column types are supported except for arrays and structs. However, it may be more informative to use NumericalStats when the field type is supported, depending on the data.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2CategoricalStatsConfig",
      "description": "Compute numerical stats over an individual column, including number of distinct values and value count distribution."
    },
    "GooglePrivacyDlpV2ThrowError": {
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2ThrowError",
      "description": "Throw an error and fail the request when a transformation error occurs."
    },
    "GooglePrivacyDlpV2PrimitiveTransformation": {
      "type": "object",
      "description": "A rule for transforming a value.",
      "id": "GooglePrivacyDlpV2PrimitiveTransformation",
      "properties": {
        "characterMaskConfig": {
          "$ref": "GooglePrivacyDlpV2CharacterMaskConfig",
          "description": "Mask"
        },
        "replaceConfig": {
          "$ref": "GooglePrivacyDlpV2ReplaceValueConfig",
          "description": "Replace"
        },
        "redactConfig": {
          "description": "Redact",
          "$ref": "GooglePrivacyDlpV2RedactConfig"
        },
        "cryptoReplaceFfxFpeConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
          "description": "Ffx-Fpe"
        },
        "dateShiftConfig": {
          "description": "Date Shift",
          "$ref": "GooglePrivacyDlpV2DateShiftConfig"
        },
        "cryptoDeterministicConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoDeterministicConfig",
          "description": "Deterministic Crypto"
        },
        "timePartConfig": {
          "description": "Time extraction",
          "$ref": "GooglePrivacyDlpV2TimePartConfig"
        },
        "bucketingConfig": {
          "$ref": "GooglePrivacyDlpV2BucketingConfig",
          "description": "Bucketing"
        },
        "fixedSizeBucketingConfig": {
          "description": "Fixed size bucketing",
          "$ref": "GooglePrivacyDlpV2FixedSizeBucketingConfig"
        },
        "replaceWithInfoTypeConfig": {
          "description": "Replace with infotype",
          "$ref": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig"
        },
        "cryptoHashConfig": {
          "$ref": "GooglePrivacyDlpV2CryptoHashConfig",
          "description": "Crypto"
        }
      }
    },
    "GooglePrivacyDlpV2StoredType": {
      "description": "A reference to a StoredInfoType to use with scanning.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the requested `StoredInfoType`, for example `organizations/433245324/storedInfoTypes/432452342` or `projects/project-id/storedInfoTypes/432452342`."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for inspection was created. Output-only field, populated by the system.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2StoredType"
    },
    "GooglePrivacyDlpV2QuasiId": {
      "description": "A column with a semantic tag attached.",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "customTag": {
          "type": "string",
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below)."
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data"
        },
        "field": {
          "description": "Required. Identifies the column.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2QuasiId"
    },
    "GooglePrivacyDlpV2Expressions": {
      "id": "GooglePrivacyDlpV2Expressions",
      "type": "object",
      "description": "An expression, consisting or an operator and conditions.",
      "properties": {
        "logicalOperator": {
          "type": "string",
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ]
        },
        "conditions": {
          "description": "Conditions to apply to the expression.",
          "$ref": "GooglePrivacyDlpV2Conditions"
        }
      }
    },
    "GooglePrivacyDlpV2PublishToStackdriver": {
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishToStackdriver",
      "type": "object",
      "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count. This will publish a metric to stack driver on each infotype requested and how many findings were found for it. CustomDetectors will be bucketed as 'Custom' under the Stackdriver label 'info_type'."
    },
    "GooglePrivacyDlpV2TimePartConfig": {
      "id": "GooglePrivacyDlpV2TimePartConfig",
      "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a portion of the value.",
      "type": "object",
      "properties": {
        "partToExtract": {
          "enum": [
            "TIME_PART_UNSPECIFIED",
            "YEAR",
            "MONTH",
            "DAY_OF_MONTH",
            "DAY_OF_WEEK",
            "WEEK_OF_YEAR",
            "HOUR_OF_DAY"
          ],
          "description": "The part of the time to keep.",
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "[0-9999]",
            "[1-12]",
            "[1-31]",
            "[1-7]",
            "[1-53]",
            "[0-23]"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2KMapEstimationConfig": {
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code.",
          "type": "string"
        },
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers column must appear in exactly one column of one auxiliary table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2AuxiliaryTable"
          }
        },
        "quasiIds": {
          "type": "array",
          "description": "Required. Fields considered to be quasi-identifiers. No two columns can have the same tag.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TaggedField"
          }
        }
      },
      "id": "GooglePrivacyDlpV2KMapEstimationConfig",
      "description": "Reidentifiability metric. This corresponds to a risk model similar to what is called \"journalist risk\" in the literature, except the attack dataset is statistically modeled instead of being perfectly known. This can be done using publicly available data (like the US Census), or using a custom statistical model (indicated as one or several BigQuery tables), or by extrapolating from the distribution of values in the input dataset."
    },
    "GooglePrivacyDlpV2Dictionary": {
      "id": "GooglePrivacyDlpV2Dictionary",
      "description": "Custom information type based on a dictionary of words or phrases. This can be used to match sensitive information specific to the data, such as a list of employee IDs or job titles. Dictionary words are case-insensitive and all characters other than letters and digits in the unicode [Basic Multilingual Plane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane) will be replaced with whitespace when scanning for matches, so the dictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\", \"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters surrounding any match must be of a different type than the adjacent characters within the word, so letters must be next to non-letters and digits next to non-digits. For example, the dictionary word \"jen\" will match the first three letters of the text \"jen123\" but will return no matches for \"jennifer\". Dictionary words containing a large number of characters that are not letters or digits may result in unexpected findings because such characters are treated as whitespace. The [limits](https://cloud.google.com/dlp/limits) page contains details about the size limits of dictionaries. For dictionaries that do not fit within these constraints, consider using `LargeCustomDictionaryConfig` in the `StoredInfoType` API.",
      "type": "object",
      "properties": {
        "cloudStoragePath": {
          "$ref": "GooglePrivacyDlpV2CloudStoragePath",
          "description": "Newline-delimited file of words in Cloud Storage. Only a single file is accepted."
        },
        "wordList": {
          "$ref": "GooglePrivacyDlpV2WordList",
          "description": "List of words or phrases to search for."
        }
      }
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "description": "Request to search for potentially sensitive info in an image and redact it by covering it with a colored rectangle.",
      "properties": {
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "includeFindings": {
          "description": "Whether the response should include findings along with the redacted image.",
          "type": "boolean"
        },
        "byteItem": {
          "description": "The content must be PNG, JPEG, SVG or BMP.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        },
        "imageRedactionConfigs": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          },
          "description": "The configuration for specifying what content to redact from images.",
          "type": "array"
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest",
      "type": "object",
      "description": "Request message for CreateInspectTemplate.",
      "properties": {
        "inspectTemplate": {
          "description": "Required. The InspectTemplate to create.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryStats": {
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryStats",
      "properties": {
        "approxNumPhrases": {
          "description": "Approximate number of distinct phrases in the dictionary.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Summary statistics of a custom dictionary."
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "type": "object",
      "description": "Configuration description of the scanning process. When used with redactContent only info_types and min_likelihood are currently used.",
      "properties": {
        "customInfoTypes": {
          "description": "CustomInfoTypes provided by the user. See https://cloud.google.com/dlp/docs/creating-custom-infotypes to learn more.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CustomInfoType"
          }
        },
        "minLikelihood": {
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Few matching elements.",
            "",
            "Some matching elements.",
            "",
            "Many matching elements."
          ],
          "description": "Only returns findings equal or above this threshold. The default is POSSIBLE. See https://cloud.google.com/dlp/docs/likelihood to learn more."
        },
        "includeQuote": {
          "type": "boolean",
          "description": "When true, a contextual quote from the data that triggered a finding is included in the response; see Finding.quote."
        },
        "limits": {
          "$ref": "GooglePrivacyDlpV2FindingLimits",
          "description": "Configuration to control the number of findings returned."
        },
        "ruleSet": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRuleSet"
          },
          "type": "array",
          "description": "Set of rules to apply to the findings for this InspectConfig. Exclusion rules, contained in the set are executed in the end, other rules are executed in the order they are specified for each info type."
        },
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings.",
          "type": "boolean"
        },
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to InfoType values returned by ListInfoTypes or listed at https://cloud.google.com/dlp/docs/infotypes-reference. When no InfoTypes or CustomInfoTypes are specified in a request, the system may automatically choose what detectors to run. By default this may be all types, but may change over time as detectors are updated. If you need precise control and predictability as to what detectors are run you should specify specific InfoTypes listed in the reference, otherwise a default list will be used, which may change over time.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array"
        },
        "contentOptions": {
          "description": "List of options defining data content to scan. If empty, text, images, and other content will be included.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Includes entire content of a file or a data stream.",
              "Text content within the data, excluding any metadata.",
              "Images found in the data."
            ],
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ],
            "type": "string"
          }
        }
      },
      "id": "GooglePrivacyDlpV2InspectConfig"
    },
    "GooglePrivacyDlpV2InfoType": {
      "type": "object",
      "description": "Type of information detected by the API.",
      "id": "GooglePrivacyDlpV2InfoType",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/dlp/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$-_]{1,64}`."
        }
      }
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "description": "Deprecated; use `InspectionRuleSet` instead. Rule for modifying a `CustomInfoType` to alter behavior under certain circumstances, depending on the specific details of the rule. Not supported for the `surrogate_type` custom infoType.",
      "id": "GooglePrivacyDlpV2DetectionRule",
      "properties": {
        "hotwordRule": {
          "$ref": "GooglePrivacyDlpV2HotwordRule",
          "description": "Hotword-based detection rule."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectContentRequest": {
      "description": "Request to search for potentially sensitive info in a ContentItem.",
      "id": "GooglePrivacyDlpV2InspectContentRequest",
      "type": "object",
      "properties": {
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector. What specified here will override the template referenced by the inspect_template_name argument."
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "item": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        }
      }
    },
    "GooglePrivacyDlpV2AuxiliaryTable": {
      "type": "object",
      "properties": {
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Required. Auxiliary table location."
        },
        "relativeFrequency": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. The relative frequency column must contain a floating-point number between 0 and 1 (inclusive). Null values are assumed to be zero."
        },
        "quasiIds": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiIdField"
          },
          "description": "Required. Quasi-identifier columns."
        }
      },
      "description": "An auxiliary table contains statistical information on the relative frequency of different quasi-identifiers values. It has one or several quasi-identifiers columns, and one column that indicates the relative frequency of each quasi-identifier tuple. If a tuple is present in the data but not in the auxiliary table, the corresponding relative frequency is assumed to be zero (and thus, the tuple is highly reidentifiable).",
      "id": "GooglePrivacyDlpV2AuxiliaryTable"
    },
    "GooglePrivacyDlpV2TableLocation": {
      "id": "GooglePrivacyDlpV2TableLocation",
      "properties": {
        "rowIndex": {
          "description": "The zero-based index of the row where the finding is located. Only populated for resources that have a natural ordering, not BigQuery. In BigQuery, to identify the row a finding came from, populate BigQueryOptions.identifying_fields with your primary key column names and when you store the findings the value of those columns will be stored inside of Finding.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Location of a finding within a table.",
      "type": "object"
    },
    "GooglePrivacyDlpV2SummaryResult": {
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "A place for warnings or errors to show up if a transformation didn't work as expected."
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Number of transformations counted by this result."
        },
        "code": {
          "enum": [
            "TRANSFORMATION_RESULT_CODE_UNSPECIFIED",
            "SUCCESS",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Transformation completed without an error.",
            "Transformation had an error."
          ],
          "description": "Outcome of the transformation."
        }
      },
      "id": "GooglePrivacyDlpV2SummaryResult",
      "description": "A collection that informs the user the number of times a particular `TransformationResultCode` and error details occurred."
    },
    "GooglePrivacyDlpV2RecordKey": {
      "properties": {
        "idValues": {
          "type": "array",
          "description": "Values of identifying columns in the given row. Order of values matches the order of `identifying_fields` specified in the scanning request.",
          "items": {
            "type": "string"
          }
        },
        "datastoreKey": {
          "$ref": "GooglePrivacyDlpV2DatastoreKey"
        },
        "bigQueryKey": {
          "$ref": "GooglePrivacyDlpV2BigQueryKey"
        }
      },
      "type": "object",
      "description": "Message for a unique key indicating a record that contains a finding.",
      "id": "GooglePrivacyDlpV2RecordKey"
    },
    "GooglePrivacyDlpV2ListJobTriggersResponse": {
      "id": "GooglePrivacyDlpV2ListJobTriggersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then the next page token to be used in following ListJobTriggers request."
        },
        "jobTriggers": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2JobTrigger"
          },
          "description": "List of triggeredJobs, up to page_size in ListJobTriggersRequest."
        }
      },
      "description": "Response message for ListJobTriggers.",
      "type": "object"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "type": "object",
      "properties": {
        "lDiversityResult": {
          "description": "L-divesity result",
          "$ref": "GooglePrivacyDlpV2LDiversityResult"
        },
        "categoricalStatsResult": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult",
          "description": "Categorical stats result"
        },
        "requestedOptions": {
          "$ref": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions",
          "description": "The configuration used for this job."
        },
        "requestedSourceTable": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Input dataset to compute metrics over."
        },
        "kMapEstimationResult": {
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult",
          "description": "K-map result"
        },
        "deltaPresenceEstimationResult": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
          "description": "Delta-presence result"
        },
        "numericalStatsResult": {
          "description": "Numerical stats result",
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult"
        },
        "requestedPrivacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        },
        "kAnonymityResult": {
          "$ref": "GooglePrivacyDlpV2KAnonymityResult",
          "description": "K-anonymity result"
        }
      },
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
      "description": "Result of a risk analysis operation request."
    },
    "GooglePrivacyDlpV2OutputStorageConfig": {
      "id": "GooglePrivacyDlpV2OutputStorageConfig",
      "description": "Cloud repository for storing output.",
      "type": "object",
      "properties": {
        "table": {
          "description": "Store findings in an existing table or a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_yyyy_mm_dd_[dlp_job_id]. Pacific timezone will be used for generating the date details. For Inspect, each column in an existing output table must have the same name, type, and mode of a field in the `Finding` object. For Risk, an existing output table should be the output of a previous Risk analysis job run on the same source table, with the same privacy metric and quasi-identifiers. Risk jobs that analyze the same table but compute a different privacy metric, or use different sets of quasi-identifiers, cannot store their results in the same table.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "outputSchema": {
          "description": "Schema used for writing the findings for Inspect jobs. This field is only used for Inspect and must be unspecified for Risk jobs. Columns are derived from the `Finding` object. If appending to an existing table, any columns from the predefined schema that are missing will be added. No columns in the existing table will be deleted. If unspecified, then all available columns will be used for a new table or an (existing) table with no schema, and no changes will be made to an existing table that has a schema. Only for use with external storage.",
          "enumDescriptions": [
            "Unused.",
            "Basic schema including only `info_type`, `quote`, `certainty`, and `timestamp`.",
            "Schema tailored to findings from scanning Google Cloud Storage.",
            "Schema tailored to findings from scanning Google Datastore.",
            "Schema tailored to findings from scanning Google BigQuery.",
            "Schema containing all columns."
          ],
          "type": "string",
          "enum": [
            "OUTPUT_SCHEMA_UNSPECIFIED",
            "BASIC_COLUMNS",
            "GCS_COLUMNS",
            "DATASTORE_COLUMNS",
            "BIG_QUERY_COLUMNS",
            "ALL_COLUMNS"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2ActivateJobTriggerRequest": {
      "type": "object",
      "description": "Request message for ActivateJobTrigger.",
      "properties": {},
      "id": "GooglePrivacyDlpV2ActivateJobTriggerRequest"
    },
    "GooglePrivacyDlpV2TransformationOverview": {
      "properties": {
        "transformedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total size in bytes that were transformed in some way."
        },
        "transformationSummaries": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationSummary"
          },
          "description": "Transformations applied to the dataset."
        }
      },
      "id": "GooglePrivacyDlpV2TransformationOverview",
      "type": "object",
      "description": "Overview of the modifications that occurred."
    },
    "GooglePrivacyDlpV2PublishSummaryToCscc": {
      "properties": {},
      "description": "Publish the result summary of a DlpJob to the Cloud Security Command Center (CSCC Alpha). This action is only available for projects which are parts of an organization and whitelisted for the alpha Cloud Security Command Center. The action will publish count of finding instances and their info types. The summary of findings will be persisted in CSCC and are governed by CSCC service-specific policy, see https://cloud.google.com/terms/service-terms Only a single instance of this action can be specified. Compatible with: Inspect",
      "id": "GooglePrivacyDlpV2PublishSummaryToCscc",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult",
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          },
          "description": "The intervals [min_probability, max_probability) do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_probability: 0, max_probability: 0.1, frequency: 17} {min_probability: 0.2, max_probability: 0.3, frequency: 42} {min_probability: 0.3, max_probability: 0.4, frequency: 99} mean that there are no record with an estimated probability in [0.1, 0.2) nor larger or equal to 0.4.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Result of the δ-presence computation. Note that these results are an estimation, not exact values."
    },
    "GooglePrivacyDlpV2FindingLimits": {
      "properties": {
        "maxFindingsPerRequest": {
          "description": "Max number of findings that will be returned per request/job. When set within `InspectContentRequest`, the maximum returned is 2000 regardless if this is set higher.",
          "format": "int32",
          "type": "integer"
        },
        "maxFindingsPerInfoType": {
          "description": "Configuration of findings limit given for specified infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLimit"
          }
        },
        "maxFindingsPerItem": {
          "type": "integer",
          "description": "Max number of findings that will be returned for each item scanned. When set within `InspectJobConfig`, the maximum returned is 2000 regardless if this is set higher. When set within `InspectContentRequest`, this field is ignored.",
          "format": "int32"
        }
      },
      "id": "GooglePrivacyDlpV2FindingLimits",
      "description": "Configuration to control the number of findings returned. Cannot be set if de-identification is requested.",
      "type": "object"
    },
    "GooglePrivacyDlpV2PublishToPubSub": {
      "type": "object",
      "id": "GooglePrivacyDlpV2PublishToPubSub",
      "properties": {
        "topic": {
          "description": "Cloud Pub/Sub topic to send notifications to. The topic must have given publishing access rights to the DLP API service account executing the long running DlpJob sending the notifications. Format is projects/{project}/topics/{topic}.",
          "type": "string"
        }
      },
      "description": "Publish a message into given Pub/Sub topic when DlpJob has completed. The message contains a single field, `DlpJobName`, which is equal to the finished job's [`DlpJob.name`](https://cloud.google.com/dlp/docs/reference/rest/v2/projects.dlpJobs#DlpJob). Compatible with: Inspect, Risk"
    },
    "GooglePrivacyDlpV2RecordCondition": {
      "description": "A condition for determining whether a transformation should be applied to a field.",
      "properties": {
        "expressions": {
          "$ref": "GooglePrivacyDlpV2Expressions",
          "description": "An expression."
        }
      },
      "id": "GooglePrivacyDlpV2RecordCondition",
      "type": "object"
    },
    "GooglePrivacyDlpV2KAnonymityEquivalenceClass": {
      "id": "GooglePrivacyDlpV2KAnonymityEquivalenceClass",
      "properties": {
        "quasiIdsValues": {
          "type": "array",
          "description": "Set of values defining the equivalence class. One value per quasi-identifier column in the original KAnonymity metric message. The order is always the same as the original request.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        },
        "equivalenceClassSize": {
          "type": "string",
          "description": "Size of the equivalence class, for example number of rows with the above set of values.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "The set of columns' values that share the same ldiversity value"
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "type": "object",
      "id": "GooglePrivacyDlpV2QuoteInfo",
      "properties": {
        "dateTime": {
          "$ref": "GooglePrivacyDlpV2DateTime",
          "description": "The date time indicated by the quote."
        }
      },
      "description": "Message for infoType-dependent details parsed from quote."
    },
    "GooglePrivacyDlpV2ValueFrequency": {
      "type": "object",
      "description": "A value of a field, including its frequency.",
      "properties": {
        "count": {
          "description": "How many times the value is contained in the field.",
          "type": "string",
          "format": "int64"
        },
        "value": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "A value contained in the field in question."
        }
      },
      "id": "GooglePrivacyDlpV2ValueFrequency"
    },
    "GooglePrivacyDlpV2NumericalStatsConfig": {
      "description": "Compute numerical stats over an individual column, including min, max, and quantiles.",
      "type": "object",
      "properties": {
        "field": {
          "description": "Field to compute numerical stats on. Supported types are integer, float, date, datetime, timestamp, time.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2NumericalStatsConfig"
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "description": "Replace each matching finding with the name of the info_type.",
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
      "properties": {},
      "type": "object"
    },
    "GooglePrivacyDlpV2Regex": {
      "description": "Message defining a custom regular expression.",
      "type": "object",
      "properties": {
        "groupIndexes": {
          "description": "The index of the submatch to extract as findings. When not specified, the entire match is returned. No more than 3 may be included.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "pattern": {
          "description": "Pattern defining the regular expression. Its syntax (https://github.com/google/re2/wiki/Syntax) can be found under the google/re2 repository on GitHub.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Regex"
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CharacterMaskConfig",
      "description": "Partially mask a string by replacing a given number of characters with a fixed character. Masking can start from the beginning or end of the string. This can be used on data of any type (numbers, longs, and so on) and when de-identifying structured data we'll attempt to preserve the original data's type. (This allows you to take a long like 123 and modify it to a string like **3.",
      "properties": {
        "charactersToIgnore": {
          "description": "When masking a string, items in this list will be skipped when replacing characters. For example, if the input string is `555-555-5555` and you instruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP returns `***-**5-5555`.",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          },
          "type": "array"
        },
        "numberToMask": {
          "format": "int32",
          "description": "Number of characters to mask. If not set, all matching chars will be masked. Skipped characters do not count towards this tally.",
          "type": "integer"
        },
        "reverseOrder": {
          "type": "boolean",
          "description": "Mask characters in reverse order. For example, if `masking_character` is `0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the input string `1234-5678-9012-3456` is masked as `00000000000000-3456`. If `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order` is `true`, then the string `12345` is masked as `12***`."
        },
        "maskingCharacter": {
          "type": "string",
          "description": "Character to use to mask the sensitive values—for example, `*` for an alphabetic string such as a name, or `0` for a numeric string such as ZIP code or credit card number. This string must have a length of 1. If not supplied, this value defaults to `*` for strings, and `0` for digits."
        }
      }
    },
    "GooglePrivacyDlpV2RecordLocation": {
      "id": "GooglePrivacyDlpV2RecordLocation",
      "type": "object",
      "description": "Location of a finding within a row or record.",
      "properties": {
        "tableLocation": {
          "description": "Location within a `ContentItem.Table`.",
          "$ref": "GooglePrivacyDlpV2TableLocation"
        },
        "recordKey": {
          "$ref": "GooglePrivacyDlpV2RecordKey",
          "description": "Key of the finding."
        },
        "fieldId": {
          "description": "Field id of the field containing the finding.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      }
    },
    "GooglePrivacyDlpV2DateShiftConfig": {
      "id": "GooglePrivacyDlpV2DateShiftConfig",
      "type": "object",
      "properties": {
        "upperBoundDays": {
          "format": "int32",
          "description": "Required. Range of shift in days. Actual shift will be selected at random within this range (inclusive ends). Negative means shift to earlier in time. Must not be more than 365250 days (1000 years) each direction. For example, 3 means shift date to at most 3 days into the future.",
          "type": "integer"
        },
        "cryptoKey": {
          "description": "Causes the shift to be computed based on this key and the context. This results in the same shift for the same context and crypto_key. If set, must also set context. Can only be applied to table items.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "context": {
          "description": "Points to the field that contains the context, for example, an entity id. If set, must also set cryptoKey. If set, shift will be consistent for the given context.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "lowerBoundDays": {
          "format": "int32",
          "type": "integer",
          "description": "Required. For example, -5 means shift date to at most 5 days back in the past."
        }
      },
      "description": "Shifts dates by random number of days, with option to be consistent for the same context. See https://cloud.google.com/dlp/docs/concepts-date-shifting to learn more."
    },
    "GooglePrivacyDlpV2Key": {
      "id": "GooglePrivacyDlpV2Key",
      "description": "A unique identifier for a Datastore entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts.",
      "type": "object",
      "properties": {
        "partitionId": {
          "$ref": "GooglePrivacyDlpV2PartitionId",
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition."
        },
        "path": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2PathElement"
          },
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. A path can never be empty, and a path can have at most 100 elements."
        }
      }
    },
    "GooglePrivacyDlpV2CryptoDeterministicConfig": {
      "type": "object",
      "properties": {
        "context": {
          "description": "A context may be used for higher security and maintaining referential integrity such that the same identifier in two different contexts will be given a distinct surrogate. The context is appended to plaintext value being encrypted. On decryption the provided context is validated against the value used during encryption. If a context was provided during encryption, same context must be provided during decryption as well. If the context is not set, plaintext would be used as is for encryption. If the context is set but: 1. there is no record present when transforming a given value or 2. the field is not present when transforming a given value, plaintext would be used as is for encryption. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and non-structured `ContentItem`s.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "cryptoKey": {
          "description": "The key used by the encryption function. For deterministic encryption using AES-SIV, the provided key is internally expanded to 64 bytes prior to use.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "surrogateInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The custom info type to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom info type followed by the number of characters comprising the surrogate. The following scheme defines the format: {info type name}({surrogate character count}):{surrogate} For example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom info type 'Surrogate'. This facilitates reversal of the surrogate when it occurs in free text. Note: For record transformations where the entire cell in a table is being transformed, surrogates are not mandatory. Surrogates are used to denote the location of the token and are necessary for re-identification in free form text. In order for inspection to work properly, the name of this info type must not occur naturally anywhere in your data; otherwise, inspection may either - reverse a surrogate that does not correspond to an actual identifier - be unable to parse the surrogate and result in an error Therefore, choose your custom info type name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE."
        }
      },
      "description": "Pseudonymization method that generates deterministic encryption for the given input. Outputs a base64 encoded representation of the encrypted output. Uses AES-SIV based on the RFC https://tools.ietf.org/html/rfc5297.",
      "id": "GooglePrivacyDlpV2CryptoDeterministicConfig"
    },
    "GooglePrivacyDlpV2LDiversityEquivalenceClass": {
      "description": "The set of columns' values that share the same ldiversity value.",
      "properties": {
        "numDistinctSensitiveValues": {
          "type": "string",
          "description": "Number of distinct sensitive values in this equivalence class.",
          "format": "int64"
        },
        "equivalenceClassSize": {
          "description": "Size of the k-anonymity equivalence class.",
          "format": "int64",
          "type": "string"
        },
        "topSensitiveValues": {
          "type": "array",
          "description": "Estimated frequencies of top sensitive values.",
          "items": {
            "$ref": "GooglePrivacyDlpV2ValueFrequency"
          }
        },
        "quasiIdsValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "Quasi-identifier values defining the k-anonymity equivalence class. The order is always the same as the original request."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2LDiversityEquivalenceClass"
    },
    "GooglePrivacyDlpV2StoredInfoTypeVersion": {
      "type": "object",
      "id": "GooglePrivacyDlpV2StoredInfoTypeVersion",
      "properties": {
        "stats": {
          "description": "Statistics about this storedInfoType version.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeStats"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "description": "Errors that occurred when creating this storedInfoType version, or anomalies detected in the storedInfoType data that render it unusable. Only the five most recent errors will be displayed, with the most recent error appearing first. For example, some of the data for stored custom dictionaries is put in the user's Google Cloud Storage bucket, and if this data is modified or deleted by the user or another system, the dictionary becomes invalid. If any errors occur, fix the problem indicated by the error message and use the UpdateStoredInfoType API method to create another version of the storedInfoType to continue using it, reusing the same `config` if it was not the source of the error."
        },
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "StoredInfoType configuration."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Create timestamp of the version. Read-only, determined by the system when the version is created."
        },
        "state": {
          "enum": [
            "STORED_INFO_TYPE_STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FAILED",
            "INVALID"
          ],
          "enumDescriptions": [
            "Unused",
            "StoredInfoType version is being created.",
            "StoredInfoType version is ready for use.",
            "StoredInfoType creation failed. All relevant error messages are returned in the `StoredInfoTypeVersion` message.",
            "StoredInfoType is no longer valid because artifacts stored in user-controlled storage were modified. To fix an invalid StoredInfoType, use the `UpdateStoredInfoType` method to create a new version."
          ],
          "description": "Stored info type version state. Read-only, updated by the system during dictionary creation.",
          "type": "string"
        }
      },
      "description": "Version of a StoredInfoType, including the configuration used to build it, create timestamp, and current state."
    },
    "GooglePrivacyDlpV2ExclusionRule": {
      "description": "The rule that specifies conditions when findings of infoTypes specified in `InspectionRuleSet` are removed from results.",
      "properties": {
        "dictionary": {
          "$ref": "GooglePrivacyDlpV2Dictionary",
          "description": "Dictionary which defines the rule."
        },
        "regex": {
          "$ref": "GooglePrivacyDlpV2Regex",
          "description": "Regular expression which defines the rule."
        },
        "excludeInfoTypes": {
          "$ref": "GooglePrivacyDlpV2ExcludeInfoTypes",
          "description": "Set of infoTypes for which findings would affect this rule."
        },
        "matchingType": {
          "description": "How the rule is applied, see MatchingType documentation for details.",
          "enum": [
            "MATCHING_TYPE_UNSPECIFIED",
            "MATCHING_TYPE_FULL_MATCH",
            "MATCHING_TYPE_PARTIAL_MATCH",
            "MATCHING_TYPE_INVERSE_MATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid.",
            "Full match. - Dictionary: join of Dictionary results matched complete finding quote - Regex: all regex matches fill a finding quote start to end - Exclude info type: completely inside affecting info types findings",
            "Partial match. - Dictionary: at least one of the tokens in the finding matches - Regex: substring of the finding matches - Exclude info type: intersects with affecting info types findings",
            "Inverse match. - Dictionary: no tokens in the finding match the dictionary - Regex: finding doesn't match the regex - Exclude info type: no intersection with affecting info types findings"
          ]
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2ExclusionRule"
    },
    "GooglePrivacyDlpV2WordList": {
      "type": "object",
      "properties": {
        "words": {
          "type": "array",
          "description": "Words or phrases defining the dictionary. The dictionary must contain at least one phrase and every phrase must contain at least 2 characters that are letters or digits. [required]",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GooglePrivacyDlpV2WordList",
      "description": "Message defining a list of words or phrases to search for in the data."
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest": {
      "id": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest",
      "properties": {
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "deidentifyTemplate": {
          "description": "Required. The DeidentifyTemplate to create.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        },
        "templateId": {
          "type": "string",
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        }
      },
      "type": "object",
      "description": "Request message for CreateDeidentifyTemplate."
    },
    "GooglePrivacyDlpV2TransformationErrorHandling": {
      "properties": {
        "leaveUntransformed": {
          "$ref": "GooglePrivacyDlpV2LeaveUntransformed",
          "description": "Ignore errors"
        },
        "throwError": {
          "description": "Throw an error",
          "$ref": "GooglePrivacyDlpV2ThrowError"
        }
      },
      "description": "How to handle transformation errors during de-identification. A transformation error occurs when the requested transformation is incompatible with the data. For example, trying to de-identify an IP address using a `DateShift` transformation would result in a transformation error, since date info cannot be extracted from an IP address. Information about any incompatible transformations, and how they were handled, is returned in the response as part of the `TransformationOverviews`.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TransformationErrorHandling"
    },
    "GooglePrivacyDlpV2FileSet": {
      "properties": {
        "regexFileSet": {
          "$ref": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
          "description": "The regex-filtered set of files to scan. Exactly one of `url` or `regex_file_set` must be set."
        },
        "url": {
          "type": "string",
          "description": "The Cloud Storage url of the file(s) to scan, in the format `gs:///`. Trailing wildcard in the path is allowed. If the url ends in a trailing slash, the bucket or directory represented by the url will be scanned non-recursively (content in sub-directories will not be scanned). This means that `gs://mybucket/` is equivalent to `gs://mybucket/*`, and `gs://mybucket/directory/` is equivalent to `gs://mybucket/directory/*`. Exactly one of `url` or `regex_file_set` must be set."
        }
      },
      "id": "GooglePrivacyDlpV2FileSet",
      "type": "object",
      "description": "Set of files to scan."
    },
    "GooglePrivacyDlpV2KindExpression": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the kind."
        }
      },
      "description": "A representation of a Datastore kind.",
      "id": "GooglePrivacyDlpV2KindExpression",
      "type": "object"
    },
    "GooglePrivacyDlpV2QuasiIdentifierField": {
      "description": "A quasi-identifier column has a custom_tag, used to know which column in the data corresponds to which column in the statistical model.",
      "properties": {
        "field": {
          "description": "Identifies the column.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "type": "string",
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below)."
        }
      },
      "id": "GooglePrivacyDlpV2QuasiIdentifierField",
      "type": "object"
    },
    "GooglePrivacyDlpV2RedactImageResponse": {
      "type": "object",
      "id": "GooglePrivacyDlpV2RedactImageResponse",
      "description": "Results of redacting an image.",
      "properties": {
        "redactedImage": {
          "format": "byte",
          "description": "The redacted image. The type will be the same as the original image.",
          "type": "string"
        },
        "extractedText": {
          "type": "string",
          "description": "If an image was being inspected and the InspectConfig's include_quote was set to true, then this field will include all text, if any, that was found in the image."
        },
        "inspectResult": {
          "$ref": "GooglePrivacyDlpV2InspectResult",
          "description": "The findings. Populated when include_findings in the request is true."
        }
      }
    },
    "GooglePrivacyDlpV2JobNotificationEmails": {
      "description": "Enable email notification to project owners and editors on jobs's completion/failure.",
      "properties": {},
      "id": "GooglePrivacyDlpV2JobNotificationEmails",
      "type": "object"
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "properties": {
        "boundingBoxes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          },
          "description": "Bounding boxes locating the pixels within the image containing the finding.",
          "type": "array"
        }
      },
      "description": "Location of the finding within an image.",
      "id": "GooglePrivacyDlpV2ImageLocation",
      "type": "object"
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation` transforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the output would be 'My phone number is '.",
      "id": "GooglePrivacyDlpV2RedactConfig",
      "properties": {},
      "type": "object"
    },
    "GooglePrivacyDlpV2DlpJob": {
      "type": "object",
      "description": "Combines all of the information about a DLP job.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time when the job started.",
          "format": "google-datetime"
        },
        "jobTriggerName": {
          "type": "string",
          "description": "If created by a job trigger, the resource name of the trigger that instantiated the job."
        },
        "riskDetails": {
          "description": "Results from analyzing risk of a data source.",
          "$ref": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails"
        },
        "type": {
          "type": "string",
          "description": "The type of job.",
          "enum": [
            "DLP_JOB_TYPE_UNSPECIFIED",
            "INSPECT_JOB",
            "RISK_ANALYSIS_JOB"
          ],
          "enumDescriptions": [
            "Defaults to INSPECT_JOB.",
            "The job inspected Google Cloud for sensitive data.",
            "The job executed a Risk Analysis computation."
          ]
        },
        "name": {
          "description": "The server-assigned name.",
          "type": "string"
        },
        "endTime": {
          "description": "Time when the job finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "errors": {
          "description": "A stream of errors encountered running the job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Time when the job was created.",
          "format": "google-datetime"
        },
        "state": {
          "description": "State of a job.",
          "enumDescriptions": [
            "Unused.",
            "The job has not yet started.",
            "The job is currently running. Once a job has finished it will transition to FAILED or DONE.",
            "The job is no longer running.",
            "The job was canceled before it could complete.",
            "The job had an error and did not complete.",
            "The job is currently accepting findings via hybridInspect. A hybrid job in ACTIVE state may continue to have findings added to it through calling of hybridInspect. After the job has finished no more calls to hybridInspect may be made. ACTIVE jobs can transition to DONE."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "CANCELED",
            "FAILED",
            "ACTIVE"
          ],
          "type": "string"
        },
        "inspectDetails": {
          "$ref": "GooglePrivacyDlpV2InspectDataSourceDetails",
          "description": "Results from inspecting a data source."
        }
      },
      "id": "GooglePrivacyDlpV2DlpJob"
    },
    "GooglePrivacyDlpV2ContentItem": {
      "properties": {
        "value": {
          "type": "string",
          "description": "String data to inspect or redact."
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2Table",
          "description": "Structured content for inspection. See https://cloud.google.com/dlp/docs/inspecting-text#inspecting_a_table to learn more."
        },
        "byteItem": {
          "description": "Content data to inspect or redact. Replaces `type` and `data`.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        }
      },
      "description": "Container structure for the content to inspect.",
      "type": "object",
      "id": "GooglePrivacyDlpV2ContentItem"
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "properties": {
        "url": {
          "description": "The url, in the format `gs:///`. Trailing wildcard in the path is allowed.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageFileSet",
      "type": "object",
      "description": "Message representing a set of files in Cloud Storage."
    },
    "GooglePrivacyDlpV2BigQueryOptions": {
      "id": "GooglePrivacyDlpV2BigQueryOptions",
      "properties": {
        "rowsLimit": {
          "type": "string",
          "description": "Max number of rows to scan. If the table has more rows than this value, the rest of the rows are omitted. If not set, or if set to 0, all rows will be scanned. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "format": "int64"
        },
        "excludedFields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array",
          "description": "References to fields excluded from scanning. This allows you to skip inspection of entire columns which you know have no findings."
        },
        "rowsLimitPercent": {
          "description": "Max percentage of rows to scan. The rest are omitted. The number of rows scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of rows_limit and rows_limit_percent can be specified. Cannot be used in conjunction with TimespanConfig.",
          "format": "int32",
          "type": "integer"
        },
        "identifyingFields": {
          "description": "Table fields that may uniquely identify a row within the table. When `actions.saveFindings.outputConfig.table` is specified, the values of columns specified here are available in the output table under `location.content_locations.record_location.record_key.id_values`. Nested fields such as `person.birthdate.year` are allowed.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Complete BigQuery table reference."
        },
        "sampleMethod": {
          "enumDescriptions": [
            "",
            "Scan groups of rows in the order BigQuery provides (default). Multiple groups of rows may be scanned in parallel, so results may not appear in the same order the rows are read.",
            "Randomly pick groups of rows to scan."
          ],
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Options defining BigQuery table and row identifiers."
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "type": "object",
      "properties": {
        "context": {
          "description": "The 'tweak', a context may be used for higher security since the same identifier in two different contexts won't be given the same surrogate. If the context is not set, a default tweak will be used. If the context is set but: 1. there is no record present when transforming a given value or 1. the field is not present when transforming a given value, a default tweak will be used. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and non-structured `ContentItem`s. Currently, the referenced field may be of value type integer or string. The tweak is constructed as a sequence of bytes in big endian byte order such that: - a 64 bit integer is encoded followed by a single byte of value 1 - a string is encoded in UTF-8 format followed by a single byte of value 2",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customAlphabet": {
          "type": "string",
          "description": "This is supported by mapping these to the alphanumeric characters that the FFX mode natively supports. This happens before/after encryption/decryption. Each character listed must appear only once. Number of characters must be in the range [2, 95]. This must be encoded as ASCII. The order of characters does not matter. The full list of allowed characters is: 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ~`!@#$%^&*()_-+={[}]|\\:;\"'\u003c,\u003e.?/"
        },
        "radix": {
          "format": "int32",
          "description": "The native way to select the alphabet. Must be in the range [2, 95].",
          "type": "integer"
        },
        "surrogateInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The custom infoType to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom infoType followed by the number of characters comprising the surrogate. The following scheme defines the format: info_type_name(surrogate_character_count):surrogate For example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom infoType [`SurrogateType`](https://cloud.google.com/dlp/docs/reference/rest/v2/InspectConfig#surrogatetype). This facilitates reversal of the surrogate when it occurs in free text. In order for inspection to work properly, the name of this infoType must not occur naturally anywhere in your data; otherwise, inspection may find a surrogate that does not correspond to an actual identifier. Therefore, choose your custom infoType name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE"
        },
        "commonAlphabet": {
          "description": "Common alphabets.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "`[0-9]` (radix of 10)",
            "`[0-9A-F]` (radix of 16)",
            "`[0-9A-Z]` (radix of 36)",
            "`[0-9A-Za-z]` (radix of 62)"
          ],
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ]
        },
        "cryptoKey": {
          "$ref": "GooglePrivacyDlpV2CryptoKey",
          "description": "Required. The key used by the encryption algorithm."
        }
      },
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption (FPE) with the FFX mode of operation; however when used in the `ReidentifyContent` API method, it serves the opposite function by reversing the surrogate back into the original identifier. The identifier must be encoded as ASCII. For a given crypto key and context, the same identifier will be replaced with the same surrogate. Identifiers must be at least two characters long. In the case that the identifier is the empty string, it will be skipped. See https://cloud.google.com/dlp/docs/pseudonymization to learn more. Note: We recommend using CryptoDeterministicConfig for all use cases which do not require preserving the input alphabet space and size, plus warrant referential integrity.",
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig"
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "description": "Generalization function that buckets values based on ranges. The ranges and replacement values are dynamically provided by the user for custom behavior, such as 1-30 -\u003e LOW 31-65 -\u003e MEDIUM 66-100 -\u003e HIGH This can be used on data of type: number, long, string, timestamp. If the bound `Value` type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/dlp/docs/concepts-bucketing to learn more.",
      "id": "GooglePrivacyDlpV2BucketingConfig",
      "type": "object",
      "properties": {
        "buckets": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          },
          "type": "array",
          "description": "Set of buckets. Ranges must be non-overlapping."
        }
      }
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "description": "Precise location of the finding within a document, record, image, or metadata container.",
      "properties": {
        "containerName": {
          "type": "string",
          "description": "Name of the container where the finding is located. The top level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs://{bucket}/{path}` * Datastore namespace: {namespace} Nested names could be absent if the embedded object has no string identifier (for an example an image contained within a document)."
[...]
