{
  "description": "Discover and protect your sensitive data. A fully managed service designed to help you discover, classify, and protect your valuable data assets with ease.",
  "ownerDomain": "google.com",
  "baseUrl": "https://dlp.googleapis.com/",
  "version": "v2",
  "protocol": "rest",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "id": "dlp:v2",
  "name": "dlp",
  "discoveryVersion": "v1",
  "rootUrl": "https://dlp.googleapis.com/",
  "basePath": "",
  "schemas": {
    "GooglePrivacyDlpV2DiscoveryConfig": {
      "description": "Configuration for discovery to scan resources for profile generation. Only one discovery configuration may exist per organization, folder, or project. The generated data profiles are retained according to the [data retention policy] (https://cloud.google.com/sensitive-data-protection/docs/data-profiles#retention).",
      "properties": {
        "lastRunTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp of the last time this config was executed.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name (max 100 chars)"
        },
        "inspectTemplates": {
          "description": "Detection logic for profile generation. Not all template features are used by Discovery. FindingLimits, include_quote and exclude_info_types have no impact on Discovery. Multiple templates may be provided if there is data in multiple regions. At most one template must be specified per-region (including \"global\"). Each region is scanned using the applicable template. If no region-specific template is specified, but a \"global\" template is specified, it will be copied to that region and used instead. If no global or region-specific template is provided for a region with data, that region's data will not be scanned. For more information, see https://cloud.google.com/sensitive-data-protection/docs/data-profiles#data-residency.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "orgConfig": {
          "$ref": "GooglePrivacyDlpV2OrgConfig",
          "description": "Only set when the parent is an org."
        },
        "actions": {
          "description": "Actions to execute at the completion of scanning.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DataProfileAction"
          }
        },
        "status": {
          "description": "Required. A status for this configuration.",
          "enumDescriptions": [
            "Unused",
            "The discovery config is currently active.",
            "The discovery config is paused temporarily."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "RUNNING",
            "PAUSED"
          ]
        },
        "createTime": {
          "description": "Output only. The creation timestamp of a DiscoveryConfig.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "type": "array",
          "description": "Output only. A stream of errors encountered when the config was activated. Repeated errors may result in the config automatically being paused. Output only field. Will return the last 100 errors. Whenever the config is modified this list will be cleared."
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DiscoveryTarget"
          },
          "description": "Target to match against for determining what to scan and how frequently."
        },
        "name": {
          "type": "string",
          "description": "Unique resource name for the DiscoveryConfig, assigned by the service when the DiscoveryConfig is created, for example `projects/dlp-test-project/locations/global/discoveryConfigs/53234423`."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of a DiscoveryConfig.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2DiscoveryConfig"
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryStats": {
      "properties": {
        "approxNumPhrases": {
          "type": "string",
          "description": "Approximate number of distinct phrases in the dictionary.",
          "format": "int64"
        }
      },
      "description": "Summary statistics of a custom dictionary.",
      "type": "object",
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryStats"
    },
    "GooglePrivacyDlpV2AuxiliaryTable": {
      "type": "object",
      "properties": {
        "quasiIds": {
          "description": "Required. Quasi-identifier columns.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiIdField"
          }
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2BigQueryTable",
          "description": "Required. Auxiliary table location."
        },
        "relativeFrequency": {
          "description": "Required. The relative frequency column must contain a floating-point number between 0 and 1 (inclusive). Null values are assumed to be zero.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "description": "An auxiliary table contains statistical information on the relative frequency of different quasi-identifiers values. It has one or several quasi-identifiers columns, and one column that indicates the relative frequency of each quasi-identifier tuple. If a tuple is present in the data but not in the auxiliary table, the corresponding relative frequency is assumed to be zero (and thus, the tuple is highly reidentifiable).",
      "id": "GooglePrivacyDlpV2AuxiliaryTable"
    },
    "GooglePrivacyDlpV2UpdateDiscoveryConfigRequest": {
      "description": "Request message for UpdateDiscoveryConfig.",
      "type": "object",
      "properties": {
        "discoveryConfig": {
          "description": "Required. New DiscoveryConfig value.",
          "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Mask to control which fields get updated."
        }
      },
      "id": "GooglePrivacyDlpV2UpdateDiscoveryConfigRequest"
    },
    "GooglePrivacyDlpV2InspectTemplate": {
      "id": "GooglePrivacyDlpV2InspectTemplate",
      "properties": {
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/inspectTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/inspectTemplates/TEMPLATE_ID`;",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Short description (max 256 chars)."
        },
        "inspectConfig": {
          "description": "The core content of the template. Configuration of the scanning process.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        }
      },
      "description": "The inspectTemplate contains a configuration (set of types of sensitive data to be detected) to be used anywhere you otherwise would normally specify InspectConfig. See https://cloud.google.com/sensitive-data-protection/docs/concepts-templates to learn more.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Conditions": {
      "properties": {
        "conditions": {
          "description": "A collection of conditions.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          },
          "type": "array"
        }
      },
      "description": "A collection of conditions.",
      "id": "GooglePrivacyDlpV2Conditions",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeidentifyDataSourceStats": {
      "properties": {
        "transformedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total size in bytes that were transformed in some way."
        },
        "transformationCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of successfully applied transformations."
        },
        "transformationErrorCount": {
          "description": "Number of errors encountered while trying to apply transformations.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2DeidentifyDataSourceStats",
      "type": "object",
      "description": "Summary of what was modified during a transformation."
    },
    "GooglePrivacyDlpV2NumericalStatsResult": {
      "properties": {
        "quantileValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "List of 99 values that partition the set of field values into 100 equal sized buckets.",
          "type": "array"
        },
        "maxValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Maximum value appearing in the column."
        },
        "minValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Minimum value appearing in the column."
        }
      },
      "id": "GooglePrivacyDlpV2NumericalStatsResult",
      "type": "object",
      "description": "Result of the numerical stats computation."
    },
    "GooglePrivacyDlpV2TimePartConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2TimePartConfig",
      "properties": {
        "partToExtract": {
          "enum": [
            "TIME_PART_UNSPECIFIED",
            "YEAR",
            "MONTH",
            "DAY_OF_MONTH",
            "DAY_OF_WEEK",
            "WEEK_OF_YEAR",
            "HOUR_OF_DAY"
          ],
          "enumDescriptions": [
            "Unused",
            "[0-9999]",
            "[1-12]",
            "[1-31]",
            "[1-7]",
            "[1-53]",
            "[0-23]"
          ],
          "description": "The part of the time to keep.",
          "type": "string"
        }
      },
      "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a portion of the value."
    },
    "GooglePrivacyDlpV2HybridFindingDetails": {
      "type": "object",
      "properties": {
        "containerDetails": {
          "$ref": "GooglePrivacyDlpV2Container",
          "description": "Details about the container where the content being inspected is from."
        },
        "rowOffset": {
          "format": "int64",
          "description": "Offset of the row for tables. Populate if the row(s) being scanned are part of a bigger dataset and you want to keep track of their absolute position.",
          "type": "string"
        },
        "tableOptions": {
          "$ref": "GooglePrivacyDlpV2TableOptions",
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys. If not known ahead of time, can also be set within each inspect hybrid call and the two will be merged. Note that identifying_fields will only be stored to BigQuery, and only if the BigQuery action has been included."
        },
        "fileOffset": {
          "description": "Offset in bytes of the line, from the beginning of the file, where the finding is located. Populate if the item being scanned is only part of a bigger item, such as a shard of a file and you want to track the absolute position of the finding.",
          "type": "string",
          "format": "int64"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels to represent user provided metadata about the data being inspected. If configured by the job, some key values may be required. The labels associated with `Finding`'s produced by hybrid inspection. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
        }
      },
      "description": "Populate to associate additional data with each finding.",
      "id": "GooglePrivacyDlpV2HybridFindingDetails"
    },
    "GooglePrivacyDlpV2DlpJob": {
      "properties": {
        "riskDetails": {
          "$ref": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
          "description": "Results from analyzing risk of a data source."
        },
        "lastModified": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the job was last modified by the system."
        },
        "startTime": {
          "description": "Time when the job started.",
          "type": "string",
          "format": "google-datetime"
        },
        "jobTriggerName": {
          "type": "string",
          "description": "If created by a job trigger, the resource name of the trigger that instantiated the job."
        },
        "state": {
          "type": "string",
          "description": "State of a job.",
          "enumDescriptions": [
            "Unused.",
            "The job has not yet started.",
            "The job is currently running. Once a job has finished it will transition to FAILED or DONE.",
            "The job is no longer running.",
            "The job was canceled before it could be completed.",
            "The job had an error and did not complete.",
            "The job is currently accepting findings via hybridInspect. A hybrid job in ACTIVE state may continue to have findings added to it through the calling of hybridInspect. After the job has finished no more calls to hybridInspect may be made. ACTIVE jobs can transition to DONE."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "CANCELED",
            "FAILED",
            "ACTIVE"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Time when the job was created.",
          "format": "google-datetime"
        },
        "errors": {
          "description": "A stream of errors encountered running the job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        },
        "inspectDetails": {
          "$ref": "GooglePrivacyDlpV2InspectDataSourceDetails",
          "description": "Results from inspecting a data source."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name."
        },
        "actionDetails": {
          "type": "array",
          "description": "Events that should occur after the job has completed.",
          "items": {
            "$ref": "GooglePrivacyDlpV2ActionDetails"
          }
        },
        "endTime": {
          "description": "Time when the job finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "enum": [
            "DLP_JOB_TYPE_UNSPECIFIED",
            "INSPECT_JOB",
            "RISK_ANALYSIS_JOB"
          ],
          "type": "string",
          "description": "The type of job.",
          "enumDescriptions": [
            "Defaults to INSPECT_JOB.",
            "The job inspected Google Cloud for sensitive data.",
            "The job executed a Risk Analysis computation."
          ]
        }
      },
      "description": "Combines all of the information about a DLP job.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DlpJob"
    },
    "GooglePrivacyDlpV2CreateStoredInfoTypeRequest": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest",
      "properties": {
        "config": {
          "description": "Required. Configuration of the storedInfoType to create.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        },
        "storedInfoTypeId": {
          "type": "string",
          "description": "The storedInfoType ID can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        }
      },
      "description": "Request message for CreateStoredInfoType."
    },
    "GooglePrivacyDlpV2DataProfileJobConfig": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The project that will run the scan. The DLP service account that exists within this project must have access to all resources that are profiled, and the Cloud DLP API must be enabled.",
          "type": "string"
        },
        "dataProfileActions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DataProfileAction"
          },
          "type": "array",
          "description": "Actions to execute at the completion of the job."
        },
        "inspectTemplates": {
          "description": "Detection logic for profile generation. Not all template features are used by profiles. FindingLimits, include_quote and exclude_info_types have no impact on data profiling. Multiple templates may be provided if there is data in multiple regions. At most one template must be specified per-region (including \"global\"). Each region is scanned using the applicable template. If no region-specific template is specified, but a \"global\" template is specified, it will be copied to that region and used instead. If no global or region-specific template is provided for a region with data, that region's data will not be scanned. For more information, see https://cloud.google.com/sensitive-data-protection/docs/data-profiles#data-residency.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "description": "The data to scan.",
          "$ref": "GooglePrivacyDlpV2DataProfileLocation"
        }
      },
      "id": "GooglePrivacyDlpV2DataProfileJobConfig",
      "description": "Configuration for setting up a job to scan resources for profile generation. Only one data profile configuration may exist per organization, folder, or project. The generated data profiles are retained according to the [data retention policy] (https://cloud.google.com/sensitive-data-protection/docs/data-profiles#retention)."
    },
    "GooglePrivacyDlpV2DeidentifyDataSourceDetails": {
      "description": "The results of a Deidentify action from an inspect job.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeidentifyDataSourceDetails",
      "properties": {
        "requestedOptions": {
          "$ref": "GooglePrivacyDlpV2RequestedDeidentifyOptions",
          "description": "De-identification config used for the request."
        },
        "deidentifyStats": {
          "description": "Stats about the de-identification operation.",
          "$ref": "GooglePrivacyDlpV2DeidentifyDataSourceStats"
        }
      }
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "properties": {
        "hotwordRule": {
          "$ref": "GooglePrivacyDlpV2HotwordRule",
          "description": "Hotword-based detection rule."
        }
      },
      "type": "object",
      "description": "Deprecated; use `InspectionRuleSet` instead. Rule for modifying a `CustomInfoType` to alter behavior under certain circumstances, depending on the specific details of the rule. Not supported for the `surrogate_type` custom infoType.",
      "id": "GooglePrivacyDlpV2DetectionRule"
    },
    "GooglePrivacyDlpV2KAnonymityConfig": {
      "description": "k-anonymity metric, used for analysis of reidentification risk.",
      "properties": {
        "quasiIds": {
          "description": "Set of fields to compute k-anonymity over. When multiple fields are specified, they are considered a single composite key. Structs and repeated data types are not supported; however, nested fields are supported so long as they are not structs themselves or nested within a repeated field.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array"
        },
        "entityId": {
          "$ref": "GooglePrivacyDlpV2EntityId",
          "description": "Message indicating that multiple rows might be associated to a single individual. If the same entity_id is associated to multiple quasi-identifier tuples over distinct rows, we consider the entire collection of tuples as the composite quasi-identifier. This collection is a multiset: the order in which the different tuples appear in the dataset is ignored, but their frequency is taken into account. Important note: a maximum of 1000 rows can be associated to a single entity ID. If more rows are associated with the same entity ID, some might be ignored."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2KAnonymityConfig"
    },
    "GooglePrivacyDlpV2RiskAnalysisJobConfig": {
      "properties": {
        "sourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          },
          "description": "Actions to execute at the completion of the job. Are executed in the order provided."
        },
        "privacyMetric": {
          "$ref": "GooglePrivacyDlpV2PrivacyMetric",
          "description": "Privacy metric to compute."
        }
      },
      "type": "object",
      "description": "Configuration for a risk analysis job. See https://cloud.google.com/sensitive-data-protection/docs/concepts-risk-analysis to learn more.",
      "id": "GooglePrivacyDlpV2RiskAnalysisJobConfig"
    },
    "GooglePrivacyDlpV2ProjectDataProfile": {
      "description": "An aggregated profile for this project, based on the resources profiled within it.",
      "id": "GooglePrivacyDlpV2ProjectDataProfile",
      "type": "object",
      "properties": {
        "sensitivityScore": {
          "description": "The sensitivity score of this project.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID that was profiled."
        },
        "profileStatus": {
          "description": "Success or error status of the last attempt to profile the project.",
          "$ref": "GooglePrivacyDlpV2ProfileStatus"
        },
        "dataRiskLevel": {
          "$ref": "GooglePrivacyDlpV2DataRiskLevel",
          "description": "The data risk level of this project."
        },
        "profileLastGenerated": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last time the profile was generated."
        },
        "name": {
          "description": "The resource name of the profile.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2InspectResult": {
      "id": "GooglePrivacyDlpV2InspectResult",
      "description": "All the findings for a single scanned item.",
      "type": "object",
      "properties": {
        "findingsTruncated": {
          "type": "boolean",
          "description": "If true, then this item might have more findings than were returned, and the findings returned are an arbitrary subset of all findings. The findings list might be truncated because the input items were too large, or because the server reached the maximum amount of resources allowed for a single API call. For best results, divide the input into smaller batches."
        },
        "findings": {
          "description": "List of findings for an item.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Finding"
          },
          "type": "array"
        }
      }
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code."
        },
        "quasiIds": {
          "description": "Required. Fields considered to be quasi-identifiers. No two fields can have the same tag.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          }
        },
        "auxiliaryTables": {
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          },
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers field must appear in exactly one field of one auxiliary table.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
      "type": "object",
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to figure out that one given individual appears in a de-identified dataset. Similarly to the k-map metric, we cannot compute δ-presence exactly without knowing the attack dataset, so we use a statistical model instead."
    },
    "GooglePrivacyDlpV2StoredInfoTypeConfig": {
      "properties": {
        "displayName": {
          "description": "Display name of the StoredInfoType (max 256 characters).",
          "type": "string"
        },
        "regex": {
          "description": "Store regular expression-based StoredInfoType.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "description": {
          "type": "string",
          "description": "Description of the StoredInfoType (max 256 characters)."
        },
        "dictionary": {
          "description": "Store dictionary-based CustomInfoType.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "largeCustomDictionary": {
          "description": "StoredInfoType where findings are defined by a dictionary of phrases.",
          "$ref": "GooglePrivacyDlpV2LargeCustomDictionaryConfig"
        }
      },
      "description": "Configuration for stored infoTypes. All fields and subfield are provided by the user. For more information, see https://cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes.",
      "type": "object",
      "id": "GooglePrivacyDlpV2StoredInfoTypeConfig"
    },
    "GooglePrivacyDlpV2DiscoveryTarget": {
      "properties": {
        "secretsTarget": {
          "description": "Discovery target that looks for credentials and secrets stored in cloud resource metadata and reports them as vulnerabilities to Security Command Center. Only one target of this type is allowed.",
          "$ref": "GooglePrivacyDlpV2SecretsDiscoveryTarget"
        },
        "bigQueryTarget": {
          "description": "BigQuery target for Discovery. The first target to match a table will be the one applied.",
          "$ref": "GooglePrivacyDlpV2BigQueryDiscoveryTarget"
        },
        "cloudSqlTarget": {
          "$ref": "GooglePrivacyDlpV2CloudSqlDiscoveryTarget",
          "description": "Cloud SQL target for Discovery. The first target to match a table will be the one applied."
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryTarget",
      "type": "object",
      "description": "Target used to match against for Discovery."
    },
    "GooglePrivacyDlpV2BigQueryTable": {
      "type": "object",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Dataset ID of the table."
        },
        "tableId": {
          "description": "Name of the table.",
          "type": "string"
        },
        "projectId": {
          "description": "The Google Cloud Platform project ID of the project containing the table. If omitted, project ID is inferred from the API call.",
          "type": "string"
        }
      },
      "description": "Message defining the location of a BigQuery table. A table is uniquely identified by its project_id, dataset_id, and table_name. Within a query a table is often referenced with a string in the format of: `:.` or `..`.",
      "id": "GooglePrivacyDlpV2BigQueryTable"
    },
    "GooglePrivacyDlpV2RecordTransformation": {
      "description": "The field in a record to transform.",
      "id": "GooglePrivacyDlpV2RecordTransformation",
      "type": "object",
      "properties": {
        "containerVersion": {
          "type": "string",
          "description": "Container version, if available (\"generation\" for Cloud Storage)."
        },
        "fieldId": {
          "description": "For record transformations, provide a field.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "containerTimestamp": {
          "format": "google-datetime",
          "description": "Findings container modification timestamp, if applicable.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2ActionDetails": {
      "type": "object",
      "description": "The results of an Action.",
      "properties": {
        "deidentifyDetails": {
          "description": "Outcome of a de-identification action.",
          "$ref": "GooglePrivacyDlpV2DeidentifyDataSourceDetails"
        }
      },
      "id": "GooglePrivacyDlpV2ActionDetails"
    },
    "GooglePrivacyDlpV2FinishDlpJobRequest": {
      "id": "GooglePrivacyDlpV2FinishDlpJobRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for finishing a DLP hybrid job."
    },
    "GooglePrivacyDlpV2TransformationLocation": {
      "id": "GooglePrivacyDlpV2TransformationLocation",
      "description": "Specifies the location of a transformation.",
      "properties": {
        "containerType": {
          "enumDescriptions": [
            "Unused.",
            "Body of a file.",
            "Metadata for a file.",
            "A table."
          ],
          "description": "Information about the functionality of the container where this finding occurred, if available.",
          "enum": [
            "TRANSFORM_UNKNOWN_CONTAINER",
            "TRANSFORM_BODY",
            "TRANSFORM_METADATA",
            "TRANSFORM_TABLE"
          ],
          "type": "string"
        },
        "findingId": {
          "description": "For infotype transformations, link to the corresponding findings ID so that location information does not need to be duplicated. Each findings ID correlates to an entry in the findings output table, this table only gets created when users specify to save findings (add the save findings action to the request).",
          "type": "string"
        },
        "recordTransformation": {
          "description": "For record transformations, provide a field and container information.",
          "$ref": "GooglePrivacyDlpV2RecordTransformation"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Schedule": {
      "properties": {
        "recurrencePeriodDuration": {
          "description": "With this option a job is started on a regular periodic basis. For example: every day (86400 seconds). A scheduled start time will be skipped if the previous execution has not ended when its scheduled time occurs. This value must be set to a time duration greater than or equal to 1 day and can be no longer than 60 days.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Schedule for inspect job triggers.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Schedule"
    },
    "GooglePrivacyDlpV2LDiversityConfig": {
      "properties": {
        "sensitiveAttribute": {
          "description": "Sensitive field for computing the l-value.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "quasiIds": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "Set of quasi-identifiers indicating how equivalence classes are defined for the l-diversity computation. When multiple fields are specified, they are considered a single composite key."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2LDiversityConfig",
      "description": "l-diversity metric, used for analysis of reidentification risk."
    },
    "GooglePrivacyDlpV2SurrogateType": {
      "description": "Message for detecting output from deidentification transformations such as [`CryptoReplaceFfxFpeConfig`](https://cloud.google.com/sensitive-data-protection/docs/reference/rest/v2/organizations.deidentifyTemplates#cryptoreplaceffxfpeconfig). These types of transformations are those that perform pseudonymization, thereby producing a \"surrogate\" as output. This should be used in conjunction with a field on the transformation such as `surrogate_info_type`. This CustomInfoType does not support the use of `detection_rules`.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2SurrogateType"
    },
    "GooglePrivacyDlpV2CloudStorageFileSet": {
      "id": "GooglePrivacyDlpV2CloudStorageFileSet",
      "type": "object",
      "description": "Message representing a set of files in Cloud Storage.",
      "properties": {
        "url": {
          "description": "The url, in the format `gs:///`. Trailing wildcard in the path is allowed.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2CharacterMaskConfig": {
      "type": "object",
      "properties": {
        "maskingCharacter": {
          "description": "Character to use to mask the sensitive values—for example, `*` for an alphabetic string such as a name, or `0` for a numeric string such as ZIP code or credit card number. This string must have a length of 1. If not supplied, this value defaults to `*` for strings, and `0` for digits.",
          "type": "string"
        },
        "reverseOrder": {
          "type": "boolean",
          "description": "Mask characters in reverse order. For example, if `masking_character` is `0`, `number_to_mask` is `14`, and `reverse_order` is `false`, then the input string `1234-5678-9012-3456` is masked as `00000000000000-3456`. If `masking_character` is `*`, `number_to_mask` is `3`, and `reverse_order` is `true`, then the string `12345` is masked as `12***`."
        },
        "numberToMask": {
          "format": "int32",
          "description": "Number of characters to mask. If not set, all matching chars will be masked. Skipped characters do not count towards this tally. If `number_to_mask` is negative, this denotes inverse masking. Cloud DLP masks all but a number of characters. For example, suppose you have the following values: - `masking_character` is `*` - `number_to_mask` is `-4` - `reverse_order` is `false` - `CharsToIgnore` includes `-` - Input string is `1234-5678-9012-3456` The resulting de-identified string is `****-****-****-3456`. Cloud DLP masks all but the last four characters. If `reverse_order` is `true`, all but the first four characters are masked as `1234-****-****-****`.",
          "type": "integer"
        },
        "charactersToIgnore": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2CharsToIgnore"
          },
          "description": "When masking a string, items in this list will be skipped when replacing characters. For example, if the input string is `555-555-5555` and you instruct Cloud DLP to skip `-` and mask 5 characters with `*`, Cloud DLP returns `***-**5-5555`."
        }
      },
      "description": "Partially mask a string by replacing a given number of characters with a fixed character. Masking can start from the beginning or end of the string. This can be used on data of any type (numbers, longs, and so on) and when de-identifying structured data we'll attempt to preserve the original data's type. (This allows you to take a long like 123 and modify it to a string like **3.",
      "id": "GooglePrivacyDlpV2CharacterMaskConfig"
    },
    "GooglePrivacyDlpV2TransformationConfig": {
      "properties": {
        "imageRedactTemplate": {
          "type": "string",
          "description": "Image redact template. If this template is specified, it will serve as the de-identify template for images. If this template is not set, all findings in the image will be redacted with a black box."
        },
        "structuredDeidentifyTemplate": {
          "type": "string",
          "description": "Structured de-identify template. If this template is specified, it will serve as the de-identify template for structured content such as delimited files and tables. If this template is not set but the `deidentify_template` is set, then `deidentify_template` will also apply to the structured content. If neither template is set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify structured content."
        },
        "deidentifyTemplate": {
          "description": "De-identify template. If this template is specified, it will serve as the default de-identify template. This template cannot contain `record_transformations` since it can be used for unstructured content such as free-form text files. If this template is not set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify unstructured content.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2TransformationConfig",
      "description": "User specified templates and configs for how to deidentify structured, unstructures, and image files. User must provide either a unstructured deidentify template or at least one redact image config.",
      "type": "object"
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "type": "object",
      "id": "GooglePrivacyDlpV2StoredInfoType",
      "properties": {
        "currentVersion": {
          "description": "Current version of the stored info type.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "pendingVersions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          },
          "description": "Pending versions of the stored info type. Empty if no versions are pending.",
          "type": "array"
        }
      },
      "description": "StoredInfoType resource message that contains information about the current version and any pending updates."
    },
    "GooglePrivacyDlpV2FindingLimits": {
      "type": "object",
      "description": "Configuration to control the number of findings returned for inspection. This is not used for de-identification or data profiling. When redacting sensitive data from images, finding limits don't apply. They can cause unexpected or inconsistent results, where only some data is redacted. Don't include finding limits in RedactImage requests. Otherwise, Cloud DLP returns an error.",
      "id": "GooglePrivacyDlpV2FindingLimits",
      "properties": {
        "maxFindingsPerRequest": {
          "type": "integer",
          "description": "Max number of findings that are returned per request or job. If you set this field in an InspectContentRequest, the resulting maximum value is the value that you set or 3,000, whichever is lower. This value isn't a hard limit. If an inspection reaches this limit, the inspection ends gradually, not abruptly. Therefore, the actual number of findings that Cloud DLP returns can be multiple times higher than this value.",
          "format": "int32"
        },
        "maxFindingsPerInfoType": {
          "type": "array",
          "description": "Configuration of findings limit given for specified infoTypes.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLimit"
          }
        },
        "maxFindingsPerItem": {
          "type": "integer",
          "format": "int32",
          "description": "Max number of findings that are returned for each item scanned. When set within an InspectContentRequest, this field is ignored. This value isn't a hard limit. If the number of findings for an item reaches this limit, the inspection of that item ends gradually, not abruptly. Therefore, the actual number of findings that Cloud DLP returns for the item can be multiple times higher than this value."
        }
      }
    },
    "GooglePrivacyDlpV2FixedSizeBucketingConfig": {
      "type": "object",
      "description": "Buckets values based on fixed size ranges. The Bucketing transformation can provide all of this functionality, but requires more configuration. This message is provided as a convenience to the user for simple bucketing strategies. The transformed value will be a hyphenated string of {lower_bound}-{upper_bound}. For example, if lower_bound = 10 and upper_bound = 20, all values that are within this bucket will be replaced with \"10-20\". This can be used on data of type: double, long. If the bound Value type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/sensitive-data-protection/docs/concepts-bucketing to learn more.",
      "id": "GooglePrivacyDlpV2FixedSizeBucketingConfig",
      "properties": {
        "lowerBound": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Required. Lower bound value of buckets. All values less than `lower_bound` are grouped together into a single bucket; for example if `lower_bound` = 10, then all values less than 10 are replaced with the value \"-10\"."
        },
        "upperBound": {
          "description": "Required. Upper bound value of buckets. All values greater than upper_bound are grouped together into a single bucket; for example if `upper_bound` = 89, then all values greater than 89 are replaced with the value \"89+\".",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "bucketSize": {
          "type": "number",
          "description": "Required. Size of each bucket (except for minimum and maximum buckets). So if `lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the following buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60, 60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works.",
          "format": "double"
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    },
    "GooglePrivacyDlpV2VersionDescription": {
      "properties": {
        "version": {
          "description": "Name of the version",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the version."
        }
      },
      "description": "Details about each available version for an infotype.",
      "id": "GooglePrivacyDlpV2VersionDescription",
      "type": "object"
    },
    "GooglePrivacyDlpV2RecordKey": {
      "description": "Message for a unique key indicating a record that contains a finding.",
      "properties": {
        "datastoreKey": {
          "$ref": "GooglePrivacyDlpV2DatastoreKey",
          "description": "BigQuery key"
        },
        "idValues": {
          "description": "Values of identifying columns in the given row. Order of values matches the order of `identifying_fields` specified in the scanning request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bigQueryKey": {
          "$ref": "GooglePrivacyDlpV2BigQueryKey",
          "description": "Datastore key"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2RecordKey"
    },
    "GooglePrivacyDlpV2BoundingBox": {
      "id": "GooglePrivacyDlpV2BoundingBox",
      "properties": {
        "height": {
          "description": "Height of the bounding box in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "left": {
          "description": "Left coordinate of the bounding box. (0,0) is upper left.",
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "type": "integer",
          "format": "int32",
          "description": "Top coordinate of the bounding box. (0,0) is upper left."
        },
        "width": {
          "format": "int32",
          "description": "Width of the bounding box in pixels.",
          "type": "integer"
        }
      },
      "description": "Bounding box encompassing detected text within an image.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Condition": {
      "id": "GooglePrivacyDlpV2Condition",
      "type": "object",
      "description": "The field type of `value` and `field` do not need to match to be considered equal, but not all comparisons are possible. EQUAL_TO and NOT_EQUAL_TO attempt to compare even with incompatible types, but all other comparisons are invalid with incompatible types. A `value` of type: - `string` can be compared against all other types - `boolean` can only be compared against other booleans - `integer` can be compared against doubles or a string if the string value can be parsed as an integer. - `double` can be compared against integers or a string if the string can be parsed as a double. - `Timestamp` can be compared against strings in RFC 3339 date string format. - `TimeOfDay` can be compared against timestamps and strings in the format of 'HH:mm:ss'. If we fail to compare do to type mismatch, a warning will be given and the condition will evaluate to false.",
      "properties": {
        "operator": {
          "enumDescriptions": [
            "Unused",
            "Equal. Attempts to match even with incompatible types.",
            "Not equal to. Attempts to match even with incompatible types.",
            "Greater than.",
            "Less than.",
            "Greater than or equals.",
            "Less than or equals.",
            "Exists"
          ],
          "enum": [
            "RELATIONAL_OPERATOR_UNSPECIFIED",
            "EQUAL_TO",
            "NOT_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUALS",
            "LESS_THAN_OR_EQUALS",
            "EXISTS"
          ],
          "type": "string",
          "description": "Required. Operator used to compare the field or infoType to the value."
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Field within the record this condition is evaluated against."
        },
        "value": {
          "description": "Value to compare against. [Mandatory, except for `EXISTS` tests.]",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      }
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "type": "object",
      "properties": {
        "fields": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "description": "Required. Input field(s) to apply the transformation to. When you have columns that reference their position within a list, omit the index from the FieldId. FieldId name matching ignores the index. For example, instead of \"contact.nums[0].type\", use \"contact.nums.type\".",
          "type": "array"
        },
        "condition": {
          "description": "Only apply the transformation if the condition evaluates to true for the given `RecordCondition`. The conditions are allowed to reference fields that are not used in the actual transformation. Example Use Cases: - Apply a different bucket transformation to an age column if the zip code column for the same record is within a specific range. - Redact a field if the date of birth field is greater than 85.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        },
        "infoTypeTransformations": {
          "description": "Treat the contents of the field as free text, and selectively transform content that matches an `InfoType`.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "primitiveTransformation": {
          "description": "Apply the transformation to the entire field.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        }
      },
      "description": "The transformation to apply to the field.",
      "id": "GooglePrivacyDlpV2FieldTransformation"
    },
    "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest": {
      "properties": {
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "deidentifyTemplate": {
          "description": "Required. The DeidentifyTemplate to create.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        },
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        }
      },
      "description": "Request message for CreateDeidentifyTemplate.",
      "id": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2Range": {
      "description": "Generic half-open interval [start, end)",
      "type": "object",
      "id": "GooglePrivacyDlpV2Range",
      "properties": {
        "start": {
          "format": "int64",
          "type": "string",
          "description": "Index of the first character of the range (inclusive)."
        },
        "end": {
          "type": "string",
          "description": "Index of the last character of the range (exclusive).",
          "format": "int64"
        }
      }
    },
    "GooglePrivacyDlpV2DataRiskLevel": {
      "description": "Score is a summary of all elements in the data profile. A higher number means more risk.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DataRiskLevel",
      "properties": {
        "score": {
          "type": "string",
          "description": "The score applied to the resource.",
          "enum": [
            "RISK_SCORE_UNSPECIFIED",
            "RISK_LOW",
            "RISK_MODERATE",
            "RISK_HIGH"
          ],
          "enumDescriptions": [
            "Unused.",
            "Low risk - Lower indication of sensitive data that appears to have additional access restrictions in place or no indication of sensitive data found.",
            "Medium risk - Sensitive data may be present but additional access or fine grain access restrictions appear to be present. Consider limiting access even further or transform data to mask.",
            "High risk – SPII may be present. Access controls may include public ACLs. Exfiltration of data may lead to user data loss. Re-identification of users may be possible. Consider limiting usage and or removing SPII."
          ]
        }
      }
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption (FPE) with the FFX mode of operation; however when used in the `ReidentifyContent` API method, it serves the opposite function by reversing the surrogate back into the original identifier. The identifier must be encoded as ASCII. For a given crypto key and context, the same identifier will be replaced with the same surrogate. Identifiers must be at least two characters long. In the case that the identifier is the empty string, it will be skipped. See https://cloud.google.com/sensitive-data-protection/docs/pseudonymization to learn more. Note: We recommend using CryptoDeterministicConfig for all use cases which do not require preserving the input alphabet space and size, plus warrant referential integrity.",
      "properties": {
        "radix": {
          "description": "The native way to select the alphabet. Must be in the range [2, 95].",
          "format": "int32",
          "type": "integer"
        },
        "context": {
          "description": "The 'tweak', a context may be used for higher security since the same identifier in two different contexts won't be given the same surrogate. If the context is not set, a default tweak will be used. If the context is set but: 1. there is no record present when transforming a given value or 1. the field is not present when transforming a given value, a default tweak will be used. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and unstructured `ContentItem`s. Currently, the referenced field may be of value type integer or string. The tweak is constructed as a sequence of bytes in big endian byte order such that: - a 64 bit integer is encoded followed by a single byte of value 1 - a string is encoded in UTF-8 format followed by a single byte of value 2",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customAlphabet": {
          "description": "This is supported by mapping these to the alphanumeric characters that the FFX mode natively supports. This happens before/after encryption/decryption. Each character listed must appear only once. Number of characters must be in the range [2, 95]. This must be encoded as ASCII. The order of characters does not matter. The full list of allowed characters is: 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz ~`!@#$%^&*()_-+={[}]|\\:;\"'\u003c,\u003e.?/",
          "type": "string"
        },
        "cryptoKey": {
          "description": "Required. The key used by the encryption algorithm.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "commonAlphabet": {
          "enumDescriptions": [
            "Unused.",
            "`[0-9]` (radix of 10)",
            "`[0-9A-F]` (radix of 16)",
            "`[0-9A-Z]` (radix of 36)",
            "`[0-9A-Za-z]` (radix of 62)"
          ],
          "description": "Common alphabets.",
          "type": "string",
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ]
        },
        "surrogateInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The custom infoType to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom infoType followed by the number of characters comprising the surrogate. The following scheme defines the format: info_type_name(surrogate_character_count):surrogate For example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom infoType [`SurrogateType`](https://cloud.google.com/sensitive-data-protection/docs/reference/rest/v2/InspectConfig#surrogatetype). This facilitates reversal of the surrogate when it occurs in free text. In order for inspection to work properly, the name of this infoType must not occur naturally anywhere in your data; otherwise, inspection may find a surrogate that does not correspond to an actual identifier. Therefore, choose your custom infoType name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE"
        }
      }
    },
    "GooglePrivacyDlpV2ListProjectDataProfilesResponse": {
      "id": "GooglePrivacyDlpV2ListProjectDataProfilesResponse",
      "properties": {
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        },
        "projectDataProfiles": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ProjectDataProfile"
          },
          "description": "List of data profiles.",
          "type": "array"
        }
      },
      "description": "List of profiles generated for a given organization or project.",
      "type": "object"
    },
    "GooglePrivacyDlpV2SensitivityScore": {
      "properties": {
        "score": {
          "description": "The sensitivity score applied to the resource.",
          "enum": [
            "SENSITIVITY_SCORE_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "enumDescriptions": [
            "Unused.",
            "No sensitive information detected. The resource isn't publicly accessible.",
            "Medium risk. Contains personally identifiable information (PII), potentially sensitive data, or fields with free-text data that are at a higher risk of having intermittent sensitive data. Consider limiting access.",
            "High risk. Sensitive personally identifiable information (SPII) can be present. Exfiltration of data can lead to user data loss. Re-identification of users might be possible. Consider limiting usage and or removing SPII."
          ],
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2SensitivityScore",
      "description": "Score is calculated from of all elements in the data profile. A higher level means the data is more sensitive.",
      "type": "object"
    },
    "GooglePrivacyDlpV2LDiversityHistogramBucket": {
      "properties": {
        "bucketSize": {
          "description": "Total number of equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValueCount": {
          "format": "int64",
          "description": "Total number of distinct equivalence classes in this bucket.",
          "type": "string"
        },
        "sensitiveValueFrequencyLowerBound": {
          "description": "Lower bound on the sensitive value frequencies of the equivalence classes in this bucket.",
          "format": "int64",
          "type": "string"
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityEquivalenceClass"
          }
        },
        "sensitiveValueFrequencyUpperBound": {
          "format": "int64",
          "type": "string",
          "description": "Upper bound on the sensitive value frequencies of the equivalence classes in this bucket."
        }
      },
      "id": "GooglePrivacyDlpV2LDiversityHistogramBucket",
      "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
      "type": "object"
    },
    "GooglePrivacyDlpV2RequestedOptions": {
      "description": "Snapshot of the inspection configuration.",
      "type": "object",
      "properties": {
        "jobConfig": {
          "description": "Inspect config.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "snapshotInspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "If run with an InspectTemplate, a snapshot of its state at the time of this run."
        }
      },
      "id": "GooglePrivacyDlpV2RequestedOptions"
    },
    "GooglePrivacyDlpV2LDiversityResult": {
      "properties": {
        "sensitiveValueFrequencyHistogramBuckets": {
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityHistogramBucket"
          },
          "type": "array",
          "description": "Histogram of l-diversity equivalence class sensitive value frequencies."
        }
      },
      "type": "object",
      "description": "Result of the l-diversity computation.",
      "id": "GooglePrivacyDlpV2LDiversityResult"
    },
    "GooglePrivacyDlpV2ReidentifyContentResponse": {
      "type": "object",
      "description": "Results of re-identifying an item.",
      "properties": {
        "item": {
          "description": "The re-identified item.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "overview": {
          "description": "An overview of the changes that were made to the `item`.",
          "$ref": "GooglePrivacyDlpV2TransformationOverview"
        }
      },
      "id": "GooglePrivacyDlpV2ReidentifyContentResponse"
    },
    "GooglePrivacyDlpV2TaggedField": {
      "id": "GooglePrivacyDlpV2TaggedField",
      "type": "object",
      "properties": {
        "customTag": {
          "type": "string",
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below)."
        },
        "field": {
          "description": "Required. Identifies the column.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter."
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data"
        }
      },
      "description": "A column with a semantic tag attached."
    },
    "GooglePrivacyDlpV2ListStoredInfoTypesResponse": {
      "properties": {
        "storedInfoTypes": {
          "description": "List of storedInfoTypes, up to page_size in ListStoredInfoTypesRequest.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoType"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then the next page token to be used in the following ListStoredInfoTypes request."
        }
      },
      "id": "GooglePrivacyDlpV2ListStoredInfoTypesResponse",
      "type": "object",
      "description": "Response message for ListStoredInfoTypes."
    },
    "GooglePrivacyDlpV2Regex": {
      "type": "object",
      "description": "Message defining a custom regular expression.",
      "id": "GooglePrivacyDlpV2Regex",
      "properties": {
        "groupIndexes": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The index of the submatch to extract as findings. When not specified, the entire match is returned. No more than 3 may be included."
        },
        "pattern": {
          "description": "Pattern defining the regular expression. Its syntax (https://github.com/google/re2/wiki/Syntax) can be found under the google/re2 repository on GitHub.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2DataProfilePubSubCondition": {
      "id": "GooglePrivacyDlpV2DataProfilePubSubCondition",
      "properties": {
        "expressions": {
          "$ref": "GooglePrivacyDlpV2PubSubExpressions",
          "description": "An expression."
        }
      },
      "description": "A condition for determining whether a Pub/Sub should be triggered.",
      "type": "object"
    },
    "GooglePrivacyDlpV2EntityId": {
      "type": "object",
      "id": "GooglePrivacyDlpV2EntityId",
      "description": "An entity in a dataset is a field or set of fields that correspond to a single person. For example, in medical records the `EntityId` might be a patient identifier, or for financial records it might be an account identifier. This message is used when generalizations or analysis must take into account that multiple rows correspond to the same entity.",
      "properties": {
        "field": {
          "description": "Composite key indicating which field contains the entity identifier.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      }
    },
    "GooglePrivacyDlpV2QuasiId": {
      "type": "object",
      "id": "GooglePrivacyDlpV2QuasiId",
      "properties": {
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data"
        },
        "field": {
          "description": "Required. Identifies the column.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below).",
          "type": "string"
        }
      },
      "description": "A column with a semantic tag attached."
    },
    "GooglePrivacyDlpV2QuasiIdField": {
      "type": "object",
      "properties": {
        "customTag": {
          "type": "string",
          "description": "A auxiliary field."
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column."
        }
      },
      "id": "GooglePrivacyDlpV2QuasiIdField",
      "description": "A quasi-identifier column has a custom_tag, used to know which column in the data corresponds to which column in the statistical model."
    },
    "GooglePrivacyDlpV2SchemaModifiedCadence": {
      "id": "GooglePrivacyDlpV2SchemaModifiedCadence",
      "description": "How frequently to modify the profile when the table's schema is modified.",
      "type": "object",
      "properties": {
        "types": {
          "items": {
            "type": "string",
            "enum": [
              "SQL_SCHEMA_MODIFICATION_UNSPECIFIED",
              "NEW_COLUMNS",
              "REMOVED_COLUMNS"
            ],
            "enumDescriptions": [
              "Unused.",
              "New columns have appeared.",
              "Columns have been removed from the table."
            ]
          },
          "description": "The types of schema modifications to consider. Defaults to NEW_COLUMNS.",
          "type": "array"
        },
        "frequency": {
          "type": "string",
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "description": "Frequency to regenerate data profiles when the schema is modified. Defaults to monthly."
        }
      }
    },
    "GooglePrivacyDlpV2PathElement": {
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "id": "GooglePrivacyDlpV2PathElement",
      "properties": {
        "id": {
          "type": "string",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "format": "int64"
        },
        "kind": {
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeDescription": {
      "id": "GooglePrivacyDlpV2InfoTypeDescription",
      "type": "object",
      "description": "InfoType description.",
      "properties": {
        "sensitivityScore": {
          "$ref": "GooglePrivacyDlpV2SensitivityScore",
          "description": "The default sensitivity of the infoType."
        },
        "name": {
          "type": "string",
          "description": "Internal name of the infoType."
        },
        "versions": {
          "description": "A list of available versions for the infotype.",
          "items": {
            "$ref": "GooglePrivacyDlpV2VersionDescription"
          },
          "type": "array"
        },
        "displayName": {
          "description": "Human readable form of the infoType name.",
          "type": "string"
        },
        "supportedBy": {
          "items": {
            "enum": [
              "ENUM_TYPE_UNSPECIFIED",
              "INSPECT",
              "RISK_ANALYSIS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unused.",
              "Supported by the inspect operations.",
              "Supported by the risk analysis operations."
            ]
          },
          "type": "array",
          "description": "Which parts of the API supports this InfoType."
        },
        "categories": {
          "type": "array",
          "description": "The category of the infoType.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeCategory"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the infotype. Translated when language is provided in the request."
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "description": "A transformation to apply to text that is identified as a specific info_type.",
      "id": "GooglePrivacyDlpV2InfoTypeTransformation",
      "properties": {
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "Required. Primitive transformation to apply to the infoType."
        },
        "infoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "description": "InfoTypes to apply the transformation to. An empty list will cause this transformation to apply to all findings that correspond to infoTypes that were requested in `InspectConfig`.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest": {
      "id": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask"
        },
        "deidentifyTemplate": {
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate",
          "description": "New DeidentifyTemplate value."
        }
      },
      "description": "Request message for UpdateDeidentifyTemplate."
    },
    "GooglePrivacyDlpV2CloudSqlDiscoveryTarget": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CloudSqlDiscoveryTarget",
      "description": "Target used to match against for discovery with Cloud SQL tables.",
      "properties": {
        "disabled": {
          "description": "Disable profiling for database resources that match this filter.",
          "$ref": "GooglePrivacyDlpV2Disabled"
        },
        "generationCadence": {
          "$ref": "GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadence",
          "description": "How often and when to update profiles. New tables that match both the filter and conditions are scanned as quickly as possible depending on system capacity."
        },
        "conditions": {
          "$ref": "GooglePrivacyDlpV2DiscoveryCloudSqlConditions",
          "description": "In addition to matching the filter, these conditions must be true before a profile is generated."
        },
        "filter": {
          "$ref": "GooglePrivacyDlpV2DiscoveryCloudSqlFilter",
          "description": "Required. The tables the discovery cadence applies to. The first target with a matching filter will be the one to apply to a table."
        }
      }
    },
    "GooglePrivacyDlpV2HybridInspectStatistics": {
      "properties": {
        "processedCount": {
          "description": "The number of hybrid inspection requests processed within this job.",
          "type": "string",
          "format": "int64"
        },
        "pendingCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of hybrid requests currently being processed. Only populated when called via method `getDlpJob`. A burst of traffic may cause hybrid inspect requests to be enqueued. Processing will take place as quickly as possible, but resource limitations may impact how long a request is enqueued for."
        },
        "abortedCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of hybrid inspection requests aborted because the job ran out of quota or was ended before they could be processed."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridInspectStatistics",
      "description": "Statistics related to processing hybrid inspect requests."
    },
    "GooglePrivacyDlpV2Export": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Export",
      "properties": {
        "profileTable": {
          "description": "Store all table and column profiles in an existing table or a new table in an existing dataset. Each re-generation will result in new rows in BigQuery. Data is inserted using [streaming insert](https://cloud.google.com/blog/products/bigquery/life-of-a-bigquery-streaming-insert) and so data may be in the buffer for a period of time after the profile has finished. The Pub/Sub notification is sent before the streaming buffer is guaranteed to be written, so data may not be instantly visible to queries by the time your topic receives the Pub/Sub notification.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "description": "If set, the detailed data profiles will be persisted to the location of your choice whenever updated."
    },
    "GooglePrivacyDlpV2ListInfoTypesResponse": {
      "properties": {
        "infoTypes": {
          "description": "Set of sensitive infoTypes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeDescription"
          }
        }
      },
      "id": "GooglePrivacyDlpV2ListInfoTypesResponse",
      "description": "Response to the ListInfoTypes request.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ListConnectionsResponse": {
      "properties": {
        "connections": {
          "description": "List of connections.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Connection"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. An empty value means there are no more results.",
          "type": "string"
        }
      },
      "description": "Response message for ListConnections.",
      "id": "GooglePrivacyDlpV2ListConnectionsResponse",
      "type": "object"
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "description": "Generalization function that buckets values based on ranges. The ranges and replacement values are dynamically provided by the user for custom behavior, such as 1-30 -\u003e LOW, 31-65 -\u003e MEDIUM, 66-100 -\u003e HIGH. This can be used on data of type: number, long, string, timestamp. If the bound `Value` type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/sensitive-data-protection/docs/concepts-bucketing to learn more.",
      "properties": {
        "buckets": {
          "description": "Set of buckets. Ranges must be non-overlapping.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          }
        }
      },
      "id": "GooglePrivacyDlpV2BucketingConfig",
      "type": "object"
    },
    "GooglePrivacyDlpV2ExcludeInfoTypes": {
      "description": "List of excluded infoTypes.",
      "properties": {
        "infoTypes": {
          "type": "array",
          "description": "InfoType list in ExclusionRule rule drops a finding when it overlaps or contained within with a finding of an infoType from this list. For example, for `InspectionRuleSet.info_types` containing \"PHONE_NUMBER\"` and `exclusion_rule` containing `exclude_info_types.info_types` with \"EMAIL_ADDRESS\" the phone number findings are dropped if they overlap with EMAIL_ADDRESS finding. That leads to \"555-222-2222@example.org\" to generate only a single finding, namely email address.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2ExcludeInfoTypes"
    },
    "GooglePrivacyDlpV2DiscoverySchemaModifiedCadence": {
      "type": "object",
      "properties": {
        "frequency": {
          "description": "How frequently profiles may be updated when schemas are modified. Defaults to monthly.",
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "type": "string"
        },
        "types": {
          "items": {
            "type": "string",
            "enum": [
              "SCHEMA_MODIFICATION_UNSPECIFIED",
              "SCHEMA_NEW_COLUMNS",
              "SCHEMA_REMOVED_COLUMNS"
            ],
            "enumDescriptions": [
              "Unused",
              "Profiles should be regenerated when new columns are added to the table. Default.",
              "Profiles should be regenerated when columns are removed from the table."
            ]
          },
          "type": "array",
          "description": "The type of events to consider when deciding if the table's schema has been modified and should have the profile updated. Defaults to NEW_COLUMNS."
        }
      },
      "description": "The cadence at which to update data profiles when a schema is modified.",
      "id": "GooglePrivacyDlpV2DiscoverySchemaModifiedCadence"
    },
    "GooglePrivacyDlpV2Connection": {
      "id": "GooglePrivacyDlpV2Connection",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unused",
            "DLP automatically created this connection during an initial scan, and it is awaiting full configuration by a user.",
            "A configured connection that has not encountered any errors.",
            "A configured connection that encountered errors during its last use. It will not be used again until it is set to AVAILABLE. If the resolution requires external action, then the client must send a request to set the status to AVAILABLE when the connection is ready for use. If the resolution doesn't require external action, then any changes to the connection properties will automatically mark it as AVAILABLE."
          ],
          "description": "Required. The connection's state in its lifecycle.",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "MISSING_CREDENTIALS",
            "AVAILABLE",
            "ERROR"
          ],
          "type": "string"
        },
        "cloudSql": {
          "$ref": "GooglePrivacyDlpV2CloudSqlProperties",
          "description": "Connect to a Cloud SQL instance."
        },
        "name": {
          "description": "Output only. Name of the connection: `projects/{project}/locations/{location}/connections/{name}`.",
          "type": "string",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Set if status == ERROR, to provide additional details. Will store the last 10 errors sorted with the most recent first.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          }
        }
      },
      "description": "A data connection to allow DLP to profile data in locations that require additional configuration.",
      "type": "object"
    },
    "GooglePrivacyDlpV2DiscoveryBigQueryFilter": {
      "type": "object",
      "properties": {
        "tables": {
          "description": "A specific set of tables for this filter to apply to. A table collection must be specified in only one filter per config. If a table id or dataset is empty, Cloud DLP assumes all tables in that collection must be profiled. Must specify a project ID.",
          "$ref": "GooglePrivacyDlpV2BigQueryTableCollection"
        },
        "tableReference": {
          "$ref": "GooglePrivacyDlpV2TableReference",
          "description": "The table to scan. Discovery configurations including this can only include one DiscoveryTarget (the DiscoveryTarget with this TableReference)."
        },
        "otherTables": {
          "$ref": "GooglePrivacyDlpV2AllOtherBigQueryTables",
          "description": "Catch-all. This should always be the last filter in the list because anything above it will apply first. Should only appear once in a configuration. If none is specified, a default one will be added automatically."
        }
      },
      "description": "Determines what tables will have profiles generated within an organization or project. Includes the ability to filter by regular expression patterns on project ID, dataset ID, and table ID.",
      "id": "GooglePrivacyDlpV2DiscoveryBigQueryFilter"
    },
    "GooglePrivacyDlpV2UpdateJobTriggerRequest": {
      "properties": {
        "jobTrigger": {
          "description": "New JobTrigger value.",
          "$ref": "GooglePrivacyDlpV2JobTrigger"
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for UpdateJobTrigger.",
      "id": "GooglePrivacyDlpV2UpdateJobTriggerRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "properties": {
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings. This is not used for data profiling.",
          "type": "boolean"
        },
        "minLikelihoodPerInfoType": {
          "type": "array",
          "description": "Minimum likelihood per infotype. For each infotype, a user can specify a minimum likelihood. The system only returns a finding if its likelihood is above this threshold. If this field is not set, the system uses the InspectConfig min_likelihood.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLikelihood"
          }
        },
        "contentOptions": {
          "items": {
            "enumDescriptions": [
              "Includes entire content of a file or a data stream.",
              "Text content within the data, excluding any metadata.",
              "Images found in the data."
            ],
            "type": "string",
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ]
          },
          "type": "array",
          "description": "Deprecated and unused."
        },
        "minLikelihood": {
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Only returns findings equal to or above this threshold. The default is POSSIBLE. In general, the highest likelihood setting yields the fewest findings in results and the lowest chance of a false positive. For more information, see [Match likelihood](https://cloud.google.com/sensitive-data-protection/docs/likelihood)."
        },
        "limits": {
          "$ref": "GooglePrivacyDlpV2FindingLimits",
          "description": "Configuration to control the number of findings returned. This is not used for data profiling. When redacting sensitive data from images, finding limits don't apply. They can cause unexpected or inconsistent results, where only some data is redacted. Don't include finding limits in RedactImage requests. Otherwise, Cloud DLP returns an error. When set within an InspectJobConfig, the specified maximum values aren't hard limits. If an inspection job reaches these limits, the job ends gradually, not abruptly. Therefore, the actual number of findings that Cloud DLP returns can be multiple times higher than these maximum values."
        },
        "includeQuote": {
          "type": "boolean",
          "description": "When true, a contextual quote from the data that triggered a finding is included in the response; see Finding.quote. This is not used for data profiling."
        },
        "customInfoTypes": {
          "description": "CustomInfoTypes provided by the user. See https://cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes to learn more.",
          "items": {
            "$ref": "GooglePrivacyDlpV2CustomInfoType"
          },
          "type": "array"
        },
        "ruleSet": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRuleSet"
          },
          "type": "array",
          "description": "Set of rules to apply to the findings for this InspectConfig. Exclusion rules, contained in the set are executed in the end, other rules are executed in the order they are specified for each info type."
        },
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to InfoType values returned by ListInfoTypes or listed at https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference. When no InfoTypes or CustomInfoTypes are specified in a request, the system may automatically choose a default list of detectors to run, which may change over time. If you need precise control and predictability as to what detectors are run you should specify specific InfoTypes listed in the reference, otherwise a default list will be used, which may change over time.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      },
      "id": "GooglePrivacyDlpV2InspectConfig",
      "description": "Configuration description of the scanning process. When used with redactContent only info_types and min_likelihood are currently used.",
      "type": "object"
    },
    "GooglePrivacyDlpV2FileSet": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The Cloud Storage url of the file(s) to scan, in the format `gs:///`. Trailing wildcard in the path is allowed. If the url ends in a trailing slash, the bucket or directory represented by the url will be scanned non-recursively (content in sub-directories will not be scanned). This means that `gs://mybucket/` is equivalent to `gs://mybucket/*`, and `gs://mybucket/directory/` is equivalent to `gs://mybucket/directory/*`. Exactly one of `url` or `regex_file_set` must be set."
        },
        "regexFileSet": {
          "$ref": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
          "description": "The regex-filtered set of files to scan. Exactly one of `url` or `regex_file_set` must be set."
        }
      },
      "description": "Set of files to scan.",
      "id": "GooglePrivacyDlpV2FileSet",
      "type": "object"
    },
    "GooglePrivacyDlpV2OrgConfig": {
      "id": "GooglePrivacyDlpV2OrgConfig",
      "description": "Project and scan location information. Only set when the parent is an org.",
      "properties": {
        "location": {
          "$ref": "GooglePrivacyDlpV2DiscoveryStartingLocation",
          "description": "The data to scan: folder, org, or project"
        },
        "projectId": {
          "type": "string",
          "description": "The project that will run the scan. The DLP service account that exists within this project must have access to all resources that are profiled, and the Cloud DLP API must be enabled."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2CreateConnectionRequest": {
      "id": "GooglePrivacyDlpV2CreateConnectionRequest",
      "type": "object",
      "description": "Request message for CreateConnection.",
      "properties": {
        "connection": {
          "$ref": "GooglePrivacyDlpV2Connection",
          "description": "Required. The connection resource."
        }
      }
    },
    "GooglePrivacyDlpV2HybridInspectDlpJobRequest": {
      "id": "GooglePrivacyDlpV2HybridInspectDlpJobRequest",
      "description": "Request to search for potentially sensitive info in a custom location.",
      "properties": {
        "hybridItem": {
          "$ref": "GooglePrivacyDlpV2HybridContentItem",
          "description": "The item to inspect."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2AllOtherDatabaseResources": {
      "properties": {},
      "id": "GooglePrivacyDlpV2AllOtherDatabaseResources",
      "type": "object",
      "description": "Match database resources not covered by any other filter."
    },
    "GooglePrivacyDlpV2SecretsDiscoveryTarget": {
      "description": "Discovery target for credentials and secrets in cloud resource metadata. This target does not include any filtering or frequency controls. Cloud DLP will scan cloud resource metadata for secrets daily. No inspect template should be included in the discovery config for a security benchmarks scan. Instead, the built-in list of secrets and credentials infoTypes will be used (see https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference#credentials_and_secrets). Credentials and secrets discovered will be reported as vulnerabilities to Security Command Center.",
      "properties": {},
      "type": "object",
      "id": "GooglePrivacyDlpV2SecretsDiscoveryTarget"
    },
    "GooglePrivacyDlpV2UpdateInspectTemplateRequest": {
      "id": "GooglePrivacyDlpV2UpdateInspectTemplateRequest",
      "properties": {
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "inspectTemplate": {
          "$ref": "GooglePrivacyDlpV2InspectTemplate",
          "description": "New InspectTemplate value."
        }
      },
      "description": "Request message for UpdateInspectTemplate.",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectContentResponse": {
      "id": "GooglePrivacyDlpV2InspectContentResponse",
      "type": "object",
      "description": "Results of inspecting an item.",
      "properties": {
        "result": {
          "description": "The findings.",
          "$ref": "GooglePrivacyDlpV2InspectResult"
        }
      }
    },
    "GooglePrivacyDlpV2MetadataLocation": {
      "id": "GooglePrivacyDlpV2MetadataLocation",
      "type": "object",
      "description": "Metadata Location",
      "properties": {
        "storageLabel": {
          "$ref": "GooglePrivacyDlpV2StorageMetadataLabel",
          "description": "Storage metadata."
        },
        "type": {
          "type": "string",
          "description": "Type of metadata containing the finding.",
          "enumDescriptions": [
            "Unused",
            "General file metadata provided by Cloud Storage."
          ],
          "enum": [
            "METADATATYPE_UNSPECIFIED",
            "STORAGE_METADATA"
          ]
        }
      }
    },
    "GooglePrivacyDlpV2PublishToPubSub": {
      "description": "Publish a message into a given Pub/Sub topic when DlpJob has completed. The message contains a single field, `DlpJobName`, which is equal to the finished job's [`DlpJob.name`](https://cloud.google.com/sensitive-data-protection/docs/reference/rest/v2/projects.dlpJobs#DlpJob). Compatible with: Inspect, Risk",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Cloud Pub/Sub topic to send notifications to. The topic must have given publishing access rights to the DLP API service account executing the long running DlpJob sending the notifications. Format is projects/{project}/topics/{topic}."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2PublishToPubSub"
    },
    "GooglePrivacyDlpV2ContentItem": {
      "properties": {
        "value": {
          "type": "string",
          "description": "String data to inspect or redact."
        },
        "table": {
          "description": "Structured content for inspection. See https://cloud.google.com/sensitive-data-protection/docs/inspecting-text#inspecting_a_table to learn more.",
          "$ref": "GooglePrivacyDlpV2Table"
        },
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "Content data to inspect or redact. Replaces `type` and `data`."
        }
      },
      "id": "GooglePrivacyDlpV2ContentItem",
      "description": "Type of content to inspect.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Expressions": {
[...]
