{
  "kind": "discovery#restDescription",
  "revision": "20240310",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://dlp.googleapis.com/",
  "id": "dlp:v2",
  "basePath": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "version_module": true,
  "schemas": {
    "GooglePrivacyDlpV2ImageRedactionConfig": {
      "description": "Configuration for determining how redaction of images should occur.",
      "type": "object",
      "properties": {
        "redactionColor": {
          "$ref": "GooglePrivacyDlpV2Color",
          "description": "The color to use when redacting content from an image. If not specified, the default is black."
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Only one per info_type should be provided per request. If not specified, and redact_all_text is false, the DLP API will redact all text that it matches against all info_types that are found, but not specified in another ImageRedactionConfig."
        },
        "redactAllText": {
          "description": "If true, all text found in the image, regardless whether it matches an info_type, is redacted. Only one should be provided.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2ImageRedactionConfig"
    },
    "GooglePrivacyDlpV2Color": {
      "description": "Represents a color in the RGB color space.",
      "id": "GooglePrivacyDlpV2Color",
      "properties": {
        "red": {
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number"
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2LDiversityHistogramBucket": {
      "type": "object",
      "properties": {
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2LDiversityEquivalenceClass"
          },
          "type": "array"
        },
        "bucketSize": {
          "type": "string",
          "description": "Total number of equivalence classes in this bucket.",
          "format": "int64"
        },
        "sensitiveValueFrequencyUpperBound": {
          "type": "string",
          "description": "Upper bound on the sensitive value frequencies of the equivalence classes in this bucket.",
          "format": "int64"
        },
        "sensitiveValueFrequencyLowerBound": {
          "format": "int64",
          "type": "string",
          "description": "Lower bound on the sensitive value frequencies of the equivalence classes in this bucket."
        },
        "bucketValueCount": {
          "format": "int64",
          "description": "Total number of distinct equivalence classes in this bucket.",
          "type": "string"
        }
      },
      "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
      "id": "GooglePrivacyDlpV2LDiversityHistogramBucket"
    },
    "GooglePrivacyDlpV2RedactImageResponse": {
      "properties": {
        "extractedText": {
          "type": "string",
          "description": "If an image was being inspected and the InspectConfig's include_quote was set to true, then this field will include all text, if any, that was found in the image."
        },
        "inspectResult": {
          "$ref": "GooglePrivacyDlpV2InspectResult",
          "description": "The findings. Populated when include_findings in the request is true."
        },
        "redactedImage": {
          "description": "The redacted image. The type will be the same as the original image.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Results of redacting an image.",
      "id": "GooglePrivacyDlpV2RedactImageResponse"
    },
    "GooglePrivacyDlpV2TransformationErrorHandling": {
      "type": "object",
      "properties": {
        "throwError": {
          "description": "Throw an error",
          "$ref": "GooglePrivacyDlpV2ThrowError"
        },
        "leaveUntransformed": {
          "description": "Ignore errors",
          "$ref": "GooglePrivacyDlpV2LeaveUntransformed"
        }
      },
      "description": "How to handle transformation errors during de-identification. A transformation error occurs when the requested transformation is incompatible with the data. For example, trying to de-identify an IP address using a `DateShift` transformation would result in a transformation error, since date info cannot be extracted from an IP address. Information about any incompatible transformations, and how they were handled, is returned in the response as part of the `TransformationOverviews`.",
      "id": "GooglePrivacyDlpV2TransformationErrorHandling"
    },
    "GooglePrivacyDlpV2HybridInspectJobTriggerRequest": {
      "type": "object",
      "description": "Request to search for potentially sensitive info in a custom location.",
      "id": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest",
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      }
    },
    "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest": {
      "description": "Request message for CreateDeidentifyTemplate.",
      "properties": {
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "templateId": {
          "type": "string",
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        },
        "deidentifyTemplate": {
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate",
          "description": "Required. The DeidentifyTemplate to create."
        }
      },
      "id": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "description": "Request to search for potentially sensitive info in an image and redact it by covering it with a colored rectangle.",
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "type": "object",
      "properties": {
        "includeFindings": {
          "type": "boolean",
          "description": "Whether the response should include findings along with the redacted image."
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "The content must be PNG, JPEG, SVG or BMP."
        },
        "imageRedactionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          },
          "description": "The configuration for specifying what content to redact from images."
        }
      }
    },
    "GooglePrivacyDlpV2NumericalStatsConfig": {
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Field to compute numerical stats on. Supported types are integer, float, date, datetime, timestamp, time."
        }
      },
      "id": "GooglePrivacyDlpV2NumericalStatsConfig",
      "type": "object",
      "description": "Compute numerical stats over an individual column, including min, max, and quantiles."
    },
    "GooglePrivacyDlpV2CryptoKey": {
      "properties": {
        "unwrapped": {
          "description": "Unwrapped crypto key",
          "$ref": "GooglePrivacyDlpV2UnwrappedCryptoKey"
        },
        "transient": {
          "$ref": "GooglePrivacyDlpV2TransientCryptoKey",
          "description": "Transient crypto key"
        },
        "kmsWrapped": {
          "$ref": "GooglePrivacyDlpV2KmsWrappedCryptoKey",
          "description": "Key wrapped using Cloud KMS"
        }
      },
      "id": "GooglePrivacyDlpV2CryptoKey",
      "description": "This is a data encryption key (DEK) (as opposed to a key encryption key (KEK) stored by Cloud Key Management Service (Cloud KMS). When using Cloud KMS to wrap or unwrap a DEK, be sure to set an appropriate IAM policy on the KEK to ensure an attacker cannot unwrap the DEK.",
      "type": "object"
    },
    "GooglePrivacyDlpV2LargeCustomDictionaryConfig": {
      "properties": {
        "outputPath": {
          "$ref": "GooglePrivacyDlpV2CloudStoragePath",
          "description": "Location to store dictionary artifacts in Cloud Storage. These files will only be accessible by project owners and the DLP API. If any of these artifacts are modified, the dictionary is considered invalid and can no longer be used."
        },
        "bigQueryField": {
          "$ref": "GooglePrivacyDlpV2BigQueryField",
          "description": "Field in a BigQuery table where each cell represents a dictionary phrase."
        },
        "cloudStorageFileSet": {
          "description": "Set of files containing newline-delimited lists of dictionary phrases.",
          "$ref": "GooglePrivacyDlpV2CloudStorageFileSet"
        }
      },
      "id": "GooglePrivacyDlpV2LargeCustomDictionaryConfig",
      "type": "object",
      "description": "Configuration for a custom dictionary created from a data source of any size up to the maximum size defined in the [limits](https://cloud.google.com/sensitive-data-protection/limits) page. The artifacts of dictionary creation are stored in the specified Cloud Storage location. Consider using `CustomInfoType.Dictionary` for smaller dictionaries that satisfy the size requirements."
    },
    "GooglePrivacyDlpV2Schedule": {
      "id": "GooglePrivacyDlpV2Schedule",
      "description": "Schedule for inspect job triggers.",
      "type": "object",
      "properties": {
        "recurrencePeriodDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "With this option a job is started on a regular periodic basis. For example: every day (86400 seconds). A scheduled start time will be skipped if the previous execution has not ended when its scheduled time occurs. This value must be set to a time duration greater than or equal to 1 day and can be no longer than 60 days."
        }
      }
    },
    "GooglePrivacyDlpV2Range": {
      "properties": {
        "end": {
          "format": "int64",
          "description": "Index of the last character of the range (exclusive).",
          "type": "string"
        },
        "start": {
          "format": "int64",
          "description": "Index of the first character of the range (inclusive).",
          "type": "string"
        }
      },
      "description": "Generic half-open interval [start, end)",
      "id": "GooglePrivacyDlpV2Range",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryRegexes": {
      "type": "object",
      "properties": {
        "patterns": {
          "description": "A single BigQuery regular expression pattern to match against one or more tables, datasets, or projects that contain BigQuery tables.",
          "items": {
            "$ref": "GooglePrivacyDlpV2BigQueryRegex"
          },
          "type": "array"
        }
      },
      "description": "A collection of regular expressions to determine what tables to match against.",
      "id": "GooglePrivacyDlpV2BigQueryRegexes"
    },
    "GooglePrivacyDlpV2RedactConfig": {
      "properties": {},
      "type": "object",
      "id": "GooglePrivacyDlpV2RedactConfig",
      "description": "Redact a given value. For example, if used with an `InfoTypeTransformation` transforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the output would be 'My phone number is '."
    },
    "GooglePrivacyDlpV2UpdateDiscoveryConfigRequest": {
      "type": "object",
      "description": "Request message for UpdateDiscoveryConfig.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Mask to control which fields get updated.",
          "format": "google-fieldmask"
        },
        "discoveryConfig": {
          "description": "Required. New DiscoveryConfig value.",
          "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
        }
      },
      "id": "GooglePrivacyDlpV2UpdateDiscoveryConfigRequest"
    },
    "GooglePrivacyDlpV2CreateJobTriggerRequest": {
      "id": "GooglePrivacyDlpV2CreateJobTriggerRequest",
      "properties": {
        "jobTrigger": {
          "$ref": "GooglePrivacyDlpV2JobTrigger",
          "description": "Required. The JobTrigger to create."
        },
        "locationId": {
          "type": "string",
          "description": "Deprecated. This field has no effect."
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        }
      },
      "type": "object",
      "description": "Request message for CreateJobTrigger."
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "type": "object",
      "properties": {
        "proximity": {
          "$ref": "GooglePrivacyDlpV2Proximity",
          "description": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The finding itself will be included in the window, so that hotwords can be used to match substrings of the finding itself. Suppose you want Cloud DLP to promote the likelihood of the phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" if the area code is known to be the area code of a company's office. In this case, use the hotword regex \"\\(xxx\\)\", where \"xxx\" is the area code in question. For tabular data, if you want to modify the likelihood of an entire column of findngs, see [Hotword example: Set the match likelihood of a table column] (https://cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes-likelihood#match-column-values)."
        },
        "likelihoodAdjustment": {
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment",
          "description": "Likelihood adjustment to apply to all matching findings."
        },
        "hotwordRegex": {
          "description": "Regular expression pattern defining what qualifies as a hotword.",
          "$ref": "GooglePrivacyDlpV2Regex"
        }
      },
      "description": "The rule that adjusts the likelihood of findings within a certain proximity of hotwords.",
      "id": "GooglePrivacyDlpV2HotwordRule"
    },
    "GooglePrivacyDlpV2KAnonymityHistogramBucket": {
      "properties": {
        "bucketSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of equivalence classes in this bucket."
        },
        "equivalenceClassSizeLowerBound": {
          "type": "string",
          "format": "int64",
          "description": "Lower bound on the size of the equivalence classes in this bucket."
        },
        "bucketValues": {
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
          },
          "type": "array"
        },
        "equivalenceClassSizeUpperBound": {
          "format": "int64",
          "type": "string",
          "description": "Upper bound on the size of the equivalence classes in this bucket."
        },
        "bucketValueCount": {
          "type": "string",
          "description": "Total number of distinct equivalence classes in this bucket.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Histogram of k-anonymity equivalence classes.",
      "id": "GooglePrivacyDlpV2KAnonymityHistogramBucket"
    },
    "GooglePrivacyDlpV2HybridInspectResponse": {
      "description": "Quota exceeded errors will be thrown once quota has been met.",
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridInspectResponse",
      "properties": {}
    },
    "GooglePrivacyDlpV2InfoTypeLikelihood": {
      "id": "GooglePrivacyDlpV2InfoTypeLikelihood",
      "properties": {
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Type of information the likelihood threshold applies to. Only one likelihood per info_type should be provided. If InfoTypeLikelihood does not have an info_type, the configuration fails."
        },
        "minLikelihood": {
          "description": "Only returns findings equal to or above this threshold. This field is required or else the configuration fails.",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      },
      "type": "object",
      "description": "Configuration for setting a minimum likelihood per infotype. Used to customize the minimum likelihood level for specific infotypes in the request. For example, use this if you want to lower the precision for PERSON_NAME without lowering the precision for the other infotypes in the request."
    },
    "GooglePrivacyDlpV2RequestedRiskAnalysisOptions": {
      "id": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions",
      "description": "Risk analysis options.",
      "type": "object",
      "properties": {
        "jobConfig": {
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig",
          "description": "The job config for the risk job."
        }
      }
    },
    "GooglePrivacyDlpV2Container": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Container",
      "properties": {
        "relativePath": {
          "type": "string",
          "description": "The rest of the path after the root. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the relative path is `table_id` - For Cloud Storage file `gs://bucket/folder/filename.txt`, the relative path is `folder/filename.txt`"
        },
        "rootPath": {
          "description": "The root of the container. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the root is `dataset_id` - For Cloud Storage file `gs://bucket/folder/filename.txt`, the root is `gs://bucket`",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Findings container modification timestamp, if applicable. For Cloud Storage, this field contains the last file modification timestamp. For a BigQuery table, this field contains the last_modified_time property. For Datastore, this field isn't populated.",
          "type": "string"
        },
        "fullPath": {
          "type": "string",
          "description": "A string representation of the full container name. Examples: - BigQuery: 'Project:DataSetId.TableId' - Cloud Storage: 'gs://Bucket/folders/filename.txt'"
        },
        "type": {
          "type": "string",
          "description": "Container type, for example BigQuery or Cloud Storage."
        },
        "projectId": {
          "type": "string",
          "description": "Project where the finding was found. Can be different from the project that owns the finding."
        },
        "version": {
          "type": "string",
          "description": "Findings container version, if available (\"generation\" for Cloud Storage)."
        }
      },
      "description": "Represents a container that may contain DLP findings. Examples of a container include a file, table, or database record."
    },
    "GooglePrivacyDlpV2TransformationDetails": {
      "description": "Details about a single transformation. This object contains a description of the transformation, information about whether the transformation was successfully applied, and the precise location where the transformation occurred. These details are stored in a user-specified BigQuery table.",
      "properties": {
        "resourceName": {
          "description": "The name of the job that completed the transformation.",
          "type": "string"
        },
        "transformation": {
          "type": "array",
          "description": "Description of transformation. This would only contain more than one element if there were multiple matching transformations and which one to apply was ambiguous. Not set for states that contain no transformation, currently only state that contains no transformation is TransformationResultStateType.METADATA_UNRETRIEVABLE.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationDescription"
          }
        },
        "transformationLocation": {
          "$ref": "GooglePrivacyDlpV2TransformationLocation",
          "description": "The precise location of the transformed content in the original container."
        },
        "transformedBytes": {
          "type": "string",
          "description": "The number of bytes that were transformed. If transformation was unsuccessful or did not take place because there was no content to transform, this will be zero.",
          "format": "int64"
        },
        "containerName": {
          "description": "The top level name of the container where the transformation is located (this will be the source file name or table name).",
          "type": "string"
        },
        "statusDetails": {
          "$ref": "GooglePrivacyDlpV2TransformationResultStatus",
          "description": "Status of the transformation, if transformation was not successful, this will specify what caused it to fail, otherwise it will show that the transformation was successful."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2TransformationDetails"
    },
    "GooglePrivacyDlpV2ListTableDataProfilesResponse": {
      "description": "List of profiles generated for a given organization or project.",
      "properties": {
        "tableDataProfiles": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2TableDataProfile"
          },
          "description": "List of data profiles."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        }
      },
      "id": "GooglePrivacyDlpV2ListTableDataProfilesResponse",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransformationDetailsStorageConfig": {
      "id": "GooglePrivacyDlpV2TransformationDetailsStorageConfig",
      "description": "Config for storing transformation details.",
      "properties": {
        "table": {
          "description": "The BigQuery table in which to store the output. This may be an existing table or in a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_transformation_details_yyyy_mm_dd_[dlp_job_id]. Pacific time zone will be used for generating the date details.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2Table": {
      "description": "Structured content to inspect. Up to 50,000 `Value`s per request allowed. See https://cloud.google.com/sensitive-data-protection/docs/inspecting-structured-text#inspecting_a_table to learn more.",
      "type": "object",
      "properties": {
        "headers": {
          "description": "Headers of the table.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        },
        "rows": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Row"
          },
          "type": "array",
          "description": "Rows of the table."
        }
      },
      "id": "GooglePrivacyDlpV2Table"
    },
    "GooglePrivacyDlpV2DatastoreOptions": {
      "id": "GooglePrivacyDlpV2DatastoreOptions",
      "description": "Options defining a data set within Google Cloud Datastore.",
      "type": "object",
      "properties": {
        "partitionId": {
          "$ref": "GooglePrivacyDlpV2PartitionId",
          "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty."
        },
        "kind": {
          "$ref": "GooglePrivacyDlpV2KindExpression",
          "description": "The kind to process."
        }
      }
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "properties": {
        "imageLocation": {
          "description": "Location within an image's pixels.",
          "$ref": "GooglePrivacyDlpV2ImageLocation"
        },
        "recordLocation": {
          "$ref": "GooglePrivacyDlpV2RecordLocation",
          "description": "Location within a row or record of a database table."
        },
        "documentLocation": {
          "$ref": "GooglePrivacyDlpV2DocumentLocation",
          "description": "Location data for document files."
        },
        "metadataLocation": {
          "description": "Location within the metadata for inspected content.",
          "$ref": "GooglePrivacyDlpV2MetadataLocation"
        },
        "containerVersion": {
          "type": "string",
          "description": "Finding container version, if available (\"generation\" for Cloud Storage)."
        },
        "containerName": {
          "type": "string",
          "description": "Name of the container where the finding is located. The top level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs://{bucket}/{path}` * Datastore namespace: {namespace} Nested names could be absent if the embedded object has no string identifier (for example, an image contained within a document)."
        },
        "containerTimestamp": {
          "description": "Finding container modification timestamp, if applicable. For Cloud Storage, this field contains the last file modification timestamp. For a BigQuery table, this field contains the last_modified_time property. For Datastore, this field isn't populated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GooglePrivacyDlpV2ContentLocation",
      "type": "object",
      "description": "Precise location of the finding within a document, record, image, or metadata container."
    },
    "GoogleTypeTimeOfDay": {
      "properties": {
        "nanos": {
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Minutes of hour of day. Must be from 0 to 59."
        }
      },
      "type": "object",
      "id": "GoogleTypeTimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "GooglePrivacyDlpV2HybridOptions": {
      "type": "object",
      "properties": {
        "requiredFindingLabelKeys": {
          "description": "These are labels that each inspection request must include within their 'finding_labels' map. Request may contain others, but any missing one of these will be rejected. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. No more than 10 keys can be required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "To organize findings, these labels will be added to each finding. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "A short description of where the data is coming from. Will be stored once in the job. 256 max length."
        },
        "tableOptions": {
          "$ref": "GooglePrivacyDlpV2TableOptions",
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys."
        }
      },
      "description": "Configuration to control jobs where the content being inspected is outside of Google Cloud Platform.",
      "id": "GooglePrivacyDlpV2HybridOptions"
    },
    "GooglePrivacyDlpV2DiscoveryGenerationCadence": {
      "description": "What must take place for a profile to be updated and how frequently it should occur. New tables are scanned as quickly as possible depending on system capacity.",
      "properties": {
        "schemaModifiedCadence": {
          "description": "Governs when to update data profiles when a schema is modified.",
          "$ref": "GooglePrivacyDlpV2DiscoverySchemaModifiedCadence"
        },
        "tableModifiedCadence": {
          "$ref": "GooglePrivacyDlpV2DiscoveryTableModifiedCadence",
          "description": "Governs when to update data profiles when a table is modified."
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryGenerationCadence",
      "type": "object"
    },
    "GooglePrivacyDlpV2TransformationOverview": {
      "description": "Overview of the modifications that occurred.",
      "properties": {
        "transformationSummaries": {
          "description": "Transformations applied to the dataset.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TransformationSummary"
          },
          "type": "array"
        },
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2TransformationOverview"
    },
    "GooglePrivacyDlpV2ListProjectDataProfilesResponse": {
      "type": "object",
      "description": "List of profiles generated for a given organization or project.",
      "properties": {
        "projectDataProfiles": {
          "description": "List of data profiles.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ProjectDataProfile"
          }
        },
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ListProjectDataProfilesResponse"
    },
    "GooglePrivacyDlpV2DataProfileBigQueryRowSchema": {
      "type": "object",
      "description": "The schema of data to be saved to the BigQuery table when the `DataProfileAction` is enabled.",
      "properties": {
        "columnProfile": {
          "$ref": "GooglePrivacyDlpV2ColumnDataProfile",
          "description": "Column data profile column"
        },
        "tableProfile": {
          "$ref": "GooglePrivacyDlpV2TableDataProfile",
          "description": "Table data profile column"
        }
      },
      "id": "GooglePrivacyDlpV2DataProfileBigQueryRowSchema"
    },
    "GooglePrivacyDlpV2ReplaceDictionaryConfig": {
      "properties": {
        "wordList": {
          "$ref": "GooglePrivacyDlpV2WordList",
          "description": "A list of words to select from for random replacement. The [limits](https://cloud.google.com/sensitive-data-protection/limits) page contains details about the size limits of dictionaries."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2ReplaceDictionaryConfig",
      "description": "Replace each input value with a value randomly selected from the dictionary."
    },
    "GooglePrivacyDlpV2CategoricalStatsConfig": {
      "properties": {
        "field": {
          "description": "Field to compute categorical stats on. All column types are supported except for arrays and structs. However, it may be more informative to use NumericalStats when the field type is supported, depending on the data.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2CategoricalStatsConfig",
      "description": "Compute numerical stats over an individual column, including number of distinct values and value count distribution."
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationConfig": {
      "description": "δ-presence metric, used to estimate how likely it is for an attacker to figure out that one given individual appears in a de-identified dataset. Similarly to the k-map metric, we cannot compute δ-presence exactly without knowing the attack dataset, so we use a statistical model instead.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code."
        },
        "quasiIds": {
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiId"
          },
          "description": "Required. Fields considered to be quasi-identifiers. No two fields can have the same tag.",
          "type": "array"
        },
        "auxiliaryTables": {
          "items": {
            "$ref": "GooglePrivacyDlpV2StatisticalTable"
          },
          "type": "array",
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers field must appear in exactly one field of one auxiliary table."
        }
      }
    },
    "GooglePrivacyDlpV2DlpJob": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Time when the job finished.",
          "format": "google-datetime"
        },
        "inspectDetails": {
          "$ref": "GooglePrivacyDlpV2InspectDataSourceDetails",
          "description": "Results from inspecting a data source."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "description": "A stream of errors encountered running the job."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the job was created."
        },
        "type": {
          "enumDescriptions": [
            "Defaults to INSPECT_JOB.",
            "The job inspected Google Cloud for sensitive data.",
            "The job executed a Risk Analysis computation."
          ],
          "type": "string",
          "description": "The type of job.",
          "enum": [
            "DLP_JOB_TYPE_UNSPECIFIED",
            "INSPECT_JOB",
            "RISK_ANALYSIS_JOB"
          ]
        },
        "riskDetails": {
          "$ref": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
          "description": "Results from analyzing risk of a data source."
        },
        "lastModified": {
          "type": "string",
          "description": "Time when the job was last modified by the system.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The server-assigned name.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the job started."
        },
        "jobTriggerName": {
          "description": "If created by a job trigger, the resource name of the trigger that instantiated the job.",
          "type": "string"
        },
        "actionDetails": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ActionDetails"
          },
          "description": "Events that should occur after the job has completed."
        },
        "state": {
          "enumDescriptions": [
            "Unused.",
            "The job has not yet started.",
            "The job is currently running. Once a job has finished it will transition to FAILED or DONE.",
            "The job is no longer running.",
            "The job was canceled before it could be completed.",
            "The job had an error and did not complete.",
            "The job is currently accepting findings via hybridInspect. A hybrid job in ACTIVE state may continue to have findings added to it through the calling of hybridInspect. After the job has finished no more calls to hybridInspect may be made. ACTIVE jobs can transition to DONE."
          ],
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "CANCELED",
            "FAILED",
            "ACTIVE"
          ],
          "type": "string",
          "description": "State of a job."
        }
      },
      "id": "GooglePrivacyDlpV2DlpJob",
      "description": "Combines all of the information about a DLP job."
    },
    "GooglePrivacyDlpV2InspectTemplate": {
      "id": "GooglePrivacyDlpV2InspectTemplate",
      "type": "object",
      "description": "The inspectTemplate contains a configuration (set of types of sensitive data to be detected) to be used anywhere you otherwise would normally specify InspectConfig. See https://cloud.google.com/sensitive-data-protection/docs/concepts-templates to learn more.",
      "properties": {
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "inspectConfig": {
          "description": "The core content of the template. Configuration of the scanning process.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/inspectTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/inspectTemplates/TEMPLATE_ID`;"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Short description (max 256 chars)."
        },
        "createTime": {
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GooglePrivacyDlpV2RequestedOptions": {
      "type": "object",
      "description": "Snapshot of the inspection configuration.",
      "properties": {
        "snapshotInspectTemplate": {
          "description": "If run with an InspectTemplate, a snapshot of its state at the time of this run.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        },
        "jobConfig": {
          "description": "Inspect config.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        }
      },
      "id": "GooglePrivacyDlpV2RequestedOptions"
    },
    "GooglePrivacyDlpV2PubSubNotification": {
      "type": "object",
      "description": "Send a Pub/Sub message into the given Pub/Sub topic to connect other systems to data profile generation. The message payload data will be the byte serialization of `DataProfilePubSubMessage`.",
      "properties": {
        "event": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "NEW_PROFILE",
            "CHANGED_PROFILE",
            "SCORE_INCREASED",
            "ERROR_CHANGED"
          ],
          "enumDescriptions": [
            "Unused.",
            "New profile (not a re-profile).",
            "Changed one of the following profile metrics: * Table data risk score * Table sensitivity score * Table resource visibility * Table encryption type * Table predicted infoTypes * Table other infoTypes",
            "Table data risk score or sensitivity score increased.",
            "A user (non-internal) error occurred."
          ],
          "description": "The type of event that triggers a Pub/Sub. At most one `PubSubNotification` per EventType is permitted.",
          "type": "string"
        },
        "detailOfMessage": {
          "enum": [
            "DETAIL_LEVEL_UNSPECIFIED",
            "TABLE_PROFILE",
            "RESOURCE_NAME"
          ],
          "description": "How much data to include in the Pub/Sub message. If the user wishes to limit the size of the message, they can use resource_name and fetch the profile fields they wish to. Per table profile (not per column).",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The full table data profile.",
            "The resource name of the table."
          ]
        },
        "pubsubCondition": {
          "description": "Conditions (e.g., data risk or sensitivity level) for triggering a Pub/Sub.",
          "$ref": "GooglePrivacyDlpV2DataProfilePubSubCondition"
        },
        "topic": {
          "description": "Cloud Pub/Sub topic to send notifications to. Format is projects/{project}/topics/{topic}.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2PubSubNotification"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "description": "Result of the δ-presence computation. Note that these results are an estimation, not exact values.",
      "type": "object",
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          },
          "description": "The intervals [min_probability, max_probability) do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_probability: 0, max_probability: 0.1, frequency: 17} {min_probability: 0.2, max_probability: 0.3, frequency: 42} {min_probability: 0.3, max_probability: 0.4, frequency: 99} mean that there are no record with an estimated probability in [0.1, 0.2) nor larger or equal to 0.4."
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult"
    },
    "GooglePrivacyDlpV2PrivacyMetric": {
      "id": "GooglePrivacyDlpV2PrivacyMetric",
      "type": "object",
      "description": "Privacy metric to compute for reidentification risk analysis.",
      "properties": {
        "numericalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2NumericalStatsConfig",
          "description": "Numerical stats"
        },
        "kAnonymityConfig": {
          "description": "K-anonymity",
          "$ref": "GooglePrivacyDlpV2KAnonymityConfig"
        },
        "kMapEstimationConfig": {
          "description": "k-map",
          "$ref": "GooglePrivacyDlpV2KMapEstimationConfig"
        },
        "categoricalStatsConfig": {
          "$ref": "GooglePrivacyDlpV2CategoricalStatsConfig",
          "description": "Categorical stats"
        },
        "lDiversityConfig": {
          "description": "l-diversity",
          "$ref": "GooglePrivacyDlpV2LDiversityConfig"
        },
        "deltaPresenceEstimationConfig": {
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationConfig",
          "description": "delta-presence"
        }
      }
    },
    "GooglePrivacyDlpV2FinishDlpJobRequest": {
      "id": "GooglePrivacyDlpV2FinishDlpJobRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for finishing a DLP hybrid job."
    },
    "GooglePrivacyDlpV2BucketingConfig": {
      "id": "GooglePrivacyDlpV2BucketingConfig",
      "type": "object",
      "properties": {
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Bucket"
          },
          "description": "Set of buckets. Ranges must be non-overlapping."
        }
      },
      "description": "Generalization function that buckets values based on ranges. The ranges and replacement values are dynamically provided by the user for custom behavior, such as 1-30 -\u003e LOW 31-65 -\u003e MEDIUM 66-100 -\u003e HIGH This can be used on data of type: number, long, string, timestamp. If the bound `Value` type differs from the type of data being transformed, we will first attempt converting the type of the data to be transformed to match the type of the bound before comparing. See https://cloud.google.com/sensitive-data-protection/docs/concepts-bucketing to learn more."
    },
    "GooglePrivacyDlpV2InspectResult": {
      "description": "All the findings for a single scanned item.",
      "properties": {
        "findingsTruncated": {
          "description": "If true, then this item might have more findings than were returned, and the findings returned are an arbitrary subset of all findings. The findings list might be truncated because the input items were too large, or because the server reached the maximum amount of resources allowed for a single API call. For best results, divide the input into smaller batches.",
          "type": "boolean"
        },
        "findings": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Finding"
          },
          "type": "array",
          "description": "List of findings for an item."
        }
      },
      "id": "GooglePrivacyDlpV2InspectResult",
      "type": "object"
    },
    "GooglePrivacyDlpV2DataProfilePubSubMessage": {
      "type": "object",
      "description": "Pub/Sub topic message for a DataProfileAction.PubSubNotification event. To receive a message of protocol buffer schema type, convert the message data to an object of this proto class.",
      "properties": {
        "profile": {
          "description": "If `DetailLevel` is `TABLE_PROFILE` this will be fully populated. Otherwise, if `DetailLevel` is `RESOURCE_NAME`, then only `name` and `full_resource` will be populated.",
          "$ref": "GooglePrivacyDlpV2TableDataProfile"
        },
        "event": {
          "enumDescriptions": [
            "Unused.",
            "New profile (not a re-profile).",
            "Changed one of the following profile metrics: * Table data risk score * Table sensitivity score * Table resource visibility * Table encryption type * Table predicted infoTypes * Table other infoTypes",
            "Table data risk score or sensitivity score increased.",
            "A user (non-internal) error occurred."
          ],
          "description": "The event that caused the Pub/Sub message to be sent.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "NEW_PROFILE",
            "CHANGED_PROFILE",
            "SCORE_INCREASED",
            "ERROR_CHANGED"
          ],
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2DataProfilePubSubMessage"
    },
    "GooglePrivacyDlpV2InfoTypeLimit": {
      "type": "object",
      "description": "Max findings configuration per infoType, per content item or long running DlpJob.",
      "id": "GooglePrivacyDlpV2InfoTypeLimit",
      "properties": {
        "infoType": {
          "description": "Type of information the findings limit applies to. Only one limit per info_type should be provided. If InfoTypeLimit does not have an info_type, the DLP API applies the limit against all info_types that are found but not specified in another InfoTypeLimit.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "maxFindings": {
          "type": "integer",
          "format": "int32",
          "description": "Max findings limit for the given infoType."
        }
      }
    },
    "GooglePrivacyDlpV2ProjectDataProfile": {
      "type": "object",
      "id": "GooglePrivacyDlpV2ProjectDataProfile",
      "description": "An aggregated profile for this project, based on the resources profiled within it.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the profile."
        },
        "profileStatus": {
          "$ref": "GooglePrivacyDlpV2ProfileStatus",
          "description": "Success or error status of the last attempt to profile the project."
        },
        "profileLastGenerated": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time the profile was generated."
        },
        "projectId": {
          "type": "string",
          "description": "Project ID that was profiled."
        },
        "dataRiskLevel": {
          "description": "The data risk level of this project.",
          "$ref": "GooglePrivacyDlpV2DataRiskLevel"
        },
        "sensitivityScore": {
          "description": "The sensitivity score of this project.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        }
      }
    },
    "GooglePrivacyDlpV2ListDlpJobsResponse": {
      "properties": {
        "jobs": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DlpJob"
          },
          "description": "A list of DlpJobs that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "GooglePrivacyDlpV2ListDlpJobsResponse",
      "type": "object",
      "description": "The response message for listing DLP jobs."
    },
    "GooglePrivacyDlpV2DataProfileLocation": {
      "properties": {
        "organizationId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of an organization to scan."
        },
        "folderId": {
          "description": "The ID of the Folder within an organization to scan.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The data that will be profiled.",
      "id": "GooglePrivacyDlpV2DataProfileLocation"
    },
    "GooglePrivacyDlpV2KMapEstimationConfig": {
      "properties": {
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 region code to use in the statistical modeling. Set if no column is tagged with a region-specific InfoType (like US_ZIP_5) or a region code.",
          "type": "string"
        },
        "auxiliaryTables": {
          "description": "Several auxiliary tables can be used in the analysis. Each custom_tag used to tag a quasi-identifiers column must appear in exactly one column of one auxiliary table.",
          "items": {
            "$ref": "GooglePrivacyDlpV2AuxiliaryTable"
          },
          "type": "array"
        },
        "quasiIds": {
          "description": "Required. Fields considered to be quasi-identifiers. No two columns can have the same tag.",
          "items": {
            "$ref": "GooglePrivacyDlpV2TaggedField"
          },
          "type": "array"
        }
      },
      "description": "Reidentifiability metric. This corresponds to a risk model similar to what is called \"journalist risk\" in the literature, except the attack dataset is statistically modeled instead of being perfectly known. This can be done using publicly available data (like the US Census), or using a custom statistical model (indicated as one or several BigQuery tables), or by extrapolating from the distribution of values in the input dataset.",
      "id": "GooglePrivacyDlpV2KMapEstimationConfig",
      "type": "object"
    },
    "GooglePrivacyDlpV2FieldId": {
      "type": "object",
      "id": "GooglePrivacyDlpV2FieldId",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name describing the field."
        }
      },
      "description": "General identifier of a data field in a storage service."
    },
    "GooglePrivacyDlpV2WordList": {
      "properties": {
        "words": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Words or phrases defining the dictionary. The dictionary must contain at least one phrase and every phrase must contain at least 2 characters that are letters or digits. [required]"
        }
      },
      "id": "GooglePrivacyDlpV2WordList",
      "description": "Message defining a list of words or phrases to search for in the data.",
      "type": "object"
    },
    "GooglePrivacyDlpV2KAnonymityResult": {
      "type": "object",
      "id": "GooglePrivacyDlpV2KAnonymityResult",
      "description": "Result of the k-anonymity computation.",
      "properties": {
        "equivalenceClassHistogramBuckets": {
          "description": "Histogram of k-anonymity equivalence classes.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityHistogramBucket"
          }
        }
      }
    },
    "GooglePrivacyDlpV2OrConditions": {
      "type": "object",
      "id": "GooglePrivacyDlpV2OrConditions",
      "description": "There is an OR relationship between these attributes. They are used to determine if a table should be scanned or not in Discovery.",
      "properties": {
        "minAge": {
          "description": "Minimum age a table must have before Cloud DLP can profile it. Value must be 1 hour or greater.",
          "format": "google-duration",
          "type": "string"
        },
        "minRowCount": {
          "description": "Minimum number of rows that should be present before Cloud DLP profiles a table",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "type": "object",
      "properties": {
        "relativeLikelihood": {
          "format": "int32",
          "type": "integer",
          "description": "Increase or decrease the likelihood by the specified number of levels. For example, if a finding would be `POSSIBLE` without the detection rule and `relative_likelihood` is 1, then it is upgraded to `LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`. Likelihood may never drop below `VERY_UNLIKELY` or exceed `VERY_LIKELY`, so applying an adjustment of 1 followed by an adjustment of -1 when base likelihood is `VERY_LIKELY` will result in a final likelihood of `LIKELY`."
        },
        "fixedLikelihood": {
          "description": "Set the likelihood of a finding to a fixed value.",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      },
      "description": "Message for specifying an adjustment to the likelihood of a finding as part of a detection rule.",
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment"
    },
    "GooglePrivacyDlpV2Manual": {
      "id": "GooglePrivacyDlpV2Manual",
      "description": "Job trigger option for hybrid jobs. Jobs must be manually created and finished.",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2DiscoveryTarget": {
      "id": "GooglePrivacyDlpV2DiscoveryTarget",
      "properties": {
        "bigQueryTarget": {
          "description": "BigQuery target for Discovery. The first target to match a table will be the one applied.",
          "$ref": "GooglePrivacyDlpV2BigQueryDiscoveryTarget"
        }
      },
      "description": "Target used to match against for Discovery.",
      "type": "object"
    },
    "GooglePrivacyDlpV2InfoTypeTransformations": {
      "properties": {
        "transformations": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeTransformation"
          },
          "description": "Required. Transformation for each infoType. Cannot specify more than one for a given infoType.",
          "type": "array"
        }
      },
      "description": "A type of transformation that will scan unstructured text and apply various `PrimitiveTransformation`s to each finding, where the transformation is applied to only values that were identified as a specific info_type.",
      "type": "object",
      "id": "GooglePrivacyDlpV2InfoTypeTransformations"
    },
    "GooglePrivacyDlpV2UnwrappedCryptoKey": {
      "properties": {
        "key": {
          "type": "string",
          "format": "byte",
          "description": "Required. A 128/192/256 bit key."
        }
      },
      "description": "Using raw keys is prone to security risks due to accidentally leaking the key. Choose another type of key if possible.",
      "id": "GooglePrivacyDlpV2UnwrappedCryptoKey",
      "type": "object"
    },
    "GooglePrivacyDlpV2CryptoDeterministicConfig": {
      "description": "Pseudonymization method that generates deterministic encryption for the given input. Outputs a base64 encoded representation of the encrypted output. Uses AES-SIV based on the RFC https://tools.ietf.org/html/rfc5297.",
      "properties": {
        "context": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "A context may be used for higher security and maintaining referential integrity such that the same identifier in two different contexts will be given a distinct surrogate. The context is appended to plaintext value being encrypted. On decryption the provided context is validated against the value used during encryption. If a context was provided during encryption, same context must be provided during decryption as well. If the context is not set, plaintext would be used as is for encryption. If the context is set but: 1. there is no record present when transforming a given value or 2. the field is not present when transforming a given value, plaintext would be used as is for encryption. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and unstructured `ContentItem`s."
        },
        "surrogateInfoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "The custom info type to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom info type followed by the number of characters comprising the surrogate. The following scheme defines the format: {info type name}({surrogate character count}):{surrogate} For example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom info type 'Surrogate'. This facilitates reversal of the surrogate when it occurs in free text. Note: For record transformations where the entire cell in a table is being transformed, surrogates are not mandatory. Surrogates are used to denote the location of the token and are necessary for re-identification in free form text. In order for inspection to work properly, the name of this info type must not occur naturally anywhere in your data; otherwise, inspection may either - reverse a surrogate that does not correspond to an actual identifier - be unable to parse the surrogate and result in an error Therefore, choose your custom info type name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE."
        },
        "cryptoKey": {
          "description": "The key used by the encryption function. For deterministic encryption using AES-SIV, the provided key is internally expanded to 64 bytes prior to use.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2CryptoDeterministicConfig"
    },
    "GooglePrivacyDlpV2ImageTransformation": {
      "properties": {
        "allText": {
          "description": "Apply transformation to all text that doesn't match an infoType. Only one instance is allowed within the ImageTransformations message.",
          "$ref": "GooglePrivacyDlpV2AllText"
        },
        "redactionColor": {
          "description": "The color to use when redacting content from an image. If not specified, the default is black.",
          "$ref": "GooglePrivacyDlpV2Color"
        },
        "allInfoTypes": {
          "$ref": "GooglePrivacyDlpV2AllInfoTypes",
          "description": "Apply transformation to all findings not specified in other ImageTransformation's selected_info_types. Only one instance is allowed within the ImageTransformations message."
        },
        "selectedInfoTypes": {
          "$ref": "GooglePrivacyDlpV2SelectedInfoTypes",
          "description": "Apply transformation to the selected info_types."
        }
      },
      "description": "Configuration for determining how redaction of images should occur.",
      "id": "GooglePrivacyDlpV2ImageTransformation",
      "type": "object"
    },
    "GooglePrivacyDlpV2Result": {
      "id": "GooglePrivacyDlpV2Result",
      "type": "object",
      "description": "All result fields mentioned below are updated while the job is processing.",
      "properties": {
        "processedBytes": {
          "description": "Total size in bytes that were processed.",
          "format": "int64",
          "type": "string"
        },
        "infoTypeStats": {
          "description": "Statistics of how many instances of each info type were found during inspect job.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          }
        },
        "totalEstimatedBytes": {
          "description": "Estimate of the number of bytes to process.",
          "format": "int64",
          "type": "string"
        },
        "hybridStats": {
          "description": "Statistics related to the processing of hybrid inspect.",
          "$ref": "GooglePrivacyDlpV2HybridInspectStatistics"
        }
      }
    },
    "GooglePrivacyDlpV2TableDataProfile": {
      "description": "The profile for a scanned table.",
      "type": "object",
      "properties": {
        "lastModifiedTime": {
          "format": "google-datetime",
          "description": "The time when this table was last modified",
          "type": "string"
        },
        "tableId": {
          "description": "If the resource is BigQuery, the BigQuery table ID.",
          "type": "string"
        },
        "encryptionStatus": {
          "type": "string",
          "enum": [
            "ENCRYPTION_STATUS_UNSPECIFIED",
            "ENCRYPTION_GOOGLE_MANAGED",
            "ENCRYPTION_CUSTOMER_MANAGED"
          ],
          "description": "How the table is encrypted.",
          "enumDescriptions": [
            "Unused.",
            "Google manages server-side encryption keys on your behalf.",
            "Customer provides the key."
          ]
        },
        "datasetId": {
          "type": "string",
          "description": "If the resource is BigQuery, the dataset ID."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the table was created."
        },
        "rowCount": {
          "type": "string",
          "description": "Number of rows in the table when the profile was generated. This will not be populated for BigLake tables.",
          "format": "int64"
        },
        "tableSizeBytes": {
          "format": "int64",
          "description": "The size of the table when the profile was generated.",
          "type": "string"
        },
        "projectDataProfile": {
          "description": "The resource name to the project data profile for this table.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "DONE"
          ],
          "description": "State of a profile.",
          "enumDescriptions": [
            "Unused.",
            "The profile is currently running. Once a profile has finished it will transition to DONE.",
            "The profile is no longer generating. If profile_status.status.code is 0, the profile succeeded, otherwise, it failed."
          ],
          "type": "string"
        },
        "otherInfoTypes": {
          "description": "Other infoTypes found in this table's data.",
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherInfoTypeSummary"
          },
          "type": "array"
        },
        "sensitivityScore": {
          "description": "The sensitivity score of this table.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "dataRiskLevel": {
          "$ref": "GooglePrivacyDlpV2DataRiskLevel",
          "description": "The data risk level of this table."
        },
        "resourceLabels": {
          "description": "The labels applied to the resource at the time the profile was generated.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "resourceVisibility": {
          "enumDescriptions": [
            "Unused.",
            "Visible to any user.",
            "Visible only to specific users."
          ],
          "type": "string",
          "description": "How broadly a resource has been shared.",
          "enum": [
            "RESOURCE_VISIBILITY_UNSPECIFIED",
            "RESOURCE_VISIBILITY_PUBLIC",
            "RESOURCE_VISIBILITY_RESTRICTED"
          ]
        },
        "configSnapshot": {
          "$ref": "GooglePrivacyDlpV2DataProfileConfigSnapshot",
          "description": "The snapshot of the configurations used to generate the profile."
        },
        "profileStatus": {
          "$ref": "GooglePrivacyDlpV2ProfileStatus",
          "description": "Success or error status from the most recent profile generation attempt. May be empty if the profile is still being generated."
        },
        "failedColumnCount": {
          "type": "string",
          "description": "The number of columns skipped in the table because of an error.",
          "format": "int64"
        },
        "datasetLocation": {
          "type": "string",
          "description": "If supported, the location where the dataset's data is stored. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        },
        "profileLastGenerated": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last time the profile was generated."
        },
        "fullResource": {
          "type": "string",
          "description": "The resource name of the resource profiled. https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "name": {
          "type": "string",
          "description": "The name of the profile."
        },
        "dataSourceType": {
          "$ref": "GooglePrivacyDlpV2DataSourceType",
          "description": "The resource type that was profiled."
        },
        "scannedColumnCount": {
          "description": "The number of columns profiled in the table.",
          "format": "int64",
          "type": "string"
        },
        "predictedInfoTypes": {
          "description": "The infoTypes predicted from this table's data.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeSummary"
          }
        },
        "datasetProjectId": {
          "type": "string",
          "description": "The Google Cloud project ID that owns the resource."
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The time when this table expires.",
          "format": "google-datetime"
        }
      },
      "id": "GooglePrivacyDlpV2TableDataProfile"
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "type": "object",
      "description": "Configuration to suppress records whose suppression conditions evaluate to true.",
      "properties": {
        "condition": {
          "description": "A condition that when it evaluates to true will result in the record being evaluated to be suppressed from the transformed content.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        }
      },
      "id": "GooglePrivacyDlpV2RecordSuppression"
    },
    "GooglePrivacyDlpV2HybridFindingDetails": {
      "id": "GooglePrivacyDlpV2HybridFindingDetails",
      "properties": {
        "tableOptions": {
          "$ref": "GooglePrivacyDlpV2TableOptions",
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys. If not known ahead of time, can also be set within each inspect hybrid call and the two will be merged. Note that identifying_fields will only be stored to BigQuery, and only if the BigQuery action has been included."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to represent user provided metadata about the data being inspected. If configured by the job, some key values may be required. The labels associated with `Finding`'s produced by hybrid inspection. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
        },
        "containerDetails": {
          "description": "Details about the container where the content being inspected is from.",
          "$ref": "GooglePrivacyDlpV2Container"
        },
        "rowOffset": {
          "format": "int64",
          "description": "Offset of the row for tables. Populate if the row(s) being scanned are part of a bigger dataset and you want to keep track of their absolute position.",
          "type": "string"
        },
        "fileOffset": {
          "description": "Offset in bytes of the line, from the beginning of the file, where the finding is located. Populate if the item being scanned is only part of a bigger item, such as a shard of a file and you want to track the absolute position of the finding.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Populate to associate additional data with each finding."
    },
    "GooglePrivacyDlpV2CancelDlpJobRequest": {
      "id": "GooglePrivacyDlpV2CancelDlpJobRequest",
      "properties": {},
      "description": "The request message for canceling a DLP job.",
      "type": "object"
    },
    "GooglePrivacyDlpV2Dictionary": {
      "id": "GooglePrivacyDlpV2Dictionary",
      "description": "Custom information type based on a dictionary of words or phrases. This can be used to match sensitive information specific to the data, such as a list of employee IDs or job titles. Dictionary words are case-insensitive and all characters other than letters and digits in the unicode [Basic Multilingual Plane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane) will be replaced with whitespace when scanning for matches, so the dictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\", \"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters surrounding any match must be of a different type than the adjacent characters within the word, so letters must be next to non-letters and digits next to non-digits. For example, the dictionary word \"jen\" will match the first three letters of the text \"jen123\" but will return no matches for \"jennifer\". Dictionary words containing a large number of characters that are not letters or digits may result in unexpected findings because such characters are treated as whitespace. The [limits](https://cloud.google.com/sensitive-data-protection/limits) page contains details about the size limits of dictionaries. For dictionaries that do not fit within these constraints, consider using `LargeCustomDictionaryConfig` in the `StoredInfoType` API.",
      "properties": {
        "wordList": {
          "$ref": "GooglePrivacyDlpV2WordList",
          "description": "List of words or phrases to search for."
        },
        "cloudStoragePath": {
          "$ref": "GooglePrivacyDlpV2CloudStoragePath",
          "description": "Newline-delimited file of words in Cloud Storage. Only a single file is accepted."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2QuasiIdField": {
      "type": "object",
      "properties": {
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Identifies the column."
        },
        "customTag": {
          "type": "string",
          "description": "A auxiliary field."
        }
      },
      "id": "GooglePrivacyDlpV2QuasiIdField",
      "description": "A quasi-identifier column has a custom_tag, used to know which column in the data corresponds to which column in the statistical model."
    },
    "GooglePrivacyDlpV2TaggedField": {
      "description": "A column with a semantic tag attached.",
      "id": "GooglePrivacyDlpV2TaggedField",
      "type": "object",
      "properties": {
        "inferred": {
          "$ref": "GoogleProtobufEmpty",
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data"
        },
        "customTag": {
          "type": "string",
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column (below)."
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter."
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Required. Identifies the column."
        }
      }
    },
    "GooglePrivacyDlpV2VersionDescription": {
      "type": "object",
      "description": "Details about each available version for an infotype.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the version."
        },
        "version": {
          "description": "Name of the version",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2VersionDescription"
    },
    "GooglePrivacyDlpV2Location": {
      "type": "object",
      "description": "Specifies the location of the finding.",
      "id": "GooglePrivacyDlpV2Location",
      "properties": {
        "byteRange": {
          "$ref": "GooglePrivacyDlpV2Range",
          "description": "Zero-based byte offsets delimiting the finding. These are relative to the finding's containing element. Note that when the content is not textual, this references the UTF-8 encoded textual representation of the content. Omitted if content is an image."
        },
        "codepointRange": {
          "$ref": "GooglePrivacyDlpV2Range",
          "description": "Unicode character offsets delimiting the finding. These are relative to the finding's containing element. Provided when the content is text."
        },
        "contentLocations": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ContentLocation"
          },
          "description": "List of nested objects pointing to the precise location of the finding within the file or record."
        },
        "container": {
          "$ref": "GooglePrivacyDlpV2Container",
          "description": "Information about the container where this finding occurred, if available."
        }
      }
    },
    "GooglePrivacyDlpV2SensitivityScore": {
      "description": "Score is calculated from of all elements in the data profile. A higher level means the data is more sensitive.",
      "properties": {
        "score": {
          "description": "The sensitivity score applied to the resource.",
          "enumDescriptions": [
            "Unused.",
            "No sensitive information detected. The resource isn't publicly accessible.",
            "Medium risk. Contains personally identifiable information (PII), potentially sensitive data, or fields with free-text data that are at a higher risk of having intermittent sensitive data. Consider limiting access.",
            "High risk. Sensitive personally identifiable information (SPII) can be present. Exfiltration of data can lead to user data loss. Re-identification of users might be possible. Consider limiting usage and or removing SPII."
          ],
          "enum": [
            "SENSITIVITY_SCORE_UNSPECIFIED",
            "SENSITIVITY_LOW",
            "SENSITIVITY_MODERATE",
            "SENSITIVITY_HIGH"
          ],
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2SensitivityScore",
      "type": "object"
    },
    "GooglePrivacyDlpV2CreateDiscoveryConfigRequest": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CreateDiscoveryConfigRequest",
      "properties": {
        "discoveryConfig": {
          "$ref": "GooglePrivacyDlpV2DiscoveryConfig",
          "description": "Required. The DiscoveryConfig to create."
        },
        "configId": {
          "type": "string",
          "description": "The config ID can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        }
      },
      "description": "Request message for CreateDiscoveryConfig."
    },
    "GoogleTypeDate": {
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate"
    },
    "GooglePrivacyDlpV2InfoTypeTransformation": {
      "description": "A transformation to apply to text that is identified as a specific info_type.",
      "id": "GooglePrivacyDlpV2InfoTypeTransformation",
      "properties": {
        "infoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array",
          "description": "InfoTypes to apply the transformation to. An empty list will cause this transformation to apply to all findings that correspond to infoTypes that were requested in `InspectConfig`."
        },
        "primitiveTransformation": {
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation",
          "description": "Required. Primitive transformation to apply to the infoType."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2ExcludeInfoTypes": {
      "id": "GooglePrivacyDlpV2ExcludeInfoTypes",
      "properties": {
        "infoTypes": {
          "type": "array",
          "description": "InfoType list in ExclusionRule rule drops a finding when it overlaps or contained within with a finding of an infoType from this list. For example, for `InspectionRuleSet.info_types` containing \"PHONE_NUMBER\"` and `exclusion_rule` containing `exclude_info_types.info_types` with \"EMAIL_ADDRESS\" the phone number findings are dropped if they overlap with EMAIL_ADDRESS finding. That leads to \"555-222-2222@example.org\" to generate only a single finding, namely email address.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        }
      },
      "description": "List of excluded infoTypes.",
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridContentItem": {
      "description": "An individual hybrid item to inspect. Will be stored temporarily during processing.",
      "id": "GooglePrivacyDlpV2HybridContentItem",
      "properties": {
        "findingDetails": {
          "description": "Supplementary information that will be added to each finding.",
          "$ref": "GooglePrivacyDlpV2HybridFindingDetails"
        },
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The item to inspect."
        }
      },
      "type": "object"
    },
    "GooglePrivacyDlpV2DeidentifyContentRequest": {
      "properties": {
        "inspectTemplateName": {
          "type": "string",
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        },
        "inspectConfig": {
          "$ref": "GooglePrivacyDlpV2InspectConfig",
          "description": "Configuration for the inspector. Items specified here will override the template referenced by the inspect_template_name argument."
        },
        "deidentifyConfig": {
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig",
          "description": "Configuration for the de-identification of the content item. Items specified here will override the template referenced by the deidentify_template_name argument."
        },
        "item": {
          "$ref": "GooglePrivacyDlpV2ContentItem",
          "description": "The item to de-identify. Will be treated as text. This value must be of type Table if your deidentify_config is a RecordTransformations object."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "deidentifyTemplateName": {
          "type": "string",
          "description": "Template to use. Any configuration directly specified in deidentify_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged."
        }
      },
      "description": "Request to de-identify a ContentItem.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeidentifyContentRequest"
    },
    "GooglePrivacyDlpV2CreateDlpJobRequest": {
      "properties": {
        "jobId": {
          "type": "string",
          "description": "The job id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        },
        "riskJob": {
          "$ref": "GooglePrivacyDlpV2RiskAnalysisJobConfig",
          "description": "A risk analysis job calculates re-identification risk metrics for a BigQuery table."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "inspectJob": {
          "$ref": "GooglePrivacyDlpV2InspectJobConfig",
          "description": "An inspection job scans a storage repository for InfoTypes."
        }
      },
      "description": "Request message for CreateDlpJobRequest. Used to initiate long running jobs such as calculating risk metrics or inspecting Google Cloud Storage.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CreateDlpJobRequest"
    },
    "GooglePrivacyDlpV2ListJobTriggersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If the next page is available then this value is the next page token to be used in the following ListJobTriggers request.",
          "type": "string"
        },
        "jobTriggers": {
          "items": {
            "$ref": "GooglePrivacyDlpV2JobTrigger"
          },
          "type": "array",
          "description": "List of triggeredJobs, up to page_size in ListJobTriggersRequest."
        }
      },
      "description": "Response message for ListJobTriggers.",
      "id": "GooglePrivacyDlpV2ListJobTriggersResponse",
      "type": "object"
    },
    "GooglePrivacyDlpV2DeidentifyConfig": {
      "description": "The configuration that controls how the data will change.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeidentifyConfig",
      "properties": {
        "recordTransformations": {
          "$ref": "GooglePrivacyDlpV2RecordTransformations",
          "description": "Treat the dataset as structured. Transformations can be applied to specific locations within structured datasets, such as transforming a column within a table."
        },
        "infoTypeTransformations": {
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations",
          "description": "Treat the dataset as free-form text and apply the same free text transformation everywhere."
        },
        "imageTransformations": {
          "description": "Treat the dataset as an image and redact.",
          "$ref": "GooglePrivacyDlpV2ImageTransformations"
        },
        "transformationErrorHandling": {
          "$ref": "GooglePrivacyDlpV2TransformationErrorHandling",
          "description": "Mode for handling transformation errors. If left unspecified, the default mode is `TransformationErrorHandling.ThrowError`."
        }
      }
    },
    "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest": {
      "properties": {
        "deidentifyTemplate": {
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate",
          "description": "New DeidentifyTemplate value."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated."
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest",
      "description": "Request message for UpdateDeidentifyTemplate."
    },
    "GooglePrivacyDlpV2InfoType": {
      "properties": {
        "sensitivityScore": {
          "description": "Optional custom sensitivity for this InfoType. This only applies to data profiling.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "version": {
          "description": "Optional version name for this InfoType.",
          "type": "string"
        },
        "name": {
          "description": "Name of the information type. Either a name of your choosing when creating a CustomInfoType, or one of the names listed at https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference when specifying a built-in type. When sending Cloud DLP results to Data Catalog, infoType names should conform to the pattern `[A-Za-z0-9$_-]{1,64}`.",
          "type": "string"
        }
      },
      "description": "Type of information detected by the API.",
      "type": "object",
      "id": "GooglePrivacyDlpV2InfoType"
    },
    "GooglePrivacyDlpV2TransformationSummary": {
      "description": "Summary of a single transformation. Only one of 'transformation', 'field_transformation', or 'record_suppress' will be set.",
      "id": "GooglePrivacyDlpV2TransformationSummary",
      "type": "object",
      "properties": {
        "transformation": {
          "description": "The specific transformation these stats apply to.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "field": {
          "$ref": "GooglePrivacyDlpV2FieldId",
          "description": "Set if the transformation was limited to a specific FieldId."
        },
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "format": "int64",
          "type": "string"
        },
        "infoType": {
          "$ref": "GooglePrivacyDlpV2InfoType",
          "description": "Set if the transformation was limited to a specific InfoType."
        },
        "fieldTransformations": {
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldTransformation"
          },
          "type": "array",
          "description": "The field transformation that was applied. If multiple field transformations are requested for a single field, this list will contain all of them; otherwise, only one is supplied."
        },
        "results": {
          "type": "array",
          "description": "Collection of all transformations that took place or had an error.",
          "items": {
            "$ref": "GooglePrivacyDlpV2SummaryResult"
          }
        },
        "recordSuppress": {
          "description": "The specific suppression option these stats apply to.",
          "$ref": "GooglePrivacyDlpV2RecordSuppression"
        }
      }
    },
    "GooglePrivacyDlpV2Row": {
      "id": "GooglePrivacyDlpV2Row",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "Individual cells.",
          "type": "array"
        }
      },
      "description": "Values of the row."
    },
    "GooglePrivacyDlpV2ActionDetails": {
      "description": "The results of an Action.",
      "id": "GooglePrivacyDlpV2ActionDetails",
      "type": "object",
      "properties": {
        "deidentifyDetails": {
          "$ref": "GooglePrivacyDlpV2DeidentifyDataSourceDetails",
          "description": "Outcome of a de-identification action."
        }
      }
    },
    "GooglePrivacyDlpV2TimePartConfig": {
      "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a portion of the value.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TimePartConfig",
      "properties": {
        "partToExtract": {
          "enum": [
            "TIME_PART_UNSPECIFIED",
            "YEAR",
            "MONTH",
            "DAY_OF_MONTH",
            "DAY_OF_WEEK",
            "WEEK_OF_YEAR",
            "HOUR_OF_DAY"
          ],
          "description": "The part of the time to keep.",
          "enumDescriptions": [
            "Unused",
            "[0-9999]",
            "[1-12]",
            "[1-31]",
            "[1-7]",
            "[1-53]",
            "[0-23]"
          ],
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then the next page token to be used in the following ListDeidentifyTemplates request."
        },
        "deidentifyTemplates": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
          },
          "description": "List of deidentify templates, up to page_size in ListDeidentifyTemplatesRequest.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse",
      "description": "Response message for ListDeidentifyTemplates."
    },
    "GooglePrivacyDlpV2NumericalStatsResult": {
      "id": "GooglePrivacyDlpV2NumericalStatsResult",
      "properties": {
        "maxValue": {
          "$ref": "GooglePrivacyDlpV2Value",
          "description": "Maximum value appearing in the column."
        },
        "minValue": {
          "description": "Minimum value appearing in the column.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "quantileValues": {
          "type": "array",
          "description": "List of 99 values that partition the set of field values into 100 equal sized buckets.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          }
        }
      },
      "description": "Result of the numerical stats computation.",
      "type": "object"
    },
    "GooglePrivacyDlpV2ContentItem": {
      "type": "object",
      "properties": {
        "byteItem": {
          "$ref": "GooglePrivacyDlpV2ByteContentItem",
          "description": "Content data to inspect or redact. Replaces `type` and `data`."
        },
        "table": {
          "$ref": "GooglePrivacyDlpV2Table",
          "description": "Structured content for inspection. See https://cloud.google.com/sensitive-data-protection/docs/inspecting-text#inspecting_a_table to learn more."
        },
        "value": {
          "type": "string",
          "description": "String data to inspect or redact."
        }
      },
      "description": "Type of content to inspect.",
      "id": "GooglePrivacyDlpV2ContentItem"
    },
    "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest": {
      "type": "object",
      "id": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest",
      "properties": {
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Updated configuration for the storedInfoType. If not provided, a new version of the storedInfoType will be created with the existing configuration."
        },
        "updateMask": {
          "description": "Mask to control which fields get updated.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for UpdateStoredInfoType."
    },
    "GooglePrivacyDlpV2CreateStoredInfoTypeRequest": {
      "properties": {
        "storedInfoTypeId": {
          "description": "The storedInfoType ID can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "config": {
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig",
          "description": "Required. Configuration of the storedInfoType to create."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        }
      },
      "description": "Request message for CreateStoredInfoType.",
      "id": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2PublishToStackdriver": {
      "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count. This will publish a metric to stack driver on each infotype requested and how many findings were found for it. CustomDetectors will be bucketed as 'Custom' under the Stackdriver label 'info_type'.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishToStackdriver"
    },
    "GooglePrivacyDlpV2PathElement": {
      "id": "GooglePrivacyDlpV2PathElement",
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`."
        },
        "kind": {
          "type": "string",
[...]
