{
  "discoveryVersion": "v1",
  "resources": {
    "changes": {
      "methods": {
        "get": {
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes/{changeId}",
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "changeId"
          ],
          "response": {
            "$ref": "Change"
          },
          "description": "Fetches the representation of an existing Change.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "changeId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true
            },
            "location": {
              "location": "path",
              "type": "string",
              "required": true,
              "default": "global"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "dns.changes.get",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes/{changeId}"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "description": "Enumerates Changes to a ResourceRecordSet collection.",
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "sortOrder": {
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "type": "integer",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "sortBy": {
              "enumDescriptions": [
                ""
              ],
              "location": "query",
              "enum": [
                "CHANGE_SEQUENCE"
              ],
              "default": "CHANGE_SEQUENCE",
              "type": "string",
              "description": "Sorting criterion. The only supported value is change sequence."
            },
            "location": {
              "default": "global",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "dns.changes.list",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes",
          "response": {
            "$ref": "ChangesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "create": {
          "request": {
            "$ref": "Change"
          },
          "description": "Atomically updates the ResourceRecordSet collection.",
          "response": {
            "$ref": "Change"
          },
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "location": {
              "default": "global",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "id": "dns.changes.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes"
        }
      }
    },
    "managedZones": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "location": {
              "type": "string",
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "id": "dns.managedZones.delete",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "description": "Deletes a previously created ManagedZone.",
          "httpMethod": "DELETE",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "create": {
          "id": "dns.managedZones.create",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones",
          "parameterOrder": [
            "project",
            "location"
          ],
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones",
          "parameters": {
            "location": {
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string",
              "required": true,
              "default": "global",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Creates a new ManagedZone."
        },
        "get": {
          "id": "dns.managedZones.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "ManagedZone"
          },
          "parameters": {
            "location": {
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path",
              "default": "global",
              "required": true,
              "type": "string"
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Fetches the representation of an existing ManagedZone.",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}"
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "id": "dns.managedZones.patch",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "description": "Applies a partial update to an existing ManagedZone.",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "ManagedZone"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "description": "Updates an existing ManagedZone.",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "dns.managedZones.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "required": true,
              "location": "path",
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          }
        },
        "list": {
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones",
          "id": "dns.managedZones.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones",
          "parameterOrder": [
            "project",
            "location"
          ],
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "dnsName": {
              "description": "Restricts the list to return only zones with this domain name.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "path",
              "type": "string",
              "required": true,
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            }
          },
          "description": "Enumerates ManagedZones that have been created but not yet deleted."
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "list": {
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/operations",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/operations",
          "id": "dns.managedZoneOperations.list",
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "httpMethod": "GET",
          "description": "Enumerates Operations for the given ManagedZone.",
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path",
              "default": "global",
              "type": "string"
            },
            "sortBy": {
              "enum": [
                "START_TIME",
                "ID"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "default": "START_TIME",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/operations/{operation}",
          "id": "dns.managedZoneOperations.get",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/operations/{operation}",
          "description": "Fetches the representation of an existing Operation.",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "location": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "operation": {
              "type": "string",
              "description": "Identifies the operation addressed by this request (ID of the operation).",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "operation"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "DnsKey"
          },
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "dnsKeyId"
          ],
          "parameters": {
            "dnsKeyId": {
              "type": "string",
              "description": "The identifier of the requested DnsKey.",
              "location": "path",
              "required": true
            },
            "digestType": {
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query"
            },
            "location": {
              "type": "string",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "id": "dns.dnsKeys.get",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "description": "Fetches the representation of an existing DnsKey."
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "parameters": {
            "digestType": {
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query"
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "location": {
              "required": true,
              "location": "path",
              "type": "string",
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection.",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/dnsKeys",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/dnsKeys",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.dnsKeys.list"
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "patch": {
          "parameters": {
            "location": {
              "type": "string",
              "required": true,
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path"
            },
            "responsePolicyRule": {
              "type": "string",
              "location": "path",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "required": true
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "description": "Applies a partial update to an existing Response Policy Rule.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicyRules.patch",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "PATCH"
        },
        "update": {
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          },
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.update",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "required": true,
              "location": "path"
            },
            "location": {
              "type": "string",
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "required": true,
              "location": "path"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing Response Policy Rule."
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicyRules.list",
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules",
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          },
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "location": "path",
              "description": "User assigned name of the Response Policy to list.",
              "type": "string"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path",
              "default": "global"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "delete": {
          "id": "dns.responsePolicyRules.delete",
          "parameters": {
            "responsePolicyRule": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "User assigned name of the Response Policy Rule addressed by this request."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "location": {
              "default": "global",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Deletes a previously created Response Policy Rule.",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE"
        },
        "create": {
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules",
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "location": {
              "location": "path",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string",
              "default": "global"
            }
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules",
          "description": "Creates a new Response Policy Rule.",
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "location": {
              "default": "global",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "responsePolicyRule": {
              "required": true,
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "id": "dns.responsePolicyRules.get"
        }
      }
    },
    "responsePolicies": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Applies a partial update to an existing Response Policy.",
          "request": {
            "$ref": "ResponsePolicy"
          },
          "id": "dns.responsePolicies.patch",
          "parameters": {
            "responsePolicy": {
              "description": "User assigned name of the Respones Policy addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "location": {
              "default": "global",
              "type": "string",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          },
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ]
        },
        "get": {
          "description": "Fetches the representation of an existing Response Policy.",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path"
            },
            "location": {
              "required": true,
              "default": "global",
              "type": "string",
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "dns.responsePolicies.get"
        },
        "create": {
          "httpMethod": "POST",
          "description": "Creates a new Response Policy",
          "id": "dns.responsePolicies.create",
          "parameterOrder": [
            "project",
            "location"
          ],
          "response": {
            "$ref": "ResponsePolicy"
          },
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            },
            "location": {
              "description": "Specifies the location of the resource, only applicable in the v APIs. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "ResponsePolicy"
          },
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "description": "Enumerates all Response Policies associated with a project.",
          "id": "dns.responsePolicies.list",
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            },
            "location": {
              "type": "string",
              "required": true,
              "default": "global",
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies",
          "parameterOrder": [
            "project",
            "location"
          ]
        },
        "update": {
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "request": {
            "$ref": "ResponsePolicy"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          },
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.update",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy addressed by this request.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "location": {
              "location": "path",
              "default": "global",
              "type": "string",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Updates an existing Response Policy."
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ],
          "id": "dns.responsePolicies.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User assigned name of the Response Policy addressed by this request."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "location": {
              "default": "global",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "list": {
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32"
            },
            "type": {
              "type": "string",
              "description": "Restricts the list to return only records of this type. If present, the \"name\" parameter must also be present.",
              "location": "query"
            },
            "location": {
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "required": true,
              "type": "string"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "name": {
              "description": "Restricts the list to return only records with this fully qualified domain name.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            }
          },
          "description": "Enumerates ResourceRecordSets that you have created but not yet deleted.",
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "id": "dns.resourceRecordSets.list"
        },
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Fully qualified domain name.",
              "location": "path"
            },
            "location": {
              "type": "string",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path",
              "default": "global"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "type": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "RRSet type."
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "id": "dns.resourceRecordSets.get",
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "name",
            "type"
          ],
          "description": "Fetches the representation of an existing ResourceRecordSet.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}"
        },
        "create": {
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "location": {
              "location": "path",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "type": "string"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "id": "dns.resourceRecordSets.create",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "description": "Creates a new ResourceRecordSet.",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets"
        },
        "delete": {
          "description": "Deletes a previously created ResourceRecordSet.",
          "parameters": {
            "location": {
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "location": "path",
              "type": "string"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Fully qualified domain name."
            },
            "type": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "RRSet type."
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "id": "dns.resourceRecordSets.delete",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "name",
            "type"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "description": "Applies a partial update to an existing ResourceRecordSet.",
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "name",
            "type"
          ],
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "id": "dns.resourceRecordSets.patch",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "name": {
              "location": "path",
              "description": "Fully qualified domain name.",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "location": {
              "default": "global",
              "required": true,
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string"
            },
            "type": {
              "description": "RRSet type.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PATCH"
        }
      }
    },
    "policies": {
      "methods": {
        "patch": {
          "id": "dns.policies.patch",
          "httpMethod": "PATCH",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "path": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "parameters": {
            "policy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "location": {
              "default": "global",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "location",
            "policy"
          ],
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "request": {
            "$ref": "Policy"
          },
          "description": "Applies a partial update to an existing Policy."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Updates an existing Policy.",
          "httpMethod": "PUT",
          "id": "dns.policies.update",
          "request": {
            "$ref": "Policy"
          },
          "parameters": {
            "policy": {
              "location": "path",
              "description": "User given friendly name of the policy addressed by this request.",
              "required": true,
              "type": "string"
            },
            "location": {
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string",
              "required": true,
              "default": "global"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "location",
            "policy"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "path": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "response": {
            "$ref": "PoliciesUpdateResponse"
          }
        },
        "list": {
          "parameters": {
            "location": {
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string",
              "default": "global",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            }
          },
          "parameterOrder": [
            "project",
            "location"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/policies",
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies",
          "description": "Enumerates all Policies associated with a project.",
          "id": "dns.policies.list"
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "id": "dns.policies.delete",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "location": {
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path",
              "default": "global",
              "required": true,
              "type": "string"
            },
            "policy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request."
            }
          },
          "parameterOrder": [
            "project",
            "location",
            "policy"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "description": "Deletes a previously created Policy. Fails if the policy is still being referenced by a network."
        },
        "get": {
          "path": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "httpMethod": "GET",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "id": "dns.policies.get",
          "parameterOrder": [
            "project",
            "location",
            "policy"
          ],
          "description": "Fetches the representation of an existing Policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "location": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "policy": {
              "required": true,
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          }
        },
        "create": {
          "parameterOrder": [
            "project",
            "location"
          ],
          "description": "Creates a new Policy.",
          "path": "dns/v2/projects/{project}/locations/{location}/policies",
          "request": {
            "$ref": "Policy"
          },
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "location": {
              "required": true,
              "type": "string",
              "default": "global",
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies",
          "id": "dns.policies.create"
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "location": {
              "default": "global",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Project"
          },
          "description": "Fetches the representation of an existing Project.",
          "id": "dns.projects.get",
          "parameterOrder": [
            "project",
            "location"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}",
          "flatPath": "dns/v2/projects/{project}/locations/{location}"
        }
      }
    }
  },
  "description": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "canonicalName": "Dns",
  "baseUrl": "https://dns.googleapis.com/",
  "version": "v2",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dns/docs",
  "kind": "discovery#restDescription",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "revision": "20220428",
  "id": "dns:v2",
  "schemas": {
    "ManagedZoneOperationsListResponse": {
      "properties": {
        "kind": {
          "default": "dns#managedZoneOperationsListResponse",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "The operation resources."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        }
      },
      "id": "ManagedZoneOperationsListResponse",
      "type": "object"
    },
    "DnsKeySpec": {
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "id": "DnsKeySpec",
      "type": "object",
      "properties": {
        "keyType": {
          "type": "string",
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets.",
          "enum": [
            "KEY_SIGNING",
            "ZONE_SIGNING"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "type": "string",
          "default": "dns#dnsKeySpec"
        },
        "algorithm": {
          "enum": [
            "RSASHA1",
            "RSASHA256",
            "RSASHA512",
            "ECDSAP256SHA256",
            "ECDSAP384SHA384"
          ],
          "type": "string",
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "keyLength": {
          "format": "uint32",
          "description": "Length of the keys in bits.",
          "type": "integer"
        }
      }
    },
    "DnsKeysListResponse": {
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone.",
      "id": "DnsKeysListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size."
        },
        "kind": {
          "default": "dns#dnsKeysListResponse",
          "type": "string",
          "description": "Type of resource."
        },
        "dnsKeys": {
          "type": "array",
          "items": {
            "$ref": "DnsKey"
          },
          "description": "The requested resources."
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "type": "object"
    },
    "ResponsePolicyRulesListResponse": {
      "properties": {
        "responsePolicyRules": {
          "items": {
            "$ref": "ResponsePolicyRule"
          },
          "type": "array",
          "description": "The Response Policy Rule resources."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        }
      },
      "id": "ResponsePolicyRulesListResponse",
      "type": "object"
    },
    "ManagedZoneServiceDirectoryConfig": {
      "id": "ManagedZoneServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfig",
          "type": "string"
        },
        "namespace": {
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace",
          "description": "Contains information about the namespace associated with the zone."
        }
      },
      "description": "Contains information about Service Directory-backed zones."
    },
    "ResponsePolicyRuleLocalData": {
      "type": "object",
      "properties": {
        "localDatas": {
          "description": "All resource record sets for this selector, one per resource record type. The name must match the dns_name.",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        }
      },
      "id": "ResponsePolicyRuleLocalData"
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem",
      "properties": {
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem"
        },
        "location": {
          "type": "string",
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc."
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "description": "DNSSEC generated signatures for all the rrdata within this item. Note that if health checked targets are provided for DNSSEC enabled zones, there's a restriction of 1 ip per item. .",
          "type": "array"
        }
      },
      "type": "object",
      "description": "ResourceRecordSet data for one geo location."
    },
    "PolicyAlternativeNameServerConfigTargetNameServer": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#policyAlternativeNameServerConfigTargetNameServer",
          "type": "string"
        },
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address to forward to."
        },
        "forwardingPath": {
          "type": "string",
          "description": "Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "enumDescriptions": [
            "Cloud DNS makes forwarding decision based on IP address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "enum": [
            "DEFAULT",
            "PRIVATE"
          ]
        }
      },
      "id": "PolicyAlternativeNameServerConfigTargetNameServer"
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicy",
      "description": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion.",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          }
        }
      }
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "id": "ManagedZonePrivateVisibilityConfigNetwork",
      "type": "object",
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. Format this URL like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfigNetwork",
          "type": "string"
        }
      }
    },
    "Project": {
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console. Next tag: 7.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#project",
          "type": "string"
        },
        "quota": {
          "$ref": "Quota",
          "description": "Quotas assigned to this project (output only)."
        },
        "number": {
          "type": "string",
          "description": "Unique numeric identifier for the resource; defined by the server (output only).",
          "format": "uint64"
        },
        "id": {
          "type": "string",
          "description": "User assigned unique identifier for the resource (output only)."
        }
      },
      "id": "Project"
    },
    "ResponsePoliciesUpdateResponse": {
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      },
      "type": "object",
      "id": "ResponsePoliciesUpdateResponse"
    },
    "ResponsePolicyGKECluster": {
      "id": "ResponsePolicyGKECluster",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#responsePolicyGKECluster"
        },
        "gkeClusterName": {
          "description": "The resource name of the cluster to bind this response policy to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChangesListResponse": {
      "id": "ChangesListResponse",
      "type": "object",
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection.",
      "properties": {
        "kind": {
          "default": "dns#changesListResponse",
          "type": "string",
          "description": "Type of resource."
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. This lets you retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a \"snapshot\" of collections larger than the maximum page size.",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "changes": {
          "items": {
            "$ref": "Change"
          },
          "type": "array",
          "description": "The requested changes."
        }
      }
    },
    "ManagedZoneReverseLookupConfig": {
      "type": "object",
      "id": "ManagedZoneReverseLookupConfig",
      "properties": {
        "kind": {
          "default": "dns#managedZoneReverseLookupConfig",
          "type": "string"
        }
      }
    },
    "RRSetRoutingPolicy": {
      "description": "A RRSetRoutingPolicy represents ResourceRecordSet data that is returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection.",
      "id": "RRSetRoutingPolicy",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicy"
        },
        "geo": {
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        },
        "wrr": {
          "$ref": "RRSetRoutingPolicyWrrPolicy"
        }
      }
    },
    "PolicyNetwork": {
      "type": "object",
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#policyNetwork"
        }
      },
      "id": "PolicyNetwork"
    },
    "ResponsePoliciesListResponse": {
      "type": "object",
      "id": "ResponsePoliciesListResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "responsePolicies": {
          "type": "array",
          "description": "The Response Policy resources.",
          "items": {
            "$ref": "ResponsePolicy"
          }
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      }
    },
    "ResponseHeader": {
      "properties": {
        "operationId": {
          "description": "For mutating operation requests that completed successfully. This is the client_operation_id if the client specified it, otherwise it is generated by the server (output only).",
          "type": "string"
        }
      },
      "id": "ResponseHeader",
      "type": "object",
      "description": "Elements common to every response."
    },
    "RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "type": "object",
      "description": "A routing block which contains the routing information for one WRR item.",
      "properties": {
        "weight": {
          "type": "number",
          "description": "The weight corresponding to this subset of rrdata. When multiple WeightedRoundRobinPolicyItems are configured, the probability of returning an rrset is proportional to its weight relative to the sum of weights configured for all items. This weight should be non-negative.",
          "format": "double"
        },
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicyWrrPolicyItem",
          "type": "string"
        },
        "signatureRrdatas": {
          "type": "array",
          "description": "DNSSEC generated signatures for all the rrdata within this item. Note that if health checked targets are provided for DNSSEC enabled zones, there's a restriction of 1 ip per item. .",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "type": "object",
      "properties": {
        "gkeClusters": {
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigGKECluster"
          },
          "description": "The list of Google Kubernetes Engine clusters that can see this zone.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfig"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          },
          "description": "The list of VPC networks that can see this zone."
        }
      },
      "id": "ManagedZonePrivateVisibilityConfig"
    },
    "PoliciesListResponse": {
      "type": "object",
      "id": "PoliciesListResponse",
      "properties": {
        "kind": {
          "default": "dns#policiesListResponse",
          "type": "string",
          "description": "Type of resource."
        },
        "policies": {
          "description": "The policy resources.",
          "type": "array",
          "items": {
            "$ref": "Policy"
          }
        },
        "nextPageToken": {
[...]
