{
  "description": "",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "name": "dns",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "baseUrl": "https://dns.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "resources": {
    "policies": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "policy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request."
            },
            "location": {
              "default": "global",
              "type": "string",
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "required": true
            }
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "parameterOrder": [
            "project",
            "location",
            "policy"
          ],
          "id": "dns.policies.update",
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "description": "Updates an existing Policy.",
          "path": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "request": {
            "$ref": "Policy"
          }
        },
        "create": {
          "path": "dns/v2/projects/{project}/locations/{location}/policies",
          "parameterOrder": [
            "project",
            "location"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "Policy"
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies",
          "description": "Creates a new Policy.",
          "id": "dns.policies.create",
          "httpMethod": "POST",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "location": {
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string",
              "required": true,
              "location": "path",
              "default": "global"
            }
          },
          "response": {
            "$ref": "Policy"
          }
        },
        "delete": {
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "httpMethod": "DELETE",
          "path": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "id": "dns.policies.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "location",
            "policy"
          ],
          "parameters": {
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string",
              "default": "global",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "description": "Deletes a previously created Policy. Fails if the policy is still being referenced by a network."
        },
        "list": {
          "id": "dns.policies.list",
          "httpMethod": "GET",
          "description": "Enumerates all Policies associated with a project.",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "location": {
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies",
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "path": "dns/v2/projects/{project}/locations/{location}/policies",
          "parameterOrder": [
            "project",
            "location"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "description": "Fetches the representation of an existing Policy.",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "location": {
              "required": true,
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project",
            "location",
            "policy"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "id": "dns.policies.get",
          "path": "dns/v2/projects/{project}/locations/{location}/policies/{policy}"
        },
        "patch": {
          "path": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "description": "Applies a partial update to an existing Policy.",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/policies/{policy}",
          "id": "dns.policies.patch",
          "parameterOrder": [
            "project",
            "location",
            "policy"
          ],
          "request": {
            "$ref": "Policy"
          },
          "parameters": {
            "policy": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request."
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            },
            "location": {
              "location": "path",
              "default": "global",
              "type": "string",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "httpMethod": "PATCH"
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Project"
          },
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "location": {
              "required": true,
              "default": "global",
              "location": "path",
              "type": "string"
            }
          },
          "path": "dns/v2/projects/{project}/locations/{location}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "description": "Fetches the representation of an existing Project.",
          "id": "dns.projects.get",
          "flatPath": "dns/v2/projects/{project}/locations/{location}",
          "parameterOrder": [
            "project",
            "location"
          ]
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "list": {
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets",
          "id": "dns.resourceRecordSets.list",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "location": {
              "type": "string",
              "required": true,
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path"
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "Restricts the list to return only records with this fully qualified domain name."
            },
            "type": {
              "location": "query",
              "description": "Restricts the list to return only records of this type. If present, the \"name\" parameter must also be present.",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Enumerates ResourceRecordSets that you have created but not yet deleted."
        },
        "create": {
          "description": "Creates a new ResourceRecordSet.",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "location": {
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "id": "dns.resourceRecordSets.create",
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets"
        },
        "patch": {
          "id": "dns.resourceRecordSets.patch",
          "description": "Applies a partial update to an existing ResourceRecordSet.",
          "parameters": {
            "managedZone": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "type": {
              "type": "string",
              "location": "path",
              "description": "RRSet type.",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "location": {
              "type": "string",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "required": true,
              "default": "global",
              "location": "path"
            },
            "name": {
              "description": "Fully qualified domain name.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "name",
            "type"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "description": "Deletes a previously created ResourceRecordSet.",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Fully qualified domain name.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "type": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "RRSet type."
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true
            },
            "location": {
              "required": true,
              "location": "path",
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "dns.resourceRecordSets.delete",
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "name",
            "type"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "id": "dns.resourceRecordSets.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "parameters": {
            "managedZone": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "name": {
              "required": true,
              "location": "path",
              "description": "Fully qualified domain name.",
              "type": "string"
            },
            "location": {
              "location": "path",
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "required": true,
              "type": "string"
            },
            "type": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "RRSet type."
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "description": "Fetches the representation of an existing ResourceRecordSet.",
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "name",
            "type"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/rrsets/{name}/{type}"
        }
      }
    },
    "responsePolicies": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          },
          "parameters": {
            "responsePolicy": {
              "location": "path",
              "description": "User assigned name of the Respones Policy addressed by this request.",
              "required": true,
              "type": "string"
            },
            "location": {
              "type": "string",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path",
              "default": "global"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request."
            }
          },
          "description": "Applies a partial update to an existing Response Policy.",
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ],
          "request": {
            "$ref": "ResponsePolicy"
          }
        },
        "get": {
          "response": {
            "$ref": "ResponsePolicy"
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "location": {
              "default": "global",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "responsePolicy": {
              "location": "path",
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicies.get",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "description": "Fetches the representation of an existing Response Policy.",
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ]
        },
        "delete": {
          "id": "dns.responsePolicies.delete",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.",
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "location": {
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "required": true,
              "type": "string",
              "default": "global"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ]
        },
        "create": {
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies",
          "parameterOrder": [
            "project",
            "location"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "location": {
              "location": "path",
              "description": "Specifies the location of the resource, only applicable in the v APIs. This information will be used for routing and will be part of the resource name.",
              "required": true,
              "default": "global",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "ResponsePolicy"
          },
          "id": "dns.responsePolicies.create",
          "httpMethod": "POST",
          "description": "Creates a new Response Policy"
        },
        "update": {
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "request": {
            "$ref": "ResponsePolicy"
          },
          "httpMethod": "PUT",
          "parameters": {
            "responsePolicy": {
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            },
            "location": {
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path",
              "type": "string",
              "default": "global"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          },
          "id": "dns.responsePolicies.update",
          "description": "Updates an existing Response Policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "location"
          ],
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          },
          "parameters": {
            "location": {
              "default": "global",
              "location": "path",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            }
          },
          "id": "dns.responsePolicies.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Enumerates all Response Policies associated with a project."
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "location": {
              "type": "string",
              "location": "path",
              "default": "global",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "digestType": {
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            }
          },
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/dnsKeys",
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/dnsKeys",
          "id": "dns.dnsKeys.list",
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "response": {
            "$ref": "DnsKey"
          },
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "dnsKeyId"
          ],
          "description": "Fetches the representation of an existing DnsKey.",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "parameters": {
            "digestType": {
              "type": "string",
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed."
            },
            "location": {
              "default": "global",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "dnsKeyId": {
              "description": "The identifier of the requested DnsKey.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "httpMethod": "GET",
          "id": "dns.dnsKeys.get"
        }
      }
    },
    "changes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "dns.changes.list",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "location": {
              "type": "string",
              "default": "global",
              "location": "path",
              "required": true
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "sortBy": {
              "description": "Sorting criterion. The only supported value is change sequence.",
              "default": "CHANGE_SEQUENCE",
              "enum": [
                "CHANGE_SEQUENCE"
              ],
              "type": "string",
              "enumDescriptions": [
                ""
              ],
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "location": "query"
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes",
          "description": "Enumerates Changes to a ResourceRecordSet collection.",
          "response": {
            "$ref": "ChangesListResponse"
          }
        },
        "create": {
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "location": {
              "required": true,
              "default": "global",
              "type": "string",
              "location": "path"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes",
          "request": {
            "$ref": "Change"
          },
          "id": "dns.changes.create",
          "httpMethod": "POST",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes",
          "description": "Atomically updates the ResourceRecordSet collection.",
          "response": {
            "$ref": "Change"
          }
        },
        "get": {
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "id": "dns.changes.get",
          "httpMethod": "GET",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/changes/{changeId}",
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "changeId": {
              "type": "string",
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "required": true,
              "location": "path"
            },
            "location": {
              "location": "path",
              "type": "string",
              "required": true,
              "default": "global"
            }
          },
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "changeId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Fetches the representation of an existing Change."
        }
      }
    },
    "managedZones": {
      "methods": {
        "delete": {
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "id": "dns.managedZones.delete",
          "httpMethod": "DELETE",
          "description": "Deletes a previously created ManagedZone.",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "location": {
              "required": true,
              "default": "global",
              "type": "string",
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            }
          }
        },
        "update": {
          "id": "dns.managedZones.update",
          "parameters": {
            "location": {
              "required": true,
              "location": "path",
              "default": "global",
              "type": "string",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "ManagedZone"
          },
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Updates an existing ManagedZone."
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "location": {
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "type": "string",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true
            }
          },
          "id": "dns.managedZones.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "description": "Fetches the representation of an existing ManagedZone."
        },
        "list": {
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones",
          "description": "Enumerates ManagedZones that have been created but not yet deleted.",
          "parameters": {
            "dnsName": {
              "location": "query",
              "type": "string",
              "description": "Restricts the list to return only zones with this domain name."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "location": {
              "type": "string",
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "required": true,
              "default": "global"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            }
          },
          "httpMethod": "GET",
          "id": "dns.managedZones.list",
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones",
          "parameterOrder": [
            "project",
            "location"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "description": "Applies a partial update to an existing ManagedZone.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "managedZone": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "location": {
              "required": true,
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "location": "path",
              "type": "string"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "id": "dns.managedZones.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ManagedZone"
          },
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}"
        },
        "create": {
          "request": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones",
          "parameterOrder": [
            "project",
            "location"
          ],
          "httpMethod": "POST",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZones.create",
          "response": {
            "$ref": "ManagedZone"
          },
          "parameters": {
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "location": {
              "default": "global",
              "required": true,
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string"
            }
          },
          "description": "Creates a new ManagedZone."
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules",
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "type": "integer"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "responsePolicy": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User assigned name of the Response Policy to list."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "location": {
              "required": true,
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string",
              "default": "global"
            }
          },
          "id": "dns.responsePolicyRules.list",
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          },
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "id": "dns.responsePolicyRules.patch",
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "responsePolicy": {
              "location": "path",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string",
              "required": true
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "location": {
              "default": "global",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            }
          },
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Applies a partial update to an existing Response Policy Rule."
        },
        "create": {
          "httpMethod": "POST",
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules",
          "id": "dns.responsePolicyRules.create",
          "description": "Creates a new Response Policy Rule.",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "location": {
              "default": "global",
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "type": "string",
              "required": true
            },
            "responsePolicy": {
              "location": "path",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules"
        },
        "delete": {
          "description": "Deletes a previously created Response Policy Rule.",
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "id": "dns.responsePolicyRules.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "responsePolicy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "location": {
              "location": "path",
              "required": true,
              "default": "global",
              "type": "string",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "responsePolicyRule": {
              "type": "string",
              "location": "path",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          }
        },
        "update": {
          "id": "dns.responsePolicyRules.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "PUT",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "parameters": {
            "responsePolicyRule": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request."
            },
            "location": {
              "default": "global",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates an existing Response Policy Rule.",
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          }
        },
        "get": {
          "id": "dns.responsePolicyRules.get",
          "path": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "location",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true
            },
            "location": {
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "default": "global",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "ResponsePolicyRule"
          }
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "dns.managedZoneOperations.list",
          "parameterOrder": [
            "project",
            "location",
            "managedZone"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path"
            },
            "location": {
              "type": "string",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name.",
              "location": "path",
              "default": "global",
              "required": true
            },
            "sortBy": {
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "START_TIME",
                "ID"
              ],
              "type": "string",
              "default": "START_TIME"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Enumerates Operations for the given ManagedZone.",
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/operations"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "location": {
              "default": "global",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Specifies the location of the resource. This information will be used for routing and will be part of the resource name."
            },
            "operation": {
              "required": true,
              "description": "Identifies the operation addressed by this request (ID of the operation).",
              "location": "path",
              "type": "string"
            }
          },
          "id": "dns.managedZoneOperations.get",
          "httpMethod": "GET",
          "path": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/operations/{operation}",
          "response": {
            "$ref": "Operation"
          },
          "description": "Fetches the representation of an existing Operation.",
          "parameterOrder": [
            "project",
            "location",
            "managedZone",
            "operation"
          ],
          "flatPath": "dns/v2/projects/{project}/locations/{location}/managedZones/{managedZone}/operations/{operation}"
        }
      }
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "revision": "20220505",
  "ownerName": "Google",
  "rootUrl": "https://dns.googleapis.com/",
  "schemas": {
    "Quota": {
      "id": "Quota",
      "description": "Limits associated with a Project.",
      "type": "object",
      "properties": {
        "dnsKeysPerManagedZone": {
          "description": "Maximum allowed number of DnsKeys per ManagedZone.",
          "format": "int32",
          "type": "integer"
        },
        "managedZones": {
          "type": "integer",
          "description": "Maximum allowed number of managed zones in the project.",
          "format": "int32"
        },
        "rrsetAdditionsPerChange": {
          "description": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.",
          "format": "int32",
          "type": "integer"
        },
        "whitelistedKeySpecs": {
          "items": {
            "$ref": "DnsKeySpec"
          },
          "type": "array",
          "description": "DNSSEC algorithm and key length types that can be used for DnsKeys."
        },
        "targetNameServersPerPolicy": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of alternative target name servers per policy."
        },
        "policies": {
          "format": "int32",
          "description": "Maximum allowed number of policies per project.",
          "type": "integer"
        },
        "peeringZonesPerTargetNetwork": {
          "format": "int32",
          "description": "Maximum allowed number of consumer peering zones per target network owned by this producer project",
          "type": "integer"
        },
        "rrsetsPerManagedZone": {
          "description": "Maximum allowed number of ResourceRecordSets per zone in the project.",
          "type": "integer",
          "format": "int32"
        },
        "managedZonesPerNetwork": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of managed zones which can be attached to a network."
        },
        "itemsPerRoutingPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of items per routing policy.",
          "format": "int32"
        },
        "networksPerManagedZone": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of networks to which a privately scoped zone can be attached."
        },
        "totalRrdataSizePerChange": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes."
        },
        "resourceRecordsPerRrset": {
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecords per ResourceRecordSet.",
          "format": "int32"
        },
        "rrsetDeletionsPerChange": {
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "default": "dns#quota"
        },
        "networksPerPolicy": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of networks per policy."
        },
        "targetNameServersPerManagedZone": {
          "description": "Maximum allowed number of target name servers per managed forwarding zone.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DnsKeyDigest": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Specifies the algorithm used to calculate this digest.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SHA1",
            "SHA256",
            "SHA384"
          ]
        },
        "digest": {
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DnsKeyDigest"
    },
    "RRSetRoutingPolicyGeoPolicy": {
      "type": "object",
      "id": "RRSetRoutingPolicyGeoPolicy",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicy",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The primary geo routing configuration. If there are multiple items with the same location, an error is returned instead.",
          "items": {
            "$ref": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
          }
        }
      },
      "description": "Configures a RRSetRoutingPolicy that routes based on the geo location of the querying user."
    },
    "ManagedZoneForwardingConfig": {
      "type": "object",
      "id": "ManagedZoneForwardingConfig",
      "properties": {
        "targetNameServers": {
          "type": "array",
          "description": "List of target name servers to forward to. Cloud DNS selects the best available name server if more than one target is given.",
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          }
        },
        "kind": {
          "default": "dns#managedZoneForwardingConfig",
          "type": "string"
        }
      }
    },
    "ResponsePoliciesUpdateResponse": {
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "id": "ResponsePoliciesUpdateResponse",
      "type": "object"
    },
    "ManagedZoneCloudLoggingConfig": {
      "type": "object",
      "properties": {
        "enableLogging": {
          "type": "boolean",
          "description": "If set, enable query logging for this ManagedZone. False by default, making logging opt-in."
        },
        "kind": {
          "default": "dns#managedZoneCloudLoggingConfig",
          "type": "string"
        }
      },
      "id": "ManagedZoneCloudLoggingConfig",
      "description": "Cloud Logging configurations for publicly visible zones."
    },
    "OperationManagedZoneContext": {
      "properties": {
        "newValue": {
          "description": "The post-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        },
        "oldValue": {
          "description": "The pre-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        }
      },
      "type": "object",
      "id": "OperationManagedZoneContext"
    },
    "PoliciesListResponse": {
      "properties": {
        "policies": {
          "type": "array",
          "items": {
            "$ref": "Policy"
          },
          "description": "The policy resources."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "kind": {
          "default": "dns#policiesListResponse",
          "description": "Type of resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PoliciesListResponse"
    },
    "RRSetRoutingPolicy": {
      "id": "RRSetRoutingPolicy",
      "type": "object",
      "properties": {
        "wrr": {
          "$ref": "RRSetRoutingPolicyWrrPolicy"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicy",
          "type": "string"
        },
        "geo": {
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        }
      },
      "description": "A RRSetRoutingPolicy represents ResourceRecordSet data that is returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection."
    },
    "ResponsePolicy": {
      "description": "A Response Policy is a collection of selectors that apply to queries made against one or more Virtual Private Cloud networks.",
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description for this Response Policy."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "int64"
        },
        "gkeClusters": {
          "type": "array",
          "description": "The list of Google Kubernetes Engine clusters to which this response policy is applied.",
          "items": {
            "$ref": "ResponsePolicyGKECluster"
          }
        },
        "responsePolicyName": {
          "type": "string",
          "description": "User assigned name for this Response Policy."
        },
        "kind": {
          "default": "dns#responsePolicy",
          "type": "string"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "ResponsePolicyNetwork"
          },
          "description": "List of network names specifying networks to which this policy is applied."
        }
      },
      "type": "object",
      "id": "ResponsePolicy"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id.",
      "properties": {
        "startTime": {
          "description": "The time that this operation was started by the server. This is in RFC3339 text format (output only).",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PENDING",
            "DONE"
          ],
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "type": "string"
        },
        "user": {
          "description": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)",
          "type": "string"
        },
        "zoneContext": {
          "$ref": "OperationManagedZoneContext",
          "description": "Only populated if the operation targeted a ManagedZone (output only)."
        },
        "id": {
          "description": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of the operation. Operations include insert, update, and delete (output only)."
        },
        "kind": {
          "default": "dns#operation",
          "type": "string"
        },
        "dnsKeyContext": {
          "description": "Only populated if the operation targeted a DnsKey (output only).",
          "$ref": "OperationDnsKeyContext"
        }
      }
    },
    "Project": {
      "id": "Project",
      "properties": {
        "number": {
          "format": "uint64",
          "description": "Unique numeric identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "quota": {
          "description": "Quotas assigned to this project (output only).",
          "$ref": "Quota"
        },
        "id": {
          "type": "string",
          "description": "User assigned unique identifier for the resource (output only)."
        },
        "kind": {
          "default": "dns#project",
          "type": "string"
        }
      },
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console. Next tag: 7.",
      "type": "object"
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc."
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem"
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "DNSSEC generated signatures for all the rrdata within this item. Note that if health checked targets are provided for DNSSEC enabled zones, there's a restriction of 1 ip per item. ."
        },
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem",
      "description": "ResourceRecordSet data for one geo location."
    },
    "ManagedZoneServiceDirectoryConfig": {
      "id": "ManagedZoneServiceDirectoryConfig",
      "properties": {
        "namespace": {
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace",
          "description": "Contains information about the namespace associated with the zone."
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneServiceDirectoryConfig"
        }
      },
      "type": "object",
      "description": "Contains information about Service Directory-backed zones."
    },
    "ResponsePolicyRulesPatchResponse": {
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "id": "ResponsePolicyRulesPatchResponse",
      "type": "object"
    },
    "DnsKeySpec": {
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "type": "object",
      "properties": {
        "keyLength": {
          "format": "uint32",
          "description": "Length of the keys in bits.",
          "type": "integer"
        },
        "algorithm": {
          "enum": [
            "RSASHA1",
            "RSASHA256",
            "RSASHA512",
            "ECDSAP256SHA256",
            "ECDSAP384SHA384"
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "keyType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "KEY_SIGNING",
            "ZONE_SIGNING"
          ],
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#dnsKeySpec"
        }
      },
      "id": "DnsKeySpec"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfig",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfig"
        },
        "gkeClusters": {
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigGKECluster"
          },
          "description": "The list of Google Kubernetes Engine clusters that can see this zone.",
          "type": "array"
        },
        "networks": {
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          },
          "description": "The list of VPC networks that can see this zone.",
          "type": "array"
        }
      }
    },
    "ChangesListResponse": {
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection.",
      "id": "ChangesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. This lets you retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a \"snapshot\" of collections larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "description": "Type of resource.",
          "default": "dns#changesListResponse",
          "type": "string"
        },
        "changes": {
          "type": "array",
          "items": {
            "$ref": "Change"
          },
          "description": "The requested changes."
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      }
    },
    "ResourceRecordSet": {
      "description": "A unit of data that is returned by the DNS servers.",
      "type": "object",
      "id": "ResourceRecordSet",
      "properties": {
        "routingPolicy": {
          "$ref": "RRSetRoutingPolicy",
[...]
