{
  "title": "Cloud DNS API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "dns:v1",
  "documentationLink": "https://cloud.google.com/dns/docs",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "ManagedZoneServiceDirectoryConfigNamespace": {
      "id": "ManagedZoneServiceDirectoryConfigNamespace",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfigNamespace",
          "type": "string"
        },
        "namespaceUrl": {
          "description": "The fully qualified URL of the namespace associated with the zone. Format must be https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}",
          "type": "string"
        },
        "deletionTime": {
          "description": "The time that the namespace backing this zone was deleted; an empty string if it still exists. This is in RFC3339 text format. Output only.",
          "type": "string"
        }
      }
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "description": "ResourceRecordSet data for one geo location.",
      "type": "object",
      "properties": {
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "healthCheckedTargets": {
          "description": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with rrdata within this item.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "signatureRrdatas": {
          "description": "DNSSEC generated signatures for all the rrdata within this item. Note that if health checked targets are provided for DNSSEC enabled zones, there's a restriction of 1 ip per item. .",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc."
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem"
        }
      },
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
    },
    "RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "id": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem",
      "description": "A routing block which contains the routing information for one WRR item.",
      "properties": {
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "weight": {
          "type": "number",
          "description": "The weight corresponding to this subset of rrdata. When multiple WeightedRoundRobinPolicyItems are configured, the probability of returning an rrset is proportional to its weight relative to the sum of weights configured for all items. This weight should be non-negative.",
          "format": "double"
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyWrrPolicyWrrPolicyItem"
        },
        "healthCheckedTargets": {
          "description": "endpoints that need to be health checked before making the routing decision. The unhealthy endpoints will be omitted from the result. If all endpoints within a buckete are unhealthy, we'll choose a different bucket (sampled w.r.t. its weight) for responding. Note that if DNSSEC is enabled for this zone, only one of rrdata or health_checked_targets can be set.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "signatureRrdatas": {
          "description": "DNSSEC generated signatures for all the rrdata within this item. Note that if health checked targets are provided for DNSSEC enabled zones, there's a restriction of 1 ip per item. .",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ResponsePolicyRule": {
      "type": "object",
      "description": "A Response Policy Rule is a selector that applies its behavior to queries that match the selector. Selectors are DNS names, which may be wildcards or exact matches. Each DNS query subject to a Response Policy matches at most one ResponsePolicyRule, as identified by the dns_name field with the longest matching suffix.",
      "properties": {
        "kind": {
          "default": "dns#responsePolicyRule",
          "type": "string"
        },
        "behavior": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Skip a less-specific ResponsePolicyRule and continue normal query logic. This can be used with a less-specific wildcard selector to exempt a subset of the wildcard ResponsePolicyRule from the ResponsePolicy behavior and query the public Internet instead. For instance, if these rules exist: *.example.com -\u003e LocalData 1.2.3.4 foo.example.com -\u003e Behavior 'bypassResponsePolicy' Then a query for 'foo.example.com' skips the wildcard. This additionally functions to facilitate the allowlist feature. RPZs can be applied to multiple levels in the (eventually org, folder, project, network) hierarchy. If a rule is applied at a higher level of the hierarchy, adding a passthru rule at a lower level will supersede that, and a query from an affected vm to that domain will be exempt from the RPZ and proceed to normal resolution behavior."
          ],
          "enum": [
            "behaviorUnspecified",
            "bypassResponsePolicy"
          ],
          "description": "Answer this query with a behavior rather than DNS data."
        },
        "dnsName": {
          "type": "string",
          "description": "The DNS name (wildcard or exact) to apply this rule to. Must be unique within the Response Policy Rule."
        },
        "localData": {
          "description": "Answer this query directly with DNS data. These ResourceRecordSets override any other DNS behavior for the matched name; in particular they override private zones, the public internet, and GCP internal DNS. No SOA nor NS types are allowed.",
          "$ref": "ResponsePolicyRuleLocalData"
        },
        "ruleName": {
          "type": "string",
          "description": "An identifier for this rule. Must be unique with the ResponsePolicy."
        }
      },
      "id": "ResponsePolicyRule"
    },
    "PoliciesListResponse": {
      "id": "PoliciesListResponse",
      "type": "object",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "type": "string",
          "default": "dns#policiesListResponse",
          "description": "Type of resource."
        },
        "policies": {
          "items": {
            "$ref": "Policy"
          },
          "description": "The policy resources.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        }
      }
    },
    "ManagedZoneOperationsListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "operations": {
          "description": "The operation resources.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "kind": {
          "default": "dns#managedZoneOperationsListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "id": "ManagedZoneOperationsListResponse",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "ManagedZoneForwardingConfigNameServerTarget": {
      "properties": {
        "kind": {
          "default": "dns#managedZoneForwardingConfigNameServerTarget",
          "type": "string"
        },
        "ipv4Address": {
          "description": "IPv4 address of a target name server.",
          "type": "string"
        },
        "forwardingPath": {
          "description": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on IP address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "enum": [
            "default",
            "private"
          ],
          "enumDescriptions": [
            "Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZoneForwardingConfigNameServerTarget"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "id": "ManagedZonePrivateVisibilityConfig",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfig"
        },
        "networks": {
          "type": "array",
          "description": "The list of VPC networks that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          }
        }
      },
      "type": "object"
    },
    "Quota": {
      "properties": {
        "gkeClustersPerManagedZone": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of GKE clusters to which a privately scoped zone can be attached."
        },
        "dnsKeysPerManagedZone": {
          "type": "integer",
          "description": "Maximum allowed number of DnsKeys per ManagedZone.",
          "format": "int32"
        },
        "resourceRecordsPerRrset": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecords per ResourceRecordSet."
        },
        "totalRrdataSizePerChange": {
          "description": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.",
          "type": "integer",
          "format": "int32"
        },
        "managedZonesPerNetwork": {
          "type": "integer",
          "description": "Maximum allowed number of managed zones which can be attached to a network.",
          "format": "int32"
        },
        "networksPerManagedZone": {
          "description": "Maximum allowed number of networks to which a privately scoped zone can be attached.",
          "type": "integer",
          "format": "int32"
        },
        "targetNameServersPerPolicy": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of alternative target name servers per policy."
        },
        "kind": {
          "default": "dns#quota",
          "type": "string"
        },
        "managedZonesPerGkeCluster": {
          "format": "int32",
          "description": "Maximum allowed number of managed zones which can be attached to a GKE cluster.",
          "type": "integer"
        },
        "gkeClustersPerResponsePolicy": {
          "description": "Maximum allowed number of GKE clusters per response policy.",
          "type": "integer",
          "format": "int32"
        },
        "managedZones": {
          "description": "Maximum allowed number of managed zones in the project.",
          "format": "int32",
          "type": "integer"
        },
        "rrsetAdditionsPerChange": {
          "description": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.",
          "format": "int32",
          "type": "integer"
        },
        "networksPerPolicy": {
          "description": "Maximum allowed number of networks per policy.",
          "format": "int32",
          "type": "integer"
        },
        "responsePolicyRulesPerResponsePolicy": {
          "type": "integer",
          "description": "Maximum allowed number of rules per response policy.",
          "format": "int32"
        },
        "itemsPerRoutingPolicy": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of items per routing policy."
        },
        "networksPerResponsePolicy": {
          "type": "integer",
          "description": "Maximum allowed number of networks per response policy.",
          "format": "int32"
        },
        "policies": {
          "description": "Maximum allowed number of policies per project.",
          "format": "int32",
          "type": "integer"
        },
        "gkeClustersPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of GKE clusters per policy.",
          "format": "int32"
        },
        "responsePolicies": {
          "description": "Maximum allowed number of response policies per project.",
          "type": "integer",
          "format": "int32"
        },
        "whitelistedKeySpecs": {
          "items": {
            "$ref": "DnsKeySpec"
          },
          "type": "array",
          "description": "DNSSEC algorithm and key length types that can be used for DnsKeys."
        },
        "targetNameServersPerManagedZone": {
          "format": "int32",
          "description": "Maximum allowed number of target name servers per managed forwarding zone.",
          "type": "integer"
        },
        "rrsetDeletionsPerChange": {
          "description": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.",
          "format": "int32",
          "type": "integer"
        },
        "peeringZonesPerTargetNetwork": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of consumer peering zones per target network owned by this producer project"
        },
        "rrsetsPerManagedZone": {
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecordSets per zone in the project.",
          "format": "int32"
        }
      },
      "description": "Limits associated with a Project.",
      "type": "object",
      "id": "Quota"
    },
    "ResponseHeader": {
      "description": "Elements common to every response.",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "For mutating operation requests that completed successfully. This is the client_operation_id if the client specified it, otherwise it is generated by the server (output only)."
        }
      },
      "id": "ResponseHeader",
      "type": "object"
    },
    "Project": {
      "id": "Project",
      "properties": {
        "id": {
          "description": "User assigned unique identifier for the resource (output only).",
          "type": "string"
        },
        "number": {
          "type": "string",
          "format": "uint64",
          "description": "Unique numeric identifier for the resource; defined by the server (output only)."
        },
        "kind": {
          "default": "dns#project",
          "type": "string"
        },
        "quota": {
          "$ref": "Quota",
          "description": "Quotas assigned to this project (output only)."
        }
      },
      "type": "object",
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console. Next tag: 7."
    },
    "Expr": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "ManagedZone": {
      "type": "object",
      "id": "ManagedZone",
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service.",
      "properties": {
        "labels": {
          "description": "User labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function.",
          "type": "string"
        },
        "dnssecConfig": {
          "description": "DNSSEC configuration.",
          "$ref": "ManagedZoneDnsSecConfig"
        },
        "peeringConfig": {
          "$ref": "ManagedZonePeeringConfig",
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with."
        },
        "reverseLookupConfig": {
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS resolves reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config.",
          "$ref": "ManagedZoneReverseLookupConfig"
        },
        "nameServerSet": {
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users leave this field unset. If you need to use this field, contact your account team.",
          "type": "string"
        },
        "id": {
          "format": "uint64",
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)"
        },
        "visibility": {
          "enum": [
            "public",
            "private"
          ],
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.",
          "type": "string"
        },
        "privateVisibilityConfig": {
          "$ref": "ManagedZonePrivateVisibilityConfig",
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from."
        },
        "kind": {
          "default": "dns#managedZone",
          "type": "string"
        },
        "nameServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)"
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only."
        },
        "forwardingConfig": {
          "$ref": "ManagedZoneForwardingConfig",
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to."
        },
        "dnsName": {
          "description": "The DNS name of this managed zone, for instance \"example.com.\".",
          "type": "string"
        },
        "cloudLoggingConfig": {
          "$ref": "ManagedZoneCloudLoggingConfig"
        },
        "serviceDirectoryConfig": {
          "description": "This field links to the associated service directory namespace. Do not set this field for public zones or forwarding zones.",
          "$ref": "ManagedZoneServiceDirectoryConfig"
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig"
    },
    "ManagedZonesListResponse": {
      "id": "ManagedZonesListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of resource.",
          "default": "dns#managedZonesListResponse"
        },
        "managedZones": {
          "type": "array",
          "items": {
            "$ref": "ManagedZone"
          },
          "description": "The managed zone resources."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        }
      },
      "type": "object"
    },
    "DnsKeySpec": {
      "id": "DnsKeySpec",
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#dnsKeySpec",
          "type": "string"
        },
        "keyLength": {
          "format": "uint32",
          "type": "integer",
          "description": "Length of the keys in bits."
        },
        "keyType": {
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets."
        },
        "algorithm": {
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "type": "string",
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleIamV1GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GoogleIamV1GetPolicyOptions"
    },
    "ResponsePoliciesPatchResponse": {
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      },
      "type": "object",
      "id": "ResponsePoliciesPatchResponse"
    },
    "GoogleIamV1Binding": {
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "type": "object"
    },
    "PoliciesPatchResponse": {
      "type": "object",
      "id": "PoliciesPatchResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "PolicyAlternativeNameServerConfig": {
      "properties": {
        "targetNameServers": {
          "type": "array",
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          }
        },
        "kind": {
          "default": "dns#policyAlternativeNameServerConfig",
          "type": "string"
        }
      },
      "id": "PolicyAlternativeNameServerConfig",
      "type": "object"
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "type": "object",
      "description": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion.",
      "id": "RRSetRoutingPolicyWrrPolicy",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          },
          "type": "array"
        }
      }
    },
    "RRSetRoutingPolicyHealthCheckTargets": {
      "id": "RRSetRoutingPolicyHealthCheckTargets",
      "description": "HealthCheckTargets describes endpoints to health-check when responding to Routing Policy queries. Only the healthy endpoints will be included in the response.",
      "properties": {
        "internalLoadBalancers": {
          "items": {
            "$ref": "RRSetRoutingPolicyLoadBalancerTarget"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PolicyAlternativeNameServerConfigTargetNameServer": {
      "type": "object",
      "properties": {
        "forwardingPath": {
          "description": "Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "enumDescriptions": [
            "Cloud DNS makes forwarding decision based on IP address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "type": "string",
          "enum": [
            "default",
            "private"
          ]
        },
        "ipv4Address": {
          "description": "IPv4 address to forward to.",
          "type": "string"
        },
        "kind": {
          "default": "dns#policyAlternativeNameServerConfigTargetNameServer",
          "type": "string"
        }
      },
      "id": "PolicyAlternativeNameServerConfigTargetNameServer"
    },
    "ManagedZonePeeringConfig": {
      "id": "ManagedZonePeeringConfig",
      "properties": {
        "targetNetwork": {
          "description": "The network with which to peer.",
          "$ref": "ManagedZonePeeringConfigTargetNetwork"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfig"
        }
      },
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "ManagedZoneServiceDirectoryConfig": {
      "properties": {
        "namespace": {
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace",
          "description": "Contains information about the namespace associated with the zone."
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneServiceDirectoryConfig"
        }
      },
      "id": "ManagedZoneServiceDirectoryConfig",
      "description": "Contains information about Service Directory-backed zones.",
      "type": "object"
    },
    "OperationManagedZoneContext": {
      "type": "object",
      "id": "OperationManagedZoneContext",
      "properties": {
        "newValue": {
          "$ref": "ManagedZone",
          "description": "The post-operation ManagedZone resource."
        },
        "oldValue": {
          "$ref": "ManagedZone",
          "description": "The pre-operation ManagedZone resource."
        }
      }
    },
    "Policy": {
      "properties": {
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function."
        },
        "enableLogging": {
          "type": "boolean",
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set."
        },
        "enableInboundForwarding": {
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address is allocated from each of the subnetworks that are bound to this policy.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "User-assigned name for this policy."
        },
        "alternativeNameServerConfig": {
          "$ref": "PolicyAlternativeNameServerConfig",
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified."
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "PolicyNetwork"
          },
          "description": "List of network names specifying networks to which this policy is applied."
        },
        "id": {
          "type": "string",
          "format": "uint64",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "kind": {
          "type": "string",
          "default": "dns#policy"
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources."
    },
    "ResponsePolicyNetwork": {
      "id": "ResponsePolicyNetwork",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#responsePolicyNetwork",
          "type": "string"
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
        }
      }
    },
    "PolicyNetwork": {
      "id": "PolicyNetwork",
      "properties": {
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
        },
        "kind": {
          "type": "string",
          "default": "dns#policyNetwork"
        }
      },
      "type": "object"
    },
    "ResponsePolicyRuleLocalData": {
      "id": "ResponsePolicyRuleLocalData",
      "properties": {
        "localDatas": {
          "description": "All resource record sets for this selector, one per resource record type. The name must match the dns_name.",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DnsKey": {
      "id": "DnsKey",
      "description": "A DNSSEC key pair.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, are used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag is cleared, and this key is used to sign only resource record sets of other types. Immutable after creation time.",
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "type": "string"
        },
        "isActive": {
          "description": "Active keys are used to sign subsequent changes to the ManagedZone. Inactive keys are still present as DNSKEY Resource Records for the use of resolvers validating existing signatures.",
          "type": "boolean"
        },
        "digests": {
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.",
          "items": {
            "$ref": "DnsKeyDigest"
          },
          "type": "array"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "algorithm": {
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ]
        },
        "keyLength": {
          "type": "integer",
          "description": "Length of the key in bits. Specified at creation time, and then immutable.",
          "format": "uint32"
        },
        "keyTag": {
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.",
          "format": "int32",
          "type": "integer"
        },
        "publicKey": {
          "type": "string",
          "description": "Base64 encoded public half of this key. Output only."
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#dnsKey"
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only."
        }
      },
      "type": "object"
    },
    "OperationDnsKeyContext": {
      "properties": {
        "newValue": {
          "$ref": "DnsKey",
          "description": "The post-operation DnsKey resource."
        },
        "oldValue": {
          "$ref": "DnsKey",
          "description": "The pre-operation DnsKey resource."
        }
      },
      "id": "OperationDnsKeyContext",
      "type": "object"
    },
    "ResponsePoliciesListResponse": {
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "responsePolicies": {
          "items": {
            "$ref": "ResponsePolicy"
          },
          "type": "array",
          "description": "The Response Policy resources."
        }
      },
      "id": "ResponsePoliciesListResponse",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "RRSetRoutingPolicyPrimaryBackupPolicy": {
      "type": "object",
      "description": "Configures a RRSetRoutingPolicy such that all queries are responded with the primary_targets if they are healthy. And if all of them are unhealthy, then we fallback to a geo localized policy.",
      "id": "RRSetRoutingPolicyPrimaryBackupPolicy",
      "properties": {
        "backupGeoTargets": {
          "$ref": "RRSetRoutingPolicyGeoPolicy",
          "description": "Backup targets provide a regional failover policy for the otherwise global primary targets. If serving state is set to BACKUP, this policy essentially becomes a geo routing policy."
        },
        "primaryTargets": {
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "trickleTraffic": {
          "format": "double",
          "description": "When serving state is PRIMARY, this field provides the option of sending a small percentage of the traffic to the backup targets.",
          "type": "number"
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyPrimaryBackupPolicy"
        }
      }
    },
    "ResponsePolicyRulesListResponse": {
      "id": "ResponsePolicyRulesListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "responsePolicyRules": {
          "items": {
            "$ref": "ResponsePolicyRule"
          },
          "type": "array",
          "description": "The Response Policy Rule resources."
        }
      },
      "type": "object"
    },
    "ManagedZoneDnsSecConfig": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZoneDnsSecConfig"
        },
        "state": {
          "description": "Specifies whether DNSSEC is enabled, and what mode it is in.",
          "type": "string",
          "enumDescriptions": [
            "DNSSEC is disabled; the zone is not signed.",
            "DNSSEC is enabled; the zone is signed and fully managed.",
            "DNSSEC is enabled, but in a \"transfer\" mode."
          ],
          "enum": [
            "off",
            "on",
            "transfer"
          ]
        },
        "nonExistence": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "nsec",
            "nsec3"
          ],
          "description": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF."
        },
        "defaultKeySpecs": {
          "description": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF.",
          "type": "array",
          "items": {
            "$ref": "DnsKeySpec"
          }
        }
      },
      "id": "ManagedZoneDnsSecConfig"
    },
    "ResponsePolicy": {
      "description": "A Response Policy is a collection of selectors that apply to queries made against one or more Virtual Private Cloud networks.",
      "type": "object",
      "properties": {
        "description": {
          "description": "User-provided description for this Response Policy.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "int64",
          "type": "string"
        },
        "networks": {
          "description": "List of network names specifying networks to which this policy is applied.",
          "type": "array",
          "items": {
            "$ref": "ResponsePolicyNetwork"
          }
        },
        "kind": {
          "type": "string",
          "default": "dns#responsePolicy"
        },
        "responsePolicyName": {
          "description": "User assigned name for this Response Policy.",
          "type": "string"
        }
      },
      "id": "ResponsePolicy"
    },
    "DnsKeyDigest": {
      "id": "DnsKeyDigest",
      "type": "object",
      "properties": {
        "digest": {
          "type": "string",
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record."
        },
        "type": {
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "type": "string",
          "description": "Specifies the algorithm used to calculate this digest.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "DnsKeysListResponse": {
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "dnsKeys": {
          "items": {
            "$ref": "DnsKey"
          },
          "type": "array",
          "description": "The requested resources."
        },
        "kind": {
          "description": "Type of resource.",
          "default": "dns#dnsKeysListResponse",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size.",
          "type": "string"
        }
      },
      "id": "DnsKeysListResponse",
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone.",
      "type": "object"
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "id": "GoogleIamV1GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      },
      "type": "object",
      "description": "Request message for `GetIamPolicy` method."
    },
    "ResourceRecordSetsDeleteResponse": {
      "properties": {},
      "id": "ResourceRecordSetsDeleteResponse",
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfigNetwork"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. Format this URL like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        }
      },
      "id": "ManagedZonePrivateVisibilityConfigNetwork",
      "type": "object"
    },
    "PoliciesUpdateResponse": {
      "id": "PoliciesUpdateResponse",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      }
    },
    "Change": {
      "id": "Change",
      "description": "A Change represents a set of ResourceRecordSet additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the ResourceRecordSets in a ManagedZone. The current state of the ManagedZone is the sum effect of applying all Change elements in the Changes collection in sequence.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format."
        },
        "additions": {
          "description": "Which ResourceRecordSets to add?",
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "isServing": {
          "type": "boolean",
          "description": "If the DNS queries for the zone will be served."
        },
        "status": {
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enum": [
            "pending",
            "done"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "type": "string",
          "default": "dns#change"
        },
        "deletions": {
          "type": "array",
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly.",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        }
      },
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "ManagedZoneCloudLoggingConfig": {
      "description": "Cloud Logging configurations for publicly visible zones.",
      "properties": {
        "enableLogging": {
          "type": "boolean",
          "description": "If set, enable query logging for this ManagedZone. False by default, making logging opt-in."
        },
        "kind": {
          "default": "dns#managedZoneCloudLoggingConfig",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZoneCloudLoggingConfig"
    },
    "ChangesListResponse": {
      "id": "ChangesListResponse",
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection.",
      "type": "object",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. This lets you retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a \"snapshot\" of collections larger than the maximum page size."
        },
        "kind": {
          "default": "dns#changesListResponse",
          "type": "string",
          "description": "Type of resource."
        },
        "changes": {
          "items": {
            "$ref": "Change"
          },
          "type": "array",
          "description": "The requested changes."
        }
      }
    },
    "RRSetRoutingPolicy": {
      "type": "object",
      "id": "RRSetRoutingPolicy",
      "description": "A RRSetRoutingPolicy represents ResourceRecordSet data that is returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection.",
      "properties": {
        "primaryBackup": {
          "$ref": "RRSetRoutingPolicyPrimaryBackupPolicy"
        },
        "geo": {
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        },
        "wrr": {
          "$ref": "RRSetRoutingPolicyWrrPolicy"
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicy"
        }
      }
    },
    "RRSetRoutingPolicyLoadBalancerTarget": {
      "id": "RRSetRoutingPolicyLoadBalancerTarget",
      "properties": {
        "project": {
          "type": "string",
          "description": "present. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network} The project ID in which the ILB exists."
        },
        "port": {
          "description": "Load Balancer to health check. The configured port of the Load Balancer.",
          "type": "string"
        },
        "networkUrl": {
          "description": "The fully qualified url of the network on which the ILB is",
          "type": "string"
        },
        "ipAddress": {
          "description": "The frontend IP address of the",
          "type": "string"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyLoadBalancerTarget",
          "type": "string"
        },
        "loadBalancerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "none",
            "regionalL4ilb"
          ]
        },
        "ipProtocol": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "undefined",
            "tcp",
            "udp"
          ]
        },
        "region": {
          "type": "string",
          "description": "The region for regional ILBs."
        }
      },
      "type": "object"
    },
    "ResourceRecordSet": {
      "description": "A unit of data that is returned by the DNS servers.",
      "type": "object",
      "id": "ResourceRecordSet",
      "properties": {
        "ttl": {
          "format": "int32",
          "type": "integer",
          "description": "Number of seconds that this ResourceRecordSet can be cached by resolvers."
        },
        "routingPolicy": {
          "$ref": "RRSetRoutingPolicy",
          "description": "Configures dynamic query responses based on geo location of querying user or a weighted round robin based routing policy. A ResourceRecordSet should only have either rrdata (static) or routing_policy (dynamic). An error is returned otherwise."
        },
        "rrdatas": {
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "The identifier of a supported record type. See the list of Supported DNS record types."
        },
        "kind": {
          "default": "dns#resourceRecordSet",
          "type": "string"
        },
        "name": {
          "description": "For example, www.example.com.",
          "type": "string"
        },
        "signatureRrdatas": {
          "description": "As defined in RFC 4034 (section 3.2).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "RRSetRoutingPolicyGeoPolicy": {
      "description": "Configures a RRSetRoutingPolicy that routes based on the geo location of the querying user.",
      "type": "object",
      "id": "RRSetRoutingPolicyGeoPolicy",
      "properties": {
        "items": {
          "description": "The primary geo routing configuration. If there are multiple items with the same location, an error is returned instead.",
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
          }
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyGeoPolicy"
        },
        "enableFencing": {
          "description": "Without fencing, if health check fails for all configured items in the current geo bucket, we'll failover to the next nearest geo bucket. With fencing, if health check is enabled, as long as some targets in the current geo bucket are healthy, we'll return only the healthy targets. However, if they're all unhealthy, we won't failover to the next nearest bucket, we'll simply return all the items in the current bucket even though they're unhealthy.",
          "type": "boolean"
        }
      }
    },
    "ResourceRecordSetsListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. This lets you retrieve complete contents of even larger collections, one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "kind": {
          "type": "string",
          "default": "dns#resourceRecordSetsListResponse",
          "description": "Type of resource."
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "rrsets": {
          "type": "array",
          "description": "The resource record set resources.",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        }
      },
      "id": "ResourceRecordSetsListResponse",
      "type": "object"
    },
    "ResponsePoliciesUpdateResponse": {
      "id": "ResponsePoliciesUpdateResponse",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id.",
      "properties": {
        "zoneContext": {
          "description": "Only populated if the operation targeted a ManagedZone (output only).",
          "$ref": "OperationManagedZoneContext"
        },
        "dnsKeyContext": {
          "$ref": "OperationDnsKeyContext",
          "description": "Only populated if the operation targeted a DnsKey (output only)."
        },
        "type": {
          "description": "Type of the operation. Operations include insert, update, and delete (output only).",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "pending",
            "done"
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server. This is in RFC3339 text format (output only)."
        },
        "id": {
          "description": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)"
        },
        "kind": {
          "default": "dns#operation",
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "deactivateTime": {
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfigTargetNetwork"
        }
      },
      "id": "ManagedZonePeeringConfigTargetNetwork",
      "type": "object"
    },
    "ManagedZoneForwardingConfig": {
      "properties": {
        "kind": {
          "default": "dns#managedZoneForwardingConfig",
          "type": "string"
        },
        "targetNameServers": {
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          },
          "description": "List of target name servers to forward to. Cloud DNS selects the best available name server if more than one target is given.",
          "type": "array"
        }
      },
      "id": "ManagedZoneForwardingConfig",
      "type": "object"
    },
    "ManagedZoneReverseLookupConfig": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#managedZoneReverseLookupConfig",
          "type": "string"
        }
      },
      "id": "ManagedZoneReverseLookupConfig"
    },
    "ResponsePolicyRulesPatchResponse": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "id": "ResponsePolicyRulesPatchResponse"
    },
    "ResponsePolicyRulesUpdateResponse": {
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "id": "ResponsePolicyRulesUpdateResponse",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "name": "dns",
  "rootUrl": "https://dns.googleapis.com/",
  "resources": {
    "managedZoneOperations": {
      "methods": {
        "list": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "required": true
            },
            "sortBy": {
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "type": "string",
              "enum": [
                "startTime",
                "id"
              ],
              "default": "startTime"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request."
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Enumerates Operations for the given ManagedZone.",
          "httpMethod": "GET",
          "id": "dns.managedZoneOperations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "response": {
            "$ref": "Operation"
          },
          "description": "Fetches the representation of an existing Operation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZoneOperations.get",
          "httpMethod": "GET",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "operation": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the operation addressed by this request (ID of the operation)."
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request."
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}"
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "list": {
          "id": "dns.dnsKeys.list",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "digestType": {
              "type": "string",
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection.",
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys"
        },
        "get": {
          "response": {
            "$ref": "DnsKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.dnsKeys.get",
          "description": "Fetches the representation of an existing DnsKey.",
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "parameters": {
            "digestType": {
              "type": "string",
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed."
            },
            "managedZone": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "dnsKeyId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The identifier of the requested DnsKey."
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            }
          }
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "responsePolicy": {
              "location": "path",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "required": true,
              "type": "string"
            },
            "responsePolicyRule": {
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "httpMethod": "GET",
          "id": "dns.responsePolicyRules.get",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}"
        },
        "patch": {
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true
            },
            "responsePolicy": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "description": "Applies a partial update to an existing Response Policy Rule.",
          "id": "dns.responsePolicyRules.patch",
          "request": {
            "$ref": "ResponsePolicyRule"
          }
        },
        "create": {
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "description": "Creates a new Response Policy Rule.",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicyRules.create",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "httpMethod": "POST",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules"
        },
        "list": {
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "id": "dns.responsePolicyRules.list",
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "responsePolicy": {
              "required": true,
              "description": "User assigned name of the Response Policy to list.",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "dns.responsePolicyRules.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "responsePolicyRule": {
              "required": true,
              "location": "path",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Deletes a previously created Response Policy Rule."
        },
        "update": {
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "parameters": {
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "responsePolicy": {
              "required": true,
              "location": "path",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          },
          "id": "dns.responsePolicyRules.update",
          "description": "Updates an existing Response Policy Rule."
        }
      }
    },
    "changes": {
      "methods": {
        "create": {
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "POST",
          "description": "Atomically updates the ResourceRecordSet collection.",
          "request": {
            "$ref": "Change"
          },
          "response": {
            "$ref": "Change"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "id": "dns.changes.create"
        },
        "get": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Change"
          },
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "changeId": {
              "type": "string",
              "required": true,
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "location": "path"
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            }
          },
          "description": "Fetches the representation of an existing Change.",
[...]
