{
  "revision": "20200927",
  "basePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "ownerDomain": "google.com",
  "id": "dns:v1beta2",
  "documentationLink": "http://developers.google.com/cloud-dns",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "batchPath": "batch",
  "canonicalName": "Dns",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "ManagedZoneForwardingConfig": {
      "type": "object",
      "id": "ManagedZoneForwardingConfig",
      "properties": {
        "targetNameServers": {
          "description": "List of target name servers to forward to. Cloud DNS will select the best available name server if more than one target is given.",
          "type": "array",
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          }
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneForwardingConfig"
        }
      }
    },
    "Project": {
      "id": "Project",
      "properties": {
        "kind": {
          "default": "dns#project",
          "type": "string"
        },
        "number": {
          "format": "uint64",
          "type": "string",
          "description": "Unique numeric identifier for the resource; defined by the server (output only)."
        },
        "quota": {
          "description": "Quotas assigned to this project (output only).",
          "$ref": "Quota"
        },
        "id": {
          "description": "User assigned unique identifier for the resource (output only).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console."
    },
    "PoliciesPatchResponse": {
      "type": "object",
      "id": "PoliciesPatchResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "ManagedZoneServiceDirectoryConfigNamespace": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZoneServiceDirectoryConfigNamespace"
        },
        "namespaceUrl": {
          "type": "string",
          "description": "The fully qualified URL of the namespace associated with the zone. This should be formatted like https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}"
        },
        "deletionTime": {
          "type": "string",
          "description": "The time that the namespace backing this zone was deleted, empty string if it still exists. This is in RFC3339 text format. Output only."
        }
      },
      "type": "object",
      "id": "ManagedZoneServiceDirectoryConfigNamespace"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time that this operation was started by the server. This is in RFC3339 text format (output only).",
          "type": "string"
        },
        "zoneContext": {
          "$ref": "OperationManagedZoneContext",
          "description": "Only populated if the operation targeted a ManagedZone (output only)."
        },
        "type": {
          "description": "Type of the operation. Operations include insert, update, and delete (output only).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)"
        },
        "dnsKeyContext": {
          "description": "Only populated if the operation targeted a DnsKey (output only).",
          "$ref": "OperationDnsKeyContext"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enum": [
            "pending",
            "done"
          ]
        },
        "kind": {
          "default": "dns#operation",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)"
        }
      },
      "id": "Operation",
      "description": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id."
    },
    "PolicyNetwork": {
      "id": "PolicyNetwork",
      "type": "object",
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#policyNetwork"
        }
      }
    },
    "PolicyAlternativeNameServerConfig": {
      "id": "PolicyAlternativeNameServerConfig",
      "type": "object",
      "properties": {
        "targetNameServers": {
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          },
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "dns#policyAlternativeNameServerConfig"
        }
      }
    },
    "ManagedZonePrivateVisibilityConfig": {
      "type": "object",
      "properties": {
        "networks": {
          "type": "array",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          },
          "description": "The list of VPC networks that can see this zone."
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfig"
        }
      },
      "id": "ManagedZonePrivateVisibilityConfig"
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "id": "ManagedZonePrivateVisibilityConfigNetwork",
      "type": "object",
      "properties": {
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfigNetwork",
          "type": "string"
        }
      }
    },
    "ResponseHeader": {
      "properties": {
        "operationId": {
          "type": "string",
          "description": "For mutating operation requests that completed successfully. This is the client_operation_id if the client specified it, otherwise it is generated by the server (output only)."
        }
      },
      "description": "Elements common to every response.",
      "type": "object",
      "id": "ResponseHeader"
    },
    "DnsKeySpec": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "keyType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, will only be used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and will be used to sign all other types of resource record sets.",
          "enum": [
            "keySigning",
            "zoneSigning"
          ]
        },
        "keyLength": {
          "type": "integer",
          "format": "uint32",
          "description": "Length of the keys in bits."
        },
        "kind": {
          "type": "string",
          "default": "dns#dnsKeySpec"
        }
      },
      "type": "object",
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "id": "DnsKeySpec"
    },
    "ManagedZoneForwardingConfigNameServerTarget": {
      "properties": {
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address of a target name server."
        },
        "kind": {
          "default": "dns#managedZoneForwardingConfigNameServerTarget",
          "type": "string"
        },
        "forwardingPath": {
          "enumDescriptions": [
            "Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses will forward to the target through the Internet",
            "Cloud DNS will always forward to this target through the VPC."
          ],
          "type": "string",
          "description": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses go to the VPC, non-RFC1918 addresses go to the Internet. When set to PRIVATE, Cloud DNS will always send queries through VPC for this target.",
          "enum": [
            "default",
            "private"
          ]
        }
      },
      "id": "ManagedZoneForwardingConfigNameServerTarget",
      "type": "object"
    },
    "ManagedZoneReverseLookupConfig": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZoneReverseLookupConfig"
        }
      },
      "id": "ManagedZoneReverseLookupConfig"
    },
    "ChangesListResponse": {
      "id": "ChangesListResponse",
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection.",
      "type": "object",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "description": "Type of resource.",
          "default": "dns#changesListResponse",
          "type": "string"
        },
        "changes": {
          "description": "The requested changes.",
          "type": "array",
          "items": {
            "$ref": "Change"
          }
        }
      }
    },
    "PolicyAlternativeNameServerConfigTargetNameServer": {
      "id": "PolicyAlternativeNameServerConfigTargetNameServer",
      "properties": {
        "forwardingPath": {
          "enumDescriptions": [
            "Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses will forward to the target through the Internet",
            "Cloud DNS will always forward to this target through the VPC."
          ],
          "type": "string",
          "enum": [
            "default",
            "private"
          ],
          "description": "Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS will make forwarding decision based on address ranges, i.e. RFC1918 addresses go to the VPC, non-RFC1918 addresses go to the Internet. When set to PRIVATE, Cloud DNS will always send queries through VPC for this target."
        },
        "kind": {
          "type": "string",
          "default": "dns#policyAlternativeNameServerConfigTargetNameServer"
        },
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address to forward to."
        }
      },
      "type": "object"
    },
    "ManagedZonesListResponse": {
      "properties": {
        "kind": {
          "default": "dns#managedZonesListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "managedZones": {
          "type": "array",
          "description": "The managed zone resources.",
          "items": {
            "$ref": "ManagedZone"
          }
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      },
      "id": "ManagedZonesListResponse",
      "type": "object"
    },
    "Change": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#change"
        },
        "additions": {
          "description": "Which ResourceRecordSets to add?",
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "pending",
            "done"
          ],
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent but the servers might not be updated yet."
        },
        "isServing": {
          "type": "boolean",
          "description": "If the DNS queries for the zone will be served."
        },
        "deletions": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array",
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly."
        },
        "startTime": {
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format.",
          "type": "string"
        }
      },
      "id": "Change",
      "description": "A Change represents a set of ResourceRecordSet additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the ResourceRecordSets in a ManagedZone. The current state of the ManagedZone is the sum effect of applying all Change elements in the Changes collection in sequence.",
      "type": "object"
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "type": "object",
      "properties": {
        "deactivateTime": {
          "type": "string",
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only."
        },
        "kind": {
          "default": "dns#managedZonePeeringConfigTargetNetwork",
          "type": "string"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        }
      },
      "id": "ManagedZonePeeringConfigTargetNetwork"
    },
    "PoliciesListResponse": {
      "type": "object",
      "id": "PoliciesListResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "Policy"
          },
          "description": "The policy resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "kind": {
          "description": "Type of resource.",
          "type": "string",
          "default": "dns#policiesListResponse"
        }
      }
    },
    "OperationManagedZoneContext": {
      "id": "OperationManagedZoneContext",
      "properties": {
        "oldValue": {
          "description": "The pre-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        },
        "newValue": {
          "$ref": "ManagedZone",
          "description": "The post-operation ManagedZone resource."
        }
      },
      "type": "object"
    },
    "ManagedZoneServiceDirectoryConfig": {
      "properties": {
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfig",
          "type": "string"
        },
        "namespace": {
          "description": "Contains information about the namespace associated with the zone.",
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace"
        }
      },
      "id": "ManagedZoneServiceDirectoryConfig",
      "description": "Contains information about Service Directory-backed zones.",
      "type": "object"
    },
    "DnsKeysListResponse": {
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone.",
      "id": "DnsKeysListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size.",
          "type": "string"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "description": "Type of resource.",
          "type": "string",
          "default": "dns#dnsKeysListResponse"
        },
        "dnsKeys": {
          "description": "The requested resources.",
          "type": "array",
          "items": {
            "$ref": "DnsKey"
          }
        }
      },
      "type": "object"
    },
    "DnsKey": {
      "properties": {
        "publicKey": {
          "description": "Base64 encoded public half of this key. Output only.",
          "type": "string"
        },
        "isActive": {
          "type": "boolean",
          "description": "Active keys will be used to sign subsequent changes to the ManagedZone. Inactive keys will still be present as DNSKEY Resource Records for the use of resolvers validating existing signatures."
        },
        "kind": {
          "default": "dns#dnsKey",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "digests": {
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.",
          "items": {
            "$ref": "DnsKeyDigest"
          },
          "type": "array"
        },
        "keyLength": {
          "type": "integer",
          "format": "uint32",
          "description": "Length of the key in bits. Specified at creation time then immutable."
        },
        "type": {
          "type": "string",
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, will be used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag will be cleared and this key will be used to sign only resource record sets of other types. Immutable after creation time."
        },
        "algorithm": {
          "type": "string",
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time."
        },
        "creationTime": {
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function."
        },
        "keyTag": {
          "format": "int32",
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.",
          "type": "integer"
        }
      },
      "id": "DnsKey",
      "type": "object",
      "description": "A DNSSEC key pair."
    },
    "ManagedZoneOperationsListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "operations": {
          "type": "array",
          "description": "The operation resources.",
          "items": {
            "$ref": "Operation"
          }
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "default": "dns#managedZoneOperationsListResponse",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZoneOperationsListResponse"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#policy",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "User assigned name for this policy."
        },
        "networks": {
          "type": "array",
          "description": "List of network names specifying networks to which this policy is applied.",
          "items": {
            "$ref": "PolicyNetwork"
          }
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function."
        },
        "alternativeNameServerConfig": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "$ref": "PolicyAlternativeNameServerConfig"
        },
        "enableInboundForwarding": {
          "type": "boolean",
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address will be allocated from each of the sub-networks that are bound to this policy."
        },
        "enableLogging": {
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set.",
          "type": "boolean"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources.",
      "id": "Policy"
    },
    "OperationDnsKeyContext": {
      "properties": {
        "newValue": {
          "description": "The post-operation DnsKey resource.",
          "$ref": "DnsKey"
        },
        "oldValue": {
          "$ref": "DnsKey",
          "description": "The pre-operation DnsKey resource."
        }
      },
      "type": "object",
      "id": "OperationDnsKeyContext"
    },
    "ResourceRecordSet": {
      "description": "A unit of data that will be returned by the DNS servers.",
      "type": "object",
      "properties": {
        "name": {
          "description": "For example, www.example.com.",
          "type": "string"
        },
        "ttl": {
          "description": "Number of seconds that this ResourceRecordSet can be cached by resolvers.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "description": "The identifier of a supported record type. See the list of Supported DNS record types.",
          "type": "string"
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "As defined in RFC 4034 (section 3.2)."
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "dns#resourceRecordSet"
        }
      },
      "id": "ResourceRecordSet"
    },
    "PoliciesUpdateResponse": {
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "policy": {
          "$ref": "Policy"
        }
      },
      "id": "PoliciesUpdateResponse",
      "type": "object"
    },
    "ResourceRecordSetsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Type of resource.",
          "default": "dns#resourceRecordSetsListResponse"
        },
        "rrsets": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "The resource record set resources.",
          "type": "array"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      },
      "id": "ResourceRecordSetsListResponse"
    },
    "Quota": {
      "properties": {
        "targetNameServersPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of alternative target name servers per policy.",
          "format": "int32"
        },
        "rrsetDeletionsPerChange": {
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.",
          "type": "integer"
        },
        "rrsetsPerManagedZone": {
          "description": "Maximum allowed number of ResourceRecordSets per zone in the project.",
          "type": "integer",
          "format": "int32"
        },
        "policies": {
          "description": "Maximum allowed number of policies per project.",
          "format": "int32",
          "type": "integer"
        },
        "managedZonesPerNetwork": {
          "type": "integer",
          "description": "Maximum allowed number of managed zones which can be attached to a network.",
          "format": "int32"
        },
        "whitelistedKeySpecs": {
          "items": {
            "$ref": "DnsKeySpec"
          },
          "type": "array",
          "description": "DNSSEC algorithm and key length types that can be used for DnsKeys."
        },
        "dnsKeysPerManagedZone": {
          "description": "Maximum allowed number of DnsKeys per ManagedZone.",
          "format": "int32",
          "type": "integer"
        },
        "managedZones": {
          "description": "Maximum allowed number of managed zones in the project.",
          "format": "int32",
          "type": "integer"
        },
        "networksPerPolicy": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of networks per policy."
        },
        "resourceRecordsPerRrset": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecords per ResourceRecordSet."
        },
        "rrsetAdditionsPerChange": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest."
        },
        "targetNameServersPerManagedZone": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of target name servers per managed forwarding zone."
        },
        "networksPerManagedZone": {
          "description": "Maximum allowed number of networks to which a privately scoped zone can be attached.",
          "type": "integer",
          "format": "int32"
        },
        "totalRrdataSizePerChange": {
          "format": "int32",
          "description": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "default": "dns#quota"
        }
      },
      "type": "object",
      "id": "Quota",
      "description": "Limits associated with a Project."
    },
    "ManagedZoneDnsSecConfig": {
      "id": "ManagedZoneDnsSecConfig",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "DNSSEC is disabled; the zone is not signed.",
            "DNSSEC is enabled; the zone is signed and fully managed.",
            "DNSSEC is enabled, but in a \"transfer\" mode."
          ],
          "enum": [
            "off",
            "on",
            "transfer"
          ],
          "description": "Specifies whether DNSSEC is enabled, and what mode it is in.",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZoneDnsSecConfig",
          "type": "string"
        },
        "defaultKeySpecs": {
          "items": {
            "$ref": "DnsKeySpec"
          },
          "type": "array",
          "description": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF."
        },
        "nonExistence": {
          "enum": [
            "nsec",
            "nsec3"
          ],
          "description": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "DnsKeyDigest": {
      "properties": {
        "digest": {
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Specifies the algorithm used to calculate this digest."
        }
      },
      "id": "DnsKeyDigest",
      "type": "object"
    },
    "ManagedZonePeeringConfig": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfig"
        },
        "targetNetwork": {
          "description": "The network with which to peer.",
          "$ref": "ManagedZonePeeringConfigTargetNetwork"
        }
      },
      "id": "ManagedZonePeeringConfig",
      "type": "object"
    },
    "ManagedZone": {
      "id": "ManagedZone",
      "type": "object",
      "properties": {
        "visibility": {
          "type": "string",
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "public",
            "private"
          ]
        },
        "privateVisibilityConfig": {
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from.",
          "$ref": "ManagedZonePrivateVisibilityConfig"
        },
        "id": {
          "type": "string",
          "format": "uint64",
          "description": "Unique identifier for the resource; defined by the server (output only)"
        },
        "nameServerSet": {
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users will leave this field unset.",
          "type": "string"
        },
        "nameServers": {
          "type": "array",
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "description": "User labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kind": {
          "default": "dns#managedZone",
          "type": "string"
        },
        "name": {
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.",
          "type": "string"
        },
        "dnsName": {
          "type": "string",
          "description": "The DNS name of this managed zone, for instance \"example.com.\"."
        },
        "forwardingConfig": {
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to.",
          "$ref": "ManagedZoneForwardingConfig"
        },
        "serviceDirectoryConfig": {
          "description": "This field links to the associated service directory namespace. This field should not be set for public zones or forwarding zones.",
          "$ref": "ManagedZoneServiceDirectoryConfig"
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function."
        },
        "reverseLookupConfig": {
          "$ref": "ManagedZoneReverseLookupConfig",
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS will resolve reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config."
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only."
        },
        "peeringConfig": {
          "$ref": "ManagedZonePeeringConfig",
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with."
        },
        "dnssecConfig": {
          "$ref": "ManagedZoneDnsSecConfig",
          "description": "DNSSEC configuration."
        }
      },
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service."
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://dns.googleapis.com/",
  "version": "v1beta2",
  "title": "Cloud DNS API",
  "rootUrl": "https://dns.googleapis.com/",
  "name": "dns",
  "resources": {
    "managedZoneOperations": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sortBy": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "startTime",
              "enum": [
                "startTime",
                "id"
              ],
              "location": "query",
              "type": "string",
              "description": "Sorting criterion. The only supported values are START_TIME and ID."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations",
          "id": "dns.managedZoneOperations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "description": "Enumerate Operations for the given ManagedZone."
        },
        "get": {
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "description": "Fetch the representation of an existing Operation.",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "id": "dns.managedZoneOperations.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "location": "path",
              "description": "Identifies the managed zone addressed by this request.",
              "type": "string"
            },
            "operation": {
              "description": "Identifies the operation addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "policies": {
      "methods": {
        "delete": {
          "id": "dns.policies.delete",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "httpMethod": "DELETE",
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "policy": {
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "description": "Delete a previously created Policy. Will fail if the policy is still being referenced by a network."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Apply a partial update to an existing Policy.",
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "parameterOrder": [
            "project",
            "policy"
          ],
          "parameters": {
            "policy": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User given friendly name of the policy addressed by this request."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "dns.policies.patch",
          "request": {
            "$ref": "Policy"
          },
          "httpMethod": "PATCH"
        },
        "create": {
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "id": "dns.policies.create",
          "path": "dns/v1beta2/projects/{project}/policies",
          "request": {
            "$ref": "Policy"
          },
          "flatPath": "dns/v1beta2/projects/{project}/policies",
          "response": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "POST",
          "description": "Create a new Policy"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "description": "Enumerate all Policies associated with a project.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "type": "integer"
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1beta2/projects/{project}/policies",
          "id": "dns.policies.list",
          "flatPath": "dns/v1beta2/projects/{project}/policies",
          "parameterOrder": [
            "project"
          ]
        },
        "get": {
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "policy": {
              "required": true,
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project",
            "policy"
          ],
          "description": "Fetch the representation of an existing Policy.",
          "id": "dns.policies.get",
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "Policy"
          },
          "id": "dns.policies.update",
          "httpMethod": "PUT",
          "description": "Update an existing Policy.",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1beta2/projects/{project}/policies/{policy}",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "policy": {
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "dns/v1beta2/projects/{project}/policies/{policy}"
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
          "description": "Enumerate ResourceRecordSets that have been created but not yet deleted.",
          "httpMethod": "GET",
          "id": "dns.resourceRecordSets.list",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/rrsets",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "type": {
              "description": "Restricts the list to return only records of this type. If present, the \"name\" parameter must also be present.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Restricts the list to return only records with this fully qualified domain name."
            },
            "maxResults": {
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "type": "integer",
              "format": "int32"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          }
        }
      }
    },
    "managedZones": {
      "methods": {
        "delete": {
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "description": "Delete a previously created ManagedZone.",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "DELETE",
          "id": "dns.managedZones.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "parameters": {
            "managedZone": {
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request."
            }
          },
          "description": "Fetch the representation of an existing ManagedZone.",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "response": {
            "$ref": "ManagedZone"
          },
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZones.get"
        },
        "list": {
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "path": "dns/v1beta2/projects/{project}/managedZones",
          "description": "Enumerate ManagedZones that have been created but not yet deleted.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return."
            },
            "dnsName": {
              "location": "query",
              "description": "Restricts the list to return only zones with this domain name.",
              "type": "string"
            }
          },
          "flatPath": "dns/v1beta2/projects/{project}/managedZones",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZones.list"
        },
        "update": {
          "request": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "PUT",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "id": "dns.managedZones.update",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Update an existing ManagedZone."
        },
        "patch": {
          "id": "dns.managedZones.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Apply a partial update to an existing ManagedZone.",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ManagedZone"
          },
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}"
        },
        "create": {
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1beta2/projects/{project}/managedZones",
          "id": "dns.managedZones.create",
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1beta2/projects/{project}/managedZones",
          "description": "Create a new ManagedZone.",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "get": {
          "response": {
            "$ref": "DnsKey"
          },
          "parameters": {
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path"
            },
            "dnsKeyId": {
              "required": true,
              "location": "path",
              "description": "The identifier of the requested DnsKey.",
              "type": "string"
            },
            "digestType": {
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed.",
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "id": "dns.dnsKeys.get",
          "httpMethod": "GET",
          "description": "Fetch the representation of an existing DnsKey."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "id": "dns.dnsKeys.list",
          "httpMethod": "GET",
          "parameters": {
            "digestType": {
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed.",
              "location": "query"
            },
            "managedZone": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Enumerate DnsKeys to a ResourceRecordSet collection.",
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/dnsKeys"
        }
      }
    },
    "changes": {
      "methods": {
        "create": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "httpMethod": "POST",
          "id": "dns.changes.create",
          "request": {
            "$ref": "Change"
          },
          "response": {
            "$ref": "Change"
          },
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "description": "Atomically update the ResourceRecordSet collection.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "response": {
            "$ref": "ChangesListResponse"
          },
          "httpMethod": "GET",
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "id": "dns.changes.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes",
          "description": "Enumerate Changes to a ResourceRecordSet collection.",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "sortBy": {
              "enumDescriptions": [
                ""
              ],
              "type": "string",
              "default": "changeSequence",
              "description": "Sorting criterion. The only supported value is change sequence.",
              "location": "query",
              "enum": [
                "changeSequence"
              ]
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.",
              "type": "integer"
            },
            "managedZone": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "sortOrder": {
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "id": "dns.changes.get",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "changeId": {
              "location": "path",
              "type": "string",
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "required": true
            },
            "managedZone": {
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "required": true
            }
          },
          "path": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "description": "Fetch the representation of an existing Change.",
          "response": {
            "$ref": "Change"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1beta2/projects/{project}/managedZones/{managedZone}/changes/{changeId}"
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Fetch the representation of an existing Project.",
          "flatPath": "dns/v1beta2/projects/{project}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.projects.get",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Project"
          },
          "path": "dns/v1beta2/projects/{project}",
          "parameterOrder": [
            "project"
          ]
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google"
}
