{
  "title": "Google Docs API",
  "discoveryVersion": "v1",
  "id": "docs:v1",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "batchPath": "batch",
  "revision": "20210615",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "name": "docs",
  "rootUrl": "https://docs.googleapis.com/",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "baseUrl": "https://docs.googleapis.com/",
  "schemas": {
    "SectionColumnProperties": {
      "properties": {
        "paddingEnd": {
          "description": "The padding at the end of the column.",
          "$ref": "Dimension"
        },
        "width": {
          "$ref": "Dimension",
          "description": "Output only. The width of the column."
        }
      },
      "description": "Properties that apply to a section's column.",
      "id": "SectionColumnProperties",
      "type": "object"
    },
    "InsertInlineImageResponse": {
      "id": "InsertInlineImageResponse",
      "description": "The result of inserting an inline image.",
      "properties": {
        "objectId": {
          "description": "The ID of the created InlineObject.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableRow": {
      "id": "TableRow",
      "description": "The contents and style of a row in a Table.",
      "type": "object",
      "properties": {
        "tableRowStyle": {
          "description": "The style of the table row.",
          "$ref": "TableRowStyle"
        },
        "tableCells": {
          "type": "array",
          "items": {
            "$ref": "TableCell"
          },
          "description": "The contents and style of each cell in this row. It is possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedTableRowStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTableRowStyle"
          },
          "description": "The suggested style changes to this row, keyed by suggestion ID.",
          "type": "object"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based start index of this row, in UTF-16 code units."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based end index of this row, exclusive, in UTF-16 code units."
        }
      }
    },
    "CreateFootnoteRequest": {
      "id": "CreateFootnoteRequest",
      "type": "object",
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        }
      }
    },
    "DeleteFooterRequest": {
      "type": "object",
      "description": "Deletes a Footer from the document.",
      "id": "DeleteFooterRequest",
      "properties": {
        "footerId": {
          "type": "string",
          "description": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section."
        }
      }
    },
    "PageBreak": {
      "properties": {
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this PageBreak, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this PageBreak. Similar to text content, like text runs and footnote references, the text style of a page break can affect content layout as well as the styling of text inserted adjacent to it."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A PageBreak may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PageBreak",
      "description": "A ParagraphElement representing a page break. A page break makes the subsequent text start at the top of the next page.",
      "type": "object"
    },
    "ListProperties": {
      "type": "object",
      "properties": {
        "nestingLevels": {
          "items": {
            "$ref": "NestingLevel"
          },
          "description": "Describes the properties of the bullets at the associated level. A list has at most nine levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first.",
          "type": "array"
        }
      },
      "description": "The properties of a list which describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "id": "ListProperties"
    },
    "SuggestedNamedStyles": {
      "id": "SuggestedNamedStyles",
      "description": "A suggested change to the NamedStyles.",
      "type": "object",
      "properties": {
        "namedStyles": {
          "description": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values.",
          "$ref": "NamedStyles"
        },
        "namedStylesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion.",
          "$ref": "NamedStylesSuggestionState"
        }
      }
    },
    "EmbeddedObjectBorderSuggestionState": {
      "type": "object",
      "properties": {
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        },
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "id": "EmbeddedObjectBorderSuggestionState"
    },
    "PositionedObjectPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "id": "PositionedObjectPropertiesSuggestionState",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        },
        "positioningSuggestionState": {
          "description": "A mask that indicates which of the fields in positioning have been changed in this suggestion.",
          "$ref": "PositionedObjectPositioningSuggestionState"
        }
      },
      "type": "object"
    },
    "ParagraphStyle": {
      "type": "object",
      "id": "ParagraphStyle",
      "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that is contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "properties": {
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited."
        },
        "borderBetween": {
          "description": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When making changes to a paragraph border the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "shading": {
          "$ref": "Shading",
          "description": "The shading of the paragraph. If unset, the value is inherited from the parent."
        },
        "borderRight": {
          "description": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When making changes to a paragraph border the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "lineSpacing": {
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.",
          "type": "number",
          "format": "float"
        },
        "namedStyleType": {
          "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated.",
          "type": "string",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ]
        },
        "keepLinesTogether": {
          "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "borderBottom": {
          "description": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When making changes to a paragraph border the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "indentEnd": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent."
        },
        "keepWithNext": {
          "type": "boolean",
          "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent."
        },
        "tabStops": {
          "items": {
            "$ref": "TabStop"
          },
          "type": "array",
          "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only."
        },
        "headingId": {
          "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only.",
          "type": "string"
        },
        "borderLeft": {
          "description": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When making changes to a paragraph border the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "avoidWidowAndOrphan": {
          "type": "boolean",
          "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent."
        },
        "borderTop": {
          "$ref": "ParagraphBorder",
          "description": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When making changes to a paragraph border the new border must be specified in its entirety."
        },
        "alignment": {
          "type": "string",
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ],
          "description": "The text alignment for this paragraph.",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ]
        },
        "spaceAbove": {
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "spacingMode": {
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ],
          "description": "The spacing mode for the paragraph.",
          "type": "string"
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "indentStart": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "spaceBelow": {
          "$ref": "Dimension",
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
        }
      }
    },
    "NamedRange": {
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited at a later time. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges.",
      "type": "object",
      "id": "NamedRange",
      "properties": {
        "ranges": {
          "items": {
            "$ref": "Range"
          },
          "description": "The ranges that belong to this named range.",
          "type": "array"
        },
        "namedRangeId": {
          "description": "The ID of the named range.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the named range."
        }
      }
    },
    "NestingLevel": {
      "type": "object",
      "id": "NestingLevel",
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "properties": {
        "startNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and roman numeraled lists, i.e. for values of both 0 and 1, lettered and roman numeraled lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs."
        },
        "glyphSymbol": {
          "description": "A custom glyph symbol used by bullets when paragraphs at this level of nesting are unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle.",
          "type": "string"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of bullets at this level of nesting."
        },
        "glyphFormat": {
          "type": "string",
          "description": "The format string used by bullets at this level of nesting. The glyph format contains one or more placeholders, and these placeholder are replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are optional and can be arbitrary strings. For example, the glyph format `%0.` indicates that the rendered glyph will replace the placeholder with the corresponding glyph for nesting level 0 followed by a period as the suffix. So a list with a glyph type of UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current nesting level as well as placeholders for parent nesting levels. For example, a list can have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels that are ordered, the string that replaces a placeholder in the glyph format for a particular paragraph depends on the paragraph's order within the list."
        },
        "indentStart": {
          "description": "The amount of indentation for paragraphs at this level of nesting. Applied to the side that corresponds to the start of the text, based on the paragraph's content direction.",
          "$ref": "Dimension"
        },
        "bulletAlignment": {
          "enum": [
            "BULLET_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "enumDescriptions": [
            "The bullet alignment is unspecified.",
            "The bullet is aligned to the start of the space allotted for rendering the bullet. Left-aligned for LTR text, right-aligned otherwise.",
            "The bullet is aligned to the center of the space allotted for rendering the bullet.",
            "The bullet is aligned to the end of the space allotted for rendering the bullet. Right-aligned for LTR text, left-aligned otherwise."
          ],
          "description": "The alignment of the bullet within the space allotted for rendering the bullet.",
          "type": "string"
        },
        "glyphType": {
          "enum": [
            "GLYPH_TYPE_UNSPECIFIED",
            "NONE",
            "DECIMAL",
            "ZERO_DECIMAL",
            "UPPER_ALPHA",
            "ALPHA",
            "UPPER_ROMAN",
            "ROMAN"
          ],
          "enumDescriptions": [
            "The glyph type is unspecified or unsupported.",
            "An empty string.",
            "A number, like `1`, `2`, or `3`.",
            "A number where single digit numbers are prefixed with a zero, like `01`, `02`, or `03`. Numbers with more than one digit are not prefixed with a zero.",
            "An uppercase letter, like `A`, `B`, or `C`.",
            "A lowercase letter, like `a`, `b`, or `c`.",
            "An uppercase Roman numeral, like `I`, `II`, or `III`.",
            "A lowercase Roman numeral, like `i`, `ii`, or `iii`."
          ],
          "description": "The type of glyph used by bullets when paragraphs at this level of nesting are ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to list item's order within the list.",
          "type": "string"
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of paragraphs at this level of nesting."
        }
      }
    },
    "Request": {
      "id": "Request",
      "properties": {
        "deleteNamedRange": {
          "$ref": "DeleteNamedRangeRequest",
          "description": "Deletes a named range."
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a table."
        },
        "insertTable": {
          "$ref": "InsertTableRequest",
          "description": "Inserts a table at the specified location."
        },
        "createFooter": {
          "description": "Creates a footer.",
          "$ref": "CreateFooterRequest"
        },
        "updateParagraphStyle": {
          "description": "Updates the paragraph style at the specified range.",
          "$ref": "UpdateParagraphStyleRequest"
        },
        "updateTableCellStyle": {
          "$ref": "UpdateTableCellStyleRequest",
          "description": "Updates the style of table cells."
        },
        "deleteTableRow": {
          "$ref": "DeleteTableRowRequest",
          "description": "Deletes a row from a table."
        },
        "replaceNamedRangeContent": {
          "$ref": "ReplaceNamedRangeContentRequest",
          "description": "Replaces the content in a named range."
        },
        "insertTableRow": {
          "$ref": "InsertTableRowRequest",
          "description": "Inserts an empty row into a table."
        },
        "createParagraphBullets": {
          "description": "Creates bullets for paragraphs.",
          "$ref": "CreateParagraphBulletsRequest"
        },
        "deleteContentRange": {
          "$ref": "DeleteContentRangeRequest",
          "description": "Deletes content from the document."
        },
        "replaceImage": {
          "description": "Replaces an image in the document.",
          "$ref": "ReplaceImageRequest"
        },
        "insertInlineImage": {
          "description": "Inserts an inline image at the specified location.",
          "$ref": "InsertInlineImageRequest"
        },
        "updateTextStyle": {
          "description": "Updates the text style at the specified range.",
          "$ref": "UpdateTextStyleRequest"
        },
        "updateTableRowStyle": {
          "description": "Updates the row style in a table.",
          "$ref": "UpdateTableRowStyleRequest"
        },
        "updateDocumentStyle": {
          "$ref": "UpdateDocumentStyleRequest",
          "description": "Updates the style of the document."
        },
        "deleteHeader": {
          "$ref": "DeleteHeaderRequest",
          "description": "Deletes a header from the document."
        },
        "deleteTableColumn": {
          "$ref": "DeleteTableColumnRequest",
          "description": "Deletes a column from a table."
        },
        "deleteParagraphBullets": {
          "$ref": "DeleteParagraphBulletsRequest",
          "description": "Deletes bullets from paragraphs."
        },
        "createFootnote": {
          "description": "Creates a footnote.",
          "$ref": "CreateFootnoteRequest"
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextRequest",
          "description": "Replaces all instances of the specified text."
        },
        "deleteFooter": {
          "$ref": "DeleteFooterRequest",
          "description": "Deletes a footer from the document."
        },
        "createHeader": {
          "description": "Creates a header.",
          "$ref": "CreateHeaderRequest"
        },
        "updateSectionStyle": {
          "$ref": "UpdateSectionStyleRequest",
          "description": "Updates the section style of the specified range."
        },
        "insertText": {
          "description": "Inserts text at the specified location.",
          "$ref": "InsertTextRequest"
        },
        "insertSectionBreak": {
          "description": "Inserts a section break at the specified location.",
          "$ref": "InsertSectionBreakRequest"
        },
        "updateTableColumnProperties": {
          "$ref": "UpdateTableColumnPropertiesRequest",
          "description": "Updates the properties of columns in a table."
        },
        "insertTableColumn": {
          "$ref": "InsertTableColumnRequest",
          "description": "Inserts an empty column into a table."
        },
        "deletePositionedObject": {
          "$ref": "DeletePositionedObjectRequest",
          "description": "Deletes a positioned object from the document."
        },
        "mergeTableCells": {
          "$ref": "MergeTableCellsRequest",
          "description": "Merges cells in a table."
        },
        "insertPageBreak": {
          "$ref": "InsertPageBreakRequest",
          "description": "Inserts a page break at the specified location."
        }
      },
      "type": "object",
      "description": "A single update to apply to a document."
    },
    "TableColumnProperties": {
      "type": "object",
      "id": "TableColumnProperties",
      "properties": {
        "width": {
          "$ref": "Dimension",
          "description": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH."
        },
        "widthType": {
          "type": "string",
          "description": "The width type of the column.",
          "enum": [
            "WIDTH_TYPE_UNSPECIFIED",
            "EVENLY_DISTRIBUTED",
            "FIXED_WIDTH"
          ],
          "enumDescriptions": [
            "The column width type is unspecified.",
            "The column width is evenly distributed among the other evenly distrubted columns. The width of the column is automatically determined and will have an equal portion of the width remaining for the table after accounting for all columns with specified widths.",
            "A fixed column width. The width property contains the column's width."
          ]
        }
      },
      "description": "The properties of a column in a table."
    },
    "NamedStyleSuggestionState": {
      "description": "A suggestion state of a NamedStyle message.",
      "properties": {
        "namedStyleType": {
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "description": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.",
          "type": "string"
        },
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        }
      },
      "type": "object",
      "id": "NamedStyleSuggestionState"
    },
    "DeleteHeaderRequest": {
      "id": "DeleteHeaderRequest",
      "properties": {
        "headerId": {
          "description": "The id of the header to delete. If this header is defined on DocumentStyle, the reference to this header is removed, resulting in no header of that type for the first section of the document. If this header is defined on a SectionStyle, the reference to this header is removed and the header of that type is now continued from the previous section.",
          "type": "string"
        }
      },
      "description": "Deletes a Header from the document.",
      "type": "object"
    },
    "UpdateParagraphStyleRequest": {
      "id": "UpdateParagraphStyleRequest",
      "type": "object",
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string"
        },
        "paragraphStyle": {
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information.",
          "$ref": "ParagraphStyle"
        },
        "range": {
          "description": "The range overlapping the paragraphs to style.",
          "$ref": "Range"
        }
      },
      "description": "Update the styling of all paragraphs that overlap with the given range."
    },
    "BatchUpdateDocumentRequest": {
      "description": "Request message for BatchUpdateDocument.",
      "id": "BatchUpdateDocumentRequest",
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "requests": {
          "description": "A list of updates to apply to the document.",
          "type": "array",
          "items": {
            "$ref": "Request"
          }
        }
      },
      "type": "object"
    },
    "ListPropertiesSuggestionState": {
      "id": "ListPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "type": "array",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          }
        }
      },
      "type": "object"
    },
    "InsertSectionBreakRequest": {
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts a newline and a section break at the end of the document body. Section breaks cannot be inserted inside a footnote, header or footer. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "description": "The type of section to insert.",
          "type": "string"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts a newline and a section break at a specific index in the document. The section break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Section breaks cannot be inserted inside a table, equation, footnote, header, or footer. Since section breaks can only be inserted inside the body, the segment ID field must be empty."
        }
      },
      "id": "InsertSectionBreakRequest",
      "description": "Inserts a section break at the given location. A newline character will be inserted before the section break.",
      "type": "object"
    },
    "InsertTableRowRequest": {
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertBelow": {
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.",
          "type": "boolean"
        }
      },
      "description": "Inserts an empty row into a table.",
      "id": "InsertTableRowRequest",
      "type": "object"
    },
    "ImageProperties": {
      "id": "ImageProperties",
      "description": "The properties of an image.",
      "properties": {
        "contrast": {
          "format": "float",
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "type": "number"
        },
        "contentUri": {
          "type": "string",
          "description": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change."
        },
        "cropProperties": {
          "description": "The crop properties of the image.",
          "$ref": "CropProperties"
        },
        "angle": {
          "type": "number",
          "description": "The clockwise rotation angle of the image, in radians.",
          "format": "float"
        },
        "transparency": {
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means completely transparent.",
          "format": "float",
          "type": "number"
        },
        "brightness": {
          "type": "number",
          "format": "float",
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect."
        },
        "sourceUri": {
          "description": "The source URI is the URI used to insert the image. The source URI can be empty.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableOfContents": {
      "type": "object",
      "properties": {
        "content": {
          "description": "The content of the table of contents.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TableOfContents",
      "description": "A StructuralElement representing a table of contents."
    },
    "Footnote": {
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote."
        },
        "content": {
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      },
      "description": "A document footnote.",
      "type": "object",
      "id": "Footnote"
    },
    "InsertInlineSheetsChartResponse": {
      "type": "object",
      "description": "The result of inserting an embedded Google Sheets chart.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the inserted chart."
        }
      },
      "id": "InsertInlineSheetsChartResponse"
    },
    "CreateFooterResponse": {
      "id": "CreateFooterResponse",
      "type": "object",
      "description": "The result of creating a footer.",
      "properties": {
        "footerId": {
          "type": "string",
          "description": "The ID of the created footer."
        }
      }
    },
    "Header": {
      "type": "object",
      "id": "Header",
      "properties": {
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the header. The indexes for a header's content begin at zero.",
          "type": "array"
        },
        "headerId": {
          "type": "string",
          "description": "The ID of the header."
        }
      },
      "description": "A document header."
    },
    "PositionedObject": {
      "description": "An object that is tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "properties": {
        "objectId": {
          "description": "The ID of this positioned object.",
          "type": "string"
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          },
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "positionedObjectProperties": {
          "$ref": "PositionedObjectProperties",
          "description": "The properties of this positioned object."
        },
        "suggestedInsertionId": {
          "type": "string",
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
        }
      },
      "id": "PositionedObject",
      "type": "object"
    },
    "Background": {
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The background color."
        }
      },
      "id": "Background",
      "type": "object",
      "description": "Represents the background of a document."
    },
    "BulletSuggestionState": {
      "id": "BulletSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "properties": {
        "listIdSuggested": {
          "description": "Indicates if there was a suggested change to the list_id.",
          "type": "boolean"
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "nestingLevelSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the nesting_level."
        }
      }
    },
    "Link": {
      "type": "object",
      "id": "Link",
      "description": "A reference to another portion of a document or an external URL resource.",
      "properties": {
        "url": {
          "description": "An external URL.",
          "type": "string"
        },
        "bookmarkId": {
          "description": "The ID of a bookmark in this document.",
          "type": "string"
        },
        "headingId": {
          "description": "The ID of a heading in this document.",
          "type": "string"
        }
      }
    },
    "TableCellStyle": {
      "id": "TableCellStyle",
      "type": "object",
      "description": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style.",
      "properties": {
        "contentAlignment": {
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "type": "string",
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ]
        },
        "rowSpan": {
          "format": "int32",
          "description": "The row span of the cell. This property is read-only.",
          "type": "integer"
        },
        "paddingRight": {
          "description": "The right padding of the cell.",
          "$ref": "Dimension"
        },
        "borderTop": {
          "description": "The top border of the cell.",
          "$ref": "TableCellBorder"
        },
        "borderRight": {
          "$ref": "TableCellBorder",
          "description": "The right border of the cell."
        },
        "columnSpan": {
          "description": "The column span of the cell. This property is read-only.",
          "type": "integer",
          "format": "int32"
        },
        "borderLeft": {
          "description": "The left border of the cell.",
          "$ref": "TableCellBorder"
        },
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the cell."
        },
        "paddingLeft": {
          "$ref": "Dimension",
          "description": "The left padding of the cell."
        },
        "paddingTop": {
          "description": "The top padding of the cell.",
          "$ref": "Dimension"
        },
        "borderBottom": {
          "$ref": "TableCellBorder",
          "description": "The bottom border of the cell."
        },
        "paddingBottom": {
          "$ref": "Dimension",
          "description": "The bottom padding of the cell."
        }
      }
    },
    "SheetsChartReferenceSuggestionState": {
      "properties": {
        "spreadsheetIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to spreadsheet_id."
        },
        "chartIdSuggested": {
          "description": "Indicates if there was a suggested change to chart_id.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SheetsChartReferenceSuggestionState",
      "description": "A mask that indicates which of the fields on the base SheetsChartReference have been changed in this suggestion. For any field set to true, there is a new suggested value."
    },
    "SuggestedTableRowStyle": {
      "properties": {
        "tableRowStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion.",
          "$ref": "TableRowStyleSuggestionState"
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values."
        }
      },
      "id": "SuggestedTableRowStyle",
      "type": "object",
      "description": "A suggested change to a TableRowStyle."
    },
    "Response": {
      "type": "object",
      "description": "A single response from an update.",
      "id": "Response",
      "properties": {
        "createFootnote": {
          "$ref": "CreateFootnoteResponse",
          "description": "The result of creating a footnote."
        },
        "createHeader": {
          "$ref": "CreateHeaderResponse",
          "description": "The result of creating a header."
        },
        "createFooter": {
          "description": "The result of creating a footer.",
          "$ref": "CreateFooterResponse"
        },
        "insertInlineSheetsChart": {
          "description": "The result of inserting an inline Google Sheets chart.",
          "$ref": "InsertInlineSheetsChartResponse"
        },
        "createNamedRange": {
          "description": "The result of creating a named range.",
          "$ref": "CreateNamedRangeResponse"
        },
        "insertInlineImage": {
          "$ref": "InsertInlineImageResponse",
          "description": "The result of inserting an inline image."
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextResponse",
          "description": "The result of replacing text."
        }
      }
    },
    "NamedStylesSuggestionState": {
      "id": "NamedStylesSuggestionState",
      "description": "The suggestion state of a NamedStyles message.",
      "properties": {
        "stylesSuggestionStates": {
          "type": "array",
          "description": "A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states match the order of the corresponding named style within the named styles suggestion.",
          "items": {
            "$ref": "NamedStyleSuggestionState"
          }
        }
      },
      "type": "object"
    },
    "Dimension": {
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "double",
          "description": "The magnitude."
        },
        "unit": {
          "description": "The units for magnitude.",
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ],
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ]
        }
      },
      "type": "object",
      "id": "Dimension",
      "description": "A magnitude in a single direction in the specified units."
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "description": "The number of occurrences changed by replacing all text.",
          "format": "int32"
        }
      },
      "id": "ReplaceAllTextResponse",
      "type": "object",
      "description": "The result of replacing text."
    },
    "InlineObjectProperties": {
      "id": "InlineObjectProperties",
      "properties": {
        "embeddedObject": {
          "$ref": "EmbeddedObject",
          "description": "The embedded object of this inline object."
        }
      },
      "description": "Properties of an InlineObject.",
      "type": "object"
    },
    "DeleteTableColumnRequest": {
      "description": "Deletes a column from a table.",
      "type": "object",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted."
        }
      },
      "id": "DeleteTableColumnRequest"
    },
    "StructuralElement": {
      "id": "StructuralElement",
      "properties": {
        "table": {
          "description": "A table type of structural element.",
          "$ref": "Table"
        },
        "endIndex": {
          "format": "int32",
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units.",
          "type": "integer"
        },
        "paragraph": {
          "description": "A paragraph type of structural element.",
          "$ref": "Paragraph"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based start index of this structural element, in UTF-16 code units."
        },
        "sectionBreak": {
          "description": "A section break type of structural element.",
          "$ref": "SectionBreak"
        },
        "tableOfContents": {
          "$ref": "TableOfContents",
          "description": "A table of contents type of structural element."
        }
      },
      "description": "A StructuralElement describes content that provides structure to the document.",
      "type": "object"
    },
    "UpdateDocumentStyleRequest": {
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`."
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information."
        }
      },
      "type": "object",
      "id": "UpdateDocumentStyleRequest",
      "description": "Updates the DocumentStyle."
    },
    "Bullet": {
      "properties": {
        "nestingLevel": {
          "format": "int32",
          "description": "The nesting level of this paragraph in the list.",
          "type": "integer"
        },
        "listId": {
          "description": "The ID of the list this paragraph belongs to.",
          "type": "string"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph specific text style applied to this bullet."
        }
      },
      "description": "Describes the bullet of a paragraph.",
      "id": "Bullet",
      "type": "object"
    },
    "HorizontalRule": {
      "type": "object",
      "properties": {
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted adjacent to it."
        }
      },
      "id": "HorizontalRule",
      "description": "A ParagraphElement representing a horizontal line."
    },
    "TableCell": {
      "properties": {
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "suggestedTableCellStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          },
          "type": "object",
          "description": "The suggested changes to the table cell style, keyed by suggestion ID."
        },
        "content": {
          "type": "array",
          "description": "The content of the cell.",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units."
        },
        "startIndex": {
          "description": "The zero-based start index of this cell, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TableCell",
      "description": "The contents and style of a cell in a Table.",
      "type": "object"
    },
    "Person": {
      "properties": {
        "personId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of this link."
        },
        "textStyle": {
          "description": "The text style of this Person.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this Person, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest to delete it. If empty, then this person link isn't suggested for deletion.",
          "items": {
            "type": "string"
          }
        },
        "personProperties": {
          "description": "Output only. The properties of this Person. This field is always present.",
          "$ref": "PersonProperties",
          "readOnly": true
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it is a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
        }
      },
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "id": "Person",
      "type": "object"
    },
    "PersonProperties": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the person if it is displayed in the link text instead of the person's email address.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email address linked to this Person. This field is always present."
        }
      },
      "description": "Properties specific to a linked Person.",
      "id": "PersonProperties",
      "type": "object"
    },
    "Size": {
      "type": "object",
      "id": "Size",
      "properties": {
        "height": {
          "description": "The height of the object.",
          "$ref": "Dimension"
        },
        "width": {
          "description": "The width of the object.",
          "$ref": "Dimension"
        }
      },
      "description": "A width and height."
    },
    "SuggestedPositionedObjectProperties": {
      "id": "SuggestedPositionedObjectProperties",
      "properties": {
        "positionedObjectProperties": {
          "$ref": "PositionedObjectProperties",
          "description": "A PositionedObjectProperties that only includes the changes made in this suggestion. This can be used along with the positioned_object_properties_suggestion_state to see which fields have changed and their new values."
        },
        "positionedObjectPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion.",
          "$ref": "PositionedObjectPropertiesSuggestionState"
        }
      },
      "description": "A suggested change to PositionedObjectProperties.",
      "type": "object"
    },
    "InsertTableColumnRequest": {
      "type": "object",
      "id": "InsertTableColumnRequest",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertRight": {
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left.",
          "type": "boolean"
        }
      },
      "description": "Inserts an empty column into a table."
    },
    "SectionStyle": {
      "properties": {
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. This property is read-only.",
          "type": "string"
        },
        "contentDirection": {
          "type": "string",
          "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ]
        },
        "columnProperties": {
          "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than three columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error.",
          "items": {
            "$ref": "SectionColumnProperties"
          },
          "type": "array"
        },
        "firstPageFooterId": {
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it is false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. This property is read-only.",
          "type": "string"
        },
        "useFirstPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "columnSeparatorStyle": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ],
          "description": "The style of column separators. This style can be set even when there is one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ]
        },
        "marginLeft": {
          "description": "The left page margin of the section. If unset, uses margin_left from DocumentStyle. Updating left margin causes columns in this section to resize. Since the margin affects column width, it is applied before column properties. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "marginHeader": {
          "description": "The header margin of the section. If unset, uses margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "evenPageFooterId": {
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. This property is read-only.",
          "type": "string"
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top page margin of the section. If unset, uses margin_top from DocumentStyle. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "defaultFooterId": {
          "type": "string",
          "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. This property is read-only."
        },
        "pageNumberStart": {
          "format": "int32",
          "type": "integer",
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "sectionType": {
          "type": "string",
          "description": "Output only. The type of section.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ]
        },
        "defaultHeaderId": {
          "type": "string",
          "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. This property is read-only."
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it is false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. This property is read-only.",
          "type": "string"
        },
        "marginFooter": {
          "description": "The footer margin of the section. If unset, uses margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom page margin of the section. If unset, uses margin_bottom from DocumentStyle. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right page margin of the section. If unset, uses margin_right from DocumentStyle. Updating right margin causes columns in this section to resize. Since the margin affects column width, it is applied before column properties. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        }
      },
      "description": "The styling that applies to a section.",
      "id": "SectionStyle",
      "type": "object"
    },
    "EmbeddedObjectBorder": {
      "id": "EmbeddedObjectBorder",
      "type": "object",
      "properties": {
        "dashStyle": {
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border."
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        },
        "propertyState": {
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ],
          "type": "string",
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ],
          "description": "The property state of the border property."
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        }
      },
      "description": "A border around an EmbeddedObject."
    },
    "UpdateTableColumnPropertiesRequest": {
      "id": "UpdateTableColumnPropertiesRequest",
      "description": "Updates the TableColumnProperties of columns in a table.",
      "properties": {
        "columnIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The list of zero-based column indices whose property should be updated. If no indices are specified, all columns will be updated.",
          "type": "array"
        },
        "tableColumnProperties": {
          "description": "The table column properties to update. If the value of `table_column_properties#width` is less than 5 points (5/72 inch), a 400 bad request error is returned.",
          "$ref": "TableColumnProperties"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"width\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Paragraph": {
      "description": "A StructuralElement representing a paragraph. A paragraph is a range of content that is terminated with a newline character.",
      "type": "object",
      "properties": {
        "suggestedPositionedObjectIds": {
          "additionalProperties": {
            "$ref": "ObjectReferences"
          },
          "description": "The IDs of the positioned objects that are suggested to be attached to this paragraph, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedParagraphStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          },
          "type": "object",
          "description": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID."
        },
        "suggestedBulletChanges": {
          "type": "object",
          "description": "The suggested changes to this paragraph's bullet.",
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          }
        },
        "elements": {
          "items": {
            "$ref": "ParagraphElement"
          },
          "description": "The content of the paragraph broken down into its component parts.",
          "type": "array"
        },
        "positionedObjectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs of the positioned objects tethered to this paragraph."
        },
        "paragraphStyle": {
          "description": "The style of this paragraph.",
          "$ref": "ParagraphStyle"
        },
        "bullet": {
          "$ref": "Bullet",
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list."
        }
      },
      "id": "Paragraph"
    },
    "NamedStyles": {
      "type": "object",
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles.",
      "properties": {
        "styles": {
          "type": "array",
          "items": {
            "$ref": "NamedStyle"
          },
          "description": "The named styles. There is an entry for each of the possible named style types."
        }
      },
      "id": "NamedStyles"
    },
    "TextStyle": {
      "properties": {
        "backgroundColor": {
          "description": "The background color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field.",
          "$ref": "OptionalColor"
        },
        "underline": {
          "type": "boolean",
          "description": "Whether or not the text is underlined."
        },
        "strikethrough": {
          "type": "boolean",
          "description": "Whether or not the text is struck through."
        },
        "baselineOffset": {
          "description": "The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. The `font_size` itself is not affected by changes in this field.",
          "type": "string",
          "enumDescriptions": [
            "The text's baseline offset is inherited from the parent.",
            "The text is not vertically offset.",
            "The text is vertically offset upwards (superscript).",
            "The text is vertically offset downwards (subscript)."
          ],
          "enum": [
            "BASELINE_OFFSET_UNSPECIFIED",
            "NONE",
            "SUPERSCRIPT",
            "SUBSCRIPT"
          ]
        },
        "fontSize": {
          "$ref": "Dimension",
          "description": "The size of the text's font."
        },
        "foregroundColor": {
          "description": "The foreground color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field.",
          "$ref": "OptionalColor"
        },
        "link": {
          "$ref": "Link",
          "description": "The hyperlink destination of the text. If unset, there is no link. Links are not inherited from parent text. Changing the link in an update request causes some other changes to the text style of the range: * When setting a link, the text foreground color will be updated to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults. * Setting a link on a text range that overlaps with an existing link will also update the existing link to point to the new URL. * Links are not settable on newline characters. As a result, setting a link on a text range that crosses a paragraph boundary, such as `\"ABC\\n123\"`, will separate the newline character(s) into their own text runs. The link will be applied separately to the runs before and after the newline. * Removing a link will update the text style of the range to match the style of the preceding text (or the default text styles if the preceding text is another link) unless different styles are being set in the same request."
        },
        "smallCaps": {
          "type": "boolean",
          "description": "Whether or not the text is in small capital letters."
        },
        "weightedFontFamily": {
          "$ref": "WeightedFontFamily",
          "description": "The font family and rendered weight of the text. If an update request specifies values for both `weighted_font_family` and `bold`, the `weighted_font_family` is applied first, then `bold`. If `weighted_font_family#weight` is not set, it defaults to `400`. If `weighted_font_family` is set, then `weighted_font_family#font_family` must also be set with a non-empty value. Otherwise, a 400 bad request error is returned."
        },
        "italic": {
          "type": "boolean",
          "description": "Whether or not the text is italicized."
        },
        "bold": {
          "description": "Whether or not the text is rendered as bold.",
          "type": "boolean"
        }
      },
      "id": "TextStyle",
      "type": "object",
      "description": "Represents the styling that can be applied to text. Inherited text styles are represented as unset fields in this message. A text style's parent depends on where the text style is defined: * The TextStyle of text in a Paragraph inherits from the paragraph's corresponding named style type. * The TextStyle on a named style inherits from the normal text named style. * The TextStyle of the normal text named style inherits from the default text style in the Docs editor. * The TextStyle on a Paragraph element that is contained in a table may inherit its text style from the table style. If the text style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor."
    },
    "InlineObjectElement": {
      "properties": {
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted adjacent to it."
        },
        "inlineObjectId": {
          "description": "The ID of the InlineObject this element contains.",
          "type": "string"
        }
      },
      "id": "InlineObjectElement",
      "description": "A ParagraphElement that contains an InlineObject.",
      "type": "object"
    },
    "CropPropertiesSuggestionState": {
      "properties": {
        "angleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to angle."
        },
        "offsetLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_left."
        },
        "offsetTopSuggested": {
          "description": "Indicates if there was a suggested change to offset_top.",
          "type": "boolean"
        },
        "offsetRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_right."
        },
        "offsetBottomSuggested": {
          "description": "Indicates if there was a suggested change to offset_bottom.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "CropPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there is a new suggested value."
    },
    "UpdateTableRowStyleRequest": {
      "description": "Updates the TableRowStyle of rows in a table.",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        },
        "rowIndices": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated."
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "The styles to be set on the rows."
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`."
        }
      },
      "id": "UpdateTableRowStyleRequest",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
        },
        "index": {
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A particular location in the document.",
      "type": "object"
    },
    "SuggestedListProperties": {
      "properties": {
        "listProperties": {
          "$ref": "ListProperties",
          "description": "A ListProperties that only includes the changes made in this suggestion. This can be used along with the list_properties_suggestion_state to see which fields have changed and their new values."
        },
        "listPropertiesSuggestionState": {
          "$ref": "ListPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion."
        }
      },
      "id": "SuggestedListProperties",
      "type": "object",
      "description": "A suggested change to ListProperties."
    },
    "CreateHeaderResponse": {
      "description": "The result of creating a header.",
      "properties": {
        "headerId": {
          "type": "string",
          "description": "The ID of the created header."
        }
      },
      "id": "CreateHeaderResponse",
      "type": "object"
    },
    "SectionBreak": {
      "description": "A StructuralElement representing a section break. A section is a range of content which has the same SectionStyle. A section break represents the start of a new section, and the section style applies to the section after the section break. The document body always begins with a section break.",
      "type": "object",
      "id": "SectionBreak",
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A SectionBreak may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "sectionStyle": {
          "$ref": "SectionStyle",
          "description": "The style of the section after this section break."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      }
    },
    "ShadingSuggestionState": {
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to the Shading.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there is a new suggested value.",
      "type": "object",
      "id": "ShadingSuggestionState"
    },
    "ReplaceImageRequest": {
      "type": "object",
      "properties": {
        "imageObjectId": {
          "description": "The ID of the existing image that will be replaced.",
          "type": "string"
        },
        "imageReplaceMethod": {
          "description": "The replacement method.",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as that of the original image."
          ]
        },
        "uri": {
          "type": "string",
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI can be at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.source_uri field."
        }
      },
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "id": "ReplaceImageRequest"
    },
    "ImagePropertiesSuggestionState": {
      "properties": {
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "transparencySuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to transparency."
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "contrastSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to contrast."
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "$ref": "CropPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion."
        }
      },
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "type": "object",
      "id": "ImagePropertiesSuggestionState"
    },
    "EndOfSegmentLocation": {
      "properties": {
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
        }
      },
      "type": "object",
      "id": "EndOfSegmentLocation",
      "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment."
    },
    "CreateNamedRangeResponse": {
      "description": "The result of creating a named range.",
      "id": "CreateNamedRangeResponse",
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the created named range."
        }
      },
      "type": "object"
    },
    "SizeSuggestionState": {
      "id": "SizeSuggestionState",
      "properties": {
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        },
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "type": "object"
    },
    "MergeTableCellsRequest": {
      "id": "MergeTableCellsRequest",
      "description": "Merges cells in a Table.",
      "type": "object",
      "properties": {
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range specifying which cells of the table to merge. Any text in the cells being merged will be concatenated and stored in the \"head\" cell of the range. This is the upper-left cell of the range when the content direction is left to right, and the upper-right cell of the range otherwise. If the range is non-rectangular (which can occur in some cases where the range covers cells that are already merged or where the table is non-rectangular), a 400 bad request error is returned."
        }
      }
    },
    "TextRun": {
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "type": "object",
      "properties": {
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this run, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "content": {
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907.",
          "type": "string"
        }
      },
      "id": "TextRun"
    },
    "ColumnBreak": {
      "description": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column.",
      "type": "object",
      "id": "ColumnBreak",
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted adjacent to it."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      }
    },
    "EmbeddedObjectSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "id": "EmbeddedObjectSuggestionState",
      "type": "object",
      "properties": {
        "titleSuggested": {
          "description": "Indicates if there was a suggested change to title.",
          "type": "boolean"
        },
        "marginBottomSuggested": {
          "type": "boolean",
[...]
