{
  "canonicalName": "Docs",
  "rootUrl": "https://docs.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/docs/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "docs:v1",
  "ownerName": "Google",
  "servicePath": "",
  "name": "docs",
  "title": "Google Docs API",
  "schemas": {
    "EmbeddedObjectSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "id": "EmbeddedObjectSuggestionState",
      "type": "object",
      "properties": {
        "imagePropertiesSuggestionState": {
          "$ref": "ImagePropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion."
        },
        "descriptionSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to description."
        },
        "embeddedDrawingPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion.",
          "$ref": "EmbeddedDrawingPropertiesSuggestionState"
        },
        "linkedContentReferenceSuggestionState": {
          "$ref": "LinkedContentReferenceSuggestionState",
          "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion."
        },
        "sizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        },
        "marginTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_top."
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "titleSuggested": {
          "description": "Indicates if there was a suggested change to title.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "embeddedObjectBorderSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion.",
          "$ref": "EmbeddedObjectBorderSuggestionState"
        },
        "marginBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_bottom."
        }
      }
    },
    "DocumentStyleSuggestionState": {
      "id": "DocumentStyleSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "properties": {
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "pageNumberStartSuggested": {
          "description": "Indicates if there was a suggested change to page_number_start.",
          "type": "boolean"
        },
        "useCustomHeaderFooterMarginsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins."
        },
        "useEvenPageHeaderFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_even_page_header_footer."
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "marginHeaderSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_header."
        },
        "marginFooterSuggested": {
          "description": "Indicates if there was a suggested change to margin_footer.",
          "type": "boolean"
        },
        "firstPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to first_page_footer_id.",
          "type": "boolean"
        },
        "backgroundSuggestionState": {
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion.",
          "$ref": "BackgroundSuggestionState"
        },
        "defaultFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_footer_id."
        },
        "firstPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_header_id."
        },
        "useFirstPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_first_page_header_footer.",
          "type": "boolean"
        },
        "pageSizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        },
        "defaultHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_header_id."
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "evenPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to even_page_header_id."
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "evenPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_footer_id.",
          "type": "boolean"
        }
      }
    },
    "Table": {
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A Table may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "tableStyle": {
          "$ref": "TableStyle",
          "description": "The style of the table."
        },
        "columns": {
          "description": "Number of columns in the table. It is possible for a table to be non-rectangular, so some rows may have a different number of cells.",
          "format": "int32",
          "type": "integer"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "rows": {
          "type": "integer",
          "description": "Number of rows in the table.",
          "format": "int32"
        },
        "tableRows": {
          "items": {
            "$ref": "TableRow"
          },
          "type": "array",
          "description": "The contents and style of each row."
        }
      },
      "description": "A StructuralElement representing a table.",
      "id": "Table",
      "type": "object"
    },
    "SuggestedPositionedObjectProperties": {
      "id": "SuggestedPositionedObjectProperties",
      "description": "A suggested change to PositionedObjectProperties.",
      "properties": {
        "positionedObjectPropertiesSuggestionState": {
          "$ref": "PositionedObjectPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion."
        },
        "positionedObjectProperties": {
          "description": "A PositionedObjectProperties that only includes the changes made in this suggestion. This can be used along with the positioned_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "PositionedObjectProperties"
        }
      },
      "type": "object"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "id": "EmbeddedObjectBorderSuggestionState",
      "properties": {
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        },
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "type": "object"
    },
    "LinkedContentReferenceSuggestionState": {
      "description": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "id": "LinkedContentReferenceSuggestionState",
      "type": "object",
      "properties": {
        "sheetsChartReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in sheets_chart_reference have been changed in this suggestion.",
          "$ref": "SheetsChartReferenceSuggestionState"
        }
      }
    },
    "PageBreak": {
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this PageBreak. Similar to text content, like text runs and footnote references, the text style of a page break can affect content layout as well as the styling of text inserted adjacent to it."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A PageBreak may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object",
          "description": "The suggested text style changes to this PageBreak, keyed by suggestion ID."
        }
      },
      "description": "A ParagraphElement representing a page break. A page break makes the subsequent text start at the top of the next page.",
      "id": "PageBreak",
      "type": "object"
    },
    "NamedStyleSuggestionState": {
      "id": "NamedStyleSuggestionState",
      "properties": {
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "namedStyleType": {
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "description": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A suggestion state of a NamedStyle message."
    },
    "SuggestedTableCellStyle": {
      "id": "SuggestedTableCellStyle",
      "description": "A suggested change to a TableCellStyle.",
      "properties": {
        "tableCellStyleSuggestionState": {
          "$ref": "TableCellStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion."
        },
        "tableCellStyle": {
          "$ref": "TableCellStyle",
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values."
        }
      },
      "type": "object"
    },
    "ImagePropertiesSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "id": "ImagePropertiesSuggestionState",
      "properties": {
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion.",
          "$ref": "CropPropertiesSuggestionState"
        },
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        },
        "transparencySuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to transparency."
        },
        "contrastSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to contrast."
        },
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        }
      }
    },
    "TextRun": {
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this run, keyed by suggestion ID.",
          "type": "object"
        },
        "content": {
          "type": "string",
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        }
      },
      "type": "object",
      "id": "TextRun"
    },
    "CreateFootnoteResponse": {
      "type": "object",
      "description": "The result of creating a footnote.",
      "id": "CreateFootnoteResponse",
      "properties": {
        "footnoteId": {
          "description": "The ID of the created footnote.",
          "type": "string"
        }
      }
    },
    "InsertInlineImageResponse": {
      "description": "The result of inserting an inline image.",
      "id": "InsertInlineImageResponse",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the created InlineObject."
        }
      }
    },
    "BatchUpdateDocumentRequest": {
      "type": "object",
      "id": "BatchUpdateDocumentRequest",
      "description": "Request message for BatchUpdateDocument.",
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "requests": {
          "type": "array",
          "description": "A list of updates to apply to the document.",
          "items": {
            "$ref": "Request"
          }
        }
      }
    },
    "Body": {
      "type": "object",
      "id": "Body",
      "properties": {
        "content": {
          "description": "The contents of the body. The indexes for the body's content begin at zero.",
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      },
      "description": "The document body. The body typically contains the full document contents except for headers, footers and footnotes."
    },
    "SectionStyle": {
      "id": "SectionStyle",
      "description": "The styling that applies to a section.",
      "properties": {
        "marginHeader": {
          "description": "The header margin of the section. If unset, uses margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "defaultHeaderId": {
          "type": "string",
          "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. This property is read-only."
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. This property is read-only."
        },
        "marginTop": {
          "description": "The top page margin of the section. If unset, uses margin_top from DocumentStyle. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right page margin of the section. If unset, uses margin_right from DocumentStyle. Updating right margin causes columns in this section to resize. Since the margin affects column width, it is applied before column properties. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. This property is read-only.",
          "type": "string"
        },
        "marginLeft": {
          "description": "The left page margin of the section. If unset, uses margin_left from DocumentStyle. Updating left margin causes columns in this section to resize. Since the margin affects column width, it is applied before column properties. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "description": "Output only. The type of section.",
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "type": "string"
        },
        "firstPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it is false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. This property is read-only."
        },
        "columnSeparatorStyle": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ],
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ],
          "description": "The style of column separators. This style can be set even when there is one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. This property is read-only.",
          "type": "string"
        },
        "columnProperties": {
          "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than three columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error.",
          "type": "array",
          "items": {
            "$ref": "SectionColumnProperties"
          }
        },
        "contentDirection": {
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "type": "string",
          "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ]
        },
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "boolean"
        },
        "marginBottom": {
          "description": "The bottom page margin of the section. If unset, uses margin_bottom from DocumentStyle. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "marginFooter": {
          "$ref": "Dimension",
          "description": "The footer margin of the section. If unset, uses margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "pageNumberStart": {
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "integer",
          "format": "int32"
        },
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it is false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. This property is read-only."
        }
      },
      "type": "object"
    },
    "Person": {
      "type": "object",
      "properties": {
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this Person, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "personProperties": {
          "description": "Output only. The properties of this Person. This field is always present.",
          "$ref": "PersonProperties",
          "readOnly": true
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this Person."
        },
        "personId": {
          "readOnly": true,
          "description": "Output only. The unique ID of this link.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest to delete it. If empty, then this person link isn't suggested for deletion.",
          "type": "array"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it is a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Person",
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address."
    },
    "NamedStyles": {
      "type": "object",
      "properties": {
        "styles": {
          "description": "The named styles. There is an entry for each of the possible named style types.",
          "items": {
            "$ref": "NamedStyle"
          },
          "type": "array"
        }
      },
      "id": "NamedStyles",
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles."
    },
    "NamedRanges": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name that all the named ranges share."
        },
        "namedRanges": {
          "description": "The NamedRanges that share the same name.",
          "type": "array",
          "items": {
            "$ref": "NamedRange"
          }
        }
      },
      "id": "NamedRanges",
      "type": "object",
      "description": "A collection of all the NamedRanges in the document that share a given name."
    },
    "Link": {
      "description": "A reference to another portion of a document or an external URL resource.",
      "type": "object",
      "id": "Link",
      "properties": {
        "url": {
          "type": "string",
          "description": "An external URL."
        },
        "headingId": {
          "type": "string",
          "description": "The ID of a heading in this document."
        },
        "bookmarkId": {
          "type": "string",
          "description": "The ID of a bookmark in this document."
        }
      }
    },
    "UpdateSectionStyleRequest": {
      "description": "Updates the SectionStyle.",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`.",
          "format": "google-fieldmask"
        },
        "sectionStyle": {
          "$ref": "SectionStyle",
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information."
        }
      },
      "id": "UpdateSectionStyleRequest",
      "type": "object"
    },
    "CreateParagraphBulletsRequest": {
      "description": "Creates bullets for all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.",
      "type": "object",
      "id": "CreateParagraphBulletsRequest",
      "properties": {
        "bulletPreset": {
          "enumDescriptions": [
            "The bullet glyph preset is unspecified.",
            "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
            "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by parenthesis.",
            "A numbered list with `DECIMAL` numeric glyphs separated by periods, where each nesting level uses the previous nesting level's glyph as a prefix. For example: '1.', '1.1.', '2.', '2.2.'.",
            "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DECIMAL` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `ZERODECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods."
          ],
          "type": "string",
          "description": "The kinds of bullet glyphs to be used.",
          "enum": [
            "BULLET_GLYPH_PRESET_UNSPECIFIED",
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DECIMAL_ALPHA_ROMAN",
            "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS",
            "NUMBERED_DECIMAL_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL",
            "NUMBERED_ZERODECIMAL_ALPHA_ROMAN"
          ]
        },
        "range": {
          "$ref": "Range",
          "description": "The range to apply the bullet preset to."
        }
      }
    },
    "Background": {
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The background color."
        }
      },
      "type": "object",
      "description": "Represents the background of a document.",
      "id": "Background"
    },
    "Bullet": {
      "description": "Describes the bullet of a paragraph.",
      "type": "object",
      "id": "Bullet",
      "properties": {
        "nestingLevel": {
          "description": "The nesting level of this paragraph in the list.",
          "format": "int32",
          "type": "integer"
        },
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph specific text style applied to this bullet."
        }
      }
    },
    "InlineObjectProperties": {
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this inline object.",
          "$ref": "EmbeddedObject"
        }
      },
      "type": "object",
      "id": "InlineObjectProperties",
      "description": "Properties of an InlineObject."
    },
    "PositionedObjectPositioning": {
      "type": "object",
      "id": "PositionedObjectPositioning",
      "properties": {
        "leftOffset": {
          "$ref": "Dimension",
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it is tethered to. The exact positioning of the object can depend on other content in the document and the document's styling."
        },
        "topOffset": {
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it is tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        },
        "layout": {
          "description": "The layout of this positioned object.",
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there is no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ]
        }
      },
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it is tethered to."
    },
    "PositionedObjectPositioningSuggestionState": {
      "properties": {
        "layoutSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to layout."
        },
        "topOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to top_offset."
        },
        "leftOffsetSuggested": {
          "description": "Indicates if there was a suggested change to left_offset.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "type": "object",
      "id": "PositionedObjectPositioningSuggestionState"
    },
    "InsertInlineImageRequest": {
      "description": "Inserts an InlineObject containing an image at the given location.",
      "id": "InsertInlineImageRequest",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI can be at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field."
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation."
        },
        "objectSize": {
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio.",
          "$ref": "Size"
        }
      },
      "type": "object"
    },
    "HorizontalRule": {
      "description": "A ParagraphElement representing a horizontal line.",
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted adjacent to it."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion."
        }
      },
      "id": "HorizontalRule"
    },
    "BatchUpdateDocumentResponse": {
      "description": "Response message from a BatchUpdateDocument request.",
      "type": "object",
      "properties": {
        "documentId": {
          "description": "The ID of the document to which the updates were applied to.",
          "type": "string"
        },
        "writeControl": {
          "description": "The updated write control after applying the request.",
          "$ref": "WriteControl"
        },
        "replies": {
          "items": {
            "$ref": "Response"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "type": "array"
        }
      },
      "id": "BatchUpdateDocumentResponse"
    },
    "TableCellStyle": {
      "description": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style.",
      "id": "TableCellStyle",
      "properties": {
        "paddingLeft": {
          "description": "The left padding of the cell.",
          "$ref": "Dimension"
        },
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the cell."
        },
        "borderTop": {
          "$ref": "TableCellBorder",
          "description": "The top border of the cell."
        },
        "borderBottom": {
          "$ref": "TableCellBorder",
          "description": "The bottom border of the cell."
        },
        "borderLeft": {
          "$ref": "TableCellBorder",
          "description": "The left border of the cell."
        },
        "paddingTop": {
          "$ref": "Dimension",
          "description": "The top padding of the cell."
        },
        "borderRight": {
          "description": "The right border of the cell.",
          "$ref": "TableCellBorder"
        },
        "rowSpan": {
          "type": "integer",
          "description": "The row span of the cell. This property is read-only.",
          "format": "int32"
        },
        "paddingBottom": {
          "$ref": "Dimension",
          "description": "The bottom padding of the cell."
        },
        "columnSpan": {
          "description": "The column span of the cell. This property is read-only.",
          "format": "int32",
          "type": "integer"
        },
        "paddingRight": {
          "$ref": "Dimension",
          "description": "The right padding of the cell."
        },
        "contentAlignment": {
          "type": "string",
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ]
        }
      },
      "type": "object"
    },
    "Equation": {
      "description": "A ParagraphElement representing an equation.",
      "id": "Equation",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A Equation may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DeleteHeaderRequest": {
      "properties": {
        "headerId": {
          "description": "The id of the header to delete. If this header is defined on DocumentStyle, the reference to this header is removed, resulting in no header of that type for the first section of the document. If this header is defined on a SectionStyle, the reference to this header is removed and the header of that type is now continued from the previous section.",
          "type": "string"
        }
      },
      "id": "DeleteHeaderRequest",
      "description": "Deletes a Header from the document.",
      "type": "object"
    },
    "Document": {
      "id": "Document",
      "description": "A Google Docs document.",
      "properties": {
        "documentId": {
          "type": "string",
          "description": "Output only. The ID of the document."
        },
        "suggestedDocumentStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          },
          "type": "object",
          "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID."
        },
        "headers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Header"
          },
          "description": "Output only. The headers in the document, keyed by header ID."
        },
        "suggestionsViewMode": {
          "enum": [
            "DEFAULT_FOR_CURRENT_ACCESS",
            "SUGGESTIONS_INLINE",
            "PREVIEW_SUGGESTIONS_ACCEPTED",
            "PREVIEW_WITHOUT_SUGGESTIONS"
          ],
          "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.",
          "enumDescriptions": [
            "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
            "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
          ],
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes."
        },
        "inlineObjects": {
          "description": "Output only. The inline objects in the document, keyed by object ID.",
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "type": "object"
        },
        "footers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Footer"
          },
          "description": "Output only. The footers in the document, keyed by footer ID."
        },
        "suggestedNamedStylesChanges": {
          "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          }
        },
        "title": {
          "description": "The title of the document.",
          "type": "string"
        },
        "footnotes": {
          "description": "Output only. The footnotes in the document, keyed by footnote ID.",
          "additionalProperties": {
            "$ref": "Footnote"
          },
          "type": "object"
        },
        "positionedObjects": {
          "description": "Output only. The positioned objects in the document, keyed by object ID.",
          "additionalProperties": {
            "$ref": "PositionedObject"
          },
          "type": "object"
        },
        "namedStyles": {
          "$ref": "NamedStyles",
          "description": "Output only. The named styles of the document."
        },
        "lists": {
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object",
          "description": "Output only. The lists in the document, keyed by list ID."
        },
        "namedRanges": {
          "type": "object",
          "description": "Output only. The named ranges in the document, keyed by name.",
          "additionalProperties": {
            "$ref": "NamedRanges"
          }
        },
        "body": {
          "$ref": "Body",
          "description": "Output only. The main body of the document."
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "Output only. The style of the document."
        }
      },
      "type": "object"
    },
    "ColumnBreak": {
      "id": "ColumnBreak",
      "type": "object",
      "description": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column.",
      "properties": {
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "textStyle": {
          "description": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted adjacent to it.",
          "$ref": "TextStyle"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        }
      }
    },
    "EmbeddedDrawingProperties": {
      "description": "The properties of an embedded drawing.",
      "properties": {},
      "id": "EmbeddedDrawingProperties",
      "type": "object"
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "description": "The number of occurrences changed by replacing all text.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "ReplaceAllTextResponse",
      "type": "object",
      "description": "The result of replacing text."
    },
    "PositionedObjectProperties": {
      "type": "object",
      "id": "PositionedObjectProperties",
      "description": "Properties of a PositionedObject.",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        },
        "positioning": {
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object.",
          "$ref": "PositionedObjectPositioning"
        }
      }
    },
    "TableCellLocation": {
      "id": "TableCellLocation",
      "properties": {
        "columnIndex": {
          "type": "integer",
          "description": "The zero-based column index. For example, the second column in the table has a column index of 1.",
          "format": "int32"
        },
        "rowIndex": {
          "format": "int32",
          "description": "The zero-based row index. For example, the second row in the table has a row index of 1.",
          "type": "integer"
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        }
      },
      "description": "Location of a single cell within a table.",
      "type": "object"
    },
    "CreateNamedRangeRequest": {
      "type": "object",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range to apply the name to."
        },
        "name": {
          "type": "string",
          "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units."
        }
      },
      "description": "Creates a NamedRange referencing the given range.",
      "id": "CreateNamedRangeRequest"
    },
    "Request": {
      "properties": {
        "createHeader": {
          "description": "Creates a header.",
          "$ref": "CreateHeaderRequest"
        },
        "updateTableRowStyle": {
          "$ref": "UpdateTableRowStyleRequest",
          "description": "Updates the row style in a table."
        },
        "insertTableColumn": {
          "$ref": "InsertTableColumnRequest",
          "description": "Inserts an empty column into a table."
        },
        "deleteFooter": {
          "description": "Deletes a footer from the document.",
          "$ref": "DeleteFooterRequest"
        },
        "insertTable": {
          "description": "Inserts a table at the specified location.",
          "$ref": "InsertTableRequest"
        },
        "createFooter": {
          "$ref": "CreateFooterRequest",
          "description": "Creates a footer."
        },
        "createFootnote": {
          "description": "Creates a footnote.",
          "$ref": "CreateFootnoteRequest"
        },
        "mergeTableCells": {
          "description": "Merges cells in a table.",
          "$ref": "MergeTableCellsRequest"
        },
        "updateDocumentStyle": {
          "$ref": "UpdateDocumentStyleRequest",
          "description": "Updates the style of the document."
        },
        "insertText": {
          "$ref": "InsertTextRequest",
          "description": "Inserts text at the specified location."
        },
        "replaceImage": {
          "$ref": "ReplaceImageRequest",
          "description": "Replaces an image in the document."
        },
        "deletePositionedObject": {
          "$ref": "DeletePositionedObjectRequest",
          "description": "Deletes a positioned object from the document."
        },
        "updateSectionStyle": {
          "description": "Updates the section style of the specified range.",
          "$ref": "UpdateSectionStyleRequest"
        },
        "insertPageBreak": {
          "$ref": "InsertPageBreakRequest",
          "description": "Inserts a page break at the specified location."
        },
        "replaceNamedRangeContent": {
          "description": "Replaces the content in a named range.",
          "$ref": "ReplaceNamedRangeContentRequest"
        },
        "deleteHeader": {
          "description": "Deletes a header from the document.",
          "$ref": "DeleteHeaderRequest"
        },
        "updateParagraphStyle": {
          "description": "Updates the paragraph style at the specified range.",
          "$ref": "UpdateParagraphStyleRequest"
        },
        "insertInlineImage": {
          "$ref": "InsertInlineImageRequest",
          "description": "Inserts an inline image at the specified location."
        },
        "deleteNamedRange": {
          "$ref": "DeleteNamedRangeRequest",
          "description": "Deletes a named range."
        },
        "deleteParagraphBullets": {
          "$ref": "DeleteParagraphBulletsRequest",
          "description": "Deletes bullets from paragraphs."
        },
        "updateTableCellStyle": {
          "description": "Updates the style of table cells.",
          "$ref": "UpdateTableCellStyleRequest"
        },
        "updateTextStyle": {
          "$ref": "UpdateTextStyleRequest",
          "description": "Updates the text style at the specified range."
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a table."
        },
        "insertTableRow": {
          "description": "Inserts an empty row into a table.",
          "$ref": "InsertTableRowRequest"
        },
        "deleteTableRow": {
          "description": "Deletes a row from a table.",
          "$ref": "DeleteTableRowRequest"
        },
        "replaceAllText": {
          "description": "Replaces all instances of the specified text.",
          "$ref": "ReplaceAllTextRequest"
        },
        "deleteContentRange": {
          "description": "Deletes content from the document.",
          "$ref": "DeleteContentRangeRequest"
        },
        "deleteTableColumn": {
          "description": "Deletes a column from a table.",
          "$ref": "DeleteTableColumnRequest"
        },
        "createParagraphBullets": {
          "description": "Creates bullets for paragraphs.",
          "$ref": "CreateParagraphBulletsRequest"
        },
        "insertSectionBreak": {
          "description": "Inserts a section break at the specified location.",
          "$ref": "InsertSectionBreakRequest"
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "updateTableColumnProperties": {
          "description": "Updates the properties of columns in a table.",
          "$ref": "UpdateTableColumnPropertiesRequest"
        }
      },
      "description": "A single update to apply to a document.",
      "type": "object",
      "id": "Request"
    },
    "Color": {
      "description": "A solid color.",
      "id": "Color",
      "type": "object",
      "properties": {
        "rgbColor": {
          "description": "The RGB color value.",
          "$ref": "RgbColor"
        }
      }
    },
    "UpdateParagraphStyleRequest": {
      "properties": {
        "range": {
          "description": "The range overlapping the paragraphs to style.",
          "$ref": "Range"
        },
        "paragraphStyle": {
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information.",
          "$ref": "ParagraphStyle"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Update the styling of all paragraphs that overlap with the given range.",
      "id": "UpdateParagraphStyleRequest"
    },
    "TabStop": {
      "id": "TabStop",
      "type": "object",
      "properties": {
        "offset": {
          "description": "The offset between this tab stop and the start margin.",
          "$ref": "Dimension"
        },
        "alignment": {
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "type": "string",
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ]
        }
      },
      "description": "A tab stop within a paragraph."
    },
    "DeleteNamedRangeRequest": {
      "type": "object",
      "id": "DeleteNamedRangeRequest",
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range to delete."
        },
        "name": {
          "type": "string",
          "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted."
        }
      },
      "description": "Deletes a NamedRange."
    },
    "NamedStyle": {
      "type": "object",
      "description": "A named style. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from this named style when they have the same named style type.",
      "id": "NamedStyle",
      "properties": {
        "paragraphStyle": {
          "description": "The paragraph style of this named style.",
          "$ref": "ParagraphStyle"
        },
        "textStyle": {
          "description": "The text style of this named style.",
          "$ref": "TextStyle"
        },
        "namedStyleType": {
          "description": "The type of this named style.",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "type": "string"
        }
      }
    },
    "CreateNamedRangeResponse": {
      "type": "object",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      },
      "id": "CreateNamedRangeResponse",
      "description": "The result of creating a named range."
    },
    "SuggestedDocumentStyle": {
      "description": "A suggested change to the DocumentStyle.",
      "type": "object",
      "id": "SuggestedDocumentStyle",
      "properties": {
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "A DocumentStyle that only includes the changes made in this suggestion. This can be used along with the document_style_suggestion_state to see which fields have changed and their new values."
        },
        "documentStyleSuggestionState": {
          "$ref": "DocumentStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion."
        }
      }
    },
    "ParagraphStyle": {
      "id": "ParagraphStyle",
      "description": "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as unset fields in this message. A paragraph style's parent depends on where the paragraph style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's corresponding named style type. * The ParagraphStyle on a named style inherits from the normal text named style. * The ParagraphStyle of the normal text named style inherits from the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element that is contained in a table may inherit its paragraph style from the table style. If the paragraph style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor.",
      "type": "object",
      "properties": {
        "alignment": {
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ],
          "description": "The text alignment for this paragraph.",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "type": "string"
        },
        "indentStart": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the paragraph on the side that corresponds to the start of the text, based on the current paragraph direction. If unset, the value is inherited from the parent."
        },
        "indentEnd": {
          "description": "The amount of indentation for the paragraph on the side that corresponds to the end of the text, based on the current paragraph direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "namedStyleType": {
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "type": "string",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "description": "The named style type of the paragraph. Since updating the named style type affects other properties within ParagraphStyle, the named style type is applied before the other properties are updated."
        },
        "direction": {
          "type": "string",
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since paragraph direction is not inherited.",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ]
        },
        "headingId": {
          "type": "string",
          "description": "The heading ID of the paragraph. If empty, then this paragraph is not a heading. This property is read-only."
        },
        "borderBottom": {
          "description": "The border at the bottom of this paragraph. If unset, the value is inherited from the parent. The bottom border is rendered when the paragraph below has different border and indent properties. Paragraph borders cannot be partially updated. When making changes to a paragraph border the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of the paragraph. If unset, the value is inherited from the parent."
        },
        "spacingMode": {
          "type": "string",
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ],
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "description": "The spacing mode for the paragraph."
        },
        "keepLinesTogether": {
          "type": "boolean",
          "description": "Whether all lines of the paragraph should be laid out on the same page or column if possible. If unset, the value is inherited from the parent."
        },
        "borderBetween": {
          "$ref": "ParagraphBorder",
          "description": "The border between this paragraph and the next and previous paragraphs. If unset, the value is inherited from the parent. The between border is rendered when the adjacent paragraph has the same border and indent properties. Paragraph borders cannot be partially updated. When making changes to a paragraph border the new border must be specified in its entirety."
        },
        "shading": {
          "description": "The shading of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Shading"
        },
        "spaceBelow": {
          "$ref": "Dimension",
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
        },
        "borderTop": {
          "$ref": "ParagraphBorder",
          "description": "The border at the top of this paragraph. If unset, the value is inherited from the parent. The top border is rendered when the paragraph above has different border and indent properties. Paragraph borders cannot be partially updated. When making changes to a paragraph border the new border must be specified in its entirety."
        },
        "spaceAbove": {
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "lineSpacing": {
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.",
          "format": "float",
          "type": "number"
        },
        "tabStops": {
          "type": "array",
          "items": {
            "$ref": "TabStop"
          },
          "description": "A list of the tab stops for this paragraph. The list of tab stops is not inherited. This property is read-only."
        },
        "avoidWidowAndOrphan": {
          "type": "boolean",
          "description": "Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited from the parent."
        },
        "borderLeft": {
          "description": "The border to the left of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When making changes to a paragraph border the new border must be specified in its entirety.",
          "$ref": "ParagraphBorder"
        },
        "keepWithNext": {
          "description": "Whether at least a part of this paragraph should be laid out on the same page or column as the next paragraph if possible. If unset, the value is inherited from the parent.",
          "type": "boolean"
        },
        "borderRight": {
          "$ref": "ParagraphBorder",
          "description": "The border to the right of this paragraph. If unset, the value is inherited from the parent. Paragraph borders cannot be partially updated. When making changes to a paragraph border the new border must be specified in its entirety."
        }
      }
    },
    "ListPropertiesSuggestionState": {
      "properties": {
        "nestingLevelsSuggestionStates": {
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "type": "array"
        }
      },
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "id": "ListPropertiesSuggestionState",
      "type": "object"
    },
    "SuggestedInlineObjectProperties": {
      "id": "SuggestedInlineObjectProperties",
      "type": "object",
      "description": "A suggested change to InlineObjectProperties.",
      "properties": {
        "inlineObjectPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion.",
          "$ref": "InlineObjectPropertiesSuggestionState"
        },
        "inlineObjectProperties": {
          "$ref": "InlineObjectProperties",
          "description": "An InlineObjectProperties that only includes the changes made in this suggestion. This can be used along with the inline_object_properties_suggestion_state to see which fields have changed and their new values."
        }
      }
    },
    "TableStyle": {
      "properties": {
        "tableColumnProperties": {
          "items": {
            "$ref": "TableColumnProperties"
          },
          "type": "array",
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style."
        }
      },
      "id": "TableStyle",
      "description": "Styles that apply to a table.",
      "type": "object"
    },
    "OptionalColor": {
      "id": "OptionalColor",
      "properties": {
        "color": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "Color"
        }
      },
      "type": "object",
      "description": "A color that can either be fully opaque or fully transparent."
    },
    "DeleteTableRowRequest": {
      "id": "DeleteTableRowRequest",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which the row will be deleted. The row this cell spans will be deleted. If this is a merged cell that spans multiple rows, all rows that the cell spans will be deleted. If no rows remain in the table after this deletion, the whole table is deleted.",
          "$ref": "TableCellLocation"
        }
      },
      "description": "Deletes a row from a table.",
      "type": "object"
    },
    "CreateHeaderRequest": {
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned.",
      "id": "CreateHeaderRequest",
      "type": "object",
      "properties": {
        "sectionBreakLocation": {
          "$ref": "Location",
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle"
        },
        "type": {
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "description": "The type of header to create.",
          "type": "string"
        }
      }
    },
    "CreateFooterRequest": {
      "type": "object",
      "id": "CreateFooterRequest",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "type": "string",
          "description": "The type of footer to create.",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ]
        },
        "sectionBreakLocation": {
          "description": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style.",
          "$ref": "Location"
        }
      },
      "description": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned."
    },
    "TableRowStyle": {
      "description": "Styles that apply to a table row.",
      "id": "TableRowStyle",
      "type": "object",
      "properties": {
        "minRowHeight": {
          "description": "The minimum height of the row. The row will be rendered in the Docs editor at a height equal to or greater than this value in order to show all the content in the row's cells.",
          "$ref": "Dimension"
        }
      }
    },
    "TableRow": {
      "description": "The contents and style of a row in a Table.",
      "id": "TableRow",
      "type": "object",
      "properties": {
        "startIndex": {
          "description": "The zero-based start index of this row, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "tableCells": {
          "description": "The contents and style of each cell in this row. It is possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table.",
          "type": "array",
          "items": {
            "$ref": "TableCell"
          }
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedTableRowStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTableRowStyle"
          },
          "description": "The suggested style changes to this row, keyed by suggestion ID.",
          "type": "object"
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "The style of the table row."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "endIndex": {
          "type": "integer",
          "description": "The zero-based end index of this row, exclusive, in UTF-16 code units.",
          "format": "int32"
        }
      }
    },
    "Response": {
      "id": "Response",
      "properties": {
        "createFootnote": {
          "description": "The result of creating a footnote.",
          "$ref": "CreateFootnoteResponse"
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextResponse",
          "description": "The result of replacing text."
        },
        "createHeader": {
          "$ref": "CreateHeaderResponse",
          "description": "The result of creating a header."
        },
        "insertInlineSheetsChart": {
          "$ref": "InsertInlineSheetsChartResponse",
          "description": "The result of inserting an inline Google Sheets chart."
        },
        "createNamedRange": {
          "$ref": "CreateNamedRangeResponse",
          "description": "The result of creating a named range."
        },
        "insertInlineImage": {
          "description": "The result of inserting an inline image.",
          "$ref": "InsertInlineImageResponse"
        },
        "createFooter": {
          "description": "The result of creating a footer.",
          "$ref": "CreateFooterResponse"
        }
      },
      "description": "A single response from an update.",
      "type": "object"
    },
    "SuggestedListProperties": {
      "id": "SuggestedListProperties",
      "type": "object",
      "properties": {
        "listPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion.",
          "$ref": "ListPropertiesSuggestionState"
        },
        "listProperties": {
          "description": "A ListProperties that only includes the changes made in this suggestion. This can be used along with the list_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "ListProperties"
        }
      },
      "description": "A suggested change to ListProperties."
    },
    "DeleteFooterRequest": {
      "type": "object",
      "properties": {
        "footerId": {
          "type": "string",
          "description": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section."
        }
      },
      "id": "DeleteFooterRequest",
      "description": "Deletes a Footer from the document."
    },
    "AutoText": {
      "id": "AutoText",
      "type": "object",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this AutoText."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ],
          "description": "The type of this auto text.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the document."
          ]
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        }
      },
      "description": "A ParagraphElement representing a spot in the text that is dynamically replaced with content that can change over time, like a page number."
    },
    "SizeSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "id": "SizeSuggestionState",
      "properties": {
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        },
        "heightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to height."
        }
      },
      "type": "object"
    },
    "ReplaceAllTextRequest": {
      "id": "ReplaceAllTextRequest",
      "description": "Replaces all instances of text matching a criteria with replace text.",
      "type": "object",
      "properties": {
        "containsText": {
          "description": "Finds text in the document matching this substring.",
          "$ref": "SubstringMatchCriteria"
        },
        "replaceText": {
          "description": "The text that will replace the matched text.",
          "type": "string"
        }
      }
    },
    "UnmergeTableCellsRequest": {
      "type": "object",
      "properties": {
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise."
        }
      },
      "description": "Unmerges cells in a Table.",
      "id": "UnmergeTableCellsRequest"
    },
    "DeletePositionedObjectRequest": {
      "description": "Deletes a PositionedObject from the document.",
      "id": "DeletePositionedObjectRequest",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the positioned object to delete."
        }
      }
    },
    "RichLinkProperties": {
      "properties": {
        "mimeType": {
          "readOnly": true,
          "description": "Output only. The [MIME type](https://developers.google.com/drive/api/v3/mime-types) of the RichLink, if there is one (i.e., when it is a file in Drive).",
          "type": "string"
        },
        "title": {
          "description": "Output only. The title of the RichLink as displayed in the link. This title matches the title of the linked resource at the time of the insertion or last update of the link. This field is always present.",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI to the RichLink. This is always present."
        }
      },
      "id": "RichLinkProperties",
      "description": "Properties specific to a RichLink.",
      "type": "object"
    },
    "EmbeddedObject": {
      "id": "EmbeddedObject",
      "type": "object",
      "description": "An embedded object in the document.",
      "properties": {
        "imageProperties": {
          "description": "The properties of an image.",
          "$ref": "ImageProperties"
        },
        "marginRight": {
          "description": "The right margin of the embedded object.",
          "$ref": "Dimension"
        },
        "linkedContentReference": {
          "$ref": "LinkedContentReference",
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked."
        },
        "embeddedDrawingProperties": {
          "$ref": "EmbeddedDrawingProperties",
          "description": "The properties of an embedded drawing."
        },
        "embeddedObjectBorder": {
          "description": "The border of the embedded object.",
          "$ref": "EmbeddedObjectBorder"
        },
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom margin of the embedded object."
        },
        "description": {
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text."
        },
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top margin of the embedded object."
        }
      }
    },
    "SectionColumnProperties": {
      "type": "object",
      "id": "SectionColumnProperties",
      "properties": {
        "width": {
          "description": "Output only. The width of the column.",
          "$ref": "Dimension"
        },
        "paddingEnd": {
          "$ref": "Dimension",
          "description": "The padding at the end of the column."
        }
      },
      "description": "Properties that apply to a section's column."
    },
    "Paragraph": {
      "properties": {
        "suggestedPositionedObjectIds": {
          "type": "object",
          "description": "The IDs of the positioned objects that are suggested to be attached to this paragraph, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "ObjectReferences"
          }
        },
        "suggestedParagraphStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          },
          "description": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID.",
          "type": "object"
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The style of this paragraph."
        },
        "suggestedBulletChanges": {
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          },
          "type": "object",
          "description": "The suggested changes to this paragraph's bullet."
        },
        "positionedObjectIds": {
          "items": {
            "type": "string"
          },
          "description": "The IDs of the positioned objects tethered to this paragraph.",
          "type": "array"
        },
        "bullet": {
          "$ref": "Bullet",
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list."
        },
        "elements": {
          "type": "array",
          "description": "The content of the paragraph broken down into its component parts.",
          "items": {
            "$ref": "ParagraphElement"
          }
        }
      },
      "type": "object",
      "description": "A StructuralElement representing a paragraph. A paragraph is a range of content that is terminated with a newline character.",
      "id": "Paragraph"
    },
    "UpdateTableCellStyleRequest": {
      "type": "object",
      "description": "Updates the style of a range of table cells.",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table.",
          "$ref": "Location"
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range representing the subset of the table to which the updates are applied."
        },
        "tableCellStyle": {
          "description": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`",
          "$ref": "TableCellStyle"
        }
      },
      "id": "UpdateTableCellStyleRequest"
    },
    "UpdateTableRowStyleRequest": {
      "id": "UpdateTableRowStyleRequest",
      "description": "Updates the TableRowStyle of rows in a table.",
      "properties": {
        "rowIndices": {
          "type": "array",
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`."
        },
        "tableRowStyle": {
          "description": "The styles to be set on the rows.",
          "$ref": "TableRowStyle"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        }
      },
      "type": "object"
    },
    "SuggestedParagraphStyle": {
      "id": "SuggestedParagraphStyle",
      "type": "object",
      "description": "A suggested change to a ParagraphStyle.",
      "properties": {
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "paragraphStyle": {
          "description": "A ParagraphStyle that only includes the changes made in this suggestion. This can be used along with the paragraph_suggestion_state to see which fields have changed and their new values.",
          "$ref": "ParagraphStyle"
        }
      }
    },
    "TableRowStyleSuggestionState": {
      "type": "object",
      "id": "TableRowStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there is a new suggested value.",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      }
    },
    "List": {
      "properties": {
        "suggestedInsertionId": {
          "type": "string",
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion."
        },
        "listProperties": {
          "$ref": "ListProperties",
          "description": "The properties of the list."
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedListPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedListProperties"
          },
          "type": "object",
          "description": "The suggested changes to the list properties, keyed by suggestion ID."
        }
      },
      "id": "List",
[...]
