{
  "description": "Reads and writes Google Docs documents.",
  "documentationLink": "https://developers.google.com/docs/",
  "ownerName": "Google",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "name": "docs",
  "kind": "discovery#restDescription",
  "baseUrl": "https://docs.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20230929",
  "fullyEncodeReservedExpansion": true,
  "id": "docs:v1",
  "basePath": "",
  "protocol": "rest",
  "version_module": true,
  "rootUrl": "https://docs.googleapis.com/",
  "resources": {
    "documents": {
      "methods": {
        "create": {
          "path": "v1/documents",
          "request": {
            "$ref": "Document"
          },
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "response": {
            "$ref": "Document"
          },
          "flatPath": "v1/documents",
          "id": "docs.documents.create"
        },
        "batchUpdate": {
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "path": "v1/documents/{documentId}:batchUpdate",
          "parameters": {
            "documentId": {
              "type": "string",
              "description": "The ID of the document to update.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "documentId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "id": "docs.documents.batchUpdate"
        },
        "get": {
          "flatPath": "v1/documents/{documentId}",
          "id": "docs.documents.get",
          "response": {
            "$ref": "Document"
          },
          "parameterOrder": [
            "documentId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "documentId": {
              "required": true,
              "type": "string",
              "description": "The ID of the document to retrieve.",
              "location": "path"
            },
            "suggestionsViewMode": {
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ],
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used.",
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/documents/{documentId}",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets the latest version of the specified document."
        }
      }
    }
  },
  "canonicalName": "Docs",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "schemas": {
    "CropPropertiesSuggestionState": {
      "id": "CropPropertiesSuggestionState",
      "type": "object",
      "properties": {
        "offsetTopSuggested": {
          "description": "Indicates if there was a suggested change to offset_top.",
          "type": "boolean"
        },
        "offsetLeftSuggested": {
          "description": "Indicates if there was a suggested change to offset_left.",
          "type": "boolean"
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "offsetRightSuggested": {
          "description": "Indicates if there was a suggested change to offset_right.",
          "type": "boolean"
        },
        "offsetBottomSuggested": {
          "description": "Indicates if there was a suggested change to offset_bottom.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "Table": {
      "description": "A StructuralElement representing a table.",
      "properties": {
        "tableStyle": {
          "description": "The style of the table.",
          "$ref": "TableStyle"
        },
        "tableRows": {
          "type": "array",
          "description": "The contents and style of each row.",
          "items": {
            "$ref": "TableRow"
          }
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A Table may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "rows": {
          "type": "integer",
          "description": "Number of rows in the table.",
          "format": "int32"
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "columns": {
          "format": "int32",
          "type": "integer",
          "description": "Number of columns in the table. It's possible for a table to be non-rectangular, so some rows may have a different number of cells."
        }
      },
      "type": "object",
      "id": "Table"
    },
    "ObjectReferences": {
      "type": "object",
      "properties": {
        "objectIds": {
          "description": "The object IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ObjectReferences",
      "description": "A collection of object IDs."
    },
    "PositionedObject": {
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "positionedObjectProperties": {
          "description": "The properties of this positioned object.",
          "$ref": "PositionedObjectProperties"
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          },
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID."
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "The ID of this positioned object."
        }
      },
      "type": "object",
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "id": "PositionedObject"
    },
    "InsertTextRequest": {
      "type": "object",
      "id": "InsertTextRequest",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer, footnote or the document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        }
      },
      "description": "Inserts text at the specified location."
    },
    "TextRun": {
      "type": "object",
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "id": "TextRun",
      "properties": {
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this run, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "content": {
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        }
      }
    },
    "TableRowStyleSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "minRowHeightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to min_row_height."
        }
      },
      "id": "TableRowStyleSuggestionState"
    },
    "DocumentStyle": {
      "description": "The style of the document.",
      "id": "DocumentStyle",
      "properties": {
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. This property is read-only.",
          "type": "string"
        },
        "firstPageFooterId": {
          "description": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. This property is read-only.",
          "type": "string"
        },
        "useFirstPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the first page header / footer IDs for the first page."
        },
        "marginFooter": {
          "description": "The amount of space between the bottom of the page and the contents of the footer.",
          "$ref": "Dimension"
        },
        "useCustomHeaderFooterMargins": {
          "type": "boolean",
          "description": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin are used. This property is read-only."
        },
        "pageNumberStart": {
          "type": "integer",
          "format": "int32",
          "description": "The page number from which to start counting the number of pages."
        },
        "flipPageOrientation": {
          "description": "Optional. Indicates whether to flip the dimensions of the page_size, which allows changing the page orientation between portrait and landscape.",
          "type": "boolean"
        },
        "marginHeader": {
          "description": "The amount of space between the top of the page and the contents of the header.",
          "$ref": "Dimension"
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. This property is read-only.",
          "type": "string"
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles."
        },
        "marginLeft": {
          "description": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections.",
          "$ref": "Dimension"
        },
        "marginBottom": {
          "description": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles.",
          "$ref": "Dimension"
        },
        "background": {
          "$ref": "Background",
          "description": "The background of the document. Documents cannot have a transparent background color."
        },
        "defaultHeaderId": {
          "description": "The ID of the default header. If not set, there's no default header. This property is read-only.",
          "type": "string"
        },
        "pageSize": {
          "$ref": "Size",
          "description": "The size of a page in the document."
        },
        "defaultFooterId": {
          "type": "string",
          "description": "The ID of the default footer. If not set, there's no default footer. This property is read-only."
        },
        "marginRight": {
          "description": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections.",
          "$ref": "Dimension"
        },
        "useEvenPageHeaderFooter": {
          "description": "Indicates whether to use the even page header / footer IDs for the even pages.",
          "type": "boolean"
        },
        "evenPageFooterId": {
          "description": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. This property is read-only.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AutoText": {
      "description": "A ParagraphElement representing a spot in the text that's dynamically replaced with content that can change over time, like a page number.",
      "type": "object",
      "id": "AutoText",
      "properties": {
        "textStyle": {
          "description": "The text style of this AutoText.",
          "$ref": "TextStyle"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this AutoText, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified auto text type.",
            "Type for auto text that represents the current page number.",
            "Type for auto text that represents the total number of pages in the document."
          ],
          "description": "The type of this auto text.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PAGE_NUMBER",
            "PAGE_COUNT"
          ]
        }
      }
    },
    "DeleteFooterRequest": {
      "properties": {
        "footerId": {
          "description": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Deletes a Footer from the document.",
      "id": "DeleteFooterRequest"
    },
    "TableOfContents": {
      "description": "A StructuralElement representing a table of contents.",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "content": {
          "type": "array",
          "description": "The content of the table of contents.",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TableOfContents",
      "type": "object"
    },
    "RichLink": {
      "type": "object",
      "description": "A link to a Google resource (such as a file in Drive, a YouTube video, or a Calendar event).",
      "properties": {
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that insert this link into the document. A RichLink might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this link from the document. A RichLink might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "richLinkProperties": {
          "readOnly": true,
          "description": "Output only. The properties of this RichLink. This field is always present.",
          "$ref": "RichLinkProperties"
        },
        "textStyle": {
          "description": "The text style of this RichLink.",
          "$ref": "TextStyle"
        },
        "richLinkId": {
          "type": "string",
          "description": "Output only. The ID of this link.",
          "readOnly": true
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this RichLink, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        }
      },
      "id": "RichLink"
    },
    "CreateNamedRangeResponse": {
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the created named range."
        }
      },
      "id": "CreateNamedRangeResponse",
      "type": "object",
      "description": "The result of creating a named range."
    },
    "LinkedContentReference": {
      "type": "object",
      "properties": {
        "sheetsChartReference": {
          "description": "A reference to the linked chart.",
          "$ref": "SheetsChartReference"
        }
      },
      "description": "A reference to the external linked source content.",
      "id": "LinkedContentReference"
    },
    "TableColumnProperties": {
      "properties": {
        "widthType": {
          "description": "The width type of the column.",
          "enumDescriptions": [
            "The column width type is unspecified.",
            "The column width is evenly distributed among the other evenly distributed columns. The width of the column is automatically determined and will have an equal portion of the width remaining for the table after accounting for all columns with specified widths.",
            "A fixed column width. The width property contains the column's width."
          ],
          "type": "string",
          "enum": [
            "WIDTH_TYPE_UNSPECIFIED",
            "EVENLY_DISTRIBUTED",
            "FIXED_WIDTH"
          ]
        },
        "width": {
          "description": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH.",
          "$ref": "Dimension"
        }
      },
      "type": "object",
      "id": "TableColumnProperties",
      "description": "The properties of a column in a table."
    },
    "UnmergeTableCellsRequest": {
      "id": "UnmergeTableCellsRequest",
      "description": "Unmerges cells in a Table.",
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise.",
          "$ref": "TableRange"
        }
      },
      "type": "object"
    },
    "SectionStyle": {
      "properties": {
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "boolean"
        },
        "marginRight": {
          "description": "The right page margin of the section. If unset, the value defaults to margin_right from DocumentStyle. Updating the right margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "marginFooter": {
          "description": "The footer margin of the section. If unset, the value defaults to margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "marginTop": {
          "description": "The top page margin of the section. If unset, the value defaults to margin_top from DocumentStyle. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. This property is read-only.",
          "type": "string"
        },
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. This property is read-only."
        },
        "contentDirection": {
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "type": "string"
        },
        "columnSeparatorStyle": {
          "description": "The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "string",
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ],
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ]
        },
        "pageNumberStart": {
          "type": "integer",
          "format": "int32",
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginHeader": {
          "$ref": "Dimension",
          "description": "The header margin of the section. If unset, the value defaults to margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. This property is read-only.",
          "type": "string"
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. This property is read-only.",
          "type": "string"
        },
        "flipPageOrientation": {
          "description": "Optional. Indicates whether to flip the dimensions of DocumentStyle's page_size for this section, which allows changing the page orientation between portrait and landscape. If unset, the value inherits from DocumentStyle's flip_page_orientation. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "boolean"
        },
        "evenPageFooterId": {
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. This property is read-only.",
          "type": "string"
        },
        "marginBottom": {
          "description": "The bottom page margin of the section. If unset, the value defaults to margin_bottom from DocumentStyle. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "columnProperties": {
          "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error.",
          "items": {
            "$ref": "SectionColumnProperties"
          },
          "type": "array"
        },
        "marginLeft": {
          "$ref": "Dimension",
          "description": "The left page margin of the section. If unset, the value defaults to margin_left from DocumentStyle. Updating the left margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "description": "Output only. The type of section."
        },
        "defaultHeaderId": {
          "type": "string",
          "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. This property is read-only."
        }
      },
      "description": "The styling that applies to a section.",
      "type": "object",
      "id": "SectionStyle"
    },
    "ParagraphElement": {
      "properties": {
        "footnoteReference": {
          "description": "A footnote reference paragraph element.",
          "$ref": "FootnoteReference"
        },
        "columnBreak": {
          "$ref": "ColumnBreak",
          "description": "A column break paragraph element."
        },
        "equation": {
          "$ref": "Equation",
          "description": "An equation paragraph element."
        },
        "person": {
          "$ref": "Person",
          "description": "A paragraph element that links to a person or email address."
        },
        "richLink": {
          "$ref": "RichLink",
          "description": "A paragraph element that links to a Google resource (such as a file in Google Drive, a YouTube video, or a Calendar event.)"
        },
        "pageBreak": {
          "description": "A page break paragraph element.",
          "$ref": "PageBreak"
        },
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-base end index of this paragraph element, exclusive, in UTF-16 code units."
        },
        "horizontalRule": {
          "description": "A horizontal rule paragraph element.",
          "$ref": "HorizontalRule"
        },
        "inlineObjectElement": {
          "description": "An inline object paragraph element.",
          "$ref": "InlineObjectElement"
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this paragraph element, in UTF-16 code units.",
          "format": "int32"
        },
        "textRun": {
          "description": "A text run paragraph element.",
          "$ref": "TextRun"
        },
        "autoText": {
          "description": "An auto text paragraph element.",
          "$ref": "AutoText"
        }
      },
      "description": "A ParagraphElement describes content within a Paragraph.",
      "type": "object",
      "id": "ParagraphElement"
    },
    "CreateHeaderRequest": {
      "type": "object",
      "id": "CreateHeaderRequest",
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "description": "The type of header to create.",
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "type": "string"
        },
        "sectionBreakLocation": {
          "$ref": "Location",
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle"
        }
      }
    },
    "WeightedFontFamily": {
      "type": "object",
      "description": "Represents a font family and weight of text.",
      "id": "WeightedFontFamily",
      "properties": {
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight."
        },
        "fontFamily": {
          "type": "string",
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`."
        }
      }
    },
    "UpdateTableRowStyleRequest": {
      "description": "Updates the TableRowStyle of rows in a table.",
      "type": "object",
      "id": "UpdateTableRowStyleRequest",
      "properties": {
        "rowIndices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated.",
          "type": "array"
        },
        "tableRowStyle": {
          "description": "The styles to be set on the rows.",
          "$ref": "TableRowStyle"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        }
      }
    },
    "Body": {
      "type": "object",
      "id": "Body",
      "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes.",
      "properties": {
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the body. The indexes for the body's content begin at zero.",
          "type": "array"
        }
      }
    },
    "Person": {
      "type": "object",
      "id": "Person",
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "properties": {
        "suggestedDeletionIds": {
          "type": "array",
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this Person, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "personProperties": {
          "description": "Output only. The properties of this Person. This field is always present.",
          "readOnly": true,
          "$ref": "PersonProperties"
        },
        "textStyle": {
          "description": "The text style of this Person.",
          "$ref": "TextStyle"
        },
        "personId": {
          "readOnly": true,
          "description": "Output only. The unique ID of this link.",
          "type": "string"
        }
      }
    },
    "ListProperties": {
      "id": "ListProperties",
      "type": "object",
      "description": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "properties": {
        "nestingLevels": {
          "description": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first.",
          "items": {
            "$ref": "NestingLevel"
          },
          "type": "array"
        }
      }
    },
    "TableStyle": {
      "description": "Styles that apply to a table.",
      "properties": {
        "tableColumnProperties": {
          "type": "array",
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style.",
          "items": {
            "$ref": "TableColumnProperties"
          }
        }
      },
      "id": "TableStyle",
      "type": "object"
    },
    "Shading": {
      "id": "Shading",
      "properties": {
        "backgroundColor": {
          "description": "The background color of this paragraph shading.",
          "$ref": "OptionalColor"
        }
      },
      "description": "The shading of a paragraph.",
      "type": "object"
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "description": "The number of occurrences changed by replacing all text.",
          "format": "int32"
        }
      },
      "id": "ReplaceAllTextResponse",
      "type": "object",
      "description": "The result of replacing text."
    },
    "SuggestedTableRowStyle": {
      "description": "A suggested change to a TableRowStyle.",
      "properties": {
        "tableRowStyle": {
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableRowStyle"
        },
        "tableRowStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion.",
          "$ref": "TableRowStyleSuggestionState"
        }
      },
      "type": "object",
      "id": "SuggestedTableRowStyle"
    },
    "ReplaceAllTextRequest": {
      "description": "Replaces all instances of text matching a criteria with replace text.",
      "id": "ReplaceAllTextRequest",
      "properties": {
        "containsText": {
          "description": "Finds text in the document matching this substring.",
          "$ref": "SubstringMatchCriteria"
        },
        "replaceText": {
          "type": "string",
          "description": "The text that will replace the matched text."
        }
      },
      "type": "object"
    },
    "EmbeddedObjectBorder": {
      "id": "EmbeddedObjectBorder",
      "description": "A border around an EmbeddedObject.",
      "type": "object",
      "properties": {
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        },
        "propertyState": {
          "description": "The property state of the border property.",
          "type": "string",
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ],
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ]
        },
        "dashStyle": {
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string"
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the border."
        }
      }
    },
    "CreateFootnoteResponse": {
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the created footnote."
        }
      },
      "type": "object",
      "id": "CreateFootnoteResponse",
      "description": "The result of creating a footnote."
    },
    "Background": {
      "id": "Background",
      "type": "object",
      "properties": {
        "color": {
          "$ref": "OptionalColor",
          "description": "The background color."
        }
      },
      "description": "Represents the background of a document."
    },
    "DeleteNamedRangeRequest": {
      "description": "Deletes a NamedRange.",
      "type": "object",
      "id": "DeleteNamedRangeRequest",
      "properties": {
        "name": {
          "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted.",
          "type": "string"
        },
        "namedRangeId": {
          "description": "The ID of the named range to delete.",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
        },
        "index": {
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A particular location in the document.",
      "type": "object",
      "id": "Location"
    },
    "ParagraphBorder": {
      "id": "ParagraphBorder",
      "description": "A border around a paragraph.",
      "properties": {
        "padding": {
          "$ref": "Dimension",
          "description": "The padding of the border."
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        },
        "dashStyle": {
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "type": "string",
          "description": "The dash style of the border.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ]
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        }
      },
      "type": "object"
    },
    "InlineObjectElement": {
      "type": "object",
      "id": "InlineObjectElement",
      "properties": {
        "textStyle": {
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "inlineObjectId": {
          "description": "The ID of the InlineObject this element contains.",
          "type": "string"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        }
      },
      "description": "A ParagraphElement that contains an InlineObject."
    },
    "ParagraphStyleSuggestionState": {
      "properties": {
        "indentStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_start."
        },
        "borderBetweenSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_between."
        },
        "indentEndSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_end."
        },
        "borderLeftSuggested": {
          "description": "Indicates if there was a suggested change to border_left.",
          "type": "boolean"
        },
        "pageBreakBeforeSuggested": {
          "description": "Indicates if there was a suggested change to page_break_before.",
          "type": "boolean"
        },
        "keepWithNextSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to keep_with_next."
        },
        "alignmentSuggested": {
          "description": "Indicates if there was a suggested change to alignment.",
          "type": "boolean"
        },
        "headingIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to heading_id."
        },
        "lineSpacingSuggested": {
          "description": "Indicates if there was a suggested change to line_spacing.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_right."
        },
        "shadingSuggestionState": {
          "description": "A mask that indicates which of the fields in shading have been changed in this suggestion.",
          "$ref": "ShadingSuggestionState"
        },
        "spaceBelowSuggested": {
          "description": "Indicates if there was a suggested change to space_below.",
          "type": "boolean"
        },
        "spacingModeSuggested": {
          "description": "Indicates if there was a suggested change to spacing_mode.",
          "type": "boolean"
        },
        "keepLinesTogetherSuggested": {
          "description": "Indicates if there was a suggested change to keep_lines_together.",
          "type": "boolean"
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        },
        "avoidWidowAndOrphanSuggested": {
          "description": "Indicates if there was a suggested change to avoid_widow_and_orphan.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_top."
        },
        "spaceAboveSuggested": {
          "description": "Indicates if there was a suggested change to space_above.",
          "type": "boolean"
        },
        "directionSuggested": {
          "description": "Indicates if there was a suggested change to direction.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "namedStyleTypeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to named_style_type."
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "ParagraphStyleSuggestionState"
    },
    "BulletSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "BulletSuggestionState",
      "type": "object",
      "properties": {
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "nestingLevelSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the nesting_level."
        },
        "listIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the list_id."
        }
      }
    },
    "TableCellStyle": {
      "description": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style.",
      "id": "TableCellStyle",
      "properties": {
        "rowSpan": {
          "format": "int32",
          "type": "integer",
          "description": "The row span of the cell. This property is read-only."
        },
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the cell."
        },
        "paddingLeft": {
          "$ref": "Dimension",
          "description": "The left padding of the cell."
        },
        "paddingRight": {
          "$ref": "Dimension",
          "description": "The right padding of the cell."
        },
        "borderLeft": {
          "description": "The left border of the cell.",
          "$ref": "TableCellBorder"
        },
        "borderRight": {
          "description": "The right border of the cell.",
          "$ref": "TableCellBorder"
        },
        "borderTop": {
          "$ref": "TableCellBorder",
          "description": "The top border of the cell."
        },
        "contentAlignment": {
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "type": "string",
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ]
        },
        "paddingBottom": {
          "$ref": "Dimension",
          "description": "The bottom padding of the cell."
        },
        "borderBottom": {
          "$ref": "TableCellBorder",
          "description": "The bottom border of the cell."
        },
        "paddingTop": {
          "$ref": "Dimension",
          "description": "The top padding of the cell."
        },
        "columnSpan": {
          "description": "The column span of the cell. This property is read-only.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "CropProperties": {
      "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angle are 0, the image is not cropped.",
      "id": "CropProperties",
      "properties": {
        "offsetLeft": {
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width.",
          "format": "float",
          "type": "number"
        },
        "angle": {
          "type": "number",
          "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets.",
          "format": "float"
        },
        "offsetTop": {
          "format": "float",
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.",
          "type": "number"
        },
        "offsetBottom": {
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height.",
          "format": "float",
          "type": "number"
        },
        "offsetRight": {
          "format": "float",
          "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {},
      "id": "EmbeddedDrawingPropertiesSuggestionState"
    },
    "ShadingSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there's a new suggested value.",
      "id": "ShadingSuggestionState",
      "properties": {
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to the Shading.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "InsertInlineImageRequest": {
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote."
        },
        "objectSize": {
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio.",
          "$ref": "Size"
        },
        "uri": {
          "type": "string",
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field."
        },
        "location": {
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation.",
          "$ref": "Location"
        }
      },
      "id": "InsertInlineImageRequest",
      "description": "Inserts an InlineObject containing an image at the given location.",
      "type": "object"
    },
    "PositionedObjectPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {
        "positioningSuggestionState": {
          "$ref": "PositionedObjectPositioningSuggestionState",
          "description": "A mask that indicates which of the fields in positioning have been changed in this suggestion."
        },
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "id": "PositionedObjectPropertiesSuggestionState"
    },
    "DeleteHeaderRequest": {
      "id": "DeleteHeaderRequest",
      "properties": {
        "headerId": {
          "type": "string",
          "description": "The id of the header to delete. If this header is defined on DocumentStyle, the reference to this header is removed, resulting in no header of that type for the first section of the document. If this header is defined on a SectionStyle, the reference to this header is removed and the header of that type is now continued from the previous section."
        }
      },
      "description": "Deletes a Header from the document.",
      "type": "object"
    },
    "EmbeddedDrawingProperties": {
      "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported.",
      "id": "EmbeddedDrawingProperties",
      "properties": {},
      "type": "object"
    },
    "SuggestedDocumentStyle": {
      "properties": {
        "documentStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion.",
          "$ref": "DocumentStyleSuggestionState"
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "A DocumentStyle that only includes the changes made in this suggestion. This can be used along with the document_style_suggestion_state to see which fields have changed and their new values."
        }
      },
      "type": "object",
      "id": "SuggestedDocumentStyle",
      "description": "A suggested change to the DocumentStyle."
    },
    "InlineObjectPropertiesSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "embeddedObjectSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion.",
          "$ref": "EmbeddedObjectSuggestionState"
        }
      },
      "id": "InlineObjectPropertiesSuggestionState"
    },
    "Range": {
      "description": "Specifies a contiguous range of text.",
      "properties": {
        "startIndex": {
          "description": "The zero-based start index of this range, in UTF-16 code units. In all current uses, a start index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges.",
          "format": "int32",
          "type": "integer"
        },
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer, or footnote that this range is contained in. An empty segment ID signifies the document's body."
        },
        "endIndex": {
          "description": "The zero-based end index of this range, exclusive, in UTF-16 code units. In all current uses, an end index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Range"
    },
    "ColumnBreak": {
      "id": "ColumnBreak",
      "type": "object",
      "description": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column.",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        }
      }
    },
    "SubstringMatchCriteria": {
      "type": "object",
      "id": "SubstringMatchCriteria",
      "description": "A criteria that matches a specific string of text in the document.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text to search for in the document."
        },
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        }
      }
    },
    "SuggestedPositionedObjectProperties": {
      "properties": {
        "positionedObjectProperties": {
          "description": "A PositionedObjectProperties that only includes the changes made in this suggestion. This can be used along with the positioned_object_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "PositionedObjectProperties"
        },
        "positionedObjectPropertiesSuggestionState": {
          "$ref": "PositionedObjectPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion."
        }
      },
      "description": "A suggested change to PositionedObjectProperties.",
      "type": "object",
      "id": "SuggestedPositionedObjectProperties"
    },
    "RgbColor": {
      "properties": {
        "green": {
          "description": "The green component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "format": "float",
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "type": "number"
        },
        "red": {
          "format": "float",
          "type": "number",
          "description": "The red component of the color, from 0.0 to 1.0."
        }
      },
      "id": "RgbColor",
      "type": "object",
      "description": "An RGB color."
    },
    "EmbeddedObjectBorderSuggestionState": {
      "id": "EmbeddedObjectBorderSuggestionState",
      "properties": {
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        },
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        },
        "colorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to color."
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "SheetsChartReferenceSuggestionState": {
      "type": "object",
      "properties": {
        "chartIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to chart_id."
        },
        "spreadsheetIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to spreadsheet_id."
        }
      },
      "id": "SheetsChartReferenceSuggestionState",
      "description": "A mask that indicates which of the fields on the base SheetsChartReference have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "InlineObjectProperties": {
      "type": "object",
      "id": "InlineObjectProperties",
      "description": "Properties of an InlineObject.",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this inline object.",
          "$ref": "EmbeddedObject"
        }
      }
    },
    "WriteControl": {
      "type": "object",
      "description": "Provides control over how write requests are executed.",
      "properties": {
        "targetRevisionId": {
          "type": "string",
          "description": "The optional target revision ID of the document the write request is applied to. If collaborator changes have occurred after the document was read using the API, the changes produced by this write request are applied against the collaborator changes. This results in a new revision of the document that incorporates both the collaborator changes and the changes in the request, with the Docs server resolving conflicting changes. When using target revision ID, the API client can be thought of as another collaborator of the document. The target revision ID can only be used to write to recent versions of a document. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 bad request error. The request should be tried again after retrieving the latest version of the document. Usually a revision ID remains valid for use as a target revision for several minutes after it's read, but for frequently edited documents this window might be shorter."
        },
        "requiredRevisionId": {
          "description": "The optional revision ID of the document the write request is applied to. If this is not the latest revision of the document, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied.",
          "type": "string"
        }
      },
      "id": "WriteControl"
    },
    "Paragraph": {
      "properties": {
        "positionedObjectIds": {
          "type": "array",
          "description": "The IDs of the positioned objects tethered to this paragraph.",
          "items": {
            "type": "string"
          }
        },
        "suggestedPositionedObjectIds": {
          "description": "The IDs of the positioned objects suggested to be attached to this paragraph, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ObjectReferences"
          }
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The style of this paragraph."
        },
        "bullet": {
          "$ref": "Bullet",
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list."
        },
        "suggestedParagraphStyleChanges": {
          "type": "object",
          "description": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          }
        },
        "elements": {
          "items": {
            "$ref": "ParagraphElement"
          },
          "type": "array",
          "description": "The content of the paragraph, broken down into its component parts."
        },
        "suggestedBulletChanges": {
          "type": "object",
          "description": "The suggested changes to this paragraph's bullet.",
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          }
        }
      },
      "type": "object",
      "description": "A StructuralElement representing a paragraph. A paragraph is a range of content that's terminated with a newline character.",
      "id": "Paragraph"
    },
    "SizeSuggestionState": {
      "properties": {
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "heightSuggested": {
          "description": "Indicates if there was a suggested change to height.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "id": "SizeSuggestionState"
    },
    "TableCell": {
      "description": "The contents and style of a cell in a Table.",
      "id": "TableCell",
      "properties": {
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "content": {
          "description": "The content of the cell.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        },
        "startIndex": {
          "description": "The zero-based start index of this cell, in UTF-16 code units.",
          "format": "int32",
          "type": "integer"
        },
        "suggestedTableCellStyleChanges": {
          "type": "object",
          "description": "The suggested changes to the table cell style, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          }
        },
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units."
        }
      },
      "type": "object"
    },
    "InsertSectionBreakRequest": {
      "properties": {
        "sectionType": {
          "description": "The type of section to insert.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ]
        },
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts a newline and a section break at the end of the document body. Section breaks cannot be inserted inside a footnote, header or footer. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "location": {
          "description": "Inserts a newline and a section break at a specific index in the document. The section break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Section breaks cannot be inserted inside a table, equation, footnote, header, or footer. Since section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Location"
        }
      },
      "description": "Inserts a section break at the given location. A newline character will be inserted before the section break.",
      "type": "object",
      "id": "InsertSectionBreakRequest"
    },
    "PinTableHeaderRowsRequest": {
      "type": "object",
      "description": "Updates the number of pinned table header rows in a table.",
      "id": "PinTableHeaderRowsRequest",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        },
        "pinnedHeaderRowsCount": {
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SuggestedTableCellStyle": {
      "type": "object",
      "properties": {
        "tableCellStyle": {
          "$ref": "TableCellStyle",
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values."
        },
        "tableCellStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion.",
          "$ref": "TableCellStyleSuggestionState"
        }
      },
      "description": "A suggested change to a TableCellStyle.",
      "id": "SuggestedTableCellStyle"
    },
    "NamedStyleSuggestionState": {
      "description": "A suggestion state of a NamedStyle message.",
      "id": "NamedStyleSuggestionState",
      "properties": {
        "namedStyleType": {
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ],
          "description": "The named style type that this suggestion state corresponds to. This field is provided as a convenience for matching the NamedStyleSuggestionState with its corresponding NamedStyle.",
          "type": "string"
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "paragraphStyleSuggestionState": {
          "$ref": "ParagraphStyleSuggestionState",
          "description": "A mask that indicates which of the fields in paragraph style have been changed in this suggestion."
        }
      },
      "type": "object"
    },
    "CreateFooterRequest": {
      "type": "object",
      "description": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of footer to create.",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ]
        },
        "sectionBreakLocation": {
          "description": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style.",
          "$ref": "Location"
        }
      },
      "id": "CreateFooterRequest"
    },
    "InsertPageBreakRequest": {
      "id": "InsertPageBreakRequest",
      "description": "Inserts a page break followed by a newline at the specified location.",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "location": {
          "description": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Location"
        }
      },
      "type": "object"
    },
    "DocumentStyleSuggestionState": {
      "id": "DocumentStyleSuggestionState",
      "properties": {
        "pageSizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        },
        "backgroundSuggestionState": {
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion.",
          "$ref": "BackgroundSuggestionState"
        },
        "useEvenPageHeaderFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_even_page_header_footer."
        },
        "flipPageOrientationSuggested": {
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
          "type": "boolean"
        },
        "evenPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to even_page_footer_id."
        },
        "firstPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to first_page_header_id.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "defaultFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_footer_id."
        },
        "marginRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_right."
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "pageNumberStartSuggested": {
          "description": "Indicates if there was a suggested change to page_number_start.",
          "type": "boolean"
        },
        "useFirstPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_first_page_header_footer.",
          "type": "boolean"
        },
        "evenPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to even_page_header_id."
        },
        "marginHeaderSuggested": {
          "description": "Indicates if there was a suggested change to margin_header.",
          "type": "boolean"
        },
        "defaultHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_header_id."
        },
        "firstPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_footer_id."
        },
        "marginLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_left."
        },
        "marginFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_footer."
        },
        "useCustomHeaderFooterMarginsSuggested": {
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "Link": {
      "properties": {
        "headingId": {
          "type": "string",
          "description": "The ID of a heading in this document."
        },
        "url": {
          "type": "string",
          "description": "An external URL."
        },
        "bookmarkId": {
          "description": "The ID of a bookmark in this document.",
          "type": "string"
        }
      },
      "description": "A reference to another portion of a document or an external URL resource.",
      "id": "Link",
      "type": "object"
    },
    "Response": {
      "description": "A single response from an update.",
      "properties": {
        "insertInlineImage": {
          "$ref": "InsertInlineImageResponse",
          "description": "The result of inserting an inline image."
        },
        "insertInlineSheetsChart": {
          "$ref": "InsertInlineSheetsChartResponse",
          "description": "The result of inserting an inline Google Sheets chart."
        },
        "createHeader": {
          "$ref": "CreateHeaderResponse",
          "description": "The result of creating a header."
        },
        "createNamedRange": {
          "description": "The result of creating a named range.",
          "$ref": "CreateNamedRangeResponse"
        },
        "replaceAllText": {
          "description": "The result of replacing text.",
          "$ref": "ReplaceAllTextResponse"
        },
        "createFootnote": {
          "description": "The result of creating a footnote.",
          "$ref": "CreateFootnoteResponse"
        },
        "createFooter": {
          "$ref": "CreateFooterResponse",
          "description": "The result of creating a footer."
        }
      },
      "type": "object",
      "id": "Response"
    },
    "TableRowStyle": {
      "id": "TableRowStyle",
      "properties": {
        "preventOverflow": {
          "description": "Whether the row cannot overflow across page or column boundaries.",
          "type": "boolean"
        },
        "tableHeader": {
          "type": "boolean",
          "description": "Whether the row is a table header."
        },
        "minRowHeight": {
          "description": "The minimum height of the row. The row will be rendered in the Docs editor at a height equal to or greater than this value in order to show all the content in the row's cells.",
          "$ref": "Dimension"
        }
      },
      "type": "object",
      "description": "Styles that apply to a table row."
    },
    "Dimension": {
      "description": "A magnitude in a single direction in the specified units.",
      "type": "object",
      "properties": {
        "unit": {
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ],
          "description": "The units for magnitude.",
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ]
        },
        "magnitude": {
          "description": "The magnitude.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "Dimension"
    },
    "EmbeddedObjectSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "EmbeddedObjectSuggestionState",
      "properties": {
        "imagePropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion.",
          "$ref": "ImagePropertiesSuggestionState"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "linkedContentReferenceSuggestionState": {
          "$ref": "LinkedContentReferenceSuggestionState",
          "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion."
        },
        "descriptionSuggested": {
          "description": "Indicates if there was a suggested change to description.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "titleSuggested": {
          "description": "Indicates if there was a suggested change to title.",
          "type": "boolean"
        },
        "embeddedDrawingPropertiesSuggestionState": {
          "$ref": "EmbeddedDrawingPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion."
        },
        "sizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "embeddedObjectBorderSuggestionState": {
          "$ref": "EmbeddedObjectBorderSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion."
        },
        "marginTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_top."
        }
      },
      "type": "object"
    },
    "InsertTableRequest": {
      "type": "object",
      "id": "InsertTableRequest",
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table.",
      "properties": {
        "rows": {
          "description": "The number of rows in the table.",
          "type": "integer",
          "format": "int32"
        },
        "endOfSegmentLocation": {
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation.",
          "$ref": "Location"
        },
        "columns": {
          "type": "integer",
          "format": "int32",
          "description": "The number of columns in the table."
        }
      }
    },
    "SheetsChartReference": {
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        },
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that's embedded.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SheetsChartReference",
      "description": "A reference to a linked chart embedded from Google Sheets."
    },
    "HorizontalRule": {
      "properties": {
        "suggestedDeletionIds": {
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID."
        },
        "textStyle": {
[...]
