{
  "title": "Google Docs API",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Reads and writes Google Docs documents.",
  "discoveryVersion": "v1",
  "canonicalName": "Docs",
  "schemas": {
    "Shading": {
      "type": "object",
      "description": "The shading of a paragraph.",
      "id": "Shading",
      "properties": {
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of this paragraph shading."
        }
      }
    },
    "Bullet": {
      "type": "object",
      "id": "Bullet",
      "properties": {
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        },
        "nestingLevel": {
          "type": "integer",
          "description": "The nesting level of this paragraph in the list.",
          "format": "int32"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph-specific text style applied to this bullet."
        }
      },
      "description": "Describes the bullet of a paragraph."
    },
    "DeleteHeaderRequest": {
      "type": "object",
      "description": "Deletes a Header from the document.",
      "id": "DeleteHeaderRequest",
      "properties": {
        "headerId": {
          "description": "The id of the header to delete. If this header is defined on DocumentStyle, the reference to this header is removed, resulting in no header of that type for the first section of the document. If this header is defined on a SectionStyle, the reference to this header is removed and the header of that type is now continued from the previous section.",
          "type": "string"
        }
      }
    },
    "Person": {
      "id": "Person",
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this Person."
        },
        "suggestedInsertionIds": {
          "type": "array",
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "personProperties": {
          "$ref": "PersonProperties",
          "description": "Output only. The properties of this Person. This field is always present.",
          "readOnly": true
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this Person, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "personId": {
          "description": "Output only. The unique ID of this link.",
          "readOnly": true,
          "type": "string"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion."
        }
      },
      "type": "object"
    },
    "InlineObjectPropertiesSuggestionState": {
      "id": "InlineObjectPropertiesSuggestionState",
      "type": "object",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "Dimension": {
      "type": "object",
      "properties": {
        "magnitude": {
          "description": "The magnitude.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ],
          "type": "string",
          "description": "The units for magnitude.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ]
        }
      },
      "description": "A magnitude in a single direction in the specified units.",
      "id": "Dimension"
    },
    "List": {
      "id": "List",
      "type": "object",
      "description": "A List represents the list attributes for a group of paragraphs that all belong to the same list. A paragraph that's part of a list has a reference to the list's ID in its bullet.",
      "properties": {
        "listProperties": {
          "description": "The properties of the list.",
          "$ref": "ListProperties"
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "suggestedListPropertiesChanges": {
          "additionalProperties": {
            "$ref": "SuggestedListProperties"
          },
          "type": "object",
          "description": "The suggested changes to the list properties, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this list.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "ListPropertiesSuggestionState",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "format": "int32",
          "description": "The number of occurrences changed by replacing all text."
        }
      },
      "type": "object",
      "description": "The result of replacing text.",
      "id": "ReplaceAllTextResponse"
    },
    "DocumentStyle": {
      "description": "The style of the document.",
      "id": "DocumentStyle",
      "properties": {
        "marginTop": {
          "description": "The top page margin. Updating the top page margin on the document style clears the top page margin on all section styles.",
          "$ref": "Dimension"
        },
        "background": {
          "$ref": "Background",
          "description": "The background of the document. Documents cannot have a transparent background color."
        },
        "useFirstPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the first page header / footer IDs for the first page."
        },
        "evenPageHeaderId": {
          "description": "The ID of the header used only for even pages. The value of use_even_page_header_footer determines whether to use the default_header_id or this value for the header on even pages. If not set, there's no even page header. This property is read-only.",
          "type": "string"
        },
        "firstPageFooterId": {
          "description": "The ID of the footer used only for the first page. If not set then a unique footer for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_footer_id or this value for the footer on the first page. If not set, there's no first page footer. This property is read-only.",
          "type": "string"
        },
        "defaultFooterId": {
          "type": "string",
          "description": "The ID of the default footer. If not set, there's no default footer. This property is read-only."
        },
        "marginFooter": {
          "$ref": "Dimension",
          "description": "The amount of space between the bottom of the page and the contents of the footer."
        },
        "pageSize": {
          "description": "The size of a page in the document.",
          "$ref": "Size"
        },
        "pageNumberStart": {
          "format": "int32",
          "description": "The page number from which to start counting the number of pages.",
          "type": "integer"
        },
        "defaultHeaderId": {
          "type": "string",
          "description": "The ID of the default header. If not set, there's no default header. This property is read-only."
        },
        "useCustomHeaderFooterMargins": {
          "description": "Indicates whether DocumentStyle margin_header, SectionStyle margin_header and DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the default values in the Docs editor for header and footer margin are used. This property is read-only.",
          "type": "boolean"
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page. If not set then a unique header for the first page does not exist. The value of use_first_page_header_footer determines whether to use the default_header_id or this value for the header on the first page. If not set, there's no first page header. This property is read-only.",
          "type": "string"
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right page margin. Updating the right page margin on the document style clears the right page margin on all section styles. It may also cause columns to resize in all sections."
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom page margin. Updating the bottom page margin on the document style clears the bottom page margin on all section styles."
        },
        "marginLeft": {
          "description": "The left page margin. Updating the left page margin on the document style clears the left page margin on all section styles. It may also cause columns to resize in all sections.",
          "$ref": "Dimension"
        },
        "useEvenPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the even page header / footer IDs for the even pages."
        },
        "evenPageFooterId": {
          "description": "The ID of the footer used only for even pages. The value of use_even_page_header_footer determines whether to use the default_footer_id or this value for the footer on even pages. If not set, there's no even page footer. This property is read-only.",
          "type": "string"
        },
        "marginHeader": {
          "description": "The amount of space between the top of the page and the contents of the header.",
          "$ref": "Dimension"
        }
      },
      "type": "object"
    },
    "NestingLevel": {
      "type": "object",
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "id": "NestingLevel",
      "properties": {
        "glyphFormat": {
          "description": "The format string used by bullets at this level of nesting. The glyph format contains one or more placeholders, and these placeholders are replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are optional and can be arbitrary strings. For example, the glyph format `%0.` indicates that the rendered glyph will replace the placeholder with the corresponding glyph for nesting level 0 followed by a period as the suffix. So a list with a glyph type of UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current nesting level as well as placeholders for parent nesting levels. For example, a list can have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels that are ordered, the string that replaces a placeholder in the glyph format for a particular paragraph depends on the paragraph's order within the list.",
          "type": "string"
        },
        "startNumber": {
          "description": "The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1, lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs.",
          "format": "int32",
          "type": "integer"
        },
        "glyphType": {
          "description": "The type of glyph used by bullets when paragraphs at this level of nesting are ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to list item's order within the list.",
          "enumDescriptions": [
            "The glyph type is unspecified or unsupported.",
            "An empty string.",
            "A number, like `1`, `2`, or `3`.",
            "A number where single digit numbers are prefixed with a zero, like `01`, `02`, or `03`. Numbers with more than one digit are not prefixed with a zero.",
            "An uppercase letter, like `A`, `B`, or `C`.",
            "A lowercase letter, like `a`, `b`, or `c`.",
            "An uppercase Roman numeral, like `I`, `II`, or `III`.",
            "A lowercase Roman numeral, like `i`, `ii`, or `iii`."
          ],
          "type": "string",
          "enum": [
            "GLYPH_TYPE_UNSPECIFIED",
            "NONE",
            "DECIMAL",
            "ZERO_DECIMAL",
            "UPPER_ALPHA",
            "ALPHA",
            "UPPER_ROMAN",
            "ROMAN"
          ]
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of paragraphs at this level of nesting."
        },
        "bulletAlignment": {
          "type": "string",
          "enum": [
            "BULLET_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "description": "The alignment of the bullet within the space allotted for rendering the bullet.",
          "enumDescriptions": [
            "The bullet alignment is unspecified.",
            "The bullet is aligned to the start of the space allotted for rendering the bullet. Left-aligned for LTR text, right-aligned otherwise.",
            "The bullet is aligned to the center of the space allotted for rendering the bullet.",
            "The bullet is aligned to the end of the space allotted for rendering the bullet. Right-aligned for LTR text, left-aligned otherwise."
          ]
        },
        "glyphSymbol": {
          "description": "A custom glyph symbol used by bullets when paragraphs at this level of nesting are unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle.",
          "type": "string"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of bullets at this level of nesting."
        },
        "indentStart": {
          "$ref": "Dimension",
          "description": "The amount of indentation for paragraphs at this level of nesting. Applied to the side that corresponds to the start of the text, based on the paragraph's content direction."
        }
      }
    },
    "BackgroundSuggestionState": {
      "id": "BackgroundSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base Background have been changed in this suggestion. For any field set to true, the Backgound has a new suggested value.",
      "properties": {
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates whether the current background color has been modified in this suggestion."
        }
      }
    },
    "Response": {
      "id": "Response",
      "properties": {
        "createFooter": {
          "description": "The result of creating a footer.",
          "$ref": "CreateFooterResponse"
        },
        "createHeader": {
          "description": "The result of creating a header.",
          "$ref": "CreateHeaderResponse"
        },
        "createNamedRange": {
          "$ref": "CreateNamedRangeResponse",
          "description": "The result of creating a named range."
        },
        "insertInlineSheetsChart": {
          "description": "The result of inserting an inline Google Sheets chart.",
          "$ref": "InsertInlineSheetsChartResponse"
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextResponse",
          "description": "The result of replacing text."
        },
        "insertInlineImage": {
          "description": "The result of inserting an inline image.",
          "$ref": "InsertInlineImageResponse"
        },
        "createFootnote": {
          "$ref": "CreateFootnoteResponse",
          "description": "The result of creating a footnote."
        }
      },
      "type": "object",
      "description": "A single response from an update."
    },
    "SuggestedTableRowStyle": {
      "properties": {
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "A TableRowStyle that only includes the changes made in this suggestion. This can be used along with the table_row_style_suggestion_state to see which fields have changed and their new values."
        },
        "tableRowStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion.",
          "$ref": "TableRowStyleSuggestionState"
        }
      },
      "description": "A suggested change to a TableRowStyle.",
      "type": "object",
      "id": "SuggestedTableRowStyle"
    },
    "Location": {
      "type": "object",
      "description": "A particular location in the document.",
      "properties": {
        "segmentId": {
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body.",
          "type": "string"
        },
        "index": {
          "format": "int32",
          "description": "The zero-based index, in UTF-16 code units. The index is relative to the beginning of the segment specified by segment_id.",
          "type": "integer"
        }
      },
      "id": "Location"
    },
    "Footer": {
      "properties": {
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the footer. The indexes for a footer's content begin at zero.",
          "type": "array"
        },
        "footerId": {
          "description": "The ID of the footer.",
          "type": "string"
        }
      },
      "description": "A document footer.",
      "type": "object",
      "id": "Footer"
    },
    "SuggestedDocumentStyle": {
      "type": "object",
      "description": "A suggested change to the DocumentStyle.",
      "id": "SuggestedDocumentStyle",
      "properties": {
        "documentStyleSuggestionState": {
          "$ref": "DocumentStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion."
        },
        "documentStyle": {
          "description": "A DocumentStyle that only includes the changes made in this suggestion. This can be used along with the document_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "DocumentStyle"
        }
      }
    },
    "EmbeddedObjectSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObject have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "titleSuggested": {
          "description": "Indicates if there was a suggested change to title.",
          "type": "boolean"
        },
        "descriptionSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to description."
        },
        "embeddedObjectBorderSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_object_border have been changed in this suggestion.",
          "$ref": "EmbeddedObjectBorderSuggestionState"
        },
        "imagePropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in image_properties have been changed in this suggestion.",
          "$ref": "ImagePropertiesSuggestionState"
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "embeddedDrawingPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_drawing_properties have been changed in this suggestion.",
          "$ref": "EmbeddedDrawingPropertiesSuggestionState"
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "linkedContentReferenceSuggestionState": {
          "$ref": "LinkedContentReferenceSuggestionState",
          "description": "A mask that indicates which of the fields in linked_content_reference have been changed in this suggestion."
        },
        "sizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        }
      },
      "id": "EmbeddedObjectSuggestionState",
      "type": "object"
    },
    "TableStyle": {
      "id": "TableStyle",
      "properties": {
        "tableColumnProperties": {
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style.",
          "items": {
            "$ref": "TableColumnProperties"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Styles that apply to a table."
    },
    "SuggestedListProperties": {
      "description": "A suggested change to ListProperties.",
      "id": "SuggestedListProperties",
      "type": "object",
      "properties": {
        "listPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion.",
          "$ref": "ListPropertiesSuggestionState"
        },
        "listProperties": {
          "description": "A ListProperties that only includes the changes made in this suggestion. This can be used along with the list_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "ListProperties"
        }
      }
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "properties": {},
      "type": "object",
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "EmbeddedDrawingPropertiesSuggestionState"
    },
    "ParagraphStyleSuggestionState": {
      "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "pageBreakBeforeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to page_break_before."
        },
        "borderBetweenSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_between."
        },
        "shadingSuggestionState": {
          "$ref": "ShadingSuggestionState",
          "description": "A mask that indicates which of the fields in shading have been changed in this suggestion."
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        },
        "headingIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to heading_id."
        },
        "keepWithNextSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to keep_with_next."
        },
        "borderLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_left."
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        },
        "avoidWidowAndOrphanSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to avoid_widow_and_orphan."
        },
        "spacingModeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to spacing_mode."
        },
        "lineSpacingSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to line_spacing."
        },
        "indentEndSuggested": {
          "description": "Indicates if there was a suggested change to indent_end.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "indentStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_start."
        },
        "keepLinesTogetherSuggested": {
          "description": "Indicates if there was a suggested change to keep_lines_together.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "spaceAboveSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to space_above."
        },
        "spaceBelowSuggested": {
          "description": "Indicates if there was a suggested change to space_below.",
          "type": "boolean"
        },
        "directionSuggested": {
          "description": "Indicates if there was a suggested change to direction.",
          "type": "boolean"
        },
        "namedStyleTypeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to named_style_type."
        },
        "alignmentSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to alignment."
        }
      },
      "type": "object",
      "id": "ParagraphStyleSuggestionState"
    },
    "HorizontalRule": {
      "type": "object",
      "description": "A ParagraphElement representing a horizontal line.",
      "properties": {
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object",
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it."
        }
      },
      "id": "HorizontalRule"
    },
    "InsertSectionBreakRequest": {
      "type": "object",
      "properties": {
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "description": "The type of section to insert.",
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ]
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts a newline and a section break at a specific index in the document. The section break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Section breaks cannot be inserted inside a table, equation, footnote, header, or footer. Since section breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "endOfSegmentLocation": {
          "description": "Inserts a newline and a section break at the end of the document body. Section breaks cannot be inserted inside a footnote, header or footer. Because section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        }
      },
      "description": "Inserts a section break at the given location. A newline character will be inserted before the section break.",
      "id": "InsertSectionBreakRequest"
    },
    "PositionedObjectProperties": {
      "description": "Properties of a PositionedObject.",
      "type": "object",
      "id": "PositionedObjectProperties",
      "properties": {
        "positioning": {
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object.",
          "$ref": "PositionedObjectPositioning"
        },
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        }
      }
    },
    "WeightedFontFamily": {
      "id": "WeightedFontFamily",
      "type": "object",
      "properties": {
        "fontFamily": {
          "type": "string",
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`."
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight."
        }
      },
      "description": "Represents a font family and weight of text."
    },
    "ImagePropertiesSuggestionState": {
      "id": "ImagePropertiesSuggestionState",
      "properties": {
        "sourceUriSuggested": {
          "description": "Indicates if there was a suggested change to source_uri.",
          "type": "boolean"
        },
        "cropPropertiesSuggestionState": {
          "$ref": "CropPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion."
        },
        "transparencySuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to transparency."
        },
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "contentUriSuggested": {
          "description": "Indicates if there was a suggested change to content_uri.",
          "type": "boolean"
        },
        "contrastSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to contrast."
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "Size": {
      "description": "A width and height.",
      "type": "object",
      "id": "Size",
      "properties": {
        "width": {
          "description": "The width of the object.",
          "$ref": "Dimension"
        },
        "height": {
          "$ref": "Dimension",
          "description": "The height of the object."
        }
      }
    },
    "Range": {
      "properties": {
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based end index of this range, exclusive, in UTF-16 code units. In all current uses, an end index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges."
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this range, in UTF-16 code units. In all current uses, a start index must be provided. This field is an Int32Value in order to accommodate future use cases with open-ended ranges.",
          "format": "int32"
        },
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer, or footnote that this range is contained in. An empty segment ID signifies the document's body."
        }
      },
      "description": "Specifies a contiguous range of text.",
      "id": "Range",
      "type": "object"
    },
    "InsertInlineImageRequest": {
      "type": "object",
      "description": "Inserts an InlineObject containing an image at the given location.",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote.",
          "$ref": "EndOfSegmentLocation"
        },
        "uri": {
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI can be at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field.",
          "type": "string"
        },
        "objectSize": {
          "$ref": "Size",
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio."
        },
        "location": {
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation.",
          "$ref": "Location"
        }
      },
      "id": "InsertInlineImageRequest"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "properties": {
        "propertyStateSuggested": {
          "description": "Indicates if there was a suggested change to property_state.",
          "type": "boolean"
        },
        "colorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to color."
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "dashStyleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to dash_style."
        }
      },
      "id": "EmbeddedObjectBorderSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "SuggestedNamedStyles": {
      "properties": {
        "namedStylesSuggestionState": {
          "$ref": "NamedStylesSuggestionState",
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion."
        },
        "namedStyles": {
          "description": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values.",
          "$ref": "NamedStyles"
        }
      },
      "description": "A suggested change to the NamedStyles.",
      "id": "SuggestedNamedStyles",
      "type": "object"
    },
    "Footnote": {
      "type": "object",
      "description": "A document footnote.",
      "id": "Footnote",
      "properties": {
        "footnoteId": {
          "description": "The ID of the footnote.",
          "type": "string"
        },
        "content": {
          "type": "array",
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      }
    },
    "Body": {
      "type": "object",
      "id": "Body",
      "properties": {
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array",
          "description": "The contents of the body. The indexes for the body's content begin at zero."
        }
      },
      "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes."
    },
    "SuggestedPositionedObjectProperties": {
      "description": "A suggested change to PositionedObjectProperties.",
      "properties": {
        "positionedObjectPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion.",
          "$ref": "PositionedObjectPropertiesSuggestionState"
        },
        "positionedObjectProperties": {
          "$ref": "PositionedObjectProperties",
          "description": "A PositionedObjectProperties that only includes the changes made in this suggestion. This can be used along with the positioned_object_properties_suggestion_state to see which fields have changed and their new values."
        }
      },
      "id": "SuggestedPositionedObjectProperties",
      "type": "object"
    },
    "PinTableHeaderRowsRequest": {
      "id": "PinTableHeaderRowsRequest",
      "description": "Updates the number of pinned table header rows in a table.",
      "type": "object",
      "properties": {
        "pinnedHeaderRowsCount": {
          "type": "integer",
          "description": "The number of table rows to pin, where 0 implies that all rows are unpinned.",
          "format": "int32"
        },
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        }
      }
    },
    "ObjectReferences": {
      "type": "object",
      "id": "ObjectReferences",
      "properties": {
        "objectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The object IDs."
        }
      },
      "description": "A collection of object IDs."
    },
    "InsertTableRequest": {
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the table at the end of the given header, footer or document body. A newline character will be inserted before the inserted table. Tables cannot be inserted inside a footnote."
        },
        "columns": {
          "description": "The number of columns in the table.",
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the table at a specific model index. A newline character will be inserted before the inserted table, therefore the table start index will be at the specified location index + 1. The table must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph). Tables cannot be inserted inside a footnote or equation."
        },
        "rows": {
          "format": "int32",
          "description": "The number of rows in the table.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Inserts a table at the specified location. A newline character will be inserted before the inserted table.",
      "id": "InsertTableRequest"
    },
    "CreateFooterResponse": {
      "description": "The result of creating a footer.",
      "id": "CreateFooterResponse",
      "properties": {
        "footerId": {
          "type": "string",
          "description": "The ID of the created footer."
        }
      },
      "type": "object"
    },
    "PositionedObjectPropertiesSuggestionState": {
      "id": "PositionedObjectPropertiesSuggestionState",
      "properties": {
        "positioningSuggestionState": {
          "description": "A mask that indicates which of the fields in positioning have been changed in this suggestion.",
          "$ref": "PositionedObjectPositioningSuggestionState"
        },
        "embeddedObjectSuggestionState": {
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion.",
          "$ref": "EmbeddedObjectSuggestionState"
        }
      },
      "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "EmbeddedObjectBorder": {
      "id": "EmbeddedObjectBorder",
      "description": "A border around an EmbeddedObject.",
      "type": "object",
      "properties": {
        "propertyState": {
          "description": "The property state of the border property.",
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ],
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ],
          "type": "string"
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the border."
        },
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        },
        "dashStyle": {
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string",
          "description": "The dash style of the border.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ]
        }
      }
    },
    "SubstringMatchCriteria": {
      "id": "SubstringMatchCriteria",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text to search for in the document.",
          "type": "string"
        },
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        }
      },
      "description": "A criteria that matches a specific string of text in the document."
    },
    "InsertInlineImageResponse": {
      "description": "The result of inserting an inline image.",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the created InlineObject."
        }
      },
      "id": "InsertInlineImageResponse"
    },
    "LinkedContentReference": {
      "id": "LinkedContentReference",
      "properties": {
        "sheetsChartReference": {
          "description": "A reference to the linked chart.",
          "$ref": "SheetsChartReference"
        }
      },
      "description": "A reference to the external linked source content.",
      "type": "object"
    },
    "TableColumnProperties": {
      "type": "object",
      "id": "TableColumnProperties",
      "properties": {
        "width": {
          "description": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH.",
          "$ref": "Dimension"
        },
        "widthType": {
          "description": "The width type of the column.",
          "enum": [
            "WIDTH_TYPE_UNSPECIFIED",
            "EVENLY_DISTRIBUTED",
            "FIXED_WIDTH"
          ],
          "enumDescriptions": [
            "The column width type is unspecified.",
            "The column width is evenly distributed among the other evenly distributed columns. The width of the column is automatically determined and will have an equal portion of the width remaining for the table after accounting for all columns with specified widths.",
            "A fixed column width. The width property contains the column's width."
          ],
          "type": "string"
        }
      },
      "description": "The properties of a column in a table."
    },
    "ImageProperties": {
      "properties": {
        "contentUri": {
          "type": "string",
          "description": "A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the account of the requester. Anyone with the URI effectively accesses the image as the original requester. Access to the image may be lost if the document's sharing settings change."
        },
        "transparency": {
          "format": "float",
          "type": "number",
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means transparent."
        },
        "sourceUri": {
          "description": "The source URI is the URI used to insert the image. The source URI can be empty.",
          "type": "string"
        },
        "contrast": {
          "format": "float",
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "type": "number"
        },
        "angle": {
          "type": "number",
          "description": "The clockwise rotation angle of the image, in radians.",
          "format": "float"
        },
        "brightness": {
          "format": "float",
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect.",
          "type": "number"
        },
        "cropProperties": {
          "description": "The crop properties of the image.",
          "$ref": "CropProperties"
        }
      },
      "description": "The properties of an image.",
      "id": "ImageProperties",
      "type": "object"
    },
    "PositionedObject": {
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "id": "PositionedObject",
      "type": "object",
      "properties": {
        "suggestedPositionedObjectPropertiesChanges": {
          "type": "object",
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          }
        },
        "objectId": {
          "description": "The ID of this positioned object.",
          "type": "string"
        },
        "positionedObjectProperties": {
          "description": "The properties of this positioned object.",
          "$ref": "PositionedObjectProperties"
        },
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        }
      }
    },
    "CreateFooterRequest": {
      "id": "CreateFooterRequest",
      "properties": {
        "sectionBreakLocation": {
          "description": "The location of the SectionBreak immediately preceding the section whose SectionStyle this footer should belong to. If this is unset or refers to the first section break in the document, the footer applies to the document style.",
          "$ref": "Location"
        },
        "type": {
          "type": "string",
          "description": "The type of footer to create.",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ]
        }
      },
      "description": "Creates a Footer. The new footer is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a footer of the specified type already exists, a 400 bad request error is returned.",
      "type": "object"
    },
    "ParagraphBorder": {
      "type": "object",
      "id": "ParagraphBorder",
      "description": "A border around a paragraph.",
      "properties": {
        "padding": {
          "$ref": "Dimension",
          "description": "The padding of the border."
        },
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        },
        "dashStyle": {
          "type": "string",
          "description": "The dash style of the border.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ]
        }
      }
    },
    "CropPropertiesSuggestionState": {
      "type": "object",
      "properties": {
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "offsetRightSuggested": {
          "description": "Indicates if there was a suggested change to offset_right.",
          "type": "boolean"
        },
        "offsetTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_top."
        },
        "offsetBottomSuggested": {
          "description": "Indicates if there was a suggested change to offset_bottom.",
          "type": "boolean"
        },
        "offsetLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_left."
        }
      },
      "id": "CropPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "CreateFootnoteRequest": {
      "id": "CreateFootnoteRequest",
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.",
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "Location"
        }
      }
    },
    "UpdateTableRowStyleRequest": {
      "properties": {
        "tableStartLocation": {
          "$ref": "Location",
          "description": "The location where the table starts in the document."
        },
        "tableRowStyle": {
          "description": "The styles to be set on the rows.",
          "$ref": "TableRowStyle"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "rowIndices": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The list of zero-based row indices whose style should be updated. If no indices are specified, all rows will be updated."
        }
      },
      "id": "UpdateTableRowStyleRequest",
      "description": "Updates the TableRowStyle of rows in a table.",
      "type": "object"
    },
    "ReplaceNamedRangeContentRequest": {
      "properties": {
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range whose content will be replaced. If there is no named range with the given ID a 400 bad request error is returned."
        },
        "text": {
          "type": "string",
          "description": "Replaces the content of the specified named range(s) with the given text."
        },
        "namedRangeName": {
          "type": "string",
          "description": "The name of the NamedRanges whose content will be replaced. If there are multiple named ranges with the given name, then the content of each one will be replaced. If there are no named ranges with the given name, then the request will be a no-op."
        }
      },
      "description": "Replaces the contents of the specified NamedRange or NamedRanges with the given replacement content. Note that an individual NamedRange may consist of multiple discontinuous ranges. In this case, only the content in the first range will be replaced. The other ranges and their content will be deleted. In cases where replacing or deleting any ranges would result in an invalid document structure, a 400 bad request error is returned.",
      "type": "object",
      "id": "ReplaceNamedRangeContentRequest"
    },
    "SuggestedTableCellStyle": {
      "id": "SuggestedTableCellStyle",
      "properties": {
        "tableCellStyle": {
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableCellStyle"
        },
        "tableCellStyleSuggestionState": {
          "$ref": "TableCellStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion."
        }
      },
      "type": "object",
      "description": "A suggested change to a TableCellStyle."
    },
    "NestingLevelSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "indentStartSuggested": {
          "description": "Indicates if there was a suggested change to indent_start.",
          "type": "boolean"
        },
        "glyphTypeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_type."
        },
        "startNumberSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to start_number."
        },
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        },
        "bulletAlignmentSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to bullet_alignment."
        },
        "glyphSymbolSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_symbol."
        },
        "glyphFormatSuggested": {
          "description": "Indicates if there was a suggested change to glyph_format.",
          "type": "boolean"
        }
      },
      "id": "NestingLevelSuggestionState"
    },
    "TableCell": {
      "properties": {
        "suggestedTableCellStyleChanges": {
          "description": "The suggested changes to the table cell style, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          },
          "type": "object"
        },
        "endIndex": {
          "type": "integer",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units.",
          "format": "int32"
        },
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the cell.",
          "type": "array"
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        },
        "startIndex": {
          "format": "int32",
          "description": "The zero-based start index of this cell, in UTF-16 code units.",
          "type": "integer"
        }
      },
      "id": "TableCell",
      "description": "The contents and style of a cell in a Table.",
      "type": "object"
    },
    "InsertTextRequest": {
      "id": "InsertTextRequest",
      "properties": {
        "endOfSegmentLocation": {
          "$ref": "EndOfSegmentLocation",
          "description": "Inserts the text at the end of a header, footer, footnote or the document body."
        },
        "location": {
          "description": "Inserts the text at a specific index in the document. Text must be inserted inside the bounds of an existing Paragraph. For instance, text cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). The text must be inserted in the preceding paragraph.",
          "$ref": "Location"
        },
        "text": {
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new Paragraph at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text style for the inserted text will match the text immediately before the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.",
          "type": "string"
        }
      },
      "description": "Inserts text at the specified location.",
      "type": "object"
    },
    "ColumnBreak": {
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "type": "array",
          "description": "The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          }
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object",
          "description": "The suggested text style changes to this ColumnBreak, keyed by suggestion ID."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this ColumnBreak. Similar to text content, like text runs and footnote references, the text style of a column break can affect content layout as well as the styling of text inserted next to it."
        }
      },
      "description": "A ParagraphElement representing a column break. A column break makes the subsequent text start at the top of the next column.",
      "id": "ColumnBreak"
    },
    "UpdateParagraphStyleRequest": {
      "description": "Update the styling of all paragraphs that overlap with the given range.",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range overlapping the paragraphs to style."
        },
        "paragraphStyle": {
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information.",
          "$ref": "ParagraphStyle"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "id": "UpdateParagraphStyleRequest"
    },
    "CreateNamedRangeResponse": {
      "id": "CreateNamedRangeResponse",
      "description": "The result of creating a named range.",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InsertTableColumnRequest": {
      "type": "object",
      "description": "Inserts an empty column into a table.",
      "properties": {
        "insertRight": {
          "type": "boolean",
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left."
        },
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell."
        }
      },
      "id": "InsertTableColumnRequest"
    },
    "LinkedContentReferenceSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base LinkedContentReference have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "sheetsChartReferenceSuggestionState": {
          "description": "A mask that indicates which of the fields in sheets_chart_reference have been changed in this suggestion.",
          "$ref": "SheetsChartReferenceSuggestionState"
        }
      },
      "id": "LinkedContentReferenceSuggestionState"
    },
    "EmbeddedDrawingProperties": {
      "properties": {},
      "id": "EmbeddedDrawingProperties",
      "type": "object",
      "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported."
    },
    "UpdateSectionStyleRequest": {
      "properties": {
        "sectionStyle": {
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information.",
          "$ref": "SectionStyle"
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`."
        },
        "range": {
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "Range"
        }
      },
      "type": "object",
      "id": "UpdateSectionStyleRequest",
      "description": "Updates the SectionStyle."
    },
    "TableCellBorder": {
      "properties": {
        "width": {
          "description": "The width of the border.",
          "$ref": "Dimension"
        },
        "color": {
          "description": "The color of the border. This color cannot be transparent.",
          "$ref": "OptionalColor"
        },
        "dashStyle": {
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border.",
          "type": "string"
        }
      },
      "description": "A border around a table cell. Table cell borders cannot be transparent. To hide a table cell border, make its width 0.",
      "id": "TableCellBorder",
      "type": "object"
    },
    "BatchUpdateDocumentResponse": {
      "description": "Response message from a BatchUpdateDocument request.",
      "properties": {
        "replies": {
          "type": "array",
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "items": {
            "$ref": "Response"
          }
        },
        "documentId": {
          "description": "The ID of the document to which the updates were applied to.",
          "type": "string"
        },
        "writeControl": {
          "description": "The updated write control after applying the request.",
          "$ref": "WriteControl"
        }
      },
      "id": "BatchUpdateDocumentResponse",
      "type": "object"
    },
    "Paragraph": {
      "type": "object",
      "id": "Paragraph",
      "description": "A StructuralElement representing a paragraph. A paragraph is a range of content that's terminated with a newline character.",
      "properties": {
        "suggestedBulletChanges": {
          "description": "The suggested changes to this paragraph's bullet.",
          "additionalProperties": {
            "$ref": "SuggestedBullet"
          },
          "type": "object"
        },
        "suggestedPositionedObjectIds": {
          "additionalProperties": {
            "$ref": "ObjectReferences"
          },
          "description": "The IDs of the positioned objects suggested to be attached to this paragraph, keyed by suggestion ID.",
          "type": "object"
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "The style of this paragraph."
        },
        "suggestedParagraphStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedParagraphStyle"
          },
          "description": "The suggested paragraph style changes to this paragraph, keyed by suggestion ID.",
          "type": "object"
        },
        "bullet": {
          "$ref": "Bullet",
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list."
        },
        "elements": {
          "type": "array",
          "description": "The content of the paragraph, broken down into its component parts.",
          "items": {
            "$ref": "ParagraphElement"
          }
        },
        "positionedObjectIds": {
          "description": "The IDs of the positioned objects tethered to this paragraph.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateParagraphBulletsRequest": {
      "description": "Creates bullets for all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.",
      "properties": {
        "range": {
          "description": "The range to apply the bullet preset to.",
          "$ref": "Range"
        },
        "bulletPreset": {
          "enumDescriptions": [
            "The bullet glyph preset is unspecified.",
            "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
            "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `DECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by parenthesis.",
            "A numbered list with `DECIMAL` numeric glyphs separated by periods, where each nesting level uses the previous nesting level's glyph as a prefix. For example: '1.', '1.1.', '2.', '2.2.'.",
            "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DECIMAL` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `ZERODECIMAL`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods."
          ],
          "description": "The kinds of bullet glyphs to be used.",
          "enum": [
            "BULLET_GLYPH_PRESET_UNSPECIFIED",
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DECIMAL_ALPHA_ROMAN",
            "NUMBERED_DECIMAL_ALPHA_ROMAN_PARENS",
            "NUMBERED_DECIMAL_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DECIMAL",
            "NUMBERED_ZERODECIMAL_ALPHA_ROMAN"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateParagraphBulletsRequest"
    },
    "SectionStyle": {
      "properties": {
        "contentDirection": {
          "type": "string",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ],
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginFooter": {
          "$ref": "Dimension",
          "description": "The footer margin of the section. If unset, the value defaults to margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginLeft": {
          "description": "The left page margin of the section. If unset, the value defaults to margin_left from DocumentStyle. Updating the left margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "boolean"
        },
        "marginRight": {
          "description": "The right page margin of the section. If unset, the value defaults to margin_right from DocumentStyle. Updating the right margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "defaultFooterId": {
          "type": "string",
          "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. This property is read-only."
        },
        "columnProperties": {
          "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error.",
          "items": {
            "$ref": "SectionColumnProperties"
          },
          "type": "array"
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top page margin of the section. If unset, the value defaults to margin_top from DocumentStyle. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "columnSeparatorStyle": {
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ],
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ],
          "description": "The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "string"
        },
        "firstPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. This property is read-only."
        },
        "evenPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. This property is read-only."
        },
        "pageNumberStart": {
          "type": "integer",
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "format": "int32"
        },
        "sectionType": {
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "type": "string",
          "description": "Output only. The type of section."
        },
        "evenPageFooterId": {
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. This property is read-only.",
          "type": "string"
        },
        "marginBottom": {
          "description": "The bottom page margin of the section. If unset, the value defaults to margin_bottom from DocumentStyle. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "marginHeader": {
          "$ref": "Dimension",
          "description": "The header margin of the section. If unset, the value defaults to margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "firstPageFooterId": {
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. This property is read-only.",
          "type": "string"
        },
        "defaultHeaderId": {
          "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. This property is read-only.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SectionStyle",
      "description": "The styling that applies to a section."
    },
    "CreateHeaderResponse": {
      "description": "The result of creating a header.",
      "type": "object",
      "properties": {
        "headerId": {
          "type": "string",
          "description": "The ID of the created header."
        }
      },
      "id": "CreateHeaderResponse"
    },
    "DeleteTableColumnRequest": {
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted.",
          "$ref": "TableCellLocation"
        }
      },
      "type": "object",
      "description": "Deletes a column from a table.",
      "id": "DeleteTableColumnRequest"
    },
    "InlineObjectProperties": {
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this inline object.",
          "$ref": "EmbeddedObject"
        }
      },
      "type": "object",
      "description": "Properties of an InlineObject.",
      "id": "InlineObjectProperties"
    },
    "ShadingSuggestionState": {
      "type": "object",
      "properties": {
        "backgroundColorSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the Shading."
        }
      },
      "id": "ShadingSuggestionState",
      "description": "A mask that indicates which of the fields on the base Shading have been changed in this suggested change. For any field set to true, there's a new suggested value."
    },
    "EmbeddedObject": {
      "description": "An embedded object in the document.",
      "type": "object",
      "id": "EmbeddedObject",
      "properties": {
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        },
        "description": {
          "type": "string",
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text."
        },
        "linkedContentReference": {
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked.",
          "$ref": "LinkedContentReference"
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom margin of the embedded object."
        },
        "embeddedDrawingProperties": {
          "description": "The properties of an embedded drawing.",
          "$ref": "EmbeddedDrawingProperties"
        },
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "embeddedObjectBorder": {
          "description": "The border of the embedded object.",
          "$ref": "EmbeddedObjectBorder"
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top margin of the embedded object."
        },
        "title": {
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "marginRight": {
          "description": "The right margin of the embedded object.",
          "$ref": "Dimension"
        },
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The properties of an image."
        }
      }
    },
    "OptionalColor": {
      "id": "OptionalColor",
      "type": "object",
      "description": "A color that can either be fully opaque or fully transparent.",
      "properties": {
        "color": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "Color"
        }
      }
    },
    "SuggestedBullet": {
      "description": "A suggested change to a Bullet.",
      "properties": {
        "bulletSuggestionState": {
          "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion.",
          "$ref": "BulletSuggestionState"
        },
        "bullet": {
          "$ref": "Bullet",
          "description": "A Bullet that only includes the changes made in this suggestion. This can be used along with the bullet_suggestion_state to see which fields have changed and their new values."
        }
      },
      "id": "SuggestedBullet",
      "type": "object"
    },
    "InsertTableRowRequest": {
      "properties": {
        "insertBelow": {
          "type": "boolean",
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell."
        },
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell."
        }
      },
      "id": "InsertTableRowRequest",
      "description": "Inserts an empty row into a table.",
      "type": "object"
    },
    "StructuralElement": {
      "id": "StructuralElement",
      "description": "A StructuralElement describes content that provides structure to the document.",
      "properties": {
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based end index of this structural element, exclusive, in UTF-16 code units."
        },
        "tableOfContents": {
          "$ref": "TableOfContents",
          "description": "A table of contents type of structural element."
        },
        "sectionBreak": {
          "$ref": "SectionBreak",
          "description": "A section break type of structural element."
        },
        "paragraph": {
          "$ref": "Paragraph",
          "description": "A paragraph type of structural element."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based start index of this structural element, in UTF-16 code units."
        },
        "table": {
          "$ref": "Table",
          "description": "A table type of structural element."
        }
      },
      "type": "object"
    },
    "NamedRanges": {
      "type": "object",
      "id": "NamedRanges",
      "description": "A collection of all the NamedRanges in the document that share a given name.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name that all the named ranges share."
        },
        "namedRanges": {
          "items": {
            "$ref": "NamedRange"
          },
          "description": "The NamedRanges that share the same name.",
          "type": "array"
        }
      }
    },
    "CreateHeaderRequest": {
      "properties": {
        "sectionBreakLocation": {
          "$ref": "Location",
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle"
        },
        "type": {
          "description": "The type of header to create.",
          "type": "string",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ]
        }
      },
      "type": "object",
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned.",
      "id": "CreateHeaderRequest"
    },
    "BatchUpdateDocumentRequest": {
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "description": "A list of updates to apply to the document.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchUpdateDocumentRequest",
      "description": "Request message for BatchUpdateDocument."
    },
    "TableCellStyle": {
      "description": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style.",
      "type": "object",
      "properties": {
        "rowSpan": {
          "description": "The row span of the cell. This property is read-only.",
          "type": "integer",
          "format": "int32"
        },
        "contentAlignment": {
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ],
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "type": "string"
        },
        "paddingLeft": {
          "description": "The left padding of the cell.",
          "$ref": "Dimension"
        },
        "paddingRight": {
          "description": "The right padding of the cell.",
          "$ref": "Dimension"
        },
        "borderTop": {
          "description": "The top border of the cell.",
          "$ref": "TableCellBorder"
        },
        "borderBottom": {
          "$ref": "TableCellBorder",
[...]
