{
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "documentai:v1",
  "basePath": "",
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "servicePath": "",
  "schemas": {
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "properties": {
        "questionId": {
          "description": "The Crowd Compute question ID.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "description": "Used only when Operation.done is false.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata",
      "description": "The long-running operation metadata for the ReviewDocument method."
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchor": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
        },
        "textSegments": {
          "description": "The text segments from the Document.text.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchor",
      "description": "Text reference indexing into the Document.text.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse": {
      "properties": {
        "outputConfig": {
          "description": "The output location of the parsed responses. The responses are written to this location as JSON-serialized `Document` objects.",
          "$ref": "GoogleCloudDocumentaiV1beta1OutputConfig"
        },
        "inputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta1InputConfig",
          "description": "Information about the input file. This is the same as the corresponding input config in the request."
        }
      },
      "type": "object",
      "description": "Response to a single document processing request.",
      "id": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId": {
      "type": "object",
      "description": "Identifies a document uniquely within the scope of a dataset in unmanaged option.",
      "properties": {
        "docId": {
          "description": "Required. The id of the document.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId"
    },
    "GoogleCloudDocumentaiV1EnableProcessorRequest": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EnableProcessorRequest",
      "description": "Request message for the EnableProcessor method.",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1DocumentPageVisualElement": {
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page.",
      "type": "object",
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        },
        "type": {
          "description": "Type of the VisualElement.",
          "type": "string"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for VisualElement."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageVisualElement"
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata": {
      "description": "Metadata of the auto-labeling documents operation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "totalDocumentCount": {
          "format": "int32",
          "description": "Total number of the auto-labeling documents.",
          "type": "integer"
        },
        "individualAutoLabelStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus"
          },
          "description": "The list of individual auto-labeling statuses of the dataset documents.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent": {
      "description": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations.",
      "properties": {
        "revision": {
          "description": "The index of the index into current revision's parent_ids list.",
          "type": "integer",
          "format": "int32"
        },
        "index": {
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "type": "integer",
          "description": "The id of the parent provenance.",
          "format": "int32",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent"
    },
    "GoogleCloudDocumentaiV1DocumentPageLayout": {
      "id": "GoogleCloudDocumentaiV1DocumentPageLayout",
      "type": "object",
      "description": "Visual element describing a layout unit on a page.",
      "properties": {
        "boundingPoly": {
          "description": "The bounding polygon for the Layout.",
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly"
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor"
        },
        "orientation": {
          "description": "Detected orientation for the Layout.",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ]
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the current Layout within context of the object this layout is for. e.g. confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadata",
      "description": "The metadata that represents a processor version being created.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "testDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation",
          "description": "The test dataset validation information."
        },
        "trainingDatasetValidation": {
          "description": "The training dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation"
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat": {
      "type": "object",
      "description": "The statistic representing a dataset split type for this export.",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat",
      "properties": {
        "splitType": {
          "type": "string",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "description": "The dataset split type.",
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ]
        },
        "totalDocumentCount": {
          "format": "int32",
          "description": "Total number of documents with the given dataset split type to be exported.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageLine": {
      "type": "object",
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc.",
      "properties": {
        "provenance": {
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
          "description": "The history of this annotation."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for Line."
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageLine"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDetectedBarcode": {
      "properties": {
        "barcode": {
          "description": "Detailed barcode information of the DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta2Barcode"
        },
        "layout": {
          "description": "Layout for DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        }
      },
      "description": "A detected barcode.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedBarcode",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageMatrix": {
      "properties": {
        "cols": {
          "description": "Number of columns in the matrix.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html",
          "type": "integer",
          "format": "int32"
        },
        "rows": {
          "type": "integer",
          "format": "int32",
          "description": "Number of rows in the matrix."
        },
        "data": {
          "description": "The matrix data.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageMatrix",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageImage": {
      "type": "object",
      "description": "Rendered image contents for this page.",
      "properties": {
        "height": {
          "description": "Height of the image in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "mimeType": {
          "type": "string",
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image."
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Width of the image in pixels."
        },
        "content": {
          "description": "Raw byte content of the image.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageImage"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageSymbol": {
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for Symbol."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageSymbol",
      "description": "A detected symbol."
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse",
      "properties": {
        "processorVersion": {
          "description": "The resource name of the processor version produced by training.",
          "type": "string"
        }
      },
      "description": "The response for TrainProcessorVersion.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentEntityNormalizedValue": {
      "properties": {
        "dateValue": {
          "$ref": "GoogleTypeDate",
          "description": "Date value. Includes year, month, day. See also: https://github.com/googleapis/googleapis/blob/master/google/type/date.proto"
        },
        "moneyValue": {
          "description": "Money value. See also: https://github.com/googleapis/googleapis/blob/master/google/type/money.proto",
          "$ref": "GoogleTypeMoney"
        },
        "floatValue": {
          "format": "float",
          "description": "Float value.",
          "type": "number"
        },
        "addressValue": {
          "$ref": "GoogleTypePostalAddress",
          "description": "Postal address. See also: https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean value. Can be used for entities with binary values, or for checkboxes."
        },
        "integerValue": {
          "type": "integer",
          "format": "int32",
          "description": "Integer value."
        },
        "datetimeValue": {
          "description": "DateTime value. Includes date, time, and timezone. See also: https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto",
          "$ref": "GoogleTypeDateTime"
        },
        "text": {
          "type": "string",
          "description": "Optional. An optional field to store a normalized string. For some entity types, one of respective `structured_value` fields may also be populated. Also not all the types of `structured_value` will be normalized. For example, some processors may not generate `float` or `integer` normalized text by default. Below are sample formats mapped to structured values. - Money/Currency type (`money_value`) is in the ISO 4217 text format. - Date type (`date_value`) is in the ISO 8601 text format. - Datetime type (`datetime_value`) is in the ISO 8601 text format."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentEntityNormalizedValue",
      "description": "Parsed and normalized entity value."
    },
    "GoogleCloudDocumentaiV1NormalizedVertex": {
      "id": "GoogleCloudDocumentaiV1NormalizedVertex",
      "type": "object",
      "properties": {
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "y": {
          "format": "float",
          "description": "Y coordinate (starts from the top of the image).",
          "type": "number"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for updating the human review configuration.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata"
    },
    "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview": {
      "description": "Human Review information of the document.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview",
      "type": "object",
      "properties": {
        "state": {
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`.",
          "type": "string"
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`."
        }
      }
    },
    "GoogleCloudDocumentaiV1EnableProcessorResponse": {
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EnableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata",
      "description": "The long-running operation metadata for the ImportProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata for the long-running operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak": {
      "id": "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "description": "Detected break type."
        }
      },
      "type": "object",
      "description": "Detected break at the end of a Token."
    },
    "GoogleCloudDocumentaiV1Evaluation": {
      "properties": {
        "allEntitiesMetrics": {
          "description": "Metrics for all the entities in aggregate.",
          "$ref": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics"
        },
        "createTime": {
          "description": "The time that the evaluation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "entityMetrics": {
          "description": "Metrics across confidence levels, for different entities.",
          "additionalProperties": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics"
          },
          "type": "object"
        },
        "name": {
          "description": "The resource name of the evaluation. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}/evaluations/{evaluation}`",
          "type": "string"
        },
        "documentCounters": {
          "description": "Counters for the documents used in the evaluation.",
          "$ref": "GoogleCloudDocumentaiV1EvaluationCounters"
        },
        "kmsKeyVersionName": {
          "type": "string",
          "description": "The KMS key version with which data is encrypted."
        },
        "kmsKeyName": {
          "description": "The KMS key name used for encryption.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An evaluation of a ProcessorVersion's performance.",
      "id": "GoogleCloudDocumentaiV1Evaluation"
    },
    "GoogleCloudDocumentaiV1beta3CommonOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
      "description": "The common metadata for long running operations.",
      "properties": {
        "createTime": {
          "description": "The creation time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        },
        "state": {
          "description": "The state of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "type": "string"
        },
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadata": {
      "type": "object",
      "properties": {
        "individualBatchUpdateStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadataIndividualBatchUpdateStatus"
          }
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadata"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell": {
      "type": "object",
      "description": "A cell representation inside the table.",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "description": "Layout for TableCell.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "rowSpan": {
          "type": "integer",
          "format": "int32",
          "description": "How many rows this cell spans."
        },
        "colSpan": {
          "type": "integer",
          "description": "How many columns this cell spans.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell"
    },
    "GoogleCloudDocumentaiV1beta1BoundingPoly": {
      "description": "A bounding polygon for the detected image annotation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1BoundingPoly",
      "properties": {
        "vertices": {
          "description": "The bounding polygon vertices.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1Vertex"
          },
          "type": "array"
        },
        "normalizedVertices": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageBlock": {
      "properties": {
        "layout": {
          "description": "Layout for Block.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "provenance": {
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
          "description": "The history of this annotation."
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageBlock",
      "type": "object",
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
    },
    "GoogleCloudDocumentaiV1DocumentPageLine": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageLine",
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc.",
      "properties": {
        "provenance": {
          "description": "The history of this annotation.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "layout": {
          "description": "Layout for Line.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentRevision": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentRevision",
      "description": "Contains past or forward revisions of this document.",
      "properties": {
        "parentIds": {
          "items": {
            "type": "string"
          },
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Id of the revision, internally generated by doc proto storage. Unique within the context of the document."
        },
        "humanReview": {
          "description": "Human Review information of this revision.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview"
        },
        "createTime": {
          "type": "string",
          "description": "The time that the revision was created, internally generated by doc proto storage at the time of create.",
          "format": "google-datetime"
        },
        "processor": {
          "type": "string",
          "description": "If the annotation was made by processor identify the processor by its resource name."
        },
        "parent": {
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "deprecated": true
        },
        "agent": {
          "description": "If the change was made by a person specify the name or id of that person.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1InputConfig": {
      "id": "GoogleCloudDocumentaiV1beta1InputConfig",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDocumentaiV1beta1GcsSource",
          "description": "The Google Cloud Storage location to read the input from. This must be a single file."
        },
        "mimeType": {
          "type": "string",
          "description": "Required. Mimetype of the input. Current supported mimetypes are application/pdf, image/tiff, and image/gif. In addition, application/json type is supported for requests with ProcessDocumentRequest.automl_params field set. The JSON file needs to be in Document format."
        }
      },
      "description": "The desired input location and metadata.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ProcessorVersionAlias": {
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The resource name of aliased processor version."
        },
        "alias": {
          "description": "The alias in the form of `processor_version` resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains the alias and the aliased resource name of processor version.",
      "id": "GoogleCloudDocumentaiV1ProcessorVersionAlias"
    },
    "GoogleCloudDocumentaiV1beta2GcsDestination": {
      "description": "The Google Cloud Storage location where the output file will be written to.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2GcsDestination"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak": {
      "description": "Detected break at the end of a Token.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "description": "Detected break type.",
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ]
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak"
    },
    "GoogleCloudDocumentaiV1ProcessorVersion": {
      "id": "GoogleCloudDocumentaiV1ProcessorVersion",
      "type": "object",
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
      "properties": {
        "documentSchema": {
          "description": "The schema of the processor version. Describes the output.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema"
        },
        "latestEvaluation": {
          "$ref": "GoogleCloudDocumentaiV1EvaluationReference",
          "description": "The most recently invoked evaluation for the processor version."
        },
        "googleManaged": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google."
        },
        "name": {
          "description": "The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the processor version.",
          "type": "string"
        },
        "deprecationInfo": {
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersionDeprecationInfo",
          "description": "If set, information about the eventual deprecation of this version."
        },
        "state": {
          "description": "The state of the processor version.",
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ],
          "type": "string"
        },
        "kmsKeyVersionName": {
          "type": "string",
          "description": "The KMS key version with which data is encrypted."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The KMS key name used for encryption."
        },
        "createTime": {
          "description": "The time the processor version was created.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse": {
      "id": "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse",
      "description": "Response to an batch document processing request. This is returned in the LRO Operation after the operation is complete.",
      "properties": {
        "responses": {
          "type": "array",
          "description": "Responses for each individual document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentSchemaMetadata": {
      "type": "object",
      "properties": {
        "documentAllowMultipleLabels": {
          "type": "boolean",
          "description": "If true, on a given page, there can be multiple `document` annotations covering it."
        },
        "documentSplitter": {
          "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification).",
          "type": "boolean"
        },
        "skipNamingValidation": {
          "type": "boolean",
          "description": "If set, we will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked."
        },
        "prefixedNamingOnProperties": {
          "type": "boolean",
          "description": "If set, all the nested entities must be prefixed with the parents."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentSchemaMetadata",
      "description": "Metadata for global schema behavior."
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "individualBatchDeleteStatuses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "description": "The list of response details of each document."
        },
        "totalDocumentCount": {
          "format": "int32",
          "description": "Total number of documents deleting from dataset.",
          "type": "integer"
        },
        "errorDocumentCount": {
          "format": "int32",
          "description": "Total number of documents that failed to be deleted in storage.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionResponse": {
      "description": "The response for TrainProcessorVersion.",
      "type": "object",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The resource name of the processor version produced by training."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DocumentPageTable": {
      "type": "object",
      "properties": {
        "bodyRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "type": "array",
          "description": "Body rows of the table."
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "layout": {
          "description": "Layout for Table.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "description": "Header rows of the table.",
          "type": "array"
        },
        "provenance": {
          "deprecated": true,
          "description": "The history of this table.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        }
      },
      "description": "A table representation similar to HTML table structure.",
      "id": "GoogleCloudDocumentaiV1DocumentPageTable"
    },
    "GoogleCloudDocumentaiV1GcsDocument": {
      "id": "GoogleCloudDocumentaiV1GcsDocument",
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "The Cloud Storage object uri.",
          "type": "string"
        },
        "mimeType": {
          "description": "An IANA MIME type (RFC6838) of the content.",
          "type": "string"
        }
      },
      "description": "Specifies a document stored on Cloud Storage."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageAnchor": {
      "properties": {
        "pageRefs": {
          "description": "One or more references to visual page elements",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef"
          }
        }
      },
      "type": "object",
      "description": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageAnchor"
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata",
      "description": "Metadata of the sample documents operation."
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntityRelation": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "Object entity id.",
          "type": "string"
        },
        "subjectId": {
          "description": "Subject entity id.",
          "type": "string"
        },
        "relation": {
          "description": "Relationship description.",
          "type": "string"
        }
      },
      "description": "Relationship between Entities.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation"
    },
    "GoogleCloudDocumentaiV1beta2DocumentRevision": {
      "description": "Contains past or forward revisions of this document.",
      "properties": {
        "parentIds": {
          "type": "array",
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Id of the revision, internally generated by doc proto storage. Unique within the context of the document.",
          "type": "string"
        },
        "parent": {
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "deprecated": true
        },
        "agent": {
          "description": "If the change was made by a person specify the name or id of that person.",
          "type": "string"
        },
        "createTime": {
          "description": "The time that the revision was created, internally generated by doc proto storage at the time of create.",
          "type": "string",
          "format": "google-datetime"
        },
        "humanReview": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview",
          "description": "Human Review information of this revision."
        },
        "processor": {
          "type": "string",
          "description": "If the annotation was made by processor identify the processor by its resource name."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentRevision",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId": {
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
      "type": "object",
      "properties": {
        "cwDocId": {
          "description": "Id of the document (indexed) managed by Content Warehouse.",
          "type": "string",
          "deprecated": true
        },
        "gcsUri": {
          "type": "string",
          "description": "Required. The Cloud Storage URI where the actual document is stored."
        }
      }
    },
    "GoogleCloudDocumentaiV1BatchProcessResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1BatchProcessResponse",
      "description": "Response message for BatchProcessDocuments."
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionResponse": {
      "type": "object",
      "description": "Response message for the UndeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig": {
      "properties": {
        "gcsPrefix": {
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix",
          "description": "Required. The Cloud Storage URI (a directory) where the documents belonging to the dataset must be stored."
        }
      },
      "type": "object",
      "description": "Configuration specific to the Cloud Storage-based implementation.",
      "id": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDetectedBarcode": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedBarcode",
      "description": "A detected barcode.",
      "type": "object",
      "properties": {
        "layout": {
          "description": "Layout for DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "barcode": {
          "description": "Detailed barcode information of the DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta1Barcode"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessor method."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTable": {
      "type": "object",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "provenance": {
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "description": "The history of this table."
        },
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow"
          },
          "description": "Header rows of the table.",
          "type": "array"
        },
        "layout": {
          "description": "Layout for Table.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "bodyRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow"
          },
          "description": "Body rows of the table."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTable",
      "description": "A table representation similar to HTML table structure."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the VisualElement."
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for VisualElement."
        }
      },
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page."
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata",
      "description": "The long-running operation metadata for DeleteLabelerPool."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageFormField": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageFormField",
      "description": "A form field detected on the page.",
      "properties": {
        "valueType": {
          "type": "string",
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`"
        },
        "nameDetectedLanguages": {
          "type": "array",
          "description": "A list of detected languages for name together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "description": "The history of this annotation."
        },
        "fieldValue": {
          "description": "Layout for the FormField value.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "correctedKeyText": {
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction.",
          "type": "string"
        },
        "fieldName": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for the FormField name. e.g. `Address`, `Email`, `Grand total`, `Phone number`, etc."
        },
        "correctedValueText": {
          "type": "string",
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction."
        },
        "valueDetectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for value together with confidence."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2OperationMetadata": {
      "id": "GoogleCloudDocumentaiV1beta2OperationMetadata",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "The state of the current batch processing.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request is received.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ]
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Contains metadata for the BatchProcessDocuments operation."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for UpdateLabelerPool.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ProcessorType": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ProcessorType",
      "properties": {
        "launchStage": {
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "Launch stage of the processor type"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the processor type. Format: `projects/{project}/processorTypes/{processor_type}`"
        },
        "sampleDocumentUris": {
          "items": {
            "type": "string"
          },
          "description": "A set of Cloud Storage URIs of sample documents for this processor.",
          "type": "array"
        },
        "availableLocations": {
          "type": "array",
          "description": "The locations in which this processor is available.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo"
          }
        },
        "category": {
          "type": "string",
          "description": "The processor category, used by UI to group processor types."
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`."
        },
        "allowCreation": {
          "description": "Whether the processor type allows creation. If true, users can create a processor of this processor type. Otherwise, users need to request access.",
          "type": "boolean"
        }
      },
      "description": "A processor type is responsible for performing a certain document understanding task on a certain type of document."
    },
    "GoogleCloudDocumentaiV1Barcode": {
      "type": "object",
      "properties": {
        "valueFormat": {
          "type": "string",
          "description": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license."
        },
        "rawValue": {
          "type": "string",
          "description": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`."
        },
        "format": {
          "description": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1Barcode",
      "description": "Encodes the detailed information of a barcode."
    },
    "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef": {
      "description": "Represents a weak reference to a page element within a document.",
      "properties": {
        "layoutId": {
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead.",
          "type": "string",
          "deprecated": true
        },
        "layoutType": {
          "type": "string",
          "description": "Optional. The type of the layout element that is being referenced if any.",
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ],
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ]
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly",
          "description": "Optional. Identifies the bounding polygon of a layout element on the page."
        },
        "page": {
          "type": "string",
          "format": "int64",
          "description": "Required. Index into the Document.pages element, for example using `Document.pages` to locate the related page element. This field is skipped when its value is the default `0`. See https://developers.google.com/protocol-buffers/docs/proto3#json."
        },
        "confidence": {
          "description": "Optional. Confidence of detected page element, if applicable. Range `[0, 1]`.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus": {
      "properties": {
        "humanReviewOperation": {
          "type": "string",
          "deprecated": true,
          "description": "The name of the operation triggered by the processed document. If the human review process isn't triggered, this field will be empty. It has the same response type and metadata as the long-running operation returned by the ReviewDocument method."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status processing the document."
        },
        "humanReviewStatus": {
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus",
          "description": "The status of human review on the processed document."
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started."
        }
      },
      "description": "The status of a each individual document in the batch process.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata",
      "description": "Metadata of the import document operation.",
      "properties": {
        "totalDocumentCount": {
          "description": "Total number of the documents that are qualified for importing.",
          "type": "integer",
          "format": "int32"
        },
        "importConfigValidationResults": {
          "type": "array",
          "description": "Validation statuses of the batch documents import config.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult"
          }
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "individualImportStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig": {
      "type": "object",
      "properties": {
        "schema": {
          "readOnly": true,
          "description": "Output only. The schema in Document AI Warehouse associated with the dataset.",
          "type": "string"
        },
        "collection": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The collection in Document AI Warehouse associated with the dataset."
        }
      },
      "description": "Configuration specific to the Document AI Warehouse-based implementation.",
      "id": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig"
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionRequest": {
      "type": "object",
      "description": "Request message for the UndeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionRequest",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "properties": {
        "status": {
          "description": "The validation status of import config.",
          "$ref": "GoogleRpcStatus"
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI specified in the import config."
        }
      },
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document.",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ListProcessorTypesResponse": {
      "id": "GoogleCloudDocumentaiV1ListProcessorTypesResponse",
      "type": "object",
      "properties": {
        "processorTypes": {
          "description": "The processor types.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Points to the next page, otherwise empty.",
          "type": "string"
        }
      },
      "description": "Response message for the ListProcessorTypes method."
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse": {
      "description": "Response message for the UndeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ProcessResponse": {
      "description": "Response message for the ProcessDocument method.",
      "id": "GoogleCloudDocumentaiV1ProcessResponse",
      "type": "object",
      "properties": {
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1HumanReviewStatus"
        },
        "document": {
          "$ref": "GoogleCloudDocumentaiV1Document",
          "description": "The document payload, will populate fields based on the processor's behavior."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageDimension": {
      "properties": {
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        },
        "width": {
          "type": "number",
          "format": "float",
          "description": "Page width."
        },
        "height": {
          "format": "float",
          "description": "Page height.",
          "type": "number"
        }
      },
      "description": "Dimension for the page.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageDimension"
    },
    "GoogleCloudDocumentaiV1beta3DatasetSpannerIndexingConfig": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DatasetSpannerIndexingConfig",
      "properties": {},
      "description": "Configuration specific to spanner-based indexing."
    },
    "GoogleCloudDocumentaiV1beta2OutputConfig": {
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location to write the output to.",
          "$ref": "GoogleCloudDocumentaiV1beta2GcsDestination"
        },
        "pagesPerShard": {
          "format": "int32",
          "description": "The max number of pages to include into each output Document shard JSON on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 parsed pages will be produced. If `pages_per_shard` = 20, then 5 Document shard JSON files each containing 20 parsed pages will be written under the prefix OutputConfig.gcs_destination.uri and suffix pages-x-to-y.json where x and y are 1-indexed page numbers. Example GCS outputs with 157 pages and pages_per_shard = 50: pages-001-to-050.json pages-051-to-100.json pages-101-to-150.json pages-151-to-157.json",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2OutputConfig",
      "type": "object",
      "description": "The desired output location and metadata."
    },
    "GoogleCloudDocumentaiV1BatchDocumentsInputConfig": {
      "description": "The common config to specify a set of documents used as input.",
      "properties": {
        "gcsDocuments": {
          "$ref": "GoogleCloudDocumentaiV1GcsDocuments",
          "description": "The set of documents individually specified on Cloud Storage."
        },
        "gcsPrefix": {
          "$ref": "GoogleCloudDocumentaiV1GcsPrefix",
          "description": "The set of documents that match the specified Cloud Storage `gcs_prefix`."
        }
      },
      "id": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak",
      "type": "object",
      "description": "Detected break at the end of a Token.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "description": "Detected break type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextChange": {
      "description": "This message is used for text changes aka. OCR corrections.",
      "properties": {
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index."
        },
        "provenance": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
          },
          "deprecated": true,
          "description": "The history of this annotation."
        },
        "changedText": {
          "type": "string",
          "description": "The text that replaces the text identified in the `text_anchor`."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextChange",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1OperationMetadata": {
      "description": "Contains metadata for the BatchProcessDocuments operation.",
      "id": "GoogleCloudDocumentaiV1beta1OperationMetadata",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request is received.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "type": "string",
          "description": "The state of the current batch processing."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus",
      "description": "The status of each individual document in the import process.",
      "properties": {
        "status": {
          "description": "The status of the importing of the document.",
          "$ref": "GoogleRpcStatus"
        },
        "outputDocumentId": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId",
          "description": "The document id of imported document if it was successful, otherwise empty."
        },
        "inputGcsSource": {
          "description": "The source Cloud Storage URI of the document.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageBlock": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageBlock",
      "type": "object",
      "properties": {
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "deprecated": true
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "layout": {
          "description": "Layout for Block.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        }
      },
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse",
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiV1EvaluationReference": {
      "type": "object",
      "properties": {
        "aggregateMetricsExact": {
          "$ref": "GoogleCloudDocumentaiV1EvaluationMetrics",
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off."
        },
        "operation": {
          "type": "string",
          "description": "The resource name of the Long Running Operation for the evaluation."
        },
        "evaluation": {
          "type": "string",
          "description": "The resource name of the evaluation."
        },
        "aggregateMetrics": {
          "$ref": "GoogleCloudDocumentaiV1EvaluationMetrics",
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on."
        }
      },
      "id": "GoogleCloudDocumentaiV1EvaluationReference",
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself."
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntity": {
      "properties": {
        "textAnchor": {
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
        },
        "mentionText": {
          "type": "string",
          "description": "Optional. Text value of the entity e.g. `1600 Amphitheatre Pkwy`."
        },
        "redacted": {
          "description": "Optional. Whether the entity will be redacted for de-identification purposes.",
          "type": "boolean"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "description": "Optional. The history of this annotation."
        },
        "type": {
          "type": "string",
          "description": "Required. Entity type from a schema e.g. `Address`."
        },
        "properties": {
          "type": "array",
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntity"
          }
        },
        "pageAnchor": {
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageAnchor"
        },
        "confidence": {
          "description": "Optional. Confidence of detected Schema entity. Range `[0, 1]`.",
          "format": "float",
          "type": "number"
        },
        "mentionId": {
          "description": "Optional. Deprecated. Use `id` field instead.",
          "type": "string"
        },
        "normalizedValue": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue",
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (e.g. address) is not supported for certain parsers. This field is also only populated for certain supported document types."
        },
        "id": {
          "type": "string",
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntity",
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPage": {
      "type": "object",
      "description": "A page in a Document.",
      "properties": {
        "symbols": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageSymbol"
          },
          "type": "array",
          "description": "A list of visually detected symbols on the page."
        },
        "tables": {
          "type": "array",
          "description": "A list of visually detected tables on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTable"
          }
        },
        "transforms": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageMatrix"
          },
          "type": "array",
          "description": "Transformation matrices that were applied to the original document image to produce Page.image."
        },
        "visualElements": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement"
          },
          "type": "array",
          "description": "A list of detected non-text visual elements e.g. checkbox, signature etc. on the page."
        },
        "dimension": {
          "description": "Physical dimension of the page.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDimension"
        },
        "blocks": {
          "type": "array",
          "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageBlock"
          }
        },
        "pageNumber": {
          "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing.",
          "type": "integer",
          "format": "int32"
        },
        "provenance": {
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
          "description": "The history of this page."
        },
        "lines": {
          "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLine"
          },
          "type": "array"
        },
        "paragraphs": {
          "type": "array",
          "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageParagraph"
          }
        },
        "detectedBarcodes": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedBarcode"
          },
          "description": "A list of detected barcodes.",
          "type": "array"
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "imageQualityScores": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScores",
          "description": "Image quality scores."
        },
        "formFields": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageFormField"
          },
          "description": "A list of visually detected form fields on the page.",
          "type": "array"
        },
        "image": {
          "description": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageImage"
        },
        "tokens": {
          "type": "array",
          "description": "A list of visually detected tokens on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageToken"
          }
        },
        "layout": {
          "description": "Layout for the page.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPage"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScores": {
      "description": "Image quality scores for the page image.",
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScores",
      "type": "object",
      "properties": {
        "qualityScore": {
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality.",
          "format": "float",
          "type": "number"
        },
        "detectedDefects": {
          "type": "array",
          "description": "A list of detected defects.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3RevisionRef": {
      "description": "The revision reference specifies which revision on the document to read.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3RevisionRef",
      "properties": {
        "revisionCase": {
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ],
          "description": "Reads the revision by the predefined case."
        },
        "revisionId": {
          "type": "string",
          "description": "Reads the revision given by the id."
        },
        "latestProcessorVersion": {
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview": {
      "type": "object",
      "description": "Human Review information of the document.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus",
      "properties": {
        "documentId": {
          "description": "The document id of the document.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of deleting the document in storage."
        }
      },
      "type": "object",
      "description": "The status of each individual document in the batch delete process."
    },
    "GoogleCloudDocumentaiV1beta1DocumentProvenance": {
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "properties": {
        "id": {
          "description": "The Id of this operation. Needs to be unique within the scope of the revision.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "description": "The type of provenance operation.",
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Updates any fields within the given provenance scope of the message. It overwrites the fields rather than replacing them. Use this when you want to update a field value of an entity without also updating all the child properties.",
            "Currently unused. Replace an element identified by `parent`.",
            "Deprecated. Request human review for the element identified by `parent`.",
            "Deprecated. Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Deprecated. Element is skipped in the validation process."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "UPDATE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ]
        },
        "revision": {
          "deprecated": true,
          "format": "int32",
          "type": "integer",
          "description": "The index of the revision that produced this element."
        },
        "parents": {
          "description": "References to the original elements that are replaced.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1GcsSource": {
      "description": "The Google Cloud Storage location where the input file will be read from.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1GcsSource",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse": {
      "properties": {},
      "type": "object",
      "description": "The response proto of AutoLabelDocuments method.",
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse",
      "description": "Response of the batch move documents operation.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage",
      "type": "object",
      "description": "Detected language for a structural component.",
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of detected language. Range `[0, 1]`."
        },
        "languageCode": {
          "type": "string",
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef": {
      "description": "Represents a weak reference to a page element within a document.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Optional. Confidence of detected page element, if applicable. Range `[0, 1]`.",
          "format": "float"
        },
        "page": {
          "type": "string",
          "description": "Required. Index into the Document.pages element, for example using `Document.pages` to locate the related page element. This field is skipped when its value is the default `0`. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "format": "int64"
        },
        "boundingPoly": {
          "description": "Optional. Identifies the bounding polygon of a layout element on the page.",
          "$ref": "GoogleCloudDocumentaiV1beta1BoundingPoly"
        },
        "layoutType": {
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ],
          "description": "Optional. The type of the layout element that is being referenced if any."
        },
        "layoutId": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionResponse",
      "description": "The response message for the ImportProcessorVersion method.",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The destination processor version name."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentEntityRelation": {
      "type": "object",
      "description": "Relationship between Entities.",
      "id": "GoogleCloudDocumentaiV1DocumentEntityRelation",
      "properties": {
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        },
        "objectId": {
          "description": "Object entity id.",
          "type": "string"
        },
        "relation": {
          "description": "Relationship description.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata": {
      "description": "The long-running operation metadata for the CreateLabelerPool method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata"
    },
    "GoogleCloudDocumentaiV1FetchProcessorTypesResponse": {
      "id": "GoogleCloudDocumentaiV1FetchProcessorTypesResponse",
      "properties": {
        "processorTypes": {
          "description": "The list of processor types.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorType"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the FetchProcessorTypes method."
    },
    "GoogleCloudDocumentaiV1beta2DocumentShardInfo": {
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "properties": {
        "shardCount": {
          "format": "int64",
          "description": "Total number of shards.",
          "type": "string"
        },
        "textOffset": {
          "type": "string",
          "format": "int64",
          "description": "The index of the first character in Document.text in the overall document global text."
        },
        "shardIndex": {
          "description": "The 0-based index of this shard.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentShardInfo"
    },
    "GoogleCloudDocumentaiV1DocumentProvenanceParent": {
      "properties": {
        "index": {
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision.",
          "type": "integer",
          "format": "int32"
        },
[...]
