{
  "servicePath": "",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "rootUrl": "https://documentai.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "revision": "20230609",
  "baseUrl": "https://documentai.googleapis.com/",
  "version": "v1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "id": "documentai.projects.operations.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}"
            }
          }
        },
        "locations": {
          "methods": {
            "fetchProcessorTypes": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDocumentaiV1FetchProcessorTypesResponse"
              },
              "path": "v1/{+parent}:fetchProcessorTypes",
              "description": "Fetches processor types. Note that we don't use ListProcessorTypes here, because it isn't paginated.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:fetchProcessorTypes",
              "id": "documentai.projects.locations.fetchProcessorTypes",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service.",
              "parameterOrder": [
                "name"
              ],
              "id": "documentai.projects.locations.list",
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "id": "documentai.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "processors": {
              "resources": {
                "humanReviewConfig": {
                  "methods": {
                    "reviewDocument": {
                      "path": "v1/{+humanReviewConfig}:reviewDocument",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "humanReviewConfig": {
                          "description": "Required. The resource name of the HumanReviewConfig that the document will be reviewed with.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/humanReviewConfig$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1ReviewDocumentRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "documentai.projects.locations.processors.humanReviewConfig.reviewDocument",
                      "description": "Send a document for Human Review. The input document should be processed by the specified processor.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/humanReviewConfig:reviewDocument",
                      "parameterOrder": [
                        "humanReviewConfig"
                      ]
                    }
                  }
                },
                "processorVersions": {
                  "resources": {
                    "evaluations": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1ListEvaluationsResponse"
                          },
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                              "location": "path",
                              "description": "Required. The resource name of the ProcessorVersion to list evaluations for. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A page token, received from a previous `ListEvaluations` call. Provide this to retrieve the subsequent page."
                            },
                            "pageSize": {
                              "description": "The standard list page size. If unspecified, at most `5` evaluations are returned. The maximum value is `100`. Values above `100` are coerced to `100`.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            }
                          },
                          "description": "Retrieves a set of evaluations for a given processor version.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/evaluations"
                        },
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1Evaluation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations/{evaluationsId}",
                          "description": "Retrieves a specific evaluation.",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The resource name of the Evaluation to get. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}/evaluations/{evaluation}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+/evaluations/[^/]+$"
                            }
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.get",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  },
                  "methods": {
                    "process": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.process",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessResponse"
                      },
                      "httpMethod": "POST",
                      "description": "Processes a single document.",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessRequest"
                      },
                      "path": "v1/{+name}:process",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:process",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "deploy": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:deploy",
                      "parameters": {
                        "name": {
                          "description": "Required. The processor version resource name to be deployed.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}:deploy",
                      "httpMethod": "POST",
                      "description": "Deploys the processor version.",
                      "id": "documentai.projects.locations.processors.processorVersions.deploy",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1DeployProcessorVersionRequest"
                      }
                    },
                    "get": {
                      "id": "documentai.projects.locations.processors.processorVersions.get",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessorVersion"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The processor resource name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a processor version detail."
                    },
                    "undeploy": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:undeploy",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The processor version resource name to be undeployed."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:undeploy",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1UndeployProcessorVersionRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Undeploys the processor version.",
                      "id": "documentai.projects.locations.processors.processorVersions.undeploy",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "description": "Deletes the processor version, all artifacts under the processor version will be deleted.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.delete",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The processor version resource name to be deleted.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}"
                    },
                    "batchProcess": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:batchProcess",
                      "id": "documentai.projects.locations.processors.processorVersions.batchProcess",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1BatchProcessRequest"
                      },
                      "httpMethod": "POST",
                      "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:batchProcess"
                    },
                    "train": {
                      "httpMethod": "POST",
                      "description": "Trains a new processor version. Operation metadata is returned as TrainProcessorVersionMetadata.",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions:train",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent (project, location and processor) to create the new version for. Format: `projects/{project}/locations/{location}/processors/{processor}`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/processorVersions:train",
                      "id": "documentai.projects.locations.processors.processorVersions.train"
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "We will return the processor versions sorted by creation time. The page token will point to the next processor version."
                        },
                        "pageSize": {
                          "description": "The maximum number of processor versions to return. If unspecified, at most `10` processor versions will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "required": true,
                          "description": "Required. The parent (project, location and processor) to list all versions. Format: `projects/{project}/locations/{location}/processors/{processor}`"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/processorVersions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all versions of a processor.",
                      "id": "documentai.projects.locations.processors.processorVersions.list",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ListProcessorVersionsResponse"
                      }
                    },
                    "evaluateProcessorVersion": {
                      "description": "Evaluates a ProcessorVersion against annotated documents, producing an Evaluation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+processorVersion}:evaluateProcessorVersion",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:evaluateProcessorVersion",
                      "parameterOrder": [
                        "processorVersion"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest"
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.evaluateProcessorVersion",
                      "parameters": {
                        "processorVersion": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the ProcessorVersion to evaluate. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
                        }
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "description": "Deletes the processor, unloads all deployed model artifacts if it was enabled and then deletes all artifacts associated with this processor.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The processor resource name to be deleted.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "id": "documentai.projects.locations.processors.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "documentai.projects.locations.processors.list",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListProcessorsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent (project and location) which owns this collection of Processors. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "We will return the processors sorted by creation time. The page token will point to the next processor.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of processors to return. If unspecified, at most `50` processors will be returned. The maximum value is `100`. Values above `100` will be coerced to `100`.",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/processors",
                  "description": "Lists all processors which belong to this project.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "batchProcess": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "documentai.projects.locations.processors.batchProcess",
                  "path": "v1/{+name}:batchProcess",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:batchProcess",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1BatchProcessRequest"
                  },
                  "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  },
                  "description": "Gets a processor detail.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "id": "documentai.projects.locations.processors.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The processor resource name.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors",
                  "path": "v1/{+parent}/processors",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  },
                  "description": "Creates a processor from the ProcessorType provided. The processor will be at `ENABLED` state by default after its creation.",
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.processors.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent (project and location) under which to create the processor. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "process": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:process",
                  "path": "v1/{+name}:process",
                  "id": "documentai.projects.locations.processors.process",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Processes a single document.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "setDefaultProcessorVersion": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:setDefaultProcessorVersion",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "processor"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "processor": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the Processor to change default version."
                    }
                  },
                  "path": "v1/{+processor}:setDefaultProcessorVersion",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionRequest"
                  },
                  "description": "Set the default (active) version of a Processor that will be used in ProcessDocument and BatchProcessDocuments.",
                  "id": "documentai.projects.locations.processors.setDefaultProcessorVersion"
                },
                "disable": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:disable",
                  "description": "Disables a processor",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:disable",
                  "id": "documentai.projects.locations.processors.disable",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The processor resource name to be disabled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1DisableProcessorRequest"
                  }
                },
                "enable": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:enable",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:enable",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true,
                      "description": "Required. The processor resource name to be enabled.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1EnableProcessorRequest"
                  },
                  "description": "Enables a processor",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "documentai.projects.locations.processors.enable",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "documentai.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "documentai.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations$",
                      "required": true
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "id": "documentai.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "processorTypes": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "id": "documentai.projects.locations.processorTypes.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processorTypes/[^/]+$",
                      "description": "Required. The processor type resource name."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processorTypes/{processorTypesId}",
                  "description": "Gets a processor type detail.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessorType"
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "path": "v1/{+parent}/processorTypes",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processorTypes",
                  "description": "Lists the processor types that exist.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListProcessorTypesResponse"
                  },
                  "id": "documentai.projects.locations.processorTypes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of processor types to return. If unspecified, at most `100` processor types will be returned. The maximum value is `500`. Values above `500` will be coerced to `500`."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`."
                    },
                    "pageToken": {
                      "description": "Used to retrieve the next page of results, empty if at the end of the list.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "delete": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "id": "documentai.operations.delete",
          "parameterOrder": [
            "name"
          ],
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource to be deleted."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "documentai",
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "version_module": true,
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "title": "Cloud Document AI API",
  "canonicalName": "Document",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus": {
      "properties": {
        "status": {
          "description": "The status of resyncing the dataset with regards to the detected inconsistency. Empty if `validate_only` is true in the request.",
          "$ref": "GoogleRpcStatus"
        },
        "datasetInconsistencyType": {
          "type": "string",
          "enum": [
            "DATASET_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DATASET_INCONSISTENCY_TYPE_NO_STORAGE_MARKER"
          ],
          "enumDescriptions": [
            "Default value.",
            "The marker file under the dataset folder is not found."
          ],
          "description": "The type of the inconsistency of the dataset."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus",
      "description": "Resync status against inconsistency types on the dataset level."
    },
    "GoogleCloudDocumentaiV1DocumentStyleFontSize": {
      "id": "GoogleCloudDocumentaiV1DocumentStyleFontSize",
      "description": "Font size with unit.",
      "properties": {
        "size": {
          "format": "float",
          "type": "number",
          "description": "Font size for the text."
        },
        "unit": {
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageMatrix": {
      "type": "object",
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
      "properties": {
        "rows": {
          "format": "int32",
          "type": "integer",
          "description": "Number of rows in the matrix."
        },
        "cols": {
          "format": "int32",
          "type": "integer",
          "description": "Number of columns in the matrix."
        },
        "type": {
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html",
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The matrix data."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageMatrix"
    },
    "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Unit for the font size. Follows CSS naming (such as `in`, `px`, and `pt`)."
        },
        "size": {
          "description": "Font size for the text.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Font size with unit."
    },
    "GoogleCloudDocumentaiV1beta2NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "GoogleCloudDocumentaiV1beta2NormalizedVertex",
      "type": "object",
      "properties": {
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        },
        "y": {
          "type": "number",
          "description": "Y coordinate (starts from the top of the image).",
          "format": "float"
        }
      }
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadata": {
      "type": "object",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed."
        },
        "state": {
          "description": "The state of the current batch processing.",
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was being cancelled.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The last update time of the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "individualProcessStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadata",
      "description": "The long-running operation metadata for BatchProcessDocuments."
    },
    "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent": {
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The id of the parent provenance."
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision."
        },
        "revision": {
          "description": "The index of the index into current revision's parent_ids list.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent"
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorResponse": {
      "properties": {},
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata",
      "description": "Metadata of the auto-labeling documents operation.",
      "properties": {
        "individualAutoLabelStatuses": {
          "type": "array",
          "description": "The list of individual auto-labeling statuses of the dataset documents.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus"
          }
        },
        "totalDocumentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of the auto-labeling documents."
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage": {
      "type": "object",
      "description": "Detected language for a structural component.",
      "properties": {
        "confidence": {
          "description": "Confidence of detected language. Range `[0, 1]`.",
          "format": "float",
          "type": "number"
        },
        "languageCode": {
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "description": "The long-running operation metadata for the ReviewDocument method.",
      "properties": {
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        },
        "questionId": {
          "description": "The Crowd Compute question ID.",
          "type": "string"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "description": "Used only when Operation.done is false."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata"
    },
    "GoogleCloudDocumentaiV1ListEvaluationsResponse": {
      "type": "object",
      "properties": {
        "evaluations": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Evaluation"
          },
          "description": "The evaluations requested.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudDocumentaiV1ListEvaluationsResponse",
      "description": "The response from `ListEvaluations`."
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "id": "GoogleTypeMoney",
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentSchemaMetadata": {
      "properties": {
        "documentSplitter": {
          "type": "boolean",
          "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification)."
        },
        "skipNamingValidation": {
          "description": "If set, we will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked.",
          "type": "boolean"
        },
        "prefixedNamingOnProperties": {
          "type": "boolean",
          "description": "If set, all the nested entities must be prefixed with the parents."
        },
        "documentAllowMultipleLabels": {
          "description": "If true, on a given page, there can be multiple `document` annotations covering it.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentSchemaMetadata",
      "type": "object",
      "description": "Metadata for global schema behavior."
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse",
      "description": "The response proto of AutoLabelDocuments method."
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus": {
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus",
      "properties": {
        "outputGcsDestination": {
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty.",
          "type": "string"
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started."
        },
        "humanReviewOperation": {
          "type": "string",
          "description": "The name of the operation triggered by the processed document. If the human review process isn't triggered, this field will be empty. It has the same response type and metadata as the long-running operation returned by the ReviewDocument method."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status processing the document."
        },
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
        }
      },
      "type": "object",
      "description": "The status of a each individual document in the batch process."
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata for the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the ImportProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageMatrix": {
      "properties": {
        "rows": {
          "format": "int32",
          "description": "Number of rows in the matrix.",
          "type": "integer"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The matrix data."
        },
        "cols": {
          "format": "int32",
          "type": "integer",
          "description": "Number of columns in the matrix."
        },
        "type": {
          "type": "integer",
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html",
          "format": "int32"
        }
      },
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageMatrix",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDimension": {
      "properties": {
        "width": {
          "type": "number",
          "format": "float",
          "description": "Page width."
        },
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        },
        "height": {
          "format": "float",
          "type": "number",
          "description": "Page height."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDimension",
      "description": "Dimension for the page.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ListProcessorsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next processor, otherwise empty."
        },
        "processors": {
          "description": "The list of processors.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Processor"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ListProcessorsResponse",
      "description": "Response message for the ListProcessors method."
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata",
      "description": "The long-running operation metadata for the DeleteProcessor method."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageImage": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageImage",
      "description": "Rendered image contents for this page.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Raw byte content of the image.",
          "format": "byte"
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "Width of the image in pixels."
        },
        "height": {
          "type": "integer",
          "description": "Height of the image in pixels.",
          "format": "int32"
        },
        "mimeType": {
          "type": "string",
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScores": {
      "description": "Image quality scores for the page image.",
      "type": "object",
      "properties": {
        "qualityScore": {
          "format": "float",
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality.",
          "type": "number"
        },
        "detectedDefects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect"
          },
          "description": "A list of detected defects."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScores"
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata": {
      "description": "The long-running operation metadata for the EnableProcessor method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1Vertex": {
      "id": "GoogleCloudDocumentaiV1Vertex",
      "properties": {
        "y": {
          "format": "int32",
          "type": "integer",
          "description": "Y coordinate (starts from the top of the image)."
        },
        "x": {
          "type": "integer",
          "description": "X coordinate.",
          "format": "int32"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ProcessRequest": {
      "id": "GoogleCloudDocumentaiV1ProcessRequest",
      "type": "object",
      "properties": {
        "rawDocument": {
          "description": "A raw document content (bytes).",
          "$ref": "GoogleCloudDocumentaiV1RawDocument"
        },
        "inlineDocument": {
          "$ref": "GoogleCloudDocumentaiV1Document",
          "description": "An inline document proto."
        },
        "fieldMask": {
          "description": "Specifies which fields to include in the ProcessResponse.document output. Only supports top-level document and pages field, so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "skipHumanReview": {
          "type": "boolean",
          "description": "Whether human review should be skipped for this request. Default to `false`."
        }
      },
      "description": "Request message for the ProcessDocument method."
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId": {
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
      "properties": {
        "gcsUri": {
          "description": "Required. The Cloud Storage URI where the actual document is stored.",
          "type": "string"
        },
        "cwDocId": {
          "description": "Id of the document (indexed) managed by Content Warehouse.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentRevision": {
      "description": "Contains past or forward revisions of this document.",
      "type": "object",
      "properties": {
        "parentIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field."
        },
        "agent": {
          "type": "string",
          "description": "If the change was made by a person specify the name or id of that person."
        },
        "parent": {
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "processor": {
          "type": "string",
          "description": "If the annotation was made by processor identify the processor by its resource name."
        },
        "id": {
          "type": "string",
          "description": "Id of the revision, internally generated by doc proto storage. Unique within the context of the document."
        },
        "humanReview": {
          "description": "Human Review information of this revision.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time that the revision was created, internally generated by doc proto storage at the time of create.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentRevision"
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionRequestInputData": {
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestInputData",
      "type": "object",
      "properties": {
        "trainingDocuments": {
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig",
          "description": "The documents used for training the new version."
        },
        "testDocuments": {
          "description": "The documents used for testing the trained version.",
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig"
        }
      },
      "description": "The input data used to train a new ProcessorVersion."
    },
    "GoogleCloudDocumentaiV1EvaluationCounters": {
      "properties": {
        "inputDocumentsCount": {
          "type": "integer",
          "description": "How many documents were sent for evaluation.",
          "format": "int32"
        },
        "invalidDocumentsCount": {
          "description": "How many documents were not included in the evaluation as they didn't pass validation.",
          "format": "int32",
          "type": "integer"
        },
        "failedDocumentsCount": {
          "format": "int32",
          "type": "integer",
          "description": "How many documents were not included in the evaluation as Document AI failed to process them."
        },
        "evaluatedDocumentsCount": {
          "format": "int32",
          "description": "How many documents were used in the evaluation.",
          "type": "integer"
        }
      },
      "description": "Evaluation counters for the documents that were used.",
      "id": "GoogleCloudDocumentaiV1EvaluationCounters",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse",
      "properties": {},
      "description": "Response message for the DeployProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat": {
      "properties": {
        "splitType": {
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value if the enum is not set. go/protodosdonts#do-include-an-unspecified-value-in-an-enum",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "description": "The dataset split type."
        },
        "totalDocumentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of documents with the given dataset split type to be exported."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat",
      "type": "object",
      "description": "The statistic representing a dataset split type for this export."
    },
    "GoogleCloudDocumentaiV1BoundingPoly": {
      "properties": {
        "normalizedVertices": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices.",
          "type": "array"
        },
        "vertices": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Vertex"
          },
          "description": "The bounding polygon vertices.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1BoundingPoly",
      "type": "object",
      "description": "A bounding polygon for the detected image annotation."
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionResponse",
      "properties": {
        "processorVersion": {
          "description": "The destination processor version name.",
          "type": "string"
        }
      },
      "description": "The response message for the ImportProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageTable": {
      "properties": {
        "bodyRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "description": "Body rows of the table.",
          "type": "array"
        },
        "layout": {
          "description": "Layout for Table.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        },
        "provenance": {
          "description": "The history of this table.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "headerRows": {
          "type": "array",
          "description": "Header rows of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageTable",
      "description": "A table representation similar to HTML table structure.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPage": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPage",
      "type": "object",
      "properties": {
        "imageQualityScores": {
          "description": "Image quality scores.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScores"
        },
        "layout": {
          "description": "Layout for the page.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "visualElements": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement"
          },
          "type": "array",
          "description": "A list of detected non-text visual elements e.g. checkbox, signature etc. on the page."
        },
        "dimension": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDimension",
          "description": "Physical dimension of the page."
        },
        "tables": {
          "description": "A list of visually detected tables on the page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTable"
          }
        },
        "provenance": {
          "description": "The history of this page.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
        },
        "detectedBarcodes": {
          "description": "A list of detected barcodes.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedBarcode"
          },
          "type": "array"
        },
        "image": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageImage",
          "description": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned."
        },
        "lines": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLine"
          },
          "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line.",
          "type": "array"
        },
        "transforms": {
          "description": "Transformation matrices that were applied to the original document image to produce Page.image.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageMatrix"
          }
        },
        "paragraphs": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageParagraph"
          },
          "type": "array",
          "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph."
        },
        "pageNumber": {
          "type": "integer",
          "format": "int32",
          "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing."
        },
        "symbols": {
          "description": "A list of visually detected symbols on the page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageSymbol"
          }
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageBlock"
          },
          "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
          "type": "array"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "formFields": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageFormField"
          },
          "type": "array",
          "description": "A list of visually detected form fields on the page."
        },
        "tokens": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageToken"
          },
          "type": "array",
          "description": "A list of visually detected tokens on the page."
        }
      },
      "description": "A page in a Document."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The common metadata about the operation."
        }
      },
      "type": "object",
      "description": "Metadata message associated with the ExportProcessorVersion operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfig": {
      "id": "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfig",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage uri (a directory) of the output."
        },
        "fieldMask": {
          "description": "Specifies which fields to include in the output documents. Only supports top level document and pages field so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "shardingConfig": {
          "description": "Specifies the sharding config for the output document.",
          "$ref": "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig"
        }
      },
      "type": "object",
      "description": "The configuration used when outputting documents."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata",
      "description": "The long-running operation metadata for UpdateLabelerPool.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the operation."
        },
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the operation."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "description": "The state of the operation."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
      "description": "The common metadata for long running operations.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell": {
      "properties": {
        "layout": {
          "description": "Layout for TableCell.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "rowSpan": {
          "description": "How many rows this cell spans.",
          "format": "int32",
          "type": "integer"
        },
        "colSpan": {
          "format": "int32",
          "description": "How many columns this cell spans.",
          "type": "integer"
        }
      },
      "description": "A cell representation inside the table.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
      "description": "Detected language for a structural component.",
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of detected language. Range `[0, 1]`."
        }
      }
    },
    "GoogleCloudDocumentaiV1ReviewDocumentRequest": {
      "properties": {
        "enableSchemaValidation": {
          "type": "boolean",
          "description": "Whether the validation should be performed on the ad-hoc review request."
        },
        "priority": {
          "enum": [
            "DEFAULT",
            "URGENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default priority level.",
            "The urgent priority level. The labeling manager should allocate labeler resource to the urgent task queue to respect this priority level."
          ],
          "description": "The priority of the human review task."
        },
        "documentSchema": {
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema",
          "description": "The document schema of the human review task."
        },
        "inlineDocument": {
          "$ref": "GoogleCloudDocumentaiV1Document",
          "description": "An inline document proto."
        }
      },
      "id": "GoogleCloudDocumentaiV1ReviewDocumentRequest",
      "description": "Request message for the ReviewDocument method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect": {
      "properties": {
        "confidence": {
          "description": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists.",
          "format": "float",
          "type": "number"
        },
        "type": {
          "description": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Image Quality Defects",
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect"
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse": {
      "description": "The response for TrainProcessorVersion.",
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse",
      "type": "object",
      "properties": {
        "processorVersion": {
          "description": "The resource name of the processor version produced by training.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorResponse",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1Processor": {
      "properties": {
        "defaultProcessorVersion": {
          "description": "The default processor version.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "description": "Output only. The state of the processor."
        },
        "type": {
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes.",
          "type": "string"
        },
        "createTime": {
          "description": "The time the processor was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "name": {
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "type": "string",
          "readOnly": true
        },
        "processEndpoint": {
          "type": "string",
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "readOnly": true
        }
      },
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "id": "GoogleCloudDocumentaiV1Processor",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse": {
      "properties": {
        "responses": {
          "description": "Responses for each individual document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse",
      "type": "object",
      "description": "Response to an batch document processing request. This is returned in the LRO Operation after the operation is complete."
    },
    "GoogleCloudDocumentaiUiv1beta3RevisionRef": {
      "properties": {
        "latestProcessorVersion": {
          "type": "string",
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
        },
        "revisionId": {
          "type": "string",
          "description": "Reads the revision given by the id."
        },
        "revisionCase": {
          "enumDescriptions": [
            "Unspecified case, fallback to read the LATEST_HUMAN_REVIEW.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ],
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ],
          "description": "Reads the revision by the predefined case.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3RevisionRef",
      "description": "The revision reference specifies which revision on the document to read.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1HumanReviewStatus": {
      "id": "GoogleCloudDocumentaiV1HumanReviewStatus",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the human review state."
        },
        "humanReviewOperation": {
          "type": "string",
          "description": "The name of the operation triggered by the processed document. This field is populated only when the state is `HUMAN_REVIEW_IN_PROGRESS`. It has the same response type and metadata as the long-running operation returned by ReviewDocument."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SKIPPED",
            "VALIDATION_PASSED",
            "IN_PROGRESS",
            "ERROR"
          ],
          "description": "The state of human review on the processing request.",
          "type": "string",
          "enumDescriptions": [
            "Human review state is unspecified. Most likely due to an internal error.",
[...]
