{
  "discoveryVersion": "v1",
  "revision": "20211002",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "processors": {
              "resources": {
                "humanReviewConfig": {
                  "methods": {
                    "reviewDocument": {
                      "parameterOrder": [
                        "humanReviewConfig"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ReviewDocumentRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "documentai.projects.locations.processors.humanReviewConfig.reviewDocument",
                      "parameters": {
                        "humanReviewConfig": {
                          "description": "Required. The resource name of the HumanReviewConfig that the document will be reviewed with.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/humanReviewConfig$"
                        }
                      },
                      "description": "Send a document for Human Review. The input document should be processed by the specified processor.",
                      "path": "v1beta3/{+humanReviewConfig}:reviewDocument",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/humanReviewConfig:reviewDocument",
                      "httpMethod": "POST"
                    }
                  }
                },
                "processorVersions": {
                  "methods": {
                    "process": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta3/{+name}:process",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: projects/{project}/locations/{location}/processors/{processor}, or projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.process",
                      "description": "Processes a single document.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:process"
                    },
                    "deploy": {
                      "id": "documentai.projects.locations.processors.processorVersions.deploy",
                      "description": "Deploys the processor version.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1beta3/{+name}:deploy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:deploy",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The processor version resource name to be deployed."
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest"
                      }
                    },
                    "delete": {
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "id": "documentai.projects.locations.processors.processorVersions.delete",
                      "path": "v1beta3/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the processor version, all artifacts under the processor version will be deleted.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true,
                          "description": "Required. The processor version resource name to be deleted."
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "batchProcess": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequest"
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.batchProcess",
                      "path": "v1beta3/{+name}:batchProcess",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "description": "Required. The resource name of Processor or ProcessorVersion. Format: projects/{project}/locations/{location}/processors/{processor}, or projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}",
                          "required": true
                        }
                      },
                      "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                      "httpMethod": "POST",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:batchProcess",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a processor version detail.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "location": "path",
                          "description": "Required. The processor resource name."
                        }
                      },
                      "path": "v1beta3/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersion"
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.get"
                    },
                    "list": {
                      "path": "v1beta3/{+parent}/processorVersions",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ListProcessorVersionsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "description": "Required. The parent (project, location and processor) to list all versions. Format: projects/{project}/locations/{location}/processors/{processor}"
                        },
                        "pageSize": {
                          "description": "The maximum number of processor versions to return. If unspecified, at most 10 processor versions will be returned. The maximum value is 20; values above 20 will be coerced to 20.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "We will return the processor versions sorted by creation time. The page token will point to the next processor version.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.list",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions",
                      "description": "Lists all versions of a processor."
                    },
                    "undeploy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "documentai.projects.locations.processors.processorVersions.undeploy",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "description": "Required. The processor version resource name to be undeployed."
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:undeploy",
                      "path": "v1beta3/{+name}:undeploy",
                      "description": "Undeploys the processor version.",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest"
                      }
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "documentai.projects.locations.processors.delete",
                  "description": "Deletes the processor, unloads all deployed model artifacts if it was enabled and then deletes all artifacts associated with this processor.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The processor resource name to be deleted.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1beta3/{+name}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "description": "Lists all processors which belong to this project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ListProcessorsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "We will return the processors sorted by creation time. The page token will point to the next processor.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of processors to return. If unspecified, at most 50 processors will be returned. The maximum value is 100; values above 100 will be coerced to 100."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent (project and location) which owns this collection of Processors. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "documentai.projects.locations.processors.list",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors",
                  "httpMethod": "GET",
                  "path": "v1beta3/{+parent}/processors"
                },
                "disable": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "documentai.projects.locations.processors.disable",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3DisableProcessorRequest"
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:disable",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The processor resource name to be disabled.",
                      "location": "path"
                    }
                  },
                  "path": "v1beta3/{+name}:disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Disables a processor"
                },
                "create": {
                  "path": "v1beta3/{+parent}/processors",
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.processors.create",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Processor"
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors",
                  "description": "Creates a processor from the type processor that the user chose. The processor will be at \"ENABLED\" state by default after its creation.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent (project and location) under which to create the processor. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Processor"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta3/{+name}",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The processor resource name.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3Processor"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "documentai.projects.locations.processors.get",
                  "description": "Gets a processor detail."
                },
                "process": {
                  "path": "v1beta3/{+name}:process",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ProcessRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ProcessResponse"
                  },
                  "id": "documentai.projects.locations.processors.process",
                  "description": "Processes a single document.",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:process",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: projects/{project}/locations/{location}/processors/{processor}, or projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setDefaultProcessorVersion": {
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:setDefaultProcessorVersion",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionRequest"
                  },
                  "parameters": {
                    "processor": {
                      "location": "path",
                      "description": "Required. The resource name of the Processor to change default version.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "documentai.projects.locations.processors.setDefaultProcessorVersion",
                  "httpMethod": "POST",
                  "path": "v1beta3/{+processor}:setDefaultProcessorVersion",
                  "description": "Set the default (active) version of a Processor that will be used in ProcessDocument and BatchProcessDocuments.",
                  "parameterOrder": [
                    "processor"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "batchProcess": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "documentai.projects.locations.processors.batchProcess",
                  "httpMethod": "POST",
                  "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:batchProcess",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequest"
                  },
                  "path": "v1beta3/{+name}:batchProcess",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "description": "Required. The resource name of Processor or ProcessorVersion. Format: projects/{project}/locations/{location}/processors/{processor}, or projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}"
                    }
                  }
                },
                "enable": {
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3EnableProcessorRequest"
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:enable",
                  "path": "v1beta3/{+name}:enable",
                  "id": "documentai.projects.locations.processors.enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The processor resource name to be enabled.",
                      "location": "path"
                    }
                  },
                  "description": "Enables a processor"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta3/{+name}",
                  "id": "documentai.projects.locations.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "documentai.projects.locations.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1beta3/{+name}"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "id": "documentai.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1beta3/{+name}:cancel"
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "documentai.projects.locations.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta3/{+name}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta3/projects/{projectsId}/locations",
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta3/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "id": "documentai.projects.locations.get",
              "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location."
            },
            "fetchProcessorTypes": {
              "response": {
                "$ref": "GoogleCloudDocumentaiV1beta3FetchProcessorTypesResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Required. The project of processor type to list. The available processor types may depend on the whitelisting on projects. Format: projects/{project}/locations/{location}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Fetches processor types.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "documentai.projects.locations.fetchProcessorTypes",
              "path": "v1beta3/{+parent}:fetchProcessorTypes",
              "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}:fetchProcessorTypes"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "title": "Cloud Document AI API",
  "basePath": "",
  "rootUrl": "https://documentai.googleapis.com/",
  "version": "v1beta3",
  "baseUrl": "https://documentai.googleapis.com/",
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudDocumentaiV1beta3ProcessRequest": {
      "description": "Request message for the process document method.",
      "type": "object",
      "properties": {
        "inlineDocument": {
          "$ref": "GoogleCloudDocumentaiV1beta3Document",
          "description": "An inline document proto."
        },
        "document": {
          "$ref": "GoogleCloudDocumentaiV1beta3Document",
          "description": "The document payload, the [content] and [mime_type] fields must be set."
        },
        "rawDocument": {
          "$ref": "GoogleCloudDocumentaiV1beta3RawDocument",
          "description": "A raw document content (bytes)."
        },
        "skipHumanReview": {
          "type": "boolean",
          "description": "Whether Human Review feature should be skipped for this request. Default to false."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessRequest"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageLayout": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
      "properties": {
        "confidence": {
          "description": "Confidence of the current Layout within context of the object this layout is for. e.g. confidence can be for a single token, a table, a visual element, etc. depending on context. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "orientation": {
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ],
          "type": "string",
          "description": "Detected orientation for the Layout."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1beta1BoundingPoly",
          "description": "The bounding polygon for the Layout."
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor"
        }
      },
      "description": "Visual element describing a layout unit on a page.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessResponse": {
      "type": "object",
      "properties": {
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
        },
        "document": {
          "$ref": "GoogleCloudDocumentaiV1beta3Document",
          "description": "The document payload, will populate fields based on the processor's behavior."
        },
        "humanReviewOperation": {
          "description": "The name of the operation triggered by the processed document. If the human review process is not triggered, this field will be empty. It has the same response type and metadata as the long running operation returned by ReviewDocument method.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessResponse",
      "description": "Response message for the process document method."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageImage": {
      "description": "Rendered image contents for this page.",
      "properties": {
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "Width of the image in pixels."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Height of the image in pixels."
        },
        "content": {
          "format": "byte",
          "description": "Raw byte content of the image.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Encoding mime type for the image."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageImage",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentResponse": {
      "type": "object",
      "description": "Response message for review document method.",
      "properties": {
        "gcsDestination": {
          "description": "The Cloud Storage uri for the human reviewed document.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentResponse"
    },
    "GoogleCloudDocumentaiV1beta2DocumentProvenanceParent": {
      "type": "object",
      "properties": {
        "revision": {
          "description": "The index of the [Document.revisions] identifying the parent revision.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "The id of the parent provenance."
        },
        "index": {
          "type": "integer",
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) on parent revision.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentProvenanceParent",
      "description": "Structure for referencing parent provenances. When an element replaces one of more other elements parent references identify the elements that are replaced."
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextAnchor": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor",
      "description": "Text reference indexing into the Document.text.",
      "type": "object",
      "properties": {
        "textSegments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment"
          },
          "description": "The text segments from the Document.text."
        },
        "content": {
          "type": "string",
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize": {
      "type": "object",
      "description": "Font size with unit.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize",
      "properties": {
        "size": {
          "type": "number",
          "description": "Font size for the text.",
          "format": "float"
        },
        "unit": {
          "description": "Unit for the font size. Follows CSS naming (in, px, pt, etc.).",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata": {
      "id": "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "The long running operation metadata for review document method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorResponse": {
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for the enable processor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionRequest": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionRequest",
      "description": "Request message for the set default processor version method.",
      "properties": {
        "defaultProcessorVersion": {
          "description": "Required. The resource name of child ProcessorVersion to use as default.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2GcsDestination": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Google Cloud Storage location where the output file will be written to.",
      "id": "GoogleCloudDocumentaiV1beta2GcsDestination"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Mimetype of the input. If the input is a raw document, the supported mimetypes are application/pdf, image/tiff, and image/gif. If the input is a [Document] proto, the type should be application/json."
        },
        "gcsSource": {
          "type": "string",
          "description": "The Cloud Storage location as the source of the document."
        }
      },
      "description": "The message for input config in batch process."
    },
    "GoogleCloudDocumentaiV1EnableProcessorResponse": {
      "id": "GoogleCloudDocumentaiV1EnableProcessorResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for the enable processor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview",
      "description": "Human Review information of the document.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize": {
      "properties": {
        "size": {
          "format": "float",
          "description": "Font size for the text.",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "Unit for the font size. Follows CSS naming (in, px, pt, etc.)."
        }
      },
      "type": "object",
      "description": "Font size with unit.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize"
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse",
      "description": "Response message for the undeploy processor version method."
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse",
      "description": "Response message for the disable processor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse",
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      },
      "description": "Metadata of the EvaluateProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta2DocumentLabel": {
      "properties": {
        "confidence": {
          "description": "Confidence score between 0 and 1 for label assignment.",
          "format": "float",
          "type": "number"
        },
        "automlModel": {
          "type": "string",
          "description": "Label is generated AutoML model. This field stores the full resource name of the AutoML model. Format: `projects/{project-id}/locations/{location-id}/models/{model-id}`"
        },
        "name": {
          "type": "string",
          "description": "Name of the label. When the label is generated from AutoML Text Classification model, this field represents the name of the category."
        }
      },
      "description": "Label attaches schema information and/or other metadata to segments within a Document. Multiple Labels on a single field can denote either different labels, different instances of the same label created at different times, or some combination of both.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentLabel"
    },
    "GoogleCloudDocumentaiV1beta3ListProcessorsResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ListProcessorsResponse",
      "description": "Response message for list processors.",
      "properties": {
        "processors": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3Processor"
          },
          "description": "The list of processors.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next processor, otherwise empty."
        }
      }
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata": {
      "description": "The long running operation metadata for deploy processor version method.",
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1NormalizedVertex": {
      "id": "GoogleCloudDocumentaiV1beta1NormalizedVertex",
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        },
        "y": {
          "format": "float",
          "type": "number",
          "description": "Y coordinate (starts from the top of the image)."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig": {
      "description": "The common config to specify a set of documents used as input.",
      "id": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
      "properties": {
        "gcsDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3GcsDocuments",
          "description": "The set of documents individually specified on Cloud Storage."
        },
        "gcsPrefix": {
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix",
          "description": "The set of documents that match the specified Cloud Storage [gcs_prefix]."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long running operation metadata for CreateLabelerPool.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageAnchorPageRef": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageAnchorPageRef",
      "properties": {
        "layoutId": {
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead.",
          "type": "string"
        },
        "page": {
          "format": "int64",
          "type": "string",
          "description": "Required. Index into the Document.pages element, for example using Document.pages to locate the related page element. This field is skipped when its value is the default 0. See https://developers.google.com/protocol-buffers/docs/proto3#json."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1beta3BoundingPoly",
          "description": "Optional. Identifies the bounding polygon of a layout element on the page."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. Confidence of detected page element, if applicable. Range [0, 1]."
        },
        "layoutType": {
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ],
          "type": "string",
          "description": "Optional. The type of the layout element that is being referenced if any.",
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ]
        }
      },
      "type": "object",
      "description": "Represents a weak reference to a page element within a document."
    },
    "GoogleCloudDocumentaiV1beta1Vertex": {
      "properties": {
        "x": {
          "description": "X coordinate.",
          "type": "integer",
          "format": "int32"
        },
        "y": {
          "description": "Y coordinate (starts from the top of the image).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1Vertex"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest": {
      "description": "Request message for the deploy processor version method.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionRequest"
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata": {
      "type": "object",
      "description": "The long running operation metadata for disable processor method.",
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2BoundingPoly": {
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2Vertex"
          },
          "type": "array",
          "description": "The bounding polygon vertices."
        },
        "normalizedVertices": {
          "type": "array",
          "description": "The bounding polygon normalized vertices.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2NormalizedVertex"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2BoundingPoly",
      "description": "A bounding polygon for the detected image annotation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionResponse",
      "description": "Response message for the deploy processor version method."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageMatrix": {
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageMatrix",
      "type": "object",
      "properties": {
        "data": {
          "description": "The matrix data.",
          "format": "byte",
          "type": "string"
        },
        "cols": {
          "type": "integer",
          "description": "Number of columns in the matrix.",
          "format": "int32"
        },
        "rows": {
          "format": "int32",
          "description": "Number of rows in the matrix.",
          "type": "integer"
        },
        "type": {
          "type": "integer",
          "format": "int32",
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest": {
      "description": "Request message for the undeploy processor version method.",
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata": {
      "type": "object",
      "description": "The long running operation metadata for delete processor version method.",
      "id": "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentShardInfo": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentShardInfo",
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "type": "object",
      "properties": {
        "shardIndex": {
          "type": "string",
          "format": "int64",
          "description": "The 0-based index of this shard."
        },
        "shardCount": {
          "description": "Total number of shards.",
          "format": "int64",
          "type": "string"
        },
        "textOffset": {
          "description": "The index of the first character in Document.text in the overall document global text.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDocumentaiV1beta2OutputConfig": {
      "properties": {
        "pagesPerShard": {
          "type": "integer",
          "description": "The max number of pages to include into each output Document shard JSON on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 parsed pages will be produced. If `pages_per_shard` = 20, then 5 Document shard JSON files each containing 20 parsed pages will be written under the prefix OutputConfig.gcs_destination.uri and suffix pages-x-to-y.json where x and y are 1-indexed page numbers. Example GCS outputs with 157 pages and pages_per_shard = 50: pages-001-to-050.json pages-051-to-100.json pages-101-to-150.json pages-151-to-157.json",
          "format": "int32"
        },
        "gcsDestination": {
          "description": "The Google Cloud Storage location to write the output to.",
          "$ref": "GoogleCloudDocumentaiV1beta2GcsDestination"
        }
      },
      "type": "object",
      "description": "The desired output location and metadata.",
      "id": "GoogleCloudDocumentaiV1beta2OutputConfig"
    },
    "GoogleCloudDocumentaiV1beta1OperationMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The last update time of the operation.",
          "format": "google-datetime"
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the operation.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request is received.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "type": "string",
          "description": "The state of the current batch processing.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ]
        }
      },
      "type": "object",
      "description": "Contains metadata for the BatchProcessDocuments operation.",
      "id": "GoogleCloudDocumentaiV1beta1OperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersion": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersion",
      "type": "object",
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pre-trained by Google internally or up-trained by the customer. At a time, a processor can only have one default version version. So the processor's behavior (when processing documents) is defined by a default version.",
      "properties": {
        "schema": {
          "description": "The schema of the processor version. Describes the output.",
          "$ref": "GoogleCloudDocumentaiV1beta3Schema"
        },
        "state": {
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED"
          ],
          "description": "The state of the processor version."
        },
        "displayName": {
          "description": "The display name of the processor version.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the processor version was created.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the processor version. Format: projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}",
          "type": "string"
        },
        "latestEvaluation": {
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationReference",
          "description": "The most recently invoked evaluation for the processor version."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata": {
      "description": "Metadata of the import document operation.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3Processor": {
      "type": "object",
      "description": "The first-class citizen for DAI. Each processor defines how to extract structural information from a document.",
      "id": "GoogleCloudDocumentaiV1beta3Processor",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. The resource name of the processor. Format: projects/{project}/locations/{location}/processors/{processor}",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e, has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become ENABLED if successful.",
            "The processor is being disabled, will become DISABLED if successful.",
            "The processor is being created, will become either ENABLED (for successful creation) or FAILED (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ],
          "type": "string",
          "description": "Output only. The state of the processor."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The KMS key used for encryption/decryption in CMEK scenarios. See https://cloud.google.com/security-key-management."
        },
        "type": {
          "description": "The processor type, e.g., INVOICE_PARSING, W2_PARSING, etc.",
          "type": "string"
        },
        "createTime": {
          "description": "The time the processor was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "processEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing."
        },
        "defaultProcessorVersion": {
          "description": "The default processor version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DisableProcessorResponse": {
      "type": "object",
      "description": "Response message for the disable processor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1DisableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageImage": {
      "properties": {
        "height": {
          "description": "Height of the image in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "width": {
          "description": "Width of the image in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "mimeType": {
          "type": "string",
          "description": "Encoding mime type for the image."
        },
        "content": {
          "type": "string",
          "description": "Raw byte content of the image.",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageImage",
      "description": "Rendered image contents for this page."
    },
    "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig": {
      "description": "The configuration used when outputting documents.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig",
      "properties": {
        "gcsUri": {
          "description": "The Cloud Storage uri (a directory) of the output.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata": {
      "description": "The common metadata for long running operations.",
      "id": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The last update time of the operation.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the operation."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "description": "The state of the operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1EnableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1EnableProcessorMetadata",
      "type": "object",
      "description": "The long running operation metadata for enable processor method."
    },
    "GoogleTypeMoney": {
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "id": "GoogleTypeMoney",
      "properties": {
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata": {
      "type": "object",
      "description": "The metadata that represents a processor version being created.",
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata",
      "properties": {
        "testDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
          "description": "The test dataset validation information."
        },
        "trainingDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
          "description": "The training dataset validation information."
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorRequest": {
      "properties": {},
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorRequest",
      "description": "Request message for the disable processor method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse",
      "properties": {},
      "description": "Response message for the deploy processor version method."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTable": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTable",
      "description": "A table representation similar to HTML table structure.",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow"
          },
          "description": "Header rows of the table.",
          "type": "array"
        },
        "bodyRows": {
          "description": "Body rows of the table.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow"
          }
        },
        "layout": {
          "description": "Layout for Table.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef": {
      "type": "object",
      "properties": {
        "layoutType": {
          "description": "Optional. The type of the layout element that is being referenced if any.",
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ],
          "type": "string",
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ]
        },
        "layoutId": {
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead.",
          "type": "string"
        },
        "page": {
          "type": "string",
          "format": "int64",
          "description": "Required. Index into the Document.pages element, for example using Document.pages to locate the related page element. This field is skipped when its value is the default 0. See https://developers.google.com/protocol-buffers/docs/proto3#json."
        },
        "confidence": {
          "format": "float",
          "description": "Optional. Confidence of detected page element, if applicable. Range [0, 1].",
          "type": "number"
        },
        "boundingPoly": {
          "description": "Optional. Identifies the bounding polygon of a layout element on the page.",
          "$ref": "GoogleCloudDocumentaiV1beta1BoundingPoly"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef",
      "description": "Represents a weak reference to a page element within a document."
    },
    "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse": {
      "type": "object",
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta1InputConfig",
          "description": "Information about the input file. This is the same as the corresponding input config in the request."
        },
        "outputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta1OutputConfig",
          "description": "The output location of the parsed responses. The responses are written to this location as JSON-serialized `Document` objects."
        }
      },
      "description": "Response to a single document processing request.",
      "id": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse"
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "description": "The long running operation metadata for review document method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        },
        "updateTime": {
          "type": "string",
          "description": "The last update time of the operation.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "description": "Used only when Operation.done is false.",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ]
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntity": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Entity type from a schema e.g. `Address`."
        },
        "mentionId": {
          "description": "Optional. Deprecated. Use `id` field instead.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. Confidence of detected Schema entity. Range [0, 1]."
        },
        "redacted": {
          "type": "boolean",
          "description": "Optional. Whether the entity will be redacted for de-identification purposes."
        },
        "pageAnchor": {
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageAnchor"
        },
        "textAnchor": {
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
        },
        "id": {
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document.",
          "type": "string"
        },
        "provenance": {
          "description": "Optional. The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
        },
        "mentionText": {
          "type": "string",
          "description": "Optional. Text value in the document e.g. `1600 Amphitheatre Pkwy`. If the entity is not present in the document, this field will be empty."
        },
        "normalizedValue": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue",
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (e.g. address) is not supported for certain parsers. This field is also only populated for certain supported document types."
        },
        "properties": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntity"
          },
          "type": "array",
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document."
        }
      },
      "description": "An entity that could be a phrase in the text or a property belongs to the document. It is a known entity type, such as a person, an organization, or location.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntity"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessResponse",
      "type": "object",
      "description": "Response message for batch process document method."
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "type": "object",
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
      "properties": {
        "datasetErrors": {
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "documentErrorCount": {
          "format": "int32",
          "description": "The total number of document errors.",
          "type": "integer"
        },
        "datasetErrorCount": {
          "description": "The total number of dataset errors.",
          "type": "integer",
          "format": "int32"
        },
        "documentErrors": {
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "description": "The long running operation metadata for delete processor method.",
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata"
    },
    "GoogleCloudDocumentaiV1beta3Document": {
      "properties": {
        "entityRelations": {
          "type": "array",
          "description": "Relationship among Document.entities.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityRelation"
          }
        },
        "textChanges": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextChange"
          },
          "description": "A list of text corrections made to [Document.text]. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "type": "array"
        },
        "text": {
          "description": "Optional. UTF-8 encoded text in reading order from the document.",
          "type": "string"
        },
        "content": {
          "format": "byte",
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "type": "string"
        },
        "revisions": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentRevision"
          },
          "description": "Revision history of this document.",
          "type": "array"
        },
        "textStyles": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentStyle"
          },
          "type": "array",
          "description": "Styles for the Document.text."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Any error that occurred while processing this document."
        },
        "shardInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentShardInfo",
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified."
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntity"
          },
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "type": "array"
        },
        "uri": {
          "type": "string",
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info."
        },
        "pages": {
          "description": "Visual page layout for the Document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPage"
          },
          "type": "array"
        },
        "mimeType": {
          "description": "An IANA published MIME type (also referred to as media type). For more information, see https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3Document",
      "type": "object",
      "description": "Document represents the canonical document resource in Document Understanding AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document Understanding AI to iterate and optimize for quality."
    },
    "GoogleCloudDocumentaiV1CommonOperationMetadata": {
      "id": "GoogleCloudDocumentaiV1CommonOperationMetadata",
      "description": "The common metadata for long running operations.",
      "type": "object",
      "properties": {
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "state": {
          "description": "The state of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage": {
      "type": "object",
      "description": "Detected language for a structural component.",
      "properties": {
        "confidence": {
          "description": "Confidence of detected language. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata",
      "description": "The long running operation metadata for deploy processor version method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ReviewDocumentResponse": {
      "properties": {
        "gcsDestination": {
          "type": "string",
          "description": "The Cloud Storage uri for the human reviewed document."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ReviewDocumentResponse",
      "description": "Response message for review document method."
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextChange": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextChange",
      "properties": {
        "provenance": {
          "description": "The history of this annotation.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
          },
          "type": "array"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index."
        },
        "changedText": {
          "description": "The text that replaces the text identified in the `text_anchor`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This message is used for text changes aka. OCR corrections."
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus": {
      "description": "The status of a each individual document in the batch process.",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus",
      "type": "object",
      "properties": {
        "humanReviewOperation": {
          "description": "The name of the operation triggered by the processed document. If the human review process is not triggered, this field will be empty. It has the same response type and metadata as the long running operation returned by ReviewDocument method.",
          "type": "string"
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The output_gcs_destination (in the request as 'output_gcs_destination') of the processed document if it was successful, otherwise empty."
        },
        "inputGcsSource": {
          "description": "The source of the document, same as the [input_gcs_source] field in the request when the batch process started. The batch process is started by take snapshot of that document, since a user can move or change that document during the process.",
          "type": "string"
        },
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of the processing of the document."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long running operation metadata for disable processor method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata"
    },
    "GoogleCloudDocumentaiV1beta3SchemaEntityType": {
      "id": "GoogleCloudDocumentaiV1beta3SchemaEntityType",
      "properties": {
        "enumValues": {
          "type": "array",
          "description": "If specified, lists all the possible values for this entity.",
          "items": {
            "type": "string"
          }
        },
        "occurrenceType": {
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ],
          "description": "Occurrence type limits the number of times an entity type appears in the document.",
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "The entity type will appear zero times or once.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once.",
            "The entity type will appear once or more times."
          ],
          "type": "string"
        },
        "description": {
          "description": "Description of the entity type.",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "description": "Describing the nested structure of an entity. An EntityType may consist of several other EntityTypes. For example, in a document there can be an EntityType 'ID', which consists of EntityType 'name' and 'address', with corresponding attributes, such as TEXT for both types and ONCE for occurrence types.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3SchemaEntityType"
          }
        },
        "source": {
          "enumDescriptions": [
            "Unspecified source.",
            "The entity type is in the predefined schema of a pretrained version of a processor.",
            "The entity type is added by the users either: - during an uptraining of an existing processor, or - during the process of creating a customized processor."
          ],
          "description": "Source of this entity type.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "PREDEFINED",
            "USER_INPUT"
          ],
          "type": "string"
        },
        "type": {
          "description": "Name of the type. It must be unique within the set of same level types.",
          "type": "string"
        },
        "baseType": {
[...]
