{
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "ownerDomain": "google.com",
  "servicePath": "",
  "revision": "20210413",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "canonicalName": "Document",
  "baseUrl": "https://documentai.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "id": "documentai.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "path": "v1beta3/{+name}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "path": "v1beta3/{+name}/locations",
              "flatPath": "v1beta3/projects/{projectsId}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "documentai.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "processors": {
              "methods": {
                "batchProcess": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:batchProcess",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequest"
                  },
                  "httpMethod": "POST",
                  "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of Processor or ProcessorVersion. Format: projects/{project}/locations/{location}/processors/{processor}, or projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "documentai.projects.locations.processors.batchProcess",
                  "path": "v1beta3/{+name}:batchProcess",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "process": {
                  "id": "documentai.projects.locations.processors.process",
                  "path": "v1beta3/{+name}:process",
                  "httpMethod": "POST",
                  "description": "Processes a single document.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ProcessResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta3ProcessRequest"
                  },
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:process",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: projects/{project}/locations/{location}/processors/{processor}, or projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "processorVersions": {
                  "methods": {
                    "process": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: projects/{project}/locations/{location}/processors/{processor}, or projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Processes a single document.",
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:process",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ProcessRequest"
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.process",
                      "httpMethod": "POST",
                      "path": "v1beta3/{+name}:process",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "batchProcess": {
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:batchProcess",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta3/{+name}:batchProcess",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of Processor or ProcessorVersion. Format: projects/{project}/locations/{location}/processors/{processor}, or projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$"
                        }
                      },
                      "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                      "id": "documentai.projects.locations.processors.processorVersions.batchProcess",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                },
                "humanReviewConfig": {
                  "methods": {
                    "reviewDocument": {
                      "parameterOrder": [
                        "humanReviewConfig"
                      ],
                      "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/humanReviewConfig:reviewDocument",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Send a document for Human Review. The input document should be processed by the specified processor.",
                      "parameters": {
                        "humanReviewConfig": {
                          "location": "path",
                          "description": "Required. The resource name of the HumanReviewConfig that the document will be reviewed with.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/humanReviewConfig$"
                        }
                      },
                      "id": "documentai.projects.locations.processors.humanReviewConfig.reviewDocument",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1beta3ReviewDocumentRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta3/{+humanReviewConfig}:reviewDocument"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1beta3/{+name}",
                  "httpMethod": "GET",
                  "id": "documentai.projects.locations.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "name": "documentai",
  "version": "v1beta3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak": {
      "description": "Detected break at the end of a Token.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "description": "Detected break type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ]
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak"
    },
    "GoogleTypeColor": {
      "id": "GoogleTypeColor",
      "type": "object",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "blue": {
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "alpha": {
          "type": "number",
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize": {
      "type": "object",
      "properties": {
        "size": {
          "format": "float",
          "type": "number",
          "description": "Font size for the text."
        },
        "unit": {
          "description": "Unit for the font size. Follows CSS naming (in, px, pt, etc.).",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize",
      "description": "Font size with unit."
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessResponse": {
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessResponse",
      "type": "object",
      "description": "Response message for batch process document method.",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntityRelation": {
      "properties": {
        "relation": {
          "description": "Relationship description.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        },
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation",
      "description": "Relationship between Entities."
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata": {
      "properties": {
        "trainingDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
          "description": "The training dataset validation information."
        },
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "testDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
          "description": "The test dataset validation information."
        }
      },
      "type": "object",
      "description": "The metadata that represents a processor version being created.",
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta2InputConfig": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. Mimetype of the input. Current supported mimetypes are application/pdf, image/tiff, and image/gif. In addition, application/json type is supported for requests with ProcessDocumentRequest.automl_params field set. The JSON file needs to be in Document format."
        },
        "gcsSource": {
          "$ref": "GoogleCloudDocumentaiV1beta2GcsSource",
          "description": "The Google Cloud Storage location to read the input from. This must be a single file."
        },
        "contents": {
          "description": "Content in bytes, represented as a stream of bytes. Note: As with all `bytes` fields, proto buffer messages use a pure binary representation, whereas JSON representations use base64. This field only works for synchronous ProcessDocument method.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2InputConfig",
      "description": "The desired input location and metadata.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2GcsDestination": {
      "description": "The Google Cloud Storage location where the output file will be written to.",
      "id": "GoogleCloudDocumentaiV1beta2GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2ProcessDocumentResponse": {
      "id": "GoogleCloudDocumentaiV1beta2ProcessDocumentResponse",
      "description": "Response to a single document processing request.",
      "type": "object",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta2OutputConfig",
          "description": "The output location of the parsed responses. The responses are written to this location as JSON-serialized `Document` objects."
        },
        "inputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta2InputConfig",
          "description": "Information about the input file. This is the same as the corresponding input config in the request."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPage": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPage",
      "description": "A page in a Document.",
      "type": "object",
      "properties": {
        "paragraphs": {
          "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageParagraph"
          },
          "type": "array"
        },
        "tables": {
          "type": "array",
          "description": "A list of visually detected tables on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTable"
          }
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for the page."
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          }
        },
        "lines": {
          "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLine"
          }
        },
        "transforms": {
          "description": "Transformation matrices that were applied to the original document image to produce Page.image.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageMatrix"
          }
        },
        "pageNumber": {
          "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing.",
          "format": "int32",
          "type": "integer"
        },
        "dimension": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDimension",
          "description": "Physical dimension of the page."
        },
        "visualElements": {
          "description": "A list of detected non-text visual elements e.g. checkbox, signature etc. on the page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement"
          }
        },
        "image": {
          "description": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageImage"
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageBlock"
          },
          "type": "array",
          "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
        },
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageToken"
          },
          "description": "A list of visually detected tokens on the page."
        },
        "formFields": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageFormField"
          },
          "type": "array",
          "description": "A list of visually detected form fields on the page."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview",
      "properties": {
        "state": {
          "type": "string",
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`.",
          "type": "string"
        }
      },
      "description": "Human Review information of the document."
    },
    "GoogleCloudDocumentaiV1beta3GcsDocuments": {
      "properties": {
        "documents": {
          "description": "The list of documents.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3GcsDocument"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3GcsDocuments",
      "type": "object",
      "description": "Specifies a set of documents on Cloud Storage."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for TableCell."
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        },
        "rowSpan": {
          "type": "integer",
          "description": "How many rows this cell spans.",
          "format": "int32"
        },
        "colSpan": {
          "description": "How many columns this cell spans.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A cell representation inside the table."
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment",
      "properties": {
        "endIndex": {
          "format": "int64",
          "description": "TextSegment half open end UTF-8 char index in the Document.text.",
          "type": "string"
        },
        "startIndex": {
          "type": "string",
          "format": "int64",
          "description": "TextSegment start UTF-8 char index in the Document.text."
        }
      },
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3RawDocument": {
      "id": "GoogleCloudDocumentaiV1beta3RawDocument",
      "properties": {
        "mimeType": {
          "description": "An IANA MIME type (RFC6838) indicating the nature and format of the [content].",
          "type": "string"
        },
        "content": {
          "description": "Inline document content.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Payload message of raw document content (bytes)."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "description": "Detected break type.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Detected break at the end of a Token."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell": {
      "description": "A cell representation inside the table.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell",
      "type": "object",
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "colSpan": {
          "type": "integer",
          "description": "How many columns this cell spans.",
          "format": "int32"
        },
        "rowSpan": {
          "type": "integer",
          "format": "int32",
          "description": "How many rows this cell spans."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for TableCell."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntity": {
      "description": "A phrase in the text that is a known entity type, such as a person, an organization, or location.",
      "type": "object",
      "properties": {
        "pageAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageAnchor",
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found."
        },
        "redacted": {
          "type": "boolean",
          "description": "Optional. Whether the entity will be redacted for de-identification purposes."
        },
        "mentionId": {
          "description": "Optional. Deprecated. Use `id` field instead.",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntity"
          }
        },
        "mentionText": {
          "type": "string",
          "description": "Optional. Text value in the document e.g. `1600 Amphitheatre Pkwy`."
        },
        "normalizedValue": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue",
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (e.g. address) is not supported for certain parsers. This field is also only populated for certain supported document types."
        },
        "type": {
          "type": "string",
          "description": "Entity type from a schema e.g. `Address`."
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text."
        },
        "provenance": {
          "description": "Optional. The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. Confidence of detected Schema entity. Range [0, 1]."
        },
        "id": {
          "type": "string",
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntity"
    },
    "GoogleCloudDocumentaiV1beta1GcsDestination": {
      "id": "GoogleCloudDocumentaiV1beta1GcsDestination",
      "type": "object",
      "description": "The Google Cloud Storage location where the output file will be written to.",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata": {
      "description": "The long running operation metadata for delete processor method.",
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata",
      "description": "The long running operation metadata for UpdateLabelerPool."
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long running operation metadata for DeleteLabelerPool.",
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadata": {
      "type": "object",
      "description": "The long running operation metadata for batch process method.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the operation."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed."
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was being cancelled.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "description": "The state of the current batch processing.",
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string"
        },
        "individualProcessStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus"
          },
          "type": "array",
          "description": "The list of response details of each document."
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the operation.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadata"
    },
    "GoogleCloudDocumentaiV1beta3NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "GoogleCloudDocumentaiV1beta3NormalizedVertex",
      "type": "object",
      "properties": {
        "y": {
          "description": "Y coordinate (starts from the top of the image).",
          "type": "number",
          "format": "float"
        },
        "x": {
          "type": "number",
          "format": "float",
          "description": "X coordinate."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata",
      "description": "The long running operation metadata for set default processor version method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1NormalizedVertex": {
      "properties": {
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate (starts from the top of the image)."
        }
      },
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "GoogleCloudDocumentaiV1beta1NormalizedVertex"
    },
    "GoogleCloudDocumentaiV1beta2Vertex": {
      "id": "GoogleCloudDocumentaiV1beta2Vertex",
      "properties": {
        "y": {
          "description": "Y coordinate (starts from the top of the image).",
          "format": "int32",
          "type": "integer"
        },
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "X coordinate."
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageAnchorPageRef": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageAnchorPageRef",
      "description": "Represents a weak reference to a page element within a document.",
      "properties": {
        "page": {
          "type": "string",
          "description": "Required. Index into the Document.pages element, for example using Document.pages to locate the related page element.",
          "format": "int64"
        },
        "layoutId": {
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead.",
          "type": "string"
        },
        "layoutType": {
          "description": "Optional. The type of the layout element that is being referenced if any.",
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ],
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ],
          "type": "string"
        },
        "boundingPoly": {
          "description": "Optional. Identifies the bounding polygon of a layout element on the page.",
          "$ref": "GoogleCloudDocumentaiV1beta2BoundingPoly"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageImage": {
      "type": "object",
      "properties": {
        "width": {
          "description": "Width of the image in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "content": {
          "type": "string",
          "description": "Raw byte content of the image.",
          "format": "byte"
        },
        "mimeType": {
          "type": "string",
          "description": "Encoding mime type for the image."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Height of the image in pixels."
        }
      },
      "description": "Rendered image contents for this page.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageImage"
    },
    "GoogleCloudDocumentaiV1CommonOperationMetadata": {
      "description": "The common metadata for long running operations.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The last update time of the operation.",
          "format": "google-datetime"
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time of the operation.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "description": "The state of the operation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1CommonOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageParagraph": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageParagraph",
      "description": "A collection of lines that a human would perceive as a paragraph.",
      "type": "object",
      "properties": {
        "layout": {
          "description": "Layout for Paragraph.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "description": "The history of this annotation."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1BoundingPoly": {
      "description": "A bounding polygon for the detected image annotation.",
      "properties": {
        "normalizedVertices": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices.",
          "type": "array"
        },
        "vertices": {
          "type": "array",
          "description": "The bounding polygon vertices.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1Vertex"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1BoundingPoly"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef": {
      "properties": {
        "page": {
          "type": "string",
          "format": "int64",
          "description": "Required. Index into the Document.pages element, for example using Document.pages to locate the related page element."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1beta1BoundingPoly",
          "description": "Optional. Identifies the bounding polygon of a layout element on the page."
        },
        "layoutId": {
          "type": "string",
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead."
        },
        "layoutType": {
          "description": "Optional. The type of the layout element that is being referenced if any.",
          "type": "string",
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ],
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef",
      "description": "Represents a weak reference to a page element within a document."
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long running operation metadata for the undeploy processor version method.",
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta1DocumentProvenance": {
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "type": "object",
      "properties": {
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the revision that produced this element."
        },
        "parents": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent"
          },
          "description": "References to the original elements that are replaced.",
          "type": "array"
        },
        "type": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "enumDescriptions": [
            "Operation type unspecified.",
            "Add an element. Implicit if no `parents` are set for the provenance.",
            "The element is removed. No `parents` should be set.",
            "Explicitly replaces the element(s) identified by `parents`.",
            "Element is requested for human review.",
            "Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Element is skipped in the validation process."
          ],
          "description": "The type of provenance operation."
        },
        "id": {
          "format": "int32",
          "description": "The Id of this operation. Needs to be unique within the scope of the revision.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
    },
    "GoogleCloudDocumentaiV1beta1DocumentShardInfo": {
      "properties": {
        "textOffset": {
          "type": "string",
          "format": "int64",
          "description": "The index of the first character in Document.text in the overall document global text."
        },
        "shardCount": {
          "type": "string",
          "description": "Total number of shards.",
          "format": "int64"
        },
        "shardIndex": {
          "format": "int64",
          "description": "The 0-based index of this shard.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentShardInfo"
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "properties": {
        "updateTime": {
          "description": "The last update time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Used only when Operation.done is false.",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        }
      },
      "description": "The long running operation metadata for review document method.",
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequest": {
      "properties": {
        "outputConfig": {
          "description": "The overall output config for batch process.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig"
        },
        "skipHumanReview": {
          "description": "Whether Human Review feature should be skipped for this request. Default to false.",
          "type": "boolean"
        },
        "inputConfigs": {
          "description": "The input config for each single document in the batch process.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig"
          }
        },
        "documentOutputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfig",
          "description": "The overall output config for batch process."
        },
        "inputDocuments": {
          "description": "The input documents for batch process.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig"
        }
      },
      "description": "Request message for batch process document method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequest"
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextAnchor": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
      "description": "Text reference indexing into the Document.text.",
      "properties": {
        "content": {
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments.",
          "type": "string"
        },
        "textSegments": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment"
          },
          "type": "array",
          "description": "The text segments from the Document.text."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue",
      "properties": {
        "moneyValue": {
          "$ref": "GoogleTypeMoney",
          "description": "Money value. See also: https://github.com/googleapis/googleapis/blob/master/google/type/money.proto"
        },
        "dateValue": {
          "$ref": "GoogleTypeDate",
          "description": "Date value. Includes year, month, day. See also: https://github.com/googleapis/googleapis/blob/master/google/type/date.proto"
        },
        "datetimeValue": {
          "$ref": "GoogleTypeDateTime",
          "description": "DateTime value. Includes date, time, and timezone. See also: https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto"
        },
        "text": {
          "type": "string",
          "description": "Required. Normalized entity value stored as a string. This field is populated for supported document type (e.g. Invoice). For some entity types, one of respective 'structured_value' fields may also be populated. - Money/Currency type (`money_value`) is in the ISO 4217 text format. - Date type (`date_value`) is in the ISO 8601 text format. - Datetime type (`datetime_value`) is in the ISO 8601 text format."
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean value. Can be used for entities with binary values, or for checkboxes."
        },
        "addressValue": {
          "description": "Postal address. See also: https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto",
          "$ref": "GoogleTypePostalAddress"
        }
      },
      "type": "object",
      "description": "Parsed and normalized entity value."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageLine": {
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for Line."
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageLine",
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc."
    },
    "GoogleCloudDocumentaiV1ReviewDocumentResponse": {
      "type": "object",
      "description": "Response message for review document method.",
      "properties": {
        "gcsDestination": {
          "type": "string",
          "description": "The Cloud Storage uri for the human reviewed document."
        }
      },
      "id": "GoogleCloudDocumentaiV1ReviewDocumentResponse"
    },
    "GoogleCloudDocumentaiV1beta2Document": {
      "properties": {
        "textChanges": {
          "description": "A list of text corrections made to [Document.text]. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextChange"
          }
        },
        "error": {
          "description": "Any error that occurred while processing this document.",
          "$ref": "GoogleRpcStatus"
        },
        "mimeType": {
          "type": "string",
          "description": "An IANA published MIME type (also referred to as media type). For more information, see https://www.iana.org/assignments/media-types/media-types.xhtml."
        },
        "entityRelations": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation"
          },
          "description": "Relationship among Document.entities.",
          "type": "array"
        },
        "uri": {
          "type": "string",
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info."
        },
        "content": {
          "type": "string",
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "format": "byte"
        },
        "textStyles": {
          "description": "Styles for the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentStyle"
          },
          "type": "array"
        },
        "pages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPage"
          },
          "description": "Visual page layout for the Document.",
          "type": "array"
        },
        "text": {
          "description": "Optional. UTF-8 encoded text in reading order from the document.",
          "type": "string"
        },
        "revisions": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentRevision"
          },
          "description": "Revision history of this document.",
          "type": "array"
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntity"
          },
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "type": "array"
        },
        "shardInfo": {
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentShardInfo"
        },
        "labels": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentLabel"
          },
          "type": "array",
          "description": "Labels for this document."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2Document",
      "description": "Document represents the canonical document resource in Document Understanding AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document Understanding AI to iterate and optimize for quality."
    },
    "GoogleCloudDocumentaiV1beta2DocumentRevision": {
      "description": "Contains past or forward revisions of this document.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentRevision",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the revision was created."
        },
        "agent": {
          "description": "If the change was made by a person specify the name or id of that person.",
          "type": "string"
        },
        "processor": {
          "type": "string",
          "description": "If the annotation was made by processor identify the processor by its resource name."
        },
        "humanReview": {
          "description": "Human Review information of this revision.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview"
        },
        "parent": {
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "id": {
          "description": "Id of the revision. Unique within the context of the document.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageParagraph": {
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for Paragraph."
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          }
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
          "description": "The history of this annotation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageParagraph",
      "description": "A collection of lines that a human would perceive as a paragraph.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2OutputConfig": {
      "description": "The desired output location and metadata.",
      "id": "GoogleCloudDocumentaiV1beta2OutputConfig",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudDocumentaiV1beta2GcsDestination",
          "description": "The Google Cloud Storage location to write the output to."
        },
        "pagesPerShard": {
          "description": "The max number of pages to include into each output Document shard JSON on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 parsed pages will be produced. If `pages_per_shard` = 20, then 5 Document shard JSON files each containing 20 parsed pages will be written under the prefix OutputConfig.gcs_destination.uri and suffix pages-x-to-y.json where x and y are 1-indexed page numbers. Example GCS outputs with 157 pages and pages_per_shard = 50: pages-001-to-050.json pages-051-to-100.json pages-101-to-150.json pages-151-to-157.json",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageBlock": {
      "properties": {
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "description": "Layout for Block.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        }
      },
      "type": "object",
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageBlock"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage": {
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "description": "Confidence of detected language. Range [0, 1].",
          "type": "number"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage",
      "type": "object",
      "description": "Detected language for a structural component."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement",
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page.",
      "type": "object",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "Type of the VisualElement."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for VisualElement."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig": {
      "type": "object",
      "properties": {
        "gcsDestination": {
          "type": "string",
          "description": "The output Cloud Storage directory to put the processed documents."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig",
      "description": "The message for output config in batch process."
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchInputConfig",
      "properties": {
        "mimeType": {
          "description": "Mimetype of the input. If the input is a raw document, the supported mimetypes are application/pdf, image/tiff, and image/gif. If the input is a [Document] proto, the type should be application/json.",
          "type": "string"
        },
        "gcsSource": {
          "description": "The Cloud Storage location as the source of the document.",
          "type": "string"
        }
      },
      "description": "The message for input config in batch process."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageAnchor": {
      "properties": {
        "pageRefs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef"
          },
          "description": "One or more references to visual page elements"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageAnchor",
      "description": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement",
      "type": "object",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for VisualElement."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "type": {
          "description": "Type of the VisualElement.",
          "type": "string"
        }
      },
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page."
    },
    "GoogleCloudDocumentaiV1beta2NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2NormalizedVertex",
      "properties": {
        "y": {
          "description": "Y coordinate (starts from the top of the image).",
          "type": "number",
          "format": "float"
        },
        "x": {
          "format": "float",
          "type": "number",
          "description": "X coordinate."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageLayout": {
      "type": "object",
      "description": "Visual element describing a layout unit on a page.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
      "properties": {
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1beta2BoundingPoly",
          "description": "The bounding polygon for the Layout."
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "confidence": {
          "description": "Confidence of the current Layout within context of the object this layout is for. e.g. confidence can be for a single token, a table, a visual element, etc. depending on context. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "orientation": {
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ],
          "type": "string",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "description": "Detected orientation for the Layout."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig": {
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage uri (a directory) of the output."
        }
      },
      "description": "The configuration used when outputting documents.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageAnchorPageRef": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageAnchorPageRef",
      "description": "Represents a weak reference to a page element within a document.",
      "type": "object",
      "properties": {
        "layoutId": {
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead.",
          "type": "string"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1beta3BoundingPoly",
          "description": "Optional. Identifies the bounding polygon of a layout element on the page."
        },
        "layoutType": {
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ],
          "description": "Optional. The type of the layout element that is being referenced if any.",
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ],
          "type": "string"
        },
        "page": {
          "description": "Required. Index into the Document.pages element, for example using Document.pages to locate the related page element.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "type": "object",
      "properties": {},
      "description": "Response message for the disable processor method. Intentionally empty proto for adding fields in future.",
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage": {
      "type": "object",
      "description": "Detected language for a structural component.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "confidence": {
          "description": "Confidence of detected language. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentRevisionHumanReview": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentRevisionHumanReview",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`."
        },
        "state": {
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`.",
          "type": "string"
        }
      },
      "description": "Human Review information of the document."
    },
    "GoogleCloudDocumentaiV1beta1OperationMetadata": {
      "properties": {
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the operation.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request is received.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "description": "The state of the current batch processing."
        }
      },
      "type": "object",
      "description": "Contains metadata for the BatchProcessDocuments operation.",
      "id": "GoogleCloudDocumentaiV1beta1OperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageToken": {
      "description": "A detected token.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageToken",
      "properties": {
        "layout": {
          "description": "Layout for Token.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "detectedBreak": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak",
          "description": "Detected break at the end of a Token."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
          "description": "The history of this annotation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long running operation metadata for updating the human review configuration.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageFormField": {
      "description": "A form field detected on the page.",
      "type": "object",
      "properties": {
        "valueType": {
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the field_value is normal text) - \"unfilled_checkbox\" - \"filled_checkbox\"",
          "type": "string"
        },
        "fieldName": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for the FormField name. e.g. `Address`, `Email`, `Grand total`, `Phone number`, etc."
        },
        "valueDetectedLanguages": {
          "description": "A list of detected languages for value together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "fieldValue": {
          "description": "Layout for the FormField value.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "nameDetectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for name together with confidence.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageFormField"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageBlock": {
      "properties": {
        "layout": {
          "description": "Layout for Block.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "description": "The history of this annotation."
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageBlock",
      "type": "object",
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
    },
    "GoogleCloudDocumentaiV1beta1DocumentTextChange": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentTextChange",
      "properties": {
        "changedText": {
          "description": "The text that replaces the text identified in the `text_anchor`.",
          "type": "string"
        },
        "provenance": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
          },
          "type": "array",
          "description": "The history of this annotation."
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor",
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index."
        }
      },
      "description": "This message is used for text changes aka. OCR corrections.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImage": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Raw byte content of the image.",
          "format": "byte"
        },
        "height": {
          "format": "int32",
          "description": "Height of the image in pixels.",
          "type": "integer"
        },
        "mimeType": {
          "description": "Encoding mime type for the image.",
          "type": "string"
        },
        "width": {
          "description": "Width of the image in pixels.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImage",
      "description": "Rendered image contents for this page.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2OperationMetadata": {
      "description": "Contains metadata for the BatchProcessDocuments operation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2OperationMetadata",
      "properties": {
        "updateTime": {
          "description": "The last update time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "The state of the current batch processing.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request is received.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ]
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the operation.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse": {
      "id": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse",
      "properties": {
        "inputConfig": {
          "description": "Information about the input file. This is the same as the corresponding input config in the request.",
          "$ref": "GoogleCloudDocumentaiV1beta1InputConfig"
        },
        "outputConfig": {
          "description": "The output location of the parsed responses. The responses are written to this location as JSON-serialized `Document` objects.",
          "$ref": "GoogleCloudDocumentaiV1beta1OutputConfig"
        }
      },
      "type": "object",
      "description": "Response to a single document processing request."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageVisualElement": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageVisualElement",
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for VisualElement."
        },
        "type": {
          "type": "string",
          "description": "Type of the VisualElement."
        }
      },
      "type": "object",
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageFormField": {
      "description": "A form field detected on the page.",
      "properties": {
        "valueDetectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for value together with confidence."
        },
        "fieldValue": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for the FormField value."
        },
        "nameDetectedLanguages": {
          "description": "A list of detected languages for name together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        },
        "fieldName": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for the FormField name. e.g. `Address`, `Email`, `Grand total`, `Phone number`, etc."
        },
        "valueType": {
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the field_value is normal text) - \"unfilled_checkbox\" - \"filled_checkbox\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageFormField",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageParagraph": {
      "type": "object",
      "description": "A collection of lines that a human would perceive as a paragraph.",
      "properties": {
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for Paragraph."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageParagraph"
    },
    "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse": {
      "properties": {
        "responses": {
          "description": "Responses for each individual document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse"
          }
        }
      },
      "type": "object",
      "description": "Response to an batch document processing request. This is returned in the LRO Operation after the operation is complete.",
      "id": "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageBlock": {
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageBlock",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for Block."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
          "description": "The history of this annotation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3CommonOperationMetadata": {
      "type": "object",
      "description": "The common metadata for long running operations.",
      "properties": {
        "state": {
          "description": "The state of the operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The last update time of the operation.",
          "type": "string"
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta1Vertex": {
      "properties": {
        "x": {
          "type": "integer",
          "description": "X coordinate.",
          "format": "int32"
        },
        "y": {
          "format": "int32",
          "description": "Y coordinate (starts from the top of the image).",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "id": "GoogleCloudDocumentaiV1beta1Vertex"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageToken": {
      "type": "object",
      "description": "A detected token.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageToken",
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for Token."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "description": "The history of this annotation."
        },
        "detectedBreak": {
          "description": "Detected break at the end of a Token.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue": {
      "description": "Parsed and normalized entity value.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue",
      "properties": {
        "addressValue": {
          "description": "Postal address. See also: https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto",
          "$ref": "GoogleTypePostalAddress"
        },
        "booleanValue": {
          "description": "Boolean value. Can be used for entities with binary values, or for checkboxes.",
          "type": "boolean"
        },
        "moneyValue": {
          "$ref": "GoogleTypeMoney",
          "description": "Money value. See also: https://github.com/googleapis/googleapis/blob/master/google/type/money.proto"
        },
        "datetimeValue": {
          "description": "DateTime value. Includes date, time, and timezone. See also: https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto",
          "$ref": "GoogleTypeDateTime"
        },
        "dateValue": {
          "description": "Date value. Includes year, month, day. See also: https://github.com/googleapis/googleapis/blob/master/google/type/date.proto",
          "$ref": "GoogleTypeDate"
        },
        "text": {
          "description": "Required. Normalized entity value stored as a string. This field is populated for supported document type (e.g. Invoice). For some entity types, one of respective 'structured_value' fields may also be populated. - Money/Currency type (`money_value`) is in the ISO 4217 text format. - Date type (`date_value`) is in the ISO 8601 text format. - Datetime type (`datetime_value`) is in the ISO 8601 text format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1OutputConfig": {
      "description": "The desired output location and metadata.",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudDocumentaiV1beta1GcsDestination",
          "description": "The Google Cloud Storage location to write the output to."
        },
        "pagesPerShard": {
          "description": "The max number of pages to include into each output Document shard JSON on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 parsed pages will be produced. If `pages_per_shard` = 20, then 5 Document shard JSON files each containing 20 parsed pages will be written under the prefix OutputConfig.gcs_destination.uri and suffix pages-x-to-y.json where x and y are 1-indexed page numbers. Example GCS outputs with 157 pages and pages_per_shard = 50: pages-001-to-050.json pages-051-to-100.json pages-101-to-150.json pages-151-to-157.json",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1OutputConfig",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for the deploy processor version method."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell": {
      "properties": {
        "colSpan": {
          "description": "How many columns this cell spans.",
          "type": "integer",
          "format": "int32"
        },
        "rowSpan": {
          "type": "integer",
[...]
