{
  "version_module": true,
  "discoveryVersion": "v1",
  "canonicalName": "Document",
  "revision": "20240531",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://documentai.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation": {
      "properties": {
        "documentErrorCount": {
          "type": "integer",
          "description": "The total number of document errors.",
          "format": "int32"
        },
        "datasetErrorCount": {
          "format": "int32",
          "description": "The total number of dataset errors.",
          "type": "integer"
        },
        "documentErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training."
        },
        "datasetErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "type": "array"
        }
      },
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation"
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "GoogleTypeMoney",
      "properties": {
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the VisualElement."
        },
        "layout": {
          "description": "Layout for VisualElement.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      },
      "type": "object",
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata": {
      "description": "The metadata proto of `ResyncDataset` method.",
      "properties": {
        "individualDocumentResyncStatuses": {
          "description": "The list of document resync statuses. The same document could have multiple `individual_document_resync_statuses` if it has multiple inconsistencies.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataIndividualDocumentResyncStatus"
          },
          "type": "array"
        },
        "datasetResyncStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus"
          },
          "type": "array",
          "description": "The list of dataset resync statuses. Not checked when ResyncDatasetRequest.dataset_documents is specified."
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse": {
      "type": "object",
      "description": "The response proto of AutoLabelDocuments method.",
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsResponse": {
      "properties": {},
      "description": "Response of the batch update documents operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentProvenance": {
      "properties": {
        "id": {
          "type": "integer",
          "deprecated": true,
          "description": "The Id of this operation. Needs to be unique within the scope of the revision.",
          "format": "int32"
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "UPDATE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "type": "string",
          "description": "The type of provenance operation.",
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Updates any fields within the given provenance scope of the message. It overwrites the fields rather than replacing them. Use this when you want to update a field value of an entity without also updating all the child properties.",
            "Currently unused. Replace an element identified by `parent`.",
            "Deprecated. Request human review for the element identified by `parent`.",
            "Deprecated. Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Deprecated. Element is skipped in the validation process."
          ]
        },
        "parents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenanceParent"
          },
          "description": "References to the original elements that are replaced."
        },
        "revision": {
          "description": "The index of the revision that produced this element.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
    },
    "GoogleCloudDocumentaiV1beta2DocumentShardInfo": {
      "properties": {
        "shardCount": {
          "format": "int64",
          "description": "Total number of shards.",
          "type": "string"
        },
        "shardIndex": {
          "type": "string",
          "description": "The 0-based index of this shard.",
          "format": "int64"
        },
        "textOffset": {
          "type": "string",
          "description": "The index of the first character in Document.text in the overall document global text.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentShardInfo",
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionResponse",
      "description": "Response message for the SetDefaultProcessorVersion method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionResponse",
      "type": "object",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The destination processor version name."
        }
      },
      "description": "The response message for the ImportProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DeleteProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1Document": {
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Any error that occurred while processing this document."
        },
        "mimeType": {
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml).",
          "type": "string"
        },
        "entities": {
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentEntity"
          },
          "type": "array"
        },
        "pages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPage"
          },
          "description": "Visual page layout for the Document.",
          "type": "array"
        },
        "content": {
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "type": "string",
          "format": "byte"
        },
        "textChanges": {
          "description": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextChange"
          }
        },
        "documentLayout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayout",
          "description": "Parsed layout of the document."
        },
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentRevision"
          },
          "description": "Placeholder. Revision history of this document."
        },
        "shardInfo": {
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentShardInfo"
        },
        "textStyles": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentStyle"
          },
          "type": "array",
          "description": "Styles for the Document.text.",
          "deprecated": true
        },
        "chunkedDocument": {
          "description": "Document chunked based on chunking config.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentChunkedDocument"
        },
        "text": {
          "type": "string",
          "description": "Optional. UTF-8 encoded text in reading order from the document."
        },
        "entityRelations": {
          "description": "Placeholder. Relationship among Document.entities.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentEntityRelation"
          }
        },
        "uri": {
          "type": "string",
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris)."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1Document",
      "type": "object",
      "description": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDimension": {
      "description": "Dimension for the page.",
      "properties": {
        "width": {
          "description": "Page width.",
          "format": "float",
          "type": "number"
        },
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        },
        "height": {
          "format": "float",
          "type": "number",
          "description": "Page height."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDimension"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId": {
      "type": "object",
      "properties": {
        "docId": {
          "description": "Required. The id of the document.",
          "type": "string"
        }
      },
      "description": "Identifies a document uniquely within the scope of a dataset in unmanaged option.",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId"
    },
    "GoogleCloudDocumentaiV1beta2DocumentChunkedDocumentChunkChunkPageFooter": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Footer in text format."
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentChunkedDocumentChunkChunkPageSpan",
          "description": "Page span of the footer."
        }
      },
      "type": "object",
      "description": "Represents the page footer associated with the chunk.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentChunkedDocumentChunkChunkPageFooter"
    },
    "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "description": "Responses for each individual document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse"
          }
        }
      },
      "type": "object",
      "description": "Response to an batch document processing request. This is returned in the LRO Operation after the operation is complete.",
      "id": "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse"
    },
    "GoogleCloudDocumentaiV1beta1DocumentShardInfo": {
      "properties": {
        "shardIndex": {
          "description": "The 0-based index of this shard.",
          "type": "string",
          "format": "int64"
        },
        "shardCount": {
          "description": "Total number of shards.",
          "format": "int64",
          "type": "string"
        },
        "textOffset": {
          "type": "string",
          "description": "The index of the first character in Document.text in the overall document global text.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentShardInfo",
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageBlock": {
      "type": "object",
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "deprecated": true
        },
        "layout": {
          "description": "Layout for Block.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageBlock"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus": {
      "properties": {
        "status": {
          "description": "The status of moving the document.",
          "$ref": "GoogleRpcStatus"
        },
        "documentId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
          "description": "The document id of the document."
        }
      },
      "description": "The status of each individual document in the batch move process.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus"
    },
    "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow",
      "type": "object",
      "description": "Represents a row in a table.",
      "properties": {
        "cells": {
          "description": "A table row is a list of table cells.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "description": "Response of the EvaluateProcessorVersion method.",
      "type": "object",
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta1DocumentDocumentLayout": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayout",
      "properties": {
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "List of blocks in the document."
        }
      },
      "type": "object",
      "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into."
    },
    "GoogleCloudDocumentaiV1SetDefaultProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionResponse",
      "description": "Response message for the SetDefaultProcessorVersion method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTokenStyleInfo": {
      "description": "Font and other text style attributes.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTokenStyleInfo",
      "properties": {
        "italic": {
          "description": "Whether the text is italic.",
          "type": "boolean"
        },
        "strikeout": {
          "type": "boolean",
          "description": "Whether the text is strikethrough. This feature is not supported yet."
        },
        "subscript": {
          "type": "boolean",
          "description": "Whether the text is a subscript. This feature is not supported yet."
        },
        "smallcaps": {
          "description": "Whether the text is in small caps. This feature is not supported yet.",
          "type": "boolean"
        },
        "underlined": {
          "type": "boolean",
          "description": "Whether the text is underlined."
        },
        "letterSpacing": {
          "format": "double",
          "description": "Letter spacing in points.",
          "type": "number"
        },
        "pixelFontSize": {
          "description": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷ `72.0`.",
          "type": "number",
          "format": "double"
        },
        "textColor": {
          "$ref": "GoogleTypeColor",
          "description": "Color of the text."
        },
        "fontType": {
          "type": "string",
          "description": "Name or style of the font."
        },
        "handwritten": {
          "type": "boolean",
          "description": "Whether the text is handwritten."
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Color of the background."
        },
        "superscript": {
          "type": "boolean",
          "description": "Whether the text is a superscript. This feature is not supported yet."
        },
        "fontSize": {
          "type": "integer",
          "description": "Font size in points (`1` point is `¹⁄₇₂` inches).",
          "format": "int32"
        },
        "bold": {
          "description": "Whether the text is bold (equivalent to font_weight is at least `700`).",
          "type": "boolean"
        },
        "fontWeight": {
          "format": "int32",
          "description": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for the DeleteProcessor method."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage": {
      "type": "object",
      "description": "Detected language for a structural component.",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence of detected language. Range `[0, 1]`.",
          "format": "float"
        },
        "languageCode": {
          "type": "string",
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
    },
    "GoogleCloudDocumentaiV1beta1DocumentEntityRelation": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentEntityRelation",
      "type": "object",
      "description": "Relationship between Entities.",
      "properties": {
        "subjectId": {
          "description": "Subject entity id.",
          "type": "string"
        },
        "relation": {
          "type": "string",
          "description": "Relationship description."
        },
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata",
      "description": "The long-running operation metadata for the EnableProcessor method."
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata",
      "description": "The long-running operation metadata for the ReviewDocument method.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "description": "Used only when Operation.done is false.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the operation.",
          "format": "google-datetime"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "questionId": {
          "type": "string",
          "description": "The Crowd Compute question ID."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata",
      "properties": {
        "individualAutoLabelStatuses": {
          "description": "The list of individual auto-labeling statuses of the dataset documents.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus"
          },
          "type": "array"
        },
        "totalDocumentCount": {
          "format": "int32",
          "description": "Total number of the auto-labeling documents.",
          "type": "integer"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "Metadata of the auto-labeling documents operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "splitExportStats": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          },
          "description": "The list of statistics for each dataset split type.",
          "type": "array"
        },
        "individualExportStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          },
          "description": "The list of response details of each document.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata",
      "description": "Metadata of the batch export documents operation."
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus",
      "description": "The status of each individual document in the batch delete process.",
      "type": "object",
      "properties": {
        "documentId": {
          "description": "The document id of the document.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of deleting the document in storage."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the CreateLabelerPool method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse": {
      "type": "object",
      "description": "The response proto of ResyncDataset method.",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse",
      "description": "Response of the import document operation."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageMatrix": {
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageMatrix",
      "properties": {
        "cols": {
          "description": "Number of columns in the matrix.",
          "type": "integer",
          "format": "int32"
        },
        "rows": {
          "format": "int32",
          "description": "Number of rows in the matrix.",
          "type": "integer"
        },
        "type": {
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html",
          "format": "int32",
          "type": "integer"
        },
        "data": {
          "format": "byte",
          "description": "The matrix data.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadata": {
      "description": "The long-running operation metadata for BatchProcessDocuments.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of the current batch processing.",
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was being cancelled.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The last update time of the operation.",
          "type": "string"
        },
        "individualProcessStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the operation."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed."
        }
      },
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadata"
    },
    "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell",
      "description": "Represents a cell in a table row.",
      "properties": {
        "rowSpan": {
          "format": "int32",
          "description": "How many rows this cell spans.",
          "type": "integer"
        },
        "colSpan": {
          "description": "How many columns this cell spans.",
          "type": "integer",
          "format": "int32"
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "A table cell is a list of blocks. Repeated blocks support further hierarchies and nested blocks.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageMatrix": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageMatrix",
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
      "type": "object",
      "properties": {
        "type": {
          "format": "int32",
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html",
          "type": "integer"
        },
        "cols": {
          "description": "Number of columns in the matrix.",
          "format": "int32",
          "type": "integer"
        },
        "rows": {
          "description": "Number of rows in the matrix.",
          "type": "integer",
          "format": "int32"
        },
        "data": {
          "description": "The matrix data.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageFormField": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageFormField",
      "properties": {
        "fieldName": {
          "description": "Layout for the FormField name. e.g. `Address`, `Email`, `Grand total`, `Phone number`, etc.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "correctedValueText": {
          "type": "string",
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction."
        },
        "correctedKeyText": {
          "type": "string",
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
          "description": "The history of this annotation."
        },
        "fieldValue": {
          "description": "Layout for the FormField value.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "valueType": {
          "type": "string",
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`"
        },
        "valueDetectedLanguages": {
          "description": "A list of detected languages for value together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "nameDetectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for name together with confidence."
        }
      },
      "description": "A form field detected on the page."
    },
    "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow",
      "description": "Represents a row in a table.",
      "properties": {
        "cells": {
          "description": "A table row is a list of table cells.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell"
          }
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for UpdateLabelerPool.",
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateLabelerPoolOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata": {
      "description": "Metadata of the sample documents operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "Metadata of the EvaluateProcessorVersion method."
    },
    "GoogleTypeTimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "id": "GoogleTypeTimeZone",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse",
      "properties": {
        "processorVersion": {
          "description": "The destination processor version name.",
          "type": "string"
        }
      },
      "description": "The response message for the ImportProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta1NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "GoogleCloudDocumentaiV1beta1NormalizedVertex",
      "type": "object",
      "properties": {
        "y": {
          "format": "float",
          "type": "number",
          "description": "Y coordinate (starts from the top of the image)."
        },
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The validation status of import config."
        },
        "inputGcsSource": {
          "description": "The source Cloud Storage URI specified in the import config.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document."
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageImage": {
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Raw byte content of the image.",
          "format": "byte"
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "Width of the image in pixels."
        },
        "height": {
          "description": "Height of the image in pixels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Rendered image contents for this page.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageImage"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageToken": {
      "properties": {
        "detectedBreak": {
          "description": "Detected break at the end of a Token.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak"
        },
        "provenance": {
          "deprecated": true,
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
        },
        "styleInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTokenStyleInfo",
          "description": "Text style attributes."
        },
        "layout": {
          "description": "Layout for Token.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageToken",
      "type": "object",
      "description": "A detected token."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata",
      "description": "The long-running operation metadata for updating the human review configuration.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1BatchProcessResponse": {
      "id": "GoogleCloudDocumentaiV1BatchProcessResponse",
      "properties": {},
      "description": "Response message for BatchProcessDocuments.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3RevisionRef": {
      "id": "GoogleCloudDocumentaiV1beta3RevisionRef",
      "type": "object",
      "description": "The revision reference specifies which revision on the document to read.",
      "properties": {
        "latestProcessorVersion": {
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Reads the revision given by the id."
        },
        "revisionCase": {
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ],
          "description": "Reads the revision by the predefined case.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPage": {
      "description": "A page in a Document.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPage",
      "type": "object",
      "properties": {
        "paragraphs": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageParagraph"
          },
          "type": "array",
          "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph."
        },
        "pageNumber": {
          "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing.",
          "format": "int32",
          "type": "integer"
        },
        "blocks": {
          "type": "array",
          "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageBlock"
          }
        },
        "tables": {
          "type": "array",
          "description": "A list of visually detected tables on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTable"
          }
        },
        "dimension": {
          "description": "Physical dimension of the page.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDimension"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for the page."
        },
        "visualElements": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement"
          },
          "description": "A list of detected non-text visual elements e.g. checkbox, signature etc. on the page.",
          "type": "array"
        },
        "symbols": {
          "type": "array",
          "description": "A list of visually detected symbols on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageSymbol"
          }
        },
        "formFields": {
          "description": "A list of visually detected form fields on the page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageFormField"
          }
        },
        "lines": {
          "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLine"
          },
          "type": "array"
        },
        "tokens": {
          "description": "A list of visually detected tokens on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageToken"
          },
          "type": "array"
        },
        "transforms": {
          "description": "Transformation matrices that were applied to the original document image to produce Page.image.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageMatrix"
          }
        },
        "image": {
          "description": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageImage"
        },
        "detectedBarcodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedBarcode"
          },
          "description": "A list of detected barcodes."
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "description": "The history of this page.",
          "deprecated": true
        },
        "imageQualityScores": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScores",
          "description": "Image quality scores."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentProvenanceParent": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentProvenanceParent",
      "description": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The id of the parent provenance.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "index": {
          "format": "int32",
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision.",
          "type": "integer"
        },
        "revision": {
          "type": "integer",
          "description": "The index of the index into current revision's parent_ids list.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiV1EnableProcessorResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiV1EnableProcessorResponse",
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScores": {
      "properties": {
        "detectedDefects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScoresDetectedDefect"
          },
          "description": "A list of detected defects."
        },
        "qualityScore": {
          "type": "number",
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality.",
          "format": "float"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScores",
      "description": "Image quality scores for the page image.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata",
      "type": "object",
      "description": "The long-running operation metadata for the DisableProcessor method."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak": {
      "description": "Detected break at the end of a Token.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "description": "Detected break type.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the ImportProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata for the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentLabel": {
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence score between 0 and 1 for label assignment.",
          "format": "float"
        },
        "name": {
          "description": "Name of the label. When the label is generated from AutoML Text Classification model, this field represents the name of the category.",
          "type": "string"
        },
        "automlModel": {
          "description": "Label is generated AutoML model. This field stores the full resource name of the AutoML model. Format: `projects/{project-id}/locations/{location-id}/models/{model-id}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Label attaches schema information and/or other metadata to segments within a Document. Multiple Labels on a single field can denote either different labels, different instances of the same label created at different times, or some combination of both.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentLabel"
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
      "properties": {
        "documentErrors": {
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "documentErrorCount": {
          "format": "int32",
          "description": "The total number of document errors.",
          "type": "integer"
        },
        "datasetErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training."
        },
        "datasetErrorCount": {
          "description": "The total number of dataset errors.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "properties": {
        "bodyRows": {
          "description": "Body rows containing main table content.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "type": "array"
        },
        "headerRows": {
          "description": "Header rows at the top of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "type": "array"
        },
        "caption": {
          "description": "Table caption/title.",
          "type": "string"
        }
      },
      "description": "Represents a table type block.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionResponse": {
      "description": "Response message associated with the ExportProcessorVersion operation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionResponse",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage URI containing the output artifacts."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse": {
      "properties": {
        "processorVersion": {
          "description": "The resource name of the processor version produced by training.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse",
      "description": "The response for TrainProcessorVersion."
    },
    "GoogleCloudDocumentaiV1beta2EntityExtractionParams": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether to enable entity extraction.",
          "type": "boolean"
        },
        "modelVersion": {
          "type": "string",
          "description": "Model version of the entity extraction. Default is \"builtin/stable\". Specify \"builtin/latest\" for the latest model."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2EntityExtractionParams",
      "description": "Parameters to control entity extraction behavior."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef": {
      "properties": {
        "page": {
          "description": "Required. Index into the Document.pages element, for example using `Document.pages` to locate the related page element. This field is skipped when its value is the default `0`. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "type": "string",
          "format": "int64"
        },
        "layoutType": {
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ],
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ],
          "description": "Optional. The type of the layout element that is being referenced if any.",
          "type": "string"
        },
        "confidence": {
          "description": "Optional. Confidence of detected page element, if applicable. Range `[0, 1]`.",
          "type": "number",
          "format": "float"
        },
        "layoutId": {
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead.",
          "type": "string",
          "deprecated": true
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1beta1BoundingPoly",
          "description": "Optional. Identifies the bounding polygon of a layout element on the page. If `layout_type` is set, the bounding polygon must be exactly the same to the layout element it's referring to."
        }
      },
      "description": "Represents a weak reference to a page element within a document.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse": {
      "type": "object",
      "description": "Response of the delete documents operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionResponse",
      "description": "The response for TrainProcessorVersion.",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The resource name of the processor version produced by training."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ReviewDocumentResponse": {
      "description": "Response message for the ReviewDocument method.",
      "id": "GoogleCloudDocumentaiV1ReviewDocumentResponse",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "REJECTED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The review operation is rejected by the reviewer.",
            "The review operation is succeeded."
          ],
          "description": "The state of the review operation.",
          "type": "string"
        },
        "gcsDestination": {
          "description": "The Cloud Storage uri for the human reviewed document if the review is succeeded.",
          "type": "string"
        },
        "rejectionReason": {
          "type": "string",
          "description": "The reason why the review is rejected by reviewer."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextChange": {
      "description": "This message is used for text changes aka. OCR corrections.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextChange",
      "type": "object",
      "properties": {
        "changedText": {
          "description": "The text that replaces the text identified in the `text_anchor`.",
          "type": "string"
        },
        "provenance": {
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
          },
          "description": "The history of this annotation."
        },
        "textAnchor": {
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionResponse",
      "description": "Response message for the UndeployProcessorVersion method.",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1EnableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the EnableProcessor method.",
      "id": "GoogleCloudDocumentaiV1EnableProcessorMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DatasetSpannerIndexingConfig": {
      "properties": {},
      "description": "Configuration specific to spanner-based indexing.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DatasetSpannerIndexingConfig"
    },
    "GoogleCloudDocumentaiV1beta1GcsDestination": {
      "description": "The Google Cloud Storage location where the output file will be written to.",
      "id": "GoogleCloudDocumentaiV1beta1GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse": {
      "type": "object",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta1OutputConfig",
          "description": "The output location of the parsed responses. The responses are written to this location as JSON-serialized `Document` objects."
        },
        "inputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta1InputConfig",
          "description": "Information about the input file. This is the same as the corresponding input config in the request."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse",
      "description": "Response to a single document processing request."
    },
    "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig": {
      "id": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig",
      "properties": {},
      "description": "Configuration specific to an unmanaged dataset.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DeleteProcessorMetadata": {
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "id": "GoogleCloudDocumentaiV1DeleteProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock",
      "type": "object",
      "description": "Represents a list type block.",
      "properties": {
        "type": {
          "description": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`.",
          "type": "string"
        },
        "listEntries": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
          },
          "type": "array",
          "description": "List entries that constitute a list block."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata": {
      "properties": {
        "individualBatchDeleteStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "type": "array",
          "description": "The list of response details of each document."
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "totalDocumentCount": {
          "type": "integer",
          "description": "Total number of documents deleting from dataset.",
          "format": "int32"
        },
        "errorDocumentCount": {
          "format": "int32",
          "description": "Total number of documents that failed to be deleted in storage.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata"
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse": {
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse",
      "type": "object",
      "description": "Response of the EvaluateProcessorVersion method."
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata": {
      "properties": {
        "individualBatchDeleteStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "description": "The list of response details of each document.",
          "type": "array"
        },
        "errorDocumentCount": {
          "format": "int32",
          "description": "Total number of documents that failed to be deleted in storage.",
          "type": "integer"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "totalDocumentCount": {
          "description": "Total number of documents deleting from dataset.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata for the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the ImportProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntityRelation": {
      "type": "object",
      "properties": {
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        },
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        },
        "relation": {
          "description": "Relationship description.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation",
      "description": "Relationship between Entities."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageSymbol": {
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for Symbol."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageSymbol",
      "description": "A detected symbol."
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse": {
      "description": "Response of the delete documents operation.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse"
    },
    "GoogleCloudDocumentaiV1beta3CommonOperationMetadata": {
      "properties": {
        "state": {
          "description": "The state of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
      "type": "object",
      "description": "The common metadata for long running operations."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageFormField": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageFormField",
      "description": "A form field detected on the page.",
      "type": "object",
      "properties": {
        "nameDetectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages for name together with confidence."
        },
        "fieldName": {
          "description": "Layout for the FormField name. e.g. `Address`, `Email`, `Grand total`, `Phone number`, etc.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
        },
        "correctedKeyText": {
          "type": "string",
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction."
        },
        "valueType": {
          "type": "string",
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`"
        },
        "correctedValueText": {
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction.",
          "type": "string"
        },
        "valueDetectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for value together with confidence.",
          "type": "array"
        },
        "fieldValue": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for the FormField value."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentId": {
      "type": "object",
      "properties": {
        "gcsManagedDocId": {
          "description": "A document id within user-managed Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId"
        },
        "unmanagedDocId": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId",
          "description": "A document id within unmanaged dataset."
        },
        "revisionRef": {
          "description": "Points to a specific revision of the document if set.",
          "$ref": "GoogleCloudDocumentaiV1beta3RevisionRef"
        }
      },
      "description": "Document Identifier.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentId"
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse": {
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the created evaluation."
        }
      },
      "description": "Response of the EvaluateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2OperationMetadata": {
      "description": "Contains metadata for the BatchProcessDocuments operation.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request is received.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "type": "string",
          "description": "The state of the current batch processing.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the operation."
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2OperationMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse",
      "type": "object",
      "description": "Response of the batch move documents operation."
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata": {
      "description": "Metadata of the import document operation.",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata",
      "properties": {
        "individualImportStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus"
          }
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "totalDocumentCount": {
          "format": "int32",
          "description": "Total number of the documents that are qualified for importing.",
          "type": "integer"
        },
        "importConfigValidationResults": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult"
          },
          "description": "Validation statuses of the batch documents import config.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata": {
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDimension": {
      "description": "Dimension for the page.",
      "properties": {
        "width": {
          "type": "number",
          "format": "float",
          "description": "Page width."
        },
        "height": {
          "type": "number",
          "format": "float",
          "description": "Page height."
        },
        "unit": {
          "type": "string",
          "description": "Dimension unit."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDimension"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage": {
      "description": "Detected language for a structural component.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of detected language. Range `[0, 1]`."
        },
        "languageCode": {
          "type": "string",
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan",
      "properties": {
        "pageStart": {
          "format": "int32",
          "type": "integer",
          "description": "Page where block starts in the document."
        },
        "pageEnd": {
          "type": "integer",
          "format": "int32",
          "description": "Page where block ends in the document."
        }
      },
      "description": "Represents where the block starts and ends in the document."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The common metadata about the operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "Metadata message associated with the ExportProcessorVersion operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata": {
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata"
    },
    "GoogleCloudDocumentaiV1beta1DocumentChunkedDocument": {
      "properties": {
        "chunks": {
          "description": "List of chunks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentChunkedDocumentChunk"
          }
        }
      },
      "description": "Represents the chunks that the document is divided into.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentChunkedDocument"
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse": {
      "description": "Response message for the UndeployProcessorVersion method.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow": {
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell"
          },
          "description": "Cells that make up this row."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow",
      "description": "A row of table cells.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTable": {
      "description": "A table representation similar to HTML table structure.",
      "properties": {
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
          "deprecated": true,
          "description": "The history of this table."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "layout": {
          "description": "Layout for Table.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "headerRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow"
          },
          "description": "Header rows of the table."
        },
        "bodyRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow"
          },
          "type": "array",
          "description": "Body rows of the table."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTable",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextAnchor": {
      "properties": {
        "content": {
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields.",
          "type": "string"
        },
        "textSegments": {
          "description": "The text segments from the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Text reference indexing into the Document.text.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadata",
      "properties": {
        "individualBatchMoveStatuses": {
          "description": "The list of response details of each document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus"
          }
        },
        "destSplitType": {
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "description": "The destination dataset split type.",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "type": "string"
        },
        "destDatasetType": {
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "deprecated": true,
          "type": "string",
          "description": "The destination dataset split type."
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentRevision": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentRevision",
      "description": "Contains past or forward revisions of this document.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time that the revision was created, internally generated by doc proto storage at the time of create.",
          "type": "string"
        },
        "parent": {
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "deprecated": true
        },
        "humanReview": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview",
          "description": "Human Review information of this revision."
        },
        "id": {
          "description": "Id of the revision, internally generated by doc proto storage. Unique within the context of the document.",
          "type": "string"
        },
        "processor": {
          "description": "If the annotation was made by processor identify the processor by its resource name.",
          "type": "string"
        },
        "agent": {
          "type": "string",
          "description": "If the change was made by a person specify the name or id of that person."
        },
        "parentIds": {
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock",
      "properties": {
        "text": {
          "type": "string",
          "description": "Text content stored in the block."
        },
        "blocks": {
          "description": "A text block could further have child blocks. Repeated blocks support further hierarchies and nested blocks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlock"
          }
        },
        "type": {
          "type": "string",
          "description": "Type of the text in the block. Available options are: `paragraph`, `subtitle`, `heading-1`, `heading-2`, `heading-3`, `heading-4`, `heading-5`, `header`, `footer`."
        }
      },
      "description": "Represents a text type block."
    },
    "GoogleCloudDocumentaiV1beta2OcrParams": {
      "id": "GoogleCloudDocumentaiV1beta2OcrParams",
      "type": "object",
      "properties": {
        "languageHints": {
          "description": "List of languages to use for OCR. In most cases, an empty value yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting `language_hints` is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong). Document processing returns an error if one or more of the specified languages is not one of the supported languages.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Parameters to control Optical Character Recognition (OCR) behavior."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTable": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTable",
      "properties": {
        "bodyRows": {
          "description": "Body rows of the table.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow"
          }
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "deprecated": true,
          "description": "The history of this table."
        },
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow"
          },
          "type": "array",
          "description": "Header rows of the table."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for Table."
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        }
      },
      "description": "A table representation similar to HTML table structure.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
      "properties": {
        "caption": {
          "type": "string",
          "description": "Table caption/title."
        },
        "headerRows": {
          "type": "array",
          "description": "Header rows at the top of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          }
        },
        "bodyRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          },
          "description": "Body rows containing main table content.",
          "type": "array"
        }
      },
      "description": "Represents a table type block.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "questionId": {
          "type": "string",
          "description": "The Crowd Compute question ID."
        }
      },
      "description": "The long-running operation metadata for the ReviewDocument method.",
      "id": "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan",
      "type": "object",
      "description": "Represents where the block starts and ends in the document.",
      "properties": {
        "pageStart": {
          "type": "integer",
          "description": "Page where block starts in the document.",
          "format": "int32"
        },
        "pageEnd": {
          "format": "int32",
          "description": "Page where block ends in the document.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentChunkedDocumentChunk": {
      "properties": {
        "content": {
          "description": "Text content of the chunk.",
          "type": "string"
        },
        "sourceBlockIds": {
          "description": "Unused.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageFooters": {
          "description": "Page footers associated with the chunk.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentChunkedDocumentChunkChunkPageFooter"
          },
          "type": "array"
        },
        "pageHeaders": {
          "type": "array",
          "description": "Page headers associated with the chunk.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentChunkedDocumentChunkChunkPageHeader"
          }
        },
        "chunkId": {
          "type": "string",
          "description": "ID of the chunk."
        },
        "pageSpan": {
          "description": "Page span of the chunk.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentChunkedDocumentChunkChunkPageSpan"
        }
      },
      "description": "Represents a chunk.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentChunkedDocumentChunk",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentChunkedDocument": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentChunkedDocument",
      "description": "Represents the chunks that the document is divided into.",
      "properties": {
        "chunks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentChunkedDocumentChunk"
          },
          "description": "List of chunks.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2BoundingPoly": {
      "type": "object",
      "properties": {
        "normalizedVertices": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2NormalizedVertex"
          },
          "type": "array",
          "description": "The bounding polygon normalized vertices."
        },
        "vertices": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2Vertex"
          },
          "description": "The bounding polygon vertices.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2BoundingPoly",
      "description": "A bounding polygon for the detected image annotation."
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionMetadata": {
[...]
