{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "documentai",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "revision": "20230721",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "documents": {
              "methods": {
                "batchProcess": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no location is specified, a region will be chosen automatically.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/documents:batchProcess",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsRequest"
                  },
                  "id": "documentai.projects.locations.documents.batchProcess",
                  "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                  "path": "v1beta2/{+parent}/documents:batchProcess"
                },
                "process": {
                  "id": "documentai.projects.locations.documents.process",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1beta2ProcessDocumentRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1beta2Document"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no location is specified, a region will be chosen automatically. This field is only populated when used in ProcessDocument method."
                    }
                  },
                  "description": "Processes a single document.",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/documents:process",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta2/{+parent}/documents:process"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "id": "documentai.projects.locations.operations.get",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta2/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            }
          }
        },
        "documents": {
          "methods": {
            "process": {
              "description": "Processes a single document.",
              "flatPath": "v1beta2/projects/{projectsId}/documents:process",
              "httpMethod": "POST",
              "id": "documentai.projects.documents.process",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no location is specified, a region will be chosen automatically. This field is only populated when used in ProcessDocument method.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta2/{+parent}/documents:process",
              "response": {
                "$ref": "GoogleCloudDocumentaiV1beta2Document"
              },
              "request": {
                "$ref": "GoogleCloudDocumentaiV1beta2ProcessDocumentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "batchProcess": {
              "id": "documentai.projects.documents.batchProcess",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no location is specified, a region will be chosen automatically."
                }
              },
              "path": "v1beta2/{+parent}/documents:batchProcess",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta2/projects/{projectsId}/documents:batchProcess",
              "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format."
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "documentai.projects.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "path": "v1beta2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/operations/{operationsId}"
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDocumentaiV1beta2EntityExtractionParams": {
      "id": "GoogleCloudDocumentaiV1beta2EntityExtractionParams",
      "description": "Parameters to control entity extraction behavior.",
      "properties": {
        "enabled": {
          "description": "Whether to enable entity extraction.",
          "type": "boolean"
        },
        "modelVersion": {
          "description": "Model version of the entity extraction. Default is \"builtin/stable\". Specify \"builtin/latest\" for the latest model.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement": {
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement",
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for VisualElement."
        },
        "type": {
          "type": "string",
          "description": "Type of the VisualElement."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse",
      "properties": {},
      "description": "Response of the delete documents operation."
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation",
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "type": "object",
      "properties": {
        "datasetErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of dataset errors."
        },
        "datasetErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "type": "array"
        },
        "documentErrorCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of document errors."
        },
        "documentErrors": {
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadata",
      "description": "The metadata that represents a processor version being created.",
      "properties": {
        "trainingDatasetValidation": {
          "description": "The training dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "testDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation",
          "description": "The test dataset validation information."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionResponse": {
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The resource name of the processor version produced by training."
        }
      },
      "type": "object",
      "description": "The response for TrainProcessorVersion.",
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement",
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page.",
      "type": "object",
      "properties": {
        "layout": {
          "description": "Layout for VisualElement.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        },
        "type": {
          "type": "string",
          "description": "Type of the VisualElement."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDimension": {
      "properties": {
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        },
        "height": {
          "type": "number",
          "format": "float",
          "description": "Page height."
        },
        "width": {
          "type": "number",
          "format": "float",
          "description": "Page width."
        }
      },
      "description": "Dimension for the page.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDimension"
    },
    "GoogleCloudDocumentaiV1beta2ProcessDocumentRequest": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no location is specified, a region will be chosen automatically. This field is only populated when used in ProcessDocument method."
        },
        "outputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta2OutputConfig",
          "description": "The desired output location. This field is only needed in BatchProcessDocumentsRequest."
        },
        "formExtractionParams": {
          "description": "Controls form extraction behavior. If not specified, the system will decide reasonable defaults.",
          "$ref": "GoogleCloudDocumentaiV1beta2FormExtractionParams"
        },
        "entityExtractionParams": {
          "description": "Controls entity extraction behavior. If not specified, the system will decide reasonable defaults.",
          "$ref": "GoogleCloudDocumentaiV1beta2EntityExtractionParams"
        },
        "inputConfig": {
          "description": "Required. Information about the input file.",
          "$ref": "GoogleCloudDocumentaiV1beta2InputConfig"
        },
        "ocrParams": {
          "$ref": "GoogleCloudDocumentaiV1beta2OcrParams",
          "description": "Controls OCR behavior. If not specified, the system will decide reasonable defaults."
        },
        "documentType": {
          "type": "string",
          "description": "Specifies a known document type for deeper structure detection. Valid values are currently \"general\" and \"invoice\". If not provided, \"general\"\\ is used as default. If any other value is given, the request is rejected."
        },
        "automlParams": {
          "$ref": "GoogleCloudDocumentaiV1beta2AutoMlParams",
          "description": "Controls AutoML model prediction behavior. AutoMlParams cannot be used together with other Params."
        },
        "tableExtractionParams": {
          "description": "Controls table extraction behavior. If not specified, the system will decide reasonable defaults.",
          "$ref": "GoogleCloudDocumentaiV1beta2TableExtractionParams"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2ProcessDocumentRequest",
      "description": "Request to process one document.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3HumanReviewStatus": {
      "id": "GoogleCloudDocumentaiV1beta3HumanReviewStatus",
      "properties": {
        "humanReviewOperation": {
          "description": "The name of the operation triggered by the processed document. This field is populated only when the state is `HUMAN_REVIEW_IN_PROGRESS`. It has the same response type and metadata as the long-running operation returned by ReviewDocument.",
          "type": "string"
        },
        "stateMessage": {
          "description": "A message providing more details about the human review state.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Human review state is unspecified. Most likely due to an internal error.",
            "Human review is skipped for the document. This can happen because human review isn't enabled on the processor or the processing request has been set to skip this document.",
            "Human review validation is triggered and passed, so no review is needed.",
            "Human review validation is triggered and the document is under review.",
            "Some error happened during triggering human review, see the state_message for details."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SKIPPED",
            "VALIDATION_PASSED",
            "IN_PROGRESS",
            "ERROR"
          ],
          "type": "string",
          "description": "The state of human review on the processing request."
        }
      },
      "type": "object",
      "description": "The status of human review on a processed document."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow",
      "properties": {
        "cells": {
          "description": "Cells that make up this row.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell"
          }
        }
      },
      "type": "object",
      "description": "A row of table cells."
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentId": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentId",
      "properties": {
        "revisionRef": {
          "description": "Points to a specific revision of the document if set.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3RevisionRef"
        },
        "gcsManagedDocId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
          "description": "A document id within user-managed Cloud Storage."
        },
        "unmanagedDocId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId",
          "description": "A document id within unmanaged dataset."
        }
      },
      "description": "Document Identifier.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
      "properties": {
        "datasetErrors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training."
        },
        "documentErrorCount": {
          "description": "The total number of document errors.",
          "format": "int32",
          "type": "integer"
        },
        "datasetErrorCount": {
          "type": "integer",
          "description": "The total number of dataset errors.",
          "format": "int32"
        },
        "documentErrors": {
          "type": "array",
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScores": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScores",
      "description": "Image quality scores for the page image.",
      "properties": {
        "qualityScore": {
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality.",
          "type": "number",
          "format": "float"
        },
        "detectedDefects": {
          "type": "array",
          "description": "A list of detected defects.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageImageQualityScoresDetectedDefect"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDetectedBarcode": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedBarcode",
      "type": "object",
      "description": "A detected barcode.",
      "properties": {
        "barcode": {
          "description": "Detailed barcode information of the DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta2Barcode"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for DetectedBarcode."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsRequest": {
      "description": "Request to batch process documents as an asynchronous operation. The output is written to Cloud Storage as JSON in the [Document] format.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2ProcessDocumentRequest"
          },
          "type": "array",
          "description": "Required. Individual requests for each document."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsRequest"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsMetadataIndividualBatchMoveStatus",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of moving the document."
        },
        "documentId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
          "description": "The document id of the document."
        }
      },
      "description": "The status of each individual document in the batch move process."
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata": {
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2NormalizedVertex": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "x": {
          "type": "number",
          "format": "float",
          "description": "X coordinate."
        },
        "y": {
          "description": "Y coordinate (starts from the top of the image).",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation": {
      "type": "object",
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation",
      "properties": {
        "documentErrors": {
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "datasetErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training."
        },
        "documentErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of document errors."
        },
        "datasetErrorCount": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of dataset errors."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata",
      "description": "The long-running operation metadata for the DisableProcessor method."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell",
      "description": "A cell representation inside the table.",
      "type": "object",
      "properties": {
        "rowSpan": {
          "type": "integer",
          "format": "int32",
          "description": "How many rows this cell spans."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for TableCell."
        },
        "colSpan": {
          "format": "int32",
          "type": "integer",
          "description": "How many columns this cell spans."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata",
      "properties": {
        "splitExportStats": {
          "description": "The list of statistics for each dataset split type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          }
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "individualExportStatuses": {
          "description": "The list of response details of each document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          }
        }
      },
      "description": "Metadata of the batch export documents operation."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionResponse": {
      "description": "The response for TrainProcessorVersion.",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionResponse",
      "type": "object",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The resource name of the processor version produced by training."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageImage": {
      "type": "object",
      "properties": {
        "height": {
          "description": "Height of the image in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Width of the image in pixels."
        },
        "mimeType": {
          "description": "Encoding [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml) for the image.",
          "type": "string"
        },
        "content": {
          "format": "byte",
          "description": "Raw byte content of the image.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageImage",
      "description": "Rendered image contents for this page."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScores": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScores",
      "properties": {
        "qualityScore": {
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality.",
          "type": "number",
          "format": "float"
        },
        "detectedDefects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScoresDetectedDefect"
          },
          "description": "A list of detected defects."
        }
      },
      "description": "Image quality scores for the page image."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionResponse": {
      "description": "Response message associated with the ExportProcessorVersion operation.",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage URI containing the output artifacts."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsResponse",
      "description": "The response proto of AutoLabelDocuments method.",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The last update time of the operation.",
          "format": "google-datetime"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Used only when Operation.done is false.",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "type": "string"
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed."
        },
        "questionId": {
          "description": "The Crowd Compute question ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata",
      "description": "The long-running operation metadata for the ReviewDocument method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata",
      "type": "object",
      "properties": {
        "testDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
          "description": "The test dataset validation information."
        },
        "trainingDatasetValidation": {
          "description": "The training dataset validation information.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The metadata that represents a processor version being created."
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionResponse": {
      "description": "Response message for the UndeployProcessorVersion method.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeployProcessorVersion method."
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageSymbol": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageSymbol",
      "description": "A detected symbol.",
      "properties": {
        "layout": {
          "description": "Layout for Symbol.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of resyncing the dataset with regards to the detected inconsistency. Empty if `validate_only` is true in the request.",
          "$ref": "GoogleRpcStatus"
        },
        "datasetInconsistencyType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The marker file under the dataset folder is not found."
          ],
          "description": "The type of the inconsistency of the dataset.",
          "enum": [
            "DATASET_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DATASET_INCONSISTENCY_TYPE_NO_STORAGE_MARKER"
          ]
        }
      },
      "description": "Resync status against inconsistency types on the dataset level.",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus",
      "type": "object",
      "properties": {
        "inputGcsSource": {
          "description": "The source Cloud Storage URI of the document.",
          "type": "string"
        },
        "outputDocumentId": {
          "description": "The document id of imported document if it was successful, otherwise empty.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId"
        },
        "status": {
          "description": "The status of the importing of the document.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The status of each individual document in the import process."
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionMetadata",
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak",
      "description": "Detected break at the end of a Token.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "description": "Detected break type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "Metadata of the sample documents operation."
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionMetadata",
      "type": "object",
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document.",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The validation status of import config."
        },
        "inputGcsSource": {
          "description": "The source Cloud Storage URI specified in the import config.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse": {
      "type": "object",
      "description": "Response of the batch move documents operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchMoveDocumentsResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTokenStyleInfo": {
      "type": "object",
      "properties": {
        "subscript": {
          "description": "Whether the text is a subscript.",
          "type": "boolean"
        },
        "letterSpacing": {
          "format": "double",
          "type": "number",
          "description": "Letter spacing in points."
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Color of the background."
        },
        "strikeout": {
          "type": "boolean",
          "description": "Whether the text is strikethrough."
        },
        "superscript": {
          "description": "Whether the text is a superscript.",
          "type": "boolean"
        },
        "textColor": {
          "description": "Color of the text.",
          "$ref": "GoogleTypeColor"
        },
        "bold": {
          "description": "Whether the text is bold (equivalent to font_weight is at least `700`).",
          "type": "boolean"
        },
        "underlined": {
          "type": "boolean",
          "description": "Whether the text is underlined."
        },
        "smallcaps": {
          "type": "boolean",
          "description": "Whether the text is in small caps."
        },
        "fontSize": {
          "description": "Font size in points (`1` point is `¹⁄₇₂` inches).",
          "type": "integer",
          "format": "int32"
        },
        "handwritten": {
          "description": "Whether the text is handwritten.",
          "type": "boolean"
        },
        "italic": {
          "type": "boolean",
          "description": "Whether the text is italic."
        },
        "fontWeight": {
          "description": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`.",
          "type": "integer",
          "format": "int32"
        },
        "fontType": {
          "description": "Name or style of the font.",
          "type": "string"
        },
        "pixelFontSize": {
          "type": "number",
          "description": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷ `72.0`.",
          "format": "double"
        }
      },
      "description": "Font and other text style attributes.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTokenStyleInfo"
    },
    "GoogleCloudDocumentaiV1beta3Dataset": {
      "id": "GoogleCloudDocumentaiV1beta3Dataset",
      "properties": {
        "unmanagedDatasetConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig",
          "description": "Optional. Unmanaged dataset configuration. Use this configuration if the dataset documents are managed by the document service internally (not user-managed)."
        },
        "spannerIndexingConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetSpannerIndexingConfig",
          "description": "Optional. A lightweight indexing source with low latency and high reliability, but lacking advanced features like CMEK and content-based search."
        },
        "documentWarehouseConfig": {
          "description": "Optional. Document AI Warehouse-based dataset configuration.",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNINITIALIZED",
            "INITIALIZING",
            "INITIALIZED"
          ],
          "description": "Required. State of the dataset. Ignored when updating dataset.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified enum, should not be used.",
            "Dataset has not been initialized.",
            "Dataset is being initialized.",
            "Dataset has been initialized."
          ]
        },
        "gcsManagedConfig": {
          "description": "Optional. User-managed Cloud Storage dataset configuration. Use this configuration if the dataset documents are stored under a user-managed Cloud Storage location.",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig"
        },
        "name": {
          "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`",
          "type": "string"
        }
      },
      "description": "A singleton resource under a Processor which configures a collection of documents.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScoresDetectedDefect": {
      "description": "Image Quality Defects",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageImageQualityScoresDetectedDefect",
      "properties": {
        "confidence": {
          "description": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists.",
          "format": "float",
          "type": "number"
        },
        "type": {
          "type": "string",
          "description": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentTextAnchorTextSegment": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentTextAnchorTextSegment",
      "properties": {
        "startIndex": {
          "type": "string",
          "format": "int64",
          "description": "TextSegment start UTF-8 char index in the Document.text."
        },
        "endIndex": {
          "type": "string",
          "description": "TextSegment half open end UTF-8 char index in the Document.text.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset"
    },
    "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
      "properties": {
        "schema": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The schema in Document AI Warehouse associated with the dataset."
        },
        "collection": {
          "readOnly": true,
          "description": "Output only. The collection in Document AI Warehouse associated with the dataset.",
          "type": "string"
        }
      },
      "description": "Configuration specific to the Document AI Warehouse-based implementation."
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse": {
      "type": "object",
      "description": "Response message for the UndeployProcessorVersion method.",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview": {
      "type": "object",
      "properties": {
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`.",
          "type": "string"
        },
        "state": {
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`.",
          "type": "string"
        }
      },
      "description": "Human Review information of the document.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview"
    },
    "GoogleCloudDocumentaiV1EnableProcessorResponse": {
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EnableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorResponse": {
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus": {
      "properties": {
        "documentId": {
          "description": "The document id of the document.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId"
        },
        "status": {
          "description": "The status of deleting the document in storage.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The status of each individual document in the batch delete process.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
    },
    "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse": {
      "id": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse",
      "type": "object",
      "description": "Response to a single document processing request.",
      "properties": {
        "inputConfig": {
          "description": "Information about the input file. This is the same as the corresponding input config in the request.",
          "$ref": "GoogleCloudDocumentaiV1beta1InputConfig"
        },
        "outputConfig": {
          "description": "The output location of the parsed responses. The responses are written to this location as JSON-serialized `Document` objects.",
          "$ref": "GoogleCloudDocumentaiV1beta1OutputConfig"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdGCSManagedDocumentId",
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "Required. The Cloud Storage URI where the actual document is stored.",
          "type": "string"
        },
        "cwDocId": {
          "description": "Id of the document (indexed) managed by Content Warehouse.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentEntity": {
      "properties": {
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
          "description": "Optional. The history of this annotation."
        },
        "type": {
          "type": "string",
          "description": "Required. Entity type from a schema e.g. `Address`."
        },
        "properties": {
          "type": "array",
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentEntity"
          }
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor",
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text."
        },
        "id": {
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Optional. Confidence of detected Schema entity. Range `[0, 1]`."
        },
        "redacted": {
          "description": "Optional. Whether the entity will be redacted for de-identification purposes.",
          "type": "boolean"
        },
        "pageAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageAnchor",
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found."
        },
        "normalizedValue": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue",
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (e.g. address) is not supported for certain parsers. This field is also only populated for certain supported document types."
        },
        "mentionId": {
          "type": "string",
          "description": "Optional. Deprecated. Use `id` field instead."
        },
        "mentionText": {
          "description": "Optional. Text value of the entity e.g. `1600 Amphitheatre Pkwy`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentEntity",
      "type": "object",
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location."
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId",
      "type": "object",
      "description": "Identifies a document uniquely within the scope of a dataset in unmanaged option.",
      "properties": {
        "docId": {
          "type": "string",
          "description": "Required. The id of the document."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDetectedBarcode": {
      "type": "object",
      "properties": {
        "barcode": {
          "description": "Detailed barcode information of the DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta1Barcode"
        },
        "layout": {
          "description": "Layout for DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        }
      },
      "description": "A detected barcode.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedBarcode"
    },
    "GoogleCloudDocumentaiV1beta2DocumentStyle": {
      "type": "object",
      "properties": {
        "color": {
          "description": "Text color.",
          "$ref": "GoogleTypeColor"
        },
        "textStyle": {
          "type": "string",
          "description": "[Text style](https://www.w3schools.com/cssref/pr_font_font-style.asp). Possible values are `normal`, `italic`, and `oblique`."
        },
        "backgroundColor": {
          "description": "Text background color.",
          "$ref": "GoogleTypeColor"
        },
        "textDecoration": {
          "type": "string",
          "description": "[Text decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp). Follows CSS standard. "
        },
        "fontWeight": {
          "description": "[Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp). Possible values are `normal`, `bold`, `bolder`, and `lighter`.",
          "type": "string"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "fontFamily": {
          "description": "Font family such as `Arial`, `Times New Roman`. https://www.w3schools.com/cssref/pr_font_font-family.asp",
          "type": "string"
        },
        "fontSize": {
          "description": "Font size.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize"
        }
      },
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentStyle"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat": {
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat",
      "description": "The statistic representing a dataset split type for this export.",
      "properties": {
        "splitType": {
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "description": "The dataset split type.",
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "type": "string"
        },
        "totalDocumentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of documents with the given dataset split type to be exported."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntityRelation": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation",
      "properties": {
        "relation": {
          "type": "string",
          "description": "Relationship description."
        },
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        },
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        }
      },
      "description": "Relationship between Entities.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDimension": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDimension",
      "type": "object",
      "description": "Dimension for the page.",
      "properties": {
        "height": {
          "format": "float",
          "description": "Page height.",
          "type": "number"
        },
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        },
        "width": {
          "description": "Page width.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageAnchor": {
      "properties": {
        "pageRefs": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageAnchorPageRef"
          },
          "type": "array",
          "description": "One or more references to visual page elements"
        }
      },
      "description": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageAnchor"
    },
    "GoogleCloudDocumentaiV1beta1DocumentProvenance": {
      "type": "object",
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
      "properties": {
        "revision": {
          "format": "int32",
          "deprecated": true,
          "description": "The index of the revision that produced this element.",
          "type": "integer"
        },
        "id": {
          "type": "integer",
          "description": "The Id of this operation. Needs to be unique within the scope of the revision.",
          "format": "int32",
          "deprecated": true
        },
        "type": {
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Updates any fields within the given provenance scope of the message. It overwrites the fields rather than replacing them. Use this when you want to update a field value of an entity without also updating all the child properties.",
            "Currently unused. Replace an element identified by `parent`.",
            "Deprecated. Request human review for the element identified by `parent`.",
            "Deprecated. Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Deprecated. Element is skipped in the validation process."
          ],
          "description": "The type of provenance operation.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "UPDATE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ]
        },
        "parents": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent"
          },
          "type": "array",
          "description": "References to the original elements that are replaced."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata",
      "description": "Metadata of the auto-labeling documents operation.",
      "properties": {
        "totalDocumentCount": {
          "format": "int32",
          "description": "Total number of the auto-labeling documents.",
          "type": "integer"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "individualAutoLabelStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus"
          },
          "description": "The list of individual auto-labeling statuses of the dataset documents.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadata",
      "properties": {
        "state": {
          "description": "The state of the current batch processing.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was being cancelled.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ]
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "individualProcessStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the operation.",
          "format": "google-datetime"
        }
      },
      "description": "The long-running operation metadata for BatchProcessDocuments."
    },
    "GoogleCloudDocumentaiV1beta1OutputConfig": {
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location to write the output to.",
          "$ref": "GoogleCloudDocumentaiV1beta1GcsDestination"
        },
        "pagesPerShard": {
          "type": "integer",
          "description": "The max number of pages to include into each output Document shard JSON on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 parsed pages will be produced. If `pages_per_shard` = 20, then 5 Document shard JSON files each containing 20 parsed pages will be written under the prefix OutputConfig.gcs_destination.uri and suffix pages-x-to-y.json where x and y are 1-indexed page numbers. Example GCS outputs with 157 pages and pages_per_shard = 50: pages-001-to-050.json pages-051-to-100.json pages-101-to-150.json pages-151-to-157.json",
          "format": "int32"
        }
      },
      "description": "The desired output location and metadata.",
      "id": "GoogleCloudDocumentaiV1beta1OutputConfig"
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the UndeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageLayout": {
      "properties": {
        "boundingPoly": {
          "description": "The bounding polygon for the Layout.",
          "$ref": "GoogleCloudDocumentaiV1beta2BoundingPoly"
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the current Layout within context of the object this layout is for. e.g. confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`."
        },
        "orientation": {
          "description": "Detected orientation for the Layout.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ],
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ]
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
      "description": "Visual element describing a layout unit on a page.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment",
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "properties": {
        "startIndex": {
          "description": "TextSegment start UTF-8 char index in the Document.text.",
          "type": "string",
          "format": "int64"
        },
        "endIndex": {
          "description": "TextSegment half open end UTF-8 char index in the Document.text.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3RevisionRef": {
      "id": "GoogleCloudDocumentaiUiv1beta3RevisionRef",
      "type": "object",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Reads the revision given by the id."
        },
        "latestProcessorVersion": {
          "type": "string",
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
        },
        "revisionCase": {
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ],
          "enumDescriptions": [
            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ],
          "description": "Reads the revision by the predefined case.",
          "type": "string"
        }
      },
      "description": "The revision reference specifies which revision on the document to read."
    },
    "GoogleCloudDocumentaiV1beta2DocumentShardInfo": {
      "properties": {
        "shardIndex": {
          "description": "The 0-based index of this shard.",
          "type": "string",
          "format": "int64"
        },
        "shardCount": {
          "type": "string",
          "description": "Total number of shards.",
          "format": "int64"
        },
        "textOffset": {
          "format": "int64",
          "description": "The index of the first character in Document.text in the overall document global text.",
          "type": "string"
        }
      },
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentShardInfo",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse": {
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the created evaluation."
        }
      },
      "description": "Response of the EvaluateProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "description": "Response of the EvaluateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse",
      "type": "object",
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageBlock": {
      "type": "object",
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageBlock",
      "properties": {
        "provenance": {
          "description": "The history of this annotation.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
        },
        "layout": {
          "description": "Layout for Block.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2Document": {
      "type": "object",
      "description": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality.",
      "id": "GoogleCloudDocumentaiV1beta2Document",
      "properties": {
        "labels": {
          "description": "Labels for this document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentLabel"
          }
        },
        "uri": {
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. For more information, refer to [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris).",
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string",
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64."
        },
        "textStyles": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentStyle"
          },
          "type": "array",
          "deprecated": true,
          "description": "Styles for the Document.text."
        },
        "shardInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentShardInfo",
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified."
        },
        "text": {
          "type": "string",
          "description": "Optional. UTF-8 encoded text in reading order from the document."
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntity"
          },
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "type": "array"
        },
        "mimeType": {
          "description": "An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml).",
          "type": "string"
        },
        "pages": {
          "description": "Visual page layout for the Document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPage"
          },
          "type": "array"
        },
        "entityRelations": {
          "type": "array",
          "description": "Placeholder. Relationship among Document.entities.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation"
          }
        },
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentRevision"
          },
          "description": "Placeholder. Revision history of this document."
        },
        "textChanges": {
          "description": "Placeholder. A list of text corrections made to Document.text. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextChange"
          },
          "type": "array"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Any error that occurred while processing this document."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1Barcode": {
      "description": "Encodes the detailed information of a barcode.",
      "id": "GoogleCloudDocumentaiV1beta1Barcode",
      "properties": {
        "format": {
          "type": "string",
          "description": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type."
        },
        "rawValue": {
          "type": "string",
          "description": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`."
        },
        "valueFormat": {
          "type": "string",
          "description": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsResponse": {
      "description": "Response to an batch document processing request. This is returned in the LRO Operation after the operation is complete.",
      "properties": {
        "responses": {
          "description": "Responses for each individual document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2ProcessDocumentResponse"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2BatchProcessDocumentsResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "description": "The long-running operation metadata for updating the human review configuration.",
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageBlock": {
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
      "properties": {
        "provenance": {
          "description": "The history of this annotation.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "description": "Layout for Block.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageBlock",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextAnchor": {
      "description": "Text reference indexing into the Document.text.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
      "type": "object",
      "properties": {
        "content": {
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields.",
          "type": "string"
        },
        "textSegments": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment"
          },
          "description": "The text segments from the Document.text.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata",
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2OutputConfig": {
      "id": "GoogleCloudDocumentaiV1beta2OutputConfig",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudDocumentaiV1beta2GcsDestination",
          "description": "The Google Cloud Storage location to write the output to."
        },
        "pagesPerShard": {
          "type": "integer",
          "description": "The max number of pages to include into each output Document shard JSON on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 parsed pages will be produced. If `pages_per_shard` = 20, then 5 Document shard JSON files each containing 20 parsed pages will be written under the prefix OutputConfig.gcs_destination.uri and suffix pages-x-to-y.json where x and y are 1-indexed page numbers. Example GCS outputs with 157 pages and pages_per_shard = 50: pages-001-to-050.json pages-051-to-100.json pages-101-to-150.json pages-151-to-157.json",
          "format": "int32"
        }
      },
      "description": "The desired output location and metadata."
    },
    "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3UpdateDatasetOperationMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DisableProcessor method."
    },
    "GoogleCloudDocumentaiV1EnableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the EnableProcessor method.",
      "id": "GoogleCloudDocumentaiV1EnableProcessorMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DeleteProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "id": "GoogleCloudDocumentaiV1DeleteProcessorMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata for the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the ImportProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse": {
      "description": "Response message for the UndeployProcessorVersion method.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue": {
      "description": "Parsed and normalized entity value.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue",
      "properties": {
        "floatValue": {
          "format": "float",
          "description": "Float value.",
          "type": "number"
        },
        "datetimeValue": {
          "$ref": "GoogleTypeDateTime",
          "description": "DateTime value. Includes date, time, and timezone. See also: https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto"
        },
        "integerValue": {
          "type": "integer",
          "format": "int32",
          "description": "Integer value."
        },
        "moneyValue": {
          "$ref": "GoogleTypeMoney",
          "description": "Money value. See also: https://github.com/googleapis/googleapis/blob/master/google/type/money.proto"
        },
        "dateValue": {
          "description": "Date value. Includes year, month, day. See also: https://github.com/googleapis/googleapis/blob/master/google/type/date.proto",
          "$ref": "GoogleTypeDate"
        },
        "addressValue": {
          "description": "Postal address. See also: https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto",
          "$ref": "GoogleTypePostalAddress"
        },
        "text": {
          "type": "string",
          "description": "Optional. An optional field to store a normalized string. For some entity types, one of respective `structured_value` fields may also be populated. Also not all the types of `structured_value` will be normalized. For example, some processors may not generate `float` or `integer` normalized text by default. Below are sample formats mapped to structured values. - Money/Currency type (`money_value`) is in the ISO 4217 text format. - Date type (`date_value`) is in the ISO 8601 text format. - Datetime type (`datetime_value`) is in the ISO 8601 text format."
        },
        "booleanValue": {
          "description": "Boolean value. Can be used for entities with binary values, or for checkboxes.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageLine": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageLine",
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc.",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "layout": {
          "description": "Layout for Line.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "provenance": {
          "deprecated": true,
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentEntityRelation": {
      "description": "Relationship between Entities.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentEntityRelation",
      "type": "object",
      "properties": {
        "relation": {
          "type": "string",
          "description": "Relationship description."
        },
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        },
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview",
      "properties": {
        "state": {
          "type": "string",
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Human Review information of the document."
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus": {
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus",
      "description": "The status of each individual document in the export process.",
      "type": "object",
      "properties": {
        "outputGcsDestination": {
          "type": "string",
          "description": "The output_gcs_destination of the exported document if it was successful, otherwise empty."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of the exporting of the document."
        },
        "documentId": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId",
          "description": "The path to source docproto of the document."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue": {
      "description": "Parsed and normalized entity value.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue",
      "type": "object",
      "properties": {
        "datetimeValue": {
          "description": "DateTime value. Includes date, time, and timezone. See also: https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto",
          "$ref": "GoogleTypeDateTime"
        },
        "integerValue": {
          "format": "int32",
          "description": "Integer value.",
          "type": "integer"
        },
        "booleanValue": {
          "description": "Boolean value. Can be used for entities with binary values, or for checkboxes.",
          "type": "boolean"
        },
        "addressValue": {
          "description": "Postal address. See also: https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto",
          "$ref": "GoogleTypePostalAddress"
        },
        "text": {
          "type": "string",
          "description": "Optional. An optional field to store a normalized string. For some entity types, one of respective `structured_value` fields may also be populated. Also not all the types of `structured_value` will be normalized. For example, some processors may not generate `float` or `integer` normalized text by default. Below are sample formats mapped to structured values. - Money/Currency type (`money_value`) is in the ISO 4217 text format. - Date type (`date_value`) is in the ISO 8601 text format. - Datetime type (`datetime_value`) is in the ISO 8601 text format."
        },
        "moneyValue": {
          "description": "Money value. See also: https://github.com/googleapis/googleapis/blob/master/google/type/money.proto",
          "$ref": "GoogleTypeMoney"
        },
        "dateValue": {
          "$ref": "GoogleTypeDate",
          "description": "Date value. Includes year, month, day. See also: https://github.com/googleapis/googleapis/blob/master/google/type/date.proto"
        },
        "floatValue": {
          "format": "float",
          "description": "Float value.",
          "type": "number"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta1DocumentRevision": {
      "properties": {
        "createTime": {
          "description": "The time that the revision was created, internally generated by doc proto storage at the time of create.",
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "description": "Id of the revision, internally generated by doc proto storage. Unique within the context of the document.",
          "type": "string"
        },
        "parent": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "deprecated": true,
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field."
        },
        "parentIds": {
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "agent": {
          "description": "If the change was made by a person specify the name or id of that person.",
          "type": "string"
        },
        "processor": {
          "description": "If the annotation was made by processor identify the processor by its resource name.",
          "type": "string"
        },
        "humanReview": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview",
          "description": "Human Review information of this revision."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentRevision",
      "type": "object",
      "description": "Contains past or forward revisions of this document."
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "The gcs_uri of the auto-labeling document, which uniquely identifies a dataset document.",
          "type": "string"
        },
        "status": {
          "description": "The status of the document auto-labeling.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The status of individual documents in the auto-labeling process.",
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus"
    },
    "GoogleCloudDocumentaiV1DisableProcessorResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DisableProcessorResponse",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {}
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\"."
        }
      },
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata": {
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "properties": {},
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse"
    },
    "GoogleTypePostalAddress": {
      "id": "GoogleTypePostalAddress",
[...]
