{
  "discoveryVersion": "v1",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "title": "Cloud Document AI API",
  "canonicalName": "Document",
  "servicePath": "",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "rootUrl": "https://documentai.googleapis.com/",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "baseUrl": "https://documentai.googleapis.com/",
  "id": "documentai:v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudDocumentaiV1beta1DocumentProvenance": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
      "type": "object",
      "properties": {
        "revision": {
          "description": "The index of the revision that produced this element.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "The Id of this operation. Needs to be unique within the scope of the revision."
        },
        "type": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Replace an element identified by `parent`.",
            "Request human review for the element identified by `parent`.",
            "Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Element is skipped in the validation process."
          ],
          "description": "The type of provenance operation."
        },
        "parents": {
          "type": "array",
          "description": "References to the original elements that are replaced.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent"
          }
        }
      },
      "description": "Structure to identify provenance relationships between annotations in different revisions."
    },
    "GoogleCloudDocumentaiV1alpha1CommonOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the operation."
        },
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "description": "The state of the operation.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The last update time of the operation.",
          "type": "string"
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        }
      },
      "description": "The common metadata for long running operations.",
      "id": "GoogleCloudDocumentaiV1alpha1CommonOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta1GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1GcsDestination",
      "description": "The Google Cloud Storage location where the output file will be written to.",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageMatrix": {
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageMatrix",
      "type": "object",
      "properties": {
        "cols": {
          "type": "integer",
          "description": "Number of columns in the matrix.",
          "format": "int32"
        },
        "type": {
          "format": "int32",
          "type": "integer",
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html"
        },
        "data": {
          "type": "string",
          "description": "The matrix data.",
          "format": "byte"
        },
        "rows": {
          "description": "Number of rows in the matrix.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
      "description": "Detected language for a structural component.",
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of detected language. Range [0, 1]."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2GcsDestination": {
      "type": "object",
      "description": "The Google Cloud Storage location where the output file will be written to.",
      "id": "GoogleCloudDocumentaiV1beta2GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentResponse": {
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentResponse",
      "properties": {
        "gcsDestination": {
          "description": "The Cloud Storage uri for the human reviewed document.",
          "type": "string"
        }
      },
      "description": "Response message for review document method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageSymbol": {
      "description": "A detected symbol.",
      "type": "object",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for Symbol."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageSymbol"
    },
    "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize": {
      "description": "Font size with unit.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Unit for the font size. Follows CSS naming (in, px, pt, etc.)."
        },
        "size": {
          "format": "float",
          "description": "Font size for the text.",
          "type": "number"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageToken": {
      "id": "GoogleCloudDocumentaiV1DocumentPageToken",
      "properties": {
        "detectedBreak": {
          "description": "Detected break at the end of a Token.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageTokenDetectedBreak"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Token."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "The history of this annotation."
        }
      },
      "type": "object",
      "description": "A detected token."
    },
    "GoogleCloudDocumentaiV1ProcessorVersion": {
      "id": "GoogleCloudDocumentaiV1ProcessorVersion",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED"
          ],
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state."
          ],
          "description": "The state of the processor version."
        },
        "kmsKeyVersionName": {
          "type": "string",
          "description": "The KMS key version with which data is encrypted."
        },
        "displayName": {
          "description": "The display name of the processor version.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time the processor version was created.",
          "type": "string"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The KMS key name used for encryption."
        },
        "deprecationInfo": {
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersionDeprecationInfo",
          "description": "If set, information about the eventual deprecation of this version."
        },
        "googleManaged": {
          "description": "Denotes that this ProcessorVersion is managed by google.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`"
        }
      },
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pre-trained by Google internally or up-trained by the customer. At a time, a processor can only have one default version version. So the processor's behavior (when processing documents) is defined by a default version"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageSymbol": {
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for Symbol."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageSymbol",
      "description": "A detected symbol.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "description": "The long running operation metadata for enable processor method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorMetadata"
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus": {
      "properties": {
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1HumanReviewStatus"
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source of the document, same as the [input_gcs_source] field in the request when the batch process started. The batch process is started by take snapshot of that document, since a user can move or change that document during the process."
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The output_gcs_destination (in the request as `output_gcs_destination`) of the processed document if it was successful, otherwise empty."
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of the processing of the document."
        }
      },
      "description": "The status of a each individual document in the batch process.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus"
    },
    "GoogleCloudDocumentaiV1Document": {
      "type": "object",
      "properties": {
        "pages": {
          "type": "array",
          "description": "Visual page layout for the Document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPage"
          }
        },
        "textStyles": {
          "type": "array",
          "description": "Placeholder. Styles for the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentStyle"
          }
        },
        "uri": {
          "type": "string",
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info."
        },
        "textChanges": {
          "type": "array",
          "description": "Placeholder. A list of text corrections made to [Document.text]. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextChange"
          }
        },
        "entities": {
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          }
        },
        "mimeType": {
          "type": "string",
          "description": "An IANA published MIME type (also referred to as media type). For more information, see https://www.iana.org/assignments/media-types/media-types.xhtml."
        },
        "text": {
          "type": "string",
          "description": "Optional. UTF-8 encoded text in reading order from the document."
        },
        "shardInfo": {
          "$ref": "GoogleCloudDocumentaiV1DocumentShardInfo",
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified."
        },
        "revisions": {
          "type": "array",
          "description": "Placeholder. Revision history of this document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentRevision"
          }
        },
        "entityRelations": {
          "description": "Placeholder. Relationship among Document.entities.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntityRelation"
          }
        },
        "error": {
          "description": "Any error that occurred while processing this document.",
          "$ref": "GoogleRpcStatus"
        },
        "content": {
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Document represents the canonical document resource in Document AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document AI to iterate and optimize for quality.",
      "id": "GoogleCloudDocumentaiV1Document"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse",
      "type": "object",
      "properties": {
        "evaluation": {
          "description": "The resource name of the created evaluation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageBlock": {
      "properties": {
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
          "description": "The history of this annotation."
        },
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "description": "Layout for Block.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageBlock",
      "type": "object",
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell": {
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "colSpan": {
          "format": "int32",
          "description": "How many columns this cell spans.",
          "type": "integer"
        },
        "rowSpan": {
          "format": "int32",
          "description": "How many rows this cell spans.",
          "type": "integer"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for TableCell."
        }
      },
      "type": "object",
      "description": "A cell representation inside the table.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell"
    },
    "GoogleCloudDocumentaiV1DocumentPageParagraph": {
      "id": "GoogleCloudDocumentaiV1DocumentPageParagraph",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Paragraph."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "The history of this annotation."
        }
      },
      "type": "object",
      "description": "A collection of lines that a human would perceive as a paragraph."
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment": {
      "type": "object",
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment",
      "properties": {
        "startIndex": {
          "description": "TextSegment start UTF-8 char index in the Document.text.",
          "type": "string",
          "format": "int64"
        },
        "endIndex": {
          "format": "int64",
          "type": "string",
          "description": "TextSegment half open end UTF-8 char index in the Document.text."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageLine": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageLine",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "layout": {
          "description": "Layout for Line.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        }
      },
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc."
    },
    "GoogleCloudDocumentaiV1beta1DocumentShardInfo": {
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "properties": {
        "shardCount": {
          "type": "string",
          "description": "Total number of shards.",
          "format": "int64"
        },
        "shardIndex": {
          "type": "string",
          "format": "int64",
          "description": "The 0-based index of this shard."
        },
        "textOffset": {
          "format": "int64",
          "description": "The index of the first character in Document.text in the overall document global text.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentShardInfo",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata": {
      "type": "object",
      "description": "The long running operation metadata for delete processor method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorMetadata"
    },
    "GoogleCloudDocumentaiV1DocumentPageLayout": {
      "description": "Visual element describing a layout unit on a page.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageLayout",
      "properties": {
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "orientation": {
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ],
          "type": "string",
          "description": "Detected orientation for the Layout.",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ]
        },
        "boundingPoly": {
          "description": "The bounding polygon for the Layout.",
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly"
        },
        "confidence": {
          "description": "Confidence of the current Layout within context of the object this layout is for. e.g. confidence can be for a single token, a table, a visual element, etc. depending on context. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPage": {
      "description": "A page in a Document.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPage",
      "properties": {
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
          "description": "The history of this page."
        },
        "tables": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTable"
          },
          "description": "A list of visually detected tables on the page.",
          "type": "array"
        },
        "pageNumber": {
          "format": "int32",
          "type": "integer",
          "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing."
        },
        "image": {
          "description": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageImage"
        },
        "transforms": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageMatrix"
          },
          "type": "array",
          "description": "Transformation matrices that were applied to the original document image to produce Page.image."
        },
        "lines": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLine"
          },
          "type": "array",
          "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "formFields": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageFormField"
          },
          "description": "A list of visually detected form fields on the page.",
          "type": "array"
        },
        "dimension": {
          "description": "Physical dimension of the page.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDimension"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for the page."
        },
        "visualElements": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement"
          },
          "description": "A list of detected non-text visual elements e.g. checkbox, signature etc. on the page.",
          "type": "array"
        },
        "symbols": {
          "description": "A list of visually detected symbols on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageSymbol"
          },
          "type": "array"
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageBlock"
          },
          "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
          "type": "array"
        },
        "tokens": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageToken"
          },
          "description": "A list of visually detected tokens on the page.",
          "type": "array"
        },
        "paragraphs": {
          "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageParagraph"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageSymbol": {
      "type": "object",
      "description": "A detected symbol.",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Symbol."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageSymbol"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataUpdatedDocument": {
      "properties": {
        "sourcePrefix": {
          "description": "The prefix of cloud storage, identifies the original document which should be updated by resync pipeline.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The final status of the documents which should be updated by resync pipeline."
        },
        "destinationPrefix": {
          "description": "The prefix of cloud storage, identifies the destination document which should be updated by resync pipeline.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataUpdatedDocument",
      "description": "The proto for updated document in resync pipeline."
    },
    "GoogleCloudDocumentaiV1DocumentProvenance": {
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "properties": {
        "revision": {
          "description": "The index of the revision that produced this element.",
          "type": "integer",
          "format": "int32"
        },
        "parents": {
          "description": "References to the original elements that are replaced.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentProvenanceParent"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "description": "The type of provenance operation.",
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Replace an element identified by `parent`.",
            "Request human review for the element identified by `parent`.",
            "Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Element is skipped in the validation process."
          ]
        },
        "id": {
          "description": "The Id of this operation. Needs to be unique within the scope of the revision.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentProvenance",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DisableProcessorRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1DisableProcessorRequest",
      "description": "Request message for the disable processor method."
    },
    "GoogleCloudDocumentaiV1NormalizedVertex": {
      "properties": {
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate (starts from the top of the image)."
        },
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        }
      },
      "id": "GoogleCloudDocumentaiV1NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2OperationMetadata": {
      "type": "object",
      "description": "Contains metadata for the BatchProcessDocuments operation.",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the operation."
        },
        "createTime": {
          "description": "The creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "description": "The state of the current batch processing.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request is received.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ]
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2OperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta1DocumentRevision": {
      "properties": {
        "processor": {
          "description": "If the annotation was made by processor identify the processor by its resource name.",
          "type": "string"
        },
        "createTime": {
          "description": "The time that the revision was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "agent": {
          "description": "If the change was made by a person specify the name or id of that person.",
          "type": "string"
        },
        "parent": {
          "type": "array",
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "humanReview": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview",
          "description": "Human Review information of this revision."
        },
        "id": {
          "type": "string",
          "description": "Id of the revision. Unique within the context of the document."
        },
        "parentIds": {
          "items": {
            "type": "string"
          },
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Contains past or forward revisions of this document.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentRevision"
    },
    "GoogleCloudDocumentaiV1beta1DocumentTextChange": {
      "type": "object",
      "description": "This message is used for text changes aka. OCR corrections.",
      "properties": {
        "textAnchor": {
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor"
        },
        "changedText": {
          "type": "string",
          "description": "The text that replaces the text identified in the `text_anchor`."
        },
        "provenance": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
          },
          "type": "array",
          "description": "The history of this annotation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentTextChange"
    },
    "GoogleCloudDocumentaiV1beta1GcsSource": {
      "description": "The Google Cloud Storage location where the input file will be read from.",
      "id": "GoogleCloudDocumentaiV1beta1GcsSource",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue",
      "type": "object",
      "description": "Parsed and normalized entity value.",
      "properties": {
        "datetimeValue": {
          "description": "DateTime value. Includes date, time, and timezone. See also: https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto",
          "$ref": "GoogleTypeDateTime"
        },
        "booleanValue": {
          "description": "Boolean value. Can be used for entities with binary values, or for checkboxes.",
          "type": "boolean"
        },
        "addressValue": {
          "$ref": "GoogleTypePostalAddress",
          "description": "Postal address. See also: https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto"
        },
        "text": {
          "type": "string",
          "description": "Optional. An optional field to store a normalized string. For some entity types, one of respective `structured_value` fields may also be populated. Also not all the types of `structured_value` will be normalized. For example, some processors may not generate float or int normalized text by default. Below are sample formats mapped to structured values. - Money/Currency type (`money_value`) is in the ISO 4217 text format. - Date type (`date_value`) is in the ISO 8601 text format. - Datetime type (`datetime_value`) is in the ISO 8601 text format."
        },
        "integerValue": {
          "description": "Integer value.",
          "type": "integer",
          "format": "int32"
        },
        "dateValue": {
          "$ref": "GoogleTypeDate",
          "description": "Date value. Includes year, month, day. See also: https://github.com/googleapis/googleapis/blob/master/google/type/date.proto"
        },
        "floatValue": {
          "type": "number",
          "format": "float",
          "description": "Float value."
        },
        "moneyValue": {
          "$ref": "GoogleTypeMoney",
          "description": "Money value. See also: https://github.com/googleapis/googleapis/blob/master/google/type/money.proto"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef",
      "properties": {
        "layoutType": {
          "description": "Optional. The type of the layout element that is being referenced if any.",
          "type": "string",
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ],
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ]
        },
        "boundingPoly": {
          "description": "Optional. Identifies the bounding polygon of a layout element on the page.",
          "$ref": "GoogleCloudDocumentaiV1beta1BoundingPoly"
        },
        "layoutId": {
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. Confidence of detected page element, if applicable. Range [0, 1]."
        },
        "page": {
          "format": "int64",
          "type": "string",
          "description": "Required. Index into the Document.pages element, for example using Document.pages to locate the related page element. This field is skipped when its value is the default 0. See https://developers.google.com/protocol-buffers/docs/proto3#json."
        }
      },
      "type": "object",
      "description": "Represents a weak reference to a page element within a document."
    },
    "GoogleCloudDocumentaiV1beta2DocumentShardInfo": {
      "type": "object",
      "properties": {
        "textOffset": {
          "description": "The index of the first character in Document.text in the overall document global text.",
          "format": "int64",
          "type": "string"
        },
        "shardCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of shards."
        },
        "shardIndex": {
          "type": "string",
          "description": "The 0-based index of this shard.",
          "format": "int64"
        }
      },
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentShardInfo"
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorResponse": {
      "properties": {},
      "description": "Response message for the enable processor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta2DocumentProvenance": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "properties": {
        "type": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "description": "The type of provenance operation.",
          "type": "string",
          "enumDescriptions": [
            "Operation type unspecified. If no operation is specified a provenance entry is simply used to match against a `parent`.",
            "Add an element.",
            "Remove an element identified by `parent`.",
            "Replace an element identified by `parent`.",
            "Request human review for the element identified by `parent`.",
            "Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Element is skipped in the validation process."
          ]
        },
        "revision": {
          "description": "The index of the revision that produced this element.",
          "format": "int32",
          "type": "integer"
        },
        "parents": {
          "description": "References to the original elements that are replaced.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenanceParent"
          },
          "type": "array"
        },
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "The Id of this operation. Needs to be unique within the scope of the revision."
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "GoogleTypeMoney": {
      "id": "GoogleTypeMoney",
      "type": "object",
      "properties": {
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for TableCell."
        },
        "rowSpan": {
          "format": "int32",
          "description": "How many rows this cell spans.",
          "type": "integer"
        },
        "colSpan": {
          "format": "int32",
          "type": "integer",
          "description": "How many columns this cell spans."
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        }
      },
      "description": "A cell representation inside the table.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata",
      "description": "The long running operation metadata for set default processor version method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageFormField": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageFormField",
      "description": "A form field detected on the page.",
      "properties": {
        "valueDetectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for value together with confidence."
        },
        "fieldValue": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for the FormField value."
        },
        "fieldName": {
          "description": "Layout for the FormField name. e.g. `Address`, `Email`, `Grand total`, `Phone number`, etc.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "valueType": {
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the field_value is normal text) - \"unfilled_checkbox\" - \"filled_checkbox\"",
          "type": "string"
        },
        "correctedKeyText": {
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction.",
          "type": "string"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
        },
        "nameDetectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for name together with confidence."
        },
        "correctedValueText": {
          "type": "string",
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentStyle": {
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
      "properties": {
        "fontSize": {
          "$ref": "GoogleCloudDocumentaiV1DocumentStyleFontSize",
          "description": "Font size."
        },
        "textDecoration": {
          "type": "string",
          "description": "Text decoration. Follows CSS standard. https://www.w3schools.com/cssref/pr_text_text-decoration.asp"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "Text color."
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Text background color."
        },
        "textStyle": {
          "type": "string",
          "description": "Text style. Possible values are normal, italic, and oblique. https://www.w3schools.com/cssref/pr_font_font-style.asp"
        },
        "fontWeight": {
          "type": "string",
          "description": "Font weight. Possible values are normal, bold, bolder, and lighter. https://www.w3schools.com/cssref/pr_font_weight.asp"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentStyle"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse": {
      "description": "The response proto of ResyncDataset method.",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1HumanReviewStatus": {
      "id": "GoogleCloudDocumentaiV1HumanReviewStatus",
      "properties": {
        "humanReviewOperation": {
          "type": "string",
          "description": "The name of the operation triggered by the processed document. This field is populated only when the [state] is [HUMAN_REVIEW_IN_PROGRESS]. It has the same response type and metadata as the long running operation returned by [ReviewDocument] method."
        },
        "stateMessage": {
          "description": "A message providing more details about the human review state.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Human review state is unspecified. Most likely due to an internal error.",
            "Human review is skipped for the document. This can happen because human review is not enabled on the processor or the processing request has been set to skip this document.",
            "Human review validation is triggered and passed, so no review is needed.",
            "Human review validation is triggered and the document is under review.",
            "Some error happened during triggering human review, see the [state_message] for details."
          ],
          "description": "The state of human review on the processing request.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SKIPPED",
            "VALIDATION_PASSED",
            "IN_PROGRESS",
            "ERROR"
          ]
        }
      },
      "type": "object",
      "description": "The status of human review on a processed document."
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionResponse": {
      "type": "object",
      "properties": {},
      "description": "Response message for set default processor version method.",
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1DocumentRevisionHumanReview": {
      "properties": {
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`."
        }
      },
      "description": "Human Review information of the document.",
      "id": "GoogleCloudDocumentaiV1DocumentRevisionHumanReview",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview": {
      "description": "Human Review information of the document.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata": {
      "description": "The common metadata for long running operations.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the operation.",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse": {
      "description": "Response message for the deploy processor version method.",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ListProcessorVersionsResponse": {
      "description": "Response message for list processors.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Points to the next processor, otherwise empty.",
          "type": "string"
        },
        "processorVersions": {
          "type": "array",
          "description": "The list of processors.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorVersion"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1ListProcessorVersionsResponse"
    },
    "GoogleCloudDocumentaiV1DocumentEntityRelation": {
      "id": "GoogleCloudDocumentaiV1DocumentEntityRelation",
      "description": "Relationship between Entities.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        },
        "subjectId": {
          "description": "Subject entity id.",
          "type": "string"
        },
        "relation": {
          "type": "string",
          "description": "Relationship description."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentEntity": {
      "properties": {
        "type": {
          "description": "Required. Entity type from a schema e.g. `Address`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
        },
        "redacted": {
          "description": "Optional. Whether the entity will be redacted for de-identification purposes.",
          "type": "boolean"
        },
        "confidence": {
          "description": "Optional. Confidence of detected Schema entity. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "mentionText": {
          "description": "Optional. Text value in the document e.g. `1600 Amphitheatre Pkwy`. If the entity is not present in the document, this field will be empty.",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentEntity"
          }
        },
        "mentionId": {
          "type": "string",
          "description": "Optional. Deprecated. Use `id` field instead."
        },
        "nonPresent": {
          "description": "Optional. This attribute indicates that the processing didn't actually identify this entity, but a confidence score was assigned that represent the potential that this could be a false negative. A non-present entity should have an empty mention_text and text_anchor.",
          "type": "boolean"
        },
        "provenance": {
          "description": "Optional. The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
        },
        "pageAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageAnchor",
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found."
        },
        "normalizedValue": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue",
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (e.g. address) is not supported for certain parsers. This field is also only populated for certain supported document types."
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor",
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text."
        }
      },
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentEntity"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse",
      "description": "Response of the delete documents operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntityRelation": {
      "description": "Relationship between Entities.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        },
        "relation": {
          "description": "Relationship description.",
          "type": "string"
        },
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata",
      "description": "The long running operation metadata for deploy processor version method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "description": "The long running operation metadata for set default processor version method."
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionResponse",
      "properties": {},
      "description": "Response message for the undeploy processor version method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DisableProcessorResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1DisableProcessorResponse",
      "description": "Response message for the disable processor method. Intentionally empty proto for adding fields in future."
    },
    "GoogleCloudDocumentaiV1DocumentPageImage": {
      "properties": {
        "mimeType": {
          "description": "Encoding mime type for the image.",
          "type": "string"
        },
        "width": {
          "description": "Width of the image in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Height of the image in pixels."
        },
        "content": {
          "description": "Raw byte content of the image.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Rendered image contents for this page.",
      "id": "GoogleCloudDocumentaiV1DocumentPageImage",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse": {
      "properties": {},
      "description": "Response of the import document operation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse"
    },
    "GoogleCloudDocumentaiV1beta2DocumentProvenanceParent": {
      "description": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations.",
      "properties": {
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision."
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The id of the parent provenance."
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the index into current revision's parent_ids list."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentProvenanceParent",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse": {
      "description": "The response for the TrainProcessorVersion method.",
      "properties": {
        "processorVersion": {
          "description": "The resource name of the processor version produced by training.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow",
      "description": "A row of table cells.",
      "type": "object",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell"
          },
          "description": "Cells that make up this row."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDimension": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDimension",
      "description": "Dimension for the page.",
      "type": "object",
      "properties": {
        "width": {
          "format": "float",
          "type": "number",
          "description": "Page width."
        },
        "unit": {
          "type": "string",
          "description": "Dimension unit."
        },
        "height": {
          "description": "Page height.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorResponse": {
      "description": "Response message for the disable processor method. Intentionally empty proto for adding fields in future.",
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta1OperationMetadata": {
      "id": "GoogleCloudDocumentaiV1beta1OperationMetadata",
      "type": "object",
      "description": "Contains metadata for the BatchProcessDocuments operation.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request is received.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "description": "The state of the current batch processing."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The creation time of the operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageMatrix": {
      "id": "GoogleCloudDocumentaiV1DocumentPageMatrix",
      "type": "object",
      "properties": {
        "type": {
          "type": "integer",
          "format": "int32",
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html"
        },
        "rows": {
          "type": "integer",
          "description": "Number of rows in the matrix.",
          "format": "int32"
        },
        "cols": {
          "type": "integer",
          "format": "int32",
          "description": "Number of columns in the matrix."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The matrix data."
        }
      },
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation."
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata": {
      "type": "object",
      "description": "The long running operation metadata for delete processor version method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta1DocumentStyle": {
      "properties": {
        "textStyle": {
          "type": "string",
          "description": "Text style. Possible values are normal, italic, and oblique. https://www.w3schools.com/cssref/pr_font_font-style.asp"
        },
        "color": {
          "description": "Text color.",
          "$ref": "GoogleTypeColor"
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Text background color."
        },
        "fontWeight": {
          "type": "string",
          "description": "Font weight. Possible values are normal, bold, bolder, and lighter. https://www.w3schools.com/cssref/pr_font_weight.asp"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "fontSize": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentStyleFontSize",
          "description": "Font size."
        },
        "textDecoration": {
          "description": "Text decoration. Follows CSS standard. https://www.w3schools.com/cssref/pr_text_text-decoration.asp",
          "type": "string"
        }
      },
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentStyle",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1UndeployProcessorVersionRequest": {
      "id": "GoogleCloudDocumentaiV1UndeployProcessorVersionRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for the undeploy processor version method."
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long running operation metadata for DeleteLabelerPool.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextAnchor": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
      "type": "object",
      "description": "Text reference indexing into the Document.text.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
        },
        "textSegments": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment"
          },
          "type": "array",
          "description": "The text segments from the Document.text."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata",
      "description": "The long running operation metadata for the undeploy processor version method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntity": {
      "properties": {
        "normalizedValue": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue",
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (e.g. address) is not supported for certain parsers. This field is also only populated for certain supported document types."
        },
        "provenance": {
          "description": "Optional. The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
        },
        "properties": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntity"
          },
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
          "type": "array"
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text."
        },
        "id": {
          "type": "string",
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
        },
        "redacted": {
          "type": "boolean",
          "description": "Optional. Whether the entity will be redacted for de-identification purposes."
        },
        "mentionText": {
          "type": "string",
          "description": "Optional. Text value in the document e.g. `1600 Amphitheatre Pkwy`. If the entity is not present in the document, this field will be empty."
        },
        "type": {
          "type": "string",
          "description": "Required. Entity type from a schema e.g. `Address`."
        },
        "pageAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageAnchor",
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found."
        },
        "mentionId": {
          "description": "Optional. Deprecated. Use `id` field instead.",
          "type": "string"
        },
        "nonPresent": {
          "type": "boolean",
          "description": "Optional. This attribute indicates that the processing didn't actually identify this entity, but a confidence score was assigned that represent the potential that this could be a false negative. A non-present entity should have an empty mention_text and text_anchor."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Optional. Confidence of detected Schema entity. Range [0, 1]."
        }
      },
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntity"
    },
    "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata": {
      "description": "The long running operation metadata for CreateLabelerPool.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextChange": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextChange",
      "description": "This message is used for text changes aka. OCR corrections.",
      "properties": {
        "textAnchor": {
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
        },
        "changedText": {
          "description": "The text that replaces the text identified in the `text_anchor`.",
          "type": "string"
        },
        "provenance": {
          "type": "array",
          "description": "The history of this annotation.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageBlock": {
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for Block."
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "description": "The history of this annotation."
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        }
      },
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageBlock"
    },
    "GoogleCloudDocumentaiUiv1beta3RevisionReference": {
      "id": "GoogleCloudDocumentaiUiv1beta3RevisionReference",
      "properties": {
        "revisionCase": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified case, fallback to read the first (OCR) revision.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp."
          ],
          "description": "Read the revision by the predefined case.",
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP"
          ]
        },
        "revisionId": {
          "type": "string",
          "description": "Read the revision given by the id, returns error if it does not exist."
        },
        "latestProcessorVersion": {
          "description": "Read the revision generated by the processor version, returns error if it does not exist.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The revision reference specifies which revision on the document to read."
    },
    "GoogleCloudDocumentaiV1DocumentPageDimension": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageDimension",
      "description": "Dimension for the page.",
      "properties": {
        "width": {
          "format": "float",
          "type": "number",
          "description": "Page width."
        },
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        },
        "height": {
          "format": "float",
          "type": "number",
          "description": "Page height."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent",
      "type": "object",
      "description": "The parent element the current element is based on. Used for referencing/aligning, removal and replacement operations.",
      "properties": {
        "revision": {
          "description": "The index of the index into current revision's parent_ids list.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "The id of the parent provenance."
        },
        "index": {
          "type": "integer",
          "description": "The index of the parent item in the corresponding item list (eg. list of entities, properties within entities, etc.) in the parent revision.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTable": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTable",
      "description": "A table representation similar to HTML table structure.",
      "properties": {
        "bodyRows": {
          "type": "array",
          "description": "Body rows of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow"
          }
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          }
        },
        "headerRows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow"
          },
          "description": "Header rows of the table."
        },
        "layout": {
          "description": "Layout for Table.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1GcsPrefix": {
      "id": "GoogleCloudDocumentaiV1GcsPrefix",
      "type": "object",
      "properties": {
        "gcsUriPrefix": {
          "description": "The URI prefix.",
          "type": "string"
        }
      },
      "description": "Specifies all documents on Cloud Storage with a common prefix."
    },
    "GoogleCloudDocumentaiV1beta2DocumentLabel": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentLabel",
      "description": "Label attaches schema information and/or other metadata to segments within a Document. Multiple Labels on a single field can denote either different labels, different instances of the same label created at different times, or some combination of both.",
      "type": "object",
      "properties": {
        "automlModel": {
          "description": "Label is generated AutoML model. This field stores the full resource name of the AutoML model. Format: `projects/{project-id}/locations/{location-id}/models/{model-id}`",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "description": "Confidence score between 0 and 1 for label assignment.",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Name of the label. When the label is generated from AutoML Text Classification model, this field represents the name of the category."
        }
      }
    },
    "GoogleCloudDocumentaiV1ProcessRequest": {
      "id": "GoogleCloudDocumentaiV1ProcessRequest",
      "type": "object",
      "description": "Request message for the process document method.",
      "properties": {
        "inlineDocument": {
          "$ref": "GoogleCloudDocumentaiV1Document",
          "description": "An inline document proto."
        },
        "rawDocument": {
          "$ref": "GoogleCloudDocumentaiV1RawDocument",
          "description": "A raw document content (bytes)."
        },
        "skipHumanReview": {
          "type": "boolean",
          "description": "Whether Human Review feature should be skipped for this request. Default to false."
        }
      }
    },
    "GoogleTypePostalAddress": {
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an i18n-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "type": "object",
      "properties": {
        "recipients": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.)."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire).",
          "type": "string"
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array"
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines."
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts."
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer",
          "format": "int32"
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        }
      },
      "id": "GoogleTypePostalAddress"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageImage": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageImage",
      "properties": {
        "mimeType": {
          "description": "Encoding mime type for the image.",
          "type": "string"
        },
        "content": {
          "format": "byte",
          "description": "Raw byte content of the image.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "description": "Width of the image in pixels.",
          "type": "integer"
        },
        "height": {
          "format": "int32",
          "description": "Height of the image in pixels.",
          "type": "integer"
        }
      },
      "description": "Rendered image contents for this page.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentRevision": {
      "id": "GoogleCloudDocumentaiV1DocumentRevision",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the revision was created."
        },
        "id": {
          "type": "string",
          "description": "Id of the revision. Unique within the context of the document."
        },
        "parent": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field."
        },
        "humanReview": {
          "description": "Human Review information of this revision.",
          "$ref": "GoogleCloudDocumentaiV1DocumentRevisionHumanReview"
        },
        "parentIds": {
          "type": "array",
          "description": "The revisions that this revision is based on. Must include all the ids that have anything to do with this revision - eg. there are `provenance.parent.revision` fields that index into this field.",
          "items": {
            "type": "string"
          }
        },
        "processor": {
          "description": "If the annotation was made by processor identify the processor by its resource name.",
          "type": "string"
        },
        "agent": {
          "type": "string",
          "description": "If the change was made by a person specify the name or id of that person."
        }
      },
      "type": "object",
      "description": "Contains past or forward revisions of this document."
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse": {
      "type": "object",
      "description": "Response message for the deploy processor version method.",
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTable": {
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "headerRows": {
          "type": "array",
          "description": "Header rows of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow"
          }
        },
        "layout": {
          "description": "Layout for Table.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "bodyRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow"
          },
          "type": "array",
          "description": "Body rows of the table."
        }
      },
      "description": "A table representation similar to HTML table structure.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTable"
    },
    "GoogleCloudDocumentaiV1beta2Vertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "id": "GoogleCloudDocumentaiV1beta2Vertex",
      "properties": {
        "x": {
          "format": "int32",
          "type": "integer",
          "description": "X coordinate."
        },
        "y": {
          "description": "Y coordinate (starts from the top of the image).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2InputConfig": {
      "properties": {
        "gcsSource": {
          "description": "The Google Cloud Storage location to read the input from. This must be a single file.",
          "$ref": "GoogleCloudDocumentaiV1beta2GcsSource"
        },
        "contents": {
          "description": "Content in bytes, represented as a stream of bytes. Note: As with all `bytes` fields, proto buffer messages use a pure binary representation, whereas JSON representations use base64. This field only works for synchronous ProcessDocument method.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. Mimetype of the input. Current supported mimetypes are application/pdf, image/tiff, and image/gif. In addition, application/json type is supported for requests with ProcessDocumentRequest.automl_params field set. The JSON file needs to be in Document format.",
          "type": "string"
        }
      },
      "description": "The desired input location and metadata.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2InputConfig"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage": {
      "description": "Detected language for a structural component.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage",
      "properties": {
        "confidence": {
          "description": "Confidence of detected language. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "languageCode": {
          "type": "string",
[...]
