{
  "batchPath": "batch",
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "version": "v1beta3",
  "title": "Cloud Document AI API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "documentai",
  "schemas": {
    "GoogleCloudDocumentaiV1beta3DocumentPageTable": {
      "description": "A table representation similar to HTML table structure.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTable",
      "type": "object",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for Table."
        },
        "bodyRows": {
          "description": "Body rows of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow"
          },
          "type": "array"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow"
          },
          "type": "array",
          "description": "Header rows of the table."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3NormalizedVertex": {
      "id": "GoogleCloudDocumentaiV1beta3NormalizedVertex",
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "y": {
          "type": "number",
          "description": "Y coordinate (starts from the top of the image).",
          "format": "float"
        },
        "x": {
          "description": "X coordinate.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2ProcessDocumentResponse": {
      "description": "Response to a single document processing request.",
      "id": "GoogleCloudDocumentaiV1beta2ProcessDocumentResponse",
      "type": "object",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta2OutputConfig",
          "description": "The output location of the parsed responses. The responses are written to this location as JSON-serialized `Document` objects."
        },
        "inputConfig": {
          "description": "Information about the input file. This is the same as the corresponding input config in the request.",
          "$ref": "GoogleCloudDocumentaiV1beta2InputConfig"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig": {
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessRequestBatchOutputConfig",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "type": "string",
          "description": "The output Cloud Storage directory to put the processed documents."
        }
      },
      "description": "The message for output config in batch process."
    },
    "GoogleCloudDocumentaiV1beta3ProcessResponse": {
      "properties": {
        "document": {
          "$ref": "GoogleCloudDocumentaiV1beta3Document",
          "description": "The document payload, will populate fields based on the processor's behavior."
        },
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
        },
        "humanReviewOperation": {
          "description": "The name of the operation triggered by the processed document. If the human review process is not triggered, this field will be empty. It has the same response type and metadata as the long running operation returned by ReviewDocument method.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessResponse",
      "description": "Response message for the process document method."
    },
    "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize": {
      "type": "object",
      "description": "Font size with unit.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize",
      "properties": {
        "size": {
          "description": "Font size for the text.",
          "type": "number",
          "format": "float"
        },
        "unit": {
          "type": "string",
          "description": "Unit for the font size. Follows CSS naming (in, px, pt, etc.)."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentEntity": {
      "type": "object",
      "properties": {
        "redacted": {
          "description": "Optional. Whether the entity will be redacted for de-identification purposes.",
          "type": "boolean"
        },
        "mentionText": {
          "type": "string",
          "description": "Optional. Text value in the document e.g. `1600 Amphitheatre Pkwy`."
        },
        "pageAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageAnchor",
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found."
        },
        "type": {
          "type": "string",
          "description": "Entity type from a schema e.g. `Address`."
        },
        "properties": {
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentEntity"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor",
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text."
        },
        "normalizedValue": {
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (e.g. address) is not supported for certain parsers. This field is also only populated for certain supported document types.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentEntityNormalizedValue"
        },
        "confidence": {
          "description": "Optional. Confidence of detected Schema entity. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "provenance": {
          "description": "Optional. The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
        },
        "mentionId": {
          "description": "Optional. Deprecated. Use `id` field instead.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentEntity",
      "description": "A phrase in the text that is a known entity type, such as a person, an organization, or location."
    },
    "GoogleCloudDocumentaiV1beta2GcsSource": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2GcsSource",
      "type": "object",
      "description": "The Google Cloud Storage location where the input file will be read from."
    },
    "GoogleCloudDocumentaiV1beta1DocumentEntityRelation": {
      "type": "object",
      "description": "Relationship between Entities.",
      "properties": {
        "subjectId": {
          "description": "Subject entity id.",
          "type": "string"
        },
        "objectId": {
          "description": "Object entity id.",
          "type": "string"
        },
        "relation": {
          "type": "string",
          "description": "Relationship description."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentEntityRelation"
    },
    "GoogleCloudDocumentaiV1beta2DocumentStyle": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentStyle",
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
      "type": "object",
      "properties": {
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "textDecoration": {
          "description": "Text decoration. Follows CSS standard. https://www.w3schools.com/cssref/pr_text_text-decoration.asp",
          "type": "string"
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Text background color."
        },
        "fontSize": {
          "description": "Font size.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentStyleFontSize"
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "Text color."
        },
        "fontWeight": {
          "type": "string",
          "description": "Font weight. Possible values are normal, bold, bolder, and lighter. https://www.w3schools.com/cssref/pr_font_weight.asp"
        },
        "textStyle": {
          "type": "string",
          "description": "Text style. Possible values are normal, italic, and oblique. https://www.w3schools.com/cssref/pr_font_font-style.asp"
        }
      }
    },
    "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      },
      "type": "object",
      "description": "The long running operation metadata for review document method.",
      "id": "GoogleCloudDocumentaiV1ReviewDocumentOperationMetadata"
    },
    "GoogleCloudDocumentaiV1beta2BoundingPoly": {
      "description": "A bounding polygon for the detected image annotation.",
      "properties": {
        "normalizedVertices": {
          "description": "The bounding polygon normalized vertices.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2NormalizedVertex"
          }
        },
        "vertices": {
          "description": "The bounding polygon vertices.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2Vertex"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2BoundingPoly"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak": {
      "description": "Detected break at the end of a Token.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "description": "Detected break type.",
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTokenDetectedBreak"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell"
          },
          "description": "Cells that make up this row."
        }
      },
      "description": "A row of table cells.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata",
      "description": "The long running operation metadata for updating the human review configuration."
    },
    "GoogleCloudDocumentaiV1beta1BoundingPoly": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1BoundingPoly",
      "description": "A bounding polygon for the detected image annotation.",
      "properties": {
        "normalizedVertices": {
          "type": "array",
          "description": "The bounding polygon normalized vertices.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1NormalizedVertex"
          }
        },
        "vertices": {
          "description": "The bounding polygon vertices.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1Vertex"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentRevision": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentRevision",
      "properties": {
        "parent": {
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "agent": {
          "type": "string",
          "description": "If the change was made by a person specify the name or id of that person."
        },
        "humanReview": {
          "description": "Human Review information of this revision.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview"
        },
        "id": {
          "type": "string",
          "description": "Id of the revision. Unique within the context of the document."
        },
        "createTime": {
          "description": "The time that the revision was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "processor": {
          "type": "string",
          "description": "If the annotation was made by processor identify the processor by its resource name."
        }
      },
      "description": "Contains past or forward revisions of this document.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ReviewDocumentResponse": {
      "id": "GoogleCloudDocumentaiV1ReviewDocumentResponse",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Cloud Storage uri for the human reviewed document.",
          "type": "string"
        }
      },
      "description": "Response message for review document method."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageLine": {
      "type": "object",
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc.",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for Line."
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          }
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance",
          "description": "The history of this annotation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageLine"
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone, e.g. \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number, e.g. \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "GoogleTypeTimeZone"
    },
    "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig": {
      "description": "The configuration used when outputting documents.",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage uri (a directory) of the output."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "type": "object",
      "description": "Response message for the disable processor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "description": "The long running operation metadata for review document method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed."
        },
        "state": {
          "description": "Used only when Operation.done is false.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ]
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata": {
      "description": "The long running operation metadata for the undeploy processor version method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentRevisionHumanReview",
      "description": "Human Review information of the document.",
      "type": "object",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`."
        },
        "state": {
          "type": "string",
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig": {
      "id": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig",
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix",
          "description": "The set of documents that match the specified Cloud Storage [gcs_prefix]."
        },
        "gcsDocuments": {
          "$ref": "GoogleCloudDocumentaiV1beta3GcsDocuments",
          "description": "The set of documents individually specified on Cloud Storage."
        }
      },
      "description": "The common config to specify a set of documents used as input."
    },
    "GoogleCloudDocumentaiV1beta2Document": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2Document",
      "description": "Document represents the canonical document resource in Document Understanding AI. It is an interchange format that provides insights into documents and allows for collaboration between users and Document Understanding AI to iterate and optimize for quality.",
      "properties": {
        "text": {
          "description": "Optional. UTF-8 encoded text in reading order from the document.",
          "type": "string"
        },
        "revisions": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentRevision"
          },
          "description": "Revision history of this document.",
          "type": "array"
        },
        "entityRelations": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation"
          },
          "description": "Relationship among Document.entities.",
          "type": "array"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentLabel"
          },
          "description": "Labels for this document."
        },
        "textStyles": {
          "description": "Styles for the Document.text.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentStyle"
          },
          "type": "array"
        },
        "textChanges": {
          "description": "A list of text corrections made to [Document.text]. This is usually used for annotating corrections to OCR mistakes. Text changes for a given revision may not overlap with each other.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextChange"
          },
          "type": "array"
        },
        "error": {
          "description": "Any error that occurred while processing this document.",
          "$ref": "GoogleRpcStatus"
        },
        "mimeType": {
          "description": "An IANA published MIME type (also referred to as media type). For more information, see https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        },
        "content": {
          "description": "Optional. Inline document content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64.",
          "type": "string",
          "format": "byte"
        },
        "uri": {
          "description": "Optional. Currently supports Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info.",
          "type": "string"
        },
        "shardInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentShardInfo",
          "description": "Information about the sharding if this document is sharded part of a larger document. If the document is not sharded, this message is not specified."
        },
        "pages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPage"
          },
          "description": "Visual page layout for the Document.",
          "type": "array"
        },
        "entities": {
          "description": "A list of entities detected on Document.text. For document shards, entities in this list may cross shard boundaries.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata",
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentRevision": {
      "description": "Contains past or forward revisions of this document.",
      "properties": {
        "parent": {
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "processor": {
          "type": "string",
          "description": "If the annotation was made by processor identify the processor by its resource name."
        },
        "agent": {
          "type": "string",
          "description": "If the change was made by a person specify the name or id of that person."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the revision was created."
        },
        "humanReview": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview",
          "description": "Human Review information of this revision."
        },
        "id": {
          "description": "Id of the revision. Unique within the context of the document.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentRevision",
      "type": "object"
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "id": "GoogleTypeMoney",
      "properties": {
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata",
      "description": "The long running operation metadata for disable processor method.",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentRevision": {
      "description": "Contains past or forward revisions of this document.",
      "properties": {
        "humanReview": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentRevisionHumanReview",
          "description": "Human Review information of this revision."
        },
        "id": {
          "type": "string",
          "description": "Id of the revision. Unique within the context of the document."
        },
        "parent": {
          "description": "The revisions that this revision is based on. This can include one or more parent (when documents are merged.) This field represents the index into the `revisions` field.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "createTime": {
          "description": "The time that the revision was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "agent": {
          "type": "string",
          "description": "If the change was made by a person specify the name or id of that person."
        },
        "processor": {
          "type": "string",
          "description": "If the annotation was made by processor identify the processor by its resource name."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentRevision",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview": {
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`."
        },
        "state": {
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`.",
          "type": "string"
        }
      },
      "description": "Human Review information of the document.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentRevisionHumanReview",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse": {
      "properties": {
        "responses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse"
          },
          "type": "array",
          "description": "Responses for each individual document."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1BatchProcessDocumentsResponse",
      "description": "Response to an batch document processing request. This is returned in the LRO Operation after the operation is complete."
    },
    "GoogleCloudDocumentaiV1beta2OutputConfig": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2OutputConfig",
      "properties": {
        "pagesPerShard": {
          "type": "integer",
          "format": "int32",
          "description": "The max number of pages to include into each output Document shard JSON on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 parsed pages will be produced. If `pages_per_shard` = 20, then 5 Document shard JSON files each containing 20 parsed pages will be written under the prefix OutputConfig.gcs_destination.uri and suffix pages-x-to-y.json where x and y are 1-indexed page numbers. Example GCS outputs with 157 pages and pages_per_shard = 50: pages-001-to-050.json pages-051-to-100.json pages-101-to-150.json pages-151-to-157.json"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudDocumentaiV1beta2GcsDestination",
          "description": "The Google Cloud Storage location to write the output to."
        }
      },
      "description": "The desired output location and metadata."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell": {
      "type": "object",
      "description": "A cell representation inside the table.",
      "properties": {
        "layout": {
          "description": "Layout for TableCell.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "colSpan": {
          "description": "How many columns this cell spans.",
          "type": "integer",
          "format": "int32"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "rowSpan": {
          "type": "integer",
          "format": "int32",
          "description": "How many rows this cell spans."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTableTableCell"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTable": {
      "properties": {
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow"
          },
          "description": "Header rows of the table.",
          "type": "array"
        },
        "layout": {
          "description": "Layout for Table.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "bodyRows": {
          "description": "Body rows of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow"
          },
          "type": "array"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A table representation similar to HTML table structure.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTable"
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextAnchorTextSegment",
      "type": "object",
      "properties": {
        "endIndex": {
          "format": "int64",
          "type": "string",
          "description": "TextSegment half open end UTF-8 char index in the Document.text."
        },
        "startIndex": {
          "description": "TextSegment start UTF-8 char index in the Document.text.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset"
    },
    "GoogleCloudDocumentaiV1beta1DocumentStyleFontSize": {
      "type": "object",
      "properties": {
        "unit": {
          "description": "Unit for the font size. Follows CSS naming (in, px, pt, etc.).",
          "type": "string"
        },
        "size": {
          "description": "Font size for the text.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Font size with unit.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentStyleFontSize"
    },
    "GoogleCloudDocumentaiV1beta2DocumentProvenance": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "type": "object",
      "properties": {
        "revision": {
          "format": "int32",
          "description": "The index of the revision that produced this element.",
          "type": "integer"
        },
        "parents": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenanceParent"
          },
          "type": "array",
          "description": "References to the original elements that are replaced."
        },
        "type": {
          "enumDescriptions": [
            "Operation type unspecified.",
            "Add an element. Implicit if no `parents` are set for the provenance.",
            "The element is removed. No `parents` should be set.",
            "Explicitly replaces the element(s) identified by `parents`.",
            "Element is requested for human review.",
            "Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Element is skipped in the validation process."
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "description": "The type of provenance operation."
        },
        "id": {
          "format": "int32",
          "type": "integer",
          "description": "The Id of this operation. Needs to be unique within the scope of the revision."
        }
      }
    },
    "GoogleTypePostalAddress": {
      "description": "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an i18n-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478",
      "id": "GoogleTypePostalAddress",
      "properties": {
        "recipients": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array"
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines.",
          "type": "string"
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer",
          "format": "int32"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (e.g. \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (e.g. Côte d'Ivoire).",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See http://cldr.unicode.org/ and http://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "addressLines": {
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "items": {
            "type": "string"
          }
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.)."
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentTextChange": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentTextChange",
      "description": "This message is used for text changes aka. OCR corrections.",
      "properties": {
        "textAnchor": {
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
          }
        },
        "changedText": {
          "type": "string",
          "description": "The text that replaces the text identified in the `text_anchor`."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse",
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the created evaluation."
        }
      },
      "type": "object",
      "description": "Metadata of the EvaluateProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue": {
      "description": "Parsed and normalized entity value.",
      "type": "object",
      "properties": {
        "datetimeValue": {
          "description": "DateTime value. Includes date, time, and timezone. See also: https://github.com/googleapis/googleapis/blob/master/google/type/datetime.proto",
          "$ref": "GoogleTypeDateTime"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean value. Can be used for entities with binary values, or for checkboxes."
        },
        "text": {
          "type": "string",
          "description": "Required. Normalized entity value stored as a string. This field is populated for supported document type (e.g. Invoice). For some entity types, one of respective 'structured_value' fields may also be populated. - Money/Currency type (`money_value`) is in the ISO 4217 text format. - Date type (`date_value`) is in the ISO 8601 text format. - Datetime type (`datetime_value`) is in the ISO 8601 text format."
        },
        "moneyValue": {
          "$ref": "GoogleTypeMoney",
          "description": "Money value. See also: https://github.com/googleapis/googleapis/blob/master/google/type/money.proto"
        },
        "addressValue": {
          "$ref": "GoogleTypePostalAddress",
          "description": "Postal address. See also: https://github.com/googleapis/googleapis/blob/master/google/type/postal_address.proto"
        },
        "dateValue": {
          "description": "Date value. Includes year, month, day. See also: https://github.com/googleapis/googleapis/blob/master/google/type/date.proto",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue"
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata",
      "description": "The long running operation metadata for set default processor version method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageParagraph": {
      "type": "object",
      "description": "A collection of lines that a human would perceive as a paragraph.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageParagraph",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        },
        "layout": {
          "description": "Layout for Paragraph.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse": {
      "type": "object",
      "properties": {
        "inputConfig": {
          "description": "Information about the input file. This is the same as the corresponding input config in the request.",
          "$ref": "GoogleCloudDocumentaiV1beta1InputConfig"
        },
        "outputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta1OutputConfig",
          "description": "The output location of the parsed responses. The responses are written to this location as JSON-serialized `Document` objects."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1ProcessDocumentResponse",
      "description": "Response to a single document processing request."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageDimension": {
      "description": "Dimension for the page.",
      "properties": {
        "unit": {
          "type": "string",
          "description": "Dimension unit."
        },
        "height": {
          "description": "Page height.",
          "format": "float",
          "type": "number"
        },
        "width": {
          "type": "number",
          "description": "Page width.",
          "format": "float"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageDimension",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDimension": {
      "properties": {
        "width": {
          "format": "float",
          "type": "number",
          "description": "Page width."
        },
        "height": {
          "description": "Page height.",
          "type": "number",
          "format": "float"
        },
        "unit": {
          "type": "string",
          "description": "Dimension unit."
        }
      },
      "type": "object",
      "description": "Dimension for the page.",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDimension"
    },
    "GoogleCloudDocumentaiV1beta3DocumentOutputConfig": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentOutputConfig",
      "type": "object",
      "description": "Config that controls the output of documents. All documents will be written as a JSON file.",
      "properties": {
        "gcsOutputConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig",
          "description": "Output config to write the results to Cloud Storage."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDimension": {
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDimension",
      "type": "object",
      "properties": {
        "height": {
          "description": "Page height.",
          "format": "float",
          "type": "number"
        },
        "width": {
          "type": "number",
          "format": "float",
          "description": "Page width."
        },
        "unit": {
          "description": "Dimension unit.",
          "type": "string"
        }
      },
      "description": "Dimension for the page."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImage": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Encoding mime type for the image."
        },
        "width": {
          "description": "Width of the image in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Height of the image in pixels."
        },
        "content": {
          "type": "string",
          "description": "Raw byte content of the image.",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImage",
      "type": "object",
      "description": "Rendered image contents for this page."
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageAnchor": {
      "properties": {
        "pageRefs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageAnchorPageRef"
          },
          "description": "One or more references to visual page elements"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageAnchor",
      "type": "object",
      "description": "Referencing the visual context of the entity in the Document.pages. Page anchors can be cross-page, consist of multiple bounding polygons and optionally reference specific layout element types."
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement": {
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page.",
      "type": "object",
      "properties": {
        "layout": {
          "description": "Layout for VisualElement.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "type": {
          "description": "Type of the VisualElement.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement"
    },
    "GoogleCloudDocumentaiV1beta3DocumentRevisionHumanReview": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentRevisionHumanReview",
      "properties": {
        "state": {
          "type": "string",
          "description": "Human review state. e.g. `requested`, `succeeded`, `rejected`."
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`.",
          "type": "string"
        }
      },
      "description": "Human Review information of the document.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow": {
      "properties": {
        "cells": {
          "description": "Cells that make up this row.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableCell"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageTableTableRow",
      "description": "A row of table cells.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageFormField": {
      "description": "A form field detected on the page.",
      "properties": {
        "fieldName": {
          "description": "Layout for the FormField name. e.g. `Address`, `Email`, `Grand total`, `Phone number`, etc.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "fieldValue": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for the FormField value."
        },
        "valueDetectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages for value together with confidence.",
          "type": "array"
        },
        "valueType": {
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the field_value is normal text) - \"unfilled_checkbox\" - \"filled_checkbox\"",
          "type": "string"
        },
        "nameDetectedLanguages": {
          "type": "array",
          "description": "A list of detected languages for name together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageFormField",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement": {
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "type": {
          "description": "Type of the VisualElement.",
          "type": "string"
        },
        "layout": {
          "description": "Layout for VisualElement.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageVisualElement",
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageLine": {
      "properties": {
        "layout": {
          "description": "Layout for Line.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout"
        },
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          }
        },
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
        }
      },
      "description": "A collection of tokens that a human would perceive as a line. Does not cross column boundaries, can be horizontal, vertical, etc.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageLine"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1GcsDestination": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Google Cloud Storage location where the output file will be written to.",
      "id": "GoogleCloudDocumentaiV1beta1GcsDestination"
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntityRelation": {
      "type": "object",
      "properties": {
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        },
        "relation": {
          "type": "string",
          "description": "Relationship description."
        },
        "objectId": {
          "description": "Object entity id.",
          "type": "string"
        }
      },
      "description": "Relationship between Entities.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntityRelation"
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextChange": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextChange",
      "description": "This message is used for text changes aka. OCR corrections.",
      "type": "object",
      "properties": {
        "provenance": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
          },
          "type": "array",
          "description": "The history of this annotation."
        },
        "changedText": {
          "description": "The text that replaces the text identified in the `text_anchor`.",
          "type": "string"
        },
        "textAnchor": {
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3GcsDocument": {
      "type": "object",
      "description": "Specifies a document stored on Cloud Storage.",
      "id": "GoogleCloudDocumentaiV1beta3GcsDocument",
      "properties": {
        "gcsUri": {
          "description": "The Cloud Storage object uri.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "An IANA MIME type (RFC6838) of the content."
        }
      }
    },
    "GoogleCloudDocumentaiV1HumanReviewStatus": {
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the human review state."
        },
        "state": {
          "description": "The state of human review on the processing request.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SKIPPED",
            "VALIDATION_PASSED",
            "IN_PROGRESS",
            "ERROR"
          ],
          "enumDescriptions": [
            "Human review state is unspecified. Most likely due to an internal error.",
            "Human review is skipped for the document. This can happen because human review is not enabled on the processor or the processing request has been set to skip this document.",
            "Human review validation is triggered and passed, so no review is needed.",
            "Human review validation is triggered and the document is under review.",
            "Some error happened during triggering human review, see the [state_message] for details."
          ],
          "type": "string"
        },
        "humanReviewOperation": {
          "type": "string",
          "description": "The name of the operation triggered by the processed document. This field is populated only when the [state] is [HUMAN_REVIEW_IN_PROGRESS]. It has the same response type and metadata as the long running operation returned by [ReviewDocument] method."
        }
      },
      "description": "The status of human review on a processed document.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1HumanReviewStatus"
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentProvenance": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentProvenance",
      "description": "Structure to identify provenance relationships between annotations in different revisions.",
      "properties": {
        "revision": {
          "description": "The index of the revision that produced this element.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "Operation type unspecified.",
            "Add an element. Implicit if no `parents` are set for the provenance.",
            "The element is removed. No `parents` should be set.",
            "Explicitly replaces the element(s) identified by `parents`.",
            "Element is requested for human review.",
            "Element is reviewed and approved at human review, confidence will be set to 1.0.",
            "Element is skipped in the validation process."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE",
            "REPLACE",
            "EVAL_REQUESTED",
            "EVAL_APPROVED",
            "EVAL_SKIPPED"
          ],
          "type": "string",
          "description": "The type of provenance operation."
        },
        "parents": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenanceParent"
          },
          "description": "References to the original elements that are replaced.",
          "type": "array"
        },
        "id": {
          "description": "The Id of this operation. Needs to be unique within the scope of the revision.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageVisualElement": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageVisualElement",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "type": {
          "description": "Type of the VisualElement.",
          "type": "string"
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout",
          "description": "Layout for VisualElement."
        }
      },
      "description": "Detected non-text visual elements e.g. checkbox, signature etc. on the page."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageMatrix": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageMatrix",
      "type": "object",
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The matrix data."
        },
        "rows": {
          "type": "integer",
          "description": "Number of rows in the matrix.",
          "format": "int32"
        },
        "type": {
          "format": "int32",
          "type": "integer",
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html"
        },
        "cols": {
          "type": "integer",
          "description": "Number of columns in the matrix.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata",
      "type": "object",
      "description": "The long running operation metadata for enable processor method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "y": {
          "format": "float",
          "description": "Y coordinate (starts from the top of the image).",
          "type": "number"
        },
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta2NormalizedVertex",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageLayout": {
      "type": "object",
      "description": "Visual element describing a layout unit on a page.",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence of the current Layout within context of the object this layout is for. e.g. confidence can be for a single token, a table, a visual element, etc. depending on context. Range [0, 1].",
          "format": "float"
        },
        "orientation": {
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ],
          "description": "Detected orientation for the Layout.",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "type": "string"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1beta3BoundingPoly",
          "description": "The bounding polygon for the Layout."
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
    },
    "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentProvenanceParent",
      "description": "Structure for referencing parent provenances. When an element replaces one of more other elements parent references identify the elements that are replaced.",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The id of the parent provenance."
        },
        "revision": {
          "format": "int32",
          "description": "The index of the [Document.revisions] identifying the parent revision.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow": {
      "description": "A row of table cells.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableRow",
      "properties": {
        "cells": {
          "type": "array",
          "description": "Cells that make up this row.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTableTableCell"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageBlock": {
      "properties": {
        "provenance": {
          "description": "The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentProvenance"
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
          "description": "Layout for Block."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageBlock",
      "description": "A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageToken": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageToken",
      "type": "object",
      "properties": {
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "description": "The history of this annotation."
        },
        "detectedBreak": {
          "description": "Detected break at the end of a Token.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageTokenDetectedBreak"
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        },
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
          "description": "Layout for Token."
        }
      },
      "description": "A detected token."
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntityRelation": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentEntityRelation",
      "description": "Relationship between Entities.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        },
        "relation": {
          "type": "string",
          "description": "Relationship description."
        },
        "subjectId": {
          "type": "string",
          "description": "Subject entity id."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3RawDocument": {
      "properties": {
        "mimeType": {
          "description": "An IANA MIME type (RFC6838) indicating the nature and format of the [content].",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Inline document content.",
          "format": "byte"
        }
      },
      "description": "Payload message of raw document content (bytes).",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3RawDocument"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageDetectedLanguage",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "confidence": {
          "description": "Confidence of detected language. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Detected language for a structural component.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentStyle": {
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentStyle",
      "properties": {
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        },
        "backgroundColor": {
          "description": "Text background color.",
          "$ref": "GoogleTypeColor"
        },
        "textDecoration": {
          "type": "string",
          "description": "Text decoration. Follows CSS standard. https://www.w3schools.com/cssref/pr_text_text-decoration.asp"
        },
        "fontWeight": {
          "description": "Font weight. Possible values are normal, bold, bolder, and lighter. https://www.w3schools.com/cssref/pr_font_weight.asp",
          "type": "string"
        },
        "fontSize": {
          "description": "Font size.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize"
        },
        "color": {
          "description": "Text color.",
          "$ref": "GoogleTypeColor"
        },
        "textStyle": {
          "description": "Text style. Possible values are normal, italic, and oblique. https://www.w3schools.com/cssref/pr_font_font-style.asp",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2Vertex": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2Vertex",
      "properties": {
        "x": {
          "format": "int32",
          "description": "X coordinate.",
          "type": "integer"
        },
        "y": {
          "type": "integer",
          "description": "Y coordinate (starts from the top of the image).",
          "format": "int32"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image."
    },
    "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata": {
      "type": "object",
      "description": "The metadata that represents a processor version being created.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "trainingDatasetValidation": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation",
          "description": "The training dataset validation information."
        },
        "testDatasetValidation": {
          "description": "The test dataset validation information.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadataDatasetValidation"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3TrainProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long running operation."
        }
      },
      "type": "object",
      "description": "The long running operation metadata for deploy processor version method.",
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta3ProcessRequest": {
      "description": "Request message for the process document method.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessRequest",
      "properties": {
        "document": {
          "description": "The document payload, the [content] and [mime_type] fields must be set.",
          "$ref": "GoogleCloudDocumentaiV1beta3Document"
        },
        "inlineDocument": {
          "description": "An inline document proto.",
          "$ref": "GoogleCloudDocumentaiV1beta3Document"
        },
        "skipHumanReview": {
          "type": "boolean",
          "description": "Whether Human Review feature should be skipped for this request. Default to false."
        },
        "rawDocument": {
          "description": "A raw document content (bytes).",
          "$ref": "GoogleCloudDocumentaiV1beta3RawDocument"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage": {
      "properties": {
        "confidence": {
          "description": "Confidence of detected language. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "description": "Detected language for a structural component.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse": {
      "type": "object",
      "description": "Response message for the enable processor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageMatrix": {
      "properties": {
        "data": {
          "format": "byte",
          "description": "The matrix data.",
          "type": "string"
        },
        "cols": {
          "type": "integer",
          "format": "int32",
          "description": "Number of columns in the matrix."
        },
        "type": {
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html",
          "format": "int32",
          "type": "integer"
        },
        "rows": {
          "type": "integer",
          "description": "Number of rows in the matrix.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageMatrix",
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageImage": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageImage",
      "properties": {
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Height of the image in pixels."
        },
        "width": {
          "description": "Width of the image in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "content": {
          "type": "string",
          "format": "byte",
          "description": "Raw byte content of the image."
        },
        "mimeType": {
          "description": "Encoding mime type for the image.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Rendered image contents for this page."
    },
    "GoogleCloudDocumentaiV1beta2DocumentPageLayout": {
      "id": "GoogleCloudDocumentaiV1beta2DocumentPageLayout",
      "properties": {
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
        },
        "orientation": {
          "description": "Detected orientation for the Layout.",
          "type": "string",
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ]
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1beta2BoundingPoly",
          "description": "The bounding polygon for the Layout."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the current Layout within context of the object this layout is for. e.g. confidence can be for a single token, a table, a visual element, etc. depending on context. Range [0, 1]."
        }
      },
      "type": "object",
      "description": "Visual element describing a layout unit on a page."
    },
    "GoogleCloudDocumentaiV1beta2DocumentTextChange": {
      "properties": {
        "provenance": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance"
          },
          "description": "The history of this annotation.",
          "type": "array"
        },
        "changedText": {
          "description": "The text that replaces the text identified in the `text_anchor`.",
          "type": "string"
        },
        "textAnchor": {
          "description": "Provenance of the correction. Text anchor indexing into the Document.text. There can only be a single `TextAnchor.text_segments` element. If the start and end index of the text segment are the same, the text change is inserted before that index.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
        }
      },
      "description": "This message is used for text changes aka. OCR corrections.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2DocumentTextChange"
    },
    "GoogleCloudDocumentaiV1beta1DocumentShardInfo": {
      "description": "For a large document, sharding may be performed to produce several document shards. Each document shard contains this field to detail which shard it is.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentShardInfo",
      "properties": {
        "textOffset": {
          "type": "string",
          "format": "int64",
          "description": "The index of the first character in Document.text in the overall document global text."
        },
        "shardCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of shards."
        },
        "shardIndex": {
          "description": "The 0-based index of this shard.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef": {
      "description": "Represents a weak reference to a page element within a document.",
      "properties": {
        "layoutType": {
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ],
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ],
          "type": "string",
          "description": "Optional. The type of the layout element that is being referenced if any."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1beta1BoundingPoly",
          "description": "Optional. Identifies the bounding polygon of a layout element on the page."
        },
        "layoutId": {
          "type": "string",
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead."
        },
        "page": {
          "description": "Required. Index into the Document.pages element, for example using Document.pages to locate the related page element.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageAnchorPageRef"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPageLayout": {
      "description": "Visual element describing a layout unit on a page.",
      "properties": {
        "orientation": {
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "description": "Detected orientation for the Layout.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ]
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of the current Layout within context of the object this layout is for. e.g. confidence can be for a single token, a table, a visual element, etc. depending on context. Range [0, 1]."
        },
        "textAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentTextAnchor",
          "description": "Text anchor indexing into the Document.text."
        },
        "boundingPoly": {
          "description": "The bounding polygon for the Layout.",
          "$ref": "GoogleCloudDocumentaiV1beta1BoundingPoly"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta1DocumentPageLayout",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta1DocumentPage": {
      "type": "object",
      "description": "A page in a Document.",
      "id": "GoogleCloudDocumentaiV1beta1DocumentPage",
      "properties": {
        "tables": {
          "description": "A list of visually detected tables on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageTable"
          },
          "type": "array"
        },
        "visualElements": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageVisualElement"
          },
          "type": "array",
          "description": "A list of detected non-text visual elements e.g. checkbox, signature etc. on the page."
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageBlock"
          },
          "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
          "type": "array"
        },
        "transforms": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageMatrix"
          },
          "type": "array",
          "description": "Transformation matrices that were applied to the original document image to produce Page.image."
        },
        "layout": {
          "description": "Layout for the page.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLayout"
        },
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageToken"
          },
          "description": "A list of visually detected tokens on the page."
        },
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDetectedLanguage"
          },
          "type": "array",
          "description": "A list of detected languages together with confidence."
        },
        "lines": {
          "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageLine"
          },
          "type": "array"
        },
        "formFields": {
          "description": "A list of visually detected form fields on the page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageFormField"
          }
        },
        "paragraphs": {
          "type": "array",
          "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageParagraph"
          }
        },
        "dimension": {
          "description": "Physical dimension of the page.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageDimension"
        },
        "pageNumber": {
          "type": "integer",
          "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing.",
          "format": "int32"
        },
        "image": {
          "description": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned.",
          "$ref": "GoogleCloudDocumentaiV1beta1DocumentPageImage"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta1InputConfig": {
      "properties": {
        "gcsSource": {
          "description": "The Google Cloud Storage location to read the input from. This must be a single file.",
          "$ref": "GoogleCloudDocumentaiV1beta1GcsSource"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. Mimetype of the input. Current supported mimetypes are application/pdf, image/tiff, and image/gif. In addition, application/json type is supported for requests with ProcessDocumentRequest.automl_params field set. The JSON file needs to be in Document format."
        }
      },
      "type": "object",
      "description": "The desired input location and metadata.",
      "id": "GoogleCloudDocumentaiV1beta1InputConfig"
    },
    "GoogleCloudDocumentaiV1beta1OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta1OperationMetadata",
      "description": "Contains metadata for the BatchProcessDocuments operation.",
      "properties": {
        "stateMessage": {
          "description": "A message providing more details about the current state of processing.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCEPTED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED"
          ],
          "description": "The state of the current batch processing.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request is received.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2InputConfig": {
      "description": "The desired input location and metadata.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta2InputConfig",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDocumentaiV1beta2GcsSource",
          "description": "The Google Cloud Storage location to read the input from. This must be a single file."
        },
        "mimeType": {
          "description": "Required. Mimetype of the input. Current supported mimetypes are application/pdf, image/tiff, and image/gif. In addition, application/json type is supported for requests with ProcessDocumentRequest.automl_params field set. The JSON file needs to be in Document format.",
          "type": "string"
        },
        "contents": {
          "format": "byte",
          "type": "string",
          "description": "Content in bytes, represented as a stream of bytes. Note: As with all `bytes` fields, proto buffer messages use a pure binary representation, whereas JSON representations use base64. This field only works for synchronous ProcessDocument method."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta2DocumentEntity": {
      "type": "object",
      "properties": {
        "pageAnchor": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentPageAnchor",
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found."
        },
        "redacted": {
          "description": "Optional. Whether the entity will be redacted for de-identification purposes.",
          "type": "boolean"
        },
        "mentionText": {
          "description": "Optional. Text value in the document e.g. `1600 Amphitheatre Pkwy`.",
          "type": "string"
        },
        "mentionId": {
          "description": "Optional. Deprecated. Use `id` field instead.",
          "type": "string"
        },
        "textAnchor": {
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentTextAnchor"
        },
        "type": {
          "type": "string",
          "description": "Entity type from a schema e.g. `Address`."
        },
        "properties": {
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntity"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
        },
        "normalizedValue": {
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (e.g. address) is not supported for certain parsers. This field is also only populated for certain supported document types.",
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentEntityNormalizedValue"
        },
        "confidence": {
          "type": "number",
          "description": "Optional. Confidence of detected Schema entity. Range [0, 1].",
          "format": "float"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1beta2DocumentProvenance",
          "description": "Optional. The history of this annotation."
        }
      },
[...]
