{
  "servicePath": "",
  "revision": "20200616",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/search-ads",
  "schemas": {
    "Availability": {
      "type": "object",
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "properties": {
        "agencyId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "description": "DS agency ID.",
          "type": "string"
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "type": "string",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search\nFloodlight activity name)."
        },
        "segmentationId": {
          "format": "int64",
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search\nFloodlight activity ID)."
        },
        "segmentationType": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "The segmentation type that this availability is for (its default value is\n`FLOODLIGHT`)."
        },
        "advertiserId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "DS advertiser ID.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "UpdateAvailabilityRequest": {
      "description": "The request to update availability.",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "type": "object",
      "id": "UpdateAvailabilityRequest"
    },
    "SavedColumn": {
      "type": "object",
      "description": "A saved column",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string\n\u003ccode\u003edoubleclicksearch#savedColumn\u003c/code\u003e."
        },
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        }
      },
      "id": "SavedColumn"
    },
    "ReportApiColumnSpec": {
      "properties": {
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the\noverall time range of the report for this column only. Must be provided\ntogether with `endDate`."
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an\nadvertiser or lower, and the custom dimension must already be set up in\nDoubleClick Search. The custom dimension name, which appears in DoubleClick\nSearch, is case sensitive.\\\nIf used in a conversion report, returns the\nvalue of the specified custom dimension for the given conversion, if set.\nThis column does not segment the conversion report.",
          "type": "string"
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped\nat advertiser or lower, and this saved column must already be created in\nthe DoubleClick Search UI."
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the\noverall time range of the report for this column only. Must be provided\ntogether with `startDate`."
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension.\nAcceptable values are \"floodlight\"."
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column.\nDefaults to `false`.",
          "type": "boolean"
        },
        "columnName": {
          "type": "string",
          "description": "Name of a DoubleClick Search column to include in the report."
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped\nto an advertiser or lower, and the custom metric must already be set up in\nDoubleClick Search. The custom metric name, which appears in DoubleClick\nSearch, is case sensitive."
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted\nvalues are: \u003cul\u003e \u003cli\u003e\"`sold`\": returns metrics only for products\nthat were sold\u003c/li\u003e \u003cli\u003e\"`advertised`\": returns metrics only for\nproducts that were advertised in a Shopping campaign, and that might or\nmight not have been sold\u003c/li\u003e \u003c/ul\u003e",
          "type": "string"
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to\n`columnName` or `savedColumnName` when not specified.\nThis can be used to prevent collisions between DoubleClick Search columns\nand saved columns with the same name."
        }
      },
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "id": "ReportApiColumnSpec"
    },
    "CustomDimension": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        },
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        }
      },
      "description": "A message containing the custom dimension.",
      "type": "object",
      "id": "CustomDimension"
    },
    "SavedColumnList": {
      "id": "SavedColumnList",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string\n\u003ccode\u003edoubleclicksearch#savedColumnList\u003c/code\u003e."
        },
        "items": {
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          },
          "type": "array"
        }
      },
      "description": "A list of saved columns. Advertisers create saved columns to report on\nFloodlight activities, Google Analytics goals, or custom KPIs. To request\nreports with saved columns,\nyou'll need the saved column names that are available from this list.",
      "type": "object"
    },
    "UpdateAvailabilityResponse": {
      "type": "object",
      "properties": {
        "availabilities": {
          "type": "array",
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned."
        }
      },
      "id": "UpdateAvailabilityResponse",
      "description": "The response to a update availability request."
    },
    "ReportRow": {
      "type": "object",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      },
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report."
    },
    "ConversionList": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a ConversionList resource. Value: the fixed string\n\u003ccode\u003edoubleclicksearch#conversionList\u003c/code\u003e."
        },
        "conversion": {
          "type": "array",
          "description": "The conversions being requested.",
          "items": {
            "$ref": "Conversion"
          }
        }
      },
      "type": "object",
      "id": "ConversionList",
      "description": "A list of conversions."
    },
    "CustomMetric": {
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "Custom metric numeric value.",
          "format": "double"
        }
      },
      "id": "CustomMetric",
      "type": "object",
      "description": "A message containing the custom metric."
    },
    "Conversion": {
      "type": "object",
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search.",
      "properties": {
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string",
          "format": "int64"
        },
        "productGroupId": {
          "type": "string",
          "description": "DS product group ID.",
          "format": "int64"
        },
        "conversionId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "For offline conversions, advertisers provide this ID. Advertisers can\nspecify any ID that is meaningful to them. Each conversion in a request\nmust specify a unique ID, and the combination of ID and timestamp must be\nunique amongst all conversions within the advertiser.\u003cbr\u003e For online\nconversions, DS copies the `dsConversionId` or\n`floodlightOrderId` into this property depending on the\nadvertiser's Floodlight instructions.",
          "type": "string"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the\nproduct. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "floodlightOrderId": {
          "type": "string",
          "description": "The Floodlight order ID provided by the advertiser for the conversion."
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search\nFloodlight activity ID).",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or\n`TRANSACTION`. An `ACTION` conversion is an action by\nthe user that has no monetarily quantifiable value, while a\n`TRANSACTION` conversion is an action that does have a\nmonetarily quantifiable value. Examples are email list signups\n(`ACTION`) versus ecommerce purchases\n(`TRANSACTION`)."
        },
        "campaignId": {
          "type": "string",
          "description": "DS campaign ID.",
          "format": "int64"
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or\n`REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "adId": {
          "type": "string",
          "format": "int64",
          "description": "DS ad ID."
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable\nonly when the channel is \"`local`\"."
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the\nproduct. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "format": "int64",
          "type": "string"
        },
        "adGroupId": {
          "description": "DS ad group ID.",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217\nalphabetic (3-char) format.",
          "type": "string"
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: \u003cul\u003e\n\u003cli\u003e\"`local`\": a physical store\u003c/li\u003e \u003cli\u003e\"`online`\":\nan online store\u003c/li\u003e \u003c/ul\u003e"
        },
        "inventoryAccountId": {
          "type": "string",
          "format": "int64",
          "description": "ID that DS generates and uses to uniquely identify the inventory account\nthat contains the product."
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "format": "int64",
          "type": "string"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "format": "int64",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer\nsupport.",
          "type": "string"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search\nFloodlight activity name).",
          "type": "string"
        },
        "customDimension": {
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a\nreport.",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros\n(value multiplied by 1000000, no decimal). For example, to specify a\nrevenue value of \"10\"  enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "countMillis": {
          "format": "int64",
          "description": "Available to advertisers only after contacting DoubleClick Search customer\nsupport.",
          "type": "string"
        },
        "dsConversionId": {
          "format": "int64",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "type": "string"
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "The segmentation type of this conversion (for example,\n`FLOODLIGHT`)."
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "type": "string",
          "format": "int64"
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion.",
          "type": "array"
        },
        "conversionTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "type": "string"
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ReportRequest": {
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "id": "ReportRequest",
      "properties": {
        "timeRange": {
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to\nrestrict the metrics to a specific time range.",
          "properties": {
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "endDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g.,\n`2013-07-16T10:16:23.555Z`. See additional references on how\nchanged attribute reports work."
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g.,\n`2013-07-16T10:16:23.555Z`. See additional references on how\nchanged metrics reports work.",
              "type": "string"
            }
          }
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array",
          "description": "The columns to include in the report. This includes both DoubleClick Search\ncolumns and saved columns. For DoubleClick Search columns, only the\n`columnName` parameter is required. For saved columns only the\n`savedColumnName` parameter is required. Both\n`columnName` and `savedColumnName` cannot be set in\nthe same stanza.\\\nThe maximum number of columns per request is 300."
        },
        "maxRowsPerFile": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32",
          "description": "Asynchronous report only. The maximum number of rows per report file. A\nlarge report is split into many files based on this field. Acceptable\nvalues are `1000000` to `100000000`, inclusive.",
          "type": "integer"
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting\nto be performed on the report rows.\\\nThe maximum number of orderings per request is 300.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined\ncolumn or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or\n`descending`."
              }
            }
          }
        },
        "reportType": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Determines the type of rows that are returned in the report. For example,\nif you specify `reportType: keyword`, each row in the report\nwill contain data about a keyword. See the [Types of\nReports](/search-ads/v2/report-types/) reference for the columns that are\navailable for each type."
        },
        "filters": {
          "type": "array",
          "items": {
            "properties": {
              "values": {
                "type": "array",
                "description": "A list of values to filter the column value against.\\\nThe maximum number of filter values per request is 300.",
                "items": {
                  "type": "any"
                }
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column\nor a saved column."
              },
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of\navailable operators.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "A list of filters to be applied to the report.\\\nThe maximum number of filters per request is 300."
        },
        "statisticsCurrency": {
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values\nare: `usd`, `agency` (valid if the report is scoped\nto agency or lower), `advertiser` (valid if the report is scoped\nto * advertiser or lower), or `account` (valid if the report is\nscoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "rowCount": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "description": "Synchronous report only. The maximum number of rows to return; additional\nrows are dropped. Acceptable values are `0` to\n`10000`, inclusive. Defaults to `10000`.",
          "type": "integer",
          "format": "int32"
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested\nstat data are sourced from a single timezone. Defaults to\n`false`.",
          "type": "boolean"
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or\n`tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults\nto `false`. Deprecated, please use\n`includeRemovedEntities` instead."
        },
        "reportScope": {
          "type": "object",
          "description": "The reportScope is a set of IDs that are used to determine which subset of\nentities will be returned in the report. The full lineage of IDs from the\nlowest scoped level desired up through agency is required.",
          "properties": {
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "DS agency ID."
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "type": "string",
              "format": "int64"
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "type": "string",
              "format": "int64"
            },
            "keywordId": {
              "description": "DS keyword ID.",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "type": "string",
              "description": "DS ad ID.",
              "format": "int64"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "DS advertiser ID."
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "format": "int64",
              "type": "string"
            }
          }
        },
        "startRow": {
          "description": "Synchronous report only. Zero-based index of the first row to return.\nAcceptable values are `0` to `50000`, inclusive.\nDefaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults\nto `false`.",
          "type": "boolean"
        }
      }
    },
    "Report": {
      "type": "object",
      "id": "Report",
      "description": "A DoubleClick Search report. This object contains the report request, some\nreport metadata such as currency code, and the generated report rows or\nreport files.",
      "properties": {
        "rowCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of report rows generated by the report, not including headers."
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the\noriginal request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "files": {
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once\nthe report has successfully completed.",
          "items": {
            "properties": {
              "url": {
                "type": "string",
                "description": "Use this url to download the report file."
              },
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              }
            },
            "type": "object"
          }
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed\nsuccessfully and the report files are ready to be downloaded."
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string\n`doubleclicksearch#report`.",
          "type": "string"
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this\nwould be it. Otherwise the field is unset."
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Asynchronous report only. Id of the report."
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including\nvalues that are set by users (e.g., keyword bid settings) and metrics\n(e.g., cost and revenue). The currency code of a report is determined by\nthe `statisticsCurrency` field of the report request.",
          "type": "string"
        }
      }
    }
  },
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "basePath": "",
  "rootUrl": "https://www.googleapis.com/",
  "canonicalName": "Doubleclicksearch",
  "batchPath": "batch/doubleclicksearch/v2",
  "kind": "discovery#restDescription",
  "name": "doubleclicksearch",
  "ownerName": "Google",
  "id": "doubleclicksearch:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "reports": {
      "methods": {
        "request": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "parameterOrder": [],
          "description": "Inserts a report request into the reporting system.",
          "flatPath": "doubleclicksearch/v2/reports",
          "httpMethod": "POST",
          "id": "doubleclicksearch.reports.request",
          "request": {
            "$ref": "ReportRequest"
          },
          "path": "doubleclicksearch/v2/reports",
          "response": {
            "$ref": "Report"
          }
        },
        "generate": {
          "id": "doubleclicksearch.reports.generate",
          "description": "Generates and returns a report immediately.",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "parameterOrder": [],
          "request": {
            "$ref": "ReportRequest"
          },
          "path": "doubleclicksearch/v2/reports/generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "getFile": {
          "parameters": {
            "reportId": {
              "description": "ID of the report.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "reportFragment": {
              "description": "The index of the report fragment to download.",
              "format": "int32",
              "required": true,
              "minimum": "0",
              "type": "integer",
              "location": "path"
            }
          },
          "id": "doubleclicksearch.reports.getFile",
          "useMediaDownloadService": true,
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "description": "Downloads a report file encoded in UTF-8.",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": true,
          "httpMethod": "GET"
        },
        "get": {
          "id": "doubleclicksearch.reports.get",
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Report"
          },
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "parameterOrder": [
            "reportId"
          ],
          "httpMethod": "GET",
          "description": "Polls for the status of a report request.",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "conversion": {
      "methods": {
        "update": {
          "id": "doubleclicksearch.conversion.update",
          "httpMethod": "PUT",
          "flatPath": "doubleclicksearch/v2/conversion",
          "path": "doubleclicksearch/v2/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "parameterOrder": [],
          "request": {
            "$ref": "ConversionList"
          },
          "response": {
            "$ref": "ConversionList"
          }
        },
        "get": {
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "id": "doubleclicksearch.conversion.get",
          "response": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameters": {
            "startDate": {
              "type": "integer",
              "maximum": "99991231",
              "location": "query",
              "required": true,
              "format": "int32",
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is\nyyyymmdd."
            },
            "rowCount": {
              "format": "int32",
              "required": true,
              "minimum": "1",
              "type": "integer",
              "maximum": "1000",
              "location": "query",
              "description": "The number of conversions to return per call."
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "criterionId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "location": "query"
            },
            "agencyId": {
              "required": true,
              "description": "Numeric ID of the agency.",
              "location": "path",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the campaign."
            },
            "advertiserId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Numeric ID of the advertiser."
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Numeric ID of the engine account."
            },
            "adId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the ad.",
              "location": "query"
            },
            "endDate": {
              "format": "int32",
              "location": "query",
              "minimum": "20091101",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "maximum": "99991231",
              "type": "integer"
            },
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "type": "integer",
              "required": true,
              "format": "uint32",
              "location": "query"
            }
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion"
        },
        "insert": {
          "parameters": {},
          "response": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/conversion",
          "request": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.insert"
        },
        "updateAvailability": {
          "description": "Updates the availabilities of a batch of floodlight activities in\nDoubleClick Search.",
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "httpMethod": "POST",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "path": "doubleclicksearch/v2/conversion/updateAvailability"
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "agencyId": {
              "format": "int64",
              "type": "string",
              "description": "DS ID of the agency.",
              "required": true,
              "location": "path"
            },
            "advertiserId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "DS ID of the advertiser.",
              "format": "int64"
            }
          },
          "id": "doubleclicksearch.savedColumns.list",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "httpMethod": "GET",
          "response": {
            "$ref": "SavedColumnList"
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "version": "v2",
  "title": "Search Ads 360 API",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "ownerDomain": "google.com"
}
