{
  "ownerName": "Google",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "version": "v2",
  "title": "DoubleClick Bid Manager API",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "resources": {
    "queries": {
      "resources": {
        "reports": {
          "methods": {
            "get": {
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "description": "Retrieves a report.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "httpMethod": "GET",
              "path": "queries/{queryId}/reports/{reportId}",
              "response": {
                "$ref": "Report"
              },
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "parameters": {
                "reportId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Required. ID of the report to retrieve."
                },
                "queryId": {
                  "description": "Required. ID of the query the report is associated with.",
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string"
                }
              },
              "id": "doubleclickbidmanager.queries.reports.get"
            },
            "list": {
              "flatPath": "queries/{queryId}/reports",
              "httpMethod": "GET",
              "parameterOrder": [
                "queryId"
              ],
              "description": "Lists reports associated with a query.",
              "path": "queries/{queryId}/reports",
              "response": {
                "$ref": "ListReportsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous list call. Provide this to retrieve the subsequent page of reports.",
                  "location": "query"
                },
                "queryId": {
                  "location": "path",
                  "description": "Required. ID of the query with which the reports are associated.",
                  "type": "string",
                  "required": true,
                  "format": "int64"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "format": "int32",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Name of a field used to order results. The default sorting order is ascending. To specify descending order for a field, append a \" desc\" suffix. For example \"key.reportId desc\". Sorting is only supported for the following fields: * `key.reportId`",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "doubleclickbidmanager.queries.reports.list"
            }
          }
        }
      },
      "methods": {
        "list": {
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "parameterOrder": [],
          "id": "doubleclickbidmanager.queries.list",
          "description": "Lists queries created by the current user.",
          "httpMethod": "GET",
          "flatPath": "queries",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous list call. Provide this to retrieve the subsequent page of queries."
            },
            "orderBy": {
              "description": "Name of a field used to order results. The default sorting order is ascending. To specify descending order for a field, append a \" desc\" suffix. For example \"metadata.title desc\". Sorting is only supported for the following fields: * `queryId` * `metadata.title`",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries"
        },
        "get": {
          "id": "doubleclickbidmanager.queries.get",
          "flatPath": "queries/{queryId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Query"
          },
          "description": "Retrieves a query.",
          "parameters": {
            "queryId": {
              "format": "int64",
              "location": "path",
              "description": "Required. ID of query to retrieve.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries/{queryId}",
          "parameterOrder": [
            "queryId"
          ]
        },
        "delete": {
          "id": "doubleclickbidmanager.queries.delete",
          "flatPath": "queries/{queryId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameters": {
            "queryId": {
              "description": "Required. ID of query to delete.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "parameterOrder": [
            "queryId"
          ],
          "description": "Deletes a query as well as the associated reports.",
          "path": "queries/{queryId}"
        },
        "create": {
          "parameters": {},
          "request": {
            "$ref": "Query"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "Query"
          },
          "id": "doubleclickbidmanager.queries.create",
          "description": "Creates a query.",
          "httpMethod": "POST",
          "path": "queries",
          "flatPath": "queries"
        },
        "run": {
          "httpMethod": "POST",
          "description": "Runs a stored query to generate a report.",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "flatPath": "queries/{queryId}:run",
          "id": "doubleclickbidmanager.queries.run",
          "parameters": {
            "synchronous": {
              "description": "Whether the query should be run synchronously. When true, this method will not return until the query has finished running. When false or not specified, this method will return immediately.",
              "type": "boolean",
              "location": "query"
            },
            "queryId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. ID of query to run."
            }
          },
          "response": {
            "$ref": "Report"
          },
          "path": "queries/{queryId}:run",
          "parameterOrder": [
            "queryId"
          ]
        }
      }
    }
  },
  "name": "doubleclickbidmanager",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "v2/",
  "id": "doubleclickbidmanager:v2",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "protocol": "rest",
  "schemas": {
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token to retrieve the next page of reports. If this field is omitted, there are no subsequent pages."
        },
        "reports": {
          "type": "array",
          "description": "Retrieved reports.",
          "items": {
            "$ref": "Report"
          }
        }
      }
    },
    "QueryMetadata": {
      "properties": {
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "Format of the generated report."
        },
        "title": {
          "description": "Query title. It is used to name the reports generated from this query.",
          "type": "string"
        },
        "sendNotification": {
          "description": "Whether to send an email notification when a report is ready. Defaults to false.",
          "type": "boolean"
        },
        "dataRange": {
          "description": "Range of report data. All reports will be based on the same time zone as used by the advertiser.",
          "$ref": "DataRange"
        },
        "shareEmailAddress": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of email addresses which are sent email notifications when the report is finished. Separate from send_notification."
        }
      },
      "type": "object",
      "description": "Query metadata.",
      "id": "QueryMetadata"
    },
    "Report": {
      "properties": {
        "metadata": {
          "$ref": "ReportMetadata",
          "description": "Report metadata."
        },
        "key": {
          "$ref": "ReportKey",
          "description": "Key used to identify a report."
        },
        "params": {
          "description": "Report parameters.",
          "$ref": "Parameters"
        }
      },
      "description": "Represents a report.",
      "type": "object",
      "id": "Report"
    },
    "PathQueryOptionsFilter": {
      "description": "Dimension filter on path events.",
      "type": "object",
      "id": "PathQueryOptionsFilter",
      "properties": {
        "filter": {
          "description": "Dimension the filter is applied to.",
          "type": "string"
        },
        "match": {
          "enumDescriptions": [
            "Default value when match is not specified or is unknown in this version.",
            "Matches a value exactly.",
            "Matches a value partially.",
            "Begins with a value.",
            "Matches a value, utilizing wildcard character logic in the value."
          ],
          "description": "Match logic of the filter.",
          "enum": [
            "UNKNOWN",
            "EXACT",
            "PARTIAL",
            "BEGINS_WITH",
            "WILDCARD_EXPRESSION"
          ],
          "type": "string"
        },
        "values": {
          "type": "array",
          "description": "Values to filter on.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page of queries. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "queries": {
          "type": "array",
          "items": {
            "$ref": "Query"
          },
          "description": "The list of queries."
        }
      },
      "type": "object"
    },
    "Parameters": {
      "properties": {
        "metrics": {
          "description": "Metrics to include as columns in your report.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report. **Warning:** This report type will be deprecated in Display & Video 360 on **June 8, 2023**. Once deprecated, you will no longer be able to create new or retrieve existing Query and Report resources of this type.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "type": "string",
          "description": "The type of the report. The type of the report will dictate what dimesions, filters, and metrics can be used. **Warning:** The `AUDIENCE_COMPOSITION` report type will be deprecated in Display & Video 360 on **June 8, 2023**. Once deprecated, you will no longer be able to create new or retrieve existing Query and Report resources of this type."
        },
        "groupBys": {
          "items": {
            "type": "string"
          },
          "description": "Data is grouped by the filters listed in this field.",
          "type": "array"
        },
        "filters": {
          "items": {
            "$ref": "FilterPair"
          },
          "type": "array",
          "description": "Filters used to match traffic data in your report."
        },
        "options": {
          "description": "Additional query options.",
          "$ref": "Options"
        }
      },
      "id": "Parameters",
      "type": "object",
      "description": "Parameters of a query or report."
    },
    "ReportMetadata": {
      "id": "ReportMetadata",
      "description": "Report metadata.",
      "type": "object",
      "properties": {
        "reportDataEndDate": {
          "description": "The ending time for the data that is shown in the report.",
          "$ref": "Date"
        },
        "reportDataStartDate": {
          "description": "The starting time for the data that is shown in the report.",
          "$ref": "Date"
        },
        "status": {
          "description": "Report status.",
          "$ref": "ReportStatus"
        },
        "googleCloudStoragePath": {
          "type": "string",
          "description": "Output only. The path to the location in Google Cloud Storage where the report is stored.",
          "readOnly": true
        }
      }
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReportStatus": {
      "properties": {
        "finishTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this report either completed successfully or failed."
        },
        "format": {
          "description": "The file type of the report.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the report.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ]
        }
      },
      "type": "object",
      "description": "Report status.",
      "id": "ReportStatus"
    },
    "DataRange": {
      "id": "DataRange",
      "properties": {
        "customStartDate": {
          "description": "The starting data for the data that is shown in the report. Note, `customStartDate` is required if `range` is `CUSTOM_DATES` and ignored otherwise.",
          "$ref": "Date"
        },
        "customEndDate": {
          "$ref": "Date",
          "description": "The ending date for the data that is shown in the report. Note, `customEndDate` is required if `range` is `CUSTOM_DATES` and ignored otherwise."
        },
        "range": {
          "description": "Report data range used to generate the report.",
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom range specified by custom_start_date and custom_end_date fields.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Report data range."
    },
    "Options": {
      "type": "object",
      "id": "Options",
      "description": "Additional query options.",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Set to true and filter your report by `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` to include data for audience lists specifically targeted by those items.",
          "type": "boolean"
        },
        "pathQueryOptions": {
          "description": "Options that contain Path Filters and Custom Channel Groupings.",
          "$ref": "PathQueryOptions"
        }
      }
    },
    "FilterPair": {
      "description": "Filter used to match traffic data in your report.",
      "type": "object",
      "id": "FilterPair",
      "properties": {
        "type": {
          "description": "Filter type.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Filter value."
        }
      }
    },
    "PathFilter": {
      "type": "object",
      "description": "Path filters specify which paths to include in a report. A path is the result of combining DV360 events based on User ID to create a workflow of users' actions. When a path filter is set, the resulting report will only include paths that match the specified event at the specified position. All other paths will be excluded.",
      "properties": {
        "pathMatchPosition": {
          "enumDescriptions": [
            "Default value when path match position is not specified or is unknown in this version.",
            "Any position in the path.",
            "The first position in the path.",
            "The last position in the path."
          ],
          "enum": [
            "PATH_MATCH_POSITION_UNSPECIFIED",
            "ANY",
            "FIRST",
            "LAST"
          ],
          "description": "The position of the path the filter should match to (first, last, or any event in path).",
          "type": "string"
        },
        "eventFilters": {
          "type": "array",
          "description": "Filter on an event to be applied to some part of the path.",
          "items": {
            "$ref": "EventFilter"
          }
        }
      },
      "id": "PathFilter"
    },
    "Query": {
      "description": "Represents a query.",
      "properties": {
        "queryId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Query ID."
        },
        "params": {
          "$ref": "Parameters",
          "description": "Query parameters."
        },
        "schedule": {
          "description": "Information on how often and when to run a query. If `ONE_TIME` is set to the frequency field, the query will only be run at the time of creation.",
          "$ref": "QuerySchedule"
        },
        "metadata": {
          "description": "Query metadata.",
          "$ref": "QueryMetadata"
        }
      },
      "type": "object",
      "id": "Query"
    },
    "RunQueryRequest": {
      "type": "object",
      "properties": {
        "dataRange": {
          "description": "Report data range used to generate the report. If unspecified, the original parent query's data range is used.",
          "$ref": "DataRange"
        }
      },
      "id": "RunQueryRequest",
      "description": "Request to run a stored query to generate a report."
    },
    "DisjunctiveMatchStatement": {
      "properties": {
        "eventFilters": {
          "type": "array",
          "items": {
            "$ref": "EventFilter"
          },
          "description": "Filters. There is a limit of 100 filters that can be set per disjunctive match statement."
        }
      },
      "type": "object",
      "description": "DisjunctiveMatchStatement that OR's all contained filters.",
      "id": "DisjunctiveMatchStatement"
    },
    "ChannelGrouping": {
      "type": "object",
      "id": "ChannelGrouping",
      "properties": {
        "fallbackName": {
          "type": "string",
          "description": "The name to apply to an event that does not match any of the rules in the channel grouping."
        },
        "rules": {
          "type": "array",
          "description": "Rules within Channel Grouping. There is a limit of 100 rules that can be set per channel grouping.",
          "items": {
            "$ref": "Rule"
          }
        },
        "name": {
          "type": "string",
          "description": "Channel Grouping name."
        }
      },
      "description": "A channel grouping defines a set of rules that can be used to categorize events in a path report."
    },
    "Rule": {
      "type": "object",
      "id": "Rule",
      "description": "A Rule defines a name, and a boolean expression in [conjunctive normal form] (http://mathworld.wolfram.com/ConjunctiveNormalForm.html){.external} that can be applied to a path event to determine if that name should be applied.",
      "properties": {
        "disjunctiveMatchStatements": {
          "type": "array",
          "items": {
            "$ref": "DisjunctiveMatchStatement"
          },
          "description": "DisjunctiveMatchStatements within a Rule. DisjunctiveMatchStatement OR's all contained filters."
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        }
      }
    },
    "PathQueryOptions": {
      "description": "Path Query Options for Report Options.",
      "properties": {
        "pathFilters": {
          "type": "array",
          "description": "Path Filters. There is a limit of 100 path filters that can be set per report.",
          "items": {
            "$ref": "PathFilter"
          }
        },
        "channelGrouping": {
          "$ref": "ChannelGrouping",
          "description": "Custom Channel Groupings."
        }
      },
      "id": "PathQueryOptions",
      "type": "object"
    },
    "EventFilter": {
      "description": "Defines the type of filter to be applied to the path, a DV360 event dimension filter.",
      "id": "EventFilter",
      "type": "object",
      "properties": {
        "dimensionFilter": {
          "description": "Filter on a dimension.",
          "$ref": "PathQueryOptionsFilter"
        }
      }
    },
    "QuerySchedule": {
      "description": "Information on when and how frequently to run a query.",
      "id": "QuerySchedule",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "Date to periodically run the query until. Not applicable to `ONE_TIME` frequency."
        },
        "startDate": {
          "description": "When to start running the query. Not applicable to `ONE_TIME` frequency.",
          "$ref": "Date"
        },
        "nextRunTimezoneCode": {
          "description": "Canonical timezone code for report generation time. Defaults to `America/New_York`.",
          "type": "string"
        },
        "frequency": {
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only once.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter",
            "Once a year."
          ],
          "description": "How often the query is run.",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportKey": {
      "type": "object",
      "id": "ReportKey",
      "properties": {
        "queryId": {
          "format": "int64",
          "description": "Output only. Query ID.",
          "readOnly": true,
          "type": "string"
        },
        "reportId": {
          "description": "Output only. Report ID.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Key used to identify a report."
    }
  },
  "revision": "20230502",
  "basePath": "/v2/",
  "canonicalName": "DoubleClick Bid Manager"
}
