{
  "kind": "discovery#restDescription",
  "name": "drive",
  "title": "Google Drive API",
  "servicePath": "drive/v3/",
  "id": "drive:v3",
  "discoveryVersion": "v1",
  "revision": "20230610",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "version": "v3",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "basePath": "/drive/v3/",
  "protocol": "rest",
  "batchPath": "batch/drive/v3",
  "resources": {
    "changes": {
      "methods": {
        "watch": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "changes/watch",
          "flatPath": "changes/watch",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "parameterOrder": [
            "pageToken"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "id": "drive.changes.watch",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of changes to return per page.",
              "default": "100",
              "location": "query",
              "maximum": "1000",
              "minimum": "1"
            },
            "includeRemoved": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access."
            },
            "restrictToMyDrive": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "includeTeamDriveItems": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "deprecated": true
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "teamDriveId": {
              "type": "string",
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true
            },
            "spaces": {
              "type": "string",
              "default": "drive",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.",
              "location": "query"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method."
            },
            "includeCorpusRemovals": {
              "type": "boolean",
              "location": "query",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "default": "false"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "description": "Subscribes to changes for a user.",
          "supportsSubscription": true
        },
        "getStartPageToken": {
          "description": "Gets the starting pageToken for listing future changes.",
          "id": "drive.changes.getStartPageToken",
          "parameterOrder": [],
          "path": "changes/startPageToken",
          "flatPath": "changes/startPageToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "teamDriveId": {
              "type": "string",
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned."
            }
          },
          "response": {
            "$ref": "StartPageToken"
          },
          "httpMethod": "GET"
        },
        "list": {
          "parameters": {
            "includeTeamDriveItems": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "deprecated": true,
              "location": "query"
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "required": true,
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of changes to return per page.",
              "maximum": "1000",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "default": "100"
            },
            "includeRemoved": {
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "includeCorpusRemovals": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file."
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "location": "query"
            },
            "restrictToMyDrive": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.",
              "location": "query"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.",
              "type": "string",
              "default": "drive"
            }
          },
          "response": {
            "$ref": "ChangeList"
          },
          "flatPath": "changes",
          "id": "drive.changes.list",
          "description": "Lists the changes for a user or shared drive.",
          "httpMethod": "GET",
          "supportsSubscription": true,
          "path": "changes",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "pageToken"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "id": "drive.channels.stop",
          "parameterOrder": [],
          "flatPath": "channels/stop",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {},
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "httpMethod": "POST",
          "path": "channels/stop",
          "description": "Stops watching resources through this channel."
        }
      }
    },
    "replies": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "drive.replies.get",
          "description": "Gets a reply by ID.",
          "parameters": {
            "replyId": {
              "required": true,
              "description": "The ID of the reply.",
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "includeDeleted": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether to return deleted replies. Deleted replies will not include their original content."
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Reply"
          }
        },
        "list": {
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "pageSize": {
              "minimum": "1",
              "maximum": "100",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of replies to return per page.",
              "default": "20"
            },
            "includeDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted replies. Deleted replies will not include their original content.",
              "default": "false",
              "location": "query"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "description": "Lists a comment's replies.",
          "response": {
            "$ref": "ReplyList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.replies.list",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "create": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "POST",
          "request": {
            "$ref": "Reply"
          },
          "response": {
            "$ref": "Reply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.replies.create",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "description": "Creates a reply to a comment.",
          "parameters": {
            "commentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the comment.",
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          }
        },
        "delete": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a reply.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.delete",
          "parameters": {
            "commentId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the comment."
            },
            "replyId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the reply."
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Reply"
          },
          "response": {
            "$ref": "Reply"
          },
          "description": "Updates a reply with patch semantics.",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path"
            },
            "replyId": {
              "required": true,
              "location": "path",
              "description": "The ID of the reply.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "id": "drive.replies.update",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "flatPath": "about",
          "description": "Gets information about the user, the user's Drive, and system capabilities.",
          "httpMethod": "GET",
          "id": "drive.about.get",
          "response": {
            "$ref": "About"
          },
          "path": "about",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {},
          "parameterOrder": []
        }
      }
    },
    "files": {
      "methods": {
        "get": {
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.get",
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download & export files](/drive/api/guides/manage-downloads).",
          "useMediaDownloadService": true,
          "flatPath": "files/{fileId}",
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true,
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "acknowledgeAbuse": {
              "location": "query",
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "path": "files/{fileId}"
        },
        "list": {
          "parameters": {
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.",
              "location": "query",
              "default": "drive",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query"
            },
            "q": {
              "location": "query",
              "description": "A query for filtering the file results. See the \"Search for files & folders\" guide for supported syntax.",
              "type": "string"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are 'createdTime', 'folder', 'modifiedByMeTime', 'modifiedTime', 'name', 'name_natural', 'quotaBytesUsed', 'recency', 'sharedWithMeTime', 'starred', and 'viewedByMeTime'. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name."
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "location": "query",
              "type": "string"
            },
            "corpus": {
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ],
              "location": "query",
              "enum": [
                "domain",
                "user"
              ],
              "deprecated": true,
              "type": "string",
              "description": "Deprecated: The source of files to list. Use 'corpora' instead."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "type": "string",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "default": "100",
              "type": "integer",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "maximum": "1000",
              "minimum": "1",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false"
            },
            "corpora": {
              "type": "string",
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are 'user', 'domain', 'drive', and 'allDrives'. Prefer 'user' or 'drive' to 'allDrives' for efficiency. By default, corpora is set to 'user'. However, this can change depending on the filter set through the 'q' parameter.",
              "location": "query"
            }
          },
          "flatPath": "files",
          "description": " Lists the user's files. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for files & folders](/drive/api/guides/search-files) guide. *Note:* This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "path": "files",
          "id": "drive.files.list",
          "parameterOrder": [],
          "response": {
            "$ref": "FileList"
          }
        },
        "copy": {
          "id": "drive.files.copy",
          "httpMethod": "POST",
          "description": "Creates a copy of a file and applies any requested updates with patch semantics.",
          "response": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}/copy",
          "request": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported."
            },
            "ignoreDefaultVisibility": {
              "default": "false",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "type": "boolean",
              "location": "query"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated. Copying files into multiple folders is no longer supported. Use shortcuts instead."
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "keepRevisionForever": {
              "default": "false",
              "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "path": "files/{fileId}/copy"
        },
        "watch": {
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "description": "Subscribes to changes to a file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.files.watch",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/watch",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            }
          },
          "path": "files/{fileId}/watch",
          "response": {
            "$ref": "Channel"
          }
        },
        "generateIds": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "type": {
              "location": "query",
              "description": "The type of items which the IDs can be used for. Supported values are 'files' and 'shortcuts'. Note that 'shortcuts' are only supported in the `drive` 'space'. (Default: 'files')",
              "default": "files",
              "type": "string"
            },
            "count": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "default": "10",
              "minimum": "1",
              "description": "The number of IDs to return.",
              "maximum": "1000"
            },
            "space": {
              "type": "string",
              "description": "The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'. (Default: 'drive')",
              "default": "drive",
              "location": "query"
            }
          },
          "id": "drive.files.generateIds",
          "path": "files/generateIds",
          "flatPath": "files/generateIds",
          "httpMethod": "GET",
          "response": {
            "$ref": "GeneratedIds"
          },
          "parameterOrder": [],
          "description": "Generates a set of file IDs which can be provided in create or copy requests."
        },
        "modifyLabels": {
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "id": "drive.files.modifyLabels",
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file to which the labels belong."
            }
          },
          "httpMethod": "POST",
          "path": "files/{fileId}/modifyLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/modifyLabels",
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "ModifyLabelsRequest"
          }
        },
        "create": {
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "request": {
            "$ref": "File"
          },
          "flatPath": "files",
          "path": "files",
          "id": "drive.files.create",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files"
              },
              "resumable": {
                "path": "/resumable/upload/drive/v3/files",
                "multipart": true
              }
            }
          },
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "description": " Creates a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.create` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "parameters": {
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated. Creating files in multiple folders is no longer supported."
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "ocrLanguage": {
              "type": "string",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query"
            },
            "useContentAsIndexableText": {
              "location": "query",
              "description": "Whether to use the uploaded content as indexable text.",
              "type": "boolean",
              "default": "false"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "location": "query"
            },
            "keepRevisionForever": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions."
            },
            "ignoreDefaultVisibility": {
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          }
        },
        "export": {
          "path": "files/{fileId}/export",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.files.export",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "parameters": {
            "mimeType": {
              "description": "Required. The MIME type of the format requested for this export.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "flatPath": "files/{fileId}/export",
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB."
        },
        "listLabels": {
          "path": "files/{fileId}/listLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/listLabels",
          "id": "drive.files.listLabels",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "minimum": "1",
              "maximum": "100",
              "default": "100"
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "LabelList"
          },
          "description": "Lists the labels on a file."
        },
        "emptyTrash": {
          "path": "files/trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.files.emptyTrash",
          "httpMethod": "DELETE",
          "description": "Permanently deletes all of the user's trashed files.",
          "parameters": {
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "If set, empties the trash of the provided shared drive."
            },
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item will be placed under its owner's root.",
              "deprecated": true,
              "default": "false",
              "location": "query"
            }
          },
          "flatPath": "files/trash",
          "parameterOrder": []
        },
        "delete": {
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.delete",
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item will be placed under its owner's root.",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}",
          "httpMethod": "DELETE",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive the user must be an organizer on the parent. If the target is a folder, all descendants owned by the user are also deleted.",
          "path": "files/{fileId}"
        },
        "update": {
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files/{fileId}"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files/{fileId}"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "httpMethod": "PATCH",
          "path": "files/{fileId}",
          "id": "drive.files.update",
          "response": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](/drive/api/guides/manage-uploads).",
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "keepRevisionForever": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions."
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the uploaded content as indexable text.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "location": "query",
              "type": "string"
            },
            "addParents": {
              "description": "A comma-separated list of parent IDs to add.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "removeParents": {
              "description": "A comma-separated list of parent IDs to remove.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query"
            }
          },
          "supportsMediaUpload": true
        }
      }
    },
    "comments": {
      "methods": {
        "create": {
          "path": "files/{fileId}/comments",
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "response": {
            "$ref": "Comment"
          },
          "description": "Creates a comment on a file.",
          "httpMethod": "POST",
          "id": "drive.comments.create",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Comment"
          },
          "id": "drive.comments.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "includeDeleted": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
              "location": "query"
            },
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets a comment by ID.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}"
        },
        "delete": {
          "id": "drive.comments.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "description": "Deletes a comment.",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE"
        },
        "list": {
          "httpMethod": "GET",
          "id": "drive.comments.list",
          "description": "Lists a file's comments.",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "type": "string"
            },
            "startModifiedTime": {
              "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "minimum": "1",
              "maximum": "100",
              "type": "integer",
              "location": "query",
              "default": "20",
              "format": "int32",
              "description": "The maximum number of comments to return per page."
            },
            "includeDeleted": {
              "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/comments",
          "flatPath": "files/{fileId}/comments",
          "response": {
            "$ref": "CommentList"
          }
        },
        "update": {
          "id": "drive.comments.update",
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "commentId": {
              "required": true,
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "description": "Updates a comment with patch semantics.",
          "request": {
            "$ref": "Comment"
          }
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "description": "Gets a permission by ID.",
          "id": "drive.permissions.get",
          "response": {
            "$ref": "Permission"
          },
          "httpMethod": "GET",
          "parameters": {
            "permissionId": {
              "location": "path",
              "required": true,
              "description": "The ID of the permission.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "flatPath": "files/{fileId}/permissions/{permissionId}"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.delete",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "permissionId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the permission.",
              "required": true
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file or shared drive.",
              "location": "path",
              "type": "string"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}"
        },
        "list": {
          "description": "Lists a file's or shared drive's permissions.",
          "response": {
            "$ref": "PermissionList"
          },
          "flatPath": "files/{fileId}/permissions",
          "id": "drive.permissions.list",
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "maximum": "100",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "minimum": "1"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the file or shared drive."
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "type": "string"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "location": "query"
            }
          },
          "path": "files/{fileId}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.update",
          "description": "Updates a permission with patch semantics. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "path": "files/{fileId}/permissions/{permissionId}",
          "request": {
            "$ref": "Permission"
          },
          "httpMethod": "PATCH",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "permissionId": {
              "location": "path",
              "description": "The ID of the permission.",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file or shared drive.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query"
            },
            "removeExpiration": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to remove the expiration date."
            },
            "transferOwnership": {
              "location": "query",
              "default": "false",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          }
        },
        "create": {
          "response": {
            "$ref": "Permission"
          },
          "path": "files/{fileId}/permissions",
          "description": "Creates a permission for a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.create",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/permissions",
          "httpMethod": "POST",
          "request": {
            "$ref": "Permission"
          },
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "type": "boolean",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "moveToNewOwnersRoot": {
              "location": "query",
              "default": "false",
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file or shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "transferOwnership": {
              "default": "false",
              "location": "query",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.",
              "type": "boolean"
            },
            "emailMessage": {
              "type": "string",
              "location": "query",
              "description": "A plain text custom message to include in the notification email."
            },
            "sendNotificationEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to send a notification email when sharing to users or groups. This defaults to true for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "type": "boolean"
            }
          }
        }
      }
    },
    "revisions": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/revisions",
          "httpMethod": "GET",
          "path": "files/{fileId}/revisions",
          "description": "Lists a file's revisions.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of revisions to return per page.",
              "location": "query",
              "type": "integer",
              "default": "200",
              "minimum": "1",
              "maximum": "1000"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "response": {
            "$ref": "RevisionList"
          },
          "id": "drive.revisions.list",
          "parameterOrder": [
            "fileId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "revisionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the revision."
            }
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "id": "drive.revisions.get",
          "response": {
            "$ref": "Revision"
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "supportsMediaDownload": true,
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "description": "Gets a revision's metadata or content by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "delete": {
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content in Google Drive, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "path": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.delete",
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "revisionId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the revision."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.update",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "response": {
            "$ref": "Revision"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates a revision with patch semantics.",
          "request": {
            "$ref": "Revision"
          },
          "path": "files/{fileId}/revisions/{revisionId}"
        }
      }
    },
    "drives": {
      "methods": {
        "update": {
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}",
          "description": "Updates the metadate for a shared drive.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [
            "driveId"
          ],
          "request": {
            "$ref": "Drive"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Drive"
          },
          "id": "drive.drives.update",
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "driveId": {
              "type": "string",
              "description": "The ID of the shared drive.",
              "required": true,
              "location": "path"
            }
          }
        },
        "unhide": {
          "description": "Restores a shared drive to the default view.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.unhide",
          "flatPath": "drives/{driveId}/unhide",
          "httpMethod": "POST",
          "parameters": {
            "driveId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the shared drive."
            }
          },
          "path": "drives/{driveId}/unhide",
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "driveId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the shared drive.",
              "required": true
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "type": "boolean"
            },
            "allowItemDeletion": {
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "id": "drive.drives.delete",
          "path": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "flatPath": "drives/{driveId}",
          "description": "Permanently deletes a shared drive for which the user is an organizer. The shared drive cannot contain any untrashed items.",
          "httpMethod": "DELETE"
        },
        "hide": {
          "parameters": {
            "driveId": {
              "required": true,
              "description": "The ID of the shared drive.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "drives/{driveId}/hide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "description": "Hides a shared drive from the default view.",
          "path": "drives/{driveId}/hide",
          "httpMethod": "POST",
          "id": "drive.drives.hide"
        },
        "get": {
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a shared drive's metadata by ID.",
          "flatPath": "drives/{driveId}",
          "id": "drive.drives.get",
          "response": {
            "$ref": "Drive"
          },
          "path": "drives/{driveId}",
          "httpMethod": "GET",
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "type": "string",
              "required": true
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean"
            }
          }
        },
        "create": {
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "request": {
            "$ref": "Drive"
          },
          "id": "drive.drives.create",
          "description": "Creates a shared drive.",
          "parameterOrder": [
            "requestId"
          ],
          "path": "drives",
          "httpMethod": "POST",
          "flatPath": "drives",
          "response": {
            "$ref": "Drive"
          }
        },
        "list": {
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](/drive/api/guides/search-shareddrives) guide.",
          "path": "drives",
          "flatPath": "drives",
          "httpMethod": "GET",
          "id": "drive.drives.list",
          "parameterOrder": [],
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned."
            },
            "pageSize": {
              "maximum": "100",
              "location": "query",
              "description": "Maximum number of shared drives to return per page.",
              "format": "int32",
              "minimum": "1",
              "default": "10",
              "type": "integer"
            },
            "q": {
              "description": "Query string for searching shared drives.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Page token for shared drives.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "DriveList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "teamdrives": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "teamdrives/{teamDriveId}",
          "description": "Deprecated: Use `drives.delete` instead.",
          "httpMethod": "DELETE",
          "id": "drive.teamdrives.delete",
          "parameters": {
            "teamDriveId": {
              "required": true,
              "type": "string",
              "description": "The ID of the Team Drive",
              "location": "path"
            }
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ]
        },
        "list": {
          "description": "Deprecated: Use `drives.list` instead.",
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDriveList"
          },
          "flatPath": "teamdrives",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.teamdrives.list",
          "path": "teamdrives",
          "parameterOrder": [],
          "parameters": {
            "q": {
              "description": "Query string for searching Team Drives.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token for Team Drives."
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "default": "false",
              "type": "boolean"
            },
            "pageSize": {
              "maximum": "100",
              "type": "integer",
              "minimum": "1",
              "default": "10",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of Team Drives to return."
            }
          }
        },
        "update": {
          "description": "Deprecated: Use `drives.update` instead.",
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "default": "false",
              "type": "boolean"
            },
            "teamDriveId": {
              "required": true,
              "description": "The ID of the Team Drive",
              "location": "path",
              "type": "string"
            }
          },
          "id": "drive.teamdrives.update",
          "path": "teamdrives/{teamDriveId}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "request": {
            "$ref": "TeamDrive"
          },
          "response": {
            "$ref": "TeamDrive"
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "requestId": {
              "location": "query",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deprecated: Use `drives.create` instead.",
          "flatPath": "teamdrives",
          "path": "teamdrives",
          "parameterOrder": [
            "requestId"
          ],
          "id": "drive.teamdrives.create",
          "httpMethod": "POST",
          "response": {
            "$ref": "TeamDrive"
          },
          "request": {
            "$ref": "TeamDrive"
          }
        },
        "get": {
          "path": "teamdrives/{teamDriveId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.get",
          "flatPath": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean"
            },
            "teamDriveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the Team Drive"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Deprecated: Use `drives.get` instead."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/drive/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "LabelList": {
      "id": "LabelList",
      "description": "A list of labels applied to a file.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "The list of labels.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#labelList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        }
      }
    },
    "StartPageToken": {
      "type": "object",
      "id": "StartPageToken",
      "properties": {
        "startPageToken": {
          "description": "The starting page token for listing future changes. The page token doesn't expire.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "default": "drive#startPageToken"
        }
      }
    },
    "Reply": {
      "properties": {
        "content": {
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This is required on creates if no `action` is specified.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          }
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content."
        },
        "modifiedTime": {
          "description": "The last time the reply was modified (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "The action the reply performed to the parent comment. Valid values are: * `resolve` * `reopen`"
        },
        "author": {
          "$ref": "User",
          "description": "Output only. The author of the reply. The author's email address and permission ID will not be populated."
        },
        "htmlContent": {
          "type": "string",
          "description": "Output only. The content of the reply with HTML formatting."
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`.",
          "type": "string",
          "default": "drive#reply"
        },
        "createdTime": {
          "description": "The time at which the reply was created (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of the reply.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Reply",
      "description": "A reply to a comment on a file."
    },
    "PermissionList": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
[...]
