{
  "description": "An API for managing Drive Labels",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "version": "v2",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "protocol": "rest",
  "title": "Drive Labels API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "resources": {
    "labels": {
      "methods": {
        "list": {
          "description": "List labels.",
          "flatPath": "v2/labels",
          "httpMethod": "GET",
          "parameters": {
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token of the page to return.",
              "location": "query",
              "type": "string"
            },
            "minimumRole": {
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "type": "string",
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ],
              "description": "Specifies the level of access the user must have on the returned Labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "location": "query"
            },
            "view": {
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "location": "query",
              "type": "string"
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. This will return all Labels within the customer."
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200."
            },
            "publishedOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`)."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2ListLabelsResponse"
          },
          "path": "v2/labels",
          "id": "drivelabels.labels.list"
        },
        "get": {
          "description": "Get a label by its resource name. Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "id": "drivelabels.labels.get",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "parameters": {
            "view": {
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "location": "query",
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "type": "string"
            },
            "name": {
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "languageCode": {
              "location": "query",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "type": "string"
            },
            "useAdminAccess": {
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access.",
              "type": "boolean"
            }
          },
          "path": "v2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/labels/{labelsId}"
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/drive/labels",
  "canonicalName": "Drive Labels",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "id": "drivelabels:v2",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "revision": "20220802",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "drivelabels",
  "version_module": true,
  "schemas": {
    "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy": {
      "id": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
      "properties": {
        "copyMode": {
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values are not copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        }
      },
      "type": "object",
      "description": "Behavior of this label when it's applied to Drive items."
    },
    "GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "description": "Options for the Integer field type.",
      "properties": {
        "minValue": {
          "type": "string",
          "description": "Output only. The minimum valid value for the integer field.",
          "format": "int64",
          "readOnly": true
        },
        "maxValue": {
          "description": "Output only. The maximum valid value for the integer field.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "description": "The capabilities a user has on this label's applied metadata.",
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
      "type": "object",
      "properties": {
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2UserInfo": {
      "id": "GoogleAppsDriveLabelsV2UserInfo",
      "description": "Information about a user.",
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the People API to get more information. For example, people/12345678.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "properties": {
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "darkBadgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors",
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        },
        "badgePriority": {
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "type": "string",
          "format": "int64"
        },
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "badgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors",
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
      "type": "object",
      "description": "UI display hints for rendering an option."
    },
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldListOptions",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of entries permitted."
        }
      },
      "description": "Options for a multi-valued variant of an associated field type."
    },
    "GoogleTypeColor": {
      "properties": {
        "alpha": {
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number"
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "green": {
          "type": "number",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to/from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't carry information about the absolute color space that should be used to interpret the RGB value (e.g. sRGB, Adobe RGB, DCI-P3, BT.2020, etc.). By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most 1e-5. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "GoogleTypeColor"
    },
    "GoogleAppsDriveLabelsV2LockStatus": {
      "id": "GoogleAppsDriveLabelsV2LockStatus",
      "properties": {
        "locked": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether this label component is the (direct) target of a LabelLock. A label component can be implicitly locked even if it's not the direct target of a LabelLock, in which case this field is set to false."
        }
      },
      "description": "Contains information about whether a label component should be considered locked.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "type": "object",
      "properties": {
        "hideInSearch": {
          "type": "boolean",
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items."
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      },
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties"
        },
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this choice was updated last.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "publishTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published."
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
          "description": "Output only. The capabilities related to this option when editing the option.",
          "readOnly": true
        },
        "creator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who created this choice."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities"
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "description": "Output only. The LockStatus of this choice.",
          "readOnly": true
        },
        "publisher": {
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`."
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "description": "Output only. Lifecycle of the choice."
        },
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering a choice.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints"
        },
        "disableTime": {
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "readOnly": true
        }
      },
      "description": "Selection field choice."
    },
    "GoogleAppsDriveLabelsV2Field": {
      "id": "GoogleAppsDriveLabelsV2Field",
      "type": "object",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "properties": {
        "lifecycle": {
          "description": "Output only. The lifecycle of this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle"
        },
        "textOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions",
          "description": "Text field options."
        },
        "queryKey": {
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` \u003e 2001-01-01\".",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this field was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user who created this field.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "readOnly": true
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
          "description": "Output only. The capabilities this user has when editing this field.",
          "readOnly": true
        },
        "lockStatus": {
          "description": "Output only. The LockStatus of this field.",
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "readOnly": true
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties",
          "description": "The basic properties of the field."
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
          "description": "Integer field options."
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        },
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who modified this field."
        },
        "id": {
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`",
          "type": "string",
          "readOnly": true
        },
        "publisher": {
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items."
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDisplayHints",
          "readOnly": true
        },
        "disableTime": {
          "readOnly": true,
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "type": "string",
          "format": "google-datetime"
        },
        "dateOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions",
          "description": "Date field options."
        },
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this field was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "description": "The capabilities related to this choice when editing the choice.",
      "properties": {
        "canDisable": {
          "description": "Whether the user can disable this choice.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can update this choice."
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeConfig": {
      "properties": {
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color."
        },
        "priorityOverride": {
          "format": "int64",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "type": "string"
        }
      },
      "description": "Badge status of the label.",
      "id": "GoogleAppsDriveLabelsV2BadgeConfig",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BadgeColors": {
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2BadgeColors",
      "properties": {
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "backgroundColor": {
          "readOnly": true,
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge background that pairs with the foreground."
        },
        "foregroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge foreground that pairs with the background.",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2Lifecycle": {
      "id": "GoogleAppsDriveLabelsV2Lifecycle",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "description": "Output only. The state of the object associated with this lifecycle.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "type": "string"
        },
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true,
          "type": "boolean"
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        }
      },
      "description": "The lifecycle state of an object, such as label, field, or choice. The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -\u003e `PUBLISHED` * `UNPUBLISHED_DRAFT` -\u003e (Deleted) * `PUBLISHED` -\u003e `DISABLED` * `DISABLED` -\u003e `PUBLISHED` * `DISABLED` -\u003e (Deleted) The published and disabled states have some distinct characteristics: * Published—Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes are not permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * Disabled—When disabled, the configured `DisabledPolicy` takes effect."
    },
    "GoogleAppsDriveLabelsV2FieldTextOptions": {
      "properties": {
        "minLength": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The minimum valid length of values for the text field.",
          "format": "int32"
        },
        "maxLength": {
          "readOnly": true,
          "description": "Output only. The maximum valid length of values for the text field.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldTextOptions",
      "description": "Options for the Text field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldUserOptions": {
      "description": "Options for the user field type.",
      "properties": {
        "listOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions",
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed."
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldUserOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "description": "The capabilities related to this field on applied metadata.",
      "type": "object",
      "properties": {
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities"
    },
    "GoogleAppsDriveLabelsV2FieldProperties": {
      "id": "GoogleAppsDriveLabelsV2FieldProperties",
      "type": "object",
      "description": "The basic properties of the field.",
      "properties": {
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display text to show in the UI identifying this field."
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2ListLabelsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labels": {
          "description": "Labels.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        }
      },
      "description": "Response for listing Labels."
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "description": "UI display hints for rendering the label.",
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints",
      "properties": {
        "priority": {
          "format": "int64",
          "type": "string",
          "description": "Order to display label in a list."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the label should be shown in the UI as disabled."
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This label should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This label should be shown in the apply menu when applying values to a Drive item."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties": {
      "description": "Basic properties of the choice.",
      "properties": {
        "insertBeforeChoice": {
          "type": "string",
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list."
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2BadgeConfig"
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the label."
        },
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Basic properties of the label.",
      "id": "GoogleAppsDriveLabelsV2LabelProperties"
    },
    "GoogleAppsDriveLabelsV2Label": {
      "type": "object",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this label was created.",
          "format": "google-datetime"
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this label revision was created.",
          "readOnly": true,
          "type": "string"
        },
        "labelType": {
          "description": "Required. The type of label.",
          "type": "string",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN"
          ],
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features."
          ]
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Output only. The time this label was published. This value has no meaning when the label is not published.",
          "readOnly": true,
          "type": "string"
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities related to this label on applied metadata."
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who disabled this label. This value has no meaning when the label is not disabled."
        },
        "fields": {
          "description": "List of fields in descending priority order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Field"
          }
        },
        "learnMoreUri": {
          "type": "string",
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
        },
        "id": {
          "type": "string",
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`",
          "readOnly": true
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelDisplayHints"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string"
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes."
        },
        "creator": {
          "description": "Output only. The user who created this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label is not published.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "appliedLabelPolicy": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
          "description": "Output only. Behavior of this label when it's applied to Drive items."
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "readOnly": true,
          "description": "Output only. The LockStatus of this label."
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities the user has on this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities"
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`"
        },
        "disableTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this label was disabled. This value has no meaning when the label is not disabled."
        },
        "revisionCreator": {
          "description": "Output only. The user who created this label revision.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2Label"
    },
    "GoogleAppsDriveLabelsV2FieldDateOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldDateOptions",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Output only. Minimum valid value (year, month, day).",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "dateFormat": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ICU date format."
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "dateFormatType": {
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale."
        }
      },
      "description": "Options for the date field type."
    },
    "GoogleAppsDriveLabelsV2FieldDisplayHints": {
      "properties": {
        "shownInApply": {
          "type": "boolean",
          "description": "This field should be shown in the apply menu when applying values to a Drive item."
        },
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This field should be hidden in the search menu when searching for Drive items."
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldDisplayHints",
      "description": "UI display hints for rendering a field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "properties": {
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this label."
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled."
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this label when editing the label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities"
    },
    "GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this field when editing the field.",
      "properties": {
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this field."
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated."
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
      "properties": {
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        },
        "canSelect": {
          "type": "boolean",
          "description": "Whether the user can select this choice on an item."
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The capabilities related to this choice on applied metadata."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptions": {
      "type": "object",
      "description": "Options for the selection field type.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptions",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        },
        "choices": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
          },
          "type": "array",
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`."
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "basePath": ""
}
