{
  "discoveryVersion": "v1",
  "resources": {
    "apps": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "path": "apps",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "drive.apps.list",
          "flatPath": "apps",
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "location": "query"
            },
            "appFilterMimeTypes": {
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string",
              "default": "",
              "location": "query"
            },
            "appFilterExtensions": {
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "default": "",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AppList"
          },
          "description": "Lists a user's installed apps."
        },
        "get": {
          "response": {
            "$ref": "App"
          },
          "httpMethod": "GET",
          "path": "apps/{appId}",
          "id": "drive.apps.get",
          "flatPath": "apps/{appId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "appId": {
              "type": "string",
              "description": "The ID of the app.",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets a specific app.",
          "parameterOrder": [
            "appId"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "description": "Stops watching resources through this channel.",
          "id": "drive.channels.stop",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "channels/stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "path": "channels/stop",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "properties": {
      "methods": {
        "list": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/properties",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "PropertyList"
          },
          "flatPath": "files/{fileId}/properties",
          "description": "Lists a file's properties.",
          "id": "drive.properties.list"
        },
        "update": {
          "parameters": {
            "visibility": {
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "default": "private",
              "location": "query",
              "type": "string"
            },
            "propertyKey": {
              "required": true,
              "location": "path",
              "description": "The key of the property.",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "id": "drive.properties.update",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Property"
          },
          "description": "Updates a property.",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "httpMethod": "PUT",
          "path": "files/{fileId}/properties/{propertyKey}",
          "request": {
            "$ref": "Property"
          }
        },
        "patch": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Property"
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Property"
          },
          "description": "Updates a property.",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            },
            "propertyKey": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The key of the property."
            },
            "visibility": {
              "location": "query",
              "type": "string",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "default": "private"
            }
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.patch"
        },
        "insert": {
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.properties.insert",
          "flatPath": "files/{fileId}/properties",
          "response": {
            "$ref": "Property"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "path": "files/{fileId}/properties",
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Property"
          },
          "description": "Adds a property to a file, or updates it if it already exists."
        },
        "get": {
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file.",
              "type": "string"
            },
            "propertyKey": {
              "type": "string",
              "location": "path",
              "description": "The key of the property.",
              "required": true
            },
            "visibility": {
              "location": "query",
              "type": "string",
              "default": "private",
              "description": "The visibility of the property."
            }
          },
          "id": "drive.properties.get",
          "path": "files/{fileId}/properties/{propertyKey}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a property by its key.",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "response": {
            "$ref": "Property"
          }
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "propertyKey": {
              "description": "The key of the property.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "visibility": {
              "description": "The visibility of the property.",
              "default": "private",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "description": "Deletes a property.",
          "path": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.delete"
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "commentId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the comment."
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "description": "Deletes a comment.",
          "id": "drive.comments.delete",
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "patch": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.patch",
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing comment."
        },
        "insert": {
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "Comment"
          },
          "description": "Creates a new comment on the given file.",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "id": "drive.comments.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments",
          "path": "files/{fileId}/comments",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "update": {
          "id": "drive.comments.update",
          "parameters": {
            "commentId": {
              "required": true,
              "type": "string",
              "description": "The ID of the comment.",
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "description": "Updates an existing comment.",
          "request": {
            "$ref": "Comment"
          }
        },
        "get": {
          "id": "drive.comments.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file.",
              "type": "string"
            },
            "includeDeleted": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies."
            },
            "commentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the comment.",
              "location": "path"
            }
          },
          "description": "Gets a comment by ID.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/comments",
          "response": {
            "$ref": "CommentList"
          },
          "path": "files/{fileId}/comments",
          "parameters": {
            "updatedMin": {
              "type": "string",
              "location": "query",
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp."
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "type": "integer",
              "maximum": "100",
              "location": "query",
              "format": "int32",
              "minimum": "0",
              "default": "20"
            },
            "pageToken": {
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string",
              "location": "query"
            },
            "includeDeleted": {
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "httpMethod": "GET",
          "id": "drive.comments.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's comments."
        }
      }
    },
    "permissions": {
      "methods": {
        "patch": {
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "request": {
            "$ref": "Permission"
          },
          "parameters": {
            "transferOwnership": {
              "default": "false",
              "location": "query",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "removeExpiration": {
              "type": "boolean",
              "description": "Whether to remove the expiration date.",
              "location": "query",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID for the file or shared drive."
            },
            "permissionId": {
              "location": "path",
              "description": "The ID for the permission.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "response": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.patch",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "PATCH",
          "path": "files/{fileId}/permissions/{permissionId}"
        },
        "get": {
          "parameters": {
            "permissionId": {
              "type": "string",
              "location": "path",
              "description": "The ID for the permission.",
              "required": true
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string"
            }
          },
          "description": "Gets a permission by ID.",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.get",
          "path": "files/{fileId}/permissions/{permissionId}"
        },
        "getIdForEmail": {
          "id": "drive.permissions.getIdForEmail",
          "flatPath": "permissionIds/{email}",
          "response": {
            "$ref": "PermissionId"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "email": {
              "description": "The email address for which to return a permission ID",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Returns the permission ID for an email address.",
          "httpMethod": "GET",
          "parameterOrder": [
            "email"
          ],
          "path": "permissionIds/{email}"
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "id": "drive.permissions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "permissionId": {
              "required": true,
              "description": "The ID for the permission.",
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "httpMethod": "DELETE"
        },
        "insert": {
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions",
          "id": "drive.permissions.insert",
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "response": {
            "$ref": "Permission"
          },
          "httpMethod": "POST",
          "path": "files/{fileId}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "required": true
            },
            "sendNotificationEmails": {
              "default": "true",
              "location": "query",
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "type": "boolean"
            },
            "emailMessage": {
              "location": "query",
              "type": "string",
              "description": "A plain text custom message to include in notification emails."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "enforceSingleParent": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details."
            },
            "moveToNewOwnersRoot": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "update": {
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "description": "The ID for the permission.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID for the file or shared drive.",
              "location": "path"
            },
            "removeExpiration": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to remove the expiration date.",
              "location": "query"
            },
            "transferOwnership": {
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "PUT",
          "id": "drive.permissions.update",
          "description": "Updates a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "request": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "id": "drive.permissions.list",
          "response": {
            "$ref": "PermissionList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/permissions",
          "flatPath": "files/{fileId}/permissions",
          "description": "Lists a file's or shared drive's permissions.",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "maximum": "100"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "drives": {
      "methods": {
        "hide": {
          "path": "drives/{driveId}/hide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Drive"
          },
          "flatPath": "drives/{driveId}/hide",
          "description": "Hides a shared drive from the default view.",
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.hide",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "unhide": {
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "id": "drive.drives.unhide",
          "description": "Restores a shared drive to the default view.",
          "httpMethod": "POST",
          "parameters": {
            "driveId": {
              "type": "string",
              "description": "The ID of the shared drive.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "drives/{driveId}/unhide",
          "path": "drives/{driveId}/unhide"
        },
        "insert": {
          "flatPath": "drives",
          "parameterOrder": [
            "requestId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "request": {
            "$ref": "Drive"
          },
          "id": "drive.drives.insert",
          "path": "drives",
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned."
            }
          },
          "description": "Creates a new shared drive.",
          "httpMethod": "POST"
        },
        "delete": {
          "flatPath": "drives/{driveId}",
          "description": "Permanently deletes a shared drive for which the user is an organizer. The shared drive cannot contain any untrashed items.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "driveId"
          ],
          "path": "drives/{driveId}",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "default": "false"
            },
            "driveId": {
              "description": "The ID of the shared drive.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "allowItemDeletion": {
              "type": "boolean",
              "default": "false",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.delete"
        },
        "get": {
          "description": "Gets a shared drive's metadata by ID.",
          "flatPath": "drives/{driveId}",
          "parameters": {
            "driveId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the shared drive.",
              "required": true
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Drive"
          },
          "path": "drives/{driveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "response": {
            "$ref": "Drive"
          },
          "flatPath": "drives/{driveId}",
          "request": {
            "$ref": "Drive"
          },
          "id": "drive.drives.update",
          "parameterOrder": [
            "driveId"
          ],
          "path": "drives/{driveId}",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Updates the metadata for a shared drive."
        },
        "list": {
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](/drive/api/guides/search-shareddrives) guide.",
          "parameterOrder": [],
          "path": "drives",
          "flatPath": "drives",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token for shared drives.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "default": "false"
            },
            "maxResults": {
              "maximum": "100",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "default": "10",
              "type": "integer",
              "description": "Maximum number of shared drives to return per page."
            },
            "q": {
              "type": "string",
              "location": "query",
              "description": "Query string for searching shared drives."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "DriveList"
          },
          "id": "drive.drives.list"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "parameters": {
            "maxChangeIdCount": {
              "description": "Maximum number of remaining change IDs to count",
              "default": "1",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "includeSubscribed": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`."
            },
            "startChangeId": {
              "type": "string",
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "format": "int64",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "About"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets the information about the current user along with Drive API settings",
          "id": "drive.about.get",
          "path": "about",
          "httpMethod": "GET",
          "flatPath": "about"
        }
      }
    },
    "revisions": {
      "methods": {
        "get": {
          "description": "Gets a specific revision.",
          "id": "drive.revisions.get",
          "path": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "revisionId": {
              "location": "path",
              "description": "The ID of the revision.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "GET"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.revisions.list",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "maximum": "1000",
              "default": "200",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of revisions to return."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response."
            }
          },
          "description": "Lists a file's revisions.",
          "flatPath": "files/{fileId}/revisions",
          "response": {
            "$ref": "RevisionList"
          },
          "httpMethod": "GET",
          "path": "files/{fileId}/revisions",
          "parameterOrder": [
            "fileId"
          ]
        },
        "update": {
          "parameters": {
            "revisionId": {
              "required": true,
              "description": "The ID for the revision.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID for the file.",
              "location": "path"
            }
          },
          "description": "Updates a revision.",
          "request": {
            "$ref": "Revision"
          },
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Revision"
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "id": "drive.revisions.update",
          "path": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "patch": {
          "path": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID for the file.",
              "required": true,
              "type": "string"
            },
            "revisionId": {
              "type": "string",
              "description": "The ID for the revision.",
              "location": "path",
              "required": true
            }
          },
          "id": "drive.revisions.patch",
          "httpMethod": "PATCH",
          "description": "Updates a revision.",
          "response": {
            "$ref": "Revision"
          },
          "request": {
            "$ref": "Revision"
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ]
        },
        "delete": {
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.revisions.delete",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "httpMethod": "DELETE",
          "path": "files/{fileId}/revisions/{revisionId}",
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted."
        }
      }
    },
    "files": {
      "methods": {
        "list": {
          "description": " Lists the user's files. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for files & folders](/drive/api/guides/search-files) guide. *Note:* This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "path": "files",
          "parameterOrder": [],
          "response": {
            "$ref": "FileList"
          },
          "id": "drive.files.list",
          "httpMethod": "GET",
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "teamDriveId": {
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string"
            },
            "q": {
              "type": "string",
              "description": "Query string for searching files.",
              "location": "query"
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "ID of the shared drive to search."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results."
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "projection": {
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ]
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "minimum": "0",
              "format": "int32",
              "default": "100",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "type": "integer",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for files.",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, `title`, and `title_natural`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query"
            },
            "corpora": {
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
              "type": "string",
              "location": "query"
            },
            "corpus": {
              "type": "string",
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "location": "query",
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ]
            }
          },
          "flatPath": "files",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "watch": {
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "response": {
            "$ref": "Channel"
          },
          "id": "drive.files.watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "revisionId": {
              "location": "query",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file in question.",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "acknowledgeAbuse": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "projection": {
              "description": "Deprecated: This parameter has no function.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ]
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query"
            },
            "updateViewedDate": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "default": "false"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Subscribes to changes to a file.",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/watch",
          "path": "files/{fileId}/watch",
          "supportsSubscription": true
        },
        "modifyLabels": {
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "flatPath": "files/{fileId}/modifyLabels",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file to which the labels belong.",
              "type": "string",
              "required": true
            }
          },
          "id": "drive.files.modifyLabels",
          "path": "files/{fileId}/modifyLabels",
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "ModifyLabelsRequest"
          }
        },
        "untrash": {
          "httpMethod": "POST",
          "path": "files/{fileId}/untrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/untrash",
          "parameters": {
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file to untrash.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "File"
          },
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files. Only the owner may untrash a file.",
          "id": "drive.files.untrash"
        },
        "insert": {
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/drive/v2/files",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files",
          "parameterOrder": [],
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "supportsMediaUpload": true,
          "flatPath": "files",
          "parameters": {
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "useContentAsIndexableText": {
              "default": "false",
              "description": "Whether to use the content as indexable text.",
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "convert": {
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "pinned": {
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "timedTextTrackName": {
              "location": "query",
              "description": "The timed text track name.",
              "type": "string"
            },
            "timedTextLanguage": {
              "type": "string",
              "description": "The language of the timed text.",
              "location": "query"
            },
            "ocr": {
              "default": "false",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean",
              "location": "query"
            },
            "visibility": {
              "default": "DEFAULT",
              "description": "The visibility of the new file. This parameter is only relevant when convert=false.",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "type": "string",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility/sharing policies.",
                "The new file will be visible to only the owner."
              ],
              "location": "query"
            }
          },
          "id": "drive.files.insert",
          "request": {
            "$ref": "File"
          },
          "response": {
            "$ref": "File"
          }
        },
        "emptyTrash": {
          "description": "Permanently deletes all of the user's trashed files.",
          "parameters": {
            "enforceSingleParent": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "If set, empties the trash of the provided shared drive."
            }
          },
          "flatPath": "files/trash",
          "httpMethod": "DELETE",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.files.emptyTrash",
          "path": "files/trash"
        },
        "touch": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file to update.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/touch",
          "description": "Set the file's updated time to the current server time.",
          "id": "drive.files.touch",
          "path": "files/{fileId}/touch"
        },
        "export": {
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "flatPath": "files/{fileId}/export",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "supportsMediaDownload": true,
          "id": "drive.files.export",
          "httpMethod": "GET",
          "path": "files/{fileId}/export",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            },
            "mimeType": {
              "type": "string",
              "required": true,
              "description": "Required. The MIME type of the format requested for this export.",
              "location": "query"
            }
          },
          "useMediaDownloadService": true
        },
        "get": {
          "flatPath": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true,
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "supportsMediaDownload": true,
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](/drive/api/guides/manage-downloads).",
          "path": "files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.get",
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "revisionId": {
              "type": "string",
              "location": "query",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified."
            },
            "updateViewedDate": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "projection": {
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Deprecated: This parameter has no function.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID for the file in question.",
              "location": "path"
            }
          },
          "useMediaDownloadService": true
        },
        "listLabels": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "LabelList"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string"
            },
            "maxResults": {
              "default": "100",
              "format": "int32",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "location": "query",
              "maximum": "100",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/listLabels",
          "description": "Lists the labels on a file.",
          "id": "drive.files.listLabels",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/listLabels"
        },
        "generateIds": {
          "id": "drive.files.generateIds",
          "parameters": {
            "maxResults": {
              "default": "10",
              "minimum": "1",
              "maximum": "1000",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of IDs to return."
            },
            "type": {
              "location": "query",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
              "type": "string",
              "default": "files"
            },
            "space": {
              "default": "drive",
              "location": "query",
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "parameterOrder": [],
          "response": {
            "$ref": "GeneratedIds"
          },
          "flatPath": "files/generateIds",
          "httpMethod": "GET",
          "path": "files/generateIds"
        },
        "copy": {
          "description": "Creates a copy of the specified file.",
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "enforceSingleParent": {
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query"
            },
            "visibility": {
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility/sharing policies.",
                "The new file will be visible to only the owner."
              ],
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "default": "DEFAULT",
              "location": "query",
              "type": "string",
              "description": "The visibility of the new file. This parameter is only relevant when the source is not a native Google Doc and convert=false."
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "pinned": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions."
            },
            "convert": {
              "type": "boolean",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "default": "false",
              "location": "query"
            },
            "timedTextTrackName": {
              "type": "string",
              "description": "The timed text track name.",
              "location": "query"
            },
            "ocr": {
              "location": "query",
              "default": "false",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query"
            },
            "timedTextLanguage": {
              "location": "query",
              "type": "string",
              "description": "The language of the timed text."
            },
            "fileId": {
              "description": "The ID of the file to copy.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{fileId}/copy",
          "flatPath": "files/{fileId}/copy",
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.copy",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ]
        },
        "trash": {
          "httpMethod": "POST",
          "response": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}/trash",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.trash",
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file to trash.",
              "location": "path",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            }
          },
          "description": " Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files. Only the owner may trash a file. The trashed item is excluded from all `files.list` responses returned for any user who doesn't own the file. However, all users with access to the file can see the trashed item metadata in an API response. All users with access can copy, download, export, and share the file. *Note:* Files moved to the trash still appear by default in results from the `files.list` method. To permanently remove a file, use `files.delete`.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/trash"
        },
        "patch": {
          "request": {
            "$ref": "File"
          },
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "default": "false"
            },
            "ocrLanguage": {
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string"
            },
            "setModifiedDate": {
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file to update.",
              "location": "path"
            },
            "pinned": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request."
            },
            "convert": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: This parameter has no function."
            },
            "updateViewedDate": {
              "type": "boolean",
              "location": "query",
              "default": "true",
              "description": "Whether to update the view date after successfully updating the file."
            },
            "addParents": {
              "location": "query",
              "description": "Comma-separated list of parent IDs to add.",
              "type": "string"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "removeParents": {
              "location": "query",
              "description": "Comma-separated list of parent IDs to remove.",
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "timedTextLanguage": {
              "location": "query",
              "type": "string",
              "description": "The language of the timed text."
            },
            "useContentAsIndexableText": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to use the content as indexable text."
            },
            "modifiedDateBehavior": {
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "location": "query",
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "type": "string"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "location": "query",
              "type": "string"
            },
            "newRevision": {
              "type": "boolean",
              "location": "query",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request.",
              "default": "true"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "flatPath": "files/{fileId}",
          "id": "drive.files.patch"
        },
        "delete": {
          "description": "Permanently deletes a file by ID. Skips the trash. The currently authenticated user must own the file or be an organizer on the parent for shared drive files.",
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file to delete."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "flatPath": "files/{fileId}",
          "id": "drive.files.delete",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}",
          "httpMethod": "DELETE"
        },
        "update": {
          "request": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](/drive/api/guides/manage-uploads).",
          "parameters": {
            "newRevision": {
              "default": "true",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045).",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file to update.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "setModifiedDate": {
              "default": "false",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "type": "boolean",
              "location": "query"
            },
            "timedTextLanguage": {
              "location": "query",
              "description": "The language of the timed text.",
              "type": "string"
            },
            "ocr": {
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "location": "query",
[...]
