{
  "protocol": "rest",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    }
  },
  "name": "drive",
  "discoveryVersion": "v1",
  "revision": "20230502",
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "FileList": {
      "id": "FileList",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "incompleteSearch": {
          "type": "boolean",
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\"."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextLink": {
          "description": "A link to the next page of files.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#fileList`.",
          "type": "string",
          "default": "drive#fileList"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      },
      "description": "A list of files."
    },
    "PermissionId": {
      "properties": {
        "id": {
          "description": "The permission ID.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#permissionId`.",
          "default": "drive#permissionId",
          "type": "string"
        }
      },
      "id": "PermissionId",
      "type": "object",
      "description": "An ID for a user or group as seen in Permission items."
    },
    "TeamDriveList": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "TeamDrive"
          },
          "description": "The list of Team Drives."
        },
        "kind": {
          "description": "This is always `drive#teamDriveList`",
          "type": "string",
          "default": "drive#teamDriveList"
        },
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TeamDriveList",
      "description": "A list of Team Drives."
    },
    "User": {
      "type": "object",
      "description": "Information about a Drive user.",
      "properties": {
        "permissionId": {
          "type": "string",
          "description": "Output only. The user's ID as visible in the permissions collection."
        },
        "picture": {
          "description": "Output only. The user's profile picture.",
          "properties": {
            "url": {
              "type": "string",
              "description": "Output Only. A URL that points to a profile picture of this user."
            }
          },
          "type": "object"
        },
        "emailAddress": {
          "description": "Output only. The email address of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. A plain text displayable name for this user."
        },
        "isAuthenticatedUser": {
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#user",
          "description": "Output only. This is always `drive#user`.",
          "type": "string"
        }
      },
      "id": "User"
    },
    "File": {
      "type": "object",
      "properties": {
        "copyable": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead."
        },
        "labelInfo": {
          "description": "Output only. An overview of the labels on the file.",
          "properties": {
            "labels": {
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "items": {
                "$ref": "Label"
              },
              "type": "array"
            }
          },
          "type": "object"
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "openWithLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used.",
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "The ID of the file."
        },
        "shareable": {
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "type": "boolean"
        },
        "driveId": {
          "type": "string",
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives."
        },
        "linkShareMetadata": {
          "type": "object",
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "properties": {
            "securityUpdateEligible": {
              "description": "Output only. Whether the file is eligible for security update.",
              "type": "boolean"
            },
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            }
          }
        },
        "shared": {
          "type": "boolean",
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives."
        },
        "labels": {
          "type": "object",
          "properties": {
            "modified": {
              "description": "Output only. Whether the file has been modified by this user.",
              "type": "boolean"
            },
            "restricted": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead."
            },
            "trashed": {
              "type": "boolean",
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files."
            },
            "hidden": {
              "type": "boolean",
              "description": "Output only. Deprecated."
            },
            "starred": {
              "type": "boolean",
              "description": "Whether this file is starred by the user."
            },
            "viewed": {
              "type": "boolean",
              "description": "Whether this file has been viewed by this user."
            }
          },
          "description": "A group of labels for the file."
        },
        "markedViewedByMeDate": {
          "format": "date-time",
          "description": "Deprecated.",
          "type": "string"
        },
        "version": {
          "format": "int64",
          "type": "string",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user."
        },
        "writersCanShare": {
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "thumbnailLink": {
          "type": "string",
          "description": "Output only. A short-lived link to the file's thumbnail. Typically lasts on the order of hours. Only populated when the requesting app can access the file's content."
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "copyRequiresWriterPermission": {
          "type": "boolean",
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters."
        },
        "embedLink": {
          "description": "Output only. A link for embedding the file.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files.",
          "type": "string"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this file."
        },
        "thumbnail": {
          "type": "object",
          "properties": {
            "image": {
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "type": "string",
              "format": "byte"
            },
            "mimeType": {
              "description": "The MIME type of the thumbnail.",
              "type": "string"
            }
          },
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated."
        },
        "exportLinks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Links for exporting Docs Editors files to specific formats."
        },
        "fullFileExtension": {
          "type": "string",
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "editable": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canEdit` instead."
        },
        "properties": {
          "items": {
            "$ref": "Property"
          },
          "type": "array",
          "description": "The list of properties."
        },
        "capabilities": {
          "properties": {
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder."
            },
            "canMoveTeamDriveItem": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "type": "boolean"
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder."
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on this file."
            },
            "canReadLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the labels on the file."
            },
            "canReadTeamDrive": {
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead."
            },
            "canChangeSecurityUpdateEnabled": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata."
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this file."
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read."
            },
            "canReadDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
            },
            "canMoveItemOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added."
            },
            "canAddFolderFromAnotherDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canAcceptOwnership": {
              "type": "boolean",
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files."
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canDelete": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this file."
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canChangeRestrictedDownload": {
              "description": "Output only. Deprecated.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "description": "Output only. Whether the current user can modify restrictions on content of this file.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead."
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "type": "object"
        },
        "canComment": {
          "description": "Output only. Deprecated: Use `capabilities/canComment` instead.",
          "type": "boolean"
        },
        "alternateLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer.",
          "type": "string"
        },
        "contentRestrictions": {
          "type": "array",
          "items": {
            "$ref": "ContentRestriction"
          },
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists."
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. The type of file. This is always `drive#file`.",
          "type": "string",
          "default": "drive#file"
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "shortcutDetails": {
          "type": "object",
          "properties": {
            "targetId": {
              "type": "string",
              "description": "The ID of the file that this shortcut points to."
            },
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            },
            "targetResourceKey": {
              "type": "string",
              "description": "Output only. The ResourceKey for the target file."
            }
          },
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`."
        },
        "headRevisionId": {
          "type": "string",
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "permissions": {
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set.",
          "type": "string"
        },
        "spaces": {
          "description": "Output only. The list of spaces which contain the file. Supported values are `drive`, `appDataFolder` and `photos`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "originalFilename": {
          "type": "string",
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive."
        },
        "ownedByMe": {
          "description": "Output only. Whether the file is owned by the current user. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "canReadRevisions": {
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead.",
          "type": "boolean"
        },
        "parents": {
          "items": {
            "$ref": "ParentReference"
          },
          "type": "array",
          "description": "Collection of parent folders which contain this file. If not specified as part of an insert request, the file will be placed directly in the user's My Drive folder. If not specified as part of a copy request, the file will inherit any discoverable parents of the source file. Update requests can also use the `addParents` and `removeParents` parameters to modify the parents list."
        },
        "etag": {
          "description": "Output only. ETag of the file.",
          "type": "string"
        },
        "teamDriveId": {
          "description": "Output only. Deprecated: Use `driveId` instead.",
          "type": "string"
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed.",
          "type": "boolean"
        },
        "thumbnailVersion": {
          "type": "string",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "format": "int64"
        },
        "sharedWithMeDate": {
          "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp).",
          "format": "date-time",
          "type": "string"
        },
        "fileSize": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders."
        },
        "quotaBytesUsed": {
          "type": "string",
          "description": "Output only. The number of quota bytes used by this file.",
          "format": "int64"
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "appDataContents": {
          "type": "boolean",
          "description": "Output only. Whether this file is in the Application Data folder."
        },
        "selfLink": {
          "description": "Output only. A link back to this file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant."
        },
        "imageMediaMetadata": {
          "properties": {
            "whiteBalance": {
              "type": "string",
              "description": "Output only. The white balance mode used to create the photo."
            },
            "location": {
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "longitude": {
                  "format": "double",
                  "description": "Output only. The longitude stored in the image.",
                  "type": "number"
                },
                "altitude": {
                  "description": "Output only. The altitude stored in the image.",
                  "type": "number",
                  "format": "double"
                },
                "latitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The latitude stored in the image."
                }
              },
              "type": "object"
            },
            "subjectDistance": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The distance to the subject of the photo, in meters."
            },
            "flashUsed": {
              "type": "boolean",
              "description": "Output only. Whether a flash was used to create the photo."
            },
            "exposureBias": {
              "type": "number",
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "format": "float"
            },
            "width": {
              "format": "int32",
              "description": "Output only. The width of the image in pixels.",
              "type": "integer"
            },
            "exposureTime": {
              "description": "Output only. The length of the exposure, in seconds.",
              "type": "number",
              "format": "float"
            },
            "focalLength": {
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "format": "float",
              "type": "number"
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "cameraMake": {
              "type": "string",
              "description": "Output only. The make of the camera used to create the photo."
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "colorSpace": {
              "type": "string",
              "description": "Output only. The color space of the photo."
            },
            "sensor": {
              "type": "string",
              "description": "Output only. The type of sensor used to create the photo."
            },
            "rotation": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation."
            },
            "height": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The height of the image in pixels."
            },
            "aperture": {
              "format": "float",
              "description": "Output only. The aperture used to create the photo (f-number).",
              "type": "number"
            },
            "date": {
              "description": "Output only. The date and time the photo was taken (EXIF format timestamp).",
              "type": "string"
            },
            "isoSpeed": {
              "type": "integer",
              "description": "Output only. The ISO speed used to create the photo.",
              "format": "int32"
            },
            "lens": {
              "type": "string",
              "description": "Output only. The lens used to create the photo."
            },
            "cameraModel": {
              "type": "string",
              "description": "Output only. The model of the camera used to create the photo."
            },
            "maxApertureValue": {
              "format": "float",
              "type": "number",
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value)."
            }
          },
          "type": "object",
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type."
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this file.",
          "type": "string"
        },
        "trashingUser": {
          "$ref": "User",
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
        },
        "folderColorRgb": {
          "type": "string",
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette."
        },
        "indexableText": {
          "type": "object",
          "description": "Indexable text attributes for the file (can only be written)",
          "properties": {
            "text": {
              "description": "The text to be indexed for this file.",
              "type": "string"
            }
          }
        },
        "sharingUser": {
          "$ref": "User",
          "description": "Output only. User that shared the item with the current user, if available."
        },
        "webViewLink": {
          "description": "Output only. A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting.",
          "type": "string"
        },
        "modifiedByMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date."
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials."
        },
        "lastViewedByMeDate": {
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "userPermission": {
          "$ref": "Permission",
          "description": "Output only. The permissions for the authenticated user on this file."
        },
        "ownerNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives."
        },
        "trashedDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives."
        },
        "permissionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of permission IDs for users with access to this file."
        },
        "isAppAuthorized": {
          "type": "boolean",
          "description": "Output only. Whether the file was created or opened by the requesting app."
        },
        "sha1Checksum": {
          "type": "string",
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "videoMediaMetadata": {
          "type": "object",
          "description": "Output only. Metadata about video media. This will only be present for video types.",
          "properties": {
            "height": {
              "description": "Output only. The height of the video in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "durationMillis": {
              "type": "string",
              "format": "int64",
              "description": "Output only. The duration of the video in milliseconds."
            }
          }
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "Create time for this file (formatted RFC 3339 timestamp)."
        },
        "defaultOpenWithLink": {
          "type": "string",
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used."
        }
      },
      "description": "The metadata for a file.",
      "id": "File"
    },
    "TeamDrive": {
      "type": "object",
      "id": "TeamDrive",
      "description": "Deprecated: Use the `drive` collection instead.",
      "properties": {
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "capabilities": {
          "description": "Capabilities the current user has on this Team Drive.",
          "type": "object",
          "properties": {
            "canShare": {
              "description": "Whether the current user can share files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive."
            },
            "canResetTeamDriveRestrictions": {
              "type": "boolean",
              "description": "Whether the current user can reset the Team Drive restrictions to defaults."
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Whether the current user can copy files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "description": "Whether the current user can change the background of this Team Drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role."
            },
            "canRename": {
              "type": "boolean",
              "description": "Whether the current user can rename files or folders in this Team Drive."
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Whether the current user can add children to folders in this Team Drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive."
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Whether the current user can comment on files in this Team Drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Whether the current user can trash children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Whether the current user can list the children of folders in this Team Drive."
            }
          }
        },
        "kind": {
          "description": "This is always `drive#teamDrive`",
          "default": "drive#teamDrive",
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "name": {
          "annotations": {
            "required": [
              "drive.teamdrives.insert"
            ]
          },
          "description": "The name of this Team Drive.",
          "type": "string"
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
          "properties": {
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive.",
              "type": "boolean"
            },
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive."
            }
          },
          "type": "object"
        },
        "backgroundImageLink": {
          "description": "A short-lived link to this Team Drive's background image.",
          "type": "string"
        },
        "backgroundImageFile": {
          "properties": {
            "yCoordinate": {
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float"
            },
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "format": "float",
              "type": "number"
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float",
              "type": "number"
            }
          },
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object"
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "id": {
          "type": "string",
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
        }
      }
    },
    "Channel": {
      "description": "A notification channel used to watch for resource changes.",
      "id": "Channel",
      "properties": {
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "type": "string",
          "default": "api#channel"
        },
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "address": {
          "type": "string",
          "description": "The address where notifications are delivered for this channel."
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional parameters controlling delivery channel behavior. Optional."
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Label": {
      "id": "Label",
      "description": "Representation of a label and label fields.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#label",
          "description": "This is always `drive#label`"
        },
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "The revision ID of the label."
        },
        "fields": {
          "additionalProperties": {
            "$ref": "LabelField"
          },
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "StartPageToken": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#startPageToken",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`."
        },
        "startPageToken": {
          "type": "string",
          "description": "The starting page token for listing changes."
        }
      },
      "id": "StartPageToken"
    },
    "ModifyLabelsRequest": {
      "type": "object",
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "properties": {
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "type": "string",
          "default": "drive#modifyLabelsRequest",
          "description": "This is always `drive#modifyLabelsRequest`."
        }
      }
    },
    "ChangeList": {
      "description": "A list of changes for a user.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of changes."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "newStartPageToken": {
          "type": "string",
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#changeList`.",
          "type": "string",
          "default": "drive#changeList"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Change"
          },
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "largestChangeId": {
          "type": "string",
          "description": "The current largest change ID.",
          "format": "int64"
        }
      },
      "id": "ChangeList",
      "type": "object"
    },
    "ParentReference": {
      "description": "A reference to a file's parent.",
      "properties": {
        "id": {
          "annotations": {
            "required": [
              "drive.parents.insert"
            ]
          },
          "description": "The ID of the parent.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. This is always `drive#parentReference`.",
          "default": "drive#parentReference"
        },
        "isRoot": {
          "type": "boolean",
          "description": "Output only. Whether or not the parent is the root folder."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this reference."
        },
        "parentLink": {
          "description": "Output only. A link to the parent.",
          "type": "string"
        }
      },
      "id": "ParentReference",
      "type": "object"
    },
    "DriveList": {
      "description": "A list of shared drives.",
      "type": "object",
      "id": "DriveList",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "items": {
            "$ref": "Drive"
          },
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "kind": {
          "default": "drive#driveList",
          "type": "string",
          "description": "This is always `drive#driveList`"
        }
      }
    },
    "Comment": {
      "description": "A comment on a file in Google Drive.",
      "type": "object",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this comment."
        },
        "content": {
          "type": "string",
          "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
          "annotations": {
            "required": [
              "drive.comments.insert",
              "drive.comments.patch",
              "drive.comments.update"
            ]
          }
        },
        "htmlContent": {
          "type": "string",
          "description": "Output only. HTML formatted content for this comment."
        },
        "deleted": {
          "description": "Output only. Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed.",
          "type": "boolean"
        },
        "commentId": {
          "description": "Output only. The ID of the comment.",
          "type": "string"
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Add comments and replies](https://developers.google.com/drive/api/v2/manage-comments).",
          "type": "string"
        },
        "createdDate": {
          "type": "string",
          "description": "The date when this comment was first created.",
          "format": "date-time"
        },
        "kind": {
          "description": "Output only. This is always `drive#comment`.",
          "default": "drive#comment",
          "type": "string"
        },
        "author": {
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated.",
          "$ref": "User"
        },
        "fileTitle": {
          "type": "string",
          "description": "Output only. The title of the file which this comment is addressing."
        },
        "replies": {
          "type": "array",
          "description": "Output only. Replies to this post.",
          "items": {
            "$ref": "CommentReply"
          }
        },
        "modifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when this comment or any of its replies were last modified."
        },
        "status": {
          "type": "string",
          "description": "Output only. The status of this comment. Status can be changed by posting a reply to a comment with the desired status. * `open` - The comment is still open. * `resolved` - The comment has been resolved by one of its replies."
        },
        "fileId": {
          "description": "Output only. The file which this comment is addressing.",
          "type": "string"
        },
        "context": {
          "type": "object",
          "description": "The context of the file which is being commented on.",
          "properties": {
            "value": {
              "type": "string",
              "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about."
            },
            "type": {
              "description": "The MIME type of the context snippet.",
              "type": "string"
            }
          }
        }
      },
      "id": "Comment"
    },
    "LabelList": {
      "type": "object",
      "id": "LabelList",
      "properties": {
        "items": {
          "items": {
            "$ref": "Label"
          },
          "type": "array",
          "description": "The list of labels."
        },
        "kind": {
          "default": "drive#labelList",
          "description": "This is always `drive#labelList`",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "description": "A list of labels applied to a file."
    },
    "LabelField": {
      "id": "LabelField",
      "description": "Representation of field, which is a typed key-value pair.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        },
        "text": {
          "description": "Only present if `valueType` is `text`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        },
        "dateString": {
          "type": "array",
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "items": {
            "format": "date",
            "type": "string"
          }
        },
        "integer": {
          "description": "Only present if `valueType` is `integer`.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "selection": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `selection`"
        },
        "user": {
          "items": {
            "$ref": "User"
          },
          "description": "Only present if `valueType` is `user`.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "drive#labelField",
          "description": "This is always `drive#labelField`."
        }
      }
    },
    "ChildReference": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#childReference",
          "description": "Output only. This is always `drive#childReference`."
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.children.insert"
            ]
          },
          "description": "The ID of the child."
        },
        "childLink": {
          "type": "string",
          "description": "Output only. A link to the child."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this reference."
        }
      },
      "id": "ChildReference",
      "type": "object",
      "description": "A reference to a folder's child."
    },
    "LabelFieldModification": {
      "description": "A modification to a label's field.",
      "id": "LabelFieldModification",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setTextValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Sets the value of a `text` field."
        },
        "setSelectionValues": {
          "description": "Replaces a `selection` field with these new values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "default": "drive#labelFieldModification",
          "type": "string",
          "description": "This is always `drive#labelFieldModification`."
        },
        "setDateValues": {
          "type": "array",
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "items": {
            "format": "date",
            "type": "string"
          }
        },
        "setIntegerValues": {
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "ParentList": {
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "items": {
          "description": "The list of parents.",
          "type": "array",
          "items": {
            "$ref": "ParentReference"
          }
        },
        "kind": {
          "default": "drive#parentList",
          "description": "This is always `drive#parentList`.",
          "type": "string"
        }
      },
      "description": "A list of a file's parents.",
      "id": "ParentList",
      "type": "object"
    },
    "AppList": {
      "id": "AppList",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "defaultAppIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest)."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#appList",
          "description": "This is always `drive#appList`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive."
    },
    "ChildList": {
      "description": "A list of children of a file.",
      "properties": {
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#childList`.",
          "type": "string",
          "default": "drive#childList"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "nextLink": {
          "description": "A link to the next page of children.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "ChildReference"
          },
          "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      },
      "type": "object",
      "id": "ChildList"
    },
    "CommentReply": {
      "id": "CommentReply",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Output only. This is always `drive#commentReply`.",
          "type": "string",
          "default": "drive#commentReply"
        },
        "author": {
          "$ref": "User",
          "description": "Output only. The author of the reply. The author's email address and permission ID will not be populated."
        },
        "createdDate": {
          "format": "date-time",
          "description": "The date when this reply was first created.",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed.",
          "type": "boolean"
        },
        "replyId": {
          "type": "string",
          "description": "Output only. The ID of the reply."
        },
        "verb": {
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform to the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          },
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen)."
        },
        "modifiedDate": {
          "type": "string",
          "description": "The date when this reply was last modified.",
          "format": "date-time"
        },
        "htmlContent": {
          "description": "Output only. HTML formatted content for this reply.",
          "type": "string"
        }
      },
      "description": "A comment on a file in Google Drive."
    },
    "PermissionList": {
      "description": "A list of permissions associated with a file.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `drive#permissionList`.",
          "default": "drive#permissionList"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "items": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The list of permissions.",
          "type": "array"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        }
      },
      "type": "object",
      "id": "PermissionList"
    },
    "App": {
      "id": "App",
      "type": "object",
      "properties": {
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#app",
          "description": "This is always `drive#app`.",
          "type": "string"
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Docs Editors."
        },
        "openUrlTemplate": {
          "type": "string",
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation."
        },
        "secondaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of secondary file extensions."
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "secondaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary mime types.",
          "type": "array"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "primaryMimeTypes": {
          "description": "The list of primary mime types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "primaryFileExtensions": {
          "type": "array",
          "description": "The list of primary file extensions.",
          "items": {
            "type": "string"
          }
        },
        "supportsCreate": {
          "description": "Whether this app supports creating new objects.",
          "type": "boolean"
        },
        "objectType": {
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.",
          "type": "string"
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating new files when offline.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "installed": {
          "type": "boolean",
          "description": "Whether the app is installed."
        },
        "id": {
          "type": "string",
          "description": "The ID of the app."
        },
        "authorized": {
          "type": "boolean",
          "description": "Whether the app is authorized to access data on the user's Drive."
        },
        "icons": {
          "description": "The various icons for the app.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "iconUrl": {
                "type": "string",
                "description": "URL for the icon."
              },
              "category": {
                "type": "string",
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app"
              },
              "size": {
                "type": "integer",
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "format": "int32"
              }
            }
          }
        }
      },
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details."
    },
    "LabelModification": {
      "id": "LabelModification",
      "properties": {
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "labelId": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "description": "The ID of the label to modify."
        },
        "fieldModifications": {
          "type": "array",
          "description": "The list of modifications to this label's fields.",
          "items": {
            "$ref": "LabelFieldModification"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#labelModification`.",
          "default": "drive#labelModification"
        }
      },
      "type": "object",
      "description": "A modification to a label on a file. A LabelModification can be used to apply a label to a file, update an existing label on a file, or remove a label from a file."
    },
    "Revision": {
      "description": "A revision of a file.",
      "properties": {
        "modifiedDate": {
          "type": "string",
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "format": "date-time"
        },
        "fileSize": {
          "format": "int64",
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. The ETag of the revision.",
          "type": "string"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "pinned": {
          "type": "boolean",
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions."
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Google Sites files.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this revision.",
          "type": "string"
        },
        "downloadUrl": {
          "type": "string",
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive."
        },
        "lastModifyingUserName": {
          "type": "string",
          "description": "Output only. Name of the last user to modify this revision."
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the revision."
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "published": {
          "type": "boolean",
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files."
        },
        "kind": {
          "description": "Output only. This is always `drive#revision`.",
          "type": "string",
          "default": "drive#revision"
        },
        "publishedOutsideDomain": {
          "type": "boolean",
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files."
        },
        "exportLinks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Links for exporting Docs Editors files to specific formats."
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision.",
          "$ref": "User"
        },
        "originalFilename": {
          "type": "string",
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive."
        }
      },
      "type": "object",
      "id": "Revision"
    },
    "ModifyLabelsResponse": {
      "properties": {
        "kind": {
          "default": "drive#modifyLabelsResponse",
          "description": "This is always `drive#modifyLabelsResponse`",
          "type": "string"
        },
        "modifiedLabels": {
          "type": "array",
          "description": "The list of labels which were added or updated by the request.",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "id": "ModifyLabelsResponse",
      "type": "object",
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request."
    },
    "GeneratedIds": {
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IDs generated for the requesting user in the specified space."
        },
        "kind": {
          "description": "This is always `drive#generatedIds`",
          "default": "drive#generatedIds",
          "type": "string"
        },
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        }
      },
      "description": "A list of generated IDs which can be provided in insert requests",
      "type": "object",
      "id": "GeneratedIds"
    },
    "Change": {
      "id": "Change",
      "description": "Representation of a change to a file or shared drive.",
      "properties": {
        "modificationDate": {
          "type": "string",
          "description": "The time of this modification.",
          "format": "date-time"
        },
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the change."
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the shared drive associated with this change."
        },
        "fileId": {
          "description": "The ID of the file associated with this change.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#change`.",
          "default": "drive#change",
          "type": "string"
        },
        "teamDriveId": {
          "description": "Deprecated: Use `driveId` instead.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this change.",
          "type": "string"
        },
        "type": {
          "description": "Deprecated: Use `changeType` instead.",
          "type": "string"
        },
        "drive": {
          "$ref": "Drive",
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
        },
        "deleted": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "description": "Deprecated: Use `drive` instead."
        }
      },
      "type": "object"
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "description": "A restriction for accessing the content of the file.",
      "type": "object",
      "properties": {
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true.",
          "$ref": "User"
        },
        "restrictionDate": {
          "type": "string",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "format": "date-time"
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        }
      }
    },
    "CommentReplyList": {
      "type": "object",
      "id": "CommentReplyList",
      "description": "A list of replies to a comment on a file in Google Drive.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#commentReplyList",
          "description": "This is always `drive#commentReplyList`."
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of replies."
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          }
        }
      }
    },
    "Property": {
      "description": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property",
      "id": "Property",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of this property.",
          "annotations": {
            "required": [
              "drive.properties.insert"
            ]
          }
        },
        "kind": {
          "default": "drive#property",
          "type": "string",
          "description": "Output only. This is always `drive#property`."
        },
        "etag": {
          "description": "Output only. ETag of the property.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. The link back to this property."
        },
        "value": {
          "type": "string",
          "description": "The value of this property."
        },
        "visibility": {
          "type": "string",
          "description": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties."
        }
      },
      "type": "object"
    },
    "Drive": {
      "properties": {
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the shared drive was created (RFC 3339 date-time)."
        },
        "kind": {
          "type": "string",
          "default": "drive#drive",
          "description": "Output only. This is always `drive#drive`"
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          }
        },
        "restrictions": {
          "properties": {
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions."
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
            },
            "driveMembersOnly": {
              "description": "Whether access to items inside this shared drive is restricted to its members.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive."
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "Output only. A short-lived link to this shared drive's background image."
        },
        "capabilities": {
          "properties": {
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive."
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children from folders in this shared drive."
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children from folders in this shared drive."
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to folders in this shared drive.",
              "type": "boolean"
            },
            "canResetDriveRestrictions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults."
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive."
            },
            "canDeleteDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download files in this shared drive."
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy files in this shared drive."
            }
          },
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "hidden": {
          "type": "boolean",
[...]
