{
  "title": "Google Drive API",
  "id": "drive:v2",
  "ownerDomain": "google.com",
  "rootUrl": "https://www.googleapis.com/",
  "documentationLink": "https://developers.google.com/drive/",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "discoveryVersion": "v1",
  "name": "drive",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "LabelModification": {
      "description": "A modification to a label on a file. A LabelModification can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "id": "LabelModification",
      "properties": {
        "labelId": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "description": "The ID of the label to modify."
        },
        "removeLabel": {
          "type": "boolean",
          "description": "If true, the label will be removed from the file."
        },
        "fieldModifications": {
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          },
          "description": "The list of modifications to this label's fields."
        },
        "kind": {
          "default": "drive#labelModification",
          "type": "string",
          "description": "This is always `drive#labelModification`."
        }
      },
      "type": "object"
    },
    "RevisionList": {
      "properties": {
        "items": {
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Revision"
          }
        },
        "kind": {
          "description": "This is always `drive#revisionList`.",
          "default": "drive#revisionList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of revisions. This field will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        }
      },
      "id": "RevisionList",
      "description": "A list of revisions of a file.",
      "type": "object"
    },
    "StartPageToken": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#startPageToken",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`."
        },
        "startPageToken": {
          "description": "The starting page token for listing changes.",
          "type": "string"
        }
      },
      "id": "StartPageToken"
    },
    "CommentList": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "Comment"
          },
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of comments."
        },
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#commentList`.",
          "type": "string",
          "default": "drive#commentList"
        }
      },
      "id": "CommentList",
      "description": "A list of comments on a file in Google Drive."
    },
    "ChangeList": {
      "id": "ChangeList",
      "description": "A list of changes for a user.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Change"
          },
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "newStartPageToken": {
          "type": "string",
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached."
        },
        "largestChangeId": {
          "format": "int64",
          "description": "The current largest change ID.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of changes."
        },
        "kind": {
          "default": "drive#changeList",
          "description": "This is always `drive#changeList`.",
          "type": "string"
        }
      }
    },
    "ModifyLabelsResponse": {
      "id": "ModifyLabelsResponse",
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `drive#modifyLabelsResponse`",
          "type": "string",
          "default": "drive#modifyLabelsResponse"
        },
        "modifiedLabels": {
          "description": "The list of labels which were added or updated by the request.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        }
      }
    },
    "Channel": {
      "type": "object",
      "properties": {
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "default": "api#channel"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "expiration": {
          "type": "string",
          "format": "int64",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel."
        }
      },
      "id": "Channel",
      "description": "A notification channel used to watch for resource changes."
    },
    "ChildReference": {
      "type": "object",
      "id": "ChildReference",
      "properties": {
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "childLink": {
          "type": "string",
          "description": "Output only. A link to the child."
        },
        "kind": {
          "type": "string",
          "description": "Output only. This is always `drive#childReference`.",
          "default": "drive#childReference"
        },
        "id": {
          "description": "The ID of the child.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.children.insert"
            ]
          }
        }
      },
      "description": "A reference to a folder's child. Some resource methods (such as `children.get`) require a `childId`. Use the `children.list` method to retrieve the ID of the child."
    },
    "AppList": {
      "id": "AppList",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `drive#appList`.",
          "default": "drive#appList"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "items": {
          "description": "The list of apps.",
          "items": {
            "$ref": "App"
          },
          "type": "array"
        },
        "defaultAppIds": {
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive."
    },
    "ParentList": {
      "id": "ParentList",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of parents.",
          "items": {
            "$ref": "ParentReference"
          }
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "kind": {
          "description": "This is always `drive#parentList`.",
          "default": "drive#parentList",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of a file's parents."
    },
    "PermissionList": {
      "id": "PermissionList",
      "description": "A list of permissions associated with a file.",
      "type": "object",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "nextPageToken": {
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "items": {
          "description": "The list of permissions.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "kind": {
          "default": "drive#permissionList",
          "description": "This is always `drive#permissionList`.",
          "type": "string"
        }
      }
    },
    "Drive": {
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive."
        },
        "name": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          },
          "description": "The name of this shared drive."
        },
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "properties": {
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children from folders in this shared drive."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children from folders in this shared drive."
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive."
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on files in this shared drive."
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canChangeDriveMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive."
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive."
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit files in this shared drive",
              "type": "boolean"
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename files or folders in this shared drive."
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download files in this shared drive."
            }
          },
          "type": "object"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "Output only. A short-lived link to this shared drive's background image."
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the shared drive was created (RFC 3339 date-time)."
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "backgroundImageFile": {
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "yCoordinate": {
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float",
              "type": "number"
            },
            "id": {
              "type": "string",
              "description": "The ID of an image file in Google Drive to use for the background image."
            }
          }
        },
        "kind": {
          "type": "string",
          "default": "drive#drive",
          "description": "Output only. This is always `drive#drive`"
        },
        "colorRgb": {
          "type": "string",
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`."
        },
        "restrictions": {
          "properties": {
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this shared drive is restricted to its members."
            }
          },
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
          "type": "object"
        }
      },
      "id": "Drive"
    },
    "LabelField": {
      "description": "Representation of field, which is a typed key-value pair.",
      "id": "LabelField",
      "type": "object",
      "properties": {
        "integer": {
          "type": "array",
          "description": "Only present if `valueType` is `integer`.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "dateString": {
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "items": {
            "type": "string",
            "format": "date"
          },
          "type": "array"
        },
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only present if `valueType` is `text`."
        },
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        },
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        },
        "user": {
          "description": "Only present if `valueType` is `user`.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "selection": {
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `selection`",
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#labelField`.",
          "default": "drive#labelField",
          "type": "string"
        }
      }
    },
    "CommentReply": {
      "id": "CommentReply",
      "description": "A comment on a file in Google Drive. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply.",
      "properties": {
        "verb": {
          "type": "string",
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform to the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment."
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when this reply was first created."
        },
        "content": {
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen).",
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          },
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#commentReply",
          "description": "Output only. This is always `drive#commentReply`."
        },
        "replyId": {
          "type": "string",
          "description": "Output only. The ID of the reply."
        },
        "htmlContent": {
          "description": "Output only. HTML formatted content for this reply.",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed.",
          "type": "boolean"
        },
        "author": {
          "description": "Output only. The author of the reply. The author's email address and permission ID will not be populated.",
          "$ref": "User"
        },
        "modifiedDate": {
          "description": "The date when this reply was last modified.",
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object"
    },
    "PropertyList": {
      "type": "object",
      "id": "PropertyList",
      "description": "A collection of properties, key-value pairs that are either public or private to an application.",
      "properties": {
        "kind": {
          "description": "This is always `drive#propertyList`.",
          "default": "drive#propertyList",
          "type": "string"
        },
        "selfLink": {
          "description": "The link back to this list.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "items": {
          "description": "The list of properties.",
          "type": "array",
          "items": {
            "$ref": "Property"
          }
        }
      }
    },
    "App": {
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "properties": {
        "primaryFileExtensions": {
          "description": "The list of primary file extensions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "objectType": {
          "type": "string",
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead."
        },
        "createUrl": {
          "type": "string",
          "description": "The url to create a new file with this app."
        },
        "primaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of primary mime types."
        },
        "shortDescription": {
          "type": "string",
          "description": "A short description of the app."
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Docs Editors."
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "icons": {
          "type": "array",
          "items": {
            "properties": {
              "iconUrl": {
                "description": "URL for the icon.",
                "type": "string"
              },
              "category": {
                "type": "string",
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app"
              },
              "size": {
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "type": "integer",
                "format": "int32"
              }
            },
            "type": "object"
          },
          "description": "The various icons for the app."
        },
        "supportsCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating new objects."
        },
        "supportsMultiOpen": {
          "type": "boolean",
          "description": "Whether this app supports opening more than one file."
        },
        "secondaryMimeTypes": {
          "description": "The list of secondary mime types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product listing for this app."
        },
        "supportsOfflineCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating new files when offline."
        },
        "hasDriveWideScope": {
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive.",
          "type": "boolean"
        },
        "longDescription": {
          "type": "string",
          "description": "A long description of the app."
        },
        "productUrl": {
          "type": "string",
          "description": "A link to the product listing for this app."
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "useByDefault": {
          "type": "boolean",
          "description": "Whether the app is selected as the default handler for the types it supports."
        },
        "openUrlTemplate": {
          "type": "string",
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation."
        },
        "kind": {
          "type": "string",
          "default": "drive#app",
          "description": "This is always `drive#app`."
        },
        "secondaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary file extensions.",
          "type": "array"
        },
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        }
      },
      "id": "App",
      "type": "object"
    },
    "TeamDriveList": {
      "type": "object",
      "description": "A list of Team Drives.",
      "properties": {
        "items": {
          "items": {
            "$ref": "TeamDrive"
          },
          "type": "array",
          "description": "The list of Team Drives."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of Team Drives."
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#teamDriveList`",
          "default": "drive#teamDriveList"
        }
      },
      "id": "TeamDriveList"
    },
    "User": {
      "id": "User",
      "properties": {
        "emailAddress": {
          "description": "Output only. The email address of the user.",
          "type": "string"
        },
        "picture": {
          "properties": {
            "url": {
              "type": "string",
              "description": "Output Only. A URL that points to a profile picture of this user."
            }
          },
          "type": "object",
          "description": "Output only. The user's profile picture."
        },
        "kind": {
          "description": "Output only. This is always `drive#user`.",
          "default": "drive#user",
          "type": "string"
        },
        "isAuthenticatedUser": {
          "type": "boolean",
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made."
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string"
        },
        "permissionId": {
          "type": "string",
          "description": "Output only. The user's ID as visible in the permissions collection."
        }
      },
      "description": "Information about a Drive user.",
      "type": "object"
    },
    "CommentReplyList": {
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of replies."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#commentReplyList",
          "type": "string",
          "description": "This is always `drive#commentReplyList`."
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "CommentReply"
          },
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      },
      "description": "A list of replies to a comment on a file in Google Drive.",
      "id": "CommentReplyList",
      "type": "object"
    },
    "LabelFieldModification": {
      "type": "object",
      "id": "LabelFieldModification",
      "properties": {
        "setDateValues": {
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "items": {
            "format": "date",
            "type": "string"
          },
          "type": "array"
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "unsetValues": {
          "type": "boolean",
          "description": "Unsets the values for this field."
        },
        "kind": {
          "description": "This is always `drive#labelFieldModification`.",
          "default": "drive#labelFieldModification",
          "type": "string"
        },
        "setSelectionValues": {
          "description": "Replaces a `selection` field with these new values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setUserValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses."
        },
        "setTextValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Sets the value of a `text` field."
        },
        "setIntegerValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array"
        }
      },
      "description": "A modification to a label's field."
    },
    "FileList": {
      "type": "object",
      "id": "FileList",
      "description": "A list of files.",
      "properties": {
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "type": "array",
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "File"
          }
        },
        "kind": {
          "type": "string",
          "default": "drive#fileList",
          "description": "This is always `drive#fileList`."
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\".",
          "type": "boolean"
        },
        "nextLink": {
          "description": "A link to the next page of files.",
          "type": "string"
        }
      }
    },
    "Change": {
      "id": "Change",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the change.",
          "format": "int64"
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "teamDriveId": {
          "description": "Deprecated: Use `driveId` instead.",
          "deprecated": true,
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this change.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access."
        },
        "drive": {
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.",
          "$ref": "Drive"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#change`.",
          "default": "drive#change"
        },
        "modificationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The time of this modification."
        },
        "type": {
          "description": "Deprecated: Use `changeType` instead.",
          "deprecated": true,
          "type": "string"
        },
        "teamDrive": {
          "description": "Deprecated: Use `drive` instead.",
          "$ref": "TeamDrive",
          "deprecated": true
        },
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the shared drive associated with this change."
        },
        "fileId": {
          "type": "string",
          "description": "The ID of the file associated with this change."
        }
      },
      "description": "Representation of a change to a file or shared drive."
    },
    "ChildList": {
      "id": "ChildList",
      "description": "A list of children of a file.",
      "properties": {
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of children."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "ChildReference"
          },
          "type": "array",
          "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "kind": {
          "description": "This is always `drive#childList`.",
          "type": "string",
          "default": "drive#childList"
        }
      },
      "type": "object"
    },
    "LabelList": {
      "type": "object",
      "description": "A list of labels applied to a file.",
      "id": "LabelList",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `drive#labelList`",
          "default": "drive#labelList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "items": {
            "$ref": "Label"
          },
          "type": "array",
          "description": "The list of labels."
        }
      }
    },
    "Property": {
      "id": "Property",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "Output only. The link back to this property."
        },
        "key": {
          "type": "string",
          "description": "The key of this property.",
          "annotations": {
            "required": [
              "drive.properties.insert"
            ]
          }
        },
        "value": {
          "type": "string",
          "description": "The value of this property."
        },
        "kind": {
          "description": "Output only. This is always `drive#property`.",
          "type": "string",
          "default": "drive#property"
        },
        "etag": {
          "type": "string",
          "description": "Output only. ETag of the property."
        },
        "visibility": {
          "description": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property Some resource methods (such as `properties.update`) require a `propertyKey`. Use the `properties.list` method to retrieve the key for a property."
    },
    "DriveList": {
      "properties": {
        "kind": {
          "description": "This is always `drive#driveList`",
          "type": "string",
          "default": "drive#driveList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "items": {
          "items": {
            "$ref": "Drive"
          },
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "DriveList",
      "description": "A list of shared drives."
    },
    "ContentRestriction": {
      "type": "object",
      "description": "A restriction for accessing the content of the file.",
      "id": "ContentRestriction",
      "properties": {
        "restrictingUser": {
          "$ref": "User",
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true."
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        },
        "ownerRestricted": {
          "type": "boolean",
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction."
        },
        "restrictionDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true."
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        }
      }
    },
    "Revision": {
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "id": "Revision",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Output only. The ETag of the revision."
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "modifiedDate": {
          "type": "string",
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "format": "date-time"
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "published": {
          "type": "boolean",
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files."
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "publishedOutsideDomain": {
          "type": "boolean",
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files."
        },
        "exportLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object"
        },
        "originalFilename": {
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "fileSize": {
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
          "format": "int64",
          "type": "string"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this revision.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#revision",
          "description": "Output only. This is always `drive#revision`."
        },
        "publishedLink": {
          "type": "string",
          "description": "Output only. A link to the published revision. This is only populated for Google Sites files."
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision.",
          "$ref": "User"
        },
        "pinned": {
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions.",
          "type": "boolean"
        },
        "downloadUrl": {
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this revision."
        }
      }
    },
    "About": {
      "description": "An item with user information and settings.",
      "properties": {
        "importFormats": {
          "items": {
            "properties": {
              "targets": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The possible content types to convert to."
              },
              "source": {
                "description": "The imported file's content type to convert from.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "The allowable import formats.",
          "type": "array"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this item."
        },
        "permissionId": {
          "type": "string",
          "description": "The current user's ID as visible in the permissions collection."
        },
        "canCreateDrives": {
          "type": "boolean",
          "description": "Whether the user can create shared drives."
        },
        "features": {
          "type": "array",
          "items": {
            "properties": {
              "featureRate": {
                "format": "double",
                "description": "The request limit rate for this feature, in queries per second.",
                "type": "number"
              },
              "featureName": {
                "type": "string",
                "description": "The name of the feature."
              }
            },
            "type": "object"
          },
          "description": "List of additional features enabled on this account."
        },
        "driveThemes": {
          "type": "array",
          "items": {
            "properties": {
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              },
              "colorRgb": {
                "type": "string",
                "description": "The color of this theme as an RGB hex string."
              },
              "backgroundImageLink": {
                "type": "string",
                "description": "A link to this theme's background image."
              }
            },
            "type": "object"
          },
          "description": "A list of themes that are supported for shared drives."
        },
        "folderColorPalette": {
          "description": "The palette of allowable folder colors as RGB hex strings.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exportFormats": {
          "items": {
            "type": "object",
            "properties": {
              "targets": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The possible content types to convert to."
              },
              "source": {
                "description": "The content type to convert from.",
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "The allowable export formats."
        },
        "quotaBytesUsedInTrash": {
          "format": "int64",
          "description": "The number of quota bytes used by trashed items.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#about",
          "description": "This is always `drive#about`."
        },
        "user": {
          "$ref": "User",
          "description": "The authenticated user."
        },
        "additionalRoleInfo": {
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "The content type that this additional role info applies to.",
                "type": "string"
              },
              "roleSets": {
                "description": "The supported additional roles per primary role.",
                "items": {
                  "properties": {
                    "primaryRole": {
                      "description": "A primary permission role.",
                      "type": "string"
                    },
                    "additionalRoles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The supported additional roles with the primary role."
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              }
            }
          },
          "description": "Information about supported additional roles per file type. The most specific type takes precedence.",
          "type": "array"
        },
        "teamDriveThemes": {
          "deprecated": true,
          "items": {
            "properties": {
              "colorRgb": {
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "deprecated": true,
                "type": "string"
              },
              "id": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "deprecated": true
              },
              "backgroundImageLink": {
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "type": "string",
                "deprecated": true
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Deprecated: Use `driveThemes` instead."
        },
        "quotaBytesUsedAggregate": {
          "type": "string",
          "format": "int64",
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.)."
        },
        "largestChangeId": {
          "type": "string",
          "format": "int64",
          "description": "The largest change id."
        },
        "quotaBytesUsed": {
          "description": "The number of quota bytes used by Google Drive.",
          "type": "string",
          "format": "int64"
        },
        "quotaBytesByService": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "bytesUsed": {
                "format": "int64",
                "type": "string",
                "description": "The storage quota bytes used by the service."
              },
              "serviceName": {
                "type": "string",
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS."
              }
            }
          },
          "description": "The amount of storage quota used by different Google services."
        },
        "name": {
          "type": "string",
          "description": "The name of the current user."
        },
        "domainSharingPolicy": {
          "description": "The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed`",
          "type": "string"
        },
        "quotaBytesTotal": {
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "format": "int64",
          "type": "string"
        },
        "canCreateTeamDrives": {
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "languageCode": {
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
          "type": "string"
        },
        "remainingChangeIds": {
          "type": "string",
          "format": "int64",
          "description": "The number of remaining change ids, limited to no more than 2500."
        },
        "isCurrentAppInstalled": {
          "description": "A boolean indicating whether the authenticated app is installed by the authenticated user.",
          "type": "boolean"
        },
        "rootFolderId": {
          "type": "string",
          "description": "The id of the root folder."
        },
        "maxUploadSizes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "size": {
                "description": "The max upload size for this type.",
                "format": "int64",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "The file type."
              }
            }
          },
          "description": "List of max upload sizes for each file type. The most specific type takes precedence."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the item."
        },
        "quotaType": {
          "description": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "About"
    },
    "ParentReference": {
      "description": "A reference to a file's parent. Some resource methods (such as `parents.get`) require a `parentId`. Use the `parents.list` method to retrieve the ID for a parent.",
      "id": "ParentReference",
      "properties": {
        "id": {
          "annotations": {
            "required": [
              "drive.parents.insert"
            ]
          },
          "description": "The ID of the parent.",
          "type": "string"
        },
        "isRoot": {
          "type": "boolean",
          "description": "Output only. Whether or not the parent is the root folder."
        },
        "parentLink": {
          "type": "string",
          "description": "Output only. A link to the parent."
        },
        "kind": {
          "description": "Output only. This is always `drive#parentReference`.",
          "default": "drive#parentReference",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Permission": {
      "type": "object",
      "properties": {
        "authKey": {
          "deprecated": true,
          "type": "string",
          "description": "Output only. Deprecated."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name for this permission."
        },
        "permissionDetails": {
          "description": "Output only. Details of whether the permissions on this shared drive item are inherited or directly on this item. This is an output-only field which is present only for shared drive items.",
          "type": "array",
          "readOnly": true,
          "items": {
            "properties": {
              "role": {
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `reader`",
                "type": "string"
              },
              "additionalRoles": {
                "description": "Output only. Additional roles for this user. Only `commenter` is currently possible, though more may be supported in the future.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "inherited": {
                "type": "boolean",
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field."
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`",
                "type": "string"
              },
              "inheritedFrom": {
                "type": "string",
                "description": "Output only. The ID of the item from which this permission is inherited. This is an output-only field."
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "type": "string",
          "description": "Output only. This is always `drive#permission`.",
          "default": "drive#permission"
        },
        "etag": {
          "description": "Output only. The ETag of the permission.",
          "type": "string"
        },
        "teamDrivePermissionDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "teamDrivePermissionType": {
                "type": "string",
                "description": "Output only. Deprecated: Use `permissionDetails/permissionType` instead.",
                "deprecated": true
              },
              "inheritedFrom": {
                "deprecated": true,
                "description": "Output only. Deprecated: Use `permissionDetails/inheritedFrom` instead.",
                "type": "string"
              },
              "inherited": {
                "type": "boolean",
                "description": "Output only. Deprecated: Use `permissionDetails/inherited` instead.",
                "deprecated": true
              },
              "additionalRoles": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "description": "Output only. Deprecated: Use `permissionDetails/additionalRoles` instead.",
                "deprecated": true
              },
              "role": {
                "description": "Output only. Deprecated: Use `permissionDetails/role` instead.",
                "type": "string",
                "deprecated": true
              }
            }
          },
          "description": "Output only. Deprecated: Use `permissionDetails` instead.",
          "deprecated": true
        },
        "additionalRoles": {
          "description": "Additional roles for this user. Only `commenter` is currently allowed, though more may be supported in the future.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `reader`",
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "withLink": {
          "description": "Whether the link is required for this permission.",
          "type": "boolean"
        },
        "value": {
          "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The account type. Allowed values are: * `user` * `group` * `domain` * `anyone`",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "id": {
          "description": "The ID of the user this permission refers to, and identical to the `permissionId` in the About and Files resources. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions."
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.",
          "type": "boolean"
        },
        "photoLink": {
          "description": "Output only. A link to the profile photo, if available.",
          "type": "string"
        },
        "expirationDate": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions: - They can only be set on user and group permissions - The date must be in the future - The date cannot be more than a year in the future - The date can only be set on drive.permissions.update or drive.permissions.patch requests",
          "format": "date-time",
          "type": "string"
        },
        "view": {
          "type": "string",
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. `published` is the only supported value."
        },
        "domain": {
          "description": "Output only. The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is `user`, `group` or `domain`.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this permission."
        },
        "emailAddress": {
          "type": "string",
          "description": "Output only. The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is `user` or `group`."
        }
      },
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "id": "Permission"
    },
    "Label": {
      "type": "object",
      "description": "Representation of a label and label fields.",
      "properties": {
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "additionalProperties": {
            "$ref": "LabelField"
          },
          "type": "object"
        },
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "kind": {
          "default": "drive#label",
          "type": "string",
          "description": "This is always `drive#label`"
        },
        "revisionId": {
          "type": "string",
          "description": "The revision ID of the label."
        }
      },
      "id": "Label"
    },
    "Comment": {
      "properties": {
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The date when this comment was first created."
        },
        "htmlContent": {
          "description": "Output only. HTML formatted content for this comment.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.comments.insert",
              "drive.comments.patch",
              "drive.comments.update"
            ]
          },
          "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content."
        },
        "author": {
          "$ref": "User",
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated."
        },
        "kind": {
          "type": "string",
          "description": "Output only. This is always `drive#comment`.",
          "default": "drive#comment"
        },
        "status": {
          "type": "string",
          "description": "Output only. The status of this comment. Status can be changed by posting a reply to a comment with the desired status. * `open` - The comment is still open. * `resolved` - The comment has been resolved by one of its replies."
        },
        "anchor": {
          "type": "string",
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Add comments and replies](https://developers.google.com/drive/api/v2/manage-comments)."
        },
        "replies": {
          "description": "Output only. Replies to this post.",
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          }
        },
        "fileTitle": {
          "description": "Output only. The title of the file which this comment is addressing.",
          "type": "string"
        },
        "modifiedDate": {
          "type": "string",
          "description": "The date when this comment or any of its replies were last modified.",
          "format": "date-time"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed."
        },
        "commentId": {
          "type": "string",
          "description": "Output only. The ID of the comment."
        },
        "fileId": {
          "type": "string",
          "description": "Output only. The file which this comment is addressing."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this comment."
        },
        "context": {
          "description": "The context of the file which is being commented on.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The MIME type of the context snippet.",
              "type": "string"
            },
            "value": {
              "type": "string",
              "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about."
            }
          }
        }
      },
      "id": "Comment",
      "type": "object",
      "description": "A comment on a file in Google Drive. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file."
    },
    "PermissionId": {
      "type": "object",
      "id": "PermissionId",
      "description": "An ID for a user or group as seen in Permission items.",
      "properties": {
        "id": {
          "description": "The permission ID.",
          "type": "string"
        },
        "kind": {
          "default": "drive#permissionId",
          "type": "string",
          "description": "This is always `drive#permissionId`."
        }
      }
    },
    "File": {
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "type": "object",
      "id": "File",
      "properties": {
        "permissionIds": {
          "type": "array",
          "description": "Output only. List of permission IDs for users with access to this file.",
          "items": {
            "type": "string"
          }
        },
        "folderColorRgb": {
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.",
          "type": "string"
        },
        "lastModifyingUserName": {
          "type": "string",
          "description": "Output only. Name of the last user to modify this file."
        },
        "properties": {
          "items": {
            "$ref": "Property"
          },
          "description": "The list of properties.",
          "type": "array"
        },
        "writersCanShare": {
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "teamDriveId": {
          "deprecated": true,
          "type": "string",
          "description": "Output only. Deprecated: Use `driveId` instead."
        },
        "permissions": {
          "type": "array",
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives.",
          "items": {
            "$ref": "Permission"
          }
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "Create time for this file (formatted RFC 3339 timestamp)."
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials."
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this file.",
          "$ref": "User"
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "canReadRevisions": {
          "type": "boolean",
          "deprecated": true,
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type."
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "labels": {
          "properties": {
            "modified": {
              "type": "boolean",
              "description": "Output only. Whether the file has been modified by this user."
            },
            "hidden": {
              "type": "boolean",
              "description": "Output only. Deprecated.",
              "deprecated": true
            },
            "restricted": {
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "trashed": {
              "type": "boolean",
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files."
            },
            "viewed": {
              "description": "Whether this file has been viewed by this user.",
              "type": "boolean"
            },
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "A group of labels for the file."
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "ownerNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives."
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "parents": {
          "items": {
            "$ref": "ParentReference"
          },
          "type": "array",
          "description": "Collection of parent folders which contain this file. If not specified as part of an insert request, the file will be placed directly in the user's My Drive folder. If not specified as part of a copy request, the file will inherit any discoverable parents of the source file. Update requests can also use the `addParents` and `removeParents` parameters to modify the parents list."
        },
        "downloadUrl": {
          "type": "string",
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files."
        },
        "selfLink": {
          "description": "Output only. A link back to this file.",
          "type": "string"
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "alternateLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer.",
          "type": "string"
        },
        "linkShareMetadata": {
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object",
          "properties": {
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            },
            "securityUpdateEligible": {
              "type": "boolean",
              "description": "Output only. Whether the file is eligible for security update."
            }
          }
        },
        "capabilities": {
          "type": "object",
          "properties": {
            "canMoveTeamDriveItem": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "deprecated": true
            },
            "canRemoveContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user."
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata."
            },
            "canModifyContent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the content of this file."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canMoveChildrenWithinTeamDrive": {
              "type": "boolean",
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead."
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
            },
            "canAcceptOwnership": {
              "type": "boolean",
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files."
            },
            "canModifyContentRestriction": {
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.",
              "deprecated": true,
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canReadLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the labels on the file."
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true
            },
            "canChangeRestrictedDownload": {
              "type": "boolean",
              "description": "Output only. Deprecated.",
              "deprecated": true
            },
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canUntrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can restore this file from trash."
            },
            "canChangeCopyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file."
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canReadDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed.",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take."
        },
        "thumbnailVersion": {
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "type": "string",
          "format": "int64"
        },
        "modifiedDate": {
          "type": "string",
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set.",
          "format": "date-time"
        },
        "imageMediaMetadata": {
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
          "type": "object",
          "properties": {
            "subjectDistance": {
              "type": "integer",
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "format": "int32"
            },
            "flashUsed": {
              "type": "boolean",
              "description": "Output only. Whether a flash was used to create the photo."
            },
            "isoSpeed": {
              "description": "Output only. The ISO speed used to create the photo.",
              "format": "int32",
              "type": "integer"
            },
            "focalLength": {
              "type": "number",
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "format": "float"
            },
            "sensor": {
              "type": "string",
              "description": "Output only. The type of sensor used to create the photo."
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "rotation": {
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "format": "int32",
              "type": "integer"
            },
            "exposureBias": {
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "type": "number",
              "format": "float"
            },
            "location": {
              "properties": {
                "altitude": {
                  "description": "Output only. The altitude stored in the image.",
                  "format": "double",
                  "type": "number"
                },
                "latitude": {
                  "format": "double",
                  "description": "Output only. The latitude stored in the image.",
                  "type": "number"
                },
                "longitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The longitude stored in the image."
                }
              },
              "type": "object",
              "description": "Output only. Geographic location information stored in the image."
            },
            "height": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The height of the image in pixels."
[...]
