{
  "discoveryVersion": "v1",
  "batchPath": "batch/drive/v2",
  "protocol": "rest",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/drive/",
  "title": "Google Drive API",
  "version": "v2",
  "rootUrl": "https://www.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "ownerName": "Google",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "resources": {
    "properties": {
      "methods": {
        "get": {
          "description": "Gets a property by its key.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Property"
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "id": "drive.properties.get",
          "parameters": {
            "visibility": {
              "description": "The visibility of the property.",
              "type": "string",
              "location": "query",
              "default": "private"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file.",
              "type": "string"
            },
            "propertyKey": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The key of the property."
            }
          }
        },
        "delete": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a property.",
          "parameters": {
            "propertyKey": {
              "type": "string",
              "location": "path",
              "description": "The key of the property.",
              "required": true
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "visibility": {
              "default": "private",
              "location": "query",
              "type": "string",
              "description": "The visibility of the property."
            }
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.delete"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "visibility": {
              "type": "string",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "default": "private",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "propertyKey": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The key of the property."
            }
          },
          "request": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.update",
          "response": {
            "$ref": "Property"
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "httpMethod": "PUT",
          "description": "Updates a property."
        },
        "patch": {
          "response": {
            "$ref": "Property"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.properties.patch",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "request": {
            "$ref": "Property"
          },
          "description": "Updates a property.",
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "visibility": {
              "default": "private",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "type": "string",
              "location": "query"
            },
            "propertyKey": {
              "description": "The key of the property.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "insert": {
          "description": "Adds a property to a file, or updates it if it already exists.",
          "httpMethod": "POST",
          "path": "files/{fileId}/properties",
          "id": "drive.properties.insert",
          "response": {
            "$ref": "Property"
          },
          "flatPath": "files/{fileId}/properties",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "request": {
            "$ref": "Property"
          }
        },
        "list": {
          "description": "Lists a file's properties.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/properties",
          "id": "drive.properties.list",
          "response": {
            "$ref": "PropertyList"
          },
          "path": "files/{fileId}/properties",
          "httpMethod": "GET"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "description": "Gets the information about the current user along with Drive API settings",
          "parameterOrder": [],
          "parameters": {
            "startChangeId": {
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "maxChangeIdCount": {
              "default": "1",
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Maximum number of remaining change IDs to count"
            },
            "includeSubscribed": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`.",
              "default": "true"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "about",
          "path": "about",
          "id": "drive.about.get",
          "response": {
            "$ref": "About"
          }
        }
      }
    },
    "comments": {
      "methods": {
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "CommentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments",
          "id": "drive.comments.list",
          "description": "Lists a file's comments.",
          "httpMethod": "GET",
          "parameters": {
            "updatedMin": {
              "location": "query",
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response."
            },
            "includeDeleted": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned."
            },
            "maxResults": {
              "format": "int32",
              "default": "20",
              "location": "query",
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "type": "integer",
              "minimum": "0",
              "maximum": "100"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "files/{fileId}/comments"
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "id": "drive.comments.delete",
          "description": "Deletes a comment.",
          "flatPath": "files/{fileId}/comments/{commentId}"
        },
        "patch": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "commentId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the comment.",
              "required": true
            }
          },
          "description": "Updates an existing comment.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Comment"
          },
          "id": "drive.comments.patch",
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "PATCH"
        },
        "insert": {
          "id": "drive.comments.insert",
          "path": "files/{fileId}/comments",
          "flatPath": "files/{fileId}/comments",
          "response": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "description": "Creates a new comment on the given file."
        },
        "update": {
          "request": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "PUT",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "response": {
            "$ref": "Comment"
          },
          "description": "Updates an existing comment.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "type": "string",
              "description": "The ID of the comment.",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.comments.update"
        },
        "get": {
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "commentId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the comment.",
              "required": true
            },
            "includeDeleted": {
              "location": "query",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "type": "boolean",
              "default": "false"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}",
          "response": {
            "$ref": "Comment"
          },
          "description": "Gets a comment by ID.",
          "id": "drive.comments.get"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "description": "Stops watching resources through this channel.",
          "path": "channels/stop",
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.channels.stop",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "flatPath": "channels/stop",
          "parameters": {}
        }
      }
    },
    "drives": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.delete",
          "flatPath": "drives/{driveId}",
          "path": "drives/{driveId}",
          "parameters": {
            "driveId": {
              "required": true,
              "location": "path",
              "description": "The ID of the shared drive.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "allowItemDeletion": {
              "location": "query",
              "type": "boolean",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "default": "false"
            }
          },
          "httpMethod": "DELETE",
          "description": "Permanently deletes a shared drive for which the user is an organizer. The shared drive cannot contain any untrashed items."
        },
        "unhide": {
          "parameters": {
            "driveId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true
            }
          },
          "response": {
            "$ref": "Drive"
          },
          "path": "drives/{driveId}/unhide",
          "description": "Restores a shared drive to the default view.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.unhide",
          "httpMethod": "POST",
          "flatPath": "drives/{driveId}/unhide",
          "parameterOrder": [
            "driveId"
          ]
        },
        "list": {
          "flatPath": "drives",
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](/drive/api/guides/search-shareddrives) guide.",
          "id": "drive.drives.list",
          "parameters": {
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching shared drives."
            },
            "maxResults": {
              "maximum": "100",
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "default": "10",
              "type": "integer",
              "description": "Maximum number of shared drives to return per page."
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned."
            },
            "pageToken": {
              "type": "string",
              "description": "Page token for shared drives.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "DriveList"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "drives"
        },
        "insert": {
          "path": "drives",
          "flatPath": "drives",
          "parameterOrder": [
            "requestId"
          ],
          "id": "drive.drives.insert",
          "parameters": {
            "requestId": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned."
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Drive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Creates a new shared drive.",
          "request": {
            "$ref": "Drive"
          }
        },
        "update": {
          "id": "drive.drives.update",
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Updates the metadata for a shared drive.",
          "request": {
            "$ref": "Drive"
          },
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "driveId": {
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "PUT"
        },
        "hide": {
          "httpMethod": "POST",
          "id": "drive.drives.hide",
          "flatPath": "drives/{driveId}/hide",
          "parameterOrder": [
            "driveId"
          ],
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Hides a shared drive from the default view.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}/hide",
          "response": {
            "$ref": "Drive"
          }
        },
        "get": {
          "parameters": {
            "driveId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive."
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false"
            }
          },
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "GET",
          "description": "Gets a shared drive's metadata by ID.",
          "flatPath": "drives/{driveId}",
          "id": "drive.drives.get",
          "path": "drives/{driveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "driveId"
          ]
        }
      }
    },
    "changes": {
      "methods": {
        "watch": {
          "supportsSubscription": true,
          "description": "Subscribe to changes for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "POST",
          "id": "drive.changes.watch",
          "flatPath": "changes/watch",
          "parameterOrder": [],
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "path": "changes/watch",
          "parameters": {
            "startChangeId": {
              "description": "Deprecated: Use `pageToken` instead.",
              "location": "query",
              "format": "int64",
              "deprecated": true,
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "description": "Maximum number of changes to return.",
              "location": "query",
              "type": "integer",
              "default": "100"
            },
            "spaces": {
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "location": "query"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "includeTeamDriveItems": {
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "deprecated": true
            },
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method."
            },
            "includeDeleted": {
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "includeCorpusRemovals": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file."
            },
            "includeSubscribed": {
              "location": "query",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "type": "boolean",
              "default": "true"
            }
          },
          "response": {
            "$ref": "Channel"
          }
        },
        "getStartPageToken": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets the starting pageToken for listing future changes.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "StartPageToken"
          },
          "id": "drive.changes.getStartPageToken",
          "flatPath": "changes/startPageToken",
          "path": "changes/startPageToken",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned."
            },
            "teamDriveId": {
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          }
        },
        "get": {
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes.",
          "flatPath": "changes/{changeId}",
          "path": "changes/{changeId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.changes.get",
          "parameterOrder": [
            "changeId"
          ],
          "parameters": {
            "changeId": {
              "required": true,
              "location": "path",
              "description": "The ID of the change.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which the change will be returned."
            },
            "teamDriveId": {
              "deprecated": true,
              "type": "string",
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Change"
          }
        },
        "list": {
          "description": "Lists the changes for a user or shared drive.",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "default": "100",
              "description": "Maximum number of changes to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "includeSubscribed": {
              "default": "true",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "type": "boolean",
              "location": "query"
            },
            "teamDriveId": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string"
            },
            "startChangeId": {
              "deprecated": true,
              "description": "Deprecated: Use `pageToken` instead.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string"
            },
            "includeCorpusRemovals": {
              "location": "query",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "default": "false",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "location": "query"
            },
            "driveId": {
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string"
            },
            "includeDeleted": {
              "type": "boolean",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query",
              "default": "true"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false",
              "type": "boolean"
            }
          },
          "flatPath": "changes",
          "path": "changes",
          "id": "drive.changes.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true,
          "httpMethod": "GET",
          "response": {
            "$ref": "ChangeList"
          }
        }
      }
    },
    "teamdrives": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "requestId"
          ],
          "request": {
            "$ref": "TeamDrive"
          },
          "path": "teamdrives",
          "description": "Deprecated: Use `drives.insert` instead.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.teamdrives.insert",
          "parameters": {
            "requestId": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned."
            }
          },
          "flatPath": "teamdrives",
          "response": {
            "$ref": "TeamDrive"
          }
        },
        "list": {
          "parameterOrder": [],
          "description": "Deprecated: Use `drives.list` instead.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "TeamDriveList"
          },
          "parameters": {
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "default": "10",
              "maximum": "100",
              "description": "Maximum number of Team Drives to return.",
              "location": "query",
              "type": "integer"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching Team Drives."
            },
            "pageToken": {
              "description": "Page token for Team Drives.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "drive.teamdrives.list",
          "httpMethod": "GET",
          "path": "teamdrives",
          "flatPath": "teamdrives"
        },
        "get": {
          "response": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "description": "Deprecated: Use `drives.get` instead.",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "default": "false"
            },
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "teamDriveId"
          ],
          "id": "drive.teamdrives.get"
        },
        "update": {
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "request": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.update",
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "required": true,
              "description": "The ID of the Team Drive",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.update` instead.",
          "httpMethod": "PUT",
          "path": "teamdrives/{teamDriveId}"
        },
        "delete": {
          "flatPath": "teamdrives/{teamDriveId}",
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the Team Drive"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.delete` instead.",
          "id": "drive.teamdrives.delete",
          "path": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        }
      }
    },
    "children": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Inserts a file into a folder.",
          "flatPath": "files/{folderId}/children",
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "folderId": {
              "required": true,
              "location": "path",
              "description": "The ID of the folder.",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "ChildReference"
          },
          "response": {
            "$ref": "ChildReference"
          },
          "parameterOrder": [
            "folderId"
          ],
          "path": "files/{folderId}/children",
          "httpMethod": "POST",
          "id": "drive.children.insert"
        },
        "delete": {
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "description": "Removes a child from a folder.",
          "path": "files/{folderId}/children/{childId}",
          "parameters": {
            "childId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the child."
            },
            "folderId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the folder."
            },
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "default": "false",
              "deprecated": true,
              "location": "query"
            }
          },
          "id": "drive.children.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{folderId}/children/{childId}"
        },
        "get": {
          "response": {
            "$ref": "ChildReference"
          },
          "description": "Gets a specific child reference.",
          "path": "files/{folderId}/children/{childId}",
          "parameters": {
            "childId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the child."
            },
            "folderId": {
              "description": "The ID of the folder.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{folderId}/children/{childId}",
          "httpMethod": "GET",
          "id": "drive.children.get",
          "parameterOrder": [
            "folderId",
            "childId"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "description": "Lists a folder's children.",
          "path": "files/{folderId}/children",
          "parameterOrder": [
            "folderId"
          ],
          "id": "drive.children.list",
          "flatPath": "files/{folderId}/children",
          "parameters": {
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching children."
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query",
              "type": "string"
            },
            "folderId": {
              "description": "The ID of the folder.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for children.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "0",
              "location": "query",
              "default": "100",
              "type": "integer",
              "description": "Maximum number of children to return.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ChildList"
          }
        }
      }
    },
    "parents": {
      "methods": {
        "get": {
          "response": {
            "$ref": "ParentReference"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.parents.get",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "parentId": {
              "description": "The ID of the parent.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "files/{fileId}/parents/{parentId}",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "description": "Gets a specific parent reference."
        },
        "insert": {
          "response": {
            "$ref": "ParentReference"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ParentReference"
          },
          "parameters": {
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            },
            "enforceSingleParent": {
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "id": "drive.parents.insert",
          "path": "files/{fileId}/parents",
          "flatPath": "files/{fileId}/parents",
          "description": "Adds a parent folder for a file.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ]
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            },
            "enforceSingleParent": {
              "default": "false",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "deprecated": true,
              "type": "boolean",
              "location": "query"
            },
            "parentId": {
              "required": true,
              "description": "The ID of the parent.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Removes a parent from a file.",
          "id": "drive.parents.delete",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "path": "files/{fileId}/parents/{parentId}"
        },
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET",
          "id": "drive.parents.list",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ParentList"
          },
          "flatPath": "files/{fileId}/parents",
          "description": "Lists a file's parents.",
          "path": "files/{fileId}/parents",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string"
            },
            "maxResults": {
              "maximum": "1000",
              "default": "200",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "description": "Maximum number of revisions to return.",
              "type": "integer"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's revisions.",
          "id": "drive.revisions.list",
          "path": "files/{fileId}/revisions",
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/revisions",
          "response": {
            "$ref": "RevisionList"
          }
        },
        "update": {
          "response": {
            "$ref": "Revision"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Revision"
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "description": "Updates a revision.",
          "parameters": {
            "fileId": {
              "description": "The ID for the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "revisionId": {
              "required": true,
              "type": "string",
              "description": "The ID for the revision.",
              "location": "path"
            }
          },
          "id": "drive.revisions.update"
        },
        "patch": {
          "description": "Updates a revision.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "path": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "id": "drive.revisions.patch",
          "request": {
            "$ref": "Revision"
          },
          "parameters": {
            "revisionId": {
              "description": "The ID for the revision.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "revisionId": {
              "location": "path",
              "description": "The ID of the revision.",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.get",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "description": "Gets a specific revision.",
          "response": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "revisionId"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "revisionId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the revision."
            }
          },
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "id": "drive.revisions.delete",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "DELETE",
          "flatPath": "files/{fileId}/revisions/{revisionId}"
        }
      }
    },
    "permissions": {
      "methods": {
        "getIdForEmail": {
          "flatPath": "permissionIds/{email}",
          "parameterOrder": [
            "email"
          ],
          "id": "drive.permissions.getIdForEmail",
          "description": "Returns the permission ID for an email address.",
          "path": "permissionIds/{email}",
          "httpMethod": "GET",
          "parameters": {
            "email": {
              "required": true,
              "location": "path",
              "description": "The email address for which to return a permission ID",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "PermissionId"
          }
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID for the file or shared drive."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "permissionId": {
              "required": true,
              "description": "The ID for the permission.",
              "location": "path",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false"
            }
          }
        },
        "get": {
          "parameters": {
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID for the permission."
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false"
            }
          },
          "description": "Gets a permission by ID.",
          "path": "files/{fileId}/permissions/{permissionId}",
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "httpMethod": "GET",
          "id": "drive.permissions.get"
        },
        "update": {
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query"
            },
            "transferOwnership": {
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path"
            },
            "permissionId": {
              "type": "string",
              "location": "path",
              "description": "The ID for the permission.",
              "required": true
            },
            "removeExpiration": {
              "default": "false",
              "location": "query",
              "description": "Whether to remove the expiration date.",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "id": "drive.permissions.update",
          "request": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Permission"
          }
        },
        "insert": {
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "location": "query"
            },
            "moveToNewOwnersRoot": {
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean"
            },
            "emailMessage": {
              "description": "A plain text custom message to include in notification emails.",
              "location": "query",
              "type": "string"
            },
            "sendNotificationEmails": {
              "location": "query",
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "type": "boolean",
              "default": "true"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string"
            }
          },
          "path": "files/{fileId}/permissions",
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "request": {
            "$ref": "Permission"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/permissions",
          "id": "drive.permissions.insert",
          "parameterOrder": [
            "fileId"
          ]
        },
        "list": {
          "id": "drive.permissions.list",
          "response": {
            "$ref": "PermissionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID for the file or shared drive."
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "maximum": "100",
              "minimum": "1",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "location": "query"
            }
          },
          "description": "Lists a file's or shared drive's permissions.",
          "httpMethod": "GET",
          "path": "files/{fileId}/permissions",
          "flatPath": "files/{fileId}/permissions"
        },
        "patch": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.patch",
          "request": {
            "$ref": "Permission"
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query"
            },
            "removeExpiration": {
              "location": "query",
              "description": "Whether to remove the expiration date.",
              "type": "boolean",
              "default": "false"
            },
            "permissionId": {
              "description": "The ID for the permission.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "transferOwnership": {
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "files": {
      "methods": {
        "list": {
          "description": " Lists the user's files. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for files & folders](/drive/api/guides/search-files) guide. *Note:* This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "response": {
            "$ref": "FileList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "teamDriveId": {
              "type": "string",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `driveId` instead."
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query"
            },
            "corpus": {
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            },
            "maxResults": {
              "minimum": "0",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "location": "query",
              "default": "100",
              "type": "integer",
              "format": "int32"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Page token for files.",
              "type": "string",
              "location": "query"
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "projection": {
              "description": "Deprecated: This parameter has no function.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "type": "string",
              "deprecated": true
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "corpora": {
              "type": "string",
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
              "location": "query"
            },
            "spaces": {
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`.",
              "location": "query"
            },
            "q": {
              "location": "query",
              "description": "Query string for searching files.",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, `title`, and `title_natural`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            }
          },
          "path": "files",
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "drive.files.list",
          "flatPath": "files"
        },
        "trash": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file to trash.",
              "type": "string",
              "location": "path"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "description": " Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files. Only the owner may trash a file. The trashed item is excluded from all `files.list` responses returned for any user who doesn't own the file. However, all users with access to the file can see the trashed item metadata in an API response. All users with access can copy, download, export, and share the file. *Note:* Files moved to the trash still appear by default in results from the `files.list` method. To permanently remove a file, use `files.delete`.",
          "id": "drive.files.trash",
          "path": "files/{fileId}/trash",
          "flatPath": "files/{fileId}/trash"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.delete",
          "description": "Permanently deletes a file by ID. Skips the trash. The currently authenticated user must own the file or be an organizer on the parent for shared drive files.",
          "path": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file to delete."
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            }
          },
          "flatPath": "files/{fileId}"
        },
        "update": {
          "parameters": {
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file to update.",
              "type": "string",
              "required": true
            },
            "updateViewedDate": {
              "description": "Whether to update the view date after successfully updating the file.",
              "location": "query",
              "type": "boolean",
              "default": "true"
            },
            "convert": {
              "default": "false",
              "description": "Deprecated: This parameter has no function.",
              "type": "boolean",
              "location": "query",
              "deprecated": true
            },
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "type": "boolean"
            },
            "newRevision": {
              "location": "query",
              "default": "true",
              "type": "boolean",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045)."
            },
            "timedTextTrackName": {
              "location": "query",
              "description": "The timed text track name.",
              "type": "string"
            },
            "removeParents": {
              "location": "query",
              "type": "string",
              "description": "Comma-separated list of parent IDs to remove."
            },
            "timedTextLanguage": {
              "location": "query",
              "type": "string",
              "description": "The language of the timed text."
            },
            "pinned": {
              "location": "query",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
              "type": "boolean",
              "default": "false"
            },
            "setModifiedDate": {
[...]
