{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "batchPath": "batch/drive/v3",
  "protocol": "rest",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "schemas": {
    "Revision": {
      "properties": {
        "exportLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object"
        },
        "modifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last time the revision was modified (RFC 3339 date-time)."
        },
        "originalFilename": {
          "description": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "published": {
          "type": "boolean",
          "description": "Whether this revision is published. This is only applicable to Docs Editors files."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the revision."
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this revision."
        },
        "size": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive."
        },
        "publishedLink": {
          "type": "string",
          "description": "Output only. A link to the published revision. This is only populated for Google Sites files."
        },
        "keepForever": {
          "type": "boolean",
          "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive."
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`.",
          "default": "drive#revision"
        },
        "publishedOutsideDomain": {
          "type": "boolean",
          "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files."
        },
        "publishAuto": {
          "type": "boolean",
          "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files."
        }
      },
      "id": "Revision",
      "type": "object",
      "description": "The metadata for a revision to a file."
    },
    "Reply": {
      "type": "object",
      "properties": {
        "htmlContent": {
          "description": "Output only. The content of the reply with HTML formatting.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "drive#reply",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`."
        },
        "modifiedTime": {
          "format": "date-time",
          "type": "string",
          "description": "The last time the reply was modified (RFC 3339 date-time)."
        },
        "id": {
          "description": "Output only. The ID of the reply.",
          "type": "string"
        },
        "createdTime": {
          "type": "string",
          "description": "The time at which the reply was created (RFC 3339 date-time).",
          "format": "date-time"
        },
        "content": {
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This is required on creates if no `action` is specified.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          }
        },
        "author": {
          "description": "Output only. The author of the reply. The author's email address and permission ID will not be populated.",
          "$ref": "User"
        },
        "action": {
          "description": "The action the reply performed to the parent comment. Valid values are: * `resolve` * `reopen`",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content."
        }
      },
      "id": "Reply",
      "description": "A reply to a comment on a file."
    },
    "User": {
      "type": "object",
      "description": "Information about a Drive user.",
      "id": "User",
      "properties": {
        "me": {
          "description": "Output only. Whether this user is the requesting user.",
          "type": "boolean"
        },
        "permissionId": {
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string"
        },
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester."
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#user\"`.",
          "type": "string",
          "default": "drive#user"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. A plain text displayable name for this user."
        }
      }
    },
    "LabelField": {
      "id": "LabelField",
      "properties": {
        "dateString": {
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "items": {
            "type": "string",
            "format": "date"
          },
          "type": "array"
        },
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only present if `valueType` is `text`."
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#labelField."
        },
        "id": {
          "type": "string",
          "description": "The identifier of this label field."
        },
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        },
        "integer": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Only present if `valueType` is `integer`."
        },
        "selection": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only present if `valueType` is `selection`"
        },
        "user": {
          "type": "array",
          "description": "Only present if `valueType` is `user`.",
          "items": {
            "$ref": "User"
          }
        }
      },
      "type": "object",
      "description": "Representation of field, which is a typed key-value pair."
    },
    "TeamDrive": {
      "type": "object",
      "properties": {
        "restrictions": {
          "properties": {
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
        },
        "backgroundImageLink": {
          "description": "A short-lived link to this Team Drive's background image.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "backgroundImageFile": {
          "properties": {
            "yCoordinate": {
              "format": "float",
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            },
            "id": {
              "type": "string",
              "description": "The ID of an image file in Drive to use for the background image."
            },
            "xCoordinate": {
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number"
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float",
              "type": "number"
            }
          },
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
        },
        "id": {
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDrive\"`.",
          "type": "string",
          "default": "drive#teamDrive"
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "capabilities": {
          "description": "Capabilities the current user has on this Team Drive.",
          "properties": {
            "canResetTeamDriveRestrictions": {
              "type": "boolean",
              "description": "Whether the current user can reset the Team Drive restrictions to defaults."
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role."
            },
            "canChangeTeamDriveBackground": {
              "description": "Whether the current user can change the background of this Team Drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Whether the current user can rename files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Whether the current user can add children to folders in this Team Drive.",
              "type": "boolean"
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Whether the current user can copy files in this Team Drive."
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Whether the current user can share files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Whether the current user can trash children from folders in this Team Drive."
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Whether the current user can edit files in this Team Drive"
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Whether the current user can comment on files in this Team Drive."
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "createdTime": {
          "type": "string",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time).",
          "format": "date-time"
        },
        "name": {
          "description": "The name of this Team Drive.",
          "type": "string"
        }
      },
      "description": "Deprecated: use the drive collection instead.",
      "id": "TeamDrive"
    },
    "Channel": {
      "description": "A notification channel used to watch for resource changes.",
      "properties": {
        "expiration": {
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64"
        },
        "token": {
          "type": "string",
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object"
        },
        "kind": {
          "type": "string",
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`."
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel.",
          "type": "string"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Channel"
    },
    "RevisionList": {
      "id": "RevisionList",
      "description": "A list of revisions of a file.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#revisionList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#revisionList\"`."
        },
        "revisions": {
          "type": "array",
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Revision"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        }
      },
      "type": "object"
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "description": "A restriction for accessing the content of the file.",
      "properties": {
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        },
        "restrictingUser": {
          "$ref": "User",
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true."
        },
        "restrictionTime": {
          "format": "date-time",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReplyList": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#replyList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#replyList\"`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "replies": {
          "type": "array",
          "items": {
            "$ref": "Reply"
          },
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        }
      },
      "description": "A list of replies to a comment on a file.",
      "id": "ReplyList",
      "type": "object"
    },
    "CommentList": {
      "id": "CommentList",
      "description": "A list of comments on a file.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "default": "drive#commentList",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`."
        },
        "comments": {
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        }
      }
    },
    "FileList": {
      "type": "object",
      "description": "A list of files.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "drive#fileList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`."
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the 'allDrives' corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as 'user' or 'drive'.",
          "type": "boolean"
        },
        "files": {
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "id": "FileList"
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "description": "Representation of label and label fields.",
      "properties": {
        "kind": {
          "description": "This is always drive#label",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the label."
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "additionalProperties": {
            "$ref": "LabelField"
          },
          "type": "object"
        }
      }
    },
    "ChangeList": {
      "description": "A list of changes for a user.",
      "type": "object",
      "properties": {
        "changes": {
          "items": {
            "$ref": "Change"
          },
          "type": "array",
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "newStartPageToken": {
          "type": "string",
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`.",
          "type": "string",
          "default": "drive#changeList"
        }
      },
      "id": "ChangeList"
    },
    "GeneratedIds": {
      "description": "A list of generated file IDs which can be provided in create requests.",
      "id": "GeneratedIds",
      "properties": {
        "ids": {
          "description": "The IDs generated for the requesting user in the specified space.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "default": "drive#generatedIds",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#generatedIds\"`.",
          "type": "string"
        },
        "space": {
          "type": "string",
          "description": "The type of file that can be created with these IDs."
        }
      },
      "type": "object"
    },
    "LabelModification": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always drive#labelModification."
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "fieldModifications": {
          "description": "The list of modifications to this label's fields.",
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          }
        },
        "labelId": {
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "type": "string",
          "description": "The ID of the label to modify."
        }
      },
      "description": "A modification to a label on a file. A LabelModification can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "id": "LabelModification",
      "type": "object"
    },
    "ModifyLabelsRequest": {
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always drive#modifyLabelsRequest.",
          "type": "string"
        },
        "labelModifications": {
          "items": {
            "$ref": "LabelModification"
          },
          "type": "array",
          "description": "The list of modifications to apply to the labels on the file."
        }
      }
    },
    "PermissionList": {
      "id": "PermissionList",
      "description": "A list of permissions for a file.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`.",
          "default": "drive#permissionList"
        },
        "permissions": {
          "description": "The list of permissions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      }
    },
    "Drive": {
      "id": "Drive",
      "properties": {
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "capabilities": {
          "properties": {
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on files in this shared drive."
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of folders in this shared drive."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canResetDriveRestrictions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults."
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download files in this shared drive."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive."
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename files or folders in this shared drive."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy files in this shared drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object"
        },
        "createdTime": {
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#drive\"`.",
          "type": "string",
          "default": "drive#drive"
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
          "type": "object",
          "properties": {
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this shared drive is restricted to its members."
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            }
          }
        },
        "hidden": {
          "type": "boolean",
          "description": "Whether the shared drive is hidden from default view."
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The ID of an image file in Google Drive to use for the background image."
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "yCoordinate": {
              "format": "float",
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            },
            "width": {
              "format": "float",
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
            }
          }
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string"
        },
        "themeId": {
          "type": "string",
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "Output only. A short-lived link to this shared drive's background image."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive."
        }
      },
      "type": "object",
      "description": "Representation of a shared drive."
    },
    "StartPageToken": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "default": "drive#startPageToken",
          "type": "string"
        },
        "startPageToken": {
          "type": "string",
          "description": "The starting page token for listing changes."
        }
      },
      "type": "object",
      "id": "StartPageToken"
    },
    "LabelFieldModification": {
      "type": "object",
      "properties": {
        "setDateValues": {
          "items": {
            "format": "date",
            "type": "string"
          },
          "type": "array",
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD."
        },
        "setTextValues": {
          "description": "Sets the value of a `text` field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field to be modified."
        },
        "setSelectionValues": {
          "items": {
            "type": "string"
          },
          "description": "Replaces a `selection` field with these new values.",
          "type": "array"
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#labelFieldModification."
        },
        "setIntegerValues": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Replaces the value of an `integer` field with these new values."
        },
        "setUserValues": {
          "items": {
            "type": "string"
          },
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses.",
          "type": "array"
        }
      },
      "id": "LabelFieldModification",
      "description": "A modification to a label's field."
    },
    "Permission": {
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain or the world access to a file or a folder hierarchy.",
      "properties": {
        "allowFileDiscovery": {
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`.",
          "type": "boolean"
        },
        "view": {
          "type": "string",
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. 'published' is the only supported value."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google account, such as \"Joe Smith.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"thecompany.com.\" * `anyone` - No `displayName` is present."
        },
        "teamDrivePermissionDetails": {
          "readOnly": true,
          "items": {
            "properties": {
              "teamDrivePermissionType": {
                "type": "string",
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead."
              },
              "inherited": {
                "description": "Deprecated: Output only. Use `permissionDetails/inherited` instead.",
                "type": "boolean"
              },
              "inheritedFrom": {
                "description": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead.",
                "type": "string"
              },
              "role": {
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead.",
          "type": "array"
        },
        "expirationTime": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future",
          "type": "string",
          "format": "date-time"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions."
        },
        "kind": {
          "default": "drive#permission",
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`."
        },
        "type": {
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "description": "The type of the grantee. Valid values are: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. When `type` is `domain`, you must provide a `domain`. There isn't extra information required for an `anyone` type."
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in User resources as `permissionId`. IDs should be treated as opaque values."
        },
        "domain": {
          "type": "string",
          "description": "The domain to which this permission refers."
        },
        "role": {
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "description": "The role granted by this permission. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader`",
          "type": "string"
        },
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.",
          "type": "boolean"
        },
        "permissionDetails": {
          "description": "Output only. Details of whether the permissions on this shared drive item are inherited or directly on this item. This is an output-only field which is present only for shared drive items.",
          "type": "array",
          "items": {
            "properties": {
              "role": {
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader`",
                "type": "string"
              },
              "inheritedFrom": {
                "type": "string",
                "description": "Output only. The ID of the item from which this permission is inherited. This is an output-only field."
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field.",
                "type": "boolean"
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`",
                "type": "string"
              }
            },
            "type": "object"
          },
          "readOnly": true
        },
        "emailAddress": {
          "description": "The email address of the user or group to which this permission refers.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DriveList": {
      "description": "A list of shared drives.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`.",
          "default": "drive#driveList"
        },
        "drives": {
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Drive"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        }
      },
      "type": "object",
      "id": "DriveList"
    },
    "Change": {
      "type": "object",
      "properties": {
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the shared drive associated with this change."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#change\"`.",
          "type": "string",
          "default": "drive#change"
        },
        "drive": {
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.",
          "$ref": "Drive"
        },
        "teamDriveId": {
          "type": "string",
          "description": "Deprecated: Use `driveId` instead."
        },
        "type": {
          "type": "string",
          "description": "Deprecated: Use `changeType` instead."
        },
        "teamDrive": {
          "description": "Deprecated: Use `drive` instead.",
          "$ref": "TeamDrive"
        },
        "time": {
          "format": "date-time",
          "type": "string",
          "description": "The time of this change (RFC 3339 date-time)."
        },
        "fileId": {
          "type": "string",
          "description": "The ID of the file which has changed."
        },
        "removed": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        }
      },
      "description": "A change to a file or shared drive.",
      "id": "Change"
    },
    "LabelList": {
      "description": "A list of labels applied to a file.",
      "id": "LabelList",
      "properties": {
        "labels": {
          "description": "The list of labels.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#labelList"
        }
      },
      "type": "object"
    },
    "ModifyLabelsResponse": {
      "type": "object",
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request.",
      "id": "ModifyLabelsResponse",
      "properties": {
        "modifiedLabels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array",
          "description": "The list of labels which were added or updated by the request."
        },
        "kind": {
          "description": "This is always drive#modifyLabelsResponse",
          "type": "string"
        }
      }
    },
    "File": {
      "type": "object",
      "id": "File",
      "properties": {
        "copyRequiresWriterPermission": {
          "type": "boolean",
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters."
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "trashingUser": {
          "$ref": "User",
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
        },
        "modifiedByMe": {
          "description": "Output only. Whether the file has been modified by this user.",
          "type": "boolean"
        },
        "thumbnailLink": {
          "type": "string",
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Only populated when the requesting app can access the file's content."
        },
        "explicitlyTrashed": {
          "type": "boolean",
          "description": "Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder."
        },
        "modifiedByMeTime": {
          "type": "string",
          "description": "The last time the file was modified by the user (RFC 3339 date-time).",
          "format": "date-time"
        },
        "trashedTime": {
          "description": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives.",
          "type": "string",
          "format": "date-time"
        },
        "trashed": {
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, and other users cannot see files in the owner's trash.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "The ID of the file."
        },
        "writersCanShare": {
          "description": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user."
        },
        "contentHints": {
          "description": "Additional information about the content of the file. These fields are never populated in responses.",
          "properties": {
            "indexableText": {
              "type": "string",
              "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128KB in length and may contain HTML elements."
            },
            "thumbnail": {
              "description": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail.",
              "properties": {
                "image": {
                  "format": "byte",
                  "type": "string",
                  "description": "The thumbnail data encoded with URL-safe Base64 (RFC 4648 section 5)."
                },
                "mimeType": {
                  "description": "The MIME type of the thumbnail.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "size": {
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "format": "int64",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests."
        },
        "parents": {
          "type": "array",
          "description": "The IDs of the parent folders which contain the file. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parents of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "items": {
            "type": "string"
          }
        },
        "quotaBytesUsed": {
          "type": "string",
          "description": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled.",
          "format": "int64"
        },
        "viewedByMeTime": {
          "format": "date-time",
          "type": "string",
          "description": "The last time the file was viewed by the user (RFC 3339 date-time)."
        },
        "name": {
          "type": "string",
          "description": "The name of the file. This is not necessarily unique within a folder. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the name is constant."
        },
        "appProperties": {
          "type": "object",
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "thumbnailVersion": {
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "type": "string",
          "format": "int64"
        },
        "sharingUser": {
          "description": "Output only. The user who shared the file with the requesting user, if applicable.",
          "$ref": "User"
        },
        "viewersCanCopyContent": {
          "description": "Deprecated: Use `copyRequiresWriterPermission` instead.",
          "type": "boolean"
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive."
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "driveId": {
          "type": "string",
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives."
        },
        "teamDriveId": {
          "type": "string",
          "description": "Deprecated: Output only. Use `driveId` instead."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the About resource."
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This is currently only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "folderColorRgb": {
          "description": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the About resource. If an unsupported color is specified, the closest color in the palette is used instead.",
          "type": "string"
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer in a browser."
        },
        "linkShareMetadata": {
          "properties": {
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            },
            "securityUpdateEligible": {
              "type": "boolean",
              "description": "Output only. Whether the file is eligible for security update."
            }
          },
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object"
        },
        "spaces": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of spaces which contain the file. The currently supported values are 'drive', 'appDataFolder' and 'photos'.",
          "type": "array"
        },
        "labelInfo": {
          "properties": {
            "labels": {
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "items": {
                "$ref": "Label"
              },
              "type": "array"
            }
          },
          "type": "object",
          "description": "Output only. An overview of the labels on the file."
        },
        "iconLink": {
          "description": "Output only. A static, unauthenticated link to the file's icon.",
          "type": "string"
        },
        "fullFileExtension": {
          "type": "string",
          "description": "Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it is not cleared if the new name does not contain a valid extension."
        },
        "imageMediaMetadata": {
          "properties": {
            "sensor": {
              "type": "string",
              "description": "Output only. The type of sensor used to create the photo."
            },
            "height": {
              "description": "Output only. The height of the image in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "aperture": {
              "type": "number",
              "format": "float",
              "description": "Output only. The aperture used to create the photo (f-number)."
            },
            "exposureTime": {
              "type": "number",
              "format": "float",
              "description": "Output only. The length of the exposure, in seconds."
            },
            "maxApertureValue": {
              "type": "number",
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "format": "float"
            },
            "colorSpace": {
              "description": "Output only. The color space of the photo.",
              "type": "string"
            },
            "isoSpeed": {
              "type": "integer",
              "description": "Output only. The ISO speed used to create the photo.",
              "format": "int32"
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "exposureBias": {
              "format": "float",
              "type": "number",
              "description": "Output only. The exposure bias of the photo (APEX value)."
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "width": {
              "type": "integer",
              "description": "Output only. The width of the image in pixels.",
              "format": "int32"
            },
            "subjectDistance": {
              "format": "int32",
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "type": "integer"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "location": {
              "type": "object",
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "latitude": {
                  "format": "double",
                  "description": "Output only. The latitude stored in the image.",
                  "type": "number"
                },
                "altitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The altitude stored in the image."
                },
                "longitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The longitude stored in the image."
                }
              }
            },
            "exposureMode": {
              "type": "string",
              "description": "Output only. The exposure mode used to create the photo."
            },
            "focalLength": {
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "format": "float",
              "type": "number"
            },
            "cameraMake": {
              "type": "string",
              "description": "Output only. The make of the camera used to create the photo."
            },
            "time": {
              "type": "string",
              "description": "Output only. The date and time the photo was taken (EXIF DateTime)."
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "rotation": {
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Output only. Additional metadata about image media, if available.",
          "type": "object"
        },
        "originalFilename": {
          "type": "string",
          "description": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive."
        },
        "owners": {
          "items": {
            "$ref": "User"
          },
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "type": "array"
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify the file.",
          "$ref": "User"
        },
        "ownedByMe": {
          "description": "Output only. Whether the user owns the file. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "hasThumbnail": {
          "type": "boolean",
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. A key needed to access the item via a shared link."
        },
        "modifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user."
        },
        "contentRestrictions": {
          "type": "array",
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives."
        },
        "kind": {
          "type": "string",
          "default": "drive#file",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#file\"`."
        },
        "videoMediaMetadata": {
          "description": "Output only. Additional metadata about video media. This may not be available immediately upon upload.",
          "type": "object",
          "properties": {
            "durationMillis": {
              "format": "int64",
              "description": "Output only. The duration of the video in milliseconds.",
              "type": "string"
            },
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "format": "int32",
              "type": "integer"
            },
            "height": {
              "type": "integer",
              "format": "int32",
              "description": "Output only. The height of the video in pixels."
            }
          }
        },
        "sharedWithMeTime": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time)."
        },
        "shortcutDetails": {
          "type": "object",
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`.",
          "properties": {
            "targetMimeType": {
              "type": "string",
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created."
            },
            "targetId": {
              "description": "The ID of the file that this shortcut points to.",
              "type": "string"
            },
            "targetResourceKey": {
              "description": "Output only. The ResourceKey for the target file.",
              "type": "string"
            }
          }
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "exportLinks": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "permissionIds": {
          "description": "Output only. List of permission IDs for users with access to this file.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "viewedByMe": {
          "type": "boolean",
          "description": "Output only. Whether the file has been viewed by this user."
        },
        "createdTime": {
          "format": "date-time",
          "description": "The time at which the file was created (RFC 3339 date-time).",
          "type": "string"
        },
        "starred": {
          "description": "Whether the user has starred the file.",
          "type": "boolean"
        },
        "capabilities": {
          "properties": {
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download this file."
            },
            "canModifyContentRestriction": {
              "description": "Output only. Whether the current user can modify restrictions on content of this file.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canMoveItemWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead."
            },
            "canReadDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on this file."
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canChangeViewersCanCopyContent": {
              "type": "boolean",
              "description": "Deprecated: Output only."
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata."
            },
            "canMoveItemOutOfTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead."
            },
            "canDelete": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this file."
            },
            "canMoveTeamDriveItem": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead."
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this file."
            },
            "canMoveChildrenWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder."
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read."
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` instead.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canReadDrive` instead."
            },
            "canUntrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can restore this file from trash."
            },
            "canRemoveMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "type": "object"
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        }
      },
      "description": "The metadata for a file."
    },
    "Comment": {
      "description": "A comment on a file.",
      "properties": {
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the comment has been deleted. A deleted comment has no content."
        },
        "content": {
          "description": "The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.comments.create",
              "drive.comments.update"
            ]
          }
        },
        "resolved": {
          "type": "boolean",
          "description": "Output only. Whether the comment has been resolved by one of its replies."
        },
        "htmlContent": {
          "description": "Output only. The content of the comment with HTML formatting.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of the comment.",
          "type": "string"
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/drive/api/v3/manage-comments).",
          "type": "string"
        },
        "quotedFileContent": {
          "type": "object",
          "properties": {
            "mimeType": {
              "description": "The MIME type of the quoted content.",
              "type": "string"
            },
            "value": {
              "description": "The quoted content itself. This is interpreted as plain text if set through the API.",
              "type": "string"
            }
          },
          "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment."
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`.",
          "default": "drive#comment"
        },
        "modifiedTime": {
          "format": "date-time",
          "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time).",
          "type": "string"
        },
        "replies": {
          "type": "array",
          "description": "Output only. The full list of replies to the comment in chronological order.",
          "items": {
            "$ref": "Reply"
          }
        },
        "author": {
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated.",
          "$ref": "User"
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the comment was created (RFC 3339 date-time)."
        }
      },
      "id": "Comment",
      "type": "object"
    },
    "TeamDriveList": {
      "description": "A list of Team Drives.",
      "properties": {
        "teamDrives": {
          "type": "array",
          "description": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "TeamDrive"
          }
        },
        "kind": {
          "type": "string",
          "default": "drive#teamDriveList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDriveList\"`."
        },
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "id": "TeamDriveList",
      "type": "object"
    },
    "About": {
      "type": "object",
      "properties": {
        "maxImportSizes": {
          "type": "object",
          "description": "A map of maximum import sizes by MIME type, in bytes.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "teamDriveThemes": {
          "description": "Deprecated: Use `driveThemes` instead.",
          "items": {
            "properties": {
              "backgroundImageLink": {
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "type": "string"
              },
              "colorRgb": {
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "type": "string"
              },
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "canCreateTeamDrives": {
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "type": "boolean"
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "appInstalled": {
          "description": "Whether the user has installed the requesting app.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#about",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#about\"`."
        },
        "maxUploadSize": {
          "description": "The maximum upload size in bytes.",
          "type": "string",
          "format": "int64"
        },
        "user": {
          "$ref": "User",
          "description": "The authenticated user."
        },
        "folderColorPalette": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The currently supported folder colors as RGB hex strings."
        },
        "importFormats": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": "A map of source MIME type to possible targets for all supported imports."
        },
        "storageQuota": {
          "properties": {
            "usage": {
              "format": "int64",
              "description": "The total usage across all services.",
              "type": "string"
            },
            "limit": {
              "description": "The usage limit, if applicable. This will not be present if the user has unlimited storage.",
              "type": "string",
              "format": "int64"
            },
            "usageInDriveTrash": {
              "description": "The usage by trashed files in Google Drive.",
              "type": "string",
              "format": "int64"
            },
            "usageInDrive": {
              "format": "int64",
              "description": "The usage by all files in Google Drive.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The user's storage quota limits and usage. All fields are measured in bytes."
        },
        "driveThemes": {
          "type": "array",
          "description": "A list of themes that are supported for shared drives.",
          "items": {
            "properties": {
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              },
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "colorRgb": {
                "type": "string",
                "description": "The color of this theme as an RGB hex string."
              }
            },
            "type": "object"
          }
        },
        "exportFormats": {
          "additionalProperties": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "description": "A map of source MIME type to possible targets for all supported exports.",
          "type": "object"
        }
      },
      "description": "Information about the user, the user's Drive, and system capabilities.",
      "id": "About"
    }
  },
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "basePath": "/drive/v3/",
  "name": "drive",
  "servicePath": "drive/v3/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        }
      }
    }
  },
  "revision": "20230517",
  "version": "v3",
  "ownerName": "Google",
  "rootUrl": "https://www.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "drive:v3",
  "documentationLink": "https://developers.google.com/drive/",
  "title": "Google Drive API",
  "resources": {
    "drives": {
      "methods": {
        "unhide": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives/{driveId}/unhide",
          "description": "Restores a shared drive to the default view.",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "flatPath": "drives/{driveId}/unhide",
          "id": "drive.drives.unhide"
        },
        "get": {
          "description": "Gets a shared drive's metadata by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "drives/{driveId}",
          "id": "drive.drives.get",
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "driveId"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
[...]
