{
  "servicePath": "",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "version_module": true,
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "version": "v2",
  "documentationLink": "https://developers.google.com/drive/activity/",
  "name": "driveactivity",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "protocol": "rest",
  "title": "Drive Activity API",
  "description": "Provides a historical view of activity in Google Drive.",
  "revision": "20220926",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "id": "driveactivity:v2",
  "ownerDomain": "google.com",
  "canonicalName": "Drive Activity",
  "basePath": "",
  "schemas": {
    "Text": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      },
      "id": "Text",
      "type": "object",
      "description": "Wrapper for Text Field value."
    },
    "Legacy": {
      "type": "object",
      "id": "Legacy",
      "properties": {},
      "description": "A strategy which consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action."
    },
    "Folder": {
      "type": "object",
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ]
        }
      },
      "id": "Folder"
    },
    "DriveItem": {
      "id": "DriveItem",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/drive/v3/web/mime-types."
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder"
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        }
      },
      "description": "A Drive item, such as a file or folder.",
      "type": "object"
    },
    "Date": {
      "properties": {
        "value": {
          "description": "Date value.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Date",
      "description": "Wrapper for Date Field value."
    },
    "Impersonation": {
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "id": "Impersonation",
      "type": "object",
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      }
    },
    "ConsolidationStrategy": {
      "type": "object",
      "properties": {
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        },
        "none": {
          "$ref": "NoConsolidation",
          "description": "The individual activities are not consolidated."
        }
      },
      "description": "How the individual activities are consolidated. A set of activities may be consolidated into one combined activity if they are related in some way, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "id": "ConsolidationStrategy"
    },
    "UserList": {
      "id": "UserList",
      "type": "object",
      "properties": {
        "values": {
          "description": "User values.",
          "items": {
            "$ref": "SingleUser"
          },
          "type": "array"
        }
      },
      "description": "Wrapper for UserList Field value."
    },
    "File": {
      "type": "object",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "id": "File",
      "properties": {}
    },
    "Owner": {
      "type": "object",
      "id": "Owner",
      "properties": {
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        }
      },
      "description": "Information about the owner of a Drive item."
    },
    "ApplicationReference": {
      "type": "object",
      "id": "ApplicationReference",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "description": "The reference type corresponding to this event.",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ]
        }
      },
      "description": "Activity in applications other than Drive."
    },
    "DeletedUser": {
      "type": "object",
      "description": "A user whose account has since been deleted.",
      "id": "DeletedUser",
      "properties": {}
    },
    "Anyone": {
      "type": "object",
      "description": "Represents any user (including a logged out user).",
      "id": "Anyone",
      "properties": {}
    },
    "QueryDriveActivityResponse": {
      "id": "QueryDriveActivityResponse",
      "description": "Response message for querying Drive activity.",
      "properties": {
        "activities": {
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          },
          "description": "List of activity requested."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object"
    },
    "Drive": {
      "id": "Drive",
      "type": "object",
      "description": "Information about a shared drive.",
      "properties": {
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        }
      }
    },
    "TargetReference": {
      "id": "TargetReference",
      "type": "object",
      "description": "A lightweight reference to the target of activity.",
      "properties": {
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        }
      }
    },
    "Administrator": {
      "description": "Empty message representing an administrator.",
      "id": "Administrator",
      "properties": {},
      "type": "object"
    },
    "DataLeakPreventionChange": {
      "id": "DataLeakPreventionChange",
      "description": "A change in the object's data leak prevention status.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "type": "string",
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ]
        }
      }
    },
    "ActionDetail": {
      "type": "object",
      "properties": {
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "comment": {
          "$ref": "Comment",
          "description": "A change about comments was made."
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        }
      },
      "description": "Data describing the type and additional information of an action.",
      "id": "ActionDetail"
    },
    "SelectionList": {
      "properties": {
        "values": {
          "description": "Selection values.",
          "type": "array",
          "items": {
            "$ref": "Selection"
          }
        }
      },
      "description": "Wrapper for SelectionList Field value.",
      "id": "SelectionList",
      "type": "object"
    },
    "Rename": {
      "properties": {
        "newTitle": {
          "type": "string",
          "description": "The new title of the drive object."
        },
        "oldTitle": {
          "type": "string",
          "description": "The previous title of the drive object."
        }
      },
      "description": "An object was renamed.",
      "type": "object",
      "id": "Rename"
    },
    "Group": {
      "description": "Information about a group.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Group"
    },
    "Integer": {
      "id": "Integer",
      "type": "object",
      "properties": {
        "value": {
          "description": "Integer value.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Wrapper for Integer Field value."
    },
    "DriveItemReference": {
      "type": "object",
      "id": "DriveItemReference",
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "properties": {
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder"
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        }
      }
    },
    "DriveFile": {
      "properties": {},
      "id": "DriveFile",
      "type": "object",
      "description": "A Drive item which is a file."
    },
    "PermissionChange": {
      "id": "PermissionChange",
      "type": "object",
      "description": "A change of the permission setting on an item.",
      "properties": {
        "addedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The set of permissions added by this change."
        },
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions removed by this change.",
          "type": "array"
        }
      }
    },
    "User": {
      "description": "Information about an end user.",
      "id": "User",
      "type": "object",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        }
      }
    },
    "Suggestion": {
      "type": "object",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "type": "string",
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ]
        }
      },
      "description": "A suggestion.",
      "id": "Suggestion"
    },
    "TimeRange": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the time range."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start of the time range."
        }
      },
      "description": "Information about time ranges.",
      "id": "TimeRange"
    },
    "Delete": {
      "id": "Delete",
      "description": "An object was deleted.",
      "properties": {
        "type": {
          "description": "The type of delete action taken.",
          "type": "string",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ]
        }
      },
      "type": "object"
    },
    "AppliedLabelChangeDetail": {
      "type": "object",
      "id": "AppliedLabelChangeDetail",
      "properties": {
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "fieldChanges": {
          "type": "array",
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "items": {
            "$ref": "FieldValueChange"
          }
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "types": {
          "type": "array",
          "items": {
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "type": "string"
          },
          "description": "The types of changes made to the Label on the Target."
        }
      },
      "description": "A change made to a Label on the Target."
    },
    "Action": {
      "description": "Information about the action.",
      "properties": {
        "detail": {
          "$ref": "ActionDetail",
          "description": "The type and detailed information about the action."
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "timestamp": {
          "type": "string",
          "description": "The action occurred at this specific time.",
          "format": "google-datetime"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        }
      },
      "type": "object",
      "id": "Action"
    },
    "KnownUser": {
      "properties": {
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        },
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A known user.",
      "id": "KnownUser"
    },
    "TeamDriveReference": {
      "type": "object",
      "id": "TeamDriveReference",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        }
      }
    },
    "SettingsChange": {
      "properties": {
        "restrictionChanges": {
          "type": "array",
          "description": "The set of changes made to restrictions.",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      },
      "description": "Information about settings changes.",
      "type": "object",
      "id": "SettingsChange"
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object",
      "properties": {
        "primaryActionDetail": {
          "$ref": "ActionDetail",
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request."
        },
        "actions": {
          "description": "Details on all actions in this activity.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        },
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred."
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        },
        "actors": {
          "items": {
            "$ref": "Actor"
          },
          "description": "All actor(s) responsible for the activity.",
          "type": "array"
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Selection": {
      "type": "object",
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Selection value as human-readable display string."
        },
        "value": {
          "type": "string",
          "description": "Selection value as Field Choice ID."
        }
      }
    },
    "DriveFolder": {
      "description": "A Drive item which is a folder.",
      "id": "DriveFolder",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "The type of Drive folder.",
          "type": "string",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ]
        }
      }
    },
    "Assignment": {
      "type": "object",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ]
        },
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        }
      },
      "description": "A comment with an assignment.",
      "id": "Assignment"
    },
    "Restore": {
      "description": "A deleted object was restored.",
      "type": "object",
      "id": "Restore",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "description": "The type of restore action taken.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      }
    },
    "QueryDriveActivityRequest": {
      "properties": {
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time \u003e 1452409200000 AND time \u003c= 1492812924310` - `time \u003e= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses. Examples: - `detail.action_detail_case: RENAME` - `detail.action_detail_case:(CREATE EDIT)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "ancestorName": {
          "type": "string",
          "description": "Return activities for this Drive folder and all children and descendants. The format is `items/ITEM_ID`."
        },
        "itemName": {
          "type": "string",
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`."
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifying which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results will be returned."
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions are not consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "pageSize": {
          "type": "integer",
          "description": "The miminum number of activities desired in the response; the server will attempt to return at least this quanitity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32"
        }
      },
      "description": "The request message for querying Drive activity.",
      "type": "object",
      "id": "QueryDriveActivityRequest"
    },
    "AppliedLabelChange": {
      "type": "object",
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target.",
      "properties": {
        "changes": {
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "description": "Changes that were made to the Label on the Target.",
          "type": "array"
        }
      }
    },
    "Domain": {
      "description": "Information about a domain.",
      "properties": {
        "legacyId": {
          "type": "string",
          "description": "An opaque string used to identify this domain."
        },
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        }
      },
      "id": "Domain",
      "type": "object"
    },
    "Post": {
      "id": "Post",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      },
      "type": "object",
      "description": "A regular posted comment."
    },
    "FieldValue": {
      "properties": {
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "user": {
          "$ref": "SingleUser",
          "description": "User Field value."
        },
        "selectionList": {
          "$ref": "SelectionList",
          "description": "Selection List Field value."
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        }
      },
      "description": "Contains a value of a Field.",
      "type": "object",
      "id": "FieldValue"
    },
    "SystemEvent": {
      "properties": {
        "type": {
          "description": "The type of the system event that may triggered activity.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "type": "string"
        }
      },
      "description": "Event triggered by system operations instead of end users.",
      "type": "object",
      "id": "SystemEvent"
    },
    "FieldValueChange": {
      "type": "object",
      "id": "FieldValueChange",
      "properties": {
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable display name for this field."
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        }
      },
      "description": "Change to a Field value."
    },
    "FileComment": {
      "description": "A comment on a file.",
      "properties": {
        "legacyCommentId": {
          "type": "string",
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/drive/v3/reference/comments/get"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/drive/v3/reference/comments/get",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FileComment"
    },
    "New": {
      "description": "An object was created from scratch.",
      "type": "object",
      "properties": {},
      "id": "New"
    },
    "NoConsolidation": {
      "properties": {},
      "type": "object",
      "id": "NoConsolidation",
      "description": "A strategy which does no consolidation of individual activities."
    },
    "Actor": {
      "description": "The actor of a Drive activity.",
      "id": "Actor",
      "type": "object",
      "properties": {
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        }
      }
    },
    "RestrictionChange": {
      "description": "Information about restriction policy changes to a feature.",
      "properties": {
        "newRestriction": {
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "description": "The restriction in place after the change."
        },
        "feature": {
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "When restricted, this prevents actions like copy, download, and print that might result in uncontrolled duplicates of items.",
            "When restricted, this prevents use of Drive File Stream."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM"
          ],
          "type": "string",
          "description": "The feature which had a change in restriction policy."
        }
      },
      "id": "RestrictionChange",
      "type": "object"
    },
    "Comment": {
      "type": "object",
      "properties": {
        "suggestion": {
          "$ref": "Suggestion",
          "description": "A change on a suggestion."
        },
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        }
      },
      "id": "Comment",
      "description": "A change about comments on an object."
    },
    "AnonymousUser": {
      "id": "AnonymousUser",
      "type": "object",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "properties": {}
    },
    "DriveReference": {
      "id": "DriveReference",
      "type": "object",
      "description": "A lightweight reference to a shared drive.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      }
    },
    "Copy": {
      "properties": {
        "originalObject": {
          "$ref": "TargetReference",
          "description": "The original object."
        }
      },
      "description": "An object was created by copying an existing object.",
      "id": "Copy",
      "type": "object"
    },
    "Upload": {
      "description": "An object was uploaded into Drive.",
      "type": "object",
      "id": "Upload",
      "properties": {}
    },
    "TeamDrive": {
      "description": "This item is deprecated; please see `Drive` instead.",
      "id": "TeamDrive",
      "properties": {
        "root": {
          "$ref": "DriveItem",
          "description": "This field is deprecated; please see `Drive.root` instead."
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Permission": {
      "description": "The permission setting of an object.",
      "type": "object",
      "properties": {
        "role": {
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "type": "string",
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "anyone": {
          "$ref": "Anyone",
          "description": "If set, this permission applies to anyone, even logged out users."
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        }
      },
      "id": "Permission"
    },
    "Edit": {
      "properties": {},
      "type": "object",
      "id": "Edit",
      "description": "An empty message indicating an object was edited."
    },
    "UnknownUser": {
      "id": "UnknownUser",
      "type": "object",
      "description": "A user about whom nothing is currently known.",
      "properties": {}
    },
    "Target": {
      "type": "object",
      "description": "Information about the target of activity.",
      "id": "Target",
      "properties": {
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDrive"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "driveItem": {
          "$ref": "DriveItem",
          "description": "The target is a Drive item."
        }
      }
    },
    "Create": {
      "description": "An object was created.",
      "type": "object",
      "properties": {
        "new": {
          "$ref": "New",
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object."
        },
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        }
      },
      "id": "Create"
    },
    "SingleUser": {
      "id": "SingleUser",
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      },
      "type": "object",
      "description": "Wrapper for User Field value."
    },
    "Move": {
      "id": "Move",
      "properties": {
        "addedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The added parent object(s)."
        },
        "removedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s)."
        }
      },
      "description": "An object was moved.",
      "type": "object"
    },
    "TextList": {
      "id": "TextList",
      "properties": {
        "values": {
          "description": "Text values.",
          "items": {
            "$ref": "Text"
          },
          "type": "array"
        }
      },
      "description": "Wrapper for Text List Field value.",
      "type": "object"
    }
  },
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "description": "Query past activity in Google Drive.",
          "id": "driveactivity.activity.query",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "httpMethod": "POST",
          "path": "v2/activity:query",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "flatPath": "v2/activity:query"
        }
      }
    }
  }
}
