{
  "batchPath": "batch",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "discoveryVersion": "v1",
  "id": "firestore:v1beta1",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "revision": "20220831",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "resources": {
            "indexes": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard List page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The standard List page size.",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The database name. For example: `projects/{project_id}/databases/{database_id}`"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1ListIndexesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/indexes",
                  "id": "firestore.projects.databases.indexes.list",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "httpMethod": "GET",
                  "description": "Lists the indexes that match the specified filters."
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "The name of the database this index will apply to. For example: `projects/{project_id}/databases/{database_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/indexes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Creates the specified index. A newly created index's initial state is `CREATING`. On completion of the returned google.longrunning.Operation, the state will be `READY`. If the index already exists, the call will return an `ALREADY_EXISTS` status. During creation, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, removing the index with delete, then re-creating the index with create. Indexes with a single field cannot be created.",
                  "id": "firestore.projects.databases.indexes.create"
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "required": true,
                      "description": "The name of the index. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1beta1Index"
                  },
                  "description": "Gets an index.",
                  "id": "firestore.projects.databases.indexes.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "id": "firestore.projects.databases.indexes.delete",
                  "description": "Deletes an index.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/indexes/{indexesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/indexes/[^/]+$",
                      "type": "string",
                      "description": "The index name. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`",
                      "required": true
                    }
                  }
                }
              }
            },
            "documents": {
              "methods": {
                "runQuery": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.runQuery",
                  "path": "v1beta1/{+parent}:runQuery",
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "description": "Runs a query."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.get",
                  "description": "Gets a single document.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Document"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "transaction": {
                      "description": "Reads the document in a transaction.",
                      "format": "byte",
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "location": "query",
                      "description": "Reads the version of the document at the given time. This may not be older than 270 seconds.",
                      "format": "google-datetime",
                      "type": "string"
                    }
                  }
                },
                "listDocuments": {
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{collectionId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "mask.fieldPaths": {
                      "repeated": true,
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query"
                    },
                    "showMissing": {
                      "location": "query",
                      "description": "If the list should show missing documents. A missing document is a document that does not exist but has sub-documents. These documents will be returned with a key but will not have fields, Document.create_time, or Document.update_time set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of documents to return.",
                      "type": "integer"
                    },
                    "readTime": {
                      "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "transaction": {
                      "description": "Reads documents in a transaction.",
                      "location": "query",
                      "type": "string",
                      "format": "byte"
                    },
                    "collectionId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`.",
                      "location": "path"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents$",
                      "location": "path",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "The order to sort results by. For example: `priority desc, name`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "firestore.projects.databases.documents.listDocuments",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "description": "Lists documents."
                },
                "listCollectionIds": {
                  "path": "v1beta1/{+parent}:listCollectionIds",
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Lists all the collection IDs underneath a document.",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  }
                },
                "write": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1beta1/{+database}/documents:write",
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "response": {
                    "$ref": "WriteResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "parameters": {
                    "database": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.write",
                  "description": "Streams batches of document updates and deletes, in order."
                },
                "createDocument": {
                  "response": {
                    "$ref": "Document"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "type": "string",
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`"
                    },
                    "documentId": {
                      "type": "string",
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service.",
                      "location": "query"
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query"
                    },
                    "collectionId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`."
                    }
                  },
                  "id": "firestore.projects.databases.documents.createDocument",
                  "description": "Creates a new document.",
                  "request": {
                    "$ref": "Document"
                  },
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "delete": {
                  "parameters": {
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "currentDocument.updateTime": {
                      "type": "string",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "format": "google-datetime",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Deletes a document.",
                  "path": "v1beta1/{+name}",
                  "id": "firestore.projects.databases.documents.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}"
                },
                "rollback": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "id": "firestore.projects.databases.documents.rollback",
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "path": "v1beta1/{+database}/documents:rollback",
                  "description": "Rolls back a transaction.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:rollback"
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "id": "firestore.projects.databases.documents.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "transaction": {
                      "type": "string",
                      "location": "query",
                      "format": "byte",
                      "description": "Reads documents in a transaction."
                    },
                    "orderBy": {
                      "description": "The order to sort results by. For example: `priority desc, name`.",
                      "location": "query",
                      "type": "string"
                    },
                    "collectionId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`."
                    },
                    "readTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Reads documents as they were at the given time. This may not be older than 270 seconds."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "mask.fieldPaths": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of documents to return.",
                      "location": "query",
                      "format": "int32"
                    },
                    "showMissing": {
                      "location": "query",
                      "description": "If the list should show missing documents. A missing document is a document that does not exist but has sub-documents. These documents will be returned with a key but will not have fields, Document.create_time, or Document.update_time set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "type": "boolean"
                    }
                  },
                  "path": "v1beta1/{+parent}/{collectionId}",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "description": "Lists documents."
                },
                "listen": {
                  "parameters": {
                    "database": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "description": "Listens to changes.",
                  "id": "firestore.projects.databases.documents.listen",
                  "path": "v1beta1/{+database}/documents:listen",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ]
                },
                "beginTransaction": {
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "database": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "path": "v1beta1/{+database}/documents:beginTransaction",
                  "description": "Starts a new transaction."
                },
                "batchGet": {
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested.",
                  "id": "firestore.projects.databases.documents.batchGet",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "path": "v1beta1/{+database}/documents:batchGet",
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  },
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  }
                },
                "commit": {
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "description": "Commits a transaction, while optionally updating documents.",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "id": "firestore.projects.databases.documents.commit",
                  "httpMethod": "POST",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+database}/documents:commit"
                },
                "partitionQuery": {
                  "id": "firestore.projects.databases.documents.partitionQuery",
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "path": "v1beta1/{+parent}:partitionQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "batchWrite": {
                  "response": {
                    "$ref": "BatchWriteResponse"
                  },
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "parameters": {
                    "database": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "path": "v1beta1/{+database}/documents:batchWrite",
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "httpMethod": "POST"
                },
                "patch": {
                  "request": {
                    "$ref": "Document"
                  },
                  "description": "Updates or inserts a document.",
                  "id": "firestore.projects.databases.documents.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Document"
                  },
                  "parameters": {
                    "mask.fieldPaths": {
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true
                    },
                    "currentDocument.exists": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "required": true,
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
                    },
                    "updateMask.fieldPaths": {
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true,
                      "location": "query"
                    },
                    "currentDocument.updateTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "location": "query"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "importDocuments": {
              "path": "v1beta1/{+name}:importDocuments",
              "id": "firestore.projects.databases.importDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest"
              },
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "parameters": {
                "name": {
                  "description": "Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "exportDocuments": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.exportDocuments",
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
              "path": "v1beta1/{+name}:exportDocuments"
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1beta1",
  "ownerDomain": "google.com",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Cloud Firestore API",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/firestore",
  "canonicalName": "Firestore",
  "protocol": "rest",
  "rootUrl": "https://firestore.googleapis.com/",
  "schemas": {
    "CommitResponse": {
      "id": "CommitResponse",
      "description": "The response for Firestore.Commit.",
      "properties": {
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array"
        },
        "commitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1IndexOperationMetadata": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The time that work began on the operation.",
          "format": "google-datetime"
        },
        "index": {
          "type": "string",
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/indexes/{index_id}`"
        },
        "cancelled": {
          "description": "True if the [google.longrunning.Operation] was cancelled. If the cancellation is in progress, cancelled will be true but google.longrunning.Operation.done will be false.",
          "type": "boolean"
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATING_INDEX"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Never set by server.",
            "The operation is creating the index. Initiated by a `CreateIndex` call."
          ],
          "description": "The type of index operation."
        },
        "documentProgress": {
          "description": "Progress of the existing operation, measured in number of documents.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1IndexOperationMetadata",
      "type": "object",
      "description": "Metadata for index operations. This metadata populates the metadata field of google.longrunning.Operation."
    },
    "BeginTransactionRequest": {
      "id": "BeginTransactionRequest",
      "properties": {
        "options": {
          "$ref": "TransactionOptions",
          "description": "The options for the transaction. Defaults to a read-write transaction."
        }
      },
      "type": "object",
      "description": "The request for Firestore.BeginTransaction."
    },
    "WriteResponse": {
      "id": "WriteResponse",
      "description": "The response for Firestore.Write.",
      "type": "object",
      "properties": {
        "writeResults": {
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "items": {
            "$ref": "WriteResult"
          }
        },
        "streamToken": {
          "format": "byte",
          "type": "string",
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set."
        },
        "commitTime": {
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write.",
          "format": "google-datetime"
        },
        "streamId": {
          "description": "The ID of the stream. Only set on the first message, when a new stream was created.",
          "type": "string"
        }
      }
    },
    "CollectionSelector": {
      "properties": {
        "allDescendants": {
          "description": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections.",
          "type": "boolean"
        },
        "collectionId": {
          "type": "string",
          "description": "The collection ID. When set, selects only collections with this ID."
        }
      },
      "description": "A selection of a collection, such as `messages as m1`.",
      "type": "object",
      "id": "CollectionSelector"
    },
    "DocumentDelete": {
      "description": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected.",
      "type": "object",
      "id": "DocumentDelete",
      "properties": {
        "document": {
          "description": "The resource name of the Document that was deleted.",
          "type": "string"
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this entity.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete."
        }
      }
    },
    "FieldTransform": {
      "id": "FieldTransform",
      "description": "A transformation of a field of the document.",
      "properties": {
        "removeAllFromArray": {
          "$ref": "ArrayValue",
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value."
        },
        "appendMissingElements": {
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "minimum": {
          "$ref": "Value",
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN."
        },
        "fieldPath": {
          "type": "string",
          "description": "The path of the field. See Document.fields for the field path syntax reference."
        },
        "setToServerValue": {
          "description": "Sets the field to the given server value.",
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple fields (same or different documents) in a transaction, all the fields will get the same server timestamp."
          ]
        },
        "increment": {
          "$ref": "Value",
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer."
        },
        "maximum": {
          "$ref": "Value",
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN."
        }
      },
      "type": "object"
    },
    "Filter": {
      "type": "object",
      "id": "Filter",
      "properties": {
        "fieldFilter": {
          "description": "A filter on a document field.",
          "$ref": "FieldFilter"
        },
        "unaryFilter": {
          "$ref": "UnaryFilter",
          "description": "A filter that takes exactly one argument."
        },
        "compositeFilter": {
          "$ref": "CompositeFilter",
          "description": "A composite filter."
        }
      },
      "description": "A filter."
    },
    "Cursor": {
      "type": "object",
      "id": "Cursor",
      "description": "A position in a query result set.",
      "properties": {
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        },
        "values": {
          "items": {
            "$ref": "Value"
          },
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause.",
          "type": "array"
        }
      }
    },
    "ListDocumentsResponse": {
      "description": "The response for Firestore.ListDocuments.",
      "id": "ListDocumentsResponse",
      "type": "object",
      "properties": {
        "documents": {
          "items": {
            "$ref": "Document"
          },
          "description": "The Documents found.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsRequest": {
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsRequest",
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time."
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which collection ids to export. Unspecified means all collections."
        }
      },
      "type": "object"
    },
    "DocumentRemove": {
      "type": "object",
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected.",
      "id": "DocumentRemove",
      "properties": {
        "document": {
          "type": "string",
          "description": "The resource name of the Document that has gone out of view."
        },
        "readTime": {
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove.",
          "type": "string",
          "format": "google-datetime"
        },
        "removedTargetIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A set of target IDs for targets that previously matched this document.",
          "type": "array"
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsResponse": {
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsResponse",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully."
        }
      },
      "description": "Returned in the google.longrunning.Operation response field."
    },
    "DocumentTransform": {
      "properties": {
        "document": {
          "type": "string",
          "description": "The name of the document to transform."
        },
        "fieldTransforms": {
          "type": "array",
          "items": {
            "$ref": "FieldTransform"
          },
          "description": "The list of transformations to apply to the fields of the document, in order. This must not be empty."
        }
      },
      "id": "DocumentTransform",
      "type": "object",
      "description": "A transformation of a document."
    },
    "ListenRequest": {
      "type": "object",
      "description": "A request for Firestore.Listen",
      "id": "ListenRequest",
      "properties": {
        "removeTarget": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of a target to remove from this stream."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this target change."
        },
        "addTarget": {
          "description": "A target to add to this stream.",
          "$ref": "Target"
        }
      }
    },
    "RunQueryRequest": {
      "description": "The request for Firestore.RunQuery.",
      "type": "object",
      "id": "RunQueryRequest",
      "properties": {
        "transaction": {
          "format": "byte",
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "type": "string"
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds."
        },
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        }
      }
    },
    "TargetChange": {
      "properties": {
        "targetIds": {
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "resumeToken": {
          "format": "byte",
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "type": "string"
        },
        "cause": {
          "description": "The error that resulted in this change, if applicable.",
          "$ref": "Status"
        },
        "readTime": {
          "type": "string",
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing.",
          "format": "google-datetime"
        },
        "targetChangeType": {
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "type": "string",
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ],
          "description": "The type of change that occurred."
        }
      },
      "description": "Targets being watched have changed.",
      "id": "TargetChange",
      "type": "object"
    },
    "CommitRequest": {
      "id": "CommitRequest",
      "type": "object",
      "properties": {
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "If set, applies all writes in this transaction, and commits it."
        },
        "writes": {
          "type": "array",
          "description": "The writes to apply. Always executed atomically and in order.",
          "items": {
            "$ref": "Write"
          }
        }
      },
      "description": "The request for Firestore.Commit."
    },
    "TransactionOptions": {
      "properties": {
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "$ref": "ReadWrite",
          "description": "The transaction can be used for both read and write operations."
        }
      },
      "description": "Options for creating a new transaction.",
      "id": "TransactionOptions",
      "type": "object"
    },
    "WriteResult": {
      "properties": {
        "transformResults": {
          "items": {
            "$ref": "Value"
          },
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time."
        }
      },
      "id": "WriteResult",
      "type": "object",
      "description": "The result of applying a write."
    },
    "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1beta1ExportDocumentsMetadata",
      "description": "Metadata for ExportDocuments operations.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that work began on the operation."
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "An estimate of the number of documents processed."
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "Where the entities are being exported to."
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which collection ids are being exported."
        },
        "operationState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The state of the export operation."
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active."
        }
      }
    },
    "FieldReference": {
      "id": "FieldReference",
      "type": "object",
      "properties": {
        "fieldPath": {
          "description": "The relative path of the document being referenced. Requires: * Conform to document field name limitations.",
          "type": "string"
        }
      },
      "description": "A reference to a field in a document, ex: `stats.operations`."
    },
    "Document": {
      "id": "Document",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "fields": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The document's fields. The map keys represent field names. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by the simple or quoted field names of the containing fields, delimited by `.`. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `foo.x&y`. Within a field path, a quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "createTime": {
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes."
    },
    "GoogleFirestoreAdminV1beta1Progress": {
      "description": "Measures the progress of a particular metric.",
      "id": "GoogleFirestoreAdminV1beta1Progress",
      "properties": {
        "workCompleted": {
          "format": "int64",
          "description": "An estimate of how much work has been completed. Note that this may be greater than `work_estimated`.",
          "type": "string"
        },
        "workEstimated": {
          "type": "string",
          "description": "An estimate of how much work needs to be performed. Zero if the work estimate is unavailable. May change as work progresses.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata": {
      "type": "object",
      "properties": {
        "inputUriPrefix": {
          "type": "string",
          "description": "The location of the documents being imported."
        },
        "endTime": {
          "type": "string",
          "description": "The time the operation ended, either successfully or otherwise. Unset if the operation is still active.",
          "format": "google-datetime"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleFirestoreAdminV1beta1Progress"
        },
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids are being imported."
        },
        "operationState": {
          "description": "The state of the import operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1beta1Progress",
          "description": "An estimate of the number of documents processed."
        },
        "startTime": {
          "description": "The time that work began on the operation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsMetadata",
      "description": "Metadata for ImportDocuments operations."
    },
    "BatchWriteResponse": {
      "type": "object",
      "id": "BatchWriteResponse",
      "description": "The response from Firestore.BatchWrite.",
      "properties": {
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array"
        },
        "status": {
          "items": {
            "$ref": "Status"
          },
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request.",
          "type": "array"
        }
      }
    },
    "Projection": {
      "id": "Projection",
      "description": "The projection of document's fields to return.",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`.",
          "items": {
            "$ref": "FieldReference"
          }
        }
      }
    },
    "Value": {
      "description": "A message that can hold any of the supported value types.",
      "properties": {
        "doubleValue": {
          "description": "A double value.",
          "format": "double",
          "type": "number"
        },
        "stringValue": {
          "description": "A string value. The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes of the UTF-8 representation are considered by queries.",
          "type": "string"
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer value."
        },
        "bytesValue": {
          "description": "A bytes value. Must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes are considered by queries.",
          "type": "string",
          "format": "byte"
        },
        "nullValue": {
          "description": "A null value.",
          "enumDescriptions": [
            "Null value."
          ],
          "type": "string",
          "enum": [
            "NULL_VALUE"
          ]
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string",
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down."
        },
        "geoPointValue": {
          "$ref": "LatLng",
          "description": "A geo point value representing a point on the surface of Earth."
        },
        "referenceValue": {
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "arrayValue": {
          "$ref": "ArrayValue",
          "description": "An array value. Cannot directly contain another array value, though can contain an map which contains another array."
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        }
      },
      "type": "object",
      "id": "Value"
    },
    "ListCollectionIdsResponse": {
      "properties": {
        "collectionIds": {
          "description": "The collection ids.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to continue the list."
        }
      },
      "description": "The response from Firestore.ListCollectionIds.",
      "id": "ListCollectionIdsResponse",
      "type": "object"
    },
    "BatchWriteRequest": {
      "properties": {
        "labels": {
          "description": "Labels associated with this batch write.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "writes": {
          "type": "array",
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request.",
          "items": {
            "$ref": "Write"
          }
        }
      },
      "type": "object",
      "id": "BatchWriteRequest",
      "description": "The request for Firestore.BatchWrite."
    },
    "RunQueryResponse": {
      "type": "object",
      "properties": {
        "skippedResults": {
          "type": "integer",
          "description": "The number of results that have been skipped due to an offset between the last response and the current response.",
          "format": "int32"
        },
        "document": {
          "description": "A query result, not set when reporting partial progress.",
          "$ref": "Document"
        },
        "transaction": {
          "format": "byte",
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If present, Firestore has completely finished the request and no more documents will be returned."
        },
        "readTime": {
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The response for Firestore.RunQuery.",
      "id": "RunQueryResponse"
    },
    "LatLng": {
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      },
      "id": "LatLng"
    },
    "PartitionQueryResponse": {
      "type": "object",
      "description": "The response for Firestore.PartitionQuery.",
      "properties": {
        "nextPageToken": {
          "description": "A page token that may be used to request an additional set of results, up to the number specified by `partition_count` in the PartitionQuery request. If blank, there are no more results.",
          "type": "string"
        },
        "partitions": {
          "items": {
            "$ref": "Cursor"
          },
          "type": "array",
          "description": "Partition results. Each partition is a split point that can be used by RunQuery as a starting or end point for the query results. The RunQuery requests must be made with the same query supplied to this PartitionQuery request. The partition cursors will be ordered according to same ordering as the results of the query supplied to PartitionQuery. For example, if a PartitionQuery request returns partition cursors A and B, running the following three queries will return the entire result set of the original query: * query, end_at A * query, start_at A, end_at B * query, start_at B An empty result may indicate that the query has too few results to be partitioned."
        }
      },
      "id": "PartitionQueryResponse"
    },
    "Target": {
      "type": "object",
      "id": "Target",
      "description": "A specification of a set of documents to listen to.",
      "properties": {
        "query": {
          "$ref": "QueryTarget",
          "description": "A target specified by a query."
        },
        "documents": {
          "$ref": "DocumentsTarget",
          "description": "A target specified by a set of document names."
        },
        "readTime": {
          "description": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetId": {
          "type": "integer",
          "format": "int32",
          "description": "The target ID that identifies the target on the stream. Must be a positive number and non-zero."
        },
        "once": {
          "description": "If the target should be removed once it is current and consistent.",
          "type": "boolean"
        },
        "resumeToken": {
          "type": "string",
          "format": "byte",
          "description": "A resume token from a prior TargetChange for an identical target. Using a resume token with a different target is unsupported and may fail."
        }
      }
    },
    "StructuredQuery": {
      "type": "object",
      "description": "A Firestore query.",
      "properties": {
        "endAt": {
          "description": "A potential prefix of a position in the result set to end the query at. This is similar to `START_AT` but with it controlling the end position rather than the start position. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        },
        "from": {
          "items": {
            "$ref": "CollectionSelector"
          },
          "description": "The collections to query.",
          "type": "array"
        },
        "where": {
          "description": "The filter to apply.",
          "$ref": "Filter"
        },
        "offset": {
          "type": "integer",
          "description": "The number of documents to skip before returning the first result. This applies after the constraints specified by the `WHERE`, `START AT`, & `END AT` but before the `LIMIT` clause. Requires: * The value must be greater than or equal to zero if specified.",
          "format": "int32"
        },
        "select": {
          "$ref": "Projection",
          "description": "The projection to return."
        },
        "limit": {
          "format": "int32",
          "description": "The maximum number of results to return. Applies after all other constraints. Requires: * The value must be greater than or equal to zero if specified.",
          "type": "integer"
        },
        "startAt": {
          "description": "A potential prefix of a position in the result set to start the query at. The ordering of the result set is based on the `ORDER BY` clause of the original query. ``` SELECT * FROM k WHERE a = 1 AND b \u003e 2 ORDER BY b ASC, __name__ ASC; ``` This query's results are ordered by `(b ASC, __name__ ASC)`. Cursors can reference either the full ordering or a prefix of the location, though it cannot reference more fields than what are in the provided `ORDER BY`. Continuing off the example above, attaching the following start cursors will have varying impact: - `START BEFORE (2, /k/123)`: start the query right before `a = 1 AND b \u003e 2 AND __name__ \u003e /k/123`. - `START AFTER (10)`: start the query right after `a = 1 AND b \u003e 10`. Unlike `OFFSET` which requires scanning over the first N results to skip, a start cursor allows the query to begin at a logical position. This position is not required to match an actual result, it will scan forward from this position to find the next document. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        },
        "orderBy": {
          "type": "array",
          "description": "The order to apply to the query results. Firestore allows callers to provide a full ordering, a partial ordering, or no ordering at all. In all cases, Firestore guarantees a stable ordering through the following rules: * The `order_by` is required to reference all fields used with an inequality filter. * All fields that are required to be in the `order_by` but are not already present are appended in lexicographical ordering of the field name. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `ORDER BY a` becomes `ORDER BY a ASC, __name__ ASC` * `ORDER BY a DESC` becomes `ORDER BY a DESC, __name__ DESC` * `WHERE a \u003e 1` becomes `WHERE a \u003e 1 ORDER BY a ASC, __name__ ASC` * `WHERE __name__ \u003e ... AND a \u003e 1` becomes `WHERE __name__ \u003e ... AND a \u003e 1 ORDER BY a ASC, __name__ ASC`",
          "items": {
            "$ref": "Order"
          }
        }
      },
      "id": "StructuredQuery"
    },
    "GoogleFirestoreAdminV1UpdateDatabaseMetadata": {
      "type": "object",
      "properties": {},
      "id": "GoogleFirestoreAdminV1UpdateDatabaseMetadata",
      "description": "Metadata related to the update database operation."
    },
    "DocumentsTarget": {
      "description": "A target specified by a set of documents names.",
      "id": "DocumentsTarget",
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleFirestoreAdminV1beta1ListIndexesResponse": {
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "properties": {
        "indexes": {
          "description": "The indexes.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1Index"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "GoogleFirestoreAdminV1beta1ListIndexesResponse",
      "type": "object"
    },
    "Precondition": {
      "type": "object",
      "description": "A precondition on a document, used for conditional operations.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned."
        },
        "exists": {
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
          "type": "boolean"
        }
      },
      "id": "Precondition"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListenResponse": {
      "type": "object",
      "id": "ListenResponse",
      "properties": {
        "documentRemove": {
          "$ref": "DocumentRemove",
          "description": "A Document has been removed from a target (because it is no longer relevant to that target)."
        },
        "documentDelete": {
          "$ref": "DocumentDelete",
          "description": "A Document has been deleted."
        },
        "targetChange": {
          "description": "Targets have changed.",
          "$ref": "TargetChange"
        },
        "filter": {
          "$ref": "ExistenceFilter",
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown."
        },
        "documentChange": {
          "description": "A Document has changed.",
          "$ref": "DocumentChange"
        }
      },
      "description": "The response for Firestore.Listen."
    },
    "BatchGetDocumentsResponse": {
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "readTime": {
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one.",
          "format": "google-datetime",
          "type": "string"
        },
        "found": {
          "description": "A document that was requested.",
          "$ref": "Document"
        },
        "missing": {
          "description": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "transaction": {
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExistenceFilter": {
      "type": "object",
      "properties": {
        "targetId": {
          "format": "int32",
          "type": "integer",
          "description": "The target ID to which this filter applies."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target."
        }
      },
      "id": "ExistenceFilter",
      "description": "A digest of all the documents that match a given target."
    },
    "Write": {
      "properties": {
        "updateMask": {
          "$ref": "DocumentMask",
          "description": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name."
        },
        "update": {
          "description": "A document to write.",
          "$ref": "Document"
        },
        "currentDocument": {
          "$ref": "Precondition",
          "description": "An optional precondition on the document. The write will fail if this is set and not met by the target document."
        },
        "transform": {
          "$ref": "DocumentTransform",
          "description": "Applies a transformation to a document."
        },
        "delete": {
          "description": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "updateTransforms": {
          "description": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order.",
          "items": {
            "$ref": "FieldTransform"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A write on a document.",
      "id": "Write"
    },
    "GoogleFirestoreAdminV1beta1Index": {
      "description": "An index definition.",
      "properties": {
        "name": {
          "description": "The resource name of the index. Output only.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "ERROR"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist."
          ],
          "type": "string",
          "description": "The state of the index. Output only."
        },
        "fields": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1beta1IndexField"
          },
          "description": "The fields to index.",
          "type": "array"
        },
        "collectionId": {
          "type": "string",
          "description": "The collection ID to which this index applies. Required."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1Index"
    },
    "GoogleFirestoreAdminV1beta1ImportDocumentsRequest": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1beta1ImportDocumentsRequest",
      "properties": {
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1beta1.ExportDocumentsResponse.output_uri_prefix."
        },
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection ids to import. Unspecified means all collections included in the import."
        }
      },
      "description": "The request for FirestoreAdmin.ImportDocuments."
    },
    "BatchGetDocumentsRequest": {
      "id": "BatchGetDocumentsRequest",
      "type": "object",
      "description": "The request for Firestore.BatchGetDocuments.",
      "properties": {
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
        },
        "readTime": {
          "description": "Reads documents as they were at the given time. This may not be older than 270 seconds.",
          "format": "google-datetime",
          "type": "string"
        },
        "mask": {
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response.",
          "$ref": "DocumentMask"
        },
        "transaction": {
          "description": "Reads documents in a transaction.",
          "type": "string",
[...]
