{
  "canonicalName": "Firebasestorage",
  "title": "Cloud Storage for Firebase API",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "id": "firebasestorage:v1beta",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "name": "firebasestorage",
  "servicePath": "",
  "schemas": {
    "ListBucketsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "Bucket"
          },
          "description": "The list of linked buckets."
        }
      },
      "type": "object",
      "description": "The response returned by `ListBuckets`.",
      "id": "ListBucketsResponse"
    },
    "GoogleFirebaseStorageControlplaneV1alphaMigrateLocationDestructivelyMetadata": {
      "properties": {
        "lastUpdateTime": {
          "format": "google-datetime",
          "description": "The time the LRO was last updated.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state. Should not be used.",
            "The MigrateLocationDestructively request has passed precondition checks and the bucket migration will begin soon.",
            "Generating a unique bucket name, storing the source -\u003e temp mapping in Spanner, and actually creating the temporary bucket via Bigstore.",
            "The first STS transfer to move all objects from the source bucket to the temp bucket is underway.",
            "The source bucket is being emptied and deleted.",
            "The source bucket is being recreated in the new location.",
            "The second STS transfer to move all objects from the temp bucket to the final bucket is underway.",
            "The temp bucket is being emptied and deleted.",
            "All stages of the migration have completed and the operation has been marked done and updated with a response.",
            "The migration failed at some stage and it is not possible to continue retrying that stage. Manual recovery may be needed. Rollback is either impossible at this stage, or has been attempted and failed.",
            "The migration has encountered a permanent failure and is now being rolled back so that the source bucket is restored to its original state.",
            "The migration has been successfully rolled back."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "CREATING_TEMP_BUCKET",
            "TRANSFERRING_TO_TEMP",
            "DELETING_SOURCE_BUCKET",
            "CREATING_DESTINATION_BUCKET",
            "TRANSFERRING_TO_DESTINATION",
            "DELETING_TEMP_BUCKET",
            "SUCCEEDED",
            "FAILED",
            "ROLLING_BACK",
            "ROLLED_BACK"
          ],
          "description": "The current state of the migration."
        },
        "createTime": {
          "description": "The time the LRO was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for MigrateLocationDestructively LRO.",
      "id": "GoogleFirebaseStorageControlplaneV1alphaMigrateLocationDestructivelyMetadata"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleFirebaseStorageControlplaneV1betaMigrateLocationDestructivelyMetadata": {
      "description": "Metadata for MigrateLocationDestructively LRO.",
      "properties": {
        "state": {
          "description": "The current state of the migration.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "CREATING_TEMP_BUCKET",
            "TRANSFERRING_TO_TEMP",
            "DELETING_SOURCE_BUCKET",
            "CREATING_DESTINATION_BUCKET",
            "TRANSFERRING_TO_DESTINATION",
            "DELETING_TEMP_BUCKET",
            "SUCCEEDED",
            "FAILED",
            "ROLLING_BACK",
            "ROLLED_BACK"
          ],
          "enumDescriptions": [
            "Unspecified state. Should not be used.",
            "The MigrateLocationDestructively request has passed precondition checks and the bucket migration will begin soon.",
            "Generating a unique bucket name, storing the source -\u003e temp mapping in Spanner, and actually creating the temporary bucket via Bigstore.",
            "The first STS transfer to move all objects from the source bucket to the temp bucket is underway.",
            "The source bucket is being emptied and deleted.",
            "The source bucket is being recreated in the new location.",
            "The second STS transfer to move all objects from the temp bucket to the final bucket is underway.",
            "The temp bucket is being emptied and deleted.",
            "All stages of the migration have completed and the operation has been marked done and updated with a response.",
            "The migration failed at some stage and it is not possible to continue retrying that stage. Manual recovery may be needed. Rollback is either impossible at this stage, or has been attempted and failed.",
            "The migration has encountered a permanent failure and is now being rolled back so that the source bucket is restored to its original state.",
            "The migration has been successfully rolled back."
          ],
          "type": "string"
        },
        "createTime": {
          "description": "The time the LRO was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastUpdateTime": {
          "type": "string",
          "description": "The time the LRO was last updated.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirebaseStorageControlplaneV1betaMigrateLocationDestructivelyMetadata",
      "type": "object"
    },
    "RemoveFirebaseRequest": {
      "description": "The request used to unlink a Google Cloud Storage bucket from a Firebase project.",
      "type": "object",
      "id": "RemoveFirebaseRequest",
      "properties": {}
    },
    "AddFirebaseRequest": {
      "properties": {},
      "description": "The request used to link a Google Cloud Storage bucket to a Firebase project.",
      "id": "AddFirebaseRequest",
      "type": "object"
    },
    "Bucket": {
      "type": "object",
      "properties": {
        "location": {
          "readOnly": true,
          "description": "Output only. Location of the storage bucket.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the bucket."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Represents whether a bucket is being moved to a new location, in which case reconciling is set to true."
        }
      },
      "description": "A storage bucket and its relation to a parent Firebase project.",
      "id": "Bucket"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "buckets": {
          "methods": {
            "removeFirebase": {
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}:removeFirebase",
              "parameters": {
                "bucket": {
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_number}/buckets/{bucket_id}`.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "bucket"
              ],
              "description": "Unlinks a linked Google Cloud Storage bucket from a Firebase project.",
              "path": "v1beta/{+bucket}:removeFirebase",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasestorage.projects.buckets.removeFirebase",
              "request": {
                "$ref": "RemoveFirebaseRequest"
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasestorage.projects.buckets.list",
              "flatPath": "v1beta/projects/{projectsId}/buckets",
              "response": {
                "$ref": "ListBucketsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListBuckets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBuckets` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of buckets to return. If not set, the server will use a reasonable default."
                },
                "parent": {
                  "required": true,
                  "description": "Required. Resource name of the parent Firebase project, `projects/{project_number}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Lists the linked storage buckets for a project.",
              "path": "v1beta/{+parent}/buckets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "path": "v1beta/{+name}",
              "id": "firebasestorage.projects.buckets.get",
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}",
              "description": "Gets a single linked storage bucket.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Bucket"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_number}/buckets/{bucket_id}`.",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "addFirebase": {
              "parameterOrder": [
                "bucket"
              ],
              "id": "firebasestorage.projects.buckets.addFirebase",
              "description": "Links a Google Cloud Storage bucket to a Firebase project.",
              "path": "v1beta/{+bucket}:addFirebase",
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}:addFirebase",
              "httpMethod": "POST",
              "parameters": {
                "bucket": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_number}/buckets/{bucket_id}`.",
                  "pattern": "^projects/[^/]+/buckets/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Bucket"
              },
              "request": {
                "$ref": "AddFirebaseRequest"
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1beta",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://firebase.google.com/docs/storage",
  "baseUrl": "https://firebasestorage.googleapis.com/",
  "mtlsRootUrl": "https://firebasestorage.mtls.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "description": "The Cloud Storage for Firebase API enables programmatic management of Cloud Storage buckets for use in Firebase projects",
  "revision": "20220318",
  "rootUrl": "https://firebasestorage.googleapis.com/",
  "basePath": "",
  "batchPath": "batch"
}
