{
  "batchPath": "batch",
  "documentationLink": "https://firebase.google.com",
  "mtlsRootUrl": "https://firebaseml.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "firebaseml:v2beta",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "publishers": {
              "resources": {
                "models": {
                  "methods": {
                    "countTokens": {
                      "id": "firebaseml.projects.locations.publishers.models.countTokens",
                      "path": "v2beta/{+endpoint}:countTokens",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:countTokens",
                      "httpMethod": "POST",
                      "parameters": {
                        "endpoint": {
                          "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "endpoint"
                      ],
                      "request": {
                        "$ref": "CountTokensRequest"
                      },
                      "response": {
                        "$ref": "CountTokensResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Perform a token counting."
                    },
                    "generateContent": {
                      "id": "firebaseml.projects.locations.publishers.models.generateContent",
                      "path": "v2beta/{+model}:generateContent",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:generateContent",
                      "httpMethod": "POST",
                      "parameters": {
                        "model": {
                          "description": "Required. The name of the publisher model requested to serve the prediction. Format: `projects/{project}/locations/{location}/publishers/*/models/*`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "model"
                      ],
                      "request": {
                        "$ref": "GenerateContentRequest"
                      },
                      "response": {
                        "$ref": "GenerateContentResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Generate content with multimodal inputs."
                    },
                    "streamGenerateContent": {
                      "id": "firebaseml.projects.locations.publishers.models.streamGenerateContent",
                      "path": "v2beta/{+model}:streamGenerateContent",
                      "flatPath": "v2beta/projects/{projectsId}/locations/{locationsId}/publishers/{publishersId}/models/{modelsId}:streamGenerateContent",
                      "httpMethod": "POST",
                      "parameters": {
                        "model": {
                          "description": "Required. The name of the publisher model requested to serve the prediction. Format: `projects/{project}/locations/{location}/publishers/*/models/*`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/publishers/[^/]+/models/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "model"
                      ],
                      "request": {
                        "$ref": "GenerateContentRequest"
                      },
                      "response": {
                        "$ref": "GenerateContentResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Generate content with multimodal inputs with streaming support."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "revision": "20240405",
  "ownerName": "Google",
  "version": "v2beta",
  "title": "Firebase ML API",
  "description": "Access custom machine learning models hosted via Firebase ML.",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "CountTokensRequest": {
      "id": "CountTokensRequest",
      "description": "Request message for PredictionService.CountTokens.",
      "type": "object",
      "properties": {
        "model": {
          "description": "Required. The name of the publisher model requested to serve the prediction. Format: `projects/{project}/locations/{location}/publishers/*/models/*`",
          "type": "string"
        },
        "instances": {
          "description": "Required. The instances that are the input to token counting call. Schema is identical to the prediction schema of the underlying model.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "contents": {
          "description": "Required. Input content.",
          "type": "array",
          "items": {
            "$ref": "Content"
          }
        }
      }
    },
    "Content": {
      "id": "Content",
      "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset.",
          "type": "string"
        },
        "parts": {
          "description": "Required. Ordered `Parts` that constitute a single message. Parts may have different IANA MIME types.",
          "type": "array",
          "items": {
            "$ref": "Part"
          }
        }
      }
    },
    "Part": {
      "id": "Part",
      "description": "A datatype containing media that is part of a multi-part `Content` message. A `Part` consists of data which has an associated datatype. A `Part` can only contain one of the accepted types in `Part.data`. A `Part` must have a fixed IANA MIME type identifying the type and subtype of the media if `inline_data` or `file_data` field is filled with raw bytes.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. Text part (can be code).",
          "type": "string"
        },
        "inlineData": {
          "description": "Optional. Inlined bytes data.",
          "$ref": "Blob"
        },
        "fileData": {
          "description": "Optional. URI based data.",
          "$ref": "FileData"
        },
        "functionCall": {
          "description": "Optional. A predicted [FunctionCall] returned from the model that contains a string representing the [FunctionDeclaration.name] with the parameters and their values.",
          "$ref": "FunctionCall"
        },
        "functionResponse": {
          "description": "Optional. The result output of a [FunctionCall] that contains a string representing the [FunctionDeclaration.name] and a structured JSON object containing any output from the function call. It is used as context to the model.",
          "$ref": "FunctionResponse"
        },
        "videoMetadata": {
          "description": "Optional. Video metadata. The metadata should only be specified while the video data is presented in inline_data or file_data.",
          "$ref": "VideoMetadata"
        }
      }
    },
    "Blob": {
      "id": "Blob",
      "description": "Content blob. It's preferred to send as text directly rather than raw bytes.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "FileData": {
      "id": "FileData",
      "description": "URI based data.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "fileUri": {
          "description": "Required. URI.",
          "type": "string"
        }
      }
    },
    "FunctionCall": {
      "id": "FunctionCall",
      "description": "A predicted [FunctionCall] returned from the model that contains a string representing the [FunctionDeclaration.name] and a structured JSON object containing the parameters and their values.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the function to call. Matches [FunctionDeclaration.name].",
          "type": "string"
        },
        "args": {
          "description": "Optional. Required. The function parameters and values in JSON object format. See [FunctionDeclaration.parameters] for parameter details.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "FunctionResponse": {
      "id": "FunctionResponse",
      "description": "The result output from a [FunctionCall] that contains a string representing the [FunctionDeclaration.name] and a structured JSON object containing any output from the function is used as context to the model. This should contain the result of a [FunctionCall] made based on model prediction.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the function to call. Matches [FunctionDeclaration.name] and [FunctionCall.name].",
          "type": "string"
        },
        "response": {
          "description": "Required. The function response in JSON object format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "VideoMetadata": {
      "id": "VideoMetadata",
      "description": "Metadata describes the input video content.",
      "type": "object",
      "properties": {
        "startOffset": {
          "description": "Optional. The start offset of the video.",
          "type": "string",
          "format": "google-duration"
        },
        "endOffset": {
          "description": "Optional. The end offset of the video.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "CountTokensResponse": {
      "id": "CountTokensResponse",
      "description": "Response message for PredictionService.CountTokens.",
      "type": "object",
      "properties": {
        "totalTokens": {
          "description": "The total number of tokens counted across all instances from the request.",
          "type": "integer",
          "format": "int32"
        },
        "totalBillableCharacters": {
          "description": "The total number of billable characters counted across all instances from the request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GenerateContentRequest": {
      "id": "GenerateContentRequest",
      "description": "Request message for [PredictionService.GenerateContent].",
      "type": "object",
      "properties": {
        "contents": {
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries, this is a repeated field that contains conversation history + latest request.",
          "type": "array",
          "items": {
            "$ref": "Content"
          }
        },
        "systemInstruction": {
          "description": "Optional. The user provided system instructions for the model. Note: only text should be used in parts and content in each part will be in a separate paragraph.",
          "$ref": "Content"
        },
        "tools": {
          "description": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model.",
          "type": "array",
          "items": {
            "$ref": "Tool"
          }
        },
        "toolConfig": {
          "description": "Optional. Tool config. This config is shared for all tools provided in the request.",
          "$ref": "ToolConfig"
        },
        "safetySettings": {
          "description": "Optional. Per request settings for blocking unsafe content. Enforced on GenerateContentResponse.candidates.",
          "type": "array",
          "items": {
            "$ref": "SafetySetting"
          }
        },
        "generationConfig": {
          "description": "Optional. Generation config.",
          "$ref": "GenerationConfig"
        }
      }
    },
    "Tool": {
      "id": "Tool",
      "description": "Tool details that the model may use to generate response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model. A Tool object should contain exactly one type of Tool (e.g FunctionDeclaration, Retrieval or GoogleSearchRetrieval).",
      "type": "object",
      "properties": {
        "functionDeclarations": {
          "description": "Optional. Function tool type. One or more function declarations to be passed to the model along with the current user query. Model may decide to call a subset of these functions by populating FunctionCall in the response. User should provide a FunctionResponse for each function call in the next turn. Based on the function responses, Model will generate the final response back to the user. Maximum 64 function declarations can be provided.",
          "type": "array",
          "items": {
            "$ref": "FunctionDeclaration"
          }
        },
        "retrieval": {
          "description": "Optional. Retrieval tool type. System will always execute the provided retrieval tool(s) to get external knowledge to answer the prompt. Retrieval results are presented to the model for generation.",
          "$ref": "Retrieval"
        }
      }
    },
    "FunctionDeclaration": {
      "id": "FunctionDeclaration",
      "description": "Structured representation of a function declaration as defined by the [OpenAPI 3.0 specification](https://spec.openapis.org/oas/v3.0.3). Included in this declaration are the function name and parameters. This FunctionDeclaration is a representation of a block of code that can be used as a `Tool` by the model and executed by the client.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the function to call. Must start with a letter or an underscore. Must be a-z, A-Z, 0-9, or contain underscores, dots and dashes, with a maximum length of 64.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description and purpose of the function. Model uses it to decide how and whether to call the function.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. Describes the parameters to this function in JSON Schema Object format. Reflects the Open API 3.03 Parameter Object. string Key: the name of the parameter. Parameter names are case sensitive. Schema Value: the Schema defining the type used for the parameter. For function with no parameters, this can be left unset. Parameter names must start with a letter or an underscore and must only contain chars a-z, A-Z, 0-9, or underscores with a maximum length of 64. Example with 1 required and 1 optional parameter: type: OBJECT properties: param1: type: STRING param2: type: INTEGER required: - param1",
          "$ref": "Schema"
        },
        "response": {
          "description": "Optional. Describes the output from this function in JSON Schema format. Reflects the Open API 3.03 Response Object. The Schema defines the type used for the response value of the function.",
          "$ref": "Schema"
        }
      }
    },
    "Schema": {
      "id": "Schema",
      "description": "Schema is used to define the format of input/output data. Represents a select subset of an [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema). More fields may be added in the future as needed.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. The type of the data.",
          "type": "string",
          "enumDescriptions": [
            "Not specified, should not be used.",
            "OpenAPI string type",
            "OpenAPI number type",
            "OpenAPI integer type",
            "OpenAPI boolean type",
            "OpenAPI array type",
            "OpenAPI object type"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "ARRAY",
            "OBJECT"
          ]
        },
        "format": {
          "description": "Optional. The format of the data. Supported formats: for NUMBER type: \"float\", \"double\" for INTEGER type: \"int32\", \"int64\" for STRING type: \"email\", \"byte\", etc",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the Schema.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the data.",
          "type": "string"
        },
        "nullable": {
          "description": "Optional. Indicates if the value may be null.",
          "type": "boolean"
        },
        "default": {
          "description": "Optional. Default value of the data.",
          "type": "any"
        },
        "items": {
          "description": "Optional. SCHEMA FIELDS FOR TYPE ARRAY Schema of the elements of Type.ARRAY.",
          "$ref": "Schema"
        },
        "minItems": {
          "description": "Optional. Minimum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "maxItems": {
          "description": "Optional. Maximum number of the elements for Type.ARRAY.",
          "type": "string",
          "format": "int64"
        },
        "enum": {
          "description": "Optional. Possible values of the element of Type.STRING with enum format. For example we can define an Enum Direction as : {type:STRING, format:enum, enum:[\"EAST\", NORTH\", \"SOUTH\", \"WEST\"]}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. SCHEMA FIELDS FOR TYPE OBJECT Properties of Type.OBJECT.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Schema"
          }
        },
        "required": {
          "description": "Optional. Required properties of Type.OBJECT.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minProperties": {
          "description": "Optional. Minimum number of the properties for Type.OBJECT.",
          "type": "string",
          "format": "int64"
        },
        "maxProperties": {
          "description": "Optional. Maximum number of the properties for Type.OBJECT.",
          "type": "string",
          "format": "int64"
        },
        "minimum": {
          "description": "Optional. SCHEMA FIELDS FOR TYPE INTEGER and NUMBER Minimum value of the Type.INTEGER and Type.NUMBER",
          "type": "number",
          "format": "double"
        },
        "maximum": {
          "description": "Optional. Maximum value of the Type.INTEGER and Type.NUMBER",
          "type": "number",
          "format": "double"
        },
        "minLength": {
          "description": "Optional. SCHEMA FIELDS FOR TYPE STRING Minimum length of the Type.STRING",
          "type": "string",
          "format": "int64"
        },
        "maxLength": {
          "description": "Optional. Maximum length of the Type.STRING",
          "type": "string",
          "format": "int64"
        },
        "pattern": {
          "description": "Optional. Pattern of the Type.STRING to restrict a string to a regular expression.",
          "type": "string"
        },
        "example": {
          "description": "Optional. Example of the object. Will only populated when the object is the root.",
          "type": "any"
        }
      }
    },
    "Retrieval": {
      "id": "Retrieval",
      "description": "Defines a retrieval tool that model can call to access external knowledge.",
      "type": "object",
      "properties": {
        "vertexAiSearch": {
          "description": "Set to use data source powered by Vertex AI Search.",
          "$ref": "VertexAISearch"
        },
        "vertexRagStore": {
          "description": "Set to use data source powered by Vertex RAG store. User data is uploaded via the VertexRagDataService.",
          "$ref": "VertexRagStore"
        },
        "disableAttribution": {
          "description": "Optional. Disable using the result from this tool in detecting grounding attribution. This does not affect how the result is given to the model for generation.",
          "type": "boolean"
        }
      }
    },
    "VertexAISearch": {
      "id": "VertexAISearch",
      "description": "Retrieve from Vertex AI Search datastore for grounding. See https://cloud.google.com/vertex-ai-search-and-conversation",
      "type": "object",
      "properties": {
        "datastore": {
          "description": "Required. Fully-qualified Vertex AI Search's datastore resource ID. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`",
          "type": "string"
        }
      }
    },
    "VertexRagStore": {
      "id": "VertexRagStore",
      "description": "Retrieve from Vertex RAG Store for grounding.",
      "type": "object",
      "properties": {
        "ragCorpora": {
          "description": "Required. Vertex RAG Store corpus resource name: `projects/{project}/locations/{location}/ragCorpora/{ragCorpus}` Currently only one corpus is allowed. In the future we may open up multiple corpora support. However, they should be from the same project and location.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "similarityTopK": {
          "description": "Optional. Number of top k results to return from the selected corpora.",
          "type": "integer",
          "format": "int32"
        },
        "vectorDistanceThreshold": {
          "description": "Optional. Only return results with vector distance smaller than the threshold.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ToolConfig": {
      "id": "ToolConfig",
      "description": "Tool config. This config is shared for all tools provided in the request.",
      "type": "object",
      "properties": {
        "functionCallingConfig": {
          "description": "Optional. Function calling config.",
          "$ref": "FunctionCallingConfig"
        }
      }
    },
    "FunctionCallingConfig": {
      "id": "FunctionCallingConfig",
      "description": "Function calling config.",
      "type": "object",
      "properties": {
        "mode": {
          "description": "Optional. Function calling mode.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either a function call or a natural language repspose.",
            "Model is constrained to always predicting a function call only. If \"allowed_function_names\" are set, the predicted function call will be limited to any one of \"allowed_function_names\", else the predicted function call will be any one of the provided \"function_declarations\".",
            "Model will not predict any function call. Model behavior is same as when not passing any function declarations."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE"
          ]
        },
        "allowedFunctionNames": {
          "description": "Optional. Function names to call. Only set when the Mode is ANY. Function names should match [FunctionDeclaration.name]. With mode set to ANY, model will predict a function call from the set of function names provided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SafetySetting": {
      "id": "SafetySetting",
      "description": "Safety settings.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Required. Harm category.",
          "type": "string",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content."
          ],
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          ]
        },
        "threshold": {
          "description": "Required. The harm block threshold.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified harm block threshold.",
            "Block low threshold and above (i.e. block more).",
            "Block medium threshold and above.",
            "Block only high threshold (i.e. block less).",
            "Block none."
          ],
          "enum": [
            "HARM_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_ONLY_HIGH",
            "BLOCK_NONE"
          ]
        },
        "method": {
          "description": "Optional. Specify if the threshold is used for probability or severity score. If not specified, the threshold is used for probability score.",
          "type": "string",
          "enumDescriptions": [
            "The harm block method is unspecified.",
            "The harm block method uses both probability and severity scores.",
            "The harm block method uses the probability score."
          ],
          "enum": [
            "HARM_BLOCK_METHOD_UNSPECIFIED",
            "SEVERITY",
            "PROBABILITY"
          ]
        }
      }
    },
    "GenerationConfig": {
      "id": "GenerationConfig",
      "description": "Generation config.",
      "type": "object",
      "properties": {
        "temperature": {
          "description": "Optional. Controls the randomness of predictions.",
          "type": "number",
          "format": "float"
        },
        "topP": {
          "description": "Optional. If specified, nucleus sampling will be used.",
          "type": "number",
          "format": "float"
        },
        "topK": {
          "description": "Optional. If specified, top-k sampling will be used.",
          "type": "number",
          "format": "float"
        },
        "candidateCount": {
          "description": "Optional. Number of candidates to generate.",
          "type": "integer",
          "format": "int32"
        },
        "maxOutputTokens": {
          "description": "Optional. The maximum number of output tokens to generate per message.",
          "type": "integer",
          "format": "int32"
        },
        "stopSequences": {
          "description": "Optional. Stop sequences.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "presencePenalty": {
          "description": "Optional. Positive penalties.",
          "type": "number",
          "format": "float"
        },
        "frequencyPenalty": {
          "description": "Optional. Frequency penalties.",
          "type": "number",
          "format": "float"
        },
        "responseMimeType": {
          "description": "Optional. Output response mimetype of the generated candidate text. Supported mimetype: - `text/plain`: (default) Text output. - `application/json`: JSON response in the candidates. The model needs to be prompted to output the appropriate response type, otherwise the behavior is undefined. This is a preview feature.",
          "type": "string"
        }
      }
    },
    "GenerateContentResponse": {
      "id": "GenerateContentResponse",
      "description": "Response message for [PredictionService.GenerateContent].",
      "type": "object",
      "properties": {
        "candidates": {
          "description": "Output only. Generated candidates.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Candidate"
          }
        },
        "promptFeedback": {
          "description": "Output only. Content filter results for a prompt sent in the request. Note: Sent only in the first stream chunk. Only happens when no candidates were generated due to content violations.",
          "readOnly": true,
          "$ref": "PromptFeedback"
        },
        "usageMetadata": {
          "description": "Usage metadata about the response(s).",
          "$ref": "UsageMetadata"
        }
      }
    },
    "Candidate": {
      "id": "Candidate",
      "description": "A response candidate generated from the model.",
      "type": "object",
      "properties": {
        "index": {
          "description": "Output only. Index of the candidate.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "content": {
          "description": "Output only. Content parts of the candidate.",
          "readOnly": true,
          "$ref": "Content"
        },
        "finishReason": {
          "description": "Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating the tokens.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The finish reason is unspecified.",
            "Natural stop point of the model or provided stop sequence.",
            "The maximum number of tokens as specified in the request was reached.",
            "The token generation was stopped as the response was flagged for safety reasons. NOTE: When streaming the Candidate.content will be empty if content filters blocked the output.",
            "The token generation was stopped as the response was flagged for unauthorized citations.",
            "All other reasons that stopped the token generation",
            "The token generation was stopped as the response was flagged for the terms which are included from the terminology blocklist.",
            "The token generation was stopped as the response was flagged for the prohibited contents.",
            "The token generation was stopped as the response was flagged for Sensitive Personally Identifiable Information (SPII) contents."
          ],
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "SPII"
          ]
        },
        "safetyRatings": {
          "description": "Output only. List of ratings for the safety of a response candidate. There is at most one rating per category.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SafetyRating"
          }
        },
        "finishMessage": {
          "description": "Output only. Describes the reason the mode stopped generating tokens in more detail. This is only filled when `finish_reason` is set.",
          "readOnly": true,
          "type": "string"
        },
        "citationMetadata": {
          "description": "Output only. Source attribution of the generated content.",
          "readOnly": true,
          "$ref": "CitationMetadata"
        },
        "groundingMetadata": {
          "description": "Output only. Metadata specifies sources used to ground generated content.",
          "readOnly": true,
          "$ref": "GroundingMetadata"
        }
      }
    },
    "SafetyRating": {
      "id": "SafetyRating",
      "description": "Safety rating corresponding to the generated content.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Output only. Harm category.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content."
          ],
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT"
          ]
        },
        "probability": {
          "description": "Output only. Harm probability levels in the content.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Harm probability unspecified.",
            "Negligible level of harm.",
            "Low level of harm.",
            "Medium level of harm.",
            "High level of harm."
          ],
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "probabilityScore": {
          "description": "Output only. Harm probability score.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "severity": {
          "description": "Output only. Harm severity levels in the content.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Harm severity unspecified.",
            "Negligible level of harm severity.",
            "Low level of harm severity.",
            "Medium level of harm severity.",
            "High level of harm severity."
          ],
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ]
        },
        "severityScore": {
          "description": "Output only. Harm severity score.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "blocked": {
          "description": "Output only. Indicates whether the content was filtered out because of this rating.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "CitationMetadata": {
      "id": "CitationMetadata",
      "description": "A collection of source attributions for a piece of content.",
      "type": "object",
      "properties": {
        "citations": {
          "description": "Output only. List of citations.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Citation"
          }
        }
      }
    },
    "Citation": {
      "id": "Citation",
      "description": "Source attributions for content.",
      "type": "object",
      "properties": {
        "startIndex": {
          "description": "Output only. Start index into the content.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "endIndex": {
          "description": "Output only. End index into the content.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "uri": {
          "description": "Output only. Url reference of the attribution.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Output only. Title of the attribution.",
          "readOnly": true,
          "type": "string"
        },
        "license": {
          "description": "Output only. License of the attribution.",
          "readOnly": true,
          "type": "string"
        },
        "publicationDate": {
          "description": "Output only. Publication date of the attribution.",
          "readOnly": true,
          "$ref": "Date"
        }
      }
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GroundingMetadata": {
      "id": "GroundingMetadata",
      "description": "Metadata returned to client when grounding is enabled.",
      "type": "object",
      "properties": {
        "webSearchQueries": {
          "description": "Optional. Web search queries for the following-up web search.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "retrievalQueries": {
          "description": "Optional. Queries executed by the retrieval tools.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PromptFeedback": {
      "id": "PromptFeedback",
      "description": "Content filter results for a prompt sent in the request.",
      "type": "object",
      "properties": {
        "blockReason": {
          "description": "Output only. Blocked reason.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified blocked reason.",
            "Candidates blocked due to safety.",
            "Candidates blocked due to other reason.",
            "Candidates blocked due to the terms which are included from the terminology blocklist.",
            "Candidates blocked due to prohibited content."
          ],
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT"
          ]
        },
        "safetyRatings": {
          "description": "Output only. Safety ratings.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SafetyRating"
          }
        },
        "blockReasonMessage": {
          "description": "Output only. A readable block reason message.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "UsageMetadata": {
      "id": "UsageMetadata",
      "description": "Usage metadata about response(s).",
      "type": "object",
      "properties": {
        "promptTokenCount": {
          "description": "Number of tokens in the request.",
          "type": "integer",
          "format": "int32"
        },
        "candidatesTokenCount": {
          "description": "Number of tokens in the response(s).",
          "type": "integer",
          "format": "int32"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ModelOperationMetadata": {
      "id": "ModelOperationMetadata",
      "description": "This is returned in the longrunning operations for create/update.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the model we are creating/updating The name must have the form `projects/{project_id}/models/{model_id}`",
          "type": "string"
        },
        "basicOperationStatus": {
          "type": "string",
          "enumDescriptions": [
            "The status is unspecified",
            "The model file is being uploaded",
            "The model file is being verified"
          ],
          "enum": [
            "BASIC_OPERATION_STATUS_UNSPECIFIED",
            "BASIC_OPERATION_STATUS_UPLOADING",
            "BASIC_OPERATION_STATUS_VERIFYING"
          ]
        }
      }
    }
  },
  "name": "firebaseml",
  "protocol": "rest",
  "rootUrl": "https://firebaseml.googleapis.com/",
  "version_module": true,
  "baseUrl": "https://firebaseml.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "canonicalName": "Firebase ML",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}
