{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "firebasedynamiclinks",
  "title": "Firebase Dynamic Links API",
  "revision": "20231107",
  "ownerName": "Google",
  "servicePath": "",
  "rootUrl": "https://firebasedynamiclinks.googleapis.com/",
  "basePath": "",
  "resources": {
    "managedShortLinks": {
      "methods": {
        "create": {
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateManagedShortLinkRequest"
          },
          "description": "Creates a managed short Dynamic Link given either a valid long Dynamic Link or details such as Dynamic Link domain, Android and iOS app information. The created short Dynamic Link will not expire. This differs from CreateShortDynamicLink in the following ways: - The request will also contain a name for the link (non unique name for the front end). - The response must be authenticated with an auth token (generated with the admin service account). - The link will appear in the FDL list of links in the console front end. The Dynamic Link domain in the request must be owned by requester's Firebase project.",
          "parameterOrder": [],
          "flatPath": "v1/managedShortLinks:create",
          "id": "firebasedynamiclinks.managedShortLinks.create",
          "path": "v1/managedShortLinks:create",
          "scopes": [
            "https://www.googleapis.com/auth/firebase"
          ],
          "response": {
            "$ref": "CreateManagedShortLinkResponse"
          }
        }
      }
    },
    "v1": {
      "methods": {
        "getLinkStats": {
          "scopes": [
            "https://www.googleapis.com/auth/firebase"
          ],
          "response": {
            "$ref": "DynamicLinkStats"
          },
          "path": "v1/{dynamicLink}/linkStats",
          "id": "firebasedynamiclinks.getLinkStats",
          "parameters": {
            "durationDays": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The span of time requested in days."
            },
            "sdkVersion": {
              "location": "query",
              "type": "string",
              "description": "Google SDK version. Version takes the form \"$major.$minor.$patch\""
            },
            "dynamicLink": {
              "required": true,
              "type": "string",
              "description": "Dynamic Link URL. e.g. https://abcd.app.goo.gl/wxyz",
              "location": "path"
            }
          },
          "parameterOrder": [
            "dynamicLink"
          ],
          "description": "Fetches analytics stats of a short Dynamic Link for a given duration. Metrics include number of clicks, redirects, installs, app first opens, and app reopens.",
          "flatPath": "v1/{dynamicLink}/linkStats",
          "httpMethod": "GET"
        },
        "installAttribution": {
          "flatPath": "v1/installAttribution",
          "path": "v1/installAttribution",
          "parameterOrder": [],
          "response": {
            "$ref": "GetIosPostInstallAttributionResponse"
          },
          "id": "firebasedynamiclinks.installAttribution",
          "parameters": {},
          "request": {
            "$ref": "GetIosPostInstallAttributionRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "POST",
          "description": "Get iOS strong/weak-match info for post-install attribution."
        },
        "reopenAttribution": {
          "parameterOrder": [],
          "request": {
            "$ref": "GetIosReopenAttributionRequest"
          },
          "parameters": {},
          "description": "Get iOS reopen attribution for app universal link open deeplinking.",
          "flatPath": "v1/reopenAttribution",
          "path": "v1/reopenAttribution",
          "scopes": [
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "firebasedynamiclinks.reopenAttribution",
          "response": {
            "$ref": "GetIosReopenAttributionResponse"
          },
          "httpMethod": "POST"
        }
      }
    },
    "shortLinks": {
      "methods": {
        "create": {
          "request": {
            "$ref": "CreateShortDynamicLinkRequest"
          },
          "path": "v1/shortLinks",
          "parameters": {},
          "id": "firebasedynamiclinks.shortLinks.create",
          "flatPath": "v1/shortLinks",
          "parameterOrder": [],
          "response": {
            "$ref": "CreateShortDynamicLinkResponse"
          },
          "httpMethod": "POST",
          "description": "Creates a short Dynamic Link given either a valid long Dynamic Link or details such as Dynamic Link domain, Android and iOS app information. The created short Dynamic Link will not expire. Repeated calls with the same long Dynamic Link or Dynamic Link information will produce the same short Dynamic Link. The Dynamic Link domain in the request must be owned by requester's Firebase project.",
          "scopes": [
            "https://www.googleapis.com/auth/firebase"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "version": "v1",
  "kind": "discovery#restDescription",
  "documentationLink": "https://firebase.google.com/docs/dynamic-links/",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "mtlsRootUrl": "https://firebasedynamiclinks.mtls.googleapis.com/",
  "baseUrl": "https://firebasedynamiclinks.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "GetIosReopenAttributionResponse": {
      "description": "Response for iSDK to get reopen attribution for app universal link open deeplinking. This endpoint is meant for only iOS requests.",
      "properties": {
        "utmContent": {
          "type": "string",
          "description": "Scion content value to be propagated by iSDK to Scion at app-reopen."
        },
        "utmTerm": {
          "type": "string",
          "description": "Scion term value to be propagated by iSDK to Scion at app-reopen."
        },
        "resolvedLink": {
          "description": "The entire FDL, expanded from a short link. It is the same as the requested_link, if it is long.",
          "type": "string"
        },
        "utmMedium": {
          "description": "Scion medium value to be propagated by iSDK to Scion at app-reopen.",
          "type": "string"
        },
        "iosMinAppVersion": {
          "description": "FDL input value of the \"&imv=\" parameter, minimum app version to be returned to Google Firebase SDK running on iOS-9.",
          "type": "string"
        },
        "invitationId": {
          "description": "Optional invitation ID, for only invite typed requested FDL links.",
          "type": "string"
        },
        "utmCampaign": {
          "type": "string",
          "description": "Scion campaign value to be propagated by iSDK to Scion at app-reopen."
        },
        "deepLink": {
          "type": "string",
          "description": "The deep-link attributed the app universal link open. For both regular FDL links and invite FDL links."
        },
        "utmSource": {
          "type": "string",
          "description": "Scion source value to be propagated by iSDK to Scion at app-reopen."
        }
      },
      "type": "object",
      "id": "GetIosReopenAttributionResponse"
    },
    "DeviceInfo": {
      "properties": {
        "languageCodeRaw": {
          "type": "string",
          "description": "Device language code raw setting. iOS does returns language code in different format than iOS WebView. For example WebView returns en_US, but iOS returns en-US. Field below will return raw value returned by iOS.",
          "deprecated": true
        },
        "deviceModelName": {
          "description": "Device model name.",
          "type": "string"
        },
        "languageCode": {
          "deprecated": true,
          "type": "string",
          "description": "Device language code setting."
        },
        "screenResolutionWidth": {
          "format": "int64",
          "type": "string",
          "description": "Device display resolution width."
        },
        "screenResolutionHeight": {
          "description": "Device display resolution height.",
          "format": "int64",
          "type": "string"
        },
        "timezone": {
          "type": "string",
          "description": "Device timezone setting."
        },
        "languageCodeFromWebview": {
          "description": "Device language code setting obtained by executing JavaScript code in WebView.",
          "type": "string"
        }
      },
      "id": "DeviceInfo",
      "description": "Signals associated with the device making the request.",
      "type": "object"
    },
    "AndroidInfo": {
      "properties": {
        "androidFallbackLink": {
          "description": "Link to open on Android if the app is not installed.",
          "type": "string"
        },
        "androidPackageName": {
          "type": "string",
          "description": "Android package name of the app."
        },
        "androidLink": {
          "description": "If specified, this overrides the ‘link’ parameter on Android.",
          "type": "string"
        },
        "androidMinPackageVersionCode": {
          "type": "string",
          "description": "Minimum version code for the Android app. If the installed app’s version code is lower, then the user is taken to the Play Store."
        }
      },
      "description": "Android related attributes to the Dynamic Link.",
      "type": "object",
      "id": "AndroidInfo"
    },
    "Suffix": {
      "description": "Short Dynamic Link suffix.",
      "id": "Suffix",
      "properties": {
        "option": {
          "enumDescriptions": [
            "The suffix option is not specified, performs as UNGUESSABLE .",
            "Short Dynamic Link suffix is a base62 [0-9A-Za-z] encoded string of a random generated 96 bit random number, which has a length of 17 chars. For example, \"nlAR8U4SlKRZw1cb2\". It prevents other people from guessing and crawling short Dynamic Links that contain personal identifiable information.",
            "Short Dynamic Link suffix is a base62 [0-9A-Za-z] string starting with a length of 4 chars. the length will increase when all the space is occupied.",
            "Custom DDL suffix is a client specified string, for example, \"buy2get1free\". NOTE: custom suffix should only be available to managed short link creation"
          ],
          "description": "Suffix option.",
          "type": "string",
          "enum": [
            "OPTION_UNSPECIFIED",
            "UNGUESSABLE",
            "SHORT",
            "CUSTOM"
          ]
        },
        "customSuffix": {
          "description": "Only applies to Option.CUSTOM.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnalyticsInfo": {
      "id": "AnalyticsInfo",
      "type": "object",
      "properties": {
        "googlePlayAnalytics": {
          "$ref": "GooglePlayAnalytics",
          "description": "Google Play Campaign Measurements."
        },
        "itunesConnectAnalytics": {
          "$ref": "ITunesConnectAnalytics",
          "description": "iTunes Connect App Analytics."
        }
      },
      "description": "Tracking parameters supported by Dynamic Link."
    },
    "IosInfo": {
      "properties": {
        "iosIpadBundleId": {
          "type": "string",
          "description": "iPad bundle ID of the app."
        },
        "iosCustomScheme": {
          "type": "string",
          "description": "Custom (destination) scheme to use for iOS. By default, we’ll use the bundle ID as the custom scheme. Developer can override this behavior using this param."
        },
        "iosIpadFallbackLink": {
          "description": "If specified, this overrides the ios_fallback_link value on iPads.",
          "type": "string"
        },
        "iosBundleId": {
          "type": "string",
          "description": "iOS bundle ID of the app."
        },
        "iosMinimumVersion": {
          "description": "iOS minimum version.",
          "type": "string"
        },
        "iosFallbackLink": {
          "description": "Link to open on iOS if the app is not installed.",
          "type": "string"
        },
        "iosAppStoreId": {
          "description": "iOS App Store ID.",
          "type": "string"
        }
      },
      "id": "IosInfo",
      "description": "iOS related attributes to the Dynamic Link..",
      "type": "object"
    },
    "ManagedShortLink": {
      "type": "object",
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Creation timestamp of the short link."
        },
        "link": {
          "type": "string",
          "description": "Short durable link url, for example, \"https://sample.app.goo.gl/xyz123\". Required."
        },
        "info": {
          "description": "Full Dyamic Link info",
          "$ref": "DynamicLinkInfo"
        },
        "visibility": {
          "description": "Visibility status of link.",
          "enumDescriptions": [
            "Visibility of the link is not specified.",
            "Link created in console and should be shown in console.",
            "Link created in console and should not be shown in console (but can be shown in the console again if it is unarchived).",
            "Link created outside of console and should never be shown in console."
          ],
          "enum": [
            "UNSPECIFIED_VISIBILITY",
            "UNARCHIVED",
            "ARCHIVED",
            "NEVER_SHOWN"
          ],
          "type": "string"
        },
        "flaggedAttribute": {
          "description": "Attributes that have been flagged about this short url.",
          "items": {
            "enum": [
              "UNSPECIFIED_ATTRIBUTE",
              "SPAM"
            ],
            "enumDescriptions": [
              "Indicates that no attributes were found for this short url.",
              "Indicates that short url has been flagged by AbuseIAm team as spam."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "linkName": {
          "description": "Link name defined by the creator. Required.",
          "type": "string"
        }
      },
      "description": "Managed Short Link.",
      "id": "ManagedShortLink"
    },
    "DesktopInfo": {
      "properties": {
        "desktopFallbackLink": {
          "type": "string",
          "description": "Link to open on desktop."
        }
      },
      "description": "Desktop related attributes to the Dynamic Link.",
      "id": "DesktopInfo",
      "type": "object"
    },
    "DynamicLinkWarning": {
      "type": "object",
      "description": "Dynamic Links warning messages.",
      "properties": {
        "warningCode": {
          "enumDescriptions": [
            "Unknown code.",
            "The Android package does not match any in developer's DevConsole project.",
            "The Android minimum version code has to be a valid integer.",
            "Android package min version param is not needed, e.g. when 'apn' is missing.",
            "Android link is not a valid URI.",
            "Android link param is not needed, e.g. when param 'al' and 'link' have the same value..",
            "Android fallback link is not a valid URI.",
            "Android fallback link has an invalid (non http/https) URI scheme.",
            "The iOS bundle ID does not match any in developer's DevConsole project.",
            "The iPad bundle ID does not match any in developer's DevConsole project.",
            "iOS URL scheme is not needed, e.g. when 'ibi' are 'ipbi' are all missing.",
            "iOS app store ID format is incorrect, e.g. not numeric.",
            "iOS app store ID is not needed.",
            "iOS fallback link is not a valid URI.",
            "iOS fallback link has an invalid (non http/https) URI scheme.",
            "iPad fallback link is not a valid URI.",
            "iPad fallback link has an invalid (non http/https) URI scheme.",
            "Debug param format is incorrect.",
            "isAd param format is incorrect.",
            "Indicates a certain param is deprecated.",
            "Indicates certain paramater is not recognized.",
            "Indicates certain paramater is too long.",
            "Social meta tag image link is not a valid URI.",
            "Social meta tag image link has an invalid (non http/https) URI scheme.",
            "",
            "",
            "Dynamic Link URL length is too long.",
            "Dynamic Link URL contains fragments.",
            "The iOS bundle ID does not match with the given iOS store ID."
          ],
          "description": "The warning code.",
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "NOT_IN_PROJECT_ANDROID_PACKAGE_NAME",
            "NOT_INTEGER_ANDROID_PACKAGE_MIN_VERSION",
            "UNNECESSARY_ANDROID_PACKAGE_MIN_VERSION",
            "NOT_URI_ANDROID_LINK",
            "UNNECESSARY_ANDROID_LINK",
            "NOT_URI_ANDROID_FALLBACK_LINK",
            "BAD_URI_SCHEME_ANDROID_FALLBACK_LINK",
            "NOT_IN_PROJECT_IOS_BUNDLE_ID",
            "NOT_IN_PROJECT_IPAD_BUNDLE_ID",
            "UNNECESSARY_IOS_URL_SCHEME",
            "NOT_NUMERIC_IOS_APP_STORE_ID",
            "UNNECESSARY_IOS_APP_STORE_ID",
            "NOT_URI_IOS_FALLBACK_LINK",
            "BAD_URI_SCHEME_IOS_FALLBACK_LINK",
            "NOT_URI_IPAD_FALLBACK_LINK",
            "BAD_URI_SCHEME_IPAD_FALLBACK_LINK",
            "BAD_DEBUG_PARAM",
            "BAD_AD_PARAM",
            "DEPRECATED_PARAM",
            "UNRECOGNIZED_PARAM",
            "TOO_LONG_PARAM",
            "NOT_URI_SOCIAL_IMAGE_LINK",
            "BAD_URI_SCHEME_SOCIAL_IMAGE_LINK",
            "NOT_URI_SOCIAL_URL",
            "BAD_URI_SCHEME_SOCIAL_URL",
            "LINK_LENGTH_TOO_LONG",
            "LINK_WITH_FRAGMENTS",
            "NOT_MATCHING_IOS_BUNDLE_ID_AND_STORE_ID"
          ]
        },
        "warningMessage": {
          "type": "string",
          "description": "The warning message to help developers improve their requests."
        },
        "warningDocumentLink": {
          "type": "string",
          "description": "The document describing the warning, and helps resolve."
        }
      },
      "id": "DynamicLinkWarning"
    },
    "CreateManagedShortLinkResponse": {
      "description": "Response to create a short Dynamic Link.",
      "properties": {
        "warning": {
          "items": {
            "$ref": "DynamicLinkWarning"
          },
          "type": "array",
          "description": "Information about potential warnings on link creation."
        },
        "managedShortLink": {
          "$ref": "ManagedShortLink",
          "description": "Short Dynamic Link value. e.g. https://abcd.app.goo.gl/wxyz"
        },
        "previewLink": {
          "description": "Preview link to show the link flow chart. (debug info.)",
          "type": "string"
        }
      },
      "id": "CreateManagedShortLinkResponse",
      "type": "object"
    },
    "DynamicLinkEventStat": {
      "id": "DynamicLinkEventStat",
      "description": "Dynamic Link event stat.",
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "description": "The number of times this event occurred.",
          "type": "string"
        },
        "platform": {
          "description": "Requested platform.",
          "enum": [
            "DYNAMIC_LINK_PLATFORM_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "DESKTOP",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified platform.",
            "Represents Android platform. All apps and browsers on Android are classfied in this category.",
            "Represents iOS platform. All apps and browsers on iOS are classfied in this category.",
            "Represents desktop.",
            "Platforms are not categorized as Android/iOS/Destop fall into here."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false
          ]
        },
        "event": {
          "enumDescriptions": [
            "Unspecified type.",
            "Indicates that an FDL is clicked by users.",
            "Indicates that an FDL redirects users to fallback link.",
            "Indicates that an FDL triggers an app install from Play store, currently it's impossible to get stats from App store.",
            "Indicates that the app is opened for the first time after an install triggered by FDLs",
            "Indicates that the app is opened via an FDL for non-first time."
          ],
          "type": "string",
          "enum": [
            "DYNAMIC_LINK_EVENT_UNSPECIFIED",
            "CLICK",
            "REDIRECT",
            "APP_INSTALL",
            "APP_FIRST_OPEN",
            "APP_RE_OPEN"
          ],
          "description": "Link event."
        }
      }
    },
    "CreateShortDynamicLinkRequest": {
      "type": "object",
      "id": "CreateShortDynamicLinkRequest",
      "properties": {
        "longDynamicLink": {
          "description": "Full long Dynamic Link URL with desired query parameters specified. For example, \"https://sample.app.goo.gl/?link=http://www.google.com&apn=com.sample\", [Learn more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener).",
          "type": "string"
        },
        "dynamicLinkInfo": {
          "$ref": "DynamicLinkInfo",
          "description": "Information about the Dynamic Link to be shortened. [Learn more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener)."
        },
        "suffix": {
          "$ref": "Suffix",
          "description": "Short Dynamic Link suffix. Optional."
        },
        "sdkVersion": {
          "type": "string",
          "description": "Google SDK version. Version takes the form \"$major.$minor.$patch\""
        }
      },
      "description": "Request to create a short Dynamic Link."
    },
    "GetIosPostInstallAttributionRequest": {
      "id": "GetIosPostInstallAttributionRequest",
      "description": "Request for iSDK to execute strong match flow for post-install attribution. This is meant for iOS requests only. Requests from other platforms will not be honored.",
      "properties": {
        "device": {
          "description": "Device information.",
          "$ref": "DeviceInfo"
        },
        "appInstallationTime": {
          "format": "int64",
          "type": "string",
          "description": "App installation epoch time (https://en.wikipedia.org/wiki/Unix_time). This is a client signal for a more accurate weak match."
        },
        "uniqueMatchLinkToCheck": {
          "description": "Possible unique matched link that server need to check before performing device heuristics match. If passed link is short server need to expand the link. If link is long server need to vslidate the link.",
          "type": "string"
        },
        "sdkVersion": {
          "type": "string",
          "description": "Google SDK version. Version takes the form \"$major.$minor.$patch\""
        },
        "bundleId": {
          "description": "APP bundle ID.",
          "type": "string"
        },
        "retrievalMethod": {
          "description": "App post install attribution retrieval information. Disambiguates mechanism (iSDK or developer invoked) to retrieve payload from clicked link.",
          "enum": [
            "UNKNOWN_PAYLOAD_RETRIEVAL_METHOD",
            "IMPLICIT_WEAK_MATCH",
            "EXPLICIT_WEAK_MATCH",
            "EXPLICIT_STRONG_AFTER_WEAK_MATCH"
          ],
          "enumDescriptions": [
            "Unknown method.",
            "iSDK performs a server lookup by device heuristics in the background when app is first-opened; no API called by developer.",
            "iSDK performs a server lookup by device heuristics upon a dev API call.",
            "iSDK performs a strong match only if weak match is found upon a dev API call."
          ],
          "type": "string"
        },
        "visualStyle": {
          "enumDescriptions": [
            "Unknown style.",
            "Default style.",
            "Custom style."
          ],
          "description": "Strong match page information. Disambiguates between default UI and custom page to present when strong match succeeds/fails to find cookie.",
          "type": "string",
          "enum": [
            "UNKNOWN_VISUAL_STYLE",
            "DEFAULT_STYLE",
            "CUSTOM_STYLE"
          ]
        },
        "iosVersion": {
          "type": "string",
          "description": "iOS version, ie: 9.3.5. Consider adding \"build\"."
        }
      },
      "type": "object"
    },
    "ITunesConnectAnalytics": {
      "description": "Parameters for iTunes Connect App Analytics.",
      "type": "object",
      "id": "ITunesConnectAnalytics",
      "properties": {
        "ct": {
          "description": "Campaign text that developers can optionally add to any link in order to track sales from a specific marketing campaign.",
          "type": "string"
        },
        "pt": {
          "description": "Provider token that enables analytics for Dynamic Links from within iTunes Connect.",
          "type": "string"
        },
        "mt": {
          "description": "iTune media types, including music, podcasts, audiobooks and so on.",
          "type": "string"
        },
        "at": {
          "description": "Affiliate token used to create affiliate-coded links.",
          "type": "string"
        }
      }
    },
    "GooglePlayAnalytics": {
      "description": "Parameters for Google Play Campaign Measurements. [Learn more](https://developers.google.com/analytics/devguides/collection/android/v4/campaigns#campaign-params)",
      "type": "object",
      "id": "GooglePlayAnalytics",
      "properties": {
        "utmCampaign": {
          "description": "Campaign name; used for keyword analysis to identify a specific product promotion or strategic campaign.",
          "type": "string"
        },
        "gclid": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated; FDL SDK does not process nor log it."
        },
        "utmMedium": {
          "type": "string",
          "description": "Campaign medium; used to identify a medium such as email or cost-per-click."
        },
        "utmContent": {
          "type": "string",
          "description": "Campaign content; used for A/B testing and content-targeted ads to differentiate ads or links that point to the same URL."
        },
        "utmSource": {
          "type": "string",
          "description": "Campaign source; used to identify a search engine, newsletter, or other source."
        },
        "utmTerm": {
          "description": "Campaign term; used with paid search to supply the keywords for ads.",
          "type": "string"
        }
      }
    },
    "NavigationInfo": {
      "properties": {
        "enableForcedRedirect": {
          "type": "boolean",
          "description": "If this option is on, FDL click will be forced to redirect rather than show an interstitial page."
        }
      },
      "id": "NavigationInfo",
      "type": "object",
      "description": "Information of navigation behavior."
    },
    "DynamicLinkStats": {
      "properties": {
        "linkEventStats": {
          "description": "Dynamic Link event stats.",
          "items": {
            "$ref": "DynamicLinkEventStat"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Analytics stats of a Dynamic Link for a given timeframe.",
      "id": "DynamicLinkStats"
    },
    "DynamicLinkInfo": {
      "id": "DynamicLinkInfo",
      "type": "object",
      "description": "Information about a Dynamic Link.",
      "properties": {
        "domainUriPrefix": {
          "description": "E.g. https://maps.app.goo.gl, https://maps.page.link, https://g.co/maps More examples can be found in description of getNormalizedUriPrefix in j/c/g/firebase/dynamiclinks/uri/DdlDomain.java Will fallback to dynamic_link_domain is this field is missing",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "The link your app will open, You can specify any URL your app can handle. This link must be a well-formatted URL, be properly URL-encoded, and use the HTTP or HTTPS scheme. See 'link' parameters in the [documentation](https://firebase.google.com/docs/dynamic-links/create-manually). Required."
        },
        "iosInfo": {
          "description": "iOS related information. See iOS related parameters in the [documentation](https://firebase.google.com/docs/dynamic-links/create-manually).",
          "$ref": "IosInfo"
        },
        "dynamicLinkDomain": {
          "type": "string",
          "deprecated": true,
          "description": "Dynamic Links domain that the project owns, e.g. abcd.app.goo.gl [Learn more](https://firebase.google.com/docs/dynamic-links/android/receive) on how to set up Dynamic Link domain associated with your Firebase project. Required if missing domain_uri_prefix."
        },
        "desktopInfo": {
          "$ref": "DesktopInfo",
          "description": "Desktop related information. See desktop related parameters in the [documentation](https://firebase.google.com/docs/dynamic-links/create-manually)."
        },
        "socialMetaTagInfo": {
          "description": "Parameters for social meta tag params. Used to set meta tag data for link previews on social sites.",
          "$ref": "SocialMetaTagInfo"
        },
        "navigationInfo": {
          "$ref": "NavigationInfo",
          "description": "Information of navigation behavior of a Firebase Dynamic Links."
        },
        "androidInfo": {
          "$ref": "AndroidInfo",
          "description": "Android related information. See Android related parameters in the [documentation](https://firebase.google.com/docs/dynamic-links/create-manually)."
        },
        "analyticsInfo": {
          "description": "Parameters used for tracking. See all tracking parameters in the [documentation](https://firebase.google.com/docs/dynamic-links/create-manually).",
          "$ref": "AnalyticsInfo"
        }
      }
    },
    "CreateManagedShortLinkRequest": {
      "description": "Request to create a managed Short Dynamic Link.",
      "type": "object",
      "properties": {
        "suffix": {
          "description": "Short Dynamic Link suffix. Optional.",
          "$ref": "Suffix"
        },
        "longDynamicLink": {
          "description": "Full long Dynamic Link URL with desired query parameters specified. For example, \"https://sample.app.goo.gl/?link=http://www.google.com&apn=com.sample\", [Learn more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Link name to associate with the link. It's used for marketer to identify manually-created links in the Firebase console (https://console.firebase.google.com/). Links must be named to be tracked."
        },
        "sdkVersion": {
          "description": "Google SDK version. Version takes the form \"$major.$minor.$patch\"",
          "type": "string"
        },
        "dynamicLinkInfo": {
          "$ref": "DynamicLinkInfo",
          "description": "Information about the Dynamic Link to be shortened. [Learn more](https://firebase.google.com/docs/reference/dynamic-links/link-shortener)."
        }
      },
      "id": "CreateManagedShortLinkRequest"
    },
    "SocialMetaTagInfo": {
      "description": "Parameters for social meta tag params. Used to set meta tag data for link previews on social sites.",
      "properties": {
        "socialImageLink": {
          "type": "string",
          "description": "An image url string. Optional."
        },
        "socialDescription": {
          "description": "A short description of the link. Optional.",
          "type": "string"
        },
        "socialTitle": {
          "description": "Title to be displayed. Optional.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SocialMetaTagInfo"
    },
    "GetIosReopenAttributionRequest": {
      "properties": {
        "requestedLink": {
          "type": "string",
          "description": "FDL link to be verified from an app universal link open. The FDL link can be one of: 1) short FDL. e.g. .page.link/, or 2) long FDL. e.g. .page.link/?{query params}, or 3) Invite FDL. e.g. .page.link/i/"
        },
        "sdkVersion": {
          "type": "string",
          "description": "Google SDK version. Version takes the form \"$major.$minor.$patch\""
        },
        "bundleId": {
          "description": "APP bundle ID.",
          "type": "string"
        }
      },
      "id": "GetIosReopenAttributionRequest",
      "description": "Request for iSDK to get reopen attribution for app universal link open deeplinking. This endpoint is meant for only iOS requests.",
      "type": "object"
    },
    "CreateShortDynamicLinkResponse": {
      "type": "object",
      "id": "CreateShortDynamicLinkResponse",
      "description": "Response to create a short Dynamic Link.",
      "properties": {
        "previewLink": {
          "description": "Preview link to show the link flow chart. (debug info.)",
          "type": "string"
        },
        "shortLink": {
          "type": "string",
          "description": "Short Dynamic Link value. e.g. https://abcd.app.goo.gl/wxyz"
        },
        "warning": {
          "type": "array",
          "description": "Information about potential warnings on link creation.",
          "items": {
            "$ref": "DynamicLinkWarning"
          }
        }
      }
    },
    "GetIosPostInstallAttributionResponse": {
      "type": "object",
      "properties": {
        "matchMessage": {
          "type": "string",
          "description": "Describes why match failed, ie: \"discarded due to low confidence\". This message will be publicly visible."
        },
        "deepLink": {
          "description": "The deep-link attributed post-install via one of several techniques (device heuristics, copy unique).",
          "type": "string"
        },
        "invitationId": {
          "description": "Invitation ID attributed post-install via one of several techniques (device heuristics, copy unique).",
          "type": "string"
        },
        "externalBrowserDestinationLink": {
          "type": "string",
          "description": "User-agent specific custom-scheme URIs for iSDK to open. This will be set according to the user-agent tha the click was originally made in. There is no Safari-equivalent custom-scheme open URLs. ie: googlechrome://www.example.com ie: firefox://open-url?url=http://www.example.com ie: opera-http://example.com"
        },
        "utmSource": {
          "type": "string",
          "description": "Scion source value to be propagated by iSDK to Scion at post-install."
        },
        "appMinimumVersion": {
          "description": "The minimum version for app, specified by dev through ?imv= parameter. Return to iSDK to allow app to evaluate if current version meets this.",
          "type": "string"
        },
        "resolvedLink": {
          "type": "string",
          "description": "The entire FDL, expanded from a short link. It is the same as the requested_link, if it is long. Parameters from this should not be used directly (ie: server can default utm_[campaign|medium|source] to a value when requested_link lack them, server determine the best fallback_link when requested_link specifies \u003e1 fallback links)."
        },
        "requestedLink": {
          "description": "Entire FDL (short or long) attributed post-install via one of several techniques (device heuristics, copy unique).",
          "type": "string"
        },
        "attributionConfidence": {
          "enum": [
            "UNKNOWN_ATTRIBUTION_CONFIDENCE",
            "WEAK",
            "DEFAULT",
            "UNIQUE"
          ],
          "type": "string",
          "description": "The confidence of the returned attribution.",
          "enumDescriptions": [
            "Unset.",
            "Weak confidence, more than one matching link found or link suspected to be false positive.",
            "Default confidence, match based on device heuristics.",
            "Unique confidence, match based on \"unique match link to check\" or other means."
          ]
        },
        "utmTerm": {
          "description": "Scion term value to be propagated by iSDK to Scion at app-reopen.",
          "type": "string"
        },
        "utmCampaign": {
          "description": "Scion campaign value to be propagated by iSDK to Scion at post-install.",
          "type": "string"
        },
        "requestIpVersion": {
          "type": "string",
          "enum": [
            "UNKNOWN_IP_VERSION",
            "IP_V4",
            "IP_V6"
          ],
          "enumDescriptions": [
            "Unset.",
            "Request made from an IPv4 IP address.",
            "Request made from an IPv6 IP address."
          ],
          "description": "Which IP version the request was made from."
        },
        "utmContent": {
          "type": "string",
          "description": "Scion content value to be propagated by iSDK to Scion at app-reopen."
        },
        "utmMedium": {
          "description": "Scion medium value to be propagated by iSDK to Scion at post-install.",
          "type": "string"
        },
        "isStrongMatchExecutable": {
          "type": "boolean",
          "description": "Instruction for iSDK to attemmpt to perform strong match. For instance, if browser does not support/allow cookie or outside of support browsers, this will be false."
        },
        "fallbackLink": {
          "type": "string",
          "description": "The link to navigate to update the app if min version is not met. This is either (in order): 1) fallback link (from ?ifl= parameter, if specified by developer) or 2) AppStore URL (from ?isi= parameter, if specified), or 3) the payload link (from required link= parameter)."
        }
      },
      "description": "Response for iSDK to execute strong match flow for post-install attribution. Information of the resolved FDL link.",
      "id": "GetIosPostInstallAttributionResponse"
    }
  },
  "canonicalName": "Firebase Dynamic Links",
  "id": "firebasedynamiclinks:v1",
  "description": "Programmatically creates and manages Firebase Dynamic Links.",
  "ownerDomain": "google.com",
  "protocol": "rest"
}
