{
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "revision": "20210411",
  "discoveryVersion": "v1",
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "basePath": "",
  "description": "The Firebase Hosting REST API enables programmatic and customizable management and deployments to your Firebase-hosted sites. Use this REST API to create and manage channels and sites as well as to deploy new or updated hosting configurations and content files.",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "protocol": "rest",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "version": "v1beta1",
  "id": "firebasehosting:v1beta1",
  "canonicalName": "Firebase Hosting",
  "servicePath": "",
  "version_module": true,
  "ownerDomain": "google.com",
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "name": "firebasehosting",
  "title": "Firebase Hosting API",
  "schemas": {
    "CloudRunRewrite": {
      "description": "A configured rewrite that directs requests to a Cloud Run service. If the Cloud Run service does not exist when setting or updating your Firebase Hosting configuration, then the request fails. Any errors from the Cloud Run service are passed to the end user (for example, if you delete a service, any requests directed to that service receive a `404` error).",
      "id": "CloudRunRewrite",
      "type": "object",
      "properties": {
        "region": {
          "type": "string",
          "description": "Optional. User-provided region where the Cloud Run service is hosted. Defaults to `us-central1` if not supplied."
        },
        "serviceId": {
          "description": "Required. User-defined ID of the Cloud Run service.",
          "type": "string"
        }
      }
    },
    "I18nConfig": {
      "properties": {
        "root": {
          "type": "string",
          "description": "Required. The user-supplied path where country and language specific content will be looked for within the public directory."
        }
      },
      "type": "object",
      "description": "If provided, i18n rewrites are enabled.",
      "id": "I18nConfig"
    },
    "ListSitesResponse": {
      "type": "object",
      "id": "ListSitesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListSites`. Page tokens are short-lived and should not be stored."
        },
        "sites": {
          "description": "A list of Site objects associated with the specified Firebase project.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        }
      }
    },
    "PopulateVersionFilesResponse": {
      "type": "object",
      "properties": {
        "uploadUrl": {
          "type": "string",
          "description": "The URL to which the files should be uploaded, in the format: \"https://upload-firebasehosting.googleapis.com/upload/sites/SITE_ID /versions/VERSION_ID/files\" Perform a multipart `POST` of the Gzipped file contents to the URL using a forward slash and the hash of the file appended to the end."
        },
        "uploadRequiredHashes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The content hashes of the specified files that need to be uploaded to the specified URL."
        }
      },
      "id": "PopulateVersionFilesResponse"
    },
    "Domain": {
      "id": "Domain",
      "type": "object",
      "properties": {
        "domainRedirect": {
          "$ref": "DomainRedirect",
          "description": "If set, the domain should redirect with the provided parameters."
        },
        "site": {
          "description": "Required. The site name of the association.",
          "type": "string"
        },
        "provisioning": {
          "$ref": "DomainProvisioning",
          "description": "Output only. Information about the provisioning of certificates and the health of the DNS resolution for the domain."
        },
        "domainName": {
          "type": "string",
          "description": "Required. The domain name of the association."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified domain association status.",
            "An external operation is in progress on the domain association and no further operations can be performed until it is complete. Formerly used for metabase updates. Not currently used",
            "The domain association is active and no additional action is required.",
            "The domain was previously verified in the legacy system. User must reverify the domain through the ownership service.",
            "The domain verification has been lost and the domain is in the grace period before being removed from the Firebase Hosting site."
          ],
          "description": "Output only. Additional status of the domain association.",
          "enum": [
            "DOMAIN_STATUS_UNSPECIFIED",
            "DOMAIN_CHANGE_PENDING",
            "DOMAIN_ACTIVE",
            "DOMAIN_VERIFICATION_REQUIRED",
            "DOMAIN_VERIFICATION_LOST"
          ]
        },
        "updateTime": {
          "description": "Output only. The time at which the domain was last updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The intended behavior and status information of a domain."
    },
    "CertHttpChallenge": {
      "type": "object",
      "description": "Represents an HTTP certificate challenge.",
      "id": "CertHttpChallenge",
      "properties": {
        "token": {
          "description": "The token to serve at the specified URL path to satisfy the certificate challenge.",
          "type": "string"
        },
        "path": {
          "description": "The URL path on which to serve the specified token to satisfy the certificate challenge.",
          "type": "string"
        }
      }
    },
    "ActingUser": {
      "properties": {
        "email": {
          "description": "The email address of the user when the user performed the action.",
          "type": "string"
        },
        "imageUrl": {
          "description": "A profile image URL for the user. May not be present if the user has changed their email address or deleted their account.",
          "type": "string"
        }
      },
      "description": "Contains metadata about the user who performed an action, such as creating a release or finalizing a version.",
      "id": "ActingUser",
      "type": "object"
    },
    "DomainRedirect": {
      "type": "object",
      "properties": {
        "domainName": {
          "type": "string",
          "description": "Required. The domain name to redirect to."
        },
        "type": {
          "description": "Required. The redirect status code.",
          "enumDescriptions": [
            "The default redirect type; should not be intentionlly used.",
            "The redirect will respond with an HTTP status code of `301 Moved Permanently`."
          ],
          "type": "string",
          "enum": [
            "REDIRECT_TYPE_UNSPECIFIED",
            "MOVED_PERMANENTLY"
          ]
        }
      },
      "id": "DomainRedirect",
      "description": "Defines the behavior of a domain-level redirect. Domain redirects preserve the path of the redirect but replace the requested domain with the one specified in the redirect configuration."
    },
    "ListDomainsResponse": {
      "properties": {
        "domains": {
          "items": {
            "$ref": "Domain"
          },
          "type": "array",
          "description": "The list of domains, if any exist."
        },
        "nextPageToken": {
          "description": "The pagination token, if more results exist.",
          "type": "string"
        }
      },
      "id": "ListDomainsResponse",
      "description": "The response to listing Domains.",
      "type": "object"
    },
    "Site": {
      "properties": {
        "defaultUrl": {
          "readOnly": true,
          "description": "Output only. The default URL for the Hosting site.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of Hosting site. Every Firebase project has a `DEFAULT_SITE`, which is created when Hosting is provisioned for the project. All additional sites are `USER_SITE`.",
          "enumDescriptions": [
            "Unknown state, likely the result of an error on the backend.",
            "The default Hosting site that is provisioned when a Firebase project is created.",
            "A Hosting site that the user created."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT_SITE",
            "USER_SITE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "appId": {
          "description": "Optional. The [ID of a Web App](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the Hosting site.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510)."
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-specified labels for the Hosting site.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Site",
      "type": "object",
      "description": "A `Site` represents a Firebase Hosting site."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "PathFilter": {
      "id": "PathFilter",
      "description": "A representation of filter path.",
      "properties": {
        "regexes": {
          "items": {
            "type": "string"
          },
          "description": "An array of RegEx values by which to filter.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Version": {
      "description": "A `Version` is a configuration and a collection of static files which determine how a site is displayed.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels used for extra metadata and/or filtering."
        },
        "deleteTime": {
          "description": "Output only. The time at which the version was `DELETED`.",
          "format": "google-datetime",
          "type": "string"
        },
        "versionBytes": {
          "description": "Output only. The total stored bytesize of the version. This value is calculated after a version is `FINALIZED`.",
          "format": "int64",
          "type": "string"
        },
        "fileCount": {
          "description": "Output only. The total number of files associated with the version. This value is calculated after a version is `FINALIZED`.",
          "type": "string",
          "format": "int64"
        },
        "preview": {
          "$ref": "PreviewConfig",
          "description": "Deprecated in favor of [site channels](sites.channels)."
        },
        "name": {
          "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
          "type": "string"
        },
        "deleteUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who `DELETED` the version."
        },
        "createUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who created the version."
        },
        "status": {
          "enumDescriptions": [
            "The default status; should not be intentionally used.",
            "The version has been created, and content is currently being added to the version.",
            "All content has been added to the version, and the version can no longer be changed.",
            "The version has been deleted.",
            "The version was not updated to `FINALIZED` within 12 hours and was automatically deleted.",
            "The version is outside the site-configured limit for the number of retained versions, so the version's content is scheduled for deletion.",
            "The version is being cloned from another version. All content is still being copied over."
          ],
          "description": "The deploy status of the version. For a successful deploy, call [`CreateVersion`](sites.versions/create) to make a new version (`CREATED` status), [upload all desired files](sites.versions/populateFiles) to the version, then [update](sites.versions/patch) the version to the `FINALIZED` status. Note that if you leave the version in the `CREATED` state for more than 12 hours, the system will automatically mark the version as `ABANDONED`. You can also change the status of a version to `DELETED` by calling [`DeleteVersion`](sites.versions/delete).",
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "CREATED",
            "FINALIZED",
            "DELETED",
            "ABANDONED",
            "EXPIRED",
            "CLONING"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the version was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "config": {
          "$ref": "ServingConfig",
          "description": "The configuration for the behavior of the site. This configuration exists in the [`firebase.json`](https://firebase.google.com/docs/cli/#the_firebasejson_file) file."
        },
        "finalizeUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who `FINALIZED` the version."
        },
        "finalizeTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the version was `FINALIZED`.",
          "type": "string"
        }
      },
      "id": "Version",
      "type": "object"
    },
    "ListVersionFilesResponse": {
      "id": "ListVersionFilesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListVersionFiles`. Page tokens are short-lived and should not be stored."
        },
        "files": {
          "type": "array",
          "description": " The list of paths to the hashes of the files in the specified version.",
          "items": {
            "$ref": "VersionFile"
          }
        }
      },
      "type": "object"
    },
    "PopulateVersionFilesRequest": {
      "id": "PopulateVersionFilesRequest",
      "type": "object",
      "properties": {
        "files": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A set of file paths to the hashes corresponding to assets that should be added to the version. A file path to an empty hash will remove the path from the version. Calculate a hash by Gzipping the file then taking the SHA256 hash of the newly compressed file."
        }
      }
    },
    "Redirect": {
      "id": "Redirect",
      "description": "A [`Redirect`](https://firebase.google.com/docs/hosting/full-config#redirects) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond with a redirect to the specified destination path.",
      "properties": {
        "regex": {
          "type": "string",
          "description": "The user-supplied RE2 regular expression to match against the request URL path."
        },
        "location": {
          "type": "string",
          "description": "Required. The value to put in the HTTP location header of the response. The location can contain capture group values from the pattern using a `:` prefix to identify the segment and an optional `*` to capture the rest of the URL. For example: \"glob\": \"/:capture*\", \"statusCode\": 301, \"location\": \"https://example.com/foo/:capture\""
        },
        "glob": {
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path.",
          "type": "string"
        },
        "statusCode": {
          "type": "integer",
          "description": "Required. The status HTTP code to return in the response. It must be a valid 3xx status code.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ServingConfig": {
      "description": "The configuration for how incoming requests to a site should be routed and processed before serving content. The URL request paths are matched against the specified URL patterns in the configuration, then Hosting applies the applicable configuration according to a specific [priority order](https://firebase.google.com/docs/hosting/full-config#hosting_priority_order).",
      "id": "ServingConfig",
      "type": "object",
      "properties": {
        "cleanUrls": {
          "description": "Defines whether to drop the file extension from uploaded files.",
          "type": "boolean"
        },
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "type": "array",
          "description": "An array of objects, where each object specifies a URL pattern that, if matched to the request URL path, triggers Hosting to apply the specified custom response headers."
        },
        "redirects": {
          "items": {
            "$ref": "Redirect"
          },
          "description": "An array of objects (called redirect rules), where each rule specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond with a redirect to the specified destination path.",
          "type": "array"
        },
        "appAssociation": {
          "description": "How to handle well known App Association files.",
          "enum": [
            "AUTO",
            "NONE"
          ],
          "enumDescriptions": [
            "The app association files will be automatically created from the apps that exist in the Firebase project.",
            "No special handling of the app association files will occur, these paths will result in a 404 unless caught with a Rewrite."
          ],
          "type": "string"
        },
        "i18n": {
          "description": "Optional. Defines i18n rewrite behavior.",
          "$ref": "I18nConfig"
        },
        "trailingSlashBehavior": {
          "description": "Defines how to handle a trailing slash in the URL path.",
          "enumDescriptions": [
            "No behavior is specified. Files are served at their exact location only, and trailing slashes are only added to directory indexes.",
            "Trailing slashes are _added_ to directory indexes as well as to any URL path not ending in a file extension.",
            "Trailing slashes are _removed_ from directory indexes as well as from any URL path not ending in a file extension."
          ],
          "type": "string",
          "enum": [
            "TRAILING_SLASH_BEHAVIOR_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "rewrites": {
          "items": {
            "$ref": "Rewrite"
          },
          "type": "array",
          "description": "An array of objects (called rewrite rules), where each rule specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond as if the service were given the specified destination URL."
        }
      }
    },
    "PreviewConfig": {
      "description": "Deprecated in favor of [site channels](sites.channels).",
      "type": "object",
      "id": "PreviewConfig",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Indicates the expiration time for previewing this version; preview URL requests received after this time will 404.",
          "format": "google-datetime"
        },
        "active": {
          "type": "boolean",
          "description": "If true, preview URLs are enabled for this version."
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "properties": {
        "labels": {
          "description": "Text labels used for extra metadata and/or filtering.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ttl": {
          "description": "Input only. A time-to-live for this channel. Sets `expire_time` to the provided duration past the time of the request.",
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "type": "string",
          "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The time at which the channel will be automatically deleted. If null, the channel will not be automatically deleted. This field is present in the output whether it's set directly or via the `ttl` field.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the channel was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "url": {
          "readOnly": true,
          "description": "Output only. The URL at which the content of this channel's current release can be viewed. This URL is a Firebase-provided subdomain of `web.app`. The content of this channel's current release can also be viewed at the Firebase-provided subdomain of `firebaseapp.com`. If this channel is the `live` channel for the Hosting site, then the content of this channel's current release can also be viewed at any connected custom domains.",
          "type": "string"
        },
        "retainedReleaseCount": {
          "description": "The number of previous releases to retain on the channel for rollback or other purposes. Must be a number between 1-100. Defaults to 10 for new channels.",
          "format": "int32",
          "type": "integer"
        },
        "release": {
          "$ref": "Release",
          "description": "Output only. The current release for the channel, if any.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time at which the channel was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A `Channel` represents a stream of releases for a site. All sites have a default `live` channel that serves content to the Firebase-provided subdomains and any connected custom domains.",
      "type": "object"
    },
    "ListChannelsResponse": {
      "properties": {
        "channels": {
          "type": "array",
          "description": "The list of channels.",
          "items": {
            "$ref": "Channel"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListChannels`. Page tokens are short-lived and should not be stored."
        }
      },
      "type": "object",
      "id": "ListChannelsResponse"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object"
    },
    "ListReleasesResponse": {
      "id": "ListReleasesResponse",
      "type": "object",
      "properties": {
        "releases": {
          "items": {
            "$ref": "Release"
          },
          "description": "The list of hashes of files that still need to be uploaded, if any exist.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListReleases`. Page tokens are short-lived and should not be stored.",
          "type": "string"
        }
      }
    },
    "SiteConfig": {
      "description": "A `SiteConfig` contains metadata associated with a specific site that controls Firebase Hosting serving behavior",
      "id": "SiteConfig",
      "properties": {
        "maxVersions": {
          "type": "string",
          "description": "The number of FINALIZED versions that will be held for a site before automatic deletion. When a new version is deployed, content for versions in storage in excess of this number will be deleted, and will no longer be billed for storage usage. Oldest versions will be deleted first; sites are created with an unlimited number of max_versions by default.",
          "format": "int64"
        },
        "cloudLoggingEnabled": {
          "type": "boolean",
          "description": "Whether or not web requests made by site visitors are logged via Cloud Logging."
        }
      },
      "type": "object"
    },
    "CloneVersionRequest": {
      "id": "CloneVersionRequest",
      "properties": {
        "sourceVersion": {
          "type": "string",
          "description": "Required. The unique identifier for the version to be cloned, in the format: sites/SITE_ID/versions/VERSION_ID"
        },
        "exclude": {
          "$ref": "PathFilter",
          "description": "If provided, only paths that do not match any of the RegEx values in this list will be included in the new version."
        },
        "finalize": {
          "description": "If true, the call to `CloneVersion` immediately finalizes the version after cloning is complete. If false, the cloned version will have a status of `CREATED`. Use [`UpdateVersion`](patch) to set the status of the version to `FINALIZED`.",
          "type": "boolean"
        },
        "include": {
          "$ref": "PathFilter",
          "description": "If provided, only paths that match one or more RegEx values in this list will be included in the new version."
        }
      },
      "type": "object"
    },
    "Release": {
      "type": "object",
      "description": " A `Release` is a particular [collection of configurations and files](sites.versions) that is set to be public at a particular time.",
      "properties": {
        "name": {
          "description": "Output only. The unique identifier for the release, in either of the following formats: - sites/SITE_ID/releases/RELEASE_ID - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID This name is provided in the response body when you call [`releases.create`](sites.releases/create) or [`channels.releases.create`](sites.channels.releases/create).",
          "type": "string"
        },
        "version": {
          "$ref": "Version",
          "description": "Output only. The configuration and content that was released."
        },
        "message": {
          "type": "string",
          "description": "The deploy description when the release was created. The value can be up to 512 characters."
        },
        "type": {
          "enumDescriptions": [
            "An unspecified type. Indicates that a version was released. This is the default value when no other `type` is explicitly specified.",
            "A version was uploaded to Firebase Hosting and released.",
            "The release points back to a previously deployed version.",
            "The release prevents the site from serving content. Firebase Hosting acts as if the site never existed."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEPLOY",
            "ROLLBACK",
            "SITE_DISABLE"
          ],
          "description": "Explains the reason for the release. Specify a value for this field only when creating a `SITE_DISABLE` type release.",
          "type": "string"
        },
        "releaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the version is set to be public."
        },
        "releaseUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who created the release."
        }
      },
      "id": "Release"
    },
    "ListVersionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListVersions`. Page tokens are short-lived and should not be stored.",
          "type": "string"
        },
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "description": "The list of versions, if any exist.",
          "type": "array"
        }
      },
      "id": "ListVersionsResponse"
    },
    "Rewrite": {
      "id": "Rewrite",
      "description": "A [`Rewrite`](https://firebase.google.com/docs/hosting/full-config#rewrites) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond as if the service were given the specified destination URL.",
      "type": "object",
      "properties": {
        "regex": {
          "type": "string",
          "description": "The user-supplied RE2 regular expression to match against the request URL path."
        },
        "run": {
          "description": "The request will be forwarded to Cloud Run.",
          "$ref": "CloudRunRewrite"
        },
        "dynamicLinks": {
          "description": "The request will be forwarded to Firebase Dynamic Links.",
          "type": "boolean"
        },
        "glob": {
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path.",
          "type": "string"
        },
        "function": {
          "description": "The function to proxy requests to. Must match the exported function name exactly.",
          "type": "string"
        },
        "path": {
          "description": "The URL path to rewrite the request to.",
          "type": "string"
        }
      }
    },
    "CertDnsChallenge": {
      "id": "CertDnsChallenge",
      "description": "Represents a DNS certificate challenge.",
      "type": "object",
      "properties": {
        "domainName": {
          "description": "The domain name upon which the DNS challenge must be satisfied.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "The value that must be present as a TXT record on the domain name to satisfy the challenge."
        }
      }
    },
    "Header": {
      "properties": {
        "glob": {
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path.",
          "type": "string"
        },
        "headers": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. The additional headers to add to the response."
        },
        "regex": {
          "type": "string",
          "description": "The user-supplied RE2 regular expression to match against the request URL path."
        }
      },
      "id": "Header",
      "description": "A [`Header`](https://firebase.google.com/docs/hosting/full-config#headers) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to apply the specified custom response headers.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object"
    },
    "VersionFile": {
      "description": "A static content file that is part of a version.",
      "type": "object",
      "id": "VersionFile",
      "properties": {
        "status": {
          "enumDescriptions": [
            "The default status; should not be intentionally used.",
            "The file has been included in the version and is expected to be uploaded in the near future.",
            "The file has already been uploaded to Firebase Hosting."
          ],
          "type": "string",
          "description": "Output only. The current status of a particular file in the specified version. The value will be either `pending upload` or `uploaded`.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "EXPECTED",
            "ACTIVE"
          ]
        },
        "hash": {
          "type": "string",
          "description": "The SHA256 content hash of the file."
        },
        "path": {
          "description": "The URI at which the file's content should display.",
          "type": "string"
        }
      }
    },
    "DomainProvisioning": {
      "description": "The current certificate provisioning status information for a domain.",
      "type": "object",
      "properties": {
        "certChallengeDns": {
          "$ref": "CertDnsChallenge",
          "description": "The DNS challenge for generating a certificate."
        },
        "dnsFetchTime": {
          "type": "string",
          "description": "The time at which the last DNS fetch occurred.",
          "format": "google-datetime"
        },
        "dnsStatus": {
          "enum": [
            "DNS_STATUS_UNSPECIFIED",
            "DNS_PENDING",
            "DNS_MISSING",
            "DNS_PARTIAL_MATCH",
            "DNS_MATCH",
            "DNS_EXTRANEOUS_MATCH"
          ],
          "description": "The DNS record match status as of the last DNS fetch.",
          "enumDescriptions": [
            "Unspecified DNS status.",
            "No DNS records have been specified for this domain yet.",
            "None of the required DNS records have been detected on the domain.",
            "Some of the required DNS records were detected, but not all of them. No extra (non-required) DNS records were detected.",
            "All required DNS records were detected. No extra (non-required) DNS records were detected.",
            "The domain has at least one of the required DNS records, and it has at least one extra (non-required) DNS record."
          ],
          "type": "string"
        },
        "discoveredIps": {
          "description": "The IPs found at the last DNS fetch.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "certStatus": {
          "description": "The certificate provisioning status; updated when Firebase Hosting provisions an SSL certificate for the domain.",
          "enumDescriptions": [
            "Unspecified certificate provisioning status.",
            "Waiting for certificate challenge to be created.",
            "Waiting for certificate challenge to be met.",
            "Certificate challenge met; attempting to acquire/propagate certificate.",
            "Certificate obtained; propagating to the CDN.",
            "Certificate provisioned and deployed across the CDN.",
            "Certificate provisioning failed in a non-recoverable manner."
          ],
          "type": "string",
          "enum": [
            "CERT_STATUS_UNSPECIFIED",
            "CERT_PENDING",
            "CERT_MISSING",
            "CERT_PROCESSING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_ERROR"
          ]
        },
        "certChallengeDiscoveredTxt": {
          "description": "The TXT records (for the certificate challenge) that were found at the last DNS fetch.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certChallengeHttp": {
          "description": "The HTTP challenge for generating a certificate.",
          "$ref": "CertHttpChallenge"
        },
        "expectedIps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of IPs to which the domain is expected to resolve."
        }
      },
      "id": "DomainProvisioning"
    }
  },
  "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "firebasehosting.projects.operations.get"
            }
          }
        },
        "sites": {
          "methods": {
            "updateConfig": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Sets the Hosting metadata for a specific site.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SiteConfig"
              },
              "id": "firebasehosting.projects.sites.updateConfig",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "SiteConfig"
              }
            },
            "getConfig": {
              "id": "firebasehosting.projects.sites.getConfig",
              "description": "Gets the Hosting metadata for a specific site.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "SiteConfig"
              },
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing."
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40."
                }
              },
              "id": "firebasehosting.projects.sites.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/sites",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "ListSitesResponse"
              },
              "httpMethod": "GET"
            },
            "delete": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+$"
                }
              },
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project.",
              "response": {
                "$ref": "Empty"
              },
              "id": "firebasehosting.projects.sites.delete",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "DELETE"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Site"
              },
              "description": "Gets the specified Hosting Site.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.projects.sites.get",
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}"
            },
            "create": {
              "id": "firebasehosting.projects.sites.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "request": {
                "$ref": "Site"
              },
              "path": "v1beta1/{+parent}/sites",
              "response": {
                "$ref": "Site"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "siteId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems."
            },
            "patch": {
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "PATCH",
              "id": "firebasehosting.projects.sites.patch",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Site"
              },
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "A set of field names from your Site that you want to update.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+$"
                }
              },
              "response": {
                "$ref": "Site"
              },
              "description": "Updates attributes of the specified Hosting Site."
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "firebasehosting.projects.sites.releases.list",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  }
                },
                "create": {
                  "path": "v1beta1/{+parent}/releases",
                  "response": {
                    "$ref": "Release"
                  },
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "id": "firebasehosting.projects.sites.releases.create",
                  "parameters": {
                    "versionName": {
                      "type": "string",
                      "location": "query",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "Release"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases"
                }
              }
            },
            "domains": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the domain association to delete."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "create": {
                  "path": "v1beta1/{+parent}/domains",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Domain"
                  },
                  "id": "firebasehosting.projects.sites.domains.create",
                  "description": "Creates a domain mapping on the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "update": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Domain"
                  },
                  "httpMethod": "PUT",
                  "path": "v1beta1/{+name}",
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "id": "firebasehosting.projects.sites.domains.update",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "Domain"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The page size to return. Defaults to 50.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name"
                    },
                    "pageToken": {
                      "description": "The next_page_token from a previous request, if provided.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.list",
                  "path": "v1beta1/{+parent}/domains",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the domains for the specified site."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the domain configuration to get."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a domain mapping on the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "id": "firebasehosting.projects.sites.domains.get",
                  "response": {
                    "$ref": "Domain"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                }
              }
            },
            "channels": {
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                          "location": "path",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/releases",
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "id": "firebasehosting.projects.sites.channels.releases.list"
                    },
                    "create": {
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "path": "v1beta1/{+parent}/releases",
                      "parameters": {
                        "versionName": {
                          "type": "string",
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "Release"
                      },
                      "response": {
                        "$ref": "Release"
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListChannelsResponse"
                  },
                  "path": "v1beta1/{+parent}/channels",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "id": "firebasehosting.projects.sites.channels.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing."
                    }
                  }
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "description": "Creates a new channel in the specified site.",
                  "parameters": {
                    "channelId": {
                      "location": "query",
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Channel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/channels",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Channel"
                  },
                  "id": "firebasehosting.projects.sites.channels.create"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "A comma-separated list of fields to be updated in this request.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true,
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Channel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "request": {
                    "$ref": "Channel"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Retrieves information for the specified channel of the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "id": "firebasehosting.projects.sites.channels.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Channel"
                  },
                  "path": "v1beta1/{+name}"
                }
              }
            },
            "versions": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100."
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/versions",
                  "id": "firebasehosting.projects.sites.versions.list"
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "type": "string"
                    },
                    "name": {
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Version"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Version"
                  },
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`."
                },
                "populateFiles": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "location": "path"
                    }
                  },
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "path": "v1beta1/{+parent}:populateFiles",
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "httpMethod": "POST",
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "path": "v1beta1/{+parent}/versions",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "response": {
                    "$ref": "Version"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new version for the specified site.",
                  "request": {
                    "$ref": "Version"
                  },
                  "parameters": {
                    "versionId": {
                      "type": "string",
                      "location": "query",
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "sizeBytes": {
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "location": "query",
                      "format": "int64",
                      "type": "string"
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.create"
                },
                "delete": {
                  "description": "Deletes the specified version.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "clone": {
                  "path": "v1beta1/{+parent}/versions:clone",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID"
                    }
                  },
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "status": {
                          "description": " The type of files that should be listed for the specified version.",
                          "type": "string",
                          "location": "query",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ]
                        },
                        "parent": {
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000."
                        },
                        "pageToken": {
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/files",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "id": "firebasehosting.projects.sites.versions.files.list"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "sites": {
      "resources": {
        "releases": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.sites.releases.list",
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/releases"
            },
            "create": {
              "response": {
                "$ref": "Release"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.sites.releases.create",
              "request": {
                "$ref": "Release"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/releases",
              "parameters": {
                "parent": {
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+$"
                },
                "versionName": {
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "flatPath": "v1beta1/sites/{sitesId}/releases"
            }
          }
        },
        "domains": {
          "methods": {
            "get": {
              "id": "firebasehosting.sites.domains.get",
              "description": "Gets a domain mapping on the specified site.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the domain configuration to get.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Domain"
              },
              "httpMethod": "GET"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.domains.delete",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the domain association to delete.",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/domains/[^/]+$"
[...]
