{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version": "v1beta1",
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "protocol": "rest",
  "description": "The Firebase Hosting REST API enables programmatic and customizable management and deployments to your Firebase-hosted sites. Use this REST API to create and manage channels and sites as well as to deploy new or updated hosting configurations and content files.",
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "batchPath": "batch",
  "basePath": "",
  "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "resources": {
    "sites": {
      "resources": {
        "channels": {
          "resources": {
            "releases": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "id": "firebasehosting.sites.channels.releases.create",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Release"
                  },
                  "request": {
                    "$ref": "Release"
                  },
                  "path": "v1beta1/{+parent}/releases"
                },
                "list": {
                  "id": "firebasehosting.sites.channels.releases.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "required": true,
                      "location": "path",
                      "pattern": "^sites/[^/]+/channels/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/releases",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "firebasehosting.sites.channels.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "path": "v1beta1/{+parent}/channels",
              "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListChannelsResponse"
              }
            },
            "get": {
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID"
                }
              },
              "id": "firebasehosting.sites.channels.get",
              "response": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves information for the specified channel of the specified site.",
              "httpMethod": "GET"
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "id": "firebasehosting.sites.channels.delete"
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new channel in the specified site.",
              "parameters": {
                "channelId": {
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "id": "firebasehosting.sites.channels.create",
              "path": "v1beta1/{+parent}/channels"
            },
            "patch": {
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              },
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.channels.patch",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "A comma-separated list of fields to be updated in this request.",
                  "type": "string"
                },
                "name": {
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            }
          }
        },
        "versions": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes the specified version.",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID"
                }
              },
              "id": "firebasehosting.sites.versions.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "populateFiles": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "path": "v1beta1/{+parent}:populateFiles",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "id": "firebasehosting.sites.versions.populateFiles",
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID"
                }
              },
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              }
            },
            "create": {
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "id": "firebasehosting.sites.versions.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "Version"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}/versions",
              "parameters": {
                "sizeBytes": {
                  "format": "int64",
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "location": "query",
                  "type": "string"
                },
                "versionId": {
                  "location": "query",
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID"
                }
              },
              "description": "Creates a new version for the specified site.",
              "request": {
                "$ref": "Version"
              }
            },
            "patch": {
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Version"
              },
              "httpMethod": "PATCH",
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "id": "firebasehosting.sites.versions.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Version"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "id": "firebasehosting.sites.versions.list",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1beta1/{+parent}/versions"
            },
            "clone": {
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "firebasehosting.sites.versions.clone",
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+$"
                }
              },
              "path": "v1beta1/{+parent}/versions:clone",
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone"
            }
          },
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "id": "firebasehosting.sites.versions.files.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/files",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "location": "path",
                      "pattern": "^sites/[^/]+/versions/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "location": "query"
                    },
                    "status": {
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ],
                      "description": " The type of files that should be listed for the specified version."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        },
        "domains": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The page size to return. Defaults to 50.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The next_page_token from a previous request, if provided.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "firebasehosting.sites.domains.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Lists the domains for the specified site.",
              "httpMethod": "GET",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "path": "v1beta1/{+parent}/domains",
              "response": {
                "$ref": "ListDomainsResponse"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}/domains",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "id": "firebasehosting.sites.domains.create",
              "response": {
                "$ref": "Domain"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+$"
                }
              },
              "request": {
                "$ref": "Domain"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a domain mapping on the specified site."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the existing domain mapping on the specified site.",
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.domains.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the domain association to delete.",
                  "required": true,
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Domain"
              },
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.domains.get",
              "httpMethod": "GET",
              "description": "Gets a domain mapping on the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the domain configuration to get.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$"
                }
              }
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.domains.update",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "response": {
                "$ref": "Domain"
              },
              "request": {
                "$ref": "Domain"
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist."
                }
              },
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist."
            }
          }
        },
        "releases": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+parent}/releases",
              "id": "firebasehosting.sites.releases.list",
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/releases"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "versionName": {
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "response": {
                "$ref": "Release"
              },
              "path": "v1beta1/{+parent}/releases",
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "id": "firebasehosting.sites.releases.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "Release"
              }
            }
          }
        }
      },
      "methods": {
        "updateConfig": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "pattern": "^sites/[^/]+/config$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "SiteConfig"
          },
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SiteConfig"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "PATCH",
          "description": "Sets the Hosting metadata for a specific site.",
          "id": "firebasehosting.sites.updateConfig"
        },
        "getConfig": {
          "description": "Gets the Hosting metadata for a specific site.",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
              "location": "path",
              "type": "string",
              "pattern": "^sites/[^/]+/config$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SiteConfig"
          },
          "path": "v1beta1/{+name}",
          "httpMethod": "GET",
          "id": "firebasehosting.sites.getConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "flatPath": "v1beta1/sites/{sitesId}/config"
        }
      }
    },
    "projects": {
      "resources": {
        "sites": {
          "resources": {
            "domains": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "description": "Required. The name of the domain association to delete.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the existing domain mapping on the specified site."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.create",
                  "path": "v1beta1/{+parent}/domains",
                  "response": {
                    "$ref": "Domain"
                  },
                  "request": {
                    "$ref": "Domain"
                  },
                  "description": "Creates a domain mapping on the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Domain"
                  },
                  "description": "Gets a domain mapping on the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "id": "firebasehosting.projects.sites.domains.get",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the domain configuration to get.",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "path": "v1beta1/{+parent}/domains",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "id": "firebasehosting.projects.sites.domains.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the domains for the specified site.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "The next_page_token from a previous request, if provided.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The page size to return. Defaults to 50.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "update": {
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Domain"
                  },
                  "httpMethod": "PUT",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.domains.update"
                }
              }
            },
            "channels": {
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                        }
                      },
                      "path": "v1beta1/{+parent}/releases",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "id": "firebasehosting.projects.sites.channels.releases.list"
                    },
                    "create": {
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "path": "v1beta1/{+parent}/releases",
                      "request": {
                        "$ref": "Release"
                      },
                      "parameters": {
                        "versionName": {
                          "type": "string",
                          "location": "query",
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "type": "string",
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "response": {
                        "$ref": "Release"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "description": "Retrieves information for the specified channel of the specified site.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID"
                    }
                  },
                  "id": "firebasehosting.projects.sites.channels.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "response": {
                    "$ref": "Channel"
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "description": "A comma-separated list of fields to be updated in this request.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "path": "v1beta1/{+name}",
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Channel"
                  },
                  "request": {
                    "$ref": "Channel"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListChannelsResponse"
                  },
                  "path": "v1beta1/{+parent}/channels",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "id": "firebasehosting.projects.sites.channels.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "Channel"
                  },
                  "parameters": {
                    "channelId": {
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    }
                  },
                  "path": "v1beta1/{+parent}/channels",
                  "response": {
                    "$ref": "Channel"
                  },
                  "description": "Creates a new channel in the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "id": "firebasehosting.projects.sites.channels.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "versions": {
              "methods": {
                "create": {
                  "id": "firebasehosting.projects.sites.versions.create",
                  "description": "Creates a new version for the specified site.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "request": {
                    "$ref": "Version"
                  },
                  "parameters": {
                    "versionId": {
                      "type": "string",
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID"
                    },
                    "sizeBytes": {
                      "location": "query",
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "format": "int64",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Version"
                  },
                  "path": "v1beta1/{+parent}/versions"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/versions",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160)."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing."
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.list"
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified version.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "populateFiles": {
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}:populateFiles",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles"
                },
                "clone": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta1/{+parent}/versions:clone",
                  "request": {
                    "$ref": "CloneVersionRequest"
                  }
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "parameters": {
                        "pageToken": {
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                          "type": "string",
                          "location": "query"
                        },
                        "status": {
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "description": " The type of files that should be listed for the specified version."
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                          "location": "query"
                        }
                      },
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "path": "v1beta1/{+parent}/files",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ]
                    }
                  }
                }
              }
            },
            "releases": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "firebasehosting.projects.sites.releases.list",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "parameters": {
                    "pageToken": {
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/releases",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  }
                },
                "create": {
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "path": "v1beta1/{+parent}/releases",
                  "id": "firebasehosting.projects.sites.releases.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Release"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true
                    },
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Release"
                  }
                }
              }
            }
          },
          "methods": {
            "getConfig": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "firebasehosting.projects.sites.getConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
                }
              },
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "SiteConfig"
              },
              "description": "Gets the Hosting metadata for a specific site."
            },
            "delete": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project.",
              "id": "firebasehosting.projects.sites.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values."
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40.",
                  "location": "query"
                }
              },
              "path": "v1beta1/{+parent}/sites",
              "id": "firebasehosting.projects.sites.list",
              "response": {
                "$ref": "ListSitesResponse"
              },
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "request": {
                "$ref": "Site"
              },
              "id": "firebasehosting.projects.sites.create",
              "httpMethod": "POST",
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems.",
              "path": "v1beta1/{+parent}/sites",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values."
                },
                "siteId": {
                  "type": "string",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Site"
              }
            },
            "updateConfig": {
              "id": "firebasehosting.projects.sites.updateConfig",
              "request": {
                "$ref": "SiteConfig"
              },
              "response": {
                "$ref": "SiteConfig"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "type": "string",
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "location": "path"
                },
                "updateMask": {
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Sets the Hosting metadata for a specific site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}"
            },
            "patch": {
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "Site"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "parameters": {
                "name": {
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "description": "A set of field names from your Site that you want to update.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates attributes of the specified Hosting Site.",
              "httpMethod": "PATCH",
              "id": "firebasehosting.projects.sites.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Site"
              }
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "description": "Gets the specified Hosting Site.",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Site"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "firebasehosting.projects.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Firebase Hosting",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "servicePath": "",
  "title": "Firebase Hosting API",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "version_module": true,
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "name": "firebasehosting",
  "revision": "20210411",
  "schemas": {
    "Header": {
      "description": "A [`Header`](https://firebase.google.com/docs/hosting/full-config#headers) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to apply the specified custom response headers.",
      "properties": {
        "glob": {
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path.",
          "type": "string"
        },
        "regex": {
          "type": "string",
          "description": "The user-supplied RE2 regular expression to match against the request URL path."
        },
        "headers": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. The additional headers to add to the response.",
          "type": "object"
        }
      },
      "id": "Header",
      "type": "object"
    },
    "SiteConfig": {
      "type": "object",
      "properties": {
        "maxVersions": {
          "description": "The number of FINALIZED versions that will be held for a site before automatic deletion. When a new version is deployed, content for versions in storage in excess of this number will be deleted, and will no longer be billed for storage usage. Oldest versions will be deleted first; sites are created with an unlimited number of max_versions by default.",
          "format": "int64",
          "type": "string"
        },
        "cloudLoggingEnabled": {
          "type": "boolean",
          "description": "Whether or not web requests made by site visitors are logged via Cloud Logging."
        }
      },
      "id": "SiteConfig",
      "description": "A `SiteConfig` contains metadata associated with a specific site that controls Firebase Hosting serving behavior"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "PathFilter": {
      "type": "object",
      "description": "A representation of filter path.",
      "id": "PathFilter",
      "properties": {
        "regexes": {
          "description": "An array of RegEx values by which to filter.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CertDnsChallenge": {
      "description": "Represents a DNS certificate challenge.",
      "id": "CertDnsChallenge",
      "properties": {
        "domainName": {
          "description": "The domain name upon which the DNS challenge must be satisfied.",
          "type": "string"
        },
        "token": {
          "description": "The value that must be present as a TXT record on the domain name to satisfy the challenge.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Redirect": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. The value to put in the HTTP location header of the response. The location can contain capture group values from the pattern using a `:` prefix to identify the segment and an optional `*` to capture the rest of the URL. For example: \"glob\": \"/:capture*\", \"statusCode\": 301, \"location\": \"https://example.com/foo/:capture\""
        },
        "regex": {
          "description": "The user-supplied RE2 regular expression to match against the request URL path.",
          "type": "string"
        },
        "statusCode": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The status HTTP code to return in the response. It must be a valid 3xx status code."
        },
        "glob": {
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A [`Redirect`](https://firebase.google.com/docs/hosting/full-config#redirects) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond with a redirect to the specified destination path.",
      "id": "Redirect"
    },
    "Version": {
      "type": "object",
      "description": "A `Version` is a configuration and a collection of static files which determine how a site is displayed.",
      "properties": {
        "name": {
          "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
          "type": "string"
        },
        "config": {
          "description": "The configuration for the behavior of the site. This configuration exists in the [`firebase.json`](https://firebase.google.com/docs/cli/#the_firebasejson_file) file.",
          "$ref": "ServingConfig"
        },
        "createTime": {
          "description": "Output only. The time at which the version was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "description": "The labels used for extra metadata and/or filtering.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "finalizeUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who `FINALIZED` the version."
        },
        "createUser": {
          "description": "Output only. Identifies the user who created the version.",
          "$ref": "ActingUser"
        },
        "status": {
          "enumDescriptions": [
            "The default status; should not be intentionally used.",
            "The version has been created, and content is currently being added to the version.",
            "All content has been added to the version, and the version can no longer be changed.",
            "The version has been deleted.",
            "The version was not updated to `FINALIZED` within 12 hours and was automatically deleted.",
            "The version is outside the site-configured limit for the number of retained versions, so the version's content is scheduled for deletion.",
            "The version is being cloned from another version. All content is still being copied over."
          ],
          "description": "The deploy status of the version. For a successful deploy, call [`CreateVersion`](sites.versions/create) to make a new version (`CREATED` status), [upload all desired files](sites.versions/populateFiles) to the version, then [update](sites.versions/patch) the version to the `FINALIZED` status. Note that if you leave the version in the `CREATED` state for more than 12 hours, the system will automatically mark the version as `ABANDONED`. You can also change the status of a version to `DELETED` by calling [`DeleteVersion`](sites.versions/delete).",
          "type": "string",
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "CREATED",
            "FINALIZED",
            "DELETED",
            "ABANDONED",
            "EXPIRED",
            "CLONING"
          ]
        },
        "deleteUser": {
          "$ref": "ActingUser",
          "description": "Output only. Identifies the user who `DELETED` the version."
        },
        "preview": {
          "$ref": "PreviewConfig",
          "description": "Deprecated in favor of [site channels](sites.channels)."
        },
        "finalizeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the version was `FINALIZED`."
        },
        "deleteTime": {
          "description": "Output only. The time at which the version was `DELETED`.",
          "format": "google-datetime",
          "type": "string"
        },
        "fileCount": {
          "format": "int64",
          "description": "Output only. The total number of files associated with the version. This value is calculated after a version is `FINALIZED`.",
          "type": "string"
        },
        "versionBytes": {
          "description": "Output only. The total stored bytesize of the version. This value is calculated after a version is `FINALIZED`.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Version"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
[...]
