{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://firebasedatabase.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "instances": {
              "methods": {
                "reenable": {
                  "parameters": {
                    "name": {
                      "description": "The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ReenableDatabaseInstanceRequest"
                  },
                  "response": {
                    "$ref": "DatabaseInstance"
                  },
                  "description": "Enables a DatabaseInstance. The database must have been disabled previously using DisableDatabaseInstance. The state of a successfully reenabled DatabaseInstance is ACTIVE.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "path": "v1beta/{+name}:reenable",
                  "id": "firebasedatabase.projects.locations.instances.reenable",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:reenable"
                },
                "create": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "DatabaseInstance"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DatabaseInstance"
                  },
                  "parameters": {
                    "validateOnly": {
                      "description": "When set to true, the request will be validated but not submitted.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "databaseId": {
                      "type": "string",
                      "description": "The globally unique identifier of the database instance.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The parent project for which to create a database instance, in the form: `projects/{project-number}/locations/{location-id}`."
                    }
                  },
                  "description": "Requests that a new DatabaseInstance be created. The state of a successfully created DatabaseInstance is ACTIVE. Only available for projects on the Blaze plan. Projects can be upgraded using the Cloud Billing API https://cloud.google.com/billing/reference/rest/v1/projects/updateBillingInfo. Note that it might take a few minutes for billing enablement state to propagate to Firebase systems.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta/{+parent}/instances",
                  "id": "firebasedatabase.projects.locations.instances.create"
                },
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "id": "firebasedatabase.projects.locations.instances.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`. `database-id` is a globally unique identifier across all parent collections. For convenience, this method allows you to supply `-` as a wildcard character in place of specific collections under `projects` and `locations`. The resulting wildcarding form of the method is: `projects/-/locations/-/instances/{database-id}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "description": "Gets the DatabaseInstance identified by the specified resource name.",
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "DatabaseInstance"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "DatabaseInstance"
                  },
                  "path": "v1beta/{+name}",
                  "description": "Marks a DatabaseInstance to be deleted. The DatabaseInstance will be purged within 30 days. The default database cannot be deleted. IDs for deleted database instances may never be recovered or re-used. The Database may only be deleted if it is already in a DISABLED state.",
                  "id": "firebasedatabase.projects.locations.instances.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "description": "The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "disable": {
                  "id": "firebasedatabase.projects.locations.instances.disable",
                  "description": "Disables a DatabaseInstance. The database can be re-enabled later using ReenableDatabaseInstance. When a database is disabled, all reads and writes are denied, including view access in the Firebase console.",
                  "response": {
                    "$ref": "DatabaseInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}:disable",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DisableDatabaseInstanceRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "id": "firebasedatabase.projects.locations.instances.list",
                  "path": "v1beta/{+parent}/instances",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Token returned from a previous call to `ListDatabaseInstances` indicating where in the set of database instances to resume listing.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "The parent project for which to list database instances, in the form: `projects/{project-number}/locations/{location-id}` To list across all locations, use a parent in the form: `projects/{project-number}/locations/-`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of database instances to return in the response. The server may return fewer than this at its discretion. If no value is specified (or too large a value is specified), then the server will impose its own limit.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListDatabaseInstancesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists each DatabaseInstance associated with the specified parent project. The list items are returned in no particular order, but will be a consistent view of the database instances when additional requests are made with a `pageToken`. The resulting list contains instances in any STATE. The list results may be stale by a few seconds. Use GetDatabaseInstance for consistent reads.",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/instances"
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "firebasedatabase",
  "ownerDomain": "google.com",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "DisableDatabaseInstanceRequest": {
      "type": "object",
      "id": "DisableDatabaseInstanceRequest",
      "properties": {},
      "description": "The request sent to the DisableDatabaseInstance method."
    },
    "ReenableDatabaseInstanceRequest": {
      "type": "object",
      "description": "The request sent to the ReenableDatabaseInstance method.",
      "id": "ReenableDatabaseInstanceRequest",
      "properties": {}
    },
    "ListDatabaseInstancesResponse": {
      "type": "object",
      "id": "ListDatabaseInstancesResponse",
      "description": "The response from the ListDatabaseInstances method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty, then this response is the last page of results. This token can be used in a subsequent call to `ListDatabaseInstances` to find the next group of database instances. Page tokens are short-lived and should not be persisted."
        },
        "instances": {
          "items": {
            "$ref": "DatabaseInstance"
          },
          "description": "List of each DatabaseInstance that is in the parent Firebase project.",
          "type": "array"
        }
      }
    },
    "DatabaseInstance": {
      "type": "object",
      "properties": {
        "databaseUrl": {
          "description": "Immutable. The globally unique hostname of the database.",
          "type": "string"
        },
        "type": {
          "enum": [
            "DATABASE_INSTANCE_TYPE_UNSPECIFIED",
            "DEFAULT_DATABASE",
            "USER_DATABASE"
          ],
          "type": "string",
          "description": "The database instance type. On creation only USER_DATABASE is allowed, which is also the default when omitted.",
          "enumDescriptions": [
            "Unknown state, likely the result of an error on the backend. This is only used for distinguishing unset values.",
            "The default database that is provisioned when a project is created.",
            "A database that the user created."
          ]
        },
        "project": {
          "type": "string",
          "description": "The resource name of the project this instance belongs to. For example: `projects/{project-number}`."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state, likely the result of an error on the backend. This is only used for distinguishing unset values.",
            "The normal and active state.",
            "The database is in a disabled state. It can be re-enabled later.",
            "The database is in a deleted state."
          ],
          "type": "string",
          "description": "The database's lifecycle state. Read-only.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DISABLED",
            "DELETED"
          ]
        },
        "name": {
          "description": "The fully qualified resource name of the database instance, in the form: `projects/{project-number}/locations/{location-id}/instances/{database-id}`.",
          "type": "string"
        }
      },
      "description": "Representation of a Realtime Database instance. Details on interacting with contents of a DatabaseInstance can be found at: https://firebase.google.com/docs/database/rest/start.",
      "id": "DatabaseInstance"
    }
  },
  "title": "Firebase Realtime Database Management API",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "revision": "20210616",
  "protocol": "rest",
  "id": "firebasedatabase:v1beta",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "baseUrl": "https://firebasedatabase.googleapis.com/",
  "rootUrl": "https://firebasedatabase.googleapis.com/",
  "canonicalName": "Firebase Realtime Database",
  "description": "The Firebase Realtime Database Management API enables programmatic provisioning and management of Realtime Database instances.",
  "version": "v1beta",
  "documentationLink": "https://firebase.google.com/docs/reference/rest/database/database-management/rest/"
}
