{
  "baseUrl": "https://firestore.googleapis.com/",
  "documentationLink": "https://cloud.google.com/firestore",
  "title": "Cloud Firestore API",
  "protocol": "rest",
  "name": "firestore",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "id": "firestore:v1",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "version": "v1",
  "servicePath": "",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ReadOnly": {
      "description": "Options for a transaction that can only be used to read documents.",
      "type": "object",
      "id": "ReadOnly",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Reads documents at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "BatchGetDocumentsResponse": {
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "found": {
          "$ref": "Document",
          "description": "A document that was requested."
        },
        "missing": {
          "type": "string",
          "description": "A document name that was requested but does not exist. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The transaction that was started as part of this request. Will only be set in the first response, and only if BatchGetDocumentsRequest.new_transaction was set in the request."
        },
        "readTime": {
          "format": "google-datetime",
          "description": "The time at which the document was read. This may be monotically increasing, in this case the previous documents in the result stream are guaranteed not to have changed between their read_time and this one.",
          "type": "string"
        }
      },
      "description": "The streamed response for Firestore.BatchGetDocuments.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1ListDatabasesResponse": {
      "id": "GoogleFirestoreAdminV1ListDatabasesResponse",
      "description": "The list of databases for a project.",
      "type": "object",
      "properties": {
        "databases": {
          "type": "array",
          "description": "The databases in the project.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Database"
          }
        }
      }
    },
    "DocumentChange": {
      "description": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected.",
      "properties": {
        "removedTargetIds": {
          "type": "array",
          "description": "A set of target IDs for targets that no longer match this document.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "targetIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "A set of target IDs of targets that match this document."
        },
        "document": {
          "$ref": "Document",
          "description": "The new state of the Document. If `mask` is set, contains only fields that were updated or added."
        }
      },
      "type": "object",
      "id": "DocumentChange"
    },
    "PartitionQueryRequest": {
      "id": "PartitionQueryRequest",
      "properties": {
        "readTime": {
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string",
          "format": "google-datetime"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`."
        },
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported."
        },
        "partitionCount": {
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available.",
          "type": "string",
          "format": "int64"
        },
        "pageToken": {
          "type": "string",
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W"
        }
      },
      "description": "The request for Firestore.PartitionQuery.",
      "type": "object"
    },
    "PartitionQueryResponse": {
      "id": "PartitionQueryResponse",
      "description": "The response for Firestore.PartitionQuery.",
      "type": "object",
      "properties": {
        "partitions": {
          "items": {
            "$ref": "Cursor"
          },
          "description": "Partition results. Each partition is a split point that can be used by RunQuery as a starting or end point for the query results. The RunQuery requests must be made with the same query supplied to this PartitionQuery request. The partition cursors will be ordered according to same ordering as the results of the query supplied to PartitionQuery. For example, if a PartitionQuery request returns partition cursors A and B, running the following three queries will return the entire result set of the original query: * query, end_at A * query, start_at A, end_at B * query, start_at B An empty result may indicate that the query has too few results to be partitioned.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token that may be used to request an additional set of results, up to the number specified by `partition_count` in the PartitionQuery request. If blank, there are no more results."
        }
      }
    },
    "LatLng": {
      "type": "object",
      "id": "LatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        }
      }
    },
    "ListDocumentsResponse": {
      "type": "object",
      "description": "The response for Firestore.ListDocuments.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of documents. If this field is omitted, there are no subsequent pages."
        },
        "documents": {
          "description": "The Documents found.",
          "items": {
            "$ref": "Document"
          },
          "type": "array"
        }
      },
      "id": "ListDocumentsResponse"
    },
    "Count": {
      "id": "Count",
      "type": "object",
      "description": "Count of documents that match the query. The `COUNT(*)` aggregation function operates on the entire document so it does not require a field reference.",
      "properties": {
        "upTo": {
          "description": "Optional. Optional constraint on the maximum number of documents to count. This provides a way to set an upper bound on the number of documents to scan, limiting latency, and cost. Unspecified is interpreted as no bound. High-Level Example: ``` AGGREGATE COUNT_UP_TO(1000) OVER ( SELECT * FROM k ); ``` Requires: * Must be greater than zero when present.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CommitRequest": {
      "properties": {
        "writes": {
          "description": "The writes to apply. Always executed atomically and in order.",
          "items": {
            "$ref": "Write"
          },
          "type": "array"
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "If set, applies all writes in this transaction, and commits it."
        }
      },
      "id": "CommitRequest",
      "type": "object",
      "description": "The request for Firestore.Commit."
    },
    "FieldTransform": {
      "id": "FieldTransform",
      "properties": {
        "appendMissingElements": {
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "fieldPath": {
          "type": "string",
          "description": "The path of the field. See Document.fields for the field path syntax reference."
        },
        "maximum": {
          "$ref": "Value",
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN."
        },
        "setToServerValue": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple fields (same or different documents) in a transaction, all the fields will get the same server timestamp."
          ],
          "type": "string",
          "description": "Sets the field to the given server value.",
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ]
        },
        "increment": {
          "$ref": "Value",
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer."
        },
        "removeAllFromArray": {
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "minimum": {
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        }
      },
      "description": "A transformation of a field of the document.",
      "type": "object"
    },
    "FieldReference": {
      "description": "A reference to a field in a document, ex: `stats.operations`.",
      "id": "FieldReference",
      "type": "object",
      "properties": {
        "fieldPath": {
          "type": "string",
          "description": "The relative path of the document being referenced. Requires: * Conform to document field name limitations."
        }
      }
    },
    "GoogleFirestoreAdminV1IndexOperationMetadata": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1IndexOperationMetadata",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.CreateIndex.",
      "properties": {
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The time this operation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "index": {
          "type": "string",
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "state": {
          "description": "The state of the operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        }
      }
    },
    "Order": {
      "id": "Order",
      "type": "object",
      "properties": {
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Ascending.",
            "Descending."
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`."
        },
        "field": {
          "description": "The field to order by.",
          "$ref": "FieldReference"
        }
      },
      "description": "An order on a field."
    },
    "Filter": {
      "properties": {
        "fieldFilter": {
          "$ref": "FieldFilter",
          "description": "A filter on a document field."
        },
        "unaryFilter": {
          "$ref": "UnaryFilter",
          "description": "A filter that takes exactly one argument."
        },
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        }
      },
      "id": "Filter",
      "description": "A filter.",
      "type": "object"
    },
    "Target": {
      "id": "Target",
      "properties": {
        "resumeToken": {
          "type": "string",
          "description": "A resume token from a prior TargetChange for an identical target. Using a resume token with a different target is unsupported and may fail.",
          "format": "byte"
        },
        "readTime": {
          "description": "Start listening after a specific `read_time`. The client must know the state of matching documents at this time.",
          "type": "string",
          "format": "google-datetime"
        },
        "query": {
          "description": "A target specified by a query.",
          "$ref": "QueryTarget"
        },
        "once": {
          "description": "If the target should be removed once it is current and consistent.",
          "type": "boolean"
        },
        "targetId": {
          "format": "int32",
          "type": "integer",
          "description": "The target ID that identifies the target on the stream. Must be a positive number and non-zero."
        },
        "documents": {
          "$ref": "DocumentsTarget",
          "description": "A target specified by a set of document names."
        },
        "expectedCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of documents that last matched the query at the resume token or read time. This value is only relevant when a `resume_type` is provided. This value being present and greater than zero signals that the client wants `ExistenceFilter.unchanged_names` to be included in the response."
        }
      },
      "type": "object",
      "description": "A specification of a set of documents to listen to."
    },
    "BeginTransactionRequest": {
      "type": "object",
      "id": "BeginTransactionRequest",
      "description": "The request for Firestore.BeginTransaction.",
      "properties": {
        "options": {
          "description": "The options for the transaction. Defaults to a read-write transaction.",
          "$ref": "TransactionOptions"
        }
      }
    },
    "GoogleFirestoreAdminV1ImportDocumentsRequest": {
      "description": "The request for FirestoreAdmin.ImportDocuments.",
      "id": "GoogleFirestoreAdminV1ImportDocumentsRequest",
      "type": "object",
      "properties": {
        "namespaceIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An empty list represents all namespaces. This is the preferred usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1.ExportDocumentsResponse.output_uri_prefix."
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "description": "Which collection ids to import. Unspecified means all collections included in the import.",
          "type": "array"
        }
      }
    },
    "BatchGetDocumentsRequest": {
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        },
        "newTransaction": {
          "$ref": "TransactionOptions",
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream."
        },
        "mask": {
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response.",
          "$ref": "DocumentMask"
        },
        "documents": {
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "transaction": {
          "description": "Reads documents in a transaction.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "BatchGetDocumentsRequest",
      "description": "The request for Firestore.BatchGetDocuments."
    },
    "BitSequence": {
      "properties": {
        "padding": {
          "type": "integer",
          "format": "int32",
          "description": "The number of bits of the last byte in `bitmap` to ignore as \"padding\". If the length of `bitmap` is zero, then this value must be `0`. Otherwise, this value must be between 0 and 7, inclusive."
        },
        "bitmap": {
          "format": "byte",
          "description": "The bytes that encode the bit sequence. May have a length of zero.",
          "type": "string"
        }
      },
      "id": "BitSequence",
      "type": "object",
      "description": "A sequence of bits, encoded in a byte array. Each byte in the `bitmap` byte array stores 8 bits of the sequence. The only exception is the last byte, which may store 8 _or fewer_ bits. The `padding` defines the number of bits of the last byte to be ignored as \"padding\". The values of these \"padding\" bits are unspecified and must be ignored. To retrieve the first bit, bit 0, calculate: `(bitmap[0] & 0x01) != 0`. To retrieve the second bit, bit 1, calculate: `(bitmap[0] & 0x02) != 0`. To retrieve the third bit, bit 2, calculate: `(bitmap[0] & 0x04) != 0`. To retrieve the fourth bit, bit 3, calculate: `(bitmap[0] & 0x08) != 0`. To retrieve bit n, calculate: `(bitmap[n / 8] & (0x01 \u003c\u003c (n % 8))) != 0`. The \"size\" of a `BitSequence` (the number of bits it contains) is calculated by this formula: `(bitmap.length * 8) - padding`."
    },
    "QueryTarget": {
      "properties": {
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        },
        "parent": {
          "type": "string",
          "description": "The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
        }
      },
      "id": "QueryTarget",
      "type": "object",
      "description": "A target specified by a query."
    },
    "MapValue": {
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object",
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty."
        }
      },
      "type": "object",
      "id": "MapValue",
      "description": "A map value."
    },
    "CommitResponse": {
      "properties": {
        "commitTime": {
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit.",
          "format": "google-datetime"
        },
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
        }
      },
      "id": "CommitResponse",
      "type": "object",
      "description": "The response for Firestore.Commit."
    },
    "GoogleFirestoreAdminV1ExportDocumentsMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1ExportDocumentsMetadata",
      "properties": {
        "namespaceIds": {
          "description": "Which namespace ids are being exported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime"
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "description": "Which collection ids are being exported.",
          "type": "array"
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp that corresponds to the version of the database that is being exported. If unspecified, there are no guarantees about the consistency of the documents being exported."
        },
        "outputUriPrefix": {
          "type": "string",
          "description": "Where the documents are being exported to."
        },
        "startTime": {
          "description": "The time this operation started.",
          "format": "google-datetime",
          "type": "string"
        },
        "operationState": {
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the export operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        }
      },
      "type": "object"
    },
    "WriteRequest": {
      "properties": {
        "writes": {
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests.",
          "type": "array",
          "items": {
            "$ref": "Write"
          }
        },
        "streamToken": {
          "format": "byte",
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels associated with this write request."
        },
        "streamId": {
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created.",
          "type": "string"
        }
      },
      "id": "WriteRequest",
      "type": "object",
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request."
    },
    "GoogleFirestoreAdminV1Progress": {
      "description": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used.",
      "id": "GoogleFirestoreAdminV1Progress",
      "type": "object",
      "properties": {
        "estimatedWork": {
          "format": "int64",
          "description": "The amount of work estimated.",
          "type": "string"
        },
        "completedWork": {
          "description": "The amount of work completed.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleFirestoreAdminV1IndexConfigDelta": {
      "type": "object",
      "properties": {
        "index": {
          "$ref": "GoogleFirestoreAdminV1Index",
          "description": "The index being changed."
        },
        "changeType": {
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The single field index is being added.",
            "The single field index is being removed."
          ],
          "type": "string",
          "description": "Specifies how the index is changing.",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      },
      "id": "GoogleFirestoreAdminV1IndexConfigDelta",
      "description": "Information about an index configuration change."
    },
    "Precondition": {
      "type": "object",
      "description": "A precondition on a document, used for conditional operations.",
      "properties": {
        "exists": {
          "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Precondition"
    },
    "FieldFilter": {
      "description": "A filter on a specific field.",
      "id": "FieldFilter",
      "type": "object",
      "properties": {
        "op": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is less than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is less than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is greater than or equal to the given `value`. Requires: * That `field` come first in `order_by`.",
            "The given `field` is equal to the given `value`.",
            "The given `field` is not equal to the given `value`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is an array that contains the given `value`.",
            "The given `field` is equal to at least one value in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No `NOT_IN` filters in the same query.",
            "The given `field` is an array that contains any of the values in the given array. Requires: * That `value` is a non-empty `ArrayValue`, subject to disjunction limits. * No other `ARRAY_CONTAINS_ANY` filters within the same disjunction. * No `NOT_IN` filters in the same query.",
            "The value of the `field` is not in the given array. Requires: * That `value` is a non-empty `ArrayValue` with at most 10 values. * No other `OR`, `IN`, `ARRAY_CONTAINS_ANY`, `NOT_IN`, `NOT_EQUAL`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "ARRAY_CONTAINS",
            "IN",
            "ARRAY_CONTAINS_ANY",
            "NOT_IN"
          ],
          "description": "The operator to filter by.",
          "type": "string"
        },
        "field": {
          "description": "The field to filter by.",
          "$ref": "FieldReference"
        },
        "value": {
          "description": "The value to compare to.",
          "$ref": "Value"
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "ExistenceFilter": {
      "id": "ExistenceFilter",
      "type": "object",
      "description": "A digest of all the documents that match a given target.",
      "properties": {
        "count": {
          "type": "integer",
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target. The client can use the `unchanged_names` bloom filter to assist with this determination.",
          "format": "int32"
        },
        "targetId": {
          "type": "integer",
          "format": "int32",
          "description": "The target ID to which this filter applies."
        },
        "unchangedNames": {
          "description": "A bloom filter that contains the UTF-8 byte encodings of the resource names of the documents that match target_id, in the form `projects/{project_id}/databases/{database_id}/documents/{document_path}` that have NOT changed since the query results indicated by the resume token or timestamp given in `Target.resume_type`. This bloom filter may be omitted at the server's discretion, such as if it is deemed that the client will not make use of it or if it is too computationally expensive to calculate or transmit. Clients must gracefully handle this field being absent by falling back to the logic used before this field existed; that is, re-add the target without a resume token to figure out which documents in the client's cache are out of sync.",
          "$ref": "BloomFilter"
        }
      }
    },
    "GoogleFirestoreAdminV1Field": {
      "description": "Represents a single field in the database. Fields are grouped by their \"Collection Group\", which represent all collections in the database with the same id.",
      "id": "GoogleFirestoreAdminV1Field",
      "properties": {
        "ttlConfig": {
          "$ref": "GoogleFirestoreAdminV1TtlConfig",
          "description": "The TTL configuration for this `Field`. Setting or unsetting this will enable or disable the TTL for documents that have this `Field`."
        },
        "name": {
          "type": "string",
          "description": "Required. A field name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path may be a simple field name, e.g. `address` or a path to fields within map_value , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths may be quoted using ` (backtick). The only character that needs to be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, ``` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: (Note: Comments here are written in markdown syntax, so there is an additional layer of backticks to represent a code block) `\\`address.city\\`` represents a field named `address.city`, not the map key `city` in the field `address`. `\\`*\\`` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration."
        },
        "indexConfig": {
          "description": "The index configuration for this field. If unset, field indexing will revert to the configuration defined by the `ancestor_field`. To explicitly remove all indexes for this field, specify an index config with an empty list of indexes.",
          "$ref": "GoogleFirestoreAdminV1IndexConfig"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1BackupSchedule": {
      "type": "object",
      "description": "A backup schedule for a Cloud Firestore Database. This resource is owned by the database it is backing up, and is deleted along with the database. The actual backups are not though.",
      "id": "GoogleFirestoreAdminV1BackupSchedule",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique backup schedule identifier across all locations and databases for the given project. This will be auto-assigned. Format is `projects/{project}/databases/{database}/backupSchedules/{backup_schedule}`"
        },
        "retention": {
          "format": "google-duration",
          "description": "At what relative time in the future, compared to the creation time of the backup should the backup be deleted, i.e. keep backups for 7 days.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp at which this backup schedule was most recently updated. When a backup schedule is first created, this is the same as create_time.",
          "readOnly": true,
          "type": "string"
        },
        "weeklyRecurrence": {
          "description": "For a schedule that runs weekly on a specific day and time.",
          "$ref": "GoogleFirestoreAdminV1WeeklyRecurrence"
        },
        "dailyRecurrence": {
          "$ref": "GoogleFirestoreAdminV1DailyRecurrence",
          "description": "For a schedule that runs daily at a specified time."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp at which this backup schedule was created and effective since. No backups will be created for this schedule before this time."
        }
      }
    },
    "DocumentDelete": {
      "type": "object",
      "properties": {
        "readTime": {
          "description": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete.",
          "format": "google-datetime",
          "type": "string"
        },
        "removedTargetIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A set of target IDs for targets that previously matched this entity."
        },
        "document": {
          "type": "string",
          "description": "The resource name of the Document that was deleted."
        }
      },
      "id": "DocumentDelete",
      "description": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected."
    },
    "DocumentsTarget": {
      "description": "A target specified by a set of documents names.",
      "id": "DocumentsTarget",
      "type": "object",
      "properties": {
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
        }
      }
    },
    "DocumentRemove": {
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected.",
      "id": "DocumentRemove",
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove.",
          "type": "string"
        },
        "removedTargetIds": {
          "description": "A set of target IDs for targets that previously matched this document.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "document": {
          "description": "The resource name of the Document that has gone out of view.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1IndexField": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1IndexField",
      "properties": {
        "order": {
          "description": "Indicates that this field supports ordering by the specified order or comparing using =, !=, \u003c, \u003c=, \u003e, \u003e=.",
          "type": "string",
          "enumDescriptions": [
            "The ordering is unspecified. Not a valid option.",
            "The field is ordered by ascending field value.",
            "The field is ordered by descending field value."
          ],
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "arrayConfig": {
          "enumDescriptions": [
            "The index does not support additional array queries.",
            "The index supports array containment queries."
          ],
          "type": "string",
          "enum": [
            "ARRAY_CONFIG_UNSPECIFIED",
            "CONTAINS"
          ],
          "description": "Indicates that this field supports operations on `array_value`s."
        },
        "fieldPath": {
          "type": "string",
          "description": "Can be __name__. For single field indexes, this must match the name of the field or may be omitted."
        }
      },
      "description": "A field in an index. The field_path describes which field is indexed, the value_mode describes how the field value is indexed."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleFirestoreAdminV1ListBackupSchedulesResponse": {
      "properties": {
        "backupSchedules": {
          "type": "array",
          "description": "List of all backup schedules.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1BackupSchedule"
          }
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1ListBackupSchedulesResponse",
      "description": "The response for FirestoreAdmin.ListBackupSchedules."
    },
    "Write": {
      "id": "Write",
      "type": "object",
      "description": "A write on a document.",
      "properties": {
        "currentDocument": {
          "$ref": "Precondition",
          "description": "An optional precondition on the document. The write will fail if this is set and not met by the target document."
        },
        "transform": {
          "$ref": "DocumentTransform",
          "description": "Applies a transformation to a document."
        },
        "updateTransforms": {
          "type": "array",
          "description": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order.",
          "items": {
            "$ref": "FieldTransform"
          }
        },
        "updateMask": {
          "$ref": "DocumentMask",
          "description": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name."
        },
        "update": {
          "description": "A document to write.",
          "$ref": "Document"
        },
        "delete": {
          "description": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1TtlConfigDelta": {
      "id": "GoogleFirestoreAdminV1TtlConfigDelta",
      "description": "Information about a TTL configuration change.",
      "properties": {
        "changeType": {
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The TTL config is being added.",
            "The TTL config is being removed."
          ],
          "type": "string",
          "description": "Specifies how the TTL configuration is changing.",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      },
      "type": "object"
    },
    "Value": {
      "type": "object",
      "description": "A message that can hold any of the supported value types.",
      "properties": {
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "timestampValue": {
          "format": "google-datetime",
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down.",
          "type": "string"
        },
        "nullValue": {
          "enum": [
            "NULL_VALUE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ],
          "description": "A null value."
        },
        "referenceValue": {
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "bytesValue": {
          "format": "byte",
          "type": "string",
          "description": "A bytes value. Must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes are considered by queries."
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "A double value."
        },
        "integerValue": {
          "type": "string",
          "format": "int64",
          "description": "An integer value."
        },
        "booleanValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "stringValue": {
          "type": "string",
          "description": "A string value. The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes of the UTF-8 representation are considered by queries."
        },
        "arrayValue": {
          "description": "An array value. Cannot directly contain another array value, though can contain an map which contains another array.",
          "$ref": "ArrayValue"
        }
      },
      "id": "Value"
    },
    "StructuredQuery": {
      "id": "StructuredQuery",
      "properties": {
        "endAt": {
          "$ref": "Cursor",
          "description": "A potential prefix of a position in the result set to end the query at. This is similar to `START_AT` but with it controlling the end position rather than the start position. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause."
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of results to return. Applies after all other constraints. Requires: * The value must be greater than or equal to zero if specified."
        },
        "orderBy": {
          "description": "The order to apply to the query results. Firestore allows callers to provide a full ordering, a partial ordering, or no ordering at all. In all cases, Firestore guarantees a stable ordering through the following rules: * The `order_by` is required to reference all fields used with an inequality filter. * All fields that are required to be in the `order_by` but are not already present are appended in lexicographical ordering of the field name. * If an order on `__name__` is not specified, it is appended by default. Fields are appended with the same sort direction as the last order specified, or 'ASCENDING' if no order was specified. For example: * `ORDER BY a` becomes `ORDER BY a ASC, __name__ ASC` * `ORDER BY a DESC` becomes `ORDER BY a DESC, __name__ DESC` * `WHERE a \u003e 1` becomes `WHERE a \u003e 1 ORDER BY a ASC, __name__ ASC` * `WHERE __name__ \u003e ... AND a \u003e 1` becomes `WHERE __name__ \u003e ... AND a \u003e 1 ORDER BY a ASC, __name__ ASC`",
          "items": {
            "$ref": "Order"
          },
          "type": "array"
        },
        "from": {
          "type": "array",
          "items": {
            "$ref": "CollectionSelector"
          },
          "description": "The collections to query."
        },
        "where": {
          "description": "The filter to apply.",
          "$ref": "Filter"
        },
        "offset": {
          "description": "The number of documents to skip before returning the first result. This applies after the constraints specified by the `WHERE`, `START AT`, & `END AT` but before the `LIMIT` clause. Requires: * The value must be greater than or equal to zero if specified.",
          "type": "integer",
          "format": "int32"
        },
        "select": {
          "description": "Optional sub-set of the fields to return. This acts as a DocumentMask over the documents returned from a query. When not set, assumes that the caller wants all fields returned.",
          "$ref": "Projection"
        },
        "startAt": {
          "description": "A potential prefix of a position in the result set to start the query at. The ordering of the result set is based on the `ORDER BY` clause of the original query. ``` SELECT * FROM k WHERE a = 1 AND b \u003e 2 ORDER BY b ASC, __name__ ASC; ``` This query's results are ordered by `(b ASC, __name__ ASC)`. Cursors can reference either the full ordering or a prefix of the location, though it cannot reference more fields than what are in the provided `ORDER BY`. Continuing off the example above, attaching the following start cursors will have varying impact: - `START BEFORE (2, /k/123)`: start the query right before `a = 1 AND b \u003e 2 AND __name__ \u003e /k/123`. - `START AFTER (10)`: start the query right after `a = 1 AND b \u003e 10`. Unlike `OFFSET` which requires scanning over the first N results to skip, a start cursor allows the query to begin at a logical position. This position is not required to match an actual result, it will scan forward from this position to find the next document. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause.",
          "$ref": "Cursor"
        }
      },
      "type": "object",
      "description": "A Firestore query."
    },
    "ArrayValue": {
      "description": "An array value.",
      "type": "object",
      "id": "ArrayValue",
      "properties": {
        "values": {
          "items": {
            "$ref": "Value"
          },
          "type": "array",
          "description": "Values in the array."
        }
      }
    },
    "ListenRequest": {
      "id": "ListenRequest",
      "description": "A request for Firestore.Listen",
      "properties": {
        "removeTarget": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of a target to remove from this stream."
        },
        "labels": {
          "type": "object",
          "description": "Labels associated with this target change.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "addTarget": {
          "description": "A target to add to this stream.",
          "$ref": "Target"
        }
      },
      "type": "object"
    },
    "WriteResult": {
      "id": "WriteResult",
      "description": "The result of applying a write.",
      "type": "object",
      "properties": {
        "transformResults": {
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time."
        }
      }
    },
    "DocumentMask": {
      "properties": {
        "fieldPaths": {
          "type": "array",
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value.",
      "id": "DocumentMask",
      "type": "object"
    },
    "GoogleFirestoreAdminV1ListIndexesResponse": {
      "id": "GoogleFirestoreAdminV1ListIndexesResponse",
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "properties": {
        "nextPageToken": {
          "description": "A page token that may be used to request another page of results. If blank, this is the last page.",
          "type": "string"
        },
        "indexes": {
          "description": "The requested indexes.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          }
        }
      },
      "type": "object"
    },
    "RollbackRequest": {
      "id": "RollbackRequest",
      "properties": {
        "transaction": {
          "format": "byte",
          "description": "Required. The transaction to roll back.",
          "type": "string"
        }
      },
      "description": "The request for Firestore.Rollback.",
      "type": "object"
    },
    "BeginTransactionResponse": {
      "id": "BeginTransactionResponse",
      "description": "The response for Firestore.BeginTransaction.",
      "type": "object",
      "properties": {
        "transaction": {
          "description": "The transaction that was started.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "RunQueryResponse": {
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run.",
          "type": "string"
        },
        "document": {
          "$ref": "Document",
          "description": "A query result, not set when reporting partial progress."
        },
        "done": {
          "description": "If present, Firestore has completely finished the request and no more documents will be returned.",
          "type": "boolean"
        },
        "skippedResults": {
          "description": "The number of results that have been skipped due to an offset between the last response and the current response.",
          "type": "integer",
          "format": "int32"
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response."
        }
      },
      "id": "RunQueryResponse",
      "description": "The response for Firestore.RunQuery."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "GoogleFirestoreAdminV1LocationMetadata": {
      "properties": {},
      "description": "The metadata message for google.cloud.location.Location.metadata.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1LocationMetadata"
    },
    "BatchWriteRequest": {
      "id": "BatchWriteRequest",
      "properties": {
        "writes": {
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request.",
          "items": {
            "$ref": "Write"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels associated with this batch write."
        }
      },
      "description": "The request for Firestore.BatchWrite.",
      "type": "object"
    },
    "AggregationResult": {
      "description": "The result of a single bucket from a Firestore aggregation query. The keys of `aggregate_fields` are the same for all results in an aggregation query, unlike document queries which can have different fields present for each result.",
      "id": "AggregationResult",
      "type": "object",
      "properties": {
        "aggregateFields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The result of the aggregation functions, ex: `COUNT(*) AS total_docs`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query.",
          "type": "object"
        }
      }
    },
    "GoogleFirestoreAdminV1Stats": {
      "id": "GoogleFirestoreAdminV1Stats",
      "properties": {
        "documentCount": {
          "format": "int64",
          "description": "Output only. The total number of documents contained in the backup.",
          "type": "string",
          "readOnly": true
        },
        "indexCount": {
          "type": "string",
          "description": "Output only. The total number of index entries contained in the backup.",
          "readOnly": true,
          "format": "int64"
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. Summation of the size of all documents and index entries in the backup, measured in bytes.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Backup specific statistics."
    },
    "Cursor": {
      "type": "object",
      "properties": {
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        },
        "values": {
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      },
      "id": "Cursor",
      "description": "A position in a query result set."
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object"
    },
    "TransactionOptions": {
      "id": "TransactionOptions",
      "description": "Options for creating a new transaction.",
      "type": "object",
      "properties": {
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "$ref": "ReadWrite",
          "description": "The transaction can be used for both read and write operations."
        }
      }
    },
    "GoogleFirestoreAdminV1Backup": {
      "id": "GoogleFirestoreAdminV1Backup",
      "properties": {
        "stats": {
          "description": "Output only. Statistics about the backup. This data only becomes available after the backup is fully materialized to secondary storage. This field will be empty till then.",
          "readOnly": true,
          "$ref": "GoogleFirestoreAdminV1Stats"
        },
        "databaseUid": {
          "description": "Output only. The system-generated UUID4 for the Firestore database that the backup is from.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique resource name of the Backup. Format is `projects/{project}/locations/{location}/backups/{backup}`."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The pending backup is still being created. Operations on the backup will be rejected in this state.",
            "The backup is complete and ready to use.",
            "The backup is not available at this moment."
          ],
          "description": "Output only. The current state of the backup.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "NOT_AVAILABLE"
          ],
          "readOnly": true
        },
        "database": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Firestore database that the backup is from. Format is `projects/{project}/databases/{database}`."
        },
        "snapshotTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The backup contains an externally consistent copy of the database at this time.",
          "format": "google-datetime"
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp at which this backup expires.",
          "format": "google-datetime"
        }
      },
      "description": "A Backup of a Cloud Firestore Database. The backup contains all documents and index configurations for the given database at specific point in time.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1UpdateDatabaseMetadata": {
      "type": "object",
      "description": "Metadata related to the update database operation.",
      "id": "GoogleFirestoreAdminV1UpdateDatabaseMetadata",
      "properties": {}
    },
    "GoogleFirestoreAdminV1ExportDocumentsResponse": {
      "id": "GoogleFirestoreAdminV1ExportDocumentsResponse",
      "description": "Returned in the google.longrunning.Operation response field.",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully.",
          "type": "string"
        }
      }
    },
    "RunAggregationQueryRequest": {
      "id": "RunAggregationQueryRequest",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Executes the query at the given timestamp. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        },
        "newTransaction": {
          "description": "Starts a new transaction as part of the query, defaulting to read-only. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "transaction": {
          "format": "byte",
          "description": "Run the aggregation within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "type": "string"
        },
        "structuredAggregationQuery": {
          "description": "An aggregation query.",
          "$ref": "StructuredAggregationQuery"
        }
      },
      "type": "object",
      "description": "The request for Firestore.RunAggregationQuery."
    },
    "GoogleFirestoreAdminV1ImportDocumentsMetadata": {
      "type": "object",
      "properties": {
        "progressDocuments": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in documents, of this operation."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation started."
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "The location of the documents being imported."
        },
        "collectionIds": {
          "description": "Which collection ids are being imported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "operationState": {
          "description": "The state of the import operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "namespaceIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Which namespace ids are being imported."
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        }
      },
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ImportDocuments.",
      "id": "GoogleFirestoreAdminV1ImportDocumentsMetadata"
    },
    "Document": {
      "properties": {
        "name": {
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "fields": {
          "description": "The document's fields. The map keys represent field names. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by the simple or quoted field names of the containing fields, delimited by `.`. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `foo.x&y`. Within a field path, a quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``.",
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "updateTime": {
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Document",
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes."
    },
    "WriteResponse": {
      "description": "The response for Firestore.Write.",
      "id": "WriteResponse",
      "properties": {
        "streamId": {
          "type": "string",
          "description": "The ID of the stream. Only set on the first message, when a new stream was created."
        },
        "commitTime": {
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write.",
          "type": "string",
          "format": "google-datetime"
        },
        "streamToken": {
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "format": "byte",
          "type": "string"
        },
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "type": "array",
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1FieldOperationMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "startTime": {
          "type": "string",
          "description": "The time this operation started.",
          "format": "google-datetime"
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "indexConfigDeltas": {
          "description": "A list of IndexConfigDelta, which describe the intent of this operation.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1IndexConfigDelta"
          },
          "type": "array"
        },
        "ttlConfigDelta": {
          "$ref": "GoogleFirestoreAdminV1TtlConfigDelta",
          "description": "Describes the deltas of TTL configuration."
        },
        "state": {
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The state of the operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "field": {
          "description": "The field resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.UpdateField.",
      "id": "GoogleFirestoreAdminV1FieldOperationMetadata"
    },
    "StructuredAggregationQuery": {
      "properties": {
        "structuredQuery": {
          "description": "Nested structured query.",
          "$ref": "StructuredQuery"
        },
        "aggregations": {
          "description": "Optional. Series of aggregations to apply over the results of the `structured_query`. Requires: * A minimum of one and maximum of five aggregations per query.",
          "items": {
            "$ref": "Aggregation"
          },
          "type": "array"
        }
      },
      "description": "Firestore query for running an aggregation over a StructuredQuery.",
      "type": "object",
      "id": "StructuredAggregationQuery"
    },
    "RunQueryRequest": {
      "type": "object",
      "properties": {
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        },
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in."
        }
      },
      "id": "RunQueryRequest",
      "description": "The request for Firestore.RunQuery."
    },
    "BloomFilter": {
      "type": "object",
      "properties": {
        "hashCount": {
          "format": "int32",
          "description": "The number of hashes used by the algorithm.",
          "type": "integer"
        },
        "bits": {
          "description": "The bloom filter data.",
          "$ref": "BitSequence"
        }
      },
      "id": "BloomFilter",
      "description": "A bloom filter (https://en.wikipedia.org/wiki/Bloom_filter). The bloom filter hashes the entries with MD5 and treats the resulting 128-bit hash as 2 distinct 64-bit hash values, interpreted as unsigned integers using 2's complement encoding. These two hash values, named `h1` and `h2`, are then used to compute the `hash_count` hash values using the formula, starting at `i=0`: h(i) = h1 + (i * h2) These resulting values are then taken modulo the number of bits in the bloom filter to get the bits of the bloom filter to test for the given entry."
    },
    "GoogleFirestoreAdminV1TtlConfig": {
      "id": "GoogleFirestoreAdminV1TtlConfig",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "NEEDS_REPAIR"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified or unknown.",
            "The TTL is being applied. There is an active long-running operation to track the change. Newly written documents will have TTLs applied as requested. Requested TTLs on existing documents are still being processed. When TTLs on all existing documents have been processed, the state will move to 'ACTIVE'.",
            "The TTL is active for all documents.",
            "The TTL configuration could not be enabled for all existing documents. Newly written documents will continue to have their TTL applied. The LRO returned when last attempting to enable TTL for this `Field` has failed, and may have more details."
          ],
          "description": "Output only. The state of the TTL configuration.",
          "readOnly": true
        }
      },
      "description": "The TTL (time-to-live) configuration for documents that have this `Field` set. Storing a timestamp value into a TTL-enabled field will be treated as the document's absolute expiration time. Timestamp values in the past indicate that the document is eligible for immediate expiration. Using any other data type or leaving the field absent will disable expiration for the individual document.",
      "type": "object"
    },
    "UnaryFilter": {
      "id": "UnaryFilter",
      "description": "A filter with a single operand.",
      "type": "object",
      "properties": {
        "op": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IS_NAN",
            "IS_NULL",
            "IS_NOT_NAN",
            "IS_NOT_NULL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The given `field` is equal to `NaN`.",
            "The given `field` is equal to `NULL`.",
            "The given `field` is not equal to `NaN`. Requires: * No other `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`.",
            "The given `field` is not equal to `NULL`. Requires: * A single `NOT_EQUAL`, `NOT_IN`, `IS_NOT_NULL`, or `IS_NOT_NAN`. * That `field` comes first in the `order_by`."
          ],
          "description": "The unary operator to apply."
        },
        "field": {
          "description": "The field to which to apply the operator.",
          "$ref": "FieldReference"
        }
      }
    },
    "GoogleFirestoreAdminV1IndexConfig": {
      "description": "The index configuration for this field.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1IndexConfig",
      "properties": {
        "ancestorField": {
          "type": "string",
          "description": "Output only. Specifies the resource name of the `Field` from which this field's index configuration is set (when `uses_ancestor_config` is true), or from which it *would* be set if this field had no index configuration (when `uses_ancestor_config` is false)."
        },
        "reverting": {
          "type": "boolean",
          "description": "Output only When true, the `Field`'s index configuration is in the process of being reverted. Once complete, the index config will transition to the same state as the field specified by `ancestor_field`, at which point `uses_ancestor_config` will be `true` and `reverting` will be `false`."
        },
        "usesAncestorConfig": {
          "type": "boolean",
          "description": "Output only. When true, the `Field`'s index configuration is set from the configuration specified by the `ancestor_field`. When false, the `Field`'s index configuration is defined explicitly."
        },
        "indexes": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          },
          "type": "array",
          "description": "The indexes supported for this field."
        }
      }
    },
    "GoogleFirestoreAdminV1DailyRecurrence": {
      "id": "GoogleFirestoreAdminV1DailyRecurrence",
      "properties": {},
      "type": "object",
      "description": "Represent a recurring schedule that runs at a specific time every day. The time zone is UTC."
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "description": "A filter that merges multiple other filters using the given operator.",
      "type": "object",
      "properties": {
        "op": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Documents are required to satisfy all of the combined filters.",
            "Documents are required to satisfy at least one of the combined filters."
          ],
          "description": "The operator for combining multiple filters.",
          "type": "string"
        },
        "filters": {
          "items": {
            "$ref": "Filter"
          },
          "description": "The list of filters to combine. Requires: * At least one filter is present.",
          "type": "array"
        }
      }
    },
    "GoogleFirestoreAdminV1ExportDocumentsRequest": {
      "id": "GoogleFirestoreAdminV1ExportDocumentsRequest",
      "type": "object",
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "properties": {
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp that corresponds to the version of the database to be exported. The timestamp must be rounded to the minute, in the past, and not older than 1 hour. If specified, then the exported documents will represent a consistent view of the database at the provided time. Otherwise, there are no guarantees about the consistency of the exported documents."
        },
        "namespaceIds": {
          "type": "array",
          "description": "An empty list represents all namespaces. This is the preferred usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          }
        },
        "outputUriPrefix": {
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time.",
          "type": "string"
        },
        "collectionIds": {
          "type": "array",
          "description": "Which collection ids to export. Unspecified means all collections.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleFirestoreAdminV1RestoreDatabaseMetadata": {
      "type": "object",
      "properties": {
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "type": "string",
          "description": "The operation state of the restore.",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "backup": {
          "type": "string",
          "description": "The name of the backup restoring from."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the restore was started."
        },
        "endTime": {
          "type": "string",
          "description": "The time the restore finished, unset for ongoing restores.",
          "format": "google-datetime"
        },
        "database": {
          "type": "string",
          "description": "The name of the database being restored to."
        }
      },
      "id": "GoogleFirestoreAdminV1RestoreDatabaseMetadata",
      "description": "Metadata for the long-running operation from the RestoreDatabase request."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "TargetChange": {
      "properties": {
        "targetChangeType": {
          "description": "The type of change that occurred.",
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ],
          "type": "string"
        },
        "targetIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined."
        },
        "cause": {
          "$ref": "Status",
          "description": "The error that resulted in this change, if applicable."
        },
        "resumeToken": {
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing."
        }
      },
      "id": "TargetChange",
      "description": "Targets being watched have changed.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1ListFieldsResponse": {
      "properties": {
        "fields": {
          "type": "array",
          "description": "The requested fields.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Field"
          }
        },
        "nextPageToken": {
          "description": "A page token that may be used to request another page of results. If blank, this is the last page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1ListFieldsResponse",
      "description": "The response for FirestoreAdmin.ListFields."
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "Projection": {
      "id": "Projection",
      "properties": {
        "fields": {
          "type": "array",
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`.",
          "items": {
[...]
