{
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
  "version": "v1beta1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "id": "firebasehosting:v1beta1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "basePath": "",
  "canonicalName": "Firebase Hosting",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.projects.operations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        },
        "sites": {
          "methods": {
            "list": {
              "path": "v1beta1/{+parent}/sites",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing."
                }
              },
              "response": {
                "$ref": "ListSitesResponse"
              },
              "id": "firebasehosting.projects.sites.list",
              "httpMethod": "GET",
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites"
            },
            "updateConfig": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "id": "firebasehosting.projects.sites.updateConfig",
              "response": {
                "$ref": "SiteConfig"
              },
              "path": "v1beta1/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "required": true
                }
              },
              "request": {
                "$ref": "SiteConfig"
              },
              "httpMethod": "PATCH",
              "description": "Sets the Hosting metadata for a specific site.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.delete",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "pattern": "^projects/[^/]+/sites/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project."
            },
            "patch": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Updates attributes of the specified Hosting Site.",
              "id": "firebasehosting.projects.sites.patch",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "A set of field names from your Site that you want to update.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "Site"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Site"
              },
              "path": "v1beta1/{+name}"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.get",
              "description": "Gets the specified Hosting Site.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Site"
              },
              "path": "v1beta1/{+name}"
            },
            "create": {
              "request": {
                "$ref": "Site"
              },
              "parameters": {
                "siteId": {
                  "location": "query",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Site"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems.",
              "id": "firebasehosting.projects.sites.create",
              "path": "v1beta1/{+parent}/sites"
            },
            "getConfig": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "firebasehosting.projects.sites.getConfig",
              "httpMethod": "GET",
              "description": "Gets the Hosting metadata for a specific site.",
              "response": {
                "$ref": "SiteConfig"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}"
            }
          },
          "resources": {
            "versions": {
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                          "location": "query"
                        },
                        "status": {
                          "location": "query",
                          "description": " The type of files that should be listed for the specified version.",
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "path": "v1beta1/{+parent}/files",
                      "httpMethod": "GET",
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified version.",
                  "path": "v1beta1/{+name}"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/versions",
                  "response": {
                    "$ref": "Version"
                  },
                  "description": "Creates a new version for the specified site.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true
                    },
                    "sizeBytes": {
                      "format": "int64",
                      "location": "query",
                      "type": "string",
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads."
                    },
                    "versionId": {
                      "location": "query",
                      "type": "string",
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.versions.create",
                  "request": {
                    "$ref": "Version"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/versions",
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "id": "firebasehosting.projects.sites.versions.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "Version"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "response": {
                    "$ref": "Version"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "clone": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "path": "v1beta1/{+parent}/versions:clone",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "populateFiles": {
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "path": "v1beta1/{+parent}:populateFiles",
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            },
            "domains": {
              "methods": {
                "get": {
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Domain"
                  },
                  "description": "Gets a domain mapping on the specified site.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "description": "Required. The name of the domain configuration to get."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "id": "firebasehosting.projects.sites.domains.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the domains for the specified site.",
                  "path": "v1beta1/{+parent}/domains",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token from a previous request, if provided.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The page size to return. Defaults to 50."
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "request": {
                    "$ref": "Domain"
                  },
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a domain mapping on the specified site.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.create",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "path": "v1beta1/{+parent}/domains",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "update": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist."
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.update",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "httpMethod": "PUT",
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "path": "v1beta1/{+name}",
                  "request": {
                    "$ref": "Domain"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Domain"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the domain association to delete.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "releases": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "id": "firebasehosting.projects.sites.releases.list",
                  "path": "v1beta1/{+parent}/releases",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Release"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "path": "v1beta1/{+parent}/releases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.releases.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string"
                    },
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "response": {
                    "$ref": "Release"
                  }
                }
              }
            },
            "channels": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Channel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/channels",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "httpMethod": "POST",
                  "description": "Creates a new channel in the specified site.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.channels.create",
                  "parameters": {
                    "channelId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "Channel"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.channels.list",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "path": "v1beta1/{+parent}/channels",
                  "parameters": {
                    "pageToken": {
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "ListChannelsResponse"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "Channel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Channel"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "path": "v1beta1/{+name}",
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "A comma-separated list of fields to be updated in this request.",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "id": "firebasehosting.projects.sites.channels.get",
                  "response": {
                    "$ref": "Channel"
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Retrieves information for the specified channel of the specified site."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/releases",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "response": {
                        "$ref": "ListReleasesResponse"
                      }
                    },
                    "create": {
                      "parameters": {
                        "versionName": {
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "location": "path",
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID"
                        }
                      },
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "path": "v1beta1/{+parent}/releases",
                      "response": {
                        "$ref": "Release"
                      },
                      "request": {
                        "$ref": "Release"
                      },
                      "httpMethod": "POST",
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "sites": {
      "resources": {
        "domains": {
          "methods": {
            "get": {
              "description": "Gets a domain mapping on the specified site.",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the domain configuration to get.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Domain"
              },
              "id": "firebasehosting.sites.domains.get",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Lists the domains for the specified site.",
              "path": "v1beta1/{+parent}/domains",
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "id": "firebasehosting.sites.domains.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The page size to return. Defaults to 50."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token from a previous request, if provided.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "update": {
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Domain"
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Domain"
              },
              "id": "firebasehosting.sites.domains.update",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist."
                }
              },
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the domain association to delete.",
                  "required": true,
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.domains.delete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the existing domain mapping on the specified site."
            },
            "create": {
              "path": "v1beta1/{+parent}/domains",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "description": "Creates a domain mapping on the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Domain"
              },
              "id": "firebasehosting.sites.domains.create",
              "response": {
                "$ref": "Domain"
              },
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name"
                }
              },
              "httpMethod": "POST"
            }
          }
        },
        "releases": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "location": "path",
                  "pattern": "^sites/[^/]+$"
                }
              },
              "path": "v1beta1/{+parent}/releases",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.sites.releases.list"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}/releases",
              "id": "firebasehosting.sites.releases.create",
              "parameters": {
                "versionName": {
                  "type": "string",
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Release"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Release"
              }
            }
          }
        },
        "versions": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "id": "firebasehosting.sites.versions.list",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+parent}/versions",
              "parameterOrder": [
                "parent"
              ]
            },
            "clone": {
              "path": "v1beta1/{+parent}/versions:clone",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "firebasehosting.sites.versions.clone",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new version on the specified target site using the content of the specified version."
            },
            "patch": {
              "response": {
                "$ref": "Version"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "id": "firebasehosting.sites.versions.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "name": {
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "create": {
              "path": "v1beta1/{+parent}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.versions.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Version"
              },
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID"
                },
                "sizeBytes": {
                  "format": "int64",
                  "type": "string",
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "location": "query"
                },
                "versionId": {
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Creates a new version for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "httpMethod": "POST"
            },
            "populateFiles": {
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "httpMethod": "POST",
              "id": "firebasehosting.sites.versions.populateFiles",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}:populateFiles",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the specified version.",
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.versions.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID"
                }
              },
              "path": "v1beta1/{+name}"
            }
          },
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "id": "firebasehosting.sites.versions.files.list",
                  "httpMethod": "GET",
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "type": "string",
                      "location": "query"
                    },
                    "status": {
                      "description": " The type of files that should be listed for the specified version.",
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "location": "query",
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ],
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                      "type": "integer"
                    }
                  },
                  "path": "v1beta1/{+parent}/files",
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "channels": {
          "resources": {
            "releases": {
              "methods": {
                "create": {
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "path": "v1beta1/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID"
                    },
                    "versionName": {
                      "type": "string",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query"
                    }
                  },
                  "id": "firebasehosting.sites.channels.releases.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Release"
                  },
                  "request": {
                    "$ref": "Release"
                  },
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "path": "v1beta1/{+parent}/releases",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "required": true,
                      "location": "path",
                      "pattern": "^sites/[^/]+/channels/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "id": "firebasehosting.sites.channels.releases.list",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "patch": {
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "request": {
                "$ref": "Channel"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "A comma-separated list of fields to be updated in this request.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "response": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.channels.patch"
            },
            "create": {
              "id": "firebasehosting.sites.channels.create",
              "path": "v1beta1/{+parent}/channels",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "type": "string"
                },
                "channelId": {
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "Channel"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new channel in the specified site.",
              "response": {
                "$ref": "Channel"
              },
              "flatPath": "v1beta1/sites/{sitesId}/channels"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1beta1/{+name}",
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.channels.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "get": {
              "description": "Retrieves information for the specified channel of the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.sites.channels.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID"
                }
              },
              "response": {
                "$ref": "Channel"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}"
            },
            "list": {
              "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.sites.channels.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                  "pattern": "^sites/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                  "type": "integer"
                }
              },
              "path": "v1beta1/{+parent}/channels",
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      },
      "methods": {
        "updateConfig": {
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "location": "query"
            },
            "name": {
              "type": "string",
              "pattern": "^sites/[^/]+/config$",
              "location": "path",
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "required": true
            }
          },
          "description": "Sets the Hosting metadata for a specific site.",
          "request": {
            "$ref": "SiteConfig"
          },
          "id": "firebasehosting.sites.updateConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "v1beta1/{+name}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SiteConfig"
          }
        },
        "getConfig": {
          "description": "Gets the Hosting metadata for a specific site.",
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
              "required": true,
              "pattern": "^sites/[^/]+/config$",
              "location": "path"
            }
          },
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "SiteConfig"
          },
          "httpMethod": "GET",
          "id": "firebasehosting.sites.getConfig",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ]
        }
      }
    }
  },
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "revision": "20220601",
  "description": "The Firebase Hosting REST API enables programmatic and customizable management and deployments to your Firebase-hosted sites. Use this REST API to create and manage channels and sites as well as to deploy new or updated hosting configurations and content files.",
  "schemas": {
    "PopulateVersionFilesResponse": {
      "type": "object",
      "id": "PopulateVersionFilesResponse",
      "properties": {
        "uploadUrl": {
          "description": "The URL to which the files should be uploaded, in the format: \"https://upload-firebasehosting.googleapis.com/upload/sites/SITE_ID /versions/VERSION_ID/files\" Perform a multipart `POST` of the Gzipped file contents to the URL using a forward slash and the hash of the file appended to the end.",
          "type": "string"
        },
        "uploadRequiredHashes": {
          "type": "array",
          "description": "The content hashes of the specified files that need to be uploaded to the specified URL.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CertDnsChallenge": {
      "description": "Represents a DNS certificate challenge.",
      "id": "CertDnsChallenge",
      "type": "object",
      "properties": {
        "domainName": {
          "type": "string",
          "description": "The domain name upon which the DNS challenge must be satisfied."
        },
        "token": {
          "type": "string",
          "description": "The value that must be present as a TXT record on the domain name to satisfy the challenge."
        }
      }
    },
    "DomainRedirect": {
      "id": "DomainRedirect",
      "description": "Defines the behavior of a domain-level redirect. Domain redirects preserve the path of the redirect but replace the requested domain with the one specified in the redirect configuration.",
      "properties": {
        "type": {
          "enum": [
            "REDIRECT_TYPE_UNSPECIFIED",
            "MOVED_PERMANENTLY"
          ],
          "type": "string",
          "description": "Required. The redirect status code.",
          "enumDescriptions": [
            "The default redirect type; should not be intentionlly used.",
            "The redirect will respond with an HTTP status code of `301 Moved Permanently`."
          ]
        },
        "domainName": {
          "description": "Required. The domain name to redirect to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "ListVersionFilesResponse": {
      "properties": {
        "files": {
          "items": {
            "$ref": "VersionFile"
          },
          "description": " The list of paths to the hashes of the files in the specified version.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListVersionFiles`. Page tokens are short-lived and should not be stored."
        }
      },
      "id": "ListVersionFilesResponse",
      "type": "object"
    },
    "ListReleasesResponse": {
      "properties": {
        "releases": {
          "items": {
            "$ref": "Release"
          },
          "type": "array",
          "description": "The list of hashes of files that still need to be uploaded, if any exist."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListReleases`. Page tokens are short-lived and should not be stored."
        }
      },
      "id": "ListReleasesResponse",
      "type": "object"
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListVersions`. Page tokens are short-lived and should not be stored."
        },
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "description": "The list of versions, if any exist.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CertHttpChallenge": {
      "description": "Represents an HTTP certificate challenge.",
      "properties": {
        "path": {
          "type": "string",
          "description": "The URL path on which to serve the specified token to satisfy the certificate challenge."
        },
        "token": {
          "type": "string",
          "description": "The token to serve at the specified URL path to satisfy the certificate challenge."
        }
      },
      "type": "object",
      "id": "CertHttpChallenge"
    },
    "CloneVersionRequest": {
      "type": "object",
      "id": "CloneVersionRequest",
      "properties": {
        "exclude": {
          "$ref": "PathFilter",
          "description": "If provided, only paths that do not match any of the RegEx values in this list will be included in the new version."
        },
        "finalize": {
          "description": "If true, the call to `CloneVersion` immediately finalizes the version after cloning is complete. If false, the cloned version will have a status of `CREATED`. Use [`UpdateVersion`](patch) to set the status of the version to `FINALIZED`.",
          "type": "boolean"
        },
        "sourceVersion": {
          "description": "Required. The unique identifier for the version to be cloned, in the format: sites/SITE_ID/versions/VERSION_ID",
          "type": "string"
        },
        "include": {
          "$ref": "PathFilter",
          "description": "If provided, only paths that match one or more RegEx values in this list will be included in the new version."
        }
      }
    },
    "Site": {
      "type": "object",
      "id": "Site",
      "description": "A `Site` represents a Firebase Hosting site.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. User-specified labels for the Hosting site.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "Unknown state, likely the result of an error on the backend.",
            "The default Hosting site that is provisioned when a Firebase project is created.",
            "A Hosting site that the user created."
          ],
          "readOnly": true,
          "description": "Output only. The type of Hosting site. Every Firebase project has a `DEFAULT_SITE`, which is created when Hosting is provisioned for the project. All additional sites are `USER_SITE`.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT_SITE",
            "USER_SITE"
          ],
          "type": "string"
        },
        "appId": {
          "description": "Optional. The [ID of a Web App](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the Hosting site.",
          "type": "string"
        },
        "name": {
[...]
