{
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "buckets": {
          "methods": {
            "list": {
              "id": "firebasestorage.projects.buckets.list",
              "flatPath": "v1beta/projects/{projectsId}/buckets",
              "path": "v1beta/{+parent}/buckets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Lists the linked storage buckets for a project.",
              "response": {
                "$ref": "ListBucketsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. Resource name of the parent Firebase project, `projects/{project_number}`."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of buckets to return. If not set, the server will use a reasonable default.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListBuckets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBuckets` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "removeFirebase": {
              "parameterOrder": [
                "bucket"
              ],
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}:removeFirebase",
              "description": "Unlinks a linked Google Cloud Storage bucket from a Firebase project.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasestorage.projects.buckets.removeFirebase",
              "request": {
                "$ref": "RemoveFirebaseRequest"
              },
              "httpMethod": "POST",
              "path": "v1beta/{+bucket}:removeFirebase",
              "parameters": {
                "bucket": {
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_number}/buckets/{bucket_id}`.",
                  "location": "path"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "Bucket"
              },
              "id": "firebasestorage.projects.buckets.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Gets a single linked storage bucket.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_number}/buckets/{bucket_id}`."
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}",
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "addFirebase": {
              "response": {
                "$ref": "Bucket"
              },
              "parameterOrder": [
                "bucket"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "AddFirebaseRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}:addFirebase",
              "id": "firebasestorage.projects.buckets.addFirebase",
              "description": "Links a Google Cloud Storage bucket to a Firebase project.",
              "parameters": {
                "bucket": {
                  "location": "path",
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_number}/buckets/{bucket_id}`.",
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta/{+bucket}:addFirebase"
            }
          }
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "RemoveFirebaseRequest": {
      "properties": {},
      "type": "object",
      "id": "RemoveFirebaseRequest",
      "description": "The request used to unlink a Google Cloud Storage bucket from a Firebase project."
    },
    "GoogleFirebaseStorageControlplaneV1alphaMigrateLocationDestructivelyMetadata": {
      "properties": {
        "lastUpdateTime": {
          "format": "google-datetime",
          "description": "The time the LRO was last updated.",
          "type": "string"
        },
        "createTime": {
          "description": "The time the LRO was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state. Should not be used.",
            "The MigrateLocationDestructively request has passed precondition checks and the bucket migration will begin soon.",
            "Generating a unique bucket name, storing the source -\u003e temp mapping in Spanner, and actually creating the temporary bucket via Bigstore.",
            "The first STS transfer to move all objects from the source bucket to the temp bucket is underway.",
            "The source bucket is being emptied and deleted.",
            "The source bucket is being recreated in the new location.",
            "The second STS transfer to move all objects from the temp bucket to the final bucket is underway.",
            "The temp bucket is being emptied and deleted.",
            "All stages of the migration have completed and the operation has been marked done and updated with a response.",
            "The migration failed at some stage and it is not possible to continue retrying that stage. Manual recovery may be needed. Rollback is either impossible at this stage, or has been attempted and failed.",
            "The migration has encountered a permanent failure and is now being rolled back so that the source bucket is restored to its original state.",
            "The migration has been successfully rolled back."
          ],
          "type": "string",
          "description": "The current state of the migration.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "CREATING_TEMP_BUCKET",
            "TRANSFERRING_TO_TEMP",
            "DELETING_SOURCE_BUCKET",
            "CREATING_DESTINATION_BUCKET",
            "TRANSFERRING_TO_DESTINATION",
            "DELETING_TEMP_BUCKET",
            "SUCCEEDED",
            "FAILED",
            "ROLLING_BACK",
            "ROLLED_BACK"
          ]
        }
      },
      "description": "Metadata for MigrateLocationDestructively LRO.",
      "id": "GoogleFirebaseStorageControlplaneV1alphaMigrateLocationDestructivelyMetadata",
      "type": "object"
    },
    "Bucket": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the bucket.",
          "type": "string"
        }
      },
      "id": "Bucket",
      "description": "A storage bucket and its relation to a parent Firebase project."
    },
    "ListBucketsResponse": {
      "description": "The response returned by `ListBuckets`.",
      "type": "object",
      "id": "ListBucketsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "buckets": {
          "description": "The list of linked buckets.",
          "items": {
            "$ref": "Bucket"
          },
          "type": "array"
        }
      }
    },
    "AddFirebaseRequest": {
      "properties": {},
      "id": "AddFirebaseRequest",
      "type": "object",
      "description": "The request used to link a Google Cloud Storage bucket to a Firebase project."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseStorageControlplaneV1betaMigrateLocationDestructivelyMetadata": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state. Should not be used.",
            "The MigrateLocationDestructively request has passed precondition checks and the bucket migration will begin soon.",
            "Generating a unique bucket name, storing the source -\u003e temp mapping in Spanner, and actually creating the temporary bucket via Bigstore.",
            "The first STS transfer to move all objects from the source bucket to the temp bucket is underway.",
            "The source bucket is being emptied and deleted.",
            "The source bucket is being recreated in the new location.",
            "The second STS transfer to move all objects from the temp bucket to the final bucket is underway.",
            "The temp bucket is being emptied and deleted.",
            "All stages of the migration have completed and the operation has been marked done and updated with a response.",
            "The migration failed at some stage and it is not possible to continue retrying that stage. Manual recovery may be needed. Rollback is either impossible at this stage, or has been attempted and failed.",
            "The migration has encountered a permanent failure and is now being rolled back so that the source bucket is restored to its original state.",
            "The migration has been successfully rolled back."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "CREATING_TEMP_BUCKET",
            "TRANSFERRING_TO_TEMP",
            "DELETING_SOURCE_BUCKET",
            "CREATING_DESTINATION_BUCKET",
            "TRANSFERRING_TO_DESTINATION",
            "DELETING_TEMP_BUCKET",
            "SUCCEEDED",
            "FAILED",
            "ROLLING_BACK",
            "ROLLED_BACK"
          ],
          "description": "The current state of the migration.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time the LRO was created.",
          "format": "google-datetime"
        },
        "lastUpdateTime": {
          "description": "The time the LRO was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata for MigrateLocationDestructively LRO.",
      "id": "GoogleFirebaseStorageControlplaneV1betaMigrateLocationDestructivelyMetadata"
    }
  },
  "rootUrl": "https://firebasestorage.googleapis.com/",
  "ownerName": "Google",
  "title": "Cloud Storage for Firebase API",
  "kind": "discovery#restDescription",
  "revision": "20220927",
  "baseUrl": "https://firebasestorage.googleapis.com/",
  "id": "firebasestorage:v1beta",
  "description": "The Cloud Storage for Firebase API enables programmatic management of Cloud Storage buckets for use in Firebase projects",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Firebasestorage",
  "basePath": "",
  "protocol": "rest",
  "documentationLink": "https://firebase.google.com/docs/storage",
  "mtlsRootUrl": "https://firebasestorage.mtls.googleapis.com/",
  "version": "v1beta",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "name": "firebasestorage",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch"
}
