{
  "id": "firebasestorage:v1beta",
  "servicePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "RemoveFirebaseRequest": {
      "description": "The request used to unlink a Google Cloud Storage bucket from a Firebase project.",
      "properties": {},
      "id": "RemoveFirebaseRequest",
      "type": "object"
    },
    "Bucket": {
      "type": "object",
      "id": "Bucket",
      "properties": {
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Represents whether a bucket is being moved to a new location, in which case reconciling is set to true."
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Location of the storage bucket."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the bucket."
        }
      },
      "description": "A storage bucket and its relation to a parent Firebase project."
    },
    "GoogleFirebaseStorageControlplaneV1betaMigrateLocationDestructivelyMetadata": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state. Should not be used.",
            "The MigrateLocationDestructively request has passed precondition checks and the bucket migration will begin soon.",
            "Generating a unique bucket name, storing the source -\u003e temp mapping in Spanner, and actually creating the temporary bucket via Bigstore.",
            "The first STS transfer to move all objects from the source bucket to the temp bucket is underway.",
            "The source bucket is being emptied and deleted.",
            "The source bucket is being recreated in the new location.",
            "The second STS transfer to move all objects from the temp bucket to the final bucket is underway.",
            "The temp bucket is being emptied and deleted.",
            "All stages of the migration have completed and the operation has been marked done and updated with a response.",
            "The migration failed at some stage and it is not possible to continue retrying that stage. Manual recovery may be needed.",
            "The migration has encountered a permanent failure and is now being rolled back so that the source bucket is restored to its original state."
          ],
          "description": "The current state of the migration.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "CREATING_TEMP_BUCKET",
            "TRANSFERRING_TO_TEMP",
            "DELETING_SOURCE_BUCKET",
            "CREATING_DESTINATION_BUCKET",
            "TRANSFERRING_TO_DESTINATION",
            "DELETING_TEMP_BUCKET",
            "SUCCEEDED",
            "FAILED",
            "ROLLING_BACK"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the LRO was created."
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the LRO was last updated."
        }
      },
      "description": "Metadata for MigrateLocationDestructively LRO.",
      "id": "GoogleFirebaseStorageControlplaneV1betaMigrateLocationDestructivelyMetadata",
      "type": "object"
    },
    "GoogleFirebaseStorageControlplaneV1alphaMigrateLocationDestructivelyMetadata": {
      "description": "Metadata for MigrateLocationDestructively LRO.",
      "properties": {
        "createTime": {
          "description": "The time the LRO was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state. Should not be used.",
            "The MigrateLocationDestructively request has passed precondition checks and the bucket migration will begin soon.",
            "Generating a unique bucket name, storing the source -\u003e temp mapping in Spanner, and actually creating the temporary bucket via Bigstore.",
            "The first STS transfer to move all objects from the source bucket to the temp bucket is underway.",
            "The source bucket is being emptied and deleted.",
            "The source bucket is being recreated in the new location.",
            "The second STS transfer to move all objects from the temp bucket to the final bucket is underway.",
            "The temp bucket is being emptied and deleted.",
            "All stages of the migration have completed and the operation has been marked done and updated with a response.",
            "The migration failed at some stage and it is not possible to continue retrying that stage. Manual recovery may be needed.",
            "The migration has encountered a permanent failure and is now being rolled back so that the source bucket is restored to its original state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "CREATING_TEMP_BUCKET",
            "TRANSFERRING_TO_TEMP",
            "DELETING_SOURCE_BUCKET",
            "CREATING_DESTINATION_BUCKET",
            "TRANSFERRING_TO_DESTINATION",
            "DELETING_TEMP_BUCKET",
            "SUCCEEDED",
            "FAILED",
            "ROLLING_BACK"
          ],
          "type": "string",
          "description": "The current state of the migration."
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "description": "The time the LRO was last updated.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseStorageControlplaneV1alphaMigrateLocationDestructivelyMetadata",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "ListBucketsResponse": {
      "type": "object",
      "id": "ListBucketsResponse",
      "description": "The response returned by `ListBuckets`.",
      "properties": {
        "buckets": {
          "items": {
            "$ref": "Bucket"
          },
          "type": "array",
          "description": "The list of linked buckets."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "AddFirebaseRequest": {
      "description": "The request used to link a Google Cloud Storage bucket to a Firebase project.",
      "id": "AddFirebaseRequest",
      "type": "object",
      "properties": {}
    }
  },
  "parameters": {
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "protocol": "rest",
  "ownerName": "Google",
  "version": "v1beta",
  "canonicalName": "Firebasestorage",
  "basePath": "",
  "description": "The Cloud Storage for Firebase API enables programmatic management of Cloud Storage buckets for use in Firebase projects",
  "ownerDomain": "google.com",
  "documentationLink": "https://firebase.google.com/docs/storage",
  "rootUrl": "https://firebasestorage.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "mtlsRootUrl": "https://firebasestorage.mtls.googleapis.com/",
  "title": "Cloud Storage for Firebase API",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "buckets": {
          "methods": {
            "list": {
              "description": "Lists the linked storage buckets for a project.",
              "path": "v1beta/{+parent}/buckets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListBucketsResponse"
              },
              "id": "firebasestorage.projects.buckets.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListBuckets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBuckets` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of buckets to return. If not set, the server will use a reasonable default."
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Resource name of the parent Firebase project, `projects/{project_number}`.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/buckets"
            },
            "addFirebase": {
              "parameterOrder": [
                "bucket"
              ],
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}:addFirebase",
              "response": {
                "$ref": "Bucket"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Links a Google Cloud Storage bucket to a Firebase project.",
              "httpMethod": "POST",
              "id": "firebasestorage.projects.buckets.addFirebase",
              "parameters": {
                "bucket": {
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_number}/buckets/{bucket_id}`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta/{+bucket}:addFirebase",
              "request": {
                "$ref": "AddFirebaseRequest"
              }
            },
            "get": {
              "description": "Gets a single linked storage bucket.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_number}/buckets/{bucket_id}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "firebasestorage.projects.buckets.get",
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}",
              "response": {
                "$ref": "Bucket"
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "removeFirebase": {
              "id": "firebasestorage.projects.buckets.removeFirebase",
              "description": "Unlinks a linked Google Cloud Storage bucket from a Firebase project.",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "bucket": {
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_number}/buckets/{bucket_id}`.",
                  "required": true
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}:removeFirebase",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "RemoveFirebaseRequest"
              },
              "path": "v1beta/{+bucket}:removeFirebase",
              "parameterOrder": [
                "bucket"
              ]
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://firebasestorage.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "firebasestorage",
  "version_module": true,
  "revision": "20210709"
}
