{
  "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
  "title": "Firebase Hosting API",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "schemas": {
    "Release": {
      "description": " A `Release` is a particular [collection of configurations and files](sites.versions) that is set to be public at a particular time.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The unique identifier for the release, in either of the following formats: - sites/SITE_ID/releases/RELEASE_ID - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID This name is provided in the response body when you call [`releases.create`](sites.releases/create) or [`channels.releases.create`](sites.channels.releases/create)."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEPLOY",
            "ROLLBACK",
            "SITE_DISABLE"
          ],
          "description": "Explains the reason for the release. Specify a value for this field only when creating a `SITE_DISABLE` type release.",
          "enumDescriptions": [
            "An unspecified type. Indicates that a version was released. This is the default value when no other `type` is explicitly specified.",
            "A version was uploaded to Firebase Hosting and released.",
            "The release points back to a previously deployed version.",
            "The release prevents the site from serving content. Firebase Hosting acts as if the site never existed."
          ]
        },
        "version": {
          "$ref": "Version",
          "description": "Output only. The configuration and content that was released."
        },
        "releaseUser": {
          "description": "Output only. Identifies the user who created the release.",
          "$ref": "ActingUser"
        },
        "message": {
          "description": "The deploy description when the release was created. The value can be up to 512 characters.",
          "type": "string"
        },
        "releaseTime": {
          "description": "Output only. The time at which the version is set to be public.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Release"
    },
    "ServingConfig": {
      "description": "The configuration for how incoming requests to a site should be routed and processed before serving content. The URL request paths are matched against the specified URL patterns in the configuration, then Hosting applies the applicable configuration according to a specific [priority order](https://firebase.google.com/docs/hosting/full-config#hosting_priority_order).",
      "type": "object",
      "id": "ServingConfig",
      "properties": {
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "description": "An array of objects, where each object specifies a URL pattern that, if matched to the request URL path, triggers Hosting to apply the specified custom response headers.",
          "type": "array"
        },
        "trailingSlashBehavior": {
          "type": "string",
          "enum": [
            "TRAILING_SLASH_BEHAVIOR_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "description": "Defines how to handle a trailing slash in the URL path.",
          "enumDescriptions": [
            "No behavior is specified. Files are served at their exact location only, and trailing slashes are only added to directory indexes.",
            "Trailing slashes are _added_ to directory indexes as well as to any URL path not ending in a file extension.",
            "Trailing slashes are _removed_ from directory indexes as well as from any URL path not ending in a file extension."
          ]
        },
        "rewrites": {
          "type": "array",
          "items": {
            "$ref": "Rewrite"
          },
          "description": "An array of objects (called rewrite rules), where each rule specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond as if the service were given the specified destination URL."
        },
        "appAssociation": {
          "description": "How to handle well known App Association files.",
          "enum": [
            "AUTO",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The app association files will be automatically created from the apps that exist in the Firebase project.",
            "No special handling of the app association files will occur, these paths will result in a 404 unless caught with a Rewrite."
          ]
        },
        "i18n": {
          "$ref": "I18nConfig",
          "description": "Optional. Defines i18n rewrite behavior."
        },
        "redirects": {
          "type": "array",
          "items": {
            "$ref": "Redirect"
          },
          "description": "An array of objects (called redirect rules), where each rule specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond with a redirect to the specified destination path."
        },
        "cleanUrls": {
          "type": "boolean",
          "description": "Defines whether to drop the file extension from uploaded files."
        }
      }
    },
    "ListVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListVersions`. Page tokens are short-lived and should not be stored."
        },
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "description": "The list of versions, if any exist.",
          "type": "array"
        }
      },
      "id": "ListVersionsResponse",
      "type": "object"
    },
    "ListDomainsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token, if more results exist.",
          "type": "string"
        },
        "domains": {
          "description": "The list of domains, if any exist.",
          "items": {
            "$ref": "Domain"
          },
          "type": "array"
        }
      },
      "description": "The response to listing Domains.",
      "id": "ListDomainsResponse",
      "type": "object"
    },
    "PopulateVersionFilesRequest": {
      "id": "PopulateVersionFilesRequest",
      "properties": {
        "files": {
          "description": "A set of file paths to the hashes corresponding to assets that should be added to the version. A file path to an empty hash will remove the path from the version. Calculate a hash by Gzipping the file then taking the SHA256 hash of the newly compressed file.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ListVersionFilesResponse": {
      "id": "ListVersionFilesResponse",
      "properties": {
        "files": {
          "type": "array",
          "description": " The list of paths to the hashes of the files in the specified version.",
          "items": {
            "$ref": "VersionFile"
          }
        },
        "nextPageToken": {
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListVersionFiles`. Page tokens are short-lived and should not be stored.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Domain": {
      "description": "The intended behavior and status information of a domain.",
      "properties": {
        "domainRedirect": {
          "$ref": "DomainRedirect",
          "description": "If set, the domain should redirect with the provided parameters."
        },
        "site": {
          "type": "string",
          "description": "Required. The site name of the association."
        },
        "domainName": {
          "description": "Required. The domain name of the association.",
          "type": "string"
        },
        "provisioning": {
          "$ref": "DomainProvisioning",
          "description": "Output only. Information about the provisioning of certificates and the health of the DNS resolution for the domain."
        },
        "status": {
          "description": "Output only. Additional status of the domain association.",
          "enum": [
            "DOMAIN_STATUS_UNSPECIFIED",
            "DOMAIN_CHANGE_PENDING",
            "DOMAIN_ACTIVE",
            "DOMAIN_VERIFICATION_REQUIRED",
            "DOMAIN_VERIFICATION_LOST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified domain association status.",
            "An external operation is in progress on the domain association and no further operations can be performed until it is complete. Formerly used for metabase updates. Not currently used",
            "The domain association is active and no additional action is required.",
            "The domain was previously verified in the legacy system. User must reverify the domain through the ownership service.",
            "The domain verification has been lost and the domain is in the grace period before being removed from the Firebase Hosting site."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the domain was last updated."
        }
      },
      "type": "object",
      "id": "Domain"
    },
    "ListReleasesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListReleases`. Page tokens are short-lived and should not be stored.",
          "type": "string"
        },
        "releases": {
          "items": {
            "$ref": "Release"
          },
          "description": "The list of hashes of files that still need to be uploaded, if any exist.",
          "type": "array"
        }
      },
      "id": "ListReleasesResponse",
      "type": "object"
    },
    "Version": {
      "description": "A `Version` is a configuration and a collection of static files which determine how a site is displayed.",
      "type": "object",
      "id": "Version",
      "properties": {
        "name": {
          "type": "string",
          "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create)."
        },
        "finalizeTime": {
          "description": "Output only. The time at which the version was `FINALIZED`.",
          "type": "string",
          "format": "google-datetime"
        },
        "versionBytes": {
          "type": "string",
          "description": "Output only. The total stored bytesize of the version. This value is calculated after a version is `FINALIZED`.",
          "format": "int64"
        },
        "deleteTime": {
          "description": "Output only. The time at which the version was `DELETED`.",
          "type": "string",
          "format": "google-datetime"
        },
        "deleteUser": {
          "description": "Output only. Identifies the user who `DELETED` the version.",
          "$ref": "ActingUser"
        },
        "status": {
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "CREATED",
            "FINALIZED",
            "DELETED",
            "ABANDONED",
            "EXPIRED",
            "CLONING"
          ],
          "description": "The deploy status of the version. For a successful deploy, call [`CreateVersion`](sites.versions/create) to make a new version (`CREATED` status), [upload all desired files](sites.versions/populateFiles) to the version, then [update](sites.versions/patch) the version to the `FINALIZED` status. Note that if you leave the version in the `CREATED` state for more than 12 hours, the system will automatically mark the version as `ABANDONED`. You can also change the status of a version to `DELETED` by calling [`DeleteVersion`](sites.versions/delete).",
          "type": "string",
          "enumDescriptions": [
            "The default status; should not be intentionally used.",
            "The version has been created, and content is currently being added to the version.",
            "All content has been added to the version, and the version can no longer be changed.",
            "The version has been deleted.",
            "The version was not updated to `FINALIZED` within 12 hours and was automatically deleted.",
            "The version is outside the site-configured limit for the number of retained versions, so the version's content is scheduled for deletion.",
            "The version is being cloned from another version. All content is still being copied over."
          ]
        },
        "config": {
          "description": "The configuration for the behavior of the site. This configuration exists in the [`firebase.json`](https://firebase.google.com/docs/cli/#the_firebasejson_file) file.",
          "$ref": "ServingConfig"
        },
        "fileCount": {
          "description": "Output only. The total number of files associated with the version. This value is calculated after a version is `FINALIZED`.",
          "format": "int64",
          "type": "string"
        },
        "createUser": {
          "description": "Output only. Identifies the user who created the version.",
          "$ref": "ActingUser"
        },
        "labels": {
          "description": "The labels used for extra metadata and/or filtering.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "finalizeUser": {
          "description": "Output only. Identifies the user who `FINALIZED` the version.",
          "$ref": "ActingUser"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the version was created."
        }
      }
    },
    "CloudRunRewrite": {
      "type": "object",
      "id": "CloudRunRewrite",
      "description": "A configured rewrite that directs requests to a Cloud Run service. If the Cloud Run service does not exist when setting or updating your Firebase Hosting configuration, then the request fails. Any errors from the Cloud Run service are passed to the end user (for example, if you delete a service, any requests directed to that service receive a `404` error).",
      "properties": {
        "serviceId": {
          "description": "Required. User-defined ID of the Cloud Run service.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Optional. User-provided region where the Cloud Run service is hosted. Defaults to `us-central1` if not supplied."
        }
      }
    },
    "Operation": {
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CloneVersionRequest": {
      "type": "object",
      "properties": {
        "finalize": {
          "description": "If true, the call to `CloneVersion` immediately finalizes the version after cloning is complete. If false, the cloned version will have a status of `CREATED`. Use [`UpdateVersion`](patch) to set the status of the version to `FINALIZED`.",
          "type": "boolean"
        },
        "exclude": {
          "$ref": "PathFilter",
          "description": "If provided, only paths that do not match any of the RegEx values in this list will be included in the new version."
        },
        "sourceVersion": {
          "description": "Required. The unique identifier for the version to be cloned, in the format: sites/SITE_ID/versions/VERSION_ID",
          "type": "string"
        },
        "include": {
          "$ref": "PathFilter",
          "description": "If provided, only paths that match one or more RegEx values in this list will be included in the new version."
        }
      },
      "id": "CloneVersionRequest"
    },
    "I18nConfig": {
      "id": "I18nConfig",
      "properties": {
        "root": {
          "type": "string",
          "description": "Required. The user-supplied path where country and language specific content will be looked for within the public directory."
        }
      },
      "description": "If provided, i18n rewrites are enabled.",
      "type": "object"
    },
    "ActingUser": {
      "description": "Contains metadata about the user who performed an action, such as creating a release or finalizing a version.",
      "properties": {
        "imageUrl": {
          "description": "A profile image URL for the user. May not be present if the user has changed their email address or deleted their account.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user when the user performed the action.",
          "type": "string"
        }
      },
      "id": "ActingUser",
      "type": "object"
    },
    "Header": {
      "description": "A [`Header`](https://firebase.google.com/docs/hosting/full-config#headers) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to apply the specified custom response headers.",
      "properties": {
        "headers": {
          "description": "Required. The additional headers to add to the response.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "regex": {
          "description": "The user-supplied RE2 regular expression to match against the request URL path.",
          "type": "string"
        },
        "glob": {
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Header"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "PopulateVersionFilesResponse": {
      "properties": {
        "uploadUrl": {
          "type": "string",
          "description": "The URL to which the files should be uploaded, in the format: \"https://upload-firebasehosting.googleapis.com/upload/sites/SITE_ID /versions/VERSION_ID/files\" Perform a multipart `POST` of the Gzipped file contents to the URL using a forward slash and the hash of the file appended to the end."
        },
        "uploadRequiredHashes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The content hashes of the specified files that need to be uploaded to the specified URL."
        }
      },
      "id": "PopulateVersionFilesResponse",
      "type": "object"
    },
    "Redirect": {
      "type": "object",
      "properties": {
        "glob": {
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path.",
          "type": "string"
        },
        "statusCode": {
          "format": "int32",
          "description": "Required. The status HTTP code to return in the response. It must be a valid 3xx status code.",
          "type": "integer"
        },
        "location": {
          "type": "string",
          "description": "Required. The value to put in the HTTP location header of the response. The location can contain capture group values from the pattern using a `:` prefix to identify the segment and an optional `*` to capture the rest of the URL. For example: \"glob\": \"/:capture*\", \"statusCode\": 301, \"location\": \"https://example.com/foo/:capture\""
        },
        "regex": {
          "type": "string",
          "description": "The user-supplied RE2 regular expression to match against the request URL path."
        }
      },
      "description": "A [`Redirect`](https://firebase.google.com/docs/hosting/full-config#redirects) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond with a redirect to the specified destination path.",
      "id": "Redirect"
    },
    "ListSitesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListSites`. Page tokens are short-lived and should not be stored."
        },
        "sites": {
          "type": "array",
          "description": "A list of Site objects associated with the specified Firebase project.",
          "items": {
            "$ref": "Site"
          }
        }
      },
      "id": "ListSitesResponse"
    },
    "DomainProvisioning": {
      "type": "object",
      "id": "DomainProvisioning",
      "properties": {
        "expectedIps": {
          "type": "array",
          "description": "The list of IPs to which the domain is expected to resolve.",
          "items": {
            "type": "string"
          }
        },
        "certChallengeDns": {
          "description": "The DNS challenge for generating a certificate.",
          "$ref": "CertDnsChallenge"
        },
        "dnsFetchTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the last DNS fetch occurred."
        },
        "discoveredIps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IPs found at the last DNS fetch."
        },
        "certChallengeDiscoveredTxt": {
          "description": "The TXT records (for the certificate challenge) that were found at the last DNS fetch.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "certStatus": {
          "enum": [
            "CERT_STATUS_UNSPECIFIED",
            "CERT_PENDING",
            "CERT_MISSING",
            "CERT_PROCESSING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_ERROR"
          ],
          "type": "string",
          "description": "The certificate provisioning status; updated when Firebase Hosting provisions an SSL certificate for the domain.",
          "enumDescriptions": [
            "Unspecified certificate provisioning status.",
            "Waiting for certificate challenge to be created.",
            "Waiting for certificate challenge to be met.",
            "Certificate challenge met; attempting to acquire/propagate certificate.",
            "Certificate obtained; propagating to the CDN.",
            "Certificate provisioned and deployed across the CDN.",
            "Certificate provisioning failed in a non-recoverable manner."
          ]
        },
        "dnsStatus": {
          "description": "The DNS record match status as of the last DNS fetch.",
          "type": "string",
          "enum": [
            "DNS_STATUS_UNSPECIFIED",
            "DNS_PENDING",
            "DNS_MISSING",
            "DNS_PARTIAL_MATCH",
            "DNS_MATCH",
            "DNS_EXTRANEOUS_MATCH"
          ],
          "enumDescriptions": [
            "Unspecified DNS status.",
            "No DNS records have been specified for this domain yet.",
            "None of the required DNS records have been detected on the domain.",
            "Some of the required DNS records were detected, but not all of them. No extra (non-required) DNS records were detected.",
            "All required DNS records were detected. No extra (non-required) DNS records were detected.",
            "The domain has at least one of the required DNS records, and it has at least one extra (non-required) DNS record."
          ]
        },
        "certChallengeHttp": {
          "$ref": "CertHttpChallenge",
          "description": "The HTTP challenge for generating a certificate."
        }
      },
      "description": "The current certificate provisioning status information for a domain."
    },
    "Site": {
      "type": "object",
      "id": "Site",
      "properties": {
        "appId": {
          "description": "Optional. The [ID of a Web App](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the Hosting site.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-specified labels for the Hosting site.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "defaultUrl": {
          "readOnly": true,
          "description": "Output only. The default URL for the Hosting site.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown state, likely the result of an error on the backend.",
            "The default Hosting site that is provisioned when a Firebase project is created.",
            "A Hosting site that the user created."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT_SITE",
            "USER_SITE"
          ],
          "type": "string",
          "description": "Output only. The type of Hosting site. Every Firebase project has a `DEFAULT_SITE`, which is created when Hosting is provisioned for the project. All additional sites are `USER_SITE`."
        },
        "name": {
          "type": "string",
          "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
          "readOnly": true
        }
      },
      "description": "A `Site` represents a Firebase Hosting site."
    },
    "CertHttpChallenge": {
      "properties": {
        "path": {
          "type": "string",
          "description": "The URL path on which to serve the specified token to satisfy the certificate challenge."
        },
        "token": {
          "type": "string",
          "description": "The token to serve at the specified URL path to satisfy the certificate challenge."
        }
      },
      "description": "Represents an HTTP certificate challenge.",
      "type": "object",
      "id": "CertHttpChallenge"
    },
    "Channel": {
      "id": "Channel",
      "type": "object",
      "description": "A `Channel` represents a stream of releases for a site. All sites have a default `live` channel that serves content to the Firebase-provided subdomains and any connected custom domains.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the channel was last updated."
        },
        "labels": {
          "description": "Text labels used for extra metadata and/or filtering.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "url": {
          "readOnly": true,
          "description": "Output only. The URL at which the content of this channel's current release can be viewed. This URL is a Firebase-provided subdomain of `web.app`. The content of this channel's current release can also be viewed at the Firebase-provided subdomain of `firebaseapp.com`. If this channel is the `live` channel for the Hosting site, then the content of this channel's current release can also be viewed at any connected custom domains.",
          "type": "string"
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Input only. A time-to-live for this channel. Sets `expire_time` to the provided duration past the time of the request."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the channel was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "release": {
          "description": "Output only. The current release for the channel, if any.",
          "readOnly": true,
          "$ref": "Release"
        },
        "name": {
          "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the channel will be automatically deleted. If null, the channel will not be automatically deleted. This field is present in the output whether it's set directly or via the `ttl` field."
        },
        "retainedReleaseCount": {
          "description": "The number of previous releases to retain on the channel for rollback or other purposes. Must be a number between 1-100. Defaults to 10 for new channels.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SiteConfig": {
      "type": "object",
      "description": "A `SiteConfig` contains metadata associated with a specific site that controls Firebase Hosting serving behavior",
      "properties": {
        "cloudLoggingEnabled": {
          "description": "Whether or not web requests made by site visitors are logged via Cloud Logging.",
          "type": "boolean"
        },
        "maxVersions": {
          "description": "The number of FINALIZED versions that will be held for a site before automatic deletion. When a new version is deployed, content for versions in storage in excess of this number will be deleted, and will no longer be billed for storage usage. Oldest versions will be deleted first; sites are created with an unlimited number of max_versions by default.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SiteConfig"
    },
    "DomainRedirect": {
      "type": "object",
      "description": "Defines the behavior of a domain-level redirect. Domain redirects preserve the path of the redirect but replace the requested domain with the one specified in the redirect configuration.",
      "id": "DomainRedirect",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The default redirect type; should not be intentionlly used.",
            "The redirect will respond with an HTTP status code of `301 Moved Permanently`."
          ],
          "type": "string",
          "description": "Required. The redirect status code.",
          "enum": [
            "REDIRECT_TYPE_UNSPECIFIED",
            "MOVED_PERMANENTLY"
          ]
        },
        "domainName": {
          "description": "Required. The domain name to redirect to.",
          "type": "string"
        }
      }
    },
    "VersionFile": {
      "properties": {
        "path": {
          "description": "The URI at which the file's content should display.",
          "type": "string"
        },
        "status": {
          "description": "Output only. The current status of a particular file in the specified version. The value will be either `pending upload` or `uploaded`.",
          "enumDescriptions": [
            "The default status; should not be intentionally used.",
            "The file has been included in the version and is expected to be uploaded in the near future.",
            "The file has already been uploaded to Firebase Hosting."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "EXPECTED",
            "ACTIVE"
          ],
          "type": "string"
        },
        "hash": {
          "description": "The SHA256 content hash of the file.",
          "type": "string"
        }
      },
      "description": "A static content file that is part of a version.",
      "type": "object",
      "id": "VersionFile"
    },
    "ListChannelsResponse": {
      "id": "ListChannelsResponse",
      "type": "object",
      "properties": {
        "channels": {
          "description": "The list of channels.",
          "items": {
            "$ref": "Channel"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListChannels`. Page tokens are short-lived and should not be stored."
        }
      }
    },
    "Rewrite": {
      "id": "Rewrite",
      "type": "object",
      "properties": {
        "regex": {
          "type": "string",
          "description": "The user-supplied RE2 regular expression to match against the request URL path."
        },
        "path": {
          "description": "The URL path to rewrite the request to.",
          "type": "string"
        },
        "function": {
          "type": "string",
          "description": "The function to proxy requests to. Must match the exported function name exactly."
        },
        "glob": {
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path.",
          "type": "string"
        },
        "run": {
          "$ref": "CloudRunRewrite",
          "description": "The request will be forwarded to Cloud Run."
        },
        "dynamicLinks": {
          "type": "boolean",
          "description": "The request will be forwarded to Firebase Dynamic Links."
        }
      },
      "description": "A [`Rewrite`](https://firebase.google.com/docs/hosting/full-config#rewrites) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond as if the service were given the specified destination URL."
    },
    "PathFilter": {
      "id": "PathFilter",
      "type": "object",
      "description": "A representation of filter path.",
      "properties": {
        "regexes": {
          "type": "array",
          "description": "An array of RegEx values by which to filter.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "CertDnsChallenge": {
      "description": "Represents a DNS certificate challenge.",
      "id": "CertDnsChallenge",
      "properties": {
        "domainName": {
          "type": "string",
          "description": "The domain name upon which the DNS challenge must be satisfied."
        },
        "token": {
          "description": "The value that must be present as a TXT record on the domain name to satisfy the challenge.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "basePath": "",
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "version": "v1beta1",
  "name": "firebasehosting",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "ownerName": "Google",
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "version_module": true,
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "revision": "20210811",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "canonicalName": "Firebase Hosting",
  "fullyEncodeReservedExpansion": true,
  "id": "firebasehosting:v1beta1",
  "resources": {
    "sites": {
      "resources": {
        "releases": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "response": {
                "$ref": "Release"
              },
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID"
                },
                "versionName": {
                  "location": "query",
                  "type": "string",
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/releases",
              "id": "firebasehosting.sites.releases.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "Release"
              }
            },
            "list": {
              "path": "v1beta1/{+parent}/releases",
              "id": "firebasehosting.sites.releases.list",
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "httpMethod": "GET",
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "location": "path",
                  "type": "string",
                  "pattern": "^sites/[^/]+$"
                }
              }
            }
          }
        },
        "domains": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Domain"
              },
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "description": "Required. The name of the domain configuration to get.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "id": "firebasehosting.sites.domains.get",
              "description": "Gets a domain mapping on the specified site."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "firebasehosting.sites.domains.create",
              "description": "Creates a domain mapping on the specified site.",
              "request": {
                "$ref": "Domain"
              },
              "response": {
                "$ref": "Domain"
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "path": "v1beta1/{+parent}/domains",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "update": {
              "path": "v1beta1/{+name}",
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
              "request": {
                "$ref": "Domain"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "response": {
                "$ref": "Domain"
              },
              "id": "firebasehosting.sites.domains.update",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "delete": {
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Deletes the existing domain mapping on the specified site.",
              "id": "firebasehosting.sites.domains.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the domain association to delete.",
                  "type": "string"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "id": "firebasehosting.sites.domains.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The next_page_token from a previous request, if provided."
                },
                "pageSize": {
                  "description": "The page size to return. Defaults to 50.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+$"
                }
              },
              "path": "v1beta1/{+parent}/domains",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists the domains for the specified site."
            }
          }
        },
        "versions": {
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "path": "v1beta1/{+parent}/files",
                  "httpMethod": "GET",
                  "id": "firebasehosting.sites.versions.files.list",
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "status": {
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "description": " The type of files that should be listed for the specified version.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ]
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "location": "path",
                      "pattern": "^sites/[^/]+/versions/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          },
          "methods": {
            "clone": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "id": "firebasehosting.sites.versions.clone",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "path": "v1beta1/{+parent}/versions:clone",
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/versions",
              "id": "firebasehosting.sites.versions.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                  "type": "integer"
                }
              }
            },
            "populateFiles": {
              "parameterOrder": [
                "parent"
              ],
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true
                }
              },
              "path": "v1beta1/{+parent}:populateFiles",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "id": "firebasehosting.sites.versions.populateFiles"
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes the specified version.",
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.versions.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "patch": {
              "id": "firebasehosting.sites.versions.patch",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Version"
              },
              "path": "v1beta1/{+name}",
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "request": {
                "$ref": "Version"
              },
              "httpMethod": "PATCH"
            },
            "create": {
              "id": "firebasehosting.sites.versions.create",
              "path": "v1beta1/{+parent}/versions",
              "response": {
                "$ref": "Version"
              },
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "sizeBytes": {
                  "location": "query",
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "format": "int64",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                  "required": true
                },
                "versionId": {
                  "type": "string",
                  "location": "query",
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Creates a new version for the specified site.",
              "httpMethod": "POST",
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "channels": {
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "id": "firebasehosting.sites.channels.releases.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "required": true,
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "path": "v1beta1/{+parent}/releases",
                  "httpMethod": "GET"
                },
                "create": {
                  "request": {
                    "$ref": "Release"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "response": {
                    "$ref": "Release"
                  },
                  "path": "v1beta1/{+parent}/releases",
                  "id": "firebasehosting.sites.channels.releases.create"
                }
              }
            }
          },
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "pattern": "^sites/[^/]+/channels/[^/]+$"
                }
              },
              "id": "firebasehosting.sites.channels.delete",
              "httpMethod": "DELETE"
            },
            "patch": {
              "response": {
                "$ref": "Channel"
              },
              "id": "firebasehosting.sites.channels.patch",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "description": "A comma-separated list of fields to be updated in this request.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Channel"
              }
            },
            "list": {
              "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
              "id": "firebasehosting.sites.channels.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "path": "v1beta1/{+parent}/channels",
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "create": {
              "id": "firebasehosting.sites.channels.create",
              "response": {
                "$ref": "Channel"
              },
              "request": {
                "$ref": "Channel"
              },
              "parameters": {
                "channelId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                  "pattern": "^sites/[^/]+$"
                }
              },
              "description": "Creates a new channel in the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "path": "v1beta1/{+parent}/channels",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "id": "firebasehosting.sites.channels.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves information for the specified channel of the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Channel"
              }
            }
          }
        }
      },
      "methods": {
        "updateConfig": {
          "description": "Sets the Hosting metadata for a specific site.",
          "path": "v1beta1/{+name}",
          "response": {
            "$ref": "SiteConfig"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "request": {
            "$ref": "SiteConfig"
          },
          "id": "firebasehosting.sites.updateConfig",
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "pattern": "^sites/[^/]+/config$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        },
        "getConfig": {
          "description": "Gets the Hosting metadata for a specific site.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^sites/[^/]+/config$",
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
            }
          },
          "response": {
            "$ref": "SiteConfig"
          },
          "path": "v1beta1/{+name}",
          "id": "firebasehosting.sites.getConfig",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta1/sites/{sitesId}/config"
        }
      }
    },
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "GET"
            }
          }
        },
        "sites": {
          "methods": {
            "delete": {
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project.",
              "id": "firebasehosting.projects.sites.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing."
                }
              },
              "response": {
                "$ref": "ListSitesResponse"
              },
              "id": "firebasehosting.projects.sites.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "path": "v1beta1/{+parent}/sites"
            },
            "patch": {
              "response": {
                "$ref": "Site"
              },
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "Site"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "PATCH",
              "description": "Updates attributes of the specified Hosting Site.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "A set of field names from your Site that you want to update.",
                  "type": "string"
                }
              },
              "id": "firebasehosting.projects.sites.patch",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}"
            },
            "getConfig": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.sites.getConfig",
              "response": {
                "$ref": "SiteConfig"
              },
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
                  "type": "string"
                }
              },
              "description": "Gets the Hosting metadata for a specific site."
            },
            "create": {
              "response": {
                "$ref": "Site"
              },
              "httpMethod": "POST",
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems.",
              "request": {
                "$ref": "Site"
              },
              "id": "firebasehosting.projects.sites.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "path": "v1beta1/{+parent}/sites",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values."
                },
                "siteId": {
                  "location": "query",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label.",
                  "type": "string"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.projects.sites.get",
              "description": "Gets the specified Hosting Site.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Site"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path"
                }
              }
            },
            "updateConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "SiteConfig"
              },
              "description": "Sets the Hosting metadata for a specific site.",
              "response": {
                "$ref": "SiteConfig"
              },
              "httpMethod": "PATCH",
              "id": "firebasehosting.projects.sites.updateConfig",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config"
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "type": "string"
                    }
                  },
                  "id": "firebasehosting.projects.sites.releases.list",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "path": "v1beta1/{+parent}/releases"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "httpMethod": "POST",
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "response": {
                    "$ref": "Release"
                  },
                  "request": {
                    "$ref": "Release"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string"
                    },
                    "versionName": {
                      "type": "string",
                      "location": "query",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                    }
                  },
                  "path": "v1beta1/{+parent}/releases",
                  "id": "firebasehosting.projects.sites.releases.create",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "channels": {
              "methods": {
                "patch": {
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "A comma-separated list of fields to be updated in this request.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID"
                    }
                  },
                  "response": {
                    "$ref": "Channel"
                  },
                  "request": {
                    "$ref": "Channel"
                  },
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted."
                },
                "create": {
                  "response": {
                    "$ref": "Channel"
                  },
                  "request": {
                    "$ref": "Channel"
                  },
                  "httpMethod": "POST",
                  "id": "firebasehosting.projects.sites.channels.create",
                  "description": "Creates a new channel in the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "channelId": {
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                      "location": "query",
[...]
