{
  "ownerDomain": "google.com",
  "id": "firestore:v1",
  "protocol": "rest",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "servicePath": "",
  "name": "firestore",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    }
  },
  "canonicalName": "Firestore",
  "title": "Cloud Firestore API",
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "baseUrl": "https://firestore.googleapis.com/",
  "ownerName": "Google",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "revision": "20230328",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/firestore",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "databases": {
          "methods": {
            "list": {
              "id": "firestore.projects.databases.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "List all the databases in the project.",
              "path": "v1/{+parent}/databases",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. A parent name of the form `projects/{project_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/databases",
              "response": {
                "$ref": "GoogleFirestoreAdminV1ListDatabasesResponse"
              }
            },
            "exportDocuments": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "id": "firestore.projects.databases.exportDocuments",
              "parameters": {
                "name": {
                  "description": "Required. Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "request": {
                "$ref": "GoogleFirestoreAdminV1ExportDocumentsRequest"
              },
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage. For more details on export behavior and output format, refer to: https://cloud.google.com/firestore/docs/manage-data/export-import",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "path": "v1/{+name}:exportDocuments"
            },
            "importDocuments": {
              "request": {
                "$ref": "GoogleFirestoreAdminV1ImportDocumentsRequest"
              },
              "path": "v1/{+name}:importDocuments",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/databases/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.databases.importDocuments",
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore."
            },
            "patch": {
              "request": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "path": "v1/{+name}",
              "description": "Updates a database.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The resource name of the Database. Format: `projects/{project}/databases/{database}`",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The list of fields to be updated.",
                  "location": "query"
                }
              },
              "id": "firestore.projects.databases.patch",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.databases.get",
              "description": "Gets information about a database.",
              "response": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}`",
                  "required": true,
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}"
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.databases.delete",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a database.",
              "parameters": {
                "validateOnly": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If set, validate the request and preview the response, but do not actually delete the database."
                },
                "allowMissing": {
                  "description": "If set to true and the Database is not found, the request will succeed but no action will be taken.",
                  "type": "boolean",
                  "location": "query"
                },
                "etag": {
                  "location": "query",
                  "description": "The current etag of the Database. If an etag is provided and does not match the current etag of the database, deletion will be blocked and a FAILED_PRECONDITION error will be returned.",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "required": true,
                  "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}`",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/databases",
              "description": "Create a database.",
              "parameters": {
                "parent": {
                  "description": "Required. A parent name of the form `projects/{project_id}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "databaseId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The ID to use for the database, which will become the final component of the database's resource name. The value must be set to \"(default)\"."
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/databases",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "firestore.projects.databases.create",
              "request": {
                "$ref": "GoogleFirestoreAdminV1Database"
              }
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "currentDocument.exists": {
                      "type": "boolean",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query"
                    },
                    "currentDocument.updateTime": {
                      "location": "query",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "required": true
                    }
                  },
                  "description": "Deletes a document.",
                  "id": "firestore.projects.databases.documents.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "write": {
                  "parameterOrder": [
                    "database"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "id": "firestore.projects.databases.documents.write",
                  "description": "Streams batches of document updates and deletes, in order. This method is only available via gRPC or WebChannel (not REST).",
                  "path": "v1/{+database}/documents:write",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "WriteResponse"
                  },
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "httpMethod": "POST"
                },
                "commit": {
                  "request": {
                    "$ref": "CommitRequest"
                  },
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "id": "firestore.projects.databases.documents.commit",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Commits a transaction, while optionally updating documents.",
                  "path": "v1/{+database}/documents:commit",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ]
                },
                "batchGet": {
                  "path": "v1/{+database}/documents:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "id": "firestore.projects.databases.documents.batchGet",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  }
                },
                "rollback": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "path": "v1/{+database}/documents:rollback",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Rolls back a transaction.",
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "id": "firestore.projects.databases.documents.rollback",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "database"
                  ]
                },
                "batchWrite": {
                  "parameterOrder": [
                    "database"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+database}/documents:batchWrite",
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "response": {
                    "$ref": "BatchWriteResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead."
                },
                "beginTransaction": {
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "description": "Starts a new transaction.",
                  "parameterOrder": [
                    "database"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "path": "v1/{+database}/documents:beginTransaction",
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "listDocuments": {
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "location": "query"
                    },
                    "showMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`."
                    },
                    "collectionId": {
                      "required": true,
                      "location": "path",
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "readTime": {
                      "type": "string",
                      "description": "Perform the read at the provided time. This may not be older than 270 seconds.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "mask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
                    },
                    "transaction": {
                      "type": "string",
                      "location": "query",
                      "format": "byte",
                      "description": "Perform the read as part of an already active transaction."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "description": "Lists documents.",
                  "path": "v1/{+parent}/{collectionId}",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "id": "firestore.projects.databases.documents.listDocuments"
                },
                "runAggregationQuery": {
                  "httpMethod": "POST",
                  "description": "Runs an aggregation query. Rather than producing Document results like Firestore.RunQuery, this API allows running an aggregation to produce a series of AggregationResult server-side. High-Level Example: ``` -- Return the number of documents in table given a filter. SELECT COUNT(*) FROM ( SELECT * FROM k where a = true ); ```",
                  "request": {
                    "$ref": "RunAggregationQueryRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runAggregationQuery",
                  "id": "firestore.projects.databases.documents.runAggregationQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+parent}:runAggregationQuery",
                  "response": {
                    "$ref": "RunAggregationQueryResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "Document"
                  },
                  "parameters": {
                    "transaction": {
                      "type": "string",
                      "description": "Reads the document in a transaction.",
                      "format": "byte",
                      "location": "query"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true,
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path"
                    },
                    "readTime": {
                      "location": "query",
                      "type": "string",
                      "description": "Reads the version of the document at the given time. This may not be older than 270 seconds.",
                      "format": "google-datetime"
                    }
                  },
                  "id": "firestore.projects.databases.documents.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "description": "Gets a single document.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "listen": {
                  "httpMethod": "POST",
                  "id": "firestore.projects.databases.documents.listen",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "path": "v1/{+database}/documents:listen",
                  "description": "Listens to changes. This method is only available via gRPC or WebChannel (not REST).",
                  "parameters": {
                    "database": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "parameterOrder": [
                    "database"
                  ]
                },
                "list": {
                  "description": "Lists documents.",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "id": "firestore.projects.databases.documents.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token.",
                      "type": "string"
                    },
                    "readTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Perform the read at the provided time. This may not be older than 270 seconds.",
                      "type": "string"
                    },
                    "collectionId": {
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "mask.fieldPaths": {
                      "repeated": true,
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`."
                    },
                    "transaction": {
                      "type": "string",
                      "location": "query",
                      "format": "byte",
                      "description": "Perform the read as part of an already active transaction."
                    },
                    "showMissing": {
                      "type": "boolean",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/{collectionId}",
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ]
                },
                "runQuery": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "path": "v1/{+parent}:runQuery",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$"
                    }
                  },
                  "id": "firestore.projects.databases.documents.runQuery",
                  "description": "Runs a query."
                },
                "listCollectionIds": {
                  "path": "v1/{+parent}:listCollectionIds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "httpMethod": "POST",
                  "description": "Lists all the collection IDs underneath a document.",
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds"
                },
                "patch": {
                  "id": "firestore.projects.databases.documents.patch",
                  "description": "Updates or inserts a document.",
                  "response": {
                    "$ref": "Document"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "type": "string",
                      "location": "path"
                    },
                    "currentDocument.updateTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned."
                    },
                    "updateMask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "currentDocument.exists": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
                    },
                    "mask.fieldPaths": {
                      "type": "string",
                      "repeated": true,
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    }
                  },
                  "request": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "createDocument": {
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "request": {
                    "$ref": "Document"
                  },
                  "description": "Creates a new document.",
                  "parameters": {
                    "mask.fieldPaths": {
                      "type": "string",
                      "location": "query",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "repeated": true
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "location": "path",
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "required": true
                    },
                    "collectionId": {
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "documentId": {
                      "type": "string",
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/{collectionId}",
                  "id": "firestore.projects.databases.documents.createDocument",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "partitionQuery": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.partitionQuery",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "path": "v1/{+parent}:partitionQuery",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations",
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "firestore.projects.databases.operations.list"
                },
                "get": {
                  "id": "firestore.projects.databases.operations.get",
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  }
                }
              }
            },
            "collectionGroups": {
              "resources": {
                "indexes": {
                  "methods": {
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Creates a composite index. This returns a google.longrunning.Operation which may be used to track the status of the creation. The metadata for the operation will be the type IndexOperationMetadata.",
                      "path": "v1/{+parent}/indexes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "id": "firestore.projects.databases.collectionGroups.indexes.create",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes"
                    },
                    "list": {
                      "id": "firestore.projects.databases.collectionGroups.indexes.list",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListIndexesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "path": "v1/{+parent}/indexes",
                      "description": "Lists composite indexes.",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The filter to apply to list results."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The number of results to return.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "location": "path",
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`"
                        },
                        "pageToken": {
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListIndexes, that may be used to get the next page of results.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "description": "Deletes a composite index.",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "required": true,
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "firestore.projects.databases.collectionGroups.indexes.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firestore.projects.databases.collectionGroups.indexes.get",
                      "description": "Gets a composite index."
                    }
                  }
                },
                "fields": {
                  "methods": {
                    "patch": {
                      "path": "v1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "A mask, relative to the field. If specified, only configuration specified by this field_mask will be updated in the field.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. A field name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path may be a simple field name, e.g. `address` or a path to fields within map_value , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths may be quoted using ` (backtick). The only character that needs to be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, ``` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: (Note: Comments here are written in markdown syntax, so there is an additional layer of backticks to represent a code block) `\\`address.city\\`` represents a field named `address.city`, not the map key `city` in the field `address`. `\\`*\\`` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration.",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "description": "Updates a field configuration. Currently, field updates apply only to single field index configuration. However, calls to FirestoreAdmin.UpdateField should provide a field mask to avoid changing any configuration that the caller isn't aware of. The field mask should be specified as: `{ paths: \"index_config\" }`. This call returns a google.longrunning.Operation which may be used to track the status of the field update. The metadata for the operation will be the type FieldOperationMetadata. To configure the default field settings for the database, use the special `Field` with resource name: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "httpMethod": "PATCH",
                      "id": "firestore.projects.databases.collectionGroups.fields.patch"
                    },
                    "get": {
                      "description": "Gets the metadata and configuration for a Field.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "id": "firestore.projects.databases.collectionGroups.fields.get",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_id}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "id": "firestore.projects.databases.collectionGroups.fields.list",
                      "description": "Lists the field configuration and metadata for this database. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false` .",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListFields, that may be used to get the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "description": "The filter to apply to list results. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with a filter that includes `indexConfig.usesAncestorConfig:false` .",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "required": true,
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "The number of results to return.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListFieldsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "path": "v1/{+parent}/fields",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "id": "firestore.projects.locations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.locations.list"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "BeginTransactionRequest": {
      "id": "BeginTransactionRequest",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "TransactionOptions",
          "description": "The options for the transaction. Defaults to a read-write transaction."
        }
      },
      "description": "The request for Firestore.BeginTransaction."
    },
    "Aggregation": {
      "properties": {
        "alias": {
          "description": "Optional. Optional name of the field to store the result of the aggregation into. If not provided, Firestore will pick a default name following the format `field_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS field_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS field_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to document field name limitations.",
          "type": "string"
        },
        "count": {
          "$ref": "Count",
          "description": "Count aggregator."
        }
      },
      "id": "Aggregation",
      "description": "Defines an aggregation that produces a single result.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Value": {
      "type": "object",
      "id": "Value",
      "properties": {
        "nullValue": {
          "enumDescriptions": [
            "Null value."
          ],
          "type": "string",
          "enum": [
            "NULL_VALUE"
          ],
          "description": "A null value."
        },
        "bytesValue": {
          "description": "A bytes value. Must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes are considered by queries.",
          "format": "byte",
          "type": "string"
        },
        "stringValue": {
          "description": "A string value. The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes of the UTF-8 representation are considered by queries.",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "A double value."
        },
        "timestampValue": {
          "type": "string",
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down.",
          "format": "google-datetime"
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "geoPointValue": {
          "$ref": "LatLng",
          "description": "A geo point value representing a point on the surface of Earth."
        },
        "booleanValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "integerValue": {
          "type": "string",
          "description": "An integer value.",
          "format": "int64"
        },
        "arrayValue": {
          "$ref": "ArrayValue",
          "description": "An array value. Cannot directly contain another array value, though can contain an map which contains another array."
        },
        "referenceValue": {
          "type": "string",
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        }
      },
      "description": "A message that can hold any of the supported value types."
    },
    "WriteRequest": {
      "id": "WriteRequest",
      "properties": {
        "streamId": {
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created.",
          "type": "string"
        },
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels associated with this write request."
        },
        "streamToken": {
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1IndexConfig": {
      "description": "The index configuration for this field.",
      "id": "GoogleFirestoreAdminV1IndexConfig",
      "properties": {
        "reverting": {
          "type": "boolean",
          "description": "Output only When true, the `Field`'s index configuration is in the process of being reverted. Once complete, the index config will transition to the same state as the field specified by `ancestor_field`, at which point `uses_ancestor_config` will be `true` and `reverting` will be `false`."
        },
        "usesAncestorConfig": {
          "description": "Output only. When true, the `Field`'s index configuration is set from the configuration specified by the `ancestor_field`. When false, the `Field`'s index configuration is defined explicitly.",
          "type": "boolean"
        },
        "ancestorField": {
          "type": "string",
          "description": "Output only. Specifies the resource name of the `Field` from which this field's index configuration is set (when `uses_ancestor_config` is true), or from which it *would* be set if this field had no index configuration (when `uses_ancestor_config` is false)."
        },
        "indexes": {
          "type": "array",
          "description": "The indexes supported for this field.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          }
        }
      },
      "type": "object"
    },
    "StructuredAggregationQuery": {
      "id": "StructuredAggregationQuery",
      "properties": {
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Optional. Series of aggregations to apply over the results of the `structured_query`. Requires: * A minimum of one and maximum of five aggregations per query."
        },
        "structuredQuery": {
          "description": "Nested structured query.",
          "$ref": "StructuredQuery"
        }
      },
      "type": "object",
      "description": "Firestore query for running an aggregation over a StructuredQuery."
    },
    "CompositeFilter": {
      "properties": {
        "filters": {
          "items": {
            "$ref": "Filter"
          },
          "description": "The list of filters to combine. Requires: * At least one filter is present.",
          "type": "array"
        },
        "op": {
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ],
          "description": "The operator for combining multiple filters.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Documents are required to satisfy all of the combined filters.",
            "Documents are required to satisfy at least one of the combined filters."
          ]
        }
      },
      "description": "A filter that merges multiple other filters using the given operator.",
      "id": "CompositeFilter",
      "type": "object"
    },
    "MapValue": {
      "description": "A map value.",
      "type": "object",
      "id": "MapValue",
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty.",
          "type": "object"
        }
      }
    },
    "TransactionOptions": {
      "description": "Options for creating a new transaction.",
      "type": "object",
      "id": "TransactionOptions",
      "properties": {
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "$ref": "ReadWrite",
          "description": "The transaction can be used for both read and write operations."
        }
      }
    },
    "Filter": {
      "type": "object",
      "properties": {
        "unaryFilter": {
          "$ref": "UnaryFilter",
          "description": "A filter that takes exactly one argument."
        },
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "fieldFilter": {
          "description": "A filter on a document field.",
          "$ref": "FieldFilter"
        }
      },
      "id": "Filter",
      "description": "A filter."
    },
    "Location": {
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location",
      "type": "object"
    },
    "DocumentDelete": {
      "properties": {
        "document": {
          "description": "The resource name of the Document that was deleted.",
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "The read timestamp at which the delete was observed. Greater or equal to the `commit_time` of the delete.",
          "type": "string"
        },
        "removedTargetIds": {
          "type": "array",
          "description": "A set of target IDs for targets that previously matched this entity.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "id": "DocumentDelete",
      "description": "A Document has been deleted. May be the result of multiple writes, including updates, the last of which deleted the Document. Multiple DocumentDelete messages may be returned for the same logical delete, if multiple targets are affected.",
      "type": "object"
    },
    "RunQueryResponse": {
      "description": "The response for Firestore.RunQuery.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If present, Firestore has completely finished the request and no more documents will be returned."
        },
        "skippedResults": {
          "type": "integer",
          "description": "The number of results that have been skipped due to an offset between the last response and the current response.",
          "format": "int32"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run."
        },
        "transaction": {
          "format": "byte",
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response.",
          "type": "string"
        },
        "document": {
          "description": "A query result, not set when reporting partial progress.",
          "$ref": "Document"
        }
      },
      "id": "RunQueryResponse",
      "type": "object"
    },
    "WriteResult": {
      "type": "object",
      "id": "WriteResult",
      "description": "The result of applying a write.",
      "properties": {
        "transformResults": {
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time.",
          "format": "google-datetime"
        }
      }
    },
    "Document": {
      "id": "Document",
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object",
          "description": "The document's fields. The map keys represent field names. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by the simple or quoted field names of the containing fields, delimited by `.`. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `foo.x&y`. Within a field path, a quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``."
        },
        "name": {
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchWriteRequest": {
      "description": "The request for Firestore.BatchWrite.",
      "id": "BatchWriteRequest",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels associated with this batch write."
        },
        "writes": {
          "type": "array",
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request.",
          "items": {
            "$ref": "Write"
          }
        }
      }
    },
    "GoogleFirestoreAdminV1ListFieldsResponse": {
      "properties": {
        "fields": {
          "description": "The requested fields.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Field"
          }
        },
        "nextPageToken": {
          "description": "A page token that may be used to request another page of results. If blank, this is the last page.",
          "type": "string"
        }
      },
      "description": "The response for FirestoreAdmin.ListFields.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1ListFieldsResponse"
    },
    "BeginTransactionResponse": {
      "type": "object",
      "description": "The response for Firestore.BeginTransaction.",
      "id": "BeginTransactionResponse",
      "properties": {
        "transaction": {
          "type": "string",
          "description": "The transaction that was started.",
          "format": "byte"
        }
      }
    },
    "ListenResponse": {
      "type": "object",
      "properties": {
        "targetChange": {
          "$ref": "TargetChange",
          "description": "Targets have changed."
        },
        "documentChange": {
          "$ref": "DocumentChange",
          "description": "A Document has changed."
        },
        "filter": {
          "$ref": "ExistenceFilter",
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown."
        },
        "documentDelete": {
          "$ref": "DocumentDelete",
          "description": "A Document has been deleted."
        },
        "documentRemove": {
          "$ref": "DocumentRemove",
          "description": "A Document has been removed from a target (because it is no longer relevant to that target)."
        }
      },
      "description": "The response for Firestore.Listen.",
      "id": "ListenResponse"
    },
    "DocumentMask": {
      "properties": {
        "fieldPaths": {
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "DocumentMask",
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value."
    },
    "GoogleFirestoreAdminV1TtlConfig": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state is unspecified or unknown.",
            "The TTL is being applied. There is an active long-running operation to track the change. Newly written documents will have TTLs applied as requested. Requested TTLs on existing documents are still being processed. When TTLs on all existing documents have been processed, the state will move to 'ACTIVE'.",
            "The TTL is active for all documents.",
            "The TTL configuration could not be enabled for all existing documents. Newly written documents will continue to have their TTL applied. The LRO returned when last attempting to enable TTL for this `Field` has failed, and may have more details."
          ],
          "description": "Output only. The state of the TTL configuration.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "NEEDS_REPAIR"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The TTL (time-to-live) configuration for documents that have this `Field` set. Storing a timestamp value into a TTL-enabled field will be treated as the document's absolute expiration time. Timestamp values in the past indicate that the document is eligible for immediate expiration. Using any other data type or leaving the field absent will disable expiration for the individual document.",
      "id": "GoogleFirestoreAdminV1TtlConfig"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      }
    },
    "RollbackRequest": {
      "id": "RollbackRequest",
      "properties": {
        "transaction": {
          "description": "Required. The transaction to roll back.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "The request for Firestore.Rollback."
    },
    "CommitResponse": {
      "properties": {
        "writeResults": {
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array"
        },
        "commitTime": {
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit.",
          "format": "google-datetime"
        }
      },
      "description": "The response for Firestore.Commit.",
      "id": "CommitResponse",
      "type": "object"
    },
    "TargetChange": {
      "id": "TargetChange",
      "properties": {
        "resumeToken": {
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing."
        },
        "targetChangeType": {
          "type": "string",
          "description": "The type of change that occurred.",
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ]
        },
        "targetIds": {
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "cause": {
          "$ref": "Status",
          "description": "The error that resulted in this change, if applicable."
        }
      },
      "description": "Targets being watched have changed.",
      "type": "object"
    },
    "StructuredQuery": {
      "description": "A Firestore query.",
      "id": "StructuredQuery",
      "type": "object",
      "properties": {
        "endAt": {
          "$ref": "Cursor",
          "description": "A potential prefix of a position in the result set to end the query at. This is similar to `START_AT` but with it controlling the end position rather than the start position. Requires: * The number of values cannot be greater than the number of fields specified in the `ORDER BY` clause."
        },
        "where": {
          "description": "The filter to apply.",
          "$ref": "Filter"
        },
        "from": {
          "type": "array",
          "items": {
[...]
