{
  "basePath": "",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://firebase.google.com/docs/hosting/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Firebase Hosting",
  "name": "firebasehosting",
  "ownerDomain": "google.com",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "version": "v1beta1",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "sites": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.delete",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project."
            },
            "getConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the Hosting metadata for a specific site.",
              "id": "firebasehosting.projects.sites.getConfig",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "SiteConfig"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Site"
              },
              "parameters": {
                "siteId": {
                  "location": "query",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "path": "v1beta1/{+parent}/sites",
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems.",
              "httpMethod": "POST",
              "request": {
                "$ref": "Site"
              },
              "id": "firebasehosting.projects.sites.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.get",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Site"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+$"
                }
              },
              "description": "Gets the specified Hosting Site.",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "parameters": {
                "name": {
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "A set of field names from your Site that you want to update.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Site"
              },
              "description": "Updates attributes of the specified Hosting Site.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Site"
              }
            },
            "updateConfig": {
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.sites.updateConfig",
              "response": {
                "$ref": "SiteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "SiteConfig"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "httpMethod": "PATCH",
              "description": "Sets the Hosting metadata for a specific site."
            },
            "list": {
              "id": "firebasehosting.projects.sites.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40."
                },
                "parent": {
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSitesResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+parent}/sites",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists each Hosting Site associated with the specified parent Firebase project."
            }
          },
          "resources": {
            "channels": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "path": "v1beta1/{+parent}/channels",
                  "id": "firebasehosting.projects.sites.channels.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "ListChannelsResponse"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "response": {
                    "$ref": "Channel"
                  },
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "A comma-separated list of fields to be updated in this request."
                    },
                    "name": {
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "request": {
                    "$ref": "Channel"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Channel"
                  },
                  "id": "firebasehosting.projects.sites.channels.get",
                  "description": "Retrieves information for the specified channel of the specified site.",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}"
                },
                "delete": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "response": {
                    "$ref": "Channel"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "request": {
                    "$ref": "Channel"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/channels",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                      "location": "path",
                      "required": true
                    },
                    "channelId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel."
                    }
                  },
                  "description": "Creates a new channel in the specified site.",
                  "id": "firebasehosting.projects.sites.channels.create"
                }
              },
              "resources": {
                "releases": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Release"
                      },
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "path": "v1beta1/{+parent}/releases",
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "parameters": {
                        "versionName": {
                          "location": "query",
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Release"
                      }
                    },
                    "list": {
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "parameters": {
                        "pageToken": {
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "location": "query"
                        }
                      },
                      "path": "v1beta1/{+parent}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "id": "firebasehosting.projects.sites.channels.releases.get",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "Release"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                          "type": "string",
                          "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}"
                    }
                  }
                }
              }
            },
            "domains": {
              "methods": {
                "update": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "response": {
                    "$ref": "Domain"
                  },
                  "httpMethod": "PUT",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "Domain"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets a domain mapping on the specified site.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the domain configuration to get.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "id": "firebasehosting.projects.sites.domains.get",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "response": {
                    "$ref": "Domain"
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The page size to return. Defaults to 50.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token from a previous request, if provided."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+parent}/domains",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "id": "firebasehosting.projects.sites.domains.list",
                  "description": "Lists the domains for the specified site.",
                  "httpMethod": "GET"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.create",
                  "path": "v1beta1/{+parent}/domains",
                  "description": "Creates a domain mapping on the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "Domain"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Domain"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the domain association to delete.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$"
                    }
                  }
                }
              }
            },
            "versions": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true
                    },
                    "sizeBytes": {
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    },
                    "versionId": {
                      "deprecated": true,
                      "location": "query",
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/versions",
                  "id": "firebasehosting.projects.sites.versions.create",
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new version for the specified site."
                },
                "clone": {
                  "path": "v1beta1/{+parent}/versions:clone",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
                  "id": "firebasehosting.projects.sites.versions.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "Version"
                  },
                  "httpMethod": "GET"
                },
                "populateFiles": {
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "path": "v1beta1/{+parent}:populateFiles"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/versions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.versions.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160)."
                    }
                  },
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "Version"
                  },
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Version"
                  },
                  "httpMethod": "PATCH",
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "parameters": {
                    "name": {
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used."
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.versions.patch"
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "description": "Deletes the specified version.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}"
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                          "location": "query",
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "description": " The type of files that should be listed for the specified version.",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "path": "v1beta1/{+parent}/files",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "releases": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/releases/[^/]+$",
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases/{releasesId}",
                  "response": {
                    "$ref": "Release"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "id": "firebasehosting.projects.sites.releases.get"
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "parameters": {
                    "versionName": {
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID"
                    }
                  },
                  "id": "firebasehosting.projects.sites.releases.create",
                  "response": {
                    "$ref": "Release"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/releases",
                  "request": {
                    "$ref": "Release"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "id": "firebasehosting.projects.sites.releases.list",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "firebasehosting.projects.operations.get",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "sites": {
      "methods": {
        "updateConfig": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "type": "string"
            },
            "name": {
              "pattern": "^sites/[^/]+/config$",
              "required": true,
              "type": "string",
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "id": "firebasehosting.sites.updateConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "response": {
            "$ref": "SiteConfig"
          },
          "request": {
            "$ref": "SiteConfig"
          },
          "description": "Sets the Hosting metadata for a specific site.",
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/sites/{sitesId}/config"
        },
        "getConfig": {
          "id": "firebasehosting.sites.getConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "response": {
            "$ref": "SiteConfig"
          },
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the Hosting metadata for a specific site.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
              "required": true,
              "pattern": "^sites/[^/]+/config$"
            }
          }
        }
      },
      "resources": {
        "releases": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/releases/[^/]+$",
                  "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/releases/{releasesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Release"
              },
              "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
              "id": "firebasehosting.sites.releases.get"
            },
            "list": {
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "required": true
                }
              },
              "path": "v1beta1/{+parent}/releases",
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "id": "firebasehosting.sites.releases.list",
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site."
            },
            "create": {
              "id": "firebasehosting.sites.releases.create",
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "request": {
                "$ref": "Release"
              },
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "versionName": {
                  "location": "query",
                  "type": "string",
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+parent}/releases",
              "response": {
                "$ref": "Release"
              }
            }
          }
        },
        "versions": {
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID"
                    },
                    "pageToken": {
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "location": "query",
                      "type": "string"
                    },
                    "status": {
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ],
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "description": " The type of files that should be listed for the specified version."
                    }
                  },
                  "path": "v1beta1/{+parent}/files",
                  "id": "firebasehosting.sites.versions.files.list"
                }
              }
            }
          },
          "methods": {
            "populateFiles": {
              "parameters": {
                "parent": {
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "type": "string"
                }
              },
              "id": "firebasehosting.sites.versions.populateFiles",
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "httpMethod": "POST",
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}:populateFiles"
            },
            "list": {
              "httpMethod": "GET",
              "id": "firebasehosting.sites.versions.list",
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "path": "v1beta1/{+parent}/versions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+$"
                }
              }
            },
            "create": {
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "sizeBytes": {
                  "type": "string",
                  "location": "query",
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "format": "int64"
                },
                "versionId": {
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                  "location": "query",
                  "deprecated": true,
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new version for the specified site.",
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/versions",
              "id": "firebasehosting.sites.versions.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "response": {
                "$ref": "Version"
              }
            },
            "patch": {
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "response": {
                "$ref": "Version"
              },
              "id": "firebasehosting.sites.versions.patch",
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+/versions/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.versions.get",
              "response": {
                "$ref": "Version"
              },
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$"
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID"
                }
              },
              "description": "Deletes the specified version.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.versions.delete",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}"
            },
            "clone": {
              "path": "v1beta1/{+parent}/versions:clone",
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "id": "firebasehosting.sites.versions.clone",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "channels": {
          "methods": {
            "list": {
              "path": "v1beta1/{+parent}/channels",
              "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100."
                },
                "pageToken": {
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "firebasehosting.sites.channels.list",
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "description": "Retrieves information for the specified channel of the specified site.",
              "response": {
                "$ref": "Channel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "id": "firebasehosting.sites.channels.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "required": true
                }
              }
            },
            "patch": {
              "id": "firebasehosting.sites.channels.patch",
              "path": "v1beta1/{+name}",
              "httpMethod": "PATCH",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "response": {
                "$ref": "Channel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "updateMask": {
                  "description": "A comma-separated list of fields to be updated in this request.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                  "location": "path",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "path": "v1beta1/{+parent}/channels",
              "parameters": {
                "channelId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel."
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+$"
                }
              },
              "response": {
                "$ref": "Channel"
              },
              "id": "firebasehosting.sites.channels.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Creates a new channel in the specified site.",
              "request": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "firebasehosting.sites.channels.delete"
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "id": "firebasehosting.sites.channels.releases.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID ",
                      "required": true,
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+/releases/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Release"
                  },
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site."
                },
                "create": {
                  "id": "firebasehosting.sites.channels.releases.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "versionName": {
                      "type": "string",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "required": true,
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "path": "v1beta1/{+parent}/releases",
                  "request": {
                    "$ref": "Release"
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Release"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "path": "v1beta1/{+parent}/releases",
                  "id": "firebasehosting.sites.channels.releases.list",
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "domains": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the domain association to delete.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes the existing domain mapping on the specified site.",
              "id": "firebasehosting.sites.domains.delete",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}"
            },
            "get": {
              "description": "Gets a domain mapping on the specified site.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Domain"
              },
              "id": "firebasehosting.sites.domains.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the domain configuration to get.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}"
            },
            "create": {
              "description": "Creates a domain mapping on the specified site.",
              "path": "v1beta1/{+parent}/domains",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Domain"
              },
              "id": "firebasehosting.sites.domains.create",
              "request": {
                "$ref": "Domain"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "description": "Lists the domains for the specified site.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/domains",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The page size to return. Defaults to 50."
                },
                "pageToken": {
                  "description": "The next_page_token from a previous request, if provided.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "firebasehosting.sites.domains.list",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "httpMethod": "GET"
            },
            "update": {
              "id": "firebasehosting.sites.domains.update",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "Domain"
              },
              "response": {
                "$ref": "Domain"
              },
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                  "required": true
                }
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "title": "Firebase Hosting API",
  "id": "firebasehosting:v1beta1",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        }
      }
    }
  },
  "schemas": {
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
[...]
