{
  "baseUrl": "https://firebaserules.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://firebaserules.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "description": "Creates and manages rules that determine when a Firebase Rules-enabled service should permit a request. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        }
      }
    }
  },
  "version_module": true,
  "title": "Firebase Rules API",
  "protocol": "rest",
  "canonicalName": "Firebase Rules",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "documentationLink": "https://firebase.google.com/docs/storage/security",
  "basePath": "",
  "revision": "20210607",
  "schemas": {
    "GetReleaseExecutableResponse": {
      "id": "GetReleaseExecutableResponse",
      "properties": {
        "syncTime": {
          "description": "Optional, indicates the freshness of the result. The response is guaranteed to be the latest within an interval up to the sync_time (inclusive).",
          "format": "google-datetime",
          "type": "string"
        },
        "language": {
          "enumDescriptions": [
            "Language unspecified. Defaults to FIREBASE_RULES.",
            "Firebase Rules language.",
            "Event Flow triggers."
          ],
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "FIREBASE_RULES",
            "EVENT_FLOW_TRIGGERS"
          ],
          "type": "string",
          "description": "`Language` used to generate the executable bytes."
        },
        "updateTime": {
          "description": "Timestamp for the most recent `Release.update_time`.",
          "type": "string",
          "format": "google-datetime"
        },
        "executable": {
          "type": "string",
          "description": "Executable view of the `Ruleset` referenced by the `Release`.",
          "format": "byte"
        },
        "rulesetName": {
          "description": "`Ruleset` name associated with the `Release` executable.",
          "type": "string"
        },
        "executableVersion": {
          "type": "string",
          "enumDescriptions": [
            "Executable format unspecified. Defaults to FIREBASE_RULES_EXECUTABLE_V1",
            "Firebase Rules syntax 'rules2' executable versions: Custom AST for use with Java clients.",
            "CEL-based executable for use with C++ clients."
          ],
          "description": "The Rules runtime version of the executable.",
          "enum": [
            "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
            "FIREBASE_RULES_EXECUTABLE_V1",
            "FIREBASE_RULES_EXECUTABLE_V2"
          ]
        }
      },
      "description": "The response for FirebaseRulesService.GetReleaseExecutable",
      "type": "object"
    },
    "VisitedExpression": {
      "properties": {
        "sourcePosition": {
          "$ref": "SourcePosition",
          "description": "Position in the `Source` or `Ruleset` where an expression was visited."
        },
        "value": {
          "description": "The evaluated value for the visited expression, e.g. true/false",
          "type": "any"
        }
      },
      "description": "Store the position and access outcome for an expression visited in rules.",
      "type": "object",
      "id": "VisitedExpression"
    },
    "ExpressionReport": {
      "id": "ExpressionReport",
      "type": "object",
      "properties": {
        "children": {
          "items": {
            "$ref": "ExpressionReport"
          },
          "type": "array",
          "description": "Subexpressions"
        },
        "sourcePosition": {
          "$ref": "SourcePosition",
          "description": "Position of expression in original rules source."
        },
        "values": {
          "type": "array",
          "description": "Values that this expression evaluated to when encountered.",
          "items": {
            "$ref": "ValueCount"
          }
        }
      },
      "description": "Describes where in a file an expression is found and what it was evaluated to over the course of its use."
    },
    "FunctionCall": {
      "type": "object",
      "id": "FunctionCall",
      "description": "Represents a service-defined function call that was invoked during test execution.",
      "properties": {
        "function": {
          "description": "Name of the function invoked.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "The arguments that were provided to the function."
        }
      }
    },
    "ListRulesetsResponse": {
      "id": "ListRulesetsResponse",
      "type": "object",
      "description": "The response for FirebaseRulesService.ListRulesets.",
      "properties": {
        "rulesets": {
          "type": "array",
          "description": "List of `Ruleset` instances.",
          "items": {
            "$ref": "Ruleset"
          }
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain.",
          "type": "string"
        }
      }
    },
    "Release": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the release was updated."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the release was created."
        },
        "name": {
          "type": "string",
          "description": "Format: `projects/{project_id}/releases/{release_id}`"
        },
        "rulesetName": {
          "description": "Name of the `Ruleset` referred to by this `Release`. The `Ruleset` must exist the `Release` to be created.",
          "type": "string"
        }
      },
      "id": "Release",
      "type": "object",
      "description": "`Release` is a named reference to a `Ruleset`. Once a `Release` refers to a `Ruleset`, rules-enabled services will be able to enforce the `Ruleset`."
    },
    "File": {
      "type": "object",
      "id": "File",
      "description": "`File` containing source content.",
      "properties": {
        "fingerprint": {
          "format": "byte",
          "description": "Fingerprint (e.g. github sha) associated with the `File`.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Textual Content."
        },
        "name": {
          "type": "string",
          "description": "File name."
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "type": "object",
      "properties": {
        "services": {
          "description": "Services that this ruleset has declarations for (e.g., \"cloud.firestore\"). There may be 0+ of these.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Metadata for a Ruleset."
    },
    "TestRulesetResponse": {
      "description": "The response for FirebaseRulesService.TestRuleset.",
      "id": "TestRulesetResponse",
      "type": "object",
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "description": "Syntactic and semantic `Source` issues of varying severity. Issues of `ERROR` severity will prevent tests from executing."
        },
        "testResults": {
          "type": "array",
          "items": {
            "$ref": "TestResult"
          },
          "description": "The set of test results given the test cases in the `TestSuite`. The results will appear in the same order as the test cases appear in the `TestSuite`."
        }
      }
    },
    "SourcePosition": {
      "description": "Position in the `Source` content including its line, column number, and an index of the `File` in the `Source` message. Used for debug purposes.",
      "properties": {
        "column": {
          "type": "integer",
          "format": "int32",
          "description": "First column on the source line associated with the source fragment."
        },
        "fileName": {
          "type": "string",
          "description": "Name of the `File`."
        },
        "currentOffset": {
          "description": "Start position relative to the beginning of the file.",
          "type": "integer",
          "format": "int32"
        },
        "line": {
          "format": "int32",
          "type": "integer",
          "description": "Line number of the source fragment. 1-based."
        },
        "endOffset": {
          "description": "End position relative to the beginning of the file.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "SourcePosition"
    },
    "TestRulesetRequest": {
      "description": "The request for FirebaseRulesService.TestRuleset.",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "Optional `Source` to be checked for correctness. This field must not be set when the resource name refers to a `Ruleset`."
        },
        "testSuite": {
          "$ref": "TestSuite",
          "description": "The tests to execute against the `Source`. When `Source` is provided inline, the test cases will only be run if the `Source` is syntactically and semantically valid. Inline `TestSuite` to run."
        }
      },
      "id": "TestRulesetRequest"
    },
    "UpdateReleaseRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Specifies which fields to update."
        },
        "release": {
          "$ref": "Release",
          "description": "`Release` to update."
        }
      },
      "id": "UpdateReleaseRequest",
      "description": "The request for FirebaseRulesService.UpdateRelease."
    },
    "FunctionMock": {
      "description": "Mock function definition. Mocks must refer to a function declared by the target service. The type of the function args and result will be inferred at test time. If either the arg or result values are not compatible with function type declaration, the request will be considered invalid. More than one `FunctionMock` may be provided for a given function name so long as the `Arg` matchers are distinct. There may be only one function for a given overload where all `Arg` values are `Arg.any_value`.",
      "type": "object",
      "properties": {
        "result": {
          "description": "The mock result of the function call.",
          "$ref": "Result"
        },
        "function": {
          "type": "string",
          "description": "The name of the function. The function name must match one provided by a service declaration."
        },
        "args": {
          "type": "array",
          "description": "The list of `Arg` values to match. The order in which the arguments are provided is the order in which they must appear in the function invocation.",
          "items": {
            "$ref": "Arg"
          }
        }
      },
      "id": "FunctionMock"
    },
    "Issue": {
      "id": "Issue",
      "properties": {
        "description": {
          "description": "Short error description.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "DEPRECATION",
            "WARNING",
            "ERROR"
          ],
          "description": "The severity of the issue.",
          "enumDescriptions": [
            "An unspecified severity.",
            "Deprecation issue for statements and method that may no longer be supported or maintained.",
            "Warnings such as: unused variables.",
            "Errors such as: unmatched curly braces or variable redefinition."
          ]
        },
        "sourcePosition": {
          "description": "Position of the issue in the `Source`.",
          "$ref": "SourcePosition"
        }
      },
      "type": "object",
      "description": "Issues include warnings, errors, and deprecation notices."
    },
    "ValueCount": {
      "description": "Tuple for how many times an Expression was evaluated to a particular ExpressionValue.",
      "properties": {
        "value": {
          "description": "The return value of the expression",
          "type": "any"
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of times that expression returned."
        }
      },
      "id": "ValueCount",
      "type": "object"
    },
    "Result": {
      "id": "Result",
      "type": "object",
      "properties": {
        "value": {
          "type": "any",
          "description": "The result is an actual value. The type of the value must match that of the type declared by the service."
        },
        "undefined": {
          "$ref": "Empty",
          "description": "The result is undefined, meaning the result could not be computed."
        }
      },
      "description": "Possible result values from the function mock invocation."
    },
    "TestSuite": {
      "type": "object",
      "properties": {
        "testCases": {
          "description": "Collection of test cases associated with the `TestSuite`.",
          "type": "array",
          "items": {
            "$ref": "TestCase"
          }
        }
      },
      "id": "TestSuite",
      "description": "`TestSuite` is a collection of `TestCase` instances that validate the logical correctness of a `Ruleset`. The `TestSuite` may be referenced in-line within a `TestRuleset` invocation or as part of a `Release` object as a pre-release check."
    },
    "TestResult": {
      "properties": {
        "expressionReports": {
          "items": {
            "$ref": "ExpressionReport"
          },
          "description": "The mapping from expression in the ruleset AST to the values they were evaluated to. Partially-nested to mirror AST structure. Note that this field is actually tracking expressions and not permission statements in contrast to the \"visited_expressions\" field above. Literal expressions are omitted.",
          "type": "array"
        },
        "debugMessages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Debug messages related to test execution issues encountered during evaluation. Debug messages may be related to too many or too few invocations of function mocks or to runtime errors that occur during evaluation. For example: ```Unable to read variable [name: \"resource\"]```"
        },
        "visitedExpressions": {
          "type": "array",
          "description": "The set of visited permission expressions for a given test. This returns the positions and evaluation results of all visited permission expressions which were relevant to the test case, e.g. ``` match /path { allow read if: } ``` For a detailed report of the intermediate evaluation states, see the `expression_reports` field",
          "items": {
            "$ref": "VisitedExpression"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCESS",
            "FAILURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Test state is not set.",
            "Test is a success.",
            "Test is a failure."
          ],
          "description": "State of the test."
        },
        "errorPosition": {
          "description": "Position in the `Source` or `Ruleset` where the principle runtime error occurs. Evaluation of an expression may result in an error. Rules are deny by default, so a `DENY` expectation when an error is generated is valid. When there is a `DENY` with an error, the `SourcePosition` is returned. E.g. `error_position { line: 19 column: 37 }`",
          "$ref": "SourcePosition"
        },
        "functionCalls": {
          "type": "array",
          "items": {
            "$ref": "FunctionCall"
          },
          "description": "The set of function calls made to service-defined methods. Function calls are included in the order in which they are encountered during evaluation, are provided for both mocked and unmocked functions, and included on the response regardless of the test `state`."
        }
      },
      "type": "object",
      "description": "Test result message containing the state of the test as well as a description and source position for test failures.",
      "id": "TestResult"
    },
    "Ruleset": {
      "description": "`Ruleset` is an immutable copy of `Source` with a globally unique identifier and a creation time.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the `Ruleset`. The ruleset_id is auto generated by the service. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
          "type": "string"
        },
        "source": {
          "$ref": "Source",
          "description": "`Source` for the `Ruleset`."
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. The metadata for this ruleset.",
          "$ref": "Metadata"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time the `Ruleset` was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "Ruleset"
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "description": "`Source` is one or more `File` messages comprising a logical set of rules.",
      "properties": {
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "`File` set constituting the `Source` bundle."
        }
      }
    },
    "Arg": {
      "description": "Arg matchers for the mock function.",
      "id": "Arg",
      "type": "object",
      "properties": {
        "exactValue": {
          "description": "Argument exactly matches value provided.",
          "type": "any"
        },
        "anyValue": {
          "$ref": "Empty",
          "description": "Argument matches any value provided."
        }
      }
    },
    "ListReleasesResponse": {
      "properties": {
        "releases": {
          "items": {
            "$ref": "Release"
          },
          "type": "array",
          "description": "List of `Release` instances."
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for FirebaseRulesService.ListReleases.",
      "id": "ListReleasesResponse"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "TestCase": {
      "type": "object",
      "properties": {
        "functionMocks": {
          "description": "Optional function mocks for service-defined functions. If not set, any service defined function is expected to return an error, which may or may not influence the test outcome.",
          "items": {
            "$ref": "FunctionMock"
          },
          "type": "array"
        },
        "expressionReportLevel": {
          "type": "string",
          "description": "Specifies what should be included in the response.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "NONE",
            "FULL",
            "VISITED"
          ],
          "enumDescriptions": [
            "No level has been specified. Defaults to \"NONE\" behavior.",
            "Do not include any additional information.",
            "Include detailed reporting on expressions evaluated.",
            "Only include the expressions that were visited during evaluation."
          ]
        },
        "expectation": {
          "enumDescriptions": [
            "Unspecified expectation.",
            "Expect an allowed result.",
            "Expect a denied result."
          ],
          "description": "Test expectation.",
          "enum": [
            "EXPECTATION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string"
        },
        "request": {
          "type": "any",
          "description": "Request context. The exact format of the request context is service-dependent. See the appropriate service documentation for information about the supported fields and types on the request. Minimally, all services support the following fields and types: Request field | Type ---------------|----------------- auth.uid | `string` auth.token | `map` headers | `map` method | `string` params | `map` path | `string` time | `google.protobuf.Timestamp` If the request value is not well-formed for the service, the request will be rejected as an invalid argument."
        },
        "resource": {
          "type": "any",
          "description": "Optional resource value as it appears in persistent storage before the request is fulfilled. The resource type depends on the `request.path` value."
        },
        "pathEncoding": {
          "enumDescriptions": [
            "No encoding has been specified. Defaults to \"URL_ENCODED\" behavior.",
            "Treats path segments as URL encoded but with non-encoded separators (\"/\"). This is the default behavior.",
            "Treats total path as non-URL encoded e.g. raw."
          ],
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "URL_ENCODED",
            "PLAIN"
          ],
          "description": "Specifies whether paths (such as request.path) are encoded and how."
        }
      },
      "id": "TestCase",
      "description": "`TestCase` messages provide the request context and an expectation as to whether the given context will be allowed or denied. Test cases may specify the `request`, `resource`, and `function_mocks` to mock a function call to a service-provided function. The `request` object represents context present at request-time. The `resource` is the value of the target resource as it appears in persistent storage before the request is executed."
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "firebaserules",
  "rootUrl": "https://firebaserules.googleapis.com/",
  "id": "firebaserules:v1",
  "resources": {
    "projects": {
      "resources": {
        "releases": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaserules.projects.releases.patch",
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Release"
              },
              "description": "Update a `Release` via PATCH. Only updates to `ruleset_name` will be honored. `Release` rename is not supported. To create a `Release` use the CreateRelease method.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name for the project which owns this `Release`. Format: `projects/{project_id}`"
                }
              },
              "request": {
                "$ref": "UpdateReleaseRequest"
              }
            },
            "create": {
              "id": "firebaserules.projects.releases.create",
              "request": {
                "$ref": "Release"
              },
              "flatPath": "v1/projects/{projectsId}/releases",
              "path": "v1/{+name}/releases",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Resource name for the project which owns this `Release`. Format: `projects/{project_id}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Create a `Release`. Release names should reflect the developer's deployment practices. For example, the release name may include the environment name, application name, application version, or any other name meaningful to the developer. Once a `Release` refers to a `Ruleset`, the rules can be enforced by Firebase Rules-enabled services. More than one `Release` may be 'live' concurrently. Consider the following three `Release` names for `projects/foo` and the `Ruleset` to which they refer. Release Name | Ruleset Name --------------------------------|------------- projects/foo/releases/prod | projects/foo/rulesets/uuid123 projects/foo/releases/prod/beta | projects/foo/rulesets/uuid123 projects/foo/releases/prod/v23 | projects/foo/rulesets/uuid456 The table reflects the `Ruleset` rollout in progress. The `prod` and `prod/beta` releases refer to the same `Ruleset`. However, `prod/v23` refers to a new `Ruleset`. The `Ruleset` reference for a `Release` may be updated using the UpdateRelease method.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Release"
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name for the `Release` to delete. Format: `projects/{project_id}/releases/{release_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "description": "Delete a `Release` by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaserules.projects.releases.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "getExecutable": {
              "parameterOrder": [
                "name"
              ],
              "description": "Get the `Release` executable to use when enforcing rules.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GetReleaseExecutableResponse"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the `Release`. Format: `projects/{project_id}/releases/{release_id}`"
                },
                "executableVersion": {
                  "description": "The requested runtime executable version. Defaults to FIREBASE_RULES_EXECUTABLE_V1.",
                  "enum": [
                    "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
                    "FIREBASE_RULES_EXECUTABLE_V1",
                    "FIREBASE_RULES_EXECUTABLE_V2"
                  ],
                  "enumDescriptions": [
                    "Executable format unspecified. Defaults to FIREBASE_RULES_EXECUTABLE_V1",
                    "Firebase Rules syntax 'rules2' executable versions: Custom AST for use with Java clients.",
                    "CEL-based executable for use with C++ clients."
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}:getExecutable",
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}:getExecutable",
              "id": "firebaserules.projects.releases.getExecutable",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "list": {
              "description": "List the `Release` values for a project. This list may optionally be filtered by `Release` name, `Ruleset` name, `TestSuite` name, or any combination thereof.",
              "id": "firebaserules.projects.releases.list",
              "path": "v1/{+name}/releases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Next page token for the next batch of `Release` instances."
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Resource name for the project. Format: `projects/{project_id}`",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Page size to load. Maximum of 100. Defaults to 10. Note: `page_size` is just a hint and the service may choose to load fewer than `page_size` results due to the size of the output. To traverse all of the releases, the caller should iterate until the `page_token` on the response is empty.",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "`Release` filter. The list method supports filters with restrictions on the `Release.name`, and `Release.ruleset_name`. Example 1: A filter of 'name=prod*' might return `Release`s with names within 'projects/foo' prefixed with 'prod': Name -\u003e Ruleset Name: * projects/foo/releases/prod -\u003e projects/foo/rulesets/uuid1234 * projects/foo/releases/prod/v1 -\u003e projects/foo/rulesets/uuid1234 * projects/foo/releases/prod/v2 -\u003e projects/foo/rulesets/uuid8888 Example 2: A filter of `name=prod* ruleset_name=uuid1234` would return only `Release` instances for 'projects/foo' with names prefixed with 'prod' referring to the same `Ruleset` name of 'uuid1234': Name -\u003e Ruleset Name: * projects/foo/releases/prod -\u003e projects/foo/rulesets/1234 * projects/foo/releases/prod/v1 -\u003e projects/foo/rulesets/1234 In the examples, the filter parameters refer to the search filters are relative to the project. Fully qualified prefixed may also be used."
                }
              },
              "flatPath": "v1/projects/{projectsId}/releases",
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "Release"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of the `Release`. Format: `projects/{project_id}/releases/{release_id}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/releases/.*$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a `Release` by name.",
              "id": "firebaserules.projects.releases.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            }
          }
        },
        "rulesets": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "firebaserules.projects.rulesets.get",
              "description": "Get a `Ruleset` by name including the full `Source` contents.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/rulesets/[^/]+$",
                  "description": "Required. Resource name for the ruleset to get. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Ruleset"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "create": {
              "path": "v1/{+name}/rulesets",
              "request": {
                "$ref": "Ruleset"
              },
              "flatPath": "v1/projects/{projectsId}/rulesets",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaserules.projects.rulesets.create",
              "response": {
                "$ref": "Ruleset"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Resource name for Project which owns this `Ruleset`. Format: `projects/{project_id}`",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Create a `Ruleset` from `Source`. The `Ruleset` is given a unique generated name which is returned to the caller. `Source` containing syntactic or semantics errors will result in an error response indicating the first error encountered. For a detailed view of `Source` issues, use TestRuleset.",
              "httpMethod": "POST"
            },
            "list": {
              "id": "firebaserules.projects.rulesets.list",
              "flatPath": "v1/projects/{projectsId}/rulesets",
              "httpMethod": "GET",
              "description": "List `Ruleset` metadata only and optionally filter the results by `Ruleset` name. The full `Source` contents of a `Ruleset` may be retrieved with GetRuleset.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/rulesets",
              "parameters": {
                "filter": {
                  "description": "`Ruleset` filter. The list method supports filters with restrictions on `Ruleset.name`. Filters on `Ruleset.create_time` should use the `date` function which parses strings that conform to the RFC 3339 date/time specifications. Example: `create_time \u003e date(\"2017-01-01T00:00:00Z\") AND name=UUID-*`",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Next page token for loading the next batch of `Ruleset` instances."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Resource name for the project. Format: `projects/{project_id}`",
                  "required": true
                },
                "pageSize": {
                  "description": "Page size to load. Maximum of 100. Defaults to 10. Note: `page_size` is just a hint and the service may choose to load less than `page_size` due to the size of the output. To traverse all of the releases, caller should iterate until the `page_token` is empty.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListRulesetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Delete a `Ruleset` by resource name. If the `Ruleset` is referenced by a `Release` the operation will fail.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+name}",
              "id": "firebaserules.projects.rulesets.delete",
              "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name for the ruleset to delete. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
                  "pattern": "^projects/[^/]+/rulesets/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        }
      },
      "methods": {
        "test": {
          "request": {
            "$ref": "TestRulesetRequest"
          },
          "httpMethod": "POST",
          "path": "v1/{+name}:test",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "description": "Test `Source` for syntactic and semantic correctness. Issues present, if any, will be returned to the caller with a description, severity, and source location. The test method may be executed with `Source` or a `Ruleset` name. Passing `Source` is useful for unit testing new rules. Passing a `Ruleset` name is useful for regression testing an existing rule. The following is an example of `Source` that permits users to upload images to a bucket bearing their user id and matching the correct metadata: _*Example*_ // Users are allowed to subscribe and unsubscribe to the blog. service firebase.storage { match /users/{userId}/images/{imageName} { allow write: if userId == request.auth.uid && (imageName.matches('*.png$') || imageName.matches('*.jpg$')) && resource.mimeType.matches('^image/') } }",
          "parameters": {
            "name": {
              "pattern": "^projects/.*$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Tests may either provide `source` or a `Ruleset` resource name. For tests against `source`, the resource name must refer to the project: Format: `projects/{project_id}` For tests against a `Ruleset`, this must be the `Ruleset` resource name: Format: `projects/{project_id}/rulesets/{ruleset_id}`"
            }
          },
          "id": "firebaserules.projects.test",
          "flatPath": "v1/projects/{projectsId}:test",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "TestRulesetResponse"
          }
        }
      }
    }
  }
}
