{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "basePath": "",
  "rootUrl": "https://firebasehosting.googleapis.com/",
  "baseUrl": "https://firebasehosting.googleapis.com/",
  "revision": "20210628",
  "resources": {
    "sites": {
      "resources": {
        "releases": {
          "methods": {
            "list": {
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.sites.releases.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "parameters": {
                "parent": {
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "required": true,
                  "pattern": "^sites/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100."
                },
                "pageToken": {
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1beta1/{+parent}/releases"
            },
            "create": {
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "path": "v1beta1/{+parent}/releases",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "response": {
                "$ref": "Release"
              },
              "parameters": {
                "versionName": {
                  "location": "query",
                  "type": "string",
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                  "pattern": "^sites/[^/]+$"
                }
              },
              "request": {
                "$ref": "Release"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebasehosting.sites.releases.create"
            }
          }
        },
        "channels": {
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/releases",
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "required": true,
                      "pattern": "^sites/[^/]+/channels/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "id": "firebasehosting.sites.channels.releases.list"
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "response": {
                    "$ref": "Release"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "pattern": "^sites/[^/]+/channels/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "versionName": {
                      "location": "query",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+parent}/releases",
                  "id": "firebasehosting.sites.channels.releases.create",
                  "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}/releases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Release"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "firebasehosting.sites.channels.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "response": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}",
              "description": "Retrieves information for the specified channel of the specified site.",
              "httpMethod": "GET"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of fields to be updated in this request."
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "location": "path",
                  "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID"
                }
              },
              "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.channels.patch"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing."
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "id": "firebasehosting.sites.channels.list",
              "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "path": "v1beta1/{+parent}/channels"
            },
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+/channels/[^/]+$",
                  "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID"
                }
              },
              "id": "firebasehosting.sites.channels.delete",
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/channels/{channelsId}",
              "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "create": {
              "flatPath": "v1beta1/sites/{sitesId}/channels",
              "path": "v1beta1/{+parent}/channels",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Creates a new channel in the specified site.",
              "response": {
                "$ref": "Channel"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "required": true
                },
                "channelId": {
                  "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "firebasehosting.sites.channels.create",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Channel"
              }
            }
          }
        },
        "domains": {
          "methods": {
            "update": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "Domain"
              },
              "response": {
                "$ref": "Domain"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist.",
                  "type": "string"
                }
              },
              "id": "firebasehosting.sites.domains.update",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a domain mapping on the specified site.",
              "response": {
                "$ref": "Domain"
              },
              "path": "v1beta1/{+name}",
              "id": "firebasehosting.sites.domains.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the domain configuration to get.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "httpMethod": "GET"
            },
            "list": {
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "id": "firebasehosting.sites.domains.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The page size to return. Defaults to 50.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The next_page_token from a previous request, if provided.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "description": "Lists the domains for the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/domains"
            },
            "create": {
              "description": "Creates a domain mapping on the specified site.",
              "httpMethod": "POST",
              "request": {
                "$ref": "Domain"
              },
              "path": "v1beta1/{+parent}/domains",
              "response": {
                "$ref": "Domain"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "id": "firebasehosting.sites.domains.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the existing domain mapping on the specified site.",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the domain association to delete.",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "firebasehosting.sites.domains.delete"
            }
          }
        },
        "versions": {
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "path": "v1beta1/{+parent}/files",
                  "id": "firebasehosting.sites.versions.files.list",
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "status": {
                      "description": " The type of files that should be listed for the specified version.",
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ],
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ]
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "delete": {
              "id": "firebasehosting.sites.versions.delete",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "required": true,
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Deletes the specified version.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Version"
              },
              "id": "firebasehosting.sites.versions.patch",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v1beta1/{+name}",
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "request": {
                "$ref": "Version"
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "location": "query"
                }
              }
            },
            "clone": {
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/versions:clone",
              "id": "firebasehosting.sites.versions.clone",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "create": {
              "path": "v1beta1/{+parent}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "Version"
              },
              "id": "firebasehosting.sites.versions.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "Version"
              },
              "parameters": {
                "sizeBytes": {
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "versionId": {
                  "type": "string",
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "description": "Creates a new version for the specified site."
            },
            "populateFiles": {
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID"
                }
              },
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "httpMethod": "POST",
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "description": " Adds content files to the specified version. Each file must be under 2 GB.",
              "path": "v1beta1/{+parent}:populateFiles",
              "id": "firebasehosting.sites.versions.populateFiles"
            },
            "list": {
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160)."
                },
                "parent": {
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "path": "v1beta1/{+parent}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "httpMethod": "GET",
              "id": "firebasehosting.sites.versions.list"
            }
          }
        }
      },
      "methods": {
        "updateConfig": {
          "response": {
            "$ref": "SiteConfig"
          },
          "path": "v1beta1/{+name}",
          "id": "firebasehosting.sites.updateConfig",
          "request": {
            "$ref": "SiteConfig"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
              "pattern": "^sites/[^/]+/config$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "PATCH",
          "description": "Sets the Hosting metadata for a specific site.",
          "flatPath": "v1beta1/sites/{sitesId}/config"
        },
        "getConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^sites/[^/]+/config$",
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
              "required": true
            }
          },
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "description": "Gets the Hosting metadata for a specific site.",
          "response": {
            "$ref": "SiteConfig"
          },
          "id": "firebasehosting.sites.getConfig",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta1/{+name}",
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "resources": {
        "sites": {
          "methods": {
            "getConfig": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "required": true
                }
              },
              "response": {
                "$ref": "SiteConfig"
              },
              "description": "Gets the Hosting metadata for a specific site.",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "id": "firebasehosting.projects.sites.getConfig",
              "httpMethod": "GET"
            },
            "create": {
              "parameters": {
                "siteId": {
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Site"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Site"
              },
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems.",
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.projects.sites.create",
              "path": "v1beta1/{+parent}/sites"
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "required": true,
                  "pattern": "^projects/[^/]+/sites/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "A set of field names from your Site that you want to update."
                }
              },
              "description": "Updates attributes of the specified Hosting Site.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Site"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.patch",
              "request": {
                "$ref": "Site"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "updateConfig": {
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "SiteConfig"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "SiteConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.sites.updateConfig",
              "description": "Sets the Hosting metadata for a specific site.",
              "parameters": {
                "name": {
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used."
                }
              }
            },
            "get": {
              "id": "firebasehosting.projects.sites.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the specified Hosting Site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "response": {
                "$ref": "Site"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "type": "string",
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID",
                  "location": "path",
                  "required": true
                }
              }
            },
            "delete": {
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.delete",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/sites",
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40.",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "response": {
                "$ref": "ListSitesResponse"
              },
              "id": "firebasehosting.projects.sites.list"
            }
          },
          "resources": {
            "channels": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Channel"
                  },
                  "parameters": {
                    "updateMask": {
                      "description": "A comma-separated list of fields to be updated in this request.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                    }
                  },
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "request": {
                    "$ref": "Channel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}"
                },
                "create": {
                  "description": "Creates a new channel in the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "request": {
                    "$ref": "Channel"
                  },
                  "id": "firebasehosting.projects.sites.channels.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Channel"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID",
                      "type": "string",
                      "location": "path"
                    },
                    "channelId": {
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1beta1/{+parent}/channels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/channels",
                  "response": {
                    "$ref": "ListChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "id": "firebasehosting.projects.sites.channels.list"
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "id": "firebasehosting.projects.sites.channels.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Channel"
                  },
                  "description": "Retrieves information for the specified channel of the specified site.",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              },
              "resources": {
                "releases": {
                  "methods": {
                    "create": {
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "request": {
                        "$ref": "Release"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "response": {
                        "$ref": "Release"
                      },
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "path": "v1beta1/{+parent}/releases",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "httpMethod": "POST",
                      "parameters": {
                        "versionName": {
                          "location": "query",
                          "type": "string",
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                          "required": true,
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                        }
                      },
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "path": "v1beta1/{+parent}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ]
                    }
                  }
                }
              }
            },
            "releases": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "id": "firebasehosting.projects.sites.releases.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/releases"
                },
                "create": {
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "request": {
                    "$ref": "Release"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Release"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.releases.create",
                  "parameters": {
                    "versionName": {
                      "location": "query",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+parent}/releases"
                }
              }
            },
            "versions": {
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing."
                        },
                        "status": {
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "location": "query",
                          "type": "string",
                          "description": " The type of files that should be listed for the specified version.",
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ]
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "path": "v1beta1/{+parent}/files"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "firebasehosting.projects.sites.versions.list",
                  "path": "v1beta1/{+parent}/versions",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                    },
                    "filter": {
                      "type": "string",
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions"
                },
                "clone": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "path": "v1beta1/{+parent}/versions:clone",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "populateFiles": {
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "required": true
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}:populateFiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": " Adds content files to the specified version. Each file must be under 2 GB."
                },
                "create": {
                  "description": "Creates a new version for the specified site.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/versions",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                      "required": true
                    },
                    "versionId": {
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "type": "string",
                      "location": "query"
                    },
                    "sizeBytes": {
                      "type": "string",
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                      "location": "query",
                      "format": "int64"
                    }
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "request": {
                    "$ref": "Version"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasehosting.projects.sites.versions.create"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "description": "Deletes the specified version.",
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
                  "request": {
                    "$ref": "Version"
                  },
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Version"
                  },
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "location": "path",
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create).",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "httpMethod": "PATCH"
                }
              }
            },
            "domains": {
              "methods": {
                "get": {
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the domain configuration to get.",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "httpMethod": "GET",
                  "description": "Gets a domain mapping on the specified site.",
                  "id": "firebasehosting.projects.sites.domains.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "Domain"
                  }
                },
                "create": {
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "id": "firebasehosting.projects.sites.domains.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Domain"
                  },
                  "description": "Creates a domain mapping on the specified site.",
                  "path": "v1beta1/{+parent}/domains"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "description": "Required. The name of the domain association to delete.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.domains.delete"
                },
                "update": {
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "response": {
                    "$ref": "Domain"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "firebasehosting.projects.sites.domains.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Domain"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist."
                    }
                  },
                  "httpMethod": "PUT"
                },
                "list": {
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.domains.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token from a previous request, if provided."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page size to return. Defaults to 50.",
                      "location": "query"
                    }
                  },
                  "path": "v1beta1/{+parent}/domains",
                  "httpMethod": "GET",
                  "description": "Lists the domains for the specified site.",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "id": "firebasehosting.projects.operations.get"
            }
          }
        }
      }
    }
  },
  "title": "Firebase Hosting API",
  "servicePath": "",
  "mtlsRootUrl": "https://firebasehosting.mtls.googleapis.com/",
  "schemas": {
    "I18nConfig": {
      "properties": {
        "root": {
          "type": "string",
          "description": "Required. The user-supplied path where country and language specific content will be looked for within the public directory."
        }
      },
      "description": "If provided, i18n rewrites are enabled.",
      "id": "I18nConfig",
      "type": "object"
    },
    "PathFilter": {
      "type": "object",
      "description": "A representation of filter path.",
      "id": "PathFilter",
      "properties": {
        "regexes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An array of RegEx values by which to filter."
        }
      }
    },
    "Rewrite": {
      "type": "object",
      "id": "Rewrite",
      "description": "A [`Rewrite`](https://firebase.google.com/docs/hosting/full-config#rewrites) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond as if the service were given the specified destination URL.",
      "properties": {
        "function": {
          "type": "string",
          "description": "The function to proxy requests to. Must match the exported function name exactly."
        },
        "regex": {
          "description": "The user-supplied RE2 regular expression to match against the request URL path.",
          "type": "string"
        },
        "path": {
          "description": "The URL path to rewrite the request to.",
          "type": "string"
        },
        "dynamicLinks": {
          "description": "The request will be forwarded to Firebase Dynamic Links.",
          "type": "boolean"
        },
        "run": {
          "description": "The request will be forwarded to Cloud Run.",
          "$ref": "CloudRunRewrite"
        },
        "glob": {
          "type": "string",
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path."
        }
      }
    },
    "VersionFile": {
      "id": "VersionFile",
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "EXPECTED",
            "ACTIVE"
          ],
          "description": "Output only. The current status of a particular file in the specified version. The value will be either `pending upload` or `uploaded`.",
          "enumDescriptions": [
            "The default status; should not be intentionally used.",
            "The file has been included in the version and is expected to be uploaded in the near future.",
            "The file has already been uploaded to Firebase Hosting."
          ],
          "type": "string"
        },
        "hash": {
          "description": "The SHA256 content hash of the file.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "The URI at which the file's content should display."
        }
      },
      "description": "A static content file that is part of a version."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "ActingUser": {
      "id": "ActingUser",
      "properties": {
        "imageUrl": {
          "description": "A profile image URL for the user. May not be present if the user has changed their email address or deleted their account.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the user when the user performed the action.",
          "type": "string"
        }
      },
      "description": "Contains metadata about the user who performed an action, such as creating a release or finalizing a version.",
      "type": "object"
    },
    "Redirect": {
      "id": "Redirect",
      "description": "A [`Redirect`](https://firebase.google.com/docs/hosting/full-config#redirects) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to respond with a redirect to the specified destination path.",
      "properties": {
        "statusCode": {
          "format": "int32",
          "description": "Required. The status HTTP code to return in the response. It must be a valid 3xx status code.",
          "type": "integer"
        },
        "regex": {
          "description": "The user-supplied RE2 regular expression to match against the request URL path.",
          "type": "string"
        },
        "glob": {
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path.",
          "type": "string"
        },
        "location": {
          "description": "Required. The value to put in the HTTP location header of the response. The location can contain capture group values from the pattern using a `:` prefix to identify the segment and an optional `*` to capture the rest of the URL. For example: \"glob\": \"/:capture*\", \"statusCode\": 301, \"location\": \"https://example.com/foo/:capture\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Header": {
      "type": "object",
      "properties": {
        "headers": {
          "type": "object",
          "description": "Required. The additional headers to add to the response.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "glob": {
          "description": "The user-supplied [glob](https://firebase.google.com/docs/hosting/full-config#glob_pattern_matching) to match against the request URL path.",
          "type": "string"
        },
        "regex": {
          "description": "The user-supplied RE2 regular expression to match against the request URL path.",
          "type": "string"
        }
      },
      "id": "Header",
      "description": "A [`Header`](https://firebase.google.com/docs/hosting/full-config#headers) specifies a URL pattern that, if matched to the request URL path, triggers Hosting to apply the specified custom response headers."
    },
    "SiteConfig": {
      "id": "SiteConfig",
      "properties": {
        "cloudLoggingEnabled": {
          "type": "boolean",
          "description": "Whether or not web requests made by site visitors are logged via Cloud Logging."
        },
        "maxVersions": {
          "description": "The number of FINALIZED versions that will be held for a site before automatic deletion. When a new version is deployed, content for versions in storage in excess of this number will be deleted, and will no longer be billed for storage usage. Oldest versions will be deleted first; sites are created with an unlimited number of max_versions by default.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A `SiteConfig` contains metadata associated with a specific site that controls Firebase Hosting serving behavior"
    },
    "Channel": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Text labels used for extra metadata and/or filtering.",
          "type": "object"
        },
        "retainedReleaseCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of previous releases to retain on the channel for rollback or other purposes. Must be a number between 1-100. Defaults to 10 for new channels."
        },
        "url": {
          "readOnly": true,
          "description": "Output only. The URL at which the content of this channel's current release can be viewed. This URL is a Firebase-provided subdomain of `web.app`. The content of this channel's current release can also be viewed at the Firebase-provided subdomain of `firebaseapp.com`. If this channel is the `live` channel for the Hosting site, then the content of this channel's current release can also be viewed at any connected custom domains.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the channel was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "release": {
          "$ref": "Release",
          "readOnly": true,
          "description": "Output only. The current release for the channel, if any."
        },
        "ttl": {
          "description": "Input only. A time-to-live for this channel. Sets `expire_time` to the provided duration past the time of the request.",
          "format": "google-duration",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the channel was created."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the channel will be automatically deleted. If null, the channel will not be automatically deleted. This field is present in the output whether it's set directly or via the `ttl` field."
        },
        "name": {
          "type": "string",
          "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID"
        }
      },
      "id": "Channel",
      "description": "A `Channel` represents a stream of releases for a site. All sites have a default `live` channel that serves content to the Firebase-provided subdomains and any connected custom domains.",
      "type": "object"
    },
    "ListVersionFilesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token, if more results exist beyond the ones in this response. Include this token in your next call to `ListVersionFiles`. Page tokens are short-lived and should not be stored.",
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "VersionFile"
          },
          "description": " The list of paths to the hashes of the files in the specified version."
        }
      },
      "id": "ListVersionFilesResponse",
      "type": "object"
    },
    "CloudRunRewrite": {
      "id": "CloudRunRewrite",
      "description": "A configured rewrite that directs requests to a Cloud Run service. If the Cloud Run service does not exist when setting or updating your Firebase Hosting configuration, then the request fails. Any errors from the Cloud Run service are passed to the end user (for example, if you delete a service, any requests directed to that service receive a `404` error).",
      "type": "object",
      "properties": {
        "serviceId": {
          "type": "string",
          "description": "Required. User-defined ID of the Cloud Run service."
        },
        "region": {
          "description": "Optional. User-provided region where the Cloud Run service is hosted. Defaults to `us-central1` if not supplied.",
          "type": "string"
        }
      }
    },
    "DomainProvisioning": {
      "properties": {
        "discoveredIps": {
          "items": {
            "type": "string"
          },
          "description": "The IPs found at the last DNS fetch.",
          "type": "array"
        },
        "expectedIps": {
          "description": "The list of IPs to which the domain is expected to resolve.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certChallengeDiscoveredTxt": {
[...]
