{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "FunctionMock": {
      "id": "FunctionMock",
      "properties": {
        "result": {
          "$ref": "Result",
          "description": "The mock result of the function call."
        },
        "args": {
          "description": "The list of `Arg` values to match. The order in which the arguments are provided is the order in which they must appear in the function invocation.",
          "items": {
            "$ref": "Arg"
          },
          "type": "array"
        },
        "function": {
          "type": "string",
          "description": "The name of the function. The function name must match one provided by a service declaration."
        }
      },
      "description": "Mock function definition. Mocks must refer to a function declared by the target service. The type of the function args and result will be inferred at test time. If either the arg or result values are not compatible with function type declaration, the request will be considered invalid. More than one `FunctionMock` may be provided for a given function name so long as the `Arg` matchers are distinct. There may be only one function for a given overload where all `Arg` values are `Arg.any_value`.",
      "type": "object"
    },
    "ListReleasesResponse": {
      "description": "The response for FirebaseRulesService.ListReleases.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain.",
          "type": "string"
        },
        "releases": {
          "description": "List of `Release` instances.",
          "items": {
            "$ref": "Release"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListReleasesResponse"
    },
    "UpdateReleaseRequest": {
      "properties": {
        "release": {
          "description": "`Release` to update.",
          "$ref": "Release"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Specifies which fields to update.",
          "type": "string"
        }
      },
      "id": "UpdateReleaseRequest",
      "type": "object",
      "description": "The request for FirebaseRulesService.UpdateReleasePatch."
    },
    "SourcePosition": {
      "description": "Position in the `Source` content including its line, column number, and an index of the `File` in the `Source` message. Used for debug purposes.",
      "id": "SourcePosition",
      "properties": {
        "currentOffset": {
          "description": "Start position relative to the beginning of the file.",
          "type": "integer",
          "format": "int32"
        },
        "fileName": {
          "type": "string",
          "description": "Name of the `File`."
        },
        "column": {
          "format": "int32",
          "description": "First column on the source line associated with the source fragment.",
          "type": "integer"
        },
        "line": {
          "type": "integer",
          "description": "Line number of the source fragment. 1-based.",
          "format": "int32"
        },
        "endOffset": {
          "format": "int32",
          "description": "End position relative to the beginning of the file.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GetReleaseExecutableResponse": {
      "id": "GetReleaseExecutableResponse",
      "properties": {
        "executableVersion": {
          "type": "string",
          "description": "The Rules runtime version of the executable.",
          "enumDescriptions": [
            "Executable format unspecified. Defaults to FIREBASE_RULES_EXECUTABLE_V1",
            "Firebase Rules syntax 'rules2' executable versions: Custom AST for use with Java clients.",
            "CEL-based executable for use with C++ clients."
          ],
          "enum": [
            "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
            "FIREBASE_RULES_EXECUTABLE_V1",
            "FIREBASE_RULES_EXECUTABLE_V2"
          ]
        },
        "language": {
          "enumDescriptions": [
            "Language unspecified. Defaults to FIREBASE_RULES.",
            "Firebase Rules language.",
            "Event Flow triggers."
          ],
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "FIREBASE_RULES",
            "EVENT_FLOW_TRIGGERS"
          ],
          "type": "string",
          "description": "`Language` used to generate the executable bytes."
        },
        "syncTime": {
          "description": "Optional, indicates the freshness of the result. The response is guaranteed to be the latest within an interval up to the sync_time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "executable": {
          "description": "Executable view of the `Ruleset` referenced by the `Release`.",
          "type": "string",
          "format": "byte"
        },
        "updateTime": {
          "description": "Timestamp for the most recent `Release.update_time`.",
          "format": "google-datetime",
          "type": "string"
        },
        "rulesetName": {
          "description": "`Ruleset` name associated with the `Release` executable.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for FirebaseRulesService.GetReleaseExecutable"
    },
    "TestResult": {
      "id": "TestResult",
      "type": "object",
      "description": "Test result message containing the state of the test as well as a description and source position for test failures.",
      "properties": {
        "visitedExpressions": {
          "items": {
            "$ref": "VisitedExpression"
          },
          "type": "array",
          "description": "The set of visited permission expressions for a given test. This returns the positions and evaluation results of all visited permission expressions which were relevant to the test case, e.g. ``` match /path { allow read if: } ``` For a detailed report of the intermediate evaluation states, see the `expression_reports` field"
        },
        "errorPosition": {
          "$ref": "SourcePosition",
          "description": "Position in the `Source` or `Ruleset` where the principle runtime error occurs. Evaluation of an expression may result in an error. Rules are deny by default, so a `DENY` expectation when an error is generated is valid. When there is a `DENY` with an error, the `SourcePosition` is returned. E.g. `error_position { line: 19 column: 37 }`"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCESS",
            "FAILURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Test state is not set.",
            "Test is a success.",
            "Test is a failure."
          ],
          "description": "State of the test."
        },
        "expressionReports": {
          "type": "array",
          "description": "The mapping from expression in the ruleset AST to the values they were evaluated to. Partially-nested to mirror AST structure. Note that this field is actually tracking expressions and not permission statements in contrast to the \"visited_expressions\" field above. Literal expressions are omitted.",
          "items": {
            "$ref": "ExpressionReport"
          }
        },
        "debugMessages": {
          "type": "array",
          "description": "Debug messages related to test execution issues encountered during evaluation. Debug messages may be related to too many or too few invocations of function mocks or to runtime errors that occur during evaluation. For example: ```Unable to read variable [name: \"resource\"]```",
          "items": {
            "type": "string"
          }
        },
        "functionCalls": {
          "items": {
            "$ref": "FunctionCall"
          },
          "description": "The set of function calls made to service-defined methods. Function calls are included in the order in which they are encountered during evaluation, are provided for both mocked and unmocked functions, and included on the response regardless of the test `state`.",
          "type": "array"
        }
      }
    },
    "Result": {
      "description": "Possible result values from the function mock invocation.",
      "properties": {
        "value": {
          "description": "The result is an actual value. The type of the value must match that of the type declared by the service.",
          "type": "any"
        },
        "undefined": {
          "description": "The result is undefined, meaning the result could not be computed.",
          "$ref": "Empty"
        }
      },
      "id": "Result",
      "type": "object"
    },
    "Issue": {
      "description": "Issues include warnings, errors, and deprecation notices.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Short error description."
        },
        "sourcePosition": {
          "description": "Position of the issue in the `Source`.",
          "$ref": "SourcePosition"
        },
        "severity": {
          "type": "string",
          "description": "The severity of the issue.",
          "enumDescriptions": [
            "An unspecified severity.",
            "Deprecation issue for statements and method that may no longer be supported or maintained.",
            "Warnings such as: unused variables.",
            "Errors such as: unmatched curly braces or variable redefinition."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "DEPRECATION",
            "WARNING",
            "ERROR"
          ]
        }
      },
      "id": "Issue",
      "type": "object"
    },
    "TestCase": {
      "type": "object",
      "id": "TestCase",
      "description": "`TestCase` messages provide the request context and an expectation as to whether the given context will be allowed or denied. Test cases may specify the `request`, `resource`, and `function_mocks` to mock a function call to a service-provided function. The `request` object represents context present at request-time. The `resource` is the value of the target resource as it appears in persistent storage before the request is executed.",
      "properties": {
        "expectation": {
          "enum": [
            "EXPECTATION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "Test expectation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified expectation.",
            "Expect an allowed result.",
            "Expect a denied result."
          ]
        },
        "pathEncoding": {
          "description": "Specifies whether paths (such as request.path) are encoded and how.",
          "enumDescriptions": [
            "No encoding has been specified. Defaults to \"URL_ENCODED\" behavior.",
            "Treats path segments as URL encoded but with non-encoded separators (\"/\"). This is the default behavior.",
            "Treats total path as non-URL encoded e.g. raw."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "URL_ENCODED",
            "PLAIN"
          ],
          "type": "string"
        },
        "request": {
          "type": "any",
          "description": "Request context. The exact format of the request context is service-dependent. See the appropriate service documentation for information about the supported fields and types on the request. Minimally, all services support the following fields and types: Request field | Type ---------------|----------------- auth.uid | `string` auth.token | `map` headers | `map` method | `string` params | `map` path | `string` time | `google.protobuf.Timestamp` If the request value is not well-formed for the service, the request will be rejected as an invalid argument."
        },
        "functionMocks": {
          "description": "Optional function mocks for service-defined functions. If not set, any service defined function is expected to return an error, which may or may not influence the test outcome.",
          "items": {
            "$ref": "FunctionMock"
          },
          "type": "array"
        },
        "resource": {
          "type": "any",
          "description": "Optional resource value as it appears in persistent storage before the request is fulfilled. The resource type depends on the `request.path` value."
        },
        "expressionReportLevel": {
          "type": "string",
          "description": "Specifies what should be included in the response.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "NONE",
            "FULL",
            "VISITED"
          ],
          "enumDescriptions": [
            "No level has been specified. Defaults to \"NONE\" behavior.",
            "Do not include any additional information.",
            "Include detailed reporting on expressions evaluated.",
            "Only include the expressions that were visited during evaluation."
          ]
        }
      }
    },
    "Source": {
      "properties": {
        "files": {
          "description": "`File` set constituting the `Source` bundle.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      },
      "id": "Source",
      "description": "`Source` is one or more `File` messages comprising a logical set of rules.",
      "type": "object"
    },
    "TestRulesetResponse": {
      "properties": {
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "description": "Syntactic and semantic `Source` issues of varying severity. Issues of `ERROR` severity will prevent tests from executing."
        },
        "testResults": {
          "type": "array",
          "items": {
            "$ref": "TestResult"
          },
          "description": "The set of test results given the test cases in the `TestSuite`. The results will appear in the same order as the test cases appear in the `TestSuite`."
        }
      },
      "id": "TestRulesetResponse",
      "type": "object",
      "description": "The response for FirebaseRulesService.TestRuleset."
    },
    "Ruleset": {
      "type": "object",
      "properties": {
        "source": {
          "$ref": "Source",
          "description": "`Source` for the `Ruleset`."
        },
        "name": {
          "description": "Name of the `Ruleset`. The ruleset_id is auto generated by the service. Format: `projects/{project_id}/rulesets/{ruleset_id}` Output only.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time the `Ruleset` was created. Output only.",
          "type": "string"
        },
        "metadata": {
          "description": "The metadata for this ruleset. Output only.",
          "$ref": "Metadata"
        }
      },
      "description": "`Ruleset` is an immutable copy of `Source` with a globally unique identifier and a creation time.",
      "id": "Ruleset"
    },
    "VisitedExpression": {
      "properties": {
        "value": {
          "type": "any",
          "description": "The evaluated value for the visited expression, e.g. true/false"
        },
        "sourcePosition": {
          "description": "Position in the `Source` or `Ruleset` where an expression was visited.",
          "$ref": "SourcePosition"
        }
      },
      "type": "object",
      "description": "Store the position and access outcome for an expression visited in rules.",
      "id": "VisitedExpression"
    },
    "FunctionCall": {
      "type": "object",
      "id": "FunctionCall",
      "properties": {
        "args": {
          "description": "The arguments that were provided to the function.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "function": {
          "type": "string",
          "description": "Name of the function invoked."
        }
      },
      "description": "Represents a service-defined function call that was invoked during test execution."
    },
    "Release": {
      "id": "Release",
      "description": "`Release` is a named reference to a `Ruleset`. Once a `Release` refers to a `Ruleset`, rules-enabled services will be able to enforce the `Ruleset`.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the `Release`. `Release` names may be structured `app1/prod/v2` or flat `app1_prod_v2` which affords developers a great deal of flexibility in mapping the name to the style that best fits their existing development practices. For example, a name could refer to an environment, an app, a version, or some combination of three. In the table below, for the project name `projects/foo`, the following relative release paths show how flat and structured names might be chosen to match a desired development / deployment strategy. Use Case | Flat Name | Structured Name -------------|---------------------|---------------- Environments | releases/qa | releases/qa Apps | releases/app1_qa | releases/app1/qa Versions | releases/app1_v2_qa | releases/app1/v2/qa The delimiter between the release name path elements can be almost anything and it should work equally well with the release name list filter, but in many ways the structured paths provide a clearer picture of the relationship between `Release` instances. Format: `projects/{project_id}/releases/{release_id}`",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the release was created. Output only."
        },
        "updateTime": {
          "description": "Time the release was updated. Output only.",
          "format": "google-datetime",
          "type": "string"
        },
        "rulesetName": {
          "description": "Name of the `Ruleset` referred to by this `Release`. The `Ruleset` must exist the `Release` to be created.",
          "type": "string"
        }
      }
    },
    "ValueCount": {
      "id": "ValueCount",
      "type": "object",
      "properties": {
        "value": {
          "type": "any",
          "description": "The return value of the expression"
        },
        "count": {
          "description": "The amount of times that expression returned.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Tuple for how many times an Expression was evaluated to a particular ExpressionValue."
    },
    "ListRulesetsResponse": {
      "type": "object",
      "description": "The response for FirebaseRulesService.ListRulesets.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of results. If the value is empty, no further results remain.",
          "type": "string"
        },
        "rulesets": {
          "items": {
            "$ref": "Ruleset"
          },
          "description": "List of `Ruleset` instances.",
          "type": "array"
        }
      },
      "id": "ListRulesetsResponse"
    },
    "File": {
      "properties": {
        "content": {
          "description": "Textual Content.",
          "type": "string"
        },
        "fingerprint": {
          "format": "byte",
          "type": "string",
          "description": "Fingerprint (e.g. github sha) associated with the `File`."
        },
        "name": {
          "description": "File name.",
          "type": "string"
        }
      },
      "id": "File",
      "type": "object",
      "description": "`File` containing source content."
    },
    "ExpressionReport": {
      "description": "Describes where in a file an expression is found and what it was evaluated to over the course of its use.",
      "type": "object",
      "properties": {
        "children": {
          "type": "array",
          "description": "Subexpressions",
          "items": {
            "$ref": "ExpressionReport"
          }
        },
        "values": {
          "description": "Values that this expression evaluated to when encountered.",
          "type": "array",
          "items": {
            "$ref": "ValueCount"
          }
        },
        "sourcePosition": {
          "description": "Position of expression in original rules source.",
          "$ref": "SourcePosition"
        }
      },
      "id": "ExpressionReport"
    },
    "TestRulesetRequest": {
      "properties": {
        "testSuite": {
          "$ref": "TestSuite",
          "description": "Inline `TestSuite` to run."
        },
        "source": {
          "description": "Optional `Source` to be checked for correctness. This field must not be set when the resource name refers to a `Ruleset`.",
          "$ref": "Source"
        }
      },
      "id": "TestRulesetRequest",
      "description": "The request for FirebaseRulesService.TestRuleset.",
      "type": "object"
    },
    "Arg": {
      "description": "Arg matchers for the mock function.",
      "type": "object",
      "id": "Arg",
      "properties": {
        "anyValue": {
          "description": "Argument matches any value provided.",
          "$ref": "Empty"
        },
        "exactValue": {
          "type": "any",
          "description": "Argument exactly matches value provided."
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "Empty"
    },
    "TestSuite": {
      "properties": {
        "testCases": {
          "description": "Collection of test cases associated with the `TestSuite`.",
          "type": "array",
          "items": {
            "$ref": "TestCase"
          }
        }
      },
      "type": "object",
      "id": "TestSuite",
      "description": "`TestSuite` is a collection of `TestCase` instances that validate the logical correctness of a `Ruleset`. The `TestSuite` may be referenced in-line within a `TestRuleset` invocation or as part of a `Release` object as a pre-release check."
    },
    "Metadata": {
      "type": "object",
      "id": "Metadata",
      "properties": {
        "services": {
          "items": {
            "type": "string"
          },
          "description": "Services that this ruleset has declarations for (e.g., \"cloud.firestore\"). There may be 0+ of these.",
          "type": "array"
        }
      },
      "description": "Metadata for a Ruleset."
    }
  },
  "canonicalName": "Firebase Rules",
  "baseUrl": "https://firebaserules.googleapis.com/",
  "id": "firebaserules:v1",
  "servicePath": "",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud Platform data"
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/firebase.readonly": {
          "description": "View all your Firebase data and settings"
        }
      }
    }
  },
  "mtlsRootUrl": "https://firebaserules.mtls.googleapis.com/",
  "name": "firebaserules",
  "kind": "discovery#restDescription",
  "basePath": "",
  "description": "Creates and manages rules that determine when a Firebase Rules-enabled service should permit a request. ",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "methods": {
        "test": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Tests may either provide `source` or a `Ruleset` resource name. For tests against `source`, the resource name must refer to the project: Format: `projects/{project_id}` For tests against a `Ruleset`, this must be the `Ruleset` resource name: Format: `projects/{project_id}/rulesets/{ruleset_id}`",
              "type": "string",
              "pattern": "^projects/.*$",
              "required": true
            }
          },
          "id": "firebaserules.projects.test",
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectsId}:test",
          "path": "v1/{+name}:test",
          "request": {
            "$ref": "TestRulesetRequest"
          },
          "response": {
            "$ref": "TestRulesetResponse"
          },
          "description": "Test `Source` for syntactic and semantic correctness. Issues present, if any, will be returned to the caller with a description, severity, and source location. The test method may be executed with `Source` or a `Ruleset` name. Passing `Source` is useful for unit testing new rules. Passing a `Ruleset` name is useful for regression testing an existing rule. The following is an example of `Source` that permits users to upload images to a bucket bearing their user id and matching the correct metadata: _*Example*_ // Users are allowed to subscribe and unsubscribe to the blog. service firebase.storage { match /users/{userId}/images/{imageName} { allow write: if userId == request.auth.uid && (imageName.matches('*.png$') || imageName.matches('*.jpg$')) && resource.mimeType.matches('^image/') } }"
        }
      },
      "resources": {
        "rulesets": {
          "methods": {
            "create": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Resource name for Project which owns this `Ruleset`. Format: `projects/{project_id}`",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}/rulesets",
              "request": {
                "$ref": "Ruleset"
              },
              "flatPath": "v1/projects/{projectsId}/rulesets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaserules.projects.rulesets.create",
              "description": "Create a `Ruleset` from `Source`. The `Ruleset` is given a unique generated name which is returned to the caller. `Source` containing syntactic or semantics errors will result in an error response indicating the first error encountered. For a detailed view of `Source` issues, use TestRuleset.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Ruleset"
              }
            },
            "get": {
              "description": "Get a `Ruleset` by name including the full `Source` contents.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
              "response": {
                "$ref": "Ruleset"
              },
              "id": "firebaserules.projects.rulesets.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the ruleset to get. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/rulesets/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/rulesets/{rulesetsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the ruleset to delete. Format: `projects/{project_id}/rulesets/{ruleset_id}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/rulesets/[^/]+$",
                  "location": "path"
                }
              },
              "id": "firebaserules.projects.rulesets.delete",
              "description": "Delete a `Ruleset` by resource name. If the `Ruleset` is referenced by a `Release` the operation will fail."
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+name}/rulesets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "List `Ruleset` metadata only and optionally filter the results by `Ruleset` name. The full `Source` contents of a `Ruleset` may be retrieved with GetRuleset.",
              "flatPath": "v1/projects/{projectsId}/rulesets",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Resource name for the project. Format: `projects/{project_id}`",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "`Ruleset` filter. The list method supports filters with restrictions on `Ruleset.name`. Filters on `Ruleset.create_time` should use the `date` function which parses strings that conform to the RFC 3339 date/time specifications. Example: `create_time \u003e date(\"2017-01-01T00:00:00Z\") AND name=UUID-*`"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Next page token for loading the next batch of `Ruleset` instances.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Page size to load. Maximum of 100. Defaults to 10. Note: `page_size` is just a hint and the service may choose to load less than `page_size` due to the size of the output. To traverse all of the releases, caller should iterate until the `page_token` is empty.",
                  "type": "integer"
                }
              },
              "id": "firebaserules.projects.rulesets.list",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListRulesetsResponse"
              }
            }
          }
        },
        "releases": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/releases",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "`Release` filter. The list method supports filters with restrictions on the `Release.name`, `Release.ruleset_name`, and `Release.test_suite_name`. Example 1: A filter of 'name=prod*' might return `Release`s with names within 'projects/foo' prefixed with 'prod': Name | Ruleset Name ------------------------------|------------- projects/foo/releases/prod | projects/foo/rulesets/uuid1234 projects/foo/releases/prod/v1 | projects/foo/rulesets/uuid1234 projects/foo/releases/prod/v2 | projects/foo/rulesets/uuid8888 Example 2: A filter of `name=prod* ruleset_name=uuid1234` would return only `Release` instances for 'projects/foo' with names prefixed with 'prod' referring to the same `Ruleset` name of 'uuid1234': Name | Ruleset Name ------------------------------|------------- projects/foo/releases/prod | projects/foo/rulesets/1234 projects/foo/releases/prod/v1 | projects/foo/rulesets/1234 In the examples, the filter parameters refer to the search filters are relative to the project. Fully qualified prefixed may also be used. e.g. `test_suite_name=projects/foo/testsuites/uuid1`",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Next page token for the next batch of `Release` instances."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the project. Format: `projects/{project_id}`",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Page size to load. Maximum of 100. Defaults to 10. Note: `page_size` is just a hint and the service may choose to load fewer than `page_size` results due to the size of the output. To traverse all of the releases, the caller should iterate until the `page_token` on the response is empty."
                }
              },
              "description": "List the `Release` values for a project. This list may optionally be filtered by `Release` name, `Ruleset` name, `TestSuite` name, or any combination thereof.",
              "httpMethod": "GET",
              "path": "v1/{+name}/releases",
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "id": "firebaserules.projects.releases.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "patch": {
              "id": "firebaserules.projects.releases.patch",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "type": "string",
                  "description": "Resource name for the project which owns this `Release`. Format: `projects/{project_id}`"
                }
              },
              "description": "Update a `Release` via PATCH. Only updates to the `ruleset_name` and `test_suite_name` fields will be honored. `Release` rename is not supported. To create a `Release` use the CreateRelease method.",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "request": {
                "$ref": "UpdateReleaseRequest"
              },
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "response": {
                "$ref": "Release"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "required": true,
                  "description": "Resource name for the `Release` to delete. Format: `projects/{project_id}/releases/{release_id}`",
                  "type": "string"
                }
              },
              "description": "Delete a `Release` by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}",
              "id": "firebaserules.projects.releases.delete",
              "path": "v1/{+name}"
            },
            "getExecutable": {
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}:getExecutable",
              "id": "firebaserules.projects.releases.getExecutable",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Get the `Release` executable to use when enforcing rules.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Resource name of the `Release`. Format: `projects/{project_id}/releases/{release_id}`"
                },
                "executableVersion": {
                  "type": "string",
                  "enum": [
                    "RELEASE_EXECUTABLE_VERSION_UNSPECIFIED",
                    "FIREBASE_RULES_EXECUTABLE_V1",
                    "FIREBASE_RULES_EXECUTABLE_V2"
                  ],
                  "location": "query",
                  "description": "The requested runtime executable version. Defaults to FIREBASE_RULES_EXECUTABLE_V1.",
                  "enumDescriptions": [
                    "Executable format unspecified. Defaults to FIREBASE_RULES_EXECUTABLE_V1",
                    "Firebase Rules syntax 'rules2' executable versions: Custom AST for use with Java clients.",
                    "CEL-based executable for use with C++ clients."
                  ]
                }
              },
              "response": {
                "$ref": "GetReleaseExecutableResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1/{+name}:getExecutable"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "firebaserules.projects.releases.get",
              "response": {
                "$ref": "Release"
              },
              "httpMethod": "GET",
              "description": "Get a `Release` by name.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/releases/.*$",
                  "location": "path",
                  "type": "string",
                  "description": "Resource name of the `Release`. Format: `projects/{project_id}/releases/{release_id}`",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/releases/{releasesId}"
            },
            "create": {
              "path": "v1/{+name}/releases",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Release"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Resource name for the project which owns this `Release`. Format: `projects/{project_id}`",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Release"
              },
              "flatPath": "v1/projects/{projectsId}/releases",
              "id": "firebaserules.projects.releases.create",
              "description": "Create a `Release`. Release names should reflect the developer's deployment practices. For example, the release name may include the environment name, application name, application version, or any other name meaningful to the developer. Once a `Release` refers to a `Ruleset`, the rules can be enforced by Firebase Rules-enabled services. More than one `Release` may be 'live' concurrently. Consider the following three `Release` names for `projects/foo` and the `Ruleset` to which they refer. Release Name | Ruleset Name --------------------------------|------------- projects/foo/releases/prod | projects/foo/rulesets/uuid123 projects/foo/releases/prod/beta | projects/foo/rulesets/uuid123 projects/foo/releases/prod/v23 | projects/foo/rulesets/uuid456 The table reflects the `Ruleset` rollout in progress. The `prod` and `prod/beta` releases refer to the same `Ruleset`. However, `prod/v23` refers to a new `Ruleset`. The `Ruleset` reference for a `Release` may be updated using the UpdateRelease method."
            }
          }
        }
      }
    }
  },
  "title": "Firebase Rules API",
  "revision": "20210508",
  "rootUrl": "https://firebaserules.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "version_module": true,
  "documentationLink": "https://firebase.google.com/docs/storage/security",
  "protocol": "rest",
  "batchPath": "batch",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  }
}
