{
  "version_module": true,
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "servicePath": "",
  "baseUrl": "https://gameservices.googleapis.com/",
  "schemas": {
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "operationStatus": {
          "additionalProperties": {
            "$ref": "OperationStatus"
          },
          "description": "Output only. Operation status for Game Services API operations. Operation status is in the form of key-value pairs where keys are resource IDs and the values show the status of the operation. In case of failures, the value includes an error code and error message.",
          "readOnly": true,
          "type": "object"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of Locations that could not be reached.",
          "readOnly": true,
          "type": "array"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        }
      }
    },
    "PreviewDeleteGameServerClusterResponse": {
      "type": "object",
      "id": "PreviewDeleteGameServerClusterResponse",
      "properties": {
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        },
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        }
      },
      "description": "Response message for GameServerClustersService.PreviewDeleteGameServerCluster."
    },
    "ListRealmsResponse": {
      "properties": {
        "realms": {
          "type": "array",
          "description": "The list of realms.",
          "items": {
            "$ref": "Realm"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListRealmsResponse",
      "description": "Response message for RealmsService.ListRealms.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "ignoreChildExemptions": {
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "SpecSource": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Agones leet config or Agones scaling config used to derive the Agones fleet or Agones autoscaler spec.",
          "type": "string"
        },
        "gameServerConfigName": {
          "type": "string",
          "description": "The game server config resource. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment_id}/configs/{config_id}`."
        }
      },
      "description": "Encapsulates Agones fleet spec and Agones autoscaler spec sources.",
      "id": "SpecSource"
    },
    "FetchDeploymentStateResponse": {
      "type": "object",
      "description": "Response message for GameServerDeploymentsService.FetchDeploymentState.",
      "properties": {
        "clusterState": {
          "type": "array",
          "description": "The state of the game server deployment in each game server cluster.",
          "items": {
            "$ref": "DeployedClusterState"
          }
        },
        "unavailable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of locations that could not be reached."
        }
      },
      "id": "FetchDeploymentStateResponse"
    },
    "GameServerDeploymentRollout": {
      "id": "GameServerDeploymentRollout",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The creation time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "gameServerConfigOverrides": {
          "items": {
            "$ref": "GameServerConfigOverride"
          },
          "type": "array",
          "description": "Contains the game server config rollout overrides. Overrides are processed in the order they are listed. Once a match is found for a realm, the rest of the list is not processed."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "defaultGameServerConfig": {
          "type": "string",
          "description": "The default game server config is applied to all realms unless overridden in the rollout. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`."
        }
      },
      "description": "The game server deployment rollout which represents the desired rollout state."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object"
    },
    "CounterOptions": {
      "properties": {
        "customFields": {
          "type": "array",
          "items": {
            "$ref": "CustomField"
          },
          "description": "Custom fields."
        },
        "field": {
          "description": "The field value to attribute.",
          "type": "string"
        },
        "metric": {
          "description": "The metric to update.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Increment a streamz counter with the specified metric and field names. Metric names should start with a '/', generally be lowercase-only, and end in \"_count\". Field names should not contain an initial slash. The actual exported metric names will have \"/iam/policy\" prepended. Field names correspond to IAM request parameters and field values are their respective values. Supported field names: - \"authority\", which is \"[token]\" if IAMContext.token is present, otherwise the value of IAMContext.authority_selector if present, and otherwise a representation of IAMContext.principal; or - \"iam_principal\", a representation of IAMContext.principal even if a token or authority selector is present; or - \"\" (empty string), resulting in a counter with no fields. Examples: counter { metric: \"/debug_access_count\" field: \"iam_principal\" } ==\u003e increment counter /iam/policy/debug_access_count {iam_principal=[value of IAMContext.principal]}",
      "id": "CounterOptions"
    },
    "PreviewUpdateGameServerClusterResponse": {
      "id": "PreviewUpdateGameServerClusterResponse",
      "properties": {
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        },
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for GameServerClustersService.PreviewUpdateGameServerCluster"
    },
    "TargetState": {
      "description": "Encapsulates the Target state.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Details about Agones fleets.",
          "items": {
            "$ref": "TargetDetails"
          },
          "type": "array"
        }
      },
      "id": "TargetState"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "TargetDetails": {
      "id": "TargetDetails",
      "properties": {
        "gameServerClusterName": {
          "description": "The game server cluster name. Uses the form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`.",
          "type": "string"
        },
        "fleetDetails": {
          "type": "array",
          "description": "Agones fleet details for game server clusters and game server deployments.",
          "items": {
            "$ref": "TargetFleetDetails"
          }
        },
        "gameServerDeploymentName": {
          "description": "The game server deployment name. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about the Agones resources."
    },
    "GameServerConfigOverride": {
      "properties": {
        "configVersion": {
          "description": "The game server config for this override.",
          "type": "string"
        },
        "realmsSelector": {
          "$ref": "RealmSelector",
          "description": "Selector for choosing applicable realms."
        }
      },
      "description": "A game server config override.",
      "type": "object",
      "id": "GameServerConfigOverride"
    },
    "CustomField": {
      "id": "CustomField",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name is the field name.",
          "type": "string"
        },
        "value": {
          "description": "Value is the field value. It is important that in contrast to the CounterOptions.field, the value here is a constant that is not derived from the IAMContext.",
          "type": "string"
        }
      },
      "description": "Custom fields. These can be used to create a counter with arbitrary field/value pairs. See: go/rpcsp-custom-fields."
    },
    "Schedule": {
      "type": "object",
      "description": "The schedule of a recurring or one time event. The event's time span is specified by start_time and end_time. If the scheduled event's timespan is larger than the cron_spec + cron_job_duration, the event will be recurring. If only cron_spec + cron_job_duration are specified, the event is effective starting at the local time specified by cron_spec, and is recurring. ``` start_time|-------[cron job]-------[cron job]-------[cron job]---|end_time cron job: cron spec start time + duration ```",
      "id": "Schedule",
      "properties": {
        "cronJobDuration": {
          "type": "string",
          "description": "The duration for the cron job event. The duration of the event is effective after the cron job's start time.",
          "format": "google-duration"
        },
        "cronSpec": {
          "type": "string",
          "description": "The cron definition of the scheduled event. See https://en.wikipedia.org/wiki/Cron. Cron spec specifies the local time as defined by the realm."
        },
        "startTime": {
          "type": "string",
          "description": "The start time of the event.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "The end time of the event.",
          "format": "google-datetime"
        }
      }
    },
    "Realm": {
      "description": "A realm resource.",
      "id": "Realm",
      "properties": {
        "description": {
          "type": "string",
          "description": "Human readable description of the realm."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation time.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last-modified time."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{location}/realms/{realm}`. For example, `projects/my-project/locations/{location}/realms/my-realm`."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this realm. Each label is a key-value pair."
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Time zone where all policies targeting this realm are evaluated. The value of this field must be from the IANA time zone database: https://www.iana.org/time-zones."
        }
      },
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "type": "array",
          "description": "If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "type": "object"
    },
    "Condition": {
      "description": "A condition to be met.",
      "properties": {
        "svc": {
          "description": "Trusted attributes discharged by the service.",
          "type": "string"
        },
        "sys": {
          "type": "string",
          "enumDescriptions": [
            "Default non-attribute type",
            "Region of the resource",
            "Service name",
            "Resource name",
            "IP address of the caller"
          ],
          "description": "Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.",
          "enum": [
            "NO_ATTR",
            "REGION",
            "SERVICE",
            "NAME",
            "IP"
          ]
        },
        "op": {
          "type": "string",
          "description": "An operator to apply the subject with.",
          "enum": [
            "NO_OP",
            "EQUALS",
            "NOT_EQUALS",
            "IN",
            "NOT_IN",
            "DISCHARGED"
          ],
          "enumDescriptions": [
            "Default no-op.",
            "DEPRECATED. Use IN instead.",
            "DEPRECATED. Use NOT_IN instead.",
            "The condition is true if the subject (or any element of it if it is a set) matches any of the supplied values.",
            "The condition is true if the subject (or every element of it if it is a set) matches none of the supplied values.",
            "Subject is discharged"
          ]
        },
        "values": {
          "description": "The objects of the condition.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "iam": {
          "description": "Trusted attributes supplied by the IAM system.",
          "type": "string",
          "enum": [
            "NO_ATTR",
            "AUTHORITY",
            "ATTRIBUTION",
            "SECURITY_REALM",
            "APPROVER",
            "JUSTIFICATION_TYPE",
            "CREDENTIALS_TYPE",
            "CREDS_ASSERTION"
          ],
          "enumDescriptions": [
            "Default non-attribute.",
            "Either principal or (if present) authority selector.",
            "The principal (even if an authority selector is present), which must only be used for attribution, not authorization.",
            "Any of the security realms in the IAMContext (go/security-realms). When used with IN, the condition indicates \"any of the request's realms match one of the given values; with NOT_IN, \"none of the realms match any of the given values\". Note that a value can be: - 'self' (i.e., allow connections from clients that are in the same security realm, which is currently but not guaranteed to be campus-sized) - 'self:metro' (i.e., clients that are in the same metro) - 'self:cloud-region' (i.e., allow connections from clients that are in the same cloud region) - 'self:prod-region' (i.e., allow connections from clients that are in the same prod region) - 'guardians' (i.e., allow connections from its guardian realms. See go/security-realms-glossary#guardian for more information.) - a realm (e.g., 'campus-abc') - a realm group (e.g., 'realms-for-borg-cell-xx', see: go/realm-groups) A match is determined by a realm group membership check performed by a RealmAclRep object (go/realm-acl-howto). It is not permitted to grant access based on the *absence* of a realm, so realm conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).",
            "An approver (distinct from the requester) that has authorized this request. When used with IN, the condition indicates that one of the approvers associated with the request matches the specified principal, or is a member of the specified group. Approvers can only grant additional access, and are thus only used in a strictly positive context (e.g. ALLOW/IN or DENY/NOT_IN).",
            "What types of justifications have been supplied with this request. String values should match enum names from security.credentials.JustificationType, e.g. \"MANUAL_STRING\". It is not permitted to grant access based on the *absence* of a justification, so justification conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN). Multiple justifications, e.g., a Buganizer ID and a manually-entered reason, are normal and supported.",
            "What type of credentials have been supplied with this request. String values should match enum names from security_loas_l2.CredentialsType - currently, only CREDS_TYPE_EMERGENCY is supported. It is not permitted to grant access based on the *absence* of a credentials type, so the conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).",
            "EXPERIMENTAL -- DO NOT USE. The conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN)."
          ]
        }
      },
      "id": "Condition",
      "type": "object"
    },
    "GameServerConfig": {
      "id": "GameServerConfig",
      "description": "A game server config resource.",
      "type": "object",
      "properties": {
        "scalingConfigs": {
          "type": "array",
          "description": "The autoscaling settings.",
          "items": {
            "$ref": "ScalingConfig"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation time."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the game server config, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/configs/{config}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`.",
          "type": "string"
        },
        "fleetConfigs": {
          "description": "FleetConfig contains a list of Agones fleet specs. Only one FleetConfig is allowed.",
          "type": "array",
          "items": {
            "$ref": "FleetConfig"
          }
        },
        "description": {
          "type": "string",
          "description": "The description of the game server config."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this game server config. Each label is a key-value pair.",
          "type": "object"
        }
      }
    },
    "ListGameServerDeploymentsResponse": {
      "id": "ListGameServerDeploymentsResponse",
      "properties": {
        "unreachable": {
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "gameServerDeployments": {
          "description": "The list of game server deployments.",
          "items": {
            "$ref": "GameServerDeployment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for GameServerDeploymentsService.ListGameServerDeployments."
    },
    "PreviewRealmUpdateResponse": {
      "properties": {
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        },
        "etag": {
          "description": "ETag of the realm.",
          "type": "string"
        }
      },
      "id": "PreviewRealmUpdateResponse",
      "type": "object",
      "description": "Response message for RealmsService.PreviewRealmUpdate."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CloudAuditOptions": {
      "type": "object",
      "description": "Write a Cloud Audit log",
      "properties": {
        "authorizationLoggingOptions": {
          "description": "Information used by the Cloud Audit Logging pipeline.",
          "$ref": "AuthorizationLoggingOptions"
        },
        "logName": {
          "description": "The log_name to populate in the Cloud Audit Record.",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Corresponds to \"cloudaudit.googleapis.com/activity\"",
            "Corresponds to \"cloudaudit.googleapis.com/data_access\""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_LOG_NAME",
            "ADMIN_ACTIVITY",
            "DATA_ACCESS"
          ]
        }
      },
      "id": "CloudAuditOptions"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "Binding": {
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "bindingId": {
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object"
    },
    "KubernetesClusterState": {
      "id": "KubernetesClusterState",
      "description": "The state of the Kubernetes cluster.",
      "type": "object",
      "properties": {
        "agonesVersionInstalled": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of Agones currently installed in the registered Kubernetes cluster."
        },
        "kubernetesVersionInstalled": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of Kubernetes that is currently used in the registered Kubernetes cluster (as detected by the Cloud Game Servers service)."
        },
        "provider": {
          "description": "Output only. The cloud provider type reported by the first node's providerID in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-GCP), the provider type will be empty.",
          "type": "string",
          "readOnly": true
        },
        "versionInstalledErrorMessage": {
          "type": "string",
          "description": "Output only. The detailed error message for the installed versions of Agones/Kubernetes.",
          "readOnly": true
        },
        "installationState": {
          "description": "Output only. The state for the installed versions of Agones/Kubernetes.",
          "enum": [
            "INSTALLATION_STATE_UNSPECIFIED",
            "AGONES_KUBERNETES_VERSION_SUPPORTED",
            "AGONES_VERSION_UNSUPPORTED",
            "AGONES_KUBERNETES_VERSION_UNSUPPORTED",
            "AGONES_VERSION_UNRECOGNIZED",
            "KUBERNETES_VERSION_UNRECOGNIZED",
            "VERSION_VERIFICATION_FAILED",
            "AGONES_NOT_INSTALLED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The combination of Agones and Kubernetes versions is supported by Google Cloud Game Servers.",
            "The installed version of Agones is not supported by Google Cloud Game Servers.",
            "The installed version of Agones is supported by Google Cloud Game Servers, but the installed version of Kubernetes is not recommended or supported by the version of Agones.",
            "The installed version of Agones is not recognized because the Agones controller's image name does not have a version string reported as {major}.{minor}(.{patch}).",
            "The server version of Kubernetes cluster is not recognized because the API server didn't return parsable version info on path/version.",
            "Failed to read or verify the version of Agones or Kubernetes. See version_installed_error_message for details.",
            "Agones is not installed."
          ]
        },
        "agonesVersionTargeted": {
          "readOnly": true,
          "description": "Output only. The version of Agones that is targeted to be installed in the cluster.",
          "type": "string"
        }
      }
    },
    "DeployedFleetStatus": {
      "description": "DeployedFleetStatus has details about the Agones fleets such as how many are running, how many allocated, and so on.",
      "properties": {
        "reservedReplicas": {
          "description": "The number of GameServer replicas in the RESERVED state in this fleet. Reserved instances won't be deleted on scale down, but won't cause an autoscaler to scale up.",
          "type": "string",
          "format": "int64"
        },
        "replicas": {
          "format": "int64",
          "description": "The total number of current GameServer replicas in this fleet.",
          "type": "string"
        },
        "allocatedReplicas": {
          "type": "string",
          "description": "The number of GameServer replicas in the ALLOCATED state in this fleet.",
          "format": "int64"
        },
        "readyReplicas": {
          "format": "int64",
          "type": "string",
          "description": "The number of GameServer replicas in the READY state in this fleet."
        }
      },
      "type": "object",
      "id": "DeployedFleetStatus"
    },
    "LabelSelector": {
      "type": "object",
      "description": "The label selector, used to group labels on the resources.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Resource labels for this selector.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "LabelSelector"
    },
    "TargetFleet": {
      "id": "TargetFleet",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Agones fleet.",
          "type": "string"
        },
        "specSource": {
          "description": "Encapsulates the source of the Agones fleet spec. The Agones fleet spec source.",
          "$ref": "SpecSource"
        }
      },
      "description": "Target Agones fleet specification."
    },
    "ListGameServerConfigsResponse": {
      "id": "ListGameServerConfigsResponse",
      "properties": {
        "gameServerConfigs": {
          "items": {
            "$ref": "GameServerConfig"
          },
          "type": "array",
          "description": "The list of game server configs."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for GameServerConfigsService.ListGameServerConfigs."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      }
    },
    "TargetFleetAutoscaler": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Agones autoscaler."
        },
        "specSource": {
          "description": "Encapsulates the source of the Agones fleet spec. Details about the Agones autoscaler spec.",
          "$ref": "SpecSource"
        }
      },
      "description": "Target Agones autoscaler policy reference.",
      "id": "TargetFleetAutoscaler",
      "type": "object"
    },
    "ListGameServerClustersResponse": {
      "type": "object",
      "id": "ListGameServerClustersResponse",
      "description": "Response message for GameServerClustersService.ListGameServerClusters.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached."
        },
        "gameServerClusters": {
          "items": {
            "$ref": "GameServerCluster"
          },
          "description": "The list of game server clusters.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "GkeClusterReference": {
      "properties": {
        "cluster": {
          "description": "The full or partial name of a GKE cluster, using one of the following forms: * `projects/{project}/locations/{location}/clusters/{cluster}` * `locations/{location}/clusters/{cluster}` * `{cluster}` If project and location are not specified, the project and location of the GameServerCluster resource are used to generate the full name of the GKE cluster.",
          "type": "string"
        }
      },
      "description": "A reference to a GKE cluster.",
      "type": "object",
      "id": "GkeClusterReference"
    },
    "FleetConfig": {
      "description": "Fleet configs for Agones.",
      "id": "FleetConfig",
      "type": "object",
      "properties": {
        "fleetSpec": {
          "type": "string",
          "description": "Agones fleet spec. Example spec: `https://agones.dev/site/docs/reference/fleet/`."
        },
        "name": {
          "description": "The name of the FleetConfig.",
          "type": "string"
        }
      }
    },
    "DeployedFleetDetails": {
      "description": "Details of the deployed Agones fleet.",
      "id": "DeployedFleetDetails",
      "properties": {
        "deployedFleet": {
          "description": "Information about the Agones fleet.",
          "$ref": "DeployedFleet"
        },
        "deployedAutoscaler": {
          "description": "Information about the Agones autoscaler for that fleet.",
          "$ref": "DeployedFleetAutoscaler"
        }
      },
      "type": "object"
    },
    "OperationStatus": {
      "id": "OperationStatus",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "The human-readable error message.",
          "type": "string"
        },
        "errorCode": {
          "description": "The error code in case of failures.",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INTERNAL_ERROR",
            "PERMISSION_DENIED",
            "CLUSTER_CONNECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "done": {
          "description": "Output only. Whether the operation is done or still in progress.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "AuthorizationLoggingOptions": {
      "properties": {
        "permissionType": {
          "type": "string",
          "enum": [
            "PERMISSION_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "ADMIN_WRITE",
            "DATA_READ",
            "DATA_WRITE"
          ],
          "description": "The type of the permission that was checked.",
          "enumDescriptions": [
            "Default. Should not be used.",
            "A read of admin (meta) data.",
            "A write of admin (meta) data.",
            "A read of standard data.",
            "A write of standard data."
          ]
        }
      },
      "description": "Authorization-related information used by Cloud Audit Logging.",
      "type": "object",
      "id": "AuthorizationLoggingOptions"
    },
    "FetchDeploymentStateRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for GameServerDeploymentsService.FetchDeploymentState.",
      "id": "FetchDeploymentStateRequest"
    },
    "LogConfig": {
      "description": "Specifies what kind of log the caller must write",
      "id": "LogConfig",
      "properties": {
        "counter": {
          "$ref": "CounterOptions",
          "description": "Counter options."
        },
        "cloudAudit": {
          "description": "Cloud audit options.",
          "$ref": "CloudAuditOptions"
        },
        "dataAccess": {
          "description": "Data access options.",
          "$ref": "DataAccessOptions"
        }
      },
      "type": "object"
    },
    "ScalingConfig": {
      "description": "Autoscaling config for an Agones fleet.",
      "id": "ScalingConfig",
      "type": "object",
      "properties": {
        "selectors": {
          "items": {
            "$ref": "LabelSelector"
          },
          "description": "Labels used to identify the game server clusters to which this Agones scaling config applies. A game server cluster is subject to this Agones scaling config if its labels match any of the selector entries.",
          "type": "array"
        },
        "name": {
          "description": "Required. The name of the Scaling Config",
          "type": "string"
        },
        "fleetAutoscalerSpec": {
          "type": "string",
          "description": "Required. Agones fleet autoscaler spec. Example spec: https://agones.dev/site/docs/reference/fleetautoscaler/"
        },
        "schedules": {
          "description": "The schedules to which this Scaling Config applies.",
          "type": "array",
          "items": {
            "$ref": "Schedule"
          }
        }
      }
    },
    "PreviewGameServerDeploymentRolloutResponse": {
      "id": "PreviewGameServerDeploymentRolloutResponse",
      "description": "Response message for PreviewGameServerDeploymentRollout. This has details about the Agones fleet and autoscaler to be actuated.",
      "properties": {
        "unavailable": {
          "description": "Locations that could not be reached on this request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "ETag of the game server deployment.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      },
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "DeployedFleetAutoscaler": {
      "description": "Details about the Agones autoscaler.",
      "type": "object",
      "id": "DeployedFleetAutoscaler",
      "properties": {
        "specSource": {
          "$ref": "SpecSource",
          "description": "The source spec that is used to create the autoscaler. The GameServerConfig resource may no longer exist in the system."
        },
        "fleetAutoscalerSpec": {
          "type": "string",
          "description": "The autoscaler spec retrieved from Agones."
        },
        "autoscaler": {
          "description": "The name of the Agones autoscaler.",
          "type": "string"
        }
      }
    },
    "DeployedFleet": {
      "type": "object",
      "description": "Agones fleet specification and details.",
      "id": "DeployedFleet",
      "properties": {
        "fleet": {
          "description": "The name of the Agones fleet.",
          "type": "string"
        },
        "status": {
          "$ref": "DeployedFleetStatus",
          "description": "The current status of the Agones fleet. Includes count of game servers in various states."
        },
        "fleetSpec": {
          "type": "string",
          "description": "The fleet spec retrieved from the Agones fleet."
        },
        "specSource": {
          "$ref": "SpecSource",
          "description": "The source spec that is used to create the Agones fleet. The GameServerConfig resource may no longer exist in the system."
        }
      }
    },
    "DataAccessOptions": {
      "type": "object",
      "id": "DataAccessOptions",
      "description": "Write a Data Access (Gin) log",
      "properties": {
        "logMode": {
          "enum": [
            "LOG_MODE_UNSPECIFIED",
            "LOG_FAIL_CLOSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Client is not required to write a partial Gin log immediately after the authorization check. If client chooses to write one and it fails, client may either fail open (allow the operation to continue) or fail closed (handle as a DENY outcome).",
            "The application's operation in the context of which this authorization check is being made may only be performed if it is successfully logged to Gin. For instance, the authorization library may satisfy this obligation by emitting a partial log entry at authorization check time and only returning ALLOW to the application if it succeeds. If a matching Rule has this directive, but the client has not indicated that it will honor such requirements, then the IAM check will result in authorization failure by setting CheckPolicyResponse.success=false."
          ]
        }
      }
    },
    "TargetFleetDetails": {
      "id": "TargetFleetDetails",
      "description": "Details of the target Agones fleet.",
      "properties": {
        "autoscaler": {
          "description": "Reference to target Agones fleet autoscaling policy.",
          "$ref": "TargetFleetAutoscaler"
        },
        "fleet": {
          "description": "Reference to target Agones fleet.",
          "$ref": "TargetFleet"
        }
      },
      "type": "object"
    },
    "GameServerDeployment": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last-modified time.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the game server delpoyment."
        },
        "labels": {
          "description": "The labels associated with this game server deployment. Each label is a key-value pair.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of the game server deployment, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment`."
        }
      },
      "id": "GameServerDeployment",
      "type": "object",
      "description": "A game server deployment resource."
    },
    "DeployedClusterState": {
      "type": "object",
      "id": "DeployedClusterState",
      "properties": {
        "fleetDetails": {
          "type": "array",
          "description": "The details about the Agones fleets and autoscalers created in the game server cluster.",
          "items": {
            "$ref": "DeployedFleetDetails"
          }
        },
        "cluster": {
          "description": "The name of the cluster.",
          "type": "string"
        }
      },
      "description": "The game server cluster changes made by the game server deployment."
    },
    "Rule": {
      "type": "object",
      "description": "A rule to be applied in a Policy.",
      "properties": {
        "logConfig": {
          "type": "array",
          "description": "The config returned to callers of CheckPolicy for any entries that match the LOG action.",
          "items": {
            "$ref": "LogConfig"
          }
        },
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*' matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs."
        },
        "action": {
          "enumDescriptions": [
            "Default no action.",
            "Matching 'Entries' grant access.",
            "Matching 'Entries' grant access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' deny access.",
            "Matching 'Entries' deny access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' tell IAM.Check callers to generate logs."
          ],
          "description": "Required",
          "type": "string",
          "enum": [
            "NO_ACTION",
            "ALLOW",
            "ALLOW_WITH_LOG",
            "DENY",
            "DENY_WITH_LOG",
            "LOG"
          ]
        },
        "description": {
          "description": "Human-readable description of the rule.",
          "type": "string"
        },
        "notIn": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If one or more 'not_in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries. The format for in and not_in entries can be found at in the Local IAM documentation (see go/local-iam#features)."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Additional restrictions that must be met. All conditions must pass for the rule to match."
        },
        "in": {
          "description": "If one or more 'in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Rule"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "PreviewCreateGameServerClusterResponse": {
      "description": "Response message for GameServerClustersService.PreviewCreateGameServerCluster.",
      "type": "object",
      "properties": {
        "clusterState": {
          "readOnly": true,
          "description": "Output only. The state of the Kubernetes cluster in preview, this will be available if 'view' is set to `FULL` in the relevant List/Get/Preview request.",
          "$ref": "KubernetesClusterState"
        },
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        },
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        }
      },
      "id": "PreviewCreateGameServerClusterResponse"
    },
    "GameServerCluster": {
      "description": "A game server cluster resource.",
      "id": "GameServerCluster",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation time.",
          "type": "string"
        },
        "clusterState": {
          "$ref": "KubernetesClusterState",
          "readOnly": true,
          "description": "Output only. The state of the Kubernetes cluster, this will be available if 'view' is set to `FULL` in the relevant List/Get/Preview request."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "updateTime": {
          "description": "Output only. The last-modified time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`.",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this game server cluster. Each label is a key-value pair.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "description": "Human readable description of the cluster.",
          "type": "string"
        },
        "connectionInfo": {
          "description": "The game server cluster connection information. This information is used to manage game server clusters.",
          "$ref": "GameServerClusterConnectionInfo"
        }
      },
      "type": "object"
    },
    "GameServerClusterConnectionInfo": {
      "type": "object",
      "id": "GameServerClusterConnectionInfo",
      "properties": {
        "gkeClusterReference": {
          "description": "Reference to the GKE cluster where the game servers are installed.",
          "$ref": "GkeClusterReference"
        },
        "namespace": {
          "description": "Namespace designated on the game server cluster where the Agones game server instances will be created. Existence of the namespace will be validated during creation.",
          "type": "string"
        }
      },
      "description": "The game server cluster connection information."
    },
    "RealmSelector": {
      "id": "RealmSelector",
      "description": "The realm selector, used to match realm resources.",
      "properties": {
        "realms": {
          "type": "array",
          "description": "List of realms to match.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    }
  },
  "id": "gameservices:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "batchPath": "batch",
  "canonicalName": "Game Services",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://gameservices.mtls.googleapis.com/",
  "rootUrl": "https://gameservices.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/solutions/gaming/",
  "version": "v1",
  "name": "gameservices",
  "title": "Game Services API",
  "protocol": "rest",
  "ownerName": "Google",
  "description": "Deploy and manage infrastructure for global multiplayer gaming experiences.",
  "revision": "20220126",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "id": "gameservices.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.operations.delete"
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "realms": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms",
                  "response": {
                    "$ref": "ListRealmsResponse"
                  },
                  "description": "Lists realms in a given project and location.",
                  "path": "v1/{+parent}/realms",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, server will pick an appropriate default. Server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more realms left to be queried."
                    },
                    "filter": {
                      "description": "Optional. The filter to apply to list results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}`.",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "id": "gameservices.projects.locations.realms.list"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Realm"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the realm to retrieve, in the following form: `projects/{project}/locations/{location}/realms/{realm}`."
                    }
                  },
                  "description": "Gets details of a single realm.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "id": "gameservices.projects.locations.realms.get"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the realm to delete, in the following form: `projects/{project}/locations/{location}/realms/{realm}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "gameservices.projects.locations.realms.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a single realm.",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "path": "v1/{+parent}/realms",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms",
                  "id": "gameservices.projects.locations.realms.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Realm"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "realmId": {
                      "type": "string",
                      "description": "Required. The ID of the realm resource to be created.",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new realm in a given project and location.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "previewUpdate": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{location}/realms/{realm}`. For example, `projects/my-project/locations/{location}/realms/my-realm`.",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string"
                    },
                    "previewTime": {
                      "format": "google-datetime",
                      "description": "Optional. The target timestamp to compute the preview.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}:previewUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}:previewUpdate",
                  "request": {
                    "$ref": "Realm"
                  },
                  "id": "gameservices.projects.locations.realms.previewUpdate",
                  "response": {
                    "$ref": "PreviewRealmUpdateResponse"
                  },
                  "description": "Previews patches to a single realm.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Realm"
                  },
                  "description": "Patches a single realm.",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{location}/realms/{realm}`. For example, `projects/my-project/locations/{location}/realms/my-realm`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.realms.patch",
                  "httpMethod": "PATCH"
                }
              },
              "resources": {
                "gameServerClusters": {
                  "methods": {
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Patches a single game server cluster.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.patch",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "request": {
                        "$ref": "GameServerCluster"
                      }
                    },
                    "get": {
                      "id": "gameservices.projects.locations.realms.gameServerClusters.get",
                      "response": {
                        "$ref": "GameServerCluster"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the BASIC view.",
                            "Include basic information of a GameServerCluster resource and omit `cluster_state`. This is the default value (for ListGameServerClusters, GetGameServerCluster and PreviewCreateGameServerCluster).",
                            "Include everything."
                          ],
                          "enum": [
                            "GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "location": "query",
                          "description": "Optional. View for the returned GameServerCluster objects. When `FULL` is specified, the `cluster_state` field is also returned in the GameServerCluster object, which includes the state of the referenced Kubernetes cluster such as versions and provider info. The default/unset value is GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED, same as BASIC, which does not return the `cluster_state` field."
                        },
                        "name": {
                          "description": "Required. The name of the game server cluster to retrieve, in the following form: `projects/{project}/locations/{location}/realms/{realm-id}/gameServerClusters/{cluster}`.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "description": "Gets details of a single game server cluster.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "gameServerClusterId": {
                          "description": "Required. The ID of the game server cluster resource to be created.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}/realms/{realm-id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                      "description": "Creates a new game server cluster in a given project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/gameServerClusters",
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "id": "gameservices.projects.locations.realms.gameServerClusters.create"
                    },
                    "previewCreate": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/gameServerClusters:previewCreate",
                      "response": {
                        "$ref": "PreviewCreateGameServerClusterResponse"
                      },
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewCreate",
                      "parameters": {
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the BASIC view.",
                            "Include basic information of a GameServerCluster resource and omit `cluster_state`. This is the default value (for ListGameServerClusters, GetGameServerCluster and PreviewCreateGameServerCluster).",
                            "Include everything."
                          ],
                          "location": "query",
                          "description": "Optional. This field is deprecated, preview will always return KubernetesClusterState.",
                          "type": "string",
                          "enum": [
                            "GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}/realms/{realm}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "gameServerClusterId": {
                          "description": "Required. The ID of the game server cluster resource to be created.",
                          "type": "string",
                          "location": "query"
                        },
                        "previewTime": {
                          "description": "Optional. The target timestamp to compute the preview.",
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Previews creation of a new game server cluster in a given project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters:previewCreate",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
[...]
