{
  "ownerDomain": "google.com",
  "version_module": true,
  "protocol": "rest",
  "title": "Game Services API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "revision": "20210929",
  "baseUrl": "https://gameservices.googleapis.com/",
  "canonicalName": "Game Services",
  "basePath": "",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/solutions/gaming/",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "realms": {
              "methods": {
                "delete": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the realm to delete, in the following form: `projects/{project}/locations/{location}/realms/{realm}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single realm.",
                  "id": "gameservices.projects.locations.realms.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Realm"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "realmId": {
                      "location": "query",
                      "description": "Required. The ID of the realm resource to be created.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new realm in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+parent}/realms",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "gameservices.projects.locations.realms.create"
                },
                "list": {
                  "description": "Lists realms in a given project and location.",
                  "path": "v1beta/{+parent}/realms",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRealmsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.realms.list",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, server will pick an appropriate default. Server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more realms left to be queried."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filter to apply to list results."
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "previewUpdate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "previewTime": {
                      "type": "string",
                      "description": "Optional. The target timestamp to compute the preview.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "name": {
                      "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{location}/realms/{realm}`. For example, `projects/my-project/locations/{location}/realms/my-realm`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PreviewRealmUpdateResponse"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}:previewUpdate",
                  "id": "gameservices.projects.locations.realms.previewUpdate",
                  "path": "v1beta/{+name}:previewUpdate",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Realm"
                  },
                  "description": "Previews patches to a single realm."
                },
                "get": {
                  "description": "Gets details of a single realm.",
                  "response": {
                    "$ref": "Realm"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "Required. The name of the realm to retrieve, in the following form: `projects/{project}/locations/{location}/realms/{realm}`.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "gameservices.projects.locations.realms.get",
                  "httpMethod": "GET"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "id": "gameservices.projects.locations.realms.patch",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "request": {
                    "$ref": "Realm"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/{+name}",
                  "description": "Patches a single realm.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{location}/realms/{realm}`. For example, `projects/my-project/locations/{location}/realms/my-realm`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  }
                }
              },
              "resources": {
                "gameServerClusters": {
                  "methods": {
                    "previewCreate": {
                      "httpMethod": "POST",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/gameServerClusters:previewCreate",
                      "description": "Previews creation of a new game server cluster in a given project and location.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters:previewCreate",
                      "response": {
                        "$ref": "PreviewCreateGameServerClusterResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}/realms/{realm}`.",
                          "type": "string"
                        },
                        "view": {
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the BASIC view.",
                            "Include basic information of a GameServerCluster resource and omit `cluster_state`. This is the default value (for ListGameServerClusters, GetGameServerCluster and PreviewCreateGameServerCluster).",
                            "Include everything."
                          ],
                          "description": "Optional. This field is deprecated, preview will always return KubernetesClusterState.",
                          "enum": [
                            "GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "previewTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The target timestamp to compute the preview."
                        },
                        "gameServerClusterId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID of the game server cluster resource to be created."
                        }
                      },
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "previewUpdate": {
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewUpdate",
                      "description": "Previews updating a GameServerCluster.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewUpdate",
                      "response": {
                        "$ref": "PreviewUpdateGameServerClusterResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`.",
                          "required": true
                        },
                        "previewTime": {
                          "description": "Optional. The target timestamp to compute the preview.",
                          "type": "string",
                          "location": "query",
                          "format": "google-datetime"
                        },
                        "updateMask": {
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}:previewUpdate",
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "gameservices.projects.locations.realms.gameServerClusters.delete",
                      "description": "Deletes a single game server cluster.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the game server cluster to delete, in the following form: `projects/{project}/locations/{location}/gameServerClusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "description": "Lists game server clusters in a given project and location.",
                      "response": {
                        "$ref": "ListGameServerClustersResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The filter to apply to list results."
                        },
                        "parent": {
                          "description": "Required. The parent resource name, in the following form: \"projects/{project}/locations/{location}/realms/{realm}\".",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                          "location": "query"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the BASIC view.",
                            "Include basic information of a GameServerCluster resource and omit `cluster_state`. This is the default value (for ListGameServerClusters, GetGameServerCluster and PreviewCreateGameServerCluster).",
                            "Include everything."
                          ],
                          "type": "string",
                          "enum": [
                            "GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "description": "Optional. View for the returned GameServerCluster objects. When `FULL` is specified, the `cluster_state` field is also returned in the GameServerCluster object, which includes the state of the referenced Kubernetes cluster such as versions and provider info. The default/unset value is GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED, same as BASIC, which does not return the `cluster_state` field."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return. If unspecified, the server will pick an appropriate default. The server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerClusters left to be queried.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/gameServerClusters"
                    },
                    "create": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new game server cluster in a given project and location.",
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}/realms/{realm-id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "gameServerClusterId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID of the game server cluster resource to be created."
                        }
                      },
                      "path": "v1beta/{+parent}/gameServerClusters",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "previewDelete": {
                      "parameters": {
                        "previewTime": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The target timestamp to compute the preview.",
                          "format": "google-datetime"
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The name of the game server cluster to delete, in the following form: `projects/{project}/locations/{location}/gameServerClusters/{cluster}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "PreviewDeleteGameServerClusterResponse"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewDelete",
                      "path": "v1beta/{+name}:previewDelete",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewDelete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Previews deletion of a single game server cluster."
                    },
                    "get": {
                      "id": "gameservices.projects.locations.realms.gameServerClusters.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GameServerCluster"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "view": {
                          "enum": [
                            "GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the BASIC view.",
                            "Include basic information of a GameServerCluster resource and omit `cluster_state`. This is the default value (for ListGameServerClusters, GetGameServerCluster and PreviewCreateGameServerCluster).",
                            "Include everything."
                          ],
                          "type": "string",
                          "location": "query",
                          "description": "Optional. View for the returned GameServerCluster objects. When `FULL` is specified, the `cluster_state` field is also returned in the GameServerCluster object, which includes the state of the referenced Kubernetes cluster such as versions and provider info. The default/unset value is GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED, same as BASIC, which does not return the `cluster_state` field."
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the game server cluster to retrieve, in the following form: `projects/{project}/locations/{location}/realms/{realm-id}/gameServerClusters/{cluster}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$"
                        }
                      },
                      "path": "v1beta/{+name}",
                      "description": "Gets details of a single game server cluster."
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`.",
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "type": "string"
                        }
                      },
                      "id": "gameservices.projects.locations.realms.gameServerClusters.patch",
                      "path": "v1beta/{+name}",
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "description": "Patches a single game server cluster.",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "gameservices.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "path": "v1beta/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "get": {
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.operations.get"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "id": "gameservices.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "gameservices.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            },
            "gameServerDeployments": {
              "methods": {
                "setIamPolicy": {
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.setIamPolicy",
                  "path": "v1beta/{+resource}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "getRollout": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "description": "Required. The name of the game server delpoyment to retrieve, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.getRollout",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details a single game server deployment rollout.",
                  "path": "v1beta/{+name}/rollout",
                  "httpMethod": "GET"
                },
                "testIamPermissions": {
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1beta/{+resource}:testIamPermissions",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:testIamPermissions",
                  "id": "gameservices.projects.locations.gameServerDeployments.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "getIamPolicy": {
                  "httpMethod": "GET",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "path": "v1beta/{+resource}:getIamPolicy",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:getIamPolicy",
                  "id": "gameservices.projects.locations.gameServerDeployments.getIamPolicy"
                },
                "previewRollout": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "PreviewGameServerDeploymentRolloutResponse"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout:preview",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.gameServerDeployments.previewRollout",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`.",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "previewTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Optional. The target timestamp to compute the preview. Defaults to the immediately after the proposed rollout completes."
                    }
                  },
                  "description": "Previews the game server deployment rollout. This API does not mutate the rollout resource.",
                  "request": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}/rollout:preview"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the game server delpoyment to delete, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}`."
                    }
                  },
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "id": "gameservices.projects.locations.gameServerDeployments.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single game server deployment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateRollout": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path",
                      "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`."
                    }
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.updateRollout",
                  "path": "v1beta/{+name}/rollout",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                  "description": "Patches a single game server deployment rollout. The method will not return an error if the update does not affect any existing realms. For example - if the default_game_server_config is changed but all existing realms use the override, that is valid. Similarly, if a non existing realm is explicitly called out in game_server_config_overrides field, that will also not result in an error.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "id": "gameservices.projects.locations.gameServerDeployments.create",
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}/gameServerDeployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new game server deployment in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "deploymentId": {
                      "location": "query",
                      "description": "Required. The ID of the game server delpoyment resource to be created.",
                      "type": "string"
                    }
                  }
                },
                "fetchDeploymentState": {
                  "response": {
                    "$ref": "FetchDeploymentStateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves information about the current state of the game server deployment. Gathers all the Agones fleets and Agones autoscalers, including fleets running an older version of the game server deployment.",
                  "request": {
                    "$ref": "FetchDeploymentStateRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:fetchDeploymentState",
                  "id": "gameservices.projects.locations.gameServerDeployments.fetchDeploymentState",
                  "path": "v1beta/{+name}:fetchDeploymentState",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the game server delpoyment, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                    }
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the game server delpoyment to retrieve, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single game server deployment.",
                  "response": {
                    "$ref": "GameServerDeployment"
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.get"
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the game server deployment, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "gameservices.projects.locations.gameServerDeployments.patch",
                  "description": "Patches a game server deployment.",
                  "httpMethod": "PATCH"
                },
                "list": {
                  "response": {
                    "$ref": "ListGameServerDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.gameServerDeployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, the server will pick an appropriate default. The server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerDeployments left to be queried.",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. The filter to apply to list results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}`.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/gameServerDeployments",
                  "description": "Lists game server deployments in a given project and location."
                }
              },
              "resources": {
                "configs": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs/{configsId}",
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the game server config to delete, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/configs/{config}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+/configs/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Deletes a single game server config. The deletion will fail if the game server config is referenced in a game server deployment rollout.",
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.delete",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.get",
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs/{configsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GameServerConfig"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+/configs/[^/]+$",
                          "description": "Required. The name of the game server config to retrieve, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/configs/{config}`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Gets details of a single game server config.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "configId": {
                          "description": "Required. The ID of the game server config resource to be created.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new game server config in a given project, location, and game server deployment. Game server configs are immutable, and are not applied until referenced in the game server deployment rollout resource.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/configs",
                      "request": {
                        "$ref": "GameServerConfig"
                      },
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.create"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists game server configs in a given project, location, and game server deployment.",
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.list",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The filter to apply to list results."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Specifies the ordering of results following syntax at https://cloud.google.com/apis/design/design_patterns#sorting_order."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return. If unspecified, server will pick an appropriate default. Server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerConfigs left to be queried.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list request, if any.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment}/configs/*`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListGameServerConfigsResponse"
                      },
                      "path": "v1beta/{+parent}/configs",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "id": "gameservices.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "gameservices.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "includeUnrevealedLocations": {
                  "location": "query",
                  "description": "If true, the returned list will include locations which are not yet revealed.",
                  "type": "boolean"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                }
              },
              "path": "v1beta/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/locations"
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "version": "v1beta",
  "description": "Deploy and manage infrastructure for global multiplayer gaming experiences.",
  "kind": "discovery#restDescription",
  "rootUrl": "https://gameservices.googleapis.com/",
  "id": "gameservices:v1beta",
  "name": "gameservices",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://gameservices.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "CustomField": {
      "properties": {
        "name": {
          "description": "Name is the field name.",
          "type": "string"
        },
        "value": {
          "description": "Value is the field value. It is important that in contrast to the CounterOptions.field, the value here is a constant that is not derived from the IAMContext.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomField",
      "description": "Custom fields. These can be used to create a counter with arbitrary field/value pairs. See: go/rpcsp-custom-fields."
    },
    "GkeClusterReference": {
      "id": "GkeClusterReference",
      "type": "object",
      "description": "A reference to a GKE cluster.",
      "properties": {
        "cluster": {
          "description": "The full or partial name of a GKE cluster, using one of the following forms: * `projects/{project}/locations/{location}/clusters/{cluster}` * `locations/{location}/clusters/{cluster}` * `{cluster}` If project and location are not specified, the project and location of the GameServerCluster resource are used to generate the full name of the GKE cluster.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "id": "Location",
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "iamOwned": {
          "type": "boolean"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "description": "If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied.",
          "type": "array"
        }
      },
      "id": "Policy"
    },
    "TargetDetails": {
      "type": "object",
      "id": "TargetDetails",
      "description": "Details about the Agones resources.",
      "properties": {
        "gameServerDeploymentName": {
          "type": "string",
          "description": "The game server deployment name. Uses the form: `projects/{project}/locations/{location}/gameServerDeployments/{deployment_id}`."
        },
        "fleetDetails": {
          "items": {
            "$ref": "TargetFleetDetails"
          },
          "type": "array",
          "description": "Agones fleet details for game server clusters and game server deployments."
        },
        "gameServerClusterName": {
          "type": "string",
          "description": "The game server cluster name. Uses the form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`."
        }
      }
    },
    "PreviewRealmUpdateResponse": {
      "properties": {
        "etag": {
          "description": "ETag of the realm.",
          "type": "string"
        },
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        }
      },
      "description": "Response message for RealmsService.PreviewRealmUpdate.",
      "type": "object",
      "id": "PreviewRealmUpdateResponse"
    },
    "RealmSelector": {
      "type": "object",
      "description": "The realm selector, used to match realm resources.",
      "id": "RealmSelector",
      "properties": {
        "realms": {
          "description": "List of realms to match.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PreviewUpdateGameServerClusterResponse": {
      "type": "object",
      "id": "PreviewUpdateGameServerClusterResponse",
      "properties": {
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        },
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        }
      },
      "description": "Response message for GameServerClustersService.PreviewUpdateGameServerCluster"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "ignoreChildExemptions": {
          "type": "boolean"
        }
      },
      "id": "AuditLogConfig",
      "type": "object"
    },
    "FetchDeploymentStateRequest": {
      "description": "Request message for GameServerDeploymentsService.FetchDeploymentState.",
      "properties": {},
      "id": "FetchDeploymentStateRequest",
      "type": "object"
    },
    "PreviewDeleteGameServerClusterResponse": {
      "type": "object",
      "properties": {
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        },
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        }
      },
      "id": "PreviewDeleteGameServerClusterResponse",
      "description": "Response message for GameServerClustersService.PreviewDeleteGameServerCluster."
    },
    "FleetConfig": {
      "properties": {
        "fleetSpec": {
          "type": "string",
          "description": "Agones fleet spec. Example spec: `https://agones.dev/site/docs/reference/fleet/`."
        },
        "name": {
          "type": "string",
          "description": "The name of the FleetConfig."
        }
      },
      "description": "Fleet configs for Agones.",
      "type": "object",
      "id": "FleetConfig"
    },
    "KubernetesClusterState": {
      "properties": {
        "versionInstalledErrorMessage": {
          "type": "string",
          "description": "Output only. The detailed error message for the installed versions of Agones/Kubernetes.",
          "readOnly": true
        },
        "agonesVersionTargeted": {
          "description": "Output only. The version of Agones that is targeted to be installed in the cluster.",
          "type": "string",
          "readOnly": true
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The cloud provider type reported by the first node's providerID in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-GCP), the provider type will be empty."
        },
        "installationState": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The combination of Agones and Kubernetes versions is supported by Google Cloud Game Servers.",
            "The installed version of Agones is not supported by Google Cloud Game Servers.",
            "The installed version of Agones is supported by Google Cloud Game Servers, but the installed version of Kubernetes is not recommended or supported by the version of Agones.",
            "The installed version of Agones is not recognized because the Agones controller's image name does not have a version string reported as {major}.{minor}(.{patch}).",
            "The server version of Kubernetes cluster is not recognized because the API server didn't return parsable version info on path/version.",
            "Failed to read or verify the version of Agones or Kubernetes. See version_installed_error_message for details.",
            "Agones is not installed."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state for the installed versions of Agones/Kubernetes.",
          "enum": [
            "INSTALLATION_STATE_UNSPECIFIED",
            "AGONES_KUBERNETES_VERSION_SUPPORTED",
            "AGONES_VERSION_UNSUPPORTED",
            "AGONES_KUBERNETES_VERSION_UNSUPPORTED",
            "AGONES_VERSION_UNRECOGNIZED",
            "KUBERNETES_VERSION_UNRECOGNIZED",
            "VERSION_VERIFICATION_FAILED",
            "AGONES_NOT_INSTALLED"
          ]
        },
        "agonesVersionInstalled": {
          "type": "string",
          "description": "Output only. The version of Agones currently installed in the registered Kubernetes cluster.",
          "readOnly": true
        },
        "kubernetesVersionInstalled": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The version of Kubernetes that is currently used in the registered Kubernetes cluster (as detected by the Cloud Game Servers service)."
        }
      },
      "type": "object",
      "id": "KubernetesClusterState",
      "description": "The state of the Kubernetes cluster."
    },
    "TargetFleetDetails": {
      "id": "TargetFleetDetails",
      "type": "object",
      "description": "Details of the target Agones fleet.",
      "properties": {
        "fleet": {
          "$ref": "TargetFleet",
          "description": "Reference to target Agones fleet."
        },
        "autoscaler": {
          "description": "Reference to target Agones fleet autoscaling policy.",
          "$ref": "TargetFleetAutoscaler"
        }
      }
    },
    "DataAccessOptions": {
      "properties": {
        "logMode": {
          "enum": [
            "LOG_MODE_UNSPECIFIED",
            "LOG_FAIL_CLOSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Client is not required to write a partial Gin log immediately after the authorization check. If client chooses to write one and it fails, client may either fail open (allow the operation to continue) or fail closed (handle as a DENY outcome).",
            "The application's operation in the context of which this authorization check is being made may only be performed if it is successfully logged to Gin. For instance, the authorization library may satisfy this obligation by emitting a partial log entry at authorization check time and only returning ALLOW to the application if it succeeds. If a matching Rule has this directive, but the client has not indicated that it will honor such requirements, then the IAM check will result in authorization failure by setting CheckPolicyResponse.success=false."
          ]
        }
      },
      "id": "DataAccessOptions",
      "type": "object",
      "description": "Write a Data Access (Gin) log"
    },
    "CloudAuditOptions": {
      "id": "CloudAuditOptions",
      "properties": {
        "logName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_LOG_NAME",
            "ADMIN_ACTIVITY",
            "DATA_ACCESS"
          ],
          "enumDescriptions": [
            "Default. Should not be used.",
            "Corresponds to \"cloudaudit.googleapis.com/activity\"",
            "Corresponds to \"cloudaudit.googleapis.com/data_access\""
          ],
          "description": "The log_name to populate in the Cloud Audit Record."
        },
        "authorizationLoggingOptions": {
          "$ref": "AuthorizationLoggingOptions",
          "description": "Information used by the Cloud Audit Logging pipeline."
        }
      },
      "description": "Write a Cloud Audit log",
      "type": "object"
    },
    "DeployedClusterState": {
      "type": "object",
      "id": "DeployedClusterState",
      "description": "The game server cluster changes made by the game server deployment.",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "The name of the cluster."
        },
        "fleetDetails": {
          "items": {
            "$ref": "DeployedFleetDetails"
          },
          "description": "The details about the Agones fleets and autoscalers created in the game server cluster.",
          "type": "array"
        }
      }
    },
    "ListRealmsResponse": {
      "id": "ListRealmsResponse",
      "description": "Response message for RealmsService.ListRealms.",
      "properties": {
        "unreachable": {
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "realms": {
          "items": {
            "$ref": "Realm"
          },
          "description": "The list of realms.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object"
    },
    "GameServerCluster": {
      "description": "A game server cluster resource.",
      "id": "GameServerCluster",
      "properties": {
        "description": {
          "type": "string",
          "description": "Human readable description of the cluster."
        },
        "clusterState": {
          "readOnly": true,
          "$ref": "KubernetesClusterState",
          "description": "Output only. The state of the Kubernetes cluster, this will be available if 'view' is set to `FULL` in the relevant List/Get/Preview request."
        },
        "name": {
          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{location}/realms/{realm}/gameServerClusters/{cluster}`. For example, `projects/my-project/locations/{location}/realms/zanzibar/gameServerClusters/my-onprem-cluster`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this game server cluster. Each label is a key-value pair.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "connectionInfo": {
          "description": "The game server cluster connection information. This information is used to manage game server clusters.",
          "$ref": "GameServerClusterConnectionInfo"
        },
        "allocationPriority": {
          "description": "Optional. The allocation priority assigned to the game server cluster. Game server clusters receive new game server allocations based on the relative allocation priorites set for each cluster, if the realm is configured for multicluster allocation.",
          "enumDescriptions": [
            "The default allocation priority. `PRIORITY_UNSPECIFIED` is the lowest possible priority.",
            "Priority 1, the highest priority.",
            "Priority 2.",
            "Priority 3.",
            "Priority 4."
          ],
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "P1",
            "P2",
            "P3",
            "P4"
          ],
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last-modified time.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation time."
        }
      },
      "type": "object"
    },
    "Rule": {
      "description": "A rule to be applied in a Policy.",
      "id": "Rule",
      "properties": {
        "action": {
          "description": "Required",
          "type": "string",
          "enumDescriptions": [
            "Default no action.",
            "Matching 'Entries' grant access.",
            "Matching 'Entries' grant access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' deny access.",
            "Matching 'Entries' deny access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' tell IAM.Check callers to generate logs."
          ],
          "enum": [
            "NO_ACTION",
            "ALLOW",
            "ALLOW_WITH_LOG",
            "DENY",
            "DENY_WITH_LOG",
            "LOG"
          ]
        },
        "description": {
          "description": "Human-readable description of the rule.",
          "type": "string"
        },
        "logConfig": {
          "items": {
            "$ref": "LogConfig"
          },
          "description": "The config returned to callers of CheckPolicy for any entries that match the LOG action.",
          "type": "array"
        },
        "conditions": {
          "description": "Additional restrictions that must be met. All conditions must pass for the rule to match.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "permissions": {
          "description": "A permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*' matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "in": {
          "type": "array",
          "description": "If one or more 'in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.",
          "items": {
            "type": "string"
          }
        },
        "notIn": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If one or more 'not_in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries. The format for in and not_in entries can be found at in the Local IAM documentation (see go/local-iam#features)."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of Locations that could not be reached."
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
[...]
