{
  "mtlsRootUrl": "https://games.mtls.googleapis.com/",
  "id": "games:v1",
  "name": "games",
  "ownerDomain": "google.com",
  "title": "Google Play Game Services",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "ownerName": "Google",
  "batchPath": "batch",
  "resources": {
    "snapshots": {
      "methods": {
        "list": {
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "parameterOrder": [
            "playerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "id": "games.snapshots.list",
          "httpMethod": "GET",
          "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
          "path": "games/v1/players/{playerId}/snapshots"
        },
        "get": {
          "description": "Retrieves the metadata for a given snapshot ID.",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "snapshotId"
          ],
          "response": {
            "$ref": "Snapshot"
          },
          "flatPath": "games/v1/snapshots/{snapshotId}",
          "path": "games/v1/snapshots/{snapshotId}",
          "id": "games.snapshots.get",
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "snapshotId": {
              "description": "The ID of the snapshot.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "metagame": {
      "methods": {
        "getMetagameConfig": {
          "flatPath": "games/v1/metagameConfig",
          "parameters": {},
          "path": "games/v1/metagameConfig",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "MetagameConfig"
          },
          "id": "games.metagame.getMetagameConfig",
          "description": "Return the metagame configuration data for the calling application."
        },
        "listCategoriesByPlayer": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/categories/{collection}",
          "description": "List play data aggregated per category for the player corresponding to `playerId`.",
          "httpMethod": "GET",
          "response": {
            "$ref": "CategoryListResponse"
          },
          "parameterOrder": [
            "playerId",
            "collection"
          ],
          "id": "games.metagame.listCategoriesByPlayer",
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "collection": {
              "location": "path",
              "description": "The collection of categories for which data will be returned.",
              "enumDescriptions": [
                "Default value. This value is unused.",
                "Retrieve data for all categories. This is the default."
              ],
              "required": true,
              "enum": [
                "COLLECTION_UNSPECIFIED",
                "ALL"
              ],
              "type": "string"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "playerId": {
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            }
          },
          "path": "games/v1/players/{playerId}/categories/{collection}"
        }
      }
    },
    "leaderboards": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified `maxResults`."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "id": "games.leaderboards.list",
          "description": "Lists all the leaderboard metadata for your application.",
          "flatPath": "games/v1/leaderboards",
          "path": "games/v1/leaderboards",
          "parameterOrder": []
        },
        "get": {
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "id": "games.leaderboards.get",
          "response": {
            "$ref": "Leaderboard"
          },
          "path": "games/v1/leaderboards/{leaderboardId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "leaderboardId"
          ],
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the leaderboard.",
              "required": true
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}"
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.applications.get",
          "flatPath": "games/v1/applications/{applicationId}",
          "path": "games/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            },
            "platformType": {
              "enumDescriptions": [
                "Default value, don't use.",
                "Retrieve applications that can be played on Android.",
                "Retrieve applications that can be played on iOS.",
                "Retrieve applications that can be played on desktop web."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "PLATFORM_TYPE_UNSPECIFIED",
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "description": "Restrict application details returned to the specific platform."
            }
          },
          "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified `platformType`, the returned response will not include any instance data."
        },
        "getEndPoint": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/applications/getEndPoint",
          "id": "games.applications.getEndPoint",
          "parameters": {
            "applicationId": {
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "location": "query"
            },
            "endPointType": {
              "enumDescriptions": [
                "Default value. This value is unused.",
                "Request a URL to create a new profile.",
                "Request a URL for the Settings view."
              ],
              "description": "Type of endpoint being requested.",
              "type": "string",
              "enum": [
                "END_POINT_TYPE_UNSPECIFIED",
                "PROFILE_CREATION",
                "PROFILE_SETTINGS"
              ],
              "location": "query"
            }
          },
          "path": "games/v1/applications/getEndPoint",
          "httpMethod": "POST",
          "description": "Returns a URL for the requested end point type.",
          "response": {
            "$ref": "EndPoint"
          }
        },
        "played": {
          "id": "games.applications.played",
          "parameterOrder": [],
          "path": "games/v1/applications/played",
          "description": "Indicate that the currently authenticated user is playing your application.",
          "flatPath": "games/v1/applications/played",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {}
        },
        "verify": {
          "path": "games/v1/applications/{applicationId}/verify",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.",
          "httpMethod": "GET",
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "parameters": {
            "applicationId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console."
            }
          },
          "id": "games.applications.verify",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          }
        }
      }
    },
    "achievementDefinitions": {
      "methods": {
        "list": {
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            }
          },
          "flatPath": "games/v1/achievements",
          "parameterOrder": [],
          "path": "games/v1/achievements",
          "response": {
            "$ref": "AchievementDefinitionsListResponse"
          },
          "id": "games.achievementDefinitions.list",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists all the achievement definitions for your application.",
          "httpMethod": "GET"
        }
      }
    },
    "players": {
      "methods": {
        "get": {
          "flatPath": "games/v1/players/{playerId}",
          "response": {
            "$ref": "Player"
          },
          "parameters": {
            "playerId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set `playerId` to `me`.",
          "path": "games/v1/players/{playerId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ],
          "id": "games.players.get"
        },
        "list": {
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "collection": {
              "description": "Collection of players being retrieved",
              "location": "path",
              "required": true,
              "type": "string",
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "enumDescriptions": [
                "Retrieve a list of players that are also playing this game in reverse chronological order.",
                "Retrieve a list of players in the user's social graph that are visible to this game.",
                "Retrieve a list of players who are friends of the user in alphabetical order."
              ]
            },
            "maxResults": {
              "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          },
          "flatPath": "games/v1/players/me/players/{collection}",
          "httpMethod": "GET",
          "id": "games.players.list",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "path": "games/v1/players/me/players/{collection}",
          "description": "Get the collection of players for the currently authenticated user.",
          "parameterOrder": [
            "collection"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "events": {
      "methods": {
        "record": {
          "path": "games/v1/events",
          "request": {
            "$ref": "EventRecordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
          "httpMethod": "POST",
          "id": "games.events.record",
          "flatPath": "games/v1/events",
          "parameterOrder": [],
          "response": {
            "$ref": "EventUpdateResponse"
          },
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            }
          }
        },
        "listByPlayer": {
          "id": "games.events.listByPlayer",
          "response": {
            "$ref": "PlayerEventListResponse"
          },
          "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/events",
          "flatPath": "games/v1/events",
          "parameterOrder": []
        },
        "listDefinitions": {
          "flatPath": "games/v1/eventDefinitions",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/eventDefinitions",
          "parameterOrder": [],
          "response": {
            "$ref": "EventDefinitionListResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified `maxResults`."
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "games.events.listDefinitions",
          "description": "Returns a list of the event definitions in this application."
        }
      }
    },
    "achievements": {
      "methods": {
        "increment": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "stepsToIncrement": {
              "type": "integer",
              "description": "The number of steps to increment.",
              "required": true,
              "format": "int32",
              "location": "query"
            },
            "requestId": {
              "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "id": "games.achievements.increment",
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
          "httpMethod": "POST",
          "path": "games/v1/achievements/{achievementId}/increment",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "path": "games/v1/players/{playerId}/achievements",
          "id": "games.achievements.list",
          "parameters": {
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "state": {
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "List all achievements. This is the default.",
                "List only hidden achievements.",
                "List only revealed achievements.",
                "List only unlocked achievements."
              ]
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified `maxResults`.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "playerId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ],
          "flatPath": "games/v1/players/{playerId}/achievements",
          "description": "Lists the progress for all your application's achievements for the currently authenticated player."
        },
        "unlock": {
          "description": "Unlocks this achievement for the currently authenticated player.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "id": "games.achievements.unlock",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "httpMethod": "POST",
          "parameters": {
            "achievementId": {
              "required": true,
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "achievementId"
          ]
        },
        "setStepsAtLeast": {
          "httpMethod": "POST",
          "response": {
            "$ref": "AchievementSetStepsAtLeastResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/setStepsAtLeast",
          "parameters": {
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "location": "path",
              "required": true
            },
            "steps": {
              "location": "query",
              "type": "integer",
              "description": "The minimum value to set the steps to.",
              "format": "int32",
              "required": true
            }
          },
          "id": "games.achievements.setStepsAtLeast",
          "parameterOrder": [
            "achievementId",
            "steps"
          ],
          "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
          "path": "games/v1/achievements/{achievementId}/setStepsAtLeast"
        },
        "updateMultiple": {
          "httpMethod": "POST",
          "flatPath": "games/v1/achievements/updateMultiple",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "description": "Updates multiple achievements for the currently authenticated player.",
          "parameters": {},
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/achievements/updateMultiple",
          "id": "games.achievements.updateMultiple",
          "parameterOrder": []
        },
        "reveal": {
          "httpMethod": "POST",
          "parameterOrder": [
            "achievementId"
          ],
          "id": "games.achievements.reveal",
          "description": "Sets the state of the achievement with the given ID to `REVEALED` for the currently authenticated player.",
          "response": {
            "$ref": "AchievementRevealResponse"
          },
          "path": "games/v1/achievements/{achievementId}/reveal",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "stats": {
      "methods": {
        "get": {
          "path": "games/v1/stats",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "games/v1/stats",
          "description": "Returns engagement and spend statistics in this application for the currently authenticated user.",
          "response": {
            "$ref": "StatsResponse"
          },
          "id": "games.stats.get",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "check": {
          "parameters": {
            "clientRevision": {
              "required": true,
              "location": "query",
              "description": "The revision of the client SDK used by your application. Format: `[PLATFORM_TYPE]:[VERSION_NUMBER]`. Possible values of `PLATFORM_TYPE` are: * `ANDROID` - Client is running the Android SDK. * `IOS` - Client is running the iOS SDK. * `WEB_APP` - Client is running as a Web App.",
              "type": "string"
            }
          },
          "path": "games/v1/revisions/check",
          "id": "games.revisions.check",
          "response": {
            "$ref": "RevisionCheckResponse"
          },
          "flatPath": "games/v1/revisions/check",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Checks whether the games client is out of date.",
          "httpMethod": "GET",
          "parameterOrder": [
            "clientRevision"
          ]
        }
      }
    },
    "scores": {
      "methods": {
        "list": {
          "response": {
            "$ref": "LeaderboardScores"
          },
          "parameters": {
            "timeSpan": {
              "enum": [
                "SCORE_TIME_SPAN_UNSPECIFIED",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "location": "query",
              "type": "string",
              "description": "The time span for the scores and ranks you're requesting.",
              "required": true,
              "enumDescriptions": [
                "Default value. This value is unused.",
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "format": "int32",
              "location": "query"
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "collection": {
              "type": "string",
              "enumDescriptions": [
                "Default value. This value is unused.",
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ],
              "enum": [
                "SCORE_COLLECTION_UNSPECIFIED",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "location": "path",
              "required": true,
              "description": "The collection of scores you're requesting."
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "id": "games.scores.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Lists the scores in a leaderboard, starting from the top."
        },
        "listWindow": {
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "id": "games.scores.listWindow",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "collection": {
              "type": "string",
              "required": true,
              "enum": [
                "SCORE_COLLECTION_UNSPECIFIED",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "description": "The collection of scores you're requesting.",
              "location": "path",
              "enumDescriptions": [
                "Default value. This value is unused.",
                "List all scores in the public leaderboard.",
                "(Obsolete) Legacy G+ social scores.",
                "List only scores of friends."
              ]
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "returnTopIfAbsent": {
              "type": "boolean",
              "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            },
            "timeSpan": {
              "enumDescriptions": [
                "Default value. This value is unused.",
                "The score is an all-time score.",
                "The score is a weekly score.",
                "The score is a daily score."
              ],
              "required": true,
              "description": "The time span for the scores and ranks you're requesting.",
              "enum": [
                "SCORE_TIME_SPAN_UNSPECIFIED",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}"
        },
        "submit": {
          "response": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "Submits a score to the specified leaderboard.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "id": "games.scores.submit",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "httpMethod": "POST",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "scoreTag": {
              "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "type": "string",
              "location": "query"
            },
            "score": {
              "description": "The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
              "format": "int64",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "leaderboardId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.",
              "required": true
            }
          }
        },
        "submitMultiple": {
          "flatPath": "games/v1/leaderboards/scores",
          "parameterOrder": [],
          "id": "games.scores.submitMultiple",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            }
          },
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "description": "Submits multiple scores to leaderboards.",
          "path": "games/v1/leaderboards/scores",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "id": "games.scores.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, `leaderboardId` can be set to `ALL` to retrieve data for all leaderboards in a given time span. `NOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          },
          "parameters": {
            "timeSpan": {
              "type": "string",
              "location": "path",
              "description": "The time span for the scores and ranks you're requesting.",
              "required": true,
              "enumDescriptions": [
                "Default value. This value is unused.",
                "Get the high scores for all time spans. If this is used, maxResults values will be ignored.",
                "Get the all time high score.",
                "List the top scores for the current day.",
                "List the top scores for the current week."
              ],
              "enum": [
                "SCORE_TIME_SPAN_UNSPECIFIED",
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ]
            },
            "includeRankType": {
              "type": "string",
              "enumDescriptions": [
                "Default value. Should be unused.",
                "Retrieve all supported ranks. In HTTP, this parameter value can also be specified as `ALL`.",
                "Retrieve public ranks, if the player is sharing their gameplay activity publicly.",
                "(Obsolete) Retrieve the social rank.",
                "Retrieve the rank on the friends collection."
              ],
              "enum": [
                "INCLUDE_RANK_TYPE_UNSPECIFIED",
                "ALL",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "location": "query",
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned."
            },
            "leaderboardId": {
              "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "language": {
              "location": "query",
              "type": "string",
              "description": "The preferred language to use for strings returned by this method."
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "location": "query",
              "type": "string"
            },
            "playerId": {
              "type": "string",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated player's ID.",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified `maxResults`."
            }
          },
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}"
        }
      }
    }
  },
  "schemas": {
    "AchievementUpdateRequest": {
      "description": "A request to update an achievement.",
      "properties": {
        "achievementId": {
          "description": "The achievement this update is being applied to.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateRequest`."
        },
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for the achievement.",
          "$ref": "GamesAchievementIncrement"
        },
        "setStepsAtLeastPayload": {
          "$ref": "GamesAchievementSetStepsAtLeast",
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was requested for the achievement."
        },
        "updateType": {
          "enum": [
            "ACHIEVEMENT_UPDATE_TYPE_UNSPECIFIED",
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ],
          "description": "The type of update being applied.",
          "type": "string",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ]
        }
      },
      "type": "object",
      "id": "AchievementUpdateRequest"
    },
    "PlayerScoreResponse": {
      "properties": {
        "formattedScore": {
          "description": "The formatted value of the submitted score.",
          "type": "string"
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard ID that this score was submitted to."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreResponse`."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "unbeatenScores": {
          "description": "The scores in time spans that have not been beaten. As an example, the submitted score may be better than the player's `DAILY` score, but not better than the player's scores for the `WEEKLY` or `ALL_TIME` time spans.",
          "type": "array",
          "items": {
            "$ref": "PlayerScore"
          }
        },
        "beatenScoreTimeSpans": {
          "type": "array",
          "description": "The time spans where the submitted score is better than the existing score for that time span.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "The score is an all-time score.",
              "The score is a weekly score.",
              "The score is a daily score."
            ],
            "type": "string",
            "enum": [
              "SCORE_TIME_SPAN_UNSPECIFIED",
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ]
          }
        }
      },
      "id": "PlayerScoreResponse",
      "description": "A list of leaderboard entry resources.",
      "type": "object"
    },
    "AchievementUpdateMultipleRequest": {
      "description": "A list of achievement update requests.",
      "type": "object",
      "id": "AchievementUpdateMultipleRequest",
      "properties": {
        "updates": {
          "type": "array",
          "description": "The individual achievement update requests.",
          "items": {
            "$ref": "AchievementUpdateRequest"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        }
      }
    },
    "AchievementUnlockResponse": {
      "type": "object",
      "description": "An achievement unlock response",
      "id": "AchievementUnlockResponse",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUnlockResponse`."
        }
      }
    },
    "EventChild": {
      "properties": {
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventChild`."
        }
      },
      "description": "An event child relationship resource.",
      "type": "object",
      "id": "EventChild"
    },
    "AchievementDefinitionsListResponse": {
      "type": "object",
      "description": "A list of achievement definition objects.",
      "id": "AchievementDefinitionsListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "AchievementDefinition"
          },
          "description": "The achievement definitions.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinitionsListResponse`.",
          "type": "string"
        }
      }
    },
    "ScoreSubmission": {
      "id": "ScoreSubmission",
      "description": "A request to submit a score to leaderboards.",
      "properties": {
        "score": {
          "type": "string",
          "description": "The new score being submitted.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#scoreSubmission`."
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "leaderboardId": {
          "description": "The leaderboard this score is being submitted to.",
          "type": "string"
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Player": {
      "type": "object",
      "description": "A Player resource.",
      "properties": {
        "displayName": {
          "description": "The name to display for the player.",
          "type": "string"
        },
        "originalPlayerId": {
          "type": "string",
          "description": "The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs."
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile is visible to other players."
        },
        "friendStatus": {
          "enum": [
            "FRIEND_STATUS_UNSPECIFIED",
            "NO_RELATIONSHIP",
            "FRIEND"
          ],
          "description": "The friend status of the given player, relative to the requester. This is unset if the player is not sharing their friends list with the game.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "There is no relationship between the players.",
            "The player and requester are friends."
          ]
        },
        "experienceInfo": {
          "$ref": "PlayerExperienceInfo",
          "description": "An object to represent Play Game experience information for the player."
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "type": "string",
          "description": "The url to the landscape mode player banner image."
        },
        "name": {
          "type": "object",
          "properties": {
            "familyName": {
              "description": "The family name of this player. In some places, this is known as the last name.",
              "type": "string"
            },
            "givenName": {
              "type": "string",
              "description": "The given name of this player. In some places, this is known as the first name."
            }
          },
          "description": "A representation of the individual components of the name."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#player`"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        }
      },
      "id": "Player"
    },
    "EventUpdateResponse": {
      "description": "An event period update resource.",
      "type": "object",
      "id": "EventUpdateResponse",
      "properties": {
        "eventFailures": {
          "items": {
            "$ref": "EventRecordFailure"
          },
          "type": "array",
          "description": "Any failures updating a particular event."
        },
        "playerEvents": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "description": "The current status of any updated events",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateResponse`."
        },
        "batchFailures": {
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "description": "Any batch-wide failures which occurred applying updates.",
          "type": "array"
        }
      }
    },
    "AchievementRevealResponse": {
      "id": "AchievementRevealResponse",
      "type": "object",
      "properties": {
        "currentState": {
          "type": "string",
          "enum": [
            "REVEAL_ACHIEVEMENT_STATE_UNSPECIFIED",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement for which a reveal was attempted. This might be `UNLOCKED` if the achievement was already unlocked."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementRevealResponse`.",
          "type": "string"
        }
      },
      "description": "An achievement reveal response"
    },
    "SnapshotListResponse": {
      "id": "SnapshotListResponse",
      "description": "A third party list snapshots response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results. If there are no more results, the token is omitted."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "The snapshots."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotListResponse`.",
          "type": "string"
        }
      }
    },
    "EventPeriodRange": {
      "id": "EventPeriodRange",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodStartMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix Epoch)."
        },
        "periodEndMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix Epoch)."
        }
      },
      "description": "An event period time range."
    },
    "PlayerAchievementListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlayerAchievement"
          },
          "description": "The achievements."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      },
      "id": "PlayerAchievementListResponse",
      "type": "object",
      "description": "A list of achievement objects."
    },
    "AchievementUpdateMultipleResponse": {
      "description": "Response message for UpdateMultipleAchievements rpc.",
      "type": "object",
      "id": "AchievementUpdateMultipleResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateMultipleResponse`.",
          "type": "string"
        },
        "updatedAchievements": {
          "type": "array",
          "description": "The updated state of the achievements.",
          "items": {
            "$ref": "AchievementUpdateResponse"
          }
        }
      }
    },
    "EndPoint": {
      "properties": {
        "url": {
          "type": "string",
          "description": "A URL suitable for loading in a web browser for the requested endpoint."
        }
      },
      "type": "object",
      "description": "Container for a URL end point of the requested type.",
      "id": "EndPoint"
    },
    "PlayerScoreListResponse": {
      "description": "A list of score submission statuses.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScoreListResponse`.",
          "type": "string"
        },
        "submittedScores": {
          "items": {
            "$ref": "PlayerScoreResponse"
          },
          "description": "The score submissions statuses.",
          "type": "array"
        }
      },
      "id": "PlayerScoreListResponse"
    },
    "StatsResponse": {
      "type": "object",
      "properties": {
        "num_sessions": {
          "type": "integer",
          "description": "The approximate number of sessions of the player within the last 28 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        },
        "days_since_last_played": {
          "format": "int32",
          "type": "integer",
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information."
        },
        "high_spender_probability": {
          "description": "The probability of the player going to spend beyond a threshold amount of money. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#statsResponse`.",
          "type": "string"
        },
        "spend_percentile": {
          "format": "float",
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number"
        },
        "num_sessions_percentile": {
          "description": "The approximation of the sessions percentile of the player within the last 30 days, where a session begins when the player is connected to Play Games Services and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not populated if there is not enough information.",
          "type": "number",
          "format": "float"
        },
        "churn_probability": {
          "type": "number",
          "format": "float",
          "description": "The probability of the player not returning to play the game in the next day. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough information."
        },
        "spend_probability": {
          "type": "number",
          "format": "float",
          "description": "The probability of the player going to spend the game in the next seven days. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough information."
        },
        "total_spend_next_28_days": {
          "format": "float",
          "description": "The predicted amount of money that the player going to spend in the next 28 days. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "type": "number"
        },
        "avg_session_length_minutes": {
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "num_purchases": {
          "type": "integer",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5, 10, ... . Not populated if there is not enough information.",
          "format": "int32"
        }
      },
      "id": "StatsResponse",
      "description": "A third party stats resource."
    },
    "AchievementUpdateResponse": {
      "description": "An updated achievement.",
      "id": "AchievementUpdateResponse",
      "properties": {
        "achievementId": {
          "description": "The achievement this update is was applied to.",
          "type": "string"
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock request for the achievement was the first for the player).",
          "type": "boolean"
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Whether the requested updates actually affected the achievement."
        },
        "currentState": {
          "enum": [
            "UPDATED_ACHIEVEMENT_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The current state of the achievement.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementUpdateResponse`."
        },
        "currentSteps": {
          "format": "int32",
          "type": "integer",
          "description": "The current steps recorded for this achievement if it is incremental."
        }
      },
      "type": "object"
    },
    "InstanceAndroidDetails": {
      "type": "object",
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Android package name which maps to Google Play URL."
        },
        "preferred": {
          "description": "Indicates that this instance is the default for new installations.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceAndroidDetails`.",
          "type": "string"
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        }
      }
    },
    "PlayerEvent": {
      "description": "An event status resource.",
      "type": "object",
      "properties": {
        "numEvents": {
          "description": "The current number of times this event has occurred.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerEvent`."
        },
        "formattedNumEvents": {
          "description": "The current number of times this event has occurred, as a string. The formatting of this string depends on the configuration of your event in the Play Games Developer Console.",
          "type": "string"
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "definitionId": {
          "description": "The ID of the event definition.",
          "type": "string"
        }
      },
      "id": "PlayerEvent"
    },
    "EventUpdateRequest": {
      "description": "An event period update resource.",
      "id": "EventUpdateRequest",
      "type": "object",
      "properties": {
        "definitionId": {
          "description": "The ID of the event being modified in this update.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventUpdateRequest`."
        },
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "description": "The Instance resource.",
      "type": "object",
      "properties": {
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "WEB_APP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Should be unused.",
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "description": "The platform type."
        },
        "acquisitionUri": {
          "type": "string",
          "description": "URI which shows where a user can acquire this instance."
        },
        "androidInstance": {
          "$ref": "InstanceAndroidDetails",
          "description": "Platform dependent details for Android."
        },
        "webInstance": {
          "$ref": "InstanceWebDetails",
          "description": "Platform dependent details for Web."
        },
        "turnBasedPlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports turn based play."
        },
        "name": {
          "type": "string",
          "description": "Localized display name."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instance`.",
          "type": "string"
        },
        "iosInstance": {
          "$ref": "InstanceIosDetails",
          "description": "Platform dependent details for iOS."
        },
        "realtimePlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports realtime play."
        }
      }
    },
    "AchievementDefinition": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "description": {
          "description": "The description of the achievement.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game.",
          "type": "boolean"
        },
        "experiencePoints": {
          "description": "Experience points which will be earned when unlocking this achievement.",
          "type": "string",
          "format": "int64"
        },
        "initialState": {
          "description": "The initial state of the achievement.",
          "type": "string",
          "enum": [
            "INITIAL_ACHIEVEMENT_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ]
        },
        "isUnlockedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided."
        },
        "name": {
          "type": "string",
          "description": "The name of the achievement."
        },
        "formattedTotalSteps": {
          "description": "The total steps for an incremental achievement as a string.",
          "type": "string"
        },
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "totalSteps": {
          "format": "int32",
          "description": "The total steps for an incremental achievement.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementDefinition`."
        },
        "unlockedIconUrl": {
          "type": "string",
          "description": "The image URL for the unlocked achievement icon."
        },
        "achievementType": {
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ],
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "description": "The type of the achievement.",
          "type": "string"
        }
      },
      "description": "An achievement definition object.",
      "id": "AchievementDefinition",
      "type": "object"
    },
    "PlayerScore": {
      "description": "A player score.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerScore`."
        },
        "score": {
          "format": "int64",
          "description": "The numerical value for this player score.",
          "type": "string"
        },
        "scoreTag": {
          "description": "Additional information about this score. Values will contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "timeSpan": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span for this player score.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The formatted score for this player score.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayerScore"
    },
    "InstanceWebDetails": {
      "description": "The Web details resource.",
      "id": "InstanceWebDetails",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceWebDetails`.",
          "type": "string"
        },
        "launchUrl": {
          "type": "string",
          "description": "Launch URL for the game."
        },
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        }
      },
      "type": "object"
    },
    "ImageAsset": {
      "properties": {
        "name": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#imageAsset`.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the asset.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "The width of the asset."
        },
        "height": {
          "format": "int32",
          "description": "The height of the asset.",
          "type": "integer"
        }
      },
      "id": "ImageAsset",
      "description": "An image asset object.",
      "type": "object"
    },
    "PlayerExperienceInfo": {
      "type": "object",
      "properties": {
        "lastLevelUpTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch UTC."
        },
        "currentExperiencePoints": {
          "type": "string",
          "format": "int64",
          "description": "The current number of experience points for the player."
        },
        "currentLevel": {
          "$ref": "PlayerLevel",
          "description": "The current level of the player."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerExperienceInfo`."
        },
        "nextLevel": {
          "description": "The next level of the player. If the current level is the maximum level, this should be same as the current level.",
          "$ref": "PlayerLevel"
        }
      },
      "id": "PlayerExperienceInfo",
      "description": "1P/3P metadata about the player's experience."
    },
    "Leaderboard": {
      "type": "object",
      "properties": {
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboard`.",
          "type": "string"
        },
        "order": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "type": "string",
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ],
          "description": "How scores are ordered."
        },
        "id": {
          "type": "string",
          "description": "The leaderboard ID."
        }
      },
      "description": "The Leaderboard resource.",
      "id": "Leaderboard"
    },
    "MetagameConfig": {
      "type": "object",
      "id": "MetagameConfig",
      "description": "The metagame config resource",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#metagameConfig`.",
          "type": "string"
        },
        "playerLevels": {
          "description": "The list of player levels.",
          "items": {
            "$ref": "PlayerLevel"
          },
          "type": "array"
        },
        "currentVersion": {
          "description": "Current version of the metagame configuration data. When this data is updated, the version number will be increased by one.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PlayerLevel": {
      "id": "PlayerLevel",
      "type": "object",
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "maxExperiencePoints": {
          "format": "int64",
          "description": "The maximum experience points for this level.",
          "type": "string"
        },
        "level": {
          "description": "The level for the user.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLevel`.",
          "type": "string"
        },
        "minExperiencePoints": {
          "type": "string",
          "description": "The minimum experience points for this level.",
          "format": "int64"
        }
      }
    },
    "CategoryListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#categoryListResponse`.",
          "type": "string"
        },
        "items": {
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          },
          "type": "array"
        }
      },
      "id": "CategoryListResponse",
      "description": "A third party list metagame categories response.",
      "type": "object"
    },
    "EventDefinition": {
      "description": "An event definition resource.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventDefinition`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the event."
        },
        "description": {
          "description": "Description of what this event represents.",
          "type": "string"
        },
        "childEvents": {
          "items": {
            "$ref": "EventChild"
          },
          "type": "array",
          "description": "A list of events that are a child of this event."
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the event."
        },
        "isDefaultImageUrl": {
          "type": "boolean",
          "description": "Indicates whether the icon image being returned is a default image, or is game-provided."
        },
        "visibility": {
          "description": "The visibility of event being tracked in this definition.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event at least once."
          ],
          "enum": [
            "EVENT_VISIBILITY_UNSPECIFIED",
            "REVEALED",
            "HIDDEN"
          ]
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        }
      },
      "id": "EventDefinition"
    },
    "LeaderboardEntry": {
      "id": "LeaderboardEntry",
      "properties": {
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "timeSpan": {
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "type": "string",
          "description": "The time span of this high score.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardEntry`."
        },
        "writeTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC."
        },
        "formattedScoreRank": {
          "type": "string",
          "description": "The localized string for the rank of this score for this leaderboard."
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "scoreValue": {
          "type": "string",
          "format": "int64",
          "description": "The numerical value of this score."
        }
      },
      "type": "object",
      "description": "The Leaderboard Entry resource."
    },
    "AchievementIncrementResponse": {
      "id": "AchievementIncrementResponse",
      "type": "object",
      "properties": {
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of steps required to unlock.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#achievementIncrementResponse`."
        },
        "currentSteps": {
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer"
        }
      },
      "description": "An achievement increment response"
    },
    "PlayerLeaderboardScore": {
      "id": "PlayerLeaderboardScore",
      "type": "object",
      "description": "A player leaderboard score object.",
      "properties": {
        "leaderboard_id": {
          "type": "string",
          "description": "The ID of the leaderboard this score is in."
        },
        "friendsRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The rank of the score in the friends collection for this leaderboard."
        },
        "timeSpan": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this score."
        },
        "scoreValue": {
          "type": "string",
          "format": "int64",
          "description": "The numerical value of this score."
        },
        "scoreString": {
          "type": "string",
          "description": "The formatted value of this score."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#playerLeaderboardScore`."
        },
        "publicRank": {
          "description": "The public rank of the score in this leaderboard. This object will not be present if the user is not sharing their scores publicly.",
          "$ref": "LeaderboardScoreRank"
        },
        "socialRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The social rank of the score in this leaderboard."
        },
        "writeTimestamp": {
          "type": "string",
          "description": "The timestamp at which this score was recorded, in milliseconds since the epoch in UTC.",
          "format": "int64"
        },
        "scoreTag": {
          "description": "Additional information about the score. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      }
    },
    "SnapshotImage": {
      "description": "An image of a snapshot.",
      "type": "object",
      "id": "SnapshotImage",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshotImage`.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should not be cached.",
          "type": "string"
        },
        "height": {
          "description": "The height of the image.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "The width of the image.",
          "format": "int32",
          "type": "integer"
        },
        "mime_type": {
          "type": "string",
          "description": "The MIME type of the image."
        }
      }
    },
    "LeaderboardListResponse": {
      "type": "object",
      "id": "LeaderboardListResponse",
      "description": "A list of leaderboard objects.",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardListResponse`."
        },
        "items": {
          "items": {
            "$ref": "Leaderboard"
          },
          "description": "The leaderboards.",
          "type": "array"
        }
      }
    },
    "Application": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#application`."
        },
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "author": {
          "type": "string",
          "description": "The author of the application."
        },
        "id": {
          "description": "The ID of the application.",
          "type": "string"
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "description": "The last updated timestamp of the application.",
          "type": "string"
        },
        "assets": {
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The assets of the application."
        },
        "achievement_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of achievements visible to the currently authenticated player."
        },
        "enabledFeatures": {
          "description": "A list of features that have been enabled for the application.",
          "items": {
            "enumDescriptions": [
              "Safe default, don't use.",
              "Saved Games (snapshots)."
            ],
            "enum": [
              "APPLICATION_FEATURE_UNSPECIFIED",
              "SNAPSHOTS"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The color is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the application."
        },
        "leaderboard_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of leaderboards visible to the currently authenticated player."
        },
        "category": {
          "$ref": "ApplicationCategory",
          "description": "The category of the application."
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances of the application.",
          "type": "array"
        }
      },
      "description": "The Application resource.",
      "id": "Application"
    },
    "LeaderboardScores": {
      "description": "A ListScores response.",
      "type": "object",
      "id": "LeaderboardScores",
      "properties": {
        "prevPageToken": {
          "type": "string",
          "description": "The pagination token for the previous page of results."
        },
        "numScores": {
          "description": "The total number of scores in the leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The scores in the leaderboard.",
          "items": {
            "$ref": "LeaderboardEntry"
          }
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#leaderboardScores`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "playerScore": {
          "$ref": "LeaderboardEntry",
          "description": "The score of the requesting player on the leaderboard. The player's score may appear both here and in the list of scores above. If you are viewing a public leaderboard and the player is not sharing their gameplay information publicly, the `scoreRank`and `formattedScoreRank` values will not be present."
        }
      }
    },
    "GamesAchievementIncrement": {
      "description": "The payload to request to increment an achievement.",
      "properties": {
        "steps": {
          "format": "int32",
          "type": "integer",
          "description": "The number of steps to be incremented."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#GamesAchievementIncrement`.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "format": "int64",
          "description": "The requestId associated with an increment to an achievement."
        }
      },
      "type": "object",
      "id": "GamesAchievementIncrement"
    },
    "Snapshot": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the snapshot."
        },
        "description": {
          "type": "string",
          "description": "The description of this snapshot."
        },
        "progressValue": {
          "type": "string",
          "format": "int64",
          "description": "The progress value (64-bit integer set by developer) associated with this snapshot."
        },
        "uniqueName": {
          "description": "The unique name provided when the snapshot was created.",
          "type": "string"
        },
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        },
        "type": {
          "description": "The type of this snapshot.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A snapshot representing a save game."
          ],
          "type": "string",
          "enum": [
            "SNAPSHOT_TYPE_UNSPECIFIED",
            "SAVE_GAME"
          ]
        },
        "lastModifiedMillis": {
          "type": "string",
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this snapshot.",
          "format": "int64"
        },
        "durationMillis": {
          "format": "int64",
          "type": "string",
          "description": "The duration associated with this snapshot, in millis."
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#snapshot`."
        },
        "driveId": {
          "description": "The ID of the file underlying this snapshot in the Drive API. Only present if the snapshot is a view on a Drive file and the file is owned by the caller.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Snapshot",
      "description": "An snapshot object."
    },
    "EventBatchRecordFailure": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventBatchRecordFailure`."
        },
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        },
        "failureCause": {
          "enum": [
            "EVENT_FAILURE_CAUSE_UNSPECIFIED",
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ],
          "description": "The cause for the update failure.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A batch request was issued with more events than are allowed in a single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server will apply updates."
          ]
        }
      },
      "description": "A batch update failure resource.",
      "type": "object",
      "id": "EventBatchRecordFailure"
    },
    "EventRecordFailure": {
      "description": "An event update failure resource.",
      "properties": {
        "failureCause": {
          "type": "string",
          "description": "The cause for the update failure.",
          "enum": [
            "EVENT_UPDATE_FAILURE_CAUSE_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "enumDescriptions": [
            "Default value. Should not use.",
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ]
        },
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#eventRecordFailure`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventRecordFailure"
    },
    "InstanceIosDetails": {
      "description": "The iOS details resource.",
      "properties": {
        "supportIphone": {
          "type": "boolean",
          "description": "Flag to indicate if this instance supports iPhone."
        },
        "bundleIdentifier": {
          "type": "string",
          "description": "Bundle identifier."
        },
        "itunesAppId": {
          "type": "string",
          "description": "iTunes App ID."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#instanceIosDetails`.",
          "type": "string"
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone devices.",
          "type": "boolean"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad devices.",
          "type": "boolean"
        }
      },
      "id": "InstanceIosDetails",
      "type": "object"
    },
    "ApplicationVerifyResponse": {
      "properties": {
        "player_id": {
          "description": "The ID of the player that was issued the auth token used in this request.",
          "type": "string"
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth token used in this request. (This field is not normally populated.)",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string `games#applicationVerifyResponse`."
        }
      },
      "type": "object",
      "description": "A third party application verification response resource.",
      "id": "ApplicationVerifyResponse"
    },
    "RevisionCheckResponse": {
      "type": "object",
      "description": "A third party checking a revision response.",
      "id": "RevisionCheckResponse",
      "properties": {
        "revisionStatus": {
          "enum": [
            "REVISION_STATUS_UNSPECIFIED",
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "type": "string",
          "description": "The result of the revision check.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used still works.",
            "The revision being used is not supported in any released version."
          ]
        },
        "kind": {
          "type": "string",
[...]
