{
  "canonicalName": "Game Services",
  "description": "Deploy and manage infrastructure for global multiplayer gaming experiences.",
  "revision": "20220216",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "DeployedClusterState": {
      "properties": {
        "cluster": {
          "description": "The name of the cluster.",
          "type": "string"
        },
        "fleetDetails": {
          "description": "The details about the Agones fleets and autoscalers created in the game server cluster.",
          "type": "array",
          "items": {
            "$ref": "DeployedFleetDetails"
          }
        }
      },
      "description": "The game server cluster changes made by the game server deployment.",
      "id": "DeployedClusterState",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "Rule": {
      "properties": {
        "in": {
          "description": "If one or more 'in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notIn": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If one or more 'not_in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries. The format for in and not_in entries can be found at in the Local IAM documentation (see go/local-iam#features)."
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the rule."
        },
        "action": {
          "enum": [
            "NO_ACTION",
            "ALLOW",
            "ALLOW_WITH_LOG",
            "DENY",
            "DENY_WITH_LOG",
            "LOG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default no action.",
            "Matching 'Entries' grant access.",
            "Matching 'Entries' grant access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' deny access.",
            "Matching 'Entries' deny access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' tell IAM.Check callers to generate logs."
          ],
          "description": "Required"
        },
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*' matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs."
        },
        "conditions": {
          "items": {
            "$ref": "Condition"
          },
          "type": "array",
          "description": "Additional restrictions that must be met. All conditions must pass for the rule to match."
        },
        "logConfig": {
          "type": "array",
          "description": "The config returned to callers of CheckPolicy for any entries that match the LOG action.",
          "items": {
            "$ref": "LogConfig"
          }
        }
      },
      "description": "A rule to be applied in a Policy.",
      "id": "Rule",
      "type": "object"
    },
    "OperationStatus": {
      "id": "OperationStatus",
      "properties": {
        "done": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the operation is done or still in progress."
        },
        "errorMessage": {
          "description": "The human-readable error message.",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "description": "The error code in case of failures.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INTERNAL_ERROR",
            "PERMISSION_DENIED",
            "CLUSTER_CONNECTION"
          ]
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Schedule": {
      "type": "object",
      "properties": {
        "cronSpec": {
          "type": "string",
          "description": "The cron definition of the scheduled event. See https://en.wikipedia.org/wiki/Cron. The cron spec specifies the local time as defined by the realm."
        },
        "cronJobDuration": {
          "description": "The duration for the cron job event. The duration of the event is effective after the cron job's start time.",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time of the event.",
          "type": "string"
        },
        "startTime": {
          "description": "The start time of the event.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Schedule",
      "description": "The schedule of a recurring or one time event. The event's time span is specified by start_time and end_time. If the scheduled event's timespan is larger than cron_spec added with cron_job_duration, the event is recurring. If only cron_spec and cron_job_duration are specified, the event starts at the local time specified by cron_spec, and is recurring. ``` start_time|-------[cron job]-------[cron job]-------[cron job]---|end_time cron job: cron spec start time + duration ```"
    },
    "GameServerConfigOverride": {
      "description": "A game server config override.",
      "properties": {
        "realmsSelector": {
          "description": "Selector for choosing applicable realms.",
          "$ref": "RealmSelector"
        },
        "configVersion": {
          "description": "The game server config for this override.",
          "type": "string"
        }
      },
      "id": "GameServerConfigOverride",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "ListGameServerDeploymentsResponse": {
      "type": "object",
      "id": "ListGameServerDeploymentsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "gameServerDeployments": {
          "items": {
            "$ref": "GameServerDeployment"
          },
          "description": "The list of game server deployments.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for GameServerDeploymentsService.ListGameServerDeployments."
    },
    "FleetConfig": {
      "id": "FleetConfig",
      "properties": {
        "fleetSpec": {
          "description": "Agones fleet spec (see [example spec](https://agones.dev/site/docs/reference/fleet/)).",
          "type": "string"
        },
        "name": {
          "description": "The name of the FleetConfig.",
          "type": "string"
        }
      },
      "description": "Fleet configs for Agones.",
      "type": "object"
    },
    "ScalingConfig": {
      "properties": {
        "schedules": {
          "type": "array",
          "items": {
            "$ref": "Schedule"
          },
          "description": "The schedules to which this scaling config applies."
        },
        "selectors": {
          "description": "Labels used to identify the game server clusters to which this Agones scaling config applies. A game server cluster is subject to this Agones scaling config if its labels match any of the selector entries.",
          "items": {
            "$ref": "LabelSelector"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the scaling config."
        },
        "fleetAutoscalerSpec": {
          "type": "string",
          "description": "Required. Agones fleet autoscaler spec (see [example spec](https://agones.dev/site/docs/reference/fleetautoscaler/))."
        }
      },
      "id": "ScalingConfig",
      "type": "object",
      "description": "Autoscaling config for an Agones fleet."
    },
    "DeployedFleetStatus": {
      "properties": {
        "replicas": {
          "format": "int64",
          "type": "string",
          "description": "The total number of current GameServer replicas in this fleet."
        },
        "reservedReplicas": {
          "type": "string",
          "description": "The number of GameServer replicas in the RESERVED state in this fleet. Reserved instances won't be deleted on scale down, but won't cause an autoscaler to scale up.",
          "format": "int64"
        },
        "allocatedReplicas": {
          "format": "int64",
          "type": "string",
          "description": "The number of GameServer replicas in the ALLOCATED state in this fleet."
        },
        "readyReplicas": {
          "description": "The number of GameServer replicas in the READY state in this fleet.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "DeployedFleetStatus has details about the Agones fleets, such as how many are running, how many are allocated, and so on.",
      "type": "object",
      "id": "DeployedFleetStatus"
    },
    "TargetFleetDetails": {
      "properties": {
        "fleet": {
          "description": "Reference to target Agones fleet.",
          "$ref": "TargetFleet"
        },
        "autoscaler": {
          "description": "Reference to target Agones fleet autoscaling policy.",
          "$ref": "TargetFleetAutoscaler"
        }
      },
      "id": "TargetFleetDetails",
      "type": "object",
      "description": "Details of the target Agones fleet."
    },
    "LabelSelector": {
      "type": "object",
      "description": "The label selector, used to group labels on the resources.",
      "properties": {
        "labels": {
          "description": "Resource labels for this selector.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "LabelSelector"
    },
    "PreviewGameServerDeploymentRolloutResponse": {
      "description": "Response message for PreviewGameServerDeploymentRollout. This has details about the Agones fleet and autoscaler to be actuated.",
      "id": "PreviewGameServerDeploymentRolloutResponse",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the game server deployment."
        },
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        },
        "unavailable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached on this request."
        }
      }
    },
    "SpecSource": {
      "properties": {
        "gameServerConfigName": {
          "type": "string",
          "description": "The game server config resource. Uses the form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/{configId}`."
        },
        "name": {
          "description": "The name of the Agones fleet config or Agones scaling config used to derive the Agones fleet or Agones autoscaler spec.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SpecSource",
      "description": "Encapsulates Agones fleet spec and Agones autoscaler spec sources."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "DataAccessOptions": {
      "properties": {
        "logMode": {
          "enum": [
            "LOG_MODE_UNSPECIFIED",
            "LOG_FAIL_CLOSED"
          ],
          "enumDescriptions": [
            "Client is not required to write a partial Gin log immediately after the authorization check. If client chooses to write one and it fails, client may either fail open (allow the operation to continue) or fail closed (handle as a DENY outcome).",
            "The application's operation in the context of which this authorization check is being made may only be performed if it is successfully logged to Gin. For instance, the authorization library may satisfy this obligation by emitting a partial log entry at authorization check time and only returning ALLOW to the application if it succeeds. If a matching Rule has this directive, but the client has not indicated that it will honor such requirements, then the IAM check will result in authorization failure by setting CheckPolicyResponse.success=false."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Write a Data Access (Gin) log",
      "id": "DataAccessOptions"
    },
    "GameServerClusterConnectionInfo": {
      "description": "The game server cluster connection information.",
      "properties": {
        "gkeClusterReference": {
          "description": "Reference to the GKE cluster where the game servers are installed.",
          "$ref": "GkeClusterReference"
        },
        "namespace": {
          "description": "Namespace designated on the game server cluster where the Agones game server instances will be created. Existence of the namespace will be validated during creation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GameServerClusterConnectionInfo"
    },
    "GameServerConfig": {
      "properties": {
        "labels": {
          "description": "The labels associated with this game server config. Each label is a key-value pair.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the game server config, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/{configId}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`."
        },
        "fleetConfigs": {
          "description": "FleetConfig contains a list of Agones fleet specs. Only one FleetConfig is allowed.",
          "items": {
            "$ref": "FleetConfig"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last-modified time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "scalingConfigs": {
          "items": {
            "$ref": "ScalingConfig"
          },
          "description": "The autoscaling settings.",
          "type": "array"
        },
        "description": {
          "description": "The description of the game server config.",
          "type": "string"
        }
      },
      "id": "GameServerConfig",
      "description": "A game server config resource.",
      "type": "object"
    },
    "TargetFleet": {
      "type": "object",
      "description": "Target Agones fleet specification.",
      "id": "TargetFleet",
      "properties": {
        "specSource": {
          "description": "Encapsulates the source of the Agones fleet spec. The Agones fleet spec source.",
          "$ref": "SpecSource"
        },
        "name": {
          "type": "string",
          "description": "The name of the Agones fleet."
        }
      }
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "Rule"
          },
          "description": "If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "ignoreChildExemptions": {
          "type": "boolean"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
        },
        "bindingId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PreviewDeleteGameServerClusterResponse": {
      "properties": {
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the game server cluster."
        }
      },
      "id": "PreviewDeleteGameServerClusterResponse",
      "description": "Response message for GameServerClustersService.PreviewDeleteGameServerCluster.",
      "type": "object"
    },
    "PreviewRealmUpdateResponse": {
      "description": "Response message for RealmsService.PreviewRealmUpdate.",
      "id": "PreviewRealmUpdateResponse",
      "properties": {
        "etag": {
          "description": "ETag of the realm.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      },
      "type": "object"
    },
    "ListGameServerConfigsResponse": {
      "type": "object",
      "id": "ListGameServerConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of locations that could not be reached."
        },
        "gameServerConfigs": {
          "items": {
            "$ref": "GameServerConfig"
          },
          "description": "The list of game server configs.",
          "type": "array"
        }
      },
      "description": "Response message for GameServerConfigsService.ListGameServerConfigs."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig",
      "type": "object"
    },
    "TargetFleetAutoscaler": {
      "properties": {
        "name": {
          "description": "The name of the Agones autoscaler.",
          "type": "string"
        },
        "specSource": {
          "description": "Encapsulates the source of the Agones fleet spec. Details about the Agones autoscaler spec.",
          "$ref": "SpecSource"
        }
      },
      "type": "object",
      "description": "Target Agones autoscaler policy reference.",
      "id": "TargetFleetAutoscaler"
    },
    "AuthorizationLoggingOptions": {
      "type": "object",
      "properties": {
        "permissionType": {
          "enumDescriptions": [
            "Default. Should not be used.",
            "A read of admin (meta) data.",
            "A write of admin (meta) data.",
            "A read of standard data.",
            "A write of standard data."
          ],
          "type": "string",
          "description": "The type of the permission that was checked.",
          "enum": [
            "PERMISSION_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "ADMIN_WRITE",
            "DATA_READ",
            "DATA_WRITE"
          ]
        }
      },
      "id": "AuthorizationLoggingOptions",
      "description": "Authorization-related information used by Cloud Audit Logging."
    },
    "GameServerDeployment": {
      "description": "A game server deployment resource.",
      "properties": {
        "labels": {
          "description": "The labels associated with this game server deployment. Each label is a key-value pair.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the game server deployment."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last-modified time.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of the game server deployment, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment`."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation time."
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        }
      },
      "type": "object",
      "id": "GameServerDeployment"
    },
    "CounterOptions": {
      "id": "CounterOptions",
      "description": "Increment a streamz counter with the specified metric and field names. Metric names should start with a '/', generally be lowercase-only, and end in \"_count\". Field names should not contain an initial slash. The actual exported metric names will have \"/iam/policy\" prepended. Field names correspond to IAM request parameters and field values are their respective values. Supported field names: - \"authority\", which is \"[token]\" if IAMContext.token is present, otherwise the value of IAMContext.authority_selector if present, and otherwise a representation of IAMContext.principal; or - \"iam_principal\", a representation of IAMContext.principal even if a token or authority selector is present; or - \"\" (empty string), resulting in a counter with no fields. Examples: counter { metric: \"/debug_access_count\" field: \"iam_principal\" } ==\u003e increment counter /iam/policy/debug_access_count {iam_principal=[value of IAMContext.principal]}",
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "description": "The metric to update."
        },
        "field": {
          "type": "string",
          "description": "The field value to attribute."
        },
        "customFields": {
          "type": "array",
          "description": "Custom fields.",
          "items": {
            "$ref": "CustomField"
          }
        }
      }
    },
    "CloudAuditOptions": {
      "properties": {
        "authorizationLoggingOptions": {
          "description": "Information used by the Cloud Audit Logging pipeline.",
          "$ref": "AuthorizationLoggingOptions"
        },
        "logName": {
          "enumDescriptions": [
            "Default. Should not be used.",
            "Corresponds to \"cloudaudit.googleapis.com/activity\"",
            "Corresponds to \"cloudaudit.googleapis.com/data_access\""
          ],
          "description": "The log_name to populate in the Cloud Audit Record.",
          "enum": [
            "UNSPECIFIED_LOG_NAME",
            "ADMIN_ACTIVITY",
            "DATA_ACCESS"
          ],
          "type": "string"
        }
      },
      "id": "CloudAuditOptions",
      "description": "Write a Cloud Audit log",
      "type": "object"
    },
    "ListGameServerClustersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached.",
          "type": "array"
        },
        "gameServerClusters": {
          "type": "array",
          "description": "The list of game server clusters.",
          "items": {
            "$ref": "GameServerCluster"
          }
        }
      },
      "id": "ListGameServerClustersResponse",
      "description": "Response message for GameServerClustersService.ListGameServerClusters."
    },
    "DeployedFleetAutoscaler": {
      "properties": {
        "specSource": {
          "$ref": "SpecSource",
          "description": "The source spec that is used to create the autoscaler. The GameServerConfig resource may no longer exist in the system."
        },
        "autoscaler": {
          "type": "string",
          "description": "The name of the Agones autoscaler."
        },
        "fleetAutoscalerSpec": {
          "description": "The autoscaler spec retrieved from Agones.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about the Agones autoscaler.",
      "id": "DeployedFleetAutoscaler"
    },
    "RealmSelector": {
      "properties": {
        "realms": {
          "description": "List of realms to match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "RealmSelector",
      "description": "The realm selector, used to match realm resources.",
      "type": "object"
    },
    "CustomField": {
      "type": "object",
      "id": "CustomField",
      "description": "Custom fields. These can be used to create a counter with arbitrary field/value pairs. See: go/rpcsp-custom-fields.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name is the field name."
        },
        "value": {
          "description": "Value is the field value. It is important that in contrast to the CounterOptions.field, the value here is a constant that is not derived from the IAMContext.",
          "type": "string"
        }
      }
    },
    "GameServerDeploymentRollout": {
      "type": "object",
      "id": "GameServerDeploymentRollout",
      "properties": {
        "createTime": {
          "description": "Output only. The creation time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "defaultGameServerConfig": {
          "type": "string",
          "description": "The default game server config is applied to all realms unless overridden in the rollout. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last-modified time."
        },
        "gameServerConfigOverrides": {
          "items": {
            "$ref": "GameServerConfigOverride"
          },
          "description": "Contains the game server config rollout overrides. Overrides are processed in the order they are listed. Once a match is found for a realm, the rest of the list is not processed.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "description": "The game server deployment rollout which represents the desired rollout state."
    },
    "DeployedFleet": {
      "properties": {
        "fleetSpec": {
          "type": "string",
          "description": "The fleet spec retrieved from the Agones fleet."
        },
        "specSource": {
          "$ref": "SpecSource",
          "description": "The source spec that is used to create the Agones fleet. The GameServerConfig resource may no longer exist in the system."
        },
        "status": {
          "description": "The current status of the Agones fleet. Includes count of game servers in various states.",
          "$ref": "DeployedFleetStatus"
        },
        "fleet": {
          "type": "string",
          "description": "The name of the Agones fleet."
        }
      },
      "description": "Agones fleet specification and details.",
      "type": "object",
      "id": "DeployedFleet"
    },
    "Realm": {
      "id": "Realm",
      "properties": {
        "description": {
          "description": "Human readable description of the realm.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`. For example, `projects/my-project/locations/global/realms/my-realm`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The creation time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels associated with this realm. Each label is a key-value pair.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last-modified time."
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Time zone where all policies targeting this realm are evaluated. The value of this field must be from the [IANA time zone database](https://www.iana.org/time-zones)."
        }
      },
      "type": "object",
      "description": "A realm resource."
    },
    "ListRealmsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "realms": {
          "items": {
            "$ref": "Realm"
          },
          "type": "array",
          "description": "The list of realms."
        }
      },
      "id": "ListRealmsResponse",
      "type": "object",
      "description": "Response message for RealmsService.ListRealms."
    },
    "KubernetesClusterState": {
      "type": "object",
      "id": "KubernetesClusterState",
      "description": "The state of the Kubernetes cluster.",
      "properties": {
        "installationState": {
          "enum": [
            "INSTALLATION_STATE_UNSPECIFIED",
            "AGONES_KUBERNETES_VERSION_SUPPORTED",
            "AGONES_VERSION_UNSUPPORTED",
            "AGONES_KUBERNETES_VERSION_UNSUPPORTED",
            "AGONES_VERSION_UNRECOGNIZED",
            "KUBERNETES_VERSION_UNRECOGNIZED",
            "VERSION_VERIFICATION_FAILED",
            "AGONES_NOT_INSTALLED"
          ],
          "enumDescriptions": [
            "The default installation state. This value is used if the state is omitted.",
            "Both the Agones and Kubernetes versions are supported by Google Cloud Game Servers and Agones and Kubernetes versions are compatible.",
            "The installed version of Agones is not supported by Google Cloud Game Servers.",
            "The installed version of Agones is supported by Google Cloud Game Servers, but the installed version of Kubernetes is not recommended or supported by the version of Agones.",
            "The installed version of Agones is not recognized because the Agones controller's image name does not have a version string reported as {major}.{minor}(.{patch}).",
            "The server version of Kubernetes cluster is not recognized because the API server didn't return parsable version info on path/version.",
            "Failed to read or verify the version of Agones or Kubernetes. See `version_installed_error_message` for details.",
            "Agones is not installed."
          ],
          "description": "Output only. The state for the installed versions of Agones/Kubernetes.",
          "type": "string",
          "readOnly": true
        },
        "agonesVersionTargeted": {
          "type": "string",
          "description": "Output only. The version of Agones that is targeted to be installed in the cluster.",
          "readOnly": true
        },
        "agonesVersionInstalled": {
          "description": "Output only. The version of Agones currently installed in the registered Kubernetes cluster.",
          "type": "string",
          "readOnly": true
        },
        "versionInstalledErrorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The detailed error message for the installed versions of Agones/Kubernetes."
        },
        "kubernetesVersionInstalled": {
          "description": "Output only. The version of Kubernetes that is currently used in the registered Kubernetes cluster (as detected by the Cloud Game Servers service).",
          "type": "string",
          "readOnly": true
        },
        "provider": {
          "description": "Output only. The cloud provider type reported by the first node's `providerID` in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-GCP), the provider type will be empty.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TargetDetails": {
      "type": "object",
      "description": "Details about the Agones resources.",
      "id": "TargetDetails",
      "properties": {
        "fleetDetails": {
          "items": {
            "$ref": "TargetFleetDetails"
          },
          "type": "array",
          "description": "Agones fleet details for game server clusters and game server deployments."
        },
        "gameServerClusterName": {
          "type": "string",
          "description": "The game server cluster name. Uses the form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`."
        },
        "gameServerDeploymentName": {
          "type": "string",
          "description": "The game server deployment name. Uses the form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "operationStatus": {
          "readOnly": true,
          "additionalProperties": {
            "$ref": "OperationStatus"
          },
          "description": "Output only. Operation status for Game Services API operations. Operation status is in the form of key-value pairs where keys are resource IDs and the values show the status of the operation. In case of failures, the value includes an error code and error message.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "DeployedFleetDetails": {
      "id": "DeployedFleetDetails",
      "type": "object",
      "properties": {
        "deployedAutoscaler": {
          "description": "Information about the Agones autoscaler for that fleet.",
          "$ref": "DeployedFleetAutoscaler"
        },
        "deployedFleet": {
          "$ref": "DeployedFleet",
          "description": "Information about the Agones fleet."
        }
      },
      "description": "Details of the deployed Agones fleet."
    },
    "GameServerCluster": {
      "description": "A game server cluster resource.",
      "id": "GameServerCluster",
      "properties": {
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last-modified time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "clusterState": {
          "readOnly": true,
          "description": "Output only. The state of the Kubernetes cluster in preview. This will be available if view is set to FULL in the relevant list/get/preview request.",
          "$ref": "KubernetesClusterState"
        },
        "connectionInfo": {
          "$ref": "GameServerClusterConnectionInfo",
          "description": "The game server cluster connection information. This information is used to manage game server clusters."
        },
        "labels": {
          "description": "The labels associated with this game server cluster. Each label is a key-value pair.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the cluster."
        },
        "name": {
          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`. For example, `projects/my-project/locations/global/realms/zanzibar/gameServerClusters/my-gke-cluster`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The creation time.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object"
    },
    "GkeClusterReference": {
      "id": "GkeClusterReference",
      "type": "object",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "The full or partial name of a GKE cluster, using one of the following forms: * `projects/{project}/locations/{locationId}/clusters/{cluster}` * `locations/{locationId}/clusters/{cluster}` * `{cluster}` If project and location are not specified, the project and location of the GameServerCluster resource are used to generate the full name of the GKE cluster."
        }
      },
      "description": "A reference to a GKE cluster."
    },
    "Condition": {
      "description": "A condition to be met.",
      "type": "object",
      "id": "Condition",
      "properties": {
        "iam": {
          "enumDescriptions": [
            "Default non-attribute.",
            "Either principal or (if present) authority selector.",
            "The principal (even if an authority selector is present), which must only be used for attribution, not authorization.",
            "Any of the security realms in the IAMContext (go/security-realms). When used with IN, the condition indicates \"any of the request's realms match one of the given values; with NOT_IN, \"none of the realms match any of the given values\". Note that a value can be: - 'self' (i.e., allow connections from clients that are in the same security realm, which is currently but not guaranteed to be campus-sized) - 'self:metro' (i.e., clients that are in the same metro) - 'self:cloud-region' (i.e., allow connections from clients that are in the same cloud region) - 'self:prod-region' (i.e., allow connections from clients that are in the same prod region) - 'guardians' (i.e., allow connections from its guardian realms. See go/security-realms-glossary#guardian for more information.) - a realm (e.g., 'campus-abc') - a realm group (e.g., 'realms-for-borg-cell-xx', see: go/realm-groups) A match is determined by a realm group membership check performed by a RealmAclRep object (go/realm-acl-howto). It is not permitted to grant access based on the *absence* of a realm, so realm conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).",
            "An approver (distinct from the requester) that has authorized this request. When used with IN, the condition indicates that one of the approvers associated with the request matches the specified principal, or is a member of the specified group. Approvers can only grant additional access, and are thus only used in a strictly positive context (e.g. ALLOW/IN or DENY/NOT_IN).",
            "What types of justifications have been supplied with this request. String values should match enum names from security.credentials.JustificationType, e.g. \"MANUAL_STRING\". It is not permitted to grant access based on the *absence* of a justification, so justification conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN). Multiple justifications, e.g., a Buganizer ID and a manually-entered reason, are normal and supported.",
            "What type of credentials have been supplied with this request. String values should match enum names from security_loas_l2.CredentialsType - currently, only CREDS_TYPE_EMERGENCY is supported. It is not permitted to grant access based on the *absence* of a credentials type, so the conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).",
            "EXPERIMENTAL -- DO NOT USE. The conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN)."
          ],
          "description": "Trusted attributes supplied by the IAM system.",
          "enum": [
            "NO_ATTR",
            "AUTHORITY",
            "ATTRIBUTION",
            "SECURITY_REALM",
            "APPROVER",
            "JUSTIFICATION_TYPE",
            "CREDENTIALS_TYPE",
            "CREDS_ASSERTION"
          ],
          "type": "string"
        },
        "sys": {
          "description": "Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.",
          "enumDescriptions": [
            "Default non-attribute type",
            "Region of the resource",
            "Service name",
            "Resource name",
            "IP address of the caller"
          ],
          "enum": [
            "NO_ATTR",
            "REGION",
            "SERVICE",
            "NAME",
            "IP"
          ],
          "type": "string"
        },
        "op": {
          "enum": [
            "NO_OP",
            "EQUALS",
            "NOT_EQUALS",
            "IN",
            "NOT_IN",
            "DISCHARGED"
          ],
          "type": "string",
          "description": "An operator to apply the subject with.",
          "enumDescriptions": [
            "Default no-op.",
            "DEPRECATED. Use IN instead.",
            "DEPRECATED. Use NOT_IN instead.",
            "The condition is true if the subject (or any element of it if it is a set) matches any of the supplied values.",
            "The condition is true if the subject (or every element of it if it is a set) matches none of the supplied values.",
            "Subject is discharged"
          ]
        },
        "svc": {
          "type": "string",
          "description": "Trusted attributes discharged by the service."
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The objects of the condition."
        }
      }
    },
    "PreviewCreateGameServerClusterResponse": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        },
        "clusterState": {
          "description": "Output only. The state of the Kubernetes cluster in preview. This will be available if view is set to FULL in the relevant list/get/preview request.",
          "$ref": "KubernetesClusterState",
          "readOnly": true
        },
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        }
      },
      "description": "Response message for GameServerClustersService.PreviewCreateGameServerCluster.",
      "id": "PreviewCreateGameServerClusterResponse"
    },
    "TargetState": {
      "properties": {
        "details": {
          "description": "Details about Agones fleets.",
          "items": {
            "$ref": "TargetDetails"
          },
          "type": "array"
        }
      },
      "description": "Encapsulates the Target state.",
      "type": "object",
      "id": "TargetState"
    },
    "FetchDeploymentStateRequest": {
      "id": "FetchDeploymentStateRequest",
      "description": "Request message for GameServerDeploymentsService.FetchDeploymentState.",
      "properties": {},
      "type": "object"
    },
    "PreviewUpdateGameServerClusterResponse": {
      "properties": {
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the game server cluster."
        }
      },
      "type": "object",
      "description": "Response message for GameServerClustersService.PreviewUpdateGameServerCluster",
      "id": "PreviewUpdateGameServerClusterResponse"
    },
    "FetchDeploymentStateResponse": {
      "description": "Response message for GameServerDeploymentsService.FetchDeploymentState.",
      "properties": {
        "clusterState": {
          "description": "The state of the game server deployment in each game server cluster.",
          "type": "array",
          "items": {
            "$ref": "DeployedClusterState"
          }
        },
        "unavailable": {
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "FetchDeploymentStateResponse",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "LogConfig": {
      "id": "LogConfig",
      "type": "object",
      "description": "Specifies what kind of log the caller must write",
      "properties": {
        "dataAccess": {
          "$ref": "DataAccessOptions",
          "description": "Data access options."
        },
        "counter": {
          "$ref": "CounterOptions",
          "description": "Counter options."
        },
        "cloudAudit": {
          "$ref": "CloudAuditOptions",
          "description": "Cloud audit options."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    }
  },
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "gameServerDeployments": {
              "methods": {
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "path": "v1beta/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:getIamPolicy",
                  "id": "gameservices.projects.locations.gameServerDeployments.getIamPolicy",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field."
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "patch": {
                  "id": "gameservices.projects.locations.gameServerDeployments.patch",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Patches a game server deployment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Required. The update mask to apply to the resource. At least one path must be supplied in this field. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "description": "The resource name of the game server deployment, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1beta/{+name}",
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH"
                },
                "fetchDeploymentState": {
                  "request": {
                    "$ref": "FetchDeploymentStateRequest"
                  },
                  "path": "v1beta/{+name}:fetchDeploymentState",
                  "response": {
                    "$ref": "FetchDeploymentStateResponse"
                  },
                  "description": "Retrieves information about the current state of the game server deployment. Gathers all the Agones fleets and Agones autoscalers, including fleets running an older version of the game server deployment.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the game server deployment, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "gameservices.projects.locations.gameServerDeployments.fetchDeploymentState",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:fetchDeploymentState"
                },
                "testIamPermissions": {
                  "path": "v1beta/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:testIamPermissions",
                  "id": "gameservices.projects.locations.gameServerDeployments.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
                    }
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the game server deployment to delete, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single game server deployment.",
                  "id": "gameservices.projects.locations.gameServerDeployments.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/{+name}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "deploymentId": {
                      "location": "query",
                      "description": "Required. The ID of the game server deployment resource to create.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "description": "Creates a new game server deployment in a given project and location.",
                  "id": "gameservices.projects.locations.gameServerDeployments.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/{+parent}/gameServerDeployments",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                  "httpMethod": "POST"
                },
                "updateRollout": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Required. The update mask to apply to the resource. At least one path must be supplied in this field. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`."
                    }
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.updateRollout",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Patches a single game server deployment rollout. The method will not return an error if the update does not affect any existing realms. For example, the following cases will not return an error: * The default_game_server_config is changed but all existing realms use the override. * A non-existing realm is explicitly called out in the game_server_config_overrides field.",
                  "request": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}/rollout"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "gameservices.projects.locations.gameServerDeployments.get",
                  "description": "Gets details of a single game server deployment.",
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "GameServerDeployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the game server deployment to retrieve, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}"
                },
                "previewRollout": {
                  "response": {
                    "$ref": "PreviewGameServerDeploymentRolloutResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "path": "v1beta/{+name}/rollout:preview",
                  "description": "Previews the game server deployment rollout. This API does not mutate the rollout resource.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout:preview",
                  "parameters": {
                    "previewTime": {
                      "location": "query",
                      "description": "Optional. The target timestamp to compute the preview. Defaults to the immediately after the proposed rollout completes.",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`."
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. The update mask to apply to the resource. At least one path must be supplied in this field. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "gameservices.projects.locations.gameServerDeployments.previewRollout"
                },
                "setIamPolicy": {
                  "path": "v1beta/{+resource}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "gameservices.projects.locations.gameServerDeployments.list",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/gameServerDeployments",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Specifies the ordering of results following [Cloud API syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order).",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, the server picks an appropriate default. The server may return fewer items than requested. A caller should only rely on the response's next_page_token to determine if there are more GameServerDeployments left to be queried.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list request, if any."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filter to apply to list results (see [Filtering](https://google.aip.dev/160))."
                    }
                  },
                  "response": {
                    "$ref": "ListGameServerDeploymentsResponse"
                  },
                  "description": "Lists game server deployments in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getRollout": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the game server deployment rollout to retrieve, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/rollout`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}/rollout",
                  "httpMethod": "GET",
                  "id": "gameservices.projects.locations.gameServerDeployments.getRollout",
                  "description": "Gets details of a single game server deployment rollout.",
                  "response": {
                    "$ref": "GameServerDeploymentRollout"
                  }
                }
              },
              "resources": {
                "configs": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "configId": {
                          "location": "query",
                          "description": "Required. The ID of the game server config resource to create.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GameServerConfig"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.create",
                      "description": "Creates a new game server config in a given project, location, and game server deployment. Game server configs are immutable, and are not applied until referenced in the game server deployment rollout resource.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs",
                      "path": "v1beta/{+parent}/configs"
                    },
                    "delete": {
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+/configs/[^/]+$",
                          "description": "Required. The name of the game server config to delete, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/{configId}`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Deletes a single game server config. The deletion fails if the game server config is referenced in a game server deployment rollout.",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs/{configsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the game server config to retrieve, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/{configId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+/configs/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.get",
                      "description": "Gets details of a single game server config.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs/{configsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GameServerConfig"
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.list",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list request, if any.",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. The filter to apply to list results (see [Filtering](https://google.aip.dev/160)).",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/*`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "orderBy": {
                          "description": "Optional. Specifies the ordering of results following [Cloud API syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order).",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return. If unspecified, the server picks an appropriate default. The server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerConfigs left to be queried.",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "ListGameServerConfigsResponse"
                      },
[...]
