{
  "documentationLink": "https://cloud.google.com/solutions/gaming/",
  "baseUrl": "https://gameservices.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://gameservices.mtls.googleapis.com/",
  "rootUrl": "https://gameservices.googleapis.com/",
  "version": "v1beta",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Game Services API",
  "ownerName": "Google",
  "revision": "20220504",
  "canonicalName": "Game Services",
  "ownerDomain": "google.com",
  "description": "Deploy and manage infrastructure for global multiplayer gaming experiences.",
  "id": "gameservices:v1beta",
  "servicePath": "",
  "protocol": "rest",
  "version_module": true,
  "discoveryVersion": "v1",
  "schemas": {
    "Realm": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation time.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Human readable description of the realm.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last-modified time."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`. For example, `projects/my-project/locations/global/realms/my-realm`."
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this realm. Each label is a key-value pair.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Time zone where all policies targeting this realm are evaluated. The value of this field must be from the [IANA time zone database](https://www.iana.org/time-zones)."
        }
      },
      "type": "object",
      "id": "Realm",
      "description": "A realm resource."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "CustomField": {
      "id": "CustomField",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value is the field value. It is important that in contrast to the CounterOptions.field, the value here is a constant that is not derived from the IAMContext."
        },
        "name": {
          "description": "Name is the field name.",
          "type": "string"
        }
      },
      "description": "Custom fields. These can be used to create a counter with arbitrary field/value pairs. See: go/rpcsp-custom-fields."
    },
    "FleetConfig": {
      "id": "FleetConfig",
      "description": "Fleet configs for Agones.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the FleetConfig."
        },
        "fleetSpec": {
          "type": "string",
          "description": "Agones fleet spec (see [example spec](https://agones.dev/site/docs/reference/fleet/))."
        }
      }
    },
    "KubernetesClusterState": {
      "description": "The state of the Kubernetes cluster.",
      "id": "KubernetesClusterState",
      "properties": {
        "agonesVersionTargeted": {
          "readOnly": true,
          "description": "Output only. The version of Agones that is targeted to be installed in the cluster.",
          "type": "string"
        },
        "agonesVersionInstalled": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of Agones currently installed in the registered Kubernetes cluster."
        },
        "installationState": {
          "description": "Output only. The state for the installed versions of Agones/Kubernetes.",
          "enum": [
            "INSTALLATION_STATE_UNSPECIFIED",
            "AGONES_KUBERNETES_VERSION_SUPPORTED",
            "AGONES_VERSION_UNSUPPORTED",
            "AGONES_KUBERNETES_VERSION_UNSUPPORTED",
            "AGONES_VERSION_UNRECOGNIZED",
            "KUBERNETES_VERSION_UNRECOGNIZED",
            "VERSION_VERIFICATION_FAILED",
            "AGONES_NOT_INSTALLED"
          ],
          "enumDescriptions": [
            "The default installation state. This value is used if the state is omitted.",
            "Both the Agones and Kubernetes versions are supported by Google Cloud Game Servers and Agones and Kubernetes versions are compatible.",
            "The installed version of Agones is not supported by Google Cloud Game Servers.",
            "The installed version of Agones is supported by Google Cloud Game Servers, but the installed version of Kubernetes is not recommended or supported by the version of Agones.",
            "The installed version of Agones is not recognized because the Agones controller's image name does not have a version string reported as {major}.{minor}(.{patch}).",
            "The server version of Kubernetes cluster is not recognized because the API server didn't return parsable version info on path/version.",
            "Failed to read or verify the version of Agones or Kubernetes. See `version_installed_error_message` for details.",
            "Agones is not installed."
          ],
          "type": "string",
          "readOnly": true
        },
        "provider": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cloud provider type reported by the first node's `providerID` in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-GCP), the provider type will be empty."
        },
        "kubernetesVersionInstalled": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of Kubernetes that is currently used in the registered Kubernetes cluster (as detected by the Cloud Game Servers service)."
        },
        "versionInstalledErrorMessage": {
          "readOnly": true,
          "description": "Output only. The detailed error message for the installed versions of Agones/Kubernetes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListGameServerConfigsResponse": {
      "properties": {
        "unreachable": {
          "description": "List of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "gameServerConfigs": {
          "type": "array",
          "items": {
            "$ref": "GameServerConfig"
          },
          "description": "The list of game server configs."
        }
      },
      "id": "ListGameServerConfigsResponse",
      "description": "Response message for GameServerConfigsService.ListGameServerConfigs.",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "DeployedFleetAutoscaler": {
      "id": "DeployedFleetAutoscaler",
      "description": "Details about the Agones autoscaler.",
      "properties": {
        "autoscaler": {
          "type": "string",
          "description": "The name of the Agones autoscaler."
        },
        "fleetAutoscalerSpec": {
          "description": "The autoscaler spec retrieved from Agones.",
          "type": "string"
        },
        "specSource": {
          "description": "The source spec that is used to create the autoscaler. The GameServerConfig resource may no longer exist in the system.",
          "$ref": "SpecSource"
        }
      },
      "type": "object"
    },
    "PreviewGameServerDeploymentRolloutResponse": {
      "id": "PreviewGameServerDeploymentRolloutResponse",
      "type": "object",
      "description": "Response message for PreviewGameServerDeploymentRollout. This has details about the Agones fleet and autoscaler to be actuated.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the game server deployment."
        },
        "unavailable": {
          "description": "Locations that could not be reached on this request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "FetchDeploymentStateResponse": {
      "id": "FetchDeploymentStateResponse",
      "properties": {
        "clusterState": {
          "type": "array",
          "description": "The state of the game server deployment in each game server cluster.",
          "items": {
            "$ref": "DeployedClusterState"
          }
        },
        "unavailable": {
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for GameServerDeploymentsService.FetchDeploymentState.",
      "type": "object"
    },
    "ListGameServerDeploymentsResponse": {
      "description": "Response message for GameServerDeploymentsService.ListGameServerDeployments.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "gameServerDeployments": {
          "description": "The list of game server deployments.",
          "items": {
            "$ref": "GameServerDeployment"
          },
          "type": "array"
        }
      },
      "id": "ListGameServerDeploymentsResponse",
      "type": "object"
    },
    "DeployedClusterState": {
      "properties": {
        "cluster": {
          "description": "The name of the cluster.",
          "type": "string"
        },
        "fleetDetails": {
          "items": {
            "$ref": "DeployedFleetDetails"
          },
          "description": "The details about the Agones fleets and autoscalers created in the game server cluster.",
          "type": "array"
        }
      },
      "id": "DeployedClusterState",
      "type": "object",
      "description": "The game server cluster changes made by the game server deployment."
    },
    "ListRealmsResponse": {
      "description": "Response message for RealmsService.ListRealms.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of locations that could not be reached."
        },
        "realms": {
          "items": {
            "$ref": "Realm"
          },
          "type": "array",
          "description": "The list of realms."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListRealmsResponse"
    },
    "DeployedFleetDetails": {
      "id": "DeployedFleetDetails",
      "properties": {
        "deployedAutoscaler": {
          "$ref": "DeployedFleetAutoscaler",
          "description": "Information about the Agones autoscaler for that fleet."
        },
        "deployedFleet": {
          "$ref": "DeployedFleet",
          "description": "Information about the Agones fleet."
        }
      },
      "description": "Details of the deployed Agones fleet.",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "bindingId": {
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "Condition": {
      "description": "A condition to be met.",
      "properties": {
        "svc": {
          "description": "Trusted attributes discharged by the service.",
          "type": "string"
        },
        "op": {
          "description": "An operator to apply the subject with.",
          "type": "string",
          "enumDescriptions": [
            "Default no-op.",
            "DEPRECATED. Use IN instead.",
            "DEPRECATED. Use NOT_IN instead.",
            "The condition is true if the subject (or any element of it if it is a set) matches any of the supplied values.",
            "The condition is true if the subject (or every element of it if it is a set) matches none of the supplied values.",
            "Subject is discharged"
          ],
          "enum": [
            "NO_OP",
            "EQUALS",
            "NOT_EQUALS",
            "IN",
            "NOT_IN",
            "DISCHARGED"
          ]
        },
        "sys": {
          "description": "Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.",
          "enumDescriptions": [
            "Default non-attribute type",
            "Region of the resource",
            "Service name",
            "Resource name",
            "IP address of the caller"
          ],
          "type": "string",
          "enum": [
            "NO_ATTR",
            "REGION",
            "SERVICE",
            "NAME",
            "IP"
          ]
        },
        "iam": {
          "enum": [
            "NO_ATTR",
            "AUTHORITY",
            "ATTRIBUTION",
            "SECURITY_REALM",
            "APPROVER",
            "JUSTIFICATION_TYPE",
            "CREDENTIALS_TYPE",
            "CREDS_ASSERTION"
          ],
          "enumDescriptions": [
            "Default non-attribute.",
            "Either principal or (if present) authority selector.",
            "The principal (even if an authority selector is present), which must only be used for attribution, not authorization.",
            "Any of the security realms in the IAMContext (go/security-realms). When used with IN, the condition indicates \"any of the request's realms match one of the given values; with NOT_IN, \"none of the realms match any of the given values\". Note that a value can be: - 'self' (i.e., allow connections from clients that are in the same security realm, which is currently but not guaranteed to be campus-sized) - 'self:metro' (i.e., clients that are in the same metro) - 'self:cloud-region' (i.e., allow connections from clients that are in the same cloud region) - 'self:prod-region' (i.e., allow connections from clients that are in the same prod region) - 'guardians' (i.e., allow connections from its guardian realms. See go/security-realms-glossary#guardian for more information.) - a realm (e.g., 'campus-abc') - a realm group (e.g., 'realms-for-borg-cell-xx', see: go/realm-groups) A match is determined by a realm group membership check performed by a RealmAclRep object (go/realm-acl-howto). It is not permitted to grant access based on the *absence* of a realm, so realm conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).",
            "An approver (distinct from the requester) that has authorized this request. When used with IN, the condition indicates that one of the approvers associated with the request matches the specified principal, or is a member of the specified group. Approvers can only grant additional access, and are thus only used in a strictly positive context (e.g. ALLOW/IN or DENY/NOT_IN).",
            "What types of justifications have been supplied with this request. String values should match enum names from security.credentials.JustificationType, e.g. \"MANUAL_STRING\". It is not permitted to grant access based on the *absence* of a justification, so justification conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN). Multiple justifications, e.g., a Buganizer ID and a manually-entered reason, are normal and supported.",
            "What type of credentials have been supplied with this request. String values should match enum names from security_loas_l2.CredentialsType - currently, only CREDS_TYPE_EMERGENCY is supported. It is not permitted to grant access based on the *absence* of a credentials type, so the conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).",
            "EXPERIMENTAL -- DO NOT USE. The conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN)."
          ],
          "type": "string",
          "description": "Trusted attributes supplied by the IAM system."
        },
        "values": {
          "type": "array",
          "description": "The objects of the condition.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Condition"
    },
    "TargetFleetDetails": {
      "description": "Details of the target Agones fleet.",
      "id": "TargetFleetDetails",
      "type": "object",
      "properties": {
        "fleet": {
          "$ref": "TargetFleet",
          "description": "Reference to target Agones fleet."
        },
        "autoscaler": {
          "$ref": "TargetFleetAutoscaler",
          "description": "Reference to target Agones fleet autoscaling policy."
        }
      }
    },
    "ListGameServerClustersResponse": {
      "description": "Response message for GameServerClustersService.ListGameServerClusters.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached.",
          "type": "array"
        },
        "gameServerClusters": {
          "items": {
            "$ref": "GameServerCluster"
          },
          "type": "array",
          "description": "The list of game server clusters."
        }
      },
      "id": "ListGameServerClustersResponse",
      "type": "object"
    },
    "TargetFleetAutoscaler": {
      "id": "TargetFleetAutoscaler",
      "properties": {
        "specSource": {
          "$ref": "SpecSource",
          "description": "Encapsulates the source of the Agones fleet spec. Details about the Agones autoscaler spec."
        },
        "name": {
          "description": "The name of the Agones autoscaler.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Target Agones autoscaler policy reference."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "operationStatus": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "OperationStatus"
          },
          "description": "Output only. Operation status for Game Services API operations. Operation status is in the form of key-value pairs where keys are resource IDs and the values show the status of the operation. In case of failures, the value includes an error code and error message."
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of Locations that could not be reached.",
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "CounterOptions": {
      "properties": {
        "field": {
          "type": "string",
          "description": "The field value to attribute."
        },
        "customFields": {
          "description": "Custom fields.",
          "type": "array",
          "items": {
            "$ref": "CustomField"
          }
        },
        "metric": {
          "description": "The metric to update.",
          "type": "string"
        }
      },
      "description": "Increment a streamz counter with the specified metric and field names. Metric names should start with a '/', generally be lowercase-only, and end in \"_count\". Field names should not contain an initial slash. The actual exported metric names will have \"/iam/policy\" prepended. Field names correspond to IAM request parameters and field values are their respective values. Supported field names: - \"authority\", which is \"[token]\" if IAMContext.token is present, otherwise the value of IAMContext.authority_selector if present, and otherwise a representation of IAMContext.principal; or - \"iam_principal\", a representation of IAMContext.principal even if a token or authority selector is present; or - \"\" (empty string), resulting in a counter with no fields. Examples: counter { metric: \"/debug_access_count\" field: \"iam_principal\" } ==\u003e increment counter /iam/policy/debug_access_count {iam_principal=[value of IAMContext.principal]}",
      "id": "CounterOptions",
      "type": "object"
    },
    "LabelSelector": {
      "id": "LabelSelector",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Resource labels for this selector.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The label selector, used to group labels on the resources."
    },
    "GameServerCluster": {
      "type": "object",
      "id": "GameServerCluster",
      "description": "A game server cluster resource.",
      "properties": {
        "clusterState": {
          "description": "Output only. The state of the Kubernetes cluster in preview. This will be available if view is set to FULL in the relevant list/get/preview request.",
          "readOnly": true,
          "$ref": "KubernetesClusterState"
        },
        "labels": {
          "description": "The labels associated with this game server cluster. Each label is a key-value pair.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last-modified time."
        },
        "description": {
          "description": "Human readable description of the cluster.",
          "type": "string"
        },
        "name": {
          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`. For example, `projects/my-project/locations/global/realms/zanzibar/gameServerClusters/my-gke-cluster`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "connectionInfo": {
          "$ref": "GameServerClusterConnectionInfo",
          "description": "The game server cluster connection information. This information is used to manage game server clusters."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "PreviewUpdateGameServerClusterResponse": {
      "type": "object",
      "description": "Response message for GameServerClustersService.PreviewUpdateGameServerCluster",
      "id": "PreviewUpdateGameServerClusterResponse",
      "properties": {
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        },
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        }
      }
    },
    "DeployedFleet": {
      "description": "Agones fleet specification and details.",
      "properties": {
        "specSource": {
          "description": "The source spec that is used to create the Agones fleet. The GameServerConfig resource may no longer exist in the system.",
          "$ref": "SpecSource"
        },
        "status": {
          "description": "The current status of the Agones fleet. Includes count of game servers in various states.",
          "$ref": "DeployedFleetStatus"
        },
        "fleetSpec": {
          "type": "string",
          "description": "The fleet spec retrieved from the Agones fleet."
        },
        "fleet": {
          "description": "The name of the Agones fleet.",
          "type": "string"
        }
      },
      "id": "DeployedFleet",
      "type": "object"
    },
    "Rule": {
      "id": "Rule",
      "properties": {
        "permissions": {
          "description": "A permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*' matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches all verbs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "action": {
          "enum": [
            "NO_ACTION",
            "ALLOW",
            "ALLOW_WITH_LOG",
            "DENY",
            "DENY_WITH_LOG",
            "LOG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default no action.",
            "Matching 'Entries' grant access.",
            "Matching 'Entries' grant access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' deny access.",
            "Matching 'Entries' deny access and the caller promises to log the request per the returned log_configs.",
            "Matching 'Entries' tell IAM.Check callers to generate logs."
          ],
          "description": "Required"
        },
        "in": {
          "description": "If one or more 'in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in at least one of these entries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logConfig": {
          "type": "array",
          "description": "The config returned to callers of CheckPolicy for any entries that match the LOG action.",
          "items": {
            "$ref": "LogConfig"
          }
        },
        "notIn": {
          "description": "If one or more 'not_in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in none of the entries. The format for in and not_in entries can be found at in the Local IAM documentation (see go/local-iam#features).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the rule."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Additional restrictions that must be met. All conditions must pass for the rule to match."
        }
      },
      "description": "A rule to be applied in a Policy.",
      "type": "object"
    },
    "TargetDetails": {
      "properties": {
        "gameServerClusterName": {
          "type": "string",
          "description": "The game server cluster name. Uses the form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`."
        },
        "fleetDetails": {
          "description": "Agones fleet details for game server clusters and game server deployments.",
          "items": {
            "$ref": "TargetFleetDetails"
          },
          "type": "array"
        },
        "gameServerDeploymentName": {
          "description": "The game server deployment name. Uses the form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`.",
          "type": "string"
        }
      },
      "description": "Details about the Agones resources.",
      "id": "TargetDetails",
      "type": "object"
    },
    "DeployedFleetStatus": {
      "type": "object",
      "id": "DeployedFleetStatus",
      "properties": {
        "allocatedReplicas": {
          "type": "string",
          "format": "int64",
          "description": "The number of GameServer replicas in the ALLOCATED state in this fleet."
        },
        "replicas": {
          "description": "The total number of current GameServer replicas in this fleet.",
          "type": "string",
          "format": "int64"
        },
        "readyReplicas": {
          "format": "int64",
          "type": "string",
          "description": "The number of GameServer replicas in the READY state in this fleet."
        },
        "reservedReplicas": {
          "format": "int64",
          "type": "string",
          "description": "The number of GameServer replicas in the RESERVED state in this fleet. Reserved instances won't be deleted on scale down, but won't cause an autoscaler to scale up."
        }
      },
      "description": "DeployedFleetStatus has details about the Agones fleets, such as how many are running, how many are allocated, and so on."
    },
    "GameServerDeployment": {
      "type": "object",
      "id": "GameServerDeployment",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "name": {
          "description": "The resource name of the game server deployment, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment`.",
          "type": "string"
        },
        "description": {
          "description": "Human readable description of the game server deployment.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last-modified time.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this game server deployment. Each label is a key-value pair."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The creation time.",
          "readOnly": true
        }
      },
      "description": "A game server deployment resource."
    },
    "PreviewDeleteGameServerClusterResponse": {
      "id": "PreviewDeleteGameServerClusterResponse",
      "properties": {
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the game server cluster."
        }
      },
      "type": "object",
      "description": "Response message for GameServerClustersService.PreviewDeleteGameServerCluster."
    },
    "GkeClusterReference": {
      "description": "A reference to a GKE cluster.",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "The full or partial name of a GKE cluster, using one of the following forms: * `projects/{project}/locations/{locationId}/clusters/{cluster}` * `locations/{locationId}/clusters/{cluster}` * `{cluster}` If project and location are not specified, the project and location of the GameServerCluster resource are used to generate the full name of the GKE cluster."
        }
      },
      "type": "object",
      "id": "GkeClusterReference"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "GameServerDeploymentRollout": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The creation time."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last-modified time."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`."
        },
        "gameServerConfigOverrides": {
          "description": "Contains the game server config rollout overrides. Overrides are processed in the order they are listed. Once a match is found for a realm, the rest of the list is not processed.",
          "type": "array",
          "items": {
            "$ref": "GameServerConfigOverride"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "defaultGameServerConfig": {
          "description": "The default game server config is applied to all realms unless overridden in the rollout. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The game server deployment rollout which represents the desired rollout state.",
      "id": "GameServerDeploymentRollout"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "AuthorizationLoggingOptions": {
      "type": "object",
      "description": "Authorization-related information used by Cloud Audit Logging.",
      "id": "AuthorizationLoggingOptions",
      "properties": {
        "permissionType": {
          "description": "The type of the permission that was checked.",
          "enumDescriptions": [
            "Default. Should not be used.",
            "A read of admin (meta) data.",
            "A write of admin (meta) data.",
            "A read of standard data.",
            "A write of standard data."
          ],
          "type": "string",
          "enum": [
            "PERMISSION_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "ADMIN_WRITE",
            "DATA_READ",
            "DATA_WRITE"
          ]
        }
      }
    },
    "Schedule": {
      "description": "The schedule of a recurring or one time event. The event's time span is specified by start_time and end_time. If the scheduled event's timespan is larger than cron_spec added with cron_job_duration, the event is recurring. If only cron_spec and cron_job_duration are specified, the event starts at the local time specified by cron_spec, and is recurring. ``` start_time|-------[cron job]-------[cron job]-------[cron job]---|end_time cron job: cron spec start time + duration ```",
      "type": "object",
      "properties": {
        "cronSpec": {
          "description": "The cron definition of the scheduled event. See https://en.wikipedia.org/wiki/Cron. The cron spec specifies the local time as defined by the realm.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The end time of the event.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The start time of the event.",
          "type": "string",
          "format": "google-datetime"
        },
        "cronJobDuration": {
          "description": "The duration for the cron job event. The duration of the event is effective after the cron job's start time.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "Schedule"
    },
    "OperationStatus": {
      "properties": {
        "done": {
          "description": "Output only. Whether the operation is done or still in progress.",
          "type": "boolean",
          "readOnly": true
        },
        "errorMessage": {
          "description": "The human-readable error message.",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "description": "The error code in case of failures.",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INTERNAL_ERROR",
            "PERMISSION_DENIED",
            "CLUSTER_CONNECTION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "OperationStatus",
      "type": "object"
    },
    "FetchDeploymentStateRequest": {
      "description": "Request message for GameServerDeploymentsService.FetchDeploymentState.",
      "type": "object",
      "properties": {},
      "id": "FetchDeploymentStateRequest"
    },
    "GameServerClusterConnectionInfo": {
      "type": "object",
      "properties": {
        "namespace": {
          "description": "Namespace designated on the game server cluster where the Agones game server instances will be created. Existence of the namespace will be validated during creation.",
          "type": "string"
        },
        "gkeClusterReference": {
          "$ref": "GkeClusterReference",
          "description": "Reference to the GKE cluster where the game servers are installed."
        }
      },
      "id": "GameServerClusterConnectionInfo",
      "description": "The game server cluster connection information."
    },
    "DataAccessOptions": {
      "properties": {
        "logMode": {
          "enum": [
            "LOG_MODE_UNSPECIFIED",
            "LOG_FAIL_CLOSED"
          ],
          "enumDescriptions": [
            "Client is not required to write a partial Gin log immediately after the authorization check. If client chooses to write one and it fails, client may either fail open (allow the operation to continue) or fail closed (handle as a DENY outcome).",
            "The application's operation in the context of which this authorization check is being made may only be performed if it is successfully logged to Gin. For instance, the authorization library may satisfy this obligation by emitting a partial log entry at authorization check time and only returning ALLOW to the application if it succeeds. If a matching Rule has this directive, but the client has not indicated that it will honor such requirements, then the IAM check will result in authorization failure by setting CheckPolicyResponse.success=false."
          ],
          "type": "string"
        }
      },
      "id": "DataAccessOptions",
      "type": "object",
      "description": "Write a Data Access (Gin) log"
    },
    "GameServerConfig": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last-modified time.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The creation time.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the game server config, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/{configId}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`."
        },
        "fleetConfigs": {
          "description": "FleetConfig contains a list of Agones fleet specs. Only one FleetConfig is allowed.",
          "items": {
            "$ref": "FleetConfig"
          },
          "type": "array"
        },
        "scalingConfigs": {
          "type": "array",
          "items": {
            "$ref": "ScalingConfig"
          },
          "description": "The autoscaling settings."
        },
        "labels": {
          "description": "The labels associated with this game server config. Each label is a key-value pair.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "The description of the game server config."
        }
      },
      "id": "GameServerConfig",
      "description": "A game server config resource."
    },
    "TargetState": {
      "description": "Encapsulates the Target state.",
      "type": "object",
      "id": "TargetState",
      "properties": {
        "details": {
          "type": "array",
          "description": "Details about Agones fleets.",
          "items": {
            "$ref": "TargetDetails"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "CloudAuditOptions": {
      "description": "Write a Cloud Audit log",
      "properties": {
        "logName": {
          "type": "string",
          "enumDescriptions": [
            "Default. Should not be used.",
            "Corresponds to \"cloudaudit.googleapis.com/activity\"",
            "Corresponds to \"cloudaudit.googleapis.com/data_access\""
          ],
          "enum": [
            "UNSPECIFIED_LOG_NAME",
            "ADMIN_ACTIVITY",
            "DATA_ACCESS"
          ],
          "description": "The log_name to populate in the Cloud Audit Record."
        },
        "authorizationLoggingOptions": {
          "description": "Information used by the Cloud Audit Logging pipeline.",
          "$ref": "AuthorizationLoggingOptions"
        }
      },
      "id": "CloudAuditOptions",
      "type": "object"
    },
    "ScalingConfig": {
      "type": "object",
      "description": "Autoscaling config for an Agones fleet.",
      "id": "ScalingConfig",
      "properties": {
        "selectors": {
          "description": "Labels used to identify the game server clusters to which this Agones scaling config applies. A game server cluster is subject to this Agones scaling config if its labels match any of the selector entries.",
          "items": {
            "$ref": "LabelSelector"
          },
          "type": "array"
        },
        "schedules": {
          "description": "The schedules to which this scaling config applies.",
          "type": "array",
          "items": {
            "$ref": "Schedule"
          }
        },
        "fleetAutoscalerSpec": {
          "type": "string",
          "description": "Required. Agones fleet autoscaler spec (see [example spec](https://agones.dev/site/docs/reference/fleetautoscaler/))."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the scaling config."
        }
      }
    },
    "PreviewRealmUpdateResponse": {
      "type": "object",
      "description": "Response message for RealmsService.PreviewRealmUpdate.",
      "id": "PreviewRealmUpdateResponse",
      "properties": {
        "etag": {
          "description": "ETag of the realm.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "LogConfig": {
      "type": "object",
      "properties": {
        "dataAccess": {
          "$ref": "DataAccessOptions",
          "description": "Data access options."
        },
        "counter": {
          "$ref": "CounterOptions",
          "description": "Counter options."
        },
        "cloudAudit": {
          "description": "Cloud audit options.",
          "$ref": "CloudAuditOptions"
        }
      },
      "description": "Specifies what kind of log the caller must write",
      "id": "LogConfig"
    },
    "PreviewCreateGameServerClusterResponse": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        },
        "clusterState": {
          "description": "Output only. The state of the Kubernetes cluster in preview. This will be available if view is set to FULL in the relevant list/get/preview request.",
          "readOnly": true,
          "$ref": "KubernetesClusterState"
        },
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        }
      },
      "id": "PreviewCreateGameServerClusterResponse",
      "description": "Response message for GameServerClustersService.PreviewCreateGameServerCluster."
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "ignoreChildExemptions": {
          "type": "boolean"
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuditLogConfig"
    },
    "TargetFleet": {
      "id": "TargetFleet",
      "properties": {
        "specSource": {
          "description": "Encapsulates the source of the Agones fleet spec. The Agones fleet spec source.",
          "$ref": "SpecSource"
        },
        "name": {
          "type": "string",
          "description": "The name of the Agones fleet."
        }
      },
      "type": "object",
      "description": "Target Agones fleet specification."
    },
    "SpecSource": {
      "description": "Encapsulates Agones fleet spec and Agones autoscaler spec sources.",
      "id": "SpecSource",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Agones fleet config or Agones scaling config used to derive the Agones fleet or Agones autoscaler spec.",
          "type": "string"
        },
        "gameServerConfigName": {
          "type": "string",
          "description": "The game server config resource. Uses the form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/{configId}`."
        }
      }
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "rules": {
          "description": "If more than one rule is specified, the rules are applied in the following manner: - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches, permission is denied. Logging will be applied if one or more matching rule requires logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted. Logging will be applied if one or more matching rule requires logging. - Otherwise, if no rule applies, permission is denied.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AuditConfig"
    },
    "GameServerConfigOverride": {
      "type": "object",
      "description": "A game server config override.",
      "id": "GameServerConfigOverride",
      "properties": {
        "realmsSelector": {
          "description": "Selector for choosing applicable realms.",
          "$ref": "RealmSelector"
        },
        "configVersion": {
          "description": "The game server config for this override.",
          "type": "string"
        }
      }
    },
    "RealmSelector": {
      "description": "The realm selector, used to match realm resources.",
      "type": "object",
      "properties": {
        "realms": {
          "description": "List of realms to match.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RealmSelector"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "basePath": "",
  "name": "gameservices",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "path": "v1beta/{+name}/locations",
              "httpMethod": "GET",
              "id": "gameservices.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "includeUnrevealedLocations": {
                  "type": "boolean",
                  "description": "If true, the returned list will include locations which are not yet revealed.",
                  "location": "query"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "gameservices.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "realms": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Realm"
                  },
                  "path": "v1beta/{+name}",
                  "id": "gameservices.projects.locations.realms.get",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "Required. The name of the realm to retrieve, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single realm."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the realm to delete, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "id": "gameservices.projects.locations.realms.delete",
                  "description": "Deletes a single realm.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Realm"
                  },
                  "id": "gameservices.projects.locations.realms.create",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "realmId": {
                      "location": "query",
                      "description": "Required. The ID of the realm resource to create.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/realms",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new realm in a given project and location."
                },
                "patch": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`. For example, `projects/my-project/locations/global/realms/my-realm`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. The update mask to apply to the resource. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "gameservices.projects.locations.realms.patch",
                  "request": {
                    "$ref": "Realm"
                  },
                  "path": "v1beta/{+name}",
                  "description": "Patches a single realm.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The filter to apply to list results (see [Filtering](https://google.aip.dev/160))."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous list request, if any."
                    },
                    "orderBy": {
                      "description": "Optional. Specifies the ordering of results following [Cloud API syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}`.",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, the server picks an appropriate default. The server may return fewer items than requested. A caller should only rely on the response's next_page_token to determine if there are more realms left to be queried.",
                      "type": "integer"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/realms",
                  "response": {
                    "$ref": "ListRealmsResponse"
                  },
                  "description": "Lists realms in a given project and location.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.realms.list"
                },
                "previewUpdate": {
                  "description": "Previews patches to a single realm.",
                  "path": "v1beta/{+name}:previewUpdate",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}:previewUpdate",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "type": "string",
                      "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`. For example, `projects/my-project/locations/global/realms/my-realm`.",
                      "location": "path",
                      "required": true
                    },
                    "previewTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The target timestamp to compute the preview."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The update mask to apply to the resource. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "gameservices.projects.locations.realms.previewUpdate",
                  "request": {
                    "$ref": "Realm"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PreviewRealmUpdateResponse"
                  }
                }
              },
              "resources": {
                "gameServerClusters": {
                  "methods": {
                    "previewUpdate": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "previewTime": {
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime",
                          "description": "Optional. The target timestamp to compute the preview."
                        },
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`. For example, `projects/my-project/locations/global/realms/zanzibar/gameServerClusters/my-gke-cluster`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewUpdate",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}:previewUpdate",
                      "response": {
                        "$ref": "PreviewUpdateGameServerClusterResponse"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewUpdate",
                      "description": "Previews updating a GameServerCluster."
                    },
                    "create": {
                      "id": "gameservices.projects.locations.realms.gameServerClusters.create",
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/gameServerClusters",
                      "description": "Creates a new game server cluster in a given project and location.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "gameServerClusterId": {
                          "type": "string",
                          "description": "Required. The ID of the game server cluster resource to create.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "description": "Patches a single game server cluster.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "gameservices.projects.locations.realms.gameServerClusters.patch",
                      "parameters": {
                        "updateMask": {
                          "description": "Required. The update mask to apply to the resource. At least one path must be supplied in this field. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`. For example, `projects/my-project/locations/global/realms/zanzibar/gameServerClusters/my-gke-cluster`.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "description": "Required. The name of the game server cluster to retrieve, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`.",
                          "required": true,
                          "type": "string"
                        },
                        "view": {
                          "type": "string",
                          "enumDescriptions": [
                            "If the value is not set, Google Cloud Game Servers defaults to the `BASIC` view.",
                            "Includes basic information of a GameServerCluster resource and omits `cluster_state`. This is the default value (for methods ListGameServerClusters, GetGameServerCluster, and PreviewCreateGameServerCluster).",
                            "Include basic information of a GameServerCluster resource as well as `cluster_state`."
                          ],
                          "description": "Optional. View for the returned GameServerCluster objects. When `FULL` is specified, the `cluster_state` field is also returned in the GameServerCluster object, which includes the state of the referenced Kubernetes cluster such as versions and provider info. The default/unset value is `GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED`, the same as `BASIC`, which does not return the `cluster_state` field.",
                          "location": "query",
                          "enum": [
                            "GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "response": {
                        "$ref": "GameServerCluster"
                      },
                      "httpMethod": "GET",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.get",
                      "description": "Gets details of a single game server cluster."
                    },
                    "list": {
                      "response": {
                        "$ref": "ListGameServerClustersResponse"
                      },
                      "path": "v1beta/{+parent}/gameServerClusters",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists game server clusters in a given project and location.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. The next_page_token value returned from a previous list request, if any.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The filter to apply to list results (see [Filtering](https://google.aip.dev/160))."
                        },
                        "parent": {
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return. If unspecified, the server picks an appropriate default. The server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerClusters left to be queried.",
                          "location": "query",
                          "type": "integer"
                        },
                        "view": {
                          "type": "string",
                          "enum": [
                            "GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "enumDescriptions": [
                            "If the value is not set, Google Cloud Game Servers defaults to the `BASIC` view.",
                            "Includes basic information of a GameServerCluster resource and omits `cluster_state`. This is the default value (for methods ListGameServerClusters, GetGameServerCluster, and PreviewCreateGameServerCluster).",
                            "Include basic information of a GameServerCluster resource as well as `cluster_state`."
                          ],
                          "location": "query",
                          "description": "Optional. View for the returned GameServerCluster objects. When `FULL` is specified, the `cluster_state` field is also returned in the GameServerCluster object, which includes the state of the referenced Kubernetes cluster such as versions and provider info. The default/unset value is `GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED`, the same as `BASIC`, which does not return the `cluster_state` field."
                        },
                        "orderBy": {
                          "location": "query",
[...]
