{
  "id": "gameservices:v1",
  "version": "v1",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "revision": "20220504",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Game Services",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "rootUrl": "https://gameservices.googleapis.com/",
  "name": "gameservices",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/solutions/gaming/",
  "description": "Deploy and manage infrastructure for global multiplayer gaming experiences.",
  "mtlsRootUrl": "https://gameservices.mtls.googleapis.com/",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "includeUnrevealedLocations": {
                  "location": "query",
                  "description": "If true, the returned list will include locations which are not yet revealed.",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service.",
              "id": "gameservices.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "gameservices.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "gameservices.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "gameservices.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "gameservices.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations"
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "id": "gameservices.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "realms": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/realms",
                  "description": "Lists realms in a given project and location.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The filter to apply to list results (see [Filtering](https://google.aip.dev/160))."
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous list request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specifies the ordering of results following [Cloud API syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order).",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, the server picks an appropriate default. The server may return fewer items than requested. A caller should only rely on the response's next_page_token to determine if there are more realms left to be queried.",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}`.",
                      "location": "path"
                    }
                  },
                  "id": "gameservices.projects.locations.realms.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRealmsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "id": "gameservices.projects.locations.realms.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Realm"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Patches a single realm.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`. For example, `projects/my-project/locations/global/realms/my-realm`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. The update mask to apply to the resource. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "gameservices.projects.locations.realms.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "Required. The name of the realm to delete, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single realm.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "gameservices.projects.locations.realms.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms",
                  "request": {
                    "$ref": "Realm"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}`.",
                      "location": "path"
                    },
                    "realmId": {
                      "description": "Required. The ID of the realm resource to create.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/realms",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new realm in a given project and location."
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the realm to retrieve, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "gameservices.projects.locations.realms.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Realm"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets details of a single realm."
                },
                "previewUpdate": {
                  "description": "Previews patches to a single realm.",
                  "id": "gameservices.projects.locations.realms.previewUpdate",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PreviewRealmUpdateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:previewUpdate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}:previewUpdate",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The update mask to apply to the resource. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "previewTime": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The target timestamp to compute the preview.",
                      "format": "google-datetime"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                      "description": "The resource name of the realm, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`. For example, `projects/my-project/locations/global/realms/my-realm`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Realm"
                  }
                }
              },
              "resources": {
                "gameServerClusters": {
                  "methods": {
                    "previewDelete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:previewDelete",
                      "description": "Previews deletion of a single game server cluster.",
                      "parameters": {
                        "previewTime": {
                          "description": "Optional. The target timestamp to compute the preview.",
                          "format": "google-datetime",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. The name of the game server cluster to delete, in the following form: `projects/{project}/locations/{locationId}/gameServerClusters/{gameServerClusterId}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewDelete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewDelete",
                      "response": {
                        "$ref": "PreviewDeleteGameServerClusterResponse"
                      },
                      "httpMethod": "DELETE"
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/gameServerClusters",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                      "parameters": {
                        "gameServerClusterId": {
                          "description": "Required. The ID of the game server cluster resource to create.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "gameservices.projects.locations.realms.gameServerClusters.create",
                      "description": "Creates a new game server cluster in a given project and location."
                    },
                    "previewCreate": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Previews creation of a new game server cluster in a given project and location.",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewCreate",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters:previewCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "PreviewCreateGameServerClusterResponse"
                      },
                      "parameters": {
                        "gameServerClusterId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID of the game server cluster resource to create."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`."
                        },
                        "previewTime": {
                          "location": "query",
                          "type": "string",
                          "format": "google-datetime",
                          "description": "Optional. The target timestamp to compute the preview."
                        },
                        "view": {
                          "enumDescriptions": [
                            "If the value is not set, Google Cloud Game Servers defaults to the `BASIC` view.",
                            "Includes basic information of a GameServerCluster resource and omits `cluster_state`. This is the default value (for methods ListGameServerClusters, GetGameServerCluster, and PreviewCreateGameServerCluster).",
                            "Include basic information of a GameServerCluster resource as well as `cluster_state`."
                          ],
                          "location": "query",
                          "description": "Optional. This field is deprecated. Preview will always return KubernetesClusterState.",
                          "enum": [
                            "GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/gameServerClusters:previewCreate",
                      "request": {
                        "$ref": "GameServerCluster"
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "description": "Required. The update mask to apply to the resource. At least one path must be supplied in this field. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`. For example, `projects/my-project/locations/global/realms/zanzibar/gameServerClusters/my-gke-cluster`."
                        }
                      },
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "description": "Patches a single game server cluster.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "gameservices.projects.locations.realms.gameServerClusters.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GameServerCluster"
                      },
                      "description": "Gets details of a single game server cluster.",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the game server cluster to retrieve, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "view": {
                          "type": "string",
                          "enumDescriptions": [
                            "If the value is not set, Google Cloud Game Servers defaults to the `BASIC` view.",
                            "Includes basic information of a GameServerCluster resource and omits `cluster_state`. This is the default value (for methods ListGameServerClusters, GetGameServerCluster, and PreviewCreateGameServerCluster).",
                            "Include basic information of a GameServerCluster resource as well as `cluster_state`."
                          ],
                          "description": "Optional. View for the returned GameServerCluster objects. When `FULL` is specified, the `cluster_state` field is also returned in the GameServerCluster object, which includes the state of the referenced Kubernetes cluster such as versions and provider info. The default/unset value is `GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED`, the same as `BASIC`, which does not return the `cluster_state` field.",
                          "location": "query",
                          "enum": [
                            "GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListGameServerClustersResponse"
                      },
                      "path": "v1/{+parent}/gameServerClusters",
                      "id": "gameservices.projects.locations.realms.gameServerClusters.list",
                      "description": "Lists game server clusters in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return. If unspecified, the server picks an appropriate default. The server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerClusters left to be queried.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Specifies the ordering of results following [Cloud API syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order).",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. The next_page_token value returned from a previous list request, if any.",
                          "location": "query"
                        },
                        "view": {
                          "location": "query",
                          "description": "Optional. View for the returned GameServerCluster objects. When `FULL` is specified, the `cluster_state` field is also returned in the GameServerCluster object, which includes the state of the referenced Kubernetes cluster such as versions and provider info. The default/unset value is `GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED`, the same as `BASIC`, which does not return the `cluster_state` field.",
                          "enumDescriptions": [
                            "If the value is not set, Google Cloud Game Servers defaults to the `BASIC` view.",
                            "Includes basic information of a GameServerCluster resource and omits `cluster_state`. This is the default value (for methods ListGameServerClusters, GetGameServerCluster, and PreviewCreateGameServerCluster).",
                            "Include basic information of a GameServerCluster resource as well as `cluster_state`."
                          ],
                          "type": "string",
                          "enum": [
                            "GAME_SERVER_CLUSTER_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The filter to apply to list results (see [Filtering](https://google.aip.dev/160))."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "previewUpdate": {
                      "id": "gameservices.projects.locations.realms.gameServerClusters.previewUpdate",
                      "response": {
                        "$ref": "PreviewUpdateGameServerClusterResponse"
                      },
                      "description": "Previews updating a GameServerCluster.",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}:previewUpdate",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`. For example, `projects/my-project/locations/global/realms/zanzibar/gameServerClusters/my-gke-cluster`."
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask)."
                        },
                        "previewTime": {
                          "location": "query",
                          "description": "Optional. The target timestamp to compute the preview.",
                          "type": "string",
                          "format": "google-datetime"
                        }
                      },
                      "request": {
                        "$ref": "GameServerCluster"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:previewUpdate"
                    },
                    "delete": {
                      "id": "gameservices.projects.locations.realms.gameServerClusters.delete",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/realms/{realmsId}/gameServerClusters/{gameServerClustersId}",
                      "description": "Deletes a single game server cluster.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/realms/[^/]+/gameServerClusters/[^/]+$",
                          "description": "Required. The name of the game server cluster to delete, in the following form: `projects/{project}/locations/{locationId}/gameServerClusters/{gameServerClusterId}`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE"
                    }
                  }
                }
              }
            },
            "gameServerDeployments": {
              "resources": {
                "configs": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs/{configsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the game server config to delete, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/{configId}`.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+/configs/[^/]+$"
                        }
                      },
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single game server config. The deletion fails if the game server config is referenced in a game server deployment rollout.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs",
                      "parameters": {
                        "configId": {
                          "location": "query",
                          "description": "Required. The ID of the game server config resource to create.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GameServerConfig"
                      },
                      "path": "v1/{+parent}/configs",
                      "description": "Creates a new game server config in a given project, location, and game server deployment. Game server configs are immutable, and are not applied until referenced in the game server deployment rollout resource.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GameServerConfig"
                      },
                      "description": "Gets details of a single game server config.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+/configs/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the game server config to retrieve, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/{configId}`.",
                          "type": "string"
                        }
                      },
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs/{configsId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "description": "Lists game server configs in a given project, location, and game server deployment.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/configs",
                      "id": "gameservices.projects.locations.gameServerDeployments.configs.list",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Specifies the ordering of results following [Cloud API syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order).",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/*`.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. The filter to apply to list results (see [Filtering](https://google.aip.dev/160)).",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list request, if any.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of items to return. If unspecified, the server picks an appropriate default. The server may return fewer items than requested. A caller should only rely on response's next_page_token to determine if there are more GameServerConfigs left to be queried.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/configs",
                      "response": {
                        "$ref": "ListGameServerConfigsResponse"
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "testIamPermissions": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "getRollout": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the game server deployment rollout to retrieve, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/rollout`.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}/rollout",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single game server deployment rollout.",
                  "id": "gameservices.projects.locations.gameServerDeployments.getRollout"
                },
                "create": {
                  "path": "v1/{+parent}/gameServerDeployments",
                  "description": "Creates a new game server deployment in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}`.",
                      "location": "path"
                    },
                    "deploymentId": {
                      "location": "query",
                      "description": "Required. The ID of the game server deployment resource to create.",
                      "type": "string"
                    }
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the game server deployment to delete, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a single game server deployment.",
                  "id": "gameservices.projects.locations.gameServerDeployments.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The filter to apply to list results (see [Filtering](https://google.aip.dev/160))."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, the server picks an appropriate default. The server may return fewer items than requested. A caller should only rely on the response's next_page_token to determine if there are more GameServerDeployments left to be queried.",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, in the following form: `projects/{project}/locations/{locationId}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous list request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specifies the ordering of results following [Cloud API syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order).",
                      "location": "query"
                    }
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.list",
                  "path": "v1/{+parent}/gameServerDeployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments",
                  "httpMethod": "GET",
                  "description": "Lists game server deployments in a given project and location.",
                  "response": {
                    "$ref": "ListGameServerDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "path": "v1/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:getIamPolicy",
                  "id": "gameservices.projects.locations.gameServerDeployments.getIamPolicy"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the game server deployment to retrieve, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single game server deployment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GameServerDeployment"
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.get"
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "id": "gameservices.projects.locations.gameServerDeployments.setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "updateRollout": {
                  "description": "Patches a single game server deployment rollout. The method will not return an error if the update does not affect any existing realms. For example, the following cases will not return an error: * The default_game_server_config is changed but all existing realms use the override. * A non-existing realm is explicitly called out in the game_server_config_overrides field.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/rollout",
                  "id": "gameservices.projects.locations.gameServerDeployments.updateRollout",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The update mask to apply to the resource. At least one path must be supplied in this field. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "previewRollout": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GameServerDeploymentRollout"
                  },
                  "path": "v1/{+name}/rollout:preview",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PreviewGameServerDeploymentRolloutResponse"
                  },
                  "description": "Previews the game server deployment rollout. This API does not mutate the rollout resource.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}/rollout:preview",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.gameServerDeployments.previewRollout",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Optional. The update mask to apply to the resource. At least one path must be supplied in this field. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "previewTime": {
                      "location": "query",
                      "description": "Optional. The target timestamp to compute the preview. Defaults to the immediately after the proposed rollout completes.",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "required": true,
                      "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`.",
                      "type": "string"
                    }
                  }
                },
                "fetchDeploymentState": {
                  "description": "Retrieves information about the current state of the game server deployment. Gathers all the Agones fleets and Agones autoscalers, including fleets running an older version of the game server deployment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "FetchDeploymentStateRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the game server deployment, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}:fetchDeploymentState",
                  "response": {
                    "$ref": "FetchDeploymentStateResponse"
                  },
                  "path": "v1/{+name}:fetchDeploymentState",
                  "id": "gameservices.projects.locations.gameServerDeployments.fetchDeploymentState"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/gameServerDeployments/[^/]+$",
                      "description": "The resource name of the game server deployment, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The update mask to apply to the resource. At least one path must be supplied in this field. For more information, see the [`FieldMask` definition](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask).",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/gameServerDeployments/{gameServerDeploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gameservices.projects.locations.gameServerDeployments.patch",
                  "request": {
                    "$ref": "GameServerDeployment"
                  },
                  "httpMethod": "PATCH",
                  "description": "Patches a game server deployment.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Expr": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "GameServerDeploymentRollout": {
      "id": "GameServerDeploymentRollout",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the game server deployment rollout, in the following form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/rollout`. For example, `projects/my-project/locations/global/gameServerDeployments/my-deployment/rollout`."
        },
        "gameServerConfigOverrides": {
          "items": {
            "$ref": "GameServerConfigOverride"
          },
          "description": "Contains the game server config rollout overrides. Overrides are processed in the order they are listed. Once a match is found for a realm, the rest of the list is not processed.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last-modified time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "defaultGameServerConfig": {
          "type": "string",
          "description": "The default game server config is applied to all realms unless overridden in the rollout. For example, `projects/my-project/locations/global/gameServerDeployments/my-game/configs/my-config`."
        }
      },
      "description": "The game server deployment rollout which represents the desired rollout state."
    },
    "RealmSelector": {
      "properties": {
        "realms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of realms to match."
        }
      },
      "description": "The realm selector, used to match realm resources.",
      "id": "RealmSelector",
      "type": "object"
    },
    "FetchDeploymentStateRequest": {
      "id": "FetchDeploymentStateRequest",
      "description": "Request message for GameServerDeploymentsService.FetchDeploymentState.",
      "type": "object",
      "properties": {}
    },
    "DeployedFleetStatus": {
      "id": "DeployedFleetStatus",
      "description": "DeployedFleetStatus has details about the Agones fleets, such as how many are running, how many are allocated, and so on.",
      "properties": {
        "readyReplicas": {
          "description": "The number of GameServer replicas in the READY state in this fleet.",
          "type": "string",
          "format": "int64"
        },
        "reservedReplicas": {
          "format": "int64",
          "type": "string",
          "description": "The number of GameServer replicas in the RESERVED state in this fleet. Reserved instances won't be deleted on scale down, but won't cause an autoscaler to scale up."
        },
        "replicas": {
          "type": "string",
          "description": "The total number of current GameServer replicas in this fleet.",
          "format": "int64"
        },
        "allocatedReplicas": {
          "format": "int64",
          "description": "The number of GameServer replicas in the ALLOCATED state in this fleet.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeployedClusterState": {
      "type": "object",
      "id": "DeployedClusterState",
      "properties": {
        "fleetDetails": {
          "type": "array",
          "items": {
            "$ref": "DeployedFleetDetails"
          },
          "description": "The details about the Agones fleets and autoscalers created in the game server cluster."
        },
        "cluster": {
          "type": "string",
          "description": "The name of the cluster."
        }
      },
      "description": "The game server cluster changes made by the game server deployment."
    },
    "FetchDeploymentStateResponse": {
      "type": "object",
      "id": "FetchDeploymentStateResponse",
      "description": "Response message for GameServerDeploymentsService.FetchDeploymentState.",
      "properties": {
        "unavailable": {
          "description": "List of locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterState": {
          "type": "array",
          "items": {
            "$ref": "DeployedClusterState"
          },
          "description": "The state of the game server deployment in each game server cluster."
        }
      }
    },
    "DataAccessOptions": {
      "properties": {
        "logMode": {
          "type": "string",
          "enumDescriptions": [
            "Client is not required to write a partial Gin log immediately after the authorization check. If client chooses to write one and it fails, client may either fail open (allow the operation to continue) or fail closed (handle as a DENY outcome).",
            "The application's operation in the context of which this authorization check is being made may only be performed if it is successfully logged to Gin. For instance, the authorization library may satisfy this obligation by emitting a partial log entry at authorization check time and only returning ALLOW to the application if it succeeds. If a matching Rule has this directive, but the client has not indicated that it will honor such requirements, then the IAM check will result in authorization failure by setting CheckPolicyResponse.success=false."
          ],
          "enum": [
            "LOG_MODE_UNSPECIFIED",
            "LOG_FAIL_CLOSED"
          ]
        }
      },
      "id": "DataAccessOptions",
      "type": "object",
      "description": "Write a Data Access (Gin) log"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SpecSource": {
      "id": "SpecSource",
      "type": "object",
      "description": "Encapsulates Agones fleet spec and Agones autoscaler spec sources.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Agones fleet config or Agones scaling config used to derive the Agones fleet or Agones autoscaler spec."
        },
        "gameServerConfigName": {
          "type": "string",
          "description": "The game server config resource. Uses the form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}/configs/{configId}`."
        }
      }
    },
    "PreviewGameServerDeploymentRolloutResponse": {
      "properties": {
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        },
        "unavailable": {
          "type": "array",
          "description": "Locations that could not be reached on this request.",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the game server deployment."
        }
      },
      "type": "object",
      "id": "PreviewGameServerDeploymentRolloutResponse",
      "description": "Response message for PreviewGameServerDeploymentRollout. This has details about the Agones fleet and autoscaler to be actuated."
    },
    "KubernetesClusterState": {
      "id": "KubernetesClusterState",
      "description": "The state of the Kubernetes cluster.",
      "type": "object",
      "properties": {
        "agonesVersionTargeted": {
          "type": "string",
          "description": "Output only. The version of Agones that is targeted to be installed in the cluster.",
          "readOnly": true
        },
        "provider": {
          "description": "Output only. The cloud provider type reported by the first node's `providerID` in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-GCP), the provider type will be empty.",
          "readOnly": true,
          "type": "string"
        },
        "agonesVersionInstalled": {
          "readOnly": true,
          "description": "Output only. The version of Agones currently installed in the registered Kubernetes cluster.",
          "type": "string"
        },
        "kubernetesVersionInstalled": {
          "readOnly": true,
          "description": "Output only. The version of Kubernetes that is currently used in the registered Kubernetes cluster (as detected by the Cloud Game Servers service).",
          "type": "string"
        },
        "installationState": {
          "enumDescriptions": [
            "The default installation state. This value is used if the state is omitted.",
            "Both the Agones and Kubernetes versions are supported by Google Cloud Game Servers and Agones and Kubernetes versions are compatible.",
            "The installed version of Agones is not supported by Google Cloud Game Servers.",
            "The installed version of Agones is supported by Google Cloud Game Servers, but the installed version of Kubernetes is not recommended or supported by the version of Agones.",
            "The installed version of Agones is not recognized because the Agones controller's image name does not have a version string reported as {major}.{minor}(.{patch}).",
            "The server version of Kubernetes cluster is not recognized because the API server didn't return parsable version info on path/version.",
            "Failed to read or verify the version of Agones or Kubernetes. See `version_installed_error_message` for details.",
            "Agones is not installed."
          ],
          "enum": [
            "INSTALLATION_STATE_UNSPECIFIED",
            "AGONES_KUBERNETES_VERSION_SUPPORTED",
            "AGONES_VERSION_UNSUPPORTED",
            "AGONES_KUBERNETES_VERSION_UNSUPPORTED",
            "AGONES_VERSION_UNRECOGNIZED",
            "KUBERNETES_VERSION_UNRECOGNIZED",
            "VERSION_VERIFICATION_FAILED",
            "AGONES_NOT_INSTALLED"
          ],
          "description": "Output only. The state for the installed versions of Agones/Kubernetes.",
          "type": "string",
          "readOnly": true
        },
        "versionInstalledErrorMessage": {
          "description": "Output only. The detailed error message for the installed versions of Agones/Kubernetes.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FleetConfig": {
      "type": "object",
      "id": "FleetConfig",
      "properties": {
        "name": {
          "description": "The name of the FleetConfig.",
          "type": "string"
        },
        "fleetSpec": {
          "description": "Agones fleet spec (see [example spec](https://agones.dev/site/docs/reference/fleet/)).",
          "type": "string"
        }
      },
      "description": "Fleet configs for Agones."
    },
    "GameServerConfigOverride": {
      "type": "object",
      "description": "A game server config override.",
      "id": "GameServerConfigOverride",
      "properties": {
        "configVersion": {
          "type": "string",
          "description": "The game server config for this override."
        },
        "realmsSelector": {
          "$ref": "RealmSelector",
          "description": "Selector for choosing applicable realms."
        }
      }
    },
    "ListGameServerConfigsResponse": {
      "description": "Response message for GameServerConfigsService.ListGameServerConfigs.",
      "id": "ListGameServerConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "gameServerConfigs": {
          "description": "The list of game server configs.",
          "type": "array",
          "items": {
            "$ref": "GameServerConfig"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "List of locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "TargetFleetDetails": {
      "properties": {
        "autoscaler": {
          "description": "Reference to target Agones fleet autoscaling policy.",
          "$ref": "TargetFleetAutoscaler"
        },
        "fleet": {
          "$ref": "TargetFleet",
          "description": "Reference to target Agones fleet."
        }
      },
      "type": "object",
      "description": "Details of the target Agones fleet.",
      "id": "TargetFleetDetails"
    },
    "GameServerCluster": {
      "description": "A game server cluster resource.",
      "id": "GameServerCluster",
      "type": "object",
      "properties": {
        "clusterState": {
          "description": "Output only. The state of the Kubernetes cluster in preview. This will be available if view is set to FULL in the relevant list/get/preview request.",
          "readOnly": true,
          "$ref": "KubernetesClusterState"
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the cluster."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation time.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this game server cluster. Each label is a key-value pair.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "connectionInfo": {
          "description": "The game server cluster connection information. This information is used to manage game server clusters.",
          "$ref": "GameServerClusterConnectionInfo"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last-modified time."
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "name": {
          "description": "Required. The resource name of the game server cluster, in the following form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`. For example, `projects/my-project/locations/global/realms/zanzibar/gameServerClusters/my-gke-cluster`.",
          "type": "string"
        }
      }
    },
    "Condition": {
      "description": "A condition to be met.",
      "properties": {
        "sys": {
          "description": "Trusted attributes supplied by any service that owns resources and uses the IAM system for access control.",
          "enum": [
            "NO_ATTR",
            "REGION",
            "SERVICE",
            "NAME",
            "IP"
          ],
          "enumDescriptions": [
            "Default non-attribute type",
            "Region of the resource",
            "Service name",
            "Resource name",
            "IP address of the caller"
          ],
          "type": "string"
        },
        "iam": {
          "description": "Trusted attributes supplied by the IAM system.",
          "enumDescriptions": [
            "Default non-attribute.",
            "Either principal or (if present) authority selector.",
            "The principal (even if an authority selector is present), which must only be used for attribution, not authorization.",
            "Any of the security realms in the IAMContext (go/security-realms). When used with IN, the condition indicates \"any of the request's realms match one of the given values; with NOT_IN, \"none of the realms match any of the given values\". Note that a value can be: - 'self' (i.e., allow connections from clients that are in the same security realm, which is currently but not guaranteed to be campus-sized) - 'self:metro' (i.e., clients that are in the same metro) - 'self:cloud-region' (i.e., allow connections from clients that are in the same cloud region) - 'self:prod-region' (i.e., allow connections from clients that are in the same prod region) - 'guardians' (i.e., allow connections from its guardian realms. See go/security-realms-glossary#guardian for more information.) - a realm (e.g., 'campus-abc') - a realm group (e.g., 'realms-for-borg-cell-xx', see: go/realm-groups) A match is determined by a realm group membership check performed by a RealmAclRep object (go/realm-acl-howto). It is not permitted to grant access based on the *absence* of a realm, so realm conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).",
            "An approver (distinct from the requester) that has authorized this request. When used with IN, the condition indicates that one of the approvers associated with the request matches the specified principal, or is a member of the specified group. Approvers can only grant additional access, and are thus only used in a strictly positive context (e.g. ALLOW/IN or DENY/NOT_IN).",
            "What types of justifications have been supplied with this request. String values should match enum names from security.credentials.JustificationType, e.g. \"MANUAL_STRING\". It is not permitted to grant access based on the *absence* of a justification, so justification conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN). Multiple justifications, e.g., a Buganizer ID and a manually-entered reason, are normal and supported.",
            "What type of credentials have been supplied with this request. String values should match enum names from security_loas_l2.CredentialsType - currently, only CREDS_TYPE_EMERGENCY is supported. It is not permitted to grant access based on the *absence* of a credentials type, so the conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN).",
            "EXPERIMENTAL -- DO NOT USE. The conditions can only be used in a \"positive\" context (e.g., ALLOW/IN or DENY/NOT_IN)."
          ],
          "enum": [
            "NO_ATTR",
            "AUTHORITY",
            "ATTRIBUTION",
            "SECURITY_REALM",
            "APPROVER",
            "JUSTIFICATION_TYPE",
            "CREDENTIALS_TYPE",
            "CREDS_ASSERTION"
          ],
          "type": "string"
        },
        "svc": {
          "type": "string",
          "description": "Trusted attributes discharged by the service."
        },
        "op": {
          "enumDescriptions": [
            "Default no-op.",
            "DEPRECATED. Use IN instead.",
            "DEPRECATED. Use NOT_IN instead.",
            "The condition is true if the subject (or any element of it if it is a set) matches any of the supplied values.",
            "The condition is true if the subject (or every element of it if it is a set) matches none of the supplied values.",
            "Subject is discharged"
          ],
          "type": "string",
          "description": "An operator to apply the subject with.",
          "enum": [
            "NO_OP",
            "EQUALS",
            "NOT_EQUALS",
            "IN",
            "NOT_IN",
            "DISCHARGED"
          ]
        },
        "values": {
          "type": "array",
          "description": "The objects of the condition.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Condition",
      "type": "object"
    },
    "TargetDetails": {
      "id": "TargetDetails",
      "description": "Details about the Agones resources.",
      "properties": {
        "gameServerDeploymentName": {
          "type": "string",
          "description": "The game server deployment name. Uses the form: `projects/{project}/locations/{locationId}/gameServerDeployments/{deploymentId}`."
        },
        "fleetDetails": {
          "items": {
            "$ref": "TargetFleetDetails"
          },
          "type": "array",
          "description": "Agones fleet details for game server clusters and game server deployments."
        },
        "gameServerClusterName": {
          "type": "string",
          "description": "The game server cluster name. Uses the form: `projects/{project}/locations/{locationId}/realms/{realmId}/gameServerClusters/{gameServerClusterId}`."
        }
      },
      "type": "object"
    },
    "Schedule": {
      "description": "The schedule of a recurring or one time event. The event's time span is specified by start_time and end_time. If the scheduled event's timespan is larger than cron_spec added with cron_job_duration, the event is recurring. If only cron_spec and cron_job_duration are specified, the event starts at the local time specified by cron_spec, and is recurring. ``` start_time|-------[cron job]-------[cron job]-------[cron job]---|end_time cron job: cron spec start time + duration ```",
      "type": "object",
      "id": "Schedule",
      "properties": {
        "cronSpec": {
          "description": "The cron definition of the scheduled event. See https://en.wikipedia.org/wiki/Cron. The cron spec specifies the local time as defined by the realm.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time of the event.",
          "type": "string"
        },
        "cronJobDuration": {
          "description": "The duration for the cron job event. The duration of the event is effective after the cron job's start time.",
          "format": "google-duration",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The start time of the event.",
          "format": "google-datetime"
        }
      }
    },
    "PreviewCreateGameServerClusterResponse": {
      "description": "Response message for GameServerClustersService.PreviewCreateGameServerCluster.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        },
        "clusterState": {
          "$ref": "KubernetesClusterState",
          "description": "Output only. The state of the Kubernetes cluster in preview. This will be available if view is set to FULL in the relevant list/get/preview request.",
          "readOnly": true
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      },
      "id": "PreviewCreateGameServerClusterResponse"
    },
    "PreviewUpdateGameServerClusterResponse": {
      "id": "PreviewUpdateGameServerClusterResponse",
      "type": "object",
      "description": "Response message for GameServerClustersService.PreviewUpdateGameServerCluster",
      "properties": {
        "etag": {
          "description": "The ETag of the game server cluster.",
          "type": "string"
        },
        "targetState": {
          "$ref": "TargetState",
          "description": "The target state."
        }
      }
    },
    "PreviewRealmUpdateResponse": {
      "type": "object",
      "description": "Response message for RealmsService.PreviewRealmUpdate.",
      "id": "PreviewRealmUpdateResponse",
      "properties": {
        "etag": {
          "description": "ETag of the realm.",
          "type": "string"
        },
        "targetState": {
          "description": "The target state.",
          "$ref": "TargetState"
        }
      }
    },
    "CounterOptions": {
      "description": "Increment a streamz counter with the specified metric and field names. Metric names should start with a '/', generally be lowercase-only, and end in \"_count\". Field names should not contain an initial slash. The actual exported metric names will have \"/iam/policy\" prepended. Field names correspond to IAM request parameters and field values are their respective values. Supported field names: - \"authority\", which is \"[token]\" if IAMContext.token is present, otherwise the value of IAMContext.authority_selector if present, and otherwise a representation of IAMContext.principal; or - \"iam_principal\", a representation of IAMContext.principal even if a token or authority selector is present; or - \"\" (empty string), resulting in a counter with no fields. Examples: counter { metric: \"/debug_access_count\" field: \"iam_principal\" } ==\u003e increment counter /iam/policy/debug_access_count {iam_principal=[value of IAMContext.principal]}",
      "properties": {
        "metric": {
          "description": "The metric to update.",
          "type": "string"
        },
        "field": {
[...]
