{
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "version": "v1",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/games/",
  "baseUrl": "https://www.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "PlayerLeaderboardScoreListResponse": {
      "description": "A list of player leaderboard scores.",
      "id": "PlayerLeaderboardScoreListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "PlayerLeaderboardScore"
          },
          "type": "array",
          "description": "The leaderboard scores."
        },
        "player": {
          "$ref": "Player",
          "description": "The Player resources for the owner of this score."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerLeaderboardScoreListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "type": "object"
    },
    "AchievementUpdateMultipleRequest": {
      "description": "A list of achievement update requests.",
      "properties": {
        "updates": {
          "items": {
            "$ref": "AchievementUpdateRequest"
          },
          "description": "The individual achievement update requests.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#achievementUpdateMultipleRequest`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AchievementUpdateMultipleRequest"
    },
    "LeaderboardListResponse": {
      "id": "LeaderboardListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        },
        "items": {
          "items": {
            "$ref": "Leaderboard"
          },
          "type": "array",
          "description": "The leaderboards."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#leaderboardListResponse`."
        }
      },
      "type": "object",
      "description": "A list of leaderboard objects."
    },
    "GamesAchievementIncrement": {
      "type": "object",
      "id": "GamesAchievementIncrement",
      "properties": {
        "steps": {
          "description": "The number of steps to be incremented.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#GamesAchievementIncrement`."
        },
        "requestId": {
          "format": "int64",
          "type": "string",
          "description": "The requestId associated with an increment to an achievement."
        }
      },
      "description": "The payload to request to increment an\nachievement."
    },
    "GamesAchievementSetStepsAtLeast": {
      "id": "GamesAchievementSetStepsAtLeast",
      "description": "The payload to request to increment an\nachievement.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#GamesAchievementSetStepsAtLeast`."
        },
        "steps": {
          "description": "The minimum number of steps for the achievement to be set to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AchievementDefinitionsListResponse": {
      "id": "AchievementDefinitionsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#achievementDefinitionsListResponse`."
        },
        "items": {
          "description": "The achievement definitions.",
          "items": {
            "$ref": "AchievementDefinition"
          },
          "type": "array"
        }
      },
      "description": "A list of achievement definition objects.",
      "type": "object"
    },
    "ApplicationCategory": {
      "type": "object",
      "description": "An application category object.",
      "properties": {
        "secondary": {
          "type": "string",
          "description": "The secondary category."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#applicationCategory`.",
          "type": "string"
        },
        "primary": {
          "type": "string",
          "description": "The primary category."
        }
      },
      "id": "ApplicationCategory"
    },
    "PlayerEventListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array",
          "description": "The player events."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerEventListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "description": "A ListByPlayer response.",
      "type": "object",
      "id": "PlayerEventListResponse"
    },
    "AchievementRevealResponse": {
      "type": "object",
      "id": "AchievementRevealResponse",
      "properties": {
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement for which a reveal was attempted. This\nmight be `UNLOCKED` if the achievement was already unlocked.",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "REVEAL_ACHIEVEMENT_STATE_UNSPECIFIED",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#achievementRevealResponse`.",
          "type": "string"
        }
      },
      "description": "An achievement reveal response"
    },
    "Category": {
      "description": "Data related to individual game categories.",
      "type": "object",
      "id": "Category",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#category`."
        },
        "experiencePoints": {
          "description": "Experience points earned in this category.",
          "format": "int64",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category name."
        }
      }
    },
    "ProfileSettings": {
      "description": "Profile settings",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#profileSettings`.",
          "type": "string"
        },
        "profileVisible": {
          "type": "boolean",
          "description": "Whether the player's profile is visible to the currently signed in player."
        },
        "friendsListVisibility": {
          "enumDescriptions": [
            "Unused.",
            "The friends list is currently visible to the game.",
            "The developer does not have access to the friends list, but can call the\nAndroid API to show a consent dialog.",
            "The friends list is currently unavailable for this user, and it is not\npossible to request access at this time, either because the user has\npermanently declined or the friends feature is not available to them. In\nthis state, any attempts to request access to the friends list will be\nunsuccessful."
          ],
          "enum": [
            "FRIENDS_LIST_VISIBILITY_UNSPECIFIED",
            "VISIBLE",
            "REQUEST_REQUIRED",
            "UNAVAILABLE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProfileSettings"
    },
    "PlayerAchievement": {
      "properties": {
        "achievementState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "description": "The state of the achievement.",
          "type": "string"
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points earned for the achievement. This field is absent for\nachievements that have not yet been unlocked and 0 for achievements that\nhave been unlocked by testers but that are unpublished.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "lastUpdatedTimestamp": {
          "description": "The timestamp of the last modification to this achievement's state.",
          "type": "string",
          "format": "int64"
        },
        "currentSteps": {
          "description": "The current steps for an incremental achievement.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerAchievement`.",
          "type": "string"
        },
        "formattedCurrentStepsString": {
          "description": "The current steps for an incremental achievement as a string.",
          "type": "string"
        }
      },
      "description": "An achievement object.",
      "id": "PlayerAchievement",
      "type": "object"
    },
    "LeaderboardEntry": {
      "description": "The Leaderboard Entry resource.",
      "id": "LeaderboardEntry",
      "properties": {
        "formattedScoreRank": {
          "description": "The localized string for the rank of this score for this leaderboard.",
          "type": "string"
        },
        "writeTimestampMillis": {
          "description": "The timestamp at which this score was recorded, in milliseconds since the\nepoch in UTC.",
          "format": "int64",
          "type": "string"
        },
        "timeSpan": {
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this high score.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#leaderboardEntry`."
        },
        "scoreValue": {
          "format": "int64",
          "description": "The numerical value of this score.",
          "type": "string"
        },
        "formattedScore": {
          "description": "The localized string for the numerical value of this score.",
          "type": "string"
        },
        "scoreRank": {
          "description": "The rank of this score for this leaderboard.",
          "format": "int64",
          "type": "string"
        },
        "player": {
          "description": "The player who holds this score.",
          "$ref": "Player"
        },
        "scoreTag": {
          "description": "Additional information about the score.  Values must contain no more than\n64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerLeaderboardScore": {
      "id": "PlayerLeaderboardScore",
      "properties": {
        "leaderboard_id": {
          "description": "The ID of the leaderboard this score is in.",
          "type": "string"
        },
        "publicRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The public rank of the score in this leaderboard. This object will not be\npresent if the user is not sharing their scores publicly."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerLeaderboardScore`."
        },
        "writeTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp at which this score was recorded, in milliseconds since the\nepoch in UTC."
        },
        "socialRank": {
          "$ref": "LeaderboardScoreRank",
          "description": "The social rank of the score in this leaderboard."
        },
        "scoreTag": {
          "description": "Additional information about the score.  Values must contain no more than\n64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "scoreString": {
          "description": "The formatted value of this score.",
          "type": "string"
        },
        "timeSpan": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span of this score."
        },
        "scoreValue": {
          "format": "int64",
          "description": "The numerical value of this score.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A player leaderboard score object."
    },
    "PlayerExperienceInfo": {
      "properties": {
        "currentExperiencePoints": {
          "type": "string",
          "description": "The current number of experience points for the player.",
          "format": "int64"
        },
        "currentLevel": {
          "$ref": "PlayerLevel",
          "description": "The current level of the player."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerExperienceInfo`."
        },
        "lastLevelUpTimestampMillis": {
          "format": "int64",
          "description": "The timestamp when the player was leveled up, in millis since Unix epoch\nUTC.",
          "type": "string"
        },
        "nextLevel": {
          "$ref": "PlayerLevel",
          "description": "The next level of the player. If the current level is the maximum level,\nthis should be same as the current level."
        }
      },
      "type": "object",
      "description": "1P/3P metadata about the player's experience.",
      "id": "PlayerExperienceInfo"
    },
    "Leaderboard": {
      "type": "object",
      "description": "The Leaderboard resource.",
      "properties": {
        "id": {
          "description": "The leaderboard ID.",
          "type": "string"
        },
        "iconUrl": {
          "description": "The icon for the leaderboard.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#leaderboard`.",
          "type": "string"
        },
        "isIconUrlDefault": {
          "description": "Indicates whether the icon image being returned is a default image, or is\ngame-provided.",
          "type": "boolean"
        },
        "order": {
          "type": "string",
          "description": "How scores are ordered.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Larger values are better; scores are sorted in descending order",
            "Smaller values are better; scores are sorted in ascending order"
          ],
          "enum": [
            "SCORE_ORDER_UNSPECIFIED",
            "LARGER_IS_BETTER",
            "SMALLER_IS_BETTER"
          ]
        },
        "name": {
          "description": "The name of the leaderboard.",
          "type": "string"
        }
      },
      "id": "Leaderboard"
    },
    "Player": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#player`"
        },
        "title": {
          "type": "string",
          "description": "The player's title rewarded for their game activities."
        },
        "originalPlayerId": {
          "description": "The player ID that was used for this player the first time they signed into\nthe game in question. This is only populated for calls to player.get for\nthe requesting player, only if the player ID has subsequently changed, and\nonly to clients that support remapping player IDs.",
          "type": "string"
        },
        "bannerUrlLandscape": {
          "description": "The url to the landscape mode player banner image.",
          "type": "string"
        },
        "avatarImageUrl": {
          "description": "The base URL for the image that represents the player.",
          "type": "string"
        },
        "experienceInfo": {
          "description": "An object to represent Play Game experience information for the player.",
          "$ref": "PlayerExperienceInfo"
        },
        "friendStatus": {
          "description": "The friend status of the given player, relative to the requester. This is\nunset if the player is not sharing their friends list with the game.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "There is no relationship between the players.",
            "The player and requester are friends."
          ],
          "type": "string",
          "enum": [
            "FRIEND_STATUS_UNSPECIFIED",
            "NO_RELATIONSHIP",
            "FRIEND"
          ]
        },
        "name": {
          "type": "object",
          "properties": {
            "familyName": {
              "type": "string",
              "description": "The family name of this player. In some places, this is known as the last\nname."
            },
            "givenName": {
              "description": "The given name of this player. In some places, this is known as the first\nname.",
              "type": "string"
            }
          },
          "description": "A representation of the individual components of the name."
        },
        "bannerUrlPortrait": {
          "description": "The url to the portrait mode player banner image.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name to display for the player."
        },
        "playerId": {
          "description": "The ID of the player.",
          "type": "string"
        },
        "profileSettings": {
          "$ref": "ProfileSettings",
          "description": "The player's profile settings. Controls whether or not the player's profile\nis visible to other players."
        }
      },
      "id": "Player",
      "type": "object",
      "description": "A Player resource."
    },
    "EventUpdateResponse": {
      "description": "An event period update resource.",
      "properties": {
        "batchFailures": {
          "description": "Any batch-wide failures which occurred applying updates.",
          "items": {
            "$ref": "EventBatchRecordFailure"
          },
          "type": "array"
        },
        "eventFailures": {
          "items": {
            "$ref": "EventRecordFailure"
          },
          "description": "Any failures updating a particular event.",
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#eventUpdateResponse`.",
          "type": "string"
        },
        "playerEvents": {
          "description": "The current status of any updated events",
          "items": {
            "$ref": "PlayerEvent"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EventUpdateResponse"
    },
    "LeaderboardScoreRank": {
      "type": "object",
      "description": "A score rank in a leaderboard.",
      "id": "LeaderboardScoreRank",
      "properties": {
        "formattedRank": {
          "type": "string",
          "description": "The rank in the leaderboard as a string."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#leaderboardScoreRank`."
        },
        "formattedNumScores": {
          "type": "string",
          "description": "The number of scores in the leaderboard as a string."
        },
        "rank": {
          "format": "int64",
          "description": "The rank in the leaderboard.",
          "type": "string"
        },
        "numScores": {
          "format": "int64",
          "description": "The number of scores in the leaderboard.",
          "type": "string"
        }
      }
    },
    "Application": {
      "properties": {
        "description": {
          "description": "The description of the application.",
          "type": "string"
        },
        "assets": {
          "description": "The assets of the application.",
          "items": {
            "$ref": "ImageAsset"
          },
          "type": "array"
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances of the application."
        },
        "enabledFeatures": {
          "description": "A list of features that have been enabled for the application.",
          "type": "array",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Saved Games (snapshots)."
          ],
          "items": {
            "type": "string",
            "enum": [
              "APPLICATION_FEATURE_UNSPECIFIED",
              "SNAPSHOTS"
            ]
          }
        },
        "achievement_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of achievements visible to the currently authenticated player."
        },
        "name": {
          "type": "string",
          "description": "The name of the application."
        },
        "lastUpdatedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The last updated timestamp of the application."
        },
        "leaderboard_count": {
          "format": "int32",
          "type": "integer",
          "description": "The number of leaderboards visible to the currently authenticated player."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#application`."
        },
        "author": {
          "description": "The author of the application.",
          "type": "string"
        },
        "themeColor": {
          "description": "A hint to the client UI for what color to use as an app-themed color. The\ncolor is given as an RGB triplet (e.g. \"E0E0E0\").",
          "type": "string"
        },
        "category": {
          "description": "The category of the application.",
          "$ref": "ApplicationCategory"
        },
        "id": {
          "type": "string",
          "description": "The ID of the application."
        }
      },
      "type": "object",
      "description": "The Application resource.",
      "id": "Application"
    },
    "AchievementSetStepsAtLeastResponse": {
      "type": "object",
      "id": "AchievementSetStepsAtLeastResponse",
      "description": "An achievement set steps at least response.",
      "properties": {
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the current steps for the achievement has reached the number of\nsteps required to unlock."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#achievementSetStepsAtLeastResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement."
        }
      }
    },
    "EventDefinitionListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#eventDefinitionListResponse`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "EventDefinition"
          },
          "type": "array",
          "description": "The event definitions."
        }
      },
      "description": "A ListDefinitions response.",
      "id": "EventDefinitionListResponse",
      "type": "object"
    },
    "ApplicationVerifyResponse": {
      "description": "A third party application verification response resource.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#applicationVerifyResponse`."
        },
        "player_id": {
          "type": "string",
          "description": "The ID of the player that was issued the auth token used in this request."
        },
        "alternate_player_id": {
          "description": "An alternate ID that was once used for the player that was issued the auth\ntoken used in this request. (This field is not normally populated.)",
          "type": "string"
        }
      },
      "id": "ApplicationVerifyResponse"
    },
    "EventPeriodRange": {
      "type": "object",
      "id": "EventPeriodRange",
      "description": "An event period time range.",
      "properties": {
        "periodEndMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time when this update period ends, in millis, since 1970 UTC (Unix\nEpoch)."
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#eventPeriodRange`.",
          "type": "string"
        },
        "periodStartMillis": {
          "type": "string",
          "description": "The time when this update period begins, in millis, since 1970 UTC (Unix\nEpoch).",
          "format": "int64"
        }
      }
    },
    "ScoreSubmission": {
      "id": "ScoreSubmission",
      "properties": {
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score.  Values will contain no more than\n64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "score": {
          "format": "int64",
          "description": "The new score being submitted.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#scoreSubmission`.",
          "type": "string"
        },
        "leaderboardId": {
          "type": "string",
          "description": "The leaderboard this score is being submitted to."
        },
        "signature": {
          "description": "Signature Values will contain URI-safe characters as defined by section 2.3\nof RFC 3986.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request to submit a score to leaderboards."
    },
    "AchievementUpdateResponse": {
      "properties": {
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock\nrequest for the achievement was the first for the player)."
        },
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is was applied to."
        },
        "currentSteps": {
          "description": "The current steps recorded for this achievement if it is incremental.",
          "format": "int32",
          "type": "integer"
        },
        "currentState": {
          "type": "string",
          "description": "The current state of the achievement.",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "UPDATED_ACHIEVEMENT_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ]
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#achievementUpdateResponse`.",
          "type": "string"
        },
        "updateOccurred": {
          "type": "boolean",
          "description": "Whether the requested updates actually affected the achievement."
        }
      },
      "type": "object",
      "id": "AchievementUpdateResponse",
      "description": "An updated achievement."
    },
    "LeaderboardScores": {
      "id": "LeaderboardScores",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#leaderboardScores`."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "playerScore": {
          "description": "The score of the requesting player on the leaderboard. The player's score\nmay appear both here and in the list of scores above. If you are viewing a\npublic leaderboard and the player is not sharing their gameplay information\npublicly, the `scoreRank`and `formattedScoreRank`\nvalues will not be present.",
          "$ref": "LeaderboardEntry"
        },
        "numScores": {
          "format": "int64",
          "description": "The total number of scores in the leaderboard.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The pagination token for the previous page of results.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LeaderboardEntry"
          },
          "description": "The scores in the leaderboard."
        }
      },
      "description": "A ListScores response."
    },
    "PlayerLevel": {
      "description": "1P/3P metadata about a user's level.",
      "properties": {
        "minExperiencePoints": {
          "type": "string",
          "description": "The minimum experience points for this level.",
          "format": "int64"
        },
        "maxExperiencePoints": {
          "description": "The maximum experience points for this level.",
          "type": "string",
          "format": "int64"
        },
        "level": {
          "type": "integer",
          "description": "The level for the user.",
          "format": "int32"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerLevel`.",
          "type": "string"
        }
      },
      "id": "PlayerLevel",
      "type": "object"
    },
    "EventPeriodUpdate": {
      "type": "object",
      "id": "EventPeriodUpdate",
      "description": "An event period update resource.",
      "properties": {
        "updates": {
          "description": "The updates being made for this time period.",
          "type": "array",
          "items": {
            "$ref": "EventUpdateRequest"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#eventPeriodUpdate`."
        },
        "timePeriod": {
          "$ref": "EventPeriodRange",
          "description": "The time period being covered by this update."
        }
      }
    },
    "SnapshotImage": {
      "id": "SnapshotImage",
      "type": "object",
      "description": "An image of a snapshot.",
      "properties": {
        "height": {
          "format": "int32",
          "description": "The height of the image.",
          "type": "integer"
        },
        "mime_type": {
          "type": "string",
          "description": "The MIME type of the image."
        },
        "url": {
          "description": "The URL of the image. This URL may be invalidated at any time and should\nnot be cached.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#snapshotImage`."
        },
        "width": {
          "description": "The width of the image.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PlayerListResponse": {
      "id": "PlayerListResponse",
      "type": "object",
      "description": "A third party player list response.",
      "properties": {
        "items": {
          "description": "The players.",
          "items": {
            "$ref": "Player"
          },
          "type": "array"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        }
      }
    },
    "AchievementIncrementResponse": {
      "description": "An achievement increment response",
      "id": "AchievementIncrementResponse",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#achievementIncrementResponse`.",
          "type": "string"
        },
        "currentSteps": {
          "format": "int32",
          "description": "The current steps recorded for this incremental achievement.",
          "type": "integer"
        },
        "newlyUnlocked": {
          "description": "Whether the current steps for the achievement has reached the number of\nsteps required to unlock.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "InstanceAndroidDetails": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#instanceAndroidDetails`."
        },
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        },
        "enablePiracyCheck": {
          "description": "Flag indicating whether the anti-piracy check is enabled.",
          "type": "boolean"
        },
        "packageName": {
          "description": "Android package name which maps to Google Play URL.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InstanceAndroidDetails",
      "description": "The Android instance details resource."
    },
    "EventDefinition": {
      "description": "An event definition resource.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of what this event represents."
        },
        "visibility": {
          "description": "The visibility of event being tracked in this definition.",
          "type": "string",
          "enum": [
            "EVENT_VISIBILITY_UNSPECIFIED",
            "REVEALED",
            "HIDDEN"
          ],
          "enumDescriptions": [
            "Default value. Should not be used.",
            "This event should be visible to all users.",
            "This event should only be shown to users that have recorded this event\nat least once."
          ]
        },
        "displayName": {
          "description": "The name to display for the event.",
          "type": "string"
        },
        "isDefaultImageUrl": {
          "description": "Indicates whether the icon image being returned is a default image, or is\ngame-provided.",
          "type": "boolean"
        },
        "childEvents": {
          "items": {
            "$ref": "EventChild"
          },
          "description": "A list of events that are a child of this event.",
          "type": "array"
        },
        "id": {
          "description": "The ID of the event.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#eventDefinition`."
        },
        "imageUrl": {
          "description": "The base URL for the image that represents the event.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EventDefinition"
    },
    "PlayerScoreListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerScoreListResponse`."
        },
        "submittedScores": {
          "type": "array",
          "description": "The score submissions statuses.",
          "items": {
            "$ref": "PlayerScoreResponse"
          }
        }
      },
      "id": "PlayerScoreListResponse",
      "description": "A list of score submission statuses."
    },
    "EventChild": {
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#eventChild`.",
          "type": "string"
        },
        "childId": {
          "description": "The ID of the child event.",
          "type": "string"
        }
      },
      "description": "An event child relationship resource.",
      "type": "object",
      "id": "EventChild"
    },
    "PlayerScoreResponse": {
      "description": "A list of leaderboard entry resources.",
      "properties": {
        "beatenScoreTimeSpans": {
          "description": "The time spans where the submitted score is better than the existing score\nfor that time span.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "array",
          "items": {
            "enum": [
              "SCORE_TIME_SPAN_UNSPECIFIED",
              "ALL_TIME",
              "WEEKLY",
              "DAILY"
            ],
            "type": "string"
          }
        },
        "formattedScore": {
          "type": "string",
          "description": "The formatted value of the submitted score."
        },
        "unbeatenScores": {
          "type": "array",
          "description": "The scores in time spans that have not been beaten.  As an example, the\nsubmitted score may be better than the\nplayer's `DAILY` score, but not better than the player's scores\nfor the `WEEKLY` or `ALL_TIME` time spans.",
          "items": {
            "$ref": "PlayerScore"
          }
        },
        "scoreTag": {
          "type": "string",
          "description": "Additional information about this score.  Values will contain no more than\n64 URI-safe characters as defined by section 2.3 of RFC 3986."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerScoreResponse`."
        },
        "leaderboardId": {
          "description": "The leaderboard ID that this score was submitted to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlayerScoreResponse"
    },
    "PlayerScore": {
      "id": "PlayerScore",
      "properties": {
        "formattedScore": {
          "type": "string",
          "description": "The formatted score for this player score."
        },
        "score": {
          "type": "string",
          "description": "The numerical value for this player score.",
          "format": "int64"
        },
        "timeSpan": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The score is an all-time score.",
            "The score is a weekly score.",
            "The score is a daily score."
          ],
          "type": "string",
          "enum": [
            "SCORE_TIME_SPAN_UNSPECIFIED",
            "ALL_TIME",
            "WEEKLY",
            "DAILY"
          ],
          "description": "The time span for this player score."
        },
        "scoreTag": {
          "description": "Additional information about this score.  Values will contain no more than\n64 URI-safe characters as defined by section 2.3 of RFC 3986.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerScore`.",
          "type": "string"
        }
      },
      "description": "A player score.",
      "type": "object"
    },
    "Snapshot": {
      "properties": {
        "driveId": {
          "type": "string",
          "description": "The ID of the file underlying this snapshot in the Drive API.  Only present\nif the snapshot is a view on a Drive file and the file is owned by the\ncaller."
        },
        "title": {
          "description": "The title of this snapshot.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the snapshot.",
          "type": "string"
        },
        "uniqueName": {
          "type": "string",
          "description": "The unique name provided when the snapshot was created."
        },
        "durationMillis": {
          "type": "string",
          "description": "The duration associated with this snapshot, in millis.",
          "format": "int64"
        },
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A snapshot representing a save game."
          ],
          "type": "string",
          "description": "The type of this snapshot.",
          "enum": [
            "SNAPSHOT_TYPE_UNSPECIFIED",
            "SAVE_GAME"
          ]
        },
        "lastModifiedMillis": {
          "description": "The timestamp (in millis since Unix epoch) of the last modification to this\nsnapshot.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "The description of this snapshot."
        },
        "progressValue": {
          "type": "string",
          "description": "The progress value (64-bit integer set by developer) associated with this\nsnapshot.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#snapshot`."
        },
        "coverImage": {
          "$ref": "SnapshotImage",
          "description": "The cover image of this snapshot. May be absent if there is no image."
        }
      },
      "type": "object",
      "id": "Snapshot",
      "description": "An snapshot object."
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "description": "An image asset object.",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the asset."
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the asset."
        },
        "width": {
          "description": "The width of the asset.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#imageAsset`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the asset."
        }
      }
    },
    "MetagameConfig": {
      "description": "The metagame config resource",
      "id": "MetagameConfig",
      "properties": {
        "playerLevels": {
          "description": "The list of player levels.",
          "type": "array",
          "items": {
            "$ref": "PlayerLevel"
          }
        },
        "currentVersion": {
          "format": "int32",
          "description": "Current version of the metagame configuration data. When this data is\nupdated, the version number will be increased by one.",
          "type": "integer"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#metagameConfig`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlayerEvent": {
      "properties": {
        "numEvents": {
          "description": "The current number of times this event has occurred.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerEvent`."
        },
        "formattedNumEvents": {
          "type": "string",
          "description": "The current number of times this event has occurred, as a string. The\nformatting of this string depends on the configuration of your event in the\nPlay Games Developer Console."
        },
        "playerId": {
          "type": "string",
          "description": "The ID of the player."
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event definition."
        }
      },
      "description": "An event status resource.",
      "type": "object",
      "id": "PlayerEvent"
    },
    "PlayerScoreSubmissionList": {
      "type": "object",
      "id": "PlayerScoreSubmissionList",
      "description": "A list of score submission requests.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerScoreSubmissionList`."
        },
        "scores": {
          "items": {
            "$ref": "ScoreSubmission"
          },
          "type": "array",
          "description": "The score submissions."
        }
      }
    },
    "RevisionCheckResponse": {
      "type": "object",
      "id": "RevisionCheckResponse",
      "description": "A third party checking a revision response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#revisionCheckResponse`."
        },
        "revisionStatus": {
          "description": "The result of the revision check.",
          "enum": [
            "REVISION_STATUS_UNSPECIFIED",
            "OK",
            "DEPRECATED",
            "INVALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The revision being used is current.",
            "There is currently a newer version available, but the revision being used\nstill works.",
            "The revision being used is not supported in any released version."
          ]
        },
        "apiVersion": {
          "description": "The version of the API this client revision should use when calling API\nmethods.",
          "type": "string"
        }
      }
    },
    "EventRecordFailure": {
      "properties": {
        "failureCause": {
          "enumDescriptions": [
            "Default value. Should not use.",
            "An attempt was made to set an event that was not defined.",
            "An attempt was made to increment an event by a non-positive value."
          ],
          "description": "The cause for the update failure.",
          "enum": [
            "EVENT_UPDATE_FAILURE_CAUSE_UNSPECIFIED",
            "NOT_FOUND",
            "INVALID_UPDATE_VALUE"
          ],
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#eventRecordFailure`.",
          "type": "string"
        },
        "eventId": {
          "description": "The ID of the event that was not updated.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An event update failure resource.",
      "id": "EventRecordFailure"
    },
    "Instance": {
      "type": "object",
      "properties": {
        "androidInstance": {
          "$ref": "InstanceAndroidDetails",
          "description": "Platform dependent details for Android."
        },
        "webInstance": {
          "description": "Platform dependent details for Web.",
          "$ref": "InstanceWebDetails"
        },
        "turnBasedPlay": {
          "type": "boolean",
          "description": "Flag to show if this game instance supports turn based play."
        },
        "name": {
          "type": "string",
          "description": "Localized display name."
        },
        "iosInstance": {
          "description": "Platform dependent details for iOS.",
          "$ref": "InstanceIosDetails"
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should be unused.",
            "Instance is for Android.",
            "Instance is for iOS.",
            "Instance is for Web App."
          ],
          "description": "The platform type.",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "ANDROID",
            "IOS",
            "WEB_APP"
          ]
        },
        "realtimePlay": {
          "description": "Flag to show if this game instance supports realtime play.",
          "type": "boolean"
        },
        "acquisitionUri": {
          "type": "string",
          "description": "URI which shows where a user can acquire this instance."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#instance`."
        }
      },
      "id": "Instance",
      "description": "The Instance resource."
    },
    "EventUpdateRequest": {
      "type": "object",
      "description": "An event period update resource.",
      "properties": {
        "updateCount": {
          "description": "The number of times this event occurred in this time period.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#eventUpdateRequest`.",
          "type": "string"
        },
        "definitionId": {
          "type": "string",
          "description": "The ID of the event being modified in this update."
        }
      },
      "id": "EventUpdateRequest"
    },
    "AchievementUnlockResponse": {
      "description": "An achievement unlock response",
      "type": "object",
      "id": "AchievementUnlockResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#achievementUnlockResponse`."
        },
        "newlyUnlocked": {
          "description": "Whether this achievement was newly unlocked (that is, whether the unlock\nrequest for the achievement was the first for the player).",
          "type": "boolean"
        }
      }
    },
    "InstanceIosDetails": {
      "properties": {
        "supportIphone": {
          "description": "Flag to indicate if this instance supports iPhone.",
          "type": "boolean"
        },
        "supportIpad": {
          "description": "Flag to indicate if this instance supports iPad.",
          "type": "boolean"
        },
        "preferredForIpad": {
          "description": "Indicates that this instance is the default for new installations on iPad\ndevices.",
          "type": "boolean"
        },
        "itunesAppId": {
          "type": "string",
          "description": "iTunes App ID."
        },
        "preferredForIphone": {
          "description": "Indicates that this instance is the default for new installations on iPhone\ndevices.",
          "type": "boolean"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#instanceIosDetails`.",
          "type": "string"
        },
        "bundleIdentifier": {
          "type": "string",
          "description": "Bundle identifier."
        }
      },
      "description": "The iOS details resource.",
      "type": "object",
      "id": "InstanceIosDetails"
    },
    "EventBatchRecordFailure": {
      "id": "EventBatchRecordFailure",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#eventBatchRecordFailure`.",
          "type": "string"
        },
        "failureCause": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "A batch request was issued with more events than are allowed in\na single batch.",
            "A batch was sent with data too far in the past to record.",
            "A batch was sent with a time range that was too short.",
            "A batch was sent with a time range that was too long.",
            "An attempt was made to record a batch of data which was already seen.",
            "An attempt was made to record data faster than the server\nwill apply updates."
          ],
          "description": "The cause for the update failure.",
          "enum": [
            "EVENT_FAILURE_CAUSE_UNSPECIFIED",
            "TOO_LARGE",
            "TIME_PERIOD_EXPIRED",
            "TIME_PERIOD_SHORT",
            "TIME_PERIOD_LONG",
            "ALREADY_UPDATED",
            "RECORD_RATE_HIGH"
          ]
        },
        "range": {
          "description": "The time range which was rejected; empty for a request-wide failure.",
          "$ref": "EventPeriodRange"
        }
      },
      "type": "object",
      "description": "A batch update failure resource."
    },
    "AchievementDefinition": {
      "type": "object",
      "description": "An achievement definition object.",
      "properties": {
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "totalSteps": {
          "type": "integer",
          "format": "int32",
          "description": "The total steps for an incremental achievement."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#achievementDefinition`."
        },
        "unlockedIconUrl": {
          "description": "The image URL for the unlocked achievement icon.",
          "type": "string"
        },
        "isRevealedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the revealed icon image being returned is a default\nimage, or is provided by the game."
        },
        "isUnlockedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the unlocked icon image being returned is a default\nimage, or is game-provided."
        },
        "name": {
          "description": "The name of the achievement.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the achievement."
        },
        "achievementType": {
          "description": "The type of the achievement.",
          "enum": [
            "ACHIEVEMENT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INCREMENTAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is either locked or unlocked.",
            "Achievement is incremental."
          ]
        },
        "formattedTotalSteps": {
          "type": "string",
          "description": "The total steps for an incremental achievement as a string."
        },
        "id": {
          "description": "The ID of the achievement.",
          "type": "string"
        },
        "initialState": {
          "type": "string",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is hidden.",
            "Achievement is revealed.",
            "Achievement is unlocked."
          ],
          "enum": [
            "INITIAL_ACHIEVEMENT_STATE_UNSPECIFIED",
            "HIDDEN",
            "REVEALED",
            "UNLOCKED"
          ],
          "description": "The initial state of the achievement."
        },
        "experiencePoints": {
          "format": "int64",
          "description": "Experience points which will be earned when unlocking this achievement.",
          "type": "string"
        }
      },
      "id": "AchievementDefinition"
    },
    "PlayerAchievementListResponse": {
      "id": "PlayerAchievementListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#playerAchievementListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlayerAchievement"
          },
          "type": "array",
          "description": "The achievements."
        }
      },
      "description": "A list of achievement objects."
    },
    "SnapshotListResponse": {
      "description": "A third party list snapshots response.",
      "id": "SnapshotListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token corresponding to the next page of results. If there are no more\nresults, the token is omitted.",
          "type": "string"
        },
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#snapshotListResponse`.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "The snapshots."
        }
      },
      "type": "object"
    },
    "CategoryListResponse": {
      "description": "A third party list metagame categories response.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#categoryListResponse`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token corresponding to the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "The list of categories with usage data.",
          "items": {
            "$ref": "Category"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "CategoryListResponse"
    },
    "AchievementUpdateRequest": {
      "description": "A request to update an achievement.",
      "properties": {
        "setStepsAtLeastPayload": {
          "description": "The payload if an update of type `SET_STEPS_AT_LEAST` was\nrequested for the achievement.",
          "$ref": "GamesAchievementSetStepsAtLeast"
        },
        "incrementPayload": {
          "description": "The payload if an update of type `INCREMENT` was requested for\nthe achievement.",
          "$ref": "GamesAchievementIncrement"
        },
        "achievementId": {
          "type": "string",
          "description": "The achievement this update is being applied to."
        },
        "updateType": {
          "type": "string",
          "description": "The type of update being applied.",
          "enumDescriptions": [
            "Safe default, don't use.",
            "Achievement is revealed.",
            "Achievement is unlocked.",
            "Achievement is incremented.",
            "Achievement progress is set to at least the passed value."
          ],
          "enum": [
            "ACHIEVEMENT_UPDATE_TYPE_UNSPECIFIED",
            "REVEAL",
            "UNLOCK",
            "INCREMENT",
            "SET_STEPS_AT_LEAST"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#achievementUpdateRequest`."
        }
      },
      "id": "AchievementUpdateRequest",
      "type": "object"
    },
    "AchievementUpdateMultipleResponse": {
      "properties": {
        "updatedAchievements": {
          "description": "The updated state of the achievements.",
          "type": "array",
          "items": {
            "$ref": "AchievementUpdateResponse"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#achievementUpdateMultipleResponse`."
        }
      },
      "id": "AchievementUpdateMultipleResponse",
      "type": "object"
    },
    "EventRecordRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "format": "int64",
          "description": "The request ID used to identify this attempt to record events."
        },
        "timePeriods": {
          "type": "array",
          "items": {
            "$ref": "EventPeriodUpdate"
          },
          "description": "A list of the time period updates being made in this request."
        },
        "currentTimeMillis": {
          "format": "int64",
          "description": "The current time when this update was sent, in milliseconds, since 1970 UTC\n(Unix Epoch).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#eventRecordRequest`."
        }
      },
      "id": "EventRecordRequest",
      "description": "An event period update resource.",
      "type": "object"
    },
    "StatsResponse": {
      "description": "A third party stats resource.",
      "type": "object",
      "id": "StatsResponse",
      "properties": {
        "days_since_last_played": {
          "description": "Number of days since the player last played this game. E.g., 0, 1, 5, 10,\n... . Not populated if there is not enough information.",
          "format": "int32",
          "type": "integer"
        },
        "total_spend_next_28_days": {
          "format": "float",
          "type": "number",
          "description": "The predicted amount of money that the player going to spend in the next 28\ndays. E.g., 1, 30, 60, ... . Not populated if there is not enough\ninformation."
        },
        "num_sessions": {
          "type": "integer",
          "format": "int32",
          "description": "The approximate number of sessions of the player within the last 28 days,\nwhere a session begins when the player is connected to Play Games Services\nand ends when they are disconnected. E.g., 0, 1, 5, 10, ... . Not populated\nif there is not enough information."
        },
        "num_sessions_percentile": {
          "format": "float",
          "description": "The approximation of the sessions percentile of the player within the last\n30 days, where a session begins when the player is connected to Play Games\nServices and ends when they are disconnected. E.g., 0, 0.25, 0.5, 0.75. Not\npopulated if there is not enough information.",
          "type": "number"
        },
        "num_purchases": {
          "format": "int32",
          "description": "Number of in-app purchases made by the player in this game. E.g., 0, 1, 5,\n10, ... . Not populated if there is not enough information.",
          "type": "integer"
        },
        "churn_probability": {
          "type": "number",
          "description": "The probability of the player not returning to play the game in the next\nday. E.g., 0, 0.1, 0.5, ..., 1.0. Not populated if there is not enough\ninformation.",
          "format": "float"
        },
        "spend_percentile": {
          "description": "The approximate spend percentile of the player in this game. E.g., 0, 0.25,\n0.5, 0.75. Not populated if there is not enough information.",
          "format": "float",
          "type": "number"
        },
        "spend_probability": {
          "type": "number",
          "format": "float",
          "description": "The probability of the player going to spend the game in the next seven\ndays. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough\ninformation."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#statsResponse`."
        },
        "avg_session_length_minutes": {
          "type": "number",
          "format": "float",
          "description": "Average session length in minutes of the player. E.g., 1, 30, 60, ... . Not\npopulated if there is not enough information."
        },
        "high_spender_probability": {
          "description": "The probability of the player going to spend beyond a threshold amount of\nmoney. E.g., 0, 0.25, 0.50, 0.75. Not populated if there is not enough\ninformation.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "InstanceWebDetails": {
      "description": "The Web details resource.",
      "properties": {
        "kind": {
          "description": "Uniquely identifies the type of this resource. Value is always the fixed\nstring `games#instanceWebDetails`.",
          "type": "string"
        },
        "launchUrl": {
          "description": "Launch URL for the game.",
          "type": "string"
        },
        "preferred": {
          "type": "boolean",
          "description": "Indicates that this instance is the default for new installations."
        }
      },
      "type": "object",
      "id": "InstanceWebDetails"
    }
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Play Game Services",
  "revision": "20200625",
  "batchPath": "batch/games/v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "canonicalName": "Games",
  "resources": {
    "applications": {
      "methods": {
        "played": {
          "id": "games.applications.played",
          "description": "Indicate that the currently authenticated user is playing your\napplication.",
          "flatPath": "games/v1/applications/played",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/applications/played",
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "verify": {
          "flatPath": "games/v1/applications/{applicationId}/verify",
          "description": "Verifies the auth token provided with this request is for the application\nwith the specified ID, and returns the ID of the player it was granted for.",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "description": "The application ID from the Google Play developer console.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/applications/{applicationId}/verify",
          "response": {
            "$ref": "ApplicationVerifyResponse"
          },
          "id": "games.applications.verify",
          "httpMethod": "GET"
        },
        "get": {
          "response": {
            "$ref": "Application"
          },
          "description": "Retrieves the metadata of the application with the given ID. If the\nrequested application is not available for the specified\n`platformType`, the returned response will not include any\ninstance data.",
          "path": "games/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "platformType": {
              "location": "query",
              "enum": [
                "PLATFORM_TYPE_UNSPECIFIED",
                "ANDROID",
                "IOS",
                "WEB_APP"
              ],
              "description": "Restrict application details returned to the specific platform.",
              "type": "string"
            },
            "applicationId": {
              "location": "path",
              "type": "string",
              "description": "The application ID from the Google Play developer console.",
              "required": true
            }
          },
          "flatPath": "games/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "id": "games.applications.get"
        }
      }
    },
    "players": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Player"
          },
          "id": "games.players.get",
          "parameters": {
            "playerId": {
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the\nauthenticated player's ID.",
              "location": "path",
              "type": "string"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Retrieves the Player resource with the given ID.  To retrieve the player\nfor the currently authenticated user, set `playerId` to `me`.",
          "httpMethod": "GET",
          "parameterOrder": [
            "playerId"
          ],
          "flatPath": "games/v1/players/{playerId}",
          "path": "games/v1/players/{playerId}"
        },
        "list": {
          "flatPath": "games/v1/players/me/players/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "collection"
          ],
          "id": "games.players.list",
          "description": "Get the collection of players for the currently authenticated user.",
          "path": "games/v1/players/me/players/{collection}",
          "response": {
            "$ref": "PlayerListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "collection": {
              "enum": [
                "CONNECTED",
                "VISIBLE",
                "FRIENDS_ALL"
              ],
              "location": "path",
              "description": "Collection of players being retrieved",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of player resources to return in the response, used for\npaging. For any response, the actual number of player resources returned\nmay be less than the specified `maxResults`."
            },
            "pageToken": {
              "location": "query",
              "description": "The token returned by the previous request.",
              "type": "string"
            }
          }
        }
      }
    },
    "leaderboards": {
      "methods": {
        "list": {
          "flatPath": "games/v1/leaderboards",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The maximum number of leaderboards to return in the response.  For any\nresponse, the actual number of leaderboards returned may be less than the\nspecified `maxResults`.",
              "type": "integer",
              "format": "int32"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            }
          },
          "httpMethod": "GET",
          "description": "Lists all the leaderboard metadata for your application.",
          "parameterOrder": [],
          "response": {
            "$ref": "LeaderboardListResponse"
          },
          "id": "games.leaderboards.list",
          "path": "games/v1/leaderboards",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "get": {
          "id": "games.leaderboards.get",
          "description": "Retrieves the metadata of the leaderboard with the given ID.",
          "response": {
            "$ref": "Leaderboard"
          },
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "description": "The ID of the leaderboard.",
              "location": "path",
              "required": true
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "leaderboardId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}"
        }
      }
    },
    "snapshots": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token returned by the previous request."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of snapshot resources to return in the response, used\nfor paging. For any response, the actual number of snapshot resources\nreturned may be less than the specified `maxResults`."
            },
            "playerId": {
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the authenticated\nplayer's ID.",
              "type": "string",
              "location": "path"
            },
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "id": "games.snapshots.list",
          "description": "Retrieves a list of snapshots created by your application for the player\ncorresponding to the player ID.",
          "path": "games/v1/players/{playerId}/snapshots",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/players/{playerId}/snapshots",
          "response": {
            "$ref": "SnapshotListResponse"
          },
          "parameterOrder": [
            "playerId"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "snapshotId": {
              "description": "The ID of the snapshot.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves the metadata for a given snapshot ID.",
          "parameterOrder": [
            "snapshotId"
          ],
          "response": {
            "$ref": "Snapshot"
          },
          "id": "games.snapshots.get",
          "path": "games/v1/snapshots/{snapshotId}",
          "flatPath": "games/v1/snapshots/{snapshotId}"
        }
      }
    },
    "scores": {
      "methods": {
        "submit": {
          "httpMethod": "POST",
          "description": "Submits a score to the specified leaderboard.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [
            "leaderboardId",
            "score"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores",
          "parameters": {
            "leaderboardId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the leaderboard."
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "score": {
              "location": "query",
              "description": "The score you're submitting. The submitted score is ignored if it is worse\nthan a previously submitted score, where worse depends on the leaderboard\nsort order. The meaning of the score value depends on the leaderboard\nformat type. For fixed-point, the score represents the raw value.  For\ntime, the score represents elapsed time in milliseconds.  For currency, the\nscore represents a value in micro units.",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "scoreTag": {
              "pattern": "[a-zA-Z0-9-._~]{0,64}",
              "location": "query",
              "description": "Additional information about the score you're submitting.  Values must\ncontain no more than 64 URI-safe characters as defined by section 2.3 of\nRFC 3986.",
              "type": "string"
            }
          },
          "id": "games.scores.submit",
          "path": "games/v1/leaderboards/{leaderboardId}/scores",
          "response": {
            "$ref": "PlayerScoreResponse"
          }
        },
        "submitMultiple": {
          "parameters": {
            "language": {
              "type": "string",
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "flatPath": "games/v1/leaderboards/scores",
          "id": "games.scores.submitMultiple",
          "response": {
            "$ref": "PlayerScoreListResponse"
          },
          "request": {
            "$ref": "PlayerScoreSubmissionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameterOrder": [],
          "path": "games/v1/leaderboards/scores",
          "description": "Submits multiple scores to leaderboards."
        },
        "get": {
          "flatPath": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "path": "games/v1/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}",
          "httpMethod": "GET",
          "id": "games.scores.get",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token returned by the previous request."
            },
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string",
              "location": "query"
            },
            "playerId": {
              "type": "string",
              "description": "A player ID. A value of `me` may be used in place of the\nauthenticated player's ID.",
              "required": true,
              "location": "path"
            },
            "leaderboardId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the leaderboard.  Can be set to 'ALL' to retrieve data for all\nleaderboards for this application."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of leaderboard scores to return in the response.  For\nany response, the actual number of leaderboard scores returned may be less\nthan the specified `maxResults`."
            },
            "timeSpan": {
              "required": true,
              "location": "path",
              "enum": [
                "SCORE_TIME_SPAN_UNSPECIFIED",
                "ALL",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "description": "The time span for the scores and ranks you're requesting."
            },
            "includeRankType": {
              "enum": [
                "INCLUDE_RANK_TYPE_UNSPECIFIED",
                "ALL",
                "PUBLIC",
                "SOCIAL"
              ],
              "description": "The types of ranks to return. If the parameter is omitted, no ranks will be\nreturned.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "description": "Get high scores, and optionally ranks, in leaderboards for the currently\nauthenticated player.  For a specific time span, `leaderboardId`\ncan be set to `ALL` to retrieve data for all leaderboards in a\ngiven time span.  `NOTE: You cannot ask for 'ALL' leaderboards and\n'ALL' timeSpans in the same request; only one parameter may be set to\n'ALL'.",
          "parameterOrder": [
            "playerId",
            "leaderboardId",
            "timeSpan"
          ],
          "response": {
            "$ref": "PlayerLeaderboardScoreListResponse"
          }
        },
        "listWindow": {
          "description": "Lists the scores in a leaderboard around (and including) a player's score.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "path": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "flatPath": "games/v1/leaderboards/{leaderboardId}/window/{collection}",
          "parameters": {
            "timeSpan": {
              "description": "The time span for the scores and ranks you're requesting.",
              "type": "string",
              "location": "query",
              "enum": [
                "SCORE_TIME_SPAN_UNSPECIFIED",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "required": true
            },
            "language": {
              "location": "query",
              "description": "The preferred language to use for strings returned by this method.",
              "type": "string"
            },
            "leaderboardId": {
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response.  For\nany response, the actual number of leaderboard scores returned may be less\nthan the specified `maxResults`."
            },
            "resultsAbove": {
              "description": "The preferred number of scores to return above the player's score. More\nscores may be returned if the player is at the bottom of the leaderboard;\nfewer may be returned if the player is at the top. Must be less than or\nequal to maxResults.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "collection": {
              "enum": [
                "SCORE_COLLECTION_UNSPECIFIED",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "required": true,
              "description": "The collection of scores you're requesting.",
              "location": "path",
              "type": "string"
            },
            "returnTopIfAbsent": {
              "location": "query",
              "type": "boolean",
              "description": "True if the top scores should be returned when the player is not in the\nleaderboard. Defaults to true."
            }
          },
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ],
          "id": "games.scores.listWindow"
        },
        "list": {
          "parameters": {
            "language": {
              "description": "The preferred language to use for strings returned by this method.",
              "location": "query",
              "type": "string"
            },
            "collection": {
              "type": "string",
              "enum": [
                "SCORE_COLLECTION_UNSPECIFIED",
                "PUBLIC",
                "SOCIAL",
                "FRIENDS"
              ],
              "location": "path",
              "required": true,
              "description": "The collection of scores you're requesting."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of leaderboard scores to return in the response.  For\nany response, the actual number of leaderboard scores returned may be less\nthan the specified `maxResults`."
            },
            "timeSpan": {
              "required": true,
              "enum": [
                "SCORE_TIME_SPAN_UNSPECIFIED",
                "ALL_TIME",
                "WEEKLY",
                "DAILY"
              ],
              "type": "string",
              "description": "The time span for the scores and ranks you're requesting.",
              "location": "query"
            },
            "leaderboardId": {
              "location": "path",
              "required": true,
              "description": "The ID of the leaderboard.",
              "type": "string"
            },
            "pageToken": {
              "description": "The token returned by the previous request.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "games.scores.list",
          "description": "Lists the scores in a leaderboard, starting from the top.",
          "httpMethod": "GET",
          "response": {
            "$ref": "LeaderboardScores"
          },
          "path": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "flatPath": "games/v1/leaderboards/{leaderboardId}/scores/{collection}",
          "parameterOrder": [
            "leaderboardId",
            "collection",
            "timeSpan"
          ]
        }
      }
    },
    "achievements": {
      "methods": {
        "updateMultiple": {
          "description": "Updates multiple achievements for the currently authenticated player.",
          "request": {
            "$ref": "AchievementUpdateMultipleRequest"
          },
          "parameterOrder": [],
          "flatPath": "games/v1/achievements/updateMultiple",
          "response": {
            "$ref": "AchievementUpdateMultipleResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {},
          "id": "games.achievements.updateMultiple",
          "path": "games/v1/achievements/updateMultiple",
          "httpMethod": "POST"
        },
        "increment": {
          "path": "games/v1/achievements/{achievementId}/increment",
          "parameters": {
            "stepsToIncrement": {
              "location": "query",
              "format": "int32",
              "required": true,
              "description": "The number of steps to increment.",
              "type": "integer"
            },
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "A randomly generated numeric ID for each request specified by the caller.\nThis number is used at the server to ensure that the request is handled\ncorrectly across retries.",
              "format": "int64"
            },
            "achievementId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the achievement used by this method."
            }
          },
          "id": "games.achievements.increment",
          "parameterOrder": [
            "achievementId",
            "stepsToIncrement"
          ],
          "response": {
            "$ref": "AchievementIncrementResponse"
          },
          "description": "Increments the steps of the achievement with the given ID for the currently\nauthenticated player.",
          "flatPath": "games/v1/achievements/{achievementId}/increment",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "list": {
          "description": "Lists the progress for all your application's achievements for the\ncurrently authenticated player.",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "parameters": {
            "language": {
              "type": "string",
              "location": "query",
              "description": "The preferred language to use for strings returned by this method."
            },
            "state": {
              "description": "Tells the server to return only achievements with the specified state.  If\nthis parameter isn't specified, all achievements are returned.",
              "enum": [
                "ALL",
                "HIDDEN",
                "REVEALED",
                "UNLOCKED"
              ],
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token returned by the previous request.",
              "location": "query"
            },
            "playerId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "A player ID. A value of `me` may be used in place of the\nauthenticated player's ID."
            },
            "maxResults": {
              "location": "query",
              "description": "The maximum number of achievement resources to return in the response, used\nfor paging. For any response, the actual number of achievement resources\nreturned may be less than the specified `maxResults`.",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "games.achievements.list",
          "parameterOrder": [
            "playerId"
          ],
          "path": "games/v1/players/{playerId}/achievements",
          "flatPath": "games/v1/players/{playerId}/achievements",
          "response": {
            "$ref": "PlayerAchievementListResponse"
          },
          "httpMethod": "GET"
        },
        "unlock": {
          "parameterOrder": [
            "achievementId"
          ],
          "flatPath": "games/v1/achievements/{achievementId}/unlock",
          "description": "Unlocks this achievement for the currently authenticated player.",
          "path": "games/v1/achievements/{achievementId}/unlock",
          "response": {
            "$ref": "AchievementUnlockResponse"
          },
          "parameters": {
            "achievementId": {
              "location": "path",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "type": "string"
            }
          },
          "id": "games.achievements.unlock",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ]
        },
        "reveal": {
          "flatPath": "games/v1/achievements/{achievementId}/reveal",
          "path": "games/v1/achievements/{achievementId}/reveal",
          "id": "games.achievements.reveal",
          "parameters": {
            "achievementId": {
              "description": "The ID of the achievement used by this method.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "achievementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/games"
          ],
          "httpMethod": "POST",
          "description": "Sets the state of the achievement with the given ID to\n`REVEALED` for the currently authenticated player.",
          "response": {
            "$ref": "AchievementRevealResponse"
          }
        },
        "setStepsAtLeast": {
          "parameters": {
            "steps": {
              "required": true,
              "format": "int32",
              "description": "The minimum value to set the steps to.",
              "type": "integer",
              "location": "query"
            },
            "achievementId": {
              "type": "string",
              "description": "The ID of the achievement used by this method.",
              "required": true,
              "location": "path"
            }
          },
[...]
