{
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://gkehub.googleapis.com/",
  "name": "gkehub",
  "id": "gkehub:v1",
  "description": "",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "basePath": "",
  "title": "GKE Hub API",
  "canonicalName": "GKE Hub",
  "version": "v1",
  "protocol": "rest",
  "servicePath": "",
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "schemas": {
    "GkeCluster": {
      "id": "GkeCluster",
      "description": "GkeCluster contains information specific to GKE clusters.",
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the Google Cloud resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported.",
          "type": "string"
        },
        "clusterMissing": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane."
        }
      },
      "type": "object"
    },
    "ResourceManifest": {
      "id": "ResourceManifest",
      "type": "object",
      "properties": {
        "manifest": {
          "type": "string",
          "description": "YAML manifest of the resource."
        },
        "clusterScoped": {
          "description": "Whether the resource provided in the manifest is `cluster_scoped`. If unset, the manifest is assumed to be namespace scoped. This field is used for REST mapping when applying the resource in a cluster.",
          "type": "boolean"
        }
      },
      "description": "ResourceManifest represents a single Kubernetes resource to be applied to the cluster."
    },
    "IdentityServiceOidcConfig": {
      "description": "Configuration for OIDC Auth flow.",
      "properties": {
        "extraParams": {
          "description": "Comma-separated list of key-value pairs.",
          "type": "string"
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin."
        },
        "scopes": {
          "description": "Comma-separated list of identifiers.",
          "type": "string"
        },
        "groupPrefix": {
          "type": "string",
          "description": "Prefix to prepend to group name."
        },
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "deployCloudConsoleProxy": {
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console.",
          "type": "boolean"
        },
        "userClaim": {
          "description": "Claim in OIDC ID token that holds username.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "description": "Output only. Encrypted OIDC Client secret",
          "type": "string",
          "format": "byte",
          "readOnly": true
        },
        "userPrefix": {
          "type": "string",
          "description": "Prefix to prepend to user name."
        },
        "clientSecret": {
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "enableAccessToken": {
          "type": "boolean",
          "description": "Enable access token."
        },
        "groupsClaim": {
          "description": "Claim in OIDC ID token that holds group information.",
          "type": "string"
        },
        "clientId": {
          "description": "ID for OIDC client application.",
          "type": "string"
        },
        "issuerUri": {
          "type": "string",
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
        }
      },
      "id": "IdentityServiceOidcConfig",
      "type": "object"
    },
    "ServiceMeshMembershipSpec": {
      "properties": {
        "management": {
          "description": "Enables automatic Service Mesh management.",
          "enumDescriptions": [
            "Unspecified",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components."
          ],
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "type": "string"
        },
        "controlPlane": {
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "description": "Deprecated: use `management` instead Enables automatic control plane management.",
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string"
        }
      },
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "type": "object",
      "id": "ServiceMeshMembershipSpec"
    },
    "ServiceMeshDataPlaneManagement": {
      "properties": {
        "details": {
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "type": "array",
          "description": "Explanation of the status."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state."
          ],
          "description": "Lifecycle status of data plane management.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED"
          ]
        }
      },
      "description": "Status of data plane management. Only reported per-member.",
      "type": "object",
      "id": "ServiceMeshDataPlaneManagement"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      }
    },
    "ConfigManagementHierarchyControllerState": {
      "type": "object",
      "id": "ConfigManagementHierarchyControllerState",
      "description": "State for Hierarchy Controller",
      "properties": {
        "state": {
          "description": "The deployment state for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerDeploymentState"
        },
        "version": {
          "description": "The version for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerVersion"
        }
      }
    },
    "FeatureState": {
      "id": "FeatureState",
      "description": "FeatureState describes the high-level state of a Feature. It may be used to describe a Feature's state at the environ-level, or per-membershop, depending on the context.",
      "properties": {
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        },
        "updateTime": {
          "description": "The time this status and any related Feature-specific details were updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "code": {
          "description": "The high-level, machine-readable status of this Feature.",
          "enumDescriptions": [
            "Unknown or not set.",
            "The Feature is operating normally.",
            "The Feature has encountered an issue, and is operating in a degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information.",
            "The Feature is not operating or is in a severely degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementGroupVersionKind": {
      "properties": {
        "group": {
          "type": "string",
          "description": "Kubernetes Group"
        },
        "kind": {
          "description": "Kubernetes Kind",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        }
      },
      "id": "ConfigManagementGroupVersionKind",
      "description": "A Kubernetes object's GVK",
      "type": "object"
    },
    "FleetLifecycleState": {
      "properties": {
        "code": {
          "description": "Output only. The current state of the Fleet resource.",
          "enumDescriptions": [
            "The code is not set.",
            "The fleet is being created.",
            "The fleet active.",
            "The fleet is being deleted.",
            "The fleet is being updated."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ]
        }
      },
      "type": "object",
      "id": "FleetLifecycleState",
      "description": "FleetLifecycleState describes the state of a Fleet resource."
    },
    "ConfigManagementHierarchyControllerConfig": {
      "type": "object",
      "id": "ConfigManagementHierarchyControllerConfig",
      "description": "Configuration for Hierarchy Controller",
      "properties": {
        "enableHierarchicalResourceQuota": {
          "type": "boolean",
          "description": "Whether hierarchical resource quota is enabled in this cluster."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether Hierarchy Controller is enabled in this cluster."
        },
        "enablePodTreeLabels": {
          "type": "boolean",
          "description": "Whether pod tree labels are enabled in this cluster."
        }
      }
    },
    "ServiceMeshMembershipState": {
      "type": "object",
      "properties": {
        "controlPlaneManagement": {
          "readOnly": true,
          "$ref": "ServiceMeshControlPlaneManagement",
          "description": "Output only. Status of control plane management"
        },
        "dataPlaneManagement": {
          "readOnly": true,
          "description": "Output only. Status of data plane management.",
          "$ref": "ServiceMeshDataPlaneManagement"
        }
      },
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "id": "ServiceMeshMembershipState"
    },
    "Origin": {
      "type": "object",
      "description": "Origin defines where this MembershipFeatureSpec originated from.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "USER"
          ],
          "description": "Type specifies which type of origin is set.",
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Membership spec was inherited from the fleet-level default.",
            "Per-Membership spec was inherited from a user specification."
          ]
        }
      },
      "id": "Origin"
    },
    "ConfigManagementConfigSync": {
      "id": "ConfigManagementConfigSync",
      "properties": {
        "sourceFormat": {
          "type": "string",
          "description": "Specifies whether the Config Sync Repo is in \"hierarchical\" or \"unstructured\" mode."
        },
        "stopSyncing": {
          "type": "boolean",
          "description": "Set to true to stop syncing configs for a single cluster when automatic Feature management is enabled. Default to false. The field will be ignored when automatic Feature management is disabled."
        },
        "oci": {
          "description": "OCI repo configuration for the cluster",
          "$ref": "ConfigManagementOciConfig"
        },
        "git": {
          "description": "Git repo configuration for the cluster.",
          "$ref": "ConfigManagementGitConfig"
        },
        "metricsGcpServiceAccountEmail": {
          "type": "string",
          "description": "The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be binded to the GSA. This field is required when automatic Feature management is enabled."
        },
        "allowVerticalScale": {
          "type": "boolean",
          "description": "Set to true to allow the vertical scaling. Defaults to false which disallows vertical scaling. This field is deprecated.",
          "deprecated": true
        },
        "preventDrift": {
          "description": "Set to true to enable the Config Sync admission webhook to prevent drifts. If set to `false`, disables the Config Sync admission webhook and does not prevent drifts.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Enables the installation of ConfigSync. If set to true, ConfigSync resources will be created and the other ConfigSync fields will be applied if exist. If set to false, all other ConfigSync fields will be ignored, ConfigSync resources will be deleted. If omitted, ConfigSync resources will be managed depends on the presence of the git or oci field.",
          "type": "boolean"
        }
      },
      "description": "Configuration for Config Sync",
      "type": "object"
    },
    "ConfigManagementInstallError": {
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      },
      "description": "Errors pertaining to the installation of ACM",
      "type": "object",
      "id": "ConfigManagementInstallError"
    },
    "ResourceOptions": {
      "properties": {
        "k8sVersion": {
          "description": "Optional. Major version of the Kubernetes cluster. This is only used to determine which version to use for the CustomResourceDefinition resources, `apiextensions/v1beta1` or`apiextensions/v1`.",
          "type": "string"
        },
        "connectVersion": {
          "description": "Optional. The Connect agent version to use for connect_resources. Defaults to the latest GKE Connect version. The version must be a currently supported version, obsolete versions will be rejected.",
          "type": "string"
        },
        "v1beta1Crd": {
          "type": "boolean",
          "description": "Optional. Use `apiextensions/v1beta1` instead of `apiextensions/v1` for CustomResourceDefinition resources. This option should be set for clusters with Kubernetes apiserver versions \u003c1.16."
        }
      },
      "type": "object",
      "id": "ResourceOptions",
      "description": "ResourceOptions represent options for Kubernetes resource generation."
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "ListFleetsResponse": {
      "type": "object",
      "description": "Response message for the `GkeHub.ListFleetsResponse` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. The token is only valid for 1h."
        },
        "fleets": {
          "description": "The list of matching fleets.",
          "items": {
            "$ref": "Fleet"
          },
          "type": "array"
        }
      },
      "id": "ListFleetsResponse"
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "properties": {
        "gatekeeperAudit": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Status of gatekeeper-audit deployment."
        },
        "gatekeeperControllerManagerState": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "description": "Status of gatekeeper-controller-manager pod."
        },
        "gatekeeperMutation": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Status of the pod serving the mutation webhook."
        }
      },
      "id": "ConfigManagementGatekeeperDeploymentState",
      "description": "State of Policy Controller installation.",
      "type": "object"
    },
    "ApplianceCluster": {
      "description": "ApplianceCluster contains information specific to GDC Edge Appliance Clusters.",
      "type": "object",
      "id": "ApplianceCluster",
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the Google Cloud resource for the Appliance Cluster. For example: //transferappliance.googleapis.com/projects/my-project/locations/us-west1-a/appliances/my-appliance"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ConfigManagementGitConfig": {
      "type": "object",
      "description": "Git repo configuration for a single cluster.",
      "properties": {
        "httpsProxy": {
          "description": "URL for the HTTPS proxy to be used when communicating with the Git repo.",
          "type": "string"
        },
        "secretType": {
          "type": "string",
          "description": "Type of secret configured for access to the Git repo. Must be one of ssh, cookiefile, gcenode, token, gcpserviceaccount or none. The validation of this is case-sensitive. Required."
        },
        "syncBranch": {
          "description": "The branch of the repository to sync from. Default: master.",
          "type": "string"
        },
        "syncRev": {
          "type": "string",
          "description": "Git revision (tag or hash) to check out. Default HEAD."
        },
        "syncRepo": {
          "description": "The URL of the Git repository to use as the source of truth.",
          "type": "string"
        },
        "syncWaitSecs": {
          "type": "string",
          "description": "Period in seconds between consecutive syncs. Default: 15.",
          "format": "int64"
        },
        "policyDir": {
          "description": "The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "The Google Cloud Service Account Email used for auth when secret_type is gcpServiceAccount."
        }
      },
      "id": "ConfigManagementGitConfig"
    },
    "MembershipFeatureSpec": {
      "properties": {
        "identityservice": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Identity Service-specific spec."
        },
        "mesh": {
          "$ref": "ServiceMeshMembershipSpec",
          "description": "Anthos Service Mesh-specific spec"
        },
        "origin": {
          "description": "Whether this per-Membership spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Membership config (updated to USER implicitly) or setting to FLEET explicitly.",
          "$ref": "Origin"
        },
        "configmanagement": {
          "description": "Config Management-specific spec.",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "fleetobservability": {
          "$ref": "FleetObservabilityMembershipSpec",
          "description": "Fleet observability membership spec"
        }
      },
      "description": "MembershipFeatureSpec contains configuration information for a single Membership. NOTE: Please use snake case in your feature name.",
      "id": "MembershipFeatureSpec",
      "type": "object"
    },
    "MultiClusterIngressFeatureSpec": {
      "id": "MultiClusterIngressFeatureSpec",
      "description": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature.",
      "type": "object",
      "properties": {
        "configMembership": {
          "description": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`",
          "type": "string"
        }
      }
    },
    "ConfigManagementSyncState": {
      "properties": {
        "lastSync": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String"
        },
        "code": {
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "description": "Sync status code",
          "enumDescriptions": [
            "ACM cannot determine a sync code",
            "ACM successfully synced the git Repo with the cluster",
            "ACM is in the progress of syncing a new change",
            "Indicates an error configuring ACM, and user action is required",
            "ACM has been installed (operator manifest deployed), but not configured.",
            "ACM has not been installed (no operator pod found)",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "type": "string"
        },
        "sourceToken": {
          "description": "Token indicating the state of the repo.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "items": {
            "$ref": "ConfigManagementSyncError"
          }
        },
        "syncToken": {
          "description": "Token indicating the state of the syncer.",
          "type": "string"
        },
        "lastSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp type of when ACM last successfully synced the repo"
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConfigManagementSyncState",
      "description": "State indicating an ACM's progress syncing configurations to a cluster"
    },
    "Fleet": {
      "id": "Fleet",
      "description": "Fleet contains the Fleet-wide metadata and configuration.",
      "properties": {
        "displayName": {
          "description": "Optional. A user-assigned display name of the Fleet. When present, it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `Production Fleet`",
          "type": "string"
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the Fleet was deleted."
        },
        "createTime": {
          "description": "Output only. When the Fleet was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full, unique resource name of this fleet in the format of `projects/{project}/locations/{location}/fleets/{fleet}`. Each Google Cloud project can have at most one fleet resource, named \"default\"."
        },
        "state": {
          "readOnly": true,
          "$ref": "FleetLifecycleState",
          "description": "Output only. State of the namespace resource."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When the Fleet was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Fleet resources. If a Fleet resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "IdentityServiceGoogleConfig": {
      "properties": {
        "disable": {
          "description": "Disable automatic configuration of Google Plugin on supported platforms.",
          "type": "boolean"
        }
      },
      "id": "IdentityServiceGoogleConfig",
      "description": "Configuration for the Google Plugin Auth flow.",
      "type": "object"
    },
    "MembershipFeatureState": {
      "type": "object",
      "properties": {
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceFeatureState"
        },
        "servicemesh": {
          "$ref": "ServiceMeshMembershipState",
          "description": "Service Mesh-specific state."
        },
        "fleetobservability": {
          "$ref": "FleetObservabilityMembershipState",
          "description": "Fleet observability membership state."
        },
        "configmanagement": {
          "description": "Config Management-specific state.",
          "$ref": "ConfigManagementMembershipState"
        },
        "state": {
          "$ref": "FeatureState",
          "description": "The high-level state of this Feature for a single membership."
        },
        "identityservice": {
          "description": "Identity Service-specific state.",
          "$ref": "IdentityServiceMembershipState"
        }
      },
      "id": "MembershipFeatureState",
      "description": "MembershipFeatureState contains Feature status information for a single Membership."
    },
    "ConfigManagementOperatorState": {
      "properties": {
        "version": {
          "description": "The semenatic version number of the operator",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "description": "Install errors."
        },
        "deploymentState": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "The state of the Operator's deployment"
        }
      },
      "description": "State information for an ACM's Operator",
      "type": "object",
      "id": "ConfigManagementOperatorState"
    },
    "KubernetesResource": {
      "type": "object",
      "id": "KubernetesResource",
      "properties": {
        "membershipResources": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ResourceManifest"
          },
          "description": "Output only. Additional Kubernetes resources that need to be applied to the cluster after Membership creation, and after every update. This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask."
        },
        "resourceOptions": {
          "description": "Optional. Options for Kubernetes resource generation.",
          "$ref": "ResourceOptions"
        },
        "connectResources": {
          "items": {
            "$ref": "ResourceManifest"
          },
          "type": "array",
          "description": "Output only. The Kubernetes resources for installing the GKE Connect agent This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask.",
          "readOnly": true
        },
        "membershipCrManifest": {
          "description": "Input only. The YAML representation of the Membership CR. This field is ignored for GKE clusters where Hub can read the CR directly. Callers should provide the CR that is currently present in the cluster during CreateMembership or UpdateMembership, or leave this field empty if none exists. The CR manifest is used to validate the cluster has not been registered with another Membership.",
          "type": "string"
        }
      },
      "description": "KubernetesResource contains the YAML manifests and configuration for Membership Kubernetes resources in the cluster. After CreateMembership or UpdateMembership, these resources should be re-applied in the cluster."
    },
    "ConfigManagementPolicyController": {
      "type": "object",
      "id": "ConfigManagementPolicyController",
      "properties": {
        "templateLibraryInstalled": {
          "type": "boolean",
          "description": "Installs the default template library along with Policy Controller."
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string",
          "format": "int64"
        },
        "exemptableNamespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "ConfigManagementPolicyControllerMonitoring"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
        },
        "updateTime": {
          "description": "Output only. Last time this membership spec was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        }
      },
      "description": "Configuration for Policy Controller"
    },
    "Scope": {
      "description": "Scope represents a Scope in a Fleet.",
      "properties": {
        "state": {
          "readOnly": true,
          "$ref": "ScopeLifecycleState",
          "description": "Output only. State of the scope resource."
        },
        "name": {
          "type": "string",
          "description": "The resource name for the scope `projects/{project}/locations/{location}/scopes/{scope}`"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the scope was created.",
          "readOnly": true
        },
        "allMemberships": {
          "type": "boolean",
          "description": "If true, all Memberships in the Fleet bind to this Scope."
        },
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all scope resources. If a scope resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the scope was deleted."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When the scope was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Scope"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "type": "object"
    },
    "ConfigManagementPolicyControllerState": {
      "type": "object",
      "id": "ConfigManagementPolicyControllerState",
      "description": "State for PolicyControllerState.",
      "properties": {
        "migration": {
          "$ref": "ConfigManagementPolicyControllerMigration",
          "description": "Record state of ACM -\u003e PoCo Hub migration for this feature."
        },
        "version": {
          "$ref": "ConfigManagementPolicyControllerVersion",
          "description": "The version of Gatekeeper Policy Controller deployed."
        },
        "deploymentState": {
          "description": "The state about the policy controller installation.",
          "$ref": "ConfigManagementGatekeeperDeploymentState"
        }
      }
    },
    "FleetObservabilityMembershipSpec": {
      "type": "object",
      "description": "**FleetObservability**: The membership-specific input for FleetObservability feature.",
      "properties": {},
      "id": "FleetObservabilityMembershipSpec"
    },
    "ListMembershipsResponse": {
      "id": "ListMembershipsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMemberships` method. The value of an empty string means that there are no more resources to return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached while fetching this list."
        },
        "resources": {
          "items": {
            "$ref": "Membership"
          },
          "type": "array",
          "description": "The list of matching Memberships."
        }
      },
      "description": "Response message for the `GkeHub.ListMemberships` method."
    },
    "ScopeLifecycleState": {
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "The code is not set.",
            "The scope is being created.",
            "The scope active.",
            "The scope is being deleted.",
            "The scope is being updated."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the scope resource."
        }
      },
      "description": "ScopeLifecycleState describes the state of a Scope resource.",
      "id": "ScopeLifecycleState",
      "type": "object"
    },
    "EdgeCluster": {
      "description": "EdgeCluster contains information specific to Google Edge Clusters.",
      "id": "EdgeCluster",
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the Google Cloud resource for the Edge Cluster. For example: //edgecontainer.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster"
        }
      },
      "type": "object"
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "type": "array",
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "items": {
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "type": "string"
          }
        }
      },
      "id": "ConfigManagementPolicyControllerMonitoring",
      "type": "object"
    },
    "CommonFleetDefaultMemberConfigSpec": {
      "type": "object",
      "properties": {},
      "id": "CommonFleetDefaultMemberConfigSpec",
      "description": "CommonFleetDefaultMemberConfigSpec contains default configuration information for memberships of a fleet"
    },
    "ConfigManagementPolicyControllerMigration": {
      "properties": {
        "stage": {
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ],
          "description": "Stage of the migration.",
          "type": "string"
        },
        "copyTime": {
          "description": "Last time this membership spec was copied to PoCo feature.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "State for the migration of PolicyController from ACM -\u003e PoCo Hub.",
      "type": "object",
      "id": "ConfigManagementPolicyControllerMigration"
    },
    "ConfigManagementHierarchyControllerDeploymentState": {
      "description": "Deployment state for Hierarchy Controller",
      "id": "ConfigManagementHierarchyControllerDeploymentState",
      "type": "object",
      "properties": {
        "extension": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "hnc": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)"
        }
      }
    },
    "MonitoringConfig": {
      "description": "This field informs Fleet-based applications/services/UIs with the necessary information for where each underlying Cluster reports its metrics.",
      "properties": {
        "cluster": {
          "description": "Immutable. Cluster name used to report metrics. For Anthos on VMWare/Baremetal, it would be in format `memberClusters/cluster_name`; And for Anthos on MultiCloud, it would be in format `{azureClusters, awsClusters}/cluster_name`.",
          "type": "string"
        },
        "projectId": {
          "description": "Immutable. Project used to report Metrics",
          "type": "string"
        },
        "clusterHash": {
          "type": "string",
          "description": "Immutable. Cluster hash, this is a unique string generated by google code, which does not contain any PII, which we can use to reference the cluster. This is expected to be created by the monitoring stack and persisted into the Cluster object as well as to GKE-Hub."
        },
        "kubernetesMetricsPrefix": {
          "type": "string",
          "description": "Kubernetes system metrics, if available, are written to this prefix. This defaults to kubernetes.io for GKE, and kubernetes.io/anthos for Anthos eventually. Noted: Anthos MultiCloud will have kubernetes.io prefix today but will migration to be under kubernetes.io/anthos"
        },
        "location": {
          "type": "string",
          "description": "Immutable. Location used to report Metrics"
        }
      },
      "id": "MonitoringConfig",
      "type": "object"
    },
    "Feature": {
      "id": "Feature",
      "type": "object",
      "properties": {
        "resourceState": {
          "$ref": "FeatureResourceState",
          "readOnly": true,
          "description": "Output only. State of the Feature resource itself."
        },
        "createTime": {
          "description": "Output only. When the Feature resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "membershipStates": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "MembershipFeatureState"
          },
          "description": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number."
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the Feature resource was deleted.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`.",
          "readOnly": true
        },
        "scopeStates": {
          "additionalProperties": {
            "$ref": "ScopeFeatureState"
          },
          "description": "Output only. Scope-specific Feature status. If this Feature does report any per-Scope status, this field may be unused. The keys indicate which Scope the state is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project.",
          "type": "object",
          "readOnly": true
        },
        "scopeSpecs": {
          "additionalProperties": {
            "$ref": "ScopeFeatureSpec"
          },
          "description": "Optional. Scope-specific configuration for this Feature. If this Feature does not support any per-Scope configuration, this field may be unused. The keys indicate which Scope the configuration is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Scope is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "type": "object"
        },
        "membershipSpecs": {
          "description": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "type": "object",
          "additionalProperties": {
            "$ref": "MembershipFeatureSpec"
          }
        },
        "fleetDefaultMemberConfig": {
          "description": "Optional. Feature configuration applicable to all memberships of the fleet.",
          "$ref": "CommonFleetDefaultMemberConfigSpec"
        },
        "spec": {
          "$ref": "CommonFeatureSpec",
          "description": "Optional. Hub-wide Feature configuration. If this Feature does not support any Hub-wide configuration, this field may be unused."
        },
        "labels": {
          "type": "object",
          "description": "Labels for this Feature.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. When the Feature resource was last updated.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The Hub-wide Feature state.",
          "$ref": "CommonFeatureState",
          "readOnly": true
        }
      },
      "description": "Feature represents the settings and status of any Hub Feature."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "Authority": {
      "type": "object",
      "properties": {
        "identityProvider": {
          "readOnly": true,
          "description": "Output only. An identity provider that reflects the `issuer` in the workload identity pool.",
          "type": "string"
        },
        "workloadIdentityPool": {
          "readOnly": true,
          "description": "Output only. The name of the workload identity pool in which `issuer` will be recognized. There is a single Workload Identity Pool per Hub that is shared between all Memberships that belong to that Hub. For a Hub hosted in {PROJECT_ID}, the workload pool format is `{PROJECT_ID}.hub.id.goog`, although this is subject to change in newer versions of this API.",
          "type": "string"
        },
        "issuer": {
          "description": "Optional. A JSON Web Token (JWT) issuer URI. `issuer` must start with `https://` and be a valid URL with length \u003c2000 characters. If set, then Google will allow valid OIDC tokens from this issuer to authenticate within the workload_identity_pool. OIDC discovery will be performed on this URI to validate tokens from the issuer. Clearing `issuer` disables Workload Identity. `issuer` cannot be directly modified; it must be cleared (and Workload Identity disabled) before using a new issuer (and re-enabling Workload Identity).",
          "type": "string"
        },
        "oidcJwks": {
          "description": "Optional. OIDC verification keys for this Membership in JWKS format (RFC 7517). When this field is set, OIDC discovery will NOT be performed on `issuer`, and instead OIDC tokens will be validated using this field.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Authority encodes how Google will recognize identities from this Membership. See the workload identity documentation for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
      "id": "Authority"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "id": "ListLocationsResponse"
    },
    "MembershipEndpoint": {
      "id": "MembershipEndpoint",
      "type": "object",
      "properties": {
        "applianceCluster": {
          "$ref": "ApplianceCluster",
          "description": "Optional. Specific information for a GDC Edge Appliance cluster."
        },
        "edgeCluster": {
          "$ref": "EdgeCluster",
          "description": "Optional. Specific information for a Google Edge cluster."
        },
        "gkeCluster": {
          "$ref": "GkeCluster",
          "description": "Optional. Specific information for a GKE-on-GCP cluster."
        },
        "multiCloudCluster": {
          "$ref": "MultiCloudCluster",
          "description": "Optional. Specific information for a GKE Multi-Cloud cluster."
        },
        "kubernetesResource": {
          "description": "Optional. The in-cluster Kubernetes Resources that should be applied for a correctly registered cluster, in the steady state. These resources: * Ensure that the cluster is exclusively registered to one and only one Hub Membership. * Propagate Workload Pool Information available in the Membership Authority field. * Ensure proper initial configuration of default Hub Features.",
          "$ref": "KubernetesResource"
        },
        "onPremCluster": {
          "$ref": "OnPremCluster",
          "description": "Optional. Specific information for a GKE On-Prem cluster. An onprem user-cluster who has no resourceLink is not allowed to use this field, it should have a nil \"type\" instead."
        },
        "googleManaged": {
          "readOnly": true,
          "description": "Output only. Whether the lifecycle of this membership is managed by a google cluster platform service.",
          "type": "boolean"
        },
        "kubernetesMetadata": {
          "$ref": "KubernetesMetadata",
          "readOnly": true,
          "description": "Output only. Useful Kubernetes-specific metadata."
        }
      },
      "description": "MembershipEndpoint contains information needed to contact a Kubernetes API, endpoint and any additional Kubernetes metadata."
    },
    "ConfigManagementSyncError": {
      "id": "ConfigManagementSyncError",
      "properties": {
        "errorResources": {
          "type": "array",
          "description": "A list of config(s) associated with the error, if any",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          }
        },
        "errorMessage": {
          "type": "string",
          "description": "A description of the error"
        },
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        }
      },
      "type": "object",
      "description": "An ACM created error representing a problem syncing configurations"
    },
    "CommonFeatureState": {
      "type": "object",
      "description": "CommonFeatureState contains Hub-wide Feature status information.",
      "properties": {
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureState",
          "description": "Appdevexperience specific state."
        },
        "state": {
          "description": "Output only. The \"running state\" of the Feature in this Hub.",
          "readOnly": true,
          "$ref": "FeatureState"
        },
        "fleetobservability": {
          "$ref": "FleetObservabilityFeatureState",
          "description": "FleetObservability feature state."
        }
      },
      "id": "CommonFeatureState"
    },
    "MembershipState": {
      "properties": {
        "code": {
          "enumDescriptions": [
            "The code is not set.",
            "The cluster is being registered.",
            "The cluster is registered.",
            "The cluster is being unregistered.",
            "The Membership is being updated.",
            "The Membership is being updated by the Hub Service."
          ],
          "type": "string",
          "description": "Output only. The current state of the Membership resource.",
          "readOnly": true,
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING",
            "SERVICE_UPDATING"
          ]
        }
      },
      "id": "MembershipState",
      "type": "object",
      "description": "MembershipState describes the state of a Membership resource."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "ConfigManagementMembershipSpec": {
      "properties": {
        "policyController": {
          "$ref": "ConfigManagementPolicyController",
          "description": "Policy Controller configuration for the cluster."
        },
        "management": {
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "description": "Enables automatic Feature management.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ]
        },
        "cluster": {
          "description": "The user-specified cluster name used by Config Sync cluster-name-selector annotation or ClusterSelector, for applying configs to only a subset of clusters. Omit this field if the cluster's fleet membership name is used by Config Sync cluster-name-selector annotation or ClusterSelector. Set this field if a name different from the cluster's fleet membership name is used by Config Sync cluster-name-selector annotation or ClusterSelector.",
          "type": "string"
        },
        "hierarchyController": {
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "description": "Hierarchy Controller configuration for the cluster."
        },
        "version": {
          "type": "string",
          "description": "Version of ACM installed."
        },
        "configSync": {
          "$ref": "ConfigManagementConfigSync",
          "description": "Config Sync configuration for the cluster."
        }
      },
      "type": "object",
      "id": "ConfigManagementMembershipSpec",
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR."
    },
    "ListScopesResponse": {
      "id": "ListScopesResponse",
      "description": "List of Scopes.",
      "properties": {
        "scopes": {
          "items": {
            "$ref": "Scope"
          },
          "type": "array",
          "description": "The list of Scopes"
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListScopes` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ScopeFeatureSpec": {
      "properties": {},
      "description": "ScopeFeatureSpec contains feature specs for a fleet scope.",
      "id": "ScopeFeatureSpec",
      "type": "object"
    },
    "IdentityServiceAzureADConfig": {
      "properties": {
        "clientSecret": {
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "format": "byte",
          "readOnly": true,
          "description": "Output only. Encrypted AzureAD client secret.",
          "type": "string"
        },
        "tenant": {
          "type": "string",
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant."
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "The redirect URL that kubectl uses for authorization."
        },
        "clientId": {
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider.",
          "type": "string"
        }
      },
      "id": "IdentityServiceAzureADConfig",
      "description": "Configuration for the AzureAD Auth flow.",
      "type": "object"
    },
    "ConfigManagementMembershipState": {
      "id": "ConfigManagementMembershipState",
      "description": "**Anthos Config Management**: State for a single cluster.",
      "properties": {
        "policyControllerState": {
          "$ref": "ConfigManagementPolicyControllerState",
          "description": "PolicyController status"
        },
        "operatorState": {
          "$ref": "ConfigManagementOperatorState",
          "description": "Current install status of ACM's Operator"
        },
        "configSyncState": {
          "description": "Current sync status",
          "$ref": "ConfigManagementConfigSyncState"
        },
        "membershipSpec": {
          "description": "Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "clusterName": {
          "description": "This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name.",
          "type": "string"
        },
        "hierarchyControllerState": {
          "$ref": "ConfigManagementHierarchyControllerState",
          "description": "Hierarchy Controller status"
        }
      },
      "type": "object"
    },
    "TypeMeta": {
      "id": "TypeMeta",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of the resource (e.g. Deployment)."
        },
        "apiVersion": {
          "description": "APIVersion of the resource (e.g. v1).",
          "type": "string"
        }
      },
      "description": "TypeMeta is the type information needed for content unmarshalling of Kubernetes resources in the manifest."
    },
    "CommonFeatureSpec": {
      "properties": {
        "multiclusteringress": {
          "description": "Multicluster Ingress-specific spec.",
          "$ref": "MultiClusterIngressFeatureSpec"
        },
        "fleetobservability": {
          "description": "FleetObservability feature spec.",
          "$ref": "FleetObservabilityFeatureSpec"
        },
        "appdevexperience": {
          "description": "Appdevexperience specific spec.",
          "$ref": "AppDevExperienceFeatureSpec"
        }
      },
      "description": "CommonFeatureSpec contains Hub-wide configuration information",
      "type": "object",
      "id": "CommonFeatureSpec"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "IdentityServiceAuthMethod": {
      "id": "IdentityServiceAuthMethod",
      "properties": {
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        },
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        },
        "name": {
          "type": "string",
          "description": "Identifier for auth config."
        },
        "azureadConfig": {
          "$ref": "IdentityServiceAzureADConfig",
          "description": "AzureAD specific Configuration."
        },
        "googleConfig": {
          "$ref": "IdentityServiceGoogleConfig",
          "description": "GoogleConfig specific configuration"
        }
      },
      "type": "object",
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod."
    },
    "ScopeFeatureState": {
      "id": "ScopeFeatureState",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The \"running state\" of the Feature in this Scope.",
          "$ref": "FeatureState",
          "readOnly": true
        }
      },
      "description": "ScopeFeatureState contains Scope-wide Feature status information."
    },
    "KubernetesMetadata": {
      "properties": {
        "memoryMb": {
          "readOnly": true,
          "description": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB.",
          "format": "int32",
          "type": "integer"
        },
        "kubernetesApiServerVersion": {
          "description": "Output only. Kubernetes API server version string as reported by `/version`.",
          "type": "string",
          "readOnly": true
        },
        "nodeCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Node count as reported by Kubernetes nodes resources.",
          "type": "integer"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers.",
          "readOnly": true,
          "type": "string"
        },
        "vcpuCount": {
          "description": "Output only. vCPU count as reported by Kubernetes nodes resources.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "nodeProviderId": {
          "readOnly": true,
          "description": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-GCP), the node_count will be zero and the node_provider_id will be empty.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "KubernetesMetadata",
      "description": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters."
    },
    "Membership": {
      "type": "object",
      "description": "Membership contains information about a member cluster.",
      "id": "Membership",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes."
        },
        "deleteTime": {
          "description": "Output only. When the Membership was deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "authority": {
          "$ref": "Authority",
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
        },
        "state": {
          "description": "Output only. State of the Membership resource.",
          "readOnly": true,
          "$ref": "MembershipState"
        },
        "externalId": {
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object.",
          "type": "string"
        },
        "monitoringConfig": {
          "$ref": "MonitoringConfig",
          "description": "Optional. The monitoring config information for this membership."
        },
        "uniqueId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the Membership was last updated.",
          "readOnly": true
        },
        "endpoint": {
          "description": "Optional. Endpoint information to reach this member.",
          "$ref": "MembershipEndpoint"
        },
        "labels": {
          "description": "Optional. Labels for this membership.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lastConnectionTime": {
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the Membership was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ConfigManagementErrorResource": {
      "properties": {
        "resourceGvk": {
          "$ref": "ConfigManagementGroupVersionKind",
          "description": "Group/version/kind of the resource that is causing an error"
        },
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        },
        "resourceNamespace": {
          "type": "string",
          "description": "Namespace of the resource that is causing an error"
        },
        "resourceName": {
          "description": "Metadata name of the resource that is causing an error",
          "type": "string"
        }
      },
      "description": "Model for a config file in the git repo with an associated Sync error",
      "id": "ConfigManagementErrorResource",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "MembershipBinding": {
      "description": "MembershipBinding is a subresource of a Membership, representing what Fleet Scopes (or other, future Fleet resources) a Membership is bound to.",
      "properties": {
        "createTime": {
          "description": "Output only. When the membership binding was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all membershipbinding resources. If a membershipbinding resource is deleted and another resource with the same name is created, it gets a different uid."
        },
        "state": {
          "readOnly": true,
          "$ref": "MembershipBindingLifecycleState",
          "description": "Output only. State of the membership binding resource."
        },
        "name": {
          "description": "The resource name for the membershipbinding itself `projects/{project}/locations/{location}/memberships/{membership}/bindings/{membershipbinding}`",
          "type": "string"
        },
        "scope": {
          "description": "A Scope resource name in the format `projects/*/locations/*/scopes/*`.",
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. When the membership binding was deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "fleet": {
          "description": "Whether the membershipbinding is Fleet-wide; true means that this Membership should be bound to all Namespaces in this entire Fleet.",
          "type": "boolean"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. When the membership binding was last updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "MembershipBinding"
    },
    "ConfigManagementConfigSyncError": {
      "type": "object",
      "description": "Errors pertaining to the installation of Config Sync",
      "id": "ConfigManagementConfigSyncError",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "Status specifies state for the subcomponent.",
      "id": "Status",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description is populated if Code is Failed, explaining why it has failed."
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state."
        }
      },
      "type": "object"
    },
    "IdentityServiceMembershipSpec": {
      "id": "IdentityServiceMembershipSpec",
      "properties": {
        "authMethods": {
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          },
          "type": "array",
          "description": "A member may support multiple auth methods."
        }
      },
      "type": "object",
      "description": "**Anthos Identity Service**: Configuration for a single Membership."
    },
    "IdentityServiceMembershipState": {
      "type": "object",
      "description": "**Anthos Identity Service**: State for a single Membership.",
      "properties": {
        "memberConfig": {
          "description": "Last reconciled membership configuration",
          "$ref": "IdentityServiceMembershipSpec"
        },
        "state": {
          "type": "string",
          "description": "Deployment state on this member",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "OK",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "deployment succeeds",
            "Failure with error."
          ]
        },
        "installedVersion": {
          "type": "string",
          "description": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK."
        },
        "failureReason": {
          "type": "string",
          "description": "The reason of the failure."
        }
      },
      "id": "IdentityServiceMembershipState"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object"
    },
    "AppDevExperienceFeatureState": {
      "properties": {
        "networkingInstallSucceeded": {
          "$ref": "Status",
          "description": "Status of subcomponent that detects configured Service Mesh resources."
        }
      },
      "description": "State for App Dev Exp Feature.",
      "type": "object",
      "id": "AppDevExperienceFeatureState"
    },
    "ConfigManagementPolicyControllerVersion": {
      "id": "ConfigManagementPolicyControllerVersion",
      "properties": {
        "version": {
          "type": "string",
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number."
        }
      },
      "type": "object",
      "description": "The build version of Gatekeeper Policy Controller is using."
    },
    "ConfigManagementConfigSyncVersion": {
      "id": "ConfigManagementConfigSyncVersion",
      "description": "Specific versioning information pertaining to ConfigSync's Pods",
      "properties": {
        "syncer": {
          "type": "string",
          "description": "Version of the deployed syncer pod"
        },
        "monitor": {
          "description": "Version of the deployed monitor pod",
          "type": "string"
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod",
          "type": "string"
        },
        "importer": {
          "description": "Version of the deployed importer pod",
          "type": "string"
        },
        "reconcilerManager": {
          "type": "string",
          "description": "Version of the deployed reconciler-manager pod"
        },
        "gitSync": {
          "description": "Version of the deployed git-sync pod",
          "type": "string"
        },
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission_webhook pod"
        }
      },
      "type": "object"
    },
    "GenerateConnectManifestResponse": {
      "description": "GenerateConnectManifestResponse contains manifest information for installing/upgrading a Connect agent.",
      "id": "GenerateConnectManifestResponse",
      "properties": {
        "manifest": {
          "items": {
            "$ref": "ConnectAgentResource"
          },
          "type": "array",
          "description": "The ordered list of Kubernetes resources that need to be applied to the cluster for GKE Connect agent installation/upgrade."
        }
      },
      "type": "object"
    },
    "FleetObservabilityFeatureState": {
      "description": "**FleetObservability**: Hub-wide Feature for FleetObservability feature. state.",
      "properties": {},
      "id": "FleetObservabilityFeatureState",
      "type": "object"
    },
    "MembershipBindingLifecycleState": {
      "description": "MembershipBindingLifecycleState describes the state of a Binding resource.",
      "id": "MembershipBindingLifecycleState",
      "properties": {
        "code": {
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The membershipbinding is being created.",
            "The membershipbinding active.",
            "The membershipbinding is being deleted.",
            "The membershipbinding is being updated."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. The current state of the MembershipBinding resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppDevExperienceFeatureSpec": {
      "description": "Spec for App Dev Experience Feature.",
      "id": "AppDevExperienceFeatureSpec",
      "properties": {},
      "type": "object"
    },
    "ListMembershipBindingsResponse": {
      "properties": {
        "membershipBindings": {
          "type": "array",
          "description": "The list of membership_bindings",
          "items": {
            "$ref": "MembershipBinding"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipBindings` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListMembershipBindingsResponse",
      "description": "List of MembershipBindings."
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "properties": {
        "reconcilerManager": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Deployment state of reconciler-manager pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "admissionWebhook": {
          "description": "Deployment state of admission-webhook",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "rootReconciler": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Deployment state of root-reconciler",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "importer": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Deployment state of the importer pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
[...]
