{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "canonicalName": "GKE Hub",
  "name": "gkehub",
  "schemas": {
    "ConfigManagementGatekeeperDeploymentState": {
      "type": "object",
      "properties": {
        "gatekeeperMutation": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Status of the pod serving the mutation webhook.",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string"
        },
        "gatekeeperControllerManagerState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Status of gatekeeper-controller-manager pod."
        },
        "gatekeeperAudit": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Status of gatekeeper-audit deployment.",
          "type": "string"
        }
      },
      "id": "ConfigManagementGatekeeperDeploymentState",
      "description": "State of Policy Controller installation."
    },
    "MembershipFeatureSpec": {
      "id": "MembershipFeatureSpec",
      "properties": {
        "origin": {
          "$ref": "Origin",
          "description": "Whether this per-Membership spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Membership config (updated to USER implicitly) or setting to FLEET explicitly."
        },
        "cloudbuild": {
          "$ref": "MembershipSpec",
          "description": "Cloud Build-specific spec"
        },
        "configmanagement": {
          "description": "Config Management-specific spec.",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "anthosobservability": {
          "description": "Anthos Observability-specific spec",
          "$ref": "AnthosObservabilityMembershipSpec"
        },
        "policycontroller": {
          "description": "Policy Controller spec.",
          "$ref": "PolicyControllerMembershipSpec"
        },
        "mesh": {
          "$ref": "ServiceMeshMembershipSpec",
          "description": "Anthos Service Mesh-specific spec"
        },
        "identityservice": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Identity Service-specific spec."
        },
        "fleetobservability": {
          "description": "Fleet observability membership spec",
          "$ref": "FleetObservabilityMembershipSpec"
        }
      },
      "description": "MembershipFeatureSpec contains configuration information for a single Membership. NOTE: Please use snake case in your feature name.",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      }
    },
    "MembershipSpec": {
      "type": "object",
      "properties": {
        "securityPolicy": {
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "type": "string",
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ],
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ]
        },
        "version": {
          "description": "Version of the cloud build software on the cluster.",
          "type": "string"
        }
      },
      "id": "MembershipSpec",
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster."
    },
    "ConfigManagementBinauthzVersion": {
      "type": "object",
      "properties": {
        "webhookVersion": {
          "type": "string",
          "description": "The version of the binauthz webhook."
        }
      },
      "description": "The version of binauthz.",
      "id": "ConfigManagementBinauthzVersion"
    },
    "MembershipBindingLifecycleState": {
      "type": "object",
      "id": "MembershipBindingLifecycleState",
      "description": "MembershipBindingLifecycleState describes the state of a Binding resource.",
      "properties": {
        "code": {
          "enumDescriptions": [
            "The code is not set.",
            "The membershipbinding is being created.",
            "The membershipbinding active.",
            "The membershipbinding is being deleted.",
            "The membershipbinding is being updated."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the MembershipBinding resource.",
          "type": "string"
        }
      }
    },
    "PolicyControllerMembershipSpec": {
      "id": "PolicyControllerMembershipSpec",
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of Policy Controller installed."
        },
        "policyControllerHubConfig": {
          "description": "Policy Controller configuration for the cluster.",
          "$ref": "PolicyControllerHubConfig"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "ConfigManagementConfigSyncError": {
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A string representing the user facing error message"
        }
      },
      "type": "object",
      "id": "ConfigManagementConfigSyncError",
      "description": "Errors pertaining to the installation of Config Sync"
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ConfigManagementGroupVersionKind": {
      "type": "object",
      "id": "ConfigManagementGroupVersionKind",
      "description": "A Kubernetes object's GVK",
      "properties": {
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        },
        "group": {
          "description": "Kubernetes Group",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Kubernetes Kind"
        }
      }
    },
    "ServiceMeshDataPlaneManagement": {
      "id": "ServiceMeshDataPlaneManagement",
      "type": "object",
      "description": "Status of data plane management. Only reported per-member.",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of the status."
        },
        "state": {
          "description": "Lifecycle status of data plane management.",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state."
          ],
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED"
          ]
        }
      }
    },
    "Namespace": {
      "type": "object",
      "id": "Namespace",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. State of the namespace resource.",
          "$ref": "NamespaceLifecycleState"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the namespace `projects/{project}/locations/{location}/namespaces/{namespace}`"
        },
        "namespaceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Namespace-level cluster namespace labels. These labels are applied to the related namespace of the member clusters bound to the parent Scope. Scope-level labels (`namespace_labels` in the Fleet Scope resource) take precedence over Namespace-level labels if they share a key. Keys and values must be Kubernetes-conformant."
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the namespace was deleted.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the namespace was created.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all namespace resources. If a namespace resource is deleted and another resource with the same name is created, it gets a different uid."
        },
        "updateTime": {
          "description": "Output only. When the namespace was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "scope": {
          "description": "Required. Scope associated with the namespace",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels for this Namespace."
        }
      },
      "description": "Namespace represents a namespace across the Fleet"
    },
    "ServiceMeshStatusDetails": {
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Human-readable explanation of code."
        },
        "code": {
          "type": "string",
          "description": "A machine-readable code that further describes a broad status."
        }
      },
      "description": "Structured and human-readable details for a status.",
      "id": "ServiceMeshStatusDetails"
    },
    "FleetObservabilityMembershipState": {
      "properties": {},
      "type": "object",
      "id": "FleetObservabilityMembershipState",
      "description": "**FleetObservability**: Membership-specific Feature state for fleetobservability."
    },
    "ConfigManagementOperatorState": {
      "description": "State information for an ACM's Operator",
      "id": "ConfigManagementOperatorState",
      "properties": {
        "deploymentState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "The state of the Operator's deployment",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "description": "Install errors."
        },
        "version": {
          "description": "The semenatic version number of the operator",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementPolicyControllerState": {
      "properties": {
        "migration": {
          "description": "Record state of ACM -\u003e PoCo Hub migration for this feature.",
          "$ref": "ConfigManagementPolicyControllerMigration"
        },
        "version": {
          "$ref": "ConfigManagementPolicyControllerVersion",
          "description": "The version of Gatekeeper Policy Controller deployed."
        },
        "deploymentState": {
          "description": "The state about the policy controller installation.",
          "$ref": "ConfigManagementGatekeeperDeploymentState"
        }
      },
      "id": "ConfigManagementPolicyControllerState",
      "type": "object",
      "description": "State for PolicyControllerState."
    },
    "FleetObservabilityFeatureError": {
      "type": "object",
      "id": "FleetObservabilityFeatureError",
      "properties": {
        "code": {
          "description": "The code of the error.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of the current status."
        }
      },
      "description": "All error details of the fleet observability feature."
    },
    "NamespaceLifecycleState": {
      "id": "NamespaceLifecycleState",
      "description": "NamespaceLifecycleState describes the state of a Namespace resource.",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. The current state of the Namespace resource.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The namespace is being created.",
            "The namespace active.",
            "The namespace is being deleted.",
            "The namespace is being updated."
          ]
        }
      },
      "type": "object"
    },
    "ConfigManagementOciConfig": {
      "id": "ConfigManagementOciConfig",
      "properties": {
        "syncRepo": {
          "description": "The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.",
          "type": "string"
        },
        "secretType": {
          "description": "Type of secret configured for access to the Git repo.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "The Google Cloud Service Account Email used for auth when secret_type is gcpServiceAccount."
        },
        "syncWaitSecs": {
          "format": "int64",
          "description": "Period in seconds between consecutive syncs. Default: 15.",
          "type": "string"
        },
        "policyDir": {
          "type": "string",
          "description": "The absolute path of the directory that contains the local resources. Default: the root directory of the image."
        }
      },
      "description": "OCI repo configuration for a single cluster",
      "type": "object"
    },
    "PolicyControllerBundleInstallSpec": {
      "properties": {
        "exemptedNamespaces": {
          "type": "array",
          "description": "The set of namespaces to be exempted from the bundle.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PolicyControllerBundleInstallSpec",
      "type": "object",
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle."
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "id": "ConfigManagementPolicyControllerMonitoring",
      "type": "object",
      "properties": {
        "backends": {
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ]
          },
          "type": "array",
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
        }
      },
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]"
    },
    "Role": {
      "description": "Role is the type for Kubernetes roles",
      "type": "object",
      "properties": {
        "predefinedRole": {
          "enumDescriptions": [
            "UNKNOWN",
            "ADMIN has EDIT and RBAC permissions",
            "EDIT can edit all resources except RBAC",
            "VIEW can only read resources",
            "ANTHOS_SUPPORT gives Google Support read-only access to a number of cluster resources."
          ],
          "enum": [
            "UNKNOWN",
            "ADMIN",
            "EDIT",
            "VIEW",
            "ANTHOS_SUPPORT"
          ],
          "type": "string",
          "description": "predefined_role is the Kubernetes default role to use"
        }
      },
      "id": "Role"
    },
    "ListFeaturesResponse": {
      "id": "ListFeaturesResponse",
      "description": "Response message for the `GkeHub.ListFeatures` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListFeatures` method. The value of an empty string means that there are no more resources to return."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Feature"
          },
          "description": "The list of matching Features"
        }
      }
    },
    "ConfigManagementConfigSyncState": {
      "id": "ConfigManagementConfigSyncState",
      "properties": {
        "deploymentState": {
          "description": "Information about the deployment of ConfigSync, including the version of the various Pods deployed",
          "$ref": "ConfigManagementConfigSyncDeploymentState"
        },
        "syncState": {
          "$ref": "ConfigManagementSyncState",
          "description": "The state of ConfigSync's process to sync configs to a cluster"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          },
          "description": "Errors pertaining to the installation of Config Sync."
        },
        "version": {
          "$ref": "ConfigManagementConfigSyncVersion",
          "description": "The version of ConfigSync deployed"
        }
      },
      "description": "State information for ConfigSync",
      "type": "object"
    },
    "ConfigManagementPolicyControllerVersion": {
      "description": "The build version of Gatekeeper Policy Controller is using.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number.",
          "type": "string"
        }
      },
      "id": "ConfigManagementPolicyControllerVersion"
    },
    "ScopeFeatureSpec": {
      "properties": {},
      "type": "object",
      "id": "ScopeFeatureSpec",
      "description": "ScopeFeatureSpec contains feature specs for a fleet scope."
    },
    "FeatureResourceState": {
      "type": "object",
      "description": "FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the Feature in the Hub and across Memberships.",
      "properties": {
        "state": {
          "description": "The current state of the Feature resource in the Hub API.",
          "enumDescriptions": [
            "State is unknown or not set.",
            "The Feature is being enabled, and the Feature resource is being created. Once complete, the corresponding Feature will be enabled in this Hub.",
            "The Feature is enabled in this Hub, and the Feature resource is fully available.",
            "The Feature is being disabled in this Hub, and the Feature resource is being deleted.",
            "The Feature resource is being updated.",
            "The Feature resource is being updated by the Hub Service."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ]
        }
      },
      "id": "FeatureResourceState"
    },
    "PolicyControllerResourceRequirements": {
      "id": "PolicyControllerResourceRequirements",
      "type": "object",
      "properties": {
        "limits": {
          "$ref": "PolicyControllerResourceList",
          "description": "Limits describes the maximum amount of compute resources allowed for use by the running container."
        },
        "requests": {
          "description": "Requests describes the amount of compute resources reserved for the container by the kube-scheduler.",
          "$ref": "PolicyControllerResourceList"
        }
      },
      "description": "ResourceRequirements describes the compute resource requirements."
    },
    "ConfigManagementInstallError": {
      "type": "object",
      "description": "Errors pertaining to the installation of ACM",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      },
      "id": "ConfigManagementInstallError"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "ConfigManagementHierarchyControllerDeploymentState": {
      "properties": {
        "extension": {
          "description": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "hnc": {
          "description": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        }
      },
      "type": "object",
      "id": "ConfigManagementHierarchyControllerDeploymentState",
      "description": "Deployment state for Hierarchy Controller"
    },
    "ConfigManagementPolicyControllerMigration": {
      "type": "object",
      "id": "ConfigManagementPolicyControllerMigration",
      "description": "State for the migration of PolicyController from ACM -\u003e PoCo Hub.",
      "properties": {
        "copyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time this membership spec was copied to PoCo feature."
        },
        "stage": {
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ],
          "description": "Stage of the migration.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ],
          "type": "string"
        }
      }
    },
    "Scope": {
      "description": "Scope represents a Scope in a Fleet.",
      "properties": {
        "namespaceLabels": {
          "type": "object",
          "description": "Optional. Scope-level cluster namespace labels. For the member clusters bound to the Scope, these labels are applied to each namespace under the Scope. Scope-level labels take precedence over Namespace-level labels (`namespace_labels` in the Fleet Namespace resource) if they share a key. Keys and values must be Kubernetes-conformant.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the scope was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all scope resources. If a scope resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string",
          "readOnly": true
        },
        "allMemberships": {
          "type": "boolean",
          "description": "If true, all Memberships in the Fleet bind to this Scope."
        },
        "name": {
          "type": "string",
          "description": "The resource name for the scope `projects/{project}/locations/{location}/scopes/{scope}`"
        },
        "updateTime": {
          "description": "Output only. When the scope was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the scope was deleted."
        },
        "labels": {
          "description": "Optional. Labels for this Scope.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "readOnly": true,
          "$ref": "ScopeLifecycleState",
          "description": "Output only. State of the scope resource."
        }
      },
      "id": "Scope",
      "type": "object"
    },
    "ListRBACRoleBindingsResponse": {
      "id": "ListRBACRoleBindingsResponse",
      "type": "object",
      "description": "List of RBACRoleBindings.",
      "properties": {
        "rbacrolebindings": {
          "description": "The list of RBACRoleBindings",
          "items": {
            "$ref": "RBACRoleBinding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListRBACRoleBindings` method. The value of an empty string means that there are no more resources to return."
        }
      }
    },
    "ConfigManagementConfigSyncVersion": {
      "id": "ConfigManagementConfigSyncVersion",
      "description": "Specific versioning information pertaining to ConfigSync's Pods",
      "type": "object",
      "properties": {
        "admissionWebhook": {
          "description": "Version of the deployed admission_webhook pod",
          "type": "string"
        },
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod"
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod",
          "type": "string"
        },
        "reconcilerManager": {
          "type": "string",
          "description": "Version of the deployed reconciler-manager pod"
        },
        "monitor": {
          "description": "Version of the deployed monitor pod",
          "type": "string"
        },
        "syncer": {
          "description": "Version of the deployed syncer pod",
          "type": "string"
        },
        "importer": {
          "description": "Version of the deployed importer pod",
          "type": "string"
        }
      }
    },
    "PolicyControllerMonitoringConfig": {
      "id": "PolicyControllerMonitoringConfig",
      "type": "object",
      "description": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
        }
      }
    },
    "AppDevExperienceFeatureState": {
      "id": "AppDevExperienceFeatureState",
      "description": "State for App Dev Exp Feature.",
      "type": "object",
      "properties": {
        "networkingInstallSucceeded": {
          "description": "Status of subcomponent that detects configured Service Mesh resources.",
          "$ref": "Status"
        }
      }
    },
    "FleetLifecycleState": {
      "type": "object",
      "description": "FleetLifecycleState describes the state of a Fleet resource.",
      "id": "FleetLifecycleState",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. The current state of the Fleet resource.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The fleet is being created.",
            "The fleet active.",
            "The fleet is being deleted.",
            "The fleet is being updated."
          ]
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "MeteringMembershipState": {
      "type": "object",
      "description": "**Metering**: Per-Membership Feature State.",
      "properties": {
        "lastMeasurementTime": {
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "type": "string",
          "format": "google-datetime"
        },
        "preciseLastMeasuredClusterVcpuCapacity": {
          "type": "number",
          "format": "float",
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision)."
        }
      },
      "id": "MeteringMembershipState"
    },
    "AnthosObservabilityMembershipSpec": {
      "type": "object",
      "id": "AnthosObservabilityMembershipSpec",
      "description": "**Anthosobservability**: Per-Membership Feature spec.",
      "properties": {
        "doNotOptimizeMetrics": {
          "type": "boolean",
          "description": "Use full of metrics rather than optimized metrics. See https://cloud.google.com/anthos/clusters/docs/on-prem/1.8/concepts/logging-and-monitoring#optimized_metrics_default_metrics"
        },
        "enableStackdriverOnApplications": {
          "description": "Enable collecting and reporting metrics and logs from user apps.",
          "type": "boolean"
        },
        "version": {
          "type": "string",
          "description": "the version of stackdriver operator used by this feature"
        }
      }
    },
    "ConfigManagementMembershipState": {
      "type": "object",
      "description": "**Anthos Config Management**: State for a single cluster.",
      "id": "ConfigManagementMembershipState",
      "properties": {
        "clusterName": {
          "description": "This field is set to the `cluster_name` field of the Membership Spec if it is not empty. Otherwise, it is set to the cluster's fleet membership name.",
          "type": "string"
        },
        "policyControllerState": {
          "description": "PolicyController status",
          "$ref": "ConfigManagementPolicyControllerState"
        },
        "configSyncState": {
          "description": "Current sync status",
          "$ref": "ConfigManagementConfigSyncState"
        },
        "hierarchyControllerState": {
          "description": "Hierarchy Controller status",
          "$ref": "ConfigManagementHierarchyControllerState"
        },
        "binauthzState": {
          "description": "Binauthz status",
          "$ref": "ConfigManagementBinauthzState"
        },
        "operatorState": {
          "$ref": "ConfigManagementOperatorState",
          "description": "Current install status of ACM's Operator"
        },
        "membershipSpec": {
          "$ref": "ConfigManagementMembershipSpec",
          "description": "Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state"
        }
      }
    },
    "IdentityServiceGoogleConfig": {
      "description": "Configuration for the Google Plugin Auth flow.",
      "type": "object",
      "properties": {
        "disable": {
          "description": "Disable automatic configuration of Google Plugin on supported platforms.",
          "type": "boolean"
        }
      },
      "id": "IdentityServiceGoogleConfig"
    },
    "FleetObservabilityFleetObservabilityMonitoringState": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState",
          "description": "The base feature state of fleet monitoring feature."
        }
      },
      "description": "Feature state for monitoring feature.",
      "id": "FleetObservabilityFleetObservabilityMonitoringState"
    },
    "ServiceMeshMembershipSpec": {
      "type": "object",
      "properties": {
        "controlPlane": {
          "type": "string",
          "description": "Deprecated: use `management` instead Enables automatic control plane management.",
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "deprecated": true,
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "management": {
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components."
          ],
          "description": "Enables automatic Service Mesh management.",
          "type": "string"
        }
      },
      "id": "ServiceMeshMembershipSpec",
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature"
    },
    "ConfigManagementGitConfig": {
      "id": "ConfigManagementGitConfig",
      "properties": {
        "httpsProxy": {
          "description": "URL for the HTTPS proxy to be used when communicating with the Git repo.",
          "type": "string"
        },
        "secretType": {
          "description": "Type of secret configured for access to the Git repo. Must be one of ssh, cookiefile, gcenode, token, gcpserviceaccount or none. The validation of this is case-sensitive. Required.",
          "type": "string"
        },
        "syncRepo": {
          "type": "string",
          "description": "The URL of the Git repository to use as the source of truth."
        },
        "syncWaitSecs": {
          "type": "string",
          "description": "Period in seconds between consecutive syncs. Default: 15.",
          "format": "int64"
        },
        "syncBranch": {
          "type": "string",
          "description": "The branch of the repository to sync from. Default: master."
        },
        "gcpServiceAccountEmail": {
          "description": "The Google Cloud Service Account Email used for auth when secret_type is gcpServiceAccount.",
          "type": "string"
        },
        "policyDir": {
          "description": "The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        },
        "syncRev": {
          "type": "string",
          "description": "Git revision (tag or hash) to check out. Default HEAD."
        }
      },
      "type": "object",
      "description": "Git repo configuration for a single cluster."
    },
    "ConfigManagementHierarchyControllerConfig": {
      "id": "ConfigManagementHierarchyControllerConfig",
      "properties": {
        "enablePodTreeLabels": {
          "description": "Whether pod tree labels are enabled in this cluster.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether Hierarchy Controller is enabled in this cluster."
        },
        "enableHierarchicalResourceQuota": {
          "description": "Whether hierarchical resource quota is enabled in this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration for Hierarchy Controller",
      "type": "object"
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "type": "object",
      "description": "The state of ConfigSync's deployment on a cluster",
      "properties": {
        "admissionWebhook": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Deployment state of admission-webhook"
        },
        "monitor": {
          "description": "Deployment state of the monitor pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "syncer": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Deployment state of the syncer pod",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "gitSync": {
          "description": "Deployment state of the git-sync pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string"
        },
        "importer": {
          "description": "Deployment state of the importer pod",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "rootReconciler": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Deployment state of root-reconciler"
        },
        "reconcilerManager": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Deployment state of reconciler-manager pod"
        }
      },
      "id": "ConfigManagementConfigSyncDeploymentState"
    },
    "ListScopeNamespacesResponse": {
      "type": "object",
      "id": "ListScopeNamespacesResponse",
      "description": "List of fleet namespaces.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListNamespaces` method. The value of an empty string means that there are no more resources to return."
        },
        "scopeNamespaces": {
          "description": "The list of fleet namespaces",
          "type": "array",
          "items": {
            "$ref": "Namespace"
          }
        }
      }
    },
    "ConfigManagementErrorResource": {
      "id": "ConfigManagementErrorResource",
      "type": "object",
      "description": "Model for a config file in the git repo with an associated Sync error",
      "properties": {
        "resourceNamespace": {
          "type": "string",
          "description": "Namespace of the resource that is causing an error"
        },
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Metadata name of the resource that is causing an error"
        },
        "resourceGvk": {
          "$ref": "ConfigManagementGroupVersionKind",
          "description": "Group/version/kind of the resource that is causing an error"
        }
      }
    },
    "CommonFeatureState": {
      "properties": {
        "fleetobservability": {
          "$ref": "FleetObservabilityFeatureState",
          "description": "FleetObservability feature state."
        },
        "state": {
          "$ref": "FeatureState",
          "readOnly": true,
          "description": "Output only. The \"running state\" of the Feature in this Hub."
        },
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceFeatureState"
        }
      },
      "type": "object",
      "description": "CommonFeatureState contains Hub-wide Feature status information.",
      "id": "CommonFeatureState"
    },
    "PolicyControllerHubConfig": {
      "properties": {
        "auditIntervalSeconds": {
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string"
        },
        "referentialRulesEnabled": {
          "type": "boolean",
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "monitoring": {
          "$ref": "PolicyControllerMonitoringConfig",
          "description": "Monitoring specifies the configuration of monitoring."
        },
        "mutationEnabled": {
          "description": "Enables the ability to mutate resources using Policy Controller.",
          "type": "boolean"
        },
        "constraintViolationLimit": {
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used.",
          "type": "string",
          "format": "int64"
        },
        "policyContent": {
          "$ref": "PolicyControllerPolicyContentSpec",
          "description": "Specifies the desired policy content on the cluster"
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deploymentConfigs": {
          "description": "Map of deployment configs to deployments (\"admission\", \"audit\", \"mutation').",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          }
        },
        "installSpec": {
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ],
          "type": "string",
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ],
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state."
        }
      },
      "description": "Configuration for Policy Controller",
      "type": "object",
      "id": "PolicyControllerHubConfig"
    },
    "PolicyControllerPolicyContentState": {
      "id": "PolicyControllerPolicyContentState",
      "type": "object",
      "properties": {
        "bundleStates": {
          "type": "object",
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        },
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        },
        "templateLibraryState": {
          "description": "The state of the template library",
          "$ref": "PolicyControllerOnClusterState"
        }
      },
      "description": "The state of the policy controller policy content"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "AnthosObservabilityFeatureSpec": {
      "description": "**Anthos Observability**: Spec",
      "properties": {
        "defaultMembershipSpec": {
          "$ref": "AnthosObservabilityMembershipSpec",
          "description": "Default membership spec for unconfigured memberships"
        }
      },
      "type": "object",
      "id": "AnthosObservabilityFeatureSpec"
    },
    "ConfigManagementBinauthzConfig": {
      "type": "object",
      "description": "Configuration for Binauthz",
      "properties": {
        "enabled": {
          "description": "Whether binauthz is enabled in this cluster.",
          "type": "boolean"
        }
      },
      "id": "ConfigManagementBinauthzConfig"
    },
    "ListMembershipRBACRoleBindingsResponse": {
      "description": "List of Membership RBACRoleBindings.",
      "id": "ListMembershipRBACRoleBindingsResponse",
      "properties": {
        "rbacrolebindings": {
          "description": "The list of Membership RBACRoleBindings.",
          "items": {
            "$ref": "RBACRoleBinding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMembershipRBACRoleBindings` method. The value of an empty string means that there are no more resources to return."
        }
      },
      "type": "object"
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "type": "object",
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "description": "Deployment-specific configuration.",
      "properties": {
        "replicaCount": {
          "format": "int64",
          "description": "Pod replica count.",
          "type": "string"
        },
        "podTolerations": {
          "items": {
            "$ref": "PolicyControllerToleration"
          },
          "type": "array",
          "description": "Pod tolerations of node taints."
        },
        "podAffinity": {
          "type": "string",
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ],
          "description": "Pod affinity configuration.",
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ]
        },
        "containerResources": {
          "$ref": "PolicyControllerResourceRequirements",
          "description": "Container resource requirements."
        },
        "podAntiAffinity": {
          "type": "boolean",
          "description": "Pod anti-affinity enablement."
        }
      }
    },
    "RBACRoleBinding": {
      "description": "RBACRoleBinding represents a rbacrolebinding across the Fleet",
      "properties": {
        "group": {
          "description": "group is the group, as seen by the kubernetes cluster.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all rbacrolebinding resources. If a rbacrolebinding resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. When the rbacrolebinding was deleted.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name for the rbacrolebinding `projects/{project}/locations/{location}/namespaces/{namespace}/rbacrolebindings/{rbacrolebinding}` or `projects/{project}/locations/{location}/memberships/{membership}/rbacrolebindings/{rbacrolebinding}`"
        },
        "role": {
          "$ref": "Role",
          "description": "Required. Role to bind to the principal"
        },
        "user": {
          "description": "user is the name of the user as seen by the kubernetes cluster, example \"alice\" or \"alice@domain.tld\"",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the rbacrolebinding was created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. When the rbacrolebinding was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "$ref": "RBACRoleBindingLifecycleState",
          "description": "Output only. State of the rbacrolebinding resource.",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels for this RBACRolebinding.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "RBACRoleBinding",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "MembershipFeatureState": {
      "type": "object",
      "description": "MembershipFeatureState contains Feature status information for a single Membership.",
      "id": "MembershipFeatureState",
      "properties": {
        "state": {
          "$ref": "FeatureState",
          "description": "The high-level state of this Feature for a single membership."
        },
        "configmanagement": {
          "$ref": "ConfigManagementMembershipState",
          "description": "Config Management-specific state."
        },
        "metering": {
          "description": "Metering-specific state.",
          "$ref": "MeteringMembershipState"
        },
        "servicemesh": {
          "$ref": "ServiceMeshMembershipState",
          "description": "Service Mesh-specific state."
        },
        "identityservice": {
          "$ref": "IdentityServiceMembershipState",
          "description": "Identity Service-specific state."
        },
        "fleetobservability": {
          "description": "Fleet observability membership state.",
          "$ref": "FleetObservabilityMembershipState"
        },
        "policycontroller": {
          "description": "Policycontroller-specific state.",
          "$ref": "PolicyControllerMembershipState"
        },
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceFeatureState"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "IdentityServiceMembershipSpec": {
      "properties": {
        "authMethods": {
          "description": "A member may support multiple auth methods.",
          "type": "array",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          }
        }
      },
      "description": "**Anthos Identity Service**: Configuration for a single Membership.",
      "id": "IdentityServiceMembershipSpec",
      "type": "object"
    },
    "ListFleetsResponse": {
      "properties": {
        "fleets": {
          "items": {
            "$ref": "Fleet"
          },
          "type": "array",
          "description": "The list of matching fleets."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. The token is only valid for 1h.",
          "type": "string"
        }
      },
      "description": "Response message for the `GkeHub.ListFleetsResponse` method.",
      "id": "ListFleetsResponse",
      "type": "object"
    },
    "FleetObservabilityFeatureState": {
      "description": "**FleetObservability**: Hub-wide Feature for FleetObservability feature. state.",
      "properties": {
        "logging": {
          "$ref": "FleetObservabilityFleetObservabilityLoggingState",
          "description": "The feature state of default logging."
        },
        "monitoring": {
          "$ref": "FleetObservabilityFleetObservabilityMonitoringState",
          "description": "The feature state of fleet monitoring."
        }
      },
      "id": "FleetObservabilityFeatureState",
      "type": "object"
    },
    "ServiceMeshMembershipState": {
      "id": "ServiceMeshMembershipState",
      "properties": {
        "dataPlaneManagement": {
          "description": "Output only. Status of data plane management.",
          "readOnly": true,
          "$ref": "ServiceMeshDataPlaneManagement"
        },
        "controlPlaneManagement": {
          "description": "Output only. Status of control plane management",
          "readOnly": true,
          "$ref": "ServiceMeshControlPlaneManagement"
        }
      },
      "type": "object",
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller."
    },
    "ConfigManagementSyncState": {
      "properties": {
        "lastSyncTime": {
          "description": "Timestamp type of when ACM last successfully synced the repo",
          "format": "google-datetime",
          "type": "string"
        },
        "lastSync": {
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String",
          "deprecated": true,
          "type": "string"
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "code": {
          "type": "string",
          "description": "Sync status code",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "enumDescriptions": [
            "Config Sync cannot determine a sync code",
            "Config Sync successfully synced the git Repo with the cluster",
            "Config Sync is in the progress of syncing a new change",
            "Indicates an error configuring Config Sync, and user action is required",
            "Config Sync has been installed but not configured",
            "Config Sync has not been installed",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ]
        },
        "errors": {
          "type": "array",
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "items": {
            "$ref": "ConfigManagementSyncError"
          }
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "sourceToken": {
          "type": "string",
          "description": "Token indicating the state of the repo."
        }
      },
      "id": "ConfigManagementSyncState",
      "type": "object",
      "description": "State indicating an ACM's progress syncing configurations to a cluster"
    },
    "ConfigManagementBinauthzState": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        },
        "webhook": {
          "description": "The state of the binauthz webhook.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        }
      },
      "id": "ConfigManagementBinauthzState",
      "description": "State for Binauthz"
    },
    "FleetObservabilityFleetObservabilityLoggingState": {
      "id": "FleetObservabilityFleetObservabilityLoggingState",
      "properties": {
        "defaultLog": {
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState",
          "description": "The base feature state of fleet default log."
        },
        "scopeLog": {
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState",
          "description": "The base feature state of fleet scope log."
        }
      },
      "type": "object",
      "description": "Feature state for logging feature."
    },
    "ConfigManagementSyncError": {
      "type": "object",
      "id": "ConfigManagementSyncError",
      "description": "An ACM created error representing a problem syncing configurations",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A description of the error"
        },
        "errorResources": {
          "description": "A list of config(s) associated with the error, if any",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          },
          "type": "array"
        },
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "FeatureState": {
      "type": "object",
      "description": "FeatureState describes the high-level state of a Feature. It may be used to describe a Feature's state at the environ-level, or per-membershop, depending on the context.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The time this status and any related Feature-specific details were updated.",
          "format": "google-datetime"
        },
        "code": {
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "description": "The high-level, machine-readable status of this Feature.",
          "enumDescriptions": [
            "Unknown or not set.",
            "The Feature is operating normally.",
            "The Feature has encountered an issue, and is operating in a degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information.",
            "The Feature is not operating or is in a severely degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information."
          ]
        },
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        }
      },
      "id": "FeatureState"
    },
    "ScopeFeatureState": {
      "type": "object",
      "id": "ScopeFeatureState",
      "description": "ScopeFeatureState contains Scope-wide Feature status information.",
      "properties": {
        "state": {
          "$ref": "FeatureState",
          "readOnly": true,
          "description": "Output only. The \"running state\" of the Feature in this Scope."
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      }
    },
    "Policy": {
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "MultiClusterIngressFeatureSpec": {
      "description": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature.",
      "properties": {
        "configMembership": {
          "description": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`",
          "type": "string"
        },
        "billing": {
          "description": "Deprecated: This field will be ignored and should not be set. Customer's billing structure.",
          "enum": [
            "BILLING_UNSPECIFIED",
            "PAY_AS_YOU_GO",
            "ANTHOS_LICENSE"
          ],
          "enumDescriptions": [
            "Unknown",
            "User pays a fee per-endpoint.",
            "User is paying for Anthos as a whole."
          ],
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "MultiClusterIngressFeatureSpec"
    },
    "PolicyControllerResourceList": {
      "type": "object",
      "description": "ResourceList contains container resource requirements.",
      "properties": {
        "cpu": {
          "type": "string",
          "description": "CPU requirement expressed in Kubernetes resource units."
        },
        "memory": {
          "description": "Memory requirement expressed in Kubernetes resource units.",
          "type": "string"
        }
      },
      "id": "PolicyControllerResourceList"
    },
    "Status": {
      "description": "Status specifies state for the subcomponent.",
      "properties": {
        "code": {
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ]
        },
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Status"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "FleetObservabilityMembershipSpec": {
      "id": "FleetObservabilityMembershipSpec",
      "properties": {},
      "type": "object",
      "description": "**FleetObservability**: The membership-specific input for FleetObservability feature."
    },
    "FleetObservabilityLoggingConfig": {
      "properties": {
        "defaultConfig": {
          "$ref": "FleetObservabilityRoutingConfig",
          "description": "Specified if applying the default routing config to logs not specified in other configs."
        },
        "fleetScopeLogsConfig": {
          "description": "Specified if applying the routing config to all logs for all fleet scopes.",
          "$ref": "FleetObservabilityRoutingConfig"
        }
      },
      "id": "FleetObservabilityLoggingConfig",
      "type": "object",
      "description": "LoggingConfig defines the configuration for different types of logs."
    },
    "IdentityServiceMembershipState": {
      "id": "IdentityServiceMembershipState",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state",
            "deployment succeeds",
            "Failure with error."
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "OK",
            "ERROR"
          ],
          "type": "string",
          "description": "Deployment state on this member"
        },
        "installedVersion": {
          "type": "string",
          "description": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK."
        },
        "failureReason": {
          "type": "string",
          "description": "The reason of the failure."
        },
        "memberConfig": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Last reconciled membership configuration"
        }
      },
      "description": "**Anthos Identity Service**: State for a single Membership."
    },
    "ConfigManagementPolicyController": {
      "id": "ConfigManagementPolicyController",
      "description": "Configuration for Policy Controller",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "ConfigManagementPolicyControllerMonitoring"
        },
        "auditIntervalSeconds": {
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string"
        },
        "exemptableNamespaces": {
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Last time this membership spec was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "templateLibraryInstalled": {
          "description": "Installs the default template library along with Policy Controller.",
          "type": "boolean"
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster."
        }
      }
    },
    "ServiceMeshControlPlaneManagement": {
      "type": "object",
      "description": "Status of control plane management.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED"
          ],
          "description": "LifecycleState of control plane management."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of state."
        }
      },
      "id": "ServiceMeshControlPlaneManagement"
    },
    "PolicyControllerMembershipState": {
      "description": "**Policy Controller**: State for a single cluster.",
      "id": "PolicyControllerMembershipState",
      "type": "object",
      "properties": {
        "policyContentState": {
          "description": "The overall content state observed by the Hub Feature controller.",
          "$ref": "PolicyControllerPolicyContentState"
        },
        "componentStates": {
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\"",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        },
        "state": {
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ]
        }
      }
    },
    "CommonFeatureSpec": {
      "properties": {
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureSpec",
          "description": "Appdevexperience specific spec."
        },
        "multiclusteringress": {
          "$ref": "MultiClusterIngressFeatureSpec",
          "description": "Multicluster Ingress-specific spec."
        },
        "fleetobservability": {
          "$ref": "FleetObservabilityFeatureSpec",
          "description": "FleetObservability feature spec."
        },
        "anthosobservability": {
          "$ref": "AnthosObservabilityFeatureSpec",
          "description": "Anthos Observability spec"
        }
      },
      "type": "object",
      "description": "CommonFeatureSpec contains Hub-wide configuration information",
      "id": "CommonFeatureSpec"
    },
    "CommonFleetDefaultMemberConfigSpec": {
      "id": "CommonFleetDefaultMemberConfigSpec",
      "type": "object",
      "properties": {
        "identityservice": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Identity Service-specific spec."
        }
      },
      "description": "CommonFleetDefaultMemberConfigSpec contains default configuration information for memberships of a fleet"
    },
    "ListMembershipBindingsResponse": {
      "properties": {
        "membershipBindings": {
          "items": {
            "$ref": "MembershipBinding"
          },
          "description": "The list of membership_bindings",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMembershipBindings` method. The value of an empty string means that there are no more resources to return."
        }
      },
      "description": "List of MembershipBindings.",
      "type": "object",
      "id": "ListMembershipBindingsResponse"
    },
[...]
