{
  "ownerDomain": "google.com",
  "id": "gkehub:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://gkehub.googleapis.com/",
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "canonicalName": "GKE Hub",
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "gkehub",
  "discoveryVersion": "v1",
  "version": "v1",
  "revision": "20221018",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "gkehub.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "gkehub.projects.locations.operations.list"
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "gkehub.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "id": "gkehub.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "memberships": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Membership"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gkehub.projects.locations.memberships.create",
                  "parameters": {
                    "membershipId": {
                      "location": "query",
                      "description": "Required. Client chosen ID for the membership. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent (project and location) where the Memberships will be created. Specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/memberships",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/memberships",
                  "description": "Creates a new Membership. **This is currently only supported for GKE clusters on Google Cloud**. To register other clusters, follow the instructions at https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster."
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}:setIamPolicy",
                  "id": "gkehub.projects.locations.memberships.setIamPolicy",
                  "httpMethod": "POST",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "path": "v1/{+resource}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}:testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "id": "gkehub.projects.locations.memberships.testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}",
                  "description": "Gets the details of a Membership.",
                  "id": "gkehub.projects.locations.memberships.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The Membership resource name in the format `projects/*/locations/*/memberships/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Membership"
                  }
                },
                "delete": {
                  "description": "Removes a Membership. **This is currently only supported for GKE clusters on Google Cloud**. To unregister other clusters, follow the instructions at https://cloud.google.com/anthos/multicluster-management/connect/unregistering-a-cluster.",
                  "id": "gkehub.projects.locations.memberships.delete",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The Membership resource name in the format `projects/*/locations/*/memberships/*`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}"
                },
                "getIamPolicy": {
                  "id": "gkehub.projects.locations.memberships.getIamPolicy",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields to update.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                      "type": "string",
                      "description": "Required. The Membership resource name in the format `projects/*/locations/*/memberships/*`.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Membership"
                  },
                  "description": "Updates an existing Membership.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "gkehub.projects.locations.memberships.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Memberships in a given project and location.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/memberships",
                  "response": {
                    "$ref": "ListMembershipsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gkehub.projects.locations.memberships.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Token returned by previous call to `ListMemberships` which specifies the position in the list from where to continue listing the resources."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Lists Memberships that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Name is `bar` in project `foo-proj` and location `global`: name = \"projects/foo-proj/locations/global/membership/bar\" - Memberships that have a label called `foo`: labels.foo:* - Memberships that have a label called `foo` whose value is `bar`: labels.foo = bar - Memberships in the CREATING state: state = CREATING"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent (project and location) where the Memberships will be listed. Specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/memberships"
                },
                "generateConnectManifest": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GenerateConnectManifestResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}:generateConnectManifest",
                  "path": "v1/{+name}:generateConnectManifest",
                  "httpMethod": "GET",
                  "description": "Generates the manifest for deployment of the GKE connect agent. **This method is used internally by Google-provided libraries.** Most clients should not need to call this method directly.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The Membership resource name the Agent will associate with, in the format `projects/*/locations/*/memberships/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "namespace": {
                      "description": "Optional. Namespace for GKE Connect agent resources. Defaults to `gke-connect`. The Connect Agent is authorized automatically when run in the default namespace. Otherwise, explicit authorization must be granted with an additional IAM binding.",
                      "location": "query",
                      "type": "string"
                    },
                    "version": {
                      "type": "string",
                      "description": "Optional. The Connect agent version to use. Defaults to the most current version.",
                      "location": "query"
                    },
                    "proxy": {
                      "type": "string",
                      "description": "Optional. URI of a proxy if connectivity from the agent to gkeconnect.googleapis.com requires the use of a proxy. Format must be in the form `http(s)://{proxy_address}`, depending on the HTTP/HTTPS protocol supported by the proxy. This will direct the connect agent's outbound traffic through a HTTP(S) proxy.",
                      "format": "byte",
                      "location": "query"
                    },
                    "registry": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The registry to fetch the connect agent image from. Defaults to gcr.io/gkeconnect."
                    },
                    "imagePullSecretContent": {
                      "type": "string",
                      "description": "Optional. The image pull secret content for the registry, if not public.",
                      "format": "byte",
                      "location": "query"
                    },
                    "isUpgrade": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If true, generate the resources for upgrade only. Some resources generated only for installation (e.g. secrets) will be excluded."
                    }
                  },
                  "id": "gkehub.projects.locations.memberships.generateConnectManifest",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "features": {
              "methods": {
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/features",
                  "description": "Adds a new Feature.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "gkehub.projects.locations.features.create",
                  "request": {
                    "$ref": "Feature"
                  },
                  "path": "v1/{+parent}/features",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "featureId": {
                      "type": "string",
                      "location": "query",
                      "description": "The ID of the feature to create."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent (project and location) where the Feature will be created. Specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/features",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent (project and location) where the Features will be listed. Specified in the format `projects/*/locations/*`.",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Lists Features that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Feature with the name \"servicemesh\" in project \"foo-proj\": name = \"projects/foo-proj/locations/global/features/servicemesh\" - Features that have a label called `foo`: labels.foo:* - Features that have a label called `foo` whose value is `bar`: labels.foo = bar"
                    },
                    "pageToken": {
                      "description": "Token returned by previous call to `ListFeatures` which specifies the position in the list from where to continue listing the resources.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "location": "query"
                    }
                  },
                  "id": "gkehub.projects.locations.features.list",
                  "path": "v1/{+parent}/features",
                  "response": {
                    "$ref": "ListFeaturesResponse"
                  },
                  "description": "Lists Features in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "getIamPolicy": {
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "id": "gkehub.projects.locations.features.getIamPolicy",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/features/{featuresId}:getIamPolicy",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:getIamPolicy"
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/features/{featuresId}:setIamPolicy",
                  "id": "gkehub.projects.locations.features.setIamPolicy",
                  "httpMethod": "POST"
                },
                "testIamPermissions": {
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "id": "gkehub.projects.locations.features.testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/features/{featuresId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The Feature resource name in the format `projects/*/locations/*/features/*`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, the delete will ignore any outstanding resources for this Feature (that is, `FeatureState.has_resources` is set to true). These resources will NOT be cleaned up or modified in any way."
                    }
                  },
                  "description": "Removes a Feature.",
                  "id": "gkehub.projects.locations.features.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/features/{featuresId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "request": {
                    "$ref": "Feature"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/features/{featuresId}",
                  "id": "gkehub.projects.locations.features.patch",
                  "description": "Updates an existing Feature.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Mask of fields to update."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$",
                      "type": "string",
                      "description": "Required. The Feature resource name in the format `projects/*/locations/*/features/*`."
                    },
                    "requestId": {
                      "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/features/{featuresId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "id": "gkehub.projects.locations.features.get",
                  "description": "Gets details of a single Feature.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$",
                      "description": "Required. The Feature resource name in the format `projects/*/locations/*/features/*`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Feature"
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location."
                }
              },
              "response": {
                "$ref": "Location"
              },
              "id": "gkehub.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service.",
              "id": "gkehub.projects.locations.list",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "path": "v1/{+name}/locations"
            }
          }
        }
      }
    }
  },
  "title": "GKE Hub API",
  "baseUrl": "https://gkehub.googleapis.com/",
  "servicePath": "",
  "description": "",
  "ownerName": "Google",
  "schemas": {
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "IdentityServiceMembershipSpec": {
      "id": "IdentityServiceMembershipSpec",
      "description": "**Anthos Identity Service**: Configuration for a single Membership.",
      "type": "object",
      "properties": {
        "authMethods": {
          "description": "A member may support multiple auth methods.",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          },
          "type": "array"
        }
      }
    },
    "ServiceMeshStatusDetails": {
      "properties": {
        "code": {
          "description": "A machine-readable code that further describes a broad status.",
          "type": "string"
        },
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        }
      },
      "id": "ServiceMeshStatusDetails",
      "description": "Structured and human-readable details for a status.",
      "type": "object"
    },
    "ServiceMeshDataPlaneManagement": {
      "id": "ServiceMeshDataPlaneManagement",
      "description": "Status of data plane management. Only reported per-member.",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "description": "Explanation of the status.",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          }
        },
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state."
          ],
          "description": "Lifecycle status of data plane management.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED"
          ],
          "type": "string"
        }
      }
    },
    "ConfigManagementMembershipState": {
      "id": "ConfigManagementMembershipState",
      "type": "object",
      "description": "**Anthos Config Management**: State for a single cluster.",
      "properties": {
        "membershipSpec": {
          "$ref": "ConfigManagementMembershipSpec",
          "description": "Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state"
        },
        "operatorState": {
          "description": "Current install status of ACM's Operator",
          "$ref": "ConfigManagementOperatorState"
        },
        "clusterName": {
          "description": "The user-defined name for the cluster used by ClusterSelectors to group clusters together. This should match Membership's membership_name, unless the user installed ACM on the cluster manually prior to enabling the ACM hub feature. Unique within a Anthos Config Management installation.",
          "type": "string"
        },
        "hierarchyControllerState": {
          "description": "Hierarchy Controller status",
          "$ref": "ConfigManagementHierarchyControllerState"
        },
        "configSyncState": {
          "description": "Current sync status",
          "$ref": "ConfigManagementConfigSyncState"
        },
        "policyControllerState": {
          "$ref": "ConfigManagementPolicyControllerState",
          "description": "PolicyController status"
        }
      }
    },
    "ServiceMeshControlPlaneManagement": {
      "properties": {
        "state": {
          "description": "LifecycleState of control plane management.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED"
          ]
        },
        "details": {
          "description": "Explanation of state.",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ServiceMeshControlPlaneManagement",
      "description": "Status of control plane management."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object"
    },
    "ConnectAgentResource": {
      "id": "ConnectAgentResource",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "TypeMeta",
          "description": "Kubernetes type of the resource."
        },
        "manifest": {
          "description": "YAML manifest of the resource.",
          "type": "string"
        }
      },
      "description": "ConnectAgentResource represents a Kubernetes resource manifest for Connect Agent deployment."
    },
    "ConfigManagementInstallError": {
      "id": "ConfigManagementInstallError",
      "description": "Errors pertaining to the installation of ACM",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      }
    },
    "IdentityServiceGoogleConfig": {
      "description": "Configuration for the Google Plugin Auth flow.",
      "id": "IdentityServiceGoogleConfig",
      "type": "object",
      "properties": {
        "disable": {
          "type": "boolean",
          "description": "Disable automatic configuration of Google Plugin on supported platforms."
        }
      }
    },
    "Membership": {
      "type": "object",
      "id": "Membership",
      "properties": {
        "externalId": {
          "type": "string",
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. GCP labels for this membership."
        },
        "lastConnectionTime": {
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endpoint": {
          "description": "Optional. Endpoint information to reach this member.",
          "$ref": "MembershipEndpoint"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. When the Membership was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. When the Membership was deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the Membership resource.",
          "$ref": "MembershipState"
        },
        "uniqueId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id."
        },
        "name": {
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. When the Membership was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "authority": {
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
          "$ref": "Authority"
        }
      },
      "description": "Membership contains information about a member cluster."
    },
    "ApplianceCluster": {
      "id": "ApplianceCluster",
      "description": "ApplianceCluster contains information specific to GDC Edge Appliance Clusters.",
      "type": "object",
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the GCP resource for the Appliance Cluster. For example: //transferappliance.googleapis.com/projects/my-project/locations/us-west1-a/appliances/my-appliance"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "KubernetesResource": {
      "properties": {
        "resourceOptions": {
          "description": "Optional. Options for Kubernetes resource generation.",
          "$ref": "ResourceOptions"
        },
        "membershipResources": {
          "type": "array",
          "items": {
            "$ref": "ResourceManifest"
          },
          "readOnly": true,
          "description": "Output only. Additional Kubernetes resources that need to be applied to the cluster after Membership creation, and after every update. This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask."
        },
        "membershipCrManifest": {
          "type": "string",
          "description": "Input only. The YAML representation of the Membership CR. This field is ignored for GKE clusters where Hub can read the CR directly. Callers should provide the CR that is currently present in the cluster during CreateMembership or UpdateMembership, or leave this field empty if none exists. The CR manifest is used to validate the cluster has not been registered with another Membership."
        },
        "connectResources": {
          "type": "array",
          "items": {
            "$ref": "ResourceManifest"
          },
          "readOnly": true,
          "description": "Output only. The Kubernetes resources for installing the GKE Connect agent This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask."
        }
      },
      "description": "KubernetesResource contains the YAML manifests and configuration for Membership Kubernetes resources in the cluster. After CreateMembership or UpdateMembership, these resources should be re-applied in the cluster.",
      "type": "object",
      "id": "KubernetesResource"
    },
    "FleetObservabilityMembershipState": {
      "properties": {},
      "id": "FleetObservabilityMembershipState",
      "type": "object",
      "description": "**FleetObservability**: An empty state left as an example membership-specific Feature state."
    },
    "ConfigManagementHierarchyControllerVersion": {
      "type": "object",
      "id": "ConfigManagementHierarchyControllerVersion",
      "description": "Version for Hierarchy Controller",
      "properties": {
        "extension": {
          "description": "Version for Hierarchy Controller extension",
          "type": "string"
        },
        "hnc": {
          "description": "Version for open source HNC",
          "type": "string"
        }
      }
    },
    "ConfigManagementConfigSyncVersion": {
      "type": "object",
      "description": "Specific versioning information pertaining to ConfigSync's Pods",
      "id": "ConfigManagementConfigSyncVersion",
      "properties": {
        "syncer": {
          "type": "string",
          "description": "Version of the deployed syncer pod"
        },
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission_webhook pod"
        },
        "rootReconciler": {
          "type": "string",
          "description": "Version of the deployed reconciler container in root-reconciler pod"
        },
        "importer": {
          "type": "string",
          "description": "Version of the deployed importer pod"
        },
        "reconcilerManager": {
          "description": "Version of the deployed reconciler-manager pod",
          "type": "string"
        },
        "monitor": {
          "description": "Version of the deployed monitor pod",
          "type": "string"
        },
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod"
        }
      }
    },
    "MigrateSpec": {
      "properties": {},
      "description": "MigrateSpec contains the migrate subfeature configuration.",
      "type": "object",
      "id": "MigrateSpec"
    },
    "ConfigManagementPolicyController": {
      "id": "ConfigManagementPolicyController",
      "description": "Configuration for Policy Controller",
      "type": "object",
      "properties": {
        "mutationEnabled": {
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect.",
          "type": "boolean"
        },
        "referentialRulesEnabled": {
          "type": "boolean",
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "format": "int64",
          "type": "string"
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "templateLibraryInstalled": {
          "type": "boolean",
          "description": "Installs the default template library along with Policy Controller."
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "ConfigManagementPolicyControllerMonitoring"
        },
        "exemptableNamespaces": {
          "type": "array",
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MembershipState": {
      "description": "MembershipState describes the state of a Membership resource.",
      "properties": {
        "code": {
          "description": "Output only. The current state of the Membership resource.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "enumDescriptions": [
            "The code is not set.",
            "The cluster is being registered.",
            "The cluster is registered.",
            "The cluster is being unregistered.",
            "The Membership is being updated.",
            "The Membership is being updated by the Hub Service."
          ]
        }
      },
      "type": "object",
      "id": "MembershipState"
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object"
    },
    "Authority": {
      "properties": {
        "issuer": {
          "description": "Optional. A JSON Web Token (JWT) issuer URI. `issuer` must start with `https://` and be a valid URL with length \u003c2000 characters. If set, then Google will allow valid OIDC tokens from this issuer to authenticate within the workload_identity_pool. OIDC discovery will be performed on this URI to validate tokens from the issuer. Clearing `issuer` disables Workload Identity. `issuer` cannot be directly modified; it must be cleared (and Workload Identity disabled) before using a new issuer (and re-enabling Workload Identity).",
          "type": "string"
        },
        "oidcJwks": {
          "description": "Optional. OIDC verification keys for this Membership in JWKS format (RFC 7517). When this field is set, OIDC discovery will NOT be performed on `issuer`, and instead OIDC tokens will be validated using this field.",
          "format": "byte",
          "type": "string"
        },
        "identityProvider": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An identity provider that reflects the `issuer` in the workload identity pool."
        },
        "workloadIdentityPool": {
          "description": "Output only. The name of the workload identity pool in which `issuer` will be recognized. There is a single Workload Identity Pool per Hub that is shared between all Memberships that belong to that Hub. For a Hub hosted in {PROJECT_ID}, the workload pool format is `{PROJECT_ID}.hub.id.goog`, although this is subject to change in newer versions of this API.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Authority encodes how Google will recognize identities from this Membership. See the workload identity documentation for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
      "type": "object",
      "id": "Authority"
    },
    "ConfigManagementSyncState": {
      "description": "State indicating an ACM's progress syncing configurations to a cluster",
      "type": "object",
      "id": "ConfigManagementSyncState",
      "properties": {
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "items": {
            "$ref": "ConfigManagementSyncError"
          }
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "lastSync": {
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String",
          "type": "string"
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Timestamp type of when ACM last successfully synced the repo",
          "type": "string"
        },
        "sourceToken": {
          "description": "Token indicating the state of the repo.",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "ACM cannot determine a sync code",
            "ACM successfully synced the git Repo with the cluster",
            "ACM is in the progress of syncing a new change",
            "Indicates an error configuring ACM, and user action is required",
            "ACM has been installed (operator manifest deployed), but not configured.",
            "ACM has not been installed (no operator pod found)",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "description": "Sync status code",
          "type": "string"
        }
      }
    },
    "ResourceManifest": {
      "type": "object",
      "properties": {
        "manifest": {
          "type": "string",
          "description": "YAML manifest of the resource."
        },
        "clusterScoped": {
          "description": "Whether the resource provided in the manifest is `cluster_scoped`. If unset, the manifest is assumed to be namespace scoped. This field is used for REST mapping when applying the resource in a cluster.",
          "type": "boolean"
        }
      },
      "id": "ResourceManifest",
      "description": "ResourceManifest represents a single Kubernetes resource to be applied to the cluster."
    },
    "TypeMeta": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of the resource (e.g. Deployment)."
        },
        "apiVersion": {
          "type": "string",
          "description": "APIVersion of the resource (e.g. v1)."
        }
      },
      "description": "TypeMeta is the type information needed for content unmarshalling of Kubernetes resources in the manifest.",
      "type": "object",
      "id": "TypeMeta"
    },
    "MultiCloudCluster": {
      "id": "MultiCloudCluster",
      "description": "MultiCloudCluster contains information specific to GKE Multi-Cloud clusters.",
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the GCP resource for the GKE Multi-Cloud cluster. For example: //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/awsClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/azureClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/attachedClusters/my-cluster",
          "type": "string"
        },
        "clusterMissing": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If cluster_missing is set then it denotes that API(gkemulticloud.googleapis.com) resource for this GKE Multi-Cloud cluster no longer exists."
        }
      },
      "type": "object"
    },
    "KubernetesMetadata": {
      "type": "object",
      "id": "KubernetesMetadata",
      "properties": {
        "kubernetesApiServerVersion": {
          "readOnly": true,
          "description": "Output only. Kubernetes API server version string as reported by `/version`.",
          "type": "string"
        },
        "vcpuCount": {
          "description": "Output only. vCPU count as reported by Kubernetes nodes resources.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB."
        },
        "nodeCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Node count as reported by Kubernetes nodes resources.",
          "format": "int32"
        },
        "nodeProviderId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-GCP), the node_count will be zero and the node_provider_id will be empty."
        }
      },
      "description": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters."
    },
    "GkeCluster": {
      "type": "object",
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the GCP resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported."
        },
        "clusterMissing": {
          "type": "boolean",
          "description": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane.",
          "readOnly": true
        }
      },
      "id": "GkeCluster",
      "description": "GkeCluster contains information specific to GKE clusters."
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "LocalControllerState": {
      "id": "LocalControllerState",
      "description": "LocalControllerState contains the state of the local controller deployed in the cluster.",
      "properties": {
        "installationState": {
          "description": "InstallationState represents the state of deployment of the local PE controller in the cluster.",
          "type": "string",
          "enum": [
            "INSTALLATION_STATE_UNSPECIFIED",
            "INSTALLATION_STATE_NOT_INSTALLED",
            "INSTALLATION_STATE_INSTALLED",
            "INSTALLATION_STATE_FAILED"
          ],
          "enumDescriptions": [
            "state of installation is unknown",
            "component is not installed",
            "component is successfully installed",
            "installation failed"
          ]
        },
        "description": {
          "type": "string",
          "description": "Description represents the human readable description of the current state of the local PE controller"
        }
      },
      "type": "object"
    },
    "CommonFeatureSpec": {
      "type": "object",
      "properties": {
        "fleetobservability": {
          "description": "FleetObservability feature spec.",
          "$ref": "FleetObservabilityFeatureSpec"
        },
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureSpec",
          "description": "Appdevexperience specific spec."
        },
        "multiclusteringress": {
          "$ref": "MultiClusterIngressFeatureSpec",
          "description": "Multicluster Ingress-specific spec."
        }
      },
      "id": "CommonFeatureSpec",
      "description": "CommonFeatureSpec contains Hub-wide configuration information"
    },
    "ConfigManagementErrorResource": {
      "type": "object",
      "description": "Model for a config file in the git repo with an associated Sync error",
      "properties": {
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Metadata name of the resource that is causing an error"
        },
        "resourceNamespace": {
          "type": "string",
          "description": "Namespace of the resource that is causing an error"
        },
        "resourceGvk": {
          "$ref": "ConfigManagementGroupVersionKind",
          "description": "Group/version/kind of the resource that is causing an error"
        }
      },
      "id": "ConfigManagementErrorResource"
    },
    "MigrateState": {
      "description": "MigrateState contains the state of Migrate subfeature",
      "properties": {},
      "type": "object",
      "id": "MigrateState"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "AnthosVMSubFeatureSpec": {
      "properties": {
        "migrateSpec": {
          "description": "MigrateSpec repsents the configuration for Migrate subfeature.",
          "$ref": "MigrateSpec"
        },
        "serviceMeshSpec": {
          "$ref": "ServiceMeshSpec",
          "description": "ServiceMeshSpec repsents the configuration for Service Mesh subfeature."
        },
        "enabled": {
          "description": "Indicates whether the subfeature should be enabled on the cluster or not. If set to true, the subfeature's control plane and resources will be installed in the cluster. If set to false, the oneof spec if present will be ignored and nothing will be installed in the cluster.",
          "type": "boolean"
        }
      },
      "id": "AnthosVMSubFeatureSpec",
      "type": "object",
      "description": "AnthosVMSubFeatureSpec contains the subfeature configuration for a membership/cluster."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ConfigManagementOciConfig": {
      "properties": {
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "The GCP Service Account Email used for auth when secret_type is gcpServiceAccount."
        },
        "policyDir": {
          "description": "The absolute path of the directory that contains the local resources. Default: the root directory of the image.",
          "type": "string"
        },
        "syncWaitSecs": {
          "description": "Period in seconds between consecutive syncs. Default: 15.",
          "type": "string",
          "format": "int64"
        },
        "syncRepo": {
          "type": "string",
          "description": "The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`."
        },
        "secretType": {
          "type": "string",
          "description": "Type of secret configured for access to the Git repo."
        }
      },
      "id": "ConfigManagementOciConfig",
      "description": "OCI repo configuration for a single cluster",
      "type": "object"
    },
    "Feature": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`.",
          "readOnly": true
        },
        "membershipStates": {
          "type": "object",
          "description": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "MembershipFeatureState"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "GCP labels for this Feature."
        },
        "scopeStates": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ScopeFeatureState"
          },
          "description": "Output only. Scope-specific Feature status. If this Feature does report any per-Scope status, this field may be unused. The keys indicate which Scope the state is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project.",
          "readOnly": true
        },
        "membershipSpecs": {
          "additionalProperties": {
            "$ref": "MembershipFeatureSpec"
          },
          "description": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "type": "object"
        },
        "state": {
          "$ref": "CommonFeatureState",
          "description": "Output only. The Hub-wide Feature state.",
          "readOnly": true
        },
        "scopeSpecs": {
          "additionalProperties": {
            "$ref": "ScopeFeatureSpec"
          },
          "description": "Optional. Scope-specific configuration for this Feature. If this Feature does not support any per-Scope configuration, this field may be unused. The keys indicate which Scope the configuration is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Scope is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "type": "object"
        },
        "resourceState": {
          "readOnly": true,
          "description": "Output only. State of the Feature resource itself.",
          "$ref": "FeatureResourceState"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the Feature resource was created.",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. When the Feature resource was deleted.",
          "type": "string",
          "readOnly": true
        },
        "spec": {
          "$ref": "CommonFeatureSpec",
          "description": "Optional. Hub-wide Feature configuration. If this Feature does not support any Hub-wide configuration, this field may be unused."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the Feature resource was last updated.",
          "readOnly": true
        }
      },
      "id": "Feature",
      "description": "Feature represents the settings and status of any Hub Feature."
    },
    "ServiceMeshMembershipState": {
      "id": "ServiceMeshMembershipState",
      "properties": {
        "dataPlaneManagement": {
          "readOnly": true,
          "description": "Output only. Status of data plane management.",
          "$ref": "ServiceMeshDataPlaneManagement"
        },
        "controlPlaneManagement": {
          "description": "Output only. Status of control plane management",
          "$ref": "ServiceMeshControlPlaneManagement",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller."
    },
    "ConfigManagementGroupVersionKind": {
      "type": "object",
      "properties": {
        "group": {
          "description": "Kubernetes Group",
          "type": "string"
        },
        "kind": {
          "description": "Kubernetes Kind",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        }
      },
      "description": "A Kubernetes object's GVK",
      "id": "ConfigManagementGroupVersionKind"
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "id": "ConfigManagementPolicyControllerMonitoring",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ]
          },
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ConfigManagementSyncError": {
      "type": "object",
      "id": "ConfigManagementSyncError",
      "description": "An ACM created error representing a problem syncing configurations",
      "properties": {
        "errorResources": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          },
          "description": "A list of config(s) associated with the error, if any"
        },
        "errorMessage": {
          "type": "string",
          "description": "A description of the error"
        },
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        }
      }
    },
    "ResourceOptions": {
      "description": "ResourceOptions represent options for Kubernetes resource generation.",
      "id": "ResourceOptions",
      "properties": {
        "connectVersion": {
          "type": "string",
          "description": "Optional. The Connect agent version to use for connect_resources. Defaults to the latest GKE Connect version. The version must be a currently supported version, obsolete versions will be rejected."
        },
        "k8sVersion": {
[...]
