{
  "revision": "20230707",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "id": "gkehub:v1alpha",
  "kind": "discovery#restDescription",
  "canonicalName": "GKE Hub",
  "servicePath": "",
  "baseUrl": "https://gkehub.googleapis.com/",
  "title": "GKE Hub API",
  "name": "gkehub",
  "discoveryVersion": "v1",
  "description": "",
  "schemas": {
    "ServiceMeshMembershipState": {
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "properties": {
        "analysisMessages": {
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Results of running Service Mesh analyzers."
        },
        "configApiVersion": {
          "type": "string",
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field."
        },
        "dataPlaneManagement": {
          "readOnly": true,
          "description": "Output only. Status of data plane management.",
          "$ref": "ServiceMeshDataPlaneManagement"
        },
        "controlPlaneManagement": {
          "$ref": "ServiceMeshControlPlaneManagement",
          "description": "Output only. Status of control plane management",
          "readOnly": true
        }
      },
      "id": "ServiceMeshMembershipState",
      "type": "object"
    },
    "ClusterUpgradeGKEUpgradeOverride": {
      "id": "ClusterUpgradeGKEUpgradeOverride",
      "type": "object",
      "description": "Properties of a GKE upgrade that can be overridden by the user. For example, a user can skip soaking by overriding the soaking to 0.",
      "properties": {
        "postConditions": {
          "description": "Required. Post conditions to override for the specified upgrade (name + version). Required.",
          "$ref": "ClusterUpgradePostConditions"
        },
        "upgrade": {
          "description": "Required. Which upgrade to override. Required.",
          "$ref": "ClusterUpgradeGKEUpgrade"
        }
      }
    },
    "ConfigManagementErrorResource": {
      "description": "Model for a config file in the git repo with an associated Sync error",
      "properties": {
        "sourcePath": {
          "type": "string",
          "description": "Path in the git repo of the erroneous config"
        },
        "resourceNamespace": {
          "type": "string",
          "description": "Namespace of the resource that is causing an error"
        },
        "resourceGvk": {
          "description": "Group/version/kind of the resource that is causing an error",
          "$ref": "ConfigManagementGroupVersionKind"
        },
        "resourceName": {
          "type": "string",
          "description": "Metadata name of the resource that is causing an error"
        }
      },
      "id": "ConfigManagementErrorResource",
      "type": "object"
    },
    "ConfigManagementMembershipSpec": {
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "properties": {
        "policyController": {
          "$ref": "ConfigManagementPolicyController",
          "description": "Policy Controller configuration for the cluster."
        },
        "version": {
          "description": "Version of ACM installed.",
          "type": "string"
        },
        "binauthz": {
          "description": "Binauthz conifguration for the cluster.",
          "$ref": "ConfigManagementBinauthzConfig"
        },
        "configSync": {
          "$ref": "ConfigManagementConfigSync",
          "description": "Config Sync configuration for the cluster."
        },
        "management": {
          "description": "Enables automatic Feature management.",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ]
        },
        "cluster": {
          "description": "The user-specified cluster name used by Config Sync cluster-name-selector annotation or ClusterSelector, for applying configs to only a subset of clusters. Omit this field if the cluster's fleet membership name is used by Config Sync cluster-name-selector annotation or ClusterSelector. Set this field if a name different from the cluster's fleet membership name is used by Config Sync cluster-name-selector annotation or ClusterSelector.",
          "type": "string"
        },
        "hierarchyController": {
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "description": "Hierarchy Controller configuration for the cluster."
        }
      },
      "type": "object",
      "id": "ConfigManagementMembershipSpec"
    },
    "IdentityServiceAuthMethod": {
      "properties": {
        "proxy": {
          "description": "Proxy server address to use for auth method.",
          "type": "string"
        },
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "azureadConfig": {
          "description": "AzureAD specific Configuration.",
          "$ref": "IdentityServiceAzureADConfig"
        },
        "googleConfig": {
          "$ref": "IdentityServiceGoogleConfig",
          "description": "GoogleConfig specific configuration."
        }
      },
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "id": "IdentityServiceAuthMethod",
      "type": "object"
    },
    "RBACRoleBindingLifecycleState": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "enumDescriptions": [
            "The code is not set.",
            "The rbacrolebinding is being created.",
            "The rbacrolebinding active.",
            "The rbacrolebinding is being deleted.",
            "The rbacrolebinding is being updated."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. The current state of the rbacrolebinding resource.",
          "readOnly": true
        }
      },
      "description": "RBACRoleBindingLifecycleState describes the state of a RbacRoleBinding resource.",
      "id": "RBACRoleBindingLifecycleState"
    },
    "FleetObservabilityLoggingConfig": {
      "type": "object",
      "id": "FleetObservabilityLoggingConfig",
      "description": "LoggingConfig defines the configuration for different types of logs.",
      "properties": {
        "fleetScopeLogsConfig": {
          "description": "Specified if applying the routing config to all logs for all fleet scopes.",
          "$ref": "FleetObservabilityRoutingConfig"
        },
        "defaultConfig": {
          "$ref": "FleetObservabilityRoutingConfig",
          "description": "Specified if applying the default routing config to logs not specified in other configs."
        }
      }
    },
    "ClusterUpgradeGKEUpgradeFeatureState": {
      "type": "object",
      "description": "GKEUpgradeFeatureState contains feature states for GKE clusters in the scope.",
      "id": "ClusterUpgradeGKEUpgradeFeatureState",
      "properties": {
        "conditions": {
          "description": "Current conditions of the feature.",
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeFeatureCondition"
          },
          "type": "array"
        },
        "state": {
          "description": "Scope-level upgrade state.",
          "items": {
            "$ref": "ClusterUpgradeScopeGKEUpgradeState"
          },
          "type": "array"
        },
        "upgradeState": {
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeState"
          },
          "description": "Upgrade state. It will eventually replace `state`.",
          "type": "array"
        }
      }
    },
    "ConfigManagementHierarchyControllerVersion": {
      "description": "Version for Hierarchy Controller",
      "id": "ConfigManagementHierarchyControllerVersion",
      "properties": {
        "extension": {
          "type": "string",
          "description": "Version for Hierarchy Controller extension"
        },
        "hnc": {
          "description": "Version for open source HNC",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListMembershipBindingsResponse": {
      "type": "object",
      "id": "ListMembershipBindingsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipBindings` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "membershipBindings": {
          "type": "array",
          "description": "The list of membership_bindings",
          "items": {
            "$ref": "MembershipBinding"
          }
        }
      },
      "description": "List of MembershipBindings."
    },
    "ListScopesResponse": {
      "id": "ListScopesResponse",
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "$ref": "Scope"
          },
          "description": "The list of Scopes"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListScopes` method. The value of an empty string means that there are no more resources to return."
        }
      },
      "type": "object",
      "description": "List of Scopes."
    },
    "KubernetesMetadata": {
      "id": "KubernetesMetadata",
      "type": "object",
      "description": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters.",
      "properties": {
        "vcpuCount": {
          "description": "Output only. vCPU count as reported by Kubernetes nodes resources.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "memoryMb": {
          "description": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "kubernetesApiServerVersion": {
          "description": "Output only. Kubernetes API server version string as reported by `/version`.",
          "readOnly": true,
          "type": "string"
        },
        "nodeProviderId": {
          "type": "string",
          "description": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-GCP), the node_count will be zero and the node_provider_id will be empty.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "nodeCount": {
          "format": "int32",
          "description": "Output only. Node count as reported by Kubernetes nodes resources.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "FeatureResourceState": {
      "id": "FeatureResourceState",
      "description": "FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the Feature in the Hub and across Memberships.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "description": "The current state of the Feature resource in the Hub API.",
          "enumDescriptions": [
            "State is unknown or not set.",
            "The Feature is being enabled, and the Feature resource is being created. Once complete, the corresponding Feature will be enabled in this Hub.",
            "The Feature is enabled in this Hub, and the Feature resource is fully available.",
            "The Feature is being disabled in this Hub, and the Feature resource is being deleted.",
            "The Feature resource is being updated.",
            "The Feature resource is being updated by the Hub Service."
          ]
        }
      }
    },
    "ConfigManagementPolicyController": {
      "description": "Configuration for Policy Controller",
      "properties": {
        "templateLibraryInstalled": {
          "description": "Installs the default template library along with Policy Controller.",
          "type": "boolean"
        },
        "auditIntervalSeconds": {
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string"
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster."
        },
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "ConfigManagementPolicyControllerMonitoring"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last time this membership spec was updated."
        }
      },
      "type": "object",
      "id": "ConfigManagementPolicyController"
    },
    "Membership": {
      "id": "Membership",
      "description": "Membership contains information about a member cluster.",
      "type": "object",
      "properties": {
        "authority": {
          "$ref": "Authority",
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
        },
        "endpoint": {
          "description": "Optional. Endpoint information to reach this member.",
          "$ref": "MembershipEndpoint"
        },
        "monitoringConfig": {
          "description": "Optional. The monitoring config information for this membership.",
          "$ref": "MonitoringConfig"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the Membership was created."
        },
        "description": {
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels for this membership."
        },
        "externalId": {
          "type": "string",
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object."
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. When the Membership was deleted.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the Membership resource.",
          "readOnly": true,
          "$ref": "MembershipState"
        },
        "uniqueId": {
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id.",
          "readOnly": true
        },
        "lastConnectionTime": {
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. When the Membership was last updated.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "FleetObservabilityMembershipState": {
      "description": "**FleetObservability**: Membership-specific Feature state for fleetobservability.",
      "type": "object",
      "properties": {},
      "id": "FleetObservabilityMembershipState"
    },
    "AnthosObservabilityMembershipSpec": {
      "description": "**Anthosobservability**: Per-Membership Feature spec.",
      "type": "object",
      "properties": {
        "enableStackdriverOnApplications": {
          "type": "boolean",
          "description": "Enable collecting and reporting metrics and logs from user apps."
        },
        "version": {
          "description": "the version of stackdriver operator used by this feature",
          "type": "string"
        },
        "doNotOptimizeMetrics": {
          "type": "boolean",
          "description": "Use full of metrics rather than optimized metrics. See https://cloud.google.com/anthos/clusters/docs/on-prem/1.8/concepts/logging-and-monitoring#optimized_metrics_default_metrics"
        }
      },
      "id": "AnthosObservabilityMembershipSpec"
    },
    "Origin": {
      "id": "Origin",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type specifies which type of origin is set.",
          "enumDescriptions": [
            "Type is unknown or not set.",
            "Per-Membership spec was inherited from the fleet-level default.",
            "Per-Membership spec was inherited from a user specification."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLEET",
            "USER"
          ],
          "type": "string"
        }
      },
      "description": "Origin defines where this MembershipFeatureSpec originated from."
    },
    "Status": {
      "properties": {
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ],
          "type": "string",
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ]
        }
      },
      "description": "Status specifies state for the subcomponent.",
      "id": "Status",
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "ConfigManagementBinauthzVersion": {
      "description": "The version of binauthz.",
      "type": "object",
      "properties": {
        "webhookVersion": {
          "description": "The version of the binauthz webhook.",
          "type": "string"
        }
      },
      "id": "ConfigManagementBinauthzVersion"
    },
    "MembershipState": {
      "id": "MembershipState",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the Membership resource.",
          "enumDescriptions": [
            "The code is not set.",
            "The cluster is being registered.",
            "The cluster is registered.",
            "The cluster is being unregistered.",
            "The Membership is being updated.",
            "The Membership is being updated by the Hub Service."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING",
            "SERVICE_UPDATING"
          ]
        }
      },
      "description": "MembershipState describes the state of a Membership resource."
    },
    "ConfigManagementSyncState": {
      "type": "object",
      "properties": {
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "errors": {
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementSyncError"
          }
        },
        "importToken": {
          "type": "string",
          "description": "Token indicating the state of the importer."
        },
        "lastSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp type of when ACM last successfully synced the repo"
        },
        "lastSync": {
          "type": "string",
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String",
          "deprecated": true
        },
        "sourceToken": {
          "description": "Token indicating the state of the repo.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "ACM cannot determine a sync code",
            "ACM successfully synced the git Repo with the cluster",
            "ACM is in the progress of syncing a new change",
            "Indicates an error configuring ACM, and user action is required",
            "ACM has been installed (operator manifest deployed), but not configured.",
            "ACM has not been installed (no operator pod found)",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "description": "Sync status code",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ]
        }
      },
      "description": "State indicating an ACM's progress syncing configurations to a cluster",
      "id": "ConfigManagementSyncState"
    },
    "ConfigManagementInstallError": {
      "description": "Errors pertaining to the installation of ACM",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A string representing the user facing error message"
        }
      },
      "type": "object",
      "id": "ConfigManagementInstallError"
    },
    "FleetObservabilityFleetObservabilityLoggingState": {
      "description": "Feature state for logging feature.",
      "properties": {
        "scopeLog": {
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState",
          "description": "The base feature state of fleet scope log."
        },
        "defaultLog": {
          "description": "The base feature state of fleet default log.",
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState"
        }
      },
      "type": "object",
      "id": "FleetObservabilityFleetObservabilityLoggingState"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "EdgeCluster": {
      "type": "object",
      "id": "EdgeCluster",
      "description": "EdgeCluster contains information specific to Google Edge Clusters.",
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the Google Cloud resource for the Edge Cluster. For example: //edgecontainer.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster"
        }
      }
    },
    "ValidateCreateMembershipResponse": {
      "id": "ValidateCreateMembershipResponse",
      "type": "object",
      "properties": {
        "validationResults": {
          "items": {
            "$ref": "ValidationResult"
          },
          "type": "array",
          "description": "Wraps all the validator results."
        }
      },
      "description": "Response message for the `GkeHub.ValidateCreateMembership` method."
    },
    "ConfigManagementHierarchyControllerConfig": {
      "description": "Configuration for Hierarchy Controller",
      "properties": {
        "enableHierarchicalResourceQuota": {
          "type": "boolean",
          "description": "Whether hierarchical resource quota is enabled in this cluster."
        },
        "enablePodTreeLabels": {
          "type": "boolean",
          "description": "Whether pod tree labels are enabled in this cluster."
        },
        "enabled": {
          "description": "Whether Hierarchy Controller is enabled in this cluster.",
          "type": "boolean"
        }
      },
      "id": "ConfigManagementHierarchyControllerConfig",
      "type": "object"
    },
    "ValidateCreateMembershipRequest": {
      "description": "Request message for the `GkeHub.ValidateCreateMembership` method.",
      "properties": {
        "membershipId": {
          "type": "string",
          "description": "Required. Client chosen membership id."
        },
        "membership": {
          "$ref": "Membership",
          "description": "Required. Membership resource to be created."
        }
      },
      "type": "object",
      "id": "ValidateCreateMembershipRequest"
    },
    "ResourceOptions": {
      "id": "ResourceOptions",
      "type": "object",
      "description": "ResourceOptions represent options for Kubernetes resource generation.",
      "properties": {
        "k8sVersion": {
          "type": "string",
          "description": "Optional. Major version of the Kubernetes cluster. This is only used to determine which version to use for the CustomResourceDefinition resources, `apiextensions/v1beta1` or`apiextensions/v1`."
        },
        "connectVersion": {
          "description": "Optional. The Connect agent version to use for connect_resources. Defaults to the latest GKE Connect version. The version must be a currently supported version, obsolete versions will be rejected.",
          "type": "string"
        },
        "v1beta1Crd": {
          "type": "boolean",
          "description": "Optional. Use `apiextensions/v1beta1` instead of `apiextensions/v1` for CustomResourceDefinition resources. This option should be set for clusters with Kubernetes apiserver versions \u003c1.16."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "IdentityServiceOidcConfig": {
      "id": "IdentityServiceOidcConfig",
      "type": "object",
      "description": "Configuration for OIDC Auth flow.",
      "properties": {
        "extraParams": {
          "description": "Comma-separated list of key-value pairs.",
          "type": "string"
        },
        "issuerUri": {
          "type": "string",
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
        },
        "userClaim": {
          "type": "string",
          "description": "Claim in OIDC ID token that holds username."
        },
        "encryptedClientSecret": {
          "description": "Output only. Encrypted OIDC Client secret",
          "type": "string",
          "format": "byte",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "description": "ID for OIDC client application."
        },
        "enableAccessToken": {
          "description": "Enable access token.",
          "type": "boolean"
        },
        "kubectlRedirectUri": {
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin.",
          "type": "string"
        },
        "groupPrefix": {
          "type": "string",
          "description": "Prefix to prepend to group name."
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH."
        },
        "userPrefix": {
          "description": "Prefix to prepend to user name.",
          "type": "string"
        },
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "scopes": {
          "description": "Comma-separated list of identifiers.",
          "type": "string"
        },
        "groupsClaim": {
          "type": "string",
          "description": "Claim in OIDC ID token that holds group information."
        },
        "deployCloudConsoleProxy": {
          "type": "boolean",
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console."
        }
      }
    },
    "PolicyControllerPolicyContentSpec": {
      "properties": {
        "templateLibrary": {
          "description": "Configures the installation of the Template Library.",
          "$ref": "PolicyControllerTemplateLibraryConfig"
        },
        "bundles": {
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          }
        }
      },
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "type": "object",
      "id": "PolicyControllerPolicyContentSpec"
    },
    "PolicyControllerResourceList": {
      "properties": {
        "memory": {
          "type": "string",
          "description": "Memory requirement expressed in Kubernetes resource units."
        },
        "cpu": {
          "type": "string",
          "description": "CPU requirement expressed in Kubernetes resource units."
        }
      },
      "description": "ResourceList contains container resource requirements.",
      "type": "object",
      "id": "PolicyControllerResourceList"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "CloudAuditLoggingFeatureSpec": {
      "id": "CloudAuditLoggingFeatureSpec",
      "description": "**Cloud Audit Logging**: Spec for Audit Logging Allowlisting.",
      "type": "object",
      "properties": {
        "allowlistedServiceAccounts": {
          "items": {
            "type": "string"
          },
          "description": "Service account that should be allowlisted to send the audit logs; eg cloudauditlogging@gcp-project.iam.gserviceaccount.com. These accounts must already exist, but do not need to have any permissions granted to them. The customer's entitlements will be checked prior to allowlisting (i.e. the customer must be an Anthos customer.)",
          "type": "array"
        }
      }
    },
    "ConfigManagementConfigSyncError": {
      "description": "Errors pertaining to the installation of Config Sync",
      "type": "object",
      "id": "ConfigManagementConfigSyncError",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A string representing the user facing error message"
        }
      }
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "properties": {
        "backends": {
          "items": {
            "type": "string",
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ]
          },
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "type": "array"
        }
      },
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "type": "object",
      "id": "ConfigManagementPolicyControllerMonitoring"
    },
    "Feature": {
      "type": "object",
      "properties": {
        "scopeStates": {
          "description": "Output only. Scope-specific Feature status. If this Feature does report any per-Scope status, this field may be unused. The keys indicate which Scope the state is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "ScopeFeatureState"
          }
        },
        "scopeSpecs": {
          "additionalProperties": {
            "$ref": "ScopeFeatureSpec"
          },
          "description": "Optional. Scope-specific configuration for this Feature. If this Feature does not support any per-Scope configuration, this field may be unused. The keys indicate which Scope the configuration is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Scope is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "type": "object"
        },
        "membershipStates": {
          "description": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "MembershipFeatureState"
          }
        },
        "resourceState": {
          "description": "Output only. State of the Feature resource itself.",
          "$ref": "FeatureResourceState",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`."
        },
        "fleetDefaultMemberConfig": {
          "$ref": "CommonFleetDefaultMemberConfigSpec",
          "description": "Optional. Feature configuration applicable to all memberships of the fleet."
        },
        "membershipSpecs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "MembershipFeatureSpec"
          },
          "description": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
        },
        "state": {
          "$ref": "CommonFeatureState",
          "readOnly": true,
          "description": "Output only. The Hub-wide Feature state."
        },
        "deleteTime": {
          "description": "Output only. When the Feature resource was deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the Feature resource was created."
        },
        "spec": {
          "description": "Optional. Hub-wide Feature configuration. If this Feature does not support any Hub-wide configuration, this field may be unused.",
          "$ref": "CommonFeatureSpec"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the Feature resource was last updated."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels for this Feature."
        }
      },
      "id": "Feature",
      "description": "Feature represents the settings and status of any Hub Feature."
    },
    "ScopeFeatureState": {
      "description": "ScopeFeatureState contains Scope-wide Feature status information.",
      "id": "ScopeFeatureState",
      "properties": {
        "clusterupgrade": {
          "$ref": "ClusterUpgradeScopeState",
          "description": "State for the ClusterUpgrade feature at the scope level"
        },
        "state": {
          "readOnly": true,
          "$ref": "FeatureState",
          "description": "Output only. The \"running state\" of the Feature in this Scope."
        }
      },
      "type": "object"
    },
    "PolicyControllerPolicyContentState": {
      "description": "The state of the policy controller policy content",
      "type": "object",
      "id": "PolicyControllerPolicyContentState",
      "properties": {
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        },
        "templateLibraryState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the template library"
        },
        "bundleStates": {
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "type": "object"
        }
      }
    },
    "FleetObservabilityRoutingConfig": {
      "id": "FleetObservabilityRoutingConfig",
      "type": "object",
      "description": "RoutingConfig configures the behaviour of fleet logging feature.",
      "properties": {
        "mode": {
          "type": "string",
          "description": "mode configures the logs routing mode.",
          "enumDescriptions": [
            "If UNSPECIFIED, fleet logging feature is disabled.",
            "logs will be copied to the destination project.",
            "logs will be moved to the destination project."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "COPY",
            "MOVE"
          ]
        }
      }
    },
    "ClusterUpgradePostConditions": {
      "id": "ClusterUpgradePostConditions",
      "description": "Post conditional checks after an upgrade has been applied on all eligible clusters.",
      "properties": {
        "soaking": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Amount of time to \"soak\" after a rollout has been finished before marking it COMPLETE. Cannot exceed 30 days. Required."
        }
      },
      "type": "object"
    },
    "PolicyControllerBundleInstallSpec": {
      "id": "PolicyControllerBundleInstallSpec",
      "type": "object",
      "properties": {
        "exemptedNamespaces": {
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces to be exempted from the bundle.",
          "type": "array"
        }
      },
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle."
    },
    "IdentityServiceAzureADConfig": {
      "id": "IdentityServiceAzureADConfig",
      "properties": {
        "clientSecret": {
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "userClaim": {
          "description": "Optional. Claim in the AzureAD ID Token that holds the user details.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "description": "Output only. Encrypted AzureAD client secret.",
          "type": "string",
          "readOnly": true,
          "format": "byte"
        },
        "kubectlRedirectUri": {
          "description": "The redirect URL that kubectl uses for authorization.",
          "type": "string"
        },
        "tenant": {
          "type": "string",
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant."
        },
        "clientId": {
          "type": "string",
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider."
        }
      },
      "description": "Configuration for the AzureAD Auth flow.",
      "type": "object"
    },
    "GkeCluster": {
      "properties": {
        "clusterMissing": {
          "readOnly": true,
          "description": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane.",
          "type": "boolean"
        },
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the Google Cloud resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported."
        }
      },
      "id": "GkeCluster",
      "type": "object",
      "description": "GkeCluster contains information specific to GKE clusters."
    },
    "KubernetesResource": {
      "type": "object",
      "description": "KubernetesResource contains the YAML manifests and configuration for Membership Kubernetes resources in the cluster. After CreateMembership or UpdateMembership, these resources should be re-applied in the cluster.",
      "id": "KubernetesResource",
      "properties": {
        "connectResources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ResourceManifest"
          },
          "description": "Output only. The Kubernetes resources for installing the GKE Connect agent This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask."
        },
        "resourceOptions": {
          "description": "Optional. Options for Kubernetes resource generation.",
          "$ref": "ResourceOptions"
        },
        "membershipCrManifest": {
          "description": "Input only. The YAML representation of the Membership CR. This field is ignored for GKE clusters where Hub can read the CR directly. Callers should provide the CR that is currently present in the cluster during CreateMembership or UpdateMembership, or leave this field empty if none exists. The CR manifest is used to validate the cluster has not been registered with another Membership.",
          "type": "string"
        },
        "membershipResources": {
          "readOnly": true,
          "description": "Output only. Additional Kubernetes resources that need to be applied to the cluster after Membership creation, and after every update. This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask.",
          "type": "array",
          "items": {
            "$ref": "ResourceManifest"
          }
        }
      }
    },
    "Role": {
      "description": "Role is the type for Kubernetes roles",
      "type": "object",
      "id": "Role",
      "properties": {
        "predefinedRole": {
          "enum": [
            "UNKNOWN",
            "ADMIN",
            "EDIT",
            "VIEW",
            "ANTHOS_SUPPORT"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNKNOWN",
            "ADMIN has EDIT and RBAC permissions",
            "EDIT can edit all resources except RBAC",
            "VIEW can only read resources",
            "ANTHOS_SUPPORT gives Google Support read-only access to a number of cluster resources."
          ],
          "description": "predefined_role is the Kubernetes default role to use"
        }
      }
    },
    "ConfigManagementGitConfig": {
      "type": "object",
      "properties": {
        "gcpServiceAccountEmail": {
          "description": "The Google Cloud Service Account Email used for auth when secret_type is gcpServiceAccount.",
          "type": "string"
        },
        "syncRev": {
          "description": "Git revision (tag or hash) to check out. Default HEAD.",
          "type": "string"
        },
        "syncBranch": {
          "description": "The branch of the repository to sync from. Default: master.",
          "type": "string"
        },
        "syncWaitSecs": {
          "format": "int64",
          "type": "string",
          "description": "Period in seconds between consecutive syncs. Default: 15."
        },
        "policyDir": {
          "description": "The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        },
        "secretType": {
          "type": "string",
          "description": "Type of secret configured for access to the Git repo. Must be one of ssh, cookiefile, gcenode, token, gcpserviceaccount or none. The validation of this is case-sensitive. Required."
        },
        "syncRepo": {
          "type": "string",
          "description": "The URL of the Git repository to use as the source of truth."
        },
        "httpsProxy": {
          "type": "string",
          "description": "URL for the HTTPS proxy to be used when communicating with the Git repo."
        }
      },
      "description": "Git repo configuration for a single cluster.",
      "id": "ConfigManagementGitConfig"
    },
    "ListMembershipRBACRoleBindingsResponse": {
      "id": "ListMembershipRBACRoleBindingsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipRBACRoleBindings` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "rbacrolebindings": {
          "type": "array",
          "items": {
            "$ref": "RBACRoleBinding"
          },
          "description": "The list of Membership RBACRoleBindings."
        }
      },
      "type": "object",
      "description": "List of Membership RBACRoleBindings."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusDetail": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata"
    },
    "PolicyControllerTemplateLibraryConfig": {
      "type": "object",
      "description": "The config specifying which default library templates to install.",
      "id": "PolicyControllerTemplateLibraryConfig",
      "properties": {
        "installation": {
          "description": "Configures the manner in which the template library is installed on the cluster.",
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ],
          "type": "string",
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ]
        }
      }
    },
    "IdentityServiceGoogleConfig": {
      "description": "Configuration for the Google Plugin Auth flow.",
      "id": "IdentityServiceGoogleConfig",
      "type": "object",
      "properties": {
        "disable": {
          "type": "boolean",
          "description": "Disable automatic configuration of Google Plugin on supported platforms."
        }
      }
    },
    "NamespaceLifecycleState": {
      "properties": {
        "code": {
          "description": "Output only. The current state of the Namespace resource.",
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The namespace is being created.",
            "The namespace active.",
            "The namespace is being deleted.",
            "The namespace is being updated."
          ],
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ]
        }
      },
      "type": "object",
      "description": "NamespaceLifecycleState describes the state of a Namespace resource.",
      "id": "NamespaceLifecycleState"
    },
    "PolicyControllerHubConfig": {
      "id": "PolicyControllerHubConfig",
      "type": "object",
      "properties": {
        "exemptableNamespaces": {
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array"
        },
        "deploymentConfigs": {
          "additionalProperties": {
            "$ref": "PolicyControllerPolicyControllerDeploymentConfig"
          },
          "description": "Map of deployment configs to deployments (\"admission\", \"audit\", \"mutation').",
          "type": "object"
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "format": "int64",
          "type": "string"
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enables the ability to mutate resources using Policy Controller."
        },
        "monitoring": {
          "$ref": "PolicyControllerMonitoringConfig",
          "description": "Monitoring specifies the configuration of monitoring."
        },
        "policyContent": {
          "description": "Specifies the desired policy content on the cluster",
          "$ref": "PolicyControllerPolicyContentSpec"
        },
        "constraintViolationLimit": {
          "description": "The maximum number of audit violations to be stored in a constraint. If not set, the internal default (currently 20) will be used.",
          "format": "int64",
          "type": "string"
        },
        "installSpec": {
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state.",
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED",
            "INSTALL_SPEC_DETACHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended.",
            "Request to stop all reconciliation actions by PoCo Hub controller. This is a breakglass mechanism to stop PoCo Hub from affecting cluster resources."
          ]
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        }
      },
      "description": "Configuration for Policy Controller"
    },
    "PolicyControllerOnClusterState": {
      "properties": {
        "state": {
          "description": "The lifecycle state of this component.",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED",
            "DETACHED"
          ],
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit).",
            "PoCo Hub is not taking any action to reconcile cluster objects. Changes to those objects will not be overwritten by PoCo Hub."
          ],
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Surface potential errors or information logs."
        }
      },
      "id": "PolicyControllerOnClusterState",
      "type": "object",
      "description": "OnClusterState represents the state of a sub-component of Policy Controller."
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "ConfigManagementOciConfig": {
      "properties": {
        "secretType": {
          "type": "string",
          "description": "Type of secret configured for access to the Git repo."
        },
        "policyDir": {
          "description": "The absolute path of the directory that contains the local resources. Default: the root directory of the image.",
          "type": "string"
        },
        "syncRepo": {
          "type": "string",
          "description": "The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`."
        },
        "gcpServiceAccountEmail": {
          "description": "The Google Cloud Service Account Email used for auth when secret_type is gcpServiceAccount.",
          "type": "string"
        },
        "syncWaitSecs": {
          "format": "int64",
          "description": "Period in seconds between consecutive syncs. Default: 15.",
          "type": "string"
        }
      },
      "description": "OCI repo configuration for a single cluster",
      "type": "object",
      "id": "ConfigManagementOciConfig"
    },
    "FleetObservabilityFeatureSpec": {
      "description": "**Fleet Observability**: The Hub-wide input for the FleetObservability feature.",
      "type": "object",
      "id": "FleetObservabilityFeatureSpec",
      "properties": {
        "loggingConfig": {
          "description": "Specified if fleet logging feature is enabled for the entire fleet. If UNSPECIFIED, fleet logging feature is disabled for the entire fleet.",
          "$ref": "FleetObservabilityLoggingConfig"
        }
      }
    },
    "RBACRoleBinding": {
      "id": "RBACRoleBinding",
      "description": "RBACRoleBinding represents a rbacrolebinding across the Fleet",
      "properties": {
        "group": {
          "type": "string",
          "description": "group is the group, as seen by the kubernetes cluster."
        },
        "createTime": {
          "description": "Output only. When the rbacrolebinding was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the rbacrolebinding was last updated.",
          "type": "string"
        },
        "state": {
          "$ref": "RBACRoleBindingLifecycleState",
          "readOnly": true,
          "description": "Output only. State of the rbacrolebinding resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels for this RBACRolebinding.",
          "type": "object"
        },
        "role": {
          "$ref": "Role",
          "description": "Required. Role to bind to the principal"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. When the rbacrolebinding was deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "user": {
          "description": "user is the name of the user as seen by the kubernetes cluster, example \"alice\" or \"alice@domain.tld\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the rbacrolebinding `projects/{project}/locations/{location}/namespaces/{namespace}/rbacrolebindings/{rbacrolebinding}` or `projects/{project}/locations/{location}/memberships/{membership}/rbacrolebindings/{rbacrolebinding}`"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all rbacrolebinding resources. If a rbacrolebinding resource is deleted and another resource with the same name is created, it gets a different uid."
        }
      },
      "type": "object"
    },
    "ApplianceCluster": {
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the Google Cloud resource for the Appliance Cluster. For example: //transferappliance.googleapis.com/projects/my-project/locations/us-west1-a/appliances/my-appliance"
        }
      },
      "description": "ApplianceCluster contains information specific to GDC Edge Appliance Clusters.",
      "id": "ApplianceCluster",
      "type": "object"
    },
    "ConfigManagementOperatorState": {
      "properties": {
        "errors": {
          "type": "array",
          "description": "Install errors.",
          "items": {
            "$ref": "ConfigManagementInstallError"
          }
        },
        "version": {
          "description": "The semenatic version number of the operator",
          "type": "string"
        },
        "deploymentState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "The state of the Operator's deployment",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        }
      },
      "description": "State information for an ACM's Operator",
      "id": "ConfigManagementOperatorState",
      "type": "object"
    },
    "ClusterUpgradeGKEUpgradeState": {
      "type": "object",
      "description": "GKEUpgradeState is a GKEUpgrade and its state at the scope and fleet level.",
      "properties": {
        "upgrade": {
          "$ref": "ClusterUpgradeGKEUpgrade",
          "description": "Which upgrade to track the state."
        },
        "status": {
          "$ref": "ClusterUpgradeUpgradeStatus",
          "description": "Status of the upgrade."
        },
        "stats": {
          "type": "object",
          "description": "Number of GKE clusters in each status code.",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "ClusterUpgradeGKEUpgradeState"
    },
    "IdentityServiceMembershipSpec": {
      "properties": {
        "authMethods": {
          "description": "A member may support multiple auth methods.",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          },
          "type": "array"
        }
      },
      "id": "IdentityServiceMembershipSpec",
      "type": "object",
      "description": "**Anthos Identity Service**: Configuration for a single Membership."
    },
    "CloudBuildMembershipSpec": {
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the cloud build software on the cluster."
        },
        "securityPolicy": {
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ],
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudBuildMembershipSpec"
    },
    "GenerateConnectManifestResponse": {
      "description": "GenerateConnectManifestResponse contains manifest information for installing/upgrading a Connect agent.",
      "type": "object",
      "properties": {
        "manifest": {
          "type": "array",
          "items": {
            "$ref": "ConnectAgentResource"
          },
          "description": "The ordered list of Kubernetes resources that need to be applied to the cluster for GKE Connect agent installation/upgrade."
        }
      },
      "id": "GenerateConnectManifestResponse"
    },
    "ClusterUpgradeIgnoredMembership": {
      "type": "object",
      "properties": {
        "ignoredTime": {
          "description": "Time when the membership was first set to ignored.",
          "format": "google-datetime",
          "type": "string"
        },
        "reason": {
          "description": "Reason why the membership is ignored.",
          "type": "string"
        }
      },
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default.",
      "id": "ClusterUpgradeIgnoredMembership"
    },
    "ConfigManagementConfigSyncState": {
      "properties": {
        "version": {
          "description": "The version of ConfigSync deployed",
          "$ref": "ConfigManagementConfigSyncVersion"
        },
        "deploymentState": {
          "description": "Information about the deployment of ConfigSync, including the version of the various Pods deployed",
          "$ref": "ConfigManagementConfigSyncDeploymentState"
        },
        "syncState": {
          "description": "The state of ConfigSync's process to sync configs to a cluster",
          "$ref": "ConfigManagementSyncState"
        },
        "errors": {
          "description": "Errors pertaining to the installation of Config Sync.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          }
        }
      },
      "id": "ConfigManagementConfigSyncState",
      "description": "State information for ConfigSync",
      "type": "object"
    },
    "ClusterUpgradeScopeSpec": {
      "properties": {
        "upstreamScopes": {
          "description": "This scope consumes upgrades that have COMPLETE status code in the upstream scopes. See UpgradeStatus.Code for code definitions. The scope name should be in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. This is defined as repeated for future proof reasons. Initial implementation will enforce at most one upstream scope.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "postConditions": {
          "description": "Required. Post conditions to evaluate to mark an upgrade COMPLETE. Required.",
          "$ref": "ClusterUpgradePostConditions"
        },
        "gkeUpgradeOverrides": {
          "type": "array",
          "description": "Allow users to override some properties of each GKE upgrade.",
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeOverride"
          }
        }
      },
      "description": "**ClusterUpgrade**: The configuration for the scope-level ClusterUpgrade feature.",
      "type": "object",
      "id": "ClusterUpgradeScopeSpec"
    },
    "FleetObservabilityFeatureState": {
      "description": "**FleetObservability**: Hub-wide Feature for FleetObservability feature. state.",
      "type": "object",
      "properties": {
        "monitoring": {
          "$ref": "FleetObservabilityFleetObservabilityMonitoringState",
          "description": "The feature state of fleet monitoring."
        },
        "logging": {
          "$ref": "FleetObservabilityFleetObservabilityLoggingState",
          "description": "The feature state of default logging."
        }
      },
      "id": "FleetObservabilityFeatureState"
    },
    "ListNamespacesResponse": {
      "type": "object",
      "description": "List of fleet namespaces.",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListNamespaces` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "namespaces": {
          "type": "array",
          "description": "The list of fleet namespaces",
          "items": {
            "$ref": "Namespace"
          }
        }
      },
      "id": "ListNamespacesResponse"
    },
    "MembershipBindingLifecycleState": {
      "description": "MembershipBindingLifecycleState describes the state of a Binding resource.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "enumDescriptions": [
            "The code is not set.",
            "The membershipbinding is being created.",
            "The membershipbinding active.",
            "The membershipbinding is being deleted.",
            "The membershipbinding is being updated."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the MembershipBinding resource.",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ]
        }
      },
      "id": "MembershipBindingLifecycleState"
    },
    "ListFeaturesResponse": {
      "type": "object",
      "description": "Response message for the `GkeHub.ListFeatures` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListFeatures` method. The value of an empty string means that there are no more resources to return."
        },
        "resources": {
          "items": {
            "$ref": "Feature"
          },
          "type": "array",
          "description": "The list of matching Features"
        }
      },
      "id": "ListFeaturesResponse"
    },
    "ConfigManagementPolicyControllerVersion": {
      "description": "The build version of Gatekeeper Policy Controller is using.",
      "id": "ConfigManagementPolicyControllerVersion",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number."
        }
      }
    },
    "MembershipFeatureSpec": {
      "properties": {
        "configmanagement": {
          "$ref": "ConfigManagementMembershipSpec",
          "description": "Config Management-specific spec."
        },
        "fleetobservability": {
          "description": "Fleet observability membership spec",
          "$ref": "FleetObservabilityMembershipSpec"
        },
        "origin": {
          "$ref": "Origin",
          "description": "Whether this per-Membership spec was inherited from a fleet-level default. This field can be updated by users by either overriding a Membership config (updated to USER implicitly) or setting to FLEET explicitly."
        },
        "cloudbuild": {
          "$ref": "CloudBuildMembershipSpec",
          "description": "Cloud Build-specific spec"
        },
        "workloadcertificate": {
          "$ref": "MembershipSpec",
          "description": "Workload Certificate spec."
        },
        "policycontroller": {
          "description": "Policy Controller spec.",
          "$ref": "PolicyControllerMembershipSpec"
        },
        "anthosobservability": {
          "$ref": "AnthosObservabilityMembershipSpec",
          "description": "Anthos Observability-specific spec"
        },
        "identityservice": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Identity Service-specific spec."
        },
        "mesh": {
          "description": "Anthos Service Mesh-specific spec",
          "$ref": "ServiceMeshMembershipSpec"
        }
      },
      "description": "MembershipFeatureSpec contains configuration information for a single Membership. NOTE: Please use snake case in your feature name.",
      "id": "MembershipFeatureSpec",
      "type": "object"
    },
    "Namespace": {
      "properties": {
        "labels": {
          "description": "Optional. Labels for this Namespace.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the namespace `projects/{project}/locations/{location}/namespaces/{namespace}`"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the namespace resource.",
          "$ref": "NamespaceLifecycleState"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the namespace was created.",
          "format": "google-datetime"
        },
        "scope": {
          "description": "Required. Scope associated with the namespace",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all namespace resources. If a namespace resource is deleted and another resource with the same name is created, it gets a different uid."
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. When the namespace was deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. When the namespace was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Namespace represents a namespace across the Fleet",
      "id": "Namespace",
      "type": "object"
    },
    "ClusterUpgradeScopeState": {
      "description": "**ClusterUpgrade**: The state for the scope-level ClusterUpgrade feature.",
      "properties": {
        "gkeState": {
          "description": "Feature state for GKE clusters.",
          "$ref": "ClusterUpgradeGKEUpgradeFeatureState"
        },
        "downstreamScopes": {
          "type": "array",
          "description": "This scopes whose upstream_scopes contain the current scope. The scope name should be in the form: `projects/{p}/locations/gloobal/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project.",
          "items": {
            "type": "string"
          }
        },
        "ignored": {
          "additionalProperties": {
            "$ref": "ClusterUpgradeIgnoredMembership"
          },
          "description": "A list of memberships ignored by the feature. For example, manually upgraded clusters can be ignored if they are newer than the default versions of its release channel. The membership resource is in the format: `projects/{p}/locations/{l}/membership/{m}`.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "ClusterUpgradeScopeState"
    },
    "PolicyControllerToleration": {
      "properties": {
        "value": {
          "description": "Matches a taint value.",
          "type": "string"
        },
        "key": {
          "description": "Matches a taint key (not necessarily unique).",
          "type": "string"
        },
        "effect": {
          "description": "Matches a taint effect.",
          "type": "string"
        },
        "operator": {
          "description": "Matches a taint operator.",
          "type": "string"
        }
      },
      "id": "PolicyControllerToleration",
      "description": "Toleration of a node taint.",
      "type": "object"
    },
    "Authority": {
      "id": "Authority",
      "type": "object",
      "properties": {
        "identityProvider": {
          "description": "Output only. An identity provider that reflects the `issuer` in the workload identity pool.",
          "type": "string",
          "readOnly": true
        },
        "issuer": {
          "description": "Optional. A JSON Web Token (JWT) issuer URI. `issuer` must start with `https://` and be a valid URL with length \u003c2000 characters. If set, then Google will allow valid OIDC tokens from this issuer to authenticate within the workload_identity_pool. OIDC discovery will be performed on this URI to validate tokens from the issuer. Clearing `issuer` disables Workload Identity. `issuer` cannot be directly modified; it must be cleared (and Workload Identity disabled) before using a new issuer (and re-enabling Workload Identity).",
          "type": "string"
        },
        "workloadIdentityPool": {
          "description": "Output only. The name of the workload identity pool in which `issuer` will be recognized. There is a single Workload Identity Pool per Hub that is shared between all Memberships that belong to that Hub. For a Hub hosted in {PROJECT_ID}, the workload pool format is `{PROJECT_ID}.hub.id.goog`, although this is subject to change in newer versions of this API.",
          "type": "string",
          "readOnly": true
        },
        "oidcJwks": {
          "type": "string",
          "description": "Optional. OIDC verification keys for this Membership in JWKS format (RFC 7517). When this field is set, OIDC discovery will NOT be performed on `issuer`, and instead OIDC tokens will be validated using this field.",
          "format": "byte"
        }
      },
      "description": "Authority encodes how Google will recognize identities from this Membership. See the workload identity documentation for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "type": "object",
      "properties": {
        "gatekeeperControllerManagerState": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Status of gatekeeper-controller-manager pod.",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "gatekeeperMutation": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Status of the pod serving the mutation webhook.",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "gatekeeperAudit": {
          "type": "string",
          "description": "Status of gatekeeper-audit deployment.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        }
      },
[...]
