{
  "id": "gkehub:v1beta",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "version": "v1beta",
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "schemas": {
    "ConfigManagementHierarchyControllerConfig": {
      "id": "ConfigManagementHierarchyControllerConfig",
      "type": "object",
      "description": "Configuration for Hierarchy Controller",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Hierarchy Controller is enabled in this cluster."
        },
        "enableHierarchicalResourceQuota": {
          "type": "boolean",
          "description": "Whether hierarchical resource quota is enabled in this cluster."
        },
        "enablePodTreeLabels": {
          "type": "boolean",
          "description": "Whether pod tree labels are enabled in this cluster."
        }
      }
    },
    "ListMembershipBindingsResponse": {
      "type": "object",
      "properties": {
        "membershipBindings": {
          "description": "The list of membership_bindings",
          "type": "array",
          "items": {
            "$ref": "MembershipBinding"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipBindings` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        }
      },
      "id": "ListMembershipBindingsResponse",
      "description": "List of MembershipBindings."
    },
    "AppDevExperienceFeatureState": {
      "description": "State for App Dev Exp Feature.",
      "properties": {
        "networkingInstallSucceeded": {
          "description": "Status of subcomponent that detects configured Service Mesh resources.",
          "$ref": "Status"
        }
      },
      "id": "AppDevExperienceFeatureState",
      "type": "object"
    },
    "ConfigManagementErrorResource": {
      "properties": {
        "resourceNamespace": {
          "type": "string",
          "description": "Namespace of the resource that is causing an error"
        },
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        },
        "resourceGvk": {
          "description": "Group/version/kind of the resource that is causing an error",
          "$ref": "ConfigManagementGroupVersionKind"
        },
        "resourceName": {
          "description": "Metadata name of the resource that is causing an error",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Model for a config file in the git repo with an associated Sync error",
      "id": "ConfigManagementErrorResource"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse"
    },
    "FleetObservabilityFeatureState": {
      "id": "FleetObservabilityFeatureState",
      "description": "**FleetObservability**: An empty state left as an example Hub-wide Feature state.",
      "type": "object",
      "properties": {}
    },
    "ServiceMeshMembershipState": {
      "id": "ServiceMeshMembershipState",
      "properties": {
        "dataPlaneManagement": {
          "$ref": "ServiceMeshDataPlaneManagement",
          "description": "Output only. Status of data plane management.",
          "readOnly": true
        },
        "controlPlaneManagement": {
          "$ref": "ServiceMeshControlPlaneManagement",
          "description": "Output only. Status of control plane management",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller."
    },
    "Feature": {
      "description": "Feature represents the settings and status of any Hub Feature.",
      "properties": {
        "scopeSpecs": {
          "description": "Optional. Scope-specific configuration for this Feature. If this Feature does not support any per-Scope configuration, this field may be unused. The keys indicate which Scope the configuration is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Scope is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "additionalProperties": {
            "$ref": "ScopeFeatureSpec"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When the Feature resource was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. When the Feature resource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "fleetDefaultMemberConfig": {
          "$ref": "CommonFleetDefaultMemberConfigSpec",
          "description": "Optional. Feature configuration applicable to all memberships of the fleet."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "GCP labels for this Feature."
        },
        "scopeStates": {
          "additionalProperties": {
            "$ref": "ScopeFeatureState"
          },
          "readOnly": true,
          "description": "Output only. Scope-specific Feature status. If this Feature does report any per-Scope status, this field may be unused. The keys indicate which Scope the state is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project.",
          "type": "object"
        },
        "membershipSpecs": {
          "additionalProperties": {
            "$ref": "MembershipFeatureSpec"
          },
          "type": "object",
          "description": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
        },
        "resourceState": {
          "description": "Output only. State of the Feature resource itself.",
          "readOnly": true,
          "$ref": "FeatureResourceState"
        },
        "state": {
          "description": "Output only. The Hub-wide Feature state.",
          "readOnly": true,
          "$ref": "CommonFeatureState"
        },
        "spec": {
          "$ref": "CommonFeatureSpec",
          "description": "Optional. Hub-wide Feature configuration. If this Feature does not support any Hub-wide configuration, this field may be unused."
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the Feature resource was deleted.",
          "format": "google-datetime"
        },
        "membershipStates": {
          "additionalProperties": {
            "$ref": "MembershipFeatureState"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number."
        }
      },
      "id": "Feature",
      "type": "object"
    },
    "ScopeFeatureState": {
      "type": "object",
      "id": "ScopeFeatureState",
      "properties": {
        "state": {
          "description": "Output only. The \"running state\" of the Feature in this Scope.",
          "readOnly": true,
          "$ref": "FeatureState"
        }
      },
      "description": "ScopeFeatureState contains Scope-wide Feature status information."
    },
    "ServiceMeshDataPlaneManagement": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED"
          ],
          "type": "string",
          "description": "Lifecycle status of data plane management."
        },
        "details": {
          "type": "array",
          "description": "Explanation of the status.",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          }
        }
      },
      "id": "ServiceMeshDataPlaneManagement",
      "type": "object",
      "description": "Status of data plane management. Only reported per-member."
    },
    "MembershipFeatureState": {
      "type": "object",
      "properties": {
        "configmanagement": {
          "description": "Config Management-specific state.",
          "$ref": "ConfigManagementMembershipState"
        },
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceFeatureState"
        },
        "fleetobservability": {
          "description": "Fleet observability membership state.",
          "$ref": "FleetObservabilityMembershipState"
        },
        "policycontroller": {
          "description": "Policycontroller-specific state.",
          "$ref": "PolicyControllerMembershipState"
        },
        "identityservice": {
          "$ref": "IdentityServiceMembershipState",
          "description": "Identity Service-specific state."
        },
        "state": {
          "$ref": "FeatureState",
          "description": "The high-level state of this Feature for a single membership."
        },
        "metering": {
          "description": "Metering-specific state.",
          "$ref": "MeteringMembershipState"
        },
        "servicemesh": {
          "$ref": "ServiceMeshMembershipState",
          "description": "Service Mesh-specific state."
        }
      },
      "description": "MembershipFeatureState contains Feature status information for a single Membership.",
      "id": "MembershipFeatureState"
    },
    "ConfigManagementSyncState": {
      "properties": {
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp type of when ACM last successfully synced the repo"
        },
        "lastSync": {
          "type": "string",
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String"
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementSyncError"
          },
          "type": "array",
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist."
        },
        "code": {
          "enumDescriptions": [
            "ACM cannot determine a sync code",
            "ACM successfully synced the git Repo with the cluster",
            "ACM is in the progress of syncing a new change",
            "Indicates an error configuring ACM, and user action is required",
            "ACM has been installed (operator manifest deployed), but not configured.",
            "ACM has not been installed (no operator pod found)",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "description": "Sync status code",
          "type": "string",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ]
        },
        "importToken": {
          "type": "string",
          "description": "Token indicating the state of the importer."
        },
        "sourceToken": {
          "description": "Token indicating the state of the repo.",
          "type": "string"
        }
      },
      "id": "ConfigManagementSyncState",
      "type": "object",
      "description": "State indicating an ACM's progress syncing configurations to a cluster"
    },
    "ConfigManagementBinauthzConfig": {
      "type": "object",
      "description": "Configuration for Binauthz",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether binauthz is enabled in this cluster."
        }
      },
      "id": "ConfigManagementBinauthzConfig"
    },
    "PolicyControllerPolicyContentState": {
      "type": "object",
      "properties": {
        "bundleStates": {
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        },
        "templateLibraryState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the template library"
        }
      },
      "id": "PolicyControllerPolicyContentState",
      "description": "The state of the policy controller policy content"
    },
    "MembershipSpec": {
      "id": "MembershipSpec",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version of the cloud build software on the cluster.",
          "type": "string"
        },
        "securityPolicy": {
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ],
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ]
        }
      },
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster."
    },
    "IdentityServiceMembershipSpec": {
      "properties": {
        "authMethods": {
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          },
          "type": "array",
          "description": "A member may support multiple auth methods."
        }
      },
      "type": "object",
      "id": "IdentityServiceMembershipSpec",
      "description": "**Anthos Identity Service**: Configuration for a single Membership."
    },
    "ConfigManagementOciConfig": {
      "id": "ConfigManagementOciConfig",
      "type": "object",
      "description": "OCI repo configuration for a single cluster",
      "properties": {
        "secretType": {
          "type": "string",
          "description": "Type of secret configured for access to the Git repo."
        },
        "syncRepo": {
          "description": "The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.",
          "type": "string"
        },
        "policyDir": {
          "type": "string",
          "description": "The absolute path of the directory that contains the local resources. Default: the root directory of the image."
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "The GCP Service Account Email used for auth when secret_type is gcpServiceAccount."
        },
        "syncWaitSecs": {
          "format": "int64",
          "type": "string",
          "description": "Period in seconds between consecutive syncs. Default: 15."
        }
      }
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ]
          },
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
        }
      },
      "id": "ConfigManagementPolicyControllerMonitoring",
      "type": "object"
    },
    "ScopeFeatureSpec": {
      "type": "object",
      "properties": {},
      "description": "ScopeFeatureSpec contains feature specs for a fleet scope.",
      "id": "ScopeFeatureSpec"
    },
    "AnthosObservabilityMembershipSpec": {
      "properties": {
        "doNotOptimizeMetrics": {
          "type": "boolean",
          "description": "Use full of metrics rather than optimized metrics. See https://cloud.google.com/anthos/clusters/docs/on-prem/1.8/concepts/logging-and-monitoring#optimized_metrics_default_metrics"
        },
        "enableStackdriverOnApplications": {
          "description": "Enable collecting and reporting metrics and logs from user apps.",
          "type": "boolean"
        },
        "version": {
          "type": "string",
          "description": "the version of stackdriver operator used by this feature"
        }
      },
      "type": "object",
      "description": "**Anthosobservability**: Per-Membership Feature spec.",
      "id": "AnthosObservabilityMembershipSpec"
    },
    "ConfigManagementMembershipState": {
      "type": "object",
      "description": "**Anthos Config Management**: State for a single cluster.",
      "properties": {
        "clusterName": {
          "type": "string",
          "description": "The user-defined name for the cluster used by ClusterSelectors to group clusters together. This should match Membership's membership_name, unless the user installed ACM on the cluster manually prior to enabling the ACM hub feature. Unique within a Anthos Config Management installation."
        },
        "binauthzState": {
          "description": "Binauthz status",
          "$ref": "ConfigManagementBinauthzState"
        },
        "configSyncState": {
          "$ref": "ConfigManagementConfigSyncState",
          "description": "Current sync status"
        },
        "membershipSpec": {
          "$ref": "ConfigManagementMembershipSpec",
          "description": "Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state"
        },
        "operatorState": {
          "description": "Current install status of ACM's Operator",
          "$ref": "ConfigManagementOperatorState"
        },
        "hierarchyControllerState": {
          "$ref": "ConfigManagementHierarchyControllerState",
          "description": "Hierarchy Controller status"
        },
        "policyControllerState": {
          "description": "PolicyController status",
          "$ref": "ConfigManagementPolicyControllerState"
        }
      },
      "id": "ConfigManagementMembershipState"
    },
    "PolicyControllerMembershipSpec": {
      "id": "PolicyControllerMembershipSpec",
      "properties": {
        "version": {
          "description": "Version of Policy Controller installed.",
          "type": "string"
        },
        "policyControllerHubConfig": {
          "$ref": "PolicyControllerHubConfig",
          "description": "Policy Controller configuration for the cluster."
        }
      },
      "type": "object",
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR."
    },
    "MeteringMembershipState": {
      "description": "**Metering**: Per-Membership Feature State.",
      "id": "MeteringMembershipState",
      "properties": {
        "preciseLastMeasuredClusterVcpuCapacity": {
          "format": "float",
          "type": "number",
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision)."
        },
        "lastMeasurementTime": {
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "PolicyControllerResourceRequirements": {
      "description": "ResourceRequirements describes the compute resource requirements.",
      "properties": {
        "requests": {
          "description": "Requests describes the amount of compute resources reserved for the container by the kube-scheduler.",
          "$ref": "PolicyControllerResourceList"
        },
        "limits": {
          "$ref": "PolicyControllerResourceList",
          "description": "Limits describes the maximum amount of compute resources allowed for use by the running container."
        }
      },
      "id": "PolicyControllerResourceRequirements",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "properties": {
        "replicaCount": {
          "description": "Pod replica count.",
          "format": "int64",
          "type": "string"
        },
        "podTolerations": {
          "type": "array",
          "items": {
            "$ref": "PolicyControllerToleration"
          },
          "description": "Pod tolerations of node taints."
        },
        "podAntiAffinity": {
          "description": "Pod anti-affinity enablement.",
          "type": "boolean"
        },
        "containerResources": {
          "$ref": "PolicyControllerResourceRequirements",
          "description": "Container resource requirements."
        }
      },
      "type": "object",
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "description": "Deployment-specific configuration."
    },
    "PolicyControllerPolicyContentSpec": {
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "type": "object",
      "id": "PolicyControllerPolicyContentSpec",
      "properties": {
        "bundles": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          },
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint."
        },
        "templateLibrary": {
          "$ref": "PolicyControllerTemplateLibraryConfig",
          "description": "Configures the installation of the Template Library."
        }
      }
    },
    "CommonFeatureState": {
      "properties": {
        "state": {
          "$ref": "FeatureState",
          "readOnly": true,
          "description": "Output only. The \"running state\" of the Feature in this Hub."
        },
        "fleetobservability": {
          "description": "FleetObservability feature state.",
          "$ref": "FleetObservabilityFeatureState"
        },
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceFeatureState"
        }
      },
      "id": "CommonFeatureState",
      "type": "object",
      "description": "CommonFeatureState contains Hub-wide Feature status information."
    },
    "IdentityServiceGoogleConfig": {
      "type": "object",
      "description": "Configuration for the Google Plugin Auth flow.",
      "properties": {
        "disable": {
          "type": "boolean",
          "description": "Disable automatic configuration of Google Plugin on supported platforms."
        }
      },
      "id": "IdentityServiceGoogleConfig"
    },
    "ConfigManagementOperatorState": {
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "description": "Install errors.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "The semenatic version number of the operator"
        },
        "deploymentState": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "The state of the Operator's deployment",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        }
      },
      "description": "State information for an ACM's Operator",
      "id": "ConfigManagementOperatorState"
    },
    "FleetObservabilityFeatureSpec": {
      "properties": {},
      "description": "**Fleet Observability**: The Hub-wide input for the FleetObservability feature.",
      "type": "object",
      "id": "FleetObservabilityFeatureSpec"
    },
    "ConfigManagementBinauthzState": {
      "properties": {
        "webhook": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "The state of the binauthz webhook.",
          "type": "string"
        },
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        }
      },
      "type": "object",
      "description": "State for Binauthz",
      "id": "ConfigManagementBinauthzState"
    },
    "RBACRoleBindingLifecycleState": {
      "description": "RBACRoleBindingLifecycleState describes the state of a RbacRoleBinding resource.",
      "id": "RBACRoleBindingLifecycleState",
      "properties": {
        "code": {
          "enumDescriptions": [
            "The code is not set.",
            "The rbacrolebinding is being created.",
            "The rbacrolebinding active.",
            "The rbacrolebinding is being deleted.",
            "The rbacrolebinding is being updated."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. The current state of the rbacrolebinding resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementInstallError": {
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      },
      "description": "Errors pertaining to the installation of ACM",
      "id": "ConfigManagementInstallError",
      "type": "object"
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location",
      "type": "object"
    },
    "ConfigManagementPolicyControllerState": {
      "properties": {
        "deploymentState": {
          "description": "The state about the policy controller installation.",
          "$ref": "ConfigManagementGatekeeperDeploymentState"
        },
        "version": {
          "description": "The version of Gatekeeper Policy Controller deployed.",
          "$ref": "ConfigManagementPolicyControllerVersion"
        },
        "migration": {
          "description": "Record state of ACM -\u003e PoCo Hub migration for this feature.",
          "$ref": "ConfigManagementPolicyControllerMigration"
        }
      },
      "id": "ConfigManagementPolicyControllerState",
      "description": "State for PolicyControllerState.",
      "type": "object"
    },
    "AppDevExperienceFeatureSpec": {
      "id": "AppDevExperienceFeatureSpec",
      "description": "Spec for App Dev Experience Feature.",
      "properties": {},
      "type": "object"
    },
    "ConfigManagementGitConfig": {
      "type": "object",
      "description": "Git repo configuration for a single cluster.",
      "properties": {
        "syncBranch": {
          "type": "string",
          "description": "The branch of the repository to sync from. Default: master."
        },
        "syncRepo": {
          "type": "string",
          "description": "The URL of the Git repository to use as the source of truth."
        },
        "syncWaitSecs": {
          "type": "string",
          "format": "int64",
          "description": "Period in seconds between consecutive syncs. Default: 15."
        },
        "httpsProxy": {
          "type": "string",
          "description": "URL for the HTTPS proxy to be used when communicating with the Git repo."
        },
        "syncRev": {
          "type": "string",
          "description": "Git revision (tag or hash) to check out. Default HEAD."
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "The GCP Service Account Email used for auth when secret_type is gcpServiceAccount."
        },
        "secretType": {
          "description": "Type of secret configured for access to the Git repo. Must be one of ssh, cookiefile, gcenode, token, gcpserviceaccount or none. The validation of this is case-sensitive. Required.",
          "type": "string"
        },
        "policyDir": {
          "description": "The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        }
      },
      "id": "ConfigManagementGitConfig"
    },
    "ServiceMeshMembershipSpec": {
      "type": "object",
      "properties": {
        "controlPlane": {
          "type": "string",
          "description": "Enables automatic control plane management.",
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "management": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components."
          ],
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "description": "Enables automatic Service Mesh management."
        }
      },
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "id": "ServiceMeshMembershipSpec"
    },
    "ListNamespacesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListNamespaces` method. The value of an empty string means that there are no more resources to return."
        },
        "namespaces": {
          "type": "array",
          "description": "The list of fleet namespaces",
          "items": {
            "$ref": "Namespace"
          }
        }
      },
      "id": "ListNamespacesResponse",
      "description": "List of fleet namespaces."
    },
    "Status": {
      "id": "Status",
      "description": "Status specifies state for the subcomponent.",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "type": "string",
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ]
        },
        "description": {
          "type": "string",
          "description": "Description is populated if Code is Failed, explaining why it has failed."
        }
      },
      "type": "object"
    },
    "PolicyControllerMonitoringConfig": {
      "description": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "type": "string"
          },
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
        }
      },
      "id": "PolicyControllerMonitoringConfig",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "ConfigManagementConfigSync": {
      "description": "Configuration for Config Sync",
      "properties": {
        "git": {
          "description": "Git repo configuration for the cluster.",
          "$ref": "ConfigManagementGitConfig"
        },
        "preventDrift": {
          "type": "boolean",
          "description": "Set to true to enable the Config Sync admission webhook to prevent drifts. If set to `false`, disables the Config Sync admission webhook and does not prevent drifts."
        },
        "sourceFormat": {
          "type": "string",
          "description": "Specifies whether the Config Sync Repo is in \"hierarchical\" or \"unstructured\" mode."
        },
        "allowVerticalScale": {
          "type": "boolean",
          "description": "Set to true to allow the vertical scaling. Defaults to false which disallows vertical scaling. This field is deprecated."
        },
        "oci": {
          "description": "OCI repo configuration for the cluster",
          "$ref": "ConfigManagementOciConfig"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of ConfigSync. If set to true, ConfigSync resources will be created and the other ConfigSync fields will be applied if exist. If set to false, all other ConfigSync fields will be ignored, ConfigSync resources will be deleted. If omitted, ConfigSync resources will be managed depends on the presence of git field."
        }
      },
      "type": "object",
      "id": "ConfigManagementConfigSync"
    },
    "ConfigManagementPolicyControllerMigration": {
      "description": "State for the migration of PolicyController from ACM -\u003e PoCo Hub.",
      "properties": {
        "stage": {
          "type": "string",
          "description": "Stage of the migration.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ],
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ]
        }
      },
      "id": "ConfigManagementPolicyControllerMigration",
      "type": "object"
    },
    "PolicyControllerMembershipState": {
      "type": "object",
      "id": "PolicyControllerMembershipState",
      "description": "**Policy Controller**: State for a single cluster.",
      "properties": {
        "policyContentState": {
          "$ref": "PolicyControllerPolicyContentState",
          "description": "The overall content state observed by the Hub Feature controller. TODO (b/271878194): Decrement this"
        },
        "contentStates": {
          "description": "The state of the template library and any bundles included in the chosen version of the manifest TODO (b/271878194): Remove this",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "type": "object"
        },
        "componentStates": {
          "type": "object",
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\"",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          }
        },
        "state": {
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller.",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit)."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED"
          ],
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ScopeLifecycleState": {
      "id": "ScopeLifecycleState",
      "description": "ScopeLifecycleState describes the state of a Scope resource.",
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The code is not set.",
            "The scope is being created.",
            "The scope active.",
            "The scope is being deleted.",
            "The scope is being updated."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. The current state of the scope resource."
        }
      },
      "type": "object"
    },
    "ListFeaturesResponse": {
      "description": "Response message for the `GkeHub.ListFeatures` method.",
      "id": "ListFeaturesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListFeatures` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "description": "The list of matching Features",
          "items": {
            "$ref": "Feature"
          }
        }
      },
      "type": "object"
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "id": "ConfigManagementConfigSyncDeploymentState",
      "type": "object",
      "description": "The state of ConfigSync's deployment on a cluster",
      "properties": {
        "importer": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Deployment state of the importer pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string"
        },
        "gitSync": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Deployment state of the git-sync pod",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "rootReconciler": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Deployment state of root-reconciler",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "admissionWebhook": {
          "description": "Deployment state of admission-webhook",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "monitor": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Deployment state of the monitor pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "reconcilerManager": {
          "type": "string",
          "description": "Deployment state of reconciler-manager pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "syncer": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Deployment state of the syncer pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        }
      }
    },
    "MembershipBindingLifecycleState": {
      "type": "object",
      "id": "MembershipBindingLifecycleState",
      "description": "MembershipBindingLifecycleState describes the state of a Binding resource.",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The membershipbinding is being created.",
            "The membershipbinding active.",
            "The membershipbinding is being deleted.",
            "The membershipbinding is being updated."
          ],
          "type": "string",
          "description": "Output only. The current state of the MembershipBinding resource."
        }
      }
    },
    "FeatureResourceState": {
      "description": "FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the Feature in the Hub and across Memberships.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State is unknown or not set.",
            "The Feature is being enabled, and the Feature resource is being created. Once complete, the corresponding Feature will be enabled in this Hub.",
            "The Feature is enabled in this Hub, and the Feature resource is fully available.",
            "The Feature is being disabled in this Hub, and the Feature resource is being deleted.",
            "The Feature resource is being updated.",
            "The Feature resource is being updated by the Hub Service."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "description": "The current state of the Feature resource in the Hub API."
        }
      },
      "id": "FeatureResourceState"
    },
    "ServiceMeshControlPlaneManagement": {
      "properties": {
        "state": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED"
          ],
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state."
          ],
          "description": "LifecycleState of control plane management.",
          "type": "string"
        },
        "details": {
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of state.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Status of control plane management.",
      "id": "ServiceMeshControlPlaneManagement"
    },
    "IdentityServiceMembershipState": {
      "id": "IdentityServiceMembershipState",
      "properties": {
        "state": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "OK",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "deployment succeeds",
            "Failure with error."
          ],
          "description": "Deployment state on this member",
          "type": "string"
        },
        "memberConfig": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Last reconciled membership configuration"
        },
        "installedVersion": {
          "description": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK.",
          "type": "string"
        },
        "failureReason": {
          "description": "The reason of the failure.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "**Anthos Identity Service**: State for a single Membership."
    },
    "ConfigManagementHierarchyControllerState": {
      "properties": {
        "version": {
          "$ref": "ConfigManagementHierarchyControllerVersion",
          "description": "The version for Hierarchy Controller"
        },
        "state": {
          "description": "The deployment state for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerDeploymentState"
        }
      },
      "description": "State for Hierarchy Controller",
      "type": "object",
      "id": "ConfigManagementHierarchyControllerState"
    },
    "FleetObservabilityMembershipState": {
      "description": "**FleetObservability**: An empty state left as an example membership-specific Feature state.",
      "id": "FleetObservabilityMembershipState",
      "properties": {},
      "type": "object"
    },
    "MultiClusterIngressFeatureSpec": {
      "description": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature.",
      "properties": {
        "billing": {
          "type": "string",
          "enum": [
            "BILLING_UNSPECIFIED",
            "PAY_AS_YOU_GO",
            "ANTHOS_LICENSE"
          ],
          "enumDescriptions": [
            "Unknown",
            "User pays a fee per-endpoint.",
            "User is paying for Anthos as a whole."
          ],
          "description": "Deprecated: This field will be ignored and should not be set. Customer's billing structure."
        },
        "configMembership": {
          "type": "string",
          "description": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`"
        }
      },
      "id": "MultiClusterIngressFeatureSpec",
      "type": "object"
    },
    "PolicyControllerOnClusterState": {
      "id": "PolicyControllerOnClusterState",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit)."
          ],
          "description": "The lifecycle state of this component.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED"
          ]
        },
        "details": {
          "type": "string",
          "description": "Surface potential errors or information logs."
        }
      },
      "description": "OnClusterState represents the state of a sub-component of Policy Controller."
    },
    "MembershipFeatureSpec": {
      "properties": {
        "identityservice": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Identity Service-specific spec."
        },
        "fleetobservability": {
          "description": "Fleet observability membership spec",
          "$ref": "FleetObservabilityMembershipSpec"
        },
        "cloudbuild": {
          "description": "Cloud Build-specific spec",
          "$ref": "MembershipSpec"
        },
        "configmanagement": {
          "description": "Config Management-specific spec.",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "anthosobservability": {
          "$ref": "AnthosObservabilityMembershipSpec",
          "description": "Anthos Observability-specific spec"
        },
        "fleetInherited": {
          "description": "True if value of `feature_spec` was inherited from a fleet-level default.",
          "type": "boolean"
        },
        "policycontroller": {
          "description": "Policy Controller spec.",
          "$ref": "PolicyControllerMembershipSpec"
        },
        "mesh": {
          "description": "Anthos Service Mesh-specific spec",
          "$ref": "ServiceMeshMembershipSpec"
        }
      },
      "type": "object",
      "id": "MembershipFeatureSpec",
      "description": "MembershipFeatureSpec contains configuration information for a single Membership."
    },
    "IdentityServiceOidcConfig": {
      "properties": {
        "groupPrefix": {
          "type": "string",
          "description": "Prefix to prepend to group name."
        },
        "userPrefix": {
          "type": "string",
          "description": "Prefix to prepend to user name."
        },
        "enableAccessToken": {
          "type": "boolean",
          "description": "Enable access token."
        },
        "clientId": {
          "description": "ID for OIDC client application.",
          "type": "string"
        },
        "groupsClaim": {
          "description": "Claim in OIDC ID token that holds group information.",
          "type": "string"
        },
        "userClaim": {
          "type": "string",
          "description": "Claim in OIDC ID token that holds username."
        },
        "encryptedClientSecret": {
          "format": "byte",
          "readOnly": true,
          "description": "Output only. Encrypted OIDC Client secret",
          "type": "string"
        },
        "kubectlRedirectUri": {
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin.",
          "type": "string"
        },
        "issuerUri": {
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration.",
          "type": "string"
        },
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "scopes": {
          "description": "Comma-separated list of identifiers.",
          "type": "string"
        },
        "extraParams": {
          "type": "string",
          "description": "Comma-separated list of key-value pairs."
        },
        "clientSecret": {
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "deployCloudConsoleProxy": {
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for OIDC Auth flow.",
      "id": "IdentityServiceOidcConfig"
    },
    "ConfigManagementConfigSyncState": {
      "type": "object",
      "properties": {
        "deploymentState": {
          "description": "Information about the deployment of ConfigSync, including the version of the various Pods deployed",
          "$ref": "ConfigManagementConfigSyncDeploymentState"
        },
        "syncState": {
          "description": "The state of ConfigSync's process to sync configs to a cluster",
          "$ref": "ConfigManagementSyncState"
        },
        "version": {
          "$ref": "ConfigManagementConfigSyncVersion",
          "description": "The version of ConfigSync deployed"
        }
      },
      "description": "State information for ConfigSync",
      "id": "ConfigManagementConfigSyncState"
    },
    "ConfigManagementPolicyControllerVersion": {
      "type": "object",
      "id": "ConfigManagementPolicyControllerVersion",
      "description": "The build version of Gatekeeper Policy Controller is using.",
      "properties": {
        "version": {
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number.",
          "type": "string"
        }
      }
    },
    "Scope": {
      "type": "object",
      "description": "Scope represents a Scope in a Fleet.",
      "id": "Scope",
      "properties": {
        "state": {
          "$ref": "ScopeLifecycleState",
          "description": "Output only. State of the scope resource.",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all scope resources. If a scope resource is deleted and another resource with the same name is created, it gets a different uid."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the scope was created.",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. When the scope was deleted.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name for the scope `projects/{project}/locations/{location}/scopes/{scope}`"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the scope was last updated.",
          "type": "string"
        }
      }
    },
    "ConfigManagementMembershipSpec": {
      "type": "object",
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "id": "ConfigManagementMembershipSpec",
      "properties": {
        "policyController": {
          "$ref": "ConfigManagementPolicyController",
          "description": "Policy Controller configuration for the cluster."
        },
        "binauthz": {
          "$ref": "ConfigManagementBinauthzConfig",
          "description": "Binauthz conifguration for the cluster."
        },
        "configSync": {
          "description": "Config Sync configuration for the cluster.",
          "$ref": "ConfigManagementConfigSync"
        },
        "version": {
          "type": "string",
          "description": "Version of ACM installed."
        },
        "hierarchyController": {
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "description": "Hierarchy Controller configuration for the cluster."
        }
      }
    },
    "ConfigManagementHierarchyControllerVersion": {
      "id": "ConfigManagementHierarchyControllerVersion",
      "properties": {
        "extension": {
          "description": "Version for Hierarchy Controller extension",
          "type": "string"
        },
        "hnc": {
          "type": "string",
          "description": "Version for open source HNC"
        }
      },
      "description": "Version for Hierarchy Controller",
      "type": "object"
    },
    "FeatureState": {
      "id": "FeatureState",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown or not set.",
            "The Feature is operating normally.",
            "The Feature has encountered an issue, and is operating in a degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information.",
            "The Feature is not operating or is in a severely degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information."
          ],
          "description": "The high-level, machine-readable status of this Feature."
        },
        "updateTime": {
          "description": "The time this status and any related Feature-specific details were updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "FeatureState describes the high-level state of a Feature. It may be used to describe a Feature's state at the environ-level, or per-membershop, depending on the context."
    },
    "ConfigManagementGroupVersionKind": {
      "id": "ConfigManagementGroupVersionKind",
      "type": "object",
      "properties": {
        "group": {
          "type": "string",
          "description": "Kubernetes Group"
        },
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        },
        "kind": {
          "type": "string",
          "description": "Kubernetes Kind"
        }
      },
      "description": "A Kubernetes object's GVK"
    },
    "PolicyControllerToleration": {
      "description": "Toleration of a node taint.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Matches a taint key (not necessarily unique)."
        },
        "operator": {
          "type": "string",
          "description": "Matches a taint operator."
        },
        "effect": {
          "type": "string",
          "description": "Matches a taint effect."
        },
        "value": {
          "type": "string",
          "description": "Matches a taint value."
        }
      },
      "id": "PolicyControllerToleration",
      "type": "object"
    },
    "CommonFleetDefaultMemberConfigSpec": {
      "description": "CommonFleetDefaultMemberConfigSpec contains default configuration information for memberships of a fleet",
      "id": "CommonFleetDefaultMemberConfigSpec",
      "type": "object",
      "properties": {
        "identityservice": {
          "description": "Identity Service-specific spec.",
          "$ref": "IdentityServiceMembershipSpec"
        }
      }
    },
    "PolicyControllerResourceList": {
      "id": "PolicyControllerResourceList",
      "properties": {
        "memory": {
          "type": "string",
          "description": "Memory requirement expressed in Kubernetes resource units."
        },
        "cpu": {
          "type": "string",
          "description": "CPU requirement expressed in Kubernetes resource units."
        }
      },
      "description": "ResourceList contains container resource requirements.",
      "type": "object"
    },
    "ConfigManagementSyncError": {
      "description": "An ACM created error representing a problem syncing configurations",
      "properties": {
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        },
        "errorResources": {
          "items": {
            "$ref": "ConfigManagementErrorResource"
          },
          "type": "array",
          "description": "A list of config(s) associated with the error, if any"
        },
        "errorMessage": {
          "description": "A description of the error",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConfigManagementSyncError"
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "id": "ConfigManagementGatekeeperDeploymentState",
      "type": "object",
      "properties": {
        "gatekeeperMutation": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Status of the pod serving the mutation webhook."
        },
        "gatekeeperAudit": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Status of gatekeeper-audit deployment.",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "gatekeeperControllerManagerState": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Status of gatekeeper-controller-manager pod.",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        }
      },
      "description": "State of Policy Controller installation."
    },
    "Namespace": {
      "id": "Namespace",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the namespace was created.",
          "format": "google-datetime"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the namespace was deleted."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all namespace resources. If a namespace resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string"
        },
        "state": {
          "$ref": "NamespaceLifecycleState",
          "description": "Output only. State of the namespace resource.",
          "readOnly": true
        },
        "name": {
          "description": "The resource name for the namespace `projects/{project}/locations/{location}/namespaces/{namespace}`",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "Required. Scope associated with the namespace"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the namespace was last updated."
        }
      },
      "description": "Namespace represents a namespace across the Fleet"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FleetObservabilityMembershipSpec": {
      "description": "**FleetObservability**: The membership-specific input for FleetObservability feature.",
      "type": "object",
      "properties": {},
      "id": "FleetObservabilityMembershipSpec"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "IdentityServiceAzureADConfig": {
      "description": "Configuration for the AzureAD Auth flow.",
      "type": "object",
      "properties": {
        "kubectlRedirectUri": {
          "type": "string",
          "description": "The redirect URL that kubectl uses for authorization."
        },
        "tenant": {
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant.",
          "type": "string"
        },
        "clientId": {
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "type": "string",
          "description": "Output only. Encrypted AzureAD client secret.",
          "format": "byte",
          "readOnly": true
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
        }
      },
      "id": "IdentityServiceAzureADConfig"
    },
    "ConfigManagementHierarchyControllerDeploymentState": {
      "properties": {
        "hnc": {
          "description": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string"
        },
        "extension": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        }
      },
      "type": "object",
      "description": "Deployment state for Hierarchy Controller",
      "id": "ConfigManagementHierarchyControllerDeploymentState"
    },
    "MembershipBinding": {
      "description": "MembershipBinding is a subresource of a Membership, representing what Fleet Scopes (or other, future Fleet resources) a Membership is bound to.",
      "type": "object",
      "id": "MembershipBinding",
      "properties": {
        "deleteTime": {
          "description": "Output only. When the membership binding was deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all membershipbinding resources. If a membershipbinding resource is deleted and another resource with the same name is created, it gets a different uid."
        },
        "scope": {
          "description": "A Workspace resource name in the format `projects/*/locations/*/scopes/*`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the membership binding resource.",
          "readOnly": true,
          "$ref": "MembershipBindingLifecycleState"
        },
        "createTime": {
          "description": "Output only. When the membership binding was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the membership binding was last updated."
        },
        "name": {
          "description": "The resource name for the membershipbinding itself `projects/{project}/locations/{location}/memberships/{membership}/bindings/{membershipbinding}`",
          "type": "string"
        },
        "fleet": {
          "description": "Whether the membershipbinding is Fleet-wide; true means that this Membership should be bound to all Namespaces in this entire Fleet.",
          "type": "boolean"
        }
      }
    },
    "Policy": {
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object"
    },
    "IdentityServiceAuthMethod": {
      "type": "object",
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "properties": {
        "googleConfig": {
          "$ref": "IdentityServiceGoogleConfig",
          "description": "GoogleConfig specific configuration"
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        },
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        },
        "azureadConfig": {
          "description": "AzureAD specific Configuration.",
          "$ref": "IdentityServiceAzureADConfig"
        }
      },
      "id": "IdentityServiceAuthMethod"
    },
    "ConfigManagementPolicyController": {
      "type": "object",
      "id": "ConfigManagementPolicyController",
      "properties": {
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster."
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "enabled": {
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect.",
          "type": "boolean"
        },
        "auditIntervalSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "templateLibraryInstalled": {
          "description": "Installs the default template library along with Policy Controller.",
          "type": "boolean"
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "ConfigManagementPolicyControllerMonitoring"
        },
        "exemptableNamespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster."
        }
      },
      "description": "Configuration for Policy Controller"
    },
    "Role": {
      "properties": {
        "predefinedRole": {
          "type": "string",
          "description": "predefined_role is the Kubernetes default role to use",
          "enumDescriptions": [
            "UNKNOWN",
            "ADMIN has EDIT and RBAC permissions",
            "EDIT can edit all resources except RBAC",
            "VIEW can only read resources"
          ],
          "enum": [
            "UNKNOWN",
            "ADMIN",
            "EDIT",
            "VIEW"
          ]
        }
      },
      "description": "Role is the type for Kubernetes roles",
      "type": "object",
      "id": "Role"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusDetail": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "PolicyControllerTemplateLibraryConfig": {
      "type": "object",
      "properties": {
        "included": {
          "type": "boolean",
          "description": "Whether the standard template library should be installed or not. TODO (b/271878194): Remove this"
        },
        "installation": {
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ],
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ],
          "description": "Configures the manner in which the template library is installed on the cluster. TODO (b/271878194): Decrement this",
          "type": "string"
        }
      },
      "description": "The config specifying which default library templates to install.",
      "id": "PolicyControllerTemplateLibraryConfig"
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "items": {
            "type": "string"
          },
[...]
