{
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "version": "v1alpha",
  "canonicalName": "GKE Hub",
  "basePath": "",
  "name": "gkehub",
  "ownerDomain": "google.com",
  "description": "",
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20230119",
  "schemas": {
    "IdentityServiceAuthMethod": {
      "id": "IdentityServiceAuthMethod",
      "properties": {
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        },
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        },
        "azureadConfig": {
          "$ref": "IdentityServiceAzureADConfig",
          "description": "AzureAD specific Configuration."
        },
        "googleConfig": {
          "$ref": "IdentityServiceGoogleConfig",
          "description": "GoogleConfig specific configuration"
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "ConfigManagementSyncError": {
      "description": "An ACM created error representing a problem syncing configurations",
      "properties": {
        "errorMessage": {
          "description": "A description of the error",
          "type": "string"
        },
        "errorResources": {
          "description": "A list of config(s) associated with the error, if any",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          },
          "type": "array"
        },
        "code": {
          "description": "An ACM defined error code",
          "type": "string"
        }
      },
      "id": "ConfigManagementSyncError",
      "type": "object"
    },
    "FeatureSpec": {
      "type": "object",
      "properties": {
        "provisionGoogleCa": {
          "type": "string",
          "description": "Immutable. Specifies CA configuration.",
          "enumDescriptions": [
            "Disable default Google managed CA.",
            "Disable default Google managed CA.",
            "Use default Google managed CA."
          ],
          "enum": [
            "GOOGLE_CA_PROVISIONING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "defaultConfig": {
          "description": "Specifies default membership spec. Users can override the default in the member_configs for each member.",
          "$ref": "MembershipSpec"
        }
      },
      "id": "FeatureSpec",
      "description": "**Workload Certificate**: The Hub-wide input for the WorkloadCertificate feature."
    },
    "ConfigManagementMembershipState": {
      "description": "**Anthos Config Management**: State for a single cluster.",
      "type": "object",
      "id": "ConfigManagementMembershipState",
      "properties": {
        "membershipSpec": {
          "description": "Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "policyControllerState": {
          "$ref": "ConfigManagementPolicyControllerState",
          "description": "PolicyController status"
        },
        "configSyncState": {
          "description": "Current sync status",
          "$ref": "ConfigManagementConfigSyncState"
        },
        "operatorState": {
          "description": "Current install status of ACM's Operator",
          "$ref": "ConfigManagementOperatorState"
        },
        "clusterName": {
          "description": "The user-defined name for the cluster used by ClusterSelectors to group clusters together. This should match Membership's membership_name, unless the user installed ACM on the cluster manually prior to enabling the ACM hub feature. Unique within a Anthos Config Management installation.",
          "type": "string"
        },
        "hierarchyControllerState": {
          "description": "Hierarchy Controller status",
          "$ref": "ConfigManagementHierarchyControllerState"
        },
        "binauthzState": {
          "$ref": "ConfigManagementBinauthzState",
          "description": "Binauthz status"
        }
      }
    },
    "Feature": {
      "properties": {
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the Feature resource was deleted."
        },
        "scopeStates": {
          "readOnly": true,
          "description": "Output only. Scope-specific Feature status. If this Feature does report any per-Scope status, this field may be unused. The keys indicate which Scope the state is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project.",
          "additionalProperties": {
            "$ref": "ScopeFeatureState"
          },
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "GCP labels for this Feature."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the Feature resource was last updated.",
          "readOnly": true
        },
        "membershipStates": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "MembershipFeatureState"
          },
          "description": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number."
        },
        "state": {
          "description": "Output only. The Hub-wide Feature state.",
          "readOnly": true,
          "$ref": "CommonFeatureState"
        },
        "membershipSpecs": {
          "additionalProperties": {
            "$ref": "MembershipFeatureSpec"
          },
          "type": "object",
          "description": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
        },
        "fleetDefaultMemberConfig": {
          "description": "Optional. Feature configuration applicable to all memberships of the fleet.",
          "$ref": "CommonFleetDefaultMemberConfigSpec"
        },
        "scopeSpecs": {
          "additionalProperties": {
            "$ref": "ScopeFeatureSpec"
          },
          "description": "Optional. Scope-specific configuration for this Feature. If this Feature does not support any per-Scope configuration, this field may be unused. The keys indicate which Scope the configuration is for, in the form: `projects/{p}/locations/global/scopes/{s}` Where {p} is the project, {s} is a valid Scope in this project. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Scope is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. When the Feature resource was created.",
          "type": "string",
          "readOnly": true
        },
        "spec": {
          "description": "Optional. Hub-wide Feature configuration. If this Feature does not support any Hub-wide configuration, this field may be unused.",
          "$ref": "CommonFeatureSpec"
        },
        "resourceState": {
          "description": "Output only. State of the Feature resource itself.",
          "readOnly": true,
          "$ref": "FeatureResourceState"
        }
      },
      "type": "object",
      "id": "Feature",
      "description": "Feature represents the settings and status of any Hub Feature."
    },
    "FleetObservabilityMembershipState": {
      "type": "object",
      "properties": {},
      "description": "**FleetObservability**: An empty state left as an example membership-specific Feature state.",
      "id": "FleetObservabilityMembershipState"
    },
    "ListAdminClusterMembershipsResponse": {
      "id": "ListAdminClusterMembershipsResponse",
      "description": "Response message for the `GkeHub.ListAdminClusterMemberships` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListAdminClusterMemberships` method. The value of an empty string means that there are no more resources to return."
        },
        "unreachable": {
          "description": "List of locations that could not be reached while fetching this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "adminClusterMemberships": {
          "description": "The list of matching Memberships of admin clusters.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        }
      }
    },
    "PolicyControllerMembershipSpec": {
      "properties": {
        "version": {
          "description": "Version of Policy Controller installed.",
          "type": "string"
        },
        "policyControllerHubConfig": {
          "$ref": "PolicyControllerHubConfig",
          "description": "Policy Controller configuration for the cluster."
        }
      },
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR.",
      "type": "object",
      "id": "PolicyControllerMembershipSpec"
    },
    "ServiceMeshControlPlaneManagement": {
      "id": "ServiceMeshControlPlaneManagement",
      "description": "Status of control plane management.",
      "properties": {
        "details": {
          "description": "Explanation of state.",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "type": "array"
        },
        "state": {
          "description": "LifecycleState of control plane management.",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementHierarchyControllerState": {
      "properties": {
        "state": {
          "description": "The deployment state for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerDeploymentState"
        },
        "version": {
          "description": "The version for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerVersion"
        }
      },
      "id": "ConfigManagementHierarchyControllerState",
      "description": "State for Hierarchy Controller",
      "type": "object"
    },
    "ConfigManagementHierarchyControllerConfig": {
      "id": "ConfigManagementHierarchyControllerConfig",
      "type": "object",
      "description": "Configuration for Hierarchy Controller",
      "properties": {
        "enablePodTreeLabels": {
          "type": "boolean",
          "description": "Whether pod tree labels are enabled in this cluster."
        },
        "enableHierarchicalResourceQuota": {
          "description": "Whether hierarchical resource quota is enabled in this cluster.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether Hierarchy Controller is enabled in this cluster.",
          "type": "boolean"
        }
      }
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "type": "object",
      "properties": {
        "backends": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string",
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ]
          },
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export."
        }
      },
      "id": "ConfigManagementPolicyControllerMonitoring",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]"
    },
    "ValidationResult": {
      "id": "ValidationResult",
      "type": "object",
      "properties": {
        "validator": {
          "description": "Validator type to validate membership with.",
          "type": "string",
          "enum": [
            "VALIDATOR_TYPE_UNSPECIFIED",
            "MEMBERSHIP_ID",
            "CROSS_PROJECT_PERMISSION"
          ],
          "enumDescriptions": [
            "UNSPECIFIED validator.",
            "MEMBERSHIP_ID validator validates the membership_id is still available.",
            "CROSS_PROJECT_PERMISSION validator validates the cross-project P4SA binding is in place."
          ]
        },
        "result": {
          "type": "string",
          "description": "Additional information for the validation."
        },
        "success": {
          "type": "boolean",
          "description": "Whether the validation is passed or not."
        }
      },
      "description": "ValidationResults are results set by each validator running during ValidateCreateMembership."
    },
    "ConfigManagementBinauthzVersion": {
      "id": "ConfigManagementBinauthzVersion",
      "properties": {
        "webhookVersion": {
          "description": "The version of the binauthz webhook.",
          "type": "string"
        }
      },
      "description": "The version of binauthz.",
      "type": "object"
    },
    "FleetObservabilityFeatureState": {
      "type": "object",
      "id": "FleetObservabilityFeatureState",
      "description": "**FleetObservability**: An empty state left as an example Hub-wide Feature state.",
      "properties": {}
    },
    "ConfigManagementGroupVersionKind": {
      "properties": {
        "kind": {
          "description": "Kubernetes Kind",
          "type": "string"
        },
        "group": {
          "description": "Kubernetes Group",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        }
      },
      "description": "A Kubernetes object's GVK",
      "id": "ConfigManagementGroupVersionKind",
      "type": "object"
    },
    "ConfigManagementInstallError": {
      "id": "ConfigManagementInstallError",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Errors pertaining to the installation of ACM"
    },
    "PolicyControllerHubConfig": {
      "type": "object",
      "description": "Configuration for Policy Controller",
      "id": "PolicyControllerHubConfig",
      "properties": {
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enables the ability to mutate resources using Policy Controller."
        },
        "installSpec": {
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state.",
          "type": "string",
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to suspend Policy Controller i.e. its webhooks. If Policy Controller is not installed, it will be installed but suspended."
          ],
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_SUSPENDED"
          ]
        },
        "policyContent": {
          "description": "Specifies the desired policy content on the cluster",
          "$ref": "PolicyControllerPolicyContentSpec"
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "format": "int64",
          "type": "string"
        },
        "templateLibraryConfig": {
          "description": "Configures the library templates to install along with Policy Controller.",
          "$ref": "PolicyControllerTemplateLibraryConfig"
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "PolicyControllerMonitoringConfig"
        },
        "referentialRulesEnabled": {
          "type": "boolean",
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
        },
        "exemptableNamespaces": {
          "type": "array",
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "items": {
            "type": "string"
          }
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        }
      }
    },
    "ConfigManagementOperatorState": {
      "type": "object",
      "description": "State information for an ACM's Operator",
      "properties": {
        "version": {
          "type": "string",
          "description": "The semenatic version number of the operator"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "description": "Install errors."
        },
        "deploymentState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "The state of the Operator's deployment"
        }
      },
      "id": "ConfigManagementOperatorState"
    },
    "ServiceMeshStatusDetails": {
      "description": "Structured and human-readable details for a status.",
      "properties": {
        "code": {
          "type": "string",
          "description": "A machine-readable code that further describes a broad status."
        },
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ServiceMeshStatusDetails"
    },
    "PolicyControllerPolicyContentSpec": {
      "properties": {
        "bundles": {
          "additionalProperties": {
            "$ref": "PolicyControllerBundleInstallSpec"
          },
          "type": "object",
          "description": "map of bundle name to BundleInstallSpec. The bundle name maps to the `bundleName` key in the `policycontroller.gke.io/constraintData` annotation on a constraint."
        }
      },
      "type": "object",
      "description": "PolicyContentSpec defines the user's desired content configuration on the cluster.",
      "id": "PolicyControllerPolicyContentSpec"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "id": "Expr"
    },
    "ConfigManagementBinauthzConfig": {
      "properties": {
        "enabled": {
          "description": "Whether binauthz is enabled in this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration for Binauthz",
      "type": "object",
      "id": "ConfigManagementBinauthzConfig"
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "ScopeFeatureSpec": {
      "properties": {},
      "description": "ScopeFeatureSpec contains feature specs for a fleet scope.",
      "type": "object",
      "id": "ScopeFeatureSpec"
    },
    "FleetLifecycleState": {
      "id": "FleetLifecycleState",
      "description": "FleetLifecycleState describes the state of a Fleet resource.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Output only. The current state of the Fleet resource.",
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The fleet is being created.",
            "The fleet active.",
            "The fleet is being deleted.",
            "The fleet is being updated."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "type": "string"
        }
      }
    },
    "ConfigManagementHierarchyControllerVersion": {
      "type": "object",
      "description": "Version for Hierarchy Controller",
      "id": "ConfigManagementHierarchyControllerVersion",
      "properties": {
        "hnc": {
          "type": "string",
          "description": "Version for open source HNC"
        },
        "extension": {
          "description": "Version for Hierarchy Controller extension",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "ServiceMeshAnalysisMessage": {
      "id": "ServiceMeshAnalysisMessage",
      "description": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration.",
      "type": "object",
      "properties": {
        "messageBase": {
          "description": "Details common to all types of Istio and ServiceMesh analysis messages.",
          "$ref": "ServiceMeshAnalysisMessageBase"
        },
        "resourcePaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster"
        },
        "args": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message."
        },
        "description": {
          "description": "A human readable description of what the error means. It is suitable for non-internationalize display purposes.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "KubernetesResource": {
      "id": "KubernetesResource",
      "description": "KubernetesResource contains the YAML manifests and configuration for Membership Kubernetes resources in the cluster. After CreateMembership or UpdateMembership, these resources should be re-applied in the cluster.",
      "type": "object",
      "properties": {
        "connectResources": {
          "readOnly": true,
          "items": {
            "$ref": "ResourceManifest"
          },
          "type": "array",
          "description": "Output only. The Kubernetes resources for installing the GKE Connect agent This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask."
        },
        "membershipResources": {
          "description": "Output only. Additional Kubernetes resources that need to be applied to the cluster after Membership creation, and after every update. This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask.",
          "type": "array",
          "items": {
            "$ref": "ResourceManifest"
          },
          "readOnly": true
        },
        "resourceOptions": {
          "$ref": "ResourceOptions",
          "description": "Optional. Options for Kubernetes resource generation."
        },
        "membershipCrManifest": {
          "description": "Input only. The YAML representation of the Membership CR. This field is ignored for GKE clusters where Hub can read the CR directly. Callers should provide the CR that is currently present in the cluster during CreateMembership or UpdateMembership, or leave this field empty if none exists. The CR manifest is used to validate the cluster has not been registered with another Membership.",
          "type": "string"
        }
      }
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "type": "object",
      "description": "State of Policy Controller installation.",
      "id": "ConfigManagementGatekeeperDeploymentState",
      "properties": {
        "gatekeeperControllerManagerState": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Status of gatekeeper-controller-manager pod.",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "gatekeeperAudit": {
          "description": "Status of gatekeeper-audit deployment.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "gatekeeperMutation": {
          "description": "Status of the pod serving the mutation webhook.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        }
      }
    },
    "ConfigManagementSyncState": {
      "id": "ConfigManagementSyncState",
      "type": "object",
      "description": "State indicating an ACM's progress syncing configurations to a cluster",
      "properties": {
        "sourceToken": {
          "description": "Token indicating the state of the repo.",
          "type": "string"
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Timestamp type of when ACM last successfully synced the repo",
          "type": "string"
        },
        "importToken": {
          "type": "string",
          "description": "Token indicating the state of the importer."
        },
        "code": {
          "description": "Sync status code",
          "enumDescriptions": [
            "ACM cannot determine a sync code",
            "ACM successfully synced the git Repo with the cluster",
            "ACM is in the progress of syncing a new change",
            "Indicates an error configuring ACM, and user action is required",
            "ACM has been installed (operator manifest deployed), but not configured.",
            "ACM has not been installed (no operator pod found)",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementSyncError"
          },
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "type": "array"
        },
        "lastSync": {
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String",
          "type": "string"
        }
      }
    },
    "IdentityServiceAzureADConfig": {
      "description": "Configuration for the AzureAD Auth flow.",
      "id": "IdentityServiceAzureADConfig",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "format": "byte",
          "description": "Output only. Encrypted AzureAD client secret.",
          "type": "string",
          "readOnly": true
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH."
        },
        "tenant": {
          "type": "string",
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant."
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "The redirect URL that kubectl uses for authorization."
        }
      }
    },
    "ListFleetsResponse": {
      "description": "Response message for the `GkeHub.ListFleetsResponse` method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. The token is only valid for 1h.",
          "type": "string"
        },
        "fleets": {
          "items": {
            "$ref": "Fleet"
          },
          "description": "The list of matching fleets.",
          "type": "array"
        }
      },
      "id": "ListFleetsResponse",
      "type": "object"
    },
    "AnthosObservabilityFeatureSpec": {
      "properties": {
        "defaultMembershipSpec": {
          "description": "Default membership spec for unconfigured memberships",
          "$ref": "AnthosObservabilityMembershipSpec"
        }
      },
      "id": "AnthosObservabilityFeatureSpec",
      "type": "object",
      "description": "**Anthos Observability**: Spec"
    },
    "CommonFeatureSpec": {
      "description": "CommonFeatureSpec contains Hub-wide configuration information",
      "properties": {
        "multiclusteringress": {
          "description": "Multicluster Ingress-specific spec.",
          "$ref": "MultiClusterIngressFeatureSpec"
        },
        "cloudauditlogging": {
          "description": "Cloud Audit Logging-specific spec.",
          "$ref": "CloudAuditLoggingFeatureSpec"
        },
        "fleetobservability": {
          "$ref": "FleetObservabilityFeatureSpec",
          "description": "FleetObservability feature spec."
        },
        "appdevexperience": {
          "description": "Appdevexperience specific spec.",
          "$ref": "AppDevExperienceFeatureSpec"
        },
        "anthosobservability": {
          "$ref": "AnthosObservabilityFeatureSpec",
          "description": "Anthos Observability spec"
        },
        "workloadcertificate": {
          "description": "Workload Certificate spec.",
          "$ref": "FeatureSpec"
        }
      },
      "type": "object",
      "id": "CommonFeatureSpec"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "AnthosObservabilityMembershipSpec": {
      "properties": {
        "doNotOptimizeMetrics": {
          "description": "Use full of metrics rather than optimized metrics. See https://cloud.google.com/anthos/clusters/docs/on-prem/1.8/concepts/logging-and-monitoring#optimized_metrics_default_metrics",
          "type": "boolean"
        },
        "version": {
          "description": "the version of stackdriver operator used by this feature",
          "type": "string"
        },
        "enableStackdriverOnApplications": {
          "description": "Enable collecting and reporting metrics and logs from user apps.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AnthosObservabilityMembershipSpec",
      "description": "**Anthosobservability**: Per-Membership Feature spec."
    },
    "Authority": {
      "type": "object",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Optional. A JSON Web Token (JWT) issuer URI. `issuer` must start with `https://` and be a valid URL with length \u003c2000 characters. If set, then Google will allow valid OIDC tokens from this issuer to authenticate within the workload_identity_pool. OIDC discovery will be performed on this URI to validate tokens from the issuer. Clearing `issuer` disables Workload Identity. `issuer` cannot be directly modified; it must be cleared (and Workload Identity disabled) before using a new issuer (and re-enabling Workload Identity)."
        },
        "workloadIdentityPool": {
          "type": "string",
          "description": "Output only. The name of the workload identity pool in which `issuer` will be recognized. There is a single Workload Identity Pool per Hub that is shared between all Memberships that belong to that Hub. For a Hub hosted in {PROJECT_ID}, the workload pool format is `{PROJECT_ID}.hub.id.goog`, although this is subject to change in newer versions of this API.",
          "readOnly": true
        },
        "identityProvider": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An identity provider that reflects the `issuer` in the workload identity pool."
        },
        "oidcJwks": {
          "format": "byte",
          "description": "Optional. OIDC verification keys for this Membership in JWKS format (RFC 7517). When this field is set, OIDC discovery will NOT be performed on `issuer`, and instead OIDC tokens will be validated using this field.",
          "type": "string"
        }
      },
      "description": "Authority encodes how Google will recognize identities from this Membership. See the workload identity documentation for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
      "id": "Authority"
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "statusDetail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "cancelRequested": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ConfigManagementConfigSyncState": {
      "description": "State information for ConfigSync",
      "properties": {
        "syncState": {
          "$ref": "ConfigManagementSyncState",
          "description": "The state of ConfigSync's process to sync configs to a cluster"
        },
        "deploymentState": {
          "$ref": "ConfigManagementConfigSyncDeploymentState",
          "description": "Information about the deployment of ConfigSync, including the version of the various Pods deployed"
        },
        "version": {
          "description": "The version of ConfigSync deployed",
          "$ref": "ConfigManagementConfigSyncVersion"
        }
      },
      "type": "object",
      "id": "ConfigManagementConfigSyncState"
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ConfigManagementGitConfig": {
      "type": "object",
      "id": "ConfigManagementGitConfig",
      "properties": {
        "secretType": {
          "type": "string",
          "description": "Type of secret configured for access to the Git repo. Must be one of ssh, cookiefile, gcenode, token, gcpserviceaccount or none. The validation of this is case-sensitive. Required."
        },
        "gcpServiceAccountEmail": {
          "description": "The GCP Service Account Email used for auth when secret_type is gcpServiceAccount.",
          "type": "string"
        },
        "syncBranch": {
          "description": "The branch of the repository to sync from. Default: master.",
          "type": "string"
        },
        "syncRev": {
          "description": "Git revision (tag or hash) to check out. Default HEAD.",
          "type": "string"
        },
        "syncRepo": {
          "type": "string",
          "description": "The URL of the Git repository to use as the source of truth."
        },
        "httpsProxy": {
          "description": "URL for the HTTPS proxy to be used when communicating with the Git repo.",
          "type": "string"
        },
        "syncWaitSecs": {
          "type": "string",
          "format": "int64",
          "description": "Period in seconds between consecutive syncs. Default: 15."
        },
        "policyDir": {
          "type": "string",
          "description": "The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository."
        }
      },
      "description": "Git repo configuration for a single cluster."
    },
    "Membership": {
      "description": "Membership contains information about a member cluster.",
      "properties": {
        "description": {
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes.",
          "readOnly": true,
          "type": "string"
        },
        "authority": {
          "$ref": "Authority",
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the Membership was created."
        },
        "externalId": {
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
          "readOnly": true
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. When the Membership was deleted.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. GCP labels for this membership."
        },
        "state": {
          "$ref": "MembershipState",
          "readOnly": true,
          "description": "Output only. State of the Membership resource."
        },
        "uniqueId": {
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id.",
          "readOnly": true
        },
        "lastConnectionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the Membership was last updated."
        },
        "endpoint": {
          "description": "Optional. Endpoint information to reach this member.",
          "$ref": "MembershipEndpoint"
        }
      },
      "type": "object",
      "id": "Membership"
    },
    "ServiceMeshAnalysisMessageBase": {
      "description": "AnalysisMessageBase describes some common information that is needed for all messages.",
      "type": "object",
      "id": "ServiceMeshAnalysisMessageBase",
      "properties": {
        "level": {
          "enumDescriptions": [
            "Illegal. Same istio.analysis.v1alpha1.AnalysisMessageBase.Level.UNKNOWN.",
            "ERROR represents a misconfiguration that must be fixed.",
            "WARNING represents a misconfiguration that should be fixed.",
            "INFO represents an informational finding."
          ],
          "type": "string",
          "description": "Represents how severe a message is.",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "type": {
          "$ref": "ServiceMeshType",
          "description": "Represents the specific type of a message."
        },
        "documentationUrl": {
          "type": "string",
          "description": "A url pointing to the Service Mesh or Istio documentation for this specific error type."
        }
      }
    },
    "ConfigManagementOciConfig": {
      "type": "object",
      "description": "OCI repo configuration for a single cluster",
      "properties": {
        "syncRepo": {
          "description": "The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.",
          "type": "string"
        },
        "policyDir": {
          "type": "string",
          "description": "The absolute path of the directory that contains the local resources. Default: the root directory of the image."
        },
        "gcpServiceAccountEmail": {
          "description": "The GCP Service Account Email used for auth when secret_type is gcpServiceAccount.",
          "type": "string"
        },
        "secretType": {
          "type": "string",
          "description": "Type of secret configured for access to the Git repo."
        },
        "syncWaitSecs": {
          "format": "int64",
          "description": "Period in seconds between consecutive syncs. Default: 15.",
          "type": "string"
        }
      },
      "id": "ConfigManagementOciConfig"
    },
    "PolicyControllerTemplateLibraryConfig": {
      "id": "PolicyControllerTemplateLibraryConfig",
      "type": "object",
      "description": "The config specifying which default library templates to install.",
      "properties": {
        "included": {
          "type": "boolean",
          "description": "Whether the standard template library should be installed or not."
        }
      }
    },
    "ConfigManagementBinauthzState": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        },
        "webhook": {
          "description": "The state of the binauthz webhook.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        }
      },
      "id": "ConfigManagementBinauthzState",
      "description": "State for Binauthz"
    },
    "OnPremCluster": {
      "description": "OnPremCluster contains information specific to GKE On-Prem clusters.",
      "type": "object",
      "id": "OnPremCluster",
      "properties": {
        "adminCluster": {
          "description": "Immutable. Whether the cluster is an admin cluster.",
          "type": "boolean"
        },
        "resourceLink": {
          "description": "Immutable. Self-link of the GCP resource for the GKE On-Prem cluster. For example: //gkeonprem.googleapis.com/projects/my-project/locations/us-west1-a/vmwareClusters/my-cluster //gkeonprem.googleapis.com/projects/my-project/locations/us-west1-a/bareMetalClusters/my-cluster",
          "type": "string"
        },
        "clusterType": {
          "type": "string",
          "enumDescriptions": [
            "The ClusterType is not set.",
            "The ClusterType is bootstrap cluster.",
            "The ClusterType is baremetal hybrid cluster.",
            "The ClusterType is baremetal standalone cluster.",
            "The ClusterType is user cluster."
          ],
          "description": "Immutable. The on prem cluster's type.",
          "enum": [
            "CLUSTERTYPE_UNSPECIFIED",
            "BOOTSTRAP",
            "HYBRID",
            "STANDALONE",
            "USER"
          ]
        },
        "clusterMissing": {
          "description": "Output only. If cluster_missing is set then it denotes that API(gkeonprem.googleapis.com) resource for this GKE On-Prem cluster no longer exists.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "EdgeCluster": {
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the GCP resource for the Edge Cluster. For example: //edgecontainer.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster",
          "type": "string"
        }
      },
      "type": "object",
      "description": "EdgeCluster contains information specific to Google Edge Clusters.",
      "id": "EdgeCluster"
    },
    "FleetObservabilityFeatureSpec": {
      "id": "FleetObservabilityFeatureSpec",
      "description": "**Fleet Observability**: The Hub-wide input for the FleetObservability feature.",
      "type": "object",
      "properties": {}
    },
    "MeteringMembershipState": {
      "type": "object",
      "id": "MeteringMembershipState",
      "description": "**Metering**: Per-Membership Feature State.",
      "properties": {
        "preciseLastMeasuredClusterVcpuCapacity": {
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision).",
          "type": "number",
          "format": "float"
        },
        "lastMeasurementTime": {
          "format": "google-datetime",
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "type": "string"
        }
      }
    },
    "IdentityServiceGoogleConfig": {
      "properties": {
        "disable": {
          "description": "Disable automatic configuration of Google Plugin on supported platforms.",
          "type": "boolean"
        }
      },
      "id": "IdentityServiceGoogleConfig",
      "description": "Configuration for the Google Plugin Auth flow.",
      "type": "object"
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "description": "The state of ConfigSync's deployment on a cluster",
      "type": "object",
      "properties": {
        "rootReconciler": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Deployment state of root-reconciler",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string"
        },
        "gitSync": {
          "description": "Deployment state of the git-sync pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string"
        },
        "monitor": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Deployment state of the monitor pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string"
        },
        "reconcilerManager": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "description": "Deployment state of reconciler-manager pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "syncer": {
          "description": "Deployment state of the syncer pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string"
        },
        "admissionWebhook": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "description": "Deployment state of admission-webhook"
        },
        "importer": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Deployment state of the importer pod",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        }
      },
      "id": "ConfigManagementConfigSyncDeploymentState"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "MembershipFeatureState": {
      "properties": {
        "configmanagement": {
          "description": "Config Management-specific state.",
          "$ref": "ConfigManagementMembershipState"
        },
        "identityservice": {
          "$ref": "IdentityServiceMembershipState",
          "description": "Identity Service-specific state."
        },
        "policycontroller": {
          "description": "Policycontroller-specific state.",
          "$ref": "PolicyControllerMembershipState"
        },
        "state": {
          "$ref": "FeatureState",
          "description": "The high-level state of this Feature for a single membership."
        },
        "fleetobservability": {
          "$ref": "FleetObservabilityMembershipState",
          "description": "Fleet observability membership state."
        },
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureState",
          "description": "Appdevexperience specific state."
        },
        "metering": {
          "$ref": "MeteringMembershipState",
          "description": "Metering-specific state."
        },
        "servicemesh": {
          "description": "Service Mesh-specific state.",
          "$ref": "ServiceMeshMembershipState"
        }
      },
      "id": "MembershipFeatureState",
      "description": "MembershipFeatureState contains Feature status information for a single Membership.",
      "type": "object"
    },
    "ListFeaturesResponse": {
      "description": "Response message for the `GkeHub.ListFeatures` method.",
      "id": "ListFeaturesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListFeatures` method. The value of an empty string means that there are no more resources to return."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "Feature"
          },
          "description": "The list of matching Features"
        }
      }
    },
    "ConfigManagementPolicyController": {
      "description": "Configuration for Policy Controller",
      "type": "object",
      "id": "ConfigManagementPolicyController",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string",
          "format": "int64"
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enable or disable mutation in policy controller. If true, mutation CRDs, webhook and controller deployment will be deployed to the cluster."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "monitoring": {
          "description": "Monitoring specifies the configuration of monitoring.",
          "$ref": "ConfigManagementPolicyControllerMonitoring"
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "templateLibraryInstalled": {
          "description": "Installs the default template library along with Policy Controller.",
          "type": "boolean"
        }
      }
    },
    "CommonFleetDefaultMemberConfigSpec": {
      "description": "CommonFleetDefaultMemberConfigSpec contains default configuration information for memberships of a fleet",
      "id": "CommonFleetDefaultMemberConfigSpec",
      "properties": {
        "identityservice": {
          "description": "Identity Service-specific spec.",
          "$ref": "IdentityServiceMembershipSpec"
        }
      },
      "type": "object"
    },
    "ConfigManagementConfigSyncVersion": {
      "description": "Specific versioning information pertaining to ConfigSync's Pods",
      "type": "object",
      "properties": {
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod"
        },
        "rootReconciler": {
          "type": "string",
          "description": "Version of the deployed reconciler container in root-reconciler pod"
        },
        "admissionWebhook": {
          "description": "Version of the deployed admission_webhook pod",
          "type": "string"
        },
        "reconcilerManager": {
          "description": "Version of the deployed reconciler-manager pod",
          "type": "string"
        },
        "syncer": {
          "description": "Version of the deployed syncer pod",
          "type": "string"
        },
        "monitor": {
          "description": "Version of the deployed monitor pod",
          "type": "string"
        },
        "importer": {
          "description": "Version of the deployed importer pod",
          "type": "string"
        }
      },
      "id": "ConfigManagementConfigSyncVersion"
    },
    "ConfigManagementConfigSync": {
      "type": "object",
      "description": "Configuration for Config Sync",
      "id": "ConfigManagementConfigSync",
      "properties": {
        "sourceFormat": {
          "description": "Specifies whether the Config Sync Repo is in \"hierarchical\" or \"unstructured\" mode.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of ConfigSync. If set to true, ConfigSync resources will be created and the other ConfigSync fields will be applied if exist. If set to false, all other ConfigSync fields will be ignored, ConfigSync resources will be deleted. If omitted, ConfigSync resources will be managed depends on the presence of git field."
        },
        "preventDrift": {
          "description": "Set to true to enable the Config Sync admission webhook to prevent drifts. If set to `false`, disables the Config Sync admission webhook and does not prevent drifts.",
          "type": "boolean"
        },
        "git": {
          "$ref": "ConfigManagementGitConfig",
          "description": "Git repo configuration for the cluster."
        },
        "allowVerticalScale": {
          "description": "Set to true to allow the vertical scaling. Defaults to false which disallows vertical scaling. This field is deprecated.",
          "type": "boolean"
        },
        "oci": {
          "$ref": "ConfigManagementOciConfig",
          "description": "OCI repo configuration for the cluster"
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "type": "string"
        },
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        }
      },
      "description": "Status specifies state for the subcomponent.",
      "type": "object",
      "id": "Status"
    },
    "ConfigManagementPolicyControllerVersion": {
      "description": "The build version of Gatekeeper Policy Controller is using.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number."
        }
      },
      "id": "ConfigManagementPolicyControllerVersion"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "ServiceMeshMembershipState": {
      "id": "ServiceMeshMembershipState",
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller.",
      "type": "object",
      "properties": {
        "controlPlaneManagement": {
          "readOnly": true,
          "$ref": "ServiceMeshControlPlaneManagement",
          "description": "Output only. Status of control plane management"
        },
        "dataPlaneManagement": {
          "$ref": "ServiceMeshDataPlaneManagement",
          "readOnly": true,
          "description": "Output only. Status of data plane management."
        },
        "analysisMessages": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "description": "Output only. Results of running Service Mesh analyzers.",
          "readOnly": true
        },
        "configApiVersion": {
          "type": "string",
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field."
        }
      }
    },
    "ListMembershipsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "List of locations that could not be reached while fetching this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resources": {
          "description": "The list of matching Memberships.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMemberships` method. The value of an empty string means that there are no more resources to return."
        }
      },
      "id": "ListMembershipsResponse",
      "description": "Response message for the `GkeHub.ListMemberships` method."
    },
    "ResourceManifest": {
      "id": "ResourceManifest",
      "properties": {
        "clusterScoped": {
          "description": "Whether the resource provided in the manifest is `cluster_scoped`. If unset, the manifest is assumed to be namespace scoped. This field is used for REST mapping when applying the resource in a cluster.",
          "type": "boolean"
        },
        "manifest": {
          "description": "YAML manifest of the resource.",
          "type": "string"
        }
      },
      "description": "ResourceManifest represents a single Kubernetes resource to be applied to the cluster.",
      "type": "object"
    },
    "TypeMeta": {
      "description": "TypeMeta is the type information needed for content unmarshalling of Kubernetes resources in the manifest.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "APIVersion of the resource (e.g. v1)."
        },
        "kind": {
          "type": "string",
          "description": "Kind of the resource (e.g. Deployment)."
        }
      },
      "id": "TypeMeta",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "IdentityServiceMembershipState": {
      "type": "object",
      "properties": {
        "installedVersion": {
          "type": "string",
          "description": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK."
        },
        "state": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "OK",
            "ERROR"
          ],
          "type": "string",
          "description": "Deployment state on this member",
          "enumDescriptions": [
            "Unspecified state",
            "deployment succeeds",
            "Failure with error."
          ]
        },
        "failureReason": {
          "description": "The reason of the failure.",
          "type": "string"
        },
        "memberConfig": {
          "description": "Last reconciled membership configuration",
          "$ref": "IdentityServiceMembershipSpec"
        }
      },
      "id": "IdentityServiceMembershipState",
      "description": "**Anthos Identity Service**: State for a single Membership."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "ServiceMeshFeatureState": {
      "description": "**Service Mesh**: State for the whole Hub, as analyzed by the Service Mesh Hub Controller.",
      "properties": {
        "analysisMessages": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Results of running Service Mesh analyzers.",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          }
        }
      },
      "id": "ServiceMeshFeatureState",
      "type": "object"
    },
    "IdentityServiceMembershipSpec": {
      "type": "object",
      "id": "IdentityServiceMembershipSpec",
      "properties": {
        "authMethods": {
          "type": "array",
          "description": "A member may support multiple auth methods.",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          }
        }
      },
      "description": "**Anthos Identity Service**: Configuration for a single Membership."
    },
    "IdentityServiceOidcConfig": {
      "type": "object",
      "id": "IdentityServiceOidcConfig",
      "description": "Configuration for OIDC Auth flow.",
      "properties": {
        "issuerUri": {
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration.",
          "type": "string"
        },
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "kubectlRedirectUri": {
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin.",
          "type": "string"
        },
        "groupsClaim": {
          "description": "Claim in OIDC ID token that holds group information.",
          "type": "string"
        },
        "userClaim": {
          "description": "Claim in OIDC ID token that holds username.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "type": "string",
          "description": "Output only. Encrypted OIDC Client secret",
          "readOnly": true,
          "format": "byte"
        },
        "clientId": {
          "description": "ID for OIDC client application.",
          "type": "string"
        },
        "extraParams": {
          "type": "string",
          "description": "Comma-separated list of key-value pairs."
        },
        "deployCloudConsoleProxy": {
          "type": "boolean",
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console."
        },
        "groupPrefix": {
          "description": "Prefix to prepend to group name.",
          "type": "string"
        },
        "userPrefix": {
          "description": "Prefix to prepend to user name.",
          "type": "string"
        },
        "enableAccessToken": {
          "description": "Enable access token.",
          "type": "boolean"
        },
        "scopes": {
          "type": "string",
          "description": "Comma-separated list of identifiers."
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH."
        }
      }
    },
    "GkeCluster": {
      "type": "object",
      "id": "GkeCluster",
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the GCP resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported."
        },
        "clusterMissing": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane."
        }
      },
      "description": "GkeCluster contains information specific to GKE clusters."
    },
    "MembershipState": {
      "description": "MembershipState describes the state of a Membership resource.",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the Membership resource.",
          "type": "string",
          "enumDescriptions": [
            "The code is not set.",
            "The cluster is being registered.",
            "The cluster is registered.",
            "The cluster is being unregistered.",
            "The Membership is being updated.",
            "The Membership is being updated by the Hub Service."
          ]
        }
      },
      "type": "object",
      "id": "MembershipState"
    },
    "ApplianceCluster": {
      "type": "object",
      "id": "ApplianceCluster",
      "description": "ApplianceCluster contains information specific to GDC Edge Appliance Clusters.",
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the GCP resource for the Appliance Cluster. For example: //transferappliance.googleapis.com/projects/my-project/locations/us-west1-a/appliances/my-appliance",
          "type": "string"
        }
      }
    },
    "MembershipEndpoint": {
      "type": "object",
      "properties": {
        "multiCloudCluster": {
          "$ref": "MultiCloudCluster",
          "description": "Optional. Specific information for a GKE Multi-Cloud cluster."
        },
        "edgeCluster": {
          "description": "Optional. Specific information for a Google Edge cluster.",
          "$ref": "EdgeCluster"
        },
        "onPremCluster": {
          "$ref": "OnPremCluster",
          "description": "Optional. Specific information for a GKE On-Prem cluster. An onprem user-cluster who has no resourceLink is not allowed to use this field, it should have a nil \"type\" instead."
        },
        "kubernetesMetadata": {
          "readOnly": true,
          "$ref": "KubernetesMetadata",
          "description": "Output only. Useful Kubernetes-specific metadata."
        },
        "applianceCluster": {
          "$ref": "ApplianceCluster",
          "description": "Optional. Specific information for a GDC Edge Appliance cluster."
        },
        "gkeCluster": {
          "$ref": "GkeCluster",
          "description": "Optional. Specific information for a GKE-on-GCP cluster."
        },
        "kubernetesResource": {
          "description": "Optional. The in-cluster Kubernetes Resources that should be applied for a correctly registered cluster, in the steady state. These resources: * Ensure that the cluster is exclusively registered to one and only one Hub Membership. * Propagate Workload Pool Information available in the Membership Authority field. * Ensure proper initial configuration of default Hub Features.",
          "$ref": "KubernetesResource"
        }
      },
      "description": "MembershipEndpoint contains information needed to contact a Kubernetes API, endpoint and any additional Kubernetes metadata.",
      "id": "MembershipEndpoint"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      }
    },
    "CommonFeatureState": {
      "type": "object",
      "description": "CommonFeatureState contains Hub-wide Feature status information.",
      "properties": {
        "servicemesh": {
          "description": "Service Mesh-specific state.",
          "$ref": "ServiceMeshFeatureState"
        },
        "fleetobservability": {
          "description": "FleetObservability feature state.",
          "$ref": "FleetObservabilityFeatureState"
        },
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureState",
          "description": "Appdevexperience specific state."
        },
        "state": {
          "$ref": "FeatureState",
          "description": "Output only. The \"running state\" of the Feature in this Hub.",
          "readOnly": true
        }
      },
      "id": "CommonFeatureState"
    },
    "PolicyControllerBundleInstallSpec": {
      "id": "PolicyControllerBundleInstallSpec",
      "type": "object",
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle.",
      "properties": {
        "exemptedNamespaces": {
          "description": "the set of namespaces to be exempted from the bundle",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "management": {
          "enumDescriptions": [
            "No Management strategy has been specified.",
            "The entity should be insistently reconciled by the Hub controller"
          ],
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "INSTALLED"
          ],
          "type": "string",
          "description": "Management specifies how the bundle will be managed by the controller."
        }
      }
    },
    "FeatureResourceState": {
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "description": "The current state of the Feature resource in the Hub API.",
          "enumDescriptions": [
            "State is unknown or not set.",
            "The Feature is being enabled, and the Feature resource is being created. Once complete, the corresponding Feature will be enabled in this Hub.",
            "The Feature is enabled in this Hub, and the Feature resource is fully available.",
            "The Feature is being disabled in this Hub, and the Feature resource is being deleted.",
            "The Feature resource is being updated.",
            "The Feature resource is being updated by the Hub Service."
          ],
          "type": "string"
        }
      },
      "description": "FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the Feature in the Hub and across Memberships.",
      "id": "FeatureResourceState"
    },
    "AppDevExperienceFeatureState": {
      "id": "AppDevExperienceFeatureState",
      "type": "object",
      "properties": {
[...]
