{
  "rootUrl": "https://gkehub.googleapis.com/",
  "description": "",
  "mtlsRootUrl": "https://gkehub.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "batchPath": "batch",
  "id": "gkehub:v1alpha",
  "discoveryVersion": "v1",
  "version_module": true,
  "canonicalName": "GKE Hub",
  "ownerName": "Google",
  "schemas": {
    "ConfigManagementBinauthzVersion": {
      "properties": {
        "webhookVersion": {
          "type": "string",
          "description": "The version of the binauthz webhook."
        }
      },
      "id": "ConfigManagementBinauthzVersion",
      "description": "The version of binauthz.",
      "type": "object"
    },
    "PolicyControllerHubConfig": {
      "type": "object",
      "description": "Configuration for Policy Controller",
      "id": "PolicyControllerHubConfig",
      "properties": {
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        },
        "mutationEnabled": {
          "type": "boolean",
          "description": "Enables the ability to mutate resources using Policy Controller."
        },
        "auditIntervalSeconds": {
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string"
        },
        "installSpec": {
          "type": "string",
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to disable Policy Controller. If Policy Controller is not installed, it will be installed but disabled."
          ],
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_DISABLED"
          ],
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state."
        },
        "templateLibraryConfig": {
          "$ref": "PolicyControllerTemplateLibraryConfig",
          "description": "Configures the library templates to install along with Policy Controller."
        },
        "referentialRulesEnabled": {
          "type": "boolean",
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated."
        },
        "exemptableNamespaces": {
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array"
        }
      }
    },
    "LocalControllerState": {
      "type": "object",
      "description": "LocalControllerState contains the state of the local controller deployed in the cluster.",
      "properties": {
        "installationState": {
          "enum": [
            "INSTALLATION_STATE_UNSPECIFIED",
            "INSTALLATION_STATE_NOT_INSTALLED",
            "INSTALLATION_STATE_INSTALLED",
            "INSTALLATION_STATE_FAILED"
          ],
          "description": "InstallationState represents the state of deployment of the local PE controller in the cluster.",
          "type": "string",
          "enumDescriptions": [
            "state of installation is unknown",
            "component is not installed",
            "component is successfully installed",
            "installation failed"
          ]
        },
        "description": {
          "type": "string",
          "description": "Description represents the human readable description of the current state of the local PE controller"
        }
      },
      "id": "LocalControllerState"
    },
    "KubernetesResource": {
      "description": "KubernetesResource contains the YAML manifests and configuration for Membership Kubernetes resources in the cluster. After CreateMembership or UpdateMembership, these resources should be re-applied in the cluster.",
      "id": "KubernetesResource",
      "type": "object",
      "properties": {
        "resourceOptions": {
          "description": "Optional. Options for Kubernetes resource generation.",
          "$ref": "ResourceOptions"
        },
        "membershipCrManifest": {
          "type": "string",
          "description": "Input only. The YAML representation of the Membership CR. This field is ignored for GKE clusters where Hub can read the CR directly. Callers should provide the CR that is currently present in the cluster during CreateMembership or UpdateMembership, or leave this field empty if none exists. The CR manifest is used to validate the cluster has not been registered with another Membership."
        },
        "membershipResources": {
          "readOnly": true,
          "items": {
            "$ref": "ResourceManifest"
          },
          "description": "Output only. Additional Kubernetes resources that need to be applied to the cluster after Membership creation, and after every update. This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask.",
          "type": "array"
        },
        "connectResources": {
          "type": "array",
          "items": {
            "$ref": "ResourceManifest"
          },
          "readOnly": true,
          "description": "Output only. The Kubernetes resources for installing the GKE Connect agent This field is only populated in the Membership returned from a successful long-running operation from CreateMembership or UpdateMembership. It is not populated during normal GetMembership or ListMemberships requests. To get the resource manifest after the initial registration, the caller should make a UpdateMembership call with an empty field mask."
        }
      }
    },
    "ConfigManagementOperatorState": {
      "description": "State information for an ACM's Operator",
      "id": "ConfigManagementOperatorState",
      "properties": {
        "deploymentState": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "description": "The state of the Operator's deployment"
        },
        "errors": {
          "type": "array",
          "description": "Install errors.",
          "items": {
            "$ref": "ConfigManagementInstallError"
          }
        },
        "version": {
          "description": "The semenatic version number of the operator",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "properties": {
        "gatekeeperControllerManagerState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Status of gatekeeper-controller-manager pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "gatekeeperAudit": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Status of gatekeeper-audit deployment.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string"
        },
        "gatekeeperMutation": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Status of the pod serving the mutation webhook.",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        }
      },
      "id": "ConfigManagementGatekeeperDeploymentState",
      "type": "object",
      "description": "State of Policy Controller installation."
    },
    "ServiceMeshDataPlaneManagement": {
      "description": "Status of data plane management. Only reported per-member.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED"
          ],
          "description": "Lifecycle status of data plane management.",
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state."
          ]
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          },
          "description": "Explanation of the status."
        }
      },
      "id": "ServiceMeshDataPlaneManagement",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "ConfigManagementInstallError": {
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "A string representing the user facing error message"
        }
      },
      "type": "object",
      "description": "Errors pertaining to the installation of ACM",
      "id": "ConfigManagementInstallError"
    },
    "ConfigManagementMembershipSpec": {
      "type": "object",
      "properties": {
        "configSync": {
          "$ref": "ConfigManagementConfigSync",
          "description": "Config Sync configuration for the cluster."
        },
        "binauthz": {
          "description": "Binauthz conifguration for the cluster.",
          "$ref": "ConfigManagementBinauthzConfig"
        },
        "hierarchyController": {
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "description": "Hierarchy Controller configuration for the cluster."
        },
        "version": {
          "type": "string",
          "description": "Version of ACM installed."
        },
        "policyController": {
          "description": "Policy Controller configuration for the cluster.",
          "$ref": "ConfigManagementPolicyController"
        }
      },
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "id": "ConfigManagementMembershipSpec"
    },
    "ConfigManagementGroupVersionKind": {
      "properties": {
        "kind": {
          "description": "Kubernetes Kind",
          "type": "string"
        },
        "group": {
          "description": "Kubernetes Group",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        }
      },
      "id": "ConfigManagementGroupVersionKind",
      "description": "A Kubernetes object's GVK",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "id": "AuditLogConfig"
    },
    "CommonFeatureSpec": {
      "id": "CommonFeatureSpec",
      "type": "object",
      "properties": {
        "multiclusteringress": {
          "description": "Multicluster Ingress-specific spec.",
          "$ref": "MultiClusterIngressFeatureSpec"
        },
        "cloudauditlogging": {
          "$ref": "CloudAuditLoggingFeatureSpec",
          "description": "Cloud Audit Logging-specific spec."
        },
        "workloadcertificate": {
          "$ref": "FeatureSpec",
          "description": "Workload Certificate spec."
        },
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureSpec",
          "description": "Appdevexperience specific spec."
        },
        "anthosobservability": {
          "$ref": "AnthosObservabilityFeatureSpec",
          "description": "Anthos Observability spec"
        }
      },
      "description": "CommonFeatureSpec contains Hub-wide configuration information"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      }
    },
    "ServiceMeshAnalysisMessage": {
      "id": "ServiceMeshAnalysisMessage",
      "type": "object",
      "properties": {
        "args": {
          "type": "object",
          "description": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "resourcePaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster"
        },
        "messageBase": {
          "description": "Details common to all types of Istio and ServiceMesh analysis messages.",
          "$ref": "ServiceMeshAnalysisMessageBase"
        },
        "description": {
          "type": "string",
          "description": "A human readable description of what the error means. It is suitable for non-internationalize display purposes."
        }
      },
      "description": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration."
    },
    "ServiceMeshState": {
      "properties": {},
      "type": "object",
      "id": "ServiceMeshState",
      "description": "ServiceMeshState contains the state of Service Mesh subfeature"
    },
    "PolicyControllerMembershipState": {
      "id": "PolicyControllerMembershipState",
      "description": "**Policy Controller**: State for a single cluster.",
      "type": "object",
      "properties": {
        "membershipSpec": {
          "description": "Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state",
          "$ref": "PolicyControllerMembershipSpec"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it’s operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install’).",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off’ to avoid corrupting the PC or other data."
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR"
          ],
          "description": "The lifecycle state Policy Controller is in."
        },
        "policyControllerHubState": {
          "description": "Policy Controller state observed by the Policy Controller Hub",
          "$ref": "PolicyControllerHubState"
        },
        "clusterName": {
          "type": "string",
          "description": "The user-defined name for the cluster used by ClusterSelectors to group clusters together. This should match Membership's membership_name, unless the user installed PC on the cluster manually prior to enabling the PC hub feature. Unique within a Policy Controller installation."
        }
      }
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "IdentityServiceAuthMethod": {
      "properties": {
        "proxy": {
          "description": "Proxy server address to use for auth method.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier for auth config."
        },
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        }
      },
      "id": "IdentityServiceAuthMethod",
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "type": "object"
    },
    "IdentityServiceMembershipState": {
      "id": "IdentityServiceMembershipState",
      "description": "**Anthos Identity Service**: State for a single Membership.",
      "type": "object",
      "properties": {
        "memberConfig": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Last reconciled membership configuration"
        },
        "failureReason": {
          "type": "string",
          "description": "The reason of the failure."
        },
        "state": {
          "description": "Deployment state on this member",
          "enumDescriptions": [
            "Unspecified state",
            "deployment succeeds",
            "Failure with error."
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "OK",
            "ERROR"
          ]
        },
        "installedVersion": {
          "type": "string",
          "description": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK."
        }
      }
    },
    "CloudBuildMembershipSpec": {
      "properties": {
        "securityPolicy": {
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "type": "string",
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ],
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ]
        },
        "version": {
          "description": "Version of the cloud build software on the cluster.",
          "type": "string"
        }
      },
      "id": "CloudBuildMembershipSpec",
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceOptions": {
      "id": "ResourceOptions",
      "type": "object",
      "description": "ResourceOptions represent options for Kubernetes resource generation.",
      "properties": {
        "v1beta1Crd": {
          "description": "Optional. Use `apiextensions/v1beta1` instead of `apiextensions/v1` for CustomResourceDefinition resources. This option should be set for clusters with Kubernetes apiserver versions \u003c1.16.",
          "type": "boolean"
        },
        "connectVersion": {
          "type": "string",
          "description": "Optional. The Connect agent version to use for connect_resources. Defaults to the latest GKE Connect version. The version must be a currently supported version, obsolete versions will be rejected."
        },
        "k8sVersion": {
          "description": "Optional. Major version of the Kubernetes cluster. This is only used to determine which version to use for the CustomResourceDefinition resources, `apiextensions/v1beta1` or`apiextensions/v1`.",
          "type": "string"
        }
      }
    },
    "AnthosObservabilityFeatureSpec": {
      "properties": {
        "defaultMembershipSpec": {
          "description": "default membership spec for unconfigured memberships",
          "$ref": "AnthosObservabilityMembershipSpec"
        }
      },
      "id": "AnthosObservabilityFeatureSpec",
      "type": "object",
      "description": "**Anthos Observability**: Spec"
    },
    "ConfigManagementSyncState": {
      "id": "ConfigManagementSyncState",
      "type": "object",
      "description": "State indicating an ACM's progress syncing configurations to a cluster",
      "properties": {
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "errors": {
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "type": "array",
          "items": {
            "$ref": "ConfigManagementSyncError"
          }
        },
        "lastSync": {
          "type": "string",
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String"
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp type of when ACM last successfully synced the repo"
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "sourceToken": {
          "description": "Token indicating the state of the repo.",
          "type": "string"
        },
        "code": {
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "ACM cannot determine a sync code",
            "ACM successfully synced the git Repo with the cluster",
            "ACM is in the progress of syncing a new change",
            "Indicates an error configuring ACM, and user action is required",
            "ACM has been installed (operator manifest deployed), but not configured.",
            "ACM has not been installed (no operator pod found)",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "description": "Sync status code"
        }
      }
    },
    "ConfigManagementConfigSyncState": {
      "description": "State information for ConfigSync",
      "id": "ConfigManagementConfigSyncState",
      "properties": {
        "version": {
          "description": "The version of ConfigSync deployed",
          "$ref": "ConfigManagementConfigSyncVersion"
        },
        "syncState": {
          "$ref": "ConfigManagementSyncState",
          "description": "The state of ConfigSync's process to sync configs to a cluster"
        },
        "deploymentState": {
          "$ref": "ConfigManagementConfigSyncDeploymentState",
          "description": "Information about the deployment of ConfigSync, including the version of the various Pods deployed"
        }
      },
      "type": "object"
    },
    "ConfigManagementMembershipState": {
      "properties": {
        "membershipSpec": {
          "description": "Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "clusterName": {
          "description": "The user-defined name for the cluster used by ClusterSelectors to group clusters together. This should match Membership's membership_name, unless the user installed ACM on the cluster manually prior to enabling the ACM hub feature. Unique within a Anthos Config Management installation.",
          "type": "string"
        },
        "operatorState": {
          "$ref": "ConfigManagementOperatorState",
          "description": "Current install status of ACM's Operator"
        },
        "hierarchyControllerState": {
          "description": "Hierarchy Controller status",
          "$ref": "ConfigManagementHierarchyControllerState"
        },
        "configSyncState": {
          "$ref": "ConfigManagementConfigSyncState",
          "description": "Current sync status"
        },
        "policyControllerState": {
          "description": "PolicyController status",
          "$ref": "ConfigManagementPolicyControllerState"
        },
        "binauthzState": {
          "description": "Binauthz status",
          "$ref": "ConfigManagementBinauthzState"
        }
      },
      "id": "ConfigManagementMembershipState",
      "type": "object",
      "description": "**Anthos Config Management**: State for a single cluster."
    },
    "ConfigManagementHierarchyControllerVersion": {
      "type": "object",
      "description": "Version for Hierarchy Controller",
      "id": "ConfigManagementHierarchyControllerVersion",
      "properties": {
        "hnc": {
          "description": "Version for open source HNC",
          "type": "string"
        },
        "extension": {
          "type": "string",
          "description": "Version for Hierarchy Controller extension"
        }
      }
    },
    "ConfigManagementGitConfig": {
      "description": "Git repo configuration for a single cluster.",
      "type": "object",
      "id": "ConfigManagementGitConfig",
      "properties": {
        "syncRepo": {
          "description": "The URL of the Git repository to use as the source of truth.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "description": "The GCP Service Account Email used for auth when secret_type is gcpServiceAccount.",
          "type": "string"
        },
        "secretType": {
          "type": "string",
          "description": "Type of secret configured for access to the Git repo. Must be one of ssh, cookiefile, gcenode, token, gcpserviceaccount or none. The validation of this is case-sensitive. Required."
        },
        "httpsProxy": {
          "type": "string",
          "description": "URL for the HTTPS proxy to be used when communicating with the Git repo."
        },
        "policyDir": {
          "type": "string",
          "description": "The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository."
        },
        "syncWaitSecs": {
          "format": "int64",
          "type": "string",
          "description": "Period in seconds between consecutive syncs. Default: 15."
        },
        "syncRev": {
          "type": "string",
          "description": "Git revision (tag or hash) to check out. Default HEAD."
        },
        "syncBranch": {
          "type": "string",
          "description": "The branch of the repository to sync from. Default: master."
        }
      }
    },
    "PolicyControllerMembershipSpec": {
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR.",
      "id": "PolicyControllerMembershipSpec",
      "properties": {
        "policyControllerHubConfig": {
          "description": "Policy Controller configuration for the cluster.",
          "$ref": "PolicyControllerHubConfig"
        },
        "version": {
          "type": "string",
          "description": "Version of Policy Controller installed."
        }
      },
      "type": "object"
    },
    "IdentityServiceOidcConfig": {
      "type": "object",
      "description": "Configuration for OIDC Auth flow.",
      "properties": {
        "deployCloudConsoleProxy": {
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console.",
          "type": "boolean"
        },
        "issuerUri": {
          "type": "string",
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration."
        },
        "enableAccessToken": {
          "description": "Enable access token.",
          "type": "boolean"
        },
        "groupPrefix": {
          "type": "string",
          "description": "Prefix to prepend to group name."
        },
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "encryptedClientSecret": {
          "format": "byte",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Encrypted OIDC Client secret"
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin."
        },
        "userClaim": {
          "type": "string",
          "description": "Claim in OIDC ID token that holds username."
        },
        "groupsClaim": {
          "type": "string",
          "description": "Claim in OIDC ID token that holds group information."
        },
        "userPrefix": {
          "type": "string",
          "description": "Prefix to prepend to user name."
        },
        "scopes": {
          "type": "string",
          "description": "Comma-separated list of identifiers."
        },
        "clientId": {
          "description": "ID for OIDC client application.",
          "type": "string"
        },
        "extraParams": {
          "description": "Comma-separated list of key-value pairs.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. Unencrypted OIDC client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        }
      },
      "id": "IdentityServiceOidcConfig"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Expr": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr"
    },
    "MeteringMembershipState": {
      "properties": {
        "preciseLastMeasuredClusterVcpuCapacity": {
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision).",
          "type": "number",
          "format": "float"
        },
        "lastMeasurementTime": {
          "type": "string",
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "format": "google-datetime"
        }
      },
      "description": "**Metering**: Per-Membership Feature State.",
      "type": "object",
      "id": "MeteringMembershipState"
    },
    "MultiClusterIngressFeatureSpec": {
      "properties": {
        "billing": {
          "type": "string",
          "description": "Deprecated: This field will be ignored and should not be set. Customer's billing structure.",
          "enum": [
            "BILLING_UNSPECIFIED",
            "PAY_AS_YOU_GO",
            "ANTHOS_LICENSE"
          ],
          "enumDescriptions": [
            "Unknown",
            "User pays a fee per-endpoint.",
            "User is paying for Anthos as a whole."
          ]
        },
        "configMembership": {
          "type": "string",
          "description": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`"
        }
      },
      "description": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature.",
      "type": "object",
      "id": "MultiClusterIngressFeatureSpec"
    },
    "GenerateConnectManifestResponse": {
      "type": "object",
      "description": "GenerateConnectManifestResponse contains manifest information for installing/upgrading a Connect agent.",
      "properties": {
        "manifest": {
          "items": {
            "$ref": "ConnectAgentResource"
          },
          "type": "array",
          "description": "The ordered list of Kubernetes resources that need to be applied to the cluster for GKE Connect agent installation/upgrade."
        }
      },
      "id": "GenerateConnectManifestResponse"
    },
    "ConfigManagementPolicyControllerVersion": {
      "description": "The build version of Gatekeeper Policy Controller is using.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number.",
          "type": "string"
        }
      },
      "id": "ConfigManagementPolicyControllerVersion"
    },
    "ConfigManagementConfigSyncVersion": {
      "description": "Specific versioning information pertaining to ConfigSync's Pods",
      "type": "object",
      "properties": {
        "reconcilerManager": {
          "description": "Version of the deployed reconciler-manager pod",
          "type": "string"
        },
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission_webhook pod"
        },
        "syncer": {
          "type": "string",
          "description": "Version of the deployed syncer pod"
        },
        "importer": {
          "type": "string",
          "description": "Version of the deployed importer pod"
        },
        "rootReconciler": {
          "type": "string",
          "description": "Version of the deployed reconciler container in root-reconciler pod"
        },
        "monitor": {
          "description": "Version of the deployed monitor pod",
          "type": "string"
        },
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod"
        }
      },
      "id": "ConfigManagementConfigSyncVersion"
    },
    "ApplianceCluster": {
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the GCP resource for the Appliance Cluster. For example: //transferappliance.googleapis.com/projects/my-project/locations/us-west1-a/appliances/my-appliance",
          "type": "string"
        }
      },
      "description": "ApplianceCluster contains information specific to GDC Edge Appliance Clusters.",
      "id": "ApplianceCluster",
      "type": "object"
    },
    "FeatureSpec": {
      "id": "FeatureSpec",
      "description": "**Workload Certificate**: The Hub-wide input for the WorkloadCertificate feature.",
      "properties": {
        "defaultConfig": {
          "$ref": "MembershipSpec",
          "description": "Specifies default membership spec. Users can override the default in the member_configs for each member."
        },
        "provisionGoogleCa": {
          "description": "Immutable. Specifies CA configuration.",
          "enum": [
            "GOOGLE_CA_PROVISIONING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Disable default Google managed CA.",
            "Disable default Google managed CA.",
            "Use default Google managed CA."
          ]
        }
      },
      "type": "object"
    },
    "MembershipFeatureSpec": {
      "properties": {
        "anthosobservability": {
          "description": "Anthos Observability-specific spec",
          "$ref": "AnthosObservabilityMembershipSpec"
        },
        "policycontroller": {
          "description": "Policy Controller spec.",
          "$ref": "PolicyControllerMembershipSpec"
        },
        "cloudbuild": {
          "description": "Cloud Build-specific spec",
          "$ref": "CloudBuildMembershipSpec"
        },
        "anthosvm": {
          "$ref": "AnthosVMMembershipSpec",
          "description": "AnthosVM spec."
        },
        "workloadcertificate": {
          "description": "Workload Certificate spec.",
          "$ref": "MembershipSpec"
        },
        "configmanagement": {
          "description": "Config Management-specific spec.",
          "$ref": "ConfigManagementMembershipSpec"
        },
        "identityservice": {
          "$ref": "IdentityServiceMembershipSpec",
          "description": "Identity Service-specific spec."
        },
        "mesh": {
          "description": "Anthos Service Mesh-specific spec",
          "$ref": "ServiceMeshMembershipSpec"
        }
      },
      "type": "object",
      "description": "MembershipFeatureSpec contains configuration information for a single Membership.",
      "id": "MembershipFeatureSpec"
    },
    "AnthosVMSubFeatureSpec": {
      "id": "AnthosVMSubFeatureSpec",
      "description": "AnthosVMSubFeatureSpec contains the subfeature configuration for a membership/cluster.",
      "type": "object",
      "properties": {
        "serviceMeshSpec": {
          "description": "ServiceMeshSpec repsents the configuration for Service Mesh subfeature.",
          "$ref": "ServiceMeshSpec"
        },
        "enabled": {
          "description": "Indicates whether the subfeature should be enabled on the cluster or not. If set to true, the subfeature's control plane and resources will be installed in the cluster. If set to false, the oneof spec if present will be ignored and nothing will be installed in the cluster.",
          "type": "boolean"
        },
        "migrateSpec": {
          "description": "MigrateSpec repsents the configuration for Migrate subfeature.",
          "$ref": "MigrateSpec"
        }
      }
    },
    "AnthosVMMembershipSpec": {
      "description": "AnthosVMMembershipSpec contains the AnthosVM feature configuration for a membership/cluster.",
      "properties": {
        "subfeaturesSpec": {
          "type": "array",
          "items": {
            "$ref": "AnthosVMSubFeatureSpec"
          },
          "description": "List of configurations of the Anthos For VM subfeatures that are to be enabled"
        }
      },
      "type": "object",
      "id": "AnthosVMMembershipSpec"
    },
    "OnPremCluster": {
      "type": "object",
      "properties": {
        "clusterMissing": {
          "description": "Output only. If cluster_missing is set then it denotes that API(gkeonprem.googleapis.com) resource for this GKE On-Prem cluster no longer exists.",
          "readOnly": true,
          "type": "boolean"
        },
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the GCP resource for the GKE On-Prem cluster. For example: //gkeonprem.googleapis.com/projects/my-project/locations/us-west1-a/vmwareClusters/my-cluster //gkeonprem.googleapis.com/projects/my-project/locations/us-west1-a/bareMetalClusters/my-cluster"
        },
        "adminCluster": {
          "description": "Immutable. Whether the cluster is an admin cluster.",
          "type": "boolean"
        },
        "clusterType": {
          "description": "Immutable. The on prem cluster's type.",
          "enum": [
            "CLUSTERTYPE_UNSPECIFIED",
            "BOOTSTRAP",
            "HYBRID",
            "STANDALONE",
            "USER"
          ],
          "enumDescriptions": [
            "The ClusterType is not set.",
            "The ClusterType is bootstrap cluster.",
            "The ClusterType is baremetal hybrid cluster.",
            "The ClusterType is baremetal standalone cluster.",
            "The ClusterType is user cluster."
          ],
          "type": "string"
        }
      },
      "id": "OnPremCluster",
      "description": "OnPremCluster contains information specific to GKE On-Prem clusters."
    },
    "GkeCluster": {
      "properties": {
        "clusterMissing": {
          "description": "Output only. If cluster_missing is set then it denotes that the GKE cluster no longer exists in the GKE Control Plane.",
          "type": "boolean",
          "readOnly": true
        },
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the GCP resource for the GKE cluster. For example: //container.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster Zonal clusters are also supported."
        }
      },
      "description": "GkeCluster contains information specific to GKE clusters.",
      "type": "object",
      "id": "GkeCluster"
    },
    "ConnectAgentResource": {
      "id": "ConnectAgentResource",
      "properties": {
        "manifest": {
          "description": "YAML manifest of the resource.",
          "type": "string"
        },
        "type": {
          "$ref": "TypeMeta",
          "description": "Kubernetes type of the resource."
        }
      },
      "description": "ConnectAgentResource represents a Kubernetes resource manifest for Connect Agent deployment.",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "PolicyControllerTemplateLibraryConfig": {
      "type": "object",
      "properties": {
        "included": {
          "description": "Whether the standard template library should be installed or not.",
          "type": "boolean"
        }
      },
      "id": "PolicyControllerTemplateLibraryConfig",
      "description": "The config specifying which default library templates to install."
    },
    "Membership": {
      "properties": {
        "deleteTime": {
          "description": "Output only. When the Membership was deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. GCP labels for this membership.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "$ref": "MembershipState",
          "readOnly": true,
          "description": "Output only. State of the Membership resource."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. When the Membership was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uniqueId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id."
        },
        "authority": {
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
          "$ref": "Authority"
        },
        "endpoint": {
          "$ref": "MembershipEndpoint",
          "description": "Optional. Endpoint information to reach this member."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
          "type": "string"
        },
        "lastConnectionTime": {
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes."
        },
        "externalId": {
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. When the Membership was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Membership",
      "description": "Membership contains information about a member cluster.",
      "type": "object"
    },
    "ConfigManagementErrorResource": {
      "id": "ConfigManagementErrorResource",
      "type": "object",
      "description": "Model for a config file in the git repo with an associated Sync error",
      "properties": {
        "resourceGvk": {
          "description": "Group/version/kind of the resource that is causing an error",
          "$ref": "ConfigManagementGroupVersionKind"
        },
        "resourceName": {
          "description": "Metadata name of the resource that is causing an error",
          "type": "string"
        },
        "resourceNamespace": {
          "description": "Namespace of the resource that is causing an error",
          "type": "string"
        },
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        }
      }
    },
    "PolicyControllerHubState": {
      "properties": {
        "deploymentStates": {
          "type": "object",
          "additionalProperties": {
            "enum": [
              "DEPLOYMENT_STATE_UNSPECIFIED",
              "DEPLOYMENT_STATE_NOT_INSTALLED",
              "DEPLOYMENT_STATE_INSTALLED",
              "DEPLOYMENT_STATE_ERROR"
            ],
            "type": "string",
            "enumDescriptions": [
              "Deployment's state cannot be determined",
              "Deployment is not installed",
              "Deployment is installed",
              "Deployment was attempted to be installed, but has errors"
            ]
          },
          "description": "Map from deployment name to deployment state. Example deployments are gatekeeper-controller-manager, gatekeeper-audit deployment, and gatekeeper-mutation."
        },
        "version": {
          "$ref": "PolicyControllerHubVersion",
          "description": "The version of Gatekeeper Policy Controller deployed."
        }
      },
      "id": "PolicyControllerHubState",
      "description": "State of the Policy Controller.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "CommonFeatureState": {
      "description": "CommonFeatureState contains Hub-wide Feature status information.",
      "properties": {
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceFeatureState"
        },
        "state": {
          "$ref": "FeatureState",
          "readOnly": true,
          "description": "Output only. The \"running state\" of the Feature in this Hub."
        },
        "servicemesh": {
          "$ref": "ServiceMeshFeatureState",
          "description": "Service Mesh-specific state."
        }
      },
      "id": "CommonFeatureState",
      "type": "object"
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "properties": {
        "reconcilerManager": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Deployment state of reconciler-manager pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string"
        },
        "importer": {
          "type": "string",
          "description": "Deployment state of the importer pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "syncer": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Deployment state of the syncer pod",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "monitor": {
          "description": "Deployment state of the monitor pod",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "rootReconciler": {
          "description": "Deployment state of root-reconciler",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "gitSync": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Deployment state of the git-sync pod"
        },
        "admissionWebhook": {
          "description": "Deployment state of admission-webhook",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        }
      },
      "type": "object",
      "description": "The state of ConfigSync's deployment on a cluster",
      "id": "ConfigManagementConfigSyncDeploymentState"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ]
        },
        "description": {
          "type": "string",
          "description": "Description is populated if Code is Failed, explaining why it has failed."
        }
      },
      "id": "Status",
      "description": "Status specifies state for the subcomponent.",
      "type": "object"
    },
    "AppDevExperienceFeatureState": {
      "id": "AppDevExperienceFeatureState",
      "type": "object",
      "properties": {
        "networkingInstallSucceeded": {
          "$ref": "Status",
          "description": "Status of subcomponent that detects configured Service Mesh resources."
        }
      },
      "description": "State for App Dev Exp Feature."
    },
    "ConfigManagementPolicyControllerState": {
      "description": "State for PolicyControllerState.",
      "type": "object",
      "id": "ConfigManagementPolicyControllerState",
      "properties": {
        "deploymentState": {
          "$ref": "ConfigManagementGatekeeperDeploymentState",
          "description": "The state about the policy controller installation."
        },
        "version": {
          "$ref": "ConfigManagementPolicyControllerVersion",
          "description": "The version of Gatekeeper Policy Controller deployed."
        }
      }
    },
    "IdentityServiceMembershipSpec": {
      "id": "IdentityServiceMembershipSpec",
      "properties": {
        "authMethods": {
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          },
          "type": "array",
          "description": "A member may support multiple auth methods."
        }
      },
      "description": "**Anthos Identity Service**: Configuration for a single Membership.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "ServiceMeshSpec": {
      "type": "object",
      "id": "ServiceMeshSpec",
      "description": "ServiceMeshSpec contains the serviceMesh subfeature configuration.",
      "properties": {}
    },
    "Binding": {
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding"
    },
    "ConfigManagementPolicyController": {
      "properties": {
        "templateLibraryInstalled": {
          "type": "boolean",
          "description": "Installs the default template library along with Policy Controller."
        },
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "monitoring": {
          "$ref": "ConfigManagementPolicyControllerMonitoring",
          "description": "Monitoring specifies the configuration of monitoring."
        },
        "auditIntervalSeconds": {
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "type": "string",
          "format": "int64"
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "enabled": {
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect.",
          "type": "boolean"
        },
        "mutationEnabled": {
          "description": "Enable users to try out mutation for PolicyController.",
          "type": "boolean"
        }
      },
      "id": "ConfigManagementPolicyController",
      "type": "object",
      "description": "Configuration for Policy Controller"
    },
    "MembershipEndpoint": {
      "type": "object",
      "properties": {
        "edgeCluster": {
          "$ref": "EdgeCluster",
          "description": "Optional. Specific information for a Google Edge cluster."
        },
        "multiCloudCluster": {
          "$ref": "MultiCloudCluster",
          "description": "Optional. Specific information for a GKE Multi-Cloud cluster."
        },
        "kubernetesMetadata": {
          "readOnly": true,
          "$ref": "KubernetesMetadata",
          "description": "Output only. Useful Kubernetes-specific metadata."
        },
        "applianceCluster": {
          "$ref": "ApplianceCluster",
          "description": "Optional. Specific information for a GDC Edge Appliance cluster."
        },
        "gkeCluster": {
          "$ref": "GkeCluster",
          "description": "Optional. Specific information for a GKE-on-GCP cluster."
        },
        "kubernetesResource": {
          "$ref": "KubernetesResource",
          "description": "Optional. The in-cluster Kubernetes Resources that should be applied for a correctly registered cluster, in the steady state. These resources: * Ensure that the cluster is exclusively registered to one and only one Hub Membership. * Propagate Workload Pool Information available in the Membership Authority field. * Ensure proper initial configuration of default Hub Features."
        },
        "onPremCluster": {
          "description": "Optional. Specific information for a GKE On-Prem cluster. An onprem user-cluster who has no resourceLink is not allowed to use this field, it should have a nil \"type\" instead.",
          "$ref": "OnPremCluster"
        }
      },
      "id": "MembershipEndpoint",
      "description": "MembershipEndpoint contains information needed to contact a Kubernetes API, endpoint and any additional Kubernetes metadata."
    },
    "ListMembershipsResponse": {
      "type": "object",
      "id": "ListMembershipsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of locations that could not be reached while fetching this list."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListMemberships` method. The value of an empty string means that there are no more resources to return."
        },
        "resources": {
          "items": {
            "$ref": "Membership"
          },
          "description": "The list of matching Memberships.",
          "type": "array"
        }
      },
      "description": "Response message for the `GkeHub.ListMemberships` method."
    },
    "MembershipSpec": {
      "description": "**Workload Certificate**: The membership-specific input for WorkloadCertificate feature.",
      "id": "MembershipSpec",
      "properties": {
        "certificateManagement": {
          "enum": [
            "CERTIFICATE_MANAGEMENT_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Disable workload certificate feature.",
            "Disable workload certificate feature.",
            "Enable workload certificate feature."
          ],
          "description": "Specifies workload certificate management."
        }
      },
      "type": "object"
    },
    "MigrateState": {
      "description": "MigrateState contains the state of Migrate subfeature",
      "id": "MigrateState",
      "type": "object",
      "properties": {}
    },
    "CloudAuditLoggingFeatureSpec": {
      "type": "object",
      "description": "**Cloud Audit Logging**: Spec for Audit Logging Allowlisting.",
      "id": "CloudAuditLoggingFeatureSpec",
      "properties": {
        "allowlistedServiceAccounts": {
          "description": "Service account that should be allowlisted to send the audit logs; eg cloudauditlogging@gcp-project.iam.gserviceaccount.com. These accounts must already exist, but do not need to have any permissions granted to them. The customer's entitlements will be checked prior to allowlisting (i.e. the customer must be an Anthos customer.)",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "AnthosObservabilityMembershipSpec": {
      "type": "object",
      "id": "AnthosObservabilityMembershipSpec",
      "properties": {
        "doNotOptimizeMetrics": {
          "type": "boolean",
          "description": "use full of metrics rather than optimized metrics. See https://cloud.google.com/anthos/clusters/docs/on-prem/1.8/concepts/logging-and-monitoring#optimized_metrics_default_metrics"
        },
        "enableStackdriverOnApplications": {
          "description": "enable collecting and reporting metrics and logs from user apps See go/onyx-application-metrics-logs-user-guide",
          "type": "boolean"
        },
        "version": {
          "type": "string",
          "description": "the version of stackdriver operator used by this feature"
        }
      },
      "description": "**Anthosobservability**: Per-Membership Feature spec."
    },
    "FeatureResourceState": {
      "properties": {
        "state": {
          "description": "The current state of the Feature resource in the Hub API.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "enumDescriptions": [
            "State is unknown or not set.",
            "The Feature is being enabled, and the Feature resource is being created. Once complete, the corresponding Feature will be enabled in this Hub.",
            "The Feature is enabled in this Hub, and the Feature resource is fully available.",
            "The Feature is being disabled in this Hub, and the Feature resource is being deleted.",
            "The Feature resource is being updated.",
            "The Feature resource is being updated by the Hub Service."
          ],
          "type": "string"
        }
      },
      "description": "FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the Feature in the Hub and across Memberships.",
      "type": "object",
      "id": "FeatureResourceState"
    },
    "MembershipFeatureState": {
      "id": "MembershipFeatureState",
      "description": "MembershipFeatureState contains Feature status information for a single Membership.",
      "properties": {
        "identityservice": {
          "description": "Identity Service-specific state.",
          "$ref": "IdentityServiceMembershipState"
        },
        "anthosvm": {
          "description": "AnthosVM state.",
          "$ref": "AnthosVMMembershipState"
        },
        "metering": {
          "description": "Metering-specific spec.",
          "$ref": "MeteringMembershipState"
        },
        "policycontroller": {
          "description": "Policycontroller-specific state.",
          "$ref": "PolicyControllerMembershipState"
        },
        "state": {
          "$ref": "FeatureState",
          "description": "The high-level state of this Feature for a single membership."
        },
        "servicemesh": {
          "$ref": "ServiceMeshMembershipState",
          "description": "Service Mesh-specific state."
        },
        "configmanagement": {
          "$ref": "ConfigManagementMembershipState",
          "description": "Config Management-specific state."
        },
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureState",
          "description": "Appdevexperience specific state."
        }
      },
      "type": "object"
    },
    "ConfigManagementConfigSync": {
      "properties": {
        "enabled": {
          "description": "Enables the installation of ConfigSync. If set to true, ConfigSync resources will be created and the other ConfigSync fields will be applied if exist. If set to false, all other ConfigSync fields will be ignored, ConfigSync resources will be deleted. If omitted, ConfigSync resources will be managed depends on the presence of git field.",
          "type": "boolean"
        },
        "sourceFormat": {
          "description": "Specifies whether the Config Sync Repo is in “hierarchical” or “unstructured” mode.",
          "type": "string"
        },
        "oci": {
          "$ref": "ConfigManagementOciConfig",
          "description": "OCI repo configuration for the cluster"
        },
        "preventDrift": {
          "type": "boolean",
          "description": "Set to true to enable the Config Sync admission webhook to prevent drifts. If set to `false`, disables the Config Sync admission webhook and does not prevent drifts."
        },
        "git": {
          "description": "Git repo configuration for the cluster.",
          "$ref": "ConfigManagementGitConfig"
        }
      },
      "type": "object",
      "description": "Configuration for Config Sync",
      "id": "ConfigManagementConfigSync"
    },
    "ListFleetsResponse": {
      "id": "ListFleetsResponse",
      "properties": {
        "fleets": {
          "description": "The list of matching fleets.",
          "type": "array",
          "items": {
            "$ref": "Fleet"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. The token is only valid for 1h.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the `GkeHub.ListFleetsResponse` method."
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "properties": {
        "backends": {
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "type": "array",
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ]
          }
        }
      },
      "type": "object",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "id": "ConfigManagementPolicyControllerMonitoring"
    },
    "MembershipState": {
      "properties": {
        "code": {
          "enumDescriptions": [
            "The code is not set.",
            "The cluster is being registered.",
            "The cluster is registered.",
            "The cluster is being unregistered.",
            "The Membership is being updated.",
            "The Membership is being updated by the Hub Service."
          ],
          "description": "Output only. The current state of the Membership resource.",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "MembershipState describes the state of a Membership resource.",
      "id": "MembershipState"
    },
    "ConfigManagementHierarchyControllerDeploymentState": {
      "description": "Deployment state for Hierarchy Controller",
      "id": "ConfigManagementHierarchyControllerDeploymentState",
      "properties": {
        "extension": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "hnc": {
          "type": "string",
          "description": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        }
      },
      "type": "object"
    },
    "ServiceMeshStatusDetails": {
      "properties": {
        "details": {
          "description": "Human-readable explanation of code.",
          "type": "string"
        },
        "code": {
          "description": "A machine-readable code that further describes a broad status.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ServiceMeshStatusDetails",
      "description": "Structured and human-readable details for a status."
    },
    "Feature": {
      "type": "object",
      "description": "Feature represents the settings and status of any Hub Feature.",
      "id": "Feature",
      "properties": {
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the Feature resource was deleted."
        },
        "state": {
          "description": "Output only. The Hub-wide Feature state.",
          "readOnly": true,
          "$ref": "CommonFeatureState"
        },
        "resourceState": {
          "description": "Output only. State of the Feature resource itself.",
          "$ref": "FeatureResourceState",
          "readOnly": true
        },
        "membershipStates": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number.",
          "additionalProperties": {
            "$ref": "MembershipFeatureState"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the Feature resource was last updated."
        },
        "labels": {
          "type": "object",
          "description": "GCP labels for this Feature.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`."
        },
        "membershipSpecs": {
          "additionalProperties": {
            "$ref": "MembershipFeatureSpec"
          },
          "description": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. When the Feature resource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "spec": {
          "description": "Optional. Hub-wide Feature configuration. If this Feature does not support any Hub-wide configuration, this field may be unused.",
          "$ref": "CommonFeatureSpec"
        }
      }
    },
    "AnthosVMMembershipState": {
      "id": "AnthosVMMembershipState",
      "properties": {
        "localControllerState": {
          "$ref": "LocalControllerState",
          "description": "State of the local PE-controller inside the cluster"
        },
        "subfeatureState": {
          "description": "List of AnthosVM subfeature states",
          "items": {
            "$ref": "AnthosVMSubFeatureState"
          },
          "type": "array"
        }
      },
      "description": "AnthosVMFeatureState contains the state of the AnthosVM feature. It represents the actual state in the cluster, while the AnthosVMMembershipSpec represents the desired state.",
      "type": "object"
    },
    "MultiCloudCluster": {
      "id": "MultiCloudCluster",
      "properties": {
        "resourceLink": {
          "type": "string",
          "description": "Immutable. Self-link of the GCP resource for the GKE Multi-Cloud cluster. For example: //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/awsClusters/my-cluster //gkemulticloud.googleapis.com/projects/my-project/locations/us-west1-a/azureClusters/my-cluster"
        },
        "clusterMissing": {
          "description": "Output only. If cluster_missing is set then it denotes that API(gkemulticloud.googleapis.com) resource for this GKE Multi-Cloud cluster no longer exists.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "MultiCloudCluster contains information specific to GKE Multi-Cloud clusters.",
      "type": "object"
    },
    "ServiceMeshMembershipSpec": {
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature",
      "id": "ServiceMeshMembershipSpec",
      "type": "object",
      "properties": {
        "controlPlane": {
          "description": "Enables automatic control plane management.",
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ]
        },
        "defaultChannel": {
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "description": "Determines which release channel to use for default injection and service mesh APIs.",
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ],
          "type": "string"
        }
      }
    },
    "ConfigManagementSyncError": {
      "description": "An ACM created error representing a problem syncing configurations",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "A description of the error",
          "type": "string"
        },
        "errorResources": {
          "items": {
            "$ref": "ConfigManagementErrorResource"
          },
          "type": "array",
          "description": "A list of config(s) associated with the error, if any"
        },
        "code": {
          "description": "An ACM defined error code",
          "type": "string"
        }
      },
      "id": "ConfigManagementSyncError"
    },
    "TypeMeta": {
      "properties": {
        "kind": {
          "description": "Kind of the resource (e.g. Deployment).",
          "type": "string"
        },
        "apiVersion": {
          "description": "APIVersion of the resource (e.g. v1).",
          "type": "string"
        }
      },
      "id": "TypeMeta",
      "type": "object",
      "description": "TypeMeta is the type information needed for content unmarshalling of Kubernetes resources in the manifest."
    },
    "ConfigManagementBinauthzState": {
      "properties": {
        "version": {
          "$ref": "ConfigManagementBinauthzVersion",
          "description": "The version of binauthz that is installed."
        },
        "webhook": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "The state of the binauthz webhook."
        }
      },
      "description": "State for Binauthz",
      "type": "object",
      "id": "ConfigManagementBinauthzState"
    },
    "ServiceMeshMembershipState": {
      "properties": {
        "analysisMessages": {
          "readOnly": true,
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "type": "array",
[...]
