{
  "protocol": "rest",
  "version_module": true,
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    }
  },
  "description": "",
  "title": "GKE Hub API",
  "version": "v1beta",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "basePath": "",
  "discoveryVersion": "v1",
  "id": "gkehub:v1beta",
  "batchPath": "batch",
  "revision": "20220303",
  "schemas": {
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "FeatureResourceState": {
      "type": "object",
      "description": "FeatureResourceState describes the state of a Feature *resource* in the GkeHub API. See `FeatureState` for the \"running state\" of the Feature in the Hub and across Memberships.",
      "id": "FeatureResourceState",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLING",
            "ACTIVE",
            "DISABLING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "description": "The current state of the Feature resource in the Hub API.",
          "enumDescriptions": [
            "State is unknown or not set.",
            "The Feature is being enabled, and the Feature resource is being created. Once complete, the corresponding Feature will be enabled in this Hub.",
            "The Feature is enabled in this Hub, and the Feature resource is fully available.",
            "The Feature is being disabled in this Hub, and the Feature resource is being deleted.",
            "The Feature resource is being updated.",
            "The Feature resource is being updated by the Hub Service."
          ]
        }
      }
    },
    "MembershipFeatureSpec": {
      "description": "MembershipFeatureSpec contains configuration information for a single Membership.",
      "id": "MembershipFeatureSpec",
      "properties": {
        "policycontroller": {
          "$ref": "PolicyControllerMembershipSpec",
          "description": "Policy Controller spec."
        },
        "identityservice": {
          "description": "Identity Service-specific spec.",
          "$ref": "IdentityServiceMembershipSpec"
        },
        "cloudbuild": {
          "$ref": "MembershipSpec",
          "description": "Cloud Build-specific spec"
        },
        "configmanagement": {
          "$ref": "ConfigManagementMembershipSpec",
          "description": "Config Management-specific spec."
        },
        "anthosobservability": {
          "description": "Anthos Observability-specific spec",
          "$ref": "AnthosObservabilityMembershipSpec"
        }
      },
      "type": "object"
    },
    "ConfigManagementBinauthzConfig": {
      "id": "ConfigManagementBinauthzConfig",
      "description": "Configuration for Binauthz",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether binauthz is enabled in this cluster."
        }
      }
    },
    "FeatureState": {
      "type": "object",
      "description": "FeatureState describes the high-level state of a Feature. It may be used to describe a Feature's state at the environ-level, or per-membershop, depending on the context.",
      "id": "FeatureState",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this status and any related Feature-specific details were updated."
        },
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The high-level, machine-readable status of this Feature.",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unknown or not set.",
            "The Feature is operating normally.",
            "The Feature has encountered an issue, and is operating in a degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information.",
            "The Feature is not operating or is in a severely degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information."
          ]
        }
      }
    },
    "PolicyControllerTemplateLibraryConfig": {
      "description": "The config specifying which default library templates to install.",
      "properties": {
        "included": {
          "description": "Whether the standard template library should be installed or not.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PolicyControllerTemplateLibraryConfig"
    },
    "ConfigManagementSyncError": {
      "id": "ConfigManagementSyncError",
      "description": "An ACM created error representing a problem syncing configurations",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "A description of the error",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        },
        "errorResources": {
          "type": "array",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          },
          "description": "A list of config(s) associated with the error, if any"
        }
      }
    },
    "ConfigManagementMembershipState": {
      "description": "**Anthos Config Management**: State for a single cluster.",
      "type": "object",
      "id": "ConfigManagementMembershipState",
      "properties": {
        "hierarchyControllerState": {
          "description": "Hierarchy Controller status",
          "$ref": "ConfigManagementHierarchyControllerState"
        },
        "membershipSpec": {
          "$ref": "ConfigManagementMembershipSpec",
          "description": "Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state"
        },
        "binauthzState": {
          "$ref": "ConfigManagementBinauthzState",
          "description": "Binauthz status"
        },
        "operatorState": {
          "description": "Current install status of ACM's Operator",
          "$ref": "ConfigManagementOperatorState"
        },
        "policyControllerState": {
          "$ref": "ConfigManagementPolicyControllerState",
          "description": "PolicyController status"
        },
        "configSyncState": {
          "description": "Current sync status",
          "$ref": "ConfigManagementConfigSyncState"
        },
        "clusterName": {
          "type": "string",
          "description": "The user-defined name for the cluster used by ClusterSelectors to group clusters together. This should match Membership's membership_name, unless the user installed ACM on the cluster manually prior to enabling the ACM hub feature. Unique within a Anthos Config Management installation."
        }
      }
    },
    "PolicyControllerMembershipSpec": {
      "type": "object",
      "id": "PolicyControllerMembershipSpec",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of Policy Controller installed."
        },
        "policyControllerHubConfig": {
          "description": "Policy Controller configuration for the cluster.",
          "$ref": "PolicyControllerHubConfig"
        }
      },
      "description": "**Policy Controller**: Configuration for a single cluster. Intended to parallel the PolicyController CR."
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "ConfigManagementBinauthzState": {
      "description": "State for Binauthz",
      "type": "object",
      "properties": {
        "webhook": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "The state of the binauthz webhook."
        },
        "version": {
          "description": "The version of binauthz that is installed.",
          "$ref": "ConfigManagementBinauthzVersion"
        }
      },
      "id": "ConfigManagementBinauthzState"
    },
    "ConfigManagementHierarchyControllerConfig": {
      "id": "ConfigManagementHierarchyControllerConfig",
      "properties": {
        "enabled": {
          "description": "Whether Hierarchy Controller is enabled in this cluster.",
          "type": "boolean"
        },
        "enableHierarchicalResourceQuota": {
          "type": "boolean",
          "description": "Whether hierarchical resource quota is enabled in this cluster."
        },
        "enablePodTreeLabels": {
          "type": "boolean",
          "description": "Whether pod tree labels are enabled in this cluster."
        }
      },
      "type": "object",
      "description": "Configuration for Hierarchy Controller"
    },
    "ConfigManagementPolicyControllerState": {
      "type": "object",
      "id": "ConfigManagementPolicyControllerState",
      "description": "State for PolicyControllerState.",
      "properties": {
        "deploymentState": {
          "description": "The state about the policy controller installation.",
          "$ref": "ConfigManagementGatekeeperDeploymentState"
        },
        "version": {
          "description": "The version of Gatekeeper Policy Controller deployed.",
          "$ref": "ConfigManagementPolicyControllerVersion"
        }
      }
    },
    "PolicyControllerHubConfig": {
      "type": "object",
      "description": "Configuration for Policy Controller",
      "id": "PolicyControllerHubConfig",
      "properties": {
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "installSpec": {
          "enumDescriptions": [
            "Spec is unknown.",
            "Request to uninstall Policy Controller.",
            "Request to install and enable Policy Controller.",
            "Request to disable Policy Controller. If Policy Controller is not installed, it will be installed but disabled."
          ],
          "enum": [
            "INSTALL_SPEC_UNSPECIFIED",
            "INSTALL_SPEC_NOT_INSTALLED",
            "INSTALL_SPEC_ENABLED",
            "INSTALL_SPEC_DISABLED"
          ],
          "type": "string",
          "description": "The install_spec represents the intended state specified by the latest request that mutated install_spec in the feature spec, not the lifecycle state of the feature observed by the Hub feature controller that is reported in the feature state."
        },
        "exemptableNamespaces": {
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "auditIntervalSeconds": {
          "type": "string",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether.",
          "format": "int64"
        },
        "templateLibraryConfig": {
          "description": "Configures the library templates to install along with Policy Controller.",
          "$ref": "PolicyControllerTemplateLibraryConfig"
        },
        "logDeniesEnabled": {
          "description": "Logs all denies and dry run failures.",
          "type": "boolean"
        }
      }
    },
    "ConfigManagementBinauthzVersion": {
      "properties": {
        "webhookVersion": {
          "type": "string",
          "description": "The version of the binauthz webhook."
        }
      },
      "description": "The version of binauthz.",
      "type": "object",
      "id": "ConfigManagementBinauthzVersion"
    },
    "MembershipSpec": {
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster.",
      "type": "object",
      "id": "MembershipSpec",
      "properties": {
        "securityPolicy": {
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ],
          "type": "string",
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ]
        },
        "version": {
          "description": "Version of the cloud build software on the cluster.",
          "type": "string"
        }
      }
    },
    "Feature": {
      "properties": {
        "membershipStates": {
          "type": "object",
          "additionalProperties": {
            "$ref": "MembershipFeatureState"
          },
          "readOnly": true,
          "description": "Output only. Membership-specific Feature status. If this Feature does report any per-Membership status, this field may be unused. The keys indicate which Membership the state is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project number, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} MUST match the Feature's project number."
        },
        "membershipSpecs": {
          "additionalProperties": {
            "$ref": "MembershipFeatureSpec"
          },
          "type": "object",
          "description": "Optional. Membership-specific configuration for this Feature. If this Feature does not support any per-Membership configuration, this field may be unused. The keys indicate which Membership the configuration is for, in the form: `projects/{p}/locations/{l}/memberships/{m}` Where {p} is the project, {l} is a valid location and {m} is a valid Membership in this project at that location. {p} WILL match the Feature's project. {p} will always be returned as the project number, but the project ID is also accepted during input. If the same Membership is specified in the map twice (using the project ID form, and the project number form), exactly ONE of the entries will be saved, with no guarantees as to which. For this reason, it is recommended the same format be used for all entries when mutating a Feature."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the Feature resource was created.",
          "format": "google-datetime"
        },
        "resourceState": {
          "description": "Output only. State of the Feature resource itself.",
          "readOnly": true,
          "$ref": "FeatureResourceState"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the Feature resource was last updated.",
          "format": "google-datetime"
        },
        "spec": {
          "description": "Optional. Hub-wide Feature configuration. If this Feature does not support any Hub-wide configuration, this field may be unused.",
          "$ref": "CommonFeatureSpec"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. When the Feature resource was deleted.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "$ref": "CommonFeatureState",
          "description": "Output only. The Hub-wide Feature state."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full, unique name of this Feature resource in the format `projects/*/locations/*/features/*`."
        },
        "labels": {
          "type": "object",
          "description": "GCP labels for this Feature.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Feature represents the settings and status of any Hub Feature.",
      "id": "Feature",
      "type": "object"
    },
    "ConfigManagementHierarchyControllerState": {
      "properties": {
        "version": {
          "$ref": "ConfigManagementHierarchyControllerVersion",
          "description": "The version for Hierarchy Controller"
        },
        "state": {
          "description": "The deployment state for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerDeploymentState"
        }
      },
      "type": "object",
      "id": "ConfigManagementHierarchyControllerState",
      "description": "State for Hierarchy Controller"
    },
    "ConfigManagementSyncState": {
      "id": "ConfigManagementSyncState",
      "description": "State indicating an ACM's progress syncing configurations to a cluster",
      "properties": {
        "sourceToken": {
          "type": "string",
          "description": "Token indicating the state of the repo."
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "ACM cannot determine a sync code",
            "ACM successfully synced the git Repo with the cluster",
            "ACM is in the progress of syncing a new change",
            "Indicates an error configuring ACM, and user action is required",
            "ACM has been installed (operator manifest deployed), but not configured.",
            "ACM has not been installed (no operator pod found)",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "description": "Sync status code"
        },
        "lastSyncTime": {
          "description": "Timestamp type of when ACM last successfully synced the repo",
          "format": "google-datetime",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementSyncError"
          },
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist.",
          "type": "array"
        },
        "lastSync": {
          "type": "string",
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String"
        },
        "syncToken": {
          "type": "string",
          "description": "Token indicating the state of the syncer."
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementGitConfig": {
      "id": "ConfigManagementGitConfig",
      "description": "Git repo configuration for a single cluster.",
      "type": "object",
      "properties": {
        "policyDir": {
          "type": "string",
          "description": "The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository."
        },
        "httpsProxy": {
          "type": "string",
          "description": "URL for the HTTPS proxy to be used when communicating with the Git repo."
        },
        "syncRepo": {
          "description": "The URL of the Git repository to use as the source of truth.",
          "type": "string"
        },
        "syncBranch": {
          "type": "string",
          "description": "The branch of the repository to sync from. Default: master."
        },
        "secretType": {
          "type": "string",
          "description": "Type of secret configured for access to the Git repo. Must be one of ssh, cookiefile, gcenode, token, gcpserviceaccount or none. The validation of this is case-sensitive. Required."
        },
        "syncRev": {
          "description": "Git revision (tag or hash) to check out. Default HEAD.",
          "type": "string"
        },
        "gcpServiceAccountEmail": {
          "description": "The GCP Service Account Email used for auth when secret_type is gcpServiceAccount.",
          "type": "string"
        },
        "syncWaitSecs": {
          "type": "string",
          "format": "int64",
          "description": "Period in seconds between consecutive syncs. Default: 15."
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "type": "object"
    },
    "Expr": {
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "MembershipFeatureState": {
      "type": "object",
      "description": "MembershipFeatureState contains Feature status information for a single Membership.",
      "id": "MembershipFeatureState",
      "properties": {
        "policycontroller": {
          "$ref": "PolicyControllerMembershipState",
          "description": "Policycontroller-specific state."
        },
        "metering": {
          "$ref": "MeteringMembershipState",
          "description": "Metering-specific spec."
        },
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceFeatureState"
        },
        "identityservice": {
          "$ref": "IdentityServiceMembershipState",
          "description": "Identity Service-specific state."
        },
        "state": {
          "description": "The high-level state of this Feature for a single membership.",
          "$ref": "FeatureState"
        },
        "configmanagement": {
          "$ref": "ConfigManagementMembershipState",
          "description": "Config Management-specific state."
        }
      }
    },
    "PolicyControllerHubState": {
      "properties": {
        "version": {
          "$ref": "PolicyControllerHubVersion",
          "description": "The version of Gatekeeper Policy Controller deployed."
        },
        "deploymentStates": {
          "description": "Map from deployment name to deployment state. Example deployments are gatekeeper-controller-manager, gatekeeper-audit deployment, and gatekeeper-mutation.",
          "type": "object",
          "additionalProperties": {
            "enum": [
              "DEPLOYMENT_STATE_UNSPECIFIED",
              "DEPLOYMENT_STATE_NOT_INSTALLED",
              "DEPLOYMENT_STATE_INSTALLED",
              "DEPLOYMENT_STATE_ERROR"
            ],
            "enumDescriptions": [
              "Deployment's state cannot be determined",
              "Deployment is not installed",
              "Deployment is installed",
              "Deployment was attempted to be installed, but has errors"
            ],
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PolicyControllerHubState",
      "description": "State of the Policy Controller."
    },
    "ConfigManagementPolicyController": {
      "properties": {
        "referentialRulesEnabled": {
          "description": "Enables the ability to use Constraint Templates that reference to objects other than the object currently being evaluated.",
          "type": "boolean"
        },
        "templateLibraryInstalled": {
          "description": "Installs the default template library along with Policy Controller.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of Policy Controller. If false, the rest of PolicyController fields take no effect."
        },
        "logDeniesEnabled": {
          "type": "boolean",
          "description": "Logs all denies and dry run failures."
        },
        "exemptableNamespaces": {
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces that are excluded from Policy Controller checks. Namespaces do not need to currently exist on the cluster.",
          "type": "array"
        },
        "auditIntervalSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Sets the interval for Policy Controller Audit Scans (in seconds). When set to 0, this disables audit functionality altogether."
        }
      },
      "description": "Configuration for Policy Controller",
      "type": "object",
      "id": "ConfigManagementPolicyController"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Policy"
    },
    "ConfigManagementConfigSync": {
      "properties": {
        "git": {
          "description": "Git repo configuration for the cluster.",
          "$ref": "ConfigManagementGitConfig"
        },
        "preventDrift": {
          "description": "Set to true to enable the Config Sync admission webhook to prevent drifts. If set to `false`, disables the Config Sync admission webhook and does not prevent drifts.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Enables the installation of ConfigSync. If set to true, ConfigSync resources will be created and the other ConfigSync fields will be applied if exist. If set to false, all other ConfigSync fields will be ignored, ConfigSync resources will be deleted. If omitted, ConfigSync resources will be managed depends on the presence of git field.",
          "type": "boolean"
        },
        "sourceFormat": {
          "type": "string",
          "description": "Specifies whether the Config Sync Repo is in “hierarchical” or “unstructured” mode."
        }
      },
      "type": "object",
      "id": "ConfigManagementConfigSync",
      "description": "Configuration for Config Sync"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "ConfigManagementHierarchyControllerDeploymentState": {
      "properties": {
        "extension": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "The deployment state for Hierarchy Controller extension (e.g. v0.7.0-hc.1)",
          "type": "string"
        },
        "hnc": {
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "The deployment state for open source HNC (e.g. v0.7.0-hc.0)"
        }
      },
      "type": "object",
      "id": "ConfigManagementHierarchyControllerDeploymentState",
      "description": "Deployment state for Hierarchy Controller"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "MeteringMembershipState": {
      "type": "object",
      "description": "**Metering**: Per-Membership Feature State.",
      "properties": {
        "lastMeasurementTime": {
          "description": "The time stamp of the most recent measurement of the number of vCPUs in the cluster.",
          "format": "google-datetime",
          "type": "string"
        },
        "preciseLastMeasuredClusterVcpuCapacity": {
          "type": "number",
          "format": "float",
          "description": "The vCPUs capacity in the cluster according to the most recent measurement (1/1000 precision)."
        }
      },
      "id": "MeteringMembershipState"
    },
    "MultiClusterIngressFeatureSpec": {
      "description": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature.",
      "id": "MultiClusterIngressFeatureSpec",
      "properties": {
        "billing": {
          "type": "string",
          "enum": [
            "BILLING_UNSPECIFIED",
            "PAY_AS_YOU_GO",
            "ANTHOS_LICENSE"
          ],
          "enumDescriptions": [
            "Unknown",
            "User pays a fee per-endpoint.",
            "User is paying for Anthos as a whole."
          ],
          "description": "Deprecated: This field will be ignored and should not be set. Customer's billing structure."
        },
        "configMembership": {
          "type": "string",
          "description": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`"
        }
      },
      "type": "object"
    },
    "CommonFeatureState": {
      "properties": {
        "appdevexperience": {
          "description": "Appdevexperience specific state.",
          "$ref": "AppDevExperienceFeatureState"
        },
        "state": {
          "$ref": "FeatureState",
          "description": "Output only. The \"running state\" of the Feature in this Hub.",
          "readOnly": true
        }
      },
      "id": "CommonFeatureState",
      "description": "CommonFeatureState contains Hub-wide Feature status information.",
      "type": "object"
    },
    "ConfigManagementPolicyControllerVersion": {
      "properties": {
        "version": {
          "type": "string",
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number."
        }
      },
      "description": "The build version of Gatekeeper Policy Controller is using.",
      "id": "ConfigManagementPolicyControllerVersion",
      "type": "object"
    },
    "ConfigManagementConfigSyncVersion": {
      "properties": {
        "syncer": {
          "description": "Version of the deployed syncer pod",
          "type": "string"
        },
        "admissionWebhook": {
          "description": "Version of the deployed admission_webhook pod",
          "type": "string"
        },
        "importer": {
          "description": "Version of the deployed importer pod",
          "type": "string"
        },
        "rootReconciler": {
          "type": "string",
          "description": "Version of the deployed reconciler container in root-reconciler pod"
        },
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod"
        },
        "monitor": {
          "type": "string",
          "description": "Version of the deployed monitor pod"
        },
        "reconcilerManager": {
          "type": "string",
          "description": "Version of the deployed reconciler-manager pod"
        }
      },
      "type": "object",
      "description": "Specific versioning information pertaining to ConfigSync's Pods",
      "id": "ConfigManagementConfigSyncVersion"
    },
    "ConfigManagementMembershipSpec": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of ACM installed."
        },
        "configSync": {
          "description": "Config Sync configuration for the cluster.",
          "$ref": "ConfigManagementConfigSync"
        },
        "hierarchyController": {
          "description": "Hierarchy Controller configuration for the cluster.",
          "$ref": "ConfigManagementHierarchyControllerConfig"
        },
        "policyController": {
          "description": "Policy Controller configuration for the cluster.",
          "$ref": "ConfigManagementPolicyController"
        },
        "binauthz": {
          "$ref": "ConfigManagementBinauthzConfig",
          "description": "Binauthz conifguration for the cluster."
        }
      },
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "id": "ConfigManagementMembershipSpec",
      "type": "object"
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "description": "State of Policy Controller installation.",
      "type": "object",
      "properties": {
        "gatekeeperAudit": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "description": "Status of gatekeeper-audit deployment."
        },
        "gatekeeperControllerManagerState": {
          "description": "Status of gatekeeper-controller-manager pod.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        }
      },
      "id": "ConfigManagementGatekeeperDeploymentState"
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging."
    },
    "ListFeaturesResponse": {
      "id": "ListFeaturesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListFeatures` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "Feature"
          },
          "type": "array",
          "description": "The list of matching Features"
        }
      },
      "description": "Response message for the `GkeHub.ListFeatures` method.",
      "type": "object"
    },
    "ConfigManagementInstallError": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      },
      "description": "Errors pertaining to the installation of ACM",
      "id": "ConfigManagementInstallError"
    },
    "ConfigManagementConfigSyncDeploymentState": {
      "type": "object",
      "id": "ConfigManagementConfigSyncDeploymentState",
      "properties": {
        "gitSync": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Deployment state of the git-sync pod",
          "type": "string"
        },
        "monitor": {
          "description": "Deployment state of the monitor pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "importer": {
          "description": "Deployment state of the importer pod",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "admissionWebhook": {
          "description": "Deployment state of admission-webhook",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string"
        },
        "syncer": {
          "description": "Deployment state of the syncer pod",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "reconcilerManager": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "description": "Deployment state of reconciler-manager pod",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "rootReconciler": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Deployment state of root-reconciler"
        }
      },
      "description": "The state of ConfigSync's deployment on a cluster"
    },
    "IdentityServiceOidcConfig": {
      "description": "Configuration for OIDC Auth flow.",
      "type": "object",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Unencrypted OIDC client secret will be passed to the GKE Hub CLH."
        },
        "encryptedClientSecret": {
          "readOnly": true,
          "description": "Output only. Encrypted OIDC Client secret",
          "format": "byte",
          "type": "string"
        },
        "groupPrefix": {
          "type": "string",
          "description": "Prefix to prepend to group name."
        },
        "groupsClaim": {
          "type": "string",
          "description": "Claim in OIDC ID token that holds group information."
        },
        "issuerUri": {
          "description": "URI for the OIDC provider. This should point to the level below .well-known/openid-configuration.",
          "type": "string"
        },
        "userPrefix": {
          "type": "string",
          "description": "Prefix to prepend to user name."
        },
        "scopes": {
          "type": "string",
          "description": "Comma-separated list of identifiers."
        },
        "userClaim": {
          "description": "Claim in OIDC ID token that holds username.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "ID for OIDC client application."
        },
        "certificateAuthorityData": {
          "description": "PEM-encoded CA for OIDC provider.",
          "type": "string"
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "Registered redirect uri to redirect users going through OAuth flow using kubectl plugin."
        },
        "extraParams": {
          "type": "string",
          "description": "Comma-separated list of key-value pairs."
        },
        "deployCloudConsoleProxy": {
          "description": "Flag to denote if reverse proxy is used to connect to auth provider. This flag should be set to true when provider is not reachable by Google Cloud Console.",
          "type": "boolean"
        }
      },
      "id": "IdentityServiceOidcConfig"
    },
    "IdentityServiceMembershipState": {
      "type": "object",
      "description": "**Anthos Identity Service**: State for a single Membership.",
      "properties": {
        "memberConfig": {
          "description": "Last reconciled membership configuration",
          "$ref": "IdentityServiceMembershipSpec"
        },
        "state": {
          "description": "Deployment state on this member",
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "OK",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "deployment succeeds",
            "Failure with error."
          ]
        },
        "installedVersion": {
          "description": "Installed AIS version. This is the AIS version installed on this member. The values makes sense iff state is OK.",
          "type": "string"
        },
        "failureReason": {
          "description": "The reason of the failure.",
          "type": "string"
        }
      },
      "id": "IdentityServiceMembershipState"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "PolicyControllerMembershipState": {
      "id": "PolicyControllerMembershipState",
      "properties": {
        "state": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR"
          ],
          "description": "The lifecycle state Policy Controller is in.",
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it’s operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as ‘install’).",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to ‘take hands off’ to avoid corrupting the PC or other data."
          ],
          "type": "string"
        },
        "membershipSpec": {
          "$ref": "PolicyControllerMembershipSpec",
          "description": "Membership configuration in the cluster. This represents the actual state in the cluster, while the MembershipSpec in the FeatureSpec represents the intended state"
        },
        "clusterName": {
          "type": "string",
          "description": "The user-defined name for the cluster used by ClusterSelectors to group clusters together. This should match Membership's membership_name, unless the user installed PC on the cluster manually prior to enabling the PC hub feature. Unique within a Policy Controller installation."
        },
        "policyControllerHubState": {
          "$ref": "PolicyControllerHubState",
          "description": "Policy Controller state observed by the Policy Controller Hub"
        }
      },
      "type": "object",
      "description": "**Policy Controller**: State for a single cluster."
    },
    "AppDevExperienceFeatureSpec": {
      "type": "object",
      "id": "AppDevExperienceFeatureSpec",
      "description": "Spec for App Dev Experience Feature.",
      "properties": {}
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ConfigManagementErrorResource": {
      "description": "Model for a config file in the git repo with an associated Sync error",
      "id": "ConfigManagementErrorResource",
      "properties": {
        "resourceGvk": {
          "description": "Group/version/kind of the resource that is causing an error",
          "$ref": "ConfigManagementGroupVersionKind"
        },
        "resourceNamespace": {
          "type": "string",
          "description": "Namespace of the resource that is causing an error"
        },
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        },
        "resourceName": {
          "description": "Metadata name of the resource that is causing an error",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementHierarchyControllerVersion": {
      "description": "Version for Hierarchy Controller",
      "type": "object",
      "id": "ConfigManagementHierarchyControllerVersion",
      "properties": {
        "hnc": {
          "description": "Version for open source HNC",
          "type": "string"
        },
        "extension": {
          "type": "string",
          "description": "Version for Hierarchy Controller extension"
        }
      }
    },
    "IdentityServiceAuthMethod": {
      "type": "object",
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "properties": {
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "proxy": {
          "type": "string",
          "description": "Proxy server address to use for auth method."
        },
        "oidcConfig": {
          "description": "OIDC specific configuration.",
          "$ref": "IdentityServiceOidcConfig"
        }
      },
      "id": "IdentityServiceAuthMethod"
    },
    "AnthosObservabilityFeatureSpec": {
      "type": "object",
      "id": "AnthosObservabilityFeatureSpec",
      "properties": {
        "defaultMembershipSpec": {
          "description": "default membership spec for unconfigured memberships",
          "$ref": "AnthosObservabilityMembershipSpec"
        }
      },
      "description": "**Anthos Observability**: Spec"
    },
    "CommonFeatureSpec": {
      "description": "CommonFeatureSpec contains Hub-wide configuration information",
      "id": "CommonFeatureSpec",
      "type": "object",
      "properties": {
        "multiclusteringress": {
          "description": "Multicluster Ingress-specific spec.",
          "$ref": "MultiClusterIngressFeatureSpec"
        },
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureSpec",
          "description": "Appdevexperience specific spec."
        },
        "anthosobservability": {
          "$ref": "AnthosObservabilityFeatureSpec",
          "description": "Anthos Observability spec"
        }
      }
    },
    "IdentityServiceMembershipSpec": {
      "description": "**Anthos Identity Service**: Configuration for a single Membership.",
      "id": "IdentityServiceMembershipSpec",
      "type": "object",
      "properties": {
        "authMethods": {
          "type": "array",
          "items": {
            "$ref": "IdentityServiceAuthMethod"
          },
          "description": "A member may support multiple auth methods."
        }
      }
    },
    "AnthosObservabilityMembershipSpec": {
      "id": "AnthosObservabilityMembershipSpec",
      "properties": {
        "doNotOptimizeMetrics": {
          "type": "boolean",
          "description": "use full of metrics rather than optimized metrics. See https://cloud.google.com/anthos/clusters/docs/on-prem/1.8/concepts/logging-and-monitoring#optimized_metrics_default_metrics"
        },
        "version": {
          "type": "string",
          "description": "the version of stackdriver operator used by this feature"
        },
        "enableStackdriverOnApplications": {
          "description": "enable collecting and reporting metrics and logs from user apps See go/onyx-application-metrics-logs-user-guide",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "**Anthosobservability**: Per-Membership Feature spec."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "ConfigManagementOperatorState": {
      "description": "State information for an ACM's Operator",
      "id": "ConfigManagementOperatorState",
      "properties": {
        "deploymentState": {
          "type": "string",
          "description": "The state of the Operator's deployment",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "type": "array",
          "description": "Install errors."
        },
        "version": {
          "description": "The semenatic version number of the operator",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuditLogConfig": {
      "type": "object",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "Status specifies state for the subcomponent.",
      "id": "Status",
      "properties": {
        "code": {
          "description": "Code specifies AppDevExperienceFeature's subcomponent ready state.",
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "FAILED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Not set.",
            "AppDevExperienceFeature's specified subcomponent is ready.",
            "AppDevExperienceFeature's specified subcomponent ready state is false. This means AppDevExperienceFeature has encountered an issue that blocks all, or a portion, of its normal operation. See the `description` for more details.",
            "AppDevExperienceFeature's specified subcomponent has a pending or unknown state."
          ]
        },
        "description": {
          "description": "Description is populated if Code is Failed, explaining why it has failed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConfigManagementGroupVersionKind": {
      "id": "ConfigManagementGroupVersionKind",
      "description": "A Kubernetes object's GVK",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kubernetes Kind"
        },
        "version": {
          "description": "Kubernetes Version",
          "type": "string"
        },
        "group": {
          "description": "Kubernetes Group",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "AppDevExperienceFeatureState": {
      "type": "object",
      "id": "AppDevExperienceFeatureState",
      "properties": {
        "networkingInstallSucceeded": {
          "$ref": "Status",
          "description": "Status of subcomponent that detects configured Service Mesh resources."
        }
      },
      "description": "State for App Dev Exp Feature."
    },
    "PolicyControllerHubVersion": {
      "description": "The build version of Gatekeeper that Policy Controller is using.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number."
        }
      },
      "id": "PolicyControllerHubVersion"
    },
    "ConfigManagementConfigSyncState": {
      "properties": {
        "deploymentState": {
          "description": "Information about the deployment of ConfigSync, including the version of the various Pods deployed",
          "$ref": "ConfigManagementConfigSyncDeploymentState"
        },
        "syncState": {
          "description": "The state of ConfigSync's process to sync configs to a cluster",
          "$ref": "ConfigManagementSyncState"
        },
        "version": {
          "$ref": "ConfigManagementConfigSyncVersion",
          "description": "The version of ConfigSync deployed"
        }
      },
      "description": "State information for ConfigSync",
      "id": "ConfigManagementConfigSyncState",
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "features": {
              "methods": {
                "get": {
                  "description": "Gets details of a single Feature.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/features/{featuresId}",
                  "response": {
                    "$ref": "Feature"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The Feature resource name in the format `projects/*/locations/*/features/*`"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "id": "gkehub.projects.locations.features.get"
                },
                "setIamPolicy": {
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "httpMethod": "POST",
                  "id": "gkehub.projects.locations.features.setIamPolicy",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/features/{featuresId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1beta/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListFeaturesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Features in a given project and location.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "When requesting a 'page' of resources, `page_size` specifies number of resources to return. If unspecified or set to 0, all resources will be returned.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Token returned by previous call to `ListFeatures` which specifies the position in the list from where to continue listing the resources.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent (project and location) where the Features will be listed. Specified in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "Lists Features that match the filter expression, following the syntax outlined in https://google.aip.dev/160. Examples: - Feature with the name \"servicemesh\" in project \"foo-proj\": name = \"projects/foo-proj/locations/global/features/servicemesh\" - Features that have a label called `foo`: labels.foo:* - Features that have a label called `foo` whose value is `bar`: labels.foo = bar",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/features",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "gkehub.projects.locations.features.list",
                  "path": "v1beta/{+parent}/features"
                },
                "delete": {
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$",
                      "description": "Required. The Feature resource name in the format `projects/*/locations/*/features/*`."
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set to true, the delete will ignore any outstanding resources for this Feature (that is, `FeatureState.has_resources` is set to true). These resources will NOT be cleaned up or modified in any way."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Removes a Feature.",
                  "path": "v1beta/{+name}",
                  "id": "gkehub.projects.locations.features.delete",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/features/{featuresId}",
                  "httpMethod": "DELETE"
                },
                "testIamPermissions": {
                  "id": "gkehub.projects.locations.features.testIamPermissions",
                  "path": "v1beta/{+resource}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/features/{featuresId}:testIamPermissions",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/features/{featuresId}:getIamPolicy",
                  "id": "gkehub.projects.locations.features.getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "gkehub.projects.locations.features.create",
                  "description": "Adds a new Feature.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/features",
                  "path": "v1beta/{+parent}/features",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "featureId": {
                      "location": "query",
                      "type": "string",
                      "description": "The ID of the feature to create."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "description": "Required. The parent (project and location) where the Feature will be created. Specified in the format `projects/*/locations/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Feature"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "gkehub.projects.locations.features.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/features/{featuresId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates an existing Feature.",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "requestId": {
                      "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Mask of fields to update.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The Feature resource name in the format `projects/*/locations/*/features/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/features/[^/]+$"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Feature"
                  }
                }
              }
            },
            "memberships": {
              "methods": {
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+resource}:setIamPolicy",
                  "id": "gkehub.projects.locations.memberships.setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/memberships/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
                },
                "getIamPolicy": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/memberships/{membershipsId}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "id": "gkehub.projects.locations.memberships.getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta/{+resource}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
[...]
