{
  "ownerDomain": "google.com",
  "canonicalName": "GKE Hub",
  "documentationLink": "https://cloud.google.com/anthos/multicluster-management/connect/registering-a-cluster",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "basePath": "",
  "name": "gkehub",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20230627",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://gkehub.googleapis.com/",
  "schemas": {
    "ConfigManagementInstallError": {
      "id": "ConfigManagementInstallError",
      "properties": {
        "errorMessage": {
          "description": "A string representing the user facing error message",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Errors pertaining to the installation of ACM"
    },
    "ConfigManagementSyncError": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "A description of the error",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "An ACM defined error code"
        },
        "errorResources": {
          "type": "array",
          "description": "A list of config(s) associated with the error, if any",
          "items": {
            "$ref": "ConfigManagementErrorResource"
          }
        }
      },
      "id": "ConfigManagementSyncError",
      "description": "An ACM created error representing a problem syncing configurations"
    },
    "RBACRoleBindingLifecycleState": {
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The rbacrolebinding is being created.",
            "The rbacrolebinding active.",
            "The rbacrolebinding is being deleted.",
            "The rbacrolebinding is being updated."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "description": "Output only. The current state of the rbacrolebinding resource."
        }
      },
      "id": "RBACRoleBindingLifecycleState",
      "description": "RBACRoleBindingLifecycleState describes the state of a RbacRoleBinding resource.",
      "type": "object"
    },
    "GenerateConnectManifestResponse": {
      "properties": {
        "manifest": {
          "items": {
            "$ref": "ConnectAgentResource"
          },
          "type": "array",
          "description": "The ordered list of Kubernetes resources that need to be applied to the cluster for GKE Connect agent installation/upgrade."
        }
      },
      "id": "GenerateConnectManifestResponse",
      "type": "object",
      "description": "GenerateConnectManifestResponse contains manifest information for installing/upgrading a Connect agent."
    },
    "ConfigManagementConfigSync": {
      "description": "Configuration for Config Sync",
      "type": "object",
      "properties": {
        "preventDrift": {
          "description": "Set to true to enable the Config Sync admission webhook to prevent drifts. If set to `false`, disables the Config Sync admission webhook and does not prevent drifts.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Enables the installation of ConfigSync. If set to true, ConfigSync resources will be created and the other ConfigSync fields will be applied if exist. If set to false, all other ConfigSync fields will be ignored, ConfigSync resources will be deleted. If omitted, ConfigSync resources will be managed depends on the presence of the git or oci field."
        },
        "oci": {
          "$ref": "ConfigManagementOciConfig",
          "description": "OCI repo configuration for the cluster"
        },
        "metricsGcpServiceAccountEmail": {
          "description": "The Email of the Google Cloud Service Account (GSA) used for exporting Config Sync metrics to Cloud Monitoring and Cloud Monarch when Workload Identity is enabled. The GSA should have the Monitoring Metric Writer (roles/monitoring.metricWriter) IAM role. The Kubernetes ServiceAccount `default` in the namespace `config-management-monitoring` should be binded to the GSA. This field is required when automatic Feature management is enabled.",
          "type": "string"
        },
        "allowVerticalScale": {
          "description": "Set to true to allow the vertical scaling. Defaults to false which disallows vertical scaling. This field is deprecated.",
          "type": "boolean",
          "deprecated": true
        },
        "sourceFormat": {
          "type": "string",
          "description": "Specifies whether the Config Sync Repo is in \"hierarchical\" or \"unstructured\" mode."
        },
        "git": {
          "$ref": "ConfigManagementGitConfig",
          "description": "Git repo configuration for the cluster."
        },
        "stopSyncing": {
          "description": "Set to true to stop syncing configs for a single cluster when automatic Feature management is enabled. Default to false. The field will be ignored when automatic Feature management is disabled.",
          "type": "boolean"
        }
      },
      "id": "ConfigManagementConfigSync"
    },
    "ScopeFeatureState": {
      "properties": {
        "clusterupgrade": {
          "description": "State for the ClusterUpgrade feature at the scope level",
          "$ref": "ClusterUpgradeScopeState"
        },
        "state": {
          "description": "Output only. The \"running state\" of the Feature in this Scope.",
          "$ref": "FeatureState",
          "readOnly": true
        }
      },
      "description": "ScopeFeatureState contains Scope-wide Feature status information.",
      "type": "object",
      "id": "ScopeFeatureState"
    },
    "CloudAuditLoggingFeatureSpec": {
      "description": "**Cloud Audit Logging**: Spec for Audit Logging Allowlisting.",
      "properties": {
        "allowlistedServiceAccounts": {
          "items": {
            "type": "string"
          },
          "description": "Service account that should be allowlisted to send the audit logs; eg cloudauditlogging@gcp-project.iam.gserviceaccount.com. These accounts must already exist, but do not need to have any permissions granted to them. The customer's entitlements will be checked prior to allowlisting (i.e. the customer must be an Anthos customer.)",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CloudAuditLoggingFeatureSpec"
    },
    "ConfigManagementConfigSyncState": {
      "id": "ConfigManagementConfigSyncState",
      "properties": {
        "syncState": {
          "description": "The state of ConfigSync's process to sync configs to a cluster",
          "$ref": "ConfigManagementSyncState"
        },
        "deploymentState": {
          "description": "Information about the deployment of ConfigSync, including the version of the various Pods deployed",
          "$ref": "ConfigManagementConfigSyncDeploymentState"
        },
        "version": {
          "description": "The version of ConfigSync deployed",
          "$ref": "ConfigManagementConfigSyncVersion"
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementConfigSyncError"
          },
          "description": "Errors pertaining to the installation of Config Sync.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "State information for ConfigSync"
    },
    "FleetLifecycleState": {
      "description": "FleetLifecycleState describes the state of a Fleet resource.",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the Fleet resource.",
          "enumDescriptions": [
            "The code is not set.",
            "The fleet is being created.",
            "The fleet active.",
            "The fleet is being deleted.",
            "The fleet is being updated."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "FleetLifecycleState"
    },
    "NamespaceLifecycleState": {
      "id": "NamespaceLifecycleState",
      "properties": {
        "code": {
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The namespace is being created.",
            "The namespace active.",
            "The namespace is being deleted.",
            "The namespace is being updated."
          ],
          "description": "Output only. The current state of the Namespace resource.",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "NamespaceLifecycleState describes the state of a Namespace resource."
    },
    "KubernetesMetadata": {
      "id": "KubernetesMetadata",
      "type": "object",
      "properties": {
        "memoryMb": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The total memory capacity as reported by the sum of all Kubernetes nodes resources, defined in MB."
        },
        "nodeProviderId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Node providerID as reported by the first node in the list of nodes on the Kubernetes endpoint. On Kubernetes platforms that support zero-node clusters (like GKE-on-GCP), the node_count will be zero and the node_provider_id will be empty."
        },
        "vcpuCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. vCPU count as reported by Kubernetes nodes resources."
        },
        "kubernetesApiServerVersion": {
          "type": "string",
          "description": "Output only. Kubernetes API server version string as reported by `/version`.",
          "readOnly": true
        },
        "nodeCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Node count as reported by Kubernetes nodes resources."
        },
        "updateTime": {
          "description": "Output only. The time at which these details were last updated. This update_time is different from the Membership-level update_time since EndpointDetails are updated internally for API consumers.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "KubernetesMetadata provides informational metadata for Memberships representing Kubernetes clusters."
    },
    "ClusterUpgradeMembershipGKEUpgradeState": {
      "properties": {
        "upgrade": {
          "$ref": "ClusterUpgradeGKEUpgrade",
          "description": "Which upgrade to track the state."
        },
        "status": {
          "$ref": "ClusterUpgradeUpgradeStatus",
          "description": "Status of the upgrade."
        }
      },
      "description": "ScopeGKEUpgradeState is a GKEUpgrade and its state per-membership.",
      "id": "ClusterUpgradeMembershipGKEUpgradeState",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      }
    },
    "ConfigManagementOciConfig": {
      "type": "object",
      "id": "ConfigManagementOciConfig",
      "description": "OCI repo configuration for a single cluster",
      "properties": {
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "The Google Cloud Service Account Email used for auth when secret_type is gcpServiceAccount."
        },
        "secretType": {
          "description": "Type of secret configured for access to the Git repo.",
          "type": "string"
        },
        "syncRepo": {
          "description": "The OCI image repository URL for the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.",
          "type": "string"
        },
        "policyDir": {
          "description": "The absolute path of the directory that contains the local resources. Default: the root directory of the image.",
          "type": "string"
        },
        "syncWaitSecs": {
          "format": "int64",
          "description": "Period in seconds between consecutive syncs. Default: 15.",
          "type": "string"
        }
      }
    },
    "IdentityServiceAzureADConfig": {
      "type": "object",
      "id": "IdentityServiceAzureADConfig",
      "description": "Configuration for the AzureAD Auth flow.",
      "properties": {
        "clientId": {
          "description": "ID for the registered client application that makes authentication requests to the Azure AD identity provider.",
          "type": "string"
        },
        "kubectlRedirectUri": {
          "type": "string",
          "description": "The redirect URL that kubectl uses for authorization."
        },
        "encryptedClientSecret": {
          "description": "Output only. Encrypted AzureAD client secret.",
          "type": "string",
          "format": "byte",
          "readOnly": true
        },
        "clientSecret": {
          "description": "Input only. Unencrypted AzureAD client secret will be passed to the GKE Hub CLH.",
          "type": "string"
        },
        "tenant": {
          "description": "Kind of Azure AD account to be authenticated. Supported values are or for accounts belonging to a specific tenant.",
          "type": "string"
        }
      }
    },
    "IdentityServiceAuthMethod": {
      "type": "object",
      "id": "IdentityServiceAuthMethod",
      "description": "Configuration of an auth method for a member/cluster. Only one authentication method (e.g., OIDC and LDAP) can be set per AuthMethod.",
      "properties": {
        "googleConfig": {
          "$ref": "IdentityServiceGoogleConfig",
          "description": "GoogleConfig specific configuration"
        },
        "azureadConfig": {
          "description": "AzureAD specific Configuration.",
          "$ref": "IdentityServiceAzureADConfig"
        },
        "proxy": {
          "description": "Proxy server address to use for auth method.",
          "type": "string"
        },
        "name": {
          "description": "Identifier for auth config.",
          "type": "string"
        },
        "oidcConfig": {
          "$ref": "IdentityServiceOidcConfig",
          "description": "OIDC specific configuration."
        }
      }
    },
    "ConfigManagementHierarchyControllerConfig": {
      "id": "ConfigManagementHierarchyControllerConfig",
      "description": "Configuration for Hierarchy Controller",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Hierarchy Controller is enabled in this cluster."
        },
        "enablePodTreeLabels": {
          "type": "boolean",
          "description": "Whether pod tree labels are enabled in this cluster."
        },
        "enableHierarchicalResourceQuota": {
          "type": "boolean",
          "description": "Whether hierarchical resource quota is enabled in this cluster."
        }
      },
      "type": "object"
    },
    "AppDevExperienceFeatureSpec": {
      "description": "Spec for App Dev Experience Feature.",
      "properties": {},
      "id": "AppDevExperienceFeatureSpec",
      "type": "object"
    },
    "FeatureState": {
      "description": "FeatureState describes the high-level state of a Feature. It may be used to describe a Feature's state at the environ-level, or per-membershop, depending on the context.",
      "type": "object",
      "id": "FeatureState",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The time this status and any related Feature-specific details were updated.",
          "format": "google-datetime"
        },
        "code": {
          "type": "string",
          "description": "The high-level, machine-readable status of this Feature.",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unknown or not set.",
            "The Feature is operating normally.",
            "The Feature has encountered an issue, and is operating in a degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information.",
            "The Feature is not operating or is in a severely degraded state. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information."
          ]
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of the current status."
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "MembershipState": {
      "id": "MembershipState",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Output only. The current state of the Membership resource.",
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING",
            "SERVICE_UPDATING"
          ],
          "enumDescriptions": [
            "The code is not set.",
            "The cluster is being registered.",
            "The cluster is registered.",
            "The cluster is being unregistered.",
            "The Membership is being updated.",
            "The Membership is being updated by the Hub Service."
          ],
          "readOnly": true
        }
      },
      "description": "MembershipState describes the state of a Membership resource."
    },
    "Authority": {
      "description": "Authority encodes how Google will recognize identities from this Membership. See the workload identity documentation for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity",
      "properties": {
        "oidcJwks": {
          "type": "string",
          "format": "byte",
          "description": "Optional. OIDC verification keys for this Membership in JWKS format (RFC 7517). When this field is set, OIDC discovery will NOT be performed on `issuer`, and instead OIDC tokens will be validated using this field."
        },
        "workloadIdentityPool": {
          "description": "Output only. The name of the workload identity pool in which `issuer` will be recognized. There is a single Workload Identity Pool per Hub that is shared between all Memberships that belong to that Hub. For a Hub hosted in {PROJECT_ID}, the workload pool format is `{PROJECT_ID}.hub.id.goog`, although this is subject to change in newer versions of this API.",
          "readOnly": true,
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "Optional. A JSON Web Token (JWT) issuer URI. `issuer` must start with `https://` and be a valid URL with length \u003c2000 characters. If set, then Google will allow valid OIDC tokens from this issuer to authenticate within the workload_identity_pool. OIDC discovery will be performed on this URI to validate tokens from the issuer. Clearing `issuer` disables Workload Identity. `issuer` cannot be directly modified; it must be cleared (and Workload Identity disabled) before using a new issuer (and re-enabling Workload Identity)."
        },
        "identityProvider": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An identity provider that reflects the `issuer` in the workload identity pool."
        }
      },
      "id": "Authority",
      "type": "object"
    },
    "ClusterUpgradeIgnoredMembership": {
      "id": "ClusterUpgradeIgnoredMembership",
      "description": "IgnoredMembership represents a membership ignored by the feature. A membership can be ignored because it was manually upgraded to a newer version than RC default.",
      "type": "object",
      "properties": {
        "ignoredTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the membership was first set to ignored."
        },
        "reason": {
          "description": "Reason why the membership is ignored.",
          "type": "string"
        }
      }
    },
    "ListNamespacesResponse": {
      "description": "List of fleet namespaces.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListNamespaces` method. The value of an empty string means that there are no more resources to return."
        },
        "namespaces": {
          "description": "The list of fleet namespaces",
          "type": "array",
          "items": {
            "$ref": "Namespace"
          }
        }
      },
      "id": "ListNamespacesResponse"
    },
    "FleetObservabilityMembershipState": {
      "id": "FleetObservabilityMembershipState",
      "properties": {},
      "description": "**FleetObservability**: Membership-specific Feature state for fleetobservability.",
      "type": "object"
    },
    "MembershipBinding": {
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. When the membership binding was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The resource name for the membershipbinding itself `projects/{project}/locations/{location}/memberships/{membership}/bindings/{membershipbinding}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. When the membership binding was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the membership binding was deleted."
        },
        "scope": {
          "type": "string",
          "description": "A Scope resource name in the format `projects/*/locations/*/scopes/*`."
        },
        "fleet": {
          "type": "boolean",
          "description": "Whether the membershipbinding is Fleet-wide; true means that this Membership should be bound to all Namespaces in this entire Fleet."
        },
        "uid": {
          "description": "Output only. Google-generated UUID for this resource. This is unique across all membershipbinding resources. If a membershipbinding resource is deleted and another resource with the same name is created, it gets a different uid.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the membership binding resource.",
          "$ref": "MembershipBindingLifecycleState"
        }
      },
      "description": "MembershipBinding is a subresource of a Membership, representing what Fleet Scopes (or other, future Fleet resources) a Membership is bound to.",
      "id": "MembershipBinding"
    },
    "ClusterUpgradeGKEUpgradeFeatureState": {
      "description": "GKEUpgradeFeatureState contains feature states for GKE clusters in the scope.",
      "id": "ClusterUpgradeGKEUpgradeFeatureState",
      "type": "object",
      "properties": {
        "state": {
          "description": "Scope-level upgrade state.",
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeScopeGKEUpgradeState"
          }
        },
        "conditions": {
          "type": "array",
          "description": "Current conditions of the feature.",
          "items": {
            "$ref": "ClusterUpgradeGKEUpgradeFeatureCondition"
          }
        }
      }
    },
    "PolicyControllerBundleInstallSpec": {
      "description": "BundleInstallSpec is the specification configuration for a single managed bundle.",
      "id": "PolicyControllerBundleInstallSpec",
      "type": "object",
      "properties": {
        "exemptedNamespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of namespaces to be exempted from the bundle."
        }
      }
    },
    "ConfigManagementPolicyControllerMonitoring": {
      "id": "ConfigManagementPolicyControllerMonitoring",
      "description": "PolicyControllerMonitoring specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "properties": {
        "backends": {
          "type": "array",
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "items": {
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ],
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ResourceOptions": {
      "properties": {
        "connectVersion": {
          "type": "string",
          "description": "Optional. The Connect agent version to use for connect_resources. Defaults to the latest GKE Connect version. The version must be a currently supported version, obsolete versions will be rejected."
        },
        "v1beta1Crd": {
          "description": "Optional. Use `apiextensions/v1beta1` instead of `apiextensions/v1` for CustomResourceDefinition resources. This option should be set for clusters with Kubernetes apiserver versions \u003c1.16.",
          "type": "boolean"
        },
        "k8sVersion": {
          "description": "Optional. Major version of the Kubernetes cluster. This is only used to determine which version to use for the CustomResourceDefinition resources, `apiextensions/v1beta1` or`apiextensions/v1`.",
          "type": "string"
        }
      },
      "description": "ResourceOptions represent options for Kubernetes resource generation.",
      "type": "object",
      "id": "ResourceOptions"
    },
    "Role": {
      "type": "object",
      "id": "Role",
      "description": "Role is the type for Kubernetes roles",
      "properties": {
        "predefinedRole": {
          "enumDescriptions": [
            "UNKNOWN",
            "ADMIN has EDIT and RBAC permissions",
            "EDIT can edit all resources except RBAC",
            "VIEW can only read resources",
            "ANTHOS_SUPPORT gives Google Support read-only access to a number of cluster resources."
          ],
          "description": "predefined_role is the Kubernetes default role to use",
          "enum": [
            "UNKNOWN",
            "ADMIN",
            "EDIT",
            "VIEW",
            "ANTHOS_SUPPORT"
          ],
          "type": "string"
        }
      }
    },
    "FleetObservabilityFleetObservabilityBaseFeatureState": {
      "type": "object",
      "id": "FleetObservabilityFleetObservabilityBaseFeatureState",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "FleetObservabilityFeatureError"
          },
          "description": "Errors after reconciling the monitoring and logging feature if the code is not OK."
        },
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown or not set.",
            "The Feature is operating normally.",
            "The Feature is encountering errors in the reconciliation. The Feature may need intervention to return to normal operation. See the description and any associated Feature-specific details for more information."
          ],
          "description": "The high-level, machine-readable status of this Feature."
        }
      },
      "description": "Base state for fleet observability feature."
    },
    "ListRBACRoleBindingsResponse": {
      "description": "List of RBACRoleBindings.",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListRBACRoleBindings` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "rbacrolebindings": {
          "description": "The list of RBACRoleBindings",
          "items": {
            "$ref": "RBACRoleBinding"
          },
          "type": "array"
        }
      },
      "id": "ListRBACRoleBindingsResponse",
      "type": "object"
    },
    "ScopeFeatureSpec": {
      "properties": {
        "clusterupgrade": {
          "$ref": "ClusterUpgradeScopeSpec",
          "description": "Spec for the ClusterUpgrade feature at the scope level"
        }
      },
      "description": "ScopeFeatureSpec contains feature specs for a fleet scope.",
      "type": "object",
      "id": "ScopeFeatureSpec"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ConfigManagementSyncState": {
      "description": "State indicating an ACM's progress syncing configurations to a cluster",
      "type": "object",
      "properties": {
        "syncToken": {
          "description": "Token indicating the state of the syncer.",
          "type": "string"
        },
        "code": {
          "enumDescriptions": [
            "ACM cannot determine a sync code",
            "ACM successfully synced the git Repo with the cluster",
            "ACM is in the progress of syncing a new change",
            "Indicates an error configuring ACM, and user action is required",
            "ACM has been installed (operator manifest deployed), but not configured.",
            "ACM has not been installed (no operator pod found)",
            "Error authorizing with the cluster",
            "Cluster could not be reached"
          ],
          "type": "string",
          "enum": [
            "SYNC_CODE_UNSPECIFIED",
            "SYNCED",
            "PENDING",
            "ERROR",
            "NOT_CONFIGURED",
            "NOT_INSTALLED",
            "UNAUTHORIZED",
            "UNREACHABLE"
          ],
          "description": "Sync status code"
        },
        "importToken": {
          "description": "Token indicating the state of the importer.",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "ConfigManagementSyncError"
          },
          "type": "array",
          "description": "A list of errors resulting from problematic configs. This list will be truncated after 100 errors, although it is unlikely for that many errors to simultaneously exist."
        },
        "sourceToken": {
          "type": "string",
          "description": "Token indicating the state of the repo."
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "Timestamp type of when ACM last successfully synced the repo",
          "type": "string"
        },
        "lastSync": {
          "description": "Deprecated: use last_sync_time instead. Timestamp of when ACM last successfully synced the repo The time format is specified in https://golang.org/pkg/time/#Time.String",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "ConfigManagementSyncState"
    },
    "TypeMeta": {
      "type": "object",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "APIVersion of the resource (e.g. v1)."
        },
        "kind": {
          "type": "string",
          "description": "Kind of the resource (e.g. Deployment)."
        }
      },
      "description": "TypeMeta is the type information needed for content unmarshalling of Kubernetes resources in the manifest.",
      "id": "TypeMeta"
    },
    "PolicyControllerPolicyContentState": {
      "type": "object",
      "id": "PolicyControllerPolicyContentState",
      "description": "The state of the policy controller policy content",
      "properties": {
        "bundleStates": {
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "description": "The state of the any bundles included in the chosen version of the manifest",
          "type": "object"
        },
        "referentialSyncConfigState": {
          "description": "The state of the referential data sync configuration. This could represent the state of either the syncSet object(s) or the config object, depending on the version of PoCo configured by the user.",
          "$ref": "PolicyControllerOnClusterState"
        },
        "templateLibraryState": {
          "$ref": "PolicyControllerOnClusterState",
          "description": "The state of the template library"
        }
      }
    },
    "ServiceMeshStatusDetails": {
      "id": "ServiceMeshStatusDetails",
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Human-readable explanation of code."
        },
        "code": {
          "type": "string",
          "description": "A machine-readable code that further describes a broad status."
        }
      },
      "description": "Structured and human-readable details for a status."
    },
    "PolicyControllerPolicyControllerDeploymentConfig": {
      "description": "Deployment-specific configuration.",
      "properties": {
        "replicaCount": {
          "format": "int64",
          "description": "Pod replica count.",
          "type": "string"
        },
        "containerResources": {
          "$ref": "PolicyControllerResourceRequirements",
          "description": "Container resource requirements."
        },
        "podAffinity": {
          "type": "string",
          "enum": [
            "AFFINITY_UNSPECIFIED",
            "NO_AFFINITY",
            "ANTI_AFFINITY"
          ],
          "description": "Pod affinity configuration.",
          "enumDescriptions": [
            "No affinity configuration has been specified.",
            "Affinity configurations will be removed from the deployment.",
            "Anti-affinity configuration will be applied to this deployment. Default for admissions deployment."
          ]
        },
        "podTolerations": {
          "type": "array",
          "description": "Pod tolerations of node taints.",
          "items": {
            "$ref": "PolicyControllerToleration"
          }
        },
        "podAntiAffinity": {
          "type": "boolean",
          "description": "Pod anti-affinity enablement."
        }
      },
      "id": "PolicyControllerPolicyControllerDeploymentConfig",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "cancelRequested": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "statusDetail": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "ClusterUpgradeGKEUpgrade": {
      "id": "ClusterUpgradeGKEUpgrade",
      "properties": {
        "name": {
          "description": "Name of the upgrade, e.g., \"k8s_control_plane\". It should be a valid upgrade name. It must not exceet 99 characters.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Version of the upgrade, e.g., \"1.22.1-gke.100\". It should be a valid version. It must not exceet 99 characters."
        }
      },
      "description": "GKEUpgrade represents a GKE provided upgrade, e.g., control plane upgrade.",
      "type": "object"
    },
    "ResourceManifest": {
      "id": "ResourceManifest",
      "type": "object",
      "properties": {
        "clusterScoped": {
          "description": "Whether the resource provided in the manifest is `cluster_scoped`. If unset, the manifest is assumed to be namespace scoped. This field is used for REST mapping when applying the resource in a cluster.",
          "type": "boolean"
        },
        "manifest": {
          "description": "YAML manifest of the resource.",
          "type": "string"
        }
      },
      "description": "ResourceManifest represents a single Kubernetes resource to be applied to the cluster."
    },
    "ConfigManagementPolicyControllerMigration": {
      "properties": {
        "stage": {
          "description": "Stage of the migration.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ACM_MANAGED",
            "POCO_MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown state of migration.",
            "ACM Hub/Operator manages policycontroller. No migration yet completed.",
            "All migrations steps complete; Poco Hub now manages policycontroller."
          ]
        },
        "copyTime": {
          "description": "Last time this membership spec was copied to PoCo feature.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "State for the migration of PolicyController from ACM -\u003e PoCo Hub.",
      "type": "object",
      "id": "ConfigManagementPolicyControllerMigration"
    },
    "EdgeCluster": {
      "properties": {
        "resourceLink": {
          "description": "Immutable. Self-link of the Google Cloud resource for the Edge Cluster. For example: //edgecontainer.googleapis.com/projects/my-project/locations/us-west1-a/clusters/my-cluster",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EdgeCluster",
      "description": "EdgeCluster contains information specific to Google Edge Clusters."
    },
    "ListScopesResponse": {
      "type": "object",
      "id": "ListScopesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of resources from the `ListScopes` method. The value of an empty string means that there are no more resources to return."
        },
        "scopes": {
          "type": "array",
          "description": "The list of Scopes",
          "items": {
            "$ref": "Scope"
          }
        }
      },
      "description": "List of Scopes."
    },
    "PolicyControllerOnClusterState": {
      "type": "object",
      "id": "PolicyControllerOnClusterState",
      "description": "OnClusterState represents the state of a sub-component of Policy Controller.",
      "properties": {
        "details": {
          "description": "Surface potential errors or information logs.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit)."
          ],
          "description": "The lifecycle state of this component."
        }
      }
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ConfigManagementHierarchyControllerState": {
      "description": "State for Hierarchy Controller",
      "properties": {
        "state": {
          "$ref": "ConfigManagementHierarchyControllerDeploymentState",
          "description": "The deployment state for Hierarchy Controller"
        },
        "version": {
          "description": "The version for Hierarchy Controller",
          "$ref": "ConfigManagementHierarchyControllerVersion"
        }
      },
      "type": "object",
      "id": "ConfigManagementHierarchyControllerState"
    },
    "PolicyControllerMembershipState": {
      "id": "PolicyControllerMembershipState",
      "properties": {
        "policyContentState": {
          "description": "The overall content state observed by the Hub Feature controller.",
          "$ref": "PolicyControllerPolicyContentState"
        },
        "state": {
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The PC does not exist on the given cluster, and no k8s resources of any type that are associated with the PC should exist there. The cluster does not possess a membership with the PCH.",
            "The PCH possesses a Membership, however the PC is not fully installed on the cluster. In this state the hub can be expected to be taking actions to install the PC on the cluster.",
            "The PC is fully installed on the cluster and in an operational mode. In this state PCH will be reconciling state with the PC, and the PC will be performing it's operational tasks per that software. Entering a READY state requires that the hub has confirmed the PC is installed and its pods are operational with the version of the PC the PCH expects.",
            "The PC is fully installed, but in the process of changing the configuration (including changing the version of PC either up and down, or modifying the manifests of PC) of the resources running on the cluster. The PCH has a Membership, is aware of the version the cluster should be running in, but has not confirmed for itself that the PC is running with that version.",
            "The PC may have resources on the cluster, but the PCH wishes to remove the Membership. The Membership still exists.",
            "The PC is not operational, and the PCH is unable to act to make it operational. Entering a CLUSTER_ERROR state happens automatically when the PCH determines that a PC installed on the cluster is non-operative or that the cluster does not meet requirements set for the PCH to administer the cluster but has nevertheless been given an instruction to do so (such as 'install').",
            "In this state, the PC may still be operational, and only the PCH is unable to act. The hub should not issue instructions to change the PC state, or otherwise interfere with the on-cluster resources. Entering a HUB_ERROR state happens automatically when the PCH determines the hub is in an unhealthy state and it wishes to 'take hands off' to avoid corrupting the PC or other data.",
            "Policy Controller (PC) is installed but suspended. This means that the policies are not enforced, but violations are still recorded (through audit)."
          ],
          "description": "The overall Policy Controller lifecycle state observed by the Hub Feature controller.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLING",
            "ACTIVE",
            "UPDATING",
            "DECOMMISSIONING",
            "CLUSTER_ERROR",
            "HUB_ERROR",
            "SUSPENDED"
          ]
        },
        "componentStates": {
          "description": "Currently these include (also serving as map keys): 1. \"admission\" 2. \"audit\" 3. \"mutation\"",
          "additionalProperties": {
            "$ref": "PolicyControllerOnClusterState"
          },
          "type": "object"
        }
      },
      "description": "**Policy Controller**: State for a single cluster.",
      "type": "object"
    },
    "MultiClusterIngressFeatureSpec": {
      "id": "MultiClusterIngressFeatureSpec",
      "type": "object",
      "properties": {
        "configMembership": {
          "type": "string",
          "description": "Fully-qualified Membership name which hosts the MultiClusterIngress CRD. Example: `projects/foo-proj/locations/global/memberships/bar`"
        },
        "billing": {
          "enum": [
            "BILLING_UNSPECIFIED",
            "PAY_AS_YOU_GO",
            "ANTHOS_LICENSE"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "Unknown",
            "User pays a fee per-endpoint.",
            "User is paying for Anthos as a whole."
          ],
          "description": "Deprecated: This field will be ignored and should not be set. Customer's billing structure.",
          "type": "string"
        }
      },
      "description": "**Multi-cluster Ingress**: The configuration for the MultiClusterIngress feature."
    },
    "PolicyControllerTemplateLibraryConfig": {
      "description": "The config specifying which default library templates to install.",
      "id": "PolicyControllerTemplateLibraryConfig",
      "type": "object",
      "properties": {
        "installation": {
          "enumDescriptions": [
            "No installation strategy has been specified.",
            "Do not install the template library.",
            "Install the entire template library."
          ],
          "type": "string",
          "enum": [
            "INSTALLATION_UNSPECIFIED",
            "NOT_INSTALLED",
            "ALL"
          ],
          "description": "Configures the manner in which the template library is installed on the cluster."
        }
      }
    },
    "Location": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "FleetObservabilityRoutingConfig": {
      "id": "FleetObservabilityRoutingConfig",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "COPY",
            "MOVE"
          ],
          "description": "mode configures the logs routing mode.",
          "enumDescriptions": [
            "If UNSPECIFIED, fleet logging feature is disabled.",
            "logs will be copied to the destination project.",
            "logs will be moved to the destination project."
          ],
          "type": "string"
        }
      },
      "description": "RoutingConfig configures the behaviour of fleet logging feature.",
      "type": "object"
    },
    "Fleet": {
      "type": "object",
      "id": "Fleet",
      "properties": {
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the Fleet was deleted.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the Fleet was created.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full, unique resource name of this fleet in the format of `projects/{project}/locations/{location}/fleets/{fleet}`. Each Google Cloud project can have at most one fleet resource, named \"default\"."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Fleet resources. If a Fleet resource is deleted and another resource with the same name is created, it gets a different uid."
        },
        "updateTime": {
          "description": "Output only. When the Fleet was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. A user-assigned display name of the Fleet. When present, it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `Production Fleet`",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the namespace resource.",
          "$ref": "FleetLifecycleState"
        }
      },
      "description": "Fleet contains the Fleet-wide metadata and configuration."
    },
    "ServiceMeshAnalysisMessage": {
      "properties": {
        "args": {
          "type": "object",
          "description": "A UI can combine these args with a template (based on message_base.type) to produce an internationalized message.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "messageBase": {
          "$ref": "ServiceMeshAnalysisMessageBase",
          "description": "Details common to all types of Istio and ServiceMesh analysis messages."
        },
        "description": {
          "description": "A human readable description of what the error means. It is suitable for non-internationalize display purposes.",
          "type": "string"
        },
        "resourcePaths": {
          "items": {
            "type": "string"
          },
          "description": "A list of strings specifying the resource identifiers that were the cause of message generation. A \"path\" here may be: * MEMBERSHIP_ID if the cause is a specific member cluster * MEMBERSHIP_ID/(NAMESPACE\\/)?RESOURCETYPE/NAME if the cause is a resource in a cluster",
          "type": "array"
        }
      },
      "id": "ServiceMeshAnalysisMessage",
      "description": "AnalysisMessage is a single message produced by an analyzer, and it used to communicate to the end user about the state of their Service Mesh configuration.",
      "type": "object"
    },
    "ConfigManagementErrorResource": {
      "type": "object",
      "description": "Model for a config file in the git repo with an associated Sync error",
      "properties": {
        "resourceNamespace": {
          "description": "Namespace of the resource that is causing an error",
          "type": "string"
        },
        "sourcePath": {
          "description": "Path in the git repo of the erroneous config",
          "type": "string"
        },
        "resourceGvk": {
          "$ref": "ConfigManagementGroupVersionKind",
          "description": "Group/version/kind of the resource that is causing an error"
        },
        "resourceName": {
          "description": "Metadata name of the resource that is causing an error",
          "type": "string"
        }
      },
      "id": "ConfigManagementErrorResource"
    },
    "ServiceMeshType": {
      "description": "A unique identifier for the type of message. Display_name is intended to be human-readable, code is intended to be machine readable. There should be a one-to-one mapping between display_name and code. (i.e. do not re-use display_names or codes between message types.) See istio.analysis.v1alpha1.AnalysisMessageBase.Type",
      "id": "ServiceMeshType",
      "properties": {
        "displayName": {
          "description": "A human-readable name for the message type. e.g. \"InternalError\", \"PodMissingProxy\". This should be the same for all messages of the same type. (This corresponds to the `name` field in open-source Istio.)",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "A 7 character code matching `^IST[0-9]{4}$` or `^ASM[0-9]{4}$`, intended to uniquely identify the message type. (e.g. \"IST0001\" is mapped to the \"InternalError\" message type.)"
        }
      },
      "type": "object"
    },
    "FleetObservabilityFleetObservabilityMonitoringState": {
      "type": "object",
      "id": "FleetObservabilityFleetObservabilityMonitoringState",
      "properties": {
        "state": {
          "$ref": "FleetObservabilityFleetObservabilityBaseFeatureState",
          "description": "The base feature state of fleet monitoring feature."
        }
      },
      "description": "Feature state for monitoring feature."
    },
    "CloudBuildMembershipSpec": {
      "description": "**Cloud Build**: Configurations for each Cloud Build enabled cluster.",
      "properties": {
        "securityPolicy": {
          "enum": [
            "SECURITY_POLICY_UNSPECIFIED",
            "NON_PRIVILEGED",
            "PRIVILEGED"
          ],
          "type": "string",
          "description": "Whether it is allowed to run the privileged builds on the cluster or not.",
          "enumDescriptions": [
            "Unspecified policy",
            "Privileged build pods are disallowed",
            "Privileged build pods are allowed"
          ]
        },
        "version": {
          "type": "string",
          "description": "Version of the cloud build software on the cluster."
        }
      },
      "type": "object",
      "id": "CloudBuildMembershipSpec"
    },
    "FleetObservabilityFeatureSpec": {
      "properties": {
        "loggingConfig": {
          "$ref": "FleetObservabilityLoggingConfig",
          "description": "Specified if fleet logging feature is enabled for the entire fleet. If UNSPECIFIED, fleet logging feature is disabled for the entire fleet."
        }
      },
      "type": "object",
      "id": "FleetObservabilityFeatureSpec",
      "description": "**Fleet Observability**: The Hub-wide input for the FleetObservability feature."
    },
    "ServiceMeshControlPlaneManagement": {
      "id": "ServiceMeshControlPlaneManagement",
      "properties": {
        "details": {
          "type": "array",
          "description": "Explanation of state.",
          "items": {
            "$ref": "ServiceMeshStatusDetails"
          }
        },
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "DISABLED means that the component is not enabled.",
            "FAILED_PRECONDITION means that provisioning cannot proceed because of some characteristic of the member cluster.",
            "PROVISIONING means that provisioning is in progress.",
            "ACTIVE means that the component is ready for use.",
            "STALLED means that provisioning could not be done.",
            "NEEDS_ATTENTION means that the component is ready, but some user intervention is required. (For example that the user should migrate workloads to a new control plane revision.)",
            "DEGRADED means that the component is ready, but operating in a degraded state."
          ],
          "description": "LifecycleState of control plane management.",
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "DISABLED",
            "FAILED_PRECONDITION",
            "PROVISIONING",
            "ACTIVE",
            "STALLED",
            "NEEDS_ATTENTION",
            "DEGRADED"
          ]
        }
      },
      "type": "object",
      "description": "Status of control plane management."
    },
    "ConfigManagementGitConfig": {
      "properties": {
        "syncWaitSecs": {
          "type": "string",
          "format": "int64",
          "description": "Period in seconds between consecutive syncs. Default: 15."
        },
        "gcpServiceAccountEmail": {
          "type": "string",
          "description": "The Google Cloud Service Account Email used for auth when secret_type is gcpServiceAccount."
        },
        "syncRepo": {
          "type": "string",
          "description": "The URL of the Git repository to use as the source of truth."
        },
        "secretType": {
          "type": "string",
          "description": "Type of secret configured for access to the Git repo. Must be one of ssh, cookiefile, gcenode, token, gcpserviceaccount or none. The validation of this is case-sensitive. Required."
        },
        "syncBranch": {
          "type": "string",
          "description": "The branch of the repository to sync from. Default: master."
        },
        "httpsProxy": {
          "description": "URL for the HTTPS proxy to be used when communicating with the Git repo.",
          "type": "string"
        },
        "syncRev": {
          "description": "Git revision (tag or hash) to check out. Default HEAD.",
          "type": "string"
        },
        "policyDir": {
          "description": "The path within the Git repository that represents the top level of the repo to sync. Default: the root directory of the repository.",
          "type": "string"
        }
      },
      "description": "Git repo configuration for a single cluster.",
      "id": "ConfigManagementGitConfig",
      "type": "object"
    },
    "ConfigManagementBinauthzState": {
      "description": "State for Binauthz",
      "properties": {
        "webhook": {
          "description": "The state of the binauthz webhook.",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "version": {
          "$ref": "ConfigManagementBinauthzVersion",
          "description": "The version of binauthz that is installed."
        }
      },
      "id": "ConfigManagementBinauthzState",
      "type": "object"
    },
    "ConfigManagementConfigSyncVersion": {
      "type": "object",
      "description": "Specific versioning information pertaining to ConfigSync's Pods",
      "properties": {
        "admissionWebhook": {
          "type": "string",
          "description": "Version of the deployed admission_webhook pod"
        },
        "gitSync": {
          "type": "string",
          "description": "Version of the deployed git-sync pod"
        },
        "reconcilerManager": {
          "type": "string",
          "description": "Version of the deployed reconciler-manager pod"
        },
        "importer": {
          "description": "Version of the deployed importer pod",
          "type": "string"
        },
        "monitor": {
          "type": "string",
          "description": "Version of the deployed monitor pod"
        },
        "syncer": {
          "type": "string",
          "description": "Version of the deployed syncer pod"
        },
        "rootReconciler": {
          "description": "Version of the deployed reconciler container in root-reconciler pod",
          "type": "string"
        }
      },
      "id": "ConfigManagementConfigSyncVersion"
    },
    "FeatureSpec": {
      "properties": {
        "defaultConfig": {
          "description": "Specifies default membership spec. Users can override the default in the member_configs for each member.",
          "$ref": "MembershipSpec"
        },
        "provisionGoogleCa": {
          "description": "Immutable. Specifies CA configuration.",
          "type": "string",
          "enumDescriptions": [
            "Disable default Google managed CA.",
            "Disable default Google managed CA.",
            "Use default Google managed CA.",
            "Workload certificate feature is enabled, and the entire certificate provisioning process is managed by Google with managed CAS which is more secure than the default CA.",
            "Workload certificate feature is enabled, and the entire certificate provisioning process is using the default CA which is free."
          ],
          "enum": [
            "GOOGLE_CA_PROVISIONING_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "ENABLED_WITH_MANAGED_CA",
            "ENABLED_WITH_DEFAULT_CA"
          ]
        }
      },
      "type": "object",
      "id": "FeatureSpec",
      "description": "**Workload Certificate**: The Hub-wide input for the WorkloadCertificate feature."
    },
    "FleetObservabilityFeatureState": {
      "description": "**FleetObservability**: Hub-wide Feature for FleetObservability feature. state.",
      "id": "FleetObservabilityFeatureState",
      "type": "object",
      "properties": {
        "logging": {
          "description": "The feature state of default logging.",
          "$ref": "FleetObservabilityFleetObservabilityLoggingState"
        },
        "monitoring": {
          "description": "The feature state of fleet monitoring.",
          "$ref": "FleetObservabilityFleetObservabilityMonitoringState"
        }
      }
    },
    "CommonFeatureSpec": {
      "properties": {
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureSpec",
          "description": "Appdevexperience specific spec."
        },
        "anthosobservability": {
          "description": "Anthos Observability spec",
          "$ref": "AnthosObservabilityFeatureSpec"
        },
        "cloudauditlogging": {
          "$ref": "CloudAuditLoggingFeatureSpec",
          "description": "Cloud Audit Logging-specific spec."
        },
        "fleetobservability": {
          "$ref": "FleetObservabilityFeatureSpec",
          "description": "FleetObservability feature spec."
        },
        "workloadcertificate": {
          "description": "Workload Certificate spec.",
          "$ref": "FeatureSpec"
        },
        "multiclusteringress": {
          "$ref": "MultiClusterIngressFeatureSpec",
          "description": "Multicluster Ingress-specific spec."
        }
      },
      "id": "CommonFeatureSpec",
      "description": "CommonFeatureSpec contains Hub-wide configuration information",
      "type": "object"
    },
    "ConfigManagementOperatorState": {
      "description": "State information for an ACM's Operator",
      "id": "ConfigManagementOperatorState",
      "type": "object",
      "properties": {
        "errors": {
          "description": "Install errors.",
          "items": {
            "$ref": "ConfigManagementInstallError"
          },
          "type": "array"
        },
        "deploymentState": {
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "type": "string",
          "description": "The state of the Operator's deployment",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ]
        },
        "version": {
          "type": "string",
          "description": "The semenatic version number of the operator"
        }
      }
    },
    "Namespace": {
      "type": "object",
      "description": "Namespace represents a namespace across the Fleet",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google-generated UUID for this resource. This is unique across all namespace resources. If a namespace resource is deleted and another resource with the same name is created, it gets a different uid."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the namespace was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the namespace was created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name for the namespace `projects/{project}/locations/{location}/namespaces/{namespace}`"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the namespace resource.",
          "$ref": "NamespaceLifecycleState"
        },
        "scope": {
          "type": "string",
          "description": "Required. Scope associated with the namespace"
        },
        "deleteTime": {
          "description": "Output only. When the namespace was deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "Namespace"
    },
    "ServiceMeshMembershipSpec": {
      "properties": {
        "defaultChannel": {
          "type": "string",
          "description": "Determines which release channel to use for default injection and service mesh APIs.",
          "enum": [
            "CHANNEL_UNSPECIFIED",
            "RAPID",
            "REGULAR",
            "STABLE"
          ],
          "enumDescriptions": [
            "Unspecified",
            "RAPID channel is offered on an early access basis for customers who want to test new releases.",
            "REGULAR channel is intended for production users who want to take advantage of new features.",
            "STABLE channel includes versions that are known to be stable and reliable in production."
          ]
        },
        "controlPlane": {
          "type": "string",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified",
            "Google should provision a control plane revision and make it available in the cluster. Google will enroll this revision in a release channel and keep it up to date. The control plane revision may be a managed service, or a managed install.",
            "User will manually configure the control plane (e.g. via CLI, or via the ControlPlaneRevision KRM API)"
          ],
          "enum": [
            "CONTROL_PLANE_MANAGEMENT_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Deprecated: use `management` instead Enables automatic control plane management."
        },
        "management": {
          "enumDescriptions": [
            "Unspecified",
            "Google should manage my Service Mesh for the cluster.",
            "User will manually configure their service mesh components."
          ],
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ],
          "type": "string",
          "description": "Enables automatic Service Mesh management."
        }
      },
      "id": "ServiceMeshMembershipSpec",
      "type": "object",
      "description": "**Service Mesh**: Spec for a single Membership for the servicemesh feature"
    },
    "FleetObservabilityLoggingConfig": {
      "type": "object",
      "id": "FleetObservabilityLoggingConfig",
      "description": "LoggingConfig defines the configuration for different types of logs.",
      "properties": {
        "defaultConfig": {
          "description": "Specified if applying the default routing config to logs not specified in other configs.",
          "$ref": "FleetObservabilityRoutingConfig"
        },
        "fleetScopeLogsConfig": {
          "$ref": "FleetObservabilityRoutingConfig",
          "description": "Specified if applying the routing config to all logs for all fleet scopes."
        }
      }
    },
    "FleetObservabilityFeatureError": {
      "type": "object",
      "properties": {
        "description": {
          "description": "A human-readable description of the current status.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "The code of the error."
        }
      },
      "description": "All error details of the fleet observability feature.",
      "id": "FleetObservabilityFeatureError"
    },
    "ValidationResult": {
      "description": "ValidationResults are results set by each validator running during ValidateCreateMembership.",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "Whether the validation is passed or not."
        },
        "validator": {
          "description": "Validator type to validate membership with.",
          "type": "string",
          "enum": [
            "VALIDATOR_TYPE_UNSPECIFIED",
            "MEMBERSHIP_ID",
            "CROSS_PROJECT_PERMISSION"
          ],
          "enumDescriptions": [
            "UNSPECIFIED validator.",
            "MEMBERSHIP_ID validator validates that the membership_id is still available.",
            "CROSS_PROJECT_PERMISSION validator validates that the cross-project role binding for the service agent is in place."
          ]
        },
        "result": {
          "type": "string",
          "description": "Additional information for the validation."
        }
      },
      "type": "object",
      "id": "ValidationResult"
    },
    "PolicyControllerMonitoringConfig": {
      "id": "PolicyControllerMonitoringConfig",
      "properties": {
        "backends": {
          "type": "array",
          "description": "Specifies the list of backends Policy Controller will export to. An empty list would effectively disable metrics export.",
          "items": {
            "type": "string",
            "enum": [
              "MONITORING_BACKEND_UNSPECIFIED",
              "PROMETHEUS",
              "CLOUD_MONITORING"
            ],
            "enumDescriptions": [
              "Backend cannot be determined",
              "Prometheus backend for monitoring",
              "Stackdriver/Cloud Monitoring backend for monitoring"
            ]
          }
        }
      },
      "description": "MonitoringConfig specifies the backends Policy Controller should export metrics to. For example, to specify metrics should be exported to Cloud Monitoring and Prometheus, specify backends: [\"cloudmonitoring\", \"prometheus\"]",
      "type": "object"
    },
    "MembershipFeatureState": {
      "type": "object",
      "description": "MembershipFeatureState contains Feature status information for a single Membership.",
      "id": "MembershipFeatureState",
      "properties": {
        "clusterupgrade": {
          "$ref": "ClusterUpgradeMembershipState",
          "description": "ClusterUpgrade state."
        },
        "identityservice": {
          "$ref": "IdentityServiceMembershipState",
          "description": "Identity Service-specific state."
        },
        "metering": {
          "description": "Metering-specific state.",
          "$ref": "MeteringMembershipState"
        },
        "fleetobservability": {
          "$ref": "FleetObservabilityMembershipState",
          "description": "Fleet observability membership state."
        },
        "state": {
          "$ref": "FeatureState",
          "description": "The high-level state of this Feature for a single membership."
        },
        "appdevexperience": {
          "$ref": "AppDevExperienceFeatureState",
          "description": "Appdevexperience specific state."
        },
        "servicemesh": {
          "$ref": "ServiceMeshMembershipState",
          "description": "Service Mesh-specific state."
        },
        "policycontroller": {
          "$ref": "PolicyControllerMembershipState",
          "description": "Policycontroller-specific state."
        },
        "configmanagement": {
          "$ref": "ConfigManagementMembershipState",
          "description": "Config Management-specific state."
        }
      }
    },
    "ConfigManagementGroupVersionKind": {
      "type": "object",
      "description": "A Kubernetes object's GVK",
      "id": "ConfigManagementGroupVersionKind",
      "properties": {
        "version": {
          "type": "string",
          "description": "Kubernetes Version"
        },
        "kind": {
          "description": "Kubernetes Kind",
          "type": "string"
        },
        "group": {
          "type": "string",
          "description": "Kubernetes Group"
        }
      }
    },
    "ValidateCreateMembershipRequest": {
      "type": "object",
      "properties": {
        "membershipId": {
          "description": "Required. Client chosen membership id.",
          "type": "string"
        },
        "membership": {
          "$ref": "Membership",
          "description": "Required. Membership resource to be created."
        }
      },
      "id": "ValidateCreateMembershipRequest",
      "description": "Request message for the `GkeHub.ValidateCreateMembership` method."
    },
    "ConfigManagementGatekeeperDeploymentState": {
      "id": "ConfigManagementGatekeeperDeploymentState",
      "type": "object",
      "properties": {
        "gatekeeperControllerManagerState": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "description": "Status of gatekeeper-controller-manager pod."
        },
        "gatekeeperAudit": {
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "description": "Status of gatekeeper-audit deployment.",
          "type": "string",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ]
        },
        "gatekeeperMutation": {
          "description": "Status of the pod serving the mutation webhook.",
          "enumDescriptions": [
            "Deployment's state cannot be determined",
            "Deployment is not installed",
            "Deployment is installed",
            "Deployment was attempted to be installed, but has errors"
          ],
          "enum": [
            "DEPLOYMENT_STATE_UNSPECIFIED",
            "NOT_INSTALLED",
            "INSTALLED",
            "ERROR"
          ],
          "type": "string"
        }
      },
      "description": "State of Policy Controller installation."
    },
    "Expr": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "ConfigManagementMembershipSpec": {
      "description": "**Anthos Config Management**: Configuration for a single cluster. Intended to parallel the ConfigManagement CR.",
      "id": "ConfigManagementMembershipSpec",
      "type": "object",
      "properties": {
        "binauthz": {
          "description": "Binauthz conifguration for the cluster.",
          "$ref": "ConfigManagementBinauthzConfig"
        },
        "policyController": {
          "$ref": "ConfigManagementPolicyController",
          "description": "Policy Controller configuration for the cluster."
        },
        "hierarchyController": {
          "$ref": "ConfigManagementHierarchyControllerConfig",
          "description": "Hierarchy Controller configuration for the cluster."
        },
        "configSync": {
          "description": "Config Sync configuration for the cluster.",
          "$ref": "ConfigManagementConfigSync"
        },
        "version": {
          "description": "Version of ACM installed.",
          "type": "string"
        },
        "management": {
          "enumDescriptions": [
            "Unspecified",
            "Google will manage the Feature for the cluster.",
            "User will manually manage the Feature for the cluster."
          ],
          "type": "string",
          "description": "Enables automatic Feature management.",
          "enum": [
            "MANAGEMENT_UNSPECIFIED",
            "MANAGEMENT_AUTOMATIC",
            "MANAGEMENT_MANUAL"
          ]
        },
        "cluster": {
          "description": "The user-specified cluster name used by Config Sync cluster-name-selector annotation or ClusterSelector, for applying configs to only a subset of clusters. Omit this field if the cluster's fleet membership name is used by Config Sync cluster-name-selector annotation or ClusterSelector. Set this field if a name different from the cluster's fleet membership name is used by Config Sync cluster-name-selector annotation or ClusterSelector.",
          "type": "string"
        }
      }
    },
    "ListMembershipRBACRoleBindingsResponse": {
      "id": "ListMembershipRBACRoleBindingsResponse",
      "description": "List of Membership RBACRoleBindings.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of resources from the `ListMembershipRBACRoleBindings` method. The value of an empty string means that there are no more resources to return.",
          "type": "string"
        },
        "rbacrolebindings": {
          "type": "array",
          "description": "The list of Membership RBACRoleBindings.",
          "items": {
            "$ref": "RBACRoleBinding"
          }
        }
      }
    },
    "ServiceMeshMembershipState": {
      "type": "object",
      "properties": {
        "analysisMessages": {
          "type": "array",
          "description": "Output only. Results of running Service Mesh analyzers.",
          "items": {
            "$ref": "ServiceMeshAnalysisMessage"
          },
          "readOnly": true
        },
        "dataPlaneManagement": {
          "readOnly": true,
          "description": "Output only. Status of data plane management.",
          "$ref": "ServiceMeshDataPlaneManagement"
        },
        "controlPlaneManagement": {
          "$ref": "ServiceMeshControlPlaneManagement",
          "description": "Output only. Status of control plane management",
          "readOnly": true
        },
        "configApiVersion": {
          "description": "The API version (i.e. Istio CRD version) for configuring service mesh in this cluster. This version is influenced by the `default_channel` field.",
          "type": "string"
        }
      },
      "id": "ServiceMeshMembershipState",
      "description": "**Service Mesh**: State for a single Membership, as analyzed by the Service Mesh Hub Controller."
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "ConfigManagementPolicyControllerVersion": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The gatekeeper image tag that is composed of ACM version, git tag, build number."
        }
      },
      "id": "ConfigManagementPolicyControllerVersion",
      "description": "The build version of Gatekeeper Policy Controller is using."
    },
    "ScopeLifecycleState": {
      "description": "ScopeLifecycleState describes the state of a Scope resource.",
      "properties": {
        "code": {
          "description": "Output only. The current state of the scope resource.",
          "readOnly": true,
          "enumDescriptions": [
            "The code is not set.",
            "The scope is being created.",
            "The scope active.",
            "The scope is being deleted.",
            "The scope is being updated."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ScopeLifecycleState"
    },
    "Membership": {
      "description": "Membership contains information about a member cluster.",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the Membership was created.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. When the Membership was last updated.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "$ref": "MembershipState",
          "description": "Output only. State of the Membership resource."
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the Membership was deleted."
        },
        "labels": {
          "description": "Optional. Labels for this membership.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uniqueId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated UUID for this resource. This is unique across all Membership resources. If a Membership resource is deleted and another resource with the same name is created, it gets a different unique_id."
        },
        "monitoringConfig": {
          "description": "Optional. The monitoring config information for this membership.",
          "$ref": "MonitoringConfig"
        },
        "endpoint": {
          "description": "Optional. Endpoint information to reach this member.",
          "$ref": "MembershipEndpoint"
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of this membership, limited to 63 characters. Must match the regex: `a-zA-Z0-9*` This field is present for legacy purposes.",
          "readOnly": true
        },
        "externalId": {
          "type": "string",
          "description": "Optional. An externally-generated and managed ID for this Membership. This ID may be modified after creation, but this is not recommended. The ID must match the regex: `a-zA-Z0-9*` If this Membership represents a Kubernetes cluster, this value should be set to the UID of the `kube-system` namespace object."
        },
        "lastConnectionTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. For clusters using Connect, the timestamp of the most recent connection established with Google Cloud. This time is updated every several minutes, not continuously. For clusters that do not use GKE Connect, or that have never connected successfully, this field will be unset."
        },
        "authority": {
          "$ref": "Authority",
          "description": "Optional. How to identify workloads from this Membership. See the documentation on Workload Identity for more details: https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity"
        },
        "name": {
          "description": "Output only. The full, unique name of this Membership resource in the format `projects/*/locations/*/memberships/{membership_id}`, set during creation. `membership_id` must be a valid RFC 1123 compliant DNS label: 1. At most 63 characters in length 2. It must consist of lower case alphanumeric characters or `-` 3. It must start and end with an alphanumeric character Which can be expressed as the regex: `[a-z0-9]([-a-z0-9]*[a-z0-9])?`, with a maximum length of 63 characters.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Membership"
    },
    "OnPremCluster": {
      "type": "object",
      "description": "OnPremCluster contains information specific to GKE On-Prem clusters.",
      "properties": {
        "clusterMissing": {
          "type": "boolean",
          "description": "Output only. If cluster_missing is set then it denotes that API(gkeonprem.googleapis.com) resource for this GKE On-Prem cluster no longer exists.",
          "readOnly": true
        },
        "adminCluster": {
[...]
