{
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "basePath": "",
  "canonicalName": "GKE On-Prem",
  "id": "gkeonprem:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://gkeonprem.googleapis.com/",
  "version_module": true,
  "description": "",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "name": "gkeonprem",
  "rootUrl": "https://gkeonprem.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "VmwareDhcpIpConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "enabled is a flag to mark if DHCP IP allocation is used for VMware user clusters."
        }
      },
      "description": "Represents the network configuration required for the VMware user clusters with DHCP IP configurations.",
      "type": "object",
      "id": "VmwareDhcpIpConfig"
    },
    "ResourceCondition": {
      "id": "ResourceCondition",
      "type": "object",
      "description": "ResourceCondition provides a standard mechanism for higher-level status reporting from controller.",
      "properties": {
        "message": {
          "description": "Human-readable message indicating details about last transition.",
          "type": "string"
        },
        "type": {
          "description": "Type of the condition. (e.g., ClusterRunning, NodePoolRunning or ServerSidePreflightReady)",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Machine-readable message indicating details about last transition."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Resource is in the condition.",
            "Resource is not in the condition.",
            "Kubernetes controller can't decide if the resource is in the condition or not."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TRUE",
            "STATE_FALSE",
            "STATE_UNKNOWN"
          ],
          "description": "state of the condition."
        },
        "lastTransitionTime": {
          "format": "google-datetime",
          "description": "Last time the condition transit from one status to another.",
          "type": "string"
        }
      }
    },
    "QueryBareMetalAdminVersionConfigResponse": {
      "type": "object",
      "properties": {
        "versions": {
          "type": "array",
          "description": "List of available versions to install or to upgrade to.",
          "items": {
            "$ref": "BareMetalVersionInfo"
          }
        }
      },
      "id": "QueryBareMetalAdminVersionConfigResponse",
      "description": "Response message for querying bare metal admin cluster version config."
    },
    "BareMetalVipConfig": {
      "id": "BareMetalVipConfig",
      "description": "Specifies the VIP config for the bare metal load balancer.",
      "type": "object",
      "properties": {
        "ingressVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for ingress traffic into this bare metal user cluster."
        },
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal user cluster.",
          "type": "string"
        }
      }
    },
    "BareMetalMaintenanceConfig": {
      "id": "BareMetalMaintenanceConfig",
      "type": "object",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Specifies configurations to put bare metal nodes in and out of maintenance."
    },
    "VmwareAdminVCenterConfig": {
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware admin cluster.",
      "type": "object",
      "properties": {
        "dataDisk": {
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster.",
          "type": "string"
        },
        "datacenter": {
          "type": "string",
          "description": "The name of the vCenter datacenter for the admin cluster."
        },
        "datastore": {
          "description": "The name of the vCenter datastore for the admin cluster.",
          "type": "string"
        },
        "folder": {
          "type": "string",
          "description": "The name of the vCenter folder for the admin cluster."
        },
        "address": {
          "type": "string",
          "description": "The vCenter IP address."
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the admin cluster.",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the admin cluster."
        },
        "caCertData": {
          "type": "string",
          "description": "Contains the vCenter CA certificate public key for SSL verification."
        }
      },
      "id": "VmwareAdminVCenterConfig"
    },
    "VmwareNodeConfig": {
      "description": "Parameters that describe the configuration of all nodes within a given node pool.",
      "properties": {
        "memoryMb": {
          "type": "string",
          "format": "int64",
          "description": "The megabytes of memory for each node in the node pool."
        },
        "vsphereConfig": {
          "$ref": "VmwareVsphereConfig",
          "readOnly": true,
          "description": "Output only. Specifies the vSphere config for node pool."
        },
        "labels": {
          "type": "object",
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "additionalProperties": {
            "type": "string"
          }
        },
        "taints": {
          "description": "The initial taints assigned to nodes of this node pool.",
          "items": {
            "$ref": "NodeTaint"
          },
          "type": "array"
        },
        "bootDiskSizeGb": {
          "format": "int64",
          "description": "VMware disk size to be used during creation.",
          "type": "string"
        },
        "replicas": {
          "format": "int64",
          "description": "The number of nodes in the node pool.",
          "type": "string"
        },
        "enableLoadBalancer": {
          "type": "boolean",
          "description": "Allow node pool traffic to be load balanced. Only works for clusters with MetalLB load balancers."
        },
        "imageType": {
          "type": "string",
          "description": "Required. The OS image to be used for each node in a node pool. Currently `cos`, `ubuntu`, `ubuntu_containerd` and `windows` are supported."
        },
        "image": {
          "type": "string",
          "description": "The OS image name in vCenter, only valid when using Windows."
        },
        "cpus": {
          "format": "int64",
          "type": "string",
          "description": "The number of CPUs for each node in the node pool."
        }
      },
      "type": "object",
      "id": "VmwareNodeConfig"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "VmwareAdminAddonNodeConfig": {
      "type": "object",
      "description": "VmwareAdminAddonNodeConfig contains add-on node configurations for VMware admin cluster.",
      "properties": {
        "autoResizeConfig": {
          "description": "VmwareAutoResizeConfig config specifies auto resize config.",
          "$ref": "VmwareAutoResizeConfig"
        }
      },
      "id": "VmwareAdminAddonNodeConfig"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "ListVmwareNodePoolsResponse": {
      "description": "Response message for listing VMware node pools.",
      "properties": {
        "vmwareNodePools": {
          "items": {
            "$ref": "VmwareNodePool"
          },
          "description": "The node pools from the specified parent resource.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListVmwareNodePoolsResponse",
      "type": "object"
    },
    "BareMetalAdminLoadBalancerConfig": {
      "properties": {
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalAdminPortConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "BareMetalAdminManualLbConfig"
        },
        "vipConfig": {
          "$ref": "BareMetalAdminVipConfig",
          "description": "The VIPs used by the load balancer."
        }
      },
      "description": "BareMetalAdminLoadBalancerConfig specifies the load balancer configuration.",
      "type": "object",
      "id": "BareMetalAdminLoadBalancerConfig"
    },
    "ListBareMetalClustersResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bareMetalClusters": {
          "type": "array",
          "description": "The list of bare metal Clusters.",
          "items": {
            "$ref": "BareMetalCluster"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        }
      },
      "description": "Response message for listing bare metal Clusters.",
      "id": "ListBareMetalClustersResponse"
    },
    "VmwareAdminCluster": {
      "description": "Resource that represents a VMware admin cluster.",
      "type": "object",
      "id": "VmwareAdminCluster",
      "properties": {
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the VMware admin cluster.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of VMware admin cluster.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the VMware admin cluster."
        },
        "networkConfig": {
          "description": "The VMware admin cluster network configuration.",
          "$ref": "VmwareAdminNetworkConfig"
        },
        "antiAffinityGroups": {
          "$ref": "VmwareAAGConfig",
          "description": "The VMware admin cluster anti affinity group configuration."
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "controlPlaneNode": {
          "description": "The VMware admin cluster control plane node configuration.",
          "$ref": "VmwareAdminControlPlaneNodeConfig"
        },
        "onPremVersion": {
          "description": "The Anthos clusters on the VMware version for the admin cluster.",
          "type": "string"
        },
        "imageType": {
          "description": "The OS image type for the VMware admin cluster.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which VMware admin cluster was last updated."
        },
        "localName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The object name of the VMware OnPremAdminCluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs."
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "loadBalancer": {
          "description": "The VMware admin cluster load balancer configuration.",
          "$ref": "VmwareAdminLoadBalancerConfig"
        },
        "autoRepairConfig": {
          "$ref": "VmwareAutoRepairConfig",
          "description": "The VMware admin cluster auto repair configuration."
        },
        "annotations": {
          "description": "Annotations on the VMware admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The VMware admin cluster resource name."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "description": {
          "description": "A human readable description of this VMware admin cluster.",
          "type": "string"
        },
        "addonNode": {
          "description": "The VMware admin cluster addon node configuration.",
          "$ref": "VmwareAdminAddonNodeConfig"
        },
        "vcenter": {
          "$ref": "VmwareAdminVCenterConfig",
          "description": "The VMware admin cluster VCenter configuration."
        },
        "bootstrapClusterMembership": {
          "type": "string",
          "description": "The bootstrap cluster this VMware admin cluster belongs to."
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware admin cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which VMware admin cluster was created.",
          "type": "string"
        },
        "platformConfig": {
          "description": "The VMware platform configuration.",
          "$ref": "VmwarePlatformConfig"
        }
      }
    },
    "VmwareAdminF5BigIpConfig": {
      "id": "VmwareAdminF5BigIpConfig",
      "description": "VmwareAdminF5BigIpConfig represents configuration parameters for an F5 BIG-IP load balancer.",
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "description": "The load balancer's IP address."
        },
        "snatPool": {
          "type": "string",
          "description": "The pool name. Only necessary, if using SNAT."
        },
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        }
      }
    },
    "ValidationCheckResult": {
      "properties": {
        "details": {
          "type": "string",
          "description": "Detailed failure information, which might be unformatted."
        },
        "category": {
          "type": "string",
          "description": "The category of the validation."
        },
        "description": {
          "description": "The description of the validation check.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ],
          "description": "The validation check state.",
          "type": "string",
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ]
        },
        "reason": {
          "description": "A human-readable message of the check failure.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ValidationCheckResult defines the details about the validation check.",
      "id": "ValidationCheckResult"
    },
    "BareMetalDrainedMachine": {
      "description": "Represents a machine that is currently drained.",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Drained machine IP address."
        }
      },
      "type": "object",
      "id": "BareMetalDrainedMachine"
    },
    "VmwareControlPlaneVsphereConfig": {
      "id": "VmwareControlPlaneVsphereConfig",
      "description": "Specifies control plane node config.",
      "properties": {
        "datastore": {
          "description": "The Vsphere datastore used by the control plane Node.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BareMetalAdminProxyConfig": {
      "description": "BareMetalAdminProxyConfig specifies the cluster proxy configuration.",
      "properties": {
        "uri": {
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` WARNING: Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server.",
          "type": "string"
        },
        "noProxy": {
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "BareMetalAdminProxyConfig",
      "type": "object"
    },
    "BareMetalNodeAccessConfig": {
      "type": "object",
      "properties": {
        "loginUser": {
          "type": "string",
          "description": "LoginUser is the user name used to access node machines. It defaults to \"root\" if not set."
        }
      },
      "id": "BareMetalNodeAccessConfig",
      "description": "Specifies the node access related settings for the bare metal user cluster."
    },
    "VmwareHostIp": {
      "type": "object",
      "description": "Represents VMware user cluster node's network configuration.",
      "id": "VmwareHostIp",
      "properties": {
        "ip": {
          "type": "string",
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24)."
        },
        "hostname": {
          "type": "string",
          "description": "Hostname of the machine. VM's name will be used if this field is empty."
        }
      }
    },
    "ListVmwareAdminClustersResponse": {
      "properties": {
        "vmwareAdminClusters": {
          "type": "array",
          "description": "The list of VMware admin cluster.",
          "items": {
            "$ref": "VmwareAdminCluster"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        }
      },
      "type": "object",
      "description": "Response message for listing VMware admin clusters.",
      "id": "ListVmwareAdminClustersResponse"
    },
    "VmwareAAGConfig": {
      "properties": {
        "aagConfigDisabled": {
          "type": "boolean",
          "description": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default."
        }
      },
      "id": "VmwareAAGConfig",
      "type": "object",
      "description": "Specifies anti affinity group config for the VMware user cluster."
    },
    "ValidationCheck": {
      "description": "ValidationCheck represents the result of preflight check.",
      "type": "object",
      "id": "ValidationCheck",
      "properties": {
        "scenario": {
          "description": "Output only. The scenario when the preflight checks were run.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The validation check occurred during a create flow.",
            "The validation check occurred during an update flow."
          ],
          "enum": [
            "SCENARIO_UNSPECIFIED",
            "CREATE",
            "UPDATE"
          ],
          "type": "string",
          "readOnly": true
        },
        "status": {
          "readOnly": true,
          "$ref": "ValidationCheckStatus",
          "description": "Output only. The detailed validation check status."
        },
        "option": {
          "description": "Options used for the validation check",
          "enum": [
            "OPTIONS_UNSPECIFIED",
            "SKIP_VALIDATION_CHECK_BLOCKING",
            "SKIP_VALIDATION_ALL"
          ],
          "enumDescriptions": [
            "Default value. Standard preflight validation check will be used.",
            "Prevent failed preflight checks from failing.",
            "Skip all preflight check validations."
          ],
          "type": "string"
        }
      }
    },
    "NodeTaint": {
      "description": "NodeTaint applied to every Kubernetes node in a node pool. Kubernetes taints can be used together with tolerations to control how workloads are scheduled to your nodes. Node taints are permanent.",
      "type": "object",
      "id": "NodeTaint",
      "properties": {
        "effect": {
          "enumDescriptions": [
            "Not set.",
            "Do not allow new pods to schedule onto the node unless they tolerate the taint, but allow all pods submitted to Kubelet without going through the scheduler to start, and allow all already-running pods to continue running. Enforced by the scheduler.",
            "Like TaintEffectNoSchedule, but the scheduler tries not to schedule new pods onto the node, rather than prohibiting new pods from scheduling onto the node entirely. Enforced by the scheduler.",
            "Evict any already-running pods that do not tolerate the taint. Currently enforced by NodeController."
          ],
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "description": "The taint effect.",
          "type": "string"
        },
        "value": {
          "description": "Value associated with the effect.",
          "type": "string"
        },
        "key": {
          "description": "Key associated with the effect.",
          "type": "string"
        }
      }
    },
    "VmwareStaticIpConfig": {
      "description": "Represents the network configuration required for the VMware user clusters with Static IP configurations.",
      "id": "VmwareStaticIpConfig",
      "properties": {
        "ipBlocks": {
          "type": "array",
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "description": "Represents the configuration values for static IP allocation to nodes."
        }
      },
      "type": "object"
    },
    "BareMetalAdminDrainingMachine": {
      "description": "BareMetalAdminDrainingMachine represents the machines that are currently draining.",
      "id": "BareMetalAdminDrainingMachine",
      "properties": {
        "podCount": {
          "description": "The count of pods yet to drain.",
          "format": "int32",
          "type": "integer"
        },
        "nodeIp": {
          "type": "string",
          "description": "Draining machine IP address."
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "BareMetalAdminNetworkConfig": {
      "properties": {
        "islandModeCidr": {
          "description": "Configuration for Island mode CIDR.",
          "$ref": "BareMetalAdminIslandModeCidrConfig"
        }
      },
      "id": "BareMetalAdminNetworkConfig",
      "type": "object",
      "description": "BareMetalAdminNetworkConfig specifies the cluster network configuration."
    },
    "Fleet": {
      "properties": {
        "membership": {
          "description": "Output only. The name of the managed fleet Membership resource associated to this cluster. Membership names are formatted as `projects//locations//memberships/`.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Fleet related configuration. Fleets are a Google Cloud concept for logically organizing clusters, letting you use and manage multi-cluster capabilities and apply consistent policies across your systems. See [Anthos Fleets](`https://cloud.google.com/anthos/multicluster-management/fleets`) for more details on Anthos multi-cluster capabilities using Fleets. ##",
      "type": "object",
      "id": "Fleet"
    },
    "BareMetalLoadBalancerNodePoolConfig": {
      "description": "Specifies the load balancer's node pool configuration.",
      "type": "object",
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "id": "BareMetalLoadBalancerNodePoolConfig"
    },
    "VmwareVersionInfo": {
      "properties": {
        "hasDependencies": {
          "type": "boolean",
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster) must be upgraded before this version can be installed or upgraded to."
        },
        "version": {
          "type": "string",
          "description": "Version number e.g. 1.13.1-gke.1000."
        },
        "isInstalled": {
          "description": "If set, the version is installed in the admin cluster. Otherwise, the version bundle must be downloaded and installed before a user cluster can be created at or upgraded to this version.",
          "type": "boolean"
        }
      },
      "id": "VmwareVersionInfo",
      "type": "object",
      "description": "Contains information about a specific Anthos on VMware version."
    },
    "BareMetalLoadBalancerConfig": {
      "properties": {
        "vipConfig": {
          "$ref": "BareMetalVipConfig",
          "description": "The VIPs used by the load balancer."
        },
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalPortConfig"
        },
        "metalLbConfig": {
          "description": "Configuration for MetalLB load balancers.",
          "$ref": "BareMetalMetalLbConfig"
        },
        "bgpLbConfig": {
          "description": "Configuration for BGP typed load balancers. When set network_config.advanced_networking is automatically set to true.",
          "$ref": "BareMetalBgpLbConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "BareMetalManualLbConfig"
        }
      },
      "type": "object",
      "description": "Specifies the load balancer configuration.",
      "id": "BareMetalLoadBalancerConfig"
    },
    "BareMetalLvpShareConfig": {
      "properties": {
        "sharedPathPvCount": {
          "description": "The number of subdirectories to create under path.",
          "format": "int32",
          "type": "integer"
        },
        "lvpConfig": {
          "description": "Required. Defines the machine path and storage class for the LVP Share.",
          "$ref": "BareMetalLvpConfig"
        }
      },
      "description": "Specifies the configs for local persistent volumes under a shared file system.",
      "type": "object",
      "id": "BareMetalLvpShareConfig"
    },
    "VmwareStorageConfig": {
      "properties": {
        "vsphereCsiDisabled": {
          "description": "Whether or not to deploy vSphere CSI components in the VMware user cluster. Enabled by default.",
          "type": "boolean"
        }
      },
      "id": "VmwareStorageConfig",
      "description": "Specifies vSphere CSI components deployment config in the VMware user cluster.",
      "type": "object"
    },
    "VmwareLoadBalancerConfig": {
      "description": "Specifies the locad balancer config for the VMware user cluster.",
      "id": "VmwareLoadBalancerConfig",
      "type": "object",
      "properties": {
        "metalLbConfig": {
          "$ref": "VmwareMetalLbConfig",
          "description": "Configuration for MetalLB typed load balancers."
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareF5BigIpConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareManualLbConfig"
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareVipConfig"
        }
      }
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "BareMetalVersionInfo": {
      "type": "object",
      "description": "Contains information about a specific Anthos on bare metal version.",
      "id": "BareMetalVersionInfo",
      "properties": {
        "version": {
          "description": "Version number e.g. 1.13.1.",
          "type": "string"
        },
        "hasDependencies": {
          "type": "boolean",
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster, version skew policy, etc) must be upgraded before this version can be installed or upgraded to."
        }
      }
    },
    "VmwareHostConfig": {
      "description": "Represents the common parameters for all the hosts irrespective of their IP address.",
      "id": "VmwareHostConfig",
      "type": "object",
      "properties": {
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNS servers."
        },
        "dnsSearchDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "DNS search domains."
        },
        "ntpServers": {
          "description": "NTP servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalNodeConfig": {
      "id": "BareMetalNodeConfig",
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes.",
      "properties": {
        "nodeIp": {
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1",
          "type": "string"
        },
        "labels": {
          "description": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "VmwareCluster": {
      "description": "Resource that represents a VMware user cluster. ##",
      "id": "VmwareCluster",
      "properties": {
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the VMware user cluster."
        },
        "fleet": {
          "readOnly": true,
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster."
        },
        "name": {
          "description": "Immutable. The VMware user cluster resource name.",
          "type": "string"
        },
        "authorization": {
          "description": "RBAC policy that will be applied and managed by the Anthos On-Prem API.",
          "$ref": "Authorization"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the VMware user cluster."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "localName": {
          "description": "Output only. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of VMware user cluster.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ]
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        },
        "createTime": {
          "description": "Output only. The time at which VMware user cluster was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "adminClusterName": {
          "type": "string",
          "description": "Output only. The resource name of the VMware admin cluster hosting this user cluster.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which VMware user cluster was last updated."
        },
        "validationCheck": {
          "readOnly": true,
          "description": "Output only. ValidationCheck represents the result of the preflight check job.",
          "$ref": "ValidationCheck"
        },
        "autoRepairConfig": {
          "description": "Configuration for auto repairing.",
          "$ref": "VmwareAutoRepairConfig"
        },
        "controlPlaneNode": {
          "$ref": "VmwareControlPlaneNodeConfig",
          "description": "VMware user cluster control plane nodes must have either 1 or 3 replicas."
        },
        "onPremVersion": {
          "description": "The Anthos clusters on the VMware version for your user cluster. Defaults to the admin cluster version.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the VMware user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "enableControlPlaneV2": {
          "description": "Enable control plane V2. Default to false.",
          "type": "boolean"
        },
        "deleteTime": {
          "description": "Output only. The time at which VMware user cluster was deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "vmTrackingEnabled": {
          "description": "Enable VM tracking.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "A human readable description of this VMware user cluster."
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware user cluster's API server.",
          "type": "string",
          "readOnly": true
        },
        "dataplaneV2": {
          "$ref": "VmwareDataplaneV2Config",
          "description": "VmwareDataplaneV2Config specifies configuration for Dataplane V2."
        },
        "loadBalancer": {
          "$ref": "VmwareLoadBalancerConfig",
          "description": "Load balancer configuration."
        },
        "vcenter": {
          "description": "Output only. VmwareVCenterConfig specifies vCenter config for the user cluster. Inherited from the admin cluster.",
          "$ref": "VmwareVCenterConfig",
          "readOnly": true
        },
        "storage": {
          "description": "Storage configuration.",
          "$ref": "VmwareStorageConfig"
        },
        "antiAffinityGroups": {
          "$ref": "VmwareAAGConfig",
          "description": "AAGConfig specifies whether to spread VMware user cluster nodes across at least three physical hosts in the datacenter."
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "networkConfig": {
          "$ref": "VmwareNetworkConfig",
          "description": "The VMware user cluster network configuration."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "EnrollBareMetalNodePoolRequest": {
      "id": "EnrollBareMetalNodePoolRequest",
      "description": "Message for enrolling an existing bare metal node pool to the GKE on-prem API.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "If set, only validate the request, but do not actually enroll the node pool."
        },
        "bareMetalNodePoolId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This value must be up to 40 characters and follow RFC-1123 (https://tools.ietf.org/html/rfc1123) format."
        }
      }
    },
    "Policy": {
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "BareMetalAdminClusterOperationsConfig": {
      "description": "BareMetalAdminClusterOperationsConfig specifies the admin cluster's observability infrastructure.",
      "id": "BareMetalAdminClusterOperationsConfig",
      "type": "object",
      "properties": {
        "enableApplicationLogs": {
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).",
          "type": "boolean"
        }
      }
    },
    "VmwareControlPlaneNodeConfig": {
      "description": "Specifies control plane node config for the VMware user cluster.",
      "id": "VmwareControlPlaneNodeConfig",
      "properties": {
        "cpus": {
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)",
          "type": "string",
          "format": "int64"
        },
        "vsphereConfig": {
          "description": "Output only. Vsphere-specific config.",
          "readOnly": true,
          "$ref": "VmwareControlPlaneVsphereConfig"
        },
        "autoResizeConfig": {
          "$ref": "VmwareAutoResizeConfig",
          "description": "AutoResizeConfig provides auto resizing configurations."
        },
        "memory": {
          "format": "int64",
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory).",
          "type": "string"
        },
        "replicas": {
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica).",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "QueryVmwareVersionConfigResponse": {
      "properties": {
        "versions": {
          "type": "array",
          "description": "List of available versions to install or to upgrade to.",
          "items": {
            "$ref": "VmwareVersionInfo"
          }
        }
      },
      "type": "object",
      "description": "Response message for querying VMware user cluster version config.",
      "id": "QueryVmwareVersionConfigResponse"
    },
    "EnrollVmwareAdminClusterRequest": {
      "description": "Message for enrolling an existing VMware admin cluster to the GKE on-prem API.",
      "id": "EnrollVmwareAdminClusterRequest",
      "properties": {
        "vmwareAdminClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. This value must be up to 40 characters and follow RFC-1123 (https://tools.ietf.org/html/rfc1123) format."
        },
        "membership": {
          "description": "Required. This is the full resource name of this admin cluster's fleet membership.",
          "type": "string"
        },
        "localName": {
          "description": "The object name of the VMware OnPremAdminCluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the vmware_admin_cluster_id. Otherwise, it must match the object name of the VMware OnPremAdminCluster custom resource. It is not modifiable outside / beyond the enrollment operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BareMetalAdminControlPlaneConfig": {
      "type": "object",
      "properties": {
        "apiServerArgs": {
          "items": {
            "$ref": "BareMetalAdminApiServerArgument"
          },
          "type": "array",
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/"
        },
        "controlPlaneNodePoolConfig": {
          "description": "Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster.",
          "$ref": "BareMetalAdminControlPlaneNodePoolConfig"
        }
      },
      "description": "BareMetalAdminControlPlaneConfig specifies the control plane configuration.",
      "id": "BareMetalAdminControlPlaneConfig"
    },
    "VmwareVipConfig": {
      "type": "object",
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this cluster."
        },
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this cluster.",
          "type": "string"
        }
      },
      "id": "VmwareVipConfig",
      "description": "Specifies the VIP config for the VMware user cluster load balancer."
    },
    "VmwareVsphereConfig": {
      "properties": {
        "datastore": {
          "description": "The name of the vCenter datastore. Inherited from the user cluster.",
          "type": "string"
        },
        "tags": {
          "description": "Tags to apply to VMs.",
          "items": {
            "$ref": "VmwareVsphereTag"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "VmwareVsphereConfig",
      "description": "VmwareVsphereConfig represents configuration for the VMware VCenter for node pool."
    },
    "BareMetalWorkloadNodeConfig": {
      "type": "object",
      "properties": {
        "containerRuntime": {
          "type": "string",
          "description": "Specifies which container runtime will be used.",
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "CONTAINERD"
          ],
          "enumDescriptions": [
            "No container runtime selected.",
            "Containerd runtime."
          ]
        },
        "maxPodsPerNode": {
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Specifies the workload node configurations.",
      "id": "BareMetalWorkloadNodeConfig"
    },
    "BareMetalBgpPeerConfig": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "Required. The IP address of the external peer device.",
          "type": "string"
        },
        "asn": {
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device.",
          "type": "string",
          "format": "int64"
        },
        "controlPlaneNodes": {
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "BareMetalBgpPeerConfig",
      "description": "BareMetalBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer."
    },
    "BareMetalAdminDrainedMachine": {
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Drained machine IP address."
        }
      },
      "id": "BareMetalAdminDrainedMachine",
      "type": "object",
      "description": "BareMetalAdminDrainedMachine represents the machines that are drained."
    },
    "BareMetalNodePool": {
      "id": "BareMetalNodePool",
      "properties": {
        "status": {
          "description": "Output only. ResourceStatus representing the detailed node pool status.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "nodePoolConfig": {
          "$ref": "BareMetalNodePoolConfig",
          "description": "Required. Node pool configuration."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the bare metal node pool."
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this bare metal node pool was deleted. If the resource is not deleted, this must be empty"
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the bare metal node pool.",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name for the bare metal node pool.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the bare metal node pool.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the bare metal node pool is being created.",
            "The RUNNING state indicates the bare metal node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the bare metal node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the bare metal node pool is being deleted.",
            "The ERROR state indicates the bare metal node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the bare metal node pool requires user action to restore full functionality."
          ],
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this bare metal node pool was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which this bare metal node pool was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The bare metal node pool resource name.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the bare metal node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Resource that represents a bare metal node pool."
    },
    "BareMetalAdminMaintenanceConfig": {
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource."
        }
      },
      "description": "BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance.",
      "type": "object",
      "id": "BareMetalAdminMaintenanceConfig"
    },
    "BareMetalAdminStorageConfig": {
      "type": "object",
      "id": "BareMetalAdminStorageConfig",
      "properties": {
        "lvpShareConfig": {
          "$ref": "BareMetalLvpShareConfig",
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation."
        },
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        }
      },
      "description": "BareMetalAdminStorageConfig specifies the cluster storage configuration."
    },
    "BareMetalAdminCluster": {
      "type": "object",
      "description": "## Resource that represents a bare metal admin cluster.",
      "properties": {
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the bare metal admin cluster.",
          "type": "string"
        },
        "nodeConfig": {
          "$ref": "BareMetalAdminWorkloadNodeConfig",
          "description": "Workload node configuration."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this bare metal admin cluster was last updated.",
          "readOnly": true
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the bare metal Admin Cluster."
        },
        "nodeAccessConfig": {
          "$ref": "BareMetalAdminNodeAccessConfig",
          "description": "Node access related configurations."
        },
        "description": {
          "type": "string",
          "description": "A human readable description of this bare metal admin cluster."
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true,
          "$ref": "Fleet"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. ResourceStatus representing detailed cluster status.",
          "$ref": "ResourceStatus"
        },
        "clusterOperations": {
          "$ref": "BareMetalAdminClusterOperationsConfig",
          "description": "Cluster operations configuration."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the bare metal admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "validationCheck": {
          "$ref": "ValidationCheck",
          "description": "Output only. ValidationCheck representing the result of the preflight check.",
          "readOnly": true
        },
        "loadBalancer": {
          "description": "Load balancer configuration.",
          "$ref": "BareMetalAdminLoadBalancerConfig"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which this bare metal admin cluster was created."
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the bare metal admin cluster.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ]
        },
        "osEnvironmentConfig": {
          "$ref": "BareMetalAdminOsEnvironmentConfig",
          "description": "OS environment related configurations."
        },
        "networkConfig": {
          "$ref": "BareMetalAdminNetworkConfig",
          "description": "Network configuration."
        },
        "controlPlane": {
          "$ref": "BareMetalAdminControlPlaneConfig",
          "description": "Control plane configuration."
        },
        "maintenanceStatus": {
          "$ref": "BareMetalAdminMaintenanceStatus",
          "readOnly": true,
          "description": "Output only. MaintenanceStatus representing state of maintenance."
        },
        "endpoint": {
          "readOnly": true,
          "description": "Output only. The IP address name of bare metal admin cluster's API server.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "storage": {
          "description": "Storage configuration.",
          "$ref": "BareMetalAdminStorageConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal admin cluster resource name."
        },
        "proxy": {
          "description": "Proxy configuration.",
          "$ref": "BareMetalAdminProxyConfig"
        },
        "localName": {
          "type": "string",
          "description": "Output only. The object name of the bare metal cluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. The time at which this bare metal admin cluster was deleted. If the resource is not deleted, this must be empty",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "maintenanceConfig": {
          "$ref": "BareMetalAdminMaintenanceConfig",
          "description": "Maintenance configuration."
        },
        "securityConfig": {
          "$ref": "BareMetalAdminSecurityConfig",
          "description": "Security related configuration."
        },
        "bareMetalVersion": {
          "type": "string",
          "description": "The Anthos clusters on bare metal version for the bare metal admin cluster."
        }
      },
      "id": "BareMetalAdminCluster"
    },
    "BareMetalControlPlaneNodePoolConfig": {
      "properties": {
        "nodePoolConfig": {
          "description": "Required. The generic configuration for a node pool running the control plane.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "description": "Specifies the control plane node pool configuration.",
      "type": "object",
      "id": "BareMetalControlPlaneNodePoolConfig"
    },
    "VmwareAddressPool": {
      "id": "VmwareAddressPool",
      "type": "object",
      "properties": {
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        },
        "addresses": {
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents an IP pool used by the load balancer."
    },
    "BareMetalDrainingMachine": {
      "properties": {
        "podCount": {
          "format": "int32",
          "type": "integer",
          "description": "The count of pods yet to drain."
        },
        "nodeIp": {
          "type": "string",
          "description": "Draining machine IP address."
        }
      },
      "description": "Represents a machine that is currently draining.",
      "type": "object",
      "id": "BareMetalDrainingMachine"
    },
    "EnrollVmwareNodePoolRequest": {
      "properties": {
        "vmwareNodePoolId": {
          "description": "The target node pool id to be enrolled.",
          "type": "string"
        }
      },
      "id": "EnrollVmwareNodePoolRequest",
      "type": "object",
      "description": "Message for enrolling a VMware node pool."
    },
    "EnrollBareMetalClusterRequest": {
      "id": "EnrollBareMetalClusterRequest",
      "type": "object",
      "description": "Message for enrolling an existing bare metal cluster to the Anthos On-Prem API.",
      "properties": {
        "bareMetalClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all bare metal clusters within a project and location and will return a 409 if the cluster already exists. This value must be up to 40 characters and follow RFC-1123 (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources.",
          "type": "string"
        },
        "localName": {
          "type": "string",
          "description": "The object name of the bare metal cluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_cluster_id. Otherwise, it must match the object name of the bare metal cluster custom resource. It is not modifiable outside / beyond the enrollment operation."
        }
      }
    },
    "BareMetalMaintenanceStatus": {
      "properties": {
        "machineDrainStatus": {
          "description": "The maintenance status of node machines.",
          "$ref": "BareMetalMachineDrainStatus"
        }
      },
      "id": "BareMetalMaintenanceStatus",
      "description": "Represents the maintenance status of the bare metal user cluster.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "id": "Status"
    },
    "BareMetalAdminVipConfig": {
      "id": "BareMetalAdminVipConfig",
      "type": "object",
      "description": "BareMetalAdminVipConfig for bare metal load balancer configurations.",
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal admin cluster."
        }
      }
    },
    "VmwareControlPlaneV2Config": {
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      },
      "type": "object",
      "id": "VmwareControlPlaneV2Config",
      "description": "Specifies control plane V2 config."
    },
    "BareMetalAdminOsEnvironmentConfig": {
      "description": "Specifies operating system operation settings for cluster provisioning.",
      "type": "object",
      "id": "BareMetalAdminOsEnvironmentConfig",
      "properties": {
        "packageRepoExcluded": {
          "description": "Whether the package repo should be added when initializing bare metal machines.",
          "type": "boolean"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "BareMetalLoadBalancerAddressPool": {
      "properties": {
        "addresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array"
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        },
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        },
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        }
      },
      "id": "BareMetalLoadBalancerAddressPool",
      "description": "Represents an IP pool used by the load balancer.",
      "type": "object"
    },
    "VmwareIpBlock": {
      "properties": {
        "ips": {
          "description": "The node's network configurations used by the VMware user cluster.",
          "type": "array",
          "items": {
            "$ref": "VmwareHostIp"
          }
        },
        "gateway": {
          "type": "string",
          "description": "The network gateway used by the VMware user cluster."
        },
        "netmask": {
          "type": "string",
          "description": "The netmask used by the VMware user cluster."
        }
      },
      "id": "VmwareIpBlock",
      "type": "object",
      "description": "Represents a collection of IP addresses to assign to nodes."
    },
    "BareMetalNetworkConfig": {
      "properties": {
        "islandModeCidr": {
          "description": "Configuration for island mode CIDR. In an island-mode network, nodes have unique IP addresses, but pods don't have unique addresses across clusters. This doesn't cause problems because pods in one cluster never directly communicate with pods in another cluster. Instead, there are gateways that mediate between a pod in one cluster and a pod in another cluster.",
          "$ref": "BareMetalIslandModeCidrConfig"
        },
        "multipleNetworkInterfacesConfig": {
          "description": "Configuration for multiple network interfaces.",
          "$ref": "BareMetalMultipleNetworkInterfacesConfig"
        },
        "srIovConfig": {
          "description": "Configuration for SR-IOV.",
          "$ref": "BareMetalSrIovConfig"
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag."
        }
      },
      "id": "BareMetalNetworkConfig",
      "description": "Specifies the cluster network configuration.",
      "type": "object"
    },
    "VmwareMetalLbConfig": {
      "type": "object",
      "properties": {
        "addressPools": {
          "items": {
            "$ref": "VmwareAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array"
        }
      },
      "description": "Represents configuration parameters for the MetalLB load balancer.",
      "id": "VmwareMetalLbConfig"
    },
    "ListBareMetalNodePoolsResponse": {
      "id": "ListBareMetalNodePoolsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "bareMetalNodePools": {
          "items": {
            "$ref": "BareMetalNodePool"
          },
          "description": "The node pools from the specified parent resource.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for listing bare metal node pools."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "QueryBareMetalVersionConfigResponse": {
      "id": "QueryBareMetalVersionConfigResponse",
      "type": "object",
      "description": "Response message for querying bare metal admin cluster version config.",
      "properties": {
        "versions": {
          "description": "List of available versions to install or to upgrade to.",
          "type": "array",
          "items": {
            "$ref": "BareMetalVersionInfo"
          }
        }
      }
    },
    "VmwareF5BigIpConfig": {
      "id": "VmwareF5BigIpConfig",
      "type": "object",
      "description": "Represents configuration parameters for an F5 BIG-IP load balancer.",
      "properties": {
        "snatPool": {
          "description": "The pool name. Only necessary, if using SNAT.",
          "type": "string"
        },
        "partition": {
          "type": "string",
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'."
        },
        "address": {
          "description": "The load balancer's IP address.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "type": {
          "type": "string",
          "description": "Output only. Type of operation being executed.",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The resource is being created.",
            "The resource is being deleted.",
            "The resource is being updated.",
            "The resource is being upgraded."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "UPGRADE"
          ]
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have [Operation.error] value with a [google.rpc.Status.code] of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "VmwareNodePool": {
      "type": "object",
      "description": "Resource VmwareNodePool represents a VMware node pool. ##",
      "properties": {
        "config": {
          "description": "Required. The node configuration of the node pool.",
          "$ref": "VmwareNodeConfig"
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing the detailed VMware node pool state."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the node pool."
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this node pool was deleted. If the resource is not deleted, this must be empty"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the node pool.",
          "type": "boolean"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations on the node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this node pool was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "nodePoolAutoscaling": {
          "description": "Node pool autoscaling config for the node pool.",
          "$ref": "VmwareNodePoolAutoscalingConfig"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this node pool was last updated."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of this node pool."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted",
            "The ERROR state indicates the node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the node pool requires user action to restore full functionality."
          ],
          "description": "Output only. The current state of the node pool.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique identifier of the node pool.",
          "readOnly": true,
          "type": "string"
        },
        "onPremVersion": {
          "type": "string",
          "description": "Anthos version for the node pool. Defaults to the user cluster version."
        }
      },
      "id": "VmwareNodePool"
    },
    "BareMetalSecurityConfig": {
      "type": "object",
      "id": "BareMetalSecurityConfig",
      "properties": {
        "authorization": {
          "$ref": "Authorization",
          "description": "Configures user access to the user cluster."
        }
      },
      "description": "Specifies the security related settings for the bare metal user cluster."
    },
    "ListVmwareClustersResponse": {
      "description": "Response message for listing VMware Clusters.",
      "id": "ListVmwareClustersResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        },
        "vmwareClusters": {
          "items": {
            "$ref": "VmwareCluster"
          },
          "description": "The list of VMware Cluster.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "VmwarePlatformConfig": {
      "id": "VmwarePlatformConfig",
      "properties": {
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. Resource status for the platform.",
          "readOnly": true
        },
        "requiredPlatformVersion": {
          "type": "string",
          "description": "Input only. The required platform version e.g. 1.13.1. If the current platform version is lower than the target version, the platform version will be updated to the target version. If the target version is not installed in the platform (bundle versions), download the target version bundle."
        },
        "platformVersion": {
          "description": "Output only. The platform version e.g. 1.13.2.",
          "readOnly": true,
          "type": "string"
        },
        "bundles": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "VmwareBundleConfig"
          },
          "description": "Output only. The list of bundles installed in the admin cluster."
        }
      },
      "description": "VmwarePlatformConfig represents configuration for the VMware platform.",
      "type": "object"
    },
    "BareMetalAdminMaintenanceStatus": {
      "properties": {
        "machineDrainStatus": {
          "description": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade.",
          "$ref": "BareMetalAdminMachineDrainStatus"
        }
      },
      "description": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.",
      "type": "object",
      "id": "BareMetalAdminMaintenanceStatus"
    },
    "VmwareNodePoolAutoscalingConfig": {
      "id": "VmwareNodePoolAutoscalingConfig",
      "type": "object",
      "properties": {
        "minReplicas": {
          "description": "Minimum number of replicas in the NodePool.",
          "format": "int32",
          "type": "integer"
        },
        "maxReplicas": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of replicas in the NodePool."
        }
      },
      "description": "NodePoolAutoscaling config for the NodePool to allow for the kubernetes to scale NodePool."
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
[...]
