{
  "canonicalName": "GKE On-Prem",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/anthos/clusters/docs/on-prem/",
  "rootUrl": "https://gkeonprem.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Anthos On-Prem API",
  "revision": "20230426",
  "name": "gkeonprem",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "VmwareAutoResizeConfig": {
      "description": "Represents auto resizing configurations for the VMware user cluster.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether to enable controle plane node auto resizing.",
          "type": "boolean"
        }
      },
      "id": "VmwareAutoResizeConfig"
    },
    "BareMetalAdminOsEnvironmentConfig": {
      "id": "BareMetalAdminOsEnvironmentConfig",
      "description": "Specifies operating system operation settings for cluster provisioning.",
      "type": "object",
      "properties": {
        "packageRepoExcluded": {
          "type": "boolean",
          "description": "Whether the package repo should be added when initializing bare metal machines."
        }
      }
    },
    "Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
        }
      },
      "type": "object",
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "VmwareHostConfig": {
      "type": "object",
      "description": "Represents the common parameters for all the hosts irrespective of their IP address.",
      "properties": {
        "dnsSearchDomains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "DNS search domains."
        },
        "ntpServers": {
          "description": "NTP servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsServers": {
          "type": "array",
          "description": "DNS servers.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VmwareHostConfig"
    },
    "BareMetalControlPlaneConfig": {
      "type": "object",
      "id": "BareMetalControlPlaneConfig",
      "description": "Specifies the control plane configuration.",
      "properties": {
        "controlPlaneNodePoolConfig": {
          "$ref": "BareMetalControlPlaneNodePoolConfig",
          "description": "Required. Configures the node pool running the control plane."
        },
        "apiServerArgs": {
          "type": "array",
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
          "items": {
            "$ref": "BareMetalApiServerArgument"
          }
        }
      }
    },
    "VmwareAdminAddonNodeConfig": {
      "properties": {
        "autoResizeConfig": {
          "description": "VmwareAutoResizeConfig config specifies auto resize config.",
          "$ref": "VmwareAutoResizeConfig"
        }
      },
      "id": "VmwareAdminAddonNodeConfig",
      "description": "VmwareAdminAddonNodeConfig contains add-on node configurations for VMware admin cluster.",
      "type": "object"
    },
    "BareMetalAdminMaintenanceStatus": {
      "description": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.",
      "id": "BareMetalAdminMaintenanceStatus",
      "type": "object",
      "properties": {
        "machineDrainStatus": {
          "description": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade.",
          "$ref": "BareMetalAdminMachineDrainStatus"
        }
      }
    },
    "BareMetalDrainedMachine": {
      "id": "BareMetalDrainedMachine",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Drained machine IP address."
        }
      },
      "type": "object",
      "description": "Represents a machine that is currently drained."
    },
    "BareMetalAdminNetworkConfig": {
      "properties": {
        "islandModeCidr": {
          "$ref": "BareMetalAdminIslandModeCidrConfig",
          "description": "Configuration for Island mode CIDR."
        }
      },
      "description": "BareMetalAdminNetworkConfig specifies the cluster network configuration.",
      "type": "object",
      "id": "BareMetalAdminNetworkConfig"
    },
    "BareMetalVersionInfo": {
      "id": "BareMetalVersionInfo",
      "properties": {
        "version": {
          "description": "Version number e.g. 1.13.1.",
          "type": "string"
        },
        "hasDependencies": {
          "type": "boolean",
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster, version skew policy, etc) must be upgraded before this version can be installed or upgraded to."
        }
      },
      "type": "object",
      "description": "Contains information about a specific Anthos on bare metal version."
    },
    "ClusterUser": {
      "description": "ClusterUser configures user principals for an RBAC policy.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. The name of the user, e.g. `my-gcp-id@gmail.com`."
        }
      },
      "id": "ClusterUser",
      "type": "object"
    },
    "BareMetalOsEnvironmentConfig": {
      "id": "BareMetalOsEnvironmentConfig",
      "type": "object",
      "properties": {
        "packageRepoExcluded": {
          "description": "Whether the package repo should not be included when initializing bare metal machines.",
          "type": "boolean"
        }
      },
      "description": "Specifies operating system settings for cluster provisioning."
    },
    "VmwareAdminVipConfig": {
      "id": "VmwareAdminVipConfig",
      "description": "VmwareAdminVipConfig for VMware load balancer configurations.",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of the admin cluster.",
          "type": "string"
        },
        "addonsVip": {
          "description": "The VIP to configure the load balancer for add-ons.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BareMetalCluster": {
      "description": "Resource that represents a bare metal user cluster.",
      "type": "object",
      "properties": {
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the bare metal user cluster.",
          "type": "boolean",
          "readOnly": true
        },
        "bareMetalVersion": {
          "description": "Required. The Anthos clusters on bare metal version for your user cluster.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the bare metal user cluster was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "adminClusterMembership": {
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership.",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. Detailed cluster status."
        },
        "fleet": {
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true
        },
        "nodeAccessConfig": {
          "description": "Node access related configurations.",
          "$ref": "BareMetalNodeAccessConfig"
        },
        "securityConfig": {
          "$ref": "BareMetalSecurityConfig",
          "description": "Security related setting configuration."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the bare metal user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object"
        },
        "clusterOperations": {
          "$ref": "BareMetalClusterOperationsConfig",
          "description": "Cluster operations configuration."
        },
        "networkConfig": {
          "$ref": "BareMetalNetworkConfig",
          "description": "Required. Network configuration."
        },
        "adminClusterName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the bare metal admin cluster managing this user cluster."
        },
        "name": {
          "description": "Immutable. The bare metal user cluster resource name.",
          "type": "string"
        },
        "loadBalancer": {
          "description": "Required. Load balancer configuration.",
          "$ref": "BareMetalLoadBalancerConfig"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "readOnly": true,
          "type": "string"
        },
        "nodeConfig": {
          "$ref": "BareMetalWorkloadNodeConfig",
          "description": "Workload node configuration."
        },
        "localName": {
          "readOnly": true,
          "description": "Output only. The object name of the bare metal user cluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the name in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. When the local name and cluster name differ, the local name is used in the admin cluster controller logs. You use the cluster name when accessing the cluster using bmctl and kubectl.",
          "type": "string"
        },
        "endpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address of the bare metal user cluster's API server."
        },
        "osEnvironmentConfig": {
          "description": "OS environment related configurations.",
          "$ref": "BareMetalOsEnvironmentConfig"
        },
        "description": {
          "description": "A human readable description of this bare metal user cluster.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the bare metal user cluster.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of the bare metal user cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ]
        },
        "maintenanceStatus": {
          "readOnly": true,
          "description": "Output only. Status of on-going maintenance tasks.",
          "$ref": "BareMetalMaintenanceStatus"
        },
        "maintenanceConfig": {
          "$ref": "BareMetalMaintenanceConfig",
          "description": "Maintenance configuration."
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. The time when the bare metal user cluster was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true,
          "format": "google-datetime"
        },
        "validationCheck": {
          "readOnly": true,
          "description": "Output only. The result of the preflight check.",
          "$ref": "ValidationCheck"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the bare metal user cluster was created.",
          "readOnly": true,
          "type": "string"
        },
        "proxy": {
          "description": "Proxy configuration.",
          "$ref": "BareMetalProxyConfig"
        },
        "controlPlane": {
          "description": "Required. Control plane configuration.",
          "$ref": "BareMetalControlPlaneConfig"
        },
        "storage": {
          "description": "Required. Storage configuration.",
          "$ref": "BareMetalStorageConfig"
        }
      },
      "id": "BareMetalCluster"
    },
    "BareMetalAdminNodeAccessConfig": {
      "description": "Specifies the node access related settings for the bare metal admin cluster.",
      "type": "object",
      "id": "BareMetalAdminNodeAccessConfig",
      "properties": {
        "loginUser": {
          "type": "string",
          "description": "Required. LoginUser is the user name used to access node machines. It defaults to \"root\" if not set."
        }
      }
    },
    "BareMetalBgpLbConfig": {
      "properties": {
        "bgpPeerConfigs": {
          "type": "array",
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation.",
          "items": {
            "$ref": "BareMetalBgpPeerConfig"
          }
        },
        "asn": {
          "type": "string",
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.",
          "format": "int64"
        },
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          }
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      },
      "id": "BareMetalBgpLbConfig",
      "type": "object",
      "description": "BareMetalBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer."
    },
    "BareMetalMaintenanceStatus": {
      "id": "BareMetalMaintenanceStatus",
      "properties": {
        "machineDrainStatus": {
          "$ref": "BareMetalMachineDrainStatus",
          "description": "The maintenance status of node machines."
        }
      },
      "type": "object",
      "description": "Represents the maintenance status of the bare metal user cluster."
    },
    "BareMetalKubeletConfig": {
      "type": "object",
      "properties": {
        "serializeImagePullsDisabled": {
          "description": "Prevents the Kubelet from pulling multiple images at a time. We recommend *not* changing the default value on nodes that run docker daemon with version \u003c 1.9 or an Another Union File System (Aufs) storage backend. Issue https://github.com/kubernetes/kubernetes/issues/10959 has more details.",
          "type": "boolean"
        },
        "registryPullQps": {
          "description": "The limit of registry pulls per second. Setting this value to 0 means no limit. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 5.",
          "type": "integer",
          "format": "int32"
        },
        "registryBurst": {
          "description": "The maximum size of bursty pulls, temporarily allows pulls to burst to this number, while still not exceeding registry_pull_qps. The value must not be a negative number. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 10.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "BareMetalKubeletConfig",
      "description": "KubeletConfig defines the modifiable kubelet configurations for baremetal machines. Note: this list includes fields supported in GKE (see https://cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-options)."
    },
    "QueryVmwareVersionConfigResponse": {
      "description": "Response message for querying VMware user cluster version config.",
      "id": "QueryVmwareVersionConfigResponse",
      "properties": {
        "versions": {
          "items": {
            "$ref": "VmwareVersionInfo"
          },
          "type": "array",
          "description": "List of available versions to install or to upgrade to."
        }
      },
      "type": "object"
    },
    "BareMetalLvpConfig": {
      "description": "Specifies the configs for local persistent volumes (PVs).",
      "type": "object",
      "id": "BareMetalLvpConfig",
      "properties": {
        "path": {
          "description": "Required. The host machine path.",
          "type": "string"
        },
        "storageClass": {
          "type": "string",
          "description": "Required. The StorageClass name that PVs will be created with."
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "VmwareAdminLoadBalancerConfig": {
      "id": "VmwareAdminLoadBalancerConfig",
      "properties": {
        "metalLbConfig": {
          "description": "MetalLB load balancers.",
          "$ref": "VmwareAdminMetalLbConfig"
        },
        "vipConfig": {
          "$ref": "VmwareAdminVipConfig",
          "description": "The VIPs used by the load balancer."
        },
        "manualLbConfig": {
          "$ref": "VmwareAdminManualLbConfig",
          "description": "Manually configured load balancers."
        },
        "f5Config": {
          "$ref": "VmwareAdminF5BigIpConfig",
          "description": "Configuration for F5 Big IP typed load balancers."
        }
      },
      "type": "object",
      "description": "VmwareAdminLoadBalancerConfig contains load balancer configuration for VMware admin cluster."
    },
    "ResourceStatus": {
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention."
        },
        "conditions": {
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller.",
          "items": {
            "$ref": "ResourceCondition"
          },
          "type": "array"
        }
      },
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED).",
      "id": "ResourceStatus",
      "type": "object"
    },
    "BareMetalProxyConfig": {
      "description": "Specifies the cluster proxy configuration.",
      "id": "BareMetalProxyConfig",
      "properties": {
        "uri": {
          "description": "Required. Specifies the address of your proxy server. Examples: `http://domain` Do not provide credentials in the format `http://(username:password@)domain` these will be rejected by the server.",
          "type": "string"
        },
        "noProxy": {
          "items": {
            "type": "string"
          },
          "description": "A list of IPs, hostnames, and domains that should skip the proxy. Examples: [\"127.0.0.1\", \"example.com\", \".corp\", \"localhost\"].",
          "type": "array"
        }
      },
      "type": "object"
    },
    "BareMetalAdminControlPlaneNodePoolConfig": {
      "properties": {
        "nodePoolConfig": {
          "$ref": "BareMetalNodePoolConfig",
          "description": "The generic configuration for a node pool running the control plane."
        }
      },
      "description": "BareMetalAdminControlPlaneNodePoolConfig specifies the control plane node pool configuration. We have a control plane specific node pool config so that we can flexible about supporting control plane specific fields in the future.",
      "id": "BareMetalAdminControlPlaneNodePoolConfig",
      "type": "object"
    },
    "BareMetalApiServerArgument": {
      "properties": {
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the arg as it will be passed to the API Server command line."
        }
      },
      "description": "Represents an arg name-\u003evalue pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
      "id": "BareMetalApiServerArgument",
      "type": "object"
    },
    "VmwareManualLbConfig": {
      "id": "VmwareManualLbConfig",
      "type": "object",
      "description": "Represents configuration parameters for an already existing manual load balancer. Given the nature of manual load balancers it is expected that said load balancer will be fully managed by users. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update ManualLB configurations it can only bind a pre-existing configuration to a new VMware user cluster.",
      "properties": {
        "ingressHttpsNodePort": {
          "format": "int32",
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139).",
          "type": "integer"
        },
        "ingressHttpNodePort": {
          "type": "integer",
          "format": "int32",
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527)."
        },
        "konnectivityServerNodePort": {
          "type": "integer",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564).",
          "format": "int32"
        },
        "controlPlaneNodePort": {
          "type": "integer",
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968).",
          "format": "int32"
        }
      }
    },
    "EnrollVmwareClusterRequest": {
      "type": "object",
      "description": "Message for enrolling an existing VMware cluster to the Anthos On-Prem API.",
      "properties": {
        "validateOnly": {
          "description": "Validate the request without actually doing any updates.",
          "type": "boolean"
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        },
        "localName": {
          "description": "The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the vmware_cluster_id. Otherwise, it must match the object name of the VMware OnPremUserCluster custom resource. It is not modifiable outside / beyond the enrollment operation.",
          "type": "string"
        },
        "vmwareClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. This value must be up to 40 characters and follow RFC-1123 (https://tools.ietf.org/html/rfc1123) format."
        }
      },
      "id": "EnrollVmwareClusterRequest"
    },
    "VmwareStorageConfig": {
      "properties": {
        "vsphereCsiDisabled": {
          "description": "Whether or not to deploy vSphere CSI components in the VMware user cluster. Enabled by default.",
          "type": "boolean"
        }
      },
      "id": "VmwareStorageConfig",
      "type": "object",
      "description": "Specifies vSphere CSI components deployment config in the VMware user cluster."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "VmwareF5BigIpConfig": {
      "properties": {
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        },
        "snatPool": {
          "description": "The pool name. Only necessary, if using SNAT.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The load balancer's IP address."
        }
      },
      "id": "VmwareF5BigIpConfig",
      "description": "Represents configuration parameters for an F5 BIG-IP load balancer.",
      "type": "object"
    },
    "VmwareNodePool": {
      "properties": {
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this node pool was deleted. If the resource is not deleted, this must be empty"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the node pool.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the node pool."
        },
        "nodePoolAutoscaling": {
          "$ref": "VmwareNodePoolAutoscalingConfig",
          "description": "Node pool autoscaling config for the node pool."
        },
        "status": {
          "description": "Output only. ResourceStatus representing the detailed VMware node pool state.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which this node pool was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this node pool was created.",
          "type": "string",
          "readOnly": true
        },
        "onPremVersion": {
          "description": "Anthos version for the node pool. Defaults to the user cluster version.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "config": {
          "$ref": "VmwareNodeConfig",
          "description": "Required. The node configuration of the node pool."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of this node pool."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the node pool.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted",
            "The ERROR state indicates the node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the node pool requires user action to restore full functionality."
          ]
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique identifier of the node pool."
        }
      },
      "id": "VmwareNodePool",
      "type": "object",
      "description": "Resource VmwareNodePool represents a VMware node pool. ##"
    },
    "BareMetalAdminControlPlaneConfig": {
      "id": "BareMetalAdminControlPlaneConfig",
      "type": "object",
      "description": "BareMetalAdminControlPlaneConfig specifies the control plane configuration.",
      "properties": {
        "apiServerArgs": {
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminApiServerArgument"
          }
        },
        "controlPlaneNodePoolConfig": {
          "description": "Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster.",
          "$ref": "BareMetalAdminControlPlaneNodePoolConfig"
        }
      }
    },
    "VmwareVersionInfo": {
      "properties": {
        "hasDependencies": {
          "type": "boolean",
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster) must be upgraded before this version can be installed or upgraded to."
        },
        "isInstalled": {
          "description": "If set, the version is installed in the admin cluster. Otherwise, the version bundle must be downloaded and installed before a user cluster can be created at or upgraded to this version.",
          "type": "boolean"
        },
        "version": {
          "description": "Version number e.g. 1.13.1-gke.1000.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains information about a specific Anthos on VMware version.",
      "id": "VmwareVersionInfo"
    },
    "BareMetalWorkloadNodeConfig": {
      "description": "Specifies the workload node configurations.",
      "type": "object",
      "properties": {
        "maxPodsPerNode": {
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter.",
          "type": "string",
          "format": "int64"
        },
        "containerRuntime": {
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "CONTAINERD"
          ],
          "enumDescriptions": [
            "No container runtime selected.",
            "Containerd runtime."
          ],
          "type": "string",
          "description": "Specifies which container runtime will be used."
        }
      },
      "id": "BareMetalWorkloadNodeConfig"
    },
    "BareMetalSecurityConfig": {
      "id": "BareMetalSecurityConfig",
      "type": "object",
      "description": "Specifies the security related settings for the bare metal user cluster.",
      "properties": {
        "authorization": {
          "$ref": "Authorization",
          "description": "Configures user access to the user cluster."
        }
      }
    },
    "VmwareControlPlaneVsphereConfig": {
      "properties": {
        "datastore": {
          "type": "string",
          "description": "The Vsphere datastore used by the control plane Node."
        }
      },
      "type": "object",
      "id": "VmwareControlPlaneVsphereConfig",
      "description": "Specifies control plane node config."
    },
    "ListVmwareClustersResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "vmwareClusters": {
          "items": {
            "$ref": "VmwareCluster"
          },
          "description": "The list of VMware Cluster.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        }
      },
      "id": "ListVmwareClustersResponse",
      "description": "Response message for listing VMware Clusters."
    },
    "BareMetalIslandModeCidrConfig": {
      "description": "Specifies the cluster CIDR configuration while running in island mode.",
      "type": "object",
      "id": "BareMetalIslandModeCidrConfig",
      "properties": {
        "podAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array"
        },
        "serviceAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field is mutable after creation starting with version 1.15.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnrollBareMetalAdminClusterRequest": {
      "properties": {
        "bareMetalAdminClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. This value must be up to 40 characters and follow RFC-1123 (https://tools.ietf.org/html/rfc1123) format."
        },
        "membership": {
          "type": "string",
          "description": "Required. This is the full resource name of this admin cluster's fleet membership."
        },
        "localName": {
          "description": "The object name of the bare metal OnPremAdminCluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_admin_cluster_id. Otherwise, it must match the object name of the bare metal OnPremAdminCluster custom resource. It is not modifiable outside / beyond the enrollment operation.",
          "type": "string"
        }
      },
      "id": "EnrollBareMetalAdminClusterRequest",
      "type": "object",
      "description": "Message for enrolling an existing bare metal admin cluster to the GKE on-prem API."
    },
    "BareMetalMetalLbConfig": {
      "type": "object",
      "description": "Represents configuration parameters for a MetalLB load balancer.",
      "properties": {
        "addressPools": {
          "type": "array",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          },
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools."
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running the load balancer. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used as the load balancer pool.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      },
      "id": "BareMetalMetalLbConfig"
    },
    "ValidationCheckResult": {
      "description": "ValidationCheckResult defines the details about the validation check.",
      "properties": {
        "details": {
          "type": "string",
          "description": "Detailed failure information, which might be unformatted."
        },
        "category": {
          "type": "string",
          "description": "The category of the validation."
        },
        "description": {
          "description": "The description of the validation check.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ],
          "description": "The validation check state."
        },
        "reason": {
          "type": "string",
          "description": "A human-readable message of the check failure."
        }
      },
      "type": "object",
      "id": "ValidationCheckResult"
    },
    "ValidationCheckStatus": {
      "description": "ValidationCheckStatus defines the detailed validation check status.",
      "type": "object",
      "properties": {
        "result": {
          "description": "Individual checks which failed as part of the Preflight check execution.",
          "items": {
            "$ref": "ValidationCheckResult"
          },
          "type": "array"
        }
      },
      "id": "ValidationCheckStatus"
    },
    "BareMetalAdminDrainedMachine": {
      "type": "object",
      "properties": {
        "nodeIp": {
          "description": "Drained machine IP address.",
          "type": "string"
        }
      },
      "description": "BareMetalAdminDrainedMachine represents the machines that are drained.",
      "id": "BareMetalAdminDrainedMachine"
    },
    "VmwareIpBlock": {
      "id": "VmwareIpBlock",
      "properties": {
        "gateway": {
          "description": "The network gateway used by the VMware user cluster.",
          "type": "string"
        },
        "netmask": {
          "type": "string",
          "description": "The netmask used by the VMware user cluster."
        },
        "ips": {
          "type": "array",
          "items": {
            "$ref": "VmwareHostIp"
          },
          "description": "The node's network configurations used by the VMware user cluster."
        }
      },
      "type": "object",
      "description": "Represents a collection of IP addresses to assign to nodes."
    },
    "VmwareNodePoolAutoscalingConfig": {
      "properties": {
        "minReplicas": {
          "description": "Minimum number of replicas in the NodePool.",
          "type": "integer",
          "format": "int32"
        },
        "maxReplicas": {
          "description": "Maximum number of replicas in the NodePool.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "VmwareNodePoolAutoscalingConfig",
      "description": "NodePoolAutoscaling config for the NodePool to allow for the kubernetes to scale NodePool."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have [Operation.error] value with a [google.rpc.Status.code] of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of operation being executed.",
          "enumDescriptions": [
            "Not set.",
            "The resource is being created.",
            "The resource is being deleted.",
            "The resource is being updated.",
            "The resource is being upgraded."
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "UPGRADE"
          ]
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      }
    },
    "BareMetalLoadBalancerAddressPool": {
      "description": "Represents an IP pool used by the load balancer.",
      "id": "BareMetalLoadBalancerAddressPool",
      "properties": {
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5)."
        },
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        },
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "VmwareAddressPool": {
      "description": "Represents an IP pool used by the load balancer.",
      "type": "object",
      "id": "VmwareAddressPool",
      "properties": {
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        },
        "addresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5)."
        },
        "avoidBuggyIps": {
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses.",
          "type": "boolean"
        },
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        }
      }
    },
    "BareMetalNodeAccessConfig": {
      "id": "BareMetalNodeAccessConfig",
      "type": "object",
      "properties": {
        "loginUser": {
          "type": "string",
          "description": "LoginUser is the user name used to access node machines. It defaults to \"root\" if not set."
        }
      },
      "description": "Specifies the node access related settings for the bare metal user cluster."
    },
    "VmwareAdminVCenterConfig": {
      "id": "VmwareAdminVCenterConfig",
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware admin cluster.",
      "properties": {
        "address": {
          "description": "The vCenter IP address.",
          "type": "string"
        },
        "caCertData": {
          "type": "string",
          "description": "Contains the vCenter CA certificate public key for SSL verification."
        },
        "folder": {
          "type": "string",
          "description": "The name of the vCenter folder for the admin cluster."
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the admin cluster.",
          "type": "string"
        },
        "datacenter": {
          "type": "string",
          "description": "The name of the vCenter datacenter for the admin cluster."
        },
        "dataDisk": {
          "type": "string",
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster."
        },
        "datastore": {
          "description": "The name of the vCenter datastore for the admin cluster.",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the admin cluster."
        }
      },
      "type": "object"
    },
    "EnrollBareMetalClusterRequest": {
      "properties": {
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this bare metal user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        },
        "localName": {
          "type": "string",
          "description": "The object name of the bare metal cluster custom resource on the associated admin cluster. This field is used to support conflicting resource names when enrolling existing clusters to the API. When not provided, this field will resolve to the bare_metal_cluster_id. Otherwise, it must match the object name of the bare metal cluster custom resource. It is not modifiable outside / beyond the enrollment operation."
        },
        "bareMetalClusterId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all bare metal clusters within a project and location and will return a 409 if the cluster already exists. This value must be up to 40 characters and follow RFC-1123 (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        }
      },
      "id": "EnrollBareMetalClusterRequest",
      "type": "object",
      "description": "Message for enrolling an existing bare metal cluster to the Anthos On-Prem API."
    },
    "BareMetalManualLbConfig": {
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      },
      "id": "BareMetalManualLbConfig",
      "type": "object",
      "description": "Represents configuration parameters for a manual load balancer."
    },
    "BareMetalAdminVipConfig": {
      "id": "BareMetalAdminVipConfig",
      "type": "object",
      "description": "BareMetalAdminVipConfig for bare metal load balancer configurations.",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal admin cluster.",
          "type": "string"
        }
      }
    },
    "BareMetalLoadBalancerNodePoolConfig": {
      "description": "Specifies the load balancer's node pool configuration.",
      "id": "BareMetalLoadBalancerNodePoolConfig",
      "type": "object",
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      }
    },
    "BareMetalAdminMaintenanceConfig": {
      "type": "object",
      "description": "BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance.",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource."
        }
      },
      "id": "BareMetalAdminMaintenanceConfig"
    },
    "VmwareVCenterConfig": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "description": "The vCenter IP address."
        },
        "folder": {
          "description": "The name of the vCenter folder for the user cluster.",
          "type": "string"
        },
        "datastore": {
          "description": "The name of the vCenter datastore for the user cluster.",
          "type": "string"
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the user cluster.",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the user cluster."
        },
        "caCertData": {
          "description": "Contains the vCenter CA certificate public key for SSL verification.",
          "type": "string"
        },
        "datacenter": {
          "description": "The name of the vCenter datacenter for the user cluster.",
          "type": "string"
        }
      },
      "id": "VmwareVCenterConfig",
      "description": "Represents configuration for the VMware VCenter for the user cluster."
    },
    "VmwareLoadBalancerConfig": {
      "properties": {
        "metalLbConfig": {
          "$ref": "VmwareMetalLbConfig",
          "description": "Configuration for MetalLB typed load balancers."
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareF5BigIpConfig"
        },
        "manualLbConfig": {
          "$ref": "VmwareManualLbConfig",
          "description": "Manually configured load balancers."
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareVipConfig"
        }
      },
      "id": "VmwareLoadBalancerConfig",
      "description": "Specifies the locad balancer config for the VMware user cluster.",
      "type": "object"
    },
    "ListBareMetalClustersResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        },
        "bareMetalClusters": {
          "items": {
            "$ref": "BareMetalCluster"
          },
          "type": "array",
          "description": "The list of bare metal Clusters."
        }
      },
      "id": "ListBareMetalClustersResponse",
      "type": "object",
      "description": "Response message for listing bare metal Clusters."
    },
    "BareMetalLvpShareConfig": {
      "description": "Specifies the configs for local persistent volumes under a shared file system.",
      "properties": {
        "sharedPathPvCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of subdirectories to create under path."
        },
        "lvpConfig": {
          "description": "Required. Defines the machine path and storage class for the LVP Share.",
          "$ref": "BareMetalLvpConfig"
        }
      },
      "type": "object",
      "id": "BareMetalLvpShareConfig"
    },
    "BareMetalClusterOperationsConfig": {
      "description": "Specifies the bare metal user cluster's observability infrastructure.",
      "properties": {
        "enableApplicationLogs": {
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "BareMetalClusterOperationsConfig"
    },
    "BareMetalMachineDrainStatus": {
      "description": "Represents the status of node machines that are undergoing drain operations.",
      "properties": {
        "drainedMachines": {
          "items": {
            "$ref": "BareMetalDrainedMachine"
          },
          "description": "The list of drained machines.",
          "type": "array"
        },
        "drainingMachines": {
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainingMachine"
          },
          "description": "The list of draning machines."
        }
      },
      "id": "BareMetalMachineDrainStatus",
      "type": "object"
    },
    "EnrollBareMetalNodePoolRequest": {
      "type": "object",
      "id": "EnrollBareMetalNodePoolRequest",
      "properties": {
        "bareMetalNodePoolId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This value must be up to 40 characters and follow RFC-1123 (https://tools.ietf.org/html/rfc1123) format."
        },
        "validateOnly": {
          "description": "If set, only validate the request, but do not actually enroll the node pool.",
          "type": "boolean"
        }
      },
      "description": "Message for enrolling an existing bare metal node pool to the GKE on-prem API."
    },
    "VmwareControlPlaneV2Config": {
      "type": "object",
      "id": "VmwareControlPlaneV2Config",
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      },
      "description": "Specifies control plane V2 config."
    },
    "QueryBareMetalVersionConfigResponse": {
      "description": "Response message for querying bare metal admin cluster version config.",
      "type": "object",
      "id": "QueryBareMetalVersionConfigResponse",
      "properties": {
        "versions": {
          "type": "array",
          "description": "List of available versions to install or to upgrade to.",
          "items": {
            "$ref": "BareMetalVersionInfo"
          }
        }
      }
    },
    "BareMetalAdminClusterOperationsConfig": {
      "type": "object",
      "properties": {
        "enableApplicationLogs": {
          "type": "boolean",
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics)."
        }
      },
      "description": "BareMetalAdminClusterOperationsConfig specifies the admin cluster's observability infrastructure.",
      "id": "BareMetalAdminClusterOperationsConfig"
    },
    "BareMetalNodePool": {
      "description": "Resource that represents a bare metal node pool.",
      "properties": {
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing the detailed node pool status.",
          "readOnly": true
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which this bare metal node pool was deleted. If the resource is not deleted, this must be empty",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which this bare metal node pool was last updated.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. The unique identifier of the bare metal node pool.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "Annotations on the bare metal node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the bare metal node pool is being created.",
            "The RUNNING state indicates the bare metal node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the bare metal node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the bare metal node pool is being deleted.",
            "The ERROR state indicates the bare metal node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the bare metal node pool requires user action to restore full functionality."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the bare metal node pool.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the bare metal node pool."
        },
        "nodePoolConfig": {
          "description": "Required. Node pool configuration.",
          "$ref": "BareMetalNodePoolConfig"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the bare metal node pool.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which this bare metal node pool was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal node pool resource name."
        }
      },
      "type": "object",
      "id": "BareMetalNodePool"
    },
    "ResourceCondition": {
      "id": "ResourceCondition",
      "type": "object",
      "description": "ResourceCondition provides a standard mechanism for higher-level status reporting from controller.",
      "properties": {
        "lastTransitionTime": {
          "description": "Last time the condition transit from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TRUE",
            "STATE_FALSE",
            "STATE_UNKNOWN"
          ],
          "description": "state of the condition.",
          "enumDescriptions": [
            "Not set.",
            "Resource is in the condition.",
            "Resource is not in the condition.",
            "Kubernetes controller can't decide if the resource is in the condition or not."
          ]
        },
        "reason": {
          "type": "string",
          "description": "Machine-readable message indicating details about last transition."
        },
        "message": {
          "description": "Human-readable message indicating details about last transition.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of the condition. (e.g., ClusterRunning, NodePoolRunning or ServerSidePreflightReady)"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "BareMetalAdminWorkloadNodeConfig": {
      "properties": {
        "maxPodsPerNode": {
          "format": "int64",
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter. By default 110 Pods are created per Node. Upper bound is 250 for both HA and non-HA admin cluster. Lower bound is 64 for non-HA admin cluster and 32 for HA admin cluster.",
          "type": "string"
        }
      },
      "id": "BareMetalAdminWorkloadNodeConfig",
      "type": "object",
      "description": "BareMetalAdminWorkloadNodeConfig specifies the workload node configurations."
    },
    "ListVmwareNodePoolsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "vmwareNodePools": {
          "type": "array",
          "description": "The node pools from the specified parent resource.",
          "items": {
            "$ref": "VmwareNodePool"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for listing VMware node pools.",
      "id": "ListVmwareNodePoolsResponse"
    },
    "VmwareAdminControlPlaneNodeConfig": {
      "type": "object",
      "description": "VmwareAdminControlPlaneNodeConfig contains control plane node configuration for VMware admin cluster.",
      "properties": {
        "cpus": {
          "format": "int64",
          "type": "string",
          "description": "The number of vCPUs for the control-plane node of the admin cluster."
        },
        "memory": {
          "description": "The number of mebibytes of memory for the control-plane node of the admin cluster.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "VmwareAdminControlPlaneNodeConfig"
    },
    "BareMetalVipConfig": {
      "description": "Specifies the VIP config for the bare metal load balancer.",
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal user cluster.",
          "type": "string"
        },
        "ingressVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for ingress traffic into this bare metal user cluster."
        }
      },
      "id": "BareMetalVipConfig",
      "type": "object"
    },
    "VmwareAdminCluster": {
      "id": "VmwareAdminCluster",
      "properties": {
        "autoRepairConfig": {
          "$ref": "VmwareAutoRepairConfig",
          "description": "The VMware admin cluster auto repair configuration."
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the VMware admin cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "description": {
          "description": "A human readable description of this VMware admin cluster.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the VMware admin cluster.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "loadBalancer": {
          "$ref": "VmwareAdminLoadBalancerConfig",
          "description": "The VMware admin cluster load balancer configuration."
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "$ref": "Fleet",
          "readOnly": true
        },
        "imageType": {
          "description": "The OS image type for the VMware admin cluster.",
          "type": "string"
        },
        "platformConfig": {
          "$ref": "VmwarePlatformConfig",
          "description": "The VMware platform configuration."
        },
        "createTime": {
          "description": "Output only. The time at which VMware admin cluster was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "networkConfig": {
          "$ref": "VmwareAdminNetworkConfig",
          "description": "The VMware admin cluster network configuration."
        },
        "endpoint": {
          "description": "Output only. The DNS name of VMware admin cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "onPremVersion": {
          "type": "string",
          "description": "The Anthos clusters on the VMware version for the admin cluster."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the VMware admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object"
        },
        "antiAffinityGroups": {
          "$ref": "VmwareAAGConfig",
          "description": "The VMware admin cluster anti affinity group configuration."
        },
        "controlPlaneNode": {
          "description": "The VMware admin cluster control plane node configuration.",
          "$ref": "VmwareAdminControlPlaneNodeConfig"
        },
        "status": {
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which VMware admin cluster was last updated.",
          "format": "google-datetime"
        },
        "addonNode": {
          "description": "The VMware admin cluster addon node configuration.",
          "$ref": "VmwareAdminAddonNodeConfig"
        },
        "localName": {
          "description": "Output only. The object name of the VMware OnPremAdminCluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The VMware admin cluster resource name."
        },
        "vcenter": {
          "$ref": "VmwareAdminVCenterConfig",
          "description": "The VMware admin cluster VCenter configuration."
        },
        "bootstrapClusterMembership": {
          "type": "string",
          "description": "The bootstrap cluster this VMware admin cluster belongs to."
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "description": "Output only. The current state of VMware admin cluster.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        }
      },
      "type": "object",
      "description": "Resource that represents a VMware admin cluster."
    },
    "BareMetalAdminPortConfig": {
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "description": "The port that control plane hosted load balancers will listen on.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "BareMetalAdminPortConfig",
      "description": "BareMetalAdminPortConfig is the specification of load balancer ports.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "VmwareVipConfig": {
      "type": "object",
      "description": "Specifies the VIP config for the VMware user cluster load balancer.",
      "id": "VmwareVipConfig",
      "properties": {
        "ingressVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for ingress traffic into this cluster."
        },
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this cluster.",
          "type": "string"
        }
      }
    },
    "VmwareAutoRepairConfig": {
      "id": "VmwareAutoRepairConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether auto repair is enabled.",
          "type": "boolean"
        }
      },
      "description": "Specifies config to enable/disable auto repair. The cluster-health-controller is deployed only if Enabled is true."
    },
    "BareMetalAdminApiServerArgument": {
      "id": "BareMetalAdminApiServerArgument",
      "description": "BareMetalAdminApiServerArgument represents an arg name-\u003evalue pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the arg as it will be passed to the API Server command line."
        },
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes.",
          "type": "string"
        }
      }
    },
    "VmwareAdminF5BigIpConfig": {
      "properties": {
        "address": {
          "type": "string",
          "description": "The load balancer's IP address."
        },
        "snatPool": {
          "type": "string",
          "description": "The pool name. Only necessary, if using SNAT."
        },
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        }
      },
      "id": "VmwareAdminF5BigIpConfig",
      "description": "VmwareAdminF5BigIpConfig represents configuration parameters for an F5 BIG-IP load balancer.",
      "type": "object"
    },
    "VmwareAdminManualLbConfig": {
      "properties": {
        "ingressHttpsNodePort": {
          "type": "integer",
          "format": "int32",
          "description": "NodePort for ingress service's https. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 30139)."
        },
        "addonsNodePort": {
          "format": "int32",
          "type": "integer",
          "description": "NodePort for add-ons server in the admin cluster."
        },
        "ingressHttpNodePort": {
          "type": "integer",
          "description": "NodePort for ingress service's http. The ingress service in the admin cluster is implemented as a Service of type NodePort (ex. 32527).",
          "format": "int32"
        },
        "konnectivityServerNodePort": {
          "type": "integer",
          "format": "int32",
          "description": "NodePort for konnectivity server service running as a sidecar in each kube-apiserver pod (ex. 30564)."
        },
        "controlPlaneNodePort": {
          "format": "int32",
          "type": "integer",
          "description": "NodePort for control plane service. The Kubernetes API server in the admin cluster is implemented as a Service of type NodePort (ex. 30968)."
        }
      },
      "id": "VmwareAdminManualLbConfig",
      "type": "object"
    },
    "VmwareNodeConfig": {
      "id": "VmwareNodeConfig",
      "description": "Parameters that describe the configuration of all nodes within a given node pool.",
      "type": "object",
      "properties": {
        "imageType": {
          "type": "string",
          "description": "Required. The OS image to be used for each node in a node pool. Currently `cos`, `ubuntu`, `ubuntu_containerd` and `windows` are supported."
        },
        "replicas": {
          "description": "The number of nodes in the node pool.",
          "format": "int64",
          "type": "string"
        },
        "enableLoadBalancer": {
          "type": "boolean",
          "description": "Allow node pool traffic to be load balanced. Only works for clusters with MetalLB load balancers."
        },
        "image": {
          "description": "The OS image name in vCenter, only valid when using Windows.",
          "type": "string"
        },
        "cpus": {
          "type": "string",
          "format": "int64",
          "description": "The number of CPUs for each node in the node pool."
        },
        "vsphereConfig": {
          "readOnly": true,
          "$ref": "VmwareVsphereConfig",
          "description": "Output only. Specifies the vSphere config for node pool."
        },
        "labels": {
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "taints": {
          "description": "The initial taints assigned to nodes of this node pool.",
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "bootDiskSizeGb": {
          "type": "string",
          "description": "VMware disk size to be used during creation.",
          "format": "int64"
        },
        "memoryMb": {
          "type": "string",
          "description": "The megabytes of memory for each node in the node pool.",
          "format": "int64"
        }
      }
    },
    "BareMetalAdminManualLbConfig": {
      "description": "BareMetalAdminManualLbConfig represents configuration parameters for a manual load balancer.",
      "properties": {
        "enabled": {
          "description": "Whether manual load balancing is enabled.",
          "type": "boolean"
        }
      },
      "id": "BareMetalAdminManualLbConfig",
      "type": "object"
    },
    "BareMetalDrainingMachine": {
      "id": "BareMetalDrainingMachine",
      "properties": {
        "podCount": {
          "type": "integer",
          "description": "The count of pods yet to drain.",
          "format": "int32"
        },
        "nodeIp": {
          "description": "Draining machine IP address.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a machine that is currently draining."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "BareMetalMaintenanceConfig": {
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BareMetalMaintenanceConfig",
      "description": "Specifies configurations to put bare metal nodes in and out of maintenance."
    },
    "BareMetalStorageConfig": {
      "type": "object",
      "description": "BareMetalStorageConfig specifies the cluster storage configuration.",
      "id": "BareMetalStorageConfig",
      "properties": {
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        },
        "lvpShareConfig": {
          "$ref": "BareMetalLvpShareConfig",
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation."
        }
      }
    },
    "BareMetalAdminMachineDrainStatus": {
      "type": "object",
      "properties": {
        "drainedMachines": {
          "items": {
            "$ref": "BareMetalAdminDrainedMachine"
          },
          "type": "array",
          "description": "The list of drained machines."
        },
        "drainingMachines": {
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminDrainingMachine"
          },
          "description": "The list of draning machines."
        }
      },
      "description": "BareMetalAdminMachineDrainStatus represents the status of bare metal node machines that are undergoing drain operations.",
      "id": "BareMetalAdminMachineDrainStatus"
    },
    "VmwareHostIp": {
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Hostname of the machine. VM's name will be used if this field is empty."
        },
        "ip": {
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareHostIp",
      "description": "Represents VMware user cluster node's network configuration."
    },
    "VmwareMetalLbConfig": {
      "id": "VmwareMetalLbConfig",
      "type": "object",
      "properties": {
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array",
          "items": {
            "$ref": "VmwareAddressPool"
          }
        }
      },
      "description": "Represents configuration parameters for the MetalLB load balancer."
    },
    "BareMetalNodeConfig": {
      "id": "BareMetalNodeConfig",
      "properties": {
        "nodeIp": {
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes."
    },
    "VmwareControlPlaneNodeConfig": {
      "properties": {
        "memory": {
          "format": "int64",
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory).",
          "type": "string"
        },
        "replicas": {
          "format": "int64",
          "type": "string",
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica)."
        },
        "autoResizeConfig": {
          "description": "AutoResizeConfig provides auto resizing configurations.",
          "$ref": "VmwareAutoResizeConfig"
        },
        "vsphereConfig": {
          "readOnly": true,
          "$ref": "VmwareControlPlaneVsphereConfig",
          "description": "Output only. Vsphere-specific config."
        },
        "cpus": {
          "type": "string",
          "format": "int64",
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)"
        }
      },
      "id": "VmwareControlPlaneNodeConfig",
      "description": "Specifies control plane node config for the VMware user cluster.",
      "type": "object"
    },
    "BareMetalMultipleNetworkInterfacesConfig": {
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true."
        }
      },
      "id": "BareMetalMultipleNetworkInterfacesConfig",
      "type": "object"
    },
    "BareMetalAdminLoadBalancerConfig": {
      "properties": {
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "BareMetalAdminManualLbConfig"
        },
        "vipConfig": {
          "$ref": "BareMetalAdminVipConfig",
          "description": "The VIPs used by the load balancer."
        },
        "portConfig": {
          "$ref": "BareMetalAdminPortConfig",
          "description": "Configures the ports that the load balancer will listen on."
        }
      },
      "type": "object",
      "description": "BareMetalAdminLoadBalancerConfig specifies the load balancer configuration.",
      "id": "BareMetalAdminLoadBalancerConfig"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "BareMetalAdminSecurityConfig": {
      "id": "BareMetalAdminSecurityConfig",
      "properties": {
        "authorization": {
          "description": "Configures user access to the admin cluster.",
          "$ref": "Authorization"
        }
      },
      "description": "Specifies the security related settings for the bare metal admin cluster.",
      "type": "object"
    },
    "NodeTaint": {
      "properties": {
        "key": {
          "description": "Key associated with the effect.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value associated with the effect."
        },
        "effect": {
          "type": "string",
          "description": "The taint effect.",
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Do not allow new pods to schedule onto the node unless they tolerate the taint, but allow all pods submitted to Kubelet without going through the scheduler to start, and allow all already-running pods to continue running. Enforced by the scheduler.",
            "Like TaintEffectNoSchedule, but the scheduler tries not to schedule new pods onto the node, rather than prohibiting new pods from scheduling onto the node entirely. Enforced by the scheduler.",
            "Evict any already-running pods that do not tolerate the taint. Currently enforced by NodeController."
          ]
        }
      },
      "description": "NodeTaint applied to every Kubernetes node in a node pool. Kubernetes taints can be used together with tolerations to control how workloads are scheduled to your nodes. Node taints are permanent.",
      "id": "NodeTaint",
      "type": "object"
    },
    "Authorization": {
      "type": "object",
      "id": "Authorization",
      "description": "Authorization defines the On-Prem cluster authorization configuration to bootstrap onto the admin cluster.",
      "properties": {
        "adminUsers": {
          "items": {
            "$ref": "ClusterUser"
          },
          "type": "array",
          "description": "Required. For VMware user, bare metal user and standalone clusters, users that will be granted the cluster-admin role on the cluster, providing full access to the cluster. For bare metal Admin cluster, users will be granted the view role, which is a view only access."
        }
      }
    },
    "BareMetalBgpPeerConfig": {
      "id": "BareMetalBgpPeerConfig",
      "description": "BareMetalBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Required. The IP address of the external peer device."
        },
        "controlPlaneNodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions."
        },
        "asn": {
          "type": "string",
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "VmwareDataplaneV2Config": {
      "properties": {
        "windowsDataplaneV2Enabled": {
          "type": "boolean",
          "description": "Enable Dataplane V2 for clusters with Windows nodes."
        },
        "dataplaneV2Enabled": {
          "description": "Enables Dataplane V2.",
          "type": "boolean"
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true."
        }
      },
      "type": "object",
      "description": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2",
      "id": "VmwareDataplaneV2Config"
    },
    "QueryBareMetalAdminVersionConfigResponse": {
      "type": "object",
      "description": "Response message for querying bare metal admin cluster version config.",
      "properties": {
        "versions": {
          "items": {
            "$ref": "BareMetalVersionInfo"
          },
          "type": "array",
          "description": "List of available versions to install or to upgrade to."
        }
      },
      "id": "QueryBareMetalAdminVersionConfigResponse"
    },
    "BareMetalSrIovConfig": {
      "id": "BareMetalSrIovConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to install the SR-IOV operator."
        }
      },
      "type": "object",
      "description": "Specifies the SR-IOV networking operator config."
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
[...]
