{
  "baseUrl": "https://gkeonprem.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "GKE On-Prem",
  "schemas": {
    "EnrollVmwareAdminClusterRequest": {
      "type": "object",
      "id": "EnrollVmwareAdminClusterRequest",
      "description": "Message for enrolling an existing VMware admin cluster to the GKE on-prem API.",
      "properties": {
        "vmwareAdminClusterId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. This must be unique among all GKE on-prem clusters within a project and location and will return a 409 if the cluster already exists. (https://tools.ietf.org/html/rfc1123) format."
        },
        "membership": {
          "description": "Required. This is the full resource name of this admin cluster's fleet membership.",
          "type": "string"
        }
      }
    },
    "VmwareAdminAddonNodeConfig": {
      "id": "VmwareAdminAddonNodeConfig",
      "properties": {
        "autoResizeConfig": {
          "$ref": "VmwareAutoResizeConfig",
          "description": "VmwareAutoResizeConfig config specifies auto resize config."
        }
      },
      "type": "object",
      "description": "VmwareAdminAddonNodeConfig contains add-on node configurations for VMware admin cluster."
    },
    "VmwareAAGConfig": {
      "id": "VmwareAAGConfig",
      "properties": {
        "aagConfigDisabled": {
          "description": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Specifies anti affinity group config for the VMware user cluster."
    },
    "VmwareF5BigIpConfig": {
      "type": "object",
      "description": "Represents configuration parameters for an F5 BIG-IP load balancer.",
      "id": "VmwareF5BigIpConfig",
      "properties": {
        "address": {
          "description": "The load balancer's IP address.",
          "type": "string"
        },
        "partition": {
          "description": "The preexisting partition to be used by the load balancer. This partition is usually created for the admin cluster for example: 'my-f5-admin-partition'.",
          "type": "string"
        },
        "snatPool": {
          "type": "string",
          "description": "The pool name. Only necessary, if using SNAT."
        }
      }
    },
    "BareMetalAdminSecurityConfig": {
      "description": "Specifies the security related settings for the bare metal admin cluster.",
      "type": "object",
      "id": "BareMetalAdminSecurityConfig",
      "properties": {
        "authorization": {
          "$ref": "Authorization",
          "description": "Configures user access to the admin cluster."
        }
      }
    },
    "Expr": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "BareMetalAdminCluster": {
      "description": "## Resource that represents a bare metal admin cluster.",
      "type": "object",
      "id": "BareMetalAdminCluster",
      "properties": {
        "fleet": {
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster.",
          "readOnly": true
        },
        "loadBalancer": {
          "$ref": "BareMetalAdminLoadBalancerConfig",
          "description": "Load balancer configuration."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "controlPlane": {
          "description": "Control plane configuration.",
          "$ref": "BareMetalAdminControlPlaneConfig"
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing detailed cluster status."
        },
        "bareMetalVersion": {
          "type": "string",
          "description": "The Anthos clusters on bare metal version for the bare metal admin cluster."
        },
        "deleteTime": {
          "description": "Output only. The time at which this bare metal admin cluster was deleted. If the resource is not deleted, this must be empty",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "osEnvironmentConfig": {
          "description": "OS environment related configurations.",
          "$ref": "BareMetalAdminOsEnvironmentConfig"
        },
        "networkConfig": {
          "$ref": "BareMetalAdminNetworkConfig",
          "description": "Network configuration."
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the bare metal admin cluster.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "readOnly": true
        },
        "maintenanceStatus": {
          "description": "Output only. MaintenanceStatus representing state of maintenance.",
          "$ref": "BareMetalAdminMaintenanceStatus",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the bare metal Admin Cluster."
        },
        "description": {
          "description": "A human readable description of this bare metal admin cluster.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which this bare metal admin cluster was created."
        },
        "proxy": {
          "$ref": "BareMetalAdminProxyConfig",
          "description": "Proxy configuration."
        },
        "securityConfig": {
          "description": "Security related configuration.",
          "$ref": "BareMetalAdminSecurityConfig"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the bare metal admin cluster.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this bare metal admin cluster was last updated.",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Annotations on the bare metal admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalAdminWorkloadNodeConfig"
        },
        "storage": {
          "$ref": "BareMetalAdminStorageConfig",
          "description": "Storage configuration."
        },
        "validationCheck": {
          "description": "Output only. ValidationCheck representing the result of the preflight check.",
          "readOnly": true,
          "$ref": "ValidationCheck"
        },
        "clusterOperations": {
          "description": "Cluster operations configuration.",
          "$ref": "BareMetalAdminClusterOperationsConfig"
        },
        "localName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The object name of the bare metal cluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs."
        },
        "name": {
          "description": "Immutable. The bare metal admin cluster resource name.",
          "type": "string"
        },
        "endpoint": {
          "description": "Output only. The IP address name of bare metal admin cluster's API server.",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceConfig": {
          "$ref": "BareMetalAdminMaintenanceConfig",
          "description": "Maintenance configuration."
        },
        "nodeAccessConfig": {
          "$ref": "BareMetalAdminNodeAccessConfig",
          "description": "Node access related configurations."
        }
      }
    },
    "VmwareNodePool": {
      "type": "object",
      "id": "VmwareNodePool",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this node pool was last updated.",
          "readOnly": true
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. The time at which this node pool was deleted. If the resource is not deleted, this must be empty",
          "type": "string",
          "format": "google-datetime"
        },
        "nodePoolAutoscaling": {
          "description": "Node pool autoscaling config for the node pool.",
          "$ref": "VmwareNodePoolAutoscalingConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which this node pool was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted",
            "The ERROR state indicates the node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the node pool requires user action to restore full functionality."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of the node pool."
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the node pool.",
          "readOnly": true
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing the detailed VMware node pool state."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the node pool."
        },
        "annotations": {
          "type": "object",
          "description": "Annotations on the node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "onPremVersion": {
          "type": "string",
          "description": "Anthos version for the node pool. Defaults to the user cluster version."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of this node pool."
        },
        "displayName": {
          "description": "The display name for the node pool.",
          "type": "string"
        },
        "config": {
          "description": "Required. The node configuration of the node pool.",
          "$ref": "VmwareNodeConfig"
        }
      },
      "description": "Resource VmwareNodePool represents a VMware node pool. ##"
    },
    "BareMetalAdminMaintenanceConfig": {
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource."
        }
      },
      "type": "object",
      "id": "BareMetalAdminMaintenanceConfig",
      "description": "BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance."
    },
    "BareMetalMaintenanceStatus": {
      "description": "Represents the maintenance status of the bare metal user cluster.",
      "type": "object",
      "id": "BareMetalMaintenanceStatus",
      "properties": {
        "machineDrainStatus": {
          "description": "The maintenance status of node machines.",
          "$ref": "BareMetalMachineDrainStatus"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "BareMetalControlPlaneNodePoolConfig": {
      "description": "Specifies the control plane node pool configuration.",
      "type": "object",
      "properties": {
        "nodePoolConfig": {
          "description": "Required. The generic configuration for a node pool running the control plane.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "id": "BareMetalControlPlaneNodePoolConfig"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "BareMetalAdminNodeAccessConfig": {
      "id": "BareMetalAdminNodeAccessConfig",
      "type": "object",
      "properties": {
        "loginUser": {
          "type": "string",
          "description": "Required. LoginUser is the user name used to access node machines. It defaults to \"root\" if not set."
        }
      },
      "description": "Specifies the node access related settings for the bare metal admin cluster."
    },
    "BareMetalNodeAccessConfig": {
      "id": "BareMetalNodeAccessConfig",
      "type": "object",
      "properties": {
        "loginUser": {
          "type": "string",
          "description": "LoginUser is the user name used to access node machines. It defaults to \"root\" if not set."
        }
      },
      "description": "Specifies the node access related settings for the bare metal user cluster."
    },
    "BareMetalMetalLbConfig": {
      "type": "object",
      "description": "Represents configuration parameters for a MetalLB load balancer.",
      "properties": {
        "addressPools": {
          "type": "array",
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          }
        },
        "loadBalancerNodePoolConfig": {
          "$ref": "BareMetalLoadBalancerNodePoolConfig",
          "description": "Specifies the node pool running the load balancer. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used as the load balancer pool."
        }
      },
      "id": "BareMetalMetalLbConfig"
    },
    "VmwareDataplaneV2Config": {
      "properties": {
        "windowsDataplaneV2Enabled": {
          "type": "boolean",
          "description": "Enable Dataplane V2 for clusters with Windows nodes."
        },
        "dataplaneV2Enabled": {
          "type": "boolean",
          "description": "Enables Dataplane V2."
        },
        "advancedNetworking": {
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true.",
          "type": "boolean"
        }
      },
      "id": "VmwareDataplaneV2Config",
      "description": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2",
      "type": "object"
    },
    "ValidationCheckResult": {
      "description": "ValidationCheckResult defines the details about the validation check.",
      "id": "ValidationCheckResult",
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Detailed failure information, which might be unformatted."
        },
        "description": {
          "type": "string",
          "description": "The description of the validation check."
        },
        "category": {
          "description": "The category of the validation.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ],
          "description": "The validation check state.",
          "type": "string",
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ]
        },
        "reason": {
          "type": "string",
          "description": "A human-readable message of the check failure."
        }
      }
    },
    "BareMetalNodeConfig": {
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes.",
      "id": "BareMetalNodeConfig",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "BareMetalNodePoolUpgradePolicy": {
      "description": "BareMetalNodePoolUpgradePolicy defines the node pool upgrade policy.",
      "type": "object",
      "properties": {
        "parallelUpgradeConfig": {
          "$ref": "BareMetalParallelUpgradeConfig",
          "description": "The parallel upgrade settings for worker node pools."
        }
      },
      "id": "BareMetalNodePoolUpgradePolicy"
    },
    "Fleet": {
      "properties": {
        "membership": {
          "description": "Output only. The name of the managed fleet Membership resource associated to this cluster. Membership names are formatted as `projects//locations//memberships/`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Fleet",
      "description": "Fleet related configuration. Fleets are a Google Cloud concept for logically organizing clusters, letting you use and manage multi-cluster capabilities and apply consistent policies across your systems. See [Anthos Fleets](`https://cloud.google.com/anthos/multicluster-management/fleets`) for more details on Anthos multi-cluster capabilities using Fleets. ##",
      "type": "object"
    },
    "Authorization": {
      "type": "object",
      "id": "Authorization",
      "description": "Authorization defines the On-Prem cluster authorization configuration to bootstrap onto the admin cluster.",
      "properties": {
        "adminUsers": {
          "description": "Required. For VMware and bare metal user clusters, users will be granted the cluster-admin role on the cluster, which provides full administrative access to the cluster. For bare metal admin clusters, users will be granted the cluster-view role, which limits users to read-only access.",
          "type": "array",
          "items": {
            "$ref": "ClusterUser"
          }
        }
      }
    },
    "BareMetalAdminMachineDrainStatus": {
      "type": "object",
      "description": "BareMetalAdminMachineDrainStatus represents the status of bare metal node machines that are undergoing drain operations.",
      "properties": {
        "drainingMachines": {
          "type": "array",
          "description": "The list of draning machines.",
          "items": {
            "$ref": "BareMetalAdminDrainingMachine"
          }
        },
        "drainedMachines": {
          "items": {
            "$ref": "BareMetalAdminDrainedMachine"
          },
          "description": "The list of drained machines.",
          "type": "array"
        }
      },
      "id": "BareMetalAdminMachineDrainStatus"
    },
    "BareMetalLvpConfig": {
      "properties": {
        "storageClass": {
          "type": "string",
          "description": "Required. The StorageClass name that PVs will be created with."
        },
        "path": {
          "type": "string",
          "description": "Required. The host machine path."
        }
      },
      "type": "object",
      "id": "BareMetalLvpConfig",
      "description": "Specifies the configs for local persistent volumes (PVs)."
    },
    "BareMetalStorageConfig": {
      "type": "object",
      "properties": {
        "lvpShareConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by subdirectories in a shared filesystem. These subdirectores are automatically created during cluster creation.",
          "$ref": "BareMetalLvpShareConfig"
        },
        "lvpNodeMountsConfig": {
          "description": "Required. Specifies the config for local PersistentVolumes backed by mounted node disks. These disks need to be formatted and mounted by the user, which can be done before or after cluster creation.",
          "$ref": "BareMetalLvpConfig"
        }
      },
      "description": "BareMetalStorageConfig specifies the cluster storage configuration.",
      "id": "BareMetalStorageConfig"
    },
    "BareMetalAdminDrainingMachine": {
      "description": "BareMetalAdminDrainingMachine represents the machines that are currently draining.",
      "properties": {
        "podCount": {
          "description": "The count of pods yet to drain.",
          "type": "integer",
          "format": "int32"
        },
        "nodeIp": {
          "type": "string",
          "description": "Draining machine IP address."
        }
      },
      "id": "BareMetalAdminDrainingMachine",
      "type": "object"
    },
    "ListVmwareAdminClustersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "vmwareAdminClusters": {
          "type": "array",
          "items": {
            "$ref": "VmwareAdminCluster"
          },
          "description": "The list of VMware admin cluster."
        }
      },
      "id": "ListVmwareAdminClustersResponse",
      "description": "Response message for listing VMware admin clusters.",
      "type": "object"
    },
    "ResourceStatus": {
      "properties": {
        "conditions": {
          "type": "array",
          "description": "ResourceCondition provide a standard mechanism for higher-level status reporting from controller.",
          "items": {
            "$ref": "ResourceCondition"
          }
        },
        "errorMessage": {
          "description": "Human-friendly representation of the error message from controller. The error message can be temporary as the controller controller creates a cluster or node pool. If the error message persists for a longer period of time, it can be used to surface error message to indicate real problems requiring user intervention.",
          "type": "string"
        }
      },
      "id": "ResourceStatus",
      "description": "ResourceStatus describes why a cluster or node pool has a certain status. (e.g., ERROR or DEGRADED).",
      "type": "object"
    },
    "BareMetalAdminApiServerArgument": {
      "id": "BareMetalAdminApiServerArgument",
      "type": "object",
      "description": "BareMetalAdminApiServerArgument represents an arg name-\u003evalue pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
      "properties": {
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the arg as it will be passed to the API Server command line."
        }
      }
    },
    "VmwareHostConfig": {
      "description": "Represents the common parameters for all the hosts irrespective of their IP address.",
      "type": "object",
      "properties": {
        "dnsServers": {
          "items": {
            "type": "string"
          },
          "description": "DNS servers.",
          "type": "array"
        },
        "dnsSearchDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNS search domains."
        },
        "ntpServers": {
          "description": "NTP servers.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VmwareHostConfig"
    },
    "VmwareStorageConfig": {
      "id": "VmwareStorageConfig",
      "type": "object",
      "properties": {
        "vsphereCsiDisabled": {
          "type": "boolean",
          "description": "Whether or not to deploy vSphere CSI components in the VMware user cluster. Enabled by default."
        }
      },
      "description": "Specifies vSphere CSI components deployment config in the VMware user cluster."
    },
    "BareMetalAdminControlPlaneConfig": {
      "description": "BareMetalAdminControlPlaneConfig specifies the control plane configuration.",
      "properties": {
        "apiServerArgs": {
          "type": "array",
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
          "items": {
            "$ref": "BareMetalAdminApiServerArgument"
          }
        },
        "controlPlaneNodePoolConfig": {
          "$ref": "BareMetalAdminControlPlaneNodePoolConfig",
          "description": "Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster."
        }
      },
      "type": "object",
      "id": "BareMetalAdminControlPlaneConfig"
    },
    "BareMetalVersionInfo": {
      "id": "BareMetalVersionInfo",
      "type": "object",
      "description": "Contains information about a specific Anthos on bare metal version.",
      "properties": {
        "hasDependencies": {
          "type": "boolean",
          "description": "If set, the cluster dependencies (e.g. the admin cluster, other user clusters managed by the same admin cluster, version skew policy, etc) must be upgraded before this version can be installed or upgraded to."
        },
        "dependencies": {
          "description": "The list of upgrade dependencies for this version.",
          "type": "array",
          "items": {
            "$ref": "UpgradeDependency"
          }
        },
        "version": {
          "description": "Version number e.g. 1.13.1.",
          "type": "string"
        }
      }
    },
    "BareMetalAdminManualLbConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether manual load balancing is enabled."
        }
      },
      "type": "object",
      "description": "BareMetalAdminManualLbConfig represents configuration parameters for a manual load balancer.",
      "id": "BareMetalAdminManualLbConfig"
    },
    "VmwareBundleConfig": {
      "id": "VmwareBundleConfig",
      "properties": {
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. Resource status for the bundle.",
          "readOnly": true
        },
        "version": {
          "description": "The version of the bundle.",
          "type": "string"
        }
      },
      "description": "VmwareBundleConfig represents configuration for the bundle.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "BareMetalNetworkConfig": {
      "id": "BareMetalNetworkConfig",
      "properties": {
        "srIovConfig": {
          "$ref": "BareMetalSrIovConfig",
          "description": "Configuration for SR-IOV."
        },
        "advancedNetworking": {
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag.",
          "type": "boolean"
        },
        "islandModeCidr": {
          "description": "Configuration for island mode CIDR. In an island-mode network, nodes have unique IP addresses, but pods don't have unique addresses across clusters. This doesn't cause problems because pods in one cluster never directly communicate with pods in another cluster. Instead, there are gateways that mediate between a pod in one cluster and a pod in another cluster.",
          "$ref": "BareMetalIslandModeCidrConfig"
        },
        "multipleNetworkInterfacesConfig": {
          "$ref": "BareMetalMultipleNetworkInterfacesConfig",
          "description": "Configuration for multiple network interfaces."
        }
      },
      "description": "Specifies the cluster network configuration.",
      "type": "object"
    },
    "BareMetalWorkloadNodeConfig": {
      "properties": {
        "containerRuntime": {
          "type": "string",
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "CONTAINERD"
          ],
          "enumDescriptions": [
            "No container runtime selected.",
            "Containerd runtime."
          ],
          "description": "Specifies which container runtime will be used."
        },
        "maxPodsPerNode": {
          "format": "int64",
          "type": "string",
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter."
        }
      },
      "type": "object",
      "id": "BareMetalWorkloadNodeConfig",
      "description": "Specifies the workload node configurations."
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        }
      },
      "id": "Policy"
    },
    "NodeTaint": {
      "description": "NodeTaint applied to every Kubernetes node in a node pool. Kubernetes taints can be used together with tolerations to control how workloads are scheduled to your nodes. Node taints are permanent.",
      "properties": {
        "effect": {
          "enumDescriptions": [
            "Not set.",
            "Do not allow new pods to schedule onto the node unless they tolerate the taint, but allow all pods submitted to Kubelet without going through the scheduler to start, and allow all already-running pods to continue running. Enforced by the scheduler.",
            "Like TaintEffectNoSchedule, but the scheduler tries not to schedule new pods onto the node, rather than prohibiting new pods from scheduling onto the node entirely. Enforced by the scheduler.",
            "Evict any already-running pods that do not tolerate the taint. Currently enforced by NodeController."
          ],
          "enum": [
            "EFFECT_UNSPECIFIED",
            "NO_SCHEDULE",
            "PREFER_NO_SCHEDULE",
            "NO_EXECUTE"
          ],
          "description": "The taint effect.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key associated with the effect."
        },
        "value": {
          "type": "string",
          "description": "Value associated with the effect."
        }
      },
      "id": "NodeTaint",
      "type": "object"
    },
    "BareMetalNodePoolConfig": {
      "id": "BareMetalNodePoolConfig",
      "type": "object",
      "description": "BareMetalNodePoolConfig describes the configuration of all nodes within a given bare metal node pool.",
      "properties": {
        "operatingSystem": {
          "type": "string",
          "description": "Specifies the nodes operating system (default: LINUX).",
          "enumDescriptions": [
            "No operating system runtime selected.",
            "Linux operating system."
          ],
          "enum": [
            "OPERATING_SYSTEM_UNSPECIFIED",
            "LINUX"
          ]
        },
        "nodeConfigs": {
          "items": {
            "$ref": "BareMetalNodeConfig"
          },
          "description": "Required. The list of machine addresses in the bare metal node pool.",
          "type": "array"
        },
        "taints": {
          "items": {
            "$ref": "NodeTaint"
          },
          "type": "array",
          "description": "The initial taints assigned to nodes of this node pool."
        },
        "kubeletConfig": {
          "description": "The modifiable kubelet configurations for the bare metal machines.",
          "$ref": "BareMetalKubeletConfig"
        },
        "labels": {
          "type": "object",
          "description": "The labels assigned to nodes of this node pool. An object containing a list of key/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BareMetalKubeletConfig": {
      "description": "KubeletConfig defines the modifiable kubelet configurations for bare metal machines. Note: this list includes fields supported in GKE (see https://cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-options).",
      "properties": {
        "serializeImagePullsDisabled": {
          "description": "Prevents the Kubelet from pulling multiple images at a time. We recommend *not* changing the default value on nodes that run docker daemon with version \u003c 1.9 or an Another Union File System (Aufs) storage backend. Issue https://github.com/kubernetes/kubernetes/issues/10959 has more details.",
          "type": "boolean"
        },
        "registryPullQps": {
          "description": "The limit of registry pulls per second. Setting this value to 0 means no limit. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 5.",
          "format": "int32",
          "type": "integer"
        },
        "registryBurst": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum size of bursty pulls, temporarily allows pulls to burst to this number, while still not exceeding registry_pull_qps. The value must not be a negative number. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 10."
        }
      },
      "type": "object",
      "id": "BareMetalKubeletConfig"
    },
    "BareMetalMachineDrainStatus": {
      "properties": {
        "drainingMachines": {
          "description": "The list of draning machines.",
          "items": {
            "$ref": "BareMetalDrainingMachine"
          },
          "type": "array"
        },
        "drainedMachines": {
          "items": {
            "$ref": "BareMetalDrainedMachine"
          },
          "type": "array",
          "description": "The list of drained machines."
        }
      },
      "type": "object",
      "description": "Represents the status of node machines that are undergoing drain operations.",
      "id": "BareMetalMachineDrainStatus"
    },
    "ResourceCondition": {
      "type": "object",
      "id": "ResourceCondition",
      "properties": {
        "message": {
          "type": "string",
          "description": "Human-readable message indicating details about last transition."
        },
        "reason": {
          "type": "string",
          "description": "Machine-readable message indicating details about last transition."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TRUE",
            "STATE_FALSE",
            "STATE_UNKNOWN"
          ],
          "description": "state of the condition.",
          "enumDescriptions": [
            "Not set.",
            "Resource is in the condition.",
            "Resource is not in the condition.",
            "Kubernetes controller can't decide if the resource is in the condition or not."
          ]
        },
        "lastTransitionTime": {
          "description": "Last time the condition transit from one status to another.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Type of the condition. (e.g., ClusterRunning, NodePoolRunning or ServerSidePreflightReady)",
          "type": "string"
        }
      },
      "description": "ResourceCondition provides a standard mechanism for higher-level status reporting from controller."
    },
    "BareMetalIslandModeCidrConfig": {
      "properties": {
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field is mutable after creation starting with version 1.15.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "BareMetalIslandModeCidrConfig",
      "description": "Specifies the cluster CIDR configuration while running in island mode.",
      "type": "object"
    },
    "BareMetalMultipleNetworkInterfacesConfig": {
      "properties": {
        "enabled": {
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true.",
          "type": "boolean"
        }
      },
      "id": "BareMetalMultipleNetworkInterfacesConfig",
      "type": "object",
      "description": "Specifies the multiple networking interfaces cluster configuration."
    },
    "BareMetalBgpLbConfig": {
      "type": "object",
      "properties": {
        "asn": {
          "description": "Required. BGP autonomous system number (ASN) of the cluster. This field can be updated after cluster creation.",
          "type": "string",
          "format": "int64"
        },
        "bgpPeerConfigs": {
          "description": "Required. The list of BGP peers that the cluster will connect to. At least one peer must be configured for each control plane node. Control plane nodes will connect to these peers to advertise the control plane VIP. The Services load balancer also uses these peers by default. This field can be updated after cluster creation.",
          "type": "array",
          "items": {
            "$ref": "BareMetalBgpPeerConfig"
          }
        },
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          },
          "type": "array"
        },
        "loadBalancerNodePoolConfig": {
          "description": "Specifies the node pool running data plane load balancing. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used for data plane load balancing.",
          "$ref": "BareMetalLoadBalancerNodePoolConfig"
        }
      },
      "description": "BareMetalBgpLbConfig represents configuration parameters for a Border Gateway Protocol (BGP) load balancer.",
      "id": "BareMetalBgpLbConfig"
    },
    "VmwareStaticIpConfig": {
      "description": "Represents the network configuration required for the VMware user clusters with Static IP configurations.",
      "type": "object",
      "id": "VmwareStaticIpConfig",
      "properties": {
        "ipBlocks": {
          "type": "array",
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "description": "Represents the configuration values for static IP allocation to nodes."
        }
      }
    },
    "VmwareAutoRepairConfig": {
      "id": "VmwareAutoRepairConfig",
      "type": "object",
      "description": "Specifies config to enable/disable auto repair. The cluster-health-controller is deployed only if Enabled is true.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether auto repair is enabled."
        }
      }
    },
    "BareMetalPortConfig": {
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "format": "int32",
          "description": "The port that control plane hosted load balancers will listen on.",
          "type": "integer"
        }
      },
      "description": "Specifies load balancer ports for the bare metal user cluster.",
      "id": "BareMetalPortConfig",
      "type": "object"
    },
    "BareMetalDrainedMachine": {
      "properties": {
        "nodeIp": {
          "description": "Drained machine IP address.",
          "type": "string"
        }
      },
      "id": "BareMetalDrainedMachine",
      "type": "object",
      "description": "Represents a machine that is currently drained."
    },
    "VmwareAdminNetworkConfig": {
      "type": "object",
      "properties": {
        "serviceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array"
        },
        "haControlPlaneConfig": {
          "$ref": "VmwareAdminHAControlPlaneConfig",
          "description": "Configuration for HA admin cluster control plane."
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vcenterNetwork": {
          "description": "vcenter_network specifies vCenter network name.",
          "type": "string"
        },
        "staticIpConfig": {
          "$ref": "VmwareStaticIpConfig",
          "description": "Configuration settings for a static IP configuration."
        },
        "hostConfig": {
          "description": "Represents common network settings irrespective of the host's IP address.",
          "$ref": "VmwareHostConfig"
        },
        "dhcpIpConfig": {
          "$ref": "VmwareDhcpIpConfig",
          "description": "Configuration settings for a DHCP IP configuration."
        }
      },
      "description": "VmwareAdminNetworkConfig contains network configuration for VMware admin cluster.",
      "id": "VmwareAdminNetworkConfig"
    },
    "BareMetalLoadBalancerAddressPool": {
      "description": "Represents an IP pool used by the load balancer.",
      "id": "BareMetalLoadBalancerAddressPool",
      "type": "object",
      "properties": {
        "pool": {
          "description": "Required. The name of the address pool.",
          "type": "string"
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        },
        "addresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array"
        },
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        }
      }
    },
    "VmwareControlPlaneNodeConfig": {
      "properties": {
        "replicas": {
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica).",
          "format": "int64",
          "type": "string"
        },
        "memory": {
          "type": "string",
          "format": "int64",
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory)."
        },
        "cpus": {
          "format": "int64",
          "type": "string",
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)"
        },
        "autoResizeConfig": {
          "description": "AutoResizeConfig provides auto resizing configurations.",
          "$ref": "VmwareAutoResizeConfig"
        },
        "vsphereConfig": {
          "description": "Vsphere-specific config.",
          "$ref": "VmwareControlPlaneVsphereConfig"
        }
      },
      "id": "VmwareControlPlaneNodeConfig",
      "type": "object",
      "description": "Specifies control plane node config for the VMware user cluster."
    },
    "VmwareIpBlock": {
      "type": "object",
      "description": "Represents a collection of IP addresses to assign to nodes.",
      "properties": {
        "gateway": {
          "type": "string",
          "description": "The network gateway used by the VMware user cluster."
        },
        "ips": {
          "type": "array",
          "description": "The node's network configurations used by the VMware user cluster.",
          "items": {
            "$ref": "VmwareHostIp"
          }
        },
        "netmask": {
          "description": "The netmask used by the VMware user cluster.",
          "type": "string"
        }
      },
      "id": "VmwareIpBlock"
    },
    "VmwareHostIp": {
      "id": "VmwareHostIp",
      "properties": {
        "ip": {
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24).",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Hostname of the machine. VM's name will be used if this field is empty."
        }
      },
      "type": "object",
      "description": "Represents VMware user cluster node's network configuration."
    },
    "BareMetalAdminControlPlaneNodePoolConfig": {
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running the control plane.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "description": "BareMetalAdminControlPlaneNodePoolConfig specifies the control plane node pool configuration. We have a control plane specific node pool config so that we can flexible about supporting control plane specific fields in the future.",
      "type": "object",
      "id": "BareMetalAdminControlPlaneNodePoolConfig"
    },
    "VmwareControlPlaneVsphereConfig": {
      "description": "Specifies control plane node config.",
      "properties": {
        "datastore": {
          "type": "string",
          "description": "The Vsphere datastore used by the control plane Node."
        }
      },
      "id": "VmwareControlPlaneVsphereConfig",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "VmwareAdminCluster": {
      "description": "Resource that represents a VMware admin cluster.",
      "properties": {
        "status": {
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing detailed cluster state.",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "description": "Annotations on the VMware admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Immutable. The VMware admin cluster resource name."
        },
        "description": {
          "description": "A human readable description of this VMware admin cluster.",
          "type": "string"
        },
        "platformConfig": {
          "$ref": "VmwarePlatformConfig",
          "description": "The VMware platform configuration."
        },
        "vcenter": {
          "$ref": "VmwareAdminVCenterConfig",
          "description": "The VMware admin cluster VCenter configuration."
        },
        "networkConfig": {
          "$ref": "VmwareAdminNetworkConfig",
          "description": "The VMware admin cluster network configuration."
        },
        "onPremVersion": {
          "type": "string",
          "description": "The Anthos clusters on the VMware version for the admin cluster."
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of VMware admin cluster.",
          "readOnly": true
        },
        "fleet": {
          "readOnly": true,
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster."
        },
        "localName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The object name of the VMware OnPremAdminCluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the VMware admin cluster."
        },
        "imageType": {
          "description": "The OS image type for the VMware admin cluster.",
          "type": "string"
        },
        "endpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DNS name of VMware admin cluster's API server."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "addonNode": {
          "$ref": "VmwareAdminAddonNodeConfig",
          "description": "The VMware admin cluster addon node configuration."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which VMware admin cluster was created.",
          "readOnly": true
        },
        "loadBalancer": {
          "description": "The VMware admin cluster load balancer configuration.",
          "$ref": "VmwareAdminLoadBalancerConfig"
        },
        "reconciling": {
          "description": "Output only. If set, there are currently changes in flight to the VMware admin cluster.",
          "readOnly": true,
          "type": "boolean"
        },
        "autoRepairConfig": {
          "$ref": "VmwareAutoRepairConfig",
          "description": "The VMware admin cluster auto repair configuration."
        },
        "updateTime": {
          "description": "Output only. The time at which VMware admin cluster was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "controlPlaneNode": {
          "description": "The VMware admin cluster control plane node configuration.",
          "$ref": "VmwareAdminControlPlaneNodeConfig"
        },
        "antiAffinityGroups": {
          "description": "The VMware admin cluster anti affinity group configuration.",
          "$ref": "VmwareAAGConfig"
        },
        "bootstrapClusterMembership": {
          "description": "The bootstrap cluster this VMware admin cluster belongs to.",
          "type": "string"
        }
      },
      "id": "VmwareAdminCluster",
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "progress": {
          "$ref": "OperationProgress",
          "readOnly": true,
          "description": "Output only. Detailed progress information for the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Not set.",
            "The resource is being created.",
            "The resource is being deleted.",
            "The resource is being updated.",
            "The resource is being upgraded.",
            "The platform is being upgraded."
          ],
          "readOnly": true,
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "UPDATE",
            "UPGRADE",
            "PLATFORM_UPGRADE"
          ],
          "description": "Output only. Type of operation being executed.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have [Operation.error] value with a [google.rpc.Status.code] of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "controlPlaneDisconnected": {
          "type": "boolean",
          "description": "Output only. Denotes if the local managing cluster's control plane is currently disconnected. This is expected to occur temporarily during self-managed cluster upgrades.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "BareMetalDrainingMachine": {
      "type": "object",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Draining machine IP address."
        },
        "podCount": {
          "description": "The count of pods yet to drain.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "BareMetalDrainingMachine",
      "description": "Represents a machine that is currently draining."
    },
    "EnrollBareMetalNodePoolRequest": {
      "description": "Message for enrolling an existing bare metal node pool to the GKE on-prem API.",
      "properties": {
        "bareMetalNodePoolId": {
          "type": "string",
          "description": "User provided OnePlatform identifier that is used as part of the resource name. (https://tools.ietf.org/html/rfc1123) format."
        },
        "validateOnly": {
          "description": "If set, only validate the request, but do not actually enroll the node pool.",
          "type": "boolean"
        }
      },
      "id": "EnrollBareMetalNodePoolRequest",
      "type": "object"
    },
    "VmwareMetalLbConfig": {
      "id": "VmwareMetalLbConfig",
      "description": "Represents configuration parameters for the MetalLB load balancer.",
      "properties": {
        "addressPools": {
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "type": "array",
          "items": {
            "$ref": "VmwareAddressPool"
          }
        }
      },
      "type": "object"
    },
    "BareMetalAdminIslandModeCidrConfig": {
      "type": "object",
      "id": "BareMetalAdminIslandModeCidrConfig",
      "properties": {
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation."
        }
      },
      "description": "BareMetalAdminIslandModeCidrConfig specifies the cluster CIDR configuration while running in island mode."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "BareMetalLvpShareConfig": {
      "id": "BareMetalLvpShareConfig",
      "properties": {
        "lvpConfig": {
          "$ref": "BareMetalLvpConfig",
          "description": "Required. Defines the machine path and storage class for the LVP Share."
        },
        "sharedPathPvCount": {
          "description": "The number of subdirectories to create under path.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Specifies the configs for local persistent volumes under a shared file system."
    },
    "VmwareVipConfig": {
      "id": "VmwareVipConfig",
      "properties": {
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this cluster."
        },
        "ingressVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for ingress traffic into this cluster."
        }
      },
      "description": "Specifies the VIP config for the VMware user cluster load balancer.",
      "type": "object"
    },
    "ValidationCheck": {
      "id": "ValidationCheck",
      "description": "ValidationCheck represents the result of preflight check.",
      "properties": {
        "scenario": {
          "enum": [
            "SCENARIO_UNSPECIFIED",
            "CREATE",
            "UPDATE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The scenario when the preflight checks were run.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The validation check occurred during a create flow.",
            "The validation check occurred during an update flow."
          ]
        },
        "status": {
          "readOnly": true,
          "$ref": "ValidationCheckStatus",
          "description": "Output only. The detailed validation check status."
        },
        "option": {
          "description": "Options used for the validation check",
          "type": "string",
          "enumDescriptions": [
            "Default value. Standard preflight validation check will be used.",
            "Prevent failed preflight checks from failing.",
            "Skip all preflight check validations."
          ],
          "enum": [
            "OPTIONS_UNSPECIFIED",
            "SKIP_VALIDATION_CHECK_BLOCKING",
            "SKIP_VALIDATION_ALL"
          ]
        }
      },
      "type": "object"
    },
    "VmwareAdminHAControlPlaneConfig": {
      "properties": {
        "controlPlaneIpBlock": {
          "description": "Static IP addresses for the admin control plane nodes.",
          "$ref": "VmwareIpBlock"
        }
      },
      "description": "Specifies HA admin control plane config.",
      "type": "object",
      "id": "VmwareAdminHAControlPlaneConfig"
    },
    "VmwareNetworkConfig": {
      "description": "Specifies network config for the VMware user cluster.",
      "properties": {
        "vcenterNetwork": {
          "readOnly": true,
          "description": "Output only. vcenter_network specifies vCenter network name. Inherited from the admin cluster.",
          "type": "string"
        },
        "hostConfig": {
          "$ref": "VmwareHostConfig",
          "description": "Represents common network settings irrespective of the host's IP address."
        },
        "staticIpConfig": {
          "$ref": "VmwareStaticIpConfig",
          "description": "Configuration settings for a static IP configuration."
        },
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAddressCidrBlocks": {
          "type": "array",
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "items": {
            "type": "string"
          }
        },
        "controlPlaneV2Config": {
          "description": "Configuration for control plane V2 mode.",
          "$ref": "VmwareControlPlaneV2Config"
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        }
      },
      "id": "VmwareNetworkConfig",
      "type": "object"
    },
    "VmwareLoadBalancerConfig": {
      "properties": {
        "metalLbConfig": {
          "$ref": "VmwareMetalLbConfig",
          "description": "Configuration for MetalLB typed load balancers."
        },
        "f5Config": {
          "$ref": "VmwareF5BigIpConfig",
          "description": "Configuration for F5 Big IP typed load balancers."
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareManualLbConfig"
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareVipConfig"
        }
      },
      "type": "object",
      "description": "Specifies the locad balancer config for the VMware user cluster.",
      "id": "VmwareLoadBalancerConfig"
    },
    "VmwareCluster": {
      "type": "object",
      "description": "Resource that represents a VMware user cluster. ##",
      "properties": {
        "antiAffinityGroups": {
          "description": "AAGConfig specifies whether to spread VMware user cluster nodes across at least three physical hosts in the datacenter.",
          "$ref": "VmwareAAGConfig"
        },
        "vcenter": {
          "description": "Output only. VmwareVCenterConfig specifies vCenter config for the user cluster. Inherited from the admin cluster.",
          "readOnly": true,
          "$ref": "VmwareVCenterConfig"
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        },
        "validationCheck": {
          "description": "Output only. ValidationCheck represents the result of the preflight check job.",
          "readOnly": true,
          "$ref": "ValidationCheck"
        },
        "localName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs."
        },
        "networkConfig": {
          "description": "The VMware user cluster network configuration.",
          "$ref": "VmwareNetworkConfig"
        },
        "name": {
          "description": "Immutable. The VMware user cluster resource name.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which VMware user cluster was last updated."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the VMware user cluster."
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which VMware user cluster was deleted."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        },
        "autoRepairConfig": {
          "description": "Configuration for auto repairing.",
          "$ref": "VmwareAutoRepairConfig"
        },
        "description": {
          "type": "string",
          "description": "A human readable description of this VMware user cluster."
        },
        "authorization": {
          "$ref": "Authorization",
          "description": "RBAC policy that will be applied and managed by the Anthos On-Prem API."
        },
        "dataplaneV2": {
          "description": "VmwareDataplaneV2Config specifies configuration for Dataplane V2.",
          "$ref": "VmwareDataplaneV2Config"
        },
        "onPremVersion": {
          "type": "string",
          "description": "Required. The Anthos clusters on the VMware version for your user cluster."
        },
        "status": {
          "$ref": "ResourceStatus",
          "readOnly": true,
          "description": "Output only. ResourceStatus representing detailed cluster state."
        },
        "annotations": {
          "type": "object",
          "description": "Annotations on the VMware user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "loadBalancer": {
          "$ref": "VmwareLoadBalancerConfig",
          "description": "Load balancer configuration."
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "description": "Output only. The current state of VMware user cluster.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "type": "string"
        },
        "adminClusterName": {
          "type": "string",
          "description": "Output only. The resource name of the VMware admin cluster hosting this user cluster.",
          "readOnly": true
        },
        "controlPlaneNode": {
          "description": "VMware user cluster control plane nodes must have either 1 or 3 replicas.",
          "$ref": "VmwareControlPlaneNodeConfig"
        },
        "fleet": {
          "readOnly": true,
          "$ref": "Fleet",
          "description": "Output only. Fleet configuration for the cluster."
        },
        "createTime": {
          "description": "Output only. The time at which VMware user cluster was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "storage": {
          "description": "Storage configuration.",
          "$ref": "VmwareStorageConfig"
        },
        "endpoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The DNS name of VMware user cluster's API server."
        },
        "vmTrackingEnabled": {
          "type": "boolean",
          "description": "Enable VM tracking."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the VMware user cluster."
        },
        "enableControlPlaneV2": {
          "description": "Enable control plane V2. Default to false.",
          "type": "boolean"
        }
      },
      "id": "VmwareCluster"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "QueryBareMetalAdminVersionConfigResponse": {
      "type": "object",
      "description": "Response message for querying bare metal admin cluster version config.",
      "id": "QueryBareMetalAdminVersionConfigResponse",
      "properties": {
        "versions": {
          "items": {
            "$ref": "BareMetalVersionInfo"
          },
          "type": "array",
          "description": "List of available versions to install or to upgrade to."
        }
      }
    },
    "BareMetalAdminLoadBalancerConfig": {
      "type": "object",
      "description": "BareMetalAdminLoadBalancerConfig specifies the load balancer configuration.",
      "properties": {
        "manualLbConfig": {
          "$ref": "BareMetalAdminManualLbConfig",
          "description": "Manually configured load balancers."
        },
        "portConfig": {
          "$ref": "BareMetalAdminPortConfig",
          "description": "Configures the ports that the load balancer will listen on."
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "BareMetalAdminVipConfig"
        }
      },
      "id": "BareMetalAdminLoadBalancerConfig"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "BareMetalApiServerArgument": {
      "type": "object",
      "id": "BareMetalApiServerArgument",
      "description": "Represents an arg name-\u003evalue pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
      "properties": {
        "argument": {
          "description": "Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the arg as it will be passed to the API Server command line."
        }
      }
    },
    "VmwareAdminSeesawConfig": {
      "type": "object",
      "properties": {
        "masterIp": {
          "type": "string",
          "description": "MasterIP is the IP announced by the master of Seesaw group."
        },
        "vms": {
          "description": "Names of the VMs created for this Seesaw group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ipBlocks": {
          "items": {
            "$ref": "VmwareIpBlock"
          },
          "type": "array",
          "description": "The IP Blocks to be used by the Seesaw load balancer"
        },
        "enableHa": {
          "description": "Enable two load balancer VMs to achieve a highly-available Seesaw load balancer.",
          "type": "boolean"
        },
        "group": {
          "type": "string",
          "description": "In general the following format should be used for the Seesaw group name: seesaw-for-[cluster_name]."
        }
      },
      "description": "VmwareSeesawConfig represents configuration parameters for an already existing Seesaw load balancer. IMPORTANT: Please note that the Anthos On-Prem API will not generate or update Seesaw configurations it can only bind a pre-existing configuration to a new user cluster. IMPORTANT: When attempting to create a user cluster with a pre-existing Seesaw load balancer you will need to follow some preparation steps before calling the 'CreateVmwareCluster' API method. First you will need to create the user cluster's namespace via kubectl. The namespace will need to use the following naming convention : -gke-onprem-mgmt or -gke-onprem-mgmt depending on whether you used the 'VmwareCluster.local_name' to disambiguate collisions; for more context see the documentation of 'VmwareCluster.local_name'. Once the namespace is created you will need to create a secret resource via kubectl. This secret will contain copies of your Seesaw credentials. The Secret must be called 'user-cluster-creds' and contain Seesaw's SSH and Cert credentials. The credentials must be keyed with the following names: 'seesaw-ssh-private-key', 'seesaw-ssh-public-key', 'seesaw-ssh-ca-key', 'seesaw-ssh-ca-cert'.",
      "id": "VmwareAdminSeesawConfig"
    },
    "BareMetalAdminOsEnvironmentConfig": {
      "id": "BareMetalAdminOsEnvironmentConfig",
      "type": "object",
      "properties": {
        "packageRepoExcluded": {
          "type": "boolean",
          "description": "Whether the package repo should be added when initializing bare metal machines."
        }
      },
      "description": "Specifies operating system operation settings for cluster provisioning."
    },
    "QueryBareMetalVersionConfigResponse": {
      "properties": {
        "versions": {
          "type": "array",
          "description": "List of available versions to install or to upgrade to.",
          "items": {
            "$ref": "BareMetalVersionInfo"
          }
        }
      },
      "type": "object",
      "id": "QueryBareMetalVersionConfigResponse",
      "description": "Response message for querying bare metal admin cluster version config."
    },
    "VmwareNodeConfig": {
      "type": "object",
      "description": "Parameters that describe the configuration of all nodes within a given node pool.",
      "id": "VmwareNodeConfig",
      "properties": {
        "image": {
          "description": "The OS image name in vCenter, only valid when using Windows.",
          "type": "string"
        },
        "cpus": {
          "format": "int64",
          "description": "The number of CPUs for each node in the node pool.",
          "type": "string"
        },
        "taints": {
          "description": "The initial taints assigned to nodes of this node pool.",
          "type": "array",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "enableLoadBalancer": {
          "description": "Allow node pool traffic to be load balanced. Only works for clusters with MetalLB load balancers.",
          "type": "boolean"
        },
        "imageType": {
          "type": "string",
          "description": "Required. The OS image to be used for each node in a node pool. Currently `cos`, `ubuntu`, `ubuntu_containerd` and `windows` are supported."
        },
        "bootDiskSizeGb": {
          "description": "VMware disk size to be used during creation.",
          "type": "string",
          "format": "int64"
        },
        "memoryMb": {
          "description": "The megabytes of memory for each node in the node pool.",
          "format": "int64",
          "type": "string"
        },
        "vsphereConfig": {
          "description": "Specifies the vSphere config for node pool.",
          "$ref": "VmwareVsphereConfig"
        },
        "labels": {
          "type": "object",
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "additionalProperties": {
            "type": "string"
          }
        },
        "replicas": {
          "type": "string",
          "description": "The number of nodes in the node pool.",
          "format": "int64"
        }
      }
    },
    "VmwareAutoResizeConfig": {
      "description": "Represents auto resizing configurations for the VMware user cluster.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether to enable controle plane node auto resizing.",
          "type": "boolean"
        }
      },
      "id": "VmwareAutoResizeConfig"
    },
    "BareMetalMaintenanceConfig": {
      "description": "Specifies configurations to put bare metal nodes in and out of maintenance.",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BareMetalMaintenanceConfig"
    },
    "BareMetalAdminPortConfig": {
      "description": "BareMetalAdminPortConfig is the specification of load balancer ports.",
      "type": "object",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "description": "The port that control plane hosted load balancers will listen on.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "BareMetalAdminPortConfig"
    },
[...]
