{
  "servicePath": "",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/gmail/api/",
  "kind": "discovery#restDescription",
  "canonicalName": "Gmail",
  "discoveryVersion": "v1",
  "name": "gmail",
  "schemas": {
    "ListCseIdentitiesResponse": {
      "id": "ListCseIdentitiesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be passed to a subsequent ListCseIdentities call in order to retrieve the next page of identities. If this value is not returned or is the empty string, then no further pages remain.",
          "type": "string"
        },
        "cseIdentities": {
          "description": "One page of the list of CSE identities configured for the user.",
          "items": {
            "$ref": "CseIdentity"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "HistoryLabelAdded": {
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "description": "Label IDs added to the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "HistoryLabelAdded"
    },
    "WatchRequest": {
      "description": "Set up or update a new push notification watch on this user's mailbox.",
      "id": "WatchRequest",
      "properties": {
        "topicName": {
          "description": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format). Note that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request).",
          "type": "string"
        },
        "labelIds": {
          "type": "array",
          "description": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated.",
          "items": {
            "type": "string"
          }
        },
        "labelFilterAction": {
          "enum": [
            "include",
            "exclude"
          ],
          "description": "Filtering behavior of labelIds list specified.",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDelegatesResponse": {
      "properties": {
        "delegates": {
          "items": {
            "$ref": "Delegate"
          },
          "type": "array",
          "description": "List of the user's delegates (with any verification status). If an account doesn't have delegates, this field doesn't appear."
        }
      },
      "type": "object",
      "id": "ListDelegatesResponse",
      "description": "Response for the ListDelegates method."
    },
    "Label": {
      "id": "Label",
      "properties": {
        "name": {
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "description": "The display name of the label."
        },
        "messageListVisibility": {
          "description": "The visibility of messages with this label in the message list in the Gmail web interface.",
          "type": "string",
          "enumDescriptions": [
            "Show the label in the message list.",
            "Do not show the label in the message list."
          ],
          "enum": [
            "show",
            "hide"
          ],
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          }
        },
        "messagesUnread": {
          "type": "integer",
          "description": "The number of unread messages with the label.",
          "format": "int32"
        },
        "threadsTotal": {
          "description": "The total number of threads with the label.",
          "format": "int32",
          "type": "integer"
        },
        "threadsUnread": {
          "format": "int32",
          "type": "integer",
          "description": "The number of unread threads with the label."
        },
        "type": {
          "description": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD` labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT` labels from messages or threads.",
          "enumDescriptions": [
            "Labels created by Gmail.",
            "Custom labels created by the user or application."
          ],
          "enum": [
            "system",
            "user"
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.labels.update"
            ]
          },
          "description": "The immutable ID of the label."
        },
        "messagesTotal": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of messages with the label."
        },
        "labelListVisibility": {
          "enumDescriptions": [
            "Show the label in the label list.",
            "Show the label if there are any unread messages with that label.",
            "Do not show the label in the label list."
          ],
          "description": "The visibility of the label in the label list in the Gmail web interface.",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "enum": [
            "labelShow",
            "labelShowIfUnread",
            "labelHide"
          ],
          "type": "string"
        },
        "color": {
          "description": "The color to assign to the label. Color is only available for labels that have their `type` set to `user`.",
          "$ref": "LabelColor"
        }
      },
      "description": "Labels are used to categorize messages and threads within the user's mailbox. The maximum number of labels supported for a user's mailbox is 10,000.",
      "type": "object"
    },
    "MessagePartBody": {
      "type": "object",
      "properties": {
        "data": {
          "description": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment.",
          "format": "byte",
          "type": "string"
        },
        "attachmentId": {
          "description": "When present, contains the ID of an external attachment that can be retrieved in a separate `messages.attachments.get` request. When not present, the entire content of the message part body is contained in the data field.",
          "type": "string"
        },
        "size": {
          "description": "Number of bytes for the message part data (encoding notwithstanding).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The body of a single MIME message part.",
      "id": "MessagePartBody"
    },
    "BatchDeleteMessagesRequest": {
      "id": "BatchDeleteMessagesRequest",
      "properties": {
        "ids": {
          "description": "The IDs of the messages to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ModifyMessageRequest": {
      "id": "ModifyMessageRequest",
      "properties": {
        "removeLabelIds": {
          "description": "A list IDs of labels to remove from this message. You can remove up to 100 labels with each update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of IDs of labels to add to this message. You can add up to 100 labels with each update."
        }
      },
      "type": "object"
    },
    "ObliterateCseKeyPairRequest": {
      "properties": {},
      "id": "ObliterateCseKeyPairRequest",
      "type": "object",
      "description": "Request to obliterate a CSE key pair."
    },
    "EnableCseKeyPairRequest": {
      "properties": {},
      "description": "Requests to turn on a client-side encryption key pair.",
      "type": "object",
      "id": "EnableCseKeyPairRequest"
    },
    "LabelColor": {
      "properties": {
        "backgroundColor": {
          "description": "The background color represented as hex string #RRGGBB (ex #000000). This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765",
          "type": "string"
        },
        "textColor": {
          "description": "The text color of the label, represented as hex string. This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LabelColor"
    },
    "ModifyThreadRequest": {
      "id": "ModifyThreadRequest",
      "properties": {
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of IDs of labels to remove from this thread. You can remove up to 100 labels with each update.",
          "type": "array"
        },
        "addLabelIds": {
          "description": "A list of IDs of labels to add to this thread. You can add up to 100 labels with each update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "HistoryMessageAdded": {
      "id": "HistoryMessageAdded",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "ListSmimeInfoResponse": {
      "type": "object",
      "properties": {
        "smimeInfo": {
          "items": {
            "$ref": "SmimeInfo"
          },
          "type": "array",
          "description": "List of SmimeInfo."
        }
      },
      "id": "ListSmimeInfoResponse"
    },
    "ListThreadsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        },
        "threads": {
          "items": {
            "$ref": "Thread"
          },
          "type": "array",
          "description": "List of threads. Note that each thread resource does not contain a list of `messages`. The list of `messages` for a given thread can be fetched using the threads.get method."
        },
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "format": "uint32",
          "type": "integer"
        }
      },
      "id": "ListThreadsResponse"
    },
    "SmtpMsa": {
      "id": "SmtpMsa",
      "properties": {
        "securityMode": {
          "enumDescriptions": [
            "Unspecified security mode.",
            "Communication with the remote SMTP service is unsecured. Requires port 25.",
            "Communication with the remote SMTP service is secured using SSL.",
            "Communication with the remote SMTP service is secured using STARTTLS."
          ],
          "description": "The protocol that will be used to secure communication with the SMTP service. Required.",
          "enum": [
            "securityModeUnspecified",
            "none",
            "ssl",
            "starttls"
          ],
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "username": {
          "type": "string",
          "description": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "port": {
          "format": "int32",
          "description": "The port of the SMTP service. Required.",
          "type": "integer"
        },
        "host": {
          "type": "string",
          "description": "The hostname of the SMTP service. Required."
        }
      },
      "description": "Configuration for communication with an SMTP service.",
      "type": "object"
    },
    "HistoryMessageDeleted": {
      "type": "object",
      "id": "HistoryMessageDeleted",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      }
    },
    "ImapSettings": {
      "type": "object",
      "id": "ImapSettings",
      "properties": {
        "autoExpunge": {
          "description": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted.",
          "type": "boolean"
        },
        "maxFolderSize": {
          "description": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit.",
          "type": "integer",
          "format": "int32"
        },
        "expungeBehavior": {
          "enumDescriptions": [
            "Unspecified behavior.",
            "Archive messages marked as deleted.",
            "Move messages marked as deleted to the trash.",
            "Immediately and permanently delete messages marked as deleted. The expunged messages cannot be recovered."
          ],
          "enum": [
            "expungeBehaviorUnspecified",
            "archive",
            "trash",
            "deleteForever"
          ],
          "type": "string",
          "description": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether IMAP is enabled for the account."
        }
      },
      "description": "IMAP settings for an account."
    },
    "ListFiltersResponse": {
      "id": "ListFiltersResponse",
      "type": "object",
      "properties": {
        "filter": {
          "items": {
            "$ref": "Filter"
          },
          "description": "List of a user's filters.",
          "type": "array"
        }
      },
      "description": "Response for the ListFilters method."
    },
    "KaclsKeyMetadata": {
      "description": "Metadata for private keys managed by an external key access control list service. For details about managing key access, see [Google Workspace CSE API Reference](https://developers.google.com/workspace/cse/reference).",
      "type": "object",
      "properties": {
        "kaclsData": {
          "description": "Opaque data generated and used by the key access control list service. Maximum size: 8 KiB.",
          "type": "string"
        },
        "kaclsUri": {
          "description": "The URI of the key access control list service that manages the private key.",
          "type": "string"
        }
      },
      "id": "KaclsKeyMetadata"
    },
    "Message": {
      "properties": {
        "threadId": {
          "description": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. ",
          "type": "string"
        },
        "historyId": {
          "description": "The ID of the last history record that modified this message.",
          "format": "uint64",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The immutable ID of the message."
        },
        "payload": {
          "$ref": "MessagePart",
          "description": "The parsed email structure in the message parts."
        },
        "raw": {
          "format": "byte",
          "description": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied.",
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.drafts.create",
              "gmail.users.drafts.update",
              "gmail.users.messages.insert",
              "gmail.users.messages.send"
            ]
          }
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "labelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of IDs of labels applied to this message."
        },
        "sizeEstimate": {
          "format": "int32",
          "type": "integer",
          "description": "Estimated size in bytes of the message."
        },
        "internalDate": {
          "description": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "An email message.",
      "id": "Message",
      "type": "object"
    },
    "FilterAction": {
      "properties": {
        "forward": {
          "type": "string",
          "description": "Email address that the message should be forwarded to."
        },
        "addLabelIds": {
          "description": "List of labels to add to the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of labels to remove from the message."
        }
      },
      "type": "object",
      "description": "A set of actions to perform on a message.",
      "id": "FilterAction"
    },
    "SendAs": {
      "properties": {
        "displayName": {
          "description": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account. If the admin has disabled the ability for users to update their name format, requests to update this field for the primary login will silently fail.",
          "type": "string"
        },
        "sendAsEmail": {
          "type": "string",
          "description": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create."
        },
        "treatAsAlias": {
          "type": "boolean",
          "description": "Whether Gmail should treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases."
        },
        "verificationStatus": {
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "description": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases.",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use as a send-as alias.",
            "The address is awaiting verification by the owner."
          ],
          "type": "string"
        },
        "replyToAddress": {
          "description": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header.",
          "type": "string"
        },
        "isPrimary": {
          "description": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only.",
          "type": "boolean"
        },
        "signature": {
          "type": "string",
          "description": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI. This signature is added to new emails only."
        },
        "smtpMsa": {
          "description": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases.",
          "$ref": "SmtpMsa"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is `true`. Changing this from `false` to `true` for an address will result in this field becoming `false` for the other previous default address."
        }
      },
      "description": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface.",
      "type": "object",
      "id": "SendAs"
    },
    "CseIdentity": {
      "type": "object",
      "description": "The client-side encryption (CSE) configuration for the email address of an authenticated user. Gmail uses CSE configurations to save drafts of client-side encrypted email messages, and to sign and send encrypted email messages.",
      "properties": {
        "primaryKeyPairId": {
          "description": "If a key pair is associated, the identifier of the key pair, CseKeyPair.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address for the sending identity. The email address must be the primary email address of the authenticated user."
        }
      },
      "id": "CseIdentity"
    },
    "CsePrivateKeyMetadata": {
      "id": "CsePrivateKeyMetadata",
      "type": "object",
      "description": "Metadata for a private key instance.",
      "properties": {
        "privateKeyMetadataId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The immutable ID for the private key metadata instance."
        },
        "kaclsKeyMetadata": {
          "description": "Metadata for a private key instance managed by an external key access control list service.",
          "$ref": "KaclsKeyMetadata"
        }
      }
    },
    "CseKeyPair": {
      "type": "object",
      "properties": {
        "subjectEmailAddresses": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The email address identities that are specified on the leaf certificate.",
          "items": {
            "type": "string"
          }
        },
        "enablementState": {
          "enumDescriptions": [
            "The current state of the key pair is not set. The key pair is neither turned on nor turned off.",
            "The key pair is turned on. For any email messages that this key pair encrypts, Gmail decrypts the messages and signs any outgoing mail with the private key. To turn on a key pair, use the EnableCseKeyPair method.",
            "The key pair is turned off. Authenticated users cannot decrypt email messages nor sign outgoing messages. If a key pair is turned off for more than 30 days, you can permanently delete it. To turn off a key pair, use the DisableCseKeyPair method."
          ],
          "type": "string",
          "description": "Output only. The current state of the key pair.",
          "readOnly": true,
          "enum": [
            "stateUnspecified",
            "enabled",
            "disabled"
          ]
        },
        "pem": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The public key and its certificate chain, in [PEM](https://en.wikipedia.org/wiki/Privacy-Enhanced_Mail) format."
        },
        "disableTime": {
          "description": "Output only. If a key pair is set to `DISABLED`, the time that the key pair's state changed from `ENABLED` to `DISABLED`. This field is present only when the key pair is in state `DISABLED`.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "privateKeyMetadata": {
          "items": {
            "$ref": "CsePrivateKeyMetadata"
          },
          "type": "array",
          "description": "Metadata for instances of this key pair's private key."
        },
        "pkcs7": {
          "type": "string",
          "description": "Input only. The public key and its certificate chain. The chain must be in [PKCS#7](https://en.wikipedia.org/wiki/PKCS_7) format and use PEM encoding and ASCII armor."
        },
        "keyPairId": {
          "readOnly": true,
          "description": "Output only. The immutable ID for the client-side encryption S/MIME key pair.",
          "type": "string"
        }
      },
      "id": "CseKeyPair",
      "description": "A client-side encryption S/MIME key pair, which is comprised of a public key, its certificate chain, and metadata for its paired private key. Gmail uses the key pair to complete the following tasks: - Sign outgoing client-side encrypted messages. - Save and reopen drafts of client-side encrypted messages. - Save and reopen sent messages. - Decrypt incoming or archived S/MIME messages."
    },
    "HistoryLabelRemoved": {
      "type": "object",
      "id": "HistoryLabelRemoved",
      "properties": {
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Label IDs removed from the message."
        },
        "message": {
          "$ref": "Message"
        }
      }
    },
    "BatchModifyMessagesRequest": {
      "id": "BatchModifyMessagesRequest",
      "type": "object",
      "properties": {
        "ids": {
          "description": "The IDs of the messages to modify. There is a limit of 1000 ids per request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of label IDs to add to messages."
        },
        "removeLabelIds": {
          "type": "array",
          "description": "A list of label IDs to remove from messages.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PopSettings": {
      "id": "PopSettings",
      "type": "object",
      "properties": {
        "disposition": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "description": "The action that will be executed on a message after it has been fetched via POP.",
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ]
        },
        "accessWindow": {
          "enumDescriptions": [
            "Unspecified range.",
            "Indicates that no messages are accessible via POP.",
            "Indicates that unfetched messages received after some past point in time are accessible via POP.",
            "Indicates that all unfetched messages are accessible via POP."
          ],
          "description": "The range of messages which are accessible via POP.",
          "type": "string",
          "enum": [
            "accessWindowUnspecified",
            "disabled",
            "fromNowOn",
            "allMail"
          ]
        }
      },
      "description": "POP settings for an account."
    },
    "ForwardingAddress": {
      "description": "Settings for a forwarding address.",
      "type": "object",
      "id": "ForwardingAddress",
      "properties": {
        "forwardingEmail": {
          "type": "string",
          "description": "An email address to which messages can be forwarded."
        },
        "verificationStatus": {
          "description": "Indicates whether this address has been verified and is usable for forwarding. Read-only.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use for forwarding.",
            "The address is awaiting verification by the owner."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ]
        }
      }
    },
    "Profile": {
      "properties": {
        "messagesTotal": {
          "type": "integer",
          "description": "The total number of messages in the mailbox.",
          "format": "int32"
        },
        "threadsTotal": {
          "format": "int32",
          "description": "The total number of threads in the mailbox.",
          "type": "integer"
        },
        "historyId": {
          "type": "string",
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64"
        },
        "emailAddress": {
          "type": "string",
          "description": "The user's email address."
        }
      },
      "type": "object",
      "description": "Profile for a Gmail user.",
      "id": "Profile"
    },
    "Delegate": {
      "id": "Delegate",
      "type": "object",
      "description": "Settings for a delegate. Delegates can read, send, and delete messages, as well as view and add contacts, for the delegator's account. See \"Set up mail delegation\" for more information about delegates.",
      "properties": {
        "delegateEmail": {
          "type": "string",
          "description": "The email address of the delegate."
        },
        "verificationStatus": {
          "description": "Indicates whether this address has been verified and can act as a delegate for the account. Read-only.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address can act a delegate for the account.",
            "A verification request was mailed to the address, and the owner has not yet accepted it.",
            "A verification request was mailed to the address, and the owner rejected it.",
            "A verification request was mailed to the address, and it expired without verification."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending",
            "rejected",
            "expired"
          ]
        }
      }
    },
    "MessagePart": {
      "type": "object",
      "description": "A single MIME message part.",
      "properties": {
        "body": {
          "$ref": "MessagePartBody",
          "description": "The message part body for this part, which may be empty for container MIME message parts."
        },
        "parts": {
          "description": "The child MIME message parts of this part. This only applies to container MIME message parts, for example `multipart/*`. For non- container MIME message part types, such as `text/plain`, this field is empty. For more information, see RFC 1521.",
          "items": {
            "$ref": "MessagePart"
          },
          "type": "array"
        },
        "headers": {
          "type": "array",
          "description": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`.",
          "items": {
            "$ref": "MessagePartHeader"
          }
        },
        "filename": {
          "type": "string",
          "description": "The filename of the attachment. Only present if this message part represents an attachment."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the message part."
        },
        "partId": {
          "type": "string",
          "description": "The immutable ID of the message part."
        }
      },
      "id": "MessagePart"
    },
    "DisableCseKeyPairRequest": {
      "properties": {},
      "description": "Requests to turn off a client-side encryption key pair.",
      "type": "object",
      "id": "DisableCseKeyPairRequest"
    },
    "FilterCriteria": {
      "properties": {
        "size": {
          "format": "int32",
          "type": "integer",
          "description": "The size of the entire RFC822 message in bytes, including all headers and attachments."
        },
        "from": {
          "description": "The sender's display name or email address.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
        },
        "negatedQuery": {
          "description": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        },
        "to": {
          "type": "string",
          "description": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive."
        },
        "excludeChats": {
          "type": "boolean",
          "description": "Whether the response should exclude chats."
        },
        "sizeComparison": {
          "enumDescriptions": [
            "",
            "Find messages smaller than the given size.",
            "Find messages larger than the given size."
          ],
          "description": "How the message size in bytes should be in relation to the size field.",
          "type": "string",
          "enum": [
            "unspecified",
            "smaller",
            "larger"
          ]
        },
        "hasAttachment": {
          "description": "Whether the message has any attachment.",
          "type": "boolean"
        },
        "subject": {
          "description": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed.",
          "type": "string"
        }
      },
      "id": "FilterCriteria",
      "description": "Message matching criteria.",
      "type": "object"
    },
    "ListLabelsResponse": {
      "properties": {
        "labels": {
          "description": "List of labels. Note that each label resource only contains an `id`, `name`, `messageListVisibility`, `labelListVisibility`, and `type`. The labels.get method can fetch additional label details.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        }
      },
      "id": "ListLabelsResponse",
      "type": "object"
    },
    "ListForwardingAddressesResponse": {
      "description": "Response for the ListForwardingAddresses method.",
      "type": "object",
      "id": "ListForwardingAddressesResponse",
      "properties": {
        "forwardingAddresses": {
          "description": "List of addresses that may be used for forwarding.",
          "type": "array",
          "items": {
            "$ref": "ForwardingAddress"
          }
        }
      }
    },
    "VacationSettings": {
      "properties": {
        "enableAutoReply": {
          "type": "boolean",
          "description": "Flag that controls whether Gmail automatically replies to messages."
        },
        "responseBodyPlainText": {
          "type": "string",
          "description": "Response body in plain text format. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used."
        },
        "startTime": {
          "type": "string",
          "description": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "format": "int64"
        },
        "responseBodyHtml": {
          "description": "Response body in HTML format. Gmail will sanitize the HTML before storing it. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used.",
          "type": "string"
        },
        "responseSubject": {
          "type": "string",
          "description": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty."
        },
        "restrictToContacts": {
          "type": "boolean",
          "description": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts."
        },
        "endTime": {
          "description": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "format": "int64",
          "type": "string"
        },
        "restrictToDomain": {
          "description": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for Google Workspace users.",
          "type": "boolean"
        }
      },
      "description": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface.",
      "id": "VacationSettings",
      "type": "object"
    },
    "ListCseKeyPairsResponse": {
      "id": "ListCseKeyPairsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be passed to a subsequent ListCseKeyPairs call in order to retrieve the next page of key pairs. If this value is not returned, then no further pages remain."
        },
        "cseKeyPairs": {
          "items": {
            "$ref": "CseKeyPair"
          },
          "description": "One page of the list of CSE key pairs installed for the user.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "AutoForwarding": {
      "description": "Auto-forwarding settings for an account.",
      "id": "AutoForwarding",
      "properties": {
        "disposition": {
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "description": "The state that a message should be left in after it has been forwarded.",
          "type": "string",
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ]
        },
        "emailAddress": {
          "description": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether all incoming mail is automatically forwarded to another address.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Thread": {
      "type": "object",
      "description": "A collection of messages representing a conversation.",
      "id": "Thread",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "The list of messages in the thread."
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID of the thread."
        },
        "historyId": {
          "format": "uint64",
          "description": "The ID of the last history record that modified this thread.",
          "type": "string"
        }
      }
    },
    "LanguageSettings": {
      "properties": {
        "displayLanguage": {
          "description": "The language to display Gmail in, formatted as an RFC 3066 Language Tag (for example `en-GB`, `fr` or `ja` for British English, French, or Japanese respectively). The set of languages supported by Gmail evolves over time, so please refer to the \"Language\" dropdown in the Gmail settings for all available options, as described in the language settings help article. A table of sample values is also provided in the Managing Language Settings guide Not all Gmail clients can display the same set of languages. In the case that a user's display language is not available for use on a particular client, said client automatically chooses to display in the closest supported variant (or a reasonable default).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Language settings for an account. These settings correspond to the \"Language settings\" feature in the web interface.",
      "id": "LanguageSettings"
    },
    "MessagePartHeader": {
      "id": "MessagePartHeader",
      "properties": {
        "name": {
          "description": "The name of the header before the `:` separator. For example, `To`.",
          "type": "string"
        },
        "value": {
          "description": "The value of the header after the `:` separator. For example, `someuser@example.com`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WatchResponse": {
      "properties": {
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "type": "string",
          "format": "uint64"
        },
        "expiration": {
          "type": "string",
          "format": "int64",
          "description": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call `watch` again before this time to renew the watch."
        }
      },
      "type": "object",
      "id": "WatchResponse",
      "description": "Push notification watch response."
    },
    "SmimeInfo": {
      "description": "An S/MIME email config.",
      "id": "SmimeInfo",
      "properties": {
        "pkcs12": {
          "description": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately.",
          "type": "string",
          "format": "byte"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether this SmimeInfo is the default one for this user's send-as address."
        },
        "id": {
          "type": "string",
          "description": "The immutable ID for the SmimeInfo."
        },
        "encryptedKeyPassword": {
          "type": "string",
          "description": "Encrypted key password, when key is encrypted."
        },
        "issuerCn": {
          "description": "The S/MIME certificate issuer's common name.",
          "type": "string"
        },
        "expiration": {
          "type": "string",
          "format": "int64",
          "description": "When the certificate expires (in milliseconds since epoch)."
        },
        "pem": {
          "description": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListHistoryResponse": {
      "type": "object",
      "properties": {
        "history": {
          "description": "List of history records. Any `messages` contained in the response will typically only have `id` and `threadId` fields populated.",
          "type": "array",
          "items": {
            "$ref": "History"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        },
        "historyId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the mailbox's current history record."
        }
      },
      "id": "ListHistoryResponse"
    },
    "History": {
      "type": "object",
      "description": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways.",
      "properties": {
        "labelsAdded": {
          "description": "Labels added to messages in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryLabelAdded"
          }
        },
        "messagesDeleted": {
          "items": {
            "$ref": "HistoryMessageDeleted"
          },
          "type": "array",
          "description": "Messages deleted (not Trashed) from the mailbox in this history record."
        },
        "id": {
          "type": "string",
          "format": "uint64",
          "description": "The mailbox sequence ID."
        },
        "messages": {
          "description": "List of messages changed in this history record. The fields for specific change types, such as `messagesAdded` may duplicate messages in this field. We recommend using the specific change-type fields instead of this.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "messagesAdded": {
          "type": "array",
          "description": "Messages added to the mailbox in this history record.",
          "items": {
            "$ref": "HistoryMessageAdded"
          }
        },
        "labelsRemoved": {
          "type": "array",
          "items": {
            "$ref": "HistoryLabelRemoved"
          },
          "description": "Labels removed from messages in this history record."
        }
      },
      "id": "History"
    },
    "Filter": {
      "description": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread.",
      "properties": {
        "criteria": {
          "description": "Matching criteria for the filter.",
          "$ref": "FilterCriteria"
        },
        "id": {
          "description": "The server assigned ID of the filter.",
          "type": "string"
        },
        "action": {
          "description": "Action that the filter performs.",
          "$ref": "FilterAction"
        }
      },
      "type": "object",
      "id": "Filter"
    },
    "Draft": {
      "description": "A draft email in the user's mailbox.",
      "id": "Draft",
      "properties": {
        "message": {
          "description": "The message content of the draft.",
          "$ref": "Message"
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.drafts.send"
            ]
          },
          "description": "The immutable ID of the draft."
        }
      },
      "type": "object"
    },
    "ListDraftsResponse": {
      "type": "object",
      "id": "ListDraftsResponse",
      "properties": {
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "type": "integer",
          "format": "uint32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results in the list."
        },
        "drafts": {
          "type": "array",
          "items": {
            "$ref": "Draft"
          },
          "description": "List of drafts. Note that the `Message` property in each `Draft` resource only contains an `id` and a `threadId`. The messages.get method can fetch additional message details."
        }
      }
    },
    "ListSendAsResponse": {
      "id": "ListSendAsResponse",
      "properties": {
        "sendAs": {
          "items": {
            "$ref": "SendAs"
          },
          "description": "List of send-as aliases.",
          "type": "array"
        }
      },
      "description": "Response for the ListSendAs method.",
      "type": "object"
    },
    "ListMessagesResponse": {
      "id": "ListMessagesResponse",
      "type": "object",
      "properties": {
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "format": "uint32",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results in the list."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "List of messages. Note that each message resource contains only an `id` and a `threadId`. Additional message details can be fetched using the messages.get method.",
          "type": "array"
        }
      }
    }
  },
  "baseUrl": "https://gmail.googleapis.com/",
  "title": "Gmail API",
  "revision": "20230403",
  "protocol": "rest",
  "basePath": "",
  "resources": {
    "users": {
      "resources": {
        "settings": {
          "methods": {
            "updatePop": {
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Updates POP settings.",
              "httpMethod": "PUT",
              "id": "gmail.users.settings.updatePop",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "PopSettings"
              },
              "request": {
                "$ref": "PopSettings"
              }
            },
            "getPop": {
              "parameters": {
                "userId": {
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                }
              },
              "description": "Gets POP settings.",
              "path": "gmail/v1/users/{userId}/settings/pop",
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "httpMethod": "GET",
              "id": "gmail.users.settings.getPop",
              "response": {
                "$ref": "PopSettings"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "updateVacation": {
              "description": "Updates vacation responder settings.",
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "request": {
                "$ref": "VacationSettings"
              },
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "response": {
                "$ref": "VacationSettings"
              },
              "id": "gmail.users.settings.updateVacation",
              "parameterOrder": [
                "userId"
              ]
            },
            "getVacation": {
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.getVacation",
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                }
              },
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets vacation responder settings.",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "response": {
                "$ref": "VacationSettings"
              },
              "httpMethod": "GET"
            },
            "getAutoForwarding": {
              "parameters": {
                "userId": {
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "AutoForwarding"
              },
              "httpMethod": "GET",
              "description": "Gets the auto-forwarding setting for the specified account.",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "id": "gmail.users.settings.getAutoForwarding"
            },
            "getLanguage": {
              "description": "Gets language settings.",
              "httpMethod": "GET",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "id": "gmail.users.settings.getLanguage",
              "path": "gmail/v1/users/{userId}/settings/language",
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "response": {
                "$ref": "LanguageSettings"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ]
            },
            "updateAutoForwarding": {
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                }
              },
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. This method is only available to service account clients that have been delegated domain-wide authority.",
              "request": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "httpMethod": "PUT",
              "response": {
                "$ref": "AutoForwarding"
              },
              "id": "gmail.users.settings.updateAutoForwarding",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ]
            },
            "updateImap": {
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/settings/imap",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.updateImap",
              "description": "Updates IMAP settings.",
              "request": {
                "$ref": "ImapSettings"
              },
              "response": {
                "$ref": "ImapSettings"
              }
            },
            "updateLanguage": {
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "response": {
                "$ref": "LanguageSettings"
              },
              "parameterOrder": [
                "userId"
              ],
              "description": "Updates language settings. If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
              "path": "gmail/v1/users/{userId}/settings/language",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "request": {
                "$ref": "LanguageSettings"
              },
              "id": "gmail.users.settings.updateLanguage",
              "httpMethod": "PUT"
            },
            "getImap": {
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Gets IMAP settings.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ImapSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/settings/imap",
              "id": "gmail.users.settings.getImap"
            }
          },
          "resources": {
            "delegates": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "httpMethod": "POST",
                  "description": "Adds a delegate with its verification status set directly to `accepted`, without sending any verification email. The delegate user must be a member of the same Google Workspace organization as the delegator user. Gmail imposes limitations on the number of delegates and delegators each user in a Google Workspace organization can have. These limits depend on your organization, but in general each user can have up to 25 delegates and up to 10 delegators. Note that a delegate user must be referred to by their primary email address, and not an email alias. Also note that when a new delegate is created, there may be up to a one minute delay before the new delegate is available for use. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "parameters": {
                    "userId": {
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path",
                      "default": "me",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Delegate"
                  },
                  "request": {
                    "$ref": "Delegate"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "id": "gmail.users.settings.delegates.create",
                  "parameterOrder": [
                    "userId"
                  ]
                },
                "get": {
                  "parameters": {
                    "delegateEmail": {
                      "location": "path",
                      "description": "The email address of the user whose delegate relationship is to be retrieved.",
                      "required": true,
                      "type": "string"
                    },
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Gets the specified delegate. Note that a delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "id": "gmail.users.settings.delegates.get",
                  "response": {
                    "$ref": "Delegate"
                  },
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "description": "Removes the specified delegate (which can be of any verification status), and revokes any verification that may have been required for using it. Note that a delegate user must be referred to by their primary email address, and not an email alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true
                    },
                    "delegateEmail": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The email address of the user to be removed as a delegate."
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "path": "gmail/v1/users/{userId}/settings/delegates/{delegateEmail}",
                  "httpMethod": "DELETE",
                  "id": "gmail.users.settings.delegates.delete",
                  "parameterOrder": [
                    "userId",
                    "delegateEmail"
                  ]
                },
                "list": {
                  "flatPath": "gmail/v1/users/{userId}/settings/delegates",
                  "path": "gmail/v1/users/{userId}/settings/delegates",
                  "response": {
                    "$ref": "ListDelegatesResponse"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                    }
                  },
                  "description": "Lists the delegates for the specified account. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "GET",
                  "id": "gmail.users.settings.delegates.list"
                }
              }
            },
            "sendAs": {
              "resources": {
                "smimeInfo": {
                  "methods": {
                    "list": {
                      "id": "gmail.users.settings.sendAs.smimeInfo.list",
                      "response": {
                        "$ref": "ListSmimeInfoResponse"
                      },
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "parameters": {
                        "userId": {
                          "type": "string",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "required": true,
                          "location": "path",
                          "default": "me"
                        },
                        "sendAsEmail": {
                          "type": "string",
                          "location": "path",
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "description": "Lists S/MIME configs for the specified send-as alias.",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ]
                    },
                    "setDefault": {
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault",
                      "description": "Sets the default S/MIME config for the specified send-as alias.",
                      "httpMethod": "POST",
                      "id": "gmail.users.settings.sendAs.smimeInfo.setDefault",
                      "parameters": {
                        "sendAsEmail": {
                          "type": "string",
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "required": true
                        },
                        "userId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "default": "me"
                        },
                        "id": {
                          "type": "string",
                          "location": "path",
                          "description": "The immutable ID for the SmimeInfo.",
                          "required": true
                        }
                      },
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault"
                    },
                    "insert": {
                      "id": "gmail.users.settings.sendAs.smimeInfo.insert",
                      "request": {
                        "$ref": "SmimeInfo"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "parameters": {
                        "userId": {
                          "required": true,
                          "location": "path",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "default": "me",
                          "type": "string"
                        },
                        "sendAsEmail": {
                          "type": "string",
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo",
                      "description": "Insert (upload) the given S/MIME config for the specified send-as alias. Note that pkcs12 format is required for the key."
                    },
                    "get": {
                      "parameters": {
                        "id": {
                          "description": "The immutable ID for the SmimeInfo.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "userId": {
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "default": "me"
                        },
                        "sendAsEmail": {
                          "location": "path",
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "gmail.users.settings.sendAs.smimeInfo.get",
                      "scopes": [
                        "https://mail.google.com/",
                        "https://www.googleapis.com/auth/gmail.modify",
                        "https://www.googleapis.com/auth/gmail.readonly",
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "description": "Gets the specified S/MIME config for the specified send-as alias.",
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "SmimeInfo"
                      },
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}"
                    },
                    "delete": {
                      "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "parameters": {
                        "userId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                          "default": "me"
                        },
                        "sendAsEmail": {
                          "description": "The email address that appears in the \"From:\" header for mail sent using this alias.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "id": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The immutable ID for the SmimeInfo."
                        }
                      },
                      "description": "Deletes the specified S/MIME config for the specified send-as alias.",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "id": "gmail.users.settings.sendAs.smimeInfo.delete",
                      "parameterOrder": [
                        "userId",
                        "sendAsEmail",
                        "id"
                      ],
                      "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}",
                      "httpMethod": "DELETE"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "parameterOrder": [
                    "userId"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/sendAs",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSendAsResponse"
                  },
                  "id": "gmail.users.settings.sendAs.list",
                  "description": "Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom \"from\" aliases.",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs"
                },
                "patch": {
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "id": "gmail.users.settings.sendAs.patch",
                  "description": "Patch the specified send-as alias.",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "request": {
                    "$ref": "SendAs"
                  },
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me"
                    },
                    "sendAsEmail": {
                      "location": "path",
                      "type": "string",
                      "description": "The send-as alias to be updated.",
                      "required": true
                    }
                  }
                },
                "update": {
                  "request": {
                    "$ref": "SendAs"
                  },
                  "id": "gmail.users.settings.sendAs.update",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "default": "me",
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "location": "path"
                    },
                    "sendAsEmail": {
                      "description": "The send-as alias to be updated.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "description": "Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ]
                },
                "get": {
                  "id": "gmail.users.settings.sendAs.get",
                  "description": "Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection.",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "response": {
                    "$ref": "SendAs"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "httpMethod": "GET",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "sendAsEmail": {
                      "description": "The send-as alias to be retrieved.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "verify": {
                  "description": "Sends a verification email to the specified send-as alias address. The verification status must be `pending`. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "default": "me"
                    },
                    "sendAsEmail": {
                      "description": "The send-as alias to be verified.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "gmail.users.settings.sendAs.verify",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me"
                    }
                  },
                  "request": {
                    "$ref": "SendAs"
                  },
                  "description": "Creates a custom \"from\" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "parameterOrder": [
                    "userId"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/sendAs",
                  "httpMethod": "POST",
                  "id": "gmail.users.settings.sendAs.create",
                  "response": {
                    "$ref": "SendAs"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified send-as alias. Revokes any verification that may have been required for using it. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "id": "gmail.users.settings.sendAs.delete",
                  "parameters": {
                    "sendAsEmail": {
                      "location": "path",
                      "type": "string",
                      "description": "The send-as alias to be deleted.",
                      "required": true
                    },
                    "userId": {
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "location": "path",
                      "default": "me"
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ]
                }
              }
            },
            "filters": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Filter"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "description": "Creates a filter. Note: you can only create a maximum of 1,000 filters.",
                  "id": "gmail.users.settings.filters.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "parameters": {
                    "userId": {
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "userId"
                  ],
                  "response": {
                    "$ref": "Filter"
                  }
                },
                "delete": {
                  "parameters": {
                    "id": {
                      "location": "path",
                      "description": "The ID of the filter to be deleted.",
                      "required": true,
                      "type": "string"
                    },
                    "userId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "id": "gmail.users.settings.filters.delete",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "description": "Immediately and permanently deletes the specified filter."
                },
                "get": {
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "id": {
                      "description": "The ID of the filter to be fetched.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
[...]
