{
  "canonicalName": "Gmail",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "name": "gmail",
  "id": "gmail:v1",
  "rootUrl": "https://gmail.googleapis.com/",
  "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        }
      }
    }
  },
  "title": "Gmail API",
  "ownerName": "Google",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "revision": "20230116",
  "batchPath": "batch",
  "basePath": "",
  "schemas": {
    "ListCseKeyPairsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be passed to a subsequent ListCseKeyPairs call in order to retrieve the next page of key pairs. If this value is not returned, then no further pages remain."
        },
        "cseKeyPairs": {
          "type": "array",
          "items": {
            "$ref": "CseKeyPair"
          },
          "description": "One page of the list of CSE key pairs installed for the user."
        }
      },
      "type": "object",
      "id": "ListCseKeyPairsResponse"
    },
    "ListThreadsResponse": {
      "id": "ListThreadsResponse",
      "type": "object",
      "properties": {
        "threads": {
          "items": {
            "$ref": "Thread"
          },
          "type": "array",
          "description": "List of threads. Note that each thread resource does not contain a list of `messages`. The list of `messages` for a given thread can be fetched using the threads.get method."
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "resultSizeEstimate": {
          "type": "integer",
          "description": "Estimated total number of results.",
          "format": "uint32"
        }
      }
    },
    "FilterCriteria": {
      "description": "Message matching criteria.",
      "properties": {
        "negatedQuery": {
          "type": "string",
          "description": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
        },
        "to": {
          "description": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive.",
          "type": "string"
        },
        "hasAttachment": {
          "type": "boolean",
          "description": "Whether the message has any attachment."
        },
        "subject": {
          "type": "string",
          "description": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed."
        },
        "query": {
          "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        },
        "from": {
          "type": "string",
          "description": "The sender's display name or email address."
        },
        "sizeComparison": {
          "type": "string",
          "enum": [
            "unspecified",
            "smaller",
            "larger"
          ],
          "enumDescriptions": [
            "",
            "Find messages smaller than the given size.",
            "Find messages larger than the given size."
          ],
          "description": "How the message size in bytes should be in relation to the size field."
        },
        "excludeChats": {
          "type": "boolean",
          "description": "Whether the response should exclude chats."
        },
        "size": {
          "description": "The size of the entire RFC822 message in bytes, including all headers and attachments.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "FilterCriteria"
    },
    "WatchRequest": {
      "properties": {
        "labelIds": {
          "items": {
            "type": "string"
          },
          "description": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated.",
          "type": "array"
        },
        "labelFilterAction": {
          "type": "string",
          "description": "Filtering behavior of labelIds list specified.",
          "enum": [
            "include",
            "exclude"
          ],
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ]
        },
        "topicName": {
          "type": "string",
          "description": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format). Note that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request)."
        }
      },
      "type": "object",
      "id": "WatchRequest",
      "description": "Set up or update a new push notification watch on this user's mailbox."
    },
    "VacationSettings": {
      "type": "object",
      "properties": {
        "responseSubject": {
          "type": "string",
          "description": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty."
        },
        "endTime": {
          "format": "int64",
          "type": "string",
          "description": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`."
        },
        "restrictToContacts": {
          "description": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts.",
          "type": "boolean"
        },
        "responseBodyPlainText": {
          "description": "Response body in plain text format. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "int64",
          "description": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`."
        },
        "restrictToDomain": {
          "type": "boolean",
          "description": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for G Suite users."
        },
        "responseBodyHtml": {
          "type": "string",
          "description": "Response body in HTML format. Gmail will sanitize the HTML before storing it. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used."
        },
        "enableAutoReply": {
          "description": "Flag that controls whether Gmail automatically replies to messages.",
          "type": "boolean"
        }
      },
      "id": "VacationSettings",
      "description": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface."
    },
    "KaclsKeyMetadata": {
      "type": "object",
      "description": "Metadata for private keys managed by an external key access control list service. For details about managing key access, see [Google Workspace CSE API Reference](https://developers.google.com/workspace/cse/reference).",
      "properties": {
        "kaclsData": {
          "type": "string",
          "description": "Opaque data generated and used by the key access control list service. Maximum size: 8 KiB."
        },
        "kaclsUri": {
          "description": "The URI of the key access control list service that manages the private key.",
          "type": "string"
        }
      },
      "id": "KaclsKeyMetadata"
    },
    "LanguageSettings": {
      "type": "object",
      "id": "LanguageSettings",
      "properties": {
        "displayLanguage": {
          "description": "The language to display Gmail in, formatted as an RFC 3066 Language Tag (for example `en-GB`, `fr` or `ja` for British English, French, or Japanese respectively). The set of languages supported by Gmail evolves over time, so please refer to the \"Language\" dropdown in the Gmail settings for all available options, as described in the language settings help article. A table of sample values is also provided in the Managing Language Settings guide Not all Gmail clients can display the same set of languages. In the case that a user's display language is not available for use on a particular client, said client automatically chooses to display in the closest supported variant (or a reasonable default).",
          "type": "string"
        }
      },
      "description": "Language settings for an account. These settings correspond to the \"Language settings\" feature in the web interface."
    },
    "ImapSettings": {
      "properties": {
        "maxFolderSize": {
          "description": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit.",
          "format": "int32",
          "type": "integer"
        },
        "autoExpunge": {
          "type": "boolean",
          "description": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted."
        },
        "expungeBehavior": {
          "description": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder.",
          "enum": [
            "expungeBehaviorUnspecified",
            "archive",
            "trash",
            "deleteForever"
          ],
          "enumDescriptions": [
            "Unspecified behavior.",
            "Archive messages marked as deleted.",
            "Move messages marked as deleted to the trash.",
            "Immediately and permanently delete messages marked as deleted. The expunged messages cannot be recovered."
          ],
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether IMAP is enabled for the account."
        }
      },
      "description": "IMAP settings for an account.",
      "type": "object",
      "id": "ImapSettings"
    },
    "HistoryLabelRemoved": {
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "description": "Label IDs removed from the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "HistoryLabelRemoved",
      "type": "object"
    },
    "CsePrivateKeyMetadata": {
      "id": "CsePrivateKeyMetadata",
      "properties": {
        "kaclsKeyMetadata": {
          "$ref": "KaclsKeyMetadata",
          "description": "Metadata for a private key instance managed by an external key access control list service."
        },
        "privateKeyMetadataId": {
          "readOnly": true,
          "description": "Output only. The immutable ID for the private key metadata instance.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for a private key instance."
    },
    "EnableCseKeyPairRequest": {
      "type": "object",
      "properties": {},
      "id": "EnableCseKeyPairRequest",
      "description": "Requests to turn on a client-side encryption key pair."
    },
    "Label": {
      "properties": {
        "threadsUnread": {
          "type": "integer",
          "format": "int32",
          "description": "The number of unread threads with the label."
        },
        "name": {
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string",
          "description": "The display name of the label."
        },
        "messageListVisibility": {
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "enumDescriptions": [
            "Show the label in the message list.",
            "Do not show the label in the message list."
          ],
          "enum": [
            "show",
            "hide"
          ],
          "description": "The visibility of messages with this label in the message list in the Gmail web interface."
        },
        "messagesTotal": {
          "type": "integer",
          "description": "The total number of messages with the label.",
          "format": "int32"
        },
        "type": {
          "description": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD` labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT` labels from messages or threads.",
          "type": "string",
          "enum": [
            "system",
            "user"
          ],
          "enumDescriptions": [
            "Labels created by Gmail.",
            "Custom labels created by the user or application."
          ]
        },
        "threadsTotal": {
          "description": "The total number of threads with the label.",
          "type": "integer",
          "format": "int32"
        },
        "labelListVisibility": {
          "description": "The visibility of the label in the label list in the Gmail web interface.",
          "enumDescriptions": [
            "Show the label in the label list.",
            "Show the label if there are any unread messages with that label.",
            "Do not show the label in the label list."
          ],
          "enum": [
            "labelShow",
            "labelShowIfUnread",
            "labelHide"
          ],
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string"
        },
        "messagesUnread": {
          "format": "int32",
          "description": "The number of unread messages with the label.",
          "type": "integer"
        },
        "id": {
          "type": "string",
          "description": "The immutable ID of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.update"
            ]
          }
        },
        "color": {
          "description": "The color to assign to the label. Color is only available for labels that have their `type` set to `user`.",
          "$ref": "LabelColor"
        }
      },
      "description": "Labels are used to categorize messages and threads within the user's mailbox. The maximum number of labels supported for a user's mailbox is 10,000.",
      "type": "object",
      "id": "Label"
    },
    "CseIdentity": {
      "type": "object",
      "description": "The client-side encryption (CSE) configuration for the email address of an authenticated user. Gmail uses CSE configurations to save drafts of client-side encrypted email messages, and to sign and send encrypted email messages.",
      "id": "CseIdentity",
      "properties": {
        "primaryKeyPairId": {
          "type": "string",
          "description": "If a key pair is associated, the identifier of the key pair, CseKeyPair."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address for the sending identity. The email address must be the primary email address of the authenticated user."
        }
      }
    },
    "DisableCseKeyPairRequest": {
      "description": "Requests to turn off a client-side encryption key pair.",
      "type": "object",
      "id": "DisableCseKeyPairRequest",
      "properties": {}
    },
    "ListLabelsResponse": {
      "type": "object",
      "id": "ListLabelsResponse",
      "properties": {
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "description": "List of labels. Note that each label resource only contains an `id`, `name`, `messageListVisibility`, `labelListVisibility`, and `type`. The labels.get method can fetch additional label details.",
          "type": "array"
        }
      }
    },
    "ObliterateCseKeyPairRequest": {
      "type": "object",
      "id": "ObliterateCseKeyPairRequest",
      "properties": {},
      "description": "Request to obliterate a CSE key pair."
    },
    "AutoForwarding": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether all incoming mail is automatically forwarded to another address."
        },
        "disposition": {
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "type": "string",
          "description": "The state that a message should be left in after it has been forwarded."
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses."
        }
      },
      "id": "AutoForwarding",
      "description": "Auto-forwarding settings for an account."
    },
    "MessagePartHeader": {
      "properties": {
        "name": {
          "description": "The name of the header before the `:` separator. For example, `To`.",
          "type": "string"
        },
        "value": {
          "description": "The value of the header after the `:` separator. For example, `someuser@example.com`.",
          "type": "string"
        }
      },
      "id": "MessagePartHeader",
      "type": "object"
    },
    "HistoryMessageDeleted": {
      "type": "object",
      "id": "HistoryMessageDeleted",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      }
    },
    "ModifyThreadRequest": {
      "id": "ModifyThreadRequest",
      "type": "object",
      "properties": {
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of IDs of labels to remove from this thread. You can remove up to 100 labels with each update."
        },
        "addLabelIds": {
          "description": "A list of IDs of labels to add to this thread. You can add up to 100 labels with each update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "HistoryLabelAdded": {
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "type": "array",
          "description": "Label IDs added to the message.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HistoryLabelAdded",
      "type": "object"
    },
    "MessagePartBody": {
      "description": "The body of a single MIME message part.",
      "type": "object",
      "properties": {
        "size": {
          "format": "int32",
          "type": "integer",
          "description": "Number of bytes for the message part data (encoding notwithstanding)."
        },
        "attachmentId": {
          "description": "When present, contains the ID of an external attachment that can be retrieved in a separate `messages.attachments.get` request. When not present, the entire content of the message part body is contained in the data field.",
          "type": "string"
        },
        "data": {
          "description": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "MessagePartBody"
    },
    "PopSettings": {
      "type": "object",
      "properties": {
        "accessWindow": {
          "enum": [
            "accessWindowUnspecified",
            "disabled",
            "fromNowOn",
            "allMail"
          ],
          "description": "The range of messages which are accessible via POP.",
          "enumDescriptions": [
            "Unspecified range.",
            "Indicates that no messages are accessible via POP.",
            "Indicates that unfetched messages received after some past point in time are accessible via POP.",
            "Indicates that all unfetched messages are accessible via POP."
          ],
          "type": "string"
        },
        "disposition": {
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "type": "string",
          "description": "The action that will be executed on a message after it has been fetched via POP."
        }
      },
      "description": "POP settings for an account.",
      "id": "PopSettings"
    },
    "Profile": {
      "properties": {
        "emailAddress": {
          "description": "The user's email address.",
          "type": "string"
        },
        "messagesTotal": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of messages in the mailbox."
        },
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        },
        "threadsTotal": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of threads in the mailbox."
        }
      },
      "description": "Profile for a Gmail user.",
      "type": "object",
      "id": "Profile"
    },
    "ListSmimeInfoResponse": {
      "type": "object",
      "properties": {
        "smimeInfo": {
          "description": "List of SmimeInfo.",
          "items": {
            "$ref": "SmimeInfo"
          },
          "type": "array"
        }
      },
      "id": "ListSmimeInfoResponse"
    },
    "FilterAction": {
      "description": "A set of actions to perform on a message.",
      "properties": {
        "forward": {
          "type": "string",
          "description": "Email address that the message should be forwarded to."
        },
        "addLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "List of labels to add to the message.",
          "type": "array"
        },
        "removeLabelIds": {
          "description": "List of labels to remove from the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "FilterAction"
    },
    "ForwardingAddress": {
      "id": "ForwardingAddress",
      "type": "object",
      "description": "Settings for a forwarding address.",
      "properties": {
        "verificationStatus": {
          "type": "string",
          "description": "Indicates whether this address has been verified and is usable for forwarding. Read-only.",
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use for forwarding.",
            "The address is awaiting verification by the owner."
          ]
        },
        "forwardingEmail": {
          "type": "string",
          "description": "An email address to which messages can be forwarded."
        }
      }
    },
    "ListDelegatesResponse": {
      "description": "Response for the ListDelegates method.",
      "type": "object",
      "properties": {
        "delegates": {
          "type": "array",
          "description": "List of the user's delegates (with any verification status). If an account doesn't have delegates, this field doesn't appear.",
          "items": {
            "$ref": "Delegate"
          }
        }
      },
      "id": "ListDelegatesResponse"
    },
    "ListHistoryResponse": {
      "properties": {
        "history": {
          "description": "List of history records. Any `messages` contained in the response will typically only have `id` and `threadId` fields populated.",
          "type": "array",
          "items": {
            "$ref": "History"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object",
      "id": "ListHistoryResponse"
    },
    "ListMessagesResponse": {
      "id": "ListMessagesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "List of messages. Note that each message resource contains only an `id` and a `threadId`. Additional message details can be fetched using the messages.get method."
        },
        "resultSizeEstimate": {
          "type": "integer",
          "description": "Estimated total number of results.",
          "format": "uint32"
        }
      }
    },
    "BatchModifyMessagesRequest": {
      "type": "object",
      "id": "BatchModifyMessagesRequest",
      "properties": {
        "removeLabelIds": {
          "description": "A list of label IDs to remove from messages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "description": "A list of label IDs to add to messages.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ids": {
          "type": "array",
          "description": "The IDs of the messages to modify. There is a limit of 1000 ids per request.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MessagePart": {
      "properties": {
        "filename": {
          "description": "The filename of the attachment. Only present if this message part represents an attachment.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "MessagePartHeader"
          },
          "description": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`."
        },
        "parts": {
          "items": {
            "$ref": "MessagePart"
          },
          "type": "array",
          "description": "The child MIME message parts of this part. This only applies to container MIME message parts, for example `multipart/*`. For non- container MIME message part types, such as `text/plain`, this field is empty. For more information, see RFC 1521."
        },
        "body": {
          "description": "The message part body for this part, which may be empty for container MIME message parts.",
          "$ref": "MessagePartBody"
        },
        "partId": {
          "type": "string",
          "description": "The immutable ID of the message part."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the message part."
        }
      },
      "type": "object",
      "description": "A single MIME message part.",
      "id": "MessagePart"
    },
    "Message": {
      "type": "object",
      "properties": {
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "raw": {
          "annotations": {
            "required": [
              "gmail.users.drafts.create",
              "gmail.users.drafts.update",
              "gmail.users.messages.insert",
              "gmail.users.messages.send"
            ]
          },
          "format": "byte",
          "type": "string",
          "description": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied."
        },
        "internalDate": {
          "description": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header.",
          "type": "string",
          "format": "int64"
        },
        "sizeEstimate": {
          "description": "Estimated size in bytes of the message.",
          "format": "int32",
          "type": "integer"
        },
        "historyId": {
          "description": "The ID of the last history record that modified this message.",
          "type": "string",
          "format": "uint64"
        },
        "threadId": {
          "description": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. ",
          "type": "string"
        },
        "labelIds": {
          "description": "List of IDs of labels applied to this message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "The immutable ID of the message."
        },
        "payload": {
          "description": "The parsed email structure in the message parts.",
          "$ref": "MessagePart"
        }
      },
      "description": "An email message.",
      "id": "Message"
    },
    "WatchResponse": {
      "type": "object",
      "description": "Push notification watch response.",
      "id": "WatchResponse",
      "properties": {
        "historyId": {
          "type": "string",
          "format": "uint64",
          "description": "The ID of the mailbox's current history record."
        },
        "expiration": {
          "description": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call `watch` again before this time to renew the watch.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListFiltersResponse": {
      "id": "ListFiltersResponse",
      "description": "Response for the ListFilters method.",
      "properties": {
        "filter": {
          "description": "List of a user's filters.",
          "items": {
            "$ref": "Filter"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SmimeInfo": {
      "properties": {
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "When the certificate expires (in milliseconds since epoch)."
        },
        "id": {
          "description": "The immutable ID for the SmimeInfo.",
          "type": "string"
        },
        "issuerCn": {
          "description": "The S/MIME certificate issuer's common name.",
          "type": "string"
        },
        "encryptedKeyPassword": {
          "description": "Encrypted key password, when key is encrypted.",
          "type": "string"
        },
        "pkcs12": {
          "type": "string",
          "format": "byte",
          "description": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately."
        },
        "pem": {
          "description": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key).",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether this SmimeInfo is the default one for this user's send-as address."
        }
      },
      "type": "object",
      "description": "An S/MIME email config.",
      "id": "SmimeInfo"
    },
    "ListSendAsResponse": {
      "description": "Response for the ListSendAs method.",
      "properties": {
        "sendAs": {
          "items": {
            "$ref": "SendAs"
          },
          "description": "List of send-as aliases.",
          "type": "array"
        }
      },
      "id": "ListSendAsResponse",
      "type": "object"
    },
    "Delegate": {
      "id": "Delegate",
      "description": "Settings for a delegate. Delegates can read, send, and delete messages, as well as view and add contacts, for the delegator's account. See \"Set up mail delegation\" for more information about delegates.",
      "type": "object",
      "properties": {
        "verificationStatus": {
          "description": "Indicates whether this address has been verified and can act as a delegate for the account. Read-only.",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address can act a delegate for the account.",
            "A verification request was mailed to the address, and the owner has not yet accepted it.",
            "A verification request was mailed to the address, and the owner rejected it.",
            "A verification request was mailed to the address, and it expired without verification."
          ],
          "type": "string",
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending",
            "rejected",
            "expired"
          ]
        },
        "delegateEmail": {
          "description": "The email address of the delegate.",
          "type": "string"
        }
      }
    },
    "SendAs": {
      "id": "SendAs",
      "type": "object",
      "properties": {
        "verificationStatus": {
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use as a send-as alias.",
            "The address is awaiting verification by the owner."
          ],
          "description": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases.",
          "type": "string",
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ]
        },
        "signature": {
          "type": "string",
          "description": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI. This signature is added to new emails only."
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is `true`. Changing this from `false` to `true` for an address will result in this field becoming `false` for the other previous default address."
        },
        "treatAsAlias": {
          "description": "Whether Gmail should treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases.",
          "type": "boolean"
        },
        "isPrimary": {
          "description": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only.",
          "type": "boolean"
        },
        "displayName": {
          "description": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account. If the admin has disabled the ability for users to update their name format, requests to update this field for the primary login will silently fail.",
          "type": "string"
        },
        "replyToAddress": {
          "type": "string",
          "description": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header."
        },
        "smtpMsa": {
          "description": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases.",
          "$ref": "SmtpMsa"
        },
        "sendAsEmail": {
          "description": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create.",
          "type": "string"
        }
      },
      "description": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface."
    },
    "ModifyMessageRequest": {
      "id": "ModifyMessageRequest",
      "type": "object",
      "properties": {
        "addLabelIds": {
          "type": "array",
          "description": "A list of IDs of labels to add to this message. You can add up to 100 labels with each update.",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "A list IDs of labels to remove from this message. You can remove up to 100 labels with each update.",
          "type": "array"
        }
      }
    },
    "History": {
      "description": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways.",
      "type": "object",
      "id": "History",
      "properties": {
        "labelsAdded": {
          "items": {
            "$ref": "HistoryLabelAdded"
          },
          "type": "array",
          "description": "Labels added to messages in this history record."
        },
        "labelsRemoved": {
          "items": {
            "$ref": "HistoryLabelRemoved"
          },
          "description": "Labels removed from messages in this history record.",
          "type": "array"
        },
        "id": {
          "description": "The mailbox sequence ID.",
          "type": "string",
          "format": "uint64"
        },
        "messagesDeleted": {
          "items": {
            "$ref": "HistoryMessageDeleted"
          },
          "description": "Messages deleted (not Trashed) from the mailbox in this history record.",
          "type": "array"
        },
        "messages": {
          "type": "array",
          "description": "List of messages changed in this history record. The fields for specific change types, such as `messagesAdded` may duplicate messages in this field. We recommend using the specific change-type fields instead of this.",
          "items": {
            "$ref": "Message"
          }
        },
        "messagesAdded": {
          "items": {
            "$ref": "HistoryMessageAdded"
          },
          "description": "Messages added to the mailbox in this history record.",
          "type": "array"
        }
      }
    },
    "ListCseIdentitiesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be passed to a subsequent ListCseIdentities call in order to retrieve the next page of identities. If this value is not returned or is the empty string, then no further pages remain."
        },
        "cseIdentities": {
          "description": "One page of the list of CSE identities configured for the user.",
          "items": {
            "$ref": "CseIdentity"
          },
          "type": "array"
        }
      },
      "id": "ListCseIdentitiesResponse"
    },
    "SmtpMsa": {
      "type": "object",
      "properties": {
        "host": {
          "description": "The hostname of the SMTP service. Required.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "port": {
          "type": "integer",
          "description": "The port of the SMTP service. Required.",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "securityMode": {
          "description": "The protocol that will be used to secure communication with the SMTP service. Required.",
          "enum": [
            "securityModeUnspecified",
            "none",
            "ssl",
            "starttls"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified security mode.",
            "Communication with the remote SMTP service is unsecured. Requires port 25.",
            "Communication with the remote SMTP service is secured using SSL.",
            "Communication with the remote SMTP service is secured using STARTTLS."
          ]
        }
      },
      "description": "Configuration for communication with an SMTP service.",
      "id": "SmtpMsa"
    },
    "BatchDeleteMessagesRequest": {
      "type": "object",
      "properties": {
        "ids": {
          "type": "array",
          "description": "The IDs of the messages to delete.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchDeleteMessagesRequest"
    },
    "HistoryMessageAdded": {
      "type": "object",
      "id": "HistoryMessageAdded",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      }
    },
    "ListDraftsResponse": {
      "id": "ListDraftsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results in the list."
        },
        "drafts": {
          "items": {
            "$ref": "Draft"
          },
          "type": "array",
          "description": "List of drafts. Note that the `Message` property in each `Draft` resource only contains an `id` and a `threadId`. The messages.get method can fetch additional message details."
        },
        "resultSizeEstimate": {
          "format": "uint32",
          "type": "integer",
          "description": "Estimated total number of results."
        }
      }
    },
    "ListForwardingAddressesResponse": {
      "properties": {
        "forwardingAddresses": {
          "items": {
            "$ref": "ForwardingAddress"
          },
          "description": "List of addresses that may be used for forwarding.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListForwardingAddressesResponse",
      "description": "Response for the ListForwardingAddresses method."
    },
    "LabelColor": {
      "properties": {
        "backgroundColor": {
          "description": "The background color represented as hex string #RRGGBB (ex #000000). This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765",
          "type": "string"
        },
        "textColor": {
          "description": "The text color of the label, represented as hex string. This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LabelColor"
    },
    "CseKeyPair": {
      "id": "CseKeyPair",
      "properties": {
        "keyPairId": {
          "type": "string",
          "description": "Output only. The immutable ID for the client-side encryption S/MIME key pair.",
          "readOnly": true
        },
        "pem": {
          "description": "Output only. The public key and its certificate chain, in [PEM](https://en.wikipedia.org/wiki/Privacy-Enhanced_Mail) format.",
          "readOnly": true,
          "type": "string"
        },
        "pkcs7": {
          "type": "string",
          "description": "Input only. The public key and its certificate chain. The chain must be in [PKCS#7](https://en.wikipedia.org/wiki/PKCS_7) format and use PEM encoding and ASCII armor."
        },
        "privateKeyMetadata": {
          "type": "array",
          "description": "Metadata for instances of this key pair's private key.",
          "items": {
            "$ref": "CsePrivateKeyMetadata"
          }
        },
        "enablementState": {
          "type": "string",
          "enumDescriptions": [
            "The current state of the key pair is not set. The key pair is neither turned on nor turned off.",
            "The key pair is turned on. For any email messages that this key pair encrypts, Gmail decrypts the messages and signs any outgoing mail with the private key. To turn on a key pair, use the EnableCseKeyPair method.",
            "The key pair is turned off. Authenticated users cannot decrypt email messages nor sign outgoing messages. If a key pair is turned off for more than 30 days, you can permanently delete it. To turn off a key pair, use the DisableCseKeyPair method."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the key pair.",
          "enum": [
            "stateUnspecified",
            "enabled",
            "disabled"
          ]
        },
        "disableTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If a key pair is set to `DISABLED`, the time that the key pair's state changed from `ENABLED` to `DISABLED`. This field is present only when the key pair is in state `DISABLED`.",
          "format": "google-datetime"
        },
        "subjectEmailAddresses": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The email address identities that are specified on the leaf certificate.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A client-side encryption S/MIME key pair, which is comprised of a public key, its certificate chain, and metadata for its paired private key. Gmail uses the key pair to complete the following tasks: - Sign outgoing client-side encrypted messages. - Save and reopen drafts of client-side encrypted messages. - Save and reopen sent messages. - Decrypt incoming or archived S/MIME messages.",
      "type": "object"
    },
    "Thread": {
      "properties": {
        "messages": {
          "description": "The list of messages in the thread.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "historyId": {
          "format": "uint64",
          "description": "The ID of the last history record that modified this thread.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of the thread.",
          "type": "string"
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        }
      },
      "description": "A collection of messages representing a conversation.",
      "id": "Thread",
      "type": "object"
    },
    "Filter": {
      "type": "object",
      "description": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread.",
      "properties": {
        "action": {
          "$ref": "FilterAction",
          "description": "Action that the filter performs."
        },
        "criteria": {
          "$ref": "FilterCriteria",
          "description": "Matching criteria for the filter."
        },
        "id": {
          "type": "string",
          "description": "The server assigned ID of the filter."
        }
      },
      "id": "Filter"
    },
    "Draft": {
      "type": "object",
      "description": "A draft email in the user's mailbox.",
      "properties": {
        "message": {
          "$ref": "Message",
          "description": "The message content of the draft."
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.drafts.send"
            ]
          },
          "description": "The immutable ID of the draft."
        }
      },
      "id": "Draft"
    }
  },
  "documentationLink": "https://developers.google.com/gmail/api/",
  "resources": {
    "users": {
      "methods": {
        "watch": {
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "response": {
            "$ref": "WatchResponse"
          },
          "description": "Set up or update a push notification watch on the given user mailbox.",
          "path": "gmail/v1/users/{userId}/watch",
          "httpMethod": "POST",
          "flatPath": "gmail/v1/users/{userId}/watch",
          "parameterOrder": [
            "userId"
          ],
          "request": {
            "$ref": "WatchRequest"
          },
          "parameters": {
            "userId": {
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "type": "string",
              "required": true,
              "location": "path",
              "default": "me"
            }
          },
          "id": "gmail.users.watch"
        },
        "getProfile": {
          "response": {
            "$ref": "Profile"
          },
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "id": "gmail.users.getProfile",
          "parameters": {
            "userId": {
              "default": "me",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
            }
          },
          "flatPath": "gmail/v1/users/{userId}/profile",
          "description": "Gets the current user's Gmail profile.",
          "path": "gmail/v1/users/{userId}/profile",
          "httpMethod": "GET"
        },
        "stop": {
          "parameterOrder": [
            "userId"
          ],
          "description": "Stop receiving push notifications for the given user mailbox.",
          "parameters": {
            "userId": {
              "type": "string",
              "default": "me",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "id": "gmail.users.stop",
          "flatPath": "gmail/v1/users/{userId}/stop",
          "httpMethod": "POST",
          "path": "gmail/v1/users/{userId}/stop"
        }
      },
      "resources": {
        "drafts": {
          "methods": {
            "list": {
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/drafts",
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists the drafts in the user's mailbox.",
              "id": "gmail.users.drafts.list",
              "parameters": {
                "includeSpamTrash": {
                  "default": "false",
                  "location": "query",
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "type": "boolean"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "type": "string"
                },
                "q": {
                  "location": "query",
                  "type": "string",
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token to retrieve a specific page of results in the list."
                },
                "maxResults": {
                  "location": "query",
                  "default": "100",
                  "type": "integer",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "format": "uint32"
                }
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "create": {
              "request": {
                "$ref": "Draft"
              },
              "path": "gmail/v1/users/{userId}/drafts",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "response": {
                "$ref": "Draft"
              },
              "id": "gmail.users.drafts.create",
              "parameterOrder": [
                "userId"
              ],
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts"
                  }
                },
                "maxSize": "36700160"
              },
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "description": "Creates a new draft with the `DRAFT` label.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "delete": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "id": {
                  "description": "The ID of the draft to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "userId": {
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "gmail.users.drafts.delete",
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it.",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "DELETE",
              "path": "gmail/v1/users/{userId}/drafts/{id}"
            },
            "get": {
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "id": "gmail.users.drafts.get",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                },
                "format": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "default": "full",
                  "description": "The format to return the draft in.",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ]
                },
                "id": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the draft to retrieve.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "description": "Gets the specified draft."
            },
            "send": {
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/drafts/send",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers.",
              "id": "gmail.users.drafts.send",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "simple": {
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send",
                    "multipart": true
                  }
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "request": {
                "$ref": "Draft"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "default": "me"
                }
              },
              "response": {
                "$ref": "Message"
              }
            },
            "update": {
              "request": {
                "$ref": "Draft"
              },
              "httpMethod": "PUT",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "supportsMediaUpload": true,
              "id": "gmail.users.drafts.update",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "required": true
                },
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the draft to update.",
                  "location": "path"
                }
              },
              "description": "Replaces a draft's content.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "mediaUpload": {
                "maxSize": "36700160",
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}",
                    "multipart": true
                  },
                  "simple": {
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}",
                    "multipart": true
                  }
                }
              },
              "path": "gmail/v1/users/{userId}/drafts/{id}"
            }
          }
        },
        "settings": {
          "methods": {
            "getVacation": {
              "parameters": {
                "userId": {
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "default": "me"
                }
              },
              "id": "gmail.users.settings.getVacation",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "httpMethod": "GET",
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "description": "Gets vacation responder settings.",
              "response": {
                "$ref": "VacationSettings"
              }
            },
            "updateVacation": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "VacationSettings"
              },
              "description": "Updates vacation responder settings.",
              "response": {
                "$ref": "VacationSettings"
              },
              "id": "gmail.users.settings.updateVacation",
              "flatPath": "gmail/v1/users/{userId}/settings/vacation",
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "path": "gmail/v1/users/{userId}/settings/vacation",
              "parameterOrder": [
                "userId"
              ]
            },
            "getImap": {
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "id": "gmail.users.settings.getImap",
              "flatPath": "gmail/v1/users/{userId}/settings/imap",
              "response": {
                "$ref": "ImapSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/imap",
              "parameters": {
                "userId": {
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "required": true,
                  "type": "string",
                  "default": "me"
                }
              },
              "description": "Gets IMAP settings.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ]
            },
            "updateLanguage": {
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "PUT",
              "description": "Updates language settings. If successful, the return object contains the `displayLanguage` that was saved for the user, which may differ from the value passed into the request. This is because the requested `displayLanguage` may not be directly supported by Gmail but have a close variant that is, and so the variant may be chosen and saved instead.",
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/settings/language",
              "flatPath": "gmail/v1/users/{userId}/settings/language",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "id": "gmail.users.settings.updateLanguage",
              "response": {
                "$ref": "LanguageSettings"
              },
              "request": {
                "$ref": "LanguageSettings"
              }
            },
            "getAutoForwarding": {
              "httpMethod": "GET",
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "AutoForwarding"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "default": "me",
                  "type": "string",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "description": "Gets the auto-forwarding setting for the specified account.",
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "id": "gmail.users.settings.getAutoForwarding",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding"
            },
            "updateImap": {
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string",
                  "default": "me"
                }
              },
              "id": "gmail.users.settings.updateImap",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "ImapSettings"
              },
              "path": "gmail/v1/users/{userId}/settings/imap",
              "request": {
                "$ref": "ImapSettings"
              },
              "description": "Updates IMAP settings.",
              "flatPath": "gmail/v1/users/{userId}/settings/imap"
            },
            "getLanguage": {
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.settings.getLanguage",
              "response": {
                "$ref": "LanguageSettings"
              },
              "parameters": {
                "userId": {
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "required": true
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "httpMethod": "GET",
              "description": "Gets language settings.",
              "path": "gmail/v1/users/{userId}/settings/language",
              "flatPath": "gmail/v1/users/{userId}/settings/language"
            },
            "updateAutoForwarding": {
              "path": "gmail/v1/users/{userId}/settings/autoForwarding",
              "response": {
                "$ref": "AutoForwarding"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.sharing"
              ],
              "id": "gmail.users.settings.updateAutoForwarding",
              "flatPath": "gmail/v1/users/{userId}/settings/autoForwarding",
              "description": "Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled. This method is only available to service account clients that have been delegated domain-wide authority.",
              "parameters": {
                "userId": {
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AutoForwarding"
              },
              "parameterOrder": [
                "userId"
              ]
            },
            "updatePop": {
              "response": {
                "$ref": "PopSettings"
              },
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "parameterOrder": [
                "userId"
              ],
              "description": "Updates POP settings.",
              "id": "gmail.users.settings.updatePop",
              "parameters": {
                "userId": {
                  "required": true,
                  "default": "me",
                  "location": "path",
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/settings/pop",
              "request": {
                "$ref": "PopSettings"
              }
            },
            "getPop": {
              "description": "Gets POP settings.",
              "id": "gmail.users.settings.getPop",
              "response": {
                "$ref": "PopSettings"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly",
                "https://www.googleapis.com/auth/gmail.settings.basic"
              ],
              "flatPath": "gmail/v1/users/{userId}/settings/pop",
              "parameters": {
                "userId": {
                  "location": "path",
                  "required": true,
                  "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                  "default": "me",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/settings/pop"
            }
          },
          "resources": {
            "filters": {
              "methods": {
                "create": {
                  "id": "gmail.users.settings.filters.create",
                  "response": {
                    "$ref": "Filter"
                  },
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "parameterOrder": [
                    "userId"
                  ],
                  "description": "Creates a filter. Note: you can only create a maximum of 1,000 filters.",
                  "request": {
                    "$ref": "Filter"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "httpMethod": "POST"
                },
                "get": {
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "response": {
                    "$ref": "Filter"
                  },
                  "description": "Gets a filter.",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "location": "path",
                      "default": "me",
                      "required": true
                    },
                    "id": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The ID of the filter to be fetched."
                    }
                  },
                  "id": "gmail.users.settings.filters.get",
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}"
                },
                "list": {
                  "description": "Lists the message filters of a Gmail user.",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "gmail.users.settings.filters.list",
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "response": {
                    "$ref": "ListFiltersResponse"
                  },
                  "parameterOrder": [
                    "userId"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/filters"
                },
                "delete": {
                  "parameters": {
                    "id": {
                      "description": "The ID of the filter to be deleted.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "userId": {
                      "default": "me",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                    }
                  },
                  "description": "Immediately and permanently deletes the specified filter.",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "id": "gmail.users.settings.filters.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ]
                }
              }
            },
            "forwardingAddresses": {
              "methods": {
                "list": {
                  "id": "gmail.users.settings.forwardingAddresses.list",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "default": "me",
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameterOrder": [
                    "userId"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "description": "Lists the forwarding addresses for the specified account.",
                  "response": {
                    "$ref": "ListForwardingAddressesResponse"
                  }
                },
                "create": {
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "default": "me"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameterOrder": [
                    "userId"
                  ],
                  "request": {
                    "$ref": "ForwardingAddress"
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "response": {
                    "$ref": "ForwardingAddress"
                  },
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "id": "gmail.users.settings.forwardingAddresses.create",
                  "description": "Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "POST"
                },
                "get": {
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "forwardingEmail": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The forwarding address to be retrieved."
                    },
                    "userId": {
                      "location": "path",
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "id": "gmail.users.settings.forwardingAddresses.get",
                  "httpMethod": "GET",
                  "description": "Gets the specified forwarding address.",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "response": {
                    "$ref": "ForwardingAddress"
                  }
                },
                "delete": {
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameters": {
                    "forwardingEmail": {
                      "required": true,
                      "type": "string",
                      "description": "The forwarding address to be deleted.",
                      "location": "path"
                    },
                    "userId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "gmail.users.settings.forwardingAddresses.delete",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "description": "Deletes the specified forwarding address and revokes any verification that may have been required. This method is only available to service account clients that have been delegated domain-wide authority."
                }
              }
            },
            "cse": {
              "resources": {
                "identities": {
                  "methods": {
                    "patch": {
                      "parameters": {
                        "emailAddress": {
                          "description": "The email address of the client-side encryption identity to update.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "userId": {
                          "type": "string",
                          "description": "The requester's primary email address. To indicate the authenticated user, you can use the special value `me`.",
                          "location": "path",
                          "required": true,
                          "default": "me"
                        }
                      },
                      "request": {
                        "$ref": "CseIdentity"
                      },
                      "path": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "userId",
                        "emailAddress"
                      ],
                      "id": "gmail.users.settings.cse.identities.patch",
                      "description": "Associates a different key pair with an existing client-side encryption identity. The updated key pair must validate against Google's [S/MIME certificate profiles](https://support.google.com/a/answer/7300887).",
                      "scopes": [
                        "https://www.googleapis.com/auth/gmail.settings.basic",
                        "https://www.googleapis.com/auth/gmail.settings.sharing"
                      ],
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}",
                      "response": {
                        "$ref": "CseIdentity"
                      }
                    },
                    "delete": {
                      "description": "Deletes a client-side encryption identity. The authenticated user can no longer use the identity to send encrypted messages. You cannot restore the identity after you delete it. Instead, use the CreateCseIdentity method to create another identity with the same configuration.",
                      "flatPath": "gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}",
                      "parameterOrder": [
                        "userId",
                        "cseEmailAddress"
                      ],
                      "parameters": {
                        "cseEmailAddress": {
                          "type": "string",
[...]
