{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20230612",
  "ownerName": "Google",
  "title": "Gmail API",
  "protocol": "rest",
  "name": "gmail",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "rootUrl": "https://gmail.googleapis.com/",
  "baseUrl": "https://gmail.googleapis.com/",
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "id": "gmail:v1",
  "documentationLink": "https://developers.google.com/gmail/api/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        }
      }
    }
  },
  "canonicalName": "Gmail",
  "version": "v1",
  "schemas": {
    "Thread": {
      "id": "Thread",
      "properties": {
        "historyId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the last history record that modified this thread."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "The list of messages in the thread."
        },
        "id": {
          "type": "string",
          "description": "The unique ID of the thread."
        },
        "snippet": {
          "type": "string",
          "description": "A short part of the message text."
        }
      },
      "description": "A collection of messages representing a conversation.",
      "type": "object"
    },
    "SendAs": {
      "properties": {
        "smtpMsa": {
          "description": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases.",
          "$ref": "SmtpMsa"
        },
        "sendAsEmail": {
          "type": "string",
          "description": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create."
        },
        "treatAsAlias": {
          "type": "boolean",
          "description": "Whether Gmail should treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases."
        },
        "isDefault": {
          "description": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is `true`. Changing this from `false` to `true` for an address will result in this field becoming `false` for the other previous default address.",
          "type": "boolean"
        },
        "replyToAddress": {
          "description": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header.",
          "type": "string"
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only."
        },
        "verificationStatus": {
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use as a send-as alias.",
            "The address is awaiting verification by the owner."
          ],
          "description": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases.",
          "type": "string"
        },
        "signature": {
          "description": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI. This signature is added to new emails only.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account. If the admin has disabled the ability for users to update their name format, requests to update this field for the primary login will silently fail."
        }
      },
      "description": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface.",
      "id": "SendAs",
      "type": "object"
    },
    "History": {
      "type": "object",
      "properties": {
        "labelsRemoved": {
          "items": {
            "$ref": "HistoryLabelRemoved"
          },
          "description": "Labels removed from messages in this history record.",
          "type": "array"
        },
        "id": {
          "description": "The mailbox sequence ID.",
          "type": "string",
          "format": "uint64"
        },
        "labelsAdded": {
          "description": "Labels added to messages in this history record.",
          "items": {
            "$ref": "HistoryLabelAdded"
          },
          "type": "array"
        },
        "messagesDeleted": {
          "description": "Messages deleted (not Trashed) from the mailbox in this history record.",
          "items": {
            "$ref": "HistoryMessageDeleted"
          },
          "type": "array"
        },
        "messagesAdded": {
          "type": "array",
          "description": "Messages added to the mailbox in this history record.",
          "items": {
            "$ref": "HistoryMessageAdded"
          }
        },
        "messages": {
          "description": "List of messages changed in this history record. The fields for specific change types, such as `messagesAdded` may duplicate messages in this field. We recommend using the specific change-type fields instead of this.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        }
      },
      "id": "History",
      "description": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways."
    },
    "ImapSettings": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether IMAP is enabled for the account.",
          "type": "boolean"
        },
        "autoExpunge": {
          "type": "boolean",
          "description": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted."
        },
        "expungeBehavior": {
          "description": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder.",
          "enumDescriptions": [
            "Unspecified behavior.",
            "Archive messages marked as deleted.",
            "Move messages marked as deleted to the trash.",
            "Immediately and permanently delete messages marked as deleted. The expunged messages cannot be recovered."
          ],
          "type": "string",
          "enum": [
            "expungeBehaviorUnspecified",
            "archive",
            "trash",
            "deleteForever"
          ]
        },
        "maxFolderSize": {
          "description": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "IMAP settings for an account.",
      "id": "ImapSettings"
    },
    "ListCseKeyPairsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be passed to a subsequent ListCseKeyPairs call in order to retrieve the next page of key pairs. If this value is not returned, then no further pages remain."
        },
        "cseKeyPairs": {
          "items": {
            "$ref": "CseKeyPair"
          },
          "description": "One page of the list of CSE key pairs installed for the user.",
          "type": "array"
        }
      },
      "id": "ListCseKeyPairsResponse"
    },
    "ObliterateCseKeyPairRequest": {
      "description": "Request to obliterate a CSE key pair.",
      "id": "ObliterateCseKeyPairRequest",
      "properties": {},
      "type": "object"
    },
    "ListFiltersResponse": {
      "properties": {
        "filter": {
          "description": "List of a user's filters.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        }
      },
      "type": "object",
      "id": "ListFiltersResponse",
      "description": "Response for the ListFilters method."
    },
    "HistoryLabelAdded": {
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "description": "Label IDs added to the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HistoryLabelAdded",
      "type": "object"
    },
    "CseIdentity": {
      "properties": {
        "emailAddress": {
          "description": "The email address for the sending identity. The email address must be the primary email address of the authenticated user.",
          "type": "string"
        },
        "primaryKeyPairId": {
          "type": "string",
          "description": "If a key pair is associated, the ID of the key pair, CseKeyPair."
        }
      },
      "type": "object",
      "description": "The client-side encryption (CSE) configuration for the email address of an authenticated user. Gmail uses CSE configurations to save drafts of client-side encrypted email messages, and to sign and send encrypted email messages.",
      "id": "CseIdentity"
    },
    "CsePrivateKeyMetadata": {
      "type": "object",
      "description": "Metadata for a private key instance.",
      "id": "CsePrivateKeyMetadata",
      "properties": {
        "privateKeyMetadataId": {
          "type": "string",
          "description": "Output only. The immutable ID for the private key metadata instance.",
          "readOnly": true
        },
        "kaclsKeyMetadata": {
          "$ref": "KaclsKeyMetadata",
          "description": "Metadata for a private key instance managed by an external key access control list service."
        }
      }
    },
    "HistoryMessageDeleted": {
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object",
      "id": "HistoryMessageDeleted"
    },
    "WatchResponse": {
      "description": "Push notification watch response.",
      "properties": {
        "expiration": {
          "format": "int64",
          "description": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call `watch` again before this time to renew the watch.",
          "type": "string"
        },
        "historyId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the mailbox's current history record."
        }
      },
      "id": "WatchResponse",
      "type": "object"
    },
    "Label": {
      "type": "object",
      "properties": {
        "threadsTotal": {
          "description": "The total number of threads with the label.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.labels.update"
            ]
          },
          "description": "The immutable ID of the label."
        },
        "labelListVisibility": {
          "enum": [
            "labelShow",
            "labelShowIfUnread",
            "labelHide"
          ],
          "type": "string",
          "enumDescriptions": [
            "Show the label in the label list.",
            "Show the label if there are any unread messages with that label.",
            "Do not show the label in the label list."
          ],
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "description": "The visibility of the label in the label list in the Gmail web interface."
        },
        "messagesUnread": {
          "format": "int32",
          "description": "The number of unread messages with the label.",
          "type": "integer"
        },
        "messageListVisibility": {
          "description": "The visibility of messages with this label in the message list in the Gmail web interface.",
          "enum": [
            "show",
            "hide"
          ],
          "enumDescriptions": [
            "Show the label in the message list.",
            "Do not show the label in the message list."
          ],
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The display name of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          }
        },
        "threadsUnread": {
          "description": "The number of unread threads with the label.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "Labels created by Gmail.",
            "Custom labels created by the user or application."
          ],
          "enum": [
            "system",
            "user"
          ],
          "type": "string",
          "description": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD` labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT` labels from messages or threads."
        },
        "color": {
          "$ref": "LabelColor",
          "description": "The color to assign to the label. Color is only available for labels that have their `type` set to `user`."
        },
        "messagesTotal": {
          "description": "The total number of messages with the label.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Label",
      "description": "Labels are used to categorize messages and threads within the user's mailbox. The maximum number of labels supported for a user's mailbox is 10,000."
    },
    "FilterAction": {
      "properties": {
        "addLabelIds": {
          "description": "List of labels to add to the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of labels to remove from the message."
        },
        "forward": {
          "type": "string",
          "description": "Email address that the message should be forwarded to."
        }
      },
      "type": "object",
      "id": "FilterAction",
      "description": "A set of actions to perform on a message."
    },
    "ListCseIdentitiesResponse": {
      "type": "object",
      "properties": {
        "cseIdentities": {
          "description": "One page of the list of CSE identities configured for the user.",
          "type": "array",
          "items": {
            "$ref": "CseIdentity"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be passed to a subsequent ListCseIdentities call in order to retrieve the next page of identities. If this value is not returned or is the empty string, then no further pages remain.",
          "type": "string"
        }
      },
      "id": "ListCseIdentitiesResponse"
    },
    "ListHistoryResponse": {
      "properties": {
        "historyId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the mailbox's current history record."
        },
        "history": {
          "items": {
            "$ref": "History"
          },
          "description": "List of history records. Any `messages` contained in the response will typically only have `id` and `threadId` fields populated.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "id": "ListHistoryResponse",
      "type": "object"
    },
    "ModifyMessageRequest": {
      "id": "ModifyMessageRequest",
      "type": "object",
      "properties": {
        "addLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of IDs of labels to add to this message. You can add up to 100 labels with each update.",
          "type": "array"
        },
        "removeLabelIds": {
          "description": "A list IDs of labels to remove from this message. You can remove up to 100 labels with each update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListMessagesResponse": {
      "type": "object",
      "id": "ListMessagesResponse",
      "properties": {
        "resultSizeEstimate": {
          "type": "integer",
          "format": "uint32",
          "description": "Estimated total number of results."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "List of messages. Note that each message resource contains only an `id` and a `threadId`. Additional message details can be fetched using the messages.get method."
        }
      }
    },
    "HistoryLabelRemoved": {
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "description": "Label IDs removed from the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "HistoryLabelRemoved"
    },
    "MessagePartBody": {
      "id": "MessagePartBody",
      "type": "object",
      "description": "The body of a single MIME message part.",
      "properties": {
        "attachmentId": {
          "description": "When present, contains the ID of an external attachment that can be retrieved in a separate `messages.attachments.get` request. When not present, the entire content of the message part body is contained in the data field.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment."
        },
        "size": {
          "type": "integer",
          "description": "Number of bytes for the message part data (encoding notwithstanding).",
          "format": "int32"
        }
      }
    },
    "FilterCriteria": {
      "description": "Message matching criteria.",
      "type": "object",
      "id": "FilterCriteria",
      "properties": {
        "hasAttachment": {
          "description": "Whether the message has any attachment.",
          "type": "boolean"
        },
        "to": {
          "type": "string",
          "description": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive."
        },
        "query": {
          "type": "string",
          "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
        },
        "sizeComparison": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Find messages smaller than the given size.",
            "Find messages larger than the given size."
          ],
          "enum": [
            "unspecified",
            "smaller",
            "larger"
          ],
          "description": "How the message size in bytes should be in relation to the size field."
        },
        "size": {
          "type": "integer",
          "format": "int32",
          "description": "The size of the entire RFC822 message in bytes, including all headers and attachments."
        },
        "negatedQuery": {
          "description": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed."
        },
        "excludeChats": {
          "description": "Whether the response should exclude chats.",
          "type": "boolean"
        },
        "from": {
          "description": "The sender's display name or email address.",
          "type": "string"
        }
      }
    },
    "ListLabelsResponse": {
      "properties": {
        "labels": {
          "description": "List of labels. Note that each label resource only contains an `id`, `name`, `messageListVisibility`, `labelListVisibility`, and `type`. The labels.get method can fetch additional label details.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        }
      },
      "id": "ListLabelsResponse",
      "type": "object"
    },
    "ForwardingAddress": {
      "type": "object",
      "properties": {
        "verificationStatus": {
          "description": "Indicates whether this address has been verified and is usable for forwarding. Read-only.",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use for forwarding.",
            "The address is awaiting verification by the owner."
          ],
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "type": "string"
        },
        "forwardingEmail": {
          "type": "string",
          "description": "An email address to which messages can be forwarded."
        }
      },
      "id": "ForwardingAddress",
      "description": "Settings for a forwarding address."
    },
    "DisableCseKeyPairRequest": {
      "properties": {},
      "id": "DisableCseKeyPairRequest",
      "description": "Requests to turn off a client-side encryption key pair.",
      "type": "object"
    },
    "LabelColor": {
      "properties": {
        "backgroundColor": {
          "type": "string",
          "description": "The background color represented as hex string #RRGGBB (ex #000000). This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765"
        },
        "textColor": {
          "type": "string",
          "description": "The text color of the label, represented as hex string. This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765"
        }
      },
      "id": "LabelColor",
      "type": "object"
    },
    "SmimeInfo": {
      "properties": {
        "issuerCn": {
          "type": "string",
          "description": "The S/MIME certificate issuer's common name."
        },
        "pem": {
          "description": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key).",
          "type": "string"
        },
        "expiration": {
          "description": "When the certificate expires (in milliseconds since epoch).",
          "format": "int64",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether this SmimeInfo is the default one for this user's send-as address."
        },
        "pkcs12": {
          "format": "byte",
          "type": "string",
          "description": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately."
        },
        "id": {
          "description": "The immutable ID for the SmimeInfo.",
          "type": "string"
        },
        "encryptedKeyPassword": {
          "type": "string",
          "description": "Encrypted key password, when key is encrypted."
        }
      },
      "type": "object",
      "description": "An S/MIME email config.",
      "id": "SmimeInfo"
    },
    "HistoryMessageAdded": {
      "id": "HistoryMessageAdded",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "BatchDeleteMessagesRequest": {
      "id": "BatchDeleteMessagesRequest",
      "type": "object",
      "properties": {
        "ids": {
          "type": "array",
          "description": "The IDs of the messages to delete.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CseKeyPair": {
      "type": "object",
      "properties": {
        "subjectEmailAddresses": {
          "type": "array",
          "description": "Output only. The email address identities that are specified on the leaf certificate.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "enablementState": {
          "description": "Output only. The current state of the key pair.",
          "readOnly": true,
          "enum": [
            "stateUnspecified",
            "enabled",
            "disabled"
          ],
          "enumDescriptions": [
            "The current state of the key pair is not set. The key pair is neither turned on nor turned off.",
            "The key pair is turned on. For any email messages that this key pair encrypts, Gmail decrypts the messages and signs any outgoing mail with the private key. To turn on a key pair, use the EnableCseKeyPair method.",
            "The key pair is turned off. Authenticated users cannot decrypt email messages nor sign outgoing messages. If a key pair is turned off for more than 30 days, you can permanently delete it. To turn off a key pair, use the DisableCseKeyPair method."
          ],
          "type": "string"
        },
        "keyPairId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The immutable ID for the client-side encryption S/MIME key pair."
        },
        "disableTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. If a key pair is set to `DISABLED`, the time that the key pair's state changed from `ENABLED` to `DISABLED`. This field is present only when the key pair is in state `DISABLED`."
        },
        "privateKeyMetadata": {
          "type": "array",
          "description": "Metadata for instances of this key pair's private key.",
          "items": {
            "$ref": "CsePrivateKeyMetadata"
          }
        },
        "pem": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The public key and its certificate chain, in [PEM](https://en.wikipedia.org/wiki/Privacy-Enhanced_Mail) format."
        },
        "pkcs7": {
          "description": "Input only. The public key and its certificate chain. The chain must be in [PKCS#7](https://en.wikipedia.org/wiki/PKCS_7) format and use PEM encoding and ASCII armor.",
          "type": "string"
        }
      },
      "description": "A client-side encryption S/MIME key pair, which is comprised of a public key, its certificate chain, and metadata for its paired private key. Gmail uses the key pair to complete the following tasks: - Sign outgoing client-side encrypted messages. - Save and reopen drafts of client-side encrypted messages. - Save and reopen sent messages. - Decrypt incoming or archived S/MIME messages.",
      "id": "CseKeyPair"
    },
    "WatchRequest": {
      "properties": {
        "labelFilterAction": {
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "description": "Filtering behavior of labelIds list specified.",
          "enum": [
            "include",
            "exclude"
          ],
          "type": "string"
        },
        "topicName": {
          "type": "string",
          "description": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format). Note that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request)."
        },
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated."
        },
        "labelFilterBehavior": {
          "description": "Filtering behavior of labelIds list specified. This field replaces label_filter_action; if set, label_filter_action is ignored.",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "enum": [
            "include",
            "exclude"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Set up or update a new push notification watch on this user's mailbox.",
      "id": "WatchRequest"
    },
    "Profile": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "The user's email address.",
          "type": "string"
        },
        "threadsTotal": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of threads in the mailbox."
        },
        "messagesTotal": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of messages in the mailbox."
        },
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "Profile for a Gmail user.",
      "id": "Profile"
    },
    "ListForwardingAddressesResponse": {
      "description": "Response for the ListForwardingAddresses method.",
      "id": "ListForwardingAddressesResponse",
      "type": "object",
      "properties": {
        "forwardingAddresses": {
          "description": "List of addresses that may be used for forwarding.",
          "items": {
            "$ref": "ForwardingAddress"
          },
          "type": "array"
        }
      }
    },
    "ModifyThreadRequest": {
      "type": "object",
      "properties": {
        "removeLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of IDs of labels to remove from this thread. You can remove up to 100 labels with each update."
        },
        "addLabelIds": {
          "description": "A list of IDs of labels to add to this thread. You can add up to 100 labels with each update.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ModifyThreadRequest"
    },
    "Draft": {
      "properties": {
        "message": {
          "$ref": "Message",
          "description": "The message content of the draft."
        },
        "id": {
          "annotations": {
            "required": [
              "gmail.users.drafts.send"
            ]
          },
          "description": "The immutable ID of the draft.",
          "type": "string"
        }
      },
      "description": "A draft email in the user's mailbox.",
      "id": "Draft",
      "type": "object"
    },
    "EnableCseKeyPairRequest": {
      "properties": {},
      "id": "EnableCseKeyPairRequest",
      "description": "Requests to turn on a client-side encryption key pair.",
      "type": "object"
    },
    "Filter": {
      "properties": {
        "criteria": {
          "description": "Matching criteria for the filter.",
          "$ref": "FilterCriteria"
        },
        "action": {
          "description": "Action that the filter performs.",
          "$ref": "FilterAction"
        },
        "id": {
          "description": "The server assigned ID of the filter.",
          "type": "string"
        }
      },
      "description": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread.",
      "type": "object",
      "id": "Filter"
    },
    "MessagePartHeader": {
      "type": "object",
      "id": "MessagePartHeader",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the header before the `:` separator. For example, `To`."
        },
        "value": {
          "description": "The value of the header after the `:` separator. For example, `someuser@example.com`.",
          "type": "string"
        }
      }
    },
    "AutoForwarding": {
      "type": "object",
      "id": "AutoForwarding",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses."
        },
        "disposition": {
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "description": "The state that a message should be left in after it has been forwarded.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ]
        },
        "enabled": {
          "description": "Whether all incoming mail is automatically forwarded to another address.",
          "type": "boolean"
        }
      },
      "description": "Auto-forwarding settings for an account."
    },
    "PopSettings": {
      "description": "POP settings for an account.",
      "id": "PopSettings",
      "properties": {
        "accessWindow": {
          "enumDescriptions": [
            "Unspecified range.",
            "Indicates that no messages are accessible via POP.",
            "Indicates that unfetched messages received after some past point in time are accessible via POP.",
            "Indicates that all unfetched messages are accessible via POP."
          ],
          "type": "string",
          "description": "The range of messages which are accessible via POP.",
          "enum": [
            "accessWindowUnspecified",
            "disabled",
            "fromNowOn",
            "allMail"
          ]
        },
        "disposition": {
          "description": "The action that will be executed on a message after it has been fetched via POP.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ]
        }
      },
      "type": "object"
    },
    "BatchModifyMessagesRequest": {
      "id": "BatchModifyMessagesRequest",
      "type": "object",
      "properties": {
        "addLabelIds": {
          "description": "A list of label IDs to add to messages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removeLabelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of label IDs to remove from messages."
        },
        "ids": {
          "description": "The IDs of the messages to modify. There is a limit of 1000 ids per request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListSmimeInfoResponse": {
      "type": "object",
      "id": "ListSmimeInfoResponse",
      "properties": {
        "smimeInfo": {
          "items": {
            "$ref": "SmimeInfo"
          },
          "type": "array",
          "description": "List of SmimeInfo."
        }
      }
    },
    "VacationSettings": {
      "id": "VacationSettings",
      "properties": {
        "responseBodyPlainText": {
          "type": "string",
          "description": "Response body in plain text format. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used."
        },
        "restrictToDomain": {
          "description": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for Google Workspace users.",
          "type": "boolean"
        },
        "responseBodyHtml": {
          "description": "Response body in HTML format. Gmail will sanitize the HTML before storing it. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used.",
          "type": "string"
        },
        "endTime": {
          "format": "int64",
          "type": "string",
          "description": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`."
        },
        "restrictToContacts": {
          "description": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts.",
          "type": "boolean"
        },
        "enableAutoReply": {
          "description": "Flag that controls whether Gmail automatically replies to messages.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "description": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "format": "int64"
        },
        "responseSubject": {
          "type": "string",
          "description": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty."
        }
      },
      "description": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface.",
      "type": "object"
    },
    "ListDraftsResponse": {
      "id": "ListDraftsResponse",
      "properties": {
        "drafts": {
          "type": "array",
          "description": "List of drafts. Note that the `Message` property in each `Draft` resource only contains an `id` and a `threadId`. The messages.get method can fetch additional message details.",
          "items": {
            "$ref": "Draft"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results in the list."
        },
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "type": "object"
    },
    "ListThreadsResponse": {
      "id": "ListThreadsResponse",
      "properties": {
        "threads": {
          "items": {
            "$ref": "Thread"
          },
          "type": "array",
          "description": "List of threads. Note that each thread resource does not contain a list of `messages`. The list of `messages` for a given thread can be fetched using the threads.get method."
        },
        "resultSizeEstimate": {
          "format": "uint32",
          "description": "Estimated total number of results.",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        }
      },
      "type": "object"
    },
    "MessagePart": {
      "properties": {
        "partId": {
          "type": "string",
          "description": "The immutable ID of the message part."
        },
        "parts": {
          "type": "array",
          "description": "The child MIME message parts of this part. This only applies to container MIME message parts, for example `multipart/*`. For non- container MIME message part types, such as `text/plain`, this field is empty. For more information, see RFC 1521.",
          "items": {
            "$ref": "MessagePart"
          }
        },
        "filename": {
          "description": "The filename of the attachment. Only present if this message part represents an attachment.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "description": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`.",
          "items": {
            "$ref": "MessagePartHeader"
          }
        },
        "mimeType": {
          "description": "The MIME type of the message part.",
          "type": "string"
        },
        "body": {
          "$ref": "MessagePartBody",
          "description": "The message part body for this part, which may be empty for container MIME message parts."
        }
      },
      "description": "A single MIME message part.",
      "id": "MessagePart",
      "type": "object"
    },
    "Delegate": {
      "id": "Delegate",
      "properties": {
        "delegateEmail": {
          "type": "string",
          "description": "The email address of the delegate."
        },
        "verificationStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address can act a delegate for the account.",
            "A verification request was mailed to the address, and the owner has not yet accepted it.",
            "A verification request was mailed to the address, and the owner rejected it.",
            "A verification request was mailed to the address, and it expired without verification."
          ],
          "description": "Indicates whether this address has been verified and can act as a delegate for the account. Read-only.",
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending",
            "rejected",
            "expired"
          ]
        }
      },
      "type": "object",
      "description": "Settings for a delegate. Delegates can read, send, and delete messages, as well as view and add contacts, for the delegator's account. See \"Set up mail delegation\" for more information about delegates."
    },
    "SmtpMsa": {
      "properties": {
        "host": {
          "type": "string",
          "description": "The hostname of the SMTP service. Required."
        },
        "password": {
          "type": "string",
          "description": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "securityMode": {
          "enum": [
            "securityModeUnspecified",
            "none",
            "ssl",
            "starttls"
          ],
          "description": "The protocol that will be used to secure communication with the SMTP service. Required.",
          "enumDescriptions": [
            "Unspecified security mode.",
            "Communication with the remote SMTP service is unsecured. Requires port 25.",
            "Communication with the remote SMTP service is secured using SSL.",
            "Communication with the remote SMTP service is secured using STARTTLS."
          ],
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "The port of the SMTP service. Required.",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        }
      },
      "id": "SmtpMsa",
      "description": "Configuration for communication with an SMTP service.",
      "type": "object"
    },
    "ListSendAsResponse": {
      "type": "object",
      "properties": {
        "sendAs": {
          "type": "array",
          "description": "List of send-as aliases.",
          "items": {
            "$ref": "SendAs"
          }
        }
      },
      "description": "Response for the ListSendAs method.",
      "id": "ListSendAsResponse"
    },
    "LanguageSettings": {
      "id": "LanguageSettings",
      "properties": {
        "displayLanguage": {
          "description": "The language to display Gmail in, formatted as an RFC 3066 Language Tag (for example `en-GB`, `fr` or `ja` for British English, French, or Japanese respectively). The set of languages supported by Gmail evolves over time, so please refer to the \"Language\" dropdown in the Gmail settings for all available options, as described in the language settings help article. A table of sample values is also provided in the Managing Language Settings guide Not all Gmail clients can display the same set of languages. In the case that a user's display language is not available for use on a particular client, said client automatically chooses to display in the closest supported variant (or a reasonable default).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Language settings for an account. These settings correspond to the \"Language settings\" feature in the web interface."
    },
    "KaclsKeyMetadata": {
      "type": "object",
      "id": "KaclsKeyMetadata",
      "properties": {
        "kaclsData": {
          "description": "Opaque data generated and used by the key access control list service. Maximum size: 8 KiB.",
          "type": "string"
        },
        "kaclsUri": {
          "description": "The URI of the key access control list service that manages the private key.",
          "type": "string"
        }
      },
      "description": "Metadata for private keys managed by an external key access control list service. For details about managing key access, see [Google Workspace CSE API Reference](https://developers.google.com/workspace/cse/reference)."
    },
    "ListDelegatesResponse": {
      "properties": {
        "delegates": {
          "description": "List of the user's delegates (with any verification status). If an account doesn't have delegates, this field doesn't appear.",
          "type": "array",
          "items": {
            "$ref": "Delegate"
          }
        }
      },
      "id": "ListDelegatesResponse",
      "description": "Response for the ListDelegates method.",
      "type": "object"
    },
    "Message": {
      "properties": {
        "sizeEstimate": {
          "type": "integer",
          "format": "int32",
          "description": "Estimated size in bytes of the message."
        },
        "internalDate": {
          "type": "string",
          "format": "int64",
          "description": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header."
        },
        "threadId": {
          "description": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. ",
          "type": "string"
        },
        "snippet": {
          "type": "string",
          "description": "A short part of the message text."
        },
        "id": {
          "type": "string",
          "description": "The immutable ID of the message."
        },
        "payload": {
          "$ref": "MessagePart",
          "description": "The parsed email structure in the message parts."
        },
        "labelIds": {
          "items": {
            "type": "string"
          },
          "description": "List of IDs of labels applied to this message.",
          "type": "array"
        },
        "raw": {
          "type": "string",
          "description": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied.",
          "annotations": {
            "required": [
              "gmail.users.drafts.create",
              "gmail.users.drafts.update",
              "gmail.users.messages.insert",
              "gmail.users.messages.send"
            ]
          },
          "format": "byte"
        },
        "historyId": {
          "type": "string",
          "description": "The ID of the last history record that modified this message.",
          "format": "uint64"
        }
      },
      "description": "An email message.",
      "id": "Message",
      "type": "object"
    }
  },
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "resources": {
    "users": {
      "methods": {
        "watch": {
          "httpMethod": "POST",
          "response": {
            "$ref": "WatchResponse"
          },
          "id": "gmail.users.watch",
          "parameters": {
            "userId": {
              "location": "path",
              "default": "me",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "gmail/v1/users/{userId}/watch",
          "description": "Set up or update a push notification watch on the given user mailbox.",
          "path": "gmail/v1/users/{userId}/watch",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "parameterOrder": [
            "userId"
          ],
          "request": {
            "$ref": "WatchRequest"
          }
        },
        "getProfile": {
          "id": "gmail.users.getProfile",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.compose",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "userId": {
              "type": "string",
              "default": "me",
              "location": "path",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "required": true
            }
          },
          "path": "gmail/v1/users/{userId}/profile",
          "parameterOrder": [
            "userId"
          ],
          "description": "Gets the current user's Gmail profile.",
          "response": {
            "$ref": "Profile"
          },
          "flatPath": "gmail/v1/users/{userId}/profile"
        },
        "stop": {
          "flatPath": "gmail/v1/users/{userId}/stop",
          "httpMethod": "POST",
          "scopes": [
            "https://mail.google.com/",
            "https://www.googleapis.com/auth/gmail.metadata",
            "https://www.googleapis.com/auth/gmail.modify",
            "https://www.googleapis.com/auth/gmail.readonly"
          ],
          "description": "Stop receiving push notifications for the given user mailbox.",
          "path": "gmail/v1/users/{userId}/stop",
          "id": "gmail.users.stop",
          "parameterOrder": [
            "userId"
          ],
          "parameters": {
            "userId": {
              "required": true,
              "default": "me",
              "type": "string",
              "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "history": {
          "methods": {
            "list": {
              "parameters": {
                "maxResults": {
                  "location": "query",
                  "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "default": "100",
                  "format": "uint32",
                  "type": "integer"
                },
                "historyTypes": {
                  "enum": [
                    "messageAdded",
                    "messageDeleted",
                    "labelAdded",
                    "labelRemoved"
                  ],
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    ""
                  ],
                  "location": "query",
                  "description": "History types to be returned by the function"
                },
                "startHistoryId": {
                  "format": "uint64",
                  "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
                  "location": "query",
                  "type": "string"
                },
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "labelId": {
                  "location": "query",
                  "type": "string",
                  "description": "Only return messages with a label matching the ID."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`).",
              "parameterOrder": [
                "userId"
              ],
              "path": "gmail/v1/users/{userId}/history",
              "id": "gmail.users.history.list",
              "response": {
                "$ref": "ListHistoryResponse"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "flatPath": "gmail/v1/users/{userId}/history"
            }
          }
        },
        "messages": {
          "methods": {
            "untrash": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.untrash",
              "description": "Removes the specified message from the trash.",
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/messages/{id}/untrash",
              "parameters": {
                "id": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the message to remove from Trash.",
                  "type": "string"
                },
                "userId": {
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              }
            },
            "get": {
              "flatPath": "gmail/v1/users/{userId}/messages/{id}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.messages.get",
              "parameters": {
                "metadataHeaders": {
                  "type": "string",
                  "description": "When given and format is `METADATA`, only include headers specified.",
                  "repeated": true,
                  "location": "query"
                },
                "format": {
                  "type": "string",
                  "location": "query",
                  "description": "The format to return the message in.",
                  "default": "full",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ],
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ]
                },
                "id": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the message to retrieve. This ID is usually retrieved using `messages.list`. The ID is also contained in the result when a message is inserted (`messages.insert`) or imported (`messages.import`).",
                  "location": "path"
                },
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Gets the specified message.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                "https://www.googleapis.com/auth/gmail.addons.current.message.metadata",
                "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "modify": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/messages/{id}/modify",
              "httpMethod": "POST",
              "parameters": {
                "id": {
                  "description": "The ID of the message to modify.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "userId": {
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me"
                }
              },
              "description": "Modifies the labels on the specified message.",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/modify",
              "request": {
                "$ref": "ModifyMessageRequest"
              },
              "id": "gmail.users.messages.modify",
              "response": {
                "$ref": "Message"
              }
            },
            "batchDelete": {
              "path": "gmail/v1/users/{userId}/messages/batchDelete",
              "flatPath": "gmail/v1/users/{userId}/messages/batchDelete",
              "httpMethod": "POST",
              "description": "Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.",
              "id": "gmail.users.messages.batchDelete",
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "required": true
                }
              },
              "scopes": [
                "https://mail.google.com/"
              ],
              "request": {
                "$ref": "BatchDeleteMessagesRequest"
              }
            },
            "trash": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/messages/{id}/trash",
              "id": "gmail.users.messages.trash",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "id": {
                  "location": "path",
                  "description": "The ID of the message to Trash.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "description": "Moves the specified message to the trash.",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}/trash",
              "response": {
                "$ref": "Message"
              }
            },
            "list": {
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "ListMessagesResponse"
              },
              "id": "gmail.users.messages.list",
              "parameters": {
                "q": {
                  "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`. Parameter cannot be used when accessing the api using the gmail.metadata scope.",
                  "type": "string",
                  "location": "query"
                },
                "includeSpamTrash": {
                  "default": "false",
                  "location": "query",
                  "type": "boolean",
                  "description": "Include messages from `SPAM` and `TRASH` in the results."
                },
                "userId": {
                  "location": "path",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "type": "integer",
                  "default": "100",
                  "description": "Maximum number of messages to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "format": "uint32",
                  "location": "query"
                },
                "labelIds": {
                  "type": "string",
                  "description": "Only return messages with labels that match all of the specified label IDs. Messages in a thread might have labels that other messages in the same thread don't have. To learn more, see [Manage labels on messages and threads](https://developers.google.com/gmail/api/guides/labels#manage_labels_on_messages_threads).",
                  "repeated": true,
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "path": "gmail/v1/users/{userId}/messages",
              "description": "Lists the messages in the user's mailbox.",
              "flatPath": "gmail/v1/users/{userId}/messages"
            },
            "batchModify": {
              "id": "gmail.users.messages.batchModify",
              "request": {
                "$ref": "BatchModifyMessagesRequest"
              },
              "description": "Modifies the labels on the specified messages.",
              "path": "gmail/v1/users/{userId}/messages/batchModify",
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/messages/batchModify",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId"
              ]
            },
            "delete": {
              "parameters": {
                "id": {
                  "description": "The ID of the message to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "userId": {
                  "default": "me",
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "path": "gmail/v1/users/{userId}/messages/{id}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/"
              ],
              "description": "Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer `messages.trash` instead.",
              "id": "gmail.users.messages.delete",
              "flatPath": "gmail/v1/users/{userId}/messages/{id}"
            },
            "import": {
              "description": "Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. This method doesn't perform SPF checks, so it might not work for some spam messages, such as those attempting to perform domain spoofing. This method does not send a message.",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Message"
              },
              "parameters": {
                "neverMarkSpam": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.",
                  "default": "false"
                },
                "userId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me"
                },
                "processForCalendar": {
                  "description": "Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.",
                  "type": "boolean",
                  "location": "query",
                  "default": "false"
                },
                "deleted": {
                  "default": "false",
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "type": "boolean",
                  "location": "query"
                },
                "internalDateSource": {
                  "description": "Source for Gmail's internal date of the message.",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "default": "dateHeader",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "gmail/v1/users/{userId}/messages/import",
              "mediaUpload": {
                "maxSize": "52428800",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages/import"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/import"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "supportsMediaUpload": true,
              "flatPath": "gmail/v1/users/{userId}/messages/import",
              "id": "gmail.users.messages.import",
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "Message"
              }
            },
            "insert": {
              "path": "gmail/v1/users/{userId}/messages",
              "description": "Directly inserts a message into only this user's mailbox similar to `IMAP APPEND`, bypassing most scanning and classification. Does not send a message.",
              "httpMethod": "POST",
              "id": "gmail.users.messages.insert",
              "parameterOrder": [
                "userId"
              ],
              "supportsMediaUpload": true,
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/messages"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages"
                  }
                },
                "maxSize": "52428800",
                "accept": [
                  "message/*"
                ]
              },
              "response": {
                "$ref": "Message"
              },
              "flatPath": "gmail/v1/users/{userId}/messages",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.insert",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "request": {
                "$ref": "Message"
              },
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "deleted": {
                  "type": "boolean",
                  "description": "Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for Google Workspace accounts.",
                  "default": "false",
                  "location": "query"
                },
                "internalDateSource": {
                  "location": "query",
                  "description": "Source for Gmail's internal date of the message.",
                  "enum": [
                    "receivedTime",
                    "dateHeader"
                  ],
                  "default": "receivedTime",
                  "enumDescriptions": [
                    "Internal message date set to current time when received by Gmail.",
                    "Internal message time based on 'Date' header in email, when valid."
                  ],
                  "type": "string"
                }
              }
            },
            "send": {
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "simple": {
                    "path": "/upload/gmail/v1/users/{userId}/messages/send",
                    "multipart": true
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/messages/send"
                  }
                },
                "maxSize": "36700160"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.send"
              ],
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "id": "gmail.users.messages.send",
              "parameterOrder": [
                "userId"
              ],
              "supportsMediaUpload": true,
              "request": {
                "$ref": "Message"
              },
              "response": {
                "$ref": "Message"
              },
              "flatPath": "gmail/v1/users/{userId}/messages/send",
              "description": "Sends the specified message to the recipients in the `To`, `Cc`, and `Bcc` headers. For example usage, see [Sending email](https://developers.google.com/gmail/api/guides/sending).",
              "httpMethod": "POST",
              "path": "gmail/v1/users/{userId}/messages/send"
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "response": {
                    "$ref": "MessagePartBody"
                  },
                  "parameters": {
                    "id": {
                      "description": "The ID of the attachment.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "userId": {
                      "location": "path",
                      "required": true,
                      "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                      "default": "me",
                      "type": "string"
                    },
                    "messageId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the message containing the attachment."
                    }
                  },
                  "id": "gmail.users.messages.attachments.get",
                  "path": "gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}",
                  "description": "Gets the specified message attachment.",
                  "parameterOrder": [
                    "userId",
                    "messageId",
                    "id"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.action",
                    "https://www.googleapis.com/auth/gmail.addons.current.message.readonly",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly"
                  ]
                }
              }
            }
          }
        },
        "drafts": {
          "methods": {
            "list": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "parameters": {
                "q": {
                  "location": "query",
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
                  "type": "string"
                },
                "userId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "maxResults": {
                  "type": "integer",
                  "location": "query",
                  "format": "uint32",
                  "default": "100",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "location": "query"
                },
                "includeSpamTrash": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "location": "query"
                }
              },
              "path": "gmail/v1/users/{userId}/drafts",
              "id": "gmail.users.drafts.list",
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "GET",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "description": "Lists the drafts in the user's mailbox."
            },
            "delete": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "parameters": {
                "id": {
                  "description": "The ID of the draft to delete.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "userId": {
                  "type": "string",
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it.",
              "id": "gmail.users.drafts.delete"
            },
            "update": {
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              },
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                  },
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}",
                    "multipart": true
                  }
                }
              },
              "id": "gmail.users.drafts.update",
              "request": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId",
                "id"
              ],
              "supportsMediaUpload": true,
              "description": "Replaces a draft's content.",
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "location": "path",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the draft to update."
                }
              },
              "httpMethod": "PUT"
            },
            "create": {
              "parameterOrder": [
                "userId"
              ],
              "id": "gmail.users.drafts.create",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "response": {
                "$ref": "Draft"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "path": "gmail/v1/users/{userId}/drafts",
              "httpMethod": "POST",
              "request": {
                "$ref": "Draft"
              },
              "supportsMediaUpload": true,
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  }
                },
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160"
              },
              "description": "Creates a new draft with the `DRAFT` label.",
              "parameters": {
                "userId": {
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              }
            },
            "send": {
              "mediaUpload": {
                "maxSize": "36700160",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                },
                "accept": [
                  "message/*"
                ]
              },
              "supportsMediaUpload": true,
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId"
              ],
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers.",
              "flatPath": "gmail/v1/users/{userId}/drafts/send",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "default": "me"
                }
              },
              "path": "gmail/v1/users/{userId}/drafts/send",
              "httpMethod": "POST",
              "response": {
                "$ref": "Message"
              },
              "id": "gmail.users.drafts.send",
              "request": {
                "$ref": "Draft"
              }
            },
            "get": {
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
[...]
