{
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "version": "v1",
  "canonicalName": "Gmail",
  "description": "The Gmail API lets you view and manage Gmail mailbox data like threads, messages, and labels.",
  "revision": "20230626",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Gmail API",
  "mtlsRootUrl": "https://gmail.mtls.googleapis.com/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/gmail/api/",
  "schemas": {
    "ListHistoryResponse": {
      "properties": {
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "format": "uint64",
          "type": "string"
        },
        "history": {
          "type": "array",
          "description": "List of history records. Any `messages` contained in the response will typically only have `id` and `threadId` fields populated.",
          "items": {
            "$ref": "History"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListHistoryResponse"
    },
    "ImapSettings": {
      "type": "object",
      "id": "ImapSettings",
      "description": "IMAP settings for an account.",
      "properties": {
        "maxFolderSize": {
          "description": "An optional limit on the number of messages that an IMAP folder may contain. Legal values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean that there is no limit.",
          "format": "int32",
          "type": "integer"
        },
        "expungeBehavior": {
          "enum": [
            "expungeBehaviorUnspecified",
            "archive",
            "trash",
            "deleteForever"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified behavior.",
            "Archive messages marked as deleted.",
            "Move messages marked as deleted to the trash.",
            "Immediately and permanently delete messages marked as deleted. The expunged messages cannot be recovered."
          ],
          "description": "The action that will be executed on a message when it is marked as deleted and expunged from the last visible IMAP folder."
        },
        "autoExpunge": {
          "description": "If this value is true, Gmail will immediately expunge a message when it is marked as deleted in IMAP. Otherwise, Gmail will wait for an update from the client before expunging messages marked as deleted.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether IMAP is enabled for the account.",
          "type": "boolean"
        }
      }
    },
    "LabelColor": {
      "properties": {
        "backgroundColor": {
          "type": "string",
          "description": "The background color represented as hex string #RRGGBB (ex #000000). This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765"
        },
        "textColor": {
          "type": "string",
          "description": "The text color of the label, represented as hex string. This field is required in order to set the color of a label. Only the following predefined set of color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587, #41236d, #83334c \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765"
        }
      },
      "type": "object",
      "id": "LabelColor"
    },
    "SmimeInfo": {
      "description": "An S/MIME email config.",
      "id": "SmimeInfo",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The immutable ID for the SmimeInfo."
        },
        "pkcs12": {
          "type": "string",
          "description": "PKCS#12 format containing a single private/public key pair and certificate chain. This format is only accepted from client for creating a new SmimeInfo and is never returned, because the private key is not intended to be exported. PKCS#12 may be encrypted, in which case encryptedKeyPassword should be set appropriately.",
          "format": "byte"
        },
        "issuerCn": {
          "description": "The S/MIME certificate issuer's common name.",
          "type": "string"
        },
        "encryptedKeyPassword": {
          "description": "Encrypted key password, when key is encrypted.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether this SmimeInfo is the default one for this user's send-as address."
        },
        "expiration": {
          "description": "When the certificate expires (in milliseconds since epoch).",
          "type": "string",
          "format": "int64"
        },
        "pem": {
          "description": "PEM formatted X509 concatenated certificate string (standard base64 encoding). Format used for returning key, which includes public key as well as certificate chain (not private key).",
          "type": "string"
        }
      }
    },
    "SendAs": {
      "description": "Settings associated with a send-as alias, which can be either the primary login address associated with the account or a custom \"from\" address. Send-as aliases correspond to the \"Send Mail As\" feature in the web interface.",
      "id": "SendAs",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A name that appears in the \"From:\" header for mail sent using this alias. For custom \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header with the name that is used for the primary address associated with the account. If the admin has disabled the ability for users to update their name format, requests to update this field for the primary login will silently fail."
        },
        "signature": {
          "type": "string",
          "description": "An optional HTML signature that is included in messages composed with this alias in the Gmail web UI. This signature is added to new emails only."
        },
        "smtpMsa": {
          "description": "An optional SMTP service that will be used as an outbound relay for mail sent using this alias. If this is empty, outbound mail will be sent directly from Gmail's servers to the destination SMTP service. This setting only applies to custom \"from\" aliases.",
          "$ref": "SmtpMsa"
        },
        "verificationStatus": {
          "description": "Indicates whether this address has been verified for use as a send-as alias. Read-only. This setting only applies to custom \"from\" aliases.",
          "type": "string",
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use as a send-as alias.",
            "The address is awaiting verification by the owner."
          ]
        },
        "isDefault": {
          "description": "Whether this address is selected as the default \"From:\" address in situations such as composing a new message or sending a vacation auto-reply. Every Gmail account has exactly one default send-as address, so the only legal value that clients may write to this field is `true`. Changing this from `false` to `true` for an address will result in this field becoming `false` for the other previous default address.",
          "type": "boolean"
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Whether this address is the primary address used to login to the account. Every Gmail account has exactly one primary address, and it cannot be deleted from the collection of send-as aliases. This field is read-only."
        },
        "treatAsAlias": {
          "description": "Whether Gmail should treat this address as an alias for the user's primary email address. This setting only applies to custom \"from\" aliases.",
          "type": "boolean"
        },
        "replyToAddress": {
          "description": "An optional email address that is included in a \"Reply-To:\" header for mail sent using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header.",
          "type": "string"
        },
        "sendAsEmail": {
          "description": "The email address that appears in the \"From:\" header for mail sent using this alias. This is read-only for all operations except create.",
          "type": "string"
        }
      }
    },
    "CsePrivateKeyMetadata": {
      "type": "object",
      "properties": {
        "privateKeyMetadataId": {
          "type": "string",
          "description": "Output only. The immutable ID for the private key metadata instance.",
          "readOnly": true
        },
        "kaclsKeyMetadata": {
          "description": "Metadata for a private key instance managed by an external key access control list service.",
          "$ref": "KaclsKeyMetadata"
        }
      },
      "description": "Metadata for a private key instance.",
      "id": "CsePrivateKeyMetadata"
    },
    "ListSendAsResponse": {
      "type": "object",
      "properties": {
        "sendAs": {
          "type": "array",
          "items": {
            "$ref": "SendAs"
          },
          "description": "List of send-as aliases."
        }
      },
      "description": "Response for the ListSendAs method.",
      "id": "ListSendAsResponse"
    },
    "History": {
      "description": "A record of a change to the user's mailbox. Each history change may affect multiple messages in multiple ways.",
      "id": "History",
      "properties": {
        "labelsRemoved": {
          "items": {
            "$ref": "HistoryLabelRemoved"
          },
          "type": "array",
          "description": "Labels removed from messages in this history record."
        },
        "messagesAdded": {
          "type": "array",
          "description": "Messages added to the mailbox in this history record.",
          "items": {
            "$ref": "HistoryMessageAdded"
          }
        },
        "messagesDeleted": {
          "type": "array",
          "description": "Messages deleted (not Trashed) from the mailbox in this history record.",
          "items": {
            "$ref": "HistoryMessageDeleted"
          }
        },
        "id": {
          "type": "string",
          "description": "The mailbox sequence ID.",
          "format": "uint64"
        },
        "labelsAdded": {
          "description": "Labels added to messages in this history record.",
          "type": "array",
          "items": {
            "$ref": "HistoryLabelAdded"
          }
        },
        "messages": {
          "description": "List of messages changed in this history record. The fields for specific change types, such as `messagesAdded` may duplicate messages in this field. We recommend using the specific change-type fields instead of this.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        }
      },
      "type": "object"
    },
    "VacationSettings": {
      "properties": {
        "responseBodyPlainText": {
          "type": "string",
          "description": "Response body in plain text format. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used."
        },
        "responseBodyHtml": {
          "type": "string",
          "description": "Response body in HTML format. Gmail will sanitize the HTML before storing it. If both `response_body_plain_text` and `response_body_html` are specified, `response_body_html` will be used."
        },
        "startTime": {
          "description": "An optional start time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives after the start time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.",
          "format": "int64",
          "type": "string"
        },
        "restrictToDomain": {
          "description": "Flag that determines whether responses are sent to recipients who are outside of the user's domain. This feature is only available for Google Workspace users.",
          "type": "boolean"
        },
        "restrictToContacts": {
          "description": "Flag that determines whether responses are sent to recipients who are not in the user's list of contacts.",
          "type": "boolean"
        },
        "responseSubject": {
          "type": "string",
          "description": "Optional text to prepend to the subject line in vacation responses. In order to enable auto-replies, either the response subject or the response body must be nonempty."
        },
        "enableAutoReply": {
          "type": "boolean",
          "description": "Flag that controls whether Gmail automatically replies to messages."
        },
        "endTime": {
          "format": "int64",
          "type": "string",
          "description": "An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail will automatically reply only to messages that it receives before the end time. If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`."
        }
      },
      "description": "Vacation auto-reply settings for an account. These settings correspond to the \"Vacation responder\" feature in the web interface.",
      "id": "VacationSettings",
      "type": "object"
    },
    "ObliterateCseKeyPairRequest": {
      "type": "object",
      "properties": {},
      "id": "ObliterateCseKeyPairRequest",
      "description": "Request to obliterate a CSE key pair."
    },
    "ListCseIdentitiesResponse": {
      "type": "object",
      "id": "ListCseIdentitiesResponse",
      "properties": {
        "cseIdentities": {
          "items": {
            "$ref": "CseIdentity"
          },
          "type": "array",
          "description": "One page of the list of CSE identities configured for the user."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be passed to a subsequent ListCseIdentities call in order to retrieve the next page of identities. If this value is not returned or is the empty string, then no further pages remain."
        }
      }
    },
    "CseIdentity": {
      "id": "CseIdentity",
      "properties": {
        "primaryKeyPairId": {
          "type": "string",
          "description": "If a key pair is associated, the ID of the key pair, CseKeyPair."
        },
        "emailAddress": {
          "description": "The email address for the sending identity. The email address must be the primary email address of the authenticated user.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The client-side encryption (CSE) configuration for the email address of an authenticated user. Gmail uses CSE configurations to save drafts of client-side encrypted email messages, and to sign and send encrypted email messages."
    },
    "FilterCriteria": {
      "id": "FilterCriteria",
      "description": "Message matching criteria.",
      "properties": {
        "from": {
          "description": "The sender's display name or email address.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
        },
        "negatedQuery": {
          "description": "Only return messages not matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`.",
          "type": "string"
        },
        "size": {
          "format": "int32",
          "type": "integer",
          "description": "The size of the entire RFC822 message in bytes, including all headers and attachments."
        },
        "sizeComparison": {
          "type": "string",
          "description": "How the message size in bytes should be in relation to the size field.",
          "enumDescriptions": [
            "",
            "Find messages smaller than the given size.",
            "Find messages larger than the given size."
          ],
          "enum": [
            "unspecified",
            "smaller",
            "larger"
          ]
        },
        "to": {
          "type": "string",
          "description": "The recipient's display name or email address. Includes recipients in the \"to\", \"cc\", and \"bcc\" header fields. You can use simply the local part of the email address. For example, \"example\" and \"example@\" both match \"example@gmail.com\". This field is case-insensitive."
        },
        "excludeChats": {
          "type": "boolean",
          "description": "Whether the response should exclude chats."
        },
        "hasAttachment": {
          "description": "Whether the message has any attachment.",
          "type": "boolean"
        },
        "subject": {
          "type": "string",
          "description": "Case-insensitive phrase found in the message's subject. Trailing and leading whitespace are be trimmed and adjacent spaces are collapsed."
        }
      },
      "type": "object"
    },
    "ForwardingAddress": {
      "properties": {
        "verificationStatus": {
          "type": "string",
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending"
          ],
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address is ready to use for forwarding.",
            "The address is awaiting verification by the owner."
          ],
          "description": "Indicates whether this address has been verified and is usable for forwarding. Read-only."
        },
        "forwardingEmail": {
          "type": "string",
          "description": "An email address to which messages can be forwarded."
        }
      },
      "type": "object",
      "id": "ForwardingAddress",
      "description": "Settings for a forwarding address."
    },
    "ListSmimeInfoResponse": {
      "id": "ListSmimeInfoResponse",
      "properties": {
        "smimeInfo": {
          "items": {
            "$ref": "SmimeInfo"
          },
          "description": "List of SmimeInfo.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListThreadsResponse": {
      "properties": {
        "threads": {
          "description": "List of threads. Note that each thread resource does not contain a list of `messages`. The list of `messages` for a given thread can be fetched using the threads.get method.",
          "items": {
            "$ref": "Thread"
          },
          "type": "array"
        },
        "resultSizeEstimate": {
          "format": "uint32",
          "type": "integer",
          "description": "Estimated total number of results."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        }
      },
      "type": "object",
      "id": "ListThreadsResponse"
    },
    "HistoryMessageDeleted": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "id": "HistoryMessageDeleted"
    },
    "ListCseKeyPairsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be passed to a subsequent ListCseKeyPairs call in order to retrieve the next page of key pairs. If this value is not returned, then no further pages remain.",
          "type": "string"
        },
        "cseKeyPairs": {
          "description": "One page of the list of CSE key pairs installed for the user.",
          "items": {
            "$ref": "CseKeyPair"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListCseKeyPairsResponse"
    },
    "BatchDeleteMessagesRequest": {
      "id": "BatchDeleteMessagesRequest",
      "type": "object",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of the messages to delete."
        }
      }
    },
    "Message": {
      "type": "object",
      "description": "An email message.",
      "properties": {
        "threadId": {
          "description": "The ID of the thread the message belongs to. To add a message or draft to a thread, the following criteria must be met: 1. The requested `threadId` must be specified on the `Message` or `Draft.Message` you supply with your request. 2. The `References` and `In-Reply-To` headers must be set in compliance with the [RFC 2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must match. ",
          "type": "string"
        },
        "id": {
          "description": "The immutable ID of the message.",
          "type": "string"
        },
        "sizeEstimate": {
          "format": "int32",
          "description": "Estimated size in bytes of the message.",
          "type": "integer"
        },
        "labelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of IDs of labels applied to this message."
        },
        "internalDate": {
          "format": "int64",
          "description": "The internal message creation timestamp (epoch ms), which determines ordering in the inbox. For normal SMTP-received email, this represents the time the message was originally accepted by Google, which is more reliable than the `Date` header. However, for API-migrated mail, it can be configured by client to be based on the `Date` header.",
          "type": "string"
        },
        "payload": {
          "$ref": "MessagePart",
          "description": "The parsed email structure in the message parts."
        },
        "historyId": {
          "description": "The ID of the last history record that modified this message.",
          "format": "uint64",
          "type": "string"
        },
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "raw": {
          "annotations": {
            "required": [
              "gmail.users.drafts.create",
              "gmail.users.drafts.update",
              "gmail.users.messages.insert",
              "gmail.users.messages.send"
            ]
          },
          "description": "The entire email message in an RFC 2822 formatted and base64url encoded string. Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is supplied.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "Message"
    },
    "ListDelegatesResponse": {
      "type": "object",
      "properties": {
        "delegates": {
          "type": "array",
          "description": "List of the user's delegates (with any verification status). If an account doesn't have delegates, this field doesn't appear.",
          "items": {
            "$ref": "Delegate"
          }
        }
      },
      "id": "ListDelegatesResponse",
      "description": "Response for the ListDelegates method."
    },
    "ListFiltersResponse": {
      "id": "ListFiltersResponse",
      "properties": {
        "filter": {
          "type": "array",
          "items": {
            "$ref": "Filter"
          },
          "description": "List of a user's filters."
        }
      },
      "description": "Response for the ListFilters method.",
      "type": "object"
    },
    "HistoryMessageAdded": {
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object",
      "id": "HistoryMessageAdded"
    },
    "ListDraftsResponse": {
      "type": "object",
      "id": "ListDraftsResponse",
      "properties": {
        "drafts": {
          "description": "List of drafts. Note that the `Message` property in each `Draft` resource only contains an `id` and a `threadId`. The messages.get method can fetch additional message details.",
          "type": "array",
          "items": {
            "$ref": "Draft"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "resultSizeEstimate": {
          "format": "uint32",
          "description": "Estimated total number of results.",
          "type": "integer"
        }
      }
    },
    "WatchResponse": {
      "properties": {
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "When Gmail will stop sending notifications for mailbox updates (epoch millis). Call `watch` again before this time to renew the watch."
        },
        "historyId": {
          "format": "uint64",
          "type": "string",
          "description": "The ID of the mailbox's current history record."
        }
      },
      "type": "object",
      "description": "Push notification watch response.",
      "id": "WatchResponse"
    },
    "MessagePart": {
      "id": "MessagePart",
      "properties": {
        "partId": {
          "description": "The immutable ID of the message part.",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "MessagePartHeader"
          },
          "description": "List of headers on this message part. For the top-level message part, representing the entire message payload, it will contain the standard RFC 2822 email headers such as `To`, `From`, and `Subject`."
        },
        "body": {
          "description": "The message part body for this part, which may be empty for container MIME message parts.",
          "$ref": "MessagePartBody"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the message part."
        },
        "filename": {
          "description": "The filename of the attachment. Only present if this message part represents an attachment.",
          "type": "string"
        },
        "parts": {
          "description": "The child MIME message parts of this part. This only applies to container MIME message parts, for example `multipart/*`. For non- container MIME message part types, such as `text/plain`, this field is empty. For more information, see RFC 1521.",
          "items": {
            "$ref": "MessagePart"
          },
          "type": "array"
        }
      },
      "description": "A single MIME message part.",
      "type": "object"
    },
    "KaclsKeyMetadata": {
      "description": "Metadata for private keys managed by an external key access control list service. For details about managing key access, see [Google Workspace CSE API Reference](https://developers.google.com/workspace/cse/reference).",
      "id": "KaclsKeyMetadata",
      "properties": {
        "kaclsData": {
          "type": "string",
          "description": "Opaque data generated and used by the key access control list service. Maximum size: 8 KiB."
        },
        "kaclsUri": {
          "type": "string",
          "description": "The URI of the key access control list service that manages the private key."
        }
      },
      "type": "object"
    },
    "CseKeyPair": {
      "properties": {
        "enablementState": {
          "description": "Output only. The current state of the key pair.",
          "enumDescriptions": [
            "The current state of the key pair is not set. The key pair is neither turned on nor turned off.",
            "The key pair is turned on. For any email messages that this key pair encrypts, Gmail decrypts the messages and signs any outgoing mail with the private key. To turn on a key pair, use the EnableCseKeyPair method.",
            "The key pair is turned off. Authenticated users cannot decrypt email messages nor sign outgoing messages. If a key pair is turned off for more than 30 days, you can permanently delete it. To turn off a key pair, use the DisableCseKeyPair method."
          ],
          "enum": [
            "stateUnspecified",
            "enabled",
            "disabled"
          ],
          "type": "string",
          "readOnly": true
        },
        "subjectEmailAddresses": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The email address identities that are specified on the leaf certificate."
        },
        "disableTime": {
          "description": "Output only. If a key pair is set to `DISABLED`, the time that the key pair's state changed from `ENABLED` to `DISABLED`. This field is present only when the key pair is in state `DISABLED`.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "keyPairId": {
          "type": "string",
          "description": "Output only. The immutable ID for the client-side encryption S/MIME key pair.",
          "readOnly": true
        },
        "privateKeyMetadata": {
          "type": "array",
          "items": {
            "$ref": "CsePrivateKeyMetadata"
          },
          "description": "Metadata for instances of this key pair's private key."
        },
        "pem": {
          "description": "Output only. The public key and its certificate chain, in [PEM](https://en.wikipedia.org/wiki/Privacy-Enhanced_Mail) format.",
          "type": "string",
          "readOnly": true
        },
        "pkcs7": {
          "type": "string",
          "description": "Input only. The public key and its certificate chain. The chain must be in [PKCS#7](https://en.wikipedia.org/wiki/PKCS_7) format and use PEM encoding and ASCII armor."
        }
      },
      "id": "CseKeyPair",
      "type": "object",
      "description": "A client-side encryption S/MIME key pair, which is comprised of a public key, its certificate chain, and metadata for its paired private key. Gmail uses the key pair to complete the following tasks: - Sign outgoing client-side encrypted messages. - Save and reopen drafts of client-side encrypted messages. - Save and reopen sent messages. - Decrypt incoming or archived S/MIME messages."
    },
    "PopSettings": {
      "id": "PopSettings",
      "properties": {
        "accessWindow": {
          "description": "The range of messages which are accessible via POP.",
          "enumDescriptions": [
            "Unspecified range.",
            "Indicates that no messages are accessible via POP.",
            "Indicates that unfetched messages received after some past point in time are accessible via POP.",
            "Indicates that all unfetched messages are accessible via POP."
          ],
          "enum": [
            "accessWindowUnspecified",
            "disabled",
            "fromNowOn",
            "allMail"
          ],
          "type": "string"
        },
        "disposition": {
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "description": "The action that will be executed on a message after it has been fetched via POP.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ]
        }
      },
      "type": "object",
      "description": "POP settings for an account."
    },
    "Label": {
      "id": "Label",
      "properties": {
        "messagesUnread": {
          "description": "The number of unread messages with the label.",
          "format": "int32",
          "type": "integer"
        },
        "color": {
          "$ref": "LabelColor",
          "description": "The color to assign to the label. Color is only available for labels that have their `type` set to `user`."
        },
        "messagesTotal": {
          "format": "int32",
          "description": "The total number of messages with the label.",
          "type": "integer"
        },
        "type": {
          "enumDescriptions": [
            "Labels created by Gmail.",
            "Custom labels created by the user or application."
          ],
          "description": "The owner type for the label. User labels are created by the user and can be modified and deleted by the user and can be applied to any message or thread. System labels are internally created and cannot be added, modified, or deleted. System labels may be able to be applied to or removed from messages and threads under some circumstances but this is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD` labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT` labels from messages or threads.",
          "enum": [
            "system",
            "user"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The display name of the label.",
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          }
        },
        "messageListVisibility": {
          "enum": [
            "show",
            "hide"
          ],
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "description": "The visibility of messages with this label in the message list in the Gmail web interface.",
          "enumDescriptions": [
            "Show the label in the message list.",
            "Do not show the label in the message list."
          ],
          "type": "string"
        },
        "threadsUnread": {
          "type": "integer",
          "description": "The number of unread threads with the label.",
          "format": "int32"
        },
        "labelListVisibility": {
          "enum": [
            "labelShow",
            "labelShowIfUnread",
            "labelHide"
          ],
          "annotations": {
            "required": [
              "gmail.users.labels.create",
              "gmail.users.labels.update"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "Show the label in the label list.",
            "Show the label if there are any unread messages with that label.",
            "Do not show the label in the label list."
          ],
          "description": "The visibility of the label in the label list in the Gmail web interface."
        },
        "threadsTotal": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of threads with the label."
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.labels.update"
            ]
          },
          "description": "The immutable ID of the label."
        }
      },
      "type": "object",
      "description": "Labels are used to categorize messages and threads within the user's mailbox. The maximum number of labels supported for a user's mailbox is 10,000."
    },
    "EnableCseKeyPairRequest": {
      "properties": {},
      "id": "EnableCseKeyPairRequest",
      "description": "Requests to turn on a client-side encryption key pair.",
      "type": "object"
    },
    "Filter": {
      "type": "object",
      "properties": {
        "action": {
          "description": "Action that the filter performs.",
          "$ref": "FilterAction"
        },
        "criteria": {
          "description": "Matching criteria for the filter.",
          "$ref": "FilterCriteria"
        },
        "id": {
          "description": "The server assigned ID of the filter.",
          "type": "string"
        }
      },
      "id": "Filter",
      "description": "Resource definition for Gmail filters. Filters apply to specific messages instead of an entire email thread."
    },
    "Draft": {
      "type": "object",
      "id": "Draft",
      "description": "A draft email in the user's mailbox.",
      "properties": {
        "message": {
          "description": "The message content of the draft.",
          "$ref": "Message"
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "gmail.users.drafts.send"
            ]
          },
          "description": "The immutable ID of the draft."
        }
      }
    },
    "SmtpMsa": {
      "properties": {
        "password": {
          "type": "string",
          "description": "The password that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses."
        },
        "host": {
          "type": "string",
          "description": "The hostname of the SMTP service. Required."
        },
        "port": {
          "description": "The port of the SMTP service. Required.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "The username that will be used for authentication with the SMTP service. This is a write-only field that can be specified in requests to create or update SendAs settings; it is never populated in responses.",
          "type": "string"
        },
        "securityMode": {
          "type": "string",
          "enum": [
            "securityModeUnspecified",
            "none",
            "ssl",
            "starttls"
          ],
          "description": "The protocol that will be used to secure communication with the SMTP service. Required.",
          "enumDescriptions": [
            "Unspecified security mode.",
            "Communication with the remote SMTP service is unsecured. Requires port 25.",
            "Communication with the remote SMTP service is secured using SSL.",
            "Communication with the remote SMTP service is secured using STARTTLS."
          ]
        }
      },
      "id": "SmtpMsa",
      "type": "object",
      "description": "Configuration for communication with an SMTP service."
    },
    "HistoryLabelAdded": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "description": "Label IDs added to the message.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "HistoryLabelAdded"
    },
    "DisableCseKeyPairRequest": {
      "description": "Requests to turn off a client-side encryption key pair.",
      "type": "object",
      "properties": {},
      "id": "DisableCseKeyPairRequest"
    },
    "ModifyThreadRequest": {
      "type": "object",
      "properties": {
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of IDs of labels to remove from this thread. You can remove up to 100 labels with each update."
        },
        "addLabelIds": {
          "type": "array",
          "description": "A list of IDs of labels to add to this thread. You can add up to 100 labels with each update.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ModifyThreadRequest"
    },
    "ListForwardingAddressesResponse": {
      "properties": {
        "forwardingAddresses": {
          "type": "array",
          "description": "List of addresses that may be used for forwarding.",
          "items": {
            "$ref": "ForwardingAddress"
          }
        }
      },
      "id": "ListForwardingAddressesResponse",
      "type": "object",
      "description": "Response for the ListForwardingAddresses method."
    },
    "HistoryLabelRemoved": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "Message"
        },
        "labelIds": {
          "type": "array",
          "description": "Label IDs removed from the message.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HistoryLabelRemoved"
    },
    "ListMessagesResponse": {
      "properties": {
        "messages": {
          "description": "List of messages. Note that each message resource contains only an `id` and a `threadId`. Additional message details can be fetched using the messages.get method.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "resultSizeEstimate": {
          "description": "Estimated total number of results.",
          "format": "uint32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "id": "ListMessagesResponse",
      "type": "object"
    },
    "MessagePartHeader": {
      "id": "MessagePartHeader",
      "properties": {
        "value": {
          "description": "The value of the header after the `:` separator. For example, `someuser@example.com`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the header before the `:` separator. For example, `To`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FilterAction": {
      "properties": {
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "List of labels to remove from the message.",
          "type": "array"
        },
        "forward": {
          "description": "Email address that the message should be forwarded to.",
          "type": "string"
        },
        "addLabelIds": {
          "description": "List of labels to add to the message.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A set of actions to perform on a message.",
      "id": "FilterAction"
    },
    "Delegate": {
      "description": "Settings for a delegate. Delegates can read, send, and delete messages, as well as view and add contacts, for the delegator's account. See \"Set up mail delegation\" for more information about delegates.",
      "id": "Delegate",
      "properties": {
        "verificationStatus": {
          "enum": [
            "verificationStatusUnspecified",
            "accepted",
            "pending",
            "rejected",
            "expired"
          ],
          "description": "Indicates whether this address has been verified and can act as a delegate for the account. Read-only.",
          "enumDescriptions": [
            "Unspecified verification status.",
            "The address can act a delegate for the account.",
            "A verification request was mailed to the address, and the owner has not yet accepted it.",
            "A verification request was mailed to the address, and the owner rejected it.",
            "A verification request was mailed to the address, and it expired without verification."
          ],
          "type": "string"
        },
        "delegateEmail": {
          "description": "The email address of the delegate.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchModifyMessagesRequest": {
      "type": "object",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IDs of the messages to modify. There is a limit of 1000 ids per request."
        },
        "removeLabelIds": {
          "description": "A list of label IDs to remove from messages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addLabelIds": {
          "description": "A list of label IDs to add to messages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BatchModifyMessagesRequest"
    },
    "Profile": {
      "id": "Profile",
      "type": "object",
      "description": "Profile for a Gmail user.",
      "properties": {
        "threadsTotal": {
          "format": "int32",
          "description": "The total number of threads in the mailbox.",
          "type": "integer"
        },
        "historyId": {
          "description": "The ID of the mailbox's current history record.",
          "type": "string",
          "format": "uint64"
        },
        "emailAddress": {
          "type": "string",
          "description": "The user's email address."
        },
        "messagesTotal": {
          "format": "int32",
          "description": "The total number of messages in the mailbox.",
          "type": "integer"
        }
      }
    },
    "WatchRequest": {
      "id": "WatchRequest",
      "description": "Set up or update a new push notification watch on this user's mailbox.",
      "properties": {
        "labelFilterAction": {
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "enum": [
            "include",
            "exclude"
          ],
          "type": "string",
          "description": "Filtering behavior of `labelIds list` specified. This field is deprecated because it caused incorrect behavior in some cases; use `label_filter_behavior` instead."
        },
        "labelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of label_ids to restrict notifications about. By default, if unspecified, all changes are pushed out. If specified then dictates which labels are required for a push notification to be generated."
        },
        "labelFilterBehavior": {
          "description": "Filtering behavior of `labelIds list` specified. This field replaces `label_filter_action`; if set, `label_filter_action` is ignored.",
          "type": "string",
          "enumDescriptions": [
            "Only get push notifications for message changes relating to labelIds specified.",
            "Get push notifications for all message changes except those relating to labelIds specified."
          ],
          "enum": [
            "include",
            "exclude"
          ]
        },
        "topicName": {
          "type": "string",
          "description": "A fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This topic name **must** already exist in Cloud Pub/Sub and you **must** have already granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\" (using the Cloud Pub/Sub \"v1\" topic naming format). Note that the \"my-project-identifier\" portion must exactly match your Google developer project id (the one executing this watch request)."
        }
      },
      "type": "object"
    },
    "ListLabelsResponse": {
      "properties": {
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "List of labels. Note that each label resource only contains an `id`, `name`, `messageListVisibility`, `labelListVisibility`, and `type`. The labels.get method can fetch additional label details."
        }
      },
      "id": "ListLabelsResponse",
      "type": "object"
    },
    "LanguageSettings": {
      "description": "Language settings for an account. These settings correspond to the \"Language settings\" feature in the web interface.",
      "properties": {
        "displayLanguage": {
          "type": "string",
          "description": "The language to display Gmail in, formatted as an RFC 3066 Language Tag (for example `en-GB`, `fr` or `ja` for British English, French, or Japanese respectively). The set of languages supported by Gmail evolves over time, so please refer to the \"Language\" dropdown in the Gmail settings for all available options, as described in the language settings help article. A table of sample values is also provided in the Managing Language Settings guide Not all Gmail clients can display the same set of languages. In the case that a user's display language is not available for use on a particular client, said client automatically chooses to display in the closest supported variant (or a reasonable default)."
        }
      },
      "type": "object",
      "id": "LanguageSettings"
    },
    "Thread": {
      "description": "A collection of messages representing a conversation.",
      "id": "Thread",
      "properties": {
        "snippet": {
          "description": "A short part of the message text.",
          "type": "string"
        },
        "historyId": {
          "description": "The ID of the last history record that modified this thread.",
          "format": "uint64",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "The list of messages in the thread.",
          "type": "array"
        },
        "id": {
          "description": "The unique ID of the thread.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ModifyMessageRequest": {
      "properties": {
        "removeLabelIds": {
          "items": {
            "type": "string"
          },
          "description": "A list IDs of labels to remove from this message. You can remove up to 100 labels with each update.",
          "type": "array"
        },
        "addLabelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of IDs of labels to add to this message. You can add up to 100 labels with each update."
        }
      },
      "type": "object",
      "id": "ModifyMessageRequest"
    },
    "MessagePartBody": {
      "type": "object",
      "properties": {
        "size": {
          "description": "Number of bytes for the message part data (encoding notwithstanding).",
          "type": "integer",
          "format": "int32"
        },
        "attachmentId": {
          "description": "When present, contains the ID of an external attachment that can be retrieved in a separate `messages.attachments.get` request. When not present, the entire content of the message part body is contained in the data field.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The body data of a MIME message part as a base64url encoded string. May be empty for MIME container types that have no message body or when the body data is sent as a separate attachment. An attachment ID is present if the body data is contained in a separate attachment."
        }
      },
      "id": "MessagePartBody",
      "description": "The body of a single MIME message part."
    },
    "AutoForwarding": {
      "description": "Auto-forwarding settings for an account.",
      "id": "AutoForwarding",
      "type": "object",
      "properties": {
        "disposition": {
          "enumDescriptions": [
            "Unspecified disposition.",
            "Leave the message in the `INBOX`.",
            "Archive the message.",
            "Move the message to the `TRASH`.",
            "Leave the message in the `INBOX` and mark it as read."
          ],
          "enum": [
            "dispositionUnspecified",
            "leaveInInbox",
            "archive",
            "trash",
            "markRead"
          ],
          "type": "string",
          "description": "The state that a message should be left in after it has been forwarded."
        },
        "enabled": {
          "description": "Whether all incoming mail is automatically forwarded to another address.",
          "type": "boolean"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address to which all incoming messages are forwarded. This email address must be a verified member of the forwarding addresses."
        }
      }
    }
  },
  "name": "gmail",
  "servicePath": "",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://mail.google.com/": {
          "description": "Read, compose, send, and permanently delete all your email from Gmail"
        },
        "https://www.googleapis.com/auth/gmail.metadata": {
          "description": "View your email message metadata such as labels and headers, but not the email body"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.readonly": {
          "description": "View your email messages when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.settings.sharing": {
          "description": "Manage your sensitive mail settings, including who can manage your mail"
        },
        "https://www.googleapis.com/auth/gmail.insert": {
          "description": "Add emails into your Gmail mailbox"
        },
        "https://www.googleapis.com/auth/gmail.settings.basic": {
          "description": "See, edit, create, or change your email settings and filters in Gmail"
        },
        "https://www.googleapis.com/auth/gmail.compose": {
          "description": "Manage drafts and send emails"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.metadata": {
          "description": "View your email message metadata when the add-on is running"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.action.compose": {
          "description": "Manage drafts and send emails when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.send": {
          "description": "Send email on your behalf"
        },
        "https://www.googleapis.com/auth/gmail.labels": {
          "description": "See and edit your email labels"
        },
        "https://www.googleapis.com/auth/gmail.addons.current.message.action": {
          "description": "View your email messages when you interact with the add-on"
        },
        "https://www.googleapis.com/auth/gmail.modify": {
          "description": "Read, compose, and send emails from your Gmail account"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        }
      }
    }
  },
  "resources": {
    "users": {
      "resources": {
        "history": {
          "methods": {
            "list": {
              "flatPath": "gmail/v1/users/{userId}/history",
              "id": "gmail.users.history.list",
              "parameters": {
                "startHistoryId": {
                  "format": "uint64",
                  "description": "Required. Returns history records after the specified `startHistoryId`. The supplied `startHistoryId` should be obtained from the `historyId` of a message, thread, or previous `list` response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an `HTTP 404` error response, your application should perform a full sync. If you receive no `nextPageToken` in the response, there are no updates to retrieve and you can store the returned `historyId` for a future request.",
                  "type": "string",
                  "location": "query"
                },
                "labelId": {
                  "type": "string",
                  "description": "Only return messages with a label matching the ID.",
                  "location": "query"
                },
                "historyTypes": {
                  "description": "History types to be returned by the function",
                  "enumDescriptions": [
                    "",
                    "",
                    "",
                    ""
                  ],
                  "enum": [
                    "messageAdded",
                    "messageDeleted",
                    "labelAdded",
                    "labelRemoved"
                  ],
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "maxResults": {
                  "format": "uint32",
                  "location": "query",
                  "description": "Maximum number of history records to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "default": "100",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token to retrieve a specific page of results in the list.",
                  "type": "string"
                },
                "userId": {
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "default": "me",
                  "location": "path"
                }
              },
              "description": "Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing `historyId`).",
              "httpMethod": "GET",
              "path": "gmail/v1/users/{userId}/history",
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "ListHistoryResponse"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ]
            }
          }
        },
        "drafts": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts"
                  },
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts",
                    "multipart": true
                  }
                },
                "maxSize": "36700160"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "response": {
                "$ref": "Draft"
              },
              "parameterOrder": [
                "userId"
              ],
              "description": "Creates a new draft with the `DRAFT` label.",
              "supportsMediaUpload": true,
              "id": "gmail.users.drafts.create",
              "request": {
                "$ref": "Draft"
              },
              "path": "gmail/v1/users/{userId}/drafts"
            },
            "send": {
              "path": "gmail/v1/users/{userId}/drafts/send",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "description": "Sends the specified, existing draft to the recipients in the `To`, `Cc`, and `Bcc` headers.",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160",
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/send",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/send"
                  }
                }
              },
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "default": "me",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Message"
              },
              "request": {
                "$ref": "Draft"
              },
              "id": "gmail.users.drafts.send",
              "flatPath": "gmail/v1/users/{userId}/drafts/send"
            },
            "get": {
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "response": {
                "$ref": "Draft"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "id": "gmail.users.drafts.get",
              "parameters": {
                "id": {
                  "description": "The ID of the draft to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "userId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user."
                },
                "format": {
                  "description": "The format to return the draft in.",
                  "default": "full",
                  "type": "string",
                  "enum": [
                    "minimal",
                    "full",
                    "raw",
                    "metadata"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Returns only email message ID and labels; does not return the email headers, body, or payload.",
                    "Returns the full email message data with body content parsed in the `payload` field; the `raw` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns the full email message data with body content in the `raw` field as a base64url encoded string; the `payload` field is not used. Format cannot be used when accessing the api using the gmail.metadata scope.",
                    "Returns only email message ID, labels, and email headers."
                  ]
                }
              },
              "httpMethod": "GET",
              "description": "Gets the specified draft.",
              "path": "gmail/v1/users/{userId}/drafts/{id}"
            },
            "update": {
              "description": "Replaces a draft's content.",
              "request": {
                "$ref": "Draft"
              },
              "supportsMediaUpload": true,
              "httpMethod": "PUT",
              "response": {
                "$ref": "Draft"
              },
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "default": "me",
                  "required": true,
                  "location": "path"
                },
                "id": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the draft to update."
                }
              },
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/gmail/v1/users/{userId}/drafts/{id}"
                  },
                  "resumable": {
                    "path": "/resumable/upload/gmail/v1/users/{userId}/drafts/{id}",
                    "multipart": true
                  }
                },
                "accept": [
                  "message/*"
                ],
                "maxSize": "36700160"
              },
              "id": "gmail.users.drafts.update",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ]
            },
            "delete": {
              "id": "gmail.users.drafts.delete",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.addons.current.action.compose",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "httpMethod": "DELETE",
              "description": "Immediately and permanently deletes the specified draft. Does not simply trash it.",
              "parameters": {
                "userId": {
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string",
                  "location": "path",
                  "default": "me",
                  "required": true
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the draft to delete."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/drafts/{id}",
              "path": "gmail/v1/users/{userId}/drafts/{id}",
              "parameterOrder": [
                "userId",
                "id"
              ]
            },
            "list": {
              "path": "gmail/v1/users/{userId}/drafts",
              "flatPath": "gmail/v1/users/{userId}/drafts",
              "httpMethod": "GET",
              "id": "gmail.users.drafts.list",
              "parameterOrder": [
                "userId"
              ],
              "response": {
                "$ref": "ListDraftsResponse"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.compose",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "q": {
                  "type": "string",
                  "location": "query",
                  "description": "Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, `\"from:someuser@example.com rfc822msgid: is:unread\"`."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token to retrieve a specific page of results in the list."
                },
                "maxResults": {
                  "default": "100",
                  "description": "Maximum number of drafts to return. This field defaults to 100. The maximum allowed value for this field is 500.",
                  "type": "integer",
                  "location": "query",
                  "format": "uint32"
                },
                "userId": {
                  "required": true,
                  "location": "path",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "type": "string"
                },
                "includeSpamTrash": {
                  "description": "Include drafts from `SPAM` and `TRASH` in the results.",
                  "type": "boolean",
                  "default": "false",
                  "location": "query"
                }
              },
              "description": "Lists the drafts in the user's mailbox."
            }
          }
        },
        "labels": {
          "methods": {
            "delete": {
              "description": "Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.",
              "httpMethod": "DELETE",
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "id": "gmail.users.labels.delete",
              "parameters": {
                "userId": {
                  "type": "string",
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true,
                  "location": "path"
                },
                "id": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the label to delete."
                }
              }
            },
            "update": {
              "request": {
                "$ref": "Label"
              },
              "parameters": {
                "userId": {
                  "required": true,
                  "default": "me",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string"
                },
                "id": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the label to update."
                }
              },
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "id": "gmail.users.labels.update",
              "response": {
                "$ref": "Label"
              },
              "description": "Updates the specified label.",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId",
                "id"
              ],
              "httpMethod": "PUT"
            },
            "patch": {
              "description": "Patch the specified label.",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "id": "gmail.users.labels.patch",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "request": {
                "$ref": "Label"
              },
              "response": {
                "$ref": "Label"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "id": {
                  "location": "path",
                  "description": "The ID of the label to update.",
                  "required": true,
                  "type": "string"
                },
                "userId": {
                  "default": "me",
                  "type": "string",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels/{id}"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLabelsResponse"
              },
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameterOrder": [
                "userId"
              ],
              "parameters": {
                "userId": {
                  "location": "path",
                  "default": "me",
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "required": true
                }
              },
              "description": "Lists all labels in the user's mailbox.",
              "flatPath": "gmail/v1/users/{userId}/labels",
              "path": "gmail/v1/users/{userId}/labels",
              "id": "gmail.users.labels.list"
            },
            "create": {
              "path": "gmail/v1/users/{userId}/labels",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.modify"
              ],
              "parameterOrder": [
                "userId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Label"
              },
              "request": {
                "$ref": "Label"
              },
              "parameters": {
                "userId": {
                  "default": "me",
                  "required": true,
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "gmail/v1/users/{userId}/labels",
              "description": "Creates a new label.",
              "id": "gmail.users.labels.create"
            },
            "get": {
              "description": "Gets the specified label.",
              "parameterOrder": [
                "userId",
                "id"
              ],
              "flatPath": "gmail/v1/users/{userId}/labels/{id}",
              "scopes": [
                "https://mail.google.com/",
                "https://www.googleapis.com/auth/gmail.labels",
                "https://www.googleapis.com/auth/gmail.metadata",
                "https://www.googleapis.com/auth/gmail.modify",
                "https://www.googleapis.com/auth/gmail.readonly"
              ],
              "parameters": {
                "id": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the label to retrieve.",
                  "required": true
                },
                "userId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The user's email address. The special value `me` can be used to indicate the authenticated user.",
                  "default": "me"
                }
              },
              "httpMethod": "GET",
              "id": "gmail.users.labels.get",
              "path": "gmail/v1/users/{userId}/labels/{id}",
              "response": {
                "$ref": "Label"
              }
            }
          }
        },
        "settings": {
          "resources": {
            "forwardingAddresses": {
              "methods": {
                "create": {
                  "description": "Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to `pending`; otherwise, the resource will be created with verification status set to `accepted`. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "response": {
                    "$ref": "ForwardingAddress"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameterOrder": [
                    "userId"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "httpMethod": "POST",
                  "parameters": {
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "location": "path",
                      "default": "me",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ForwardingAddress"
                  },
                  "id": "gmail.users.settings.forwardingAddresses.create"
                },
                "get": {
                  "response": {
                    "$ref": "ForwardingAddress"
                  },
                  "id": "gmail.users.settings.forwardingAddresses.get",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "description": "Gets the specified forwarding address.",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "required": true
                    },
                    "forwardingEmail": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The forwarding address to be retrieved."
                    }
                  },
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "httpMethod": "GET",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ]
                },
                "delete": {
                  "description": "Deletes the specified forwarding address and revokes any verification that may have been required. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.forwardingAddresses.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}",
                  "parameterOrder": [
                    "userId",
                    "forwardingEmail"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "parameters": {
                    "forwardingEmail": {
                      "required": true,
                      "description": "The forwarding address to be deleted.",
                      "type": "string",
                      "location": "path"
                    },
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses/{forwardingEmail}"
                },
                "list": {
                  "description": "Lists the forwarding addresses for the specified account.",
                  "path": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "flatPath": "gmail/v1/users/{userId}/settings/forwardingAddresses",
                  "httpMethod": "GET",
                  "id": "gmail.users.settings.forwardingAddresses.list",
                  "parameters": {
                    "userId": {
                      "required": true,
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameterOrder": [
                    "userId"
                  ],
                  "response": {
                    "$ref": "ListForwardingAddressesResponse"
                  }
                }
              }
            },
            "filters": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "userId"
                  ],
                  "description": "Lists the message filters of a Gmail user.",
                  "id": "gmail.users.settings.filters.list",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "response": {
                    "$ref": "ListFiltersResponse"
                  },
                  "parameters": {
                    "userId": {
                      "required": true,
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "default": "me",
                      "location": "path"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "httpMethod": "DELETE",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "parameters": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the filter to be deleted.",
                      "location": "path",
                      "required": true
                    },
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "description": "Immediately and permanently deletes the specified filter.",
                  "id": "gmail.users.settings.filters.delete"
                },
                "create": {
                  "id": "gmail.users.settings.filters.create",
                  "flatPath": "gmail/v1/users/{userId}/settings/filters",
                  "path": "gmail/v1/users/{userId}/settings/filters",
                  "description": "Creates a filter. Note: you can only create a maximum of 1,000 filters.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "userId"
                  ],
                  "request": {
                    "$ref": "Filter"
                  },
                  "response": {
                    "$ref": "Filter"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "required": true,
                      "location": "path",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "type": "string",
                      "default": "me"
                    }
                  }
                },
                "get": {
                  "description": "Gets a filter.",
                  "scopes": [
                    "https://mail.google.com/",
                    "https://www.googleapis.com/auth/gmail.modify",
                    "https://www.googleapis.com/auth/gmail.readonly",
                    "https://www.googleapis.com/auth/gmail.settings.basic"
                  ],
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "location": "path"
                    },
                    "id": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The ID of the filter to be fetched."
                    }
                  },
                  "flatPath": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "response": {
                    "$ref": "Filter"
                  },
                  "id": "gmail.users.settings.filters.get",
                  "path": "gmail/v1/users/{userId}/settings/filters/{id}",
                  "parameterOrder": [
                    "userId",
                    "id"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "sendAs": {
              "methods": {
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "request": {
                    "$ref": "SendAs"
                  },
                  "description": "Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias. Addresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.",
                  "id": "gmail.users.settings.sendAs.update",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "parameters": {
                    "sendAsEmail": {
                      "description": "The send-as alias to be updated.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "userId": {
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true,
                      "default": "me",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "SendAs"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "id": "gmail.users.settings.sendAs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ],
                  "description": "Deletes the specified send-as alias. Revokes any verification that may have been required for using it. This method is only available to service account clients that have been delegated domain-wide authority.",
                  "httpMethod": "DELETE",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "parameters": {
                    "userId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "default": "me",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user."
                    },
                    "sendAsEmail": {
                      "description": "The send-as alias to be deleted.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "patch": {
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "SendAs"
                  },
                  "description": "Patch the specified send-as alias.",
                  "request": {
                    "$ref": "SendAs"
                  },
                  "parameters": {
                    "userId": {
                      "default": "me",
                      "location": "path",
                      "type": "string",
                      "description": "User's email address. The special value \"me\" can be used to indicate the authenticated user.",
                      "required": true
                    },
                    "sendAsEmail": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The send-as alias to be updated."
                    }
                  },
                  "id": "gmail.users.settings.sendAs.patch",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "path": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "scopes": [
                    "https://www.googleapis.com/auth/gmail.settings.basic",
                    "https://www.googleapis.com/auth/gmail.settings.sharing"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}",
                  "description": "Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection.",
                  "parameterOrder": [
                    "userId",
                    "sendAsEmail"
                  ],
                  "scopes": [
                    "https://mail.google.com/",
[...]
