{
  "resources": {
    "domains": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/postmaster.readonly"
          ],
          "id": "gmailpostmastertools.domains.list",
          "response": {
            "$ref": "ListDomainsResponse"
          },
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Requested page size. Server may return fewer domains than requested. If unspecified, server will pick an appropriate default.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The next_page_token value returned from a previous List request, if any. This is the value of ListDomainsResponse.next_page_token returned from the previous call to `ListDomains` method."
            }
          },
          "path": "v1beta1/domains",
          "httpMethod": "GET",
          "description": "Lists the domains that have been registered by the client. The order of domains in the response is unspecified and non-deterministic. Newly created domains will not necessarily be added to the end of this list.",
          "parameterOrder": [],
          "flatPath": "v1beta1/domains"
        },
        "get": {
          "id": "gmailpostmastertools.domains.get",
          "response": {
            "$ref": "Domain"
          },
          "flatPath": "v1beta1/domains/{domainsId}",
          "path": "v1beta1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/postmaster.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Gets a specific domain registered by the client. Returns NOT_FOUND if the domain does not exist.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^domains/[^/]+$",
              "type": "string",
              "required": true,
              "description": "The resource name of the domain. It should have the form `domains/{domain_name}`, where domain_name is the fully qualified domain name."
            }
          }
        }
      },
      "resources": {
        "trafficStats": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListTrafficStatsResponse"
              },
              "description": "List traffic statistics for all available days. Returns PERMISSION_DENIED if user does not have permission to access TrafficStats for the domain.",
              "parameters": {
                "endDate.day": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "endDate.month": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query"
                },
                "endDate.year": {
                  "location": "query",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^domains/[^/]+$",
                  "type": "string",
                  "description": "The resource name of the domain whose traffic statistics we'd like to list. It should have the form `domains/{domain_name}`, where domain_name is the fully qualified domain name.",
                  "location": "path",
                  "required": true
                },
                "startDate.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "startDate.day": {
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The next_page_token value returned from a previous List request, if any. This is the value of ListTrafficStatsResponse.next_page_token returned from the previous call to `ListTrafficStats` method.",
                  "type": "string"
                },
                "startDate.year": {
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size. Server may return fewer TrafficStats than requested. If unspecified, server will pick an appropriate default.",
                  "format": "int32"
                }
              },
              "id": "gmailpostmastertools.domains.trafficStats.list",
              "path": "v1beta1/{+parent}/trafficStats",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/postmaster.readonly"
              ],
              "flatPath": "v1beta1/domains/{domainsId}/trafficStats"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^domains/[^/]+/trafficStats/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The resource name of the traffic statistics to get. E.g., domains/mymail.mydomain.com/trafficStats/20160807."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/postmaster.readonly"
              ],
              "description": "Get traffic statistics for a domain on a specific date. Returns PERMISSION_DENIED if user does not have permission to access TrafficStats for the domain.",
              "id": "gmailpostmastertools.domains.trafficStats.get",
              "flatPath": "v1beta1/domains/{domainsId}/trafficStats/{trafficStatsId}",
              "response": {
                "$ref": "TrafficStats"
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/gmail/postmaster",
  "name": "gmailpostmastertools",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/postmaster.readonly": {
          "description": "See email traffic metrics for the domains you have registered in Gmail Postmaster Tools"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "mtlsRootUrl": "https://gmailpostmastertools.mtls.googleapis.com/",
  "baseUrl": "https://gmailpostmastertools.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "title": "Gmail Postmaster Tools API",
  "canonicalName": "Postmaster Tools",
  "schemas": {
    "IpReputation": {
      "id": "IpReputation",
      "description": "IP Reputation information for a set of IPs in a specific reputation category.",
      "type": "object",
      "properties": {
        "sampleIps": {
          "description": "A sample of IPs in this reputation category.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reputation": {
          "type": "string",
          "description": "The reputation category this IP reputation represents.",
          "enumDescriptions": [
            "The default value which should never be used explicitly. This represents the state where no reputation information is available.",
            "Has a good track record of a very low spam rate, and complies with Gmail's sender guidelines. Mail will rarely be marked by the spam filter.",
            "Known to send good mail, but is prone to sending a low volume of spam intermittently. Most of the email from this entity will have a fair deliverability rate, except when there is a notable increase in spam levels.",
            "Known to send a considerable volume of spam regularly, and mail from this sender will likely be marked as spam.",
            "History of sending an enormously high volume of spam. Mail coming from this entity will almost always be rejected at SMTP level or marked as spam."
          ],
          "enum": [
            "REPUTATION_CATEGORY_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "BAD"
          ]
        },
        "numIps": {
          "type": "string",
          "description": "Total number of unique IPs in this reputation category. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "format": "int64"
        }
      }
    },
    "ListDomainsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "domains": {
          "type": "array",
          "description": "The list of domains.",
          "items": {
            "$ref": "Domain"
          }
        }
      },
      "id": "ListDomainsResponse",
      "type": "object",
      "description": "Response message for ListDomains."
    },
    "DeliveryError": {
      "properties": {
        "errorType": {
          "description": "The type of delivery error.",
          "type": "string",
          "enumDescriptions": [
            "The default value which should never be used explicitly.",
            "The Domain or IP is sending traffic at a suspiciously high rate, due to which temporary rate limits have been imposed. The limit will be lifted when Gmail is confident enough of the nature of the traffic.",
            "The traffic is suspected to be spam, by Gmail, for various reasons.",
            "The traffic is suspected to be spammy, specific to the content.",
            "Traffic contains attachments not supported by Gmail.",
            "The sender domain has set up a DMARC rejection policy.",
            "The IP reputation of the sending IP is very low.",
            "The Domain reputation of the sending domain is very low.",
            "The IP is listed in one or more public [Real-time Blackhole Lists](http://en.wikipedia.org/wiki/DNSBL). Work with the RBL to get your IP delisted.",
            "The Domain is listed in one or more public [Real-time Blackhole Lists](http://en.wikipedia.org/wiki/DNSBL). Work with the RBL to get your domain delisted.",
            "The sending IP is missing a [PTR record](https://support.google.com/domains/answer/3251147#ptr)."
          ],
          "enum": [
            "DELIVERY_ERROR_TYPE_UNSPECIFIED",
            "RATE_LIMIT_EXCEEDED",
            "SUSPECTED_SPAM",
            "CONTENT_SPAMMY",
            "BAD_ATTACHMENT",
            "BAD_DMARC_POLICY",
            "LOW_IP_REPUTATION",
            "LOW_DOMAIN_REPUTATION",
            "IP_IN_RBL",
            "DOMAIN_IN_RBL",
            "BAD_PTR_RECORD"
          ]
        },
        "errorRatio": {
          "format": "double",
          "type": "number",
          "description": "The ratio of messages where the error occurred vs all authenticated traffic."
        },
        "errorClass": {
          "type": "string",
          "enum": [
            "DELIVERY_ERROR_CLASS_UNSPECIFIED",
            "PERMANENT_ERROR",
            "TEMPORARY_ERROR"
          ],
          "enumDescriptions": [
            "The default value which should never be used explicitly.",
            "Delivery of message has been rejected.",
            "Temporary failure of message delivery to the recipient."
          ],
          "description": "The class of delivery error."
        }
      },
      "type": "object",
      "id": "DeliveryError",
      "description": "Metric on a particular delivery error type."
    },
    "TrafficStats": {
      "properties": {
        "inboundEncryptionRatio": {
          "type": "number",
          "format": "double",
          "description": "The ratio of incoming mail (to Gmail), that passed secure transport (TLS) vs all mail received from that domain. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/)."
        },
        "dmarcSuccessRatio": {
          "type": "number",
          "description": "The ratio of mail that passed [DMARC](https://dmarc.org/) alignment checks vs all mail received from the domain that successfully authenticated with either of [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/).",
          "format": "double"
        },
        "spfSuccessRatio": {
          "description": "The ratio of mail that successfully authenticated with SPF vs. all mail that attempted to authenticate with [SPF](http://www.openspf.org/). Spoofed mail is excluded.",
          "type": "number",
          "format": "double"
        },
        "name": {
          "description": "The resource name of the traffic statistics. Traffic statistic names have the form `domains/{domain}/trafficStats/{date}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com) of the domain this traffic statistics pertains to and date is the date in yyyymmdd format that these statistics corresponds to. For example: domains/mymail.mydomain.com/trafficStats/20160807",
          "type": "string"
        },
        "dkimSuccessRatio": {
          "type": "number",
          "description": "The ratio of mail that successfully authenticated with DKIM vs. all mail that attempted to authenticate with [DKIM](http://www.dkim.org/). Spoofed mail is excluded.",
          "format": "double"
        },
        "spammyFeedbackLoops": {
          "items": {
            "$ref": "FeedbackLoop"
          },
          "description": "Spammy [Feedback loop identifiers] (https://support.google.com/mail/answer/6254652) with their individual spam rates. This metric only pertains to traffic that is authenticated by [DKIM](http://www.dkim.org/).",
          "type": "array"
        },
        "ipReputations": {
          "description": "Reputation information pertaining to the IP addresses of the email servers for the domain. There is exactly one entry for each reputation category except REPUTATION_CATEGORY_UNSPECIFIED.",
          "items": {
            "$ref": "IpReputation"
          },
          "type": "array"
        },
        "deliveryErrors": {
          "items": {
            "$ref": "DeliveryError"
          },
          "type": "array",
          "description": "Delivery errors for the domain. This metric only pertains to traffic that passed [SPF](http://www.openspf.org/) or [DKIM](http://www.dkim.org/)."
        },
        "domainReputation": {
          "enum": [
            "REPUTATION_CATEGORY_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "BAD"
          ],
          "type": "string",
          "description": "Reputation of the domain.",
          "enumDescriptions": [
            "The default value which should never be used explicitly. This represents the state where no reputation information is available.",
            "Has a good track record of a very low spam rate, and complies with Gmail's sender guidelines. Mail will rarely be marked by the spam filter.",
            "Known to send good mail, but is prone to sending a low volume of spam intermittently. Most of the email from this entity will have a fair deliverability rate, except when there is a notable increase in spam levels.",
            "Known to send a considerable volume of spam regularly, and mail from this sender will likely be marked as spam.",
            "History of sending an enormously high volume of spam. Mail coming from this entity will almost always be rejected at SMTP level or marked as spam."
          ]
        },
        "userReportedSpamRatio": {
          "type": "number",
          "format": "double",
          "description": "The ratio of user-report spam vs. email that was sent to the inbox. This metric only pertains to emails authenticated by [DKIM](http://www.dkim.org/)."
        },
        "outboundEncryptionRatio": {
          "type": "number",
          "description": "The ratio of outgoing mail (from Gmail) that was accepted over secure transport (TLS).",
          "format": "double"
        }
      },
      "description": "Email traffic statistics pertaining to a specific date.",
      "type": "object",
      "id": "TrafficStats"
    },
    "ListTrafficStatsResponse": {
      "description": "Response message for ListTrafficStats.",
      "type": "object",
      "id": "ListTrafficStatsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "trafficStats": {
          "items": {
            "$ref": "TrafficStats"
          },
          "description": "The list of TrafficStats.",
          "type": "array"
        }
      }
    },
    "FeedbackLoop": {
      "properties": {
        "id": {
          "description": "Feedback loop identifier that uniquely identifies individual campaigns.",
          "type": "string"
        },
        "spamRatio": {
          "description": "The ratio of user marked spam messages with the identifier vs the total number of inboxed messages with that identifier.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "[Feedback loop](https://support.google.com/mail/answer/6254652) identifier information.",
      "id": "FeedbackLoop"
    },
    "Domain": {
      "properties": {
        "permission": {
          "enum": [
            "PERMISSION_UNSPECIFIED",
            "OWNER",
            "READER",
            "NONE"
          ],
          "enumDescriptions": [
            "The default value and should never be used explicitly.",
            "User has read access to the domain and can share access with others.",
            "User has read access to the domain.",
            "User doesn't have permission to access information about the domain. User did not verify ownership of domain nor was access granted by other domain owners."
          ],
          "description": "User’s permission for this domain. Assigned by the server.",
          "type": "string"
        },
        "createTime": {
          "description": "Timestamp when the user registered this domain. Assigned by the server.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Domain. Domain names have the form `domains/{domain_name}`, where domain_name is the fully qualified domain name (i.e., mymail.mydomain.com)."
        }
      },
      "id": "Domain",
      "description": "A registered domain resource in the Postmaster API.",
      "type": "object"
    }
  },
  "basePath": "",
  "version": "v1beta1",
  "id": "gmailpostmastertools:v1beta1",
  "version_module": true,
  "rootUrl": "https://gmailpostmastertools.googleapis.com/",
  "description": "The Postmaster Tools API is a RESTful API that provides programmatic access to email traffic metrics (like spam reports, delivery errors etc) otherwise available through the Gmail Postmaster Tools UI currently.",
  "revision": "20201012",
  "servicePath": ""
}
