{
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/healthcare",
  "ownerName": "Google",
  "batchPath": "batch",
  "baseUrl": "https://healthcare.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "id": "healthcare:v1",
  "protocol": "rest",
  "version_module": true,
  "mtlsRootUrl": "https://healthcare.mtls.googleapis.com/",
  "rootUrl": "https://healthcare.googleapis.com/",
  "revision": "20210830",
  "servicePath": "",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "description": "Manage, store, and access healthcare data in Google Cloud Platform.",
  "discoveryVersion": "v1",
  "name": "healthcare",
  "schemas": {
    "ProgressCounter": {
      "description": "ProgressCounter provides counters to describe an operation's progress.",
      "properties": {
        "failure": {
          "format": "int64",
          "type": "string",
          "description": "The number of units that failed in the operation."
        },
        "success": {
          "description": "The number of units that succeeded in the operation.",
          "format": "int64",
          "type": "string"
        },
        "pending": {
          "type": "string",
          "format": "int64",
          "description": "The number of units that are pending in the operation."
        }
      },
      "type": "object",
      "id": "ProgressCounter"
    },
    "FieldMetadata": {
      "type": "object",
      "id": "FieldMetadata",
      "properties": {
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "TRANSFORM",
            "INSPECT_AND_TRANSFORM",
            "DO_NOT_TRANSFORM"
          ],
          "type": "string",
          "description": "Deidentify action for one field.",
          "enumDescriptions": [
            "No action specified.",
            "Transform the entire field.",
            "Inspect and transform any found PHI.",
            "Do not transform."
          ]
        },
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of paths to FHIR fields to be redacted. Each path is a period-separated list where each component is either a field name or FHIR type name, for example: Patient, HumanName. For \"choice\" types (those defined in the FHIR spec with the form: field[x]) we use two separate components. For example, \"deceasedAge.unit\" is matched by \"Deceased.Age.unit\". Supported types are: AdministrativeGenderCode, Code, Date, DateTime, Decimal, HumanName, Id, LanguageCode, Markdown, Oid, String, Uri, Uuid, Xhtml. Base64Binary is also supported, but may only be kept as-is or have all the content removed."
        }
      },
      "description": "Specifies FHIR paths to match, and how to handle de-identification of matching fields."
    },
    "Type": {
      "id": "Type",
      "properties": {
        "fields": {
          "items": {
            "$ref": "Field"
          },
          "description": "The (sub) fields this type has (if not primitive).",
          "type": "array"
        },
        "name": {
          "description": "The name of this type. This would be the segment or datatype name. For example, \"PID\" or \"XPN\".",
          "type": "string"
        },
        "primitive": {
          "description": "If this is a primitive type then this field is the type of the primitive For example, STRING. Leave unspecified for composite types.",
          "type": "string",
          "enum": [
            "PRIMITIVE_UNSPECIFIED",
            "STRING",
            "VARIES",
            "UNESCAPED_STRING"
          ],
          "enumDescriptions": [
            "Not a primitive.",
            "String primitive.",
            "Element that can have unschematized children.",
            "Like STRING, but all delimiters below this element are ignored."
          ]
        }
      },
      "description": "A type definition for some HL7v2 type (incl. Segments and Datatypes).",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "id": "AuditConfig",
      "type": "object"
    },
    "Hl7V2Store": {
      "type": "object",
      "properties": {
        "parserConfig": {
          "description": "The configuration for the parser. It determines how the server parses the messages.",
          "$ref": "ParserConfig"
        },
        "notificationConfigs": {
          "description": "A list of notification configs. Each configuration uses a filter to determine whether to publish a message (both Ingest & Create) on the corresponding notification destination. Only the message name is sent as part of the notification. Supplied by the client.",
          "items": {
            "$ref": "Hl7V2NotificationConfig"
          },
          "type": "array"
        },
        "rejectDuplicateMessage": {
          "type": "boolean",
          "description": "Determines whether to reject duplicate messages. A duplicate message is a message with the same raw bytes as a message that has already been ingested/created in this HL7v2 store. The default value is false, meaning that the store accepts the duplicate messages and it also returns the same ACK message in the IngestMessageResponse as has been returned previously. Note that only one resource is created in the store. When this field is set to true, CreateMessage/IngestMessage requests with a duplicate message will be rejected by the store, and IngestMessageErrorDetail returns a NACK message upon rejection."
        },
        "name": {
          "description": "Resource name of the HL7v2 store, of the form `projects/{project_id}/datasets/{dataset_id}/hl7V2Stores/{hl7v2_store_id}`.",
          "type": "string"
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize HL7v2 stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Represents an HL7v2 store.",
      "id": "Hl7V2Store"
    },
    "Hl7TypesConfig": {
      "id": "Hl7TypesConfig",
      "type": "object",
      "description": "Root config for HL7v2 datatype definitions for a specific HL7v2 version.",
      "properties": {
        "version": {
          "description": "The version selectors that this config applies to. A message must match ALL version sources to apply.",
          "type": "array",
          "items": {
            "$ref": "VersionSource"
          }
        },
        "type": {
          "type": "array",
          "description": "The HL7v2 type definitions.",
          "items": {
            "$ref": "Type"
          }
        }
      }
    },
    "CryptoHashConfig": {
      "type": "object",
      "id": "CryptoHashConfig",
      "properties": {
        "cryptoKey": {
          "description": "An AES 128/192/256 bit key. Causes the hash to be computed based on this key. A default key is generated for each Deidentify operation and is used wherever crypto_key is not specified.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "Pseudonymization method that generates surrogates via cryptographic hashing. Uses SHA-256. Outputs a base64-encoded representation of the hashed output (for example, `L7k0BHmF1ha5U3NfGykjro4xWi1MPVQPjhMAZbSV9mM=`)."
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "DateShiftConfig": {
      "description": "Shift a date forward or backward in time by a random amount which is consistent for a given patient and crypto key combination.",
      "properties": {
        "cryptoKey": {
          "description": "An AES 128/192/256 bit key. Causes the shift to be computed based on this key and the patient ID. A default key is generated for each Deidentify operation and is used wherever crypto_key is not specified.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "DateShiftConfig",
      "type": "object"
    },
    "Signature": {
      "id": "Signature",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Metadata associated with the user's signature. For example, the user's name or the user's title.",
          "type": "object"
        },
        "image": {
          "$ref": "Image",
          "description": "Optional. An image of the user's signature."
        },
        "userId": {
          "type": "string",
          "description": "Required. User's UUID provided by the client."
        },
        "signatureTime": {
          "type": "string",
          "description": "Optional. Timestamp of the signature.",
          "format": "google-datetime"
        }
      },
      "description": "User signature."
    },
    "Hl7SchemaConfig": {
      "description": "Root config message for HL7v2 schema. This contains a schema structure of groups and segments, and filters that determine which messages to apply the schema structure to.",
      "id": "Hl7SchemaConfig",
      "properties": {
        "messageSchemaConfigs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SchemaGroup"
          },
          "description": "Map from each HL7v2 message type and trigger event pair, such as ADT_A04, to its schema configuration root group."
        },
        "version": {
          "description": "Each VersionSource is tested and only if they all match is the schema used for the message.",
          "items": {
            "$ref": "VersionSource"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SchematizedData": {
      "id": "SchematizedData",
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "The error output of the parser."
        },
        "data": {
          "description": "JSON output of the parser.",
          "type": "string"
        }
      },
      "description": "The content of an HL7v2 message in a structured format as specified by a schema."
    },
    "ExportDicomDataResponse": {
      "type": "object",
      "description": "Returns additional information in regards to a completed DICOM store export.",
      "id": "ExportDicomDataResponse",
      "properties": {}
    },
    "ListMessagesResponse": {
      "type": "object",
      "properties": {
        "hl7V2Messages": {
          "description": "The returned Messages. Won't be more Messages than the value of page_size in the request. See view for populated fields.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Lists the messages in the specified HL7v2 store.",
      "id": "ListMessagesResponse"
    },
    "UserDataMapping": {
      "description": "Maps a resource to the associated user and Attributes.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the User data mapping, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/userDataMappings/{user_data_mapping_id}`."
        },
        "archiveTime": {
          "description": "Output only. Indicates the time when this mapping was archived.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "archived": {
          "description": "Output only. Indicates whether this mapping is archived.",
          "type": "boolean",
          "readOnly": true
        },
        "userId": {
          "type": "string",
          "description": "Required. User's UUID provided by the client."
        },
        "dataId": {
          "type": "string",
          "description": "Required. A unique identifier for the mapped resource."
        },
        "resourceAttributes": {
          "items": {
            "$ref": "Attribute"
          },
          "type": "array",
          "description": "Attributes of the resource. Only explicitly set attributes are displayed here. Attribute definitions with defaults set implicitly apply to these User data mappings. Attributes listed here must be single valued, that is, exactly one value is specified for the field \"values\" in each Attribute."
        }
      },
      "id": "UserDataMapping",
      "type": "object"
    },
    "DicomFilterConfig": {
      "type": "object",
      "description": "Specifies the filter configuration for DICOM resources.",
      "id": "DicomFilterConfig",
      "properties": {
        "resourcePathsGcsUri": {
          "description": "The Cloud Storage location of the filter configuration file. The `gcs_uri` must be in the format `gs://bucket/path/to/object`. The filter configuration file must contain a list of resource paths separated by newline characters (\\n or \\r\\n). Each resource path must be in the format \"/studies/{studyUID}[/series/{seriesUID}[/instances/{instanceUID}]]\" The Cloud Healthcare API service account must have the `roles/storage.objectViewer` Cloud IAM role for this Cloud Storage location.",
          "type": "string"
        }
      }
    },
    "CheckDataAccessResponse": {
      "type": "object",
      "id": "CheckDataAccessResponse",
      "properties": {
        "consented": {
          "description": "Whether the requested resource is consented for the given use.",
          "type": "boolean"
        },
        "consentDetails": {
          "additionalProperties": {
            "$ref": "ConsentEvaluation"
          },
          "type": "object",
          "description": "The resource names of all evaluated Consents mapped to their evaluation."
        }
      },
      "description": "Checks if a particular data_id of a User data mapping in the given consent store is consented for a given use."
    },
    "ImageConfig": {
      "properties": {
        "textRedactionMode": {
          "description": "Determines how to redact text from image.",
          "enumDescriptions": [
            "No text redaction specified. Same as REDACT_NO_TEXT.",
            "Redact all text.",
            "Redact sensitive text.",
            "Do not redact text."
          ],
          "enum": [
            "TEXT_REDACTION_MODE_UNSPECIFIED",
            "REDACT_ALL_TEXT",
            "REDACT_SENSITIVE_TEXT",
            "REDACT_NO_TEXT"
          ],
          "type": "string"
        }
      },
      "description": "Specifies how to handle de-identification of image pixels.",
      "type": "object",
      "id": "ImageConfig"
    },
    "DeidentifyDatasetRequest": {
      "properties": {
        "config": {
          "description": "Deidentify configuration.",
          "$ref": "DeidentifyConfig"
        },
        "destinationDataset": {
          "description": "The name of the dataset resource to create and write the redacted data to. * The destination dataset must not exist. * The destination dataset must be in the same location as the source dataset. De-identifying data across multiple locations is not supported.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Redacts identifying information from the specified dataset.",
      "id": "DeidentifyDatasetRequest"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AttributeDefinition": {
      "id": "AttributeDefinition",
      "description": "A client-defined consent attribute.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A description of the attribute."
        },
        "name": {
          "description": "Resource name of the Attribute definition, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/attributeDefinitions/{attribute_definition_id}`. Cannot be changed after creation.",
          "type": "string"
        },
        "dataMappingDefaultValue": {
          "description": "Optional. Default value of the attribute in User data mappings. If no default value is specified, it defaults to an empty value. This field is only applicable to attributes of the category `RESOURCE`.",
          "type": "string"
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Possible values for the attribute. The number of allowed values must not exceed 100. An empty list is invalid. The list can only be expanded after creation."
        },
        "consentDefaultValues": {
          "type": "array",
          "description": "Optional. Default values of the attribute in Consents. If no default values are specified, it defaults to an empty value.",
          "items": {
            "type": "string"
          }
        },
        "category": {
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE",
            "REQUEST"
          ],
          "enumDescriptions": [
            "No category specified. This option is invalid.",
            "Specify this category when this attribute describes the properties of resources. For example, data anonymity or data type.",
            "Specify this category when this attribute describes the properties of requests. For example, requester's role or requester's organization."
          ],
          "type": "string",
          "description": "Required. The category of the attribute. The value of this field cannot be changed after creation."
        }
      }
    },
    "ImportDicomDataRequest": {
      "description": "Imports data into the specified DICOM store. Returns an error if any of the files to import are not DICOM files. This API accepts duplicate DICOM instances by ignoring the newly-pushed instance. It does not overwrite.",
      "id": "ImportDicomDataRequest",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudHealthcareV1DicomGcsSource",
          "description": "Cloud Storage source data location and import configuration. The Cloud Healthcare Service Agent requires the `roles/storage.objectViewer` Cloud IAM roles on the Cloud Storage location."
        }
      },
      "type": "object"
    },
    "DicomStore": {
      "description": "Represents a DICOM store.",
      "id": "DicomStore",
      "type": "object",
      "properties": {
        "notificationConfig": {
          "description": "Notification destination for new DICOM instances. Supplied by the client.",
          "$ref": "NotificationConfig"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the DICOM store, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`."
        },
        "labels": {
          "description": "User-supplied key-value pairs used to organize DICOM stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudHealthcareV1DicomGcsSource": {
      "type": "object",
      "id": "GoogleCloudHealthcareV1DicomGcsSource",
      "properties": {
        "uri": {
          "description": "Points to a Cloud Storage URI containing file(s) with content only. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * '*' to match 0 or more non-separator characters * '**' to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .dcm), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.dcm` imports all files with .dcm extensions in `my-directory/` and its sub-directories. * '?' to match 1 character. All other URI formats are invalid. Files matching the wildcard are expected to contain content only, no metadata.",
          "type": "string"
        }
      },
      "description": "Specifies the configuration for importing data from Cloud Storage."
    },
    "OperationMetadata": {
      "description": "OperationMetadata provides information about the operation execution. Returned in the long-running operation's metadata field.",
      "properties": {
        "apiMethodName": {
          "description": "The name of the API method that initiated the operation.",
          "type": "string"
        },
        "cancelRequested": {
          "description": "Specifies if cancellation was requested for the operation.",
          "type": "boolean"
        },
        "createTime": {
          "description": "The time at which the operation was created by the API.",
          "type": "string",
          "format": "google-datetime"
        },
        "counter": {
          "$ref": "ProgressCounter"
        },
        "endTime": {
          "description": "The time at which execution was completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "logsUrl": {
          "description": "A link to audit and error logs in the log viewer. Error logs are generated only by some operations, listed at [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging).",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "GoogleCloudHealthcareV1DicomGcsDestination": {
      "description": "The Cloud Storage location where the server writes the output and the export configuration.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "MIME types supported by DICOM spec. Each file is written in the following format: `.../{study_id}/{series_id}/{instance_id}[/{frame_number}].{extension}` The frame_number component exists only for multi-frame instances. Supported MIME types are consistent with supported formats in DICOMweb: https://cloud.google.com/healthcare/docs/dicom#retrieve_transaction. Specifically, the following are supported: - application/dicom; transfer-syntax=1.2.840.10008.1.2.1 (uncompressed DICOM) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.50 (DICOM with embedded JPEG Baseline) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.90 (DICOM with embedded JPEG 2000 Lossless Only) - application/dicom; transfer-syntax=1.2.840.10008.1.2.4.91 (DICOM with embedded JPEG 2000) - application/dicom; transfer-syntax=* (DICOM with no transcoding) - application/octet-stream; transfer-syntax=1.2.840.10008.1.2.1 (raw uncompressed PixelData) - application/octet-stream; transfer-syntax=* (raw PixelData in whatever format it was uploaded in) - image/jpeg; transfer-syntax=1.2.840.10008.1.2.4.50 (Consumer JPEG) - image/png The following extensions are used for output files: - application/dicom -\u003e .dcm - image/jpeg -\u003e .jpg - image/png -\u003e .png - application/octet-stream -\u003e no extension If unspecified, the instances are exported in the original DICOM format they were uploaded in."
        },
        "uriPrefix": {
          "type": "string",
          "description": "The Cloud Storage destination to export to. URI for a Cloud Storage directory where the server writes the result files, in the format `gs://{bucket-id}/{path/to/destination/dir}`). If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`."
        }
      },
      "type": "object",
      "id": "GoogleCloudHealthcareV1DicomGcsDestination"
    },
    "AnalyzeEntitiesRequest": {
      "id": "AnalyzeEntitiesRequest",
      "properties": {
        "licensedVocabularies": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "No licensed vocabulary specified.",
              "ICD-10-CM vocabulary",
              "SNOMED CT (US version) vocabulary"
            ],
            "enum": [
              "LICENSED_VOCABULARY_UNSPECIFIED",
              "ICD10CM",
              "SNOMEDCT_US"
            ]
          },
          "description": "A list of licensed vocabularies to use in the request, in addition to the default unlicensed vocabularies."
        },
        "documentContent": {
          "type": "string",
          "description": "document_content is a document to be annotated."
        }
      },
      "description": "The request to analyze healthcare entities in a document.",
      "type": "object"
    },
    "ActivateConsentRequest": {
      "id": "ActivateConsentRequest",
      "description": "Activates the latest revision of the specified Consent by committing a new revision with `state` updated to `ACTIVE`. If the latest revision of the given Consent is in the `ACTIVE` state, no new revision is committed. A FAILED_PRECONDITION error occurs if the latest revision of the given consent is in the `REJECTED` or `REVOKED` state.",
      "properties": {
        "ttl": {
          "description": "The time to live for this Consent from when it is marked as active.",
          "type": "string",
          "format": "google-duration"
        },
        "consentArtifact": {
          "type": "string",
          "description": "Required. The resource name of the Consent artifact that contains documentation of the user's consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. If the draft Consent had a Consent artifact, this Consent artifact overwrites it."
        },
        "expireTime": {
          "type": "string",
          "description": "Timestamp in UTC of when this Consent is considered expired.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListAttributeDefinitionsResponse": {
      "id": "ListAttributeDefinitionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "attributeDefinitions": {
          "description": "The returned Attribute definitions. The maximum number of attributes returned is determined by the value of page_size in the ListAttributeDefinitionsRequest.",
          "type": "array",
          "items": {
            "$ref": "AttributeDefinition"
          }
        }
      },
      "type": "object"
    },
    "QueryAccessibleDataResponse": {
      "type": "object",
      "id": "QueryAccessibleDataResponse",
      "description": "Response for successful QueryAccessibleData operations. This structure is included in the response upon operation completion.",
      "properties": {
        "gcsUris": {
          "description": "List of files, each of which contains a list of data_id(s) that are consented for a specified use in the request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "id": "Empty"
    },
    "IngestMessageRequest": {
      "description": "Ingests a message into the specified HL7v2 store.",
      "properties": {
        "message": {
          "description": "HL7v2 message to ingest.",
          "$ref": "Message"
        }
      },
      "id": "IngestMessageRequest",
      "type": "object"
    },
    "TagFilterList": {
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags to be filtered. Tags must be DICOM Data Elements, File Meta Elements, or Directory Structuring Elements, as defined at: http://dicom.nema.org/medical/dicom/current/output/html/part06.html#table_6-1,. They may be provided by \"Keyword\" or \"Tag\". For example \"PatientID\", \"00100010\"."
        }
      },
      "description": "List of tags to be filtered.",
      "id": "TagFilterList",
      "type": "object"
    },
    "ReplaceWithInfoTypeConfig": {
      "id": "ReplaceWithInfoTypeConfig",
      "type": "object",
      "properties": {},
      "description": "When using the INSPECT_AND_TRANSFORM action, each match is replaced with the name of the info_type. For example, \"My name is Jane\" becomes \"My name is [PERSON_NAME].\" The TRANSFORM action is equivalent to redacting."
    },
    "Consent": {
      "description": "Represents a user's consent.",
      "properties": {
        "revisionId": {
          "description": "Output only. The revision ID of the Consent. The format is an 8-character hexadecimal string. Refer to a specific revision of a Consent by appending `@{revision_id}` to the Consent's resource name.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-supplied key-value pairs used to organize Consent resources. Metadata keys must: - be between 1 and 63 characters long - have a UTF-8 encoding of maximum 128 bytes - begin with a letter - consist of up to 63 characters including lowercase letters, numeric characters, underscores, and dashes Metadata values must be: - be between 1 and 63 characters long - have a UTF-8 encoding of maximum 128 bytes - consist of up to 63 characters including lowercase letters, numeric characters, underscores, and dashes No more than 64 metadata entries can be associated with a given consent."
        },
        "state": {
          "type": "string",
          "description": "Required. Indicates the current state of this Consent.",
          "enumDescriptions": [
            "No state specified. Treated as ACTIVE only at the time of resource creation.",
            "The Consent is active and is considered when evaluating a user's consent on resources.",
            "The archived state is currently not being used.",
            "A revoked Consent is not considered when evaluating a user's consent on resources.",
            "A draft Consent is not considered when evaluating a user's consent on resources unless explicitly specified.",
            "When a draft Consent is rejected by a user, it is set to a rejected state. A rejected Consent is not considered when evaluating a user's consent on resources."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "REVOKED",
            "DRAFT",
            "REJECTED"
          ]
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "Input only. The time to live for this Consent from when it is created."
        },
        "consentArtifact": {
          "description": "Required. The resource name of the Consent artifact that contains proof of the end user's consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`.",
          "type": "string"
        },
        "expireTime": {
          "description": "Timestamp in UTC of when this Consent is considered expired.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the Consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consents/{consent_id}`. Cannot be changed after creation."
        },
        "userId": {
          "type": "string",
          "description": "Required. User's UUID provided by the client."
        },
        "revisionCreateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp that the revision was created.",
          "format": "google-datetime"
        },
        "policies": {
          "items": {
            "$ref": "GoogleCloudHealthcareV1ConsentPolicy"
          },
          "type": "array",
          "description": "Optional. Represents a user's consent in terms of the resources that can be accessed and under what conditions."
        }
      },
      "type": "object",
      "id": "Consent"
    },
    "ImportResourcesRequest": {
      "id": "ImportResourcesRequest",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudHealthcareV1FhirGcsSource",
          "description": "Cloud Storage source data location and import configuration. The Healthcare Service Agent account requires the `roles/storage.objectAdmin` role on the Cloud Storage location. Each Cloud Storage object should be a text file that contains the format specified in ContentStructure."
        },
        "contentStructure": {
          "enumDescriptions": [
            "If the content structure is not specified, the default value `BUNDLE` is used.",
            "The source file contains one or more lines of newline-delimited JSON (ndjson). Each line is a bundle that contains one or more resources.",
            "The source file contains one or more lines of newline-delimited JSON (ndjson). Each line is a single resource.",
            "The entire file is one JSON bundle. The JSON can span multiple lines.",
            "The entire file is one JSON resource. The JSON can span multiple lines."
          ],
          "enum": [
            "CONTENT_STRUCTURE_UNSPECIFIED",
            "BUNDLE",
            "RESOURCE",
            "BUNDLE_PRETTY",
            "RESOURCE_PRETTY"
          ],
          "description": "The content structure in the source location. If not specified, the server treats the input source files as BUNDLE.",
          "type": "string"
        }
      },
      "description": "Request to import resources."
    },
    "FhirStore": {
      "properties": {
        "disableResourceVersioning": {
          "type": "boolean",
          "description": "Immutable. Whether to disable resource versioning for this FHIR store. This field can not be changed after the creation of FHIR store. If set to false, which is the default behavior, all write operations cause historical versions to be recorded automatically. The historical versions can be fetched through the history APIs, but cannot be updated. If set to true, no historical versions are kept. The server sends errors for attempts to read the historical versions."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the FHIR store, of the form `projects/{project_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`."
        },
        "streamConfigs": {
          "type": "array",
          "description": "A list of streaming configs that configure the destinations of streaming export for every resource mutation in this FHIR store. Each store is allowed to have up to 10 streaming configs. After a new config is added, the next resource mutation is streamed to the new location in addition to the existing ones. When a location is removed from the list, the server stops streaming to that location. Before adding a new config, you must add the required [`bigquery.dataEditor`](https://cloud.google.com/bigquery/docs/access-control#bigquery.dataEditor) role to your project's **Cloud Healthcare Service Agent** [service account](https://cloud.google.com/iam/docs/service-accounts). Some lag (typically on the order of dozens of seconds) is expected before the results show up in the streaming destination.",
          "items": {
            "$ref": "StreamConfig"
          }
        },
        "defaultSearchHandlingStrict": {
          "description": "If true, overrides the default search behavior for this FHIR store to `handling=strict` which returns an error for unrecognized search parameters. If false, uses the FHIR specification default `handling=lenient` which ignores unrecognized search parameters. The handling can always be changed from the default on an individual API call by setting the HTTP header `Prefer: handling=strict` or `Prefer: handling=lenient`.",
          "type": "boolean"
        },
        "disableReferentialIntegrity": {
          "description": "Immutable. Whether to disable referential integrity in this FHIR store. This field is immutable after FHIR store creation. The default value is false, meaning that the API enforces referential integrity and fails the requests that result in inconsistent state in the FHIR store. When this field is set to true, the API skips referential integrity checks. Consequently, operations that rely on references, such as GetPatientEverything, do not return all the results if broken references exist.",
          "type": "boolean"
        },
        "enableUpdateCreate": {
          "type": "boolean",
          "description": "Whether this FHIR store has the [updateCreate capability](https://www.hl7.org/fhir/capabilitystatement-definitions.html#CapabilityStatement.rest.resource.updateCreate). This determines if the client can use an Update operation to create a new resource with a client-specified ID. If false, all IDs are server-assigned through the Create operation and attempts to update a non-existent resource return errors. It is strongly advised not to include or encode any sensitive data such as patient identifiers in client-specified resource IDs. Those IDs are part of the FHIR resource path recorded in Cloud audit logs and Pub/Sub notifications. Those IDs can also be contained in reference fields within other resources."
        },
        "notificationConfig": {
          "$ref": "NotificationConfig",
          "description": "If non-empty, publish all resource modifications of this FHIR store to this destination. The Pub/Sub message attributes contain a map with a string describing the action that has triggered the notification. For example, \"action\":\"CreateResource\"."
        },
        "labels": {
          "type": "object",
          "description": "User-supplied key-value pairs used to organize FHIR stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "enum": [
            "VERSION_UNSPECIFIED",
            "DSTU2",
            "STU3",
            "R4"
          ],
          "enumDescriptions": [
            "Users must specify a version on store creation or an error is returned.",
            "Draft Standard for Trial Use, [Release 2](https://www.hl7.org/fhir/DSTU2)",
            "Standard for Trial Use, [Release 3](https://www.hl7.org/fhir/STU3)",
            "[Release 4](https://www.hl7.org/fhir/R4)"
          ],
          "description": "Immutable. The FHIR specification version that this FHIR store supports natively. This field is immutable after store creation. Requests are rejected if they contain FHIR resources of a different version. Version is required for every FHIR store."
        }
      },
      "type": "object",
      "id": "FhirStore",
      "description": "Represents a FHIR store."
    },
    "Entity": {
      "description": "The candidate entities that an entity mention could link to.",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "entity_id is a first class field entity_id uniquely identifies this concept and its meta-vocabulary. For example, \"UMLS/C0000970\"."
        },
        "vocabularyCodes": {
          "description": "Vocabulary codes are first-class fields and differentiated from the concept unique identifier (entity_id). vocabulary_codes contains the representation of this concept in particular vocabularies, such as ICD-10, SNOMED-CT and RxNORM. These are prefixed by the name of the vocabulary, followed by the unique code within that vocabulary. For example, \"RXNORM/A10334543\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "preferredTerm": {
          "description": "preferred_term is the preferred term for this concept. For example, \"Acetaminophen\". For ad hoc entities formed by normalization, this is the most popular unnormalized string.",
          "type": "string"
        }
      },
      "id": "Entity",
      "type": "object"
    },
    "GoogleCloudHealthcareV1FhirGcsSource": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Points to a Cloud Storage URI containing file(s) to import. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The URI can include wildcards in `object_id` and thus identify multiple files. Supported wildcards: * `*` to match 0 or more non-separator characters * `**` to match 0 or more characters (including separators). Must be used at the end of a path and with no other wildcards in the path. Can also be used with a file extension (such as .ndjson), which imports all files with the extension in the specified directory and its sub-directories. For example, `gs://my-bucket/my-directory/**.ndjson` imports all files with `.ndjson` extensions in `my-directory/` and its sub-directories. * `?` to match 1 character Files matching the wildcard are expected to contain content only, no metadata."
        }
      },
      "id": "GoogleCloudHealthcareV1FhirGcsSource",
      "type": "object",
      "description": "Specifies the configuration for importing data from Cloud Storage."
    },
    "PatientId": {
      "properties": {
        "type": {
          "type": "string",
          "description": "ID type. For example, MRN or NHS."
        },
        "value": {
          "description": "The patient's unique identifier.",
          "type": "string"
        }
      },
      "description": "A patient identifier and associated type.",
      "id": "PatientId",
      "type": "object"
    },
    "CheckDataAccessRequest": {
      "id": "CheckDataAccessRequest",
      "description": "Checks if a particular data_id of a User data mapping in the given consent store is consented for a given use.",
      "properties": {
        "responseView": {
          "enum": [
            "RESPONSE_VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ],
          "type": "string",
          "enumDescriptions": [
            "No response view specified. The API will default to the BASIC view.",
            "Only the `consented` field is populated in CheckDataAccessResponse.",
            "All fields within CheckDataAccessResponse are populated. When set to `FULL`, all `ACTIVE` Consents are evaluated even if a matching policy is found during evaluation."
          ],
          "description": "Optional. The view for CheckDataAccessResponse. If unspecified, defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`."
        },
        "requestAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The values of request attributes associated with this access request.",
          "type": "object"
        },
        "dataId": {
          "description": "Required. The unique identifier of the resource to check access for. This identifier must correspond to a User data mapping in the given consent store.",
          "type": "string"
        },
        "consentList": {
          "$ref": "ConsentList",
          "description": "Optional. Specific Consents to evaluate the access request against. These Consents must have the same `user_id` as the evaluated User data mapping, must exist in the current `consent_store`, and have a `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 Consents can be provided here. If no selection is specified, the access request is evaluated against all `ACTIVE` unexpired Consents with the same `user_id` as the evaluated User data mapping."
        }
      },
      "type": "object"
    },
    "Image": {
      "type": "object",
      "description": "Raw bytes representing consent artifact content.",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Input only. Points to a Cloud Storage URI containing the consent artifact content. The URI must be in the following format: `gs://{bucket_id}/{object_id}`. The Cloud Healthcare API service account must have the `roles/storage.objectViewer` Cloud IAM role for this Cloud Storage location. The consent artifact content at this URI is copied to a Cloud Storage location managed by the Cloud Healthcare API. Responses to fetching requests return the consent artifact content in raw_bytes."
        },
        "rawBytes": {
          "type": "string",
          "description": "Consent artifact content represented as a stream of bytes. This field is populated when returned in GetConsentArtifact response, but not included in CreateConsentArtifact and ListConsentArtifact response.",
          "format": "byte"
        }
      },
      "id": "Image"
    },
    "SchemaSegment": {
      "id": "SchemaSegment",
      "properties": {
        "minOccurs": {
          "description": "The minimum number of times this segment can be present in this group.",
          "format": "int32",
          "type": "integer"
        },
        "maxOccurs": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of times this segment can be present in this group. 0 or -1 means unbounded."
        },
        "type": {
          "type": "string",
          "description": "The Segment type. For example, \"PID\"."
        }
      },
      "type": "object",
      "description": "An HL7v2 Segment."
    },
    "EntityMentionRelationship": {
      "description": "Defines directed relationship from one entity mention to another.",
      "id": "EntityMentionRelationship",
      "type": "object",
      "properties": {
        "subjectId": {
          "type": "string",
          "description": "subject_id is the id of the subject entity mention."
        },
        "objectId": {
          "description": "object_id is the id of the object entity mention.",
          "type": "string"
        },
        "confidence": {
          "description": "The model's confidence in this annotation. A number between 0 and 1.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "ConsentList": {
      "description": "List of resource names of Consent resources.",
      "type": "object",
      "properties": {
        "consents": {
          "items": {
            "type": "string"
          },
          "description": "The resource names of the Consents to evaluate against, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consents/{consent_id}`.",
          "type": "array"
        }
      },
      "id": "ConsentList"
    },
    "GoogleCloudHealthcareV1DeidentifyDeidentifyFhirStoreSummary": {
      "id": "GoogleCloudHealthcareV1DeidentifyDeidentifyFhirStoreSummary",
      "description": "Contains a summary of the DeidentifyFhirStore operation.",
      "type": "object",
      "properties": {}
    },
    "DeidentifyFhirStoreRequest": {
      "id": "DeidentifyFhirStoreRequest",
      "description": "Creates a new FHIR store with sensitive information de-identified.",
      "type": "object",
      "properties": {
        "destinationStore": {
          "type": "string",
          "description": "The name of the FHIR store to create and write the redacted data to. For example, `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`. * The destination dataset must exist. * The source dataset and destination dataset must both reside in the same location. De-identifying data across multiple locations is not supported. * The destination FHIR store must exist. * The caller must have the healthcare.fhirResources.update permission to write to the destination FHIR store."
        },
        "config": {
          "description": "Deidentify configuration.",
          "$ref": "DeidentifyConfig"
        },
        "resourceFilter": {
          "$ref": "FhirFilter",
          "description": "A filter specifying the resources to include in the output. If not specified, all resources are included in the output."
        }
      }
    },
    "NotificationConfig": {
      "properties": {
        "pubsubTopic": {
          "description": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. PubsubMessage.Data contains the resource name. PubsubMessage.MessageId is the ID of this message. It is guaranteed to be unique within the topic. PubsubMessage.PublishTime is the time at which the message was published. Notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. Cloud Healthcare API service account must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail. If a notification can't be published to Pub/Sub, errors are logged to Cloud Logging (see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)). If the number of errors exceeds a certain rate, some aren't submitted. Note that not all operations trigger notifications, see [Configuring Pub/Sub notifications](https://cloud.google.com/healthcare/docs/how-tos/pubsub) for specific details.",
          "type": "string"
        }
      },
      "id": "NotificationConfig",
      "type": "object",
      "description": "Specifies where to send notifications upon changes to a data store."
    },
    "ListConsentRevisionsResponse": {
      "type": "object",
      "id": "ListConsentRevisionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "consents": {
          "type": "array",
          "description": "The returned Consent revisions. The maximum number of revisions returned is determined by the value of `page_size` in the ListConsentRevisionsRequest.",
          "items": {
            "$ref": "Consent"
          }
        }
      }
    },
    "Feature": {
      "id": "Feature",
      "type": "object",
      "description": "A feature of an entity mention.",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double",
          "description": "The model's confidence in this feature annotation. A number between 0 and 1."
        },
        "value": {
          "type": "string",
          "description": "The value of this feature annotation. Its range depends on the type of the feature."
        }
      }
    },
    "ConsentArtifact": {
      "id": "ConsentArtifact",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. User's UUID provided by the client."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the Consent artifact, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`. Cannot be changed after creation."
        },
        "consentContentVersion": {
          "description": "Optional. An string indicating the version of the consent information shown to the user.",
          "type": "string"
        },
        "userSignature": {
          "description": "Optional. User's signature.",
          "$ref": "Signature"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Metadata associated with the Consent artifact. For example, the consent locale or user agent version."
        },
        "witnessSignature": {
          "description": "Optional. A signature from a witness.",
          "$ref": "Signature"
        },
        "consentContentScreenshots": {
          "type": "array",
          "description": "Optional. Screenshots, PDFs, or other binary information documenting the user's consent.",
          "items": {
            "$ref": "Image"
          }
        },
        "guardianSignature": {
          "$ref": "Signature",
          "description": "Optional. A signature from a guardian."
        }
      },
      "type": "object",
      "description": "Documentation of a user's consent."
    },
    "CreateMessageRequest": {
      "properties": {
        "message": {
          "$ref": "Message",
          "description": "HL7v2 message."
        }
      },
      "type": "object",
      "description": "Creates a new message.",
      "id": "CreateMessageRequest"
    },
    "Hl7V2NotificationConfig": {
      "description": "Specifies where and whether to send notifications upon changes to a data store.",
      "properties": {
        "pubsubTopic": {
          "description": "The [Pub/Sub](https://cloud.google.com/pubsub/docs/) topic that notifications of changes are published on. Supplied by the client. The notification is a `PubsubMessage` with the following fields: * `PubsubMessage.Data` contains the resource name. * `PubsubMessage.MessageId` is the ID of this notification. It's guaranteed to be unique within the topic. * `PubsubMessage.PublishTime` is the time when the message was published. Note that notifications are only sent if the topic is non-empty. [Topic names](https://cloud.google.com/pubsub/docs/overview#names) must be scoped to a project. The Cloud Healthcare API service account, service-PROJECT_NUMBER@gcp-sa-healthcare.iam.gserviceaccount.com, must have publisher permissions on the given Pub/Sub topic. Not having adequate permissions causes the calls that send notifications to fail. If a notification cannot be published to Pub/Sub, errors are logged to Cloud Logging. For more information, see [Viewing error logs in Cloud Logging](https://cloud.google.com/healthcare/docs/how-tos/logging)).",
          "type": "string"
        },
        "filter": {
          "description": "Restricts notifications sent for messages matching a filter. If this is empty, all messages are matched. The following syntax is available: * A string field value can be written as text inside quotation marks, for example `\"query text\"`. The only valid relational operation for text fields is equality (`=`), where text is searched within the field, rather than having the field be equal to the text. For example, `\"Comment = great\"` returns messages with `great` in the comment field. * A number field value can be written as an integer, a decimal, or an exponential. The valid relational operators for number fields are the equality operator (`=`), along with the less than/greater than operators (`\u003c`, `\u003c=`, `\u003e`, `\u003e=`). Note that there is no inequality (`!=`) operator. You can prepend the `NOT` operator to an expression to negate it. * A date field value must be written in `yyyy-mm-dd` form. Fields with date and time use the RFC3339 time format. Leading zeros are required for one-digit months and days. The valid relational operators for date fields are the equality operator (`=`) , along with the less than/greater than operators (`\u003c`, `\u003c=`, `\u003e`, `\u003e=`). Note that there is no inequality (`!=`) operator. You can prepend the `NOT` operator to an expression to negate it. * Multiple field query expressions can be combined in one query by adding `AND` or `OR` operators between the expressions. If a boolean operator appears within a quoted string, it is not treated as special, it's just another part of the character string to be matched. You can prepend the `NOT` operator to an expression to negate it. The following fields and functions are available for filtering: * `message_type`, from the MSH-9.1 field. For example, `NOT message_type = \"ADT\"`. * `send_date` or `sendDate`, the YYYY-MM-DD date the message was sent in the dataset's time_zone, from the MSH-7 segment. For example, `send_date \u003c \"2017-01-02\"`. * `send_time`, the timestamp when the message was sent, using the RFC3339 time format for comparisons, from the MSH-7 segment. For example, `send_time \u003c \"2017-01-02T00:00:00-05:00\"`. * `create_time`, the timestamp when the message was created in the HL7v2 store. Use the RFC3339 time format for comparisons. For example, `create_time \u003c \"2017-01-02T00:00:00-05:00\"`. * `send_facility`, the care center that the message came from, from the MSH-4 segment. For example, `send_facility = \"ABC\"`. * `PatientId(value, type)`, which matches if the message lists a patient having an ID of the given value and type in the PID-2, PID-3, or PID-4 segments. For example, `PatientId(\"123456\", \"MRN\")`. * `labels.x`, a string value of the label with key `x` as set using the Message.labels map. For example, `labels.\"priority\"=\"high\"`. The operator `:*` can be used to assert the existence of a label. For example, `labels.\"priority\":*`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Hl7V2NotificationConfig"
    },
    "Field": {
      "description": "A (sub) field of a type.",
      "id": "Field",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the field. For example, \"PID-1\" or just \"1\".",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of this field. A Type with this name must be defined in an Hl7TypesConfig."
        },
        "table": {
          "type": "string",
          "description": "The HL7v2 table this field refers to. For example, PID-15 (Patient's Primary Language) usually refers to table \"0296\"."
        },
        "maxOccurs": {
          "description": "The maximum number of times this field can be repeated. 0 or -1 means unbounded.",
          "format": "int32",
          "type": "integer"
        },
        "minOccurs": {
          "description": "The minimum number of times this field must be present/repeated.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListConsentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "consents": {
          "type": "array",
          "items": {
            "$ref": "Consent"
          },
          "description": "The returned Consents. The maximum number of Consents returned is determined by the value of page_size in the ListConsentsRequest."
        }
      },
      "type": "object",
      "id": "ListConsentsResponse"
    },
    "ExportResourcesRequest": {
      "id": "ExportResourcesRequest",
      "type": "object",
      "description": "Request to export resources.",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudHealthcareV1FhirGcsDestination",
          "description": "The Cloud Storage output destination. The Healthcare Service Agent account requires the `roles/storage.objectAdmin` role on the Cloud Storage location. The exported outputs are organized by FHIR resource types. The server creates one object per resource type. Each object contains newline delimited JSON, and each line is a FHIR resource."
        },
        "bigqueryDestination": {
          "description": "The BigQuery output destination. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`. The output is one BigQuery table per resource type. Unlike when setting `BigQueryDestination` for `StreamConfig`, `ExportResources` does not create BigQuery views.",
          "$ref": "GoogleCloudHealthcareV1FhirBigQueryDestination"
        }
      }
    },
    "ListConsentStoresResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "consentStores": {
          "items": {
            "$ref": "ConsentStore"
          },
          "description": "The returned consent stores. The maximum number of stores returned is determined by the value of page_size in the ListConsentStoresRequest.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListConsentStoresResponse"
    },
    "RedactConfig": {
      "description": "Define how to redact sensitive values. Default behaviour is erase. For example, \"My name is Jane.\" becomes \"My name is .\"",
      "id": "RedactConfig",
      "type": "object",
      "properties": {}
    },
    "RevokeConsentRequest": {
      "description": "Revokes the latest revision of the specified Consent by committing a new revision with `state` updated to `REVOKED`. If the latest revision of the given Consent is in the `REVOKED` state, no new revision is committed.",
      "type": "object",
      "id": "RevokeConsentRequest",
      "properties": {
        "consentArtifact": {
          "type": "string",
          "description": "Optional. The resource name of the Consent artifact that contains proof of the user's revocation of the Consent, of the form `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/consentStores/{consent_store_id}/consentArtifacts/{consent_artifact_id}`."
        }
      }
    },
    "EvaluateUserConsentsResponse": {
      "id": "EvaluateUserConsentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list. This token is valid for 72 hours after it is created."
        },
        "results": {
          "type": "array",
          "description": "The consent evaluation result for each `data_id`.",
          "items": {
            "$ref": "Result"
          }
        }
      },
      "type": "object"
    },
    "DeidentifySummary": {
      "id": "DeidentifySummary",
      "type": "object",
      "description": "Contains a summary of the Deidentify operation.",
      "properties": {}
    },
    "SearchResourcesRequest": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The FHIR resource type to search, such as Patient or Observation. For a complete list, see the FHIR Resource Index ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/resourcelist.html), [STU3](http://hl7.org/implement/standards/fhir/STU3/resourcelist.html), [R4](http://hl7.org/implement/standards/fhir/R4/resourcelist.html))."
        }
      },
      "id": "SearchResourcesRequest",
      "type": "object",
      "description": "Request to search the resources in the specified FHIR store."
    },
    "HttpBody": {
      "properties": {
        "extensions": {
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "id": "HttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object"
    },
    "ListHl7V2StoresResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list.",
          "type": "string"
        },
        "hl7V2Stores": {
          "type": "array",
          "items": {
            "$ref": "Hl7V2Store"
          },
          "description": "The returned HL7v2 stores. Won't be more HL7v2 stores than the value of page_size in the request."
        }
      },
      "description": "Lists the HL7v2 stores in the given dataset.",
      "type": "object",
      "id": "ListHl7V2StoresResponse"
    },
    "EvaluateUserConsentsRequest": {
      "properties": {
        "requestAttributes": {
          "description": "Required. The values of request attributes associated with this access request.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "responseView": {
          "enum": [
            "RESPONSE_VIEW_UNSPECIFIED",
            "BASIC",
            "FULL"
          ],
          "type": "string",
          "description": "Optional. The view for EvaluateUserConsentsResponse. If unspecified, defaults to `BASIC` and returns `consented` as `TRUE` or `FALSE`.",
          "enumDescriptions": [
            "No response view specified. The API will default to the BASIC view.",
            "Only the `data_id` and `consented` fields are populated in the response.",
            "All fields within the response are populated. When set to `FULL`, all `ACTIVE` Consents are evaluated even if a matching policy is found during evaluation."
          ]
        },
        "consentList": {
          "description": "Optional. Specific Consents to evaluate the access request against. These Consents must have the same `user_id` as the User data mappings being evalauted, must exist in the current `consent_store`, and must have a `state` of either `ACTIVE` or `DRAFT`. A maximum of 100 Consents can be provided here. If unspecified, all `ACTIVE` unexpired Consents in the current `consent_store` will be evaluated.",
          "$ref": "ConsentList"
        },
        "pageSize": {
          "description": "Optional. Limit on the number of User data mappings to return in a single response. If not specified, 100 is used. May not be larger than 1000.",
          "format": "int32",
          "type": "integer"
        },
        "userId": {
          "description": "Required. User ID to evaluate consents for.",
          "type": "string"
        },
        "resourceAttributes": {
          "description": "Optional. The values of resource attributes associated with the resources being requested. If no values are specified, then all resources are queried.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pageToken": {
          "description": "Optional. Token to retrieve the next page of results, or empty to get the first page.",
          "type": "string"
        }
      },
      "id": "EvaluateUserConsentsRequest",
      "type": "object",
      "description": "Evaluate a user's Consents for all matching User data mappings. Note: User data mappings are indexed asynchronously, causing slight delays between the time mappings are created or updated and when they are included in EvaluateUserConsents results."
    },
    "GoogleCloudHealthcareV1DicomBigQueryDestination": {
      "type": "object",
      "description": "The BigQuery table where the server writes the output.",
      "id": "GoogleCloudHealthcareV1DicomBigQueryDestination",
      "properties": {
        "tableUri": {
          "type": "string",
          "description": "BigQuery URI to a table, up to 2000 characters long, in the format `bq://projectId.bqDatasetId.tableId`"
        },
        "force": {
          "type": "boolean",
          "description": "If the destination table already exists and this flag is `TRUE`, the table is overwritten by the contents of the DICOM store. If the flag is not set and the destination table already exists, the export call returns an error."
        }
      }
    },
    "GoogleCloudHealthcareV1FhirGcsDestination": {
      "properties": {
        "uriPrefix": {
          "description": "URI for a Cloud Storage directory where result files should be written, in the format of `gs://{bucket-id}/{path/to/destination/dir}`. If there is no trailing slash, the service appends one when composing the object path. The user is responsible for creating the Cloud Storage bucket referenced in `uri_prefix`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The configuration for exporting to Cloud Storage.",
      "id": "GoogleCloudHealthcareV1FhirGcsDestination"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListLocationsResponse"
    },
    "Message": {
      "description": "A complete HL7v2 message. See [Introduction to HL7 Standards] (https://www.hl7.org/implement/standards/index.cfm?ref=common) for details on the standard.",
      "properties": {
        "messageType": {
          "description": "The message type for this message. MSH-9.1.",
          "type": "string"
        },
        "schematizedData": {
          "$ref": "SchematizedData",
          "description": "The parsed version of the raw message data schematized according to this store's schemas and type definitions."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The datetime when the message was created. Set by the server.",
          "readOnly": true,
          "type": "string"
        },
        "sendFacility": {
          "description": "The hospital that this message came from. MSH-4.",
          "type": "string"
        },
        "parsedData": {
          "description": "Output only. The parsed version of the raw message data.",
          "readOnly": true,
          "$ref": "ParsedData"
        },
        "patientIds": {
          "type": "array",
          "description": "All patient IDs listed in the PID-2, PID-3, and PID-4 segments of this message.",
          "items": {
            "$ref": "PatientId"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key-value pairs used to organize HL7v2 stores. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values are optional, must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store."
        },
        "sendTime": {
          "description": "The datetime the sending application sent this message. MSH-7.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Resource name of the Message, of the form `projects/{project_id}/datasets/{dataset_id}/hl7V2Stores/{hl7_v2_store_id}/messages/{message_id}`. Assigned by the server.",
          "type": "string"
        },
        "data": {
          "description": "Raw message bytes.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Message",
      "type": "object"
    },
    "GroupOrSegment": {
      "properties": {
        "segment": {
          "$ref": "SchemaSegment"
        },
        "group": {
          "$ref": "SchemaGroup"
        }
      },
      "type": "object",
      "description": "Construct representing a logical group or a segment.",
      "id": "GroupOrSegment"
    },
    "ParsedData": {
      "id": "ParsedData",
      "description": "The content of a HL7v2 message in a structured format.",
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "Segment"
          }
        }
      }
    },
    "Result": {
      "id": "Result",
      "description": "The consent evaluation result for a single `data_id`.",
      "properties": {
        "consented": {
          "type": "boolean",
          "description": "Whether the resource is consented for the given use."
        },
        "consentDetails": {
          "description": "The resource names of all evaluated Consents mapped to their evaluation.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConsentEvaluation"
          }
        },
        "dataId": {
          "description": "The unique identifier of the evaluated resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      }
    },
    "FhirConfig": {
      "properties": {
        "fieldMetadataList": {
          "items": {
            "$ref": "FieldMetadata"
          },
          "description": "Specifies FHIR paths to match and how to transform them. Any field that is not matched by a FieldMetadata is passed through to the output dataset unmodified. All extensions are removed in the output.",
          "type": "array"
        }
      },
      "description": "Specifies how to handle de-identification of a FHIR store.",
      "id": "FhirConfig",
      "type": "object"
    },
    "ExportDicomDataRequest": {
      "type": "object",
      "description": "Exports data from the specified DICOM store. If a given resource, such as a DICOM object with the same SOPInstance UID, already exists in the output, it is overwritten with the version in the source dataset. Exported DICOM data persists when the DICOM store from which it was exported is deleted.",
      "properties": {
        "bigqueryDestination": {
          "description": "The BigQuery output destination. You can only export to a BigQuery dataset that's in the same project as the DICOM store you're exporting from. The Cloud Healthcare Service Agent requires two IAM roles on the BigQuery location: `roles/bigquery.dataEditor` and `roles/bigquery.jobUser`.",
          "$ref": "GoogleCloudHealthcareV1DicomBigQueryDestination"
        },
        "gcsDestination": {
          "description": "The Cloud Storage output destination. The Cloud Healthcare Service Agent requires the `roles/storage.objectAdmin` Cloud IAM roles on the Cloud Storage location.",
          "$ref": "GoogleCloudHealthcareV1DicomGcsDestination"
        }
      },
      "id": "ExportDicomDataRequest"
    },
    "ImportDicomDataResponse": {
      "type": "object",
      "id": "ImportDicomDataResponse",
      "description": "Returns additional information in regards to a completed DICOM store import.",
      "properties": {}
    },
    "GoogleCloudHealthcareV1FhirBigQueryDestination": {
      "properties": {
        "schemaConfig": {
          "$ref": "SchemaConfig",
          "description": "The configuration for the exported BigQuery schema."
        },
        "force": {
          "type": "boolean",
          "description": "If this flag is `TRUE`, all tables are deleted from the dataset before the new exported tables are written. If the flag is not set and the destination dataset contains tables, the export call returns an error. If `write_disposition` is specified, this parameter is ignored. force=false is equivalent to write_disposition=WRITE_EMPTY and force=true is equivalent to write_disposition=WRITE_TRUNCATE."
        },
        "datasetUri": {
          "type": "string",
          "description": "BigQuery URI to an existing dataset, up to 2000 characters long, in the format `bq://projectId.bqDatasetId`."
        },
        "writeDisposition": {
          "type": "string",
          "enum": [
            "WRITE_DISPOSITION_UNSPECIFIED",
            "WRITE_EMPTY",
            "WRITE_TRUNCATE",
            "WRITE_APPEND"
          ],
          "description": "Determines if existing data in the destination dataset is overwritten, appended to, or not written if the tables contain data. If a write_disposition is specified, the `force` parameter is ignored.",
          "enumDescriptions": [
            "Default behavior is the same as WRITE_EMPTY.",
            "Only export data if the destination tables are empty.",
            "Erase all existing data in the tables before writing the instances.",
            "Append data to the existing tables."
          ]
        }
      },
      "id": "GoogleCloudHealthcareV1FhirBigQueryDestination",
      "type": "object",
      "description": "The configuration for exporting to BigQuery."
    },
    "TextConfig": {
      "type": "object",
      "id": "TextConfig",
      "properties": {
        "transformations": {
          "type": "array",
          "description": "The transformations to apply to the detected data.",
          "items": {
            "$ref": "InfoTypeTransformation"
          }
        }
      }
    },
    "Policy": {
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "DeidentifyConfig": {
      "properties": {
        "text": {
          "description": "Configures de-identification of text wherever it is found in the source_dataset.",
          "$ref": "TextConfig"
        },
        "dicom": {
          "description": "Configures de-id of application/DICOM content.",
          "$ref": "DicomConfig"
        },
        "image": {
          "description": "Configures de-identification of image pixels wherever they are found in the source_dataset.",
          "$ref": "ImageConfig"
        },
        "fhir": {
          "$ref": "FhirConfig",
          "description": "Configures de-id of application/FHIR content."
        }
      },
      "id": "DeidentifyConfig",
      "description": "Configures de-id options specific to different types of content. Each submessage customizes the handling of an https://tools.ietf.org/html/rfc6838 media type or subtype. Configs are applied in a nested manner at runtime.",
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ListFhirStoresResponse": {
      "type": "object",
      "description": "Lists the FHIR stores in the given dataset.",
      "properties": {
        "fhirStores": {
          "type": "array",
          "items": {
            "$ref": "FhirStore"
          },
          "description": "The returned FHIR stores. Won't be more FHIR stores than the value of page_size in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are no more results in the list."
        }
      },
      "id": "ListFhirStoresResponse"
    },
    "IngestMessageResponse": {
      "properties": {
        "hl7Ack": {
          "format": "byte",
          "type": "string",
          "description": "HL7v2 ACK message."
        },
        "message": {
          "$ref": "Message",
          "description": "Created message resource."
        }
      },
      "description": "Acknowledges that a message has been ingested into the specified HL7v2 store.",
      "id": "IngestMessageResponse",
      "type": "object"
    },
    "ArchiveUserDataMappingRequest": {
      "properties": {},
      "description": "Archives the specified User data mapping.",
      "type": "object",
      "id": "ArchiveUserDataMappingRequest"
    },
    "FhirFilter": {
      "properties": {
        "resources": {
          "$ref": "Resources",
          "description": "List of resources to include in the output. If this list is empty or not specified, all resources are included in the output."
        }
      },
      "id": "FhirFilter",
      "description": "Filter configuration.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "Segment": {
      "properties": {
        "segmentId": {
          "description": "A string that indicates the type of segment. For example, EVN or PID.",
          "type": "string"
        },
        "setId": {
          "description": "Set ID for segments that can be in a set. This can be empty if it's missing or isn't applicable.",
          "type": "string"
        },
        "fields": {
          "description": "A mapping from the positional location to the value. The key string uses zero-based indexes separated by dots to identify Fields, components and sub-components. A bracket notation is also used to identify different instances of a repeated field. Regex for key: (\\d+)(\\[\\d+\\])?(.\\d+)?(.\\d+)? Examples of (key, value) pairs: * (0.1, \"hemoglobin\") denotes that the first component of Field 0 has the value \"hemoglobin\". * (1.1.2, \"CBC\") denotes that the second sub-component of the first component of Field 1 has the value \"CBC\". * (1[0].1, \"HbA1c\") denotes that the first component of the first Instance of Field 1, which is repeated, has the value \"HbA1c\".",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Segment",
      "description": "A segment in a structured format."
    },
    "Resources": {
      "description": "A list of FHIR resources.",
      "id": "Resources",
      "properties": {
        "resources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of resources IDs. For example, \"Patient/1234\"."
        }
      },
      "type": "object"
    },
    "AnalyzeEntitiesResponse": {
      "description": "Includes recognized entity mentions and relationships between them.",
      "properties": {
        "entities": {
          "type": "array",
          "description": "The union of all the candidate entities that the entity_mentions in this response could link to. These are UMLS concepts or normalized mention content.",
          "items": {
            "$ref": "Entity"
          }
        },
        "entityMentions": {
          "description": "entity_mentions contains all the annotated medical entities that were mentioned in the provided document.",
          "type": "array",
          "items": {
            "$ref": "EntityMention"
          }
        },
        "relationships": {
          "type": "array",
          "description": "relationships contains all the binary relationships that were identified between entity mentions within the provided document.",
          "items": {
            "$ref": "EntityMentionRelationship"
          }
        }
      },
      "id": "AnalyzeEntitiesResponse",
      "type": "object"
    },
    "EntityMention": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
[...]
