{
  "version": "v1",
  "id": "homegraph:v1",
  "version_module": true,
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "protocol": "rest",
  "servicePath": "",
  "canonicalName": "Home Graph Service",
  "ownerDomain": "google.com",
  "resources": {
    "devices": {
      "methods": {
        "sync": {
          "httpMethod": "POST",
          "flatPath": "v1/devices:sync",
          "description": "Gets all the devices associated with the given third-party user. The third-party user's identity is passed in via the `agent_user_id` (see SyncRequest). This request must be authorized using service account credentials from your Actions console project.",
          "response": {
            "$ref": "SyncResponse"
          },
          "parameters": {},
          "id": "homegraph.devices.sync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "request": {
            "$ref": "SyncRequest"
          },
          "parameterOrder": [],
          "path": "v1/devices:sync"
        },
        "query": {
          "flatPath": "v1/devices:query",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Gets the current states in Home Graph for the given set of the third-party user's devices. The third-party user's identity is passed in via the `agent_user_id` (see QueryRequest). This request must be authorized using service account credentials from your Actions console project.",
          "path": "v1/devices:query",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "QueryRequest"
          },
          "id": "homegraph.devices.query",
          "response": {
            "$ref": "QueryResponse"
          },
          "parameterOrder": []
        },
        "reportStateAndNotification": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "description": "Reports device state and optionally sends device notifications. Called by your smart home Action when the state of a third-party device changes or you need to send a notification about the device. See [Implement Report State](https://developers.google.com/assistant/smarthome/develop/report-state) for more information. This method updates the device state according to its declared [traits](https://developers.google.com/assistant/smarthome/concepts/devices-traits). Publishing a new state value outside of these traits will result in an `INVALID_ARGUMENT` error response. The third-party user's identity is passed in via the `agent_user_id` (see ReportStateAndNotificationRequest). This request must be authorized using service account credentials from your Actions console project.",
          "request": {
            "$ref": "ReportStateAndNotificationRequest"
          },
          "path": "v1/devices:reportStateAndNotification",
          "response": {
            "$ref": "ReportStateAndNotificationResponse"
          },
          "httpMethod": "POST",
          "id": "homegraph.devices.reportStateAndNotification",
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "v1/devices:reportStateAndNotification"
        },
        "requestSync": {
          "httpMethod": "POST",
          "response": {
            "$ref": "RequestSyncDevicesResponse"
          },
          "request": {
            "$ref": "RequestSyncDevicesRequest"
          },
          "id": "homegraph.devices.requestSync",
          "path": "v1/devices:requestSync",
          "description": "Requests Google to send an `action.devices.SYNC` [intent](https://developers.google.com/assistant/smarthome/reference/intent/sync) to your smart home Action to update device metadata for the given user. The third-party user's identity is passed via the `agent_user_id` (see RequestSyncDevicesRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameters": {},
          "flatPath": "v1/devices:requestSync",
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameterOrder": []
        }
      }
    },
    "agentUsers": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/homegraph"
          ],
          "parameterOrder": [
            "agentUserId"
          ],
          "id": "homegraph.agentUsers.delete",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/agentUsers/{agentUsersId}",
          "description": "Unlinks the given third-party user from your smart home Action. All data related to this user will be deleted. For more details on how users link their accounts, see [fulfillment and authentication](https://developers.google.com/assistant/smarthome/concepts/fulfillment-authentication). The third-party user's identity is passed in via the `agent_user_id` (see DeleteAgentUserRequest). This request must be authorized using service account credentials from your Actions console project.",
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Request ID used for debugging."
            },
            "agentUserId": {
              "pattern": "^agentUsers/.*$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. Third-party user ID."
            }
          },
          "path": "v1/{+agentUserId}"
        }
      }
    }
  },
  "batchPath": "batch",
  "revision": "20210402",
  "kind": "discovery#restDescription",
  "schemas": {
    "ReportStateAndNotificationRequest": {
      "description": "Request type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call. It may include states, notifications, or both. States and notifications are defined per `device_id` (for example, \"123\" and \"456\" in the following example). # Example ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"agentUserId\": \"1234\", \"payload\": { \"devices\": { \"states\": { \"123\": { \"on\": true }, \"456\": { \"on\": true, \"brightness\": 10 } }, } } } ```",
      "type": "object",
      "id": "ReportStateAndNotificationRequest",
      "properties": {
        "followUpToken": {
          "type": "string",
          "description": "Deprecated."
        },
        "agentUserId": {
          "type": "string",
          "description": "Required. Third-party user ID."
        },
        "eventId": {
          "type": "string",
          "description": "Unique identifier per event (for example, a doorbell press)."
        },
        "payload": {
          "description": "Required. State of devices to update and notification metadata for devices.",
          "$ref": "StateAndNotificationPayload"
        },
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        }
      }
    },
    "SyncResponsePayload": {
      "id": "SyncResponsePayload",
      "properties": {
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "type": "array",
          "description": "Devices associated with the third-party user."
        },
        "agentUserId": {
          "description": "Third-party user ID",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Payload containing device information."
    },
    "QueryRequest": {
      "id": "QueryRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging.",
          "type": "string"
        },
        "inputs": {
          "items": {
            "$ref": "QueryRequestInput"
          },
          "type": "array",
          "description": "Required. Inputs containing third-party device IDs for which to get the device states."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      },
      "description": "Request type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call."
    },
    "DeviceNames": {
      "type": "object",
      "id": "DeviceNames",
      "properties": {
        "nicknames": {
          "items": {
            "type": "string"
          },
          "description": "Additional names provided by the user for the device.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Primary name of the device, generally provided by the user."
        },
        "defaultNames": {
          "type": "array",
          "description": "List of names provided by the manufacturer rather than the user, such as serial numbers, SKUs, etc.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Identifiers used to describe the device."
    },
    "QueryResponsePayload": {
      "type": "object",
      "properties": {
        "devices": {
          "description": "States of the devices. Map of third-party device ID to struct of device states.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          }
        }
      },
      "id": "QueryResponsePayload",
      "description": "Payload containing device states information."
    },
    "StateAndNotificationPayload": {
      "id": "StateAndNotificationPayload",
      "description": "Payload containing the state and notification information for devices.",
      "properties": {
        "devices": {
          "$ref": "ReportStateAndNotificationDevice",
          "description": "The devices for updating state and sending notifications."
        }
      },
      "type": "object"
    },
    "ReportStateAndNotificationDevice": {
      "description": "The states and notifications specific to a device.",
      "type": "object",
      "id": "ReportStateAndNotificationDevice",
      "properties": {
        "notifications": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Notifications metadata for devices. See the **Device NOTIFICATIONS** section of the individual trait [reference guides](https://developers.google.com/assistant/smarthome/traits)."
        },
        "states": {
          "description": "States of devices to update. See the **Device STATES** section of the individual trait [reference guides](https://developers.google.com/assistant/smarthome/traits).",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ReportStateAndNotificationResponse": {
      "description": "Response type for the [`ReportStateAndNotification`](#google.home.graph.v1.HomeGraphApiService.ReportStateAndNotification) call.",
      "type": "object",
      "id": "ReportStateAndNotificationResponse",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Request ID copied from ReportStateAndNotificationRequest."
        }
      }
    },
    "QueryRequestInput": {
      "description": "Device ID inputs to QueryRequest.",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Payload containing third-party device IDs.",
          "$ref": "QueryRequestPayload"
        }
      },
      "id": "QueryRequestInput"
    },
    "SyncRequest": {
      "id": "SyncRequest",
      "description": "Request type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call.",
      "properties": {
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging."
        }
      },
      "type": "object"
    },
    "AgentDeviceId": {
      "description": "Third-party device ID for one device.",
      "properties": {
        "id": {
          "description": "Third-party device ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AgentDeviceId"
    },
    "QueryRequestPayload": {
      "type": "object",
      "description": "Payload containing device IDs.",
      "properties": {
        "devices": {
          "items": {
            "$ref": "AgentDeviceId"
          },
          "description": "Third-party device IDs for which to get the device states.",
          "type": "array"
        }
      },
      "id": "QueryRequestPayload"
    },
    "Device": {
      "properties": {
        "deviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Device manufacturer, model, hardware version, and software version."
        },
        "attributes": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Attributes for the traits supported by the device.",
          "type": "object"
        },
        "notificationSupportedByAgent": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report notifications to Google for this device via ReportStateAndNotification. If your smart home Action enables users to control device notifications, you should update this field and call RequestSyncDevices."
        },
        "structureHint": {
          "description": "Suggested name for the structure where this device is installed. Google attempts to use this value during user setup.",
          "type": "string"
        },
        "willReportState": {
          "type": "boolean",
          "description": "Indicates whether your smart home Action will report state of this device to Google via ReportStateAndNotification."
        },
        "otherDeviceIds": {
          "items": {
            "$ref": "AgentOtherDeviceId"
          },
          "type": "array",
          "description": "Alternate IDs associated with this device. This is used to identify cloud synced devices enabled for [local fulfillment](https://developers.google.com/assistant/smarthome/concepts/local)."
        },
        "id": {
          "type": "string",
          "description": "Third-party device ID."
        },
        "roomHint": {
          "type": "string",
          "description": "Suggested name for the room where this device is installed. Google attempts to use this value during user setup."
        },
        "traits": {
          "description": "Traits supported by the device. See [device traits](https://developers.google.com/assistant/smarthome/traits).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "customData": {
          "description": "Custom device attributes stored in Home Graph and provided to your smart home Action in each [QUERY](https://developers.google.com/assistant/smarthome/reference/intent/query) and [EXECUTE](https://developers.google.com/assistant/smarthome/reference/intent/execute) intent. Data in this object has a few constraints: No sensitive information, including but not limited to Personally Identifiable Information.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "type": {
          "description": "Hardware type of the device. See [device types](https://developers.google.com/assistant/smarthome/guides).",
          "type": "string"
        },
        "name": {
          "description": "Names given to this device by your smart home Action.",
          "$ref": "DeviceNames"
        }
      },
      "id": "Device",
      "type": "object",
      "description": "Third-party device definition. Next ID = 14"
    },
    "DeviceInfo": {
      "properties": {
        "hwVersion": {
          "type": "string",
          "description": "Device hardware version."
        },
        "model": {
          "type": "string",
          "description": "Device model."
        },
        "manufacturer": {
          "type": "string",
          "description": "Device manufacturer."
        },
        "swVersion": {
          "type": "string",
          "description": "Device software version."
        }
      },
      "type": "object",
      "id": "DeviceInfo",
      "description": "Device information."
    },
    "QueryResponse": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request ID used for debugging. Copied from the request.",
          "type": "string"
        },
        "payload": {
          "description": "Device states for the devices given in the request.",
          "$ref": "QueryResponsePayload"
        }
      },
      "id": "QueryResponse",
      "description": "Response type for the [`Query`](#google.home.graph.v1.HomeGraphApiService.Query) call. This should follow the same format as the Google smart home `action.devices.QUERY` [response](https://developers.google.com/assistant/smarthome/reference/intent/query). # Example ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"devices\": { \"123\": { \"on\": true, \"online\": true }, \"456\": { \"on\": true, \"online\": true, \"brightness\": 80, \"color\": { \"name\": \"cerulean\", \"spectrumRGB\": 31655 } } } } } ```"
    },
    "RequestSyncDevicesRequest": {
      "description": "Request type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call.",
      "type": "object",
      "id": "RequestSyncDevicesRequest",
      "properties": {
        "async": {
          "type": "boolean",
          "description": "Optional. If set, the request will be added to a queue and a response will be returned immediately. This enables concurrent requests for the given `agent_user_id`, but the caller will not receive any error responses."
        },
        "agentUserId": {
          "description": "Required. Third-party user ID.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "SyncResponse": {
      "description": "Response type for the [`Sync`](#google.home.graph.v1.HomeGraphApiService.Sync) call. This should follow the same format as the Google smart home `action.devices.SYNC` [response](https://developers.google.com/assistant/smarthome/reference/intent/sync). # Example ```json { \"requestId\": \"ff36a3cc-ec34-11e6-b1a0-64510650abcf\", \"payload\": { \"agentUserId\": \"1836.15267389\", \"devices\": [{ \"id\": \"123\", \"type\": \"action.devices.types.OUTLET\", \"traits\": [ \"action.devices.traits.OnOff\" ], \"name\": { \"defaultNames\": [\"My Outlet 1234\"], \"name\": \"Night light\", \"nicknames\": [\"wall plug\"] }, \"willReportState\": false, \"deviceInfo\": { \"manufacturer\": \"lights-out-inc\", \"model\": \"hs1234\", \"hwVersion\": \"3.2\", \"swVersion\": \"11.4\" }, \"customData\": { \"fooValue\": 74, \"barValue\": true, \"bazValue\": \"foo\" } }] } } ```",
      "type": "object",
      "id": "SyncResponse",
      "properties": {
        "payload": {
          "description": "Devices associated with the third-party user.",
          "$ref": "SyncResponsePayload"
        },
        "requestId": {
          "type": "string",
          "description": "Request ID used for debugging. Copied from the request."
        }
      }
    },
    "RequestSyncDevicesResponse": {
      "description": "Response type for the [`RequestSyncDevices`](#google.home.graph.v1.HomeGraphApiService.RequestSyncDevices) call. Intentionally empty upon success. An HTTP response code is returned with more details upon failure.",
      "properties": {},
      "id": "RequestSyncDevicesResponse",
      "type": "object"
    },
    "AgentOtherDeviceId": {
      "type": "object",
      "id": "AgentOtherDeviceId",
      "properties": {
        "agentId": {
          "description": "Project ID for your smart home Action.",
          "type": "string"
        },
        "deviceId": {
          "description": "Unique third-party device ID.",
          "type": "string"
        }
      },
      "description": "Alternate third-party device ID."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://homegraph.mtls.googleapis.com/",
  "description": "",
  "name": "homegraph",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://homegraph.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/homegraph": {
          "description": "Private Service: https://www.googleapis.com/auth/homegraph"
        }
      }
    }
  },
  "baseUrl": "https://homegraph.googleapis.com/",
  "title": "HomeGraph API",
  "documentationLink": "https://developers.google.com/actions/smarthome/create-app#request-sync",
  "ownerName": "Google"
}
