{
  "servicePath": "",
  "rootUrl": "https://iam.googleapis.com/",
  "protocol": "rest",
  "canonicalName": "Iam",
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    }
  },
  "name": "iam",
  "version_module": true,
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleIamAdminV1WorkforcePoolProviderSaml": {
      "description": "Represents a SAML identity provider.",
      "properties": {
        "idpMetadataXml": {
          "description": "Required. SAML Identity provider configuration metadata xml doc. The xml document should comply with [SAML 2.0 specification](https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf). The max size of the acceptable xml document will be bounded to 128k characters. The metadata xml document should satisfy the following constraints: 1) Must contain an Identity Provider Entity ID. 2) Must contain at least one non-expired signing key certificate. 3) For each signing key: a) Valid from should be no more than 7 days from now. b) Valid to should be no more than 14 years in the future. 4) Up to 3 IdP signing keys are allowed in the metadata xml. When updating the provider's metadata xml, at least one non-expired signing key must overlap with the existing metadata. This requirement is skipped if there are no non-expired signing keys present in the existing metadata.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleIamAdminV1WorkforcePoolProviderSaml"
    },
    "UndeleteServiceAccountResponse": {
      "type": "object",
      "properties": {
        "restoredAccount": {
          "description": "Metadata for the restored service account.",
          "$ref": "ServiceAccount"
        }
      },
      "id": "UndeleteServiceAccountResponse"
    },
    "UndeleteWorkloadIdentityPoolProviderKeyRequest": {
      "description": "Request message for UndeleteWorkloadIdentityPoolProviderKey.",
      "type": "object",
      "id": "UndeleteWorkloadIdentityPoolProviderKeyRequest",
      "properties": {}
    },
    "BindingDelta": {
      "id": "BindingDelta",
      "description": "One delta entry for Binding. Each individual change (only one member in each entry) to a binding will be a separate entry.",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding."
        },
        "action": {
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "description": "The action that was performed on a Binding. Required",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string"
        },
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. Required",
          "type": "string"
        },
        "member": {
          "type": "string",
          "description": "A single identity requesting access for a Google Cloud resource. Follows the same format of Binding.members. Required"
        }
      },
      "type": "object"
    },
    "Expr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "UploadServiceAccountKeyRequest": {
      "description": "The service account key upload request.",
      "properties": {
        "publicKeyData": {
          "description": "The public key to associate with the service account. Must be an RSA public key that is wrapped in an X.509 v3 certificate. Include the first line, `-----BEGIN CERTIFICATE-----`, and the last line, `-----END CERTIFICATE-----`.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UploadServiceAccountKeyRequest"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "id": "GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method."
    },
    "Aws": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Required. The AWS account ID."
        }
      },
      "description": "Represents an Amazon Web Services identity provider.",
      "id": "Aws",
      "type": "object"
    },
    "UndeleteWorkloadIdentityPoolProviderRequest": {
      "type": "object",
      "description": "Request message for UndeleteWorkloadIdentityPoolProvider.",
      "properties": {},
      "id": "UndeleteWorkloadIdentityPoolProviderRequest"
    },
    "QueryAuditableServicesResponse": {
      "description": "A response containing a list of auditable services for a resource.",
      "properties": {
        "services": {
          "items": {
            "$ref": "AuditableService"
          },
          "description": "The auditable services for a resource.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "QueryAuditableServicesResponse"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "ServiceAccountKey": {
      "description": "Represents a service account key. A service account has two sets of key-pairs: user-managed, and system-managed. User-managed key-pairs can be created and deleted by users. Users are responsible for rotating these keys periodically to ensure security of their service accounts. Users retain the private key of these key-pairs, and Google retains ONLY the public key. System-managed keys are automatically rotated by Google, and are used for signing for a maximum of two weeks. The rotation process is probabilistic, and usage of the new key will gradually ramp up and down over the key's lifetime. If you cache the public key set for a service account, we recommend that you update the cache every 15 minutes. User-managed keys can be added and removed at any time, so it is important to update the cache frequently. For Google-managed keys, Google will publish a key at least 6 hours before it is first used for signing and will keep publishing it for at least 6 hours after it was last used for signing. Public keys for all service accounts are also published at the OAuth2 Service Account API.",
      "id": "ServiceAccountKey",
      "properties": {
        "validAfterTime": {
          "type": "string",
          "description": "The key can be used after this timestamp.",
          "format": "google-datetime"
        },
        "publicKeyData": {
          "type": "string",
          "format": "byte",
          "description": "The public key data. Only provided in `GetServiceAccountKey` responses."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the service account key in the following format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}`."
        },
        "disabled": {
          "type": "boolean",
          "description": "The key status."
        },
        "keyType": {
          "enumDescriptions": [
            "Unspecified key type. The presence of this in the message will immediately result in an error.",
            "User-managed keys (managed and rotated by the user).",
            "System-managed keys (managed and rotated by Google)."
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "USER_MANAGED",
            "SYSTEM_MANAGED"
          ],
          "type": "string",
          "description": "The key type."
        },
        "privateKeyData": {
          "description": "The private key data. Only provided in `CreateServiceAccountKey` responses. Make sure to keep the private key data secure because it allows for the assertion of the service account identity. When base64 decoded, the private key data can be used to authenticate with Google API client libraries and with gcloud auth activate-service-account.",
          "type": "string",
          "format": "byte"
        },
        "keyOrigin": {
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "USER_PROVIDED",
            "GOOGLE_PROVIDED"
          ],
          "type": "string",
          "description": "The key origin.",
          "enumDescriptions": [
            "Unspecified key origin.",
            "Key is provided by user.",
            "Key is provided by Google."
          ]
        },
        "keyAlgorithm": {
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ],
          "description": "Specifies the algorithm (and possibly key size) for the key.",
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "type": "string"
        },
        "validBeforeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The key can be used before this timestamp. For system-managed key pairs, this timestamp is the end time for the private key signing operation. The public key could still be used for verification for a few hours after this time."
        },
        "privateKeyType": {
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https://tools.ietf.org/html/rfc7292.",
            "Google Credentials File format."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ],
          "description": "The output format for the private key. Only provided in `CreateServiceAccountKey` responses, not in `GetServiceAccountKey` or `ListServiceAccountKey` responses. Google never exposes system-managed private keys, and never retains user-managed private keys.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyDelta": {
      "id": "PolicyDelta",
      "properties": {
        "bindingDeltas": {
          "items": {
            "$ref": "BindingDelta"
          },
          "description": "The delta for Bindings between two policies.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The difference delta between two policies."
    },
    "WorkloadIdentityPool": {
      "description": "Represents a collection of external workload identities. You can define IAM policies to grant these identities access to Google Cloud resources.",
      "id": "WorkloadIdentityPool",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name for the pool. Cannot exceed 32 characters."
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the pool is disabled. You cannot use a disabled pool to exchange tokens, or use existing tokens to access resources. If the pool is re-enabled, existing tokens grant access again."
        },
        "description": {
          "description": "A description of the pool. Cannot exceed 256 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the pool.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the pool.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The pool is active, and may be used in Google Cloud policies.",
            "The pool is soft-deleted. Soft-deleted pools are permanently deleted after approximately 30 days. You can restore a soft-deleted pool using UndeleteWorkloadIdentityPool. You cannot reuse the ID of a soft-deleted pool until it is permanently deleted. While a pool is deleted, you cannot use it to exchange tokens, or use existing tokens to access resources. If the pool is undeleted, existing tokens grant access again."
          ],
          "readOnly": true
        }
      }
    },
    "UndeleteWorkloadIdentityPoolRequest": {
      "id": "UndeleteWorkloadIdentityPoolRequest",
      "properties": {},
      "description": "Request message for UndeleteWorkloadIdentityPool.",
      "type": "object"
    },
    "UndeleteWorkforcePoolProviderKeyRequest": {
      "properties": {},
      "description": "Request message for UndeleteWorkforcePoolProviderKey.",
      "id": "UndeleteWorkforcePoolProviderKeyRequest",
      "type": "object"
    },
    "CreateServiceAccountKeyRequest": {
      "type": "object",
      "description": "The service account key create request.",
      "id": "CreateServiceAccountKeyRequest",
      "properties": {
        "keyAlgorithm": {
          "enumDescriptions": [
            "An unspecified key algorithm.",
            "1k RSA Key.",
            "2k RSA Key."
          ],
          "description": "Which type of key and algorithm to use for the key. The default is currently a 2K RSA key. However this may change in the future.",
          "enum": [
            "KEY_ALG_UNSPECIFIED",
            "KEY_ALG_RSA_1024",
            "KEY_ALG_RSA_2048"
          ],
          "type": "string"
        },
        "privateKeyType": {
          "enumDescriptions": [
            "Unspecified. Equivalent to `TYPE_GOOGLE_CREDENTIALS_FILE`.",
            "PKCS12 format. The password for the PKCS12 file is `notasecret`. For more information, see https://tools.ietf.org/html/rfc7292.",
            "Google Credentials File format."
          ],
          "description": "The output format of the private key. The default value is `TYPE_GOOGLE_CREDENTIALS_FILE`, which is the Google Credentials File format.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PKCS12_FILE",
            "TYPE_GOOGLE_CREDENTIALS_FILE"
          ]
        }
      }
    },
    "LintResult": {
      "id": "LintResult",
      "description": "Structured response of a single validation unit.",
      "properties": {
        "locationOffset": {
          "type": "integer",
          "description": "0-based character position of problematic construct within the object identified by `field_name`. Currently, this is populated only for condition expression.",
          "format": "int32"
        },
        "level": {
          "enumDescriptions": [
            "Level is unspecified.",
            "A validation unit which operates on an individual condition within a binding."
          ],
          "description": "The validation unit level.",
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "CONDITION"
          ]
        },
        "validationUnitName": {
          "type": "string",
          "description": "The validation unit name, for instance \"lintValidationUnits/ConditionComplexityCheck\"."
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field for which this lint result is about. For nested messages `field_name` consists of names of the embedded fields separated by period character. The top-level qualifier is the input object to lint in the request. For example, the `field_name` value `condition.expression` identifies a lint result for the `expression` field of the provided condition."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "NOTICE",
            "INFO",
            "DEPRECATED"
          ],
          "description": "The validation unit severity.",
          "enumDescriptions": [
            "Severity is unspecified.",
            "A validation unit returns an error only for critical issues. If an attempt is made to set the problematic policy without rectifying the critical issue, it causes the `setPolicy` operation to fail.",
            "Any issue which is severe enough but does not cause an error. For example, suspicious constructs in the input object will not necessarily fail `setPolicy`, but there is a high likelihood that they won't behave as expected during policy evaluation in `checkPolicy`. This includes the following common scenarios: - Unsatisfiable condition: Expired timestamp in date/time condition. - Ineffective condition: Condition on a pair which is granted unconditionally in another binding of the same policy.",
            "Reserved for the issues that are not severe as `ERROR`/`WARNING`, but need special handling. For instance, messages about skipped validation units are issued as `NOTICE`.",
            "Any informative statement which is not severe enough to raise `ERROR`/`WARNING`/`NOTICE`, like auto-correction recommendations on the input content. Note that current version of the linter does not utilize `INFO`.",
            "Deprecated severity level."
          ],
          "type": "string"
        },
        "debugMessage": {
          "description": "Human readable debug message associated with the issue.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "KeyData": {
      "id": "KeyData",
      "description": "Represents a public key data along with its format.",
      "type": "object",
      "properties": {
        "notBeforeTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Earliest timestamp when this key is valid. Attempts to use this key before this time will fail. Only present if the key data represents a X.509 certificate."
        },
        "notAfterTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Latest timestamp when this key is valid. Attempts to use this key after this time will fail. Only present if the key data represents a X.509 certificate.",
          "type": "string"
        },
        "key": {
          "readOnly": true,
          "description": "Output only. The key data. The format of the key is represented by the format field.",
          "type": "string"
        },
        "format": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The format of the key.",
          "enum": [
            "KEY_FORMAT_UNSPECIFIED",
            "RSA_X509_PEM"
          ],
          "enumDescriptions": [
            "No format has been specified. This is an invalid format and must not be used.",
            "A RSA public key wrapped in an X.509v3 certificate ([RFC5280] ( https://www.ietf.org/rfc/rfc5280.txt)), encoded in base64, and wrapped in [public certificate label](https://datatracker.ietf.org/doc/html/rfc7468#section-5.1)."
          ]
        },
        "keySpec": {
          "enumDescriptions": [
            "No key specification specified.",
            "A 2048 bit RSA key.",
            "A 3072 bit RSA key.",
            "A 4096 bit RSA key."
          ],
          "type": "string",
          "description": "Required. The specifications for the key.",
          "enum": [
            "KEY_SPEC_UNSPECIFIED",
            "RSA_2048",
            "RSA_3072",
            "RSA_4096"
          ]
        }
      }
    },
    "SignJwtResponse": {
      "type": "object",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign JWT response.",
      "properties": {
        "signedJwt": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The signed JWT.",
          "type": "string"
        },
        "keyId": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The id of the key used to sign the JWT.",
          "type": "string"
        }
      },
      "id": "SignJwtResponse"
    },
    "PatchServiceAccountRequest": {
      "description": "The service account patch request. You can patch only the `display_name` and `description` fields. You must use the `update_mask` field to specify which of these fields you want to patch. Only the fields specified in the request are guaranteed to be returned in the response. Other fields may be empty in the response.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount"
        }
      },
      "type": "object",
      "id": "PatchServiceAccountRequest"
    },
    "QueryGrantableRolesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `QueryGrantableRolesRequest.page_token` to this value.",
          "type": "string"
        },
        "roles": {
          "description": "The list of matching roles.",
          "items": {
            "$ref": "Role"
          },
          "type": "array"
        }
      },
      "description": "The grantable role query response.",
      "id": "QueryGrantableRolesResponse"
    },
    "QueryTestablePermissionsRequest": {
      "description": "A request to get permissions which can be tested on a resource.",
      "id": "QueryTestablePermissionsRequest",
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "Required. The full resource name to query from the list of testable permissions. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional pagination token returned in an earlier QueryTestablePermissionsRequest."
        },
        "pageSize": {
          "description": "Optional limit on the number of permissions to include in the response. The default is 100, and the maximum is 1,000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ListServiceAccountsResponse": {
      "id": "ListServiceAccountsResponse",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "ServiceAccount"
          },
          "type": "array",
          "description": "The list of matching service accounts."
        },
        "nextPageToken": {
          "type": "string",
          "description": "To retrieve the next page of results, set ListServiceAccountsRequest.page_token to this value."
        }
      },
      "description": "The service account list response.",
      "type": "object"
    },
    "AuditData": {
      "id": "AuditData",
      "properties": {
        "policyDelta": {
          "$ref": "PolicyDelta",
          "description": "Policy delta between the original policy and the newly set policy."
        }
      },
      "type": "object",
      "description": "Audit log information specific to Cloud IAM. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message."
    },
    "ListWorkloadIdentityPoolsResponse": {
      "description": "Response message for ListWorkloadIdentityPools.",
      "properties": {
        "workloadIdentityPools": {
          "description": "A list of pools.",
          "items": {
            "$ref": "WorkloadIdentityPool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListWorkloadIdentityPoolsResponse",
      "type": "object"
    },
    "PermissionDelta": {
      "type": "object",
      "id": "PermissionDelta",
      "description": "A PermissionDelta message to record the added_permissions and removed_permissions inside a role.",
      "properties": {
        "addedPermissions": {
          "description": "Added permissions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removedPermissions": {
          "items": {
            "type": "string"
          },
          "description": "Removed permissions.",
          "type": "array"
        }
      }
    },
    "WorkloadIdentityPoolOperationMetadata": {
      "type": "object",
      "properties": {},
      "description": "Metadata for long-running WorkloadIdentityPool operations.",
      "id": "WorkloadIdentityPoolOperationMetadata"
    },
    "ServiceAccount": {
      "properties": {
        "email": {
          "description": "Output only. The email address of the service account.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. A user-specified, human-readable name for the service account. The maximum length is 100 UTF-8 bytes.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A user-specified, human-readable description of the service account. The maximum length is 256 UTF-8 bytes.",
          "type": "string"
        },
        "disabled": {
          "description": "Output only. Whether the service account is disabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "The resource name of the service account. Use one of the following formats: * `projects/{PROJECT_ID}/serviceAccounts/{EMAIL_ADDRESS}` * `projects/{PROJECT_ID}/serviceAccounts/{UNIQUE_ID}` As an alternative, you can use the `-` wildcard character instead of the project ID: * `projects/-/serviceAccounts/{EMAIL_ADDRESS}` * `projects/-/serviceAccounts/{UNIQUE_ID}` When possible, avoid using the `-` wildcard character, because it can cause response messages to contain misleading error codes. For example, if you try to access the service account `projects/-/serviceAccounts/fake@example.com`, which does not exist, the response contains an HTTP `403 Forbidden` error instead of a `404 Not Found` error.",
          "type": "string"
        },
        "etag": {
          "format": "byte",
          "description": "Deprecated. Do not use.",
          "type": "string"
        },
        "uniqueId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique, stable numeric ID for the service account. Each service account retains its unique ID even if you delete the service account. For example, if you delete a service account, then create a new service account with the same name, the new service account has a different unique ID than the deleted service account."
        },
        "projectId": {
          "description": "Output only. The ID of the project that owns the service account.",
          "readOnly": true,
          "type": "string"
        },
        "oauth2ClientId": {
          "readOnly": true,
          "description": "Output only. The OAuth 2.0 client ID for the service account.",
          "type": "string"
        }
      },
      "description": "An IAM service account. A service account is an account for an application or a virtual machine (VM) instance, not a person. You can use a service account to call Google APIs. To learn more, read the [overview of service accounts](https://cloud.google.com/iam/help/service-accounts/overview). When you create a service account, you specify the project ID that owns the service account, as well as a name that must be unique within the project. IAM uses these values to create an email address that identifies the service //",
      "id": "ServiceAccount",
      "type": "object"
    },
    "Permission": {
      "properties": {
        "name": {
          "description": "The name of this Permission.",
          "type": "string"
        },
        "onlyInPredefinedRoles": {
          "type": "boolean"
        },
        "apiDisabled": {
          "description": "The service API associated with the permission is not enabled.",
          "type": "boolean"
        },
        "customRolesSupportLevel": {
          "enum": [
            "SUPPORTED",
            "TESTING",
            "NOT_SUPPORTED"
          ],
          "enumDescriptions": [
            "Default state. Permission is fully supported for custom role use.",
            "Permission is being tested to check custom role compatibility.",
            "Permission is not supported for custom role use."
          ],
          "description": "The current custom role support level.",
          "type": "string"
        },
        "stage": {
          "enumDescriptions": [
            "The permission is currently in an alpha phase.",
            "The permission is currently in a beta phase.",
            "The permission is generally available.",
            "The permission is being deprecated."
          ],
          "description": "The current launch stage of the permission.",
          "type": "string",
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "primaryPermission": {
          "type": "string",
          "description": "The preferred name for this permission. If present, then this permission is an alias of, and equivalent to, the listed primary_permission."
        },
        "title": {
          "type": "string",
          "description": "The title of this Permission."
        },
        "description": {
          "description": "A brief description of what this Permission is used for. This permission can ONLY be used in predefined roles.",
          "type": "string"
        }
      },
      "id": "Permission",
      "type": "object",
      "description": "A permission which can be included by a role."
    },
    "LintPolicyResponse": {
      "type": "object",
      "description": "The response of a lint operation. An empty response indicates the operation was able to fully execute and no lint issue was found.",
      "properties": {
        "lintResults": {
          "description": "List of lint results sorted by `severity` in descending order.",
          "items": {
            "$ref": "LintResult"
          },
          "type": "array"
        }
      },
      "id": "LintPolicyResponse"
    },
    "WorkforcePoolProvider": {
      "description": "A configuration for an external identity provider.",
      "properties": {
        "attributeMapping": {
          "description": "Required. Maps attributes from the authentication credentials issued by an external identity provider to Google Cloud attributes, such as `subject` and `segment`. Each key must be a string specifying the Google Cloud IAM attribute to map to. The following keys are supported: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. This is a required field and the mapped subject cannot exceed 127 bytes. * `google.groups`: Groups the authenticating user belongs to. You can grant groups access to resources using an IAM `principalSet` binding; access applies to all members of the group. * `google.display_name`: The name of the authenticated user. This is an optional field and the mapped display name cannot exceed 100 bytes. If not set, `google.subject` will be displayed instead. This attribute cannot be referenced in IAM bindings. * `google.profile_photo`: The URL that specifies the authenticated user's thumbnail photo. This is an optional field. When set, the image will be visible as the user's profile picture. If not set, a generic user icon will be displayed instead. This attribute cannot be referenced in IAM bindings. You can also provide custom attributes by specifying `attribute.{custom_attribute}`, where {custom_attribute} is the name of the custom attribute to be mapped. You can define a maximum of 50 custom attributes. The maximum length of a mapped attribute key is 100 characters, and the key may only contain the characters [a-z0-9_]. You can reference these attributes in IAM policies to define fine-grained access for a workforce pool to Google Cloud resources. For example: * `google.subject`: `principal://iam.googleapis.com/locations/global/workforcePools/{pool}/subject/{value}` * `google.groups`: `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool}/group/{value}` * `attribute.{custom_attribute}`: `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool}/attribute.{custom_attribute}/{value}` Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) function that maps an identity provider credential to the normalized attribute specified by the corresponding map key. You can use the `assertion` keyword in the expression to access a JSON representation of the authentication credential issued by the provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 4KB. For OIDC providers, you must supply a custom mapping that includes the `google.subject` attribute. For example, the following maps the `sub` claim of the incoming credential to the `subject` attribute on a Google token: ``` {\"google.subject\": \"assertion.sub\"} ```",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "attributeCondition": {
          "description": "A [Common Expression Language](https://opensource.google/projects/cel) expression, in plain text, to restrict what otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: * `assertion`: JSON representing the authentication credential issued by the provider. * `google`: The Google attributes mapped from the assertion in the `attribute_mappings`. `google.profile_photo` and `google.display_name` are not supported. * `attribute`: The custom attributes mapped from the assertion in the `attribute_mappings`. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credentials will be accepted. The following example shows how to only allow credentials with a mapped `google.groups` value of `admins`: ``` \"'admins' in google.groups\" ```",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the provider. Format: `locations/{location}/workforcePools/{workforce_pool_id}/providers/{provider_id}`",
          "readOnly": true,
          "type": "string"
        },
        "saml": {
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderSaml",
          "description": "A SAML identity provider configuration."
        },
        "description": {
          "description": "A user-specified description of the provider. Cannot exceed 256 characters.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "description": "Output only. The state of the provider.",
          "enumDescriptions": [
            "State unspecified.",
            "The provider is active and may be used to validate authentication credentials.",
            "The provider is soft-deleted. Soft-deleted providers are permanently deleted after approximately 30 days. You can restore a soft-deleted provider using UndeleteWorkforcePoolProvider."
          ],
          "readOnly": true,
          "type": "string"
        },
        "oidc": {
          "description": "An OpenId Connect 1.0 identity provider configuration.",
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderOidc"
        },
        "disabled": {
          "description": "Disables the workforce pool provider. You cannot use a disabled provider to exchange tokens. However, existing tokens still grant access.",
          "type": "boolean"
        },
        "displayName": {
          "description": "A user-specified display name for the provider. Cannot exceed 32 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WorkforcePoolProvider"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "Saml": {
      "type": "object",
      "properties": {
        "idpMetadataXml": {
          "type": "string",
          "description": "Required. SAML Identity provider configuration metadata xml doc. The xml document should comply with [SAML 2.0 specification](https://www.oasis-open.org/committees/download.php/56785/sstc-saml-metadata-errata-2.0-wd-05.pdf). The max size of the acceptable xml document will be bounded to 128k characters. The metadata xml document should satisfy the following constraints: 1) Must contain an Identity Provider Entity ID. 2) Must contain at least one non-expired signing key certificate. 3) For each signing key: a) Valid from should be no more than 7 days from now. b) Valid to should be no more than 14 years in the future. 4) Upto 3 IdP signing keys are allowed in the metadata xml. When updating the provider's metadata xml, at lease one non-expired signing key must overlap with the existing metadata. This requirement is skipped if there are no non-expired signing keys present in the existing metadata"
        }
      },
      "id": "Saml",
      "description": "Represents an SAML 2.0 identity provider."
    },
    "CreateServiceAccountRequest": {
      "id": "CreateServiceAccountRequest",
      "properties": {
        "serviceAccount": {
          "description": "The ServiceAccount resource to create. Currently, only the following values are user assignable: `display_name` and `description`.",
          "$ref": "ServiceAccount"
        },
        "accountId": {
          "description": "Required. The account id that is used to generate the service account email address and a stable unique id. It is unique within a project, must be 6-30 characters long, and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])` to comply with RFC1035.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The service account create request."
    },
    "EnableServiceAccountRequest": {
      "type": "object",
      "description": "The service account enable request.",
      "properties": {},
      "id": "EnableServiceAccountRequest"
    },
    "DisableServiceAccountKeyRequest": {
      "properties": {},
      "description": "The service account key disable request.",
      "id": "DisableServiceAccountKeyRequest",
      "type": "object"
    },
    "QueryAuditableServicesRequest": {
      "type": "object",
      "id": "QueryAuditableServicesRequest",
      "description": "A request to get the list of auditable services for a resource.",
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "Required. The full resource name to query from the list of auditable services. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`."
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "ListWorkforcePoolProviderKeysResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workforcePoolProviderKeys": {
          "description": "A list of WorkforcePoolProviderKeys.",
          "items": {
            "$ref": "WorkforcePoolProviderKey"
          },
          "type": "array"
        }
      },
      "description": "Response message for ListWorkforcePoolProviderKeys.",
      "id": "ListWorkforcePoolProviderKeysResponse"
    },
    "WorkloadIdentityPoolProviderKey": {
      "id": "WorkloadIdentityPoolProviderKey",
      "type": "object",
      "properties": {
        "use": {
          "description": "Required. The purpose of the key.",
          "enum": [
            "KEY_USE_UNSPECIFIED",
            "ENCRYPTION"
          ],
          "enumDescriptions": [
            "The key use is not known.",
            "The public key is used for encryption purposes."
          ],
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. Time after which the key will be permanently purged and cannot be recovered. Note that the key may get purged before this timestamp if the total limit of keys per provider is crossed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the key.",
          "enumDescriptions": [
            "State unspecified.",
            "The key is active.",
            "The key is soft-deleted. Soft-deleted keys are permanently deleted after approximately 30 days. You can restore a soft-deleted key using UndeleteWorkloadIdentityPoolProviderKey. While a key is deleted, you cannot use it during the federation."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "readOnly": true
        },
        "keyData": {
          "description": "Immutable. Public half of the asymmetric key.",
          "$ref": "KeyData"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the key.",
          "type": "string"
        }
      },
      "description": "Represents a public key configuration for your workload identity pool provider. The key can be configured in your identity provider to encrypt the SAML assertions. Google holds the corresponding private key which it uses to decrypt encrypted tokens."
    },
    "AdminAuditData": {
      "description": "Audit log information specific to Cloud IAM admin APIs. This message is serialized as an `Any` type in the `ServiceData` message of an `AuditLog` message.",
      "type": "object",
      "id": "AdminAuditData",
      "properties": {
        "permissionDelta": {
          "description": "The permission_delta when when creating or updating a Role.",
          "$ref": "PermissionDelta"
        }
      }
    },
    "ListServiceAccountKeysResponse": {
      "description": "The service account keys list response.",
      "properties": {
        "keys": {
          "type": "array",
          "description": "The public keys for the service account.",
          "items": {
            "$ref": "ServiceAccountKey"
          }
        }
      },
      "id": "ListServiceAccountKeysResponse",
      "type": "object"
    },
    "LintPolicyRequest": {
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "google.iam.v1.Binding.condition object to be linted."
        },
        "fullResourceName": {
          "description": "The full resource name of the policy this lint request is about. The name follows the Google Cloud format for full resource names. For example, a Cloud project with ID `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`. The resource name is not used to read a policy from IAM. Only the data in the request object is linted.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LintPolicyRequest",
      "description": "The request to lint a Cloud IAM policy object."
    },
    "AuditableService": {
      "id": "AuditableService",
      "properties": {
        "name": {
          "description": "Public name of the service. For example, the service name for Cloud IAM is 'iam.googleapis.com'.",
          "type": "string"
        }
      },
      "description": "Contains information about an auditable service.",
      "type": "object"
    },
    "SignBlobRequest": {
      "properties": {
        "bytesToSign": {
          "type": "string",
          "format": "byte",
          "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The bytes to sign."
        }
      },
      "id": "SignBlobRequest",
      "type": "object",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign blob request."
    },
    "Oidc": {
      "description": "Represents an OpenId Connect 1.0 identity provider.",
      "properties": {
        "issuerUri": {
          "description": "Required. The OIDC issuer URL. Must be an HTTPS endpoint.",
          "type": "string"
        },
        "allowedAudiences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Acceptable values for the `aud` field (audience) in the OIDC token. Token exchange requests are rejected if the token audience does not match one of the configured values. Each audience may be at most 256 characters. A maximum of 10 audiences may be configured. If this list is empty, the OIDC token audience must be equal to the full canonical resource name of the WorkloadIdentityPoolProvider, with or without the HTTPS prefix. For example: ``` //iam.googleapis.com/projects//locations//workloadIdentityPools//providers/ https://iam.googleapis.com/projects//locations//workloadIdentityPools//providers/ ```"
        }
      },
      "type": "object",
      "id": "Oidc"
    },
    "SignJwtRequest": {
      "type": "object",
      "properties": {
        "payload": {
          "type": "string",
          "description": "Required. Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 12 hours in the future. If the JWT Claims Set does not contain an expiration time (`exp`) claim, this claim is added automatically, with a timestamp that is 1 hour in the future."
        }
      },
      "id": "SignJwtRequest",
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign JWT request."
    },
    "ListWorkforcePoolsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workforcePools": {
          "description": "A list of pools.",
          "items": {
            "$ref": "WorkforcePool"
          },
          "type": "array"
        }
      },
      "id": "ListWorkforcePoolsResponse",
      "type": "object",
      "description": "Response message for ListWorkforcePools."
    },
    "Binding": {
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding"
    },
    "SignBlobResponse": {
      "id": "SignBlobResponse",
      "type": "object",
      "properties": {
        "keyId": {
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The id of the key used to sign the blob.",
          "type": "string"
        },
        "signature": {
          "format": "byte",
          "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The signed blob.",
          "type": "string"
        }
      },
      "description": "Deprecated. [Migrate to Service Account Credentials API](https://cloud.google.com/iam/help/credentials/migrate-api). The service account sign blob response."
    },
    "WorkforcePoolProviderKey": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The key is active.",
            "The key is soft-deleted. Soft-deleted keys are permanently deleted after approximately 30 days. You can restore a soft-deleted key using UndeleteWorkforcePoolProviderKey."
          ],
          "description": "Output only. The state of the key.",
          "readOnly": true,
          "type": "string"
        },
        "keyData": {
          "$ref": "KeyData",
          "description": "Immutable. Public half of the asymmetric key."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the key.",
          "type": "string"
        },
        "use": {
          "enumDescriptions": [
            "KeyUse unspecified.",
            "The key is used for encryption."
          ],
          "enum": [
            "KEY_USE_UNSPECIFIED",
            "ENCRYPTION"
          ],
          "type": "string",
          "description": "Required. The purpose of the key."
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. The time after which the key will be permanently deleted and cannot be recovered. Note that the key may get purged before this time if the total limit of keys per provider is exceeded.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "WorkforcePoolProviderKey",
      "description": "Represents a public key configuration for a Workforce Pool Provider. The key can be configured in your identity provider to encrypt SAML assertions. Google holds the corresponding private key, which it uses to decrypt encrypted tokens.",
      "type": "object"
    },
    "Role": {
      "id": "Role",
      "description": "A role in the Identity and Access Management API.",
      "type": "object",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "Used to perform a consistent read-modify-write.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "The current deleted state of the role. This field is read only. It will be ignored in calls to CreateRole and UpdateRole."
        },
        "name": {
          "type": "string",
          "description": "The name of the role. When Role is used in CreateRole, the role name must not be set. When Role is used in output and other input such as UpdateRole, the role name is the complete path, e.g., roles/logging.viewer for predefined roles and organizations/{ORGANIZATION_ID}/roles/logging.viewer for custom roles."
        },
        "description": {
          "description": "Optional. A human-readable description for the role.",
          "type": "string"
        },
        "includedPermissions": {
          "type": "array",
          "description": "The names of the permissions this role grants when bound in an IAM policy.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string",
          "description": "Optional. A human-readable title for the role. Typically this is limited to 100 UTF-8 bytes."
        },
        "stage": {
          "enumDescriptions": [
            "The user has indicated this role is currently in an Alpha phase. If this launch stage is selected, the `stage` field will not be included when requesting the definition for a given role.",
            "The user has indicated this role is currently in a Beta phase.",
            "The user has indicated this role is generally available.",
            "The user has indicated this role is being deprecated.",
            "This role is disabled and will not contribute permissions to any principals it is granted to in policies.",
            "The user has indicated this role is currently in an EAP phase."
          ],
          "description": "The current launch stage of the role. If the `ALPHA` launch stage has been selected for a role, the `stage` field will not be included in the returned definition for the role.",
          "enum": [
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DISABLED",
            "EAP"
          ],
          "type": "string"
        }
      }
    },
    "WorkforcePool": {
      "id": "WorkforcePool",
      "properties": {
        "disabled": {
          "description": "Disables the workforce pool. You cannot use a disabled pool to exchange tokens, or use existing tokens to access resources. If the pool is re-enabled, existing tokens grant access again.",
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the pool.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "The pool is active and may be used in Google Cloud policies.",
            "The pool is soft-deleted. Soft-deleted pools are permanently deleted after approximately 30 days. You can restore a soft-deleted pool using UndeleteWorkforcePool. You cannot reuse the ID of a soft-deleted pool until it is permanently deleted. While a pool is deleted, you cannot use it to exchange tokens, or use existing tokens to access resources. If the pool is undeleted, existing tokens grant access again."
          ],
          "type": "string"
        },
        "description": {
          "description": "A user-specified description of the pool. Cannot exceed 256 characters.",
          "type": "string"
        },
        "sessionDuration": {
          "type": "string",
          "description": "Duration that the Google Cloud access tokens, console sign-in sessions, and `gcloud` sign-in sessions from this pool are valid. Must be greater than 15 minutes (900s) and less than 12 hours (43200s). If `session_duration` is not configured, minted credentials have a default duration of one hour (3600s). For SAML providers, the lifetime of the token is the minimum of the `session_duration` and the `SessionNotOnOrAfter` claim in the SAML assertion.",
          "format": "google-duration"
        },
        "displayName": {
          "description": "A user-specified display name of the pool in Google Cloud Console. Cannot exceed 32 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the pool. Format: `locations/{location}/workforcePools/{workforce_pool_id}`"
        },
        "parent": {
          "description": "Immutable. The resource name of the parent. Format: `organizations/{org-id}`.",
          "type": "string"
        }
      },
      "description": "Represents a collection of external workforces. Provides namespaces for federated users that can be referenced in IAM policies.",
      "type": "object"
    },
    "GoogleIamAdminV1WorkforcePoolProviderOidc": {
      "type": "object",
      "description": "Represents an OpenId Connect 1.0 identity provider.",
      "id": "GoogleIamAdminV1WorkforcePoolProviderOidc",
      "properties": {
        "issuerUri": {
          "description": "Required. The OIDC issuer URI. Must be a valid URI using the 'https' scheme.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Required. The client ID. Must match the audience claim of the JWT issued by the identity provider."
        },
        "webSsoConfig": {
          "$ref": "GoogleIamAdminV1WorkforcePoolProviderOidcWebSsoConfig",
          "description": "Required. Configuration for web single sign-on for the OIDC provider. Here, web sign-in refers to console sign-in and gcloud sign-in through the browser."
        }
      }
    },
    "GetPolicyOptions": {
      "type": "object",
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "QueryTestablePermissionsResponse": {
      "type": "object",
      "description": "The response containing permissions which can be tested on a resource.",
      "properties": {
        "permissions": {
          "description": "The Permissions testable on the requested resource.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "To retrieve the next page of results, set `QueryTestableRolesRequest.page_token` to this value.",
          "type": "string"
        }
      },
      "id": "QueryTestablePermissionsResponse"
    },
    "GoogleIamAdminV1WorkforcePoolProviderOidcWebSsoConfig": {
      "id": "GoogleIamAdminV1WorkforcePoolProviderOidcWebSsoConfig",
      "properties": {
        "responseType": {
          "enumDescriptions": [
            "No Response Type specified.",
            "The `response_type=id_token` selection uses the Implicit Flow for web sign-in."
          ],
          "type": "string",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ID_TOKEN"
          ],
          "description": "Required. The Response Type to request for in the OIDC Authorization Request for web sign-in."
        },
        "assertionClaimsBehavior": {
          "type": "string",
          "enum": [
            "ASSERTION_CLAIMS_BEHAVIOR_UNSPECIFIED",
            "ONLY_ID_TOKEN_CLAIMS"
          ],
          "enumDescriptions": [
            "No assertion claims behavior specified.",
            "Only include ID Token Claims."
          ],
          "description": "Required. The behavior for how OIDC Claims are included in the `assertion` object used for attribute mapping and attribute condition."
        }
      },
      "type": "object",
      "description": "Configuration for web single sign-on for the OIDC provider."
    },
    "Operation": {
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "UndeleteWorkforcePoolProviderRequest": {
      "type": "object",
      "description": "Request message for UndeleteWorkforcePoolProvider.",
      "id": "UndeleteWorkforcePoolProviderRequest",
      "properties": {}
    },
    "UndeleteWorkforcePoolRequest": {
      "id": "UndeleteWorkforcePoolRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for UndeleteWorkforcePool."
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "ListRolesResponse": {
      "type": "object",
      "description": "The response containing the roles defined under a resource.",
      "properties": {
        "roles": {
          "description": "The Roles defined on this resource.",
          "items": {
            "$ref": "Role"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "To retrieve the next page of results, set `ListRolesRequest.page_token` to this value."
        }
      },
      "id": "ListRolesResponse"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      }
    },
    "UndeleteWorkforcePoolSubjectRequest": {
      "type": "object",
      "description": "Request message for UndeleteWorkforcePoolSubject.",
      "id": "UndeleteWorkforcePoolSubjectRequest",
      "properties": {}
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "QueryGrantableRolesRequest": {
      "properties": {
        "view": {
          "enum": [
            "BASIC",
            "FULL"
          ],
          "enumDescriptions": [
            "Omits the `included_permissions` field. This is the default value.",
            "Returns all fields."
          ],
          "type": "string"
        },
        "pageSize": {
          "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 1,000.",
          "format": "int32",
          "type": "integer"
        },
        "fullResourceName": {
          "description": "Required. The full resource name to query from the list of grantable roles. The name follows the Google Cloud Platform resource format. For example, a Cloud Platform project with id `my-project` will be named `//cloudresourcemanager.googleapis.com/projects/my-project`.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional pagination token returned in an earlier QueryGrantableRolesResponse."
        }
      },
      "type": "object",
      "id": "QueryGrantableRolesRequest",
      "description": "The grantable role query request."
    },
    "ListWorkloadIdentityPoolProviderKeysResponse": {
      "id": "ListWorkloadIdentityPoolProviderKeysResponse",
      "description": "Response message for ListWorkloadIdentityPoolProviderKeys.",
      "type": "object",
      "properties": {
        "workloadIdentityPoolProviderKeys": {
          "type": "array",
          "items": {
            "$ref": "WorkloadIdentityPoolProviderKey"
          },
          "description": "A list of WorkloadIdentityPoolProviderKey"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListWorkforcePoolProvidersResponse": {
      "type": "object",
      "description": "Response message for ListWorkforcePoolProviders.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "workforcePoolProviders": {
          "items": {
            "$ref": "WorkforcePoolProvider"
          },
          "description": "A list of providers.",
          "type": "array"
        }
      },
      "id": "ListWorkforcePoolProvidersResponse"
    },
    "ListWorkloadIdentityPoolProvidersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "workloadIdentityPoolProviders": {
          "type": "array",
          "description": "A list of providers.",
          "items": {
            "$ref": "WorkloadIdentityPoolProvider"
          }
        }
      },
      "type": "object",
      "description": "Response message for ListWorkloadIdentityPoolProviders.",
      "id": "ListWorkloadIdentityPoolProvidersResponse"
    },
    "UndeleteRoleRequest": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Used to perform a consistent read-modify-write.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "UndeleteRoleRequest",
      "description": "The request to undelete an existing role."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      }
    },
    "DisableServiceAccountRequest": {
      "type": "object",
      "id": "DisableServiceAccountRequest",
      "description": "The service account disable request.",
      "properties": {}
    },
    "EnableServiceAccountKeyRequest": {
      "description": "The service account key enable request.",
      "id": "EnableServiceAccountKeyRequest",
      "type": "object",
      "properties": {}
    },
    "WorkloadIdentityPoolProvider": {
      "properties": {
        "description": {
          "type": "string",
          "description": "A description for the provider. Cannot exceed 256 characters."
        },
        "name": {
          "description": "Output only. The resource name of the provider.",
          "type": "string",
          "readOnly": true
        },
        "disabled": {
          "description": "Whether the provider is disabled. You cannot use a disabled provider to exchange tokens. However, existing tokens still grant access.",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETED"
          ],
          "description": "Output only. The state of the provider.",
          "enumDescriptions": [
            "State unspecified.",
            "The provider is active, and may be used to validate authentication credentials.",
            "The provider is soft-deleted. Soft-deleted providers are permanently deleted after approximately 30 days. You can restore a soft-deleted provider using UndeleteWorkloadIdentityPoolProvider. You cannot reuse the ID of a soft-deleted provider until it is permanently deleted."
          ],
          "type": "string",
          "readOnly": true
        },
        "oidc": {
          "description": "An OpenId Connect 1.0 identity provider.",
          "$ref": "Oidc"
        },
        "saml": {
          "description": "An SAML 2.0 identity provider.",
          "$ref": "Saml"
        },
        "attributeCondition": {
          "type": "string",
          "description": "[A Common Expression Language](https://opensource.google/projects/cel) expression, in plain text, to restrict what otherwise valid authentication credentials issued by the provider should not be accepted. The expression must output a boolean representing whether to allow the federation. The following keywords may be referenced in the expressions: * `assertion`: JSON representing the authentication credential issued by the provider. * `google`: The Google attributes mapped from the assertion in the `attribute_mappings`. * `attribute`: The custom attributes mapped from the assertion in the `attribute_mappings`. The maximum length of the attribute condition expression is 4096 characters. If unspecified, all valid authentication credential are accepted. The following example shows how to only allow credentials with a mapped `google.groups` value of `admins`: ``` \"'admins' in google.groups\" ```"
        },
        "attributeMapping": {
          "type": "object",
          "description": "Maps attributes from authentication credentials issued by an external identity provider to Google Cloud attributes, such as `subject` and `segment`. Each key must be a string specifying the Google Cloud IAM attribute to map to. The following keys are supported: * `google.subject`: The principal IAM is authenticating. You can reference this value in IAM bindings. This is also the subject that appears in Cloud Logging logs. Cannot exceed 127 bytes. * `google.groups`: Groups the external identity belongs to. You can grant groups access to resources using an IAM `principalSet` binding; access applies to all members of the group. You can also provide custom attributes by specifying `attribute.{custom_attribute}`, where `{custom_attribute}` is the name of the custom attribute to be mapped. You can define a maximum of 50 custom attributes. The maximum length of a mapped attribute key is 100 characters, and the key may only contain the characters [a-z0-9_]. You can reference these attributes in IAM policies to define fine-grained access for a workload to Google Cloud resources. For example: * `google.subject`: `principal://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/subject/{value}` * `google.groups`: `principalSet://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/group/{value}` * `attribute.{custom_attribute}`: `principalSet://iam.googleapis.com/projects/{project}/locations/{location}/workloadIdentityPools/{pool}/attribute.{custom_attribute}/{value}` Each value must be a [Common Expression Language] (https://opensource.google/projects/cel) function that maps an identity provider credential to the normalized attribute specified by the corresponding map key. You can use the `assertion` keyword in the expression to access a JSON representation of the authentication credential issued by the provider. The maximum length of an attribute mapping expression is 2048 characters. When evaluated, the total size of all mapped attributes must not exceed 8KB. For AWS providers, if no attribute mapping is defined, the following default mapping applies: ``` { \"google.subject\":\"assertion.arn\", \"attribute.aws_role\": \"assertion.arn.contains('assumed-role')\" \" ? assertion.arn.extract('{account_arn}assumed-role/')\" \" + 'assumed-role/'\" \" + assertion.arn.extract('assumed-role/{role_name}/')\" \" : assertion.arn\", } ``` If any custom attribute mappings are defined, they must include a mapping to the `google.subject` attribute. For OIDC providers, you must supply a custom mapping, which must include the `google.subject` attribute. For example, the following maps the `sub` claim of the incoming credential to the `subject` attribute on a Google token: ``` {\"google.subject\": \"assertion.sub\"} ```",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "A display name for the provider. Cannot exceed 32 characters.",
          "type": "string"
        },
        "aws": {
          "$ref": "Aws",
          "description": "An Amazon Web Services identity provider."
        }
      },
      "description": "A configuration for an external identity provider.",
      "id": "WorkloadIdentityPoolProvider",
      "type": "object"
    },
    "CreateRoleRequest": {
      "id": "CreateRoleRequest",
      "properties": {
        "roleId": {
          "description": "The role ID to use for this role. A role ID may contain alphanumeric characters, underscores (`_`), and periods (`.`). It must contain a minimum of 3 characters and a maximum of 64 characters.",
          "type": "string"
        },
        "role": {
          "description": "The Role resource to create.",
          "$ref": "Role"
        }
      },
      "description": "The request to create a new role.",
      "type": "object"
    },
    "UndeleteServiceAccountRequest": {
      "type": "object",
      "properties": {},
      "id": "UndeleteServiceAccountRequest",
      "description": "The service account undelete request."
    }
  },
  "id": "iam:v1",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/iam/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Identity and Access Management (IAM) API",
  "revision": "20230420",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "resources": {
    "iamPolicies": {
      "methods": {
        "lintPolicy": {
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "LintPolicyResponse"
          },
          "flatPath": "v1/iamPolicies:lintPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lints, or validates, an IAM policy. Currently checks the google.iam.v1.Binding.condition field, which contains a condition expression for a role binding. Successful calls to this method always return an HTTP `200 OK` status code, even if the linter detects an issue in the IAM policy.",
          "request": {
            "$ref": "LintPolicyRequest"
          },
          "path": "v1/iamPolicies:lintPolicy",
          "id": "iam.iamPolicies.lintPolicy",
          "parameterOrder": []
        },
        "queryAuditableServices": {
          "path": "v1/iamPolicies:queryAuditableServices",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "iam.iamPolicies.queryAuditableServices",
          "description": "Returns a list of services that allow you to opt into audit logs that are not generated by default. To learn more about audit logs, see the [Logging documentation](https://cloud.google.com/logging/docs/audit).",
          "response": {
            "$ref": "QueryAuditableServicesResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1/iamPolicies:queryAuditableServices",
          "request": {
            "$ref": "QueryAuditableServicesRequest"
          },
          "parameters": {}
        }
      }
    },
    "permissions": {
      "methods": {
        "queryTestablePermissions": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "QueryTestablePermissionsRequest"
          },
          "id": "iam.permissions.queryTestablePermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "QueryTestablePermissionsResponse"
          },
          "parameters": {},
          "path": "v1/permissions:queryTestablePermissions",
          "description": "Lists every permission that you can test on a resource. A permission is testable if you can check whether a principal has that permission on the resource.",
          "flatPath": "v1/permissions:queryTestablePermissions"
        }
      }
    },
    "roles": {
      "methods": {
        "queryGrantableRoles": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "QueryGrantableRolesRequest"
          },
          "flatPath": "v1/roles:queryGrantableRoles",
          "id": "iam.roles.queryGrantableRoles",
          "description": "Lists roles that can be granted on a Google Cloud resource. A role is grantable if the IAM policy for the resource can contain bindings to the role.",
          "parameters": {},
          "path": "v1/roles:queryGrantableRoles",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "QueryGrantableRolesResponse"
          }
        },
        "list": {
          "description": "Lists every predefined Role that IAM supports, or every custom role that is defined for an organization or project.",
          "parameters": {
            "pageSize": {
              "description": "Optional limit on the number of roles to include in the response. The default is 300, and the maximum is 1,000.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "showDeleted": {
              "description": "Include Roles that have been deleted.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional pagination token returned in an earlier ListRolesResponse.",
              "type": "string"
            },
            "parent": {
              "description": "The `parent` parameter's value depends on the target resource for the request, namely [`roles`](https://cloud.google.com/iam/reference/rest/v1/roles), [`projects`](https://cloud.google.com/iam/reference/rest/v1/projects.roles), or [`organizations`](https://cloud.google.com/iam/reference/rest/v1/organizations.roles). Each resource type's `parent` value format is described below: * [`roles.list()`](https://cloud.google.com/iam/reference/rest/v1/roles/list): An empty string. This method doesn't require a resource; it simply returns all [predefined roles](https://cloud.google.com/iam/docs/understanding-roles#predefined_roles) in Cloud IAM. Example request URL: `https://iam.googleapis.com/v1/roles` * [`projects.roles.list()`](https://cloud.google.com/iam/reference/rest/v1/projects.roles/list): `projects/{PROJECT_ID}`. This method lists all project-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/projects/{PROJECT_ID}/roles` * [`organizations.roles.list()`](https://cloud.google.com/iam/reference/rest/v1/organizations.roles/list): `organizations/{ORGANIZATION_ID}`. This method lists all organization-level [custom roles](https://cloud.google.com/iam/docs/understanding-custom-roles). Example request URL: `https://iam.googleapis.com/v1/organizations/{ORGANIZATION_ID}/roles` Note: Wildcard (*) values are invalid; you must specify a complete project ID or organization ID.",
              "type": "string",
              "location": "query"
            },
            "view": {
              "type": "string",
[...]
