{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "resources": {
    "v1": {
      "methods": {
        "testIamPermissions": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^.*$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "description": "Returns permissions that a caller has on the Identity-Aware Proxy protected resource. More information about managing access via IAP can be found at: https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api",
          "path": "v1/{+resource}:testIamPermissions",
          "id": "iap.testIamPermissions",
          "flatPath": "v1/{v1Id}:testIamPermissions"
        },
        "setIamPolicy": {
          "id": "iap.setIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "required": true,
              "type": "string",
              "pattern": "^.*$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST",
          "description": "Sets the access control policy for an Identity-Aware Proxy protected resource. Replaces any existing policy. More information about managing access via IAP can be found at: https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api",
          "path": "v1/{+resource}:setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/{v1Id}:setIamPolicy"
        },
        "validateAttributeExpression": {
          "httpMethod": "POST",
          "response": {
            "$ref": "ValidateIapAttributeExpressionResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "iap.validateAttributeExpression",
          "flatPath": "v1/{v1Id}:validateAttributeExpression",
          "description": "Validates a given CEL expression conforms to IAP restrictions.",
          "parameters": {
            "expression": {
              "description": "Required. User input string expression. Should be of the form 'attributes.saml_attributes.filter(attribute, attribute.name in ['{attribute_name}', '{attribute_name}'])'",
              "location": "query",
              "type": "string"
            },
            "name": {
              "pattern": "^.*$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the IAP protected resource."
            }
          },
          "path": "v1/{+name}:validateAttributeExpression"
        },
        "getIamPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:getIamPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "resource": {
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^.*$",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/{v1Id}:getIamPolicy",
          "id": "iap.getIamPolicy",
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for an Identity-Aware Proxy protected resource. More information about managing access via IAP can be found at: https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateIapSettings": {
          "id": "iap.updateIapSettings",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "IapSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "description": "The field mask specifying which IAP settings should be updated. If omitted, then all of the settings are updated. See https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask. Note: All IAP reauth settings must always be set together, using the field mask: `iapSettings.accessSettings.reauthSettings`.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "required": true,
              "description": "Required. The resource name of the IAP protected resource.",
              "pattern": "^.*$",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1/{+name}:iapSettings",
          "response": {
            "$ref": "IapSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/{v1Id}:iapSettings",
          "description": "Updates the IAP settings on a particular IAP protected resource. It replaces all fields unless the `update_mask` is set."
        },
        "getIapSettings": {
          "response": {
            "$ref": "IapSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the IAP settings on a particular IAP protected resource.",
          "httpMethod": "GET",
          "id": "iap.getIapSettings",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^.*$",
              "type": "string",
              "location": "path",
              "description": "Required. The resource name for which to retrieve the settings. Authorization: Requires the `getSettings` permission for the associated resource."
            }
          },
          "flatPath": "v1/{v1Id}:iapSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:iapSettings"
        }
      }
    },
    "projects": {
      "resources": {
        "brands": {
          "resources": {
            "identityAwareProxyClients": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of clients to return. The service may return fewer than this value. If unspecified, at most 100 clients will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListIdentityAwareProxyClients` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityAwareProxyClients` must match the call that provided the page token."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Full brand path. In the following format: projects/{project_number/id}/brands/{brand}.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/brands/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/identityAwareProxyClients",
                  "response": {
                    "$ref": "ListIdentityAwareProxyClientsResponse"
                  },
                  "id": "iap.projects.brands.identityAwareProxyClients.list",
                  "httpMethod": "GET",
                  "description": "Lists the existing clients for the brand.",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                      "description": "Required. Name of the Identity Aware Proxy client to be deleted. In the following format: projects/{project_number/id}/brands/{brand}/identityAwareProxyClients/{client_id}.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "iap.projects.brands.identityAwareProxyClients.delete",
                  "description": "Deletes an Identity Aware Proxy (IAP) OAuth client. Useful for removing obsolete clients, managing the number of clients in a given project, and cleaning up after tests. Requires that the client is owned by IAP.",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}"
                },
                "create": {
                  "path": "v1/{+parent}/identityAwareProxyClients",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients",
                  "httpMethod": "POST",
                  "description": "Creates an Identity Aware Proxy (IAP) OAuth client. The client is owned by IAP. Requires that the brand for the project exists and that it is set for internal-only use.",
                  "id": "iap.projects.brands.identityAwareProxyClients.create",
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Path to create the client in. In the following format: projects/{project_number/id}/brands/{brand}. The project must belong to a G Suite account.",
                      "pattern": "^projects/[^/]+/brands/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "description": "Retrieves an Identity Aware Proxy (IAP) OAuth client. Requires that the client is owned by IAP.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the Identity Aware Proxy client to be fetched. In the following format: projects/{project_number/id}/brands/{brand}/identityAwareProxyClients/{client_id}.",
                      "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "iap.projects.brands.identityAwareProxyClients.get",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "resetSecret": {
                  "path": "v1/{+name}:resetSecret",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}:resetSecret",
                  "description": "Resets an Identity Aware Proxy (IAP) OAuth client secret. Useful if the secret was compromised. Requires that the client is owned by IAP.",
                  "request": {
                    "$ref": "ResetIdentityAwareProxyClientSecretRequest"
                  },
                  "id": "iap.projects.brands.identityAwareProxyClients.resetSecret",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the Identity Aware Proxy client to that will have its secret reset. In the following format: projects/{project_number/id}/brands/{brand}/identityAwareProxyClients/{client_id}.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "create": {
              "response": {
                "$ref": "Brand"
              },
              "parameters": {
                "parent": {
                  "description": "Required. GCP Project number/id under which the brand is to be created. In the following format: projects/{project_number/id}.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Brand"
              },
              "id": "iap.projects.brands.create",
              "path": "v1/{+parent}/brands",
              "description": "Constructs a new OAuth brand for the project if one does not exist. The created brand is \"internal only\", meaning that OAuth clients created under it only accept requests from users who belong to the same Google Workspace organization as the project. The brand is created in an un-reviewed status. NOTE: The \"internal only\" status can be manually changed in the Google Cloud Console. Requires that a brand does not already exist for the project, and that the specified support email is owned by the caller.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/brands"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Retrieves the OAuth brand of the project.",
              "flatPath": "v1/projects/{projectsId}/brands/{brandsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the brand to be fetched. In the following format: projects/{project_number/id}/brands/{brand}.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/brands/[^/]+$"
                }
              },
              "response": {
                "$ref": "Brand"
              },
              "id": "iap.projects.brands.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v1/{+parent}/brands",
              "response": {
                "$ref": "ListBrandsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "iap.projects.brands.list",
              "description": "Lists the existing brands for the project.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. GCP Project number/id. In the following format: projects/{project_number/id}.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/brands"
            }
          }
        },
        "iap_tunnel": {
          "resources": {
            "locations": {
              "resources": {
                "destGroups": {
                  "methods": {
                    "create": {
                      "path": "v1/{+parent}/destGroups",
                      "id": "iap.projects.iap_tunnel.locations.destGroups.create",
                      "flatPath": "v1/projects/{projectsId}/iap_tunnel/locations/{locationsId}/destGroups",
                      "description": "Creates a new TunnelDestGroup.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "TunnelDestGroup"
                      },
                      "response": {
                        "$ref": "TunnelDestGroup"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "tunnelDestGroupId": {
                          "description": "Required. The ID to use for the TunnelDestGroup, which becomes the final component of the resource name. This value must be 4-63 characters, and valid characters are `[a-z]-`.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/iap_tunnel/locations/[^/]+$",
                          "location": "path",
                          "description": "Required. Google Cloud Project ID and location. In the following format: `projects/{project_number/id}/iap_tunnel/locations/{location}`.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/iap_tunnel/locations/{locationsId}/destGroups/{destGroupsId}",
                      "httpMethod": "PATCH",
                      "id": "iap.projects.iap_tunnel.locations.destGroups.patch",
                      "response": {
                        "$ref": "TunnelDestGroup"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a TunnelDestGroup.",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "A field mask that specifies which IAP settings to update. If omitted, then all of the settings are updated. See https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/iap_tunnel/locations/[^/]+/destGroups/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Immutable. Identifier for the TunnelDestGroup. Must be unique within the project and contain only lower case letters (a-z) and dashes (-).",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "TunnelDestGroup"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "id": "iap.projects.iap_tunnel.locations.destGroups.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/iap_tunnel/locations/{locationsId}/destGroups/{destGroupsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Name of the TunnelDestGroup to delete. In the following format: `projects/{project_number/id}/iap_tunnel/locations/{location}/destGroups/{dest_group}`.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/iap_tunnel/locations/[^/]+/destGroups/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes a TunnelDestGroup."
                    },
                    "get": {
                      "id": "iap.projects.iap_tunnel.locations.destGroups.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "TunnelDestGroup"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/iap_tunnel/locations/[^/]+/destGroups/[^/]+$",
                          "description": "Required. Name of the TunnelDestGroup to be fetched. In the following format: `projects/{project_number/id}/iap_tunnel/locations/{location}/destGroups/{dest_group}`.",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/iap_tunnel/locations/{locationsId}/destGroups/{destGroupsId}",
                      "description": "Retrieves an existing TunnelDestGroup."
                    },
                    "list": {
                      "path": "v1/{+parent}/destGroups",
                      "id": "iap.projects.iap_tunnel.locations.destGroups.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListTunnelDestGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTunnelDestGroups` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of groups to return. The service might return fewer than this value. If unspecified, at most 100 groups are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. Google Cloud Project ID and location. In the following format: `projects/{project_number/id}/iap_tunnel/locations/{location}`. A `-` can be used for the location to group across all locations.",
                          "pattern": "^projects/[^/]+/iap_tunnel/locations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListTunnelDestGroupsResponse"
                      },
                      "description": "Lists the existing TunnelDestGroups. To group across all locations, use a `-` as the location ID. For example: `/v1/projects/123/iap_tunnel/locations/-/destGroups`",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/iap_tunnel/locations/{locationsId}/destGroups"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "Controls access to cloud applications running on Google Cloud Platform.",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "servicePath": "",
  "basePath": "",
  "batchPath": "batch",
  "revision": "20230901",
  "rootUrl": "https://iap.googleapis.com/",
  "baseUrl": "https://iap.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Cloud Identity-Aware Proxy API",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Cloud IAP",
  "name": "iap",
  "version_module": true,
  "mtlsRootUrl": "https://iap.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/iap",
  "version": "v1",
  "id": "iap:v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "OAuthSettings": {
      "type": "object",
      "description": "Configuration for OAuth login&consent flow behavior as well as for OAuth Credentials.",
      "id": "OAuthSettings",
      "properties": {
        "programmaticClients": {
          "description": "List of client ids allowed to use IAP programmatically.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loginHint": {
          "type": "string",
          "description": "Domain hint to send as hd=? parameter in OAuth request flow. Enables redirect to primary IDP by skipping Google's login screen. https://developers.google.com/identity/protocols/OpenIDConnect#hd-param Note: IAP does not verify that the id token's hd claim matches this value since access behavior is managed by IAM policies."
        }
      }
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions",
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "PolicyName": {
      "properties": {
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'gce', 'gcs', 'project', 'account' etc."
        },
        "region": {
          "type": "string",
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\"."
        }
      },
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names.",
      "type": "object",
      "id": "PolicyName"
    },
    "Policy": {
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "IdentityAwareProxyClient": {
      "type": "object",
      "properties": {
        "secret": {
          "description": "Output only. Client secret of the OAuth client.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Unique identifier of the OAuth client.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Human-friendly name given to the OAuth client.",
          "type": "string"
        }
      },
      "description": "Contains the data that describes an Identity Aware Proxy owned client.",
      "id": "IdentityAwareProxyClient"
    },
    "ValidateIapAttributeExpressionResponse": {
      "id": "ValidateIapAttributeExpressionResponse",
      "description": "API requires a return message, but currently all response strings will fit in the status and public message. In the future, this response can hold AST validation info.",
      "properties": {},
      "type": "object"
    },
    "AllowedDomainsSettings": {
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Configuration for customers to opt in for the feature."
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of trusted domains."
        }
      },
      "description": "Configuration for IAP allowed domains. Lets you to restrict access to an app and allow access to only the domains that you list.",
      "id": "AllowedDomainsSettings"
    },
    "Resource": {
      "id": "Resource",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The service defined labels of the resource on which the conditions will be evaluated. The semantics - including the key names - are vague to IAM. If the effective condition has a reference to a `resource.labels[foo]` construct, IAM consults with this map to retrieve the values associated with `foo` key for Conditions evaluation. If the provided key is not found in the labels map, the condition would evaluate to false. This field is in limited use. If your intended use case is not expected to express resource.labels attribute in IAM Conditions, leave this field empty. Before planning on using this attribute please: * Read go/iam-conditions-labels-comm and ensure your service can meet the data availability and management requirements. * Talk to iam-conditions-eng@ about your use case."
        },
        "name": {
          "description": "Name of the resource on which conditions will be evaluated. Must use the Relative Resource Name of the resource, which is the URI path of the resource without the leading \"/\". Examples are \"projects/_/buckets/[BUCKET-ID]\" for storage buckets or \"projects/[PROJECT-ID]/global/firewalls/[FIREWALL-ID]\" for a firewall. This field is required for evaluating conditions with rules on resource names. For a `list` permission check, the resource.name value must be set to the parent resource. If the parent resource is a project, this field should be left unset.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The public resource type name of the resource on which conditions will be evaluated. It is configured using the official_name of the ResourceType as defined in service configurations under //configs/cloud/resourcetypes. For example, the official_name for GCP projects is set as 'cloudresourcemanager.googleapis.com/Project' according to //configs/cloud/resourcetypes/google/cloud/resourcemanager/prod.yaml For details see go/iam-conditions-integration-guide."
        },
        "service": {
          "description": "The name of the service this resource belongs to. It is configured using the official_service_name of the Service as defined in service configurations under //configs/cloud/resourcetypes. For example, the official_service_name of cloud resource manager service is set as 'cloudresourcemanager.googleapis.com' according to //configs/cloud/resourcetypes/google/cloud/resourcemanager/prod.yaml",
          "type": "string"
        }
      }
    },
    "ResetIdentityAwareProxyClientSecretRequest": {
      "id": "ResetIdentityAwareProxyClientSecretRequest",
      "properties": {},
      "type": "object",
      "description": "The request sent to ResetIdentityAwareProxyClientSecret."
    },
    "ApplicationSettings": {
      "properties": {
        "attributePropagationSettings": {
          "description": "Settings to configure attribute propagation.",
          "$ref": "AttributePropagationSettings"
        },
        "cookieDomain": {
          "description": "The Domain value to set for cookies generated by IAP. This value is not validated by the API, but will be ignored at runtime if invalid.",
          "type": "string"
        },
        "csmSettings": {
          "description": "Settings to configure IAP's behavior for a service mesh.",
          "$ref": "CsmSettings"
        },
        "accessDeniedPageSettings": {
          "description": "Customization for Access Denied page.",
          "$ref": "AccessDeniedPageSettings"
        }
      },
      "description": "Wrapper over application specific settings for IAP.",
      "type": "object",
      "id": "ApplicationSettings"
    },
    "AccessSettings": {
      "description": "Access related settings for IAP protected apps.",
      "id": "AccessSettings",
      "type": "object",
      "properties": {
        "policyDelegationSettings": {
          "description": "Settings to configure Policy delegation for apps hosted in tenant projects. INTERNAL_ONLY.",
          "$ref": "PolicyDelegationSettings"
        },
        "gcipSettings": {
          "$ref": "GcipSettings",
          "description": "GCIP claims and endpoint configurations for 3p identity providers."
        },
        "oauthSettings": {
          "description": "Settings to configure IAP's OAuth behavior.",
          "$ref": "OAuthSettings"
        },
        "reauthSettings": {
          "$ref": "ReauthSettings",
          "description": "Settings to configure reauthentication policies in IAP."
        },
        "corsSettings": {
          "description": "Configuration to allow cross-origin requests via IAP.",
          "$ref": "CorsSettings"
        },
        "allowedDomainsSettings": {
          "description": "Settings to configure and enable allowed domains.",
          "$ref": "AllowedDomainsSettings"
        }
      }
    },
    "Brand": {
      "type": "object",
      "properties": {
        "supportEmail": {
          "description": "Support email displayed on the OAuth consent screen.",
          "type": "string"
        },
        "orgInternalOnly": {
          "description": "Output only. Whether the brand is only intended for usage inside the G Suite organization only.",
          "readOnly": true,
          "type": "boolean"
        },
        "applicationTitle": {
          "description": "Application name displayed on OAuth consent screen.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier of the brand. NOTE: GCP project number achieves the same brand identification purpose as only one brand per project can be created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "OAuth brand data. NOTE: Only contains a portion of the data that describes a brand.",
      "id": "Brand"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "GcipSettings": {
      "properties": {
        "tenantIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "GCIP tenant ids that are linked to the IAP resource. tenant_ids could be a string beginning with a number character to indicate authenticating with GCIP tenant flow, or in the format of _ to indicate authenticating with GCIP agent flow. If agent flow is used, tenant_ids should only contain one single element, while for tenant flow, tenant_ids can contain multiple elements."
        },
        "loginPageUri": {
          "description": "Login page URI associated with the GCIP tenants. Typically, all resources within the same project share the same login page, though it could be overridden at the sub resource level.",
          "type": "string"
        }
      },
      "id": "GcipSettings",
      "description": "Allows customers to configure tenant_id for GCIP instance per-app.",
      "type": "object"
    },
    "CsmSettings": {
      "description": "Configuration for RCToken generated for service mesh workloads protected by IAP. RCToken are IAP generated JWTs that can be verified at the application. The RCToken is primarily used for service mesh deployments, and can be scoped to a single mesh by configuring the audience field accordingly.",
      "id": "CsmSettings",
      "properties": {
        "rctokenAud": {
          "type": "string",
          "description": "Audience claim set in the generated RCToken. This value is not validated by IAP."
        }
      },
      "type": "object"
    },
    "TunnelDestGroup": {
      "description": "A TunnelDestGroup.",
      "id": "TunnelDestGroup",
      "type": "object",
      "properties": {
        "cidrs": {
          "description": "Unordered list. List of CIDRs that this group applies to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. Immutable. Identifier for the TunnelDestGroup. Must be unique within the project and contain only lower case letters (a-z) and dashes (-).",
          "type": "string"
        },
        "fqdns": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. List of FQDNs that this group applies to.",
          "type": "array"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "ListIdentityAwareProxyClientsResponse": {
      "id": "ListIdentityAwareProxyClientsResponse",
      "type": "object",
      "properties": {
        "identityAwareProxyClients": {
          "items": {
            "$ref": "IdentityAwareProxyClient"
          },
          "description": "Clients existing in the brand.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListIdentityAwareProxyClients."
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "AttributePropagationSettings": {
      "description": "Configuration for propagating attributes to applications protected by IAP.",
      "id": "AttributePropagationSettings",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Whether the provided attribute propagation settings should be evaluated on user requests. If set to true, attributes returned from the expression will be propagated in the set output credentials."
        },
        "expression": {
          "type": "string",
          "description": "Raw string CEL expression. Must return a list of attributes. A maximum of 45 attributes can be selected. Expressions can select different attribute types from `attributes`: `attributes.saml_attributes`, `attributes.iap_attributes`. The following functions are supported: - filter `.filter(, )`: Returns a subset of `` where `` is true for every item. - in ` in `: Returns true if `` contains ``. - selectByName `.selectByName()`: Returns the attribute in `` with the given `` name, otherwise returns empty. - emitAs `.emitAs()`: Sets the `` name field to the given `` for propagation in selected output credentials. - strict `.strict()`: Ignores the `x-goog-iap-attr-` prefix for the provided `` when propagating with the `HEADER` output credential, such as request headers. - append `.append()` OR `.append()`: Appends the provided `` or `` to the end of ``. Example expression: `attributes.saml_attributes.filter(x, x.name in ['test']).append(attributes.iap_attributes.selectByName('exact').emitAs('custom').strict())`"
        },
        "outputCredentials": {
          "description": "Which output credentials attributes selected by the CEL expression should be propagated in. All attributes will be fully duplicated in each selected output credential.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "An output credential is required.",
              "Propagate attributes in the headers with \"x-goog-iap-attr-\" prefix.",
              "Propagate attributes in the JWT of the form: `\"additional_claims\": { \"my_attribute\": [\"value1\", \"value2\"] }`",
              "Propagate attributes in the RCToken of the form: `\"additional_claims\": { \"my_attribute\": [\"value1\", \"value2\"] }`"
            ],
            "enum": [
              "OUTPUT_CREDENTIALS_UNSPECIFIED",
              "HEADER",
              "JWT",
              "RCTOKEN"
            ]
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PolicyDelegationSettings": {
      "id": "PolicyDelegationSettings",
      "description": "PolicyDelegationConfig allows google-internal teams to use IAP for apps hosted in a tenant project. Using these settings, the app can delegate permission check to happen against the linked customer project. This is only ever supposed to be used by google internal teams, hence the restriction on the proto.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "IAM resource to check permission on",
          "$ref": "Resource"
        },
        "policyName": {
          "description": "Policy name to be checked",
          "$ref": "PolicyName"
        },
        "iamPermission": {
          "description": "Permission to check in IAM.",
          "type": "string"
        },
        "iamServiceName": {
          "description": "The DNS name of the service (e.g. \"resourcemanager.googleapis.com\"). This should be the domain name part of the full resource names (see https://aip.dev/122#full-resource-names), which is usually the same as IamServiceSpec.service of the service where the resource type is defined.",
          "type": "string"
        }
      }
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "type": "object"
    },
    "ListBrandsResponse": {
      "description": "Response message for ListBrands.",
      "properties": {
        "brands": {
          "type": "array",
          "description": "Brands existing in the project.",
          "items": {
            "$ref": "Brand"
          }
        }
      },
      "id": "ListBrandsResponse",
      "type": "object"
    },
    "ListTunnelDestGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that you can send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "tunnelDestGroups": {
          "description": "TunnelDestGroup existing in the project.",
          "type": "array",
          "items": {
            "$ref": "TunnelDestGroup"
          }
        }
      },
      "id": "ListTunnelDestGroupsResponse",
      "description": "The response from ListTunnelDestGroups.",
      "type": "object"
    },
    "CorsSettings": {
      "properties": {
        "allowHttpOptions": {
          "description": "Configuration to allow HTTP OPTIONS calls to skip authorization. If undefined, IAP will not apply any special logic to OPTIONS requests.",
          "type": "boolean"
        }
      },
      "id": "CorsSettings",
      "description": "Allows customers to configure HTTP request paths that'll allow HTTP OPTIONS call to bypass authentication and authorization.",
      "type": "object"
    },
    "ReauthSettings": {
      "id": "ReauthSettings",
      "properties": {
        "maxAge": {
          "format": "google-duration",
          "description": "Reauth session lifetime, how long before a user has to reauthenticate again.",
          "type": "string"
        },
        "policyType": {
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "MINIMUM",
            "DEFAULT"
          ],
          "description": "How IAP determines the effective policy in cases of hierarchial policies. Policies are merged from higher in the hierarchy to lower in the hierarchy.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This policy acts as a minimum to other policies, lower in the hierarchy. Effective policy may only be the same or stricter.",
            "This policy acts as a default if no other reauth policy is set."
          ]
        },
        "method": {
          "description": "Reauth method requested.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "LOGIN",
            "PASSWORD",
            "SECURE_KEY",
            "ENROLLED_SECOND_FACTORS"
          ],
          "enumDescriptions": [
            "Reauthentication disabled.",
            "Prompts the user to log in again.",
            "",
            "User must use their secure key 2nd factor device.",
            "User can use any enabled 2nd factor."
          ],
          "type": "string"
        }
      },
      "description": "Configuration for IAP reauthentication policies.",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "AccessDeniedPageSettings": {
      "id": "AccessDeniedPageSettings",
      "properties": {
        "remediationTokenGenerationEnabled": {
          "description": "Whether to generate remediation token on access denied events to this application.",
          "type": "boolean"
        },
        "accessDeniedPageUri": {
          "type": "string",
          "description": "The URI to be redirected to when access is denied."
        },
        "generateTroubleshootingUri": {
          "description": "Whether to generate a troubleshooting URL on access denied events to this application.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Custom content configuration for access denied page. IAP allows customers to define a custom URI to use as the error page when access is denied to users. If IAP prevents access to this page, the default IAP error page will be displayed instead."
    },
    "IapSettings": {
      "description": "The IAP configurable settings.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of the IAP protected resource.",
          "type": "string"
        },
        "accessSettings": {
          "description": "Top level wrapper for all access related setting in IAP",
          "$ref": "AccessSettings"
        },
        "applicationSettings": {
          "description": "Top level wrapper for all application related settings in IAP",
          "$ref": "ApplicationSettings"
        }
      },
      "id": "IapSettings"
    }
  }
}
