{
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "Cloud IAP",
  "documentationLink": "https://cloud.google.com/iap",
  "ownerDomain": "google.com",
  "basePath": "",
  "protocol": "rest",
  "name": "iap",
  "id": "iap:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "batchPath": "batch",
  "version": "v1",
  "revision": "20210930",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "Brand": {
      "properties": {
        "orgInternalOnly": {
          "type": "boolean",
          "description": "Output only. Whether the brand is only intended for usage inside the G Suite organization only.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier of the brand. NOTE: GCP project number achieves the same brand identification purpose as only one brand per project can be created.",
          "readOnly": true
        },
        "applicationTitle": {
          "type": "string",
          "description": "Application name displayed on OAuth consent screen."
        },
        "supportEmail": {
          "type": "string",
          "description": "Support email displayed on the OAuth consent screen."
        }
      },
      "description": "OAuth brand data. NOTE: Only contains a portion of the data that describes a brand.",
      "id": "Brand",
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members` with a `role`.",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "type": "array",
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Binding"
    },
    "Resource": {
      "id": "Resource",
      "type": "object",
      "properties": {
        "type": {
          "description": "The public resource type name of the resource on which conditions will be evaluated. It is configured using the official_name of the ResourceType as defined in service configurations under //configs/cloud/resourcetypes. For example, the official_name for GCP projects is set as 'cloudresourcemanager.googleapis.com/Project' according to //configs/cloud/resourcetypes/google/cloud/resourcemanager/prod.yaml For details see go/iam-conditions-integration-guide.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the resource on which conditions will be evaluated. Must use the Relative Resource Name of the resource, which is the URI path of the resource without the leading \"/\". Examples are \"projects/_/buckets/[BUCKET-ID]\" for storage buckets or \"projects/[PROJECT-ID]/global/firewalls/[FIREWALL-ID]\" for a firewall. This field is required for evaluating conditions with rules on resource names. For a `list` permission check, the resource.name value must be set to the parent resource. If the parent resource is a project, this field should be left unset."
        },
        "service": {
          "description": "The name of the service this resource belongs to. It is configured using the official_service_name of the Service as defined in service configurations under //configs/cloud/resourcetypes. For example, the official_service_name of cloud resource manager service is set as 'cloudresourcemanager.googleapis.com' according to //configs/cloud/resourcetypes/google/cloud/resourcemanager/prod.yaml",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The service defined labels of the resource on which the conditions will be evaluated. The semantics - including the key names - are vague to IAM. If the effective condition has a reference to a `resource.labels[foo]` construct, IAM consults with this map to retrieve the values associated with `foo` key for Conditions evaluation. If the provided key is not found in the labels map, the condition would evaluate to false. This field is in limited use. If your intended use case is not expected to express resource.labels attribute in IAM Conditions, leave this field empty. Before planning on using this attribute please: * Read go/iam-conditions-labels-comm and ensure your service can meet the data availability and management requirements. * Talk to iam-conditions-eng@ about your use case."
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty"
    },
    "ReauthSettings": {
      "properties": {
        "maxAge": {
          "format": "google-duration",
          "description": "Reauth session lifetime, how long before a user has to reauthenticate again.",
          "type": "string"
        },
        "method": {
          "enumDescriptions": [
            "Reauthentication disabled.",
            "Mimicks the behavior as if the user had logged out and tried to log in again. Users with 2SV (step verification) enabled will see their 2SV challenges if they did not opt to have their second factor responses saved. Apps Core (GSuites) admins can configure settings to disable 2SV cookies and require 2-step verification for all Apps Core users in their domains.",
            "User must type their password.",
            "User must use their secure key 2nd factor device."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "LOGIN",
            "PASSWORD",
            "SECURE_KEY"
          ],
          "type": "string",
          "description": "Reauth method required by the policy."
        },
        "policyType": {
          "description": "How IAP determines the effective policy in cases of hierarchial policies. Policies are merged from higher in the hierarchy to lower in the hierarchy.",
          "enumDescriptions": [
            "Default value. This value is unused/invalid.",
            "This policy acts as a minimum to other policies, lower in the hierarchy. Effective policy may only be the same or stricter.",
            "This policy acts as a default if no other reauth policy is set."
          ],
          "enum": [
            "POLICY_TYPE_UNSPECIFIED",
            "MINIMUM",
            "DEFAULT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for IAP reauthentication policies.",
      "id": "ReauthSettings"
    },
    "CsmSettings": {
      "description": "Configuration for RCTokens generated for CSM workloads protected by IAP. RCTokens are IAP generated JWTs that can be verified at the application. The RCToken is primarily used for ISTIO deployments, and can be scoped to a single mesh by configuring the audience field accordingly",
      "properties": {
        "rctokenAud": {
          "description": "Audience claim set in the generated RCToken. This value is not validated by IAP.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CsmSettings"
    },
    "ApplicationSettings": {
      "id": "ApplicationSettings",
      "properties": {
        "accessDeniedPageSettings": {
          "description": "Customization for Access Denied page.",
          "$ref": "AccessDeniedPageSettings"
        },
        "cookieDomain": {
          "type": "string",
          "description": "The Domain value to set for cookies generated by IAP. This value is not validated by the API, but will be ignored at runtime if invalid."
        },
        "csmSettings": {
          "$ref": "CsmSettings",
          "description": "Settings to configure IAP's behavior for a CSM mesh."
        }
      },
      "description": "Wrapper over application specific settings for IAP.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "id": "Expr"
    },
    "CorsSettings": {
      "description": "Allows customers to configure HTTP request paths that'll allow HTTP OPTIONS call to bypass authentication and authorization.",
      "id": "CorsSettings",
      "properties": {
        "allowHttpOptions": {
          "description": "Configuration to allow HTTP OPTIONS calls to skip authorization. If undefined, IAP will not apply any special logic to OPTIONS requests.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListIdentityAwareProxyClientsResponse": {
      "description": "Response message for ListIdentityAwareProxyClients.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "identityAwareProxyClients": {
          "items": {
            "$ref": "IdentityAwareProxyClient"
          },
          "description": "Clients existing in the brand.",
          "type": "array"
        }
      },
      "id": "ListIdentityAwareProxyClientsResponse"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PolicyDelegationSettings": {
      "description": "PolicyDelegationConfig allows google-internal teams to use IAP for apps hosted in a tenant project. Using these settings, the app can delegate permission check to happen against the linked customer project. This is only ever supposed to be used by google internal teams, hence the restriction on the proto.",
      "properties": {
        "iamPermission": {
          "type": "string",
          "description": "Permission to check in IAM."
        },
        "policyName": {
          "$ref": "PolicyName",
          "description": "Policy name to be checked"
        },
        "iamServiceName": {
          "description": "The DNS name of the service (e.g. \"resourcemanager.googleapis.com\"). This should be the domain name part of the full resource names (see https://aip.dev/122#full-resource-names), which is usually the same as IamServiceSpec.service of the service where the resource type is defined.",
          "type": "string"
        },
        "resource": {
          "description": "IAM resource to check permission on",
          "$ref": "Resource"
        }
      },
      "id": "PolicyDelegationSettings",
      "type": "object"
    },
    "OAuthSettings": {
      "type": "object",
      "properties": {
        "loginHint": {
          "type": "string",
          "description": "Domain hint to send as hd=? parameter in OAuth request flow. Enables redirect to primary IDP by skipping Google's login screen. https://developers.google.com/identity/protocols/OpenIDConnect#hd-param Note: IAP does not verify that the id token's hd claim matches this value since access behavior is managed by IAM policies."
        }
      },
      "id": "OAuthSettings",
      "description": "Configuration for OAuth login&consent flow behavior as well as for OAuth Credentials."
    },
    "ListBrandsResponse": {
      "properties": {
        "brands": {
          "items": {
            "$ref": "Brand"
          },
          "type": "array",
          "description": "Brands existing in the project."
        }
      },
      "description": "Response message for ListBrands.",
      "id": "ListBrandsResponse",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "GcipSettings": {
      "type": "object",
      "description": "Allows customers to configure tenant_id for GCIP instance per-app.",
      "id": "GcipSettings",
      "properties": {
        "tenantIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "GCIP tenant ids that are linked to the IAP resource. tenant_ids could be a string beginning with a number character to indicate authenticating with GCIP tenant flow, or in the format of _ to indicate authenticating with GCIP agent flow. If agent flow is used, tenant_ids should only contain one single element, while for tenant flow, tenant_ids can contain multiple elements."
        },
        "loginPageUri": {
          "description": "Login page URI associated with the GCIP tenants. Typically, all resources within the same project share the same login page, though it could be overridden at the sub resource level.",
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member. The `bindings` in a `Policy` can refer to up to 1,500 members; up to 250 of these members can be Google groups. Each occurrence of a member counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other member, then you can add another 1,450 members to the `bindings` in the `Policy`.",
          "type": "array"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "AccessSettings": {
      "type": "object",
      "id": "AccessSettings",
      "description": "Access related settings for IAP protected apps.",
      "properties": {
        "policyDelegationSettings": {
          "description": "Settings to configure Policy delegation for apps hosted in tenant projects. INTERNAL_ONLY.",
          "$ref": "PolicyDelegationSettings"
        },
        "gcipSettings": {
          "description": "GCIP claims and endpoint configurations for 3p identity providers.",
          "$ref": "GcipSettings"
        },
        "corsSettings": {
          "description": "Configuration to allow cross-origin requests via IAP.",
          "$ref": "CorsSettings"
        },
        "reauthSettings": {
          "$ref": "ReauthSettings",
          "description": "Settings to configure reauthentication policies in IAP."
        },
        "oauthSettings": {
          "$ref": "OAuthSettings",
          "description": "Settings to configure IAP's OAuth behavior."
        }
      }
    },
    "ResetIdentityAwareProxyClientSecretRequest": {
      "id": "ResetIdentityAwareProxyClientSecretRequest",
      "properties": {},
      "description": "The request sent to ResetIdentityAwareProxyClientSecret.",
      "type": "object"
    },
    "AccessDeniedPageSettings": {
      "properties": {
        "accessDeniedPageUri": {
          "type": "string",
          "description": "The URI to be redirected to when access is denied."
        },
        "generateTroubleshootingUri": {
          "type": "boolean",
          "description": "Whether to generate a troubleshooting URL on access denied events to this application."
        }
      },
      "type": "object",
      "description": "Custom content configuration for access denied page. IAP allows customers to define a custom URI to use as the error page when access is denied to users. If IAP prevents access to this page, the default IAP error page will be displayed instead.",
      "id": "AccessDeniedPageSettings"
    },
    "PolicyName": {
      "id": "PolicyName",
      "description": "An internal name for an IAM policy, based on the resource to which the policy applies. Not to be confused with a resource's external full resource name. For more information on this distinction, see go/iam-full-resource-names.",
      "properties": {
        "region": {
          "description": "For Cloud IAM: The location of the Policy. Must be empty or \"global\" for Policies owned by global IAM. Must name a region from prodspec/cloud-iam-cloudspec for Regional IAM Policies, see go/iam-faq#where-is-iam-currently-deployed. For Local IAM: This field should be set to \"local\".",
          "type": "string"
        },
        "id": {
          "description": "Identifies an instance of the type. ID format varies by type. The ID format is defined in the IAM .service file that defines the type, either in path_mapping or in a comment.",
          "type": "string"
        },
        "type": {
          "description": "Resource type. Types are defined in IAM's .service files. Valid values for type might be 'gce', 'gcs', 'project', 'account' etc.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IdentityAwareProxyClient": {
      "type": "object",
      "id": "IdentityAwareProxyClient",
      "description": "Contains the data that describes an Identity Aware Proxy owned client.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Human-friendly name given to the OAuth client."
        },
        "secret": {
          "type": "string",
          "description": "Output only. Client secret of the OAuth client.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier of the OAuth client."
        }
      }
    },
    "IapSettings": {
      "description": "The IAP configurable settings.",
      "id": "IapSettings",
      "type": "object",
      "properties": {
        "applicationSettings": {
          "$ref": "ApplicationSettings",
          "description": "Top level wrapper for all application related settings in IAP"
        },
        "name": {
          "description": "Required. The resource name of the IAP protected resource.",
          "type": "string"
        },
        "accessSettings": {
          "$ref": "AccessSettings",
          "description": "Top level wrapper for all access related setting in IAP"
        }
      }
    }
  },
  "title": "Cloud Identity-Aware Proxy API",
  "description": "Controls access to cloud applications running on Google Cloud Platform.",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "brands": {
          "resources": {
            "identityAwareProxyClients": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the Identity Aware Proxy client to be deleted. In the following format: projects/{project_number/id}/brands/{brand}/identityAwareProxyClients/{client_id}.",
                      "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}",
                  "id": "iap.projects.brands.identityAwareProxyClients.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an Identity Aware Proxy (IAP) OAuth client. Useful for removing obsolete clients, managing the number of clients in a given project, and cleaning up after tests. Requires that the client is owned by IAP."
                },
                "list": {
                  "description": "Lists the existing clients for the brand.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListIdentityAwareProxyClients` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityAwareProxyClients` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of clients to return. The service may return fewer than this value. If unspecified, at most 100 clients will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/brands/[^/]+$",
                      "location": "path",
                      "description": "Required. Full brand path. In the following format: projects/{project_number/id}/brands/{brand}."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListIdentityAwareProxyClientsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients",
                  "path": "v1/{+parent}/identityAwareProxyClients",
                  "id": "iap.projects.brands.identityAwareProxyClients.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Retrieves an Identity Aware Proxy (IAP) OAuth client. Requires that the client is owned by IAP.",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}",
                  "id": "iap.projects.brands.identityAwareProxyClients.get",
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the Identity Aware Proxy client to be fetched. In the following format: projects/{project_number/id}/brands/{brand}/identityAwareProxyClients/{client_id}.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                      "required": true
                    }
                  }
                },
                "create": {
                  "description": "Creates an Identity Aware Proxy (IAP) OAuth client. The client is owned by IAP. Requires that the brand for the project exists and that it is set for internal-only use.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/brands/[^/]+$",
                      "description": "Required. Path to create the client in. In the following format: projects/{project_number/id}/brands/{brand}. The project must belong to a G Suite account.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "iap.projects.brands.identityAwareProxyClients.create",
                  "request": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "path": "v1/{+parent}/identityAwareProxyClients",
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "resetSecret": {
                  "request": {
                    "$ref": "ResetIdentityAwareProxyClientSecretRequest"
                  },
                  "response": {
                    "$ref": "IdentityAwareProxyClient"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the Identity Aware Proxy client to that will have its secret reset. In the following format: projects/{project_number/id}/brands/{brand}/identityAwareProxyClients/{client_id}.",
                      "pattern": "^projects/[^/]+/brands/[^/]+/identityAwareProxyClients/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "iap.projects.brands.identityAwareProxyClients.resetSecret",
                  "flatPath": "v1/projects/{projectsId}/brands/{brandsId}/identityAwareProxyClients/{identityAwareProxyClientsId}:resetSecret",
                  "description": "Resets an Identity Aware Proxy (IAP) OAuth client secret. Useful if the secret was compromised. Requires that the client is owned by IAP.",
                  "path": "v1/{+name}:resetSecret",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "description": "Retrieves the OAuth brand of the project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Brand"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/brands/[^/]+$",
                  "description": "Required. Name of the brand to be fetched. In the following format: projects/{project_number/id}/brands/{brand}.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/brands/{brandsId}",
              "id": "iap.projects.brands.get",
              "path": "v1/{+name}"
            },
            "list": {
              "description": "Lists the existing brands for the project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/brands",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. GCP Project number/id. In the following format: projects/{project_number/id}.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "id": "iap.projects.brands.list",
              "response": {
                "$ref": "ListBrandsResponse"
              },
              "path": "v1/{+parent}/brands"
            },
            "create": {
              "request": {
                "$ref": "Brand"
              },
              "description": "Constructs a new OAuth brand for the project if one does not exist. The created brand is \"internal only\", meaning that OAuth clients created under it only accept requests from users who belong to the same Google Workspace organization as the project. The brand is created in an un-reviewed status. NOTE: The \"internal only\" status can be manually changed in the Google Cloud Console. Requires that a brand does not already exist for the project, and that the specified support email is owned by the caller.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Brand"
              },
              "flatPath": "v1/projects/{projectsId}/brands",
              "path": "v1/{+parent}/brands",
              "id": "iap.projects.brands.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. GCP Project number/id under which the brand is to be created. In the following format: projects/{project_number/id}."
                }
              }
            }
          }
        }
      }
    },
    "v1": {
      "methods": {
        "getIapSettings": {
          "description": "Gets the IAP settings on a particular IAP protected resource.",
          "id": "iap.getIapSettings",
          "flatPath": "v1/{v1Id}:iapSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "IapSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}:iapSettings",
          "parameters": {
            "name": {
              "description": "Required. The resource name for which to retrieve the settings. Authorization: Requires the `getSettings` permission for the associated resource.",
              "type": "string",
              "pattern": "^.*$",
              "location": "path",
              "required": true
            }
          }
        },
        "updateIapSettings": {
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "The field mask specifying which IAP settings should be updated. If omitted, the all of the settings are updated. See https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
            },
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^.*$",
              "description": "Required. The resource name of the IAP protected resource."
            }
          },
          "path": "v1/{+name}:iapSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the IAP settings on a particular IAP protected resource. It replaces all fields unless the `update_mask` is set.",
          "request": {
            "$ref": "IapSettings"
          },
          "httpMethod": "PATCH",
          "flatPath": "v1/{v1Id}:iapSettings",
          "response": {
            "$ref": "IapSettings"
          },
          "id": "iap.updateIapSettings"
        },
        "testIamPermissions": {
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "id": "iap.testIamPermissions",
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "pattern": "^.*$"
            }
          },
          "flatPath": "v1/{v1Id}:testIamPermissions",
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "httpMethod": "POST",
          "path": "v1/{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the Identity-Aware Proxy protected resource. More information about managing access via IAP can be found at: https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api"
        },
        "getIamPolicy": {
          "id": "iap.getIamPolicy",
          "httpMethod": "POST",
          "flatPath": "v1/{v1Id}:getIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "location": "path",
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:getIamPolicy",
          "description": "Gets the access control policy for an Identity-Aware Proxy protected resource. More information about managing access via IAP can be found at: https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api",
          "response": {
            "$ref": "Policy"
          },
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setIamPolicy": {
          "id": "iap.setIamPolicy",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "required": true,
              "pattern": "^.*$"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "description": "Sets the access control policy for an Identity-Aware Proxy protected resource. Replaces any existing policy. More information about managing access via IAP can be found at: https://cloud.google.com/iap/docs/managing-access#managing_access_via_the_api",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Policy"
          },
          "path": "v1/{+resource}:setIamPolicy",
          "flatPath": "v1/{v1Id}:setIamPolicy"
        }
      }
    }
  },
  "rootUrl": "https://iap.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://iap.mtls.googleapis.com/",
  "baseUrl": "https://iap.googleapis.com/"
}
