{
  "discoveryVersion": "v1",
  "name": "ideahub",
  "version": "v1alpha",
  "mtlsRootUrl": "https://ideahub.mtls.googleapis.com/",
  "basePath": "",
  "documentationLink": "https://console.cloud.google.com/apis/library/ideahub.googleapis.com",
  "schemas": {
    "GoogleSearchIdeahubV1alphaListAvailableLocalesResponse": {
      "type": "object",
      "description": "Response for whether ideas are available for a given web property on a platform, for the currently logged-in user.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "availableLocales": {
          "items": {
            "$ref": "GoogleSearchIdeahubV1alphaAvailableLocale"
          },
          "type": "array",
          "description": "Locales for which ideas are available for the given Creator."
        }
      },
      "id": "GoogleSearchIdeahubV1alphaListAvailableLocalesResponse"
    },
    "GoogleSearchIdeahubV1alphaIdea": {
      "properties": {
        "topics": {
          "type": "array",
          "items": {
            "$ref": "GoogleSearchIdeahubV1alphaTopic"
          },
          "description": "The Topics that match the idea."
        },
        "name": {
          "type": "string",
          "description": "Unique identifier for the idea. Format: ideas/{ideaId}"
        },
        "text": {
          "description": "The idea’s text.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A single Idea that we want to show the end user.",
      "id": "GoogleSearchIdeahubV1alphaIdea"
    },
    "GoogleSearchIdeahubV1alphaTopicState": {
      "properties": {
        "name": {
          "description": "Unique identifier for the topic state. Format: platforms/{platform}/properties/{property}/topicStates/{topic_state}",
          "type": "string"
        },
        "dismissed": {
          "type": "boolean",
          "description": "Whether the topic is dismissed."
        },
        "saved": {
          "description": "Whether the topic is saved.",
          "type": "boolean"
        }
      },
      "description": "Represents topic state specific to a web property.",
      "id": "GoogleSearchIdeahubV1alphaTopicState",
      "type": "object"
    },
    "GoogleSearchIdeahubV1alphaListIdeasResponse": {
      "id": "GoogleSearchIdeahubV1alphaListIdeasResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Used to fetch the next page in a subsequent request.",
          "type": "string"
        },
        "ideas": {
          "description": "Results for the ListIdeasRequest.",
          "type": "array",
          "items": {
            "$ref": "GoogleSearchIdeahubV1alphaIdea"
          }
        }
      }
    },
    "GoogleSearchIdeahubV1alphaTopic": {
      "id": "GoogleSearchIdeahubV1alphaTopic",
      "type": "object",
      "description": "Represents a Topic umbrella for a list of questions that a Creator may want to respond to.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "String displayed to the creator indicating the name of the Topic."
        },
        "mid": {
          "description": "The mID of the topic.",
          "type": "string"
        },
        "name": {
          "description": "Unique identifier for the topic. Format: topics/{topic}",
          "type": "string"
        }
      }
    },
    "GoogleSearchIdeahubV1alphaIdeaActivity": {
      "type": "object",
      "description": "An idea activity entry.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The uri the activity relates to."
        },
        "ideas": {
          "description": "The Idea IDs for this entry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Unique identifier for the idea activity. Format: platforms/{platform}/properties/{property}/ideaActivities/{idea_activity}",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of activity performed.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "POST_DRAFTED",
            "POST_PUBLISHED",
            "POST_DELETED"
          ],
          "enumDescriptions": [
            "An unspecified, unknown type of idea activity.",
            "An idea activity type indicating a post has been drafted.",
            "An idea activity type indicating a post has been published.",
            "An idea activity type indicating a post has been deleted."
          ]
        },
        "topics": {
          "description": "The Topic IDs for this entry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleSearchIdeahubV1alphaIdeaActivity"
    },
    "GoogleSearchIdeahubV1alphaAvailableLocale": {
      "description": "Represents locales that are available for a web property.",
      "type": "object",
      "id": "GoogleSearchIdeahubV1alphaAvailableLocale",
      "properties": {
        "name": {
          "type": "string",
          "description": "A string in BCP 47 format, prefixed with the platform and property name, and \"locales/\". Format: platforms/{platform}/properties/{property}/locales/{locale}"
        },
        "locale": {
          "description": "A string in BCP 47 format, without a resource prefix.",
          "type": "string"
        }
      }
    },
    "GoogleSearchIdeahubV1alphaIdeaState": {
      "description": "Represents idea state specific to a web property.",
      "id": "GoogleSearchIdeahubV1alphaIdeaState",
      "type": "object",
      "properties": {
        "dismissed": {
          "type": "boolean",
          "description": "Whether the idea is dismissed."
        },
        "saved": {
          "type": "boolean",
          "description": "Whether the idea is saved."
        },
        "name": {
          "description": "Unique identifier for the idea state. Format: platforms/{platform}/properties/{property}/ideaStates/{idea_state}",
          "type": "string"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://ideahub.googleapis.com/",
  "resources": {
    "platforms": {
      "resources": {
        "properties": {
          "resources": {
            "topicStates": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GoogleSearchIdeahubV1alphaTopicState"
                  },
                  "id": "ideahub.platforms.properties.topicStates.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Unique identifier for the topic state. Format: platforms/{platform}/properties/{property}/topicStates/{topic_state}",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/properties/[^/]+/topicStates/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update a topic state resource.",
                  "response": {
                    "$ref": "GoogleSearchIdeahubV1alphaTopicState"
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/properties/{propertiesId}/topicStates/{topicStatesId}"
                }
              }
            },
            "ideaStates": {
              "methods": {
                "patch": {
                  "path": "v1alpha/{+name}",
                  "id": "ideahub.platforms.properties.ideaStates.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update an idea state resource.",
                  "response": {
                    "$ref": "GoogleSearchIdeahubV1alphaIdeaState"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1alpha/platforms/{platformsId}/properties/{propertiesId}/ideaStates/{ideaStatesId}",
                  "request": {
                    "$ref": "GoogleSearchIdeahubV1alphaIdeaState"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to be updated."
                    },
                    "name": {
                      "pattern": "^platforms/[^/]+/properties/[^/]+/ideaStates/[^/]+$",
                      "type": "string",
                      "description": "Unique identifier for the idea state. Format: platforms/{platform}/properties/{property}/ideaStates/{idea_state}",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            },
            "locales": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Returns which locales ideas are available in for a given Creator.",
                  "flatPath": "v1alpha/platforms/{platformsId}/properties/{propertiesId}/locales",
                  "path": "v1alpha/{+parent}/locales",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of locales to return. The service may return fewer than this value. If unspecified, at most 100 locales will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListAvailableLocales` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAvailableLocales` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The web property to check idea availability for Format: platforms/{platform}/property/{property}",
                      "type": "string",
                      "required": true,
                      "pattern": "^platforms/[^/]+/properties/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleSearchIdeahubV1alphaListAvailableLocalesResponse"
                  },
                  "id": "ideahub.platforms.properties.locales.list"
                }
              }
            },
            "ideaActivities": {
              "methods": {
                "create": {
                  "id": "ideahub.platforms.properties.ideaActivities.create",
                  "path": "v1alpha/{+parent}/ideaActivities",
                  "flatPath": "v1alpha/platforms/{platformsId}/properties/{propertiesId}/ideaActivities",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this idea activity will be created. Format: platforms/{platform}/property/{property}",
                      "required": true,
                      "pattern": "^platforms/[^/]+/properties/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleSearchIdeahubV1alphaIdeaActivity"
                  },
                  "description": "Creates an idea activity entry.",
                  "response": {
                    "$ref": "GoogleSearchIdeahubV1alphaIdeaActivity"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "ideas": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Used to fetch next page.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Order semantics described below.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "If defined, specifies the creator for which to filter by. Format: publishers/{publisher}/properties/{property}",
                      "type": "string",
                      "required": true,
                      "pattern": "^platforms/[^/]+/properties/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of ideas per page. If unspecified, at most 10 ideas will be returned. The maximum value is 2000; values above 2000 will be coerced to 2000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions are implicitly combined, as if the `AND` operator was always used. The `OR` operator is currently unsupported. * Supported functions: - `saved(bool)`: If set to true, fetches only saved ideas. If set to false, fetches all except saved ideas. Can't be simultaneously used with `dismissed(bool)`. - `dismissed(bool)`: If set to true, fetches only dismissed ideas. Can't be simultaneously used with `saved(bool)`. The `false` value is currently unsupported. Examples: * `saved(true)` * `saved(false)` * `dismissed(true)` The length of this field should be no more than 500 characters.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "ideahub.platforms.properties.ideas.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List ideas for a given Creator and filter and sort options.",
                  "flatPath": "v1alpha/platforms/{platformsId}/properties/{propertiesId}/ideas",
                  "path": "v1alpha/{+parent}/ideas",
                  "response": {
                    "$ref": "GoogleSearchIdeahubV1alphaListIdeasResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "ideas": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "v1alpha/ideas",
          "flatPath": "v1alpha/ideas",
          "parameterOrder": [],
          "description": "List ideas for a given Creator and filter and sort options.",
          "id": "ideahub.ideas.list",
          "response": {
            "$ref": "GoogleSearchIdeahubV1alphaListIdeasResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Used to fetch next page."
            },
            "orderBy": {
              "description": "Order semantics described below.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions are implicitly combined, as if the `AND` operator was always used. The `OR` operator is currently unsupported. * Supported functions: - `saved(bool)`: If set to true, fetches only saved ideas. If set to false, fetches all except saved ideas. Can't be simultaneously used with `dismissed(bool)`. - `dismissed(bool)`: If set to true, fetches only dismissed ideas. Can't be simultaneously used with `saved(bool)`. The `false` value is currently unsupported. Examples: * `saved(true)` * `saved(false)` * `dismissed(true)` The length of this field should be no more than 500 characters."
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "If defined, specifies the creator for which to filter by. Format: publishers/{publisher}/properties/{property}"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of ideas per page. If unspecified, at most 10 ideas will be returned. The maximum value is 2000; values above 2000 will be coerced to 2000."
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "description": "",
  "ownerDomain": "google.com",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "id": "ideahub:v1alpha",
  "canonicalName": "Ideahub",
  "title": "Idea Hub API",
  "protocol": "rest",
  "ownerName": "Google",
  "revision": "20210818",
  "baseUrl": "https://ideahub.googleapis.com/"
}
