{
  "id": "identitytoolkit:v2",
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "revision": "20230505",
  "version": "v2",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "version_module": true,
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "name": "identitytoolkit",
  "resources": {
    "defaultSupportedIdps": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "description": "The next_page_token value returned from a previous List request, if any.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "The maximum number of items to return.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "flatPath": "v2/defaultSupportedIdps",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "GET",
          "id": "identitytoolkit.defaultSupportedIdps.list",
          "path": "v2/defaultSupportedIdps",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse"
          },
          "description": "List all default supported Idps."
        }
      }
    },
    "projects": {
      "methods": {
        "updateConfig": {
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Update an Identity Toolkit project configuration.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/config$",
              "required": true,
              "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\"",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "The update mask applies to the resource. Fields set in the config but not included in this update mask will be ignored. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "flatPath": "v2/projects/{projectsId}/config",
          "httpMethod": "PATCH",
          "path": "v2/{+name}",
          "id": "identitytoolkit.projects.updateConfig"
        },
        "getConfig": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.projects.getConfig",
          "path": "v2/{+name}",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Config"
          },
          "description": "Retrieve an Identity Toolkit project configuration.",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/config$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The resource name of the config, for example: \"projects/my-awesome-project/config\""
            }
          },
          "httpMethod": "GET",
          "flatPath": "v2/projects/{projectsId}/config"
        }
      },
      "resources": {
        "tenants": {
          "resources": {
            "oauthIdpConfigs": {
              "methods": {
                "create": {
                  "parameters": {
                    "oauthIdpConfigId": {
                      "description": "The id to use for this config.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "path": "v2/{+parent}/oauthIdpConfigs",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.get"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.patch",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.list",
                  "path": "v2/{+parent}/oauthIdpConfigs",
                  "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "identitytoolkit.projects.tenants.oauthIdpConfigs.delete",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/oauthIdpConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/oauthIdpConfigs/{oauthIdpConfigsId}"
                }
              }
            },
            "inboundSamlConfigs": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.get",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Update an inbound SAML configuration for an Identity Toolkit project.",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests."
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.patch",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  }
                },
                "list": {
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    }
                  },
                  "description": "List all inbound SAML configurations for an Identity Toolkit project.",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "httpMethod": "GET"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/inboundSamlConfigs/[^/]+$",
                      "type": "string",
                      "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'."
                    }
                  },
                  "description": "Delete an inbound SAML configuration for an Identity Toolkit project."
                },
                "create": {
                  "id": "identitytoolkit.projects.tenants.inboundSamlConfigs.create",
                  "path": "v2/{+parent}/inboundSamlConfigs",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/inboundSamlConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "required": true,
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\""
                    },
                    "inboundSamlConfigId": {
                      "location": "query",
                      "description": "The id to use for this config.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
                  },
                  "description": "Create an inbound SAML configuration for an Identity Toolkit project."
                }
              }
            },
            "defaultSupportedIdpConfigs": {
              "methods": {
                "list": {
                  "description": "List all default supported Idp configurations for an Identity Toolkit project.",
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of items to return."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
                  }
                },
                "delete": {
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
                    }
                  },
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "httpMethod": "GET"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.create",
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/defaultSupportedIdpConfigs",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/tenants/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\""
                    },
                    "idpId": {
                      "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "patch": {
                  "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/tenants/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  },
                  "id": "identitytoolkit.projects.tenants.defaultSupportedIdpConfigs.patch",
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
                  }
                }
              }
            }
          },
          "methods": {
            "testIamPermissions": {
              "path": "v2/{+resource}:testIamPermissions",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:testIamPermissions",
              "id": "identitytoolkit.projects.tenants.testIamPermissions",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Returns the caller's permissions on a resource. An error is returned if the resource does not exist. A caller is not required to have Google IAM permission to make this request.",
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              }
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "flatPath": "v2/projects/{projectsId}/tenants",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "identitytoolkit.projects.tenants.create",
              "path": "v2/{+parent}/tenants",
              "description": "Create a tenant. Requires write permission on the Agent project.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name where the tenant will be created. For example, \"projects/project1\"."
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "flatPath": "v2/projects/{projectsId}/tenants",
              "httpMethod": "GET",
              "id": "identitytoolkit.projects.tenants.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "List tenants under the given agent project. Requires read permission on the Agent project.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent resource name to list tenants for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return, capped at 1000. If not specified, the default value is 20."
                },
                "pageToken": {
                  "description": "The pagination token from the response of a previous request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v2/{+parent}/tenants",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "identitytoolkit.projects.tenants.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Delete a tenant. Requires write permission on the Agent project.",
              "parameters": {
                "name": {
                  "description": "Resource name of the tenant to delete.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$"
                }
              },
              "path": "v2/{+name}"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "description": "Resource name of the tenant to retrieve.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Get a tenant. Requires read permission on the Tenant resource.",
              "parameterOrder": [
                "name"
              ],
              "id": "identitytoolkit.projects.tenants.get",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}"
            },
            "getIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:getIamPolicy",
              "description": "Gets the access control policy for a resource. An error is returned if the resource does not exist. An empty policy is returned if the resource exists but does not have a policy set on it. Caller must have the right Google IAM permission on the resource.",
              "parameters": {
                "resource": {
                  "type": "string",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$"
                }
              },
              "id": "identitytoolkit.projects.tenants.getIamPolicy",
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "request": {
                "$ref": "GoogleIamV1GetIamPolicyRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "path": "v2/{+resource}:getIamPolicy"
            },
            "patch": {
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "id": "identitytoolkit.projects.tenants.patch",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
              },
              "description": "Update a tenant. Requires write permission on the Tenant resource.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "If provided, only update fields set in the update mask. Otherwise, all settable fields will be updated. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                },
                "name": {
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\""
                }
              }
            },
            "setIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "description": "Sets the access control policy for a resource. If the policy exists, it is replaced. Caller must have the right Google IAM permission on the resource.",
              "path": "v2/{+resource}:setIamPolicy",
              "flatPath": "v2/projects/{projectsId}/tenants/{tenantsId}:setIamPolicy",
              "id": "identitytoolkit.projects.tenants.setIamPolicy",
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              },
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/tenants/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "resource"
              ]
            }
          }
        },
        "defaultSupportedIdpConfigs": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "description": "Retrieve a default supported Idp configuration for an Identity Toolkit project.",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.get"
            },
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "description": "The resource name of the config, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "path": "v2/{+name}",
              "httpMethod": "DELETE",
              "description": "Delete a default supported Idp configuration for an Identity Toolkit project.",
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "List all default supported Idp configurations for an Identity Toolkit project.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs",
              "path": "v2/{+parent}/defaultSupportedIdpConfigs",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of items to return."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query"
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs/{defaultSupportedIdpConfigsId}",
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
                  "pattern": "^projects/[^/]+/defaultSupportedIdpConfigs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.patch",
              "description": "Update a default supported Idp configuration for an Identity Toolkit project.",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Create a default supported Idp configuration for an Identity Toolkit project.",
              "flatPath": "v2/projects/{projectsId}/defaultSupportedIdpConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
              },
              "id": "identitytoolkit.projects.defaultSupportedIdpConfigs.create",
              "parameters": {
                "idpId": {
                  "type": "string",
                  "description": "The id of the Idp to create a config for. Call ListDefaultSupportedIdps for list of all default supported Idps.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v2/{+parent}/defaultSupportedIdpConfigs"
            }
          }
        },
        "oauthIdpConfigs": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$"
                }
              },
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "id": "identitytoolkit.projects.oauthIdpConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Delete an Oidc Idp configuration for an Identity Toolkit project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "DELETE",
              "path": "v2/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of items to return."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "List all Oidc Idp configurations for an Identity Toolkit project.",
              "path": "v2/{+parent}/oauthIdpConfigs",
              "parameterOrder": [
                "parent"
              ],
              "id": "identitytoolkit.projects.oauthIdpConfigs.list"
            },
            "patch": {
              "description": "Update an Oidc Idp configuration for an Identity Toolkit project.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "id": "identitytoolkit.projects.oauthIdpConfigs.patch",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v2/{+name}"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v2/{+parent}/oauthIdpConfigs",
              "id": "identitytoolkit.projects.oauthIdpConfigs.create",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs",
              "parameterOrder": [
                "parent"
              ],
              "description": "Create an Oidc Idp configuration for an Identity Toolkit project.",
              "parameters": {
                "oauthIdpConfigId": {
                  "type": "string",
                  "description": "The id to use for this config.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\""
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "httpMethod": "POST"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Retrieve an Oidc Idp configuration for an Identity Toolkit project.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/oauthIdpConfigs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'.",
                  "type": "string"
                }
              },
              "id": "identitytoolkit.projects.oauthIdpConfigs.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/oauthIdpConfigs/{oauthIdpConfigsId}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
              },
              "path": "v2/{+name}"
            }
          }
        },
        "identityPlatform": {
          "methods": {
            "initializeAuth": {
              "path": "v2/{+project}/identityPlatform:initializeAuth",
              "parameters": {
                "project": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The resource name of the target project the developer wants to enable Identity Platform for.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Initialize Identity Platform for a Cloud project. Identity Platform is an end-to-end authentication system for third-party users to access your apps and services. These could include mobile/web apps, games, APIs and beyond. This is the publicly available variant of EnableIdentityPlatform that is only available to billing-enabled projects.",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest"
              },
              "parameterOrder": [
                "project"
              ],
              "id": "identitytoolkit.projects.identityPlatform.initializeAuth",
              "httpMethod": "POST",
              "flatPath": "v2/projects/{projectsId}/identityPlatform:initializeAuth"
            }
          }
        },
        "inboundSamlConfigs": {
          "methods": {
            "delete": {
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "id": "identitytoolkit.projects.inboundSamlConfigs.delete",
              "description": "Delete an inbound SAML configuration for an Identity Toolkit project.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The resource name of the config to be deleted, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "patch": {
              "id": "identitytoolkit.projects.inboundSamlConfigs.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The update mask applies to the resource. Empty update mask will result in updating nothing. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$",
                  "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "description": "Update an inbound SAML configuration for an Identity Toolkit project."
            },
            "get": {
              "id": "identitytoolkit.projects.inboundSamlConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The resource name of the config, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/inboundSamlConfigs/[^/]+$"
                }
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs/{inboundSamlConfigsId}",
              "description": "Retrieve an inbound SAML configuration for an Identity Toolkit project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "httpMethod": "GET"
            },
            "list": {
              "id": "identitytoolkit.projects.inboundSamlConfigs.list",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse"
              },
              "path": "v2/{+parent}/inboundSamlConfigs",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "List all inbound SAML configurations for an Identity Toolkit project.",
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "The parent resource name, for example, \"projects/my-awesome-project\".",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of items to return."
                }
              }
            },
            "create": {
              "id": "identitytoolkit.projects.inboundSamlConfigs.create",
              "path": "v2/{+parent}/inboundSamlConfigs",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              },
              "flatPath": "v2/projects/{projectsId}/inboundSamlConfigs",
              "parameters": {
                "inboundSamlConfigId": {
                  "location": "query",
                  "type": "string",
                  "description": "The id to use for this config."
                },
                "parent": {
                  "type": "string",
                  "description": "The parent resource name where the config to be created, for example: \"projects/my-awesome-project\"",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Create an inbound SAML configuration for an Identity Toolkit project.",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
              }
            }
          }
        }
      }
    },
    "v2": {
      "methods": {
        "getPasswordPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v2/passwordPolicy",
          "description": "Gets password policy config set on the project or tenant.",
          "parameterOrder": [],
          "parameters": {
            "tenantId": {
              "type": "string",
              "description": "The id of a tenant.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2PasswordPolicy"
          },
          "path": "v2/passwordPolicy",
          "id": "identitytoolkit.getPasswordPolicy"
        },
        "getRecaptchaConfig": {
          "description": "Gets parameters needed for reCAPTCHA analysis.",
          "httpMethod": "GET",
          "parameters": {
            "tenantId": {
              "type": "string",
              "location": "query",
              "description": "The id of a tenant."
            },
            "clientType": {
              "type": "string",
              "enumDescriptions": [
                "Client type is not specified.",
                "Client type is web.",
                "Client type is android.",
                "Client type is ios."
              ],
              "location": "query",
              "description": "reCAPTCHA Enterprise uses separate site keys for different client types. Specify the client type to get the corresponding key.",
              "enum": [
                "CLIENT_TYPE_UNSPECIFIED",
                "CLIENT_TYPE_WEB",
                "CLIENT_TYPE_ANDROID",
                "CLIENT_TYPE_IOS"
              ]
            },
            "version": {
              "enumDescriptions": [
                "The reCAPTCHA version is not specified.",
                "Use reCAPTCHA Enterprise."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "RECAPTCHA_VERSION_UNSPECIFIED",
                "RECAPTCHA_ENTERPRISE"
              ],
              "description": "The reCAPTCHA version."
            }
          },
          "path": "v2/recaptchaConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.getRecaptchaConfig",
          "flatPath": "v2/recaptchaConfig",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
          },
          "parameterOrder": []
        }
      }
    },
    "accounts": {
      "methods": {
        "revokeToken": {
          "path": "v2/accounts:revokeToken",
          "id": "identitytoolkit.accounts.revokeToken",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest"
          },
          "flatPath": "v2/accounts:revokeToken",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Revokes a user's token from an Identity Provider (IdP). This is done by manually providing an IdP credential, and the token types for revocation. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "mfaEnrollment": {
          "methods": {
            "withdraw": {
              "id": "identitytoolkit.accounts.mfaEnrollment.withdraw",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {},
              "flatPath": "v2/accounts/mfaEnrollment:withdraw",
              "httpMethod": "POST",
              "path": "v2/accounts/mfaEnrollment:withdraw",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest"
              },
              "description": "Revokes one second factor from the enrolled second factors for an account.",
              "parameterOrder": []
            },
            "finalize": {
              "httpMethod": "POST",
              "description": "Finishes enrolling a second factor for the user.",
              "path": "v2/accounts/mfaEnrollment:finalize",
              "parameterOrder": [],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest"
              },
              "id": "identitytoolkit.accounts.mfaEnrollment.finalize",
              "parameters": {},
              "flatPath": "v2/accounts/mfaEnrollment:finalize"
            },
            "start": {
              "parameters": {},
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Step one of the MFA enrollment process. In SMS case, this sends an SMS verification code to the user.",
              "flatPath": "v2/accounts/mfaEnrollment:start",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest"
              },
              "parameterOrder": [],
              "id": "identitytoolkit.accounts.mfaEnrollment.start",
              "path": "v2/accounts/mfaEnrollment:start"
            }
          }
        },
        "mfaSignIn": {
          "methods": {
            "finalize": {
              "path": "v2/accounts/mfaSignIn:finalize",
              "parameterOrder": [],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/accounts/mfaSignIn:finalize",
              "id": "identitytoolkit.accounts.mfaSignIn.finalize",
              "parameters": {},
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse"
              },
              "description": "Verifies the MFA challenge and performs sign-in"
            },
            "start": {
              "id": "identitytoolkit.accounts.mfaSignIn.start",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest"
              },
              "httpMethod": "POST",
              "description": "Sends the MFA challenge",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/accounts/mfaSignIn:start",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse"
              },
              "parameters": {},
              "flatPath": "v2/accounts/mfaSignIn:start",
              "parameterOrder": []
            }
          }
        },
        "passkeyEnrollment": {
          "methods": {
            "finalize": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizePasskeyEnrollmentResponse"
              },
              "path": "v2/accounts/passkeyEnrollment:finalize",
              "flatPath": "v2/accounts/passkeyEnrollment:finalize",
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {},
              "description": "Finishes enrolling a passkey credential for the user.",
              "id": "identitytoolkit.accounts.passkeyEnrollment.finalize",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizePasskeyEnrollmentRequest"
              },
              "httpMethod": "POST"
            },
            "start": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Step one of the passkey enrollment process. Returns a challenge and parameters for creation of the passkey credential.",
              "path": "v2/accounts/passkeyEnrollment:start",
              "parameterOrder": [],
              "id": "identitytoolkit.accounts.passkeyEnrollment.start",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartPasskeyEnrollmentRequest"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartPasskeyEnrollmentResponse"
              },
              "httpMethod": "POST",
              "parameters": {},
              "flatPath": "v2/accounts/passkeyEnrollment:start"
            }
          }
        },
        "passkeySignIn": {
          "methods": {
            "finalize": {
              "httpMethod": "POST",
              "flatPath": "v2/accounts/passkeySignIn:finalize",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "identitytoolkit.accounts.passkeySignIn.finalize",
              "description": "Verifies the passkey assertion and signs the user in.",
              "path": "v2/accounts/passkeySignIn:finalize",
              "parameters": {},
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizePasskeySignInResponse"
              },
              "parameterOrder": [],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizePasskeySignInRequest"
              }
            },
            "start": {
              "path": "v2/accounts/passkeySignIn:start",
              "description": "Creates and returns the passkey challenge",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {},
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartPasskeySignInRequest"
              },
              "flatPath": "v2/accounts/passkeySignIn:start",
              "parameterOrder": [],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartPasskeySignInResponse"
              },
              "id": "identitytoolkit.accounts.passkeySignIn.start"
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "canonicalName": "Identity Toolkit",
  "servicePath": "",
  "basePath": "",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "schemas": {
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
      "properties": {
        "quota": {
          "format": "int64",
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config",
          "type": "string"
        },
        "startTime": {
          "description": "When this quota will take affect",
          "type": "string",
          "format": "google-datetime"
        },
        "quotaDuration": {
          "format": "google-duration",
          "description": "How long this quota will be active for",
          "type": "string"
        }
      },
      "description": "Temporary quota increase / decrease",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "properties": {
        "managedRules": {
          "description": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
          }
        },
        "recaptchaKeys": {
          "description": "Output only. The reCAPTCHA keys.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
          }
        },
        "useAccountDefender": {
          "type": "boolean",
          "description": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`."
        },
        "emailPasswordEnforcementState": {
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "description": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all related user flows protected by reCAPTCHA.",
          "type": "string",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ]
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
      "description": "The reCAPTCHA Enterprise integration config.",
      "type": "object"
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "id": "GoogleIamV1GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "$ref": "GoogleIamV1GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "properties": {
        "allowedRegions": {
          "type": "array",
          "description": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
      "type": "object",
      "description": "Defines a policy of only allowing regions by explicitly adding them to an allowlist."
    },
    "GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "type": "object",
      "description": "Configuration options related to authenticating an anonymous user.",
      "properties": {
        "enabled": {
          "description": "Whether anonymous user auth is enabled for the project or not.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2Anonymous"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "description": "FinalizeMfaEnrollment response.",
      "properties": {
        "totpAuthInfo": {
          "description": "Auxiliary auth info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo"
        },
        "idToken": {
          "description": "ID token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "phoneAuthInfo": {
          "description": "Auxiliary auth info specific to phone auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "properties": {
        "clientId": {
          "description": "OAuth client ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\""
        },
        "appleSignInConfig": {
          "description": "Additional config for Apple-based projects.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig"
        },
        "clientSecret": {
          "description": "OAuth client secret.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        }
      },
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
    },
    "GoogleCloudIdentitytoolkitV2RpEntity": {
      "type": "object",
      "description": "The entity object for the Relying Party.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The RP ID of the FIDO Relying Party."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2RpEntity"
    },
    "GoogleCloudIdentitytoolkitV2FinalizePasskeyEnrollmentRequest": {
      "type": "object",
      "description": "FinalizePasskeyEnrollment request. Registers passkey as a first factor for the user.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizePasskeyEnrollmentRequest",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "Required. The GCIP ID token of the signed-in user"
        },
        "authenticatorRegistrationResponse": {
          "$ref": "GoogleCloudIdentitytoolkitV2AuthenticatorRegistrationResponse",
          "description": "Optional. The registration object from the authenticator."
        },
        "tenantId": {
          "description": "Optional. The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig": {
      "type": "object",
      "description": "Configuration related to Blocking Functions.",
      "properties": {
        "triggers": {
          "description": "Map of Trigger to event type. Key should be one of the supported event types: \"beforeCreate\", \"beforeSignIn\"",
          "additionalProperties": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Trigger"
          },
          "type": "object"
        },
        "forwardInboundCredentials": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials",
          "description": "The user credentials to include in the JWT payload that is sent to the registered Blocking Functions."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "description": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The GCP project's display name. %DISPLAY_NAME% - The user's display name.",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
      "properties": {
        "customized": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the body or subject of the email is customized."
        },
        "replyTo": {
          "description": "Reply-to address",
          "type": "string"
        },
        "senderLocalPart": {
          "type": "string",
          "description": "Local part of From address"
        },
        "senderDisplayName": {
          "description": "Sender display name",
          "type": "string"
        },
        "bodyFormat": {
          "description": "Email body format",
          "enum": [
            "BODY_FORMAT_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Plain text",
            "HTML"
          ],
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig": {
      "properties": {
        "teamId": {
          "type": "string",
          "description": "Apple Developer Team ID."
        },
        "privateKey": {
          "description": "Private key used for signing the client secret JWT.",
          "type": "string"
        },
        "keyId": {
          "description": "Key ID for the private key.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Additional config for Apple for code flow.",
      "id": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig"
    },
    "GoogleCloudIdentitytoolkitV2FinalizePasskeyEnrollmentResponse": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizePasskeyEnrollmentResponse",
      "properties": {
        "idToken": {
          "description": "ID token for the authenticated user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token for the authenticated user.",
          "type": "string"
        }
      },
      "description": "FinalizePasskeyEnrollment response.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse": {
      "type": "object",
      "description": "Response for InitializeIdentityPlatform. Empty for now.",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse": {
      "properties": {
        "defaultSupportedIdps": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
          },
          "description": "The set of configs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response for ListDefaultSupportedIdps",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientConfig": {
      "properties": {
        "apiKey": {
          "type": "string",
          "description": "Output only. API key that can be used when making requests for this project.",
          "readOnly": true
        },
        "firebaseSubdomain": {
          "type": "string",
          "description": "Output only. Firebase subdomain.",
          "readOnly": true
        },
        "permissions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Permissions",
          "description": "Configuration related to restricting a user's ability to affect their account."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientConfig",
      "type": "object",
      "description": "Options related to how clients making requests on behalf of a project should be configured."
    },
    "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions": {
      "properties": {
        "containsNumericCharacter": {
          "type": "boolean",
          "description": "The password must contain a number."
        },
        "containsNonAlphanumericCharacter": {
          "description": "The password must contain a non alpha numeric character.",
          "type": "boolean"
        },
        "containsLowercaseCharacter": {
          "description": "The password must contain a lower case character.",
          "type": "boolean"
        },
        "maxPasswordLength": {
          "description": "Maximum password length. No default max length",
          "format": "int32",
          "type": "integer"
        },
        "containsUppercaseCharacter": {
          "description": "The password must contain an upper case character.",
          "type": "boolean"
        },
        "minPasswordLength": {
          "description": "Minimum password length. Range from 6 to 30",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2CustomStrengthOptions",
      "description": "Custom strength options to enforce on user passwords."
    },
    "GoogleCloudIdentitytoolkitV2PublicKeyCredentialParameters": {
      "id": "GoogleCloudIdentitytoolkitV2PublicKeyCredentialParameters",
      "properties": {
        "credentialType": {
          "description": "The type of public key to be created.",
          "type": "string"
        },
        "alg": {
          "format": "int64",
          "type": "string",
          "description": "The COSE registry number of the cryptographic signature algorithm."
        }
      },
      "type": "object",
      "description": "Parameters to create a public credential."
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        }
      },
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig",
      "description": "TotpMFAProviderConfig represents the TOTP based MFA provider.",
      "properties": {
        "adjacentIntervals": {
          "type": "integer",
          "description": "The allowed number of adjacent intervals that will be used for verification to avoid clock skew.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "type": "object",
      "properties": {
        "disabledUserDeletion": {
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods",
          "type": "boolean"
        },
        "disabledUserSignup": {
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods",
          "type": "boolean"
        }
      },
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo": {
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "verificationCode": {
          "type": "string",
          "description": "User-entered verification code."
        }
      },
      "type": "object",
      "description": "Mfa request info specific to TOTP auth for FinalizeMfa.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo"
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "description": "Synchronous Cloud Function with HTTP Trigger",
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger",
      "properties": {
        "updateTime": {
          "description": "When the trigger was changed.",
          "format": "google-datetime",
          "type": "string"
        },
        "functionUri": {
          "type": "string",
          "description": "HTTP URI trigger for the Cloud Function."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
      "description": "The configuration for the password policy on the project.",
      "properties": {
        "passwordPolicyVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyVersion"
          },
          "description": "Must be of length 1. Contains the strength attributes for the password policy."
        },
        "lastUpdateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time the password policy on the project was updated.",
          "format": "google-datetime"
        },
        "passwordPolicyEnforcementState": {
          "description": "Which enforcement mode to use for the password policy.",
          "enum": [
            "PASSWORD_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "ENFORCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Password Policy will not be used on the project.",
            "Passwords non-compliant with the password policy will be rejected with an error thrown."
          ]
        },
        "forceUpgradeOnSignin": {
          "description": "Users must have a password compliant with the password policy to sign-in.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "properties": {
        "client": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
          "description": "Options related to how clients making requests on behalf of a project should be configured."
        },
        "allowPasswordSignup": {
          "type": "boolean",
          "description": "Whether to allow email/password user authentication."
        },
        "smsRegionConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "description": "Configures which regions are enabled for SMS verification code sending."
        },
        "monitoring": {
          "description": "Configuration related to monitoring project activity.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "inheritance": {
          "description": "Specify the settings that the tenant could inherit.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
        },
        "disableAuth": {
          "description": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the tenant."
        },
        "name": {
          "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
          "readOnly": true,
          "type": "string"
        },
        "passwordPolicyConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PasswordPolicyConfig",
          "description": "The tenant-level password policy config"
        },
        "recaptchaConfig": {
          "description": "The tenant-level reCAPTCHA config.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig"
        },
        "testPhoneNumbers": {
          "description": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded).",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user authentication.",
          "type": "boolean"
        },
        "autodeleteAnonymousUsers": {
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days.",
          "type": "boolean"
        },
        "hashConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "readOnly": true,
[...]
