{
  "title": "Identity Toolkit API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "version_module": true,
  "canonicalName": "Identity Toolkit",
  "revision": "20230410",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "GoogleIamV1TestIamPermissionsResponse": {
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo",
      "description": "Phone Verification info for a FinalizeMfa request.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "User-entered verification code."
        },
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        },
        "androidVerificationProof": {
          "description": "Android only. Uses for \"instant\" phone number verification though GmsCore.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Required if Android verification proof is presented."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig": {
      "type": "object",
      "description": "Configuration related to monitoring project activity.",
      "properties": {
        "requestLogging": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RequestLogging",
          "description": "Configuration for logging requests made to this project to Stackdriver Logging"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo": {
      "description": "Mfa response info specific to TOTP auth for StartMfa.",
      "properties": {
        "sharedSecretKey": {
          "description": "A base 32 encoded string that represents the shared TOTP secret. The base 32 encoding is the one specified by [RFC4648#section-6](https://datatracker.ietf.org/doc/html/rfc4648#section-6). (This is the same as the base 32 encoding from [RFC3548#section-5](https://datatracker.ietf.org/doc/html/rfc3548#section-5).)",
          "type": "string"
        },
        "sessionInfo": {
          "description": "An encoded string that represents the enrollment session.",
          "type": "string"
        },
        "periodSec": {
          "description": "Duration in seconds at which the verification code will change.",
          "type": "integer",
          "format": "int32"
        },
        "hashingAlgorithm": {
          "type": "string",
          "description": "The hashing algorithm used to generate the verification code."
        },
        "finalizeEnrollmentTime": {
          "format": "google-datetime",
          "description": "The time by which the enrollment must finish.",
          "type": "string"
        },
        "verificationCodeLength": {
          "description": "The length of the verification code that needs to be generated.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo"
    },
    "GoogleCloudIdentitytoolkitAdminV2QuotaConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
      "properties": {
        "signUpQuotaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota",
          "description": "Quota for the Signup endpoint, if overwritten. Signup quota is measured in sign ups per project per hour per IP."
        }
      },
      "type": "object",
      "description": "Configuration related to quotas."
    },
    "GoogleCloudIdentitytoolkitAdminV2NotificationConfig": {
      "description": "Configuration related to sending notifications to users.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig",
      "properties": {
        "defaultLocale": {
          "type": "string",
          "description": "Default locale used for email and SMS in IETF BCP 47 format."
        },
        "sendEmail": {
          "description": "Options for email sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendEmail"
        },
        "sendSms": {
          "description": "Options for SMS sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SendSms"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp": {
      "properties": {
        "idpId": {
          "description": "Id the of Idp",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the Idp"
        }
      },
      "description": "Standard Identity Toolkit-trusted IDPs.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
    },
    "GoogleTypeExpr": {
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ProviderConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig",
      "type": "object",
      "description": "ProviderConfig describes the supported MFA providers along with their configurations.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project.",
            "Multi-factor authentication can be used for this project.",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "enum": [
            "MFA_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "description": "Describes the state of the MultiFactor Authentication type.",
          "type": "string"
        },
        "totpProviderConfig": {
          "description": "TOTP MFA provider config for this project.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig"
        }
      }
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      },
      "type": "object",
      "id": "GoogleIamV1GetIamPolicyRequest"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse": {
      "type": "object",
      "properties": {
        "defaultSupportedIdpConfigs": {
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpConfigsResponse",
      "description": "Response for DefaultSupportedIdpConfigs"
    },
    "GoogleCloudIdentitytoolkitAdminV2Config": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Config",
      "properties": {
        "notification": {
          "description": "Configuration related to sending notifications to users.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2NotificationConfig"
        },
        "authorizedDomains": {
          "description": "List of domains authorized for OAuth redirects",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "blockingFunctions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig",
          "description": "Configuration related to blocking functions."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Config resource. Example: \"projects/my-awesome-project/config\""
        },
        "quota": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2QuotaConfig",
          "description": "Configuration related to quotas."
        },
        "recaptchaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
          "description": "The project-level reCAPTCHA config."
        },
        "autodeleteAnonymousUsers": {
          "type": "boolean",
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days."
        },
        "mfa": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
          "description": "Configuration for this project's multi-factor authentication, including whether it is active and what factors can be used for the second factor"
        },
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "IDENTITY_PLATFORM",
            "FIREBASE_AUTH"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "An Identity Platform project.",
            "A Firebase Authentication project."
          ],
          "description": "Output only. The subtype of this config."
        },
        "emailPrivacyConfig": {
          "description": "Configuration for settings related to email privacy and public visibility.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig"
        },
        "signIn": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SignInConfig",
          "description": "Configuration related to local sign in methods."
        },
        "monitoring": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
          "description": "Configuration related to monitoring project activity."
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientConfig"
        },
        "smsRegionConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
          "description": "Configures which regions are enabled for SMS verification code sending."
        },
        "multiTenant": {
          "description": "Configuration related to multi-tenant functionality.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig"
        }
      },
      "type": "object",
      "description": "Represents an Identity Toolkit project."
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState": {
      "properties": {
        "enforcementState": {
          "description": "The reCAPTCHA enforcement state for the provider.",
          "enum": [
            "ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "type": "string"
        },
        "provider": {
          "enum": [
            "RECAPTCHA_PROVIDER_UNSPECIFIED",
            "EMAIL_PASSWORD_PROVIDER"
          ],
          "description": "The provider that has reCAPTCHA protection.",
          "enumDescriptions": [
            "reCAPTCHA provider not specified",
            "Email password provider"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState",
      "description": "Enforcement states for reCAPTCHA protection."
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenRequest": {
      "properties": {
        "idToken": {
          "type": "string",
          "description": "Required. A valid Identity Platform ID token to link the account. If there was a successful token revocation request on the account and no tokens are generated after the revocation, the duplicate requests will be ignored and returned immediately."
        },
        "token": {
          "description": "Required. The token to be revoked. If an authorization_code is passed in, the API will first exchange the code for access token and then revoke the token exchanged.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "Required. The idp provider for the token. Currently only supports Apple Idp. The format should be \"apple.com\"."
        },
        "redirectUri": {
          "type": "string",
          "description": "The redirect URI provided in the initial authorization request made by the client to the IDP. The URI must use the HTTPS protocol, include a domain name, and can’t contain an IP address or localhost. Required if token_type is CODE."
        },
        "tokenType": {
          "enumDescriptions": [
            "Default value, do not use.",
            "Token type is refresh_token.",
            "Token type is access_token.",
            "Token type is authorization_code."
          ],
          "type": "string",
          "description": "Required. The type of the token to be revoked.",
          "enum": [
            "TOKEN_TYPE_UNSPECIFIED",
            "REFRESH_TOKEN",
            "ACCESS_TOKEN",
            "CODE"
          ]
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        }
      },
      "description": "Request message for RevokeToken.",
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2RevokeTokenResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV2RevokeTokenResponse",
      "description": "Response message for RevokeToken. Empty for now."
    },
    "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse",
      "type": "object",
      "description": "Response for ListDefaultSupportedIdps",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "defaultSupportedIdps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdp"
          },
          "description": "The set of configs."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo": {
      "type": "object",
      "properties": {
        "androidVerificationProofExpireTime": {
          "description": "Android only. Expiration time of verification proof in seconds.",
          "format": "google-datetime",
          "type": "string"
        },
        "androidVerificationProof": {
          "description": "Android only. Long-lived replacement for valid code tied to android device.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "For Android verification proof.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
      "description": "Phone Verification info for a FinalizeMfa response."
    },
    "GoogleCloudIdentitytoolkitAdminV2SendEmail": {
      "id": "GoogleCloudIdentitytoolkitAdminV2SendEmail",
      "description": "Options for email sending.",
      "properties": {
        "verifyEmailTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Email template for verify email"
        },
        "resetPasswordTemplate": {
          "description": "Email template for reset password",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
        },
        "changeEmailTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Email template for change email"
        },
        "callbackUri": {
          "description": "action url in email template.",
          "type": "string"
        },
        "revertSecondFactorAdditionTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Email template for reverting second factor addition emails"
        },
        "smtp": {
          "description": "Use a custom SMTP relay",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Smtp"
        },
        "method": {
          "enum": [
            "METHOD_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM_SMTP"
          ],
          "type": "string",
          "description": "The method used for sending an email.",
          "enumDescriptions": [
            "Email method unspecified.",
            "Sending email on behalf of developer.",
            "Sending email using SMTP configuration provided by developers."
          ]
        },
        "dnsInfo": {
          "description": "Information of custom domain DNS verification.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2DnsInfo"
        },
        "legacyResetPasswordTemplate": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate",
          "description": "Reset password email template for legacy Firebase V1 app."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest": {
      "type": "object",
      "description": "Finalizes sign-in by verifying MFA challenge.",
      "properties": {
        "totpVerificationInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo",
          "description": "Proof of completion of the TOTP based MFA challenge."
        },
        "mfaPendingCredential": {
          "description": "Required. Pending credential from first factor sign-in.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "mfaEnrollmentId": {
          "description": "The MFA enrollment ID from the user's list of current MFA enrollments.",
          "type": "string"
        },
        "phoneVerificationInfo": {
          "description": "Proof of completion of the SMS based MFA challenge.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule",
      "description": "The config for a reCAPTCHA managed rule. Models a single interval [start_score, end_score]. The start_score is implicit. It is either the closest smaller end_score (if one is available) or 0. Intervals in aggregate span [0, 1] without overlapping.",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "RECAPTCHA_ACTION_UNSPECIFIED",
            "BLOCK"
          ],
          "enumDescriptions": [
            "The reCAPTCHA action is not specified.",
            "The reCAPTCHA-protected request will be blocked."
          ],
          "description": "The action taken if the reCAPTCHA score of a request is within the interval [start_score, end_score]."
        },
        "endScore": {
          "description": "The end score (inclusive) of the score range for an action. Must be a value between 0.0 and 1.0, at 11 discrete values; e.g. 0, 0.1, 0.2, 0.3, ... 0.9, 1.0. A score of 0.0 indicates the riskiest request (likely a bot), whereas 1.0 indicates the safest request (likely a human). See https://cloud.google.com/recaptcha-enterprise/docs/interpret-assessment.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
      "properties": {
        "allowedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Two letter unicode region codes to allow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json"
        }
      },
      "description": "Defines a policy of only allowing regions by explicitly adding them to an allowlist."
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig": {
      "properties": {
        "permissions": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions",
          "description": "Configuration related to restricting a user's ability to affect their account."
        }
      },
      "description": "Options related to how clients making requests on behalf of a tenant should be configured.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest": {
      "properties": {
        "tenantId": {
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "Required. User's ID token."
        },
        "totpEnrollmentInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo",
          "description": "Sign-in info specific to TOTP auth."
        },
        "phoneEnrollmentInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
          "description": "Verification info to authorize sending an SMS for phone verification."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentRequest",
      "description": "Sends MFA enrollment verification SMS for a user."
    },
    "GoogleCloudIdentitytoolkitAdminV2DnsInfo": {
      "type": "object",
      "properties": {
        "customDomainState": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "The verification has not started.",
            "The verification is in progress.",
            "The verification failed.",
            "The verification succeeded and is ready to be applied."
          ],
          "description": "Output only. The current verification state of the custom domain. The custom domain will only be used once the domain verification is successful.",
          "readOnly": true,
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ],
          "type": "string"
        },
        "domainVerificationRequestTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of initial request for the current domain verification."
        },
        "useCustomDomain": {
          "description": "Whether to use custom domain.",
          "type": "boolean"
        },
        "customDomain": {
          "description": "Output only. The applied verified custom domain.",
          "readOnly": true,
          "type": "string"
        },
        "pendingCustomDomain": {
          "type": "string",
          "description": "Output only. The custom domain that's to be verified.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2DnsInfo",
      "description": "Information of custom domain DNS verification. By default, default_domain will be used. A custom domain can be configured using VerifyCustomDomain."
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig": {
      "properties": {
        "allowTenants": {
          "description": "Whether this project can have tenants or not.",
          "type": "boolean"
        },
        "defaultTenantLocation": {
          "description": "The default cloud parent org or folder that the tenant project should be created under. The parent resource name should be in the format of \"/\", such as \"folders/123\" or \"organizations/456\". If the value is not set, the tenant will be created under the same organization or folder as the agent project.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiTenantConfig",
      "description": "Configuration related to multi-tenant functionality.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig": {
      "type": "object",
      "properties": {
        "bundleIds": {
          "description": "A list of Bundle ID's usable by this project",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "codeFlowConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig",
      "description": "Additional config for SignInWithApple."
    },
    "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig",
      "properties": {
        "displayName": {
          "description": "The config's display name set by developers.",
          "type": "string"
        },
        "spConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SpConfig",
          "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider."
        },
        "name": {
          "description": "The name of the InboundSamlConfig resource, for example: 'projects/my-awesome-project/inboundSamlConfigs/my-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "idpConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpConfig",
          "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party."
        }
      },
      "description": "A pair of SAML RP-IDP configurations when the project acts as the relying party."
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey": {
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey",
      "description": "The reCAPTCHA key config. reCAPTCHA Enterprise offers different keys for different client platforms.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\"",
          "type": "string"
        },
        "type": {
          "description": "The client's platform type.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "WEB",
            "IOS",
            "ANDROID"
          ],
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is iOS.",
            "Client type is Android."
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse": {
      "type": "object",
      "description": "Withdraws MultiFactorAuth response.",
      "properties": {
        "idToken": {
          "description": "ID token updated to reflect removal of the second factor.",
          "type": "string"
        },
        "refreshToken": {
          "description": "Refresh token updated to reflect removal of the second factor.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2Email": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Email",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether email auth is enabled for the project or not."
        },
        "passwordRequired": {
          "description": "Whether a password is required for email auth or not. If true, both an email and password must be provided to sign in. If false, a user may sign in via either email/password or email link.",
          "type": "boolean"
        }
      },
      "description": "Configuration options related to authenticating a user by their email address."
    },
    "GoogleCloudIdentitytoolkitAdminV2AllowByDefault": {
      "description": "Defines a policy of allowing every region by default and adding disallowed regions to a disallow list.",
      "id": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
      "properties": {
        "disallowedRegions": {
          "description": "Two letter unicode region codes to disallow as defined by https://cldr.unicode.org/ The full list of these region codes is here: https://github.com/unicode-cldr/cldr-localenames-full/blob/master/main/en/territories.json",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpCertificate": {
      "description": "The IDP's certificate data to verify the signature in the SAMLResponse issued by the IDP.",
      "type": "object",
      "properties": {
        "x509Certificate": {
          "description": "The x509 certificate",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig": {
      "properties": {
        "enableImprovedEmailPrivacy": {
          "type": "boolean",
          "description": "Migrates the project to a state of improved email privacy. For example certain error codes are more generic to avoid giving away information on whether the account exists. In addition, this disables certain features that as a side-effect allow user enumeration. Enabling this toggle disables the fetchSignInMethodsForEmail functionality and changing the user's email to an unverified email. It is recommended to remove dependence on this functionality and enable this toggle to improve user privacy."
        }
      },
      "description": "Configuration for settings related to email privacy and public visibility. Settings in this config protect against email enumeration, but may make some trade-offs in user-friendliness.",
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2RecaptchaConfig": {
      "type": "object",
      "properties": {
        "recaptchaKey": {
          "type": "string",
          "description": "The reCAPTCHA Enterprise key resource name, e.g. \"projects/{project}/keys/{key}\"."
        },
        "recaptchaEnforcementState": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaEnforcementState"
          },
          "type": "array",
          "description": "The reCAPTCHA enforcement state for the providers that GCIP supports reCAPTCHA protection."
        }
      },
      "description": "Configuration for reCAPTCHA",
      "id": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
    },
    "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo": {
      "type": "object",
      "description": "TOTP verification info for FinalizeMfaSignInRequest.",
      "id": "GoogleCloudIdentitytoolkitV2MfaTotpSignInRequestInfo",
      "properties": {
        "verificationCode": {
          "description": "User-entered verification code.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig": {
      "type": "object",
      "description": "Options related to MultiFactor Authentication for the project.",
      "properties": {
        "enabledProviders": {
          "description": "A list of usable second factors for this project.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "PROVIDER_UNSPECIFIED",
              "PHONE_SMS"
            ],
            "enumDescriptions": [
              "Illegal Provider, should not be used",
              "SMS is enabled as a second factor for this project."
            ]
          }
        },
        "providerConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ProviderConfig"
          },
          "description": "A list of usable second factors for this project along with their configurations. This field does not support phone based MFA, for that use the 'enabled_providers' field."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "MANDATORY"
          ],
          "description": "Whether MultiFactor Authentication has been enabled for this project.",
          "enumDescriptions": [
            "Illegal State, should not be used.",
            "Multi-factor authentication cannot be used for this project",
            "Multi-factor authentication can be used for this project",
            "Multi-factor authentication is required for this project. Users from this project must authenticate with the second factor."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2RequestLogging": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether logging is enabled for this project or not."
        }
      },
      "description": "Configuration for logging requests made to this project to Stackdriver Logging",
      "id": "GoogleCloudIdentitytoolkitAdminV2RequestLogging",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "When this quota will take affect",
          "format": "google-datetime"
        },
        "quota": {
          "description": "Corresponds to the 'refill_token_count' field in QuotaServer config",
          "format": "int64",
          "type": "string"
        },
        "quotaDuration": {
          "description": "How long this quota will be active for",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Temporary quota increase / decrease",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2TemporaryQuota"
    },
    "GoogleIamV1GetPolicyOptions": {
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "GoogleIamV1GetPolicyOptions"
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType": {
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType",
      "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported. See https://openid.net/specs/openid-connect-core-1_0.html#Authentication for a mapping of response type to OAuth 2.0 flow.",
      "type": "object",
      "properties": {
        "token": {
          "description": "Do not use. The `token` response type is not supported at the moment.",
          "type": "boolean"
        },
        "code": {
          "description": "If true, authorization code is returned from IdP's authorization endpoint.",
          "type": "boolean"
        },
        "idToken": {
          "type": "boolean",
          "description": "If true, ID token is returned from IdP's authorization endpoint."
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo": {
      "properties": {
        "verificationCode": {
          "type": "string",
          "description": "User-entered verification code."
        },
        "sessionInfo": {
          "type": "string",
          "description": "An opaque string that represents the enrollment session."
        }
      },
      "description": "Mfa request info specific to TOTP auth for FinalizeMfa.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Smtp": {
      "properties": {
        "senderEmail": {
          "type": "string",
          "description": "Sender email for the SMTP relay"
        },
        "securityMode": {
          "description": "SMTP security mode.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "SSL mode",
            "START_TLS mode"
          ],
          "enum": [
            "SECURITY_MODE_UNSPECIFIED",
            "SSL",
            "START_TLS"
          ]
        },
        "host": {
          "type": "string",
          "description": "SMTP relay host"
        },
        "password": {
          "type": "string",
          "description": "SMTP relay password"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "SMTP relay port"
        },
        "username": {
          "description": "SMTP relay username",
          "type": "string"
        }
      },
      "description": "Configuration for SMTP relay",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Smtp"
    },
    "GoogleCloudIdentitytoolkitAdminV2SpConfig": {
      "description": "The SAML SP (Service Provider) configuration when the project acts as the relying party to receive and accept an authentication assertion issued by a SAML identity provider.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SpConfig",
      "properties": {
        "callbackUri": {
          "description": "Callback URI where responses from IDP are handled.",
          "type": "string"
        },
        "spEntityId": {
          "type": "string",
          "description": "Unique identifier for all SAML entities."
        },
        "spCertificates": {
          "description": "Output only. Public certificates generated by the server to verify the signature in SAMLRequest in the SP-initiated flow.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2SpCertificate"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig": {
      "description": "TotpMFAProviderConfig represents the TOTP based MFA provider.",
      "id": "GoogleCloudIdentitytoolkitAdminV2TotpMfaProviderConfig",
      "properties": {
        "adjacentIntervals": {
          "format": "int32",
          "description": "The allowed number of adjacent intervals that will be used for verification to avoid clock skew.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientPermissions": {
      "type": "object",
      "properties": {
        "disabledUserSignup": {
          "type": "boolean",
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods"
        },
        "disabledUserDeletion": {
          "type": "boolean",
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods"
        }
      },
      "description": "Configuration related to restricting a user's ability to affect their account.",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientPermissions"
    },
    "GoogleCloudIdentitytoolkitAdminV2EmailTemplate": {
      "description": "Email template. The subject and body fields can contain the following placeholders which will be replaced with the appropriate values: %LINK% - The link to use to redeem the send OOB code. %EMAIL% - The email where the email is being sent. %NEW_EMAIL% - The new email being set for the account (when applicable). %APP_NAME% - The GCP project's display name. %DISPLAY_NAME% - The user's display name.",
      "type": "object",
      "properties": {
        "senderLocalPart": {
          "type": "string",
          "description": "Local part of From address"
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email"
        },
        "customized": {
          "readOnly": true,
          "description": "Output only. Whether the body or subject of the email is customized.",
          "type": "boolean"
        },
        "bodyFormat": {
          "description": "Email body format",
          "enum": [
            "BODY_FORMAT_UNSPECIFIED",
            "PLAIN_TEXT",
            "HTML"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Plain text",
            "HTML"
          ]
        },
        "body": {
          "type": "string",
          "description": "Email body"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address"
        },
        "senderDisplayName": {
          "description": "Sender display name",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2EmailTemplate"
    },
    "GoogleCloudIdentitytoolkitAdminV2Permissions": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Permissions",
      "properties": {
        "disabledUserSignup": {
          "type": "boolean",
          "description": "When true, end users cannot sign up for a new account on the associated project through any of our API methods"
        },
        "disabledUserDeletion": {
          "type": "boolean",
          "description": "When true, end users cannot delete their account on the associated project through any of our API methods"
        }
      },
      "type": "object",
      "description": "Configuration related to restricting a user's ability to affect their account."
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object",
      "id": "GoogleIamV1Binding"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo",
      "properties": {
        "phoneNumber": {
          "description": "Required for enrollment. Phone number to be enrolled as MFA.",
          "type": "string"
        },
        "iosSecret": {
          "type": "string",
          "description": "iOS only. Secret delivered to iOS app via APNS."
        },
        "recaptchaToken": {
          "description": "Web only. Recaptcha solution.",
          "type": "string"
        },
        "iosReceipt": {
          "description": "iOS only. Receipt of successful app token validation with APNS.",
          "type": "string"
        },
        "playIntegrityToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token (or safety net token). A Play Integrity Token can be generated via the [PlayIntegrity API] (https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce.",
          "type": "string"
        },
        "autoRetrievalInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo",
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval."
        },
        "safetyNetToken": {
          "description": "Android only. Used to assert application identity in place of a recaptcha token. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce.",
          "type": "string"
        }
      },
      "description": "App Verification info for a StartMfa request.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Anonymous": {
      "properties": {
        "enabled": {
          "description": "Whether anonymous user auth is enabled for the project or not.",
          "type": "boolean"
        }
      },
      "description": "Configuration options related to authenticating an anonymous user.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Anonymous"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo": {
      "description": "Phone Verification info for a StartMfa response.",
      "id": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo",
      "type": "object",
      "properties": {
        "sessionInfo": {
          "description": "An opaque string that represents the enrollment session.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials",
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "boolean",
          "description": "Whether to pass the user's OAuth identity provider's refresh token."
        },
        "idToken": {
          "description": "Whether to pass the user's OIDC identity provider's ID token.",
          "type": "boolean"
        },
        "accessToken": {
          "type": "boolean",
          "description": "Whether to pass the user's OAuth identity provider's access token."
        }
      },
      "description": "Indicates which credentials to pass to the registered Blocking Functions."
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig": {
      "type": "object",
      "description": "Configures the regions where users are allowed to send verification SMS for the project or tenant. This is based on the calling code of the destination phone number.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig",
      "properties": {
        "allowlistOnly": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowlistOnly",
          "description": "A policy of only allowing regions by explicitly adding them to an allowlist."
        },
        "allowByDefault": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AllowByDefault",
          "description": "A policy of allowing SMS to every region by default and adding disallowed regions to a disallow list."
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest": {
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformRequest",
      "type": "object",
      "description": "Request for InitializeIdentityPlatform.",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig": {
      "id": "GoogleCloudIdentitytoolkitAdminV2CodeFlowConfig",
      "type": "object",
      "properties": {
        "teamId": {
          "description": "Apple Developer Team ID.",
          "type": "string"
        },
        "privateKey": {
          "description": "Private key used for signing the client secret JWT.",
          "type": "string"
        },
        "keyId": {
          "type": "string",
          "description": "Key ID for the private key."
        }
      },
      "description": "Additional config for Apple for code flow."
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest": {
      "type": "object",
      "properties": {
        "mfaEnrollmentId": {
          "type": "string",
          "description": "Required. MFA enrollment id from the user's list of current MFA enrollments."
        },
        "phoneSignInInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneRequestInfo"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "type": "string",
          "description": "Required. Pending credential from first factor sign-in."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest",
      "description": "Starts multi-factor sign-in by sending the multi-factor auth challenge."
    },
    "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV2AutoRetrievalInfo",
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      },
      "description": "The information required to auto-retrieve an SMS."
    },
    "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig": {
      "description": "Configuration options for authenticating with an OAuth IDP.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        },
        "issuer": {
          "description": "For OIDC Idps, the issuer identifier.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The config's display name set by developers."
        },
        "clientSecret": {
          "type": "string",
          "description": "The client secret of the OAuth client, to enable OIDC code flow."
        },
        "name": {
          "description": "The name of the OAuthIdpConfig resource, for example: 'projects/my-awesome-project/oauthIdpConfigs/oauth-config-id'. Ignored during create requests.",
          "type": "string"
        },
        "responseType": {
          "description": "The response type to request for in the OAuth authorization flow. You can set either `id_token` or `code` to true, but not both. Setting both types to be simultaneously true (`{code: true, id_token: true}`) is not yet supported.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthResponseType"
        },
        "clientId": {
          "description": "The client id of an OAuth client.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse": {
      "properties": {
        "totpAuthInfo": {
          "description": "Auxiliary auth info specific to TOTP auth.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo"
        },
        "phoneAuthInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo",
          "description": "Auxiliary auth info specific to phone auth."
        },
        "refreshToken": {
          "description": "Refresh token updated to reflect MFA enrollment.",
          "type": "string"
        },
        "idToken": {
          "description": "ID token updated to reflect MFA enrollment.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "FinalizeMfaEnrollment response.",
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentResponse"
    },
    "GoogleCloudIdentitytoolkitAdminV2PhoneNumber": {
      "properties": {
        "enabled": {
          "description": "Whether phone number auth is enabled for the project or not.",
          "type": "boolean"
        },
        "testPhoneNumbers": {
          "description": "A map of that can be used for phone auth testing.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Configuration options related to authenticated a user by their phone number.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentRequestInfo",
      "description": "Mfa request info specific to TOTP auth for StartMfa.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig": {
      "properties": {
        "forwardInboundCredentials": {
          "description": "The user credentials to include in the JWT payload that is sent to the registered Blocking Functions.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ForwardInboundCredentials"
        },
        "triggers": {
          "description": "Map of Trigger to event type. Key should be one of the supported event types: \"beforeCreate\", \"beforeSignIn\"",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Trigger"
          }
        }
      },
      "description": "Configuration related to Blocking Functions.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2BlockingFunctionsConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2IdpConfig": {
      "description": "The SAML IdP (Identity Provider) configuration when the project acts as the relying party.",
      "properties": {
        "signRequest": {
          "type": "boolean",
          "description": "Indicates if outbounding SAMLRequest should be signed."
        },
        "idpCertificates": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2IdpCertificate"
          },
          "type": "array",
          "description": "IDP's public keys for verifying signature in the assertions."
        },
        "idpEntityId": {
          "description": "Unique identifier for all SAML entities.",
          "type": "string"
        },
        "ssoUrl": {
          "type": "string",
          "description": "URL to send Authentication request to."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2IdpConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse": {
      "type": "object",
      "description": "Response for InitializeIdentityPlatform. Empty for now.",
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitAdminV2InitializeIdentityPlatformResponse"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse": {
      "id": "GoogleCloudIdentitytoolkitV2StartMfaEnrollmentResponse",
      "properties": {
        "phoneSessionInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        },
        "totpSessionInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaTotpEnrollmentResponseInfo",
          "description": "Enrollment response info specific to TOTP auth."
        }
      },
      "type": "object",
      "description": "StartMfaEnrollment response."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SpCertificate": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SpCertificate",
      "description": "The SP's certificate data for IDP to verify the SAMLRequest generated by the SP.",
      "properties": {
        "expiresAt": {
          "type": "string",
          "description": "Timestamp of the cert expiration instance.",
          "format": "google-datetime"
        },
        "x509Certificate": {
          "description": "Self-signed public certificate.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2Inheritance": {
      "type": "object",
      "properties": {
        "emailSendingConfig": {
          "type": "boolean",
          "description": "Whether to allow the tenant to inherit custom domains, email templates, and custom SMTP settings. If true, email sent from tenant will follow the project level email sending configurations. If false (by default), emails will go with the default settings with no customizations."
        }
      },
      "description": "Settings that the tenants will inherit from project level.",
      "id": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest": {
      "description": "Finishes enrolling a second factor for the user.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "Required. ID token."
        },
        "displayName": {
          "description": "Display name which is entered by users to distinguish between different second factors with same type or different type.",
          "type": "string"
        },
        "phoneVerificationInfo": {
          "description": "Verification info to authorize sending an SMS for phone verification.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneRequestInfo"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant that the user enrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
        },
        "totpVerificationInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentRequestInfo",
          "description": "Verification information for TOTP."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaEnrollmentRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2SignInConfig": {
      "type": "object",
      "description": "Configuration related to local sign in methods.",
      "id": "GoogleCloudIdentitytoolkitAdminV2SignInConfig",
      "properties": {
        "allowDuplicateEmails": {
          "description": "Whether to allow more than one account to have the same email.",
          "type": "boolean"
        },
        "anonymous": {
          "description": "Configuration options related to authenticating an anonymous user.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Anonymous"
        },
        "hashConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "readOnly": true,
          "description": "Output only. Hash config information."
        },
        "phoneNumber": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2PhoneNumber",
          "description": "Configuration options related to authenticated a user by their phone number."
        },
        "email": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Email",
          "description": "Configuration options related to authenticating a user by their email address."
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      },
      "id": "GoogleIamV1AuditConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2Tenant": {
      "id": "GoogleCloudIdentitytoolkitAdminV2Tenant",
      "properties": {
        "hashConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
          "description": "Output only. Hash config information of a tenant for display on Pantheon. This can only be displayed on Pantheon to avoid the sensitive information to get accidentally leaked. Only returned in GetTenant response to restrict reading of this information. Requires firebaseauth.configs.getHashConfig permission on the agent project for returning this field.",
          "readOnly": true
        },
        "testPhoneNumbers": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of pairs that can be used for MFA. The phone number should be in E.164 format (https://www.itu.int/rec/T-REC-E.164/) and a maximum of 10 pairs can be added (error will be thrown once exceeded)."
        },
        "autodeleteAnonymousUsers": {
          "type": "boolean",
          "description": "Whether anonymous users will be auto-deleted after a period of 30 days."
        },
        "monitoring": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MonitoringConfig",
          "description": "Configuration related to monitoring project activity."
        },
        "smsRegionConfig": {
          "description": "Configures which regions are enabled for SMS verification code sending.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsRegionConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the tenant."
        },
        "recaptchaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
          "description": "The tenant-level reCAPTCHA config."
        },
        "allowPasswordSignup": {
          "description": "Whether to allow email/password user authentication.",
          "type": "boolean"
        },
        "client": {
          "description": "Options related to how clients making requests on behalf of a project should be configured.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2ClientPermissionConfig"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of a tenant. For example: \"projects/{project-id}/tenants/{tenant-id}\"",
          "readOnly": true
        },
        "emailPrivacyConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2EmailPrivacyConfig",
          "description": "Configuration for settings related to email privacy and public visibility."
        },
        "mfaConfig": {
          "$ref": "GoogleCloudIdentitytoolkitAdminV2MultiFactorAuthConfig",
          "description": "The tenant-level configuration of MFA options."
        },
        "inheritance": {
          "description": "Specify the settings that the tenant could inherit.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Inheritance"
        },
        "enableEmailLinkSignin": {
          "description": "Whether to enable email link user authentication.",
          "type": "boolean"
        },
        "enableAnonymousUser": {
          "description": "Whether to enable anonymous user authentication.",
          "type": "boolean"
        },
        "disableAuth": {
          "description": "Whether authentication is disabled for the tenant. If true, the users under the disabled tenant are not allowed to sign-in. Admins of the disabled tenant are not able to manage its users.",
          "type": "boolean"
        }
      },
      "description": "A Tenant contains configuration for the tenant in a multi-tenant project.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "oauthIdpConfigs": {
          "type": "array",
          "description": "The set of configs.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2OAuthIdpConfig"
          }
        }
      },
      "description": "Response for ListOAuthIdpConfigs",
      "id": "GoogleCloudIdentitytoolkitAdminV2ListOAuthIdpConfigsResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2Trigger": {
      "description": "Synchronous Cloud Function with HTTP Trigger",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the trigger was changed."
        },
        "functionUri": {
          "description": "HTTP URI trigger for the Cloud Function.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2Trigger"
    },
    "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest": {
      "properties": {
        "mfaEnrollmentId": {
          "type": "string",
          "description": "Required. MFA enrollment id from a current MFA enrollment."
        },
        "idToken": {
          "type": "string",
          "description": "Required. User's ID token."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant that the user unenrolling MFA belongs to. If not set, the user belongs to the default Identity Platform project."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest",
      "type": "object",
      "description": "Withdraws MFA."
    },
    "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListInboundSamlConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "inboundSamlConfigs": {
          "description": "The set of configs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2InboundSamlConfig"
          }
        }
      },
      "description": "Response for ListInboundSamlConfigs",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig": {
      "description": "Configurations options for authenticating with a the standard set of Identity Toolkit-trusted IDPs.",
      "properties": {
        "appleSignInConfig": {
          "description": "Additional config for Apple-based projects.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2AppleSignInConfig"
        },
        "clientId": {
          "type": "string",
          "description": "OAuth client ID."
        },
        "clientSecret": {
          "description": "OAuth client secret.",
          "type": "string"
        },
        "name": {
          "description": "The name of the DefaultSupportedIdpConfig resource, for example: \"projects/my-awesome-project/defaultSupportedIdpConfigs/google.com\"",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2DefaultSupportedIdpConfig",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2ClientConfig": {
      "description": "Options related to how clients making requests on behalf of a project should be configured.",
      "properties": {
        "permissions": {
          "description": "Configuration related to restricting a user's ability to affect their account.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2Permissions"
        },
        "apiKey": {
          "description": "Output only. API key that can be used when making requests for this project.",
          "type": "string",
          "readOnly": true
        },
        "firebaseSubdomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Firebase subdomain."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2ClientConfig"
    },
    "GoogleCloudIdentitytoolkitAdminV2SmsTemplate": {
      "description": "The template to use when sending an SMS.",
      "properties": {
        "content": {
          "description": "Output only. The SMS's content. Can contain the following placeholders which will be replaced with the appropriate values: %APP_NAME% - For Android or iOS apps, the app's display name. For web apps, the domain hosting the application. %LOGIN_CODE% - The OOB code being sent in the SMS.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate"
    },
    "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig": {
      "properties": {
        "useAccountDefender": {
          "description": "Whether to use the account defender for reCAPTCHA assessment. Defaults to `false`.",
          "type": "boolean"
        },
        "managedRules": {
          "type": "array",
          "description": "The managed rules for authentication action based on reCAPTCHA scores. The rules are shared across providers for a given tenant project.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaManagedRule"
          }
        },
        "emailPasswordEnforcementState": {
          "description": "The reCAPTCHA config for email/password provider, containing the enforcement status. The email/password provider contains all related user flows protected by reCAPTCHA.",
          "enum": [
            "RECAPTCHA_PROVIDER_ENFORCEMENT_STATE_UNSPECIFIED",
            "OFF",
            "AUDIT",
            "ENFORCE"
          ],
          "enumDescriptions": [
            "Enforcement state has not been set.",
            "Unenforced.",
            "reCAPTCHA assessment is created, result is not used to enforce.",
            "reCAPTCHA assessment is created, result is used to enforce."
          ],
          "type": "string"
        },
        "recaptchaKeys": {
          "readOnly": true,
          "description": "Output only. The reCAPTCHA keys.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2RecaptchaKey"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2RecaptchaConfig",
      "type": "object",
      "description": "The reCAPTCHA Enterprise integration config."
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitAdminV2HashConfig": {
      "description": "History information of the hash algorithm and key. Different accounts' passwords may be generated by different version.",
      "id": "GoogleCloudIdentitytoolkitAdminV2HashConfig",
      "type": "object",
      "properties": {
        "signerKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Signer key in base64."
        },
        "algorithm": {
          "description": "Output only. Different password hash algorithms used in Identity Toolkit.",
          "enum": [
            "HASH_ALGORITHM_UNSPECIFIED",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "HMAC_SHA256",
            "HMAC_SHA1",
            "HMAC_MD5",
            "SCRYPT",
            "PBKDF_SHA1",
            "MD5",
            "HMAC_SHA512",
            "SHA1",
            "BCRYPT",
            "PBKDF2_SHA256",
            "SHA256",
            "SHA512",
            "STANDARD_SCRYPT"
          ],
          "readOnly": true
        },
        "saltSeparator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Non-printable character to be inserted between the salt and plain text password in base64."
        },
        "memoryCost": {
          "readOnly": true,
          "description": "Output only. Memory cost for hash calculation. Used by scrypt and other similar password derivation algorithms. See https://tools.ietf.org/html/rfc7914 for explanation of field.",
          "format": "int32",
          "type": "integer"
        },
        "rounds": {
          "description": "Output only. How many rounds for hash calculation. Used by scrypt and other similar password derivation algorithms.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse": {
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse",
      "description": "FinalizeMfaSignIn response.",
      "type": "object",
      "properties": {
        "phoneAuthInfo": {
          "description": "Extra phone auth info, including android verification proof.",
          "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaPhoneResponseInfo"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "idToken": {
          "description": "ID token for the authenticated user.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitAdminV2SendSms": {
      "description": "Options for SMS sending.",
      "type": "object",
      "properties": {
        "useDeviceLocale": {
          "type": "boolean",
          "description": "Whether to use the accept_language header for SMS."
        },
        "smsTemplate": {
          "description": "Output only. The template to use when sending an SMS.",
          "$ref": "GoogleCloudIdentitytoolkitAdminV2SmsTemplate",
          "readOnly": true
        }
      },
      "id": "GoogleCloudIdentitytoolkitAdminV2SendSms"
    },
    "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse": {
      "id": "GoogleCloudIdentitytoolkitAdminV2ListTenantsResponse",
      "type": "object",
      "properties": {
        "tenants": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2Tenant"
          },
          "description": "A list of tenants under the given agent project."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to get the next page of results."
        }
      },
      "description": "Response message for ListTenants."
    },
    "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo": {
      "properties": {},
      "id": "GoogleCloudIdentitytoolkitV2FinalizeMfaTotpEnrollmentResponseInfo",
      "description": "Mfa response info specific to TOTP auth for FinalizeMfa.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse": {
      "description": "StartMfaSignIn response.",
      "properties": {
        "phoneResponseInfo": {
          "description": "MultiFactor sign-in session information specific to SMS-type second factors. Along with the one-time code retrieved from the sent SMS, the contents of this session information should be passed to FinalizeMfaSignIn to complete the sign in.",
          "$ref": "GoogleCloudIdentitytoolkitV2StartMfaPhoneResponseInfo"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse",
      "type": "object"
    }
  },
  "id": "identitytoolkit:v2",
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "resources": {
    "defaultSupportedIdps": {
      "methods": {
        "list": {
          "flatPath": "v2/defaultSupportedIdps",
          "parameterOrder": [],
          "path": "v2/defaultSupportedIdps",
          "httpMethod": "GET",
          "id": "identitytoolkit.defaultSupportedIdps.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The next_page_token value returned from a previous List request, if any.",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of items to return.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitAdminV2ListDefaultSupportedIdpsResponse"
          },
          "description": "List all default supported Idps.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        }
      }
    },
    "v2": {
      "methods": {
        "getRecaptchaConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/recaptchaConfig",
          "parameters": {
            "version": {
              "enumDescriptions": [
                "The reCAPTCHA version is not specified.",
                "Use reCAPTCHA Enterprise."
              ],
              "description": "The reCAPTCHA version.",
              "enum": [
                "RECAPTCHA_VERSION_UNSPECIFIED",
                "RECAPTCHA_ENTERPRISE"
              ],
              "location": "query",
              "type": "string"
            },
            "clientType": {
              "type": "string",
              "description": "reCAPTCHA Enterprise uses separate site keys for different client types. Specify the client type to get the corresponding key.",
              "location": "query",
              "enumDescriptions": [
                "Client type is not specified.",
                "Client type is web.",
                "Client type is android.",
                "Client type is ios."
              ],
              "enum": [
                "CLIENT_TYPE_UNSPECIFIED",
                "CLIENT_TYPE_WEB",
                "CLIENT_TYPE_ANDROID",
                "CLIENT_TYPE_IOS"
              ]
            },
            "tenantId": {
              "location": "query",
              "description": "The id of a tenant.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV2RecaptchaConfig"
          },
          "flatPath": "v2/recaptchaConfig",
          "id": "identitytoolkit.getRecaptchaConfig",
          "description": "Gets parameters needed for reCAPTCHA analysis.",
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    },
    "accounts": {
      "resources": {
        "mfaSignIn": {
          "methods": {
            "start": {
              "parameterOrder": [],
              "path": "v2/accounts/mfaSignIn:start",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInResponse"
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2StartMfaSignInRequest"
              },
              "id": "identitytoolkit.accounts.mfaSignIn.start",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Sends the MFA challenge",
              "parameters": {},
              "flatPath": "v2/accounts/mfaSignIn:start",
              "httpMethod": "POST"
            },
            "finalize": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [],
              "parameters": {},
              "description": "Verifies the MFA challenge and performs sign-in",
              "path": "v2/accounts/mfaSignIn:finalize",
              "id": "identitytoolkit.accounts.mfaSignIn.finalize",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/accounts/mfaSignIn:finalize",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2FinalizeMfaSignInRequest"
              }
            }
          }
        },
        "mfaEnrollment": {
          "methods": {
            "withdraw": {
              "parameterOrder": [],
              "id": "identitytoolkit.accounts.mfaEnrollment.withdraw",
              "flatPath": "v2/accounts/mfaEnrollment:withdraw",
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaResponse"
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV2WithdrawMfaRequest"
              },
              "httpMethod": "POST",
              "path": "v2/accounts/mfaEnrollment:withdraw",
[...]
