{
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "name": "identitytoolkit",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "version": "v1",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "title": "Identity Toolkit API",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "revision": "20230220",
  "discoveryVersion": "v1",
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "id": "identitytoolkit:v1",
  "resources": {
    "v1": {
      "methods": {
        "getPublicKeys": {
          "path": "v1/publicKeys",
          "parameters": {},
          "flatPath": "v1/publicKeys",
          "response": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieves public keys of the legacy Identity Toolkit token signer to enable third parties to verify the legacy ID token. For now the X509 pem cert is the only format supported.",
          "httpMethod": "GET",
          "id": "identitytoolkit.getPublicKeys",
          "parameterOrder": []
        },
        "getRecaptchaParams": {
          "description": "Gets parameters needed for generating a reCAPTCHA challenge.",
          "parameterOrder": [],
          "flatPath": "v1/recaptchaParams",
          "httpMethod": "GET",
          "path": "v1/recaptchaParams",
          "id": "identitytoolkit.getRecaptchaParams",
          "parameters": {},
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSessionCookiePublicKeys": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse"
          },
          "parameters": {},
          "id": "identitytoolkit.getSessionCookiePublicKeys",
          "parameterOrder": [],
          "flatPath": "v1/sessionCookiePublicKeys",
          "path": "v1/sessionCookiePublicKeys",
          "description": "Retrieves the set of public keys of the session cookie JSON Web Token (JWT) signer that can be used to validate the session cookie created through createSessionCookie."
        },
        "getProjects": {
          "httpMethod": "GET",
          "path": "v1/projects",
          "description": "Gets a project's public Identity Toolkit configuration. (Legacy) This method also supports authenticated calls from a developer to retrieve non-public configuration.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse"
          },
          "flatPath": "v1/projects",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "androidPackageName": {
              "type": "string",
              "description": "Android package name to check against the real android package name. If this field is provided, and sha1_cert_hash is not provided, the action will throw an error if this does not match the real android package name.",
              "location": "query"
            },
            "projectNumber": {
              "description": "Project number of the configuration to retrieve. This field is deprecated and should not be used by new integrations.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "delegatedProjectNumber": {
              "location": "query",
              "description": "Project Number of the delegated project request. This field should only be used as part of the Firebase V1 migration.",
              "format": "int64",
              "type": "string"
            },
            "iosBundleId": {
              "location": "query",
              "type": "string",
              "description": "iOS bundle id to check against the real ios bundle id. If this field is provided, the action will throw an error if this does not match the real iOS bundle id."
            },
            "firebaseAppId": {
              "location": "query",
              "description": "The Firebase app ID, for applications that use Firebase. This can be found in the Firebase console for your project. If set, a check will be performed to ensure that the app ID is valid for the retrieved project. If not valid, the request will be rejected with a client error.",
              "type": "string"
            },
            "sha1Cert": {
              "type": "string",
              "location": "query",
              "description": "SHA-1 Android application cert hash. If set, a check will be performed to ensure that the cert hash is valid for the retrieved project and android_package_name."
            },
            "clientId": {
              "type": "string",
              "description": "The RP OAuth client ID. If set, a check will be performed to ensure that the OAuth client is valid for the retrieved project and the request rejected with a client error if not valid.",
              "location": "query"
            },
            "returnDynamicLink": {
              "type": "boolean",
              "location": "query",
              "description": "Whether dynamic link should be returned."
            }
          },
          "parameterOrder": [],
          "id": "identitytoolkit.getProjects"
        }
      }
    },
    "accounts": {
      "methods": {
        "lookup": {
          "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
          },
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
          },
          "id": "identitytoolkit.accounts.lookup",
          "path": "v1/accounts:lookup",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/accounts:lookup",
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "issueSamlResponse": {
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest"
          },
          "id": "identitytoolkit.accounts.issueSamlResponse",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/accounts:issueSamlResponse",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1/accounts:issueSamlResponse",
          "description": "Experimental"
        },
        "signInWithIdp": {
          "id": "identitytoolkit.accounts.signInWithIdp",
          "flatPath": "v1/accounts:signInWithIdp",
          "path": "v1/accounts:signInWithIdp",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Signs in or signs up a user using credentials from an Identity Provider (IdP). This is done by manually providing an IdP credential, or by providing the authorization response obtained via the authorization request from CreateAuthUri. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. A new Identity Platform user account will be created if the user has not previously signed in to the IdP with the same account. In addition, when the \"One account per email address\" setting is enabled, there should not be an existing Identity Platform user account with the same email address for a new user account to be created. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse"
          },
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {}
        },
        "signUp": {
          "path": "v1/accounts:signUp",
          "parameterOrder": [],
          "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "httpMethod": "POST",
          "flatPath": "v1/accounts:signUp",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.accounts.signUp",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
          }
        },
        "update": {
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
          },
          "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
          },
          "parameters": {},
          "id": "identitytoolkit.accounts.update",
          "httpMethod": "POST",
          "flatPath": "v1/accounts:update",
          "path": "v1/accounts:update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        },
        "sendOobCode": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/accounts:sendOobCode",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
          },
          "parameters": {},
          "flatPath": "v1/accounts:sendOobCode",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
          },
          "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
          "id": "identitytoolkit.accounts.sendOobCode"
        },
        "verifyIosClient": {
          "description": "Verifies an iOS client is a real iOS device. If the request is valid, a receipt will be sent in the response and a secret will be sent via Apple Push Notification Service. The client should send both of them back to certain Identity Platform APIs in a later call (for example, /accounts:sendVerificationCode), in order to verify the client. The bundle ID is required in the request header as `x-ios-bundle-identifier`. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.verifyIosClient",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest"
          },
          "flatPath": "v1/accounts:verifyIosClient",
          "parameters": {},
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse"
          },
          "path": "v1/accounts:verifyIosClient"
        },
        "createAuthUri": {
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest"
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse"
          },
          "path": "v1/accounts:createAuthUri",
          "flatPath": "v1/accounts:createAuthUri",
          "parameterOrder": [],
          "description": "If an email identifier is specified, checks and returns if any user account is registered with the email. If there is a registered account, fetches all providers associated with the account's email. If the provider ID of an Identity Provider (IdP) is specified, creates an authorization URI for the IdP. The user can be directed to this URI to sign in with the IdP. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.accounts.createAuthUri",
          "httpMethod": "POST"
        },
        "signInWithPassword": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest"
          },
          "description": "Signs in a user with email and password. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.signInWithPassword",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse"
          },
          "flatPath": "v1/accounts:signInWithPassword",
          "path": "v1/accounts:signInWithPassword"
        },
        "signInWithGameCenter": {
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/accounts:signInWithGameCenter",
          "description": "Signs in or signs up a user with iOS Game Center credentials. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. The bundle ID is required in the request header as `x-ios-bundle-identifier`. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project. Apple has [deprecated the `playerID` field](https://developer.apple.com/documentation/gamekit/gkplayer/1521127-playerid/). The Apple platform Firebase SDK will use `gamePlayerID` and `teamPlayerID` from version 10.5.0 and onwards. Upgrading to SDK version 10.5.0 or later updates existing integrations that use `playerID` to instead use `gamePlayerID` and `teamPlayerID`. When making calls to `signInWithGameCenter`, you must include `playerID` along with the new fields `gamePlayerID` and `teamPlayerID` to successfully identify all existing users. Upgrading existing Game Center sign in integrations to SDK version 10.5.0 or later is irreversible.",
          "flatPath": "v1/accounts:signInWithGameCenter",
          "id": "identitytoolkit.accounts.signInWithGameCenter",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {}
        },
        "signInWithPhoneNumber": {
          "id": "identitytoolkit.accounts.signInWithPhoneNumber",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest"
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1/accounts:signInWithPhoneNumber",
          "parameters": {},
          "path": "v1/accounts:signInWithPhoneNumber",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "description": "Completes a phone number authentication attempt. If a user already exists with the given phone number, an ID token is minted for that user. Otherwise, a new user is created and associated with the phone number. This method may also be used to link a phone number to an existing user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project."
        },
        "signInWithCustomToken": {
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse"
          },
          "path": "v1/accounts:signInWithCustomToken",
          "httpMethod": "POST",
          "flatPath": "v1/accounts:signInWithCustomToken",
          "id": "identitytoolkit.accounts.signInWithCustomToken",
          "description": "Signs in or signs up a user by exchanging a custom Auth token. Upon a successful sign-in or sign-up, a new Identity Platform ID token and refresh token are issued for the user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {}
        },
        "sendVerificationCode": {
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse"
          },
          "id": "identitytoolkit.accounts.sendVerificationCode",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1/accounts:sendVerificationCode",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest"
          },
          "parameterOrder": [],
          "path": "v1/accounts:sendVerificationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Sends a SMS verification code for phone number sign-in. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project."
        },
        "signInWithEmailLink": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse"
          },
          "id": "identitytoolkit.accounts.signInWithEmailLink",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest"
          },
          "description": "Signs in or signs up a user with a out-of-band code from an email link. If a user does not exist with the given email address, a user record will be created. If the sign-in succeeds, an Identity Platform ID and refresh token are issued for the authenticated user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "path": "v1/accounts:signInWithEmailLink",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/accounts:signInWithEmailLink",
          "parameters": {},
          "httpMethod": "POST"
        },
        "delete": {
          "parameterOrder": [],
          "flatPath": "v1/accounts:delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
          },
          "httpMethod": "POST",
          "id": "identitytoolkit.accounts.delete",
          "description": "Deletes a user's account.",
          "path": "v1/accounts:delete",
          "parameters": {},
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
          }
        },
        "resetPassword": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v1/accounts:resetPassword",
          "path": "v1/accounts:resetPassword",
          "id": "identitytoolkit.accounts.resetPassword",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "description": "Resets the password of an account either using an out-of-band code generated by sendOobCode or by specifying the email and password of the account to be modified. Can also check the purpose of an out-of-band code without consuming it.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse"
          }
        }
      }
    },
    "projects": {
      "methods": {
        "createSessionCookie": {
          "path": "v1/projects/{+targetProjectId}:createSessionCookie",
          "id": "identitytoolkit.projects.createSessionCookie",
          "httpMethod": "POST",
          "description": "Creates a session cookie for the given Identity Platform ID token. The session cookie is used by the client to preserve the user's login state.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
          },
          "parameters": {
            "targetProjectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "The ID of the project that the account belongs to."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/projects/{projectsId}:createSessionCookie",
          "parameterOrder": [
            "targetProjectId"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
          }
        },
        "queryAccounts": {
          "httpMethod": "POST",
          "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
          },
          "flatPath": "v1/projects/{projectsId}:queryAccounts",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
          },
          "id": "identitytoolkit.projects.queryAccounts",
          "path": "v1/projects/{+targetProjectId}:queryAccounts",
          "parameters": {
            "targetProjectId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "The ID of the project to which the result is scoped.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameterOrder": [
            "targetProjectId"
          ]
        },
        "accounts": {
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
          },
          "path": "v1/projects/{+targetProjectId}/accounts",
          "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
          },
          "parameterOrder": [
            "targetProjectId"
          ],
          "id": "identitytoolkit.projects.accounts",
          "flatPath": "v1/projects/{projectsId}/accounts",
          "httpMethod": "POST",
          "parameters": {
            "targetProjectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token."
            }
          }
        }
      },
      "resources": {
        "tenants": {
          "methods": {
            "createSessionCookie": {
              "description": "Creates a session cookie for the given Identity Platform ID token. The session cookie is used by the client to preserve the user's login state.",
              "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}:createSessionCookie",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
              },
              "id": "identitytoolkit.projects.tenants.createSessionCookie",
              "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}:createSessionCookie",
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "description": "The ID of the project that the account belongs to.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path"
                },
                "tenantId": {
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "The tenant ID of the Identity Platform tenant the account belongs to."
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
              },
              "parameterOrder": [
                "targetProjectId",
                "tenantId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "accounts": {
              "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts",
              "parameterOrder": [
                "targetProjectId",
                "tenantId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts",
              "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
              "id": "identitytoolkit.projects.tenants.accounts",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
              },
              "parameters": {
                "targetProjectId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
                  "required": true
                },
                "tenantId": {
                  "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
              },
              "httpMethod": "POST"
            }
          },
          "resources": {
            "accounts": {
              "methods": {
                "batchDelete": {
                  "parameters": {
                    "targetProjectId": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that accounts belong to.",
                      "required": true
                    },
                    "tenantId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to an default Identity Platform project, the field is not needed.",
                      "pattern": "^[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchDelete",
                  "description": "Batch deletes multiple accounts. For accounts that fail to be deleted, error info is contained in the response. The method ignores accounts that do not exist or are duplicated in the request. This method requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchDelete",
                  "id": "identitytoolkit.projects.tenants.accounts.batchDelete",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "description": "Deletes a user's account.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:delete",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:delete",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
                  },
                  "parameters": {
                    "targetProjectId": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
                      "location": "path"
                    },
                    "tenantId": {
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
                  },
                  "id": "identitytoolkit.projects.tenants.accounts.delete"
                },
                "update": {
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
                  },
                  "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
                  "id": "identitytoolkit.projects.tenants.accounts.update",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "parameters": {
                    "targetProjectId": {
                      "required": true,
                      "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^[^/]+$"
                    },
                    "tenantId": {
                      "required": true,
                      "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field.",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:update",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:update",
                  "httpMethod": "POST"
                },
                "query": {
                  "id": "identitytoolkit.projects.tenants.accounts.query",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "parameters": {
                    "targetProjectId": {
                      "description": "The ID of the project to which the result is scoped.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$"
                    },
                    "tenantId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The ID of the tenant to which the result is scoped.",
                      "pattern": "^[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:query",
                  "httpMethod": "POST",
                  "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
                  },
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:query",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
                  }
                },
                "batchCreate": {
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchCreate",
                  "id": "identitytoolkit.projects.tenants.accounts.batchCreate",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
                  },
                  "parameters": {
                    "tenantId": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "description": "The ID of the Identity Platform tenant the account belongs to.",
                      "required": true
                    },
                    "targetProjectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "description": "The Project ID of the Identity Platform project which the account belongs to."
                    }
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchCreate",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
                  },
                  "description": "Uploads multiple accounts into the Google Cloud project. If there is a problem uploading one or more of the accounts, the rest will be uploaded, and a list of the errors will be returned. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "batchGet": {
                  "id": "identitytoolkit.projects.tenants.accounts.batchGet",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "tenantId": {
                      "required": true,
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "description": "The ID of the Identity Platform tenant the accounts belongs to. If not specified, accounts on the Identity Platform project are returned."
                    },
                    "targetProjectId": {
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that the accounts belong to.",
                      "required": true,
                      "location": "path"
                    },
                    "nextPageToken": {
                      "type": "string",
                      "description": "The pagination token from the response of a previous request.",
                      "location": "query"
                    },
                    "delegatedProjectNumber": {
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    },
                    "maxResults": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of results to return. Must be at least 1 and no greater than 1000. By default, it is 20."
                    }
                  },
                  "description": "Download account information for all accounts on the project in a paginated manner. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).. Furthermore, additional permissions are needed to get password hash, password salt, and password version from accounts; otherwise these fields are redacted.",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchGet",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ]
                },
                "lookup": {
                  "id": "identitytoolkit.projects.tenants.accounts.lookup",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "targetProjectId": {
                      "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "tenantId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer."
                    }
                  },
                  "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:lookup",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:lookup",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ]
                },
                "sendOobCode": {
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:sendOobCode",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:sendOobCode",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
                  },
                  "id": "identitytoolkit.projects.tenants.accounts.sendOobCode",
                  "parameters": {
                    "tenantId": {
                      "type": "string",
                      "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "targetProjectId": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "accounts": {
          "methods": {
            "delete": {
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account."
                }
              },
              "description": "Deletes a user's account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{+targetProjectId}/accounts:delete",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
              },
              "id": "identitytoolkit.projects.accounts.delete",
              "flatPath": "v1/projects/{projectsId}/accounts:delete"
            },
            "batchDelete": {
              "parameterOrder": [
                "targetProjectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
              },
              "httpMethod": "POST",
              "description": "Batch deletes multiple accounts. For accounts that fail to be deleted, error info is contained in the response. The method ignores accounts that do not exist or are duplicated in the request. This method requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
              "id": "identitytoolkit.projects.accounts.batchDelete",
              "flatPath": "v1/projects/{projectsId}/accounts:batchDelete",
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that accounts belong to.",
                  "required": true
                }
              },
              "path": "v1/projects/{+targetProjectId}/accounts:batchDelete"
            },
            "lookup": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId"
              ],
              "parameters": {
                "targetProjectId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
              },
              "flatPath": "v1/projects/{projectsId}/accounts:lookup",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
              },
              "id": "identitytoolkit.projects.accounts.lookup",
              "path": "v1/projects/{+targetProjectId}/accounts:lookup",
              "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria."
            },
            "sendOobCode": {
              "flatPath": "v1/projects/{projectsId}/accounts:sendOobCode",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "identitytoolkit.projects.accounts.sendOobCode",
              "parameterOrder": [
                "targetProjectId"
              ],
              "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{+targetProjectId}/accounts:sendOobCode",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
              }
            },
            "query": {
              "path": "v1/projects/{+targetProjectId}/accounts:query",
              "id": "identitytoolkit.projects.accounts.query",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
              },
              "parameters": {
                "targetProjectId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the project to which the result is scoped.",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "targetProjectId"
              ],
              "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/accounts:query",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
              },
              "httpMethod": "POST"
            },
            "batchCreate": {
              "id": "identitytoolkit.projects.accounts.batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
              },
              "parameterOrder": [
                "targetProjectId"
              ],
              "flatPath": "v1/projects/{projectsId}/accounts:batchCreate",
              "parameters": {
                "targetProjectId": {
                  "description": "The Project ID of the Identity Platform project which the account belongs to.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true
                }
              },
              "description": "Uploads multiple accounts into the Google Cloud project. If there is a problem uploading one or more of the accounts, the rest will be uploaded, and a list of the errors will be returned. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
              },
              "path": "v1/projects/{+targetProjectId}/accounts:batchCreate"
            },
            "update": {
              "parameters": {
                "targetProjectId": {
                  "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
              },
              "id": "identitytoolkit.projects.accounts.update",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId"
              ],
              "flatPath": "v1/projects/{projectsId}/accounts:update",
              "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
              },
              "path": "v1/projects/{+targetProjectId}/accounts:update"
            },
            "batchGet": {
              "parameterOrder": [
                "targetProjectId"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
              },
              "id": "identitytoolkit.projects.accounts.batchGet",
              "httpMethod": "GET",
              "parameters": {
                "targetProjectId": {
                  "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that the accounts belong to.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true
                },
                "delegatedProjectNumber": {
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. Must be at least 1 and no greater than 1000. By default, it is 20."
                },
                "tenantId": {
                  "description": "The ID of the Identity Platform tenant the accounts belongs to. If not specified, accounts on the Identity Platform project are returned.",
                  "location": "query",
                  "type": "string"
                },
                "nextPageToken": {
                  "type": "string",
                  "description": "The pagination token from the response of a previous request.",
                  "location": "query"
                }
              },
              "path": "v1/projects/{+targetProjectId}/accounts:batchGet",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Download account information for all accounts on the project in a paginated manner. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).. Furthermore, additional permissions are needed to get password hash, password salt, and password version from accounts; otherwise these fields are redacted.",
              "flatPath": "v1/projects/{projectsId}/accounts:batchGet"
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Identity Toolkit",
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "version_module": true,
  "schemas": {
    "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse": {
      "properties": {
        "kind": {
          "type": "string"
        },
        "users": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "type": "array",
          "description": "The information of specific user account(s) matching the parameters in the request."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse",
      "description": "Response message for GetAccountInfo."
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "type": "object",
      "description": "Request message for SetAccountInfo.",
      "properties": {
        "password": {
          "type": "string",
          "description": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string"
        },
        "captchaResponse": {
          "description": "The response from reCaptcha challenge. This is required when the system detects possible abuse activities.",
          "type": "string"
        },
        "targetProjectId": {
          "type": "string",
          "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead."
        },
        "upgradeToFederatedLogin": {
          "type": "boolean",
          "description": "Whether the account should be restricted to only using federated login."
        },
        "customAttributes": {
          "type": "string",
          "description": "JSON formatted custom attributes to be stored in the Identity Platform ID token. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "displayName": {
          "description": "The user's new display name to be updated in the account's attributes. The length of the display name must be less than or equal to 256 characters.",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "description": "The timestamp in milliseconds when the account was created.",
          "type": "string"
        },
        "idToken": {
          "description": "A valid Identity Platform ID token. Required when attempting to change user-related information.",
          "type": "string"
        },
        "disableUser": {
          "type": "boolean",
          "description": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in."
        },
        "provider": {
          "description": "The Identity Providers that the account should be associated with.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "email": {
          "type": "string",
          "description": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        },
        "localId": {
          "type": "string",
          "description": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead."
        },
        "linkProviderUserInfo": {
          "description": "The provider to be linked to the user's account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
        },
        "captchaChallenge": {
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code to be applied on the user's account. The following out-of-band code types are supported: * VERIFY_EMAIL * RECOVER_EMAIL * REVERT_SECOND_FACTOR_ADDITION * VERIFY_AND_CHANGE_EMAIL"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field."
        },
        "phoneNumber": {
          "description": "The phone number to be updated in the account's attributes.",
          "type": "string"
        },
        "instanceId": {
          "type": "string"
        },
        "deleteProvider": {
          "items": {
            "type": "string"
          },
          "description": "The Identity Providers to unlink from the user's account.",
          "type": "array"
        },
        "deleteAttribute": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "User attribute name is not specified.",
              "User attribute key name is email.",
              "User attribute key name is displayName.",
              "User attribute key name is provider.",
              "User attribute key name is photoURL.",
              "User attribute key name is password.",
              "User attribute key name is rawUserInfo."
            ],
            "enum": [
              "USER_ATTRIBUTE_NAME_UNSPECIFIED",
              "EMAIL",
              "DISPLAY_NAME",
              "PROVIDER",
              "PHOTO_URL",
              "PASSWORD",
              "RAW_USER_INFO"
            ]
          },
          "type": "array",
          "description": "The account's attributes to be deleted."
        },
        "emailVerified": {
          "description": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "mfa": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaInfo",
          "description": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "lastLoginAt": {
          "type": "string",
          "description": "The timestamp in milliseconds when the account last logged in.",
          "format": "int64"
        },
        "photoUrl": {
          "type": "string",
          "description": "The user's new photo URL for the account's profile photo to be updated in the account's attributes. The length of the URL must be less than or equal to 2048 characters."
        },
        "returnSecureToken": {
          "description": "Whether or not to return an ID and refresh token. Should always be true.",
          "type": "boolean"
        },
        "validSince": {
          "type": "string",
          "format": "int64",
          "description": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "properties": {
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "type": "string",
          "format": "int64"
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "kind": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse",
      "type": "object",
      "description": "Response message for SignInWithCustomToken."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse",
      "description": "Response message for SignInWithPassword.",
      "properties": {
        "oauthAccessToken": {
          "description": "The OAuth2 access token.",
          "type": "string"
        },
        "registered": {
          "description": "Whether the email is for an existing account. Always true.",
          "type": "boolean"
        },
        "mfaInfo": {
          "type": "array",
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "profilePicture": {
          "type": "string",
          "description": "The user's profile picture stored in the account's attributes."
        },
        "oauthExpireIn": {
          "format": "int32",
          "description": "The access token expiration time in seconds.",
          "type": "integer"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name stored in the account's attributes."
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the authenticated user. Always present in the response."
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "oauthAuthorizationCode": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest",
      "type": "object",
      "description": "Request message for DeleteAccount.",
      "properties": {
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant.",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
          "type": "string"
        },
        "idToken": {
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64"
        },
        "localId": {
          "type": "string",
          "description": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "properties": {
        "fromDisplayName": {
          "description": "From display name",
          "type": "string"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address"
        },
        "locale": {
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted.",
          "type": "string"
        },
        "from": {
          "description": "From address of the email",
          "type": "string"
        },
        "format": {
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "description": "Email body format",
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ]
        },
        "fromLocalPart": {
          "type": "string",
          "description": "Local part of From address"
        },
        "customized": {
          "description": "Whether the body or subject of the email is customized.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the template is disabled. If true, a default template will be used.",
          "type": "boolean"
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email"
        }
      },
      "description": "Email template",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate"
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest": {
      "description": "Request message for SendVerificationCode. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest",
      "properties": {
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo"
        },
        "recaptchaToken": {
          "description": "Recaptcha token for app verification. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. The recaptcha should be generated by calling getRecaptchaParams and the recaptcha token will be generated on user completion of the recaptcha challenge.",
          "type": "string"
        },
        "tenantId": {
          "description": "Tenant ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "iosSecret": {
          "description": "Secret delivered to iOS app as a push notification. Should be passed with an `ios_receipt` as well as the `x-ios-bundle-identifier` header.",
          "type": "string"
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful iOS app token validation. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. This should come from the response of verifyIosClient. If present, the caller should also provide the `ios_secret`, as well as a bundle ID in the `x-ios-bundle-identifier` header, which must match the bundle ID from the verifyIosClient request."
        },
        "playIntegrityToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token (and safety_net_token). At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, , or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. A Play Integrity Token can be generated via the [PlayIntegrity API](https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce."
        },
        "safetyNetToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project."
        },
        "instanceId": {
          "type": "string"
        },
        "captchaResponse": {
          "type": "string",
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled."
        },
        "password": {
          "description": "Required. The password the user provides to sign in to the account.",
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        },
        "pendingIdToken": {
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        }
      },
      "description": "Request message for SignInWithPassword.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest"
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "type": "object",
      "properties": {
        "appToken": {
          "type": "string",
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
        },
        "isSandbox": {
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "description": "Request message for VerifyIosClient"
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest",
      "description": "Request message for GetAccountInfo.",
      "properties": {
        "localId": {
          "type": "array",
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "items": {
            "type": "string"
          }
        },
        "initialEmail": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "email": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "targetProjectId": {
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer.",
          "type": "string"
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555."
        },
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users."
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string"
        },
        "federatedUserId": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          },
          "description": "The federated user identifier of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignUpRequest": {
      "properties": {
        "targetProjectId": {
          "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email to assign to the created user. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. An anonymous user will be created if not provided."
        },
        "password": {
          "type": "string",
          "description": "The password to assign to the created user. The password must be be at least 6 characters long. If set, the `email` field must also be set."
        },
        "disabled": {
          "description": "Whether the user will be disabled upon creation. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the user to create. The ID must be unique within the project that the user is being created under. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "mfaInfo": {
          "description": "The multi-factor authentication providers for the user to create.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaFactor"
          },
          "type": "array"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform user. If set, this request will link the authentication credential to the user represented by this ID token. For a non-admin request, both the `email` and `password` fields must be set. For an admin request, `local_id` must not be set."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user to be created."
        },
        "captchaChallenge": {
          "type": "string"
        },
        "instanceId": {
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user's email is verified. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "captchaResponse": {
          "type": "string",
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for assessment. Required when reCAPTCHA enterprise is enabled."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the user to create. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "photoUrl": {
          "type": "string",
          "description": "The profile photo url of the user to create."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignUpRequest",
      "description": "Request message for SignUp."
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse",
      "description": "Response message for SetAccountInfo",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user."
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up."
        },
        "refreshToken": {
          "description": "A refresh token for the account. This is used for legacy user sign up.",
          "type": "string"
        },
        "passwordHash": {
          "type": "string",
          "description": "Deprecated. No actual password hash is currently returned."
        },
        "photoUrl": {
          "description": "The user's photo URL for the account's profile photo.",
          "type": "string"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the account's email has been verified."
        },
        "email": {
          "type": "string",
          "description": "The account's email address."
        },
        "kind": {
          "type": "string"
        },
        "providerUserInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "description": "The linked Identity Providers on the account."
        },
        "displayName": {
          "description": "The account's display name.",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email that has been set on the user's account attributes."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "The time zone for the user's account at the IdP."
        },
        "federatedId": {
          "description": "The user's account ID at the IdP. Always present in the response.",
          "type": "string"
        },
        "context": {
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP.",
          "type": "string"
        },
        "language": {
          "description": "The language preference for the user's account at the IdP.",
          "type": "string"
        },
        "nickName": {
          "type": "string",
          "description": "The nickname for the user's account at the IdP."
        },
        "emailRecycled": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified.",
          "type": "boolean"
        },
        "rawUserInfo": {
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the user's account at the IdP."
        },
        "fullName": {
          "description": "The full name for the user's account at the IdP.",
          "type": "string"
        },
        "pendingToken": {
          "type": "string",
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again."
        },
        "oauthExpireIn": {
          "description": "The number of seconds until the OAuth access token from the IdP expires.",
          "format": "int32",
          "type": "integer"
        },
        "inputEmail": {
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response."
        },
        "originalEmail": {
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled.",
          "type": "string"
        },
        "screenName": {
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP.",
          "type": "string"
        },
        "lastName": {
          "description": "The last name for the user's account at the IdP.",
          "type": "string"
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether or not a new Identity Platform account was created for the authenticated user."
        },
        "firstName": {
          "description": "The first name for the user's account at the IdP.",
          "type": "string"
        },
        "oauthRefreshToken": {
          "type": "string",
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`."
        },
        "oauthAuthorizationCode": {
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address of the user's account at the IdP."
        },
        "dateOfBirth": {
          "type": "string",
          "description": "The date of birth for the user's account at the IdP."
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider."
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "needConfirmation": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email addresss is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled.",
          "type": "boolean"
        },
        "verifiedProvider": {
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user account's email address is verified."
        },
        "photoUrl": {
          "description": "The URL of the user's profile picture at the IdP.",
          "type": "string"
        },
        "needEmail": {
          "type": "boolean"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated Identity Platform user. Always present in the response."
        },
        "tenantId": {
          "description": "The value of the `tenant_id` field in the request.",
          "type": "string"
        },
        "oauthIdToken": {
          "type": "string",
          "description": "The OpenID Connect ID token from the IdP, if available."
        },
        "kind": {
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth access token from the IdP, if available."
        }
      },
[...]
