{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "version_module": true,
  "name": "identitytoolkit",
  "servicePath": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://identitytoolkit.googleapis.com/",
  "mtlsRootUrl": "https://identitytoolkit.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "description": "The Google Identity Toolkit API lets you use open standards to verify a user's identity.",
  "canonicalName": "Identity Toolkit",
  "id": "identitytoolkit:v1",
  "ownerName": "Google",
  "basePath": "",
  "batchPath": "batch",
  "protocol": "rest",
  "baseUrl": "https://identitytoolkit.googleapis.com/",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "resources": {
    "v1": {
      "methods": {
        "getRecaptchaParams": {
          "parameters": {},
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse"
          },
          "flatPath": "v1/recaptchaParams",
          "description": "Gets parameters needed for generating a reCAPTCHA challenge.",
          "id": "identitytoolkit.getRecaptchaParams",
          "path": "v1/recaptchaParams"
        },
        "getProjects": {
          "path": "v1/projects",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "projectNumber": {
              "description": "Project number of the configuration to retrieve. This field is deprecated and should not be used by new integrations.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "iosBundleId": {
              "description": "iOS bundle id to check against the real ios bundle id. If this field is provided, the action will throw an error if this does not match the real iOS bundle id.",
              "location": "query",
              "type": "string"
            },
            "sha1Cert": {
              "location": "query",
              "description": "SHA-1 Android application cert hash. If set, a check will be performed to ensure that the cert hash is valid for the retrieved project and android_package_name.",
              "type": "string"
            },
            "delegatedProjectNumber": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Project Number of the delegated project request. This field should only be used as part of the Firebase V1 migration."
            },
            "clientId": {
              "description": "The RP OAuth client ID. If set, a check will be performed to ensure that the OAuth client is valid for the retrieved project and the request rejected with a client error if not valid.",
              "location": "query",
              "type": "string"
            },
            "firebaseAppId": {
              "description": "The Firebase app ID, for applications that use Firebase. This can be found in the Firebase console for your project. If set, a check will be performed to ensure that the app ID is valid for the retrieved project. If not valid, the request will be rejected with a client error.",
              "type": "string",
              "location": "query"
            },
            "returnDynamicLink": {
              "description": "Whether dynamic link should be returned.",
              "type": "boolean",
              "location": "query"
            },
            "androidPackageName": {
              "description": "Android package name to check against the real android package name. If this field is provided, and sha1_cert_hash is not provided, the action will throw an error if this does not match the real android package name.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1/projects",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetProjectConfigResponse"
          },
          "httpMethod": "GET",
          "description": "Gets a project's public Identity Toolkit configuration. (Legacy) This method also supports authenticated calls from a developer to retrieve non-public configuration.",
          "id": "identitytoolkit.getProjects"
        },
        "getPublicKeys": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.getPublicKeys",
          "response": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "path": "v1/publicKeys",
          "flatPath": "v1/publicKeys",
          "description": "Retrieves public keys of the legacy Identity Toolkit token signer to enable third parties to verify the legacy ID token. For now the X509 pem cert is the only format supported.",
          "parameters": {},
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "getSessionCookiePublicKeys": {
          "parameters": {},
          "flatPath": "v1/sessionCookiePublicKeys",
          "id": "identitytoolkit.getSessionCookiePublicKeys",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse"
          },
          "parameterOrder": [],
          "path": "v1/sessionCookiePublicKeys",
          "description": "Retrieves the set of public keys of the session cookie JSON Web Token (JWT) signer that can be used to validate the session cookie created through createSessionCookie."
        }
      }
    },
    "accounts": {
      "methods": {
        "delete": {
          "flatPath": "v1/accounts:delete",
          "description": "Deletes a user's account.",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/accounts:delete",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
          },
          "id": "identitytoolkit.accounts.delete",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
          }
        },
        "signInWithPassword": {
          "description": "Signs in a user with email and password. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/accounts:signInWithPassword",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse"
          },
          "flatPath": "v1/accounts:signInWithPassword",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest"
          },
          "id": "identitytoolkit.accounts.signInWithPassword"
        },
        "signUp": {
          "path": "v1/accounts:signUp",
          "httpMethod": "POST",
          "flatPath": "v1/accounts:signUp",
          "parameters": {},
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
          },
          "parameterOrder": [],
          "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "identitytoolkit.accounts.signUp"
        },
        "update": {
          "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
          "parameterOrder": [],
          "id": "identitytoolkit.accounts.update",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1/accounts:update",
          "path": "v1/accounts:update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
          }
        },
        "resetPassword": {
          "id": "identitytoolkit.accounts.resetPassword",
          "description": "Resets the password of an account either using an out-of-band code generated by sendOobCode or by specifying the email and password of the account to be modified. Can also check the purpose of an out-of-band code without consuming it.",
          "httpMethod": "POST",
          "path": "v1/accounts:resetPassword",
          "flatPath": "v1/accounts:resetPassword",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest"
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse"
          }
        },
        "sendOobCode": {
          "parameters": {},
          "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
          "flatPath": "v1/accounts:sendOobCode",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/accounts:sendOobCode",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
          },
          "id": "identitytoolkit.accounts.sendOobCode"
        },
        "signInWithIdp": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse"
          },
          "description": "Signs in or signs up a user using credentials from an Identity Provider (IdP). This is done by manually providing an IdP credential, or by providing the authorization response obtained via the authorization request from CreateAuthUri. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. A new Identity Platform user account will be created if the user has not previously signed in to the IdP with the same account. In addition, when the \"One account per email address\" setting is enabled, there should not be an existing Identity Platform user account with the same email address for a new user account to be created. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest"
          },
          "parameterOrder": [],
          "path": "v1/accounts:signInWithIdp",
          "flatPath": "v1/accounts:signInWithIdp",
          "parameters": {},
          "id": "identitytoolkit.accounts.signInWithIdp"
        },
        "signInWithEmailLink": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse"
          },
          "parameters": {},
          "description": "Signs in or signs up a user with a out-of-band code from an email link. If a user does not exist with the given email address, a user record will be created. If the sign-in succeeds, an Identity Platform ID and refresh token are issued for the authenticated user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "flatPath": "v1/accounts:signInWithEmailLink",
          "path": "v1/accounts:signInWithEmailLink",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest"
          },
          "id": "identitytoolkit.accounts.signInWithEmailLink",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "lookup": {
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
          },
          "id": "identitytoolkit.accounts.lookup",
          "path": "v1/accounts:lookup",
          "flatPath": "v1/accounts:lookup",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "sendVerificationCode": {
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest"
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse"
          },
          "parameterOrder": [],
          "description": "Sends a SMS verification code for phone number sign-in. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.accounts.sendVerificationCode",
          "parameters": {},
          "flatPath": "v1/accounts:sendVerificationCode",
          "httpMethod": "POST",
          "path": "v1/accounts:sendVerificationCode",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "issueSamlResponse": {
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest"
          },
          "id": "identitytoolkit.accounts.issueSamlResponse",
          "flatPath": "v1/accounts:issueSamlResponse",
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Experimental",
          "path": "v1/accounts:issueSamlResponse",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse"
          },
          "httpMethod": "POST"
        },
        "signInWithPhoneNumber": {
          "httpMethod": "POST",
          "description": "Completes a phone number authentication attempt. If a user already exists with the given phone number, an ID token is minted for that user. Otherwise, a new user is created and associated with the phone number. This method may also be used to link a phone number to an existing user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest"
          },
          "parameterOrder": [],
          "flatPath": "v1/accounts:signInWithPhoneNumber",
          "path": "v1/accounts:signInWithPhoneNumber",
          "id": "identitytoolkit.accounts.signInWithPhoneNumber",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse"
          }
        },
        "verifyIosClient": {
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest"
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse"
          },
          "description": "Verifies an iOS client is a real iOS device. If the request is valid, a receipt will be sent in the response and a secret will be sent via Apple Push Notification Service. The client should send both of them back to certain Identity Platform APIs in a later call (for example, /accounts:sendVerificationCode), in order to verify the client. The bundle ID is required in the request header as `x-ios-bundle-identifier`. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "path": "v1/accounts:verifyIosClient",
          "flatPath": "v1/accounts:verifyIosClient",
          "id": "identitytoolkit.accounts.verifyIosClient",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameters": {}
        },
        "createAuthUri": {
          "parameters": {},
          "path": "v1/accounts:createAuthUri",
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateAuthUriResponse"
          },
          "flatPath": "v1/accounts:createAuthUri",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateAuthUriRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "If an email identifier is specified, checks and returns if any user account is registered with the email. If there is a registered account, fetches all providers associated with the account's email. If the provider ID of an Identity Provider (IdP) is specified, creates an authorization URI for the IdP. The user can be directed to this URI to sign in with the IdP. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "id": "identitytoolkit.accounts.createAuthUri"
        },
        "signInWithCustomToken": {
          "flatPath": "v1/accounts:signInWithCustomToken",
          "path": "v1/accounts:signInWithCustomToken",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse"
          },
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Signs in or signs up a user by exchanging a custom Auth token. Upon a successful sign-in or sign-up, a new Identity Platform ID token and refresh token are issued for the user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "httpMethod": "POST",
          "parameters": {},
          "id": "identitytoolkit.accounts.signInWithCustomToken"
        },
        "signInWithGameCenter": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse"
          },
          "id": "identitytoolkit.accounts.signInWithGameCenter",
          "description": "Signs in or signs up a user with iOS Game Center credentials. If the sign-in succeeds, a new Identity Platform ID token and refresh token are issued for the authenticated user. The bundle ID is required in the request header as `x-ios-bundle-identifier`. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project. Apple has [deprecated the `playerID` field](https://developer.apple.com/documentation/gamekit/gkplayer/1521127-playerid/). The Apple platform Firebase SDK will use `gamePlayerID` and `teamPlayerID` from version 10.5.0 and onwards. Upgrading to SDK version 10.5.0 or later updates existing integrations that use `playerID` to instead use `gamePlayerID` and `teamPlayerID`. When making calls to `signInWithGameCenter`, you must include `playerID` along with the new fields `gamePlayerID` and `teamPlayerID` to successfully identify all existing users. Upgrading existing Game Center sign in integrations to SDK version 10.5.0 or later is irreversible.",
          "flatPath": "v1/accounts:signInWithGameCenter",
          "parameterOrder": [],
          "path": "v1/accounts:signInWithGameCenter",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest"
          },
          "httpMethod": "POST"
        }
      }
    },
    "projects": {
      "methods": {
        "accounts": {
          "id": "identitytoolkit.projects.accounts",
          "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
          },
          "parameters": {
            "targetProjectId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "targetProjectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
          },
          "path": "v1/projects/{+targetProjectId}/accounts",
          "flatPath": "v1/projects/{projectsId}/accounts"
        },
        "createSessionCookie": {
          "parameters": {
            "targetProjectId": {
              "type": "string",
              "description": "The ID of the project that the account belongs to.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
          },
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
          },
          "parameterOrder": [
            "targetProjectId"
          ],
          "path": "v1/projects/{+targetProjectId}:createSessionCookie",
          "flatPath": "v1/projects/{projectsId}:createSessionCookie",
          "httpMethod": "POST",
          "id": "identitytoolkit.projects.createSessionCookie",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a session cookie for the given Identity Platform ID token. The session cookie is used by the client to preserve the user's login state."
        },
        "queryAccounts": {
          "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
          "flatPath": "v1/projects/{projectsId}:queryAccounts",
          "request": {
            "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "identitytoolkit.projects.queryAccounts",
          "path": "v1/projects/{+targetProjectId}:queryAccounts",
          "parameters": {
            "targetProjectId": {
              "type": "string",
              "description": "The ID of the project to which the result is scoped.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "targetProjectId"
          ],
          "response": {
            "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
          }
        }
      },
      "resources": {
        "tenants": {
          "resources": {
            "accounts": {
              "methods": {
                "lookup": {
                  "id": "identitytoolkit.projects.tenants.accounts.lookup",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:lookup",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:lookup",
                  "parameters": {
                    "tenantId": {
                      "pattern": "^[^/]+$",
                      "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "targetProjectId": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ]
                },
                "batchGet": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "identitytoolkit.projects.tenants.accounts.batchGet",
                  "parameters": {
                    "nextPageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The pagination token from the response of a previous request."
                    },
                    "maxResults": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of results to return. Must be at least 1 and no greater than 1000. By default, it is 20.",
                      "format": "int32"
                    },
                    "targetProjectId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that the accounts belong to."
                    },
                    "delegatedProjectNumber": {
                      "deprecated": true,
                      "type": "string",
                      "format": "int64",
                      "location": "query"
                    },
                    "tenantId": {
                      "description": "The ID of the Identity Platform tenant the accounts belongs to. If not specified, accounts on the Identity Platform project are returned.",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "description": "Download account information for all accounts on the project in a paginated manner. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).. Furthermore, additional permissions are needed to get password hash, password salt, and password version from accounts; otherwise these fields are redacted.",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchGet",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchGet",
                  "httpMethod": "GET"
                },
                "delete": {
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:delete",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
                  },
                  "httpMethod": "POST",
                  "id": "identitytoolkit.projects.tenants.accounts.delete",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:delete",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "targetProjectId": {
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
                      "location": "path"
                    },
                    "tenantId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant."
                    }
                  },
                  "description": "Deletes a user's account."
                },
                "query": {
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:query",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:query",
                  "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
                  },
                  "httpMethod": "POST",
                  "id": "identitytoolkit.projects.tenants.accounts.query",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
                  },
                  "parameters": {
                    "tenantId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The ID of the tenant to which the result is scoped.",
                      "pattern": "^[^/]+$"
                    },
                    "targetProjectId": {
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "description": "The ID of the project to which the result is scoped.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "batchDelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
                  },
                  "id": "identitytoolkit.projects.tenants.accounts.batchDelete",
                  "description": "Batch deletes multiple accounts. For accounts that fail to be deleted, error info is contained in the response. The method ignores accounts that do not exist or are duplicated in the request. This method requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
                  },
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchDelete",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchDelete",
                  "parameters": {
                    "tenantId": {
                      "description": "If the accounts belong to an Identity Platform tenant, the ID of the tenant. If the accounts belong to an default Identity Platform project, the field is not needed.",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "targetProjectId": {
                      "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that accounts belong to.",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "sendOobCode": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:sendOobCode",
                  "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
                  "parameters": {
                    "tenantId": {
                      "pattern": "^[^/]+$",
                      "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "targetProjectId": {
                      "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                      "required": true,
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:sendOobCode",
                  "id": "identitytoolkit.projects.tenants.accounts.sendOobCode",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
                  }
                },
                "update": {
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
                  },
                  "id": "identitytoolkit.projects.tenants.accounts.update",
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:update",
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:update",
                  "parameters": {
                    "targetProjectId": {
                      "type": "string",
                      "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
                      "required": true,
                      "location": "path",
                      "pattern": "^[^/]+$"
                    },
                    "tenantId": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
                  },
                  "httpMethod": "POST"
                },
                "batchCreate": {
                  "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts:batchCreate",
                  "parameters": {
                    "targetProjectId": {
                      "required": true,
                      "description": "The Project ID of the Identity Platform project which the account belongs to.",
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "tenantId": {
                      "required": true,
                      "location": "path",
                      "description": "The ID of the Identity Platform tenant the account belongs to.",
                      "type": "string",
                      "pattern": "^[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
                  },
                  "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts:batchCreate",
                  "parameterOrder": [
                    "targetProjectId",
                    "tenantId"
                  ],
                  "description": "Uploads multiple accounts into the Google Cloud project. If there is a problem uploading one or more of the accounts, the rest will be uploaded, and a list of the errors will be returned. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "httpMethod": "POST",
                  "id": "identitytoolkit.projects.tenants.accounts.batchCreate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "accounts": {
              "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}/accounts",
              "description": "Signs up a new email and password user or anonymous user, or upgrades an anonymous user to email and password. For an admin request with a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control), creates a new anonymous, email and password, or phone number user. An [API key](https://cloud.google.com/docs/authentication/api-keys) is required in the request in order to identify the Google Cloud project.",
              "id": "identitytoolkit.projects.tenants.accounts",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1SignUpRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}/accounts",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1SignUpResponse"
              },
              "parameters": {
                "targetProjectId": {
                  "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "tenantId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project.",
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "targetProjectId",
                "tenantId"
              ]
            },
            "createSessionCookie": {
              "path": "v1/projects/{+targetProjectId}/tenants/{+tenantId}:createSessionCookie",
              "flatPath": "v1/projects/{projectsId}/tenants/{tenantsId}:createSessionCookie",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse"
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1CreateSessionCookieRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId",
                "tenantId"
              ],
              "description": "Creates a session cookie for the given Identity Platform ID token. The session cookie is used by the client to preserve the user's login state.",
              "id": "identitytoolkit.projects.tenants.createSessionCookie",
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "description": "The ID of the project that the account belongs to.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "tenantId": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
                  "type": "string"
                }
              }
            }
          }
        },
        "accounts": {
          "methods": {
            "sendOobCode": {
              "id": "identitytoolkit.projects.accounts.sendOobCode",
              "path": "v1/projects/{+targetProjectId}/accounts:sendOobCode",
              "parameterOrder": [
                "targetProjectId"
              ],
              "flatPath": "v1/projects/{projectsId}/accounts:sendOobCode",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
              },
              "description": "Sends an out-of-band confirmation code for an account. Requests from a authenticated request can optionally return a link including the OOB code instead of sending it.",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
              },
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "update": {
              "flatPath": "v1/projects/{projectsId}/accounts:update",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "targetProjectId"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse"
              },
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest"
              },
              "description": "Updates account-related information for the specified user by setting specific fields or applying action codes. Requests from administrators and end users are supported.",
              "id": "identitytoolkit.projects.accounts.update",
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/projects/{+targetProjectId}/accounts:update",
              "httpMethod": "POST"
            },
            "batchDelete": {
              "httpMethod": "POST",
              "parameterOrder": [
                "targetProjectId"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
              },
              "description": "Batch deletes multiple accounts. For accounts that fail to be deleted, error info is contained in the response. The method ignores accounts that do not exist or are duplicated in the request. This method requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
              "path": "v1/projects/{+targetProjectId}/accounts:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.accounts.batchDelete",
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that accounts belong to.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/accounts:batchDelete",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsRequest"
              }
            },
            "lookup": {
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse"
              },
              "parameters": {
                "targetProjectId": {
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
                }
              },
              "description": "Gets account information for all matched accounts. For an end user request, retrieves the account of the end user. For an admin request with Google OAuth 2.0 credential, retrieves one or multiple account(s) with matching criteria.",
              "id": "identitytoolkit.projects.accounts.lookup",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/accounts:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
              },
              "path": "v1/projects/{+targetProjectId}/accounts:lookup",
              "parameterOrder": [
                "targetProjectId"
              ]
            },
            "batchCreate": {
              "parameterOrder": [
                "targetProjectId"
              ],
              "id": "identitytoolkit.projects.accounts.batchCreate",
              "flatPath": "v1/projects/{projectsId}/accounts:batchCreate",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountResponse"
              },
              "parameters": {
                "targetProjectId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "The Project ID of the Identity Platform project which the account belongs to.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Uploads multiple accounts into the Google Cloud project. If there is a problem uploading one or more of the accounts, the rest will be uploaded, and a list of the errors will be returned. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
              "path": "v1/projects/{+targetProjectId}/accounts:batchCreate",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1UploadAccountRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "batchGet": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "identitytoolkit.projects.accounts.batchGet",
              "parameters": {
                "targetProjectId": {
                  "description": "If `tenant_id` is specified, the ID of the Google Cloud project that the Identity Platform tenant belongs to. Otherwise, the ID of the Google Cloud project that the accounts belong to.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "delegatedProjectNumber": {
                  "location": "query",
                  "deprecated": true,
                  "type": "string",
                  "format": "int64"
                },
                "tenantId": {
                  "type": "string",
                  "description": "The ID of the Identity Platform tenant the accounts belongs to. If not specified, accounts on the Identity Platform project are returned.",
                  "location": "query"
                },
                "nextPageToken": {
                  "description": "The pagination token from the response of a previous request.",
                  "location": "query",
                  "type": "string"
                },
                "maxResults": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. Must be at least 1 and no greater than 1000. By default, it is 20."
                }
              },
              "parameterOrder": [
                "targetProjectId"
              ],
              "flatPath": "v1/projects/{projectsId}/accounts:batchGet",
              "description": "Download account information for all accounts on the project in a paginated manner. To use this method requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).. Furthermore, additional permissions are needed to get password hash, password salt, and password version from accounts; otherwise these fields are redacted.",
              "path": "v1/projects/{+targetProjectId}/accounts:batchGet",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse"
              }
            },
            "delete": {
              "id": "identitytoolkit.projects.accounts.delete",
              "flatPath": "v1/projects/{projectsId}/accounts:delete",
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse"
              },
              "description": "Deletes a user's account.",
              "parameterOrder": [
                "targetProjectId"
              ],
              "parameters": {
                "targetProjectId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest"
              },
              "httpMethod": "POST",
              "path": "v1/projects/{+targetProjectId}/accounts:delete"
            },
            "query": {
              "parameters": {
                "targetProjectId": {
                  "description": "The ID of the project to which the result is scoped.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
              },
              "description": "Looks up user accounts within a project or a tenant based on conditions in the request.",
              "path": "v1/projects/{+targetProjectId}/accounts:query",
              "parameterOrder": [
                "targetProjectId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/accounts:query",
              "id": "identitytoolkit.projects.accounts.query",
              "request": {
                "$ref": "GoogleCloudIdentitytoolkitV1QueryUserInfoRequest"
              }
            }
          }
        }
      }
    }
  },
  "title": "Identity Toolkit API",
  "revision": "20230520",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse": {
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse",
      "type": "object",
      "properties": {
        "userInfo": {
          "description": "If `return_user_info` in the request is true, this is the accounts matching the query.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "type": "array"
        },
        "recordsCount": {
          "type": "string",
          "description": "If `return_user_info` in the request is true, this is the number of returned accounts in this message. Otherwise, this is the total number of accounts matching the query.",
          "format": "int64"
        }
      },
      "description": "Response message for QueryUserInfo."
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo": {
      "description": "Error info for account failed to be deleted.",
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Detailed error message."
        },
        "localId": {
          "type": "string",
          "description": "The corresponding user ID."
        },
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the errored item in the original local_ids field."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "properties": {
        "clientType": {
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "type": "string"
        },
        "idToken": {
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Required. The password the user provides to sign in to the account."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64"
        },
        "email": {
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "captchaResponse": {
          "type": "string",
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled."
        },
        "recaptchaVersion": {
          "type": "string",
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project."
        },
        "instanceId": {
          "type": "string"
        },
        "pendingIdToken": {
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        },
        "captchaChallenge": {
          "type": "string"
        }
      },
      "description": "Request message for SignInWithPassword.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1UserInfo",
      "description": "An Identity Platform account's information.",
      "properties": {
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the account's email address has been verified."
        },
        "passwordHash": {
          "type": "string",
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "format": "byte"
        },
        "salt": {
          "type": "string",
          "format": "byte",
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The account's phone number."
        },
        "photoUrl": {
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "validSince": {
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "format": "int64",
          "type": "string"
        },
        "customAuth": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken."
        },
        "timeZone": {
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true,
          "type": "string"
        },
        "screenName": {
          "type": "string",
          "description": "Output only. This account's screen name at Twitter or login name at GitHub.",
          "readOnly": true
        },
        "customAttributes": {
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format.",
          "type": "string"
        },
        "providerUserInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "type": "array",
          "description": "Information about the user as provided by various Identity Providers."
        },
        "rawPassword": {
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text.",
          "type": "string"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "The time, in milliseconds from epoch, when the account was created."
        },
        "lastLoginAt": {
          "format": "int64",
          "description": "The last time, in milliseconds from epoch, this account was logged into.",
          "type": "string"
        },
        "email": {
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "emailLinkSignin": {
          "readOnly": true,
          "description": "Output only. Whether the account can authenticate with email link.",
          "type": "boolean"
        },
        "version": {
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "integer",
          "format": "int32"
        },
        "tenantId": {
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "localId": {
          "description": "Immutable. The unique ID of the account.",
          "type": "string"
        },
        "passwordUpdatedAt": {
          "format": "double",
          "type": "number",
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated."
        },
        "lastRefreshAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when an ID token was last minted for this account."
        },
        "mfaInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "description": "Information on which multi-factor authentication providers are enabled for this account.",
          "type": "array"
        },
        "disabled": {
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "boolean"
        },
        "initialEmail": {
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "type": "object",
      "description": "Email template",
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "properties": {
        "subject": {
          "type": "string",
          "description": "Subject of the email"
        },
        "locale": {
          "type": "string",
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted."
        },
        "from": {
          "type": "string",
          "description": "From address of the email"
        },
        "replyTo": {
          "type": "string",
          "description": "Reply-to address"
        },
        "customized": {
          "type": "boolean",
          "description": "Whether the body or subject of the email is customized."
        },
        "fromLocalPart": {
          "type": "string",
          "description": "Local part of From address"
        },
        "format": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ],
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "type": "string",
          "description": "Email body format"
        },
        "disabled": {
          "description": "Whether the template is disabled. If true, a default template will be used.",
          "type": "boolean"
        },
        "fromDisplayName": {
          "type": "string",
          "description": "From display name"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest": {
      "type": "object",
      "description": "Request message for SendVerificationCode. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator.",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest",
      "properties": {
        "phoneNumber": {
          "description": "The phone number to send the verification code to in E.164 format.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "Tenant ID of the Identity Platform tenant the user is signing in to."
        },
        "playIntegrityToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token (and safety_net_token). At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, , or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. A Play Integrity Token can be generated via the [PlayIntegrity API](https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce."
        },
        "recaptchaToken": {
          "description": "Recaptcha token for app verification. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. The recaptcha should be generated by calling getRecaptchaParams and the recaptcha token will be generated on user completion of the recaptcha challenge.",
          "type": "string"
        },
        "iosReceipt": {
          "description": "Receipt of successful iOS app token validation. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. This should come from the response of verifyIosClient. If present, the caller should also provide the `ios_secret`, as well as a bundle ID in the `x-ios-bundle-identifier` header, which must match the bundle ID from the verifyIosClient request.",
          "type": "string"
        },
        "autoRetrievalInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval."
        },
        "safetyNetToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app as a push notification. Should be passed with an `ios_receipt` as well as the `x-ios-bundle-identifier` header."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "properties": {
        "enrolledAt": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the account enrolled this second factor."
        },
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "emailInfo": {
          "description": "Contains information specific to email MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1EmailInfo"
        },
        "displayName": {
          "description": "Display name for this mfa option e.g. \"corp cell phone\".",
          "type": "string"
        },
        "mfaEnrollmentId": {
          "type": "string",
          "description": "ID of this MFA option."
        },
        "phoneInfo": {
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number.",
          "type": "string"
        },
        "unobfuscatedPhoneInfo": {
          "type": "string",
          "description": "Output only. Unobfuscated phone_info.",
          "readOnly": true
        }
      },
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account.",
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1TotpInfo": {
      "type": "object",
      "description": "Information about TOTP MFA.",
      "id": "GoogleCloudIdentitytoolkitV1TotpInfo",
      "properties": {}
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "description": "Response message for SignInWithIdp.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse",
      "properties": {
        "lastName": {
          "type": "string",
          "description": "The last name for the user's account at the IdP."
        },
        "oauthExpireIn": {
          "description": "The number of seconds until the OAuth access token from the IdP expires.",
          "format": "int32",
          "type": "integer"
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated Identity Platform user. Always present in the response."
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth access token from the IdP, if available."
        },
        "pendingToken": {
          "type": "string",
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user account's email address is verified."
        },
        "emailRecycled": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified.",
          "type": "boolean"
        },
        "nickName": {
          "type": "string",
          "description": "The nickname for the user's account at the IdP."
        },
        "rawUserInfo": {
          "type": "string",
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP."
        },
        "errorMessage": {
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`.",
          "type": "string"
        },
        "tenantId": {
          "description": "The value of the `tenant_id` field in the request.",
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "needEmail": {
          "type": "boolean"
        },
        "timeZone": {
          "description": "The time zone for the user's account at the IdP.",
          "type": "string"
        },
        "oauthRefreshToken": {
          "type": "string",
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`."
        },
        "language": {
          "description": "The language preference for the user's account at the IdP.",
          "type": "string"
        },
        "originalEmail": {
          "type": "string",
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled."
        },
        "firstName": {
          "type": "string",
          "description": "The first name for the user's account at the IdP."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the user's account at the IdP."
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP."
        },
        "screenName": {
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP.",
          "type": "string"
        },
        "photoUrl": {
          "description": "The URL of the user's profile picture at the IdP.",
          "type": "string"
        },
        "expiresIn": {
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64",
          "type": "string"
        },
        "verifiedProvider": {
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mfaInfo": {
          "type": "array",
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "oauthIdToken": {
          "description": "The OpenID Connect ID token from the IdP, if available.",
          "type": "string"
        },
        "federatedId": {
          "description": "The user's account ID at the IdP. Always present in the response.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response."
        },
        "needConfirmation": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email addresss is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled.",
          "type": "boolean"
        },
        "dateOfBirth": {
          "description": "The date of birth for the user's account at the IdP.",
          "type": "string"
        },
        "fullName": {
          "type": "string",
          "description": "The full name for the user's account at the IdP."
        },
        "email": {
          "description": "The email address of the user's account at the IdP.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "oauthTokenSecret": {
          "type": "string",
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider."
        },
        "isNewUser": {
          "description": "Whether or not a new Identity Platform account was created for the authenticated user.",
          "type": "boolean"
        },
        "inputEmail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IdpConfig": {
      "type": "object",
      "properties": {
        "secret": {
          "description": "OAuth2 client secret.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "True if allows the user to sign in with the provider."
        },
        "whitelistedAudiences": {
          "description": "Whitelisted client IDs for audience check.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "provider": {
          "enumDescriptions": [
            "",
            "Microsoft Live as identity provider.",
            "Google as identity provider.",
            "Facebook as identity provider.",
            "PayPal as identity provider.",
            "Twitter as identity provider.",
            "Yahoo as identity provider.",
            "AOL as identity provider.",
            "GitHub as identity provider.",
            "Google Play Games as identity provider.",
            "LinkedIn as identity provider.",
            "iOS Game Center as identity provider."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "MSLIVE",
            "GOOGLE",
            "FACEBOOK",
            "PAYPAL",
            "TWITTER",
            "YAHOO",
            "AOL",
            "GITHUB",
            "GOOGLE_PLAY_GAMES",
            "LINKEDIN",
            "IOS_GAME_CENTER"
          ],
          "description": "Name of the identity provider."
        },
        "clientId": {
          "description": "OAuth2 client ID.",
          "type": "string"
        },
        "experimentPercent": {
          "format": "int32",
          "description": "Percent of users who will be prompted/redirected federated login for this IdP",
          "type": "integer"
        }
      },
      "description": "Config of an identity provider.",
      "id": "GoogleCloudIdentitytoolkitV1IdpConfig"
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "description": "Request message for VerifyIosClient",
      "properties": {
        "appToken": {
          "type": "string",
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
        },
        "isSandbox": {
          "type": "boolean",
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment."
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest"
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest",
      "description": "Request message for ResetPassword.",
      "properties": {
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "email": {
          "description": "The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code.",
          "type": "string"
        },
        "oobCode": {
          "type": "string",
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method."
        },
        "oldPassword": {
          "type": "string",
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code."
        },
        "newPassword": {
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "properties": {
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number."
        }
      },
      "type": "object",
      "description": "Response message for SendVerificationCode."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest": {
      "type": "object",
      "description": "Request message for SignInWithEmailLink",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest",
      "properties": {
        "oobCode": {
          "type": "string",
          "description": "Required. The out-of-band code from the email link."
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the email address to the user represented by this ID token and enable sign-in with email link on the account for the future.",
          "type": "string"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "email": {
          "description": "Required. The email address the sign-in link was sent to. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse": {
      "properties": {
        "keys": {
          "description": "Public keys of the session cookie signer, formatted as [JSON Web Keys (JWK)](https://tools.ietf.org/html/rfc7517).",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey"
          },
          "type": "array"
        }
      },
      "description": "Response message for GetSessionCookiePublicKeys.",
      "id": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1MfaInfo": {
      "id": "GoogleCloudIdentitytoolkitV1MfaInfo",
      "description": "Multi-factor authentication related information.",
      "type": "object",
      "properties": {
        "enrollments": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array",
          "description": "The second factors the user has enrolled."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        },
        "kind": {
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse",
      "type": "object",
      "description": "Response message for SignInWithCustomToken."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "type": "object",
      "description": "Request message for SignInWithGameCenter",
      "properties": {
        "gamePlayerId": {
          "type": "string",
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid"
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "playerId": {
          "type": "string",
          "description": "Required. The user's Game Center player ID. Deprecated by Apple. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`."
        },
        "signature": {
          "type": "string",
          "description": "Required. The verification signature data generated by Apple."
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform account. If present, this request will link the Game Center player ID to the account represented by this ID token.",
          "type": "string"
        },
        "salt": {
          "type": "string",
          "description": "Required. A random string used to generate the given signature."
        },
        "publicKeyUrl": {
          "type": "string",
          "description": "Required. The URL to fetch the Apple public key in order to verify the given signature is signed by Apple."
        },
        "timestamp": {
          "format": "int64",
          "description": "Required. The time when the signature was created by Apple, in milliseconds since the epoch.",
          "type": "string"
        },
        "teamPlayerId": {
          "type": "string",
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid"
        },
        "displayName": {
          "description": "The user's Game Center display name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest"
    },
    "GoogleCloudIdentitytoolkitV1MfaFactor": {
      "properties": {
        "phoneInfo": {
          "type": "string",
          "description": "Phone number to receive OTP for MFA."
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1MfaFactor",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest",
      "type": "object",
      "description": "Request message for DeleteAccount.",
      "properties": {
        "tenantId": {
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant.",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64"
        },
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively."
        },
        "targetProjectId": {
[...]
