{
  "canonicalName": "Identity Toolkit",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/identity-platform",
  "version_module": true,
  "ownerName": "Google",
  "version": "v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterResponse",
      "description": "Response message for SignInWithGameCenter",
      "type": "object",
      "properties": {
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated user. Always present in the response."
        },
        "playerId": {
          "type": "string",
          "description": "The user's Game Center player ID. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`."
        },
        "gamePlayerId": {
          "type": "string",
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid"
        },
        "teamPlayerId": {
          "type": "string",
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        },
        "isNewUser": {
          "description": "Whether the logged in user was created by this request.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the authenticated user."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1OpenIdConnectKey": {
      "id": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey",
      "properties": {
        "use": {
          "type": "string",
          "description": "Key use."
        },
        "e": {
          "description": "Exponent for the RSA public key, it is represented as the base64url encoding of the value's big endian representation.",
          "type": "string"
        },
        "n": {
          "type": "string",
          "description": "Modulus for the RSA public key, it is represented as the base64url encoding of the value's big endian representation."
        },
        "kid": {
          "description": "Unique string to identify this key.",
          "type": "string"
        },
        "alg": {
          "type": "string",
          "description": "Signature algorithm."
        },
        "kty": {
          "type": "string",
          "description": "Key type."
        }
      },
      "description": "Represents a public key of the session cookie signer, formatted as a [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517).",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountRequest": {
      "description": "Request message for DeleteAccount.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant that the account belongs to, if applicable. Only require to be specified for authenticated requests bearing a Google OAuth 2.0 credential that specify local_id of an account that belongs to an Identity Platform tenant."
        },
        "localId": {
          "type": "string",
          "description": "The ID of user account to delete. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). Requests from users lacking the credential should pass an ID token instead."
        },
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to delete. Require to be specified for requests from end users that lack Google OAuth 2.0 credential. Authenticated requests bearing a Google OAuth2 credential with proper permissions may pass local_id to specify the account to delete alternatively."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64"
        },
        "targetProjectId": {
          "type": "string",
          "description": "The ID of the project which the account belongs to. Should only be specified in authenticated requests that specify local_id of an account."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeRequest": {
      "type": "object",
      "description": "Request message for GetOobCode.",
      "properties": {
        "idToken": {
          "type": "string",
          "description": "An ID token for the account. It is required for VERIFY_AND_CHANGE_EMAIL and VERIFY_EMAIL requests unless return_oob_link is set to true."
        },
        "continueUrl": {
          "type": "string",
          "description": "The Url to continue after user clicks the link sent in email. This is the url that will allow the web widget to handle the OOB code."
        },
        "dynamicLinkDomain": {
          "type": "string",
          "description": "In order to ensure that the url used can be easily opened up in iOS or android, we create a [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links). Most Identity Platform projects will only have one Dynamic Link domain enabled, and can leave this field blank. This field contains a specified Dynamic Link domain for projects that have multiple enabled."
        },
        "canHandleCodeInApp": {
          "description": "When set to true, the OOB code link will be be sent as a Universal Link or an Android App Link and will be opened by the corresponding app if installed. If not set, or set to false, the OOB code will be sent to the web widget first and then on continue will redirect to the app if installed.",
          "type": "boolean"
        },
        "returnOobLink": {
          "type": "boolean",
          "description": "Whether the confirmation link containing the OOB code should be returned in the response (no email is sent). Used when a developer wants to construct the email template and send it on their own. By default this is false; to specify this field, and to set it to true, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)"
        },
        "email": {
          "description": "The account's email address to send the OOB code to, and generally the email address of the account that needs to be updated. Required for PASSWORD_RESET, EMAIL_SIGNIN, and VERIFY_EMAIL. Only required for VERIFY_AND_CHANGE_EMAIL requests when return_oob_link is set to true. In this case, it is the original email of the user.",
          "type": "string"
        },
        "androidMinimumVersion": {
          "description": "If an associated android app can handle the OOB code, the minimum version of the app. If the version on the device is lower than this version then the user is taken to Google Play Store to upgrade the app.",
          "type": "string"
        },
        "captchaResp": {
          "type": "string",
          "description": "For a PASSWORD_RESET request, a reCaptcha response is required when the system detects possible abuse activity. In those cases, this is the response from the reCaptcha challenge used to verify the caller."
        },
        "iOSAppStoreId": {
          "description": "If an associated iOS app can handle the OOB code, the App Store id of this app. This will allow App Store to open to the correct app if the app is not yet installed.",
          "type": "string"
        },
        "clientType": {
          "description": "The client type: web, Android or iOS. Required when reCAPTCHA Enterprise protection is enabled.",
          "type": "string",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ]
        },
        "challenge": {
          "type": "string"
        },
        "targetProjectId": {
          "description": "The Project ID of the Identity Platform project which the account belongs to. To specify this field, it requires a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "newEmail": {
          "type": "string",
          "description": "The email address the account is being updated to. Required only for VERIFY_AND_CHANGE_EMAIL requests."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant the account belongs to."
        },
        "recaptchaVersion": {
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ]
        },
        "requestType": {
          "description": "Required. The type of out-of-band (OOB) code to send. Depending on this value, other fields in this request will be required and/or have different meanings. There are 4 different OOB codes that can be sent: * PASSWORD_RESET * EMAIL_SIGNIN * VERIFY_EMAIL * VERIFY_AND_CHANGE_EMAIL",
          "type": "string",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ],
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ]
        },
        "androidInstallApp": {
          "description": "If an associated android app can handle the OOB code, whether or not to install the android app on the device where the link is opened if the app is not already installed.",
          "type": "boolean"
        },
        "iOSBundleId": {
          "type": "string",
          "description": "If an associated iOS app can handle the OOB code, the iOS bundle id of this app. This will allow the correct app to open if it is already installed."
        },
        "androidPackageName": {
          "description": "If an associated android app can handle the OOB code, the Android package name of the android app that will handle the callback when this OOB code is used. This will allow the correct app to open if it is already installed, or allow Google Play Store to open to the correct app if it is not yet installed.",
          "type": "string"
        },
        "userIp": {
          "description": "The IP address of the caller. Required only for PASSWORD_RESET requests.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeRequest"
    },
    "GoogleCloudIdentitytoolkitV1UserInfo": {
      "description": "An Identity Platform account's information.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1UserInfo",
      "properties": {
        "passwordUpdatedAt": {
          "type": "number",
          "format": "double",
          "description": "The timestamp, in milliseconds from the epoch of 1970-01-01T00:00:00Z, when the account's password was last updated."
        },
        "rawPassword": {
          "description": "Input only. Plain text password used to update a account's password. This field is only ever used as input in a request. Identity Platform uses cryptographically secure hashing when managing passwords and will never store or transmit a user's password in plain text.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The account's phone number.",
          "type": "string"
        },
        "lastLoginAt": {
          "format": "int64",
          "description": "The last time, in milliseconds from epoch, this account was logged into.",
          "type": "string"
        },
        "passwordHash": {
          "format": "byte",
          "description": "The account's hashed password. Only accessible by requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "providerUserInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "description": "Information about the user as provided by various Identity Providers."
        },
        "screenName": {
          "description": "Output only. This account's screen name at Twitter or login name at GitHub.",
          "readOnly": true,
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "description": "The time, in milliseconds from epoch, when the account was created.",
          "type": "string"
        },
        "mfaInfo": {
          "description": "Information on which multi-factor authentication providers are enabled for this account.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        },
        "dateOfBirth": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The date of birth set for the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "emailLinkSignin": {
          "description": "Output only. Whether the account can authenticate with email link.",
          "readOnly": true,
          "type": "boolean"
        },
        "customAuth": {
          "description": "Output only. Whether this account has been authenticated using SignInWithCustomToken.",
          "type": "boolean",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "type": "string"
        },
        "localId": {
          "type": "string",
          "description": "Immutable. The unique ID of the account."
        },
        "timeZone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time zone preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "language": {
          "description": "Output only. The language preference of the account. This account attribute is not used by Identity Platform. It is available for informational purposes only.",
          "readOnly": true,
          "type": "string"
        },
        "emailVerified": {
          "description": "Whether the account's email address has been verified.",
          "type": "boolean"
        },
        "initialEmail": {
          "type": "string",
          "description": "The first email address associated with this account. The account's initial email cannot be changed once set and is used to recover access to this account if lost via the RECOVER_EMAIL flow in GetOobCode. Should match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec."
        },
        "photoUrl": {
          "type": "string",
          "description": "The URL of the account's profile photo. This account attribute is not used by Identity Platform. It is available for informational purposes only."
        },
        "lastRefreshAt": {
          "description": "Timestamp when an ID token was last minted for this account.",
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "The version of the account's password. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "type": "integer"
        },
        "validSince": {
          "description": "Oldest timestamp, in seconds since epoch, that an ID token should be considered valid. All ID tokens issued before this time are considered invalid.",
          "type": "string",
          "format": "int64"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the account is disabled. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper permissions."
        },
        "tenantId": {
          "description": "ID of the tenant this account belongs to. Only set if this account belongs to a tenant.",
          "type": "string"
        },
        "salt": {
          "type": "string",
          "description": "The account's password salt. Only accessible by requests bearing a Google OAuth2 credential with proper permissions.",
          "format": "byte"
        },
        "customAttributes": {
          "type": "string",
          "description": "Custom claims to be added to any ID tokens minted for the account. Should be at most 1,000 characters in length and in valid JSON format."
        },
        "email": {
          "description": "The account's email address. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse": {
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientResponse",
      "description": "Response message for VerifyIosClient.",
      "properties": {
        "suggestedTimeout": {
          "format": "int64",
          "description": "Suggested time that the client should wait in seconds for delivery of the push notification.",
          "type": "string"
        },
        "receipt": {
          "type": "string",
          "description": "Receipt of successful app token validation."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse": {
      "properties": {
        "sessionCookie": {
          "type": "string",
          "description": "The session cookie that has been created from the Identity Platform ID token specified in the request. It is in the form of a JSON Web Token (JWT). Always present."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1CreateSessionCookieResponse",
      "description": "Response message for CreateSessionCookie.",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo": {
      "type": "object",
      "properties": {
        "localId": {
          "description": "The corresponding user ID.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Detailed error message."
        },
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the errored item in the original local_ids field."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo",
      "description": "Error info for account failed to be deleted."
    },
    "GoogleCloudIdentitytoolkitV1MfaInfo": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1MfaInfo",
      "description": "Multi-factor authentication related information.",
      "properties": {
        "enrollments": {
          "type": "array",
          "description": "The second factors the user has enrolled.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          }
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1MfaEnrollment": {
      "description": "Information on which multi-factor authentication (MFA) providers are enabled for an account.",
      "properties": {
        "mfaEnrollmentId": {
          "description": "ID of this MFA option.",
          "type": "string"
        },
        "unobfuscatedPhoneInfo": {
          "description": "Output only. Unobfuscated phone_info.",
          "type": "string",
          "readOnly": true
        },
        "phoneInfo": {
          "type": "string",
          "description": "Normally this will show the phone number associated with this enrollment. In some situations, such as after a first factor sign in, it will only show the obfuscated version of the associated phone number."
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this mfa option e.g. \"corp cell phone\"."
        },
        "totpInfo": {
          "description": "Contains information specific to TOTP MFA.",
          "$ref": "GoogleCloudIdentitytoolkitV1TotpInfo"
        },
        "enrolledAt": {
          "format": "google-datetime",
          "description": "Timestamp when the account enrolled this second factor.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1MfaEnrollment",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1TotpInfo": {
      "id": "GoogleCloudIdentitytoolkitV1TotpInfo",
      "description": "Information about TOTP MFA.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1ProviderUserInfo": {
      "description": "Information about the user as provided by various Identity Providers.",
      "id": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
      "type": "object",
      "properties": {
        "photoUrl": {
          "description": "The user's profile photo URL at the Identity Provider.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name at the Identity Provider."
        },
        "screenName": {
          "description": "The user's screen_name at Twitter or login name at GitHub.",
          "type": "string"
        },
        "federatedId": {
          "type": "string",
          "description": "The user's identifier at the Identity Provider."
        },
        "email": {
          "type": "string",
          "description": "The user's email address at the Identity Provider."
        },
        "phoneNumber": {
          "description": "The user's phone number at the Identity Provider.",
          "type": "string"
        },
        "rawId": {
          "description": "The user's raw identifier directly returned from Identity Provider.",
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The ID of the Identity Provider."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse": {
      "properties": {
        "recaptchaStoken": {
          "type": "string"
        },
        "recaptchaSiteKey": {
          "description": "The reCAPTCHA v2 site key used to invoke the reCAPTCHA service. Always present.",
          "type": "string"
        },
        "producerProjectNumber": {
          "description": "The producer project number used to generate PIA tokens",
          "type": "string"
        },
        "kind": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetRecaptchaParamResponse",
      "description": "Response message for GetRecaptchaParam."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordResponse",
      "description": "Response message for SignInWithPassword.",
      "properties": {
        "profilePicture": {
          "type": "string",
          "description": "The user's profile picture stored in the account's attributes."
        },
        "email": {
          "description": "The email of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "registered": {
          "type": "boolean",
          "description": "Whether the email is for an existing account. Always true."
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name stored in the account's attributes."
        },
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "type": "string"
        },
        "oauthExpireIn": {
          "format": "int32",
          "type": "integer",
          "description": "The access token expiration time in seconds."
        },
        "oauthAuthorizationCode": {
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "mfaInfo": {
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array"
        },
        "oauthAccessToken": {
          "type": "string",
          "description": "The OAuth2 access token."
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse": {
      "description": "Response message for GetAccountInfo.",
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoResponse",
      "properties": {
        "kind": {
          "type": "string"
        },
        "users": {
          "description": "The information of specific user account(s) matching the parameters in the request.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest": {
      "type": "object",
      "properties": {
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string"
        },
        "targetProjectId": {
          "description": "The ID of the Google Cloud project that the account or the Identity Platform tenant specified by `tenant_id` belongs to. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the tenant that the account belongs to. Should only be specified by authenticated requests from a developer."
        },
        "idToken": {
          "type": "string",
          "description": "The Identity Platform ID token of the account to fetch. Require to be specified for requests from end users."
        },
        "email": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The email address of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        },
        "phoneNumber": {
          "items": {
            "type": "string"
          },
          "description": "The phone number of one or more accounts to fetch. Should only be specified by authenticated requests from a developer and should be in E.164 format, for example, +15555555555.",
          "type": "array"
        },
        "localId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ID of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "federatedUserId": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier"
          },
          "description": "The federated user identifier of one or more accounts to fetch. Should only be specified by authenticated requests bearing a Google OAuth 2.0 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "initialEmail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The initial email of one or more accounts to fetch. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. Should only be specified by authenticated requests from a developer."
        }
      },
      "description": "Request message for GetAccountInfo.",
      "id": "GoogleCloudIdentitytoolkitV1GetAccountInfoRequest"
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest": {
      "type": "object",
      "description": "Request message for SetAccountInfo.",
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoRequest",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user's new display name to be updated in the account's attributes. The length of the display name must be less than or equal to 256 characters."
        },
        "targetProjectId": {
          "type": "string",
          "description": "The project ID for the project that the account belongs to. Specifying this field requires Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). Requests from end users should pass an Identity Platform ID token instead."
        },
        "linkProviderUserInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo",
          "description": "The provider to be linked to the user's account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "deleteProvider": {
          "items": {
            "type": "string"
          },
          "description": "The Identity Providers to unlink from the user's account.",
          "type": "array"
        },
        "customAttributes": {
          "description": "JSON formatted custom attributes to be stored in the Identity Platform ID token. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "captchaResponse": {
          "type": "string",
          "description": "The response from reCaptcha challenge. This is required when the system detects possible abuse activities."
        },
        "oobCode": {
          "type": "string",
          "description": "The out-of-band code to be applied on the user's account. The following out-of-band code types are supported: * VERIFY_EMAIL * RECOVER_EMAIL * REVERT_SECOND_FACTOR_ADDITION * VERIFY_AND_CHANGE_EMAIL"
        },
        "password": {
          "description": "The user's new password to be updated in the account's attributes. The password must be at least 6 characters long.",
          "type": "string"
        },
        "captchaChallenge": {
          "type": "string"
        },
        "photoUrl": {
          "description": "The user's new photo URL for the account's profile photo to be updated in the account's attributes. The length of the URL must be less than or equal to 2048 characters.",
          "type": "string"
        },
        "provider": {
          "items": {
            "type": "string"
          },
          "description": "The Identity Providers that the account should be associated with.",
          "type": "array"
        },
        "phoneNumber": {
          "description": "The phone number to be updated in the account's attributes.",
          "type": "string"
        },
        "mfa": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaInfo",
          "description": "The multi-factor authentication related information to be set on the user's account. This will overwrite any previous multi-factor related information on the account. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp in milliseconds when the account was created.",
          "format": "int64"
        },
        "upgradeToFederatedLogin": {
          "description": "Whether the account should be restricted to only using federated login.",
          "type": "boolean"
        },
        "emailVerified": {
          "description": "Whether the user's email has been verified. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "validSince": {
          "description": "Specifies the minimum timestamp in seconds for an Identity Platform ID token to be considered valid.",
          "format": "int64",
          "type": "string"
        },
        "delegatedProjectNumber": {
          "format": "int64",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Whether or not to return an ID and refresh token. Should always be true.",
          "type": "boolean"
        },
        "email": {
          "type": "string",
          "description": "The user's new email to be updated in the account's attributes. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        },
        "deleteAttribute": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "User attribute name is not specified.",
              "User attribute key name is email.",
              "User attribute key name is displayName.",
              "User attribute key name is provider.",
              "User attribute key name is photoURL.",
              "User attribute key name is password.",
              "User attribute key name is rawUserInfo."
            ],
            "enum": [
              "USER_ATTRIBUTE_NAME_UNSPECIFIED",
              "EMAIL",
              "DISPLAY_NAME",
              "PROVIDER",
              "PHOTO_URL",
              "PASSWORD",
              "RAW_USER_INFO"
            ]
          },
          "type": "array",
          "description": "The account's attributes to be deleted."
        },
        "instanceId": {
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "A valid Identity Platform ID token. Required when attempting to change user-related information."
        },
        "disableUser": {
          "type": "boolean",
          "description": "If true, marks the account as disabled, meaning the user will no longer be able to sign-in."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the Identity Platform tenant that the account belongs to. Requests from end users should pass an Identity Platform ID token rather than setting this field."
        },
        "localId": {
          "type": "string",
          "description": "The ID of the user. Specifying this field requires a Google OAuth 2.0 credential with proper [permissions] (https://cloud.google.com/identity-platform/docs/access-control). For requests from end-users, an ID token should be passed instead."
        },
        "lastLoginAt": {
          "type": "string",
          "format": "int64",
          "description": "The timestamp in milliseconds when the account last logged in."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1DeleteAccountResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1DeleteAccountResponse",
      "description": "Response message for DeleteAccount."
    },
    "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest": {
      "description": "Request message for VerifyIosClient",
      "properties": {
        "isSandbox": {
          "description": "Whether the app token is in the iOS sandbox. If false, the app token is in the production environment.",
          "type": "boolean"
        },
        "appToken": {
          "type": "string",
          "description": "A device token that the iOS client gets after registering to APNs (Apple Push Notification service)."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1VerifyIosClientRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse": {
      "type": "object",
      "properties": {
        "localId": {
          "description": "The ID of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "email": {
          "description": "The email the user signed in with. Always present in the response.",
          "type": "string"
        },
        "idToken": {
          "description": "An Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor check.",
          "type": "string"
        },
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the ID token expires."
        },
        "mfaInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "type": "array",
          "description": "Info on which multi-factor authentication providers are enabled. Present if the user needs to complete the sign-in using multi-factor authentication."
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkResponse",
      "description": "Response message for SignInWithEmailLink."
    },
    "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier": {
      "id": "GoogleCloudIdentitytoolkitV1FederatedUserIdentifier",
      "type": "object",
      "description": "Federated user identifier at an Identity Provider.",
      "properties": {
        "rawId": {
          "type": "string",
          "description": "The user ID of the account at the third-party Identity Provider specified by `provider_id`."
        },
        "providerId": {
          "type": "string",
          "description": "The ID of supported identity providers. This should be a provider ID enabled for sign-in, which is either from the list of [default supported IdPs](https://cloud.google.com/identity-platform/docs/reference/rest/v2/defaultSupportedIdps/list), or of the format `oidc.*` or `saml.*`. Some examples are `google.com`, `facebook.com`, `oidc.testapp`, and `saml.testapp`."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest": {
      "properties": {
        "samlAppEntityId": {
          "type": "string",
          "description": "SAML app entity id specified in Google Admin Console for each app. If developers want to redirect to a third-party app rather than a G Suite app, they'll probably they need this. When it's used, we'll return a RelayState. This includes a SAMLRequest, which can be used to trigger a SP-initiated SAML flow to redirect to the real app."
        },
        "rpId": {
          "type": "string",
          "description": "Relying Party identifier, which is the audience of issued SAMLResponse."
        },
        "idToken": {
          "description": "The Identity Platform ID token. It will be verified and then converted to a new SAMLResponse.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for IssueSamlResponse.",
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest": {
      "properties": {
        "temporaryProof": {
          "type": "string",
          "description": "A proof of the phone number verification, provided from a previous signInWithPhoneNumber request. If this is passed, the caller must also pass in the phone_number field the phone number that was verified in the previous request."
        },
        "sessionInfo": {
          "type": "string",
          "description": "Encrypted session information from the response of sendVerificationCode. In the case of authenticating with an SMS code this must be specified, but in the case of using a temporary proof it can be unspecified."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project.",
          "type": "string"
        },
        "code": {
          "description": "User-entered verification code from an SMS sent to the user's phone.",
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "Operation is not specified.",
            "Verify operation is to sign up/sign in.",
            "Verify operation is to reauth.",
            "Verify operation is to update.",
            "Verify operation is to link."
          ],
          "enum": [
            "VERIFY_OP_UNSPECIFIED",
            "SIGN_UP_OR_IN",
            "REAUTH",
            "UPDATE",
            "LINK"
          ],
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the phone number to the user represented by this ID token if the phone number is not in use, or will reauthenticate the user if the phone number is already linked to the user."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The user's phone number to sign in with. This is necessary in the case of uing a temporary proof, in which case it must match the phone number that was authenticated in the request that generated the temporary proof. This field is ignored if a session info is passed."
        },
        "verificationProof": {
          "description": "Do not use.",
          "type": "string"
        }
      },
      "description": "Request message for SignInWithPhoneNumber.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberRequest",
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SqlExpression": {
      "type": "object",
      "description": "Query conditions used to filter results.",
      "id": "GoogleCloudIdentitytoolkitV1SqlExpression",
      "properties": {
        "email": {
          "type": "string",
          "description": "A case insensitive string that the account's email should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
        },
        "userId": {
          "description": "A string that the account's local ID should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression If more than one is specified, only the first (in that order) will be applied.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "A string that the account's phone number should match. Only one of `email`, `phone_number`, or `user_id` should be specified in a SqlExpression. If more than one is specified, only the first (in that order) will be applied."
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetOobCodeResponse": {
      "properties": {
        "email": {
          "type": "string",
          "description": "If return_oob_link is false in the request, the email address the verification was sent to."
        },
        "oobLink": {
          "type": "string",
          "description": "If return_oob_link is true in the request, the OOB link to be sent to the user. This returns the constructed link including [Firebase Dynamic Link](https://firebase.google.com/docs/dynamic-links) related parameters."
        },
        "oobCode": {
          "type": "string",
          "description": "If return_oob_link is true in the request, the OOB code to send."
        },
        "kind": {
          "type": "string"
        }
      },
      "description": "Response message for GetOobCode.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1GetOobCodeResponse"
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest": {
      "type": "object",
      "properties": {
        "safetyNetToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. A SafetyNet Token can be generated via the [SafetyNet Android Attestation API](https://developer.android.com/training/safetynet/attestation.html), with the Base64 encoding of the `phone_number` field as the nonce."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to send the verification code to in E.164 format."
        },
        "tenantId": {
          "type": "string",
          "description": "Tenant ID of the Identity Platform tenant the user is signing in to."
        },
        "playIntegrityToken": {
          "type": "string",
          "description": "Android only. Used to assert application identity in place of a recaptcha token (and safety_net_token). At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, , or `play_integrity_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. A Play Integrity Token can be generated via the [PlayIntegrity API](https://developer.android.com/google/play/integrity) with applying SHA256 to the `phone_number` field as the nonce."
        },
        "recaptchaToken": {
          "type": "string",
          "description": "Recaptcha token for app verification. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. The recaptcha should be generated by calling getRecaptchaParams and the recaptcha token will be generated on user completion of the recaptcha challenge."
        },
        "iosSecret": {
          "type": "string",
          "description": "Secret delivered to iOS app as a push notification. Should be passed with an `ios_receipt` as well as the `x-ios-bundle-identifier` header."
        },
        "autoRetrievalInfo": {
          "description": "Android only. Used by Google Play Services to identify the app for auto-retrieval.",
          "$ref": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo"
        },
        "iosReceipt": {
          "type": "string",
          "description": "Receipt of successful iOS app token validation. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator. This should come from the response of verifyIosClient. If present, the caller should also provide the `ios_secret`, as well as a bundle ID in the `x-ios-bundle-identifier` header, which must match the bundle ID from the verifyIosClient request."
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeRequest",
      "description": "Request message for SendVerificationCode. At least one of (`ios_receipt` and `ios_secret`), `recaptcha_token`, or `safety_net_token` must be specified to verify the verification code is being sent on behalf of a real app and not an emulator."
    },
    "GoogleCloudIdentitytoolkitV1ErrorInfo": {
      "type": "object",
      "properties": {
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the item, range is [0, request.size - 1]"
        },
        "message": {
          "description": "Detailed error message",
          "type": "string"
        }
      },
      "description": "Error information explaining why an account cannot be uploaded. batch upload.",
      "id": "GoogleCloudIdentitytoolkitV1ErrorInfo"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64"
        },
        "instanceId": {
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Required. The custom Auth token asserted by the developer. The token should be a [JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519) that includes the claims listed in the [API reference](https://cloud.google.com/identity-platform/docs/reference/rest/client/) under the \"Custom Token Claims\" section."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to. If present, the ID should match the tenant_id in the token.",
          "type": "string"
        },
        "returnSecureToken": {
          "description": "Should always be true.",
          "type": "boolean"
        }
      },
      "description": "Request message for SignInWithCustomToken.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenRequest"
    },
    "GoogleCloudIdentitytoolkitV1IdpConfig": {
      "id": "GoogleCloudIdentitytoolkitV1IdpConfig",
      "type": "object",
      "description": "Config of an identity provider.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "OAuth2 client ID."
        },
        "secret": {
          "type": "string",
          "description": "OAuth2 client secret."
        },
        "enabled": {
          "description": "True if allows the user to sign in with the provider.",
          "type": "boolean"
        },
        "experimentPercent": {
          "format": "int32",
          "description": "Percent of users who will be prompted/redirected federated login for this IdP",
          "type": "integer"
        },
        "whitelistedAudiences": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Whitelisted client IDs for audience check."
        },
        "provider": {
          "type": "string",
          "description": "Name of the identity provider.",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "MSLIVE",
            "GOOGLE",
            "FACEBOOK",
            "PAYPAL",
            "TWITTER",
            "YAHOO",
            "AOL",
            "GITHUB",
            "GOOGLE_PLAY_GAMES",
            "LINKEDIN",
            "IOS_GAME_CENTER"
          ],
          "enumDescriptions": [
            "",
            "Microsoft Live as identity provider.",
            "Google as identity provider.",
            "Facebook as identity provider.",
            "PayPal as identity provider.",
            "Twitter as identity provider.",
            "Yahoo as identity provider.",
            "AOL as identity provider.",
            "GitHub as identity provider.",
            "Google Play Games as identity provider.",
            "LinkedIn as identity provider.",
            "iOS Game Center as identity provider."
          ]
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse": {
      "description": "Response message for QueryUserInfo.",
      "type": "object",
      "properties": {
        "userInfo": {
          "description": "If `return_user_info` in the request is true, this is the accounts matching the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          }
        },
        "recordsCount": {
          "description": "If `return_user_info` in the request is true, this is the number of returned accounts in this message. Otherwise, this is the total number of accounts matching the query.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1QueryUserInfoResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpRequest",
      "type": "object",
      "properties": {
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64"
        },
        "pendingIdToken": {
          "type": "string"
        },
        "postBody": {
          "description": "If the user is signing in with an authorization response obtained via a previous CreateAuthUri authorization request, this is the body of the HTTP POST callback from the IdP, if present. Otherwise, if the user is signing in with a manually provided IdP credential, this should be a URL-encoded form that contains the credential (e.g. an ID token or access token for OAuth 2.0 IdPs) and the provider ID of the IdP that issued the credential. For example, if the user is signing in to the Google provider using a Google ID token, this should be set to `id_token=[GOOGLE_ID_TOKEN]&providerId=google.com`, where `[GOOGLE_ID_TOKEN]` should be replaced with the Google ID token. If the user is signing in to the Facebook provider using a Facebook authentication token, this should be set to `id_token=[FACEBOOK_AUTHENTICATION_TOKEN]&providerId=facebook.com&nonce= [NONCE]`, where `[FACEBOOK_AUTHENTICATION_TOKEN]` should be replaced with the Facebook authentication token. Nonce is required for validating the token. The request will fail if no nonce is provided. If the user is signing in to the Facebook provider using a Facebook access token, this should be set to `access_token=[FACEBOOK_ACCESS_TOKEN]&providerId=facebook.com`, where `[FACEBOOK_ACCESS_TOKEN]` should be replaced with the Facebook access token. If the user is signing in to the Twitter provider using a Twitter OAuth 1.0 credential, this should be set to `access_token=[TWITTER_ACCESS_TOKEN]&oauth_token_secret=[TWITTER_TOKEN_SECRET]&providerId=twitter.com`, where `[TWITTER_ACCESS_TOKEN]` and `[TWITTER_TOKEN_SECRET]` should be replaced with the Twitter OAuth access token and Twitter OAuth token secret respectively.",
          "type": "string"
        },
        "pendingToken": {
          "description": "An opaque string from a previous SignInWithIdp response. If set, it can be used to repeat the sign-in operation from the previous SignInWithIdp operation. This may be present if the user needs to confirm their account information as part of a previous federated login attempt, or perform account linking.",
          "type": "string"
        },
        "returnIdpCredential": {
          "type": "boolean",
          "description": "Whether or not to return OAuth credentials from the IdP on the following errors: `FEDERATED_USER_ID_ALREADY_LINKED` and `EMAIL_EXISTS`."
        },
        "returnRefreshToken": {
          "description": "Whether or not to return the OAuth refresh token from the IdP, if available.",
          "type": "boolean"
        },
        "sessionId": {
          "type": "string",
          "description": "The session ID returned from a previous CreateAuthUri call. This field is verified against that session ID to prevent session fixation attacks. Required if the user is signing in with an authorization response from a previous CreateAuthUri authorization request."
        },
        "idToken": {
          "type": "string",
          "description": "A valid Identity Platform ID token. If passed, the user's account at the IdP will be linked to the account represented by this ID token."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "autoCreate": {
          "type": "boolean"
        },
        "requestUri": {
          "description": "Required. The URL to which the IdP redirects the user back. This can be set to `http://localhost` if the user is signing in with a manually provided IdP credential.",
          "type": "string"
        }
      },
      "description": "Request message for SignInWithIdp."
    },
    "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse": {
      "properties": {
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the authenticated user was created by this request."
        },
        "kind": {
          "type": "string"
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        },
        "refreshToken": {
          "description": "An Identity Platform refresh token for the authenticated user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithCustomTokenResponse",
      "description": "Response message for SignInWithCustomToken."
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountResponse": {
      "description": "Response message for UploadAccount.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1UploadAccountResponse",
      "properties": {
        "error": {
          "description": "Detailed error info for accounts that cannot be uploaded.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ErrorInfo"
          }
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse": {
      "type": "object",
      "description": "Response message to BatchDeleteAccounts.",
      "properties": {
        "errors": {
          "description": "Detailed error info for accounts that cannot be deleted.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1BatchDeleteErrorInfo"
          }
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1BatchDeleteAccountsResponse"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest": {
      "description": "Request message for SignInWithGameCenter",
      "type": "object",
      "properties": {
        "publicKeyUrl": {
          "type": "string",
          "description": "Required. The URL to fetch the Apple public key in order to verify the given signature is signed by Apple."
        },
        "tenantId": {
          "description": "The ID of the Identity Platform tenant the user is signing in to.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Required. The time when the signature was created by Apple, in milliseconds since the epoch.",
          "format": "int64"
        },
        "salt": {
          "description": "Required. A random string used to generate the given signature.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The user's Game Center display name."
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If present, this request will link the Game Center player ID to the account represented by this ID token."
        },
        "gamePlayerId": {
          "description": "The user's Game Center game player ID. A unique identifier for a player of the game. https://developer.apple.com/documentation/gamekit/gkplayer/3113960-gameplayerid",
          "type": "string"
        },
        "playerId": {
          "description": "Required. The user's Game Center player ID. Deprecated by Apple. Pass `playerID` along with `gamePlayerID` and `teamPlayerID` to initiate the migration of a user's Game Center player ID to `gamePlayerID`.",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "description": "Required. The verification signature data generated by Apple."
        },
        "teamPlayerId": {
          "description": "The user's Game Center team player ID. A unique identifier for a player of all the games that you distribute using your developer account. https://developer.apple.com/documentation/gamekit/gkplayer/3174857-teamplayerid",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1SignInWithGameCenterRequest"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest": {
      "properties": {
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform instance in the project."
        },
        "pendingIdToken": {
          "type": "string"
        },
        "clientType": {
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ],
          "description": "The client type, web, android or ios. Required when reCAPTCHA Enterprise is enabled.",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Required. The password the user provides to sign in to the account."
        },
        "email": {
          "description": "Required. The email the user is signing in with. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production.",
          "type": "string"
        },
        "returnSecureToken": {
          "type": "boolean",
          "description": "Should always be true."
        },
        "captchaChallenge": {
          "type": "string"
        },
        "captchaResponse": {
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for risk assessment. Required when reCAPTCHA Enterprise is enabled.",
          "type": "string"
        },
        "recaptchaVersion": {
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "idToken": {
          "type": "string"
        },
        "instanceId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPasswordRequest",
      "description": "Request message for SignInWithPassword."
    },
    "GoogleCloudIdentitytoolkitV1SignUpRequest": {
      "id": "GoogleCloudIdentitytoolkitV1SignUpRequest",
      "description": "Request message for SignUp.",
      "properties": {
        "targetProjectId": {
          "type": "string",
          "description": "The project ID of the project which the user should belong to. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control). If this is not set, the target project is inferred from the scope associated to the Bearer access token."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the user to create. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "clientType": {
          "type": "string",
          "enum": [
            "CLIENT_TYPE_UNSPECIFIED",
            "CLIENT_TYPE_WEB",
            "CLIENT_TYPE_ANDROID",
            "CLIENT_TYPE_IOS"
          ],
          "description": "The client type: web, Android or iOS. Required when enabling reCAPTCHA enterprise protection.",
          "enumDescriptions": [
            "Client type is not specified.",
            "Client type is web.",
            "Client type is android.",
            "Client type is ios."
          ]
        },
        "idToken": {
          "description": "A valid ID token for an Identity Platform user. If set, this request will link the authentication credential to the user represented by this ID token. For a non-admin request, both the `email` and `password` fields must be set. For an admin request, `local_id` must not be set.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email to assign to the created user. The length of the email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production. An anonymous user will be created if not provided."
        },
        "mfaInfo": {
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaFactor"
          },
          "description": "The multi-factor authentication providers for the user to create.",
          "type": "array"
        },
        "displayName": {
          "description": "The display name of the user to be created.",
          "type": "string"
        },
        "recaptchaVersion": {
          "type": "string",
          "enumDescriptions": [
            "The reCAPTCHA version is not specified.",
            "The reCAPTCHA enterprise."
          ],
          "description": "The reCAPTCHA version of the reCAPTCHA token in the captcha_response.",
          "enum": [
            "RECAPTCHA_VERSION_UNSPECIFIED",
            "RECAPTCHA_ENTERPRISE"
          ]
        },
        "captchaResponse": {
          "type": "string",
          "description": "The reCAPTCHA token provided by the reCAPTCHA client-side integration. reCAPTCHA Enterprise uses it for assessment. Required when reCAPTCHA enterprise is enabled."
        },
        "captchaChallenge": {
          "type": "string"
        },
        "disabled": {
          "description": "Whether the user will be disabled upon creation. Disabled accounts are inaccessible except for requests bearing a Google OAuth2 credential with proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "boolean"
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user's email is verified. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control)."
        },
        "localId": {
          "description": "The ID of the user to create. The ID must be unique within the project that the user is being created under. Specifying this field requires a Google OAuth 2.0 credential with the proper [permissions](https://cloud.google.com/identity-platform/docs/access-control).",
          "type": "string"
        },
        "instanceId": {
          "type": "string"
        },
        "photoUrl": {
          "description": "The profile photo url of the user to create.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant to create a user under. If not set, the user will be created under the default Identity Platform project."
        },
        "password": {
          "description": "The password to assign to the created user. The password must be be at least 6 characters long. If set, the `email` field must also be set.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse": {
      "description": "Response message for SignInWithIdp.",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithIdpResponse",
      "properties": {
        "fullName": {
          "type": "string",
          "description": "The full name for the user's account at the IdP."
        },
        "screenName": {
          "description": "The screen name for the user's account at the Twitter IdP or the login name for the user's account at the GitHub IdP.",
          "type": "string"
        },
        "needConfirmation": {
          "description": "Whether or not there is an existing Identity Platform user account with the same email address as the current account signed in at the IdP, and the account's email addresss is not verified at the IdP. The user will need to sign in to the existing Identity Platform account and then link the current credential from the IdP to it. Only present if the \"One account per email address\" setting is enabled.",
          "type": "boolean"
        },
        "oauthExpireIn": {
          "description": "The number of seconds until the OAuth access token from the IdP expires.",
          "format": "int32",
          "type": "integer"
        },
        "dateOfBirth": {
          "description": "The date of birth for the user's account at the IdP.",
          "type": "string"
        },
        "originalEmail": {
          "description": "The main (top-level) email address of the user's Identity Platform account, if different from the email address at the IdP. Only present if the \"One account per email address\" setting is enabled.",
          "type": "string"
        },
        "oauthIdToken": {
          "description": "The OpenID Connect ID token from the IdP, if available.",
          "type": "string"
        },
        "verifiedProvider": {
          "items": {
            "type": "string"
          },
          "description": "A list of provider IDs that the user can sign in to in order to resolve a `need_confirmation` error. Only present if `need_confirmation` is set to `true`.",
          "type": "array"
        },
        "tenantId": {
          "type": "string",
          "description": "The value of the `tenant_id` field in the request."
        },
        "photoUrl": {
          "description": "The URL of the user's profile picture at the IdP.",
          "type": "string"
        },
        "timeZone": {
          "description": "The time zone for the user's account at the IdP.",
          "type": "string"
        },
        "oauthRefreshToken": {
          "description": "The OAuth 2.0 refresh token from the IdP, if available and `return_refresh_token` is set to `true`.",
          "type": "string"
        },
        "inputEmail": {
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message returned if `return_idp_credential` is set to `true` and either the `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS` error is encountered. This field's value is either `FEDERATED_USER_ID_ALREADY_LINKED` or `EMAIL_EXISTS`."
        },
        "pendingToken": {
          "description": "An opaque string that can be used as a credential from the IdP the user is signing into. The pending token obtained here can be set in a future SignInWithIdp request to sign the same user in with the IdP again.",
          "type": "string"
        },
        "rawUserInfo": {
          "type": "string",
          "description": "The stringified JSON response containing all the data corresponding to the user's account at the IdP."
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the authenticated user."
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the authenticated user."
        },
        "oauthTokenSecret": {
          "description": "The OAuth 1.0 token secret from the IdP, if available. Only present for the Twitter provider.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address of the user's account at the IdP."
        },
        "mfaPendingCredential": {
          "description": "An opaque string that functions as proof that the user has successfully passed the first factor authentication.",
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "providerId": {
          "type": "string",
          "description": "The provider ID of the IdP that the user is signing in to. Always present in the response."
        },
        "emailRecycled": {
          "type": "boolean",
          "description": "Whether or not there is an existing Identity Platform user account with the same email address but linked to a different account at the same IdP. Only present if the \"One account per email address\" setting is enabled and the email address at the IdP is verified."
        },
        "oauthAuthorizationCode": {
          "type": "string",
          "description": "The OAuth 2.0 authorization code, if available. Only present for the Google provider."
        },
        "federatedId": {
          "description": "The user's account ID at the IdP. Always present in the response.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the user's account at the IdP."
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds until the Identity Platform ID token expires.",
          "format": "int64"
        },
        "isNewUser": {
          "description": "Whether or not a new Identity Platform account was created for the authenticated user.",
          "type": "boolean"
        },
        "firstName": {
          "type": "string",
          "description": "The first name for the user's account at the IdP."
        },
        "needEmail": {
          "type": "boolean"
        },
        "context": {
          "type": "string",
          "description": "The opaque string set in CreateAuthUri that is used to maintain contextual information between the authentication request and the callback from the IdP."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the user account's email address is verified."
        },
        "mfaInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
          },
          "description": "Info on which multi-factor authentication providers are enabled for the account. Present if the user needs to complete the sign-in using multi-factor authentication."
        },
        "oauthAccessToken": {
          "description": "The OAuth access token from the IdP, if available.",
          "type": "string"
        },
        "nickName": {
          "type": "string",
          "description": "The nickname for the user's account at the IdP."
        },
        "lastName": {
          "type": "string",
          "description": "The last name for the user's account at the IdP."
        },
        "localId": {
          "type": "string",
          "description": "The ID of the authenticated Identity Platform user. Always present in the response."
        },
        "language": {
          "description": "The language preference for the user's account at the IdP.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithEmailLinkRequest",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address the sign-in link was sent to. The length of email should be less than 256 characters and in the format of `name@domain.tld`. The email should also match the [RFC 822](https://tools.ietf.org/html/rfc822) addr-spec production."
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the user is signing in to. If not set, the user will sign in to the default Identity Platform project."
        },
        "idToken": {
          "type": "string",
          "description": "A valid ID token for an Identity Platform account. If passed, this request will link the email address to the user represented by this ID token and enable sign-in with email link on the account for the future."
        },
        "oobCode": {
          "description": "Required. The out-of-band code from the email link.",
          "type": "string"
        }
      },
      "description": "Request message for SignInWithEmailLink"
    },
    "GoogleCloudIdentitytoolkitV1Argon2Parameters": {
      "type": "object",
      "properties": {
        "hashType": {
          "enumDescriptions": [
            "The hash type is not specified.",
            "An Argon2 variant, Argon2d.",
            "An Argon2 variant, Argonid. Recommended.",
            "An Argon2 variant, Argon2i."
          ],
          "type": "string",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "ARGON2_D",
            "ARGON2_ID",
            "ARGON2_I"
          ],
          "description": "Required. Must not be HASH_TYPE_UNSPECIFIED."
        },
        "parallelism": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The degree of parallelism, also called threads or lanes. Minimum is 1, maximum is 16."
        },
        "version": {
          "type": "string",
          "description": "The version of the Argon2 algorithm. This defaults to VERSION_13 if not specified.",
          "enum": [
            "VERSION_UNSPECIFIED",
            "VERSION_10",
            "VERSION_13"
          ],
          "enumDescriptions": [
            "The version is not specified.",
            "The previous version, 0x10.",
            "The current version, 0x13. The default value for version."
          ]
        },
        "hashLengthBytes": {
          "format": "int32",
          "description": "Required. The desired hash length in bytes. Minimum is 4 and maximum is 1024.",
          "type": "integer"
        },
        "iterations": {
          "format": "int32",
          "description": "Required. The number of iterations to perform. Minimum is 1, maximum is 16.",
          "type": "integer"
        },
        "associatedData": {
          "format": "byte",
          "description": "The additional associated data, if provided, is appended to the hash value to provide an additional layer of security. A base64-encoded string if specified via JSON.",
          "type": "string"
        },
        "memoryCostKib": {
          "description": "Required. The memory cost in kibibytes. Maximum is 32768.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1Argon2Parameters",
      "description": "The parameters for Argon2 hashing algorithm."
    },
    "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse": {
      "description": "Response message for SendVerificationCode.",
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SendVerificationCodeResponse",
      "properties": {
        "sessionInfo": {
          "description": "Encrypted session information. This can be used in signInWithPhoneNumber to authenticate the phone number.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignInWithPhoneNumberResponse",
      "description": "Response message for SignInWithPhoneNumber.",
      "properties": {
        "phoneNumber": {
          "description": "Phone number of the authenticated user. Always present in the response.",
          "type": "string"
        },
        "verificationProofExpiresIn": {
          "type": "string",
          "format": "int64",
          "description": "Do not use."
        },
        "idToken": {
          "description": "Identity Platform ID token for the authenticated user.",
          "type": "string"
        },
        "verificationProof": {
          "type": "string",
          "description": "Do not use."
        },
        "temporaryProofExpiresIn": {
          "description": "The number of seconds until the temporary proof expires.",
          "type": "string",
          "format": "int64"
        },
        "refreshToken": {
          "type": "string",
          "description": "Refresh token for the authenticated user."
        },
        "expiresIn": {
          "format": "int64",
          "type": "string",
          "description": "The number of seconds until the ID token expires."
        },
        "isNewUser": {
          "description": "Whether the authenticated user was created by this request.",
          "type": "boolean"
        },
        "temporaryProof": {
          "description": "A proof of the phone number verification, provided if a phone authentication is successful but the user operation fails. This happens when the request tries to link a phone number to a user with an ID token or reauthenticate with an ID token but the phone number is linked to a different user.",
          "type": "string"
        },
        "localId": {
          "description": "The id of the authenticated user. Present in the case of a successful authentication. In the case when the phone could be verified but the account operation could not be performed, a temporary proof will be returned instead.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordRequest": {
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordRequest",
      "properties": {
        "newPassword": {
          "type": "string",
          "description": "The new password to be set for this account. Specifying this field will result in a change to the account and consume the out-of-band code if one was specified and it was of type PASSWORD_RESET."
        },
        "email": {
          "type": "string",
          "description": "The email of the account to be modified. Specify this and the old password in order to change an account's password without using an out-of-band code."
        },
        "tenantId": {
          "description": "The tenant ID of the Identity Platform tenant the account belongs to.",
          "type": "string"
        },
        "oobCode": {
          "description": "An out-of-band (OOB) code generated by GetOobCode request. Specify only this parameter (or only this parameter and a tenant ID) to get the out-of-band code's type in the response without mutating the account's state. Only a PASSWORD_RESET out-of-band code can be consumed via this method.",
          "type": "string"
        },
        "oldPassword": {
          "type": "string",
          "description": "The current password of the account to be modified. Specify this and email to change an account's password without using an out-of-band code."
        }
      },
      "type": "object",
      "description": "Request message for ResetPassword."
    },
    "GoogleCloudIdentitytoolkitV1ResetPasswordResponse": {
      "type": "object",
      "description": "Response message for ResetPassword.",
      "id": "GoogleCloudIdentitytoolkitV1ResetPasswordResponse",
      "properties": {
        "kind": {
          "type": "string"
        },
        "mfaInfo": {
          "$ref": "GoogleCloudIdentitytoolkitV1MfaEnrollment"
        },
        "email": {
          "description": "The email associated with the out-of-band code that was used.",
          "type": "string"
        },
        "requestType": {
          "enum": [
            "OOB_REQ_TYPE_UNSPECIFIED",
            "PASSWORD_RESET",
            "OLD_EMAIL_AGREE",
            "NEW_EMAIL_ACCEPT",
            "VERIFY_EMAIL",
            "RECOVER_EMAIL",
            "EMAIL_SIGNIN",
            "VERIFY_AND_CHANGE_EMAIL",
            "REVERT_SECOND_FACTOR_ADDITION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Oob code type is not specified.",
            "reset password",
            "",
            "",
            "verify the account's email address by sending an email",
            "",
            "sign in with email only",
            "This flow sends an email to the specified new email, and when applied by clicking the link in the email changes the account's email to the new email. Used when the account must have verified email at all times, such as MFA accounts.",
            ""
          ]
        },
        "newEmail": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse": {
      "id": "GoogleCloudIdentitytoolkitV1GetSessionCookiePublicKeysResponse",
      "type": "object",
      "properties": {
        "keys": {
          "description": "Public keys of the session cookie signer, formatted as [JSON Web Keys (JWK)](https://tools.ietf.org/html/rfc7517).",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1OpenIdConnectKey"
          },
          "type": "array"
        }
      },
      "description": "Response message for GetSessionCookiePublicKeys."
    },
    "GoogleCloudIdentitytoolkitV1DownloadAccountResponse": {
      "type": "object",
      "description": "Response message for DownloadAccount.",
      "id": "GoogleCloudIdentitytoolkitV1DownloadAccountResponse",
      "properties": {
        "users": {
          "description": "All accounts belonging to the project/tenant limited by max_results in the request.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1UserInfo"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there are more accounts to be downloaded, a token that can be passed back to DownloadAccount to get more accounts. Otherwise, this is blank.",
          "type": "string"
        },
        "kind": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SetAccountInfoResponse",
      "properties": {
        "expiresIn": {
          "type": "string",
          "format": "int64",
          "description": "The number of seconds until the Identity Platform ID token expires."
        },
        "photoUrl": {
          "description": "The user's photo URL for the account's profile photo.",
          "type": "string"
        },
        "localId": {
          "description": "The ID of the authenticated user.",
          "type": "string"
        },
        "passwordHash": {
          "description": "Deprecated. No actual password hash is currently returned.",
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The account's display name."
        },
        "email": {
          "type": "string",
          "description": "The account's email address."
        },
        "idToken": {
          "description": "An Identity Platform ID token for the account. This is used for legacy user sign up.",
          "type": "string"
        },
        "providerUserInfo": {
          "description": "The linked Identity Providers on the account.",
          "items": {
            "$ref": "GoogleCloudIdentitytoolkitV1ProviderUserInfo"
          },
          "type": "array"
        },
        "newEmail": {
          "type": "string",
          "description": "The new email that has been set on the user's account attributes."
        },
        "emailVerified": {
          "type": "boolean",
          "description": "Whether the account's email has been verified."
        },
        "refreshToken": {
          "type": "string",
          "description": "A refresh token for the account. This is used for legacy user sign up."
        }
      },
      "description": "Response message for SetAccountInfo"
    },
    "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo": {
      "properties": {
        "appSignatureHash": {
          "description": "The Android app's signature hash for Google Play Service's SMS Retriever API.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIdentitytoolkitV1AutoRetrievalInfo",
      "type": "object",
      "description": "The information required to auto-retrieve an SMS."
    },
    "GoogleCloudIdentitytoolkitV1SignUpResponse": {
      "type": "object",
      "id": "GoogleCloudIdentitytoolkitV1SignUpResponse",
      "properties": {
        "kind": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The created user's display name."
        },
        "localId": {
          "description": "The ID of the created user. Always present in the response.",
          "type": "string"
        },
        "idToken": {
          "type": "string",
          "description": "An Identity Platform ID token for the created user. This field is only set for non-admin requests."
        },
        "email": {
          "description": "The created user's email.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "An Identity Platform refresh token for the created user. This field is only set for non-admin requests."
        },
        "expiresIn": {
          "description": "The number of seconds until the ID token expires.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Response message for SignUp."
    },
    "GoogleCloudIdentitytoolkitV1EmailTemplate": {
      "id": "GoogleCloudIdentitytoolkitV1EmailTemplate",
      "description": "Email template",
      "properties": {
        "replyTo": {
          "type": "string",
          "description": "Reply-to address"
        },
        "subject": {
          "type": "string",
          "description": "Subject of the email"
        },
        "fromLocalPart": {
          "description": "Local part of From address",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "Email body is in plain text format.",
            "Email body is in HTML format."
          ],
          "type": "string",
          "enum": [
            "EMAIL_BODY_FORMAT_UNSPECIFIED",
            "PLAINTEXT",
            "HTML"
          ],
          "description": "Email body format"
        },
        "customized": {
          "type": "boolean",
          "description": "Whether the body or subject of the email is customized."
        },
        "from": {
          "type": "string",
          "description": "From address of the email"
        },
        "fromDisplayName": {
          "description": "From display name",
          "type": "string"
        },
        "body": {
          "description": "Email body",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the template is disabled. If true, a default template will be used."
        },
        "locale": {
          "description": "Value is in III language code format (e.g. \"zh-CN\", \"es\"). Both '-' and '_' separators are accepted.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse": {
      "id": "GoogleCloudIdentitytoolkitV1IssueSamlResponseResponse",
      "properties": {
        "relayState": {
          "type": "string",
          "description": "Generated RelayState."
        },
        "isNewUser": {
          "type": "boolean",
          "description": "Whether the logged in user was created by this request."
        },
        "samlResponse": {
          "type": "string",
          "description": "Signed SAMLResponse created for the Relying Party."
        },
        "lastName": {
          "description": "Last name of the user.",
          "type": "string"
        },
        "acsEndpoint": {
          "description": "The ACS endpoint which consumes the returned SAMLResponse.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email of the user."
        },
        "firstName": {
          "description": "First name of the user.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for IssueSamlResponse request."
    },
    "GoogleCloudIdentitytoolkitV1UploadAccountRequest": {
      "type": "object",
      "properties": {
        "cpuMemCost": {
          "description": "The CPU memory cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "format": "int32",
          "type": "integer"
        },
        "signerKey": {
          "type": "string",
          "description": "The signer key used to hash the password. Required for the following hashing functions: * SCRYPT, * HMAC_MD5, * HMAC_SHA1, * HMAC_SHA256, * HMAC_SHA512",
          "format": "byte"
        },
        "tenantId": {
          "type": "string",
          "description": "The ID of the Identity Platform tenant the account belongs to."
        },
        "parallelization": {
          "description": "The parallelization cost parameter to be used by the STANDARD_SCRYPT hashing function. This parameter, along with block_size and cpu_mem_cost help tune the resources needed to hash a password, and should be tuned as processor speeds and memory technologies advance.",
          "type": "integer",
          "format": "int32"
        },
        "hashAlgorithm": {
          "description": "Required. The hashing function used to hash the account passwords. Must be one of the following: * HMAC_SHA256 * HMAC_SHA1 * HMAC_MD5 * SCRYPT * PBKDF_SHA1 * MD5 * HMAC_SHA512 * SHA1 * BCRYPT * PBKDF2_SHA256 * SHA256 * SHA512 * STANDARD_SCRYPT * ARGON2",
          "type": "string"
        },
        "passwordHashOrder": {
          "description": "Password and salt order when verify password.",
          "enum": [
            "UNSPECIFIED_ORDER",
            "SALT_AND_PASSWORD",
            "PASSWORD_AND_SALT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The order is not specified.",
            "The order is salt first, and then password.",
            "The order is password first, and then salt."
          ]
        },
        "delegatedProjectNumber": {
          "type": "string",
          "format": "int64"
        },
        "dkLen": {
          "description": "The desired key length for the STANDARD_SCRYPT hashing function. Must be at least 1.",
          "format": "int32",
          "type": "integer"
        },
        "saltSeparator": {
          "format": "byte",
          "type": "string",
          "description": "One or more bytes to be inserted between the salt and plain text password. For stronger security, this should be a single non-printable character."
        },
        "sanityCheck": {
          "type": "boolean",
          "description": "If true, the service will do the following list of checks before an account is uploaded: * Duplicate emails * Duplicate federated IDs * Federated ID provider validation If the duplication exists within the list of accounts to be uploaded, it will prevent the entire list from being uploaded. If the email or federated ID is a duplicate of a user already within the project/tenant, the account will not be uploaded, but the rest of the accounts will be unaffected. If false, these checks will be skipped."
        },
[...]
