{
  "version_module": true,
  "ownerDomain": "google.com",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "canonicalName": "Integrations",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "name": "integrations",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaExecution": {
      "description": "The Execution resource contains detailed information of an individual integration execution.",
      "type": "object",
      "properties": {
        "responseParameters": {
          "type": "object",
          "description": "Event parameters returned as part of the response.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "integrationVersionState": {
          "enumDescriptions": [
            "Default.",
            "Draft.",
            "Active.",
            "Archived.",
            "Snapshot."
          ],
          "description": "Output only. State of the integration version",
          "readOnly": true,
          "enum": [
            "INTEGRATION_STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "cloudLoggingDetails": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudLoggingDetails",
          "description": "Cloud Logging details for the integration version"
        },
        "directSubExecutions": {
          "description": "Direct sub executions of the following Execution.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "type": "array"
        },
        "executionMethod": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Sync post.",
            "Async post.",
            "Async post with schedule time."
          ],
          "enum": [
            "EXECUTION_METHOD_UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE"
          ],
          "description": "The ways user posts this event."
        },
        "responseParams": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Event parameters come out as part of the response."
        },
        "requestParams": {
          "type": "array",
          "description": "Event parameters come in as part of the request.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "deprecated": true
        },
        "executionDetails": {
          "description": "Detailed info of this execution.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionDetails"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last modified time of the execution.",
          "format": "google-datetime"
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetails",
          "deprecated": true,
          "description": "The execution info about this event."
        },
        "triggerId": {
          "description": "The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks.",
          "type": "string"
        },
        "snapshotNumber": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. An increasing sequence that is set when a new snapshot is created"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Created time of the execution."
        },
        "requestParameters": {
          "description": "Event parameters come in as part of the request.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecution"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "description": "The request for scheduling an integration. Next available id: 10",
      "type": "object",
      "properties": {
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution."
        },
        "userGeneratedExecutionId": {
          "description": "Optional. This is a unique id provided by the method caller. If provided this will be used as the execution_id when a new execution info is created. This is a string representation of a UUID. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "scheduleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately."
        },
        "parameterEntries": {
          "deprecated": true,
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "parameters": {
          "deprecated": true,
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each integration execution."
        },
        "requestId": {
          "type": "string",
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "triggerId": {
          "type": "string",
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTaskExecutionDetails": {
      "description": "Contains the details of the execution of this task.",
      "properties": {
        "taskExecutionState": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole integration execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the integration execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when integration execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "enum": [
            "TASK_EXECUTION_STATE_UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELLED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ],
          "description": "The execution state of this task."
        },
        "taskAttemptStats": {
          "type": "array",
          "description": "Status for the current task execution attempt.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          }
        },
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "properties": {
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)"
        },
        "gcpProjectId": {
          "description": "User’s GCP project id the traffic is referring to.",
          "type": "string"
        },
        "gcpProjectNumber": {
          "type": "string",
          "description": "User’s GCP project number the traffic is referring to."
        },
        "location": {
          "type": "string",
          "description": "Location for the user's request."
        }
      },
      "description": "Represents external traffic type and id.",
      "type": "object"
    },
    "GoogleCloudConnectorsV1EventingConfigDeadLetterConfig": {
      "description": "Dead Letter configuration details provided by the user.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Optional. Project which has the topic given."
        },
        "topic": {
          "type": "string",
          "description": "Optional. Topic to push events which couldn't be processed."
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1EventingConfigDeadLetterConfig"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse",
      "description": "Response for cancelling an execution.",
      "properties": {
        "isCanceled": {
          "type": "boolean",
          "description": "True if cancellation performed successfully"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "description": "Mapped field is a pair of input field and output field.",
      "properties": {
        "inputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The input field being mapped from."
        },
        "outputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The output field being mapped to."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoMappedField"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex": {
      "properties": {
        "exclusive": {
          "type": "boolean",
          "description": "Whether the regex matcher is applied exclusively (if true, matching values will be rejected)."
        },
        "regex": {
          "type": "string",
          "description": "The regex applied to the input value(s)."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex",
      "description": "Rule used to validate strings.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "properties": {
        "preconditionLabel": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to precondition in the UI."
        },
        "taskExecutionStrategy": {
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "description": "The policy dictating the execution strategy of this task.",
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "nextTasksExecutionPolicy": {
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "type": "string"
        },
        "taskSpec": {
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this TaskConfig in the UI."
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "type": "string",
          "description": "If set, overrides the option configured in the Task implementation class.",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ]
        },
        "incomingEdgeCount": {
          "type": "integer",
          "description": "The number of edges leading into this TaskConfig.",
          "format": "int32"
        },
        "precondition": {
          "type": "string",
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task."
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this task config on the UI.",
          "$ref": "EnterpriseCrmEventbusProtoCoordinate"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "The customized parameters the user can pass to this task.",
          "type": "object"
        },
        "successPolicy": {
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy",
          "description": "Determines what action to take upon successful task completion."
        },
        "externalTaskType": {
          "type": "string",
          "enum": [
            "EXTERNAL_TASK_TYPE_UNSPECIFIED",
            "NORMAL_TASK",
            "ERROR_TASK"
          ],
          "enumDescriptions": [
            "Default value. External task type is not specified",
            "Tasks belongs to the normal task flows",
            "Task belongs to the error catch task flows"
          ]
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "taskType": {
          "type": "string",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "description": "Defines the type of the task"
        },
        "taskName": {
          "type": "string",
          "description": "The name for the task."
        },
        "errorCatcherId": {
          "type": "string",
          "description": "Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task"
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "rollbackStrategy": {
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times).",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
        },
        "nextTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "type": "array",
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "disableStrictTypeValidation": {
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter.",
          "type": "boolean"
        },
        "taskTemplateName": {
          "type": "string",
          "description": "Used to define task-template name if task is of type task-template"
        },
        "alertConfigs": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          },
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc.",
          "type": "array"
        },
        "description": {
          "description": "User-provided description intended to give more business context about the task.",
          "type": "string"
        },
        "creatorEmail": {
          "description": "The creator's email address. Auto-generated from the user's email.",
          "type": "string"
        },
        "taskEntity": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
          "description": "Copy of the task entity that this task config is an instance of."
        },
        "taskNumber": {
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`).",
          "type": "string"
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Auto-generated."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        }
      },
      "description": "Field represents either the key or value in an entry."
    },
    "GoogleCloudIntegrationsV1alphaBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "description": "Boolean array.",
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      },
      "type": "object",
      "description": "This message only contains a field of boolean array.",
      "id": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
    },
    "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy": {
      "description": "Next available id: 4",
      "id": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy",
      "type": "object",
      "properties": {
        "rollbackTaskImplementationClassName": {
          "type": "string",
          "description": "Required. This is the name of the task that needs to be executed upon rollback of this task."
        },
        "parameters": {
          "description": "Optional. The customized parameters the user can pass to this task.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "taskNumbersToRollback": {
          "description": "Required. These are the tasks numbers of the tasks whose `rollback_strategy.rollback_task_implementation_class_name` needs to be executed upon failure of this task.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaRuntimeActionSchema": {
      "id": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema",
      "type": "object",
      "properties": {
        "inputSchema": {
          "description": "Input parameter schema for the action.",
          "type": "string"
        },
        "outputSchema": {
          "description": "Output parameter schema for the action.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Name of the action."
        }
      },
      "description": "Metadata of an action, including schemas for its inputs and outputs."
    },
    "GoogleCloudIntegrationsV1alphaCredential": {
      "id": "GoogleCloudIntegrationsV1alphaCredential",
      "description": "Defines parameters for a single, canonical credential.",
      "type": "object",
      "properties": {
        "jwt": {
          "description": "JWT credential",
          "$ref": "GoogleCloudIntegrationsV1alphaJwt"
        },
        "credentialType": {
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "description": "Credential type associated with auth config.",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "type": "string"
        },
        "usernameAndPassword": {
          "description": "Username and password credential",
          "$ref": "GoogleCloudIntegrationsV1alphaUsernameAndPassword"
        },
        "oauth2AuthorizationCode": {
          "description": "The api_key and oauth2_implicit are not covered in v1 and will be picked up once v1 is implemented. ApiKey api_key = 3; OAuth2 authorization code credential",
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode"
        },
        "oauth2ClientCredentials": {
          "description": "OAuth2Implicit oauth2_implicit = 5; OAuth2 client credentials",
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials"
        },
        "authToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAuthToken",
          "description": "Auth token credential"
        },
        "oauth2ResourceOwnerCredentials": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
          "description": "OAuth2 resource owner credentials"
        },
        "oidcToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaOidcToken",
          "description": "Google OIDC ID Token"
        },
        "serviceAccountCredentials": {
          "description": "Service account credential",
          "$ref": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaErrorCatcherConfig": {
      "description": "Configuration detail of a error catch task",
      "properties": {
        "errorCatcherNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each error catcher config within the workflow on UI."
        },
        "description": {
          "description": "Optional. User-provided description intended to give more business context about the error catcher config.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular error catcher. Optional."
        },
        "startErrorTasks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Required. The set of start tasks that are to be executed for the error catch flow"
        },
        "errorCatcherId": {
          "type": "string",
          "description": "Required. An error catcher id is string representation for the error catcher config. Within a workflow, error_catcher_id uniquely identifies an error catcher config among all error catcher configs for the workflow"
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this error catcher config on the UI.",
          "$ref": "GoogleCloudIntegrationsV1alphaCoordinate"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaErrorCatcherConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusStats": {
      "id": "EnterpriseCrmEventbusStats",
      "description": "Stats for the requested dimensions: QPS, duration, and error/warning rate",
      "properties": {
        "warningRate": {
          "format": "double",
          "description": "Average warning rate.",
          "type": "number"
        },
        "dimensions": {
          "$ref": "EnterpriseCrmEventbusStatsDimensions",
          "description": "Dimensions that these stats have been aggregated on."
        },
        "errorRate": {
          "format": "double",
          "description": "Average error rate.",
          "type": "number"
        },
        "durationInSeconds": {
          "description": "Average duration in seconds.",
          "format": "double",
          "type": "number"
        },
        "qps": {
          "format": "double",
          "type": "number",
          "description": "Queries per second."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "type": "object",
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray"
    },
    "EnterpriseCrmEventbusProtoCloudKmsConfig": {
      "type": "object",
      "properties": {
        "keyRingName": {
          "type": "string",
          "description": "A key ring organizes keys in a specific Google Cloud location and allows you to manage access control on groups of keys. A key ring's name does not need to be unique across a Google Cloud project, but must be unique within a given location."
        },
        "keyName": {
          "description": "A Cloud KMS key is a named object containing one or more key versions, along with metadata for the key. A key exists on exactly one key ring tied to a specific location.",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Optional. The id of GCP project where the KMS key is stored. If not provided, assume the key is stored in the same GCP project defined in Client (tag 14)."
        },
        "serviceAccount": {
          "description": "Optional. The service account used for authentication of this KMS key. If this is not provided, the service account in Client.clientSource will be used.",
          "type": "string"
        },
        "keyVersionName": {
          "type": "string",
          "description": "Optional. Each version of a key contains key material used for encryption or signing. A key's version is represented by an integer, starting at 1. To decrypt data or verify a signature, you must use the same key version that was used to encrypt or sign the data."
        },
        "locationName": {
          "type": "string",
          "description": "Location name of the key ring, e.g. \"us-west1\"."
        }
      },
      "id": "EnterpriseCrmEventbusProtoCloudKmsConfig"
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "description": "A record representing a suspension.",
      "type": "object",
      "properties": {
        "integration": {
          "type": "string",
          "description": "Required. The name of the originating integration."
        },
        "approvalConfig": {
          "description": "Controls the notifications and approval permissions for this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig"
        },
        "suspensionConfig": {
          "description": "Controls the notifications and resolver permissions for this suspension.",
          "deprecated": true,
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Auto-generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastModifyTime": {
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Resource name for suspensions suspension/{suspension_id}",
          "type": "string"
        },
        "taskId": {
          "type": "string",
          "description": "Required. Task id of the associated SuspensionTask."
        },
        "audit": {
          "description": "Metadata pertaining to the resolution of this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit"
        },
        "state": {
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ],
          "type": "string",
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ],
          "description": "Required. State of this suspension, indicating what action a resolver has taken."
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspension"
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional."
        },
        "active": {
          "type": "boolean",
          "description": "Required. If any integration version is published."
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the integration."
        },
        "updateTime": {
          "description": "Output only. Auto-generated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegration",
      "description": "The integration definition."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "description": "Entry is a pair of key and value."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationConfigParameter": {
      "properties": {
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "parameter": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
          "description": "Optional. Integration Parameter to provide the default value, data type and attributes required for the Integration config variables."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationConfigParameter",
      "type": "object",
      "description": "Integration Config Parameter is defined in the integration config and are used to provide external configuration for integration. It provide information about data types of the expected parameters and provide any default values or value. They can also be used to add custom attributes."
    },
    "GoogleCloudConnectorsV1EventingRuntimeData": {
      "id": "GoogleCloudConnectorsV1EventingRuntimeData",
      "type": "object",
      "properties": {
        "status": {
          "readOnly": true,
          "description": "Output only. Current status of eventing.",
          "$ref": "GoogleCloudConnectorsV1EventingStatus"
        },
        "eventsListenerPscSa": {
          "description": "Output only. Events listener PSC Service attachment. The value will be populated after provisioning the events listener with private connectivity enabled.",
          "type": "string",
          "readOnly": true
        },
        "eventsListenerEndpoint": {
          "description": "Output only. Events listener endpoint. The value will populated after provisioning the events listener.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Eventing runtime data has the details related to eventing managed by the system."
    },
    "GoogleCloudConnectorsV1ConnectorVersionInfraConfig": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1ConnectorVersionInfraConfig",
      "description": "This cofiguration provides infra configs like rate limit threshold which need to be configurable for every connector version",
      "properties": {
        "deploymentModel": {
          "type": "string",
          "enumDescriptions": [
            "Deployment model is not specified.",
            "Default model gke mst.",
            "Cloud run mst."
          ],
          "description": "Optional. Indicates whether connector is deployed on GKE/CloudRun",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "GKE_MST",
            "CLOUD_RUN_MST"
          ]
        },
        "resourceLimits": {
          "$ref": "GoogleCloudConnectorsV1ResourceLimits",
          "readOnly": true,
          "description": "Output only. System resource limits."
        },
        "ratelimitThreshold": {
          "description": "Output only. Max QPS supported by the connector version before throttling of requests.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "connectionRatelimitWindowSeconds": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The window used for ratelimiting runtime requests to connections.",
          "type": "string"
        },
        "hpaConfig": {
          "readOnly": true,
          "description": "Output only. HPA autoscaling config.",
          "$ref": "GoogleCloudConnectorsV1HPAConfig"
        },
        "sharedDeployment": {
          "description": "Output only. The name of shared connector deployment.",
          "readOnly": true,
          "type": "string"
        },
        "internalclientRatelimitThreshold": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Max QPS supported for internal requests originating from Connd."
        },
        "resourceRequests": {
          "$ref": "GoogleCloudConnectorsV1ResourceRequests",
          "readOnly": true,
          "description": "Output only. System resource requests."
        }
      }
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5",
      "properties": {
        "logType": {
          "items": {
            "type": "string",
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ]
          },
          "type": "array",
          "description": "To which type(s) of logs the sanitize options apply."
        },
        "sanitizeType": {
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ]
        },
        "isAlreadySanitized": {
          "type": "boolean",
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization."
        },
        "privacy": {
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmLoggingGwsSanitizeOptions",
      "type": "object"
    },
    "CrmlogErrorCode": {
      "properties": {
        "commonErrorCode": {
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Registered ids for errors, as \"oneof\" enums. Each task or logical grouping of tasks may share the same enum.",
      "id": "CrmlogErrorCode",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "properties": {
        "entity": {
          "description": "Name of the entity.",
          "type": "string"
        },
        "arrayFieldSchema": {
          "description": "The above schema, but for an array of the associated entity.",
          "type": "string"
        },
        "fieldSchema": {
          "type": "string",
          "description": "List of fields in the entity."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema",
      "description": "Metadata of an entity, including a schema for its properties."
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "description": "Attributes are additional options that can be associated with each event property. For more information, see",
      "id": "EnterpriseCrmEventbusProtoAttributes",
      "type": "object",
      "properties": {
        "defaultValue": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Used to define defaults."
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ]
        },
        "logSettings": {
          "description": "See",
          "$ref": "EnterpriseCrmEventbusProtoLogSettings"
        },
        "masked": {
          "type": "boolean",
          "description": "True if this workflow parameter should be masked in the logs"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Used to indicate if the ParameterEntry is a read only field or not."
        },
        "taskVisibility": {
          "description": "List of tasks that can view this property, if empty then all.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "searchable": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ],
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ]
        },
        "isSearchable": {
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable.",
          "deprecated": true,
          "type": "boolean"
        },
        "isRequired": {
          "type": "boolean",
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered."
        }
      }
    },
    "EnterpriseCrmEventbusProtoField": {
      "id": "EnterpriseCrmEventbusProtoField",
      "type": "object",
      "properties": {
        "defaultValue": {
          "description": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "cardinality": {
          "type": "string",
          "description": "By default, if the cardinality is unspecified the field is considered required while mapping.",
          "enumDescriptions": [
            "For fields with unspecified cardinality.",
            "If field cardinality is set to optional, ignore errors if input field value is null or the reference_key is not found."
          ],
          "enum": [
            "UNSPECIFIED",
            "OPTIONAL"
          ]
        },
        "transformExpression": {
          "$ref": "EnterpriseCrmEventbusProtoTransformExpression",
          "description": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data."
        },
        "protoDefPath": {
          "description": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type.",
          "type": "string"
        },
        "referenceKey": {
          "type": "string",
          "description": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$"
        },
        "fieldType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "Specifies the data type of the field.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "description": "Information about the value and type of the field."
    },
    "GoogleCloudConnectorsV1LockConfig": {
      "id": "GoogleCloudConnectorsV1LockConfig",
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Describes why a connection is locked.",
          "type": "string"
        },
        "locked": {
          "description": "Indicates whether or not the connection is locked.",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoWorkflowAlertConfig": {
      "id": "EnterpriseCrmEventbusProtoWorkflowAlertConfig",
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event.",
      "properties": {
        "alertDisabled": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert."
        },
        "thresholdValue": {
          "description": "The metric value, above or below which the alert should be triggered.",
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue"
        },
        "aggregationPeriod": {
          "description": "For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours.",
          "type": "string"
        },
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "durationThresholdMs": {
          "type": "string",
          "format": "int64",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger."
        },
        "alertName": {
          "type": "string",
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the workflow."
        },
        "onlyFinalAttempt": {
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries.",
          "type": "boolean"
        },
        "numAggregationPeriods": {
          "format": "int32",
          "type": "integer",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired."
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "metricType": {
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing workflow.",
            "Specifies alerting on the rate of warnings for the enclosing workflow. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing workflow.",
            "Specifies alerting on the rate of warnings for any task in the enclosing workflow.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing workflow.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this workflow.",
            "Specifies alerting on the duration value of a particular percentile of workflow executions. E.g. If 10% or more of the workflow executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing workflow,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing workflow. E.g. If 10% or more of the task executions in the workflow have durations above 5 seconds, alert."
          ]
        },
        "clientId": {
          "type": "string",
          "description": "Client associated with this alert configuration."
        },
        "thresholdType": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ],
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired."
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "properties": {
        "jsonValue": {
          "type": "string"
        },
        "protoValue": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        }
      },
      "type": "object",
      "description": "To support various types of parameter values. Next available id: 14",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "next id: 24"
          ],
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoJsonFunction"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest": {
      "description": "Request for TakeoverEditLock.",
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoConditionResult": {
      "type": "object",
      "properties": {
        "nextTaskNumber": {
          "type": "string",
          "description": "the next task number."
        },
        "currentTaskNumber": {
          "description": "the current task number.",
          "type": "string"
        },
        "result": {
          "description": "the result comes out after evaluate the combined condition. True if there's no combined condition specified.",
          "type": "boolean"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConditionResult",
      "description": "Contains the combined condition calculation results."
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "description": "Define the Connectors target endpoint.",
      "id": "GoogleCloudConnectorsV1DestinationConfig",
      "properties": {
        "destinations": {
          "description": "The destinations for the key.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          },
          "type": "array"
        },
        "key": {
          "description": "The key is the destination identifier that is supported by the Connector.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
      "properties": {
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "clientId": {
          "description": "The client's ID.",
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "requestType": {
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "description": "Represent how to pass parameters to fetch access token"
        },
        "tokenParams": {
          "description": "Token parameters for the auth request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "Access token fetched from the authorization server."
        }
      },
      "description": "For client credentials grant, the client sends a POST request with grant_type as 'client_credentials' to the authorization server. The authorization server will respond with a JSON object containing the access token."
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "properties": {
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "mdbGroup": {
          "type": "string"
        },
        "gaiaIdentity": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
          "description": "Represents a Gaia identity for a person or service account."
        },
        "loasRole": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions",
      "type": "object",
      "description": "LINT.IfChange"
    },
    "EnterpriseCrmEventbusProtoTaskUiConfig": {
      "properties": {
        "taskUiModuleConfigs": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
          },
          "description": "Configurations of included config modules."
        }
      },
      "description": "Task authors would use this type to configure the UI for a particular task by specifying what UI config modules should be included to compose the UI. Learn more about config module framework:",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskUiConfig"
    },
    "GoogleCloudConnectorsV1HPAConfig": {
      "properties": {
        "memoryUtilizationThreshold": {
          "readOnly": true,
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling.",
          "format": "int64",
          "type": "string"
        },
        "cpuUtilizationThreshold": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling."
        }
      },
      "description": "Autoscaling config for connector deployment system metrics.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1HPAConfig"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "description": "Request for cancelling an execution.",
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "type": "object",
      "properties": {
        "max": {
          "type": "number",
          "format": "double",
          "description": "The inclusive maximum of the acceptable range."
        },
        "min": {
          "type": "number",
          "description": "The inclusive minimum of the acceptable range.",
          "format": "double"
        }
      },
      "description": "Range used to validate doubles and floats.",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "type": "object",
      "properties": {
        "connection": {
          "description": "User-selected connection.",
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection"
        },
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY",
            "EXECUTE_QUERY"
          ],
          "description": "Operation to perform using the configured connection.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig"
    },
    "EnterpriseCrmEventbusProtoParameterEntry": {
      "id": "EnterpriseCrmEventbusProtoParameterEntry",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "masked": {
          "type": "boolean",
          "description": "True if this parameter should be masked in the logs"
        }
      },
      "type": "object",
      "description": "Key-value pair of EventBus parameters."
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
    },
    "GoogleCloudConnectorsV1EventingConfig": {
      "type": "object",
      "description": "Eventing Configuration of a connection",
      "id": "GoogleCloudConnectorsV1EventingConfig",
      "properties": {
        "authConfig": {
          "$ref": "GoogleCloudConnectorsV1AuthConfig",
          "description": "Auth details for the webhook adapter."
        },
        "registrationDestinationConfig": {
          "$ref": "GoogleCloudConnectorsV1DestinationConfig",
          "description": "Registration endpoint for auto registration."
        },
        "enrichmentEnabled": {
          "description": "Enrichment Enabled.",
          "type": "boolean"
        },
        "listenerAuthConfig": {
          "$ref": "GoogleCloudConnectorsV1AuthConfig",
          "description": "Optional. Auth details for the event listener."
        },
        "deadLetterConfig": {
          "description": "Optional. Dead letter configuration for eventing of a connection.",
          "$ref": "GoogleCloudConnectorsV1EventingConfigDeadLetterConfig"
        },
        "privateConnectivityEnabled": {
          "type": "boolean",
          "description": "Optional. Private Connectivity Enabled."
        },
        "triggerConfigVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "description": "Optional. Additional eventing related field values",
          "type": "array"
        },
        "proxyDestinationConfig": {
          "$ref": "GoogleCloudConnectorsV1DestinationConfig",
          "description": "Optional. Proxy for Eventing auto-registration."
        },
        "additionalVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "description": "Additional eventing related field values",
          "type": "array"
        },
        "eventsListenerIngressEndpoint": {
          "description": "Optional. Ingress endpoint of the event listener. This is used only when private connectivity is enabled.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse",
      "description": "The response for executing an integration.",
      "properties": {
        "executionFailed": {
          "description": "Is true if any execution in the integration failed. False otherwise.",
          "deprecated": true,
          "type": "boolean"
        },
        "outputParameters": {
          "type": "object",
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parameterEntries": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "eventParameters": {
          "deprecated": true,
          "description": "Details for the integration that were executed.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "executionId": {
          "type": "string",
          "description": "The id of the execution corresponding to this run of integration."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDoubleParameterArray": {
      "id": "GoogleCloudIntegrationsV1alphaDoubleParameterArray",
      "description": "This message only contains a field of double number array.",
      "properties": {
        "doubleValues": {
          "type": "array",
          "description": "Double number array.",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "properties": {
        "clientSecret": {
          "description": "Secret version reference containing the client secret.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "properties": {
        "endTime": {
          "format": "int64",
          "description": "The end time of the task execution for current attempt.",
          "type": "string"
        },
        "startTime": {
          "format": "int64",
          "type": "string",
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled."
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails": {
      "type": "object",
      "properties": {
        "eventExecutionSnapshot": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
          },
          "description": "After snapshot migration, this field will no longer be populated, but old execution snapshots will still be accessible.",
          "type": "array"
        },
        "eventRetriesFromBeginningCount": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the number of times the execution has restarted from the beginning."
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        },
        "ryeLockUnheldCount": {
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/",
          "format": "int32",
          "type": "integer"
        },
        "eventExecutionState": {
          "type": "string",
          "description": "The execution state of this event.",
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ]
        },
        "eventExecutionSnapshotsSize": {
          "format": "int64",
          "type": "string",
          "description": "Total size of all event_execution_snapshots for an execution"
        },
        "logFilePath": {
          "description": "The log file path (aka. cns address) for this event.",
          "type": "string"
        },
        "eventAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          }
        },
        "nextExecutionTime": {
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 11"
    },
    "GoogleCloudConnectorsV1Destination": {
      "id": "GoogleCloudConnectorsV1Destination",
      "properties": {
        "serviceAttachment": {
          "type": "string",
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "deprecated": true
        },
        "port": {
          "description": "The port is the target port number that is accepted by the destination.",
          "type": "integer",
          "format": "int32"
        },
        "host": {
          "type": "string",
          "description": "For publicly routable host."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleFunction"
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "id": "EnterpriseCrmEventbusProtoErrorDetail",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ],
          "description": "The severity of the error: ERROR|WARN|INFO."
        },
        "errorCode": {
          "description": "The associated error-code, which can be a common or internal code.",
          "$ref": "CrmlogErrorCode"
        },
        "taskNumber": {
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level.",
          "type": "integer",
          "format": "int32"
        },
        "errorMessage": {
          "type": "string",
          "description": "The full text of the error message, including any parameters that were thrown along with the exception."
        }
      },
      "description": "An error, warning, or information message associated with a workflow.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoFunction",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskUiModuleConfig": {
      "type": "object",
      "description": "Task author would use this type to configure a config module.",
      "properties": {
        "moduleId": {
          "enum": [
            "UNSPECIFIED_TASK_MODULE",
            "LABEL",
            "ERROR_HANDLING",
            "TASK_PARAM_TABLE",
            "TASK_PARAM_FORM",
            "PRECONDITION",
            "SCRIPT_EDITOR",
            "RPC",
            "TASK_SUMMARY",
            "SUSPENSION",
            "RPC_TYPED",
            "SUB_WORKFLOW",
            "APPS_SCRIPT_NAVIGATOR",
            "SUB_WORKFLOW_FOR_EACH_LOOP",
            "FIELD_MAPPING",
            "README",
            "REST_CALLER",
            "SUB_WORKFLOW_SCATTER_GATHER",
            "CLOUD_SQL",
            "GENERIC_CONNECTOR_TASK"
          ],
          "enumDescriptions": [
            "Default",
            "Supports editing label of a task config.",
            "Supports editing error handling settings such as retry strategy.",
            "Supports adding, removing and editing task parameter values in a table with little assistance or restriction.",
            "Supports editing values of declared input parameters of a task. Think of it as a \"strongly typed\" upgrade to the TASK_PARAM_TABLE.",
            "Supports editing preconditions of a task config.",
            "Supports adding, editing, and deleting the scripts associated with a script task, as well as modifying the input/output parameters.",
            "Supports editing task parameters associated with an RPC/stubby task.",
            "Contains readonly task information, including input/output type info.",
            "Configures a SuspensionTask.",
            "Configures a GenericStubbyTypedTask.",
            "Configures a SubWorkflowExecutorTask.",
            "Supports navigating to Apps Script editor",
            "Configures a SubWorkflowForEachLoopTask.",
            "Configures a FieldMappingTask.",
            "Contains embedded in-product documentation for a task.",
            "UI widget for the rest caller task.",
            "Configures a SubWorkflowScatterGatherTask.",
            "Configures a CloudSql Task.",
            "Configure a GenericConnectorTask."
          ],
          "description": "ID of the config module.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTaskConfig",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "properties": {
        "task": {
          "type": "string",
          "description": "Optional. The name for the task."
        },
        "errorCatcherId": {
          "description": "Optional. Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task",
          "type": "string"
        },
        "position": {
          "$ref": "GoogleCloudIntegrationsV1alphaCoordinate",
          "description": "Optional. Informs the front-end application where to draw this error catcher config on the UI."
        },
        "synchronousCallFailurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "taskTemplate": {
          "type": "string",
          "description": "Optional. Used to define task-template name if task is of type task-template"
        },
        "taskId": {
          "type": "string",
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`)."
        },
        "successPolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
          "description": "Optional. Determines what action to take upon successful task completion."
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy"
        },
        "nextTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "type": "array",
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          },
          "description": "Optional. The customized parameters the user can pass to this task."
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string",
          "description": "Optional. If set, overrides the option configured in the Task implementation class."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give additional business context about the task."
        },
        "taskExecutionStrategy": {
          "description": "Optional. The policy dictating the execution strategy of this task.",
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "type": "string",
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ]
        },
        "externalTaskType": {
          "enumDescriptions": [
            "Default value. External task type is not specified",
            "Tasks belongs to the normal task flows",
            "Task belongs to the error catch task flows"
          ],
          "enum": [
            "EXTERNAL_TASK_TYPE_UNSPECIFIED",
            "NORMAL_TASK",
            "ERROR_TASK"
          ],
          "type": "string",
          "description": "Optional. External task type of the task"
        },
        "nextTasksExecutionPolicy": {
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task.",
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values."
        }
      },
      "id": "EnterpriseCrmEventbusProtoPropertyEntry",
      "type": "object",
      "description": "Key-value pair of EventBus property."
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "type": "object",
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoTransformExpression": {
      "properties": {
        "transformationFunctions": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoFunction"
          },
          "description": "Transformations to be applied sequentially.",
          "type": "array"
        },
        "initialValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseValue",
          "description": "Initial value upon which to perform transformations."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTransformExpression"
    },
    "GoogleCloudIntegrationsV1alphaGenerateTokenResponse": {
      "id": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse",
      "type": "object",
      "properties": {
        "message": {
          "description": "The message that notifies the user if the request succeeded or not.",
          "type": "string"
        }
      },
      "description": "Returns success or error message"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "type": "object",
      "description": "Range used to validate longs and ints.",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64",
          "description": "The inclusive minimum of the acceptable range."
        },
        "max": {
          "format": "int64",
          "description": "The inclusive maximum of the acceptable range.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel.",
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description for this channel"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the channel was last updated",
          "readOnly": true
        },
        "isActive": {
          "type": "boolean",
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it."
        },
        "displayName": {
          "type": "string",
          "description": "Client level unique name/alias to easily reference a channel."
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
[...]
