{
  "baseUrl": "https://integrations.googleapis.com/",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "rootUrl": "https://integrations.googleapis.com/",
  "documentationLink": "http://www.google.com",
  "ownerName": "Google",
  "id": "integrations:v1alpha",
  "canonicalName": "Integrations",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "name": "integrations",
  "title": "Application Integration API",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudIntegrationsV1alphaFailurePolicy": {
      "properties": {
        "retryStrategy": {
          "description": "Defines what happens to the task upon failure.",
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Ignores the failure of this task. The rest of the integration will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the integration.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. max_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. max_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified.",
            "The entire integration will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified."
          ],
          "enum": [
            "RETRY_STRATEGY_UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_INTEGRATION_WITH_BACKOFF"
          ]
        },
        "intervalTime": {
          "format": "google-datetime",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the initial interval in seconds for backoff.",
          "type": "string"
        },
        "maxRetries": {
          "type": "integer",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaFailurePolicy",
      "type": "object",
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied)."
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoProtoFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionAudit": {
      "description": "Contains when and by whom the suspension was resolved.",
      "id": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
      "type": "object",
      "properties": {
        "resolver": {
          "type": "string",
          "description": "Email address of the person who resolved this suspension."
        },
        "resolveTime": {
          "type": "string",
          "description": "Time at which this suspension was resolved.",
          "format": "google-datetime"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10",
      "properties": {
        "eventRetriesFromBeginningCount": {
          "format": "int32",
          "description": "Indicates the number of times the execution has restarted from the beginning.",
          "type": "integer"
        },
        "eventExecutionState": {
          "description": "The execution state of this event.",
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ],
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "nextExecutionTime": {
          "type": "string",
          "format": "int64",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD."
        },
        "eventExecutionSnapshot": {
          "description": "After snapshot migration, this field will no longer be populated, but old execution snapshots will still be accessible.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        },
        "logFilePath": {
          "description": "The log file path (aka. cns address) for this event.",
          "type": "string"
        },
        "eventAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          }
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        },
        "ryeLockUnheldCount": {
          "type": "integer",
          "format": "int32",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "type": "object",
      "properties": {
        "connectionName": {
          "type": "string",
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}"
        },
        "serviceName": {
          "type": "string",
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}"
        },
        "connectorVersion": {
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection"
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse",
      "description": "Response for UploadIntegrationVersion.",
      "properties": {
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "The uploaded integration."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          }
        },
        "email": {
          "description": "Required.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoAddress",
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes."
    },
    "GoogleCloudIntegrationsV1alphaDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Double number array.",
          "type": "array"
        }
      },
      "description": "This message only contains a field of double number array.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshot": {
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshot",
      "type": "object",
      "properties": {
        "checkpointTaskNumber": {
          "description": "Indicates \"after which checkpoint task's execution\" this snapshot is taken.",
          "type": "string"
        },
        "taskExecutionDetails": {
          "description": "All of the task execution details at the given point of time.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
          }
        },
        "params": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Parameters used during the execution.",
          "type": "object"
        },
        "executionSnapshotMetadata": {
          "description": "Metadata of the execution snapshot.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata"
        }
      },
      "description": "Contains the snapshot of the execution for a given checkpoint."
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleRequest": {
      "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request message for Bundle update",
      "properties": {
        "config": {
          "description": "It contains the updated bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "type": "object",
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2",
      "properties": {
        "mappedFields": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig"
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "type": "object",
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "If the access token will expire, use the refresh token to obtain another access token."
        },
        "accessToken": {
          "type": "string",
          "description": "The access token encapsulating the security identity of a process or thread."
        },
        "refreshTokenExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The approximate time until the refresh token retrieved is valid."
        },
        "tokenType": {
          "type": "string",
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0."
        },
        "accessTokenExpireTime": {
          "description": "Required. The approximate time until the access token retrieved is valid.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionResponse": {
      "properties": {
        "isCanceled": {
          "description": "True if cancellation performed successfully",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Response for cancelling an execution.",
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "type": "object",
      "description": "Represents external traffic type and id.",
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "properties": {
        "gcpProjectId": {
          "type": "string",
          "description": "User’s GCP project id the traffic is referring to."
        },
        "source": {
          "description": "LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)",
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "gcpProjectNumber": {
          "type": "string",
          "description": "User’s GCP project number the traffic is referring to."
        },
        "location": {
          "type": "string",
          "description": "Location for the user's request."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListExecutionsResponse": {
      "properties": {
        "executions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "type": "array",
          "description": "The detailed information of requested executions"
        },
        "executionInfos": {
          "description": "Required. The detailed information of requested executions.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListExecutionsResponse",
      "type": "object",
      "description": "Response for listing the integration execution data."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion": {
      "type": "object",
      "properties": {
        "taskConfigs": {
          "type": "array",
          "description": "Optional. Task configuration for the IntegrationTemplateVersion. It's optional, but the IntegrationTemplateVersion doesn't do anything without task_configs.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          }
        },
        "status": {
          "description": "Optional. Generated by eventbus. User should not set it as an input.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "parentIntegrationVersionId": {
          "description": "Optional. ID of the IntegrationVersion that was used to create this IntegrationTemplateVersion",
          "type": "string"
        },
        "description": {
          "description": "Optional. The templateversion description. Permitted format is alphanumeric with underscores and no spaces.",
          "type": "string"
        },
        "lastModifierEmail": {
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "databasePersistencePolicy": {
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data."
          ],
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED"
          ],
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated.",
          "format": "google-datetime"
        },
        "triggerConfigs": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          },
          "description": "Optional. Trigger configurations.",
          "type": "array"
        },
        "templateParameters": {
          "description": "Optional. Parameters that are expected to be passed to the IntegrationTemplateVersion when an event is triggered. This consists of all the parameters that are expected in the IntegrationTemplateVersion execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters"
        },
        "name": {
          "type": "string",
          "description": "Output only. Auto-generated primary key. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}",
          "readOnly": true
        },
        "snapshotNumber": {
          "type": "string",
          "description": "Output only. An increasing sequence that is set when a new snapshot is created.",
          "format": "int64",
          "readOnly": true
        },
        "userLabel": {
          "type": "string",
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created."
        },
        "teardown": {
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "IntegrationTemplateVersion definition. An IntegrationTemplateVersion provides configurations required to construct an IntegrationVersion. It cannot be executed directly like an Integration. Users can create IntegrationTemplateVersions using Integrations. These Templates can be shared by users across GCP projects.",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanFunction",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleResponse": {
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleResponse",
      "properties": {
        "config": {
          "description": "Contains updated bundle config",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "description": "Response message for Bundle update",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy",
      "description": "Next available id: 4",
      "properties": {
        "rollbackTaskImplementationClassName": {
          "type": "string",
          "description": "Required. This is the name of the task that needs to be executed upon rollback of this task."
        },
        "taskNumbersToRollback": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. These are the tasks numbers of the tasks whose `rollback_strategy.rollback_task_implementation_class_name` needs to be executed upon failure of this task."
        },
        "parameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Optional. The customized parameters the user can pass to this task."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "id": "GoogleCloudIntegrationsV1alphaStringParameterArray",
      "description": "This message only contains a field of string array.",
      "type": "object",
      "properties": {
        "stringValues": {
          "type": "array",
          "description": "String array.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest",
      "type": "object",
      "properties": {
        "appsScriptProject": {
          "description": "The name of the Apps Script project to be created.",
          "type": "string"
        },
        "authConfigId": {
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients",
          "type": "string"
        }
      },
      "description": "Request for CreateAppsScriptProject rpc call."
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse": {
      "description": "Response for ListIntegrationVersions.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "integrationVersions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
          },
          "description": "The integrations which match the request.",
          "type": "array"
        },
        "noPermission": {
          "type": "boolean",
          "description": "Whether the user has no permission on the version or not."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "properties": {
        "product": {
          "type": "string",
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default.",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "createdTimestamp": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastModifiedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Auto-generated."
        },
        "suspensionId": {
          "type": "string",
          "description": "Primary key for the SuspensionResolutionInfoTable."
        },
        "externalTraffic": {
          "description": "The origin of the suspension for periodic notifications.",
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic"
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "status": {
          "type": "string",
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "taskNumber": {
          "type": "string",
          "description": "Required. Task number of the associated SuspensionTask."
        }
      }
    },
    "EnterpriseCrmEventbusProtoCoordinate": {
      "id": "EnterpriseCrmEventbusProtoCoordinate",
      "type": "object",
      "properties": {
        "y": {
          "format": "int32",
          "type": "integer"
        },
        "x": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents two-dimensional positions."
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "description": "Contains all the execution details for a workflow instance. Next available id: 24",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "type": "object",
      "properties": {
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "Final error-code if event failed."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request.",
          "type": "string"
        },
        "workflowId": {
          "type": "string",
          "description": "Required. Pointer to the workflow it is executing."
        },
        "createTime": {
          "format": "int64",
          "type": "string",
          "description": "Auto-generated."
        },
        "snapshotNumber": {
          "format": "int64",
          "type": "string",
          "description": "Workflow snapshot number."
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        },
        "clientId": {
          "type": "string",
          "description": "The event data user sends as request."
        },
        "triggerId": {
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks.",
          "type": "string"
        },
        "executionTraceInfo": {
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
          "description": "Execution trace info to aggregate parent-child executions."
        },
        "postMethod": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ],
          "description": "The ways user posts this event.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "tenant": {
          "type": "string",
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant."
        },
        "workflowRetryBackoffIntervalSeconds": {
          "format": "int64",
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained."
        },
        "responseParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come out as part of the response."
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "format": "int64",
          "type": "string"
        },
        "workflowName": {
          "description": "Name of the workflow.",
          "type": "string"
        },
        "product": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string",
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default."
        }
      }
    },
    "EnterpriseCrmEventbusProtoProtoArrayFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoArrayFunction"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy": {
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. optional, metrics list for GroupBy."
        },
        "reducer": {
          "description": "Optional. optional, reduce function for GroupBy.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
      "description": "MashQuery GroupBy parameters."
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution."
        }
      },
      "type": "object",
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters."
    },
    "EnterpriseCrmCardsCellValue": {
      "properties": {
        "stringValue": {
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "empty": {
          "$ref": "GoogleProtobufEmpty"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "longValue": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmCardsCellValue",
      "type": "object"
    },
    "EnterpriseCrmCardsTabularData": {
      "type": "object",
      "description": "The generic data format returned from all connectors.",
      "id": "EnterpriseCrmCardsTabularData",
      "properties": {
        "rows": {
          "description": "Ordered list of table rows.",
          "items": {
            "$ref": "EnterpriseCrmCardsRow"
          },
          "type": "array"
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Ordered list of column headers."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        },
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        }
      },
      "type": "object",
      "description": "Field represents either the key or value in an entry."
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "type": "object",
      "properties": {
        "token": {
          "description": "The token for the auth type.",
          "type": "string"
        },
        "type": {
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc.",
          "type": "string"
        }
      },
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "id": "GoogleCloudIntegrationsV1alphaAuthToken"
    },
    "GoogleCloudIntegrationsV1alphaListSuspensionsResponse": {
      "description": "Response for Suspensions.ListSuspensions.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results."
        },
        "suspensions": {
          "description": "The suspensions for the relevant execution which the caller has permissions to view and resolve.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse",
      "properties": {
        "taskEntities": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
          },
          "description": "The list of the tasks.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "This is a UI only method and will be moved away. Response for ListTaskEntities."
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "properties": {
        "finalState": {
          "type": "string",
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "properties": {
        "absolute": {
          "type": "string",
          "format": "int64",
          "description": "Absolute value threshold."
        },
        "percentage": {
          "description": "Percentage threshold.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue"
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message.",
      "id": "EnterpriseCrmEventbusProtoValueType",
      "type": "object",
      "properties": {
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "stringValue": {
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecution": {
      "description": "The Execution resource contains detailed information of an individual integration execution.",
      "properties": {
        "requestParams": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Event parameters come in as part of the request."
        },
        "responseParameters": {
          "description": "Event parameters returned as part of the response.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "executionMethod": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Sync post.",
            "Async post.",
            "Async post with schedule time."
          ],
          "enum": [
            "EXECUTION_METHOD_UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE"
          ],
          "description": "The ways user posts this event."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Created time of the execution."
        },
        "executionDetails": {
          "description": "Detailed info of this execution.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionDetails"
        },
        "name": {
          "description": "Auto-generated primary key.",
          "type": "string"
        },
        "requestParameters": {
          "description": "Event parameters come in as part of the request.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        },
        "directSubExecutions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "description": "Direct sub executions of the following Execution."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last modified time of the execution."
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "responseParams": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Event parameters come out as part of the response.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecution"
    },
    "GoogleCloudConnectorsV1Connection": {
      "properties": {
        "serviceDirectory": {
          "type": "string",
          "description": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\"",
          "readOnly": true
        },
        "connectorVersion": {
          "type": "string",
          "description": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource."
        },
        "lockConfig": {
          "$ref": "GoogleCloudConnectorsV1LockConfig",
          "description": "Optional. Configuration that indicates whether or not the Connection can be edited."
        },
        "configVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "description": "Optional. Configuration for configuring the connection with an external system.",
          "type": "array"
        },
        "destinationConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1DestinationConfig"
          },
          "description": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s)."
        },
        "suspended": {
          "type": "boolean",
          "description": "Optional. Suspended indicates if a user has suspended a connection or not."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Service account needed for runtime plane to access GCP resources."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Created time."
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "nodeConfig": {
          "description": "Optional. Configuration for the connection.",
          "$ref": "GoogleCloudConnectorsV1NodeConfig"
        },
        "imageLocation": {
          "description": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "envoyImageLocation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        },
        "status": {
          "description": "Output only. Current status of the connection.",
          "$ref": "GoogleCloudConnectorsV1ConnectionStatus",
          "readOnly": true
        },
        "authConfig": {
          "$ref": "GoogleCloudConnectorsV1AuthConfig",
          "description": "Optional. Configuration for establishing the connection's authentication with an external system."
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1Connection",
      "description": "Connection represents an instance of connector."
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "properties": {
        "workflowName": {
          "type": "string"
        },
        "retryAttempt": {
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ]
        },
        "warningEnumString": {
          "type": "string"
        },
        "taskName": {
          "type": "string"
        },
        "taskNumber": {
          "type": "string"
        },
        "errorEnumString": {
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination."
        },
        "enumFilterType": {
          "description": "Whether to include or exclude the enums matching the regex.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ]
        },
        "workflowId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusStatsDimensions"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse": {
      "description": "Response for IntegrationTemplateVersions.ListIntegrationTemplateVersions.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse",
      "properties": {
        "integrationTemplateVersions": {
          "type": "array",
          "description": "The IntegrationTemplateVersions which match the request.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterEntry",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "description": "Explicitly getting the type of the parameter.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        }
      },
      "type": "object",
      "description": "Key-value pair of EventBus parameters."
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList",
      "type": "object",
      "description": "List of error enums for alerts.",
      "properties": {
        "enumStrings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filterType": {
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoNextTeardownTask": {
      "id": "EnterpriseCrmEventbusProtoNextTeardownTask",
      "type": "object",
      "description": "The teardown task that is next in line to be executed. We support only sequential execution of teardown tasks (i.e. no branching).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the next teardown task."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "The service account email to be used as the identity for the token."
        },
        "audience": {
          "type": "string",
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for."
        },
        "token": {
          "description": "ID token obtained for the service account",
          "type": "string"
        },
        "tokenExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The approximate time until the token retrieved is valid."
        }
      },
      "description": "OIDC Token",
      "id": "GoogleCloudIntegrationsV1alphaOidcToken",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "description": "Request for LinkAppsScriptProject rpc call.",
      "type": "object",
      "properties": {
        "scriptId": {
          "description": "The id of the Apps Script project to be linked.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "id": "EnterpriseCrmEventbusProtoFailurePolicy",
      "type": "object",
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "properties": {
        "retryStrategy": {
          "description": "Defines what happens to the task upon failure.",
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ],
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ],
          "type": "string"
        },
        "intervalInSeconds": {
          "format": "int64",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff.",
          "type": "string"
        },
        "maxNumRetries": {
          "format": "int32",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer"
        }
      }
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesData": {
      "description": "Data used to render an Aplos Series card.",
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesDataRow"
          },
          "type": "array",
          "description": "A single Series Row"
        }
      },
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesData"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse": {
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse",
      "properties": {
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "Version after the lock is acquired by the new user."
        }
      },
      "type": "object",
      "description": "Response for TakeoverEditLock."
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse": {
      "properties": {
        "parameterEntries": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "executionFailed": {
          "type": "boolean",
          "description": "Is true if any execution in the integration failed. False otherwise."
        },
        "executionId": {
          "type": "string",
          "description": "The id of the execution corresponding to this run of integration."
        },
        "eventParameters": {
          "description": "Details for the integration that were executed.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse",
      "description": "The response for executing an integration.",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "id": "GoogleCloudConnectorsV1AuthConfig",
      "description": "AuthConfig defines details of a authentication type.",
      "type": "object",
      "properties": {
        "sshPublicKey": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "additionalVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array",
          "description": "List containing additional auth configs."
        },
        "oauth2ClientCredentials": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        },
        "oauth2JwtBearer": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "authType": {
          "description": "The type of authentication configured.",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow"
          ]
        },
        "userPassword": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword",
          "description": "UserPassword."
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "type": "object",
      "properties": {
        "expireAfterMs": {
          "format": "int32",
          "description": "Milliseconds after which the suspension expires, if no action taken.",
          "type": "integer"
        },
        "liftWhenExpired": {
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior.",
          "type": "boolean"
        },
        "remindAfterMs": {
          "type": "integer",
          "format": "int32",
          "description": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED."
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionExpiration"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "properties": {
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        },
        "allowedCredentialTypes": {
          "items": {
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ]
          },
          "type": "array",
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only."
        },
        "authConfigId": {
          "type": "string",
          "description": "UUID of the AuthConfig."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam"
    },
    "EnterpriseCrmEventbusProtoBooleanParameterArray": {
      "id": "EnterpriseCrmEventbusProtoBooleanParameterArray",
      "type": "object",
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
      "description": "This proto holds the core runner data in the bundle task. It is not expected to be directly edited by the user. Instead, a default value will be provided at the task creation time.",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
      "type": "object",
      "properties": {
        "integrations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A bundle of integrations that can be executed by the task at runtime."
        },
        "serviceAccount": {
          "description": "Output only. The service account created and owned by IP and added to the customers GCP project.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "description": "Username and password pair.",
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "type": "object",
      "properties": {
        "password": {
          "description": "Password to be used",
          "type": "string"
        },
        "username": {
          "description": "Username to be used",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmCardsRow": {
      "type": "object",
      "id": "EnterpriseCrmCardsRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmCardsCellValue"
          },
          "description": "Ordered list of cell values within a row."
        }
      }
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "properties": {
        "currentIterationDetail": {
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available.",
          "type": "string"
        },
        "currentIterationCount": {
          "description": "Starting from 1, not 0.",
          "format": "int64",
          "type": "string"
        },
        "errorMsg": {
          "type": "string",
          "description": "Add the error message when loops fail."
        },
        "failureLocation": {
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ],
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ],
          "description": "Indicates where in the loop logic did it error out.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoLoopMetadata",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigUserPassword": {
      "description": "Parameters to support Username and Password Authentication.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigUserPassword",
      "properties": {
        "password": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing the password."
        },
        "username": {
          "type": "string",
          "description": "Username."
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule": {
      "type": "object",
      "properties": {
        "doubleRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
        },
        "stringRegex": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
        },
        "intRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule"
    },
    "EnterpriseCrmEventbusProtoTaskUiConfig": {
      "description": "Task authors would use this type to configure the UI for a particular task by specifying what UI config modules should be included to compose the UI. Learn more about config module framework: go/integration-platform-config-module-framework",
      "id": "EnterpriseCrmEventbusProtoTaskUiConfig",
      "type": "object",
      "properties": {
        "taskUiModuleConfigs": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
          },
          "type": "array",
          "description": "Configurations of included config modules."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest",
      "description": "Request for UploadIntegrationVersion.",
      "properties": {
        "content": {
          "type": "string",
          "description": "The textproto of the integration_version."
        },
        "fileFormat": {
          "type": "string",
          "description": "File format for upload request.",
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        },
        "authConfigs": {
          "description": "The list of AuthConfigs retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          }
        }
      },
      "description": "Response to list AuthConfigs."
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse",
      "properties": {},
      "type": "object",
      "description": "Response for Suspensions.ResolveSuspensions."
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration": {
      "properties": {
        "remindTime": {
          "type": "string",
          "description": "Time after the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "format": "google-datetime"
        },
        "liftWhenExpired": {
          "type": "boolean",
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior."
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time after which the suspension expires, if no action taken."
        }
      },
      "description": "Expiration configs for the approval request.",
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
      "type": "object"
    },
    "GoogleCloudConnectorsV1ConnectionStatus": {
      "description": "ConnectionStatus indicates the state of the connection.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error."
          ],
          "type": "string",
          "description": "State."
        },
        "status": {
          "description": "Status provides detailed information for the state.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description."
        }
      },
      "id": "GoogleCloudConnectorsV1ConnectionStatus",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringFunction"
    },
    "GoogleCloudIntegrationsV1alphaClientCertificate": {
      "type": "object",
      "description": "Contains client certificate information",
      "id": "GoogleCloudIntegrationsV1alphaClientCertificate",
      "properties": {
        "encryptedPrivateKey": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        },
        "sslCertificate": {
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
          "type": "string"
        },
        "passphrase": {
          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Path to the proto file that contains the message type's definition."
        },
        "fullName": {
          "type": "string",
          "description": "The fully-qualified proto name. This message, for example, would be \"enterprise.crm.eventbus.proto.ParamSpecEntry.ProtoDefinition\"."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition"
    },
    "GoogleCloudConnectorsV1NodeConfig": {
      "properties": {
        "maxNodeCount": {
          "type": "integer",
          "description": "Maximum number of nodes in the runtime nodes.",
          "format": "int32"
        },
        "minNodeCount": {
          "description": "Minimum number of nodes in the runtime nodes.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudConnectorsV1NodeConfig",
      "description": "Configuration for the connection.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray",
      "properties": {
        "doubleValues": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse",
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the linked Apps Script project."
        }
      },
      "description": "Response for LinkAppsScriptProject rpc call."
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries": {
      "type": "object",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries",
      "properties": {
        "name": {
          "type": "string"
        },
        "data": {
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesData"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "type": "object",
      "properties": {
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry",
      "description": "Entry is a pair of key and value."
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "label": {
          "description": "User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "taskExecutionStrategy": {
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "type": "string",
          "description": "The policy dictating the execution strategy of this task."
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "precondition": {
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task.",
          "type": "string"
        },
        "nextTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "type": "array"
        },
        "rollbackStrategy": {
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times).",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
        },
        "creatorEmail": {
          "description": "The creator's email address. Auto-generated from the user's email.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description intended to give more business context about the task.",
          "type": "string"
        },
        "nextTasksExecutionPolicy": {
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string"
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "taskTemplateName": {
          "type": "string",
          "description": "Used to define task-template name if task is of type task-template"
        },
        "position": {
          "$ref": "EnterpriseCrmEventbusProtoCoordinate",
          "description": "Optional. Informs the front-end application where to draw this task config on the UI."
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "description": "If set, overrides the option configured in the Task implementation class.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ]
        },
        "taskName": {
          "type": "string",
          "description": "The name for the task."
        },
        "parameters": {
          "type": "object",
          "description": "The customized parameters the user can pass to this task.",
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "alertConfigs": {
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          },
          "type": "array"
        },
        "preconditionLabel": {
          "description": "Optional. User-provided label that is attached to precondition in the UI.",
          "type": "string"
        },
        "taskType": {
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "description": "Defines the type of the task",
          "type": "string",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ]
        },
        "taskNumber": {
          "type": "string",
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`)."
        },
        "successPolicy": {
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy",
          "description": "Determines what action to take upon successful task completion."
        },
        "incomingEdgeCount": {
          "description": "The number of edges leading into this TaskConfig.",
          "type": "integer",
          "format": "int32"
        },
        "disableStrictTypeValidation": {
          "type": "boolean",
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter."
        },
        "taskEntity": {
          "description": "Copy of the task entity that this task config is an instance of.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
        },
        "taskSpec": {
          "type": "string",
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field. Please refer to go/eventbus-task-spec-example for detailed usage example."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent": {
      "type": "object",
      "description": "The components for constructing MashQuery.",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent",
      "properties": {
        "pointOperation": {
          "description": "Optional. optional, Point Operation on single query or joined query.",
          "type": "string"
        },
        "dataFilters": {
          "items": {
            "type": "string"
          },
          "description": "Optional. optional, filters on fetched data, \"metric:client_id\" not supported.",
          "type": "array"
        },
        "fetchFilters": {
          "items": {
            "type": "string"
          },
          "description": "Optional. optional, filters for Fetch Raw, \"metric:client_id\" not supported.",
          "type": "array"
        },
        "groupBy": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
          "description": "Optional. optional, GroupBy variables."
        },
        "borgTaskMetric": {
          "enum": [
            "BORG_TASK_METRIC_UNSPECIFIED",
            "TASK_INDIVIDUAL_COUNT",
            "EVENT_COUNT",
            "EVENT_DURATION",
            "TASK_INDIVIDUAL_DURATION"
          ],
          "description": "Required. The metric for monarch.BorgTask.",
          "enumDescriptions": [
            "Unknown metric",
            "Metric end with: \"/task/individual_count\".",
            "Metric end with: \"/event/count\".",
            "Metric end with: \"/event/duration\".",
            "Metric end with: \"/task/individual_duration\"."
          ],
          "type": "string"
        },
        "timeDelta": {
          "description": "Required. Window time delta.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "int64",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled."
        },
        "endTime": {
          "type": "string",
          "format": "int64",
          "description": "The end time of the event execution for current attempt."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfig": {
      "properties": {
        "alertConfig": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
          },
          "description": "Optional. An alert threshold configuration for the [trigger + client + integration] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + integration] when published."
        },
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular trigger."
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "triggerType": {
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC."
          ],
          "description": "Optional. Type of trigger",
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL"
          ],
          "type": "string"
        },
        "triggerNumber": {
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Optional. The backend trigger ID."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers."
        },
        "startTasks": {
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph).",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "type": "array"
        },
        "nextTasksExecutionPolicy": {
          "description": "Optional. Dictates how next tasks will be executed.",
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfig",
      "description": "Configuration detail of a trigger."
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "description": "Metadata of the execution snapshot.",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata",
      "properties": {
        "taskNumber": {
          "description": "The task number associated with this snapshot.",
          "type": "string"
        },
        "executionAttempt": {
          "type": "integer",
          "format": "int32",
          "description": "the execution attempt number this snapshot belongs to."
        },
        "taskAttempt": {
          "type": "integer",
          "description": "the task attempt number this snapshot belongs to.",
          "format": "int32"
        },
        "task": {
          "type": "string",
          "description": "the task name associated with this snapshot."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
[...]
