{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20221220",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/application-integration",
  "ownerDomain": "google.com",
  "canonicalName": "Integrations",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse",
      "properties": {
        "runtimeEntitySchemas": {
          "description": "Runtime entity schemas.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "description": "Response for listing RuntimeEntitySchemas for a specific Connection.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue": {
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig. See go/eventbus-alert-config-examples",
      "properties": {
        "absolute": {
          "type": "string",
          "format": "int64"
        },
        "percentage": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue"
    },
    "GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListConnectionsResponse",
      "properties": {
        "connections": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Connection"
          },
          "type": "array",
          "description": "Connections."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Response containing Connections listed by region."
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse": {
      "properties": {
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Execution Id that will be returned"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse",
      "description": "Response of lift Suspense",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "id": "EnterpriseCrmEventbusProtoLoopMetadata",
      "type": "object",
      "properties": {
        "errorMsg": {
          "type": "string",
          "description": "Add the error message when loops fail."
        },
        "failureLocation": {
          "description": "Indicates where in the loop logic did it error out.",
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ]
        },
        "currentIterationCount": {
          "type": "string",
          "description": "Starting from 1, not 0.",
          "format": "int64"
        },
        "currentIterationDetail": {
          "type": "string",
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available."
        }
      }
    },
    "EnterpriseCrmEventbusProtoTransformExpression": {
      "properties": {
        "initialValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseValue",
          "description": "Initial value upon which to perform transformations."
        },
        "transformationFunctions": {
          "description": "Transformations to be applied sequentially.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoFunction"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTransformExpression",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "description": "The integration definition.",
      "id": "GoogleCloudIntegrationsV1alphaIntegration",
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "Required. If any integration version is published."
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the integration."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Optional."
        }
      }
    },
    "EnterpriseCrmEventbusStats": {
      "id": "EnterpriseCrmEventbusStats",
      "type": "object",
      "description": "Stats for the requested dimensions: QPS, duration, and error/warning rate",
      "properties": {
        "errorRate": {
          "type": "number",
          "format": "double",
          "description": "Average error rate."
        },
        "warningRate": {
          "description": "Average warning rate.",
          "format": "double",
          "type": "number"
        },
        "durationInSeconds": {
          "description": "Average duration in seconds.",
          "type": "number",
          "format": "double"
        },
        "dimensions": {
          "description": "Dimensions that these stats have been aggregated on.",
          "$ref": "EnterpriseCrmEventbusStatsDimensions"
        },
        "qps": {
          "type": "number",
          "description": "Queries per second.",
          "format": "double"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "type": "object",
      "description": "TaskMetadata are attributes that are associated to every common Task we have. Next available: 26",
      "id": "EnterpriseCrmEventbusProtoTaskMetadata",
      "properties": {
        "externalCategorySequence": {
          "format": "int32",
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users.",
          "type": "integer"
        },
        "description": {
          "type": "string",
          "description": "In a few sentences, describe the purpose and usage of the task."
        },
        "category": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "include connecting to Vector salesforce, CRM Hub Spanner etc. Task entities that derive from a custom task template."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE"
          ]
        },
        "defaultSpec": {
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format.",
          "type": "string"
        },
        "externalDocHtml": {
          "description": "External-facing documention embedded in the RHP for this task.",
          "type": "string"
        },
        "isDeprecated": {
          "type": "boolean",
          "description": "The deprecation status of the current task. Default value is false;"
        },
        "docMarkdown": {
          "type": "string",
          "description": "Snippet of markdown documentation to embed in the RHP for this task."
        },
        "system": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "g3DocLink": {
          "description": "URL to the associated G3 Doc for the task if available",
          "type": "string"
        },
        "admins": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          },
          "type": "array"
        },
        "iconLink": {
          "type": "string",
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format. See go/icons."
        },
        "defaultJsonValidationOption": {
          "type": "string",
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution.",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        },
        "externalDocMarkdown": {
          "type": "string",
          "description": "DEPRECATED: Use external_doc_html."
        },
        "codeSearchLink": {
          "type": "string",
          "description": "The Code Search link to the Task Java file."
        },
        "activeTaskName": {
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name.",
          "type": "string"
        },
        "descriptiveName": {
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")",
          "type": "string"
        },
        "tags": {
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "standaloneExternalDocHtml": {
          "type": "string",
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ],
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE.",
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ]
        },
        "externalCategory": {
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "externalDocLink": {
          "description": "Doc link for external-facing documentation (separate from g3doc).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class."
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringArray"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "properties": {
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "protoValue": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        },
        "jsonValue": {
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        },
        "stringValue": {
          "type": "string"
        }
      },
      "description": "To support various types of parameter values. Next available id: 14",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
    },
    "GoogleCloudIntegrationsV1alphaNextTask": {
      "properties": {
        "taskId": {
          "description": "Task number of the next task.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Standard filter expression for this task to become an eligible next task."
        },
        "displayName": {
          "description": "User-provided label that is attached to this edge in the UI.",
          "type": "string"
        },
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description intended to give additional business context about the task.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaNextTask",
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "properties": {
        "valueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          },
          "type": "array"
        },
        "keyType": {
          "type": "string",
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListExecutionsResponse": {
      "properties": {
        "executionInfos": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
          },
          "description": "Required. The detailed information of requested executions.",
          "type": "array"
        },
        "executions": {
          "description": "The detailed information of requested executions",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page results."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListExecutionsResponse",
      "description": "Response for listing the integration execution data.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest": {
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest",
      "type": "object",
      "description": "Request for DeactivateIntegrationVersion."
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig": {
      "type": "object",
      "description": "Union operation",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig",
      "properties": {
        "reducer": {
          "type": "string",
          "description": "Optional. optional, reduce function"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleResponse": {
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleResponse",
      "properties": {
        "config": {
          "description": "Contains updated bundle config",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "description": "Response message for Bundle update",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "properties": {
        "token": {
          "type": "string",
          "description": "ID token obtained for the service account"
        },
        "audience": {
          "type": "string",
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for."
        },
        "tokenExpireTime": {
          "format": "google-datetime",
          "description": "The approximate time until the token retrieved is valid.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The service account email to be used as the identity for the token."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOidcToken",
      "type": "object",
      "description": "OIDC Token"
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule": {
      "type": "object",
      "properties": {
        "stringRegex": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
        },
        "intRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
        },
        "doubleRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule"
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY"
          ],
          "type": "string",
          "description": "Operation to perform using the configured connection."
        },
        "connection": {
          "description": "User-selected connection.",
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
      "type": "object",
      "properties": {
        "gaiaId": {
          "type": "string",
          "format": "int64"
        },
        "emailAddress": {
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1NodeConfig": {
      "properties": {
        "maxNodeCount": {
          "format": "int32",
          "description": "Maximum number of nodes in the runtime nodes.",
          "type": "integer"
        },
        "minNodeCount": {
          "type": "integer",
          "description": "Minimum number of nodes in the runtime nodes.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1NodeConfig",
      "description": "Node configuration for the connection."
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse": {
      "properties": {
        "integrationVersion": {
          "description": "Version after the lock is acquired by the new user.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        }
      },
      "type": "object",
      "description": "Response for TakeoverEditLock.",
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse"
    },
    "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse": {
      "type": "object",
      "properties": {
        "taskEntities": {
          "type": "array",
          "description": "The list of the tasks.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
          }
        }
      },
      "description": "This is a UI only method and will be moved away. Response for ListTaskEntities.",
      "id": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "properties": {
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution."
        },
        "doNotPropagateError": {
          "type": "boolean",
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "Optional. The id of the ON_HOLD execution to be resumed."
        },
        "triggerId": {
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution. Redacted",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        }
      },
      "type": "object",
      "description": "The request for executing an integration."
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "properties": {
        "sfdcInstances": {
          "description": "The list of SfdcInstances retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          }
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse",
      "description": "Response to list SfdcInstances.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "id": "GoogleCloudIntegrationsV1alphaParameterMap",
      "type": "object",
      "properties": {
        "keyType": {
          "description": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ]
        },
        "entries": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
          },
          "type": "array",
          "description": "A list of parameter map entries."
        },
        "valueType": {
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "type": "string",
          "description": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoProtoArrayFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoArrayFunction"
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "type": "object",
      "description": "AuthConfig defines details of a authentication type.",
      "properties": {
        "additionalVariables": {
          "description": "List containing additional auth configs.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array"
        },
        "oauth2ClientCredentials": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        },
        "userPassword": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword",
          "description": "UserPassword."
        },
        "authType": {
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW"
          ],
          "description": "The type of authentication configured."
        },
        "sshPublicKey": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "oauth2JwtBearer": {
          "description": "Oauth2JwtBearer.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer"
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfig"
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "id": "EnterpriseCrmEventbusProtoBooleanFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfig": {
      "properties": {
        "triggerType": {
          "type": "string",
          "description": "Optional. Type of trigger",
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC.",
            "Trigger by Cloud Scheduler job."
          ],
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "CLOUD_SCHEDULER"
          ]
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI."
        },
        "startTasks": {
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph).",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "type": "array"
        },
        "alertConfig": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
          },
          "type": "array",
          "description": "Optional. An alert threshold configuration for the [trigger + client + integration] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + integration] when published."
        },
        "cloudSchedulerConfig": {
          "description": "Optional. Cloud Scheduler Trigger related metadata",
          "$ref": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig"
        },
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular trigger."
        },
        "triggerId": {
          "description": "Optional. The backend trigger ID.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers."
        },
        "nextTasksExecutionPolicy": {
          "description": "Optional. Dictates how next tasks will be executed.",
          "type": "string",
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        }
      },
      "description": "Configuration detail of a trigger.",
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleRequest": {
      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request to create a new Bundle.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleRequest",
      "properties": {
        "bundleId": {
          "description": "Required. name of the bundle that will be created",
          "type": "string"
        },
        "secondaryCustomerOrgId": {
          "type": "string",
          "description": "Optional. The prefix for the SA, it should be in the format \"o\". This is an optional field, and if empty service account will be created per project, where we are creating bundle. This should only be used as the org ID for which we want to run the integrations in the bundle."
        },
        "integrations": {
          "description": "A list of integrations that can be executed by the bundle",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "id": "EnterpriseCrmEventbusProtoDoubleFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata": {
      "type": "object",
      "description": "Metadata of runtime connection schema.",
      "properties": {
        "actions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of actions."
        },
        "entities": {
          "description": "List of entity names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "int64",
          "description": "The end time of the event execution for current attempt.",
          "type": "string"
        },
        "startTime": {
          "format": "int64",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaGenerateTokenResponse": {
      "description": "Returns success or error message",
      "properties": {
        "message": {
          "description": "The message that notifies the user if the request succeeded or not.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution."
        }
      },
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "properties": {
        "mappedFields": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          },
          "type": "array"
        }
      },
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig"
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "properties": {
        "elementType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Destination node where the edge ends. It can only be a task config.",
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ]
        },
        "elementIdentifier": {
          "description": "Configuration of the edge.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a node identifier (type + id). Next highest id: 3"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "description": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens.",
      "properties": {
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "requestType": {
          "description": "Represent how to pass parameters to fetch access token",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "type": "string",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ]
        },
        "tokenEndpoint": {
          "description": "The token url endpoint to send the token request to.",
          "type": "string"
        },
        "authEndpoint": {
          "description": "The auth url endpoint to send the auth code request to.",
          "type": "string"
        },
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "The access token received from the token endpoint."
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "authCode": {
          "type": "string",
          "description": "The Auth Code that is used to initially retrieve the access token."
        },
        "authParams": {
          "description": "The auth parameters sent along with the auth code request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "The token parameters sent along with the token request."
        },
        "clientId": {
          "type": "string",
          "description": "The client's id."
        },
        "applyReauthPolicy": {
          "type": "boolean",
          "description": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTeardown": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTeardown",
      "properties": {
        "teardownTaskConfigs": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTeardownTaskConfig"
          },
          "description": "Required."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse": {
      "description": "The response for getting Execution stats.",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse",
      "properties": {
        "tableData": {
          "description": "Data in form of table.",
          "$ref": "EnterpriseCrmCardsTabularData"
        },
        "aplosSeriesListData": {
          "description": "List of points.",
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListData"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "type": "object",
      "properties": {
        "helpText": {
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter.",
          "type": "string"
        },
        "inputDisplayOption": {
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ],
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ],
          "type": "string"
        },
        "hideDefaultValue": {
          "type": "boolean",
          "description": "Whether the default value is hidden in the UI."
        },
        "subSectionLabel": {
          "description": "A user-friendly label for subSection under which the parameter will be displayed.",
          "type": "string"
        },
        "uiPlaceholderText": {
          "type": "string",
          "description": "Placeholder text which will appear in the UI input form for this parameter."
        },
        "descriptivePhrase": {
          "type": "string",
          "description": "A short phrase to describe what this parameter contains."
        },
        "isHidden": {
          "description": "Whether this field is hidden in the UI.",
          "type": "boolean"
        },
        "parameterNameOption": {
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ]
        },
        "label": {
          "type": "string",
          "description": "A user-friendly label for the parameter."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
    },
    "EnterpriseCrmCardsRow": {
      "properties": {
        "cells": {
          "items": {
            "$ref": "EnterpriseCrmCardsCellValue"
          },
          "description": "Ordered list of cell values within a row.",
          "type": "array"
        }
      },
      "id": "EnterpriseCrmCardsRow",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "String representation of the integration version."
        }
      },
      "description": "Response for DownloadIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "properties": {
        "properties": {
          "description": "An unordered list of property entries.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "type": "object",
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details."
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse": {
      "properties": {
        "executionInfoIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The execution info id for the executed integrations."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse",
      "type": "object",
      "description": "The response for executing an integration."
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList",
      "properties": {
        "enumStrings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filterType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ]
        }
      },
      "description": "List of error enums for alerts."
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse": {
      "description": "Response for CreateAppsScriptProject rpc call.",
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The created AppsScriptProject ID.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleArray",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "description": "The AuthConfig resource use to hold channels and connection config data.",
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "type": "object",
      "properties": {
        "lastModifierEmail": {
          "type": "string",
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "decryptedCredential": {
          "description": "Raw auth credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCredential"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the auth config."
        },
        "visibility": {
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ],
          "type": "string",
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "description": "The visibility of the auth config."
        },
        "reason": {
          "type": "string",
          "description": "The reason / details of the current status."
        },
        "credentialType": {
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "description": "Credential type of the encrypted credential.",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "type": "string"
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the auth config is modified."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "description": "The status of the auth config.",
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ]
        },
        "validTime": {
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "A description of the auth config.",
          "type": "string"
        },
        "encryptedCredential": {
          "type": "string",
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key.",
          "format": "byte"
        },
        "certificateId": {
          "type": "string",
          "description": "Certificate id for client certificate"
        },
        "createTime": {
          "description": "Output only. The timestamp when the auth config is created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "expiryNotificationDuration": {
          "type": "array",
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours.",
          "items": {
            "type": "string",
            "format": "google-duration"
          }
        },
        "overrideValidTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterEntry": {
      "description": "Key-value pair of EventBus parameters.",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterEntry",
      "properties": {
        "dataType": {
          "description": "Explicitly getting the type of the parameter.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse",
      "properties": {
        "authConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          },
          "type": "array",
          "description": "The list of AuthConfigs retrieved."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        }
      },
      "type": "object",
      "description": "Response to list AuthConfigs."
    },
    "EnterpriseCrmEventbusProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoFunction",
      "properties": {
        "functionType": {
          "$ref": "EnterpriseCrmEventbusProtoFunctionType",
          "description": "The name of the function to perform."
        },
        "parameters": {
          "description": "List of parameters required for the transformation.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "description": "LINT.IfChange",
      "type": "object",
      "properties": {
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "gaiaIdentity": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
          "description": "Represents a Gaia identity for a person or service account."
        },
        "loasRole": {
          "type": "string"
        },
        "mdbGroup": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "description": "Response for LinkAppsScriptProject rpc call.",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse",
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the linked Apps Script project."
        }
      }
    },
    "GoogleCloudConnectorsV1ConnectionStatus": {
      "description": "ConnectionStatus indicates the state of the connection.",
      "properties": {
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status provides detailed information for the state."
        },
        "state": {
          "description": "State.",
          "type": "string",
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1ConnectionStatus"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
      "properties": {
        "percentage": {
          "type": "integer",
          "format": "int32",
          "description": "Percentage threshold."
        },
        "absolute": {
          "description": "Absolute value threshold.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig."
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoProtoFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetails": {
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10",
      "type": "object",
      "properties": {
        "eventAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          },
          "type": "array"
        },
        "nextExecutionTime": {
          "format": "int64",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "type": "string"
        },
        "eventRetriesFromBeginningCount": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the number of times the execution has restarted from the beginning."
        },
        "eventExecutionState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ],
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ]
        },
        "networkAddress": {
          "description": "The network address (aka. bns address) that indicates where the event executor is running.",
          "type": "string"
        },
        "eventExecutionSnapshot": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          }
        },
        "ryeLockUnheldCount": {
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/",
          "type": "integer",
          "format": "int32"
        },
        "logFilePath": {
          "description": "The log file path (aka. cns address) for this event.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetails"
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "id": "GoogleCloudIntegrationsV1alphaTaskConfig",
      "type": "object",
      "properties": {
        "successPolicy": {
          "description": "Optional. Determines what action to take upon successful task completion.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuccessPolicy"
        },
        "taskTemplate": {
          "description": "Optional. Used to define task-template name if task is of type task-template",
          "type": "string"
        },
        "synchronousCallFailurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI."
        },
        "taskExecutionStrategy": {
          "type": "string",
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "description": "Optional. The policy dictating the execution strategy of this task."
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. The customized parameters the user can pass to this task.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          },
          "type": "object"
        },
        "nextTasks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy"
        },
        "nextTasksExecutionPolicy": {
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "type": "string",
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task."
        },
        "task": {
          "description": "Optional. The name for the task.",
          "type": "string"
        },
        "taskId": {
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`).",
          "type": "string"
        },
        "jsonValidationOption": {
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "description": "Optional. If set, overrides the option configured in the Task implementation class.",
          "type": "string",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        }
      },
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task."
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the channel is created"
        },
        "isActive": {
          "type": "boolean",
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it."
        },
        "lastReplayId": {
          "description": "Last sfdc messsage replay id for channel",
          "type": "string"
        },
        "channelTopic": {
          "type": "string",
          "description": "The Channel topic defined by salesforce once an channel is opened"
        },
        "displayName": {
          "type": "string",
          "description": "Client level unique name/alias to easily reference a channel."
        },
        "description": {
          "type": "string",
          "description": "The description for this channel"
        },
        "name": {
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the channel was deleted. Empty if not deleted.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the channel was last updated",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel."
    },
    "GoogleCloudIntegrationsV1alphaGetBundleResponse": {
      "description": "Response for GetBundle.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaGetBundleResponse",
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the bundle data"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterValueType": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterValueType",
      "description": "LINT.IfChange To support various types of parameter values. Next available id: 14",
      "properties": {
        "protoArray": {
          "$ref": "EnterpriseCrmEventbusProtoProtoParameterArray"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleParameterArray"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "stringValue": {
          "type": "string"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringParameterArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntParameterArray"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanParameterArray"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleResponse": {
      "type": "object",
      "description": "Response for create bundle.",
      "properties": {
        "config": {
          "description": "It contains the bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        },
        "triggerId": {
          "description": "trigger_id of the bundle task",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleResponse"
    },
    "GoogleCloudIntegrationsV1alphaParameterMapField": {
      "type": "object",
      "properties": {
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "GoogleCloudIntegrationsV1alphaValueType"
        },
        "referenceKey": {
          "description": "Referencing one of the Integration variables.",
          "type": "string"
        }
      },
      "description": "Field represents either the key or value in an entry.",
      "id": "GoogleCloudIntegrationsV1alphaParameterMapField"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails": {
      "type": "object",
      "properties": {
        "logFilePath": {
          "type": "string",
          "description": "The log file path (aka. cns address) for this event."
        },
        "eventAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          }
        },
        "nextExecutionTime": {
          "format": "int64",
          "type": "string",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD."
        },
        "eventRetriesFromBeginningCount": {
          "format": "int32",
          "description": "Indicates the number of times the execution has restarted from the beginning.",
          "type": "integer"
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        },
        "eventExecutionState": {
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ],
          "description": "The execution state of this event.",
          "type": "string"
        },
        "eventExecutionSnapshot": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
          },
          "type": "array",
          "description": "After snapshot migration, this field will no longer be populated, but old execution snapshots will still be accessible."
        },
        "ryeLockUnheldCount": {
          "format": "int32",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/",
          "type": "integer"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10"
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "type": "object",
      "properties": {
        "intValue": {
          "type": "string",
          "description": "Integer.",
          "format": "int64"
        },
        "doubleArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray",
          "description": "Double Number Array."
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Double Number."
        },
        "intArray": {
          "description": "Integer Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray"
        },
        "stringValue": {
          "description": "String.",
          "type": "string"
        },
        "jsonValue": {
          "description": "Json.",
          "type": "string"
        },
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
        },
        "booleanValue": {
          "description": "Boolean.",
          "type": "boolean"
        },
        "stringArray": {
          "description": "String Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray"
        }
      },
      "description": "The type of the parameter.",
      "id": "GoogleCloudIntegrationsV1alphaValueType"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
      "description": "This proto holds the core runner data in the bundle task. It is not expected to be directly edited by the user. Instead, a default value will be provided at the task creation time.",
      "type": "object",
      "properties": {
        "integrations": {
          "description": "A bundle of integrations that can be executed by the task at runtime.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "type": "string",
          "description": "Output only. The service account created and owned by IP and added to the customers GCP project.",
          "readOnly": true
        }
      }
    },
    "EnterpriseCrmEventbusProtoCombinedCondition": {
      "id": "EnterpriseCrmEventbusProtoCombinedCondition",
      "description": "This message recursively combines constituent conditions using logical AND.",
      "type": "object",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCondition"
          },
          "description": "A set of individual constituent conditions."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent": {
      "description": "The components for constructing MashQuery.",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent",
      "type": "object",
      "properties": {
        "pointOperation": {
          "description": "Optional. optional, Point Operation on single query or joined query.",
          "type": "string"
        },
        "borgTaskMetric": {
          "description": "Required. The metric for monarch.BorgTask.",
          "enum": [
            "BORG_TASK_METRIC_UNSPECIFIED",
            "TASK_INDIVIDUAL_COUNT",
            "EVENT_COUNT",
            "EVENT_DURATION",
            "TASK_INDIVIDUAL_DURATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown metric",
            "Metric end with: \"/task/individual_count\".",
            "Metric end with: \"/event/count\".",
            "Metric end with: \"/event/duration\".",
            "Metric end with: \"/task/individual_duration\"."
          ]
        },
        "fetchFilters": {
          "description": "Optional. optional, filters for Fetch Raw, \"metric:client_id\" not supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groupBy": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
          "description": "Optional. optional, GroupBy variables."
        },
        "dataFilters": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. optional, filters on fetched data, \"metric:client_id\" not supported."
        },
        "timeDelta": {
          "type": "string",
          "description": "Required. Window time delta."
        }
      }
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "id": "EnterpriseCrmEventbusStatsDimensions",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "taskNumber": {
          "type": "string"
        },
        "workflowName": {
          "type": "string"
        },
        "triggerId": {
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination.",
          "type": "string"
        },
        "taskName": {
          "type": "string"
        },
        "enumFilterType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Whether to include or exclude the enums matching the regex.",
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ]
        },
        "warningEnumString": {
          "type": "string"
        },
        "retryAttempt": {
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ],
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ],
          "type": "string"
        },
        "errorEnumString": {
          "type": "string"
        },
        "workflowId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          }
        }
      }
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "description": "Define the Connectors target endpoint.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key is the destination identifier that is supported by the Connector.",
          "type": "string"
        },
        "destinations": {
          "description": "The destinations for the key.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudConnectorsV1DestinationConfig"
    },
    "GoogleCloudIntegrationsV1alphaListCertificatesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        },
        "certificates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
          },
          "description": "The list of Certificates retrieved."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListCertificatesResponse",
      "description": "Response to list Certificates."
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse",
      "description": "Response for DeactivateIntegrationVersion.",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "properties": {
        "errorMessage": {
          "description": "The full text of the error message, including any parameters that were thrown along with the exception.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ],
          "description": "The severity of the error: ERROR|WARN|INFO.",
          "type": "string"
        },
        "taskNumber": {
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level.",
          "format": "int32",
          "type": "integer"
        },
        "errorCode": {
          "description": "The associated error-code, which can be a common or internal code.",
          "$ref": "CrmlogErrorCode"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoErrorDetail",
      "description": "An error, warning, or information message associated with a workflow."
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse",
      "description": "Response for ValidateIntegrationVersion."
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray",
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        },
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        }
      },
      "description": "Field represents either the key or value in an entry.",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "id": "GoogleCloudIntegrationsV1alphaStringParameterArray",
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "String array."
        }
      },
      "description": "This message only contains a field of string array.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "properties": {
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "clientId": {
          "description": "The client's ID.",
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "tokenParams": {
          "description": "Token parameters for the auth request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "username": {
          "type": "string",
          "description": "The user's username."
        },
        "password": {
          "description": "The user's password.",
          "type": "string"
        },
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "requestType": {
          "description": "Represent how to pass parameters to fetch access token",
          "type": "string",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
      "description": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token."
    },
    "GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "properties": {
        "value": {
          "description": "Value of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        },
        "key": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField",
          "description": "Key of the map entry."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMapEntry",
      "description": "Entry is a pair of key and value."
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse",
      "type": "object",
      "description": "Response for PublishIntegrationVersion.",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "properties": {
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "baseFunction": {
          "description": "LINT.IfChange",
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction"
        },
        "jsonFunction": {
          "description": "LINT.ThenChange(//depot/google3/alkali/apps/integrationplatform/client/workflow_editor/utils/transform_function.ts)",
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
[...]
