{
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "revision": "20230103",
  "title": "Application Integration API",
  "documentationLink": "https://cloud.google.com/application-integration",
  "rootUrl": "https://integrations.googleapis.com/",
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "name": "integrations",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version": "v1",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "id": "integrations:v1",
  "baseUrl": "https://integrations.googleapis.com/",
  "canonicalName": "Integrations",
  "description": "",
  "schemas": {
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoFunction",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleResponse": {
      "description": "Response message for Bundle update",
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "Contains updated bundle config"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetails": {
      "description": "Contains the details of the execution of this task. Next available id: 11",
      "properties": {
        "taskAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
          }
        },
        "taskExecutionState": {
          "enumDescriptions": [
            "",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ]
        },
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetails",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCombinedCondition": {
      "properties": {
        "conditions": {
          "description": "A set of individual constituent conditions.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCondition"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "This message recursively combines constituent conditions using logical AND.",
      "id": "EnterpriseCrmEventbusProtoCombinedCondition"
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "properties": {
        "iconLink": {
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format. See go/icons.",
          "type": "string"
        },
        "externalDocMarkdown": {
          "type": "string",
          "description": "DEPRECATED: Use external_doc_html."
        },
        "defaultSpec": {
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format.",
          "type": "string"
        },
        "isDeprecated": {
          "type": "boolean",
          "description": "The deprecation status of the current task. Default value is false;"
        },
        "system": {
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words."
        },
        "descriptiveName": {
          "type": "string",
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")"
        },
        "standaloneExternalDocHtml": {
          "type": "string",
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html"
        },
        "defaultJsonValidationOption": {
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        },
        "status": {
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ],
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ]
        },
        "admins": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          },
          "type": "array"
        },
        "externalDocLink": {
          "description": "Doc link for external-facing documentation (separate from g3doc).",
          "type": "string"
        },
        "codeSearchLink": {
          "description": "The Code Search link to the Task Java file.",
          "type": "string"
        },
        "g3DocLink": {
          "description": "URL to the associated G3 Doc for the task if available",
          "type": "string"
        },
        "docMarkdown": {
          "description": "Snippet of markdown documentation to embed in the RHP for this task.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "In a few sentences, describe the purpose and usage of the task."
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "include connecting to Vector salesforce, CRM Hub Spanner etc. Task entities that derive from a custom task template."
          ],
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE"
          ]
        },
        "externalDocHtml": {
          "type": "string",
          "description": "External-facing documention embedded in the RHP for this task."
        },
        "externalCategory": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS"
          ]
        },
        "name": {
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class.",
          "type": "string"
        },
        "activeTaskName": {
          "type": "string",
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name."
        },
        "externalCategorySequence": {
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "TaskMetadata are attributes that are associated to every common Task we have. Next available: 26",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskMetadata"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "properties": {
        "description": {
          "description": "User-provided description intended to give more business context about the task.",
          "type": "string"
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this task config on the UI.",
          "$ref": "EnterpriseCrmEventbusProtoCoordinate"
        },
        "label": {
          "description": "User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "successPolicy": {
          "description": "Determines what action to take upon successful task completion.",
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy"
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "rollbackStrategy": {
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times).",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
        },
        "taskName": {
          "description": "The name for the task.",
          "type": "string"
        },
        "nextTasksExecutionPolicy": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "taskExecutionStrategy": {
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "type": "string",
          "description": "The policy dictating the execution strategy of this task."
        },
        "taskTemplateName": {
          "description": "Used to define task-template name if task is of type task-template",
          "type": "string"
        },
        "precondition": {
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task.",
          "type": "string"
        },
        "taskNumber": {
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`).",
          "type": "string"
        },
        "disableStrictTypeValidation": {
          "type": "boolean",
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter."
        },
        "jsonValidationOption": {
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "description": "If set, overrides the option configured in the Task implementation class.",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "type": "string"
        },
        "nextTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "type": "array",
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "failurePolicy": {
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.)."
        },
        "alertConfigs": {
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          }
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "taskSpec": {
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field. Please refer to go/eventbus-task-spec-example for detailed usage example.",
          "type": "string"
        },
        "preconditionLabel": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to precondition in the UI."
        },
        "incomingEdgeCount": {
          "description": "The number of edges leading into this TaskConfig.",
          "format": "int32",
          "type": "integer"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "object",
          "description": "The customized parameters the user can pass to this task."
        },
        "taskEntity": {
          "description": "Copy of the task entity that this task config is an instance of.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
        },
        "taskType": {
          "description": "Defines the type of the task",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "type": "string",
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest",
      "description": "Request for ValidateIntegrationVersion.",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats",
      "properties": {
        "startTime": {
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "int64",
          "type": "string"
        },
        "endTime": {
          "format": "int64",
          "type": "string",
          "description": "The end time of the event execution for current attempt."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSfdcInstance": {
      "description": "The SfdcInstance resource use to hold channels and connection config data.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the sfdc instance."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the instance is created",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "User selected unique name/alias to easily reference an instance.",
          "type": "string"
        },
        "serviceAuthority": {
          "description": "URL used for API calls after authentication (the login authority is configured within the referenced AuthConfig).",
          "type": "string"
        },
        "authConfigId": {
          "description": "A list of AuthConfigs that can be tried to open the channel to SFDC",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}.",
          "type": "string"
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the instance was deleted. Empty if not deleted.",
          "readOnly": true
        },
        "sfdcOrgId": {
          "description": "The SFDC Org Id. This is defined in salesforce.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when the instance was last updated",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSfdcInstance"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails": {
      "type": "object",
      "properties": {
        "eventExecutionState": {
          "description": "The execution state of this event.",
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ],
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "logFilePath": {
          "type": "string",
          "description": "The log file path (aka. cns address) for this event."
        },
        "eventRetriesFromBeginningCount": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the number of times the execution has restarted from the beginning."
        },
        "eventAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          },
          "type": "array"
        },
        "eventExecutionSnapshot": {
          "description": "After snapshot migration, this field will no longer be populated, but old execution snapshots will still be accessible.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        },
        "ryeLockUnheldCount": {
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/",
          "type": "integer",
          "format": "int32"
        },
        "nextExecutionTime": {
          "type": "string",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "format": "int64"
        }
      },
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails"
    },
    "GoogleCloudIntegrationsV1alphaIntParameterArray": {
      "id": "GoogleCloudIntegrationsV1alphaIntParameterArray",
      "description": "This message only contains a field of integer array.",
      "type": "object",
      "properties": {
        "intValues": {
          "description": "Integer array.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution."
        }
      },
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters.",
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters"
    },
    "GoogleCloudConnectorsV1AuthConfigUserPassword": {
      "properties": {
        "username": {
          "type": "string",
          "description": "Username."
        },
        "password": {
          "description": "Secret version reference containing the password.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "description": "Parameters to support Username and Password Authentication.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigUserPassword"
    },
    "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy": {
      "description": "Next available id: 4",
      "type": "object",
      "properties": {
        "rollbackTaskImplementationClassName": {
          "description": "Required. This is the name of the task that needs to be executed upon rollback of this task.",
          "type": "string"
        },
        "taskNumbersToRollback": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. These are the tasks numbers of the tasks whose `rollback_strategy.rollback_task_implementation_class_name` needs to be executed upon failure of this task."
        },
        "parameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Optional. The customized parameters the user can pass to this task."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshot": {
      "type": "object",
      "description": "Contains the snapshot of the execution for a given checkpoint.",
      "properties": {
        "checkpointTaskNumber": {
          "description": "Indicates \"after which checkpoint task's execution\" this snapshot is taken.",
          "type": "string"
        },
        "executionSnapshotMetadata": {
          "description": "Metadata of the execution snapshot.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata"
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Parameters used during the execution."
        },
        "taskExecutionDetails": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
          },
          "description": "All of the task execution details at the given point of time."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshot"
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "properties": {
        "finalState": {
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ]
        }
      },
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "id": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
      "properties": {
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "applyReauthPolicy": {
          "description": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one.",
          "type": "boolean"
        },
        "authEndpoint": {
          "type": "string",
          "description": "The auth url endpoint to send the auth code request to."
        },
        "requestType": {
          "description": "Represent how to pass parameters to fetch access token",
          "type": "string",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ]
        },
        "tokenParams": {
          "description": "The token parameters sent along with the token request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "authParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "The auth parameters sent along with the auth code request."
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token url endpoint to send the token request to."
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "clientId": {
          "description": "The client's id.",
          "type": "string"
        },
        "authCode": {
          "type": "string",
          "description": "The Auth Code that is used to initially retrieve the access token."
        },
        "accessToken": {
          "description": "The access token received from the token endpoint.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        }
      },
      "description": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens."
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "properties": {
        "outputField": {
          "description": "The output field being mapped to.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        },
        "inputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The input field being mapped from."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoMappedField",
      "description": "Mapped field is a pair of input field and output field. Next Id: 3"
    },
    "GoogleCloudIntegrationsV1alphaListSuspensionsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse",
      "description": "Response for Suspensions.ListSuspensions.",
      "properties": {
        "suspensions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
          },
          "description": "The suspensions for the relevant execution which the caller has permissions to view and resolve.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results."
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims": {
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "type": "object",
      "properties": {
        "audience": {
          "description": "Value for the \"aud\" claim.",
          "type": "string"
        },
        "issuer": {
          "type": "string",
          "description": "Value for the \"iss\" claim."
        },
        "subject": {
          "type": "string",
          "description": "Value for the \"sub\" claim."
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims"
    },
    "GoogleCloudIntegrationsV1alphaBooleanParameterArray": {
      "id": "GoogleCloudIntegrationsV1alphaBooleanParameterArray",
      "description": "This message only contains a field of boolean array.",
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "description": "Boolean array.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "type": "object",
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2",
      "properties": {
        "mappedFields": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          }
        }
      }
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "properties": {
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        },
        "testMode": {
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required."
        },
        "parameters": {
          "description": "Passed in as parameters to each workflow execution. Optional.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "workflowName": {
          "type": "string",
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow."
        },
        "priority": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ],
          "description": "The request priority this request should be processed at. For internal users:"
        },
        "scheduledTime": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled."
        },
        "clientId": {
          "type": "string",
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients."
        }
      },
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema",
      "type": "object",
      "description": "Metadata of an entity, including a schema for its properties.",
      "properties": {
        "arrayFieldSchema": {
          "description": "The above schema, but for an array of the associated entity.",
          "type": "string"
        },
        "entity": {
          "type": "string",
          "description": "Name of the entity."
        },
        "fieldSchema": {
          "type": "string",
          "description": "List of fields in the entity."
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest",
      "type": "object",
      "description": "The request for testing an integration.",
      "properties": {
        "clientId": {
          "description": "Required. This is used to identify the client on whose behalf the event will be executed.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Required. The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object",
          "description": "Optional. Input parameters used during integration execution."
        },
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "deadlineSecondsTime": {
          "format": "google-datetime",
          "description": "Optional. custom deadline of the rpc",
          "type": "string"
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Can be specified in the event request, otherwise false (default). If true, enables tasks with condition \"test_mode = true\". If false, disables tasks with condition \"test_mode = true\" if global test mode (set by platform) is also false {@link EventBusConfig}."
        },
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "Required. integration config to execute the workflow"
        }
      }
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction"
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "type": "object",
      "description": "Represents external traffic type and id.",
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "properties": {
        "source": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ]
        },
        "location": {
          "type": "string",
          "description": "Location for the user's request."
        },
        "gcpProjectId": {
          "description": "User’s GCP project id the traffic is referring to.",
          "type": "string"
        },
        "gcpProjectNumber": {
          "description": "User’s GCP project number the traffic is referring to.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit": {
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "resolvedByCpi": {
          "type": "string"
        },
        "resolvedBy": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "properties": {
        "keyType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          }
        },
        "valueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "type": "object",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified."
    },
    "GoogleCloudIntegrationsV1alphaListCertificatesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        },
        "certificates": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
          },
          "type": "array",
          "description": "The list of Certificates retrieved."
        }
      },
      "description": "Response to list Certificates.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest",
      "description": "Request for TakeoverEditLock.",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse",
      "description": "This is a UI only method and will be moved away. Response for ListTaskEntities.",
      "properties": {
        "taskEntities": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
          },
          "type": "array",
          "description": "The list of the tasks."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "Password to be used"
        },
        "username": {
          "type": "string",
          "description": "Username to be used"
        }
      },
      "description": "Username and password pair."
    },
    "EnterpriseCrmEventbusProtoDoubleArray": {
      "id": "EnterpriseCrmEventbusProtoDoubleArray",
      "properties": {
        "values": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleFunction"
    },
    "EnterpriseCrmEventbusStats": {
      "type": "object",
      "properties": {
        "qps": {
          "description": "Queries per second.",
          "format": "double",
          "type": "number"
        },
        "dimensions": {
          "description": "Dimensions that these stats have been aggregated on.",
          "$ref": "EnterpriseCrmEventbusStatsDimensions"
        },
        "warningRate": {
          "format": "double",
          "description": "Average warning rate.",
          "type": "number"
        },
        "errorRate": {
          "type": "number",
          "description": "Average error rate.",
          "format": "double"
        },
        "durationInSeconds": {
          "description": "Average duration in seconds.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "EnterpriseCrmEventbusStats",
      "description": "Stats for the requested dimensions: QPS, duration, and error/warning rate"
    },
    "GoogleCloudIntegrationsV1alphaClientConfig": {
      "id": "GoogleCloudIntegrationsV1alphaClientConfig",
      "type": "object",
      "description": "The configuration information for the Client",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The GCP project id of the client associated with"
        },
        "cloudLoggingConfig": {
          "description": "Determines the cloud logging configuration for the project",
          "$ref": "GoogleCloudIntegrationsV1alphaCloudLoggingConfig"
        },
        "description": {
          "type": "string",
          "description": "Description of what the client is used for"
        },
        "cloudKmsConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudKmsConfig",
          "description": "Cloud KMS config for Auth Module to encrypt/decrypt credentials."
        },
        "p4ServiceAccount": {
          "description": "The P4SA account associated with this client",
          "type": "string"
        },
        "clientState": {
          "enum": [
            "CLIENT_STATE_UNSPECIFIED",
            "CLIENT_STATE_ACTIVE",
            "CLIENT_STATE_DISABLED"
          ],
          "enumDescriptions": [
            "The client state is unspecified",
            "The client is active and able to make calls to the IP APIs",
            "The client is disabled and will soon be deleted"
          ],
          "description": "Indicates the activity state the client",
          "type": "string"
        },
        "billingType": {
          "enumDescriptions": [
            "Unspecified billing type",
            "A trial org provisioned through Apigee Provisioning Wizard",
            "Subscription based users of Apigee",
            "Consumption based users of IP"
          ],
          "type": "string",
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "BILLING_TYPE_APIGEE_TRIALS",
            "BILLING_TYPE_APIGEE_SUBSCRIPTION",
            "BILLING_TYPE_PAYG"
          ],
          "description": "Indicates the billing type of the client"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The timestamp when the client was first created.",
          "type": "string"
        },
        "id": {
          "description": "Globally unique ID (project_id + region)",
          "type": "string"
        },
        "region": {
          "description": "The region the client is linked to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1Secret": {
      "description": "Secret provides a reference to entries in Secret Manager.",
      "id": "GoogleCloudConnectorsV1Secret",
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTaskAlertConfig": {
      "properties": {
        "clientId": {
          "description": "Client associated with this alert configuration. Must be a client enabled in one of the containing workflow's triggers.",
          "type": "string"
        },
        "metricType": {
          "type": "string",
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors (potentially for a specific set of enum values) for the enclosing TaskConfig.",
            "Specifies alerting on the rate of warnings (potentially for a specific set of enum values) for the enclosing TaskConfig. Warnings use the same enum values as errors.",
            "Specifies alerting on the number of instances for the enclosing TaskConfig executed in the given aggregation_period.",
            "Specifies alerting on the average duration of execution for the enclosing task.",
            "Specifies alerting on the duration of a particular percentile of task executions. E.g. If 10% or more of the task executions have durations above 5 seconds, alert."
          ],
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ]
        },
        "thresholdType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ],
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "description": "The threshold type for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired."
        },
        "aggregationPeriod": {
          "type": "string",
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week)."
        },
        "alertDisabled": {
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert.",
          "type": "boolean"
        },
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "numAggregationPeriods": {
          "format": "int32",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "type": "integer"
        },
        "durationThresholdMs": {
          "description": "Should be specified only for TASK_AVERAGE_DURATION and TASK_PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "type": "string",
          "format": "int64"
        },
        "onlyFinalAttempt": {
          "description": "Only count final task attempts, not retries.",
          "type": "boolean"
        },
        "alertName": {
          "type": "string",
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique in within the scope of the containing workflow."
        },
        "thresholdValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered."
        }
      },
      "type": "object",
      "description": "Message to be used to configure alerting in the {@code TaskConfig} protos for tasks in an event. See go/eventbus-alert-config-examples for examples of the different alerts that can be configured.",
      "id": "EnterpriseCrmEventbusProtoTaskAlertConfig"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterEntry": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterEntry",
      "properties": {
        "dataType": {
          "type": "string",
          "description": "Explicitly getting the type of the parameter.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition."
        }
      },
      "description": "Key-value pair of EventBus parameters."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "properties": {
        "gaiaIdentity": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
          "description": "Represents a Gaia identity for a person or service account."
        },
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "loasRole": {
          "type": "string"
        },
        "mdbGroup": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions",
      "description": "LINT.IfChange"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry": {
      "type": "object",
      "description": "Key-value pair of EventBus task parameters. Next id: 13",
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry",
      "properties": {
        "config": {
          "description": "Optional fields, such as help text and other useful info.",
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
        },
        "protoDef": {
          "description": "Populated if this represents a proto or proto array.",
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition"
        },
        "collectionElementClassName": {
          "type": "string",
          "description": "If it is a collection of objects, this would be the FCQN of every individual element in the collection. If this is \"java.lang.Object\", the parameter is a collection of any type."
        },
        "isDeprecated": {
          "type": "boolean",
          "description": "If set, this entry is deprecated, so further use of this parameter should be prohibited."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given task. These parameters must be predefined in the workflow definition."
        },
        "jsonSchema": {
          "description": "If the data_type is JSON_VALUE, then this will define its schema.",
          "type": "string"
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "validationRule": {
          "description": "Rule used to validate inputs (individual values and collection elements) for this parameter.",
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule"
        },
        "dataType": {
          "description": "The data type of the parameter.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "required": {
          "type": "boolean",
          "description": "If set, the user must provide an input value for this parameter."
        },
        "className": {
          "type": "string",
          "description": "The FQCN of the Java object this represents. A string, for example, would be \"java.lang.String\". If this is \"java.lang.Object\", the parameter can be of any type."
        },
        "isOutput": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "runtimeEntitySchemas": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
          },
          "description": "Runtime entity schemas.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for listing RuntimeEntitySchemas for a specific Connection.",
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse"
    },
    "GoogleCloudIntegrationsV1alphaTaskExecutionDetails": {
      "description": "Contains the details of the execution of this task.",
      "type": "object",
      "properties": {
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        },
        "taskAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          },
          "description": "Status for the current task execution attempt."
        },
        "taskExecutionState": {
          "description": "The execution state of this task.",
          "type": "string",
          "enum": [
            "TASK_EXECUTION_STATE_UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELLED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig",
      "properties": {
        "connection": {
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection",
          "description": "User-selected connection."
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Operation to perform using the configured connection.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY"
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoPropertyEntry",
      "description": "Key-value pair of EventBus property."
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray",
      "type": "object"
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6",
      "properties": {
        "shortenerType": {
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ]
        },
        "logType": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ]
          },
          "type": "array",
          "description": "To which type(s) of logs the limits apply."
        },
        "logAction": {
          "type": "string",
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "maxArraySize": {
          "type": "integer",
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated.",
          "format": "int32"
        },
        "maxStringLength": {
          "description": "maximum string length. If the field exceeds this amount the field is shortened.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "EnterpriseCrmLoggingGwsFieldLimits",
      "type": "object"
    },
    "GoogleCloudConnectorsV1ConnectionStatus": {
      "description": "ConnectionStatus indicates the state of the connection.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description."
        },
        "state": {
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error."
          ],
          "type": "string",
          "description": "State.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR"
          ]
        },
        "status": {
          "type": "string",
          "description": "Status provides detailed information for the state."
        }
      },
      "id": "GoogleCloudConnectorsV1ConnectionStatus",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes.",
      "type": "object",
      "properties": {
        "tokens": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          },
          "type": "array"
        },
        "email": {
          "type": "string",
          "description": "Required."
        },
        "name": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoAddress"
    },
    "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest",
      "properties": {
        "projectId": {
          "description": "Indicates the id of the GCP project that the function will be created in.",
          "type": "string"
        },
        "functionRegion": {
          "description": "The function region of CF to be created",
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "The function name of CF to be created"
        }
      },
      "description": "Request for Creating Cloud Function rpc call.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse": {
      "properties": {
        "triggerUrl": {
          "type": "string",
          "description": "The trigger url that will be returned"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse",
      "description": "Response for Creating Cloud Function rpc call.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse": {
      "type": "object",
      "description": "Response for PublishIntegrationVersion.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "id": "EnterpriseCrmEventbusStatsDimensions",
      "properties": {
        "workflowName": {
          "type": "string"
        },
        "workflowId": {
          "type": "string"
        },
        "warningEnumString": {
          "type": "string"
        },
        "errorEnumString": {
          "type": "string"
        },
        "taskName": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination."
        },
        "enumFilterType": {
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Whether to include or exclude the enums matching the regex."
        },
        "taskNumber": {
          "type": "string"
        },
        "retryAttempt": {
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "properties": {
        "intValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntParameterArray"
    },
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
      "type": "object",
      "properties": {
        "traceId": {
          "description": "Used to aggregate ExecutionTraceInfo.",
          "type": "string"
        },
        "parentEventExecutionInfoId": {
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask.",
          "type": "string"
        }
      },
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships."
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "description": "Response for LinkAppsScriptProject rpc call.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse",
      "properties": {
        "scriptId": {
          "description": "The id of the linked Apps Script project.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoIntArray": {
      "id": "EnterpriseCrmEventbusProtoIntArray",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "properties": {
        "requestId": {
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)"
        },
        "inputParameters": {
          "description": "Optional. Input parameters used by integration execution.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        },
        "scheduleTime": {
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
          "format": "google-datetime",
          "type": "string"
        },
        "parameterEntries": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each integration execution."
        }
      },
      "type": "object",
      "description": "The request for scheduling an integration.",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
    },
    "GoogleCloudIntegrationsV1alphaParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "keyType": {
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "description": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string"
        },
        "entries": {
          "description": "A list of parameter map entries.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
          }
        },
        "valueType": {
          "type": "string",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "description": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMap"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "description": "Metadata of the execution snapshot.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata",
      "properties": {
        "taskAttempt": {
          "type": "integer",
          "description": "the task attempt number this snapshot belongs to.",
          "format": "int32"
        },
        "taskNumber": {
          "type": "string",
          "description": "The task number associated with this snapshot."
        },
        "executionAttempt": {
          "format": "int32",
          "description": "the execution attempt number this snapshot belongs to.",
          "type": "integer"
        },
        "task": {
          "type": "string",
          "description": "the task name associated with this snapshot."
        }
      }
    },
    "EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSerializedObjectParameter",
      "properties": {
        "objectValue": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest": {
      "id": "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest",
      "description": "Request for the Deprovision rpc",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaNextTask": {
      "type": "object",
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "id": "GoogleCloudIntegrationsV1alphaNextTask",
      "properties": {
        "description": {
          "description": "User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-provided label that is attached to this edge in the UI."
        },
        "taskId": {
          "type": "string",
          "description": "Task number of the next task."
        },
        "taskConfigId": {
          "description": "ID of the next task.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Standard filter expression for this task to become an eligible next task."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthToken",
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "properties": {
        "token": {
          "description": "The token for the auth type.",
          "type": "string"
        },
        "type": {
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition.",
      "properties": {
        "displayName": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "GoogleCloudIntegrationsV1alphaValueType"
        },
        "searchable": {
          "description": "Searchable in the execution log or not.",
          "type": "boolean"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter.",
          "type": "boolean"
        },
        "dataType": {
          "description": "Type of the parameter.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "type": "string",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ]
        },
        "producer": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "type": "string"
        },
        "inputOutputType": {
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "type": "string",
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig": {
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event.",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig",
      "properties": {
        "metricType": {
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "type": "string",
          "description": "The type of metric.",
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing integration.",
            "Specifies alerting on the rate of warnings for the enclosing integration. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing integration.",
            "Specifies alerting on the rate of warnings for any task in the enclosing integration.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing integration.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this integration.",
            "Specifies alerting on the duration value of a particular percentile of integration executions. E.g. If 10% or more of the integration executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing integration,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing integration. E.g. If 10% or more of the task executions in the integration have durations above 5 seconds, alert."
          ]
        },
        "thresholdType": {
          "enum": [
            "THRESHOLD_TYPE_UNSPECIFIED",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Note that this field will only trigger alerts if the integration specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours. Min value threshold.",
            "Max value threshold."
          ]
        },
        "aggregationPeriod": {
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week). For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours.",
          "type": "string"
        },
        "alertThreshold": {
          "type": "integer",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "format": "int32"
        },
        "thresholdValue": {
          "description": "The metric value, above or below which the alert should be triggered.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue"
        },
        "displayName": {
          "description": "Name of the alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the integration.",
          "type": "string"
        },
        "disableAlert": {
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this integration alert.",
          "type": "boolean"
        },
        "durationThreshold": {
          "format": "google-duration",
          "type": "string",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger."
        },
        "onlyFinalAttempt": {
          "type": "boolean",
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleResponse": {
      "properties": {
        "triggerId": {
          "description": "trigger_id of the bundle task",
          "type": "string"
        },
        "config": {
[...]
