{
  "ownerName": "Google",
  "version_module": true,
  "batchPath": "batch",
  "servicePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaGenerateTokenResponse": {
      "description": "Returns success or error message",
      "properties": {
        "message": {
          "description": "The message that notifies the user if the request succeeded or not.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest": {
      "properties": {},
      "description": "Request for ArchiveIntegrationVersion.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest"
    },
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "description": "Response to list AuthConfigs.",
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        },
        "authConfigs": {
          "description": "The list of AuthConfigs retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig": {
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
      "properties": {
        "emailAddresses": {
          "description": "Email addresses to send approval request to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "customMessage": {
          "description": "Information to provide for recipients.",
          "type": "string"
        },
        "expiration": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
          "description": "Indicates the next steps when no external actions happen on the suspension."
        }
      },
      "type": "object",
      "description": "Configurations for approving the Suspension."
    },
    "EnterpriseCrmEventbusProtoToken": {
      "id": "EnterpriseCrmEventbusProtoToken",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFunction": {
      "properties": {
        "functionType": {
          "description": "The name of the function to perform.",
          "$ref": "EnterpriseCrmEventbusProtoFunctionType"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
          },
          "description": "List of parameters required for the transformation."
        }
      },
      "id": "EnterpriseCrmEventbusProtoFunction",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "description": "Username and password pair.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Username to be used"
        },
        "password": {
          "description": "Password to be used",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "description": "Response to list SfdcInstances.",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse",
      "properties": {
        "sfdcInstances": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          },
          "description": "The list of SfdcInstances retrieved.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse": {
      "properties": {
        "noPermission": {
          "description": "Whether the user has no permission on the version or not.",
          "type": "boolean"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "integrationVersions": {
          "description": "The integrations which match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse",
      "description": "Response for ListIntegrationVersions.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "description": "Field represents either the key or value in an entry.",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "properties": {
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse",
      "properties": {
        "executionInfoIds": {
          "description": "The execution info id for the executed integrations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response for executing an integration."
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "description": "Request for PublishIntegrationVersion.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanFunction"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest": {
      "type": "object",
      "properties": {},
      "description": "Request for TakeoverEditLock.",
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetails": {
      "properties": {
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        },
        "taskAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
          },
          "type": "array"
        },
        "taskExecutionState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "enum": [
            "UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetails",
      "description": "Contains the details of the execution of this task. Next available id: 11",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigSshPublicKey": {
      "properties": {
        "sshClientCert": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "SSH Client Cert. It should contain both public and private key."
        },
        "sshClientCertPass": {
          "description": "Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "username": {
          "type": "string",
          "description": "The user account used to authenticate."
        },
        "certType": {
          "description": "Format of SSH Client cert.",
          "type": "string"
        }
      },
      "description": "Parameters to support Ssh public key Authentication.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigSshPublicKey"
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "id": "GoogleCloudIntegrationsV1alphaValueType",
      "properties": {
        "stringArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray",
          "description": "String Array."
        },
        "stringValue": {
          "description": "String.",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Double Number."
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean."
        },
        "jsonValue": {
          "type": "string",
          "description": "Json."
        },
        "intArray": {
          "description": "Integer Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray"
        },
        "intValue": {
          "format": "int64",
          "description": "Integer.",
          "type": "string"
        },
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
        },
        "doubleArray": {
          "description": "Double Number Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
        }
      },
      "description": "The type of the parameter.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "type": "array",
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained."
        },
        "executionTraceInfo": {
          "description": "Execution trace info to aggregate parent-child executions.",
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo"
        },
        "createTime": {
          "format": "int64",
          "description": "Auto-generated.",
          "type": "string"
        },
        "eventExecutionDetails": {
          "description": "The execution info about this event.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails"
        },
        "workflowRetryBackoffIntervalSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running"
        },
        "clientId": {
          "description": "The event data user sends as request.",
          "type": "string"
        },
        "responseParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come out as part of the response."
        },
        "product": {
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "Final error-code if event failed."
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "workflowId": {
          "description": "Required. Pointer to the workflow it is executing.",
          "type": "string"
        },
        "eventExecutionInfoId": {
          "description": "Auto-generated primary key.",
          "type": "string"
        },
        "workflowName": {
          "type": "string",
          "description": "Name of the workflow."
        },
        "tenant": {
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant.",
          "type": "string"
        },
        "snapshotNumber": {
          "description": "Workflow snapshot number.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "int64"
        },
        "postMethod": {
          "description": "The ways user posts this event.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ]
        },
        "requestParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come in as part of the request."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "type": "object",
      "description": "Contains all the execution details for a workflow instance. Next available id: 24"
    },
    "EnterpriseCrmEventbusProtoCombinedCondition": {
      "id": "EnterpriseCrmEventbusProtoCombinedCondition",
      "description": "This message recursively combines constituent conditions using logical AND.",
      "type": "object",
      "properties": {
        "conditions": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCondition"
          },
          "type": "array",
          "description": "A set of individual constituent conditions."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse",
      "description": "Response for listing the integration execution snapshot.",
      "type": "object",
      "properties": {
        "executionSnapshots": {
          "description": "Required. The detailed information for the execution snapshot.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token returned in the previous response.",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "properties": {
        "destinations": {
          "type": "array",
          "description": "The destinations for the key.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          }
        },
        "key": {
          "type": "string",
          "description": "The key is the destination identifier that is supported by the Connector."
        }
      },
      "description": "Define the Connectors target endpoint.",
      "id": "GoogleCloudConnectorsV1DestinationConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent": {
      "type": "object",
      "description": "The components for constructing MashQuery.",
      "properties": {
        "groupBy": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
          "description": "Optional. optional, GroupBy variables."
        },
        "dataFilters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. optional, filters on fetched data, \"metric:client_id\" not supported."
        },
        "fetchFilters": {
          "items": {
            "type": "string"
          },
          "description": "Optional. optional, filters for Fetch Raw, \"metric:client_id\" not supported.",
          "type": "array"
        },
        "timeDelta": {
          "type": "string",
          "description": "Required. Window time delta."
        },
        "borgTaskMetric": {
          "description": "Required. The metric for monarch.BorgTask.",
          "type": "string",
          "enum": [
            "BORG_TASK_METRIC_UNSPECIFIED",
            "TASK_INDIVIDUAL_COUNT",
            "EVENT_COUNT",
            "EVENT_DURATION",
            "TASK_INDIVIDUAL_DURATION"
          ],
          "enumDescriptions": [
            "Unknown metric",
            "Metric end with: \"/task/individual_count\".",
            "Metric end with: \"/event/count\".",
            "Metric end with: \"/event/duration\".",
            "Metric end with: \"/task/individual_duration\"."
          ]
        },
        "pointOperation": {
          "type": "string",
          "description": "Optional. optional, Point Operation on single query or joined query."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent"
    },
    "EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "id": "EnterpriseCrmEventbusProtoSuspensionExpiration",
      "type": "object",
      "properties": {
        "expireAfterMs": {
          "format": "int32",
          "description": "Milliseconds after which the suspension expires, if no action taken.",
          "type": "integer"
        },
        "liftWhenExpired": {
          "type": "boolean",
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior."
        },
        "remindAfterMs": {
          "description": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "type": "object",
      "description": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens.",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "The client's secret."
        },
        "authCode": {
          "description": "The Auth Code that is used to initially retrieve the access token.",
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token url endpoint to send the token request to."
        },
        "authParams": {
          "description": "The auth parameters sent along with the auth code request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "The token parameters sent along with the token request."
        },
        "accessToken": {
          "description": "The access token received from the token endpoint.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "clientId": {
          "description": "The client's id.",
          "type": "string"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "requestType": {
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "description": "Represent how to pass parameters to fetch access token"
        },
        "authEndpoint": {
          "description": "The auth url endpoint to send the auth code request to.",
          "type": "string"
        },
        "applyReauthPolicy": {
          "type": "boolean",
          "description": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one."
        }
      }
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "properties": {
        "logSettings": {
          "description": "See go/integration-platform/analytics/logging_task.md for details.",
          "$ref": "EnterpriseCrmEventbusProtoLogSettings"
        },
        "defaultValue": {
          "description": "Used to define defaults.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ],
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)",
          "type": "string"
        },
        "searchable": {
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ],
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ],
          "type": "string"
        },
        "isSearchable": {
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable.",
          "type": "boolean"
        },
        "isRequired": {
          "type": "boolean",
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered."
        },
        "taskVisibility": {
          "description": "List of tasks that can view this property, if empty then all.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoAttributes",
      "description": "Attributes are additional options that can be associated with each event property. For more information, see go/integration-platform/event_bus/attributes_registry.md. Next available: 8"
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse": {
      "description": "Response for UploadIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse",
      "type": "object",
      "properties": {
        "integrationVersion": {
          "description": "The uploaded integration.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "type": "object",
      "properties": {
        "triggerCriteriaTaskImplementationClassName": {
          "type": "string",
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface."
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. To be used in TaskConfig for the implementation class.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "type": "object",
      "properties": {
        "startTime": {
          "format": "int64",
          "type": "string",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled."
        },
        "endTime": {
          "description": "The end time of the event execution for current attempt.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details.",
      "type": "object",
      "properties": {
        "logFieldName": {
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key.",
          "type": "string"
        },
        "sanitizeOptions": {
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions",
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc."
        },
        "seedPeriod": {
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ]
        },
        "shorteningLimits": {
          "description": "Contains the field limits for shortening, such as max string length and max array length.",
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits"
        },
        "seedScope": {
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSerializedObjectParameter",
      "properties": {
        "objectValue": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterEntry": {
      "description": "Key-value pair of EventBus parameters.",
      "properties": {
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterEntry",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTransformExpression": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTransformExpression",
      "properties": {
        "initialValue": {
          "description": "Initial value upon which to perform transformations.",
          "$ref": "EnterpriseCrmEventbusProtoBaseValue"
        },
        "transformationFunctions": {
          "description": "Transformations to be applied sequentially.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoFunction"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "NOW_IN_MILLIS",
            "INT_LIST",
            "ENVIRONMENT",
            "GET_EXECUTION_ID",
            "GET_INTEGRATION_NAME",
            "GET_REGION",
            "GET_UUID",
            "GET_PROJECT_ID"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseFunction"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "type": "object",
      "properties": {
        "protoValues": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "properties": {
        "createdTimestamp": {
          "description": "Auto-generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "suspensionId": {
          "description": "Primary key for the SuspensionResolutionInfoTable.",
          "type": "string"
        },
        "taskNumber": {
          "description": "Required. Task number of the associated SuspensionTask.",
          "type": "string"
        },
        "lastModifiedTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Auto-generated."
        },
        "workflowName": {
          "type": "string",
          "description": "Required. The name of the originating workflow."
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "product": {
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string",
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "externalTraffic": {
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic",
          "description": "The origin of the suspension for periodic notifications."
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo"
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        }
      },
      "description": "Cloud Scheduler Trigger configuration",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The created AppsScriptProject ID."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse",
      "description": "Response for CreateAppsScriptProject rpc call."
    },
    "GoogleCloudIntegrationsV1alphaGetBundleResponse": {
      "id": "GoogleCloudIntegrationsV1alphaGetBundleResponse",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the bundle data"
        }
      },
      "description": "Response for GetBundle."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterEntry",
      "description": "Key-value pair of EventBus parameters.",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "dataType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Explicitly getting the type of the parameter.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse": {
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse",
      "type": "object",
      "description": "Response for ValidateIntegrationVersion."
    },
    "EnterpriseCrmEventbusProtoTaskUiModuleConfig": {
      "properties": {
        "moduleId": {
          "description": "ID of the config module.",
          "enum": [
            "UNSPECIFIED_TASK_MODULE",
            "LABEL",
            "ERROR_HANDLING",
            "TASK_PARAM_TABLE",
            "TASK_PARAM_FORM",
            "PRECONDITION",
            "SCRIPT_EDITOR",
            "RPC",
            "TASK_SUMMARY",
            "SUSPENSION",
            "RPC_TYPED",
            "SUB_WORKFLOW",
            "APPS_SCRIPT_NAVIGATOR",
            "SUB_WORKFLOW_FOR_EACH_LOOP",
            "FIELD_MAPPING",
            "README",
            "REST_CALLER",
            "SUB_WORKFLOW_SCATTER_GATHER",
            "CLOUD_SQL",
            "GENERIC_CONNECTOR_TASK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Supports editing label of a task config.",
            "Supports editing error handling settings such as retry strategy.",
            "Supports adding, removing and editing task parameter values in a table with little assistance or restriction.",
            "Supports editing values of declared input parameters of a task. Think of it as a \"strongly typed\" upgrade to the TASK_PARAM_TABLE.",
            "Supports editing preconditions of a task config.",
            "Supports adding, editing, and deleting the scripts associated with a script task, as well as modifying the input/output parameters.",
            "Supports editing task parameters associated with an RPC/stubby task.",
            "Contains readonly task information, including input/output type info.",
            "Configures a SuspensionTask.",
            "Configures a GenericStubbyTypedTask.",
            "Configures a SubWorkflowExecutorTask.",
            "Supports navigating to Apps Script editor",
            "Configures a SubWorkflowForEachLoopTask.",
            "Configures a FieldMappingTask.",
            "Contains embedded in-product documentation for a task.",
            "UI widget for the rest caller task.",
            "Configures a SubWorkflowScatterGatherTask.",
            "Configures a CloudSql Task.",
            "Configure a GenericConnectorTask."
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskUiModuleConfig",
      "description": "Task author would use this type to configure a config module."
    },
    "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse": {
      "type": "object",
      "description": "This is a UI only method and will be moved away. Response for ListTaskEntities.",
      "id": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse",
      "properties": {
        "taskEntities": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
          },
          "type": "array",
          "description": "The list of the tasks."
        }
      }
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "properties": {
        "elementIdentifier": {
          "description": "Configuration of the edge.",
          "type": "string"
        },
        "elementType": {
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "type": "string",
          "description": "Destination node where the edge ends. It can only be a task config.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecution": {
      "properties": {
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. Created time of the execution.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "executionDetails": {
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionDetails",
          "description": "Detailed info of this execution."
        },
        "requestParameters": {
          "type": "object",
          "description": "Event parameters come in as part of the request.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last modified time of the execution.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "executionMethod": {
          "enum": [
            "EXECUTION_METHOD_UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Sync post.",
            "Async post.",
            "Async post with schedule time."
          ],
          "type": "string",
          "description": "The ways user posts this event."
        },
        "name": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "eventExecutionDetails": {
          "description": "The execution info about this event.",
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetails"
        },
        "responseParameters": {
          "description": "Event parameters returned as part of the response.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        },
        "directSubExecutions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "description": "Direct sub executions of the following Execution.",
          "type": "array"
        },
        "responseParams": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Event parameters come out as part of the response.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecution",
      "description": "The Execution resource contains detailed information of an individual integration execution."
    },
    "EnterpriseCrmCardsCellValue": {
      "type": "object",
      "properties": {
        "stringValue": {
          "type": "string"
        },
        "empty": {
          "$ref": "GoogleProtobufEmpty"
        },
        "longValue": {
          "format": "int64",
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "EnterpriseCrmCardsCellValue"
    },
    "EnterpriseCrmEventbusProtoConditionResult": {
      "description": "Contains the combined condition calculation results.",
      "id": "EnterpriseCrmEventbusProtoConditionResult",
      "properties": {
        "result": {
          "description": "the result comes out after evaluate the combined condition. True if there's no combined condition specified.",
          "type": "boolean"
        },
        "currentTaskNumber": {
          "type": "string",
          "description": "the current task number."
        },
        "nextTaskNumber": {
          "description": "the next task number.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "properties": {
        "valueType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          }
        },
        "keyType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaEventParameter": {
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        }
      },
      "description": "This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus.",
      "id": "GoogleCloudIntegrationsV1alphaEventParameter",
      "type": "object"
    },
    "GoogleCloudConnectorsV1Connection": {
      "properties": {
        "lockConfig": {
          "$ref": "GoogleCloudConnectorsV1LockConfig",
          "description": "Optional. Configuration that indicates whether or not the Connection can be edited."
        },
        "suspended": {
          "description": "Optional. Suspended indicates if a user has suspended a connection or not.",
          "type": "boolean"
        },
        "authConfig": {
          "$ref": "GoogleCloudConnectorsV1AuthConfig",
          "description": "Optional. Configuration for establishing the connection's authentication with an external system."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
          "readOnly": true
        },
        "imageLocation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created time."
        },
        "envoyImageLocation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
        },
        "connectorVersion": {
          "description": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource.",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleCloudConnectorsV1ConnectionStatus",
          "description": "Output only. Current status of the connection.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "destinationConfigs": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1DestinationConfig"
          },
          "type": "array",
          "description": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s)."
        },
        "serviceDirectory": {
          "description": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\"",
          "type": "string",
          "readOnly": true
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Service account needed for runtime plane to access GCP resources."
        },
        "configVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "description": "Optional. Configuration for configuring the connection with an external system.",
          "type": "array"
        },
        "nodeConfig": {
          "$ref": "GoogleCloudConnectorsV1NodeConfig",
          "description": "Optional. Node configuration for the connection."
        },
        "updateTime": {
          "description": "Output only. Updated time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Connection represents an instance of connector.",
      "id": "GoogleCloudConnectorsV1Connection",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListExecutionsResponse": {
      "description": "Response for listing the integration execution data.",
      "properties": {
        "executionInfos": {
          "description": "Required. The detailed information of requested executions.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page results."
        },
        "executions": {
          "type": "array",
          "description": "The detailed information of requested executions",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListExecutionsResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListSuspensionsResponse": {
      "properties": {
        "suspensions": {
          "type": "array",
          "description": "The suspensions for the relevant execution which the caller has permissions to view and resolve.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results."
        }
      },
      "description": "Response for Suspensions.ListSuspensions.",
      "id": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse",
      "type": "object"
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5",
      "properties": {
        "privacy": {
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "type": "string",
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ]
        },
        "isAlreadySanitized": {
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization.",
          "type": "boolean"
        },
        "sanitizeType": {
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ],
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ],
          "type": "string"
        },
        "logType": {
          "items": {
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "type": "string"
          },
          "description": "To which type(s) of logs the sanitize options apply.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmLoggingGwsSanitizeOptions"
    },
    "GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "description": "Entry is a pair of key and value.",
      "properties": {
        "key": {
          "description": "Key of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        },
        "value": {
          "description": "Value of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaParameterMapEntry",
      "type": "object"
    },
    "GoogleCloudConnectorsV1Secret": {
      "description": "Secret provides a reference to entries in Secret Manager.",
      "id": "GoogleCloudConnectorsV1Secret",
      "type": "object",
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "type": "object",
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "id": "GoogleCloudIntegrationsV1alphaAuthToken",
      "properties": {
        "token": {
          "description": "The token for the auth type.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc."
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetails": {
      "type": "object",
      "properties": {
        "eventExecutionState": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ]
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        },
        "eventAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          },
          "type": "array"
        },
        "logFilePath": {
          "description": "The log file path (aka. cns address) for this event.",
          "type": "string"
        },
        "nextExecutionTime": {
          "type": "string",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "format": "int64"
        },
        "eventExecutionSnapshot": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        },
        "eventRetriesFromBeginningCount": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the number of times the execution has restarted from the beginning."
        },
        "ryeLockUnheldCount": {
          "format": "int32",
          "type": "integer",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/"
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetails",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleRequest": {
      "type": "object",
      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request to create a new Bundle.",
      "properties": {
        "secondaryCustomerOrgId": {
          "type": "string",
          "description": "Optional. The prefix for the SA, it should be in the format \"o\". This is an optional field, and if empty service account will be created per project, where we are creating bundle. This should only be used as the org ID for which we want to run the integrations in the bundle."
        },
        "integrations": {
          "type": "array",
          "description": "A list of integrations that can be executed by the bundle",
          "items": {
            "type": "string"
          }
        },
        "bundleId": {
          "description": "Required. name of the bundle that will be created",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleRequest"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "type": "object",
      "description": "Request for CreateAppsScriptProject rpc call.",
      "properties": {
        "appsScriptProject": {
          "description": "The name of the Apps Script project to be created.",
          "type": "string"
        },
        "authConfigId": {
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest"
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "properties": {
        "properties": {
          "description": "An unordered list of property entries.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          }
        }
      },
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details."
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse": {
      "properties": {},
      "type": "object",
      "description": "Response for DeactivateIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse": {
      "properties": {
        "aplosSeriesListData": {
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListData",
          "description": "List of points."
        },
        "tableData": {
          "description": "Data in form of table.",
          "$ref": "EnterpriseCrmCardsTabularData"
        }
      },
      "description": "The response for getting Execution stats.",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse",
      "type": "object"
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each workflow execution. Optional."
        },
        "priority": {
          "type": "string",
          "description": "The request priority this request should be processed at. For internal users:",
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ]
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}."
        },
        "workflowName": {
          "type": "string",
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow."
        },
        "scheduledTime": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled."
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required."
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        }
      },
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "type": "object",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims": {
      "properties": {
        "subject": {
          "type": "string",
          "description": "Value for the \"sub\" claim."
        },
        "issuer": {
          "description": "Value for the \"iss\" claim.",
          "type": "string"
        },
        "audience": {
          "description": "Value for the \"aud\" claim.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims",
      "description": "JWT claims used for the jwt-bearer authorization grant."
    },
    "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy": {
      "type": "object",
      "description": "Next available id: 4",
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Optional. The customized parameters the user can pass to this task."
        },
        "rollbackTaskImplementationClassName": {
          "description": "Required. This is the name of the task that needs to be executed upon rollback of this task.",
          "type": "string"
        },
        "taskNumbersToRollback": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. These are the tasks numbers of the tasks whose `rollback_strategy.rollback_task_implementation_class_name` needs to be executed upon failure of this task."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
      "description": "For client credentials grant, the client sends a POST request with grant_type as 'client_credentials' to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "The client's secret."
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "Token parameters for the auth request."
        },
        "requestType": {
          "type": "string",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "description": "Represent how to pass parameters to fetch access token",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ]
        },
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "clientId": {
          "type": "string",
          "description": "The client's ID."
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "description": "Metadata of the execution snapshot.",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata",
      "properties": {
        "taskNumber": {
          "description": "The task number associated with this snapshot.",
          "type": "string"
        },
        "taskAttempt": {
          "type": "integer",
          "description": "the task attempt number this snapshot belongs to.",
          "format": "int32"
        },
        "task": {
          "description": "the task name associated with this snapshot.",
          "type": "string"
        },
        "executionAttempt": {
          "format": "int32",
          "type": "integer",
          "description": "the execution attempt number this snapshot belongs to."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaServiceAccountCredentials": {
      "description": "Represents the service account which can be used to generate access token for authenticating the service call.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Name of the service account that has the permission to make the request."
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters."
    },
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships.",
      "type": "object",
      "properties": {
        "parentEventExecutionInfoId": {
          "type": "string",
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask."
        },
        "traceId": {
          "type": "string",
          "description": "Used to aggregate ExecutionTraceInfo."
        }
      },
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule",
      "type": "object",
      "properties": {
        "stringRegex": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
        },
        "doubleRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
        },
        "intRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse",
      "description": "Response of lift Suspense",
      "properties": {
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Execution Id that will be returned"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "description": "A record representing a suspension.",
      "properties": {
        "state": {
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ],
          "type": "string",
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ]
        },
        "integration": {
          "type": "string",
          "description": "Required. The name of the originating integration."
        },
        "approvalConfig": {
          "description": "Controls the notifications and approval permissions for this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig"
        },
        "lastModifyTime": {
          "format": "google-datetime",
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "type": "string"
        },
        "taskId": {
          "description": "Required. Task id of the associated SuspensionTask.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for suspensions suspension/{suspension_id}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Auto-generated.",
          "type": "string",
          "readOnly": true
        },
        "audit": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
          "description": "Metadata pertaining to the resolution of this suspension."
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig",
          "description": "Controls the notifications and resolver permissions for this suspension."
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuspension"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "type": "object",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the linked Apps Script project."
        }
      },
      "description": "Response for LinkAppsScriptProject rpc call.",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          }
        }
      }
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListData": {
      "properties": {
        "series": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries"
          }
        }
      },
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListData",
      "type": "object",
      "description": "Data used for Aplos charts that accept multiple Series."
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse": {
      "properties": {},
      "description": "Response for ArchiveIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig": {
      "type": "object",
      "description": "Union operation",
      "properties": {
        "reducer": {
          "type": "string",
          "description": "Optional. optional, reduce function"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig"
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "description": "OIDC Token",
      "type": "object",
      "properties": {
        "token": {
          "description": "ID token obtained for the service account",
          "type": "string"
        },
        "tokenExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The approximate time until the token retrieved is valid."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The service account email to be used as the identity for the token."
        },
        "audience": {
          "type": "string",
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOidcToken"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange",
      "description": "Range used to validate doubles and floats.",
      "type": "object",
      "properties": {
        "max": {
          "description": "The inclusive maximum of the acceptable range.",
          "format": "double",
          "type": "number"
        },
        "min": {
          "format": "double",
          "description": "The inclusive minimum of the acceptable range.",
          "type": "number"
        }
      }
    },
    "EnterpriseCrmEventbusProtoIntFunction": {
      "id": "EnterpriseCrmEventbusProtoIntFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "GREATER_THAN_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN_EQUAL_TO",
            "LESS_THAN",
            "TO_DOUBLE",
            "TO_STRING",
            "EQUALS",
            "TO_JSON",
            "MOD",
            "EPOCH_TO_HUMAN_READABLE_TIME"
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition": {
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Path to the proto file that contains the message type's definition."
        },
        "fullName": {
          "type": "string",
          "description": "The fully-qualified proto name. This message, for example, would be \"enterprise.crm.eventbus.proto.ParamSpecEntry.ProtoDefinition\"."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "type": "object",
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats",
      "properties": {
        "startTime": {
          "format": "int64",
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled.",
          "type": "string"
        },
        "endTime": {
          "format": "int64",
          "type": "string",
          "description": "The end time of the task execution for current attempt."
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata",
      "properties": {
        "eventAttemptNum": {
          "format": "int32",
          "type": "integer",
          "description": "the event attempt number this snapshot belongs to."
        },
        "taskAttemptNum": {
          "format": "int32",
          "description": "the task attempt number this snapshot belongs to. Could be empty.",
          "type": "integer"
        },
        "taskName": {
          "description": "the task name associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "taskNumber": {
          "type": "string",
          "description": "The task number associated with this snapshot. Could be empty."
        }
      }
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "id": "EnterpriseCrmEventbusProtoLoopMetadata",
      "type": "object",
      "properties": {
        "currentIterationDetail": {
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available.",
          "type": "string"
        },
        "errorMsg": {
          "description": "Add the error message when loops fail.",
          "type": "string"
        },
        "currentIterationCount": {
          "description": "Starting from 1, not 0.",
          "format": "int64",
          "type": "string"
        },
        "failureLocation": {
          "type": "string",
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ],
          "description": "Indicates where in the loop logic did it error out.",
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ]
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest": {
      "type": "object",
      "description": "Request for [Suspensions.ResolveSuspensions].",
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest",
      "properties": {
        "suspension": {
          "description": "Suspension, containing the event_execution_info_id, task_id, and state to set on the corresponding suspension record.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema",
      "properties": {
        "entity": {
          "type": "string",
          "description": "Name of the entity."
        },
        "fieldSchema": {
          "type": "string",
          "description": "List of fields in the entity."
        },
        "arrayFieldSchema": {
          "description": "The above schema, but for an array of the associated entity.",
          "type": "string"
        }
      },
      "description": "Metadata of an entity, including a schema for its properties."
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "type": "object",
      "properties": {
        "intValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray",
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest": {
      "properties": {
        "content": {
          "type": "string",
          "description": "The textproto of the integration_version."
        },
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ],
          "type": "string",
          "description": "File format for upload request."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest",
      "description": "Request for UploadIntegrationVersion."
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode": {
      "properties": {
        "joinConfig": {
          "description": "Optional. join operation",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig"
        },
        "unionConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig",
          "description": "Optional. union operation"
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "UNION",
            "JOIN"
          ],
          "enumDescriptions": [
            "By default join.",
            "Union operation",
            "Join Operation"
          ],
          "description": "Optional. optional operation types.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode",
      "type": "object",
      "description": "Operation between 2 query"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleResponse": {
      "type": "object",
      "description": "Response for create bundle.",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleResponse",
      "properties": {
        "triggerId": {
          "type": "string",
          "description": "trigger_id of the bundle task"
        },
        "config": {
          "description": "It contains the bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringFunction"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig",
      "description": "Join Operation",
      "type": "object",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "type": "object",
      "properties": {
        "inputField": {
          "description": "The input field being mapped from.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        },
        "outputField": {
          "description": "The output field being mapped to.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        }
      },
      "description": "Mapped field is a pair of input field and output field. Next Id: 3",
      "id": "EnterpriseCrmEventbusProtoMappedField"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "description": "Range used to validate longs and ints.",
      "properties": {
        "min": {
          "type": "string",
          "format": "int64",
          "description": "The inclusive minimum of the acceptable range."
        },
        "max": {
          "type": "string",
          "format": "int64",
          "description": "The inclusive maximum of the acceptable range."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCredential": {
      "properties": {
        "jwt": {
          "$ref": "GoogleCloudIntegrationsV1alphaJwt",
          "description": "JWT credential"
        },
        "authToken": {
          "description": "Auth token credential",
          "$ref": "GoogleCloudIntegrationsV1alphaAuthToken"
        },
        "oauth2AuthorizationCode": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
          "description": "The api_key and oauth2_implicit are not covered in v1 and will be picked up once v1 is implemented. ApiKey api_key = 3; OAuth2 authorization code credential"
        },
        "oauth2ClientCredentials": {
          "description": "OAuth2Implicit oauth2_implicit = 5; OAuth2 client credentials",
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials"
        },
        "serviceAccountCredentials": {
          "description": "Service account credential",
          "$ref": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials"
        },
        "oidcToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaOidcToken",
          "description": "Google OIDC ID Token"
        },
        "usernameAndPassword": {
          "$ref": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
          "description": "Username and password credential"
        },
        "credentialType": {
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "type": "string",
          "description": "Credential type associated with auth config.",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ]
        },
        "oauth2ResourceOwnerCredentials": {
          "description": "OAuth2 resource owner credentials",
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCredential",
      "description": "Defines parameters for a single, canonical credential."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
[...]
