{
  "id": "integrations:v1alpha",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "revision": "20220928",
  "description": "",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "basePath": "",
  "title": "Application Integration API",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "baseUrl": "https://integrations.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "http://www.google.com",
  "rootUrl": "https://integrations.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "listTaskEntities": {
              "description": "This is a UI only method and will be moved away. Returns a list of common tasks.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse"
              },
              "path": "v1alpha/{+parent}:listTaskEntities",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:listTaskEntities",
              "id": "integrations.projects.locations.listTaskEntities",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The location resource of the request. This is not going to be used but preserve the field for future."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "connections": {
              "resources": {
                "runtimeEntitySchemas": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeEntitySchemas",
                      "id": "integrations.projects.locations.connections.runtimeEntitySchemas.list",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse"
                      },
                      "path": "v1alpha/{+parent}/runtimeEntitySchemas",
                      "parameters": {
                        "pageToken": {
                          "description": "Page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Page size.",
                          "type": "integer"
                        },
                        "filter": {
                          "description": "Filter. Only the entity field with literal equality operator is supported.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "description": "Required. Parent resource of RuntimeEntitySchema. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Lists the JSON schemas for the properties of runtime entities, filtered by entity name.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "runtimeActionSchemas": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the JSON schemas for the inputs and outputs of actions, filtered by action name.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeActionSchemas",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse"
                      },
                      "path": "v1alpha/{+parent}/runtimeActionSchemas",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "description": "Required. Parent resource of RuntimeActionSchema. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true,
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Filter. Only the action field with literal equality operator is supported.",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Page size.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "id": "integrations.projects.locations.connections.runtimeActionSchemas.list"
                    }
                  }
                }
              },
              "methods": {
                "getConnectionSchemaMetadata": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.connections.getConnectionSchemaMetadata",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$",
                      "required": true,
                      "description": "Required. ConnectionSchemaMetadata name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the available entities and actions associated with a Connection."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order by parameters."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource of the Connection, of the form: `projects/*/locations/*`",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Page size."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token.",
                      "location": "query"
                    }
                  },
                  "description": "Lists Connections in a given project and location.",
                  "id": "integrations.projects.locations.connections.list",
                  "path": "v1alpha/{+parent}/connections",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListConnectionsResponse"
                  }
                }
              }
            },
            "products": {
              "methods": {
                "createBundle": {
                  "path": "v1alpha/{+parent}:createBundle",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateBundleRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}:createBundle",
                  "id": "integrations.projects.locations.products.createBundle",
                  "parameters": {
                    "parent": {
                      "description": "Required. The location resource of the request.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Create a bundle.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateBundleResponse"
                  }
                },
                "listTaskEntities": {
                  "description": "This is a UI only method and will be moved away. Returns a list of common tasks.",
                  "id": "integrations.projects.locations.products.listTaskEntities",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}:listTaskEntities",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The location resource of the request. This is not going to be used but preserve the field for future.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}:listTaskEntities",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "authConfigs": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                      },
                      "path": "v1alpha/{+parent}/authConfigs",
                      "httpMethod": "GET",
                      "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "type": "string",
                          "description": "Required. The client, which owns this collection of AuthConfigs."
                        },
                        "pageToken": {
                          "description": "The token returned in the previous response.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The size of entries in the response. If unspecified, defaults to 100.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                          "type": "string",
                          "location": "query"
                        },
                        "readMask": {
                          "location": "query",
                          "description": "The mask which specifies fields that need to be returned in the AuthConfig's response.",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "id": "integrations.projects.locations.products.authConfigs.list",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "path": "v1alpha/{+name}",
                      "description": "Deletes an auth config.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name that is associated with the AuthConfig.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "integrations.projects.locations.products.authConfigs.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs/{authConfigsId}"
                    },
                    "create": {
                      "parameters": {
                        "clientCertificate.encryptedPrivateKey": {
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                          "type": "string",
                          "location": "query"
                        },
                        "clientCertificate.passphrase": {
                          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                          "location": "query",
                          "type": "string"
                        },
                        "clientCertificate.sslCertificate": {
                          "location": "query",
                          "type": "string",
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "integrations.projects.locations.products.authConfigs.create",
                      "path": "v1alpha/{+parent}/authConfigs",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name that is associated with the AuthConfig.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$"
                        }
                      },
                      "id": "integrations.projects.locations.products.authConfigs.get",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs/{authConfigsId}",
                      "path": "v1alpha/{+name}",
                      "description": "Gets a complete auth config. If the auth config doesn't exist, Code.NOT_FOUND exception will be thrown. Returns the decrypted auth config.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "id": "integrations.projects.locations.products.authConfigs.patch",
                      "parameters": {
                        "clientCertificate.sslCertificate": {
                          "type": "string",
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                          "location": "query"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Field mask specifying the fields in the above AuthConfig that have been modified and need to be updated.",
                          "location": "query"
                        },
                        "clientCertificate.passphrase": {
                          "location": "query",
                          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                          "type": "string"
                        },
                        "clientCertificate.encryptedPrivateKey": {
                          "location": "query",
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$",
                          "location": "path",
                          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs/{authConfigsId}",
                      "description": "Updates an auth config. If credential is updated, fetch the encrypted auth config from Spanner, decrypt with Cloud KMS key, update the credential fields, re-encrypt with Cloud KMS key and update the Spanner record. For other fields, directly update the Spanner record. Returns the encrypted auth config.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      }
                    }
                  }
                },
                "integrationtemplates": {
                  "resources": {
                    "versions": {
                      "methods": {
                        "create": {
                          "id": "integrations.projects.locations.products.integrationtemplates.versions.create",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrationtemplates/{integrationtemplatesId}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrationtemplates/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The parent resource where this TemplateVersion will be created. Format: projects/{project}/location/{location}/product/{product}/integrationtemplates/{integrationtemplate}",
                              "type": "string"
                            }
                          },
                          "path": "v1alpha/{+parent}/versions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
                          },
                          "description": "Creates an IntegrationTemplateVersion."
                        },
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListIntegrationTemplateVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationTemplateVersions` must match the call that provided the page token.",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Filter syntax: defined in the EBNF grammar.",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "The maximum number of IntegrationTemplateVersions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "format": "int32"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrationtemplates/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. Format: projects/{project}/location/{location}/product/{product}/integrationtemplates/{integrationtemplate}",
                              "required": true
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrationtemplates/{integrationtemplatesId}/versions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "integrations.projects.locations.products.integrationtemplates.versions.list",
                          "path": "v1alpha/{+parent}/versions",
                          "description": "Returns the list of all IntegrationTemplateVersions in the specified project.",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse"
                          }
                        },
                        "get": {
                          "id": "integrations.projects.locations.products.integrationtemplates.versions.get",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrationtemplates/{integrationtemplatesId}/versions/{versionsId}",
                          "parameters": {
                            "name": {
                              "description": "Required. The TemplateVersion to retrieve. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrationtemplates/[^/]+/versions/[^/]+$"
                            }
                          },
                          "path": "v1alpha/{+name}",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Returns an IntegrationTemplateVersion in the specified project."
                        }
                      }
                    }
                  }
                },
                "certificates": {
                  "methods": {
                    "create": {
                      "path": "v1alpha/{+parent}/certificates",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Creates a new certificate. The certificate will be registered to the trawler service and will be encrypted using cloud KMS and stored in Spanner Returns the certificate.",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "integrations.projects.locations.products.certificates.create"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Output only. Auto generated primary key"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query",
                          "description": "Field mask specifying the fields in the above Certificate that have been modified and need to be updated."
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "description": "Updates the certificate by id. If new certificate file is updated, it will register with the trawler service, re-encrypt with cloud KMS and update the Spanner record. Other fields will directly update the Spanner record. Returns the Certificate.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "id": "integrations.projects.locations.products.certificates.patch",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      }
                    },
                    "list": {
                      "path": "v1alpha/{+parent}/certificates",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "The token returned in the previous response.",
                          "location": "query",
                          "type": "string"
                        },
                        "readMask": {
                          "description": "The mask which specifies fields that need to be returned in the Certificate's response.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The size of entries in the response. If unspecified, defaults to 100.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The client, which owns this collection of Certificates."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List all the certificates that match the filter. Restrict to certificate of current client only.",
                      "httpMethod": "GET",
                      "id": "integrations.projects.locations.products.certificates.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "integrations.projects.locations.products.certificates.get",
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Get a certificates in the specified project."
                    },
                    "delete": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}",
                      "description": "Delete a certificate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.products.certificates.delete",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "description": "Required. The name that is associated with the Certificate."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE"
                    }
                  }
                },
                "integrations": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
                      },
                      "id": "integrations.projects.locations.products.integrations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/integrations",
                      "description": "Returns the list of all integrations in the specified project.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The page size for the resquest.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "The page token for the resquest.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Project and location from which the integrations should be listed. Format: projects/{project}"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`."
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "The results would be returned in order you specified here. Supported sort keys are: Descending sort order by \"last_modified_time\", \"created_time\", \"snapshot_number\". Ascending sort order by the integration name.",
                          "type": "string"
                        }
                      }
                    },
                    "archiveBundle": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:archiveBundle",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Soft-deletes the bundle.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The bundle to archive. Format: projects/{project}/integrations/{integration}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "integrations.projects.locations.products.integrations.archiveBundle",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaArchiveBundleRequest"
                      },
                      "path": "v1alpha/{+name}:archiveBundle"
                    },
                    "schedule": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:schedule",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
                      },
                      "description": "Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "description": "The integration resource name.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}:schedule",
                      "id": "integrations.projects.locations.products.integrations.schedule"
                    },
                    "execute": {
                      "path": "v1alpha/{+name}:execute",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:execute",
                      "description": "Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI.",
                      "id": "integrations.projects.locations.products.integrations.execute",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "description": "Required. The integration resource name."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "monitorexecutionstats": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}:monitorexecutionstats",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "description": "Required. The parent resource name: {parent=projects/*/locations/*}.",
                          "location": "path"
                        }
                      },
                      "description": "Get execution stats",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:monitorexecutionstats",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "integrations.projects.locations.products.integrations.monitorexecutionstats"
                    }
                  },
                  "resources": {
                    "executions": {
                      "methods": {
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "integrations.projects.locations.products.integrations.executions.get",
                          "description": "Get an execution in the specified project.",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}"
                        },
                        "cancel": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}:cancel",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "integrations.projects.locations.products.integrations.executions.cancel",
                          "description": "Cancellation of an execution",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
                          },
                          "httpMethod": "POST",
                          "path": "v1alpha/{+name}:cancel",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
                          }
                        },
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                          },
                          "httpMethod": "GET",
                          "description": "Lists the status of the integration executions.",
                          "path": "v1alpha/{+parent}/executions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "filterParams.parameterType": {
                              "description": "Param type.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Optional. Standard filter field, we support filtering on all fields in EventExecutionParamIndexes table. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterKey, ParameterValue, ParameterType support for HAS For example: \"parameter_value\" HAS \\\"parameter1\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND event_execution_state=\\\"FAILED\\\"",
                              "type": "string",
                              "location": "query"
                            },
                            "filterParams.workflowName": {
                              "location": "query",
                              "description": "Workflow name.",
                              "type": "string"
                            },
                            "filterParams.parameterPairKey": {
                              "type": "string",
                              "location": "query",
                              "description": "Param key in the key value pair filter."
                            },
                            "filterParams.parameterPairValue": {
                              "type": "string",
                              "description": "Param value in the key value pair filter.",
                              "location": "query"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The results would be returned in order you specified here. Currently supporting \"last_modified_time\" and \"create_time\"."
                            },
                            "readMask": {
                              "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution info will be filled and returned.",
                              "location": "query",
                              "format": "google-fieldmask",
                              "type": "string"
                            },
                            "filterParams.startTime": {
                              "description": "Start timestamp.",
                              "type": "string",
                              "format": "int64",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. The parent resource name of the integration execution.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "type": "string"
                            },
                            "filterParams.executionId": {
                              "description": "Execution id.",
                              "location": "query",
                              "type": "string"
                            },
                            "truncateParams": {
                              "location": "query",
                              "type": "boolean",
                              "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out."
                            },
                            "filterParams.triggerId": {
                              "location": "query",
                              "description": "Trigger id.",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Optional. The size of entries in the response.",
                              "type": "integer"
                            },
                            "filterParams.eventStatuses": {
                              "repeated": true,
                              "description": "List of possible event statuses.",
                              "type": "string",
                              "location": "query"
                            },
                            "refreshAcl": {
                              "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency.",
                              "type": "boolean",
                              "location": "query"
                            },
                            "filterParams.endTime": {
                              "type": "string",
                              "format": "int64",
                              "location": "query",
                              "description": "End timestamp."
                            },
                            "filterParams.parameterKey": {
                              "type": "string",
                              "location": "query",
                              "description": "Param key. DEPRECATED. User parameter_pair_key instead."
                            },
                            "filterParams.parameterValue": {
                              "location": "query",
                              "description": "Param value. DEPRECATED. User parameter_pair_value instead.",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. The token returned in the previous response.",
                              "type": "string"
                            },
                            "filterParams.customFilter": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional user-provided custom filter."
                            },
                            "filterParams.taskStatuses": {
                              "description": "List of possible task statuses.",
                              "type": "string",
                              "repeated": true,
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions",
                          "id": "integrations.projects.locations.products.integrations.executions.list"
                        }
                      },
                      "resources": {
                        "suspensions": {
                          "methods": {
                            "lift": {
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "description": "Required. The resource that the suspension belongs to. \"projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}\" format.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                                  "required": true
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "* Lifts suspension for advanced suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task.",
                              "path": "v1alpha/{+name}:lift",
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
                              },
                              "request": {
                                "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
                              },
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:lift",
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.lift"
                            },
                            "resolve": {
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:resolve",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
                              },
                              "description": "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$"
                                }
                              },
                              "path": "v1alpha/{+name}:resolve",
                              "request": {
                                "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
                              },
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.resolve"
                            },
                            "list": {
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "description": "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them.",
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.list",
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions",
                              "path": "v1alpha/{+parent}/suspensions",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "pageToken": {
                                  "location": "query",
                                  "description": "Token to retrieve a specific page.",
                                  "type": "string"
                                },
                                "filter": {
                                  "description": "Standard filter field.",
                                  "type": "string",
                                  "location": "query"
                                },
                                "pageSize": {
                                  "format": "int32",
                                  "description": "Maximum number of entries in the response.",
                                  "location": "query",
                                  "type": "integer"
                                },
                                "orderBy": {
                                  "description": "Field name to order by.",
                                  "location": "query",
                                  "type": "string"
                                },
                                "parent": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                                  "required": true,
                                  "type": "string",
                                  "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "upload": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The version to upload. Format: projects/{project}/integrations/{integration}"
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions:upload",
                          "id": "integrations.projects.locations.products.integrations.versions.upload",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
                          },
                          "path": "v1alpha/{+parent}/versions:upload",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse"
                          },
                          "description": "Uploads an integration. The content can be a previously downloaded integration. Performs the same function as CreateDraftIntegrationVersion, but accepts input in a string format, which holds the complete representation of the IntegrationVersion content."
                        },
                        "takeoverEditLock": {
                          "description": "Clears the `locked_by` and `locked_at_timestamp`in the DRAFT version of this integration. It then performs the same action as the CreateDraftIntegrationVersion (i.e., copies the DRAFT version of the integration as a SNAPSHOT and then creates a new DRAFT version with the `locked_by` set to the `user_taking_over` and the `locked_at_timestamp` set to the current timestamp). Both the `locked_by` and `user_taking_over` are notified via email about the takeover. This RPC throws an exception if the integration is not in DRAFT status or if the `locked_by` and `locked_at_timestamp` fields are not set.The TakeoverEdit lock is treated the same as an edit of the integration, and hence shares ACLs with edit. Audit fields updated include last_modified_timestamp, last_modified_by.",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse"
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.takeoverEditLock",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest"
                          },
                          "path": "v1alpha/{+integrationVersion}:takeoverEditLock",
                          "parameterOrder": [
                            "integrationVersion"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "integrationVersion": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "description": "Required. The version to take over edit lock. Format: projects/{project}/integrations/{integration}/versions/{version}",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:takeoverEditLock"
                        },
                        "publish": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.",
                          "path": "v1alpha/{+name}:publish",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "required": true,
                              "description": "Required. The version to publish. Format: projects/{project}/integrations/{integration}/versions/{version}",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.publish",
                          "httpMethod": "POST"
                        },
                        "archive": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest"
                          },
                          "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being archived is DRAFT, and if the `locked_by` user is not the same as the user performing the Archive. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Archiving a integration. Currently, there is no unarchive mechanism.",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:archive",
                          "path": "v1alpha/{+name}:archive",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "required": true,
                              "description": "Required. The version to archive. Format: projects/{project}/integrations/{integration}/versions/{version}"
                            }
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.archive",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. The version to retrieve. Format: projects/{project}/integrations/{integration}/versions/{version}",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Get a integration in the specified project.",
                          "path": "v1alpha/{+name}",
                          "id": "integrations.projects.locations.products.integrations.versions.get"
                        },
                        "getBundle": {
                          "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. RPC to get details of the Bundle",
                          "httpMethod": "GET",
                          "id": "integrations.projects.locations.products.integrations.versions.getBundle",
                          "path": "v1alpha/{+name}:getBundle",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:getBundle",
                          "parameters": {
                            "name": {
                              "description": "Required. The bundle name.",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaGetBundleResponse"
                          }
                        },
                        "download": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:download",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The version to download. Format: projects/{project}/integrations/{integration}/versions/{version}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "required": true
                            },
                            "fileFormat": {
                              "enum": [
                                "FILE_FORMAT_UNSPECIFIED",
                                "JSON",
                                "YAML"
                              ],
                              "type": "string",
                              "description": "File format for download request.",
                              "location": "query",
                              "enumDescriptions": [
                                "Unspecified file format",
                                "JSON File Format",
                                "YAML File Format"
                              ]
                            }
                          },
                          "path": "v1alpha/{+name}:download",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "description": "Downloads an integration. Retrieves the `IntegrationVersion` for a given `integration_id` and returns the response as a string.",
                          "id": "integrations.projects.locations.products.integrations.versions.download",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "validate": {
                          "description": "Validates the given integration. If the id doesn't exist, a NotFoundException is thrown. If validation fails a CanonicalCodeException is thrown. If there was no failure an empty response is returned.",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest"
                          },
                          "path": "v1alpha/{+name}:validate",
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "description": "Required. The version to validate. Format: projects/{project}/integrations/{integration}/versions/{version}",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:validate",
                          "id": "integrations.projects.locations.products.integrations.versions.validate",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse"
                          }
                        },
                        "deactivate": {
                          "id": "integrations.projects.locations.products.integrations.versions.deactivate",
                          "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest"
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:deactivate",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The version to deactivate. Format: projects/{project}/integrations/{integration}/versions/{version}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}:deactivate",
                          "httpMethod": "POST"
                        },
                        "updateBundle": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest"
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:updateBundle",
                          "path": "v1alpha/{+name}:updateBundle",
                          "id": "integrations.projects.locations.products.integrations.versions.updateBundle",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. Bundle name"
                            }
                          },
                          "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. RPC to update the Bundle",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUpdateBundleResponse"
                          },
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "create": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "integrations.projects.locations.products.integrations.versions.create",
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The parent resource where this version will be created. Format: projects/{project}/integrations/{integration}",
                              "required": true
                            },
                            "newIntegration": {
                              "type": "boolean",
                              "description": "Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created.",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "description": "Create a integration with a draft version in the specified project.",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "path": "v1alpha/{+parent}/versions"
                        },
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
                          },
                          "parameters": {
                            "pageToken": {
                              "description": "A page token, received from a previous `ListIntegrationVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationVersions` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                              "type": "string"
                            },
                            "fieldMask": {
                              "description": "The field mask which specifies the particular data to be returned.",
                              "type": "string",
                              "format": "google-fieldmask",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "description": "Required. The parent resource where this version will be created. Format: projects/{project}/integrations/{integration} Specifically, when parent equals: 1. projects//locations//integrations/, Meaning: \"List versions (with filter) for a particular integration\". 2. projects//locations//integrations/- Meaning: \"List versions (with filter) for a client within a particular region\". 3. projects//locations/-/integrations/- Meaning: \"List versions (with filter) for a client\".",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$"
                            },
                            "orderBy": {
                              "description": "The results would be returned in order you specified here. Currently supported sort keys are: Descending sort order for \"last_modified_time\", \"created_time\", \"snapshot_number\" Ascending sort order for \"name\".",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            }
                          },
                          "description": "Returns the list of all integration versions in the specified project.",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "integrations.projects.locations.products.integrations.versions.list",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1alpha/{+parent}/versions"
                        },
                        "patch": {
                          "path": "v1alpha/{+name}",
[...]
