{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "id": "integrations:v1",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://integrations.googleapis.com/",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest": {
      "description": "Request for the Deprovision rpc",
      "id": "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleFunction"
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
    },
    "GoogleCloudIntegrationsV1alphaIntParameterArray": {
      "id": "GoogleCloudIntegrationsV1alphaIntParameterArray",
      "description": "This message only contains a field of integer array.",
      "properties": {
        "intValues": {
          "description": "Integer array.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification",
      "properties": {
        "componentId": {
          "description": "ID of the buganizer component within which to create a new issue. Required.",
          "type": "string",
          "format": "int64"
        },
        "templateId": {
          "type": "string",
          "description": "ID of the buganizer template to use. Optional.",
          "format": "int64"
        },
        "title": {
          "description": "Title of the issue to be created. Required.",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "type": "string",
          "description": "Whom to assign the new bug. Optional."
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1LockConfig": {
      "type": "object",
      "properties": {
        "reason": {
          "description": "Describes why a connection is locked.",
          "type": "string"
        },
        "locked": {
          "description": "Indicates whether or not the connection is locked.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudConnectorsV1LockConfig",
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig",
      "type": "object",
      "properties": {
        "alertThreshold": {
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "type": "integer",
          "format": "int32"
        },
        "durationThreshold": {
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "format": "google-duration",
          "type": "string"
        },
        "disableAlert": {
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this integration alert.",
          "type": "boolean"
        },
        "metricType": {
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing integration.",
            "Specifies alerting on the rate of warnings for the enclosing integration. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing integration.",
            "Specifies alerting on the rate of warnings for any task in the enclosing integration.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing integration.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this integration.",
            "Specifies alerting on the duration value of a particular percentile of integration executions. E.g. If 10% or more of the integration executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing integration,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing integration. E.g. If 10% or more of the task executions in the integration have durations above 5 seconds, alert."
          ],
          "description": "The type of metric.",
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ]
        },
        "onlyFinalAttempt": {
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries.",
          "type": "boolean"
        },
        "thresholdValue": {
          "description": "The metric value, above or below which the alert should be triggered.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue"
        },
        "aggregationPeriod": {
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week). For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours.",
          "type": "string"
        },
        "thresholdType": {
          "type": "string",
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enum": [
            "THRESHOLD_TYPE_UNSPECIFIED",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "enumDescriptions": [
            "Default.",
            "Note that this field will only trigger alerts if the integration specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours. Min value threshold.",
            "Max value threshold."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Name of the alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the integration."
        }
      },
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event."
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig",
      "type": "object",
      "properties": {
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY"
          ],
          "type": "string",
          "description": "Operation to perform using the configured connection."
        },
        "connection": {
          "description": "User-selected connection.",
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoTriggerConfig": {
      "properties": {
        "cloudSchedulerConfig": {
          "$ref": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
        },
        "enabledClients": {
          "description": "Required. The list of client ids which are enabled to execute the workflow using this trigger. In other words, these clients have the workflow execution privledges for this trigger. For API trigger, the client id in the incoming request is validated against the list of enabled clients. For non-API triggers, one workflow execution is triggered on behalf of each enabled client.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "startTasks": {
          "type": "array",
          "description": "Set of tasks numbers from where the workflow execution is started by this trigger. If this is empty, then workflow is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same workflow execution graph).",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          }
        },
        "nextTasksExecutionPolicy": {
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "description": "Dictates how next tasks will be executed.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ]
        },
        "triggerType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "CLOUD_PUBSUB",
            "GOOPS",
            "SFDC_SYNC",
            "CRON",
            "API",
            "MANIFOLD_TRIGGER",
            "DATALAYER_DATA_CHANGE",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "SFDC_PLATFORM_EVENTS_CHANNEL",
            "CLOUD_SCHEDULER"
          ],
          "type": "string"
        },
        "triggerCriteria": {
          "$ref": "EnterpriseCrmEventbusProtoTriggerCriteria",
          "description": "Optional. When set, Eventbus will run the task specified in the trigger_criteria and validate the result using the trigger_criteria.condition, and only execute the workflow when result is true."
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Configurable properties of the trigger, not to be confused with workflow parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Cloud Pubsub triggers."
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the task."
        },
        "position": {
          "$ref": "EnterpriseCrmEventbusProtoCoordinate",
          "description": "Optional. Informs the front-end application where to draw this trigger config on the UI."
        },
        "label": {
          "description": "The user created label for a particular trigger.",
          "type": "string"
        },
        "triggerId": {
          "description": "The backend trigger ID.",
          "type": "string"
        },
        "pauseWorkflowExecutions": {
          "description": "Optional. If set to true, any upcoming requests for this trigger config will be paused and the executions will be resumed later when the flag is reset. The workflow to which this trigger config belongs has to be in ACTIVE status for the executions to be paused or resumed.",
          "type": "boolean"
        },
        "alertConfig": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoWorkflowAlertConfig"
          },
          "type": "array",
          "description": "An alert threshold configuration for the [trigger + client + workflow] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + workflow] when published."
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the workflow on UI."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig",
      "description": "Configuration detail of a trigger. Next available id: 17",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse",
      "type": "object",
      "properties": {},
      "description": "Response for Suspensions.ResolveSuspensions."
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue": {
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig. See go/eventbus-alert-config-examples",
      "type": "object",
      "properties": {
        "percentage": {
          "format": "int32",
          "type": "integer"
        },
        "absolute": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "description": "Response for ArchiveBundle.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSfdcInstance": {
      "type": "object",
      "description": "The SfdcInstance resource use to hold channels and connection config data.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the instance was last updated"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}."
        },
        "sfdcOrgId": {
          "type": "string",
          "description": "The SFDC Org Id. This is defined in salesforce."
        },
        "authConfigId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of AuthConfigs that can be tried to open the channel to SFDC"
        },
        "createTime": {
          "description": "Output only. Time when the instance is created",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User selected unique name/alias to easily reference an instance."
        },
        "description": {
          "type": "string",
          "description": "A description of the sfdc instance."
        },
        "serviceAuthority": {
          "type": "string",
          "description": "URL used for API calls after authentication (the login authority is configured within the referenced AuthConfig)."
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the instance was deleted. Empty if not deleted.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSfdcInstance"
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the auth config."
        },
        "state": {
          "type": "string",
          "description": "The status of the auth config.",
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ]
        },
        "updateTime": {
          "description": "Output only. The timestamp when the auth config is modified.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The name of the auth config."
        },
        "encryptedCredential": {
          "type": "string",
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key.",
          "format": "byte"
        },
        "overrideValidTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
        },
        "credentialType": {
          "type": "string",
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "description": "Credential type of the encrypted credential.",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ]
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "visibility": {
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ],
          "type": "string",
          "description": "The visibility of the auth config."
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "validTime": {
          "type": "string",
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire.",
          "format": "google-datetime"
        },
        "expiryNotificationDuration": {
          "items": {
            "format": "google-duration",
            "type": "string"
          },
          "type": "array",
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours."
        },
        "reason": {
          "description": "The reason / details of the current status.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
          "type": "string"
        },
        "certificateId": {
          "description": "Certificate id for client certificate",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the auth config is created.",
          "type": "string"
        },
        "decryptedCredential": {
          "$ref": "GoogleCloudIntegrationsV1alphaCredential",
          "description": "Raw auth credentials."
        }
      },
      "description": "The AuthConfig resource use to hold channels and connection config data."
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "type": "object",
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel.",
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "properties": {
        "channelTopic": {
          "type": "string",
          "description": "The Channel topic defined by salesforce once an channel is opened"
        },
        "description": {
          "type": "string",
          "description": "The description for this channel"
        },
        "displayName": {
          "description": "Client level unique name/alias to easily reference a channel.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the channel was last updated"
        },
        "isActive": {
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the channel is created"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}."
        },
        "lastReplayId": {
          "type": "string",
          "description": "Last sfdc messsage replay id for channel"
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. Time when the channel was deleted. Empty if not deleted.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray",
      "type": "object",
      "properties": {
        "doubleValues": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "type": "object",
      "properties": {
        "doubleValue": {
          "description": "Double Number.",
          "format": "double",
          "type": "number"
        },
        "stringArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray",
          "description": "String Array."
        },
        "stringValue": {
          "type": "string",
          "description": "String."
        },
        "booleanValue": {
          "description": "Boolean.",
          "type": "boolean"
        },
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
        },
        "doubleArray": {
          "description": "Double Number Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
        },
        "intArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray",
          "description": "Integer Array."
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Integer."
        },
        "jsonValue": {
          "description": "Json.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaValueType",
      "description": "The type of the parameter."
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "id": "GoogleCloudIntegrationsV1alphaCertificate",
      "type": "object",
      "description": "The certificate definition",
      "properties": {
        "validStartTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp after which certificate will be valid",
          "format": "google-datetime"
        },
        "certificateStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ],
          "description": "Status of the certificate",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ]
        },
        "requestorId": {
          "description": "Immutable. Requestor ID to be used to register certificate with trawler",
          "type": "string"
        },
        "name": {
          "description": "Output only. Auto generated primary key",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Description of the certificate",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the certificate"
        },
        "credentialId": {
          "type": "string",
          "description": "Immutable. Credential id that will be used to register with trawler INTERNAL_ONLY"
        },
        "rawCertificate": {
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate",
          "description": "Input only. Raw client certificate which would be registered with trawler"
        },
        "validEndTime": {
          "description": "Output only. The timestamp after which certificate will expire",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "type": "object",
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "properties": {
        "refreshTokenExpireTime": {
          "type": "string",
          "description": "The approximate time until the refresh token retrieved is valid.",
          "format": "google-datetime"
        },
        "tokenType": {
          "type": "string",
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0."
        },
        "accessToken": {
          "description": "The access token encapsulating the security identity of a process or thread.",
          "type": "string"
        },
        "refreshToken": {
          "type": "string",
          "description": "If the access token will expire, use the refresh token to obtain another access token."
        },
        "accessTokenExpireTime": {
          "type": "string",
          "description": "Required. The approximate time until the access token retrieved is valid.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse",
      "description": "This is a UI only method and will be moved away. Response for ListTaskEntities.",
      "type": "object",
      "properties": {
        "taskEntities": {
          "type": "array",
          "description": "The list of the tasks.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the Apps Script project to be linked."
        }
      },
      "type": "object",
      "description": "Request for LinkAppsScriptProject rpc call.",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest"
    },
    "GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaStringParameterArray",
      "description": "This message only contains a field of string array.",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "String array."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "type": "object",
      "properties": {
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "Token parameters for the auth request."
        },
        "username": {
          "description": "The user's username.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The client's ID."
        },
        "clientSecret": {
          "type": "string",
          "description": "The client's secret."
        },
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "requestType": {
          "type": "string",
          "description": "Represent how to pass parameters to fetch access token",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ]
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "password": {
          "type": "string",
          "description": "The user's password."
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
      "description": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token."
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex": {
      "properties": {
        "regex": {
          "description": "The regex applied to the input value(s).",
          "type": "string"
        },
        "exclusive": {
          "type": "boolean",
          "description": "Whether the regex matcher is applied exclusively (if true, matching values will be rejected)."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex",
      "type": "object",
      "description": "Rule used to validate strings."
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry",
      "properties": {
        "config": {
          "description": "Optional fields, such as help text and other useful info.",
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given task. These parameters must be predefined in the workflow definition."
        },
        "dataType": {
          "description": "The data type of the parameter.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "collectionElementClassName": {
          "description": "If it is a collection of objects, this would be the FCQN of every individual element in the collection. If this is \"java.lang.Object\", the parameter is a collection of any type.",
          "type": "string"
        },
        "validationRule": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule",
          "description": "Rule used to validate inputs (individual values and collection elements) for this parameter."
        },
        "className": {
          "type": "string",
          "description": "The FQCN of the Java object this represents. A string, for example, would be \"java.lang.String\". If this is \"java.lang.Object\", the parameter can be of any type."
        },
        "required": {
          "type": "boolean",
          "description": "If set, the user must provide an input value for this parameter."
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "isDeprecated": {
          "description": "If set, this entry is deprecated, so further use of this parameter should be prohibited.",
          "type": "boolean"
        },
        "jsonSchema": {
          "description": "If the data_type is JSON_VALUE, then this will define its schema.",
          "type": "string"
        },
        "isOutput": {
          "type": "boolean"
        },
        "protoDef": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
          "description": "Populated if this represents a proto or proto array."
        }
      },
      "description": "Key-value pair of EventBus task parameters. Next id: 13"
    },
    "EnterpriseCrmEventbusProtoCondition": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoCondition",
      "properties": {
        "value": {
          "description": "Value that's checked for the key.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "operator": {
          "description": "Operator used to evaluate the condition. Please note that an operator with an inappropriate key/value operand will result in IllegalArgumentException, e.g. CONTAINS with boolean key/value pair.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSET",
            "EQUALS",
            "CONTAINS",
            "LESS_THAN",
            "GREATER_THAN",
            "EXISTS",
            "DOES_NOT_EXIST",
            "IS_EMPTY",
            "IS_NOT_EMPTY"
          ]
        },
        "eventPropertyKey": {
          "description": "Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown.",
          "type": "string"
        }
      },
      "description": "Condition that uses `operator` to evaluate the key against the value."
    },
    "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode": {
      "type": "object",
      "properties": {
        "authEndpoint": {
          "description": "The auth url endpoint to send the auth code request to.",
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token url endpoint to send the token request to."
        },
        "accessToken": {
          "description": "The access token received from the token endpoint.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "clientId": {
          "type": "string",
          "description": "The client's id."
        },
        "authParams": {
          "description": "The auth parameters sent along with the auth code request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "clientSecret": {
          "type": "string",
          "description": "The client's secret."
        },
        "requestType": {
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "description": "Represent how to pass parameters to fetch access token",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "type": "string"
        },
        "authCode": {
          "description": "The Auth Code that is used to initially retrieve the access token.",
          "type": "string"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "applyReauthPolicy": {
          "type": "boolean",
          "description": "Indicates if the user has opted in Google Reauth Policy. If opted in, the refresh token will be valid for 20 hours, after which time users must re-authenticate in order to obtain a new one."
        },
        "tokenParams": {
          "description": "The token parameters sent along with the token request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        }
      },
      "description": "The OAuth Type where the client sends request with the client id and requested scopes to auth endpoint. User sees a consent screen and auth code is received at specified redirect url afterwards. The auth code is then combined with the client id and secret and sent to the token endpoint in exchange for the access and refresh token. The refresh token can be used to fetch new access tokens.",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode"
    },
    "EnterpriseCrmEventbusProtoSuspensionConfig": {
      "id": "EnterpriseCrmEventbusProtoSuspensionConfig",
      "type": "object",
      "properties": {
        "whoMayResolve": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
          },
          "description": "Identities able to resolve this suspension."
        },
        "suspensionExpiration": {
          "description": "Indicates the next steps when no external actions happen on the suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionExpiration"
        },
        "customMessage": {
          "type": "string",
          "description": "Optional information to provide recipients of the suspension in addition to the resolution URL, typically containing relevant parameter values from the originating workflow."
        },
        "notifications": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNotification"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "description": "The request for scheduling an integration.",
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each integration execution."
        },
        "scheduleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately."
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution.",
          "type": "object"
        },
        "requestId": {
          "type": "string",
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)",
          "type": "string"
        },
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoWorkflowAlertConfig": {
      "id": "EnterpriseCrmEventbusProtoWorkflowAlertConfig",
      "properties": {
        "onlyFinalAttempt": {
          "type": "boolean",
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries."
        },
        "aggregationPeriod": {
          "type": "string",
          "description": "For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours."
        },
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "metricType": {
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing workflow.",
            "Specifies alerting on the rate of warnings for the enclosing workflow. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing workflow.",
            "Specifies alerting on the rate of warnings for any task in the enclosing workflow.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing workflow.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this workflow.",
            "Specifies alerting on the duration value of a particular percentile of workflow executions. E.g. If 10% or more of the workflow executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing workflow,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing workflow. E.g. If 10% or more of the task executions in the workflow have durations above 5 seconds, alert."
          ],
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "type": "string"
        },
        "alertName": {
          "type": "string",
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the workflow."
        },
        "durationThresholdMs": {
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "type": "string",
          "format": "int64"
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "clientId": {
          "description": "Client associated with this alert configuration.",
          "type": "string"
        },
        "alertDisabled": {
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert.",
          "type": "boolean"
        },
        "thresholdType": {
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ],
          "type": "string",
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ]
        },
        "numAggregationPeriods": {
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "type": "integer",
          "format": "int32"
        },
        "thresholdValue": {
          "description": "The metric value, above or below which the alert should be triggered. See go/eventbus-alert-config-examples.",
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue"
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        }
      },
      "type": "object",
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event. See go/eventbus-alert-config-examples for examples of the different alerts that can be configured."
    },
    "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest": {
      "description": "Request for Creating Cloud Function rpc call.",
      "properties": {
        "functionRegion": {
          "type": "string",
          "description": "The function region of CF to be created"
        },
        "projectId": {
          "description": "Indicates the id of the GCP project that the function will be created in.",
          "type": "string"
        },
        "functionName": {
          "type": "string",
          "description": "The function name of CF to be created"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionRequest",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "properties": {
        "successPolicy": {
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy",
          "description": "Determines what action to take upon successful task completion."
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the task."
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "taskNumber": {
          "type": "string",
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`)."
        },
        "taskTemplateName": {
          "type": "string",
          "description": "Used to define task-template name if task is of type task-template"
        },
        "incomingEdgeCount": {
          "format": "int32",
          "description": "The number of edges leading into this TaskConfig.",
          "type": "integer"
        },
        "precondition": {
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task.",
          "type": "string"
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this task config on the UI.",
          "$ref": "EnterpriseCrmEventbusProtoCoordinate"
        },
        "parameters": {
          "type": "object",
          "description": "The customized parameters the user can pass to this task.",
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "rollbackStrategy": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy",
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times)."
        },
        "lastModifiedTime": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this TaskConfig in the UI."
        },
        "taskExecutionStrategy": {
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "type": "string",
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "description": "The policy dictating the execution strategy of this task."
        },
        "jsonValidationOption": {
          "description": "If set, overrides the option configured in the Task implementation class.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        },
        "failurePolicy": {
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.)."
        },
        "nextTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "type": "array"
        },
        "preconditionLabel": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to precondition in the UI."
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "alertConfigs": {
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          },
          "type": "array"
        },
        "disableStrictTypeValidation": {
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter.",
          "type": "boolean"
        },
        "taskEntity": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
          "description": "Copy of the task entity that this task config is an instance of."
        },
        "taskSpec": {
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field. Please refer to go/eventbus-task-spec-example for detailed usage example.",
          "type": "string"
        },
        "taskName": {
          "type": "string",
          "description": "The name for the task."
        },
        "taskType": {
          "type": "string",
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "description": "Defines the type of the task",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ]
        },
        "nextTasksExecutionPolicy": {
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ]
        }
      },
      "type": "object",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27"
    },
    "GoogleCloudConnectorsV1AuthConfigSshPublicKey": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
      "description": "Parameters to support Ssh public key Authentication.",
      "properties": {
        "sshClientCert": {
          "description": "SSH Client Cert. It should contain both public and private key.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "username": {
          "description": "The user account used to authenticate.",
          "type": "string"
        },
        "certType": {
          "type": "string",
          "description": "Format of SSH Client cert."
        },
        "sshClientCertPass": {
          "description": "Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      }
    },
    "GoogleCloudConnectorsV1ConnectionStatus": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description."
        },
        "status": {
          "type": "string",
          "description": "Status provides detailed information for the state."
        },
        "state": {
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR"
          ],
          "description": "State."
        }
      },
      "description": "ConnectionStatus indicates the state of the connection.",
      "id": "GoogleCloudConnectorsV1ConnectionStatus"
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse",
      "description": "Response for listing RuntimeActionSchemas for a specific Connection.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "runtimeActionSchemas": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema"
          },
          "type": "array",
          "description": "Runtime action schemas."
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        },
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        }
      },
      "description": "Field represents either the key or value in an entry.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "type": "object",
      "description": "An error, warning, or information message associated with a workflow.",
      "id": "EnterpriseCrmEventbusProtoErrorDetail",
      "properties": {
        "taskNumber": {
          "type": "integer",
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level.",
          "format": "int32"
        },
        "errorCode": {
          "description": "The associated error-code, which can be a common or internal code.",
          "$ref": "CrmlogErrorCode"
        },
        "errorMessage": {
          "description": "The full text of the error message, including any parameters that were thrown along with the exception.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The severity of the error: ERROR|WARN|INFO.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse": {
      "description": "Response containing all provisioned regions for Connector Platform.",
      "id": "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse",
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "description": "All regions where Connector Platform is provisioned.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse",
      "description": "Response for listing the integration execution snapshot.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token returned in the previous response.",
          "type": "string"
        },
        "executionSnapshots": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          },
          "description": "Required. The detailed information for the execution snapshot."
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction"
    },
    "EnterpriseCrmEventbusProtoFunction": {
      "type": "object",
      "properties": {
        "parameters": {
          "description": "List of parameters required for the transformation.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
          }
        },
        "functionType": {
          "description": "The name of the function to perform.",
          "$ref": "EnterpriseCrmEventbusProtoFunctionType"
        }
      },
      "id": "EnterpriseCrmEventbusProtoFunction"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot",
      "properties": {
        "taskName": {
          "type": "string",
          "description": "The task name associated with this snapshot. Could be empty."
        },
        "eventParams": {
          "description": "The parameters in Event object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "conditionResults": {
          "type": "array",
          "description": "All of the computed conditions that been calculated.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          }
        },
        "eventExecutionInfoId": {
          "description": "Points to the event execution info this snapshot belongs to.",
          "type": "string"
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "snapshotTime": {
          "description": "Indicates when this snapshot is taken.",
          "format": "int64",
          "type": "string"
        },
        "eventExecutionSnapshotId": {
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table.",
          "type": "string"
        },
        "taskExecutionDetails": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          },
          "description": "All of the task execution details at the given point of time."
        },
        "checkpointTaskNumber": {
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken.",
          "type": "string"
        },
        "diffParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object that differs from last snapshot."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationVersion": {
      "description": "The integration version definition.",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
      "properties": {
        "taskConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskConfig"
          },
          "type": "array",
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs."
        },
        "databasePersistencePolicy": {
          "type": "string",
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED"
          ],
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data."
          ],
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index."
        },
        "description": {
          "description": "Optional. The integration description.",
          "type": "string"
        },
        "triggerConfigs": {
          "description": "Optional. Trigger configurations.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTriggerConfig"
          },
          "type": "array"
        },
        "teardown": {
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code."
        },
        "taskConfigsInternal": {
          "description": "Optional. Task configuration for the integration. It's optional, but the integration doesn't do anything without task_configs.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          },
          "type": "array"
        },
        "status": {
          "description": "Output only. Generated by eventbus. User should not set it as an input.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Auto-generated.",
          "type": "string"
        },
        "integrationParametersInternal": {
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters"
        },
        "lastModifierEmail": {
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Auto-generated primary key.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. User should not set it as an input.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Draft.",
            "Active.",
            "Archived.",
            "Snapshot."
          ],
          "enum": [
            "INTEGRATION_STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ]
        },
        "createTime": {
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "origin": {
          "enum": [
            "UNSPECIFIED",
            "UI",
            "PIPER_V2",
            "PIPER_V3",
            "APPLICATION_IP_PROVISIONING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Workflow is being created via event bus UI.",
            "User checked in this workflow in Piper as v2 textproto format and we synced it into spanner.",
            "User checked in this workflow in piper as v3 textproto format and we synced it into spanner.",
            "Workflow is being created via Standalone IP Provisioning"
          ],
          "description": "Optional. The origin that indicates where this integration is coming from."
        },
        "integrationParameters": {
          "description": "Optional. Parameters that are expected to be passed to the integration when an event is triggered. This consists of all the parameters that are expected in the integration execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationParameter"
          }
        },
        "parentTemplateId": {
          "type": "string",
          "description": "Optional. The id of the template which was used to create this integration_version."
        },
        "lockHolder": {
          "description": "Optional. The edit lock holder's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "triggerConfigsInternal": {
          "type": "array",
          "description": "Optional. Trigger configurations.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          }
        },
        "snapshotNumber": {
          "description": "Optional. An increasing sequence that is set when a new snapshot is created. The last created snapshot can be identified by [workflow_name, org_id latest(snapshot_number)]. However, last created snapshot need not be same as the HEAD. So users should always use \"HEAD\" tag to identify the head.",
          "type": "string",
          "format": "int64"
        },
        "userLabel": {
          "type": "string",
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCloudKmsConfig": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCloudKmsConfig",
      "description": "Configuration information for Client's Cloud KMS information",
      "properties": {
        "key": {
          "description": "Required. A Cloud KMS key is a named object containing one or more key versions, along with metadata for the key. A key exists on exactly one key ring tied to a specific location.",
          "type": "string"
        },
        "kmsRing": {
          "description": "Required. A key ring organizes keys in a specific Google Cloud location and allows you to manage access control on groups of keys. A key ring's name does not need to be unique across a Google Cloud project, but must be unique within a given location.",
          "type": "string"
        },
        "keyVersion": {
          "description": "Optional. Each version of a key contains key material used for encryption or signing. A key's version is represented by an integer, starting at 1. To decrypt data or verify a signature, you must use the same key version that was used to encrypt or sign the data.",
          "type": "string"
        },
        "kmsLocation": {
          "description": "Required. Location name of the key ring, e.g. \"us-west1\".",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
      "type": "object",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution.",
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "properties": {
        "errorMsg": {
          "description": "Add the error message when loops fail.",
          "type": "string"
        },
        "currentIterationCount": {
          "format": "int64",
          "type": "string",
          "description": "Starting from 1, not 0."
        },
        "currentIterationDetail": {
          "type": "string",
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available."
        },
        "failureLocation": {
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ],
          "type": "string",
          "description": "Indicates where in the loop logic did it error out.",
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoLoopMetadata",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "type": "object",
      "description": "Metadata of the execution snapshot.",
      "properties": {
        "task": {
          "description": "the task name associated with this snapshot.",
          "type": "string"
        },
        "taskAttempt": {
          "format": "int32",
          "description": "the task attempt number this snapshot belongs to.",
          "type": "integer"
        },
        "taskNumber": {
          "description": "The task number associated with this snapshot.",
          "type": "string"
        },
        "executionAttempt": {
          "type": "integer",
          "description": "the execution attempt number this snapshot belongs to.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata"
    },
    "EnterpriseCrmEventbusProtoBooleanParameterArray": {
      "id": "EnterpriseCrmEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details.",
      "type": "object",
      "properties": {
        "logFieldName": {
          "type": "string",
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key."
        },
        "seedScope": {
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ],
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "type": "string"
        },
        "shorteningLimits": {
          "description": "Contains the field limits for shortening, such as max string length and max array length.",
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits"
        },
        "seedPeriod": {
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ],
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ],
          "type": "string"
        },
        "sanitizeOptions": {
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc.",
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions"
        }
      }
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "description": "Attributes are additional options that can be associated with each event property. For more information, see go/integration-platform/event_bus/attributes_registry.md. Next available: 8",
      "id": "EnterpriseCrmEventbusProtoAttributes",
      "properties": {
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ]
        },
        "searchable": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ],
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ]
        },
        "defaultValue": {
          "description": "Used to define defaults.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "isSearchable": {
          "type": "boolean",
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable."
        },
        "logSettings": {
          "description": "See go/integration-platform/analytics/logging_task.md for details.",
          "$ref": "EnterpriseCrmEventbusProtoLogSettings"
        },
        "isRequired": {
          "type": "boolean",
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered."
        },
        "taskVisibility": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of tasks that can view this property, if empty then all."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterEntry": {
      "description": "Key-value pair of EventBus parameters.",
      "properties": {
        "dataType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Explicitly getting the type of the parameter.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterEntry",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "properties": {
        "username": {
          "type": "string",
          "description": "Username to be used"
        },
        "password": {
          "type": "string",
          "description": "Password to be used"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "description": "Username and password pair."
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaDoubleParameterArray": {
      "type": "object",
      "properties": {
        "doubleValues": {
          "description": "Double number array.",
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaDoubleParameterArray",
      "description": "This message only contains a field of double number array."
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "type": "object",
      "description": "Cloud Scheduler Trigger configuration",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        },
        "location": {
          "description": "Required. The location where associated cloud scheduler job will be created",
          "type": "string"
        },
        "cronTab": {
          "description": "Required. The cron tab of cloud scheduler trigger.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        }
      },
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
    },
    "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig",
      "properties": {
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "cronTab": {
          "description": "Required. The cron tab of cloud scheduler trigger.",
          "type": "string"
        }
      },
      "description": "Cloud Scheduler Trigger configuration"
    },
    "GoogleCloudIntegrationsV1alphaRuntimeActionSchema": {
      "description": "Metadata of an action, including schemas for its inputs and outputs.",
      "id": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema",
      "properties": {
        "inputSchema": {
          "description": "Input parameter schema for the action.",
          "type": "string"
        },
        "outputSchema": {
          "type": "string",
          "description": "Output parameter schema for the action."
        },
        "action": {
          "type": "string",
          "description": "Name of the action."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "properties": {
        "min": {
          "type": "number",
          "description": "The inclusive minimum of the acceptable range.",
          "format": "double"
        },
        "max": {
          "type": "number",
          "description": "The inclusive maximum of the acceptable range.",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Range used to validate doubles and floats.",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
    },
    "CrmlogErrorCode": {
      "type": "object",
      "id": "CrmlogErrorCode",
      "properties": {
        "commonErrorCode": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ],
          "type": "string"
        }
      },
      "description": "Registered ids for errors, as \"oneof\" enums. Each task or logical grouping of tasks may share the same enum."
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "properties": {
        "entity": {
          "type": "string",
          "description": "Name of the entity."
        },
        "arrayFieldSchema": {
          "description": "The above schema, but for an array of the associated entity.",
          "type": "string"
        },
        "fieldSchema": {
          "description": "List of fields in the entity.",
          "type": "string"
        }
      },
      "description": "Metadata of an entity, including a schema for its properties.",
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "properties": {
        "clientSecret": {
[...]
