{
  "canonicalName": "Integrations",
  "rootUrl": "https://integrations.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/application-integration",
  "revision": "20240416",
  "name": "integrations",
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "baseUrl": "https://integrations.googleapis.com/",
  "version": "v1alpha",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "id": "integrations:v1alpha",
  "description": "",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer": {
      "type": "object",
      "properties": {
        "jwtClaims": {
          "description": "JwtClaims providers fields to generate the token.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims"
        },
        "clientKey": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`."
        }
      },
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer"
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "id": "EnterpriseCrmEventbusProtoValueType",
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message.",
      "type": "object",
      "properties": {
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "stringValue": {
          "type": "string"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification",
      "properties": {
        "title": {
          "description": "Title of the issue to be created. Required.",
          "type": "string"
        },
        "assigneeEmailAddress": {
          "description": "Whom to assign the new bug. Optional.",
          "type": "string"
        },
        "templateId": {
          "format": "int64",
          "description": "ID of the buganizer template to use. Optional.",
          "type": "string"
        },
        "componentId": {
          "format": "int64",
          "description": "ID of the buganizer component within which to create a new issue. Required.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskUiConfig": {
      "description": "Task authors would use this type to configure the UI for a particular task by specifying what UI config modules should be included to compose the UI. Learn more about config module framework:",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskUiConfig",
      "properties": {
        "taskUiModuleConfigs": {
          "description": "Configurations of included config modules.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
          }
        }
      }
    },
    "GoogleCloudConnectorsV1HPAConfig": {
      "id": "GoogleCloudConnectorsV1HPAConfig",
      "type": "object",
      "properties": {
        "cpuUtilizationThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Percent CPU utilization where HPA triggers autoscaling.",
          "readOnly": true
        },
        "memoryUtilizationThreshold": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Percent Memory utilization where HPA triggers autoscaling."
        }
      },
      "description": "Autoscaling config for connector deployment system metrics."
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "If the access token will expire, use the refresh token to obtain another access token."
        },
        "tokenType": {
          "type": "string",
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0."
        },
        "accessToken": {
          "type": "string",
          "description": "The access token encapsulating the security identity of a process or thread."
        },
        "refreshTokenExpireTime": {
          "type": "string",
          "description": "The approximate time until the refresh token retrieved is valid.",
          "format": "google-datetime"
        },
        "accessTokenExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The approximate time until the access token retrieved is valid."
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "type": "object",
      "properties": {
        "liftWhenExpired": {
          "type": "boolean",
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior."
        },
        "expireAfterMs": {
          "type": "integer",
          "description": "Milliseconds after which the suspension expires, if no action taken.",
          "format": "int32"
        },
        "remindAfterMs": {
          "format": "int32",
          "description": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "type": "integer"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionExpiration"
    },
    "EnterpriseCrmEventbusProtoCoordinate": {
      "id": "EnterpriseCrmEventbusProtoCoordinate",
      "type": "object",
      "properties": {
        "y": {
          "format": "int32",
          "type": "integer"
        },
        "x": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents two-dimensional positions."
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus.",
      "properties": {
        "properties": {
          "description": "An unordered list of property entries.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "description": "Range used to validate doubles and floats.",
      "type": "object",
      "properties": {
        "max": {
          "description": "The inclusive maximum of the acceptable range.",
          "format": "double",
          "type": "number"
        },
        "min": {
          "type": "number",
          "format": "double",
          "description": "The inclusive minimum of the acceptable range."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "type": "object",
      "properties": {
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        },
        "triggerCriteriaTaskImplementationClassName": {
          "type": "string",
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface."
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Optional. To be used in TaskConfig for the implementation class."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse",
      "description": "The response for executing an integration.",
      "properties": {
        "executionInfoIds": {
          "type": "array",
          "description": "The execution info id for the executed integrations.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1BillingConfig": {
      "description": "Billing config for the connection.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1BillingConfig",
      "properties": {
        "billingCategory": {
          "enum": [
            "BILLING_CATEGORY_UNSPECIFIED",
            "GCP_AND_TECHNICAL_CONNECTOR",
            "NON_GCP_CONNECTOR"
          ],
          "readOnly": true,
          "description": "Output only. Billing category for the connector.",
          "enumDescriptions": [
            "Billing category is not specified.",
            "GCP/Technical connector.",
            "Non-GCP connector."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "description": "Response for Suspensions.ResolveSuspensions.",
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCloudLoggingDetails": {
      "id": "GoogleCloudIntegrationsV1alphaCloudLoggingDetails",
      "properties": {
        "cloudLoggingSeverity": {
          "enum": [
            "CLOUD_LOGGING_SEVERITY_UNSPECIFIED",
            "INFO",
            "ERROR",
            "WARNING"
          ],
          "type": "string",
          "description": "Optional. Severity selected by the customer for the logs to be sent to Cloud Logging, for the integration version getting executed.",
          "enumDescriptions": [
            "Unspecified",
            "If Severity selected is `INFO`, then all the Integration Execution States (`IN_PROCESS`, `ON_HOLD`, `SUCCEEDED`, `SUSPENDED`, `ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `ERROR`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging.",
            "If Severity selected is `WARNING`, then only the following Integration Execution States (`ERROR`, `CANCELLED`) will be sent to Cloud Logging."
          ]
        },
        "enableCloudLogging": {
          "description": "Optional. Status of whether Cloud Logging is enabled or not for the integration version getting executed.",
          "type": "boolean"
        }
      },
      "description": "Cloud Logging details for execution info",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse": {
      "type": "object",
      "properties": {
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Execution Id that will be returned"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse",
      "description": "Response of lift Suspense"
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "properties": {
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction",
          "description": "LINT.ThenChange(//depot/google3/alkali/apps/integrationplatform/client/workflow_editor/utils/transform_function.ts)"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "baseFunction": {
          "description": "LINT.IfChange",
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        }
      },
      "id": "EnterpriseCrmEventbusProtoFunctionType",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaClientCertificate": {
      "description": "Contains client certificate information",
      "properties": {
        "encryptedPrivateKey": {
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
          "type": "string"
        },
        "passphrase": {
          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
          "type": "string"
        },
        "sslCertificate": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaClientCertificate"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        },
        "sfdcChannels": {
          "type": "array",
          "description": "The list of SfdcChannels retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
          }
        }
      },
      "type": "object",
      "description": "Response to list SfdcChannels.",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "description": "Contains all the execution details for a workflow instance. Next available id: 24",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "properties": {
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        },
        "executionTraceInfo": {
          "description": "Execution trace info to aggregate parent-child executions.",
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo"
        },
        "responseParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come out as part of the response."
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "workflowName": {
          "type": "string",
          "description": "Name of the workflow."
        },
        "errorCode": {
          "description": "Final error-code if event failed.",
          "$ref": "CrmlogErrorCode"
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "format": "int64",
          "type": "string"
        },
        "workflowRetryBackoffIntervalSeconds": {
          "format": "int64",
          "type": "string",
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running"
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request.",
          "type": "string"
        },
        "workflowId": {
          "type": "string",
          "description": "Required. Pointer to the workflow it is executing."
        },
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "createTime": {
          "type": "string",
          "format": "int64",
          "description": "Auto-generated."
        },
        "snapshotNumber": {
          "description": "Workflow snapshot number.",
          "type": "string",
          "format": "int64"
        },
        "errors": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "type": "array",
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained."
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "postMethod": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The ways user posts this event."
        },
        "tenant": {
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant.",
          "type": "string"
        },
        "product": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default.",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The event data user sends as request."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "type": "object",
      "properties": {
        "max": {
          "format": "int64",
          "type": "string",
          "description": "The inclusive maximum of the acceptable range."
        },
        "min": {
          "type": "string",
          "format": "int64",
          "description": "The inclusive minimum of the acceptable range."
        }
      },
      "description": "Range used to validate longs and ints.",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion": {
      "type": "object",
      "description": "IntegrationTemplateVersion definition. An IntegrationTemplateVersion provides configurations required to construct an IntegrationVersion. It cannot be executed directly like an Integration. Users can create IntegrationTemplateVersions using Integrations. These Templates can be shared by users across GCP projects. Next available: 17",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion",
      "properties": {
        "databasePersistencePolicy": {
          "type": "string",
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data.",
            "Asynchronously persist all execution data."
          ],
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED",
            "DATABASE_PERSISTENCE_ASYNC"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated primary key. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}"
        },
        "description": {
          "type": "string",
          "description": "Optional. The templateversion description. Permitted format is alphanumeric with underscores and no spaces."
        },
        "taskConfigs": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          },
          "description": "Optional. Task configuration for the IntegrationTemplateVersion. It's optional, but the IntegrationTemplateVersion doesn't do anything without task_configs.",
          "type": "array"
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "teardown": {
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code."
        },
        "userLabel": {
          "type": "string",
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created."
        },
        "templateParameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
          "description": "Optional. Parameters that are expected to be passed to the IntegrationTemplateVersion when an event is triggered. This consists of all the parameters that are expected in the IntegrationTemplateVersion execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Auto-generated."
        },
        "enableVariableMasking": {
          "description": "Optional. True if variable masking feature should be turned on for generated workflows",
          "type": "boolean"
        },
        "snapshotNumber": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. An increasing sequence that is set when a new snapshot is created.",
          "type": "string"
        },
        "parentIntegrationVersionId": {
          "type": "string",
          "description": "Optional. ID of the IntegrationVersion that was used to create this IntegrationTemplateVersion"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Auto-generated.",
          "readOnly": true
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ],
          "description": "Optional. Generated by eventbus. User should not set it as an input.",
          "type": "string"
        },
        "triggerConfigs": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          },
          "description": "Optional. Trigger configurations.",
          "type": "array"
        },
        "errorCatcherConfigs": {
          "description": "Optional. Error Catch Task configuration for the IntegrationTemplateVersion. It's optional.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaErrorCatcherConfig"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "properties": {
        "maxArraySize": {
          "format": "int32",
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated.",
          "type": "integer"
        },
        "logType": {
          "description": "To which type(s) of logs the limits apply.",
          "items": {
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "type": "string",
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ]
          },
          "type": "array"
        },
        "shortenerType": {
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ],
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ],
          "type": "string"
        },
        "logAction": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ]
        },
        "maxStringLength": {
          "format": "int32",
          "type": "integer",
          "description": "maximum string length. If the field exceeds this amount the field is shortened."
        }
      },
      "id": "EnterpriseCrmLoggingGwsFieldLimits",
      "type": "object",
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex": {
      "description": "Rule used to validate strings.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex",
      "properties": {
        "exclusive": {
          "type": "boolean",
          "description": "Whether the regex matcher is applied exclusively (if true, matching values will be rejected)."
        },
        "regex": {
          "description": "The regex applied to the input value(s).",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions",
      "description": "LINT.IfChange",
      "properties": {
        "mdbGroup": {
          "type": "string"
        },
        "gaiaIdentity": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
          "description": "Represents a Gaia identity for a person or service account."
        },
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "loasRole": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "description": "Cloud Scheduler Trigger configuration",
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig",
      "properties": {
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        },
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        },
        "location": {
          "description": "Required. The location where associated cloud scheduler job will be created",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse": {
      "description": "Response for DownloadIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "String representation of the requested file."
        },
        "files": {
          "description": "List containing String represendation for multiple file with type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSerializedFile"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListConnectionsResponse",
      "description": "Response containing Connections listed by region.",
      "properties": {
        "connections": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Connection"
          },
          "type": "array",
          "description": "Connections."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterEntry": {
      "type": "object",
      "description": "Key-value pair of EventBus parameters.",
      "properties": {
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "masked": {
          "description": "True if this parameter should be masked in the logs",
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterEntry"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "description": "The request for scheduling an integration. Next available id: 11",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "properties": {
        "scheduleTime": {
          "format": "google-datetime",
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
          "type": "string"
        },
        "userGeneratedExecutionId": {
          "description": "Optional. This is a unique id provided by the method caller. If provided this will be used as the execution_id when a new execution info is created. This is a string representation of a UUID. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)"
        },
        "parameterEntries": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "deprecated": true,
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "parameters": {
          "deprecated": true,
          "description": "Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "requestId": {
          "type": "string",
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "type": "object",
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information.",
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "properties": {
        "logFieldName": {
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key.",
          "type": "string"
        },
        "shorteningLimits": {
          "description": "Contains the field limits for shortening, such as max string length and max array length.",
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits"
        },
        "sanitizeOptions": {
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions",
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc."
        },
        "seedScope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ]
        },
        "seedPeriod": {
          "type": "string",
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ],
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "properties": {
        "taskNumber": {
          "type": "integer",
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level.",
          "format": "int32"
        },
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "The associated error-code, which can be a common or internal code."
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ],
          "description": "The severity of the error: ERROR|WARN|INFO."
        },
        "errorMessage": {
          "description": "The full text of the error message, including any parameters that were thrown along with the exception.",
          "type": "string"
        }
      },
      "description": "An error, warning, or information message associated with a workflow.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoErrorDetail"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray",
      "type": "object",
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema",
      "type": "object",
      "description": "Metadata of an entity, including a schema for its properties.",
      "properties": {
        "arrayFieldSchema": {
          "description": "The above schema, but for an array of the associated entity.",
          "type": "string"
        },
        "fieldSchema": {
          "description": "List of fields in the entity.",
          "type": "string"
        },
        "entity": {
          "type": "string",
          "description": "Name of the entity."
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "id": "EnterpriseCrmEventbusProtoStringParameterArray",
      "type": "object",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse",
      "description": "Response for ListIntegrations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token for the response."
        },
        "integrations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegration"
          },
          "description": "The integrations which match the request."
        }
      }
    },
    "GoogleCloudConnectorsV1ConfigVariable": {
      "type": "object",
      "properties": {
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Value is an integer"
        },
        "secretValue": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Value is a secret."
        },
        "encryptionKeyValue": {
          "$ref": "GoogleCloudConnectorsV1EncryptionKey",
          "description": "Value is a Encryption Key."
        },
        "stringValue": {
          "type": "string",
          "description": "Value is a string."
        },
        "key": {
          "type": "string",
          "description": "Key of the config variable."
        },
        "boolValue": {
          "type": "boolean",
          "description": "Value is a bool."
        }
      },
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig.",
      "id": "GoogleCloudConnectorsV1ConfigVariable"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "integrationVersions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
          },
          "type": "array",
          "description": "The integrations which match the request."
        },
        "noPermission": {
          "type": "boolean",
          "description": "Whether the user has no permission on the version or not."
        }
      },
      "type": "object",
      "description": "Response for ListIntegrationVersions."
    },
    "EnterpriseCrmEventbusProtoProtoArrayFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoArrayFunction"
    },
    "CrmlogErrorCode": {
      "id": "CrmlogErrorCode",
      "description": "Registered ids for errors, as \"oneof\" enums. Each task or logical grouping of tasks may share the same enum.",
      "properties": {
        "commonErrorCode": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "id": "EnterpriseCrmEventbusProtoStringFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE",
            "DECODE_BASE64_STRING"
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoToken": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoToken"
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "type": "object",
      "properties": {
        "masked": {
          "type": "boolean",
          "description": "True if this workflow parameter should be masked in the logs"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Used to indicate if the ParameterEntry is a read only field or not."
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Used to define defaults."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ],
          "type": "string",
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)"
        },
        "isSearchable": {
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable.",
          "type": "boolean",
          "deprecated": true
        },
        "logSettings": {
          "$ref": "EnterpriseCrmEventbusProtoLogSettings",
          "description": "See"
        },
        "searchable": {
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ],
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ],
          "type": "string"
        },
        "isRequired": {
          "type": "boolean",
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered."
        },
        "taskVisibility": {
          "items": {
            "type": "string"
          },
          "description": "List of tasks that can view this property, if empty then all.",
          "type": "array"
        }
      },
      "description": "Attributes are additional options that can be associated with each event property. For more information, see",
      "id": "EnterpriseCrmEventbusProtoAttributes"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetails": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetails",
      "description": "Contains the details of the execution of this task. Next available id: 11",
      "properties": {
        "taskNumber": {
          "description": "Pointer to the task config it used for execution.",
          "type": "string"
        },
        "taskExecutionState": {
          "enumDescriptions": [
            "",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "enum": [
            "UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "taskAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoCondition": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoCondition",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Value that's checked for the key."
        },
        "operator": {
          "enum": [
            "UNSET",
            "EQUALS",
            "CONTAINS",
            "LESS_THAN",
            "GREATER_THAN",
            "EXISTS",
            "DOES_NOT_EXIST",
            "IS_EMPTY",
            "IS_NOT_EMPTY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Operator used to evaluate the condition. Please note that an operator with an inappropriate key/value operand will result in IllegalArgumentException, e.g. CONTAINS with boolean key/value pair."
        },
        "eventPropertyKey": {
          "type": "string",
          "description": "Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown."
        }
      },
      "description": "Condition that uses `operator` to evaluate the key against the value.",
      "deprecated": true
    },
    "EnterpriseCrmEventbusProtoNextTeardownTask": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the next teardown task."
        }
      },
      "id": "EnterpriseCrmEventbusProtoNextTeardownTask",
      "type": "object",
      "description": "The teardown task that is next in line to be executed. We support only sequential execution of teardown tasks (i.e. no branching)."
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The end time of the task execution for current attempt.",
          "format": "int64"
        },
        "startTime": {
          "format": "int64",
          "type": "string",
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled."
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
    },
    "GoogleCloudIntegrationsV1alphaExecuteEventResponse": {
      "description": "The response for executing an integration.",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "The id of the execution corresponding to this run of integration."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecuteEventResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTeardownTaskConfig": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Unique identifier of the teardown task within this Config. We use this field as the identifier to find next teardown tasks."
        },
        "nextTeardownTask": {
          "$ref": "EnterpriseCrmEventbusProtoNextTeardownTask"
        },
        "properties": {
          "$ref": "EnterpriseCrmEventbusProtoEventBusProperties"
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "The parameters the user can pass to this task."
        },
        "teardownTaskImplementationClassName": {
          "description": "Required. Implementation class name.",
          "type": "string"
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address."
        }
      },
      "id": "EnterpriseCrmEventbusProtoTeardownTaskConfig"
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoLoopMetadata",
      "properties": {
        "failureLocation": {
          "description": "Indicates where in the loop logic did it error out.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ],
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ]
        },
        "currentIterationCount": {
          "format": "int64",
          "description": "Starting from 1, not 0.",
          "type": "string"
        },
        "errorMsg": {
          "description": "Add the error message when loops fail.",
          "type": "string"
        },
        "currentIterationDetail": {
          "type": "string",
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoTriggerConfig": {
      "properties": {
        "triggerId": {
          "type": "string",
          "description": "The backend trigger ID."
        },
        "alertConfig": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoWorkflowAlertConfig"
          },
          "description": "An alert threshold configuration for the [trigger + client + workflow] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + workflow] when published."
        },
        "triggerCriteria": {
          "$ref": "EnterpriseCrmEventbusProtoTriggerCriteria",
          "description": "Optional. When set, Eventbus will run the task specified in the trigger_criteria and validate the result using the trigger_criteria.condition, and only execute the workflow when result is true."
        },
        "errorCatcherId": {
          "type": "string",
          "description": "Optional Error catcher id of the error catch flow which will be executed when execution error happens in the task"
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this trigger config on the UI.",
          "$ref": "EnterpriseCrmEventbusProtoCoordinate"
        },
        "description": {
          "description": "User-provided description intended to give more business context about the task.",
          "type": "string"
        },
        "nextTasksExecutionPolicy": {
          "type": "string",
          "description": "Dictates how next tasks will be executed.",
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "pauseWorkflowExecutions": {
          "description": "Optional. If set to true, any upcoming requests for this trigger config will be paused and the executions will be resumed later when the flag is reset. The workflow to which this trigger config belongs has to be in ACTIVE status for the executions to be paused or resumed.",
          "type": "boolean"
        },
        "triggerType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "CLOUD_PUBSUB",
            "GOOPS",
            "SFDC_SYNC",
            "CRON",
            "API",
            "MANIFOLD_TRIGGER",
            "DATALAYER_DATA_CHANGE",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "SFDC_PLATFORM_EVENTS_CHANNEL",
            "CLOUD_SCHEDULER",
            "INTEGRATION_CONNECTOR_TRIGGER",
            "PRIVATE_TRIGGER"
          ],
          "type": "string"
        },
        "properties": {
          "description": "Configurable properties of the trigger, not to be confused with workflow parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Cloud Pubsub triggers.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enabledClients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of client ids which are enabled to execute the workflow using this trigger. In other words, these clients have the workflow execution privledges for this trigger. For API trigger, the client id in the incoming request is validated against the list of enabled clients. For non-API triggers, one workflow execution is triggered on behalf of each enabled client."
        },
        "startTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "type": "array",
          "description": "Set of tasks numbers from where the workflow execution is started by this trigger. If this is empty, then workflow is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same workflow execution graph)."
        },
        "cloudSchedulerConfig": {
          "$ref": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
        },
        "triggerName": {
          "type": "string",
          "description": "Optional. Name of the trigger This is added to identify the type of trigger. This is avoid the logic on triggerId to identify the trigger_type and push the same to monitoring."
        },
        "label": {
          "description": "The user created label for a particular trigger.",
          "type": "string"
        },
        "triggerNumber": {
          "description": "Required. A number to uniquely identify each trigger config within the workflow on UI.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig",
      "description": "Configuration detail of a trigger. Next available id: 20",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse": {
      "description": "Response for PublishIntegrationVersion.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse",
      "properties": {
        "integrationTemplateVersions": {
          "type": "array",
          "description": "The IntegrationTemplateVersions which match the request.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response for IntegrationTemplateVersions.ListIntegrationTemplateVersions."
    },
    "GoogleCloudConnectorsV1EventingStatus": {
      "properties": {
        "state": {
          "description": "Output only. State.",
          "enumDescriptions": [
            "Default state.",
            "Eventing is enabled and ready to receive events.",
            "Eventing is not active due to an error.",
            "Ingress endpoint required."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of error if State is set to \"ERROR\".",
          "readOnly": true
        }
      },
      "description": "EventingStatus indicates the state of eventing.",
      "id": "GoogleCloudConnectorsV1EventingStatus",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        }
      },
      "type": "object",
      "description": "Field represents either the key or value in an entry.",
      "id": "EnterpriseCrmEventbusProtoParameterMapField"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        },
        "sfdcInstances": {
          "description": "The list of SfdcInstances retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          }
        }
      },
      "type": "object",
      "description": "Response to list SfdcInstances.",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse"
    },
    "GoogleCloudConnectorsV1EventingRuntimeData": {
      "id": "GoogleCloudConnectorsV1EventingRuntimeData",
      "description": "Eventing runtime data has the details related to eventing managed by the system.",
      "properties": {
        "webhookData": {
          "description": "Output only. Webhook data.",
          "$ref": "GoogleCloudConnectorsV1EventingRuntimeDataWebhookData",
          "readOnly": true
        },
        "eventsListenerEndpoint": {
          "description": "Output only. Events listener endpoint. The value will populated after provisioning the events listener.",
          "type": "string",
          "readOnly": true
        },
        "eventsListenerPscSa": {
          "description": "Output only. Events listener PSC Service attachment. The value will be populated after provisioning the events listener with private connectivity enabled.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "$ref": "GoogleCloudConnectorsV1EventingStatus",
          "readOnly": true,
          "description": "Output only. Current status of eventing."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "id": "EnterpriseCrmEventbusProtoFailurePolicy",
      "type": "object",
      "properties": {
        "intervalInSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff."
        },
        "maxNumRetries": {
          "format": "int32",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer"
        },
        "retryStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ],
          "description": "Defines what happens to the task upon failure.",
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ]
        }
      },
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied)."
    },
    "GoogleCloudIntegrationsV1alphaParameterMapField": {
      "id": "GoogleCloudIntegrationsV1alphaParameterMapField",
      "properties": {
        "literalValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the Integration variables."
        }
      },
      "type": "object",
      "description": "Field represents either the key or value in an entry."
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue": {
      "type": "object",
      "properties": {
        "absolute": {
          "type": "string",
          "format": "int64"
        },
        "percentage": {
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig.",
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata",
      "description": "Metadata of runtime connection schema.",
      "properties": {
        "actions": {
          "description": "List of actions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entities": {
          "description": "List of entity names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "properties": {
        "name": {
          "type": "string"
        },
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          }
        },
        "email": {
          "type": "string",
          "description": "Required."
        }
      },
      "id": "EnterpriseCrmEventbusProtoAddress",
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionAudit": {
      "properties": {
        "resolver": {
          "type": "string",
          "description": "Email address of the person who resolved this suspension."
        },
        "resolveTime": {
          "description": "Time at which this suspension was resolved.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Contains when and by whom the suspension was resolved.",
      "id": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "type": "object",
      "description": "Request for CreateAppsScriptProject rpc call.",
      "properties": {
        "appsScriptProject": {
          "type": "string",
          "description": "The name of the Apps Script project to be created."
        },
        "authConfigId": {
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "description": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "properties": {
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "Access token fetched from the authorization server."
        },
        "requestType": {
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "description": "Represent how to pass parameters to fetch access token",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "type": "string"
        },
        "clientId": {
          "description": "The client's ID.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The user's username."
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "password": {
          "type": "string",
          "description": "The user's password."
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "Token parameters for the auth request."
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBooleanParameterArray": {
      "id": "EnterpriseCrmEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshot": {
      "properties": {
        "executionSnapshotMetadata": {
          "description": "Metadata of the execution snapshot.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata"
        },
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"after which checkpoint task's execution\" this snapshot is taken."
        },
        "params": {
          "description": "Parameters used during the execution.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        },
        "taskExecutionDetails": {
          "description": "All of the task execution details at the given point of time.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
          },
          "type": "array"
        }
      },
      "description": "Contains the snapshot of the execution for a given checkpoint.",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshot",
      "type": "object"
    },
    "GoogleCloudConnectorsV1EventingConfigDeadLetterConfig": {
      "description": "Dead Letter configuration details provided by the user.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Optional. Project which has the topic given."
        },
        "topic": {
          "description": "Optional. Topic to push events which couldn't be processed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudConnectorsV1EventingConfigDeadLetterConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "description": "A record representing a suspension.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuspension",
      "properties": {
        "name": {
          "description": "Resource name for suspensions suspension/{suspension_id}",
          "type": "string"
        },
        "approvalConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
          "description": "Controls the notifications and approval permissions for this suspension."
        },
        "taskId": {
          "type": "string",
          "description": "Required. Task id of the associated SuspensionTask."
        },
        "audit": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
          "description": "Metadata pertaining to the resolution of this suspension."
        },
        "integration": {
          "type": "string",
          "description": "Required. The name of the originating integration."
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "suspensionConfig": {
          "deprecated": true,
          "description": "Controls the notifications and resolver permissions for this suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "state": {
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ],
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "type": "string",
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Auto-generated."
        },
        "lastModifyTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Auto-generated."
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1EventingRuntimeDataWebhookData": {
      "properties": {
        "updateTime": {
          "description": "Output only. Timestamp when the webhook was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the webhook was created.",
          "type": "string"
        },
        "additionalVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Additional webhook related field values."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. ID to uniquely identify webhook.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Webhook"
        },
        "nextRefreshTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Next webhook refresh time. Will be null if refresh is not supported."
        }
      },
      "description": "WebhookData has details of webhook configuration.",
      "id": "GoogleCloudConnectorsV1EventingRuntimeDataWebhookData",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "properties": {
        "credentialType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "description": "Credential type of the encrypted credential.",
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ]
        },
        "displayName": {
          "description": "Required. The name of the auth config.",
          "type": "string"
        },
        "overrideValidTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "state": {
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "description": "The status of the auth config.",
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the auth config is created."
        },
        "expiryNotificationDuration": {
          "items": {
            "type": "string",
            "format": "google-duration"
          },
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours.",
          "type": "array"
        },
        "visibility": {
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ],
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "type": "string",
          "description": "The visibility of the auth config."
        },
        "description": {
          "type": "string",
          "description": "A description of the auth config."
        },
        "certificateId": {
          "description": "Certificate id for client certificate",
          "type": "string"
        },
        "encryptedCredential": {
          "format": "byte",
          "type": "string",
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key."
        },
        "name": {
          "description": "Resource name of the auth config. For more information, see Manage authentication profiles. projects/{project}/locations/{location}/authConfigs/{authConfig}.",
          "type": "string"
        },
        "decryptedCredential": {
          "description": "Raw auth credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCredential"
        },
        "validTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire."
        },
        "reason": {
          "description": "The reason / details of the current status.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the auth config is modified.",
          "type": "string"
        },
        "lastModifierEmail": {
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The AuthConfig resource use to hold channels and connection config data."
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray",
      "properties": {
        "doubleValues": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSfdcInstance": {
      "description": "The SfdcInstance resource use to hold channels and connection config data.",
      "id": "GoogleCloudIntegrationsV1alphaSfdcInstance",
      "properties": {
        "updateTime": {
          "description": "Output only. Time when the instance was last updated",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "serviceAuthority": {
          "type": "string",
          "description": "URL used for API calls after authentication (the login authority is configured within the referenced AuthConfig)."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}."
        },
        "authConfigId": {
          "description": "A list of AuthConfigs that can be tried to open the channel to SFDC",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "User selected unique name/alias to easily reference an instance."
        },
        "description": {
          "description": "A description of the sfdc instance.",
          "type": "string"
        },
        "sfdcOrgId": {
          "type": "string",
          "description": "The SFDC Org Id. This is defined in salesforce."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the instance is created",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the instance was deleted. Empty if not deleted.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoFunction"
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
[...]
