{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "discoveryVersion": "v1",
  "canonicalName": "Integrations",
  "kind": "discovery#restDescription",
  "rootUrl": "https://integrations.googleapis.com/",
  "documentationLink": "https://cloud.google.com/application-integration",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "basePath": "",
  "baseUrl": "https://integrations.googleapis.com/",
  "schemas": {
    "EnterpriseCrmFrontendsEventbusProtoParameterMap": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMap",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
          }
        },
        "keyType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string"
        },
        "valueType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified."
    },
    "EnterpriseCrmEventbusProtoCustomSuspensionRequest": {
      "properties": {
        "postToQueueWithTriggerIdRequest": {
          "description": "Request to fire an event containing the SuspensionInfo message.",
          "$ref": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest"
        },
        "suspensionInfoEventParameterKey": {
          "description": "In the fired event, set the SuspensionInfo message as the value for this key.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoCustomSuspensionRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "type": "object",
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message.",
      "id": "EnterpriseCrmEventbusProtoValueType",
      "properties": {
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "stringValue": {
          "type": "string"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        },
        "protoValue": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "properties": {},
      "description": "Response for ArchiveBundle.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "properties": {
        "lastReplayId": {
          "description": "Last sfdc messsage replay id for channel",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Client level unique name/alias to easily reference a channel."
        },
        "channelTopic": {
          "type": "string",
          "description": "The Channel topic defined by salesforce once an channel is opened"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the channel is created",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Time when the channel was deleted. Empty if not deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description for this channel"
        },
        "isActive": {
          "type": "boolean",
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the channel was last updated",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListExecutionsResponse": {
      "description": "Response for listing the integration execution data.",
      "properties": {
        "executions": {
          "description": "The detailed information of requested executions",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "type": "array"
        },
        "executionInfos": {
          "type": "array",
          "description": "Required. The detailed information of requested executions.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
          }
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "properties": {
        "referenceValue": {
          "description": "Start with a reference value to dereference.",
          "type": "string"
        },
        "baseFunction": {
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc.",
          "$ref": "EnterpriseCrmEventbusProtoFunction"
        },
        "literalValue": {
          "description": "Start with a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterEntry": {
      "properties": {
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition."
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Explicitly getting the type of the parameter."
        }
      },
      "description": "Key-value pair of EventBus parameters.",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterEntry",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "properties": {
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "createdTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Auto-generated."
        },
        "taskNumber": {
          "description": "Required. Task number of the associated SuspensionTask.",
          "type": "string"
        },
        "lastModifiedTimestamp": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "suspensionId": {
          "description": "Primary key for the SuspensionResolutionInfoTable.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "externalTraffic": {
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic",
          "description": "The origin of the suspension for periodic notifications."
        },
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        },
        "product": {
          "type": "string",
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default.",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        }
      }
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "id": "EnterpriseCrmEventbusProtoAttributes",
      "type": "object",
      "properties": {
        "searchable": {
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ],
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ],
          "type": "string"
        },
        "taskVisibility": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of tasks that can view this property, if empty then all."
        },
        "isSearchable": {
          "type": "boolean",
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable."
        },
        "dataType": {
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ]
        },
        "isRequired": {
          "type": "boolean",
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered."
        },
        "defaultValue": {
          "description": "Used to define defaults.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "logSettings": {
          "description": "See go/integration-platform/analytics/logging_task.md for details.",
          "$ref": "EnterpriseCrmEventbusProtoLogSettings"
        }
      },
      "description": "Attributes are additional options that can be associated with each event property. For more information, see go/integration-platform/event_bus/attributes_registry.md. Next available: 8"
    },
    "GoogleCloudIntegrationsV1alphaServiceAccountCredentials": {
      "description": "Represents the service account which can be used to generate access token for authenticating the service call.",
      "properties": {
        "serviceAccount": {
          "description": "Name of the service account that has the permission to make the request.",
          "type": "string"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse": {
      "description": "Response for DownloadIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse",
      "properties": {
        "content": {
          "type": "string",
          "description": "String representation of the integration version."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig",
      "type": "object",
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event.",
      "properties": {
        "alertThreshold": {
          "format": "int32",
          "type": "integer",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired."
        },
        "displayName": {
          "type": "string",
          "description": "Name of the alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the integration."
        },
        "onlyFinalAttempt": {
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries.",
          "type": "boolean"
        },
        "disableAlert": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this integration alert."
        },
        "durationThreshold": {
          "format": "google-duration",
          "type": "string",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger."
        },
        "thresholdValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered."
        },
        "aggregationPeriod": {
          "type": "string",
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week). For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours."
        },
        "metricType": {
          "type": "string",
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing integration.",
            "Specifies alerting on the rate of warnings for the enclosing integration. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing integration.",
            "Specifies alerting on the rate of warnings for any task in the enclosing integration.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing integration.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this integration.",
            "Specifies alerting on the duration value of a particular percentile of integration executions. E.g. If 10% or more of the integration executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing integration,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing integration. E.g. If 10% or more of the task executions in the integration have durations above 5 seconds, alert."
          ],
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "description": "The type of metric."
        },
        "thresholdType": {
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enum": [
            "THRESHOLD_TYPE_UNSPECIFIED",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "enumDescriptions": [
            "Default.",
            "Note that this field will only trigger alerts if the integration specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours. Min value threshold.",
            "Max value threshold."
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "type": "object",
      "properties": {
        "helpText": {
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter.",
          "type": "string"
        },
        "parameterNameOption": {
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ],
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ],
          "type": "string"
        },
        "descriptivePhrase": {
          "type": "string",
          "description": "A short phrase to describe what this parameter contains."
        },
        "label": {
          "description": "A user-friendly label for the parameter.",
          "type": "string"
        },
        "hideDefaultValue": {
          "type": "boolean",
          "description": "Whether the default value is hidden in the UI."
        },
        "uiPlaceholderText": {
          "description": "Placeholder text which will appear in the UI input form for this parameter.",
          "type": "string"
        },
        "inputDisplayOption": {
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ],
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ],
          "type": "string"
        },
        "subSectionLabel": {
          "description": "A user-friendly label for subSection under which the parameter will be displayed.",
          "type": "string"
        },
        "isHidden": {
          "description": "Whether this field is hidden in the UI.",
          "type": "boolean"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoProtoFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse",
      "properties": {},
      "description": "Response for PublishIntegrationVersion."
    },
    "EnterpriseCrmEventbusProtoFunction": {
      "id": "EnterpriseCrmEventbusProtoFunction",
      "type": "object",
      "properties": {
        "functionType": {
          "description": "The name of the function to perform.",
          "$ref": "EnterpriseCrmEventbusProtoFunctionType"
        },
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
          },
          "description": "List of parameters required for the transformation.",
          "type": "array"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "description": "To support various types of parameter values. Next available id: 14",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
      "properties": {
        "jsonValue": {
          "type": "string"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "description": "The request for scheduling an integration.",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "scheduleTime": {
          "format": "google-datetime",
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
          "type": "string"
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)",
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution."
        },
        "requestId": {
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "parameterEntries": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoScatterResponse": {
      "properties": {
        "executionIds": {
          "items": {
            "type": "string"
          },
          "description": "The execution ids of each Subworkflow fired by this scatter.",
          "type": "array"
        },
        "isSuccessful": {
          "description": "If execution is sync, this is true if the execution passed and false if it failed. If the execution is async, this is true if the WF was fired off successfully, and false if it failed to execute. The success or failure of the subworkflows executed are not captured.",
          "type": "boolean"
        },
        "errorMsg": {
          "type": "string",
          "description": "The error message of the failure if applicable."
        },
        "scatterElement": {
          "description": "The element that was scattered for this execution.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "responseParams": {
          "description": "A list of all the response parameters in the aggregtorMap stored with the remapped key.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoScatterResponse"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        },
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig",
      "description": "Cloud Scheduler Trigger configuration"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBaseFunction": {
      "id": "EnterpriseCrmEventbusProtoBaseFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "NOW_IN_MILLIS",
            "INT_LIST",
            "ENVIRONMENT",
            "GET_EXECUTION_ID",
            "GET_INTEGRATION_NAME",
            "GET_REGION",
            "GET_UUID",
            "GET_PROJECT_ID"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
      "type": "object",
      "description": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "properties": {
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "Access token fetched from the authorization server."
        },
        "username": {
          "type": "string",
          "description": "The user's username."
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "password": {
          "description": "The user's password.",
          "type": "string"
        },
        "tokenEndpoint": {
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "The client's secret."
        },
        "tokenParams": {
          "description": "Token parameters for the auth request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "clientId": {
          "type": "string",
          "description": "The client's ID."
        },
        "requestType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "description": "Represent how to pass parameters to fetch access token"
        }
      }
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "properties": {
        "protoValues": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray",
      "type": "object"
    },
    "GoogleCloudConnectorsV1LockConfig": {
      "type": "object",
      "properties": {
        "locked": {
          "description": "Indicates whether or not the connection is locked.",
          "type": "boolean"
        },
        "reason": {
          "description": "Describes why a connection is locked.",
          "type": "string"
        }
      },
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "id": "GoogleCloudConnectorsV1LockConfig"
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "id": "EnterpriseCrmEventbusProtoErrorDetail",
      "properties": {
        "severity": {
          "description": "The severity of the error: ERROR|WARN|INFO.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "taskNumber": {
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level.",
          "type": "integer",
          "format": "int32"
        },
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "The associated error-code, which can be a common or internal code."
        },
        "errorMessage": {
          "type": "string",
          "description": "The full text of the error message, including any parameters that were thrown along with the exception."
        }
      },
      "description": "An error, warning, or information message associated with a workflow.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "properties": {
        "g3DocLink": {
          "description": "URL to the associated G3 Doc for the task if available",
          "type": "string"
        },
        "defaultSpec": {
          "type": "string",
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format."
        },
        "docMarkdown": {
          "description": "Snippet of markdown documentation to embed in the RHP for this task.",
          "type": "string"
        },
        "externalDocLink": {
          "type": "string",
          "description": "Doc link for external-facing documentation (separate from g3doc)."
        },
        "name": {
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class.",
          "type": "string"
        },
        "externalDocMarkdown": {
          "type": "string",
          "description": "DEPRECATED: Use external_doc_html."
        },
        "standaloneExternalDocHtml": {
          "type": "string",
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html"
        },
        "isDeprecated": {
          "description": "The deprecation status of the current task. Default value is false;",
          "type": "boolean"
        },
        "iconLink": {
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format. See go/icons.",
          "type": "string"
        },
        "descriptiveName": {
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")",
          "type": "string"
        },
        "externalCategory": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS"
          ]
        },
        "activeTaskName": {
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name.",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ],
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ]
        },
        "tags": {
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultJsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string",
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution."
        },
        "codeSearchLink": {
          "type": "string",
          "description": "The Code Search link to the Task Java file."
        },
        "description": {
          "type": "string",
          "description": "In a few sentences, describe the purpose and usage of the task."
        },
        "externalDocHtml": {
          "description": "External-facing documention embedded in the RHP for this task.",
          "type": "string"
        },
        "system": {
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "admins": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          }
        },
        "category": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "include connecting to Vector salesforce, CRM Hub Spanner etc. Task entities that derive from a custom task template."
          ],
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE"
          ],
          "type": "string"
        },
        "externalCategorySequence": {
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "TaskMetadata are attributes that are associated to every common Task we have. Next available: 26",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskMetadata"
    },
    "EnterpriseCrmEventbusStats": {
      "id": "EnterpriseCrmEventbusStats",
      "properties": {
        "dimensions": {
          "description": "Dimensions that these stats have been aggregated on.",
          "$ref": "EnterpriseCrmEventbusStatsDimensions"
        },
        "errorRate": {
          "format": "double",
          "description": "Average error rate.",
          "type": "number"
        },
        "qps": {
          "description": "Queries per second.",
          "type": "number",
          "format": "double"
        },
        "warningRate": {
          "type": "number",
          "description": "Average warning rate.",
          "format": "double"
        },
        "durationInSeconds": {
          "format": "double",
          "type": "number",
          "description": "Average duration in seconds."
        }
      },
      "type": "object",
      "description": "Stats for the requested dimensions: QPS, duration, and error/warning rate"
    },
    "GoogleCloudConnectorsV1AuthConfigSshPublicKey": {
      "description": "Parameters to support Ssh public key Authentication.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
      "properties": {
        "sshClientCertPass": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Password (passphrase) for ssh client certificate if it has one."
        },
        "certType": {
          "description": "Format of SSH Client cert.",
          "type": "string"
        },
        "sshClientCert": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "SSH Client Cert. It should contain both public and private key."
        },
        "username": {
          "type": "string",
          "description": "The user account used to authenticate."
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "properties": {
        "enumStrings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filterType": {
          "type": "string",
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList",
      "type": "object",
      "description": "List of error enums for alerts."
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "description": "Metadata of an entity, including a schema for its properties.",
      "type": "object",
      "properties": {
        "arrayFieldSchema": {
          "type": "string",
          "description": "The above schema, but for an array of the associated entity."
        },
        "fieldSchema": {
          "description": "List of fields in the entity.",
          "type": "string"
        },
        "entity": {
          "description": "Name of the entity.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
    },
    "GoogleCloudConnectorsV1NodeConfig": {
      "type": "object",
      "properties": {
        "maxNodeCount": {
          "type": "integer",
          "description": "Maximum number of nodes in the runtime nodes.",
          "format": "int32"
        },
        "minNodeCount": {
          "description": "Minimum number of nodes in the runtime nodes.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Node configuration for the connection.",
      "id": "GoogleCloudConnectorsV1NodeConfig"
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "properties": {
        "audience": {
          "type": "string",
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for."
        },
        "serviceAccountEmail": {
          "description": "The service account email to be used as the identity for the token.",
          "type": "string"
        },
        "tokenExpireTime": {
          "description": "The approximate time until the token retrieved is valid.",
          "format": "google-datetime",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "ID token obtained for the service account"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOidcToken",
      "type": "object",
      "description": "OIDC Token"
    },
    "EnterpriseCrmEventbusProtoConditionResult": {
      "id": "EnterpriseCrmEventbusProtoConditionResult",
      "properties": {
        "nextTaskNumber": {
          "description": "the next task number.",
          "type": "string"
        },
        "result": {
          "type": "boolean",
          "description": "the result comes out after evaluate the combined condition. True if there's no combined condition specified."
        },
        "currentTaskNumber": {
          "type": "string",
          "description": "the current task number."
        }
      },
      "type": "object",
      "description": "Contains the combined condition calculation results."
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5",
      "type": "object",
      "properties": {
        "isAlreadySanitized": {
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization.",
          "type": "boolean"
        },
        "privacy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ]
        },
        "logType": {
          "type": "array",
          "description": "To which type(s) of logs the sanitize options apply.",
          "items": {
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "type": "string"
          }
        },
        "sanitizeType": {
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ],
          "type": "string",
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ]
        }
      },
      "id": "EnterpriseCrmLoggingGwsSanitizeOptions"
    },
    "GoogleCloudIntegrationsV1alphaGetBundleResponse": {
      "properties": {
        "config": {
          "description": "It contains the bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "description": "Response for GetBundle.",
      "id": "GoogleCloudIntegrationsV1alphaGetBundleResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig": {
      "properties": {
        "cronTab": {
          "description": "Required. The cron tab of cloud scheduler trigger.",
          "type": "string"
        },
        "location": {
          "description": "Required. The location where associated cloud scheduler job will be created",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        },
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Cloud Scheduler Trigger configuration",
      "id": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig"
    },
    "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata": {
      "properties": {
        "entities": {
          "items": {
            "type": "string"
          },
          "description": "List of entity names.",
          "type": "array"
        },
        "actions": {
          "items": {
            "type": "string"
          },
          "description": "List of actions.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata",
      "description": "Metadata of runtime connection schema."
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "properties": {
        "lastModifierEmail": {
          "type": "string",
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the auth config is modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ],
          "description": "The status of the auth config."
        },
        "decryptedCredential": {
          "$ref": "GoogleCloudIntegrationsV1alphaCredential",
          "description": "Raw auth credentials."
        },
        "expiryNotificationDuration": {
          "type": "array",
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours.",
          "items": {
            "format": "google-duration",
            "type": "string"
          }
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}."
        },
        "validTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire."
        },
        "overrideValidTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
        },
        "credentialType": {
          "type": "string",
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "description": "Credential type of the encrypted credential."
        },
        "displayName": {
          "description": "The name of the auth config.",
          "type": "string"
        },
        "certificateId": {
          "description": "Certificate id for client certificate",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the auth config is created."
        },
        "description": {
          "description": "A description of the auth config.",
          "type": "string"
        },
        "visibility": {
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ],
          "type": "string",
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "description": "The visibility of the auth config."
        },
        "encryptedCredential": {
          "format": "byte",
          "type": "string",
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key."
        },
        "reason": {
          "description": "The reason / details of the current status.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "description": "The AuthConfig resource use to hold channels and connection config data."
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "properties": {
        "taskExecutionDetails": {
          "description": "All of the task execution details at the given point of time.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          }
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Points to the event execution info this snapshot belongs to."
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "eventExecutionSnapshotId": {
          "type": "string",
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table."
        },
        "eventParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object."
        },
        "taskName": {
          "description": "The task name associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "diffParams": {
          "description": "The parameters in Event object that differs from last snapshot.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "snapshotTime": {
          "type": "string",
          "description": "Indicates when this snapshot is taken.",
          "format": "int64"
        },
        "checkpointTaskNumber": {
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken.",
          "type": "string"
        },
        "conditionResults": {
          "description": "All of the computed conditions that been calculated.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig": {
      "description": "Configurations for approving the Suspension.",
      "properties": {
        "expiration": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
          "description": "Indicates the next steps when no external actions happen on the suspension."
        },
        "emailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Email addresses to send approval request to."
        },
        "customMessage": {
          "type": "string",
          "description": "Information to provide for recipients."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "properties": {
        "refreshTokenExpireTime": {
          "description": "The approximate time until the refresh token retrieved is valid.",
          "type": "string",
          "format": "google-datetime"
        },
        "accessTokenExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The approximate time until the access token retrieved is valid."
        },
        "tokenType": {
          "type": "string",
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0."
        },
        "accessToken": {
          "type": "string",
          "description": "The access token encapsulating the security identity of a process or thread."
        },
        "refreshToken": {
          "description": "If the access token will expire, use the refresh token to obtain another access token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse",
      "properties": {
        "integrationVersion": {
          "description": "The uploaded integration.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        }
      },
      "description": "Response for UploadIntegrationVersion.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
      "description": "This proto holds the core runner data in the bundle task. It is not expected to be directly edited by the user. Instead, a default value will be provided at the task creation time.",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Output only. The service account created and owned by IP and added to the customers GCP project.",
          "readOnly": true
        },
        "integrations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A bundle of integrations that can be executed by the task at runtime."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details.",
      "properties": {
        "logFieldName": {
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key.",
          "type": "string"
        },
        "seedPeriod": {
          "type": "string",
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ],
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ]
        },
        "seedScope": {
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "type": "string",
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ]
        },
        "shorteningLimits": {
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits",
          "description": "Contains the field limits for shortening, such as max string length and max array length."
        },
        "sanitizeOptions": {
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions",
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaClientCertificate": {
      "properties": {
        "sslCertificate": {
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
          "type": "string"
        },
        "passphrase": {
          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
          "type": "string"
        },
        "encryptedPrivateKey": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        }
      },
      "description": "Contains client certificate information",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaClientCertificate"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "type": "object",
      "properties": {
        "retryAttempt": {
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ]
        },
        "taskName": {
          "type": "string"
        },
        "workflowId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "enumFilterType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Whether to include or exclude the enums matching the regex.",
          "type": "string",
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ]
        },
        "workflowName": {
          "type": "string"
        },
        "warningEnumString": {
          "type": "string"
        },
        "triggerId": {
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination.",
          "type": "string"
        },
        "errorEnumString": {
          "type": "string"
        },
        "taskNumber": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusStatsDimensions"
    },
    "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest": {
      "type": "object",
      "description": "The request for testing an integration.",
      "id": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest",
      "properties": {
        "triggerId": {
          "description": "Required. The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks.",
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used during integration execution.",
          "type": "object"
        },
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "deadlineSecondsTime": {
          "description": "Optional. custom deadline of the rpc",
          "type": "string",
          "format": "google-datetime"
        },
        "integrationVersion": {
          "description": "Required. integration config to execute the workflow",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        },
        "clientId": {
          "description": "Required. This is used to identify the client on whose behalf the event will be executed.",
          "type": "string"
        },
        "testMode": {
          "description": "Optional. Can be specified in the event request, otherwise false (default). If true, enables tasks with condition \"test_mode = true\". If false, disables tasks with condition \"test_mode = true\" if global test mode (set by platform) is also false {@link EventBusConfig}.",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions",
      "properties": {
        "gaiaIdentity": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
          "description": "Represents a Gaia identity for a person or service account."
        },
        "loasRole": {
          "type": "string"
        },
        "mdbGroup": {
          "type": "string"
        },
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        }
      },
      "description": "LINT.IfChange"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetails": {
      "properties": {
        "taskAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
          },
          "type": "array"
        },
        "taskExecutionState": {
          "enumDescriptions": [
            "",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "enum": [
            "UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "taskNumber": {
          "type": "string",
          "description": "Pointer to the task config it used for execution."
        }
      },
      "description": "Contains the details of the execution of this task. Next available id: 11",
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetails",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCredential": {
      "properties": {
        "oidcToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaOidcToken",
          "description": "Google OIDC ID Token"
        },
        "oauth2AuthorizationCode": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
          "description": "The api_key and oauth2_implicit are not covered in v1 and will be picked up once v1 is implemented. ApiKey api_key = 3; OAuth2 authorization code credential"
        },
        "oauth2ResourceOwnerCredentials": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
          "description": "OAuth2 resource owner credentials"
        },
        "oauth2ClientCredentials": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
          "description": "OAuth2Implicit oauth2_implicit = 5; OAuth2 client credentials"
        },
        "credentialType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "description": "Credential type associated with auth config."
        },
        "authToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAuthToken",
          "description": "Auth token credential"
        },
        "usernameAndPassword": {
          "$ref": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
          "description": "Username and password credential"
        },
        "jwt": {
          "$ref": "GoogleCloudIntegrationsV1alphaJwt",
          "description": "JWT credential"
        },
        "serviceAccountCredentials": {
          "$ref": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials",
          "description": "Service account credential"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCredential",
      "type": "object",
      "description": "Defines parameters for a single, canonical credential."
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventParameters",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "description": "Entry is a pair of key and value.",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAttemptStats": {
      "id": "GoogleCloudIntegrationsV1alphaAttemptStats",
      "type": "object",
      "description": "Status for the execution attempt.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The end time of the event execution for current attempt.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled."
        }
      }
    },
    "EnterpriseCrmEventbusProtoExecutionTraceInfo": {
      "id": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
      "type": "object",
      "properties": {
        "traceId": {
          "description": "Used to aggregate ExecutionTraceInfo.",
          "type": "string"
        },
        "parentEventExecutionInfoId": {
          "type": "string",
          "description": "Parent event execution info id that triggers the current execution through SubWorkflowExecutorTask."
        }
      },
      "description": "Message that helps aggregate all sub-executions triggered by one execution and keeps track of child-parent relationships."
    },
    "GoogleCloudConnectorsV1Secret": {
      "id": "GoogleCloudConnectorsV1Secret",
      "description": "Secret provides a reference to entries in Secret Manager.",
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "valueType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "keyType": {
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMap"
    },
    "GoogleCloudIntegrationsV1alphaSfdcInstance": {
      "description": "The SfdcInstance resource use to hold channels and connection config data.",
      "type": "object",
      "properties": {
        "authConfigId": {
          "type": "array",
          "description": "A list of AuthConfigs that can be tried to open the channel to SFDC",
          "items": {
            "type": "string"
          }
        },
        "serviceAuthority": {
          "description": "URL used for API calls after authentication (the login authority is configured within the referenced AuthConfig).",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User selected unique name/alias to easily reference an instance."
        },
        "name": {
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when the instance was last updated",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Time when the instance is created",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "sfdcOrgId": {
          "description": "The SFDC Org Id. This is defined in salesforce.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the sfdc instance."
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the instance was deleted. Empty if not deleted.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSfdcInstance"
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoTriggerConfig": {
      "properties": {
        "description": {
          "description": "User-provided description intended to give more business context about the task.",
          "type": "string"
        },
        "startTasks": {
          "type": "array",
          "description": "Set of tasks numbers from where the workflow execution is started by this trigger. If this is empty, then workflow is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same workflow execution graph).",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          }
        },
        "pauseWorkflowExecutions": {
          "type": "boolean",
          "description": "Optional. If set to true, any upcoming requests for this trigger config will be paused and the executions will be resumed later when the flag is reset. The workflow to which this trigger config belongs has to be in ACTIVE status for the executions to be paused or resumed."
        },
        "label": {
          "description": "The user created label for a particular trigger.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Configurable properties of the trigger, not to be confused with workflow parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Cloud Pubsub triggers.",
          "type": "object"
        },
        "cloudSchedulerConfig": {
          "$ref": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
        },
        "triggerCriteria": {
          "$ref": "EnterpriseCrmEventbusProtoTriggerCriteria",
          "description": "Optional. When set, Eventbus will run the task specified in the trigger_criteria and validate the result using the trigger_criteria.condition, and only execute the workflow when result is true."
        },
        "alertConfig": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoWorkflowAlertConfig"
          },
          "description": "An alert threshold configuration for the [trigger + client + workflow] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + workflow] when published.",
          "type": "array"
        },
        "nextTasksExecutionPolicy": {
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "description": "Dictates how next tasks will be executed."
        },
        "position": {
          "$ref": "EnterpriseCrmEventbusProtoCoordinate",
          "description": "Optional. Informs the front-end application where to draw this trigger config on the UI."
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the workflow on UI."
        },
        "triggerType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "CLOUD_PUBSUB",
            "GOOPS",
            "SFDC_SYNC",
            "CRON",
            "API",
            "MANIFOLD_TRIGGER",
            "DATALAYER_DATA_CHANGE",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "SFDC_PLATFORM_EVENTS_CHANNEL",
            "CLOUD_SCHEDULER"
          ],
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "The backend trigger ID."
        },
        "enabledClients": {
          "description": "Required. The list of client ids which are enabled to execute the workflow using this trigger. In other words, these clients have the workflow execution privledges for this trigger. For API trigger, the client id in the incoming request is validated against the list of enabled clients. For non-API triggers, one workflow execution is triggered on behalf of each enabled client.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration detail of a trigger. Next available id: 17",
      "id": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecution": {
      "description": "The Execution resource contains detailed information of an individual integration execution.",
      "type": "object",
      "properties": {
        "directSubExecutions": {
          "description": "Direct sub executions of the following Execution.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          }
        },
        "executionMethod": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Sync post.",
            "Async post.",
            "Async post with schedule time."
          ],
          "enum": [
            "EXECUTION_METHOD_UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE"
          ],
          "description": "The ways user posts this event."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created time of the execution.",
          "format": "google-datetime"
        },
        "executionDetails": {
          "description": "Detailed info of this execution.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionDetails"
        },
        "requestParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Event parameters come in as part of the request.",
          "type": "object"
        },
        "responseParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object",
          "description": "Event parameters returned as part of the response."
        },
        "name": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "requestParams": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Event parameters come in as part of the request."
        },
        "triggerId": {
          "description": "The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last modified time of the execution.",
          "format": "google-datetime",
          "readOnly": true
        },
        "responseParams": {
          "description": "Event parameters come out as part of the response.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecution"
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "description": "An unordered list of property entries.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details."
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse",
      "type": "object",
      "description": "Response for ListIntegrations.",
      "properties": {
        "nextPageToken": {
          "description": "The next page token for the response.",
          "type": "string"
        },
        "integrations": {
          "type": "array",
          "description": "The integrations which match the request.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegration"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "properties": {
        "endTime": {
          "format": "int64",
          "type": "string",
          "description": "The end time of the event execution for current attempt."
        },
        "startTime": {
          "type": "string",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
    },
    "EnterpriseCrmEventbusProtoCoordinate": {
      "id": "EnterpriseCrmEventbusProtoCoordinate",
      "type": "object",
      "properties": {
        "y": {
          "format": "int32",
          "type": "integer"
        },
        "x": {
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents two-dimensional positions."
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "type": "object",
[...]
