{
  "name": "integrations",
  "ownerDomain": "google.com",
  "basePath": "",
  "ownerName": "Google",
  "revision": "20221220",
  "description": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "id": "integrations:v1alpha",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "title": "Application Integration API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "listTaskEntities": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The location resource of the request. This is not going to be used but preserve the field for future.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "This is a UI only method and will be moved away. Returns a list of common tasks.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:listTaskEntities",
              "response": {
                "$ref": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse"
              },
              "path": "v1alpha/{+parent}:listTaskEntities",
              "id": "integrations.projects.locations.listTaskEntities",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "sfdcInstances": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name that is associated with the SfdcInstance.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "id": "integrations.projects.locations.sfdcInstances.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets an sfdc instance. If the instance doesn't exist, Code.NOT_FOUND exception will be thrown.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. \"projects/{project}/locations/{location}\" format."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/sfdcInstances",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.sfdcInstances.create",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances",
                  "description": "Creates an sfdc instance record. Store the sfdc instance in Spanner. Returns the sfdc instance.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The token returned in the previous response."
                    },
                    "readMask": {
                      "location": "query",
                      "description": "The mask which specifies fields that need to be returned in the SfdcInstance's response.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The client, which owns this collection of SfdcInstances."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.sfdcInstances.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/sfdcInstances",
                  "description": "Lists all sfdc instances that match the filter. Restrict to sfdc instances belonging to the current client only."
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "path": "v1alpha/{+name}",
                  "id": "integrations.projects.locations.sfdcInstances.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Field mask specifying the fields in the above SfdcInstance that have been modified and need to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "description": "Updates an sfdc instance. Updates the sfdc instance in spanner. Returns the sfdc instance.",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "description": "Deletes an sfdc instance.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE",
                  "id": "integrations.projects.locations.sfdcInstances.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name that is associated with the SfdcInstance.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "sfdcChannels": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Field mask specifying the fields in the above SfdcChannel that have been modified and need to be updated."
                        },
                        "name": {
                          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.patch",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "description": "Updates an sfdc channel. Updates the sfdc channel in spanner. Returns the sfdc channel."
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name that is associated with the SfdcChannel."
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.delete",
                      "description": "Deletes an sfdc channel.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/sfdcChannels",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "location": "path"
                        }
                      },
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.create",
                      "description": "Creates an sfdc channel record. Store the sfdc channel in Spanner. Returns the sfdc channel.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "location": "path",
                          "description": "Required. The name that is associated with the SfdcChannel.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets an sfdc channel. If the channel doesn't exist, Code.NOT_FOUND exception will be thrown.",
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.get",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      }
                    },
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The token returned in the previous response."
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The size of entries in the response. If unspecified, defaults to 100.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The client, which owns this collection of SfdcChannels.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                          "type": "string"
                        },
                        "readMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "The mask which specifies fields that need to be returned in the SfdcChannel's response."
                        }
                      },
                      "description": "Lists all sfdc channels that match the filter. Restrict to sfdc channels belonging to the current client only.",
                      "path": "v1alpha/{+parent}/sfdcChannels",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse"
                      }
                    }
                  }
                }
              }
            },
            "certificates": {
              "methods": {
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a certificates in the specified project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "id": "integrations.projects.locations.certificates.get"
                }
              }
            },
            "authConfigs": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                  },
                  "path": "v1alpha/{+parent}/authConfigs",
                  "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.authConfigs.list",
                  "parameters": {
                    "readMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "The mask which specifies fields that need to be returned in the AuthConfig's response."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The client, which owns this collection of AuthConfigs.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The token returned in the previous response.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Field mask specifying the fields in the above AuthConfig that have been modified and need to be updated.",
                      "location": "query"
                    },
                    "clientCertificate.encryptedPrivateKey": {
                      "type": "string",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "location": "query"
                    },
                    "clientCertificate.sslCertificate": {
                      "type": "string",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "location": "query"
                    },
                    "clientCertificate.passphrase": {
                      "type": "string",
                      "location": "query",
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "required": true,
                      "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
                      "type": "string"
                    }
                  },
                  "description": "Updates an auth config. If credential is updated, fetch the encrypted auth config from Spanner, decrypt with Cloud KMS key, update the credential fields, re-encrypt with Cloud KMS key and update the Spanner record. For other fields, directly update the Spanner record. Returns the encrypted auth config.",
                  "id": "integrations.projects.locations.authConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name that is associated with the AuthConfig.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "integrations.projects.locations.authConfigs.delete",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes an auth config.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.authConfigs.get",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "required": true,
                      "description": "Required. The name that is associated with the AuthConfig.",
                      "type": "string"
                    }
                  },
                  "description": "Gets a complete auth config. If the auth config doesn't exist, Code.NOT_FOUND exception will be thrown. Returns the decrypted auth config.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "clientCertificate.encryptedPrivateKey": {
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "type": "string",
                      "location": "query"
                    },
                    "clientCertificate.sslCertificate": {
                      "location": "query",
                      "type": "string",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                    },
                    "clientCertificate.passphrase": {
                      "location": "query",
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "id": "integrations.projects.locations.authConfigs.create",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/authConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "connections": {
              "methods": {
                "getConnectionSchemaMetadata": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the available entities and actions associated with a Connection.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata"
                  },
                  "httpMethod": "GET",
                  "id": "integrations.projects.locations.connections.getConnectionSchemaMetadata",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$",
                      "required": true,
                      "description": "Required. ConnectionSchemaMetadata name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata"
                },
                "list": {
                  "path": "v1alpha/{+parent}/connections",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource of the Connection, of the form: `projects/*/locations/*`"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token."
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Order by parameters."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists Connections in a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections",
                  "id": "integrations.projects.locations.connections.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListConnectionsResponse"
                  }
                }
              },
              "resources": {
                "runtimeActionSchemas": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeActionSchemas",
                      "httpMethod": "GET",
                      "description": "Lists the JSON schemas for the inputs and outputs of actions, filtered by action name.",
                      "id": "integrations.projects.locations.connections.runtimeActionSchemas.list",
                      "path": "v1alpha/{+parent}/runtimeActionSchemas",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse"
                      },
                      "parameters": {
                        "filter": {
                          "description": "Filter. Only the action field with literal equality operator is supported.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Page token."
                        },
                        "parent": {
                          "description": "Required. Parent resource of RuntimeActionSchema. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Page size."
                        }
                      }
                    }
                  }
                },
                "runtimeEntitySchemas": {
                  "methods": {
                    "list": {
                      "description": "Lists the JSON schemas for the properties of runtime entities, filtered by entity name.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeEntitySchemas",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.connections.runtimeEntitySchemas.list",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent resource of RuntimeEntitySchema. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter. Only the entity field with literal equality operator is supported."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Page size.",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "path": "v1alpha/{+parent}/runtimeEntitySchemas"
                    }
                  }
                }
              }
            },
            "products": {
              "methods": {
                "createBundle": {
                  "httpMethod": "POST",
                  "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Create a bundle.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateBundleResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateBundleRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}:createBundle",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "integrations.projects.locations.products.createBundle",
                  "parameters": {
                    "parent": {
                      "description": "Required. The location resource of the request.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+parent}:createBundle"
                },
                "listTaskEntities": {
                  "id": "integrations.projects.locations.products.listTaskEntities",
                  "description": "This is a UI only method and will be moved away. Returns a list of common tasks.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The location resource of the request. This is not going to be used but preserve the field for future.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}:listTaskEntities",
                  "path": "v1alpha/{+parent}:listTaskEntities",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "authConfigs": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs/{authConfigsId}",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes an auth config.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "integrations.projects.locations.products.authConfigs.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. The name that is associated with the AuthConfig.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$",
                          "required": true
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "id": "integrations.projects.locations.products.authConfigs.patch",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "path": "v1alpha/{+name}",
                      "description": "Updates an auth config. If credential is updated, fetch the encrypted auth config from Spanner, decrypt with Cloud KMS key, update the credential fields, re-encrypt with Cloud KMS key and update the Spanner record. For other fields, directly update the Spanner record. Returns the encrypted auth config.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs/{authConfigsId}",
                      "parameters": {
                        "clientCertificate.passphrase": {
                          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                          "location": "query",
                          "type": "string"
                        },
                        "clientCertificate.encryptedPrivateKey": {
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                          "location": "query",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Field mask specifying the fields in the above AuthConfig that have been modified and need to be updated.",
                          "type": "string"
                        },
                        "name": {
                          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "clientCertificate.sslCertificate": {
                          "type": "string",
                          "location": "query",
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                        }
                      }
                    },
                    "list": {
                      "id": "integrations.projects.locations.products.authConfigs.list",
                      "parameters": {
                        "readMask": {
                          "location": "query",
                          "type": "string",
                          "description": "The mask which specifies fields that need to be returned in the AuthConfig's response.",
                          "format": "google-fieldmask"
                        },
                        "filter": {
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The token returned in the previous response."
                        },
                        "pageSize": {
                          "description": "The size of entries in the response. If unspecified, defaults to 100.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "required": true,
                          "description": "Required. The client, which owns this collection of AuthConfigs."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1alpha/{+parent}/authConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs"
                    },
                    "get": {
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs/{authConfigsId}",
                      "description": "Gets a complete auth config. If the auth config doesn't exist, Code.NOT_FOUND exception will be thrown. Returns the decrypted auth config.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.products.authConfigs.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name that is associated with the AuthConfig.",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "id": "integrations.projects.locations.products.authConfigs.create",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/authConfigs",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "parameters": {
                        "clientCertificate.encryptedPrivateKey": {
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                          "type": "string",
                          "location": "query"
                        },
                        "clientCertificate.sslCertificate": {
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                          "location": "query",
                          "type": "string"
                        },
                        "clientCertificate.passphrase": {
                          "type": "string",
                          "location": "query",
                          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key."
                        },
                        "parent": {
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$"
                        }
                      }
                    }
                  }
                },
                "integrationtemplates": {
                  "resources": {
                    "versions": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The TemplateVersion to retrieve. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrationtemplates/[^/]+/versions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Returns an IntegrationTemplateVersion in the specified project.",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
                          },
                          "id": "integrations.projects.locations.products.integrationtemplates.versions.get",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrationtemplates/{integrationtemplatesId}/versions/{versionsId}",
                          "path": "v1alpha/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET"
                        },
                        "create": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrationtemplates/{integrationtemplatesId}/versions",
                          "id": "integrations.projects.locations.products.integrationtemplates.versions.create",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
                          },
                          "description": "Creates an IntegrationTemplateVersion.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource where this TemplateVersion will be created. Format: projects/{project}/location/{location}/product/{product}/integrationtemplates/{integrationtemplate}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrationtemplates/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "path": "v1alpha/{+parent}/versions"
                        },
                        "list": {
                          "id": "integrations.projects.locations.products.integrationtemplates.versions.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1alpha/{+parent}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse"
                          },
                          "description": "Returns the list of all IntegrationTemplateVersions in the specified project.",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrationtemplates/{integrationtemplatesId}/versions",
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of IntegrationTemplateVersions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "parent": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrationtemplates/[^/]+$",
                              "description": "Required. Format: projects/{project}/location/{location}/product/{product}/integrationtemplates/{integrationtemplate}",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Filter syntax: defined in the EBNF grammar.",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListIntegrationTemplateVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationTemplateVersions` must match the call that provided the page token.",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "certificates": {
                  "methods": {
                    "create": {
                      "description": "Creates a new certificate. The certificate will be registered to the trawler service and will be encrypted using cloud KMS and stored in Spanner Returns the certificate.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "integrations.projects.locations.products.certificates.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "path": "v1alpha/{+parent}/certificates"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.products.certificates.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "httpMethod": "GET",
                      "description": "Get a certificates in the specified project.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
                      },
                      "parameters": {
                        "readMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "The mask which specifies fields that need to be returned in the Certificate's response."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The size of entries in the response. If unspecified, defaults to 100."
                        },
                        "filter": {
                          "location": "query",
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The client, which owns this collection of Certificates.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The token returned in the previous response."
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "integrations.projects.locations.products.certificates.list",
                      "description": "List all the certificates that match the filter. Restrict to certificate of current client only.",
                      "path": "v1alpha/{+parent}/certificates",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates"
                    },
                    "patch": {
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.products.certificates.patch",
                      "description": "Updates the certificate by id. If new certificate file is updated, it will register with the trawler service, re-encrypt with cloud KMS and update the Spanner record. Other fields will directly update the Spanner record. Returns the Certificate.",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "required": true,
                          "description": "Output only. Auto generated primary key",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Field mask specifying the fields in the above Certificate that have been modified and need to be updated.",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Delete a certificate",
                      "id": "integrations.projects.locations.products.certificates.delete",
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name that is associated with the Certificate.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "integrations": {
                  "resources": {
                    "executions": {
                      "resources": {
                        "suspensions": {
                          "methods": {
                            "lift": {
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                                  "location": "path",
                                  "description": "Required. The resource that the suspension belongs to. \"projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}\" format."
                                }
                              },
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.lift",
                              "description": "* Lifts suspension for advanced suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task.",
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
                              },
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:lift",
                              "parameterOrder": [
                                "name"
                              ],
                              "request": {
                                "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
                              },
                              "path": "v1alpha/{+name}:lift",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "resolve": {
                              "description": "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
                              },
                              "request": {
                                "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.resolve",
                              "httpMethod": "POST",
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:resolve",
                              "path": "v1alpha/{+name}:resolve",
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                                  "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}"
                                }
                              }
                            },
                            "list": {
                              "httpMethod": "GET",
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.list",
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions",
                              "description": "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them.",
                              "parameters": {
                                "pageSize": {
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Maximum number of entries in the response."
                                },
                                "filter": {
                                  "description": "Standard filter field.",
                                  "type": "string",
                                  "location": "query"
                                },
                                "parent": {
                                  "required": true,
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                                  "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}",
                                  "type": "string"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "description": "Token to retrieve a specific page.",
                                  "location": "query"
                                },
                                "orderBy": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "Field name to order by."
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "parent"
                              ],
                              "path": "v1alpha/{+parent}/suspensions",
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
                              }
                            }
                          }
                        }
                      },
                      "methods": {
                        "cancel": {
                          "description": "Cancellation of an execution",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}:cancel",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "required": true,
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "integrations.projects.locations.products.integrations.executions.cancel",
                          "path": "v1alpha/{+name}:cancel"
                        },
                        "list": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions",
                          "path": "v1alpha/{+parent}/executions",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists the results of all the integration executions. The response includes the same information as the [execution log](https://cloud.google.com/application-integration/docs/viewing-logs) in the Integration UI.",
                          "id": "integrations.projects.locations.products.integrations.executions.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "filterParams.parameterKey": {
                              "location": "query",
                              "type": "string",
                              "description": "Param key. DEPRECATED. User parameter_pair_key instead."
                            },
                            "filterParams.parameterValue": {
                              "location": "query",
                              "type": "string",
                              "description": "Param value. DEPRECATED. User parameter_pair_value instead."
                            },
                            "filter": {
                              "type": "string",
                              "description": "Optional. Standard filter field, we support filtering on all fields in EventExecutionParamIndexes table. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterKey, ParameterValue, ParameterType support for HAS For example: \"parameter_value\" HAS \\\"parameter1\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND event_execution_state=\\\"FAILED\\\"",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. The size of entries in the response."
                            },
                            "filterParams.endTime": {
                              "location": "query",
                              "description": "End timestamp.",
                              "format": "int64",
                              "type": "string"
                            },
                            "filterParams.parameterType": {
                              "location": "query",
                              "type": "string",
                              "description": "Param type."
                            },
                            "filterParams.workflowName": {
                              "type": "string",
                              "description": "Workflow name.",
                              "location": "query"
                            },
                            "truncateParams": {
                              "location": "query",
                              "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out.",
                              "type": "boolean"
                            },
                            "filterParams.startTime": {
                              "format": "int64",
                              "location": "query",
                              "description": "Start timestamp.",
                              "type": "string"
                            },
                            "filterParams.eventStatuses": {
                              "description": "List of possible event statuses.",
                              "repeated": true,
                              "type": "string",
                              "location": "query"
                            },
                            "filterParams.parameterPairValue": {
                              "description": "Param value in the key value pair filter.",
                              "type": "string",
                              "location": "query"
                            },
                            "filterParams.parameterPairKey": {
                              "description": "Param key in the key value pair filter.",
                              "location": "query",
                              "type": "string"
                            },
                            "filterParams.executionId": {
                              "type": "string",
                              "description": "Execution id.",
                              "location": "query"
                            },
                            "parent": {
                              "description": "Required. The parent resource name of the integration execution.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The token returned in the previous response."
                            },
                            "refreshAcl": {
                              "type": "boolean",
                              "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency.",
                              "location": "query"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The results would be returned in order you specified here. Currently supporting \"last_modified_time\" and \"create_time\"."
                            },
                            "readMask": {
                              "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution info will be filled and returned.",
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask"
                            },
                            "filterParams.customFilter": {
                              "description": "Optional user-provided custom filter.",
                              "location": "query",
                              "type": "string"
                            },
                            "filterParams.taskStatuses": {
                              "repeated": true,
                              "description": "List of possible task statuses.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET"
                        },
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
                          },
                          "description": "Get an execution in the specified project.",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "integrations.projects.locations.products.integrations.executions.get",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}",
                          "path": "v1alpha/{+name}"
                        }
                      }
                    },
                    "executionsnapshots": {
                      "methods": {
                        "list": {
                          "id": "integrations.projects.locations.products.integrations.executionsnapshots.list",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executionsnapshots",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "description": "Lists the snapshots of a given integration executions. This RPC is not being used.",
                          "parameters": {
                            "pageToken": {
                              "description": "The token used to retrieve the next page results.",
                              "location": "query",
                              "type": "string"
                            },
                            "readMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "description": "View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution snapshot will be filled and returned.",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Currently supports filter by `execution_info_id` or `execution_snapshot_id`."
                            },
                            "pageSize": {
                              "description": "Number of entries to be returned in a page.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "location": "path",
                              "description": "Required. The parent resource name of the integration execution."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse"
                          },
                          "path": "v1alpha/{+parent}/executionsnapshots"
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "publish": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "description": "Required. The version to publish. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                            }
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.publish",
                          "httpMethod": "POST",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
[...]
