{
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "description": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "rootUrl": "https://integrations.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20230103",
  "baseUrl": "https://integrations.googleapis.com/",
  "documentationLink": "https://cloud.google.com/application-integration",
  "basePath": "",
  "resources": {
    "connectorPlatformRegions": {
      "methods": {
        "enumerate": {
          "parameters": {},
          "description": "Enumerates the regions for which Connector Platform is provisioned.",
          "path": "v1/connectorPlatformRegions:enumerate",
          "id": "integrations.connectorPlatformRegions.enumerate",
          "httpMethod": "GET",
          "flatPath": "v1/connectorPlatformRegions:enumerate",
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getClients": {
              "id": "integrations.projects.locations.getClients",
              "path": "v1/{+parent}/clients",
              "description": "Gets the client configuration for the given project and location resource name",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/clients",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Required: The ID of the GCP Project to be provisioned.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudIntegrationsV1alphaGetClientResponse"
              }
            },
            "listTaskEntities": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudIntegrationsV1alphaListTaskEntitiesResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Required. The location resource of the request. This is not going to be used but preserve the field for future.",
                  "type": "string",
                  "required": true
                }
              },
              "description": "This is a UI only method and will be moved away. Returns a list of common tasks.",
              "httpMethod": "GET",
              "path": "v1/{+parent}:listTaskEntities",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:listTaskEntities",
              "id": "integrations.projects.locations.listTaskEntities"
            }
          },
          "resources": {
            "authConfigs": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "id": "integrations.projects.locations.authConfigs.patch",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "description": "Updates an auth config. If credential is updated, fetch the encrypted auth config from Spanner, decrypt with Cloud KMS key, update the credential fields, re-encrypt with Cloud KMS key and update the Spanner record. For other fields, directly update the Spanner record. Returns the encrypted auth config.",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "clientCertificate.encryptedPrivateKey": {
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "type": "string",
                      "location": "query"
                    },
                    "clientCertificate.passphrase": {
                      "type": "string",
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Field mask specifying the fields in the above AuthConfig that have been modified and need to be updated.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
                      "required": true,
                      "location": "path"
                    },
                    "clientCertificate.sslCertificate": {
                      "type": "string",
                      "location": "query",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "path": "v1/{+parent}/authConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "id": "integrations.projects.locations.authConfigs.create",
                  "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "clientCertificate.encryptedPrivateKey": {
                      "location": "query",
                      "type": "string",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "location": "path"
                    },
                    "clientCertificate.sslCertificate": {
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "location": "query",
                      "type": "string"
                    },
                    "clientCertificate.passphrase": {
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  }
                },
                "delete": {
                  "id": "integrations.projects.locations.authConfigs.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name that is associated with the AuthConfig.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes an auth config.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "id": "integrations.projects.locations.authConfigs.get",
                  "description": "Gets a complete auth config. If the auth config doesn't exist, Code.NOT_FOUND exception will be thrown. Returns the decrypted auth config.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "description": "Required. The name that is associated with the AuthConfig.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The token returned in the previous response."
                    },
                    "parent": {
                      "description": "Required. The client, which owns this collection of AuthConfigs.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The mask which specifies fields that need to be returned in the AuthConfig's response.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                  },
                  "id": "integrations.projects.locations.authConfigs.list",
                  "path": "v1/{+parent}/authConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "products": {
              "resources": {
                "certificates": {
                  "methods": {
                    "create": {
                      "id": "integrations.projects.locations.products.certificates.create",
                      "httpMethod": "POST",
                      "description": "Creates a new certificate. The certificate will be registered to the trawler service and will be encrypted using cloud KMS and stored in Spanner Returns the certificate.",
                      "path": "v1/{+parent}/certificates",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name that is associated with the Certificate.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "description": "Delete a certificate",
                      "id": "integrations.projects.locations.products.certificates.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}"
                    },
                    "list": {
                      "description": "List all the certificates that match the filter. Restrict to certificate of current client only.",
                      "id": "integrations.projects.locations.products.certificates.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/certificates",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates",
                      "parameters": {
                        "readMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "The mask which specifies fields that need to be returned in the Certificate's response."
                        },
                        "pageToken": {
                          "description": "The token returned in the previous response.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The size of entries in the response. If unspecified, defaults to 100.",
                          "type": "integer"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The client, which owns this collection of Certificates.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "description": "Output only. Auto generated primary key",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Field mask specifying the fields in the above Certificate that have been modified and need to be updated.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "path": "v1/{+name}",
                      "id": "integrations.projects.locations.products.certificates.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates the certificate by id. If new certificate file is updated, it will register with the trawler service, re-encrypt with cloud KMS and update the Spanner record. Other fields will directly update the Spanner record. Returns the Certificate.",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/certificates/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/certificates/{certificatesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Get a certificates in the specified project.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                      },
                      "id": "integrations.projects.locations.products.certificates.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}"
                    }
                  }
                },
                "integrations": {
                  "methods": {
                    "execute": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:execute",
                      "id": "integrations.projects.locations.products.integrations.execute",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "description": "Required. The integration resource name.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:execute",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
                      },
                      "description": "Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI."
                    },
                    "test": {
                      "path": "v1/{+name}:test",
                      "description": "Execute the integration in draft state",
                      "id": "integrations.projects.locations.products.integrations.test",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Output only. Auto-generated primary key.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:test"
                    },
                    "list": {
                      "path": "v1/{+parent}/integrations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "The results would be returned in order you specified here. Supported sort keys are: Descending sort order by \"last_modified_time\", \"created_time\", \"snapshot_number\". Ascending sort order by the integration name."
                        },
                        "parent": {
                          "description": "Required. Project and location from which the integrations should be listed. Format: projects/{project}",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "The page token for the resquest.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page size for the resquest.",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "integrations.projects.locations.products.integrations.list",
                      "description": "Returns the list of all integrations in the specified project.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations"
                    },
                    "archiveBundle": {
                      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Soft-deletes the bundle.",
                      "id": "integrations.projects.locations.products.integrations.archiveBundle",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaArchiveBundleRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:archiveBundle",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The bundle to archive. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:archiveBundle"
                    },
                    "schedule": {
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}:schedule",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                          "location": "path",
                          "description": "The integration resource name.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.",
                      "id": "integrations.projects.locations.products.integrations.schedule",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:schedule"
                    }
                  },
                  "resources": {
                    "executionsnapshots": {
                      "methods": {
                        "list": {
                          "path": "v1/{+parent}/executionsnapshots",
                          "description": "Lists the snapshots of a given integration executions. This RPC is not being used.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executionsnapshots",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "integrations.projects.locations.products.integrations.executionsnapshots.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "The token used to retrieve the next page results.",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. The parent resource name of the integration execution.",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Currently supports filter by `execution_info_id` or `execution_snapshot_id`.",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Number of entries to be returned in a page.",
                              "type": "integer",
                              "location": "query"
                            },
                            "readMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "description": "View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution snapshot will be filled and returned.",
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "executions": {
                      "methods": {
                        "download": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$"
                            }
                          },
                          "description": "Download the execution.",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDownloadExecutionResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "integrations.projects.locations.products.integrations.executions.download",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}:download",
                          "path": "v1/{+name}:download",
                          "httpMethod": "GET"
                        },
                        "cancel": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
                          },
                          "path": "v1/{+name}:cancel",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}:cancel",
                          "httpMethod": "POST",
                          "id": "integrations.projects.locations.products.integrations.executions.cancel",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Cancellation of an execution",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "location": "path",
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                              "required": true
                            }
                          }
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Get an execution in the specified project.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
                          },
                          "path": "v1/{+name}",
                          "id": "integrations.projects.locations.products.integrations.executions.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "required": true
                            }
                          }
                        },
                        "list": {
                          "path": "v1/{+parent}/executions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                          },
                          "parameters": {
                            "filterParams.customFilter": {
                              "type": "string",
                              "description": "Optional user-provided custom filter.",
                              "location": "query"
                            },
                            "filterParams.eventStatuses": {
                              "description": "List of possible event statuses.",
                              "location": "query",
                              "type": "string",
                              "repeated": true
                            },
                            "filterParams.parameterType": {
                              "location": "query",
                              "description": "Param type.",
                              "type": "string"
                            },
                            "orderBy": {
                              "description": "Optional. The results would be returned in order you specified here. Currently supporting \"last_modified_time\" and \"create_time\".",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Optional. The size of entries in the response.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "readMask": {
                              "format": "google-fieldmask",
                              "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution info will be filled and returned.",
                              "location": "query",
                              "type": "string"
                            },
                            "truncateParams": {
                              "type": "boolean",
                              "location": "query",
                              "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out."
                            },
                            "parent": {
                              "description": "Required. The parent resource name of the integration execution.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Optional. Standard filter field, we support filtering on all fields in EventExecutionParamIndexes table. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterKey, ParameterValue, ParameterType support for HAS For example: \"parameter_value\" HAS \\\"parameter1\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND event_execution_state=\\\"FAILED\\\"",
                              "location": "query",
                              "type": "string"
                            },
                            "refreshAcl": {
                              "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency.",
                              "type": "boolean",
                              "location": "query"
                            },
                            "filterParams.parameterKey": {
                              "description": "Param key. DEPRECATED. User parameter_pair_key instead.",
                              "type": "string",
                              "location": "query"
                            },
                            "filterParams.workflowName": {
                              "location": "query",
                              "type": "string",
                              "description": "Workflow name."
                            },
                            "filterParams.parameterPairKey": {
                              "location": "query",
                              "type": "string",
                              "description": "Param key in the key value pair filter."
                            },
                            "filterParams.taskStatuses": {
                              "type": "string",
                              "description": "List of possible task statuses.",
                              "repeated": true,
                              "location": "query"
                            },
                            "filterParams.executionId": {
                              "location": "query",
                              "type": "string",
                              "description": "Execution id."
                            },
                            "filterParams.parameterValue": {
                              "description": "Param value. DEPRECATED. User parameter_pair_value instead.",
                              "type": "string",
                              "location": "query"
                            },
                            "filterParams.parameterPairValue": {
                              "type": "string",
                              "description": "Param value in the key value pair filter.",
                              "location": "query"
                            },
                            "filterParams.endTime": {
                              "location": "query",
                              "description": "End timestamp.",
                              "format": "int64",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. The token returned in the previous response.",
                              "location": "query"
                            },
                            "filterParams.startTime": {
                              "location": "query",
                              "format": "int64",
                              "description": "Start timestamp.",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions",
                          "httpMethod": "GET",
                          "description": "Lists the results of all the integration executions. The response includes the same information as the [execution log](https://cloud.google.com/application-integration/docs/viewing-logs) in the Integration UI.",
                          "id": "integrations.projects.locations.products.integrations.executions.list"
                        }
                      },
                      "resources": {
                        "suspensions": {
                          "methods": {
                            "resolve": {
                              "description": "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again.",
                              "path": "v1/{+name}:resolve",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:resolve",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                                  "location": "path",
                                  "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}",
                                  "required": true
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
                              },
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.resolve",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
                              }
                            },
                            "lift": {
                              "description": "* Lifts suspension for advanced suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.lift",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:lift",
                              "path": "v1/{+name}:lift",
                              "request": {
                                "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
                              },
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
                              },
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                                  "required": true,
                                  "description": "Required. The resource that the suspension belongs to. \"projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}\" format.",
                                  "type": "string",
                                  "location": "path"
                                }
                              }
                            },
                            "list": {
                              "response": {
                                "$ref": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
                              },
                              "path": "v1/{+parent}/suspensions",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "GET",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions",
                              "description": "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them.",
                              "parameters": {
                                "filter": {
                                  "type": "string",
                                  "description": "Standard filter field.",
                                  "location": "query"
                                },
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/executions/[^/]+$",
                                  "type": "string",
                                  "required": true,
                                  "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}",
                                  "location": "path"
                                },
                                "orderBy": {
                                  "description": "Field name to order by.",
                                  "location": "query",
                                  "type": "string"
                                },
                                "pageToken": {
                                  "location": "query",
                                  "description": "Token to retrieve a specific page.",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "location": "query",
                                  "description": "Maximum number of entries in the response.",
                                  "type": "integer",
                                  "format": "int32"
                                }
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "integrations.projects.locations.products.integrations.executions.suspensions.list"
                            }
                          }
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "takeoverEditLock": {
                          "id": "integrations.projects.locations.products.integrations.versions.takeoverEditLock",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse"
                          },
                          "parameterOrder": [
                            "integrationVersion"
                          ],
                          "httpMethod": "POST",
                          "description": "Clears the `locked_by` and `locked_at_timestamp`in the DRAFT version of this integration. It then performs the same action as the CreateDraftIntegrationVersion (i.e., copies the DRAFT version of the integration as a SNAPSHOT and then creates a new DRAFT version with the `locked_by` set to the `user_taking_over` and the `locked_at_timestamp` set to the current timestamp). Both the `locked_by` and `user_taking_over` are notified via email about the takeover. This RPC throws an exception if the integration is not in DRAFT status or if the `locked_by` and `locked_at_timestamp` fields are not set.The TakeoverEdit lock is treated the same as an edit of the integration, and hence shares ACLs with edit. Audit fields updated include last_modified_timestamp, last_modified_by.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:takeoverEditLock",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest"
                          },
                          "parameters": {
                            "integrationVersion": {
                              "description": "Required. The version to take over edit lock. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$"
                            }
                          },
                          "path": "v1/{+integrationVersion}:takeoverEditLock",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "id": "integrations.projects.locations.products.integrations.versions.list",
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns the list of all integration versions in the specified project.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "location": "query"
                            },
                            "filter": {
                              "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListIntegrationVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationVersions` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            },
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "The results would be returned in order you specified here. Currently supported sort keys are: Descending sort order for \"last_modified_time\", \"created_time\", \"snapshot_number\" Ascending sort order for \"name\"."
                            },
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration} Specifically, when parent equals: 1. projects//locations//integrations/, Meaning: \"List versions (with filter) for a particular integration\". 2. projects//locations//integrations/- Meaning: \"List versions (with filter) for a client within a particular region\". 3. projects//locations/-/integrations/- Meaning: \"List versions (with filter) for a client\".",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$"
                            },
                            "fieldMask": {
                              "description": "The field mask which specifies the particular data to be returned.",
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
                          },
                          "path": "v1/{+parent}/versions"
                        },
                        "updateBundle": {
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. Bundle name",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUpdateBundleResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "PATCH",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:updateBundle",
                          "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. RPC to update the Bundle",
                          "id": "integrations.projects.locations.products.integrations.versions.updateBundle",
                          "path": "v1/{+name}:updateBundle",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "deactivate": {
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:deactivate",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest"
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.deactivate",
                          "path": "v1/{+name}:deactivate",
                          "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.",
                          "parameters": {
                            "name": {
                              "description": "Required. The version to deactivate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse"
                          }
                        },
                        "get": {
                          "httpMethod": "GET",
                          "id": "integrations.projects.locations.products.integrations.versions.get",
                          "description": "Get a integration in the specified project.",
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "required": true,
                              "description": "Required. The version to retrieve. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                            }
                          }
                        },
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The version to delete. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                            }
                          },
                          "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being deleted is DRAFT, and if the `locked_by` user is not the same as the user performing the Delete. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Deleting a integration. Currently, there is no undelete mechanism.",
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}",
                          "id": "integrations.projects.locations.products.integrations.versions.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "patch": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}",
                          "id": "integrations.projects.locations.products.integrations.versions.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "parameters": {
                            "updateMask": {
                              "format": "google-fieldmask",
                              "description": "Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                              "type": "string",
                              "location": "query"
                            },
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Output only. Auto-generated primary key.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$"
                            }
                          },
                          "description": "Update a integration with a draft version in the specified project.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "httpMethod": "PATCH"
                        },
                        "create": {
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "description": "Create a integration with a draft version in the specified project.",
                          "path": "v1/{+parent}/versions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration}"
                            },
                            "newIntegration": {
                              "type": "boolean",
                              "description": "Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created.",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "integrations.projects.locations.products.integrations.versions.create",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions"
                        },
                        "unpublish": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "integrations.projects.locations.products.integrations.versions.unpublish",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.",
                          "parameters": {
                            "name": {
                              "description": "Required. The version to deactivate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$"
                            }
                          },
                          "httpMethod": "POST",
                          "path": "v1/{+name}:unpublish",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:unpublish",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "validate": {
                          "description": "Validates the given integration. If the id doesn't exist, a NotFoundException is thrown. If validation fails a CanonicalCodeException is thrown. If there was no failure an empty response is returned.",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The version to validate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "integrations.projects.locations.products.integrations.versions.validate",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}:validate",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest"
                          },
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:validate"
                        },
                        "getBundle": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:getBundle",
                          "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. RPC to get details of the Bundle",
                          "httpMethod": "GET",
                          "path": "v1/{+name}:getBundle",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaGetBundleResponse"
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.getBundle",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. The bundle name.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "upload": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. The version to upload. Format: projects/{project}/locations/{location}/integrations/{integration}",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.upload",
                          "description": "Uploads an integration. The content can be a previously downloaded integration. Performs the same function as CreateDraftIntegrationVersion, but accepts input in a string format, which holds the complete representation of the IntegrationVersion content.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions:upload",
                          "path": "v1/{+parent}/versions:upload",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "publish": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The version to publish. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.",
                          "path": "v1/{+name}:publish",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                          "id": "integrations.projects.locations.products.integrations.versions.publish",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST"
                        },
                        "archive": {
                          "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being archived is DRAFT, and if the `locked_by` user is not the same as the user performing the Archive. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Archiving a integration. Currently, there is no unarchive mechanism.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:archive",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. The version to archive. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "path": "v1/{+name}:archive",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "integrations.projects.locations.products.integrations.versions.archive"
                        },
                        "download": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}:download",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
                          },
                          "parameters": {
                            "fileFormat": {
                              "type": "string",
                              "location": "query",
                              "enum": [
                                "FILE_FORMAT_UNSPECIFIED",
                                "JSON",
                                "YAML"
                              ],
                              "description": "File format for download request.",
                              "enumDescriptions": [
                                "Unspecified file format",
                                "JSON File Format",
                                "YAML File Format"
                              ]
                            },
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/integrations/[^/]+/versions/[^/]+$",
                              "description": "Required. The version to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                            }
                          },
                          "id": "integrations.projects.locations.products.integrations.versions.download",
                          "description": "Downloads an integration. Retrieves the `IntegrationVersion` for a given `integration_id` and returns the response as a string.",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/integrations/{integrationsId}/versions/{versionsId}:download"
                        }
                      }
                    }
                  }
                },
                "authConfigs": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/authConfigs",
                      "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                      "id": "integrations.projects.locations.products.authConfigs.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters.",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The token returned in the previous response."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The client, which owns this collection of AuthConfigs.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The size of entries in the response. If unspecified, defaults to 100.",
                          "type": "integer"
                        },
                        "readMask": {
                          "description": "The mask which specifies fields that need to be returned in the AuthConfig's response.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs"
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs",
                      "parameters": {
                        "clientCertificate.encryptedPrivateKey": {
                          "type": "string",
                          "location": "query",
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                        },
                        "parent": {
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$"
                        },
                        "clientCertificate.passphrase": {
                          "type": "string",
                          "location": "query",
                          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key."
                        },
                        "clientCertificate.sslCertificate": {
                          "type": "string",
                          "location": "query",
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "path": "v1/{+parent}/authConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                      "id": "integrations.projects.locations.products.authConfigs.create",
                      "httpMethod": "POST",
                      "request": {
[...]
