{
  "name": "integrations",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "batchPath": "batch",
  "baseUrl": "https://integrations.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaProvisionClientRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaProvisionClientRequest",
      "description": "Request for the Provision rpc",
      "properties": {
        "cloudKmsConfig": {
          "description": "Required. Required: Cloud KMS config for AuthModule to encrypt/decrypt credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCloudKmsConfig"
        },
        "createSampleWorkflows": {
          "description": "Optional. Indicates if sample workflow should be created along with provisioning",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "properties": {
        "finalState": {
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaProjectProperties": {
      "id": "GoogleCloudIntegrationsV1alphaProjectProperties",
      "type": "object",
      "properties": {
        "ipEnablementState": {
          "enumDescriptions": [
            "The client enablement status is unspecified",
            "The client is enabled on Standalone IP",
            "The client is enabled on Apigee",
            "The client is entitled for Apigee but not enabled"
          ],
          "description": "An enum value of what the enablement state is for the given project",
          "type": "string",
          "enum": [
            "IP_ENABLEMENT_STATE_UNSPECIFIED",
            "IP_ENABLEMENT_STATE_STANDALONE",
            "IP_ENABLEMENT_STATE_APIGEE",
            "IP_ENABLEMENT_STATE_APIGEE_ENTITLED"
          ]
        },
        "provisionedRegions": {
          "type": "array",
          "description": "A list of provisioned regions on the current project",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Metadata information for the given project"
    },
    "EnterpriseCrmEventbusProtoNextTeardownTask": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNextTeardownTask",
      "properties": {
        "name": {
          "description": "Required. Name of the next teardown task.",
          "type": "string"
        }
      },
      "description": "The teardown task that is next in line to be executed. We support only sequential execution of teardown tasks (i.e. no branching)."
    },
    "GoogleCloudIntegrationsV1alphaSfdcInstance": {
      "description": "The SfdcInstance resource use to hold channels and connection config data.",
      "id": "GoogleCloudIntegrationsV1alphaSfdcInstance",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the instance is created"
        },
        "authConfigId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of AuthConfigs that can be tried to open the channel to SFDC"
        },
        "description": {
          "type": "string",
          "description": "A description of the sfdc instance."
        },
        "displayName": {
          "type": "string",
          "description": "User selected unique name/alias to easily reference an instance."
        },
        "sfdcOrgId": {
          "type": "string",
          "description": "The SFDC Org Id. This is defined in salesforce."
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}."
        },
        "deleteTime": {
          "description": "Output only. Time when the instance was deleted. Empty if not deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "serviceAuthority": {
          "type": "string",
          "description": "URL used for API calls after authentication (the login authority is configured within the referenced AuthConfig)."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when the instance was last updated",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTaskAlertConfig": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskAlertConfig",
      "properties": {
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "onlyFinalAttempt": {
          "type": "boolean",
          "description": "Only count final task attempts, not retries."
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "alertName": {
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique in within the scope of the containing workflow.",
          "type": "string"
        },
        "numAggregationPeriods": {
          "type": "integer",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "format": "int32"
        },
        "aggregationPeriod": {
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week).",
          "type": "string"
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "alertDisabled": {
          "type": "boolean",
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert."
        },
        "durationThresholdMs": {
          "type": "string",
          "description": "Should be specified only for TASK_AVERAGE_DURATION and TASK_PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "format": "int64"
        },
        "thresholdValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered."
        },
        "metricType": {
          "type": "string",
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors (potentially for a specific set of enum values) for the enclosing TaskConfig.",
            "Specifies alerting on the rate of warnings (potentially for a specific set of enum values) for the enclosing TaskConfig. Warnings use the same enum values as errors.",
            "Specifies alerting on the number of instances for the enclosing TaskConfig executed in the given aggregation_period.",
            "Specifies alerting on the average duration of execution for the enclosing task.",
            "Specifies alerting on the duration of a particular percentile of task executions. E.g. If 10% or more of the task executions have durations above 5 seconds, alert."
          ],
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ]
        },
        "clientId": {
          "type": "string",
          "description": "Client associated with this alert configuration. Must be a client enabled in one of the containing workflow's triggers."
        },
        "thresholdType": {
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ],
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "type": "string",
          "description": "The threshold type for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired."
        }
      },
      "description": "Message to be used to configure alerting in the {@code TaskConfig} protos for tasks in an event. See go/eventbus-alert-config-examples for examples of the different alerts that can be configured."
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "properties": {
        "synchronousCallFailurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "taskTemplate": {
          "description": "Optional. Used to define task-template name if task is of type task-template",
          "type": "string"
        },
        "taskId": {
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`).",
          "type": "string"
        },
        "task": {
          "description": "Optional. The name for the task.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give additional business context about the task."
        },
        "nextTasksExecutionPolicy": {
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "type": "string",
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task."
        },
        "nextTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "type": "array"
        },
        "successPolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
          "description": "Optional. Determines what action to take upon successful task completion."
        },
        "taskExecutionStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "description": "Optional. The policy dictating the execution strategy of this task.",
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ]
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy"
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "description": "Optional. If set, overrides the option configured in the Task implementation class.",
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string"
        },
        "parameters": {
          "description": "Optional. The customized parameters the user can pass to this task.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          },
          "type": "object"
        },
        "displayName": {
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTaskConfig",
      "type": "object",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task."
    },
    "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest",
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Optional. Passed in as parameters to each integration execution."
        },
        "triggerId": {
          "type": "string",
          "description": "Required. The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "deadlineSecondsTime": {
          "description": "Optional. custom deadline of the rpc",
          "type": "string",
          "format": "google-datetime"
        },
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "Required. integration config to execute the workflow"
        },
        "clientId": {
          "type": "string",
          "description": "Required. This is used to identify the client on whose behalf the event will be executed."
        },
        "inputParameters": {
          "description": "Optional. Input parameters used during integration execution.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "testMode": {
          "description": "Optional. Can be specified in the event request, otherwise false (default). If true, enables tasks with condition \"test_mode = true\". If false, disables tasks with condition \"test_mode = true\" if global test mode (set by platform) is also false {@link EventBusConfig}.",
          "type": "boolean"
        }
      },
      "description": "The request for testing an integration."
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot",
      "properties": {
        "snapshotTime": {
          "description": "Indicates when this snapshot is taken.",
          "type": "string",
          "format": "int64"
        },
        "checkpointTaskNumber": {
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken.",
          "type": "string"
        },
        "conditionResults": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          },
          "description": "All of the computed conditions that been calculated.",
          "type": "array"
        },
        "eventExecutionSnapshotId": {
          "type": "string",
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table."
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "diffParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object that differs from last snapshot."
        },
        "taskExecutionDetails": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          },
          "type": "array",
          "description": "All of the task execution details at the given point of time."
        },
        "taskName": {
          "type": "string",
          "description": "The task name associated with this snapshot. Could be empty."
        },
        "eventExecutionInfoId": {
          "description": "Points to the event execution info this snapshot belongs to.",
          "type": "string"
        },
        "eventParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "properties": {
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        },
        "triggerCriteriaTaskImplementationClassName": {
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. To be used in TaskConfig for the implementation class.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "properties": {
        "booleanArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray",
          "description": "Boolean Array."
        },
        "booleanValue": {
          "type": "boolean",
          "description": "Boolean."
        },
        "stringArray": {
          "description": "String Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray"
        },
        "intArray": {
          "description": "Integer Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray"
        },
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Double Number."
        },
        "doubleArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray",
          "description": "Double Number Array."
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Integer."
        },
        "stringValue": {
          "description": "String.",
          "type": "string"
        },
        "jsonValue": {
          "type": "string",
          "description": "Json."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaValueType",
      "description": "The type of the parameter."
    },
    "GoogleCloudIntegrationsV1alphaRuntimeActionSchema": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "description": "Name of the action."
        },
        "outputSchema": {
          "description": "Output parameter schema for the action.",
          "type": "string"
        },
        "inputSchema": {
          "description": "Input parameter schema for the action.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema",
      "description": "Metadata of an action, including schemas for its inputs and outputs."
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "type": "object",
      "description": "Field represents either the key or value in an entry.",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "properties": {
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        }
      }
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "type": "object",
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message.",
      "properties": {
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        },
        "stringValue": {
          "type": "string"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        }
      },
      "id": "EnterpriseCrmEventbusProtoValueType"
    },
    "GoogleCloudIntegrationsV1alphaDownloadExecutionResponse": {
      "description": "Response for downloading an execution.",
      "properties": {
        "content": {
          "description": "The content of downloaded execution.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaDownloadExecutionResponse"
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "type": "object",
      "description": "Metadata of an entity, including a schema for its properties.",
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema",
      "properties": {
        "entity": {
          "type": "string",
          "description": "Name of the entity."
        },
        "arrayFieldSchema": {
          "type": "string",
          "description": "The above schema, but for an array of the associated entity."
        },
        "fieldSchema": {
          "type": "string",
          "description": "List of fields in the entity."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails": {
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
      "properties": {
        "networkAddress": {
          "description": "The network address (aka. bns address) that indicates where the event executor is running.",
          "type": "string"
        },
        "eventExecutionState": {
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ],
          "description": "The execution state of this event.",
          "type": "string"
        },
        "ryeLockUnheldCount": {
          "format": "int32",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/",
          "type": "integer"
        },
        "eventRetriesFromBeginningCount": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the number of times the execution has restarted from the beginning."
        },
        "logFilePath": {
          "description": "The log file path (aka. cns address) for this event.",
          "type": "string"
        },
        "eventAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          },
          "type": "array"
        },
        "eventExecutionSnapshot": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
          },
          "description": "After snapshot migration, this field will no longer be populated, but old execution snapshots will still be accessible.",
          "type": "array"
        },
        "nextExecutionTime": {
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTransformExpression": {
      "id": "EnterpriseCrmEventbusProtoTransformExpression",
      "type": "object",
      "properties": {
        "initialValue": {
          "description": "Initial value upon which to perform transformations.",
          "$ref": "EnterpriseCrmEventbusProtoBaseValue"
        },
        "transformationFunctions": {
          "description": "Transformations to be applied sequentially.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoFunction"
          }
        }
      }
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "properties": {
        "scheduledTime": {
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled.",
          "type": "string",
          "format": "int64"
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each workflow execution. Optional."
        },
        "priority": {
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ],
          "description": "The request priority this request should be processed at. For internal users:",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "type": "string"
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required.",
          "type": "string"
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "workflowName": {
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaClientCertificate": {
      "properties": {
        "passphrase": {
          "type": "string",
          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key."
        },
        "encryptedPrivateKey": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        },
        "sslCertificate": {
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaClientCertificate",
      "description": "Contains client certificate information"
    },
    "GoogleCloudIntegrationsV1alphaParameterMapField": {
      "properties": {
        "literalValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the Integration variables."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaParameterMapField",
      "description": "Field represents either the key or value in an entry.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoScatterResponse": {
      "properties": {
        "scatterElement": {
          "description": "The element that was scattered for this execution.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "responseParams": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "description": "A list of all the response parameters in the aggregtorMap stored with the remapped key.",
          "type": "array"
        },
        "executionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The execution ids of each Subworkflow fired by this scatter."
        },
        "isSuccessful": {
          "description": "If execution is sync, this is true if the execution passed and false if it failed. If the execution is async, this is true if the WF was fired off successfully, and false if it failed to execute. The success or failure of the subworkflows executed are not captured.",
          "type": "boolean"
        },
        "errorMsg": {
          "description": "The error message of the failure if applicable.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoScatterResponse"
    },
    "GoogleCloudIntegrationsV1alphaGenerateTokenResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The message that notifies the user if the request succeeded or not."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse",
      "description": "Returns success or error message"
    },
    "EnterpriseCrmEventbusProtoCondition": {
      "properties": {
        "eventPropertyKey": {
          "description": "Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown.",
          "type": "string"
        },
        "operator": {
          "enum": [
            "UNSET",
            "EQUALS",
            "CONTAINS",
            "LESS_THAN",
            "GREATER_THAN",
            "EXISTS",
            "DOES_NOT_EXIST",
            "IS_EMPTY",
            "IS_NOT_EMPTY"
          ],
          "description": "Operator used to evaluate the condition. Please note that an operator with an inappropriate key/value operand will result in IllegalArgumentException, e.g. CONTAINS with boolean key/value pair.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "value": {
          "description": "Value that's checked for the key.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        }
      },
      "id": "EnterpriseCrmEventbusProtoCondition",
      "description": "Condition that uses `operator` to evaluate the key against the value.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "properties": {
        "elementIdentifier": {
          "description": "Configuration of the edge.",
          "type": "string"
        },
        "elementType": {
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Destination node where the edge ends. It can only be a task config.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse": {
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse",
      "properties": {
        "integrationVersion": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion",
          "description": "Version after the lock is acquired by the new user."
        }
      },
      "description": "Response for TakeoverEditLock.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshot": {
      "description": "Contains the snapshot of the execution for a given checkpoint.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshot",
      "properties": {
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"after which checkpoint task's execution\" this snapshot is taken."
        },
        "params": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Parameters used during the execution.",
          "type": "object"
        },
        "executionSnapshotMetadata": {
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata",
          "description": "Metadata of the execution snapshot."
        },
        "taskExecutionDetails": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
          },
          "type": "array",
          "description": "All of the task execution details at the given point of time."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "properties": {
        "searchable": {
          "type": "boolean",
          "description": "Searchable in the execution log or not."
        },
        "inputOutputType": {
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "type": "string"
        },
        "producer": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "type": "string"
        },
        "displayName": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        },
        "dataType": {
          "description": "Type of the parameter.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "type": "string",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ]
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter.",
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        },
        "defaultValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "type": "object",
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition."
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest": {
      "properties": {},
      "type": "object",
      "description": "Request for ArchiveIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam",
      "properties": {
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "authConfigId": {
          "type": "string",
          "description": "UUID of the AuthConfig."
        },
        "allowedCredentialTypes": {
          "items": {
            "type": "string",
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ],
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ]
          },
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only.",
          "type": "array"
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetails": {
      "type": "object",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10",
      "properties": {
        "eventExecutionState": {
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ]
        },
        "eventRetriesFromBeginningCount": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the number of times the execution has restarted from the beginning."
        },
        "nextExecutionTime": {
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "format": "int64",
          "type": "string"
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        },
        "eventAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          }
        },
        "logFilePath": {
          "description": "The log file path (aka. cns address) for this event.",
          "type": "string"
        },
        "eventExecutionSnapshot": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          }
        },
        "ryeLockUnheldCount": {
          "type": "integer",
          "format": "int32",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/"
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetails"
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse": {
      "description": "Response for PublishIntegrationVersion.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
    },
    "GoogleCloudIntegrationsV1alphaGetBundleResponse": {
      "type": "object",
      "description": "Response for GetBundle.",
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the bundle data"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaGetBundleResponse"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "type": "object",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "properties": {
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          },
          "type": "array"
        },
        "keyType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string"
        },
        "valueType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuspensionAudit": {
      "description": "Contains when and by whom the suspension was resolved.",
      "properties": {
        "resolver": {
          "description": "Email address of the person who resolved this suspension.",
          "type": "string"
        },
        "resolveTime": {
          "description": "Time at which this suspension was resolved.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuspensionAudit"
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray",
      "type": "object",
      "properties": {
        "intValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "type": "object",
      "description": "TaskMetadata are attributes that are associated to every common Task we have. Next available: 26",
      "id": "EnterpriseCrmEventbusProtoTaskMetadata",
      "properties": {
        "externalCategory": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "externalDocHtml": {
          "type": "string",
          "description": "External-facing documention embedded in the RHP for this task."
        },
        "defaultJsonValidationOption": {
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string",
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution.",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        },
        "category": {
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "include connecting to Vector salesforce, CRM Hub Spanner etc. Task entities that derive from a custom task template."
          ],
          "type": "string"
        },
        "admins": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          },
          "type": "array"
        },
        "description": {
          "description": "In a few sentences, describe the purpose and usage of the task.",
          "type": "string"
        },
        "name": {
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class.",
          "type": "string"
        },
        "iconLink": {
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format. See go/icons.",
          "type": "string"
        },
        "standaloneExternalDocHtml": {
          "type": "string",
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html"
        },
        "g3DocLink": {
          "description": "URL to the associated G3 Doc for the task if available",
          "type": "string"
        },
        "externalDocLink": {
          "description": "Doc link for external-facing documentation (separate from g3doc).",
          "type": "string"
        },
        "system": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ]
        },
        "externalDocMarkdown": {
          "description": "DEPRECATED: Use external_doc_html.",
          "type": "string"
        },
        "defaultSpec": {
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format.",
          "type": "string"
        },
        "docMarkdown": {
          "type": "string",
          "description": "Snippet of markdown documentation to embed in the RHP for this task."
        },
        "isDeprecated": {
          "description": "The deprecation status of the current task. Default value is false;",
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ],
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE.",
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ]
        },
        "tags": {
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "descriptiveName": {
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")",
          "type": "string"
        },
        "activeTaskName": {
          "type": "string",
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name."
        },
        "externalCategorySequence": {
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users.",
          "type": "integer",
          "format": "int32"
        },
        "codeSearchLink": {
          "type": "string",
          "description": "The Code Search link to the Task Java file."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaServiceAccountCredentials": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Name of the service account that has the permission to make the request."
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        }
      },
      "description": "Represents the service account which can be used to generate access token for authenticating the service call.",
      "id": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials"
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBooleanFunction"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig.",
      "type": "object",
      "properties": {
        "percentage": {
          "format": "int32",
          "type": "integer",
          "description": "Percentage threshold."
        },
        "absolute": {
          "description": "Absolute value threshold.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionExpiration": {
      "id": "EnterpriseCrmEventbusProtoSuspensionExpiration",
      "type": "object",
      "properties": {
        "remindAfterMs": {
          "format": "int32",
          "description": "Milliseconds after which the previous suspension action reminder, if any, is sent using the selected notification option, for a suspension which is still PENDING_UNSPECIFIED.",
          "type": "integer"
        },
        "expireAfterMs": {
          "type": "integer",
          "format": "int32",
          "description": "Milliseconds after which the suspension expires, if no action taken."
        },
        "liftWhenExpired": {
          "description": "Whether the suspension will be REJECTED or LIFTED upon expiration. REJECTED is the default behavior.",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "type": "object",
      "properties": {
        "intValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "id": "GoogleCloudIntegrationsV1alphaIntegration",
      "type": "object",
      "description": "The integration definition.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name of the integration."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Auto-generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Optional.",
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Required. If any integration version is published."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecution": {
      "description": "The Execution resource contains detailed information of an individual integration execution.",
      "properties": {
        "requestParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Event parameters come in as part of the request."
        },
        "executionMethod": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Sync post.",
            "Async post.",
            "Async post with schedule time."
          ],
          "description": "The ways user posts this event.",
          "enum": [
            "EXECUTION_METHOD_UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE"
          ]
        },
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "responseParameters": {
          "description": "Event parameters returned as part of the response.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "responseParams": {
          "description": "Event parameters come out as part of the response.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "directSubExecutions": {
          "type": "array",
          "description": "Direct sub executions of the following Execution.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          }
        },
        "name": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Created time of the execution.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last modified time of the execution."
        },
        "executionDetails": {
          "description": "Detailed info of this execution.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionDetails"
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecution",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest",
      "description": "Request for CreateAppsScriptProject rpc call.",
      "properties": {
        "appsScriptProject": {
          "description": "The name of the Apps Script project to be created.",
          "type": "string"
        },
        "authConfigId": {
          "type": "string",
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "id": "EnterpriseCrmEventbusProtoFailurePolicy",
      "type": "object",
      "properties": {
        "retryStrategy": {
          "description": "Defines what happens to the task upon failure.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ],
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ]
        },
        "maxNumRetries": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer",
          "format": "int32"
        },
        "intervalInSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff."
        }
      },
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied)."
    },
    "EnterpriseCrmEventbusProtoProtoFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET_STRING_SUBFIELD",
            "GET_INT_SUBFIELD",
            "GET_DOUBLE_SUBFIELD",
            "GET_BOOLEAN_SUBFIELD",
            "GET_STRING_ARRAY_SUBFIELD",
            "GET_INT_ARRAY_SUBFIELD",
            "GET_DOUBLE_ARRAY_SUBFIELD",
            "GET_BOOLEAN_ARRAY_SUBFIELD",
            "GET_PROTO_ARRAY_SUBFIELD",
            "GET_PROTO_SUBFIELD",
            "TO_JSON",
            "GET_BYTES_SUBFIELD_AS_UTF_8_STRING",
            "GET_BYTES_SUBFIELD_AS_PROTO",
            "EQUALS"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoFunction"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "description": "Request for LinkAppsScriptProject rpc call.",
      "properties": {
        "scriptId": {
          "description": "The id of the Apps Script project to be linked.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the issue to be created. Required."
        },
        "templateId": {
          "format": "int64",
          "description": "ID of the buganizer template to use. Optional.",
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "description": "ID of the buganizer component within which to create a new issue. Required.",
          "format": "int64"
        },
        "assigneeEmailAddress": {
          "description": "Whom to assign the new bug. Optional.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "id": "EnterpriseCrmEventbusStatsDimensions",
      "properties": {
        "workflowId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "retryAttempt": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ],
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ]
        },
        "warningEnumString": {
          "type": "string"
        },
        "enumFilterType": {
          "description": "Whether to include or exclude the enums matching the regex.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ]
        },
        "taskNumber": {
          "type": "string"
        },
        "taskName": {
          "type": "string"
        },
        "errorEnumString": {
          "type": "string"
        },
        "workflowName": {
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListSuspensionsResponse": {
      "description": "Response for Suspensions.ListSuspensions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results.",
          "type": "string"
        },
        "suspensions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
          },
          "type": "array",
          "description": "The suspensions for the relevant execution which the caller has permissions to view and resolve."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "id": "EnterpriseCrmEventbusProtoJsonFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "next id: 24"
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given task. These parameters must be predefined in the workflow definition."
        },
        "protoDef": {
          "description": "Populated if this represents a proto or proto array.",
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition"
        },
        "collectionElementClassName": {
          "type": "string",
          "description": "If it is a collection of objects, this would be the FCQN of every individual element in the collection. If this is \"java.lang.Object\", the parameter is a collection of any type."
        },
        "className": {
          "type": "string",
          "description": "The FQCN of the Java object this represents. A string, for example, would be \"java.lang.String\". If this is \"java.lang.Object\", the parameter can be of any type."
        },
        "isDeprecated": {
          "description": "If set, this entry is deprecated, so further use of this parameter should be prohibited.",
          "type": "boolean"
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The data type of the parameter."
        },
        "jsonSchema": {
          "type": "string",
          "description": "If the data_type is JSON_VALUE, then this will define its schema."
        },
        "config": {
          "description": "Optional fields, such as help text and other useful info.",
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
        },
        "isOutput": {
          "type": "boolean"
        },
        "required": {
          "type": "boolean",
          "description": "If set, the user must provide an input value for this parameter."
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "validationRule": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule",
          "description": "Rule used to validate inputs (individual values and collection elements) for this parameter."
        }
      },
      "description": "Key-value pair of EventBus task parameters. Next id: 13"
    },
    "EnterpriseCrmEventbusProtoParameterValueType": {
      "id": "EnterpriseCrmEventbusProtoParameterValueType",
      "properties": {
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntParameterArray"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringParameterArray"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanParameterArray"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleParameterArray"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmEventbusProtoProtoParameterArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "stringValue": {
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "LINT.IfChange To support various types of parameter values. Next available id: 14"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleResponse": {
      "description": "Response for create bundle.",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleResponse",
      "properties": {
        "triggerId": {
          "type": "string",
          "description": "trigger_id of the bundle task"
        },
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the bundle data"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "type": "object",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "description": "Field represents either the key or value in an entry."
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue": {
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig. See go/eventbus-alert-config-examples",
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
      "type": "object",
      "properties": {
        "absolute": {
          "type": "string",
          "format": "int64"
        },
        "percentage": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleRequest": {
      "description": "Request for ArchiveBundle.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleRequest"
    },
    "EnterpriseCrmEventbusProtoConditionResult": {
      "id": "EnterpriseCrmEventbusProtoConditionResult",
      "properties": {
        "currentTaskNumber": {
          "type": "string",
          "description": "the current task number."
        },
        "nextTaskNumber": {
          "description": "the next task number.",
          "type": "string"
        },
        "result": {
          "type": "boolean",
          "description": "the result comes out after evaluate the combined condition. True if there's no combined condition specified."
        }
      },
      "type": "object",
      "description": "Contains the combined condition calculation results."
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "description": "Mapped field is a pair of input field and output field. Next Id: 3",
      "id": "EnterpriseCrmEventbusProtoMappedField",
      "type": "object",
      "properties": {
        "outputField": {
          "description": "The output field being mapped to.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        },
        "inputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The input field being mapped from."
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "properties": {
        "properties": {
          "description": "An unordered list of property entries.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          }
        }
      },
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details.",
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "properties": {
        "requestId": {
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "parameters": {
          "description": "Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)",
          "type": "string"
        },
        "scheduleTime": {
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
          "type": "string",
          "format": "google-datetime"
        },
        "parameterEntries": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "inputParameters": {
          "description": "Optional. Input parameters used by integration execution.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "The request for scheduling an integration."
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "properties": {
        "parameters": {
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          }
        }
      },
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters.",
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse",
      "properties": {},
      "description": "Response for ArchiveIntegrationVersion.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetails": {
      "properties": {
        "taskExecutionState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "enum": [
            "UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ]
        },
        "taskAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
          }
        },
        "taskNumber": {
          "type": "string",
          "description": "Pointer to the task config it used for execution."
        }
      },
      "description": "Contains the details of the execution of this task. Next available id: 11",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
    },
    "GoogleCloudIntegrationsV1alphaExecutionDetails": {
      "id": "GoogleCloudIntegrationsV1alphaExecutionDetails",
      "description": "Contains the details of the execution info: this includes the tasks execution details plus the event execution statistics.",
      "properties": {
        "state": {
          "description": "Status of the execution.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Default.",
            "Execution is scheduled and awaiting to be triggered.",
            "Execution is processing.",
            "Execution successfully finished. There's no more change after this state.",
            "Execution failed. There's no more change after this state.",
            "Execution canceled by user. There's no more change after this state.",
            "Execution failed and waiting for retry.",
            "Execution suspended and waiting for manual intervention."
          ],
          "type": "string"
        },
        "attemptStats": {
          "description": "List of Start and end time of the execution attempts.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          },
          "type": "array"
        },
        "executionSnapshots": {
          "description": "List of snapshots taken during the execution.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshot"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "properties": {
        "clientId": {
          "description": "The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing the client secret."
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "properties": {
        "hideDefaultValue": {
          "description": "Whether the default value is hidden in the UI.",
          "type": "boolean"
        },
        "descriptivePhrase": {
          "description": "A short phrase to describe what this parameter contains.",
          "type": "string"
        },
        "inputDisplayOption": {
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ],
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ],
          "type": "string"
        },
        "uiPlaceholderText": {
          "description": "Placeholder text which will appear in the UI input form for this parameter.",
          "type": "string"
        },
        "helpText": {
          "type": "string",
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter."
        },
        "label": {
          "description": "A user-friendly label for the parameter.",
          "type": "string"
        },
        "parameterNameOption": {
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ]
        },
        "isHidden": {
          "type": "boolean",
          "description": "Whether this field is hidden in the UI."
        },
        "subSectionLabel": {
          "type": "string",
          "description": "A user-friendly label for subSection under which the parameter will be displayed."
        }
      },
[...]
