{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "canonicalName": "Integrations",
  "documentationLink": "https://cloud.google.com/application-integration",
  "resources": {
    "connectorPlatformRegions": {
      "methods": {
        "enumerate": {
          "path": "v1alpha/connectorPlatformRegions:enumerate",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Enumerates the regions for which Connector Platform is provisioned.",
          "flatPath": "v1alpha/connectorPlatformRegions:enumerate",
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "integrations.connectorPlatformRegions.enumerate"
        }
      }
    },
    "callback": {
      "methods": {
        "generateToken": {
          "parameterOrder": [],
          "id": "integrations.callback.generateToken",
          "httpMethod": "GET",
          "flatPath": "v1alpha/callback:generateToken",
          "parameters": {
            "redirectUri": {
              "location": "query",
              "description": "Redirect uri of the auth code request",
              "type": "string"
            },
            "state": {
              "type": "string",
              "description": "The auth config id for the given request",
              "location": "query"
            },
            "product": {
              "enum": [
                "UNSPECIFIED_PRODUCT",
                "IP",
                "APIGEE",
                "SECURITY"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "description": "Which product sends the request",
              "location": "query"
            },
            "gcpProjectId": {
              "description": "The gcp project id of the request",
              "location": "query",
              "type": "string"
            },
            "code": {
              "description": "The auth code for the given request",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse"
          },
          "description": "Receives the auth code and auth config id to combine that with the client id and secret to retrieve access tokens from the token endpoint. Returns either a success or error message when it's done.",
          "path": "v1alpha/callback:generateToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "certificates": {
              "methods": {
                "get": {
                  "id": "integrations.projects.locations.certificates.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}"
                    }
                  },
                  "description": "Get a certificates in the specified project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "sfdcInstances": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/sfdcInstances",
                  "id": "integrations.projects.locations.sfdcInstances.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The token returned in the previous response.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The client, which owns this collection of SfdcInstances.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "readMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The mask which specifies fields that need to be returned in the SfdcInstance's response."
                    }
                  },
                  "description": "Lists all sfdc instances that match the filter. Restrict to sfdc instances belonging to the current client only.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "integrations.projects.locations.sfdcInstances.get",
                  "path": "v1alpha/{+name}",
                  "description": "Gets an sfdc instance. If the instance doesn't exist, Code.NOT_FOUND exception will be thrown.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name that is associated with the SfdcInstance.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Field mask specifying the fields in the above SfdcInstance that have been modified and need to be updated."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                      "location": "path",
                      "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "httpMethod": "PATCH",
                  "id": "integrations.projects.locations.sfdcInstances.patch",
                  "description": "Updates an sfdc instance. Updates the sfdc instance in spanner. Returns the sfdc instance."
                },
                "delete": {
                  "id": "integrations.projects.locations.sfdcInstances.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name that is associated with the SfdcInstance."
                    }
                  },
                  "description": "Deletes an sfdc instance.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "id": "integrations.projects.locations.sfdcInstances.create",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances",
                  "description": "Creates an sfdc instance record. Store the sfdc instance in Spanner. Returns the sfdc instance.",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+parent}/sfdcInstances",
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "sfdcChannels": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates an sfdc channel. Updates the sfdc channel in spanner. Returns the sfdc channel.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "path": "v1alpha/{+name}",
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.patch",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Field mask specifying the fields in the above SfdcChannel that have been modified and need to be updated."
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      }
                    },
                    "list": {
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse"
                      },
                      "description": "Lists all sfdc channels that match the filter. Restrict to sfdc channels belonging to the current client only.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels",
                      "parameters": {
                        "pageToken": {
                          "description": "The token returned in the previous response.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The client, which owns this collection of SfdcChannels."
                        },
                        "readMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "The mask which specifies fields that need to be returned in the SfdcChannel's response."
                        },
                        "filter": {
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "The size of entries in the response. If unspecified, defaults to 100."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1alpha/{+parent}/sfdcChannels"
                    },
                    "delete": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "description": "Deletes an sfdc channel.",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name that is associated with the SfdcChannel.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$"
                        }
                      },
                      "httpMethod": "DELETE",
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "get": {
                      "path": "v1alpha/{+name}",
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.get",
                      "description": "Gets an sfdc channel. If the channel doesn't exist, Code.NOT_FOUND exception will be thrown.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "description": "Required. The name that is associated with the SfdcChannel."
                        }
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates an sfdc channel record. Store the sfdc channel in Spanner. Returns the sfdc channel.",
                      "path": "v1alpha/{+parent}/sfdcChannels",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. \"projects/{project}/locations/{location}\" format."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels",
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            },
            "connections": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/connections",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Connections in a given project and location.",
                  "id": "integrations.projects.locations.connections.list",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListConnectionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Page size.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Order by parameters.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent resource of the Connection, of the form: `projects/*/locations/*`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "getConnectionSchemaMetadata": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$",
                      "type": "string",
                      "description": "Required. ConnectionSchemaMetadata name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
                      "required": true
                    }
                  },
                  "id": "integrations.projects.locations.connections.getConnectionSchemaMetadata",
                  "description": "Lists the available entities and actions associated with a Connection.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata",
                  "path": "v1alpha/{+name}"
                }
              },
              "resources": {
                "runtimeEntitySchemas": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeEntitySchemas",
                      "id": "integrations.projects.locations.connections.runtimeEntitySchemas.list",
                      "description": "Lists the JSON schemas for the properties of runtime entities, filtered by entity name.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. Parent resource of RuntimeEntitySchema. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Page size.",
                          "format": "int32"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter. Only the entity field with literal equality operator is supported."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page token.",
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+parent}/runtimeEntitySchemas",
                      "httpMethod": "GET"
                    }
                  }
                },
                "runtimeActionSchemas": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/{+parent}/runtimeActionSchemas",
                      "description": "Lists the JSON schemas for the inputs and outputs of actions, filtered by action name.",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Page token."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Filter. Only the action field with literal equality operator is supported."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "type": "string",
                          "description": "Required. Parent resource of RuntimeActionSchema. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeActionSchemas",
                      "id": "integrations.projects.locations.connections.runtimeActionSchemas.list"
                    }
                  }
                }
              }
            },
            "appsScriptProjects": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Creates an Apps Script project.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/appsScriptProjects",
                  "path": "v1alpha/{+parent}/appsScriptProjects",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "integrations.projects.locations.appsScriptProjects.create",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The project that the executed integration belongs to.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "link": {
                  "description": "Links a existing Apps Script project.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The project that the executed integration belongs to.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+parent}/appsScriptProjects:link",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/appsScriptProjects:link",
                  "id": "integrations.projects.locations.appsScriptProjects.link",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "authConfigs": {
              "methods": {
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                  "id": "integrations.projects.locations.authConfigs.create",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "path": "v1alpha/{+parent}/authConfigs",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "clientCertificate.passphrase": {
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "location": "query",
                      "type": "string"
                    },
                    "clientCertificate.encryptedPrivateKey": {
                      "type": "string",
                      "location": "query",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                    },
                    "clientCertificate.sslCertificate": {
                      "type": "string",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates an auth config. If credential is updated, fetch the encrypted auth config from Spanner, decrypt with Cloud KMS key, update the credential fields, re-encrypt with Cloud KMS key and update the Spanner record. For other fields, directly update the Spanner record. Returns the encrypted auth config.",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Field mask specifying the fields in the above AuthConfig that have been modified and need to be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "clientCertificate.sslCertificate": {
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "location": "query",
                      "type": "string"
                    },
                    "clientCertificate.encryptedPrivateKey": {
                      "location": "query",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "type": "string"
                    },
                    "clientCertificate.passphrase": {
                      "location": "query",
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "id": "integrations.projects.locations.authConfigs.patch",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  }
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "integrations.projects.locations.authConfigs.list",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "The token returned in the previous response.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The size of entries in the response. If unspecified, defaults to 100."
                    },
                    "readMask": {
                      "type": "string",
                      "location": "query",
                      "description": "The mask which specifies fields that need to be returned in the AuthConfig's response.",
                      "format": "google-fieldmask"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The client, which owns this collection of AuthConfigs.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/authConfigs"
                },
                "delete": {
                  "description": "Deletes an auth config.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name that is associated with the AuthConfig.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "integrations.projects.locations.authConfigs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. The name that is associated with the AuthConfig.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "integrations.projects.locations.authConfigs.get",
                  "description": "Gets a complete auth config. If the auth config doesn't exist, Code.NOT_FOUND exception will be thrown. Returns the decrypted auth config.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}"
                }
              }
            },
            "integrations": {
              "resources": {
                "executions": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions",
                      "path": "v1alpha/{+parent}/executions",
                      "httpMethod": "GET",
                      "description": "Lists the results of all the integration executions. The response includes the same information as the [execution log](https://cloud.google.com/application-integration/docs/viewing-logs) in the Integration UI.",
                      "id": "integrations.projects.locations.integrations.executions.list",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The token returned in the previous response.",
                          "type": "string",
                          "location": "query"
                        },
                        "filterParams.parameterValue": {
                          "location": "query",
                          "description": "Param value. DEPRECATED. User parameter_pair_value instead.",
                          "type": "string",
                          "deprecated": true
                        },
                        "filterParams.endTime": {
                          "description": "End timestamp.",
                          "format": "int64",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.customFilter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional user-provided custom filter."
                        },
                        "filterParams.parameterPairValue": {
                          "type": "string",
                          "description": "Param value in the key value pair filter.",
                          "location": "query"
                        },
                        "truncateParams": {
                          "type": "boolean",
                          "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out.",
                          "location": "query",
                          "deprecated": true
                        },
                        "filterParams.workflowName": {
                          "location": "query",
                          "type": "string",
                          "description": "Workflow name."
                        },
                        "filterParams.parameterType": {
                          "type": "string",
                          "description": "Param type.",
                          "location": "query"
                        },
                        "filterParams.startTime": {
                          "description": "Start timestamp.",
                          "location": "query",
                          "type": "string",
                          "format": "int64"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Standard filter field, we support filtering on following fields: workflow_name: the name of the integration. CreateTimestamp: the execution created time. event_execution_state: the state of the executions. execution_id: the id of the execution. trigger_id: the id of the trigger. parameter_type: the type of the parameters involved in the execution. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterType support for HAS For example: \"parameter_type\" HAS \\\"string\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND workflow_name=\\\"testWorkflow\\\"",
                          "type": "string"
                        },
                        "filterParams.parameterPairKey": {
                          "type": "string",
                          "location": "query",
                          "description": "Param key in the key value pair filter."
                        },
                        "filterParams.executionId": {
                          "type": "string",
                          "location": "query",
                          "description": "Execution id."
                        },
                        "filterParams.taskStatuses": {
                          "deprecated": true,
                          "type": "string",
                          "location": "query",
                          "description": "List of possible task statuses.",
                          "repeated": true
                        },
                        "readMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution info will be filled and returned."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "description": "Required. The parent resource name of the integration execution.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The size of entries in the response."
                        },
                        "refreshAcl": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency."
                        },
                        "filterParams.parameterKey": {
                          "deprecated": true,
                          "location": "query",
                          "description": "Param key. DEPRECATED. User parameter_pair_key instead.",
                          "type": "string"
                        },
                        "filterParams.eventStatuses": {
                          "repeated": true,
                          "type": "string",
                          "location": "query",
                          "description": "List of possible event statuses."
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The results would be returned in order you specified here. Currently supporting \"last_modified_time\" and \"create_time\"."
                        }
                      }
                    }
                  },
                  "resources": {
                    "suspensions": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
                          },
                          "parameters": {
                            "pageToken": {
                              "description": "Token to retrieve a specific page.",
                              "type": "string",
                              "location": "query"
                            },
                            "filter": {
                              "description": "Standard filter field.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query",
                              "description": "Maximum number of entries in the response."
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Field name to order by."
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}",
                              "required": true
                            }
                          },
                          "description": "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them.",
                          "path": "v1alpha/{+parent}/suspensions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions",
                          "id": "integrations.projects.locations.integrations.executions.suspensions.list",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "resolve": {
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1alpha/{+name}:resolve",
                          "id": "integrations.projects.locations.integrations.executions.suspensions.resolve",
                          "httpMethod": "POST",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:resolve",
                          "description": "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again.",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "lift": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "integrations.projects.locations.integrations.executions.suspensions.lift",
                          "description": "* Lifts suspension for advanced suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task.",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:lift",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
                          },
                          "path": "v1alpha/{+name}:lift",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource that the suspension belongs to. \"projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}\" format.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "versions": {
                  "methods": {
                    "delete": {
                      "id": "integrations.projects.locations.integrations.versions.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being deleted is DRAFT, and if the `locked_by` user is not the same as the user performing the Delete. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Deleting a integration. Currently, there is no undelete mechanism.",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The version to delete. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "id": "integrations.projects.locations.integrations.versions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
                      },
                      "path": "v1alpha/{+parent}/versions",
                      "description": "Returns the list of all integration versions in the specified project.",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration} Specifically, when parent equals: 1. projects//locations//integrations/, Meaning: \"List versions (with filter) for a particular integration\". 2. projects//locations//integrations/- Meaning: \"List versions (with filter) for a client within a particular region\". 3. projects//locations/-/integrations/- Meaning: \"List versions (with filter) for a client\".",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "fieldMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "The field mask which specifies the particular data to be returned.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListIntegrationVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationVersions` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "The results would be returned in order you specified here. Currently supported sort keys are: Descending sort order for \"last_modified_time\", \"created_time\", \"snapshot_number\" Ascending sort order for \"name\".",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions"
                    },
                    "unpublish": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "description": "Required. The version to deactivate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1alpha/{+name}:unpublish",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.",
                      "id": "integrations.projects.locations.integrations.versions.unpublish",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:unpublish"
                    },
                    "takeoverEditLock": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTakeoverEditLockResponse"
                      },
                      "parameters": {
                        "integrationVersion": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "description": "Required. The version to take over edit lock. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:takeoverEditLock",
                      "id": "integrations.projects.locations.integrations.versions.takeoverEditLock",
                      "description": "Clears the `locked_by` and `locked_at_timestamp`in the DRAFT version of this integration. It then performs the same action as the CreateDraftIntegrationVersion (i.e., copies the DRAFT version of the integration as a SNAPSHOT and then creates a new DRAFT version with the `locked_by` set to the `user_taking_over` and the `locked_at_timestamp` set to the current timestamp). Both the `locked_by` and `user_taking_over` are notified via email about the takeover. This RPC throws an exception if the integration is not in DRAFT status or if the `locked_by` and `locked_at_timestamp` fields are not set.The TakeoverEdit lock is treated the same as an edit of the integration, and hence shares ACLs with edit. Audit fields updated include last_modified_timestamp, last_modified_by.",
                      "path": "v1alpha/{+integrationVersion}:takeoverEditLock",
                      "parameterOrder": [
                        "integrationVersion"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "upload": {
                      "description": "Uploads an integration. The content can be a previously downloaded integration. Performs the same function as CreateDraftIntegrationVersion, but accepts input in a string format, which holds the complete representation of the IntegrationVersion content.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions:upload",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The version to upload. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
                      },
                      "path": "v1alpha/{+parent}/versions:upload",
                      "id": "integrations.projects.locations.integrations.versions.upload",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "download": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}:download",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.download",
                      "parameters": {
                        "fileFormat": {
                          "enum": [
                            "FILE_FORMAT_UNSPECIFIED",
                            "JSON",
                            "YAML"
                          ],
                          "type": "string",
                          "location": "query",
                          "description": "File format for download request.",
                          "enumDescriptions": [
                            "Unspecified file format",
                            "JSON File Format",
                            "YAML File Format"
                          ]
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The version to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                        }
                      },
                      "description": "Downloads an integration. Retrieves the `IntegrationVersion` for a given `integration_id` and returns the response as a string.",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:download"
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Create a integration with a draft version in the specified project.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "path": "v1alpha/{+parent}/versions",
                      "parameters": {
                        "newIntegration": {
                          "description": "Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "createSampleIntegrations": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Optional. Indicates if sample workflow should be created."
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.create"
                    },
                    "patch": {
                      "id": "integrations.projects.locations.integrations.versions.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "description": "Output only. Auto-generated primary key."
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Update a integration with a draft version in the specified project.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "description": "Required. The version to retrieve. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "description": "Get a integration in the specified project.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "id": "integrations.projects.locations.integrations.versions.get"
                    },
                    "publish": {
                      "id": "integrations.projects.locations.integrations.versions.publish",
                      "httpMethod": "POST",
                      "description": "This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}:publish",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The version to publish. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "required": true
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "execute": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "description": "Required. The integration resource name.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:execute",
                  "id": "integrations.projects.locations.integrations.execute",
                  "description": "Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}:execute",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
                  },
                  "id": "integrations.projects.locations.integrations.list",
                  "description": "Returns the list of all integrations in the specified project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations",
                  "path": "v1alpha/{+parent}/integrations",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/{project}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The page size for the resquest.",
                      "type": "integer",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "The results would be returned in order you specified here. Supported sort keys are: Descending sort order by \"last_modified_time\", \"created_time\", \"snapshot_number\". Ascending sort order by the integration name.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`."
                    },
                    "pageToken": {
                      "description": "The page token for the resquest.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "schedule": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:schedule",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
                  },
                  "description": "Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.",
                  "id": "integrations.projects.locations.integrations.schedule",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+name}:schedule",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "required": true,
                      "description": "The integration resource name.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Delete the selected integration and all versions inside",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "description": "Required. The location resource of the request.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "integrations.projects.locations.integrations.delete"
                },
                "executeEvent": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:executeEvent",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "integrations.projects.locations.integrations.executeEvent",
                  "path": "v1alpha/{+name}:executeEvent",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteEventResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The integration resource name. Format: projects/{gcp_project_id}/locations/{location}/integrations/{integration_id}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$"
                    },
                    "triggerId": {
                      "type": "string",
                      "description": "Required. Id of the integration trigger config. The trigger_id is in the format: `integration_connector_trigger/projects/{gcp_project_id}/location/{location}/connections/{connection_name}/subscriptions/{subscription_name}`.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "type": "object",
                    "additionalProperties": {
                      "description": "Properties of the object.",
                      "type": "any"
                    }
                  },
                  "description": "Executes an integration on receiving events from Integration Connector triggers, Eventarc or CPS Trigger. Input data to integration is received in body in json format"
                }
              }
            },
            "products": {
              "resources": {
                "authConfigs": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                      },
                      "path": "v1alpha/{+parent}/authConfigs",
                      "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "integrations.projects.locations.products.authConfigs.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The token returned in the previous response."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "description": "Required. The client, which owns this collection of AuthConfigs.",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The size of entries in the response. If unspecified, defaults to 100.",
                          "type": "integer"
                        },
                        "readMask": {
                          "format": "google-fieldmask",
                          "description": "The mask which specifies fields that need to be returned in the AuthConfig's response.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "description": "Deletes an auth config.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "integrations.projects.locations.products.authConfigs.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. The name that is associated with the AuthConfig.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs/{authConfigsId}",
                      "path": "v1alpha/{+name}"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "clientCertificate.sslCertificate": {
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$"
                        },
                        "clientCertificate.encryptedPrivateKey": {
                          "location": "query",
                          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                          "type": "string"
                        },
                        "clientCertificate.passphrase": {
                          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/products/{productsId}/authConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                      },
                      "path": "v1alpha/{+parent}/authConfigs",
                      "id": "integrations.projects.locations.products.authConfigs.create"
                    },
                    "get": {
                      "description": "Gets a complete auth config. If the auth config doesn't exist, Code.NOT_FOUND exception will be thrown. Returns the decrypted auth config.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/authConfigs/[^/]+$",
                          "description": "Required. The name that is associated with the AuthConfig.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
[...]
