{
  "protocol": "rest",
  "name": "integrations",
  "title": "Application Integration API",
  "rootUrl": "https://integrations.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://integrations.googleapis.com/",
  "ownerName": "Google",
  "revision": "20221220",
  "servicePath": "",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "id": "integrations:v1alpha",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/application-integration",
  "description": "",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse",
      "description": "Response to list AuthConfigs.",
      "properties": {
        "authConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          },
          "type": "array",
          "description": "The list of AuthConfigs retrieved."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims": {
      "properties": {
        "issuer": {
          "description": "Value for the \"iss\" claim.",
          "type": "string"
        },
        "audience": {
          "description": "Value for the \"aud\" claim.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Value for the \"sub\" claim."
        }
      },
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "description": "Response for ArchiveBundle.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse",
      "type": "object",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoBooleanParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "properties": {
        "lastReplayId": {
          "type": "string",
          "description": "Last sfdc messsage replay id for channel"
        },
        "description": {
          "description": "The description for this channel",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the channel is created",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Client level unique name/alias to easily reference a channel.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the channel was last updated",
          "readOnly": true
        },
        "channelTopic": {
          "description": "The Channel topic defined by salesforce once an channel is opened",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the channel was deleted. Empty if not deleted."
        },
        "isActive": {
          "type": "boolean",
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it."
        }
      },
      "type": "object",
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel."
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest",
      "properties": {
        "scriptId": {
          "description": "The id of the Apps Script project to be linked.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for LinkAppsScriptProject rpc call."
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier",
      "properties": {
        "elementIdentifier": {
          "type": "string",
          "description": "Configuration of the edge."
        },
        "elementType": {
          "description": "Destination node where the edge ends. It can only be a task config.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "type": "object",
      "properties": {
        "taskId": {
          "description": "Required. Task id of the associated SuspensionTask.",
          "type": "string"
        },
        "state": {
          "description": "Required. State of this suspension, indicating what action a resolver has taken.",
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Auto-generated."
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "suspensionConfig": {
          "description": "Controls the notifications and resolver permissions for this suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "audit": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
          "description": "Metadata pertaining to the resolution of this suspension."
        },
        "lastModifyTime": {
          "format": "google-datetime",
          "description": "Output only. Auto-generated.",
          "type": "string",
          "readOnly": true
        },
        "integration": {
          "description": "Required. The name of the originating integration.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for suspensions suspension/{suspension_id}",
          "type": "string"
        },
        "approvalConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
          "description": "Controls the notifications and approval permissions for this suspension."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspension",
      "description": "A record representing a suspension."
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventParameters",
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "properties": {
        "parameters": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAttemptStats": {
      "id": "GoogleCloudIntegrationsV1alphaAttemptStats",
      "type": "object",
      "description": "Status for the execution attempt.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time of the event execution for current attempt.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "type": "object",
      "properties": {
        "refreshToken": {
          "type": "string",
          "description": "If the access token will expire, use the refresh token to obtain another access token."
        },
        "refreshTokenExpireTime": {
          "description": "The approximate time until the refresh token retrieved is valid.",
          "type": "string",
          "format": "google-datetime"
        },
        "tokenType": {
          "type": "string",
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0."
        },
        "accessToken": {
          "type": "string",
          "description": "The access token encapsulating the security identity of a process or thread."
        },
        "accessTokenExpireTime": {
          "format": "google-datetime",
          "description": "Required. The approximate time until the access token retrieved is valid.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTaskMetadataAdmin": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskMetadataAdmin",
      "properties": {
        "userEmail": {
          "type": "string"
        },
        "googleGroupEmail": {
          "type": "string"
        }
      },
      "description": "Admins are owners of a Task, and have all permissions on a particular task identified by the task name. By default, Eventbus periodically scans all task metadata and syncs (adds) any new admins defined here to Zanzibar."
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig": {
      "description": "Union operation",
      "properties": {
        "reducer": {
          "type": "string",
          "description": "Optional. optional, reduce function"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig"
    },
    "EnterpriseCrmEventbusProtoIntArray": {
      "properties": {
        "values": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntArray"
    },
    "CrmlogErrorCode": {
      "description": "Registered ids for errors, as \"oneof\" enums. Each task or logical grouping of tasks may share the same enum.",
      "properties": {
        "commonErrorCode": {
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "CrmlogErrorCode"
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoNextTeardownTask": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the next teardown task."
        }
      },
      "id": "EnterpriseCrmEventbusProtoNextTeardownTask",
      "description": "The teardown task that is next in line to be executed. We support only sequential execution of teardown tasks (i.e. no branching).",
      "type": "object"
    },
    "EnterpriseCrmCardsTabularData": {
      "properties": {
        "headers": {
          "description": "Ordered list of column headers.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "rows": {
          "description": "Ordered list of table rows.",
          "items": {
            "$ref": "EnterpriseCrmCardsRow"
          },
          "type": "array"
        }
      },
      "description": "The generic data format returned from all connectors.",
      "id": "EnterpriseCrmCardsTabularData",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaRuntimeActionSchema": {
      "id": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema",
      "properties": {
        "outputSchema": {
          "description": "Output parameter schema for the action.",
          "type": "string"
        },
        "inputSchema": {
          "description": "Input parameter schema for the action.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Name of the action."
        }
      },
      "type": "object",
      "description": "Metadata of an action, including schemas for its inputs and outputs."
    },
    "EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "type": "object",
      "properties": {
        "objectValue": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
    },
    "EnterpriseCrmEventbusProtoParameterValueType": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterValueType",
      "properties": {
        "booleanValue": {
          "type": "boolean"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleParameterArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntParameterArray"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanParameterArray"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmEventbusProtoProtoParameterArray"
        }
      },
      "description": "LINT.IfChange To support various types of parameter values. Next available id: 14"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesData": {
      "description": "Data used to render an Aplos Series card.",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesData",
      "properties": {
        "rows": {
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesDataRow"
          },
          "type": "array",
          "description": "A single Series Row"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "type": "object",
      "properties": {
        "retryStrategy": {
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ],
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ],
          "description": "Defines what happens to the task upon failure.",
          "type": "string"
        },
        "maxNumRetries": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer",
          "format": "int32"
        },
        "intervalInSeconds": {
          "format": "int64",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoFailurePolicy"
    },
    "GoogleCloudIntegrationsV1alphaListCertificatesResponse": {
      "description": "Response to list Certificates.",
      "id": "GoogleCloudIntegrationsV1alphaListCertificatesResponse",
      "type": "object",
      "properties": {
        "certificates": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
          },
          "description": "The list of Certificates retrieved.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "The client's secret."
        },
        "password": {
          "description": "The user's password.",
          "type": "string"
        },
        "tokenEndpoint": {
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token.",
          "type": "string"
        },
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "Access token fetched from the authorization server."
        },
        "requestType": {
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "description": "Represent how to pass parameters to fetch access token",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "type": "string"
        },
        "username": {
          "description": "The user's username.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The client's ID."
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "Token parameters for the auth request."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
      "type": "object",
      "description": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token."
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "description": "Request for CreateAppsScriptProject rpc call.",
      "properties": {
        "appsScriptProject": {
          "type": "string",
          "description": "The name of the Apps Script project to be created."
        },
        "authConfigId": {
          "type": "string",
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse": {
      "properties": {},
      "description": "Response for Suspensions.ResolveSuspensions.",
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "description": "Entry is a pair of key and value.",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      }
    },
    "GoogleCloudConnectorsV1Destination": {
      "type": "object",
      "properties": {
        "port": {
          "format": "int32",
          "description": "The port is the target port number that is accepted by the destination.",
          "type": "integer"
        },
        "serviceAttachment": {
          "type": "string",
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*"
        },
        "host": {
          "type": "string",
          "description": "For publicly routable host."
        }
      },
      "id": "GoogleCloudConnectorsV1Destination"
    },
    "EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Optional. To be used in TaskConfig for the implementation class."
        },
        "triggerCriteriaTaskImplementationClassName": {
          "type": "string",
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface."
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria"
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse": {
      "description": "Response for UploadIntegrationVersion.",
      "properties": {
        "integrationVersion": {
          "description": "The uploaded integration.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse",
      "type": "object"
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "type": "object",
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6",
      "properties": {
        "maxArraySize": {
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated.",
          "type": "integer",
          "format": "int32"
        },
        "shortenerType": {
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ]
        },
        "logAction": {
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "maxStringLength": {
          "format": "int32",
          "description": "maximum string length. If the field exceeds this amount the field is shortened.",
          "type": "integer"
        },
        "logType": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ]
          },
          "description": "To which type(s) of logs the limits apply.",
          "type": "array"
        }
      },
      "id": "EnterpriseCrmLoggingGwsFieldLimits"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest": {
      "description": "Request for ArchiveIntegrationVersion.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "properties": {
        "name": {
          "type": "string"
        },
        "tokens": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          },
          "type": "array"
        },
        "email": {
          "type": "string",
          "description": "Required."
        }
      },
      "type": "object",
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes.",
      "id": "EnterpriseCrmEventbusProtoAddress"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse",
      "description": "Response for ArchiveIntegrationVersion.",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "properties": {
        "successPolicy": {
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy",
          "description": "Determines what action to take upon successful task completion."
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the task."
        },
        "taskName": {
          "description": "The name for the task.",
          "type": "string"
        },
        "rollbackStrategy": {
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times).",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
        },
        "incomingEdgeCount": {
          "format": "int32",
          "description": "The number of edges leading into this TaskConfig.",
          "type": "integer"
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "taskExecutionStrategy": {
          "description": "The policy dictating the execution strategy of this task.",
          "type": "string",
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ]
        },
        "taskSpec": {
          "type": "string",
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field. Please refer to go/eventbus-task-spec-example for detailed usage example."
        },
        "synchronousCallFailurePolicy": {
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "disableStrictTypeValidation": {
          "type": "boolean",
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter."
        },
        "taskTemplateName": {
          "type": "string",
          "description": "Used to define task-template name if task is of type task-template"
        },
        "preconditionLabel": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to precondition in the UI."
        },
        "nextTasksExecutionPolicy": {
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "type": "string"
        },
        "precondition": {
          "type": "string",
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task."
        },
        "nextTasks": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "jsonValidationOption": {
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "description": "If set, overrides the option configured in the Task implementation class.",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "type": "string"
        },
        "taskType": {
          "description": "Defines the type of the task",
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ]
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "object",
          "description": "The customized parameters the user can pass to this task."
        },
        "label": {
          "description": "User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "alertConfigs": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          },
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc."
        },
        "taskNumber": {
          "type": "string",
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`)."
        },
        "createTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "position": {
          "$ref": "EnterpriseCrmEventbusProtoCoordinate",
          "description": "Optional. Informs the front-end application where to draw this task config on the UI."
        },
        "taskEntity": {
          "description": "Copy of the task entity that this task config is an instance of.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "type": "object",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse": {
      "type": "object",
      "description": "Response to list SfdcChannels.",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse",
      "properties": {
        "sfdcChannels": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
          },
          "description": "The list of SfdcChannels retrieved.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "description": "Metadata of an entity, including a schema for its properties.",
      "type": "object",
      "properties": {
        "fieldSchema": {
          "description": "List of fields in the entity.",
          "type": "string"
        },
        "arrayFieldSchema": {
          "description": "The above schema, but for an array of the associated entity.",
          "type": "string"
        },
        "entity": {
          "description": "Name of the entity.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "description": "The integration definition.",
      "id": "GoogleCloudIntegrationsV1alphaIntegration",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional."
        },
        "active": {
          "description": "Required. If any integration version is published.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Auto-generated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the integration."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "properties": {
        "finalState": {
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "description": "State to which the execution snapshot status will be set if the task succeeds."
        }
      },
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "id": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
      "properties": {
        "nextExecutionTime": {
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "format": "int64",
          "type": "string"
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        },
        "eventExecutionState": {
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ],
          "description": "The execution state of this event.",
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "ryeLockUnheldCount": {
          "type": "integer",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/",
          "format": "int32"
        },
        "eventRetriesFromBeginningCount": {
          "description": "Indicates the number of times the execution has restarted from the beginning.",
          "type": "integer",
          "format": "int32"
        },
        "logFilePath": {
          "description": "The log file path (aka. cns address) for this event.",
          "type": "string"
        },
        "eventExecutionSnapshot": {
          "description": "After snapshot migration, this field will no longer be populated, but old execution snapshots will still be accessible.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
          }
        },
        "eventAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10"
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList",
      "type": "object",
      "description": "List of error enums for alerts.",
      "properties": {
        "enumStrings": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filterType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoCondition": {
      "id": "EnterpriseCrmEventbusProtoCondition",
      "description": "Condition that uses `operator` to evaluate the key against the value.",
      "type": "object",
      "properties": {
        "eventPropertyKey": {
          "description": "Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown.",
          "type": "string"
        },
        "value": {
          "description": "Value that's checked for the key.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "operator": {
          "enum": [
            "UNSET",
            "EQUALS",
            "CONTAINS",
            "LESS_THAN",
            "GREATER_THAN",
            "EXISTS",
            "DOES_NOT_EXIST",
            "IS_EMPTY",
            "IS_NOT_EMPTY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Operator used to evaluate the condition. Please note that an operator with an inappropriate key/value operand will result in IllegalArgumentException, e.g. CONTAINS with boolean key/value pair."
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer": {
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
      "properties": {
        "jwtClaims": {
          "description": "JwtClaims providers fields to generate the token.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims"
        },
        "clientKey": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaFailurePolicy": {
      "type": "object",
      "properties": {
        "maxRetries": {
          "format": "int32",
          "type": "integer",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the number of times the task will be retried if failed."
        },
        "intervalTime": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the initial interval in seconds for backoff.",
          "format": "google-datetime",
          "type": "string"
        },
        "retryStrategy": {
          "enum": [
            "RETRY_STRATEGY_UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_INTEGRATION_WITH_BACKOFF"
          ],
          "description": "Defines what happens to the task upon failure.",
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Ignores the failure of this task. The rest of the integration will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the integration.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. max_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. max_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified.",
            "The entire integration will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified."
          ]
        }
      },
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "id": "GoogleCloudIntegrationsV1alphaFailurePolicy"
    },
    "GoogleCloudConnectorsV1AuthConfigUserPassword": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigUserPassword",
      "properties": {
        "username": {
          "description": "Username.",
          "type": "string"
        },
        "password": {
          "description": "Secret version reference containing the password.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      },
      "description": "Parameters to support Username and Password Authentication."
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy",
      "properties": {
        "finalState": {
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ]
        }
      },
      "type": "object",
      "description": "Policy that dictates the behavior for the task after it completes successfully."
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "keyType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "properties": {
        "isAlreadySanitized": {
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization.",
          "type": "boolean"
        },
        "privacy": {
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ],
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "type": "string"
        },
        "logType": {
          "type": "array",
          "items": {
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "type": "string"
          },
          "description": "To which type(s) of logs the sanitize options apply."
        },
        "sanitizeType": {
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ],
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmLoggingGwsSanitizeOptions",
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleRequest": {
      "type": "object",
      "properties": {
        "config": {
          "description": "It contains the updated bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request message for Bundle update",
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse": {
      "properties": {
        "eventParameters": {
          "description": "Details for the integration that were executed.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "executionId": {
          "description": "The id of the execution corresponding to this run of integration.",
          "type": "string"
        },
        "outputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters.",
          "type": "object"
        },
        "parameterEntries": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "executionFailed": {
          "type": "boolean",
          "description": "Is true if any execution in the integration failed. False otherwise."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse",
      "type": "object",
      "description": "The response for executing an integration."
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "type": "object",
      "description": "Entry is a pair of key and value.",
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry"
    },
    "GoogleCloudConnectorsV1ConfigVariable": {
      "id": "GoogleCloudConnectorsV1ConfigVariable",
      "properties": {
        "intValue": {
          "type": "string",
          "description": "Value is an integer",
          "format": "int64"
        },
        "stringValue": {
          "description": "Value is a string.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key of the config variable."
        },
        "secretValue": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Value is a secret."
        },
        "boolValue": {
          "description": "Value is a bool.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig."
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetails": {
      "properties": {
        "nextExecutionTime": {
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD.",
          "format": "int64",
          "type": "string"
        },
        "logFilePath": {
          "type": "string",
          "description": "The log file path (aka. cns address) for this event."
        },
        "eventExecutionSnapshot": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        },
        "eventAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          }
        },
        "networkAddress": {
          "description": "The network address (aka. bns address) that indicates where the event executor is running.",
          "type": "string"
        },
        "eventExecutionState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ],
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ]
        },
        "ryeLockUnheldCount": {
          "type": "integer",
          "format": "int32",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/"
        },
        "eventRetriesFromBeginningCount": {
          "format": "int32",
          "type": "integer",
          "description": "Indicates the number of times the execution has restarted from the beginning."
        }
      },
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetails",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse": {
      "type": "object",
      "properties": {
        "executionInfoIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The execution info id for the executed integrations."
        }
      },
      "description": "The response for executing an integration.",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "properties": {
        "taskNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level."
        },
        "errorMessage": {
          "type": "string",
          "description": "The full text of the error message, including any parameters that were thrown along with the exception."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The severity of the error: ERROR|WARN|INFO."
        },
        "errorCode": {
          "description": "The associated error-code, which can be a common or internal code.",
          "$ref": "CrmlogErrorCode"
        }
      },
      "type": "object",
      "description": "An error, warning, or information message associated with a workflow.",
      "id": "EnterpriseCrmEventbusProtoErrorDetail"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMap": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMap",
      "type": "object",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "valueType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry"
          },
          "type": "array"
        },
        "keyType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this."
        }
      }
    },
    "GoogleCloudConnectorsV1Secret": {
      "description": "Secret provides a reference to entries in Secret Manager.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1Secret",
      "properties": {
        "secretVersion": {
          "description": "The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "NOW_IN_MILLIS",
            "INT_LIST",
            "ENVIRONMENT",
            "GET_EXECUTION_ID",
            "GET_INTEGRATION_NAME",
            "GET_REGION",
            "GET_UUID",
            "GET_PROJECT_ID"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseFunction"
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "properties": {
        "connectorVersion": {
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}",
          "type": "string"
        },
        "serviceName": {
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}",
          "type": "string"
        },
        "connectionName": {
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshot": {
      "type": "object",
      "properties": {
        "params": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Parameters used during the execution.",
          "type": "object"
        },
        "taskExecutionDetails": {
          "type": "array",
          "description": "All of the task execution details at the given point of time.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails"
          }
        },
        "executionSnapshotMetadata": {
          "description": "Metadata of the execution snapshot.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata"
        },
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"after which checkpoint task's execution\" this snapshot is taken."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshot",
      "description": "Contains the snapshot of the execution for a given checkpoint."
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "properties": {
        "parameterNameOption": {
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ]
        },
        "inputDisplayOption": {
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ],
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ],
          "type": "string"
        },
        "helpText": {
          "type": "string",
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter."
        },
        "uiPlaceholderText": {
          "type": "string",
          "description": "Placeholder text which will appear in the UI input form for this parameter."
        },
        "hideDefaultValue": {
          "description": "Whether the default value is hidden in the UI.",
          "type": "boolean"
        },
        "subSectionLabel": {
          "type": "string",
          "description": "A user-friendly label for subSection under which the parameter will be displayed."
        },
        "isHidden": {
          "type": "boolean",
          "description": "Whether this field is hidden in the UI."
        },
        "label": {
          "type": "string",
          "description": "A user-friendly label for the parameter."
        },
        "descriptivePhrase": {
          "description": "A short phrase to describe what this parameter contains.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the certificate"
        },
        "requestorId": {
          "description": "Immutable. Requestor ID to be used to register certificate with trawler",
          "type": "string"
        },
        "credentialId": {
          "description": "Immutable. Credential id that will be used to register with trawler INTERNAL_ONLY",
          "type": "string"
        },
        "validStartTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp after which certificate will be valid",
          "format": "google-datetime"
        },
        "rawCertificate": {
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate",
          "description": "Input only. Raw client certificate which would be registered with trawler"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Auto generated primary key",
          "type": "string"
        },
        "certificateStatus": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ],
          "description": "Status of the certificate"
        },
        "validEndTime": {
          "description": "Output only. The timestamp after which certificate will expire",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Name of the certificate"
        }
      },
      "type": "object",
      "description": "The certificate definition",
      "id": "GoogleCloudIntegrationsV1alphaCertificate"
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "type": "object",
      "properties": {
        "outputField": {
          "description": "The output field being mapped to.",
          "$ref": "EnterpriseCrmEventbusProtoField"
        },
        "inputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The input field being mapped from."
        }
      },
      "id": "EnterpriseCrmEventbusProtoMappedField",
      "description": "Mapped field is a pair of input field and output field. Next Id: 3"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "properties": {
        "product": {
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ]
        },
        "suspensionId": {
          "description": "Primary key for the SuspensionResolutionInfoTable.",
          "type": "string"
        },
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        },
        "taskNumber": {
          "type": "string",
          "description": "Required. Task number of the associated SuspensionTask."
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED"
          ]
        },
        "createdTimestamp": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "externalTraffic": {
          "description": "The origin of the suspension for periodic notifications.",
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic"
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "lastModifiedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Auto-generated."
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo"
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction"
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "properties": {
        "validTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire."
        },
        "overrideValidTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
        },
        "expiryNotificationDuration": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "google-duration"
          },
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours."
        },
        "name": {
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of the auth config.",
          "type": "string",
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ]
        },
        "creatorEmail": {
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "decryptedCredential": {
          "description": "Raw auth credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCredential"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the auth config is modified.",
          "format": "google-datetime"
        },
        "credentialType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "description": "Credential type of the encrypted credential.",
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The name of the auth config."
        },
        "reason": {
          "type": "string",
          "description": "The reason / details of the current status."
        },
        "state": {
          "description": "The status of the auth config.",
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ],
          "type": "string"
        },
        "encryptedCredential": {
          "format": "byte",
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the auth config is created."
        },
        "description": {
          "type": "string",
          "description": "A description of the auth config."
        },
        "certificateId": {
          "description": "Certificate id for client certificate",
          "type": "string"
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "description": "The AuthConfig resource use to hold channels and connection config data."
    },
    "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata": {
      "type": "object",
      "description": "Metadata of the execution snapshot.",
      "properties": {
        "task": {
          "type": "string",
          "description": "the task name associated with this snapshot."
        },
        "taskNumber": {
          "type": "string",
          "description": "The task number associated with this snapshot."
        },
        "executionAttempt": {
          "format": "int32",
          "type": "integer",
          "description": "the execution attempt number this snapshot belongs to."
        },
        "taskAttempt": {
          "description": "the task attempt number this snapshot belongs to.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecutionSnapshotExecutionSnapshotMetadata"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "type": "object",
      "description": "Request for cancelling an execution.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsResponse",
      "description": "The response for getting Execution stats.",
      "properties": {
        "tableData": {
          "$ref": "EnterpriseCrmCardsTabularData",
          "description": "Data in form of table."
        },
        "aplosSeriesListData": {
          "description": "List of points.",
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListData"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfig": {
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfig",
      "properties": {
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI."
        },
        "triggerType": {
          "description": "Optional. Type of trigger",
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "CLOUD_SCHEDULER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC.",
            "Trigger by Cloud Scheduler job."
          ]
        },
        "cloudSchedulerConfig": {
          "description": "Optional. Cloud Scheduler Trigger related metadata",
          "$ref": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig"
        },
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular trigger."
        },
        "properties": {
          "type": "object",
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "triggerId": {
          "type": "string",
          "description": "Optional. The backend trigger ID."
        },
        "startTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "type": "array",
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph)."
        },
        "nextTasksExecutionPolicy": {
          "type": "string",
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "description": "Optional. Dictates how next tasks will be executed."
        },
        "alertConfig": {
          "type": "array",
          "description": "Optional. An alert threshold configuration for the [trigger + client + integration] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + integration] when published.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
          }
        }
      },
      "description": "Configuration detail of a trigger.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleResponse": {
      "properties": {
        "triggerId": {
          "type": "string",
          "description": "trigger_id of the bundle task"
        },
        "config": {
          "description": "It contains the bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleResponse",
      "description": "Response for create bundle."
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "description": "Attributes are additional options that can be associated with each event property. For more information, see go/integration-platform/event_bus/attributes_registry.md. Next available: 8",
      "properties": {
        "isSearchable": {
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable.",
          "type": "boolean"
        },
        "searchable": {
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ],
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ],
          "type": "string"
        },
        "taskVisibility": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of tasks that can view this property, if empty then all."
        },
        "dataType": {
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ],
          "type": "string"
        },
        "isRequired": {
          "type": "boolean",
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered."
        },
        "logSettings": {
          "description": "See go/integration-platform/analytics/logging_task.md for details.",
          "$ref": "EnterpriseCrmEventbusProtoLogSettings"
        },
        "defaultValue": {
          "description": "Used to define defaults.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        }
      },
      "id": "EnterpriseCrmEventbusProtoAttributes",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2",
      "properties": {
        "mappedFields": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig"
    },
    "EnterpriseCrmEventbusProtoNotification": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNotification",
      "properties": {
        "escalatorQueue": {
          "type": "string"
        },
        "buganizerNotification": {
          "$ref": "EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "pubsubTopic": {
          "type": "string"
        },
        "request": {
          "description": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution.",
          "$ref": "EnterpriseCrmEventbusProtoCustomSuspensionRequest"
        },
        "emailAddress": {
          "$ref": "EnterpriseCrmEventbusProtoAddress"
        }
      }
    },
    "EnterpriseCrmEventbusProtoCombinedCondition": {
      "description": "This message recursively combines constituent conditions using logical AND.",
[...]
