{
  "id": "integrations:v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/application-integration",
  "revision": "20230103",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "description": "Contains all the execution details for a workflow instance. Next available id: 24",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "int64",
          "type": "string",
          "description": "Auto-generated."
        },
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        },
        "tenant": {
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant.",
          "type": "string"
        },
        "postMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ],
          "description": "The ways user posts this event."
        },
        "lastModifiedTime": {
          "format": "int64",
          "type": "string",
          "description": "Auto-generated."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request."
        },
        "workflowId": {
          "description": "Required. Pointer to the workflow it is executing.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          }
        },
        "eventExecutionInfoId": {
          "description": "Auto-generated primary key.",
          "type": "string"
        },
        "executionTraceInfo": {
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
          "description": "Execution trace info to aggregate parent-child executions."
        },
        "workflowName": {
          "description": "Name of the workflow.",
          "type": "string"
        },
        "workflowRetryBackoffIntervalSeconds": {
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running",
          "format": "int64",
          "type": "string"
        },
        "errorCode": {
          "description": "Final error-code if event failed.",
          "$ref": "CrmlogErrorCode"
        },
        "product": {
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default."
        },
        "snapshotNumber": {
          "format": "int64",
          "description": "Workflow snapshot number.",
          "type": "string"
        },
        "responseParams": {
          "description": "Event parameters come out as part of the response.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "clientId": {
          "type": "string",
          "description": "The event data user sends as request."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse": {
      "properties": {
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Execution Id that will be returned"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse",
      "type": "object",
      "description": "Response of lift Suspense"
    },
    "GoogleCloudIntegrationsV1alphaEventParameter": {
      "properties": {
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        }
      },
      "type": "object",
      "description": "This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus.",
      "id": "GoogleCloudIntegrationsV1alphaEventParameter"
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "properties": {
        "allowedCredentialTypes": {
          "type": "array",
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only.",
          "items": {
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ],
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ],
            "type": "string"
          }
        },
        "authConfigId": {
          "type": "string",
          "description": "UUID of the AuthConfig."
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        }
      },
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry",
      "properties": {
        "protoDefPath": {
          "type": "string",
          "description": "If the data type is of type proto or proto array, this field needs to be populated with the fully qualified proto name. This message, for example, would be \"enterprise.crm.frontends.eventbus.proto.WorkflowParameterEntry\"."
        },
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter. go/ip-transient-parameters"
        },
        "producedBy": {
          "$ref": "EnterpriseCrmEventbusProtoNodeIdentifier",
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param."
        },
        "name": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        },
        "jsonSchema": {
          "type": "string",
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter."
        },
        "attributes": {
          "description": "Metadata information about the parameters.",
          "$ref": "EnterpriseCrmEventbusProtoAttributes"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "dataType": {
          "type": "string",
          "description": "The data type of the parameter.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "producer": {
          "type": "string"
        },
        "children": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "description": "Child parameters nested within this parameter. This field only applies to protobuf parameters",
          "type": "array"
        },
        "protoDefName": {
          "type": "string",
          "description": "The name of the protobuf type if the parameter has a protobuf data type."
        },
        "inOutType": {
          "enumDescriptions": [
            "",
            "Input parameters for the workflow. EventBus validates that these parameters exist in the workflows before execution.",
            "Output Parameters for the workflow. EventBus will only return the workflow parameters tagged with OUT in the response back.",
            "Input or Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "description": "Specifies the input/output type for the parameter.",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskEntity": {
      "description": "Contains a task's metadata and associated information. Next available id: 7",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
      "properties": {
        "stats": {
          "$ref": "EnterpriseCrmEventbusStats",
          "description": "Deprecated - statistics from the Monarch query."
        },
        "paramSpecs": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
          "description": "Declarations for inputs/outputs for a TypedTask. This is also associated with the METADATA mask."
        },
        "uiConfig": {
          "$ref": "EnterpriseCrmEventbusProtoTaskUiConfig",
          "description": "UI configuration for this task Also associated with the METADATA mask."
        },
        "disabledForVpcSc": {
          "type": "boolean",
          "description": "True if the task has conflict with vpcsc"
        },
        "metadata": {
          "description": "Metadata inclueds the task name, author and so on.",
          "$ref": "EnterpriseCrmEventbusProtoTaskMetadata"
        },
        "taskType": {
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "description": "Defines the type of the task",
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse": {
      "properties": {
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        },
        "executionFailed": {
          "description": "Is true if any execution in the integration failed. False otherwise.",
          "type": "boolean"
        },
        "executionId": {
          "description": "The id of the execution corresponding to this run of integration.",
          "type": "string"
        },
        "eventParameters": {
          "description": "Details for the integration that were executed.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "parameters": {
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse",
      "description": "The response for testing an integration."
    },
    "GoogleCloudIntegrationsV1alphaDoubleParameterArray": {
      "type": "object",
      "description": "This message only contains a field of double number array.",
      "id": "GoogleCloudIntegrationsV1alphaDoubleParameterArray",
      "properties": {
        "doubleValues": {
          "description": "Double number array.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "type": "object",
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "properties": {
        "elementIdentifier": {
          "description": "Configuration of the edge.",
          "type": "string"
        },
        "elementType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "description": "Destination node where the edge ends. It can only be a task config."
        }
      },
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer": {
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
      "properties": {
        "clientKey": {
          "description": "Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "jwtClaims": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims",
          "description": "JwtClaims providers fields to generate the token."
        }
      },
      "type": "object",
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details."
    },
    "EnterpriseCrmEventbusProtoDoubleArray": {
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleArray"
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "properties": {
        "jsonValidationOption": {
          "type": "string",
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "description": "Optional. If set, overrides the option configured in the Task implementation class.",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        },
        "task": {
          "description": "Optional. The name for the task.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "failurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.)."
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          },
          "type": "object",
          "description": "Optional. The customized parameters the user can pass to this task."
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy"
        },
        "nextTasksExecutionPolicy": {
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string",
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task.",
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "successPolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
          "description": "Optional. Determines what action to take upon successful task completion."
        },
        "nextTasks": {
          "type": "array",
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give additional business context about the task."
        },
        "taskId": {
          "type": "string",
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`)."
        },
        "taskTemplate": {
          "description": "Optional. Used to define task-template name if task is of type task-template",
          "type": "string"
        },
        "taskExecutionStrategy": {
          "description": "Optional. The policy dictating the execution strategy of this task.",
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "type": "string"
        }
      },
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTaskConfig"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo",
      "type": "object",
      "properties": {
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Required. ID of the associated execution."
        },
        "status": {
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "taskNumber": {
          "type": "string",
          "description": "Required. Task number of the associated SuspensionTask."
        },
        "lastModifiedTimestamp": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        },
        "product": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "externalTraffic": {
          "description": "The origin of the suspension for periodic notifications.",
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic"
        },
        "createdTimestamp": {
          "description": "Auto-generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        },
        "suspensionId": {
          "type": "string",
          "description": "Primary key for the SuspensionResolutionInfoTable."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaServiceAccountCredentials": {
      "description": "Represents the service account which can be used to generate access token for authenticating the service call.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials",
      "properties": {
        "serviceAccount": {
          "description": "Name of the service account that has the permission to make the request.",
          "type": "string"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "properties": {
        "intValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntParameterArray"
    },
    "EnterpriseCrmEventbusProtoStringFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "CONCAT",
            "TO_UPPERCASE",
            "TO_LOWERCASE",
            "CONTAINS",
            "SPLIT",
            "LENGTH",
            "EQUALS",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_BASE_64",
            "TO_JSON",
            "EQUALS_IGNORE_CASE",
            "REPLACE_ALL",
            "SUBSTRING",
            "RESOLVE_TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringFunction"
    },
    "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest": {
      "type": "object",
      "description": "Request for UnpublishIntegrationVersion.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig": {
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
      "properties": {
        "expiration": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
          "description": "Indicates the next steps when no external actions happen on the suspension."
        },
        "emailAddresses": {
          "description": "Email addresses to send approval request to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customMessage": {
          "description": "Information to provide for recipients.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configurations for approving the Suspension."
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse",
      "properties": {},
      "description": "Response for ArchiveBundle."
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "properties": {
        "parameters": {
          "description": "Optional. To be used in TaskConfig for the implementation class.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "triggerCriteriaTaskImplementationClassName": {
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface.",
          "type": "string"
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "properties": {
        "validTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire."
        },
        "reason": {
          "type": "string",
          "description": "The reason / details of the current status."
        },
        "expiryNotificationDuration": {
          "type": "array",
          "items": {
            "format": "google-duration",
            "type": "string"
          },
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours."
        },
        "creatorEmail": {
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the auth config is created.",
          "type": "string",
          "readOnly": true
        },
        "decryptedCredential": {
          "description": "Raw auth credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCredential"
        },
        "visibility": {
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "description": "The visibility of the auth config.",
          "type": "string",
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ]
        },
        "lastModifierEmail": {
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "credentialType": {
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "type": "string",
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "description": "Credential type of the encrypted credential."
        },
        "description": {
          "description": "A description of the auth config.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "description": "The status of the auth config.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ]
        },
        "encryptedCredential": {
          "type": "string",
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key.",
          "format": "byte"
        },
        "certificateId": {
          "type": "string",
          "description": "Certificate id for client certificate"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the auth config is modified.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The name of the auth config.",
          "type": "string"
        },
        "overrideValidTime": {
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "description": "The AuthConfig resource use to hold channels and connection config data."
    },
    "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata": {
      "type": "object",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of entity names."
        },
        "actions": {
          "type": "array",
          "description": "List of actions.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata",
      "description": "Metadata of runtime connection schema."
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The end time of the task execution for current attempt.",
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "int64"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "properties": {
        "sshPublicKey": {
          "description": "SSH Public Key.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey"
        },
        "additionalVariables": {
          "description": "List containing additional auth configs.",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array"
        },
        "oauth2JwtBearer": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "userPassword": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword",
          "description": "UserPassword."
        },
        "oauth2ClientCredentials": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        },
        "authType": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow"
          ],
          "description": "The type of authentication configured.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfig",
      "description": "AuthConfig defines details of a authentication type."
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "id": "EnterpriseCrmEventbusProtoAttributes",
      "properties": {
        "taskVisibility": {
          "description": "List of tasks that can view this property, if empty then all.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logSettings": {
          "$ref": "EnterpriseCrmEventbusProtoLogSettings",
          "description": "See go/integration-platform/analytics/logging_task.md for details."
        },
        "isSearchable": {
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable.",
          "type": "boolean"
        },
        "isRequired": {
          "type": "boolean",
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered."
        },
        "searchable": {
          "type": "string",
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ],
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ]
        },
        "defaultValue": {
          "description": "Used to define defaults.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "dataType": {
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ]
        }
      },
      "description": "Attributes are additional options that can be associated with each event property. For more information, see go/integration-platform/event_bus/attributes_registry.md. Next available: 8",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig",
      "properties": {
        "helpText": {
          "type": "string",
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter."
        },
        "subSectionLabel": {
          "type": "string",
          "description": "A user-friendly label for subSection under which the parameter will be displayed."
        },
        "label": {
          "description": "A user-friendly label for the parameter.",
          "type": "string"
        },
        "uiPlaceholderText": {
          "description": "Placeholder text which will appear in the UI input form for this parameter.",
          "type": "string"
        },
        "isHidden": {
          "type": "boolean",
          "description": "Whether this field is hidden in the UI."
        },
        "descriptivePhrase": {
          "type": "string",
          "description": "A short phrase to describe what this parameter contains."
        },
        "hideDefaultValue": {
          "type": "boolean",
          "description": "Whether the default value is hidden in the UI."
        },
        "inputDisplayOption": {
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ]
        },
        "parameterNameOption": {
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse",
      "type": "object",
      "description": "Response for PublishIntegrationVersion.",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse": {
      "description": "Response for ValidateIntegrationVersion.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleArrayFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleArrayFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      }
    },
    "GoogleCloudConnectorsV1ConnectionStatus": {
      "properties": {
        "description": {
          "description": "Description.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status provides detailed information for the state."
        },
        "state": {
          "description": "State.",
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1ConnectionStatus",
      "description": "ConnectionStatus indicates the state of the connection."
    },
    "GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "description": "Response containing Connections listed by region.",
      "id": "GoogleCloudIntegrationsV1alphaListConnectionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "connections": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Connection"
          },
          "type": "array",
          "description": "Connections."
        }
      }
    },
    "EnterpriseCrmEventbusProtoNotification": {
      "id": "EnterpriseCrmEventbusProtoNotification",
      "properties": {
        "emailAddress": {
          "$ref": "EnterpriseCrmEventbusProtoAddress"
        },
        "request": {
          "$ref": "EnterpriseCrmEventbusProtoCustomSuspensionRequest",
          "description": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution."
        },
        "pubsubTopic": {
          "type": "string"
        },
        "buganizerNotification": {
          "$ref": "EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "escalatorQueue": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse",
      "type": "object",
      "description": "Response for cancelling an execution.",
      "properties": {
        "isCanceled": {
          "description": "True if cancellation performed successfully",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "type": "object",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "description": "Entry is a pair of key and value.",
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry"
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse",
      "properties": {},
      "description": "Response for DeactivateIntegrationVersion.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "properties": {
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "tokenEndpoint": {
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The user's password."
        },
        "requestType": {
          "description": "Represent how to pass parameters to fetch access token",
          "type": "string",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ]
        },
        "tokenParams": {
          "description": "Token parameters for the auth request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "username": {
          "type": "string",
          "description": "The user's username."
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The client's ID."
        },
        "accessToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken",
          "description": "Access token fetched from the authorization server."
        }
      },
      "description": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse": {
      "description": "Response to list SfdcChannels.",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse",
      "properties": {
        "sfdcChannels": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
          },
          "type": "array",
          "description": "The list of SfdcChannels retrieved."
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest",
      "description": "Request for ValidateIntegrationVersion.",
      "properties": {},
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "type": "object",
      "description": "LINT.IfChange",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions",
      "properties": {
        "gaiaIdentity": {
          "description": "Represents a Gaia identity for a person or service account.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "loasRole": {
          "type": "string"
        },
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "mdbGroup": {
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaValueType": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaValueType",
      "properties": {
        "jsonValue": {
          "description": "Json.",
          "type": "string"
        },
        "stringArray": {
          "description": "String Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaStringParameterArray"
        },
        "intValue": {
          "format": "int64",
          "description": "Integer.",
          "type": "string"
        },
        "intArray": {
          "description": "Integer Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaIntParameterArray"
        },
        "booleanArray": {
          "description": "Boolean Array.",
          "$ref": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
        },
        "stringValue": {
          "description": "String.",
          "type": "string"
        },
        "doubleArray": {
          "$ref": "GoogleCloudIntegrationsV1alphaDoubleParameterArray",
          "description": "Double Number Array."
        },
        "booleanValue": {
          "description": "Boolean.",
          "type": "boolean"
        },
        "doubleValue": {
          "type": "number",
          "description": "Double Number.",
          "format": "double"
        }
      },
      "description": "The type of the parameter."
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse",
      "description": "Response to list SfdcInstances.",
      "properties": {
        "sfdcInstances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          },
          "description": "The list of SfdcInstances retrieved."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListExecutionsResponse": {
      "type": "object",
      "description": "Response for listing the integration execution data.",
      "properties": {
        "executions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "description": "The detailed information of requested executions"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page results."
        },
        "executionInfos": {
          "description": "Required. The detailed information of requested executions.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
    },
    "GoogleCloudIntegrationsV1alphaClientConfig": {
      "description": "The configuration information for the Client",
      "id": "GoogleCloudIntegrationsV1alphaClientConfig",
      "properties": {
        "createTime": {
          "description": "The timestamp when the client was first created.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Description of what the client is used for",
          "type": "string"
        },
        "p4ServiceAccount": {
          "description": "The P4SA account associated with this client",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Globally unique ID (project_id + region)"
        },
        "cloudKmsConfig": {
          "description": "Cloud KMS config for Auth Module to encrypt/decrypt credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCloudKmsConfig"
        },
        "region": {
          "type": "string",
          "description": "The region the client is linked to."
        },
        "projectId": {
          "description": "The GCP project id of the client associated with",
          "type": "string"
        },
        "clientState": {
          "type": "string",
          "enum": [
            "CLIENT_STATE_UNSPECIFIED",
            "CLIENT_STATE_ACTIVE",
            "CLIENT_STATE_DISABLED"
          ],
          "description": "Indicates the activity state the client",
          "enumDescriptions": [
            "The client state is unspecified",
            "The client is active and able to make calls to the IP APIs",
            "The client is disabled and will soon be deleted"
          ]
        },
        "billingType": {
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "BILLING_TYPE_APIGEE_TRIALS",
            "BILLING_TYPE_APIGEE_SUBSCRIPTION",
            "BILLING_TYPE_PAYG"
          ],
          "description": "Indicates the billing type of the client",
          "type": "string",
          "enumDescriptions": [
            "Unspecified billing type",
            "A trial org provisioned through Apigee Provisioning Wizard",
            "Subscription based users of Apigee",
            "Consumption based users of IP"
          ]
        },
        "cloudLoggingConfig": {
          "description": "Determines the cloud logging configuration for the project",
          "$ref": "GoogleCloudIntegrationsV1alphaCloudLoggingConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecutionDetails": {
      "properties": {
        "state": {
          "description": "Status of the execution.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Default.",
            "Execution is scheduled and awaiting to be triggered.",
            "Execution is processing.",
            "Execution successfully finished. There's no more change after this state.",
            "Execution failed. There's no more change after this state.",
            "Execution canceled by user. There's no more change after this state.",
            "Execution failed and waiting for retry.",
            "Execution suspended and waiting for manual intervention."
          ],
          "type": "string"
        },
        "attemptStats": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          },
          "type": "array",
          "description": "List of Start and end time of the execution attempts."
        },
        "executionSnapshots": {
          "description": "List of snapshots taken during the execution.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshot"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecutionDetails",
      "description": "Contains the details of the execution info: this includes the tasks execution details plus the event execution statistics."
    },
    "GoogleCloudIntegrationsV1alphaListCertificatesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        },
        "certificates": {
          "description": "The list of Certificates retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
          },
          "type": "array"
        }
      },
      "description": "Response to list Certificates.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "type": "object",
      "description": "Field represents either the key or value in an entry.",
      "id": "EnterpriseCrmEventbusProtoParameterMapField",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseFunction": {
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "NOW_IN_MILLIS",
            "INT_LIST",
            "ENVIRONMENT",
            "GET_EXECUTION_ID",
            "GET_INTEGRATION_NAME",
            "GET_REGION",
            "GET_UUID",
            "GET_PROJECT_ID"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoBaseFunction",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleRequest": {
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest",
      "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request message for Bundle update",
      "type": "object",
      "properties": {
        "config": {
          "description": "It contains the updated bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      }
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "properties": {
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction",
          "description": "LINT.ThenChange(//depot/google3/alkali/apps/integrationplatform/client/workflow_editor/utils/transform_function.ts)"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "baseFunction": {
          "description": "LINT.IfChange",
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        }
      },
      "id": "EnterpriseCrmEventbusProtoFunctionType",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest": {
      "description": "Request for lift Suspension",
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest",
      "type": "object",
      "properties": {
        "suspensionResult": {
          "description": "User passed in suspension result and will be used to control workflow execution branching behavior by setting up corresponnding edge condition with suspension result. For example, if you want to lift the suspension, you can pass \"Approved\", or if you want to reject the suspension and terminate workfloe execution, you can pass \"Rejected\" and terminate the workflow execution with configuring the edge condition.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterEntry": {
      "properties": {
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string",
          "description": "Explicitly getting the type of the parameter.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        }
      },
      "description": "Key-value pair of EventBus parameters.",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
    },
    "GoogleCloudIntegrationsV1alphaSuspension": {
      "properties": {
        "integration": {
          "description": "Required. The name of the originating integration.",
          "type": "string"
        },
        "taskId": {
          "type": "string",
          "description": "Required. Task id of the associated SuspensionTask."
        },
        "audit": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
          "description": "Metadata pertaining to the resolution of this suspension."
        },
        "approvalConfig": {
          "description": "Controls the notifications and approval permissions for this suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig"
        },
        "lastModifyTime": {
          "description": "Output only. Auto-generated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Resource name for suspensions suspension/{suspension_id}",
          "type": "string"
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "state": {
          "enum": [
            "RESOLUTION_STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "LIFTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unset state.",
            "The suspension has not yet been resolved.",
            "The resolver has rejected the suspension.",
            "The resolver has lifted the suspension."
          ],
          "description": "Required. State of this suspension, indicating what action a resolver has taken."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Auto-generated."
        },
        "suspensionConfig": {
          "description": "Controls the notifications and resolver permissions for this suspension.",
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspension",
      "description": "A record representing a suspension.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleRequest": {
      "properties": {},
      "description": "Request for ArchiveBundle.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleRequest",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaCreateCloudFunctionResponse",
      "properties": {
        "triggerUrl": {
          "type": "string",
          "description": "The trigger url that will be returned"
        }
      },
      "description": "Response for Creating Cloud Function rpc call.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy",
      "properties": {
        "finalState": {
          "type": "string",
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig": {
      "description": "Cloud Scheduler Trigger configuration",
      "id": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        },
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        },
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "properties": {
        "max": {
          "format": "double",
          "type": "number",
          "description": "The inclusive maximum of the acceptable range."
        },
        "min": {
          "format": "double",
          "type": "number",
          "description": "The inclusive minimum of the acceptable range."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange",
      "description": "Range used to validate doubles and floats."
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "description": "Request for PublishIntegrationVersion.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Auto generated primary key",
          "readOnly": true
        },
        "rawCertificate": {
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate",
          "description": "Input only. Raw client certificate which would be registered with trawler"
        },
        "validEndTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp after which certificate will expire",
          "readOnly": true,
          "type": "string"
        },
        "requestorId": {
          "description": "Immutable. Requestor ID to be used to register certificate with trawler",
          "type": "string"
        },
        "certificateStatus": {
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ],
          "type": "string",
          "description": "Status of the certificate",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ]
        },
        "validStartTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp after which certificate will be valid"
        },
        "description": {
          "type": "string",
          "description": "Description of the certificate"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the certificate"
        },
        "credentialId": {
          "description": "Immutable. Credential id that will be used to register with trawler INTERNAL_ONLY",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCertificate",
      "type": "object",
      "description": "The certificate definition"
    },
    "GoogleCloudIntegrationsV1alphaGenerateTokenResponse": {
      "type": "object",
      "description": "Returns success or error message",
      "id": "GoogleCloudIntegrationsV1alphaGenerateTokenResponse",
      "properties": {
        "message": {
          "description": "The message that notifies the user if the request succeeded or not.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition.",
      "properties": {
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter."
        },
        "producer": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "type": "string"
        },
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "description": "Type of the parameter.",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\"."
        },
        "inputOutputType": {
          "type": "string",
          "description": "Specifies the input/output type for the parameter.",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        },
        "searchable": {
          "type": "boolean",
          "description": "Searchable in the execution log or not."
        },
        "defaultValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaRuntimeActionSchema": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaRuntimeActionSchema",
      "description": "Metadata of an action, including schemas for its inputs and outputs.",
      "properties": {
        "inputSchema": {
          "type": "string",
          "description": "Input parameter schema for the action."
        },
        "action": {
          "type": "string",
          "description": "Name of the action."
        },
        "outputSchema": {
          "description": "Output parameter schema for the action.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes.",
      "properties": {
        "email": {
          "description": "Required.",
          "type": "string"
        },
        "tokens": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoAddress",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest": {
      "type": "object",
      "description": "Request for LinkAppsScriptProject rpc call.",
      "properties": {
        "scriptId": {
          "type": "string",
          "description": "The id of the Apps Script project to be linked."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetails": {
      "properties": {
        "taskNumber": {
          "type": "string",
          "description": "Pointer to the task config it used for execution."
        },
        "taskAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
          }
        },
        "taskExecutionState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ],
          "enum": [
            "UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetails",
      "description": "Contains the details of the execution of this task. Next available id: 11",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token for the response."
        },
        "integrations": {
          "description": "The integrations which match the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegration"
          }
        }
      },
      "description": "Response for ListIntegrations."
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters.",
      "properties": {
        "parameters": {
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest",
      "type": "object",
      "properties": {
        "suspension": {
          "description": "Suspension, containing the event_execution_info_id, task_id, and state to set on the corresponding suspension record.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
        }
      },
      "description": "Request for [Suspensions.ResolveSuspensions]."
    },
    "GoogleCloudIntegrationsV1alphaBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "description": "Boolean array.",
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaBooleanParameterArray",
      "type": "object",
      "description": "This message only contains a field of boolean array."
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "properties": {
        "mappedFields": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          }
        }
      },
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "type": "object",
      "description": "Request for cancelling an execution.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest"
    },
    "GoogleCloudIntegrationsV1alphaCredential": {
      "properties": {
        "oauth2AuthorizationCode": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
          "description": "The api_key and oauth2_implicit are not covered in v1 and will be picked up once v1 is implemented. ApiKey api_key = 3; OAuth2 authorization code credential"
        },
        "serviceAccountCredentials": {
          "$ref": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials",
          "description": "Service account credential"
        },
        "jwt": {
          "$ref": "GoogleCloudIntegrationsV1alphaJwt",
          "description": "JWT credential"
        },
        "usernameAndPassword": {
          "description": "Username and password credential",
          "$ref": "GoogleCloudIntegrationsV1alphaUsernameAndPassword"
        },
        "credentialType": {
          "type": "string",
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "description": "Credential type associated with auth config."
        },
        "oauth2ClientCredentials": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
          "description": "OAuth2Implicit oauth2_implicit = 5; OAuth2 client credentials"
        },
        "authToken": {
          "description": "Auth token credential",
          "$ref": "GoogleCloudIntegrationsV1alphaAuthToken"
        },
        "oauth2ResourceOwnerCredentials": {
          "description": "OAuth2 resource owner credentials",
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials"
        },
        "oidcToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaOidcToken",
          "description": "Google OIDC ID Token"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCredential",
      "type": "object",
      "description": "Defines parameters for a single, canonical credential."
    },
    "EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "properties": {
        "objectValue": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSerializedObjectParameter",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit": {
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "google-datetime"
        },
        "resolvedBy": {
          "type": "string"
        },
        "resolvedByCpi": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudConnectorsV1ConfigVariable": {
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "Value is a bool."
        },
        "key": {
          "description": "Key of the config variable.",
          "type": "string"
        },
        "stringValue": {
          "description": "Value is a string.",
          "type": "string"
        },
        "intValue": {
          "description": "Value is an integer",
          "type": "string",
          "format": "int64"
        },
        "secretValue": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Value is a secret."
        }
      },
      "description": "ConfigVariable represents a configuration variable present in a Connection. or AuthConfig.",
      "id": "GoogleCloudConnectorsV1ConfigVariable",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "id": "EnterpriseCrmEventbusProtoStringParameterArray",
      "type": "object",
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot",
      "properties": {
        "snapshotTime": {
          "format": "int64",
          "description": "Indicates when this snapshot is taken.",
          "type": "string"
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken."
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Points to the event execution info this snapshot belongs to."
        },
        "eventExecutionSnapshotId": {
          "type": "string",
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table."
        },
        "taskName": {
          "type": "string",
          "description": "The task name associated with this snapshot. Could be empty."
        },
        "eventParams": {
          "description": "The parameters in Event object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "diffParams": {
          "description": "The parameters in Event object that differs from last snapshot.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "taskExecutionDetails": {
          "description": "All of the task execution details at the given point of time.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          },
          "type": "array"
        },
        "conditionResults": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          },
          "type": "array",
          "description": "All of the computed conditions that been calculated."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest": {
      "id": "GoogleCloudIntegrationsV1alphaDeprovisionClientRequest",
      "properties": {},
      "type": "object",
      "description": "Request for the Deprovision rpc"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleRequest": {
      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request to create a new Bundle.",
      "properties": {
        "integrations": {
          "description": "A list of integrations that can be executed by the bundle",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "secondaryCustomerOrgId": {
          "description": "Optional. The prefix for the SA, it should be in the format \"o\". This is an optional field, and if empty service account will be created per project, where we are creating bundle. This should only be used as the org ID for which we want to run the integrations in the bundle.",
          "type": "string"
        },
        "bundleId": {
          "type": "string",
          "description": "Required. name of the bundle that will be created"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleRequest",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigSshPublicKey": {
      "properties": {
        "certType": {
          "description": "Format of SSH Client cert.",
          "type": "string"
        },
        "sshClientCert": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "SSH Client Cert. It should contain both public and private key."
        },
        "username": {
          "description": "The user account used to authenticate.",
          "type": "string"
        },
        "sshClientCertPass": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Password (passphrase) for ssh client certificate if it has one."
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
      "description": "Parameters to support Ssh public key Authentication.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "description": "The request for executing an integration.",
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution. Redacted",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "executionId": {
          "type": "string",
          "description": "Optional. The id of the ON_HOLD execution to be resumed."
        },
        "triggerId": {
          "type": "string",
[...]
