{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "rootUrl": "https://integrations.googleapis.com/",
  "revision": "20221215",
  "basePath": "",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "schemas": {
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each workflow execution. Optional."
        },
        "workflowName": {
          "type": "string",
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "testMode": {
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}.",
          "type": "boolean"
        },
        "scheduledTime": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled."
        },
        "clientId": {
          "type": "string",
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients."
        },
        "priority": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "description": "The request priority this request should be processed at. For internal users:",
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ]
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        },
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required.",
          "type": "string"
        }
      },
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "connections": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Connection"
          },
          "description": "Connections.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response containing Connections listed by region.",
      "id": "GoogleCloudIntegrationsV1alphaListConnectionsResponse"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "properties": {
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution. Redacted",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "parameterEntries": {
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "executionId": {
          "type": "string",
          "description": "Optional. The id of the ON_HOLD execution to be resumed."
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object",
          "description": "Optional. Input parameters used by integration execution."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "triggerId": {
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`.",
          "type": "string"
        },
        "doNotPropagateError": {
          "type": "boolean",
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default."
        }
      },
      "description": "The request for executing an integration.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
    },
    "EnterpriseCrmEventbusProtoIntParameterArray": {
      "id": "EnterpriseCrmEventbusProtoIntParameterArray",
      "properties": {
        "intValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBaseFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "NOW_IN_MILLIS",
            "INT_LIST",
            "ENVIRONMENT",
            "GET_EXECUTION_ID",
            "GET_INTEGRATION_NAME",
            "GET_REGION",
            "GET_UUID",
            "GET_PROJECT_ID"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBaseFunction"
    },
    "EnterpriseCrmEventbusProtoParameterEntry": {
      "id": "EnterpriseCrmEventbusProtoParameterEntry",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition."
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        }
      },
      "description": "Key-value pair of EventBus parameters."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterEntry",
      "type": "object",
      "description": "Key-value pair of EventBus parameters.",
      "properties": {
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Explicitly getting the type of the parameter.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue": {
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig. See go/eventbus-alert-config-examples",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
      "properties": {
        "absolute": {
          "format": "int64",
          "type": "string"
        },
        "percentage": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "EnterpriseCrmEventbusProtoIntArray": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoIntArray",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
      "properties": {
        "integrations": {
          "description": "A bundle of integrations that can be executed by the task at runtime.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAccount": {
          "description": "Output only. The service account created and owned by IP and added to the customers GCP project.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
      "description": "This proto holds the core runner data in the bundle task. It is not expected to be directly edited by the user. Instead, a default value will be provided at the task creation time."
    },
    "EnterpriseCrmEventbusProtoAddress": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoAddress",
      "description": "Email address along with optional name and tokens. These tokens will be substituted for the variables in the form of [{var_name}], where var_name could be any string of no more than 32 bytes.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required."
        },
        "tokens": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoToken"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTransformExpression": {
      "properties": {
        "initialValue": {
          "description": "Initial value upon which to perform transformations.",
          "$ref": "EnterpriseCrmEventbusProtoBaseValue"
        },
        "transformationFunctions": {
          "type": "array",
          "description": "Transformations to be applied sequentially.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoFunction"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoTransformExpression",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionAudit": {
      "type": "object",
      "description": "Contains when and by whom the suspension was resolved.",
      "id": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
      "properties": {
        "resolver": {
          "type": "string",
          "description": "Email address of the person who resolved this suspension."
        },
        "resolveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which this suspension was resolved."
        }
      }
    },
    "EnterpriseCrmCardsCellValue": {
      "id": "EnterpriseCrmCardsCellValue",
      "type": "object",
      "properties": {
        "stringValue": {
          "type": "string"
        },
        "longValue": {
          "type": "string",
          "format": "int64"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "empty": {
          "$ref": "GoogleProtobufEmpty"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "CrmlogErrorCode": {
      "description": "Registered ids for errors, as \"oneof\" enums. Each task or logical grouping of tasks may share the same enum.",
      "type": "object",
      "id": "CrmlogErrorCode",
      "properties": {
        "commonErrorCode": {
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray",
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details.",
      "type": "object",
      "properties": {
        "seedPeriod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ],
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ]
        },
        "sanitizeOptions": {
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc.",
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions"
        },
        "seedScope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ]
        },
        "logFieldName": {
          "type": "string",
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key."
        },
        "shorteningLimits": {
          "description": "Contains the field limits for shortening, such as max string length and max array length.",
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits"
        }
      }
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListData": {
      "properties": {
        "series": {
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListData",
      "description": "Data used for Aplos charts that accept multiple Series."
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials",
      "properties": {
        "tokenParams": {
          "description": "Token parameters for the auth request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "clientId": {
          "description": "The client's ID.",
          "type": "string"
        },
        "scope": {
          "description": "A space-delimited list of requested scope permissions.",
          "type": "string"
        },
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "requestType": {
          "description": "Represent how to pass parameters to fetch access token",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "type": "string",
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ]
        },
        "tokenEndpoint": {
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token.",
          "type": "string"
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        }
      },
      "description": "For client credentials grant, the client sends a POST request with grant_type as 'client_credentials' to the authorization server. The authorization server will respond with a JSON object containing the access token."
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "id": "EnterpriseCrmEventbusProtoLoopMetadata",
      "properties": {
        "currentIterationDetail": {
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available.",
          "type": "string"
        },
        "failureLocation": {
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ],
          "description": "Indicates where in the loop logic did it error out.",
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ],
          "type": "string"
        },
        "currentIterationCount": {
          "description": "Starting from 1, not 0.",
          "type": "string",
          "format": "int64"
        },
        "errorMsg": {
          "description": "Add the error message when loops fail.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest",
      "properties": {},
      "type": "object",
      "description": "Request for ValidateIntegrationVersion."
    },
    "EnterpriseCrmEventbusProtoConditionResult": {
      "id": "EnterpriseCrmEventbusProtoConditionResult",
      "type": "object",
      "properties": {
        "currentTaskNumber": {
          "description": "the current task number.",
          "type": "string"
        },
        "nextTaskNumber": {
          "type": "string",
          "description": "the next task number."
        },
        "result": {
          "description": "the result comes out after evaluate the combined condition. True if there's no combined condition specified.",
          "type": "boolean"
        }
      },
      "description": "Contains the combined condition calculation results."
    },
    "EnterpriseCrmEventbusProtoCoordinate": {
      "description": "Represents two-dimensional positions.",
      "type": "object",
      "properties": {
        "x": {
          "format": "int32",
          "type": "integer"
        },
        "y": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "EnterpriseCrmEventbusProtoCoordinate"
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse",
      "properties": {},
      "description": "Response for PublishIntegrationVersion.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "id": "EnterpriseCrmEventbusProtoAttributes",
      "description": "Attributes are additional options that can be associated with each event property. For more information, see go/integration-platform/event_bus/attributes_registry.md. Next available: 8",
      "properties": {
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ],
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)"
        },
        "isRequired": {
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered.",
          "type": "boolean"
        },
        "searchable": {
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ]
        },
        "logSettings": {
          "description": "See go/integration-platform/analytics/logging_task.md for details.",
          "$ref": "EnterpriseCrmEventbusProtoLogSettings"
        },
        "taskVisibility": {
          "items": {
            "type": "string"
          },
          "description": "List of tasks that can view this property, if empty then all.",
          "type": "array"
        },
        "isSearchable": {
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable.",
          "type": "boolean"
        },
        "defaultValue": {
          "description": "Used to define defaults.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig": {
      "properties": {
        "expiration": {
          "description": "Indicates the next steps when no external actions happen on the suspension.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration"
        },
        "customMessage": {
          "description": "Information to provide for recipients.",
          "type": "string"
        },
        "emailAddresses": {
          "items": {
            "type": "string"
          },
          "description": "Email addresses to send approval request to.",
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
      "type": "object",
      "description": "Configurations for approving the Suspension."
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationTemplateVersionsResponse",
      "description": "Response for IntegrationTemplateVersions.ListIntegrationTemplateVersions.",
      "properties": {
        "integrationTemplateVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion"
          },
          "description": "The IntegrationTemplateVersions which match the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "type": "object",
      "properties": {
        "clientSecret": {
          "description": "Secret version reference containing the client secret.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaJwt": {
      "description": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected.",
      "id": "GoogleCloudIntegrationsV1alphaJwt",
      "properties": {
        "jwt": {
          "type": "string",
          "description": "The token calculated by the header, payload and signature."
        },
        "jwtHeader": {
          "type": "string",
          "description": "Identifies which algorithm is used to generate the signature."
        },
        "jwtPayload": {
          "type": "string",
          "description": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token."
        },
        "secret": {
          "description": "User's pre-shared secret to sign the token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaDoubleParameterArray": {
      "type": "object",
      "properties": {
        "doubleValues": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Double number array."
        }
      },
      "description": "This message only contains a field of double number array.",
      "id": "GoogleCloudIntegrationsV1alphaDoubleParameterArray"
    },
    "EnterpriseCrmEventbusProtoNodeIdentifier": {
      "type": "object",
      "description": "Represents a node identifier (type + id). Next highest id: 3",
      "properties": {
        "elementIdentifier": {
          "description": "Configuration of the edge.",
          "type": "string"
        },
        "elementType": {
          "description": "Destination node where the edge ends. It can only be a task config.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "TASK_CONFIG",
            "TRIGGER_CONFIG"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoNodeIdentifier"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27",
      "properties": {
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "parameters": {
          "description": "The customized parameters the user can pass to this task.",
          "type": "object",
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this TaskConfig in the UI."
        },
        "nextTasks": {
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "type": "array"
        },
        "taskName": {
          "description": "The name for the task.",
          "type": "string"
        },
        "incomingEdgeCount": {
          "description": "The number of edges leading into this TaskConfig.",
          "format": "int32",
          "type": "integer"
        },
        "successPolicy": {
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy",
          "description": "Determines what action to take upon successful task completion."
        },
        "rollbackStrategy": {
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times).",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
        },
        "taskTemplateName": {
          "type": "string",
          "description": "Used to define task-template name if task is of type task-template"
        },
        "taskEntity": {
          "description": "Copy of the task entity that this task config is an instance of.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity"
        },
        "description": {
          "description": "User-provided description intended to give more business context about the task.",
          "type": "string"
        },
        "taskSpec": {
          "type": "string",
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field. Please refer to go/eventbus-task-spec-example for detailed usage example."
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "taskNumber": {
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`).",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Auto-generated."
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "description": "If set, overrides the option configured in the Task implementation class.",
          "type": "string"
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "taskExecutionStrategy": {
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "description": "The policy dictating the execution strategy of this task.",
          "type": "string",
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ]
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "preconditionLabel": {
          "description": "Optional. User-provided label that is attached to precondition in the UI.",
          "type": "string"
        },
        "alertConfigs": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          },
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc."
        },
        "disableStrictTypeValidation": {
          "type": "boolean",
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter."
        },
        "position": {
          "$ref": "EnterpriseCrmEventbusProtoCoordinate",
          "description": "Optional. Informs the front-end application where to draw this task config on the UI."
        },
        "precondition": {
          "type": "string",
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task."
        },
        "nextTasksExecutionPolicy": {
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ]
        },
        "taskType": {
          "type": "string",
          "description": "Defines the type of the task",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ]
        }
      }
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "properties": {
        "workflowName": {
          "type": "string"
        },
        "warningEnumString": {
          "type": "string"
        },
        "workflowId": {
          "type": "string"
        },
        "taskNumber": {
          "type": "string"
        },
        "retryAttempt": {
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ]
        },
        "errorEnumString": {
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination."
        },
        "enumFilterType": {
          "description": "Whether to include or exclude the enums matching the regex.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "type": "string"
        },
        "taskName": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusStatsDimensions"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "type": "object",
      "properties": {},
      "description": "Response for ArchiveBundle.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse"
    },
    "EnterpriseCrmEventbusProtoIntFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntFunction",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "GREATER_THAN_EQUAL_TO",
            "GREATER_THAN",
            "LESS_THAN_EQUAL_TO",
            "LESS_THAN",
            "TO_DOUBLE",
            "TO_STRING",
            "EQUALS",
            "TO_JSON",
            "MOD",
            "EPOCH_TO_HUMAN_READABLE_TIME"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1NodeConfig": {
      "type": "object",
      "description": "Configuration for the connection.",
      "properties": {
        "minNodeCount": {
          "description": "Minimum number of nodes in the runtime nodes.",
          "type": "integer",
          "format": "int32"
        },
        "maxNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of nodes in the runtime nodes."
        }
      },
      "id": "GoogleCloudConnectorsV1NodeConfig"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot",
      "type": "object",
      "properties": {
        "eventParams": {
          "description": "The parameters in Event object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "taskName": {
          "description": "The task name associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "snapshotTime": {
          "type": "string",
          "format": "int64",
          "description": "Indicates when this snapshot is taken."
        },
        "eventExecutionSnapshotId": {
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table.",
          "type": "string"
        },
        "taskExecutionDetails": {
          "type": "array",
          "description": "All of the task execution details at the given point of time.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          }
        },
        "checkpointTaskNumber": {
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken.",
          "type": "string"
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "diffParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object that differs from last snapshot."
        },
        "eventExecutionInfoId": {
          "description": "Points to the event execution info this snapshot belongs to.",
          "type": "string"
        },
        "conditionResults": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          },
          "description": "All of the computed conditions that been calculated."
        }
      }
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2",
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "type": "object",
      "properties": {
        "mappedFields": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBuganizerNotification": {
      "type": "object",
      "properties": {
        "assigneeEmailAddress": {
          "description": "Whom to assign the new bug. Optional.",
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the buganizer component within which to create a new issue. Required."
        },
        "templateId": {
          "format": "int64",
          "description": "ID of the buganizer template to use. Optional.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the issue to be created. Required."
        }
      },
      "id": "EnterpriseCrmEventbusProtoBuganizerNotification"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
      "properties": {
        "path": {
          "description": "Path to the proto file that contains the message type's definition.",
          "type": "string"
        },
        "fullName": {
          "type": "string",
          "description": "The fully-qualified proto name. This message, for example, would be \"enterprise.crm.eventbus.proto.ParamSpecEntry.ProtoDefinition\"."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "properties": {
        "keyType": {
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "type": "string",
          "description": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this."
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "description": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ]
        },
        "entries": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
          },
          "type": "array",
          "description": "A list of parameter map entries."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaParameterMap",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfigThresholdValue",
      "type": "object",
      "properties": {
        "percentage": {
          "format": "int32",
          "type": "integer",
          "description": "Percentage threshold."
        },
        "absolute": {
          "description": "Absolute value threshold.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig."
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList": {
      "properties": {
        "enumStrings": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filterType": {
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "List of error enums for alerts.",
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
    },
    "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray",
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "description": "Entry is a pair of key and value.",
      "properties": {
        "key": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField",
          "description": "Key of the map entry."
        },
        "value": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField",
          "description": "Value of the map entry."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
    },
    "EnterpriseCrmFrontendsEventbusProtoTriggerConfig": {
      "id": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig",
      "type": "object",
      "properties": {
        "enabledClients": {
          "description": "Required. The list of client ids which are enabled to execute the workflow using this trigger. In other words, these clients have the workflow execution privledges for this trigger. For API trigger, the client id in the incoming request is validated against the list of enabled clients. For non-API triggers, one workflow execution is triggered on behalf of each enabled client.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "triggerType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "CLOUD_PUBSUB",
            "GOOPS",
            "SFDC_SYNC",
            "CRON",
            "API",
            "MANIFOLD_TRIGGER",
            "DATALAYER_DATA_CHANGE",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "SFDC_PLATFORM_EVENTS_CHANNEL",
            "CLOUD_SCHEDULER"
          ]
        },
        "alertConfig": {
          "description": "An alert threshold configuration for the [trigger + client + workflow] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + workflow] when published.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoWorkflowAlertConfig"
          },
          "type": "array"
        },
        "cloudSchedulerConfig": {
          "$ref": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
        },
        "triggerId": {
          "type": "string",
          "description": "The backend trigger ID."
        },
        "label": {
          "description": "The user created label for a particular trigger.",
          "type": "string"
        },
        "nextTasksExecutionPolicy": {
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "description": "Dictates how next tasks will be executed.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ]
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Configurable properties of the trigger, not to be confused with workflow parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Cloud Pubsub triggers.",
          "type": "object"
        },
        "triggerCriteria": {
          "description": "Optional. When set, Eventbus will run the task specified in the trigger_criteria and validate the result using the trigger_criteria.condition, and only execute the workflow when result is true.",
          "$ref": "EnterpriseCrmEventbusProtoTriggerCriteria"
        },
        "pauseWorkflowExecutions": {
          "description": "Optional. If set to true, any upcoming requests for this trigger config will be paused and the executions will be resumed later when the flag is reset. The workflow to which this trigger config belongs has to be in ACTIVE status for the executions to be paused or resumed.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the task."
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the workflow on UI."
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this trigger config on the UI.",
          "$ref": "EnterpriseCrmEventbusProtoCoordinate"
        },
        "startTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "type": "array",
          "description": "Set of tasks numbers from where the workflow execution is started by this trigger. If this is empty, then workflow is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same workflow execution graph)."
        }
      },
      "description": "Configuration detail of a trigger. Next available id: 17"
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "id": "GoogleCloudIntegrationsV1alphaCertificate",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the certificate",
          "type": "string"
        },
        "requestorId": {
          "description": "Immutable. Requestor ID to be used to register certificate with trawler",
          "type": "string"
        },
        "rawCertificate": {
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate",
          "description": "Input only. Raw client certificate which would be registered with trawler"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Auto generated primary key",
          "type": "string"
        },
        "validStartTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp after which certificate will be valid",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Name of the certificate"
        },
        "validEndTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp after which certificate will expire",
          "type": "string"
        },
        "certificateStatus": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ],
          "description": "Status of the certificate"
        },
        "credentialId": {
          "type": "string",
          "description": "Immutable. Credential id that will be used to register with trawler INTERNAL_ONLY"
        }
      },
      "description": "The certificate definition"
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest": {
      "description": "Request for DeactivateIntegrationVersion.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest"
    },
    "GoogleCloudIntegrationsV1alphaIntParameterArray": {
      "description": "This message only contains a field of integer array.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntParameterArray",
      "properties": {
        "intValues": {
          "type": "array",
          "description": "Integer array.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCredential": {
      "type": "object",
      "properties": {
        "serviceAccountCredentials": {
          "description": "Service account credential",
          "$ref": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials"
        },
        "jwt": {
          "description": "JWT credential",
          "$ref": "GoogleCloudIntegrationsV1alphaJwt"
        },
        "oidcToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaOidcToken",
          "description": "Google OIDC ID Token"
        },
        "oauth2ResourceOwnerCredentials": {
          "description": "OAuth2 resource owner credentials",
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials"
        },
        "usernameAndPassword": {
          "$ref": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
          "description": "Username and password credential"
        },
        "oauth2AuthorizationCode": {
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode",
          "description": "The api_key and oauth2_implicit are not covered in v1 and will be picked up once v1 is implemented. ApiKey api_key = 3; OAuth2 authorization code credential"
        },
        "authToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAuthToken",
          "description": "Auth token credential"
        },
        "credentialType": {
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "description": "Credential type associated with auth config.",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "type": "string"
        },
        "oauth2ClientCredentials": {
          "description": "OAuth2Implicit oauth2_implicit = 5; OAuth2 client credentials",
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCredential",
      "description": "Defines parameters for a single, canonical credential."
    },
    "GoogleCloudConnectorsV1AuthConfigSshPublicKey": {
      "description": "Parameters to support Ssh public key Authentication.",
      "id": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
      "type": "object",
      "properties": {
        "sshClientCertPass": {
          "description": "Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "username": {
          "description": "The user account used to authenticate.",
          "type": "string"
        },
        "certType": {
          "description": "Format of SSH Client cert.",
          "type": "string"
        },
        "sshClientCert": {
          "description": "SSH Client Cert. It should contain both public and private key.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigUserPassword": {
      "description": "Parameters to support Username and Password Authentication.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigUserPassword",
      "properties": {
        "username": {
          "type": "string",
          "description": "Username."
        },
        "password": {
          "description": "Secret version reference containing the password.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        }
      }
    },
    "EnterpriseCrmEventbusProtoProtoArrayFunction": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoProtoArrayFunction",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter": {
      "type": "object",
      "properties": {
        "objectValue": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse": {
      "type": "object",
      "description": "Response for DeactivateIntegrationVersion.",
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        },
        "authConfigs": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          },
          "type": "array",
          "description": "The list of AuthConfigs retrieved."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse",
      "type": "object",
      "description": "Response to list AuthConfigs."
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse": {
      "description": "The response for executing an integration.",
      "properties": {
        "executionInfoIds": {
          "items": {
            "type": "string"
          },
          "description": "The execution info id for the executed integrations.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "type": "object",
      "properties": {
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Optional. To be used in TaskConfig for the implementation class."
        },
        "condition": {
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly.",
          "type": "string"
        },
        "triggerCriteriaTaskImplementationClassName": {
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token for the auth type."
        },
        "type": {
          "type": "string",
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaAuthToken"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "type": "object",
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
      "properties": {
        "parameters": {
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFunctionType",
      "properties": {
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
        "baseFunction": {
          "description": "LINT.IfChange",
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction",
          "description": "LINT.ThenChange(//depot/google3/alkali/apps/integrationplatform/client/workflow_editor/utils/transform_function.ts)"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse": {
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse",
      "properties": {
        "projectId": {
          "description": "The created AppsScriptProject ID.",
          "type": "string"
        }
      },
      "description": "Response for CreateAppsScriptProject rpc call.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        },
        "sfdcChannels": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
          },
          "type": "array",
          "description": "The list of SfdcChannels retrieved."
        }
      },
      "description": "Response to list SfdcChannels.",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAttemptStats": {
      "id": "GoogleCloudIntegrationsV1alphaAttemptStats",
      "description": "Status for the execution attempt.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time of the event execution for current attempt.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskUiModuleConfig": {
      "description": "Task author would use this type to configure a config module.",
      "properties": {
        "moduleId": {
          "enum": [
            "UNSPECIFIED_TASK_MODULE",
            "LABEL",
            "ERROR_HANDLING",
            "TASK_PARAM_TABLE",
            "TASK_PARAM_FORM",
            "PRECONDITION",
            "SCRIPT_EDITOR",
            "RPC",
            "TASK_SUMMARY",
            "SUSPENSION",
            "RPC_TYPED",
            "SUB_WORKFLOW",
            "APPS_SCRIPT_NAVIGATOR",
            "SUB_WORKFLOW_FOR_EACH_LOOP",
            "FIELD_MAPPING",
            "README",
            "REST_CALLER",
            "SUB_WORKFLOW_SCATTER_GATHER",
            "CLOUD_SQL",
            "GENERIC_CONNECTOR_TASK"
          ],
          "enumDescriptions": [
            "Default",
            "Supports editing label of a task config.",
            "Supports editing error handling settings such as retry strategy.",
            "Supports adding, removing and editing task parameter values in a table with little assistance or restriction.",
            "Supports editing values of declared input parameters of a task. Think of it as a \"strongly typed\" upgrade to the TASK_PARAM_TABLE.",
            "Supports editing preconditions of a task config.",
            "Supports adding, editing, and deleting the scripts associated with a script task, as well as modifying the input/output parameters.",
            "Supports editing task parameters associated with an RPC/stubby task.",
            "Contains readonly task information, including input/output type info.",
            "Configures a SuspensionTask.",
            "Configures a GenericStubbyTypedTask.",
            "Configures a SubWorkflowExecutorTask.",
            "Supports navigating to Apps Script editor",
            "Configures a SubWorkflowForEachLoopTask.",
            "Configures a FieldMappingTask.",
            "Contains embedded in-product documentation for a task.",
            "UI widget for the rest caller task.",
            "Configures a SubWorkflowScatterGatherTask.",
            "Configures a CloudSql Task.",
            "Configure a GenericConnectorTask."
          ],
          "description": "ID of the config module.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskUiModuleConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray",
      "type": "object",
      "properties": {
        "protoValues": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "description": "Entry is a pair of key and value.",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      }
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "id": "EnterpriseCrmEventbusProtoEventParameters"
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "properties": {
        "finalState": {
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParameterValueType": {
      "description": "LINT.IfChange To support various types of parameter values. Next available id: 14",
      "properties": {
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmEventbusProtoProtoParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleParameterArray"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmEventbusProtoSerializedObjectParameter"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringParameterArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntParameterArray"
        },
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanParameterArray"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterValueType"
    },
    "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse": {
      "properties": {
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Execution Id that will be returned"
        }
      },
      "type": "object",
      "description": "Response of lift Suspense",
      "id": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
    },
    "EnterpriseCrmEventbusProtoField": {
      "id": "EnterpriseCrmEventbusProtoField",
      "description": "Information about the value and type of the field. Next Id: 8",
      "type": "object",
      "properties": {
        "fieldType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Specifies the data type of the field.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "referenceKey": {
          "type": "string",
          "description": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$"
        },
        "transformExpression": {
          "description": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). See go/transform-functions-design for more details. Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data.",
          "$ref": "EnterpriseCrmEventbusProtoTransformExpression"
        },
        "defaultValue": {
          "description": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data. This field will be scrubbed using DatapolScrubber#maybeScrub() with go/proto-sanitizer#level3",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "cardinality": {
          "description": "By default, if the cardinality is unspecified the field is considered required while mapping.",
          "enumDescriptions": [
            "For fields with unspecified cardinality.",
            "If field cardinality is set to optional, ignore errors if input field value is null or the reference_key is not found."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "OPTIONAL"
          ]
        },
        "protoDefPath": {
          "description": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListCertificatesResponse": {
      "type": "object",
      "properties": {
        "certificates": {
          "description": "The list of Certificates retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
          }
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListCertificatesResponse",
      "description": "Response to list Certificates."
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy": {
      "type": "object",
      "properties": {
        "reducer": {
          "type": "string",
          "description": "Optional. optional, reduce function for GroupBy."
        },
        "fields": {
          "items": {
            "type": "string"
          },
          "description": "Optional. optional, metrics list for GroupBy.",
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
      "description": "MashQuery GroupBy parameters."
    },
    "GoogleCloudIntegrationsV1alphaSfdcChannel": {
      "description": "The SfdcChannel that points to a CDC or Platform Event Channel.",
      "id": "GoogleCloudIntegrationsV1alphaSfdcChannel",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Client level unique name/alias to easily reference a channel.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}."
        },
        "channelTopic": {
          "description": "The Channel topic defined by salesforce once an channel is opened",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the channel was deleted. Empty if not deleted."
        },
        "description": {
          "description": "The description for this channel",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the channel is created"
        },
        "lastReplayId": {
          "type": "string",
          "description": "Last sfdc messsage replay id for channel"
        },
        "isActive": {
          "description": "Indicated if a channel has any active integrations referencing it. Set to false when the channel is created, and set to true if there is any integration published with the channel configured in it.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Time when the channel was last updated",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoIntParameterArray": {
      "properties": {
        "intValues": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry",
      "properties": {
        "producedBy": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "$ref": "EnterpriseCrmEventbusProtoNodeIdentifier"
        },
        "inOutType": {
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "description": "Specifies the input/output type for the parameter.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Input parameters for the workflow. EventBus validates that these parameters exist in the workflows before execution.",
            "Output Parameters for the workflow. EventBus will only return the workflow parameters tagged with OUT in the response back.",
            "Input or Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        },
        "attributes": {
          "$ref": "EnterpriseCrmEventbusProtoAttributes",
          "description": "Metadata information about the parameters."
        },
        "producer": {
          "type": "string"
        },
        "protoDefName": {
          "type": "string",
          "description": "The name of the protobuf type if the parameter has a protobuf data type."
        },
        "children": {
          "description": "Child parameters nested within this parameter. This field only applies to protobuf parameters",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          }
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter. go/ip-transient-parameters",
          "type": "boolean"
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "dataType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "The data type of the parameter.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "name": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        },
        "protoDefPath": {
          "description": "If the data type is of type proto or proto array, this field needs to be populated with the fully qualified proto name. This message, for example, would be \"enterprise.crm.frontends.eventbus.proto.WorkflowParameterEntry\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer": {
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
      "type": "object",
      "properties": {
        "clientKey": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`."
        },
        "jwtClaims": {
          "description": "JwtClaims providers fields to generate the token.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims"
        }
      },
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details."
    },
    "EnterpriseCrmEventbusProtoDoubleArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleArray",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "description": "Represents external traffic type and id.",
      "properties": {
        "gcpProjectId": {
          "type": "string",
          "description": "User’s GCP project id the traffic is referring to."
        },
        "source": {
          "type": "string",
          "description": "LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ]
        },
        "location": {
          "description": "Location for the user's request.",
          "type": "string"
        },
        "gcpProjectNumber": {
          "type": "string",
          "description": "User’s GCP project number the traffic is referring to."
        }
      }
    },
    "EnterpriseCrmEventbusProtoTeardownTaskConfig": {
      "properties": {
        "properties": {
          "$ref": "EnterpriseCrmEventbusProtoEventBusProperties"
        },
        "nextTeardownTask": {
          "$ref": "EnterpriseCrmEventbusProtoNextTeardownTask"
        },
        "teardownTaskImplementationClassName": {
          "description": "Required. Implementation class name.",
          "type": "string"
        },
        "name": {
          "description": "Required. Unique identifier of the teardown task within this Config. We use this field as the identifier to find next teardown tasks.",
          "type": "string"
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "The parameters the user can pass to this task."
        },
        "creatorEmail": {
          "description": "The creator's email address.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTeardownTaskConfig"
    },
    "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse": {
      "properties": {
        "regions": {
          "description": "All regions where Connector Platform is provisioned.",
          "items": {
[...]
