{
  "version": "v1alpha",
  "kind": "discovery#restDescription",
  "id": "integrations:v1alpha",
  "title": "Application Integration API",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "rootUrl": "https://integrations.googleapis.com/",
  "servicePath": "",
  "revision": "20221220",
  "canonicalName": "Integrations",
  "version_module": true,
  "schemas": {
    "EnterpriseCrmEventbusProtoNotification": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNotification",
      "properties": {
        "pubsubTopic": {
          "type": "string"
        },
        "buganizerNotification": {
          "$ref": "EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "request": {
          "description": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution.",
          "$ref": "EnterpriseCrmEventbusProtoCustomSuspensionRequest"
        },
        "escalatorQueue": {
          "type": "string"
        },
        "emailAddress": {
          "$ref": "EnterpriseCrmEventbusProtoAddress"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoStringParameterArray": {
      "type": "object",
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "properties": {
        "properties": {
          "type": "array",
          "description": "An unordered list of property entries.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          }
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails": {
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails",
      "properties": {
        "eventAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          }
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        },
        "eventRetriesFromBeginningCount": {
          "type": "integer",
          "format": "int32",
          "description": "Indicates the number of times the execution has restarted from the beginning."
        },
        "eventExecutionState": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "description": "The execution state of this event.",
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ]
        },
        "logFilePath": {
          "description": "The log file path (aka. cns address) for this event.",
          "type": "string"
        },
        "ryeLockUnheldCount": {
          "format": "int32",
          "type": "integer",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/"
        },
        "nextExecutionTime": {
          "type": "string",
          "format": "int64",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD."
        },
        "eventExecutionSnapshot": {
          "description": "After snapshot migration, this field will no longer be populated, but old execution snapshots will still be accessible.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaGetBundleResponse": {
      "description": "Response for GetBundle.",
      "type": "object",
      "properties": {
        "config": {
          "description": "It contains the bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaGetBundleResponse"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy": {
      "type": "object",
      "description": "MashQuery GroupBy parameters.",
      "properties": {
        "reducer": {
          "type": "string",
          "description": "Optional. optional, reduce function for GroupBy."
        },
        "fields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. optional, metrics list for GroupBy."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex": {
      "description": "Rule used to validate strings.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex",
      "properties": {
        "regex": {
          "description": "The regex applied to the input value(s).",
          "type": "string"
        },
        "exclusive": {
          "description": "Whether the regex matcher is applied exclusively (if true, matching values will be rejected).",
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoWorkflowAlertConfig": {
      "id": "EnterpriseCrmEventbusProtoWorkflowAlertConfig",
      "properties": {
        "metricType": {
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing workflow.",
            "Specifies alerting on the rate of warnings for the enclosing workflow. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing workflow.",
            "Specifies alerting on the rate of warnings for any task in the enclosing workflow.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing workflow.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this workflow.",
            "Specifies alerting on the duration value of a particular percentile of workflow executions. E.g. If 10% or more of the workflow executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing workflow,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing workflow. E.g. If 10% or more of the task executions in the workflow have durations above 5 seconds, alert."
          ],
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ]
        },
        "aggregationPeriod": {
          "description": "For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours.",
          "type": "string"
        },
        "alertDisabled": {
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert.",
          "type": "boolean"
        },
        "thresholdType": {
          "type": "string",
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ]
        },
        "durationThresholdMs": {
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "format": "int64",
          "type": "string"
        },
        "alertName": {
          "type": "string",
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the workflow."
        },
        "numAggregationPeriods": {
          "type": "integer",
          "format": "int32",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired."
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "onlyFinalAttempt": {
          "type": "boolean",
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries."
        },
        "playbookUrl": {
          "description": "Link to a playbook for resolving the issue that triggered this alert.",
          "type": "string"
        },
        "thresholdValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered. See go/eventbus-alert-config-examples."
        },
        "clientId": {
          "description": "Client associated with this alert configuration.",
          "type": "string"
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        }
      },
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event. See go/eventbus-alert-config-examples for examples of the different alerts that can be configured.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCombinedCondition": {
      "description": "This message recursively combines constituent conditions using logical AND.",
      "properties": {
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCondition"
          },
          "description": "A set of individual constituent conditions."
        }
      },
      "id": "EnterpriseCrmEventbusProtoCombinedCondition",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion": {
      "properties": {
        "name": {
          "description": "Output only. Auto-generated primary key. Format: projects/{project}/locations/{location}/products/{product}/integrationtemplates/{integrationtemplate}/versions/{version}",
          "readOnly": true,
          "type": "string"
        },
        "databasePersistencePolicy": {
          "description": "Optional. Flag to disable database persistence for execution data, including event execution info, execution export info, execution metadata index and execution param index.",
          "enumDescriptions": [
            "Enables persistence for all execution data.",
            "Disables persistence for all execution data."
          ],
          "enum": [
            "DATABASE_PERSISTENCE_POLICY_UNSPECIFIED",
            "DATABASE_PERSISTENCE_DISABLED"
          ],
          "type": "string"
        },
        "taskConfigs": {
          "description": "Optional. Task configuration for the IntegrationTemplateVersion. It's optional, but the IntegrationTemplateVersion doesn't do anything without task_configs.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
          }
        },
        "description": {
          "description": "Optional. The templateversion description. Permitted format is alphanumeric with underscores and no spaces.",
          "type": "string"
        },
        "status": {
          "description": "Optional. Generated by eventbus. User should not set it as an input.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "DRAFT",
            "ACTIVE",
            "ARCHIVED",
            "SNAPSHOT"
          ]
        },
        "userLabel": {
          "description": "Optional. A user-defined label that annotates an integration version. Typically, this is only set when the integration version is created.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Auto-generated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Auto-generated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "Optional. The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "templateParameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters",
          "description": "Optional. Parameters that are expected to be passed to the IntegrationTemplateVersion when an event is triggered. This consists of all the parameters that are expected in the IntegrationTemplateVersion execution. This gives the user the ability to provide default values, add information like PII and also provide data types of each parameter."
        },
        "parentIntegrationVersionId": {
          "description": "Optional. ID of the IntegrationVersion that was used to create this IntegrationTemplateVersion",
          "type": "string"
        },
        "snapshotNumber": {
          "type": "string",
          "description": "Output only. An increasing sequence that is set when a new snapshot is created.",
          "format": "int64",
          "readOnly": true
        },
        "teardown": {
          "$ref": "EnterpriseCrmEventbusProtoTeardown",
          "description": "Optional. Contains a graph of tasks that will be executed before putting the event in a terminal state (SUCCEEDED/FAILED/FATAL), regardless of success or failure, similar to \"finally\" in code."
        },
        "triggerConfigs": {
          "type": "array",
          "description": "Optional. Trigger configurations.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationTemplateVersion",
      "description": "IntegrationTemplateVersion definition. An IntegrationTemplateVersion provides configurations required to construct an IntegrationVersion. It cannot be executed directly like an Integration. Users can create IntegrationTemplateVersions using Integrations. These Templates can be shared by users across GCP projects."
    },
    "GoogleCloudIntegrationsV1alphaParameterMapEntry": {
      "id": "GoogleCloudIntegrationsV1alphaParameterMapEntry",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        },
        "value": {
          "description": "Value of the map entry.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMapField"
        }
      },
      "description": "Entry is a pair of key and value."
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "properties": {
        "sfdcInstances": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          },
          "description": "The list of SfdcInstances retrieved.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse",
      "type": "object",
      "description": "Response to list SfdcInstances."
    },
    "EnterpriseCrmEventbusProtoEventParameters": {
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          }
        }
      },
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventParameters"
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleRequest": {
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleRequest",
      "properties": {
        "config": {
          "description": "It contains the updated bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "description": "THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request message for Bundle update",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "id": "EnterpriseCrmEventbusProtoTaskMetadata",
      "properties": {
        "externalCategorySequence": {
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class."
        },
        "defaultJsonValidationOption": {
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution."
        },
        "defaultSpec": {
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format.",
          "type": "string"
        },
        "isDeprecated": {
          "type": "boolean",
          "description": "The deprecation status of the current task. Default value is false;"
        },
        "tags": {
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "activeTaskName": {
          "type": "string",
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name."
        },
        "externalDocMarkdown": {
          "type": "string",
          "description": "DEPRECATED: Use external_doc_html."
        },
        "category": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "include connecting to Vector salesforce, CRM Hub Spanner etc. Task entities that derive from a custom task template."
          ]
        },
        "externalCategory": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS"
          ]
        },
        "description": {
          "type": "string",
          "description": "In a few sentences, describe the purpose and usage of the task."
        },
        "system": {
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "iconLink": {
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format. See go/icons.",
          "type": "string"
        },
        "externalDocLink": {
          "description": "Doc link for external-facing documentation (separate from g3doc).",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ],
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE."
        },
        "externalDocHtml": {
          "type": "string",
          "description": "External-facing documention embedded in the RHP for this task."
        },
        "admins": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          }
        },
        "docMarkdown": {
          "type": "string",
          "description": "Snippet of markdown documentation to embed in the RHP for this task."
        },
        "codeSearchLink": {
          "type": "string",
          "description": "The Code Search link to the Task Java file."
        },
        "standaloneExternalDocHtml": {
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html",
          "type": "string"
        },
        "g3DocLink": {
          "description": "URL to the associated G3 Doc for the task if available",
          "type": "string"
        },
        "descriptiveName": {
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")",
          "type": "string"
        }
      },
      "description": "TaskMetadata are attributes that are associated to every common Task we have. Next available: 26",
      "type": "object"
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "description": "Define the Connectors target endpoint.",
      "properties": {
        "destinations": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          },
          "type": "array",
          "description": "The destinations for the key."
        },
        "key": {
          "description": "The key is the destination identifier that is supported by the Connector.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1DestinationConfig"
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse": {
      "description": "Response for listing RuntimeEntitySchemas for a specific Connection.",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "runtimeEntitySchemas": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
          },
          "description": "Runtime entity schemas."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse"
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest": {
      "description": "Request for UploadIntegrationVersion.",
      "type": "object",
      "properties": {
        "content": {
          "description": "The textproto of the integration_version.",
          "type": "string"
        },
        "fileFormat": {
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "description": "File format for upload request.",
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "description": "The request for scheduling an integration.",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "properties": {
        "triggerId": {
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)",
          "type": "string"
        },
        "inputParameters": {
          "description": "Optional. Input parameters used by integration execution.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        },
        "parameterEntries": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "parameters": {
          "description": "Passed in as parameters to each integration execution.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "requestId": {
          "type": "string",
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "scheduleTime": {
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "properties": {
        "executionId": {
          "description": "Optional. The id of the ON_HOLD execution to be resumed.",
          "type": "string"
        },
        "doNotPropagateError": {
          "type": "boolean",
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution. Redacted",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "triggerId": {
          "type": "string",
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`."
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "description": "Optional. Input parameters used by integration execution."
        },
        "parameterEntries": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array"
        }
      },
      "description": "The request for executing an integration.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange",
      "properties": {
        "min": {
          "description": "The inclusive minimum of the acceptable range.",
          "format": "int64",
          "type": "string"
        },
        "max": {
          "type": "string",
          "description": "The inclusive maximum of the acceptable range.",
          "format": "int64"
        }
      },
      "description": "Range used to validate longs and ints."
    },
    "EnterpriseCrmEventbusProtoTaskMetadataAdmin": {
      "properties": {
        "userEmail": {
          "type": "string"
        },
        "googleGroupEmail": {
          "type": "string"
        }
      },
      "description": "Admins are owners of a Task, and have all permissions on a particular task identified by the task name. By default, Eventbus periodically scans all task metadata and syncs (adds) any new admins defined here to Zanzibar.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskEntity": {
      "description": "Contains a task's metadata and associated information. Next available id: 7",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
      "properties": {
        "paramSpecs": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
          "description": "Declarations for inputs/outputs for a TypedTask. This is also associated with the METADATA mask."
        },
        "disabledForVpcSc": {
          "description": "True if the task has conflict with vpcsc",
          "type": "boolean"
        },
        "taskType": {
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "description": "Defines the type of the task",
          "type": "string",
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ]
        },
        "stats": {
          "$ref": "EnterpriseCrmEventbusStats",
          "description": "Deprecated - statistics from the Monarch query."
        },
        "metadata": {
          "description": "Metadata inclueds the task name, author and so on.",
          "$ref": "EnterpriseCrmEventbusProtoTaskMetadata"
        },
        "uiConfig": {
          "$ref": "EnterpriseCrmEventbusProtoTaskUiConfig",
          "description": "UI configuration for this task Also associated with the METADATA mask."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationsResponse": {
      "properties": {
        "integrations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegration"
          },
          "description": "The integrations which match the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token for the response."
        }
      },
      "type": "object",
      "description": "Response for ListIntegrations.",
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleRequest": {
      "description": "PROTECT WITH A VISIBILITY LABEL. THIS METHOD WILL BE MOVED TO A SEPARATE SERVICE. Request to create a new Bundle.",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleRequest",
      "properties": {
        "integrations": {
          "items": {
            "type": "string"
          },
          "description": "A list of integrations that can be executed by the bundle",
          "type": "array"
        },
        "bundleId": {
          "type": "string",
          "description": "Required. name of the bundle that will be created"
        },
        "secondaryCustomerOrgId": {
          "type": "string",
          "description": "Optional. The prefix for the SA, it should be in the format \"o\". This is an optional field, and if empty service account will be created per project, where we are creating bundle. This should only be used as the org ID for which we want to run the integrations in the bundle."
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode": {
      "description": "Operation between 2 query",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode",
      "type": "object",
      "properties": {
        "unionConfig": {
          "description": "Optional. union operation",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig"
        },
        "operationType": {
          "description": "Optional. optional operation types.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "UNION",
            "JOIN"
          ],
          "type": "string",
          "enumDescriptions": [
            "By default join.",
            "Union operation",
            "Join Operation"
          ]
        },
        "joinConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig",
          "description": "Optional. join operation"
        }
      }
    },
    "GoogleCloudConnectorsV1Connection": {
      "id": "GoogleCloudConnectorsV1Connection",
      "properties": {
        "envoyImageLocation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
        },
        "authConfig": {
          "$ref": "GoogleCloudConnectorsV1AuthConfig",
          "description": "Optional. Configuration for establishing the connection's authentication with an external system."
        },
        "lockConfig": {
          "description": "Optional. Configuration that indicates whether or not the Connection can be edited.",
          "$ref": "GoogleCloudConnectorsV1LockConfig"
        },
        "nodeConfig": {
          "description": "Optional. Node configuration for the connection.",
          "$ref": "GoogleCloudConnectorsV1NodeConfig"
        },
        "imageLocation": {
          "readOnly": true,
          "description": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the resource.",
          "type": "string"
        },
        "suspended": {
          "description": "Optional. Suspended indicates if a user has suspended a connection or not.",
          "type": "boolean"
        },
        "connectorVersion": {
          "type": "string",
          "description": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource."
        },
        "status": {
          "readOnly": true,
          "$ref": "GoogleCloudConnectorsV1ConnectionStatus",
          "description": "Output only. Current status of the connection."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Updated time."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources"
        },
        "serviceAccount": {
          "description": "Optional. Service account needed for runtime plane to access GCP resources.",
          "type": "string"
        },
        "serviceDirectory": {
          "description": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\"",
          "type": "string",
          "readOnly": true
        },
        "configVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "description": "Optional. Configuration for configuring the connection with an external system.",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Created time.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationConfigs": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1DestinationConfig"
          },
          "type": "array",
          "description": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s)."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
        }
      },
      "description": "Connection represents an instance of connector.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "type": "object",
      "description": "Request for PublishIntegrationVersion.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "int64",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "type": "string"
        },
        "endTime": {
          "description": "The end time of the event execution for current attempt.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "type": "object",
      "properties": {
        "isHidden": {
          "type": "boolean",
          "description": "Whether this field is hidden in the UI."
        },
        "uiPlaceholderText": {
          "type": "string",
          "description": "Placeholder text which will appear in the UI input form for this parameter."
        },
        "inputDisplayOption": {
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ]
        },
        "hideDefaultValue": {
          "type": "boolean",
          "description": "Whether the default value is hidden in the UI."
        },
        "helpText": {
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter.",
          "type": "string"
        },
        "subSectionLabel": {
          "type": "string",
          "description": "A user-friendly label for subSection under which the parameter will be displayed."
        },
        "label": {
          "type": "string",
          "description": "A user-friendly label for the parameter."
        },
        "descriptivePhrase": {
          "type": "string",
          "description": "A short phrase to describe what this parameter contains."
        },
        "parameterNameOption": {
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
    },
    "GoogleCloudIntegrationsV1alphaParameterMapField": {
      "description": "Field represents either the key or value in an entry.",
      "properties": {
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the Integration variables."
        },
        "literalValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Passing a literal value."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaParameterMapField",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfig": {
      "properties": {
        "label": {
          "description": "Optional. The user created label for a particular trigger.",
          "type": "string"
        },
        "cloudSchedulerConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig",
          "description": "Optional. Cloud Scheduler Trigger related metadata"
        },
        "properties": {
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "startTasks": {
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph).",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "type": "array"
        },
        "triggerId": {
          "description": "Optional. The backend trigger ID.",
          "type": "string"
        },
        "triggerType": {
          "type": "string",
          "description": "Optional. Type of trigger",
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC.",
            "Trigger by Cloud Scheduler job."
          ],
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "CLOUD_SCHEDULER"
          ]
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI."
        },
        "nextTasksExecutionPolicy": {
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "description": "Optional. Dictates how next tasks will be executed.",
          "type": "string"
        },
        "alertConfig": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
          },
          "type": "array",
          "description": "Optional. An alert threshold configuration for the [trigger + client + integration] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + integration] when published."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfig",
      "type": "object",
      "description": "Configuration detail of a trigger."
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionResponse",
      "description": "Response for ValidateIntegrationVersion.",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoBooleanParameterArray": {
      "id": "EnterpriseCrmEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse",
      "description": "Response for ArchiveBundle.",
      "type": "object",
      "properties": {}
    },
    "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam": {
      "type": "object",
      "id": "EnterpriseCrmEventbusAuthconfigAuthConfigTaskParam",
      "properties": {
        "authConfigId": {
          "type": "string",
          "description": "UUID of the AuthConfig."
        },
        "allowedServiceAccountInContext": {
          "type": "boolean"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "allowedCredentialTypes": {
          "description": "Defines the credential types to be supported as Task may restrict specific types to use, e.g. Cloud SQL Task will use username/password type only.",
          "type": "array",
          "items": {
            "enum": [
              "CREDENTIAL_TYPE_UNSPECIFIED",
              "USERNAME_AND_PASSWORD",
              "API_KEY",
              "OAUTH2_AUTHORIZATION_CODE",
              "OAUTH2_IMPLICIT",
              "OAUTH2_CLIENT_CREDENTIALS",
              "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
              "JWT",
              "AUTH_TOKEN",
              "SERVICE_ACCOUNT",
              "CLIENT_CERTIFICATE_ONLY",
              "OIDC_TOKEN"
            ],
            "enumDescriptions": [
              "",
              "Regular username/password pair.",
              "API key.",
              "OAuth 2.0 Authorization Code Grant Type.",
              "OAuth 2.0 Implicit Grant Type.",
              "OAuth 2.0 Client Credentials Grant Type.",
              "OAuth 2.0 Resource Owner Credentials Grant Type.",
              "JWT Token.",
              "Auth Token, e.g. bearer token.",
              "Service Account which can be used to generate token for authentication.",
              "Client Certificate only.",
              "Google OIDC ID Token"
            ],
            "type": "string"
          }
        },
        "useServiceAccountInContext": {
          "type": "boolean"
        }
      }
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "description": "Mapped field is a pair of input field and output field. Next Id: 3",
      "type": "object",
      "properties": {
        "inputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The input field being mapped from."
        },
        "outputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The output field being mapped to."
        }
      },
      "id": "EnterpriseCrmEventbusProtoMappedField"
    },
    "GoogleCloudIntegrationsV1alphaCredential": {
      "properties": {
        "oidcToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaOidcToken",
          "description": "Google OIDC ID Token"
        },
        "usernameAndPassword": {
          "description": "Username and password credential",
          "$ref": "GoogleCloudIntegrationsV1alphaUsernameAndPassword"
        },
        "oauth2ResourceOwnerCredentials": {
          "description": "OAuth2 resource owner credentials",
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials"
        },
        "authToken": {
          "$ref": "GoogleCloudIntegrationsV1alphaAuthToken",
          "description": "Auth token credential"
        },
        "oauth2AuthorizationCode": {
          "description": "The api_key and oauth2_implicit are not covered in v1 and will be picked up once v1 is implemented. ApiKey api_key = 3; OAuth2 authorization code credential",
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2AuthorizationCode"
        },
        "credentialType": {
          "description": "Credential type associated with auth config.",
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ],
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "type": "string"
        },
        "serviceAccountCredentials": {
          "description": "Service account credential",
          "$ref": "GoogleCloudIntegrationsV1alphaServiceAccountCredentials"
        },
        "oauth2ClientCredentials": {
          "description": "OAuth2Implicit oauth2_implicit = 5; OAuth2 client credentials",
          "$ref": "GoogleCloudIntegrationsV1alphaOAuth2ClientCredentials"
        },
        "jwt": {
          "description": "JWT credential",
          "$ref": "GoogleCloudIntegrationsV1alphaJwt"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCredential",
      "type": "object",
      "description": "Defines parameters for a single, canonical credential."
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "type": "object",
      "properties": {
        "min": {
          "format": "double",
          "type": "number",
          "description": "The inclusive minimum of the acceptable range."
        },
        "max": {
          "format": "double",
          "description": "The inclusive maximum of the acceptable range.",
          "type": "number"
        }
      },
      "description": "Range used to validate doubles and floats.",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "type": "object",
      "properties": {
        "isAlreadySanitized": {
          "type": "boolean",
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization."
        },
        "privacy": {
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "type": "string",
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ]
        },
        "logType": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ]
          },
          "description": "To which type(s) of logs the sanitize options apply."
        },
        "sanitizeType": {
          "type": "string",
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ],
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ]
        }
      },
      "id": "EnterpriseCrmLoggingGwsSanitizeOptions",
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      },
      "type": "object",
      "description": "Entry is a pair of key and value."
    },
    "EnterpriseCrmEventbusProtoTeardown": {
      "id": "EnterpriseCrmEventbusProtoTeardown",
      "type": "object",
      "properties": {
        "teardownTaskConfigs": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTeardownTaskConfig"
          },
          "description": "Required."
        }
      }
    },
    "EnterpriseCrmEventbusStats": {
      "properties": {
        "errorRate": {
          "format": "double",
          "description": "Average error rate.",
          "type": "number"
        },
        "dimensions": {
          "description": "Dimensions that these stats have been aggregated on.",
          "$ref": "EnterpriseCrmEventbusStatsDimensions"
        },
        "warningRate": {
          "description": "Average warning rate.",
          "format": "double",
          "type": "number"
        },
        "durationInSeconds": {
          "description": "Average duration in seconds.",
          "format": "double",
          "type": "number"
        },
        "qps": {
          "format": "double",
          "type": "number",
          "description": "Queries per second."
        }
      },
      "description": "Stats for the requested dimensions: QPS, duration, and error/warning rate",
      "id": "EnterpriseCrmEventbusStats",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfig": {
      "description": "AuthConfig defines details of a authentication type.",
      "type": "object",
      "properties": {
        "additionalVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "description": "List containing additional auth configs.",
          "type": "array"
        },
        "oauth2JwtBearer": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer",
          "description": "Oauth2JwtBearer."
        },
        "authType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Username and Password Authentication.",
            "JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication",
            "Oauth 2.0 Client Credentials Grant Authentication",
            "SSH Public Key Authentication",
            "Oauth 2.0 Authorization Code Flow"
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER_PASSWORD",
            "OAUTH2_JWT_BEARER",
            "OAUTH2_CLIENT_CREDENTIALS",
            "SSH_PUBLIC_KEY",
            "OAUTH2_AUTH_CODE_FLOW"
          ],
          "description": "The type of authentication configured.",
          "type": "string"
        },
        "oauth2ClientCredentials": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
          "description": "Oauth2ClientCredentials."
        },
        "sshPublicKey": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
          "description": "SSH Public Key."
        },
        "userPassword": {
          "$ref": "GoogleCloudConnectorsV1AuthConfigUserPassword",
          "description": "UserPassword."
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfig"
    },
    "GoogleCloudIntegrationsV1alphaJwt": {
      "id": "GoogleCloudIntegrationsV1alphaJwt",
      "description": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected.",
      "type": "object",
      "properties": {
        "jwtPayload": {
          "type": "string",
          "description": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token."
        },
        "secret": {
          "description": "User's pre-shared secret to sign the token.",
          "type": "string"
        },
        "jwt": {
          "type": "string",
          "description": "The token calculated by the header, payload and signature."
        },
        "jwtHeader": {
          "description": "Identifies which algorithm is used to generate the signature.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaSuspensionAudit": {
      "properties": {
        "resolveTime": {
          "type": "string",
          "description": "Time at which this suspension was resolved.",
          "format": "google-datetime"
        },
        "resolver": {
          "description": "Email address of the person who resolved this suspension.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaSuspensionAudit",
      "description": "Contains when and by whom the suspension was resolved."
    },
    "EnterpriseCrmEventbusProtoTaskUiModuleConfig": {
      "type": "object",
      "properties": {
        "moduleId": {
          "description": "ID of the config module.",
          "enum": [
            "UNSPECIFIED_TASK_MODULE",
            "LABEL",
            "ERROR_HANDLING",
            "TASK_PARAM_TABLE",
            "TASK_PARAM_FORM",
            "PRECONDITION",
            "SCRIPT_EDITOR",
            "RPC",
            "TASK_SUMMARY",
            "SUSPENSION",
            "RPC_TYPED",
            "SUB_WORKFLOW",
            "APPS_SCRIPT_NAVIGATOR",
            "SUB_WORKFLOW_FOR_EACH_LOOP",
            "FIELD_MAPPING",
            "README",
            "REST_CALLER",
            "SUB_WORKFLOW_SCATTER_GATHER",
            "CLOUD_SQL",
            "GENERIC_CONNECTOR_TASK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Supports editing label of a task config.",
            "Supports editing error handling settings such as retry strategy.",
            "Supports adding, removing and editing task parameter values in a table with little assistance or restriction.",
            "Supports editing values of declared input parameters of a task. Think of it as a \"strongly typed\" upgrade to the TASK_PARAM_TABLE.",
            "Supports editing preconditions of a task config.",
            "Supports adding, editing, and deleting the scripts associated with a script task, as well as modifying the input/output parameters.",
            "Supports editing task parameters associated with an RPC/stubby task.",
            "Contains readonly task information, including input/output type info.",
            "Configures a SuspensionTask.",
            "Configures a GenericStubbyTypedTask.",
            "Configures a SubWorkflowExecutorTask.",
            "Supports navigating to Apps Script editor",
            "Configures a SubWorkflowForEachLoopTask.",
            "Configures a FieldMappingTask.",
            "Contains embedded in-product documentation for a task.",
            "UI widget for the rest caller task.",
            "Configures a SubWorkflowScatterGatherTask.",
            "Configures a CloudSql Task.",
            "Configure a GenericConnectorTask."
          ]
        }
      },
      "description": "Task author would use this type to configure a config module.",
      "id": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "properties": {
        "producer": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "type": "string"
        },
        "defaultValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        },
        "inputOutputType": {
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "type": "string",
          "description": "Specifies the input/output type for the parameter.",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ]
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        },
        "dataType": {
          "description": "Type of the parameter.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "type": "string"
        },
        "searchable": {
          "type": "boolean",
          "description": "Searchable in the execution log or not."
        }
      },
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition.",
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry": {
      "properties": {
        "inOutType": {
          "type": "string",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "enumDescriptions": [
            "",
            "Input parameters for the workflow. EventBus validates that these parameters exist in the workflows before execution.",
            "Output Parameters for the workflow. EventBus will only return the workflow parameters tagged with OUT in the response back.",
            "Input or Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ],
          "description": "Specifies the input/output type for the parameter."
        },
        "children": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "description": "Child parameters nested within this parameter. This field only applies to protobuf parameters",
          "type": "array"
        },
        "attributes": {
          "description": "Metadata information about the parameters.",
          "$ref": "EnterpriseCrmEventbusProtoAttributes"
        },
        "producer": {
          "type": "string"
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition.",
          "type": "string"
        },
        "name": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        },
        "protoDefPath": {
          "type": "string",
          "description": "If the data type is of type proto or proto array, this field needs to be populated with the fully qualified proto name. This message, for example, would be \"enterprise.crm.frontends.eventbus.proto.WorkflowParameterEntry\"."
        },
        "producedBy": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "$ref": "EnterpriseCrmEventbusProtoNodeIdentifier"
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The data type of the parameter."
        },
        "protoDefName": {
          "description": "The name of the protobuf type if the parameter has a protobuf data type.",
          "type": "string"
        },
        "jsonSchema": {
          "type": "string",
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter."
        },
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter. go/ip-transient-parameters"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          },
          "type": "array"
        },
        "keyType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this."
        },
        "valueType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified."
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "type": "object",
      "properties": {
        "doubleValues": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray"
    },
    "EnterpriseCrmEventbusProtoErrorDetail": {
      "properties": {
        "severity": {
          "description": "The severity of the error: ERROR|WARN|INFO.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARN",
            "INFO"
          ]
        },
        "taskNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The task try-number, in which, the error occurred. If zero, the error happened at the event level."
        },
        "errorMessage": {
          "type": "string",
          "description": "The full text of the error message, including any parameters that were thrown along with the exception."
        },
        "errorCode": {
          "description": "The associated error-code, which can be a common or internal code.",
          "$ref": "CrmlogErrorCode"
        }
      },
      "description": "An error, warning, or information message associated with a workflow.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoErrorDetail"
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringParameterArray",
      "properties": {
        "stringValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnterpriseCrmEventbusProtoTaskAlertConfig": {
      "properties": {
        "alertDisabled": {
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert.",
          "type": "boolean"
        },
        "thresholdType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ],
          "description": "The threshold type for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ]
        },
        "metricType": {
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors (potentially for a specific set of enum values) for the enclosing TaskConfig.",
            "Specifies alerting on the rate of warnings (potentially for a specific set of enum values) for the enclosing TaskConfig. Warnings use the same enum values as errors.",
            "Specifies alerting on the number of instances for the enclosing TaskConfig executed in the given aggregation_period.",
            "Specifies alerting on the average duration of execution for the enclosing task.",
            "Specifies alerting on the duration of a particular percentile of task executions. E.g. If 10% or more of the task executions have durations above 5 seconds, alert."
          ],
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ]
        },
        "playbookUrl": {
          "type": "string",
          "description": "Link to a playbook for resolving the issue that triggered this alert."
        },
        "durationThresholdMs": {
          "format": "int64",
          "description": "Should be specified only for TASK_AVERAGE_DURATION and TASK_PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "type": "string"
        },
        "thresholdValue": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
          "description": "The metric value, above or below which the alert should be triggered."
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "aggregationPeriod": {
          "description": "The period over which the metric value should be aggregated and evaluated. Format is , where integer should be a positive integer and unit should be one of (s,m,h,d,w) meaning (second, minute, hour, day, week).",
          "type": "string"
        },
        "alertName": {
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique in within the scope of the containing workflow.",
          "type": "string"
        },
        "onlyFinalAttempt": {
          "description": "Only count final task attempts, not retries.",
          "type": "boolean"
        },
        "numAggregationPeriods": {
          "format": "int32",
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "type": "integer"
        },
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "clientId": {
          "description": "Client associated with this alert configuration. Must be a client enabled in one of the containing workflow's triggers.",
          "type": "string"
        }
      },
      "description": "Message to be used to configure alerting in the {@code TaskConfig} protos for tasks in an event. See go/eventbus-alert-config-examples for examples of the different alerts that can be configured.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskAlertConfig"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleRequest": {
      "properties": {},
      "type": "object",
      "description": "Request for ArchiveBundle.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleRequest"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "properties": {
        "endTime": {
          "format": "int64",
          "description": "The end time of the task execution for current attempt.",
          "type": "string"
        },
        "startTime": {
          "format": "int64",
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest": {
      "description": "Request for [Suspensions.ResolveSuspensions].",
      "properties": {
        "suspension": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspension",
          "description": "Suspension, containing the event_execution_info_id, task_id, and state to set on the corresponding suspension record."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
    },
    "EnterpriseCrmEventbusProtoToken": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoToken"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListData": {
      "type": "object",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListData",
      "properties": {
        "series": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries"
          }
        }
      },
      "description": "Data used for Aplos charts that accept multiple Series."
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
      "properties": {
        "tokenEndpoint": {
          "type": "string",
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token."
        },
        "requestType": {
          "type": "string",
          "description": "Represent how to pass parameters to fetch access token",
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ]
        },
        "username": {
          "description": "The user's username.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "clientSecret": {
          "description": "The client's secret.",
          "type": "string"
        },
        "password": {
          "description": "The user's password.",
          "type": "string"
        },
        "clientId": {
          "description": "The client's ID.",
          "type": "string"
        },
        "tokenParams": {
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap",
          "description": "Token parameters for the auth request."
        }
      },
      "description": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction"
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAuthToken",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token for the auth type."
        },
        "type": {
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse": {
      "description": "Response for LinkAppsScriptProject rpc call.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse",
      "properties": {
        "scriptId": {
          "description": "The id of the linked Apps Script project.",
          "type": "string"
        }
      }
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "properties": {
        "scheduledTime": {
          "format": "int64",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        },
        "workflowName": {
          "type": "string",
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow."
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required."
        },
        "parameters": {
          "description": "Passed in as parameters to each workflow execution. Optional.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "priority": {
          "type": "string",
          "description": "The request priority this request should be processed at. For internal users:",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ]
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens."
        },
        "testMode": {
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}.",
          "type": "boolean"
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest"
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "type": "object",
      "description": "The certificate definition",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Auto generated primary key"
        },
        "description": {
          "description": "Description of the certificate",
          "type": "string"
        },
        "requestorId": {
          "description": "Immutable. Requestor ID to be used to register certificate with trawler",
          "type": "string"
        },
        "validStartTime": {
          "description": "Output only. The timestamp after which certificate will be valid",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Name of the certificate",
          "type": "string"
        },
        "certificateStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ],
          "description": "Status of the certificate"
        },
        "validEndTime": {
          "description": "Output only. The timestamp after which certificate will expire",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "credentialId": {
          "type": "string",
          "description": "Immutable. Credential id that will be used to register with trawler INTERNAL_ONLY"
        },
        "rawCertificate": {
          "description": "Input only. Raw client certificate which would be registered with trawler",
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCertificate"
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "properties": {
        "accessToken": {
          "type": "string",
          "description": "The access token encapsulating the security identity of a process or thread."
        },
        "tokenType": {
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0.",
          "type": "string"
        },
        "refreshTokenExpireTime": {
          "format": "google-datetime",
          "description": "The approximate time until the refresh token retrieved is valid.",
          "type": "string"
        },
        "accessTokenExpireTime": {
          "description": "Required. The approximate time until the access token retrieved is valid.",
          "type": "string",
          "format": "google-datetime"
        },
        "refreshToken": {
          "description": "If the access token will expire, use the refresh token to obtain another access token.",
          "type": "string"
        }
      },
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "id": "GoogleCloudIntegrationsV1alphaAccessToken",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "id": "EnterpriseCrmEventbusProtoFunctionType",
      "type": "object",
      "properties": {
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "jsonFunction": {
          "description": "LINT.ThenChange(//depot/google3/alkali/apps/integrationplatform/client/workflow_editor/utils/transform_function.ts)",
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction"
        },
        "baseFunction": {
          "description": "LINT.IfChange",
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
[...]
