{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://integrations.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/application-integration",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "schemas": {
    "EnterpriseCrmEventbusProtoLogSettings": {
      "type": "object",
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details.",
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "properties": {
        "logFieldName": {
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key.",
          "type": "string"
        },
        "shorteningLimits": {
          "description": "Contains the field limits for shortening, such as max string length and max array length.",
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits"
        },
        "seedScope": {
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "type": "string",
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ]
        },
        "sanitizeOptions": {
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions",
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc."
        },
        "seedPeriod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ],
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaGetBundleResponse": {
      "id": "GoogleCloudIntegrationsV1alphaGetBundleResponse",
      "description": "Response for GetBundle.",
      "properties": {
        "config": {
          "description": "It contains the bundle data",
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetails": {
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetails",
      "properties": {
        "ryeLockUnheldCount": {
          "format": "int32",
          "type": "integer",
          "description": "Used internally and shouldn't be exposed to users. A counter for the cron job to record how many times this event is in in_process state but don't have a lock consecutively/"
        },
        "eventRetriesFromBeginningCount": {
          "type": "integer",
          "description": "Indicates the number of times the execution has restarted from the beginning.",
          "format": "int32"
        },
        "logFilePath": {
          "description": "The log file path (aka. cns address) for this event.",
          "type": "string"
        },
        "eventAttemptStats": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats"
          }
        },
        "eventExecutionState": {
          "enum": [
            "UNSPECIFIED",
            "ON_HOLD",
            "IN_PROCESS",
            "SUCCEEDED",
            "FAILED",
            "CANCELED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Event is received and waiting for the execution. This happens when firing the event via \"postToQueue\" or \"schedule\".",
            "Event is under processing.",
            "Event execution successfully finished. There's no more change after this state.",
            "Event execution failed. There's no more change after this state.",
            "Event execution canceled by user. There's no more change after this state.",
            "Event execution failed and waiting for retry.",
            "Event execution suspended and waiting for manual intervention."
          ]
        },
        "nextExecutionTime": {
          "format": "int64",
          "type": "string",
          "description": "Next scheduled execution time in case the execution status was RETRY_ON_HOLD."
        },
        "eventExecutionSnapshot": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          },
          "type": "array"
        },
        "networkAddress": {
          "type": "string",
          "description": "The network address (aka. bns address) that indicates where the event executor is running."
        }
      },
      "type": "object",
      "description": "Contains the details of the execution info of this event: this includes the tasks execution details plus the event execution statistics. Next available id: 10"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer": {
      "description": "Parameters to support JSON Web Token (JWT) Profile for Oauth 2.0 Authorization Grant based authentication. See https://tools.ietf.org/html/rfc7523 for more details.",
      "properties": {
        "clientKey": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "Secret version reference containing a PKCS#8 PEM-encoded private key associated with the Client Certificate. This private key will be used to sign JWTs used for the jwt-bearer authorization grant. Specified in the form as: `projects/*/secrets/*/versions/*`."
        },
        "jwtClaims": {
          "description": "JwtClaims providers fields to generate the token.",
          "$ref": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims"
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearer"
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry": {
      "properties": {
        "jsonSchema": {
          "type": "string",
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter."
        },
        "attributes": {
          "$ref": "EnterpriseCrmEventbusProtoAttributes",
          "description": "Metadata information about the parameters."
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "protoDefName": {
          "type": "string",
          "description": "The name of the protobuf type if the parameter has a protobuf data type."
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the workflow definition."
        },
        "protoDefPath": {
          "type": "string",
          "description": "If the data type is of type proto or proto array, this field needs to be populated with the fully qualified proto name. This message, for example, would be \"enterprise.crm.frontends.eventbus.proto.WorkflowParameterEntry\"."
        },
        "producedBy": {
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param.",
          "$ref": "EnterpriseCrmEventbusProtoNodeIdentifier"
        },
        "children": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "type": "array",
          "description": "Child parameters nested within this parameter. This field only applies to protobuf parameters"
        },
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "description": "The data type of the parameter.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "producer": {
          "type": "string"
        },
        "inOutType": {
          "type": "string",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "description": "Specifies the input/output type for the parameter.",
          "enumDescriptions": [
            "",
            "Input parameters for the workflow. EventBus validates that these parameters exist in the workflows before execution.",
            "Output Parameters for the workflow. EventBus will only return the workflow parameters tagged with OUT in the response back.",
            "Input or Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        },
        "isTransient": {
          "type": "boolean",
          "description": "Whether this parameter is a transient parameter. go/ip-transient-parameters"
        },
        "name": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse": {
      "type": "object",
      "description": "Response to list SfdcChannels.",
      "properties": {
        "sfdcChannels": {
          "type": "array",
          "description": "The list of SfdcChannels retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse"
    },
    "GoogleCloudIntegrationsV1alphaClientCertificate": {
      "properties": {
        "encryptedPrivateKey": {
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
          "type": "string"
        },
        "sslCertificate": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        },
        "passphrase": {
          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaClientCertificate",
      "type": "object",
      "description": "Contains client certificate information"
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "next id: 24"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoJsonFunction",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoBooleanArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoBooleanArrayFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "type": "object",
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest",
      "properties": {
        "ignoreErrorIfNoActiveWorkflow": {
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default.",
          "type": "boolean"
        },
        "scheduledTime": {
          "type": "string",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled.",
          "format": "int64"
        },
        "testMode": {
          "type": "boolean",
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}."
        },
        "clientId": {
          "type": "string",
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients."
        },
        "parameters": {
          "description": "Passed in as parameters to each workflow execution. Optional.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required."
        },
        "workflowName": {
          "type": "string",
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens.",
          "type": "string"
        },
        "priority": {
          "type": "string",
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ],
          "description": "The request priority this request should be processed at. For internal users:"
        }
      }
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "type": "object",
      "description": "Contains all the execution details for a workflow instance. Next available id: 24",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "properties": {
        "workflowRetryBackoffIntervalSeconds": {
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running",
          "type": "string",
          "format": "int64"
        },
        "workflowId": {
          "description": "Required. Pointer to the workflow it is executing.",
          "type": "string"
        },
        "eventExecutionDetails": {
          "description": "The execution info about this event.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails"
        },
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "Final error-code if event failed."
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "product": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default.",
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ]
        },
        "executionTraceInfo": {
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo",
          "description": "Execution trace info to aggregate parent-child executions."
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request."
        },
        "clientId": {
          "type": "string",
          "description": "The event data user sends as request."
        },
        "errors": {
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "type": "array"
        },
        "responseParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come out as part of the response."
        },
        "tenant": {
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant.",
          "type": "string"
        },
        "requestParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Event parameters come in as part of the request."
        },
        "postMethod": {
          "description": "The ways user posts this event.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "snapshotNumber": {
          "type": "string",
          "description": "Workflow snapshot number.",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "description": "Auto-generated.",
          "format": "int64"
        },
        "lastModifiedTime": {
          "format": "int64",
          "type": "string",
          "description": "Auto-generated."
        },
        "workflowName": {
          "type": "string",
          "description": "Name of the workflow."
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "description": "Range used to validate doubles and floats.",
      "properties": {
        "max": {
          "type": "number",
          "description": "The inclusive maximum of the acceptable range.",
          "format": "double"
        },
        "min": {
          "type": "number",
          "description": "The inclusive minimum of the acceptable range.",
          "format": "double"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskEntity": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
      "properties": {
        "uiConfig": {
          "$ref": "EnterpriseCrmEventbusProtoTaskUiConfig",
          "description": "UI configuration for this task Also associated with the METADATA mask."
        },
        "metadata": {
          "$ref": "EnterpriseCrmEventbusProtoTaskMetadata",
          "description": "Metadata inclueds the task name, author and so on."
        },
        "stats": {
          "$ref": "EnterpriseCrmEventbusStats",
          "description": "Deprecated - statistics from the Monarch query."
        },
        "paramSpecs": {
          "description": "Declarations for inputs/outputs for a TypedTask. This is also associated with the METADATA mask.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage"
        },
        "disabledForVpcSc": {
          "type": "boolean",
          "description": "True if the task has conflict with vpcsc"
        },
        "taskType": {
          "description": "Defines the type of the task",
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "type": "string",
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ]
        }
      },
      "description": "Contains a task's metadata and associated information. Next available id: 7"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListData": {
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListData",
      "type": "object",
      "properties": {
        "series": {
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries"
          },
          "type": "array"
        }
      },
      "description": "Data used for Aplos charts that accept multiple Series."
    },
    "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest",
      "description": "Request for PublishIntegrationVersion."
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest",
      "description": "Request for DeactivateIntegrationVersion.",
      "type": "object",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoConnectorsConnection": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoConnectorsConnection",
      "properties": {
        "connectionName": {
          "type": "string",
          "description": "Connection name Format: projects/{project}/locations/{location}/connections/{connection}"
        },
        "serviceName": {
          "description": "Service name Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}",
          "type": "string"
        },
        "connectorVersion": {
          "description": "Connector version Format: projects/{project}/locations/{location}/providers/{provider}/connectors/{connector}/versions/{version}",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusStatsDimensions": {
      "type": "object",
      "id": "EnterpriseCrmEventbusStatsDimensions",
      "properties": {
        "retryAttempt": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Task has completed successfully or has depleted all retry attempts.",
            "Task has failed but may be retried.",
            "Task has been deliberately canceled."
          ],
          "enum": [
            "UNSPECIFIED",
            "FINAL",
            "RETRYABLE",
            "CANCELED"
          ]
        },
        "errorEnumString": {
          "type": "string"
        },
        "taskNumber": {
          "type": "string"
        },
        "workflowName": {
          "type": "string"
        },
        "enumFilterType": {
          "enum": [
            "DEFAULT_INCLUSIVE",
            "EXCLUSIVE"
          ],
          "description": "Whether to include or exclude the enums matching the regex.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "clientId": {
          "type": "string"
        },
        "triggerId": {
          "type": "string",
          "description": "Stats have been or will be aggregated on set fields for any semantically-meaningful combination."
        },
        "taskName": {
          "type": "string"
        },
        "warningEnumString": {
          "type": "string"
        },
        "workflowId": {
          "type": "string"
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot": {
      "type": "object",
      "properties": {
        "taskExecutionDetails": {
          "type": "array",
          "description": "All of the task execution details at the given point of time.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          }
        },
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "conditionResults": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          },
          "description": "All of the computed conditions that been calculated."
        },
        "eventParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object."
        },
        "eventExecutionSnapshotId": {
          "type": "string",
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table."
        },
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken."
        },
        "snapshotTime": {
          "type": "string",
          "format": "int64",
          "description": "Indicates when this snapshot is taken."
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Points to the event execution info this snapshot belongs to."
        },
        "taskName": {
          "description": "The task name associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "diffParams": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "The parameters in Event object that differs from last snapshot."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionSnapshot"
    },
    "EnterpriseCrmEventbusProtoEventExecutionSnapshot": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventExecutionSnapshot",
      "description": "Contains the snapshot of the event execution for a given checkpoint. Next available id: 13",
      "properties": {
        "eventExecutionSnapshotMetadata": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
        },
        "taskName": {
          "type": "string",
          "description": "The task name associated with this snapshot. Could be empty."
        },
        "checkpointTaskNumber": {
          "type": "string",
          "description": "Indicates \"right after which checkpoint task's execution\" this snapshot is taken."
        },
        "diffParams": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "The parameters in Event object that differs from last snapshot."
        },
        "eventExecutionSnapshotId": {
          "type": "string",
          "description": "Auto-generated. Used as primary key for EventExecutionSnapshots table."
        },
        "exceedMaxSize": {
          "description": "indicate whether snapshot exceeded maximum size before clean up",
          "type": "boolean"
        },
        "eventParams": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "The parameters in Event object."
        },
        "conditionResults": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoConditionResult"
          },
          "type": "array",
          "description": "All of the computed conditions that been calculated."
        },
        "snapshotTime": {
          "type": "string",
          "description": "Indicates when this snapshot is taken.",
          "format": "int64"
        },
        "eventExecutionInfoId": {
          "description": "Points to the event execution info this snapshot belongs to.",
          "type": "string"
        },
        "taskExecutionDetails": {
          "description": "All of the task execution details at the given point of time.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetails"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse",
      "properties": {
        "content": {
          "description": "String representation of the integration version.",
          "type": "string"
        }
      },
      "description": "Response for DownloadIntegrationVersion."
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry",
      "description": "Entry is a pair of key and value.",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmLoggingGwsFieldLimits": {
      "id": "EnterpriseCrmLoggingGwsFieldLimits",
      "type": "object",
      "description": "Describes string and array limits when writing to logs. When a limit is exceeded the *shortener_type* describes how to shorten the field. next_id: 6",
      "properties": {
        "maxArraySize": {
          "description": "maximum array size. If the array exceds this size, the field (list) is truncated.",
          "format": "int32",
          "type": "integer"
        },
        "logAction": {
          "enum": [
            "LOG_ACTION_UNSPECIFIED",
            "DONT_LOG",
            "LOG"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "maxStringLength": {
          "format": "int32",
          "description": "maximum string length. If the field exceeds this amount the field is shortened.",
          "type": "integer"
        },
        "shortenerType": {
          "enum": [
            "SHORTENER_TYPE_UNSPECIFIED",
            "SHORTEN",
            "HASH",
            "SHORTEN_WITH_HASH",
            "SHORTEN_EMAIL",
            "SHORTEN_EMAIL_WITH_HASH",
            "SHORTEN_DOMAIN"
          ],
          "enumDescriptions": [
            "",
            "String is shortened to max_string_length.",
            "String is replaced by its hex-string hash.",
            "String is replaced by a combination of string shortening and a hex-string hash.",
            "String shortening for email addresses. Shortening may be done on the user and/or domain portion of the email address.",
            "String is replaced by a combination of string shortening and a hex-string hash for an email address.",
            "Shortens a domain name (e.g., as part of an email address or URL)."
          ],
          "type": "string"
        },
        "logType": {
          "type": "array",
          "description": "To which type(s) of logs the limits apply.",
          "items": {
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ],
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaFailurePolicy": {
      "properties": {
        "retryStrategy": {
          "description": "Defines what happens to the task upon failure.",
          "enum": [
            "RETRY_STRATEGY_UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_INTEGRATION_WITH_BACKOFF"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Ignores the failure of this task. The rest of the integration will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the integration.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. max_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. max_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified.",
            "The entire integration will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified."
          ]
        },
        "intervalTime": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the initial interval in seconds for backoff.",
          "type": "string",
          "format": "google-datetime"
        },
        "maxRetries": {
          "type": "integer",
          "format": "int32",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the number of times the task will be retried if failed."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaFailurePolicy",
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied)."
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "type": "object",
      "properties": {},
      "description": "Response for ArchiveBundle.",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery": {
      "properties": {
        "operationMode": {
          "description": "Optional. optional, only set when joining 2 queries. By default join 2 queries with join operation.",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode"
        },
        "firstQuery": {
          "description": "Required. The components for constructing a mash query. Set \"point_operation\" if this is a single query",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent"
        },
        "secondQuery": {
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryComponent",
          "description": "Optional. optional, only set when joining 2 queries. Set \"point_operation\" for joined query."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQuery",
      "description": "The MashQuery for searching data, set both queries for Join Operation.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2",
      "properties": {
        "mappedFields": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateBundleResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCreateBundleResponse",
      "properties": {
        "triggerId": {
          "description": "trigger_id of the bundle task",
          "type": "string"
        },
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the bundle data"
        }
      },
      "description": "Response for create bundle."
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode": {
      "properties": {
        "joinConfig": {
          "description": "Optional. join operation",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig"
        },
        "unionConfig": {
          "description": "Optional. union operation",
          "$ref": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig"
        },
        "operationType": {
          "description": "Optional. optional operation types.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "UNION",
            "JOIN"
          ],
          "type": "string",
          "enumDescriptions": [
            "By default join.",
            "Union operation",
            "Join Operation"
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationMode",
      "type": "object",
      "description": "Operation between 2 query"
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit",
      "properties": {
        "resolvedByCpi": {
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string"
        },
        "resolvedBy": {
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1LockConfig": {
      "id": "GoogleCloudConnectorsV1LockConfig",
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "properties": {
        "locked": {
          "type": "boolean",
          "description": "Indicates whether or not the connection is locked."
        },
        "reason": {
          "description": "Describes why a connection is locked.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation to perform using the configured connection.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "connection": {
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection",
          "description": "User-selected connection."
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig"
    },
    "EnterpriseCrmEventbusProtoNextTask": {
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "properties": {
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this edge in the UI."
        },
        "taskNumber": {
          "type": "string",
          "description": "Task number of the next task."
        },
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the next task edge or condition."
        },
        "combinedConditions": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCombinedCondition"
          },
          "description": "Combined condition for this task to become an eligible next task. Each of these combined_conditions are joined with logical OR. DEPRECATED: use `condition`",
          "type": "array"
        },
        "taskConfigId": {
          "type": "string",
          "description": "ID of the next task."
        },
        "condition": {
          "description": "Standard filter expression for this task to become an eligible next task.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNextTask"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "description": "Request for CreateAppsScriptProject rpc call.",
      "properties": {
        "authConfigId": {
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients",
          "type": "string"
        },
        "appsScriptProject": {
          "type": "string",
          "description": "The name of the Apps Script project to be created."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest"
    },
    "EnterpriseCrmEventbusProtoEventBusProperties": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventBusProperties",
      "properties": {
        "properties": {
          "type": "array",
          "description": "An unordered list of property entries.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoPropertyEntry"
          }
        }
      },
      "description": "LINT.IfChange This message is used for storing key value pair properties for each Event / Task in the EventBus. Please see go/cloud-crm-eng/platform/event_bus.md for more details."
    },
    "EnterpriseCrmEventbusProtoSuspensionResolutionInfo": {
      "type": "object",
      "properties": {
        "product": {
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Which Google product the suspension belongs to. If not set, the suspension belongs to Integration Platform by default."
        },
        "status": {
          "type": "string",
          "enum": [
            "PENDING_UNSPECIFIED",
            "REJECTED",
            "LIFTED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "suspensionConfig": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionConfig"
        },
        "workflowName": {
          "description": "Required. The name of the originating workflow.",
          "type": "string"
        },
        "suspensionId": {
          "description": "Primary key for the SuspensionResolutionInfoTable.",
          "type": "string"
        },
        "lastModifiedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Auto-generated."
        },
        "createdTimestamp": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "eventExecutionInfoId": {
          "description": "Required. ID of the associated execution.",
          "type": "string"
        },
        "taskNumber": {
          "type": "string",
          "description": "Required. Task number of the associated SuspensionTask."
        },
        "externalTraffic": {
          "$ref": "EnterpriseCrmEventbusProtoExternalTraffic",
          "description": "The origin of the suspension for periodic notifications."
        },
        "audit": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionResolutionInfoAudit"
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionResolutionInfo"
    },
    "EnterpriseCrmEventbusProtoSuspensionConfig": {
      "type": "object",
      "properties": {
        "customMessage": {
          "description": "Optional information to provide recipients of the suspension in addition to the resolution URL, typically containing relevant parameter values from the originating workflow.",
          "type": "string"
        },
        "suspensionExpiration": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionExpiration",
          "description": "Indicates the next steps when no external actions happen on the suspension."
        },
        "notifications": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNotification"
          },
          "type": "array"
        },
        "whoMayResolve": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
          },
          "description": "Identities able to resolve this suspension."
        }
      },
      "id": "EnterpriseCrmEventbusProtoSuspensionConfig"
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "properties": {
        "task": {
          "description": "Optional. The name for the task.",
          "type": "string"
        },
        "taskExecutionStrategy": {
          "type": "string",
          "description": "Optional. The policy dictating the execution strategy of this task.",
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ]
        },
        "synchronousCallFailurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy"
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "taskId": {
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`).",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. The customized parameters the user can pass to this task.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          },
          "type": "object"
        },
        "displayName": {
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "taskTemplate": {
          "description": "Optional. Used to define task-template name if task is of type task-template",
          "type": "string"
        },
        "successPolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuccessPolicy",
          "description": "Optional. Determines what action to take upon successful task completion."
        },
        "nextTasks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "nextTasksExecutionPolicy": {
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task.",
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string"
        },
        "jsonValidationOption": {
          "type": "string",
          "description": "Optional. If set, overrides the option configured in the Task implementation class.",
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        }
      },
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaTaskConfig"
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfig": {
      "properties": {
        "triggerId": {
          "description": "Optional. The backend trigger ID.",
          "type": "string"
        },
        "nextTasksExecutionPolicy": {
          "type": "string",
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "description": "Optional. Dictates how next tasks will be executed."
        },
        "alertConfig": {
          "description": "Optional. An alert threshold configuration for the [trigger + client + integration] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + integration] when published.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give additional business context about the task."
        },
        "triggerType": {
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "CLOUD_SCHEDULER"
          ],
          "description": "Optional. Type of trigger",
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC.",
            "Trigger by Cloud Scheduler job."
          ],
          "type": "string"
        },
        "cloudSchedulerConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig",
          "description": "Optional. Cloud Scheduler Trigger related metadata"
        },
        "label": {
          "description": "Optional. The user created label for a particular trigger.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers."
        },
        "startTasks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph)."
        },
        "triggerNumber": {
          "type": "string",
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfig",
      "description": "Configuration detail of a trigger.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringParameterArray": {
      "id": "EnterpriseCrmEventbusProtoStringParameterArray",
      "type": "object",
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryConfig": {
      "type": "object",
      "properties": {
        "isHidden": {
          "description": "Whether this field is hidden in the UI.",
          "type": "boolean"
        },
        "inputDisplayOption": {
          "type": "string",
          "enumDescriptions": [
            "A single-line input for strings, a numeric input box for numbers, or a checkbox for booleans.",
            "A multi-line input box for longer strings/string templates.",
            "A slider to select a numerical value. The default range is [0, 100].",
            "A toggle button for boolean parameters."
          ],
          "enum": [
            "DEFAULT",
            "STRING_MULTI_LINE",
            "NUMBER_SLIDER",
            "BOOLEAN_TOGGLE"
          ]
        },
        "parameterNameOption": {
          "type": "string",
          "enum": [
            "DEFAULT_NOT_PARAMETER_NAME",
            "IS_PARAMETER_NAME",
            "KEY_IS_PARAMETER_NAME",
            "VALUE_IS_PARAMETER_NAME"
          ],
          "enumDescriptions": [
            "This field is not a parameter name.",
            "If this field is a string and this option is selected, the field will be interpreted as a parameter name. Users will be able to choose a variable using the autocomplete, but the name will be stored as a literal string.",
            "If this field is a ParameterMap and this option is selected, the map's keys will be interpreted as parameter names. Ignored if this field is not a ParameterMap.",
            "If this field is a ParameterMap and this option is selected, the map's values will be interpreted as parameter names. Ignored if this field is not a ParameterMap."
          ]
        },
        "label": {
          "description": "A user-friendly label for the parameter.",
          "type": "string"
        },
        "subSectionLabel": {
          "type": "string",
          "description": "A user-friendly label for subSection under which the parameter will be displayed."
        },
        "hideDefaultValue": {
          "type": "boolean",
          "description": "Whether the default value is hidden in the UI."
        },
        "helpText": {
          "description": "Detailed help text for this parameter containing information not provided elsewhere. For example, instructions on how to migrate from a deprecated parameter.",
          "type": "string"
        },
        "descriptivePhrase": {
          "description": "A short phrase to describe what this parameter contains.",
          "type": "string"
        },
        "uiPlaceholderText": {
          "type": "string",
          "description": "Placeholder text which will appear in the UI input form for this parameter."
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats": {
      "properties": {
        "startTime": {
          "format": "int64",
          "type": "string",
          "description": "The start time of the task execution for current attempt. This could be in the future if it's been scheduled."
        },
        "endTime": {
          "format": "int64",
          "description": "The end time of the task execution for current attempt.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "description": "Range used to validate longs and ints.",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange",
      "properties": {
        "min": {
          "format": "int64",
          "description": "The inclusive minimum of the acceptable range.",
          "type": "string"
        },
        "max": {
          "type": "string",
          "description": "The inclusive maximum of the acceptable range.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoField": {
      "description": "Information about the value and type of the field. Next Id: 8",
      "id": "EnterpriseCrmEventbusProtoField",
      "type": "object",
      "properties": {
        "defaultValue": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "This holds the default values for the fields. This value is supplied by user so may or may not contain PII or SPII data. This field will be scrubbed using DatapolScrubber#maybeScrub() with go/proto-sanitizer#level3"
        },
        "cardinality": {
          "description": "By default, if the cardinality is unspecified the field is considered required while mapping.",
          "enumDescriptions": [
            "For fields with unspecified cardinality.",
            "If field cardinality is set to optional, ignore errors if input field value is null or the reference_key is not found."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "OPTIONAL"
          ]
        },
        "fieldType": {
          "description": "Specifies the data type of the field.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "referenceKey": {
          "description": "This holds the reference key of the workflow or task parameter. 1. Any workflow parameter, for e.g. $workflowParam1$. 2. Any task input or output parameter, for e.g. $task1_param1$. 3. Any workflow or task parameters with subfield references, for e.g., $task1_param1.employee.id$",
          "type": "string"
        },
        "transformExpression": {
          "$ref": "EnterpriseCrmEventbusProtoTransformExpression",
          "description": "This is the transform expression to fetch the input field value. for e.g. $param1$.CONCAT('test'). See go/transform-functions-design for more details. Keep points - 1. Only input field can have a transform expression. 2. If a transform expression is provided, reference_key will be ignored. 3. If no value is returned after evaluation of transform expression, default_value can be mapped if provided. 4. The field_type should be the type of the final object returned after the transform expression is evaluated. Scrubs the transform expression before logging as value provided by user so may or may not contain PII or SPII data."
        },
        "protoDefPath": {
          "description": "Optional. The fully qualified proto name (e.g. enterprise.crm.storage.Account). Required for output field of type PROTO_VALUE or PROTO_ARRAY. For e.g., if input field_type is BYTES and output field_type is PROTO_VALUE, then fully qualified proto type url should be provided to parse the input bytes. If field_type is *_ARRAY, then all the converted protos are of the same type.",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigSshPublicKey": {
      "id": "GoogleCloudConnectorsV1AuthConfigSshPublicKey",
      "properties": {
        "sshClientCert": {
          "$ref": "GoogleCloudConnectorsV1Secret",
          "description": "SSH Client Cert. It should contain both public and private key."
        },
        "certType": {
          "type": "string",
          "description": "Format of SSH Client cert."
        },
        "sshClientCertPass": {
          "description": "Password (passphrase) for ssh client certificate if it has one.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "username": {
          "type": "string",
          "description": "The user account used to authenticate."
        }
      },
      "description": "Parameters to support Ssh public key Authentication.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communiticate between different tasks that are part of the same workflow execution."
        }
      },
      "description": "LINT.IfChange This is the frontend version of WorkflowParameters. It's exactly like the backend version except that instead of flattening protobuf parameters and treating every field and subfield of a protobuf parameter as a separate parameter, the fields/subfields of a protobuf parameter will be nested as \"children\" (see 'children' field below) parameters of the parent parameter. Please refer to enterprise/crm/eventbus/proto/workflow_parameters.proto for more information about WorkflowParameters.",
      "id": "EnterpriseCrmFrontendsEventbusProtoWorkflowParameters"
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFunctionType",
      "properties": {
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction",
          "description": "LINT.ThenChange(//depot/google3/alkali/apps/integrationplatform/client/workflow_editor/utils/transform_function.ts)"
        },
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction",
          "description": "LINT.IfChange"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        }
      }
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesDataRow": {
      "type": "object",
      "properties": {
        "x": {
          "$ref": "EnterpriseCrmCardsCellValue"
        },
        "y": {
          "$ref": "EnterpriseCrmCardsCellValue"
        }
      },
      "description": "Aplos series row is exactly two columns labeled x and y.",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesDataRow"
    },
    "GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "description": "This message only contains a field of string array.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaStringParameterArray",
      "properties": {
        "stringValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "String array."
        }
      }
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "properties": {
        "doubleValues": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "properties": {
        "clientSecret": {
          "description": "Secret version reference containing the client secret.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        }
      },
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse": {
      "properties": {
        "regions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All regions where Connector Platform is provisioned."
        }
      },
      "type": "object",
      "description": "Response containing all provisioned regions for Connector Platform.",
      "id": "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse"
    },
    "EnterpriseCrmEventbusProtoScatterResponse": {
      "properties": {
        "scatterElement": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "The element that was scattered for this execution."
        },
        "isSuccessful": {
          "description": "If execution is sync, this is true if the execution passed and false if it failed. If the execution is async, this is true if the WF was fired off successfully, and false if it failed to execute. The success or failure of the subworkflows executed are not captured.",
          "type": "boolean"
        },
        "executionIds": {
          "type": "array",
          "description": "The execution ids of each Subworkflow fired by this scatter.",
          "items": {
            "type": "string"
          }
        },
        "errorMsg": {
          "type": "string",
          "description": "The error message of the failure if applicable."
        },
        "responseParams": {
          "type": "array",
          "description": "A list of all the response parameters in the aggregtorMap stored with the remapped key.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterEntry"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoScatterResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
      "type": "object",
      "properties": {
        "integrations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A bundle of integrations that can be executed by the task at runtime."
        },
        "serviceAccount": {
          "readOnly": true,
          "description": "Output only. The service account created and owned by IP and added to the customers GCP project.",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
      "description": "This proto holds the core runner data in the bundle task. It is not expected to be directly edited by the user. Instead, a default value will be provided at the task creation time."
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionResponse",
      "description": "Response for DeactivateIntegrationVersion."
    },
    "EnterpriseCrmCardsTabularData": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "EnterpriseCrmCardsRow"
          },
          "type": "array",
          "description": "Ordered list of table rows."
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Ordered list of column headers."
        }
      },
      "id": "EnterpriseCrmCardsTabularData",
      "type": "object",
      "description": "The generic data format returned from all connectors."
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "description": "Username and password pair.",
      "properties": {
        "password": {
          "type": "string",
          "description": "Password to be used"
        },
        "username": {
          "type": "string",
          "description": "Username to be used"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse": {
      "properties": {
        "executionSnapshots": {
          "type": "array",
          "description": "Required. The detailed information for the execution snapshot.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token returned in the previous response."
        }
      },
      "description": "Response for listing the integration execution snapshot.",
      "id": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoCondition": {
      "id": "EnterpriseCrmEventbusProtoCondition",
      "description": "Condition that uses `operator` to evaluate the key against the value.",
      "type": "object",
      "properties": {
        "operator": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSET",
            "EQUALS",
            "CONTAINS",
            "LESS_THAN",
            "GREATER_THAN",
            "EXISTS",
            "DOES_NOT_EXIST",
            "IS_EMPTY",
            "IS_NOT_EMPTY"
          ],
          "description": "Operator used to evaluate the condition. Please note that an operator with an inappropriate key/value operand will result in IllegalArgumentException, e.g. CONTAINS with boolean key/value pair."
        },
        "eventPropertyKey": {
          "description": "Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown.",
          "type": "string"
        },
        "value": {
          "description": "Value that's checked for the key.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecution": {
      "properties": {
        "directSubExecutions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "description": "Direct sub executions of the following Execution.",
          "type": "array"
        },
        "responseParams": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Event parameters come out as part of the response."
        },
        "requestParameters": {
          "type": "object",
          "description": "Event parameters come in as part of the request.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "executionMethod": {
          "enum": [
            "EXECUTION_METHOD_UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE"
          ],
          "description": "The ways user posts this event.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Sync post.",
            "Async post.",
            "Async post with schedule time."
          ]
        },
        "executionDetails": {
          "description": "Detailed info of this execution.",
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionDetails"
        },
        "name": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "eventExecutionDetails": {
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetails",
          "description": "The execution info about this event."
        },
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last modified time of the execution.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Created time of the execution.",
          "readOnly": true
        },
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "responseParameters": {
          "description": "Event parameters returned as part of the response.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "The Execution resource contains detailed information of an individual integration execution.",
      "id": "GoogleCloudIntegrationsV1alphaExecution"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        },
        "sfdcInstances": {
          "description": "The list of SfdcInstances retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse",
      "description": "Response to list SfdcInstances."
    },
    "GoogleCloudIntegrationsV1alphaJwt": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaJwt",
      "description": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected.",
      "properties": {
        "jwtHeader": {
          "type": "string",
          "description": "Identifies which algorithm is used to generate the signature."
        },
        "jwtPayload": {
          "description": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token.",
          "type": "string"
        },
        "secret": {
          "description": "User's pre-shared secret to sign the token.",
          "type": "string"
        },
        "jwt": {
          "description": "The token calculated by the header, payload and signature.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterEntry": {
      "type": "object",
      "description": "Key-value pair of EventBus parameters.",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType",
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message."
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterEntry"
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest": {
      "description": "Request for [Suspensions.ResolveSuspensions].",
      "properties": {
        "suspension": {
          "description": "Suspension, containing the event_execution_info_id, task_id, and state to set on the corresponding suspension record.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
    },
    "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata": {
      "properties": {
        "taskAttemptNum": {
          "description": "the task attempt number this snapshot belongs to. Could be empty.",
          "format": "int32",
          "type": "integer"
        },
        "taskNumber": {
          "description": "The task number associated with this snapshot. Could be empty.",
          "type": "string"
        },
        "eventAttemptNum": {
          "format": "int32",
          "type": "integer",
          "description": "the event attempt number this snapshot belongs to."
        },
        "taskName": {
          "description": "the task name associated with this snapshot. Could be empty.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoEventExecutionSnapshotEventExecutionSnapshotMetadata"
    },
    "EnterpriseCrmEventbusProtoAttributes": {
      "type": "object",
      "description": "Attributes are additional options that can be associated with each event property. For more information, see go/integration-platform/event_bus/attributes_registry.md. Next available: 8",
      "id": "EnterpriseCrmEventbusProtoAttributes",
      "properties": {
        "taskVisibility": {
          "description": "List of tasks that can view this property, if empty then all.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "searchable": {
          "enumDescriptions": [
            "",
            "If yes, the parameter key and value will be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified.",
            "If no, the parameter key and value will not be full-text indexed. In a proto, this value will propagate to all children whose searchable is unspecified."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "YES",
            "NO"
          ]
        },
        "defaultValue": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Used to define defaults."
        },
        "isRequired": {
          "description": "Required for event execution. The validation will be done by the event bus when the event is triggered.",
          "type": "boolean"
        },
        "isSearchable": {
          "type": "boolean",
          "description": "Used to indicate if a ParameterEntry should be converted to ParamIndexes for ST-Spanner full-text search. DEPRECATED: use searchable."
        },
        "logSettings": {
          "description": "See go/integration-platform/analytics/logging_task.md for details.",
          "$ref": "EnterpriseCrmEventbusProtoLogSettings"
        },
        "dataType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "Domain is a web url string with one top-level private domain and a suffix (for example: google.com, walmart.com)"
          ],
          "description": "Things like URL, Email, Currency, Timestamp (rather than string, int64...)",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "EMAIL",
            "URL",
            "CURRENCY",
            "TIMESTAMP",
            "DOMAIN_NAME"
          ],
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule": {
      "type": "object",
      "properties": {
        "intRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
        },
        "doubleRange": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
        },
        "stringRegex": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleStringRegex"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionResponse": {
      "description": "Response for cancelling an execution.",
      "properties": {
        "isCanceled": {
          "type": "boolean",
          "description": "True if cancellation performed successfully"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaIntegration": {
      "description": "The integration definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of the integration.",
          "type": "string"
        },
        "active": {
          "description": "Required. If any integration version is published.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Auto-generated.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaIntegration"
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "properties": {
        "parameters": {
          "description": "Optional. To be used in TaskConfig for the implementation class.",
          "$ref": "EnterpriseCrmEventbusProtoEventParameters"
        },
        "condition": {
          "type": "string",
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly."
        },
        "triggerCriteriaTaskImplementationClassName": {
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria"
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "description": "Represents external traffic type and id.",
      "type": "object",
      "properties": {
        "gcpProjectId": {
          "description": "User’s GCP project id the traffic is referring to.",
          "type": "string"
        },
        "gcpProjectNumber": {
          "type": "string",
          "description": "User’s GCP project number the traffic is referring to."
        },
        "location": {
          "type": "string",
          "description": "Location for the user's request."
        },
        "source": {
          "description": "LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ]
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "description": "To support various types of parameter values. Next available id: 14",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
      "type": "object",
      "properties": {
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        },
        "protoValue": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        },
        "jsonValue": {
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest": {
      "description": "Request for TakeoverEditLock.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest",
      "type": "object"
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Value for the \"iss\" claim."
        },
        "audience": {
          "type": "string",
          "description": "Value for the \"aud\" claim."
        },
        "subject": {
          "description": "Value for the \"sub\" claim.",
          "type": "string"
        }
      },
      "description": "JWT claims used for the jwt-bearer authorization grant."
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values."
        },
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        }
      },
      "description": "Key-value pair of EventBus property.",
[...]
