{
  "ownerName": "Google",
  "title": "Application Integration API",
  "protocol": "rest",
  "rootUrl": "https://integrations.googleapis.com/",
  "name": "integrations",
  "revision": "20221220",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaJwt": {
      "id": "GoogleCloudIntegrationsV1alphaJwt",
      "properties": {
        "secret": {
          "type": "string",
          "description": "User's pre-shared secret to sign the token."
        },
        "jwtHeader": {
          "type": "string",
          "description": "Identifies which algorithm is used to generate the signature."
        },
        "jwtPayload": {
          "type": "string",
          "description": "Contains a set of claims. The JWT specification defines seven Registered Claim Names which are the standard fields commonly included in tokens. Custom claims are usually also included, depending on the purpose of the token."
        },
        "jwt": {
          "type": "string",
          "description": "The token calculated by the header, payload and signature."
        }
      },
      "type": "object",
      "description": "Represents JSON web token(JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties, enabling the claims to be digitally signed or integrity protected."
    },
    "EnterpriseCrmLoggingGwsSanitizeOptions": {
      "description": "Identifies whether a field contains, or may contain, PII or sensitive data, and how to sanitize the field if it does. If a field's privacy type cannot be determined then it is sanitized (e.g., scrubbed). The specific sanitizer implementation is determined by run-time configuration and environment options (e.g., prod vs. qa). next_id: 5",
      "type": "object",
      "properties": {
        "logType": {
          "items": {
            "type": "string",
            "enum": [
              "LOG_TYPE_UNSPECIFIED",
              "GWS",
              "GTS",
              "ALL"
            ],
            "enumDescriptions": [
              "",
              "Limits apply when log detail records are written to GWS.",
              "Limits apply when log detail records are written to GTS (e.g., RecordIO files).",
              "Limits apply to *all* output log types."
            ]
          },
          "description": "To which type(s) of logs the sanitize options apply.",
          "type": "array"
        },
        "privacy": {
          "enum": [
            "PRIVACY_TYPE_UNSPECIFIED",
            "NOT_PII",
            "PII",
            "SPII",
            "UNSURE"
          ],
          "enumDescriptions": [
            "",
            "Field does *NOT* contain PII or sensitive data.",
            "Field contains PII.",
            "Field contains Sensitive PII.",
            "Unsure if field contains PII."
          ],
          "type": "string"
        },
        "isAlreadySanitized": {
          "description": "If true, the value has already been sanitized and needs no further sanitization. For instance, a D3 customer id is already an obfuscated entity and *might not* need further sanitization.",
          "type": "boolean"
        },
        "sanitizeType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Replace value with a scrubbed value (usu. a constant).",
            "Transform a value so that it cannot be tracked across events. However, a given value, is transformed to the same value *within* an event. E.g., \"foo.com\" is transformed to \"0xabcdef\" for event 1001, and to \"0xfedcba\" for event 1002.",
            "Transform values as with ANONYMIZER, but the same transformation is repeated for a limited time (e.g., 1 day).",
            "The value is transformed using a well-defined obfuscator (e.g., D3_CUSTOMER_ID).",
            "The value is encrypted.",
            "No sanitization is required."
          ],
          "enum": [
            "SANITIZE_TYPE_UNSPECIFIED",
            "SCRUB",
            "ANONYMIZE",
            "ANONYMIZE_LIMITED_REPEATABLE",
            "OBFUSCATE",
            "ENCRYPT",
            "DO_NOT_SANITIZE"
          ]
        }
      },
      "id": "EnterpriseCrmLoggingGwsSanitizeOptions"
    },
    "EnterpriseCrmEventbusProtoTaskUiConfig": {
      "id": "EnterpriseCrmEventbusProtoTaskUiConfig",
      "properties": {
        "taskUiModuleConfigs": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
          },
          "description": "Configurations of included config modules.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Task authors would use this type to configure the UI for a particular task by specifying what UI config modules should be included to compose the UI. Learn more about config module framework: go/integration-platform-config-module-framework"
    },
    "CrmlogErrorCode": {
      "type": "object",
      "properties": {
        "commonErrorCode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only.",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT is for eventbus internal use only. This error will be counted as server availability error.",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "COMMON_ERROR_CODE_UNSPECIFIED",
            "INVALID_CREDENTIALS",
            "REQUIRED_FIELDS_MISSING",
            "INVALID_FIELDS",
            "BACKEND",
            "GENERAL",
            "INTERNAL",
            "IO_ERROR",
            "NOT_FOUND",
            "EVENT_BUS",
            "ALREADY_EXISTS",
            "CONCORD",
            "CONVERSION",
            "FLUME",
            "PERMISSION",
            "SALES_FORCE",
            "SPANNER",
            "UNIMPLEMENTED",
            "RELTIO",
            "WORKFLOW_NOT_FOUND",
            "QUOTA_THROTTLED",
            "QUOTA_ENQUEUED",
            "INVALID_QUOTA_CONFIGURATION",
            "TASK_NOT_FOUND",
            "EXECUTION_TIMEOUT",
            "INVALID_EVENT_EXECUTION_STATE",
            "INVALID_ATTRIBUTE",
            "MISSING_ATTRIBUTE",
            "CLIENT_UNAUTHORIZED_FOR_WORKFLOW",
            "INVALID_PARAMETER",
            "MISSING_PARAMETER",
            "UNAUTHROIZED_WORKFLOW_EDITOR_ACTION",
            "FAILED_PRECONDITION",
            "INVALID_CLIENT",
            "MISSING_CLIENT",
            "INVALID_WORKFLOW",
            "MISSING_QUOTA_CONFIGURATION",
            "UNHANDLED_TASK_ERROR",
            "SCRIPT_TASK_RUNTIME_ERROR",
            "RPC",
            "INVALID_PROTO",
            "UNHANDLED_EVENTBUS_ERROR",
            "INVALID_TASK_STATE",
            "TYPED_TASK_INVALID_INPUT_OPERATION",
            "TYPED_TASK_INVALID_OUTPUT_OPERATION",
            "VALIDATION_ERROR",
            "RESUME_ERROR",
            "APPS_SCRIPT_EXECUTION_ERROR",
            "INVALID_VECTOR_USER",
            "INFORMATICA",
            "RETRYABLE_TASK_ERROR",
            "INVALID_TENANT",
            "WRONG_TENANT",
            "INFORMATICA_BACKEND_UNAVAILABLE",
            "RPC_PERMISSION_DENIED",
            "SYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "ASYNC_EVENTBUS_EXECUTION_TIMEOUT",
            "NOT_SUPPORTED_DATA_TYPE",
            "UNSANITIZED_USER_INPUT",
            "TRANSFORM_EXPRESSION_EVALUATION_ERROR",
            "HTTP_EXCEPTION",
            "EXECUTION_CANCELLED"
          ]
        }
      },
      "id": "CrmlogErrorCode",
      "description": "Registered ids for errors, as \"oneof\" enums. Each task or logical grouping of tasks may share the same enum."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterValueType": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
      "description": "To support various types of parameter values. Next available id: 14",
      "properties": {
        "booleanArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
        },
        "intValue": {
          "format": "int64",
          "type": "string"
        },
        "protoArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "intArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoIntParameterArray"
        },
        "stringValue": {
          "type": "string"
        },
        "serializedObjectValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter"
        },
        "jsonValue": {
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "protoValue": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoStringParameterArray"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse": {
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The created AppsScriptProject ID."
        }
      },
      "type": "object",
      "description": "Response for CreateAppsScriptProject rpc call."
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest",
      "description": "The request for executing an integration.",
      "type": "object",
      "properties": {
        "doNotPropagateError": {
          "description": "Optional. Flag to determine how to should propagate errors. If this flag is set to be true, it will not throw an exception. Instead, it will return a {@link ExecuteIntegrationsResponse} with an execution id and error messages as PostWithTriggerIdExecutionException in {@link EventParameters}. The flag is set to be false by default.",
          "type": "boolean"
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object",
          "description": "Optional. Input parameters used by integration execution."
        },
        "triggerId": {
          "description": "Required. Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id). The trigger_id is in the format of `api_trigger/TRIGGER_NAME`.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "Optional. The id of the ON_HOLD execution to be resumed."
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned.",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. Passed in as parameters to each integration execution. Redacted",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "parameterEntries": {
          "description": "Optional. Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTaskExecutionDetails": {
      "type": "object",
      "description": "Contains the details of the execution of this task.",
      "id": "GoogleCloudIntegrationsV1alphaTaskExecutionDetails",
      "properties": {
        "taskAttemptStats": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          },
          "type": "array",
          "description": "Status for the current task execution attempt."
        },
        "taskExecutionState": {
          "enum": [
            "TASK_EXECUTION_STATE_UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELLED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ],
          "type": "string",
          "description": "The execution state of this task.",
          "enumDescriptions": [
            "Default value.",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ]
        },
        "taskNumber": {
          "type": "string",
          "description": "Pointer to the task config it used for execution."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaListSuspensionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse",
      "properties": {
        "suspensions": {
          "description": "The suspensions for the relevant execution which the caller has permissions to view and resolve.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results."
        }
      },
      "type": "object",
      "description": "Response for Suspensions.ListSuspensions."
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoStringArray",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudConnectorsV1Destination": {
      "id": "GoogleCloudConnectorsV1Destination",
      "properties": {
        "host": {
          "description": "For publicly routable host.",
          "type": "string"
        },
        "port": {
          "description": "The port is the target port number that is accepted by the destination.",
          "type": "integer",
          "format": "int32"
        },
        "serviceAttachment": {
          "description": "PSC service attachments. Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaSuccessPolicy": {
      "type": "object",
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "properties": {
        "finalState": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "type": "string",
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "enum": [
            "FINAL_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ]
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaSuccessPolicy"
    },
    "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue": {
      "id": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue",
      "properties": {
        "percentage": {
          "type": "integer",
          "format": "int32"
        },
        "absolute": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "The threshold value of the metric, above or below which the alert should be triggered. See EventAlertConfig or TaskAlertConfig for the different alert metric types in each case. For the *RATE metrics, one or both of these fields may be set. Zero is the default value and can be left at that. For *PERCENTILE_DURATION metrics, one or both of these fields may be set, and also, the duration threshold value should be specified in the threshold_duration_ms member below. For *AVERAGE_DURATION metrics, these fields should not be set at all. A different member, threshold_duration_ms, must be set in the EventAlertConfig or the TaskAlertConfig. See go/eventbus-alert-config-examples"
    },
    "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest",
      "properties": {
        "appsScriptProject": {
          "type": "string",
          "description": "The name of the Apps Script project to be created."
        },
        "authConfigId": {
          "type": "string",
          "description": "The auth config id necessary to fetch the necessary credentials to create the project for external clients"
        }
      },
      "description": "Request for CreateAppsScriptProject rpc call."
    },
    "GoogleCloudConnectorsV1Secret": {
      "properties": {
        "secretVersion": {
          "type": "string",
          "description": "The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`."
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1Secret",
      "description": "Secret provides a reference to entries in Secret Manager."
    },
    "GoogleCloudConnectorsV1ConnectionStatus": {
      "description": "ConnectionStatus indicates the state of the connection.",
      "type": "object",
      "id": "GoogleCloudConnectorsV1ConnectionStatus",
      "properties": {
        "state": {
          "type": "string",
          "description": "State.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "UPDATING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Connection does not have a state yet.",
            "Connection is being created.",
            "Connection is running and ready for requests.",
            "Connection is stopped.",
            "Connection is being deleted.",
            "Connection is being updated.",
            "Connection is not running due to an error."
          ]
        },
        "status": {
          "description": "Status provides detailed information for the state.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray": {
      "type": "object",
      "properties": {
        "doubleValues": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoDoubleParameterArray"
    },
    "EnterpriseCrmEventbusProtoFieldMappingConfig": {
      "description": "Field Mapping Config to map multiple output fields values from input fields values. Next id: 2",
      "properties": {
        "mappedFields": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoMappedField"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoFieldMappingConfig",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFunctionType": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFunctionType",
      "properties": {
        "booleanArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanArrayFunction"
        },
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBaseFunction",
          "description": "LINT.IfChange"
        },
        "jsonFunction": {
          "$ref": "EnterpriseCrmEventbusProtoJsonFunction",
          "description": "LINT.ThenChange(//depot/google3/alkali/apps/integrationplatform/client/workflow_editor/utils/transform_function.ts)"
        },
        "intArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntArrayFunction"
        },
        "protoFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoFunction"
        },
        "stringFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringFunction"
        },
        "intFunction": {
          "$ref": "EnterpriseCrmEventbusProtoIntFunction"
        },
        "doubleFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleFunction"
        },
        "protoArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoProtoArrayFunction"
        },
        "booleanFunction": {
          "$ref": "EnterpriseCrmEventbusProtoBooleanFunction"
        },
        "doubleArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArrayFunction"
        },
        "stringArrayFunction": {
          "$ref": "EnterpriseCrmEventbusProtoStringArrayFunction"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
      "description": "This proto holds the core runner data in the bundle task. It is not expected to be directly edited by the user. Instead, a default value will be provided at the task creation time.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service account created and owned by IP and added to the customers GCP project."
        },
        "integrations": {
          "description": "A bundle of integrations that can be executed by the task at runtime.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EnterpriseCrmEventbusProtoProtoParameterArray": {
      "type": "object",
      "properties": {
        "protoValues": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoProtoParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse",
      "type": "object",
      "properties": {
        "noPermission": {
          "description": "Whether the user has no permission on the version or not.",
          "type": "boolean"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "integrationVersions": {
          "type": "array",
          "description": "The integrations which match the request.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
          }
        }
      },
      "description": "Response for ListIntegrationVersions."
    },
    "GoogleCloudConnectorsV1Connection": {
      "description": "Connection represents an instance of connector.",
      "id": "GoogleCloudConnectorsV1Connection",
      "properties": {
        "nodeConfig": {
          "$ref": "GoogleCloudConnectorsV1NodeConfig",
          "description": "Optional. Node configuration for the connection."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Updated time.",
          "format": "google-datetime"
        },
        "destinationConfigs": {
          "description": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s).",
          "items": {
            "$ref": "GoogleCloudConnectorsV1DestinationConfig"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}"
        },
        "suspended": {
          "description": "Optional. Suspended indicates if a user has suspended a connection or not.",
          "type": "boolean"
        },
        "connectorVersion": {
          "type": "string",
          "description": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource."
        },
        "authConfig": {
          "$ref": "GoogleCloudConnectorsV1AuthConfig",
          "description": "Optional. Configuration for establishing the connection's authentication with an external system."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        },
        "imageLocation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
        },
        "serviceDirectory": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\""
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Service account needed for runtime plane to access GCP resources."
        },
        "configVariables": {
          "description": "Optional. Configuration for configuring the connection with an external system.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        },
        "envoyImageLocation": {
          "readOnly": true,
          "description": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "type": "string"
        },
        "status": {
          "$ref": "GoogleCloudConnectorsV1ConnectionStatus",
          "description": "Output only. Current status of the connection.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Created time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "lockConfig": {
          "$ref": "GoogleCloudConnectorsV1LockConfig",
          "description": "Optional. Configuration that indicates whether or not the Connection can be edited."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig",
      "properties": {
        "jsonValidationOption": {
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "type": "string",
          "description": "If set, overrides the option configured in the Task implementation class.",
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        },
        "alertConfigs": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          },
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc."
        },
        "lastModifiedTime": {
          "description": "Auto-generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "label": {
          "description": "User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description intended to give more business context about the task.",
          "type": "string"
        },
        "taskTemplateName": {
          "type": "string",
          "description": "Used to define task-template name if task is of type task-template"
        },
        "precondition": {
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task.",
          "type": "string"
        },
        "successPolicy": {
          "description": "Determines what action to take upon successful task completion.",
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy"
        },
        "parameters": {
          "type": "object",
          "description": "The customized parameters the user can pass to this task.",
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        },
        "position": {
          "$ref": "EnterpriseCrmEventbusProtoCoordinate",
          "description": "Optional. Informs the front-end application where to draw this task config on the UI."
        },
        "disableStrictTypeValidation": {
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter.",
          "type": "boolean"
        },
        "nextTasksExecutionPolicy": {
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "type": "string",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ]
        },
        "nextTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "type": "array",
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true."
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "taskNumber": {
          "type": "string",
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`)."
        },
        "rollbackStrategy": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy",
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times)."
        },
        "preconditionLabel": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to precondition in the UI."
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "taskType": {
          "description": "Defines the type of the task",
          "type": "string",
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ]
        },
        "incomingEdgeCount": {
          "type": "integer",
          "description": "The number of edges leading into this TaskConfig.",
          "format": "int32"
        },
        "taskEntity": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
          "description": "Copy of the task entity that this task config is an instance of."
        },
        "taskSpec": {
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field. Please refer to go/eventbus-task-spec-example for detailed usage example.",
          "type": "string"
        },
        "taskExecutionStrategy": {
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "description": "The policy dictating the execution strategy of this task.",
          "type": "string",
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Auto-generated.",
          "type": "string"
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "taskName": {
          "description": "The name for the task.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27"
    },
    "GoogleCloudConnectorsV1LockConfig": {
      "description": "Determines whether or no a connection is locked. If locked, a reason must be specified.",
      "properties": {
        "locked": {
          "type": "boolean",
          "description": "Indicates whether or not the connection is locked."
        },
        "reason": {
          "description": "Describes why a connection is locked.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudConnectorsV1LockConfig"
    },
    "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse": {
      "description": "Response to list SfdcChannels.",
      "properties": {
        "nextPageToken": {
          "description": "The token used to retrieve the next page of results.",
          "type": "string"
        },
        "sfdcChannels": {
          "description": "The list of SfdcChannels retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoDoubleFunction": {
      "id": "EnterpriseCrmEventbusProtoDoubleFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "TO_STRING",
            "ADD",
            "SUBTRACT",
            "MULTIPLY",
            "DIVIDE",
            "EXPONENT",
            "ROUND",
            "FLOOR",
            "CEIL",
            "GREATER_THAN",
            "LESS_THAN",
            "EQUALS",
            "GREATER_THAN_EQUALS",
            "LESS_THAN_EQUALS",
            "MOD"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSerializedObjectParameter": {
      "id": "EnterpriseCrmEventbusProtoSerializedObjectParameter",
      "type": "object",
      "properties": {
        "objectValue": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "properties": {
        "serviceAccountEmail": {
          "description": "The service account email to be used as the identity for the token.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "ID token obtained for the service account"
        },
        "tokenExpireTime": {
          "format": "google-datetime",
          "description": "The approximate time until the token retrieved is valid.",
          "type": "string"
        },
        "audience": {
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "OIDC Token",
      "id": "GoogleCloudIntegrationsV1alphaOidcToken"
    },
    "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter": {
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoSerializedObjectParameter",
      "properties": {
        "objectValue": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParameterMap": {
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "id": "EnterpriseCrmEventbusProtoParameterMap",
      "type": "object",
      "properties": {
        "keyType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "Option to specify key value type for all entries of the map. If provided then field types for all entries must conform to this.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ]
        },
        "valueType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "type": "string"
        },
        "entries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoParameterMapEntry"
          }
        }
      }
    },
    "GoogleCloudConnectorsV1NodeConfig": {
      "id": "GoogleCloudConnectorsV1NodeConfig",
      "properties": {
        "maxNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of nodes in the runtime nodes."
        },
        "minNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of nodes in the runtime nodes."
        }
      },
      "description": "Node configuration for the connection.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionRequest",
      "description": "Request for cancelling an execution.",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaUpdateBundleResponse": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "Contains updated bundle config"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaUpdateBundleResponse",
      "description": "Response message for Bundle update",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaCertificate": {
      "type": "object",
      "properties": {
        "credentialId": {
          "description": "Immutable. Credential id that will be used to register with trawler INTERNAL_ONLY",
          "type": "string"
        },
        "certificateStatus": {
          "description": "Status of the certificate",
          "type": "string",
          "enumDescriptions": [
            "Unspecified certificate status",
            "Certificate in active state will be able to use",
            "Certificate in expired state needs to be updated"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Description of the certificate"
        },
        "validStartTime": {
          "description": "Output only. The timestamp after which certificate will be valid",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "rawCertificate": {
          "$ref": "GoogleCloudIntegrationsV1alphaClientCertificate",
          "description": "Input only. Raw client certificate which would be registered with trawler"
        },
        "requestorId": {
          "type": "string",
          "description": "Immutable. Requestor ID to be used to register certificate with trawler"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Auto generated primary key",
          "type": "string"
        },
        "displayName": {
          "description": "Name of the certificate",
          "type": "string"
        },
        "validEndTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp after which certificate will expire"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaCertificate",
      "description": "The certificate definition"
    },
    "GoogleCloudIntegrationsV1alphaAuthConfig": {
      "id": "GoogleCloudIntegrationsV1alphaAuthConfig",
      "properties": {
        "overrideValidTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "User provided expiry time to override. For the example of Salesforce, username/password credentials can be valid for 6 months depending on the instance settings."
        },
        "reason": {
          "type": "string",
          "description": "The reason / details of the current status."
        },
        "validTime": {
          "type": "string",
          "description": "The time until the auth config is valid. Empty or max value is considered the auth config won't expire.",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "A description of the auth config."
        },
        "creatorEmail": {
          "description": "The creator's email address. Generated based on the End User Credentials/LOAS role of the user making the call.",
          "type": "string"
        },
        "credentialType": {
          "description": "Credential type of the encrypted credential.",
          "type": "string",
          "enum": [
            "CREDENTIAL_TYPE_UNSPECIFIED",
            "USERNAME_AND_PASSWORD",
            "API_KEY",
            "OAUTH2_AUTHORIZATION_CODE",
            "OAUTH2_IMPLICIT",
            "OAUTH2_CLIENT_CREDENTIALS",
            "OAUTH2_RESOURCE_OWNER_CREDENTIALS",
            "JWT",
            "AUTH_TOKEN",
            "SERVICE_ACCOUNT",
            "CLIENT_CERTIFICATE_ONLY",
            "OIDC_TOKEN"
          ],
          "enumDescriptions": [
            "Unspecified credential type",
            "Regular username/password pair.",
            "API key.",
            "OAuth 2.0 Authorization Code Grant Type.",
            "OAuth 2.0 Implicit Grant Type.",
            "OAuth 2.0 Client Credentials Grant Type.",
            "OAuth 2.0 Resource Owner Credentials Grant Type.",
            "JWT Token.",
            "Auth Token, e.g. bearer token.",
            "Service Account which can be used to generate token for authentication.",
            "Client Certificate only.",
            "Google OIDC ID Token"
          ]
        },
        "expiryNotificationDuration": {
          "items": {
            "type": "string",
            "format": "google-duration"
          },
          "description": "User can define the time to receive notification after which the auth config becomes invalid. Support up to 30 days. Support granularity in hours.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Status not specified.",
            "Valid Auth config.",
            "General invalidity, if it doesn't fits in the detailed issue below.",
            "Auth config soft deleted.",
            "Auth config expired.",
            "Auth config unauthorized.",
            "Auth config not supported."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "SOFT_DELETED",
            "EXPIRED",
            "UNAUTHORIZED",
            "UNSUPPORTED"
          ],
          "description": "The status of the auth config.",
          "type": "string"
        },
        "lastModifierEmail": {
          "type": "string",
          "description": "The last modifier's email address. Generated based on the End User Credentials/LOAS role of the user making the call."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the auth config."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the auth config is modified.",
          "readOnly": true,
          "type": "string"
        },
        "decryptedCredential": {
          "description": "Raw auth credentials.",
          "$ref": "GoogleCloudIntegrationsV1alphaCredential"
        },
        "certificateId": {
          "type": "string",
          "description": "Certificate id for client certificate"
        },
        "encryptedCredential": {
          "format": "byte",
          "description": "Auth credential encrypted by Cloud KMS. Can be decrypted as Credential with proper KMS key.",
          "type": "string"
        },
        "visibility": {
          "enumDescriptions": [
            "Visibility not specified.",
            "Profile visible to the creator only.",
            "Profile visible within the client."
          ],
          "enum": [
            "AUTH_CONFIG_VISIBILITY_UNSPECIFIED",
            "PRIVATE",
            "CLIENT_VISIBLE"
          ],
          "description": "The visibility of the auth config.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the auth config is created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/authConfigs/{authConfig}.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The AuthConfig resource use to hold channels and connection config data."
    },
    "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy": {
      "properties": {
        "rollbackTaskImplementationClassName": {
          "type": "string",
          "description": "Required. This is the name of the task that needs to be executed upon rollback of this task."
        },
        "parameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Optional. The customized parameters the user can pass to this task."
        },
        "taskNumbersToRollback": {
          "items": {
            "type": "string"
          },
          "description": "Required. These are the tasks numbers of the tasks whose `rollback_strategy.rollback_task_implementation_class_name` needs to be executed upon failure of this task.",
          "type": "array"
        }
      },
      "description": "Next available id: 4",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig": {
      "description": "Union operation",
      "properties": {
        "reducer": {
          "description": "Optional. optional, reduce function",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeUnionConfig"
    },
    "EnterpriseCrmEventbusProtoIntArray": {
      "properties": {
        "values": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoIntArray",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTeardownTaskConfig": {
      "properties": {
        "properties": {
          "$ref": "EnterpriseCrmEventbusProtoEventBusProperties"
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "The parameters the user can pass to this task."
        },
        "name": {
          "description": "Required. Unique identifier of the teardown task within this Config. We use this field as the identifier to find next teardown tasks.",
          "type": "string"
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address."
        },
        "nextTeardownTask": {
          "$ref": "EnterpriseCrmEventbusProtoNextTeardownTask"
        },
        "teardownTaskImplementationClassName": {
          "type": "string",
          "description": "Required. Implementation class name."
        }
      },
      "id": "EnterpriseCrmEventbusProtoTeardownTaskConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaBooleanParameterArray": {
      "properties": {
        "booleanValues": {
          "type": "array",
          "description": "Boolean array.",
          "items": {
            "type": "boolean"
          }
        }
      },
      "description": "This message only contains a field of boolean array.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaBooleanParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse",
      "type": "object",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "The id of the execution corresponding to this run of integration."
        },
        "parameterEntries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        },
        "outputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "OUTPUT parameters in format of Map. Where Key is the name of the parameter. Note: Name of the system generated parameters are wrapped by backtick(`) to distinguish them from the user defined parameters."
        },
        "executionFailed": {
          "description": "Is true if any execution in the integration failed. False otherwise.",
          "type": "boolean"
        },
        "eventParameters": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
          "description": "Details for the integration that were executed."
        }
      },
      "description": "The response for executing an integration."
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
      "description": "MashQuery GroupBy parameters.",
      "properties": {
        "reducer": {
          "description": "Optional. optional, reduce function for GroupBy.",
          "type": "string"
        },
        "fields": {
          "description": "Optional. optional, metrics list for GroupBy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest": {
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest",
      "properties": {
        "parameterEntries": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same integration execution."
        },
        "inputParameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object",
          "description": "Optional. Input parameters used by integration execution."
        },
        "requestId": {
          "type": "string",
          "description": "This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned."
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each integration execution."
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all integrations. i.e. TriggerConfig.trigger_id.equals(trigger_id)"
        },
        "scheduleTime": {
          "description": "The time that the integration should be executed. If the time is less or equal to the current time, the integration is executed immediately.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request for scheduling an integration."
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims": {
      "type": "object",
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2JwtBearerJwtClaims",
      "description": "JWT claims used for the jwt-bearer authorization grant.",
      "properties": {
        "issuer": {
          "description": "Value for the \"iss\" claim.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "Value for the \"sub\" claim."
        },
        "audience": {
          "description": "Value for the \"aud\" claim.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "properties": {
        "max": {
          "type": "number",
          "format": "double",
          "description": "The inclusive maximum of the acceptable range."
        },
        "min": {
          "type": "number",
          "description": "The inclusive minimum of the acceptable range.",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Range used to validate doubles and floats.",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange"
    },
    "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest": {
      "type": "object",
      "description": "Request for [Suspensions.ResolveSuspensions].",
      "properties": {
        "suspension": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspension",
          "description": "Suspension, containing the event_execution_info_id, task_id, and state to set on the corresponding suspension record."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
    },
    "EnterpriseCrmEventbusProtoJsonFunction": {
      "type": "object",
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "next id: 24"
          ],
          "enum": [
            "UNSPECIFIED",
            "GET_PROPERTY",
            "GET_ELEMENT",
            "APPEND_ELEMENT",
            "SIZE",
            "SET_PROPERTY",
            "FLATTEN",
            "FLATTEN_ONCE",
            "MERGE",
            "TO_STRING",
            "TO_INT",
            "TO_DOUBLE",
            "TO_BOOLEAN",
            "TO_PROTO",
            "TO_STRING_ARRAY",
            "TO_INT_ARRAY",
            "TO_DOUBLE_ARRAY",
            "TO_PROTO_ARRAY",
            "TO_BOOLEAN_ARRAY",
            "REMOVE_PROPERTY",
            "RESOLVE_TEMPLATE",
            "EQUALS",
            "FOR_EACH",
            "FILTER_ELEMENTS"
          ],
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoJsonFunction"
    },
    "EnterpriseCrmEventbusProtoSuccessPolicy": {
      "properties": {
        "finalState": {
          "enumDescriptions": [
            "",
            "The default behavior, where successful tasks will be marked as SUCCEEDED.",
            "Sets the state to SUSPENDED after executing. This is required for SuspensionTask; event execution will continue once the user calls ResolveSuspensions with the event_execution_info_id and the task number."
          ],
          "enum": [
            "UNSPECIFIED",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "description": "State to which the execution snapshot status will be set if the task succeeds.",
          "type": "string"
        }
      },
      "description": "Policy that dictates the behavior for the task after it completes successfully.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuccessPolicy"
    },
    "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest": {
      "description": "Use this request to post all workflows associated with a given trigger id. Next available id: 10",
      "type": "object",
      "properties": {
        "testMode": {
          "description": "Optional. Sets test mode in {@link enterprise/crm/eventbus/event_message.proto}.",
          "type": "boolean"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. This is used to de-dup incoming request: if the duplicate request was detected, the response from the previous execution is returned. Must have no more than 36 characters and contain only alphanumeric characters and hyphens."
        },
        "ignoreErrorIfNoActiveWorkflow": {
          "type": "boolean",
          "description": "Optional. Flag to determine whether clients would suppress a warning when no ACTIVE workflows are not found. If this flag is set to be true, an error will not be thrown if the requested trigger_id or client_id is not found in any ACTIVE workflow. Otherwise, the error is always thrown. The flag is set to be false by default."
        },
        "triggerId": {
          "type": "string",
          "description": "Matched against all {@link TriggerConfig}s across all workflows. i.e. TriggerConfig.trigger_id.equals(trigger_id) Required."
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Passed in as parameters to each workflow execution. Optional."
        },
        "workflowName": {
          "description": "Optional. If provided, the workflow_name is used to filter all the matched workflows having same trigger_id+client_id. A combination of trigger_id, client_id and workflow_name identifies a unique workflow.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. If the client id is provided, then the combination of trigger id and client id is matched across all the workflows. If the client id is not provided, then workflows with matching trigger id are executed for each client id in the {@link TriggerConfig}. For Api Trigger, the client id is required and will be validated against the allowed clients.",
          "type": "string"
        },
        "scheduledTime": {
          "type": "string",
          "description": "Optional. Time in milliseconds since epoch when the given event would be scheduled.",
          "format": "int64"
        },
        "priority": {
          "enum": [
            "UNSPCIFIED",
            "SHEDDABLE",
            "SHEDDABLE_PLUS",
            "CRITICAL",
            "CRITICAL_PLUS"
          ],
          "description": "The request priority this request should be processed at. For internal users:",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Frequent partial and occasional full unavailability is expected and not pageable. * Requests to this band will be shed before all other requests. * This is the default for async calls sent from batch jobs.",
            "Partial unavailability is expected and is not necessarily pageable. * Requests to this band will be shed before any critical traffic. * This is the default for async calls sent from production jobs.",
            "Any outage is a pageable event. * During a production outage requests in this band will only be shed before CRITICAL_PLUS. * This is the default for sync calls sent from production jobs.",
            "Any outage is a pageable event. * The guideline is for \u003c 10% of requests to a service to be in this band. * During a production outage requests in this band will be prioritized above all others. * Opt-in to CRITICAL_PLUS when your workflow triggers by human."
          ]
        }
      },
      "id": "GoogleInternalCloudCrmEventbusV3PostToQueueWithTriggerIdRequest"
    },
    "EnterpriseCrmEventbusProtoParameterMapField": {
      "description": "Field represents either the key or value in an entry.",
      "type": "object",
      "properties": {
        "literalValue": {
          "description": "Passing a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "referenceKey": {
          "description": "Referencing one of the WF variables.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParameterMapField"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          }
        }
      },
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "type": "object",
      "properties": {
        "location": {
          "description": "Location for the user's request.",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "User’s GCP project id the traffic is referring to."
        },
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)"
        },
        "gcpProjectNumber": {
          "type": "string",
          "description": "User’s GCP project number the traffic is referring to."
        }
      },
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "description": "Represents external traffic type and id."
    },
    "EnterpriseCrmEventbusProtoCloudSchedulerConfig": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. The location where associated cloud scheduler job will be created"
        },
        "errorMessage": {
          "type": "string",
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations"
        },
        "serviceAccountEmail": {
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time",
          "type": "string"
        },
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        }
      },
      "description": "Cloud Scheduler Trigger configuration",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
    },
    "EnterpriseCrmEventbusProtoStringArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoStringArrayFunction",
      "properties": {
        "functionName": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ]
        }
      },
      "type": "object"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesData": {
      "type": "object",
      "description": "Data used to render an Aplos Series card.",
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesData",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesDataRow"
          },
          "description": "A single Series Row"
        }
      }
    },
    "EnterpriseCrmEventbusProtoBooleanFunction": {
      "properties": {
        "functionName": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "TO_JSON",
            "NOT",
            "AND",
            "NAND",
            "OR",
            "XOR",
            "NOR",
            "XNOR",
            "TO_STRING",
            "EQUALS"
          ]
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoBooleanFunction"
    },
    "EnterpriseCrmEventbusProtoBaseValue": {
      "id": "EnterpriseCrmEventbusProtoBaseValue",
      "properties": {
        "baseFunction": {
          "$ref": "EnterpriseCrmEventbusProtoFunction",
          "description": "Start with a function that does not build on existing values. Eg. CurrentTime, Min, Max, Exists, etc."
        },
        "literalValue": {
          "description": "Start with a literal value.",
          "$ref": "EnterpriseCrmEventbusProtoParameterValueType"
        },
        "referenceValue": {
          "description": "Start with a reference value to dereference.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusStats": {
      "properties": {
        "qps": {
          "format": "double",
          "type": "number",
          "description": "Queries per second."
        },
        "warningRate": {
          "description": "Average warning rate.",
          "type": "number",
          "format": "double"
        },
        "durationInSeconds": {
          "description": "Average duration in seconds.",
          "type": "number",
          "format": "double"
        },
        "errorRate": {
          "type": "number",
          "description": "Average error rate.",
          "format": "double"
        },
        "dimensions": {
          "description": "Dimensions that these stats have been aggregated on.",
          "$ref": "EnterpriseCrmEventbusStatsDimensions"
        }
      },
      "description": "Stats for the requested dimensions: QPS, duration, and error/warning rate",
      "id": "EnterpriseCrmEventbusStats",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTriggerCriteria": {
      "id": "EnterpriseCrmEventbusProtoTriggerCriteria",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string",
          "description": "Required. Standard filter expression, when true the workflow will be executed. If there's no trigger_criteria_task_implementation_class_name specified, the condition will be validated directly."
        },
        "parameters": {
          "$ref": "EnterpriseCrmEventbusProtoEventParameters",
          "description": "Optional. To be used in TaskConfig for the implementation class."
        },
        "triggerCriteriaTaskImplementationClassName": {
          "description": "Optional. Implementation class name. The class should implement the “TypedTask” interface.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaStringParameterArray": {
      "properties": {
        "stringValues": {
          "description": "String array.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "This message only contains a field of string array.",
      "id": "GoogleCloudIntegrationsV1alphaStringParameterArray"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry"
          }
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecsMessage"
    },
    "EnterpriseCrmEventbusProtoNotification": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNotification",
      "properties": {
        "buganizerNotification": {
          "$ref": "EnterpriseCrmEventbusProtoBuganizerNotification"
        },
        "pubsubTopic": {
          "type": "string"
        },
        "request": {
          "description": "If the out-of-the-box email/pubsub notifications are not suitable and custom logic is required, fire a workflow containing all info needed to notify users to resume execution.",
          "$ref": "EnterpriseCrmEventbusProtoCustomSuspensionRequest"
        },
        "escalatorQueue": {
          "type": "string"
        },
        "emailAddress": {
          "$ref": "EnterpriseCrmEventbusProtoAddress"
        }
      }
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "properties": {
        "g3DocLink": {
          "type": "string",
          "description": "URL to the associated G3 Doc for the task if available"
        },
        "activeTaskName": {
          "type": "string",
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name."
        },
        "standaloneExternalDocHtml": {
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html",
          "type": "string"
        },
        "externalDocLink": {
          "description": "Doc link for external-facing documentation (separate from g3doc).",
          "type": "string"
        },
        "name": {
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class.",
          "type": "string"
        },
        "system": {
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "defaultJsonValidationOption": {
          "type": "string",
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution.",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ]
        },
        "iconLink": {
          "type": "string",
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format. See go/icons."
        },
        "descriptiveName": {
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")",
          "type": "string"
        },
        "docMarkdown": {
          "type": "string",
          "description": "Snippet of markdown documentation to embed in the RHP for this task."
        },
        "externalCategory": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "externalDocMarkdown": {
          "description": "DEPRECATED: Use external_doc_html.",
          "type": "string"
        },
        "admins": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          },
          "type": "array"
        },
        "defaultSpec": {
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format.",
          "type": "string"
        },
        "externalDocHtml": {
          "description": "External-facing documention embedded in the RHP for this task.",
          "type": "string"
        },
        "category": {
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "include connecting to Vector salesforce, CRM Hub Spanner etc. Task entities that derive from a custom task template."
          ],
          "type": "string"
        },
        "externalCategorySequence": {
          "type": "integer",
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users.",
          "format": "int32"
        },
        "isDeprecated": {
          "description": "The deprecation status of the current task. Default value is false;",
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ],
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE.",
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ]
        },
        "tags": {
          "type": "array",
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "In a few sentences, describe the purpose and usage of the task.",
          "type": "string"
        },
        "codeSearchLink": {
          "type": "string",
          "description": "The Code Search link to the Task Java file."
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoTaskMetadata",
      "description": "TaskMetadata are attributes that are associated to every common Task we have. Next available: 26"
    },
    "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse": {
      "description": "Response containing all provisioned regions for Connector Platform.",
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "description": "All regions where Connector Platform is provisioned.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaEnumerateConnectorPlatformRegionsResponse"
    },
    "GoogleCloudIntegrationsV1alphaUsernameAndPassword": {
      "type": "object",
      "description": "Username and password pair.",
      "id": "GoogleCloudIntegrationsV1alphaUsernameAndPassword",
      "properties": {
        "username": {
          "type": "string",
          "description": "Username to be used"
        },
        "password": {
          "description": "Password to be used",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoNextTask": {
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the next task edge or condition."
        },
        "label": {
          "type": "string",
          "description": "User-provided label that is attached to this edge in the UI."
        },
        "taskNumber": {
          "description": "Task number of the next task.",
          "type": "string"
        },
        "condition": {
          "type": "string",
          "description": "Standard filter expression for this task to become an eligible next task."
        },
        "taskConfigId": {
          "type": "string",
          "description": "ID of the next task."
        },
        "combinedConditions": {
          "description": "Combined condition for this task to become an eligible next task. Each of these combined_conditions are joined with logical OR. DEPRECATED: use `condition`",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoCombinedCondition"
          },
          "type": "array"
        }
      },
      "description": "The task that is next in line to be executed, if the condition specified evaluated to true.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoNextTask"
    },
    "EnterpriseCrmEventbusProtoCondition": {
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoCondition",
      "properties": {
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoValueType",
          "description": "Value that's checked for the key."
        },
        "eventPropertyKey": {
          "type": "string",
          "description": "Key that's evaluated against the `value`. Please note the data type of the runtime value associated with the key should match the data type of `value`, else an IllegalArgumentException is thrown."
        },
        "operator": {
          "enum": [
            "UNSET",
            "EQUALS",
            "CONTAINS",
            "LESS_THAN",
            "GREATER_THAN",
            "EXISTS",
            "DOES_NOT_EXIST",
            "IS_EMPTY",
            "IS_NOT_EMPTY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Operator used to evaluate the condition. Please note that an operator with an inappropriate key/value operand will result in IllegalArgumentException, e.g. CONTAINS with boolean key/value pair."
        }
      },
      "description": "Condition that uses `operator` to evaluate the key against the value."
    },
    "GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListConnectionsResponse",
      "description": "Response containing Connections listed by region.",
      "properties": {
        "connections": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Connection"
          },
          "description": "Connections.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "type": "object",
      "properties": {
        "mdbGroup": {
          "type": "string"
        },
        "loasRole": {
          "type": "string"
        },
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        },
        "gaiaIdentity": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
          "description": "Represents a Gaia identity for a person or service account."
        }
      },
      "description": "LINT.IfChange",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
    },
    "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest": {
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaTakeoverEditLockRequest",
      "type": "object",
      "description": "Request for TakeoverEditLock."
    },
    "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse": {
      "type": "object",
      "description": "Response to list AuthConfigs.",
      "properties": {
        "authConfigs": {
          "type": "array",
          "description": "The list of AuthConfigs retrieved.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token used to retrieve the next page of results."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
    },
    "GoogleCloudIntegrationsV1alphaCancelExecutionResponse": {
      "id": "GoogleCloudIntegrationsV1alphaCancelExecutionResponse",
      "description": "Response for cancelling an execution.",
      "type": "object",
      "properties": {
        "isCanceled": {
          "type": "boolean",
          "description": "True if cancellation performed successfully"
        }
      }
    },
    "EnterpriseCrmEventbusProtoLoopMetadata": {
      "type": "object",
      "properties": {
        "errorMsg": {
          "description": "Add the error message when loops fail.",
          "type": "string"
        },
        "currentIterationDetail": {
          "type": "string",
          "description": "Needs to be set by the loop impl class before each iteration. The abstract loop class will append the request and response to it. Eg. The foreach Loop will clean up and set it as the current iteration element at the start of each loop. The post request and response will be appended to the value once they are available."
        },
        "failureLocation": {
          "enumDescriptions": [
            "No error or Unknown.",
            "Subworkflow failed while firing/running.",
            "Param overrides failed.",
            "Param aggregation failed.",
            "Setting for loop current element failed.",
            "Getting the list to iterate.",
            "Evaluating the while loop condition.",
            "Building the iteration request"
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SUBWORKFLOW",
            "PARAM_OVERRIDING",
            "PARAM_AGGREGATING",
            "SETTING_ITERATION_ELEMENT",
            "GETTING_LIST_TO_ITERATE",
            "CONDITION_EVALUATION",
            "BUILDING_REQUEST"
          ],
          "description": "Indicates where in the loop logic did it error out."
        },
        "currentIterationCount": {
          "format": "int64",
          "description": "Starting from 1, not 0.",
          "type": "string"
        }
      },
      "id": "EnterpriseCrmEventbusProtoLoopMetadata"
    },
    "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig": {
      "description": "Cloud Scheduler Trigger configuration",
      "properties": {
        "location": {
          "description": "Required. The location where associated cloud scheduler job will be created",
          "type": "string"
        },
        "cronTab": {
          "type": "string",
          "description": "Required. The cron tab of cloud scheduler trigger."
        },
        "errorMessage": {
          "description": "Optional. When the job was deleted from Pantheon UI, error_message will be populated when Get/List integrations",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Required. Service account used by Cloud Scheduler to trigger the integration at scheduled time"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig"
    },
    "EnterpriseCrmEventbusProtoLogSettings": {
      "id": "EnterpriseCrmEventbusProtoLogSettings",
      "description": "The LogSettings define the logging attributes for an event property. These attributes are used to map the property to the parameter in the log proto. Also used to define scrubbing/truncation behavior and PII information. See go/integration-platform/analytics/logging_task.md for details.",
      "type": "object",
      "properties": {
        "sanitizeOptions": {
          "description": "Contains the scrubbing options, such as whether to scrub, obfuscate, etc.",
          "$ref": "EnterpriseCrmLoggingGwsSanitizeOptions"
        },
        "shorteningLimits": {
          "description": "Contains the field limits for shortening, such as max string length and max array length.",
          "$ref": "EnterpriseCrmLoggingGwsFieldLimits"
        },
        "seedScope": {
          "enumDescriptions": [
            "",
            "Hash computations include the event name.",
            "Hash computations include a time period.",
            "Hash computations include the param name."
          ],
          "type": "string",
          "enum": [
            "SEED_SCOPE_UNSPECIFIED",
            "EVENT_NAME",
            "TIME_PERIOD",
            "PARAM_NAME"
          ]
        },
        "seedPeriod": {
          "type": "string",
          "enum": [
            "SEED_PERIOD_UNSPECIFIED",
            "DAY",
            "WEEK",
            "MONTH"
          ],
          "enumDescriptions": [
            "",
            "Sanitized values remain constant for the day of the event.",
            "Sanitized values remain constant for the week of the event; may cross month boundaries.",
            "Sanitized values remain constant for the month of the event."
          ]
        },
        "logFieldName": {
          "type": "string",
          "description": "The name of corresponding logging field of the event property. If omitted, assumes the same name as the event property key."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaExecutionDetails": {
      "type": "object",
      "properties": {
        "executionSnapshots": {
          "description": "List of snapshots taken during the execution.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecutionSnapshot"
          }
        },
        "attemptStats": {
          "description": "List of Start and end time of the execution attempts.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaAttemptStats"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Default.",
            "Execution is scheduled and awaiting to be triggered.",
            "Execution is processing.",
            "Execution successfully finished. There's no more change after this state.",
            "Execution failed. There's no more change after this state.",
            "Execution canceled by user. There's no more change after this state.",
            "Execution failed and waiting for retry.",
            "Execution suspended and waiting for manual intervention."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "RETRY_ON_HOLD",
            "SUSPENDED"
          ],
          "type": "string",
          "description": "Status of the execution."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecutionDetails",
      "description": "Contains the details of the execution info: this includes the tasks execution details plus the event execution statistics."
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapField": {
      "description": "Field represents either the key or value in an entry.",
      "type": "object",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapField",
      "properties": {
        "literalValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Passing a literal value."
        },
        "referenceKey": {
          "type": "string",
          "description": "Referencing one of the WF variables."
        }
      }
    },
    "EnterpriseCrmFrontendsEventbusProtoWorkflowParameterEntry": {
      "type": "object",
      "properties": {
        "producer": {
          "type": "string"
        },
        "producedBy": {
          "$ref": "EnterpriseCrmEventbusProtoNodeIdentifier",
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param."
        },
        "defaultValue": {
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType"
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ],
          "description": "The data type of the parameter.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
[...]
