{
  "ownerName": "Google",
  "description": "",
  "discoveryVersion": "v1",
  "rootUrl": "https://integrations.googleapis.com/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://integrations.googleapis.com/",
  "servicePath": "",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "title": "Application Integration API",
  "mtlsRootUrl": "https://integrations.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "integrations",
  "protocol": "rest",
  "basePath": "",
  "version_module": true,
  "id": "integrations:v1alpha",
  "canonicalName": "Integrations",
  "schemas": {
    "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
      "description": "This proto holds the core runner data in the bundle task. It is not expected to be directly edited by the user. Instead, a default value will be provided at the task creation time.",
      "type": "object",
      "properties": {
        "integrations": {
          "items": {
            "type": "string"
          },
          "description": "A bundle of integrations that can be executed by the task at runtime.",
          "type": "array"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account created and owned by IP and added to the customers GCP project."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaTaskConfig": {
      "id": "GoogleCloudIntegrationsV1alphaTaskConfig",
      "properties": {
        "failurePolicy": {
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.)."
        },
        "successPolicy": {
          "description": "Optional. Determines what action to take upon successful task completion.",
          "$ref": "GoogleCloudIntegrationsV1alphaSuccessPolicy"
        },
        "taskExecutionStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Default. If the strategy is not set explicitly, it will default to `WHEN_ALL_SUCCEED`.",
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "enum": [
            "TASK_EXECUTION_STRATEGY_UNSPECIFIED",
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ],
          "description": "Optional. The policy dictating the execution strategy of this task."
        },
        "parameters": {
          "type": "object",
          "description": "Optional. The customized parameters the user can pass to this task.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaEventParameter"
          }
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in IntegrationParameter.",
            "Validate all potential output JSON parameters against schemas specified in IntegrationParameter.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "description": "Optional. If set, overrides the option configured in the Task implementation class.",
          "type": "string",
          "enum": [
            "JSON_VALIDATION_OPTION_UNSPECIFIED",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ]
        },
        "nextTasksExecutionPolicy": {
          "description": "Optional. The policy dictating the execution of the next set of tasks for the current task.",
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "displayName": {
          "description": "Optional. User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "synchronousCallFailurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post).",
          "$ref": "GoogleCloudIntegrationsV1alphaFailurePolicy"
        },
        "task": {
          "description": "Optional. The name for the task.",
          "type": "string"
        },
        "taskId": {
          "description": "Required. The identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_id`).",
          "type": "string"
        },
        "taskTemplate": {
          "type": "string",
          "description": "Optional. Used to define task-template name if task is of type task-template"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description intended to give additional business context about the task."
        },
        "nextTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Optional. The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "type": "array"
        }
      },
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task.",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoProtoParameterArray",
      "type": "object",
      "properties": {
        "protoValues": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema": {
      "id": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema",
      "type": "object",
      "properties": {
        "arrayFieldSchema": {
          "type": "string",
          "description": "The above schema, but for an array of the associated entity."
        },
        "entity": {
          "type": "string",
          "description": "Name of the entity."
        },
        "fieldSchema": {
          "description": "List of fields in the entity.",
          "type": "string"
        }
      },
      "description": "Metadata of an entity, including a schema for its properties."
    },
    "GoogleCloudIntegrationsV1alphaParameterMap": {
      "type": "object",
      "properties": {
        "valueType": {
          "type": "string",
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "description": "Option to specify value type for all entries of the map. If provided then field types for all entries must conform to this."
        },
        "keyType": {
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "description": "Option to specify key type for all entries of the map. If provided then field types for all entries must conform to this.",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "type": "string"
        },
        "entries": {
          "type": "array",
          "description": "A list of parameter map entries.",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaParameterMapEntry"
          }
        }
      },
      "description": "A generic multi-map that holds key value pairs. They keys and values can be of any type, unless specified.",
      "id": "GoogleCloudIntegrationsV1alphaParameterMap"
    },
    "EnterpriseCrmEventbusProtoExternalTraffic": {
      "id": "EnterpriseCrmEventbusProtoExternalTraffic",
      "description": "Represents external traffic type and id.",
      "properties": {
        "source": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "APIGEE",
            "SECURITY"
          ],
          "type": "string",
          "description": "LINT.ThenChange(//depot/google3/enterprise/crm/eventbus/proto/product.proto:product, //depot/google3/java/com/google/enterprise/crm/integrationplatform/api/utils/ConverterUtils.java:source_to_product)"
        },
        "gcpProjectId": {
          "description": "User’s GCP project id the traffic is referring to.",
          "type": "string"
        },
        "gcpProjectNumber": {
          "description": "User’s GCP project number the traffic is referring to.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location for the user's request."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoStringArray": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EnterpriseCrmEventbusProtoStringArray"
    },
    "GoogleCloudIntegrationsV1alphaArchiveBundleResponse": {
      "description": "Response for ArchiveBundle.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaArchiveBundleResponse"
    },
    "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaValidateIntegrationVersionRequest",
      "description": "Request for ValidateIntegrationVersion.",
      "properties": {}
    },
    "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials": {
      "properties": {
        "accessToken": {
          "description": "Access token fetched from the authorization server.",
          "$ref": "GoogleCloudIntegrationsV1alphaAccessToken"
        },
        "scope": {
          "type": "string",
          "description": "A space-delimited list of requested scope permissions."
        },
        "password": {
          "type": "string",
          "description": "The user's password."
        },
        "username": {
          "description": "The user's username.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "The client's secret."
        },
        "tokenEndpoint": {
          "description": "The token endpoint is used by the client to obtain an access token by presenting its authorization grant or refresh token.",
          "type": "string"
        },
        "clientId": {
          "description": "The client's ID.",
          "type": "string"
        },
        "tokenParams": {
          "description": "Token parameters for the auth request.",
          "$ref": "GoogleCloudIntegrationsV1alphaParameterMap"
        },
        "requestType": {
          "enum": [
            "REQUEST_TYPE_UNSPECIFIED",
            "REQUEST_BODY",
            "QUERY_PARAMETERS",
            "ENCODED_HEADER"
          ],
          "enumDescriptions": [
            "Unspecified request type",
            "To pass all the parameters in post body.",
            "To pass all the parameters as a part of query parameter.",
            "To pass client id and client secret as base 64 encoding of client_id:client_password and rest parameters in post body."
          ],
          "type": "string",
          "description": "Represent how to pass parameters to fetch access token"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOAuth2ResourceOwnerCredentials",
      "type": "object",
      "description": "For resource owner credentials grant, the client will ask the user for their authorization credentials (ususally a username and password) and send a POST request to the authorization server. The authorization server will respond with a JSON object containing the access token."
    },
    "GoogleCloudIntegrationsV1alphaIntegrationParameter": {
      "id": "GoogleCloudIntegrationsV1alphaIntegrationParameter",
      "description": "Integration Parameter is defined in the integration config and are used to provide information about data types of the expected parameters and provide any default values if needed. They can also be used to add custom attributes. These are static in nature and should not be used for dynamic event definition.",
      "properties": {
        "jsonSchema": {
          "description": "This schema will be used to validate runtime JSON-typed values of this parameter.",
          "type": "string"
        },
        "defaultValue": {
          "$ref": "GoogleCloudIntegrationsV1alphaValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "isTransient": {
          "description": "Whether this parameter is a transient parameter.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The name (without prefix) to be displayed in the UI for this parameter. E.g. if the key is \"foo.bar.myName\", then the name would be \"myName\".",
          "type": "string"
        },
        "producer": {
          "type": "string",
          "description": "The identifier of the node (TaskConfig/TriggerConfig) this parameter was produced by, if it is a transient param or a copy of an input param."
        },
        "inputOutputType": {
          "type": "string",
          "description": "Specifies the input/output type for the parameter.",
          "enum": [
            "IN_OUT_TYPE_UNSPECIFIED",
            "IN",
            "OUT",
            "IN_OUT"
          ],
          "enumDescriptions": [
            "Default.",
            "Input parameters for the integration. EventBus validates that these parameters exist in the integrations before execution.",
            "Output Parameters for the integration. EventBus will only return the integration parameters tagged with OUT in the response back.",
            "Input and Output Parameters. These can be used as both input and output. EventBus will validate for the existence of these parameters before execution and will also return this parameter back in the response."
          ]
        },
        "key": {
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given fired event. These parameters must be predefined in the integration definition.",
          "type": "string"
        },
        "dataType": {
          "enum": [
            "INTEGRATION_PARAMETER_DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "BOOLEAN_ARRAY",
            "JSON_VALUE",
            "PROTO_VALUE",
            "PROTO_ARRAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "String.",
            "Integer.",
            "Double Number.",
            "Boolean.",
            "String Array.",
            "Integer Array.",
            "Double Number Array.",
            "Boolean Array.",
            "Json.",
            "Proto Value (Internal use only).",
            "Proto Array (Internal use only)."
          ],
          "description": "Type of the parameter."
        },
        "searchable": {
          "type": "boolean",
          "description": "Searchable in the execution log or not."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoWorkflowAlertConfig": {
      "properties": {
        "errorEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        },
        "clientId": {
          "description": "Client associated with this alert configuration.",
          "type": "string"
        },
        "thresholdValue": {
          "description": "The metric value, above or below which the alert should be triggered. See go/eventbus-alert-config-examples.",
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigThresholdValue"
        },
        "metricType": {
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "EVENT_ERROR_RATE",
            "EVENT_WARNING_RATE",
            "TASK_ERROR_RATE",
            "TASK_WARNING_RATE",
            "TASK_RATE",
            "EVENT_RATE",
            "EVENT_AVERAGE_DURATION",
            "EVENT_PERCENTILE_DURATION",
            "TASK_AVERAGE_DURATION",
            "TASK_PERCENTILE_DURATION"
          ],
          "enumDescriptions": [
            "The default value. Metric type should always be set to one of the other non-default values, otherwise it will result in an INVALID_ARGUMENT error.",
            "Specifies alerting on the rate of errors for the enclosing workflow.",
            "Specifies alerting on the rate of warnings for the enclosing workflow. Warnings use the same enum values as errors.",
            "Specifies alerting on the rate of errors for any task in the enclosing workflow.",
            "Specifies alerting on the rate of warnings for any task in the enclosing workflow.",
            "Specifies alerting on the rate of executions over all tasks in the enclosing workflow.",
            "Specifies alerting on the number of events executed in the given aggregation_period.",
            "Specifies alerting on the average duration of executions for this workflow.",
            "Specifies alerting on the duration value of a particular percentile of workflow executions. E.g. If 10% or more of the workflow executions have durations above 5 seconds, alert.",
            "Specifies alerting on the average duration of any task in the enclosing workflow,",
            "Specifies alerting on the duration value of a particular percentile of any task executions within the enclosing workflow. E.g. If 10% or more of the task executions in the workflow have durations above 5 seconds, alert."
          ],
          "type": "string"
        },
        "alertDisabled": {
          "description": "Set to false by default. When set to true, the metrics are not aggregated or pushed to Monarch for this workflow alert.",
          "type": "boolean"
        },
        "aggregationPeriod": {
          "description": "For an EXPECTED_MIN threshold, this aggregation_period must be lesser than 24 hours.",
          "type": "string"
        },
        "durationThresholdMs": {
          "format": "int64",
          "description": "Should be specified only for *AVERAGE_DURATION and *PERCENTILE_DURATION metrics. This member should be used to specify what duration value the metrics should exceed for the alert to trigger.",
          "type": "string"
        },
        "onlyFinalAttempt": {
          "type": "boolean",
          "description": "For either events or tasks, depending on the type of alert, count only final attempts, not retries."
        },
        "thresholdType": {
          "enum": [
            "UNSPECIFIED_THRESHOLD_TYPE",
            "EXPECTED_MIN",
            "EXPECTED_MAX"
          ],
          "description": "The threshold type, whether lower(expected_min) or upper(expected_max), for which this alert is being configured. If value falls below expected_min or exceeds expected_max, an alert will be fired.",
          "enumDescriptions": [
            "",
            "Note that this field will only trigger alerts if the workflow specifying it runs at least once in 24 hours (which is our in-memory retention period for monarch streams). Also note that `aggregation_period` for this alert configuration must be less than 24 hours.",
            ""
          ],
          "type": "string"
        },
        "playbookUrl": {
          "type": "string",
          "description": "Link to a playbook for resolving the issue that triggered this alert."
        },
        "numAggregationPeriods": {
          "description": "For how many contiguous aggregation periods should the expected min or max be violated for the alert to be fired.",
          "type": "integer",
          "format": "int32"
        },
        "alertName": {
          "type": "string",
          "description": "A name to identify this alert. This will be displayed in the alert subject. If set, this name should be unique within the scope of the workflow."
        },
        "warningEnumList": {
          "$ref": "EnterpriseCrmEventbusProtoBaseAlertConfigErrorEnumList"
        }
      },
      "id": "EnterpriseCrmEventbusProtoWorkflowAlertConfig",
      "description": "Message to be used to configure custom alerting in the {@code EventConfig} protos for an event. See go/eventbus-alert-config-examples for examples of the different alerts that can be configured.",
      "type": "object"
    },
    "EnterpriseCrmCardsRow": {
      "properties": {
        "cells": {
          "items": {
            "$ref": "EnterpriseCrmCardsCellValue"
          },
          "type": "array",
          "description": "Ordered list of cell values within a row."
        }
      },
      "id": "EnterpriseCrmCardsRow",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange": {
      "properties": {
        "max": {
          "format": "int64",
          "description": "The inclusive maximum of the acceptable range.",
          "type": "string"
        },
        "min": {
          "type": "string",
          "format": "int64",
          "description": "The inclusive minimum of the acceptable range."
        }
      },
      "description": "Range used to validate longs and ints.",
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleIntRange"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventParameters": {
      "description": "LINT.IfChange This message is used for processing and persisting (when applicable) key value pair parameters for each event in the event bus. Please see go/integration-platform/event_bus.md for more details. Next id: 4",
      "id": "EnterpriseCrmFrontendsEventbusProtoEventParameters",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Parameters are a part of Event and can be used to communicate between different tasks that are part of the same workflow execution."
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissions": {
      "description": "LINT.IfChange",
      "properties": {
        "loasRole": {
          "type": "string"
        },
        "gaiaIdentity": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity",
          "description": "Represents a Gaia identity for a person or service account."
        },
        "mdbGroup": {
          "type": "string"
        },
        "googleGroup": {
          "$ref": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissions"
    },
    "EnterpriseCrmEventbusProtoValueType": {
      "id": "EnterpriseCrmEventbusProtoValueType",
      "properties": {
        "stringValue": {
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "format": "double"
        },
        "intValue": {
          "type": "string",
          "format": "int64"
        },
        "intArray": {
          "$ref": "EnterpriseCrmEventbusProtoIntArray"
        },
        "protoValue": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "booleanValue": {
          "type": "boolean"
        },
        "doubleArray": {
          "$ref": "EnterpriseCrmEventbusProtoDoubleArray"
        },
        "stringArray": {
          "$ref": "EnterpriseCrmEventbusProtoStringArray"
        }
      },
      "type": "object",
      "description": "Used for define type for values. Currently supported value types include int, string, double, array, and any proto message."
    },
    "GoogleCloudConnectorsV1DestinationConfig": {
      "properties": {
        "key": {
          "type": "string",
          "description": "The key is the destination identifier that is supported by the Connector."
        },
        "destinations": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Destination"
          },
          "type": "array",
          "description": "The destinations for the key."
        }
      },
      "description": "Define the Connectors target endpoint.",
      "id": "GoogleCloudConnectorsV1DestinationConfig",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry": {
      "id": "EnterpriseCrmFrontendsEventbusProtoParamSpecEntry",
      "type": "object",
      "properties": {
        "defaultValue": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterValueType",
          "description": "Default values for the defined keys. Each value can either be string, int, double or any proto message or a serialized object."
        },
        "protoDef": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryProtoDefinition",
          "description": "Populated if this represents a proto or proto array."
        },
        "required": {
          "description": "If set, the user must provide an input value for this parameter.",
          "type": "boolean"
        },
        "jsonSchema": {
          "type": "string",
          "description": "If the data_type is JSON_VALUE, then this will define its schema."
        },
        "isDeprecated": {
          "description": "If set, this entry is deprecated, so further use of this parameter should be prohibited.",
          "type": "boolean"
        },
        "className": {
          "type": "string",
          "description": "The FQCN of the Java object this represents. A string, for example, would be \"java.lang.String\". If this is \"java.lang.Object\", the parameter can be of any type."
        },
        "config": {
          "description": "Optional fields, such as help text and other useful info.",
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryConfig"
        },
        "dataType": {
          "description": "The data type of the parameter.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "BYTES and BYTES_ARRAY data types are not allowed for top-level params. They're only meant to support protobufs with BYTES (sub)fields.",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING_VALUE",
            "INT_VALUE",
            "DOUBLE_VALUE",
            "BOOLEAN_VALUE",
            "PROTO_VALUE",
            "SERIALIZED_OBJECT_VALUE",
            "STRING_ARRAY",
            "INT_ARRAY",
            "DOUBLE_ARRAY",
            "PROTO_ARRAY",
            "PROTO_ENUM",
            "BOOLEAN_ARRAY",
            "PROTO_ENUM_ARRAY",
            "BYTES",
            "BYTES_ARRAY",
            "NON_SERIALIZABLE_OBJECT",
            "JSON_VALUE"
          ]
        },
        "collectionElementClassName": {
          "description": "If it is a collection of objects, this would be the FCQN of every individual element in the collection. If this is \"java.lang.Object\", the parameter is a collection of any type.",
          "type": "string"
        },
        "validationRule": {
          "$ref": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRule",
          "description": "Rule used to validate inputs (individual values and collection elements) for this parameter."
        },
        "isOutput": {
          "type": "boolean"
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding parameter value. This should be unique for a given task. These parameters must be predefined in the workflow definition."
        }
      },
      "description": "Key-value pair of EventBus task parameters. Next id: 13"
    },
    "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo": {
      "properties": {
        "triggerId": {
          "type": "string",
          "description": "The trigger id of the workflow trigger config. If both trigger_id and client_id is present, the workflow is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks."
        },
        "snapshotNumber": {
          "description": "Workflow snapshot number.",
          "type": "string",
          "format": "int64"
        },
        "product": {
          "enum": [
            "UNSPECIFIED_PRODUCT",
            "IP",
            "APIGEE",
            "SECURITY"
          ],
          "description": "Which Google product the execution_info belongs to. If not set, the execution_info belongs to Integration Platform by default.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "requestId": {
          "description": "Optional. This is used to de-dup incoming request.",
          "type": "string"
        },
        "requestParams": {
          "description": "Event parameters come in as part of the request.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "responseParams": {
          "description": "Event parameters come out as part of the response.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventParameters"
        },
        "eventExecutionDetails": {
          "description": "The execution info about this event.",
          "$ref": "EnterpriseCrmFrontendsEventbusProtoEventExecutionDetails"
        },
        "errorCode": {
          "$ref": "CrmlogErrorCode",
          "description": "Final error-code if event failed."
        },
        "eventExecutionInfoId": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "clientId": {
          "description": "The event data user sends as request.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoErrorDetail"
          },
          "description": "Errors, warnings, and informationals associated with the workflow/task. The order in which the errors were added by the workflow/task is maintained."
        },
        "postMethod": {
          "description": "The ways user posts this event.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE",
            "POST_BY_EVENT_CONFIG_ID",
            "POST_WITH_EVENT_DETAILS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "format": "int64",
          "description": "Auto-generated.",
          "type": "string"
        },
        "executionTraceInfo": {
          "description": "Execution trace info to aggregate parent-child executions.",
          "$ref": "EnterpriseCrmEventbusProtoExecutionTraceInfo"
        },
        "tenant": {
          "description": "Tenant this event is created. Used to reschedule the event to correct tenant.",
          "type": "string"
        },
        "workflowName": {
          "type": "string",
          "description": "Name of the workflow."
        },
        "workflowRetryBackoffIntervalSeconds": {
          "type": "string",
          "description": "Time interval in seconds to schedule retry of workflow in manifold when workflow is already running",
          "format": "int64"
        },
        "lastModifiedTime": {
          "format": "int64",
          "description": "Auto-generated.",
          "type": "string"
        },
        "workflowId": {
          "type": "string",
          "description": "Required. Pointer to the workflow it is executing."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoEventExecutionInfo",
      "type": "object",
      "description": "Contains all the execution details for a workflow instance. Next available id: 24"
    },
    "GoogleCloudIntegrationsV1alphaListSuspensionsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse",
      "properties": {
        "suspensions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaSuspension"
          },
          "type": "array",
          "description": "The suspensions for the relevant execution which the caller has permissions to view and resolve."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response for Suspensions.ListSuspensions."
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries": {
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesData"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials": {
      "properties": {
        "clientSecret": {
          "description": "Secret version reference containing the client secret.",
          "$ref": "GoogleCloudConnectorsV1Secret"
        },
        "clientId": {
          "type": "string",
          "description": "The client identifier."
        }
      },
      "id": "GoogleCloudConnectorsV1AuthConfigOauth2ClientCredentials",
      "description": "Parameters to support Oauth 2.0 Client Credentials Grant Authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListExecutionSnapshotsResponse",
      "type": "object",
      "properties": {
        "executionSnapshots": {
          "description": "Required. The detailed information for the execution snapshot.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoEventExecutionSnapshot"
          }
        },
        "nextPageToken": {
          "description": "The token returned in the previous response.",
          "type": "string"
        }
      },
      "description": "Response for listing the integration execution snapshot."
    },
    "GoogleCloudIntegrationsV1alphaAuthToken": {
      "properties": {
        "token": {
          "description": "The token for the auth type.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Authentication type, e.g. \"Basic\", \"Bearer\", etc."
        }
      },
      "description": "The credentials to authenticate a user agent with a server that is put in HTTP Authorization request header.",
      "id": "GoogleCloudIntegrationsV1alphaAuthToken",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry": {
      "properties": {
        "key": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        },
        "value": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterMapField"
        }
      },
      "description": "Entry is a pair of key and value.",
      "id": "EnterpriseCrmFrontendsEventbusProtoParameterMapEntry",
      "type": "object"
    },
    "EnterpriseCrmCardsTemplatesAplosSeriesListData": {
      "description": "Data used for Aplos charts that accept multiple Series.",
      "type": "object",
      "properties": {
        "series": {
          "type": "array",
          "items": {
            "$ref": "EnterpriseCrmCardsTemplatesAplosSeriesListDataSeries"
          }
        }
      },
      "id": "EnterpriseCrmCardsTemplatesAplosSeriesListData"
    },
    "GoogleCloudIntegrationsV1alphaTriggerConfig": {
      "id": "GoogleCloudIntegrationsV1alphaTriggerConfig",
      "description": "Configuration detail of a trigger.",
      "properties": {
        "label": {
          "type": "string",
          "description": "Optional. The user created label for a particular trigger."
        },
        "alertConfig": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaIntegrationAlertConfig"
          },
          "description": "Optional. An alert threshold configuration for the [trigger + client + integration] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + integration] when published.",
          "type": "array"
        },
        "cloudSchedulerConfig": {
          "$ref": "GoogleCloudIntegrationsV1alphaCloudSchedulerConfig",
          "description": "Optional. Cloud Scheduler Trigger related metadata"
        },
        "startTasks": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaNextTask"
          },
          "description": "Optional. Set of tasks numbers from where the integration execution is started by this trigger. If this is empty, then integration is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same integration execution graph).",
          "type": "array"
        },
        "triggerId": {
          "type": "string",
          "description": "Optional. The backend trigger ID."
        },
        "triggerNumber": {
          "description": "Required. A number to uniquely identify each trigger config within the integration on UI.",
          "type": "string"
        },
        "nextTasksExecutionPolicy": {
          "type": "string",
          "description": "Optional. Dictates how next tasks will be executed.",
          "enum": [
            "NEXT_TASKS_EXECUTION_POLICY_UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "enumDescriptions": [
            "Default.",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "description": {
          "description": "Optional. User-provided description intended to give additional business context about the task.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Configurable properties of the trigger, not to be confused with integration parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Pub/sub triggers."
        },
        "triggerType": {
          "enumDescriptions": [
            "Unknown.",
            "Trigger by scheduled time.",
            "Trigger by API call.",
            "Trigger by Salesforce Channel.",
            "Trigger by Pub/Sub external.",
            "SFDC Channel Trigger for CDC.",
            "Trigger by Cloud Scheduler job."
          ],
          "type": "string",
          "enum": [
            "TRIGGER_TYPE_UNSPECIFIED",
            "CRON",
            "API",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "CLOUD_SCHEDULER"
          ],
          "description": "Optional. Type of trigger"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoConditionResult": {
      "id": "EnterpriseCrmEventbusProtoConditionResult",
      "type": "object",
      "description": "Contains the combined condition calculation results.",
      "properties": {
        "result": {
          "description": "the result comes out after evaluate the combined condition. True if there's no combined condition specified.",
          "type": "boolean"
        },
        "currentTaskNumber": {
          "type": "string",
          "description": "the current task number."
        },
        "nextTaskNumber": {
          "type": "string",
          "description": "the next task number."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest": {
      "properties": {
        "fileFormat": {
          "type": "string",
          "description": "File format for upload request.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "JSON",
            "YAML"
          ],
          "enumDescriptions": [
            "Unspecified file format",
            "JSON File Format",
            "YAML File Format"
          ]
        },
        "content": {
          "description": "The textproto of the integration_version.",
          "type": "string"
        }
      },
      "description": "Request for UploadIntegrationVersion.",
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
    },
    "GoogleCloudIntegrationsV1alphaExecution": {
      "properties": {
        "requestParams": {
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "description": "Event parameters come in as part of the request.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Last modified time of the execution.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "responseParameters": {
          "description": "Event parameters returned as part of the response.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          }
        },
        "executionDetails": {
          "$ref": "GoogleCloudIntegrationsV1alphaExecutionDetails",
          "description": "Detailed info of this execution."
        },
        "executionMethod": {
          "enumDescriptions": [
            "Default value.",
            "Sync post.",
            "Async post.",
            "Async post with schedule time."
          ],
          "description": "The ways user posts this event.",
          "enum": [
            "EXECUTION_METHOD_UNSPECIFIED",
            "POST",
            "POST_TO_QUEUE",
            "SCHEDULE"
          ],
          "type": "string"
        },
        "responseParams": {
          "description": "Event parameters come out as part of the response.",
          "items": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "array"
        },
        "eventExecutionDetails": {
          "description": "The execution info about this event.",
          "$ref": "EnterpriseCrmEventbusProtoEventExecutionDetails"
        },
        "triggerId": {
          "description": "The trigger id of the integration trigger config. If both trigger_id and client_id is present, the integration is executed from the start tasks provided by the matching trigger config otherwise it is executed from the default start tasks.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Auto-generated primary key."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Created time of the execution.",
          "type": "string"
        },
        "requestParameters": {
          "description": "Event parameters come in as part of the request.",
          "additionalProperties": {
            "$ref": "GoogleCloudIntegrationsV1alphaValueType"
          },
          "type": "object"
        },
        "directSubExecutions": {
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaExecution"
          },
          "type": "array",
          "description": "Direct sub executions of the following Execution."
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaExecution",
      "description": "The Execution resource contains detailed information of an individual integration execution.",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoFailurePolicy": {
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "properties": {
        "maxNumRetries": {
          "format": "int32",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer"
        },
        "retryStrategy": {
          "enum": [
            "UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_WORKFLOW_WITH_BACKOFF"
          ],
          "enumDescriptions": [
            "",
            "Ignores the failure of this task. The rest of the workflow will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the workflow.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. Max_num_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified.",
            "The entire workflow will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_num_retries` and `interval_in_seconds` must be specified."
          ],
          "type": "string",
          "description": "Defines what happens to the task upon failure."
        },
        "intervalInSeconds": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_WORKFLOW_WITH_BACKOFF. Defines the initial interval for backoff.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoFailurePolicy"
    },
    "GoogleCloudIntegrationsV1alphaFailurePolicy": {
      "description": "Policy that defines the task retry logic and failure type. If no FailurePolicy is defined for a task, all its dependent tasks will not be executed (i.e, a `retry_strategy` of NONE will be applied).",
      "properties": {
        "maxRetries": {
          "format": "int32",
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the number of times the task will be retried if failed.",
          "type": "integer"
        },
        "retryStrategy": {
          "enum": [
            "RETRY_STRATEGY_UNSPECIFIED",
            "IGNORE",
            "NONE",
            "FATAL",
            "FIXED_INTERVAL",
            "LINEAR_BACKOFF",
            "EXPONENTIAL_BACKOFF",
            "RESTART_INTEGRATION_WITH_BACKOFF"
          ],
          "description": "Defines what happens to the task upon failure.",
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Ignores the failure of this task. The rest of the integration will be executed Assuming this task succeeded.",
            "Causes a permanent failure of the task. However, if the last task(s) of event was successfully completed despite the failure of this task, it has no impact on the integration.",
            "Causes a permanent failure of the event. It is different from NONE because this will mark the event as FAILED by shutting down the event execution.",
            "The task will be retried from the failed task onwards after a fixed delay. A max-retry count is required to be specified with this strategy. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. max_retries and interval_in_seconds must be specified.",
            "The task will be retried from the failed task onwards after a fixed delay that linearly increases with each retry attempt. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. max_retries and interval_in_seconds must be specified.",
            "The task will be retried after an exponentially increasing period of time with each failure. A jitter is added to each exponential interval so that concurrently failing tasks of the same type do not end up retrying after the exact same exponential interval. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified.",
            "The entire integration will be restarted with the initial parameters that were set when the event was fired. A max-retry count is required to be specified with this strategy. `max_retries` and `interval_in_seconds` must be specified."
          ]
        },
        "intervalTime": {
          "description": "Required if retry_strategy is FIXED_INTERVAL or LINEAR/EXPONENTIAL_BACKOFF/RESTART_INTEGRATION_WITH_BACKOFF. Defines the initial interval in seconds for backoff.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaFailurePolicy",
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray": {
      "id": "EnterpriseCrmFrontendsEventbusProtoBooleanParameterArray",
      "properties": {
        "booleanValues": {
          "type": "array",
          "items": {
            "type": "boolean"
          }
        }
      },
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoMappedField": {
      "description": "Mapped field is a pair of input field and output field. Next Id: 3",
      "properties": {
        "inputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The input field being mapped from."
        },
        "outputField": {
          "$ref": "EnterpriseCrmEventbusProtoField",
          "description": "The output field being mapped to."
        }
      },
      "id": "EnterpriseCrmEventbusProtoMappedField",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestMashQueryOperationModeJoinConfig",
      "description": "Join Operation"
    },
    "EnterpriseCrmEventbusProtoTaskMetadata": {
      "description": "TaskMetadata are attributes that are associated to every common Task we have. Next available: 26",
      "id": "EnterpriseCrmEventbusProtoTaskMetadata",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "In a few sentences, describe the purpose and usage of the task."
        },
        "status": {
          "description": "Allows author to indicate if the task is ready to use or not. If not set, then it will default to INACTIVE.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATUS",
            "DEFAULT_INACTIVE",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Default value. Actual Task Status should always be set to either INACTIVE or ACTIVE. If none is specified at runtime, it will be set to INACTIVE.",
            "Still in-progress or incomplete, and not intended for use.",
            "Available for use."
          ]
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "A set of tags that pertain to a particular task. This can be used to improve the searchability of tasks with several names (\"REST Caller\" vs. \"Call REST Endpoint\") or to help users find tasks based on related words.",
          "type": "array"
        },
        "externalDocHtml": {
          "type": "string",
          "description": "External-facing documention embedded in the RHP for this task."
        },
        "externalCategorySequence": {
          "type": "integer",
          "format": "int32",
          "description": "Sequence with which the task in specific category to be displayed in task discovery panel for external users."
        },
        "name": {
          "type": "string",
          "description": "The actual class name or the annotated name of the task. Task Author should initialize this field with value from the getName() method of the Task class."
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Internal IP tasks that should not be available in the UI.",
            "Tasks that are relevant to cloud systems teams and typically",
            "include connecting to Vector salesforce, CRM Hub Spanner etc. Task entities that derive from a custom task template."
          ],
          "enum": [
            "UNSPECIFIED_CATEGORY",
            "CUSTOM",
            "FLOW_CONTROL",
            "DATA_MANIPULATION",
            "SCRIPTING",
            "CONNECTOR",
            "HIDDEN",
            "CLOUD_SYSTEMS",
            "CUSTOM_TASK_TEMPLATE"
          ]
        },
        "activeTaskName": {
          "type": "string",
          "description": "The new task name to replace the current task if it is deprecated. Otherwise, it is the same as the current task name."
        },
        "admins": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskMetadataAdmin"
          },
          "type": "array"
        },
        "isDeprecated": {
          "description": "The deprecation status of the current task. Default value is false;",
          "type": "boolean"
        },
        "system": {
          "enum": [
            "UNSPECIFIED_SYSTEM",
            "GENERIC",
            "BUGANIZER",
            "SALESFORCE",
            "CLOUD_SQL",
            "PLX",
            "SHEETS",
            "GOOGLE_GROUPS",
            "EMAIL",
            "SPANNER",
            "DATA_BRIDGE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "externalDocLink": {
          "description": "Doc link for external-facing documentation (separate from g3doc).",
          "type": "string"
        },
        "externalCategory": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED_EXTERNAL_CATEGORY",
            "CORE",
            "CONNECTORS"
          ]
        },
        "externalDocMarkdown": {
          "description": "DEPRECATED: Use external_doc_html.",
          "type": "string"
        },
        "g3DocLink": {
          "description": "URL to the associated G3 Doc for the task if available",
          "type": "string"
        },
        "codeSearchLink": {
          "type": "string",
          "description": "The Code Search link to the Task Java file."
        },
        "defaultJsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "description": "Controls whether JSON workflow parameters are validated against provided schemas before and/or after this task's execution."
        },
        "docMarkdown": {
          "type": "string",
          "description": "Snippet of markdown documentation to embed in the RHP for this task."
        },
        "iconLink": {
          "description": "URL to gstatic image icon for this task. This icon shows up on the task list panel along with the task name in the Workflow Editor screen. Use the 24p, 2x, gray color icon image format. See go/icons.",
          "type": "string"
        },
        "descriptiveName": {
          "description": "The string name to show on the task list on the Workflow editor screen. This should be a very short, one to two words name for the task. (e.g. \"Send Mail\")",
          "type": "string"
        },
        "standaloneExternalDocHtml": {
          "description": "External-facing documention for standalone IP in pantheon embedded in the RHP for this task. Non null only if different from external_doc_html",
          "type": "string"
        },
        "defaultSpec": {
          "description": "Contains the initial configuration of the task with default values set. For now, The string should be compatible to an ASCII-proto format.",
          "type": "string"
        }
      }
    },
    "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity": {
      "properties": {
        "gaiaId": {
          "type": "string",
          "format": "int64"
        },
        "emailAddress": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnterpriseCrmEventbusProtoSuspensionAuthPermissionsGaiaIdentity"
    },
    "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig": {
      "properties": {
        "connection": {
          "$ref": "EnterpriseCrmEventbusProtoConnectorsConnection",
          "description": "User-selected connection."
        },
        "operation": {
          "description": "Operation to perform using the configured connection.",
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EXECUTE_ACTION",
            "LIST_ENTITIES",
            "GET_ENTITY",
            "CREATE_ENTITY",
            "UPDATE_ENTITY",
            "DELETE_ENTITY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "EnterpriseCrmEventbusProtoConnectorsGenericConnectorTaskConfig",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest": {
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionRequest",
      "description": "Request for ArchiveIntegrationVersion.",
      "type": "object",
      "properties": {}
    },
    "EnterpriseCrmEventbusProtoIntArrayFunction": {
      "id": "EnterpriseCrmEventbusProtoIntArrayFunction",
      "type": "object",
      "properties": {
        "functionName": {
          "enum": [
            "UNSPECIFIED",
            "GET",
            "APPEND",
            "SIZE",
            "SUM",
            "AVG",
            "MAX",
            "MIN",
            "TO_SET",
            "APPEND_ALL",
            "TO_JSON",
            "SET",
            "REMOVE",
            "REMOVE_AT",
            "CONTAINS",
            "FOR_EACH",
            "FILTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaAttemptStats": {
      "description": "Status for the execution attempt.",
      "id": "GoogleCloudIntegrationsV1alphaAttemptStats",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end time of the event execution for current attempt.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudConnectorsV1Connection": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Service account needed for runtime plane to access GCP resources."
        },
        "authConfig": {
          "$ref": "GoogleCloudConnectorsV1AuthConfig",
          "description": "Optional. Configuration for establishing the connection's authentication with an external system."
        },
        "envoyImageLocation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. GCR location where the envoy image is stored. formatted like: gcr.io/{bucketName}/{imageName}"
        },
        "destinationConfigs": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1DestinationConfig"
          },
          "description": "Optional. Configuration of the Connector's destination. Only accepted for Connectors that accepts user defined destination(s).",
          "type": "array"
        },
        "configVariables": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1ConfigVariable"
          },
          "type": "array",
          "description": "Optional. Configuration for configuring the connection with an external system."
        },
        "serviceDirectory": {
          "type": "string",
          "description": "Output only. The name of the Service Directory service name. Used for Private Harpoon to resolve the ILB address. e.g. \"projects/cloud-connectors-e2e-testing/locations/us-central1/namespaces/istio-system/services/istio-ingressgateway-connectors\"",
          "readOnly": true
        },
        "imageLocation": {
          "description": "Output only. GCR location where the runtime image is stored. formatted like: gcr.io/{bucketName}/{imageName}",
          "type": "string",
          "readOnly": true
        },
        "nodeConfig": {
          "description": "Optional. Node configuration for the connection.",
          "$ref": "GoogleCloudConnectorsV1NodeConfig"
        },
        "status": {
          "$ref": "GoogleCloudConnectorsV1ConnectionStatus",
          "readOnly": true,
          "description": "Output only. Current status of the connection."
        },
        "connectorVersion": {
          "description": "Required. Connector version on which the connection is created. The format is: projects/*/locations/*/providers/*/connectors/*/versions/* Only global location is supported for ConnectorVersion resource.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Created time.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of the Connection. Format: projects/{project}/locations/{location}/connections/{connection}",
          "type": "string",
          "readOnly": true
        },
        "lockConfig": {
          "$ref": "GoogleCloudConnectorsV1LockConfig",
          "description": "Optional. Configuration that indicates whether or not the Connection can be edited."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Updated time."
        },
        "suspended": {
          "type": "boolean",
          "description": "Optional. Suspended indicates if a user has suspended a connection or not."
        }
      },
      "description": "Connection represents an instance of connector.",
      "id": "GoogleCloudConnectorsV1Connection"
    },
    "EnterpriseCrmEventbusProtoParameterMapEntry": {
      "id": "EnterpriseCrmEventbusProtoParameterMapEntry",
      "type": "object",
      "description": "Entry is a pair of key and value.",
      "properties": {
        "key": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        },
        "value": {
          "$ref": "EnterpriseCrmEventbusProtoParameterMapField"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaClientCertificate": {
      "type": "object",
      "properties": {
        "encryptedPrivateKey": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        },
        "passphrase": {
          "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
          "type": "string"
        },
        "sslCertificate": {
          "type": "string",
          "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
        }
      },
      "description": "Contains client certificate information",
      "id": "GoogleCloudIntegrationsV1alphaClientCertificate"
    },
    "EnterpriseCrmEventbusProtoDoubleParameterArray": {
      "type": "object",
      "properties": {
        "doubleValues": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "id": "EnterpriseCrmEventbusProtoDoubleParameterArray"
    },
    "GoogleCloudIntegrationsV1alphaOidcToken": {
      "properties": {
        "token": {
          "description": "ID token obtained for the service account",
          "type": "string"
        },
        "audience": {
          "type": "string",
          "description": "Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for."
        },
        "serviceAccountEmail": {
          "description": "The service account email to be used as the identity for the token.",
          "type": "string"
        },
        "tokenExpireTime": {
          "description": "The approximate time until the token retrieved is valid.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudIntegrationsV1alphaOidcToken",
      "type": "object",
      "description": "OIDC Token"
    },
    "EnterpriseCrmEventbusProtoTaskExecutionDetails": {
      "id": "EnterpriseCrmEventbusProtoTaskExecutionDetails",
      "description": "Contains the details of the execution of this task. Next available id: 11",
      "properties": {
        "taskExecutionState": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "PENDING_EXECUTION",
            "IN_PROCESS",
            "SUCCEED",
            "FAILED",
            "FATAL",
            "RETRY_ON_HOLD",
            "SKIPPED",
            "CANCELED",
            "PENDING_ROLLBACK",
            "ROLLBACK_IN_PROCESS",
            "ROLLEDBACK",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "",
            "Task is waiting for its precondition tasks to finish to start the execution.",
            "Task is under processing.",
            "Task execution successfully finished. There's no more change after this state.",
            "Task execution failed. There's no more change after this state.",
            "Task execution failed and cause the whole event execution to fail immediately. There's no more change after this state.",
            "Task execution failed and waiting for retry.",
            "Task execution skipped. This happens when its precondition wasn't met, or the event execution been canceled before reach to the task. There's no more changes after this state.",
            "Task execution canceled when in progress. This happens when event execution been canceled or any other task fall in fatal state.",
            "Task is waiting for its dependency tasks' rollback to finish to start its rollback.",
            "Task is rolling back.",
            "Task is rolled back. This is the state we will set regardless of rollback succeeding or failing.",
            "Task is a SuspensionTask which has executed once, creating a pending suspension."
          ]
        },
        "taskNumber": {
          "type": "string",
          "description": "Pointer to the task config it used for execution."
        },
        "taskAttemptStats": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskExecutionDetailsTaskAttemptStats"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EnterpriseCrmFrontendsEventbusProtoTaskConfig": {
      "description": "The task configuration details. This is not the implementation of Task. There might be multiple TaskConfigs for the same Task. Next available id: 27",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description intended to give more business context about the task."
        },
        "taskName": {
          "description": "The name for the task.",
          "type": "string"
        },
        "incomingEdgeCount": {
          "description": "The number of edges leading into this TaskConfig.",
          "format": "int32",
          "type": "integer"
        },
        "synchronousCallFailurePolicy": {
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy",
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for synchronous calls to Eventbus alone (Post)."
        },
        "label": {
          "description": "User-provided label that is attached to this TaskConfig in the UI.",
          "type": "string"
        },
        "taskTemplateName": {
          "type": "string",
          "description": "Used to define task-template name if task is of type task-template"
        },
        "failurePolicy": {
          "description": "Optional. Determines the number of times the task will be retried on failure and with what retry strategy. This is applicable for asynchronous calls to Eventbus alone (Post To Queue, Schedule etc.).",
          "$ref": "EnterpriseCrmEventbusProtoFailurePolicy"
        },
        "alertConfigs": {
          "type": "array",
          "description": "Alert configurations on error rate, warning rate, number of runs, durations, etc.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskAlertConfig"
          }
        },
        "nextTasksExecutionPolicy": {
          "description": "The policy dictating the execution of the next set of tasks for the current task.",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ],
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "EnterpriseCrmFrontendsEventbusProtoParameterEntry"
          },
          "type": "object",
          "description": "The customized parameters the user can pass to this task."
        },
        "taskNumber": {
          "type": "string",
          "description": "REQUIRED: the identifier of this task within its parent event config, specified by the client. This should be unique among all the tasks belong to the same event config. We use this field as the identifier to find next tasks (via field `next_tasks.task_number`)."
        },
        "precondition": {
          "type": "string",
          "description": "Optional. Standard filter expression evaluated before execution. Independent of other conditions and tasks. Can be used to enable rollout. e.g. \"rollout(5)\" will only allow 5% of incoming traffic to task."
        },
        "preconditionLabel": {
          "type": "string",
          "description": "Optional. User-provided label that is attached to precondition in the UI."
        },
        "taskSpec": {
          "type": "string",
          "description": "A string template that allows user to configure task parameters (with either literal default values or tokens which will be resolved at execution time) for the task. It will eventually replace the old \"parameters\" field. Please refer to go/eventbus-task-spec-example for detailed usage example."
        },
        "creatorEmail": {
          "type": "string",
          "description": "The creator's email address. Auto-generated from the user's email."
        },
        "successPolicy": {
          "description": "Determines what action to take upon successful task completion.",
          "$ref": "EnterpriseCrmEventbusProtoSuccessPolicy"
        },
        "jsonValidationOption": {
          "enumDescriptions": [
            "As per the default behavior, no validation will be run. Will not override any option set in a Task.",
            "Do not run any validation against JSON schemas.",
            "Validate all potential input JSON parameters against schemas specified in WorkflowParameters.",
            "Validate all potential output JSON parameters against schemas specified in WorkflowParameters.",
            "Perform both PRE_EXECUTION and POST_EXECUTION validations."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_JSON_VALIDATION_OPTION",
            "SKIP",
            "PRE_EXECUTION",
            "POST_EXECUTION",
            "PRE_POST_EXECUTION"
          ],
          "description": "If set, overrides the option configured in the Task implementation class."
        },
        "taskEntity": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoTaskEntity",
          "description": "Copy of the task entity that this task config is an instance of."
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this task config on the UI.",
          "$ref": "EnterpriseCrmEventbusProtoCoordinate"
        },
        "rollbackStrategy": {
          "$ref": "EnterpriseCrmFrontendsEventbusProtoRollbackStrategy",
          "description": "Optional. Contains information about what needs to be done upon failure (either a permanent error or after it has been retried too many times)."
        },
        "taskExecutionStrategy": {
          "enumDescriptions": [
            "Wait until all of its previous tasks finished execution, then verify at least one of the edge conditions is met, and execute if possible. This should be considered as WHEN_ALL_TASKS_SUCCEED.",
            "Start execution as long as any of its previous tasks finished execution and the corresponding edge condition is met (since we will execute if only that succeeding edge condition is met).",
            "Wait until all of its previous tasks finished execution, then verify the all edge conditions are met and execute if possible."
          ],
          "description": "The policy dictating the execution strategy of this task.",
          "type": "string",
          "enum": [
            "WHEN_ALL_SUCCEED",
            "WHEN_ANY_SUCCEED",
            "WHEN_ALL_TASKS_AND_CONDITIONS_SUCCEED"
          ]
        },
        "taskType": {
          "enumDescriptions": [
            "Normal IP task",
            "Task is of As-Is Template type",
            "Task is of I/O template type with a different underlying task"
          ],
          "enum": [
            "TASK",
            "ASIS_TEMPLATE",
            "IO_TEMPLATE"
          ],
          "type": "string",
          "description": "Defines the type of the task"
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Auto-generated."
        },
        "nextTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "description": "The set of tasks that are next in line to be executed as per the execution graph defined for the parent event, specified by `event_config_id`. Each of these next tasks are executed only if the condition associated with them evaluates to true.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Auto-generated."
        },
        "disableStrictTypeValidation": {
          "type": "boolean",
          "description": "If this config contains a TypedTask, allow validation to succeed if an input is read from the output of another TypedTask whose output type is declared as a superclass of the requested input type. For instance, if the previous task declares an output of type Message, any task with this flag enabled will pass validation when attempting to read any proto Message type from the resultant Event parameter."
        }
      },
      "id": "EnterpriseCrmFrontendsEventbusProtoTaskConfig"
    },
    "EnterpriseCrmFrontendsEventbusProtoTriggerConfig": {
      "type": "object",
      "description": "Configuration detail of a trigger. Next available id: 17",
      "id": "EnterpriseCrmFrontendsEventbusProtoTriggerConfig",
      "properties": {
        "triggerType": {
          "enum": [
            "UNKNOWN",
            "CLOUD_PUBSUB",
            "GOOPS",
            "SFDC_SYNC",
            "CRON",
            "API",
            "MANIFOLD_TRIGGER",
            "DATALAYER_DATA_CHANGE",
            "SFDC_CHANNEL",
            "CLOUD_PUBSUB_EXTERNAL",
            "SFDC_CDC_CHANNEL",
            "SFDC_PLATFORM_EVENTS_CHANNEL",
            "CLOUD_SCHEDULER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "position": {
          "description": "Optional. Informs the front-end application where to draw this trigger config on the UI.",
          "$ref": "EnterpriseCrmEventbusProtoCoordinate"
        },
        "enabledClients": {
          "description": "Required. The list of client ids which are enabled to execute the workflow using this trigger. In other words, these clients have the workflow execution privledges for this trigger. For API trigger, the client id in the incoming request is validated against the list of enabled clients. For non-API triggers, one workflow execution is triggered on behalf of each enabled client.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "triggerId": {
          "description": "The backend trigger ID.",
          "type": "string"
        },
        "startTasks": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoNextTask"
          },
          "description": "Set of tasks numbers from where the workflow execution is started by this trigger. If this is empty, then workflow is executed with default start tasks. In the list of start tasks, none of two tasks can have direct ancestor-descendant relationships (i.e. in a same workflow execution graph).",
          "type": "array"
        },
        "alertConfig": {
          "description": "An alert threshold configuration for the [trigger + client + workflow] tuple. If these values are not specified in the trigger config, default values will be populated by the system. Note that there must be exactly one alert threshold configured per [client + trigger + workflow] when published.",
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoWorkflowAlertConfig"
          },
          "type": "array"
        },
        "triggerNumber": {
          "description": "Required. A number to uniquely identify each trigger config within the workflow on UI.",
          "type": "string"
        },
        "pauseWorkflowExecutions": {
          "type": "boolean",
          "description": "Optional. If set to true, any upcoming requests for this trigger config will be paused and the executions will be resumed later when the flag is reset. The workflow to which this trigger config belongs has to be in ACTIVE status for the executions to be paused or resumed."
        },
        "cloudSchedulerConfig": {
          "$ref": "EnterpriseCrmEventbusProtoCloudSchedulerConfig"
        },
        "description": {
          "description": "User-provided description intended to give more business context about the task.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Configurable properties of the trigger, not to be confused with workflow parameters. E.g. \"name\" is a property for API triggers and \"subscription\" is a property for Cloud Pubsub triggers.",
          "type": "object"
        },
        "triggerCriteria": {
          "$ref": "EnterpriseCrmEventbusProtoTriggerCriteria",
          "description": "Optional. When set, Eventbus will run the task specified in the trigger_criteria and validate the result using the trigger_criteria.condition, and only execute the workflow when result is true."
        },
        "nextTasksExecutionPolicy": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "RUN_ALL_MATCH",
            "RUN_FIRST_MATCH"
          ],
          "description": "Dictates how next tasks will be executed.",
          "enumDescriptions": [
            "Default",
            "Execute all the tasks that satisfy their associated condition.",
            "Execute the first task that satisfies the associated condition."
          ]
        },
        "label": {
          "type": "string",
          "description": "The user created label for a particular trigger."
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy": {
      "id": "GoogleCloudIntegrationsV1alphaMonitorExecutionStatsRequestGroupBy",
      "description": "MashQuery GroupBy parameters.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Optional. optional, metrics list for GroupBy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reducer": {
          "description": "Optional. optional, reduce function for GroupBy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaGetBundleResponse": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudIntegrationsV1alphaIntegrationBundleConfig",
          "description": "It contains the bundle data"
        }
      },
      "description": "Response for GetBundle.",
      "id": "GoogleCloudIntegrationsV1alphaGetBundleResponse",
      "type": "object"
    },
    "EnterpriseCrmEventbusProtoTaskUiConfig": {
      "id": "EnterpriseCrmEventbusProtoTaskUiConfig",
      "properties": {
        "taskUiModuleConfigs": {
          "items": {
            "$ref": "EnterpriseCrmEventbusProtoTaskUiModuleConfig"
          },
          "description": "Configurations of included config modules.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Task authors would use this type to configure the UI for a particular task by specifying what UI config modules should be included to compose the UI. Learn more about config module framework: go/integration-platform-config-module-framework"
    },
    "GoogleCloudIntegrationsV1alphaListConnectionsResponse": {
      "properties": {
        "connections": {
          "items": {
            "$ref": "GoogleCloudConnectorsV1Connection"
          },
          "type": "array",
          "description": "Connections."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaListConnectionsResponse",
      "description": "Response containing Connections listed by region."
    },
    "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange": {
      "properties": {
        "min": {
          "description": "The inclusive minimum of the acceptable range.",
          "format": "double",
          "type": "number"
        },
        "max": {
          "description": "The inclusive maximum of the acceptable range.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "EnterpriseCrmEventbusProtoParamSpecEntryValidationRuleDoubleRange",
      "type": "object",
      "description": "Range used to validate doubles and floats."
    },
    "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats": {
      "id": "EnterpriseCrmEventbusProtoEventExecutionDetailsEventAttemptStats",
      "properties": {
        "endTime": {
          "description": "The end time of the event execution for current attempt.",
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "description": "The start time of the event execution for current attempt. This could be in the future if it's been scheduled.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse": {
      "type": "object",
      "description": "Response for ArchiveIntegrationVersion.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaArchiveIntegrationVersionResponse"
    },
    "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig": {
      "id": "GoogleCloudIntegrationsV1alphaSuspensionApprovalConfig",
      "type": "object",
      "description": "Configurations for approving the Suspension.",
      "properties": {
        "customMessage": {
          "description": "Information to provide for recipients.",
          "type": "string"
        },
        "expiration": {
          "$ref": "GoogleCloudIntegrationsV1alphaSuspensionApprovalExpiration",
          "description": "Indicates the next steps when no external actions happen on the suspension."
        },
        "emailAddresses": {
          "description": "Email addresses to send approval request to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest": {
      "description": "Request for DeactivateIntegrationVersion.",
      "properties": {},
      "id": "GoogleCloudIntegrationsV1alphaDeactivateIntegrationVersionRequest",
      "type": "object"
    },
    "GoogleCloudIntegrationsV1alphaAccessToken": {
      "description": "The access token represents the authorization of a specific application to access specific parts of a user’s data.",
      "properties": {
        "accessToken": {
          "type": "string",
          "description": "The access token encapsulating the security identity of a process or thread."
        },
        "tokenType": {
          "type": "string",
          "description": "Only support \"bearer\" token in v1 as bearer token is the predominant type used with OAuth 2.0."
        },
        "refreshTokenExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The approximate time until the refresh token retrieved is valid."
        },
        "refreshToken": {
          "description": "If the access token will expire, use the refresh token to obtain another access token.",
          "type": "string"
        },
        "accessTokenExpireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The approximate time until the access token retrieved is valid."
        }
      },
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaAccessToken"
    },
    "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse": {
      "id": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "runtimeEntitySchemas": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudIntegrationsV1alphaRuntimeEntitySchema"
          },
          "description": "Runtime entity schemas."
        }
      },
      "description": "Response for listing RuntimeEntitySchemas for a specific Connection."
    },
    "EnterpriseCrmEventbusProtoPropertyEntry": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Values for the defined keys. Each value can either be string, int, double or any proto message.",
          "$ref": "EnterpriseCrmEventbusProtoValueType"
        },
        "key": {
          "type": "string",
          "description": "Key is used to retrieve the corresponding property value. This should be unique for a given fired event. The Tasks should be aware of the keys used while firing the events for them to be able to retrieve the values."
        }
      },
      "description": "Key-value pair of EventBus property.",
      "id": "EnterpriseCrmEventbusProtoPropertyEntry"
    },
    "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse": {
      "type": "object",
      "id": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse",
[...]
