{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "methods": {
        "getClientmetadata": {
          "parameterOrder": [
            "parent"
          ],
          "id": "integrations.projects.getClientmetadata",
          "flatPath": "v1/projects/{projectsId}/clientmetadata",
          "path": "v1/{+parent}/clientmetadata",
          "response": {
            "$ref": "GoogleCloudIntegrationsV1alphaGetClientMetadataResponse"
          },
          "parameters": {
            "parent": {
              "description": "Required. Required: The ID of the GCP Project to be provisioned.",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Gets the metadata info for the requested client",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "integrations": {
              "resources": {
                "versions": {
                  "methods": {
                    "upload": {
                      "httpMethod": "POST",
                      "description": "Uploads an integration. The content can be a previously downloaded integration. Performs the same function as CreateDraftIntegrationVersion, but accepts input in a string format, which holds the complete representation of the IntegrationVersion content.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The version to upload. Format: projects/{project}/locations/{location}/integrations/{integration}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$"
                        }
                      },
                      "id": "integrations.projects.locations.integrations.versions.upload",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions:upload",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUploadIntegrationVersionRequest"
                      },
                      "path": "v1/{+parent}/versions:upload"
                    },
                    "downloadJsonPackage": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Downloads an Integration version package like IntegrationVersion,Integration Config etc. Retrieves the IntegrationVersion package for a given `integration_id` and returns the response as a JSON.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:downloadJsonPackage",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:downloadJsonPackage",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadJsonPackageResponse"
                      },
                      "httpMethod": "GET",
                      "id": "integrations.projects.locations.integrations.versions.downloadJsonPackage",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Integration version name Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$"
                        },
                        "files": {
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "INTEGRATION_FILE_UNSPECIFIED",
                            "INTEGRATION",
                            "INTEGRATION_CONFIG_VARIABLES"
                          ],
                          "description": "Optional. Integration related file to download like Integration Version, Config variable, testcase etc.",
                          "enumDescriptions": [
                            "Default value.",
                            "Integration file.",
                            "Integration Config variables."
                          ],
                          "repeated": true
                        }
                      }
                    },
                    "list": {
                      "id": "integrations.projects.locations.integrations.versions.list",
                      "path": "v1/{+parent}/versions",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationVersionsResponse"
                      },
                      "parameters": {
                        "fieldMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "The field mask which specifies the particular data to be returned."
                        },
                        "filter": {
                          "type": "string",
                          "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration} Specifically, when parent equals: 1. projects//locations//integrations/, Meaning: \"List versions (with filter) for a particular integration\". 2. projects//locations//integrations/- Meaning: \"List versions (with filter) for a client within a particular region\". 3. projects//locations/-/integrations/- Meaning: \"List versions (with filter) for a client\".",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "The results would be returned in order you specified here. Currently supported sort keys are: Descending sort order for \"last_modified_time\", \"created_time\", \"snapshot_number\" Ascending sort order for \"name\"."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListIntegrationVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIntegrationVersions` must match the call that provided the page token."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions",
                      "description": "Returns the list of all integration versions in the specified project.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "unpublish": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "description": "Required. The version to deactivate. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Sets the status of the ACTIVE integration to SNAPSHOT with a new tag \"PREVIOUSLY_PUBLISHED\" after validating it. The \"HEAD\" and \"PUBLISH_REQUESTED\" tags do not change. This RPC throws an exception if the version being snapshot is not ACTIVE. Audit fields added include action, action_by, action_timestamp.",
                      "path": "v1/{+name}:unpublish",
                      "id": "integrations.projects.locations.integrations.versions.unpublish",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:unpublish",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaUnpublishIntegrationVersionRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "publish": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.publish",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The version to publish. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:publish",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "This RPC throws an exception if the integration is in ARCHIVED or ACTIVE state. This RPC throws an exception if the version being published is DRAFT, and if the `locked_by` user is not the same as the user performing the Publish. Audit fields updated include last_published_timestamp, last_published_by, last_modified_timestamp, last_modified_by. Any existing lock is on this integration is released.",
                      "path": "v1/{+name}:publish",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaPublishIntegrationVersionRequest"
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "description": "Required. The version to retrieve. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "integrations.projects.locations.integrations.versions.get",
                      "httpMethod": "GET",
                      "description": "Get a integration in the specified project.",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "id": "integrations.projects.locations.integrations.versions.delete",
                      "description": "Soft-deletes the integration. Changes the status of the integration to ARCHIVED. If the integration being ARCHIVED is tagged as \"HEAD\", the tag is removed from this snapshot and set to the previous non-ARCHIVED snapshot. The PUBLISH_REQUESTED, DUE_FOR_DELETION tags are removed too. This RPC throws an exception if the version being deleted is DRAFT, and if the `locked_by` user is not the same as the user performing the Delete. Audit fields updated include last_modified_timestamp, last_modified_by. Any existing lock is released when Deleting a integration. Currently, there is no undelete mechanism.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The version to delete. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "download": {
                      "httpMethod": "GET",
                      "parameters": {
                        "fileFormat": {
                          "enum": [
                            "FILE_FORMAT_UNSPECIFIED",
                            "JSON",
                            "YAML"
                          ],
                          "enumDescriptions": [
                            "Unspecified file format",
                            "JSON File Format",
                            "YAML File Format"
                          ],
                          "type": "string",
                          "description": "File format for download request.",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "description": "Required. The version to download. Format: projects/{project}/locations/{location}/integrations/{integration}/versions/{version}"
                        },
                        "files": {
                          "description": "Optional. Integration related file to download like Integration Json, Config variable, testcase etc.",
                          "repeated": true,
                          "location": "query",
                          "enumDescriptions": [
                            "Default value.",
                            "Integration file.",
                            "Integration Config variables."
                          ],
                          "enum": [
                            "INTEGRATION_FILE_UNSPECIFIED",
                            "INTEGRATION",
                            "INTEGRATION_CONFIG_VARIABLES"
                          ],
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "integrations.projects.locations.integrations.versions.download",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadIntegrationVersionResponse"
                      },
                      "description": "Downloads an integration. Retrieves the `IntegrationVersion` for a given `integration_id` and returns the response as a string.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:download",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}:download"
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "path": "v1/{+parent}/versions",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "id": "integrations.projects.locations.integrations.versions.create",
                      "description": "Create a integration with a draft version in the specified project.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource where this version will be created. Format: projects/{project}/locations/{location}/integrations/{integration}"
                        },
                        "newIntegration": {
                          "description": "Set this flag to true, if draft version is to be created for a brand new integration. False, if the request is for an existing integration. For backward compatibility reasons, even if this flag is set to `false` and no existing integration is found, a new draft integration will still be created.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "createSampleIntegrations": {
                          "location": "query",
                          "description": "Optional. Optional. Indicates if sample workflow should be created.",
                          "type": "boolean"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "description": "Update a integration with a draft version in the specified project.",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Field mask specifying the fields in the above integration that have been modified and need to be updated.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Output only. Auto-generated primary key.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/versions/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/versions/{versionsId}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaIntegrationVersion"
                      },
                      "id": "integrations.projects.locations.integrations.versions.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}"
                    }
                  }
                },
                "executions": {
                  "resources": {
                    "suspensions": {
                      "methods": {
                        "lift": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The resource that the suspension belongs to. \"projects/{project}/locations/{location}/products/{product}/integrations/{integration}/executions/{execution}/suspensions/{suspenion}\" format."
                            }
                          },
                          "description": "* Lifts suspension for the Suspension task. Fetch corresponding suspension with provided suspension Id, resolve suspension, and set up suspension result for the Suspension Task.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionRequest"
                          },
                          "path": "v1/{+name}:lift",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:lift",
                          "id": "integrations.projects.locations.integrations.executions.suspensions.lift",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaLiftSuspensionResponse"
                          }
                        },
                        "list": {
                          "parameters": {
                            "parent": {
                              "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "Field name to order by."
                            },
                            "filter": {
                              "description": "Standard filter field.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "Maximum number of entries in the response.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "Token to retrieve a specific page.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "id": "integrations.projects.locations.integrations.executions.suspensions.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "* Lists suspensions associated with a specific execution. Only those with permissions to resolve the relevant suspensions will be able to view them.",
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaListSuspensionsResponse"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/suspensions"
                        },
                        "resolve": {
                          "path": "v1/{+name}:resolve",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+/suspensions/[^/]+$",
                              "type": "string",
                              "description": "Required. projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_name}/executions/{execution_name}/suspensions/{suspension_id}",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "description": "* Resolves (lifts/rejects) any number of suspensions. If the integration is already running, only the status of the suspension is updated. Otherwise, the suspended integration will begin execution again.",
                          "request": {
                            "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudIntegrationsV1alphaResolveSuspensionResponse"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}/suspensions/{suspensionsId}:resolve",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "integrations.projects.locations.integrations.executions.suspensions.resolve"
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/executions",
                      "id": "integrations.projects.locations.integrations.executions.list",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. The token returned in the previous response.",
                          "location": "query",
                          "type": "string"
                        },
                        "readMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. View mask for the response data. If set, only the field specified will be returned as part of the result. If not set, all fields in event execution info will be filled and returned.",
                          "type": "string"
                        },
                        "filterParams.workflowName": {
                          "description": "Workflow name.",
                          "type": "string",
                          "location": "query"
                        },
                        "filterParams.customFilter": {
                          "type": "string",
                          "description": "Optional user-provided custom filter.",
                          "location": "query"
                        },
                        "filterParams.parameterPairKey": {
                          "description": "Param key in the key value pair filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "filterParams.eventStatuses": {
                          "repeated": true,
                          "description": "List of possible event statuses.",
                          "location": "query",
                          "type": "string"
                        },
                        "filterParams.parameterKey": {
                          "deprecated": true,
                          "location": "query",
                          "type": "string",
                          "description": "Param key. DEPRECATED. User parameter_pair_key instead."
                        },
                        "filterParams.executionId": {
                          "description": "Execution id.",
                          "location": "query",
                          "type": "string"
                        },
                        "truncateParams": {
                          "location": "query",
                          "deprecated": true,
                          "description": "Optional. If true, the service will truncate the params to only keep the first 1000 characters of string params and empty the executions in order to make response smaller. Only works for UI and when the params fields are not filtered out.",
                          "type": "boolean"
                        },
                        "filterParams.endTime": {
                          "type": "string",
                          "description": "End timestamp.",
                          "location": "query",
                          "format": "int64"
                        },
                        "refreshAcl": {
                          "type": "boolean",
                          "description": "Optional. If true, the service will use the most recent acl information to list event execution infos and renew the acl cache. Note that fetching the most recent acl is synchronous, so it will increase RPC call latency.",
                          "location": "query"
                        },
                        "filterParams.startTime": {
                          "location": "query",
                          "description": "Start timestamp.",
                          "format": "int64",
                          "type": "string"
                        },
                        "snapshotMetadataWithoutParams": {
                          "type": "boolean",
                          "description": "Optional. If true, the service will provide execution info with snapshot metadata only i.e. without event parameters.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. The size of entries in the response.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource name of the integration execution.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                          "location": "path"
                        },
                        "filterParams.parameterValue": {
                          "deprecated": true,
                          "location": "query",
                          "type": "string",
                          "description": "Param value. DEPRECATED. User parameter_pair_value instead."
                        },
                        "filterParams.taskStatuses": {
                          "deprecated": true,
                          "repeated": true,
                          "description": "List of possible task statuses.",
                          "type": "string",
                          "location": "query"
                        },
                        "filterParams.parameterPairValue": {
                          "type": "string",
                          "description": "Param value in the key value pair filter.",
                          "location": "query"
                        },
                        "filterParams.parameterType": {
                          "type": "string",
                          "description": "Param type.",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The results would be returned in order you specified here. Currently supporting \"last_modified_time\" and \"create_time\"."
                        },
                        "filter": {
                          "description": "Optional. Standard filter field, we support filtering on following fields: workflow_name: the name of the integration. CreateTimestamp: the execution created time. event_execution_state: the state of the executions. execution_id: the id of the execution. trigger_id: the id of the trigger. parameter_type: the type of the parameters involved in the execution. All fields support for EQUALS, in additional: CreateTimestamp support for LESS_THAN, GREATER_THAN ParameterType support for HAS For example: \"parameter_type\" HAS \\\"string\\\" Also supports operators like AND, OR, NOT For example, trigger_id=\\\"id1\\\" AND workflow_name=\\\"testWorkflow\\\"",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListExecutionsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions",
                      "httpMethod": "GET",
                      "description": "Lists the results of all the integration executions. The response includes the same information as the [execution log](https://cloud.google.com/application-integration/docs/viewing-logs) in the Integration UI."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaExecution"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.integrations.executions.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Get an execution in the specified project."
                    },
                    "download": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaDownloadExecutionResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}/executions/{executionsId}:download",
                      "id": "integrations.projects.locations.integrations.executions.download",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "description": "Required. The execution resource name. Format: projects/{gcp_project_id}/locations/{location}/products/{product}/integrations/{integration_id}/executions/{execution_id}",
                          "type": "string"
                        }
                      },
                      "description": "Download the execution.",
                      "httpMethod": "GET",
                      "path": "v1/{+name}:download"
                    }
                  }
                }
              },
              "methods": {
                "schedule": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:schedule",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:schedule",
                  "description": "Schedules an integration for execution by passing the trigger id and the scheduled time in the request body.",
                  "parameters": {
                    "name": {
                      "description": "The integration resource name.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$"
                    }
                  },
                  "id": "integrations.projects.locations.integrations.schedule",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaScheduleIntegrationsRequest"
                  }
                },
                "test": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:test",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsResponse"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string",
                      "description": "Output only. Auto-generated primary key.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaTestIntegrationsRequest"
                  },
                  "id": "integrations.projects.locations.integrations.test",
                  "path": "v1/{+name}:test",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Execute the integration in draft state"
                },
                "execute": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:execute",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "description": "Required. The integration resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:execute",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteIntegrationsResponse"
                  },
                  "description": "Executes integrations synchronously by passing the trigger id in the request body. The request is not returned until the requested executions are either fulfilled or experienced an error. If the integration name is not specified (passing `-`), all of the associated integration under the given trigger_id will be executed. Otherwise only the specified integration for the given `trigger_id` is executed. This is helpful for execution the integration from UI.",
                  "id": "integrations.projects.locations.integrations.execute"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListIntegrationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "Filter on fields of IntegrationVersion. Fields can be compared with literal values by use of \":\" (containment), \"=\" (equality), \"\u003e\" (greater), \"\u003c\" (less than), \u003e=\" (greater than or equal to), \"\u003c=\" (less than or equal to), and \"!=\" (inequality) operators. Negation, conjunction, and disjunction are written using NOT, AND, and OR keywords. For example, organization_id=\\\"1\\\" AND state=ACTIVE AND description:\"test\". Filtering cannot be performed on repeated fields like `task_config`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The page token for the resquest."
                    },
                    "parent": {
                      "description": "Required. Project and location from which the integrations should be listed. Format: projects/{project}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "The results would be returned in order you specified here. Supported sort keys are: Descending sort order by \"last_modified_time\", \"created_time\", \"snapshot_number\". Ascending sort order by the integration name."
                    },
                    "pageSize": {
                      "description": "The page size for the resquest.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "description": "Returns the list of all integrations in the specified project.",
                  "id": "integrations.projects.locations.integrations.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/integrations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations"
                },
                "delete": {
                  "id": "integrations.projects.locations.integrations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Delete the selected integration and all versions inside",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The location resource of the request.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "executeEvent": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaExecuteEventResponse"
                  },
                  "id": "integrations.projects.locations.integrations.executeEvent",
                  "httpMethod": "POST",
                  "request": {
                    "additionalProperties": {
                      "description": "Properties of the object.",
                      "type": "any"
                    },
                    "type": "object"
                  },
                  "path": "v1/{+name}:executeEvent",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/integrations/{integrationsId}:executeEvent",
                  "description": "Executes an integration on receiving events from Integration Connector triggers, Eventarc or CPS Trigger. Input data to integration is received in body in json format",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/integrations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The integration resource name. Format: projects/{gcp_project_id}/locations/{location}/integrations/{integration_id}",
                      "type": "string"
                    },
                    "triggerId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Id of the integration trigger config. The trigger_id is in the format: `integration_connector_trigger/projects/{gcp_project_id}/location/{location}/connections/{connection_name}/subscriptions/{subscription_name}`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "sfdcInstances": {
              "resources": {
                "sfdcChannels": {
                  "methods": {
                    "get": {
                      "description": "Gets an sfdc channel. If the channel doesn't exist, Code.NOT_FOUND exception will be thrown.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "description": "Required. The name that is associated with the SfdcChannel.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.patch",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Field mask specifying the fields in the above SfdcChannel that have been modified and need to be updated."
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "description": "Resource name of the SFDC channel projects/{project}/locations/{location}/sfdcInstances/{sfdc_instance}/sfdcChannels/{sfdc_channel}."
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "description": "Updates an sfdc channel. Updates the sfdc channel in spanner. Returns the sfdc channel."
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name that is associated with the SfdcChannel.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+/sfdcChannels/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes an sfdc channel.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels/{sfdcChannelsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "path": "v1/{+parent}/sfdcChannels",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "readMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query",
                          "description": "The mask which specifies fields that need to be returned in the SfdcChannel's response."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                          "description": "Required. The client, which owns this collection of SfdcChannels.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The size of entries in the response. If unspecified, defaults to 100."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The token returned in the previous response.",
                          "location": "query"
                        }
                      },
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListSfdcChannelsResponse"
                      },
                      "description": "Lists all sfdc channels that match the filter. Restrict to sfdc channels belonging to the current client only.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "id": "integrations.projects.locations.sfdcInstances.sfdcChannels.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/sfdcChannels",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}/sfdcChannels",
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaSfdcChannel"
                      },
                      "description": "Creates an sfdc channel record. Store the sfdc channel in Spanner. Returns the sfdc channel.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                          "description": "Required. \"projects/{project}/locations/{location}\" format.",
                          "required": true
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "description": "Updates an sfdc instance. Updates the sfdc instance in spanner. Returns the sfdc instance.",
                  "id": "integrations.projects.locations.sfdcInstances.patch",
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "Field mask specifying the fields in the above SfdcInstance that have been modified and need to be updated.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                      "description": "Resource name of the SFDC instance projects/{project}/locations/{location}/sfdcInstances/{sfdcInstance}."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an sfdc instance.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.sfdcInstances.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name that is associated with the SfdcInstance.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sfdcInstances",
                  "description": "Creates an sfdc instance record. Store the sfdc instance in Spanner. Returns the sfdc instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/sfdcInstances",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  },
                  "id": "integrations.projects.locations.sfdcInstances.create"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "integrations.projects.locations.sfdcInstances.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sfdcInstances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name that is associated with the SfdcInstance.",
                      "type": "string"
                    }
                  },
                  "description": "Gets an sfdc instance. If the instance doesn't exist, Code.NOT_FOUND exception will be thrown.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sfdcInstances/{sfdcInstancesId}",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaSfdcInstance"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/sfdcInstances",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sfdcInstances",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListSfdcInstancesResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The size of entries in the response. If unspecified, defaults to 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The token returned in the previous response.",
                      "type": "string"
                    },
                    "readMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The mask which specifies fields that need to be returned in the SfdcInstance's response."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The client, which owns this collection of SfdcInstances.",
                      "type": "string"
                    }
                  },
                  "id": "integrations.projects.locations.sfdcInstances.list",
                  "httpMethod": "GET",
                  "description": "Lists all sfdc instances that match the filter. Restrict to sfdc instances belonging to the current client only."
                }
              }
            },
            "appsScriptProjects": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/appsScriptProjects",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project that the executed integration belongs to.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCreateAppsScriptProjectResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/appsScriptProjects",
                  "id": "integrations.projects.locations.appsScriptProjects.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an Apps Script project."
                },
                "link": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/appsScriptProjects:link",
                  "id": "integrations.projects.locations.appsScriptProjects.link",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaLinkAppsScriptProjectResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The project that the executed integration belongs to."
                    }
                  },
                  "path": "v1/{+parent}/appsScriptProjects:link",
                  "description": "Links a existing Apps Script project.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "certificates": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/certificates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.certificates.list",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListCertificatesResponse"
                  },
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The client, which owns this collection of Certificates.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The mask which specifies fields that need to be returned in the Certificate's response.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The size of entries in the response. If unspecified, defaults to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The token returned in the previous response.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all the certificates that match the filter. Restrict to certificate of current client only.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates"
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Field mask specifying the fields in the above Certificate that have been modified and need to be updated.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "description": "Output only. Auto generated primary key"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the certificate by id. If new certificate file is updated, it will register with the trawler service, re-encrypt with cloud KMS and update the Spanner record. Other fields will directly update the Spanner record. Returns the Certificate.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "id": "integrations.projects.locations.certificates.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name that is associated with the Certificate."
                    }
                  },
                  "id": "integrations.projects.locations.certificates.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Delete a certificate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates a new certificate. The certificate will be registered to the trawler service and will be encrypted using cloud KMS and stored in Spanner Returns the certificate.",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "integrations.projects.locations.certificates.create",
                  "path": "v1/{+parent}/certificates",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates",
                  "httpMethod": "POST"
                },
                "get": {
                  "description": "Get a certificates in the specified project.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaCertificate"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The certificate to retrieve. Format: projects/{project}/locations/{location}/certificates/{certificate}",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificates/[^/]+$"
                    }
                  },
                  "id": "integrations.projects.locations.certificates.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/certificates/{certificatesId}"
                }
              }
            },
            "authConfigs": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name that is associated with the AuthConfig.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a complete auth config. If the auth config doesn't exist, Code.NOT_FOUND exception will be thrown. Returns the decrypted auth config.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "id": "integrations.projects.locations.authConfigs.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "description": "Updates an auth config. If credential is updated, fetch the encrypted auth config from Spanner, decrypt with Cloud KMS key, update the credential fields, re-encrypt with Cloud KMS key and update the Spanner record. For other fields, directly update the Spanner record. Returns the encrypted auth config.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Field mask specifying the fields in the above AuthConfig that have been modified and need to be updated.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "clientCertificate.encryptedPrivateKey": {
                      "location": "query",
                      "type": "string",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Resource name of the auth config. For more information, see Manage authentication profiles. projects/{project}/locations/{location}/authConfigs/{authConfig}.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$"
                    },
                    "clientCertificate.sslCertificate": {
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "type": "string",
                      "location": "query"
                    },
                    "clientCertificate.passphrase": {
                      "location": "query",
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "id": "integrations.projects.locations.authConfigs.patch"
                },
                "create": {
                  "path": "v1/{+parent}/authConfigs",
                  "request": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "httpMethod": "POST",
                  "id": "integrations.projects.locations.authConfigs.create",
                  "description": "Creates an auth config record. Fetch corresponding credentials for specific auth types, e.g. access token for OAuth 2.0, JWT token for JWT. Encrypt the auth config with Cloud KMS and store the encrypted credentials in Spanner. Returns the encrypted auth config.",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaAuthConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. \"projects/{project}/locations/{location}\" format.",
                      "location": "path",
                      "required": true
                    },
                    "clientCertificate.passphrase": {
                      "description": "'passphrase' should be left unset if private key is not encrypted. Note that 'passphrase' is not the password for web server, but an extra layer of security to protected private key.",
                      "type": "string",
                      "location": "query"
                    },
                    "clientCertificate.encryptedPrivateKey": {
                      "type": "string",
                      "location": "query",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----"
                    },
                    "clientCertificate.sslCertificate": {
                      "location": "query",
                      "description": "The ssl certificate encoded in PEM format. This string must include the begin header and end footer lines. For example, -----BEGIN CERTIFICATE----- MIICTTCCAbagAwIBAgIJAPT0tSKNxan/MA0GCSqGSIb3DQEBCwUAMCoxFzAVBgNV BAoTDkdvb2dsZSBURVNUSU5HMQ8wDQYDVQQDEwZ0ZXN0Q0EwHhcNMTUwMTAxMDAw MDAwWhcNMjUwMTAxMDAwMDAwWjAuMRcwFQYDVQQKEw5Hb29nbGUgVEVTVElORzET MBEGA1UEAwwKam9lQGJhbmFuYTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA vDYFgMgxi5W488d9J7UpCInl0NXmZQpJDEHE4hvkaRlH7pnC71H0DLt0/3zATRP1 JzY2+eqBmbGl4/sgZKYv8UrLnNyQNUTsNx1iZAfPUflf5FwgVsai8BM0pUciq1NB xD429VFcrGZNucvFLh72RuRFIKH8WUpiK/iZNFkWhZ0CAwEAAaN3MHUwDgYDVR0P AQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNVHRMB Af8EAjAAMBkGA1UdDgQSBBCVgnFBCWgL/iwCqnGrhTPQMBsGA1UdIwQUMBKAEKey Um2o4k2WiEVA0ldQvNYwDQYJKoZIhvcNAQELBQADgYEAYK986R4E3L1v+Q6esBtW JrUwA9UmJRSQr0N5w3o9XzarU37/bkjOP0Fw0k/A6Vv1n3vlciYfBFaBIam1qRHr 5dMsYf4CZS6w50r7hyzqyrwDoyNxkLnd2PdcHT/sym1QmflsjEs7pejtnohO6N2H wQW6M0H7Zt8claGRla4fKkg= -----END CERTIFICATE-----",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "integrations.projects.locations.authConfigs.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs/{authConfigsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name that is associated with the AuthConfig.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/authConfigs/[^/]+$"
                    }
                  },
                  "description": "Deletes an auth config.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListAuthConfigsResponse"
                  },
                  "id": "integrations.projects.locations.authConfigs.list",
                  "parameters": {
                    "pageToken": {
                      "description": "The token returned in the previous response.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The size of entries in the response. If unspecified, defaults to 100."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The client, which owns this collection of AuthConfigs.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filtering as supported in https://developers.google.com/authorized-buyers/apis/guides/list-filters.",
                      "type": "string"
                    },
                    "readMask": {
                      "type": "string",
                      "description": "The mask which specifies fields that need to be returned in the AuthConfig's response.",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/authConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authConfigs",
                  "description": "Lists all auth configs that match the filter. Restrict to auth configs belong to the current client only.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "connections": {
              "resources": {
                "runtimeActionSchemas": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeActionSchemas",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Page token."
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$",
                          "description": "Required. Parent resource of RuntimeActionSchema. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Page size.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter. Only the action field with literal equality operator is supported."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListRuntimeActionSchemasResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists the JSON schemas for the inputs and outputs of actions, filtered by action name.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "integrations.projects.locations.connections.runtimeActionSchemas.list",
                      "path": "v1/{+parent}/runtimeActionSchemas"
                    }
                  }
                },
                "runtimeEntitySchemas": {
                  "methods": {
                    "list": {
                      "id": "integrations.projects.locations.connections.runtimeEntitySchemas.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/runtimeEntitySchemas",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Page size.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filter. Only the entity field with literal equality operator is supported."
                        },
                        "parent": {
                          "description": "Required. Parent resource of RuntimeEntitySchema. Format: projects/{project}/locations/{location}/connections/{connection}",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudIntegrationsV1alphaListRuntimeEntitySchemasResponse"
                      },
                      "description": "Lists the JSON schemas for the properties of runtime entities, filtered by entity name.",
                      "path": "v1/{+parent}/runtimeEntitySchemas"
                    }
                  }
                }
              },
              "methods": {
                "getConnectionSchemaMetadata": {
                  "parameters": {
                    "name": {
                      "description": "Required. ConnectionSchemaMetadata name. Format: projects/{project}/locations/{location}/connections/{connection}/connectionSchemaMetadata",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/connections/[^/]+/connectionSchemaMetadata$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists the available entities and actions associated with a Connection.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/connections/{connectionsId}/connectionSchemaMetadata",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaConnectionSchemaMetadata"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "integrations.projects.locations.connections.getConnectionSchemaMetadata"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudIntegrationsV1alphaListConnectionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/connections",
                  "id": "integrations.projects.locations.connections.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "Filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Order by parameters."
                    },
                    "parent": {
                      "description": "Required. Parent resource of the Connection, of the form: `projects/*/locations/*`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token.",
                      "location": "query"
                    }
[...]
